﻿@model SBL.eLegistrator.HouseController.Web.Areas.Reporters.Models.ReportersModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

     <script src="~/Scripts/jquery-ui-1.8.24.js"></script> 
     <script type="text/javascript" src="/Scripts/jquery-1.7.min.js"></script>
     <script src="~/Scripts/canvasloader-min.js"></script>
        <script src="~/assets/js/uncompressed/jquery.js"></script>
    <script src="/assets/js/jquery.maskedinput.min.js"></script>

        <script src="~/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="~/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
<!-- #section:basics/sidebar -->
<div id="sidebar" class="sidebar responsive">
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>
    @Html.HiddenFor(m => m.AssemblyID)
    @Html.HiddenFor(m => m.SessionCode)

      <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div id="sidebar-shortcuts-large" class="sidebar-shortcuts-large">

         @*   <a title="Help" data-rel="tooltip" class="btn btn-danger" href="~/HelpFiles/UserManualforDeparment.pdf" target="_blank">
                <i class="ace-icon fa fa-info-circle"></i>
            </a>*@


           @*class="btn btn-warning  ace-icon fa fa-users*@

            <button title="LogOut" data-placement="bottom" data-rel="tooltip" class="btn btn-danger" onclick="javascript:document.getElementById('logoutForm').submit()">
                <i class="ace-icon fa fa-users"></i>           

            </button>

            <button class="btn btn-info" id="sizeUp" title="Increase fontsize" data-placement="bottom" data-rel="tooltip">
                <b>@Resources.PaperLaidDepartment.A<sup>+</sup> </b>
            </button>

            <!-- #section:basics/sidebar.layout.shortcuts -->
            <button class="btn btn-warning" id="sizeDown" title="Decrease fontsize" data-placement="bottom" data-rel="tooltip">
                <b>@Resources.PaperLaidDepartment.A<sup>-</sup> </b>
            </button>

            <!--<button class="btn btn-danger">-->
            @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.LanguageID == "7C4F28F6-02FC-4627-993D-E255037531AD")
            {
                <button id="btnHindi" title="Change language" data-placement="right" data-rel="tooltip" class="btn btn-success" onclick="ChangeLangaugeHindi();">
                   @Resources.PaperLaidDepartment.Hindi                            <!--<i class="ace-icon fa fa-cogs"></i>-->
            </button>
            }
            else
            {
                  <button id="btnEnglish" style="width:70px" title="Change language" data-placement="right" data-rel="tooltip" class="btn btn-success" onclick="ChangeLangaugeEnglish();">
                    @Resources.PaperLaidDepartment.English                          <!--<i class="ace-icon fa fa-cogs"></i>-->
            </button>
            }
          
            <!-- /section:basics/sidebar.layout.shortcuts -->


            <!-- /section:basics/sidebar.layout.shortcuts -->
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div>

  @*  <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success" onclick="GetSearchOptions()">
                <i class="ace-icon fa fa-signal"></i>
            </button>

            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>

            <!-- #section:basics/sidebar.layout.shortcuts -->
            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>

            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>

            <!-- /section:basics/sidebar.layout.shortcuts -->
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div>*@


    <!-- /.sidebar-shortcuts -->


    <ul class="nav nav-list">


        <li class="active">
            <a href="#">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text">@Resources.PaperLaidDepartment.Dashboard </span>
            </a>

            <b class="arrow"></b>
        </li>
       @* <br />

          <li >
                   <i class='menu-icon fa fa-bookmark' style="margin-left: 16px; font-size:large">@Html.ActionLink(@Resources.Reporters.profile, "GetMemberDetails","UserRegistration", new {  Area = "UserRegistration"},null)</i>
                    <b class="arrow fa fa-angle-down"></b>
                </li>
         <br />
                 <li>

                   <i class='menu-icon fa fa-bookmark' style="margin-left: 16px;font-size:large"> @Html.ActionLink(@Resources.Reporters.ChangePassword, "ChangePassword","UserRegistration", new {  Area = "UserRegistration"},null)</i>
                    <b class="arrow fa fa-angle-down"></b>
                </li>*@

        <li class="" >
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text">LEGISLATIVE ASSEMBLY 
                        <span class="badge badge-success tooltip-error" title="@Model.ListmAssembly.Count Assemblies">@Model.ListmAssembly.Count</span>
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                @if (Model.ListmAssembly != null)
                {
                    foreach (var item in Model.ListmAssembly)
                    {
               
                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-caret-right"></i>
                            <span class="menu-text">@item.AssemblyName
                                <span class="badge badge-success tooltip-error" title="@item.ListmSession.Count Sessions">@item.ListmSession.Count</span>
                            </span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            @foreach (var session in item.ListmSession)
                            {

            
                                <li class="">
                                    <a href="#" onclick="GetSessionCalendar('@session.SessionCode','@session.AssemblyID')">
                                        <i class="menu-icon fa fa-caret-right"></i>
                                        @session.SessionName
                                    </a>

                                    <b class="arrow"></b>
                                </li>                
           
                
                            }
                        </ul>

                    </li> 
                
                    }
                }
            </ul>
        </li>

    </ul>

  

    <!-- /.nav-list -->

    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <!-- /section:basics/sidebar.layout.minimize -->
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
    </script>
</div>


<!-- /section:basics/sidebar -->
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->

    <div id="breadcrumbs" class="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            @*<li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">@Resources.Reporters.Home</a>
            </li>

            <li>
                <a href="#">@Resources.Reporters.LegislativeAssembly</a>
            </li>*@
            <li class="active" style="display: none" id="SessionCal">@Resources.Reporters.SessionCalender</li>
            <li class="active" style="display: none" id="SearchOp">@Resources.Reporters.SearchReports</li>
        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
       @* <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">12<sup>th</sup> Legislative Assembly </span>
            <span class="label label-large label-purple arrowed">5<sup>th</sup> Session (Feb 2014)</span>
        </div>*@
        <!--<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="ace-icon fa fa-search nav-search-icon"></i>
							</span>
						</form>
					</div>-->
        <!-- /.nav-search -->

        <!-- /section:basics/content.searchbox -->
    </div>



    <div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->


        <!-- /section:settings.box -->
        <div class="row">
            <div class="col-xs-12" id="RightSidebar" style="display: none">
                <!-- PAGE CONTENT BEGINS -->
                <div class="tabbable" id="TabDIV" style="display: none">

                    <ul id="myTab" class="nav nav-tabs">
                        <li id="tabcalender" class="active">
                            <a href="#Calender" class="CalenderClass" onclick="GetCalender();" data-toggle="tab">@Resources.Reporters.SessionCalender</a>
                        </li>
                        <li class="hide">
                            <a href="#SearchDIV" onclick="GetSearchOptions();" data-toggle="tab">@Resources.Reporters.Search</a>
                        </li>
                        <li id="tabReports">
                            <a href="#Report" onclick="GetReport();" class="test" data-toggle="tab">@Resources.Reporters.Reports</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane in active" id="Calender">
                        </div>
                         <div class="tab-pane" id="SearchDIV">
                        </div>
                        <div class="tab-pane" id="Report" style=" height: 100%">

                        </div>

                         <div class="tab-pane" id="profile" style=" height: 100%">

                        </div>
                    </div>

                </div>


              @*  <div class="tabbable" id="SearchTabDIV" style="display: none">

                    <ul id="myTab1" class="nav nav-tabs">
                        <li class="active">
                            <a href="#Calender" onclick="GetSearchOptions();" data-toggle="tab">@Resources.Reporters.Search</a>
                        </li>
                        <li>
                            <a href="#Report" class="test" data-toggle="tab">@Resources.Reporters.Reports</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                       
                        <div class="tab-pane" id="Reports" style="overflow: auto; height: 100%">
                        </div>
                    </div>


                </div>*@
                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.page-content -->
</div>
<!-- /.main-content -->


<style>
    .main-content {
	margin-left: 242px;
  min-height: 100%;
  padding: 0;
 }
    .sidebar {
  width: 242px;
  float: left;
  position: static;
  padding-left: 0;
  padding-right: 0;
}
</style>

<script>

   
    function GetCalender() {
     //   alert("GetCalender");
        var AssemblyId = document.getElementById('AssemblyID').value;
        var SessionCode = document.getElementById('SessionCode').value;
        GetSessionCalendar(SessionCode, AssemblyId);
    }

    function GetSessionCalendar(SessionCode, AssemblyId) {
        //alert(SessionCode);
        //  alert("GetSessionCalendar");

        $("#tabcalender").removeClass("active").addClass("active");
        $("#tabReports").removeClass("active").addClass("");
        $("#recordsMessage").hide();      
        

        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();
        document.getElementById('AssemblyID').value = AssemblyId;
        document.getElementById('SessionCode').value = SessionCode;
        $.ajax({
            url: "/Reporters/Reporters/GetSessionCalendar",
            type: 'GET',
            data: {
                SessionCode: SessionCode,
                AssemblyId: AssemblyId
            },
            success: function (data) {

                $("#Calender").html(data);
                document.getElementById("Calender").style.display = "block";
                document.getElementById("Report").style.display = "none";

                document.getElementById("SearchDIV").style.display = "none";

                document.getElementById("RightSidebar").style.display = "block";
                document.getElementById("TabDIV").style.display = "block";
               
                //fc-header-left
                //For the Memu nev.

                document.getElementById("SessionCal").style.display = "block";
                document.getElementById("SessionCal").style.display = "inherit";
               
                document.getElementById("SearchOp").style.display = "none";

                

                cl2.hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    function GetSearchOptions() {

        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();

        $.ajax({
            url: "/Reporters/Reporters/PartialSearchRecords",
            type: 'GET',
            data: {

            },
            success: function (data) {

                $("#SearchDIV").html(data);
                document.getElementById("TabDIV").style.display = "block";
                
                document.getElementById("SearchDIV").style.display = "block";
               
                document.getElementById("Calender").style.display = "none";
                document.getElementById("Report").style.display = "none";

                ///For Menu nev.
                document.getElementById("SessionCal").style.display = "none";
                document.getElementById("SearchOp").style.display = "block";
                document.getElementById("SearchOp").style.display = "inherit";
                document.getElementById("RightSidebar").style.display = "block";
                cl2.hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    function GetReport() {
        document.getElementById("SearchDIV").style.display = "none";
        document.getElementById("Calender").style.display = "none";
        document.getElementById("Report").style.display = "block";
        //document.getElementById("recordsMessage").style.display = "none";
        
    }

</script>


<script type="text/javascript">

    jQuery(function ($) {

        $("#sizeDown").click(function () {
            if ($("body").hasClass('sizeLarge')) {
                $("body").css("font-size", "13px");
                $("body").removeClass('sizeLarge');
            } else {
                $("body").css("font-size", "10px");
                $("body").addClass('sizeSmall');
            }
        });
        $("#sizeUp").click(function () {
            if ($("body").hasClass('sizeSmall')) {
                $("body").css("font-size", "13px");
                $("body").removeClass('sizeSmall');
            } else {
                $("body").css("font-size", "18px");
                $("body").addClass('sizeLarge');
            }
        });
    });

    function ChangeLangaugeEnglish() {

        $.ajax({
            url: "/Home/ChangeCulture",
            type: 'GET',
            data: {
                lang: "7C4F28F6-02FC-4627-993D-E255037531AD",
                langCulture: "/"
            },
            success: function (data) {
                if (data) {
                    window.location.href = '@Url.Action("Index", "Reporters", new { Area = "Reporters" })';
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }
    function ChangeLangaugeHindi() {

        $.ajax({
            url: "/Home/ChangeCulture",
            type: 'GET',
            data: {
                lang: "43177cd4-b51d-497a-a3bc-e81f23b07450",
                langCulture: "/"
            },
            success: function (data) {
                if (data) {
                    window.location.href = '@Url.Action("Index", "Reporters", new { Area = "Reporters" })';
                 } else { alert("error"); }
             },
             error: function (xhr, ajaxOptions, thrownError) {
                 alert(xhr.status);
                 alert(thrownError);
             }
         });
    }


         </script>