﻿@model SBL.eLegistrator.HouseController.Web.Areas.Reporters.Models.LOBModel
@if(Model.outXml!=null && Model.outXml!="")
{
<div style="float:right;padding:5px;font-size:16px;"> @Html.ActionLink(@Resources.Reporters.DownLoadAll, "DownloadZipStarredQuestions", "Reporters", new { SessionDate =  Convert.ToDateTime(Model.sessDate).ToString("dd/MM/yyyy") }, new { target = "_blank" })
    </div>
@Html.Raw(Model.outXml)
}
else
{
    <div class="alert alert-danger" id="recordsMessage">
        No Records Found For This Session Date.										
    </div>
}
