﻿@model IEnumerable<SBL.DomainModel.Models.salaryhead.salaryBillInfo>
@{int count = 0;
  int k = 0;}
<div class="pass-table">

	<div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">

		<table class="table table-striped table-bordered table-hover dataTable leftaligntable" id="sample-table-2" aria-describedby="sample-table-2_info">
			<thead>
				<tr role="row">

					<th class=" sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">#</th>
					<th class=" sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">
						<label class="position-relative">
							<input type="checkbox" id="checkBoxAll" onchange="checkAll(this)" class="ace" />
							<span class="lbl"></span>
						</label>
					</th>
					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Name</th>
					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 2%;">Designation</th>
					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Total Allowances</th>
					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Total Deductions</th>
					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Net Payble</th>
					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Remark</th>

					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Status</th>
					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Action</th>
				</tr>
			</thead>

			<tbody role="alert" aria-live="polite" aria-relevant="all">
				@if (Model != null)
				{
					foreach (var item in Model)
					{

						count = count + 1;
						string style = (count % 2 == 0) ? "odd" : "even";

						//  var trID = item.SystemModuleID;
						var ID = item.AutoID;

					<tr class="@style" id="@ID">
						<!-- <tr class="" id="" onclick="">-->
						<td class="">@count</td>
						<td class="">
							<label class="position-relative">

								<input type="checkbox" name="[@k].checkStatus" id="[@k].checkStatus"  class="ace checkstatus"   value="true" />

								<span class="lbl"></span>
							</label>
							<input type="hidden" name="[@k].status" value="@item.status" />
							<input type="hidden" name="[@k].generateStatus" value="@item.generateStatus" />
							<input type="hidden" name="[@k].AutoID" value="@item.AutoID" />
							@{k++;}
						</td>
						<td class="">
							<i class="">@item.memberName</i>
						</td>
						<td class="">
							<i class="">@item.Designation</i>
						</td>
						<td class="">
							<i class="">Rs. @item.totalAllowances.00</i>
						</td>
						<td class="">
							<i class="">Rs. @item.totalDeductions.00</i>
						</td>
						<td class="">
							<i class="">Rs. @item.netSalary.00</i>
						</td>
						<td class="">

							<ul class="nav ace-nav">
								<li id="transparent_@ID"  class="transparent" style="line-height: 21px; height: 21px;">
									<a data-toggle="dropdown" class="dropdown-toggle" href="#" style="width: 100%; padding: 0;">
										<i class="ace-icon fa fa-envelope icon-animated-vertical blue"></i>
										<span class="badge badge-success remarkCount_@ID" style="top: -2px !important;">0</span>
									</a>

									<ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
										<li class="dropdown-header">
											<i class="ace-icon fa fa-envelope-o"></i>
											<span class="remarkCount_@ID"></span>Remark
										</li>

										<li class="dropdown-content" id="remarkUL_@ID">
											<input type="hidden" name="viewRemark" id="viewRemark_@ID" value="@item.viewRemark" />
											<ul class="dropdown-menu dropdown-navbar" id="reverse">

												@if (item.viewRemark != "")
												{

													<script>
														try {
															var data = $("#viewRemark_@ID").val();
															var RemarkList = data.split("@@");
															var count = 0;
															for (var i = 0; i < RemarkList.length; i++) {
																if (RemarkList[i] != '') {
																	count++;
																	var text = RemarkList[i].split("**");
																	$("#remarkUL_" + @ID + " ul").append('<li><a href=\"#\"><img src=\"../../../assets/avatars/avatar2.png\" class=\"msg-photo\" /><span class=\"msg-body\"><span class=\"msg-title\" ><span class=\"blue\" >' + text[0] + '</span>' + text[1] + '</span><span class=\"msg-time\"><i class=\"ace-ico nfa fa-clock-o\"></i><span>' + text[2] + '</span></span></span></a></li>');
																}
															}
															$(".remarkCount_" + @ID + "").html('');
															$(".remarkCount_" + @ID + "").html(count);
															$('#reverse').append(function () {
																return $(this).children().get().reverse()
															});
														}
														catch (error)
														{ }
													</script>
												}
											</ul>
										</li>

										<li class="dropdown-footer">
											<a href="javascript:void(0)" class="newRemark" id="@ID">New Remark
										<i class="ace-icon fa fa-arrow-right"></i>
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</td>
						<td class="">
							<i class="">

								@if (item.status == 0)
								{
									<span class="badge badge-purple">Request For Approval</span>
								}
								else
								{
									if (item.status == 2)
									{
									<span class="badge badge-warning">Rejected</span>
									}
									else
									{
									<span class="badge badge-success">Approved</span>
									}
								}
							</i>
						</td>

						<td>
							<div class="hidden-sm hidden-xs action-buttons">
								@if (item.status == 1)
								{
									string buttonText=string.Empty;
									
										<button type="button" class="btn btn-minier btn-info"  id="@item.AutoID" onclick="generatePDF(this.id,true)">
										<i class="ace-icon fa fa-cloud-download  bigger-110"></i>
										Generate PDF
									</button>
									
									

								}
								else
								{

									<button type="button" class="btn btn-minier btn-success" disabled id="@item.AutoID">
									<i class="ace-icon fa fa-pencil-square-o bigger-110"></i>
										Generate PDF
									</button>
								}
							</div>
						</td>
					</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>

<script>
	$(document).ready(function () {
		tableinit();
	});
	function tableinit() {
		var oTable1 =
		 $('#sample-table-2')
		 .dataTable({
			 "bDestroy": true,
			 bAutoWidth: true,
			 "aoColumns": [
				{ "bSortable": false },
			   null, null, null, null, null, null, null, null,

			   { "bSortable": false }

			 ]
		 });
	}
	$(".checkstatus").click(function (obj) {

		if ($(obj.target.id).checked) {
			$(obj.target.id).val('true');
		}
		else {
			$(obj.target.id).val('false');
		}
	});
	function checkAll(ele) {
		var checkboxes = document.getElementsByTagName('input');
		if (ele.checked) {
			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = true;
				}
			}
		} else {
			for (var i = 0; i < checkboxes.length; i++) {
				console.log(i)
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = false;
				}
			}
		}
	}
	function saveRemark(remark, autoID) {
		var pathurl = "@Url.Action("saveBillRemark", "salaryBills")";
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
				remark: remark, autoID: autoID

			},
			success: function (data) {
				try {

					var RemarkList = data.split("@@");
					$("#remarkUL_" + autoID + " ul").empty();
					var count = 0;
					for (var i = 0; i < RemarkList.length; i++) {
						try {
							if (RemarkList[i] != '') {
								count++;

								if (RemarkList[i] != '') {
									var text = RemarkList[i].split("**");
									$("#remarkUL_" + autoID + " ul").append('<li><a href=\"#\"><img src=\"../../../assets/avatars/avatar2.png\" class=\"msg-photo\" /><span class=\"msg-body\"><span class=\"msg-title\" ><span class=\"blue\" >' + text[0] + ' </span>' + text[1] + '</span><span class=\"msg-time\"><i class=\"ace-ico nfa fa-clock-o\"></i><span>' + text[2] + '</span></span></span></a></li>');
								}

							}
						}
						catch (error) {
							alert(count + ' ' + error);
						}
					}
					$(".remarkCount_" + autoID + "").html('');
					$(".remarkCount_" + autoID + "").html(count);
					$('#reverse').append(function () {
						return $(this).children().get().reverse()
					});
					$("#transparent_" + autoID + "").addClass("transparent open");
				} catch (error) {
					alert(error.message);
				}
				//	getList(4, 'All');

			}
		});
	}
	$(".newRemark").on(ace.click_event, function (event) {

		bootbox.prompt("Enter New Remark", function (result) {
			if (result === null) {

			} else {
				saveRemark(result, event.target.id);
			}
		});
	});
	function generatePDF(id,pdf) {
		$("#loader-wrapper").show();
		var pathurl = "@Url.Action("generatePdfByAutoID", "salaryBills")";
			$.ajax({
				url: pathurl,
				type: 'GET',
				data: {
					id: id,pdf:pdf

				},
				success: function (data) {
					$("#loader-wrapper").hide();
					$("#PDFconfirmation").modal({                    // wire up the actual modal functionality and show the dialog
						"backdrop": "static",
						"keyboard": true,
						"show": true                     // ensure the modal is shown immediately
					});
					$("#filepath").attr("href", data);
					$("#returnAutoID").val(id);

				}
			});

		}
</script>