﻿@model SBL.DomainModel.ComplexModel.DocumentIssueViewModel
<link href="~/assets/css/datepicker.css" rel="stylesheet" />

<style>
    .chosen-container {
        /*width:auto!important;*/
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        zoom: 1;
    }

    .chosen-select {
        display: inline !important;
        visibility: hidden;
        opacity: 1;
        position: absolute;
        z-index: -1;
        width: 0!important;
        height: 0!important;
        border-width: 0;
    }
</style>

<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "IssueDocument")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("ReturnDocumentDashBoard", "IssueDocument")">Return Document</a>
            </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>Returned Document
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Select Subscriber to see list of unReturnded Documents
                </small>
            </h1>
        </div>
        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">Return Documents</h4>
                <div class="widget-toolbar">
                    <label>
                        <input name="form-field-radio" type="radio" class="ace" checked="checked" value="member" onclick="MemberClick();" id="rblMember" />
                        <span class="lbl">Member</span>
                    </label>
                    <label>
                        <input name="form-field-radio" type="radio" class="ace" value="staff" onclick="StaffClick();" id="rblStaff" />
                        <span class="lbl">Staff</span>
                    </label>
                </div>
            </div>
            <div class="widget-body">
                @using (Ajax.BeginForm("SaveReturnDocumentIssue", "IssueDocument", FormMethod.Post, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "OnSuccess(data)", LoadingElementId = "loader-wrapper" }, new { @class = "form-horizontal", @role = "form", id = "IssueDocument" }))
                {
                    <input type="hidden" value="0" id="isMemberOrStaff" name="isMemberOrStaff" />
                    <div class="widget-main">
                        <div class="row">
                        <div class="col-xl-6">
                            <div class="form-horizontal">
                                <div class="space-4"></div>
                                <div class="form-group" style="margin-Left: 10PX;">
                                    <label class="col-sm-3 control-label no-padding-right chosen-select" for="Members">
                                        Subscriber
                                    </label>
                                    <div class="col-sm-9">
                                        @if (Model.MemberCol != null)
                                        {
                                            @Html.DropDownListFor(m => m.SubscriberId,
                                        new SelectList(Model.MemberCol, "MemberCode", "Name"), "Choose A Member",
                                        new { @class = "col-xs-10 col-sm-5 chosen-select", @id = "SubscriberId", @onchange = "GetDocs(this.value);" })
                                        }
                                        else
                                        {                        
                                            @Html.DropDownListFor(m => m.SubscriberId,
                                        new SelectList(Model.mStaffMembers, "StaffID", "StaffName"), "Choose Staff",
                                        new { @class = "col-xs-10 col-sm-5", @id = "SubscriberId", @onchange = "GetDocs(this.value);" })
                                        }
                                    </div>
                                </div>
                                <div class="space-4"></div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div id="DisplayDocument"></div>
                        </div>
                        <div class="col-xl-6">
                            <button class="btn btn-sm btn-primary" id="SaveRecord" type="submit" onclick="return SaveRecordData();" style="display: none; float: right; margin-top: 10px;">
                                <i class="ace-icon fa fa-save"></i>
                                Save Record
                            </button>
                        </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<br>
<br>
<link rel="stylesheet" href="~/assets/css/chosen.css" />
<script src="~/assets/js/CommonNotify.js"></script>
<script src="~/assets/js/chosen.jquery.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/jquery.print.js"></script>

<script type="text/javascript">

    function SaveRecordData() {

        return checkItems();
        var IssueID = document.getElementById("SelectedIndexID").value;
        //condition to check if some checkbox is checked or not
        if (checkItems() == true) {
            return true;
        }
        else {
            return false;
        }
    }

    function MemberClick() {
        $("#DisplayDocument").empty();//to hide grid if previouly displayed
        $("#SaveRecord").css("display", "none");//to hide button after new click
        $("#isMemberOrStaff").val(0);
        try {

            $.ajax({
                url: "/Library/IssueDocument/ListOfSubscriberWithUnReturnedDocs",
                type: 'GET',
                data: {
                    type: 1
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $("#loader-wrapper").show();
                },
                success: function (data) {
                    $("#loader-wrapper").hide();
                    if (data != null) {

                        var memberCol = data["MemberCol"];

                        if (memberCol.length > 0) {
                            var selectOpt = '';
                            $.each(memberCol, function (e, index) {
                                selectOpt += '<option value="' + memberCol[e]["MemberCode"] + '">' +
                                memberCol[e]["Name"] + '</option>';
                            });
                            $("#SubscriberId").html(selectOpt);
                            $("#SubscriberId").prepend("<option value='select'>Choose A Member</option>").val('select');

                        }
                        else {
                            var selectOpt = '<option value="">Choose Member</option>';
                            $("#SubscriberId").html(selectOpt);
                        }
                    }
                    $('.chosen-select').trigger("chosen:updated");
                }
            });

        } catch (e) {
        }
    }

    function StaffClick() {
        $("#DisplayDocument").empty();//to hide grid if previouly displayed
        $("#SaveRecord").css("display", "none");//to hide button after new click
        $("#isMemberOrStaff").val(1);
        try {

            $.ajax({
                url: "/Library/IssueDocument/ListOfSubscriberWithUnReturnedDocs",
                type: 'GET',
                data: {
                    type: 2
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $("#loader-wrapper").show();
                },
                success: function (data) {
                    $("#loader-wrapper").hide();
                    if (data != null) {

                        var memberCol = data["mStaffMembers"];

                        if (memberCol.length > 0) {
                            var selectOpt = '';
                            $.each(memberCol, function (e, index) {
                                selectOpt += '<option value="' + memberCol[e]["StaffID"] + '">' +
                                memberCol[e]["StaffName"] + '</option>';
                            });
                            $("#SubscriberId").html(selectOpt);
                            $("#SubscriberId").prepend("<option value='select'>Choose A Staff</option>").val('select');
                        }
                        else {
                            var selectOpt = '<option value="">Choose Staff</option>';
                            $("#SubscriberId").html(selectOpt);
                        }
                    }
                    $('.chosen-select').trigger("chosen:updated");
                }
            });

        } catch (e) {
            alert(e.message);
        }
    }

    $(document).ready(function () {
        $("#dateAndYearForIssue").mask('99/99/9999');
        $(".dateAndYearForIssue").mask('99/99/9999');//class not working

        try {

            $('#SubscriberId').chosen({ allow_single_deselect: true });
            //resize the chosen on window resize
            //$(window).on('resize.chosen', function () {
               // var w = $('#SubscriberId').parent().width();
               // $('#SubscriberId').next().css({ 'width': '300px' });
           // }).trigger('resize.chosen');

        } catch (ex) {
            alert("here");
            var dlg = bootbox.alert(ex.message, function (e) {

                $(dlg).modal('hide');
            });
        }
    });

    function GetDocs(SubId) {

        try {
            if ($('#rblMember').is(':checked')) {
                var type = 1;
            } else {
                var type = 2;
            }
            $.ajax({
                url: "/Library/IssueDocument/GetUnReturnedDocsOfSubscribers",
                type: 'GET',
                data: {
                    SubId: SubId,
                    type: type
                },
                //contentType: "application/json; charset=utf-8",
                //dataType: "json",
                beforeSend: function () {
                    $("#loader-wrapper").show();
                },
                success: function (data) {

                    if (data != null) {
                        $("#DisplayDocument").empty();
                        $("#DisplayDocument").html(data);
                        $("#loader-wrapper").hide();
                        $("#SaveRecord").css("display", "block");
                    }
                    else {
                        ShowNotification("error", "No Data Found");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $("#loader-wrapper").hide();
                    var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                        $(dlg).modal('hide');
                    });
                }
            });

        } catch (ex) {

            var dlg = bootbox.alert(ex.message, function (e) {

                $(dlg).modal('hide');
            });
        }
    }

    function OnSuccess(data) {
        if (data == "error") {
            ShowNotification("error", "There was some error,Pls try again");
        }
        if (data == "cH_error") {
            ShowNotification("error", "Please Check some document first");
        }
        if (data == "saved") {
            ShowNotification("success", "Document is Returned.....Data saved");
            if ($('#rblMember').is(':checked')) {
                MemberClick();//to reload the dropdown
            } else {
                StaffClick();//to reload the dropdown
            }
        }
        if (data == "modelerror") {
            ShowNotification("error", "Please enter required fields");
        }
    }

</script>

<script>
    $(document).ready(function () {
        $("#searchcriteria1_chosen").css("width", "auto!important");
        $("#searchcriteria1_chosen").removeAttr('style');
        $(".chosen-container").removeAttr('style');
        $(".chosen-container").addClass('col-xs-10 col-sm-5');
        $("#sample-table-2_wrapper").css("overflow", "scroll");

    });

</script>
