﻿<div id="sidebar" class="sidebar responsive">
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>
    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>
            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>
            <!-- #section:basics/sidebar.layout.shortcuts -->
            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>
            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>
            <!-- /section:basics/sidebar.layout.shortcuts -->
        </div>
        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>
            <span class="btn btn-info"></span>
            <span class="btn btn-warning"></span>
            <span class="btn btn-danger"></span>
        </div>
    </div>
    <!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list" style="top: 0px;">
        <li class="">
            <a href="#">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text">My Dashboard </span>
            </a>

            <b class="arrow"></b>
        </li>
        <li class="" id="PaidMember">
            <a href="@Url.Action("Index", "PaidMemeberSubs")" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark" id="PaidMemberLinkId"></i>
                <span class="menu-text">Paid Memeber Subs</span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu" id="PaidMemberSub">

                <li class="hsub" id="PaidMemberIndex">
                    <a href="@Url.Action("Index", "PaidMemeberSubs")">
                        <i class="menu-icon fa fa-bookmark"></i>
                        <span class="menu-text">Paid Memeber Subs</span>
                        <b class="arrow fa fa-angle-right"></b>
                    </a>
                    <b class="arrow"></b>

                </li>
                <li class="hsub" id="PaidMemberReport">
                    <a href="@Url.Action("SubscriptionReport", "PaidMemeberSubs")">
                        <i class="menu-icon fa fa-bookmark"></i>
                        <span class="menu-text">Paid Member Subs Report </span>

                        <b class="arrow fa fa-angle-right"></b>
                    </a>
                    <b class="arrow"></b>

                </li>

            </ul>
            <!-- /.nav-list -->
        </li>




        <li class="" id="Library">
            <a href="@Url.Action("Index", "CommitteeReport")" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark" id="LibraryLinkId"></i>
                <span class="menu-text">Library Information</span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu" id="LibrarySub">

                <li class="hsub" id="CommitteeReportIndex">
                    <a href="@Url.Action("Index", "CommitteeReport")">
                        <i class="menu-icon fa fa-bookmark"></i>
                        <span class="menu-text">Committee Report</span>
                        <b class="arrow fa fa-angle-right"></b>
                    </a>
                    <b class="arrow"></b>

                </li>
                <li class="hsub" id="PaperLaidIndex">
                    <a href="@Url.Action("Index", "PaperLaid")">
                        <i class="menu-icon fa fa-bookmark"></i>
                        <span class="menu-text">Paper Laid </span>

                        <b class="arrow fa fa-angle-right"></b>
                    </a>
                    <b class="arrow"></b>

                </li>
                <li class="hsub" id="FloorVersionIndex">
                    <a href="@Url.Action("Index", "FloorVersion")">
                        <i class="menu-icon fa fa-bookmark"></i>
                        <span class="menu-text">Floor Version </span>

                        <b class="arrow fa fa-angle-right"></b>
                    </a>
                    <b class="arrow"></b>

                </li>
                <li class="hsub" id="WhoiswhoIndex">
                    <a href="@Url.Action("Index", "Whoiswho")">
                        <i class="menu-icon fa fa-bookmark"></i>
                        <span class="menu-text">Who's Who </span>

                        <b class="arrow fa fa-angle-right"></b>
                    </a>
                    <b class="arrow"></b>

                </li>

            </ul>
            <!-- /.nav-list -->
        </li>








        <li class="" id="PressClipping">
            <a href="@Url.Action("Index", "PressClipping")" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark" id="PressClippingLinkId"></i>
                <span class="menu-text">Press Clipping</span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu" id="PressClippingSub">

                <li class="hsub" id="PressClippingIndex">
                    <a href="@Url.Action("Index", "PressClipping")">
                        <i class="menu-icon fa fa-bookmark"></i>
                        <span class="menu-text">Press Clipping</span>
                        <b class="arrow fa fa-angle-right"></b>
                    </a>
                    <b class="arrow"></b>

                </li>
                <li class="hsub" id="PCSetAvailability">
                    <a href="@Url.Action("SetAvailability", "PressClipping")">
                        <i class="menu-icon fa fa-bookmark"></i>
                        <span class="menu-text">Set Availability </span>

                        <b class="arrow fa fa-angle-right"></b>
                    </a>
                    <b class="arrow"></b>

                </li>

            </ul>
            <!-- /.nav-list -->
        </li>

        <li class="" id="ItemSubscription">
            <a href="@Url.Action("Index", "ItemSubscription")" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark" id="ItemSubscriptionLinkId"></i>
                <span class="menu-text">Item Subscription</span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu" id="ItemSubscriptionSub">

                <li class="hsub" id="ISIndex">
                    <a href="@Url.Action("Index", "ItemSubscription")">
                        <i class="menu-icon fa fa-bookmark"></i>
                        <span class="menu-text">Item Subscription</span>
                        <b class="arrow fa fa-angle-right"></b>
                    </a>
                    <b class="arrow"></b>

                </li>
                <li class="hsub" id="ISReport">
                    <a href="@Url.Action("ItemSubscriptionReport", "ItemSubscription")">
                        <i class="menu-icon fa fa-bookmark"></i>
                        <span class="menu-text">Item Subscription Report </span>
                        <b class="arrow fa fa-angle-right"></b>
                    </a>
                    <b class="arrow"></b>

                </li>

            </ul>
            <!-- /.nav-list -->
        </li>


        <li class="active hsub">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text">Delivery and Placement 
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="hsub">
                    <a href="@Url.Action("Index", "ItemSubsDelivery")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Add delivery and placement details
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="hsub">
                    <a href="@Url.Action("ItemSubsDeliveryReport", "ItemSubsDelivery")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Search delivery and placement details
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>


        <li class="active hsub">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text">Issue & Return Book
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="hsub">
                    <a href="@Url.Action("Index", "IssueBook")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Issue Book
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="hsub">
                    <a href="@Url.Action("ReturnIssuedBook", "IssueBook")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Return  Book
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="hsub">
                    <a href="@Url.Action("IssueBookReport", "IssueBook")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Issue Return Report for the Books
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
    </ul>

    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <!-- /section:basics/sidebar.layout.minimize -->
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
    </script>

</div>
