﻿@model SBL.eLegistrator.HouseController.Web.Areas.Admin.Models.UploadMetaViewModel
@{
   
    int count = 0;
}
<div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <div class="pass-table table-responsive">
                    @if (Model != null)
                    {
                        if (Model.ReporterDescriptionsLogList.Count > 0)
                        {
                       
                        <table class="table table-striped table-bordered table-hover dataTable" id="tblDebateList" aria-describedby="sample-table-2_info">
                            <thead>
                                <tr role="row">
                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">No</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Assembly Name</th>

                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Session Name</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Session Date</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Question No</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Question Details</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Attachments</th>

                                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""> <span class="lbl">Check All</span><input  type='checkbox' onclick='SelectAllChb(this);'  class='checkedAll'/><a data-rel="tooltip" class="btn btn-minier btn-danger" title="Delete" onclick="DeleteRecords();" id="adelete"  href="#">Delete Selected Records</a></th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">

                                @foreach (var item in Model.ReporterDescriptionsLogList)
                                {
                                    count = count + 1;
                               
                                    <tr>
                                        <td class="center">
                                            @count
                                        </td>

                                        <td>
                                            @item.AssemblyId
                                        </td>
                                        <td>@item.SessionId</td>
                                        <td>@item.LOBDate</td>
                                        <td>@item.Subject</td>


                                        <td>
                                            @item.UserName

                                        </td>
                                          <td>
                                            @item.PdfFilePath

                                        </td>

                                        <td class="center">
                                            <input type="checkbox" class="addclassDeleted" value="@item.Id" />
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        <!-- PAGE CONTENT ENDS -->
                        }
                        else
                        {
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="alert alert-info">

                                    <strong>There are no Records</strong><br />


                                </div>
                            </div>
                        </div>
                        }
                    }

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script>

    $(document).ready(function () {
        $('#tblDebateList').dataTable({
            "aLengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
            "iDisplayLength": 50,
        });

    });
</script>


