﻿@model List<SBL.DomainModel.Models.Question.tQuestionModel>
@{
   
    int count = 0;
}

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="pass-table table-responsive">
            @if (Model != null)
            {
                if (Model.Count() > 0)
                {
                       
                <table class="table table-striped table-bordered table-hover dataTable" id="tblQuestionList" aria-describedby="sample-table-2_info">
                    <thead>
                        <tr role="row">
                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">No</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Question Type</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Question Number</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Diary Number</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Member Name</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Subject</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Main Question</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Department Name</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Minister Name </th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Question Fix Date</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Notice Received Date</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Notice Received Time</th>
                        </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">

                        @foreach (var item in Model)
                        {
                            count = count + 1;
                               
                            <tr>
                                <td class="center">
                                    @count
                                </td>
                                <td>
                                    @item.QuestionType
                                </td>
                                <td>
                                    @item.QuestionNumber
                                </td>
                                <td>@item.DiaryNumber</td>
                                <td>
                                    @item.MemberN
                                </td>
                                <td>
                                    @Html.Raw(item.Subject)
                                </td>
                                <td>
                                    @Html.Raw(item.MainQuestion)
                                </td>
                                <td>
                                    @item.DepartmentN
                                </td>
                                <td>
                                    @item.MinisterName
                                </td>
                                <td>
                                    @item.QuestionFixDate
                                </td>
                                <td>
                                    @item.NoticeReceivedDate
                                </td>
                                <td>
                                    @if (item.NoticeRecievedTime.HasValue)
                                    {
                                        @item.NoticeRecievedTime.Value
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <!-- PAGE CONTENT ENDS -->
                }
                else
                {
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-info">

                            <strong>There are no Records</strong><br />


                        </div>
                    </div>
                </div>
                }
            }

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script>

    $(document).ready(function () {
        $('#tblQuestionList').dataTable({
            "bPaginate": true, "bInfo": true
        });

    });


</script>


