﻿@model SBL.DomainModel.Models.CommitteeReport.tCommitteReplyPendency
@{   
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}


<style>
    .ShowModal {
        top: 10%;
        left: 24%;
        z-index: 1000;
        position: absolute;
        background-color: White;
        display: block;
    }

    .HideModal {
        display: none;
    }

    .OverlayEffect {
        /*background-color: white;*/
        filter: alpha(opacity=40);
        opacity: 0.7;
        width: 100%;
        height: 100%;
        z-index: 400;
        position: absolute;
        top: 0;
        left: 0;
    }
</style>

<link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
<!-- page specific plugin styles -->
<link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="~/assets/css/chosen.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.css" />
<link rel="stylesheet" href="~/assets/css/daterangepicker.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.css" />
<link rel="stylesheet" href="~/assets/css/colorpicker.css" />
@*<script src="~/assets/js/jquery.autosize.min.js"></script>*@
<!-- text fonts -->
<link rel="stylesheet" href="~/assets/css/ace-fonts.css" />

<!-- ace styles -->
<link rel="stylesheet" href="~/assets/css/ace.min.css" />

<!--[if lte IE 9]>
			<link rel="stylesheet" href="~/assets/css/ace-part2.min.css" />
		<![endif]-->
<link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
<link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />
@*<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />*@
<style>
    .roundicon {
        padding: 0px 6px 1px 5px;
        line-height: 19px;
        font-size: 16px;
        border-radius: 100%;
        border: 1px solid;
        background-color: #1BAA4E;
        color: white;
    }
</style>

@Html.Partial("_LeftMenu")


<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "CommitteeItemMaster")">@Resources.MasterDataDashboard.Home</a>
            </li>
            <li class="active">House Committee</li>
            <li class="active">Item Master</li>
        </ul>
        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>
    </div>
    <div id="MainDivData" class="page-content">
    <div class="row">
        <div class="alert alert-block alert-success" id="SuccessDiv" style="display: none;">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            <p>
                <strong>
                    <i class="ace-icon fa fa-check"></i>
                </strong>
            </p>
        </div>

        <div id="outerDiv">
        </div>

        <div class="two-column" id="MainDiveThreeTire">
            <div id="resize-left" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 20px;">
                <div id="divLeftContainer" style="position: absolute; top: 0; height: 20px; width: 100%; display: block;">
                    <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                    <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                        <i onclick="resizeClick(1)" class="ace-icon fa fa-angle-double-left roundicon"></i>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div id="divDataContainer" style="width: 100%;">
                    </div>
                </div>
            </div>
            <div id="resize-right" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 21px;">
                <div id="divRightContainer" style="position: absolute; top: 0; height: 21px; width: 100%; display: block;">
                    <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                    <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                        <i data-icon2="ace-icon fa fa-angle-double-right" onclick="resizeClick(0)" data-icon1="ace-icon fa fa-angle-double-left" class="ace-icon fa fa-angle-double-right roundicon"></i>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>
                    <div id="RightSidebar" style="width: 100%;">
                    </div>
                    <div id="FormPart" style="width: 100%; height: 100%">
                    </div>
                </div>
            </div>
        </div>

        <div id="MainDiveTwoTire" style="display: none">
            <div class="col-xs-12">
                <div id="canvasloader-container3" class="canvasloader" style="text-align: center"></div>
                <div id="divDataContainerTwoTire" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="~/assets/js/jquery-ui.min.js"></script>
@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="~/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="~/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
<script src="~/Scripts/tinymce/tiny_mce.js"></script>
<script src="~/assets/js/chosen.jquery.min.js"></script>
@*<script src="~/assets/js/jquery.dataTables.min.js"></script>*@
@*<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>*@
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/fuelux/fuelux.wizard.min.js"></script>
<script src="~/assets/js/jquery.validate.min.js"></script>
<script src="~/assets/js/additional-methods.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/select2.min.js"></script>
<script src="~/assets/js/ace-extra.min.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>
<script src="~/assets/js/fuelux/fuelux.spinner.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="~/assets/js/date-time/moment.min.js"></script>
<script src="~/assets/js/date-time/daterangepicker.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-datetimepicker.min.js"></script>
<script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
<script src="~/assets/js/jquery.knob.min.js"></script>
<script src="~/assets/js/jquery.autosize.min.js"></script>
<script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
<script src="~/assets/js/bootstrap-tag.min.js"></script>
<script>

    $(document).ready(function () {
        debugger;
        $("#loader-wrapper").show();
        //$('.widget-box').show();
        var urlPath = '@Url.Action("_MainDashBoard", "CommitteeItemMaster", new { Area = "Admin" })';
	    $.ajax({
	        url: urlPath,
	        type: 'GET',
	        data: {},
	        success: function (data) {
	            if (data) {
	                $('#divDataContainer').empty();
	                $('#divDataContainer').html(data);
	                $("#loader-wrapper").hide();
	                $('#resize-left').width('100%');
	                $('#spnScrollPosition').html('1');
	                $('#resize-right').animate({ width: '0%' }, 500);
	                //ChangeBreadCrumbParent("Correspondence", "");
	                //ChangeBreadCrumbChild("eFile", "");
	                $("#MainDiveThreeTire").show();
	            } else { alert("error"); }
	        },
	        error: function (xhr, ajaxOptions, thrownError) {
	            alert(xhr.responseText);
	            alert(thrownError);
	        }
	    });
    });

    $("#sizeDown").click(function () {
        if ($("body").hasClass('sizeLarge')) {
            $("body").css("font-size", "13px");
            $("body").removeClass('sizeLarge');
        } else {
            $("body").css("font-size", "10px");
            $("body").addClass('sizeSmall');
        }
    });

    $("#sizeUp").click(function () {
        if ($("body").hasClass('sizeSmall')) {
            $("body").css("font-size", "13px");
            $("body").removeClass('sizeSmall');
        } else {
            $("body").css("font-size", "18px");
            $("body").addClass('sizeLarge');
        }
    });

    //$('#sidebar-collapse').on('click', function () {
    //    var parentWidth = $('#resize-left').parent().width();
    //    if ($('#sidebar').hasClass('menu-min')) {
    //        parentWidth = parentWidth - 130;
    //    } else { parentWidth = parentWidth + 110; }

    //    var remainingSpace = parentWidth - $('#resize-left').outerWidth();
    //    var divTwo = $('#resize-left').next();
    //    var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
    //    divTwo.css('width', divTwoWidth + 'px');

    //    //alert("ds");
    //    setTimeout(function () {
    //        $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
    //    }, 50);
    //});
    $("#resize-left").resizable({
        handles: 'e',
        minWidth: '400',
        maxWidth: '850',
        /*    grid: [ 20, 10 ], */
        resize: function () {
            var remainingSpace = $(this).parent().width() - $(this).outerWidth();
            var divTwo = $(this).next();
            var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
            divTwo.css('width', (divTwoWidth - 20) + 'px');

            $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
        }

    });

    function hideLeftPanel() {
        $('#resize-left').width(0);
        $('#resize-right').width(100 + '%')

    }

    function hideLeftPanelAnimate() {
        resizeLeftPanel(0);
    }

    function hideRightPanel() {
        $('#resize-left').width(100 + '%');
        $('#resize-right').width(0)
    }

    function hideRightPanelAnimate() {
        resizeLeftPanel(100);
    }

    function resizeClick(isLeft) {
        var parentWidth = $('#resize-left').parent().outerWidth();
        if (isLeft) { // click on left rezise button
            if ($('#resize-left').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
            else { resizeLeftPanel(0); }
        } else {
            if ($('#resize-right').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
            else { resizeLeftPanel(100); }
        }
    }

    function resizeLeftPanel(sizeRatio) {
        var parentWidth = $('#resize-left').parent().width();
        $('#resize-left').animate({ width: +(sizeRatio) + '%' }, 500);
        $('#resize-right').animate({ width: +(100 - sizeRatio) + '%' }, 500);
    }
</script>
