﻿@model   SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.SessionsViewModel
@{
    ViewBag.Title = "CreateSession";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}
@Html.Action("LeftNavigationMenu", "SuperAdmin")

@*@Html.Partial("_LeftNavigationMenu")*@
<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
  @Html.Partial("_BreadcrumbsPartial")
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "Sessions")">@Resources.MasterDataDashboard.Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Sessions")">@Resources.MasterDataDashboard.SessionDetails</a>
            </li>

        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
     @*   <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>*@

    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.MasterData                              
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.SessionDetails  
                </small>
            </h1>
        </div>

        <!-- /section:settings.box -->

        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.CreateSession</h4>
            }
            else
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.EditSession</h4>
            }

        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        @* //, new { @class = "form-horizontal", @role = "form" }*@
                        <div class="row">
                            @using (Html.BeginForm("SaveSessions", "Sessions", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                            { 
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.SessionID)
                                @Html.HiddenFor(model => model.Mode)                                
                               
                                <div class="tabbable">
                                    @* <ul id="myTab" class="nav nav-tabs padding-18">
                                        <li class="active">
                                            <a href="#news-english" data-toggle="tab">
                                                <i class="green ace-icon fa fa-home bigger-120"></i>
                                                English
                                            </a>
                                        </li>
                                    </ul>*@
                                    <div class="tab-content no-border padding-24">
                                        <div class="tab-pane in active" id="news-english">
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.AssemblyName </label>
                                                <div class="col-sm-9">

                                                    @Html.DropDownListFor(model => model.AssemblyID, Model.Assembly, @Resources.MasterDataDashboard.SelectAssembly, new { @class = "col-xs-10 col-sm-5" })

                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                         <span class="field-validation-error" id="assemValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.AssemblyID)
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.SessionType </label>
                                                <div class="col-sm-9">

                                                    @Html.DropDownListFor(model => model.SessionType, Model.SessionTypes, @Resources.MasterDataDashboard.SelectSessionType, new { @class = "col-xs-10 col-sm-5" })

                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                         <span class="field-validation-error" id="sesstypeValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.SessionType)
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.SessionName </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.SessionName, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.SessionName, @autocomplete = "off" ,@maxlength ="250" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                         <span class="field-validation-error" id="sessnameValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.SessionName)
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.SessionNameLocal </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.SessionNameLocal, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.SessionNameLocal, @autocomplete = "off" })

                                                </div>

                                            </div>
                                            <div class="space-2"></div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="id-date-picker-2">@Resources.MasterDataDashboard.SessionStartDate </label>

                                                <div class="col-sm-9">

                                                   @Html.TextBoxFor(m => m.StartDate, new { @id = "finish_date",@placeholder = @Resources.MasterDataDashboard.SessionStartDate, @name = "finish_date", @class = "col-xs-10 col-sm-5", @data_date_format = "dd/mm/yyyy" })

                                                    <span class="input-group-addon1">
                                                        <i class="fa fa-calendar bigger-110"></i>
                                                    </span>
                                                     <span class="field-validation-error" id="sessdateValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @id = "ValidUptoValidateMesssge" })
                                                    <span class="field-validation-error" id="DateComapreValidation1"></span>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="id-date-picker-2">@Resources.MasterDataDashboard.SessionEndDate </label>

                                                <div class="col-sm-9">

                                                   @Html.TextBoxFor(m => m.EndDate, new { @id = "End_date",@placeholder = @Resources.MasterDataDashboard.SessionEndDate,  @name = "End_date", @class = "col-xs-10 col-sm-5", @data_date_format = "dd/mm/yyyy" })

                                                    <span class="input-group-addon1">
                                                        <i class="fa fa-calendar bigger-110"></i>
                                                    </span>
                                                    
                                                    <span class="field-validation-error" id="DateComapreValidation"></span>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">No. of Sittings </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.SessionPeriod, new { @class = "col-xs-10 col-sm-5", @placeholder = "Difference between Session Start & End Date" , @autocomplete = "off" ,@maxlength ="50" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                         <span class="field-validation-error" id="periodValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.SessionPeriod)
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="space-2"></div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">No. of Sittings Local </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.SessionPeriodLocal, new { @class = "col-xs-10 col-sm-5", @placeholder = "Difference between Session Start & End Date", @autocomplete = "off" ,@maxlength ="50" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                       
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Description </label>
                                                <div class="col-sm-9">

                                                    @Html.TextAreaFor(model => model.SessionDescription, new {@id="Desc", @class = "col-xs-10 col-sm-9", @placeholder = @Resources.MasterDataDashboard.Description, @autocomplete = "off" ,@maxlength ="500" })

                                                </div>

                                            </div>

                                             <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Active </label>
                                                <div class="col-sm-9">
                                                    @Html.CheckBoxFor(model => model.IsPublished)
                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                </div>                              
                                <div class="btn-group pull-right padding-10"  style="padding-bottom:40px;">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->
                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple " onclick="return userValid();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        @Resources.MasterDataDashboard.Save</button>
                                    <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        @Resources.MasterDataDashboard.Reset
                                    </button>
                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>
                            }
                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">

    function userValid() {
        var district, statenameid, prefix, name, sex;
        district = document.getElementById("AssemblyID").value;
        statenameid = document.getElementById("SessionName").value;
        prefix = document.getElementById("StartDate").value;
        //name = document.getElementById("SessionPeriod").value;
        sex = document.getElementById("SessionType").value;
      

        if ((district == "" || district == null) && (statenameid == "" || statenameid == null) && (prefix == "" || prefix == null) && (sex == "" || sex == null)) {
            $("#assemValidation").html("Select Assembly Name");
            $("#sessnameValidation").html("Session Name is Required");
            $("#sessdateValidation").html("Session StartDate required");
            //$("#periodValidation").html("Session Period Is required");
            $("#sesstypeValidation").html("Select Session Type");
          
            return false;
        }
        return true;

    }

    $(function () {
        $('#AssemblyID').focus(function () {
            $('#assemValidation').html("");
        });
    });

    $(function () {
        $('#SessionName').focus(function () {
            $('#sessnameValidation').html("");
        });
    });

    $(function () {
        $('#StartDate').focus(function () {
            $('#sessdateValidation').html("");
        });
    });

    //$(function () {
    //    $('#SessionPeriod').focus(function () {
    //        $('#periodValidation').html("");
    //    });
    //});

    $(function () {
        $('#SessionType').focus(function () {
            $('#sesstypeValidation').html("");
        });
    });
</script>





<script type="text/javascript">

    $(function () {

        $("#Desc").blur(function () {
            $(this).animate({
                height: '55px',
                width: '580px'
            },
               "fast"
            )
        });

        $("#Desc").focus(function () {
            $(this).animate({
                height: '200px',
                width: '580px'
            },
               "fast"
            );

            //$("#newsDescvalidation").html("");

        });

    });
    $('.date-picker').datepicker({
        autoclose: true,
        todayHighlight: true

    })
    //show datepicker when clicking on the icon
    .next().on(ace.click_event, function () {
        $(this).prev().focus();
    });
   
    $(document).ready(function () {
        $("#AssemblyID").focus();
        $("#assemblymain").addClass("active open");
        $("#assemblysub").addClass("nav-show").css("display", "block");
        $("#sessionslist").addClass("active");
        $("#assemblylinkid").removeClass("fa-comment").addClass("fa-comment-o");


    });

    function resetFields() {
        $(".field-validation-error").empty();
        $("#AssemblyID").focus();
    }


    $(document).ready(function () {
        $('#finish_date').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });
        $('#End_date').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });
    });
</script>







