﻿@model IEnumerable<SBL.DomainModel.ComplexModel.MemberAttendanceViewModel>
@{int count = 0;}
<form method="post" action="/Notices/MemberAttendance/SaveofflineAttendance" id="memberOfflineAttendanceForm" enctype="multipart/form-data">
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="pass-table">
                @if (Model != null)
                {
                    if (Model.Count() > 0)
                    {
                    <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Sr.No</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Name</th>
                                <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Constituency</th>
                                <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Date/Time</th>
                                <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Signature</th>
                                <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">
                                    @* <input type="checkbox" id="selecctall" />*@Offline Attendance</th>
                            </tr>
                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model)
                            {
                                count = count + 1;                            
                                <tr>
                                    <td class="center">
                                        @count
                                        <input name="hdnPCRow" id="PCRow" type="hidden"  value="@count" />
                                    </td>
                                    <td>@item.name</td>
                                    <td>@item.constituencyname</td>
                                    <td>
                                        @if (item.AttendanceDate.Hour != 0 && item.AttendanceDate.Minute != 0 && item.AttendanceDate.Second != 0)
                                        {
                                            @item.AttendanceDate
                                        }
                                        else
                                        {
                                            <input type="hidden" id="Date" value="@ViewBag.datetime" name="@ViewBag.datetime"/>
                                        }
                                    </td>
                                    <td>
                                        <img src="@ViewBag.FileLocation@item.MemberSignaturePath" height="50px" width="80px" alt="No record Found"/>
                                    </td>
                                    <td>
                                        @if (item.AttendanceDate.Hour != 0 && item.AttendanceDate.Minute != 0 && item.AttendanceDate.Second != 0)
                                        {
                                            <span class="label label-info arrowed-in-right arrowed">Online Attendance</span>
                                        }
                                        else
                                        {
                                            if (item.Status == true)
                                            {
                                                //<input type="checkbox" class="Availablity" id="@item.MemberCode" checked="checked" name="@item.MemberCode"/>
@*<input id="Chk_@item.MemberCode" class="Checkbox" type="checkbox" onchange="checkChange1(this.id)" checked="checked"/>*@
@*<span class="label label-info arrowed-in-right arrowed">Offline Attendance</span>*@
                                            <span class="label label-success arrowed">Offline Attendance</span>
                                            <br />
                                            <br />
                                            <a data-rel="tooltip" class="red tooltip-error DeleteSec" title="Delete" id="@item.MemberCode" onclick="deleteAttendance(this.id)">
                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                            </a>
                                            }
                                            else
                                            {
                                            <input id="Chk_@item.MemberCode" class="Checkbox" type="checkbox" onchange="checkChange1(this.id)" />
                                                //<input type="checkbox" class="Availablity" id="@item.MemberCode" name="@item.MemberCode"   />                                            
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- PAGE CONTENT ENDS --> 
                                      
                    <div class="btn-group pull-right padding-10" style="padding-bottom: 40px;" onclick="CheckAttendence()">
                        <button type="button" id="savebtn" class="btn btn-sm btn-purple ">
                            <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                            Save</button>
                    </div>               
                    }
                    else
                    {
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-info">
                                <strong>There are no Contents,With This Criteria</strong><br />
                            </div>
                        </div>
                    </div>
                    }
                }

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</form>
<link href="~/assets/TableTools/css/dataTables.tableTools.css" rel="stylesheet" />
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/TableTools/js/dataTables.tableTools.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            //"sDom": 'T<"clear">lfrtip',
            //"oTableTools": {
            //    "aButtons": ["xls", "pdf"],
            //    "sSwfPath": "/assets/TableTools/swf/copy_csv_xls_pdf.swf"
            //}
        });
    });

    $('#selecctall').click(function (event) {  //on click 
        if (this.checked) { // check select status
            $('.Availablity').each(function () { //loop through each checkbox
                this.checked = true;  //select all checkboxes with class "checkbox1"               
            });
        } else {
            $('.Availablity').each(function () { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"                       
            });
        }
    });


    function deleteAttendance(id) {

        bootbox.confirm("Are you sure?", function (result) {
            if (result) {
                var AssemblyId = document.getElementById("DdlAssembly").value;
                var SessionId = document.getElementById("DdlSession").value;
                var DN = $("#Date").val()
                $.ajax({
                    url: "/Notices/MemberAttendance/deleteofflineAttendance",
                    type: 'GET',
                    data: {
                        AssemblyId: AssemblyId,
                        SessionId: SessionId,
                        Date: DN,
                        membercode: id
                    },
                    success: function (response) {
                        ShowNotification("success", "Attendance Deleted successfully");
                        window.setTimeout(function () {
                            SessionDateChange();
                        }, 3000);
                    }
                });
            }
        });
    }

    function checkChange1(id) {
        if (document.getElementById(id).checked) {
            var selectedId = document.getElementById("SelectedChkbxId").value;
            if (selectedId == "") {
                document.getElementById("SelectedChkbxId").value = id.substring(4);
            }
            else {
                selectedId = selectedId + "," + id.substring(4);
                document.getElementById("SelectedChkbxId").value = selectedId;
            }

            //alert(document.getElementById("SelectedChkbxId").value)
        }
        else {
            var selectedId = document.getElementById("SelectedChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(4), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4), "");
            }

            document.getElementById("SelectedChkbxId").value = newvalue;

            //alert(document.getElementById("SelectedChkbxId").value);
        }


    }


    function CheckAttendence() {
        var AssemblyId = document.getElementById("DdlAssembly").value;
        //alert(AssemblyId)
        var SessionId = document.getElementById("DdlSession").value;
        // alert(SessionId)
        var DN = $("#Date").val()
        // alert(DN)
        var Ids = $("#SelectedChkbxId").val()
        //alert(Ids)
        if (Ids != "") {
            $.ajax({
                url: "/Notices/MemberAttendance/SaveofflineAttendance",
                type: 'GET',
                data: {
                    AssemblyId: AssemblyId,
                    SessionId: SessionId,
                    Date: DN,
                    AIds: Ids,
                },
                success: function (response) {
                    ShowNotification("success", "Attendance Updated successfully");
                    window.setTimeout(function () {
                        SessionDateChange();
                    }, 3000);
                }
            });
        }
        else {
            ShowNotification("error", "Please select attendance");
        }
    }

</script>
