﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV

<div class="widget-box">
    <div class="widget-header widget-header-flat">
        <div class="widget-toolbar no-border">
            <button  class="btn btn-xs btn-primary bigger" style="visibility:hidden;" id="btnNew" onclick="CreateNew('@Model.PaperEntryType')">
                <i class="ace-icon fa fa-pencil-square-o"></i>
                @Resources.Diaries.New
            </button>
            @Html.HiddenFor(m => m.PaperEntryType, new { @id = "HdnModuleid" })
            @Html.HiddenFor(d => d.ModuleId, new { @id = "HdnModuleIdForDept" })

            @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.LanguageID == "7C4F28F6-02FC-4627-993D-E255037531AD")
            {
                if (Model.ResultCount > 0)
                {                
                <button class="btn btn-xs btn-primary bigger" onclick="ListByPaperType('@Model.PaperEntryType')">
                    <i class="ace-icon fa fa-table"></i>
                    @Resources.Member.List
                </button>
                <button class="btn btn-xs btn-primary bigger" style="display:none;" id="btnSearch" onclick="SearchByType('@Model.PaperEntryType')">
                    <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                    @Resources.Member.AdvanceSearch
                </button>             
                }
            }
            else
            {
                if (Model.ResultCount > 0)
                {                
                <button class="btn btn-xs btn-primary bigger" onclick="ListByPaperType('@Model.PaperEntryType')">
                    <i class="ace-icon fa fa-table"></i>
                    @Resources.Member.List
                </button>
                <button class="btn btn-xs btn-primary bigger" style="display:none;" id="btnSearch" onclick="SearchByType('@Model.PaperEntryType')">
                    <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                    @Resources.Member.AdvanceSearch
                </button>             
                }
            }

        </div>
    </div>
</div>

<div id="divbindList">
</div>
<script type="text/javascript">
    var ID = document.getElementById("HdnModuleid").value;
    var IDMd = document.getElementById("HdnModuleIdForDept").value;
    jQuery(document).ready(function () {

        //alert($("#HdnModuleid").val());
        if ($("#HdnModuleid").val() == 'Draft Other Papers' || $("#HdnModuleid").val() == 'Draft Memorandum' || $("#HdnModuleid").val() == 'अन्य कागजात का प्रारूप' || $("#HdnModuleid").val() == 'विधेयक का प्रारूप') {
            $("#btnNew").css("visibility", "visible");
        }
        if ($("#HdnModuleIdForDept").val() == 6 || $("#HdnModuleIdForDept").val() == 7 || $("#HdnModuleIdForDept").val() == 8 || $("#HdnModuleIdForDept").val() == 9 || $("#HdnModuleIdForDept").val() == 10) {
            $("#btnSearch").css("display", "inline");
        }

  
        $("#HdnModuleid").val()
        {
            debugger
         
            if ($("#HdnModuleid").val() != "Pending Request" && $("#HdnModuleid").val() != "Accepted Request" && $("#HdnModuleid").val() != "Rejected Request") {
           
                $('.widget-box').show();
                $("#loader-wrapper").show();
                $.ajax({
                    url: "/PaperLaidDepartment/PaperLaidDepartment/GetListByPaperType",
                    type: 'GET',
                    data: {
                        PaperType: $("#HdnModuleid").val(),
                        AssemId: '@Model.AssemblyId',
                        SessId: '@Model.SessionId',
                        ModId: '@Model.ModuleId',
                     
                    },
                    success: function (data) {
                        if (data) {
                            document.getElementById("MainDiveThreeTire").style.display = "block";
                            document.getElementById("MainDiveTwoTire").style.display = "none";
                            $("#outerDiv").html("");
                            $('#outerDiv').hide();
                            $("#SuccessDiv").hide();
                            $("#divbindList").html(data);
                            ClearControls();
                            $("#loader-wrapper").hide();
                             
                           
                        } else { }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
            else {
             
                debugger
                $('.widget-box').show();
                $("#loader-wrapper").show();
                $.ajax({
                    url: "/PaperLaidDepartment/PaperLaidDepartment/GetListByPaperType",
                    type: 'GET',
                    data: {
                        PaperType: $("#HdnModuleid").val(),
                        AssemId: '@Model.AssemblyId',
                        SessId: '@Model.SessionId',
                        ModId: '@Model.ModuleId',
                    
                    },
                    success: function (data) {
                        if (data) {
                            $("#loader-wrapper").hide();
                      
                            $("#two-column").css("display", "none");
                            $("#MainDiveTwoTire").css("display", "block");
                            $("#divDataContainerTwoTire").html(data);
                            $("#divbindList").empty();



                        } else {  }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });

            }
        }

       
        if (IDMd == 21 && ID == "Receipt") {
           
            $("#loader-wrapper").show();
            var AssemblyId = document.getElementById("DdlAssembly").value;
            var SessionId = document.getElementById("DdlSession").value;
            $.ajaxSetup({ cache: false });
            var pathurl = '@Url.Action("GetCompListDept", "PrintingPress", new { Area = "PrintingPress" })';
                $.ajax({
                    url: pathurl,
                    type: 'GET',
                    data: {

                        AssemblyId: AssemblyId,
                        SessionId: SessionId,

                    },
                    success: function (data) {
                     
                        $("#divDataContainer").html(data);
                        $("#FormPart").html("");
                        $("#loader-wrapper").hide();
                        ChangeBreadCrumbParent('@Resources.Diaries.MyDashboard', "");
                        ChangeBreadCrumbChild('Reciept', "");
                    }

                });
            }
        

        if (IDMd == 21 && ID == "Dispatch") {
            $("#loader-wrapper").show();
            var AssemblyId = document.getElementById("DdlAssembly").value;
            var SessionId = document.getElementById("DdlSession").value;
            $.ajaxSetup({ cache: false });
            var pathurl = '@Url.Action("GetDispatchListDept", "PrintingPress", new { Area = "PrintingPress" })';
            $.ajax({
                url: pathurl,
                type: 'GET',
                data: {

                    AssemblyId: AssemblyId,
                    SessionId: SessionId,

                },
                success: function (data) {
                    $("#divDataContainer").html(data);
                    $("#FormPart").html("");
                    $("#loader-wrapper").hide();
                    ChangeBreadCrumbParent('@Resources.Diaries.MyDashboard', "");
                ChangeBreadCrumbChild('Dispatch', "");
            }

        });
    }

    });
    


    
function ListByPaperType(Type) {
    debugger
             
    if (Type != "Pending Request" && Type != "Accepted Request" && Type != "Rejected Request") {
        //alert("first");
        // debugger
        $('.widget-box').show();
        $("#loader-wrapper").show();
        $.ajax({
            url: "/PaperLaidDepartment/PaperLaidDepartment/GetListByPaperType",
            type: 'GET',
            data: {
                PaperType: Type,
                AssemId: '@Model.AssemblyId',
                        SessId: '@Model.SessionId',
                        ModId: '@Model.ModuleId',
                    @*ActionIds: '@Model.RIds'*@
                    },
                    success: function (data) {
                        if (data) {
                            document.getElementById("MainDiveThreeTire").style.display = "block";
                            document.getElementById("MainDiveTwoTire").style.display = "none";
                            $("#outerDiv").html("");
                            $('#outerDiv').hide();
                            $("#SuccessDiv").hide();
                            $("#divbindList").html(data);
                            ClearControls();
                            $("#loader-wrapper").hide();

                            //divDataContainerTwoTire
                        } else { alert("error"); }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
            else {
                // alert("second");
                debugger
                $('.widget-box').show();
                $("#loader-wrapper").show();
                $.ajax({
                    url: "/PaperLaidDepartment/PaperLaidDepartment/GetListByPaperType",
                    type: 'GET',
                    data: {
                        PaperType: Type,
                        AssemId: '@Model.AssemblyId',
                    SessId: '@Model.SessionId',
                    ModId: '@Model.ModuleId',
                    @*ActionIds: '@Model.RIds'*@
                },
                success: function (data) {
                    if (data) {
                        $("#loader-wrapper").hide();
                        //alert(data);
                        $("#two-column").css("display", "none");
                        $("#MainDiveTwoTire").css("display", "block");
                        $("#divDataContainerTwoTire").html(data);
                        $("#divbindList").empty();



                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });

        }
    }

    function CreateNew(Type) {
        debugger;
        if (Type == "Draft Other Papers" || Type == "अन्य कागजात का प्रारूप") {
            $("#loader-wrapper").show();
            //alert("dop");
            $.ajax({
                url: "/PaperLaidDepartment/OtherPaperLaid/GetOtherPaperEntry",
                type: 'GET',
                data: {
                },
                success: function (data) {
                    $("#loader-wrapper").hide();
                    $("#RightSidebar").html(data);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            })
        }
        else if (Type == "Draft Memorandum" || Type == "विधेयक का प्रारूप") {
            //alert("db");
            $("#loader-wrapper").show();
            var pathurl = '@Url.Action("CreateNewBillDraft", "Billpaperlaid")';

            $.ajax({
                url: pathurl,
                type: 'GET',
                data: {
                    sessionId: '@Model.SessionId',
                assemblyId: '@Model.AssemblyId'
            },
            cache: false,
            success: function (data) {
                $("#loader-wrapper").hide();
                $("#RightSidebar").empty();
                $("#RightSidebar").html(data);
                // ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.Bills");
                    //ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DraftBills");
                }
        });
        }
    }

    function SearchByType(Type) {
        $('.widget-box').show();
        $("#loader-wrapper").show();
        $.ajax({
            url: "/PaperLaidDepartment/PaperLaidDepartment/SearchByType",
            type: 'GET',
            data: {
                PaperType: Type,
                AssemId: '@Model.AssemblyId',
                SessId: '@Model.SessionId',

            },
            success: function (data) {
                if (data) {
                    $("#divDataContainer").html(data)
                    $("#RightSidebar").html("");
                    $("#divDataContainerTwoTire").empty();
                    $("#loader-wrapper").hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }



    function CreateNewByType(Type) {



        $('.widget-box').show();
        $.ajaxSetup({ cache: false });
        $("#loader-wrapper").show();
        $.ajax({
            url: "/PaperLaidDepartment/PaperLaidDepartment/NewEntryForm",
            type: 'GET',
            data: {
                PaperType: Type,
                AssemId: '@Model.AssemblyId',
                SessId: '@Model.SessionId',
                    @*ActionIds: '@Model.RIds'*@
            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data);
                    $("#divDataContainerTwoTire").empty();
                    $("#loader-wrapper").hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });


    }

    function GetListFordept() {
        $("#loader-wrapper").show();
        var AssemblyId = document.getElementById("DdlAssembly").value;
        var SessionId = document.getElementById("DdlSession").value;
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetDispatchListDept", "PrintingPress", new { Area = "PrintingPress" })';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {

                AssemblyId: AssemblyId,
                SessionId: SessionId,

            },
            success: function (data) {
                $("#divDataContainer").html(data);
                $("#FormPart").html("");
                $("#loader-wrapper").hide();
                ClearControls();

                ChangeBreadCrumbParent('@Resources.Diaries.MyDashboard', "");
                    ChangeBreadCrumbChild('Dispatch', "");
                }

            });
        }
</script>
