﻿@model SBL.DomainModel.Models.PaperLaid.PaperMovementModel
@using SBL.DomainModel.Models.Enums;
@using SBL.eLegistrator.HouseController.Web.Utility;


            <div class="widget-box">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title">

                        @Resources.PaperLaidDepartment.DDQuestionReplyDet
                    </h4>                    
                </div>

                <div class="widget-body">
                        @Html.Hidden("PaperLaidIdFullRecord", @Model.PaperLaidId)
                    <div class="widget-main no-padding-right no-padding-left">
                        <div class="profile-user-info profile-user-info-striped">
                            <div class="profile-info-row">
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.Number</div>

                                <div class="profile-info-value">
                                    <span id="username" class=""> @Model.Number</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.Title</div>

                                <div class="profile-info-value">
                                    <span>@Html.Raw(@Model.Title)</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.Member </div>

                                <div class="profile-info-value">
                                    <span>@Model.MemberName</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.Department</div>

                                <div class="profile-info-value">
                                    <span>@Model.DeparmentName</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.Minister</div>

                                <div class="profile-info-value">
                                    <span>@Model.MinisterName</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.Description</div>

                                <div class="profile-info-value">
                                    <span>@Html.Raw(@Model.Description)</span>
                                </div>
                            </div>

                             <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.DDQuestionsFixedDate</div>

                                <div class="profile-info-value">
                                    <span>@string.Format("{0:dd/MM/yyyy}", @Model.DesireLayingDate)</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.PaperType</div>

                                <div class="profile-info-value">
                                    <span>@Model.PaperCategoryTypeName</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.ProvisionUnderWhich</div>

                                <div class="profile-info-value">
                                    <span>@Html.Raw(@Model.ProvisionUnderWhich)</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.Remark</div>

                                <div class="profile-info-value">
                                    <span>@Html.Raw(@Model.Remark)</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.PaperToBeLaid</div>

                                <div class="profile-info-value">
                                    <a href="@Model.ReplyPathFileLocation" target="_blank" >Paper Ver @Model.version</a>                                    
                                </div>
                            </div>

                            @if (Model.PaperSubmittedDate != null)
                            {
                                <div class="profile-info-row">
                                    <div class="profile-info-name">@Resources.PaperLaidDepartment.DeptSubmittedDate</div>

                                    <div class="profile-info-value">
                                        <span>@string.Format("{0:dd/MM/yyyy hh:mm tt}", @Model.PaperSubmittedDate)</span>
                                    </div>
                                </div>
                            }

                            @if (Model.LaidDate != null)
                            {
                                <div class="profile-info-row">
                                    <div class="profile-info-name">@Resources.PaperLaidDepartment.DDLaidDate</div>

                                    <div class="profile-info-value">
                                        <span>@string.Format("{0:dd/MM/yyyy}", @Model.LaidDate)</span>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>

            </div>
   

<script>
    function GetSubmittedPaperLaidByID(PaperLaidId) {
        $("#RightSidebar").html('')
        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();
        var value = PaperLaidId;
        $.ajax({
            url: "/PaperLaidDepartment/PaperLaidDepartment/GetSubmittedPaperLaidByID",
            type: 'GET',
            data: {
                paperLaidId: value
            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data);
                    cl2.hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

    function ReplaceDetails() {
        var value = $('#PaperLaidFullRecord').val();
        $.ajax({
            url: "/PaperLaidDepartment/PaperLaidDepartment/ShowPaperLaidDetailByID",
            type: 'GET',
            data: {
                paperLaidId: value
            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data)
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }
</script>
