﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV
@using SBL.DomainModel.Models.Enums;
@using SBL.eLegistrator.HouseController.Web.Utility;


@*<script src="~/assets/js/CommonNotify.js"></script>*@



<script src="~/assets/js/bootbox.min.js"></script>
<link href="~/Content/bootstrapUp/jquery.fileupload.css" rel="stylesheet" />


<script src="~/assets/js/jquery-ui.custom.min.js"></script>


    @using (Ajax.BeginForm("UpdatePaperLaidFile", "PaperLaidDepartment", new AjaxOptions { OnSuccess = "onSuccess()", HttpMethod = "POST" }, new { @id = "PaperLaidForm", enctype = "multipart/form-data", @data_ajax = "true" }))
{

    @Html.HiddenFor(m => m.PaperLaidId)
            @Html.HiddenFor(m => m.PaperLaidTempId )
    @Html.HiddenFor(m => m.FilePath)
    @Html.HiddenFor(m => m.DocFileName)
    @Html.HiddenFor(m => m.SupDocFileName)
    @Html.HiddenFor(m => m.SupFileName)
    @Html.HiddenFor(m => m.FileName)
    @Html.HiddenFor(m => m.AssemblyId , new { @id = "AssemblyId" }) 
    @Html.HiddenFor(m => m.SessionId, new { @id = "SessionId" })
      @Html.HiddenFor(m => m.DocFileVersion)
     @Html.HiddenFor(m => m.QuestionTypeId, new { @id = "QtypeId" })
    @Html.AntiForgeryToken()

    <div class="widget-header widget-header-flat">
        <h4 class="widget-title">@Resources.PaperLaidDepartment.DDRequestReplacement</h4>
        <div class="widget-toolbar no-border">
        </div>
    </div>
    
    <div class="widget-body">
        <div class="col-sm-6">
            <div class="widget-box collapsed1">
                <div class="widget-header">
                    <h4 class="widget-title">@Resources.PaperLaidDepartment.PaperReplacement</h4>

                    <div class="widget-toolbar">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div class="alert alert-success">
                            <div class="widget-header widget-header-small">

                                <h6 class="widget-title">@Resources.PaperLaidDepartment.MainReplyPDF</h6>
                                <label class="ace-file-input1" style="font-size: 12px;">
                                   <input style="font-size: 12px;"id="fileupload" accept=".pdf" type="file"name="fileupload">
                                 
                                </label>

                                <div style="width: 100%;" id="fileuploadcontant">
                                    <div style="width: 100%;">
                                        <span id="removeUpload" onclick="removefileupload()" class="glyphicon glyphicon-remove" style="color: red; position: relative; float: right;"></span>
                                        <div id="file_name1" class="file_name1"></div>
                                        <div class="file_size1"></div>
                                    </div>
                                    <div style="width: 100%;">
                                        <div class="show_hide">
                                            <div class="progress1" style="height: 10px; width: 160px">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" style="width: 0%;">
                                                    <span class="sr-only">0% complete</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="alert alert-success">
                            <div class="widget-header widget-header-small">

                                <h6 class="widget-title">@Resources.PaperLaidDepartment.SupplementaryReplyPDF</h6>

                                <label class="ace-file-input1" style="font-size: 12px;">
                                    <input type="file" id="SupfilePaerLaid" name="SupfilePaerLaid" accept="application/pdf" />
                                    @*<input style="font-size: 22px;" id="SupfilePaerLaid" accept=".pdf" type="file" name="SupfilePaerLaid">*@
                                </label>

                                <div style="width: 100%;" id="Supfileuploadcontant">
                                    <div style="width: 100%;">
                                        <span id="removeUploadSup" onclick="removefileuploadSup()" class="glyphicon glyphicon-remove" style="color: red; position: relative; float: right;"></span>
                                        <div id="file_nameSup" class="file_nameSup"></div>
                                        <div class="file_sizeSup"></div>
                                    </div>
                                    <div style="width: 100%;">
                                        <div class="show_hide">
                                            <div class="progressSup" style="height: 10px; width: 160px">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" style="width: 0%;">
                                                    <span class="sr-only">0% complete</span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    @*</div>*@
                                </div>


                            </div>
                        </div>


                    </div>
                </div>
                <div class="alert alert-success">
                    <div class="widget-header widget-header-small">

                        <h6 class="widget-title">@Resources.PaperLaidDepartment.MainReplyDoc</h6>

                                <label class="ace-file-input1" style="font-size: 12px;">
                               <input id="docfilePaerLaid" accept="application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" type="file" name="docfilePaerLaid">
                                  
                                </label>
                        
                                    <div style="width: 100%;" id="fileuploadcontantdoc">
                                        <div style="width: 100%;">
                                            <span id="removeUploaddoc" onclick="removefileuploaddoc()" class="glyphicon glyphicon-remove" style="color: red; position: relative; float: right;"></span>
                                            <div id="file_namedoc" class="file_namedoc"></div>
                                            <div class="file_sizedoc"></div>
                                        </div>
                                        <div style="width: 100%;">
                                            <div class="show_hide">
                                                <div class="progressdoc" style="height: 10px; width: 160px">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" style="width: 0%;">
                                                        <span class="sr-only">0% complete</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="widget-toolbar no-border">

                        <button type="button" class="btn btn-primary" name="submitButton" id="Save" style="padding-bottom: 1px;" value="Save" onclick="return chkFile();">
                            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                           @Resources.PaperLaidDepartment.AddNewFile

                        </button>

                    </div>
                </div>

            </div>
        </div>
    </div>
 

        <div class="col-sm-6">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title">@Resources.PaperLaidDepartment.ViewPreviousFiles</h4>
                </div>
            </div>
            <div class="widget-box collapsed1">
                <div class="widget-body">
                    <div class="widget-main">
                        <div class="alert alert-success">
                            <div class="widget-header widget-header-small">
                                <h6 class="widget-title">@Resources.PaperLaidDepartment.MainPdf
                                </h6>
                                @if (@Model.DepartmentSubmitList != null)
                                {

                                    if (@Model.DepartmentSubmitList.Count > 0)
                                    {

                                        foreach (var deparmentList in Model.DepartmentSubmitList)
                                        {
                                    <p>
                                        <a class="label label-lg label-info arrowed-in" href="/SecuredTempFiles/@deparmentList.PaperLaidTempId,MP"  target="_blank">@Resources.PaperLaidDepartment.PaperVer @deparmentList.version</a>
                                        </p>

                                        }
                                    }
                                }
                                <!-- /section:custom/file-input.filter -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="widget-box collapsed1">
             

          <div class="widget-body">
                    <div class="widget-main">
                        <div class="alert alert-success">
                            <div class="widget-header widget-header-small">
                                <h6 class="widget-title">@Resources.PaperLaidDepartment.SupplementaryPdf
                                </h6>
                                @if (@Model.DepartmentSubmitList != null)
                                {

                                    if (@Model.DepartmentSubmitList.Count > 0)
                                    {
                                        string oldSupFile = "";
                                        foreach (var deparmentList in Model.DepartmentSubmitList)
                                        {

                                            if (deparmentList.SupFileVersion != null)
                                            {
                                                if (oldSupFile != Convert.ToString(deparmentList.SupFileVersion))
                                                {
                                    <p>
                                        <a class="label label-lg label-info arrowed-in" href="/SecuredTempFiles/@deparmentList.PaperLaidTempId,SP"  target="_blank">@Resources.PaperLaidDepartment.PaperVer @deparmentList.SupFileVersion</a>
                                       
                                        </p>
                                        @*<a class="label label-lg label-info arrowed-in" href="@deparmentList.FileStructurePath@deparmentList.SupFilePath" target="_blank">@Resources.PaperLaidDepartment.ViewFile Paper Ver ( @deparmentList.SupFileVersion )</a>*@

                                 
                                                }

                                                oldSupFile = Convert.ToString(deparmentList.SupFileVersion);

                                            }

                                        }
                                    }
                                }
                                <!-- /section:custom/file-input.filter -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="widget-box collapsed1">
                @* <div class="widget-header">
                    <h4 class="widget-title">View Previous Main Doc</h4>

                    <div class="widget-toolbar">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>*@

                <div class="widget-body">
                    <div class="widget-main">
                        <div class="alert alert-success">
                            <div class="widget-header widget-header-small">
                                <h6 class="widget-title">@Resources.PaperLaidDepartment.MainDocFile
                                </h6>
                                @if (@Model.DepartmentSubmitList != null)
                                {
                                    if (@Model.DepartmentSubmitList.Count > 0)
                                    {

                                        string oldDocFile = "";
                                        foreach (var deparmentList in Model.DepartmentSubmitList)
                                        {
                                            if (deparmentList.DocFileVersion != null)
                                            {
                                                if (oldDocFile != Convert.ToString(deparmentList.DocFileVersion))
                                                {                                   
                                       <p>
                                        <a class="label label-lg label-info arrowed-in" href="/SecuredTempFiles/@deparmentList.PaperLaidTempId,MD"  target="_blank">@Resources.PaperLaidDepartment.PaperVer @deparmentList.DocFileVersion</a>
                                        </p>
                                        
                                                }

                                                oldDocFile = Convert.ToString(deparmentList.DocFileVersion);

                                            }
                                        }
                                    }
                                }
                                <!-- /section:custom/file-input.filter -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
                

    <div class="widget-body">
        @Html.Partial("_QuestionReplyDetails", @Model.paperMovementModel)
    </div>
     
                              

<script>
  

    function onSuccess() {


        var qType = $('#QtypeId').val();

        if (qType == 1) {
            PendingForsubmissionStaredSend()
        }
        if (qType == 2) {
            PendingForsubmissionUnStaredSend()
        }


        getCount()


    }

    function getCount() {
        
        var AssemblyId = $("#AssemblyId").val();

        var SessionId = $("#SessionId").val();

        var QtypeId = $("#QtypeId").val();


        var pathurl = "@Url.Action("GetCount", "PaperLaidDepartment")";
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                AssemblyId: AssemblyId,
                SessionId: SessionId,
                QtypeId: QtypeId,
            },
            success: function (data) {
                
                $("#6Pending_For_Reply").html(data.TotalStaredQuestions);
                
                $("#7Pending_For_Reply").html(data.TotalUnstaredQuestions);
                $("#6Draft_Replies").html(data.TotalStaredPendingForSubmissionNew);
                $("#6Reply_Sent").html(data.TotalStaredReplySent);
                $("#7Draft_Replies").html(data.TotalUnStaredPendingForSubmissionNew);
                $("#7Reply_Sent").html(data.TotalUnStaredReplySent);
                $("#loader-wrapper").hide();
                ShowNotification("success", "Starred Question Send Successfully .....");
            }
        });
    }


    $(document).ready(function () {

        $(':file').change(function () {
            for (var i = 0; i < this.files.length; ++i) {
                var name = this.files.item(i).name;
                var fileExtension = ['pdf', 'doc', 'docx', 'xls'];
                var Extension = name.split('.').pop().toLowerCase();
                if ($.inArray(Extension, fileExtension) == -1) {
                    alert(name + " is not valid format. Only 'doc','docx','pdf','xls' formats are allowed.");
                    $(':file').val("");
                    return false;
                }
            }
        })

        $("#loader-wrapper").hide();
        $("#removeUpload").hide();
        $("#removeUploaddoc").hide();
        $("#removeUploadSup").hide();
        $("#removeUploadSupdoc").hide();

        $("#fileupload").click(function (event) {
  


            $('#fileupload').fileupload({
                dataType: 'json',
                url: "/PaperLaidDepartment/PaperLaidDepartment/UploadMainPdfFiles",
                autoUpload: true,
                done: function (e, data) {

                    var sim = setTimeout("hidevalue2()", 1000);
                    $('.file_name1').html(data.result.name);
                    $('.file_size1').html(data.result.size);
                   
                }
                }).on('fileuploadprogressall', function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('.progress1 .progress-bar').css('width', progress + '%');
                    $('#removeUpload').css('display', 'block');
                });
                    }
                   
            
    );

        $("#docfilePaerLaid").click(function (event) {
            $('#docfilePaerLaid').fileupload({
                dataType: 'json',
                url: "/PaperLaidDepartment/PaperLaidDepartment/UploadMainDocFiles",
                autoUpload: true,
                done: function (e, data) {
                    var sim = setTimeout("hidevaluedoc()", 1000);
                    $('.file_namedoc').html(data.result.name);
                    $('.file_sizedoc').html(data.result.size);
                }
            }).on('fileuploadprogressall', function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('.progressdoc .progress-bar').css('width', progress + '%');
                $('#removeUploaddoc').css('display', 'block');
            });
        });

    })


    $("#SupfilePaerLaid").click(function (event) {
        $('#SupfilePaerLaid').fileupload({
            dataType: 'json',
            url: "/PaperLaidDepartment/PaperLaidDepartment/UploadSupFiles1",
            autoUpload: true,
            done: function (e, data) {
                var sim = setTimeout("hidevalueSup()", 1000);
                $('.file_nameSup').html(data.result.name);
                $('.file_sizeSup').html(data.result.size);
            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progressSup .progress-bar').css('width', progress + '%');
            $('#removeUploadSup').css('display', 'block');
        });
    });

    $("#SupdocfilePaerLaid").click(function (event) {
        $('#SupdocfilePaerLaid').fileupload({
            dataType: 'json',
            url: "/PaperLaidDepartment/PaperLaidDepartment/UploadSupDocFiles",
            autoUpload: true,
            done: function (e, data) {
                var sim = setTimeout("hidevalueSupdoc()", 1000);
                $('.file_nameSupdoc').html(data.result.name);
                $('.file_sizeSupdoc').html(data.result.size);
            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progressSupdoc .progress-bar').css('width', progress + '%');
            $('#removeUploadSupdoc').css('display', 'block');
        });
    });

    function removefileupload() {
        $('.file_name1').html('');
        $('.file_size1').html('');
        $('.progress1 .progress-bar').css('width', '0%');
        $("#removeUpload").hide();
        $('#fileuploadcontant').css('border', '0px solid rgb(244, 239, 239)');
        $.post("/PaperLaidDepartment/PaperLaidDepartment/RemoveMainFiles",
         {
         },
         function (data) {
         });

    }
    function removefileuploaddoc() {
        $('.file_namedoc').html('');
        $('.file_sizedoc').html('');
        $('.progressdoc .progress-bar').css('width', '0%');
        $("#removeUploaddoc").hide();
        $('#fileuploadcontantdoc').css('border', '0px solid rgb(244, 239, 239)');
        $.post("/PaperLaidDepartment/PaperLaidDepartment/RemoveMainFilesDoc",
         {
         },
         function (data) {
         });

    }

    function removefileuploadSup() {
        $('.file_nameSup').html('');
        $('.file_sizeSup').html('');
        $('.progressSup .progress-bar').css('width', '0%');
        $("#removeUploadSup").hide();
        $('#Supfileuploadcontant').css('border', '0px solid rgb(244, 239, 239)');
        $.post("/PaperLaidDepartment/PaperLaidDepartment/RemoveSupFiles",
         {
         },
         function (data) {
         });

    }
    function removefileuploadSupdoc() {
        $('.file_nameSupdoc').html('');
        $('.file_sizeSupdoc').html('');
        $('.progressSupdoc .progress-bar').css('width', '0%');
        $("#removeUploadSupdoc").hide();
        $('#Supdocuploadcontant').css('border', '0px solid rgb(244, 239, 239)');
        $.post("/PaperLaidDepartment/PaperLaidDepartment/RemoveSupDocFiles",
         {
         },
         function (data) {
         });

    }


    function chkFile() {
        var UFileName = $("#file_name1").text();



        if (UFileName == "") {

            var message = "Select main PDF file";
            alert(message);
            return false;
        }

        var dlg = bootbox.confirm('@Resources.PaperLaidDepartment.Areyousure', function (confresult) {

            if (confresult) {


                $("#PaperLaidForm").submit();

                $("#loader-wrapper").hide();
                bootbox.hideAll();
                bootbox.hide();
                $(dlg).modal('hide');
                return false;

            }
            else {
                return true;
            }

        });
    }

@*    function chkFile() {

        if (document.getElementById("uploadFile").value == "") {
            alert("@Resources.PaperLaidDepartment.pleaseuploadvalidfile");
             $("#uploadFile").focus();
             return false;
         }
         return true;


     }*@
  @*  var file = document.getElementById('uploadFile');
    file.onchange = function (e) {
        var ext = this.value.match(/\.([^\.]+)$/)[1];
        switch (ext) {
            case 'pdf':
                break;
            default:
                alert("@Resources.PaperLaidDepartment.OnlyPDFFiles");
                 $("#uploadFile").focus();
                 this.value = '';
         }
    };*@





    var fileupload = document.getElementById('fileupload');

    var docfilePaerLaid = document.getElementById('docfilePaerLaid');

    var SupfilePaerLaid = document.getElementById('SupfilePaerLaid');
    var SupdocfilePaerLaid = document.getElementById('SupdocfilePaerLaid');

    fileupload.onchange = function (e) {
        
        var ext = this.value.match(/\.([^\.]+)$/)[1];
        switch (ext) {
            case 'pdf':
                break;
            default:
                alert("@Resources.PaperLaidDepartment.PDFPErmitted");
                this.value = '';
        }
    };

    docfilePaerLaid.onchange = function (e) {

        var ext = this.value.match(/\.([^\.]+)$/)[1];
        switch (ext) {
            case 'doc':
            case 'docx':

                break;
            default:
                alert("Only Doc/Docx Files are Permitted");
                this.value = '';
        }
    };

    SupfilePaerLaid.onchange = function (e) {
        var ext = this.value.match(/\.([^\.]+)$/)[1];
        switch (ext) {
            case 'pdf':
                break;
            default:
                alert("@Resources.PaperLaidDepartment.PDFPErmitted");
                this.value = '';
        }
    };

    SupdocfilePaerLaid.onchange = function (e) {

        var ext = this.value.match(/\.([^\.]+)$/)[1];

        switch (ext) {

            case 'doc':
            case 'docx':

                break;
            default:
                alert("Only Doc/Docx Files are Permitted");
                this.value = '';
        }
    };

   

  

   

    function hidevalue2() {
        $('.progress1 .progress-bar').fadeOut(500);
        var sim = setTimeout("hideval2()", 3000);
    }
    function hideval2() {
        $('.progress1 .progress-bar').css('width', '0%');
        $('.progress1 .progress-bar').css('display', 'block');
    }
    function hidevaluedoc() {
        $('.progressdoc .progress-bar').fadeOut(500);
        var sim = setTimeout("hidevaldoc()", 3000);
    }
    function hidevaldoc() {
        $('.progressdoc .progress-bar').css('width', '0%');
        $('.progressdoc .progress-bar').css('display', 'block');
    }
    function hidevalueSup() {
        $('.progressSup .progress-bar').fadeOut(500);
        var sim = setTimeout("hidevaldoc()", 3000);
    }
    function hidevalSup() {
        $('.progressSup .progress-bar').css('width', '0%');
        $('.progressSup .progress-bar').css('display', 'block');
    }

    function hidevalueSupdoc() {
        $('.progressSupdoc .progress-bar').fadeOut(500);
        var sim = setTimeout("hidevaldoc()", 3000);
    }
    function hidevalSupdoc() {
        $('.progressSupdoc .progress-bar').css('width', '0%');
        $('.progressSupdoc .progress-bar').css('display', 'block');
    }

</script>
