﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV
  @using SBL.eLegistrator.HouseController.Web.Utility


<style type="text/css" >
    .sidebar .sidebar-shortcuts-large > .btn {
        width: auto;
    }

</style>
<link href="~/assets/css/Dashboard.css" rel="stylesheet" />
<div id="sidebar" class="sidebar responsive">
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        
        <div id="sidebar-shortcuts-large" class="sidebar-shortcuts-large">

            @if (!string.IsNullOrEmpty(CurrentSession.UserId_House))
            {
                <a href="#" class="home_btn" id="UserId_House" title="Increase fontsize" data-placement="bottom" data-rel="tooltip" onclick="location.href='@Url.Action("Index", ".././SetSession/SetSession", new { Id = CurrentSession.UserId_House })'">
                    <b>
                        <i class="fa fa-home" aria-hidden="true"></i>
                        House
                    </b>
                </a>
            }
            @if (!string.IsNullOrEmpty(CurrentSession.UserId_DeptReply))
            {
                <!-- #section:basics/sidebar.layout.shortcuts -->
                <a href="#" class="dept" id="UserId_DeptReply" title="Decrease fontsize" data-placement="bottom" data-rel="tooltip" onclick="location.href='@Url.Action("Index", ".././SetSession/SetSession", new { Id = CurrentSession.UserId_DeptReply })'">
                    <b>
                        <i class="fa fa-building-o" aria-hidden="true"></i>

                        Dept
                    </b>
                </a>
            }
            @if (!string.IsNullOrEmpty(CurrentSession.UserId_eConstituency))
            {
                <!--<button class="btn btn-danger">-->

                <a href="#" id="UserId_eConstituency" title="Change language" data-placement="right" data-rel="tooltip" class="ward_btn" onclick="location.href='@Url.Action("Index", ".././SetSession/SetSession", new { Id = CurrentSession.UserId_eConstituency })'">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    Ward                          <!--<i class="ace-icon fa fa-cogs"></i>-->
                </a>
            }

            <!-- /section:basics/sidebar.layout.shortcuts -->
            <!-- /section:basics/sidebar.layout.shortcuts -->
        </div>
        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div>


    <ul class="nav nav-list">
        <li class="active">
            <a href="javascript:void(0);">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text" onclick="getDashboard();">@Resources.PaperLaidDepartment.MyDashboard </span>
            </a>
            <b class="arrow"></b>
        </li>
        @foreach (var item in Model.MenuList)
                    {
            <li id="li_@item.ModuleId" class="">
                <a href="javascript:void(0);" class="dropdown-toggle">
                    <i class="menu-icon fa fa-bookmark"></i>
                    @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.LanguageID == "7C4F28F6-02FC-4627-993D-E255037531AD")
                    {
                        if (item.ModuleId == 6)
                        {
                            <span class="menu-text">
                                Questions
                            </span>
                }
                        else
                {
                            <span class="menu-text">
                                @item.ModuleName
                            </span>
            }
                        <b class="arrow fa fa-angle-down"></b>
                    }
                    else
                {
                        <span class="menu-text">
                            @item.ModuleNameLocal
                            @*<span class="badge badge-success tooltip-error">@item.ModuleName.GetTotalCountByMenu(item.ModuleId, Model.MemberId)</span>*@
                        </span>
                        <b class="arrow fa fa-angle-down"></b>
                    }
                </a>

                <b class="arrow"></b>
                <ul class="submenu">
                    @{
                        Html.RenderAction("GetSubMenu", "PaperLaidDepartment", new { ModuleId = item.ModuleId, ActIds = item.ActionIds });
                    }
                </ul>
            </li>
        }

        <li class="">
            <a href="javascript:void(0);" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text">
                    Department Register
                    <span class="badge badge-success tooltip-error"></span>
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="">
                    <a href="javascript:void(0);" onclick="GetTransfferedQuestion()">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Transferred Questions
                    </a>
                    <b class="arrow"></b>
                </li>
                @*<li class="">
                        <a href="javascript:void(0);" onclick="GetCnacelQuesPartialList()">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Transferred Questions
                        </a>
                        <b class="arrow"></b>
                    </li>*@


            </ul>
        </li>
    </ul>



    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
    </script>
</div>

