﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV

<span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="Bottm Info" style="text-align:left;margin-left:0px;margin-bottom:2px;">
    @Resources.PaperLaidDepartment.DraftReplies
</span>
@{    
    var grid = new Lib.Web.Mvc.JQuery.JqGrid.JqGridHelper<SBL.DomainModel.ComplexModel.QuestionModelCustom>("CommonGrid",                            
                            dataType: Lib.Web.Mvc.JQuery.JqGrid.JqGridDataTypes.Json,
                            footerEnabled: false,
                            methodType: Lib.Web.Mvc.JQuery.JqGrid.JqGridMethodTypes.Post,
                            pager: true,
                            rowsList: new List<int> { 10, 20, 30, 40, 50 },
                            rowsNumber: 20,
                            onSelectRow: "onSelectRowHandler",
                            sortingName: "QuestionID",
                            sortingOrder: Lib.Web.Mvc.JQuery.JqGrid.JqGridSortingOrders.Desc,
                            url: Url.Action("PendingForsubmissionUnstaredGrid"),
                            userDataOnFooter: false,
                            viewRecords: true,
                            autoWidth: true,
                            emptyRecords: @Resources.PaperLaidDepartment.NoRecordFound
                        );
                        }
                    @grid.GetHtml()

<script>

    jQuery(document).ready(function () {
        @grid.GetJavaScript()
        jQuery("#CommonGrid").jqGrid('setLabel', 'DiaryNumber', '@Resources.Diaries.DiaryNumber')
        jQuery("#CommonGrid").jqGrid('setLabel', 'QuestionNumber', '@Resources.PaperLaidDepartment.Number')
        jQuery("#CommonGrid").jqGrid('setLabel', 'Subject', '@Resources.PaperLaidDepartment.Subject')
        jQuery("#CommonGrid").jqGrid('setLabel', 'MemberName', '@Resources.PaperLaidDepartment.AskedBy')
        jQuery("#CommonGrid").jqGrid('setLabel', 'PaperSent', '@Resources.PaperLaidDepartment.Paper')
        jQuery("#CommonGrid").jqGrid('setLabel', 'DeptSubmittedDate', '@Resources.PaperLaidDepartment.Senton')
        jQuery("#CommonGrid").jqGrid('setLabel', 'DesireLayingDate', '@Resources.PaperLaidDepartment.FixedDate')
    });

    function onSelectRowHandler(rowId, status, event) {
        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();

        var paperLaidID = 0;
        var id = $('#SessionCodeHome').val();
        var rowData = $(this).jqGrid("getRowData", rowId);

        //Get Paper Laid ID and Status for the Record.
        paperLaidID = rowData.PaperLaidId != "" ? rowData.PaperLaidId : 0;

        $.ajax({
            url: "/PaperLaidDepartment/PaperLaidDepartment/EditPendingRecord",
            type: 'GET',
            data: {
                paperLaidId: paperLaidID,
                SessionId: id
            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data);
                    cl2.hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }
</script>