﻿@model SBL.DomainModel.Models.PaperLaid.PaperMovementModel

<div class="widget-body">
    <div class="widget-main no-padding-right no-padding-left">
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
            </div>

            @if (@Model.IsClubbed == true)
            {
                 <div class="profile-info-row">
                <div class="profile-info-name">@Resources.Diaries.DiaryNumber</div>

                <div class="profile-info-value">
                    <span id="diaryNumber" class="">@Model.MergeDiaryNo</span>
                </div>
            </div>
            }
            else
            {
                 <div class="profile-info-row">
                <div class="profile-info-name">@Resources.Diaries.DiaryNumber</div>

                <div class="profile-info-value">
                    <span id="diaryNumber" class="">@Model.DiaryNumber</span>
                </div>
            </div>
            }
             
             <div class="profile-info-row">
                <div class="profile-info-name">@Resources.Diaries.QuestionNumber</div>

                <div class="profile-info-value">
                    <span id="username" class="">@Model.Number</span>
                </div>
            </div>         

            <div class="profile-info-row">
                <div class="profile-info-name">@Resources.PaperLaidDepartment.Title</div>

                <div class="profile-info-value">
                    <span>@Html.Raw(@Model.Title)</span>
                </div>
            </div>

           
                 <div class="profile-info-row">
                <div class="profile-info-name">@Resources.PaperLaidDepartment.Member </div>

                <div class="profile-info-value">
                    <span>@Model.MemberName</span>
                </div>
            </div>
            
           

            <div class="profile-info-row">
                <div class="profile-info-name">@Resources.PaperLaidDepartment.Department</div>

                <div class="profile-info-value">
                    <span>@Model.DeparmentName</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name">@Resources.PaperLaidDepartment.Minister </div>

                <div class="profile-info-value">
                    <span>@Model.MinisterName</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name">@Resources.PaperLaidDepartment.Description</div>

                <div class="profile-info-value">
                    <span>@Html.Raw(@Model.Description)</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name">@Resources.PaperLaidDepartment.DDQuestionsFixedDate</div>

                <div class="profile-info-value">
                    <span>@string.Format("{0:dd/MM/yyyy}", @Model.DesireLayingDate)</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name">@Resources.PaperLaidDepartment.PaperType</div>

                <div class="profile-info-value">
                    <span>@Model.PaperCategoryTypeName</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name">@Resources.PaperLaidDepartment.ProvisionUnderWhich</div>

                <div class="profile-info-value">
                    <span>@Html.Raw(@Model.ProvisionUnderWhich)</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name">@Resources.PaperLaidDepartment.Remark</div>

                <div class="profile-info-value">
                    <span>@Html.Raw(@Model.Remark)</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name">@Resources.PaperLaidDepartment.PaperToBeLaid</div>

                <div class="profile-info-value">
                    <a  href="/SecuredFiles/@Model.PaperLaidId,MP"  target="_blank">@Resources.PaperLaidDepartment.PaperVer @Model.version</a>
                   
                    @*<a href="@Model.FileStructurePath@Model.ReplyPathFileLocation" target="_blank" >Paper Ver @Model.version</a>*@
                </div>
            </div>

             

            @if (Model.PaperSubmittedDate != null)
            {
                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.DeptSubmittedDate</div>

                    <div class="profile-info-value">
                        <span>@string.Format("{0:dd/MM/yyyy hh:mm tt}", @Model.PaperSubmittedDate)</span>
                    </div>
                </div>
            }

            @if (Model.LaidDate != null)
            {
                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.DDLaidDate</div>

                    <div class="profile-info-value">
                        <span>@string.Format("{0:dd/MM/yyyy}", @Model.LaidDate)</span>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
