﻿@model   IEnumerable<SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.ConstituencyViewModel>

@{
   
    int count = 0;
}


<div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <div class="pass-table">


                    @if (Model != null)
                    {
                        if (Model.Count() > 0)
                        {       
                                                       
                        <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                            <thead>
                                <tr role="row">

                                   <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.ConstituencyCode</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.ConstituencyName</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">@Resources.MasterDataDashboard.ConstituencyName1</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">@Resources.MasterDataDashboard.DistrictName</th>
                                        <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                @foreach (var item in Model)
                                {
                                    count = count + 1;  
                                    <tr>
                                        <td class="center">
                                            @count
                                        </td>
                                        <td>@item.ConstituencyCode</td>
                                        <td>@item.ConstituencyName</td>
                                        <td>@item.ConstituencyName_Local</td>
                                        <td>@item.GetDistrictName</td>
                                        <td class="center">
                                            <div class="hidden-sm hidden-xs action-buttons">

                                                <a data-rel="tooltip" class="green tooltip-success" title="Edit"  href="@Url.Action("EditConstituency", "Constituency", new { Id = item.ConstituencyID })">
                                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                </a>
                                                <a data-rel="tooltip" class="red tooltip-error" title="Delete" id="DeleteLink"  href="@Url.Action("DeleteConstituency", "Constituency", new { Id = item.ConstituencyID })">
                                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                </a>
                                            </div>

                                            <div class="hidden-md hidden-lg">
                                                <div class="inline position-relative">
                                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                    </button>

                                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                                                        <li>
                                                            <a  href="@Url.Action("EditConstituency", "Constituency", new { Id = item.ConstituencyID })" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                <span class="green">
                                                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                                </span>
                                                            </a>

                                                        </li>

                                                        <li>
                                                            <a  href="@Url.Action("DeleteConstituency", "Constituency", new { Id = item.ConstituencyID })"  class="tooltip-error" data-rel="tooltip" title="Delete">
                                                                <span class="red">
                                                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                </span>
                                                            </a>

                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>                                                                
                                }

                            </tbody>
                        </table>
                        <!-- PAGE CONTENT ENDS -->
                        }
                        else
                        {
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="alert alert-info">

                                    <strong>No Constituency Records Found</strong><br />


                                </div>
                            </div>
                        </div>
                        }
                    }

                </div>

                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>