﻿@model SBL.eLegistrator.HouseController.Web.Areas.PISModule.Models.SanctionViewModel
@*<script src="~/Content/ScriptsUp/jquery.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>*@
<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }

    .footer .footer-inner .footer-content {
        bottom: 0px;
    }
</style>


<form method="post" action="/PISModule/SanctionedPost/SaveSanctionPost" id="UpdateSanctionPostForm">
    <input type="hidden" id="pageId" name="pageId" value="@ViewBag.CurrentPage" />
    <input type="hidden" id="PageName" name="PageName" value="@ViewBag.PageName" />
    <div class="col-sm-10" style="width: 98%;">
        <div class="widget-box">
            <div class="widget-header">

                <h4 class="widget-title">Update Sanctioned Post</h4>

            </div>
            <div class="widget-body">
                <div class="widget-main no-padding-right no-padding-left">
                    <div class="profile-user-info profile-user-info-striped">

                        <div class="profile-info-row">


                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.Deptid)
                            @Html.HiddenFor(model => model.desigcd)
                            @Html.HiddenFor(model => model.officeid)
                            @Html.HiddenFor(model => model.POfficeId)
                               @Html.HiddenFor(model => model.PDesignationId)
                             @Html.HiddenFor(model => model.Filledpost)
                              @Html.HiddenFor(model => model.Priority)



                        </div>


                        <div class="profile-info-row">
                            <div class="profile-info-name">Department:</div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">
                                    @Html.DisplayFor(m => m.DepartmentName)

                                </div>

                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name">Office:</div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">
                                    @Html.DisplayFor(m => m.OfficeName)
                                </div>

                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name">Post:</div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">
                                    @Html.DisplayFor(m => m.Designation)
                                </div>

                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name">Sanctioned Post:</div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">
                                    @Html.TextBoxFor(model => model.sanctpost, new { @class = "IsnumericClass", @placeholder = "Sanction Post",@maxlength="5" })
                                </div>
                                <div class="help-block col-xs-12 col-sm-reset inline">
                                    @Html.ValidationMessageFor(model => model.sanctpost)
                                </div>
                            </div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name">Filled Post:</div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">
                                
                                    @Model.Filledpost
                                   @* @Html.TextBoxFor(model => model.Filledpost, new { @class = "IsnumericClass", @placeholder = "Filled Post",@maxlength="5" })*@
                                </div>
                                <div class="help-block col-xs-12 col-sm-reset inline">
                                    @Html.ValidationMessageFor(model => model.Filledpost)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="wizard-actions">
                    <div style="margin-bottom: 40px;">
                        <div class="form-inline">
                            <button type="button" id="btnPublishDocument" onclick="UpdateSanctionPost();" class="btn btn-primary" value="Update">
                                <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                <span>Update</span>
                            </button>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>



<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>

<script>
    $(document).ready(function () {
        $('.IsnumericClass').keypress(function (e) {
            var key = (e.which) ? e.which : e.keyCode;
            if ((key >= 48 && key <= 57) || (key == 44) || (key == 8)) {

                return true;
            }
            else {
                return false;
            }
        });

    });



    function UpdateSanctionPost() {
       
        var UserType = "5";
        $('.ErrorMessage').remove('');
        var IsValid = true;
        debugger;
        if ($('#sanctpost').val() == '') {
            $('#sanctpost').css("border", "1px solid red");
            $('#sanctpost').after("<span class='ErrorMessage'>Sanction Post Required</span>");
            IsValid = false;
        }
        //if ($('#Filledpost').val() == '') {
        //    $('#Filledpost').css("border", "1px solid red");
        //    $('#Filledpost').after("<br/><br/><span class='ErrorMessage'>Filled Post Required</span>");
        //    IsValid = false;
        //}

        if (IsValid == true) {

            var QData = $('#UpdateSanctionPostForm').serialize();

            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '/PISModule/SanctionedPost/CheckFilledPost',
                data: QData,
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    if (result == true) {

                        $.ajax({
                            cache: false,
                            async: true,
                            type: "POST",
                            url: '/PISModule/SanctionedPost/UpdateSanctionPost',
                            data: QData,
                            beforeSend: function () {
                                $('#loader-wrapper').show();
                            },
                            success: function (result) {

                                $('#outerDiv').hide();
                                $("#outerDiv").html("");
                                $('#divDataContainer').empty();
                                $("#divDataContainer").html(result);
                                $("#FormPart").html("");
                                $("#RightSidebar").html("");
                                $('#loader-wrapper').hide();
                            },
                            error: function (result) {
                                $('#divDataContainer').empty();
                                $('#divDataContainer').append(result.responseText);
                                $('#resize-right').hide();

                            },

                            complete: function (result) {
                                debugger;
                                $('#loader-wrapper').hide();
                            }
                        });
                    }
                    else {
                        alert("You have entered wrong sanctioned post");
                        $('#loader-wrapper').hide();
                    }

                }
            });

         
        }
    }
</script>
