﻿@model  SBL.DomainModel.Models.FormTR2.tRebate
<form id="frmRebate" class="form-horizontal">
    @Html.HiddenFor(Model=>Model.EmployeeID)
     @Html.HiddenFor(Model=>Model.Id)
     @Html.HiddenFor(Model=>Model.FinancialYear)
    <div class="row">
        <div class="two-column" id="innerDiv">
            <div class=" col-md-12 ">
                <div id="resize-left" class="ui-widget-content" style="width: 100%;">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4 class="widget-title">(A) Sections 80C 80CCC and 80CCD
                                    </h4>

                                    <div class="widget-toolbar no-border">
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="clearfix">

                                            <div class="table-responsive">
                                                <div id="divDataContainer">

                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(1)GPF </label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.GPF, new { @class = "IsnumericClass",@maxlength="15" })

                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(2) G I(Group Insurance) </label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.GI, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="space-12"></div>
                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(3)PLI </label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.PLI, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(4) U LIP </label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.ULIP, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="space-12"></div>
                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(5) Tution Fee </label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.TutionFee, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(6)NS C </label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.NSC, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="space-12"></div>
                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(7) LIC </label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.LIC, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(8) PPF </label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.PPF, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="space-12"></div>
                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(9) Stamp duty & Registration Fees </label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.StampRegistrationFees, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(10) Any other deductions U/s 80C </label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.AnyOtherDeductionUs, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="space-12"></div>
                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(11) Any other deductions U/s 80C </label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.AnyOtherDeductionUs2, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(12) HBA  Loan Princpal </label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.HBALoanPrincpal, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="space-12"></div>
                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(13)Fixed Deposite above 5 years </label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.FixedDepositAbove5Year, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(14)Equity Link Saving Bond </label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.EquilityLinkSavingBond, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="space-12"></div>
                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(15)Section 80CCC </label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.Section80CCC, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(16)Section 80CCD </label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.Section80CCD, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="space-12"></div>

                                                        <div class="widget-header">
                                                            <h4 class="widget-title">(B) Other Sections(e.g 80E, 80G etc)
                                                            </h4>

                                                            <div class="widget-toolbar no-border">
                                                            </div>
                                                        </div>
                                                        <div class="space-12"></div>
                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(1) Section 80E</label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.Section80E, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(2) Section 80G</label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.Section80G, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="space-12"></div>

                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(3) Section 80GG</label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.Section80GG, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(4) Section 80GGA</label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.Section80GGA, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="space-12"></div>

                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(5) Section 80GGC</label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.Section80GGC, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(6) Section 80U</label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.Section80U, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="space-12"></div>

                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(7) Section 80DD</label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.Section80DD, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(8) Section 80D</label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.Section80D, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="space-12"></div>
                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(9) Section 80DDB</label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.Section80DDB, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(10) U/s 80 TTA</label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.Section80TTA, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="space-12"></div>
                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">(11) U/s 80CCG</label>

                                                                    <div class="col-sm-3">
                                                                        @Html.TextBoxFor(Model => Model.Section80CCG, new { @class = "IsnumericClass",@maxlength="15" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1"></label>

                                                                    <div class="col-sm-3">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="col-sm-6">
                                    <label class="col-sm-6 control-label no-padding-right" for="form-field-1">Grand Total </label>

                                    <div class="col-sm-3">
                                        @Html.TextBoxFor(Model => Model.GrandTotal, new { @readonly="readonly" })

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
<script src="~/assets/js/bootbox.min.js"></script>

<script>

    $(document).ready(function () {
        $('.RemoveBorder').keypress(function () {
            var Id = this.id;
            $("#" + Id).next().hide();
            $("#" + Id).css("border", "1px solid green");
        });
        $('.IsnumericClass').keypress(function (e) {
            var key = (e.which) ? e.which : e.keyCode;
            if ((key >= 48 && key <= 57) || (key == 44) || (key == 8)) {
                $(this).keyup(function () {
                    calculateSum();
                });
                return true;
            }
            else {
                return false;
            }
        });
        calculateSum();
    });


    //$(document).ready(function () {
    //    $(".IsnumericClass").each(function () {

    //        $(this).keyup(function () {
    //            calculateSum();
    //        });
    //    });

    //});

    function calculateSum() {

        var sum = 0;
        $(".IsnumericClass").each(function () {
            if (!isNaN(this.value) && this.value.length != 0) {
                sum += parseFloat(this.value);
            }

        });
        //.toFixed() method will roundoff the final sum to 2 decimal places
        $("#GrandTotal").val(sum.toFixed(2));
    }
    function SaveRebateForm() {
        
        $('.ErrorMessage').remove('');
        var Designation = $('#StaffId').val();
        var FinacialYear = $('#DDlFinYear').val();
        $('#EmployeeID').val(Designation);
        $('#FinancialYear').val(FinacialYear);
        var IsValid = true;

        if (IsValid == true) {

            var QData = $('#frmRebate').serialize();
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '/AccountsAdmin/Rebate/SaveRebate',
                data: QData,
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    
                    if (result != null && result != "") {
                        $("#txtRebate").val(result.GrandTotal);
                        //var dlg = bootbox.alert("Successfully Submitted", function (e) {
                        //    $(dlg).modal('hide');
                        //});
                    }
                    $('#CalculateRebateModal').modal('hide');
                    $("#loader-wrapper").hide();
                },
                error: function (result) {
                    var dlg = bootbox.alert(result.responseText, function (e) {
                        $(dlg).modal('hide');
                    });
                },

                complete: function (result) {
                    $('#loader-wrapper').hide();
                }
            });




        }
    }


</script>
