﻿@model SBL.DomainModel.Models.LibraryVS.VsLibraryBillInfo
@{
    ViewBag.Title = "UpdateBillPage";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}
@Html.Partial("_LeftMenu")
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li class="active">Update Bill Information</li>
        </ul>
    </div>
    <div class="page-content row">
        <div class="page-header">
            <h1>Update Bill Info
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Search bill for Updation
                </small>
            </h1>
        </div>

        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            @using (Ajax.BeginForm("SaveUpdateBillInfo", "BillInformation", FormMethod.Post, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "OnSuccess(data)", LoadingElementId = "loader-wrapper", OnComplete = "OnComplete()", UpdateTargetId = "updateinfolist" }, new { @class = "form-horizontal", @role = "form", id = "UpdateBillForm" }))
            {
                <div class="row" id="SearchCreteria">
                    @Html.HiddenFor(m => m.SerialNumber, new { @id = "serialno" })

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right mhide" for="form-field-1">Bill Number </label>

                        <div class="col-sm-9">
                            @* @Html.TextBoxFor(m => m.BillNumber, new { @id = "BillNumber", required = "required", @placeholder = "BillNumber", @class = "col-xs-10 col-sm-5" })<sup class="red">*</sup>*@
                            @Html.DropDownListFor(m => m.BillNumber,
                            new SelectList(Model.BillNoList, "Value", "Text"), "Choose Bill No",
                            new { @class = "col-xs-10 col-sm-5", @id = "BillNumber", onchange = "findtitleofbillforupdate()" })
                            <sup class="red">*</sup>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right mhide" for="form-field-1">Title </label>

                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Title, new { @id = "BillTitle", @placeholder = "Title", @class = "col-xs-10 col-sm-5" })<sup class="red">*</sup>
                        </div>
                    </div>

                    @*<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right mhide" for="form-field-1"> Year </label>

	<div class="col-sm-9">
        @Html.TextBoxFor(m => m.Year, new { @id = "BillYear", @placeholder="BillYear", @class="col-xs-10 col-sm-5" })<sup class="red">*</sup>
	</div>
</div>*@
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Status </label>

                        <div class="col-sm-9">
                            @Html.DropDownListFor(m => m.status, new List<SelectListItem>
        {
        new SelectListItem{ Text="--Select--", Value = "Select" },
        new SelectListItem{ Text="Introduced", Value = "Introduced" },
        new SelectListItem{ Text="Passed", Value = "Passed" }
        }, new { @class = "col-xs-10 col-sm-5" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right mhide" for="form-field-1">Building </label>

                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Building, new { @id = "BillBuilding", @placeholder = "BillBuilding", @class = "col-xs-10 col-sm-5" })<sup class="red">*</sup>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right mhide" for="form-field-1">Floor </label>

                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Floor, new { @id = "BillFloor", @placeholder = "BillFloor", @class = "col-xs-10 col-sm-5" })<sup class="red">*</sup>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right mhide" for="form-field-1">Almirah </label>

                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Almirah, new { @id = "BillAlmirah", @placeholder = "BillAlmirah", @class = "col-xs-10 col-sm-5" })<sup class="red">*</sup>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 control-label" for="radio">Rack </label>

                        <div class="col-xs-8 col-sm-9">
                            <div class="radio">
                                <label>
                                    @Html.RadioButtonFor(model => model.Rack, "1", new { @class = "ace" })
                                    <span class="lbl" style="font-weight: bold;">1</span>
                                </label>
                                <label>
                                    @Html.RadioButtonFor(model => model.Rack, "2", new { @class = "ace" })
                                    <span class="lbl" style="font-weight: bold;">2</span>
                                </label>
                                <label>
                                    @Html.RadioButtonFor(model => model.Rack, "3", new { @class = "ace" })
                                    <span class="lbl" style="font-weight: bold;">3</span>
                                </label>
                                <label>
                                    @Html.RadioButtonFor(model => model.Rack, "4", new { @class = "ace" })
                                    <span class="lbl" style="font-weight: bold;">4</span>
                                </label>
                                <label>
                                    @Html.RadioButtonFor(model => model.Rack, "5", new { @class = "ace" })
                                    <span class="lbl" style="font-weight: bold;">5</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix form-actions form-actions">
                        <div class="col-sm-offset-2 col-sm-9 col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit" name="ButtonType" value="Search" onclick="return Check();" id="SearchButton">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Search
                            </button>
                            <input type="hidden" value="" id="UpdateButton" name="UpdateButton" />
                        </div>
                    </div>

                </div>
    
                <div id="updateinfolist" style="display: none"></div>
            }


            @using (Ajax.BeginForm("SaveUpdateBillInfo", "BillInformation", FormMethod.Post, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "OnUpdateSuccess(data)", LoadingElementId = "loader-wrapper", OnComplete = "OnComplete()" }, new { @class = "form-horizontal", @role = "form", id = "UpdateBillFormsubmit" }))
            {   
                <div id="updatediv" class="modal"></div>
            }
        </div>

    </div>


    @*<div class="col-sm-12 row">
            @using (Ajax.BeginForm("SaveUpdateBillInfo", "BillInformation", FormMethod.Post, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "OnSuccess(data)", LoadingElementId = "loader-wrapper", OnComplete = "OnComplete()", UpdateTargetId = "updateinfolist" }, new { @class = "form-horizontal", @role = "form", id = "UpdateBillForm" }))
            {
                <div class="row" id="SearchCreteria">
                @Html.HiddenFor(m => m.SerialNumber, new { @id = "serialno" })     
                    <table style="margin: 0 1%">
                        <tr>
                            <td class="row blue" style="padding: 0 1%;">Title</td>
                            <td>@Html.TextBoxFor(m => m.Title, new { @id = "BillTitle" })<sup class="red">*</sup></td>
                        </tr>
                        <tr>
                            <td class="row blue" style="padding: 0 1%;">Year</td>
                            <td>@Html.TextBoxFor(m => m.Year, new { @id = "BillYear" })<sup class="red">*</sup></td>
                        </tr>
                        <tr>
                            <td class="row blue" style="padding: 0 1%;">Bill Number</td>
                            <td>@Html.TextBoxFor(m => m.BillNumber, new { @id = "BillNumber" })<sup class="red">*</sup></td>
                        </tr>
                        <tr>
                            <td class="row blue" style="padding: 0 1%;">Status</td>
                            <td>
                                @Html.DropDownListFor(m => m.status, new List<SelectListItem>
                                 {
                                    new SelectListItem{ Text="Introduced", Value = "Introduced" },
                                    new SelectListItem{ Text="Passed", Value = "Passed" }
                                 }, "--Select--", "Select")</td>
                        </tr>
                        <tr>
                            <td class="row blue" style="padding: 0 1%;">Building</td>
                            <td>@Html.TextBoxFor(m => m.Building, new { @id = "BillBuilding" })<sup class="red">*</sup></td>
                        </tr>
                        <tr>
                            <td class="row blue" style="padding: 0 1%;">Floor</td>
                            <td>@Html.TextBoxFor(m => m.Floor, new { @id = "BillFloor" })<sup class="red">*</sup></td>
                        </tr>
                        <tr>
                            <td class="row blue" style="padding: 0 1%;">Almirah</td>
                            <td>@Html.TextBoxFor(m => m.Almirah, new { @id = "BillAlmirah" })<sup class="red">*</sup></td>
                        </tr>
                        <tr>
                            <td class="row blue" style="padding: 0 1%;">Rack</td>
                            <td>
                                @Html.RadioButtonFor(model => model.Rack, "1") 1
                            @Html.RadioButtonFor(model => model.Rack, "2") 2
                            @Html.RadioButtonFor(model => model.Rack, "3") 3
                            @Html.RadioButtonFor(model => model.Rack, "4") 4
                            @Html.RadioButtonFor(model => model.Rack, "5") 5
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button class="btn btn-info" type="submit" name="ButtonType" value="Search" onclick="return Check();" id="SearchButton">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    Search
                                </button>
                                <input type="hidden" value="" id="UpdateButton" name="UpdateButton" />
                            </td>
                        </tr>
                    </table> 
                    </div>
                <div id="updateinfolist" style="display:none"></div>
            }

            
            @using (Ajax.BeginForm("SaveUpdateBillInfo", "BillInformation", FormMethod.Post, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "OnUpdateSuccess(data)", LoadingElementId = "loader-wrapper", OnComplete = "OnComplete()" }, new { @class = "form-horizontal", @role = "form", id = "UpdateBillFormsubmit" }))
            {   
                <div id="updatediv" class="modal"></div>
            }
        </div>*@


    <div>
        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div>
</div>
<link href="~/assets/css/datepicker.css" rel="stylesheet" />
<script src="~/assets/js/CommonNotify.js"></script>
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script>
    function findtitleofbillforupdate() {
        var pathurl = "@Url.Action("findtitleofbill", "BillInformation", new { Areas="Library"})";
         var datavalue = $("#BillNumber").val();
         $.ajax({
             url: pathurl,
             type: 'GET',
             data: { id: datavalue },
             success: function (data) {
                 if (data != null) {
                     $("#BillTitle").val(data);
                     //document.getElementById('BillTitle').value = data;
                 }
             },
             complete: function () {
                 $("#loader-wrapper").hide();
             }
         });
     }
    function Check() {

        var a = $('#BillTitle').val();
       // var b = $('#BillYear').val();
        var c = $('#BillNumber').val();
        var d = $('#BillBuilding').val();
        var e = $('#BillFloor').val();
        var f = $('#BillAlmirah').val();
        var g = $("#status option:selected").text();
        if (c == "Choose Bill No") {
            ShowNotification("error", "Please Select bill number");
            return false;
        }
        //if (isNaN(b)) {
        //    ShowNotification("error", "Please fill year in numbers");
        //    return false;
        //}
        //if (c.length > 2) {
        //    ShowNotification("error", "Max Bill length is 2 digits");
        //    return false;
        //}
        //if (b.length > 4) {
        //    ShowNotification("error", "Max Year length is 4 digits");
        //    return false;
        //}
        if (a == "" && c == "" && d == "" && e == "" && f == "" && g == "--Select--") {
            ShowNotification("error", "Please fill atleast one field");
            return false;
        }
    }

    $(document).ready(function () {

        //left menu code
        $("#menuReportsAndDebates").addClass("active open");
        $("#subMenuReportsAndDebates").addClass("nav-show").css("display", "block");
        $("#SubsubBillInfo").addClass("active");
        $("#subSubUpdateBillInfo").addClass("active");

        $('#StartDate').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });
        $('#EndDate').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });
    });

    function OnSuccess(data) {


        if (data == "2null") {
            ShowNotification("error", "Please fill required fields");
        }
        else if (data == "3null") {
            ShowNotification("error", "Bill info Does not exist");

        }
        else if (data == "3UpdateSuccess") {
            ShowNotification("success", "Bill Updated Successfully");
        } else {
            // $("#updateinfolist").empty();
            //$("#updateinfolist").append(data);
            $("#updateinfolist").css("display", "block");
            $("#SearchCreteria").css("display", "none");
        }

    }
    function OnComplete() {
        $("#loader-wrapper").hide();
    }
    function OnUpdateSuccess(data) {
        if (data = "3UpdateSuccess") {
            $("#UpdateButton").val("Search");
            $("#updatediv").modal('hide');
            ShowNotification("success", "Data Updated successfully");

            $("#UpdateBillForm").submit();
        }
    }

</script>

<script>
    function changeStyle() {
        if (window.innerWidth <= 768) {
            $("#BillTitle").attr("placeholder", "BillTitle");
           // $("#BillYear").attr("placeholder", "BillYear");
            $("#BillNumber").attr("placeholder", "BillNumber");
            $("#BillBuilding").attr("placeholder", "BillBuilding");
            $("#BillFloor").attr("placeholder", "BillFloor");
            $("#BillAlmirah").attr("placeholder", "BillAlmirah");
            $(".mhide").css("display", "none");
        } else {
            $("input[type='text']").attr("placeholder", "");
            $(".control-label, .mhide").css({ "display": "block", "color": "#438eb9" });
        }
    }
    window.onresize = changeStyle;
    changeStyle();
</script>
