﻿@model SBL.eLegistrator.HouseController.Web.Areas.PublicPasses.Models.SpeakerGalaryDashboardModel

@{
    int count = 0;
}

<div class="page-header">
    <h1>@Resources.PublicPasses.HeadingPasses
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.PublicPasses.HeadingPassesRejected
                </small>
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="table-header">
            @Resources.PublicPasses.GridHeadingRejected
        </div>

        <div class="pass-table">
            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                @if (Model.SpeakerGalaryPassList.Count > 0)
                {
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">
                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">#</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.PublicPasses.GridName</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Recomended By: activate to sort column ascending">@Resources.PublicPasses.GridGender</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Request Date: activate to sort column ascending">@Resources.PublicPasses.GridAge</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Allowed Date: activate to sort column ascending" style="width: 150px">@Resources.PublicPasses.GridFatherName</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">@Resources.PublicPasses.GridMobileNumber</th>
                                <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.SpeakerGalaryPassList)
                            {
                                count = count + 1;
                                string style = (count % 2 == 0) ? "odd" : "even";

                                var trID = @item.PassID;
                                
                                <tr class="@style" id="@trID">
                                    <td class=" ">@count</td>
                                    <td class="">@item.Name</td>
                                    <td class=" ">@item.Gender</td>
                                    <td class="hidden-480 ">@item.Age</td>
                                    <td class=" ">@item.FatherName</td>
                                    <td class=" ">@item.MobileNo</td>
                                    <td class=" ">
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <div class="hidden-sm hidden-xs action-buttons">
                                            <a title="@Resources.PublicPasses.ActionFullDetails" onclick="FullPassDetails(@item.PassID)" href="javascript:void(0);" class="green">
                                                <i class="ace-icon fa fa-eye bigger-130"></i>
                                            </a>
                                            <a image="@item.Photo" title="@Resources.PublicPasses.ActionViewPhoto" onclick="ImagePriview(this);" href="javascript:void(0);" role="button"  data-toggle="modal" >
                                                <i class="ace-icon glyphicon glyphicon-picture bigger-130"></i>
                                            </a>
                                        </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-info">
                                @Resources.PublicPasses.GridNoPassRejected
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@*<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>*@

<script>
    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
              { "bSortable": false },
              null, null, null, null, null,
              { "bSortable": false },
            ]
        });
    });
</script>
