﻿@model SBL.eLegistrator.HouseController.Web.Areas.PaperLaidDepartment.Models.EmployeeListModel

@{
    int count = 0;
    int startpage = 0;
    int endPage = 0;         
    float rcnt = @Model.ResultCount;
    float rperPage = @Model.RowsPerPage;
    float cnt = rcnt / rperPage;
    int b = (int)cnt; 
    float c = (float)cnt - b;
                 
}
@if (c > 0)
{
    count = b + 1;
}
else
{
    count = b;
}
@{
    startpage = ((@Model.selectedPage * 10) - 10) + 1;
    endPage = startpage + 9;
           
}
@if (Model.loopStart <= 0)
{
    Model.loopStart = 1;
    Model.loopEnd = 5;
}

<style>
    a.classname {
        background: url(/Images/pdf.jpg) no-repeat top center;
        background-size: 25px 25px;
        /*display: -moz-stack;*/
        display: block;
        /*width: 35px;*/
        height: 32px;
        text-indent: -9999px; /* hides the link text */
    }
</style>
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="~/Scripts/jquery.alerts.js"></script>
<link href="~/Content/jquery.alerts.css" rel="stylesheet" />
<div class="tab-content" style="padding-top:15px;">
    <div>
        <div id="canvasloader-container-Grid" class="canvasloader" style="text-align: center"></div>
    </div>
  
    <div class="grid_cantainer" style="float: left; width: 99%; float: left; padding-left: 2px;">

         <div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px;border: 1px solid #C5C5C5;border: 1px solid #C5C5C5;">
       @Resources.PaperLaidDepartment.UnAuthorizedEmployees
    </div>

        @if (count > 0)
        {        
            <div class="grid-ex-footer">
                <div class="grid-pagination grid-paginationNew">

                    @if (count < Model.loopEnd)
                    {
                        Model.loopEnd = count;
                    }

                    <a href="javascript:void(0);" onclick="NextButtonPendingPLIHBills(@Model.RowsPerPage,1,1,5)" title="@Resources.Common.GoToTheFirstPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">@Resources.Common.FirstPage</span></a>
                    @if (Model.loopStart > 5)
                    {                           
                        <a href="javascript:void(0);" onclick="NextAndPreviousButtonPendingPLIHBills(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)" title="@Resources.Common.GoToThePreviousPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">@Resources.Common.PreviousPage</span></a>
                    }

                    <ul class="gridpage-numbers">
                        @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                        {
                            if (i == @Model.selectedPage)
                            {                                    
                            <li><span class="grid-page-selected">@i</span></li>
                            }
                            else
                            {
                            <li><a href="javascript:void(0);" onclick="NextButtonPendingPLIHBills(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                            }
                        }
                    </ul>
                    @if (Model.loopStart + 5 < @count)
                    {
                        <a href="javascript:void(0);" onclick="NextAndPreviousButtonPendingPLIHBills(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)" title="@Resources.Common.GoToTheNextPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">@Resources.Common.NextPage</span></a>
                    }
                    <a href="javascript:void(0);" onclick="NextButtonPendingPLIHBills(@Model.RowsPerPage,@count,@count-5,@count)" title="@Resources.Common.GoToTheLastPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">@Resources.Common.LastPage</span></a>
                    <span class="grid-page-info">@Model.loopStart - @Model.loopEnd @Resources.Common.Of @count @Resources.Common.Pages.</span>
                </div>
            </div>
        }

        <div >@* style="overflow-x: scroll">*@
            @if (Model.EmployeeList != null)
            {
                if (Model.EmployeeList.Count > 0)
                {
                     
                <table id="Submittedtable" class="simple-table-style">
                    <tr>
                          <th class="grid_th" style="border-width: 1.5px; width: 80px; height: 30px; text-align: center"></th>

                        <th class="grid_th" style="border-width: 1.5px; width: 80px; height: 30px; text-align: center">Employee Name</th>

                        <th class="grid_th" style="border-width: 1.5px; width: 50px; height: 30px; text-align: center">Employee Designation</th>

                        
                    </tr>
                    @foreach (var DepartmentSubmittedList in Model.EmployeeList)
                    {
                        <tr style="cursor: pointer;">


                            <td style="border-width: 1px; text-align: left; vertical-align: top;">
                                <input style="margin-left: 50px" type="checkbox" class="unAuthorisedCheck" name="submitButton" value="@DepartmentSubmittedList.UserId"  />
                            </td>

                            <td style="border-width: 1px; text-align: left; vertical-align: top;">
                                @DepartmentSubmittedList.UserName

                            </td>

                            <td style="border-width: 1px; text-align: left; vertical-align: top;">

                                @DepartmentSubmittedList.Designation

                            </td>

                        </tr>
                    }

                </table>
                }
                else
                {
                <p style="color:red">@Resources.PaperLaidDepartment.NoRecordFound</p>
                }
            }
            else
            {
                <p style="color:red">@Resources.PaperLaidDepartment.NoRecordFound</p>
            }
        </div>

        @if (count > 0)
        {
            <div class="grid-ex-footer">
                <div class="grid-pagination grid-paginationNew">
                    @if (count < Model.loopEnd)
                    {
                        Model.loopEnd = count;
                    }

                    <a href="javascript:void(0);" onclick="NextButtonPendingPLIHBills(@Model.RowsPerPage,1,1,5)" title="@Resources.Common.GoToTheFirstPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">@Resources.Common.FirstPage</span></a>
                    @if (Model.loopStart > 5)
                    {                           
                        <a href="javascript:void(0);" onclick="NextAndPreviousButtonPendingPLIHBills(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)" title="@Resources.Common.GoToThePreviousPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">@Resources.Common.PreviousPage</span></a>
                    }

                    <ul class="gridpage-numbers">
                        @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                        {
                            if (i == @Model.selectedPage)
                            {                                    
                            <li><span class="grid-page-selected">@i</span></li>
                            }
                            else
                            {
                            <li><a href="javascript:void(0);" onclick="NextButtonPendingPLIHBills(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                            }
                        }
                    </ul>
                    @if (Model.loopStart + 5 < @count)
                    {
                        <a href="javascript:void(0);" onclick="NextAndPreviousButtonPendingPLIHBills(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)" title="@Resources.Common.GoToTheNextPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">@Resources.Common.NextPage</span></a>
                    }
                    <a href="javascript:void(0);" onclick="NextButtonPendingPLIHBills(@Model.RowsPerPage,@count,@count-5,@count)" title="@Resources.Common.GoToTheLastPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">@Resources.Common.LastPage</span></a>
                    <span class="grid-page-info">@Model.loopStart - @Model.loopEnd @Resources.Common.Of @count @Resources.Common.Pages.</span>
                </div>
            </div>
        }
    </div>
</div>

<script>

   

    //function ViewFullDeailsForPLIHBills(value) {
    //    $("#RightSidebar").empty();
    //    var cl2 = new CanvasLoader('canvasloader-container2');
    //    cl2.show();

    //    $.ajax({
    //        url: "/PaperLaidDepartment/Billpaperlaid/GetBillSentRecordById",
    //        type: 'GET',
    //        data: {
    //            paperLaidId: value
    //        },
    //        success: function (data) {
    //            if (data) {
    //                $("#RightSidebar").html(data);
    //                cl2.hide();
    //            } else { alert("error"); }
    //        },
    //        error: function (xhr, ajaxOptions, thrownError) {
    //            alert(xhr.status);
    //            alert(thrownError);
    //        }
    //    });
    //}

    function NextButtonPendingPLIHBills(rPage, pageNo, lStart, lEnd) {
        //var cl = new CanvasLoader('canvasloader-container1');
        //cl.show();
        var deptid = $('#SecDeptLst :selected').val();
        $.ajaxSetup({ cache: false });
        var pageNumber = pageNo;
        var rowsPerPage = rPage;
        var loopStart = lStart;
        var loopEnd = lEnd;
        var pathurl = '@Url.Action("GetUnAuthorisedList", "Miscellaneous")';
      @*  //var pathurl = '@Url.Action("PendingStaredQuestion", "PaperLaidDepartment")';*@
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {

                PageNumber: pageNo,
                RowsPerPage: rPage,
                loopStart: lStart,
                loopEnd: lEnd,
                deptId : deptid
            },
            success: function (data) {
                //ClearControls();
                $("#unauthorisedList").html(data);
               // cl.hide();
            }
        });
    }

    function NextAndPreviousButtonPendingPLIHBills(rPage, pageNo, lStart, lEnd) {
        //var cl = new CanvasLoader('canvasloader-container1');
        //cl.show();
        var deptid = $('#SecDeptLst :selected').val();
        $.ajaxSetup({ cache: false });
        var pageNumber = pageNo;
        var rowsPerPage = rPage;
        var loopStart = lStart;
        var loopEnd = lEnd;
        var pathurl = '@Url.Action("GetUnAuthorisedList", "Miscellaneous")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {

                PageNumber: pageNo,
                RowsPerPage: rPage,
                loopStart: lStart,
                loopEnd: lEnd,
                deptId: deptid
            },
            success: function (data) {
                //ClearControls();
                $("#unauthorisedList").html(data);
               // cl.hide();
            }
        });
    }

</script>