﻿@model SBL.DomainModel.Models.Notice.tMemberNotice

@*<script src="~/Scripts/knockout-2.2.0.debug.js"></script>*@

<style>
    .hidden {
        display: none;
        visibility: hidden;
    }

    .txtClass {
        width: 90%;
    }
</style>

@*@using (Ajax.BeginForm("UpdateQEntry", "NoticeDetails", new AjaxOptions { OnSuccess = "LoginSuccess", HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))*@

@using (Html.BeginForm("UpdateQEntry", "NoticeDetails", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="widget-body">

        @Html.HiddenFor(m => m.QuestionID, new { @id = "hdnQuestionID" })
        @Html.HiddenFor(m => m.DiaryNo, new { @id = "hdnDiaryNo" })
        @Html.HiddenFor(m => m.MinisterId)
        @Html.HiddenFor(m => m.DepartmentId)

        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                </div>
                <div class="profile-info-row">
                    <div style="vertical-align: top" class="profile-info-name">Details</div>

                    <div class="profile-info-value">
                        <span id="spnDetails" class="">
                            @Html.EditorFor(m => m.Details, new { @class = "txtClass", @tabindex = "11" })
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div style="vertical-align: top" class="profile-info-name">Title</div>

                    <div class="profile-info-value">
                        <span id="spnTitle" class="">
                            @*@Html.TextAreaFor(m => m.Title, new { @id = "TxtTitle", @class = "Expandable", @style = "width:90%;" })*@
                            @Html.EditorFor(m => m.Title, new { @class = "txtClass" })
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.BusinessType</div>

                    <div class="profile-info-value">
                        <span id="spnEventId" class="">
                            @Html.HiddenFor(m => m.SessionID)
                            @Html.HiddenFor(m => m.AssemblyCode)
                            @Html.HiddenFor(m => m.DepartmentId)

                            @Html.DropDownListFor(m => m.EventId, new SelectList(Model.mEvents, "EventId", "EventName", 0), new { @id = "DdlCategory", @tabindex = "1", @class = "select-style txtClass", @onchange = "callView()", @disabled = true })
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Submitted By:</div>

                    <div class="profile-info-value">
                        <span id="spnMemberId" class="">
                            @Html.TextBoxFor(m => m.MemberName, new { @id = "TxtCName", @class = "txtClass", @readonly = true, @disabled = true })
                            @Html.DropDownListFor(m => m.MemberId, new SelectList(Model.mMemberModel, "MemberCode", "Name", 0), new { @id = "DdlMember", @tabindex = "3", @class = "hidden txtClass", @disabled = true })
                            @Html.ValidationMessageFor(m => m.MemberId, "", new { style = "color: red;" })
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Constituency Name</div>

                    <div class="profile-info-value">
                        <span id="spnConstituencyName" class="">
                            @Html.TextBoxFor(m => m.ConstituencyName, new { @id = "TxtConstituencyName", @class = "txtClass", @readonly = true, @disabled = true })
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Recieved Date</div>

                    <div class="profile-info-value">
                        <span id="spnNDate" class="">
                            @Html.TextBoxFor(m => m.NDate, new { @id = "TxtDate", @class = "txtClass", @readonly = true, @disabled = true })
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Recieved Time</div>

                    <div class="profile-info-value">
                        <span id="spnNoticeTime" class="">
                            @Html.TextBoxFor(m => m.NoticeTime, new { @id = "TxtTime", @class = "txtClass", @readonly = true, @disabled = true })
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Minister</div>

                    <div class="profile-info-value">
                        <span id="spnMinisterId" class="">
                            @Html.DropDownListFor(m => m.MinisterId, new SelectList(Model.ministerList, "MinistryID", "MinisterMinistryName"), new { @id = "DdlEntryMinister", @class = "rounded txtClass", @onchange = "MinistryChanged()" })

                            @Html.ValidationMessageFor(m => m.MinisterId, "", new { style = "color: red;" })
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Department</div>

                    <div class="profile-info-value">
                        <span id="spnNceTime" class="">
                            @Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.DepartmentLt, "DepartmentId", "DepartmentName"), new { @id = "DdlDept", @class = "rounded txtClass" })
                            @Html.ValidationMessageFor(m => m.DepartmentId, "", new { style = "color: red;" })
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div style="vertical-align: top" class="profile-info-name">@Resources.Diaries.QuestionPart</div>

                    <div class="profile-info-value">
                        <span>

                            <input id="ChkIsQuesPart" type="checkbox" checked="@Model.IsQuestionInPart" /></span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div style="vertical-align: top" class="profile-info-name">Local </div>

                    <div class="profile-info-value">
                        <span>

                            <input id="ChkIsLocal" type="checkbox" checked="@Model.IsHindi"  /></span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Is Question Bracketed</div>
                    <div class="profile-info-value">
                        @Html.CheckBoxFor(m => m.IsClubChecked, new { @id = "required", onclick = "CheckIfChecked()" })
                        @*   @Html.CheckBoxFor(m =>m.IsClubChecked, new {@id = "IsClubChecked", onclick="CheckIfChecked()"}) *@



                    </div>

                </div>

            </div>
            <div class="widget-main no-padding-right no-padding-left">
                <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                    </div>
                    <div id="submit-button-container" style="display: none;">
                        <div class="profile-info-row">
                            <div class="profile-info-name">To Be Bracketed with Diary No</div>
                            <div class="profile-info-value">
                                <span id="spnClubDiaryNo" class="">
                                    @Html.TextBoxFor(m => m.ClubDiaryNo, new { @id = "TxtClubDiaryNo", @class = "txtClass", onchange = "CheckQuestion(this)" })
                                    @* <div class="hidden-sm hidden-xs action-buttons">*@
                                    <a title="@Resources.PublicPasses.ActionFullDetails" onclick="FullDetailById()" href="javascript:void(0);" class="green">
                                        <i class="ace-icon fa fa-eye bigger-130"></i>
                                    </a>
                                    @*</div>*@
                                </span>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="wizard-actions">

            @if (Model.IsTypistFreeze != null)
            {
                <span style="color: green">Question Sent To Proof Reader</span>
            }
            else
            {
                if (Model.ButtonList != null && Model.ButtonList.Count > 0)
                {
                    foreach (var item in @Model.ButtonList)
                    {
                        if (item.ButtonCaption == "Save" && item.IsValid == true)
                        {
                <button type="button" class="btn btn-primary" name="submitButton" id="Save&back" value="Save" onclick="return StaySave();">
                    <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                    Save
                </button>
                                             
                        }
                        if (item.ButtonCaption == "Save&Back" && item.IsValid == true)
                        {
                                                     
                <button type="button" class="btn btn-primary" name="submitButton" id="Save" value="Save" onclick="return CheckEditor();">
                    <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                    Submit To Proof Reader
                </button>
                                            
                        }
                        if (item.ButtonCaption == "Freeze" && item.IsValid == true)
                        {
                <button type="button" class="btn btn-primary" name="submitButton" id="Cancel" value="Freeze" onclick="return UpdateEntryWithFreeze();">
                    <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                    Freeze
                </button>
                                        
                        }
                    }
                }

            }
        </div>



    </div>
    <div id='fullDetailsModel' class="hide">
        <div id='ShowfullDetailsModel' style="text-align: center">
        </div>
    </div>
}

<script src="~/Scripts/jquery.alerts.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.timepicker1.js"></script>

<script>
    $(document).ready(function () {
        var MinId = $("#MinisterId").val()
        var DeptId = $("#DepartmentId").val()
        if (MinId == 0) { $("#DdlEntryMinister").append("<option value='' selected='true'>Select Minister</option>") }
        if (DeptId == "") { $("#DdlDept").find("option[value='0']").selected = true }

    })


    //$(function () {
    //    $('#TxtTime').timepicker({
    //        'timeFormat': 'hh:mm tt',
    //        'onchange': function (time) {
    //            $('#TxtTime').val(time);
    //        }
    //    });

    //});

    $("textarea#TxtTitle").focus(function () {
        $("textarea#TxtTitle").animate({ height: "150px" }, 100)
    })

    $("textarea#TxtTitle").blur(function () {
        $("textarea#TxtTitle").animate({ height: "100px" }, 100)
    })


    function CheckEditor() {

        var Detail = $("#Details").val();

        if (Detail == "") {
            alert("Please fill the Question!");
        }
        else {

            UpdateEntry();
        }
    }

    function UpdateEntry() {
        var QuestionID = document.getElementById("hdnQuestionID").value;
        //var Title = document.getElementById("TxtTitle").value;
        var Title = $("#Title").val();
        var Detail = $("#Details").val();
        var MinisterId = document.getElementById("DdlEntryMinister").value;
        var DepartmentId = document.getElementById("DdlDept").value;
        var EventId = document.getElementById("DdlCategory").value;
        var MemberId = document.getElementById("DdlMember").value;
        var NDate = document.getElementById("TxtDate").value;
        var NoticeTime = document.getElementById("TxtTime").value;
        var BrackeDNo = document.getElementById("TxtClubDiaryNo").value;
        var DiaryNo = document.getElementById("hdnDiaryNo").value;
        var ConstName = document.getElementById("TxtConstituencyName").value;
        var isquespart;
        if ($("#ChkIsQuesPart").is(':checked')) {
            isquespart = true;
        }
        else {
            isquespart = false;
        }

        var islocal;
        if ($("#ChkIsLocal").is(':checked')) {
            islocal = true;
        }
        else {
            islocal = false;
        }
        $.post(" /Notices/NoticeDetails/UnstaredUpdateEntry",
           {
               QuestionID: QuestionID,
               Title: Title,
               Details: Detail,
               MinisterId: MinisterId,
               DepartmentId: DepartmentId,
               EventId: EventId,
               MemberId: MemberId,
               NDate: NDate,
               NoticeTime: NoticeTime,
               ClubDiaryNo: BrackeDNo,
               DiaryNo: DiaryNo,
               ConstName: ConstName,
               IsQuestionInPart: isquespart,
               IsHindi: islocal
           },
           function (data) {
               alert("Question successfully sent to proof Reader!!");
               GetUnstartedQuestions();
               $("#RightSidebar").html("");
               $("#FormPart").html("");

           });
    }
    function StaySave() {

        var QuestionID = document.getElementById("hdnQuestionID").value;
        //var Title = document.getElementById("TxtTitle").value;
        var Title = $("#Title").val();
        var Detail = $("#Details").val();
        var MinisterId = document.getElementById("DdlEntryMinister").value;
        var DepartmentId = document.getElementById("DdlDept").value;
        var BrackeDNo = document.getElementById("TxtClubDiaryNo").value;
        var isquespart;
        if ($("#ChkIsQuesPart").is(':checked')) {
            isquespart = true;
        }
        else {
            isquespart = false;
        }
        $.post(" /Notices/NoticeDetails/StayUpdateEntry",
           {
               QuestionID: QuestionID,
               Title: Title,
               Details: Detail,
               MinisterId: MinisterId,
               DepartmentId: DepartmentId,
               ClubDiaryNo: BrackeDNo,
               IsQuestionInPart: isquespart
           },
           function (data) {
               //alert("Update successfully");
               //GetStartedQuestions();
               //$("#RightSidebar").html("");
               //$("#FormPart").html("");

           });
    }
    function UpdateEntryWithFreeze() {

        var QuestionID = document.getElementById("hdnQuestionID").value;
        //var Title = document.getElementById("TxtTitle").value;
        var Title = $("#Title").val();
        var Detail = $("#Details").val();
        $.post(" /Notices/NoticeDetails/UpdateContentFreeze",
           {
               QuestionID: QuestionID,
               Title: Title,
               Details: Detail
           },
           function (data) {
               alert("Freez successfully");
               GetUnstartedQuestions();
               $("#RightSidebar").html("");
               $("#FormPart").html("");


           });
    }
    function cancelEntry() {


        var url = '@Url.Action("Index")';
        window.location.href = url;


    }
    function MinistryChanged() {
        var ministryID = $('#DdlEntryMinister').val();
        if (ministryID != "" && ministryID != null) {
            $('#MinistryId').val(ministryID);
            $("#DdlDept").empty();
            var pathurl = '@Url.Action("GetDepartmentByMinistery", "NoticeDetails")';
            $.ajax({
                url: pathurl,
                type: 'GET',
                data: { MinistryId: ministryID },
                success: function (data) {
                    $.each(data, function (index, itemData) {
                        $("#DdlDept").append($('<option/>', {
                            value: itemData.DepartmentId,
                            text: itemData.DepartmentName
                        }));
                    });
                }, error: function (data) {
                    alert("Something wrong...")
                }
            })
        }
        else {
            $("#DdlDept").empty()
            $("#DdlDept").append("<option value=''>Select Department</option>")
        }
    }
    function CheckIfChecked() {
        var CheckboxID = "required";
        var SubmitButtonContainerID = "submit-button-container";
        if (document.getElementById(CheckboxID).checked) { document.getElementById(SubmitButtonContainerID).style.display = "block"; }
        else { document.getElementById(SubmitButtonContainerID).style.display = "none"; }
    }

    function CheckQuestion(TxtClubDiaryNo) {
        var DepartmentId = document.getElementById("DdlDept").value;
        var DiaryNo = $("#TxtClubDiaryNo").val();
        var MainDNo = $("#hdnDiaryNo").val();

        if (MainDNo == DiaryNo) {
            alert("Same Diary No Can Not Be Bracketed!")
            $('#TxtClubDiaryNo').val("");
        }
            //else if (MainDNo <= DiaryNo) {
            //    alert(" You Entered : " + DiaryNo + " Greater than Current Diary No : " + MainDNo + " Can Not Be Bracketed!")
            //    $('#TxtClubDiaryNo').val("");
            //}
        else {
            $.ajax({
                url: "/Notices/NoticeDetails/UnstaredCheckDiaryNo",
                type: 'POST',
                data: { DiaryNo: DiaryNo, DepartmentId: DepartmentId },
                success: function (data) {
                    //alert (data.st);
                    if (data.DiaryNumber == "DeptNotSame") {
                        alert("Depatment Not Same By Which You Are Clubbing Question !");
                        $('#TxtClubDiaryNo').val("");
                    }
                    else if (data.DiaryNumber == "DiaryNotExist") {
                        alert("Diary Number Not Exist !");
                        $('#TxtClubDiaryNo').val("");
                    }
                    else if (data.DiaryNumber == "Ok") {

                    }
                    else {
                        alert("Diary No Already Bracketed With Diary No:" + data.DiaryNumber);
                        $('#TxtClubDiaryNo').val("");
                    }
                }
            });
        }
    }

    function FullDetailById() {

        var BrackeDNo = document.getElementById("TxtClubDiaryNo").value;

        if (BrackeDNo == "") {
            alert("Please Enter Bracketed With Diary No To View Details!")
        }

        else if (BrackeDNo != "") {
            var pathurl = '@Url.Action("UnstaredFullDetailById", "NoticeDetails")';
            $.ajax({
                type: 'GET',
                url: pathurl,
                data: {
                    Id: BrackeDNo
                },
                success: function (data) {

                    $('#ShowfullDetailsModel').html("");
                    $('#ShowfullDetailsModel').html(data);

                    var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                        resizable: false,
                        modal: true,
                        title: "Question Details",
                        width: 600,
                        title_html: true,
                        buttons: [
                            {
                                text: "OK",
                                "class": "btn btn-primary btn-xs",
                                click: function () {
                                    $(this).dialog("close");
                                }
                            }
                        ]
                    });

                }
            });
        }
}
</script>
