﻿<div class="">
    @if (ViewBag.PDFPath != "")
    {
        var pdfPathValue = ViewBag.PDFPath;
                        
        <object data="@pdfPathValue" type="application/pdf"  style="width:100%;height:250Px" >
            alt :<a href="@pdfPathValue"></a>
        </object>
    }
</div>



@*<style>
    body {
        margin: 0px;
    }
</style>

<iframe src='@Model.AnswerAttachLocation' width="100%" style="height: 100%;"></iframe>*@





