﻿@model SBL.DomainModel.Models.Notice.tMemberNotice

@*<script src="~/Scripts/knockout-2.2.0.debug.js"></script>*@


<style>
    .hidden {
        display: none;
        visibility: hidden;
    }

    .txtClass {
        width: 90%;
    }
</style>

@*@using (Ajax.BeginForm("UpdateQEntry", "NoticeDetails", new AjaxOptions { OnSuccess = "LoginSuccess", HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))*@

@using (Html.BeginForm("UpdateQEntry", "NoticeDetails", FormMethod.Post, new { enctype = "multipart/form-data" }))
{  
    
    <div class="widget-body">

        @Html.HiddenFor(m => m.QuestionID, new { @id = "hdnQuestionID" })
        @Html.HiddenFor(m => m.UId, new { @id = "hdnProofid" })
        @Html.HiddenFor(m => m.MinisterId)
        @Html.HiddenFor(m => m.DepartmentId)
         @Html.HiddenFor(m => m.ConstituencyCode , new { @id = "hdnConstID" })
        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                </div>
                <div class="profile-info-row">
                    <div style="vertical-align: top" class="profile-info-name">Details</div>

                    <div class="profile-info-value">
                        <span id="spnDetails" class="">
                            @Html.EditorFor(m => m.Details, new { @class = "txtClass", @tabindex = "11" })
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Title</div>

                    <div class="profile-info-value">
                        <span style="vertical-align: top" id="spnTitle" class="">
                            @*@Html.TextAreaFor(m => m.Title, new { @id = "TxtTitle", @class = "Expandable", @style = "width:90%;" })*@
                            @Html.EditorFor(m => m.Title, new { @class = "txtClass" })
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.BusinessType</div>

                    <div class="profile-info-value">
                        <span id="spnEventId" class="">
                            @Html.HiddenFor(m => m.SessionID)
                            @Html.HiddenFor(m => m.AssemblyCode, new { @id = "hdnAssemblyID" })
                            @*  @Html.HiddenFor(m => m.DepartmentId)*@

                            @Html.DropDownListFor(m => m.EventId, new SelectList(Model.mEvents, "EventId", "EventName", 0), new { @id = "DdlCategory", @tabindex = "1", @class = "select-style txtClass", @onchange = "callView()", @disabled = true })
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Submitted By:</div>

                    <div class="profile-info-value">
                        <span id="spnMemberId" class="">
                        @*    @Html.TextBoxFor(m => m.MemberName, new { @id = "TxtCName", @class = "txtClass", @readonly = true, @disabled = true })
                            @Html.DropDownListFor(m => m.MemberId, new SelectList(Model.mMemberModel, "MemberCode", "Name", 0), new { @id = "DdlMember", @tabindex = "3", @class = "hidden txtClass", @disabled = true })
                            @Html.ValidationMessageFor(m => m.MemberId, "", new { style = "color: red;" })*@
                             @Html.DropDownListFor(m => m.MemberId, new SelectList(Model.NewmemberList, "MemberId", "MemberName", 0), new { @id = "DdlMember", @tabindex = "3", @class = "select-style txtClass"})
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Constituency Name</div>

                    <div class="profile-info-value">
                        <span id="spnConstituencyName" class="">
                            @Html.TextBoxFor(m => m.ConstituencyName, new { @id = "TxtConstituencyName", @class = "txtClass", @readonly = true, @disabled = true })
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Recieved Date</div>

                    <div class="profile-info-value">
                        <span id="spnNDate" class="">
                            @Html.TextBoxFor(m => m.NDate, new { @id = "TxtDate", @class = "txtClass", @readonly = true, @disabled = true })
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Recieved Time</div>

                    <div class="profile-info-value">
                        <span id="spnNoticeTime" class="">
                            @Html.TextBoxFor(m => m.NoticeTime, new { @id = "TxtTime", @class = "txtClass", @readonly = true, @disabled = true })
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Minister</div>

                    <div class="profile-info-value">
                        <span id="spnMinisterId" class="">
                            @Html.DropDownListFor(m => m.MinisterId, new SelectList(Model.ministerList, "MinistryID", "MinisterMinistryName"), new { @id = "DdlEntryMinister", @class = "rounded txtClass", @onchange = "MinistryChanged()" })

                            @Html.ValidationMessageFor(m => m.MinisterId, "", new { style = "color: red;" })
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Department</div>

                    <div class="profile-info-value">
                        <span id="spnNceTime" class="">
                            @Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.DepartmentLt, "DepartmentId", "DepartmentName"), new { @id = "DdlDept", @class = "rounded txtClass" })
                            @Html.ValidationMessageFor(m => m.DepartmentId, "", new { style = "color: red;" })
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div style="vertical-align: top" class="profile-info-name">@Resources.Diaries.QuestionPart </div>

                    <div class="profile-info-value">
                        <span>

                            <input id="ChkIsQuesPart" type="checkbox" checked="@Model.IsQuestionInPart" onclick="CheckQuesInPart();" /></span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div style="vertical-align: top" class="profile-info-name">Local </div>

                    <div class="profile-info-value">
                        <span>

                            <input id="ChkIsLocal" type="checkbox" checked="@Model.IsHindi" onclick="CheckIsHindi();" /></span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Check to Freeze Question</div>

                    <div class="profile-info-value">
                        <span id="spncheked" class="">
                            @Html.CheckBoxFor(m => m.Checked, new { @id = "required-checkbox", @name = "agree" })  @*<input type="checkbox" id="required-checkbox" name="agree" onclick="CheckIfChecked()">*@   I Agree and checked that above Automated Parameters and Contents both are corrrect.
                        </span>

                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Is Question Bracketed</div>
                    <div class="profile-info-value">
                        <span id="spnClubcheked" class="">
                            @Html.CheckBoxFor(m => m.IsClubChecked, new { @id = "required", onclick = "CheckIfChecked()" })
                        </span>

                    </div>
                </div>
            </div>
            <div class="widget-main no-padding-right no-padding-left">
                <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                    </div>
                    <div id="submit-button-container" style="display: none;">
                        <div class="profile-info-row">
                            <div class="profile-info-name">To Be Bracketed with Diary No</div>
                            <div class="profile-info-value">
                                <span id="spnClubDiaryNo" class="">
                                    @Html.TextBoxFor(m => m.ClubDiaryNo, new { @id = "TxtClubDiaryNo", @class = "txtClass", onchange = "CheckQuestion(this)" })
                                    <a title="@Resources.PublicPasses.ActionFullDetails" onclick="FullDetailById()" href="javascript:void(0);" class="green">
                                        <i class="ace-icon fa fa-eye bigger-130"></i>
                                    </a>
                                </span>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        @Html.HiddenFor(m => m.IsQuestionInPart)
        @Html.HiddenFor(m => m.IsHindi)


        <div class="wizard-actions">

            @if (Model.IsContentFreeze != null)
            {
                <span style="color: green">Question Sent To Legislation Branch</span>
            }
            else
            {
                if (Model.ButtonList != null && Model.ButtonList.Count > 0)
                {
                    foreach (var item in @Model.ButtonList)
                    {
                        if (item.ButtonCaption == "Save" && item.IsValid == true)
                        {
                                                      
                <button type="button" class="btn btn-primary" name="submitButton" id="Save&back" value="Save" onclick="return StaySave();">
                    <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                    Save
                </button>
                                            
                        }
                        if (item.ButtonCaption == "Save&Back" && item.IsValid == true)
                        {
                            // using same caption for return to typist updated on 02-02-2015 by Sunil                          
@*<button type="button" class="btn btn-primary" name="submitButton" id="Save" value="Save" onclick="return UpdateEntry();">
                    <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                    Save&Back
                </button>*@
                <button type="button" class="btn btn-primary" name="BtnBack" id="BtnBack" value="Back To Typist" onclick="return BackToTypist();">
                    <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                    Back To Typist
                </button>
                                            
                        }
                        if (item.ButtonCaption == "Freeze" && item.IsValid == true)
                        {
                                                    
                <button type="button" class="btn btn-primary" name="submitButton" id="SaveS" value="Save" onclick="return StaySave();">
                    <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                    Save
                </button>
                <button type="button" class="btn btn-primary" name="submitButton" id="Reset" value="Save" onclick="return ResetWithData();">
                    <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                    Reset
                </button>

                                           
                        }
                        if (item.ButtonCaption == "Freeze" && item.IsValid == true)
                        {
                                                    
                  
                <button type="button" class="btn btn-primary" name="submitButton" id="Cancel" value="Freeze" onclick="return UpdateEntryWithFreeze();">
                    <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                    Freeze
                </button>
                                           
                        }
                    }
                }

            }
        </div>
    </div>
    <div id='fullDetailsModel' class="hide">
        <div id='ShowfullDetailsModel' style="text-align: center">
        </div>
    </div>
}

<script src="~/Scripts/jquery.alerts.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.timepicker1.js"></script>

<script>
    $(document).ready(function () {
        var MinId = $("#MinisterId").val()
        var DeptId = $("#DepartmentId").val()
        if (MinId == 0) { $("#DdlEntryMinister").append("<option value='' selected='true'>Select Minister</option>") }
        if (DeptId == "" || DeptId == "0") {
            //$("#DdlDept").find("option[value='0']").selected = true
            $("#DdlDept").append("<option value='' selected='true'>Select Department</option>")
        }

    })

    //$(function () {
    //    $('#TxtTime').timepicker({
    //        'timeFormat': 'hh:mm tt',
    //        'onchange': function (time) {
    //            $('#TxtTime').val(time);
    //        }
    //    });
    //    //'value': new Date(),
    //});

    $("textarea#TxtTitle").focus(function () {
        $("textarea#TxtTitle").animate({ height: "150px" }, 100)
    })

    $("textarea#TxtTitle").blur(function () {
        $("textarea#TxtTitle").animate({ height: "100px" }, 100)
    })

    function BackToTypist() {
        var QuestionID = document.getElementById("hdnQuestionID").value;
        var Con = confirm("Are you sure ?")
        if (Con) {
            $.post(" /Notices/NoticeDetails/BackToTypistById",
                   {
                       Qid: QuestionID,
                   },
                   function (data) {
                       alert(data)
                       $("#RightSidebar").html("");
                       $("#FormPart").html("");
                       GetUnstartedQuestions();
                   });
        }

    }

    function UpdateEntry() {

        var QuestionID = document.getElementById("hdnQuestionID").value;
        //var Title = document.getElementById("TxtTitle").value;
        var Title = $("#Title").val();
        var Detail = $("#Details").val();
        var MinisterId = document.getElementById("DdlEntryMinister").value;
        var DepartmentId = document.getElementById("DdlDept").value;
        var NDate = document.getElementById("TxtDate").value;
        var NoticeTime = document.getElementById("TxtTime").value;

        var isquespart;
        if ($("#ChkIsQuesPart").is(':checked')) {
            isquespart = true;
        }
        else {
            isquespart = false;
        }
        var islocal;
        if ($("#ChkIsLocal").is(':checked')) {
            islocal = true;
        }
        else {
            islocal = false;
        }
        $.post(" /Notices/NoticeDetails/UpdateEntry",
               {
                   QuestionID: QuestionID,
                   Title: Title,
                   Details: Detail,
                   MinisterId: MinisterId,
                   DepartmentId: DepartmentId,
                   NDate: NDate,
                   NoticeTime: NoticeTime,
                   IsQuestionInPart: isquespart,
                   IsHindi: islocal
               },
               function (data) {
                   //alert("Update successfully");
                   GetStartedQuestions();
                   $("#RightSidebar").html("");
                   $("#FormPart").html("");

               });
    }
    function StaySave() {

        var QuestionID = document.getElementById("hdnQuestionID").value;
        var ConsiId = document.getElementById("hdnConstID").value;
        var ConName = document.getElementById("TxtConstituencyName").value;
        var MemberId = document.getElementById("DdlMember").value;
        var Title = $("#Title").val();
        var Detail = $("#Details").val();
        var MinisterId = document.getElementById("DdlEntryMinister").value;
        var DepartmentId = document.getElementById("DdlDept").value;
        var BrackeDNo = document.getElementById("TxtClubDiaryNo").value;
        $.post(" /Notices/NoticeDetails/StayUpdateEntry",
           {
               QuestionID: QuestionID,
               Title: Title,
               Details: Detail,
               MinisterId: MinisterId,
               DepartmentId: DepartmentId,
               ClubDiaryNo: BrackeDNo,
               ConsiId: ConsiId,
               ConName: ConName,
               MemberId: MemberId,
           },
           function (data) {
               //alert("Update successfully");
               //GetStartedQuestions();
               //$("#RightSidebar").html("");
               //$("#FormPart").html("");

           });
    }

    function UpdateEntryWithFreeze() {

        var CheckboxID = "required-checkbox";
        if (document.getElementById(CheckboxID).checked) {
            var QuestionID = document.getElementById("hdnQuestionID").value;
            var ConsiId = document.getElementById("hdnConstID").value;
            var ConName = document.getElementById("TxtConstituencyName").value;
            //var Title = document.getElementById("TxtTitle").value;
            var Title = $("#Title").val();

            var Detail = $("#Details").val();

            var MinisterId = document.getElementById("DdlEntryMinister").value;

            var DepartmentId = document.getElementById("DdlDept").value;

            var EventId = document.getElementById("DdlCategory").value;

            var MemberId = document.getElementById("DdlMember").value;

            var NDate = document.getElementById("TxtDate").value;

            var NoticeTime = document.getElementById("TxtTime").value;

            var UId = document.getElementById("hdnProofid").value;
            var BrackeDNo = document.getElementById("TxtClubDiaryNo").value;
            if (MinisterId == 0) {
                alert("Please Select any Minister !")
                return;
            }
            if (DepartmentId == "" || DepartmentId == null) {
                alert("Please Select any Department !")
                return;
            }

            var isquespart;
            if ($("#ChkIsQuesPart").is(':checked')) {
                isquespart = true;
            }
            else {
                isquespart = false;
            }
            var islocal;
            if ($("#ChkIsLocal").is(':checked')) {
                islocal = true;
            }
            else {
                islocal = false;
            }
            $.post(" /Notices/NoticeDetails/UpdateContentFreeze",

               {
                   QuestionID: QuestionID,
                   Title: Title,
                   Details: Detail,
                   MinisterId: MinisterId,
                   DepartmentId: DepartmentId,
                   EventId: EventId,
                   MemberId: MemberId,
                   NDate: NDate,
                   NoticeTime: NoticeTime,
                   ProofUId: UId,
                   ClubDiaryNo: BrackeDNo,
                   IsQuestionInPart: isquespart,
                   IsHindi: islocal,
                   ConsiId: ConsiId,
                   ConName: ConName,
               },

               function (data) {
                   alert("Freeze successfully");
                   GetUnstartedQuestions();
                   $("#RightSidebar").html("");
                   $("#FormPart").html("");

               });
        }

        else {

            alert("Please Check to Freeze Question")
        }

    }


    function cancelEntry() {


        var url = '@Url.Action("Index")';
        window.location.href = url;


    }
    function ResetWithData() {
        var QuestionID = document.getElementById("hdnQuestionID").value;
        $("#FormPart").html('');
        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();
        $.ajax({
            url: "/Notices/NoticeDetails/GetDataAuditTrialQuestionID",
            type: 'GET',
            data: {
                questionID: QuestionID,
            },
            success: function (data) {
                if (data) {
                    $("#FormPart").html(data)
                    cl2.hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }

    function MinistryChanged() {
        var ministryID = $('#DdlEntryMinister').val();
        if (ministryID != "" && ministryID != null) {

            $('#MinistryId').val(ministryID);
            var select = $("#DdlDept");
            select.empty();
            var pathurl = '@Url.Action("GetDepartmentByMinistery", "NoticeDetails")';
            $.ajax({
                url: pathurl,
                type: 'GET',
                data: { MinistryId: ministryID },
                success: function (data) {
                    $.each(data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.DepartmentId,
                            text: itemData.DepartmentName
                        }));
                    });
                }, error: function (data) {
                    alert("Something wrong...")
                }
            })
        }
        else {
            $("#DdlDept").empty()
            $("#DdlDept").append("<option value=''>Select Department</option>")
        }
    }
    function CheckIfChecked() {
        var CheckboxID = "required";
        var SubmitButtonContainerID = "submit-button-container";
        if (document.getElementById(CheckboxID).checked) { document.getElementById(SubmitButtonContainerID).style.display = "block"; }
        else { document.getElementById(SubmitButtonContainerID).style.display = "none"; }
    }

    function CheckQuestion(TxtClubDiaryNo) {
        var DepartmentId = document.getElementById("DdlDept").value;
        var DiaryNo = $("#TxtClubDiaryNo").val();
        var MainDNo = $("#hdnDiaryNo").val();

        if (MainDNo == DiaryNo) {
            alert("Same Diary No Can Not Be Bracketed!")
            $('#TxtClubDiaryNo').val("");
        }
        else if (MainDNo <= DiaryNo) {
            alert(" You Entered : " + DiaryNo + " Greater than Current Diary No : " + MainDNo + " Can Not Be Bracketed!")
            $('#TxtClubDiaryNo').val("");
        }
        else {
            $.ajax({
                url: "/Notices/NoticeDetails/UnstaredCheckDiaryNo",
                type: 'POST',
                data: { DiaryNo: DiaryNo, DepartmentId: DepartmentId },
                success: function (data) {
                    //alert (data.st);
                    if (data.DiaryNumber == "DeptNotSame") {
                        alert("Depatment Not Same By Which You Are Clubbing Question !");
                        $('#TxtClubDiaryNo').val("");
                    }
                    else if (data.DiaryNumber == "DiaryNotExist") {
                        alert("Diary Number Not Exist !");
                        $('#TxtClubDiaryNo').val("");
                    }
                    else if (data.DiaryNumber == "Ok") {

                    }
                    else {
                        alert("Diary No Already Bracketed With Diary No:" + data.DiaryNumber);
                        $('#TxtClubDiaryNo').val("");
                    }
                }
            });
        }
    }

    function FullDetailById() {


        var BrackeDNo = document.getElementById("TxtClubDiaryNo").value;

        if (BrackeDNo == "") {
            alert("Please Enter Bracketed With Diary No To View Details!")
        }

        else if (BrackeDNo != "") {
            var pathurl = '@Url.Action("UnstaredFullDetailById", "NoticeDetails")';
                $.ajax({
                    type: 'GET',
                    url: pathurl,
                    data: {
                        Id: BrackeDNo
                    },
                    success: function (data) {

                        $('#ShowfullDetailsModel').html("");
                        $('#ShowfullDetailsModel').html(data);

                        var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                            resizable: false,
                            modal: true,
                            title: "Question Details",
                            width: 600,
                            title_html: true,
                            buttons: [
                                {
                                    text: "OK",
                                    "class": "btn btn-primary btn-xs",
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }
                            ]
                        });

                    }
                });
            }
    }



    function CheckQuesInPart() {


        if ($("#ChkIsQuesPart").is(':checked')) {
            $("#IsQuestionInPart").val(true)

        }
        else {
            $("#IsQuestionInPart").val(false)
        }



    }

    function CheckIsHindi() {


        if ($("#ChkIsLocal").is(':checked')) {
            $("#IsHindi").val(true)

        }
        else {
            $("#IsHindi").val(false)
        }



    }
    $("#DdlMember").change(function () {
        var Aid = document.getElementById("DdlAssembly").value;
        var Mid = $(this).val();
        if (Mid != null && Mid != "") {
            $.get("/Notices/LegislationFixation/GetConstByMemberId", { MemberId: Mid, AssemId: Aid }, function (data) {
                $("#hdnConstID").val(data.ConstituencyCode)
                $("#TxtConstituencyName").val(data.ConstituencyName)
            });

        }
        else {
            alert("Please Select Any Member !")
        }

    });
</script>

