﻿@model SBL.DomainModel.Models.Notice.tMemberNotice

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="jquery.spinner.js"></script>

@if (Model != null)
{
  
    <div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px; border: 1px solid #C5C5C5; border: 1px solid #C5C5C5;">
        Notice Details
    </div>
    if (Model.NoticeStatus == 1)
    {
    <div style="border: 1px solid grey; padding: 5px 0px 10px 5px;">

        <input type="submit" name="Draft" id="@Model.NoticeId" value="Edit" onclick="return ViewDetailsForEdit(this.id, 'Notice');" />

    </div>
    }
    <div style="border: 1px solid grey;">
        <table style="margin-left: 20px; width: 96%">
            <tr class="border-Down">
                <td class="tr-border-right"><strong>Ministry:</strong>

                </td>
                <td>
                    @Model.MinistryId.GetMinisterName()
                </td>
            </tr>

            <tr class="border-Down">
                <td class="tr-border-right"><strong>Department:</strong>

                </td>
                <td>
                    @Model.DepartmentId.GetDepartmentName()
                </td>
            </tr>
            <tr class="border-Down">
                <td class="tr-border-right"><strong>Subject:</strong>

                </td>
                <td>
                    @Html.Raw(Model.Subject)

                </td>
            </tr>
            <tr class="border-Down">
                <td class="tr-border-right"><strong>Content:</strong>

                </td>
                <td>
                    @Html.Raw(Model.Notice)
                </td>
            </tr>
        </table>
    </div>
    
}

<script>
    function ViewDetailsForEdit(Id, Type) {
        $("#RightSidebar").html("")
        $.get("/Legislative/Legislative/EditQuestionNotice", { Id: Id, EditType: Type }, function (data) {
            $("#RightSidebar").html(data)
        });
    };





</script>
