﻿@model SBL.eLegistrator.HouseController.Web.Areas.Legislative.Models.PaperLaidSummaryViewModel
@{
    ViewBag.Title = "Paper Laied Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/spin.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
@*<link href="@Url.Content("~/Content/custom.css")" rel="stylesheet" type="text/css" />*@
<script src="~/Scripts/jquery-ui-1.9.2.custom.min.js"></script>
@section Scripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
    <script src="~/Scripts/canvasloader-min.js"></script>
    
    @*Newly added.*@
    <script src="~/Content/Dashboard/js/bootstrap.js"></script>
    <script src="~/Content/Dashboard/js/bootstrap-switch.min.js"></script>
     <script src="~/Scripts/tinymce/tiny_mce.js"></script>

    <script src="~/Content/Dashboard/js/jquery_notification_v.1.js"></script>
    <link href="~/Content/Dashboard/style/jquery_notification.css" rel="stylesheet" />
    <script src="~/Content/Dashboard/js/MessageCreator.js"></script>
}

<link href="~/Content/Dashboard/style/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Dashboard/style/font-awesome.css" rel="stylesheet" />
<link href="~/Content/Dashboard/style/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/Dashboard/style/bootstrap-switch.css" rel="stylesheet" />
<link href="~/Content/Dashboard/style/style.css" rel="stylesheet" />

@{
    int StarredQuestionCount = Model.SentStarredQuestionCount + Model.PendingStarredQuestionCount;
    int UnStarredQuestionCount = Model.SentUnStarredQuestionCount + Model.PendingUnStarredQuestionCount;
    int Bills = Model.RecievedBillsCount;
    int Committee = Model.RecievedCommitteePaperCount;
    int OtherPapers = Model.RecievedPaperToLayCount;
    int Notices = Model.SentNoticesCount + Model.PendingNoticesCount;
    
    
    }


<table style="width: 100%">
    <tr>
        <td style="width: 33%">
             <strong>@Model.DepartmentName >> @Model.UserDesignation</strong>
        </td>
        <td style="width: 34%">
            <div style="color: #5779b6; font-size: 16px; text-transform: uppercase; font-weight: bold; padding: 5px; text-align: center;">
                @Resources.Legislative.PaperLaidSummeryDashboard
            </div>
        </td>
        <td style="width: 33%; text-align: right; padding-left: 20px;">
           <strong>@Model.CurrentUserName >> @Model.UserName</strong>
        </td>
    </tr>
</table>


<div class="simpletabmain" style="margin-top: 5px;">
    <div class="tabcontent" style="background: none repeat scroll 0 0 #ECECEC">

           <div style="width: 100%;">
            <table style="width: 100%">
                <tr>
                    <td style="width: 33%">
                        <strong>@Model.AssesmblyName</strong>
                    </td>
                    <td style="width: 34%">
                        <div style="color: #5779b6; font-size: 16px; text-transform: uppercase; font-weight: bold; padding: 5px; text-align: center;">
                           &nbsp;
                        </div>
                    </td>
                    <td style="width: 33%; text-align: right; padding-left: 20px;">
                        <strong>@Model.SessionName</strong>
                    </td>
                </tr>
            </table>
        </div>

         <div class="tabinner" style="background-color: #E6E6E6; width: 100%; height: 846px; padding-left: 10px;">

            <div class="sidebar" style="width: 26%;float:left;">
                <div class="sidebar-dropdown"><a href="#">Navigation</a></div>

                 <ul id="nav" style="overflow-y: scroll; height: 824px;">
                    <li class="has_sub">
                        <a href="javascript:void(0);" status="All" itemtype="true" onclick="GetCompleteDetailsByPaperLaid(this);" class="FirstNode ChangeColor" papercategorytypeid="1" isstarred="true"><i class="icon-home"></i>@Resources.PaperLaidDepartment.DDStaredQuestions<strong>(@StarredQuestionCount)</strong><span class="pull-right"><i class="icon-chevron-right"></i></span></a>
                       
                        <ul>
                            <li><a href="javascript:void(0);" ItemType="true" status="PendingList" papercategorytypeid="1" isstarred="true"  class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);" >@Resources.Legislative.Questionpending &nbsp; <strong>(@Model.PendingStarredQuestionCount)</strong></a></li>
                            <li><a href="javascript:void(0);" ItemType="true" status="Sent" papercategorytypeid="1" isstarred="true"  class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);" >@Resources.Legislative.Questionsent &nbsp; <strong>(@Model.SentStarredQuestionCount)</strong></a></li>
                            <li><a href="javascript:void(0);" ItemType="true" status="Recieved" papercategorytypeid="1" isstarred="true"  class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);">@Resources.Legislative.RepliesReceived &nbsp;<strong>(@Model.RecievedStarredQuestionCount)</strong></a></li>
                            <li><a href="javascript:void(0);"  status="CurrentLob" papercategorytypeid="1" isstarred="true"  class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);">@Resources.Legislative.UpcomingLob&nbsp;<strong>(@Model.CurrentLobStarredQuestionCount)</strong></a></li>
                            <li><a href="javascript:void(0);"  status="LaidInHome" papercategorytypeid="1" isstarred="true"  class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);">@Resources.Legislative.LaidIntheHouse&nbsp;<strong>(@Model.LaidInHomeStarredQuestionCount)</strong></a></li>
                            <li>
                              
                                <a href="javascript:void(0);" ItemType="true" status="Pending" papercategorytypeid="1" isstarred="true"  class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);">@Resources.Legislative.PendingtoLay&nbsp;<strong>(@Model.PendingToLayStarredQuestionCount)</strong></a>
                            </li>
                            
                            <li></li>
                        </ul>
                    </li>    
                    <li class="has_sub">
                        <a href="javascript:void(0);" status="All" itemtype="true" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);" papercategorytypeid="1" isstarred="false"><i class="icon-list-alt"></i>@Resources.PaperLaidDepartment.DDUnStaredQuestions <strong>(@UnStarredQuestionCount)</strong><span class="pull-right"><i class="icon-chevron-right"></i></span></a>
                        <ul>
                            <li><a href="javascript:void(0);" ItemType="true"  status="PendingList" papercategorytypeid="1" isstarred="false"  class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);" >@Resources.Legislative.Questionpending &nbsp; <strong>(@Model.PendingUnStarredQuestionCount)</strong></a></li>
                            <li><a href="javascript:void(0);" ItemType="true" status="Sent" papercategorytypeid="1" isstarred="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);" >@Resources.Legislative.Questionsent &nbsp; <strong>(@Model.SentUnStarredQuestionCount)</strong></a></li>
                            <li><a href="javascript:void(0);" ItemType="true" status="Recieved" papercategorytypeid="1" isstarred="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);">@Resources.Legislative.RepliesReceived &nbsp;<strong>(@Model.RecievedUnStarredQuestionCount)</strong></a></li>
                            <li><a href="javascript:void(0);" status="CurrentLob" papercategorytypeid="1" isstarred="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);">@Resources.Legislative.UpcomingLob&nbsp;<strong>(@Model.CurrentLobUnStarredQuestionCount)</strong></a></li>
                            <li><a href="javascript:void(0);" status="LaidInHome" papercategorytypeid="1" isstarred="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);">@Resources.Legislative.LaidIntheHouse&nbsp;<strong>(@Model.LaidInHomeUnStarredQuestionCount)</strong></a></li>
                            <li>
                                <a href="javascript:void(0);" status="Pending" papercategorytypeid="1" isstarred="false"class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);">@Resources.Legislative.PendingtoLay&nbsp;<strong>(@Model.PendingToLayUnStarredQuestionCount)</strong></a></li>
                            
                            <li></li>
                        </ul>
                    </li> 
                     <li class="has_sub">
                        <a href="javascript:void(0);" status="All" itemtype="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);" papercategorytypeid="4" isstarred="false"><i class="icon-user"></i>@Resources.PaperLaidDepartment.Notices <strong>(@Notices)</strong><span class="pull-right"><i class="icon-chevron-right"></i></span></a>
                        <ul>
                            <li><a href="javascript:void(0);" ItemType="false" status="PendingList" papercategorytypeid="4" isstarred="false"  class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);" >@Resources.Legislative.Noticepending &nbsp; <strong>(@Model.PendingNoticesCount)</strong></a></li>
                            <li><a href="javascript:void(0);" ItemType="false" status="Sent" papercategorytypeid="4" isstarred="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);">@Resources.Legislative.NoticesSent &nbsp; <strong>(@Model.SentNoticesCount)</strong></a></li>
                            <li><a href="javascript:void(0);" status="Recieved" papercategorytypeid="4" isstarred="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);">@Resources.Legislative.NoticeReceived &nbsp;<strong>(@Model.RecievedNoticesCount)</strong></a></li>
                            <li><a href="javascript:void(0);" status="CurrentLob" papercategorytypeid="4" isstarred="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);">@Resources.Legislative.UpcomingLob&nbsp;<strong>(@Model.CurrentLobNoticesCount)</strong></a></li>
                            <li><a href="javascript:void(0);" status="LaidInHome" papercategorytypeid="4" isstarred="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);">@Resources.Legislative.LaidIntheHouse&nbsp;<strong>(@Model.LaidInHomeNoticesCount)</strong></a></li>
                            <li>
                              
                                <a href="javascript:void(0);" status="Pending" papercategorytypeid="4" isstarred="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);">@Resources.Legislative.PendingtoLay&nbsp;<strong>(@Model.PendingToLayNoticeCount)</strong></a>

                            </li>                                                       
                        </ul> 
                        </li>                
                      <li class="has_sub">                       
                         <a href="javascript:void(0);" status="Recieved" papercategorytypeid="2" isstarred="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);"><i class="icon-user"></i>@Resources.PaperLaidDepartment.Bills <strong>(@Bills)</strong><span class="pull-right"><i class="icon-chevron-right"></i></span></a>
                        <ul>
                       
                        <li><a href="javascript:void(0);" status="Recieved" papercategorytypeid="2" isstarred="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);">@Resources.Legislative.BillsReceived &nbsp;<strong>(@Model.RecievedBillsCount)</strong></a></li>
                            <li><a href="javascript:void(0);" status="CurrentLob" papercategorytypeid="2" isstarred="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);">@Resources.Legislative.UpcomingLob&nbsp;<strong>(@Model.CurrentLobBillsCount)</strong></a></li>
                        <li><a href="javascript:void(0);" status="LaidInHome" papercategorytypeid="2" isstarred="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);">@Resources.Legislative.LaidIntheHouse&nbsp;<strong>(@Model.LaidInHomeBillsCount)</strong></a></li>

                        <li>
                            
                            <a href="javascript:void(0);" status="Pending" papercategorytypeid="2" isstarred="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);">@Resources.Legislative.PendingtoLay&nbsp;<strong>(@Model.PendingToLayBillsCount)</strong></a></li>
                        
                        <li></li>
                            </ul>
                    </li>   
                    
                      <li class="has_sub">                        
                        <a href="javascript:void(0);" status="Recieved" papercategorytypeid="3" isstarred="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);"><i class="icon-home"></i>@Resources.PaperLaidDepartment.Committees <strong>(@Committee)</strong><span class="pull-right"><i class="icon-chevron-right"></i></span></a>
                        <ul>
                           
                            <li><a href="javascript:void(0);" status="Recieved" papercategorytypeid="3" isstarred="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);">@Resources.Legislative.CommitteePaperReceived &nbsp;<strong>(@Model.RecievedCommitteePaperCount)</strong></a></li>
                            <li><a href="javascript:void(0);" status="CurrentLob" papercategorytypeid="3" isstarred="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);">@Resources.Legislative.UpcomingLob&nbsp;<strong>(@Model.CurrentLobCommitteePaperCount)</strong></a></li>
                            <li><a href="javascript:void(0);" status="LaidInHome" papercategorytypeid="3" isstarred="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);">@Resources.Legislative.LaidIntheHouse&nbsp;<strong>(@Model.LaidInHomeCommitteePaperCount)</strong></a></li>
                            <li>
                             
                                <a href="javascript:void(0);" status="Pending" papercategorytypeid="3" isstarred="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);"> @Resources.Legislative.PendingtoLay&nbsp;<strong>(@Model.PendingToLayCommitteeCount)</strong></a>

                            </li>
                            
                            <li></li>
                        </ul>
                    </li> 
                       <li class="has_sub">                       
                          <a href="javascript:void(0);" status="Recieved" papercategorytypeid="5" isstarred="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);"><i class="icon-home"></i>@Resources.PaperLaidDepartment.OtherPapers <strong>(@OtherPapers)</strong><span class="pull-right"><i class="icon-chevron-right"></i></span></a>
                          <ul>  
                                <input type="hidden" value="@OtherPapers" id="hdnResultCount"></input>                       
                        <li><a href="javascript:void(0);" status="Recieved" papercategorytypeid="5" isstarred="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);">@Resources.Legislative.PapersReceived &nbsp;<strong>(@Model.RecievedPaperToLayCount)</strong></a></li>
                              <li><a href="javascript:void(0);" status="CurrentLob" papercategorytypeid="5" isstarred="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);">@Resources.Legislative.UpcomingLob&nbsp;<strong>(@Model.CurrentLobPaperToLayCount)</strong></a></li>
                        <li><a href="javascript:void(0);" status="LaidInHome" papercategorytypeid="5" isstarred="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);">@Resources.Legislative.LaidIntheHouse&nbsp;<strong>(@Model.LaidInHomePaperToLayCount)</strong></a></li>
                        <li>
                           
                            <a href="javascript:void(0);" status="Pending" papercategorytypeid="5" isstarred="false" class="ChangeColor" onclick="GetCompleteDetailsByPaperLaid(this);"> @Resources.Legislative.PendingtoLay&nbsp;<strong>(@Model.PendingToLayOtherPaperCount)</strong></a>

                        </li>
               @*      <li><a href="javascript:void(0);" selection="other" papercategorytypeid="5" isstarred="false" id="GetUpdatedPaperList" class="ChangeColor" onclick="GetUpdatedPaperList(this);">@Resources.Legislative.LLUpdatedPaper&nbsp;<strong>(@Model.TotalUpdatedFileCounter)</strong></a></li>
               *@       
                              </ul>
                    </li>
                          <li class="has_sub">
                        <a href="javascript:void(0);" class="FirstNode"><i class="icon-home"></i>AssignQuestionToTypist <strong>(@Model.TotalValue)</strong><span class="pull-right"><i class="icon-chevron-right"></i></span></a>
                        <ul>
                            <li><a href="javascript:void(0);" id="" class="ChangeColor" onclick="GetStartedQuestions(), ChangeColor(this.id)">Stared Question <strong>(@Model.TotalStaredReceived)</strong></a></li>
                            <li><a href="javascript:void(0);" onclick="GetUnstartedQuestions()">UnStared Question<strong>(@Model.TotalUnStaredReceived)</strong></a></li>
                            @*  <li><a href="javascript:void(0);" onclick="GetNoticed()">Notices<strong>(@Model.NoticeResultCount)</strong></a></li>*@
                       
                        </ul>
                    </li>               
                                                                                                                        
                </ul>
            </div>
            <div class="mainbar" style="overflow-y: scroll;width: 30%;margin-left:26%;" id="ToBeHideDiv">
                <div class="page-head"> 
                      <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>              
                    <div class="clearfix"></div>
                </div>
                @*   <div id="DropdownList" style="padding: 0px 2px 0px 2px;">
                       gvhj
                </div>*@
                <div id="CompletePaperLaidDetails" style="padding: 0px 2px 0px 2px;">
                </div>
            </div>
               <div style="width: 1.5%; float: left;height:846px;color:blue;font-weight:bold;font-size:12px;padding:2px;" onclick="getPrevHideDiv();" id="aPrev">                
                <a>
                    <img src="~/Images/control_double_left.png" width="48" height="48" style="position:absolute;margin-left:-15px;margin-top:-15px;"  />
                </a>
            </div>
             <div style="width: 1.5%; float: left; display: none;height:846px;color:blue;font-weight:bold;font-size:12px;padding:2px;" onclick="getNextHideDiv();" id="aNext">
                
                <a>
                    <img src="~/Images/control_double_right.png" width="48" height="48" style="position:absolute;margin-left:-15px;margin-top:-15px;" />
                </a>
            </div>
             <div style="width:42%;float:left;" id="ExpandDiv">                
                <div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>
               <div class="RightSidebar" id="RightSideDiv"  style="padding: 0px 2px 0px 2px;overflow:scroll;width:100%;">
                   <a onclick="getNextHideDiv();" id="btnBackHideDiv" style="color: blue; cursor: pointer; display: none; float: right">back
                </a>
             
                 <div class="RightSidebar" id="RightSidebar" style="overflow-y: scroll;width:100%">
            </div>
                     <div id="ComDetails" style="padding: 0px 2px 0px 2px;">
                </div>
               </div>
            </div>
         
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#DropdownList').hide();
    })
    function getPrevHideDiv() {
        $("#aPrev").hide();
        $("#aNext").show();
        $("#btnBackHideDiv").show();
        $("#ToBeHideDiv").hide("slow", function () {
        });
        $("#ExpandDiv").animate({ width: '72%' }, "slow");
        $("#aNext").css("margin-left", "26%");
    }
    function getNextHideDiv() {
        $("#ToBeHideDiv").show("slow", function () {
        });
        $("#aPrev").show();
        $("#aNext").hide();
        $("#btnBackHideDiv").hide();
        $("#ExpandDiv").animate({ width: '42%' }, "slow");

    }


    function ClearControls() {
        $("#RightSidebar").html('');
    }
    function ChangeColor(control) {
        $(".ChangeColor").each(function () {
            $(this).css({ 'background': 'none', 'color': 'black' })
        })
        $("#" + control).css({ 'background-color': '#428bca', 'color': 'white' })
    }

    function GetCompleteDetailsByPaperLaid(obj) {
        //getNextHideDiv();
        var PaperCategoryTypeId = $(obj).attr('papercategorytypeid');
        var IsStarred = $(obj).attr('isstarred');
        var Status = $(obj).attr('Status');
        var ItemType = $(obj).attr('ItemType');

         alert('set session null');
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();

        $(".ChangeColor").each(function () {
            $(this).css({ 'background': 'none', 'color': 'black' })
        })
        $(obj).css({ 'background-color': '#428bca', 'color': 'white' })
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/legislative/legislative/CompletePaperLaidInformation",
            type: 'GET',
            data: { PaperCategoryTypeId: PaperCategoryTypeId, IsStarredQuestion: IsStarred, IsByMinistry: null, Status: Status, ItemType: ItemType },
            success: function (response) {
                $("#CompletePaperLaidDetails").html(response);
                $("#RightSidebar").html("");
                cl.hide();
                //loader.stop();
            }
        });

    }


    function GetDetailedSummaryByCategory(obj) {



        //For loading spinner
        var targetDiv = document.getElementById('DetailedSummary');
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();

        var PaperCategoryTypeId = $(obj).attr('PaperCategoryTypeId');
        var IsStarred = $(obj).attr('isstarred');

        var url = "/legislative/legislative/GetAllDetailedSummary";
        var parameter = { PaperCategoryTypeId: PaperCategoryTypeId, IsStarredQuestion: IsStarred };


        $.ajaxSetup({ cache: false });
        $.ajax({
            url: url,
            type: 'GET',
            data: parameter,
            success: function (response) {
                $("#CompletePaperLaidDetails").html(response);
                //$('#CompletePaperLaidDetails').html('');
                cl.hide();
            }
        });
    }


    // Added By Nitin

    function GetUpdatedPaperList(obj) {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        var resultCountS = document.getElementById("hdnResultCount").value;
        var selection = $(obj).attr('selection');

        $(".ChangeColor").each(function () {
            $(this).css({ 'background': 'none', 'color': 'black' })
        })
        $(obj).css({ 'background-color': '#428bca', 'color': 'white' })
        $.ajax({
            url: "/legislative/legislative/GetUpdatedPaperList",
            type: 'GET',
            data: {
                type: selection,
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5",
                ResultCount: resultCountS
            },
            success: function (response) {
                $("#CompletePaperLaidDetails").html(response);
                $("#RightSidebar").html("");
                // getNextHideDiv();
                cl.hide();
                //loader.stop();
            }
        });

    }

</script>

<script>

    function GetStartedQuestions() {

        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("PendingStaredQuestion", "AssignTypist", new {Area ="Notices"})';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (response) {
                //$("#divDataContainer").html(data);
                //$("#GetStartedQuestions").css({ 'background-color': '#428bca', 'color': 'white' })
                //$("#CompletePaperLaidDetails").html(data);
                //$("#CompletePaperLaidDetails").html(data);
                //$("#RightSidebar").html("");
                //$('#DropdownList').show();
                //ClearControls();
                //
                //cl.hide();
                if (response) {
                    getPrevHideDiv();
                    $("#RightSidebar").html(response);
                    cl.hide();


                } else { alert("error"); }

            }
        });
    }

    function GetUnstartedQuestions() {

        var cl = new CanvasLoader('canvasloader-container1');

        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("PendingUnstaredQuestion","AssignTypist", new {Area ="Notices"})';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (response) {
                if (response) {
                    getPrevHideDiv();
                    $("#RightSidebar").html(response);
                    cl.hide();


                } else { alert("error"); }
            }
        });
    }
    function GetNoticed() {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetNotices", "NoticeDetails")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#divDataContainer").html(data);
                ClearControls();
                cl.hide();
            }
        });
    }
</script>