﻿@model SBL.DomainModel.ComplexModel.SMSComposeModel
<style>
	.blackborder {
		border: #ccc 1px solid;
		text-align: left;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		-moz-box-shadow: 0 1px 2px #d1d1d1;
		-webkit-box-shadow: 0 1px 2px #d1d1d1;
		box-shadow: 0 1px 2px #d1d1d1;
	}
</style>
<div class="form-inline">

	<select class="form-control" id="form-field-select-1" style="border-radius: 60px; font-size: 12px; height: 30px;" onchange="getgroupsData(this)">
		<option value="S">Select Group Type</option>
		<option value="G">Generic Group</option>
		<option value="C">Customize Group</option>
	</select>
	<select class="form-control" id="form-field-select-2" style="border-radius: 60px; font-size: 12px; height: 30px;" onchange="getgroupsDataMembers(this)">
		<option value="S">Select Group</option>

	</select>
	@*<label class="radio control-label">
		<input type="radio" id="optMembers" name="recipient" value="Members" checked>@Resources.MasterDataDashboard.Members
	</label>
	<label class="radio control-label">
		<input type="radio" id="optMinisters" name="recipient" value="Ministers">@Resources.MasterDataDashboard.Ministers
	</label>
	<label class="radio control-label">
		<input type="radio" id="optEmployees" name="recipient" value="Employees">@Resources.MasterDataDashboard.Employee
	</label>*@
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
		<div class="widget-box">
			<div class="widget-header">
				<h4 class="widget-title">
					@Resources.MasterDataDashboard.ContactList
				</h4>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<div class="clearfix">
					</div>
					<div id="contactList">
						@*@Html.Partial("_GetMembersContactList")*@
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
		<div class="widget-box">
			<div class="widget-header">
				<h4 class="widget-title">
					@Resources.MasterDataDashboard.SelectedContactList
				</h4>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<div class="clearfix"></div>
					<div class="form-group">
						<div class="control-group">
							<button class="btn btn-primary" id="btnAddToMailingList" type="button">
								<i class="ace-icon ace-icon fa fa-plus"></i>
								@Resources.MasterDataDashboard.AddToSMSList
							</button>
						</div>
						<div class="space-2"></div>
						<div class="control-group">
							<div class="clearfix"></div>

							<div id="selectedContactList">
								<table class="table table-striped table-bordered table-hover dataTable"
									id="tblSelectedContactList" style="width: 270px;" aria-describedby="sample-table-2_info">
									<thead>
										<tr role="row">
											<th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
											<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.Name</th>
											<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.MobileNo</th>
										</tr>
									</thead>
									<tbody role="alert" aria-live="polite" aria-relevant="all">
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

	var _tblTdHtml = '';

	var _contact = [];

	var _rowNo = 0;

	$(document).ready(function () {

		$("#tblSelectedContactList").makeTableScrollable();

		//$("#optMinisters").click(function () {

		//	GetMinistersList();

		//});

		//$("#optMembers").click(function () {

		//	GetMembersList();

		//});

		//$("#optEmployees").click(function () {

		//	GetEmployeeList();

		//});
	});

	function AddToSelectedContactList(name, mobileNo) {

		var index = $.inArray(mobileNo, _contact);

		if (index == -1) //works in ie and chrome only not in firefox
		{
			_contact.push(mobileNo);

			var count = 0;

			count = count + 1;

			_rowNo++;

			var rowClass = (count % 2 == 0) ? "even" : "odd";

			var js = "javascript:RemoveFromSMSList('" + _rowNo + "','" + mobileNo + "');";

			_tblTdHtml += "<tr class='" + rowClass + "'" + ' id="' + _rowNo + '" role="row" data-uid="">';

			_tblTdHtml += "<td>" + '<a href="' + js + '"' + 'id="lnk' + _rowNo + '"' + '>' + '<i class="ace-icon fa fa-trash-o bigger-120"></i></a></td>';

			_tblTdHtml += '<td style="text-align:left;">' + name + '</td>';

			_tblTdHtml += '<td style="text-align:left;">' + mobileNo + '</td>';

			_tblTdHtml += '</tr>';

			$("#tblSelectedContactList > tbody").html(_tblTdHtml);

		}

	}

	function RemoveFromSMSList(rowNo, mobileNo) {

		$('#lnk' + rowNo).closest('tr').remove();

		_contact.pop(mobileNo);

		_tblTdHtml = '';
	}

	$("#btnAddToMailingList").click(function (e) {

		if (_contact.length > 0) {

			var table = $(e.target).closest('table');

			$('td input:checkbox', table).prop('checked', this.checked);

			var table = $("#tblSelectedContactList > tbody");

			table.find('tr').each(function (i, el) {

				var $tds = $(this).find('td');

				if (IsSkypePluginInstalled && $('.skype_c2c_text_span').html() != null) {

					AddToSMSList($('.skype_c2c_text_span').html());
				}
				else {

					AddToSMSList($tds.eq(2).text());
				}

			});

			_contact = [];

			$("#dlgContactList").dialog("close");
		}
		else {

			var dlg = bootbox.alert('Please select a contact', function (e) {

				$(dlg).modal('hide');
			});
		}
	});

	function GetMinistersList() {

		$.ajax({
			url: "/Admin/SMSCompose/GetMinistersList",
			type: 'GET',
			data: '',
			success: function (data) {

				if (data) {

					$("#contactList").html(data);

				} else {
					var dlg = bootbox.alert('Error', function (e) {

						$(dlg).modal('hide');
					});
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});
			}
		});
	}

	function GetMembersList() {

		$.ajax({
			url: "/Admin/SMSCompose/GetMembersList",
			type: 'GET',
			data: '',
			success: function (data) {

				if (data) {

					$("#contactList").html(data);

				} else {
					var dlg = bootbox.alert('Error', function (e) {

						$(dlg).modal('hide');
					});
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});
			}
		});
	}

	function GetEmployeeList() {

		$.ajax({
			url: "/Admin/SMSCompose/GetEmployeesList",
			type: 'GET',
			data: '',
			success: function (data) {

				if (data) {

					$("#contactList").html(data);

				} else {
					var dlg = bootbox.alert('Error', function (e) {

						$(dlg).modal('hide');
					});
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});
			}
		});
	}

	function getgroupsData(ele) {
		 
		var grpval = $('#form-field-select-1 option:selected').val();
		if (grpval == "S") {
			var dlg = bootbox.alert('Please Select Group Type', function (e) {
				$(dlg).modal('hide');
			});
			return;
		}
		$("#loader-wrapper").show();
		if (grpval == "G") {
			var pathUrl = '@Url.Action("GenericGroupsSMS", "SMSCompose", new { Area = "Admin" })';
			$.ajax({
				type: "GET",
				url: pathUrl,
				data: {},

				success: function (data) {
					 
					if (data) {
						$("#form-field-select-2").html("");
						$("#form-field-select-2").append($("<option></option>").val('0').html('Select Group'));
						for (var i = 0; i < data.length; i++)
						{ var item = data[i]; $("#form-field-select-2").append($("<option></option>").val(item.GroupID).html(item.Name)) }
						$("#form-field-select-2").trigger("chosen:updated");
						$("#form-field-select-2").prop("disabled", "");
						$("#loader-wrapper").hide();
					}
					else {
						$("#form-field-select-2").html("");
						$("#form-field-select-2").trigger("chosen:updated");
					}
					$("#loader-wrapper").hide();
				}
			});
		}
		if (grpval == "C") {
			var pathUrl = '@Url.Action("GetOwnGroupListCustomizeGroup", "SMSCompose", new { Area = "Admin" })';
			$.ajax({
				type: "GET",
				url: pathUrl,
				data: {},

				success: function (data) {

					if (data) {
						$("#form-field-select-2").html("");
						$("#form-field-select-2").append($("<option></option>").val('0').html('Select Group'));
						for (var i = 0; i < data.length; i++)
						{ var item = data[i]; $("#form-field-select-2").append($("<option></option>").val(item.GroupID).html(item.Name)) }
						$("#form-field-select-2").trigger("chosen:updated");
						$("#form-field-select-2").prop("disabled", "");
						$("#loader-wrapper").hide();
					}
					else {
						$("#form-field-select-2").html("");
						$("#form-field-select-2").trigger("chosen:updated");
					}
					$("#loader-wrapper").hide();
				}
			});
		}


	}
	function getgroupsDataMembers(id) {
		 
		var grpval = $('#form-field-select-2 option:selected').val();
		if (grpval == "0") {
			var dlg = bootbox.alert('Please Select Group ', function (e) {
				$(dlg).modal('hide');
			});
			return;
		}
		$("#loader-wrapper").show();
		var pathUrl = '@Url.Action("GetGroupMembersPartial", "SMSCompose", new { Area = "Admin" })'; 
		$.ajax({
			url: pathUrl,
			type: 'GET',
			data: { GroupID: grpval },
			success: function (data) {
			 
				if (data) {

					$("#contactList").html(data);

				} else {
					var dlg = bootbox.alert('Error', function (e) {

						$(dlg).modal('hide');
					});
				}
				$("#loader-wrapper").hide();
			},
			error: function (xhr, ajaxOptions, thrownError) {
				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});
			}
		});
	}
</script>
