﻿@model SBL.DomainModel.ComplexModel.SMSComposeModel
@{
	ViewBag.Title = "SMS Compose";
	Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
@Html.Partial("_LeftMenu")
<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
		</script>
		<ul class="breadcrumb">
			<li>
				<i class="ace-icon fa fa-home home-icon"></i>
				<a href="@Url.Action("Index", "SMSCompose")">@Resources.MasterDataDashboard.Home</a>
			</li>
			<li>
				<a href="@Url.Action("Index", "SMSCompose")">@Resources.MasterDataDashboard.SMS @Resources.MasterDataDashboard.Compose</a>
			</li>
			<li class="active">Compose</li>
		</ul>
		<div class="legAssm">
			<span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
			<span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
		</div>
	</div>
	<div class="page-content">
		<div id="Menu">
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div class="pass-table">
						<div id="canvasloader-container1" class="canvasloader" style="text-align: center;"></div>
						<div id="divDataContainer" class="form-horizontal">
							<div class="form-group">
								<div class="alert alert-block alert-success">
									@*<button type="button" class="close" data-dismiss="alert">
										<i class="ace-icon fa fa-times"></i>
									</button>*@

									<i class="ace-icon fa fa-check green"></i>

									Add Own Customize Group
									@*<span class="badge badge-pink" style="cursor: pointer; border-radius: 3px;" onclick="ShowGroupModal()">Create Own Group</span>*@
									<button class="btn btn-purple btn-xs" style="margin-left: 10px;" data-toggle="tooltip" title="Add Own Group" onclick="ShowGroupModal()">
										<i class="ace-icon glyphicon glyphicon-plus"></i>
										Create Own Group
									</button>


									<button class="btn btn-info btn-xs" style="margin-left: 10px;" data-toggle="tooltip" title="Add Member(s) For Own Group" onclick="ShowGroupModalMember()">
										<i class="ace-icon glyphicon glyphicon-plus"></i>
										Add Member(s) For Own Group
									</button>

								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="EMail">
									To :
								</label>
								<div class="cl-xs-8 col-sm-7 col-md-6">
									<div class="input-group input-group-xs">
										@Html.TextBoxFor(m => m.To, new
	 {
		 @id = "txtSMSMsgReceiver",
		 @name = "txtSMSMsgReceiver",
		 @style = "width:100%;resize:vertical;height:50px;",
		 @autofocus = "autofocus"
	 })
										<span class="input-group-addon">
											<a id="lnkImportContacts" data-rel="tooltip" class="blue tooltip-success" title="Import Contacts"
												href="javascript:ShowContactListDlg();">
												<i class="ace-icon fa fa-book bigger-200"></i>
											</a>
										</span>
									</div>
								</div>
							</div>
							<div class="space-2"></div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="Message">
									Message :
								</label>
								<div class="cl-xs-8 col-sm-7 col-md-6">
									@Html.TextAreaFor(m => m.Message, new
	{
		@id = "txtMessage",
		@name = "txtMessage",
		@style = "width:100%;resize:vertical;height:100px;",
		@autofocus = "autofocus"
	})
								</div>
							</div>
							<div class="space-2"></div>
							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="">
								</label>
								<div class="cl-xs-8 col-sm-7 col-md-6" style="margin-bottom: 75px;">
									<button class="btn btn-primary pull-right" id="btnSend" type="submit">
										<i class="ace-icon fa fa-share icon-on-right"></i>
										@Resources.MasterDataDashboard.SendSMS
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id='dlgContactList' class="hide">
			<div id='dlgContactListDetails' style="text-align: center"></div>
		</div>
	</div>
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dlgAddNewGroup" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content" style="width: 80%; margin-left: 30px;">
			<div class="modal-header" style="height: 65px;">
				<h3>Add Own Customize Group</h3>
				<button type="button" class="close" data-dismiss="modal">
				</button>
			</div>
			<div id="divAttachedeFileDetails" class="modal-body alert alert-block alert-success">
				Group Name :	@Html.TextBox("txtGroupName")
				<button class="btn btn-success" style="padding: 2px;" id="btnSaveGroup">Save</button>

				<div id="divGroupDetails"></div>
			</div>
			<div class="modal-footer" style="margin-top: 0%; text-align: right;">

				@*<button type="button" class="btn btn-app btn-danger btn-sm" data-dismiss="modal">
                    <i class="ace-icon glyphicon glyphicon-remove bigger-200"></i>
                </button>*@
				<button type="button" class="btn btn-app btn-danger" data-dismiss="modal" style="width: 9%; padding: 0px; font-size: 15px;">
					Close
				</button>
			</div>

		</div>
	</div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dlgAddNewGroupMember" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content" style="width: 100%; margin-left: 30px;">
			<div class="modal-header" style="height: 65px;">
				<h3>Add Members(s) to Own Group</h3>
				<button type="button" class="close" data-dismiss="modal">
				</button>
			</div>
			<div id="divMemberDetails" class="modal-body">

				<div class="col-sm-12" style="width: 98%;">
					<div class="widget-box">

						<div class="widget-body">
							<div class="widget-main no-padding-right no-padding-left">
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name">Group</div>
										<div class="profile-info-value">
											<div class="input-group col-xs-12">
												<label class="col-xs-12">
													@Html.DropDownList("ddlGroup", @ViewBag.GroupList as SelectList, "Select Group", new { @class = "col-xs-12 RemoveDdlBorder", @required = "required" })
												</label>
											</div>

										</div>
										<div class="profile-info-name">Member Name</div>
										<div class="profile-info-value">
											<div class="input-group col-xs-12">
												<label class="col-xs-12">
													@Html.TextBox("txtGroupMemberName")
													<select id="ddlGender">
														<option value="Male">Male</option>
														<option value="Female">Female</option>
													</select>
												</label>
											</div>

										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name">Mobile</div>
										<div class="profile-info-value">
											<div class="input-group col-xs-12">
												<label class="col-xs-12">
													@Html.TextBox("txtMobileNo")
												</label>
											</div>

										</div>
										<div class="profile-info-name">Email</div>
										<div class="profile-info-value">
											<div class="input-group col-xs-12">
												<label class="col-xs-12">
													@Html.TextBox("txtEmail")
												</label>
											</div>

										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"></div>
										<div class="profile-info-value">
											<div class="input-group col-xs-12">
												<label class="col-xs-12">
													<button class="btn btn-success" style="padding: 2px;" id="btnSaveGroupMember">Save</button>
												</label>
											</div>

										</div>
									</div>
								</div>

								<div id="divGroupDetailsMember" class="profile-user-info profile-user-info-striped"></div>
							</div>
							
						</div>
					</div>
				</div>

				@*<div id="divGroupDetailsMember" style="margin-top: 25%;"></div>*@
			</div>
			<div class="modal-footer" style="margin-top: 25%; text-align: right;">

				@*<button type="button" class="btn btn-app btn-danger btn-sm" data-dismiss="modal">
                    <i class="ace-icon glyphicon glyphicon-remove bigger-200"></i>
                </button>*@
				<button type="button" class="btn btn-app btn-danger" data-dismiss="modal" style="width: 9%; padding: 0px; font-size: 15px;">
					Close
				</button>
			</div>

		</div>
	</div>
</div>

@Html.Hidden("hdnGroupId")
@Html.Hidden("hdnEditMode")
@Html.Hidden("hdnEditModeMember")

<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/jquery-makeTableScrollable.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script type="text/javascript">

	function DeleteMember(id) {

		var dlg = bootbox.confirm("Are you sure to Delete Member ?", function (e) {

			if (e == true) {

				$("#loader-wrapper").show();
				$.ajax({
					url: "/Admin/SMSCompose/DeleteGroupMemberById",
					type: 'GET',
					data: { GroupMemberID: id },

					success: function (data) {

						var dlg = bootbox.alert(data, function (e) {
							$(dlg).modal('hide');
						});
						GetGroupMemberDetails($("#ddlGroup").val());
						$("#loader-wrapper").hide();
					},
					error: function (xhr, ajaxOptions, thrownError) {
						var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {
							$(dlg).modal('hide');
						});
					}
				});

			}
		});

	}

	function GetGroupDetails() {
		$.ajax({
			url: "/Admin/SMSCompose/GetOwnGroupListDetails",
			type: 'GET',
			data: {},

			success: function (data) {
				if (data) {
					$("#ddlGroup").html("");
					$("#ddlGroup").append($("<option></option>").val('0').html('Select Group'));
					for (var i = 0; i < data.length; i++)
					{ var item = data[i]; $("#ddlGroup").append($("<option></option>").val(item.GroupID).html(item.Name)) }
					$("#ddlGroup").trigger("chosen:updated");
					$("#ddlGroup").prop("disabled", "");
					$("#loader-wrapper").hide();
				}
				else {
					$("#ddlGroup").html("");
					$("#ddlGroup").trigger("chosen:updated");
				}

			},
			error: function (xhr, ajaxOptions, thrownError) {
				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {
					$(dlg).modal('hide');
				});
			}
		});
	}

	function GetGroupDetailsForSelectedGroupID(id) {

		$("#loader-wrapper").show();
		$.ajax({
			url: "/Admin/SMSCompose/GetOwnGroupListDetails",
			type: 'GET',
			data: {},

			success: function (data) {
				if (data) {
					$("#ddlGroup").html("");
					$("#ddlGroup").append($("<option></option>").val('0').html('Select Group'));
					for (var i = 0; i < data.length; i++)
					{ var item = data[i]; $("#ddlGroup").append($("<option></option>").val(item.GroupID).html(item.Name)) }
					$("#ddlGroup").trigger("chosen:updated");
					$("#ddlGroup").prop("disabled", "");
					$("#loader-wrapper").hide();
				}
				else {
					$("#ddlGroup").html("");
					$("#ddlGroup").trigger("chosen:updated");
				}

			},
			error: function (xhr, ajaxOptions, thrownError) {
				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {
					$(dlg).modal('hide');
				});
			},
			complete: function () {
				$("#ddlGroup").val(id);
				$("#loader-wrapper").hide();
			}
		});
	}
	$("#ddlGroup").change(function () {

		if ($("#ddlGroup option:selected").text() == "Select Group") {
			var dlg = bootbox.alert("Please Select Group", function (e) {
				$(dlg).modal('hide');
			});
			return;
		}
		GetGroupMemberDetails($("#ddlGroup").val());

	});
	function GetGroupMemberDetails(id) {
		$("#loader-wrapper").show();
		$.ajax({
			url: "/Admin/SMSCompose/GetGroupMemberByGroupID",
			type: 'GET',
			data: { GroupID: id },

			success: function (data) {
				$("#divGroupDetailsMember").html("");
				$("#divGroupDetailsMember").html(data);
				$("#loader-wrapper").hide();
			},
			error: function (xhr, ajaxOptions, thrownError) {
				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {
					$(dlg).modal('hide');
				});
			}
		});
	}
	function ShowGroupModalMember() {
		GetGroupDetails();
		$("#dlgAddNewGroupMember").modal('show');
		$("#divGroupDetailsMember").html("");
		$("#hdnEditModeMember").val("Add")

	}

	function ShowMembersByGroupId(id) {
		debugger;
		///GetGroupDetails();
		GetGroupDetailsForSelectedGroupID(id)
		$("#dlgAddNewGroupMember").modal('show');
		$("#divGroupDetailsMember").html("");
		$("#hdnEditModeMember").val("Add")
		GetGroupMemberDetails(id);
	}

	function EditGroup(id, name) {

		$("#hdnEditMode").val("Edit");
		$("#hdnGroupId").val(id);
		$("#txtGroupName").val(name);
		$("#btnSaveGroup").text("Update");


	}


	function OwnGroupList() {
		$("#loader-wrapper").show();

		$.ajax({
			url: "/Admin/SMSCompose/GetOwnGroupList",
			type: 'GET',
			data: {},

			success: function (data) {

				$("#divGroupDetails").html(data);
				$("#loader-wrapper").hide();


			},
			error: function (xhr, ajaxOptions, thrownError) {
				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {
					$(dlg).modal('hide');
				});
			}
		});
	}

	$("#btnSaveGroup").click(function () {

		var GroupN = $("#txtGroupName").val();
		if (GroupN.trim().length == 0) {
			var dlg = bootbox.alert("Please Enter Group Name", function (e) {
				$(dlg).modal('hide');
			});
			return;
		}

		$("#loader-wrapper").show();

		$.ajax({
			url: "/Admin/SMSCompose/SaveGroup",
			type: 'POST',
			data: JSON.stringify({
				GroupId: $("#hdnGroupId").val(),
				GroupName: $("#txtGroupName").val(),
				Mode: $("#hdnEditMode").val()
			}),
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function (data) {

				$("#loader-wrapper").hide();
				OwnGroupList();
				$("#txtGroupName").val("");
				$("#btnSaveGroup").text("Save");
				var dlg = bootbox.alert(data.Message, function (e) {
					$(dlg).modal('hide');
				});
			},
			error: function (xhr, ajaxOptions, thrownError) {
				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {
					$(dlg).modal('hide');
				});
			}
		});
	});


	$("#btnSaveGroupMember").click(function () {

		var GroupN = $("#ddlGroup option:selected").text();
		if (GroupN == "Select Group") {
			var dlg = bootbox.alert("Please Select Group ", function (e) {
				$(dlg).modal('hide');
			});
			return;
		}

		$("#loader-wrapper").show();

		$.ajax({
			url: "/Admin/SMSCompose/SaveGroupMember",
			type: 'POST',
			data: JSON.stringify({
				GroupMemberId: '0',
				GroupId: $("#ddlGroup").val(),
				GroupMemberName: $("#txtGroupMemberName").val(),
				Gender: $("#ddlGender").val(),
				Mobile: $("#txtMobileNo").val(),
				Email: $("#txtEmail").val(),
				Mode: 'Add'
			}),
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function (data) {



				$("#txtGroupMemberName").val("");
				$("#txtMobileNo").val("");
				$("#txtEmail").val("");
				GetGroupMemberDetails($("#ddlGroup").val());
				$("#loader-wrapper").hide();


				var dlg = bootbox.alert(data.Message, function (e) {
					$(dlg).modal('hide');
				});
			},
			error: function (xhr, ajaxOptions, thrownError) {
				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {
					$(dlg).modal('hide');
				});
			}
		});
	});

	function ShowGroupModal() {

		$("#dlgAddNewGroup").modal('show');
		$("#hdnEditMode").val("Add")
		OwnGroupList();
	}

	$(document).ready(function () {

		$("#Compose").addClass("active open");
		$("#ComposeemailSub").addClass("nav-show").css("display", "block");
		$("#composeSmsList").addClass("active");
		$("#ComposeLinkId").removeClass("fa-file").addClass("fa-file-o");

		$("#btnAddUsers").click(function () {

			ShowContactListDlg();

		});

		$("#lnkImportContacts").tooltip({
			show: {
				effect: "slideDown",
				delay: 250
			}
		});

		$("#btnSend").click(function (e) {

			var smsList = $("#txtSMSMsgReceiver").val();

			var lastChar = smsList.slice(-1);

			if (lastChar == ',') {

				var str = smsList.substring(0, smsList.length - 1);

				$("#txtSMSMsgReceiver").val(str);
			}

			var validateRes = ValidateNumbersList($("#txtSMSMsgReceiver").val());

			if ($("#txtSMSMsgReceiver").val() == '') {

				var dlg = bootbox.alert('Phone number cannot be empty', function (e) {

					$(dlg).modal('hide');
				});

				e.stopPropagation();

				e.preventDefault();
			}
			else if ($("#txtMessage").val() == '') {

				var dlg = bootbox.alert('Cannot send an sms with an empty message', function (e) {

					$(dlg).modal('hide');
				});

				e.stopPropagation();

				e.preventDefault();
			}
			else {

				if (validateRes != true) {

					e.stopPropagation();

					e.preventDefault();
				}
				else {

					$.ajax({
						type: "POST",
						url: '/Admin/SMSCompose/SendSMS',
						data: JSON.stringify({

							to: $("#txtSMSMsgReceiver").val(),

							message: $("#txtMessage").val()
						}),
						dataType: 'json',
						contentType: "application/json; charset=utf-8",
						processData: false,
						success: function (response) {

							var dlg = bootbox.alert(response, function (e) {

								$(dlg).modal('hide');
							});

							$("#txtSMSMsgReceiver").val('');

							$("#txtMessage").val('');

						},
						error: function (error) {
							//$('#GeneralSection').html(error.responseText);
						}
					});
				}
			}

		});

		$("#txtSMSMsgReceiver").keypress(function (e) {

			var key = (e.which) ? e.which : e.keyCode;

			if ((key >= 48 && key <= 57) || (key == 44) || (key == 8)) {

				return true;
			}
			else {

				return false;
			}
		});

	});

	function IsSkypePluginInstalled() {

		var $ = jQuery;

		if ($.browser.safari || $.browser.opera) {
			if (typeof (navigator.mimeTypes["application/x-skype"]) == "object") {
				return true;
			}
		} else if ($.browser.msie) {
			try {
				if (new ActiveXObject("Skype.Detection")) return true;
			} catch (e) { }
		} else {
			if (typeof (navigator.mimeTypes["application/x-skype"]) == "object") {
				return true;
			}
		}
	}


	function ValidateNumbersList(smsList) {

		//var smsListRegx = /[0-9]+(,[0-9]+)*/

		var smsList = smsList.split(',');

		var success = true;

		$.each(smsList, function (e, i) {

			if (smsList[e] == ' ' || smsList[e].length < 10 || smsList[e].length > 12) {

				success = false;
			}

		});

		if (success == false) {

			var dlg = bootbox.alert('Mobile Number List contains invalid Mobile Numbers', function (e) {

				$(dlg).modal('hide');
			});
		}

		return success;

	}


	function AddToSMSList(mobileNo) {

		var smsList = $("#txtSMSMsgReceiver").val();

		if (mobileNo != '' || mobileNo != null) {

			if (smsList != '') {

				var lastChar = smsList.slice(-1);

				if (lastChar == ',') {

					smsList += mobileNo;
				}
				else {

					smsList += "," + mobileNo;
				}
			}
			else {

				smsList += mobileNo + ",";
			}
		}

		$("#txtSMSMsgReceiver").val(smsList);
	}

	function ShowContactListDlg() {

		var cl = new CanvasLoader('canvasloader-container1');

		cl.show();

		$.ajax({
			url: "/Admin/SMSCompose/GetContactList",
			type: 'GET',
			data: '',
			success: function (data) {

				if (data) {

					$("#dlgContactListDetails").html(data);

					cl.hide();

					var dialog = $("#dlgContactList").removeClass('hide').dialog({
						resizable: false,
						modal: true,
						title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-pencil-square-o bigger-130 blue'></i> Contacts </h4></div>",
						width: 800,
						title_html: true,
						buttons: [
							{
								text: "OK",
								"class": "btn btn-sm btn-success",
								click: function () {
									$(this).dialog("close");
								}
							}
						]
					});

				} else {
					var dlg = bootbox.alert('Error', function (e) {

						$(dlg).modal('hide');
					});
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {
				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});
			}
		});
	}

</script>
