.navbar .topLogo {
    color: #FFFFFF;
    text-shadow: none;
    display: block;
    float: left;
    font-weight: 400;
    margin-left: -8px;
    padding: 0px 0px;
}

    .navbar .topLogo img {
        float: left;
        padding: 2px 12px 2px 20px;
    }

    .navbar .topLogo .logotext {
        float: left;
        padding: 7px 17px 0;
        font-size: 24px;
    }

        .navbar .topLogo .logotext small {
            font-size: 16px;
            font-weight: 100;
        }

.legAssm {
    position: absolute;
    right: 22px;
    top: 2px;
}


#two-column {
    display: block;
}

#resize-left {
    width: 48%;
    float: left;
}

    #resize-left .col-xs-12, #resize-right .col-xs-12 {
        overflow: hidden;
    }

#resize-right {
    float: left;
    width: 50%;
    padding: 0 0 0 15px;
}

#resize-left .ui-resizable-handle {
    background: url("../img/vgrabber.gif") no-repeat scroll center center #EEEEEE;
}

.ui-pg-table {
    table-layout: initial!important;
}

/* This Sytle Class added for showing Nav icon in Grid by Sunil on 27-06-2014*/
/*Start Here*/

.ui-icon-seek-first:before {
    font-size: 140% !important;
    content: "\f100";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}


.ui-icon-seek-prev:before {
    font-size: 140% !important;
    content: "\f104";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.ui-icon-seek-next:before {
    font-size: 140% !important;
    content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.ui-icon-seek-end:before {
    font-size: 140% !important;
    content: "\f101";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}



.ui-icon {
    text-indent: 0!important;
}

.label {
    font-size: 12px;
    line-height: 1.15;
    height: 20px;
}

.label-warning {
    background-color: #7FA2C7 !important;
}

.label-warning1 {
    background-color: #E2DFE0 !important;
}

/*CSS for change in Jqgrid Lable Verticle Align Top and hide sorting Icon */
.ui-jqgrid .ui-jqgrid-labels th {
    border-right: 1px solid #E1E1E1 !important;
    text-align: left !important;
    vertical-align: top;
}

.ui-grid-ico-sort:before {
    display: none;
    content: "\f0d7";
    font-family: FontAwesome;
    font-size: 12px;
}
/*full Screen styles sanish- 24-07-2014 12:00PM*/
.sblFullScreen.fullscreen {
    right: 15px!important;
    overflow-x: auto;
    overflow-y: scroll;
}

.mbtn {
    border-radius: 0px;
    margin-left: 12px!important;
    margin-top: 0px!important;
    height: 46px!important;
}

/*End Here*/
/*****************media Query************/
@media only screen and (max-width: 991px) {
}
/* Medium devices (desktops, 992px and up) */
@media only screen and (max-width: 768px) {
    .light-blue {
        float: left!important;
        width: auto;
    }
}

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 568px) {
    .light-blue {
        float: left!important;
        width: auto;
    }
}

@media only screen and (max-width: 479px) {
    .light-blue {
        float: left!important;
        width: auto;
    }
}

/*Add class for PDF Icon on 13/01/2015 by Sunil*/
.PdfBackGround {
    background: url(../img/pdfico.png) no-repeat top left;
    display: block;
    width: 76px;
    height: 31px;
    text-indent: -9999px; /* hides the link text */
}

.pdficon {
    /*width: 50px;*/
    float: right;
}
