﻿
@*@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV
@using SBL.DomainModel.Models.Enums;
@using SBL.eLegistrator.HouseController.Web.Utility;

@{
	int count = 0;
}
<script src="~/assets/js/CommonNotify.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>

<div class="modal-dialog" style="width:600px;">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="blue bigger">Change of Notice Type By Vidhan Sabha </h4>
		</div>
      <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">

                             
                                <th  style="width: 10%">Notice No.</th>
                                <th  style="width: 13%">Current Rule No.</th>                               
                                <th  style="width: 13%">Previous Rule No.</th>                    
                                <th  style="width: 15%">Change Date</th>
                            
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                                                    
                                <tr class="" >
                                    <td class="@Model.NoticeNumber"></td>
                                    <td class="@Model.BussinessType"></td>
                                    <td class="@Model.MergeDiaryNo"></td>
                                    <td class="@Model.SubmittedDateString"></td>
                                  
                                </tr>
                           
                        </tbody>
                    </table>

		<div class="modal-body">
			<div class="widget-body">
			            			
			</div>
		</div>
		<div class="modal-footer">

		<button class="btn btn-primary" type="Button" name="submitButton" id="Cancel" title="Send" value="Save" onclick="return CancelButton();">
			<i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
			Ok
		</button>


		</div>
</div>
</div>

<script>
    function CancelButton() {
        $("#ChangeDepartment").modal('hide');
    }

</script>

*@


@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV

 <script src="~/assets/js/CommonNotify.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
    
<div class="modal-dialog" style="width:600px;">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="blue bigger">Change of Notice Type By Vidhan Sabha </h4>
		</div>
    <div class="widget-body">                       
          <div class="widget-main no-padding-right no-padding-left">
             <div class="profile-user-info profile-user-info-striped">
                 <div class="profile-info-row">
                 </div>
                  <div class="profile-info-row">
                    <div class="profile-info-name">Notice No.</div>
                      <div class="profile-info-value">
                          <span id="spnNDiary" class="">
                        @Model.NoticeNumber
                          </span>
                      </div>
                </div>
                   <div class="profile-info-row">
                    <div class="profile-info-name">Current Rule No.</div>

                      <div class="profile-info-value">
                       
                          <span id="spnDetails" class="" >
                          @Model.BussinessType
                          </span>
                      </div>
                </div>
                   <div class="profile-info-row">
                    <div class="profile-info-name">Previous Rule No.</div>

                      <div class="profile-info-value">
                          <span id="spnTitle" class="">
                                @Model.MergeDiaryNo                       
                          </span>
                      </div>
                </div>
                  <div class="profile-info-row">
                    <div class="profile-info-name">Change Date</div>

                      <div class="profile-info-value">
                          <span id="spnEventId" class="">
                        @Convert.ToDateTime(@Model.SubmittedDateString).ToString("dd/MM/yyyy hh:ss tt")  
                          </span>
                      </div>
                </div>
             
        
                 </div>
              
              </div>
     
        
        
       
    </div>
   


 
 
