﻿@model SBL.eLegistrator.HouseController.Web.Areas.PaperLaidMinister.Models.HandwrittenSignatureModel
             


<div class="widget-body">
                    <div class="widget-main no-padding-right no-padding-left">
                        <div class="profile-user-info profile-user-info-striped">
                            <div class="profile-info-row">
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.HandWrittenSignature</div>

                                <div class="profile-info-value">
                                   
                                  @Html.RadioButtonFor(m => m.HindiRadioSignatureID, "2", new { @id = "english",@name="HindiSignature",@checked="true" })English Signature
                                  @Html.RadioButtonFor(m => m.HindiRadioSignatureID,"1", new { @id = "hindi",@name="HindiSignature" }) Hindi Signature
                              
                                                
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.PagesToApplySignature:</div>
                                 
                                <div class="profile-info-value">
                                    @Html.DropDownListFor(m => m.PagesToApplySignatureID, Model.PagesToApplySignatureList, "-- Select Page --", new { @class = "col-xs-11" })
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.PositionToApplySignature: </div>

                                <div class="profile-info-value">
                                    @Html.DropDownListFor(m => m.PositionToApplySignatureID, Model.PositionToApplySignatureList, "-- Select position  Type --", new { @class = "col-xs-11" })
                                </div>
                            </div>
                        </div>
                     

                    </div>
                </div>
