﻿@model SBL.eLegistrator.HouseController.Web.Areas.RecipientGroups.Models.SendNotificationsModel
@{
    int countGroupMemList = 0;
}

<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>

@*<span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="Group Contacts" data-original-title="Bottm Info" style="text-align: left; margin-left: 0px; margin-bottom: 2px;">
    Send Group SMS
</span>*@

@using (Html.BeginForm("SendNotifications", "RecipientGroups", FormMethod.Post, new { @class = "form-horizontal", @role = "form", @id="SendNotification" }))
{    
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.PhoneNumbers)
    @Html.HiddenFor(m => m.EmailAddresses)

    <div class="tabbable">        

        <ul id="myTab" class="nav nav-tabs padding-18">
            <li class="active">
                <a href="#send-notifications" data-toggle="tab">
                    <i class="green ace-icon glyphicon glyphicon-cog bigger-120"></i>
                    Notification Settings
                </a>
            </li>

            <li>
                <a href="#reminder-settings" data-toggle="tab">
                    <i class="blue ace-icon glyphicon glyphicon-cog bigger-120"></i>
                    <span class="lang-hi">Reminder Settings </span>

                </a>
            </li>

            <li>
                <a href="#added-contacts" data-toggle="tab">
                    <i class="green ace-icon fa fa-list bigger-120"></i>
                    Contacts Selected
                </a>
            </li>

            <li>
                <a href="#add-new-contact" data-toggle="tab">
                    <i class="blue ace-icon fa fa-list bigger-120"></i>
                    <span class="lang-hi">Add Individual Contacts </span>

                </a>
            </li>

        </ul>

        <div id="SuccessDiv" style="display: none; padding: 0px 24px 0px 24px;">
            <div class="space-8"></div>
            <div class="alert alert-block alert-success no-margin">
                <p>
                    <strong>
                        <i class="ace-icon fa fa-check"></i>
                    </strong>
                    <span id="SuccessNotification" class="validation_Errors"></span>
                </p>
            </div>
        </div>

        <div class="tab-content no-border">
            <div class="tab-pane in active" id="send-notifications">
                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <div class="profile-user-info profile-user-info-striped no-padding">
                            <div class="profile-info-row">
                                <div class="profile-info-name">Add Groups </div>

                                <div class="profile-info-value">

                                    @foreach (var names in @Model.availableRecipientGroups)
                                    {
                                        var checkBoxId = "chk" + names.GroupID;
                                        var tdId = "td" + names.GroupID;
                                        <table>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" id="@checkBoxId" class="chkclass" value="@names.GroupID" onclick="AddContactMembersToList(this.value)" />
                                                </td>
                                                <td id="@tdId">
                                                    @names.Name
                                                </td>
                                            </tr>
                                        </table> 
                                    }

                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">Email/SMS :</div>

                                <div class="profile-info-value">
                                    <span class="">
                                        @Html.CheckBoxFor(model => model.SendSMS, new { @name = "Active", @title = "Is Contact Group Active" }) Send SMS
                            @Html.ValidationMessageFor(model => model.SendSMS)

                                        @Html.CheckBoxFor(model => model.SendEmail, new { @name = "Active", @title = "Is Contact Group Active" }) Send Email
                            @Html.ValidationMessageFor(model => model.SendEmail)
                                    </span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">SMS Template </div>

                                <div class="profile-info-value">
                                    <span class="">
                                        @Html.TextAreaFor(model => model.SMSTemplate, new { @class = "col-xs-12", @rows = "5", @placeholder = "SMS Template", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(model => model.SMSTemplate)
                                    </span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">Email Template </div>

                                <div class="profile-info-value">
                                    <div class="clearfix">
                                        <div class="wysiwyg-editor wysiwyg-style2" id="emailtemplate"></div>
                                    </div>
                                    <span class="">
                                        @Html.TextAreaFor(model => model.EmailTemplate, new { @class = "col-xs-12 hide", @placeholder = "Email Template", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(model => model.EmailTemplate)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="btn-group pull-right" style="padding-right: 10px;">
                        <button type="submit" id="savenotificationbtn" class="btn btn-primary">
                            <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                            Send</button>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="added-contacts">
@*                <div class="widget-body">
                    <div class="widget-main no-padding-right no-padding-left">
                        <div class="profile-user-info profile-user-info-striped">*@

                            <div class="pass-table">
                                <div role="grid" class="dataTables_wrapper form-inline">
                                    <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-4" aria-describedby="sample-table-4_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">#</th>
                                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-4" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">User Id</th>
                                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-4" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">User Name</th>
                                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-4" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Designation</th>
                                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-4" rowspan="1" colspan="1" aria-label="Organisation/Department: activate to sort column ascending">Email</th>
                                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-4" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Mobile Number</th>
                                            </tr>
                                        </thead>
                                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        </tbody>
                                    </table>

                                    <div class="row">
                                        <div class="col-xs-12" id="ButtonGroup">
                                            <input type="button" class="btn btn-primary btn-xs" id="grouptabBtn" value="Remove Contact/s" />
                                        </div>
                                    </div>

@*                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="add-new-contact">
@*                <div class="widget-body">
                    <div class="widget-main no-padding-right no-padding-left">
                        <div class="profile-user-info profile-user-info-striped">*@
                            <div id="divGetAllContactsForUserModel">
                            </div>
@*                        </div>
                    </div>
                </div>*@
            </div>

            <div class="tab-pane" id="reminder-settings">
                <div class="widget-body">
                    <div class="widget-main no-padding-right no-padding-left">
                        <div class="profile-user-info profile-user-info-striped no-padding">


                            <div class="profile-info-row">
                                <div class="profile-info-name">Reminder Type </div>
                                <div class="profile-info-value">
                                    @Html.DropDownListFor(model => model.RemainderTypeID, Model.RemainderTypesList, "-- Select Remainder Type --", new { @tabindex = "2", @class = "col-xs-12", @onchange = "ChangeRemainderType(this.value)" })
                                    @Html.ValidationMessageFor(model => model.RemainderTypeID)
                                </div>
                            </div>
                        </div>

                        <div class="profile-user-info profile-user-info-striped no-padding">
                            <div id="periodicReminders">
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Periodicity (Days) </div>
                                    <div class="profile-info-value">
                                        <select>
                                            <option value="">-- Periodicity --</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name">Till Date </div>
                                    <div class="profile-info-value">
                                        @Html.TextBoxFor(model => model.PeriodicTillDate, new { @class = "col-xs-12", @data_date_format = "dd/MM/yyyy", @placeholder = "Remainder Till Date", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(model => model.PeriodicTillDate)
                                    </div>
                                </div>

                            </div>

                            <div id="specificReminders">
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Reminder Type </div>
                                    <div class="profile-info-value">
                                        <select>
                                            <option value="">-- Periodicity --</option>
                                            <option value="1">Periodic</option>
                                            <option value="2">Specific</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    
    
    
    
    
    
    
    @*<div class="profile-user-info-striped col-sm-12 widget-main profile-info-row" style="text-align: center;">
        <div class="col-sm-6" style="vertical-align: middle;">
            <a class="btn btn-primary btn-grey toggler-toggle" id="toggler-toggleOne">0 Records Selected
            </a>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-primary btn-grey toggler-toggleExisting">
                <i class="ace-icon fa fa-times bigger-125"></i>Add Individual Contacts
            </a>
        </div>
    </div>*@
    
    @*<div id="divAllAddedContacts" class="panel-toggle">*@
    
    @* <div id="toggleOne" class="panel-toggle">
            <div class="pass-table">
                <div role="grid" class="dataTables_wrapper form-inline">
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-4" aria-describedby="sample-table-4_info">
                        <thead>
                            <tr role="row">
                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">#</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-4" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">User Id</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-4" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">User Name</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-4" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Designation</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-4" rowspan="1" colspan="1" aria-label="Organisation/Department: activate to sort column ascending">Email</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-4" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Mobile Number</th>
                            </tr>
                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                           <tr id="rowgroupmem1" data-value="Karam Thakur J.K,10033,Kthakur2014@@nic.gov.in,9977772211,groupmem1">
                                <td class="center">
                                    <input type="checkbox" class="groupcheckbox" id="groupmem1" /></td>
                                <td>10001</td>
                                <td>Karam Thakur J.K</td>
                                <td>Solan </td>
                                <td>Kthakur2014@@nic.gov.in</td>
                                <td>9977772211</td>
                            </tr>*@
                            @*                     @if (Model.NotificationAlreadySentTo != null)
                        {
                            if (Model.NotificationAlreadySentTo.Count() > 0)
                            {
                                foreach (var item in Model.NotificationAlreadySentTo)
                                {
                                    countGroupMemList = countGroupMemList + 1;
                                    var newrowmemID = "newrowmem" + @item.GroupMemberID;
                            <tr id="@newrowmemID">
                                <td class="center">@countGroupMemList</td>
                                <td>@item.GroupMemberID</td>
                                <td>@item.Name</td>
                                <td>@item.Designation</td>
                                <td>@item.Email</td>
                                <td>@item.MobileNo</td>
                            </tr>
                                }
                            }
                        }
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-xs-12" id="ButtonGroup">
                            <input type="button" class="btn btn-primary btn-xs" id="grouptabBtn" value="Remove Contact/s" />
                        </div>
                    </div>

                </div>
            </div>

        </div>*@
    
    @*<div id="toggleTwo" class="panel-toggleExisting">
        <div id="divGetAllContactsForUserModel">           
        </div>
    </div>*@
    
    @*<div class="widget-body">
        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">Select Groups To Add </div>

                    <div class="profile-info-value">
                        <span class="">
                            @Html.CheckBoxListFor(model => model.PostedRecipientGroups.RecipientGroupIDs,
                              model => model.availableRecipientGroups,
                              entity => entity.GroupID,
                              entity => entity.Name,
                              model => model.selectedRecipientGroups)

                            @Html.ValidationMessageFor(model => model.AssociatedContactGroups)
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">Add Groups </div>

                    <div class="profile-info-value">
                        
                        @foreach (var names in @Model.availableRecipientGroups)
                        {
                            var checkBoxId = "chk" + names.GroupID;
                            var tdId = "td" + names.GroupID;
                            <table>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="@checkBoxId" class="chkclass" value="@names.GroupID" onclick="AddContactMembersToList(this.value)" />
                                    </td>
                                    <td id="@tdId">
                                        @names.Name
                                    </td>
                                </tr>
                            </table> 
                        }

                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">Email/SMS :</div>

                    <div class="profile-info-value">
                        <span class="">
                            @Html.CheckBoxFor(model => model.SendSMS, new { @name = "Active", @title = "Is Contact Group Active" }) Send SMS
                            @Html.ValidationMessageFor(model => model.SendSMS)

                            @Html.CheckBoxFor(model => model.SendEmail, new { @name = "Active", @title = "Is Contact Group Active" }) Send Email
                            @Html.ValidationMessageFor(model => model.SendEmail)
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">SMS Template </div>

                    <div class="profile-info-value">
                        <span class="">
                            @Html.TextAreaFor(model => model.SMSTemplate, new { @class = "col-xs-12", @rows = "5", @placeholder = "SMS Template", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.SMSTemplate)
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">Email Template </div>

                    <div class="profile-info-value">
                        <div class="clearfix">
                            <div class="wysiwyg-editor wysiwyg-style2" id="emailtemplate"></div>
                        </div>
                        <span class="">
                            @Html.TextAreaFor(model => model.EmailTemplate, new { @class = "col-xs-12 hide", @placeholder = "Email Template", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.EmailTemplate)
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-group pull-right" style="padding-right: 10px;">
            <button type="submit" id="savenotificationbtn" class="btn btn-primary">
                <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                Save</button>
        </div>
    </div>*@
}

<script type="text/javascript">

    var emptable;

    $(document).ready(function () {
        var pathurl = '@Url.Action("GetAllContactsForUser", "RecipientGroups")';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
            },
            success: function (data) {
                $('#divGetAllContactsForUserModel').html("");
                $('#divGetAllContactsForUserModel').html(data);
            }
        });

        emptable =
         $('#sample-table-4')
         .dataTable({
             bAutoWidth: true,
             "aoColumns": [
               { "bSortable": false },
               null, null, null, null, null
             ]
         });

        $("#periodicReminders").hide();
        $("#specificReminders").hide();

        //$('.panel-toggle').hide();
        //$('.toggler-toggle').click(function () {
        //    $('.panel-toggle').slideToggle();
        //    $('#toggleOne').css({ "overflow": "" });
        //});

        //$('.panel-toggleExisting').hide();
        //$('.toggler-toggleExisting').click(function () {
        //    $('.panel-toggleExisting').slideToggle();
        //    $('#toggleTwo').css({ "overflow": "" });
        //});

        $('#PeriodicTillDate').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/MM/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });

    });

    function ChangeRemainderType(value) {
        if (value == 1) {
            $("#periodicReminders").show();
            $("#specificReminders").hide();
        }
        else if (value == 2) {
            $("#periodicReminders").hide();
            $("#specificReminders").show();
        }
        else {
            $("#periodicReminders").hide();
            $("#specificReminders").hide();
        }
    }

    function ShowNotificationMessage(msgText) {
        $("#SuccessNotification").text(msgText);
        $("#SuccessDiv").show().fadeIn(1500).delay(6400).fadeOut(800);
        //$("#SuccessDiv").show();
    }

    function AddContactMembersToList(value) {
        var chkID = "chk" + value;
        var checkBoxObj = document.getElementById(chkID);

        var pathurl = '@Url.Action("GetAllContactsByGroupID", "RecipientGroups")';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                groupID: value
            },
            success: function (data) {
                //GroupMemberID GroupID, Name, Gender, Designation, Email, MobileNo, Address, PinCode, IsActive, DepartmentCode, CreatedDate, CreatedBy
                var list = data;
                if (checkBoxObj.checked) {                    
                    $.each(list, function (index, item) {
                        if (CheckIfUserAlreadyExist(item.GroupMemberID)) { }
                        else {
                            var tabletr = "<tr id=rowmem" + item.GroupMemberID + "> <td class='center'> <input type='checkbox' class='groupcheckbox' id='mem" + item.GroupMemberID + "' /></td><td>" + item.GroupMemberID + "</td><td>" + item.Name + "</td><td>" + item.Designation + "</td><td>" + item.Email + "</td><td>" + item.MobileNo + "</td></tr>";
                            emptable.fnAddTr($(tabletr)[0]);
                        }
                    });
                    ShowNotificationMessage("Contact/s Added Successfully!");
                } else {                    
                    $.each(list, function (index, item) {
                        var tabletr = "<tr id=rowmem" + item.GroupMemberID + "> <td class='center'> <input type='checkbox' class='groupcheckbox' id='mem" + item.GroupMemberID + "' /></td><td>" + item.GroupMemberID + "</td><td>" + item.Name + "</td><td>" + item.Designation + "</td><td>" + item.Email + "</td><td>" + item.MobileNo + "</td></tr>";

                        var trID = "rowmem" + item.GroupMemberID;
                        var trdata = $("#sample-table-4 tbody tr[id=" + trID + "]")[0];
                        emptable.fnDeleteRow(trdata, null, true);
                    });
                    ShowNotificationMessage("Contact/s Removed Successfully!");
                }
            }
        });
    }

    function CheckIfUserAlreadyExist(GroupMemberID) {
        var isexist = false;
        var rerowid = "rowmem" + GroupMemberID;
        if (emptable.fnSettings().aoData.length === 0) {            
        } else {
            $('#sample-table-4 tbody tr').each(function () {
                var rowid = $(this).attr('id');
                if (rowid == rerowid) {
                    isexist = true;
                }
                else {
                }
            });
        }
        return isexist;
    }

    $("#savenotificationbtn").click(function () {
        var emailtemplateData = $("div#emailtemplate").html();
        $("#EmailTemplate").val(emailtemplateData);        
        
        var sendSMS = $('#SendSMS').prop('checked');
        var sendEmail = $('#SendEmail').prop('checked')

        var SMSTemplate = $('#SMSTemplate').val();
        var EmailTemplate = $('#EmailTemplate').val();

        //alert("emptable.rows().data() : " + emptable.fnGetData());
        var rows = emptable.fnGetNodes();
        //alert("emptable.rows().data() : " + rows);
        var phoneNumbers = [];
        var emailAddress = [];

        for (var i = 0; i < rows.length; i++) {
            phoneNumbers.push($(rows[i]).find("td:eq(5)").html());
            emailAddress.push($(rows[i]).find("td:eq(4)").html());
        }
        //alert("Phone Numbers are : " + phoneNumbers);
        //alert("Email addresses are : " + emailAddress);

        $('#PhoneNumbers').val(phoneNumbers);
        $('#EmailAddresses').val(emailAddress);

        //assign the phonenumbers and email address to variables in the model.

        var status = false;

        if (sendSMS && sendEmail) {
            //alert("Postback 1");
            if (SMSTemplate == "" || EmailTemplate == "") {
                alert("SMS and Email Template/s are required!");
            }
            else { status = true; }
        }
        else if (sendSMS == true && sendEmail == false) {
            //alert("Postback 2");
            if (SMSTemplate == "") {
                alert("SMS Template is required!");
            }
            else { status = true; }
        }
        else if (sendSMS == false && sendEmail == true) {
            //alert("Postback 3");
            if (EmailTemplate == "") {
                alert("Email Template is required!");
            }
            else { status = true; }
        }
        else { status = true; }

        if (status) {
            $("#SendNotification").submit();
        }
        else {
        }
    });

    function getMemberData(element) {
        var trdata = $("#sample-table-4 tbody tr[id=" + element + "]")[0];
        var d = emptable.row(element).data();

        //var row = emptable.fnGetData(element);
        alert("Row Element : " + d + " trdata : " + trdata);
    }

    $(document).ready(function () {
        var emailtemplateData = $("#EmailTemplate").val();
        $("div#emailtemplate").html(emailtemplateData);

        initEditor();
    });

    function GetAllAddedContacts() {
        var dialog = $("#divAllAddedContacts").removeClass('hide').dialog({
            //open: function (event, ui) {
                //emptable =
                //$('#sample-table-4')
                //.dataTable({
                //    bDestroy: true,
                //    bAutoWidth: true,
                //    bJQueryUI: true,
                //    "aoColumns": [
                //      { "bSortable": false },
                //      null, null, null, null, null
                //    ]
                //});
            //},

            resizable: false,
            modal: true,
            title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon glyphicon glyphicon-tasks bigger-130 blue'></i> Contacts Who Will Recive Notifications</h4></div>",
            width: 800,
            title_html: true,
            buttons: [
                {
                    text: "OK",
                    "class": "btn btn-primary btn-xs",
                    click: function () {
                        $(this).dialog("close");
                    }
                }
            ]
        });

        //$('#sample-table-4').css('width', '');
    }

    function GetAllContactsForUser() {
        var pathurl = '@Url.Action("GetAllContactsForUser", "RecipientGroups")';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
            },
            success: function (data) {
                $('#divGetAllContactsForUserModel').html("");
                $('#divGetAllContactsForUserModel').html(data);                
                var dialog = $("#divGetAllContactsForUser").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon glyphicon glyphicon-tasks bigger-130 blue'></i> Add Contacts In Notification List</h4></div>",
                    width: 800,
                    title_html: true,
                    buttons: [
                        {
                            text: "OK",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $('#divGetAllContactsForUserModel').html("");
                                $(this).dialog("close");                                
                            }
                        }
                    ]
                });

            }
        });
    }

    //$('#sample-table-4').css('width', '');

    //emptable.fnClearTable();

    //$xml.find("row").each(function (index) {
    //    var id = $(this).prop("id");
    //    var $cells = $(this).find("cell");
    //    var c1 = $cells.eq(0).text();
    //    var c2 = $cells.eq(1).text();
    //    var c3 = $cells.eq(2).text();

    //    oTable.fnAddData([c1, c2, c3]);
    //});

    $("#grouptabBtn").click(function () {
        var userdata = [];
        $("input:checkbox:checked.groupcheckbox ").each(function () {
            var chkbxId = $(this).attr("id");
            var rowid = "row" + chkbxId;
            userdata.push(rowid);
        });

        /// Add emp table rows to group table 
        if (userdata.length != 0) {
            userdata.forEach(removegrouprow);
        }
    });

    function removegrouprow(element) {
        var trdata = $("#sample-table-4 tbody tr[id=" + element + "]")[0];
        emptable.fnDeleteRow(trdata, null, true);
    }

    function initEditor() {
        $('#emailtemplate').ace_wysiwyg({
            toolbar:
            [
                {
                    name: 'font',
                    title: 'Custom tooltip',
                    values: ['Some Font!', 'Arial', 'Verdana', 'Comic Sans MS', 'Custom Font!']
                },
                null,
                {
                    name: 'fontSize',
                    title: 'Custom tooltip',
                    values: { 1: 'Size#1 Text', 2: 'Size#1 Text', 3: 'Size#3 Text', 4: 'Size#4 Text', 5: 'Size#5 Text' }
                },
                null,
                { name: 'bold', title: 'Custom tooltip' },
                { name: 'italic', title: 'Custom tooltip' },
                { name: 'strikethrough', title: 'Custom tooltip' },
                { name: 'underline', title: 'Custom tooltip' },
                null,
                'insertunorderedlist',
                'insertorderedlist',
                'outdent',
                'indent',
                null,
                { name: 'justifyleft' },
                { name: 'justifycenter' },
                { name: 'justifyright' },
                { name: 'justifyfull' },
                null,
                {
                    name: 'createLink',
                    placeholder: 'Custom PlaceHolder Text',
                    button_class: 'btn-purple',
                    button_text: 'Custom TEXT'
                },
                { name: 'unlink' },
                null,
                {
                    name: 'insertImage',
                    placeholder: 'Custom PlaceHolder Text',
                    button_class: 'btn-inverse',
                    button_text: 'Set choose_file:false to hide this',
                    button_insert_class: 'btn-pink',
                    button_insert: 'Insert Image'
                },
                null,
                {
                    name: 'foreColor',
                    title: 'Custom Colors',
                    values: ['red', 'green', 'blue', 'navy', 'orange'],
                },
                null,
                { name: 'undo' },
                { name: 'redo' },
                null,
                'viewSource'
            ],
            'wysiwyg': {
                hotKeys: {} //disable hotkeys
            }

        }).prev().addClass('wysiwyg-style2');
    }
</script>
