﻿@{
	ViewBag.Title = "GroupMemberMaster";
	Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />

@Html.Action("LeftNavigationMenu", "SuperAdmin", new { @area = "SuperAdmin" })

 <div class="main-content">

	@Html.Partial("_BreadCrumbsPartial")



	<div class="page-content">
		<div class="row">
			<div id="outerDiv">
			</div>
			<div class="col-xs-12">
				<div class="two-column row" id="innerDiv" style="padding-bottom: 1%;">
					<div id="resize-left" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 20px;">
						<div id="divLeftContainer" style="position: absolute; top: 0; height: 20px; width: 100%; display: block;">
							<div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
							<div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
								<i onclick="resizeClick(1)" class="ace-icon fa fa-angle-double-left roundicon"></i>
							</div>
						</div>


						<div class="row-fluid">
							<div id="divDataContainer">
							</div>
						</div>
					</div>


					<div id="resize-right" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 21px;">

						<div id="divRightContainer" style="position: absolute; top: 0; height: 21px; width: 100%; display: block;">
							<div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
							<div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
								<i data-icon2="ace-icon fa fa-angle-double-right" onclick="resizeClick(0)" data-icon1="ace-icon fa fa-angle-double-left" class="ace-icon fa fa-angle-double-right roundicon"></i>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="row">
								<div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
								<div class="widget-box sblFullScreen" id="ContactGroupDiv" style="display: none">
									<div class="widget-header widget-header-flat">
										<h4 class="widget-title">Contact Group Member</h4>
										<div class="widget-toolbar">
											<a href="#" data-action="fullscreen" class="red">
												<i class="ace-icon fa fa-expand bigger-150"></i>
											</a>
										</div>
									</div>

									<div class="widget-body">
										<div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>
										<div id="RightSidebar" style="width: 100%;">
										</div>
										<div id="FormPart" style="width: 100%; height: 100%;">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/ScriptigFunctions/AdminReceipent/dataTables.fnAddTr.js"></script>

<script src="~/Scripts/canvasloader-min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script>
	$(document).ready(function () {
		GetGenericContactGroupMembers();
	});

	function hideLeftPanel() {
		$('#resize-left').width(0);
		$('#resize-right').width(100 + '%')

	}

	function hideLeftPanelAnimate() {
		resizeLeftPanel(0);
	}

	function hideRightPanel() {
		$('#resize-left').width(100 + '%');
		$('#resize-right').width(0)
	}

	function hideRightPanelAnimate() {
		resizeLeftPanel(100);
	}

	function resizeClick(isLeft) {
		var parentWidth = $('#resize-left').parent().outerWidth();
		if (isLeft) { // click on left rezise button
			if ($('#resize-left').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
			else { resizeLeftPanel(0); }
			$('#spnScrollPosition').html('1');
		} else {
			if ($('#resize-right').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
			else { resizeLeftPanel(100); }
			$('#spnScrollPosition').html('2');
		}
	}

	function resizeLeftPanel(sizeRatio) {
		var parentWidth = $('#resize-left').parent().width();
		$('#resize-left').animate({ width: +(sizeRatio) + '%' }, 500);
		$('#resize-right').animate({ width: +(100 - sizeRatio) + '%' }, 500);
	}
	function GetGenericContactGroupMembers() {

		$("#loader-wrapper").show();
		$.ajaxSetup({ cache: false });

		var pathurl = '@Url.Action("RecipientGroupMember", "RecipientGroups", new { @area = "RecipientGroups" })';
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
				IsGenericGroup: true
			},
			success: function (data) {
				$("#divDataContainer").html(data);
				$("#FormPart").html("");
				$('.widget-box').hide();

				$("#loader-wrapper").hide();
			}
		});
	}

	function GetContactGroupMembers() {

		$("#loader-wrapper").show();
		$.ajaxSetup({ cache: false });

		var pathurl = '@Url.Action("RecipientGroupMember", "RecipientGroups", new { @area = "RecipientGroups" })';
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
			},
			success: function (data) {
				$("#divDataContainer").html(data);
				$("#FormPart").html("");
				$('.widget-box').hide();

				$("#loader-wrapper").hide();
			}
		});
	}

</script>
