﻿@model SBL.eLegistrator.HouseController.Web.Areas.RecipientGroups.Models.RecipientGroupMemberModel

<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
        vertical-align: middle;
    }
</style>

@using (Html.BeginForm("NewRecipientGroupMember", "RecipientGroups", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{ 
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.SaveCreateNew)
    @Html.HiddenFor(m => m.GroupID)
    @Html.HiddenFor(m => m.CreatedBy)
    @Html.HiddenFor(m => m.CreatedDate)                                
                                
    <div class="widget-body">
        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">Contact Name <b style="color: red">*</b></div>
                    <div class="profile-info-value">
                        <span class="">
                            @Html.TextBoxFor(model => model.Name, new { @class = "col-xs-12", @tabindex = "1", @placeholder = "Contact Name" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">Gender <b style="color: red">*</b></div>
                    <div class="profile-info-value">
                        <span class="">
                            @Html.DropDownListFor(model => model.Gender, Model.GenderList, "-- Select Gender --", new { @tabindex = "2", @class = "col-xs-12" })
                            @Html.ValidationMessageFor(model => model.Gender)
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">Designation </div>
                    <div class="profile-info-value">
                        <span class="">
                            @Html.TextBoxFor(model => model.Designation, new { @class = "col-xs-12", @tabindex = "3", @placeholder = "Designation" })
                            @Html.ValidationMessageFor(model => model.Designation)
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">Department :</div>

                    <div class="profile-info-value">
                        <span class="">
                            @Html.DropDownListFor(m => m.DepartmentCode, new SelectList(Model.mDepartmentList, "deptId", "deptname", 0), "-- Select Department --", new { @id = "DdlDepartment", @class = "col-xs-12", @tabindex = "4" })
                            @Html.ValidationMessageFor(model => model.DepartmentCode)
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">Email <b style="color: red">*</b></div>
                    <div class="profile-info-value">
                        <span class="">
                            @Html.TextBoxFor(model => model.Email, new { @class = "col-xs-12", @tabindex = "5", @placeholder = "Email (abc@xyz.com)" })
                            @*@Html.ValidationMessageFor(model => model.Email)*@
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">Mobile No. <b style="color: red">*</b></div>
                    <div class="profile-info-value">
                        <span class="">
                            @Html.TextBoxFor(model => model.MobileNo, new { @class = "col-xs-12", @maxlength = "12", @tabindex = "6", @placeholder = "Mobile Number (9XX XXX XXXX)", @onkeyup = "this.value=this.value.replace(/[^\\d]/,'')" })
                            @Html.ValidationMessageFor(model => model.MobileNo)
                        </span>
                    </div>
                </div>

				 <div class="profile-info-row">
                    <div class="profile-info-name">Land Line No.</div>
                    <div class="profile-info-value">
                        <span class="">
                            @Html.TextBoxFor(model => model.LandLineNumber, new { @class = "col-xs-12", @tabindex = "7", @placeholder = "Land Line Number (XXXX-XXXXXX)" })
                             
                        </span>
                    </div>
                </div>

                
				@* <div class="profile-info-row">
                    <div class="profile-info-name">Vidhan Sabha Land Line No.</div>
                    <div class="profile-info-value">
                        <span class="">
                            @Html.TextBoxFor(model => model.LandLineNumberVS, new { @class = "col-xs-12", @tabindex = "7", @placeholder = "Land Line Number (XXXX-XXXXXX)" })
                             
                        </span>
                    </div>
                </div>*@

                <div class="profile-info-row">
                    <div class="profile-info-name">Address </div>
                    <div class="profile-info-value">
                        <span class="">
                            @Html.TextAreaFor(model => model.Address, new { @class = "col-xs-12", @rows = 4, @tabindex = "7", @placeholder = "Address" })
                            @Html.ValidationMessageFor(model => model.Address)
                        </span>
                    </div>
                </div>

                  @*<div class="profile-info-row">
                    <div class="profile-info-name">Vidha Sabha Address </div>
                    <div class="profile-info-value">
                        <span class="">
                            @Html.TextAreaFor(model => model.AddressVS, new { @class = "col-xs-12", @rows = 4, @tabindex = "7", @placeholder = "Address" })
                            @Html.ValidationMessageFor(model => model.AddressVS)
                        </span>
                    </div>
                </div>*@

                 @*<div class="profile-info-row">
                    <div class="profile-info-name">Vidha Sabha Room No.</div>
                    <div class="profile-info-value">
                        <span class="">
                            @Html.TextBoxFor(model => model.RoomNoVS, new { @class = "col-xs-12", @tabindex = "8", @placeholder = "Room No" })
                            @Html.ValidationMessageFor(model => model.RoomNoVS)
                        </span>
                    </div>
                </div>*@

                <div class="profile-info-row">
                    <div class="profile-info-name">Pin Code </div>
                    <div class="profile-info-value">
                        <span class="">
                            @Html.TextBoxFor(model => model.PinCode, new { @class = "col-xs-12", @maxlength = "6", @tabindex = "8", @placeholder = "Pin Code", @onkeyup = "this.value=this.value.replace(/[^\\d]/,'')" })
                            @Html.ValidationMessageFor(model => model.PinCode)
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">Active </div>
                    <div class="profile-info-value">
                        <span class="">
                            @Html.CheckBoxFor(model => model.IsActive, new { @name = "Active", @tabindex = "9" })
                        </span>
                    </div>
                </div>
				<div class="profile-info-row">
						<div class="profile-info-name">Ranking Order:</div>
						<div class="profile-info-value">
							<div class="input-group col-xs-12">
								<label class="inline">
									@Html.TextBoxFor(m => m.RankingOrder)
									 
								</label>
							</div>
							 
						</div>
					</div>


                 
  
			 
            </div>
        </div>

        <div class="btn-group pull-right" style="padding-right: 10px;">
            <button type="submit" id="savebtn" tabindex="10" class="btn btn-primary">
              <i class="ace-icon fa fa-floppy-o bigger-125"></i>
				 @if(Model.Mode=="Update")
			   {
		 <span>Update</span>
			   }else{
		  <span>Save</span>
			   }
				 
                </button>

            <a class="btn btn-primary btn-grey" tabindex="11" onclick="resetFieldsAndRedirect()">
                <i class="ace-icon fa fa-times bigger-125"></i>Cancel
            </a>
        </div>
        <div>Note :- In case of Govt. Official Contacts: <br>
                     -In contact name enter the name of the Department(s).<br>
                     -In the Designation enter the Name and Designation.

        </div>
    </div>
    
    <div class="space-20"></div>

}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnsaveandnew").click(function () {
            $("#SaveCreateNew").val(true);
            $("#savebtn").click();
        });

        $("#btnsave").click(function () {
            $("#savebtn").click();
        });
    });
    $("#RankingOrder").keypress(function (e) {
    	//if the letter is not digit then display error and don't type anything
    	if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
    		//display error message
    		var dlg = bootbox.alert('Please Enter Numeric Only in Ranking Order', function (e) {

    			$(dlg).modal('hide');
    		});
    		return false;
    	}
    });
    function resetFields() {
        $(".field-validation-error").empty();
        $("#Name").focus();
    }

    function resetFieldsAndRedirect() {
        $(".field-validation-error").empty();
        var redirectLocation = '/RecipientGroups/RecipientGroups/RecipientGroupMember';
        window.location.href = redirectLocation;
    }
</script>
