﻿@model SBL.eLegistrator.HouseController.Web.Areas.RecipientGroups.Models.RecipientGroupMemDashboardModel

<style>
    .widget-boxNew {
        padding: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 3px 0;
        border: 1px solid #CCC;
    }
</style>

<!-- page specific plugin styles -->
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>

@using (Html.BeginForm("RecipientGroupMember", "RecipientGroups", FormMethod.Post, new { @class = "form-horizontal", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row">

        <div class="col-xs-12">
            <div class="form-group">
                <div class="col-xs-12">
                    <label class="col-sm-3 control-label" for="form-field-1">Group Name :</label>
                    <div class="col-sm-9" style="margin-top: 5px;">
                        @Html.DropDownListFor(m => m.GroupID, new SelectList(Model.GroupList, "GroupID", "Name", 0), "-- Select Group --", new { @class = "col-xs-10 form-control", @tabindex = "3", @onchange = "FilterContactsByGroupID(this.value)" })
                    </div>
                </div>
            </div>

            <div class="widget-boxNew">
                <div class="widget-header widget-header-flat">

                    <div class="widget-toolbar no-border">
                        <a class="btn btn-xs btn-primary bigger" onclick="CreateNewContact()">
                            <i class="ace-icon fa fa-pencil-square-o"></i>New Contact
                        </a>
                        <a class="btn btn-xs btn-primary bigger" onclick="AddContactFromSystem()">
                            <i class="ace-icon fa fa-pencil-square-o"></i>Existing Groups
                        </a>
                        <a class="btn btn-xs btn-primary bigger" onclick="ExportFromExcel()">
                            <i class="ace-icon fa fa-pencil-square-o"></i>Import From Excel
                        </a>
                    </div>
                </div>
            </div>

            <div id='divAddContactFromSystem' class="hide">

                <div class="col-xs-12">

                    <div class="form-group">
                        <div class="col-xs-12">
                            <label class="col-sm-3 control-label" for="form-field-1">Group Name :</label>
                            <div class="col-sm-9" style="margin-top: 5px;">
                                @Html.DropDownListFor(m => m.GroupID, new SelectList(Model.GroupListAll, "GroupID", "Name", 0), "-- Select Group --", new { @class = "col-xs-10 form-control", @tabindex = "3", @onchange = "FilterContactsByGroupIDNew(this.value)" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group" id="FilteredContactMembers">
                    </div>
                    <br />

                    <div class="space-xs-2"></div>
                </div>
            </div>

            <div class="form-group no-padding-left no-padding-right " id="groupTable">
                @Html.Partial("_AddtoReceipentGroup", Model.RecipientGroupMemberList)
            </div>

        </div>
    </div>
}

<div id="divExportFromExcel" class="hide">
    <div id="divExportFromExcelModel">
    </div>
</div>

<div id="divNotifiySelectGroup" class="hide">
    Please select a contact group first!
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //$("#ContactGroups").addClass("active open");
        //$("#ContactGroupsSub").addClass("nav-show").css("display", "block");
        //$("#ContactGroupsSubList").addClass("active");
        //$("#ContactGroupsLinkId").removeClass("fa-file").addClass("fa-file-o");
       // GetGenericGroups();
    });
	function FilterContactsByGroupID(GroupID) {
		$("#loader-wrapper").show();
        var pathurl = '@Url.Action("GetContactsByGroupID", "RecipientGroups")';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                GroupID: GroupID,
                readOnly: false
            },
            success: function (data) {
            	$("#loader-wrapper").hide();
                $('#groupTable').html("");
                $('#groupTable').html(data);
               
            }
        });

    }

	function FilterContactsByGroupIDNew(GroupID) {
		$("#loader-wrapper").show();
        var pathurl = '@Url.Action("GetExistingContactsToAdd", "RecipientGroups")';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                GroupID: GroupID,
                readOnly: false
            },
            success: function (data) {
                $('#FilteredContactMembers').html("");
                $('#FilteredContactMembers').html(data);
                $("#loader-wrapper").hide();
            }
        });
    }

    function CreateNewContact() {
        var groupID = document.getElementById("GroupID").value;

        if (groupID != "") {
        	$("#loader-wrapper").show();
            $('.widget-box').show();
            $('.widget-title').text("Create New Contact");
            var pathurl = '@Url.Action("NewRecipientGroupMember", "RecipientGroups")';
            $.ajax({
                type: 'GET',
                url: pathurl,
                data: {
                    groupID: groupID
                },
                success: function (data) {
                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();
                }
            });
        }
        else {
            ShowSelectGroupNotification();
        }
    }

    function ShowSelectGroupNotification() {
        var dialog = $("#divNotifiySelectGroup").removeClass('hide').dialog({
            resizable: false,
            modal: true,
            title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-hand-o-down bigger-130 red'></i> Notification</h4></div>",
            width: 600,
            title_html: true,
            buttons: [
                {
                    text: "OK",
                    "class": "btn btn-primary btn-xs",
                    click: function () {
                        $(this).dialog("close");
                    }
                }
            ]
        });
    }

    function ExportFromExcel() {
        var groupID = document.getElementById("GroupID").value;

        if (groupID != "") {
            var pathurl = '@Url.Action("ImportExcel", "RecipientGroups")';
            $.ajax({
                type: 'GET',
                url: pathurl,
                data: {
                    GroupID: groupID
                },
                success: function (data) {
                    $('#divExportFromExcelModel').html("");
                    $('#divExportFromExcelModel').html(data);
                    var dialog = $("#divExportFromExcel").removeClass('hide').dialog({
                        resizable: false,
                        modal: true,
                        title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-pencil-square-o bigger-130 blue'></i> Export Contact/s From Excel</h4></div>",
                        width: 600,
                        title_html: true,
                        buttons: [
                            {
                                text: "OK",
                                "class": "btn btn-primary btn-xs",
                                click: function () {
                                    $(this).dialog("close");
                                }
                            }
                        ]
                    });

                }
            });
        }
        else {
            ShowSelectGroupNotification();
        }
    }

    function AddContactFromSystem() {
    	$("#loader-wrapper").show();
        var groupID = document.getElementById("GroupID").value;

        if (groupID != "") {
            var dialog = $("#divAddContactFromSystem").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-pencil-square-o bigger-130 blue'></i> Add Contact/s</h4></div>",
                width: 800,
                title_html: true,
                buttons: [
                    {
                        text: "OK",
                        "class": "btn btn-primary btn-xs",
                        click: function () {

                        }
                    },
                    {
                        text: "Cancel",
                        "class": "btn btn-primary btn-xs",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
            $("#loader-wrapper").hide();
        }
        else {
            ShowSelectGroupNotification();
        }

        return false;
    }

    //$("#memberRadiobtn").click(function () {
    //    $("#ministerRadiobtn").prop('checked', false);
    //    $("#employeeRadiobtn").prop('checked', false);

    //    $("#hodRadiobtn").prop('checked', false);
    //    $("#othersRadiobtn").prop('checked', false);
    //    $("#VSStaffRadiobtn").prop('checked', false);
    //    $("#secrotoryRadiobtn").prop('checked', false);

    //    $("#employeDiv").hide();
    //    $("#departmentlst").hide();
    //    $("#MinistryTable").hide();
    //    $("#MemberTable").show();
    //    $("#EmployeeTable").hide();
    //    $("#employeDiv").hide();
    //});

    //$("#ministerRadiobtn").click(function () {
    //    $("#memberRadiobtn").prop('checked', false);
    //    $("#employeeRadiobtn").prop('checked', false);

    //    $("#hodRadiobtn").prop('checked', false);
    //    $("#othersRadiobtn").prop('checked', false);
    //    $("#VSStaffRadiobtn").prop('checked', false);
    //    $("#secrotoryRadiobtn").prop('checked', false);

    //    $("#employeDiv").hide();
    //    $("#departmentlst").hide();
    //    $("#MinistryTable").show();
    //    $("#MemberTable").hide();
    //    $("#EmployeeTable").hide();
    //});

    //$("#employeeRadiobtn").click(function () {
    //    $("#memberRadiobtn").prop('checked', false);
    //    $("#ministerRadiobtn").prop('checked', false);

    //    $("#hodRadiobtn").prop('checked', false);
    //    $("#othersRadiobtn").prop('checked', false);
    //    $("#VSStaffRadiobtn").prop('checked', false);
    //    $("#secrotoryRadiobtn").prop('checked', false);

    //    $("#employeDiv").hide();
    //    $("#departmentlst").hide();
    //    $("#MinistryTable").hide();
    //    $("#MemberTable").hide();
    //    $("#EmployeeTable").hide();
    //    $("#employeDiv").show();
    //});

    //$("#secrotoryRadiobtn").click(function () {
    //    $("#hodRadiobtn").prop('checked', false);
    //    $("#othersRadiobtn").prop('checked', false);
    //    $("#VSStaffRadiobtn").prop('checked', false);
    //    $("#EmployeeTable").hide();
    //    $("#departmentlst").hide();
    //    $("#MinistryTable").hide();
    //    $("#MemberTable").hide();
    //    $("#EmployeeTable").show();
    //});

    //$("#hodRadiobtn").click(function () {
    //    $("#secrotoryRadiobtn").prop('checked', false);
    //    $("#othersRadiobtn").prop('checked', false);
    //    $("#VSStaffRadiobtn").prop('checked', false);
    //    $("#EmployeeTable").hide();
    //    $("#departmentlst").hide();
    //    $("#MinistryTable").hide();
    //    $("#MemberTable").hide();
    //    $("#EmployeeTable").show();
    //});

    //$("#othersRadiobtn").click(function () {
    //    $("#secrotoryRadiobtn").prop('checked', false);
    //    $("#hodRadiobtn").prop('checked', false);
    //    $("#VSStaffRadiobtn").prop('checked', false);
    //    $("#departmentlst").show();
    //    $("#MinistryTable").hide();
    //    $("#MemberTable").hide();
    //    $("#EmployeeTable").hide();
    //});

    //$("#VSStaffRadiobtn").click(function () {
    //    $("#secrotoryRadiobtn").prop('checked', false);
    //    $("#hodRadiobtn").prop('checked', false);
    //    $("#othersRadiobtn").prop('checked', false);
    //    $("#EmployeeTable").hide();
    //    $("#departmentlst").hide();
    //    $("#MinistryTable").hide();
    //    $("#MemberTable").hide();
    //    $("#EmployeeTable").show();
    //});

    //$("#departmentlst").change(function () {
    //    $("#EmployeeTable").hide();
    //    $("#MinistryTable").hide();
    //    $("#MemberTable").hide();
    //    $("#EmployeeTable").show();
    //});

    //$("#empdroplst").change(function () {
    //    var empval = $("#empdroplst option:selected").val();

    //    if (empval == "1") {
    //        $("#EmployeeTable").hide();
    //        $("#departmentlst").hide();
    //        $("#MinistryTable").hide();
    //        $("#MemberTable").hide();
    //        $("#EmployeeTable").show();
    //    }
    //    else if (empval == "2") {
    //        $("#EmployeeTable").hide();
    //        $("#departmentlst").hide();
    //        $("#MinistryTable").hide();
    //        $("#MemberTable").hide();
    //        $("#EmployeeTable").show();
    //    }
    //    else if (empval == "3") {
    //        $("#EmployeeTable").hide();
    //        $("#departmentlst").hide();
    //        $("#MinistryTable").hide();
    //        $("#MemberTable").hide();
    //        $("#EmployeeTable").show();
    //    }
    //    else if (empval == "4") {
    //        $("#departmentlst").show();
    //        $("#MinistryTable").hide();
    //        $("#MemberTable").hide();
    //        $("#EmployeeTable").hide();
    //    }
    //    else if (empval == "0") {
    //        $("#departmentlst").hide();
    //        $("#EmployeeTable").hide();
    //    }
    //});

    $("#button").click(function () { });

    //Add Datarow to the Table.
    $.fn.dataTableExt.oApi.fnAddTr = function (oSettings, nTr, bRedraw) {
        if (typeof bRedraw == 'undefined') {
            bRedraw = true;
        }

        var nTds = nTr.getElementsByTagName('td');
        if (nTds.length != oSettings.aoColumns.length) {
            alert('Warning: not adding new TR - columns and TD elements must match');
            return;
        }

        var aData = [];
        var aInvisible = [];
        for (var i = 0 ; i < nTds.length ; i++) {
            aData.push(nTds[i].innerHTML);
            if (!oSettings.aoColumns[i].bVisible) {
                aInvisible.push(i);
            }
        }

        /* Add the data and then replace DataTable's generated TR with ours */
        var iIndex = this.oApi._fnAddData(oSettings, aData);
        nTr._DT_RowIndex = iIndex;
        oSettings.aoData[iIndex].nTr = nTr;

        oSettings.aiDisplay = oSettings.aiDisplayMaster.slice();

        // Hidding invisible columns
        for (var i = (aInvisible.length - 1) ; i >= 0 ; i--) {
            oSettings.aoData[iIndex]._anHidden[i] = nTds[aInvisible[i]];
            nTr.removeChild(nTds[aInvisible[i]]);
        }

        // Redraw
        if (bRedraw) {
            this.oApi._fnReDraw(oSettings);
        }
    };
</script>
