﻿@model SBL.DomainModel.Models.PISModules.tPISEmployeePersonal




@*<script src="~/Scripts/bootstrap.min.js"></script>*@
<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title"></h4>
                <ul id="myTab" class="nav nav-tabs" style="width: 25%; float: left;">
                    <li class="active">
                        <a href="#home" data-toggle="tab">Current Employee
                        </a>
                    </li>
                    <li><a href="#relievedemp" data-toggle="tab">Relieved Employee</a></li>

                </ul>
                @*  <div class="widget-toolbar no-border">
                </div>*@
           <span style="float:right; font-size:14px;"> Search by office <span style="padding-left:5px;">@Html.DropDownListFor(m => m.POfficeId, new SelectList(Model.OfficeList, "OfficeId", "officename"), "-Select-", new { @id = "ddlSearchoffice", @name = "ddlSearchoffice", @onchange = "SearchOffice(this.value)",@style="float:right;" })</span></span>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="clearfix">
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="home">
                                <div class="table-responsive">
                                    <div id="divDataContainer-EmpInsertForm">
                                        @{Html.RenderPartial("~/Areas/PISModule/Views/PISEmployee/_EmployeeForm.cshtml", Model);}
                                    </div>
                                    <div id="divDataContainer-Emplist">
                                        @{Html.RenderPartial("~/Areas/PISModule/Views/PISEmployee/_EmployeeIndexList.cshtml", Model);}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="relievedemp">

                                @{Html.RenderPartial("~/Areas/PISModule/Views/PISEmployee/_EmployeeRelievedList.cshtml", Model);}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<script src="~/assets/js/bootstrap.min.js"></script>*@
@*<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>*@

<script>
    $(document).ready(function () {

        $('#tsDOB').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon

        });


    });

    function SearchOffice(officeid) {

        if (officeid != "" && officeid != null) {

            $('#loader-wrapper').show();
            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/PISModule/PISEmployee/SearchOfficeWise",
                type: 'GET',
                data: {
                    officeid: officeid
                },
                success: function (result) {
                    debugger;
                    if (result != null && result != "") {
                        $("#divDataContainer-Emplist").empty();
                        $("#divDataContainer-Emplist").html(result);
                        $('#loader-wrapper').hide();

                    }
                    else {
                        alert("Some error found!");
                        $('#loader-wrapper').hide();
                        return false;
                    }

                },

                error: function (xhr, ajaxOptions, thrownError) {

                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });
        }
    }


    function GetDetailsByAadharID(AdhaarID) {


        if (AdhaarID.length == 12) {

            if (isNaN(AdhaarID)) {

                alert("Aadhar Id should be in digits.");
                $('#AadharID').val("");
                $('#AadharID').focus();
                return false;
            }
            else {
                $('#loader-wrapper').show();
                $.ajaxSetup({ cache: false });
                $.ajax({
                    url: "/PISModule/PISEmployee/GetAdhaarDetails",
                    type: 'GET',
                    data: {
                        AdhaarID: AdhaarID
                    },
                    success: function (result) {
              
                        if (result != null && result != "") {
                            $("#AdhaarIDDetails").html(result);
                            $('#AdharDetailsPopupModel').modal('show');
                            $('#loader-wrapper').hide();
                            $('#AadharID').val("");
                        }
                        else {
                            alert("Either Aadhar Details Not found or Network not found!");
                            $('#loader-wrapper').hide();
                            $('#AadharID').val("");
                            return false;
                        }

                    },

                    error: function (xhr, ajaxOptions, thrownError) {

                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
        }
        else {
            alert("Aadhar Id Should be in 12 numbers.");
            $('#AadharID').val("");
            $('#AadharID').focus();
            return false;
        }
    }


</script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        setTimeout(function () {
            $("#MsgDiv").slideUp(400);
        }, 2000);
        $('#divPhotolistpop').css('width', '55%');
    });
    function SaveAadharInfo() {
        var IsValid = true;
        $('.ErrorMessage').empty();
        if ($('#empfname1').val() == '') {
            $('#empfname1').css("border", "1px solid red");
            $('#empfname1').after("<span class='ErrorMessage'>Name Required</span>");
            IsValid = false;
        }
        if ($('#Mobile').val() == '') {
            $('#Mobile').css("border", "1px solid red");
            $('#Mobile').after("<span class='ErrorMessage'>Mobile Required</span>");
            IsValid = false;
        }
        var adhar = $("#AadharID1").val();
        if (IsValid == true) {
            $('#loader-wrapper').show();
            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/PISModule/PISEmployee/CheckAdharIsExist",
                type: 'GET',
                dataType: "text",
                data: { adhar: adhar },
                success: function (data) {
                    if (data != "" && data!=null) {
                        alert("This Adhaar ID is already registered");
                        $('#loader-wrapper').hide();
                        return false;
                    }
                    else {


                        var formData = new FormData($('#AdharDetailForm')[0]);
                        $.ajax({
                            cache: false,
                            async: false,
                            type: "POST",
                            url: '/PISModule/PISEmployee/SaveAdharDetails',
                            data: formData,
                            beforeSend: function () {
                                $('#loader-wrapper').show();
                            },
                            success: function (data) {
                                $('#loader-wrapper').hide();
                                $('#AdharDetailsPopupModel').modal('hide');
                                $('#MainDiv').empty();
                                $('#MainDiv').append(data);

                            },
                            cache: false,
                            contentType: false,
                            processData: false,
                            error: function (error) {
                                $('#MainDiv').empty();
                                $('#MainDiv').append(error.responseText);

                            },

                            complete: function (result) {

                            }
                        });


                    }

                }
            });
        }

    }

    function UpdateEmpInfoByPOPUP() {
        $('.ErrorMessage').empty();
        var IsValid = true;
        $('.ErrorMessage').empty();
        if ($('#empfname1').val() == '') {
            $('#empfname1').css("border", "1px solid red");
            $('#empfname1').after("<span class='ErrorMessage'>Name Required</span>");
            IsValid = false;
        }
        if ($('#Mobile').val() == '') {
            $('#Mobile').css("border", "1px solid red");
            $('#Mobile').after("<span class='ErrorMessage'>Mobile Required</span>");
            IsValid = false;
        }

        if (IsValid == true) {
            var adhar = $("#AadharID1").val();
            $('#loader-wrapper').show();
            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/PISModule/PISEmployee/CheckAdharIsExist",
                type: 'GET',
                dataType: "text",
                data: { adhar: adhar },
                success: function (data) {
                    if (data == "") {
                        alert("Please submit adhar details");
                        return false;
                    }
                    else {

                        var formData = new FormData($('#AdharDetailForm')[0]);
                        $.ajax({
                            cache: false,
                            async: false,
                            type: "POST",
                            url: '/PISModule/PISEmployee/UpdateEmpDetailsByPopup',
                            data: formData,
                            beforeSend: function () {
                                $('#loader-wrapper').show();
                            },
                            success: function (data) {
                                $('#loader-wrapper').hide();
                                $('#AdharDetailsPopupModel').modal('hide');
                                $('#MainDiv').empty();
                                $('#MainDiv').append(data);

                            },
                            cache: false,
                            contentType: false,
                            processData: false,
                            error: function (error) {
                                $('#MainDiv').empty();
                                $('#MainDiv').append(error.responseText);

                            },

                            complete: function (result) {

                            }
                        });
                    }

                }
            });
        }
    }


</script>

<!-- SHOW AADHAR DETAILS -->


<div class="modal" id="AdharDetailsPopupModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="divPhotolistpop">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Personal Details</h4>
            </div>
            <form method="post" action="/SchemeSetup/SaveQualification" id="AdharDetailsPopupModelForm">
                <div class="modal-body">
                    <div id="AadharDetailsListDiv">
                        <div id="AdhaarIDDetails">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-3 pull-left">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-primary" id="btnSaveAadharInfo" onclick="return SaveAadharInfo();">Save Info</button>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-primary" id="btnUpdateAadharInfo" style="display: none" onclick="return UpdateEmpInfoByPOPUP();">Update Info</button>
                        </div>

                    </div>


                </div>
            </form>
        </div>
    </div>
</div>

