﻿@using SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models
@model  SBL.DomainModel.Models.PISModules.tPISEmployeePersonal

@{  int count = 0;
    if (ViewBag.CurrentPage > 1)
    {

        count = (ViewBag.PageSize * (ViewBag.CurrentPage - 1));
    }
}
<!-- PAGE CONTENT BEGINS -->

<div class="pass-table">
    @if (Model != null)
    {
          if (Model.EmployeeList.Count() > 0)
        {      
        <input type="hidden" id="pageId" name="pageId" value="@ViewBag.CurrentPage" />
        <div class="table-header">
            <div class="form-group">
                @if (ViewBag.Msg != null)
                {
                    <div class="@ViewBag.Class" id="MsgDiv">
                        <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
                        <strong><i class="ace-icon fa fa-check-square-o"></i>@ViewBag.Notification ! </strong>@ViewBag.Msg
                    </div>
                }

            </div>
        </div>  
        <div>

            <label>Display</label>
            <select size="1" name="PageSize" id="PazeSize">
                 <option value="20" selected="selected">20</option>
                <option value="40">40</option>
                <option value="60">60</option>
                <option value="80">80</option>
                 <option value="100">100</option>
            </select>
            <label>Records</label>
        </div>           
        <table class="table  table-bordered  dataTable" id="tblSentiopostList" aria-describedby="sample-table-2_info">
            <thead>

                <tr role="row">

                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Office</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Posts</th>
                    <th class="sorting SortingData" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Aadhar ID</th>
                    <th class="sorting SortingData" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Name</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Father's Name</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Joined On</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Relieved On</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Gender</th>
                    @*<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Department</th>*@
                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Action</th>

                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                @foreach (var item in Model.EmployeeList)
                {
                    count = count + 1; 
                  
                    <tr id="Row-">
                        <td class="center" style="width: 5%">
                            @count
                        </td>
                        <td style="width: 15%">@item.OfficeName</td>
                        <td style="width: 15%">@item.DesignationName</td>
                        <td class="center" style="width: 10%">


                            @item.AadharID
                        </td>
                        <td class="center" style="width: 10%">
                            @item.empfname

                        </td>
                        <td class="center" style="width: 10%">
                            @item.empfmh

                        </td>
                        <td class="center" style="width: 10%">
                            @if (@item.dofjoin == null)
                            {
                                @item.dofjoin
                            }
                            else
                            {
                                @item.dofjoin.Value.ToString("dd/MM/yyyy")
                            }


                        </td>
                        <td class="center" style="width: 10%">
                            @if (@item.dofretirecurr == null)
                            {
                                @item.dofretirecurr
                            }
                            else
                            {
                                @item.dofretirecurr.Value.ToString("dd/MM/yyyy")
                            }

                        </td>
                        <td class="center" style="width: 5%">
                            @item.empgender

                        </td>

                        @*   <td style="width: 10%">
                            @item.DepartmentName
                        </td>*@

                        <td class="center" style="width: 10%">


                            <div class="hidden-sm hidden-xs action-buttons">
                                <table>
                                    <tr>
                                        <td><a data-rel="tooltip" class="btn btn-minier btn-danger" title="Edit Personnel Details" onclick="GetDetailsByAadharID('@item.AadharID');" id="view"  href="#">P-Edit
                                        </a></td>
                                        <td><a data-rel="tooltip" class="btn btn-minier btn-danger" title="Edit Office Details" onclick="EditEmpDetails('@item.ID');" id="aedit"  href="#">O-Edit
                                        </a></td>
                                        <td><a data-rel="tooltip" class="btn btn-minier btn-danger" title="Delete" onclick="DeleteEmployee('@item.ID');" id="adelete"  href="#">Remove
                                        </a></td>
                                    </tr>
                                </table>



                            </div>

                        </td>
                    </tr>                                                                
                }

            </tbody>
        </table>
        <!-- PAGE CONTENT ENDS -->
        <!-- PAGER START -->
        <div>@{Html.RenderPartial("~/Areas/AccountsAdmin/Views/Shared/_Pager.cshtml");}</div>
        <!-- PAGER ENDS -->
    }
    else
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <strong>No Records Found</strong><br />
                </div>
            </div>
        </div>
    }
    }

</div>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<!-- /.col -->
<script type="text/javascript">

    $(document).ready(function () {


        $("#PazeSize").val(@ViewBag.PageSize)

        $('#PazeSize').change(function () {
            var PageSize = $("#PazeSize").val();
            $.ajax({
                type: "POST",
                url: '/PISModule/PISEmployee/GetEmpbyPaging',
                data: '{ pageId: "1",pageSize: "' + PageSize + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {

                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#loader-wrapper').hide();
                    $('#divDataContainer-Emplist').empty();
                    $('#divDataContainer-Emplist').append(data);
                },
                error: function (error) {
                    $('#divDataContainer-Emplist').empty();
                    $('#divDataContainer-Emplist').append(error.responseText);

                },
                complete: function (results) {

                    $('#loader-wrapper').hide();
                }
            });

        });


    });

    function EditEmpDetails(id) {
        if (id != "") {

            //var QData = $('#AdharDetailForm').serialize();
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '/PISModule/PISEmployee/EditEmpDetials',
                data: { id: id },
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (data) {
                    $('#loader-wrapper').hide();
                    $('#MainDiv').empty();
                    $('#MainDiv').append(data);

                },
                error: function (error) {

                    $('#MainDiv').empty();
                    $('#MainDiv').append(error.responseText);

                },

                complete: function (result) {
                    debugger;
                    // $('#loader-wrapper').hide();
                    //$('#AdharDetailsPopupModel').modal('hide');
                }
            });
        }
    }
    function DeleteEmployee(id) {
        alert(id)
        var dlg = bootbox.confirm('Are you sure, You want to delete employee ? \n If yes so press ok button. ', function (result) {

            if (result) {
                $('#loader-wrapper').show();
                $.ajax({
                    url: "/PISModule/PISEmployee/DeleteEmployee",
                    type: 'POST',
                    data: { id: id },
                    success: function (data) {
                        $('#loader-wrapper').hide();
                        $('#MainDiv').empty();
                        $('#MainDiv').append(data);

                    },
                    error: function (result) {
                        $('#MainDiv').empty();
                        $('#MainDiv').append(error.responseText);
                    },

                    complete: function (result) {
                        debugger;
                        $('#loader-wrapper').hide();
                    }
                })
            }
        });
    }

    function GetDataList(pageId) {

        var PageSize = $("#PazeSize").val();
        $.ajax({
            type: "POST",
            url: '/PISModule/PISEmployee/GetEmpbyPaging',
            data: '{ pageId: "' + pageId + '",pageSize: "' + PageSize + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainer-Emplist').empty();
                $('#divDataContainer-Emplist').append(result);
            },
            error: function (error) {
                $('#divDataContainer-Emplist').empty();
                $('#divDataContainer-Emplist').append(error.responseText);

            },
            complete: function (results) {
                $('#loader-wrapper').hide();
            }
        });
    }
</script>
