﻿<div class="space-12"></div>

<div class="dataTables_paginate paging_simple_numbers">
    <ul class="pagination">
        @foreach (var item in (List<System.Web.UI.WebControls.ListItem>)ViewData["PagedListRelieved"])
        {


            if (ViewBag.CurrentPageRelieved.ToString() != item.Value)
            { 
            <li class="@(item.Enabled ? "" : "disabled")">

                <a href="javascript:void();" @(item.Enabled ? "onclick=GetRelievedEmpDataList(" + item.Value + ");" : "")>@item.Text</a>
            </li>
            }
            else
            {
            <li class="@(item.Enabled ? "" : "disabled") active "><a @(item.Enabled ? "onclick=GetRelievedEmpDataList(" + item.Value + ");" : "") href="javascript:void();" >@item.Text</a>
            </li> 
            }

        }
    </ul>
</div>
