﻿

@model  List<SBL.DomainModel.Models.User.mUserType>

@{
    int count = 0;
}

<div class="widget-box">
    <div class="widget-header widget-header-flat">

        <div class="widget-toolbar no-border">
            <button class="btn btn-xs btn-primary bigger" onclick='CreateNewUserType()'>
                <i class="ace-icon fa fa-pencil-square-o"></i>
                @Resources.UserManagement.New          
            </button>
        </div>
    </div>
</div>
<div id='fullDetailsModel' class="hide">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <!-- PAGE CONTENT BEGINS -->
        <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
        <input type="hidden" id="SelectedFixNo" name="SelectedFixNo" />
        <div class="pass-table">

            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
               

                <div class="table-header">
                  User Type
                </div>

                <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                    <thead>
                                 <tr role="row">

                                        <th class="center sorting_disabled" role="columnheader" rowspan="1"  aria-label="">@Resources.UserManagement.SNo</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1"  aria-label="Pass Type: activate to sort column ascending">User Type Name</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">@Resources.UserManagement.ModifiedWhen</th>
                                        @*<th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>*@
                                    </tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                   
                        @foreach (var item in Model)
                        {
                            count = count + 1;
                            string style = (count % 2 == 0) ? "odd" : "even";

                            var trID = item.UserTypeID;
                                
                            <tr class="@style" id="@trID" onclick="GetEditUserType('@item.UserTypeID')">

                                 <td class="">@count</td>
                                 <td class=""><i class="">@item.UserTypeName</i></td>
                                 <td class=""><i class="">@item.ModifiedWhen</i></td>
                             

                            </tr>
                        }
                        
                    </tbody>
                </table>


            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>





<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
@*<script src="~/Scripts/jquery-1.7.min.js"></script> *@
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>



<script>

    function CreateNewUserType() {
        $('.widget-box').show();
        //var cl2 = new CanvasLoader('canvasloader-container2');
        //cl2.show();
        $.ajax({
            url: "/UserManagement/UserType/CreateNewUserType",
            type: 'GET',
            data: {

            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data);
                    //cl2.hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }


    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
               { "bSortable": false },
              null, 

              { "bSortable": false }

            ]
        });
    });



    //function onSelectRowHandler(rowId) {
      
    //    $('.widget-box').show();


    //    $.ajax({
    //        url: "/Admin/SystemModules/GetDataByID",
    //        type: 'GET',
    //        data: {
    //            ModuleId: rowId,
    //        },
    //        success: function (data) {
    //            if (data) {
    //                $("#RightSidebar").html(data);


    //            } else { alert("error"); }
    //        },
    //        error: function (xhr, ajaxOptions, thrownError) {
    //            alert(xhr.responseText);
    //            alert(thrownError);
    //        }
    //    });
    //}

</script>





                               
     