﻿
@model SBL.DomainModel.Models.User.mUserType

<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
<script src="~/Scripts/jquery.alerts.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.timepicker1.js"></script>

@using (Ajax.BeginForm("UpdateUserType", "UserType", new AjaxOptions { OnSuccess = "LoginSuccess", HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "UpdateUserForm" }))
{
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.UserTypeID, new { @id = "hdnUserTypeId" })
        @Html.HiddenFor(m => m.Mode)
    
         <div class="widget-header widget-header-flat">
         @if (Model.UserTypeID == null)
         {
        <h4 class="widget-title">Update User Type</h4>
         }
         else
         {
              <h4 class="widget-title">Update User Type</h4>
         }
    </div>     
       
         <div class="widget-body">
        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">

                </div>
             
                  <div class="profile-info-row">
                    <div class="profile-info-name">User Type Name: <b style="color: red">*</b></div>

                    <div class="profile-info-value">
                        <span id="spnTitle" class="">
                           @Html.TextBoxFor(model => model.UserTypeName, new { @id = "UserTypeName", @class = "col-xs-10 col-sm-5", @placeholder = @Resources.UserManagement.UserTypeName, @autocomplete = "off", style = "width: 350px" })
                        <span class="field-validation-error" id="RoleNameValidation" style="color: red"></span>
                        </span>
                    </div>
                </div>
                  

                  <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.UserManagement.IsActive: <b style="color: red"></b></div>

                    <div class="profile-info-value">
                        <span id="spnIsactive" class="">
                          @Html.CheckBoxFor(model => model.IsActive, new { @name = @Resources.UserManagement.IsActive }) @Resources.UserManagement.IsActive
                       
                        </span>
                    </div>
                </div>
        
            </div>
         
        </div>


           <div class="wizard-actions">
           
                <button type="button" id="savebtn" class="btn btn-sm btn-purple" onclick="return UserTypecheckValidation();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        @Resources.UserManagement.Update</button>

                <button type="button" id="Deletebtn" class="btn btn-sm btn-purple" onclick="return DeleteUserType();">
                                   
                                        @Resources.UserManagement.Delete</button>

                <button type="reset" class="btn btn-sm btn-info"   onclick="return cancelEntry();">
                <i class="ace-icon fa fa-times bigger-125"></i>
               @Resources.UserManagement.Cancel
            </button>
        </div>

       
    </div>
   
    
         <div id='fullDetailsModel' class="hide">
        <div id='ShowfullDetailsModel' style="text-align: center">
        </div>
    </div>

}

<style>
    .hidden {
        display: none;
        visibility: hidden;
    }
</style>


<script>

    function UserTypecheckValidation() {

        var UserTypeName = $("#UserTypeName").val();
        if (UserTypeName == "") {
            alert("Please Enter User Type");
            return false;
        }
        else if (UserTypeName != null || UserTypeName != "") {
            alert("Are You Sure Want to Update?");

            $.ajax({
                url: "/UserManagement/UserType/CheckUserName",
                type: 'GET',
                data: {
                    UserTypeName: UserTypeName
                },
                success: function (data) {
                    if (data) {
                        alert("UserName Already  Exit");
                        return false;
                    }
                    else {
                        $("#UpdateUserForm").submit();
                        //alert("Save successfully");
                        return true;
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                    location.reload(true);
                }
            });
        }

        else {
            //alert("Save successfully");
        }
    }


    //function UserTypecheckValidation() {
     
    //    var UserTypeName = $("#UserTypeName").val();

    //    if (UserTypeName == "") {
    //        alert("Please Enter User Type");

    //        return false;
    //    }
    //}

    function DeleteUserType() {
        var UserTypeId = document.getElementById("hdnUserTypeId").value;

        if (UserTypeId != null || UserTypeId != "") {
            alert("Are You Sure Want to Delete?");
        }

        $.post("/UserManagement/UserType/DeleteUserType",
           {
               UserTypeId: UserTypeId,


           },
           function (data) {
               alert("Delete successfully");
               GetUserType();
               $("#RightSidebar").html("");
               $("#FormPart").html("");
               $('.widget-box').hide();

           });
    }
    function cancelEntry() {

        $("#RightSidebar").empty();
    }

    function checkValidation() {
        var RoleName = $("#TxtName").val();

        if (RoleName == "") {
            alert("Please Enter Module Name");
            // $("#RoleNameValidation").append("").val("").html("Please Enter Role Name")
            return false;
        }
    }
</script>

