﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV

@using SBL.eLegistrator.HouseController.Web.Utility;



<script src="~/assets/js/bootbox.min.js"></script>
<link href="~/Content/bootstrapUp/jquery.fileupload.css" rel="stylesheet" />
<style>
        .footer .footer-inner .footer-content {
        padding-top: 2px;
    }
</style>

<script src="~/assets/js/jquery-ui.custom.min.js"></script>

@using (Ajax.BeginForm("PaperLaidSubmittFromDashBoard", "OtherPaperLaid", new AjaxOptions { OnSuccess = "onSuccess()", HttpMethod = "POST" }, new { @id = "PaperLaidForm", enctype = "multipart/form-data", @data_ajax = "true" }))
{
    @Html.AntiForgeryToken()
          <div class="widget-header widget-header-flat">
            <h4 class="widget-title">
                @Resources.PaperLaidDepartment.OtherSaveSend
            </h4>
        </div> 
    
     <div class="widget-body">
        @*height: 747px;">*@
        @Html.Hidden("PaperLaidIdFullRecord", @Model.PaperLaidId, new { @id = "PaperLaidId" })
        @Html.HiddenFor(m => m.AssemblyId)
        @Html.HiddenFor(m => m.AssemblyId)
        @Html.HiddenFor(m => m.SessionId)
       @* @Html.HiddenFor(m => m.DepartmentId)*@
        @Html.HiddenFor(m => m.BOTStatus, new { @id = "hdnBillNumberValue" })
       
         <div class="widget-main no-padding-right no-padding-left">
             <div class="profile-user-info profile-user-info-striped">
                 <div class="profile-info-row">
                 </div>
              
                 <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.BusinessType</div>

                        <div class="profile-info-value">
                            <span id="spnBusinessType" class="">
                                @Html.HiddenFor(m => m.SessionId)
                                @Html.HiddenFor(m => m.AssemblyCode)
                               
                                @if (Model.PaperLaidId == null || Model.PaperLaidId == 0)
                                {
                                    @Html.DropDownListFor(m => m.EventId, new SelectList(Model.mEvents, "EventId", "EventName", 0), new { @id = "DdlCategory", @tabindex = "1", @class = "select-style", style = "width: 95%" })
                                    @Html.HiddenFor(m => m.EventId)
                                }
                                else
                                {
                                    @Html.DropDownListFor(m => m.EventId, new SelectList(Model.mEvents, "EventId", "EventName", 0), new { @id = "DdlCategory", @tabindex = "1", @class = "select-style", style = "width: 95%", @disabled = true })
                                    @Html.HiddenFor(m => m.PaperLaidId)
                                    @Html.HiddenFor(m => m.EventId)
                                }
                                @Html.ValidationMessageFor(m => m.EventId, "", new { @id = "eventId", @style = "color:red" })
                            </span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.Minister</div>

                        <div class="profile-info-value">
                            <span>
                                @Html.DropDownListFor(m => m.MinistryId, new SelectList(Model.mMinisteryMinister, "MinistryId", "MinisterMinistryName", 0), new { @id = "DdlMinistry", @tabindex = "1", @class = "select-style", @style = "width: 95%" })
                                @Html.HiddenFor(m => m.MinistryId)
                                @Html.ValidationMessageFor(m => m.MinistryId, "", new { @style = "color:red" })
                            </span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.Department</div>

                        <div class="profile-info-value">
                            <span>
                                @Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.mDepartment, "deptId", "deptname", 0), new { @id = "DdlDepartment", @tabindex = "1", @class = "select-style", @style = "width:95%" })
                                @Html.ValidationMessageFor(m => m.DepartmentId, "", new { @style = "color:red" })
                                @Html.HiddenFor(m => m.DepartmentId)
                                @Html.HiddenFor(m => m.QuestionID)
                            </span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.DesiredDateToLaid</div>

                        <div class="profile-info-value">
                            <span>
                                @Html.DropDownListFor(m => m.DesireLayingDateId, new SelectList(Model.mSessionDates, "Id", "DisplayDate", 0), new { @id = "DdlSessioDates", @tabindex = "1", @class = "select-style", @style = "width: 95%" })
                            </span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.PaperType</div>
                        <div class="profile-info-value">
                            <span>
                                @Html.DropDownListFor(m => m.PaperTypeID, new SelectList(Model.mDocumentTypes, "DocumentTypeID", "DocumentType", 0), new { @id = "DdlPaperType", @tabindex = "1", @class = "select-style", @style = "width: 95%" })
                            </span>
                        </div>
                    </div>

         

                

                 

                  <div class="profile-info-row">
                        <div class="profile-info-name">
                            @Resources.PaperLaidDepartment.Title <b style="color: red">*</b>
                        </div>

                        <div class="profile-info-value">
                            <span>
                                @Html.TextAreaFor(m => m.Title, new { @id = "Title", @style = "width:  95%" })
                                <span class="field-validation-error" id="TitleValidation" style="color: red"></span>
                            </span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name">
                            @Resources.PaperLaidDepartment.Description<b style="color: red">*</b>
                        </div>

                        <div class="profile-info-value">
                            <span>
                                @Html.TextAreaFor(m => m.Description, new { @id = "Description", @style = "width:  95%" })
                                <span class="field-validation-error" id="DescriptionValidation" style="color: red"></span>
                            </span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.ProvisionUnderWhich</div>

                        <div class="profile-info-value">
                            <span>
                                @Html.TextAreaFor(m => m.ProvisionUnderWhich, new { @id = "ProvisionUnderWhich", @style = "width:  95%" })
                            </span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.Remark</div>

                        <div class="profile-info-value">
                            <span>
                                @Html.TextAreaFor(m => m.Remark, new { @id = "Remark", @style = "width:  95%" })
                            </span>
                        </div>
                    </div>


                                 <div class="profile-info-row">

                    <div class="profile-info-name">@Resources.PaperLaidDepartment.PaperToBeLaid</div>
                    <div class="profile-info-value">

                        <div class="alert alert-block alert-success">

                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>@Resources.PaperLaidDepartment.Choosefile</span>
                                <input style="font-size: 22px;" id="NoticefilePaerLaid" accept=".pdf" type="file" name="NoticefilePaerLaid">
                            </span>
                            <br />
                            <br />

                            <div style="width: 100%;" id="Noticefileuploadcontant">
                                <div style="width: 100%;">
                                    <span id="removeUploadNotice" onclick="removefileuploadNotice()" class="glyphicon glyphicon-remove" style="color: red; position: relative; float: right;"></span>
                                    <div id="file_nameNotice" class="file_nameNotice"></div>
                                    <div class="file_sizeSup"></div>
                                </div>
                                <div style="width: 100%;">
                                    <div class="show_hide">
                                        <div class="progressNoticeMain" style="height: 10px; width: 400px">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" style="width: 0%;">
                                                <span class="sr-only">0% complete</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            @if (@Model.FileName != null)
                            {
                                 <a href="/SecuredFiles/@Model.PaperLaidId,MP"  target="_blank">@Resources.PaperLaidDepartment.PaperVer @Model.FileVersion</a>
                            }
                            <span class="field-validation-error" id="FileValidation" style="color: red"></span>
                           

                        </div>
                    </div>
                </div>


                                      <div class="profile-info-row">

                    <div class="profile-info-name">@Resources.PaperLaidDepartment.DocPaperToBeLaid</div>
                    <div class="profile-info-value">

                        <div class="alert alert-block alert-success">

                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>@Resources.PaperLaidDepartment.Choosefile</span>
                                <input style="font-size: 22px;" id="NoticeDocfilePaerLaid" accept="application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" type="file" name="NoticeDocfilePaerLaid">
                            </span>
                            <br />
                            <br />

                            <div style="width: 100%;" id="NoticeDocfileuploadcontant">
                                <div style="width: 100%;">
                                    <span id="removeUploadNoticeDoc" onclick="removefileuploadNoticeDoc()" class="glyphicon glyphicon-remove" style="color: red; position: relative; float: right;"></span>
                                    <div id="file_nameNoticeDoc" class="file_nameNoticeDoc"></div>
                                    <div class="file_sizeSupDoc"></div>
                                </div>
                                <div style="width: 100%;">
                                    <div class="show_hide">
                                        <div class="progressNoticeMainDoc" style="height: 10px; width: 400px">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" style="width: 0%;">
                                                <span class="sr-only">0% complete</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                @*</div>*@
                            </div>
                            @if (@Model.DocFileName != null)
                            {
                                
                               <a  href="/SecuredFiles/@Model.PaperLaidId,MD"  target="_blank">@Resources.PaperLaidDepartment.ViewDownload</a>
                            }
                        </div>
                    </div>
                </div>




             </div>
         </div>
     
    </div>
    
    
      <div class="space-10"></div>
     <div class="wizard-actions">            
                                                      @if (Model.PaperLaidId == null || Model.PaperLaidId == 0)
                                                      {    
                                                               
                                                        <button type="button" class="btn btn-primary" name="submitButton" id="Save" value="Save" onclick="return checkValidation();">
                                                            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                                           @Resources.PaperLaidDepartment.Save
                                                        </button>
                                                          
                                
                                                          
                                                          if (Model.IsPermissions == true)
                                                          {
                                                              if (CurrentSession.IsHOD == "True" && CurrentSession.IsHOD != null)
                                                              {
                                                              
                                                                <button class="btn btn-danger" type="button" name="submitButton" id="send" value="Send" style="display:none"  onclick="return checkValidation();">
                                                                    <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                                                    @Resources.PaperLaidDepartment.Save &amp; @Resources.PaperLaidDepartment.Send 
                                                                </button>
                                                          <div style="padding-top:1%;display:none">
                                                                <span style="display:none" class="label label-large label-pink arrowed-right">@Resources.PaperLaidDepartment.SendingbillstoVidhansabha</span>
                                                              </div>
                                                              }
                                                              else
                                                              {
                                                                   <button class="btn btn-danger" type="button" name="submitButton" style="display:none" id="send" value="Send"  onclick="return checkValidation();">
                                                                    <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                                                    @Resources.PaperLaidDepartment.Save &amp; @Resources.PaperLaidDepartment.Send 
                                                                </button>
                                                          <div style="padding-top:1%;display:none">
                                                                <span class="label label-large label-pink arrowed-right">@Resources.PaperLaidDepartment.SendingbillstoVidhansabha</span>
                                                              </div>  
                                                                  
                                                              }
                                                          }

                                                            <!-- /section:plugins/fuelux.wizard.buttons -->
                                                       
                                                      }
                                                      else
                                                      {
                                             if (Model.FileVersion == 1)
                                             {                
                                         <button type="button" class="btn btn-primary" name="UpdatesubmitButton" id="Update" value="Update" onclick="return checkValidationUpdate();">
                                                            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                                            @Resources.PaperLaidDepartment.Update
                                                        </button>
                                                      }
                                                      else{}
                                                          if (Model.IsPermissions == true)
                                                          {
                                                              if (CurrentSession.IsHOD == "True" && CurrentSession.IsHOD != null)
                                                              {
                                                              
                                                                <button class="btn btn-danger" type="submit" name="submitButton" value="Update Send" id="UpdateSend" style="display:none" onclick="return checkValidation();">
                                                                    <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                                                    @Resources.PaperLaidDepartment.Update &amp; @Resources.PaperLaidDepartment.Send 
                                                                </button>
                                                          <br />
                                                            <div style="padding-top:1%;display:none">
                                                                <span style="display:none" class="label label-large label-pink arrowed-right">@Resources.PaperLaidDepartment.SendingbillstoVidhansabha</span>
                                                              </div>
                                                              }
                                                              else
                                                              {
                                                                    <button class="btn btn-danger" type="button" name="submitButton"  value="Update Send" id="UpdateSend" style="display:none"  onclick="return checkValidation();">
                                                                    <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                                                    @Resources.PaperLaidDepartment.Update &amp; @Resources.PaperLaidDepartment.Send 
                                                                </button>
                                                          <br />
                                                            <div style="padding-top:1%;display:none">
                                                                <span class="label label-large label-pink arrowed-right">@Resources.PaperLaidDepartment.SendingbillstoVidhansabha</span>
                                                              </div>
                                                              }
                                                          }
                                                
                                                          
                                                      }
                                                      

        
                     </div>
    
    
    
}


  <link rel="stylesheet" href="/assets/css/datepicker.css" />

  <script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">



    $("#NoticeDocfilePaerLaid").click(function (event) {
        $('#NoticeDocfilePaerLaid').fileupload({
            dataType: 'json',
            url: "/PaperLaidDepartment/NoticePaperLaid/UploadNoticeDocFiles",
            autoUpload: true,
            done: function (e, data) {
                var sim = setTimeout("hidevalueNoticeDoc()", 1000);
                $('.file_nameNoticeDoc').html(data.result.name);
                $('.file_sizeSupDoc').html(data.result.size);
            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progressNoticeMainDoc .progress-bar').css('width', progress + '%');
            $('#removeUploadNoticeDoc').css('display', 'block');
        });
    });

    $("#NoticefilePaerLaid").click(function (event) {
        $('#NoticefilePaerLaid').fileupload({
            dataType: 'json',
            url: "/PaperLaidDepartment/NoticePaperLaid/UploadNoticeFiles",
            autoUpload: true,
            done: function (e, data) {
                var sim = setTimeout("hidevalueNotice()", 1000);
                $('.file_nameNotice').html(data.result.name);
                $('.file_sizeSup').html(data.result.size);
            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progressNoticeMain .progress-bar').css('width', progress + '%');
            $('#removeUploadNotice').css('display', 'block');
        });
    });
    //$('#NoticefilePaerLaid').click(function (event) {
    //    alert(this.files.length);
    //    for (var i = 0; i < this.files.length; ++i) {
    //        var name = this.files.item(i).name;
    //        alert(name)
    //        var fileExtension = ['pdf'];
    //        alert(fileExtension)
    //        var Extension = name.split('.').pop().toLowerCase();
    //        alert(Extension)
    //        if ($.inArray(Extension, fileExtension) == -1) {
    //            alert(name + " is not valid format. Only 'pdf' formats are allowed.");
    //            $('NoticefilePaerLaid12').val("");
    //            break;
    //            return false;
    //        } else {
    //            alert("Tst");
    //            $('#NoticefilePaerLaid').fileupload({
    //                dataType: 'json',
    //                url: "/PaperLaidDepartment/NoticePaperLaid/UploadNoticeFiles",
    //                autoUpload: true,
    //                done: function (e, data) {
    //                    alert(e);
    //                    alert(data);
    //                    var sim = setTimeout("hidevalueNotice()", 1000);
    //                    $('.file_nameNotice').html(data.result.name);
    //                    $('.file_sizeSup').html(data.result.size);
    //                }
    //            }).on('fileuploadprogressall', function (e, data) {
    //                var progress = parseInt(data.loaded / data.total * 100, 10);
    //                $('.progressNoticeMain .progress-bar').css('width', progress + '%');
    //                $('#removeUploadNotice').css('display', 'block');
    //            });

    //        }
    //    }
    //})

    //$('#NoticeDocfilePaerLaid').change(function () {
    //    for (var i = 0; i < this.files.length; ++i) {
    //        var name = this.files.item(i).name;
    //        var fileExtension = ['doc', 'docx'];
    //        var Extension = name.split('.').pop().toLowerCase();
    //        if ($.inArray(Extension, fileExtension) == -1) {
    //            alert(name + " is not valid format. Only 'doc' formats are allowed.");
    //            $('NoticeDocfilePaerLaid').val("");
    //            return false;
    //            break;
    //        } else {
    //            alert(name);
    //            $('#NoticeDocfilePaerLaid').fileupload({
    //                dataType: 'json',
    //                url: "/PaperLaidDepartment/NoticePaperLaid/UploadNoticeDocFiles",
    //                autoUpload: true,
    //                done: function (e, data) {
    //                    var sim = setTimeout("hidevalueNoticeDoc()", 1000);
    //                    $('.file_nameNoticeDoc').html(data.result.name);
    //                    $('.file_sizeSupDoc').html(data.result.size);
    //                }
    //            }).on('fileuploadprogressall', function (e, data) {
    //                var progress = parseInt(data.loaded / data.total * 100, 10);
    //                $('.progressNoticeMainDoc .progress-bar').css('width', progress + '%');
    //                $('#removeUploadNoticeDoc').css('display', 'block');
    //            });
    //        }
    //    }
    //})

   

    $(document).ready(function () {

        $("#loader-wrapper").hide();
        $("#removeUploadNotice").hide();
        $("#removeUploadNoticeDoc").hide();


       // $("#NoticeDocfilePaerLaid").click(function (event) {
            //$('#NoticeDocfilePaerLaid').fileupload({
            //    dataType: 'json',
            //    url: "/PaperLaidDepartment/NoticePaperLaid/UploadNoticeDocFiles",
            //    autoUpload: true,
            //    done: function (e, data) {
            //        var sim = setTimeout("hidevalueNoticeDoc()", 1000);
            //        $('.file_nameNoticeDoc').html(data.result.name);
            //        $('.file_sizeSupDoc').html(data.result.size);
            //    }
            //}).on('fileuploadprogressall', function (e, data) {
            //    var progress = parseInt(data.loaded / data.total * 100, 10);
            //    $('.progressNoticeMainDoc .progress-bar').css('width', progress + '%');
            //    $('#removeUploadNoticeDoc').css('display', 'block');
            //});
      //  });

        //$("#NoticefilePaerLaid").click(function (event) {
        //    $('#NoticefilePaerLaid').fileupload({
        //        dataType: 'json',
        //        url: "/PaperLaidDepartment/NoticePaperLaid/UploadNoticeFiles",
        //        autoUpload: true,
        //        done: function (e, data) {
        //            var sim = setTimeout("hidevalueNotice()", 1000);
        //            $('.file_nameNotice').html(data.result.name);
        //            $('.file_sizeSup').html(data.result.size);
        //        }
        //    }).on('fileuploadprogressall', function (e, data) {
        //        var progress = parseInt(data.loaded / data.total * 100, 10);
        //        $('.progressNoticeMain .progress-bar').css('width', progress + '%');
        //        $('#removeUploadNotice').css('display', 'block');
        //    });
        //});

        $('#tbBillDate').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });

        $("#Title").focus(function () {
            $("#Title").animate({
                height: "150px"
            }, 100, function () { });

        });
        $("#Title").blur(function () {
            $("#Title").animate({
                height: "48px"
            }, 100, function () { });

        });
        $("#Description").focus(function () {
            $("#Description").animate({
                height: "150px"
            }, 100, function () { });

        });
        $("#Description").blur(function () {
            $("#Description").animate({
                height: "48px"
            }, 100, function () { });

        });
        $("#ProvisionUnderWhich").focus(function () {
            $("#ProvisionUnderWhich").animate({
                height: "150px"
            }, 100, function () { });

        });
        $("#ProvisionUnderWhich").blur(function () {
            $("#ProvisionUnderWhich").animate({
                height: "48px"
            }, 100, function () { });

        }); $("#Remark").focus(function () {
            $("#Remark").animate({
                height: "150px"
            }, 100, function () { });

        });
        $("#Remark").blur(function () {
            $("#Remark").animate({
                height: "48px"
            }, 100, function () { });

        });

    });




    function hidevalueNotice() {
        $('.progressNoticeMain .progress-bar').fadeOut(500);
        var sim = setTimeout("hidevalueNotice()", 3000);
    }

    function hidevalueNoticeDoc() {
        $('.progressNoticeMainDoc .progress-bar').fadeOut(500);
        var sim = setTimeout("hidevalueNoticeDoc()", 3000);
    }

    function removefileuploadNoticeDoc() {
        $('.file_nameNoticeDoc').html('');
        $('.file_sizeSupDoc').html('');
        $('.progressNoticeMainDoc .progress-bar').css('width', '0%');
        $("#removeUploadNoticeDoc").hide();
        $('#NoticeDocfileuploadcontant').css('border', '0px solid rgb(244, 239, 239)');
        $.post("/PaperLaidDepartment/NoticePaperLaid/RemoveMainFilesDoc",
         {
         },
         function (data) {
         });

    }

    function removefileuploadNotice() {
        $('.file_nameNotice').html('');
        $('.file_sizeSup').html('');
        $('.progressNoticeMain .progress-bar').css('width', '0%');
        $("#removeUploadNotice").hide();
        $('#Noticefileuploadcontant').css('border', '0px solid rgb(244, 239, 239)');
        $.post("/PaperLaidDepartment/NoticePaperLaid/RemoveMainFiles",
         {
         },
         function (data) {
         });

    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    var category = "";


    


    function checkValidationUpdate() {

        var paperId = $("#PaperLaidId").val();
        var FileUpload = $("#file_nameNotice").text();


        var title = $("#Title").val()
        var Desc = $("#Description").val();


        var tbBillDate = $("#tbBillDate").val();
        var tbBillNumber = $("#tbBillNumber").val();
        $("#hdnBillNumberValue").val(tbBillNumber);




        if (tbBillDate == "") {

            $("#TitleValidation").append("").val("").html("");
            $("#DescriptionValidation").append("").val("").html("");
            $("#FileValidation").append("").val("").html("");

            $("#BillDateValidation").append("").val("").html("Please Enter Bill Date");
            $("#BillNUmberValueValidation").append("").val("").html("");
            $("#tbBillDate").focus();
            $("#PaperLaidForm").valid();

            return false;
        }

        else if (tbBillNumber == "") {

            $("#TitleValidation").append("").val("").html("");
            $("#DescriptionValidation").append("").val("").html("");
            $("#FileValidation").append("").val("").html("");

            $("#BillDateValidation").append("").val("").html("");
            $("#BillNUmberValueValidation").append("").val("").html("Please Enter Bill Number");
            $("#tbBillNumber").focus();
            $("#PaperLaidForm").valid();

            return false;
        }
        else if (title == "") {
            $("#TitleValidation").append("").val("").html("@Resources.PaperLaidDepartment.TitleValidation");
            $("#DescriptionValidation").append("").val("").html("");

            $("#FileValidation").append("").val("").html("");
            $("#BillDateValidation").append("").val("").html("");
            $("#BillNUmberValueValidation").append("").val("").html("");
            $("#Title").focus();
            $("#PaperLaidForm").valid();

            return false;
        } else if (Desc == "") {

            $("#TitleValidation").append("").val("").html("");
            $("#DescriptionValidation").append("").val("").html("@Resources.PaperLaidDepartment.DescriptionValidation");
            $("#FileValidation").append("").val("").html("");

            $("#BillDateValidation").append("").val("").html("");
            $("#BillNUmberValueValidation").append("").val("").html("");
            $("#Description").focus();
            $("#PaperLaidForm").valid();

            return false;
        }

    //if (FileUpload == "") {
    //    $("#DescriptionValidation").append("").val("").html("");
    //    alert("Please Select PDF file");

    //    return false;
    //}
    bootbox.confirm('@Resources.PaperLaidDepartment.Areyousure', function (confresult) {

            if (confresult) {


                $("#PaperLaidForm").submit();
                bootbox.hideAll();
                bootbox.hide();

                return false;

            }
            else {
                return true;
            }

        });




    }


    function checkValidation() {

        var paperId = $("#PaperLaidId").val();
        var FileUpload = $("#file_nameNotice").text();
        

        var title = $("#Title").val()
        var Desc = $("#Description").val();

       
        var tbBillDate = $("#tbBillDate").val();
        var tbBillNumber = $("#tbBillNumber").val();
        $("#hdnBillNumberValue").val(tbBillNumber);

      


        if (tbBillDate == "") {

            $("#TitleValidation").append("").val("").html("");
            $("#DescriptionValidation").append("").val("").html("");
            $("#FileValidation").append("").val("").html("");
          
            $("#BillDateValidation").append("").val("").html("Please Enter Bill Date");
            $("#BillNUmberValueValidation").append("").val("").html("");
            $("#tbBillDate").focus();
            $("#PaperLaidForm").valid();

            return false;
        }

        else if (tbBillNumber == "") {

            $("#TitleValidation").append("").val("").html("");
            $("#DescriptionValidation").append("").val("").html("");
            $("#FileValidation").append("").val("").html("");
           
            $("#BillDateValidation").append("").val("").html("");
            $("#BillNUmberValueValidation").append("").val("").html("Please Enter Bill Number");
            $("#tbBillNumber").focus();
            $("#PaperLaidForm").valid();

            return false;
        }
        else if (title == "") {
            $("#TitleValidation").append("").val("").html("@Resources.PaperLaidDepartment.TitleValidation");
            $("#DescriptionValidation").append("").val("").html("");
           
            $("#FileValidation").append("").val("").html("");
            $("#BillDateValidation").append("").val("").html("");
            $("#BillNUmberValueValidation").append("").val("").html("");
            $("#Title").focus();
            $("#PaperLaidForm").valid();

            return false;
        } else if (Desc == "") {

            $("#TitleValidation").append("").val("").html("");
            $("#DescriptionValidation").append("").val("").html("@Resources.PaperLaidDepartment.DescriptionValidation");
            $("#FileValidation").append("").val("").html("");
          
            $("#BillDateValidation").append("").val("").html("");
            $("#BillNUmberValueValidation").append("").val("").html("");
            $("#Description").focus();
            $("#PaperLaidForm").valid();

            return false;
        }
        
        if (FileUpload == "") {
            $("#DescriptionValidation").append("").val("").html("");
            alert("Please Select PDF file");
           
            return false;
        }
    bootbox.confirm('@Resources.PaperLaidDepartment.Areyousure', function (confresult) {

            if (confresult) {


                $("#PaperLaidForm").submit();
                bootbox.hideAll();
                bootbox.hide();

                return false;

            }
            else {
                return true;
            }

        });




    }

    var file = document.getElementById('NoticefilePaerLaid');


    file.onchange = function (e) {

        var ext = this.value.match(/\.([^\.]+)$/)[1];
        switch (ext) {
            case 'pdf':
              
                break;
            default:
                alert("@Resources.PaperLaidDepartment.PDFPErmitted");
                this.value = '';
        }
     };


   

    function onSuccess() {

        GetOtherPaperLaidPendings()

        getCount()


    }

    function getCount() {

        var pathurl = "@Url.Action("DepartmentDashboard", "PaperLaidDepartment")";
        $.ajax({
            url: pathurl,
            type: 'GET',

            success: function (data) {
                
                $("#10Draft_Other_Papers").html(data[4]);
                $("#10Other_Papers_Sent").html(data[12]);

                $("#loader-wrapper").hide();
                ShowNotification("success", "OtherPaper Send Successfully .....");
            }
        });
    }



    function GetOtherPaperLaidSubmit() {

        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();


         $("#loader-wrapper").show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetOtherPaperLaidSubmitList", "OtherPaperLaid")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                sessionId: sessionId,
                assemblyId: assemblyId,
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"

            },
            //cache: false,
            success: function (data) {
               
                $("#loader-wrapper").hide();
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").empty();
                $("#RightSidebar").empty();
                $("#divDataContainer").html(data);
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.OtherPapers");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DraftOtherSent");
            }
        })
    }

    function GetOtherPaperLaidPendings() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
      

        $("#loader-wrapper").show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetOtherPaperLaidPendings", "OtherPaperLaid")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                sessionId: sessionId,
                assemblyId: assemblyId,
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"

            },
            //cache: false,
            success: function (data) {
               
                $("#loader-wrapper").hide();
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").empty();
                $("#RightSidebar").empty();
                $("#divDataContainer").html(data);
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.OtherPapers");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DraftOtherPapers");
            }
        })
    }

</script>
