﻿@model  IEnumerable<SBL.eLegistrator.HouseController.Web.Areas.Admin.Models.NoticeViewModel>
@{
    ViewBag.Title = "NoticeEntryIndex";

    int count = 0;
}
<div class="widget-box">
    <div class="widget-header">
        <h4 class="widget-title">Notice List
        </h4>

        <div class="widget-toolbar no-border">
            <div class="ace-settings-container" id="ace-settings-container">
                <button id="btnNew" class="btn  btn-sm btn-info" onclick="PCreateNoticeEntry()">
                    <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                    <span class="bigger-110">Create Notice</span>
                </button>
            </div>
        </div>
    </div>
    <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            <div class="pass-table table-responsive">
                @if (Model != null)
                {
                    if (Model.Count() > 0)
                    {
                       
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">
                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Title</th>

                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Title(हिंदी)</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Category</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Attachment</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Date</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Status</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Hits</th>

                                <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                            </tr>
                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model)
                            {
                                count = count + 1;
                               
                                <tr id="@item.NoticeID" id="@item.NoticeID">
                                    <td class="center">

                                        <input type="checkbox" class="chkList" onclick="AddToList(@item.NoticeID, event);"/></td>

                                    <td>
                                        @item.NoticeTitle
                                    </td>
                                    <td>@item.LocalNoticeTitle</td>
                                    <td>@item.Category</td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.FileLocation))
                                        {
                                            @Html.ActionLink("Document Attachment", "DownloadFile", "Notice", new { fileName = @item.FileLocation }, null)
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0)">No Document</a>
                                        }
                                        @*<img src="@Url.Content(item.FileLocation)" width="100px" height="50px" style="margin-left:40px" />*@
                                    </td>
                                    <td>@item.Publish_date.ToString("dd MMM yyyy")</td>


                                    <td class="hidden-480">
                                        @if (item.Status == 1)
                                        {
                                            <span class="label label-sm label-success">Published</span>
                                        }
                                        else
                                        {
                                            <span class="label label-sm label-warning">Unpublished</span>
                                        }

                                    </td>
                                    <td>@item.Hits</td>

                                    <td class="center">
                                        <div class="hidden-sm hidden-xs action-buttons">

                                            @* <a data-rel="tooltip" class="blue tooltip-info" title="Change Status" id="ChangeStatusLink"  href="@Url.Action("ChangeOrganization", "Media", new { Id = item.LatestUpdateID })">
                                                    <i class="ace-icon fa fa-check-square-o bigger-130"></i>
                                                </a>*@

                                            <a data-rel="tooltip" class="green tooltip-success" title="Edit"   onclick="NoticeEditEntry(@item.NoticeID)" href="javascript:void(0);">
                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                            </a>

                                            <a  data-rel="tooltip" class="red tooltip-error DeleteNoticeLink" title="Delete" id="DeleteLink" onclick="DeleteNoticeEntry(@item.NoticeID)" href="javascript:void(0);">
                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                            </a>
                                        </div>

                                        <div class="hidden-md hidden-lg">
                                            <div class="inline position-relative">
                                                <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                    <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                </button>

                                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                    @*<li>
                                                            <a  href="@Url.Action("ChangeOrganization", "Media", new { Id = item.LatestUpdateID })" class="tooltip-info" data-rel="tooltip" title="Change Status">
                                                                <span class="blue">
                                                                <i class="ace-icon fa fa-check-square-o bigger-120"></i>
                                                                </span>
                                                            </a>
                                                        </li>*@

                                                    <li>
                                                        <a  class="tooltip-success" data-rel="tooltip" title="Edit" onclick="NoticeEditEntry(@item.NoticeID)" href="javascript:void(0);">
                                                            <span class="green">
                                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a   class="tooltip-error DeleteNoticeLink" data-rel="tooltip" title="Delete" onclick="DeleteNoticeEntry(@item.NoticeID)" href="javascript:void(0);">
                                                            <span class="red">
                                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                            </span>
                                                        </a>

                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <!-- PAGE CONTENT ENDS -->
                    }
                    else
                    {
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-info">

                                <strong>There are no Notices</strong><br />


                            </div>
                        </div>
                    </div>
                    }
                }

            </div>
            <!-- /.col -->
            <div class="space-2"></div>
            <div class="form-group">
                <div class="form-inline">
                    <button type="button" class="btn btn-primary" id="btnSendSMS" value="SMS">
                        <i class="ace-icon fa fa-share align-top bigger-140"></i>
                        Send SMS&Email
                    </button>

                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>

    <div class="space-6"></div>
</div>


<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>

<script type="text/javascript">

    var _tblList = [];

    var _dlgMsg = '';
    $(document).ready(function () {
       
        var oTable1 =
        $('#sample-table-2')

        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
              { "bSortable": false },
              null, null, null, null, null, null, null,
              { "bSortable": false }
            ]

        });
        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
        $("#noticemain").addClass("active open");
        $("#noticesub").addClass("nav-show").css("display", "block");
        $("#noticelist").addClass("active");
        $('select[name="sample-table-2_length"]').val(25).change();
    });

    function tooltip_placement(context, source) {
        var $source = $(source);
        var $parent = $source.closest('table')
        var off1 = $parent.offset();
        var w1 = $parent.width();

        var off2 = $source.offset();
        //var w2 = $source.width();

        if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
        return 'left';
    }

    function PCreateNoticeEntry() {

        $("#loader-wrapper").show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Admin/Notice/PCreateNoticeEntry",
            type: 'GET',
            data: {

            },
            success: function (data) {

                $('#outerDiv').hide();
                $("#outerDiv").html("");
                $("#divDataContainer").html("");
                $("#FormPart").html("");
                $("#MainDiv").html(data);
                $("#loader-wrapper").hide();
            },
            error: function (data) {

                $('#outerDiv').hide();
                $("#outerDiv").html("");
                $("#divDataContainer").html("");
                $("#FormPart").html("");
                $("#MainDiv").html(data);
                $("#loader-wrapper").hide();

            }
        });

    }

    function NoticeEditEntry(id) {

        $("#loader-wrapper").show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Admin/Notice/PNoticeEditEntry",
            type: 'GET',
            data: {
                id: id
            },
            success: function (data) {

                $('#outerDiv').hide();
                $("#outerDiv").html("");
                $("#divDataContainer").html("");
                $("#FormPart").html("");
                $("#MainDiv").html(data);
                $("#loader-wrapper").hide();
            },
            error: function (data) {

                $('#outerDiv').hide();
                $("#outerDiv").html("");
                $("#divDataContainer").html("");
                $("#FormPart").html("");
                $("#MainDiv").html(data);
                $("#loader-wrapper").hide();

            }
        });
    }
    function DeleteNoticeEntry(id) {
        var dlg = bootbox.confirm('Are you sure to Delete Notice?', function (result) {
            if (result) {
                $("#loader-wrapper").show();
                $.ajaxSetup({ cache: false });
                $.ajax({
                    url: "/Admin/Notice/PDeleteNoticeEntry",
                    type: 'GET',
                    data: {
                        id: id
                    },
                    success: function (data) {

                        $('#outerDiv').hide();
                        $("#outerDiv").html("");
                        $("#divDataContainer").html("");
                        $("#FormPart").html("");
                        $("#MainDiv").html(data);
                        $("#loader-wrapper").hide();
                    },
                    error: function (data) {

                        $('#outerDiv').hide();
                        $("#outerDiv").html("");
                        $("#divDataContainer").html("");
                        $("#FormPart").html("");
                        $("#MainDiv").html(data);
                        $("#loader-wrapper").hide();

                    }
                });
            }
        });
    }

    function checkItems() {
        document.getElementById("SelectedChkbxId").value = "";

        var passidsString = "";

        $(".checkstatus").each(function (id) {
            var obj = this;

            var id = $(obj).attr('id');


            if (document.getElementById(id).checked) {

                passidsString += "," + id.substring(6);
            }
        });
        if (passidsString != "") {
            passidsString = passidsString.substring(1);
            document.getElementById("SelectedChkbxId").value = passidsString;
        }

    }

    //$("#btnSendSMS").click(function () {
    //    checkItems();
    //    var NoticeIDs = document.getElementById("SelectedChkbxId").value;
    //    if (NoticeIDs != "" && NoticeIDs != null) {
    //        $.ajaxSetup({ cache: false });
    //        $.ajax({
    //            url: "/Admin/Notice/SendSMSandEmail",
    //            type: 'GET',
    //            data: {
    //                NoticeIDs: NoticeIDs
    //            },
    //            success: function (data) {


    //            },
    //            error: function (data) {



    //            }
    //        });
    //    }
    //    else {
    //        bootbox.alert("No notice has been selected");
    //    }
    //});
    function GetSMSLimit() {

        $.ajax({
            type: "GET",
            url: "/Notices/OnlineMemberQuestions/GetMaxLimitSMSByMember",
            data: {},

            success: function (data) {
                $('#spnlimitsms').html(data);
            }
        });
    }

    function GetSpentSSMS() {
        $.ajax({
            type: "GET",
            url: "/Notices/OnlineMemberQuestions/GetSpentSMSByMember",
            data: {},

            success: function (data) {
                $('#spnleftsms').html(data);
                var a = $('#spnleftsms').html();
                var b = $('#spnlimitsms').html();
                var c = b - a;

                //$('#spnleftsms').html(c);
                $('#spnLeft').html(c);
            }
        });
    }
    function AddToList(rowId, event) {

        if (event.target.type == 'checkbox') {

            //alert($("#" + rowId).find('td:eq(1)').text().trim()); also works for getting values

            var target = $(event.target);

            var IsRowSelected = $(target).prop('checked');

            if (IsRowSelected) {

                if ($.inArray(rowId, _tblList) == -1) {

                    var $tr = $(target).closest("tr");

                    var _tblRow = rowId + '$#**&##' +
					$tr.find('td:eq(1)').text().trim() + '$#**&##' +
					$tr.find('td:eq(2)').text().trim() + '$#**&##' +
					$tr.find('td:eq(3)').text().trim() + '$#**&##' +
					$tr.find('td:eq(4)').text().trim() + '$#**&##' +
					$tr.find('td:eq(5)').text().trim() + '$#**&##' +
					$tr.find('td:eq(6)').text().trim() + '$#**&##' +
					$tr.find('td:eq(7)').text().trim() + '$#**&##' +
					$tr.find('td:eq(8)').text().trim() + '$#**&##' +
					$tr.find('td:eq(9)').text().trim() + '$#**&##' +
					$tr.find('td:eq(10)').text().trim() + '$#**&##';

                    _tblList.push({ rowId: rowId, rowVal: _tblRow }); //storing selected table rows in an array
                }

                //$.each(_tblList, function (index, value) {
                //    alert(value.rowId + ' : ' + value.rowVal);
                //}); to show values in array
            }
            else {

                $.each(_tblList, function (index, value) {

                    if (value.rowId == rowId) {
                        _tblList.splice(index, 1); // removing item from the array
                    }

                });
            }
        }
    }
    $("#btnSendSMS").click(function () {
        alert("hello");
        $('#divSelectedMembers').html('');
        $('#RightMemberLists').html('');
        $('#mailids').html('');
        var checkboxes = document.getElementsByName("chkgroupbox");
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].type == 'checkbox') {
                checkboxes[i].checked = false;

            }
        }

        $('#chkAllGroups').prop("checked", false);
        $('#chkAllMembers').prop("checked", false);

        var checkboxes = document.getElementsByClassName("ace");
        if (checkboxes.length > 0) {
            $('#chkAllMembers').show();
        }
        else {
            $('#chkAllMembers').hide();
        }

        GetSMSLimit();
        GetSpentSSMS();
        if (_tblList.length > 0) {

            var tblSelRows = '';

            var IsValidated = true;

            $.each(_tblList, function (index, value) {

                var IsPublished = value.rowVal.split("$#**&##")[6].trim();

                if (IsPublished != "Published") {

                    var dlg = bootbox.alert('Cannot add a not published tour', function (e) {

                        $(dlg).modal('hide');

                    });

                    IsValidated = false;
                }
                else {

                    tblSelRows += value.rowVal + '$%##**#';

                    $('#hdnTblSelRows').val(tblSelRows);
                }

            });

            var tourmsg = $('#hdnTblSelRows').val().replace('$%##**#', '');

            var tourmsglength = tourmsg.length;
            var smsglimit = 475;
            if (tourmsglength > smsglimit) {
                var exceddchars = tourmsglength - smsglimit;

                var dlg = bootbox.alert('Tour SMS Limit Exceeds.SMS Limit is (475 characters) and Exceed characters are (' + exceddchars + ')', function (e) {

                    $(dlg).modal('hide');
                });
                return;
            }

            if (IsValidated) {

                $('#dlgRecipientGroupModel').modal('show');

                //ShowRecipientGroupDialog(tblSelRows);

            }
        }
        else {

            var dlg = bootbox.alert('No tour has been selected', function (e) {

                $(dlg).modal('hide');
            });
        }
    });
</script>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dlgRecipientGroupModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="label label-lg label-yellow arrowed-in arrowed-in-right" style="float: right;">

                    <strong>
                        <i class="ace-icon fa fa-check"></i>
                        Monthly Message Limit <span class="badge badge-success" id="spnlimitsms"></span>. You have <span class="badge badge-warning" id="spnleftsms" style="display: none;"></span><span class="badge badge-warning" id="spnLeft"></span>SMS Left.
                    </strong>
                </div>
                <button type="button" class="close" data-dismiss="modal">

                    @*<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>*@

                </button>
                <h4 class="modal-title" id="SaleCounterModalTitle">Select Recipients</h4>
            </div>
            <form method="post" id="DebateInfoForm">

                <div class="modal-body">
                    <div class="col-xs-12 col-sm-5">
                        <div class="control-group">

                            <div class="">
                                <div style="padding-left: 0px;">


                                    <select class="form-control" id="form-field-select-1" style="border-radius: 60px; font-size: 12px; height: 30px;" onchange="getgroups(this)">
                                        <option value="N">-Selec Group-</option>
                                        <option value="G">Generic</option>
                                        <option value="C">Constituency</option>
                                        <option value="P">Panchayat</option>
                                        <option value="O">Constituency Office</option>
                                    </select>

                                </div>
                                <div style="padding-left: 0px;">

                                    <input type="checkbox" id="chkAllGroups" value="Select ALL" />
                                    <label class="control-label bolder blue" for="name">
                                        Select All Groups</label>

                                </div>
                                <div id="LeftGroupLists" style="height: 150px; overflow-y: scroll;">
                                    @*<table style="width: 100%;">
										@foreach (var names in Model.RecipientGroupList)
		  {
			  var checkBoxId = "lstRecipientGroupCol" + names.GroupID;
			  var tdId = "td" + names.Name;

											<tr>
												<td>
													<label>
														<input name="chkgroupbox" type="checkbox"  id="chk_@names.GroupID" value="@names.GroupID" onclick="GetmembetsDetPartial(this.id, this.value);" />
														<span class="lbl">@names.Name</span>
													</label>
												</td>
											</tr>

		  }
									</table>*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="canvasloader-containerMember" class="canvasloader" style="text-align: center"></div>
                    <div id="divDataContainerMember"></div>

                    <div class="col-xs-12 col-sm-7">
                        <div class="control-group">
                            <div class="checkbox">
                                <label class="control-label bolder blue" for="name">​<span id="spnGroupmember">Select Recipients For SMS...</span></label>

                                <input type="checkbox" id="chkAllMembers" value="Select ALL" style="margin-left: .5%;" />

                                <div id="RightMemberLists" style="height: 178px; overflow-y: scroll;">
                                    Select Recipients For SMS...
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div id="canvasloader-containerSend" class="canvasloader" style="text-align: center"></div>
                    <div id="divDataContainerSend"></div>

                    <div class="control-group">
                        <div class="checkbox" style="display: none;">
                            <label class="control-label bolder blue" for="name">Selected Members (max limit 1000)</label>
                            <div id="divSelectedMembers" class="col-xs-3 tags" style="height: 45px; width: 98%; overflow-y: scroll;">
                            </div>
                            <div id="mailids" class="hdnmembers"></div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top: 20%">
                    <button type="button" id="UpdateDebateInfo" class="btn btn-primary" onclick="SendSmsToMembers()">
                        <i class="ace-icon fa fa-share align-top bigger-140"></i>
                        Send SMS</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="UncheckAllTour();">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
