﻿@model  SBL.eLegistrator.HouseController.Web.Areas.Admin.Models.NoticeViewModel


@{
    ViewBag.Title = "CreateNoticeEntry";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    string filetype = null;
    string[] filetypes = null;
    if (!string.IsNullOrEmpty(Model.FileLocation))
    {
       filetype  =  Model.FileLocation.Split('.')[1];
       filetypes = new string[4];
        filetypes[0] = "gif";
        filetypes[1] = "png";
        filetypes[2] = "jpg";
        filetypes[3] = "jpeg";
    }
          
}

@Html.Partial("_LeftMenu")
<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("NoticeEntryIndex", "Notice")">Admin</a>
            </li>
            <li>
                <a href="@Url.Action("NoticeEntryIndex", "Notice")">Notice</a>
            </li>
            @*    //<li class="active">@Heading</li>*@
        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>

    </div>

    <div class="page-content">
        @*<div id="ace-settings-container" class="ace-settings-container">

            <button class="btn  btn-sm btn-success" id="saveandnew">
                <i class="ace-icon fa fa-floppy-o bigger-150"></i>
                <span class="bigger-110">Save &amp; New</span>
            </button>

            <button type="submit" class="btn  btn-sm btn-warning" id="savebtn2">
                <i class="ace-icon fa fa-floppy-o bigger-150"></i>
                <span class="bigger-110">Save</span>
            </button>
            @if (Model.Mode != "Add")
            {
                // onclick="javascript:window.location.href='/Admin/Notice/DeleteNoticeEntry/@Model.NoticeID';"
                <button class="btn  btn-sm btn-danger" id="@Url.Action("DeleteNoticeEntry", "Notice", new { id = @Model.NoticeID })" onclick="DeleteNoticeInEdit(this.id)">
                    <i class="ace-icon fa fa-trash-o bigger-150"></i>
                    <span class="bigger-50">Delete</span>
                </button>
            }
            <button class="btn  btn-sm  btn-grey" onclick="javascript:window.location.href='/Admin/Notice/NoticeEntryIndex';">
                <i class="ace-icon fa fa-times bigger-150"></i>
                <span class="bigger-110">Cancel</span>
            </button>



        </div>*@
        <div class="page-header">
            <h1>Admin 
                               
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Notice  
                </small>
            </h1>


        </div>

        <!-- /section:settings.box -->

        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">Create Notice</h4>
            }
            else
            {
                <h4 class="widget-title lighter">Edit Notice</h4>
            }

        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">




                            @using (Html.BeginForm("SaveNoticeEntry", "Notice", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @role = "form", @id = "NoticeEntryForm" }))
                            { 
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.NoticeID)
                                @Html.HiddenFor(model => model.Mode)
                                @Html.HiddenFor(a => a.IsCreatNew)
                                    

                                <h4 class="header blue lighter smaller clearfix">Basic details </h4>


                                <div class="tabbable">
                                    <ul id="myTab" class="nav nav-tabs padding-18">
                                        <li class="active">
                                            <a href="#news-english" data-toggle="tab">
                                                <i class="green ace-icon fa fa-home bigger-120"></i>
                                                English
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#news-hindi" data-toggle="tab">
                                                <i class="blue ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                <span class="lang-hi">हिन्दी  </span>

                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content no-border padding-24">
                                        <div class="tab-pane in active" id="news-english">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Name">Title </label>

                                                <div class="col-sm-9 help-block">

                                                    @Html.TextBoxFor(model => model.NoticeTitle, new { @class = "col-xs-12 col-sm-7 col-md-6 col-lg-6", @placeholder = "Name", @autocomplete = "off" })

                                                    @Html.ValidationMessageFor(model => model.NoticeTitle)

                                                </div>
                                            </div>

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Description </label>
                                                <div class="col-sm-9">
                                                    @*<div class="clearfix">
                                                        <div class="wysiwyg-editor wysiwyg-style2" id="editor-eng"></div>
                                                    </div>
                                                    @Html.TextAreaFor(model => model.NoticeDescription, new { @class = "col-xs-10 col-sm-5 hide", @placeholder = "Description", @autocomplete = "off" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        @Html.ValidationMessageFor(model => model.NoticeDescription)
                                                    </div>*@
                                                     <span id="spnDetails" class="">
                                                    @Html.EditorFor(model => model.NoticeDescription)

                                                      </span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-pane" id="news-hindi">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Name">शीर्षक </label>

                                                <div class="col-sm-9 help-block">

                                                    @Html.TextBoxFor(model => model.LocalNoticeTitle, new { @class = "col-xs-12 col-sm-7 col-md-6 col-lg-6 ", @placeholder = "शीर्षक", @autocomplete = "off" })

                                                    @Html.ValidationMessageFor(model => model.LocalNoticeTitle)

                                                </div>
                                            </div>

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">विवरण </label>
                                                <div class="col-sm-9">
                                                    <div class="clearfix" style="border:1px solid #E5E5E5">
                                                        <div class="wysiwyg-editor wysiwyg-style2" id="editor-hin"></div>
                                                    </div>
                                                    @Html.TextAreaFor(model => model.LocalNoticeDescription, new { @class = "col-xs-12 col-sm-7 col-md-6 col-lg-6 hide", @placeholder = "विवरण", @autocomplete = "off" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        @Html.ValidationMessageFor(model => model.LocalNoticeDescription)
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <h4 class="header blue lighter smaller clearfix">Additional details </h4>
                                
                                if (Model.Mode == "Edit")
                                {
                             
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="avatar"></label>
                                    @Html.HiddenFor(m => m.FileLocation)
                                    @if (!string.IsNullOrEmpty(Model.FileLocation))
                                    {


                                        if (filetypes.Contains(filetype))
                                        {
                                        <div class="col-sm-9">
                                            <a id="@Model.ImageLocation" title="Photo Preview" onclick="ImagePriview(this.id);" href="javascript:void(0);" role="button"  data-toggle="modal" >
                                                <img src="@Model.ImageLocation" class="padded" height="100" /></a>
                                        </div>
                                        }
                                        else
                                        {
                                        
                                        <div class="col-sm-9">
                                            @Html.ActionLink("Document Attachment", "DownloadFile", "Notice", new { fileName = @Model.FileLocation }, null)
                                        </div>
                                        }
                                    }
                                </div>                                             
                                
                                }
                                
                                
                                    <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Address">Select Assembly </label>
                                    <div class="col-sm-9">

                                        @Html.DropDownListFor(model => model.AssemblyId, Model.AssemblyList, "--Select Assembly--", new { @class = "col-xs-12 col-sm-7 col-md-6 col-lg-6" })
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            @Html.ValidationMessageFor(model => model.AssemblyId)
                                        </div>
                                    </div>

                                </div>    <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Address">Select Session  </label>
                                    <div class="col-sm-9">

                                        @Html.DropDownListFor(model => model.SessionId, Model.SessionList, "--Select Session--", new { @class = "col-xs-12 col-sm-7 col-md-6 col-lg-6" })
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            @Html.ValidationMessageFor(model => model.SessionId)
                                        </div>
                                    </div>

                                </div>
                                
                                
                                
                                
                                
                                
                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Address">Category </label>
                                    <div class="col-sm-9">

                                        @Html.DropDownListFor(model => model.CategoryID, Model.CategoryList, "--Select Category--", new { @class = "col-xs-12 col-sm-7 col-md-6 col-lg-6" })
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            @Html.ValidationMessageFor(model => model.CategoryID)
                                        </div>
                                    </div>

                                </div>
                                    
                                    
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Address">Status </label>
                                    <div class="col-sm-9">

                                        @Html.DropDownListFor(model => model.Status, Model.TypeList, new { @class = "col-xs-12 col-sm-7 col-md-6 col-lg-6" })
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            @Html.ValidationMessageFor(model => model.Status)
                                        </div>
                                    </div>

                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" style="padding-top:0;" for="avatar">Attachment </label>

                                    <div class="col-sm-9">

                                        <input type="file" style="padding:0;" id="Image" name="file" class="col-xs-12 col-sm-7 col-md-6 col-lg-6" />
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            <span class="field-validation-error" id="filevalidation"></span>
                                        </div>

                                    </div>
                                </div>                    
                                
                                <div class="space-2"></div>

                                <h4 class="header blue lighter smaller clearfix">Optional details </h4>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-md-3 no-padding-right" for="start_date">Start Publishing:</label>

                                    <div class="col-xs-12 col-md-9">
                                        <div class="input-group col-xs-12 col-sm-7 col-md-6 col-lg-6 ">
                                            <input type="text" id="start_date" name="start_date" class="form-control datepicker " data-date-format="dd-mm-yyyy" />
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar bigger-110"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                        
                                <div class="space-2"></div>  
                                        
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-md-3 no-padding-right" for="finish_date">Finish Publishing:</label>

                                    <div class="col-xs-12 col-md-9">
                                        <div class="input-group col-xs-12 col-sm-7 col-md-6 col-lg-6 ">
                                            <input type="text" id="finish_date" name="finish_date" class="form-control datepicker " data-date-format="dd-mm-yyyy" />
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar bigger-110"></i>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                        
                                <div class="space-2"></div> 
                                <div class="form-group hide">
                                    <label class="control-label col-xs-12 col-md-3 no-padding-right" for="form-field-tags">Tag input:</label>

                                    <div class="col-xs-12 col-md-9">
                                        <div class="input-group col-xs-12 col-sm-7 col-md-6 col-lg-6">
                                            <input type="text" name="tags" class="input-xlarge" id="form-field-tags" value="Tag Input Control" placeholder="Enter tags ..." />
                                        </div>
                                    </div>

                                </div>
                                        
                                <div class="space-2"></div> 
                                <hr />  


                                <div class="btn-group pull-right padding-10" style="padding-bottom:40px;">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->

                                    <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        Reset
                                    </button>
                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple ">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        Save</button>


                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>

                            }



                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/jquery.hotkeys.min.js"></script>
<script src="~/assets/js/bootstrap-wysiwyg.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script>

    function DeleteNoticeInEdit(url) {

        bootbox.confirm("Are you sure to Delete Notice?", function (result) {

            if (result) {
                window.location.href = url;
            }
        })

    }

    $(document).ready(function () {

        $(':file').change(function () {
            for (var i = 0; i < this.files.length; ++i) {
                var name = this.files.item(i).name;
                var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp', 'pdf', 'doc', 'docx'];
                var Extension = name.split('.').pop().toLowerCase();
                if ($.inArray(Extension, fileExtension) == -1) {
                    alert(name + " is not valid format. Only '.jpeg','.jpg', '.png', '.gif', '.bmp','doc','docx' formats are allowed.");
                    $(':file').val("");
                    return false;
                }
            }
        });

        $("#NoticeTitle").focus();

        $('#start_date').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });

        $('#finish_date').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });

        $("#saveandnew").click(function () {
            $("#IsCreatNew").val(true);

            $("#savebtn").click();
        });

        $("#savebtn2").click(function () {

            $("#savebtn").click();

        });
        initEditor();

        $("#noticemain").addClass("active open");
        $("#noticesub").addClass("nav-show").css("display", "block");
        $("#noticelist").addClass("active");

        var hindata = $("#LocalNoticeDescription").val();

        var engdata = $("#NoticeDescription").val();

        $("div#editor-eng").html(engdata);

        $("div#editor-hin").html(hindata);

    });
    function resetFields() {
        $(".field-validation-error").empty();
        $("#NoticeTitle").focus();

    }

    function initEditor() {

        //Code for Edidor

        $('#editor-eng, #editor-hin').ace_wysiwyg({
            toolbar:
            [
                {
                    name: 'font',
                    title: 'Custom tooltip',
                    values: ['Some Font!', 'Arial', 'Verdana', 'Comic Sans MS', 'Custom Font!']
                },
                null,
                {
                    name: 'fontSize',
                    title: 'Custom tooltip',
                    values: { 1: 'Size#1 Text', 2: 'Size#2 Text', 3: 'Size#3 Text', 4: 'Size#4 Text', 5: 'Size#5 Text' }
                },
                null,
                { name: 'bold', title: 'Custom tooltip' },
                { name: 'italic', title: 'Custom tooltip' },
                { name: 'strikethrough', title: 'Custom tooltip' },
                { name: 'underline', title: 'Custom tooltip' },
                null,
                'insertunorderedlist',
                'insertorderedlist',
                'outdent',
                'indent',
                null,
                { name: 'justifyleft' },
                { name: 'justifycenter' },
                { name: 'justifyright' },
                { name: 'justifyfull' },
                null,
                {
                    name: 'createLink',
                    placeholder: 'Custom PlaceHolder Text',
                    button_class: 'btn-purple',
                    button_text: 'Custom TEXT'
                },
                { name: 'unlink' },
                null,
                {
                    name: 'insertImage',
                    placeholder: 'Custom PlaceHolder Text',
                    button_class: 'btn-inverse',
                    //choose_file:false,//hide choose file button
                    button_text: 'Set choose_file:false to hide this',
                    button_insert_class: 'btn-pink',
                    button_insert: 'Insert Image'
                },
                null,
                {
                    name: 'foreColor',
                    title: 'Custom Colors',
                    values: ['red', 'green', 'blue', 'navy', 'orange'],
                    /**
                        You change colors as well
                    */
                },
                /**null,
                {
                    name:'backColor'
                },*/
                null,
                { name: 'undo' },
                { name: 'redo' },
                null,
                'viewSource'
            ],
            //speech_button:false,//hide speech button on chrome

            'wysiwyg': {
                hotKeys: {} //disable hotkeys
            }

        }).prev().addClass('wysiwyg-style2');
    }


    $("#savebtn").click(function () {
        var engdata = $("div#editor-eng").html();

        // alert(engdata);
        var hindata = $("div#editor-hin").html();

        $("#LocalNoticeDescription").val(hindata);

        $("#NoticeDescription").val(engdata);


    });

</script>


<script>


    function ImagePriview(obj) {
        //var image = $(obj).attr('id');
        //  var path = '/Images/Notice/' + image;
        var modalBody = "<img width='598' height='300' src='" + obj + "' />";
        $('#modal-body').attr('style', 'padding:20px;width:300px;height:300px;');
        $('#modal-body').html(modalBody);


        $('#modal').modal('show');
    }


    //$('#NoticeEntryForm').submit(function (e) {

    //    //var mode = $('#Mode').val();
    //    //var imageValue = $('#Image').val();

    //    return true;

    //    //if (mode == "Add" && imageValue != '') {

    //    //    var ext = imageValue.split('.').pop().toLowerCase();
    //    //    if ($.inArray(ext, ['exe']) == 0) {

    //    //        $('#filevalidation').html('Invalid File Format (.exe not allowed)');
    //    //        e.preventDefault();
    //    //        return false;
    //    //    }
    //    //    else {
    //    //        $('#filevalidation').html('');
    //    //        return true;
    //    //    }
    //    //}
    //    //else if (mode == "Add" && imageValue == '') {

    //    //    $('#filevalidation').html('Image Required');
    //    //    e.preventDefault();
    //    //    return false;
    //    //}
    //    //else {
    //    //    var ext = imageValue.split('.').pop().toLowerCase();
    //    //    if (imageValue != "" && $.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
    //    //        $('#filevalidation').html('Invalid File Format (.gif, .png, .jpg, .jpeg allowed)');
    //    //        e.preventDefault();
    //    //        return false;
    //    //    }
    //    //    return true;
    //    //}


    //});

</script>
