﻿@model string[]

@{
    var deptcheck = 0;
    var sr = 0;
    // int expand = 0;
}
@{

    ViewBag.Title = "View Works";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@Html.Partial("_LeftNavigationMenu", Session["MenuList"])

<script defer src="~/Scripts/jquery-latest.min.js"></script>
<link href="~/Content/Bootstrap/bootstrap.min.css" rel="stylesheet" />


<link rel="stylesheet" href="~/Content/font-awesome.min.css">

<script src="~/assets/js/velocity.min.js"></script>
<script src="~/assets/js/velocity.ui.min.js"></script>
<link href="~/assets/css/mystyle.css" rel="stylesheet" />



<link href="~/assets/css/owl.carousel.min.css" rel="stylesheet" />

<script defer type="text/javascript" src="~/assets/js/owl.carousel.min.js"></script>

<script>
    $(document).ready(function () {

        $("#owl-slider-three").owlCarousel({
            items: 10, //10 items above 1000px browser width
            itemsDesktop: [1000, 5], //5 items between 1000px and 901px
            itemsDesktopSmall: [900, 3], // betweem 900px and 601px
            itemsTablet: [600, 2], //2 items between 600 and 0;
            margin: 17,
            stagePadding: 20,
            loop: true,
            navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }

            }
        });
        $("#owl-slider-four").owlCarousel({
            items: 10, //10 items above 1000px browser width
            itemsDesktop: [1000, 5], //5 items between 1000px and 901px
            itemsDesktopSmall: [900, 3], // betweem 900px and 601px
            itemsTablet: [600, 2], //2 items between 600 and 0;
            margin: 17,
            stagePadding: 20,
            loop: true,
            navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }

            }

        });

        $("#closebtn").click(function () {

            $("#viewWorksDetail").modal('hide');

        });
        $(".close").click(function () {

            $("#viewWorksDetail").modal('hide');

        });

        //$("#Worksmain").addClass("active open");
        //$("#ViewWorksmain").addClass("nav-show").css("display", "block");
        //$("#ViewWorklist").addClass("active");
    });



    if ($.isFunction('owlCarousel')) {
        $("#owl-slider-two").owlCarousel({
            items: 10, //10 items above 1000px browser width
            itemsDesktop: [1000, 5], //5 items between 1000px and 901px
            itemsDesktopSmall: [900, 3], // betweem 900px and 601px
            itemsTablet: [600, 2], //2 items between 600 and 0;
            margin: 20,
            stagePadding: 20,
            loop: true,
            navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 3
                }

            }
        });


        $("#owl-slider-four").owlCarousel({
            items: 10, //10 items above 1000px browser width
            itemsDesktop: [1000, 5], //5 items between 1000px and 901px
            itemsDesktopSmall: [900, 3], // betweem 900px and 601px
            itemsTablet: [600, 2], //2 items between 600 and 0;
            margin: 17,
            stagePadding: 20,
            loop: true,
            navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }

            }

        });
    }
</script>

<script src="~/Scripts/3.3.5/bootstrap.min.js"></script>








<nav aria-label="breadcrumb">
    <ol class="breadcrumb purple lighten-4">
    </ol>
</nav>


<div class="main-content">



    <div class="col-md-12 content-pad-0">
        @Html.Hidden("maintype", "0")
        @Html.Hidden("toggle", "0")
        <input type="hidden" id="DepartmentId" value="@ViewBag.DeptID" />

        <div class="feature-block-sec">
            <h4>
                <i class="fa fa-calendar" aria-hidden="true"></i> <span class="black-text" id="selected" style="font-size:14px;"></span>
                <div class="pull-right filter_text" style="display:none;">
                    <h5>
                        <a href="#myModal_filter" data-toggle="modal"><i class="fa fa-plus" aria-hidden="true"></i> FILTER</a>
                        <span class="number" id="spnCount">0</span>
                    </h5>
                </div>
            </h4>

            <div class="feature-block feature-block_mobile">
                <div class="w-flow xyz">
                    <div class="col-lg-2  col-sm-6 col-xs-6 flex-grow-2" title="Click to See Detail List" id="mainselection">
                        <div class="small-box bg-red" id="1" onclick="setvalue(this.id);">
                            <div class="inner">
                                <h3 class="count" id="SanctionedCountID">@Model[4]</h3>
                                <p>Yet to Start <br />स्वीकृत</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-briefcase"></i>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-2  col-sm-6 col-xs-6">
                        <div class="small-box bg-purple" id="2" onclick="setvalue(this.id);">
                            <div class="inner">
                                <h3 class="count" id="InProgressCountID">@Model[5]</h3>
                                <p>In-Progress <br />प्रवर्तमान</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-line-chart"></i>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-2  col-sm-6 col-xs-6">
                        <div class="small-box bg-green" id="3" onclick="setvalue(this.id);">
                            <div class="inner">
                                <h3 class="count" id="CompltedCountID">@Model[6]</h3>
                                <p> Completed <br />संपूर्ण</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-check-square"></i>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-6 col-xs-6">
                        <div class="small-box bg-yellow" id="5" onclick="setvalue(this.id);">
                            <div class="inner">
                                <h3 class="count" id="PendingInCourtCountID">@Model[7]</h3>
                                <p>Pending in Court <br />न्यायालय में लम्बित</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-legal"></i>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-6 col-xs-6">
                        <div class="small-box bg-aqua" id="4" onclick="setvalue(this.id);">
                            <div class="inner">
                                <h3 class="count" id="CancelledCountID">@Model[8]</h3>
                                <p>Cancelled <br />रद्द</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-ban"></i>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-6 col-xs-6">
                        <div class="small-box bg-teal" id="6" onclick="setvalue(this.id);">
                            <div class="inner">
                                <h3 class="count" id="ClearancePendingCountID">@Model[9]</h3>
                                <p style="font-size:13px;">Clearance Pending<br /> मंजूरी लंबित</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-hourglass"></i>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-6 col-xs-6">
                        <div class="small-box bg-teal1" id="7" onclick="setvalue(this.id);">
                            <div class="inner">
                                <h3 class="count" id="PendDuetoDPRCountID">@Model[10]</h3>
                                <p>Pend.Due to DPR <br /> डी0पी0आर लम्बित</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-hourglass"></i>
                            </div>

                        </div>
                    </div>
                </div>
            </div>







        </div>
    </div>




    <div id="listdiv" class="marg129"></div>

    <div id="viewProgressImages" class="modal"></div>
    <div id="viewFinancialProgress" class="modal"></div>
    <div id="viewphysicalProgress" class="modal"></div>
    <div id="viewWorksDetail" class="modal"></div>
    <div id="NviewWorksSummary" class="modal"></div>



    @if (ViewBag.Images.Count == 0)
    {
    }
    else
    {
        <div class="feature-block-sec">
            <h4><i class="fa fa-camera" aria-hidden="true"></i> Latest Works Images Updated</h4>
            <div class="feature-block">
                <div id="owl-slider-three" class="owl-carousel owl-theme">

                    @foreach (var item in @ViewBag.Images)
                    {
                        var path = @item.filePath + "/" + @item.fileName;
                        <div class="fbc-item" onclick="detailforImage(@item.schemeCode)" style="cursor: pointer;">
                            <div class="sf-block rounded-0" onclick="detailforImage(@item.schemeCode)">
                                <span class="b-img" onclick="detailforImage(@item.schemeCode)">
                                    <img onclick="detailforImage(@item.schemeCode)" style="height:300px" src="@path" alt="">
                                    @* <div class="share_outer">
                                           <ul>
                                              <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                              <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                              <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                           </ul>
                                        </div>*@

                                </span>
                                <div class="overlay">
                                    <div class="b-text rounded-0">
                                        <h5>

                                            @if (item.tFileCaption.ToString().Length > 35)
                                            {
                                                var s = "..";
                                                @item.tFileCaption.Substring(0, 36) ;@s;


                                            }
                                            else
                                            {
                                                @item.tFileCaption

                                            }

                                            <span class="last-updated">Last updated On :@item.UploadedDate.ToString("dd-MM-yyyy")</span>
                                            <span>Number of Image : @item.constituencyCode</span>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }



                </div>
            </div>
        </div>
    }
    @if (ViewBag.LatestUpdate.Count == 0)
    {
    }
    else
    {
        <div class="feature-block-sec">
            <h4><i class="fa fa-tasks" aria-hidden="true"></i> Latest Work Progess Updated</h4>
            <div class="feature-block">
                <div id="owl-slider-four" class="owl-carousel owl-theme">

                    @foreach (var item in @ViewBag.LatestUpdate)
                    {
                        string[] colorArray = { "#eb8e86", "#99c0bb", "#a9929c", "#eb8e86", "#99c0bb", "#a9929c", "#eb8e86" };

                        <div class="fbc-item" onclick="" style="cursor: pointer;">
                            <div class="sf-block rounded-0">
                                <div class="work_progress_box progress_box_color1" style="background-color:@colorArray[sr]">
                                    <div class="b-img">
                                        @* <div class="share_outer">
                                               <ul>
                                                  <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                                  <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                                  <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                               </ul>
                                            </div>*@

                                        <p><span>Department :</span>    @item.ExecutiveDepartment</p>
                                        <p><span>Executing Agency :</span>   @item.ExecutiveOffice</p>
                                        <p><span>Work Status :</span>   @item.workStatus</p>

                                        @if (item.workName.ToString().Length > 100)
                                        {
                                            var s = "..";
                                            <p><span>Work Name :</span>    @item.workName.Substring(0, 100) @s</p>


                                        }
                                        else
                                        {
                                            <p><span>Work Name :</span>   @item.workName</p>
                                            if (item.workName.ToString().Length > 80)
                                            {
                                                <br />
                                                <br />
                                            }
                                            else
                                            {
                                                <br />
                                            }

                                        }



                                        <p><span>Expenditure Till Date :</span>  @item.physicalProgress</p>
                                        <p><span>Physical Progress till Date :</span>  @item.schemeTypeId %</p>
                                        <p><span>Last Updated On :</span>  @item.sanctionedDate</p>

                                    </div>
                                </div>

                            </div>
                        </div>

                        sr = sr + 1;
                        if (sr > 6)
                        {
                            sr = 0;
                        }
                    }



                </div>
            </div>
        </div>
    }
</div>


<script>




    $(document).ready(function () {
        var sum = parseInt('@Model[4]') + parseInt('@Model[5]') + parseInt('@Model[6]') + parseInt('@Model[7]') + parseInt('@Model[8]') + parseInt('@Model[9]') + parseInt('@Model[10]');
        var Text = "Total: " + sum;
        $('#selected').text(Text);

        @*fillFilterControllingAuthority("0");
        fillFilterFinancialYear1();
        fillFilterSectionYear();
        fillFilterOwnerDepartment();
        fillFilterProgramme();

        fillFilterWorkType();
        fillFilterExecutingDepartment1('@Model[0]', '@Model[1]', '@Model[2]');
        FilterDistrictList1('@Model[2]', '@Model[3]');
        fillFilterPanchayatByConstituency("0");
        fillOffice();
        DefaultfilterCount();*@


    });

    function filterCount() {
        $("#spnCount").text("");
        var counter = 0;
        var s = '@deptcheck'
         //alert(s)

         var Office = $("#Office option:selected").val();
         //  alert(Office);
         if (Office != 0 && typeof Office != 'undefined') {
             counter = counter + 1;
         }


         var FinancialYearID = $("#statusSectionFinancialYear option:selected").val();
         if (FinancialYearID != 0 && typeof FinancialYearID != 'undefined') {
             counter = counter + 1;
         }

         var ControllingAuthorityID = $("#ControllingAuthority option:selected").val();
         if (ControllingAuthorityID != 0 && typeof ControllingAuthorityID != 'undefined') {
             counter = counter + 1;
         }

         // var DemandID = "0";
         var ProgramID = $("#Program option:selected").val();
         if (ProgramID != 0 && typeof ProgramID != 'undefined') {
             counter = counter + 1;
         }

         var AgencyID = $("#Agency option:selected").val();
         if (AgencyID != 0 && typeof AgencyID != 'undefined') {
             counter = counter + 1;
         }


         var OwnerDepartmentID = $("#OwnerDepartment option:selected").val();
         if (OwnerDepartmentID != 0 && typeof OwnerDepartmentID != 'undefined') {
             counter = counter + 1;
         }

         var PanchayatID = $("#Panchayat option:selected").val();
         if (PanchayatID != 0 && typeof PanchayatID != 'undefined') {

             counter = counter + 1;
         }

         var WorkTypeID = $("#workType option:selected").val();
         if (WorkTypeID != 0 && typeof WorkTypeID != 'undefined') {
             counter = counter + 1;
         }

         // var StatusID = $("#maintype").val();
         //if (Office != 0) {
         //    counter = counter + 1;
         //}

         var SectionAmount = $("#SectionAmount").val();
         if (SectionAmount != 0 && typeof SectionAmount != 'undefined') {
             counter = counter + 1;
         }

         var DistrictID = $("#District  option:selected").val();
         if (DistrictID != 0 && typeof DistrictID != 'undefined') {
             counter = counter + 1;
         }

         var SubdivisionID = $("#SubDivision  option:selected").val();
         if (SubdivisionID != 0 && typeof SubdivisionID != 'undefined') {
             // alert(counter);
             counter = counter + 1;
         }

         var ConstituencyID = $("#Constituency  option:selected").val();
         if (ConstituencyID != 0 && typeof ConstituencyID != 'undefined') {
             counter = counter + 1;
         }

         var cFinancialYearID = $("#FinancialYear option:selected").val();
         if (cFinancialYearID != 0) {
             counter = counter + 1;
         }

         var Estimate = $("#Estimate").val();
         if (Estimate != 0) {
             counter = counter + 1;
         }

         var Images = $("#Images").val();
         if (Images != 0) {
             counter = counter + 1;
         }



         if (counter > 0) {
             $("#spnCount").text(counter);
             $("#spnCount").show();
         }
         else {
             $("#spnCount").hide();
             counter = 0;
         }
         counter = 0;
     }

     function detailforImage(rowId) {
         // alert(rowId)


         $("#loader-wrapper").show();

         var pathurl = '/Constituency/Constituency/findMyConstituencyWorkbyCode';
         $.ajax({
             url: pathurl,
             type: 'POST',
             data: { schemeID: rowId },
             success: function (data) {

                 $("#viewWorksDetail").show();
                 $("#viewWorksDetail").html("");
                 $("#viewWorksDetail").html(data);
                 $("#loader-wrapper").hide();
                 $("#viewWorksDetail").modal({
                     "backdrop": "static",
                     "keyboard": true,
                     "show": true
                 });
                 $("#loader-wrapper").hide();

             }


         });

     }


     $("#District").change(function () {

         fillFilterConstituencyByDistrict($("#District :selected").val());
     });
     $("#Constituency").change(function () {
         fillFilterPanchayatByConstituency($("#Constituency :selected").val());
     });
     $("#Agency").change(function () {
         fillOffice1($("#Agency :selected").val());
     });

     $('#submitButton').click(function (e) {

         e.preventDefault();
         $("#loader-wrapper").show();
         var MLAfeb = "0";
         var Office = $("#Office option:selected").val();

         if ('@Model[2]' == 7) {
             if (Office == 0) {
                 if ('@Model[0]' == 0 && '@Model[0]' == null) {

                     Office = 0
                 }
                 else {
                     Office = '@Model[0]'
                 }
             }
         }


         var FinancialYearID = $("#statusSectionFinancialYear option:selected").val();
         var ControllingAuthorityID = $("#ControllingAuthority option:selected").val();
         var DemandID = "0";
         var ProgramID = $("#Program option:selected").val();
         var AgencyID = $("#Agency option:selected").val();

         if ('@Model[2]' == 7 && '@Model[2]'== 2) {

             if (AgencyID == 0) {
                 if ('@Model[1]' == 0 && '@Model[1]' == null) {
                     AgencyID = 0
                 }
                 else {
                     AgencyID = '@Model[1]'
                 }
             }
         }


         var OwnerDepartmentID = $("#OwnerDepartment option:selected").val();
         var PanchayatID = $("#Panchayat option:selected").val();
         var WorkTypeID = $("#workType option:selected").val();
         //var StatusID = $("#maintype").val();
         var StatusID="0"
         var SectionAmount = $("#SectionAmount").val();
         var DistrictID = $("#District  option:selected").val();
         var SubDivisionID = $("#SubDivision  option:selected").val();
         var ConstituencyID = $("#Constituency  option:selected").val();
         var cFinancialYearID = $("#FinancialYear option:selected").val();
         var Estimate = $("#Estimate").val();
         var Images = $("#Images").val();

         var pathurl = '/Constituency/Constituency/FilteredconstituencyListForAll'

         $.ajax({
             url: pathurl,
             type: 'GET',
             data: { FinancialYear: FinancialYearID, cFinancialYear: cFinancialYearID, ControllingAuthority: ControllingAuthorityID, Program: ProgramID, Demand: DemandID, Agency: AgencyID, OwnerDepartment: OwnerDepartmentID, Panchayat: PanchayatID, Status: StatusID, WorkType: WorkTypeID, DistrictID: DistrictID, SubDivisionID: SubDivisionID, Constituency: ConstituencyID, sanctionedDate: "0", SectionAmount: SectionAmount, Estimate: Estimate, Images: Images, MLAfeb: MLAfeb, Office: Office },
             // data:{ params },
             success: function (data) {
                 $("#loader-wrapper").hide();
                 $("#listdiv").html('');
                 $("#listdiv").html(data);

             }
         });
         filterCount();

         $('#myModal_filter').modal('toggle'); //or  $('#IDModal').modal('hide');
         return false;

     });









    function getofcrDataAgency() {
        debugger;
        $("#loader-wrapper").show();

         var  Office = '@Model[0]';
           var AgencyID = '@Model[1]';
         var UserType = '@Model[2]';
         var StatusID = $("#maintype").val();
         var MLAfeb = 0;
         var pathurl = '/Constituency/Constituency/FilteredconstituencyListForAgency'

         $.ajax({
             url: pathurl,
             type: 'GET',
             data: { Agency: AgencyID, Status: StatusID, Office: Office, UserType: UserType, MLAfeb: MLAfeb },
             // data:{ params },
             success: function (data) {
                 $("#loader-wrapper").hide();
                 $("#listdiv").html('');
                 $("#listdiv").html(data);
                 // $("#loader-wrapper").hide();
             }
         });

     }









     function DefaultfilterCount() {

         var counter = 0;
         var Office = $("#Office option:selected").val();

         if (Office != 0 && typeof Office != 'undefined') {
             counter = counter + 1;
         }


         var FinancialYearID = $("#statusSectionFinancialYear option:selected").val();
         if (FinancialYearID != 0 && typeof FinancialYearID != 'undefined') {
             counter = counter + 1;
         }

         var ControllingAuthorityID = $("#ControllingAuthority option:selected").val();
         if (ControllingAuthorityID != 0 && typeof ControllingAuthorityID != 'undefined') {
             counter = counter + 1;
         }

         // var DemandID = "0";
         var ProgramID = $("#Program option:selected").val();
         if (ProgramID != 0 && typeof ProgramID != 'undefined') {
             counter = counter + 1;
         }

         var AgencyID = $("#Agency option:selected").val();

         if (AgencyID != 0 && typeof AgencyID != 'undefined') {
             counter = counter + 1;
         }


         var OwnerDepartmentID = $("#OwnerDepartment option:selected").val();
         if (OwnerDepartmentID != 0 && typeof OwnerDepartmentID != 'undefined') {
             counter = counter + 1;
         }

         var PanchayatID = $("#Panchayat option:selected").val();
         if (PanchayatID != 0 && typeof PanchayatID != 'undefined') {

             counter = counter + 1;
         }

         var WorkTypeID = $("#workType option:selected").val();
         if (WorkTypeID != 0 && typeof WorkTypeID != 'undefined') {
             counter = counter + 1;
         }


         var SectionAmount = $("#SectionAmount").val();
         if (SectionAmount != 0 && typeof SectionAmount != 'undefined') {
             counter = counter + 1;
         }

         var DistrictID = $("#District  option:selected").val();
         if (DistrictID != 0 && typeof DistrictID != 'undefined') {
             counter = counter + 1;
         }

         var SubdivisionID = $("#SubDivision  option:selected").val();
         if (SubdivisionID != 0 && typeof SubdivisionID != 'undefined') {
             // alert(counter);
             counter = counter + 1;
         }

         var ConstituencyID = $("#Constituency  option:selected").val();
         if (ConstituencyID != 0 && typeof ConstituencyID != 'undefined') {
             counter = counter + 1;
         }

         var cFinancialYearID = $("#FinancialYear option:selected").val();
         if (cFinancialYearID != 0) {
             counter = counter + 1;
         }

         var Estimate = $("#Estimate").val();
         if (Estimate != 0) {
             counter = counter + 1;
         }

         var Images = $("#Images").val();
         if (Images != 0) {
             counter = counter + 1;
         }



         if (counter > 0) {
             $("#spnCount").text(counter);
             $("#spnCount").show();
         }
         else {
             $("#spnCount").hide();
             counter = 0;
         }
         counter = 0;
     }





</script>



<div id="myModal_filter" class="modal" data-easein="perspectiveLeftIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closebtn">×</button>
                <h4 class="modal-title">See Filter All</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 modal_content">
                    <span class="label label-lg label-primary arrowed-right" style="height: 24px;font-size: 14px;">Main Filter</span>
                    <div class="row" style="padding:4px">
                        <div class="col-sm-2">
                            <label for="ControllingAuthority">Controlling Authority:</label>
                        </div>
                        <div class="col-sm-2">
                            <select id="ControllingAuthority" style="width:100%">
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label for="workType">Work Type:</label>
                        </div>
                        <div class="col-sm-2">
                            <select id="workType" style="width:100%">
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label for="workType">Project:</label>
                        </div>
                        <div class="col-sm-2">
                            <select id="Program" style="width:100%">
                            </select>
                        </div>
                    </div>
                    <div class="row" style="padding:4px">
                        <div class="col-sm-2"><label for="Estimate">DPR/Estimate :</label></div>
                        <div class="col-sm-2">
                            <select id="Estimate" style="width:100%">
                                <option value="0">--Select--</option>
                                <option value="1">With DPR/Estimate</option>
                                <option value="2">Without DPR/Estimate</option>
                            </select>
                        </div>
                        <div class="col-sm-2"><label for="Images">Progress Images :</label></div>
                        <div class="col-sm-2">
                            <select id="Images" style="width:100%">
                                <option value="0">--Select--</option>
                                <option value="1">With Images</option>
                                <option value="2">Without Images</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label for="SectionAmount">Section Amount :</label>
                        </div>
                        <div class="col-sm-2">
                            <select id="SectionAmount" style="width:100%">
                                <option value="0">--Select--</option>
                                <option value="0-1 LL">0 lakh - 1 lakh</option>
                                <option value="1-2 LL">1 lakh - 2 lakh</option>
                                <option value="2-5 LL">2 lakh - 5 lakh</option>
                                <option value="5-10 LL">5 lakh - 10 lakh</option>
                                <option value="10-25 LL">10 lakh - 25 lakh</option>
                                <option value="25-50 LL">25 lakh - 50 lakh</option>
                                <option value="50-1 LC">50 lakh - 1 Cr</option>
                                <option value="1-2 CC">1 Cr - 2 Cr</option>
                                <option value="2-5 CC">2 Cr - 5 Cr</option>
                                <option value="5 +">5 Cr +</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 modal_content">
                    <span class="label label-lg label-primary arrowed-right" style="height: 24px;font-size: 14px;">Year Filter</span>
                    <div class="row" style="padding:4px">
                        <div class="col-sm-2">
                            <label for="statusSectionFinancialYear">Sanctioned Year :</label>
                        </div>
                        <div class="col-sm-4">
                            <select id="statusSectionFinancialYear" style="width:100%">
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label for="FinancialYear">Completion Year :</label>
                        </div>
                        <div class="col-sm-4">
                            <select id="FinancialYear" style="width: 100%">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 modal_content">
                    <span class="label label-lg label-primary arrowed-right" style="height: 24px;font-size: 14px;">Location Filter</span>
                    <div class="row" style="padding:4px;">
                        <div class="col-sm-2">
                            <label for="District">District :</label>
                        </div>
                        <div class="col-sm-4">
                            <select id="District" style="width:100%" data-placeholder="--select  District --">
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label for="Constituency">Constituency  :</label>
                        </div>
                        <div class="col-sm-4">
                            <select id="Constituency" style="width:100%" data-placeholder="--select  Constituency --">
                            </select>
                        </div>
                    </div>
                    <div class="row" style="padding:4px;">
                        <div class="col-sm-2">
                            <label for="SubDivision">Sub Division  :</label>
                        </div>
                        <div class="col-sm-4">
                            <select id="SubDivision" style="width:100%" data-placeholder="--select  SubDivision --">
                            </select>
                        </div>
                        <div class="col-sm-2" style="display:none;">
                            <label for="Panchayat">Panchayat  :</label>
                        </div>
                        <div class="col-sm-4" style="display:none;">
                            <select id="Panchayat" style="width:100%">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 modal_content">
                    <span class="label label-lg label-primary arrowed-right" style="height: 24px;font-size: 14px;">Department Filter</span>
                    <div class="row" style="padding:4px;">
                        <div class="col-sm-2">
                            <label for="Agency">Executing Department :</label>
                        </div>
                        <div class="col-sm-4">
                            <select id="Agency" style="width:100%">
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label for="Office">Office :</label>
                        </div>
                        <div class="col-sm-4">
                            <select id="Office" style="width:100%">
                            </select>
                            <label style="color:red;float: left;">Note :- Includes Subordinates Offices</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="OwnerDepartment">Owner Department :</label>
                        </div>
                        <div class="col-sm-4">
                            <select id="OwnerDepartment" style="width:100%">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row center">
                    <button type="button" id="submitButton" class="btn btn-info btn-sm">
                        <i class="ace-icon fa fa-search bigger-110"></i>Search
                    </button>
                    <button type="button" class="btn btn-warning btn-sm" onclick="Toggle();">
                        <i class="ace-icon fa fa-times bigger-110"></i>Clear
                    </button>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>

<script>
    function setvalue(type) {

        var scrolled = 0;
       // alert(type);
        $("#listdiv").html('');
        var x=  $('#' + type).text()  ;
        $('#maintype').val(type);
        getofcrDataAgency();
        var sum = parseInt('@Model[4]') + parseInt('@Model[5]') + parseInt('@Model[6]') + parseInt('@Model[7]') + parseInt('@Model[8]') + parseInt('@Model[9]') + parseInt('@Model[10]');
        var Text = "Total: " + sum + "           (" + x + ")";
        $('#selected').text(Text);

        var state = $('#collapseTwo').is(":visible");
        if (state == true) {
            $('.collapse').collapse('hide');
        }

        $('html, body').animate({
            scrollTop: $("#listdiv").offset().top
        }, 'Fast');
    }

    $("#favouriteMLA").change(function () {
       getofcrData();
    });


    function Toggle() {

        fillFilterControllingAuthority("0");
        fillFilterFinancialYear1();
        fillFilterSectionYear();
        fillFilterOwnerDepartment();
        fillFilterProgramme();
        // fillFilterWorkStatus();
        fillFilterWorkType();
        fillFilterExecutingDepartment1('@Model[0]', '@Model[1]', '@Model[2]');
        FilterDistrictList1('@Model[2]', '@Model[3]');
        fillFilterPanchayatByConstituency("0");
        fillOffice();
}
</script>
