﻿@model SBL.eLegistrator.HouseController.Web.Areas.Notices.Models.LegislationFixationModel
@{
    ViewBag.Title = "Question Notice Reply Report";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}
@Html.Partial("_LeftMenu")
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "PassCountList")">Home</a>
            </li>

            <li>
                <a href="@Url.Action("Index", "PassCountList")">Question Notice Reply Report</a>
            </li>

        </ul>

        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>

    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->

        <div class="row">

            <div class="col-xs-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h4 class="widget-title"></h4>


                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="clearfix">

                                <div id="SearchResultDiv">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            @{Html.RenderPartial("~/Areas/Admin/Views/QuestionsNoticesReplyReport/_QuestionsNoticesReplyReport.cshtml", Model);}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
</div>

<style>
    #tblfiles tr td {
        padding: 5px;
        border: 1px solid;
    }

    #tblfiles tr th {
        padding: 5px;
    }

    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }

    #tblSearchMetaDataFile {
        width: 100%;
    }

    .clsdp {
        width: 18%;
        padding: 5px;
    }
</style>
<script src="~/assets/js/CommonNotify.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>

@*<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<script src="~/assets/TableTools/js/dataTables.tableTools.js"></script>
<link href="~/assets/TableTools/css/dataTables.tableTools.css" rel="stylesheet" />
<script src="~/assets/js/bootbox.min.js"></script>*@


<script>

    function SearchSessionChange() {
        var assembly = $("#SearchassemblyLst").val();
        var session = $("#SearchsessionLst").val();
        $.ajax({
            url: '/Admin/UploadMetaFile/GetSessionDate',
            type: 'POST',
            data: {
                assembly: assembly,
                session: session

            },
            success: function (data) {
                $("#SearchsessionDateLst").empty();
                $("#SearchsessionDateLst").append("<option value='0'>-- Select --</option>");
                $.each(data, function (index, optiondata) {
                    $("#SearchsessionDateLst").append("<option value='" + optiondata.DisplayDate + "'>" + optiondata.DisplayDate + "</option>");
                });
                //$("#sessionDateLst option[value='0']").prop("selected", "selected");
            }
        })


        $('.ErrorMessage').empty();
        $("#SearchsessionDateLst").css("border", "1px solid green");
    }
    function SearchAssemblyChange() {
        var assembly = $("#SearchassemblyLst").val();
        $.ajax({
            url: '/Admin/UploadMetaFile/GetSessionList',
            type: 'POST',
            data: {
                assembly: assembly
            },
            success: function (data) {
                $("#SearchsessionLst").empty();
                $("#SearchsessionLst").append("<option value='0'>-- Select --</option>");
                $.each(data, function (index, optiondata) {
                    $("#SearchsessionLst").append("<option value='" + optiondata.SessionCode + "'>" + optiondata.SessionName + "</option>");
                });
                // $("#sessionLst option[value='0']").prop("selected", "selected");
            }
        })

        SessionChange();

        $('.ErrorMessage').empty();
        $("#SearchsessionLst").css("border", "1px solid green");
    }

     

    $(document).ready(function () {

        $("#progress").slideUp();
        $("#progress1").slideUp();
    });


</script>
