﻿@model IEnumerable<SBL.DomainModel.Models.PressClipping.mPressClippingsPDF>
@{
    var count = 0;
    ViewBag.Title = "PressClippingIndex";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@{Html.RenderPartial("~/Areas/Library/Views/Shared/_LeftMenu.cshtml");}
<link href="~/assets/css/datepicker.css" rel="stylesheet" />
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("PressClippingIndex", "PressClipping")">@Resources.MasterDataDashboard.Home</a>
            </li>

            <li>
                <a href="@Url.Action("PressClippingIndex", "PressClipping")">@Resources.MasterDataDashboard.PressClipping</a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.List</li>
        </ul>

    </div>
    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->


        <!-- /section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
            <button class="btn  btn-sm btn-info" onclick="PopulatePressClipings(0,'Add');">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                <span class="bigger-110">@Resources.MasterDataDashboard.New</span>
            </button>
        </div>
        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.PressClipping
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.List
                </small>
            </h1>          
        </div>
          @if(ViewBag.saved != null){
            <div class="alert alert-warning" id="MsgDiv">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                <strong>@ViewBag.saved</strong>
            </div>
            }
        <div id="Menu">
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="pass-table">
                        @if (Model != null)
                        {
                            if (Model.Count() > 0)
                            {       
                                    
                            <table class="table table-striped table-bordered table-hover dataTable" id="tblPressClipPDFDetails" aria-describedby="sample-table-2_info">
                                <thead>
                                    <tr role="row">
                                        <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">S.No</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">News Date</th>
                                        @*<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Category</th>*@
                                        <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">PDF</th>
                                        <th class="sorting_disabled center" role="columnheader" rowspan="1" colspan="1" aria-label="">Action</th>
                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    @foreach (var item in Model)
                                    {
                                        count = count + 1;  
                                        <tr>
                                            <td class="center" style="width:1%">
                                                @count
                                            </td>
                                            <td>@item.NewsDate.ToString("dd/MM/yyyy")</td>
                                            @*<td style="width: 10%">@item.Category</td>*@
                                            <td style="width:3%">
                                               @* <a href="@Url.Action("PressClipPDFInfo", "PressClipping", new { Id = SBL.eLegistrator.HouseController.Web.Extensions.EncryptionUtility.Encrypt(item.PressClipPDFID.ToString()) })">
                                                <img src="~/Images/Common/PDF.png" height="50px" width="50px" /></a>  *@  
                                                <a href="@ViewBag.FileLocation/PDF/PressClipping/@item.PressClippingPdfPath" target="_blank">
                                                <img src="~/Images/Common/PDF.png" height="50px" width="50px" /></a>                                           
                                            </td>

                                            <td class="center" style="width:3%">
                                                <div class="hidden-sm hidden-xs action-buttons">
                                                     <a data-rel="tooltip" class="green tooltip-success" title="Edit" href="@Url.Action("EditPressClipPDF", "PressClipping", new { Id = SBL.eLegistrator.HouseController.Web.Extensions.EncryptionUtility.Encrypt(item.PressClipPDFID.ToString()) })">
                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                    </a>
                                                    <a data-rel="tooltip" class="red tooltip-error DeleteSec" title="Delete" id="@item.PressClipPDFID"  href="@Url.Action("DeletePressClipPDF", "PressClipping", new { Id = SBL.eLegistrator.HouseController.Web.Extensions.EncryptionUtility.Encrypt(item.PressClipPDFID.ToString()) })">
                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                    </a>
                                                </div>
                                                <div class="hidden-md hidden-lg">
                                                    <div class="inline position-relative">
                                                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                            <li>

                                                                <a  href="@Url.Action("EditPressClipPDF", "PressClipping", new { Id = SBL.eLegistrator.HouseController.Web.Extensions.EncryptionUtility.Encrypt(item.PressClipPDFID.ToString()) })" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                    <span class="green">
                                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="@Url.Action("DeletePressClipPDF", "PressClipping", new { Id = SBL.eLegistrator.HouseController.Web.Extensions.EncryptionUtility.Encrypt(item.PressClipPDFID.ToString()) })"  class="tooltip-error DeleteSec" data-rel="tooltip" title="Delete">
                                                                    <span class="red">
                                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                    </span>
                                                                </a>

                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>                                                                
                                    
                                    }
                                </tbody>
                            </table>
                            <!-- PAGE CONTENT ENDS -->
                            }
                            else
                            {
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="alert alert-info">
                                        <strong>@Resources.MasterDataDashboard.NoPressClippingFound</strong><br />
                                    </div>
                                </div>
                            </div>
                            }
                        }
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@
            </div>
            <!-- /section:basics/footer -->
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>
    <div class="space-6"></div>
</div>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>

<script>
    $(document).ready(function () {

        $("#PressClipping").addClass("active open");
        $("#PressClippingSub").addClass("nav-show").css("display", "block");
        $("#PressClippingIndex").addClass("active");
        $("#PressClippingLinkId").removeClass("fa-comment").addClass("fa-comment-o");

        var oTable1 =
       $('#tblPressClipPDFDetails')
       .dataTable();

        setTimeout(function () {
            $("#MsgDiv").slideUp(400);
        }, 4000);
    });

    function PopulatePressClipings(Id, Action) {

        $.ajax({
            type: "POST",
            url: '/Library/PressClipping/CreatePressClippingPDF',
            data: '{ Id: "' + Id + '",Action: "' + Action + '" }',
            contentType: "application/json; charset=utf-8",
            //dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                // alert(result);
                $('#PressClippingDiv').empty();
                $('#PressClippingDiv').append(result);
                // alert(result);
                $('#CreateNewPressclipping').modal('show');
            },
            error: function (error) {
                //alert("error");
                $('#PressClippingDiv').empty();
                $('#PressClippingDiv').append(error.responseText);
                $('#CreateNewPressclipping').modal('show');

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                //setTimeout(function () {
                //    $('#divMsg').slideUp("slow");
                //}, 6000);

            }
        });
    }


    //$(document).on('click', '#SavePressClipping', function (e) {

    //    $('.ErrorMessage').remove('');
    //    var IsValid = true;

    //    if ($('#NewsDate').val().trim() == '') {
    //        $('#NewsDate').css("border", "1px solid red");
    //        $('#NewsDate').after("<span class='ErrorMessage'> Date is required</span>");
    //        $('#NewsDate').focus();
    //        IsValid = false;
    //    }

    //    if ($('#UploadPdf').val().trim() == '') {
    //        $('#UploadPdf').css("border", "1px solid red");
    //        $('#UploadPdf').after("<span class='ErrorMessage'> PDF is required</span>");
    //        $('#UploadPdf').focus();
    //        IsValid = false;
    //    }
    //    if (IsValid == true) {

    //        $("#NewPressclippingsForm").submit();

    //        //var QData = $('#NewPressclippingsForm').serialize();
    //        //e.preventDefault();
    //        //$.ajax({
    //        //    cache: false,
    //        //    async: true,
    //        //    type: "POST",
    //        //    url: '/Library/PressClipping/SavePressClipingsPDFRecord',
    //        //    data: QData,
    //        //    beforeSend: function () {
    //        //        $('#CreateNewPressclipping').modal('hide');
    //        //        $('#loader-wrapper').show();
    //        //    },

    //        //    success: function (result) {
    //        //        if (result == "saved")
    //        //        {
    //        //            ShowNotification("success", "Data saved Successfully");
    //        //        }
    //        //    },

    //        //    error: function (result) {
    //        //    },

    //        //    complete: function (result) {
    //        //        $('#loader-wrapper').hide();
    //        //    }
    //        //});
    //    }
    //});


    function validation() {

        $('.ErrorMessage').remove('');
        var IsValid = true;

        if ($('#NewsDate').val().trim() == '') {
            $('#NewsDate').css("border", "1px solid red");
            $('#NewsDate').after("<span class='ErrorMessage'> Date is required</span>");
            $('#NewsDate').focus();
            IsValid = false;
            return false;
        }

        if ($('#UploadPdf').val().trim() == '') {
            $('#UploadPdf').css("border", "1px solid red");
            $('#UploadPdf').after("<span class='ErrorMessage'> PDF is required</span>");
            $('#UploadPdf').focus();
            IsValid = false;
            return false;
        }
        // code to change date format to yy mm dd
        var datevalue = $("#NewsDate").val();
        var dateAr = datevalue.split('/');
        var newDate = dateAr[2] + '/' + dateAr[1] + '/' + dateAr[0];
        $("#NewsDate").val(newDate);
        
        if (IsValid == true) {

            return true;
        }
    }

    function DeletePressClipingPDF(Id) {
        debugger;
        $.ajax({
            type: "POST",
            url: '/IssueBook/DeletePressclipingPDF',
            data: '{ Id: "' + Id + '"}',
            contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {

            },
            error: function (result) {
            },
            complete: function (result) {
                $('#loader-wrapper').hide();
            }
        });
    }
</script>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="CreateNewPressclipping" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="SubscriptionModal">New Press clipings</h4>
            </div>
            <form method="post" action="/Library/PressClipping/SavePressClipingsPDFRecord" id="NewPressclippingsForm" enctype="multipart/form-data">
                <div class="modal-body">
                    <div id="PressClippingDiv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="SavePressClipping" class="btn btn-primary" onclick="return validation() ">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
