﻿@model  List<SBL.eLegistrator.HouseController.Web.Areas.Library.Models.PressClipViewModel>

@{
    ViewBag.Title = "Set Availability ";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}
<link href="~/assets/css/datepicker.css" rel="stylesheet" />
 @{Html.RenderPartial("~/Areas/Library/Views/Shared/_LeftMenu.cshtml");}
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
@*    @Html.Partial("/Areas/SuperAdmin/Views/Shared/_BreadcrumbsPartial.cshtml")*@
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "PressClipping")">@Resources.MasterDataDashboard.Home</a>
            </li>

            <li>
                <a href="@Url.Action("SetAvailability", "PressClipping")">Set availability</a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.List</li>
        </ul>

    </div>
    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->
        <!-- /section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
            <button class="btn  btn-sm btn-info" onclick="javascript:window.location.href='/Library/PressClipping/CreatePressClipping';">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                <span class="bigger-110">@Resources.MasterDataDashboard.New</span>
            </button>
        </div>
        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.PCSetAvailability
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.List
                </small>
            </h1>
        </div>

        <!-- /section:settings.box -->
        <div id="Menu">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive ">
                        <table class="table danger">
                            <tr class="info">
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="NewsPaperName">News Paper Name</label>
                                          @Html.DropDownList("ItemType", (SelectList)ViewBag.NewsPapaerList, "--Select--")
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="Subject">Subject</label>
                                        <input type="text" id="txtSubject" placeholder="Subject" class="col-md-10 col-sm-5" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="NewsDate">News Date From</label>
                                        <input type="text" id="txtNewsDateFrom" placeholder="News Date From" class="col-md-10 col-sm-5 date-picker" />
                                    </div>
                                </td>
                                 <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="NewsDate">News Date To</label>
                                        <input type="text" id="txtNewsDateTo" placeholder="News Date To" class="col-md-10 col-sm-5 date-picker" />
                                    </div>
                                </td>
                               @* <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="ContentKeywords">Content Keywords</label>
                                        <input type="text" id="txtContKey" placeholder="Content Keywords" class="col-md-10 col-sm-5" />
                                    </div>
                                </td>*@
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="Category">Category</label>
                                        <select class="col-md-12 col-sm-6" id="ddlCategory" name="Category">
                                            <option value="">--Select Category--</option>
                                            <option value="Genral">Genral</option>
                                            <option value="VidhanSabha">Vidhan Sabha</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="space-12"></div>
                                        <button class="btn btn-sm btn-primary btn-bold" id="btnSearch">
                                            <i class="ace-icon fa fa-search bigger-150"></i>
                                            <span class="bigger-110">Search</span>
                                        </button>
                                    </div>

                                </td>
                            </tr>
                        </table>

                                            <!-- PAGE CONTENT BEGINS -->
                    <div class="alert alert-block alert-success" id="AlertDiv" style="display:none;">
                        <strong><i class="ace-icon fa fa-check-square-o"></i>Success! </strong><span id="MsgSpan"></span>
                    </div>
                    <div id="tablecontainer">
                        @{Html.RenderPartial("~/Areas/Library/Views/PressClipping/_PressClippingList.cshtml", Model);}
                    </div>
                       
                    <!-- /.col -->
                     </div>

                </div>
                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@
            </div>
            <!-- /section:basics/footer -->
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>
    <div class="space-6"></div>
</div>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>

<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#PressClipping").addClass("active open");
        $("#PressClippingSub").addClass("nav-show").css("display", "block");
        $("#PCSetAvailability").addClass("active");
        $("#PressClippingLinkId").removeClass("fa-comment").addClass("fa-comment-o");
    });
    $(document).on('click', '#btnSearch', function (e) {

        $body = $("body");
        var Valid = true;
        var NewsPaperName = $('#ItemType').val();
        var Subject = $('#txtSubject').val();
        var ContKey = $('#txtContKey').val();


        var NewsDateFrom = $('#txtNewsDateFrom').val();
        var NewsDateTo = $('#txtNewsDateTo').val();
        var Category = $('#ddlCategory').val();

        if (NewsDateFrom != '')
        {
            if (NewsDateTo == '')
            {
                var dlg = bootbox.alert('Please Fill News Date To ', function (e) {

                    $(dlg).modal('hide');
                });
               
                Valid = false;
            }
        }
        if (NewsDateTo != '') {
            if (NewsDateFrom == '') {
                var dlg = bootbox.alert('Please Fill News Date From ', function (e) {

                    $(dlg).modal('hide');
                });

                Valid = false;
            }
        }
        if (Valid == true) {
            $.ajax({
                type: "POST",
                url: '/Library/PressClipping/SearchPressClip',
                data: '{ NewsPaperName: "' + NewsPaperName + '", Subject: "' + Subject + '",ContKey: "' + ContKey + '", NewsDateFrom: "' + NewsDateFrom + '",NewsDateTo: "' + NewsDateTo + '", Category: "' + Category + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $body.addClass("loading");
                },
                success: function (result) {
                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(result);

                },
                error: function (error) {
                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(error.responseText);

                },
                complete: function (results) {
                    setTimeout(function () {
                        $body.removeClass("loading");
                    }, 1000);

                }
            });
        }
    });

    $(document).on('click', '#btnUpdatePC', function (e) {
        $body = $("body");
        var QData = $('#EditPressClippingForm').serialize();
        e.preventDefault();
        $.ajax({
            cache: false,
            async: true,
            type: "POST",
            url: '/Library/PressClipping/UpdatePressCliping',
            data: QData,
            beforeSend: function () {
                $body.addClass("loading");
            },
            success: function (result) {

                $('#MsgSpan').html(result);
                $('#AlertDiv').show();
                ShowNotification("success", "Availability saved successfully");                
            },
            error: function (result) {
                $('#MsgSpan').html(result);
                $('#AlertDiv').show();                
            },

            complete: function (result) {
                setTimeout(function () {
                    $body.removeClass("loading");
                }, 1000);

                setTimeout(function () {
                    $("#AlertDiv").slideUp(400);
                }, 4000);               
            }
        });
    });
</script>

