@media screen {
   
}

@media print {
   table.tbl {
       position: relative;
       left: -160px;
       width: 850px;
        }
    .scolom {
        width: 395px;
    }
}

body{
	font-size: 14px;
}

.gimg{
	float: left;
  margin: 0px 15px 15px 0px;
  width: 230px;
}
.grevance p{text-align: justify;}

@media (max-width: 200px) {
.gimg{
  float: left;
  margin: 0px 15px 15px 0px;
  width: 200px;
}
}

@media (max-width: 100px) {
.gimg{
  float: left;
  margin: 0px 15px 15px 0px;
  width: 100px;
}
}