﻿@model IEnumerable<SBL.DomainModel.Models.Member.mMemberNominee>
@{int count = 0;}
 <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
            <button class="btn  btn-sm btn-info" onclick="NewNominee();">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                <span class="bigger-110">New Nominee</span>
            </button>
        </div>
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="pass-table">
            @if (Model != null)
            {
                if (Model.Count() > 0)
                {
                       
                <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">No</th>
                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Relationship</th>                            
                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Name</th>
                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Is Active</th>                                                       
                        </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        @foreach (var item in Model)
                        {
                            count = count + 1;
                               
                            <tr>
                                <td class="center">
                                    @count
                                </td>
                                <td>@item.NomineeRelationship</td>
                                <td>@item.NomineeName</td>
                                <td>
                                    @item.Isactive
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- PAGE CONTENT ENDS -->
                }
                else
                {
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-info">
                            <strong>There are no Nominee For this Member</strong><br />
                        </div>
                    </div>
                </div>
                }
            }

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
 
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2').dataTable();
    })
    function NewNominee()
    {
        $("#NomineeDetails").modal('hide');
        var pathurl = "@Url.Action("NewNominee", "MemberAccountDetails")";
        $.ajax({
            url: pathurl,
            type: 'GET',            
            success: function (data) {
                if (data) {
                    $("#NewNominee").modal({                    // wire up the actual modal functionality and show the dialog
                        "backdrop": "static",
                        "keyboard": true,
                        "show": true                     // ensure the modal is shown immediately
                    });
                    $("#NewNominee").html("");
                    $("#NewNominee").html(data);
                    $("#loader-wrapper").hide();
                }
            },
            complete: function () {
                $("#loader-wrapper").hide();
            }
        });
    }
</script>