﻿@model SBL.DomainModel.Models.Member.mMemberNominee
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="blue bigger">Update Bulletin</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row" id="SearchCreteria">
                        @Html.HiddenFor(m => m.MemberCode)
                        <table style="margin: 0 1%">
                            <tr>
                                <td class="row blue" style="padding: 0 1%;">Name</td>
                                <td>@Html.TextBoxFor(m => m.NomineeName, new { @id = "NomineeName", @required = "required" })</td>
                            </tr>
                            <tr>
                                <td class="row blue" style="padding: 0 1%;">Nominee Relationship</td>
                                <td>@Html.DropDownListFor(m => m.NomineeRelationship, new List<SelectListItem>
                     {
                         new SelectListItem{ Text="--Select--", Value = "Select" },
                        new SelectListItem{ Text="Brother", Value = "Brother" },
                        new SelectListItem{ Text="Sister", Value = "Sister" },
                        new SelectListItem{ Text="Mother", Value = "Mother" },
                        new SelectListItem{ Text="Father", Value = "Father" },
                        new SelectListItem{ Text="Spouse", Value = "Spouse" },
                        new SelectListItem{ Text="Son", Value = "Son" },
                        new SelectListItem{ Text="Daughter", Value = "Daughter" },
                        new SelectListItem{ Text="Others", Value = "Others" }
                     }, new { @id = "NomineeRelationship" })</td>
                            </tr>
                            <tr>
                                <td class="row blue" style="padding: 0 1%;">Marital Status</td>
                                <td>
                                    @Html.RadioButtonFor(model => model.NomineeMaritalStatus, "Single", new { @checked = "checked" }) Single
                            @Html.RadioButtonFor(model => model.NomineeMaritalStatus, "Married") Married
                                    @* @Html.CheckBoxFor(model => model.NomineeMaritalStatus, new { @class="ace ace-switch"})
                                    <span class="lbl" data-lbl="Sin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mar"></span>          *@
                                </td>
                            </tr>
                            <tr>
                                <td class="row blue" style="padding: 0 1%;">Is Dependent</td>
                                <td>@Html.CheckBoxFor(m => m.IsDependent, new { @checked = "checked", @class = "ace ace-switch ace-switch-5" })</td>
                            </tr>

                            <tr>
                                <td class="row blue" style="padding: 0 1%;">Is Handicaped</td>
                                <td>@Html.CheckBoxFor(m => m.IsHandicaped, new { @checked = "checked", @class = "ace ace-switch ace-switch-5" })</td>
                            </tr>
                            <tr>
                                <td class="row blue" style="padding: 0 1%;">Is active</td>
                                <td>@Html.CheckBoxFor(m => m.Isactive, new { @checked = "checked", @class = "ace ace-switch ace-switch-5" })</td>
                            </tr>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-sm" data-dismiss="modal">
                            <i class="ace-icon fa fa-times"></i>
                            Cancel
                        </button>

                        <button class="btn btn-sm btn-primary" type="submit" name="ButtonType" value="update" id="UpdateButton" onclick="return Check();">
                            <i class="ace-icon fa fa-save"></i>
                            Save
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function Check() {
        var a = $('#NomineeName').val();

        if (a == "") {
            ShowNotification("error", "Please fill Nominee Name");
            return false;
        }
        if ($("#NomineeRelationship option:selected").text() == "--Select--") {
            ShowNotification("error", "Please Select Nominee RelationShip");
            return false;
        }
    }
</script>
