﻿@model IEnumerable<SBL.eLegistrator.HouseController.Web.Areas.SalaryClerks.Models.MemberAccountDetailsViewModel>

@{
    ViewBag.Title = "ExMembersAccountDetails";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    int count = 0;
}

@Html.Partial("_LeftMenu")
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("AllMembersAccountDetails", "MemberAccountDetails")">Home</a>
            </li>

            <li>
                <a href="@Url.Action("AllMembersAccountDetails", "MemberAccountDetails")">All Members</a>
            </li>
            <li class="active">Ex Members</li>
        </ul>

@*        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>            
        </div>*@

    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <div class="page-header">
            <h1>Members                               
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Ex - members
                </small>
            </h1>
            <span class="label label-large" style="float:right">@ViewBag.SaveData</span>
        </div>
        
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <div class="pass-table">
                    @if (Model != null)
                    {
                        if (Model.Count() > 0)
                        {
                       
                        <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">No</th>
                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Photo</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Member Name</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Consistuency</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Bank Name</th>
                                    <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Account No</th>
                                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Action</th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                @foreach (var item in Model)
                                {
                                    count = count + 1;
                               
                                    <tr>
                                        <td class="center">
                                            @count
                                        </td>
                                        <td>@{
                        string Id = (item.PhotoCode.ToString().Length == 1) ? ("0" + item.PhotoCode.ToString()) : item.PhotoCode.ToString();
                        string Image = "/Images/Assembly/12/thumb/" + Id + ".jpg";
                            }
                                <img src="@Image" alt="@item.MemberName" style="height:68px; width:65px;" class="padded"></td>
                                        <td>
                                            @item.MemberName
                                        </td>
                                        <td>@item.ConstituencyName</td>
                                        <td>@item.BankName</td>
                                        <td>@item.AccountNo</td>
                                        @*<td>@item.VCreatedDate.ToString("dd MMM yyyy")</td>*@
                                        <td class="center">
                                            <div class="hidden-sm hidden-xs action-buttons">

                                                <a data-rel="tooltip" class="green tooltip-success" title="Edit"   href="@Url.Action("EditAccountDetails", "MemberAccountDetails", new { Id = item.MemberCode })">
                                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                </a>
                                            </div>

                                            <div class="hidden-md hidden-lg">
                                                <div class="inline position-relative">
                                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                    </button>

                                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                       
                                                        <li>
                                                            <a  href="@Url.Action("EditAccountDetails", "MemberAccountDetails", new { Id = item.MemberCode })" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                <span class="green">
                                                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        <!-- PAGE CONTENT ENDS -->
                        }
                        else
                        {
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="alert alert-info">

                                    <strong>There are no Contents</strong><br />


                                </div>
                            </div>
                        </div>
                        }
                    }

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>


<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $("#membermain").addClass("active open");
        $("#memberssub").addClass("nav-show").css("display", "block");
        $("#statelist").addClass("active");
        $("#memberlinkid").removeClass("fa-comment").addClass("fa-comment-o");


    });

    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
              { "bSortable": false },
              null, null, null, null, null,
              { "bSortable": false }
            ]

        });

        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })
</script>