﻿<div class="widget-box" id="divAction">
	<div class="widget-header widget-header-flat">

		<div class="col-xs-12">

			<div class="col-xs-12 col-sm-2" style="margin-top: 10px;">
				Select Arrear Type
			</div>
			<div class="col-xs-12 col-sm-2">
				<select id="ddlQuesType" style="margin-top: 4px;" class="txtclass" onchange = "GetListofdropdowns()">
					<option value="1">DA Arrear</option>
					<option value="2">Pay Arrear</option>
				</select>
			</div>
			@*<div class="col-xs-12 col-sm-4">
				<button class="btn btn-primary" onclick="GetListofdropdowns()" style="padding: 0px;margin-top: 5px;">
					<i class="ace-icon fa fa-check"></i>
					Ok
				</button>
			</div>*@
		</div>
		 <span id="spnIslist" style="display:none;"></span>

	</div>
</div>
<div id="divShowDetails"></div>

<script>
    $(document).ready(function () {
      GetListofdropdowns() 
        
    })
    function GetListofdropdowns() {
        var optionval = $('#ddlQuesType option:selected').val();
        if (optionval == 1) {
            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/AccountsAdmin/TR2/DropList",
                type: 'GET',
                data: { Val: optionval },
                success: function (response) {
                    $("#RightSidebar").html('');
                    $("#Form").hide("");
                    $("#divShowDetails").html(response);
                    $("#outerDiv").html("");
                    document.getElementById("MainDiveThreeTire").style.display = "block";
                    document.getElementById("MainDiveTwoTire").style.display = "none";
                    $("#loader-wrapper").hide();


                }
            });
        }
        else if (optionval == 2) { 
            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/AccountsAdmin/TR2/PayArrearDropList",
                type: 'GET',
                data: { Val: optionval },
                success: function (response) {
                    $("#RightSidebar").html('');
                    $("#Form").hide("");
                    $("#divShowDetails").html(response);
                    $("#outerDiv").html("");
                    document.getElementById("MainDiveThreeTire").style.display = "block";
                    document.getElementById("MainDiveTwoTire").style.display = "none";
                    $("#loader-wrapper").hide();


                }
            });
        }		
}
    </script>