﻿
 @model SBL.DomainModel.Models.Question.SearchModel
@{
    int count = 0;
    string List = "";
}
<style type="text/css">
 .button
 {
 width: 150px;
 padding: 10px;
 
 box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);
 font-weight:bold; text-decoration:none;
 }
 #cover
 {
 position:fixed;
 top:0;
 left:0;
 background:rgba(0,0,0,0.6);
 z-index:5;
 width:100%;
 height:100%;
 display:none;
 }
 #loginScreen
 {
 height:770px;
 width:100%;
 margin:0 auto;
 position:relative;
 z-index:10;
 display:none;
 background-color: #002137;
 border:2px solid #cccccc;
 border-radius:10px;
 }
 #loginScreen:target,
 #loginScreen:target + #cover{ display:block; opacity:2; } 
 .cancel
 { display:block;
 position:absolute;
 top:0px; right:2px;
 background:rgb(245,245,245);
 color:black;
 height:30px;
 width:35px;
 font-size:30px;
 text-decoration:none;
 text-align:center;
 font-weight:bold;
 }
    .inithiddenJ {
        display:none;
    }
 </style>
<div class="row">
    <div class="col-xs-12">        

        <!-- PAGE CONTENT BEGINS -->

        <div class="pass-table">
            


            <div id="temp"></div>
            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
             
                
                                @if (Model.objList != null)
                {
                    if (Model.objList.Count() > 0)
                    {
                        
                    <div class="table-header">
                        
                                       <div id="loginScreen">                                           
 <a href="#" class="cancel">&times;</a>
 </div>
 <div id="cover" > </div>
                        Questions
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 2%">Date</th>
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 2%" >Assembly</th>
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 2%" >Session</th>
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 18%">Subject</th>
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 13%">Member</th>
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 13%">Minister</th>
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 10%">Department</th>
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 2%"></th>
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.objList)
                            {
                                count = count + 1;
                                string style = (count % 2 == 0) ? "even" : "odd";
                                DateTime temp = ((item.Date != null) ? (DateTime.Parse(item.Date.ToString())) : DateTime.Parse("1800-1-1"));
                                string SubmittedDate = "";
                                if (temp != DateTime.Parse("1800-1-1"))
                                {
                                    //SubmittedDate = temp.Day + "/" + temp.Month + "/" + temp.Year;
                                    SubmittedDate = temp.ToString("dd/MM/yyyy"); 
                                }
                                //string session = ((@item.AssemblyName != null) ? @item.SessionName + "," : @item.SessionName);
                                //string assembly = ((@item.SessionName != null) ? @item.AssemblyName + "/" : @item.AssemblyName);
                                string assembly = ((@item.SessionCode != null) ? @item.AssemblyCode.ToString() + "/" : @item.AssemblyCode.ToString());
                                string session = @item.SessionCode.ToString() + "/";
                                string pdfDate = temp.ToString("yyyyMMdd");
                                string qType = (item.QuestionType == 1) ? "*" : "";
                                string qPath = assembly + session + pdfDate + ((item.QuestionType == 1) ? "/Starred" : "/Unstarred")+"/"+item.QuestionNo.Trim();
                                string combinedPath = qPath + "|" + assembly + session + pdfDate + "|" + item.RefPageNo;                                
                                string Subject = @item.Subject;
                                Subject = (!string.IsNullOrEmpty(Subject) ? ((Subject.Substring(Subject.Length - 1) == ")") ? Subject.Substring(0, Subject.Length - 1) : Subject) : Subject);
                                var trID = item.ID;
                                string clsBut = string.IsNullOrEmpty(item.RefPageNo) ? "inithiddenJ" : "button";
                                string clsDiv = !string.IsNullOrEmpty(item.RefPageNo) ? "inithiddenJ" : "";
                                
                                <tr class="" onclick="GeneratePngQDebate(this.id)" id="@combinedPath" >
                                    <td class="">@SubmittedDate</td>
                                    @*<td class="">@assembly<br />@item.SessionName</td>*@
                                    @*<td class="">@assembly&nbsp;@item.SessionCode</td>*@
                                    <td class="">@item.AssemblyCode</td>
                                    <td class="">@item.SessionCode</td>
                                    <td class="">

                                        <table>
                                            <tr>
                                                <td style="color:blue">
                                                    @qType
                                                </td>
                                                <td>
                                                    @Subject
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                    <td class="">
                                        @item.MemberName
                                    </td>
                                    <td class="">
                                        @item.MinisterName
                                    </td>
                                    <td class="">
                                        @item.DepartmentName
                                    </td>
                                    <td class="">
                                        <a href="#loginScreen" id="@count" class="@clsBut"><img src="/Content/img/qA.png" style="width:30px;height:30px" alt="" border="0" title="Click to view Debates/Proceedings"></a>
                                        <div class="@clsDiv"><img src="/Content/img/file_notfound.png" style="width:30px;height:30px" alt="" border="0" title="Document Not Available"></div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    }
                    else
                    {
                  
                    <div class="col-xs-12">
                        <div class="alert alert-info">
                            <strong>No Question(s) Available</strong>
                            <br />
                        </div>
                    </div>
                   
                    }
                }

            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>




<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
@*<script src="~/Scripts/jquery-1.7.min.js"></script> *@
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>



<script>
    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
               { "bSortable": false },
              null, null, null, null, null, null,null

            ]
        });

        $('.rowQuestion').mouseover(function () {
            //$(this).addClass("bgRow");
        });
        $('.rowQuestion').mouseout(function () {
            //$('#sample-table-2').removeClass("bgRow");
            //$('.bgRow').removeClass("bgRow");
        });
        
    });

    function GeneratePngQDebate(rowId) {
        $('#loginScreen').html('<img src="/Content/viewer/loading.gif" style="position: absolute; left: 222.5px; top: 295px;">');
        $.ajax({
            url: "/Notices/AssemblyDocs/_QDebatesImages",
            type: 'GET',
            data: {
                ImagePath: rowId,
            },
            success: function (data) {
                if (data) {
                    $('#loginScreen').html(data);
                }
                else {
                    alert("error");
                }


            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

    function GeneratePdfTemp(rowId) {
        //alert("ttt")
        //$('#OK').focus();
        $.ajax({
            url: "/Notices/AssemblyDocs/_GetQuestionPdf3",
            type: 'GET',
            data: {
                FilePath: rowId,
            },
            success: function (data) {
                if (data) {
                    //$("#temp").html(data);
                    //$('#sample-table-2_wrapper').hide();
                    //$('#sample-table-2').hide();
                    //$(window).scrollTop()
                    $(data).dialog(
                        {
                            width: '98%',
                            draggable: false,
                            modal: true,
                            position: {
                                my: 'top',
                                at: 'top+10'
                            },
                            using: {
                                css: 'position:absolute'
                            },
                            //buttons: {
                            //    Refference: function () {
                            //        //alert('hi');

                            //        $.ajax({
                            //            url: "/Notices/AssemblyDocs/_GetDebatePdf2",
                            //            type: 'GET',
                            //            data: {
                            //                FilePath: rowId,
                            //            },
                            //            success: function (data) {
                            //                if (data) {
                            //                    //alert('hi'+data);
                            //                    $("#temp1").html(data);
                            //                    //$("#debatepdf").html(data);
                            //                    //$("#FormPart").html(data);
                            //                    //$(window).scrollTop()
                            //                    //$(data).dialog(
                            //                    //    {
                            //                    //        width: '50%',
                            //                    //        draggable: false,
                            //                    //        modal: true,
                            //                    //        position: {
                            //                    //            my: 'left',
                            //                    //            at: 'top+10'
                            //                    //        },
                            //                    //        using: {
                            //                    //            css: 'position:absolute'
                            //                    //        }
                            //                    //    }
                            //                    //    );


                            //                } else { alert("error"); }
                            //            },
                            //            error: function (xhr, ajaxOptions, thrownError) {
                            //                alert(xhr.responseText);
                            //                alert(thrownError);
                            //            }
                            //        });
                            //    }
                            //}
                        }
                        );


                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

    function GenerateQuestionPNG(rowId) {
        //alert("ttt")
        //$('#OK').focus();
        $.ajax({
            url: "/Notices/AssemblyDocs/_GetQuestionPNG",
            type: 'GET',
            data: {
                FilePath: rowId,
            },
            success: function (data) {
                if (data) {
                    //$("#temp").html(data);
                    //$('#sample-table-2_wrapper').hide();
                    //$('#sample-table-2').hide();
                    //$(window).scrollTop();

                    //$(data).dialog(
                    //    {
                    //        width: '98%',
                    //        draggable: false,
                    //        modal: true,
                    //        position: {
                    //            my: 'top',
                    //            at: 'top+10'
                    //        },
                    //        using: {
                    //            css: 'position:absolute'
                    //        },

                    //    }
                    //    );


                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

    
    function GeneratePdf(rowId) {
        // alert("ttt")
        //$('#OK').focus();
        $.ajax({
            url: "/Notices/AssemblyDocs/_GetPdf",
            type: 'GET',
            data: {
                FilePath: rowId,
            },
            success: function (data) {
                if (data) {
                    //$("#FormPart").html(data);
                    //$(window).scrollTop()
                    $(data).dialog(
                        {
                            width: 800,
                            draggable: false,
                            modal: true,
                            position: {
                                my: 'top',
                                at: 'top+10'
                            },
                            using: {
                                css: 'position:absolute'
                            }
                        }
                        );


                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }
    //GeneratePdfDebate
    function GeneratePdfDebate(rowId) {
        $.ajax({
            url: "/Notices/AssemblyDocs/_GetDebatePdf",
            type: 'GET',
            data: {
                FilePath: rowId,
            },
            success: function (data) {
                if (data) {
                    //$("#FormPart").html(data);
                    //$(window).scrollTop()
                    $(data).dialog(
                        {
                            width: 800,
                            draggable: false,
                            modal: true,
                            position: {
                                my: 'top',
                                at: 'top+10'
                            },
                            using: {
                                css: 'position:absolute'
                            }
                        }
                        );


                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }
</script>