﻿@model  IEnumerable< SBL.eLegistrator.HouseController.Web.Areas.Admin.Models.AlbumCategoryViewModel>

@{
	ViewBag.Title = "Manage Loan";
	Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
	int count = 0;

	string fileacesspath = ViewBag.FileAcessPath;
}

@Html.Partial("_LeftMenu")

<div class="main-content">
	<!-- #section:basics/content.breadcrumbs -->
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
		</script>

		  <ul class="breadcrumb">
			<li>
				<i class="ace-icon fa fa-home home-icon"></i>
				<a href="@Url.Action("GalleryCategoryIndex","Gallery")">Home</a>
			</li>

			<li>
				<a href="@Url.Action("loanStatement","ManageLoan")">Loan</a>
			</li>
			<li class="active">Loan Statement</li>
		</ul>

		<div class="legAssm">
			<span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
			<span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
		</div>

	</div>

	<!-- /section:basics/content.breadcrumbs -->
	<div class="page-content">
		<!-- #section:settings.box -->


		<!-- /section:settings.box -->
		<div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
		   
		</div>
		<div class="page-header">
			<h1>Manage Loan                         
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					Loan Statement
				</small>
			</h1>


		</div>
				<div id="prodiv" style="display: none;">
			<img src="@Url.Content("~/images/pro.gif")" />
		</div>
		@using (Html.BeginForm("generateLonaPdf", "ManageLoan", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
		{
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div class="widget-box">
						<div class="widget-header">
							<h4 class="widget-title">Active Loan List </h4>
						</div>
						<div class="widget-body">
							<div class="widget-main">
								<div class="pass-table">
									<div id="tablecontainer">
									</div>
									<!-- PAGE CONTENT ENDS -->
								</div>
							</div>
						</div>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		}
	
	<div id="member-details" class="modal fade" tabindex="-1">
	</div>
	@using (Html.BeginForm("generateLonaPdf", "ManageLoan", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
		{
		

	
		<div id="updateLoanInstallmentModal" class="modal fade" tabindex="-1">
	</div>
	}
	  @using (Ajax.BeginForm("updateLoanInst", "ManageLoan", FormMethod.Post, new AjaxOptions
		{
			UpdateTargetId = "updateLoanInstallmentModal",
			InsertionMode = InsertionMode.Replace,
			OnSuccess = "OnSuccessupdateLoanInst()",
			LoadingElementId = "loader-wrapper"
		}, new { @class = "form-horizontal", @role = "form" }))
	{

	<div class="modal" id="updateInst">
	</div>
	}
	<!-- /.main-content -->

	
<div id="modal-wizard" class="modal">
</div>
		<!-- /.page-content -->
	</div>
	<!-- /.main-content -->

	<div class="footer">
		<div class="footer-inner">
			<!-- #section:basics/footer -->
			<div class="footer-content">
			   @* <span class="bigger-100">
					<span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
				 
				</span>*@

			</div>

			<!-- /section:basics/footer -->
		</div>
	</div>

	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
		<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
	</a>
</div>

<div id="dialog-confirm" class="hide">
	<div id="DialogMessage" class="alert alert-info bigger-110">
		Are You Sure Want to Delete.
	</div>

	<div class="space-6"></div>
</div>


<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>
<script type="text/javascript">

	$(document).ready(function () {

		$("#ManageLoanMenu").addClass("active open");
		$("#ManageLoanSubMenu").addClass("nav-show").css("display", "block");
		$("#LoanStatementMenu").addClass("active");


	});

</script>
<script type="text/javascript">

	$(document).ready(function () {
		try {
			getResult();
		}
		catch (error) {
		}
	});
	function OninstSuccess() {
		$("#updateLoanInstallmentModal").modal('hide');
		ShowNotification("success", "Installment has been update ...!");

	}
	function OnSuccessupdateLoanInst() {
		$("#updateInst").modal('hide');
		ShowNotification("success", "Installment has been update ...!");
	}
	function OnFailure() {
		$("#errormsg").slideDown(1000);
		$("#errormsg").delay(1000);
		$("#errormsg").slideUp(1000);

	}

	function OnComplete() {
		$("#tablecontainer").fadeTo(1000, 1);
		$("#tablecontainer").delay(1000);
	}

	function OnSuccess() {
		//$("#tablecontainer").delay(1000);
		//$("#tablecontainer").slideDown(1000);
		//$("#tablecontainer").delay(1000);
		//$("#tablecontainer").slideUp(3000);

	}
	function OnBegin() {

		$("#tablecontainer").fadeTo(1000, 0.1);
		$("#tablecontainer").delay(1000);
	}

	function getResult() {
		$("#loader-wrapper").show();
		var pathurl = "@Url.Action("getActiveLoanListforStatement", "ManageLoan")";
		$.ajax({
			url: pathurl,
			type: 'GET',
			success: function (data) {
				$("#tablecontainer").html("");
				$("#tablecontainer").html(data);
				$("#loader-wrapper").hide();

			}
		});
	}
</script>

