﻿@model IEnumerable<SBL.DomainModel.Models.Library.mIssueBookAccessionNum>

@{
    int count = 0;
}
<link href="~/assets/css/datepicker.css" rel="stylesheet" />
<form method="post" action="/SchemeSetup/SaveQualification" id="AccesionNumForm">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="pass-table">
            @if (Model != null)
            {
                if (Model.Count() > 0)
                {       
                <input type="hidden" value="@ViewBag.SubscriberDesignation" name="SubscriberDesignation" />
                <input type="hidden" value="@ViewBag.MemberCode" name="MemberCode" />
                <div class="table-header">
                    <div class="form-group">
                        @if (ViewBag.Msg != null)
                        {
                            <div class="@ViewBag.Class" id="MsgDiv">
                                <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
                                <strong><i class="ace-icon fa fa-check-square-o"></i>@ViewBag.Notification ! </strong>@ViewBag.Msg
                            </div>
                        }
                    </div>
                </div>             
                <table class="table table-striped table-bordered table-hover dataTable" id="tblItemSubscription" aria-describedby="sample-table-2_info">
                    <thead>
                        <tr role="row">
                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>

                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Accession numbers </th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Date of Return</th>

                        </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        @foreach (var item in Model)
                        {
                            count = count + 1;  
                            <tr>
                                <td class="center" style="width: 5%">
                                    @count
                                    <input type="hidden" value="@count" name="RowCount" />
                                    <input type="hidden" value="@item.IssueBookAccessionNumID" name="AccessionNumID-@count" />
                                </td>
                                <td style="width: 25%">
                                    @item.AccessNumber</td>
                                <td style="width: 30%">
                                    @if (item.DateOfReturn.ToString("dd/MM/yyyy") == "01/01/1753")
                                    {
                                        <input type="text" name="DateOfReturn-@count" id="DateOfReturn-@count" autocomplete="off" class="datepicker" value="" />
                                    }
                                    else
                                    {
                                        <input type="text" name="DateOfReturn-@count" id="DateOfReturn-@count" autocomplete="off"  class="datepicker" value="@item.DateOfReturn.ToShortDateString()" />
                                    }
                                </td>
                            </tr>                                                                
                        }

                    </tbody>
                </table>
                
                <div class="modal-footer">
                    <button type="button" id="UpdateReturnBook" class="btn btn-primary">Save changes</button>
                </div>
                <!-- PAGE CONTENT ENDS -->
                }
                else
                {
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-info">
                            <strong>No Issue Book</strong><br />
                        </div>
                    </div>
                </div>
                }
            }
        </div>
        <!-- /.col -->
    </div>
</form>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        var oTable1 =
        $('#tblItemSubscription')
        //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        .dataTable();

        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

        setTimeout(function () {
            $("#MsgDiv").slideUp(400);
        }, 6000);

        $('.datepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "mm/dd/yyyy"
        });
    });

    function tooltip_placement(context, source) {
        var $source = $(source);
        var $parent = $source.closest('table')
        var off1 = $parent.offset();
        var w1 = $parent.width();
        var off2 = $source.offset();
        //var w2 = $source.width();
        if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
        return 'left';
    }



</script>
