﻿@using SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models
@model  IEnumerable<SBL.DomainModel.Models.Library.mIssueBook>
 <div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "IssueBook")">@Resources.MasterDataDashboard.Home</a>
            </li>

            <li>
                <a href="@Url.Action("Index", "IssueBook")">Issue & Return Book</a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.List</li>
        </ul>

    </div>
    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->


        <!-- /section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
            <button class="btn  btn-sm btn-info" onclick="PopulateIssueBook(0,'Add');">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                <span class="bigger-110">@Resources.MasterDataDashboard.New</span>
            </button>
        </div>
        <div class="page-header">
            <h1>Issue Book
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.List
                </small>
            </h1>
        </div>
        <div id="Menu">
            <div class="row">
                <div class="col-xs-12">
                    <div id="divDataContainer">
                        @{Html.RenderPartial("~/Areas/Library/Views/IssueBook/_IssueBookList.cshtml", Model);}
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@
            </div>
            <!-- /section:basics/footer -->
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>
    <div class="space-6"></div>
</div>

<script src="~/assets/js/bootbox.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {

        //$("#BillReimbursement").addClass("active open");
        //$("#BillReimbursementSubMenu").addClass("nav-show").css("display", "block");
        //$("#TravelBill").addClass("active");
        //$("#BillReimbursementIcon").removeClass("fa-comment").addClass("fa-comment-o");
    });

    function PopulateIssueBook(Id, Action) {


        $.ajax({
            type: "POST",
            url: '/IssueBook/PopulateIssueBook',
            data: '{ Id: "' + Id + '",Action: "' + Action + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#IssueBookDiv').empty();
                $('#IssueBookDiv').append(result);
                $('#IssueBookModel').modal('show');
            },
            error: function (error) {
                $('#IssueBookDiv').empty();
                $('#IssueBookDiv').append(error.responseText);
                $('#IssueBookModel').modal('show');

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }


    function RejectBill(Id, Action) {


        $.ajax({
            type: "POST",
            url: '/ReimbursementBill/EditApproveBill',
            data: '{ Id: "' + Id + '",Action: "' + Action + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#RejectBillDiv').empty();
                $('#RejectBillDiv').append(result);
                $('#RejectBillModel').modal('show');
            },
            error: function (error) {
                $('#RejectBillDiv').empty();
                $('#RejectBillDiv').append(error.responseText);
                $('#RejectBillModel').modal('show');

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }

    function tooltip_placement(context, source) {
        var $source = $(source);
        var $parent = $source.closest('table')
        var off1 = $parent.offset();
        var w1 = $parent.width();
        var off2 = $source.offset();
        //var w2 = $source.width();
        if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
        return 'left';
    }


    $(document).on('click', '#UpdateIssueBook', function (e) {

        $('.ErrorMessage').remove('');
        var IsValid = true;

        if ($('#SubscriberDesignation').val().trim() == '') {
            $('#SubscriberDesignation').css("border", "1px solid red");
            $('#SubscriberDesignation').after("<span class='ErrorMessage'> Subscriber Designation  Required</span>");
            $('#SubscriberDesignation').focus();
            IsValid = false;
        }
        if ($('#SubscriberId').val().trim() == '') {
            $('#SubscriberId').css("border", "1px solid red");
            $('#SubscriberId').after("<span class='ErrorMessage'> Subscriber   Required</span>");
            $('#SubscriberId').focus();
            IsValid = false;
        }

        if ($('#DateOfIssue').val().trim() == '') {
            $('#DateOfIssue').after("<span class='ErrorMessage'>  Date Of Issue  Required</span>");
            $("#DateOfIssue").css("border", "1px solid red");
           // $('#DateOfIssue').focus();
            IsValid = false;
        }

        if ($('#AccessNumber-1').val().trim() == '') {
            $('#AccessNumber-1').after("<span class='ErrorMessage'> Accession Number  Required</span>");
            $("#AccessNumber-1").css("border", "1px solid red");
            $('#AccessNumber-1').focus();
            IsValid = false;
        }
        else if (!$.isNumeric($('#AccessNumber-1').val().trim()))
        {
            $('#AccessNumber-1').after("<span class='ErrorMessage'> Accession Number  numeric only</span>");
            $("#AccessNumber-1").css("border", "1px solid red");
            $('#AccessNumber-1').focus();
            IsValid = false;
        }
        var ColumnMinBilling = $('.EditClassAccessNumber');

        var i = 2, size = ColumnMinBilling.length;

        for (i; i <= size; i++) {
            var ANId = '#AccessNumber-' + i;
            var ANVal = $(ANId).val();

            if (ANVal != null && ANVal != '' && !$.isNumeric(ANVal)) {
                $(ANId).css("border", "1px solid red");
                $(ANId).after("<span class='ErrorMessage'> Accession Number  numeric only</span>");
                $(ANId).focus();
                IsValid = false;
            }
        }

        if (IsValid == true) {

            var QData = $('#IssueBookForm').serialize();
            e.preventDefault();
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '/IssueBook/SaveIssueBook',
                data: QData,
                beforeSend: function () {
                    $('#IssueBookModel').modal('hide');
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result);

                },
                error: function (result) {

                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result.responseText);

                },

                complete: function (result) {
                    $('#loader-wrapper').hide();
                }
            });
        }
    });

    function DeleteIssueBook(Id) {
        $.ajax({
            type: "POST",
            url: '/IssueBook/DeleteIssueBook',
            data: '{ Id: "' + Id + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(result);
            },
            error: function (result) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(result.responseText);
            },
            complete: function (result) {
                $('#loader-wrapper').hide();
            }
        });
    }
</script>

<!--Create Sale Counter Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="IssueBookModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="SaleCounterModalTitle">Issue Book</h4>
            </div>
            <form method="post" action="/SchemeSetup/SaveQualification" id="IssueBookForm">
                <div class="modal-body">
                    <div id="IssueBookDiv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="UpdateIssueBook" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
