﻿@using SBL.DomainModel.Models.Employee
@using SBL.eLegistrator.HouseController.Web.Helpers
@using SBL.DomainModel.Models.Library
<link href="~/assets/css/datepicker.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "mm/dd/yyyy"
        });
    });
</script>

<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    @Html.Partial("/Areas/SuperAdmin/Views/Shared/_BreadcrumbsPartial.cshtml")
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "IssueBook")">@Resources.MasterDataDashboard.Home</a>
            </li>

            <li>
                <a href="@Url.Action("IssueBookReport", "IssueBook")">Issue & Return Book Report</a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.List</li>
        </ul>

    </div>
    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->
        <!-- /section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
            <button class="btn  btn-sm btn-info" id="Pdf" style="display: none;">
                <i class="ace-icon fa fa-download white  bigger-150"></i>
                <span class="bigger-110">Download Pdf</span>
            </button>
            <button class="btn  btn-sm btn-info" id="Export" style="display: none;">
                <i class="ace-icon fa fa-download white  bigger-150"></i>
                <span class="bigger-110">Download Excel</span>
            </button>

        </div>
        <div class="page-header">
            <h1>Issue & Return Book Report
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.List
                </small>
            </h1>
        </div>

        <!-- /section:settings.box -->
        <div id="Menu">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive ">
                        <table class="table danger">
                            <tr class="info">
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for=" Subscriber’s Designation">Subscriber’s Designation</label><br />
                                        <select id="SubscriberDesignation" name="SubscriberDesignation" class=" col-xs-10 col-sm-10 ">
                                            <option selected value="">---Select A Designation ---</option>
                                            @foreach (var item in (List<mMemberDesignation>)ViewBag.DesignationCol)
                                            {
                                                <option value="@item.memDesigcode">@item.memDesigname</option>
                                            }
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="Subscriber’s Name">Subscriber’s Name</label>
                                        @Html.DropDownList("MemberCode",
                                        new SelectList(ViewBag.MemberCol, "MemberCode", "Name"), "---Select A Member ---",
                                        new { @class = "col-xs-10 col-sm-10 " })
                                    </div>
                                </td>

                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="IssueDateFrom">Issue  Date From</label>
                                        <input type="text" id="txtIssueDateFrom" placeholder="Issue Date From" class="col-md-10 col-sm-5 date-picker" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="IssueDateTo">Issue Date To</label>
                                        <input type="text" id="txtIssueDateTo" placeholder="Issue Date To" class="col-md-10 col-sm-5 date-picker" />
                                    </div>
                                </td>
                            </tr>
                            <tr class="info">

                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="Language">Accession Number</label>
                                        <input type="text" id="AccessNumber" class="form-control  IsnumericClass RemoveBorder" placeholder="Accession Number">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="EndDateFrom">Return Book Date From</label>
                                        <input type="text" id="txtReturnDateFrom" placeholder="End Date From" class="col-md-10 col-sm-5 date-picker" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="EndDateTo">Return Book Date To</label>
                                        <input type="text" id="txtReturnDateTo" placeholder="Return Book Date To" class="col-md-10 col-sm-5 date-picker" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="space-12"></div>
                                        <button class="btn btn-sm btn-primary btn-bold" id="btnSearch">
                                            <i class="ace-icon fa fa-search bigger-150"></i>
                                            <span class="bigger-110">Search</span>
                                        </button>
                                    </div>

                                </td>
                            </tr>
                        </table>

                        <!-- PAGE CONTENT BEGINS -->
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="alert alert-block alert-danger" id="AlertDiv" style="display: none;">
                            <strong><i class="ace-icon fa fa-check-square-o"></i>Error! </strong><span id="MsgSpan">Please select at least one field </span>
                        </div>
                        <div id="tablecontainer">
                        </div>

                        <!-- /.col -->
                    </div>

                </div>
                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@
            </div>
            <!-- /section:basics/footer -->
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>
    <div class="space-6"></div>
</div>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
       


        $("#SubscriberDesignation").change(function () {
            GetAllMembersByDesignation($("#SubscriberDesignation").val());

        });
    });

    $(document).on('click', '#btnSearch', function (e) {

        var SubscriberDesignation = $('#SubscriberDesignation').val();
        var MemberCode = $('#MemberCode').val();
        var IssueDateFrom = $('#txtIssueDateFrom').val();
        var IssueDateTo = $('#txtIssueDateTo').val();
        var AccessNumber = $('#AccessNumber').val();
        var ReturnDateFrom = $('#txtReturnDateFrom').val();
        var ReturnDateTo = $('#txtReturnDateTo').val();

        $('#AlertDiv').hide();
        $('.ErrorMessage').remove('');
        var IsValid = true;

        if (SubscriberDesignation == '' && MemberCode == '' && IssueDateFrom == '' && IssueDateTo == '' && AccessNumber == '' && ReturnDateFrom == '' && ReturnDateTo == ''
          ) {
            $('#AlertDiv').css("border", "1px solid red");
            $('#AlertDiv').show();
            IsValid = false;
        }

        if (IssueDateFrom != '' && IssueDateTo == '') {
            $('#txtIssueDateTo').css("border", "1px solid red");
            $('#txtIssueDateTo').after("<span class='ErrorMessage'><br> Please Fill it</span>");
            IsValid = false;
        }

        if (IssueDateFrom == '' && IssueDateTo != '') {
            $('#txtIssueDateFrom').css("border", "1px solid red");
            $('#txtIssueDateFrom').after("<span class='ErrorMessage'><br> Please Fill it</span>");
            IsValid = false;
        }



        if (ReturnDateFrom != '' && ReturnDateTo == '') {
            $('#txtReturnDateTo').css("border", "1px solid red");
            $('#txtReturnDateTo').after("<span class='ErrorMessage'><br> Please Fill it</span>");

            IsValid = false;
        }

        if (ReturnDateFrom == '' && ReturnDateTo != '') {
            $('#txtReturnDateFrom').css("border", "1px solid red");
            $('#txtReturnDateFrom').after("<span class='ErrorMessage'><br> Please Fill it</span>");

            IsValid = false;
        }



        if (IssueDateFrom != '' && IssueDateTo != '') {
            if (Date.parse(IssueDateFrom) > Date.parse(IssueDateTo)) {
                $('#txtIssueDateTo').css("border", "1px solid red");
                $('#txtIssueDateTo').after("<span class='ErrorMessage'><br> Issue Date To must be greate than Issue Date From </span>");
                IsValid = false;
            }
        }

        if (ReturnDateFrom != '' && ReturnDateTo != '') {
            if (Date.parse(ReturnDateFrom) > Date.parse(ReturnDateTo)) {
                $('#txtReturnDateTo').css("border", "1px solid red");
                $('#txtReturnDateTo').after("<span class='ErrorMessage'><br> Return Date To must be greate than Return Date From </span>");
                IsValid = false;
            }
        }

        if (IsValid == true) {
            $.ajax({
                type: "POST",
                url: '/Library/IssueBook/SearchIssueBookResult',
                data: '{ MemberCode: "' + MemberCode + '",IssueDateFrom: "' + IssueDateFrom + '", IssueDateTo: "' + IssueDateTo + '",AccessNumber: "' + AccessNumber + '",ReturnDateFrom: "' + ReturnDateFrom + '",ReturnDateTo: "' + ReturnDateTo + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {

                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(result);
                    if (result.indexOf("No Issue Book") > -1) {
                        $('#Pdf').hide();
                        $('#Export').hide();
                    }
                    else {
                        $('#Pdf').show();
                        $('#Export').show();
                    }

                },
                error: function (error) {
                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(error.responseText);
                    if (error.responseText.indexOf("No Issue Book") > -1) {
                        $('#Pdf').hide();
                        $('#Export').hide();
                    }
                    else {
                        $('#Pdf').show();
                        $('#Export').show();
                    }
                },
                complete: function (results) {
                    $('#loader-wrapper').hide();

                }
            });
        }
    });

    $("#Export").click(function () {


        var SubscriberDesignation = $('#SubscriberDesignation').val();
        var MemberCode = $('#MemberCode').val();
        var IssueDateFrom = $('#txtIssueDateFrom').val();
        var IssueDateTo = $('#txtIssueDateTo').val();
        var AccessNumber = $('#AccessNumber').val();
        var ReturnDateFrom = $('#txtReturnDateFrom').val();
        var ReturnDateTo = $('#txtReturnDateTo').val();

        var ss = "<input type='hidden' name='MemberCode' value='" + MemberCode + "' >" +
        "<input type='hidden' name='IssueDateFrom' value='" + IssueDateFrom + "' >" +
         "<input type='hidden' name='IssueDateTo' value='" + IssueDateTo + "' >" +
        "<input type='hidden' name='AccessNumber' value='" + AccessNumber + "' >" +
        "<input type='hidden' name='ReturnDateFrom' value='" + ReturnDateFrom + "' >" +
        "<input type='hidden' name='ReturnDateTo' value='" + ReturnDateTo + "' >" +
        "<input type='hidden' name='SubscriberDesignation' value='" + SubscriberDesignation + "' >";

        $('body').prepend("<form method='post' action='/IssueBook/DownloadExcel' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
        $('#tempForm').submit();
        $("tempForm").remove();

    });

    $("#Pdf").click(function () {

        var SubscriberDesignation = $('#SubscriberDesignation').val();
        var MemberCode = $('#MemberCode').val();
        var IssueDateFrom = $('#txtIssueDateFrom').val();
        var IssueDateTo = $('#txtIssueDateTo').val();
        var AccessNumber = $('#AccessNumber').val();
        var ReturnDateFrom = $('#txtReturnDateFrom').val();
        var ReturnDateTo = $('#txtReturnDateTo').val();

        var ss = "<input type='hidden' name='MemberCode' value='" + MemberCode + "' >" +
        "<input type='hidden' name='IssueDateFrom' value='" + IssueDateFrom + "' >" +
         "<input type='hidden' name='IssueDateTo' value='" + IssueDateTo + "' >" +
        "<input type='hidden' name='AccessNumber' value='" + AccessNumber + "' >" +
        "<input type='hidden' name='ReturnDateFrom' value='" + ReturnDateFrom + "' >" +
        "<input type='hidden' name='ReturnDateTo' value='" + ReturnDateTo + "' >" +
        "<input type='hidden' name='SubscriberDesignation' value='" + SubscriberDesignation + "' >";

        $('body').prepend("<form method='post' action='/IssueBook/DownloadPdf' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
        $('#tempForm').submit();
        $("tempForm").remove();

    });


    function GetAllMembersByDesignation(deptId) {

        try {

            $.ajax({
                url: "/Library/IssueBook/GetMemberListByDesignation",
                type: 'GET',
                data: {
                    deptId: deptId
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    debugger;
                    if (data != null) {

                        if (data.length > 0) {

                            var selectOpt = '';

                            $.each(data, function (e, index) {

                                selectOpt += '<option value="' + data[e]["MemberCode"] + '">' +

                                data[e]["Name"] + '</option>';
                            });

                            $("#MemberCode").html(selectOpt);
                        }
                        else {
                            var selectOpt = '<option value="">---Select A Member ---</option>';
                            $("#MemberCode").html(selectOpt);
                        }
                    }
                    else {
                        var dlg = bootbox.alert('No Data Available', function (e) {
                            $(dlg).modal('hide');
                        });
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {

                    var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                        $(dlg).modal('hide');
                    });
                }
            });

        } catch (ex) {

            var dlg = bootbox.alert(ex.message, function (e) {

                $(dlg).modal('hide');
            });
        }
    }

</script>

