﻿@using SBL.DomainModel.Models.Employee
@using SBL.eLegistrator.HouseController.Web.Helpers
@using SBL.DomainModel.Models.Library
<link href="~/assets/css/datepicker.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "mm/dd/yyyy"
        });
    });
</script>

<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    @Html.Partial("/Areas/SuperAdmin/Views/Shared/_BreadcrumbsPartial.cshtml")
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "IssueBook")">@Resources.MasterDataDashboard.Home</a>
            </li>

            <li>
                <a href="@Url.Action("IssueBookReport", "IssueBook")">Issue & Return Book Report</a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.List</li>
        </ul>

    </div>
    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->
        <!-- /section:settings.box -->
        
        <div class="page-header">
            <h1> Return Book 
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.List
                </small>
            </h1>
        </div>

        <!-- /section:settings.box -->
        <div id="Menu">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive ">
                        <table class="table danger">
                            <tr class="info">
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for=" Subscriber’s Designation">Subscriber’s Designation</label><br />
                                        <select id="SubscriberDesignation" name="SubscriberDesignation" class=" col-xs-10 col-sm-10 ">
                                            <option selected value="">---Select A Designation ---</option>
                                            @foreach (var item in (List<mMemberDesignation>)ViewBag.DesignationCol)
                                            {
                                                <option value="@item.memDesigcode">@item.memDesigname</option>
                                            }
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="Subscriber’s Name">Subscriber’s Name</label>
                                        @Html.DropDownList("MemberCode",
                                        new SelectList(ViewBag.MemberCol, "MemberCode", "Name"), "---Select A Member ---",
                                        new { @class = "col-xs-10 col-sm-10 " })
                                    </div>
                                </td>
                                
                                <td>
                                    <div class="form-group">
                                        <div class="space-12"></div>
                                        <button class="btn btn-sm btn-primary btn-bold" id="btnSearch">
                                            <i class="ace-icon fa fa-search bigger-150"></i>
                                            <span class="bigger-110">Search</span>
                                        </button>
                                    </div>

                                </td>
                               
                            </tr>
                        </table>

                        <!-- PAGE CONTENT BEGINS -->
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="alert alert-block alert-danger" id="AlertDiv" style="display: none;">
                            <strong><i class="ace-icon fa fa-check-square-o"></i>Error! </strong><span id="MsgSpan">Please select at least one field </span>
                        </div>
                        <div id="tablecontainer">
                        </div>

                        <!-- /.col -->
                    </div>

                </div>
                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@
            </div>
            <!-- /section:basics/footer -->
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>

<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#SubscriberDesignation").change(function () {
            GetAllMembersByDesignation($("#SubscriberDesignation").val());

        });
    });

    $(document).on('click', '#btnSearch', function (e) {

        var SubscriberDesignation = $('#SubscriberDesignation').val();
        var MemberCode = $('#MemberCode').val();
        

        $('#AlertDiv').hide();
        $('.ErrorMessage').remove('');
        var IsValid = true;

        if (SubscriberDesignation == '' && MemberCode == ''  ) {
            $('#AlertDiv').css("border", "1px solid red");
            $('#AlertDiv').show();
            IsValid = false;
        }

         

        if (IsValid == true) {
            $.ajax({
                type: "POST",
                url: '/Library/IssueBook/GetAccesionNumberList',
                data: '{ SubscriberDesignation: "' + SubscriberDesignation + '",MemberCode: "' + MemberCode + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {

                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(result);
                    if (result.indexOf("No Issue Book") > -1) {
                        $('#Pdf').hide();
                        $('#Export').hide();
                    }
                    else {
                        $('#Pdf').show();
                        $('#Export').show();
                    }

                },
                error: function (error) {
                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(error.responseText);
                    if (error.responseText.indexOf("No Issue Book") > -1) {
                        $('#Pdf').hide();
                        $('#Export').hide();
                    }
                    else {
                        $('#Pdf').show();
                        $('#Export').show();
                    }
                },
                complete: function (results) {
                    $('#loader-wrapper').hide();

                }
            });
        }
    });


    function GetAllMembersByDesignation(deptId) {

        try {

            $.ajax({
                url: "/Library/IssueBook/GetMemberListByDesignation",
                type: 'GET',
                data: {
                    deptId: deptId
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    debugger;
                    if (data != null) {

                        if (data.length > 0) {

                            var selectOpt = '';

                            $.each(data, function (e, index) {

                                selectOpt += '<option value="' + data[e]["MemberCode"] + '">' +

                                data[e]["Name"] + '</option>';
                            });

                            $("#MemberCode").html(selectOpt);
                        }
                        else {
                            var selectOpt = '<option value="">---Select A Member ---</option>';
                            $("#MemberCode").html(selectOpt);
                        }
                    }
                    else {
                        var dlg = bootbox.alert('No Data Available', function (e) {
                            $(dlg).modal('hide');
                        });
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {

                    var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                        $(dlg).modal('hide');
                    });
                }
            });

        } catch (ex) {

            var dlg = bootbox.alert(ex.message, function (e) {

                $(dlg).modal('hide');
            });
        }
    }
    $(document).on('click', '#UpdateReturnBook', function (e) {

        $('.ErrorMessage').remove('');
        var IsValid = true;
        
        //var ColumnMinBilling = $('.EditClassAccessNumber');

        //var i = 2, size = ColumnMinBilling.length;

        //for (i; i <= size; i++) {
        //    var ANId = '#AccessNumber-' + i;
        //    var ANVal = $(ANId).val();

        //    if (ANVal != null && ANVal != '' && !$.isNumeric(ANVal)) {
        //        $(ANId).css("border", "1px solid red");
        //        $(ANId).after("<span class='ErrorMessage'> Accession Number  numeric only</span>");
        //        $(ANId).focus();
        //        IsValid = false;
        //    }
        //}

        if (IsValid == true) {

            var QData = $('#AccesionNumForm').serialize();
            e.preventDefault();
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '/IssueBook/SaveReturnBook',
                data: QData,
                beforeSend: function () {
                 
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(result);

                },
                error: function (result) {

                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(result.responseText);

                },

                complete: function (result) {
                    $('#loader-wrapper').hide();
                }
            });
        }
    });

</script>

