﻿@using SBL.DomainModel.Models.Employee
@using SBL.eLegistrator.HouseController.Web.Helpers
@using SBL.DomainModel.Models.Library
@{
    ViewBag.Title = "Set Availability ";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}
<link href="~/assets/css/datepicker.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "mm/dd/yyyy"
        });

        //left menu open code
        $("#menuBookManagement").addClass("active open");
        $("#subMenuBookManagement").addClass("nav-show").css("display", "block");
        $("#subSubReturnBook").addClass("active");
    });
</script>
@{Html.RenderPartial("~/Areas/Library/Views/Shared/_LeftMenu.cshtml");}
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    @*    @Html.Partial("/Areas/SuperAdmin/Views/Shared/_BreadcrumbsPartial.cshtml")*@
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "IssueBook")">@Resources.MasterDataDashboard.Home</a>
            </li>

            <li>
                <a href="@Url.Action("IssueBookReport", "IssueBook")">Issue & Return Book Report</a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.List</li>
        </ul>

    </div>
    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->
        <!-- /section:settings.box -->
        @* 
        <div class="page-header">
            <h1> Return Book 
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.List
                </small>
            </h1>
        </div>*@

        <!-- /section:settings.box -->

        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">Book Returned</h4>
                <input id="designationType" name="designationType" type="hidden" value="0" />
                <div class="widget-toolbar">
                    <label>
                        <input name="form-field-radio" type="radio" class="ace" checked="checked" value="member" onclick="MemberClick();" id="rblMemberForList" />
                        <span class="lbl">Member</span>
                    </label>
                    <label>
                        <input name="form-field-radio" type="radio" class="ace" value="staff" onclick="StaffClick();" id="rblStaffForList" />
                        <span class="lbl">Staff</span>
                    </label>
                    <label>
                        <input name="form-field-radio" type="radio" class="ace" value="Paid" onclick="PaidClick();" id="rblPaidForList" />
                        <span class="lbl">Paid</span>
                    </label>
                </div>
            </div>
            <div id="Menu">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive ">
                            <table class="table danger">
                                <tr class="info">
                                    <td id="desigDiv">
                                        <div class="form-group">
                                            <label class=" control-label  col-xs-10 col-sm-10" for=" Subscriber’s Designation">Subscriber’s Designation</label><br />
                                            <select id="SubscriberDesignation" name="SubscriberDesignation" class="col-xs-10 col-sm-10 ">
                                                <option selected value="">---Select A Designation ---</option>
                                                @foreach (var item in (List<mMemberDesignation>)ViewBag.DesignationCol)
                                                {
                                                    <option value="@item.memDesigcode">@item.memDesigname</option>
                                                }
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group" id="SubDiv">
                                            <label class=" control-label col-xs-10 col-sm-10 " for="Subscriber’s Name">Subscriber’s Name</label>
                                            @Html.DropDownList("MemberCode",
                                        new SelectList(ViewBag.MemberCol, "MemberCode", "Name"), "---Select Designation first ---",
                                        new { @class = "col-xs-10 col-sm-5 " })
                                        </div>
                                    </td>

                                    <td>
                                        <div class="form-group">
                                            <div class="space-12"></div>
                                            <button class="btn btn-sm btn-primary btn-bold" id="btnSearch">
                                                <i class="ace-icon fa fa-search bigger-150"></i>
                                                <span class="bigger-110">Search</span>
                                            </button>
                                        </div>

                                    </td>

                                </tr>
                            </table>

                            <!-- PAGE CONTENT BEGINS -->
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="alert alert-block alert-danger" id="AlertDiv" style="display: none;">
                                <strong><i class="ace-icon fa fa-check-square-o"></i>Error! </strong><span id="MsgSpan">Please select at least one field </span>
                            </div>
                            <div id="tablecontainer">
                            </div>

                            <!-- /.col -->
                        </div>

                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.page-content -->
            </div>
        </div>
    </div>
</div>
<!-- /.main-content -->
<div class="footer">
    <div class="footer-inner">
        <!-- #section:basics/footer -->
        <div class="footer-content">
            @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@
        </div>
        <!-- /section:basics/footer -->
    </div>
</div>
<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>

<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#SubscriberDesignation").change(function () {
            GetAllMembersByDesignation($("#SubscriberDesignation").val());
        });
    });

    $(document).on('click', '#btnSearch', function (e) {

        var SubscriberDesignation = $('#SubscriberDesignation').val();
        var MemberCode = $('#MemberCode').val();


        $('#AlertDiv').hide();
        $('.ErrorMessage').remove('');
        var IsValid = true;

        if (SubscriberDesignation == '' && MemberCode == '' && $("#designationType").val("0")) {
            $('#AlertDiv').css("border", "1px solid red");
            $('#AlertDiv').show();
            IsValid = false;
        }

        if (SubscriberDesignation == '' && MemberCode == '' && $("#designationType").val("1")) {
            $('#AlertDiv').css("border", "1px solid red");
            $('#AlertDiv').show();
            IsValid = false;
        }

        if (MemberCode == '' && $("#designationType").val("2")) {
            $('#AlertDiv').css("border", "1px solid red");
            $('#AlertDiv').show();
            IsValid = false;
        }

        if (IsValid == true) {
            $.ajax({
                type: "POST",
                url: '/Library/IssueBook/GetAccesionNumberList',
                data: '{ SubscriberDesignation: "' + SubscriberDesignation + '",MemberCode: "' + MemberCode + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {

                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(result);
                    if (result.indexOf("No Issue Book") > -1) {
                        $('#Pdf').hide();
                        $('#Export').hide();
                    }
                    else {
                        $('#Pdf').show();
                        $('#Export').show();
                    }

                },
                error: function (error) {
                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(error.responseText);
                    if (error.responseText.indexOf("No Issue Book") > -1) {
                        $('#Pdf').hide();
                        $('#Export').hide();
                    }
                    else {
                        $('#Pdf').show();
                        $('#Export').show();
                    }
                },
                complete: function (results) {
                    $('#loader-wrapper').hide();
                }
            });
        }
    });

    function GetAllMembersByDesignation(deptId) {

        try {
            var typeid = $("#designationType").val();
            $.ajax({
                url: "/Library/IssueBook/GetMemberListByDesignation",
                type: 'GET',
                data: {
                    deptId: deptId, typeid: typeid,
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    
                    if (data != null) {
                        if (typeid == "0") {
                           // var memberCol = data["MemberCol"];
                            if (data.length > 0) {

                                var selectOpt = '';

                                $.each(data, function (e, index) {

                                    selectOpt += '<option value="' + data[e]["MemberCode"] + '">' +

                                    data[e]["Name"] + '</option>';
                                });

                                $("#MemberCode").html(selectOpt);
                            }
                            else {
                                var selectOpt = '<option value="">---Select A Member ---</option>';
                                $("#MemberCode").html(selectOpt);
                            }
                        }
                        if (typeid == "1") {
                            //var memberCol = data["MemberCol"];

                            if (data.length > 0) {
                                var selectOpt = '';
                                $.each(data, function (e, index) {
                                    selectOpt += '<option value="' + data[e]["StaffID"] + '">' +
                                    data[e]["StaffName"] + '</option>';
                                });
                                $("#MemberCode").html(selectOpt);
                            }
                            else {
                                var selectOpt = '<option value="">Choose Staff</option>';
                                $("#MemberCode").html(selectOpt);
                            }
                        }
                        if (typeid == "2") {
                            //var memberCol = data["MemberCol"];

                            if (data.length > 0) {
                                var selectOpt = '';
                                $.each(data, function (e, index) {
                                    selectOpt += '<option value="' + data[e]["PaidMemeberSubsID"] + '">' +
                                    data[e]["NameOfSubscriber"] + '</option>';
                                });
                                $("#MemberCode").html(selectOpt);
                            }
                            else {
                                var selectOpt = '<option value="">Choose Staff</option>';
                                $("#MemberCode").html(selectOpt);
                            }
                        }
                    }
                    else {
                        var dlg = bootbox.alert('No Data Available', function (e) {
                            $(dlg).modal('hide');
                        });
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {

                    var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                        $(dlg).modal('hide');
                    });
                }
            });
        } catch (ex) {
            var dlg = bootbox.alert(ex.message, function (e) {

                $(dlg).modal('hide');
            });
        }
    }

    $(document).on('click', '#UpdateReturnBook', function (e) {

        $('.ErrorMessage').remove('');
        var IsValid = true;

        //var ColumnMinBilling = $('.EditClassAccessNumber');

        //var i = 2, size = ColumnMinBilling.length;

        //for (i; i <= size; i++) {
        //    var ANId = '#AccessNumber-' + i;
        //    var ANVal = $(ANId).val();

        //    if (ANVal != null && ANVal != '' && !$.isNumeric(ANVal)) {
        //        $(ANId).css("border", "1px solid red");
        //        $(ANId).after("<span class='ErrorMessage'> Accession Number  numeric only</span>");
        //        $(ANId).focus();
        //        IsValid = false;
        //    }
        //}

        if (IsValid == true) {

            var QData = $('#AccesionNumForm').serialize();
            e.preventDefault();
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '/IssueBook/SaveReturnBook',
                data: QData,
                beforeSend: function () {

                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(result);

                },
                error: function (result) {

                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(result.responseText);

                },

                complete: function (result) {
                    $('#loader-wrapper').hide();
                }
            });
        }
    });

    function MemberClick() {
        $("#desigDiv").css("display", "block");
        try {
            $("#tablecontainer").empty();
            var selectOpt = '<option value="">---Select Designation first ---</option>';
            $("#MemberCode").html(selectOpt);
            $("#designationType").val("0");
            $.ajax({
                url: "/Library/IssueBook/ReturnIssuedBookForMember",
                type: 'GET',
                //data: {
                //    type: 1
                //},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $("#loader-wrapper").show();
                },
                success: function (data) {
                    $("#loader-wrapper").hide();

                    if (data != null) {
                        var DesignationCol = data["MemberDesignationList"];
                        //var memberCol = data["MemberCol"];
                        //if (memberCol.length > 0) {
                        //    var selectOpt = '';
                        //    $.each(memberCol, function (e, index) {
                        //        selectOpt += '<option value="' + memberCol[e]["MemberCode"] + '">' +
                        //        memberCol[e]["Name"] + '</option>';
                        //    });
                        //    $("#SubscriberId").html(selectOpt);

                        //}
                        //else {
                        //    var selectOpt = '<option value="">Choose Member</option>';
                        //    $("#SubscriberId").html(selectOpt);
                        //}
                        if (DesignationCol.length > 0) {
                            var DesigOpt = '';
                            $.each(DesignationCol, function (e, index) {
                                DesigOpt += '<option value="' + DesignationCol[e]["memDesigcode"] + '">' +
                                DesignationCol[e]["memDesigname"] + '</option>';
                            });
                            $("#SubscriberDesignation").html(DesigOpt);
                            $("#SubscriberDesignation").prepend("<option value='select'>Choose Designation</option>").val('select');
                        }
                        else {
                            var selectOpt = '<option value="">Choose Designation</option>';
                            $("#SubscriberDesignation").html(DesigOpt);
                        }
                    }
                    //$('.chosen-select').trigger("chosen:updated");
                }
            });

        } catch (e) {

        }
    }

    function StaffClick() {
        $("#desigDiv").css("display", "block");
        $("#tablecontainer").empty();
        var selectOpt = '<option value="">---Select designation first ---</option>';
        $("#MemberCode").html(selectOpt);
        try {
            $("#designationType").val("1");
            $.ajax({
                url: "/Library/IssueBook/ReturnIssuedBookForStaff",
                type: 'GET',
                //data: {
                //    type: 2
                //},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $("#loader-wrapper").show();
                },
                success: function (data) {
                    $("#loader-wrapper").hide();

                    if (data != null) {

                        var DesignationCol = data["mStaffList"];
                        //var memberCol = data["mStaffMembers"];

                        //if (memberCol.length > 0) {
                        //    var selectOpt = '';
                        //    $.each(memberCol, function (e, index) {
                        //        selectOpt += '<option value="' + memberCol[e]["StaffID"] + '">' +
                        //        memberCol[e]["StaffName"] + '</option>';
                        //    });
                        //    $("#SubscriberId").html(selectOpt);
                        //}
                        //else {
                        //    var selectOpt = '<option value="">Choose Staff</option>';
                        //    $("#SubscriberId").html(selectOpt);
                        //}
                        if (DesignationCol.length > 0) {
                            var DesigOpt = '';
                            $.each(DesignationCol, function (e, index) {
                                DesigOpt += '<option value="' + DesignationCol[e]["Designation"] + '">' +
                                DesignationCol[e]["Designation"] + '</option>';
                            });
                            $("#SubscriberDesignation").html(DesigOpt);
                            $("#SubscriberDesignation").prepend("<option value='select'>Choose Designation</option>").val('select');
                        }
                        else {
                            var selectOpt = '<option value="">Choose Designation</option>';
                            $("#SubscriberDesignation").html(DesigOpt);
                        }
                    }
                    //$('.chosen-select').trigger("chosen:updated");
                }
            });

        } catch (e) {

        }
    }

    function PaidClick() {
        $("#tablecontainer").empty();
        $("#desigDiv").css("display", "none");
        $("#designationType").val("2");
        GetAllMembersByDesignation($("#SubscriberDesignation").val());
    }
</script>

