﻿@model SBL.DomainModel.ComplexModel.Constituency.schemeMapping
@using SBL.eLegistrator.HouseController.Web.Utility;

@{
    string Name = "";
    Name = CurrentSession.Name;
}
<div id="canvasloader-container3" class="canvasloader" style="text-align: center"></div>

<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
@* <script src="~/assets/js/jquery-ui.custom.min.js"></script>
        <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
        <script src="~/assets/js/fullcalendar.min.js"></script>
        <script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery-1.7.min.js"></script>*@
<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
<script src="~/Scripts/jquery.alerts.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.timepicker1.js"></script>
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />

<div id='fullDetailsModel' class="modal">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>


<div id='OpenModel1' class='modal hide fade in' style="width: 65%; height: 80%; top: 300px; left: 500px">
    <div id='OpenModelContainer1'>
    </div>
</div>




<div class="modal fade" tabindex="-1" id="loginModal"  
                         data-keyboard="false" data-backdrop="static">  
                        <div class="modal-dialog modal-lg" id="Scroll">  
                            <div class="modal-content">  
                                <div class="modal-header">  
                                    <button type="button" class="close" data-dismiss="modal" style="color:red;">  
                                        ×  
                                    </button>  
                             <h4 class="widget-title"><b>Development Works</b></h4>
                                </div>  
                               
                                 @using (@Ajax.BeginForm("updateWorksbyMembers", "constituency", FormMethod.Post, new AjaxOptions
                                                    {
                                                        //OnSuccess = "OnUpdateSuccess()",
                                                        OnSuccess = "OnAddSuccess()",
                                                        LoadingElementId = "loader-wrapper"
                                                    }, new { @class = "form-horizontal", @role = "form", id = "updateWorksbyMembers", enctype = "multipart/form-data" }))
                                                        {
                                                            <div class="modal-body">  

                                                               
                                                              
                                                            </div>
                                      <div class="form-actions center">
                                                                   <button type="submit" id="savebtn" class="btn btn-sm btn-purple" >Submit</button>
                                                                </div>
                                                        }
                               
                                </div>  
                              @*  <div class="modal-footer">  
                             

                                </div>  *@
                            </div>  
                        </div>  
                    

  <div class="row col-sm-12">
    <div class="widget-box">
        <div class="widget-header">
            <h4 class="widget-title">Search Works</h4>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main">
                @Html.Partial("_OfficerFilter", new string[] { "0", "0" })
            </div>
        </div>
    </div>
</div>

<div class="row col-sm-12">
    <div class="widget-box">
        <div class="widget-header widget-header-flat">
            <h5 class="widget-title">Search Result</h5>
            <div class="widget-toolbar no-border">                
                @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.SubUserTypeID != "40")
                {
                <button class="btn btn-xs btn-info bigger" onclick="newWork('half')">
                    <i class="ace-icon fa fa-pencil-square-o"></i>
                    New Work
                </button>
                }                
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12" style="padding: 0px">
                        <div id="two-column" class="">
                           @* <div id="resize-left" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 20px;">

                                <div id="divLeftContainer" style="position: absolute; top: 0; height: 20px; width: 100%; display: block;">
                                    <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                                    <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                                        <i id="one" onclick="resizeClick(1)" class="ace-icon fa fa-angle-double-left roundicon"></i>
                                    </div>
                                </div>*@ 

                                <div class="row-fluid">
                                    <div class="span12" style="padding: 10px;">
                                        <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
                                        <div class="col-xs-12" style="padding: 0px">
                                            <div id="divDataContainer">
                                                <div id="innerLeftSidebar">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           @*  <div id="resize-right" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 21px;">

                                <div id="divRightContainer" style="position: absolute; top: 0; height: 21px; width: 100%; display: block;">
                                    <input type="hidden" id="ChangeStatus" value="false" />
                                    <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                                    <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                                        <i id="two" data-icon2="ace-icon fa fa-angle-double-right" onclick="resizeClick(0)" data-icon1="ace-icon fa fa-angle-double-left" class="ace-icon fa fa-angle-double-right roundicon"></i>
                                    </div>
                                </div>*@

                                <div class="row-fluid" style="overflow: hidden">
                                    <div class="span12">
                                        <div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>
                                        <div>

                                            <div id="RightSidebar" style="width: 100%">

                                                <div class="widget-box sblFullScreen" style="display: none">

                                                  @*  <div class="widget-header widget-header-flat">
                                                        <h4 class="widget-title">Works officer</h4>
                                                        <div class="widget-toolbar">

                                                            <a href="#" data-action="fullscreen" class="red">
                                                                <i class="ace-icon fa fa-expand bigger-150"></i>
                                                            </a>
                                                        </div>
                                                    </div>*@

                                                   
                                                </div>
                                            </div>
                                            <div id="FormPart" style="width: 100%; height: 100%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    @*</div>
</div>*@

<div id="defaultmsg" style="visibility: hidden">
    <div class="row col-sm-12">

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            <strong>Information!</strong>

            Please Select Criteria and click on Filter Button.
										<br>
        </div>
    </div>
</div>

<!-- #two-column-->
@using (@Ajax.BeginForm("UpdateProgressbyOfficer", "constituency", FormMethod.Post, new AjaxOptions
{
    OnSuccess = "OnUpdateprogressSuccess(data)",
    LoadingElementId = "loader-wrapper"
}, new { @class = "form-horizontal", @role = "form", id = "updateWorksbyMembers" }))
{
    <div id="UpdateProgress" class="modal"></div>
}
@using (@Ajax.BeginForm("UpdateImagesbyOfficer", "constituency", FormMethod.Post, new AjaxOptions
{
    OnSuccess = "OnUpdateImagesSuccess()",

    LoadingElementId = "loader-wrapper"
}, new { @class = "form-horizontal", @role = "form", id = "updateImagesWorksbyMembers" }))
{
    <div id="UpdateImages" class="modal">

        <div id="UpdateImagesDIv"></div>
    </div>
}

<!-- PAGE CONTENT ENDS -->
<div id="viewProgressImages" class="modal"></div>
<div id="viewFinancialProgress" class="modal"></div>
<div id="viewphysicalProgress" class="modal"></div>
<div id="viewWorksDetail" class="modal"></div>
<div id="NviewWorksSummary" class="modal"></div>

<script src="~/Content/ScriptsUp/jquery.ui.widget.js"></script>
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="~/Scripts/Constituency/myConstituencyWorks.js"></script>

<script src="~/Scripts/Constituency/officerConstituency.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script>
    try {
        $('.chosen-select').chosen({ allow_single_deselect: true });

        $(window).on('resize.chosen', function () {
            var w = $('.chosen-select').parent().width();
            $('.chosen-select').next().css({ 'width': '100%' });
        }).trigger('resize.chosen').trigger("chosen:updated")
    }
    catch (error) {
    }

    $(".show-option").tooltip({
        show: {
            effect: "slideDown",
            delay: 250
        }
    });
    $(document).ready(function () {
        $("#loader-wrapper").show();
        $('#savebtn').hide();
        $('#savebtn').show(10000);
        $("#loader-wrapper").hide();

    });
    //$(document).ready(function () {
    //    $('#savebtn').hide();
    //    $('#savebtn').show(10000);
    //    var ConcernedEventId = "5";
    //   // alert(ConcernedEventId);
    //    //$("#loader-wrapper").show();
    //    $.ajax({
    //        url: "/Constituency/Constituency/StepsforUpdatingWorks",
    //        type: 'GET',
    //        data: {
                
    //        },
    //        success: function (data) {
    //            $('#ShowfullDetailsModel').html("");
    //            $('#ShowfullDetailsModel').html(data);
    //            //$('#MainDiv').empty();
    //            //$('#MainDiv').html(data);
    //            //$("#MainDiv").css("display", "block");
    //            //  ClearControls();
    //          //  $("#loader-wrapper").hide();
    //            $("#fullDetailsModel").modal({          // wire up the actual modal functionality and show the dialog
    //                "backdrop": "1.5",
    //                "keyboard": true,
    //                "show": true                     // ensure the modal is shown immediately
    //            });


    //        },
    //        error: function (xhr, ajaxOptions, thrownError) {

    //            alert(xhr.responseText);
    //            alert(thrownError);
    //        }
    //    })
    //})
    function hideLeftPanel() {
        $('#resize-left').width(0);
        $('#resize-right').width(100 + '%')

    }
    function hideLeftPanelAnimate() {
        resizeLeftPanel(0);
    }
    function hideRightPanel() {
        $('#resize-left').width(100 + '%');
        $('#resize-right').width(0)
    }

    function hideRightPanelAnimate() {
        resizeLeftPanel(100);
    }

    function resizeClick(isLeft) {
        var parentWidth = $('#resize-left').parent().outerWidth();

        if (isLeft) { // click on left rezise button
            if ($('#resize-left').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
            else { resizeLeftPanel(0); }
        } else {
            if ($('#resize-right').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
            else { resizeLeftPanel(100); }
        }

    }

    function resizeLeftPanel(sizeRatio) {

        if (sizeRatio == 100) {
            $("#ChangeStatus").val('true');
        }
        if (sizeRatio == 50) {
            $("#ChangeStatus").val('false');
        }
        var parentWidth = $('#resize-left').parent().width();
        $('#resize-left').animate({ width: +(sizeRatio) + '%' }, 500);
        $('#resize-right').animate({ width: +(100 - sizeRatio) + '%' }, 500);
        // $("#CommonGrid").setGridWidth($('.col-xs-12').width());

    }
 
</script>
