﻿@model string[]



<div class="row">
    <div class="col-sm-12 col-sm-12" style="padding-bottom: 10px;">
        <div class="col-sm-12 col-sm-12" style="padding-bottom: 10px;">
            <div class="col-sm-6">
                <label class="col-sm-4 control-label no-padding-right">
                    Ward
                </label>
                <div class="col-sm-8">
                    <select id="Constituency" class="chosen-select input-sm" data-placeholder="--select  Ward --" @*style="width: 250px"*@></select>
                </div>
            </div>
            <div class="col-sm-6">
                <label class="col-sm-4 control-label no-padding-right">
                    Project/Programme
                </label>
                <div class="col-sm-8">
                    <select id="Program" class="chosen-select input-sm" data-placeholder="--select a Project --" @*style="width: 250px"*@></select>
                </div>
            </div>




        </div>


        <div class="col-sm-12 col-sm-12" style="padding-bottom: 10px;">
            <div class="col-sm-6">
                <label class="col-sm-4 control-label no-padding-right">
                    Financial Year (Sanctioned)
                </label>
                <div class="col-sm-8">
                    <select id="FinancialYear" style="width: 100%"></select>
                </div>
            </div>

            <div class="col-sm-6" id="statusFinancialYearDiv">
                <label class="col-sm-4 control-label no-padding-right">
                    Financial Year (Completed)
                </label>
                <div class="col-sm-8">
                    <select id="statusFinancialYear" style="width: 100%"></select>
                </div>
            </div>
            <div class="col-sm-6">
                <label class="col-sm-4 control-label no-padding-right">
                    Status
                </label>
                <div class="col-sm-8">
                    <select id="Status" style="width: 100%;"></select>
                </div>
            </div>



        </div>
        <div class="col-xs-12 col-sm-12" style="padding-bottom: 10px;">
            <div class="col-sm-6">
                <label class="col-sm-4 control-label no-padding-right">
                    Executing Agency (Department)
                </label>
                <div class="col-sm-8">
                    <select id="Agency" class="chosen-select input-sm" data-placeholder="--select Department --"></select>
                </div>
            </div>

            <div class="col-sm-6">
                <label class="col-sm-4 control-label no-padding-right">
                    Executing Agency (Office)
                </label>
                <div class="col-sm-8">
                    <select id="Office" class="chosen-select input-sm" data-placeholder="-- select Office --"></select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12" style="padding-bottom: 10px;">
            <div class="col-sm-6">
                <label class="col-sm-4 control-label no-padding-right">
                    Work Type
                </label>
                <div class="col-sm-8">
                    <select id="workType" style="width: 100%;"></select>
                </div>
            </div>
            <div class="col-sm-6">
                <label class="col-sm-4 control-label no-padding-right">
                    Sanctioned Date From
                </label>
                <div class="col-sm-8">
                    <input type="text" id="latestDate" name="latestDate" data-date-format="dd-mm-yyyy" class="width-100 date-picker" placeholder="Date" />
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12" style="padding-bottom: 10px;">

            <div class="col-sm-6">
                <label class="col-sm-4 control-label no-padding-right">
                    Controlling Authority
                </label>
                <div class="col-sm-8">
                    <select id="ControllingAuthority" style="width: 100%"></select>
                </div>
            </div>
            <div class="col-sm-6">
                <label class="col-sm-4 control-label no-padding-right">
                    Owner Department
                </label>
                <div class="col-sm-8">
                    <select id="OwnerDepartment" class="chosen-select input-sm" data-placeholder="--select Owner Department --" @*style="width: 250px"*@></select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12" style="padding-bottom: 10px;display:none;">
            <div class="col-sm-6">
                <label class="col-sm-4 control-label no-padding-right">
                    Councillor
                </label>
                <div class="col-sm-8">


                    <select id="MLA" style="width: 100%;" class="chosen-select input-sm" data-placeholder="--select Member --"></select>
                </div>
            </div>
            <div class="col-sm-6" style="display:none;">
                <label class="col-sm-4 control-label no-padding-right">
                    Panchayat
                </label>
                <div class="col-sm-8">
                    <select id="Panchayat" class="chosen-select input-sm" data-placeholder="--select  Panchayat --" @*style="width: 250px"*@></select>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-sm-12" style="padding-bottom: 10px;display:none;">

            <div class="col-sm-6">
                <label class="col-sm-4 control-label no-padding-right">
                    District
                </label>
                <div class="col-sm-8">
                    <select id="District" class="chosen-select input-sm" data-placeholder="--select  District --" @*style="width: 250px"*@></select>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-12" style="padding-bottom: 10px;">
            <div class="col-sm-6">
                <label class="col-sm-4 control-label no-padding-right">
                    Report Type
                </label>
                <div class="col-sm-8">
                    <label>
                        <input name="form-field-radio" type="radio" class="ace" checked="checked" value="DetailReport" onclick="ActivateDetailDiv();" id="rbDetailDiv" />
                        <span class="lbl">Detail</span>
                    </label>
                    <label>
                        <input name="form-field-radio" type="radio" class="ace" value="SummaryReport" onclick="ActivateSummaryDiv();" id="rbSummaryDiv" />
                        <span class="lbl">Summary</span>
                    </label>
                </div>
            </div>
            <div class="col-sm-6" id="summaryTypeDIV" style="display: none">
                <label class="col-sm-4 control-label no-padding-right">
                    Summary Type
                </label>
                <div class="col-sm-8">
                    <select id="summaryTypeDropDown" class="chosen-select input-sm" data-placeholder="--Summary Type --" @*style="width: 250px"*@>
                        <option value="Controling Authority">Controling Authority</option>
                        <option value="Executing Department">Executing Department</option>
                        <option value="Panchayat">Panchayat</option>
                        <option value="Program Name">Program Name</option>
                        <option value="Work Type">Work Type</option>
                    </select>
                </div>
            </div>
        </div>
        @*    <div class="col-xs-12 col-sm-12" style="padding-bottom: 10px;">

                <div class="col-sm-6">
                    <label class="inline col-sm-4 control-label no-padding-right  no-padding-left">
                        Sanctioned Date From
                    </label>
                    <div class="col-sm-8  no-padding-right">


                        <input type="text" id="latestDate" name="latestDate" data-date-format="dd-mm-yyyy" class="width-100 date-picker" placeholder="Date">
                    </div>
                </div>
            </div>*@

    </div>

    <div class="col-xs-12 col-sm-12" style="padding-bottom: 10px;">
        <div class="row center" @*style="margin-right:20px;"*@>
            <button type="button" id="submitButton" class="btn btn-info btn-sm " onclick="GetFilterMySchemeList()">
                <i class="ace-icon fa fa-search bigger-110"></i>Search
            </button>
            @*  <button type="button" class="btn btn-info btn-sm " onclick="ExportToPDF()">
                    <i class="ace-icon fa fa-search bigger-110"></i>Generate Pdf
                </button>
                <button type="button" class="btn btn-info btn-sm " onclick="ExportToExcel()">
                    <i class="ace-icon fa fa-search bigger-110"></i>Generate Excel
                </button>*@
            <button type="button" class="btn btn-warning btn-sm">
                <i class="ace-icon fa fa-times bigger-110"></i>Clear
            </button>
        </div>
    </div>
</div>

<script src="~/Scripts/Constituency/Filter.js"></script>
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>


<script>
    $('.date-picker').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    $(document).ready(function () {

        // Disabling #submitButton before page load.....by robin
        //  $("#submitButton").attr("disabled", true);

        $("#statusFinancialYearDiv").hide();

        fillFilterControllingAuthority(@Model[1]);
        fillFilterProgramme();
        fillFilterWorkStatus();
        fillFilterWorkType();
        fillFilterOwnerDepartment();
        fillFilterPanchayatByConstituency(@Model[0]);
        fillFilterFinancialYear();
        fillFilterMLA();
        fillOffice();


        //fillFilterAllDemand();

        //alert('@SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.DeptID');
        var currentdept = '@SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.DeptID';
        //  alert(currentdept);
        if (currentdept == null) {
            currentdept = '';
        }
        if (currentdept == '')
        { fillFilterExecutingDepartment(); }
        else {
            fillFilterExecutingDepartment_current('@SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.DeptID', '@SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.SubDivisionId');
        }
        fillFilterFinancialYear();
        FilterDistrictList();
        fillstatusFinancialYear();

        // Enabling #submitbutton after all page load....by robin
        //  $("#submitButton").attr("disabled", false);

        //  $("#Agency").append($("<option></option>").val('0').html('--All--'))
        //	$("#Agency").val('@SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.DeptID');
        //$('#Agency option:not(:selected)').attr('disabled', true);
    });

    $("#District").change(function () {
        fillFilterConstituencyByDistrict($("#District :selected").val());
    });
    $("#Constituency").change(function () {
        fillFilterPanchayatByConstituency($("#Constituency :selected").val());
    });


    $("#Status").change(function () {
        var status = $("#Status option:selected").val();
        if (status == 3) {
            $("#statusFinancialYearDiv").show('fast');
        }
        else {
            $("#statusFinancialYearDiv").hide('fast');
        }

    });

    function GetFilterMySchemeList() {

        //for nodal case enabling the executing agency...
        //$("#Agency").prop("disabled", true);


        if ($("#Checklatest").is(':checked')) {
            if ($("#latestDate").val() == '') {
                var dlg = bootbox.alert('Please select a Date .', function (e) {
                    $(dlg).modal('hide');
                });
            }
            else {

                getofcrData();
            }
        } else {
            // alert('user2');
            getofcrData();
        }

    }

    function GetFilterWorkSchemeList() {

        //alert("offierfilter hit");
        if ($("#Checklatest").is(':checked')) {
            if ($("#latestDate").val() == '') {
                var dlg = bootbox.alert('Please select a Date .', function (e) {
                    $(dlg).modal('hide');
                });
            }
            else {
                getData();
            }
        } else {
            getData();
        }
    }

    function getofcrData() {
        // alert('enter1ofcjs');
        //alert("officergetdata");
        $("#RightSidebar .widget-box").hide();
        $("#loader-wrapper").show();
        var FinancialYearID = $("#FinancialYear option:selected").val();
        var ControllingAuthorityID = $("#ControllingAuthority option:selected").val();
        var DemandID = $("#Demand option:selected").val();
        var ProgramID = $("#Program option:selected").val();
        var AgencyID = $("#Agency  option:selected").val();
        var OwnerDepartmentID = $("#OwnerDepartment option:selected").val();
        var ExecutingOffice = $("#Office option:selected").val();
        var PanchayatID = $("#Panchayat option:selected").val();
        var WorkTypeID = $("#workType option:selected").val();
        var StatusID = $("#Status  option:selected").val();
        var DistrictID = $("#District  option:selected").val();
        var ConstituencyID = $("#Constituency  option:selected").val();
        var cFinancialYearID = $("#statusFinancialYear option:selected").val();
        var sanctionedDateID = $("#latestDate").val();
        var summaryTypeID = $("#summaryTypeDropDown").val();
        var ReportType = $("input[name=form-field-radio]:checked").val();
        if (ReportType == "DetailReport") {
            var pathurl = '/Constituency/Constituency/FilteredconstituencyListForOfficer';
            $.ajax({
                url: pathurl,
                type: 'GET',
                data: { FinancialYear: FinancialYearID, ControllingAuthority: ControllingAuthorityID, Demand: DemandID, Program: ProgramID, Agency: AgencyID, OwnerDepartment: OwnerDepartmentID, Panchayat: PanchayatID, WorkType: WorkTypeID, Status: StatusID, DistrictID: DistrictID, Constituency: ConstituencyID, cFinancialYear: cFinancialYearID, sanctionedDate: sanctionedDateID, ExecutingOffice: ExecutingOffice },
                success: function (data) {
                    $('#inneridebar').show();
                    $("#innerLeftSidebar").html("");
                    $("#innerLeftSidebar").html(data);
                    //document.getElementById("MainDiveThreeTire").style.display = "none";
                    //document.getElementById("MainDiveTwoTire").style.display = "none";
                    $("#loader-wrapper").hide();
                }
            });
        } else if (ReportType == "SummaryReport") {
            // alert("report type hit");
            $("#innerLeftSidebar").html("");
            var pathurl = '/Constituency/Constituency/SearchWorkListForNodal';
            $.ajax({
                url: pathurl,
                type: 'GET',
                data: { FinancialYear: FinancialYearID, ControllingAuthority: ControllingAuthorityID, Demand: DemandID, Program: ProgramID, Agency: AgencyID, OwnerDepartment: OwnerDepartmentID, Panchayat: PanchayatID, WorkType: WorkTypeID, Status: StatusID, DistrictID: DistrictID, Constituency: ConstituencyID, cFinancialYear: cFinancialYearID, sanctionedDate: sanctionedDateID, summaryTypeID: summaryTypeID, ExecutingOffice: ExecutingOffice },
                success: function (data) {
                    $("#NviewWorksSummary").html("");
                    $("#NviewWorksSummary").html(data);
                    $("#NviewWorksSummary").modal({
                        "backdrop": "static",
                        "keyboard": true,
                        "show": true,
                    });

                    $("#loader-wrapper").hide();
                }
            });
        }
    }



    //function ExportToExcel() {  not used

    //    $('#loader-wrapper').show();

    //    $('body').prepend("<form method='post' action='/Constituency/Constituency/FilteredMyConstituencyWorksExcel' style='top:-3333333333px;' id='tempForm'></form>");
    //    $('#tempForm').submit();
    //    $("tempForm").remove();

    //    setTimeout(function () {
    //        $('#loader-wrapper').hide();
    //    }, 2000);
    //}

    //function ExportToPDF() { not used

    //    $('#loader-wrapper').show();

    //    $('body').prepend("<form method='post' action='/Constituency/Constituency/FilteredMyConstituencyWorksPDF' style='top:-3333333333px;' id='tempForm'></form>");
    //    $('#tempForm').submit();
    //    $("tempForm").remove();

    //    setTimeout(function () {
    //        $('#loader-wrapper').hide();
    //    }, 2000);
    //}
</script>

