﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV
@{
   
 
    
    
    }
  
  <div class="modal-dialog" style="background-color:white; height:380px; width:750px;padding-left:25px; padding-right:25px;padding-top:10px;border-style:inset;border-radius:2%;">
      @*<div class="modal-header" style="padding-top:0px;">
            
          
        </div>*@
   <button type="button" class="close" data-dismiss="modal" style="color:red;width:10px; opacity:1;">&times;</button>
      <!-- dialog body -->
  
              
        <table style=" width:100%;margin-top:10px;padding-left:25px; padding-right:25px;padding-top:-10px; ">
 
        <tr style="text-align:center;font-size:22px;">
            <td><b><u>Two Steps for Updating the Works Detail</u></b><br><br /></td></tr>
            
           
            <tr style="text-align:left;font-size:18px;"><td><b>Step 1: Click on the Button “New Work”.</b></td></tr>
            <tr style="text-align:left;font-size:18px;"><td>In first step, the basic sanctioned detail is required to be entered and work status is set as “Sanctioned”.<br><br /></td></tr>
            <tr style="text-align:left;font-size:18px;"><td><b>Step 2: Search from the List of Works and Double Click the work to update.</b></td></tr>
            <tr style="text-align:left;font-size:18px;"> <td>After the first step of entering the sanctioned detail, the further progress of the work may be updated and work status can be set other than “Sanctioned”.</td>
        </tr>
           <tr style="text-align:left;font-size:18px;"><td> Step 2 can be repeated till the work is completed.</td>
        </tr>
       </table>


             

    </div>
  @*  <div class="row-fluid">*@
        <div style="font-weight: bold; font-size: 20px; width: 1450px;">
             
        </div>

@*    </div>*@




          
<script>
    try {

    } catch (error) {
    }

</script>

         <div>
    <table style="width:100%">
       
    </table>

</div>




<div>
     <table style="width:100%">
       
    </table>
    </div>

<div>
    <table style="width:80%">
       
    </table>

</div>

<div id="PaperGRid">
    

</div>
           
     

<script>
   
</script>