﻿@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<style type="text/css">
    .owl-carousel.owl-theme.owl-loaded.owl-drag .item img {
        height: 280px;
    }
        .item {
    padding: 20px 20px;
}
</style>
<link href="~/Content/styles/lightbox.min.css" rel="stylesheet" />
<link href="~/Content/styles/GridCss.css" rel="stylesheet" />
<script defer src="~/Scripts/jquery-3.5.1.js"></script>
<script defer src="~/Scripts/owl.carousel.min.js"></script>
<script src="~/Scripts/lightbox.min.js"></script>
<script>
    $(document).ready(function () {
        $('.clsActive').removeClass("active");
        $("#btn_under_menu_Projects").addClass('active');
        $("#liHome").addClass('active')
        $(".projectowl").owlCarousel({
            items: 3, //10 items above 1000px browser width

            autoplay: true,
            autoplayTimeout: 5000,
            navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"],
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }

            }
        });

    });
</script>

<script type="text/javascript">
    function HideShow(id) {



        $('.prdata').not('#' + id).hide();
        $("#" + id).show();


        $('.liproject').not('#' + id + "-li").css('background-color', '#fffcfc');




        $("#" + id + "-li").css('background-color', '#C5C5C5');

    }

</script>
<div class="clearfix"></div>
<div class="container-fluid container_fluid">
    <div class="row" id="side_menu">
        <div class="col-lg-9 col-md-6">
            <div class="tab-content project" id="myTabContent">
                @{
                    int j = 0;
                    string display = "";
                    bool show = false;

                    foreach (var project in Model.Projects)
                    {

                        if (ViewBag.ProjectId == "0" && show == false)
                        {
                            display = "display:block;";
                            show = true;
                        }

                        else if (ViewBag.ProjectId == Convert.ToString(project.ProgramId))
                        {

                            display = "display:block;";

                        }
                        else
                        {
                            display = "display:none;";
                        }


                        <div class="prdata active" id="@project.ProgramId" style="@display">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Project</a></li>
                                    <li class="breadcrumb-item"><a href="#">@project.ProgrammeTitle</a></li>

                                </ol>
                            </nav>
                            <div class="tab_content">
                                <h2>@project.ProgrammeName</h2>
                                @if (@project.ImageList.Count > 0)
                                {
                                    <div class="container-fluid">


                                        <div class="row">
                                            <div class="feature-block">
                                                <div class="owl-carousel owl-theme projectowl">
                                                    @foreach (var img in project.ImageList)
                                                    {


                                                        <div class="item">
                                                            <a href="@Url.Content(@img.ImageLocation)" data-lightbox="gallery">
                                                                <img src="@Url.Content(@img.ImageLocation)" alt="" data-toggle="tooltip" title="@img.ImageTitle" />
                                                            </a>
                                                            <h4 class="images_title">@img.ImageTitle</h4>
                                                        </div>



                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                                <div class="container-fluid">
                                    <div class="row">

                                        <div class="@(project.DocumentList.Count > 0 ? " col-lg-8 col-md-6" : "" )">
                                            <div class="project_description">
                                                @Html.Raw(@project.ProgrammeDescription)

                                            </div>
                                        </div>

                                        @if (@project.DocumentList.Count > 0)
                                        {
                                            <div class="col-lg-4 col-md-6">
                                                <div class="globe_outer document">
                                                    <h5>
                                                        <img src="/Content/images/notice_icon.png" alt=""> Project Documents
                                                        <span class="more">
                                                            <a href="#"><img src="/Content/images/more2.png" alt=""></a>
                                                        </span>
                                                    </h5>
                                                    <div class="row">
                                                        <div class="globe_inner">
                                                            <div class="col-lg-12">
                                                                <div class="noticebox">
                                                                    <ul>
                                                                        @foreach (var doc in project.DocumentList)
                                                                        {

                                                                            <li>
                                                                                <a href="@Url.Content(doc.DocumentLocation)" target="_blank">@doc.DocumentTitle</a>
                                                                                 @*<span><i class="fa fa-calendar" aria-hidden="true"></i> @doc.CreatedDate.ToString("dd-MM-yyyy") </span>*@
                                                                            </li>
                                                                        }

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        }

                                    </div>
                                </div>




                            </div>
                        </div>

                                        j++;

                    }
                }






            </div>
        </div>

        <div class="col-lg-3 col-md-6">

            <nav class="navigation">
                <ul class="mainmenu">
                    @{
                        int i = 0;

                        string style = "";
                        bool active = false;

                        foreach (var project in Model.Projects)
                        {
                            if (ViewBag.ProjectId == "0" && active == false)
                            {
                                style = "background-color: #C5C5C5";
                                active = true;
                            }

                            else if (ViewBag.ProjectId == Convert.ToString(project.ProgramId))
                            {

                                style = "background-color: #C5C5C5";
                            }
                            else
                            {
                                style = "background - color: none";
                            }
                            <li>
                                <a id="@project.ProgramId-li" href="@Url.Action("Index", "Project", new { id = project.GenerateProjectNameUrl() })" style="@style" )" class="liproject">@project.ProgrammeTitle </a>



                            </li>
                            i++;

                        }
                    }
                </ul>
            </nav>


        </div>

    </div>
</div>

