﻿@{
    ViewBag.Title = "UserDashboard";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@using SBL.eLegistrator.HouseController.Web.Utility

@*@if (TempData["Updated"] == "updated")
{
    <script>
        alert('@Resources.UserRegistration.UpdateMessage');
    </script>
} by Ashwani *@
<style>
    legend {
        margin-bottom:5px;
        font-size:18px;
    }
</style>
	  <meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />
<script>

    $(document).ready(function () {
        //$.get("/Home/ChangeCulture", {}, function (data) {

        //}); //comment this line by ashwani for pop on login time
       // OpenUpdateUserDetailsPopUp();
    })

 @*   $(document).ready(function () {
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: '@Url.Action("RenderUserDetails", "Home", new { Area = "" })',
            type: 'GET',
            data: {

            },
            success: function (data) {
                $("#getUserPhoto").html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    })*@

    function GetMemberDetails() {
        window.location.href = '@Url.Action("GetMemberDetails", "UserRegistration", new { Area = "UserRegistration" })';

    }
</script>





@*Added For Pop On Login Time*@

<div id="dvUpdateUserDetail"   class="modal">
    <div class="modal-dialog" style="width: 1000px;">
        <div id="dvInnerModel" style="display:none" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="return Skip('ok')" data-dismiss="modal">&times;</button>
                <h4 style="margin-bottom:0px;margin-top:0px;" class="blue bigger">Update Profile</h4>
@*                <button class="close" style="color:#6fb3e0;opacity:1.2;filter:alpha(opacity=20)" data-dismiss="modal" onclick="return Skip('ok')">&times;</button>*@
                @*<h4 class="blue bigger">Assembly Password </h4>*@
                @*<button class="btn" onclick="return Skip()">
                            <i class="ace-icon fa fa-times"></i>
                            Skip
                        </button>*@
            </div>
            <div style="padding:10px;" class="modal-body">
                <div id="divDataContainer" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function OpenUpdateUserDetailsPopUp() {
        _iGetUseDetails();
        $("#dvUpdateUserDetail").modal({  // wire up the actual modal functionality and show the dialog
            "backdrop": "static",
            "keyboard": true,
            "show": true     // ensure the modal is shown immediately
        });

    }

    function Skip(flag) {
        @{
            CurrentSession.UserUpdateFlag = "ok";
    }
        $("#loader-wrapper").show();
        window.location.href = '@Url.Action("Index", "Home", new { Area = "" })';
        $("#loader-wrapper").hide();

    }

    function _iGetUseDetails() {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/UserRegistration/UserRegistration/GetMemberDetailsONLoginTime",
            type: 'GET',
            data: {
            },
            success: function (response) {
                $("#divDataContainer").empty();
                $("#divDataContainer").html(response);
                $("#loader-wrapper").hide();
                $('#dvGender').css("display", "none");
                $("#dvAge").css("display", "none");
                $("#dvFatherName").css("display", "none");
                $("#dvAddress").css("display", "none");
                $("#dvPhoto").css("display", "none");
                $("#dvSignature").css("display", "none");
                $("#dvNote").css("display", "none");
                document.getElementById("dvInnerModel").style.display = 'block';
                // $elem.css("display", "block");
            }

        });
    }
</script>
 <script type="text/javascript" language="javascript">
     function DisableBackButton() {
         window.history.forward()
     }
     DisableBackButton();
     window.onload = DisableBackButton;
     window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
     window.onunload = function () { void (0) }
</script>
@*End Added  For Pop On Login Time*@