﻿@model SBL.eLegistrator.HouseController.Web.Areas.Admin.Models.UploadMetaViewModel


<!-- PAGE CONTENT BEGINS -->
<form id="frmSaveMetaFile">
    <div class="row">


        <div class="profile-info-row">
            <div class="profile-info-name">Assembly:</div>
            <div class="profile-info-value">
                <div class="input-group col-xs-12">
             
                    @Html.DropDownListFor(model => model.AssemblyId, new SelectList(Model.AssemblyList, "AssemblyCode", "AssemblyName", new SelectListItem { Value = "0", Text = "-- Select --" }), new { @class = "col-xs-12 col-sm-7 col-md-6", @onchange = "AssemblyChange()", @id = "assemblyLst", @style = "width:80%;" })

                </div>

            </div>
        </div>
        <div class="profile-info-row">
            <div class="profile-info-name">Session:</div>
            <div class="profile-info-value">
                <div class="input-group col-xs-12">
                    @Html.DropDownListFor(model => model.SessionId, new SelectList(Model.SessionList, "SessionCode", "SessionName", new SelectListItem { Value = "0", Text = "-- Select --" }), new { @class = "col-xs-12 col-sm-7 col-md-6", @onchange = "SessionChange()", @id = "sessionLst", @style = "width:80%;" })

                </div>

            </div>
        </div>
        <div class="profile-info-row">
            <div class="profile-info-name">Session Date:</div>
            <div class="profile-info-value">
                <div class="input-group col-xs-12">
                    @Html.DropDownListFor(model => model.SessionDateId, new SelectList(Model.SessionDateList, "DisplayDate", "DisplayDate", new SelectListItem { Value = "0", Text = "-- Select --" }), new { @class = "col-xs-12 col-sm-7 col-md-6", @id = "sessionDateLst", @onchange = "SessionDateChange(this)", @style = "width:80%;" }) @*onchange = "SessionDateChange(this)",*@

                </div>

            </div>
        </div>
        <div class="profile-info-row">
            <div class="profile-info-name">Document Types:</div>
            <div class="profile-info-value">
                <div class="input-group col-xs-12">
                    @Html.DropDownList("DocumentTypeId", new List<SelectListItem>
               {
                   new SelectListItem{ Text="-- Select DocumentType( Filter ) --", Value = "0"  },
                   new SelectListItem{ Text="Question", Value = "Question"  },
                   new SelectListItem{ Text="Debates", Value = "Debates"  },
                   new SelectListItem{ Text="Debates(Edited)", Value = "Debates1"  },
                   new SelectListItem{ Text="Bills", Value = "Bills" },
                   new SelectListItem{ Text="Committee report", Value = "CommitteeReports" },
                   new SelectListItem{ Text="Speeches", Value = "Speeches" },
                   new SelectListItem{ Text="Passes", Value = "Passes" }
                 }, new { @class = "col-xs-12 col-sm-7 col-md-6", @onchange = "changeDocType(this.value);", @style = "width:80%;" })
                </div>

            </div>
        </div>

          <div class="profile-info-row hide" id="hidePresentedType">
            <div class="profile-info-name">Presented By:</div>
            <div class="profile-info-value">
                <div class="input-group col-xs-12">

                   @Html.DropDownList("SpeechId", new List<SelectListItem>
                   {
                   new SelectListItem{ Text="-- Select Presented By( Filter ) --", Value = "0"  },
                   new SelectListItem{ Text="Chief Minister Speech", Value = "Chief Minister Speech"  },
                   new SelectListItem{ Text="Finance Minister Speech", Value = "Finance Minister Speech"  },
                   new SelectListItem{ Text="Governor Speech", Value = "Governor Speech" },
                   new SelectListItem{ Text="Speaker speech", Value = "Speaker speech" },
                    
                 }, new { @class = "col-xs-12 col-sm-7 col-md-6", @onchange = "changeBType();", @style = "width:80%;" })

                </div>

            </div>
        </div>

         <div class="profile-info-row hide" id="hideSpeechType">
            <div class="profile-info-name">Speech Type:</div>
            <div class="profile-info-value">
                <div class="input-group col-xs-12">

                   @Html.DropDownList("SpeechType", new List<SelectListItem>
                   {
                   new SelectListItem{ Text="-- Select Speech Type( Filter ) --", Value = "0"  },
                   new SelectListItem{ Text="Hindi", Value = "HIN"  },
                   new SelectListItem{ Text="English", Value = "ENG"  },
                    
                 }, new { @class = "col-xs-12 col-sm-7 col-md-6", @onchange = "changeBType();", @style = "width:80%;" })

                </div>

            </div>
        </div>

        <div class="profile-info-row hide" id="hideBillType">
            <div class="profile-info-name">Bill Type:</div>
            <div class="profile-info-value">
                <div class="input-group col-xs-12">

                    @Html.DropDownList("BillId", new List<SelectListItem>
               {
                   new SelectListItem{ Text="-- Select Bill Type( Filter ) --", Value = "0"  },
                   new SelectListItem{ Text="Assented", Value = "AssentedPdf"  },
                   new SelectListItem{ Text="Introduction", Value = "IntroductionPdf"  },
                   new SelectListItem{ Text="Passed", Value = "PassedPdf" },
                    
                 }, new { @class = "col-xs-12 col-sm-7 col-md-6", @onchange = "changeBType();", @style = "width:80%;" })

                </div>

            </div>
        </div>
        <div class="profile-info-row hide" id="hideQuestionType">
            <div class="profile-info-name">Question Type:</div>
            <div class="profile-info-value">
                <div class="input-group col-xs-12">

                    @Html.DropDownList("QuestionId", new List<SelectListItem>
               {
                   new SelectListItem{ Text="-- Select Question Type( Filter ) --", Value = "0"  },
                   new SelectListItem{ Text="Starred", Value = "Starred"  },
                   new SelectListItem{ Text="Unstarred", Value = "Unstarred"  },
                 
                 }, new { @class = "col-xs-12 col-sm-7 col-md-6", @onchange = "changeQType();", @style = "width:80%;" })

                </div>

            </div>
        </div>
        <div id="divcommitteeSection" style="display: none;">
            <div class="profile-info-row">
                <div class="profile-info-name">Committee Name:</div>
                <div class="profile-info-value">
                    <div class="input-group col-xs-12">
                        @Html.DropDownListFor(model => model.CommitteeId, new SelectList(Model.CommiteeList, "CommitteeName", "CommitteeName", new SelectListItem { Value = "0", Text = "-- Select --" }), new { @class = "col-xs-12 col-sm-7 col-md-6", @id = "committeeList", @style = "width:80%;" })

                    </div>

                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Department Name:</div>
                <div class="profile-info-value">
                    <div class="input-group col-xs-12">
                        @Html.DropDownListFor(model => model.DepartmentId, new SelectList(Model.DepartmentList, "deptname", "deptname", new SelectListItem { Value = "0", Text = "-- Select --" }), new { @class = "col-xs-12 col-sm-7 col-md-6", @id = "departmentLst", @style = "width:80%;" }) @*onchange = "SessionDateChange(this)",*@

                    </div>

                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Committee Type:</div>
                <div class="profile-info-value">
                    <div class="input-group col-xs-12">

                        @Html.DropDownList("CommitteeTypeId", new List<SelectListItem>
               {
                  
                   new SelectListItem{ Text="Org", Value = "Org"  },
                   new SelectListItem{ Text="ATR", Value = "ATR"  },
                   new SelectListItem{ Text="FTR", Value = "FTR" },
                    
                 }, new { @class = "col-xs-12 col-sm-7 col-md-6", @style = "width:80%;" })

                    </div>

                </div>
            </div>
        </div>
        <div class="profile-info-row" id="fff">
            <div class="profile-info-name">File:</div>
            <div class="profile-info-value">
                <div class="input-group col-xs-12">
                    <input type="file" id="fileToUpload" name="fileUpload" multiple="multiple" style="float: left; margin-bottom: 10px;" />
                    @Html.HiddenFor(i => i.PdfFile)
                    <div id="uploaders">

                        <span id="spnFile" style="float: left; color: #FF0000"></span>
                        @Html.ValidationMessage("File")
                        @Html.Hidden("hdnFileUpload")
                    </div>

                </div>

            </div>

        </div>
        <div class="profile-info-row" id="">
            <div class="profile-info-name"></div>
            <div class="profile-info-value">
                <div class="input-group col-xs-12">
                    <div class="control-section" style="padding: 2px;">
                        <div id="selectedFiles"></div>
                    </div>

                </div>

            </div>

        </div>

        <div class="btn-group pull-right padding-10" style="padding-bottom: 40px;">

            <button type="button" id="savebtn" class="btn btn-sm btn-purple " onclick="SaveFiles();">
                <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                Upload Files</button>

            <!-- /section:plugins/fuelux.wizard.buttons -->
        </div>


        <!-- /.row -->
    </div>
</form>
<!-- /.page-content -->



<script src="~/assets/js/jquery.hotkeys.min.js"></script>
<script src="~/assets/js/bootstrap-wysiwyg.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>



<script>
    $("#DocumentTypeId").change(function () {
        var DocType = "";
        DocType = $("#DocumentTypeId").val();
        if (DocType == "Bills") {
            $("#hideBillType").removeClass('hide');
            $('#hideBillType').show();
        }
        else {
            $("#hideBillType").addClass('hide');
            $('#hideBillType').hide();
        }
        if (DocType == "Speeches") {
            $("#hidePresentedType").removeClass('hide');
            $('#hidePresentedType').show(); 
            $("#hideSpeechType").removeClass('hide');
            $('#hideSpeechType').show();
        }
        else {
            $("#hidePresentedType").addClass('hide');
            $('#hidePresentedType').hide();
            $("#hideSpeechType").addClass('hide');
            $('#hideSpeechType').hide();
        }
        if (DocType == "Question") {
            $("#hideQuestionType").removeClass('hide');
        }
        else {
            $("#hideQuestionType").addClass('hide');
        }
        if (DocType == "CommitteeReports") {
            $("#divcommitteeSection").css('display', 'block');
        }
        else {
            $("#divcommitteeSection").css('display', 'none');
        }
    });


  
</script>
<script>
    $(document).ready(function () {
       
        if ('@ViewBag.SessionId' != null && '@ViewBag.SessionId' != "")
        {
            SessionChange();
        }
        $("#DocumentTypeId option[value='0']").prop("selected", "selected");
    });

    function fileCheck(obj) {

        var fileExtension = ['pdf'];
        if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only '.pdf' formats is allowed.");
            $("#fileToUpload").val("");
            return false;
        }
        else {
            $('#selectedFiles').empty();
        }

    }
    function changeDocType(id) {
        $('.ErrorMessage').empty();
        $('#selectedFiles').empty();
        $("#DocumentTypeId").css("border", "1px solid green");
    }
    function SessionChange() {
        var assembly = $("#assemblyLst").val();
        var session = $("#sessionLst").val();
        $.ajax({
            url: '/Admin/UploadMetaFile/GetSessionDate',
            type: 'POST',
            data: {
                assembly: assembly,
                session: session

            },
            success: function (data) {
                $("#sessionDateLst").empty();
                $("#sessionDateLst").append("<option value='0'>-- Select --</option>");
                $.each(data, function (index, optiondata) {
                    $("#sessionDateLst").append("<option value='" + optiondata.DisplayDate + "'>" + optiondata.DisplayDate + "</option>");
                });
                //$("#sessionDateLst option[value='0']").prop("selected", "selected");
            }
        })


        $('.ErrorMessage').empty();
        $('#selectedFiles').empty();
        $("#sessionDateLst").css("border", "1px solid green");
    }
    function AssemblyChange() {
        var assembly = $("#assemblyLst").val();
        $.ajax({
            url: '/Admin/UploadMetaFile/GetSessionList',
            type: 'POST',
            data: {
                assembly: assembly
            },
            success: function (data) {
                $("#sessionLst").empty();
                $("#sessionLst").append("<option value='0'>-- Select --</option>");
                $.each(data, function (index, optiondata) {
                    $("#sessionLst").append("<option value='" + optiondata.SessionCode + "'>" + optiondata.SessionName + "</option>");
                });
                // $("#sessionLst option[value='0']").prop("selected", "selected");
            }
        })

        SessionChange();

        $('.ErrorMessage').empty();
        $('#selectedFiles').empty();
        $("#sessionLst").css("border", "1px solid green");
    }
    function GetAssemblyList() {
        //$.ajax({
        //    url: '/Admin/UploadMetaFile/GetAssemblyList',
        //    type: 'POST',
        //    data: {
        //        //assembly: assembly
        //    },
        //    success: function (data) {
        //        $("#assemblyLst").empty();
        //        $("#assemblyLst").append("<option value='0'>-- Select --</option>");
        //        $.each(data, function (index, optiondata) {
        //            $("#assemblyLst").append("<option value='" + optiondata.AssemblyCode + "'>" + optiondata.AssemblyName + "</option>");
        //        });
        //       // $("#assemblyLst option[value='0']").prop("selected", "selected");
        //        //SessionChange();
        //    }
        //})


        $('.ErrorMessage').empty();
        $('#selectedFiles').empty();
        $("#sessionLst").css("border", "1px solid green");
    }

    function changeQType() {
        $('.ErrorMessage').empty();
        $('#selectedFiles').empty();
        $("#QuestionId").css("border", "1px solid green");
    }
    function changeBType() {
        $('.ErrorMessage').empty();
        $('#selectedFiles').empty();
        $("#BillId").css("border", "1px solid green");
    }


    var nowTemp = new Date();
    var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
    var files;
    var storedFiles = [];
    var upc = 0;

    $(function () {

        $(":file").attr('title', '  ');
        var $loading = $('#loadingDiv').hide();

        $("input[id^='fileToUpload']").change(function (e) {
        
                doReCreate(e);
          
        });

        selDiv = $("#selectedFiles");
    });
   
    function doReCreate(e) {
        debugger;
        filesss = e.target.files;
        for (var i = 0; i < filesss.length; i++) {
            var f = filesss[i];
            var ext = f.name.split('.').pop().toLowerCase();
            if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg', 'pdf']) == -1) {
                alert('invalid file extension!');
             
                $("#" + e.target.id).val('');
                return false;
            }
          
        }
        upc = upc + 1;
     
        handleFileSelect(e);
      
        $("input[id^='fileToUpload']").hide();
       
        $('<input>').attr({
            type: 'file',
            multiple: 'multiple',
            id: 'fileToUpload' + upc,
            class: 'fUpload',
            name: 'fileUpload',
            style: 'float: left',
            title: '  ',
            onchange: "doReCreate(event)"

        }).appendTo('#uploaders');

      
        
    }

    function handleFileSelect(e) {
        $("#progress1").slideDown();
        var progression = 0,
     progress = setInterval(function () {
         $('#progress1 .progress-text').text(progression + '%');
         $('#progress1 .progress-bar').css({ 'width': progression + '%' });
         if (progression == 100) {
             clearInterval(progress);
             setTimeout(function () {
                 $("#progress1").slideUp(50);
                 $('#progress1 .progress-bar').css({ 'width': '0%' });
                 $('#progress1 .progress-text').text('');

             }, 2000);
         } else
             progression += 10;

     }, 100);
        //selDiv.innerHTML = ""; storedFiles = []; 
        selDiv = document.querySelector("#selectedFiles");
        //alert($(selDiv).file());
      
        if (!e.target.files) return;

        //selDiv.innerHTML = "";
        files = e.target.files;
       
        for (var i = 0; i < files.length; i++) {
            //if (i == 0) { selDiv.innerHTML = ""; storedFiles = []; }
            var f = files[i];
          
                selDiv.innerHTML += "<div class='profile-info-row padding-6'>" + f.name + "  <a onclick='removeAtt(this)'><i class='ace-icon fa fa-trash-o bigger-120' style='cursor:pointer'></i> </a></div>";
                storedFiles.push(f.name);

        }
        $('#@Html.IdFor(i => i.PdfFile)').val(storedFiles);
    }

    function removeAtt(t) {
        var serEle = $(t).parent().text().slice(0, -3);
        var index = storedFiles.indexOf(serEle);
        if (index !== -1) {
            storedFiles.splice(index, 1);
        }
        $(t).parent().remove();

        $('#@Html.IdFor(i => i.PdfFile)').val(storedFiles);

    }

   
</script>




