﻿@model   IEnumerable<SBL.DomainModel.Models.ItemSubscription.mItemSubsDelivery>
<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
    }
</style>

<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    @Html.Partial("/Areas/SuperAdmin/Views/Shared/_BreadcrumbsPartial.cshtml")
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "ItemSubsDelivery")">@Resources.MasterDataDashboard.Home</a>
            </li>

            <li>
                <a href="@Url.Action("Index", "ItemSubsDelivery")">Delivery and Placement details of Item Subscription</a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.List</li>
        </ul>

    </div>
    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->


        <!-- /section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
            <button type="button" class="btn  btn-sm btn-info" data-toggle="modal" data-target="#ItemSubsDeliveryModel">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                <span class="bigger-110">@Resources.MasterDataDashboard.New</span>
            </button>
        </div>
        <div class="page-header">
            <h1>Delivery and Placement details                  
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.List
                </small>
            </h1>
        </div>
        <div id="Menu">
            <div class="row">
                <div id="tablecontainer">
                    @{Html.RenderPartial("~/Areas/Library/Views/ItemSubsDelivery/_ItemDeliveryList.cshtml", Model);}
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@
            </div>
            <!-- /section:basics/footer -->
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>
    <div class="space-6"></div>
</div>

<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        //$("#ItemSubscription").addClass("active open");
        //$("#ItemSubscriptionSub").addClass("nav-show").css("display", "block");
        //$("#ISIndex").addClass("active");
        //$("#ItemSubscriptionLinkId").removeClass("fa-comment").addClass("fa-comment-o");




        $('.RemoveDdlBorder').change(function () {

            var Id = this.id;
            if ($("#" + Id).val() != '') {
                $("#" + Id).next().hide();
                $("#" + Id).css("border", "1px solid green");
            }
            else {
                $("#" + Id).after("<span class='ErrorMessage'>Required</span>");
                $("#" + Id).css("border", "1px solid red");
            }

        });
    });

    function EditItemDelivery(Id) {
        $.ajax({
            type: "POST",
            url: '/ItemSubsDelivery/EditItemDelievery',
            data: '{ Id: "' + Id + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#EditSubscriptionDiv').empty();
                $('#EditSubscriptionDiv').append(result);
                $('#EditItemSubsDeliveryModel').modal('show');
            },
            error: function (error) {
                $('#EditSubscriptionDiv').empty();
                $('#EditSubscriptionDiv').append(error.responseText);
                $('#EditItemSubsDeliveryModel').modal('show');
            },
            complete: function (results) {

                $('#loader-wrapper').hide();
            }
        });
    }




    $(document).on('click', '#GetItemList', function (e) {
        $('.ErrorMessage').remove('');
        var IsValid = true;
        var ItemType = $('#ItemType').val().trim();
        var Language = $('#Language').val().trim()
        if (ItemType == '') {
            $('#ItemType').css("border", "1px solid red");
            $('#ItemType').after("<span class='ErrorMessage'> Item Type  Required</span>");
            $('#ItemType').focus();
            IsValid = false;
        }
        if (Language == '') {
            $('#Language').css("border", "1px solid red");
            $('#Language').after("<span class='ErrorMessage'> Language  Required</span>");
            $('#Language').focus();
            IsValid = false;
        }
        if (IsValid == true) {
            $.ajax({
                type: "POST",
                url: '/ItemSubsDelivery/GetItemSubsList',
                data: '{ ItemType: "' + ItemType + '",Language: "' + Language + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#SubscriptionDiv').empty();
                    $('#SubscriptionDiv').append(result);

                },
                error: function (error) {
                    $('#SubscriptionDiv').empty();
                    $('#SubscriptionDiv').append(error.responseText);
                    //  $('#CreateSubsCriptionModel').modal('show');
                },
                complete: function (results) {

                    $('#loader-wrapper').hide();
                }
            });
        }
    });



    $(document).on('click', '.SaveItemDelivery', function (e) {
        var IsValid = true;
      
        var ItemName = $('#ItemName').val().trim();
        var QuantityRecieved = $('#QuantityReceived').val();
        var Year = $('#Year').val().trim();
        var RecivedDate = $('#RecivedDate').val().trim()
        var Building = $('#Building').val().trim();
        var Floor = $('#Floor').val().trim()
        var Almirah = $('#Almirah').val().trim();
        var Rack = $('#Rack').val().trim();
        var ItemSubsDeliveryID = $('#ItemSubsDeliveryID').val();
        var Mode = $('#Mode').val();

        if (ItemName == '') {
            $('#spnError').empty();
            $('#ItemName').css("border", "1px solid red");
            $('#spnError').append(" Item Name  Required");
            $('#ItemName').focus();
            IsValid = false;
        }
        else if (QuantityRecieved == '') {
            $('#spnError').empty();
            $('#QuantityReceived').css("border", "1px solid red");
            $('#spnError').append(" Quantity Received  Required");
            $('#QuantityReceived').focus();
            IsValid = false;
        }
        else if (!$.isNumeric(QuantityRecieved)) {
            $('#spnError').empty();
            $('#QuantityReceived').css("border", "1px solid red");
            $('#spnError').append(" Quantity Received  numeric only");
            $('#QuantityReceived').focus();
            IsValid = false;
        }
        else if (Year == '') {
            $('#spnError').empty();
            $('#spnError').append("Year  Required");
            $("#Year").css("border", "1px solid red");
            $('#Year').focus();
            IsValid = false;
        }
        else if (Year != '' && Year.length > 4 != '') {
            $('#spnError').empty();
            $('#spnError').append("Year must be of 4 digits");
            $("#Year").css("border", "1px solid red");
            $('#Year').focus();
            IsValid = false;
        }
        else if (Year != '' && Year.length < 4 != '') {
            $('#spnError').empty();
            $('#spnError').append("Year must be of 4 digits");
            $("#Year").css("border", "1px solid red");
            $('#Year').focus();
            IsValid = false;
        }

        else if (RecivedDate == '') {
            $('#spnError').empty();
            $('#spnError').append("Recived Date required");
            $("#RecivedDate").css("border", "1px solid red");
            IsValid = false;
        }
        else if (Building == '') {
            $('#spnError').empty();
            $('#spnError').append("Building required");
            $("#Building").css("border", "1px solid red");
            $('#Building').focus();
            IsValid = false;
        }
        else if (Floor == '') {
            $('#spnError').empty();
            $('#spnError').append("Floor required");
            $("#Floor").css("border", "1px solid red");
            $('#Floor').focus();
            IsValid = false;
        }
        else if (Almirah == '') {
            $('#spnError').empty();
            $('#spnError').append("Almirah required");
            $("#Almirah").css("border", "1px solid red");
            $('#Almirah').focus();
            IsValid = false;
        }
        //else if (Rack == '') {
        //    $('#spnError').empty();
        //    $('#spnError').append("Rack required");
        //    $("#Rack").css("border", "1px solid red");
        //    $('#Rack').focus();
        //    IsValid = false;
        //}
        else if (RecivedDate != '') {
            var ActualRecieveDate = new Date(RecivedDate);
            if (ActualRecieveDate > new Date()) {
                $('#spnError').empty();
                $('#spnError').append("Recived Date can't be greater than today");
                $("#RecivedDate").css("border", "1px solid red");
                IsValid = false;
            }

        }
        else {
            $('#spnError').empty();
            IsValid = true;
        }


        if (IsValid == true) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: '/Library/ItemSubsDelivery/SaveItemDelievery',
                data: '{ ItemName: "' + ItemName + '",QuantityRecieved: "' + QuantityRecieved + '", Year: "' + Year + '",RecivedDate: "' + RecivedDate + '",Building: "' + Building + '",Floor: "' + Floor + '", Almirah: "' + Almirah + '",Rack: "' + Rack + '",Mode:"' + Mode + '",ItemSubsDeliveryID:"' + ItemSubsDeliveryID + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#ItemSubsDeliveryModel').modal('hide');
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(result);
                },
                error: function (result) {
                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(result.responseText);
                },

                complete: function (result) {
                    $('#loader-wrapper').hide();
                    $("#SubscriptionItemForm").get(0).reset();
                    $('#SubscriptionDiv').empty();
                    $('#CloseBtn').hide();
                    $('#SaveDeliveryItem').hide();
                    $('#EditItemSubsDeliveryModel').modal('hide');
                    setTimeout(function () {
                        $('#MsgDiv').slideUp("slow");
                    }, 6000);
                }
            });
        }
    });

    function DeleteItemSubscription(Id) {
        $.ajax({
            type: "POST",
            url: '/ItemSubsDelivery/DeleteItemSubsDelivery',
            data: '{ Id: "' + Id + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#tablecontainer').empty();
                $('#tablecontainer').append(result);
            },
            error: function (result) {
                $('#tablecontainer').empty();
                $('#tablecontainer').append(result.responseText);
            },
            complete: function (result) {
                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#MsgDiv').slideUp("slow");
                }, 6000);
            }
        });
    }
</script>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="ItemSubsDeliveryModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="SubscriptionModal">Add Delivery & Placement Details</h4>
            </div>
            <form method="post" action="/SchemeSetup/SaveQualification" id="SubscriptionItemForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="ItemType">@Resources.MasterDataDashboard.ItemType</label>
                        <div class="col-sm-4 help-block">
                            @Html.DropDownList("ItemType", new SelectList(ViewBag.ItemTypeList, "Value", "Text"), "--Select Type--", new { @class = "col-xs-10 col-sm-10 RemoveDdlBorder" })
                        </div>
                        <label class="col-sm-1 control-label no-padding-right" for="Language">@Resources.MasterDataDashboard.Language</label>
                        <div class="col-sm-4 help-block">
                            @Html.DropDownList("Language", new SelectList(ViewBag.LanguageList, "Value", "Text"), "--Select Language--", new { @class = "col-xs-10 col-sm-10 RemoveDdlBorder" })
                        </div>
                        <div class="col-sm-1 help-block">
                            <button type="button" class="btn btn-danger" id="GetItemList">Go</button>
                        </div>
                    </div>

                    <div id="SubscriptionDiv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="CloseBtn" style="display: none;" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" style="display: none;" id="SaveDeliveryItem" class="btn btn-primary SaveItemDelivery">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="EditItemSubsDeliveryModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="EditSubscriptionModal">Edit Delivery & Placement Details</h4>
            </div>
            <form method="post" action="/SchemeSetup/SaveQualification" id="EditSubscriptionItemForm">
                <div class="modal-body">
                    <div id="EditSubscriptionDiv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="EditCloseBtn" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="EditSaveDeliveryItem" class="btn btn-primary SaveItemDelivery">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

