﻿@model  List<SBL.eLegistrator.HouseController.Web.Areas.Library.Models.ItemSubscriptionViewModel>
<link href="~/assets/css/datepicker.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "mm/dd/yyyy"
        });
    });
</script>

<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    @Html.Partial("/Areas/SuperAdmin/Views/Shared/_BreadcrumbsPartial.cshtml")
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
           <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "ItemSubsDelivery")">@Resources.MasterDataDashboard.Home</a>
            </li>

            <li>
                <a href="@Url.Action("Index", "ItemSubsDelivery")">Delivery and Placement details of Item Subscription</a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.List</li>
        </ul>

    </div>
    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->
        <!-- /section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
            <button class="btn  btn-sm btn-info" id="Pdf">
                <i class="ace-icon fa fa-download white  bigger-150"></i>
                <span class="bigger-110">Download Pdf</span>
            </button>
            <button class="btn  btn-sm btn-info" id="Export">
                <i class="ace-icon fa fa-download white  bigger-150"></i>
                <span class="bigger-110">Download Excel</span>
            </button>

        </div>
        <div class="page-header">
            <h1>Delivery and Placement details 
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.List
                </small>
            </h1>
        </div>

        <!-- /section:settings.box -->
        <div id="Menu">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive ">
                        <table class="table danger">
                            <tr class="info">
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="Subscriber’s Name">Name of Item</label>
                                        <input type="text" id="txtNameofItem" placeholder="Name of Item" class="col-md-10 col-sm-5" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="ItemType">ItemType</label>
                                        @Html.DropDownList("ItemType", (SelectList)ViewBag.ItemTypeList, "--Select--",new {@class="col-md-10 col-sm-8 "})
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="Language">Language</label>
                                         @Html.DropDownList("Language", (SelectList)ViewBag.LanguageList, "--Select--",new {@class="col-md-10 col-sm-8 "})
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="DeliveryDateFrom">Delivery Date From</label>
                                        <input type="text" id="txtDeliveryDateFrom" placeholder="Delivery Date From" class="col-md-10 col-sm-5 date-picker" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="DeliveryDateTo">Delivery Date To</label>
                                        <input type="text" id="txtDeliveryDateTo" placeholder="Delivery Date To" class="col-md-10 col-sm-5 date-picker" />
                                    </div>
                                </td>
                              
                                <td>
                                    <div class="form-group">
                                        <div class="space-12"></div>
                                        <button class="btn btn-sm btn-primary btn-bold" id="btnSearch">
                                            <i class="ace-icon fa fa-search bigger-150"></i>
                                            <span class="bigger-110">Search</span>
                                        </button>
                                    </div>

                                </td>
                            </tr>
                        </table>

                        <!-- PAGE CONTENT BEGINS -->
                        <div class="alert alert-block alert-success" id="AlertDiv" style="display: none;">
                            <strong><i class="ace-icon fa fa-check-square-o"></i>Success! </strong><span id="MsgSpan"></span>
                        </div>
                        <div id="tablecontainer">
                            @{Html.RenderPartial("~/Areas/Library/Views/ItemSubscription/_ItemSubscriptionList.cshtml", Model);}
                        </div>

                        <!-- /.col -->
                    </div>

                </div>
                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@
            </div>
            <!-- /section:basics/footer -->
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>
    <div class="space-6"></div>
</div>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ItemSubscription").addClass("active open");
        $("#ItemSubscriptionSub").addClass("nav-show").css("display", "block");
        $("#ISReport").addClass("active");
        $("#ItemSubscriptionLinkId").removeClass("fa-comment").addClass("fa-comment-o");

    });

    $(document).on('click', '#btnSearch', function (e) {
        var Valid = true;
        var NameofItem = $('#txtNameofItem').val();
        var ItemType = $('#ItemType').val();
        var Language = $('#Language').val();
        var StartDateFrom = $('#txtDeliveryDateFrom').val();
        var StartDateTo = $('#txtDeliveryDateTo').val();

        if (StartDateFrom != '') {
            if (StartDateTo == '') {
                var dlg = bootbox.alert('Please Fill Delivery Date To ', function (e) {

                    $(dlg).modal('hide');
                });

                Valid = false;
            }
        }
        if (StartDateTo != '') {
            if (StartDateFrom == '') {
                var dlg = bootbox.alert('Please Fill Delivery Date From ', function (e) {

                    $(dlg).modal('hide');
                });

                Valid = false;
            }
        }
        if (StartDateFrom != '' && StartDateTo != '') {
            var From = new Date(StartDateFrom);
            var To = new Date(StartDateTo);
            if (From > To) {
                var dlg = bootbox.alert('Delivery Date From cant be greate than Delivery Date To ', function (e) {

                    $(dlg).modal('hide');
                });

                Valid = false;
            }
        }
       
        if (Valid == true) {
            $.ajax({
                type: "POST",
                url: '/Library/ItemSubsDelivery/SearchmItemSubsDelievery',
                data: '{ NameofItem: "' + NameofItem + '", ItemType: "' + ItemType + '",Language: "' + Language + '",StartDateFrom: "' + StartDateFrom + '", StartDateTo: "' + StartDateTo + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(result);

                },
                error: function (error) {
                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(error.responseText);

                },
                complete: function (results) {
                    $('#loader-wrapper').hide();

                }
            });
        }
    });

    $("#Export").click(function () {


        var Valid = true;
        var NameofItem = $('#txtNameofItem').val();
        var ItemType = $('#ItemType').val();
        var Language = $('#Language').val();
        var StartDateFrom = $('#txtDeliveryDateFrom').val();
        var StartDateTo = $('#txtDeliveryDateTo').val();

        if (StartDateFrom != '') {
            if (StartDateTo == '') {
                var dlg = bootbox.alert('Please Fill Delivery Date To ', function (e) {

                    $(dlg).modal('hide');
                });

                Valid = false;
            }
        }
        if (StartDateTo != '') {
            if (StartDateFrom == '') {
                var dlg = bootbox.alert('Please Fill Delivery Date From ', function (e) {

                    $(dlg).modal('hide');
                });

                Valid = false;
            }
        }
        if (StartDateFrom != '' && StartDateTo != '') {
            var From = new Date(StartDateFrom);
            var To = new Date(StartDateTo);
            if (From > To) {
                var dlg = bootbox.alert('Delivery Date From cant be greate than Delivery Date To ', function (e) {

                    $(dlg).modal('hide');
                });

                Valid = false;
            }
        }
       
        if (Valid == true) {

            var ss = "<input type='hidden' name='NameofItem' value='" + NameofItem + "' >" +
            "<input type='hidden' name='ItemType' value='" + ItemType + "' >" +
             "<input type='hidden' name='Language' value='" + Language + "' >" +
            "<input type='hidden' name='StartDateFrom' value='" + StartDateFrom + "' >" +
            "<input type='hidden' name='StartDateTo' value='" + StartDateTo + "' >";
           
            $('#loader-wrapper').show();
            $('body').prepend("<form method='post' action='/ItemSubsDelivery/DownloadExcel' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
            $('#tempForm').submit();
            $("tempForm").remove();
            setTimeout(function () {
                $('#loader-wrapper').hide();
            }, 5000);
        }

    });

    $("#Pdf").click(function () {

        var Valid = true;
        var NameofItem = $('#txtNameofItem').val();
        var ItemType = $('#ItemType').val();
        var Language = $('#Language').val();
        var StartDateFrom = $('#txtDeliveryDateFrom').val();
        var StartDateTo = $('#txtDeliveryDateTo').val();

        if (StartDateFrom != '') {
            if (StartDateTo == '') {
                var dlg = bootbox.alert('Please Fill Delivery Date To ', function (e) {

                    $(dlg).modal('hide');
                });

                Valid = false;
            }
        }
        if (StartDateTo != '') {
            if (StartDateFrom == '') {
                var dlg = bootbox.alert('Please Fill Delivery Date From ', function (e) {

                    $(dlg).modal('hide');
                });

                Valid = false;
            }
        }
        if (StartDateFrom != '' && StartDateTo != '')
        {
            var From = new Date(StartDateFrom);
            var To = new Date(StartDateTo);
            if (From > To)
            {
                var dlg = bootbox.alert('Delivery Date From cant be greate than Delivery Date To ', function (e) {

                    $(dlg).modal('hide');
                });

                Valid = false;
            }
        }
       
        if (Valid == true) {

            var ss = "<input type='hidden' name='NameofItem' value='" + NameofItem + "' >" +
            "<input type='hidden' name='ItemType' value='" + ItemType + "' >" +
             "<input type='hidden' name='Language' value='" + Language + "' >" +
            "<input type='hidden' name='StartDateFrom' value='" + StartDateFrom + "' >" +
            "<input type='hidden' name='StartDateTo' value='" + StartDateTo + "' >";
            $('#loader-wrapper').show();
            $('body').prepend("<form method='post' action='/ItemSubsDelivery/DownloadPdf' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
            $('#tempForm').submit();
            $("tempForm").remove();
            setTimeout(function () {
                $('#loader-wrapper').hide();
            }, 5000);
        }
    });
</script>

