﻿@model SBL.DomainModel.Models.Notice.tMemberNotice
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}




@Html.Partial("_LeftNavigationMenu", Model)

<div class="main-content">

@* @Html.Partial("_BreadcrumbsPartial")*@


    <div class="page-content">
        <h1 style="color:red;">You are not an authorized user for constituency related work for help. Please contact eVidhan:- 0177-2881-260,0177-2881-261</h1>
        @* <div style="color:red,"></div>*@
      @*  <div class="row">
            <div class="two-column">
                <div id="resize-left">
                    <div class="col-xs-12">
                        <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
                        <div id="divDataContainer" style="width: 100%;">
                              
                        </div>
                    </div>
                </div>
               
                <div id="resize-right">
                    <div class="col-xs-12">
                        <div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>
                        <div id="RightSidebar" style="width: 100%;">
                        </div>
                          <div id="FormPart" style="width:100%;height:100%">
                                
                  </div>
                    </div>
                </div>
            </div>
        </div>*@

      
       
           
        </div>
    </div>






