﻿@model IEnumerable<SBL.DomainModel.Models.LibraryVS.VsLibraryBulletin>
@{int count = 0;}

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="pass-table">
            @if (Model != null)
            {
                if (Model.Count() > 0)
                {
                       
                <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">No</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Title</th>
                            <th class="center sorting" role="columnheader" rowspan="1" colspan="1" aria-label="">Session</th>
                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Assembly</th>
                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Start Date</th>
                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">End Date</th>
                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Building</th>
                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Floor</th>
                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Almirah</th>
                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Rack</th>
                            
                        </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        @foreach (var item in Model)
                        {
                            count = count + 1;
                               
                            <tr>
                                <td class="center">
                                    @count
                                </td>
                                <td>@item.Title</td>
                                <td>@item.Session</td>
                                <td>
                                    @item.Assembly
                                </td>
                                <td>@item.StartDate</td>
                                <td>@item.EndDate</td>
                                <td>@item.Building</td>
                                <td>@item.Floor</td>
                                <td>@item.Almirah</td>
                                <td>@item.Rack</td>
                            </tr>
                        }

                    </tbody>
                </table>
                <!-- PAGE CONTENT ENDS -->
                }
                else
                {
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-info">
                            <strong>There are no Contents,With This Criteria</strong><br />
                        </div>
                    </div>
                </div>
                }
            }

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
 
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2').dataTable();
    })
</script>