﻿@model SBL.DomainModel.Models.LibraryVS.VsLibraryBulletin
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li class="active">Search Bulletin</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>Search Bulletin                               
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Search Bulletin with any criteria
                </small>
            </h1>
        </div>
        <div class="row" id="SearchCreteria">

<div class="col-xs-12"> <!-- PAGE CONTENT BEGINS -->
@using (Ajax.BeginForm("SearchBulletin", "BulletinInformation", FormMethod.Post, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "OnSuccess(data)", LoadingElementId = "loader-wrapper", OnComplete = "OnComplete()", UpdateTargetId = "SearchDiv" }, new { @class = "form-horizontal", @role = "form", id = "SearchBulletinForm" }))
{ 
<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Title </label>

	<div class="col-sm-9">
        @Html.TextBoxFor(m => m.Title, new { @id = "Title", @class="col-xs-10 col-sm-5", @placeholder="Title"})
	</div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Assembly </label>

	<div class="col-sm-9">
        @Html.TextBoxFor(m => m.Assembly, new { @id = "Assembly", @class="col-xs-10 col-sm-5", @placeholder="Assembly" })
	</div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Session </label>

	<div class="col-sm-9">
        @Html.TextBoxFor(m => m.Session, new { @id = "Session", @class="col-xs-10 col-sm-5", @placeholder="Session" })
	</div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Start Date </label>

	<div class="col-sm-9">
        @Html.TextBoxFor(m => m.StartDate, new { @id = "StartDate", @class="col-xs-10 col-sm-5", @placeholder="Start Date" })
	</div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> End Date </label>

	<div class="col-sm-9">
        @Html.TextBoxFor(m => m.EndDate, new { @id = "EndDate", @class="col-xs-10 col-sm-5", @placeholder="End Date" })
	</div>
</div>

<div class="clearfix form-actions">
	<div class="col-xs-offset-3 col-xs-9 col-md-offset-3 col-md-9">
        <button class="btn btn-info" type="submit" name="ButtonType" value="Search" onclick="return Check();" id="SearchButton">
            <i class="ace-icon fa fa-check bigger-110"></i>
            Search
        </button>
	</div>
</div>	

}
   							
</div> <!-- PAGE CONTENT ENDS -->




            @*<div class="col-sm-12">
                @using (Ajax.BeginForm("SearchBulletin", "BulletinInformation", FormMethod.Post, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "OnSuccess(data)", LoadingElementId = "loader-wrapper", OnComplete = "OnComplete()", UpdateTargetId = "SearchDiv" }, new { @class = "form-horizontal", @role = "form", id = "SearchBulletinForm" }))
                {   
                    <table style="margin: 0 1%">
                        <tr>
                            <td class="row blue" style="padding: 0 1%;">Title</td>
                            <td>@Html.TextBoxFor(m => m.Title, new { @id = "Title"})</td>
                        </tr>
                        <tr>
                            <td class="row blue" style="padding: 0 1%;">Assembly</td>
                            <td>@Html.TextBoxFor(m => m.Assembly, new { @id = "Assembly" })</td>
                        </tr>
                        <tr>
                            <td class="row blue" style="padding: 0 1%;">Session</td>
                            <td>@Html.TextBoxFor(m => m.Session, new { @id = "Session" })</td>
                        </tr>
                        <tr>
                            <td class="row blue" style="padding: 0 1%;">Start Date</td>
                            <td>@Html.TextBoxFor(m => m.StartDate, new { @id = "StartDate" })</td>
                        </tr>
                        <tr>
                            <td class="row blue" style="padding: 0 1%;">End Date</td>
                            <td>@Html.TextBoxFor(m => m.EndDate, new { @id = "EndDate" })</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button class="btn btn-info" type="submit" name="ButtonType" value="Search" onclick="return Check();" id="SearchButton">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    Search
                                </button>
                            </td>
                        </tr>
                    </table>
                }
            </div>*@
        </div>
        <div id="SearchDiv"></div>
        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div>
</div>
    <link href="~/assets/css/datepicker.css" rel="stylesheet" />
    <script src="~/assets/js/CommonNotify.js"></script>
    <script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/bootbox.min.js"></script>
    <script>
        function Check() {
            var a = $('#Session').val();
            var b = $('#Assembly').val();
            var c = $('#StartDate').val();
            var d = $('#EndDate').val();
            var g = $('#Title').val();

            if (isNaN(a)) {
                ShowNotification("error", "Please fill Numbers in Session");
                return false;
            }
            if (isNaN(b)) {
                ShowNotification("error", "Please fill Numbers in Assembly");
                return false;
            }
            if (a == "" && b == "" && c == "" && d == "" && g == "") {
                ShowNotification("error", "Please fill Atleast one criteria");
                return false;
            }
        }

        $(document).ready(function () {
            $('#StartDate').datepicker({
                autoclose: true,
                todayHighlight: true,
                format: "dd/mm/yyyy"
            }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
                $(this).prev().focus();
            });
            $('#EndDate').datepicker({
                autoclose: true,
                todayHighlight: true,
                format: "dd/mm/yyyy"
            }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
                $(this).prev().focus();
            });
        });

        function OnSuccess(data) {
            if (data == "3null") {
                ShowNotification("error", "Bulletin Does not exist for given Criteria...Please change and try again");
                $("#SearchDiv").css("display", "none");
                $("#SearchCreteria").css("display", "Block");
            }
            else {
                $("#SearchCreteria").css("display", "none");                
            }
            
        }
        function OnComplete(data) {
            
            $("#loader-wrapper").hide();
            if (result != "3null") {                
                $("#SearchDiv").css("display", "block");
            }
        }
    </script>

<script>
    function changeStyle() {
        if (window.innerWidth <= 768) {
            $("#Title").attr("placeholder", "Title");
            $("#Assembly").attr("placeholder", "Assembly");
            $("#Session").attr("placeholder", "Session");
            $("#StartDate").attr("placeholder", "Start Date");
            $("#EndDate").attr("placeholder", "End Date");
            $(".control-label").css("display", "none");
        } else {
            $("input[type='text']").attr("placeholder", "");
            $(".control-label").css({ "display": "block", "color": "#438eb9" });
        }
    }
    window.onresize = changeStyle;
    changeStyle();
</script>






