﻿@model SBL.DomainModel.Models.LibraryVS.VsLibraryBulletin
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li class="active">Update Bulletin</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>Update Bulletin                               
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Search Bulletin For Updation
                </small>
            </h1>
        </div>

        <div class="row">

            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                @using (Ajax.BeginForm("SearchBulletinForUpdate", "BulletinInformation", FormMethod.Post, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "OnSuccess(data)", LoadingElementId = "loader-wrapper", OnComplete = "OnComplete()", UpdateTargetId = "BulletinInfoList" }, new { @class = "form-horizontal", @role = "form", id = "UpdateBulletinForm" }))
                {   
                    <div class="row" id="SearchCreteria">
                        @Html.HiddenFor(m => m.SerialNumber)

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right mhide" for="form-field-1">Assembly </label>

                            <div class="col-xs-12 col-sm-9">
                                @Html.TextBoxFor(m => m.Assembly, new { @id = "Assembly", @class = "IsnumericClass col-xs-12 col-sm-5", @placeholder = "Assembly" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right mhide" for="form-field-1">Session </label>

                            <div class="col-xs-12 col-sm-9">
                                @Html.TextBoxFor(m => m.Session, new { @id = "Session", @class = "IsnumericClass col-xs-12 col-sm-5", @placeholder = "Session" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right mhide" for="form-field-1">Start Date </label>

                            <div class="col-xs-12 col-sm-9">
                                @Html.TextBoxFor(m => m.StartDate, new { @id = "StartDate", @class = "col-xs-12 col-sm-5", @placeholder = "Start Date" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right mhide" for="form-field-1">End Date </label>

                            <div class="col-xs-12 col-sm-9">
                                @Html.TextBoxFor(m => m.EndDate, new { @id = "EndDate", @class = "col-xs-12 col-sm-5", @placeholder = "End Date" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right mhide" for="form-field-1">Building </label>

                            <div class="col-xs-12 col-sm-9">
                                @Html.TextBoxFor(m => m.Building, new { @id = "Building", @class = "col-xs-12 col-sm-5", @placeholder = "Building" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right mhide" for="form-field-1">Floor </label>

                            <div class="col-xs-12 col-sm-9">
                                @Html.TextBoxFor(m => m.Floor, new { @id = "Floor", @class = "col-xs-12 col-sm-5", @placeholder = "Floor" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right mhide" for="form-field-1">Almirah </label>

                            <div class="col-xs-12 col-sm-9">
                                @Html.TextBoxFor(m => m.Almirah, new { @id = "Almirah", @class = "col-xs-12 col-sm-5", @placeholder = "Almirah" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-xs-2 col-sm-3 control-label" for="radio">Rack </label>

                            <div class="col-xs-8 col-sm-9">
                                <div class="radio">
                                    <label>
                                        @Html.RadioButtonFor(model => model.Rack, "1", new { @class = "ace" })
                                        <span class="lbl" style="font-weight: bold;">1</span>
                                    </label>
                                    <label>
                                        @Html.RadioButtonFor(model => model.Rack, "2", new { @class = "ace" })
                                        <span class="lbl" style="font-weight: bold;">2</span>
                                    </label>
                                    <label>
                                        @Html.RadioButtonFor(model => model.Rack, "3", new { @class = "ace" })
                                        <span class="lbl" style="font-weight: bold;">3</span>
                                    </label>
                                    <label>
                                        @Html.RadioButtonFor(model => model.Rack, "4", new { @class = "ace" })
                                        <span class="lbl" style="font-weight: bold;">4</span>
                                    </label>
                                    <label>
                                        @Html.RadioButtonFor(model => model.Rack, "5", new { @class = "ace" })
                                        <span class="lbl" style="font-weight: bold;">5</span>
                                    </label>
                                </div>
                            </div>
                        </div>



                        <div class="clearfix form-actions">
                            <div class="col-xs-offset-3 col-xs-9 col-md-offset-3 col-md-9">
                                <button class="btn btn-info pull-rigtht" type="submit" name="ButtonType" value="Search" id="SearchButton">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    Search
                                </button>
                                <button class="btn btn-info" type="submit" name="ButtonType" value="update" onclick="return Check();" id="UpdateButton" style="display: none">
                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                    Update
                                </button>
                            </div>
                        </div>

                    </div>     
                    <div id="BulletinInfoList" style="display: none"></div>               
                }
            </div>
            <!-- PAGE CONTENT ENDS -->







            @*<div class="col-sm-12">
                @using (Ajax.BeginForm("SearchBulletinForUpdate", "BulletinInformation", FormMethod.Post, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "OnSuccess(data)", LoadingElementId = "loader-wrapper", OnComplete = "OnComplete()", UpdateTargetId = "BulletinInfoList" }, new { @class = "form-horizontal", @role = "form", id = "UpdateBulletinForm" }))
                {   
                    <div class="row" id="SearchCreteria">
                        @Html.HiddenFor(m => m.SerialNumber)
                        <table style="margin: 0 1%">
                            <tr>
                                <td class="row blue" style="padding: 0 1%;">Assembly</td>
                                <td>@Html.TextBoxFor(m => m.Assembly, new { @id = "Assembly", @class = "IsnumericClass" })</td>
                            </tr>
                            <tr>
                                <td class="row blue" style="padding: 0 1%;">Session</td>
                                <td>@Html.TextBoxFor(m => m.Session, new { @id = "Session", @class = "IsnumericClass" })</td>
                            </tr>

                            <tr>
                                <td class="row blue" style="padding: 0 1%;">Start Date</td>
                                <td>@Html.TextBoxFor(m => m.StartDate, new { @id = "StartDate" })</td>
                            </tr>

                            <tr>
                                <td class="row blue" style="padding: 0 1%;">End Date</td>
                                <td>@Html.TextBoxFor(m => m.EndDate, new { @id = "EndDate" })</td>
                            </tr>
                            <tr>
                                <td class="row blue" style="padding: 0 1%;">Building</td>
                                <td>@Html.TextBoxFor(m => m.Building)</td>
                            </tr>
                            <tr>
                                <td class="row blue" style="padding: 0 1%;">Floor</td>
                                <td>@Html.TextBoxFor(m => m.Floor)</td>
                            </tr>
                            <tr>
                                <td class="row blue" style="padding: 0 1%;">Almirah</td>
                                <td>@Html.TextBoxFor(m => m.Almirah)</td>
                            </tr>
                            <tr>
                                <td class="row blue" style="padding: 0 1%;">Rack</td>
                                <td>
                                    @Html.RadioButtonFor(model => model.Rack, "1") 1
                            @Html.RadioButtonFor(model => model.Rack, "2") 2
                            @Html.RadioButtonFor(model => model.Rack, "3") 3
                            @Html.RadioButtonFor(model => model.Rack, "4") 4
                            @Html.RadioButtonFor(model => model.Rack, "5") 5
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <button class="btn btn-info" type="submit" name="ButtonType" value="Search" id="SearchButton">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Search
                                    </button>
                                    <button class="btn btn-info" type="submit" name="ButtonType" value="update" onclick="return Check();" id="UpdateButton" style="display: none">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Update
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>     
                    <div id="BulletinInfoList" style="display: none"></div>               
                }
            </div>*@
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
@using (Ajax.BeginForm("SearchBulletinForUpdate", "BulletinInformation", FormMethod.Post, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "OnUpdateSuccess(data)", LoadingElementId = "loader-wrapper", OnComplete = "OnComplete()", UpdateTargetId = "BulletinInfoList" }, new { @class = "form-horizontal", @role = "form", id = "AddBulletinForm" }))
{   
    <div class="modal" id="updatediv"></div>
}
<link href="~/assets/css/datepicker.css" rel="stylesheet" />
<script src="~/assets/js/CommonNotify.js"></script>
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script>
    function Check() {
        var a = $('#Session').val();
        var b = $('#Assembly').val();
        var c = $('#StartDate').val();
        var d = $('#EndDate').val();
        var e = $('#Building').val();
        var f = $('#Floor').val();
        var g = $('#Almirah').val();

        if (isNaN(a)) {
            ShowNotification("error", "Please fill Numbers in Session");
            return false;
        }
        if (isNaN(b)) {
            ShowNotification("error", "Please fill Numbers in Assembly");
            return false;
        }
        if (a == "") {
            ShowNotification("error", "Please fill Session");
            return false;
        }
        if (b == "") {
            ShowNotification("error", "Please fill Assembly");
            return false;
        }
        if (c == "") {
            ShowNotification("error", "Please fill Start Date");
            return false;
        }
        if (d == "") {
            ShowNotification("error", "Please fill End Date");
            return false;
        }
        if (e == "") {
            ShowNotification("error", "Please fill Building");
            return false;
        }
        if (f == "") {
            ShowNotification("error", "Please fill Floor");
            return false;
        }
        if (g == "") {
            ShowNotification("error", "Please fill Almirah");
            return false;
        }
        if (a.length > 2) {
            ShowNotification("error", "Max length of Session is 2");
            $("#Session").focus();
        }
        if (b.length > 2) {
            ShowNotification("error", "Max length of assembly is 2");
            $("#Assembly").focus();
        }
    }

    function AssemblyCheck() {
        var c = $("#Assembly").val();
        if (c.length > 2) {
            ShowNotification("error", "Max length of assembly is 2");
            $("#Assembly").focus();
        }
        if (c == 0) {
            ShowNotification("error", "Please Enter Valid Assembly");
            $("#Assembly").focus();
        }

    }

    function SessionCheck() {
        var c = $("#Session").val();
        if (c.length > 2) {
            ShowNotification("error", "Max length of Session is 2");
            $("#Session").focus();
        }
        if (c == 0) {
            ShowNotification("error", "Please Enter Valid Session");
            $("#Session").focus();
        }
    }

    $(document).ready(function () {
        $('#StartDate').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });
        $('#EndDate').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });

        $('.IsnumericClass').keypress(function (e) {
            var key = (e.which) ? e.which : e.keyCode;
            if ((key >= 48 && key <= 57) || (key == 44) || (key == 8)) {

                return true;
            }
            else {
                return false;
            }
        });
    });

    function OnUpdateSuccess(data) {
        if (data == "3UpdateSuccess") {
            $("#updatediv").modal('hide');
            ShowNotification("success", "Data Updated successfully");
            $("#UpdateBulletinForm").submit();
            $("#BulletinInfoList").css("display", "block");
            $("#SearchCreteria").css("display", "none");
        }
        if (data == "SessionExists") {
            ShowNotification("error", "Session Already Exsists");
            $("#BulletinInfoList").css("display", "none");
        }
    }

    function OnSuccess(data) {

        var result = $("#BulletinInfoList").text();

        if (result == "2null") {
            ShowNotification("error", "Please fill required fields");
            $("#BulletinInfoList").css("display", "none");
            $("#SearchCreteria").css("display", "block");
        }
        else if (result == "3null") {
            ShowNotification("error", "Bulletin Does not exist");
            $("#BulletinInfoList").css("display", "none");
            $("#SearchCreteria").css("display", "block");
        }
        else if (result == "3UpdateSuccess") {
            ShowNotification("success", "Bulletin Updated Successfully");
        } else if (result != null) {
            $("#BulletinInfoList").css("display", "block");
            $("#SearchCreteria").css("display", "none");
            $("#BulletinInfoList").empty();
            $("#BulletinInfoList").append(data);
        }
    }
    function OnComplete(data) {
        $("#loader-wrapper").hide();
    }
</script>

<script>
    function changeStyle() {
        if (window.innerWidth <= 768) {
            $("#Assembly").attr("placeholder", "Assembly");
            $("#Session").attr("placeholder", "Session");
            $("#StartDate").attr("placeholder", "Start Date");
            $("#EndDate").attr("placeholder", "End Date");
            $("#Building").attr("placeholder", "Building");
            $("#Floor").attr("placeholder", "Floor");
            $("#Almirah").attr("placeholder", "Almirah");
            $(".mhide").css("display", "none");
        } else {
            $("input[type='text']").attr("placeholder", "");
            $(".control-label, .mhide").css({ "display": "block", "color": "#438eb9" });
        }
    }
    window.onresize = changeStyle;
    changeStyle();
</script>


