﻿@model SBL.DomainModel.Models.LibraryVS.VsLibraryBulletin
@{
    ViewBag.Title = "AddBulletinInfoPage";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}
@Html.Partial("_LeftMenu")

<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li class="active">Add Bulletin</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>Add Bulletin                               
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    New Bulletin
                </small>
            </h1>
            <span class="label label-large" style="float: right">@ViewBag.SaveData</span>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                @using (Ajax.BeginForm("SaveBulletinInfo", "BulletinInformation", FormMethod.Post, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "OnSuccess()", LoadingElementId = "loader-wrapper", OnComplete = "OnComplete()", UpdateTargetId = "updatediv" }, new { @class = "form-horizontal", @role = "form", id = "AddBulletinForm" }))
                {
                    <div class="row" style="padding: 0 1%;">
                        <h5 class="widget-title">
                            <i class="ace-icon fa fa-pencil-square-o"></i>
                            Add Bulletin Info
                        </h5>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Assembly </label>

                        <div class="col-sm-9">
                            @*@Html.TextBoxFor(m => m.Assembly, new { onblur = "AssemblyCheck();", @id = "Assembly", @class = "col-xs-10 col-sm-5", @placeholder = "Assembly" })<sup class="red">*</sup>*@
                        @Html.DropDownListFor(model => model.Assembly, new SelectList(Model.assemblylist, "AssemblyCode", "AssemblyName", new SelectListItem { Value = "0", Text = "Select Assembly" }), new { @class = "col-xs-10 col-sm-5", @onchange = "AssemblyChange(this)", @id = "assemblyLst" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Session </label>

                        <div class="col-sm-9">
                             @Html.DropDownListFor(model => model.Session, new SelectList(Model.sessionlist, "SessionCode", "SessionName", new SelectListItem { Value = "0", Text = "Select Session" }), new { @class = "col-xs-10 col-sm-5", @onchange = "SessionChange(this)", @id = "sessionLst" })
                           @* @Html.TextBoxFor(m => m.Session, new { onblur = "SessionCheck();", @id = "Session", @class = "col-xs-10 col-sm-5", @placeholder = "Assembly" })<sup class="red">*</sup>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Title </label>

                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Title, new { @Value = "Himachal Pradesh Vidhan Sabha Assembly Bulletin", @id = "Title", @class = "col-xs-10 col-sm-5", @placeholder = "Title" })<sup class="red">*</sup>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Start Date </label>

                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.StartDate, new { @id = "StartDate", @class = "col-xs-10 col-sm-5", @placeholder = "Start Date" })<sup class="red">*</sup>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">End Date </label>

                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.EndDate, new { @id = "EndDate", @class = "col-xs-10 col-sm-5", @placeholder = "End Date" })<sup class="red">*</sup>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Building </label>

                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Building, new { @id = "Building", @class = "col-xs-10 col-sm-5", @placeholder = "Building" })<sup class="red">*</sup>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Floor </label>

                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Floor, new { @id = "Floor", @class = "col-xs-10 col-sm-5", @placeholder = "Floor" })<sup class="red">*</sup>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Almirah </label>

                        <div class="col-sm-9">
                            @Html.TextBoxFor(m => m.Almirah, new { @id = "Almirah", @class = "col-xs-10 col-sm-5", @placeholder = "Almirah" })<sup class="red">*</sup>
                        </div>
                    </div>    
    
                    <div class="form-group">
                        <label class="col-xs-2 col-sm-3 control-label" for="radio">Rack </label>

                        <div class="col-xs-8 col-sm-9">
                            <div class="radio">
                                <label>
                                    @Html.RadioButtonFor(model => model.Rack, "1", new { @class = "ace" })
                                    <span class="lbl" style="font-weight: bold;">1</span>
                                </label>
                                <label>
                                    @Html.RadioButtonFor(model => model.Rack, "2", new { @class = "ace" })
                                    <span class="lbl" style="font-weight: bold;">2</span>
                                </label>
                                <label>
                                    @Html.RadioButtonFor(model => model.Rack, "3", new { @class = "ace" })
                                    <span class="lbl" style="font-weight: bold;">3</span>
                                </label>
                                <label>
                                    @Html.RadioButtonFor(model => model.Rack, "4", new { @class = "ace" })
                                    <span class="lbl" style="font-weight: bold;">4</span>
                                </label>
                                <label>
                                    @Html.RadioButtonFor(model => model.Rack, "5", new { @class = "ace" })
                                    <span class="lbl" style="font-weight: bold;">5</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix form-actions">
                        <div class="col-xs-offset-3 col-xs-9 col-md-offset-3 col-md-9">
                            <button class="btn btn-info" type="submit" onclick="return Check();">
                                <i class="ace-icon fa fa-check bigger-110"></i>
                                Submit
                            </button>
                        </div>
                    </div>

                }
            </div>
            <!-- PAGE CONTENT ENDS -->
        </div>
    </div>
    <div id="updatediv" style="display: none"></div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<link href="~/assets/css/datepicker.css" rel="stylesheet" />
<script src="~/assets/js/CommonNotify.js"></script>
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script>

    function AssemblyChange() {

        var AssemblyId = $("#assemblyLst option:selected").val();// document.getElementById("AssemblyCode").value;
        // alert(AssemblyId);
        $.ajaxSetup({ cache: false });
        var path = '@Url.Action("ChangeAssembly", "Speech", new { Area="Admin"})';
         // alert(path);
        $.ajax({
            url: path,
            type: 'GET',
            data: {
                assemblyId: AssemblyId
            },
            success: function (data) {
                var session = "<option value='0'> Select </option>";
                for (var x = 0; x < data.length; x++) {
                    session += "<option value=" + data[x].SessionCode + ">" + data[x].SessionName + "</option>";
                }
                $("#sessionLst").html(session).show();

               // var sessiondate = "<option value='0'> Select </option>";
                //$("#sessionDateLst").html(sessiondate).show();

                // $("#DetailsList").empty();
                //cl2.hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    function SessionChange() {
        var SessionId = $("#sessionLst option:selected").val();
        var AssemblyId = $("#assemblyLst option:selected").val();
        var path = '@Url.Action("SessionStartAndEndDate", "Speech", new { Area="Admin"})';

        $.ajaxSetup({ cache: false });
        $.ajax({
            url: path,
            type: 'GET',
            data: {
                AssemblyId: AssemblyId,
                SessionId: SessionId
            },
            success: function (data) {
                $("#StartDate").val(data.StartDate);
                $("#EndDate").val(data.EndDate);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    function Check() {
        var a = $('#Session').val();
        var b = $('#Assembly').val();
        var c = $('#StartDate').val();
        var d = $('#EndDate').val();
        var e = $('#Building').val();
        var f = $('#Floor').val();
        var g = $('#Almirah').val();
        var h = $('#Title').val();
        //if (isNaN(a)) {
        //    ShowNotification("error", "Please fill Numbers in Session");
        //    return false;
        //}
        //if (isNaN(b)) {
        //    ShowNotification("error", "Please fill Numbers in Assembly");
        //    return false;
        //}
        if (a == "") {
            ShowNotification("error", "Please fill Session");
            return false;
        }
        if (b == "") {
            ShowNotification("error", "Please fill Assembly");
            return false;
        }
        if (c == "") {
            ShowNotification("error", "Please fill Start Date");
            return false;
        }
        if (d == "") {
            ShowNotification("error", "Please fill End Date");
            return false;
        }
        if (e == "") {
            ShowNotification("error", "Please fill Building");
            return false;
        }
        if (f == "") {
            ShowNotification("error", "Please fill Floor");
            return false;
        }
        if (g == "") {
            ShowNotification("error", "Please fill Almirah");
            return false;
        }
        //if (a.length > 2) {
        //    ShowNotification("error", "Max length of Session is 2");
        //    $("#Session").focus();
        //    return false;
        //}
        //if (b.length > 2) {
        //    ShowNotification("error", "Max length of assembly is 2");
        //    $("#Assembly").focus();
        //    return false;
        //}
        if (h == "") {
            ShowNotification("error", "Please fill Title");
            return false;
        }
    }

    function AssemblyCheck() {
        var c = $("#Assembly").val();
        if (c.length > 2) {
            ShowNotification("error", "Max length of assembly is 2");
            $("#Assembly").focus();
        }
        if (c == 0) {
            ShowNotification("error", "Please Enter Valid Assembly");
            $("#Assembly").focus();
        }

    }

    function SessionCheck() {
        var c = $("#Session").val();
        if (c.length > 2) {
            ShowNotification("error", "Max length of Session is 2");
            $("#Session").focus();
        }
        if (c == 0) {
            ShowNotification("error", "Please Enter Valid Session");
            $("#Session").focus();
        }
    }

    $(document).ready(function () {

       // $("#StartDate").val(Model.sessionlist[0].StartDate);
        //$("#EndDate").val(Model.sessionlist[0].EndDate);
        //left menu code
        $("#menuReportsAndDebates").addClass("active open");
        $("#subMenuReportsAndDebates").addClass("nav-show").css("display", "block");
        $("#subSubBulletinInfo").addClass("active");
        $("#subSubAddBulletinInfoPage").addClass("active");

        $("#Title").html("Himachal Pradesh Vidhan Sabha Assembly Bulletin");
        $('#StartDate').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });
        $('#EndDate').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });
    });

    function OnSuccess() {
        var result = $("#updatediv").text();

        if (result == 0) {
            ShowNotification("error", "Bulletin exists for selected session");
        }
        else if (result == 1) {
            ShowNotification("success", "Bulletin added Successfully");
        }
        else if (result == 2) {
            ShowNotification("error", "Please fill required fields");
        }

    }
    function OnComplete() {
        $("#loader-wrapper").hide();
    }
</script>

<script>
    function changeStyle() {
        if (window.innerWidth <= 768) {
            $("#Title").attr("placeholder", "Title");
            $("#Assembly").attr("placeholder", "Assembly");
            $("#Session").attr("placeholder", "Session");
            $("#StartDate").attr("placeholder", "Start Date");
            $("#EndDate").attr("placeholder", "End Date");
            $("#Building").attr("placeholder", "Building");
            $("#Floor").attr("placeholder", "Floor");
            $("#Almirah").attr("placeholder", "Almirah");
            $(".control-label").css("display", "none");
        } else {
            $("input[type='text']").attr("placeholder", "");
            $(".control-label").css({ "display": "block", "color": "#438eb9" });
        }
    }
    window.onresize = changeStyle;
    changeStyle();
</script>

