﻿@model  List<SBL.DomainModel.Models.JobsPosting.EvidhanPost>

<!-- /section:basics/content.breadcrumbs -->
<div class="page-content">
    <!-- #section:settings.box -->

    <!-- /section:settings.box -->
    <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
        <button class="btn  btn-sm btn-info" onclick="PopulatePost(0,'Add');">
            <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
            <span class="bigger-110">@Resources.MasterDataDashboard.New</span>
        </button>
    </div>
    <div class="page-header">
        <h1>Post in Vidhan Sabha</h1>
    </div>
    <div id="Menu">
        @*<div class="">
            <div class="col-md-6">

                <div class="form-group">
                    <label class="control-label" for="FinancialYear"><b>Select Financial Year</b> </label>
                    @Html.DropDownList("FinacialYear", (SelectList)ViewBag.FinancialYearList, new { @class = "col-md-11" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="space-12"></div>
                    <button class="btn btn-sm btn-primary btn-bold" id="btnSearch" onclick="GetBudgetMapWithDesigByFinancialYear()">
                        <span class="bigger-110">Search</span>
                    </button>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <div id="dataDiv">
                    @{Html.RenderPartial("~/Areas/Accounts/Views/EvidhanPost/_PostBillList.cshtml", Model);}
                </div>
                <input type="hidden" value="@ViewBag.edit" id="EditOrNot"/>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.page-content -->
</div>
<!-- /.main-content -->


@*<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>

    <div class="space-6"></div>
</div>*@


<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script type="text/javascript">

    function PopulatePost(Id, Mode) {
        $.ajax({
            type: "POST",
            url: '/Accounts/EvidhanPost/PopulateNewPost',
            data: '{ Id: "' + Id + '",Mode: "' + Mode + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#PostTypeDiv').empty();
                $('#PostTypeDiv').append(result);
                $('#EPostTypeModel').modal('show');
            },
            error: function (error) {
                $('#PostTypeDiv').empty();
                $('#PostTypeDiv').append(error.responseText);
                $('#EPostTypeModel').modal('show');

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);
            }
        });
    }


    function SavePostDetails() {
        debugger;
        var IsValid = true;
        $('.ErrorMessage').remove('');
        if ($('#PostName').val() == '') {
            $('#PostName').after("<span class='ErrorMessage'>Please fill value.</span>");
            $("#PostName").css("border", "1px solid red");
            IsValid = false;
        }
        var PostName = $("#PostName").val();
        var PostStatus = $("#PostStatus").val();
        var Mode = $("#Mode").val();
        var PostId = $("#PostId").val();
        //alert(EditOrNot);
        if (IsValid == true) {

            $.ajax({
                type: "POST",
                url: '/Accounts/EvidhanPost/SavePost',
                data: '{ PostName: "' + PostName + '", PostStatus: "' + PostStatus + '", Mode: "' + Mode + '", PostId: "' + PostId + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#dataDiv').empty();
                    $('#dataDiv').append(result);
                },
                error: function (error) {
                    $('#dataDiv').empty();
                    $('#dataDiv').append(error.responseText);

                },
                complete: function (results) {
                    $('#loader-wrapper').hide();
                    $('#EPostTypeModel').modal('hide');
                }
            });
        }
    }

</script>
<!--Populate  Post Type Details -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="EPostTypeModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="PostDetailsTitle">Post details </h4>
            </div>
            <form method="post" action="/Controller/Action" id="PostTypeForm">
                <div class="modal-body">
                    <div id="PostTypeDiv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="PostDetailsBill" onclick="SavePostDetails()" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
