﻿@model SBL.DomainModel.Models.eFile.eFileListAll





@{  int count = 0;
	if (ViewBag.CurrentPage > 1)
	{

		count = (ViewBag.PageSize * (ViewBag.CurrentPage - 1));
	}
}




<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->

		<div class="pass-table">
			@if (Model.eFileLists != null)
   {
	   if (Model.eFileLists.Count() > 0)
	   {
				<div class="" style="position: absolute; margin-top: 56px; margin-left: 5px;">
					<label>Display</label>
					<select size="1" name="PageSize" id="PazeSize">
						<option value="25" selected="selected">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
						<option value="200">200</option>
					</select>
					<label>Records</label>
				</div>
				<div class="table-header">
					<span class="label label-lg label-yellow arrowed-right" style="height: 24px; font-weight: bold; font-size: 14px;">eFile</span> ( List )  
				</div>        
				<table class="table table-bordered  dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
					<thead>
						<tr role="row">
							@if (ViewBag.CommAttach == "CommitteeAttach")
	   {
								<th class="center sorting_disabled">
									<input type="checkbox" class="chkList" id="chkSelAll" /></th>
							
	   }
							<th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">S#</th>
							<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">eFile Number</th>
							<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Subject</th>

							<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Department</th>
							<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Fin Year</th>
							@if (ViewBag.Mode != "Committee")
	   {
								<th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Add Noting</th>
								<th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Paper</th>
								<th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Edit eFile</th>
								<th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Status</th>
								
	   }


	   else if (ViewBag.Mode == "Committee")
	   {
								<th>Paper to be Laid</th>
	   }

						</tr>
					</thead>
					<tbody role="alert" aria-live="polite" aria-relevant="all">
						@foreach (var item in Model.eFileLists)
	  {
		  string deptid = "d" + item.eFileID;
		  string ofcid = "of" + item.eFileID;
		  string efflNo = "eNo" + item.eFileID;
		  string subj = "sub" + item.eFileID;
		  string pre = "pre" + item.eFileID;
		  string fut = "fut" + item.eFileID;
		  count = count + 1;
		  string rowId = "eFiles" + item.eFileID;
		  
		  
								   
							<tr>
								@if (ViewBag.CommAttach == "CommitteeAttach")
		{
									<td>
										<input id='chk_@count' type="checkbox" class="chkp" name="@item.eFileID" onclick="AddToList(this.id, this.name)"/>
										@if (item.CommitteeId > 0)
		  {
											<a class="glyphicon glyphicon-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" onclick="getCommitteeAttached('@item.CommitteeId')" title="View Attached Committee Details" style="cursor:pointer"></a>
		  }
									</td>
			
		}
								<td class="hidden-sm hidden-xs action-button">@count</td>
								@if (ViewBag.CommAttach == "CommitteeAttach")
		{
									<td>
										<span style="border-radius: 5px; font-weight: bold; text-decoration: underline;">
											@item.eFileNumber</span>
									</td>

		}
		else
		{ 
									<td  id="@item.eFileID" onclick="getEFile(this.id)" style="cursor:pointer;">
										<span title="click to View" data-toggle="tooltip" data-placement="top" class="badge badge-yellow" style="border-radius: 5px; font-weight: bold; text-decoration: underline;">
											@item.eFileNumber</span></td>
		}
								@*E/@item.eFileID*@
								<td id="@subj">@item.eFileSubject</td>

								<td id="@deptid" >
									<span id="deptnameeFile" style="display: none">@item.Department</span>
									<span data-toggle="tooltip" data-placement="top" title="@item.Department">@item.DeptAbbr</span>

								</td>

								<td>@item.FromYear - @item.ToYear</td>

								@if (ViewBag.Mode != "Committee")
		{
			
									<td>
										@if (item.Status == true)
		  {
											<a  id="savebtnOpenFile" title="Add Noting" data-toggle="tooltip" style="cursor: pointer" onclick="AddNotingDet(@item.eFileID)">
												<i class="ace-icon fa fa-pencil-square-o bigger-200"></i>
											</a>
		  }

									</td>
									<td>
										@if (item.Status == true)
		  {
											<button style="margin: 1px;" class="btn btn-xs btn-danger" data-toggle="tooltip" title="Receive Paper" onclick="ReceivePaperFromEFile(@item.eFileID)">R</button>

											<button style="margin: 1px;" class="btn btn-xs btn-success" data-toggle="tooltip" title="Send Paper" onclick="SendPaperFromEFileList(@item.eFileID)">S</button>
		  }

									</td>
									 
									<td>
										@if (item.Status == true)
		  {
											<a class="green" onclick="EditeFile('@item.eFileID')" data-toggle="tooltip" title="Edit eFile" style="cursor:pointer">
												<i class="ace-icon fa fa-pencil bigger-200"></i>
											</a>
		  }
									</td>
			 
									<td>
										<div>
											@if (item.Status == true)
		   { <span class="label label-sm label-primary arrowed arrowed-right">Open</span>
												<a onclick="efileActiveDeactive('d',@item.eFileID)" data-toggle="tooltip" title="Closed eFile" style="cursor:pointer">click to Close</a>
		   }
		   else
		   {<span class="label label-sm label-primary arrowed arrowed-right">Closed</span>
												<a onclick="efileActiveDeactive('a',@item.eFileID)" data-toggle="tooltip" title="Open eFile" style="cursor:pointer">click to Open</a>
		   }
										</div>
									</td>
		}


		else if (ViewBag.Mode == "Committee")
		{<td>
			<a style="cursor: pointer" data-toggle="tooltip" title="click to View Paper list to be Laid"  onclick="DisplayModalIndexList('@item.eFileID','@item.eFileSubject','@item.eFileNumber');">View List</a>
		</td>
		}

							</tr>
									
	  }
					</tbody>
				</table>
				<!-- PAGER START -->
				<div>@{Html.RenderPartial("~/Areas/AccountsAdmin/Views/Shared/_Pager.cshtml");}</div>
				<!-- PAGER ENDS -->	 
				<!-- PAGE CONTENT ENDS -->
	   }
	   else
	   {
				<div class="row">
					<div class="col-xs-12">
						<div class="alert alert-info">

							<strong>No eFiles found!</strong><br />


						</div>
					</div>
				</div>
	   }
   }





		</div>

		<!-- /.col -->
	</div>
	<!-- /.row -->
</div>
<br />
@if (ViewBag.CommAttach == "CommitteeAttach")
{
	<button class="btn btn-sm btn-warning" onclick="openModalMul('','M')">
		<i class="glyphicon glyphicon-link bigger-110"></i>
		<span class="bigger-110 no-text-shadow">Attach eFile(s) to Committee</span>
	</button>
}
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dlgRecipientGroupModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content" style="width: 100%; margin-left: 30px;">
			<div class="modal-header">
				<h3>Attach eFile(s) to Committee </h3>
				<button type="button" class="close" data-dismiss="modal">
				</button>
			</div>
			<form method="post" id="DebateInfoForm">

				<div class="modal-body alert alert-block alert-success" style="height: 247px; overflow-y: scroll;">
					<input type="hidden" id="hdnefileattid" />
					<div class="col-xs-12 col-sm-12" id="divattachefile">
						@if (Model.CommitteeView != null)
	  {
							<div class="profile-info-row col-sm-12" id="divefile">
								<div class="pass-table">
									<div class="table-header">
										Committee List
									</div>
									<table class="table table-striped table-bordered table-hover dataTable" id="sample-table-3" aria-describedby="sample-table-2_info">
										<thead>
											<tr role="row">
												<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending"></th>
												<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.AssemblyName</th>
												<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.CommitteeTypeName</th>
												<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Committee</th>
												<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Date of creation</th>

											</tr>
										</thead>
										<tbody role="alert" aria-live="polite" aria-relevant="all">

											@if (Model.CommitteeView.Count > 0)
		   {
			   foreach (var item in Model.CommitteeView)
			   {
					
												<tr id="GetPreCommitte">
													<td>
														<input name="form-field-radio" type="radio" onclick="getefileid(this.id)"  id="@item.CommitteeId">
													</td>
													<td>@item.AssemblyName</td>
													<td>@item.CommitteeType</td>
													<td>@item.CommitteeName</td>

													<td>@Convert.ToDateTime(item.DateOfCreation).ToString("dd/MM/yyyy")</td>

													@*<td>
														<a  onclick="addeFile(@item.CommitteeId)" style="cursor:pointer">
															<img src="~/Content/img/eFile.png" width="25px" title="Add new eFile" /></a>
													</td>*@

												</tr>

			   }
		   }

										</tbody>
									</table>


								</div>
							</div>
	  }
	  else
	  {
							<div class="alert alert-block alert-danger" id="noefilemsg">
								<i class="ace-icon fa fa-check green"></i>
								No Committee Details Found. <strong class="green">
									<span>Create </span>
								</strong>New Committee to Attach.
							</div>
	  }
					</div>
				</div>
				<div class="modal-footer" style="margin-top: 0%; text-align: center;">

					@if (Model.CommitteeView != null)
	 {
						<button id="btnRecvMul" type="button" class="btn btn-app btn-purple btn-sm" onclick="AttachToeFileMultiple()" data-dismiss="modal">
							<i class="ace-icon fa fa-cloud-download bigger-200"></i>
							Attach
						</button>
	 }
					<button type="button" class="btn btn-app btn-danger btn-sm" data-dismiss="modal">
						<i class="ace-icon glyphicon glyphicon-remove bigger-200"></i>
						Close
					</button>

				</div>
			</form>
		</div>
	</div>
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dlgCommitteeDetails" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content" style="width: 100%; margin-left: 30px;">
			<div class="modal-header" style="height: 65px;">
				<h3>Committee Details </h3>
				<button type="button" class="close" data-dismiss="modal">
				</button>
			</div>
			<div id="divAttachedCommitteeDetails" class="modal-body alert alert-block alert-success" style="height: 195px;">
			</div>
			<div class="modal-footer" style="margin-top: 0%; text-align: right;">

				@*<button type="button" class="btn btn-app btn-danger btn-sm" data-dismiss="modal">
					<i class="ace-icon glyphicon glyphicon-remove bigger-200"></i>
				</button>*@
				<button type="button" class="btn btn-app btn-danger" data-dismiss="modal" style="width: 9%; padding: 0px; font-size: 15px;">
					Close
				</button>
			</div>

		</div>
	</div>
</div>
<div id="efileids" class="hdneId"></div>
<input type="hidden" id="hdnefileid" />

<script>

	function getCommitteeAttached(id) {
		if (id != null && id != 0) {

			$("#loader-wrapper").show();
			$.ajax({
				url: "/eFile/eFile/GetCommitteeDetByCommID",
				type: 'GET',
				data: {
					CommitteeId: id
				},
				success: function (data) {
					if (data) {
						$("#dlgCommitteeDetails").modal('show');
						$("#divAttachedCommitteeDetails").html("");
						$("#divAttachedCommitteeDetails").html(data);
						$("#loader-wrapper").hide();
					} else { alert("error"); }
				},
				error: function (xhr, ajaxOptions, thrownError) {
					alert(xhr.responseText);
					alert(thrownError);
				}
			});
		}
	}
	//////////////////////////////Server Side Paging////////////////////////////////////////
	$(document).ready(function () {
		$("#efileids").hide();
		$('#sample-table-2').dataTable({
			"bPaginate": false, "bInfo": false, "bSearchable": false, "bSort": false
		});
		$("#PazeSize").val(@ViewBag.PageSize)

		$('#PazeSize').change(function () {
			
			var PageSize = $("#PazeSize").val();
			var urlPath;
			if ('@ViewBag.Mode' == 'Committee') {
				urlPath = '@Url.Action("GeteFileByPagingCommittee", "eFile", new { Area = "eFile" })';
				var comid = $("#CommitteeId").val();

				$.ajax({
					type: "POST",
					url: urlPath,
					data: '{ CommitteeId: "' + comid + '", pageId: "1", pageSize: "' + PageSize + '" }',
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					beforeSend: function () {

						$('#loader-wrapper').show();
					},
					success: function (result) {
						$('#divListViewAll').empty();
						$('#divListViewAll').append(result);
					},
					error: function (error) {
						$('#divListViewAll').empty();
						$('#divListViewAll').append(error.responseText);

					},
					complete: function (results) {

						$('#loader-wrapper').hide();
					}
				});
			}
			else {

				urlPath = '@Url.Action("GeteFileByPaging", "eFile", new { Area = "eFile" })';
				$.ajax({
					type: "POST",
					url: urlPath,
					data: '{ pageId: "1",pageSize: "' + PageSize + '" }',
					contentType: "application/json; charset=utf-8",
					dataType: "json",
					beforeSend: function () {

						$('#loader-wrapper').show();
					},
					success: function (result) {
						$('#divListViewAll').empty();
						$('#divListViewAll').append(result);
					},
					error: function (error) {
						$('#divListViewAll').empty();
						$('#divListViewAll').append(error.responseText);

					},
					complete: function (results) {

						$('#loader-wrapper').hide();
					}
				});
			}



		});


	});

	function GetDataList(pageId) {
		var PageSize = $("#PazeSize").val();
		$.ajax({
			type: "POST",
			url: '/eFile/eFile/GeteFileByPaging',
			data: '{ pageId: "' + pageId + '",pageSize: "' + PageSize + '" }',
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			beforeSend: function () {

				$('#loader-wrapper').show();
			},
			success: function (result) {
				$('#divListViewAll').empty();
				$('#divListViewAll').append(result);
			},
			error: function (error) {
				$('#divListViewAll').empty();
				$('#divListViewAll').append(error.responseText);

			},
			complete: function (results) {

				$('#loader-wrapper').hide();
			}
		});
	}
	//////////////////////////////Server Side Paging////////////////////////////////////////

	function AddNotingDet(ele) {

		$("#loader-wrapper").show();

		var Url = '@Url.Action("AddNewNoting", "eFile", new { Area = "eFile" })';
		$.ajax({
			url: Url,
			type: 'GET',
			data: {
				eFileId: ele
			},
			success: function (data) {
				if (data) {
					$('#resize-left').width('50%');
					$('#spnScrollPosition').html('1');
					$('#resize-right').animate({ width: '50%' }, 500);


					$("#RightSidebar").html("");
					$("#RightSidebar").html(data);
					$("#loader-wrapper").hide();
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {

				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});
			},
			complete: function (obj) {
				Initializefileupload();
			}
		});

	}

	function getefileid(ele) {

		$("#hdnefileid").val(ele);
	}
	function openModalMul(id, ele) {

		if (ele == 'M') {
			$("#chkrecv").hide();
			$("#divOR").hide();
			$("#btnRecvMul").show();
			$("#btnRecv").hide();
		}
		else {
			$("#chkrecv").show();
			$("#divOR").show();
			$("#btnRecvMul").hide();
			$("#btnRecv").show();
		}

		var a = $('#efileids').html();

		if (a.toString().trim().length == 0) {
			var dlg = bootbox.alert("No eFile(s) has been selected", function (e) {
				$(dlg).modal('hide');
			});
			return;
		}
		$("#hdnefileattid").val(a)
		$("#dlgRecipientGroupModel").modal('show')


	}
	$("#chkSelAll").click(function (e) {

		var status = $("#chkSelAll").prop('checked');
		var checkboxes = document.getElementsByClassName("chkp");

		if (status == true) {
			$('#efileids').html('');

			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = true;
					if (checkboxes[i].checked = true) {
						AddToList(checkboxes[i].id, checkboxes[i].name)
					}
				}
			}
		}
		else {
			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = false;

				}
			}
			$('#efileids').empty();
			$('#efileids').html('');

		}
	});
	function AddToList(chkid, efileattid) {


		var status = $('#' + chkid + '').is(':checked');
		if (status == true) {
			var eids = efileattid + ',';
			$('#efileids').append(eids);
		}
		else {

			var a = $('#efileids').html();
			var b = a.replace(efileattid + ',', " ");
			$('#efileids').empty();
			$('#efileids').append(b);
		}

	}
	$(function () {
		$('[data-toggle="tooltip"]').tooltip();

		var oTable2 =
		$('#sample-table-2').dataTable();

		//var oTable2 =
		//$('#sample-table-3').dataTable();
	});

	function AttachToeFileMultiple() {

		$("#loader-wrapper").show();

		var Url = '@Url.Action("AttacheFileToCommitteeMultiple", "eFile", new { Area = "eFile" })';
		$.ajax({
			url: Url,
			type: 'POST',
			data: {
				eFileAttIds: $("#hdnefileattid").val(),
				eFielId: $("#hdnefileid").val()
			},
			success: function (data) {
				if (data) {
					var t = $("#ddloption option:selected").val();
					LoadeFileAll(t)
					$("#loader-wrapper").hide();
					var dlg = bootbox.alert(data, function (e) {
						$(dlg).modal('hide');
					});

				}
			},
			error: function (xhr, ajaxOptions, thrownError) {

				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});
			}
		});

	}
	

</script>
