﻿@model SBL.DomainModel.Models.eFile.eFileListAll 
@if (ViewBag.ForSecretary == "ForSecr")
            {
            <span id="BranchList">@Html.DropDownListFor(m => m.BranchId, new SelectList(Model.AllBrancheList, "BranchId", "BranchName"), new { @id = "DdlAllBranchList",onchange="onBranchChange(this.value)" })</span>//function in 
            }
<script type="text/javascript">

    
    function GetPaperPaperList(value) {
        alert(value);
            $("#loader-wrapper").show();
            $.ajax({
                url: "/HouseCommittee/HouseCommittee/eFileListDetailsForSecretary",
                type: 'GET',
                data: '{ BranchId: value }',
                success: function (data) {
                    if (data) {
                        $("#outerDiv").html("");
                        $("#outerDiv").hide();
                        $("#SuccessDiv").hide();
                        document.getElementById("MainDiveThreeTire").style.display = "none";
                        document.getElementById("MainDiveTwoTire").style.display = "block";
                        $('#divDataContainerTwoTire').empty();
                        $('#divDataContainer').empty();
                        $('#divDataContainer').html(data);
                        $("#loader-wrapper").hide();
                        $('#resize-left').width('100%');
                        $('#spnScrollPosition').html('1');
                        $('#resize-right').animate({ width: '0%' }, 500);
                        ChangeBreadCrumbParent("House Committee", "");
                        ChangeBreadCrumbChild("Draft Papers", "");
                        ClearControls();
                        $("#MainDiveThreeTire").show();

                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });

        }
    

	function efileActiveDeactive(abc, ele) {
		var msg;
		if (abc == "a") {
			msg = "Are you sure to Open eFile ?";
		}
		else {
			msg = "Are you sure to Close eFile ?";
		}

		var dlg = bootbox.confirm(msg, function (e) {

			if (e == true) {

				var urlPath;
				$("#loader-wrapper").show();
				if (abc == "a") {
					urlPath = '@Url.Action("eFileActive", "eFile", new { Area = "eFile" })';
				}
				else {
					urlPath = '@Url.Action("eFileDeactive", "eFile", new { Area = "eFile" })';

				}

				$.ajax({
					url: urlPath,
					type: 'GET',
					data: { eFileId: ele },
					success: function (data) {
						if (data) {
							$("#loader-wrapper").hide();
							var dlg = bootbox.alert(data, function (e) {

								$(dlg).modal('hide');
							});
							if (abc == "a") {
								LoadeFileAll('Close');
							}
							else {
								LoadeFileAll('Open');
							}

						} else { alert("error"); }
					},
					error: function (xhr, ajaxOptions, thrownError) {
						alert(xhr.responseText);
						alert(thrownError);
					}
				});

			}
		});
	}


	$("#ddloption").change(function () {

		var t = $("#ddloption option:selected").val();
		LoadeFileAll(t)
	});


	function LoadeFileAll(ele) {

		var urlPath;
		//if ('ViewBag.Mode' != "Committee") {
			if (ele == "Open") {
				urlPath = '@Url.Action("eFileListDetailsActive", "eFile", new { Area = "eFile" })';
		}
		else {

			urlPath = '@Url.Action("eFileListDetailsDeactive", "eFile", new { Area = "eFile" })';
		}
		$("#loader-wrapper").show();
		$.ajax({
			url: urlPath,
			type: 'GET',
			data: '{ pageId: "1",pageSize: "25" }',
			success: function (data) {
				if (data) {

					$("#divListViewAll").html("");
					$("#divListViewAll").html(data);
					$("#loader-wrapper").hide();

				} else { alert("error"); }
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.responseText);
				alert(thrownError);
			}
		});

	@*}
	else {
		urlPath = '@Url.Action("eFileListDetailsALLStatus", "eFile", new { Area = "eFile" })';
			$("#loader-wrapper").show();
			$.ajax({
				url: urlPath,
				type: 'GET',
				data: { CommitteeId: '@ViewBag.CommID', pageId: "1", pageSize: "25" },
			success: function (data) {
				if (data) {

					$("#divListViewAll").html("");
					$("#divListViewAll").html(data);
					$("#loader-wrapper").hide();

				} else { alert("error"); }
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.responseText);
				alert(thrownError);
			}
		});

	}*@





}


function EditeFile(efileid) {

	$("#loader-wrapper").show();
	$('.widget-box').show();
	var urlPath = '@Url.Action("EditeFileDetails", "eFile", new { Area = "eFile" })';
			$.ajax({
				url: urlPath,
				type: 'GET',
				data: { eFileId: efileid },
				success: function (data) {
					if (data) {
						$('#resize-left').width('50%');
						$('#spnScrollPosition').html('1');
						$('#resize-right').animate({ width: '50%' }, 500);


						$("#FormPart").html("");
						$("#RightSidebar").html(data);
						$("#loader-wrapper").hide();

					} else { alert("error"); }
				},
				error: function (xhr, ajaxOptions, thrownError) {
					alert(xhr.responseText);
					alert(thrownError);
				}
			});


		}

    function getEFile(id, eNo) {
            
			if (id != null && id != 0) {
				//$('#sample-table-2').css("background-color", "White");

				var rows = document.getElementById('sample-table-2').getElementsByTagName('tbody')[0].getElementsByTagName('tr');
				for (i = 0; i < rows.length; i++) {

					rows[i].onclick = function () {
						$(this).css("background-color", "#D8D8D8;");
					}

				}
				$("#loader-wrapper").show();
				$.ajax({
					url: "/eFile/eFile/_eFileViewByID",
					type: 'GET',
					data: {
					    DepartmentName: $('#deptnameeFile').text(),
					    eFileNumber: eNo,
					//	eFileNumber: $('#eNo' + id).text(),
						eFileSubject: $('#sub' + id).text(),
						eFileID: id,
						CommitteeId: '@((ViewBag.CommitteeId == 0) ? CommitteeId : ViewBag.CommitteeId)'
			},
			success: function (data) {
				if (data) {
					$('#resize-left').width('50%');
					$('#spnScrollPosition').html('1');
					$('#resize-right').animate({ width: '50%' }, 500);


					$("#RightSidebar").html("");

					$("#RightSidebar").html(data);

					$("#loader-wrapper").hide();
				} else { alert("error"); }
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.responseText);
				alert(thrownError);
			}
		});
	}
}

jQuery(function ($) {

	// do code for committee
	//var txt = $('#CommitteeId').text();
	@*if ('@ViewBag.Mode' == 'Committee') {
		$("#divDdl").hide();
	}
	else {
		$("#divDdl").show();
	}*@
	LoadeFileAll('Open');


	//oTable1.fnSort([[3, 'asc']]);

	$('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
	function tooltip_placement(context, source) {
		var $source = $(source);
		var $parent = $source.closest('table')
		var off1 = $parent.offset();
		var w1 = $parent.width();

		var off2 = $source.offset();
		//var w2 = $source.width();

		if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
		return 'left';
	}

	getEFile(@eFileID);

})

function addeFile() {

	$("#loader-wrapper").show();
	$('.widget-box').show();
	var urlPath = '@Url.Action("CreateeFile", "eFile", new { Area = "eFile" })';
		$.ajax({
			url: urlPath,
			type: 'GET',
			data: {},
			success: function (data) {
				if (data) {

					$('#resize-left').width('50%');
					$('#spnScrollPosition').html('1');
					$('#resize-right').animate({ width: '50%' }, 500);

					$("#RightSidebar").html(data);
					$("#loader-wrapper").hide();

				} else { alert("error"); }
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.responseText);
				alert(thrownError);
			}
		});
}
	function DisplayModalIndexList(eid, esub, enumber) {



		$("#loader-wrapper").show();


		$.ajax({
			url: "/eFile/eFile/eFileIndexDetailsPaperLaid",
			type: 'GET',
			data: {
				eFileID: eid,
				eFileSubject: esub,
				eFileNumber: enumber
			},
			success: function (data) {
				if (data) {

					$('#resize-left').width('50%');
					$('#spnScrollPosition').html('1');
					$('#resize-right').animate({ width: '50%' }, 500);


					$("#RightSidebar").html("");
					$("#RightSidebar").html(data);
					$("#loader-wrapper").hide();

				} else { alert("error"); }
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.responseText);
				alert(thrownError);
			}
		});

	}
	function DisplayModalIndexList_OnlyLaidPapers(eid, esub, enumber) {



		$("#loader-wrapper").show();


		$.ajax({
			url: "/eFile/eFile/eFileIndexDetailsPaperLaid_OnlyLaidPapers",
			type: 'GET',
			data: {
				eFileID: eid,
				eFileSubject: esub,
				eFileNumber: enumber
			},
			success: function (data) {
				if (data) {

					$('#resize-left').width('50%');
					$('#spnScrollPosition').html('1');
					$('#resize-right').animate({ width: '50%' }, 500);


					$("#RightSidebar").html("");
					$("#RightSidebar").html(data);
					$("#loader-wrapper").hide();

				} else { alert("error"); }
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.responseText);
				alert(thrownError);
			}
		});

	}
</script>
<style>
	.highlight-blue {
		color: blue;
	}
</style>