﻿@model SBL.DomainModel.Models.Committee.mBranches
@using SBL.DomainModel.Models.Enums;
@using SBL.eLegistrator.HouseController.Web.Utility;

@{
    int count = 0;
}
<script src="~/assets/js/bootbox.min.js"></script>
<link href="~/Content/MultiSelectList/multiple-select.css" rel="stylesheet" />
<script src="~/Scripts/MultiSelectBox/jquery.multiple.select.js"></script>

<script src="~/assets/js/CommonNotify.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>

@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.ID, new { @id = "hdneAttachmentID" })
<div class="modal-content">
</div>

<div id="DepWise">
    <br />
    <span style="float: left" class="label label-xlg label-primary arrowed arrowed-right">Selected departments

    </span>
    <table style="margin-top: -10px;">
        <tr>
            <td>
                <div class="profile-info-row">
                    <div class="profile-info-value">
                        <span>@Html.DropDownListFor(m => m.DeptIds, new SelectList(Model.DeptList, "deptId", "deptname"), new { @id = "DdlDept", @tabindex = "1", @class = "col-xs-10 col-sm-10 RemoveDdlBorder", @multiple = "multiple", @style = "width:300px" }) </span>

                    </div>
                </div>
            </td>
            <td>
                <button class="btn btn-sm btn-success btn-white btn-round" onclick="GetdeptValue();">
                    <i class="ace-icon fa fa-check bigger-110 green"></i>
                    Done
                </button>
            </td>
            <td>
                <div class="profile-info-row">
                    <div class="profile-info-name">Minister</div>
                    <div class="profile-info-value">
                        @Html.CheckBoxFor(m => m.Minister, new { @id = "chMinister", onclick = "CheckIfChecked()" })

                    </div>
                </div>
            </td>
            <td>
                <div class="profile-info-row">
                    <div class="profile-info-name">Secretary</div>
                    <div class="profile-info-value">
                        @Html.CheckBoxFor(m => m.Secretary, new { @id = "chSecretary", @disabled = "disabled" })
                    </div>

                </div>
            </td>
            <td>
                <div class="profile-info-row">
                    <div class="profile-info-name">HOD</div>
                    <div class="profile-info-value">
                        @Html.CheckBoxFor(m => m.HOD, new { @id = "chHOD", @checked = "Checked", @disabled = "disabled" })

                    </div>

                </div>
            </td>
        </tr>

    </table>



    <br />


    @Html.TextAreaFor(model => model.deptname, new { @id = "info", @style = "width:100%;" })


</div>

<div id="MembWise">

    <br />
    <span style="float: left" class="label label-xlg label-primary arrowed arrowed-right">Selected Members</span>

    <table style="margin-top: -10px;">
        <tr>
            <td>

                @*  <div class="profile-info-name" >Members</div>*@
                <div class="profile-info-value">
                    <span>@Html.DropDownListFor(m => m.MemberIds, new SelectList(Model.MemberList, "MId", "MemberName"), new { @id = "DdlMember", @tabindex = "1", @class = "col-xs-10 col-sm-10 RemoveDdlBorder", @multiple = "multiple", @style = "width:400px" }) </span>
                    <button class="btn btn-sm btn-success btn-white btn-round" onclick="GetMembers();">
                        <i class="ace-icon fa fa-check bigger-110 green"></i>
                        Done
                    </button>
                </div>

            </td>
        </tr>
    </table>


    <br />

    @Html.TextAreaFor(model => model.MemberName, new { @id = "infoMem", @style = "width:100%;" })
</div>
<div id="OtherWise">

    <br />
    <span style="float: left" class="label label-xlg label-primary arrowed arrowed-right">Selected Other than H.P Government</span>
    <table style="margin-top: -10px;">
        <tr>
            <td>
                <div class="profile-info-value" style="text-align: left;">
                    <span>@Html.DropDownListFor(m => m.OthersIds, new SelectList(Model.OtherThanList, "OId", "OName"), new { @id = "DdlOthers", @tabindex = "1", @class = "col-xs-10 col-sm-10 RemoveDdlBorder", @multiple = "multiple", @style = "width:400px" }) </span>
                    <button class="btn btn-sm btn-success btn-white btn-round" onclick="GetOthers();">
                        <i class="ace-icon fa fa-check bigger-110 green"></i>
                        Done
                    </button>
                </div>
            </td>
        </tr>
    </table>


    @*  <div class="profile-info-name" style="text-align: left; width: 90px;">Others</div>*@




    @Html.TextAreaFor(model => model.OthersIds, new { @id = "Otherinfo", @style = "width:100%;" })
</div>

<br />
@*<button class="btn btn-sm btn-success btn-white btn-round" onclick="Done();">
    <i class="ace-icon fa fa-check bigger-110 green"></i>
    Done
</button>*@


<br />






<script>
    var StaffId = "";
    var MemId = "";
    var MemNames = "";
    var OtherId = "";
    var OtherNames = "";
    var StaffName = "";
    $(document).ready(function () {

        $("#DdlDept").multipleSelect({ selectAll: true, placeHolder: "Select Departments" });
        $("#DdlMember").multipleSelect({ selectAll: true, placeHolder: "Select Members" });
        $("#DdlOthers").multipleSelect({ selectAll: true, placeHolder: "Select Members" });

    });


    function GetdeptValue() {
        StaffId = ""
        StaffName = ""
        var selected = $("#DdlDept option:selected");

        selected.each(function () {
            StaffName += $(this).text() + ",";
            StaffId += $(this).val() + ",";
        });

        $('#info').val("");
        $('#info').val(StaffName.replace(/,\s*$/, ""));

        $.get("/AccountsAdmin/TR2/", {

        }, function (data) {

        });

    }

    function GetMembers() {
        MemNames = ""
        MemId = ""
        var selectedM = $("#DdlMember option:selected");

        selectedM.each(function () {
            MemNames += $(this).text() + ",";
            MemId += $(this).val() + ",";
        });

        $('#infoMem').val("");
        $('#infoMem').val(MemNames.replace(/,\s*$/, ""));
        $.get("/AccountsAdmin/TR2/", {

        }, function (data) {


        });

    }
    function GetOthers() {
        OtherNames = ""
        OtherId = ""
        var selectedO = $("#DdlOthers option:selected");
        selectedO.each(function () {
            OtherNames += $(this).text() + ",";
            OtherId += $(this).val() + ",";
        });

        $('#Otherinfo').val("");
        $('#Otherinfo').val(OtherNames.replace(/,\s*$/, ""));
        $.get("/AccountsAdmin/TR2/", {

        }, function (data) {


        });

    }

    //function Done() {      
    //    $.get("/HouseCommittee/HouseCommittee/AssignToHidden", {
    //        DeptIds: StaffId,
    //        MemId: MemId,
    //        OtherId: OtherId,
    //    }, function (data) {        
    //        $('#AllInfo').val(StaffName + MemNames + OtherNames);
    //        $('#Allds').val(StaffId + MemId + OtherId);
    //        $('#OnlyDepIds').val(StaffId.replace(/,\s*$/, ""));
    //        $('#OnlyToMemIds').val(MemId.replace(/,\s*$/, ""));
    //        $('#OnlyToOtherIds').val(OtherId.replace(/,\s*$/, ""));       
    //       close();

    //    });

    //}

    function close() {

        var dialog = $("#fullDetailsModel").addClass('hide').dialog
        $(this).dialog("close");
    }
</script>
