﻿@model SBL.DomainModel.Models.Committee.mBranches
@using SBL.DomainModel.Models.Enums;
@using SBL.eLegistrator.HouseController.Web.Utility;

@{
    int count = 0;
}
<script src="~/assets/js/bootbox.min.js"></script>
<link href="~/Content/MultiSelectList/multiple-select.css" rel="stylesheet" />
<script src="~/Scripts/MultiSelectBox/jquery.multiple.select.js"></script>

<script src="~/assets/js/CommonNotify.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>

@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.ID, new { @id = "hdneAttachmentID" })
<div class="modal-content">
</div>

<div id="DepWise">
    <br />
    <span style="float: left" class="label label-xlg label-primary arrowed arrowed-right">Selected departments

    </span>

    <table style="margin-top: -10px;">
        <tr>
            <td>
                <div class="profile-info-row">
                   @* <div class="profile-info-name">Department</div>*@

                    <div class="profile-info-value">
                        <span>@Html.DropDownListFor(m => m.DeptIds, new SelectList(Model.DeptList, "deptId", "deptname"), new { @id = "DdlDeptCC", @tabindex = "1", @class = "col-xs-10 col-sm-10 RemoveDdlBorder", @multiple = "multiple", @style = "width:300px" }) </span>

                    </div>
                </div>
            </td>
            <td>
                <button class="btn btn-sm btn-success btn-white btn-round" onclick="GetdeptValueCC();">
                    <i class="ace-icon fa fa-check bigger-110 green"></i>
                    Done
                </button>
            </td>
            <td>
                <div class="profile-info-row">
                    <div class="profile-info-name">Minister</div>
                    <div class="profile-info-value">
                        @Html.CheckBoxFor(m => m.Minister, new { @id = "chMinister", onclick = "CheckIfChecked()" })

                    </div>
                </div>
            </td>
            <td>
                <div class="profile-info-row">
                    <div class="profile-info-name">Secretary</div>
                    <div class="profile-info-value">
                        @Html.CheckBoxFor(m => m.Secretary, new { @id = "chSecretary", @disabled = "disabled" })
                    </div>

                </div>
            </td>
            <td>
                <div class="profile-info-row">
                    <div class="profile-info-name">HOD</div>
                    <div class="profile-info-value">
                        @Html.CheckBoxFor(m => m.HOD, new { @id = "chHOD", @checked = "Checked", @disabled = "disabled" })

                    </div>

                </div>
            </td>
        </tr>
    </table>






    @Html.TextAreaFor(model => model.deptnameCC, new { @id = "infoCC", @style = "width:100%;" })


</div>

<div id="MembWise">
    <br />
    <span style="float: left" class="label label-xlg label-primary arrowed arrowed-right">Selected Members</span>
    <table style="margin-top: -10px;">
        <tr>
            <td>
                <div class="profile-info-row">
                    
                    <div class="profile-info-value">
                        <span>@Html.DropDownListFor(m => m.MemberIds, new SelectList(Model.MemberList, "MId", "MemberName"), new { @id = "DdlMemberCC", @tabindex = "1", @class = "col-xs-10 col-sm-10 RemoveDdlBorder", @multiple = "multiple", @style = "width:400px" }) </span>
                        <button class="btn btn-sm btn-success btn-white btn-round" onclick="GetMembersCC();">
                            <i class="ace-icon fa fa-check bigger-110 green"></i>
                            Done
                        </button>
                    </div>
                </div>

            </td>
        </tr>
    </table>

    @Html.TextAreaFor(model => model.MemberNameCC, new { @id = "infoMemCC", @style = "width:100%;" })
</div>
<div id="OtherWise">
    <br />
    <span style="float: left" class="label label-xlg label-primary arrowed arrowed-right">Selected Other than H.P Government</span>
    <table style="margin-top: -10px;">
        <tr>
            <td>
                <div class="profile-info-row">
                    
                    <div class="profile-info-value">
                        <span>@Html.DropDownListFor(m => m.OthersIds, new SelectList(Model.OtherThanList, "OId", "OName"), new { @id = "DdlOthersCC", @tabindex = "1", @class = "col-xs-10 col-sm-10 RemoveDdlBorder", @multiple = "multiple", @style = "width:400px" }) </span>
                        <button class="btn btn-sm btn-success btn-white btn-round" onclick="GetOthersCC();">
                            <i class="ace-icon fa fa-check bigger-110 green"></i>
                            Done
                        </button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    @Html.TextAreaFor(model => model.OthersNameCC, new { @id = "OtherinfoCC", @style = "width:100%;" })
</div>

<br />
@*<button class="btn btn-sm btn-success btn-white btn-round" onclick="DoneCC();">
    <i class="ace-icon fa fa-check bigger-110 green"></i>
    Done
</button>*@


<br />
<br />





<script>
    var StaffIdCC = "";
    var MemIdCC = "";
    var MemNamesCC = "";
    var OtherIdCC = "";
    var OtherNamesCC = "";
    var StaffNameCC = "";
    $(document).ready(function () {

        $("#DdlDeptCC").multipleSelect({ selectAll: true, placeHolder: "Select Departments" });
        $("#DdlMemberCC").multipleSelect({ selectAll: true, placeHolder: "Select Members" });
        $("#DdlOthersCC").multipleSelect({ selectAll: true, placeHolder: "Select Members" });
     
    });


    function GetdeptValueCC() {
        StaffIdCC = ""
        StaffNameCC = ""
        var selectedCC = $("#DdlDeptCC option:selected");

        selectedCC.each(function () {
            StaffNameCC += $(this).text() + ",";
            StaffIdCC += $(this).val() + ",";
        });
        $('#infoCC').val("");
        $('#infoCC').val(StaffNameCC.replace(/,\s*$/, ""));

        $.get("/AccountsAdmin/TR2/", {

        }, function (data) {

        });

    }

    function GetMembersCC() {
        MemNamesCC = ""
        MemIdCC = ""
        var selectedMCC = $("#DdlMemberCC option:selected");

        selectedMCC.each(function () {
            MemNamesCC += $(this).text() + ",";
            MemIdCC += $(this).val() + ",";
        });

        $('#infoMemCC').val("");
        $('#infoMemCC').val(MemNamesCC.replace(/,\s*$/, ""));
        $.get("/AccountsAdmin/TR2/", {

        }, function (data) {


        });

    }
    function GetOthersCC() {
        OtherNamesCC = ""
        OtherIdCC = ""
        var selectedOCC = $("#DdlOthersCC option:selected");
        selectedOCC.each(function () {
            OtherNamesCC += $(this).text() + ",";
            OtherIdCC += $(this).val() + ",";
        });

        $('#OtherinfoCC').val("");
        $('#OtherinfoCC').val(OtherNamesCC.replace(/,\s*$/, ""));
        $.get("/AccountsAdmin/TR2/", {

        }, function (data) {


        });

    }

    //function DoneCC() {

    //    $.get("/HouseCommittee/HouseCommittee/AssignToHidden", {
    //        DeptIds: StaffIdCC,
    //        MemId: MemIdCC,
    //        OtherId: OtherIdCC,
    //    }, function (data) {        
    //        $('#CCInfo').val(StaffNameCC + MemNamesCC + OtherNamesCC);
    //        $('#AlldsCC').val(StaffId + MemId + OtherId);
    //        $('#OnlyDepIdsCC').val(StaffIdCC.replace(/,\s*$/, ""));
    //        $('#OnlyToMemIdsCC').val(MemIdCC.replace(/,\s*$/, ""));
    //        $('#OnlyToOtherIdsCC').val(OtherIdCC.replace(/,\s*$/, ""));
    //       close();

    //    });

    //}

    function close() {
        var dialog = $("#ShowfullDetailsModel").addClass('hide').dialog
    }
</script>
