﻿@model SBL.DomainModel.Models.eFile.eFileAttachments
@using SBL.eLegistrator.HouseController.Web.Helpers
@using SBL.eLegistrator.HouseController.Web.Utility

@{
    var FileSettings = (SBL.DomainModel.Models.SiteSetting.SiteSettings)Helper.ExecuteService("SiteSetting", "GetSecureFileSettingLocation", null);
    int count = 0;
}

<div id='fullDetailsModel' class="hide">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>
<div id='MovementModel' style="text-align: center; display: none;">
</div>
<div id='MovementModelPDF' style="text-align: center; display: none;">
</div>
<div class="row">
    <div class="form-group">
        @if (Model.RolesId != "f601de42-22f5-4b77-92b2-cd506564da25")
        {                                                                                    
            <div class="col-xs-12">
                <button class="btn btn-sm btn-success btn-white btn-round" onclick="PaperDraftFileMultiple()" style="float: right; margin-right: 16px; margin-bottom: 6px; border-radius: 6px;">
                    <i class="ace-icon fa fa-globe bigger-125"></i>
                    Draft Papers
                    <i class="ace-icon fa fa-arrow-right icon-on-right bigger-125"></i>
                </button>
                @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                {
                    <button class="btn btn-sm btn-radius btn-white btn-round" onclick="openModalMul('','M')" style="float: right; margin-right: 16px; margin-bottom: 6px; border-radius: 6px;">
                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                        Attach Multiple Paper to File
                    </button>
                }

                <button type="submit" id="savebtnAddAttachment" class="btn btn-sm btn-danger btn-white btn-round" onclick="ReceivePaper();" style="float: right; margin-right: 16px; margin-bottom: 6px; border-radius: 6px;">
                    <i class="upload-icon ace-icon fa fa-cloud-upload bigger-125"></i>
                    Attached Manually Recieved Backlog
                </button>

                @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                {
                    <button type="submit" id="savebtnTransferPapers" class="btn btn-sm btn-danger btn-white btn-round" onclick="TransferPapers();" style="float: right; margin-right: 16px; margin-bottom: 6px; border-radius: 6px;">
                        <i class="upload-icon ace-icon fa fa-cloud-upload bigger-125"></i>
                        Transfer Paper(s) for Meetings
                    </button>
                }


            </div>
        }
        @if (Model.RolesId == "f601de42-22f5-4b77-92b2-cd506564da25")
        {                                                                                    
            <div class="col-xs-12">


                <button type="submit" id="savebtnAddAttachment" class="btn btn-sm btn-danger btn-white btn-round" onclick="ReceivePaper();" style="float: right; margin-right: 16px; margin-bottom: 6px; border-radius: 6px;">
                    <i class="upload-icon ace-icon fa fa-cloud-upload bigger-125"></i>
                    Attached Manually Recieved Backlog
                </button>

            </div>
        }
    </div>

    <div class="col-xs-12">

        <!-- PAGE CONTENT BEGINS -->
        <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
        <div class="pass-table">

            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                @if (Model.eFileAttachemts != null)
                {
                    if (Model.eFileAttachemts.Count() > 0)
                    {                    
                    <div class="table-header">
                        <span class="label label-lg label-yellow arrowed-right" style="height: 24px; font-weight: bold; font-size: 14px;">Received</span> ( Paper List )
                    </div> 
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">




                        <thead>
                            <tr role="row">
                                <th class="center sorting_disabled" role="columnheader" >

                                    <input type="checkbox" class="chkList" id="chkSelAll" /></th>
                                @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                                {
                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1">File No.   </th>
                                }
                                else
                                {
                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1">To/Cc  </th>
                                }
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" aria-label="Name: activate to sort column ascending">RefNo</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" aria-label="Name: activate to sort column ascending" style="display: none">Type</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2"  aria-label="Pass Type: activate to sort column ascending">Item</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2"  aria-label="Pass Type: activate to sort column ascending">Committee</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2"  aria-label="Name: activate to sort column ascending">Subject</th>

                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" aria-label="Pass Type: activate to sort column ascending">Nature</th>
                                @*       <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">TimeLimit</th>*@
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" aria-label="Name: activate to sort column ascending">Received From</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" aria-label="Name: activate to sort column ascending">Date</th>
                                <th class="sorting_disabled" role="columnheader"  aria-label="" style="display: none;">Status</th>
                                <th class="sorting_disabled" role="columnheader"  aria-label="" style="text-align: center"><i class="fa fa-download bigger-120" title="View/Download"></i>
                                    <br />
                                    <span style="color: red">Authentic Paper</span>  </th>
                                @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                                {
                                    <th class="sorting_disabled" role="columnheader" aria-label="" style="text-align: center"><i class="fa fa-download bigger-120" title="View/Download"></i>
                                        <br />
                                        @*<span style="color: red">Draft</span>*@ </th>
                                }
                                @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                                {
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3"  aria-label="Name: activate to sort column ascending">Marked To  </th>
                                    
                                }

                            </tr>
                        </thead>


                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.eFileAttachemts)
                            {
                                string deptid = "d" + item.eFileAttachmentId;
                                string ofcid = "of" + item.eFileAttachmentId;
                                string efflNo = "eNo" + item.eFileAttachmentId;
                                string subj = "sub" + item.eFileAttachmentId;
                                string pre = "pre" + item.eFileAttachmentId;
                                string fut = "fut" + item.eFileAttachmentId;
                                count = count + 1;
                                string rowId = "eFiles" + item.eFileAttachmentId;
                                var EDays = 0;
                                   
                                <tr style="@(item.IsDataRead == "0" ? "color:#FF0000" : "#fff")" onclick="return GetReadRowData('@item.eFileAttachmentId','@item.CommitteeId','@item.IsDataRead')">
                                    <td style="@(item.IsRejected == true ? "background-color:#F781F3;" : "#fff")">
                                        @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                                        {
                                            if (item.CurrentEmpAadharID == Model.CurrentSessionAId)
                                            {
                                            <input id='chk_@count' type="checkbox" class="chkp" name="@item.eFileAttachmentId" onclick="AddToList(this.id, this.name)"/>
                                            }
                                        }
                                        else
                                        {
                                            <input id='chk_@count' type="checkbox" class="chkp" name="@item.eFileAttachmentId" onclick="AddToList(this.id, this.name)"/>
                                        }
                                    </td>
                                    @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                                    {
                                        <td style="@(item.IsRejected == true ? "background-color:#F781F3;" : "#fff")">
                                            @if (item.PaperStatus == "Y")
                                            {


                                                if (item.ReFileID > 0)
                                                {
                                                <div style="background-color:#FFF68F" aria-hidden="true" data-placement="top" data-toggle="tooltip" data-placement="right"
                                          onclick="getEFileAttached('@item.ReFileID')"  title="View Attached eFile" style="cursor:pointer">
                                                    @item.MainEFileName
                                                </div>
                                                }

                                            }
                                            else
                                            {
                                                //<span class="glyphicon glyphicon-warning-sign" aria-hidden="true" title="Paper Not Received"></span>
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="@(item.IsRejected == true ? "background-color:#F781F3;" : "#fff")">
                                            @item.TOCCtype
                                        </td>
                                    }

                                    <td class="hidden-sm hidden-xs action-button" style="@(item.IsRejected == true ? "background-color:#F781F3;" : "#fff")">

                                        @if (item.PType == "O")
                                        {
                                            if (item.ReplyStatus == "Y")
                                            {
                                            <span class="label label-sm label-danger arrowed arrowed-right" data-toggle="tooltip" data-placement="right" title="Reply Paper" style="height: 18px">@item.PaperRefNo</span>
                                            }
                                            else
                                            {
                                            <span class="label label-sm label-danger arrowed arrowed-right" data-toggle="tooltip" data-placement="right" title="Original Paper" style="height: 18px">@item.PaperRefNo</span>
                                            }
                                        }
                                        else if (item.PType == "R")
                                        {
                                            <span class="label label-sm label-grey arrowed arrowed-right" data-toggle="tooltip" data-placement="right" title="Reminder ( @item.LinkedRefNo )" style="height: 18px">@item.PaperRefNo</span>
                                        }
                                        else
                                        {
                                            <span class="label label-sm label-danger arrowed arrowed-right" style="height: 18px">@item.PaperRefNo</span>
		 
                                        }


                                        @if (item.ReplyStatus == "Y")
                                        {
                                            <span class="badge badge-warning" data-toggle="tooltip" data-placement="right" title="Reply of ( PaperRefNo. : @item.LinkedRefNo ) & Date (@item.ReplyDate.ToString("dd/MM/yyyy HH:mm tt"))">R</span>
                                        } </td>

                                    <td style="display: none">@item.DocuemntPaperType</td>

                                    @if (@item.CountsAPS == null)
                                    {
                                        <td style="@(item.IsRejected == true ? "background-color:#F781F3;" : "#fff")">

                                            @item.ItemName

                                        </td>
                                    }
                                    else
                                    {
                                        <td style="@(item.IsRejected == true ? "background-color:#F781F3;" : "#fff")">

                                            @item.ItemName (@item.CountsAPS)
                                                                                                                                   
                                        </td>
                                    }
                                    <td style="@(item.IsRejected == true ? "background-color:#F781F3;" : "#fff")">@item.CommitteeName
                                        <span style="display: none;" id="spnCID">@item.CommitteeId</span>

                                    </td>

                                    <td style="@(item.IsRejected == true ? "background-color:#F781F3;" : "#fff")">@item.Title </td>

                                    <td style="@(item.IsRejected == true ? "background-color:#F781F3;" : "#fff")">@item.RecvdPaperNature</td>


                                    <td style="@(item.IsRejected == true ? "background-color:#F781F3;" : "#fff")">
                                        @if (item.DepartmentName == "OTHER")
                                        {
                                            <span class="badge badge-yellow" style="border-radius: 5px;" title="@item.RecvDetails" data-placement="top" data-toggle="tooltip">OTHER</span><br />
										
                                        }
                                        else
                                        {
                                            <span   data-toggle="tooltip" data-placement="top" title="@item.DepartmentName">@item.DeptAbbr</span> @*@item.RecvDetails*@
                                        }



                                    </td>
                                    <td style="@(item.IsRejected == true ? "background-color:#F781F3;" : "#fff")">@item.CreatedDate.ToString("dd/MM/yyyy HH:mm tt")</td>
                                    <td style="display: none;">
                                        @if (item.PaperStatus == "N")
                                        {
                                            <button class="btn btn-minier btn-purple" onclick="openModal('@item.eFileAttachmentId','Y')">
                                                <i class="glyphicon glyphicon-floppy-save"></i>
                                                Receive
                                            </button>
                                        }
                                        else
                                        {
                                            <span class="label label-success arrowed" title="ReceivedDate(@item.ReceivedDate.ToString("dd/MM/yyyy HH:mm"))">
                                                <i class="glyphicon glyphicon-floppy-saved"></i>
                                                Received
                                            </span>
                                            if (item.eFileID == 0)
                                            {
                                            <br />
                                            <input type="hidden" id="hdnAttachtoefile" />
                                            <a style="cursor: pointer" onclick="openModal('@item.eFileAttachmentId','N')">Attach to eFile</a>
				 
                                            }
                                            else
                                            {
                                            <span class="glyphicon glyphicon-link" aria-hidden="true">Attached</span>
                                            }

                                        }
                                    </td>


                                    @{
                                        string path = FileSettings.SettingValue + item.eFilePath;
                                        string pathAnnex = FileSettings.SettingValue + item.AnnexPdfPath;
                                        // string pathPdf = FileSettings.SettingValue + item.eFilePathWord;
                                    }
                                    @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                                    {
                                        if (item.eFilePath != null)
                                        {
                                                                                                       
                                        <td style="@(item.IsRejected == true ? "background-color:#F781F3;" : "#fff")">
                                            <img src="~/Images/Common/PDF.png" alt="Download PDF" title="View PDF" width="35" height="35" onclick="DisplayModalePDF('@item.eFilePath','@item.eFileAttachmentId');" />
                                            @* <a href="path" target="_blank">  <img src="~/Images/Common/PDF.png" alt="Download Pdf" title="Download Pdf" width="35" height="35" /></a>
                                                  *@

                                            <img src="~/Images/Common/move_detailicon.jpg" alt="Movement Detail" title="Movement Detail" width="25" height="25" style="margin-left:10px;" onclick="DisplayModaleNoting('@item.eFilePath','@item.eFileAttachmentId');"  />

                                        </td>                                                                       
                                       
                                        }
                                        else
                                        {
                                        <td style="@(item.IsRejected == true ? "background-color:#F781F3;" : "#fff")">
                                            <img src="~/Images/Common/PDF.png" alt="Download PDF" title="View PDF" width="35" height="35" onclick="DisplayNotAuthorize();" />
                                        </td> 
                                    
                                        }
                                    }
                                    else
                                    {
                                        <td style="@(item.IsRejected == true ? "background-color:#F781F3;" : "#fff")">
                                            <a href="@path" target="_blank">
                                                <img src="~/Images/Common/Main.png" alt="View PDF" width="35" height="35" title="Main PDF" data-toggle="tooltip" /></a>
                                            @if (item.AnnexPdfPath != null)
                                            {
                                                <a href="@pathAnnex" target="_blank">
                                                    <img src="~/Images/Common/Anexxture.png" alt="View PDF" title="Annexure PDF" data-toggle="tooltip" width="35" height="35" /></a>
                                                  
                                            }

                                        </td>
                                    }



                                    @{
                                    string pathWord = FileSettings.SettingValue + item.eFilePathWord;
                                    }
                                    @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                                    {
                                        <td style="@(item.IsRejected == true ? "background-color:#F781F3;" : "#fff")">

                                            @if (!string.IsNullOrEmpty(item.eFilePathWord))
                                            { 
                                                <a href="@pathWord" target="_blank">
                                                    <img src="~/Images/Common/doc.png" alt="Download Doc" title="Download Doc" width="35" height="35" /></a>
                                            }
                                        </td>
                                    }
                                    @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                                    {
                                        <td style="@(item.IsRejected == true ? "background-color:#F781F3;" : "#fff")">


                                            @if (!string.IsNullOrEmpty(item.BranchName))
                                            {
                                                if (Model.CurrentSessionAId == "626192220638")
                                                {
                                            
                                                <div style="background-color:#FFF68F" aria-hidden="true" data-placement="top" data-toggle="tooltip" data-placement="right"
                                           onclick="GetBranch(@item.eFileAttachmentId)" title="Assign Branch" style="cursor:pointer">
                                                    @item.Desingnation - @item.AbbrevBranch (@item.EmpName)
                                                </div>
                                            
                                     
                                                }
                                                else
                                                {
                                                    if (item.CurrentEmpAadharID == Model.CurrentSessionAId)
                                                    {
                                                <div style="background-color:#FFF68F" aria-hidden="true" data-placement="top" data-toggle="tooltip" data-placement="right"
                                           onclick="GetBranch(@item.eFileAttachmentId)" title="Assign Branch" style="cursor:pointer">
                                                    @item.Desingnation - @item.AbbrevBranch (@item.EmpName)
                                                </div>
                                            
                                                    }
                                                    else
                                                    {
                                                <div style="background-color: #FFF68F" aria-hidden="true" data-placement="top" data-toggle="tooltip" data-placement="right"
                                                    title="Not Authorize To Assign Branch" style="cursor: pointer">
                                                    @item.Desingnation - @item.AbbrevBranch (@item.EmpName)
                                                </div>
                                                    }


                                                }



                                            }
                                            else
                                            {
                                                if (item.IsRejected == true)
                                                {
                                                          
                                                <a title="@item.RejectedRemarks" onclick="FullRejectedRemark('@item.RejectedRemarks', '@item.VerifiedBy','@item.VerifiedDate.Value.ToString("dd/MM/yyyy HH:mm tt")')" href="javascript:void(0);" class="green" >
                                                    @* <i class="ace-icon fa fa-eye bigger-130"></i>*@
                                                    <span class="badge badge-red" style="border-radius: 5px;" title="@item.VerifiedBy" data-placement="top" data-toggle="tooltip">Rejected by @item.VerifiedBy
                                                        <br />
                                                        on @item.VerifiedDate.Value.ToString("dd/MM/yyyy HH:mm tt")</span><br />
                                                </a>
                                                }
                                                else
                                                {

                                                    if (item.IsVerified == true)
                                                    {
                                                <a class="btn btn-minier btn-yellow" aria-hidden="true" data-toggle="tooltip" data-placement="right"
                                           onclick="GetBranch(@item.eFileAttachmentId)" title="Assign Branch" style="cursor:pointer">Assign
                                                </a>
                                                    }
                                                    // else
                                                    // {
                                                    // <span style="color: red;">Pending for Verification</span>
                                                    //  }
                                                }

                                                if (item.IsVerified != true && item.IsRejected != true)
                                                {
                                                    
                                                    
                                                <button class="btn btn-minier" onclick="ToverifyPaperID('@item.eFileAttachmentId')" data-toggle="tooltip" data-placement="right"
                                                    title="Click To Accept Paper" style="cursor: pointer">
                                                    Accept</button>
                                                <button class="btn btn-minier btn-primary"  onclick="RejectPaper('@item.eFileAttachmentId')" data-toggle="tooltip" data-placement="right"
                                                    title="Click To Reject Paper" style="cursor: pointer">
                                                    Reject 
                                                </button>@*
                                                    <button class="btn btn-white btn-warning btn-round" onclick="ToverifyPaperID('@item.eFileAttachmentId')" data-toggle="tooltip" data-placement="right"
                                                    title="Click To Accept Paper" style="cursor: pointer">
												
												Accept
											</button>
                                                    
                                                    <button class="btn btn-white btn-default btn-round" onclick="RejectPaper('@item.eFileAttachmentId')" data-toggle="tooltip" data-placement="right"
                                                    title="Click To Reject Paper" style="cursor: pointer">
											
												Reject
											</button>*@
@*
                                                    
                                                    
                                                <button class="btn btn-minier btn-purple" onclick="ToverifyPaperID('@item.eFileAttachmentId')">
                                                    <i class="glyphicon glyphicon-floppy-save"></i>
                                                    Click To Accept
                                                </button>
                                                <button class="btn btn-minier btn-purple" onclick="RejectPaper('@item.eFileAttachmentId')">
                                                    <i class="glyphicon glyphicon-floppy-save"></i>
                                                    Click To Reject
                                                </button>*@
                                                
                                                
                                                }
                                            }



                                        </td>
                                    }


                                </tr>
									
                            }
                        </tbody>
                    </table>
                    
                    }
                    else
                    {
                  
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-info">

                                <strong>No Paper Found !!!</strong><br />


                            </div>
                        </div>
                    </div>
                   
                    }
                }

            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>

</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dlgRecipientGroupModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width: 100%; margin-left: 30px;">
            <div class="modal-header">
                <h3>Attach Paper(s) to eFile </h3>
                <button type="button" class="close" data-dismiss="modal">
                </button>
            </div>
            <form method="post" id="DebateInfoForm">

                <div class="modal-body alert alert-block alert-success" style="height: 247px; overflow-y: scroll;">
                    <input type="hidden" id="hdnefileattid" />
                    <div class="col-xs-12 col-sm-12" id="divattachefile">

                        @if (ViewBag.EFilesListAll != null)
                        {
	 
                            <div class="profile-info-row col-sm-12" id="divefile">

                                <div class="pass-table">

                                    @if (Model.eFileLists.Count() > 0)
                                    {
                                        <div class="table-header">
                                            e-File List  
                                        </div>        
                                        <table class="table table-bordered  dataTable" aria-describedby="sample-table-2_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">S#</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">eFile Number</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Subject</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Department</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Create Date</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Old Desc</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">New Desc</th>


                                                </tr>
                                            </thead>
                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                @foreach (var item in Model.eFileLists)
                                                {
                                                    string deptid = "d" + item.eFileID;
                                                    string ofcid = "of" + item.eFileID;
                                                    string efflNo = "eNo" + item.eFileID;
                                                    string subj = "sub" + item.eFileID;
                                                    string pre = "pre" + item.eFileID;
                                                    string fut = "fut" + item.eFileID;
                                                    count = count + 1;
                                                    string rowId = "eFiles" + item.eFileID;
		  
								   
                                                    <tr>
                                                        <td>
                                                            <input name="form-field-radio" type="radio" onclick="getefileid(this.id)"  id="@item.eFileID">
                                                        </td>
                                                        <td class="hidden-sm hidden-xs action-button">@count</td>
                                                        <td>
                                                            <span class="badge badge-yellow" style="border-radius: 5px; font-weight: bold;">
                                                                @item.eFileNumber/E/@item.eFileID</span></td>
                                                        <td id="@subj">@item.eFileSubject</td>

                                                        <td id="@deptid" >@item.Department</td>

                                                        <td>@Convert.ToDateTime(item.CreateDate).ToString("dd/MM/yyyy")</td>
                                                        <td>@Html.Raw(item.olddesc)</td>
                                                        <td>@Html.Raw(item.newdesc)</td>
                                                    </tr>
									
                                                }
                                            </tbody>
                                        </table>

                                        <!-- PAGE CONTENT ENDS -->
                                    }
                                    else
                                    {
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="alert alert-info">

                                                    <strong>No eFiles found!</strong><br />


                                                </div>
                                            </div>
                                        </div>
                                    }






                                </div>
                            </div>
	
                        }
                        else
                        {
	  
                            <div class="alert alert-block alert-danger" id="noefilemsg">
                                <i class="ace-icon fa fa-check green"></i>

                                No e-File Found. <strong class="green">
                                    <span>Create </span>
                                    @*onclick="eFileList()"*@
                                </strong>New eFile to Attach.
									 
                            </div>
                        }

                    </div>
                    <div class="col-xs-12 col-sm-12" id="divOR">
                        <center>
						<div class="profile-info-row">

							 
							<span class="label label-lg label-pink arrowed-right" style="  font-weight: bold;  height: 24px;">OR</span>
						</div>
							</center>
                    </div>
                    <div class="col-xs-12 col-sm-12" id="chkrecv">
                        <div class="profile-info-row">
                            <div class="profile-info-name"></div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">

                                    <div class="checkbox">
                                        <label class="block">
                                            <input name="form-field-checkbox" type="checkbox" class="ace input-lg" id="chkboxreceive">
                                            <span class="lbl bigger-120">Receive Only</span>
                                        </label>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="alert alert-block alert-success" id="divMsgBox">
                        <i class="ace-icon fa fa-check green"></i>

                        Paper
									<strong class="green">Received										
                                    </strong>
                        Successfully
                    </div>

                </div>
                <div class="modal-footer" style="margin-top: 0%; text-align: center;">
                    <button id="btnRecv" type="button" class="btn btn-app btn-purple btn-sm" onclick="UpdateReceive()" data-dismiss="modal">
                        <i class="ace-icon fa fa-cloud-download bigger-200"></i>
                        Receive
                    </button>
                    @if (ViewBag.EFilesListAll != null)
                    {
                        <button id="btnRecvMul" type="button" class="btn btn-app btn-purple btn-sm" onclick="AttachToeFileMultiple()" data-dismiss="modal">
                            <i class="ace-icon fa fa-cloud-download bigger-200"></i>
                            Attach
                        </button>
                    }

                    <button type="button" class="btn btn-app btn-danger btn-sm" data-dismiss="modal">
                        <i class="ace-icon glyphicon glyphicon-remove bigger-200"></i>
                        Close
                    </button>


                </div>
            </form>
        </div>
    </div>
</div>
<div id="efileids" class="hdneId" style="visibility: hidden"></div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dlgeFileDetails" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width: 67%; margin-left: 30px;">
            <div class="modal-header" style="height: 65px;">
                <h3>eFile Details </h3>
                <button type="button" class="close" data-dismiss="modal">
                </button>
            </div>
            <div id="divAttachedeFileDetails" class="modal-body alert alert-block alert-success" style="height: 400px; overflow-y: scroll;">
            </div>
            <div class="modal-footer" style="margin-top: 0%; text-align: right;">


                <button type="button" class="btn btn-app btn-danger" data-dismiss="modal" style="width: 9%; padding: 0px; font-size: 15px;">
                    Close
                </button>

            </div>

        </div>
    </div>
</div>


<input type="hidden" id="hdnefileid" />

@*<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/jquery-ui.custom.min.js"></script>*@
<script src="~/Scripts/jquery-1.7.2.min.js"></script>       @*  .. add it   for dashboard sorting an d*@
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<script type="text/javascript">

    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable();
    });

    function getEFileAttached(id) {
        if (id != null && id != 0) {

            $("#loader-wrapper").show();
            $.ajax({
                url: "/HouseCommittee/HouseCommittee/_eFileViewByIDAttached",
                type: 'GET',
                data: {
                    DepartmentName: '',
                    eFileNumber: '',
                    eFileSubject: '',
                    eFileID: id,
                    CommitteeId: 0
                },
                success: function (data) {
                    if (data) {
                        $("#dlgeFileDetails").modal('show');
                        $("#divAttachedeFileDetails").html("");
                        $("#divAttachedeFileDetails").html(data);
                        $("#loader-wrapper").hide();
                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });
        }
    }


    function getefileid(ele) {

        $("#hdnefileid").val(ele);
    }

    function AddToList(chkid, efileattid) {


        var status = $('#' + chkid + '').is(':checked');

        if (status == true) {
            var eids = efileattid + ',';
            $('#efileids').append(eids);

        }
        else {

            var a = $('#efileids').html();
            var b = a.replace(efileattid + ',', " ");
            $('#efileids').empty();
            $('#efileids').append(b);

        }

    }
    $("#chkSelAll").click(function (e) {

        var status = $("#chkSelAll").prop('checked');
        var checkboxes = document.getElementsByClassName("chkp");
        if (status == true) {
            $('#efileids').html('');

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                    if (checkboxes[i].checked = true) {
                        AddToList(checkboxes[i].id, checkboxes[i].name)
                    }
                }
            }
        }
        else {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;

                }
            }
            $('#efileids').empty();
            $('#efileids').html('');

        }
    });



    $("#ddleFile").change(function () {
        var a = $(this).val();
        if (a == 0) {
            var v = $("#hdnAttachtoefile").val();
            if (v == 'Attach') {
                $("#divOR").hide();
                $("#chkrecv").hide();
            }
            else {
                $("#divOR").show(300);
                $("#chkrecv").show(300);
            }
        }
        else {

            $("#divOR").hide(300);
            $("#chkrecv").hide(300);
        }
    });

    function openModal(id, ele) {
        if (ele == 'N') {
            $("#chkrecv").hide();
            $("#divOR").hide();
            $("#hdnAttachtoefile").val("Attach");
        }
        else if (ele == 'Y') {
            $("#chkrecv").show();
            $("#divOR").show();
            $("#hdnAttachtoefile").val("RECVAttach");

        }
        $("#btnRecvMul").hide();
        $("#btnRecv").show();
        $("#divMsgBox").hide();
        $("#hdnefileattid").val(id)
        $("#dlgRecipientGroupModel").modal('show')

    }
    $("#chkboxreceive").change(function () {
        if ($(this).prop('checked')) {
            $("#divattachefile").hide(300);
            $("#divOR").hide(300);
        }
        else {
            $("#divattachefile").show(300);
            $("#divOR").show(300);
        }

    });

    function UpdateReceive() {

        var chkstatus = $("#chkboxreceive").is(":checked");
        var eFileID = 0;
        if (chkstatus == true) {
            eFileID = 0;
        }
        else {
            var ddval = $("#ddleFile").val();
            if (ddval.length > 0)
            { eFileID = $("#ddleFile").val(); } else {

                var dlg = bootbox.alert("No eFile Found.", function (e) {
                    $(dlg).modal('hide');
                });
                return;
            }

        }


        $("#loader-wrapper").show();

        var Url = '@Url.Action("SaveReceivePaperSingle", "eFile", new { Area = "eFile" })';
        $.ajax({
            url: Url,
            type: 'POST',
            data: {
                eFileAttachId: $("#hdnefileattid").val(),
                eFielId: eFileID
            },
            success: function (data) {
                if (data) {
                    ReceivePaperList();
                    $("#loader-wrapper").hide();
                    var dlg = bootbox.alert(data, function (e) {
                        $(dlg).modal('hide');
                    });
                    //$("#dlgRecipientGroupModel").modal('show');
                    //$("#divattachefile").hide(300);
                    //$("#divOR").hide(300);
                    //$("#chkboxreceive").hide(300);
                    //$("#divMsgBox").show(300);



                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });

    }

    function ReplyPaper(efileattid, refno, Deptid, officeid, doctypeid, linkrefno, papernature) {
        $("#loader-wrapper").show();
        
        var Url = '@Url.Action("ReplyPaperSingle", "eFile", new { Area = "eFile" })';
        $.ajax({
            url: Url,
            type: 'GET',
            data: {
                eFileAttachmentId: efileattid,
                PaperRefNo: refno,
                DepartmentId: Deptid,
                OfficeCode: officeid,
                DocumentTypeId: doctypeid,
                LinkedRefNo: linkrefno,
                PaperNature: papernature
            },
            success: function (data) {
                if (data) {
                    $('#resize-left').width('50%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '50%' }, 500);


                    $("#RightSidebar").html("");
                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();
                }
            },
            complete: function (obj) {
                Initializefileupload();
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });
    }

    function openModalMul(id, ele) {

        if (ele == 'M') {
            $("#chkrecv").hide();
            $("#divOR").hide();
            $("#btnRecvMul").show();
            $("#btnRecv").hide();
        }
        else {
            $("#chkrecv").show();
            $("#divOR").show();
            $("#btnRecvMul").hide();
            $("#btnRecv").show();
        }
        $("#divMsgBox").hide();

        var a = $('#efileids').html();
        if (a.toString().trim().length == 0) {
            var dlg = bootbox.alert("No Paper has been selected", function (e) {
                $(dlg).modal('hide');
            });
            return;
        }
        $("#hdnefileattid").val(a)
        $("#dlgRecipientGroupModel").modal('show')


    }





    function PaperDraftFileMultiple() {

        var a = $('#efileids').html();

        $("#loader-wrapper").show();
        var Url = '@Url.Action("DraftPapers", "HouseCommittee", new { Area = "HouseCommittee" })';
        $.ajax({
            url: Url,
            type: 'POST',
            data: {
                eFileAttIds: a,
            },
            success: function (data) {
                if (data) {
                    RPaperList();
                    $("#loader-wrapper").hide();
                    var dlg = bootbox.alert(data, function (e) {
                        $(dlg).modal('hide');
                    });

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });

    }

    function RPaperList() {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/HouseCommittee/HouseCommittee/GetReceivePaperList",
            type: 'GET',
            data: '{ pageId: "1",pageSize: "25" }',
            success: function (data) {
                if (data) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').html(data);
                    $("#loader-wrapper").hide();
                    $('#resize-left').width('100%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '0%' }, 500);
                    ChangeBreadCrumbParent("Correspondence", "");
                    ChangeBreadCrumbChild("Receive Paper", "");
                    $("#MainDiveThreeTire").show();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }


    function AttachToeFileMultiple() {

        $("#loader-wrapper").show();

        var Url = '@Url.Action("AttachPaperToeFileMultipleR", "eFile", new { Area = "eFile" })';
        $.ajax({
            url: Url,
            type: 'POST',
            data: {
                eFileAttIds: $("#hdnefileattid").val(),
                eFielId: $("#hdnefileid").val()
            },
            success: function (data) {
                if (data) {
                    ReceivePaperList();
                    $("#loader-wrapper").hide();
                    var dlg = bootbox.alert(data, function (e) {
                        $(dlg).modal('hide');
                    });

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });

    }
    function ReceivePaper() {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/HouseCommittee/HouseCommittee/NewReceivePaper",
            type: 'GET',
            data: {},
            success: function (data) {
                if (data) {

                    $('#resize-left').width('50%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '50%' }, 500);

                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            },
            complete: function (obj) {
                Initializefileupload();
                InitializefileuploadWord();
            }
        });

    }


    function myFunction() {
        var x;
        if (confirm("Press a button!") == true) {
            x = "You pressed OK!";
        } else {
            x = "You pressed Cancel!";
        }
        document.getElementById("demo").innerHTML = x;
    }




    function GetBranch(ID) {
        // var comid = CommitteeId;

        $("#loader-wrapper").show();

        var pathurl = '@Url.Action("BranchModel", "HouseCommittee")';
        $.ajax({
            type: 'POST',
            url: pathurl,
            data: {
                Id: ID,
                Type: "Recieved",

            },
            success: function (data) {
                $("#loader-wrapper").hide();
                $('#ShowfullDetailsModel').html("");
                $('#ShowfullDetailsModel').html(data);

                var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Create Movement",
                    width: 600,
                    title_html: true,
                    buttons: [
                        {
                            text: "OK",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

            }
        });
    }

    function DisplayModalPopup() {
        $('#modalMsg').show();
        document.getElementById("overlay").className = "OverlayEffect";
        document.getElementById("modalMsg").className = "ShowModal";

    }
    function RemoveModal() {
        document.getElementById("overlay").className = "";
        $('#modalMsg').hide();
    }

    function CancelAttachemnt() {
        document.getElementById("overlay").className = "";
        $('#modalMsgAttachment').hide();
    }
    function DisplayModaleNoting(Path, ID) {

        $("#loader-wrapper").show();

        $.ajax({
            url: "/HouseCommittee/HouseCommittee/Test_movement",
            type: 'GET',
            data: {
                Path: Path,
                eFileattachedId: ID,
            },
            success: function (data) {
                if (data) {
                    $("#loader-wrapper").hide();
                    $('#MovementModel').html("");
                    $('#MovementModel').show();
                    $('#MovementModel').html(data);
                    var dialog = $("#MovementModel").dialog({
                        resizable: false,
                        modal: true,
                        title: "Movement Detail",
                        width: 900,
                        title_html: true,
                        buttons: [
                            {
                                text: "OK",
                                "class": "btn btn-primary btn-xs",
                                click: function () {
                                    $(this).dialog("close");
                                }
                            }
                        ]
                    });


                    // $('#modalMsg').show("slow");
                    //// document.getElementById("overlay").className = "OverlayEffect";
                    // document.getElementById("modalMsg").className = "ShowModal";

                    // $("#modalMsg").html(data);
                    // ////$("#testId").animate({ scrollTop: 0 }, "fast");
                    // //$('body, html, #modalMsg').scrollTop(-10);
                    // $("#loader-wrapper").hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }

    function DisplayModalePDF(Path, ID) {
        $("#loader-wrapper").show();

        $.ajax({
            url: "/HouseCommittee/HouseCommittee/Test_movementPDF",
            type: 'GET',
            data: {
                Path: Path,
                eFileattachedId: ID,
            },
            success: function (data) {
                if (data) {
                    $("#loader-wrapper").hide();
                    $('#MovementModelPDF').html("");
                    $('#MovementModelPDF').show();
                    $('#MovementModelPDF').html(data);
                    var dialog = $("#MovementModelPDF").dialog({
                        resizable: false,
                        modal: true,
                        //title: "Movement Detail",
                        width: 900,
                        // title_html: true,
                        buttons: [
                            {
                                text: "OK",
                                "class": "btn btn-primary btn-xs",
                                click: function () {
                                    $(this).dialog("close");
                                }
                            }
                        ]
                    });

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }

    function DisplayNotAuthorize() {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/HouseCommittee/HouseCommittee/ForNotAuthorize_New",
            type: 'GET',
            data: {
                //Path: Path,
                //eFileattachedId: ID,
            },
            success: function (data) {
                if (data) {
                    $("#loader-wrapper").hide();
                    $('#MovementModelPDF').html("");
                    $('#MovementModelPDF').html(data);
                    //$('#modalMsg').show("slow");
                    //document.getElementById("overlay").className = "OverlayEffect";
                    //document.getElementById("modalMsg").className = "ShowModal";
                    //$("#modalMsg").html(data);
                    //$('body, html, #modalMsg').scrollTop(-10);
                    //$("#loader-wrapper").hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }

    function GetReadRowData(fileattachmentId, CommitteeId, DataRead) {
        if (DataRead == 0) {
            $.ajax({
                url: "/HouseCommittee/HouseCommittee/Read_RowData",
                type: 'GET',
                data: {

                    eFileattachmentId: fileattachmentId,
                    CommitteeId: CommitteeId
                },
                success: function (data) {
                    if (data) {

                        if (data == "success") {
                            ReceivePaperList();
                        }
                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });
        }
        else {

        }
    }

    //Transfer Papers for Meetings
    function TransferPapers() {

        var a = $('#efileids').html();

        if (a.toString().trim().length == 0) {
            var dlg = bootbox.alert("No Paper has been selected", function (e) {

            });
            return;
        }
        $("#hdnefileattid").val(a)
        var hiddenValues = $('#efileids').html();
        $.ajax({
            url: "/HouseCommittee/HouseCommitteePapersMeetings/GetSelectedPaperListForTransfer",
            type: 'GET',
            data: { papersIds: hiddenValues, PaperType: 'Recieved' },
            success: function (data) {
                if (data) {
                    alert("Papers Transfer Successfully!!");
                    ReceivePaperList();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }
    function FullRejectedRemark(data1, data2, data3) {

        bootbox.alert({
            size: "small",
            title: 'Rejected by -' + data2 + ' on ' + data3.toString("dd/MM/yyyy HH:mm tt"),
            message: data1

        })
    }
    $(document).ready(function () {
        $('#resize-left').show();
        $('#resize-right').show();
    });
    function ReceivePaperList() {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/HouseCommittee/HouseCommittee/MethodRecieve",
            type: 'GET',
            //data: '{ pageId: "1",pageSize: "25" }',
            success: function (data) {
                if (data) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').html(data);
                    $("#loader-wrapper").hide();
                    $('#resize-left').width('100%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '0%' }, 500);
                    ChangeBreadCrumbParent("Correspondence", "");
                    ChangeBreadCrumbChild("Receive Paper", "");
                    $("#MainDiveThreeTire").show();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }
    function ToverifyPaperID(id) {
        bootbox.confirm("Are You Sure To Accept The Paper?", function (result) {
            //alert(id);
            if (result == true) {
                $("#loader-wrapper").show();

                $("#loader-wrapper").show();
                $('.widget-box').show();
                var urlPath = '@Url.Action("ToverifyPaper", "HouseCommittee", new { Area = "HouseCommittee" })';
                $.ajax({
                    url: urlPath,
                    type: 'GET',
                    //data: '{ pageId: "1",pageSize: "25",YearId:' + "5" + ',PapersId:' + "1" + ',strid:' + id + ' }',
                    data: { pageId: '1', pageSize: '25', YearId: '5', PapersId: '1', strid: id },
                    success: function (data) {
                        if (data) {
                            $('#divDataContainer').empty();
                            $('#divDataContainer').html(data);
                            $("#loader-wrapper").hide();
                            $('#resize-left').width('100%');
                            $('#spnScrollPosition').html('1');
                            $('#resize-right').animate({ width: '0%' }, 500);
                            ChangeBreadCrumbParent("Correspondence", "");
                            ChangeBreadCrumbChild("Receive Paper", "");
                            $("#MainDiveThreeTire").show();


                        } else { alert("error"); }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
        });
    }

    function RejectPaper(eFileAttachmentId) {
        $("#loader-wrapper").show();
        var pathurl = '@Url.Action("RejectPaperPop", "CommitteReplyPendency", new { Area = "HouseCommittee" })';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                Id: eFileAttachmentId,

            },
            success: function (data) {
                $("#loader-wrapper").hide();
                $('#ShowfullDetailsModel').html("");
                $('#ShowfullDetailsModel').html(data);

                var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Reject Paper",
                    width: 600,
                    title_html: true,
                    buttons: [
                        {
                            text: "Reject",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                var Remarks = $("#Remark").val();
                                if (Remarks == "") {
                                    $("#Remark").focus();
                                    alert("Please enter remarks");
                                    return false;
                                }
                                bootbox.confirm("Are You sure To Reject The Paper?", function (result) {

                                    if (result == true) {
                                        var pathurl = '@Url.Action("SaveStatus", "HouseCommittee", new { Area = "HouseCommittee" })';
                                        $.ajax({
                                            type: 'GET',
                                            url: pathurl,
                                            data: {
                                                Id: eFileAttachmentId,
                                                Remarks: Remarks
                                            },
                                            success: function (data) {
                                                $('#divDataContainer').empty();
                                                $('#divDataContainer').html(data);
                                                $("#loader-wrapper").hide();
                                                $('#resize-left').width('100%');
                                                $('#spnScrollPosition').html('1');
                                                $('#resize-right').animate({ width: '0%' }, 500);
                                                ChangeBreadCrumbParent("Correspondence", "");
                                                ChangeBreadCrumbChild("Receive Paper", "");
                                                $("#MainDiveThreeTire").show();
                                            }
                                        });
                                    }
                                    else {
                                        //$(this).dialog("close");
                                    }
                                });
                                //alert("Data saved");
                                $(this).dialog("close");
                            }
                        }]


                });

            }
        });
        }
</script>
