﻿@model SBL.DomainModel.Models.eFile.eFileAttachment

<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }
</style>

@using (Html.BeginForm("SaveReplyPaper", "eFile", new { area = "eFile" }, FormMethod.Post, new { @id = "formReplyPaper", @class = "form-horizontal", @role = "form", @enctype = "multipart/form-data" }))
{
	@Html.HiddenFor(m => m.eFileAttachmentId)
	<div class="col-sm-12" style="width: 98%;">
		<div class="widget-box">
			<div class="widget-header">
				<h4 class="widget-title">Reply Paper</h4>
                <div class="widget-toolbar">
					<a href="#" data-action="fullscreen" class="red">
						<i class="ace-icon fa fa-expand bigger-150"></i>
					</a>
				</div>
			</div>


			<div class="widget-body">
				<div class="widget-main no-padding-right no-padding-left">

					<div class="profile-user-info profile-user-info-striped">
						<div class="profile-info-row">
							<div class="profile-info-name"><b>PaperRefNo.</b></div>
							<div class="profile-info-value">
								<div class="input-group col-xs-12">
									<label class="col-xs-12">
										@*@Html.TextBoxFor(a => a.PaperRefNo, new { @id = "ReferenceNo2", @class = "col-xs-12", @placeholder = "Reference No", @autocomplete = "off", @maxlength = "3" })*@
										<input type="text" value="@Model.PaperRefNo" id="ReferenceNo" name="ReferenceNo" readonly />
									</label>
								</div>

							</div>
						</div>
					</div>

					<h4 class="label label-lg label-yellow arrowed-right" style="height: 25px; font-size: 14px; width: 170px;">
						<i class="glyphicon glyphicon-log-in"></i>
						Reply To </h4>


					<div class="profile-user-info profile-user-info-striped">

						<div class="profile-info-row">
							<div class="profile-info-name">Department</div>
							<div class="profile-info-value">
								<div class="input-group col-xs-12">
									<label class="col-xs-12">
										@Html.DropDownList("DepartmentId", ViewBag.ListOfCodes as SelectList, new { @class = "col-xs-12",@disabled="disabled" })
									</label>
								</div>

							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">Office</div>
							<div class="profile-info-value">
								<div class="input-group col-xs-12">
									<label class="col-xs-12">
										<select id="lstOffice" name="lstOffice" class="col-xs-12" disabled="disabled" >
											<option value="">Select Office</option>
										</select>
									</label>
								</div>

							</div>
						</div>

					</div>
					<h4 class="label label-lg label-yellow arrowed-right" style="height: 25px; font-size: 14px; width: 170px;">
						<i class="glyphicon glyphicon-list-alt"></i>
						Paper Details</h4>

					<div class="profile-user-info profile-user-info-striped">


						<div class="profile-info-row">
							<div class="profile-info-name">Paper Type</div>
							<div class="profile-info-value">
								<div class="input-group col-xs-12">
									<label class="col-xs-12">
                                                                             @Html.DropDownList("DocumentTypeId", ViewBag.eFilePaperType as SelectList, "-Select Paper Type-", new {disabled="disabled",@class = "col-xs-12 RemoveDdlBorder" })

										@*<select id="DocumentTypeId" name="DocumentTypeId" class="col-xs-12 RemoveDdlBorder" disabled="disabled">
											<option value="0">-Select Paper Type-</option>
											<option value="1">Subject Material</option>
											<option value="2">Questionnaire</option>
											<option value="3">Oral Examination</option>
											<option value="4">Action Taken Report</option>
											<option value="5">Verbatim Record of proceeding</option>
											<option value="6">Orginal Report</option>
											<option value="8">Further action taken report</option>
											<option value="9">Meeting at vidhan sabha secretariat</option>
											<option value="10">Spot study tour</option>
										</select>*@
									</label>
								</div>

							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">Paper Nature</div>
							<div class="profile-info-value">
								<div class="input-group col-xs-12">
									<label class="col-xs-12">
                                                                             @Html.DropDownList("papernature", ViewBag.eFilePaperNature as SelectList, "-Select Paper Nature-", new {@disabled="disabled", @class = "col-xs-12 RemoveDdlBorder" })
										@*<select id="papernature" name="papernature" class="col-xs-12 RemoveDdlBorder" disabled="disabled">
											<option value="0">-Select Paper Nature-</option>
											<option value="1">Reply Awaited</option>
											<option value="2">Reply to Send</option>
											<option value="3">Information</option>
											<option value="4">Reply Awaited (Reminder)</option>
										</select>*@
									</label>
								</div>

							</div>
						</div>
						<div class="profile-info-row" id="divPaperDays">
							<div class="profile-info-name">Paper Nature Days</div>
							<div class="profile-info-value">
								<div class="input-group col-xs-12">
									<label class="col-xs-12">
										@Html.TextBoxFor(model => model.PaperNatureDays, new { @id = "PaperNatureDays", @class = "col-xs-12", @placeholder = "Paper Nature Days", @autocomplete = "off", @maxlength = "3" })
									</label>
								</div>

							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">Subject</div>
							<div class="profile-info-value">
								<div class="input-group col-xs-12">
									<label class="col-xs-12">
										@Html.TextBoxFor(model => model.Title, new { @id = "Title", @class = "col-xs-12 RemoveBorder", @placeholder = "Subject", @autocomplete = "off", @maxlength = "501" })

									</label>
								</div>

							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">Attach</div>
							<div class="profile-info-value">
								<div class="input-group col-xs-12">
									<label class="col-xs-12">
                                        @*<input type="file"  required="required" id="eAttachfile" name="file" />*@
                                        <span class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>Choose file</span>
                                            <input style="font-size: 22px;" id="fileupload" accept=".pdf" type="file" name="fileupload">
                                        </span>
                                        <br />
                                        <br />

                                        <div style="width: 100%;" id="fileuploadcontant">
                                            <div style="width: 100%;">
                                                <span id="removeUpload" onclick="removefileupload()" class="glyphicon glyphicon-remove" style="color: red; float: right;"></span>
                                                <div id="file_name1" class="file_name1"></div>
                                                <div class="file_size1"></div>
                                            </div>
                                            <div style="width: 100%;">
                                                <div class="show_hide">
                                                    <div class="progress1" style="height: 10px; width: 100%">
                                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" style="width: 0%;">
                                                            <span class="sr-only">0% complete</span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="help-block col-xs-6 col-sm-reset inline">
                                        </div>


                                    </label>
								</div>

							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">Remark</div>
							<div class="profile-info-value">
								<div class="input-group col-xs-12">
									<label class="col-xs-12">
										
										@Html.TextAreaFor(model => model.Description, new { @id = "CommDesc", @class = "col-xs-12", @placeholder = "Remark", @autocomplete = "off", @maxlength = "501", })
									</label>
								</div>
							</div>
						</div>


					</div>
				</div>
				<div class="wizard-actions">
					<div style="margin-bottom: 40px;">
						<div class="form-inline">
							<button type="button" id="Reportbtns" onclick="return confReplyPaperValidation();" class="btn btn-sm btn-purple">
								<i class="ace-icon fa fa-floppy-o bigger-125"></i>
								@Resources.MasterDataDashboard.Save</button>
							<button type="reset" class="btn btn-sm btn-info">
								<i class="ace-icon fa fa-times bigger-125"></i>
								@Resources.MasterDataDashboard.Reset
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

 
		 
}
<script>

    $(document).ready(function () {

        $(':file').change(function () {
            for (var i = 0; i < this.files.length; ++i) {
                var name = this.files.item(i).name;
                var fileExtension = ['pdf'];
                var Extension = name.split('.').pop().toLowerCase();
                if ($.inArray(Extension, fileExtension) == -1) {
                    alert(name + " is not valid format. Only '.pdf' formats are allowed.");
                    $(':file').val("");
                    return false;
                }
            }
        });

        $('.RemoveBorder').keypress(function () {
            var Id = this.id;
            $("#" + Id).next().hide();
            $("#" + Id).css("border", "1px solid green");
        });

        $('.RemoveDdlBorder').change(function () {

            var Id = this.id;
            if ($("#" + Id).val() != '') {
                $("#" + Id).next().hide();
                $("#" + Id).css("border", "1px solid green");
            }
            else {
                $("#" + Id).after("<span class='ErrorMessage'>Required</span>");
                $("#" + Id).css("border", "1px solid red");
            }

        });
    });


    function confReplyPaperValidation() {
       
        $('.ErrorMessage').remove('');
        var IsValid = true;
        var ReferenceNo = $('#ReferenceNo').val();
        if ($('#ReferenceNo').val() == '') {
            $('#ReferenceNo').css("border", "1px solid red");
            $('#ReferenceNo').after("<span class='ErrorMessage'> Reference no is Required</span>");
            IsValid = false;
        }
        if ($('#DepartmentId').val() == '') {
            $('#DepartmentId').css("border", "1px solid red");
            $('#DepartmentId').after("<span class='ErrorMessage'> Reference no is Required</span>");
            IsValid = false;
        }
        if ($('#lstOffice').val() == '') {
            $('#lstOffice').css("border", "1px solid red");
            $('#lstOffice').after("<span class='ErrorMessage'> Reference no is Required</span>");
            IsValid = false;
        }
        if ($('#DocumentTypeId').val() == '') {
            $('#DocumentTypeId').css("border", "1px solid red");
            $('#DocumentTypeId').after("<span class='ErrorMessage'> Paper type is Required</span>");
            IsValid = false;
        }
        if ($('#papernature').val() == '') {
            $('#papernature').css("border", "1px solid red");
            $('#papernature').after("<span class='ErrorMessage'> Paper nature is Required</span>");
            IsValid = false;
        }
        if ($('#Title').val() == '') {
            $('#Title').css("border", "1px solid red");
            $('#Title').after("<span class='ErrorMessage'>Paper Subject is Required</span>");
            IsValid = false;
        }
        if (IsValid) {
            //////////////////// Enable Controls////////////////////
            $('#papernature').attr("disabled", false);
            $('#DepartmentId').attr("disabled", false);
            $('#lstOffice').attr("disabled", false);
            $('#DocumentTypeId').attr("disabled", false);
            //////////////////// Enable Controls////////////////////
            SaveReplyPaper();
        }
        else {
            return false;
        }
    }


    $(function () {
       
		$("#divPaperDays").hide();
		 
		var todeptid = '@Model.DepartmentId';
		$("#DepartmentId").val(todeptid);
		getOfficeDeptWise(todeptid);
		
		//var toOffid = '@Model.OfficeCode';
	    //$("#lstOffice").val(toOffid);

	    $("#DocumentTypeId").val('@Model.DocumentTypeId');

		$("#papernature").val(2);
		//$("#papernature").prop("readonly", "readonly");


	});


	$("#papernature").change(function () {

		var v = $(this).val();
		if (v == 1 || v == 4) {
			$("#divPaperDays").show();
		} else {
			$("#divPaperDays").hide();
		}
	});

	function SaveReplyPaper() {
		$("#loader-wrapper").show();

		var model = $("#formReplyPaper").serialize();

		var Url = '@Url.Action("SaveReplyPaper", "eFile", new { Area = "eFile" })';
		$.ajax({
			url: Url,
			type: 'POST',
			data: model,
			success: function (data) {

				if (data) {
				    $("#loader-wrapper").hide();
				    bootbox.alert(data);
				    if (data != "Please select pdf file") {
				        ReceivePaperList();
				    }
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {

				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});
			}
		});
	}

	$("#DepartmentId").change(function () {
		getOfficeDeptWise($("#DepartmentId").val());
	});
	function getOfficeDeptWise(Deptid) {
	    if (Deptid != "" && Deptid!=null) {
	        $("#loader-wrapper").show();

	        var Url = '@Url.Action("GetOfficesByDeptId", "OnlineMemberQuestions", new { Area = "Notices" })';
	        $.ajax({
	            url: Url,
	            type: 'GET',
	            data: { DeptId: Deptid },
	            success: function (data) {

	                if (data) {
	                    $("#lstOffice").html("");
	                    for (var i = 0; i < data.length; i++)
	                    { var item = data[i]; $("#lstOffice").append($("<option></option>").val(item.OfficeId).html(item.officename)) }
	                    $("#lstOffice").trigger("chosen:updated");
	                    //$("#lstOffice").prop("disabled", "");
	                    $("#loader-wrapper").hide();
	                }
	                else {
	                    $("#lstOffice").html("");
	                    $("#lstOffice").trigger("chosen:updated");

	                }
	            },
	            error: function (xhr, ajaxOptions, thrownError) {

	                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

	                    $(dlg).modal('hide');
	                });
	            },
	            complete: function () {
	            	var toOffid = '@Model.OfficeCode';
	            	$("#lstOffice").val(toOffid);

	            }
	        });
	    }
	    else {
	        //do nothing.
	    }

	}
</script>
