﻿
<div>
    <img src="~/Content/img/cancel-icon.png" style="width: 16px; /* top: 47px; */ margin-left: 811px; cursor: pointer; margin-top: 0px;" onclick="CancelNoticetoDept()" />
    <div>

        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.MasterData

                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Papers to eFile
                </small>
            </h1>
        </div>

        <!-- /section:settings.box -->

        <div class="widget-header widget-header-blue widget-header-flat">

            <h4 class="widget-title lighter">Add Papers to eFile</h4>
        </div>


        <!-- PAGE CONTENT BEGINS -->
        <div class="row">

            <input type="hidden" name="SendStatus" value="0" />
            <input type="hidden" name="Type" value="FromeFile" />
            <input type="hidden" name="eFileID" value="" />
            <input type="hidden" name="CommId" value="" />
            <input type="hidden" name="DepartmentId" value="HPD0033" />
            <div class="tabbable">

                <div class="tab-content no-border padding-24">
                    <div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="Name">Notice Type</label>                            <div class="col-sm-9 help-block">
                                <select id="NoticetoDeptId" name="NoticetoDeptIdName">
                                   
                                </select>                                
                            </div>
                        </div> 

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="Name">Notice Type</label>                            <div class="col-sm-9 help-block">
                                <select id="DocumentTypeId" name="DocumentTypeId">
                                    <option value="1">Subject Material</option>
                                    <option value="2">Questionnaire</option>
                                    <option value="3">Oral Examination</option>
                                    <option value="4">Action Taken Report</option>
                                    <option value="5">Verbatim Record of proceeding</option>
                                    <option value="6">Orginal Report</option>
                                    <option value="7">Action taken report</option>
                                    <option value="8">Further action taken report</option>
                                    <option value="9">Meeting at vidhan sabha secretariat</option>
                                    <option value="10">Spot study tour</option>
                                </select>
                                <span class="field-validation-error" id="CommitteeTypeNamevalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                            </div>
                        </div>

                        <div class="space-2"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="Address">Index Title</label>                            <div class="col-sm-9">

                                @Html.TextBox("m", new { @id = "CommDesc", @class = "col-xs-10 col-sm-9", @placeholder = "Title", @autocomplete = "off", @maxlength = "501" })

                                <div class="help-block col-xs-12 col-sm-reset inline">
                                    <span class="field-validation-error" @*id="Descriptionvalidation"*@ style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                </div>

                            </div>

                        </div>

                        <div class="space-2"></div>
                        <div class="space-2"></div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="Address">Attach Paper</label>
                            <div class="col-sm-9">

                                <input type="file" id="eAttachfile" name="file" />
                                <div class="help-block col-xs-12 col-sm-reset inline">
                                    <span class="field-validation-error" @*id="Descriptionvalidation"*@ style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>


                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>


            <div class="btn-group pull-right padding-10" style="margin-right: 3%;">
                <!-- #section:plugins/fuelux.wizard.buttons -->


                <button type="submit" id="savebtn" class="btn btn-sm btn-purple ">
                    <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                    @Resources.MasterDataDashboard.Save</button>
                <button type="reset" class="btn btn-sm btn-info">
                    <i class="ace-icon fa fa-times bigger-125"></i>
                    @Resources.MasterDataDashboard.Reset
                </button>

                <!-- /section:plugins/fuelux.wizard.buttons -->
            </div>
            }

                            <!-- /.row -->
        </div>
        <!-- /.page-content -->
    </div>
</div>
<script>
    $(document).ready(function () {
        
        $(':file').change(function () {
            for (var i = 0; i < this.files.length; ++i) {
                var name = this.files.item(i).name;
                var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp', 'pdf', 'doc', 'docx'];
                var Extension = name.split('.').pop().toLowerCase();
                if ($.inArray(Extension, fileExtension) == -1) {
                    alert(name + " is not valid format. Only '.jpeg','.jpg', '.png', '.gif', '.bmp','doc','docx','pdf' formats are allowed.");
                    $(':file').val("");
                    return false;
                }
            }
        });
    })
</script>









