﻿@model SBL.DomainModel.Models.CommitteeReport.CommitteeReportDetails
@{
    //ViewBag.Title = "_ReplyToCommittee";

    string OldpdfId = @Model.eFileId.ToString() + "/" + @Model.eFileNumber;
}

<input type="hidden" value="@Model.eFileId" id="hdeFileID" />
<input type="hidden" value="@Model.documentTypeId" id="hddocumentTypeId" />
<input type="hidden" value="@Model.DepartmentId" id="hdDepartment" />
<input type="hidden" value="@Model.Type" id="hdType" />

   <div id="newNoticeCreate" class="modal">
   </div>

    <div class="widget-header widget-header-flat">
        <h4 class="widget-title">Committee Report</h4>                       
    </div>  

@if(Model.Approve==2){
    <div class="space-4"></div>
<div class="alert alert-info">
    <button class="close" data-dismiss="alert">
        <i class="ace-icon fa fa-times"></i>
    </button>
    Approved Draft of Committee Report!
</div>
}
    
    <div class="widget-body">
        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">Assembly </div>

                    <div class="profile-info-value">@Model.Assembly
                      
                        <span id="Assemblytype" class="">
                     
                        </span>
                    </div>
                </div>

                  <div class="profile-info-row">
                    <div class="profile-info-name">Session </div>

                    <div class="profile-info-value">@Model.Session
                      
                        <span id="Sessiontype" class="">
                     
                        </span>
                    </div>
                </div>
                  <div class="profile-info-row">
                    <div class="profile-info-name">Committee Type </div>

                    <div class="profile-info-value">@Model.CommitteeType
                      
                        <span id="committeeTypetype" class="">
                     
                        </span>
                    </div>
                </div>
                  <div class="profile-info-row">
                    <div class="profile-info-name">Committee </div>

                    <div class="profile-info-value">@Model.Committee
                      
                        <span id="Committeetype" class="">
                     
                        </span>
                    </div>
                </div>
                  <div class="profile-info-row">
                    <div class="profile-info-name">Department </div>

                    <div class="profile-info-value">@Model.Department
                      
                        <span id="Departmenttype" class="">
                     
                        </span>
                    </div>
                </div>
                  <div class="profile-info-row">
                    <div class="profile-info-name">eFile </div>

                    <div class="profile-info-value">@Model.eFileNumber
                      
                        <span id="eFiletype" class="">
                     
                        </span>
                    </div>
                </div>
                  <div class="profile-info-row">
                    <div class="profile-info-name">Report Type </div>

                    <div class="profile-info-value">@Model.ReportType
                      
                        <span id="reporttypetype" class="">
                     
                        </span>
                    </div>
                </div>
                  <div class="profile-info-row">
                    <div class="profile-info-name">Report Title </div>

                    <div class="profile-info-value">@Model.ReportTitle
                      
                        <span id="reporttitletype" class="">
                     
                        </span>
                    </div>
                </div>
                  <div class="profile-info-row">
                    <div class="profile-info-name">Report Description </div>

                    <div class="profile-info-value">@Model.ReportDescription
                      
                        <span id="reportdescriptiontype" class="">
                     
                        </span>
                    </div>
                </div>
                  <div class="profile-info-row">
                    <div class="profile-info-name">Attached Paper </div>

                    <div class="profile-info-value">
                       <img src="/Images/Common/PDF.png" alt="Download PDF" id="@OldpdfId" title="Download PDF" onclick="DisplayModalPopup()" ><label id="lbAttachedPaper">@Model.AttachedPaper</label>
                        <span id="attachpapertype" class="">
                     
                        </span>
                    </div>
                </div>               

            </div>
        </div>
    </div>
    
    <div class="space-1"></div>  
<div class="clearfix form-actions" style="text-align:center;">
    @if(Model.Approve==1){
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="button" onclick="SubmitReportData('@Model.Type');">
												<i class="ace-icon fa fa-check bigger-110"></i>
												Send to Speaker
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset" onclick="Reset();">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												Cancel
											</button>
										</div>
    }else if(Model.Approve==2)
    {
        <button class="btn disabled" >Approved </button>
    }
									</div>

@Scripts.Render("~/Content/bootstrapUp/jquery.fileupload.css","~/Content/ScriptsUp/jquery.fileupload.js")
<script>
    
    function SubmitReportData(type) {      
        var reportSendlogType = null;
        var Approve = 0;
        switch (type) {           
            case 'VidhanSabhaSecretary': {
                reportSendlogType = 'BranchOffice';
                
                break;
            }
        }
        var eFileAttachments = {
            eFileAttachmentId: '@Model.eFileAttachmentId',eFileId: $('#hdeFileID').val(), documentTypeId: $('#hddocumentTypeId').val(), eFileName: $('#lbAttachedPaper').text(),
            Description: '@Model.ReportDescription', SendStatus:false , DepartmentId: $('#hdDepartment').val(), Title: '@Model.ReportTitle',
            Type: reportSendlogType, ParentId: 0, SplitFileCount: 0, ReportLayingHouse: 0, Approve: 1
        }
        
        SubmitReport(eFileAttachments);
    }


    function SubmitReport(eFileAttachments) {        
        $.ajax({
            type: "POST",
            data: JSON.stringify(eFileAttachments),
            url: '/CommitteeReport/CommitteeReport/ReportSubmission',
            dataType: "json",
            contentType: "application/json",
            success: function (data) {
                alert('Approved')
            }
        })
    }
    function DisplayModalPopup() {
        $('#modalMsg').show();
        document.getElementById("overlay").className = "OverlayEffect";
        document.getElementById("modalMsg").className = "ShowModal";

    }
    function RemoveModal() {
        document.getElementById("overlay").className = "";
        $('#modalMsg').hide();
    }
 
</script>