﻿<div id="sidebar" class="sidebar responsive">
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>


    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div id="sidebar-shortcuts-large" class="sidebar-shortcuts-large">

            <a title="Help" data-rel="tooltip" class="btn btn-warning" href="#" target="_blank">
                <i class="ace-icon fa fa-users"></i>
            </a>

            <button class="btn btn-info" id="sizeUp" title="Increase fontsize" data-placement="bottom" data-rel="tooltip">
                <b>@Resources.PaperLaidDepartment.A<sup>+</sup> </b>
            </button>

            <button class="btn btn-warning" id="sizeDown" title="Decrease fontsize" data-placement="bottom" data-rel="tooltip">
                <b>@Resources.PaperLaidDepartment.A<sup>-</sup> </b>
            </button>





            @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.LanguageID == "7C4F28F6-02FC-4627-993D-E255037531AD")
            {
                <button id="btnHindi" title="Change language" data-placement="right" data-rel="tooltip" class="btn btn-success" onclick="ChangeLangaugeHindi();">
                    @Resources.PaperLaidDepartment.Hindi
                </button>
            }
            else
            {
                <button id="btnEnglish" style="width: 70px" title="Change language" data-placement="right" data-rel="tooltip" class="btn btn-success" onclick="ChangeLangaugeEnglish();">
                    @Resources.PaperLaidDepartment.English
                </button>
            }
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div>

    <ul class="nav nav-list">
        <li class="active">
            <a href="#">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text">@Resources.PublicPasses.LNPMyDashboard </span>
            </a>
            <b class="arrow"></b>
        </li>


        <li class="" id="assemblymain">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark" id="assemblylinkid"></i>
                <span class="menu-text">@Resources.MasterDataDashboard.AssemblyDetails</span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <ul class="submenu" id="assemblysub">
                <li class="hsub" id="assemblylist">
                    <a href="@Url.Action("ShowAllAssemblyDetails", "Assembly")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.Assembly </span>
                    </a>
                </li>
                <li class="hsub" id="assemblyremarkslist">
                    <a href="@Url.Action("Index", "AssemblyRemarks")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.AssemblyRemarks </span>
                    </a>
                </li>
                <li class="hsub" id="sessiontypelist">
                    <a href="@Url.Action("Index", "SessionType")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.SessionType  </span>
                    </a>
                </li>
                <li class="hsub" id="sessionslist">
                    <a href="@Url.Action("Index", "Sessions")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.Session  </span>
                    </a>
                </li>

                <li class="hsub" id="sessiondatelist">
                    <a href="@Url.Action("Index", "SessionDates")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.SessionDates  </span>
                    </a>
                </li>


                <li class="hsub" id="eventlist">
                    <a href="@Url.Action("Index", "Event")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.Events </span>
                    </a>
                </li>

            </ul>
        </li>


         <!--Updated praveen for committee system-->



         @*<ul class="nav nav-list">
        <li class="active">
            <a href="#">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text">@Resources.PublicPasses.LNPMyDashboard </span>
            </a>
            <b class="arrow"></b>
        </li>*@


        

               


             

           @* </ul>
        </li>*@


        <!--Updated praveen for committee system-->
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text">Legislature Committees
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="hsub">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Admin</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="hsub">
                            <a href="@Url.Action("GetAllCommitee", "Committee", new { @area = "SuperAdmin" })" >
                                <i class="menu-icon fa fa-caret-right"></i>
                                Committee Type
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="hsub">
                            <a href="@Url.Action("GetAllNewComittee", "Committee", new { @area = "SuperAdmin" })" >
                                <i class="menu-icon fa fa-caret-right"></i>
                                Committee
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

                <li class="hsub">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Committee Members</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="">
                            @* <a href="@Url.Action("GroupMemberMaster", "RecipientGroups", new { @area = "RecipientGroups" })"  >
                                <i class="menu-icon fa fa-caret-right"></i>
                                Committee 
                            </a>*@
                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            @*<a href="@Url.Action("GroupMaster", "RecipientGroups", new { @area = "RecipientGroups" })" >
                                <i class="menu-icon fa fa-caret-right"></i>
                                eFile
                            </a>*@
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Vidhan Sabha Typist</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        @* <li class="">
                            <a href="@Url.Action("GroupMemberMaster", "Department", new { @area = "RecipientGroups" })"  >
                                <i class="menu-icon fa fa-caret-right"></i>
                                eFile 
                            </a>
                            <b class="arrow"></b>
                        </li>*@
                       @* <li class="">
                            <a href="@Url.Action("Index", "Department", new { @area = "eFile" })" >
                                <i class="menu-icon fa fa-caret-right"></i>
                                Notice to Department
                            </a>
                            <b class="arrow"></b>
                        </li>*@
                        <li class="">
                            @*  <a href="@Url.Action("GroupMaster", "RecipientGroups", new { @area = "RecipientGroups" })" >
                                <i class="menu-icon fa fa-caret-right"></i>
                                Reply from Department
                            </a>*@
                            <b class="arrow"></b>
                        </li>
                          <li class="">
                            <a href="@Url.Action("GetAllNewComittee", "Committee", new { @area = "SuperAdmin" })" >
                                <i class="menu-icon fa fa-caret-right"></i>
                                Committee
                            </a>
                            <b class="arrow"></b>
                        </li>
                       @* <li class="">
                            <a href="@Url.Action("ViewEditCommitteeReport", "CommitteeReport", new { @area = "CommitteeReport" })" >
                                <i class="menu-icon fa fa-caret-right"></i>
                               prepare Committee Report
                            </a>
                            <b class="arrow"></b>
                        </li>
                         <li class="">
                            <a href="@Url.Action("ViewEditCommitteeReport", "CommitteeReport", new { @area = "CommitteeReport" })" >
                                <i class="menu-icon fa fa-caret-right"></i>
                               Submit Committee Report
                            </a>
                            <b class="arrow"></b>
                        </li>*@
                    </ul>

                </li>

                

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Section Officer</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="">
                              <a href="@Url.Action("ViewEditCommitteeReport", "CommitteeReport", new { @area = "CommitteeReport" })"  >
                                <i class="menu-icon fa fa-caret-right"></i>
                                Edit & Submit Report 
                            </a>
                            <b class="arrow"></b>
                        </li>                                               
                    </ul>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Branch Officer</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="">
                             <a href="@Url.Action("ReviewApproveCommitteeReportSectionOffice", "CommitteeReport", new { @area = "CommitteeReport" })" >
                                <i class="menu-icon fa fa-caret-right"></i>
                                Approve Report
                            </a>
                        <li class="">
                             <a href="@Url.Action("FinalApproveCommitteeReportBranchOffice", "CommitteeReport", new { @area = "CommitteeReport" })" >
                                <i class="menu-icon fa fa-caret-right"></i>
                                Approve Final Report
                            </a>
                           
                        </li>
                        <li class="">
                            @*  <a href="@Url.Action("GroupMaster", "RecipientGroups", new { @area = "RecipientGroups" })" >
                                <i class="menu-icon fa fa-caret-right"></i>
                                Approve Report
                            </a>*@
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

               @* <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Vidha Sabha Secretary</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="">
                           
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>*@

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Vidhan Sabha Secretary...</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="">
                              <a href="@Url.Action("ReviewApproveCommitteeReportBranchOffice", "CommitteeReport", new { @area = "CommitteeReport" })"  >
                                <i class="menu-icon fa fa-caret-right"></i>
                                Approve Report
                            </a>                            
                        </li>
                         <li class="">
                              <a href="@Url.Action("ReviewApproveCommitteeReportVidhanSabhaSecretary", "CommitteeReport", new { @area = "CommitteeReport" })"  >
                                <i class="menu-icon fa fa-caret-right"></i>
                                Send Report
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Speaker</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="">
                            <a href="@Url.Action("SpeakerApproveCommitteeReport", "CommitteeReport", new { @area = "CommitteeReport" })"  >
                                <i class="menu-icon fa fa-caret-right"></i>
                                Approve Report
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Govt. Departments</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="">
                            @* <a href="@Url.Action("GroupMemberMaster", "RecipientGroups", new { @area = "RecipientGroups" })"  >
                                <i class="menu-icon fa fa-caret-right"></i>
                                Notice From Vidhan Sabha 
                            </a>*@
                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            @*<a href="@Url.Action("GroupMaster", "RecipientGroups", new { @area = "RecipientGroups" })" >
                                <i class="menu-icon fa fa-caret-right"></i>
                                Reply to Notice
                            </a>*@
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>

            </ul>
        </li>






        <li class="" id="membermain">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark" id="memberlinkid"></i>
                <span class="menu-text">@Resources.MasterDataDashboard.MembersDetails
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <ul class="submenu" id="memberssub">

                <li class="hsub" id="memberslist">
                    <a href="@Url.Action("Index", "Member")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.Members </span>
                    </a>
                </li>
                <li class="hsub" id="constituencylist">
                    <a href="@Url.Action("ShowAllDetails", "Constituency")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.Constituency </span>
                    </a>
                </li>

                <li class="hsub" id="memassemblylist">
                    <a href="@Url.Action("ShowAllAssemblies", "MemberAssembly")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.MemberAssembly</span>
                    </a>
                </li>

                <li class="hsub" id="memassemblyremarkslist">
                    <a href="@Url.Action("Index", "MemberAssemblyRemarks")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.MemberAssemblyRemarks</span>
                    </a>
                </li>
                <li class="hsub" id="memDesiglist">
                    <a href="@Url.Action("Index", "MemberDesignation")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.MemberDesignation</span>
                    </a>
                </li>

                <li class="hsub" id="partylist">
                    <a href="@Url.Action("Index", "Party")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.Party  </span>
                    </a>
                </li>

                <li class="hsub" id="statelist">
                    <a href="@Url.Action("Index", "State")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.State </span>
                    </a>
                </li>
                <li class="hsub" id="districtlist">
                    <a href="@Url.Action("Index", "District")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.District </span>
                    </a>
                </li>

                <li class="hsub" id="panchayatlist">
                    <a href="@Url.Action("Index", "Panchayat")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.Panchayat  </span>
                    </a>
                </li>

                <li class="hsub" id="villagelist">
                    <a href="@Url.Action("ShowAllVillageDetails", "Village")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.Village  </span>
                    </a>
                </li>

            </ul>
        </li>

        <li class="" id="ministermain">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark" id="ministerlinkid"></i>
                <span class="menu-text">@Resources.MasterDataDashboard.MinisterDetails
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <ul class="submenu" id="ministersub">
                <li class="hsub" id="ministrylist">
                    <a href="@Url.Action("Index", "Ministry")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.Ministry </span>
                    </a>
                </li>
                <li class="hsub" id="ministryministerslist">
                    <a href="@Url.Action("Index", "MinsitryMinister")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.MinsitryMinisters  </span>
                    </a>
                </li>

                <li class="hsub" id="ministrydeptlist">
                    <a href="@Url.Action("Index", "MinistryDepartment")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.MinistryDepartments </span>
                    </a>
                </li>
                <li class="hsub" id="RotationofMinisterlist">
                    <a href="@Url.Action("GetAllRotationofMinisters", "RotationofMinisters")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.RotationofMinisters </span>
                    </a>
                </li>

            </ul>
        </li>

        <li class="" id="employeemain">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark" id="employeelinkid"></i>
                <span class="menu-text">@Resources.MasterDataDashboard.EmployeeDetails
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <ul class="submenu" id="employeesub">

                <li class="hsub" id="deptlist">
                    <a href="@Url.Action("Index", "Department")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.Department </span>
                    </a>
                </li>

                <li class="hsub" id="designalist">
                    <a href="@Url.Action("Index", "Designations")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.Designation </span>
                    </a>
                </li>

                <li class="hsub" id="emplist">
                    <a href="@Url.Action("ShowAllEmployeeDetails", "Employee")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.Employee </span>
                    </a>
                </li>

                <li class="hsub" id="seclist">
                    <a href="@Url.Action("Index", "Secretory")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.Secretary</span>
                    </a>
                </li>
                <li class="hsub" id="secdeptlist">
                    <a href="@Url.Action("Index", "SecretoryDepartment")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.SecretoryDepartment </span>
                    </a>
                </li>

                <li class="hsub" id="hodList">
                    <a href="@Url.Action("Index", "HOD")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.HOD</span>
                    </a>
                </li>

                @*<li class="hsub" id="officelist">
                    <a href="@Url.Action("", "")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.Offices</span>
                    </a>
                </li>*@



            </ul>
        </li>


        <li class="" id="othermain">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark" id="otherlinkid"></i>
                <span class="menu-text">@Resources.MasterDataDashboard.OtherDetails
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <ul class="submenu" id="othersub">

                <li class="hsub" id="authoritylist">
                    <a href="@Url.Action("Index", "Authority")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.Authority </span>
                    </a>
                </li>

                <li class="hsub" id="billtypelist">
                    <a href="@Url.Action("Index", "Bill")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.BillType </span>
                    </a>
                </li>
                <li class="hsub" id="billstatuslist">
                    <a href="@Url.Action("Index", "BillStatus")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.BillStatus </span>
                    </a>
                </li>
                @*   <li class="hsub" id="committeelist">
                    <a href="@Url.Action("GetAllCommitee", "Committee")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.CommitteeType </span>
                    </a>
                </li>
                <li class="hsub" id="committeeslist">
                    <a href="@Url.Action("GetAllNewComittee", "Committee")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Committee</span>
                    </a>
                </li>*@
                <li class="hsub" id="committeesdept">
                    <a href="@Url.Action("ShowDepartmentNotices", "Committee")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Department Notices</span>
                    </a>
                </li>
                <li class="hsub" id="committeesNoticeTodept">
                    <a href="@Url.Action("SendNoticeToDepartmentList", "Committee")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Send Notice List</span>
                    </a>
                </li>
                <li class="hsub" id="committeeMembersPDF">
                    <a href="@Url.Action("GetCommitteeMembersAsPDF", "Committee")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Committee members list(PDF)</span>
                    </a>
                </li>
                <li class="hsub" id="doctypelist">
                    <a href="@Url.Action("Index", "DocumentType")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.DocumentType </span>
                    </a>
                </li>

                <li class="hsub" id="langlist">
                    <a href="@Url.Action("Index", "Languages")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.Languages </span>
                    </a>
                </li>
                <li class="hsub" id="noticetypelist">
                    <a href="@Url.Action("GetAllNoticeType", "NoticeType")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.NoticeType </span>
                    </a>
                </li>


                <li class="hsub" id="pctlist">
                    <a href="@Url.Action("Index", "PaperCategoryType")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.PaperCategoryType </span>
                    </a>
                </li>

                <li class="hsub" id="pclist">
                    <a href="@Url.Action("Index", "PassCategory")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.PassCategories </span>
                    </a>
                </li>

                <li class="hsub" id="questionlist">
                    <a href="@Url.Action("GetQuestionRules", "QusetionRules")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.QuestionRules </span>
                    </a>
                </li>

                <li class="hsub" id="sitesettlist">
                    <a href="@Url.Action("Index", "SiteSettings")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.SiteSettings </span>
                    </a>
                </li>
                <li class="hsub" id="sitesettlist1">
                    <a href="@Url.Action("eFileListAll", "eFile", new { Area = "eFile" })">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">eFileListAll</span>
                    </a>
                </li>

                <li class="hsub" id="MonthlySMSQuotalist">
                    <a href="@Url.Action("Index", "MonthlySMSQuota")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.MemberSMSQuotaAddOn </span>
                    </a>
                </li>

                <li class="hsub" id="CutMotionDemandlist">
                    <a href="@Url.Action("GetAllCutMotionDemand", "CutMotionDemand")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.MasterDataDashboard.CutMotionDemand </span>
                    </a>
                </li>


            </ul>
        </li>



        <li class="" id="liStarredQuestions">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark" id="mobilelinkid"></i>
                <span class="menu-text" onclick="GetUserRole();getInnerItemDashboard();">@Resources.UserManagement.UserManagements

                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">


                <li class="hsub" id="UserTypelist">
                    <a href="@Url.Action("GetUserType", "UserType")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">User Type</span>
                    </a>
                </li>
                <li class="hsub" id="SubUserTypelist">
                    <a href="@Url.Action("GetUserSubUserType", "SubUserType")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Sub User Type</span>
                    </a>
                </li>

                <li class="hsub" id="UserAccesslist">
                    <a href="@Url.Action("GetUserModules", "Module")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">User Access</span>
                    </a>
                </li>


                <li class="hsub" id="UserSubmodulelist">
                    <a href="@Url.Action("GetUserSubModules", "SubModule")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">User Sub Access</span>
                    </a>
                </li>
                <li class="hsub" id="Useractionlist">
                    <a href="@Url.Action("GetUserAction", "UserAction")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.UserManagement.UserAction</span>
                    </a>
                </li>
                <li class="hsub" id="Userrolelist">
                    <a href="@Url.Action("GetUserRole", "Role")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.UserManagement.UserRoles</span>
                    </a>
                </li>
                <li class="hsub" id="subSuerRole">
                    <a href="@Url.Action("GetSubSusertyproleList", "SubUserTypeRoles")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Sub User Type Roles</span>
                    </a>
                </li>
                <li class="hsub" id="Useraccessactionlist">
                    <a href="@Url.Action("GetUserAccessAction", "UserAccessAction")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">@Resources.UserManagement.UserAccessAction</span>
                    </a>
                </li>


            </ul>


        </li>

        <li class="" id="mobiles">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text" onclick="GetUserRole();getInnerItemDashboard();">Mobile Details

                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu" id="mobilesSub">


                <li class="hsub" id="mobilesettinglist">
                    <a href="@Url.Action("Index", "MobileSettings")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Mobile Settings</span>
                    </a>
                </li>
                 <li class="hsub" id="mobileAppslist">
                    <a href="@Url.Action("Index", "MobileApps")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Mobile Apps</span>
                    </a>
                </li>
                 <li class="hsub" id="mbVersionslist">
                    <a href="@Url.Action("Index", "MobileVersions")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Mobile Versions</span>
                    </a>
                </li>
                 <li class="hsub" id="rulesDirectionslist">
                    <a href="@Url.Action("Index", "RulesDirections")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Rules And Directions</span>
                    </a>
                </li>
            </ul>
        </li>


        <li class="" id="AccessControl">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text" onclick="GetUserRole();getInnerItemDashboard();">Access Control
                              
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">

                <li class="hsub" id="PendingRequestlist">
                    <a href="@Url.Action("WebAdminAcceptRejectUser", "AcceptRejectUser")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Pending Request</span>
                    </a>
                </li>

                <li class="hsub" id="AcceptedRequestlist">
                    <a href="@Url.Action("WebAdminAccepted", "AcceptRejectUser")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Accepted Request</span>
                    </a>
                </li>

                <li class="hsub" id="RejectedRequestlist">
                    <a href="@Url.Action("WebAdminRejected", "AcceptRejectUser")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Rejected Request</span>
                    </a>
                </li>

                @*  <li class="hsub" id="AssignRole">
                    <a href="@Url.Action("AssignRole", "AcceptRejectUser")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Assign Role</span>
                    </a>
                </li>*@


            </ul>


        </li>


        @*<li class="" id="Library">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text" onclick="GetUserRole();getInnerItemDashboard();">Library
                              
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">

                <li class="hsub" id="PaidMemeberSubs">
                    <a href="/Library/PaidMemeberSubs/">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Paid Memeber Subs</span>
                    </a>
                </li>

                <li class="hsub" id="PressClipping">
                    <a href="/Library/PressClipping/">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Press Clipping</span>
                    </a>
                </li>
                 <li class="hsub" id="ItemSubscription">
                    <a href="/Library/ItemSubscription/">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Item Subscription</span>
                    </a>
                </li>
            </ul>


        </li>

        <li class="" id="Library">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text" onclick="GetUserRole();getInnerItemDashboard();">Budget
                              
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">

                <li class="hsub" id="PaidMemeberSubs">
                    <a href="/AccountsAdmin/Budget/">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Budegt Heads</span>
                    </a>
                </li>
            </ul>


        </li>*@
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text">Salary Section

                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">


                <li class="hsub">
                    <a href="@Url.Action("UpdateSalaryBills", "SalaryBills")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Update Salary Bills</span>
                    </a>
                </li>
                <li class="hsub">
                    <a href="@Url.Action("RegenerateSalary", "SalaryBills")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Regenerate Salary PDF</span>
                    </a>
                </li>



            </ul>


        </li>
      @*  </li>*@
           <li class="" id="SMS" >
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text" >Sms and Email

                </span>
                <b class="arrow fa fa-angle-down" id="smslinkid"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu" id="sms">


                <li class="hsub" >
                    <a href="@Url.Action("sentEmailList", "SmsAndEmail")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Sent Email Report</span>
                    </a>
                </li>
               <li class="hsub" >
                    <a href="@Url.Action("sentSMSList", "SmsAndEmail")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Sent SMS Report</span>
                    </a>
                </li>


                <li class="hsub" id="smslist" >
                    <a href="@Url.Action("Index", "SMSGateway")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">SMS Gateway</span>
                    </a>
                </li>

            </ul>


        </li>
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text">Contact Group

                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">


                <li class="">
                    <a href="@Url.Action("GroupMaster", "RecipientGroups", new { @area = "RecipientGroups" })" class="dropdown-toggle">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Contact Groups</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="">
                            <a href="@Url.Action("GroupMaster", "RecipientGroups", new { @area = "RecipientGroups" })" >
                                <i class="menu-icon fa fa-caret-right"></i>
                                Generic Groups
                            </a>
                            <b class="arrow"></b>
                        </li>

                    </ul>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-caret-right"></i>
                        <span class="menu-text">Contact Group Members</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="">
                            <a href="@Url.Action("GroupMemberMaster", "RecipientGroups", new { @area = "RecipientGroups" })"  >
                                <i class="menu-icon fa fa-caret-right"></i>
                                Generic Group Members
                            </a>
                            <b class="arrow"></b>
                        </li>

                    </ul>
                </li>


            </ul>


        </li>

    </ul>



</div>



<script type="text/javascript">


    function GetUserType() {


        $("#loader-wrapper").show();
        $.ajaxSetup({ cache: false });

        var pathurl = '@Url.Action("GetUserType", "UserType", new { area = "UserManagement" })';

        //var pathurl = '@Url.Action("GetUserType", "UserType")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#divDataContainer").html(data);


                $("#divDataContainerTwoTire").empty();
                $("#SuccessDiv").hide();
                $("#RightSidebar").empty();
                ChangeBreadCrumbParent("@Resources.UserManagement.UserManagements");
                ChangeBreadCrumbChild("@Resources.UserManagement.Role");

                $("#loader-wrapper").hide();
            }
        });
    }

    function ChangeLangaugeEnglish() {
        $.ajax({
            url: "/Home/ChangeCulture",
            type: 'GET',
            data: {
                lang: "7C4F28F6-02FC-4627-993D-E255037531AD",
                langCulture: "/"
            },
            success: function (data) {
                if (data) {
                    window.location.href = '@Url.Action("Index", "SuperAdmin", new { Area = "SuperAdmin" })';
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    function ChangeLangaugeHindi() {
        $.ajax({
            url: "/Home/ChangeCulture",
            type: 'GET',
            data: {
                lang: "43177cd4-b51d-497a-a3bc-e81f23b07450",
                langCulture: "/"
            },
            success: function (data) {
                if (data) {
                    window.location.href = '@Url.Action("Index", "SuperAdmin", new { Area = "SuperAdmin" })';
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });

    }



</script>







