﻿@model SBL.eLegistrator.HouseController.Web.Areas.Admin.Models.AssemblyFileViewModel
@{
    ViewBag.Title = "MemberAttendence";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}


@Html.Partial("_LeftMenu")
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/css/ace.css" />
<link href="~/assets/css/sbl/pass-style.css" rel="stylesheet"/>

<script src="~/assets/js/jquery.print.js"></script>
<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("GetAllAssemblyFiles", "AssemblyFile")">Admin</a>
            </li>
            <li>
                <a href="@Url.Action("MemberAttendence", "Attendence")"> Members Attendence</a>
            </li>
            @*    //<li class="active">@Heading</li>*@
        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>

    </div>

    <div class="page-content">
      
     
        <div class="page-header">
            <h1>Admin 
                               
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                 Attendence of Hon'ble Member
                </small>
            </h1>


        </div>

     

     
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">




                            @using (Html.BeginForm("SaveAssemblyFile", "AssemblyFile", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @role = "form", @id = "AssemblyFileEntryForm" }))
                            { 
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.VAssemblyFileId)
                                @Html.HiddenFor(model => model.Mode)
                                @Html.HiddenFor(m => m.IsCreatNew)
                                @Html.HiddenFor(m => m.VSessionDate, new { @id = "sessiondatestr" })



                                <h4 class="header blue lighter smaller clearfix">Additional details </h4>

                                    
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="Address">Assembly : </label>
                                    <div class="col-xs-12 col-sm-9">

                                        @Html.DropDownListFor(model => model.VAssemblyId, new SelectList(Model.AssemblyList, "AssemblyCode", "AssemblyName", new SelectListItem { Value = "0", Text = "Select Assembly" }), new { @class = "col-xs-12 col-sm-7 col-md-6", @onchange = "AssemblyChange(this)", @id = "assemblyLst" })
                                        <div class="help-block col-xs-12 col-sm-7 col-md-6 col-sm-reset inline">
                                            @Html.ValidationMessageFor(model => model.VAssemblyId)
                                        </div>
                                    </div>

                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Address">Session : </label>
                                    <div class="col-sm-9">

                                        @Html.DropDownListFor(model => model.VSessionId, new SelectList(Model.SessionList, "SessionCode", "SessionName", new SelectListItem { Value = "0", Text = "Select Session" }), new { @class = "col-xs-12 col-sm-7 col-md-6", @onchange = "SessionChange(this)", @id = "sessionLst" })
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            @Html.ValidationMessageFor(model => model.VSessionId)
                                        </div>
                                    </div>

                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Address">Session Date : </label>
                                    <div class="col-sm-9">

                                        @Html.DropDownListFor(model => model.VSessionDateId, new SelectList(Model.SessionDateList, "Id", "DisplayDate", new SelectListItem { Value = "0", Text = "Select Session Date" }), new { @class = "col-xs-12 col-sm-7 col-md-6", @id = "sessionDateLst" }) @*onchange = "SessionDateChange(this)",*@
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            @Html.ValidationMessageFor(model => model.VSessionDateId)
                                        </div>
                                    </div>

                                </div>

                                <div class="btn-group pull-right padding-10" style="padding-bottom:40px;">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->

                                    <button type="button" id="savebtn" onclick="SessionDateChange();" class="btn btn-sm btn-purple ">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                      Search</button>
                                    <button type="button" id="printbtn" onclick="PrintStatement();" class="btn btn-sm btn-purple ">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                      Print</button>



                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>
                                 <div class="space-2"></div>@*

                                <h4 class="header blue lighter smaller clearfix">Optional details </h4>*@
                              
                                        
                                <div class="space-2"></div> 
                                <div class="form-group hide">
                                    <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="form-field-tags">Tag input:</label>

                                    <div class="col-xs-12 col-sm-10">
                                        <div class="input-group col-xs-12 col-sm-6 ">
                                            <input type="text" name="tags" class="input-xlarge" id="form-field-tags" value="Tag Input Control" placeholder="Enter tags ..." />
                                        </div>
                                    </div>

                                </div>
                                        
                                <div class="space-2">Print<a href="#" onclick="PrintStatement()"></a></div> 
                                <hr />  
                                
                                <div id="DetailsList"></div>

                            }



                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div id="loader-wrapper" style="display: none">
        <div id="loader"></div>
    
    </div>
<script src="~/assets/js/jquery.hotkeys.min.js"></script>
<script src="~/assets/js/bootstrap-wysiwyg.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
  function PrintStatement() {
      
        //var FinancialYear = $('#DDlFinYear').val();
        //var MemberName = $("#DDlMemberId option:selected").text();
       
        //$('#statementHeader').text('SALARY SHOWING THE DETAILS OF PAY ALLOWANCES AND OTHER PERQUISITES DRAWN BY ' + MemberName + ', MLA , H.P VIDHAN SABHA DURING THE FINANCIAL YEAR '+ FinancialYear);
      $("#DetailsList").print(
            {
                stylesheet: "/assets/css/sbl/pass-style.css",
                rejectWindow: true,
                iframe: true,
                mediaPrint: true
            });
        return false;

  }</script>
<script>
    function SessionDateChange() {
             var SessionDateId = $("#sessionDateLst option:selected").val();
             var AssemblyCode = $("#assemblyLst option:selected").val();
             var SessionCode = $("#sessionLst option:selected").val();
    

        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Attendence/GetAttendenceData",
            type: 'GET',
            data: {
                sessionDateId: SessionDateId,
                assemblyId: AssemblyCode,
                sessionId: SessionCode
            },
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (data) {
               $('#loader-wrapper').hide();
               $("#DetailsList").html("");
               $("#DetailsList").html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    function AssemblyChange() {

        var AssemblyId = $("#assemblyLst option:selected").val();// document.getElementById("AssemblyCode").value;
        // alert(AssemblyId);
        $.ajaxSetup({ cache: false });
        var path = '@Url.Action("ChangeAssembly","AssemblyFile")';
         // alert(path);
        $.ajax({
            url: path,
            type: 'GET',
            data: {
                assemblyId: AssemblyId
            },
            success: function (data) {
                var session = "<option value='0'> Select </option>";
                for (var x = 0; x < data.length; x++) {
                    session += "<option value=" + data[x].SessionCode + ">" + data[x].SessionName + "</option>";
                }
                $("#sessionLst").html(session).show();

                var sessiondate = "<option value='0'> Select </option>";
                $("#sessionDateLst").html(sessiondate).show();
                // $("#DetailsList").empty();
                //cl2.hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    function SessionChange() {
        var SessionId = $("#sessionLst option:selected").val();
        var AssemblyId = $("#assemblyLst option:selected").val();
        var path = '@Url.Action("ChangeSession","AssemblyFile")';

        $.ajaxSetup({ cache: false });
        $.ajax({
            url: path,
            type: 'GET',
            data: {
                AssemblyId: AssemblyId,
                SessionId: SessionId
            },
            success: function (data) {
                var session = "";
                for (var x = 0; x < data.length; x++) {
                    session += "<option value=" + data[x].Id + ">" + data[x].DisplayDate + "</option>";
                }
                $("#sessionDateLst").html(session).show();
                // $("#DetailsList").empty();
                //  cl2.hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }




</script>









