﻿@model   SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.PanchayatViewModel

<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>

<div class="widget-header widget-header-blue widget-header-flat">
    @if (Model.Mode == "Add")
    {
        <h4 class="widget-title lighter">@Resources.MasterDataDashboard.CreatePanchayat</h4>
    }
    else
    {
        <h4 class="widget-title lighter">@Resources.MasterDataDashboard.EditPanchayat</h4>
    }

</div>
<div class="widget-body">
    <div class="widget-main">
        <div class="row">
            <div class="col-xs-12">
                <div class="messageBox"></div>
                <!-- PAGE CONTENT BEGINS -->
                @* //, new { @class = "form-horizontal", @role = "form" }*@
                <div class="row">
                    @using (Html.BeginForm("SavePanchayat", "Panchayat", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                    { 
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.PanchayatID)
                        @Html.HiddenFor(model => model.Mode)
                                   
                        <div class="tabbable">

                            <div class="tab-content no-border padding-24">
                                <div class="tab-pane in active" id="news-english">

                                    <div class="space-2"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.PanchayatName</label>
                                        <div class="col-sm-9">

                                            @Html.TextBoxFor(model => model.PanchayatName, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.PanchayatName, @autocomplete = "off", @maxlength = "150" })

                                            @Html.ValidationMessageFor(model => model.PanchayatName)

                                        </div>

                                    </div>
                                    <div class="space-2"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.PanchayatName1 </label>
                                        <div class="col-sm-9">

                                            @Html.TextBoxFor(model => model.PanchayatNameLocal, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.PanchayatName1, @autocomplete = "off", @maxlength = "150" })

                                        </div>

                                    </div>
                                    <div class="space-2"></div>
                                   
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.PanchayatCode </label>
                                        <div class="col-sm-9">

                                            @Html.TextBoxFor(model => model.PanchayatCode, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.PanchayatCode, @autocomplete = "off", @maxlength = "5" })

                                            @Html.ValidationMessageFor(model => model.PanchayatCode)

                                        </div>

                                    </div>
                                    
                                    <div class="space-2"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Active </label>
                                        <div class="col-sm-9">
                                            @Html.CheckBoxFor(model => model.IsActive)
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>                              
                        <div class="btn-group pull-right padding-10" style="position: relative; top: 23px;right: 476px;">
                            <!-- #section:plugins/fuelux.wizard.buttons -->
                            <button type="submit" id="savebtn" class="btn btn-sm btn-purple ">
                                <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                @Resources.MasterDataDashboard.Save</button>
                            <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                <i class="ace-icon fa fa-times bigger-125"></i>
                                @Resources.MasterDataDashboard.Reset
                            </button>
                            <!-- /section:plugins/fuelux.wizard.buttons -->
                        </div>
                        <div id='fullDetailsModel' class="hide">
                            <div id='ShowfullDetailsModel' style="text-align: center">
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@*<link href="~/Content/MultiSelectList/multiple-select.css" rel="stylesheet" />
<script src="~/Scripts/MultiSelectBox/jquery.multiple.select.js"></script>*@


<script type="text/javascript">

  
    $(document).ready(function () {
        $("#PanchayatName").focus();
    });
    function resetFields() {
        $(".field-validation-error").empty();
        $("#PanchayatName").focus();
    }
</script>

<style>
    .hidden {
        display: none;
        visibility: hidden;
    }
</style>
