﻿@model SBL.eLegistrator.HouseController.Web.Areas.PaperLaidDepartment.Models.PassesViewModel
<h3 class="header smaller lighter blue">Details As Per Pass Code
</h3>
@if (Model.SessionDateFrom != null)
{ 
    <table style="width: 100%; ">

        <tr>
            <td style="vertical-align: top; width: 20%">
                <img src="@Model.Photo" width:120 height:160/>
            </td>
            <td style="width: 80%;padding:-20px">
                <table style="width: 100%">
                    <tr>
                        <td>
                            <h3 class="header smaller lighter blue">@Resources.PublicPasses.PassDetails
                            </h3>
                        </td>
                    </tr>
                    <tr >
                        <td style="width: 30%;">

                            <label class="col-sm-9 control-label no-padding-right" for="form-field-1"><strong>Session Date From </strong></label>
                        </td>
                        <td style="width: 70%">
                            <strong>
                                <div class="col-sm-9">
                                    @Html.Raw(Model.SessionDateFrom) &nbsp;  To  &nbsp; @Html.Raw(Model.SessionDateTo)
                                    @*                            @Html.LabelFor(Html.Raw(Model.SessionDateFrom)) To @Html.LabelFor(Html.Raw(Model.SessionDateTo))*@
                                </div>
                            </strong></td>
                    </tr>
                 
                    <tr >
                        <td >

                            <label class="col-sm-9 control-label no-padding-right" for="form-field-1"><strong>Time</strong></label>
                        </td>
                        <td>
                            <strong>
                                <div class="col-sm-9">
                                    @Html.Raw(Model.DayTime)  @Html.Raw(Model.Time)

                                </div>
                            </strong>
                        </td>
                    </tr>
                       <tr >
                        <td >

                            <label class="col-sm-9 control-label no-padding-right" for="form-field-1"><strong>Pass Type</strong></label>
                        </td>
                        <td>
                            <strong>
                                <div class="col-sm-9">
                                    @Html.Raw(Model.PassTypeName)

                                </div>
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3 class="header smaller lighter blue">@Resources.PublicPasses.PersonalDetails
                            </h3>
                        </td>
                    </tr>
                    <tr >
                        <td >
                            <label class="col-sm-9 control-label no-padding-right" for="form-field-1">Aadhaar ID</label>
                        </td>
                        <td>
                            <div class="col-sm-9">

                                @Html.Raw(Model.AadharID)

                            </div>
                        </td>

                    </tr>
                    <tr >
                        <td >
                            <label class="col-sm-9 control-label no-padding-right" for="form-field-1">Name</label>
                        </td>
                        <td>
                            <div class="col-sm-9">

                                @Html.Raw(Model.Name)

                            </div>
                        </td>

                    </tr>
                    <tr >
                        <td >
                            <label class="col-sm-9 control-label no-padding-right" for="form-field-1">Gender</label>
                        </td>
                        <td>
                            <div class="col-sm-9">

                                @Html.Raw(Model.Gender)

                            </div>
                        </td>

                    </tr>
                    <tr >
                        <td >
                            <label class="col-sm-9 control-label no-padding-right" for="form-field-1">Age</label>
                        </td>
                        <td>
                            <div class="col-sm-9">

                                @Html.Raw(Model.Age)

                            </div>
                        </td>

                    </tr>
                    <tr >
                        <td >
                            <label class="col-sm-9 control-label no-padding-right" for="form-field-1">Father's Name</label>
                        </td>
                        <td>
                            <div class="col-sm-9">

                                @Html.Raw(Model.FatherName)

                            </div>
                        </td>

                    </tr>
                    <tr >
                        <td >
                            <label class="col-sm-9 control-label no-padding-right" for="form-field-1">Address</label>
                        </td>
                        <td>
                            <div class="col-sm-9">
                                @Html.Raw(Model.Address)

                            </div>

                        </td>

                    </tr>
                    <tr >
                        <td >
                            <label class="col-sm-9 control-label no-padding-right" for="form-field-1">Mobile</label>
                        </td>
                        <td>
                            <div class="col-sm-9">
                                @Html.Raw(Model.MobileNo)

                            </div>
                        </td>

                    </tr>
                    <tr >
                        <td >
                            <label class="col-sm-9 control-label no-padding-right" for="form-field-1">Email</label>
                        </td>
                        <td>
                            <div class="col-sm-9">
                                @Html.Raw(Model.Email)

                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <h3 class="header smaller lighter blue">@Resources.PublicPasses.RecommendationDetails
                            </h3>
                        </td>
                    </tr>
                    <tr >
                        <td >
                            <label class="col-sm-9 control-label no-padding-right" for="form-field-1">Recommendation Type</label>
                        </td>
                        <td>
                            <div class="col-sm-9">
                                @Html.Raw(Model.RecommendationType)

                            </div>
                        </td>

                    </tr>
                    <tr >
                        <td >
                            <label class="col-sm-9 control-label no-padding-right" for="form-field-1">Recommendation By</label>
                        </td>
                        <td>
                            <div class="col-sm-9">
                                @Html.Raw(Model.RecommendationBy)

                            </div>
                        </td>

                    </tr>
                    <tr >
                        <td >
                            <label class="col-sm-9 control-label no-padding-right" for="form-field-1">Recommendation Description</label>
                        </td>
                        <td>
                            <div class="col-sm-9">
                                @Html.Raw(Model.RecommendationDescription)

                            </div>
                        </td>

                    </tr>
                    <tr >
                        <td >
                            <label class="col-sm-9 control-label no-padding-right" for="form-field-1">No. Of Person</label>
                        </td>
                        <td>
                            <div class="col-sm-9">
                                @Html.Raw(Model.NoOfPersions)

                            </div>
                        </td>

                    </tr>
                    <tr >
                        <td >
                            <div class="form-group">
                                <label class="col-sm-9 control-label no-padding-right" for="form-field-1"></label>
                                <div class="col-sm-9">
                                    <input type="button" class="btn btn-info" value="Okay" name="Okay" id="bttnOkay" onclick="VerifiredpassCode();" />

                                </div>
                            </div>
                        </td>

                    </tr>
                </table>
            </td>
        </tr>
    </table>
}
else
{
    <h1>No Details Found.
    </h1>

}
<script>
    function VerifiredpassCode() {
        window.location.href = '@Url.Action("Index", "PassVerification", new { Area = "PassVerification" })';
    }
</script>
