﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV

<div id="breadcrumbs" class="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>

    <ul class="breadcrumb">
        @* <li id="firstLink">
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>*@

        <li id="secondLink">
            @Resources.PaperLaidDepartment.DepartmentDashboard
        </li>
        <li class="active" id="thirdLink">@Resources.PaperLaidDepartment.Dashboard</li>
    </ul>

    <div class="legAssm">
      @*  <span id="SpnAssemList">@Html.DropDownListFor(m => m.AssemblyId, new SelectList(Model.mAssemblyList, "AssemblyCode", "AssemblyName", Model.AssemblyId), new { @id = "DdlAssembly", @disabled = "disabled", @style = "background-color: #d6487e;color:white" })</span>
        <span id="SpnSessList">@Html.DropDownListFor(m => m.SessionId, new SelectList(Model.sessionList, "SessionCode", "SessionName", Model.SessionId), new { @id = "DdlSession", @disabled = "disabled", @style = "background-color: #9585bf;color:white" })</span>*@
        @*<span id="SpnAssem" class="label label-large label-pink arrowed-in-right arrowed">@Model.AssesmblyName</span>
        <span id="SpnSess" class="label label-large label-purple arrowed">@Model.SessionName</span>*@
      @*  <span><a href="#" id="AChange" onclick="ChangeAS(this.id)" style="text-decoration: none;">Change</a></span>*@
    </div>



    @* <div class="legAssm">
       
                 <span class="label label-large label-pink arrowed-in-right arrowed">@Model.AssesmblyName </span>
            <span class="label label-large label-purple arrowed">@Model.SessionName</span>  
          
                                          <!--<i class="ace-icon fa fa-cogs"></i>-->
          
          
           
        </div>*@

</div>
<div class="page-header">
   <h1>
       @Resources.PaperLaidDepartment.Department
       <small style="color:#2679b5">
           <i class="ace-icon fa fa-angle-double-right"></i>
           @Model.DeparmentNameByids
           <br />
           
           @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.OfficeLevel == "4" && SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.SubUserTypeID == "37")
           {
              <small style="color:#2679b5">Office Name </small> 
               <i class="ace-icon fa fa-angle-double-right" ></i>
              <small style="color:#2679b5"> @ViewBag.OfficeName</small>
           }
         @*  <span style="color: red">Digital Signature has been exempted for the session,for further clarification Contact on 0177-2652801(Miss PALLAVI SOOD,Mrs AMITA JASWAL)</span>*@
       </small>
   </h1>
</div>
 


@*<div id="fuelux-wizard" data-target="#step-container" >
    <!-- #section:plugins/fuelux.wizard.steps -->
    <ul class="wizard-steps" id="progressSUN">
        <li data-target="#step2" class="complete">
            <span class="step"></span>
            <span class="title">Department</span>
        </li>

        <li data-target="#step3">
            <span class="step"></span>
            <span class="title">Vidhan Sabha</span>
        </li>

    </ul>
     <ul class="wizard-steps" id="progressBO" style="display:none;">
        <li data-target="#step2" class="complete">
            <span class="step"></span>
            <span class="title">Department</span>
        </li>

        <li data-target="#step3" >
            <span class="step"></span>
            <span class="title">Minsiter</span>
        </li>
          <li data-target="#step4">
            <span class="step"></span>
            <span class="title">Vidhan Sabha</span>
        </li>

    </ul>

    <!-- /section:plugins/fuelux.wizard.steps -->
</div>*@



<script type="text/javascript">


    function ChangeProgress(ChangeText) {
        if (ChangeText != "") {
            if (ChangeText == "progressSUN") {
                $("#progressSUN").show();
                $("#progressBO").hide();
            }
            else {
                $("#progressSUN").hide();
                $("#progressBO").show();
            }
        }
    }

    function ChangeAS(id) {
        if ($("#" + id).html() == "Change") {
            $("#" + id).html("Apply")
            $("#DdlAssembly").prop("disabled", false);
            $("#DdlSession").prop("disabled", false);
            $("#DdlAssembly").css({
                "background-color": "white",
                "color": "black"
            })
            $("#DdlSession").css({
                "background-color": "white",
                "color": "black"
            })
        }
        else if ($("#" + id).html() == "Apply") {
            $("#" + id).html("Change")
            $("#DdlAssembly").prop("disabled", true);
            $("#DdlSession").prop("disabled", true);
            $("#DdlAssembly").css({
                "background-color": "#d6487e",
                "color": "white"
            })
            $("#DdlSession").css({
                "background-color": "#9585bf",
                "color": "white"
            })

            $.ajax({
                url: "/Home/GetDataByAssemblySession",
                type: 'GET',
                data: {
                    AssemblyId: $("#DdlAssembly").val(),
                    SessionId: $("#DdlSession").val()
                },
                success: function (data) {
                    if (data == "Success") {
                        var url = '@Url.Action("Index", "VidhanSabhaDept", new { Area = "VidhanSabhaDepartment" })';
                        url = url.replace('amp;', '');
                        url = url.replace('amp;', '');
                        window.open(url, "_parent");
                    }
                }
            })

        }

}

$("#DdlAssembly").change(function () {

    var AssemblyId = $("#DdlAssembly").val();
    $.ajax({
        url: "/PaperLaidDepartment/PaperLaidDepartment/GetSessionByAssemblyId",
        type: 'GET',
        data: { AssemblyId: AssemblyId },
        success: function (data) {
            $("#DdlSession").empty();
            $.each(data, function (index, optiondata) {
                $("#DdlSession").append("<option value='" + optiondata.SessionCode + "'>" + optiondata.SessionName + "</option>");
            });
            //var lang = $("#Lang").val()
            //if (lang == "Hindi") {
            //    $("#DdlSession").append("<option value='0'>सत्र चुनें</option>");
            //}
            //else {
            //    $("#DdlSession").append("<option value='0'>Select Session</option>");
            //}

            //$.each(data, function (index, optiondata) {
            //    if (lang == "Hindi") {
            //        $("#DdlSession").append("<option value='" + optiondata.Id + "'>" + optiondata.Name_Local + "</option>");
            //    }
            //    else {

            //        $("#DdlSession").append("<option value='" + optiondata.Id + "'>" + optiondata.Name + "</option>");
            //    }
            //});
        }
    })

});


function ChangeProgress(ChangeText) {
    if (ChangeText != "") {
        if (ChangeText == "progressSUN") {
            $("#progressSUN").show();
            $("#progressBO").hide();
        }
        else {
            $("#progressSUN").hide();
            $("#progressBO").show();
        }
    }
}

function ChangeBreadCrumbParent(firstText, firstLink) {

    $("#secondLink").empty();
    var firstlinkHtml = '<a" onclick="' + firstLink + '">' + firstText + '</a>';
    $("#secondLink").html(firstlinkHtml);
    $("#thirdLink").empty();


}


function ChangeBreadCrumbChild(secondText, secondLink) {

    $("#thirdLink").empty();
    var secondlinkHtml = '<a" onclick="' + secondLink + '">' + secondText + '</a>';
    $("#thirdLink").html(secondlinkHtml);

}

</script>





