﻿@using SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models
@model  List<SBL.DomainModel.Models.Grievance.tMemberGrievances>

@{  int count = 0;
    if (ViewBag.CurrentPage > 1)
    {

        count = (ViewBag.PageSize * (ViewBag.CurrentPage - 1));
    }
}
<!-- PAGE CONTENT BEGINS -->

<div class="pass-table">
    @if (Model != null)
    {
        if (Model.Count() > 0)
        {       
        <input type="hidden" id="pageId" name="pageId" value="@ViewBag.CurrentPage" />
        <div class="table-header">
            <div class="form-group">
                @if (ViewBag.Msg != null)
                {
                    <div class="@ViewBag.Class" id="MsgDiv">
                        <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
                        <strong><i class="ace-icon fa fa-check-square-o"></i>@ViewBag.Notification ! </strong>@ViewBag.Msg
                    </div>
                }

            </div>
        </div>  
        <div>
            <table style="top: 15px; font-size: smaller; color: #545454">
                <tbody>
                    <tr>
                        <td class="legendColorBox">
                            <div style="border: 1px solid; padding: 2px">
                                <div style="width: 6px; height: 0; border: 10px solid #FA8258!important; overflow: hidden"></div>
                            </div>
                        </td>
                        <td class="legendLabel" style="font-size: 16px;"><b>Disposed Grievance </b></td>
                    </tr>
                </tbody>
            </table>
            <label>Display</label>
            <select size="1" name="PageSize" id="PazeSize">
                <option value="20" selected="selected">20</option>
                <option value="40">40</option>
                <option value="60">60</option>
                <option value="80">80</option>
                <option value="100">100</option>
            </select>
            <label>Records</label>
        </div>           
        <table class="table  table-bordered  dataTable" id="tblGrievanceList" aria-describedby="sample-table-2_info">
            <thead>
                <tr role="row">
                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>
                    <th class="sorting SortingData" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Grievance No.</th>
                    <th class="sorting SortingData" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Information Content</th>
                    <th class="sorting SortingData" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Posted By</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Status</th>
                    <th style="width:80px;" class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Action</th>

                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                @foreach (var item in Model)
                {
                    count = count + 1; 
                  
                    <tr  id="Row-@item.GuID" style="@(item.StatusId == 4 ? "background-color:#FA8258;" : "")"  >
                        <td class="center">
                            @count
                        </td>
                        <td class="center" style="width: 10%">
                            @item.GrvCode
                            <br />
                            <span class="label label-warning arrowed arrowed-right">@item.SubmittedDate.ToString("dd/MM/yyyy")</span>
                        </td>
                        <td class="center" style="width: 30%">
                            @if (item.InformationContent != null && item.InformationContent.Length > 100)
                            {

                                @item.InformationContent.Substring(0, 100)
                            }
                            else
                            {
                                @item.InformationContent
                            }
                        </td>
                        <td   style="width: 30%; margin-left:10px;">
                          <label class="form-group" style="text-align:left;">
                                <b> @item.FirstName  @item.LastName 
                                ,  @item.Address</b> 
                              @*  Constituency: <b>@item.Constituency</b><br />
                                Panchayat: <b>@item.Panchayat</b><br />
                                District: <b>@item.District</b><br />
                                WardNumber: <b>@item.WardNumber</b> *@
                            </label>

                        </td>
                        <td style="width: 10%">
                            @ModelMapping.GetDisplayName((SBL.DomainModel.Models.Enums.GrievanceStatus)item.StatusId)
                            <br />
                            @if (item.StatusModifiedDate.ToString("dd/MM/yyyy") != "01/01/1900" && item.StatusModifiedDate.ToString("dd/MM/yyyy") != "01/01/1753")
                            {
                                <span class="label label-warning arrowed arrowed-right">@item.StatusModifiedDate.ToString("dd/MM/yyyy")</span>
                            }
                        </td>

                        <td class="center" style="width: 50%">


                            <div class="hidden-sm hidden-xs action-buttons">
                                @if (item.StatusId != 3 && item.StatusId != 4)
                                {
                                    <a data-rel="tooltip" class="btn btn-minier btn-success" title=" Post Reply" onclick="PopulateReply('@item.GrvCode');" href="#">Post Reply
                                    </a> 
                                   
                                }

                                <a data-rel="tooltip" class="btn btn-minier btn-danger" title=" View Reply" onclick="ShowReplyList('@item.GrvCode','@item.GuID');" id="@item.GuID"  href="#">View Detail
                                </a>  <div class="space-8"></div> 
                                 <a  style="width:60px;"  class="btn btn-minier btn-info" data-rel="tooltip" onclick=" return ShowGrvpdfList('@item.GrvCode','@item.GuID');" href="#">View Pdf
                                            </a>
                            </div>
                            <div class="hidden-md hidden-lg">
                                <div class="inline position-relative">
                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                    </button>
                                   @* <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">*@
                                        @if (item.StatusId != 2)
                                        { //<li>
                                            <a data-rel="tooltip" class="green tooltip-success" title="Post Reply" onclick="PopulateReply('@item.GrvCode');" href="#">Post Reply
                                            </a>
                                             <a  style="width:60px;"  class="btn btn-minier btn-info" data-rel="tooltip" onclick=" return ShowGrvpdfList('@item.GrvCode','@item.GuID');" href="#">View Pdf
                                            </a>
                                      //  </li>//
                                        }
                                      @* // <li>*@
                                            <a href="#" class="tooltip-error DeleteSec" data-rel="tooltip" onclick="ShowReplyList('@item.GrvCode','@item.GuID');" title="View Reply">View Detail
                                            </a>
                                     <a  style="width:60px;"  class="btn btn-minier btn-info" data-rel="tooltip" onclick=" return ShowGrvpdfList('@item.GrvCode','@item.GuID');" href="#">View Pdf
                                            </a>
                                      @* // </li>
                                   // </ul>
                                *@</div>
                            </div>
                        </td>
                    </tr>                                                                
                }

            </tbody>
        </table>
        <!-- PAGE CONTENT ENDS -->
        <!-- PAGER START -->
        <div>@{Html.RenderPartial("~/Areas/AccountsAdmin/Views/Shared/_Pager.cshtml");}</div>
        <!-- PAGER ENDS -->
        }
        else
        {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <strong>No Grievance Found</strong><br />
                </div>
            </div>
        </div>
        }

    }
</div>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<!-- /.col -->
<script type="text/javascript">

    $(document).ready(function () {

        $('#tblGrievanceList').dataTable({
            "bPaginate": false, "bInfo": false
        });
        setTimeout(function () {
            $("#MsgDiv").slideUp(400);
        }, 2000);

        $("#PazeSize").val(@ViewBag.PageSize)

        $('#PazeSize').change(function () {
            var PageSize = $("#PazeSize").val();
            $.ajax({
                type: "POST",
                url: '/Grievances/Grievances/GetBillByPaging',
                data: '{ pageId: "1",pageSize: "' + PageSize + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {

                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result);
                },
                error: function (error) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(error.responseText);

                },
                complete: function (results) {

                    $('#loader-wrapper').hide();
                }
            });

        });


    });

    function ShowGrvpdfList(GrvCode, GUId) {
        $("#loader-wrapper").show();
        $.ajax({

            url: '/Grievances/AssingGrievances/ShowGrievanceDetail_Pdf',
            data: { GrvCode: GrvCode },
            // contentType: "application/json; charset=utf-8",
            //  dataType: "json",
            success: function (data) {
                var url = data.replace('\;', '/');
                var PDF = 'http://localhost:50730' + url
                //  var PDF = 'https://secure.evidhan.nic.in' + url
                window.open(PDF, "_blank");
                $("#loader-wrapper").hide();
            }
        });
    }

</script>
