﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV

<div id="sidebar" class="sidebar responsive">
	<script type="text/javascript">
		try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
	</script>

	<div class="sidebar-shortcuts" id="sidebar-shortcuts">
		<div id="sidebar-shortcuts-large" class="sidebar-shortcuts-large">

			<a title="Help" data-rel="tooltip" class="btn btn-danger" href="~/HelpFiles/Help For Online Entry.pdf" target="_blank">
				<i class="ace-icon fa fa-info-circle"></i>
			</a>

			<button class="btn btn-info" id="sizeUp" title="Increase fontsize" data-placement="bottom" data-rel="tooltip">
				<b>A<sup>+</sup> </b>
			</button>

			<!-- #section:basics/sidebar.layout.shortcuts -->
			<button class="btn btn-warning" id="sizeDown" title="Decrease fontsize" data-placement="bottom" data-rel="tooltip">
				<b>A<sup>-</sup> </b>
			</button>

			<!--<button class="btn btn-danger">-->

			@if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.LanguageID == "7C4F28F6-02FC-4627-993D-E255037531AD")
			{
				<button id="btnHindi" title="Change language" data-placement="right" data-rel="tooltip" class="btn btn-success" onclick="ChangeLangaugeHindi();">
					हिन्दी                   
											   
					<!--<i class="ace-icon fa fa-cogs"></i>-->
				</button>
			}
			else
			{
				<button id="btnEnglish" style="width: 70px" title="Change language" data-placement="right" data-rel="tooltip" class="btn btn-success" onclick="ChangeLangaugeEnglish();">
					English
					<!--<i class="ace-icon fa fa-cogs"></i>-->
				</button>
			}






			<!-- /section:basics/sidebar.layout.shortcuts -->


			<!-- /section:basics/sidebar.layout.shortcuts -->
		</div>

		<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
			<span class="btn btn-success"></span>

			<span class="btn btn-info"></span>

			<span class="btn btn-warning"></span>

			<span class="btn btn-danger"></span>
		</div>
	</div>
	<!-- /.sidebar-shortcuts -->


	@*	<ul class="nav nav-list">
		<li class="active">
			<a href="javascript:void(0);">
				<i class="menu-icon fa fa-desktop"></i>
				<span onclick="getDashboard();" class="menu-text">@Resources.Diaries.MyDashboard</span>
			</a>
			<b class="arrow"></b>
		</li>
		 

		@foreach (var item in Model.MenuList)
  {
			<li id="li_@item.ModuleId" class="">
				<a href="javascript:void(0);" class="dropdown-toggle" onclick="RemoveClass()">
					<i class="menu-icon fa fa-bookmark"></i>
					<span class="menu-text">@item.ModuleName
					
					</span>
					<b class="arrow fa fa-angle-down"></b>
				</a>

				<b class="arrow"></b>
				<ul class="submenu">
					@{
	  Html.RenderAction("GetSubMenu", "VidhanSabhaDept", new { ModuleId = item.ModuleId, MemberId = "0", ActIds = item.ActionIds });
					}
				</ul>
			</li>
  }
	</ul>*@



	<ul class="nav nav-list">
		<li class="active">
			<a href="javascript:void(0);">
				<i class="menu-icon fa fa-desktop"></i>
				<span class="menu-text" onclick="getDashboard();">@Resources.PaperLaidDepartment.MyDashboard </span>
			</a>
			<b class="arrow"></b>
		</li>
		@foreach (var item in Model.MenuList)
		{
			<li id="li_@item.ModuleId" class="">
				<a href="javascript:void(0);" class="dropdown-toggle">
					<i class="menu-icon fa fa-bookmark"></i>
					<span class="menu-text">@item.ModuleName
						@*<span class="badge badge-success tooltip-error">@item.ModuleName.GetTotalCountByMenu(item.ModuleId, Model.MemberId)</span>*@
					</span>
					<b class="arrow fa fa-angle-down"></b>
				</a>

				<b class="arrow"></b>
				<ul class="submenu">
					@{
			Html.RenderAction("GetSubMenu", "Grievances", new { ModuleId = item.ModuleId, ActIds = item.ActionIds, Assigned_SubAccess = item.SubUserTypeName });
					}
				</ul>
			</li>
		}
	</ul>


	<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
		<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
	</div>
	<script type="text/javascript">
		try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
	</script>
</div>
































