﻿@using SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models
@model  List<SBL.DomainModel.Models.Grievance.tMemberGrievances>

<div class="row">
    <div class="two-column" id="MainDiveThreeTire">

        <div id="resize-left" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 21px;">
            @*     <div id="divLeftContainer" style="position: absolute; top: 0; height: 20px; width: 100%; display: block;">
                        <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                        <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                            <i onclick="resizeClick(1)" class="ace-icon fa fa-angle-double-left roundicon"></i>
                        </div>
                    </div>*@
            <div class="row">
                <div class="col-xs-12" style="margin-top:-22px;">
                    <div class="widget-box">
                        <div class="widget-header">
                            <h4 class="widget-title">Search Grievance</h4>
                            <div class="widget-toolbar">
                                <a href="#" data-action="collapse">
                                    <i class="ace-icon fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <div class="row">
                                    <div class="col-sm-12 col-sm-12">
                                        <div class="col-xs-12 col-sm-12" style="padding-bottom: 10px;">
                                            <div class="col-sm-3">
                                                <label>Display</label>
                                                <select size="1" name="PageSize" id="PazeSize">
                                                    <option value="20" selected="selected">20</option>
                                                    <option value="40">40</option>
                                                    <option value="60">60</option>
                                                    <option value="80">80</option>
                                                    <option value="100">100</option>
                                                </select>
                                                <label>Records</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="col-sm-4 control-label no-padding-right">
                                                    Status</label>
                                                <div class="col-sm-4">
                                                    <select size="1" name="Status" id="Status">
                                                      @*  <option value="0" selected="selected">Pending</option>*@
                                                        <option value="1">Forwarded</option>
                                                        <option value="2">In-Progress</option>
                                                        <option value="3">Disposed</option>
                                                        @* <option value="4">Disposed</option>*@
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="col-sm-4 control-label no-padding-right">
                                                    Order By</label>
                                                <div class="col-sm-8">
                                                    <select size="1" name="ddlOrderBy" id="ddlOrderBy">
                                                        <option value="0" selected="selected">Application Date</option>
                                                        <option value="1">Status Updation Date</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <button type="button" class="btn btn-info btn-sm pull-right " onclick="SearchGrievance()">
                                                    <i class="ace-icon fa fa-search bigger-110"></i>Search
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-box">
                        <div class="widget-header">
                            <h4 class="widget-title">Greivance List
                            </h4>

                            <div class="widget-toolbar no-border">
                                <span class="label label-lg label-pink arrowed">Count: @ViewBag.GrievanceCount</span>
                            </div>
                        </div>
                        <div class="widget-body">
                            <div class="widget-main">
                                <div class="clearfix">

                                    <div class="table-responsive">
                                        <div id="divDataContainer-Grievance">
                                            @{Html.RenderPartial("~/Areas/Grievances/Views/Grievances/_GrievanceList.cshtml", Model);}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="resize-right" style="overflow: hidden; position: relative; padding-top: 20px;" class="ui-widget-content">
            @* <div id="divRightContainer" style="position: absolute; top: 0; height: 21px; width: 100%; display: block;">
                        <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                        <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                            <i data-icon2="ace-icon fa fa-angle-double-right" onclick="resizeClick(0)" data-icon1="ace-icon fa fa-angle-double-left" class="ace-icon fa fa-angle-double-right roundicon"></i>
                        </div>
                    </div>*@
            <div class="widget-box sblFullScreen" id="divPostReply">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title">Post Reply</h4>
                    <div class="widget-toolbar">
                        <a href="#" data-action="fullscreen" class="red"><i class="ace-icon fa fa-expand bigger-150"></i></a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <div id="RightSidebar" style="width: 100%">
                        </div>
                        <div id="ReplyDiv" style="width: 100%; height: 100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $('#divPostReply').hide();
        resizeLeftPanel(100);
    });



    function PopulateReply(GrvCode) {
        $("#tblGrievanceList tr").css('background-color', 'white')
        $('#Row-' + GrvCode).css('background-color', '#ffb752 ')
        // resizeLeftPanel(100);
        var PageSize = $("#PazeSize").val();
        var pageId = $("#pageId").val();
        $.ajax({
            type: "POST",
            url: '/Grievances/Grievances/PopulateGrievances',
            data: '{GrvCode:"' + GrvCode + '", pageId: "' + pageId + '",pageSize: "' + PageSize + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#ReplyDiv').empty();
                $('#ReplyDiv').append(result);
                $('#divPostReply').show();


            },
            error: function (error) {
                $('#ReplyDiv').empty();
                $('#ReplyDiv').append(error.responseText);
                $('#divPostReply').show();
            },
            complete: function (results) {
                $('#loader-wrapper').hide();
                $('#divPostReply').show();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }


    function ShowReplyList(GrvCode, Guid) {
        $("#tblGrievanceList tr").css('background-color', 'white')
        $('#Row-' + Guid).css('background-color', '#ffb752 ')
        $.ajax({
            type: "POST",
            url: '/Grievances/Grievances/GetReplyList',
            data: '{ GrvCode: "' + GrvCode + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#ReplyListDiv').empty();
                $('#ReplyListDiv').append(result);
                $('#ReplyListModel').modal('show');
            },
            error: function (error) {
                $('#ReplyListDiv').empty();
                $('#ReplyListDiv').append(error.responseText);
                $('#ReplyListModel').modal('show');
            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }

    function ConfirmReply() {
        $('.ErrorMessage').remove('');
        var IsValid = true;
        var StatusId = document.getElementsByName("StatusId");
        if ($('#Reply').val() == '') {
            $('#Reply').css("border", "1px solid red");
            $('#Reply').after("<span class='ErrorMessage'> Reply  Required</span>");
            IsValid = false;
        }

        if (IsValid == true) {
            if (StatusId[1].checked == true) {
                var dlg = bootbox.confirm('Are you sure,you want to dispose this Grievance? If yes, press ok button.', function (result) {

                    if (result) {

                        $(dlg).modal('hide');

                        SaveReply();
                    }
                });
            }
            else {
                SaveReply();
            }
        }
    }
    function SaveReply() {

        var QData = $('#PostReplyForm').serialize();
        $.ajax({
            cache: false,
            async: true,
            type: "POST",
            url: '/Grievances/Grievances/SaveGrievances',
            data: QData,
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainer-Grievance').empty();
                $('#divDataContainer-Grievance').append(result);
                $('#ReplyDiv').empty();
                $('#divPostReply').hide();
            },
            error: function (result) {
                $('#divDataContainer-Grievance').empty();
                $('#divDataContainer-Grievance').append(result.responseText);
                $('#ReplyDiv').empty();
                $('#divPostReply').hide();
            },

            complete: function (result) {
                $('#loader-wrapper').hide();
            }
        });

    }

    function GetDataList(pageId) {
        var PageSize = $("#PazeSize").val();
        $.ajax({
            type: "POST",
            url: '/Grievances/Grievances/GetBillByPaging',
            data: '{ pageId: "' + pageId + '",pageSize: "' + PageSize + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainer-Grievance').empty();
                $('#divDataContainer-Grievance').append(result);
            },
            error: function (error) {
                $('#divDataContainer-Grievance').empty();
                $('#divDataContainer-Grievance').append(error.responseText);

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
            }
        });
    }
    function SearchGrievance() {
     
        var PageSize = $("#PazeSize").val();
        var OrderBy = $("#ddlOrderBy").val();
        var Status = $("#Status").val();
        $.ajax({
            type: "POST",
            url: '/Grievances/Grievances/SearchGrievance',
            data: '{ pageId: "1",pageSize: "' + PageSize + '",Status: "' + Status + '",OrderBy: "' + OrderBy + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainer-Grievance').empty();
                $('#divDataContainer-Grievance').append(result);
            },
            error: function (error) {
                $('#divDataContainer-Grievance').empty();
                $('#divDataContainer-Grievance').append(error.responseText);

            },
            complete: function (results) {
                $('#loader-wrapper').hide();
            }
        });

    }

</script>



<!-- Show Reply List -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="ReplyListModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="VouvherBillListTitle">Grievance Details </h4>
            </div>
            <form method="post" action="/SchemeSetup/SaveQualification" id="ReplyListModelListForm">
                <div class="modal-body">
                    <div id="ReplyListDiv"></div>
                </div>
                <div class="">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
