﻿@model SBL.DomainModel.Models.UserModule.mUserSubModules
@using SBL.eLegistrator.HouseController.Web.Areas.PaperLaidDepartment.Extensions
@using SBL.eLegistrator.HouseController.Web.Utility
@{
    int count = 0;
}
@foreach (var item in Model.AccessList)
{
    <li class="">
        @if (item.SubModuleId == 215 || item.SubModuleId == 233 || item.SubModuleId == 234 || item.SubModuleId == 235 || item.SubModuleId == 236 || item.SubModuleId == 237 || item.SubModuleId == 216 || item.SubModuleId == 243 || item.SubModuleId == 244 || item.SubModuleId == 245)
        {
            <a href="javascript:void(0);" onclick="GetActionView('@item.SubModuleId','@count','@item.ModuleId'),SaveModuleIdActionId('@Model.ModuleId','@Model.ActionIds')">
                <i class="menu-icon fa fa-caret-right"></i>
                @item.SubModuleName
            </a>
            <b class="arrow"></b>
        }
    </li>
}



