﻿
@*<script type="text/javascript">
    $(document).ready(function () {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/Constituency/Constituency/MyConstituencyWorks",
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
              
                $('#MainDiv').empty();
                $('#MainDiv').html(data);
                $("#MainDiv").css("display", "block");
                //  ClearControls();
                $("#loader-wrapper").hide();


            },
            error: function (xhr, ajaxOptions, thrownError) {

                alert(xhr.responseText);
                alert(thrownError);
            }
        })
    })
</script>*@

<script type="text/javascript">
    $(document).ready(function () {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/Constituency/Constituency/constituencyListForOfficer",
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
              
                $('#MainDiv').empty();
                $('#MainDiv').html(data);
                $("#MainDiv").css("display", "block");
                //  ClearControls();
                $("#loader-wrapper").hide();


            },
            error: function (xhr, ajaxOptions, thrownError) {

                alert(xhr.responseText);
                alert(thrownError);
            }
        })
    })
</script>