﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV

@{
	bool temp = false;
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}



<link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
<!-- page specific plugin styles -->
<link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="~/assets/css/chosen.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.css" />
<link rel="stylesheet" href="~/assets/css/daterangepicker.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.css" />
<link rel="stylesheet" href="~/assets/css/colorpicker.css" />
<script src="~/assets/js/jquery.autosize.min.js"></script>
<!-- text fonts -->
<link rel="stylesheet" href="~/assets/css/ace-fonts.css" />

<!-- ace styles -->
<link rel="stylesheet" href="~/assets/css/ace.min.css" />

<!--[if lte IE 9]>
			<link rel="stylesheet" href="~/assets/css/ace-part2.min.css" />
		<![endif]-->
<link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
<link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />

@*///////////////////////////FileUpload//////////////////////////////////*@
<link href="~/Content/bootstrapUp/jquery.fileupload.css" rel="stylesheet" />
<script src="~/Content/ScriptsUp/jquery.ui.widget.js"></script>
<script src="~/Content/ScriptsUp/jquery.fileupload.js"></script>
@*///////////////////////////FileUpload//////////////////////////////////*@

@Html.HiddenFor(m => m.SessionId, new { @id = "SId" })
@Html.HiddenFor(m => m.AssemblyId, new { @id = "AId" })
@Html.Partial("~/Areas/Grievances/Views/Grievances/_LeftNavigationMenu.cshtml")

<style>
	 .ShowModal {
        top: 10%;
        left: 24%;
        z-index: 1000;
        position: absolute;
        background-color: White;
        display: block;
    }
	 .HideModal {
        display: none;
    }
	 .OverlayEffect {
		/*background-color: white;*/
		filter: alpha(opacity=40);
		opacity: 0.7;
		width: 100%;
		height: 100%;
		z-index: 400;
		position: absolute;
		top: 0;
		left: 0;
	}
</style>

<style>
	.roundicon {
		padding: 0px 6px 1px 5px;
		line-height: 19px;
		font-size: 16px;
		border-radius: 100%;
		border: 1px solid;
		background-color: #1BAA4E;
		color: white;
	}
</style>
<div id="modalMsg" style="width: 98.5%; height: 82.5%; border: 1px solid black; left: 12px; top: 2px; display: none; overflow: auto;"></div>
<div id="overlay"></div>

<div class="main-content">

	@Html.Partial("_BreadcrumbsPartial")

	<div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
	<div class="page-content" id="MainDiv">
		<div class="row">
			<div class="alert alert-block alert-success" id="SuccessDiv" style="display: none;">
				<button type="button" class="close" data-dismiss="alert">
					<i class="ace-icon fa fa-times"></i>
				</button>
				<p>
					<strong>
						<i class="ace-icon fa fa-check"></i>
					</strong>

				</p>
			</div>

			<div id="outerDiv">
			</div>
            
			<div class="two-column" id="MainDiveThreeTire">
				<div id="resize-left">
                    <div id="divLeftContainer" style="position: absolute; top: 0; height: 20px; width: 100%; display: block;">
                        <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                        <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                            <i onclick="resizeClick(1)" class="ace-icon fa fa-angle-double-left roundicon"></i>
                        </div>
                    </div>
					<div class="col-xs-12">
						<div id="divDataContainer" style="width: 100%;">
						</div>
					</div>
				</div>
				<div id="resize-right">
                      <div id="divRightContainer" style="position: absolute; top: 0; height: 21px; width: 100%; display: block;">
                        <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                        <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                            <i data-icon2="ace-icon fa fa-angle-double-right" onclick="resizeClick(0)" data-icon1="ace-icon fa fa-angle-double-left" class="ace-icon fa fa-angle-double-right roundicon"></i>
                        </div>
                    </div>
					<div class="col-xs-12">
						<div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>
						<div id="RightSidebar" style="width: 100%;">
						</div>
						<div id="FormPart" style="width: 100%; height: 100%">
						</div>
					</div>
				</div>
			</div>

			<div id="MainDiveTwoTire" style="display: none">
				<div class="col-xs-12">
					<div id="canvasloader-container3" class="canvasloader" style="text-align: center"></div>
					<div id="divDataContainerTwoTire" style="width: 100%;">
					</div>
				</div>
			</div>


		</div>
	</div>
</div>



@*For Notice*@
<div id="dialogPri-confirm" class="hide">
	<p>Are you sure ?</p>
</div>

<div id="dialogPri-alert" class="hide">
	<p>Priority not Assigned !</p>
</div>

<div id="ReturnPri-alert" class="hide">
	<p id="ReturnPriMsg"></p>
</div>
@*EndNotice*@

@*<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>*@
<script src="~/Scripts/constituency/ConstituencyMenuFunction.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>


<script src="~/assets/js/chosen.jquery.min.js"></script>

@*<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.js"></script>
<link href="~/Scripts/dataTables.responsive.css" rel="stylesheet" />
<script src="~/Scripts/dataTables.responsive.js"></script>
<script src="~/Scripts/dataTables.responsive.min.js">*@
@*</script>*@
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
@*<script src="~/Scripts/dataTables.scroller.js"></script>*@
<link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />

<!-- page specific plugin styles -->
<link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="~/assets/css/chosen.css" />

<link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.css" />
<link rel="stylesheet" href="~/assets/css/daterangepicker.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.css" />
<link rel="stylesheet" href="~/assets/css/colorpicker.css" />

<script src="~/assets/js/jquery.autosize.min.js"></script>
<!-- text fonts -->
<link rel="stylesheet" href="~/assets/css/ace-fonts.css" />

<!-- ace styles -->
<link rel="stylesheet" href="~/assets/css/ace.min.css" />

<!--[if lte IE 9]>
			<link rel="stylesheet" href="~/assets/css/ace-part2.min.css" />
		<![endif]-->
<link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
<link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />
<link rel="stylesheet" href="~/assets/css/datepicker.css" />
<script src="~/assets/js/jquery-ui.min.js"></script>
@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="~/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="~/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
<script src="~/Scripts/tinymce/tiny_mce.js"></script>
<script src="~/assets/js/chosen.jquery.min.js"></script>



<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/fuelux/fuelux.wizard.min.js"></script>
<script src="~/assets/js/jquery.validate.min.js"></script>
<script src="~/assets/js/additional-methods.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/select2.min.js"></script>
<script src="~/assets/js/ace-extra.min.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>



<script src="~/assets/js/fuelux/fuelux.spinner.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="~/assets/js/date-time/moment.min.js"></script>
<script src="~/assets/js/date-time/daterangepicker.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-datetimepicker.min.js"></script>
<script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
<script src="~/assets/js/jquery.knob.min.js"></script>
<script src="~/assets/js/jquery.autosize.min.js"></script>
<script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>

<script src="~/assets/js/bootstrap-tag.min.js"></script>

<script type="text/javascript">
    //////////////////////FileUploadSection//////////////////////
    function Initializefileupload() {
       
        $("#removeUpload").hide();
       
        $("#fileupload").click(function (event) {
            //$('#pdffile').text('No')
            //$('#pdffile1').text('No')
            //$('#IsPdf').val("N");
           
            $('#fileupload').fileupload({

                dataType: 'json',
                url: "/eFile/eFile/UploadFiles",
                autoUpload: true,
                done: function (e, data) {
                    //    var sim = setTimeout("hidevalue2()", 1000);

                    $('.file_name1').html(data.result.name);

                    $('.file_size1').html(data.result.size);

                }
            }).on('fileuploadprogressall', function (e, data) {

                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('.progress1 .progress-bar').css('width', progress + '%');
                $('#removeUpload').css('display', 'block');
            });
        });
    }
    function removefileupload() {
        $('#pdffile').text('No')
        $('#pdffile1').text('No')
        $('#IsPdf').val("N");
        $('.file_name1').html('');
        $('.file_size1').html('');
        $('.progress1 .progress-bar').css('width', '0%');
        $("#removeUpload").hide();
        $('#fileuploadcontant').css('border', '0px solid rgb(244, 239, 239)');
        $.post("/eFile/eFile/RemovePDFFiles",
           {
           },
           function (data) {
           });

    }

    function InitializefileuploadWord() {
        $("#removeUploadWord").hide();
        $("#fileuploadWord").click(function (event) {
            $('#fileuploadWord').fileupload({

                dataType: 'json',
                url: "/eFile/eFile/UploadFilesWord",
                autoUpload: true,
                done: function (e, data) {
                    //    var sim = setTimeout("hidevalue2()", 1000);

                    $('.file_name1Word').html(data.result.name);

                    $('.file_size1Word').html(data.result.size);

                }
            }).on('fileuploadprogressall', function (e, data) {

                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('.progress1Word .progress-bar').css('width', progress + '%');
                $('#removeUploadWord').css('display', 'block');
            });
        });
    }
    function removefileuploadWord() {
        //$('#docfile1').text('No')
        //$('#IsWord').val("N");
        //$('#docfile').val("N");
        $('.file_name1Word').html('');
        $('.file_size1Word').html('');
        $('.progress1Word .progress-bar').css('width', '0%');
        $("#removeUploadWord").hide();
        $('#fileuploadcontantWord').css('border', '0px solid rgb(244, 239, 239)');
        $.post("/eFile/eFile/RemovePDFFilesWord",
           {
           },
           function (data) {
           });

    }
    //////////////////////FileUploadSection//////////////////////
	$(document).ready(function () {
		GetDivData();
	});
	function GetSubMenu(Id) {
		$.ajaxSetup({ cache: false });
		var pathurl = '@Url.Action("GetSubMenu", "OnlineMemberQuestions")';
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
				ModuleId: Id
			},
			success: function (data) {
				$("#List").html(data);

			}
		});
	}
	function GetDivData() {
		$.ajaxSetup({ cache: false });
		var pathurl = '@Url.Action("GetDivData", "Grievances")';
		$.ajax({
			url: pathurl,
			type: 'GET',
			success: function (data) {
				$("#MainDiv").empty();
				$("#MainDiv").html(data);

			}
		});
	}
	function ChangeLangaugeHindi() {

		$.ajax({
			url: "/Home/ChangeCulture",
			type: 'GET',
			data: {
				lang: "43177cd4-b51d-497a-a3bc-e81f23b07450",
				langCulture: "/"
			},
			success: function (data) {
				if (data) {
					window.location.href = '@Url.Action("Index", "OnlineMemberQuestions", new { Area = "Notices" })';
				} else { alert("error"); }
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.status);
				alert(thrownError);
			}
		});
	}

	function ChangeLangaugeEnglish() {

		$.ajax({
			url: "/Home/ChangeCulture",
			type: 'GET',
			data: {
				lang: "7C4F28F6-02FC-4627-993D-E255037531AD",
				langCulture: "/"
			},
			success: function (data) {
				if (data) {
					window.location.href = '@Url.Action("Index", "OnlineMemberQuestions", new { Area = "Notices" })';
				} else { alert("error"); }
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.status);
				alert(thrownError);
			}
		});
	}



	$("#sizeDown").click(function () {
		if ($("body").hasClass('sizeLarge')) {
			$("body").css("font-size", "13px");
			$("body").removeClass('sizeLarge');
		} else {
			$("body").css("font-size", "10px");
			$("body").addClass('sizeSmall');
		}
	});

	$("#sizeUp").click(function () {
		if ($("body").hasClass('sizeSmall')) {
			$("body").css("font-size", "13px");
			$("body").removeClass('sizeSmall');
		} else {
			$("body").css("font-size", "18px");
			$("body").addClass('sizeLarge');
		}
	});

	$('#sidebar-collapse').on('click', function () {
		var parentWidth = $('#resize-left').parent().width();
		if ($('#sidebar').hasClass('menu-min')) {
			parentWidth = parentWidth - 130;
		} else { parentWidth = parentWidth + 110; }

		var remainingSpace = parentWidth - $('#resize-left').outerWidth();
		var divTwo = $('#resize-left').next();
		var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
		divTwo.css('width', divTwoWidth + 'px');

		//alert("ds");
		setTimeout(function () {
			$("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
		}, 50);
	});

	$("#resize-left").resizable({
		handles: 'e',
		minWidth: '400',
		maxWidth: '850',
		/*    grid: [ 20, 10 ], */
		resize: function () {
			var remainingSpace = $(this).parent().width() - $(this).outerWidth();
			var divTwo = $(this).next();
			var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
			divTwo.css('width', (divTwoWidth - 20) + 'px');

			$("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
		}

	});

	function ClearControls() {
		$("#RightSidebar").html("");
	}

	function SaveModuleIdActionId(MId, AIds) {
		//alert(Id);
		$.ajax({
			url: "/Home/CaptureModuleIdActionId",
			type: 'GET',
			data: {
				ModuleId: MId,
				ActionIds: AIds
			},
			success: function (data) {
			}
		})
	}

	function RemoveClass() {
		$("#li_" + '@ViewBag.MenuId').removeClass("active");
	}

	function GetActionView(SubMenuID, Cnt, MainMenuID) {
	    GetDivData();
		$("#divLeftContainer").css("display", "block")
		$("#divRightContainer").css("display", "block")
		$('.widget-box').hide();
		$("#loader-wrapper").show();

		$.ajaxSetup({ cache: false });
		var pathurl = '@Url.Action("GetActionView", "Grievances")';
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
				SubMenuID: SubMenuID,
				AssemId: '@Model.AssemblyId',
				SessId: '@Model.SessionId',
				MainMenuID: MainMenuID,
				Count: Cnt
			},
		    success: function (data) {
		        if (SubMenuID == "215") {
		            $("#MainDiv").html("");
		            $("#MainDiv").html(data);
		        }
		        else {
		            $("#outerDiv").html("");
		            $("#outerDiv").html(data);
		        }
		            ClearControls();
		            $("#loader-wrapper").hide();
		        

			}
		});

	}




	function HideMessageDiv() {
		document.getElementById("SuccessDiv").style.color = "#3c763d"
		document.getElementById("SuccessDiv").style.display = "none"

	}

	// added code by dharmendra for member tour section //

	function GetAllMemberTourList() {
		$('.widget-box').hide();
		var cl = new CanvasLoader('canvasloader-container1');
		cl.show();
		$.ajaxSetup({ cache: false });
		var pathurl = '@Url.Action("AllMemberTourList", "OnlineMemberQuestions")';
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
				PageNumber: "1",
				RowsPerPage: "10",
				loopStart: "1",
				loopEnd: "5"
			},
			success: function (data) {
				$('#outerDiv').hide();
				$("#outerDiv").html("");
				$("#divDataContainer").html(data);
				$("#FormPart").html('');
				ClearControls();
				cl.hide();
				ChangeBreadCrumbParent('@Resources.Member.Tours', "");
				ChangeBreadCrumbChild('@Resources.Member.Tours', "");

			}
		});
	}

	function TodayMemberTourList() {
		$('.widget-box').hide();
		var cl = new CanvasLoader('canvasloader-container1');
		cl.show();
		$.ajaxSetup({ cache: false });
		var pathurl = '@Url.Action("TodayMemberTourList", "OnlineMemberQuestions")';
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
				PageNumber: "1",
				RowsPerPage: "10",
				loopStart: "1",
				loopEnd: "5"
			},
			success: function (data) {
				$('#outerDiv').hide();
				$("#outerDiv").html("");
				$("#divDataContainer").html(data);
				$("#FormPart").html('');
				ClearControls();
				cl.hide();
				ChangeBreadCrumbParent('@Resources.Member.Tours', "");
				ChangeBreadCrumbChild('@Resources.Member.ToDayProgrammes', "");

			}
		});
	}

	function UpcomingMemberTourList() {
		$('.widget-box').hide();
		var cl = new CanvasLoader('canvasloader-container1');
		cl.show();
		$.ajaxSetup({ cache: false });
		var pathurl = '@Url.Action("UpcomingMemberTourList", "OnlineMemberQuestions")';
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
				PageNumber: "1",
				RowsPerPage: "10",
				loopStart: "1",
				loopEnd: "5"
			},
			success: function (data) {
				$('#outerDiv').hide();
				$("#outerDiv").html("");
				$("#divDataContainer").html(data);
				$("#FormPart").html('');
				ClearControls();
				cl.hide();
				ChangeBreadCrumbParent('@Resources.Member.Tours', "");
				ChangeBreadCrumbChild('@Resources.Member.UpcomingProgrammes', "");

			}
		});
	}
	//End Tour section //

	function MemberCategory() {
		$('.widget-box').hide();
		var cl = new CanvasLoader('canvasloader-container1');
		cl.show();
		$.ajaxSetup({ cache: false });
		var pathurl = '@Url.Action("GetAllMemberCategory", "OnlineMemberQuestions")';
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
				PageNumber: "1",
				RowsPerPage: "10",
				loopStart: "1",
				loopEnd: "5"
			},
			success: function (data) {
				$("#divDataContainer").html(data);
				cl.hide("");


			}
		});
	}

	function MemberAlbum() {
		$('.widget-box').hide();
		var cl = new CanvasLoader('canvasloader-container1');
		cl.show();
		$.ajaxSetup({ cache: false });
		var pathurl = '@Url.Action("GetGalleryAlbumIndex", "OnlineMemberQuestions")';
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
				PageNumber: "1",
				RowsPerPage: "10",
				loopStart: "1",
				loopEnd: "5"
			},
			success: function (data) {
				$("#divDataContainer").html(data);
				cl.hide("");


			}
		});
	}

	function MemberGallery() {
		$('.widget-box').hide();
		var cl = new CanvasLoader('canvasloader-container1');
		cl.show();
		$.ajaxSetup({ cache: false });
		var pathurl = '@Url.Action("GetGalleryForm", "OnlineMemberQuestions")';
			$.ajax({
				url: pathurl,
				type: 'GET',
				data: {
					PageNumber: "1",
					RowsPerPage: "10",
					loopStart: "1",
					loopEnd: "5"
				},
				success: function (data) {
					$("#divDataContainer").html(data);
					cl.hide("");


				}
			});
		}

		function getDashboard() {
			$("#two-column").css("display", "none")
			$.ajaxSetup({ cache: false });
			var pathurl = '@Url.Action("MainOnlineDashboard", "OnlineMemberQuestions")';
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
			},
			success: function (data) {
				$("#divDataContainer").html("");
				$("#FormPart").html("");
				$('#outerDiv').show();
				$("#outerDiv").html(data);
				ClearControls();
				//document.getElementById("MainDiveThreeTire").style.display = "none";
				//document.getElementById("MainDiveTwoTire").style.display = "none";
				ChangeBreadCrumbParent('@Resources.Diaries.MyDashboard', "");
				ChangeBreadCrumbChild('@Resources.Diaries.All', "");

			}
		});
	}

	function hideLeftPanel() {
		$('#resize-left').width(0);
		$('#resize-right').width(100 + '%')

	}

	function hideLeftPanelAnimate() {
		resizeLeftPanel(0);
	}

	function hideRightPanel() {
		$('#resize-left').width(100 + '%');
		$('#resize-right').width(0)
	}

	function hideRightPanelAnimate() {
		resizeLeftPanel(100);
	}

	function resizeClick(isLeft) {
		var parentWidth = $('#resize-left').parent().outerWidth();
		if (isLeft) { // click on left rezise button
			if ($('#resize-left').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
			else { resizeLeftPanel(0); }
		} else {
			if ($('#resize-right').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
			else { resizeLeftPanel(100); }
		}
	}

	function resizeLeftPanel(sizeRatio) {

		var parentWidth = $('#resize-left').parent().width();
		$('#resize-left').animate({ width: +(sizeRatio) + '%' }, 500);
		$('#resize-right').animate({ width: +(100 - sizeRatio) + '%' }, 500);
	}

</script>


@*//#region Access Control LegislationFixation  *@

<script>

	function WebAdminAcceptRejectUser() {
		$("#loader-wrapper").show();
		var pathurl = '@Url.Action("WebAdminAcceptRejectUser", "AcceptRejectUserRequest", new { @area = "" })';

		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {

			},
			cache: false,
			success: function (data) {

				document.getElementById("MainDiveThreeTire").style.display = "none";
				document.getElementById("MainDiveTwoTire").style.display = "block";

				$("#outerDiv").html("");
				$("#outerDiv").hide();
				$("#SuccessDiv").hide();
				$("#divDataContainer").empty();
				$("#RightSidebar").empty();

				$("#divDataContainerTwoTire").empty();

				$("#divDataContainerTwoTire").html(data);

				$("#loader-wrapper").hide();
			}
		});
	}

	function WebAdminAccepted() {

		$("#loader-wrapper").show();
		var pathurl = '@Url.Action("WebAdminAccepted", "AcceptRejectUserRequest", new { @area = "" })';

		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {

			},
			cache: false,
			success: function (data) {

				document.getElementById("MainDiveThreeTire").style.display = "none";
				document.getElementById("MainDiveTwoTire").style.display = "block";

				$("#outerDiv").html("");
				$("#outerDiv").hide();
				$("#SuccessDiv").hide();
				$("#divDataContainer").empty();
				$("#RightSidebar").empty();

				$("#divDataContainerTwoTire").empty();

				$("#divDataContainerTwoTire").html(data);
				$("#loader-wrapper").hide();
			}
		});
	}

	function WebAdminRejected() {
		$("#loader-wrapper").show();
		var pathurl = '@Url.Action("WebAdminRejected", "AcceptRejectUserRequest", new { @area = "" })';

		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {

			},
			cache: false,
			success: function (data) {

				document.getElementById("MainDiveThreeTire").style.display = "none";
				document.getElementById("MainDiveTwoTire").style.display = "block";

				$("#outerDiv").html("");
				$("#outerDiv").hide();
				$("#SuccessDiv").hide();
				$("#divDataContainer").empty();
				$("#RightSidebar").empty();

				$("#divDataContainerTwoTire").empty();


				$("#divDataContainerTwoTire").html(data);
				$("#loader-wrapper").hide();

			}
		});
	}

	function EditWebAdminAcceptReject(id) {
		$("#loader-wrapper").show();
		var pathurl = '@Url.Action("EditWebAdminAcceptReject", "AcceptRejectUserRequest", new { @area = "" })';

		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
				Id: id
			},
			cache: false,
			success: function (data) {

				document.getElementById("MainDiveThreeTire").style.display = "none";
				document.getElementById("MainDiveTwoTire").style.display = "block";

				$("#outerDiv").html("");
				$("#outerDiv").hide();
				$("#SuccessDiv").hide();
				$("#divDataContainer").empty();
				$("#RightSidebar").empty();

				$("#divDataContainerTwoTire").empty();

				$("#divDataContainerTwoTire").html(data);

				$("#loader-wrapper").hide();

			}
		});
	}



	function DeleteWebAcceptRejectUser(id) {
		$("#loader-wrapper").show();
		var pathurl = '@Url.Action("DeleteWebAcceptRejectUser", "AcceptRejectUserRequest", new { @area = "" })';

		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
				SIds: id
			},
			cache: false,
			success: function (data) {

				document.getElementById("MainDiveThreeTire").style.display = "none";
				document.getElementById("MainDiveTwoTire").style.display = "block";

				$("#outerDiv").html("");
				$("#outerDiv").hide();
				$("#SuccessDiv").hide();
				$("#divDataContainer").empty();
				$("#RightSidebar").empty();

				$("#divDataContainerTwoTire").empty();

				$("#divDataContainerTwoTire").html(data);

				$("#loader-wrapper").hide();
			}
		});
	}

	function EditWebAdminAccepted(id) {
		$("#loader-wrapper").show();
		var pathurl = '@Url.Action("EditWebAdminAccepted", "AcceptRejectUserRequest", new { @area = "" })';

		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
				id: id
			},
			cache: false,
			success: function (data) {

				document.getElementById("MainDiveThreeTire").style.display = "none";
				document.getElementById("MainDiveTwoTire").style.display = "block";

				$("#outerDiv").html("");
				$("#outerDiv").hide();
				$("#SuccessDiv").hide();
				$("#divDataContainer").empty();
				$("#RightSidebar").empty();

				$("#divDataContainerTwoTire").empty();

				$("#divDataContainerTwoTire").html(data);
				//  alert("test");
				ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp");
				ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");
				$("#loader-wrapper").hide();
			}
		});
	}

	function DeleteWebAcceptUser(id) {
		$("#loader-wrapper").show();
		var pathurl = '@Url.Action("DeleteWebAcceptUser", "AcceptRejectUserRequest", new { @area = "" })';

		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
				SIds: id
			},
			cache: false,
			success: function (data) {

				document.getElementById("MainDiveThreeTire").style.display = "none";
				document.getElementById("MainDiveTwoTire").style.display = "block";

				$("#outerDiv").html("");
				$("#outerDiv").hide();
				$("#SuccessDiv").hide();
				$("#divDataContainer").empty();
				$("#RightSidebar").empty();

				$("#divDataContainerTwoTire").empty();

				$("#divDataContainerTwoTire").html(data);

				ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp");
				ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");
				$("#loader-wrapper").hide();
				openDilog();

			}
		});
	}

	//other function

	function UpdateRoleandDepartment() {
		$("#loader-wrapper").show();
		var reqdeptids = "";
		var roleids = "";
		var oldDeptid = "";

		$(".deptcheckbox").each(function () {
			if ($(this).is(':checked')) {
				reqdeptids += $(this).val() + ",";
			}

		});

		$('#hdnalldepartmentIds').val(reqdeptids);

		var userid = document.getElementById("DdlQuestionType").value;
		oldDeptid = document.getElementById("Deptid").value;

		if (reqdeptids != "") {
			alert("Are You Sure Want to Update?");

			$.ajax({
				url: "/AcceptRejectUserRequest/UpdateRoleandDepartment",
				type: 'GET',
				data: {
					userid: userid,
					reqdeptids: reqdeptids,
					oldDeptid: oldDeptid

				},
				success: function (data) {
					if (data) {
						//alert("Update Successfully");
						document.getElementById("MainDiveThreeTire").style.display = "none";
						document.getElementById("MainDiveTwoTire").style.display = "block";

						$("#outerDiv").html("");
						$("#outerDiv").hide();
						$("#SuccessDiv").hide();
						$("#divDataContainer").empty();
						$("#RightSidebar").empty();

						$("#divDataContainerTwoTire").empty();

						$("#divDataContainerTwoTire").html(data);

						$("#loader-wrapper").hide();
						openDilog();
					}


				},
				error: function (xhr, ajaxOptions, thrownError) {
					alert(xhr.responseText);
					alert(thrownError);
					location.reload(true);
				}
			});
		}

		else {

			$("#loader-wrapper").hide();
			alert("Requested department not available");

		}
	}
	function ModuleUpdatecheckValidation() {
		var deptids = "";
		var roleids = "";

		var SIds = document.getElementById("SelectedSignChkbxId").value;

		if (SIds != null && SIds != "") {
			bootbox.confirm('Are You Sure Want to Update?', function (confresult) {
				$("#loader-wrapper").show();
				if (confresult) {
					$.ajax({
						url: "/AcceptRejectUserRequest/UpdateWebAcceptUser",
						type: 'GET',
						data: {
							SIds: SIds,
							deptids: deptids,
							roleids: roleids
						},
						success: function (data) {
							if (data) {
								//alert("Update Successfully");
								document.getElementById("MainDiveThreeTire").style.display = "none";
								document.getElementById("MainDiveTwoTire").style.display = "block";

								$("#outerDiv").html("");
								$("#outerDiv").hide();
								$("#SuccessDiv").hide();
								$("#divDataContainer").empty();
								$("#RightSidebar").empty();

								$("#divDataContainerTwoTire").empty();

								$("#divDataContainerTwoTire").html(data);

								$("#loader-wrapper").hide();
								openDilog();
								WebAdminAcceptRejectUser();
								@* window.location.href = '@Url.Action("DepartmentDashboard", "PaperLaidDepartment", new { Area = "PaperLaidDepartment" })';*@
							}
						},
						error: function (xhr, ajaxOptions, thrownError) {
							alert(xhr.responseText);
							alert(thrownError);
							location.reload(true);
						}
					});
				}
				else {
					$("#loader-wrapper").hide();
				}

			})
		}

		else {
			bootbox.alert('Please select row checkbox');
		}
	}
	function openDilog() {
		var dlg = bootbox.alert("Update Successfully", function (e) {

			$(dlg).modal('hide');

		});

	}
	function ModuleUpdateReject() {

		var SIds = document.getElementById("SelectedSignChkbxId").value;

		if (SIds != null && SIds != "") {
			bootbox.confirm('Are You Sure Want to Update?', function (confresult) {
				$("#loader-wrapper").show();
				if (confresult) {
					$.ajax({
						url: "/AcceptRejectUserRequest/UpdateWebRejectUser",
						type: 'GET',
						data: {
							SIds: SIds
						},
						success: function (data) {
							if (data) {
								//alert("Update Successfully");
								document.getElementById("MainDiveThreeTire").style.display = "none";
								document.getElementById("MainDiveTwoTire").style.display = "block";

								$("#outerDiv").html("");
								$("#outerDiv").hide();
								$("#SuccessDiv").hide();
								$("#divDataContainer").empty();
								$("#RightSidebar").empty();

								$("#divDataContainerTwoTire").empty();

								$("#divDataContainerTwoTire").html(data);

								$("#loader-wrapper").hide();
								openDilog();
								WebAdminAcceptRejectUser();
								@*window.location.href = '@Url.Action("DepartmentDashboard", "PaperLaidDepartment", new { Area = "PaperLaidDepartment" })';*@
							}


						},
						error: function (xhr, ajaxOptions, thrownError) {
							alert(xhr.responseText);
							alert(thrownError);
							location.reload(true);
						}
					});
				}

				else {
					$("#loader-wrapper").hide();
				}

			})
		}

		else {
			bootbox.alert('Please select row checkbox');
		}
	}

	function checkAcceptRejectChange(id) {


		if (document.getElementById(id).checked) {


			var selectedId = document.getElementById("SelectedSignChkbxId").value;


			if (selectedId == "") {
				document.getElementById("SelectedSignChkbxId").value = id.substring(4);
			}
			else {
				selectedId = selectedId + "," + id.substring(4);

				document.getElementById("SelectedSignChkbxId").value = selectedId;
			}
			//alert(document.getElementById("SelectedChkbxId").value)
		}
		else {
			var selectedId = document.getElementById("SelectedSignChkbxId").value;

			var newvalue = selectedId.replace("," + id.substring(4), "");
			if (newvalue.length == selectedId.length) {
				newvalue = selectedId.replace(id.substring(4) + ",", "");
			}
			if (newvalue.length == selectedId.length) {
				newvalue = selectedId.replace(id.substring(4), "");
			}

			document.getElementById("SelectedSignChkbxId").value = newvalue;

			//alert(document.getElementById("SelectedChkbxId").value);
		}

		if ($(".Checkbox").not(':checked').length == 0) {
			$('#ChkBoxAll').attr('checked', true)
		}
		else {
			$('#ChkBoxAll').attr('checked', false)
		}
	}

	function AssignRole() {
		$("#loader-wrapper").show();
		var pathurl = '@Url.Action("AssignRole", "AcceptRejectUserRequest", new { @area = "" })';

		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {

			},
			cache: false,
			success: function (data) {
				document.getElementById("MainDiveThreeTire").style.display = "none";
				document.getElementById("MainDiveTwoTire").style.display = "block";

				$("#outerDiv").html("");
				$("#outerDiv").hide();
				$("#SuccessDiv").hide();
				$("#divDataContainer").empty();
				$("#RightSidebar").empty();

				$("#divDataContainerTwoTire").empty();

				$("#divDataContainerTwoTire").html(data);

				$("#loader-wrapper").hide();

			}
		});
	}

	//Added code venkat for Dynamic Menu
	function SaveModuleIdActionId(MId) {
		// alert(Id);
		$.ajax({
			url: "/Home/CaptureModuleIdActionId",
			type: 'GET',
			data: {
				ModuleId: MId
			},
			success: function (data) {
			}
		})
	}

	@*function GetActionView(Type, Cnt) {
		
		if (Type != "Individual Passes" && Type != "Vehicle Passes" && Type != "Unauthorized Employee" && Type != "Authorized Employee") {
			if (Type == "Pending Request" || Type == "Accepted Request" || Type == "Rejected Request") {
				$('.widget-box').hide();
				//var cl = new CanvasLoader('canvasloader-container1');
				//cl.show();
				$("#loader-wrapper").show();
				$.ajaxSetup({ cache: false });
				var pathurl = '@Url.Action("GetActionView", "PaperLaidDepartment")';
				$.ajax({
					url: pathurl,
					type: 'GET',
					data: {
						PaperType: Type,
						AID: '@Model.AssemblyId',
						SID: '@Model.SessionId',
						Count: Cnt
					},
					success: function (data) {
						$("#two-column").css("display", "none");
						$("#MainDiveTwoTire").css("display", "block");
						$("#divDataContainerTwoTire").html(data);
						$("#divbindList").empty();
						$('#outerDiv').hide();
						$("#outerDiv").html("");
						$("#divDataContainer").empty();
						$("#FormPart").html("");
						$("#SuccessDiv1").empty();
						$("#SuccessDiv").empty();
						$("#SuccessDiv").hide();
						ClearControls();
						$("#loader-wrapper").hide();

					}
				});
			}
			else {
				$('.widget-box').hide();
				$("#loader-wrapper").show();
				$.ajaxSetup({ cache: false });
				var pathurl = '@Url.Action("GetActionView", "PaperLaidDepartment")';
				$.ajax({
					url: pathurl,
					type: 'GET',
					data: {
						PaperType: Type,
						AID: '@Model.AssemblyId',
						SID: '@Model.SessionId',
						Count: Cnt,

					},
					success: function (data) {
						document.getElementById("MainDiveThreeTire").style.display = "block";
						document.getElementById("MainDiveTwoTire").style.display = "none";
						$("#outerDiv").html("");
						$('#outerDiv').hide();
						$("#SuccessDiv").hide();
						$("#divDataContainer").html(data);
						ClearControls();
						$("#loader-wrapper").hide();


					}
				});
			}
		}
		else if (Type == "Individual Passes") {

			$("#loader-wrapper").show();
			var pathurl = '@Url.Action("PartialPassRequestList", "PassRequest", new { @area = "PaperLaidDepartment" })';

			$.ajax({
				url: pathurl,
				type: 'GET',
				data: {

				},
				cache: false,
				success: function (data) {
					//alert("test");
					$("#outerDiv").html("");
					$("#outerDiv").hide();
					$("#SuccessDiv").hide();
					$("#divDataContainer").html("");
					$("#RightSidebar").empty();
					$("#divDataContainerTwoTire").empty();
					$("#divDataContainerTwoTire").html(data);
					$("#MainDiveTwoTire").show();

					$("#loader-wrapper").hide();
					//alert("test1");
				}
			});
		}
		else if (Type == "Vehicle Passes") {
			//alert("vehicle");
			$("#loader-wrapper").show();
			var pathurl = '@Url.Action("PartialVehiclePassList", "VehiclePass", new { @area = "VehiclePasses" })';

			$.ajax({
				url: pathurl,
				type: 'GET',
				data: {

				},
				cache: false,
				success: function (data) {
					//alert("test");
					$("#outerDiv").html("");
					$("#outerDiv").hide();
					$("#SuccessDiv").hide();
					$("#divDataContainer").html("");
					$("#RightSidebar").empty();
					$("#divDataContainerTwoTire").empty();
					$("#divDataContainerTwoTire").html(data);
					$("#MainDiveTwoTire").show();
					$("#loader-wrapper").hide();
				}
			});
		}
		else if (Type == "Unauthorized Employee") {
			var cl5 = new CanvasLoader('canvasloader-container3');
			cl5.show();
			var pathurl = '@Url.Action("GetEmployeeAuthorisationList", "EmplyeeAuthorisation", new { @area = "UserRegistration" })';

			$.ajax({
				url: pathurl,
				type: 'GET',
				data: {

				},
				cache: false,
				success: function (data) {
					$("#outerDiv").html("");
					$("#outerDiv").hide();
					$("#SuccessDiv").hide();
					$("#divDataContainer").html("");
					$("#RightSidebar").empty();
					$("#divDataContainerTwoTire").empty();
					$("#divDataContainerTwoTire").html(data);
					$("#MainDiveTwoTire").show();
					cl5.hide();
					//alert("test1");
				}
			});

		}
		else if (Type == "Authorized Employee") {
			var cl5 = new CanvasLoader('canvasloader-container3');
			cl5.show();
			var pathurl = '@Url.Action("GetEmployeeAuthorizedList", "EmplyeeAuthorisation", new { @area = "UserRegistration" })';

			$.ajax({
				url: pathurl,
				type: 'GET',
				data: {

				},
				cache: false,
				success: function (data) {
					$("#outerDiv").html("");
					$("#outerDiv").hide();
					$("#SuccessDiv").hide();
					$("#divDataContainer").html("");
					$("#RightSidebar").empty();

					$("#divDataContainerTwoTire").empty();

					$("#divDataContainerTwoTire").html(data);
					$("#MainDiveTwoTire").show();
					cl5.hide();
					//alert("test1");
				}
			});
		}
}*@


</script>



@*@foreach (var item in Model.MenuList)
{
	if (!temp)
	{
		if (item.ModuleId == 50)
		{
	@Html.Partial("/Areas/VidhanSabhaDepartment/Views/VidhanSabhaDept/Notices/Diaries/_MethodsDecPage.cshtml")
		}

		else if (item.ModuleId == 53 || item.ModuleId == 54)
		{
	@Html.Partial("/Areas/VidhanSabhaDepartment/Views/VidhanSabhaDept/Notices/Typist/_MethodsDecPage.cshtml")
		}
		else if (item.ModuleId == 56)
		{
	@Html.Partial("/Areas/VidhanSabhaDepartment/Views/VidhanSabhaDept/Notices/Translator/_MethodsDecPage.cshtml")
		}
		else
		{
	@Html.Partial("/Areas/VidhanSabhaDepartment/Views/VidhanSabhaDept/Notices/LegislationFixation/_MethodsDecPage.cshtml")   
		}
	}

	temp = true;
}*@

@*//#endregion Access Control LegislationFixations *@










