﻿@model IEnumerable<SBL.DomainModel.Models.LibraryVS.VsLibraryBooks>

<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li class="active">Search Book DashBoard</li>
        </ul>
    </div>

    <!-- /section:settings.box -->
    <div id="Menu">

        <div class="col-xs-12">
            <div class="table-responsive ">
                <table class="table danger">
                    <tr class="info">
                        <td>
                            <div class="form-group">
                                <label class=" control-label  " for="Subscriber’s Name">Book title</label>
                                <input type="text" id="txtTitleofBook" placeholder="Title" class="col-md-10 col-sm-5" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label class=" control-label  " for="ItemType">Author Name</label>
                                <input type="text" id="txtAuthorName" placeholder="Author" class="col-md-10 col-sm-5" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label class=" control-label  " for="Language">Editor name</label>
                                <input type="text" id="txtEditorName" placeholder="Editor" class="col-md-10 col-sm-5" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label class=" control-label  " for="Frequency">Edition</label>
                                <input type="text" id="txtEdition" placeholder="Edition" class="col-md-10 col-sm-5" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label class=" control-label  " for="StartDateFrom">Book Volume</label>
                                <input type="text" id="txtVolume" placeholder="Volume" class="col-md-10 col-sm-5 date-picker" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label class=" control-label  " for="StartDateTo">Publication Name</label>
                                <input type="text" id="txtPublisherName" placeholder="Name" class="col-md-10 col-sm-5 date-picker" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label class=" control-label  " for="EndDateFrom">Publication Place</label>
                                <input type="text" id="txtPublicaionPlace" placeholder="Place" class="col-md-10 col-sm-5 date-picker" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label class=" control-label  " for="EndDateTo">Publication Year</label>
                                <input type="text" id="txtPublicationYear" placeholder="Year" class="col-md-10 col-sm-5 date-picker" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <div class="space-12"></div>
                                <button class="btn btn-sm btn-primary btn-bold" id="btnSearch" onclick="JavascriptFunction();">
                                    <i class="ace-icon fa fa-search bigger-150"></i>
                                    <span class="bigger-110">Search</span>
                                </button>
                            </div>

                        </td>
                    </tr>
                </table>

                <!-- PAGE CONTENT BEGINS -->
                <div class="alert alert-block alert-success" id="AlertDiv" style="display: none;">
                    <strong><i class="ace-icon fa fa-check-square-o"></i>Success! </strong><span id="MsgSpan"></span>
                </div>
                <div id="tablecontainer">
                    @{Html.RenderPartial("~/Areas/Library/Views/BookManagement/_AvailableBooksList.cshtml", Model);}
                </div>
                <!-- /.col -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.page-content -->
</div>
<!-- /.page-content -->

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">

    $(document).on('click', '#btnSearch', function (e) {

        $body = $("body");
        var TitleOfBook = $('#txtTitleofBook').val();
        var AuthorName = $('#txtAuthorName').val();
        var EditorName = $('#txtEditorName').val();
        var Edition = $('#txtEdition').val();
        var Volume = $('#txtVolume').val();
        var PublisherName = $('#txtPublisherName').val();
        var PublicaionPlace = $('#txtPublicaionPlace').val();
        var PublicationYear = $('#txtPublicationYear').val();
        if (TitleOfBook == "" && AuthorName == "" && EditorName == "" && Edition == "" && Volume == "" && PublisherName == "" && PublicaionPlace == "" && PublicationYear == "") {
            var Valid = false;
        }
        else {
            var Valid = true;
        }

        if (Valid == true) {
            $.ajax({
                type: "POST",
                url: '/Library/BookManagement/SearchAvailableBooks',
                data: '{ TitleOfBook: "' + TitleOfBook + '", AuthorName: "' + AuthorName + '",EditorName: "' + EditorName + '",Edition: "' + Edition + '",Volume: "' + Volume + '", PublisherName: "' + PublisherName + '",PublicaionPlace: "' + PublicaionPlace + '", PublicationYear: "' + PublicationYear + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(result);

                },
                error: function (error) {
                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(error.responseText);

                },
                complete: function (results) {
                    $('#loader-wrapper').hide();
                    //setTimeout(function () {
                    //    $body.removeClass("loading");
                    //}, 1000);
                }
            });
        } else {
            var dlg = bootbox.alert('Please select at least one Field', function (e) {
                $(dlg).modal('hide');
            })
            $('#tablecontainer').empty();
        }
    });
</script>