﻿@model SBL.DomainModel.Models.LibraryVS.VsLibraryBooks
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li class="active">Book Management</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>Update Book info
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Enter Accession number of book
                </small>
            </h1>
            <div class="red col-sm-4" style="float: right">@ViewBag.Message</div>
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
    <div class="row" id="search">
        <div class="form-group">
            @Html.LabelFor(model => model.AccessionNumber, new { @class = "col-xs-1 control-label" })
            <div class="col-xs-2">
                @Html.TextBoxFor(model => model.AccessionNumber, new { @placeholder = "Accession No", @required = "required", @id = "accessionNumber" })
            </div>
            <button type="button" class="btn  btn-sm btn-success" id="savebtn2" onclick="searchByAccessionNumber()">
                <i class="ace-icon fa fa-book bigger-150"></i>
                <span class="bigger-110">Search</span>
            </button>
        </div>
    </div>
    <div id="UpdateBookInfo">
    </div>
</div>

<link href="~/assets/css/datepicker.css" rel="stylesheet" />
<script src="~/assets/js/CommonNotify.js"></script>
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>

<script type="text/javascript">
    function OnSuccess() {
        var result = $("#messageDisplay").text();
        if (result == 0) {
            ShowNotification("error", "Accession number exist");
        }
        else if (result == 1) {
            ShowNotification("success", "Book Added Successfully");
        }
        else if (result == 2) {
            ShowNotification("error", "Please fill required fields");
        }

    }

    function searchByAccessionNumber() {
        $("#loader-wrapper").show();
        var a = $("#accessionNumber").val();
        if (a == null || a == "") {
            $("#loader-wrapper").hide();
            ShowNotification("error", "Please fill the accession No");
            return false;
        } else {
            var pathurl = "@Url.Action("AddNewBook", "BookManagement")";
            $.ajax({
                url: pathurl,
                type: 'GET',
                data: { model: $("#accessionNumber").val() },
                success: function (data) {
                    if (data == 3) {

                    } else {
                        $("#search").css("display", "none");
                        $("#UpdateBookInfo").html("");
                        $("#UpdateBookInfo").html(data);
                    }
                    $("#loader-wrapper").hide();

                },
                error: function (error) {
                    $('#UpdateBookInfo').empty();
                    $('#UpdateBookInfo').append(error.responseText);

                },
                complete: function (results) {
                    $("#loader-wrapper").hide();
                    var result = $("#UpdateBookInfo").text();
                    if (result == 0) {
                        ShowNotification("error", "Accession number exist");
                    }
                    else if (result == 1) {
                        ShowNotification("success", "Book Updated Successfully");
                    }
                    else if (result == 2) {
                        ShowNotification("error", "Please fill Accession no");
                    }
                    else if (result == 3) {
                        ShowNotification("error", "Accession No doesn't exist");
                    }
                    else if (result == 4) {
                        ShowNotification("error", "Please Fill all required Feilds");
                    }
                }
            });
        }
    }
</script>

