﻿@model SBL.DomainModel.Models.LibraryVS.VsLibraryBooks

<link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />

<!-- page specific plugin styles -->
<link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="~/assets/css/chosen.css" />

<link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.css" />
<link rel="stylesheet" href="~/assets/css/daterangepicker.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.css" />
<link rel="stylesheet" href="~/assets/css/colorpicker.css" />
<script src="~/assets/js/jquery.autosize.min.js"></script>
<!-- text fonts -->
<link rel="stylesheet" href="~/assets/css/ace-fonts.css" />

<!-- ace styles -->
<link rel="stylesheet" href="~/assets/css/ace.min.css" />

<!--[if lte IE 9]>
			<link rel="stylesheet" href="~/assets/css/ace-part2.min.css" />
		<![endif]-->
<link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
<link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            @*<li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("AllMembersAccountDetails", "MemberAccountDetails")">Home</a>
            </li>

            <li>
                <a href="@Url.Action("CurrentMembersAccountDetails", "MemberAccountDetails")">Current Members</a>
            </li>*@
            <li class="active">Write off information</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>Write off
				<small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Write Off Info
                </small>
            </h1>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="widget-box">
                    <div class="widget-header">
                        <h4 class="widget-title">Write Off Info</h4>
                        <span id="designationText" class="hspan"></span>

                        <div class="widget-toolbar">

                            <label id="searchcriteriavalueDiv">
                                Select Accession Number
							<select id="searchcriteriavalue" name="searchcriteriavalue" class="chosen-select form-control" data-placeholder="--select a Accession Number--">
                            </select>
                            </label>
                            <button class="btn btn-xs btn-primary btn-bold" onclick="searchBook()">
                                <i class="ace-icon fa fa-search bigger-150"></i>
                                <span class="bigger-110">Search</span>
                            </button>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            @using (Ajax.BeginForm("updateWriteOff", "BookManagement", FormMethod.Post, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "OnSuccess()", LoadingElementId = "loader-wrapper" }, new { @class = "form-horizontal", @role = "form", id = "saveLoanForm" }))
                            {
                                <div id="bookDetails">
                                </div>
                            }
                            <!-- /.col -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>

        <!-- PAGE CONTENT BEGINS -->
        <div class="alert alert-block alert-success" id="AlertDiv" style="display: none;">
            <strong><i class="ace-icon fa fa-check-square-o"></i>Success! </strong><span id="MsgSpan"></span>
        </div>
        <div id="defaultmsg" style="display: none;">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                <strong>Information!</strong>
                Please Select or Type Accession Number to Write OFF the Book.
											<br>
            </div>
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<script src="~/assets/js/chosen.jquery.min.js"></script>

<script src="~/assets/js/select2.min.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script>
    function fillAccessionNumber() {
        $("#loader-wrapper").show();
        var pathUrl = "@Url.Action("getAccessionNumberList", "BookManagement")";
        $.ajax({
            url: pathUrl,
            type: 'GET',
            success: function (data) {
                if (data) {
                    $("#searchcriteriavalue").html("");
                    $("#searchcriteriavalue").append($("<option></option>").val(0).html('--Select Accession Number--'))
                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        $("#searchcriteriavalue").append($("<option></option>").val(item.accessionNumber).html(item.accessionNumber + ' - ' + item.BookName))
                    }
                    $("#searchcriteriavalue").trigger("chosen:updated");
                    $("#loader-wrapper").hide();
                    defaultmsg();
                }
                else {
                    aler("error");
                }
            }
        });
    }
    function defaultmsg() {
        $("#bookDetails").html($("#defaultmsg").html());
    }
    function searchBook() {
        $("#loader-wrapper").show();
        var datavalue = $("#searchcriteriavalue option:selected").val();
        if (datavalue == 0) {
            defaultmsg();
        }
        else {
            var pathurl = "@Url.Action("CheckAccessionNoForWriteOff", "BookManagement")";
            $.ajax({
                url: pathurl,
                type: 'GET',
                data: { AccessionNumber: datavalue },
                success: function (data) {
                    if (data) {
                        $("#bookDetails").html("");
                        $("#bookDetails").html(data);
                       
                    }
                }
            });
        }
        $("#loader-wrapper").hide();
    }
    $(document).ready(function () {
        fillAccessionNumber();
        try {
            $('.chosen-select').chosen({ allow_single_deselect: true });
            //resize the chosen on window resize
            $(window).on('resize.chosen', function () {
                var w = $('.chosen-select').parent().width();
                $('.chosen-select').next().css({ 'width': '300px' });
            }).trigger('resize.chosen');
        }
        catch (error) {
        }
        try {
            $('#chosen-multiple-style').on('click', function (e) {
                var target = $(e.target).find('input[type=radio]');
                var which = parseInt(target.val());
                if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
                else $('#form-field-select-4').removeClass('tag-input-style');
            });
        }
        catch (error) {
        }

    });

    function OnBegin() {
        $("#DisplayResult").css("display", "none");
    }

    function OnSuccess() {
       
            ShowNotification("success", "WriteOff Details has been update successfuly...!");
        
    }
</script>