﻿@model SBL.DomainModel.Models.LibraryVS.VsLibraryBooks
@{
    ViewBag.Title = "BooksVerification";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@Html.Partial("_LeftMenu")
<style>
    #resize-left {
        width: 50%;
        float: left;
    }

    .roundicon {
        padding: 0px 6px 1px 5px;
        line-height: 19px;
        font-size: 16px;
        border-radius: 100%;
        border: 1px solid;
        background-color: #1BAA4E;
        color: white;
    }

    /*Popup*/
    .ShowModal {
        top: 10%;
        left: 24%;
        z-index: 1000;
        position: absolute;
        background-color: White;
        display: block;
    }

    .HideModal {
        display: none;
    }

    .OverlayEffect {
        /*background-color: white;*/
        filter: alpha(opacity=40);
        opacity: 0.7;
        width: 100%;
        height: 100%;
        z-index: 400;
        position: absolute;
        top: 0;
        left: 0;
    }

    .chosen-container {
        /*width:auto!important;*/
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        zoom: 1;
    }

    .chosen-select {
        display: inline !important;
        visibility: hidden;
        opacity: 1;
        position: absolute;
        z-index: -1;
        width: 0!important;
        height: 0!important;
        border-width: 0;
    }
</style>
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li class="active">Stock Verification</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>Stock Verification
				<small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Verifications
                </small>
            </h1>
        </div>
    </div>
    <div class="row1">
        <div class="col-xs-12" style="padding: 0px">
            <div id="two-column" class="">
                <div id="resize-left" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 20px;">

                    <div id="divLeftContainer" style="position: absolute; top: 0; height: 20px; width: 100%; display: block;">
                        <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                        <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                            <i onclick="resizeClick(1)" class="ace-icon fa fa-angle-double-left roundicon"></i>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="tabbable">
                            <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                                <li class="active">
                                    <a data-toggle="tab" href="#home4">Accession No</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#profile4">Location</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="home4" class="tab-pane in active">
                                    <div class="row">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AccessionNumber, new { @class = "col-sm-4 control-label no-padding-right" })
                                            <div class="col-sm-8">
                                                <input type="text" id="accessionNumber" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding: 0 1%;">
                                        <div class="clearfix form-actions" style="margin: 10px 0px 0px 0px;">
                                            <div class="col-md-offset-3 col-md-9">

                                                <button type="button" class="btn  btn-sm btn-success" onclick="searchByAccessionNumber()">
                                                    <i class="ace-icon fa fa-book bigger-150"></i>
                                                    <span class="bigger-110">Search</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="profile4" class="tab-pane">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Building, new { @class = "col-sm-4 control-label no-padding-right" })
                                                <div class="col-sm-8">
                                                    <input type="text" id="Building" required />

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Floor, new { @class = "col-sm-4 control-label no-padding-right" })
                                                <div class="col-sm-8">
                                                    <input type="text" id="Floor" required />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Almirah, new { @class = "col-sm-4 control-label no-padding-right" })
                                                <div class="col-sm-8">
                                                    <input type="text" id="Almirah" required />

                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Rack, new { @class = "col-sm-4 control-label no-padding-right" })
                                                <div class="col-sm-8">
                                                    <input type="text" id="Rack" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="padding: 0 1%;">
                                        <div class="clearfix form-actions" style="margin: 10px 0px 0px 0px;">
                                            <div class="col-md-offset-3 col-md-9">

                                                <button type="button" class="btn  btn-sm btn-success" onclick="searchByLocation()">
                                                    <i class="ace-icon fa fa-book bigger-150"></i>
                                                    <span class="bigger-110">Search</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="resize-right" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 21px;">

                    <div id="divRightContainer" style="position: absolute; top: 0; height: 21px; width: 100%; display: block;">
                        <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                        <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                            <i data-icon2="ace-icon fa fa-angle-double-right" onclick="resizeClick(0)" data-icon1="ace-icon fa fa-angle-double-left" class="ace-icon fa fa-angle-double-right roundicon"></i>
                        </div>
                    </div>

                    <div class="row-fluid" style="overflow: hidden">
                        @using (Ajax.BeginForm("verifyAll", "BookManagement", FormMethod.Post, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "OnSuccess()", LoadingElementId = "loader-wrapper" }, new { @class = "form-horizontal", @role = "form", id = "saveLoanForm" }))
                        {
                            <div id="bookDetails1">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<script src="~/assets/js/CommonNotify.js"></script>
<script>
    $(document).ready(function () {

        //left menu open code
        $("#menuBookManagement").addClass("active open");
        $("#subMenuBookManagement").addClass("nav-show").css("display", "block");
        $("#subSubBooksVerification").addClass("active");
    });

    function searchByAccessionNumber() {
        $("#loader-wrapper").show();
        var pathurl = "@Url.Action("getBookDetailsByAccsNO", "BookManagement")";
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: { accessionNumber: $("#accessionNumber").val() },
            success: function (data) {
                if (data) {

                    $("#loader-wrapper").hide();
                    $("#bookDetails1").html("");
                    $("#bookDetails1").html(data);
                    $("#bookDetaild1").show();
                }
            }
        });
    }
    function searchByLocation() {
        $("#loader-wrapper").show();
        var pathurl = "@Url.Action("getBookDetailsBylocation", "BookManagement")";
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: { Building: $("#Building").val(), Floor: $("#Floor").val(), Almirah: $("#Almirah").val(), Rack: $("#Rack").val() },
            success: function (data) {
                if (data) {
                    $("#loader-wrapper").hide();
                    $("#bookDetails1").html("");
                    $("#bookDetails1").html(data);

                }
            }
        });
    }
    function checkAll(ele) {
        var checkboxes = document.getElementsByTagName('input');
        if (ele.checked) {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                }
            }
        } else {
            for (var i = 0; i < checkboxes.length; i++) {
                console.log(i)
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                }
            }
        }
    }
    function verified(id) {
        $("#loader-wrapper").show();
        var pathurl = "@Url.Action("verifiedBook", "BookManagement")";
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                id: id

            },
            success: function (data) {
                $("#loader-wrapper").hide();
                ShowNotification("success", "Book has been verified...");

            }
        });

    }
    function OnSuccess() {

        ShowNotification("success", "Book has been verified...");

    }


    function ClearControls() {
        $("#RightSidebar").html('');
    }

    function hideLeftPanel() {
        $('#resize-left').width(0);
        $('#resize-right').width(100 + '%')

    }
    function hideLeftPanelAnimate() {
        resizeLeftPanel(0);
    }
    function hideRightPanel() {
        $('#resize-left').width(100 + '%');
        $('#resize-right').width(0)
    }

    function hideRightPanelAnimate() {
        resizeLeftPanel(100);
    }

    function resizeClick(isLeft) {
        var parentWidth = $('#resize-left').parent().outerWidth();
        if (isLeft) { // click on left rezise button
            if ($('#resize-left').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
            else { resizeLeftPanel(0); }
        } else {
            if ($('#resize-right').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
            else { resizeLeftPanel(100); }
        }

    }

    function resizeLeftPanel(sizeRatio) {
        var parentWidth = $('#resize-left').parent().width();
        $('#resize-left').animate({ width: +(sizeRatio) + '%' }, 500);
        $('#resize-right').animate({ width: +(100 - sizeRatio) + '%' }, 500);
        $("#CommonGrid").setGridWidth($('.col-xs-12').width());
    }

    //$(function () {

    //    $('#sidebar-collapse').on('click', function () {
    //        var parentWidth = $('#resize-left').parent().width();
    //        if ($('#sidebar').hasClass('menu-min')) {
    //            parentWidth = parentWidth - 179;
    //        } else { parentWidth = parentWidth + 175; }

    //        var remainingSpace = parentWidth - $('#resize-left').outerWidth();
    //        var divTwo = $('#resize-left').next();
    //        var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
    //        divTwo.css('width', divTwoWidth + 'px');

    //        //alert("ds");
    //        setTimeout(function () {
    //            $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
    //        }, 50);
    //    });

    //    $("#resize-left").resizable({
    //        handles: 'e',
    //        minWidth: '350',
    //        maxWidth: '1100',
    //        /*    grid: [ 20, 10 ], */
    //        resize: function () {
    //            var remainingSpace = $(this).parent().width() - $(this).outerWidth();
    //            var divTwo = $(this).next();
    //            var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
    //            divTwo.css('width', (divTwoWidth - 20) + 'px');

    //            $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
    //        }

    //    });
    //});
    function resizeLeftPanel(sizeRatio) {
        var parentWidth = $('#resize-left').parent().width();
        var sidebarWidth = parseInt((parentWidth * sizeRatio) / 100);
        var left_width = $('#resize-left').outerWidth();
        if (sidebarWidth > left_width) {

            $('#resize-left').animate({ width: '+=' + (sidebarWidth - left_width) + 'px' }, 700);
            $('#resize-right').animate({ width: '-=' + (sidebarWidth - left_width) + 'px' }, 700);

        } else {

            $('#resize-left').animate({ width: '-=' + (left_width - sidebarWidth) + 'px' }, 700);
            $('#resize-right').animate({ width: '+=' + (left_width - sidebarWidth) + 'px' }, 700);

        }

        $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());

    }
</script>
