﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HPMS -  House Controller</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SBL">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/Content/SBL/layout.css" type="text/css">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" href="/Content/SBL/skin.css" type="text/css">
    <link rel="stylesheet" href="~/Content/SBL/baseline.type.css" type="text/css">
    <link rel="stylesheet" href="~/Content/SBL/typography.css" type="text/css">
    <link rel="stylesheet" href="~/Content/SBL/tooltipster.css" type="text/css">
    <link rel="stylesheet" href="~/Content/SBL/jquery.jscrollpane.css" type="text/css">
    <link rel="stylesheet" href="~/Content/SBL/simpletab.css" type="text/css">
    <link rel="stylesheet" href="~/Content/SBL/tooltip.css" type="text/css">
    <link rel="stylesheet" href="~/Content/SBL/skin.css" type="text/css">
    <link rel="stylesheet" href="~/Content/SBL/prettyPhoto.css" type="text/css">
    <link rel="stylesheet" href="~/Content/SBL/custom_styles.css" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Scripts/jquery-1.7.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
    <script src="~/Content/Dashboard/js/custom.js"></script>
    <script src="~/Scripts/spin.js"></script>
    <script src="~/Scripts/jquery.alerts.js"></script>
    <link href="~/Content/jquery.alerts.css" rel="stylesheet" />


</head>
<body>
    <div id="content">
        <header>
            <div class="headerinner">
                <div class="bgslide">

                    <div class="bgslider">
                        <script type="text/javascript">
                            $(function () {
                                $('#slideshow img:gt(0)').hide();
                                setInterval(function () {
                                    $('#slideshow :first-child').fadeOut(1000)
                                    .next('img').fadeIn(1000).end().appendTo('#slideshow');
                                }, 4000);
                            });
                        </script>
                        <div id="slideshow">
                            <img src="/Images/Header/image1.png" />
                            <img src="/Images/Header/image2.png" />
                            <img src="/Images/Header/image3.png" />
                        </div>
                    </div>

                    <div class="logolang">

                        <div class="logo">
                            <div class="logoimg">
                                <img src="/Images/Header/logo.png" border="0" width="96" height="71" alt="Himachal pradhesh">
                            </div>
                            <div class="logotextImage">
                                @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.LanguageID == "7C4F28F6-02FC-4627-993D-E255037531AD")
                                {
                                    <img src="/Images/Header/himachal_eng.png" border="0" height="70" alt="HPMS - House Controller" />
                                }
                                else
                                {
                                    <img src="/Images/Header/himachal_hindi.png" border="0" height="70" alt="HPMS - House Controller" />
                                }
                            </div>
                        </div>

                        <div class="langbox">
                            <div class="langboxinner">
                                <div class="langu">
                                    <ul id="lang-menu">
                                        <li class="li_padd">
                                            @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.LanguageID == "7C4F28F6-02FC-4627-993D-E255037531AD")
                                            {
                                                <a href="#" title="@SBL.eLegislator.HPMS.ServiceAdaptor.Global.ChangeLanguage" class="fl_gb">English</a>
                                            }
                                            else
                                            {
                                                <a href="#" title="@SBL.eLegislator.HPMS.ServiceAdaptor.Global.ChangeLanguage" class="fl_in">हिंदी </a>
                                            }
                                            <ul style="width: 80px">
                                                @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.LanguageID == "7C4F28F6-02FC-4627-993D-E255037531AD")
                                                {
                                                    <li class="li_pad">
                                                        <div class="fl_in">
                                                            @Html.ActionLink(" हिंदी ", "ChangeCulture", "Home", new { area = "", lang = "43177cd4-b51d-497a-a3bc-e81f23b07450", returnUrl = "/", @class = "fl_in" }, htmlAttributes: new { id = "", @title = @SBL.eLegislator.HPMS.ServiceAdaptor.Global.ChangeLanguage })
                                                        </div>
                                                    </li>
                                                }
                                                else
                                                {<li class="li_pad">
                                                    <div class="fl_gb">
                                                        @Html.ActionLink("English", "ChangeCulture", "Home", new { area = "", lang = "7C4F28F6-02FC-4627-993D-E255037531AD", returnUrl = "/", @class = "fl_gb" }, htmlAttributes: new { id = "", @title = @SBL.eLegislator.HPMS.ServiceAdaptor.Global.ChangeLanguage })
                                                    </div>
                                                </li>
                                                }
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                                <div class="login">
                                    @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.UserID.Trim() == "")
                                    {

                                        <a href="~/Account/LoginUP">@SBL.eLegislator.HPMS.ServiceAdaptor.Global.Login </a>

                                    }
                                    else
                                    {
                                        <text>
                                        <div class="logicon log_out">
                                            @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <a href="javascript:document.getElementById('logoutForm').submit()">@SBL.eLegislator.HPMS.ServiceAdaptor.Global.Logout</a>
                                            }
                                        </div>
                                        </text>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    @{
                        Html.RenderAction("MainMenu", "Menu", new { area = "", userId = SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.UserID.Trim() });
                    }
                </div>
            </div>
        </header>
        <div class="main">
            <div class="maininer">
                @if (@HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString() != "Index" && @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() != "Home")
                {
                    <div class="breadcrumb_base">
                        @*<div class="breadcrumb">
                          @Html.MvcSiteMap().SiteMapPath()
                        </div>*@
                        @*@if (SBL.Web.Core.Utility.CurrentSession.Name != string.Empty)
                        {
                            <div id="DivDetail" class="user_info">
                             <img src="~/Images/Home/icons/user.png" />   @SBL.Web.Core.Utility.CurrentSession.UserName.ToUpper() >> @SBL.Web.Core.Utility.CurrentSession.Name
                            </div>
                        }*@
                    </div>
                }
                @RenderBody()
            </div>
        </div>

        <footer>
            <div class="footerinner">
                <div class="footermsg">
                    @SBL.eLegislator.HPMS.ServiceAdaptor.Global.Copyright1
                </div>
                <div class="copy">&copy;  @SBL.eLegislator.HPMS.ServiceAdaptor.Global.Copyright2</div>
            </div>
        </footer>
    </div>
    <script>
        jQuery(document).ready(function () {
            var mainMinHeight = ($(window).height() - ($('header').outerHeight() + $('footer').outerHeight()));
            $('.col50float .colinner .roundshadowbox .inner').css('minHeight', (mainMinHeight - $('.mainrow').height() - 37));
        });
    </script>
    <script src="/Scripts/SBL/scripts.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript" lang="javascript">
        function DisableBackButton() {
            window.history.forward()
        }
        DisableBackButton();
        window.onload = DisableBackButton;
        window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
        window.onunload = function () { void (0) }
</script>
    <script>
        window.onbeforeunload = function () {
            return "Do you really want to close?";
        };

    </script>
</body>
</html>