﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV
 @*@Model.DepartmentProgressList.Count*@

            @*<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="ace-icon fa fa-tasks"></i>

                @if (Model.DepartmentProgressList != null && Model.DepartmentProgressList.Count > 0)
                {
                    <span class="badge badge-grey">0</span>
                    }
                else
                {
                   
                    <span class="badge badge-grey">0</span>
                }

                
            </a>
<ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                <li class="dropdown-header">
                    <i class="ace-icon fa fa-check"></i>
                    Work Progress
                </li>


    @if (Model.DepartmentProgressList != null && Model.DepartmentProgressList.Count > 0)
    {
        foreach (var item in Model.DepartmentProgressList)
        {
              <li>
                    <a href="#">
                        <div class="clearfix">
                            <span class="pull-left">@item.ProgressText</span>
                            <span class="pull-right">@item.ProgressValue</span>
                        </div>

                        <div class="progress progress-mini">
                            <div style="width: @item.ProgressValue" class="progress-bar"></div>
                        </div>
                    </a>
                </li>
        }
      
    }
               
              
            </ul>*@
