﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
    <style>
        .blue {
            color: red !important;
        }
    </style>
</head>
<body>
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="error-container">
            <div class="well">
                <h1 class="grey lighter smaller">
                    <span class="blue bigger-125">
                        <i class="fa fa-warning"></i>

                        401
                    </span>
                    Unauthorized: Access is denied due to invalid credentials.
                </h1>

                <hr>
                <h3 class="lighter smaller">But we are working
											<i class="ace-icon fa fa-wrench icon-animated-wrench bigger-125"></i>
                    on it!
                </h3>

                <div class="space"></div>

                <div>
                    <h4 class="lighter smaller">Meanwhile, try one of the following:</h4>

                    <ul class="list-unstyled spaced inline bigger-110 margin-15">
                        <li>
                            <i class="ace-icon fa fa-hand-o-right blue"></i>
                            Read the faq
                        </li>

                        <li>
                            <i class="ace-icon fa fa-hand-o-right blue"></i>
                            Give us more info on how this specific error occurred!
                        </li>
                    </ul>
                </div>

                <hr>
                <div class="space"></div>

                <div class="center">
                    <a href="javascript:history.back()" class="btn btn-grey">
                        <i class="ace-icon fa fa-arrow-left"></i>
                        Go Back
                    </a>

                    <a href="/Home/Index" class="btn btn-primary">
                        <i class="ace-icon fa fa-tachometer"></i>
                        Dashboard
                    </a>
                </div>
            </div>
        </div>

        <!-- PAGE CONTENT ENDS -->
    </div>
</body>
</html>
