﻿@model SBL.DomainModel.Models.LibraryVS.VsLibraryBooks

@{
    ViewBag.Title = "AddNewBook";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@Html.Partial("_LeftMenu")

<style>
    .footer .footer-inner .footer-content {
        padding-top: 2px;
    }

    .validation-error {
        color: red;
        padding-left: 10px;
    }

    .center {
        text-align: center;
    }

    .right {
        float: right;
    }
</style>

<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li class="active">Add/Update Book</li>
        </ul>

    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>Books Info
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Please Fill book information
                </small>
            </h1>
            @*<button id="JavascriptFunction" onclick="JavascriptFunction();" class="btn  btn-sm  btn-grey right">PostBack Check</button>*@
        </div>
    </div>
    <div class="widget-body">
        <div class="widget-main">
            <div class="row">
                <div class="col-xs-12">
                    <input id="messageDisplay" type="hidden" style="display: none;"/>

                    <div class="blue" id="PID"></div>
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="row">
                        @using (Ajax.BeginForm("SaveNewBookInfo", "BookManagement", FormMethod.Post, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "OnSuccess()", LoadingElementId = "loader-wrapper", OnFailure = "OnFailure()", UpdateTargetId = "messageDisplay" }, new { @class = "form-horizontal", @role = "form", id = "addBooksForm" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                           @* @Html.HiddenFor(model => model.DateOfEntry, new { @Value = System.DateTime.Now }) *@
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.AccessionNumber, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.AccessionNumber, new { @placeholder = "Accession No", @required = "required" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                        @Html.ValidationMessageFor(model => model.AccessionNumber)
                                        <sup class="red">*</sup>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DateOfEntry, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.DateOfEntry, new { @placeholder = "Author Name", @required = "required" , @id = "DateOfEntry"})
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                        @Html.ValidationMessageFor(model => model.DateOfEntry)
                                        <sup class="red">*</sup>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.AuthorName, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.AuthorName, new { @placeholder = "Author Name", @required = "required" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                        @Html.ValidationMessageFor(model => model.AuthorName)
                                        <sup class="red">*</sup>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.EditorName, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.EditorName, new { @placeholder = "Editor Name" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                        @* @Html.ValidationMessageFor(model => model.EditorName)*@
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TitleOfBook, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.TitleOfBook, new { @placeholder = "Title Of Book", @required = "required" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                        @Html.ValidationMessageFor(model => model.TitleOfBook)
                                        <sup class="red">*</sup>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Edition, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.Edition, new { @placeholder = "Edition", @required = "required" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                        @Html.ValidationMessageFor(model => model.Edition)
                                        <sup class="red">*</sup>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Volume, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.Volume, new { @placeholder = "Volume" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                        @Html.ValidationMessageFor(model => model.Volume)
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PublisherName, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.PublisherName, new { @placeholder = "Publisher Name", @required = "required" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                        @Html.ValidationMessageFor(model => model.PublisherName)
                                        <sup class="red">*</sup>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.PublicationPlace, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.PublicationPlace, new { @placeholder = "Publication Place", @required = "required" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                        @Html.ValidationMessageFor(model => model.PublicationPlace)
                                        <sup class="red">*</sup>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.PublicationYear, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.PublicationYear, new { @placeholder = "Publication Year", @id = "PublicationYear", @required = "required" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                        @Html.ValidationMessageFor(model => model.PublicationYear)
                                        <sup class="red">*</sup>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.Pages, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.Pages, new { @placeholder = "Pages" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                        @Html.ValidationMessageFor(model => model.Pages)
                                        <sup class="red">*</sup>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.SourceOrSuplierName, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.SourceOrSuplierName, new { @placeholder = "Source Or Suplier Name", @required = "required" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                        @Html.ValidationMessageFor(model => model.SourceOrSuplierName)
                                        <sup class="red">*</sup>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.SupplierPlace, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.SupplierPlace, new { @placeholder = "Supplier Place", @required = "required" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                        @Html.ValidationMessageFor(model => model.SupplierPlace)
                                        <sup class="red">*</sup>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.Cost, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.Cost, new { @placeholder = "Cost", @required = "required" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                        @Html.ValidationMessageFor(model => model.Cost)
                                        <sup class="red">*</sup>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.CallNumber, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.CallNumber, new { @placeholder = "Call Number" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                        @*@Html.ValidationMessageFor(model => model.CallNumber)*@
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.BookNumber, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.BookNumber, new { @placeholder = "Book Number", @required = "required" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                        @Html.ValidationMessageFor(model => model.BookNumber)
                                        <sup class="red">*</sup>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.BillNumber, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.BillNumber, new { @placeholder = "Bill Number", @required = "required" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                        @Html.ValidationMessageFor(model => model.BillNumber)
                                        <sup class="red">*</sup>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.BillDate, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.BillDate, new { @placeholder = "Bill Date", @id = "BillDate", @required = "required" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                        @Html.ValidationMessageFor(model => model.BillDate)
                                        <sup class="red">*</sup>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.LanguageOption, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.LanguageOption, new List<SelectListItem>
                     {
                        new SelectListItem{ Text="Bilingual", Value = "157" },
                        new SelectListItem{ Text="Hindi", Value = "152" },
                        new SelectListItem{ Text="English", Value = "111" },
                        new SelectListItem{ Text="Urdu", Value = "168" },
                        new SelectListItem{ Text="Sanskrit", Value = "15" },
                        new SelectListItem{ Text="Others", Value = "Others" },                       
                     }, new { @class = "col-sm-2" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                        @Html.ValidationMessageFor(model => model.LanguageOption)
                                        <sup class="red">*</sup>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.PONumber, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.PONumber, new { @placeholder = "PO Number" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">                                       
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.PODate, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.PODate, new { @placeholder = "PO Date", @id = "PODate" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">                                       
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.Remarks, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.Remarks, new { @placeholder = "Remarks" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.Building, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.Building, new { @placeholder = "Building", @required = "required" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                        @Html.ValidationMessageFor(model => model.Building)
                                        <sup class="red">*</sup>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.Floor, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.Floor, new { @placeholder = "Floor", @required = "required" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                        @Html.ValidationMessageFor(model => model.Floor)
                                        <sup class="red">*</sup>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.Almirah, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.Almirah, new { @placeholder = "Almirah", @required = "required" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                        @Html.ValidationMessageFor(model => model.Almirah)
                                        <sup class="red">*</sup>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.Rack, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.Rack, new { @placeholder = "Rack" })
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                        @Html.ValidationMessageFor(model => model.Rack)
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.Status, new { @class = "col-sm-4 control-label no-padding-right" })
                                <div class="col-sm-8">
                                    @Html.RadioButtonFor(model => model.Status, "Available", new { @checked = "true" }) Available
                                    @Html.RadioButtonFor(model => model.Status, "Issued") Issued
                                    @*@Html.RadioButtonFor(model => model.Status, "Damaged") Damaged
                                    @Html.RadioButtonFor(model => model.Status, "WrittenOff") WrittenOff*@
                                    <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                                        @Html.ValidationMessageFor(model => model.Status)
                                    </div>
                                </div>
                            </div>
                            
                            <div class=" col-sm-3 form-group right">
                                <button type="submit" class="btn  btn-sm btn-warning" id="savebtn2" onclick="return Check();">
                                    <i class="ace-icon fa fa-floppy-o bigger-150"></i>
                                    <span class="bigger-110">Save</span>
                                </button>

                                <button type="button" class="btn  btn-sm  btn-grey" onclick="javascript:window.location.href='/Library/BookManagement/Index';">
                                    <i class="ace-icon fa fa-times bigger-150"></i>
                                    <span class="bigger-110">Cancel</span>
                                </button>
                            </div>
                        }
                    </div>
                </div>
                @*<div class="space-2"></div>*@
            </div>
            <!-- /.page-content -->
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<link href="~/assets/css/datepicker.css" rel="stylesheet" />
<script src="~/assets/js/CommonNotify.js"></script>
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script>
    $(document).ready(function () {

        //left menu open code
        $("#menuBookManagement").addClass("active open");
        $("#subMenuBookManagement").addClass("nav-show").css("display", "block");
        $("#subSubAddBooks").addClass("active");

        $('#PODate').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });
        //$('#PublicationYear').datepicker({
        //    autoclose: true,
        //    todayHighlight: true,
        //    format: "dd/mm/yyyy"
        //}).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
        //    $(this).prev().focus();
        //});
        $('#BillDate').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });
        $('#DateOfEntry').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });
    });

    function OnSuccess() {
        var result = $("#messageDisplay").text();
        if (result == 0) {
            ShowNotification("error", "Accession number exist");
        }
        else if (result == 1) {
            ShowNotification("success", "Book Added Successfully");
        }
        else if (result == 2) {
            ShowNotification("error", "Please fill required fields");
        }

    }
    function OnFailure() {
        ShowNotification("error", "There was some error pls try again");
    }
   
</script>
