﻿@model IEnumerable<SBL.DomainModel.Models.Diaries.tAuditTrialViewModel>
@{int count = 0;
  int k = 0;}
<style>
    td i {
        font-style: normal;
    }
    #ResultTable tr td {
        font-size:14px;
    }
     #ResultTable tr th {
        font-size:14px;
    }
</style>

<div class="pass-table">

    <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">

        <table class="table table-striped table-bordered table-hover dataTable table table-striped table-hover dt-responsive" width="100%" id="sample-table-2" aria-describedby="sample-table-2_info">
            <thead>
                <tr role="row">

                    <th class=" sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">#</th>


                    <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Reference #</th>
                    <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Type </th>
                    <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="">Subject</th>
                    <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Department </th>


                    <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="min-width: 90px;">Laying Date</th>
                    <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Latest Online File</th>
                    <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">All Files</th>
                    <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Verified Manual File</th>
                </tr>
            </thead>

            <tbody role="alert" aria-live="polite" aria-relevant="all">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {

                        count = count + 1;
                        string style = (count % 2 == 0) ? "odd" : "even";

                        var ID = item.paperLaidTempID;

                    <tr class="@style" id="@ID">

                        <td class="">@count</td>

                        <td class="">
                            @item.documentReferenceNumber
                        </td>
                        <td class="">
                            <i class="">@item.type</i>
                        </td>
                        <td class="">
                            <i class="">@Html.Raw(item.questionNumber + "  " + item.subject.Replace("<p>", "").Replace("</p>", ""))</i>
                        </td>
                        <td class="">
                            <i class="">@item.departmentName</i>




                        <td class="">
                            @if (item.lyingDate.HasValue)
                            {
                                <i class="">@item.lyingDate.Value.ToString("dd-MM-yyyy")</i>
			
                            }
                        </td>
                        <td class="">
                            <i class=""><a href="@(item.SecurePath + "/" + item.filePath)" target="_blank">@item.filePathName</a>
                                @if (item.SubmitDate.HasValue)
                                {
                                    <i class="">@item.SubmitDate.Value.ToString("dd-MM-yyyy h:mm tt")</i>
			
                                }
                            </i>
                        </td>
                        <td class="">
                            <i class=""><a href="#" onclick="getAllFileVersion('@item.paperLaidID')" >ViewFiles</a>

                            </i>
                        </td>
                        <td class="">
                            @if (item.status)
                            {
                                <i class=""><a href="@(item.SecurePath + "/" + item.filePath2)" target="_blank">@item.filePath2Name</a>

                                    <br />

                                    @if (item.DateTime.HasValue)
                                    {
                                        @item.DateTime.Value.ToString("dd-MM-yyyy h:mm tt");
                                    }
                                    <br />@item.verifiedBy
                                </i>
                            }
                            else
                            { 
                                <span class="badge badge-purple">Not Verified</span>
                            }
                        </td>

                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@*<script src="~/Content/ScriptsUp/jquery.js"></script>*@
@*<script src="~/assets/js/bootstrap.min.js"></script>*@
@*<script src="~/assets/js/bootbox.min.js"></script>*@
@*<script src="~/assets/js/bootbox.min.js"></script>*@
<script>
    $(document).ready(function () {
        var table = $('#sample-table-2').DataTable({
            responsive: true,


        });

        //new $.fn.dataTable.FixedHeader(table);
    });
    function tableinit() {
        var oTable1 =
		 $('#sample-table-2')
		 .dataTable({
		     "bDestroy": true,
		     bAutoWidth: true,
		     responsive: true,
		     "aoColumns": [
		null,
		null,
		null,
		null,
		null,
		null,
		null,

		null,
		null,
		null
		     ]

		 });
    }

    //added by dharmendra
    function getAllFileVersion(id) {
        debugger;
        $('#loader-wrapper').show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Admin/PaperVerificationReport/getAllFileVersion",
            type: 'GET',
            data: {
                id: id
            },
            success: function (result) {
                debugger;
                if (result != null && result != "") {
                    $('#loader-wrapper').hide();
                    $("#sanctionInforAdhaarIDDetails").empty();
                    $("#sanctionInforAdhaarIDDetails").html(result);
                    $('#santionedEmpInfoPopup').modal('show');

                    //$('#loader-wrapper').hide();
                }

            },
            complete: function (result) {
                $('#loader-wrapper').hide();
            }
        });

    }
</script>
<div class="modal" id="santionedEmpInfoPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Files</h4>
            </div>
            <form id="AdharDetailsPopupModelForm1">
                <div class="modal-body">
                    <div id="AadharDetailsListDiv12">
                        <div id="sanctionInforAdhaarIDDetails">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-3 pull-left">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>


                    </div>


                </div>
            </form>
        </div>
    </div>
</div>
