﻿@model SBL.DomainModel.Models.eFile.eFileAttachments
@using SBL.eLegistrator.HouseController.Web.Helpers
@using SBL.eLegistrator.HouseController.Web.Utility

@{
    var FileSettings = (SBL.DomainModel.Models.SiteSetting.SiteSettings)Helper.ExecuteService("SiteSetting", "GetSecureFileSettingLocation", null);
    int count = 0;
}

<div id='fullDetailsModel' class="hide">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>
<div class="row">

    <div class="col-xs-12">

        <!-- PAGE CONTENT BEGINS -->
      
        <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
        <div class="pass-table">
              <div style="text-align:right;">
                <span style="font-size:15px;"><strong>Paper Status : </strong></span>  <select id="ddtest" style="width:15%"><option value="All" class = "select-style">All</option>
            <option value="Ac">Accepted</option>
            <option value="Re">Rejected</option>
            <option value="Pe">Pending</option>
             </select></div><br />
      
        @*    <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-3_wrapper">*@
                @if (Model.eFileAttachemts != null)
                {
                    if (Model.eFileAttachemts.Count() > 0)
                    {                    
                    <div class="table-header">
                        <span class="label label-lg label-yellow arrowed-right" style="height: 24px; font-weight: bold; font-size: 14px;">Verified </span>( Recieved List )
                    </div> 
                   <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-3" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1">RefNo</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" style="display: none">Type</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1">Item</th>
                                <th style="width:25%" class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="text-align: left !important">Subject</th>

                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Nature</th>
                                @*       <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">TimeLimit</th>*@
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Received From</th>

                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Date</th>
                                <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="display: none;">Status</th>
                                <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="text-align: center"><i class="fa fa-download bigger-120" title="View/Download"></i>
                                    <br />
                                    <span style="color: red">Authentic</span>  </th>
                                <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="text-align: center"><i class="fa fa-download bigger-120" title="View/Download"></i>
                                    <br />
                                    <span style="color: red">Draft</span> </th>
                                <th style="width:25%;" class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Verified By</th>

                            </tr>
                        </thead>


                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.eFileAttachemts)
                            {
                                string deptid = "d" + item.eFileAttachmentId;
                                string ofcid = "of" + item.eFileAttachmentId;
                                string efflNo = "eNo" + item.eFileAttachmentId;
                                string subj = "sub" + item.eFileAttachmentId;
                                string pre = "pre" + item.eFileAttachmentId;
                                string fut = "fut" + item.eFileAttachmentId;
                                count = count + 1;
                                string rowId = "eFiles" + item.eFileAttachmentId;
                                var EDays = 0;             
                                <tr>
                                    @* <td>
                                        @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                                        {
                                            if (item.CurrentEmpAadharID == Model.CurrentSessionAId)
                                            {
                                            <input id='chk_@count' type="checkbox" class="chkp" name="@item.eFileAttachmentId" onclick="AddToList(this.id, this.name)"/>
                                            }
                                        }
                                        else
                                        {
                                            <input id='chk_@count' type="checkbox" class="chkp" name="@item.eFileAttachmentId" onclick="AddToList(this.id, this.name)"/>
                                        }
                                    </td>*@

                                    <td class="hidden-sm hidden-xs action-button">

                                        @if (item.PType == "O")
                                        {
                                            if (item.ReplyStatus == "Y")
                                            {
                                            <span class="label label-sm label-danger arrowed arrowed-right" data-toggle="tooltip" data-placement="right" title="Reply Paper" style="height: 18px">@item.PaperRefNo</span>
                                            }
                                            else
                                            {
                                            <span class="label label-sm label-danger arrowed arrowed-right" data-toggle="tooltip" data-placement="right" title="Original Paper" style="height: 18px">@item.PaperRefNo</span>
                                            }
                                        }
                                        else if (item.PType == "R")
                                        {
                                            <span class="label label-sm label-grey arrowed arrowed-right" data-toggle="tooltip" data-placement="right" title="Reminder ( @item.LinkedRefNo )" style="height: 18px">@item.PaperRefNo</span>
                                        }
                                        else
                                        {
                                            <span class="label label-sm label-danger arrowed arrowed-right" style="height: 18px">@item.PaperRefNo</span>
		 
                                        }


                                        @if (item.ReplyStatus == "Y")
                                        {
                                            <span class="badge badge-warning" data-toggle="tooltip" data-placement="right" title="Reply of ( PaperRefNo. : @item.LinkedRefNo ) & Date (@item.ReplyDate.ToString("dd/MM/yyyy HH:mm tt"))">R</span>
                                        } </td>

                                    <td style="display: none">@item.DocuemntPaperType</td>

                                    @if (@item.CountsAPS == null)
                                    {
                                        <td>

                                            @item.ItemName

                                        </td>
                                    }
                                    else
                                    {
                                        <td>

                                            @item.ItemName (@item.CountsAPS)
                                                                                                                                   
                                        </td>
                                    }

                                    <td>@item.Title </td>

                                    <td>@item.RecvdPaperNature</td>


                                    <td>
                                        @if (item.DepartmentName == "OTHER")
                                        {
                                            <span class="badge badge-yellow" style="border-radius: 5px;" title="@item.RecvDetails" data-placement="top" data-toggle="tooltip">OTHER</span><br />
										
                                        }
                                        else
                                        {
                                            <span   data-toggle="tooltip" data-placement="top" title="@item.DepartmentName">@item.DeptAbbr</span> @*@item.RecvDetails*@
                                        }



                                    </td>

                                    <td>@item.CreatedDate.ToString("dd/MM/yyyy HH:mm tt")</td>
                                    <td style="display: none;">
                                        @if (item.PaperStatus == "N")
                                        {
                                            <button class="btn btn-minier btn-purple" onclick="openModal('@item.eFileAttachmentId','Y')">
                                                <i class="glyphicon glyphicon-floppy-save"></i>
                                                Receive
                                            </button>
                                        }
                                        else
                                        {
                                            <span class="label label-success arrowed" title="ReceivedDate(@item.ReceivedDate.ToString("dd/MM/yyyy HH:mm"))">
                                                <i class="glyphicon glyphicon-floppy-saved"></i>
                                                Received
                                            </span>
                                            if (item.eFileID == 0)
                                            {
                                            <br />
                                            <input type="hidden" id="hdnAttachtoefile" />
                                            <a style="cursor: pointer" onclick="openModal('@item.eFileAttachmentId','N')">Attach to eFile</a>
				 
                                            }
                                            else
                                            {
                                            <span class="glyphicon glyphicon-link" aria-hidden="true">Attached</span>
                                            }

                                        }
                                    </td>


                                    @{
                                        string path = FileSettings.SettingValue + item.eFilePath;
                                        string pathAnnex = FileSettings.SettingValue + item.AnnexPdfPath;
                                    
                                    }
                                    @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                                    {
                                        if (item.eFilePath != null)
                                        {
                                                                                                       
                                        <td>
                                            <img src="~/Images/Common/PDF.png" alt="Download PDF" title="Download PDF" width="35" height="35" onclick="DisplayModaleNoting('@item.eFilePath','@item.eFileAttachmentId');" />
                                        </td>                                                                       
                                       
                                        }
                                        else
                                        {
                                        <td>
                                            <img src="~/Images/Common/PDF.png" alt="Download PDF" title="Download PDF" width="35" height="35" onclick="DisplayNotAuthorize();" />@*</a>*@
                                        </td> 
                                    
                                        }
                                    }
                                    else
                                    {
                                        <td>
                                            <a href="@path" target="_blank">
                                                <img src="~/Images/Common/Main.png" alt="Download PDF" width="35" height="35" title="Main PDF" data-toggle="tooltip" /></a>
                                            @if (item.AnnexPdfPath != null)
                                            {
                                                <a href="@pathAnnex" target="_blank">
                                                    <img src="~/Images/Common/Anexxture.png" alt="Download PDF" title="Annexure PDF" data-toggle="tooltip" width="35" height="35" /></a>
                                                  
                                            }
                                            else
                                            {
                                            }
                                        </td>
                                    }



                                    @{
                                    string pathWord = FileSettings.SettingValue + item.eFilePathWord;
                                    }

                                    <td>

                                        @if (!string.IsNullOrEmpty(item.eFilePathWord))
                                        { 
                                            <a href="@pathWord" target="_blank">
                                                <img src="~/Images/Common/doc.png" alt="Download Doc" title="Download Doc" width="35" height="35" /></a>
                                        }
                                    </td>
                                    <td>@if (item.IsVerified == true)
                                        {
                                            if (item.VerifiedDate!=null)
                                            {
                                                   <span class="badge badge-yellow" style="border-radius: 5px;" title="@item.VerifiedBy" data-placement="top" data-toggle="tooltip">Accepted by @item.VerifiedBy
                                            <br />
                                            on @item.VerifiedDate.Value.ToString("dd/MM/yyyy HH:mm tt")</span><br />
                                            }
                                     
                                        }
                                        
                                        else if (item.IsRejected == true)
                                         {
                                             if (item.VerifiedDate!=null)
                                            {
                                        <span class="badge badge-red" style="border-radius: 5px;" title="@item.VerifiedBy" data-placement="top" data-toggle="tooltip">Rejected by @item.VerifiedBy
                                            <br />
                                            on @item.VerifiedDate.Value.ToString("dd/MM/yyyy HH:mm tt")</span><br />
                                    }
                                         }


                                         @if(item.IsVerified!=true && item.IsRejected != true)
                                         {
                                        <button class="btn btn-minier btn-purple" onclick="ToverifyPaperID('@item.eFileAttachmentId')">
                                            <i class="glyphicon glyphicon-floppy-save"></i>
                                            Click To Accept
                                        </button>
                                        <button class="btn btn-minier btn-purple" onclick="RejectPaper('@item.eFileAttachmentId')">
                                            <i class="glyphicon glyphicon-floppy-save"></i>
                                            Click To Reject
                                        </button>
                                         }
                                    </td>

                                </tr>
									
                            }
                        </tbody>
                    </table>
                    
                    }
                    else
                    {
                  
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-info">

                                <strong>No Paper Found !!!</strong><br />


                            </div>
                        </div>
                    </div>
                   
                    }
                }

          @*  </div>*@
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>

</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dlgRecipientGroupModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width: 100%; margin-left: 30px;">
            <div class="modal-header">
                <h3>Attach Paper(s) to eFile </h3>
                <button type="button" class="close" data-dismiss="modal">
                </button>
            </div>
            <form method="post" id="DebateInfoForm">

                <div class="modal-body alert alert-block alert-success" style="height: 247px; overflow-y: scroll;">
                    <input type="hidden" id="hdnefileattid" />
                    <div class="col-xs-12 col-sm-12" id="divattachefile">

                        @if (ViewBag.EFilesListAll != null)
                        {
	 
                            <div class="profile-info-row col-sm-12" id="divefile">

                                <div class="pass-table">

                                    @if (Model.eFileLists.Count() > 0)
                                    {
                                        <div class="table-header">
                                            e-File List  
                                        </div>        
                                        <table class="table table-bordered  dataTable" aria-describedby="sample-table-2_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">S#</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">eFile Number</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Subject</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Department</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Create Date</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Old Desc</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">New Desc</th>


                                                </tr>
                                            </thead>
                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                @foreach (var item in Model.eFileLists)
                                                {
                                                    string deptid = "d" + item.eFileID;
                                                    string ofcid = "of" + item.eFileID;
                                                    string efflNo = "eNo" + item.eFileID;
                                                    string subj = "sub" + item.eFileID;
                                                    string pre = "pre" + item.eFileID;
                                                    string fut = "fut" + item.eFileID;
                                                    count = count + 1;
                                                    string rowId = "eFiles" + item.eFileID;
		  
								   
                                                    <tr>
                                                        <td>
                                                            <input name="form-field-radio" type="radio" onclick="getefileid(this.id)"  id="@item.eFileID">
                                                        </td>
                                                        <td class="hidden-sm hidden-xs action-button">@count</td>
                                                        <td>
                                                            <span class="badge badge-yellow" style="border-radius: 5px; font-weight: bold;">
                                                                @item.eFileNumber/E/@item.eFileID</span></td>
                                                        <td id="@subj">@item.eFileSubject</td>

                                                        <td id="@deptid" >@item.Department</td>

                                                        <td>@Convert.ToDateTime(item.CreateDate).ToString("dd/MM/yyyy")</td>
                                                        <td>@Html.Raw(item.olddesc)</td>
                                                        <td>@Html.Raw(item.newdesc)</td>
                                                    </tr>
									
                                                }
                                            </tbody>
                                        </table>

                                        <!-- PAGE CONTENT ENDS -->
                                    }
                                    else
                                    {
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="alert alert-info">

                                                    <strong>No eFiles found!</strong><br />


                                                </div>
                                            </div>
                                        </div>
                                    }






                                </div>
                            </div>
	
                        }
                        else
                        {
	  
                            <div class="alert alert-block alert-danger" id="noefilemsg">
                                <i class="ace-icon fa fa-check green"></i>

                                No e-File Found. <strong class="green">
                                    <span>Create </span>
                                    @*onclick="eFileList()"*@
                                </strong>New eFile to Attach.
									 
                            </div>
                        }

                    </div>
                    <div class="col-xs-12 col-sm-12" id="divOR">
                        <center>
						<div class="profile-info-row">

							 
							<span class="label label-lg label-pink arrowed-right" style="  font-weight: bold;  height: 24px;">OR</span>
						</div>
							</center>
                    </div>
                    <div class="col-xs-12 col-sm-12" id="chkrecv">
                        <div class="profile-info-row">
                            <div class="profile-info-name"></div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">

                                    <div class="checkbox">
                                        <label class="block">
                                            <input name="form-field-checkbox" type="checkbox" class="ace input-lg" id="chkboxreceive">
                                            <span class="lbl bigger-120">Receive Only</span>
                                        </label>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="alert alert-block alert-success" id="divMsgBox">
                        <i class="ace-icon fa fa-check green"></i>

                        Paper
									<strong class="green">Received										
                                    </strong>
                        Successfully
                    </div>

                </div>
                <div class="modal-footer" style="margin-top: 0%; text-align: center;">
                    <button id="btnRecv" type="button" class="btn btn-app btn-purple btn-sm" onclick="UpdateReceive()" data-dismiss="modal">
                        <i class="ace-icon fa fa-cloud-download bigger-200"></i>
                        Receive
                    </button>
                    @if (ViewBag.EFilesListAll != null)
                    {
                        <button id="btnRecvMul" type="button" class="btn btn-app btn-purple btn-sm" onclick="AttachToeFileMultiple()" data-dismiss="modal">
                            <i class="ace-icon fa fa-cloud-download bigger-200"></i>
                            Attach
                        </button>
                    }

                    <button type="button" class="btn btn-app btn-danger btn-sm" data-dismiss="modal">
                        <i class="ace-icon glyphicon glyphicon-remove bigger-200"></i>
                        Close
                    </button>


                </div>
            </form>
        </div>
    </div>
</div>
<div id="efileids" class="hdneId" style="visibility: hidden"></div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dlgeFileDetails" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width: 67%; margin-left: 30px;">
            <div class="modal-header" style="height: 65px;">
                <h3>eFile Details </h3>
                <button type="button" class="close" data-dismiss="modal">
                </button>
            </div>
            <div id="divAttachedeFileDetails" class="modal-body alert alert-block alert-success" style="height: 400px; overflow-y: scroll;">
            </div>
            <div class="modal-footer" style="margin-top: 0%; text-align: right;">


                <button type="button" class="btn btn-app btn-danger" data-dismiss="modal" style="width: 9%; padding: 0px; font-size: 15px;">
                    Close
                </button>

            </div>

        </div>
    </div>
</div>


<input type="hidden" id="hdnefileid" />




<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
@*<script src="~/Scripts/jquery-latest.min.js"></script> *@
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>

<script>

    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-3')
        .dataTable({
            //bAutoWidth: true,
            "aoColumns": [
               { "bSortable": false },

              null, null, null, null, null, null, null, null, null, null,
            ]

        });
    });

    //jQuery(function ($) {
    //    var oTable1 =
    //    $('#sample-table-2')
    //    .dataTable();
    //});
</script>

<script>

    function getEFileAttached(id) {
        if (id != null && id != 0) {

            $("#loader-wrapper").show();
            $.ajax({
                url: "/HouseCommittee/HouseCommittee/_eFileViewByIDAttached",
                type: 'GET',
                data: {
                    DepartmentName: '',
                    eFileNumber: '',
                    eFileSubject: '',
                    eFileID: id,
                    CommitteeId: 0
                },
                success: function (data) {
                    if (data) {
                        $("#dlgeFileDetails").modal('show');
                        $("#divAttachedeFileDetails").html("");
                        $("#divAttachedeFileDetails").html(data);
                        $("#loader-wrapper").hide();
                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });
        }
    }


    function getefileid(ele) {

        $("#hdnefileid").val(ele);
    }

    function AddToList(chkid, efileattid) {


        var status = $('#' + chkid + '').is(':checked');

        if (status == true) {
            var eids = efileattid + ',';
            $('#efileids').append(eids);

        }
        else {

            var a = $('#efileids').html();
            var b = a.replace(efileattid + ',', " ");
            $('#efileids').empty();
            $('#efileids').append(b);

        }

    }
    $("#chkSelAll").click(function (e) {

        var status = $("#chkSelAll").prop('checked');
        var checkboxes = document.getElementsByClassName("chkp");
        if (status == true) {
            $('#efileids').html('');

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                    if (checkboxes[i].checked = true) {
                        AddToList(checkboxes[i].id, checkboxes[i].name)
                    }
                }
            }
        }
        else {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;

                }
            }
            $('#efileids').empty();
            $('#efileids').html('');

        }
    });



    $("#ddleFile").change(function () {
        var a = $(this).val();
        if (a == 0) {
            var v = $("#hdnAttachtoefile").val();
            if (v == 'Attach') {
                $("#divOR").hide();
                $("#chkrecv").hide();
            }
            else {
                $("#divOR").show(300);
                $("#chkrecv").show(300);
            }
        }
        else {

            $("#divOR").hide(300);
            $("#chkrecv").hide(300);
        }
    });

    function openModal(id, ele) {
        if (ele == 'N') {
            $("#chkrecv").hide();
            $("#divOR").hide();
            $("#hdnAttachtoefile").val("Attach");
        }
        else if (ele == 'Y') {
            $("#chkrecv").show();
            $("#divOR").show();
            $("#hdnAttachtoefile").val("RECVAttach");

        }
        $("#btnRecvMul").hide();
        $("#btnRecv").show();
        $("#divMsgBox").hide();
        $("#hdnefileattid").val(id)
        $("#dlgRecipientGroupModel").modal('show')

    }
    $("#chkboxreceive").change(function () {
        if ($(this).prop('checked')) {
            $("#divattachefile").hide(300);
            $("#divOR").hide(300);
        }
        else {
            $("#divattachefile").show(300);
            $("#divOR").show(300);
        }

    });

    function UpdateReceive() {

        var chkstatus = $("#chkboxreceive").is(":checked");
        var eFileID = 0;
        if (chkstatus == true) {
            eFileID = 0;
        }
        else {
            var ddval = $("#ddleFile").val();
            if (ddval.length > 0)
            { eFileID = $("#ddleFile").val(); } else {

                var dlg = bootbox.alert("No eFile Found.", function (e) {
                    $(dlg).modal('hide');
                });
                return;
            }

        }


        $("#loader-wrapper").show();

        var Url = '@Url.Action("SaveReceivePaperSingle", "eFile", new { Area = "eFile" })';
        $.ajax({
            url: Url,
            type: 'POST',
            data: {
                eFileAttachId: $("#hdnefileattid").val(),
                eFielId: eFileID
            },
            success: function (data) {
                if (data) {
                    ReceivePaperList();
                    $("#loader-wrapper").hide();
                    var dlg = bootbox.alert(data, function (e) {
                        $(dlg).modal('hide');
                    });
                    //$("#dlgRecipientGroupModel").modal('show');
                    //$("#divattachefile").hide(300);
                    //$("#divOR").hide(300);
                    //$("#chkboxreceive").hide(300);
                    //$("#divMsgBox").show(300);



                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });

    }

    function ReplyPaper(efileattid, refno, Deptid, officeid, doctypeid, linkrefno, papernature) {
        $("#loader-wrapper").show();
        
        var Url = '@Url.Action("ReplyPaperSingle", "eFile", new { Area = "eFile" })';
        $.ajax({
            url: Url,
            type: 'GET',
            data: {
                eFileAttachmentId: efileattid,
                PaperRefNo: refno,
                DepartmentId: Deptid,
                OfficeCode: officeid,
                DocumentTypeId: doctypeid,
                LinkedRefNo: linkrefno,
                PaperNature: papernature
            },
            success: function (data) {
                if (data) {
                    $('#resize-left').width('50%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '50%' }, 500);


                    $("#RightSidebar").html("");
                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();
                }
            },
            complete: function (obj) {
                Initializefileupload();
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });
    }

    function openModalMul(id, ele) {

        if (ele == 'M') {
            $("#chkrecv").hide();
            $("#divOR").hide();
            $("#btnRecvMul").show();
            $("#btnRecv").hide();
        }
        else {
            $("#chkrecv").show();
            $("#divOR").show();
            $("#btnRecvMul").hide();
            $("#btnRecv").show();
        }
        $("#divMsgBox").hide();

        var a = $('#efileids').html();
        if (a.toString().trim().length == 0) {
            var dlg = bootbox.alert("No Paper has been selected", function (e) {
                $(dlg).modal('hide');
            });
            return;
        }
        $("#hdnefileattid").val(a)
        $("#dlgRecipientGroupModel").modal('show')


    }





    function PaperDraftFileMultiple() {

        var a = $('#efileids').html();

        $("#loader-wrapper").show();
        var Url = '@Url.Action("DraftPapers", "HouseCommittee", new { Area = "HouseCommittee" })';
        $.ajax({
            url: Url,
            type: 'POST',
            data: {
                eFileAttIds: a,
            },
            success: function (data) {
                if (data) {
                    RPaperList();
                    $("#loader-wrapper").hide();
                    var dlg = bootbox.alert(data, function (e) {
                        $(dlg).modal('hide');
                    });

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });

    }

    function RPaperList() {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/HouseCommittee/HouseCommittee/GetReceivePaperList",
            type: 'GET',
            data: '{ pageId: "1",pageSize: "25" }',
            success: function (data) {
                if (data) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').html(data);
                    $("#loader-wrapper").hide();
                    $('#resize-left').width('100%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '0%' }, 500);
                    ChangeBreadCrumbParent("Correspondence", "");
                    ChangeBreadCrumbChild("Receive Paper", "");
                    $("#MainDiveThreeTire").show();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }


    function AttachToeFileMultiple() {

        $("#loader-wrapper").show();

        var Url = '@Url.Action("AttachPaperToeFileMultipleR", "eFile", new { Area = "eFile" })';
        $.ajax({
            url: Url,
            type: 'POST',
            data: {
                eFileAttIds: $("#hdnefileattid").val(),
                eFielId: $("#hdnefileid").val()
            },
            success: function (data) {
                if (data) {
                    ReceivePaperList();
                    $("#loader-wrapper").hide();
                    var dlg = bootbox.alert(data, function (e) {
                        $(dlg).modal('hide');
                    });

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });

    }
    function ReceivePaper() {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/HouseCommittee/HouseCommittee/NewReceivePaper",
            type: 'GET',
            data: {},
            success: function (data) {
                if (data) {

                    $('#resize-left').width('50%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '50%' }, 500);

                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            },
            complete: function (obj) {
                Initializefileupload();
                InitializefileuploadWord();
            }
        });

    }


    function myFunction() {
        var x;
        if (confirm("Press a button!") == true) {
            x = "You pressed OK!";
        } else {
            x = "You pressed Cancel!";
        }
        document.getElementById("demo").innerHTML = x;
    }




    function GetBranch(ID) {
        $("#loader-wrapper").show();
        var pathurl = '@Url.Action("BranchModel", "HouseCommittee")';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                Id: ID,
                Type: "Recieved"
            },
            success: function (data) {
                $("#loader-wrapper").hide();
                $('#ShowfullDetailsModel').html("");
                $('#ShowfullDetailsModel').html(data);

                var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Create Movement",
                    width: 600,
                    title_html: true,
                    buttons: [
                        {
                            text: "OK",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

            }
        });
    }

    function DisplayModalPopup() {
        $('#modalMsg').show();
        document.getElementById("overlay").className = "OverlayEffect";
        document.getElementById("modalMsg").className = "ShowModal";

    }
    function RemoveModal() {
        document.getElementById("overlay").className = "";
        $('#modalMsg').hide();
    }

    function CancelAttachemnt() {
        document.getElementById("overlay").className = "";
        $('#modalMsgAttachment').hide();
    }
    function DisplayModaleNoting(Path, ID) {
        //alert(Path)
        //alert(ID)
        $("#loader-wrapper").show();

        $.ajax({
            url: "/HouseCommittee/HouseCommittee/Test",
            type: 'GET',
            data: {
                Path: Path,
                eFileattachedId: ID,
            },
            success: function (data) {
                if (data) {

                    $('#modalMsg').show("slow");
                    document.getElementById("overlay").className = "OverlayEffect";
                    document.getElementById("modalMsg").className = "ShowModal";

                    $("#modalMsg").html(data);
                    //$("#testId").animate({ scrollTop: 0 }, "fast");
                    $('body, html, #modalMsg').scrollTop(-10);
                    $("#loader-wrapper").hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }

    function DisplayNotAuthorize() {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/HouseCommittee/HouseCommittee/ForNotAuthorize",
            type: 'GET',
            data: {
                //Path: Path,
                //eFileattachedId: ID,
            },
            success: function (data) {
                if (data) {

                    $('#modalMsg').show("slow");
                    document.getElementById("overlay").className = "OverlayEffect";
                    document.getElementById("modalMsg").className = "ShowModal";
                    $("#modalMsg").html(data);
                    $('body, html, #modalMsg').scrollTop(-10);
                    $("#loader-wrapper").hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }

    //Transfer Papers for Meetings
    function TransferPapers() {

        var a = $('#efileids').html();

        if (a.toString().trim().length == 0) {
            var dlg = bootbox.alert("No Paper has been selected", function (e) {

            });
            return;
        }
        $("#hdnefileattid").val(a)
        var hiddenValues = $('#efileids').html();
        $.ajax({
            url: "/HouseCommittee/HouseCommitteePapersMeetings/GetSelectedPaperListForTransfer",
            type: 'GET',
            data: { papersIds: hiddenValues, PaperType: 'Recieved' },
            success: function (data) {
                if (data) {
                    alert("Papers Transfer Successfully!!");
                    ReceivePaperList();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }

    function ToverifyPaperID(id) {
        bootbox.confirm("Are You sure ?", function (result) {
            //alert(id);
            if (result == true) {
                $("#loader-wrapper").show();
                
                $("#loader-wrapper").show();
                $('.widget-box').show();
                var urlPath = '@Url.Action("ToverifyPaper", "CommitteReplyPendency", new { Area = "HouseCommittee" })';
                $.ajax({
                    url: urlPath,
                    type: 'GET',
                    //data: '{ pageId: "1",pageSize: "25",YearId:' + "5" + ',PapersId:' + "1" + ',strid:' + id + ' }',
                    data: { pageId: '1', pageSize: '25', YearId: '5', PapersId: '1', strid: id },
                    success: function (data) {
                        if (data) {
                            $('#divDataContainer').empty();
                            $('#divDataContainer').html(data);
                            $("#loader-wrapper").hide();
                            $('#resize-left').width('100%');
                            $('#spnScrollPosition').html('1');
                            $('#resize-right').animate({ width: '0%' }, 500);
                            ChangeBreadCrumbParent("Verification", "");
                            ChangeBreadCrumbChild("Verification List", "");
                            $("#MainDiveThreeTire").show();
                        } else { alert("error"); }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
        });
    }

    //function openpopup(eFileAttachmentId) {
    //    $("#divreject").dialog();




    //}

    function RejectPaper(eFileAttachmentId) {
        $("#loader-wrapper").show();
        var pathurl = '@Url.Action("RejectPaperPop", "CommitteReplyPendency" , new { Area = "HouseCommittee" })';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                Id: eFileAttachmentId,

            },
            success: function (data) {
                $("#loader-wrapper").hide();
                $('#ShowfullDetailsModel').html("");
                $('#ShowfullDetailsModel').html(data);

                var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Reject Paper",
                    width: 600,
                    title_html: true,
                    buttons: [
                        {
                            text: "Reject",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                var Remarks = $("#Remark").val();
                                if (Remarks == "")
                                {
                                    $("#Remark").focus();
                                    alert("Please enter remarks");
                                    return false;
                                }
                                bootbox.confirm("Are You sure ?", function (result) {
                                  
                                    if (result == true) {
                                        var pathurl = '@Url.Action("SaveStatus", "CommitteReplyPendency" , new { Area = "HouseCommittee" })';
                                        $.ajax({
                                            type: 'GET',
                                            url: pathurl,
                                            data: {
                                                Id: eFileAttachmentId,
                                                Remarks: Remarks
                                            },
                                            success: function (data) {
                                                //$("#loader-wrapper").hide();
                                                //$('#ShowfullDetailsModel').html("");
                                                // $('#ShowfullDetailsModel').html(data);
                                                $('#divDataContainer').empty();
                                                $('#divDataContainer').html(data);
                                                $("#loader-wrapper").hide();
                                                $('#resize-left').width('100%');
                                                $('#spnScrollPosition').html('1');
                                                $('#resize-right').animate({ width: '0%' }, 500);
                                                ChangeBreadCrumbParent("Verification", "");
                                                ChangeBreadCrumbChild("Verification List", "");
                                                $("#MainDiveThreeTire").show();

                                            }
                                        });
                                    }
                                    else {
                                        //$(this).dialog("close");
                                    }
                                });
                                //alert("Data saved");
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

            }
        });
        }

    $(document).ready(function(){
        var sessionval = "@CurrentSession.PaperStatus";
        $("#ddtest").val(sessionval);
    })
    $("#ddtest").change(function () {
        var chkvale = $("#ddtest").val();
        var urlPath = '@Url.Action("GetVerifiedPaperList", "CommitteReplyPendency", new { Area = "HouseCommittee" })';
        $.ajax({
            url: urlPath,
            type: 'POST',
            data: { pageId: "1", pageSize: "25", YearId: "5", PapersId: "1", chkedStatus: chkvale },
            success: function (data) {
                if (data) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').html(data);
                    $("#loader-wrapper").hide();
                    //$('#resize-left').width('100%');
                    //$('#spnScrollPosition').html('1');
                    //$('#resize-right').animate({ width: '0%' }, 500);
                    //ChangeBreadCrumbParent("Verification", "");
                    //ChangeBreadCrumbChild("Verify Papers", "");
                    //$("#MainDiveThreeTire").show();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    });

</script>
