﻿<div id="ItemPendency"></div>	
<script>
    $(document).ready(function () {
        
        $("#loader-wrapper").show();
        $('.widget-box').show();
        var urlPath = '@Url.Action("_NewItemPendencyDashBoard", "CommitteReplyPendency", new { Area = "HouseCommittee" })';
@*	    var urlPath = '@Url.Action("GetAllPendencyNew", "CommitteReplyPendency", new { Area = "HouseCommittee" })';*@
	    $.ajax({
	        url: urlPath,
	        type: 'GET',
	        data: {},
	        success: function (data) {
	            if (data) {
	                //$('#MainDivData').empty();
	                //$('#MainDivData').html(data);
	                //$('#divDataContainer').html(data);
	                //document.getElementById("divLeftContainer").remove();
	                // document.getElementById("divRightContainer").remove();
	                
	                $('.ui-resizable-e').remove();
	                $('.widget-box').remove();

	                $("#MainDiveTwoTire").css("display", "block");
	                
	                $('#ItemPendency').html(data);
	                $("#loader-wrapper").hide();
	                $('#resize-left').width('100%');
	                //$('#spnScrollPosition').html('1');
	                //$('#resize-left').animate({ width: '100%' }, 500);
	                ChangeBreadCrumbParent("House Committee", "");
	                ChangeBreadCrumbChild("Item Pendency", "");
	                //$("#MainDiveThreeTire").show();
	            } else { alert("error"); }
	        },
	        error: function (xhr, ajaxOptions, thrownError) {
	            alert(xhr.responseText);
	            alert(thrownError);
	        }
	    });
	});
</script>