﻿@model  SBL.eLegistrator.HouseController.Web.Areas.PISModule.Models.SanctionViewModel

@{  int count = 0;
  
}

<style>
    .ErrorMessage
    {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }

    .footer .footer-inner .footer-content
    {
        bottom: 0px;
    }

    .IsnumericClass
    {
        width: 50px;
    }
</style>

<div class="widget-box">
    <div class="widget-header">
        <h4 class="widget-title">Update Sanctioned Post
        </h4>

        <div class="widget-toolbar no-border">
            <div class="ace-settings-container" id="ace-settings-container">
                <button id="btnNew" class="btn  btn-sm btn-info" onclick="UpdateAllSanctionPost()">
                    <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                    <span class="bigger-110">Update All</span>
                </button>
            </div>
            <span style="float: right; font-size: 14px; margin-right: 130px; width: 375px;">Search by office <span style="padding-left: 5px;">@Html.DropDownListFor(m => m.POfficeId, new SelectList(Model.OfficeList, "OfficeId", "officename"), new { @class = "RemoveDdlBorder", @id = "ddlSearchoffice", @name = "ddlSearchoffice", @onchange = "SearchOfficeUpdate(this.value)", @style = "float:right;" })</span></span>
        </div>
    </div>
    <div class="widget-body">
        <div class="widget-main">
            <div class="clearfix">
            </div>
            <div class="table-responsive">

                <!-- PAGE CONTENT BEGINS -->
                <form id="SanctionAllPostListForm">
                    <div class="pass-table">
                        @if (Model.SectionList != null)
                        {
                            if (Model.SectionList.Count() > 0)
                            {       
                            <input type="hidden" id="pageId" name="pageId" value="@ViewBag.CurrentPage" />
                            <input type="hidden" id="PageName" name="PageName" value="@ViewBag.PageName" />
                            <div class="table-header">
                                @*  <div class="form-group">
                                    @if (ViewBag.Msg != null)
                                    {
                                        <div class="@ViewBag.Class" id="MsgDiv">
                                            <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
                                            <strong><i class="ace-icon fa fa-check-square-o"></i>@ViewBag.Notification ! </strong>@ViewBag.Msg
                                        </div>
                                    }

                                </div>*@
                            </div>  
                            <table class="table  table-bordered  dataTable" id="tblSanctionDetails" aria-describedby="sample-table-2_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_disabled ">
                                            <label class="pos-rel">
                                                <input name="ChbIncludingBill" onclick="SelectAllChb(this);" type="checkbox" class="ace">
                                                <span class="lbl">Check All</span>
                                            </label>
                                        </th>
                                        <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>
                                        @*   <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Department</th>*@
                                        <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Office</th>
                                        <th class="sorting SortingData" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Designation</th>
                                        <th class="sorting SortingData" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Sanctioned Post</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Filled Post</th>
                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    @foreach (var item in Model.SectionList)
                                    {
                                        count = count + 1;                   
                                        <tr>
                                            <td>
                                                <label class="pos-rel">
                                                    <input name="ChbAssignBox-@count" type="checkbox"
                                                     style="position: relative;
  display: inline-block;  margin: 0;  line-height: 20px;  min-height: 18px;  min-width: 18px;  font-weight: normal;box-sizing: border-box;
  padding: 0;  cursor: pointer;" class=" AssignBoxClass"></label>
                                            </td>
                                            <td class="center">
                                                <input type="hidden" name="RowCount" value="@count" />
                                                <input type="hidden" name="Id-@count" value="@item.Id" />
                                                @count
                                            </td>
                                            @* <td>
                                                @item.DepartmentName
                                            </td>*@
                                            <td>
                                                @item.OfficeName
                                            </td>
                                            <td>
                                                @item.Designation
                                            </td>
                                            <td class="center">
                                                <input type="text" name="sanctpost-@count" id="sanctpost-@count" value="@item.sanctpost"  class = "IsnumericClass IsnumericClassS"  style='width: 50px' maxlength="5" placeholder = "Sanction Post" />
                                            </td>
                                            <td style="width: 15%">
                                                @*   @item.Filledpost*@
                                                @* <input type="text" name="sanctpost-@count" id="sanctpost-@count" value="@item.sanctpost"  class = "IsnumericClass" maxlength="5" placeholder = "Sanction Post" />*@
                                                <input type="text" name="Filledpost-@count" id="Filledpost-@count" value="@item.Filledpost" class = "IsnumericClass IsnumericClassF"  style='width: 50px' maxlength="5" placeholder = "Filled Post" />
                                            </td>
                                        </tr>                                                                
                                    }
                                </tbody>
                            </table>
                            }
                            else
                            {
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="alert alert-info">
                                        <strong>No Sanctioned List Found</strong><br />
                                    </div>
                                </div>
                            </div>
                            }
                        }
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<!-- /.col -->
<script type="text/javascript">
    function SelectAllChb(source) {
        checkboxes = document.getElementsByClassName('AssignBoxClass');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
    $(document).ready(function () {

        //$('#tblSanctionDetails').dataTable({
        //    "aLengthMenu": [[20, 40, 60, 80, -1], [20, 40, 60, 80, "All"]],
        //    "iDisplayLength": 20,
        //});

        // $("#ddlSearchoffice").val('@Model.POfficeId')
       
        @*   $("#ddlSearchoffice option[value!='@Model.POfficeId']").attr("disabled", "disabled");*@
       
      @*  $("#ddlSearchoffice").val(@SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.OfficeId)
        $('#ddlSearchoffice option:not(:selected)').attr('disabled', true);*@

    });
    $('.IsnumericClass').keypress(function (e) {
        var key = (e.which) ? e.which : e.keyCode;
        if ((key >= 48 && key <= 57) || (key == 44) || (key == 8)) {

            return true;
        }
        else {
            return false;
        }
    });
    // $('[class="IsnumericClassT"]:changed').each(function () {

    // $('[class="IsnumericClassT"]:changed').each(function () {
    $('.IsnumericClassF').change(function (e) {
        
        var fp = $(this).val();
        var sp = $(this).parent('td').prev('td').find('input:text').val();      // $("#Filledpost-" + id).parent('td').prev('td').find('input:text').val();
        if (sp == "") {
            sp = "0";
        }
        //  alert(sp);
        if (parseInt(fp) > parseInt(sp)) {
            $(this).val('');
            alert('Filled Post can not greater then sanction post');
            return false;
        }
    })
    $('.IsnumericClassS').change(function (e) {
    
        var sp = $(this).val();
        var fp = $(this).parent('td').next('td').find('input:text').val();      // $("#Filledpost-" + id).parent('td').prev('td').find('input:text').val();
        if (fp == "")
        {
            fp = "0";
        }
        if (parseInt(fp) > parseInt(sp)) {
            $(this).val('');
            //$(this).parent('td').next('td').find('input:text').val('');
            alert('Filled Post can not greater then sanction post');
            return false;
        }
    })

    function UpdateAllSanctionPost() {
        var UserType = "5";
        $('.ErrorMessage').remove('');
        var IsValid = false;
        checkboxes = document.getElementsByClassName('AssignBoxClass');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            //checkboxes[i].checked = source.checked;
            if (checkboxes[i].checked == true) {

                IsValid = true;

            }

        }
        //IsValid = false;
        if (IsValid == true) {

            var QData = $('#SanctionAllPostListForm').serialize();
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '/PISModule/SanctionedPost/UpdateAllSanctionPost',
                data: QData,
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    // ShowNotification("sucess", "Sanction Post updated Successfully !!!.....");
                    $('#outerDiv').hide();
                    $("#outerDiv").html("");
                    $('#divDataContainer').empty();
                    $("#divDataContainer").html(result);
                    $("#FormPart").html("");
                    $("#RightSidebar").html("");
                    $('#loader-wrapper').hide();
                },
                error: function (result) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result.responseText);
                    $('#resize-right').hide();

                },

                complete: function (result) {
                    
                    $('#loader-wrapper').hide();
                }
            });



            //$.ajax({
            //    cache: false,
            //    async: true,
            //    type: "POST",
            //    url: '/PISModule/SanctionedPost/CheckAllFilledPost',
            //    data: QData,
            //    beforeSend: function () {
            //        $('#loader-wrapper').show();
            //    },
            //    success: function (result) {
            //        if (result == true) {
            //            $.ajax({
            //                cache: false,
            //                async: true,
            //                type: "POST",
            //                url: '/PISModule/SanctionedPost/UpdateAllSanctionPost',
            //                data: QData,
            //                beforeSend: function () {
            //                    $('#loader-wrapper').show();
            //                },
            //                success: function (result) {
            //                    // ShowNotification("sucess", "Sanction Post updated Successfully !!!.....");
            //                    $('#outerDiv').hide();
            //                    $("#outerDiv").html("");
            //                    $('#divDataContainer').empty();
            //                    $("#divDataContainer").html(result);
            //                    $("#FormPart").html("");
            //                    $("#RightSidebar").html("");
            //                    $('#loader-wrapper').hide();
            //                },
            //                error: function (result) {
            //                    $('#divDataContainer').empty();
            //                    $('#divDataContainer').append(result.responseText);
            //                    $('#resize-right').hide();

            //                },

            //                complete: function (result) {
            //                    
            //                    $('#loader-wrapper').hide();
            //                }
            //            });
            //        }
            //        else {
            //            alert("You have entered wrong sanctioned post");
            //            $('#loader-wrapper').hide();
            //        }
            //    }
            //});


        }
        else {
            alert("Please check atleast one checkbox")
        }
    }
    function SearchOfficeUpdate(officeid) {

        if (officeid != "" && officeid != null) {
            var type = 'Update';
            $('#loader-wrapper').show();
            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/PISModule/SanctionedPost/SearchOfficeWise",
                type: 'GET',
                data: {
                    officeid: officeid,
                    type: type
                },
                success: function (result) {
                    
                    if (result != null && result != "") {
                        $("#FormPart").empty();
                        $("#FormPart").html(result);
                        $('#loader-wrapper').hide();

                    }
                    else {
                        alert("Some error found!");
                        $('#loader-wrapper').hide();
                        return false;
                    }

                },

                error: function (xhr, ajaxOptions, thrownError) {

                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });
        }
    }
</script>
