﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV

@{
    int count = 0;
}


<div id='fullDetailsModel' class="hide" >
    <div id='ShowfullDetailsModel' style="text-align:center">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <!-- PAGE CONTENT BEGINS -->
        <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
        <input type="hidden" id="SelectedFixNo" name="SelectedFixNo" />
        <div class="pass-table">

            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
               @if (Model.ListtPaperLaidV != null)
        {
            if (Model.ListtPaperLaidV.Count > 0)
            {

                <div class="table-header">
                    
                </div>

                <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                    <thead>
                        <tr role="row">

                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: -50%">#</th>
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 30%">@Resources.PaperLaidLOB.Department</th>
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 30%">@Resources.PaperLaidDepartment.Title</th>
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 5%">@Resources.LOB.Priority</th>
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 15%">@Resources.LOB.ReceivedDate</th>
                             <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 10%">@Resources.PaperLaidLOB.Paper</th>
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 10%">@Resources.PaperLaidLOB.Select</th>



                        </tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        @foreach (var item in Model.ListtPaperLaidV)
                        {
                            count = count + 1;
                            string style = (count % 2 == 0) ? "odd" : "even";

                            var trID = item.EventId;
                                
                            <tr class="@style" id="@trID" onclick="onSelectRowHandler(this.id);">

                                <td class="">@count</td>

                               
                                <td class="">

                                    <i class=""> @item.DeparmentName</i>


                                </td>
                                <td class="">

                                    <i class=""> @Html.Raw(item.Title)</i>


                                </td>
                                <td class="">
                                    <i class="">  @if (@item.PaperlaidPriority != 0)
                                                  {
                                    @item.PaperlaidPriority
                                                  }
                                                  else
                                                  {
                                    <b>N/A</b>
                                                  }</i>



                                </td>
                                <td class="">

                                    <i class=""> @item.MinisterSubmittedDate</i>


                                </td>

                                <td class="">

                                    <i class=""> @Html.ActionLink(@Resources.PaperLaidLOB.View, "ViewPaperLaid", "CommitteeXML", new { PaperLaidTempId = item.DeptActivePaperId }, new { target = "_blank" })</i>


                                </td>
                                <td class="">

                                    <i class=""> <input type="checkbox" class="Chk" id="Check @item.DeptActivePaperId" onchange="Change(this,'@item.DeptActivePaperId','@item.PaperLaidId','@item.actualFilePath');"/></i>


                                </td>
                                  
                            </tr>
                        }
                    </tbody>
                </table>

 <a href="javascript:;" data-dismiss="modal" onclick="CancelImg();" class="close" style="margin-right: 7%; margin-top: 40px;">
                <img src="~/Content/img/Cancel.jpeg" class="btn_close" title="Cancel" height="30" width="30" />

            </a>
            <a href="javascript:;" data-dismiss="modal" onclick="SelectImg();" class="close" style="margin-right: 8%; margin-top: 40px;">
                <img src="~/Content/img/Tick.jpeg" class="btn_close" title="Select" height="30" width="30" />

            </a>
           
                   
            }
             else
            {
            <b>@Resources.PaperLaidLOB.NoFileFoundRelatedToThisEvent</b>
            }
        }
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>

    </div>

<script>
    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            "aoColumnDefs": [{ "bVisible": false, "aTargets": [0] }],

            "iDisplayLength": 25,
            "lengthMenu": [[25, 50, -1], [25, 50, "All"]],

            //"sPaginationType": "full_numbers",
            bAutoWidth: true,
            "aaSorting": [[4, "desc"]],
            "bPaginate": true,
            //"sDom": 'fptip'
            //"sDom": '<"top"iflp<"clear">>rt<"bottom"iflp<"clear">>'

        });
    });
    function CancelImg() {
        $('#fileForUpload').html("<b>" + "No Paper Selected" + "</b>");

        $("#PaperLaidId").val("");
        $("#PaperLaidIdTemp").val("");
    }

    function Change(ele, PaperLaidIdTemp, PaperLaidId, Path, Description) {

        document.getElementById(ele.id).checked == true;

        if (document.getElementById(ele.id).checked) {
            //alert("checked")
            //
            $(".Chk").each(function () {
                //$(this).prop("checked", false)
                $(this).prop('checked', false)
                //$(this).attr('checked', false);

            });



            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/Committee/CommitteeXML/GetFileNamePaperLaid",
                type: 'GET',
                data: {
                    PaperLaidTempId: PaperLaidIdTemp,
                    PaperLaidId: PaperLaidId
                },
                success: function (data) {
                    document.getElementById(ele.id).checked = true;
                    var ResultValue = data.split(",");
                    var data = ResultValue[0];
                    var BillNumber = ResultValue[1];
                    //var BillTitle = ResultValue[2];
                    var htmls = "<a href='" + Path + "' target = '_blank' data-dismiss='modal' ><b> " + data + "</b> </a>";
                    $('#fileForUpload').html(htmls);

                    document.getElementById("fromServer").removeAttribute("style");
                    $("#PaperLaidId").val(PaperLaidId);
                    $("#PaperLaidIdTemp").val(PaperLaidIdTemp);

                    var billarr = BillNumber.split('of');

                    $("#tbBillNumber").val(billarr[0]);
                    $('#DdlBillYear').val(billarr[1].trim()).attr("selected", "selected");


                }
            });


            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/Committee/CommitteeXML/GetPaperLaidDescription",
                type: 'GET',
                data: {
                    PaperLaidId: PaperLaidId
                },
                success: function (data) {
                    // alert(data);
                    //$('#TextLOB').val(data);

                }
            });


        }
        else {
            $('#fileForUpload').html("No Paper Selected");
            //  document.getElementById("fromServer").style.display = "none";
            $("#PaperLaidId").val("");
            $("#PaperLaidIdTemp").val("");
            //  $('#TextLOB').val("");
            //  var message = '@Resources.PaperLaidLOB.NoPaperSelected';
            // alert(message);
            document.getElementById(ele.id).checked = false;
        }
    }


</script>
