﻿@model   SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.HouseCommitteeNotificationViewModel
@{
    ViewBag.Title = "CreateHouseCommitteeNotification";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}
@Html.Action("LeftNavigationMenu", "SuperAdmin")
<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    @Html.Partial("_BreadcrumbsPartial")
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "HouseCommitteeNotification")">House Committee Notification Master Data</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "HouseCommitteeNotification")">House Committee Notification Details</a>
            </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>Master Data                              
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    House Committee Notification Details
                </small>
            </h1>
        </div>
        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">Create House Committee Notification</h4>
            }
            else
            {
                <h4 class="widget-title lighter">Edit House Committee Notification</h4>
            }
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        @* //, new { @class = "form-horizontal", @role = "form" }*@
                        <div class="row">
                            <form class="form-horizontal">
                                @Html.HiddenFor(m => m.SlNo)
                                @Html.HiddenFor(model => model.Mode)
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Title">Title</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.Title, new { @class = "col-xs-10 col-sm-5", @placeholder = "Title", @autocomplete = "off", @maxlength = "350" })
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            <span class="field-validation-error" id="titleValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                            @Html.ValidationMessageFor(model => model.Title)
                                        </div>
                                    </div>
                                </div>
                                <div class="space-2"></div>
                                @Html.HiddenFor(m => m.FilePath, new { @id = "hdnPdfPath" })
                                @if (Model.Mode == "Edit" && !string.IsNullOrEmpty(Model.FilePath))
                                {
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="File">File </label>
                                        <div class="col-sm-9">
                                            <input type="file" id="file" name="file" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="File">Download</label>
                                        <div class="col-sm-9">@Html.ActionLink(@Model.Title, "Download", new { filePathWithName = Model.DownloadPath })</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="File">File </label>
                                        <div class="col-sm-9">
                                            <input type="file" id="file" name="file" />

                                        </div>
                                    </div>
                                }
                                <div class="space-2"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="id-date-picker-1">Notification Date</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.HCNDate, new { @placeholder = "Notification Date", @data_date_format = "dd/mm/yyyy", @id = "HCNDate", @class = " col-xs-10 col-sm-5" })
                                        <span class="input-group-addon1">
                                            <i class="fa fa-calendar bigger-110"></i>
                                        </span>
                                        <span class="field-validation-error" id="membDateValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                        @Html.ValidationMessageFor(model => model.HCNDate, "", new { @id = "ValidFromValidateMesssge" })
                                    </div>
                                </div>
                                <div style="margin-left: 461px; margin-top: 112px;">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->
                                    <button type="button" id="btnSave" class="btn btn-sm btn-purple ">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        @Resources.MasterDataDashboard.Save</button>
                                    <button type="button" id="btnReset" class="btn btn-sm btn-info">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        @Resources.MasterDataDashboard.Reset
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script>

    $(document).ready(function () {

        $(':file').change(function () {
            for (var i = 0; i < this.files.length; ++i) {
                var name = this.files.item(i).name;
                var fileExtension = ['pdf', 'doc', 'docx', 'xls'];
                var Extension = name.split('.').pop().toLowerCase();
                if ($.inArray(Extension, fileExtension) == -1) {
                    alert(name + " is not valid format. Only 'doc','docx','pdf','xls' formats are allowed.");
                    $(':file').val("");
                    return false;
                }
            }
        })

        $("#mobiles").addClass("active open");
        $("#mobilesSub").addClass("nav-show").css("display", "block");
        $("#hcnlist").addClass("active");
        $("#mobilelinkid").removeClass("fa-comment").addClass("fa-comment-o");

        $('#HCNDate').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });

        $("#Title").focus();

        $("#btnSave").click(function () {

            Save();
        });

        $("#btnReset").click(function () {

            resetFields();

        });

        //       $('.date-picker').datepicker({
        //           autoclose: true,
        //           todayHighlight: true

        //       })
        ////show datepicker when clicking on the icon
        //.next().on(ace.click_event, function () {
        //    $(this).prev().focus();
        //});
    });


    function Save() {

        var file = document.getElementById("file");

        if ((file.files.length != 0 && $('#Title').val() != "" && $('#HCNDate').val() != "") || $("#hdnPdfPath").val() != "" && $('#Title').val() != "" && $('#HCNDate').val() != "") {

            var HouseCommitteeNotificationViewModel = new FormData();
            var file = document.getElementById("file").files[0];
            HouseCommitteeNotificationViewModel.append("Title", $("#Title").val());
            HouseCommitteeNotificationViewModel.append("FilePath", $("#hdnPdfPath").val());
            HouseCommitteeNotificationViewModel.append("file", file);
            HouseCommitteeNotificationViewModel.append("HCNDate", $("#HCNDate").val());
            HouseCommitteeNotificationViewModel.append("Mode", $("#Mode").val());
            HouseCommitteeNotificationViewModel.append("SlNo", $("#SlNo").val());

            $.ajax({
                url: "/SuperAdmin/HouseCommitteeNotification/SaveHCN",
                type: 'POST',
                data: HouseCommitteeNotificationViewModel,
                cache: false,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {

                    window.location.href = "/SuperAdmin/HouseCommitteeNotification";

                },
                error: function (xhr, ajaxOptions, thrownError) {

                    var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                        $(dlg).modal('hide');
                    });
                }
            });

        }
        else if (file.files.length == 0) {

            var dlg = bootbox.alert('Please select a pdf file', function (e) {

                $(dlg).modal('hide');
            });
        }
        else if ($('#Title').val() == "") {

            var dlg = bootbox.alert('Please give a title', function (e) {

                $(dlg).modal('hide');
            });
        }

        else if ($('#HCNDate').val() == "") {

            var dlg = bootbox.alert('Please Select Notification Date', function (e) {

                $(dlg).modal('hide');
            });
        }

    }

    function resetFields() {

        $(".field-validation-error").empty();

        $("#Title").focus();

        $("#Title").val('');
        $("#file").val('');
        $("#HCNDate").val('');
    }

</script>



