﻿


@model  SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.AssemblyRemarksViewModel
@{
    ViewBag.Title = "CreateAssemblyRemarks";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@Html.Action("LeftNavigationMenu", "SuperAdmin")
<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<div class="main-content">
      @Html.Partial("_BreadcrumbsPartial")
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "AssemblyRemarks")">@Resources.MasterDataDashboard.AssemblyRemarksMasterData</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "AssemblyRemarks")">@Resources.MasterDataDashboard.AssemblyRemarksDetails</a>
            </li>
       
        </ul>
      

    </div>

    <div class="page-content">

        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.MasterData
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.AssemblyRemarksDetails
                </small>
            </h1>


        </div>

        <!-- /section:settings.box -->

        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.CreateAssemblyRemarks</h4>
            }
            else
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.EditAssemblyRemarks</h4>
            }

        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            @using (Html.BeginForm("SaveAssemblyRemarks", "AssemblyRemarks", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                            { 
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.AssemblyRemarksID)
                                @Html.HiddenFor(model => model.Mode)


                                <div class="tabbable">
                                   
                                    <div class="tab-content no-border padding-24">
                                        <div class="tab-pane in active" id="news-english">


                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.AssemblyName </label>
                                                <div class="col-sm-9">

                                                    @Html.DropDownListFor(model => model.AssemblyID, Model.Assembly, @Resources.MasterDataDashboard.SelectAssembly, new { @class = "col-xs-10 col-sm-5" })

                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                         <span class="field-validation-error" id="assemValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.AssemblyID)
                                                    </div>
                                                </div>

                                            </div>





                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.AssemblyRemarks </label>
                                                <div class="col-sm-9">

                                                    @Html.TextAreaFor(model => model.AssemblyRemarks, new { @class = "col-xs-10 col-sm-9", @placeholder = @Resources.MasterDataDashboard.AssemblyRemarks,@id="txtDesc", @autocomplete = "off", @maxlength = "500" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="assemblyRemarksvalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.AssemblyRemarks)
                                                   
                                                    </div>
                                                </div>

                                            </div>

                                         
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Active </label>
                                                <div class="col-sm-9">
                                                    @Html.CheckBoxFor(model => model.Active)
                                                </div>

                                            </div>

                                        </div>


                                    </div>
                                </div>                              
                                <div class="btn-group pull-right padding-10" style="padding-bottom:40px;">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->
                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple " onclick="return userValid();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        @Resources.MasterDataDashboard.Save</button>
                                    <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        @Resources.MasterDataDashboard.Reset
                                    </button>
                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>
                            }
                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>




<script type="text/javascript">

    function userValid() {
        var assemid, assemrem;
        assemid = document.getElementById("AssemblyID").value;
        assemrem = document.getElementById("txtDesc").value;
        


        if ((assemid == "" || assemid == null) && (assemrem == "" || assemrem == null)) {
            $("#assemValidation").html("Select Assembly Name");
            $("#assemblyRemarksvalidation").html("Assembly Remark is Required");
            

            return false;
        }
        return true;

    }

    $(function () {
        $('#AssemblyID').focus(function () {
            $('#assemValidation').html("");
        });
    });

    $(function () {
        $('#txtDesc').focus(function () {
            $('#assemblyRemarksvalidation').html("");
        });
    });

    
</script>





<script>
    //$("#savebtn").live("click", function () {
    //    if ($('#txtDesc').val() == "" || ('#txtDesc').val() == null) {
    //        $('#assemblyRemarksvalidation').html("Assembly Remark is Required");
    //        return false;
    //    }
    //    else {
    //        return true;
    //    }
    //});

    //$(function () {
    //    $('#txtDesc').focus(function () {
    //        $('#assemblyRemarksvalidation').html("");
    //    });
    //});

    $(function () {

        $("#txtDesc").blur(function () {
            $(this).animate({
                height: '55px',
                width: '580px'
            },
               "fast"
            )
        });

        $("#txtDesc").focus(function () {
            $(this).animate({
                height: '200px',
                width: '580px'
            },
               "fast"
            );

            //$("#newsDescvalidation").html("");

        });

    });

    $(document).ready(function () {
        $("#AssemblyID").focus();

        $("#assemblymain").addClass("active open");
        $("#assemblysub").addClass("nav-show").css("display", "block");
        $("#assemblyremarkslist").addClass("active");
        $("#assemblylinkid").removeClass("fa-comment").addClass("fa-comment-o");
    });

    function resetFields() {
        $(".field-validation-error").empty();
        $("#AssemblyID").focus();
    }
</script>






