﻿@model  SBL.eLegistrator.HouseController.Web.Areas.Media.Models.JournalistViewModel
@{
    string Heading = Model.Mode == "Add" ? "Create Journalist" : "Edit Journalist";
    ViewBag.Title = Heading;
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}


@if (Model != null)
{
    <div>
        @Html.Partial("_LeftMenu", Model.Indexmodel)
    </div>
}
else
{
    <div>
        @Html.Partial("_LeftMenu", null)
    </div>
}
<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
        vertical-align: middle;
    }
</style>
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("JournalistIndex", "Media")">Media</a>
            </li>
            <li>
                <a href="@Url.Action("JournalistIndex", "Media")">Journalist</a>
            </li>
            <li class="active">@Heading</li>
        </ul>
        <div class="legAssm">
            <span id="SpnAssemList">@Html.DropDownListFor(m => m.AssemblyCode, new SelectList(Model.mAssemblyList, "AssemblyCode", "AssemblyName", Model.AssemblyCode), new { @id = "DdlAssembly", @disabled = "disabled", @style = "background-color: #d6487e;color:white" })</span>
            <span id="SpnSessList">@Html.DropDownListFor(m => m.SessionCode, new SelectList(Model.sessionList, "SessionCode", "SessionName", Model.SessionCode), new { @id = "DdlSession", @disabled = "disabled", @style = "background-color: #9585bf;color:white" })</span>
            <span><a href="#" id="AChange" onclick="ChangeAS(this.id)" style="text-decoration: none;">Change</a></span>
            @* <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>*@
        </div>
    </div>





    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <div class="page-header">
            <h1>Media 
                               
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Journalist  
                </small>
            </h1>


        </div>

        <!-- /section:settings.box -->
        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                @if (Model.Mode == "Add")
                {
                    <h4 class="widget-title lighter">Create Journalist</h4>
                }
                else
                {
                    <h4 class="widget-title lighter">Edit Journalist</h4>
                }

            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <div class="col-xs-12">

                            <!-- PAGE CONTENT BEGINS -->


                            @using (Html.BeginForm("SaveJournlist", "Media", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @role = "form", @id = "JournalistForm" }))
                            { 
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.JournalistID)
                                @Html.HiddenFor(model => model.Mode)
@*@Html.HiddenFor(model => model.Photo)*@
                                @Html.HiddenFor(model => model.IsActive)
                                @Html.HiddenFor(model => model.ThumbName)
                                <div class="col-xs-8">


                                    <h3 class="header smaller lighter blue">Personal Details
                                    </h3>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="UID">Aadhar ID  <small class="text-warning"></small></label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(model => model.UID, new { @placeholder = "Aadhaar Number", @onchange = "CheckAadhar1()", @autocomplete = "off", @class = "input-mask-adhar col-xs-10" })
                                            <div style="padding-left: 86%">
                                                <input class="btn btn-minier btn-yellow" type="button" value="Get Details" onclick="GetDetailsByAadharID()" />
                                            </div>
                                            <div class="help-block col-xs-12 col-sm-reset inline">
                                                @Html.ValidationMessageFor(model => model.UID)
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Name">Name <span style="color: red">*</span>:</label>

                                        <div class="col-sm-9">

                                            @Html.TextBoxFor(model => model.Name, new { @class = "col-xs-12", @autocomplete = "off", @placeholder = "Name" })
                                            <div class="help-block col-xs-12 col-sm-reset inline">
                                                @Html.ValidationMessageFor(comm => comm.Name)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Name">Gender <span style="color: red">*</span>:</label>
                                        <div class="col-sm-9">
                                            @Html.DropDownListFor(model => model.Gender, Model.GenderList, null, new { @class = "col-xs-12 " })

                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Name">Age <span style="color: red">*</span>:</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(model => model.Age, new { @placeholder = "Enter Age", @class = "col-xs-12 " })<br />
                                            @Html.ValidationMessageFor(model => model.Age)
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Name">Father/Husband Name <span style="color: red">*</span>:</label>

                                        <div class="col-sm-9">

                                            @Html.TextBoxFor(model => model.FathersName, new { @class = "col-xs-12", @autocomplete = "off", @placeholder = "Father's Name" })
                                            <div class="help-block col-xs-12 col-sm-reset inline">
                                                @Html.ValidationMessageFor(comm => comm.FathersName)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Address">Address <span style="color: red">*</span>:</label>

                                        <div class="col-sm-9">
                                            @Html.TextAreaFor(model => model.Address, new { @placeholder = "Address", @autocomplete = "off", @class = "col-xs-12 " })
                                            <div class="help-block col-xs-12 col-sm-reset inline">
                                                @Html.ValidationMessageFor(model => model.Address)
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Type">Mobile <span style="color: red">*</span>:</label>

                                        <div class="col-sm-9">

                                            @Html.TextBoxFor(model => model.Phone, new { @class = "col-xs-12 ", @autocomplete = "off", @placeholder = "Mobile", @onkeypress = "return isNumberKey(event)" })
                                            <div class="help-block col-xs-12 col-sm-reset inline">
                                                @Html.ValidationMessageFor(comm => comm.Phone)
                                            </div>


                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Type">Email <span style="color: red">*</span>:</label>

                                        <div class="col-sm-9">

                                            @Html.TextBoxFor(model => model.Email, new { @class = "col-xs-12 ", @autocomplete = "off", @placeholder = "Email" })
                                            <div class="help-block col-xs-12 col-sm-reset inline">
                                                @Html.ValidationMessageFor(comm => comm.Email)
                                            </div>


                                        </div>
                                    </div>

                                    <h3 class="header smaller lighter blue">Official Details
                                    </h3>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Acreditation Number">Acreditation Number </label>

                                        <div class="col-sm-9">

                                            @Html.TextBoxFor(model => model.AcreditationNumber, new { @placeholder = "Acreditation Number", @autocomplete = "off", @class = "col-xs-12" })
                                            <div class="help-block col-xs-12 col-sm-reset inline">
                                                @Html.ValidationMessageFor(comm => comm.AcreditationNumber)
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Name">Organization <span style="color: red">*</span>:</label>

                                        <div class="col-sm-9">

                                            @Html.DropDownListFor(model => model.OrganizationID, Model.Organisation, "--Select Organization--", new { @class = "col-xs-12" })
                                            <div class="help-block col-xs-12 col-sm-reset inline">
                                                @Html.ValidationMessageFor(comm => comm.OrganizationID)
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Designation">Designation  <span style="color: red">*</span>:</label>

                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(model => model.Designation, new { @placeholder = "Designation", @autocomplete = "off", @class = "col-xs-12" })
                                            <div class="help-block col-xs-12 col-sm-reset inline">
                                                @Html.ValidationMessageFor(model => model.Designation)
                                            </div>
                                        </div>
                                    </div>




                                    @if (Model.Mode == "Add")
                                    {
                                        @Html.HiddenFor(m => m.IsAcredited)
                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="IsAcredited">IsAcredited<span style="color: red"></span>:</label>

                                            <div class="col-sm-9">
                                                @Html.CheckBoxFor(model => model.IsAcredited, new { @placeholder = "IsAcredited", @class = "col-xs-12" })
                                                <div class="help-block col-xs-12 col-sm-reset inline">
                                                    @Html.ValidationMessageFor(model => model.IsAcredited)
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    <hr>
                                    <div class="wizard-actions" style="text-align: center">
                                        <!-- #section:plugins/fuelux.wizard.buttons -->



                                        <button type="submit" class="btn btn-app btn-danger btn-xs" onclick="return CheckPicnew();">
                                            <i class="ace-icon fa fa-floppy-o icon-on-right"></i>
                                            Save</button>

                                        <button type="reset" class="btn btn-app btn-info btn-xs" onclick="resetFields();">
                                            <i class="ace-icon fa fa-refresh "></i>
                                            Reset
                                        </button>

                                        <!-- /section:plugins/fuelux.wizard.buttons -->
                                    </div>

                                </div>
                              
                                @Html.Partial("_MediaPhotoCaptureGeneric", Model)
                            }


                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.page-content -->
                </div>
            </div>
        </div>
    </div>


</div>
<!-- /.main-content -->
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">

    function ChangeAS(id) {
        if ($("#" + id).html() == "Change") {
            $("#" + id).html("Apply")
            $("#DdlAssembly").prop("disabled", false);
            $("#DdlSession").prop("disabled", false);
            $("#DdlAssembly").css({
                "background-color": "white",
                "color": "black"
            })
            $("#DdlSession").css({
                "background-color": "white",
                "color": "black"
            })
        }
        else if ($("#" + id).html() == "Apply") {
            $("#" + id).html("Change")
            $("#DdlAssembly").prop("disabled", true);
            $("#DdlSession").prop("disabled", true);
            $("#DdlAssembly").css({
                "background-color": "#d6487e",
                "color": "white"
            })
            $("#DdlSession").css({
                "background-color": "#9585bf",
                "color": "white"
            })

            $.ajax({
                url: "/Home/GetDataByAssemblySession",
                type: 'GET',
                data: {
                    AssemblyId: $("#DdlAssembly").val(),
                    SessionId: $("#DdlSession").val()
                },
                success: function (data) {
                    if (data == "Success") {
                        var url = '@Url.Action("Index", "Media", new { area = "Media" })';
                        url = url.replace('amp;', '');
                        url = url.replace('amp;', '');
                        window.open(url, "_parent");
                    }
                }
            })

        }

}

$("#DdlAssembly").change(function () {

    var AssemblyId = $("#DdlAssembly").val();

    $.ajax({
        url: "/PublicPasses/PublicPass/GetSessionByAssemblyId",
        type: 'GET',
        data: { AssemblyId: AssemblyId },
        success: function (data) {
            $("#DdlSession").empty();
            $.each(data, function (index, optiondata) {
                $("#DdlSession").append("<option value='" + optiondata.SessionCode + "'>" + optiondata.SessionName + "</option>");
            });

        }
    })

});
</script>

<script>

    function CheckPicnew() {
 
        //var picLocation = $('#Photo').val();
        var picLocation = $('#file').val();
        //alert(piclocation);
        if (picLocation != "") {
            $("[id*=imgCapture]").css("visibility", "visible");
            $("[id*=Photo]").val(picLocation);
            return true;
        }
        else {
            alert("Please take a Pic First");
            return false;
        }
        return false;
    }

    function CheckAadhar1() {
        // alert($('#UID').val());
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Media/Media/CheckAadhar",
            type: 'GET',
            data: {
                AadharId: $('#UID').val()
            },
            success: function (result) {
                // alert("Result : " + result);
                if (result == 'True') {
                    alert("This Aadhaar already Registered!");
                    $('#UID').val('');
                }
                else {

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

    function GetDetailsByAadharID() {
        var AdhaarID = $('#UID').val();
        var pictureLoc = $('#Photo').val();
        
        //alert("pictureLoc : " + pictureLoc);

        if (AdhaarID.length == 12) {
            if (isNaN(AdhaarID)) {
                alert("Aadhar Id should be in digits.");
                $('#UID').val("");
                return false;
            }
            else {
                $.ajaxSetup({ cache: false });
                $.ajax({
                    url: "/Media/Media/GetAdhaarDetails",
                    type: 'GET',
                    data: {
                        AdhaarID: AdhaarID,
                        picLocation: pictureLoc
                    },
                    beforeSend: function () {
                        //$('#loader-wrapper').show();
                    },
                    success: function (result) {
                        //alert("Result : " + result);
                        if (result != "nodata" && result != null && result != "") {
                            document.getElementById('Name').value = result.Name;
                            document.getElementById('FathersName').value = result.FatherName;
                            document.getElementById('Address').value = result.Address;
                            document.getElementById('Email').value = result.Email;
                            document.getElementById('Phone').value = result.MobileNo;
                            document.getElementById('Age').value = result.DOB;
                            var Phot = (result.Photo).split(',');
                            var ImagePho = Phot[0];
                            var Image = Phot[1];
                            $("[id*=imgCapture]").css("visibility", "visible");
                            $("[id*=imgCapture]").attr("src", ImagePho);
                            $("[id*=Photo]").val(ImagePho);
                            $("[id*=ThumbName]").val(Image);
                            $("#file").val("");
                            $("#file").val(ImagePho);

                            if (result.Gender == 'M') {
                                document.getElementById('Gender').value = "Male";
                            }
                            else {
                                document.getElementById('Gender').value = "FeMale";
                            }
                        }
                        else {
                            alert("Either Aadhar Details Not found or Network not found!");
                            $('#UID').val('');
                            return false;
                        }
                        //$('#loader-wrapper').hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                        $('#loader-wrapper').hide();
                    }
                });
            }
        }
        else {
            alert("Aadhar Id Should be in 12 numbers.")
            $('#UID').val('');
            return false;
        }
    }

    function CheckPicLocation() {
        var picLocation = $('#Photo').val();
        if (picLocation != "") {
            $("[id*=imgCapture]").css("visibility", "visible");
            $("[id*=Photo]").val(picLocation);
            return true;
        }
        else {
            alert("Please take a Pic First");
            return false;
        }
        return false;
    }

    jQuery(document).ready(function () {
        var picLocation = $('#Photo').val();
        $.validator.addMethod('accept', function () { return true; });
        if (picLocation != "") {
            $("[id*=imgCapture]").css("visibility", "visible");
            $("[id*=imgCapture]").attr("src", picLocation);
        }
    });

</script>

<script>
    $('#JournalistForm').submit(function (e) {
        return true;
        //var mode = $('#Mode').val();
        //var imageValue = $('#Image').val();


        //if (mode == "Add" && imageValue != '') {

        //    var ext = imageValue.split('.').pop().toLowerCase();
        //    if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {

        //        $('#filevalidation').html('Invalid File Format (.gif, .png, .jpg, .jpeg allowed)');
        //        e.preventDefault();
        //        return false;
        //    }
        //    else {
        //        $('#filevalidation').html('');
        //        return true;
        //    }
        //}
        //else if (mode == "Add" && imageValue == '') {

        //    $('#filevalidation').html('Image Required');
        //    e.preventDefault();
        //    return false;
        //}
        //else {
        //    var ext = imageValue.split('.').pop().toLowerCase();
        //    if (imageValue != "" && $.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
        //        $('#filevalidation').html('Invalid File Format (.gif, .png, .jpg, .jpeg allowed)');
        //        e.preventDefault();
        //        return false;
        //    }
        //    return true;
        //}
    });

</script>
<script type="text/javascript">

    $('.input-mask-adhar').mask('999999999999');

    //link
    $('.date-picker').datepicker({
        autoclose: true,
        todayHighlight: true
    })
    //show datepicker when clicking on the icon
    .next().on(ace.click_event, function () {
        $(this).prev().focus();
    });
</script>
<script>
    $(document).ready(function () {
        $("#Prefix").focus();
    });
    function resetFields() {
        $(".field-validation-error").empty();
        $("#Prefix").focus();

    }


</script>
<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    function ImagePriview(obj) {
        var image = $(obj).attr('image');
        var path = '/Images/Pass/Photo/' + image;
        var modalBody = "<img width='598' height='300' src='" + path + "' />";
        $('#modal-body').attr('style', 'padding:20px;width:300px;height:300px;');
        $('#modal-body').html(modalBody);


        $('#modal').modal('show');
    }

</script>
