﻿@model  SBL.eLegistrator.HouseController.Web.Areas.Media.Models.JournalistIndexViewModel
@{
    ViewBag.Title = "Journalist";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    int count = 0;
}


@Html.Action("PassLeftMenu", "Pass", new { area="Passes", IsDepartmentUser = false })
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Dashboard", "Pass")">Home</a>
            </li>

            <li>
                <a href="@Url.Action("CommitteMemberList", "Media", new { area = "Media" })">Committee Members List</a>
            </li>
            <li class="active">List</li>
        </ul>

        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>

    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->
       
        <div class="page-header">
            <h1>Journalists
                                <small>
                                    <i class="ace-icon fa fa-angle-double-right"></i>
                                    Create Committee Members List
                                </small>
            </h1>


        </div>
        <!-- /section:settings.box -->
        <div class="row" id="JournalistListGrid">
            <div class="col-xs-12">
                <div class="msgboxes" id="SuccessMessageDiv" style="display: none;">
                    <div class="alert alert-success" id="SuccessMessage">
                        <button type="button" class="close" data-dismiss="alert">
                            <i class="ace-icon fa fa-times"></i>
                        </button>
                        <strong><i class="ace-icon glyphicon glyphicon-ok"></i>&nbsp;&nbsp;Success !!  &nbsp;&nbsp;&nbsp;<a href="@Url.Action("CommitteeMemberList", "Media", new { Id = 2014 })"> Added to acredited list for year 2014 </a></strong>
                    </div>
                </div>
                <!-- PAGE CONTENT BEGINS -->
                @using (Ajax.BeginForm("AddAsCommitteMember", "Media", new AjaxOptions { OnSuccess = "OnSuccess", OnBegin = "OnBegin" }))
                {
                    @Html.AntiForgeryToken()
                  
                    <div class="pass-table">

                        <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">

                            <table class="table table-striped table-bordered table-hover dataTable" id="JournalistList" aria-describedby="sample-table-2_info">
                                <thead>
                                    <tr role="row">
                                        <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">
                                            <label class="position-relative">
                                                <input type="checkbox" class="ace">
                                                <span class="lbl"></span>
                                            </label>
                                        </th>
                                        <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">#</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Name</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Organization</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Phone: activate to sort column ascending">Acreditation Number</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Adhar Id</th>

                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">

                                    @for (int i = 1; i <= 10; i++)
                                    {
                                        count = count + 1;
                                   
                                        <tr>
                                            <td class="center  sorting_1">
                                                <label class="position-relative">
                                                    <input type="checkbox" value="1" name="JournalistIds" class="ace">
                                                    <span class="lbl"></span>
                                                </label>
                                            </td>
                                            <td class="center">@i</td>

                                            <td>Ashithosh Mukargee</td>
                                            <td>Amar Ujala</td>
                                            <td>123456</td>
                                            <td>1111222233334444</td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-xs-12" id="ButtonGroup">
                                    <button type="submit" value="Add" id="AddButton" class="btn btn-info"><i class="ace-icon glyphicon  glyphicon-plus"></i>Add To Committee Members</button>
                                </div>
                            </div>
                            <!-- PAGE CONTENT ENDS -->
                        </div>
                    </div>
                }
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                <span class="bigger-100">
                    <span class="blue bolder">eVidhan</span>
                    &nbsp;&nbsp;Application &copy; 2013-2014
                </span>

            </div>

            <!-- /section:basics/footer -->
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>


<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>


<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {
        $('#SuccessMessageDiv').hide();
        $('#ButtonGroup').hide();
    });


    jQuery(function ($) {
      




        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })



    //Button shows only if checkbox selected
    $(document).on('click', 'tr input:checkbox', function () {
        var atLeastOneIsChecked = $('#JournalistList :checkbox:checked').length > 0;
        if (atLeastOneIsChecked) {
            $('#ButtonGroup').show();
        }
        else {
            $('#ButtonGroup').hide();
        }

    });


    //For checking all check box
    $(document).on('click', 'th input:checkbox', function () {
        var that = this;
        $(this).closest('table').find('tr > td:first-child input:checkbox')
        .each(function () {
            this.checked = that.checked;
            $(this).closest('tr').toggleClass('selected');
        });
    });



    function ImagePriview(obj) {
        var image = $(obj).attr('image');
        var path = '/Images/Pass/Photo/' + image;
        var modalBody = "<img width='598' height='300' src='" + path + "' />";
        $('#modal-body').attr('style', 'padding:20px;width:300px;height:300px;');
        $('#modal-body').html(modalBody);
        $('#modal').modal('show');
    }


    //Add/Remove process
    var target = document.getElementById("JournalistListGrid");
    var loader = new Spinner();
    function OnSuccess(response) {
        loader.stop();
      
        if (response == true) {
            $('#SuccessMessageDiv').show();
        }
        else {
            $('#SuccessMessageDiv').hide();
        }
    }

    function OnBegin() {
        loader.spin(target);

    }



</script>


