﻿@model  SBL.eLegistrator.HouseController.Web.Areas.Media.Models.MediaYearViewModel
@{
   
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    int count = 0;
}

@if (Model != null)
{
    <div>
        @Html.Partial("_LeftMenu", Model.Years)
    </div>
}
else
{
    <div>
        @Html.Partial("_LeftMenu", null)
    </div>
}

<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("ListOfJournalistPass", "Media", new { Id = Model.Year })">Home</a>
            </li>

            <li>
                <a href="@Url.Action("ListOfJournalistPass", "Media", new { Id = Model.Year })">Journalist For VS</a>
            </li>
            <li class="active">List</li>
        </ul>

        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
        <div class="legAssm">
            <span id="SpnAssemList">@Html.DropDownListFor(m => m.AssemblyId, new SelectList(Model.mAssemblyList, "AssemblyCode", "AssemblyName", Model.AssemblyId), new { @id = "DdlAssembly", @disabled = "disabled", @style = "background-color: #d6487e;color:white" })</span>
            <span id="SpnSessList">@Html.DropDownListFor(m => m.SessionId, new SelectList(Model.sessionList, "SessionCode", "SessionName", Model.SessionId), new { @id = "DdlSession", @disabled = "disabled", @style = "background-color: #9585bf;color:white" })</span>
            <span><a href="#" id="AChange" onclick="ChangeAS(this.id)" style="text-decoration: none;">Change</a></span>
            @*<span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>*@
        </div>

    </div>
    <div id='PhotoModel' class="hide">
        <div id='ShowPhotoModel' style="text-align: center">
        </div>
    </div>
    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        @Html.HiddenFor(m => m.Year)
        <div id="PageContant">
            <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />

            <div class="row">
                <div class="col-xs-12">
                    <div class="table-header">
                        Journalist List
                    </div>
                    <!-- PAGE CONTENT BEGINS -->

                    <div class="pass-table">
                        <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                            @if (Model.ListJounalist != null)
                            {
                                if (Model.ListJounalist.Count() > 0)
                                {
                    
                                <table class="table table-striped table-bordered table-hover dataTable" id="JournalistList" aria-describedby="sample-table-2_info">
                                    <thead>
                                        <tr role="row">
                                            @* <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">
                                                <label class="position-relative">
                                                    <input type="checkbox" class="ace">
                                                    <span class="lbl"></span>
                                                </label>
                                            </th>*@
                                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">#</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Name</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Organization</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Phone: activate to sort column ascending">Phone</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Acreditation: activate to sort column ascending">Acreditation Number</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Status</th>
                                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">

                                        @foreach (var item in Model.ListJounalist)
                                        {
                                            count = count + 1;
                                   
                                            <tr>
                                                <td>

                                                    @if (item.IsCurrentSession)
                                                    {
                                                        if (item.IsRequested)
                                                        {
                                                        <input type="checkbox" checked="checked" title="Included" disabled="disabled" />
                                                        }
                                                        else
                                                        {
                                                        <input id="check @item.RequestId" type="checkbox" onchange="checkChange(this.id)" />
                                                        }
                                                    }
                                                    else
                                                    {

                                                        if (item.IsActive && (item.IsDeleted == false || item.IsDeleted == null))
                                                        {
                                                        <input id="check @item.JournalistID" type="checkbox" onchange="checkChange1(this.id)" />
                                                        }
                                                        else
                                                        {
                                                        <input type="checkbox" title="Journalist Deactivated Or Deleted" disabled="disabled" />
                                                        }
                                                    }
                                                </td>

                                                <td class="center">
                                                    @count
                                                </td>

                                                <td title="  @item.Name">
                                                    @item.Name.LimitLength(12)
                                                </td>
                                                <td>@item.OrganisationName</td>
                                                <td>@item.Phone</td>
                                                <td>@item.AcreditationNumber</td>
                                                <td class="hidden-480">
                                                    @if (item.IsActive)
                                                    {
                                                        <span class="label label-sm label-success">Active</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-sm label-danger">Deactive</span>
                                                    }
                                                </td>
                                                <td>
                                                    <input type="hidden" id="request @item.JournalistID" value="@Html.Raw(item.IsRequested)" />
                                                    <div class="hidden-sm hidden-xs action-buttons">
                                                        @if (!item.IsRequested && item.IsCurrentSession)
                                                        {
                                                            <a data-rel="tooltip" title="Send" onclick="SubmitToCurrentYear(@item.RequestId)" href="javascript:void(0);" class="blue tooltip-info">
                                                                <i class="ace-icon fa fa-check-square-o bigger-130"></i>
                                                            </a>
                                                           
@* <a  data-rel="tooltip" class="blue tooltip-info" title="Change Status" id="ChangeStatusLink"  href="@Url.Action("ChangeJournalistStatus", "Media", new { Id = item.JournalistID, AcreditationNumber = item.AcreditationNumber })">
                                                                <i class="ace-icon fa fa-check-square-o bigger-120"></i>
                                                            </a>*@
                                                        }
                                                        else if (!item.IsCurrentSession && item.IsActive && (item.IsDeleted == false || item.IsDeleted == null))
                                                        {
                                                            <a title="Include" onclick="SubmitToJournalistCurrentYear(@item.JournalistID)" href="javascript:void(0);" class="blue">
                                                                <i class="ace-icon fa fa-check-square-o bigger-130"></i>
                                                            </a>
                                                        }
                                                         <a data-rel="tooltip" class="red tooltip-error" title="Remove" onclick="RemoveJournlist('@item.RequestId')"  >
                                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                            </a>
                                                        <a title="View Full Details" onclick="FullPassDetails(@item.JournalistID)" href="javascript:void(0);" class="green">
                                                            <i class="ace-icon fa fa-eye bigger-130"></i>
                                                        </a>
                                                        <a image="@item.Photo" onclick="ImagePriview(this);"
                                                 data-rel="tooltip" data-placement="bottom" data-original-title="Bottm Info"
                                                 href="javascript:void(0);" role="button"  data-toggle="modal" >
                                                            <i class="ace-icon glyphicon glyphicon-picture bigger-130"></i>
                                                        </a>
                                                        @*   <a data-rel="tooltip" class="green tooltip-success" title="Edit"  href="@Url.Action("EditJournlist", "Media", new { Id = item.JournalistID })">
                                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                        </a>*@
                                                        @*     @if (!item.IsRequested && item.IsActive)
                                                        {
                                                            <a data-rel="tooltip" class="red tooltip-error" title="Delete"  href="@Url.Action("DeleteJournlist", "Media", new { Id = item.JournalistID, AcreditationNumber = item.AcreditationNumber })">
                                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                            </a>
                                                        }
@* <a data-original-title="Photo Preview" data-rel="tooltip" class="tooltip-info" image="@item.Photo" title="Photo Preview" onclick="ImagePriview(this);" href="javascript:void(0);" role="button"  data-toggle="modal" >
                                                            <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                        </a>*@
                                                    </div>

                                                    <div class="hidden-md hidden-lg">
                                                        <div class="inline position-relative">
                                                            <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                                <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                            </button>

                                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                                <li>
                                                                    <a   href="@Url.Action("ChangeJournalistStatus", "Media", new { Id = item.JournalistID })" class="tooltip-info" data-rel="tooltip" title="Change Status">
                                                                        <span class="blue">
                                                                            <i class="ace-icon fa fa-check-square-o bigger-120"></i>
                                                                        </span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a  href="@Url.Action("EditJournlist", "Media", new { Id = item.JournalistID })" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                        <span class="green">
                                                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                                        </span>
                                                                    </a>
                                                                </li>


                                                                @*  <li>
                                                                    <a data-original-title="Photo Preview" data-rel="tooltip" class="blue tooltip-info" image="@item.Photo"  onclick="ImagePriview(this);" href="javascript:void(0);" role="button"  data-toggle="modal" >
                                                                        <span class="red">
                                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                        </span>
                                                                    </a>
                                                                </li>*@
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                                        if (Model.Year == Model.IsCurrentSessionCode)
                                        {
                                <div class="row">
                                    <div class="col-xs-1" id="ButtonGroup">
                                        <button type="submit" value="Add" id="AddButton" class="btn btn-info" onclick="SubmitSelectedToCurrentYear()"><i class="ace-icon fa fa-check-square-o bigger-130"></i>Send</button>
                                    </div>
                                    <div style="padding-top: 1%; padding-left: 10%;">
                                        <span class="label label-lg label-pink arrowed-in arrowed-right">Sending selected Journalists to Vidhan Sabha</span>
                                    </div>
                                </div>
                                        }
                                        else
                                        {
                                <div class="row">
                                    <div class="col-xs-1" id="ButtonGroup">
                                        <button type="submit" value="Add" id="AddButton" class="btn btn-info" onclick="SubmitSelectedToJournalistCurrentYear()"><i class="ace-icon fa fa-check-square-o bigger-130"></i>Include</button>
                                    </div>
                                    <div style="padding-top: 1%; padding-left: 12%;">
                                        <span class="label label-large label-pink arrowed-in-right arrowed">Including selected Journalists to current session</span>
                                    </div>
                                </div>
                            
                                        }
@*
                                
                                <div class="row">
                                    <div class="col-xs-1" id="ButtonGroup">
                                        <button type="submit" value="Add" id="AddButton" class="btn btn-info" onclick="SubmitSelectedToCurrentYear()"><i class="ace-icon fa fa-check-square-o bigger-130"></i>Submit Selected Journalists Pass Request</button>
                                    </div>

                                </div>*@
                                <!-- PAGE CONTENT ENDS -->
                                }
                                else
                                {
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="alert alert-info">
                                            <strong>0 Acredited Journalists</strong><br />
                                            There is no Acredited Journalists

                                        </div>
                                    </div>
                                </div>
                                }
                            }
                        </div>
                    </div>

                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <div id='fullDetailsModel' class="hide">
            <div id='ShowfullDetailsModel' style="text-align: center">
            </div>
        </div>
    </div>
    <!-- /.main-content -->

    @*<div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                <span class="bigger-100">
                    <span class="blue bolder">eVidhan</span>
                    &nbsp;&nbsp;Application &copy; 2013-2014
                </span>

            </div>

            <!-- /section:basics/footer -->
        </div>
    </div>*@

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<!-- page specific plugin styles -->
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/Scripts/jquery-1.7.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">

    function ChangeAS(id) {
        if ($("#" + id).html() == "Change") {
            $("#" + id).html("Apply")
            $("#DdlAssembly").prop("disabled", false);
            $("#DdlSession").prop("disabled", false);
            $("#DdlAssembly").css({
                "background-color": "white",
                "color": "black"
            })
            $("#DdlSession").css({
                "background-color": "white",
                "color": "black"
            })
        }
        else if ($("#" + id).html() == "Apply") {
            $("#" + id).html("Change")
            $("#DdlAssembly").prop("disabled", true);
            $("#DdlSession").prop("disabled", true);
            $("#DdlAssembly").css({
                "background-color": "#d6487e",
                "color": "white"
            })
            $("#DdlSession").css({
                "background-color": "#9585bf",
                "color": "white"
            })

            $.ajax({
                url: "/Home/GetDataByAssemblySession",
                type: 'GET',
                data: {
                    AssemblyId: $("#DdlAssembly").val(),
                    SessionId: $("#DdlSession").val()
                },
                success: function (data) {
                    if (data == "Success") {
                        var url = '@Url.Action("Index", "Media", new { area = "Media" })';
                        url = url.replace('amp;', '');
                        url = url.replace('amp;', '');
                        window.open(url, "_parent");
                    }
                }
            })

        }

}

$("#DdlAssembly").change(function () {

    var AssemblyId = $("#DdlAssembly").val();

    $.ajax({
        url: "/PublicPasses/PublicPass/GetSessionByAssemblyId",
        type: 'GET',
        data: { AssemblyId: AssemblyId },
        success: function (data) {
            $("#DdlSession").empty();
            $.each(data, function (index, optiondata) {
                $("#DdlSession").append("<option value='" + optiondata.SessionCode + "'>" + optiondata.SessionName + "</option>");
            });

        }
    })

});
</script>

<script type="text/javascript">
    $(document).ready(function () {
        //$('#SuccessMessageDiv').hide();
        //$('#ButtonGroup').hide();
    });

    //$(document).on('click', 'tr input:checkbox', function () {
    //    var atLeastOneIsChecked = $('#JournalistList :checkbox:checked').length > 0;
    //    if (atLeastOneIsChecked) {
    //        $('#ButtonGroup').show();
    //    }
    //    else {
    //        $('#ButtonGroup').hide();
    //    }

    //});

    jQuery(function ($) {
        var oTable1 =
        $('#JournalistList')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
              { "bSortable": false }, { "bSortable": false },
              null, null, null, null, null,
              { "bSortable": false }
            ]
        });
    });

    function FullPassDetails(PassID) {
        var pathurl = '@Url.Action("FullJournalistDetails", "Media")';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                Id: PassID
            },
            success: function (data) {

                $('#ShowfullDetailsModel').html("");
                $('#ShowfullDetailsModel').html(data);

                var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-eye green'></i> Full Details</h4></div>",
                    width: 600,
                    title_html: true,
                    buttons: [
                        {
                            text: "OK",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

            }
        });
    }
    function ImagePriview(obj) {

        var image = $(obj).attr('image');
        var modalBody = "<img style='width:180px;height:240px;' src='" + image + "' />";

        $('#ShowPhotoModel').html("");
        $('#ShowPhotoModel').html(modalBody);

        var dialog = $("#PhotoModel").removeClass('hide').dialog({
            resizable: false,
            modal: true,
            title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon glyphicon glyphicon-picture bigger-130 blue'></i> Photo</h4></div>",
            width: 260,
            title_html: true,
            buttons: [
                {
                    text: "OK",
                    "class": "btn btn-primary btn-xs",
                    click: function () {
                        $(this).dialog("close");
                    }
                }
            ]
        });
    }


    function SubmitToJournalistCurrentYear(PassID) {
        var year = document.getElementById("Year").value;

        var Requested = document.getElementById("request " + PassID).value;
        if (Requested == "True") {
            ShowNotification("error", "Journalist already included in current year.");
           // alert("Journalist already included in current year");
            document.getElementById(id).checked = "";
        }
        else {

            if (confirm("Are you sure to Include ?")) {

                $.ajaxSetup({ cache: false });
                $.ajax({
                    url: "/Media/Media/SubmitToCurrentYear",
                    type: 'GET',
                    data: {
                        ID: PassID
                    },
                    success: function (data) {
                        alert("Included Successfully");
                        var url = '@Url.Action("ListOfJournalistPass", "Media", new { area = "Media", Id = "__id__" })';


                        url = url.replace('amp;', '');
                        url = url.replace('amp;', '');
                        url = url.replace('amp;', '');
                        url = url.replace('amp;', '');
                        url = url.replace('__id__', year);
                        window.location.href = url;
                        cl5.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);

                    }
                });
            }
            else {
                return false;
            }
        }
    }

    function SubmitSelectedToJournalistCurrentYear() {
        var PassIDs = document.getElementById("SelectedChkbxId").value;
        if (PassIDs != "" && PassIDs != null) {

            if (confirm("Are you sure to Include ?")) {

                var year = document.getElementById("Year").value;
                alert(year);
                $.ajaxSetup({ cache: false });
                $.ajax({
                    url: "/Media/Media/SubmitSelectedToCurrentYear",
                    type: 'GET',
                    data: {
                        JIDs: PassIDs
                    },
                    success: function (data) {
                        ShowNotification("success", "Included Successfully.");
                       // alert("Included Successfully");
                        var url = '@Url.Action("ListOfJournalistPass", "Media", new { area = "Media", Id = "__id__" })';


                        url = url.replace('amp;', '');
                        url = url.replace('amp;', '');
                        url = url.replace('amp;', '');
                        url = url.replace('amp;', '');
                        url = url.replace('__id__', year);
                        window.location.href = url;
                        cl5.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);

                    }
                });
            }
            else {
                return false;
            }
        }
        else {
            ShowNotification("error", "Please select a journalist.");
           // alert("Please select a journalist!");
        }
    }

    function checkChange1(id) {
        if (document.getElementById(id).checked) {
            var selectedId = document.getElementById("SelectedChkbxId").value;

            var Requested = document.getElementById("request " + id.substring(6)).value;
            if (Requested == "True") {
                ShowNotification("error", "Journalist already included in current year.");
              //  alert("Journalist already included in current year");
                document.getElementById(id).checked = "";
            }
            else {
                if (selectedId == "") {
                    document.getElementById("SelectedChkbxId").value = id.substring(6);
                }
                else {
                    selectedId = selectedId + "," + id.substring(6);
                    document.getElementById("SelectedChkbxId").value = selectedId;
                }
            }
        }
        else {
            var selectedId = document.getElementById("SelectedChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(6), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(6) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(6), "");
            }
            document.getElementById("SelectedChkbxId").value = newvalue;
        }


    }

    function checkChange(id) {
        if (document.getElementById(id).checked) {
            var selectedId = document.getElementById("SelectedChkbxId").value;
            if (selectedId == "") {
                document.getElementById("SelectedChkbxId").value = id.substring(6);
            }
            else {
                selectedId = selectedId + "," + id.substring(6);
                document.getElementById("SelectedChkbxId").value = selectedId;
            }
        }
        else {
            var selectedId = document.getElementById("SelectedChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(6), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(6) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(6), "");
            }
            document.getElementById("SelectedChkbxId").value = newvalue;
        }


    }

    function SubmitToCurrentYear(PassID) {
        if (confirm("Are you sure to Submit Request ?")) {
            var year = document.getElementById("Year").value;

            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/Media/Media/SubmitPassRequest",
                type: 'GET',
                data: {
                    ID: PassID
                },
                success: function (data) {
                    ShowNotification("success", "Submitted Successfully.");
                    //alert("Submitted Successfully");
                    var url = '@Url.Action("ListOfJournalistPass", "Media", new { area = "Media", Id = "__id__" })';


                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('__id__', year);
                    window.location.href = url;
                    cl5.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);

                }
            });
        }
        else {
            return false;
        }
    }

    function RemoveJournlist(PassID) {
        if (confirm("Are you sure to remove journalist ?")) {
            //   alert(PassID);
            var year = document.getElementById("Year").value;
            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/Media/Media/RemoveJournalistFormCurrentYear",
                type: 'GET',
                data: {
                    Id: PassID
                },
                success: function (data) {
                    var url = '@Url.Action("ListOfJournalistPass", "Media", new { area = "Media", Id = "__id__" })';


                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('__id__', year);
                    window.location.href = url;
                    cl5.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);

                }
            });
            }
            else {
            }
        }

        function SubmitSelectedToCurrentYear() {
            var PassIDs = document.getElementById("SelectedChkbxId").value;
            if (PassIDs != "" && PassIDs != null) {

                if (confirm("Are you sure to Submit Request ?")) {

                    var year = document.getElementById("Year").value;

                    $.ajaxSetup({ cache: false });
                    $.ajax({
                        url: "/Media/Media/SubmitSelectedPassRequest",
                        type: 'GET',
                        data: {
                            JIDs: PassIDs
                        },
                        success: function (data) {
                            ShowNotification("success", "Submitted Successfully.");
                           // alert("Submitted Successfully");
                            var url = '@Url.Action("ListOfJournalistPass", "Media", new { area = "Media", Id = "__id__" })';


                            url = url.replace('amp;', '');
                            url = url.replace('amp;', '');
                            url = url.replace('amp;', '');
                            url = url.replace('amp;', '');
                            url = url.replace('__id__', year);
                            window.location.href = url;
                            cl5.hide();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.status);
                            alert(thrownError);

                        }
                    });
                }
                else {
                    return false;
                }
            }
            else {
                ShowNotification("success", "Please select a journalist!");
                //alert("Please select a journalist!");
            }
        }

        jQuery(function ($) {
            $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('table')
                var off1 = $parent.offset();
                var w1 = $parent.width();

                var off2 = $source.offset();
                //var w2 = $source.width();

                if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
                return 'left';
            }

        })

        //$(document).ready(function () {
        //    GetMediaYearList();
        //});


        //function GetMediaYearList() {
        //    var Year = document.getElementById('Year').value;
        //    $.ajaxSetup({ cache: false });
        //    $.ajax({
        //        url: "/Media/Media/PartialYearList",
        //        type: 'GET',
        //        data: {
        //            Id: Year
        //        },
        //        success: function (data) {
        //            $('#PageContant').html(data);
        //        },
        //        error: function (xhr, ajaxOptions, thrownError) {
        //            alert(xhr.status);
        //            alert(thrownError);
        //        }
        //    });
        //}


</script>


