﻿@{
    ViewBag.Title = "Journalist";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    int count = 0;
}

@Html.Partial("_LeftMenu")

<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Dashboard", "Media")">Home</a>
            </li>

            <li>
                <a href="@Url.Action("JournalistIndex", "Media")">Journalist</a>
            </li>
            <li class="active">List</li>
        </ul>

        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>

    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
            <a href="@Url.Action("CopyPriorAcreditedList", "Media")">
                <button class="btn  btn-sm btn-info">
                    <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                    <span class="bigger-110">Copy Prior List</span>
                </button>
            </a>
            <a href="@Url.Action("CreateNewAcreditedList", "Media")">
                <button class="btn  btn-sm btn-info">
                    <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                    <span class="bigger-110">New List</span>
                </button>
                </a>
        </div>
        <div class="page-header">
            <h1>Year 2014             
            </h1>


        </div>
        <!-- /section:settings.box -->
        <div class="row">
            <div class="col-xs-12">


                <div class="pass-table">

                    <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">

                        <table class="table table-striped table-bordered table-hover dataTable" id="JournalistList" aria-describedby="sample-table-2_info">
                            <thead>
                                <tr role="row">

                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">#</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Name</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Organization</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Phone: activate to sort column ascending">Acreditation Number</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Adhar ID</th>

                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">

                                @for (int i = 1; i < 11; i++)
                                {                                       
                                    <tr>
                                        <td class="center">@i</td>
                                        <td>Ashithosh Mukargee</td>
                                        <td>Amar Ujala</td>
                                        <td>123456</td>
                                        <td>1111222233334444</td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                        <!-- PAGE CONTENT ENDS -->

                    </div>
                </div>

                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                <span class="bigger-100">
                    <span class="blue bolder">eVidhan</span>
                    &nbsp;&nbsp;Application &copy; 2013-2014
                </span>

            </div>

            <!-- /section:basics/footer -->
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>


<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>








