﻿@model SBL.eLegistrator.HouseController.Web.Areas.Media.Models.MediaYearViewModel
@{
    int count = 0;
} 

<!-- #section:settings.box -->
@if(Model.Year!=0)
{
  
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
            <button class="btn  btn-sm btn-info" onclick="AddMediaToyear(@Model.Year)">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                <span class="bigger-110">Create New Journalist</span>
            </button>
        </div>
    
}
        <div class="page-header">
            <h1>Journalist
                                <small>
                                    <i class="ace-icon fa fa-angle-double-right"></i>
                                    Acredited Journalist List    
                                </small>
            </h1>


        </div>
        <!-- /section:settings.box -->
        <div class="row">
            <div class="col-xs-12">
                <div class="table-header">
                    Journalist List
                </div>
                <!-- PAGE CONTENT BEGINS -->
              
                    <div class="pass-table">

                        <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                            @if (Model.ListMediaYearList != null)
                            {
                                if (Model.ListMediaYearList.Count() > 0)
                                {
                    
                                <table class="table table-striped table-bordered table-hover dataTable" id="JournalistList" aria-describedby="sample-table-2_info">
                                    <thead>
                                        <tr role="row">
                                           @* <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">
                                                <label class="position-relative">
                                                    <input type="checkbox" class="ace">
                                                    <span class="lbl"></span>
                                                </label>
                                            </th>*@
                                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">#</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Name</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Organization</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Phone: activate to sort column ascending">Phone</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Acreditation: activate to sort column ascending">Acreditation Number</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Status</th>
                                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">

                                        @foreach (var item in Model.ListMediaYearList)
                                        {
                                            count = count + 1;
                                   
                                            <tr>                                               
                                                <td class="center">
                                                    @count
                                                </td>

                                                <td title="  ">
                                                     
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="hidden-480">
                                                    @if (item.IsActive)
                                                    {
                                                        <span class="label label-sm label-success">Active</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-sm label-danger">Deactive</span>
                                                    }
                                                </td>
                                                <td>
                                                    <div class="hidden-sm hidden-xs action-buttons">
                                                        <a  data-rel="tooltip" class="blue tooltip-info" title="Change Status" id="ChangeStatusLink"  href="@Url.Action("ChangeJournalistStatus", "Media", new { Id = item.JournalistID})">
                                                            <i class="ace-icon fa fa-check-square-o bigger-120"></i>
                                                        </a>
                                                        <a data-rel="tooltip" class="green tooltip-success" title="Edit"  href="@Url.Action("EditJournlist", "Media", new { Id = item.JournalistID })">
                                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                        </a>
                                                        <a data-rel="tooltip" class="red tooltip-error" title="Delete"  href="@Url.Action("DeleteJournlist", "Media", new { Id = item.JournalistID })">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </a>
                                                       @* <a data-original-title="Photo Preview" data-rel="tooltip" class="tooltip-info" image="@item.Photo" title="Photo Preview" onclick="ImagePriview(this);" href="javascript:void(0);" role="button"  data-toggle="modal" >
                                                            <i class="ace-icon fa fa-search-plus bigger-120"></i>
                                                        </a>*@
                                                    </div>

                                                    <div class="hidden-md hidden-lg">
                                                        <div class="inline position-relative">
                                                            <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                                <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                            </button>

                                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                                <li>
                                                                    <a   href="@Url.Action("ChangeJournalistStatus", "Media", new { Id = item.JournalistID })" class="tooltip-info" data-rel="tooltip" title="Change Status">
                                                                        <span class="blue">
                                                                            <i class="ace-icon fa fa-check-square-o bigger-120"></i>
                                                                        </span>
                                                                    </a>
                                                                </li>

                                                                <li>
                                                                    <a  href="@Url.Action("EditJournlist", "Media", new { Id = item.JournalistID })" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                        <span class="green">
                                                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                                        </span>
                                                                    </a>
                                                                </li>

                                                               
                                                              @*  <li>
                                                                    <a data-original-title="Photo Preview" data-rel="tooltip" class="blue tooltip-info" image="@item.Photo"  onclick="ImagePriview(this);" href="javascript:void(0);" role="button"  data-toggle="modal" >
                                                                        <span class="red">
                                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                        </span>
                                                                    </a>
                                                                </li>*@
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-xs-12" id="ButtonGroup">
                                        <button type="submit" value="Add" id="AddButton" class="btn btn-info"><i class="ace-icon glyphicon  glyphicon-plus"></i>Add To Committee</button>
                                    </div>
                                </div>
                                <!-- PAGE CONTENT ENDS -->
                                }
                                else
                                {
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="alert alert-info">
                                            <strong>0 Acredited Journalists</strong><br />
                                            There is no Acredited Journalists

                                        </div>
                                    </div>
                                </div>
                                }
                            }
                        </div>
                    </div>
           
                <!-- /.col -->
            </div>           
            <!-- /.row -->
        </div>
        <!-- /.page-content -->


<script>

    $(document).ready(function () {
        $('#SuccessMessageDiv').hide();
        $('#ButtonGroup').hide();
    });


    function AddMediaToyear(Year) {
        $.ajax({
            url: "/Media/Media/AddMediaToYear",
            type: 'GET',
            data: {
                Year: Year
            },
            success: function (data) {
                $('#PageContant').html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }


    jQuery(function ($) {
        var oTable1 =
        $('#JournalistList ')
        //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        .dataTable({
            "bDestroy": true,
            bAutoWidth: true,
            "aoColumns": [
              { "bSortable": false },
              null, null, null, null, null,
              { "bSortable": false }
            ]
            //,
           
        });





        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })



    //Button shows only if checkbox selected
    $(document).on('click', 'tr input:checkbox', function () {
        var atLeastOneIsChecked = $('#JournalistList :checkbox:checked').length > 0;
        if (atLeastOneIsChecked) {
            $('#ButtonGroup').show();
        }
        else {
            $('#ButtonGroup').hide();
        }

    });


    //For checking all check box
    $(document).on('click', 'th input:checkbox', function () {
        var that = this;
        $(this).closest('table').find('tr > td:first-child input:checkbox')
        .each(function () {
            this.checked = that.checked;
            $(this).closest('tr').toggleClass('selected');
        });
    });



    function ImagePriview(obj) {
        var image = $(obj).attr('image');
        var path = '/Images/Pass/Photo/' + image;
        var modalBody = "<img width='598' height='300' src='" + path + "' />";
        $('#modal-body').attr('style', 'padding:20px;width:300px;height:300px;');
        $('#modal-body').html(modalBody);
        $('#modal').modal('show');
    }


    //Add/Remove process
    var target = document.getElementById("JournalistCommitteeList");
    var loader = new Spinner();
    function OnSuccess(response) {
        loader.stop();
        $('#JournalistCommitteeList').html(response);
    }

    function OnBegin() {
        loader.spin(target);

    }

    $("#ChangeStatusLink , #DeleteLink").on('click', function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        var message = "";
        var buttonlabel = "";
        var buttoncss = "";
        var title = "";
        if ($(this).attr('id') == "ChangeStatusLink") {
            message = "Are you sure want to change the status ?";
            buttonlabel = "Change Status";
            buttoncss = "btn-info";
            title = "Change Status Confirmation"
        }
        else if ($(this).attr('id') == "DeleteLink") {
            message = "Are you sure want to delete ?";
            buttonlabel = "Delete";
            buttoncss = "btn-danger";
            title = "Delete Confirmation"
        }

        bootbox.dialog({
            message: message,
            title: title,
            buttons: {
                success: {
                    label: buttonlabel,
                    className: buttoncss,
                    callback: function () {
                        window.location.href = url;
                    }
                },
                danger: {
                    label: "Cancel",
                    className: "btn",
                    callback: function () {
                        $('.modal-dialog').modal('hide');
                    }
                },

            }
        });
    });

</script>