﻿@model  List<SBL.eLegistrator.HouseController.Web.Areas.Library.Models.ItemSubscriptionViewModel>

<style>
     .ErrorMessage {
        color: red;
        font-weight: bold;
    }
</style>

<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
   @Html.Partial("/Areas/SuperAdmin/Views/Shared/_BreadcrumbsPartial.cshtml")
     <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "ItemSubscription")">@Resources.MasterDataDashboard.Home</a>
            </li>

            <li>
                <a href="@Url.Action("Index", "ItemSubscription")">@Resources.MasterDataDashboard.ItemSubscription</a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.List</li>
        </ul>

    </div>
    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->


        <!-- /section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
            <button class="btn  btn-sm btn-info" onclick="CreateSubItem(0,'Add');">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                <span class="bigger-110">@Resources.MasterDataDashboard.New</span>
            </button>
        </div>
        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.ItemSubscription                           
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.List
                </small>
            </h1>
        </div>
        <div id="Menu">
            <div class="row">
                 <div id="tablecontainer">
                        @{Html.RenderPartial("~/Areas/Library/Views/ItemSubscription/_ItemSubscriptionList.cshtml", Model);}
                    </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@
            </div>
            <!-- /section:basics/footer -->
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>
    <div class="space-6"></div>
</div>

<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#ItemSubscription").addClass("active open");
        $("#ItemSubscriptionSub").addClass("nav-show").css("display", "block");
        $("#ISIndex").addClass("active");
        $("#ItemSubscriptionLinkId").removeClass("fa-comment").addClass("fa-comment-o");

    });
    // Edit Qualification RowCreateSubItem 
   function CreateSubItem(SubsId,Action) {
        $body = $("body");
      
        var Id = SubsId;
        $.ajax({
            type: "POST",
            url: '/ItemSubscription/CreatemItemSubscription',
            data: '{ Id: "' + Id + '",Action: "' + Action + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $body.addClass("loading");
            },
            success: function (result) {
                $('#SubscriptionDiv').empty();
                $('#SubscriptionDiv').append(result);
                $('#CreateSubsCriptionModel').show('modal');
            },
            error: function (error) {
                $('#SubscriptionDiv').empty();
                $('#SubscriptionDiv').append(error.responseText);
                $('#CreateSubsCriptionModel').modal('show');

            },
            complete: function (results) {

                setTimeout(function () {
                    $body.removeClass("loading");
                }, 1000);
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }


   //Update Qualification
   $(document).on('click', '#UpdateItemSubsCription', function (e) {
       debugger;
       $body = $("body");
       $('.ErrorMessage').remove('');
       var IsValid = true;
     
       if ($('#ItemName').val() == '') {
           $('#ItemName').after("<span class='ErrorMessage'>Required</span>");
           IsValid = false;
       }
       else if ($('#ItemType').val() == '') {

           $('#ItemType').after("<span class='ErrorMessage'>Required</span>");

           IsValid = false;
       }
       else if ($('#Language').val() == '') {

           $('#Language').after("<span class='ErrorMessage'>Required</span>");

           IsValid = false;
       }
       else if ($('#Frequancy').val() == '') {

           $('#Frequancy').after("<span class='ErrorMessage'>Required</span>");
           IsValid = false;
       }
      
       else if ($('#Quantity').val() == '') {

           $('#Quantity').after("<span class='ErrorMessage'>Required</span>");

           IsValid = false;
       }
       else if (!$.isNumeric($('#Quantity').val())) {

           $('#Quantity').after("<span class='ErrorMessage'>Numeric Only</span>");

           IsValid = false;
       }
       else if ($('#SubsStartDate').val().trim() != '' && $('#SubsEndDate').val().trim() != '' && $('#SubsStartDate').val() != '' && $('#SubsEndDate').val() != '') {
         
           var StartDate = new Date($('#SubsStartDate').val());
           var EndDate = new Date($('#SubsEndDate').val());
           if (StartDate > EndDate) {
               $('#SubsEndDate').after("<span class='ErrorMessage'>Start Date  must be greater than end date</span>");
               IsValid = false;
           }
       }
       else {

           IsValid = true;
       }


       if (IsValid == true) {

           var QData = $('#SubscriptionItemForm').serialize();
           e.preventDefault();
           $.ajax({
               cache: false,
               async: true,
               type: "POST",
               url: '/ItemSubscription/SavemItemSubscription',
               data: QData,
               beforeSend: function () {
                   $('#CreateSubsCriptionModel').modal('hide');
                   $body.addClass("loading");
               },
               success: function (result) {
                   
                   $('#tablecontainer').empty();
                   $('#tablecontainer').append(result);
               },
               error: function (result) {
                   $('#tablecontainer').empty();
                   $('#tablecontainer').append(result);
               },

               complete: function (result) {
                   setTimeout(function () {
                       $body.removeClass("loading");
                   }, 1000);
                   setTimeout(function () {
                       $('#MsgDiv').slideUp("slow");
                   }, 6000);
               }
           });
       }
   });

   function DeleteItemSubscription(SubsId)
   {
       $body = $("body");
       $.ajax({
           type: "POST",
           url: '/ItemSubscription/DeleteItemSubscription',
           data: '{ Id: "' + SubsId + '"}',
           contentType: "application/json; charset=utf-8",
           dataType: "json",
           beforeSend: function () {
               $body.addClass("loading");
           },
           success: function (result) {
               $('#tablecontainer').empty();
               $('#tablecontainer').append(result);
           },
           error: function (result) {
               $('#tablecontainer').empty();
               $('#tablecontainer').append(result.responseText);
           },
           complete: function (result) {
               setTimeout(function () {
                   $body.removeClass("loading");
               }, 1000);
               setTimeout(function () {
                   $('#MsgDiv').slideUp("slow");
               }, 6000);
           }
       });
   }
</script>


  <!--Create Item Subscription Modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="CreateSubsCriptionModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="SubscriptionModal">Subscription Item</h4>
                </div>
                <form method="post" action="/SchemeSetup/SaveQualification" id="SubscriptionItemForm">
                    <div class="modal-body" >
                        <div id="SubscriptionDiv"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                         <button type="button" id="UpdateItemSubsCription" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

