﻿@model SBL.eLegistrator.HouseController.Web.Areas.PaperLaidDepartment.Models.PassesViewModel
@{
    int count = 0;
}

<!-- #section:settings.box -->

<div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px; display: none">
    <button id="Transferbtn" class="btn  btn-sm btn-info" onclick="TransferPassRequest()" style="display: none">
        <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
        <span class="bigger-110">@Resources.PaperLaidDepartment.LastSessionToCurrentSession</span>
    </button>

    <button id="btnNew" class="btn  btn-sm btn-info" onclick="AddPassRequest()" style="display: none">
        <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
        <span class="bigger-110">@Resources.PaperLaidDepartment.New</span>
    </button>
</div>

<div class="page-header">
    <h1>@Resources.PaperLaidDepartment.EntryPassesForEmp
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            @Resources.PaperLaidDepartment.PassesrequiredforEmployees
        </small>
    </h1>
</div>
<style type="text/css">
    .page-headerFilter {
        margin: 0 0 7px;
        border-bottom: 1px dotted #e2e2e2;
        padding-bottom: 8px;
        padding-top: 0px;
        padding-bottom: 45px;
    }
</style>
<div id='PrintModal' class="hide">
    <div id='ShowPrintPreviewModel' style="text-align: center">
    </div>
</div>
<div class="page-headerFilter">

    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
        <label class="col-sm-4 control-label no-padding-right col-label" for="form-field-11">Department :</label>
        <div class="col-xs-8">

            @Html.DropDownListFor(m => m.DepartmentID, new SelectList(Model.mDepartmentList, "deptId", "deptname"), "-- Select Department ( Filter ) --", new { @class = "col-xs-6 form-control col-drop", @tabindex = "3" })
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
        <label class="col-sm-4 control-label no-padding-right col-label" for="form-field-11">@Resources.PublicPasses.PassType :</label>
        <div class="col-xs-8">
            @Html.DropDownListFor(m => m.PassCategoryID, new SelectList(Model.ListPassCategory, "PassCategoryID", "Name"), "-- Select Pass Type ( Filter ) --", new { @class = "col-xs-6 form-control col-drop", @tabindex = "3" })
        </div>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <input type="button" id="" class="btn  btn-sm btn-info" value="Go!" onclick="FilterPassesAndDepartment()" />
    </div>
    @*@Html.Partial("_PassTypeFilterView", Model)*@
</div>
<!-- /section:settings.box -->
<div class="row">
    <div class="col-xs-12">
        <div class="table-header">
            @Resources.PaperLaidDepartment.EmployeeList
        </div>

        <div id='PhotoModel' class="hide">
            <div id='ShowPhotoModel' style="text-align: center">
            </div>
        </div>

        <!-- PAGE CONTENT BEGINS -->
        <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />

        <div class="pass-table">

            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                @if (Model.ListPasses != null)
                {
                    if (Model.ListPasses.Count() > 0)
                    {
                    
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">
                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">#</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">PassCode</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">RequestID</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.PaperLaidDepartment.Name</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Recomended By: activate to sort column ascending">@Resources.PaperLaidDepartment.Age</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Request Date: activate to sort column ascending" style="width: 65px;">AadharID</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Allowed Date: activate to sort column ascending" style="width: 150px">@Resources.PaperLaidDepartment.MobileNumber</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">@Resources.PaperLaidDepartment.Department</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">@Resources.PaperLaidDepartment.PaperCategoryType</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">ApprovedDate</th>

                                <th class="sorting_disabled" id="HideThForSession" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.ListPasses)
                            {
                                count = count + 1;
                                string style = (count % 2 == 0) ? "odd" : "even";

                                var trID = @item.PassID;
                                
                                <tr class="@style" id="@trID">
                                    <td>
                                        @if (Model.ValidateSessionID == Model.SessionCode)
                                        {
                                            <input id="check @item.PassID" type="checkbox" class="checkstatus"  />@*
                                            if (item.PassCategoryID == 15)
                                            {
                                        
                                            <input id="" type="checkbox" style="display:none"   />
                                        
                                            }
                                            else if (item.PassCategoryID == 16)
                                            {
                                        
                                            <input id="" type="checkbox" style="display:none"  />
                                       
										 
                                            }
                                            else
                                            {

                                            <input id="check @item.PassID" type="checkbox" class="checkstatus"  />
                                        
                                            }*@
                                        }
                                        else
                                        {
                                            <input id="" type="checkbox" onchange="checkChange(this.id)" disabled="disabled" /> 

                                        }
                                    </td>
                                    <td class=" ">@count</td>
                                    <td class=" ">@item.PassCode</td>
                                    <td class=" ">@item.RequestdID</td>
                                    <td class="">@item.Name
                                        <br />
                                        @item.FatherName</td>
                                    <td class=" ">@item.Age - @item.Gender </td>
                                    <td class="hidden-480 ">@item.AadharID</td>
                                    <td class=" ">@item.MobileNo</td>
                                    <td class=" ">@item.OrganizationName -- @item.Designation</td>
                                    <td class=" ">@item.PassCategoryName</td>
                                    <td class=" ">@(Convert.ToDateTime(item.ApprovedDate).ToString("dd-MM-yyyy"))</td>
                                    @Html.Hidden("SeeionCodeTD", Model.ValidateSessionID)


                                    <td id="" class="HideTdBaseOnSession">
                                        @if (Model.ValidateSessionID == Model.SessionCode)
                                        {
                                            <div class="hidden-sm hidden-xs action-buttons div2" id="HideCurrentSession">

                                                <a title="View Full Details" onclick="FullMasterPassDetails(@item.PassID)" href="javascript:void(0);" class="green">
                                                    <i class="ace-icon fa fa-eye bigger-130"></i>
                                                </a>
                                                <a image="@item.Photo" title="Photo Preview" onclick="ImagePriview(this);" href="javascript:void(0);" role="button"  data-toggle="modal" >
                                                    <i class="ace-icon glyphicon glyphicon-picture bigger-130"></i>
                                                </a>
                                            </div>
                                        }
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-xs-1" id="ButtonGroup">
                            @if (Model.IsDepartmentPrint != "False")
                            {
                                <button type="submit" value="Add" id="PrintButton" onclick="PrintSelectedPasses()" class="btn btn-info"><i class="ace-icon glyphicon  glyphicon-print"></i>@Resources.PublicPasses.ActionPrint</button>
                            }

                        </div>

                    </div>
                    <!-- PAGE CONTENT ENDS -->
                    }
                    else
                    {
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-info">
                                <strong>0 @Resources.PaperLaidDepartment.Employee</strong><br />
                                @Resources.PaperLaidDepartment.ThereisnoEmployeeintheList

                            </div>
                        </div>
                    </div>
                    }
                }
                   @if (Model.IsDepartmentPrint != "False")
                            {
                <div class="row">
                    <table class="table table-striped table-bordered table-hover dataTable" border="1">
                            <tr>
                                <td colspan="4" style="text-align: center">
                                    <label><b>Print Paper Color:</b></label></td>
                            </tr>
                            <tr>
                                <td text-align: center style="width: 25%">
                                    <label>Officer Gallery</label></td>

                                <td text-align: center style="width: 25%">
                                    <label>Dist. Visitors Gallery</label></td>


                                <td text-align: center style="width: 25%">
                                    <label>Establishment Pass</label></td>



                                <td text-align: center style="width: 25%">
                                    <label>Official Gallery- After Q. Hour</label></td>
                            </tr>
                            <tr>

                                <td>
                                    <img src="~/Content/PassCategoryPics/Officer%20Gallery.jpg" style="width:100%"/>
                                </td>

                                <td>
                                    <img src="~/Content/PassCategoryPics/Dist.Vistors%20Gallery.jpg" style="width:100%"/>
                                </td>

                                <td >
                                    <img src="~/Content/PassCategoryPics/Establishment%20Pass.jpg" style="width:100%"/>
                                </td>

                                <td>
                                    <img src="~/Content/PassCategoryPics/Official%20Gallery-%20After%20Q.%20Hour.jpg" style="width:100%" />
                                </td>
                            </tr>
                              <tr>
                                <td text-align: center style="width: 25%">
                                    <label>Duty Staff</label></td>

                                <td text-align: center style="width: 25%">
                                    <label>Security Staff</label></td>


                                <td text-align: center style="width: 25%">
                                    <label>Watch & Ward</label></td>
                                  
                                <td text-align: center style="width: 25%">
                                    <label>Casual Pass - Press Gallery</label></td>

                            </tr>
                            <tr>

                                <td >
                                    <img src="~/Content/PassCategoryPics/Duty%20Staff.jpg" style="width:100%"/>                                   
                                </td>

                                <td>
                                    <img src="~/Content/PassCategoryPics/Security%20Staff.jpg" style="width:100%"/>                                    
                                </td>

                                <td >
                                    <img src="~/Content/PassCategoryPics/WatchNWard.jpg" style="width:100%"/>                                    
                                </td>

                                 <td >
                                     <img src="~/Content/PassCategoryPics/Casual%20Pass%20-%20Press%20Gallery.jpg" style="width:100%"/>                     
                                </td>
                            </tr>
                        </table>
                </div>
                 }
            </div>
        </div>

        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<div id='fullDetailsModel' class="hide">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>
<div id="dialog-confirmBox" class="hide">
    <p>Are you sure to Send ?</p>
</div>
<div id='printPassModel' class="hide">
   <br />
    As this pass Type is
    <b><label id="EstType"></label></b>,
    it will be valid ony if print is taken on the paper with background colour as mentioned in the following sample.<br />
    <div id="sampleColourDiv" style="height: 250px; width: 100%">       
        @*<img src="~" style="height: 250px; width: 100%"/>*@
        <img id="imgDistVistorGallory" src="~/Content/PassCategoryPics/Dist.Vistors%20Gallery.jpg" style="display:none;" />
        <img id="imgDutyStaff" src="~/Content/PassCategoryPics/Duty%20Staff.jpg" style="display:none;"/>
        <img id="imgEstalishmentPass" src="~/Content/PassCategoryPics/Establishment%20Pass.jpg" style="display:none;"/>
        <img id="imgOfficerGallery" src="~/Content/PassCategoryPics/Officer%20Gallery.jpg" style="display:none;"/>
        <img id="imgOfficerGallery_q" src="~/Content/PassCategoryPics/Official%20Gallery-%20After%20Q.%20Hour.jpg" style="display:none;"/>
        <img id="imgSecurityStaff" src="~/Content/PassCategoryPics/Security%20Staff.jpg" style="display:none;"/>
        <img id="imgWatchNWard" src="~/Content/PassCategoryPics/WatchNWard.jpg" style="display:none;"/>
        <img id="imgCasualPass" src="~/Content/PassCategoryPics/Casual%20Pass%20-%20Press%20Gallery.jpg" style="display:none;"/>
    </div>
</div>
@*@Html.Partial("_ConfirmationBox")*@
<!-- /.page-content -->
<!-- page specific plugin styles -->
<script type="text/javascript" src="/Scripts/jquery-1.7.min.js"></script>
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>
<script src="~/assets/js/CommonNotify.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<script type="text/javascript">

    $(document).ready(function () {


        var SessionDropDownVal = $("#DdlSession").val();

        $.ajax({
            url: "/PaperLaidMinister/PassRequestMinister/GetSession",
            type: 'GET',
            success: function (data) {

                if (data != SessionDropDownVal) {

                    $("#Transferbtn").show();
                    $("#btnNew").hide();
                    $(".HideTdBaseOnSession").hide();
                    $("#HideThForSession").hide();
                    $("#AddButton").hide();
                    return false;
                }
                else {

                    $("#Transferbtn").hide();
                    $("#HideThForSession").show();
                    $(".HideTdBaseOnSession").show();
                    $("#btnNew").show();

                    return false;
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
                cl5.hide();
            }
        });

    });
    function CheckFunction() {
        var SessionTdValue = $("#SeeionCodeTD").val();
        var SessionDropDownVal = $("#DdlSession").val();

        if (SessionTdValue != SessionDropDownVal) {
            $("#HideThForSession").hide();
            $(".HideTdBaseOnSession").hide();
        }
        else {
            $(".HideTdBaseOnSession").show();
            $("#HideThForSession").show();
        }

    }

</script>
<script>

    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
              { "bSortable": false },
              null, null, null, null, null, null, null, null, null, { "bSortable": false },
              { "bSortable": false }
            ]
        });
    });

    function FullMasterPassDetails(PassID) {
        var pathurl = '@Url.Action("FullMasterPassDetails", "PassRequestMinister")';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                Id: PassID
            },
            success: function (data) {

                $('#ShowfullDetailsModel').html("");
                $('#ShowfullDetailsModel').html(data);

                var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-eye green'></i> Full Details</h4></div>",
                    width: 600,
                    title_html: true,
                    buttons: [
                        {
                            text: "OK",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

            }
        });
    }
    function CheckPassID(PassIDs, SessionDate) {
        if (SessionDate == "") {
            ShowNotification("error", "Please Session Date Update First !!!.....");
            return false;
        }
        else {

            var selectedPassId = $("#SelectedChkbxId").val();
            if (selectedPassId == "") {

                $("#SelectedChkbxId").val(PassIDs);
            }
            else {

                selectedPassId = selectedPassId + "," + PassIDs;
                $("#SelectedChkbxId").val(selectedPassId);
            }

        }
    }

    function checkChange(id) {
        if (document.getElementById(id).checked) {
            var selectedId = document.getElementById("SelectedChkbxId").value;
            if (selectedId == "") {
                document.getElementById("SelectedChkbxId").value = id.substring(6);
            }
            else {
                selectedId = selectedId + "," + id.substring(6);
                document.getElementById("SelectedChkbxId").value = selectedId;
            }
        }
        else {
            var selectedId = document.getElementById("SelectedChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(6), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(6) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(6), "");
            }
            document.getElementById("SelectedChkbxId").value = newvalue;
        }
    }

    function checkItems() {
        document.getElementById("SelectedChkbxId").value = "";
        var passidsString = "";
        $(".checkstatus").each(function (id) {
            var obj = this;
            var id = $(obj).attr('id');
            // alert("mode : " + mode + " id : " + id + " allowedPassType : " + allowedPassType);
            if (document.getElementById(id).checked) {
                passidsString += "," + id.substring(6);
            }
        });
        if (passidsString != "") {

            passidsString = passidsString.substring(1);

            document.getElementById("SelectedChkbxId").value = passidsString;
        }

    }

    function PrintSelectedPasses() {
        checkItems();
        var PassIDs = document.getElementById("SelectedChkbxId").value;
        // alert(PassIDs);

        var PassCategoryText = $("#PassCategoryID :selected").text();
        //alert(PassCategoryText);
        $("#EstType").text("");
        $("#EstType").text(PassCategoryText);
        //alert(PassCategoryText);
        if (PassCategoryText == "Officer Gallery") {
            $("#imgOfficerGallery").css("display", "block");
        } else if (PassCategoryText == "Dist. Visitors Gallery") {
            $("#imgDistVistorGallory").show();
        } else if (PassCategoryText == "Establishment Pass") {
            $("#imgEstalishmentPass").show();
        } else if (PassCategoryText == "Official Gallery- After Q. Hour") {
            $("#imgOfficerGallery_q").show();
        } else if (PassCategoryText == "Security Staff") {
            $("#imgSecurityStaff").show();
        } else if (PassCategoryText == "Watch & ward Staff") {
            $("#imgWatchNWard").show();
        } else if (PassCategoryText == "Duty Staff") {
            $("#imgDutyStaff").show();
        } else if (PassCategoryText == "Casual Pass - Press Gallery") {
            $("#imgCasualPass").show();
        }

        if (PassIDs != "" && PassIDs != null) {
            var dialog = $("#printPassModel").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon glyphicon glyphicon-print bigger-130 red'></i> Print Selected Pass/s</h4></div>",
                width: 500,
                title_html: true,
                buttons: [
					{
					    text: "OK",
					    "class": "btn btn-primary btn-xs",
					    click: function () {
					        $(this).dialog("close");

					        $.ajaxSetup({ cache: false });
					        var pathurl = '@Url.Action("PrintSelectedMasterPass", "PassRequestMinister")';

					        $.ajax({
					            url: pathurl,
					            type: 'GET',
					            data: {
					                PassIDs: PassIDs
					            },
					            success: function (data) {
					                $('#ShowPrintPreviewModel').html("");
					                $('#ShowPrintPreviewModel').html(data);

					                var dialog = $("#PrintModal").removeClass('hide').dialog({
					                    resizable: false,
					                    modal: true,
					                    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon glyphicon glyphicon-print bigger-130 red'></i> Print Passes</h4></div>",
					                    width: 600,
					                    title_html: true,
					                    buttons: [
											{
											    text: "OK",
											    "class": "btn btn-primary btn-xs",
											    click: function () {
											        $(this).dialog("close");
											    }
											}
					                    ]
					                });
					                document.getElementById("SelectedChkbxId").value = null;
					                document.getElementById("SelectedChkbxId").value = "";
					            },
					            error: function (xhr, ajaxOptions, thrownError) {
					                alert(xhr.status);
					                alert(thrownError);
					            }
					        });
					    }
					},
				{
				    text: "Cancel",
				    "class": "btn btn-primary btn-xs",
				    click: function () {
				        $(this).dialog("close");
				    }
				}
                ]
            });

            }
            else {
                ShowNotification("error", "Please Select passes to print first !!!!.....");
            //alert("Please Select passes to print first!");
            }
        }

        function ImagePriview(obj) {
            var image = $(obj).attr('image');
            var modalBody = "<img style='width:180px;height:240px;' src='" + image + "' />";
            $('#ShowPhotoModel').html("");
            $('#ShowPhotoModel').html(modalBody);
            var dialog = $("#PhotoModel").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-check'></i>Photo</h4></div>",
                width: 260,
                title_html: true,
                buttons: [
                    {
                        text: "OK",
                        "class": "btn btn-primary btn-xs",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        }

        function FilterPassesAndDepartment() {
            var DepartmentCatID = "";
            var PassCategoryID = 0;
            var Status = 0;
            Status = $("#Status").val();
            DepartmentCatID = $("#DepartmentID").val();
            PassCategoryID = $("#PassCategoryID").val();

            var PassCategoryText = $("#PassCategoryID :selected").text();
            //alert(PassCategoryText);
            $("#EstType").text("");
            $("#EstType").text(PassCategoryText);
            //alert(PassCategoryText);
            if (PassCategoryText == "-- Select Pass Type ( Filter ) --") {
                ShowNotification("error", "Please select the Pass Type");
                //alert("Please select the Pass Type");
                return false;
            }

            var cl5 = new CanvasLoader('canvasloader-container1');
            cl5.show();
            var pathurl = '@Url.Action("PartialPassApprovedList", "PassRequestMinister", new { @area = "PaperLaidMinister" })';

            $.ajax({
                url: pathurl,
                type: 'GET',
                data: {
                    Status: 2,
                    PassCategoryID: PassCategoryID,
                    DepartmentCatID: DepartmentCatID,
                },
                cache: false,
                success: function (data) {
                    document.getElementById("innerDiv").style.display = "none";
                    document.getElementById("MainDiveTwoTire").style.display = "block";
                    $("#outerDiv").html("");
                    $("#outerDiv").hide();
                    $("#SuccessDiv").hide();
                    $("#divDataContainer").empty();
                    $("#RightSidebar").empty();
                    $("#divDataContainerTwoTire").empty();
                    $("#divDataContainerTwoTire").html(data);
                    ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp");
                    ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");
                    cl5.hide();
                }
            });

        }
</script>
