﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV

@{   
    int count1 = 0;    
}
<script src="~/Scripts/tinymce/Sorting/Sorting.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>

<style>
    .dot {
  height: 10px;
  width: 10px;
  background-color: #52c60a;
  border-radius: 50%;
  display: inline-block;
}
* {box-sizing: border-box}
/*body {font-family: "Lato", sans-serif;}*/

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 100%;
    height: 209px;
    margin-left: 2px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 11px 5px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 98%;
    border-left: none;
    height: auto;
    margin-left: 13px;
}
</style>
<style>
    .CellWithComment {
    position:relative;
    }
    .CellComment {
   display:none;
   position:absolute;
   z-index:100;
   border:1px;
   background-color:white;
   border-style:solid;
   border-width:1px;
   border-color:black;
   padding:3px;
   color:black;
   top:27px;
   left:20px;
   width:210px;
    
    }
    .CellWithComment:hover span.CellComment {
        display: block;
    }
</style>
<style>

	.DdlClass {
		width: 90%;
	}

	.txtClass {
		width: 90%;
	}
</style>
<style>
    /* CSS from widget.grouping.css (added v2.28.4) */
tr.group-header td {
  background: #eee;
}
.group-name {
  text-transform: uppercase;
  font-weight: bold;
}
.group-count {
  color: #999;
}
.group-hidden {
  display: none;
}
.group-header, .group-header td {
  user-select: none;
  -moz-user-select: none;
}
/* collapsed arrow */
tr.group-header td i {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid #888;
  border-right: 4px solid #888;
  border-left: 4px solid transparent;
  margin-right: 7px;
  user-select: none;
  -moz-user-select: none;
}
tr.group-header.collapsed td i {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #888;
  border-right: 0;
  margin-right: 10px;
}
</style>
<style>
    .dataTable > thead > tr > th.sorting_desc, .dataTable > thead > tr > th.sorting_asc {
        background-image: -webkit-linear-gradient(top, #14699c 0, #14699c 100%);
        background-image: linear-gradient(to bottom, #14699c 0, #14699c 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeff3f8', endColorstr='#ffe3e7ed', GradientType=0);
    }
</style>

<div id="widgetdiv" class=".col-xs-12">
         <div class=".col-xs-12">
         <div class="widget-box sblFullScreen" style="margin: 18px 103px; float:left">
		 <div class="widget-header widget-header-flat">
         <h4 class="widget-title">List of Business Papers</h4>		  
         <div class="widget-toolbar" style="width:40px;">			
         <button type="button" id="Closee" style="width: 42px;height: 40px;margin-left: 68px;" value="close"  class="btn btn-xs btn-danger close" data-dismiss="modal" >&times;</button>
         </div>
		 </div>
         @Html.AntiForgeryToken()
         <div>
		 <div class="widget-body">
			<div class="widget-main no-padding-right no-padding-left" style="background-color:#eff3f8">                
				<div class="profile-user-info profile-user-info-striped">
					<div class="profile-info-row">
					</div>
                    <div class=""></div>
<div class="profile-info-row">
 <div style="vertical-align: top;text-align: left; width:12%;" class="profile-info-name">
     <br />
                                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <label><span>Total Count</span></label><br />

  <div class="w3-sidebar w3-bar-block w3-black w3-card " style="position: inherit;">
@*  <button style="border:outset" value="1" class="w3-bar-item w3-button tablink w3-red" onclick="ShowSummary()">Summary</button>*@
  <button style="border:outset" value="1" class="w3-bar-item w3-button tablink w3-red" onclick="openLink(event, '1')">Summary</button>
  <button style="border:outset" value="4" class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Notices')" >Notices<span id="sCountLeft" style="margin-left: 10px;" class="badge badge-success tooltip-error">   @Model.NoticeCount</span></button>
  <button style="border:outset" value="5" class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Bills')">Bills<span id="sCountLeft2" style="margin-left: 8px;" class="badge badge-success tooltip-error">@Model.BillsCount</span></button>
  <button style="border:outset" value="0" class="w3-bar-item w3-button tablink" onclick="openLink(event, 'OtherPapers')" >Papers to be laid<span id="sCountLeft3" style="margin-left: 8px;" class="badge badge-success tooltip-error">@Model.OtherPapersCount</span></button>
  <button style="border:outset" value="8" class="w3-bar-item w3-button tablink" onclick="openLink(event, 'CommitteeReports')">Committee Reports<span id="sCountLeft4" style="margin-left: 8px;" class="badge badge-success tooltip-error">@Model.CommitteeRepCount</span></button>
  </div>

   
 </div>

<div id="Radio" class="btn btn-primary btn-primary"  style="border: outset; padding-bottom: 8px; width: 1097px;">
     
<table>    
<tr>       
<td style="margin-left:12px;">
<label style="font-weight: bold;">@Model.AssemblyId<label style="font-weight: bold;">th Legislative Assembly,
</label>@Model.SessionId<label style="font-weight: bold";>th Session</label></label>
</td>
<td>
<label class="mycontainer" style="color:#f9f9f9;margin-left: 595px;font-weight: bold;">Pending
  <input type="radio" checked="checked" onchange="GetListBySelectedId()" name="radio" id="Pending" value="Pending">
  <span class="checkmark"></span>
</label>
<label class="mycontainer" style="color:#f9f9f9;font-weight: bold;">Laying
  <input type="radio" name="radio" onchange="GetListBySelectedId()" id="ForLaying" value="ForLaying">
  <span class="checkmark"></span>
</label>
<label class="mycontainer" style="color:#f9f9f9;font-weight: bold;">Laid
  <input type="radio" name="radio" onchange="GetListBySelectedId()" id="Listed" value="Listed">
  <span class="checkmark"></span>
</label>
</td>
</tr>
</table>
  
</div>
<div id="Summary" class="w3-container city w3-animate-top " >
 
 <div class="summary_pass-table">
  <div role="grid" class="dataTables_wrapper form-inline" id="samp" style="width:1097px">   
  <div class="table-header"></div>                    
  <table class="table table-striped table-bordered " id="summarytable" style="width: 1088px;padding-left: -45px;margin-left: -11px;border: groove;">
  <thead>
  <tr style="background-color: #2874A6;color:white">
  <th style="width:5%;text-align:center;background-color: #2874A6;font-size: 14px;color:white">#</th>
  <th style="width:20%;text-align:center;background-color: #2874A6;font-size: 14px;color:white">Type</th>
  <th style="width:12%;text-align:center;background-color: #2874A6;font-size: 14px;color:white">Total</th>
  <th style="width:12%;text-align:center;background-color: #2874A6;font-size: 14px;color:white">Pending</th>
  <th style="width:12%;text-align:center;background-color: #2874A6;font-size: 14px;color:white">Laying</th>
  <th style="width:12%;text-align:center;background-color: #2874A6;font-size: 14px;color:white">Laid</th>
  </tr>
  </thead>
        <tbody>
               <tr class="success">
                       <td style="font-weight:bold;font-size: 14px;">1.</td>
                       <td style="font-weight:bold;font-size: 14px;">Notices</td>
                       <td><span style="margin-left: 10px;text-align:center;" class="badge badge-success tooltip-error">@Model.NoticeCount</span></td>
                       <td><span style="margin-left: 10px;text-align:center;" class="badge badge-success tooltip-error">@Model.NoticePendingCount</span></td>
                       <td><span style="margin-left: 10px;text-align:center;" class="badge badge-success tooltip-error">@Model.NoticeDraftCount</span></td>
                       <td><span style="margin-left: 10px;text-align:center;" class="badge badge-success tooltip-error">@Model.NoticeLaidCount</span></td>
               </tr>
               <tr class="info">
                       <td style="font-weight:bold;font-size: 14px;">2.</td>
                       <td style="font-weight:bold;font-size: 14px;">Bills</td>
                       <td><span style="margin-left: 10px;text-align:center;" class="badge badge-warning tooltip-error">@Model.BillsCount</span></td>
                       <td><span style="margin-left: 10px;text-align:center;" class="badge badge-warning tooltip-error">@Model.BillsPendingToLayCount</span></td>
                       <td><span style="margin-left: 10px;text-align:center;" class="badge badge-warning tooltip-error">@Model.BillsForLayingCount</span></td>
                       <td><span style="margin-left: 10px;text-align:center;" class="badge badge-warning tooltip-error">@Model.BillsLaidCount</span></td>
               </tr>
               <tr class="success">
                       <td style="font-weight:bold;font-size: 14px;">3.</td>
                       <td style="font-weight:bold;font-size: 14px;">Papers to be Laid</td>
                       <td><span style="margin-left: 10px;text-align:center;" class="badge badge-info tooltip-error">@Model.OtherPapersCount</span></td>
                       <td><span style="margin-left: 10px;text-align:center;" class="badge badge-info tooltip-error">@Model.OtherPapersPendingToLayCount</span></td>
                       <td><span style="margin-left: 10px;text-align:center;" class="badge badge-info tooltip-error">@Model.OtherPapersForLayingCount</span></td>
                       <td><span style="margin-left: 10px;text-align:center;" class="badge badge-info tooltip-error">@Model.OtherPapersLaidCount</span></td>
                </tr>
                <tr class="info">
                       <td style="font-weight:bold;font-size: 14px;">4.</td>
                       <td style="font-weight:bold;font-size: 14px;">Committee Reports</td>
                       <td><span style="margin-left: 10px;text-align:center;" class="badge badge-danger tooltip-error">@Model.CommitteeRepCount</span></td>
                       <td><span style="margin-left: 10px;text-align:center;" class="badge badge-danger tooltip-error">@Model.CommitteeReportsPendingToLayCount</span></td>
                       <td><span style="margin-left: 10px;text-align:center;" class="badge badge-danger tooltip-error">@Model.CommitteeReportsForLayingCount</span></td>
                       <td><span style="margin-left: 10px;text-align:center;" class="badge badge-danger tooltip-error">@Model.CommitteeReportsLaidCount</span></td>
                </tr>
       </tbody>
  </table>       
  </div>        
  </div> 
</div>

<div id="Notices" class="w3-container city w3-animate-top" >
   
</div>
<div id="Bills" class="w3-container city w3-animate-top" >
   
</div>
<div id="OtherPapers" class="w3-container city w3-animate-top " >

</div>  
<div id="CommitteeReports" class="w3-container city w3-animate-top">

</div>                   
</div></div></div></div></div></div></div>
<div class=".col-xs-12"> </div></div>
<style>
.mycontainer {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    /*margin-left:130px;*/
   
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.mycontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.mycontainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.mycontainer input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.mycontainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.mycontainer .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

    #ui-datepicker-div {
    width: 19em;
   
}
    .myclass {
        border-bottom-width: 2px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background: #b1b9ec33;
        
    }
    .mydivclass {
    
    /* border-radius: 2px; */
    border-spacing: -46px;
    border-style: double;
    border-bottom-left-radius: -3px;
    background-color: #f3f3f3;
    border-bottom-color:  black;
    

    }
 
</style>
<link href="~/assets/css/w3.css" rel="stylesheet" />
<script>
    function ViewPapers() {
        
        var ConcernedEventId = 5;
        x = "a";
        $("#loader-wrapper").show();
        if ($('#ConcernedEventId').val() == "0" || $('#ConcernedEventId').val() == "Select") {
            var message = '@Resources.LOB.PleaseSelectConcernedEventId';
        alert(message);
    }
    else {

        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/BusinessWork/BusinessWork/PartialViewPapers",
            type: 'GET',
            data: {
                TextLOB: x
                //    ConcernedEventId: ConcernedEventId
            },
            success: function (data) {
                //alert("Sucess");

                $("#fullDetailsModel").modal({          // wire up the actual modal functionality and show the dialog
                    "backdrop": "1.5",
                    "keyboard": true,
                    "show": true                     // ensure the modal is shown immediately
                });

                $('#fullDetailsModel').show();
                $('#ShowfullDetailsModel').show();
                $('#PaperGRid').show();
                $('#ShowfullDetailsModel').html("");
                $('#ShowfullDetailsModel').html(data);
                $("#loader-wrapper").hide();
            }
        });
        // cl.hide();

    }
}</script>
<script>
    function Save() {
        var array = []
        var checkboxes = document.querySelectorAll('input[type=checkbox]')
        var Status;
        for (var i = 0; i < checkboxes.length; i++) {
          
           //// alert(checkboxes[i].value);
            var a = checkboxes[i].value;  
            if (a === "") {
            }
            else
            {                
                var splitnumber = a.split("/");
                var r = splitnumber[2];
                r = r.replace(/^0+/, '');
                var NNumber = splitnumber[0] + '/' + splitnumber[1] + '/' + r;
                if (document.getElementById(a).checked) {
                    Status = "True";                    
                }
                else {
                    Status = "False";                    
                }
                var SStudent = { NoticeNumber: NNumber, DataStatus: Status }
                array.push(SStudent)
            }
            
        }
        $.ajax({
            url: '@Url.Action("SaveResult", "BusinessWork")', //
               dataType: "html",
               data: JSON.stringify(array),
               type: "POST",
               contentType: "application/json; charset=utf-8",
               success: function (result) {
                   //alert(result);
                   alert("Successfully Saved");
                   //ViewPapers();
                   GetListBySelectedId();
                   //GetLOB();
                  // $("#loader-wrapper").hide();

               },
               error: function (xhr) {
                   alert("Problem In saving Data, Please Try Again");
               }
           });
    }
    function ShowSummary() {

        $("#loader-wrapper").show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/BusinessWork/BusinessWork/ShowSummary",
            type: 'GET',
            data: {
                  },
            success: function (data) {
                //alert(data);
            
                $('#bootstrapDialog').html(data);
                $('#bootstrapDialog').modal('show');
                //$('#modal').html(data);
                //$('#modal').modal('show');
                
                
              
            }
        });
        $("#loader-wrapper").hide();
    }
    function openLink(evt, animName) {
       // alert(evt);
        
        
      var i, x, tablinks;
      x = document.getElementsByClassName("city");
   
     for (i = 0; i < x.length; i++) {
        
          x[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablink");
    //  alert(tablinks);
      for (i = 0; i < 5; i++) {
         
         
          tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
      }
     
      
      evt.currentTarget.className += " w3-red";
      if (animName == 1) {
          ViewPapers();
      }
      else {
          document.getElementById(animName).style.display = "block";
          GetListBySelectedId();
      }
        //document.getElementById("defaultOpen").click();
      //document.getElementsByClassName('tablinks')[0].click();
  }


</script>
<script>
    $('#summarytable').DataTable({
    //  "sorting": true, // false to disable sorting (or any other option)

    //"bPaginate": true,
    //"bInfo": false,
    //"bFilter": true,
    //"bLengthChange": false,
    //<'col-sm-4'f>
    sDom: "<'row'<'col-sm-3'l><'col-sm-9'p><'col-sm-3'i><'col-sm-9'f>>" +
"<'row'<'col-sm-12'tr>>"
+ "<'row'<'col-sm-5'i><'col-sm-7'p>>" ,
    //"sDom": '<"top"i>rt<"bottom"flp><"clear">',
    //"sDom": '<"top"iflp<"clear">>rt<"bottom"iflp<"clear">>'


    "bSortClasses": false,

});</script>    
 

<script>
    function ShowNoticeDetails(PaperId) {

        //  alert(PaperId);
        //$("#fullDetailsModel").hide();
        //$("#loginModal").modal('fade');

        //$("#fullDetailsModel").modal('show');

        $("#loader-wrapper").show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/BusinessWork/BusinessWork/GetNoticeDetailsById",
            type: 'GET',
            data: {
                NoticeId: PaperId,
            },
            success: function (data) {
                $('#bootstrapDialog').html(data);
                $('#bootstrapDialog').modal('show');
            }
        });
        $("#loader-wrapper").hide();




    }
    $("#btnHideModal").click(function () {
        // alert("Close");
        $("#bootstrapDialog").hide();
        $('#bootstrapDialog').modal('hide');
    });
</script>

@*<script type="text/javascript">
    $(document).ready(function () {
        $('#sample-table-22').dataTable({
            sDom: "<'row'<'col-sm-3'l><'col-sm-9'p><'col-sm-3'i><'col-sm-9'f>>" +
                  "<'row'<'col-sm-12'tr>>"
                + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            "aoColumnDefs": [

                { "bSortable": true, "aTargets": ["action"] },
                { "sSortDataType": "dom-checkbox", "aTargets": ["sort"] }
            ],
            "aaSorting": [
                //[0, "desc"]
                 [0, "asc"]
            ]
        });

    });


</script>*@


<script>
//    $(document).ready(function () {
//        $('#sample-table-2').DataTable({
//            //  "sorting": true, // false to disable sorting (or any other option)

//            //"bPaginate": true,
//            ////"bInfo": false,
//            //"bFilter": false,
//            //"bLengthChange": false

//            sDom: "<'row'<'col-sm-3'l><'col-sm-9'p><'col-sm-3'i><'col-sm-9'f>>" +
//"<'row'<'col-sm-12'tr>>"
//+ "<'row'<'col-sm-5'i><'col-sm-7'p>>",
//            //"bAutoWidth": false

//        });
//        // $('.dataTables_length').addClass('bs-select');
//    });

  </script>
@*<script type="text/javascript">
    $(function () {
        $(".nav_link").click(function () {
            //Custom attribute data_id is used to store the ID
            //Get the ID
            var id = $(this).attr("id");
            $.ajax({
                url: '@Url.Action("DisplayEmployees", "MyTest")',
                type: "post",
                dataType: "html",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ id: id }), //add parameter
                success: function (data) {
                    //success
                    $('#ProductsDiv' + id).html(data); //populate the tab content.
                },
                error: function () {
                    alert("error");
                }
            });
        });
    });
</script>*@
<script type="text/javascript">
    function GetListBySelectedId() {
        // alert("here");

        if (document.getElementById('Pending').checked) {
            rate_value = document.getElementById('Pending').value;
         //   alert(rate_value);
        }
        if (document.getElementById('ForLaying').checked) {
            rate_value = document.getElementById('ForLaying').value;
            //  alert(rate_value);
        }
        if (document.getElementById('Listed').checked) {
            rate_value = document.getElementById('Listed').value;
          //  alert(rate_value);
        }

        //var Search = id;
        //alert(Search);
        var SessionDate = $('#SessionDate').val();
      //  alert(SessionDate);
        var TabId = $('.w3-red').val();
       // alert(TabId);
        //var a = $('.tablink w3-red').prop('id');
        //alert(a);
        //alert($('.tablink .w3-red').attr('id'));
        if (rate_value == "Pending")
        {
            var ConcernedDeptId = "0";
            // alert(ConcernedDeptId);
            var PaperId = "Pending Papers";
            //  alert(PaperId);
            var Priority = "ALL";
            //var Datefrom = "05/04/2018";
            ////   alert(Datefrom);
            //var Dateto = "10/10/2018";
            var Datefrom = "16/12/2018";
            var Dateto = "17/11/2018";

            var papertypeid = TabId;
        }
        else if (rate_value == "ForLaying") {
            var ConcernedDeptId = "0";
            // alert(ConcernedDeptId);
            var PaperId = "ForLaying";
            //  alert(PaperId);
            var Priority = "ALL";
            var Datefrom = "16/12/2018";
            var Dateto = "17/11/2018";
            //var Datefrom = "05/04/2018";
            ////   alert(Datefrom);
            //var Dateto = "10/10/2018";
            var papertypeid = TabId;
        }
        else if (rate_value == "Listed")
        {
            var ConcernedDeptId = "0";
            // alert(ConcernedDeptId);
            var PaperId = "Paper Laid";
            //  alert(PaperId);
            var Priority = "ALL";
            var Datefrom = "16/12/2018";
            var Dateto = "17/11/2018";
            //var Datefrom = "05/04/2018";
            ////   alert(Datefrom);
            //var Dateto = "10/10/2018";
            var papertypeid = TabId;
        }
       
        $("#loader-wrapper").show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/BusinessWork/BusinessWork/GetPaperViewListBySelectedId",
            type: 'GET',
            data: {
                Eventid: papertypeid,
                //ConcernedEventId: ConcernedEventId,
                Priority: Priority,
                PaperId: PaperId,
                ConcernedDeptId: ConcernedDeptId,
                Datefrom: Datefrom,
                Dateto: Dateto,
                SessionDate: SessionDate,
              

            },
            success: function (data) {
              
                //$('#fullDetailsModel').show();
                if (TabId == 1)
                {
                    alert("Please select Paper Type")
                    $("#loader-wrapper").hide();
                }
                if (TabId == 0)
                {
                    $('#Notices').html("");
                    $('#Bills').html("");
                    $('#CommitteeReports').html("");
                    $('#OtherPapers').html("");

                    $('#CommitteeReports').hide();
                    $('#Notices').hide();
                    $('#Bills').hide();

                    $('#OtherPapers').show();                 
                    $('#OtherPapers').html(data);
                    $('#sample-table-4').DataTable({
                    
                        sDom: "<'row'<'col-sm-3'l><'col-sm-9'p><'col-sm-3'i><'col-sm-9'f>>" +
                              "<'row'<'col-sm-12'tr>>" +
                              "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    });
                    $("#loader-wrapper").hide();
                }
                if (TabId == 4) {                   
                    $('#Notices').html("");
                    $('#OtherPapers').html("");                  
                    $('#Notices').html("");
                    $('#CommitteeReports').html("");

                    $('#CommitteeReports').hide();
                    $('#OtherPapers').hide();
                    $('#Bills').hide();

                    $('#Notices').show();
                    $('#Notices').html(data);
                    $('#sample-table-22').dataTable({
                        sDom: "<'row'<'col-sm-3'l><'col-sm-9'p><'col-sm-3'i><'col-sm-9'f>>" +
                              "<'row'<'col-sm-12'tr>>"
                            + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                        "aoColumnDefs": [
                            { "bSortable": true, "aTargets": ["action"] },
                            { "sSortDataType": "dom-checkbox", "aTargets": ["sort"] }
                        ],
                        "aaSorting": [                   
                             [0, "asc"]
                        ]
                    });
                    $("#loader-wrapper").hide();
                }
                if (TabId == 5) {                
                    $('#OtherPapers').html("");
                    $('#Notices').html("");
                    $('#CommitteeReports').html("");
                    $('#Bills').html("");

                    $('#CommitteeReports').hide();
                    $('#OtherPapers').hide();
                    $('#Notices').hide();

                    $('#Bills').show();                   
                    $('#Bills').html(data);
                    $('#sample-table-3').DataTable({                      
                        sDom: "<'row'<'col-sm-3'l><'col-sm-9'p><'col-sm-3'i><'col-sm-9'f>>" +
                              "<'row'<'col-sm-12'tr>>"
                            + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    });
                    $("#loader-wrapper").hide();
                }
                if (TabId == 8) {                   
                    $('#OtherPapers').html("");
                    $('#Notices').html("");
                    $('#Bills').html("");
                    $('#CommitteeReports').html("");

                    $('#OtherPapers').hide();
                    $('#Notices').hide();
                    $('#Bills').hide();

                    $('#CommitteeReports').show();                   
                    $('#CommitteeReports').html(data);
                    $('#sample-table-5').DataTable({                    
                        sDom: "<'row'<'col-sm-3'l><'col-sm-9'p><'col-sm-3'i><'col-sm-9'f>>" +
                              "<'row'<'col-sm-12'tr>>"
                            + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                    });
                    $("#loader-wrapper").hide();
                }
            }
        });
    }
   
    function getPaperLaidListByEventId()
    {
     //   alert("getPaperLaidListByEventId");
        var ConcernedDeptId = "5";
        // alert(ConcernedDeptId);
        var PaperId = "Pending Papers";
        //  alert(PaperId);
        var Priority = "ALL";
        var Datefrom = "05/04/2018";
        //   alert(Datefrom);
        var Dateto = "10/10/2018";
        var papertypeid = 11;
        //var Dateto = document.getElementById("Dateto").value;
        //var cl = new CanvasLoader('canvasloader-container2');
        //cl.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/BusinessWork/BusinessWork/getPaperLaidListByEventId",
            type: 'GET',
            data: {
                Eventid: papertypeid,
                //ConcernedEventId: ConcernedEventId,
                Priority: Priority,
                PaperId: PaperId,
                ConcernedDeptId: ConcernedDeptId,
                Datefrom: Datefrom,
                Dateto: Dateto,
            },
            success: function (data) {
                // alert(data);
                //$('#fullDetailsModel').show();
                $('#PaperGRid').show();
                //$('#PaperGRid').html(data);
                $('#PaperGRid').html(data);
                // cl.hide();
            }
        });
    }
</script>



<script>
    document.getElementById('Closee').addEventListener('click', function (e) {

        
       // window.parent.tinymce.get('contentID').getContent();
        e.preventDefault();
        this.parentNode.style.display = 'none';
    }, false)
    //function getdata() {
        

    //    alert("alert");
    //    var a = $('#TextLOB_ifr').contents().find('#tinymce').html();
    //    alert(a);
    //}
 
    function CheckValidation() {
        $("#BtnCaption").val("Save");
        $("#form1").submit();
    }
    function SendNewEntry() {
        $("#BtnCaption").val("Send");
        $("#form1").submit();
    };


    function SaveBefore() {
        $("#BtnCaption").val("SaveBefore");
        $("#form1").submit();
    }
    function FreezeBefore() {
        $("#BtnCaption").val("FreezeBefore");
        $("#form1").submit();
    }

    function ApproveBefore() {
        $("#BtnCaption").val("ApproveBefore");
        $("#form1").submit();
    }
    function UnFreezeBefore() {
        $("#BtnCaption").val("UnFreezeBefore");
        $("#form1").submit();
    }

    function ApproveAfter() {
        $("#BtnCaption").val("ApproveAfter");
        $("#form1").submit();
    }
    function UnFreezeAfter() {
        $("#BtnCaption").val("UnFreezeAfter");
        $("#form1").submit();
    }

    function ChangeContent() {
        $("#BtnCaption").val("ChangeContent");
        $("#form1").submit();
    }
    function RejectBefore() {
        var Qid = $("#QuestionId").val()
        $.get("/Notices/LegislationFixation/GetQuesByIdForRejection", { QuesId: Qid, ActionType: "Reject" }, function (data) {
            //$("#OpenContainer").html(data)
            //$("#OpenModel").modal("show")
            $("#RightSidebar").html(data)

        });
        return false;

    }
    function ChangeTypeBefore() {
        var Qid = $("#QuestionId").val()
        $.get("/Notices/LegislationFixation/GetQuesByIdForRejection", { QuesId: Qid, ActionType: "TypeChange" }, function (data) {
            $("#RightSidebar").html(data)
        });

        return false;
    }

    function GetResetByQuestionId() {
        var Qid = $("#QuestionId").val()
        $.get("/Notices/LegislationFixation/GetResetByQuestionId", { QuesId: Qid }, function (data) {
            if (data != null) {
                $("#Subject").val(data.Subject)
                $("#MainQuestion").html(data.MainQuestion);
                $("#DdlMinistry").find("option[value='" + data.MinistryId + "']").attr("selected", "true")
                $("#ChkIsQuesPart").prop('checked', data.IsQuestionInPart);
                $("#ChkIsLocal").prop('checked', data.IsHindi);
                ///Get Department accoding to Selected MinisterId
                Mid = $("#DdlMinistry").val()
                if (Mid != 0) {
                    $.get("/Notices/LegislationFixation/GetDepartmentByMinister", { MinistryId: Mid }, function (result) {
                        $("#DdlDepartment").empty();
                        $.each(result, function (index, optiondata) {
                            $("#DdlDepartment").append("<option value='" + optiondata.DepartmentId + "'>" + optiondata.DepartmentName + "</option>");

                            ////Find and Bind Department According to result data
                            $("#DdlDepartment").find("option[value='" + data.DepartmentId + "']").attr("selected", "true");
                        });
                    });
                }

            }
        });

        return false;
    }

    function BackToPRByQuestionId() {
        var Qid = $("#QuestionId").val()
        var QtId = $("#QuestionTypeId").val()
        var IsStarred = false;

        if (QtId == 1) {
            IsStarred = true;
        }
        else if (QtId == 2) {
            IsStarred = false;
        }

        $.get("/Notices/LegislationFixation/BackToPRByQuestionId", { QuesId: Qid }, function (data) {
         //   alert(data)
            //Bind Pending List again
            $.get("/Notices/LegislationFixation/CompletePaperLaidInformation", {
                PaperCategoryTypeId: 1,
                IsStarredQuestion: IsStarred,
                IsByMinistry: null,
                Status: "PendingList",
                ItemType: true
            }, function (data) {
                $("#divDataContainer").html(data);
            });
            $("#RightSidebar").html("");
        });

        return false;
    }

    $("#DdlMinistry").change(function () {
        var Mid = $("#DdlMinistry").val()
        var M = $("#DdlMinistry option:selected").text()
        M = M.substring(M.indexOf(",") + 2)
        $("#TxtMinisName").val(M)
        $.get("/Notices/LegislationFixation/GetDepartmentByMinister", { MinistryId: Mid }, function (data) {
            $("#DdlDepartment").empty();
            $("#DdlDepartment").append("<option value='0' selected='true'>Select Department</option>")
            $.each(data, function (index, optiondata) {
                $("#DdlDepartment").append("<option value='" + optiondata.DepartmentId + "'>" + optiondata.DepartmentName + "</option>");
            });
        });
    });


    $("#DdlMember").change(function () {
        $("#ConstituencyCode").val("")
        $("#ConstituencyName").val("")
        var Mid = $("#DdlMember").val()
        var Aid = $("#AssemblyID").val()
        $.get("/Notices/LegislationFixation/GetConstByMemberId", { MemberId: Mid, AssemId: Aid }, function (data) {
            $("#ConstituencyCode").val(data.ConstituencyCode)
            $("#ConstituencyName").val(data.ConstituencyName)
        });
    });

    $("textarea#Subject").focus(function () {
        $(this).animate({
            height: "130px"
        }, 100, function () { });

    });
    $("textarea#Subject").blur(function () {
        $(this).animate({
            height: "40px"
        }, 100, function () { });

    });

    $("#DdlDepartment").change(function () {
        var value = $(this).val()
        var N = $("#DdlDepartment option:selected").text().trim()
        $("#TxtDeptName").val(N)
    })

    $("#DdlDepartment").change(function () {
        var value = $(this).val()
        var N = $("#DdlDepartment option:selected").text().trim()
        $("#TxtDeptName").val(N)
    })

    function CheckQuestion(TypeId) {

        var QuestionNo = $("#QuestionCheck").val();
        var AId = $("#AssemblyID").val();
        $.ajax({
            url: "/Notices/LegislationFixation/CheckQuestionNo",
            type: 'POST',
            data: { QuestionNumber: QuestionNo, QtypeId: TypeId, AssemId: AId },
            success: function (data) {
                if (data == "0") {

                }
                else if (data >= "1") {
                    alert("Question Number Aleardy Exist !");
                    $('#QuestionCheck').val("");
                }
            }
        });
    }
    function CheckQuesInPart() {


        if ($("#ChkIsQuesPart").is(':checked')) {
            $("#IsQuestionInPart").val(true)

        }
        else {
            $("#IsQuestionInPart").val(false)
        }



    }
    function CheckQuesInPart1() {


        if ($("#ChkIsQuesPart1").is(':checked')) {
            $("#IsQuestionInPart").val(true)

        }
        else {
            $("#IsQuestionInPart").val(false)
        }



    }

    function CheckIsHindi() {


        if ($("#ChkIsLocal").is(':checked')) {
            $("#IsHindi").val(true)

        }
        else {
            $("#IsHindi").val(false)
        }



    }




</script>
<script>
   
    function CancelImg() {
        $('#fileForUpload').html("<b>" + "No Paper Selected" + "</b>");

        $("#PaperLaidId").val("");
        $("#PaperLaidIdTemp").val("");
    }

    function Change(ele, PaperLaidIdTemp, PaperLaidId, Path, Description) {

        document.getElementById(ele.id).checked == true;

        if (document.getElementById(ele.id).checked) {
            //alert("checked")
            //
            $(".Chk").each(function () {
                //$(this).prop("checked", false)
                $(this).prop('checked', false)
                //$(this).attr('checked', false);

            });



            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/ListOfBusiness/ListOfBusiness/GetFileNamePaperLaid",
                type: 'GET',
                data: {
                    PaperLaidTempId: PaperLaidIdTemp,
                    PaperLaidId: PaperLaidId
                },
                success: function (data) {
                    document.getElementById(ele.id).checked = true;
                    var ResultValue = data.split(",");
                    var data = ResultValue[0];
                    var BillNumber = ResultValue[1];
                    //var BillTitle = ResultValue[2];
                    var htmls = "<a href='" + Path + "' target = '_blank' data-dismiss='modal' ><b> " + data + "</b> </a>";
                    $('#fileForUpload').html(htmls);

                    document.getElementById("fromServer").removeAttribute("style");
                    $("#PaperLaidId").val(PaperLaidId);
                    $("#PaperLaidIdTemp").val(PaperLaidIdTemp);

                    var billarr = BillNumber.split('of');

                    $("#tbBillNumber").val(billarr[0]);
                    $('#DdlBillYear').val(billarr[1].trim()).attr("selected", "selected");


                }
            });


            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/ListOfBusiness/ListOfBusiness/GetPaperLaidDescription",
                type: 'GET',
                data: {
                    PaperLaidId: PaperLaidId
                },
                success: function (data) {
                    // alert(data);
                    //$('#TextLOB').val(data);

                }
            });


        }
        else {
            $('#fileForUpload').html("No Paper Selected");
            //  document.getElementById("fromServer").style.display = "none";
            $("#PaperLaidId").val("");
            $("#PaperLaidIdTemp").val("");
            //  $('#TextLOB').val("");
            //  var message = '@Resources.PaperLaidLOB.NoPaperSelected';
            // alert(message);
            document.getElementById(ele.id).checked = false;
        }
    }


</script>

