﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV
@{
    String dd = ViewBag.Date;
    string[] dda = dd.Split('/');
    System.DateTime date1 = new DateTime(int.Parse(dda[2]), int.Parse(dda[1]), int.Parse(dda[0]));
    String ddf = ViewBag.Dateto;
    string[] ddaf = ddf.Split('/');
    System.DateTime date1f = new DateTime(int.Parse(ddaf[2]), int.Parse(ddaf[1]), int.Parse(ddaf[0]));
 
    
    
    }
  <div class="modal-dialog" style="width:1200px;margin-top:10px;">

    <div class="modal-content">
      <!-- dialog body -->
      <div class="modal-body">
      
<div class="modal-header" style="background-color:white; position: relative;">
      <button type="button" style="padding-right:10px; color:red;position: relative;  top: -20px;" class="close" data-dismiss="modal" margin-top: "-12px" >&times;</button>
    <div style="position: absolute;  top: -10px;">
    <div>
        <h4>
       
               <b> <span id="" style="position:relative; color:darkblue; margin-bottom:12px;font-weight: bold; font-size: 20px; margin-bottom:12px">@Model.EventName</span></b></h4></div>

             
    </div>
  @*  <div class="row-fluid">*@
        <div style="font-weight: bold; font-size: 14px; width: 450px;">
        </div>

@*    </div>*@
</div>

<style>
    #ui-datepicker-div {
        width: 19em;
    }
</style>
<script>



    $('#Datefrom').datepicker({
        dateFormat: 'dd/mm/yy',
        width: '20px',
        startDate: '-3d',
        // yearRange: '1900:2009',
        defaultDate: '@date1.ToString("dd/MM/yyyy")'

    });

    $('#Dateto').datepicker({
        dateFormat: 'dd/mm/yy',
        width: '20px',
        startDate: '-3d',
        //  yearRange: '1900:2009',
        defaultDate: '@date1f.ToString("dd/MM/yyyy")'

    });



</script>
          
<script>
    try {

    } catch (error) {
    }

</script>

         <div>
    <table style="width:100%">
        <tr>
                   
                  <td style="width:10%;text-align:right; margin-left:16px;">
                 
                    <b>
                    @Resources.LOB.SelectPaper :
                    @Html.HiddenFor(m => m.EventId)
                </b>
            </td>
            <td style="width:2%;text-align:left;"></td>
           <td style="width:40%;text-align:left;">
           
                
           
                <select id="SelectPaper" onchange="PatialgetIntimationPaperLaidListByEventId();" style="width:65%">
                      <option id="Pending Papers" value="PENDING">Pending Papers</option>
                   
                    
                     <option id="Paper Laid" value="LAID">Paper Laid</option>
                     <option id="AllPapers" value="ALL">ALL</option>
                     </select>
            </td>
        @*    <td>
                <input type="button" value="@Resources.LOB.lblSearch" onclick="getPaperLaidListByEventId()" />
            </td>*@
        </tr>
        <tr style="height:15px">
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </table>

</div>




<div>
     <table style="width:100%">
        <tr>
          <td style="width:7.5%;text-align:right;">
                              
                <b>
                    Select Date:</b>
                </td>
    <td style="width:1%;text-align:right"><b>From</b></td>


            <td style="width:1%;text-align:center;">   
     
     @*<input id="Datefrom" class="datepicker" value="@ViewBag.Date" data-date-format="dd/MM/yyyy">*@
                   <input id="Datefrom" class="datepicker" value="@ViewBag.Date" onchange="PatialgetIntimationPaperLaidListByEventId();"  data-date-format="dd/MM/yyyy">
                 <td style="width:.25%;text-align:left"><b>To</b></td>
                
           <td style="width:25%;text-align:left"> 




                          <input id="Dateto" class="datepicker" value="@ViewBag.dateto" onchange="PatialgetIntimationPaperLaidListByEventId();" data-date-format="dd/MM/yyyy">

                    
                            </td>
        </tr>
          <tr style="height:10px">
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </table>
    </div>

<div>
    <table style="width:100%">
        <tr>
           <td style="width:19%;text-align:right;padding-right:4.11%">
                
                <b style="padding-left:20%">
                    @Resources.LOB.Department :
                    @Html.HiddenFor(m => m.DepartmentId)
                </b>
            </td>
            <td style="width:63%">
               
           @Html.DropDownList("deptId", new SelectList(Model.mDepartmentList, "deptId", "deptname", 0), new { onchange = "PatialgetIntimationPaperLaidListByEventId()", @class = "col-xs-10 col-sm-10" })
      
             
            </td>
       
        </tr>
        <tr style="height:15px">
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </table>

</div>

<div id="PaperGRidIntimation">
    

</div>
              </div>
        </div>
      </div>

<script>
    $(document).ready(function () {
        alert("ready");
        PatialgetIntimationPaperLaidListByEventId();
        // updateDate();
    });

    function PatialgetIntimationPaperLaidListByEventId() {
        //
        var ConcernedEventId = document.getElementById("EventId").value;
        alert(ConcernedEventId);

        if (ConcernedDeptId == null || ConcernedDeptId == "" || ConcernedDeptId == '0') {
            ConcernedDeptId = null;
        }
        var ConcernedDeptId = document.getElementById("deptId").value;
        //alert(ConcernedDeptId)


        var PaperId = document.getElementById("SelectPaper").value;
        if (PaperId == null || PaperId == "") {
            PaperId = "Pending Papers";
        }

        //alert(PaperId)
        var Datefrom = document.getElementById("Datefrom").value;
        //alert(Datefrom)
        var Dateto = document.getElementById("Dateto").value;
        if (Datefrom == null || Datefrom == "") {
            Datefrom = "dd/MM/yyyy";
        }

        //alert(Dateto)
        var cl = new CanvasLoader('canvasloader-container2');
        $('#loader-wrapper').show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/BusinessWork/BusinessWork/PatialgetIntimationPaperLaidListByEventId",
            type: 'GET',
            data: {
                ConcernedEventId: ConcernedEventId,
                PaperId: PaperId,
                ConcernedDeptId: ConcernedDeptId,
                Datefrom: Datefrom,
                Dateto: Dateto,
            },
            success: function (data) {
                //alert(data);
                $('#PaperGRidIntimation').html(data);
                $('#loader-wrapper').hide();
            }
        });
    }

</script>