﻿@{
    ViewBag.Title = "AllocateBudget";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}
@Html.Partial("_LeftMenu")

<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            @*<li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("AllMembersAccountDetails", "MemberAccountDetails")">Home</a>
            </li>

            <li>
                <a href="@Url.Action("CurrentMembersAccountDetails", "MemberAccountDetails")">Current Members</a>
            </li>*@
            <li class="active">Allocate Budget</li>
        </ul>

        @*<div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>            
        </div>*@

    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>