﻿@model SBL.DomainModel.Models.Committee.tCommitteeModel

@{
    int SNo = 1;
}

@*<div class="modal-header" style="background-color: white; position: relative;">
    <div style="color: #1b86bc; font-weight: bold;">Upload Paper</div>
    <div style="position: absolute; right: 10px; top: 14px;">
        <a href="javascript:;" data-dismiss="modal" class="close" style="margin-right: 20px; margin-top: 15px;">
            <img src="~/Content/img/cancel-icon.png" class="btn_close" title="Close Window" height="30" width="30" /></a>
    </div>
    <div class="row-fluid">
        <div style="font-weight: bold; font-size: 14px; width: 450px;">
        </div>
    </div>
</div>*@
@*<div class="modal-body" role="dialog" tabindex="-1" aria-labelledby="SchemeLocation">
    <div id="SchemeLocation" style="background-color: #FFF;">
        <div id="canvasloader-container" class="canvasloader" style="text-align: center"></div>*@
@if (Model != null)
{




    using (Html.BeginForm("AddLatestFile", "CommitteePaper", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form2" }))
    {
        @Html.AntiForgeryToken()
@*<div style="margin-top: 20px">
            <table id="editableTable" class="simple-table-style">
            <tr>
                <th style="text-align: center; width: 10%">@Resources.Committee.SerialNo</th>
                <th style="text-align: center; width: 50%">@Resources.Committee.Category</th>
                <th style="text-align: center; width: 20%">@Resources.Committee.SubmitDate</th>
                <th style="text-align: center; width: 20%">@Resources.Committee.Version</th>
                <th style="text-align: center; width: 20%">@Resources.Committee.File</th>
            </tr>
            @if (Model.ComModel != null)
            {
                foreach (var item in Model.ComModel)
                {
                <tr>
                    <td style="text-align: center; vertical-align: top; width: 10%">@SNo</td>
                    <td style="text-align: center">@item.EventName
                    </td>
                    @if (item.SubmittedDate == null)
                    {
                        <td style="text-align: center; vertical-align: top">Not Submitted</td>
                    }
                    else
                    {
                        <td style="text-align: center; vertical-align: top">@Convert.ToDateTime(item.SubmittedDate).ToString("dd/MM/yyyy hh:mm")
                        </td>
                    }
                    <td style="text-align: center; vertical-align: top">
                       Version (@item.version)
                    </td>

                    <td style="text-align: center; vertical-align: top">
                        <a href="@item.FilePath@item.FileName" target="_blank">View</a>
                    </td>
                    @{
                    SNo = SNo + 1;
                    }
                </tr>
                }
            }
        </table>

        <table style="width: 100%;" class="minwb-style">
            <tr>
                <td>
                    <strong>@Resources.Committee.PapertobeLaid
                    </strong>

                </td>
                <td>

                    <input type="file" name="file" id="filePaerLaid" tabindex="8" style="margin-left: 15px" />
                    <div id="divfileErr" style="color: red"></div>

                </td>
            </tr>
            <tr>
                <td>&nbsp;
                </td>
                <td>
                    <div class="divmargin">
                        @Html.HiddenFor(m => m.paperLaidId)
                        @Html.HiddenFor(m => m.AssemblyId)
                        @Html.HiddenFor(m => m.SessionId)
                        <input type="button" id="btnSavefile" value="Upload" tabindex="13" onclick="CheckFileValidation()" />
                    </div>
                </td>
            </tr>
        </table>
        
    </div>*@
    
    }
    
    
    
    <div>
        @if (Model.ComModel != null)
        {
            foreach (var item in Model.ComModel)
            {   <table class="simple-table-style" style="width: 100%; margin-top: 10px; margin-left: 0px; margin-right: 20px">
                <tr>
                    <td colspan="5">Version (@item.version): <a href="@item.FilePath@item.FileName" target="_blank">View</a>
                    </td>
                </tr>
            </table>
               
            }
        }
    </div>
}



@*  </div>
</div>*@

<script>
    function CheckFileValidation() {
        var fle = $("#filePaerLaid").val()
        if (fle == "") {
            $("#divfileErr").html("File not Uploaded.")
        }
        else {
            $("#divfileErr").html("")
            $("#form2").submit();
        }
    };

    var file = document.getElementById('filePaerLaid');
    file.onchange = function (e) {
        var ext = this.value.match(/\.([^\.]+)$/)[1];
        switch (ext) {
            case 'pdf':
                //case 'bmp':
                //case 'png':
                //case 'tif':
                //alert('allowed');
                break;
            default:
                alert('Only pdf allowed !');
                this.value = '';
        }
    };
</script>
