﻿ 
 <div id="breadcrumbs" class="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
           @* <li id="firstLink">
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>*@

            <li id="secondLink">
             @Resources.Committee.CommitteeDashboard
            </li>
            <li class="active" id="thirdLink">@Resources.PaperLaidDepartment.Dashboard</li>
        </ul>
      <div class="legAssm">          
                 <span class="label label-large label-pink arrowed-in-right arrowed">@Model.AssesmblyName </span>
            <span class="label label-large label-purple arrowed">@Model.SessionName</span>   
        </div>
         @*<div class="legAssm">
           <span class="label label-large label-pink arrowed-in-right arrowed">@Model.AssesmblyName </span>
           <span class="label label-large label-purple arrowed">@Model.SessionName</span>
        </div>*@
    </div>

<script type="text/javascript">

    function ChangeProgress(ChangeText) {
        if (ChangeText != "") {
            if (ChangeText == "progressSUN") {
                $("#progressSUN").show();
                $("#progressBO").hide();
            }
            else {
                $("#progressSUN").hide();
                $("#progressBO").show();
            }
        }
    }

    function ChangeBreadCrumbParent(firstText, firstLink) {

        $("#secondLink").empty();
        var firstlinkHtml = '<a" onclick="' + firstLink + '">' + firstText + '</a>';
        $("#secondLink").html(firstlinkHtml);
        $("#thirdLink").empty();


    }


    function ChangeBreadCrumbChild(secondText, secondLink) {

        $("#thirdLink").empty();
        var secondlinkHtml = '<a" onclick="' + secondLink + '">' + secondText + '</a>';
        $("#thirdLink").html(secondlinkHtml);

    }

    </script>





