﻿@model SBL.DomainModel.Models.Committee.tCommitteeModel


<div id="sidebar" class="sidebar responsive">
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>


        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div id="sidebar-shortcuts-large" class="sidebar-shortcuts-large">

          
                 <a title="Help" data-rel="tooltip" class="btn btn-warning" href="~/HelpFiles/User Manual for Department 1.pdf" target="_blank">
                <i class="ace-icon fa fa-users"></i>
            </a>
               
                 <button class="btn btn-info" id="sizeUp" title="Increase fontsize" data-placement="bottom" data-rel="tooltip">
                <b>@Resources.PaperLaidDepartment.A<sup>+</sup> </b>
            </button>

            <!-- #section:basics/sidebar.layout.shortcuts -->
            <button class="btn btn-warning" id="sizeDown" title="Decrease fontsize" data-placement="bottom" data-rel="tooltip">
                <b>@Resources.PaperLaidDepartment.A<sup>-</sup> </b>
            </button>

            <!--<button class="btn btn-danger">-->
            @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.LanguageID == "7C4F28F6-02FC-4627-993D-E255037531AD")
            {
                <button id="btnHindi" title="Change language" data-placement="right" data-rel="tooltip" class="btn btn-success" onclick="ChangeLangaugeHindi();">
                   @Resources.PaperLaidDepartment.Hindi                            <!--<i class="ace-icon fa fa-cogs"></i>-->
            </button>
            }
            else
            {
                  <button id="btnEnglish" style="width:70px" title="Change language" data-placement="right" data-rel="tooltip" class="btn btn-success" onclick="ChangeLangaugeEnglish();">
                    @Resources.PaperLaidDepartment.English                          <!--<i class="ace-icon fa fa-cogs"></i>-->
            </button>
            }
          


           @* <button class="btn btn-info" id="sizeUp" title="Increase fontsize" data-placement="bottom" data-rel="tooltip">
                <b>@Resources.PaperLaidDepartment.A<sup>+</sup> </b>
            </button>

            <!-- #section:basics/sidebar.layout.shortcuts -->
            <button class="btn btn-warning" id="sizeDown" title="Decrease fontsize" data-placement="bottom" data-rel="tooltip">
                <b>@Resources.PaperLaidDepartment.A<sup>-</sup> </b>
            </button>

            <!--<button class="btn btn-danger">-->

            <button id="btnEnglish" title="Change language" data-placement="right" data-rel="tooltip" class="btn btn-success" onclick="ChangeLangaugeHindi()">
                  @Resources.PaperLaidDepartment.Hindi                             <!--<i class="ace-icon fa fa-cogs"></i>-->
            </button>

              <button id="btnHindi" title="Change language" data-placement="right" data-rel="tooltip" class="btn btn-success" style="display:none;" onclick="ChangeLangaugeEnglish()">
               @Resources.PaperLaidDepartment.English                            <!--<i class="ace-icon fa fa-cogs"></i>-->
            </button>*@





            <!-- /section:basics/sidebar.layout.shortcuts -->


            <!-- /section:basics/sidebar.layout.shortcuts -->
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div>


    <ul class="nav nav-list">
        <li class="active">
            <a href="#">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text">@Resources.PaperLaidDepartment.MyDashboard</span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="active">
            <a href="#" onclick="GetAllList();" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text">@Resources.Committee.CommitteePaper
                    <span class="badge badge-success tooltip-error" title="3 Important Events">
                        @{
                            var AllCount = @Model.ComDraftCount + @Model.ComSentCount;
                        }

                        @AllCount
                    </span>
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="">
                    <a href="javascript:void(0);" onclick="GetPending();">
                        <i class="menu-icon fa fa-caret-right"></i>
                        @Resources.Committee.DraftReport
                        <span class="badge badge-primary ">@Model.ComDraftCount</span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="#" onclick="GetSubmitted();">
                        <i class="menu-icon fa fa-caret-right"></i>
                        @Resources.Committee.ReportSent
                        <span class="badge badge-primary ">@Model.ComSentCount</span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="#" onclick="UpcomingLob()">
                        <i class="menu-icon fa fa-caret-right"></i>
                        @Resources.PaperLaidDepartment.DDUpcomingLOB
                        <span class="badge badge-primary ">@Model.ComUpcomingCount</span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="#" onclick="LaidInHouse()">
                        <i class="menu-icon fa fa-caret-right"></i>
                        @Resources.Committee.CDLaidInHouse
                        <span class="badge badge-primary ">@Model.ComLaidIntheHouseCount</span>
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="#" onclick="PendingToLay()">
                        <i class="menu-icon fa fa-caret-right"></i>
                        @Resources.Committee.CDPendingToLay
                        <span class="badge badge-primary ">@Model.ComPendingtoLayCount</span>
                    </a>
                    <b class="arrow"></b>
                </li>

            </ul>
        </li>
    </ul>

   <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
    </script>
</div>
