﻿@model SBL.DomainModel.Models.Committee.tCommitteeModel

@Html.HiddenFor(m => m.AssemblyId)
@Html.HiddenFor(m => m.SessionId)
@Html.Hidden("SessionCodeHome", Model.SessionId)
@Html.Hidden("AssemblyCodeHome", Model.AssemblyId)

<div class="widget-box">
    <div class="widget-header widget-header-flat">

        <div class="widget-toolbar no-border">
            <button class="btn btn-xs btn-primary bigger" onclick='GetPending()'>
                <i class="ace-icon fa fa-pencil-square-o"></i>
                @Resources.Committee.DraftReport
         </button>

        <button class="btn btn-xs btn-primary bigger" onclick='GetSubmitted()'>
                <i class="ace-icon fa fa-pencil-square-o"></i>
             Sent Report
        </button>         
        @*<button class="btn btn-xs btn-primary bigger" onclick='UpcomingLob()'>
                <i class="ace-icon fa fa-pencil-square-o"></i>
                    @Resources.PaperLaidDepartment.DDUpcomingLOB
        </button>
         <button class="btn btn-xs btn-primary bigger" onclick='LaidInHouse()'>
                <i class="ace-icon fa fa-pencil-square-o"></i>
                      @Resources.Committee.CDLaidInHouse
         </button>

         <button class="btn btn-xs btn-primary bigger" onclick='PendingToLay()'>
                <i class="ace-icon fa fa-pencil-square-o"></i>
                    @Resources.Committee.CDPendingToLay
         </button>*@
          <button class="btn btn-xs btn-primary bigger" onclick='CreateNewCommittee()'>
                <i class="ace-icon fa fa-pencil-square-o"></i>
                @Resources.PaperLaidDepartment.New 
            </button>
        </div>
    </div>
</div>

<span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="Bottm Info" style="text-align:left;margin-left:0px;margin-bottom:2px;">
 @Resources.Committee.DraftReport List
</span>

@*@{    
    var grid = new Lib.Web.Mvc.JQuery.JqGrid.JqGridHelper<SBL.DomainModel.Models.Committee.tCommitteeModel>("CommonGrid",
                          
                            dataType: Lib.Web.Mvc.JQuery.JqGrid.JqGridDataTypes.Json,
                            footerEnabled: false,
                            methodType: Lib.Web.Mvc.JQuery.JqGrid.JqGridMethodTypes.Post,
                            pager: true,
                            rowsList: new List<int> { 10, 20, 30, 40, 50 },
                            rowsNumber: 10,
                            onSelectRow: "onSelectRowHandler",
                            sortingName: "paperLaidId",
                            sortingOrder: Lib.Web.Mvc.JQuery.JqGrid.JqGridSortingOrders.Asc,
                            url: Url.Action("NewGetPendings"),
                            userDataOnFooter: false,
                            viewRecords: true,
                            autoWidth: true,
                            emptyRecords: @Resources.PaperLaidDepartment.NoRecordFound,
                            postDataScript: "function() { return { AssemblyId: $('#AssemblyCodeHome').val(), SessionId: $('#SessionCodeHome').val()}; }"

                        );
}
@grid.GetHtml()*@

<script>

   @* jQuery(document).ready(function () {
        @grid.GetJavaScript()
        jQuery("#CommonGrid").jqGrid('setLabel', 'Title', '@Resources.PaperLaidDepartment.Subject')
        jQuery("#CommonGrid").jqGrid('setLabel', 'EventName', '@Resources.PaperLaidDepartment.BusinessType')
        jQuery("#CommonGrid").jqGrid('setLabel', 'FileName', '@Resources.PaperLaidDepartment.Paper')
        jQuery("#CommonGrid").jqGrid('setLabel', 'SubmittedDate', '@Resources.PaperLaidDepartment.Senton')
        jQuery("#CommonGrid").jqGrid('setLabel', 'DesireLayDate', '@Resources.PaperLaidDepartment.DesireLayingDate')
       
    });*@

    $.paperSentFormatter = function (cellvalue, options, rowObject) {
        alert("cellvalue : " + cellvalue);
        return "sdfsdfsd";
    };

    jQuery(".jqgrow td input", "#NewGetPendings").each(function () {
        jQuery(this).unbind('click');
        jQuery(this).click(function () {
            alert("sss");
        });
    });



    function onSelectRowHandler(rowId) {
        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();

        var rowData = $(this).jqGrid("getRowData", rowId);
        //Get ID  for the Record.
        var id = rowData.paperLaidId != "" ? rowData.paperLaidId : 0;
        $.ajax({
            url: '/CommitteePaperLaid/CommitteePaper/ViewDetails',
            type: 'GET',
            data: { Id: rowId },
            cache: false,
            success: function (response) {
                if (response) {
                    $("#RightSidebar").html(response);
                    cl2.hide();


                } else { alert("error"); }

            },

            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }


    function CreateNewCommittee() {

        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();

        var cl = new CanvasLoader('canvasloader-container2');
        cl.show();
        var pathurl = '@Url.Action("GetPaperEntry", "CommitteePaper")';

        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                sessionId: sessionId,
                assemblyId: assemblyId
            },
            cache: false,
            success: function (data) {
                @*  cl.hide();
                $("#RightSidebar").empty();
                $("#RightSidebar").html(data);
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.Bills");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DraftBills");*@

                $("#divDataContainer").html(data);
                $("#RightSidebar").html("")
                ClearControls();
                ChangeBreadCrumbParent("@Resources.Committee.CommitteeDashboard");
                ChangeBreadCrumbChild("@Resources.Committee.DraftReport");
                cl.hide();
                $("#SuccessDiv").hide();
            }
        });
    }



    //function CreateNew() {

    //    var cl = new CanvasLoader('canvasloader-container2');
    //    cl.show();
    //    $("#tabType").val("Reply");
    //    var AId = $("#AssemblyId").val();
    //    var SId = $("#SessionId").val();
        
    //    $.ajax({
    //        url: "/CommitteePaperLaid/CommitteePaper/GetPaperEntry",
    //        type: 'GET',
    //        data: { AssemId: AId, SessId: SId },
    //        success: function (data) {
    //            $("#RightSidebar").html(data)
    //            cl.hide();
    //        }
    //    });
    //};

</script>
