﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV

<link href="~/Content/SBL/typography.css" rel="stylesheet" />


@using Resources
@{ 
    int SrNo = 0;
    int count = 1;
    int startpage = 0;
    int endPage = 0; 
    
}

@{
                
    float rcnt = @Model.ResultCount;
    float rperPage = @Model.RowsPerPage;
    float cnt = rcnt / rperPage;
    int b = (int)cnt;
    float c = (float)cnt - b;
                
}
@if (c > 0)
{
    count = b + 1;
}
else
{
    count = b;
}
@{
    startpage = ((@Model.selectedPage * 50) - 50) + 1;
    endPage = startpage + 49;
           
}
@if (Model.loopStart <= 0)
{
    Model.loopStart = 1;
    Model.loopEnd = 5;
}
<style>
    a.classname {
        background: url(/Images/pdf.jpg) no-repeat top center;
        background-size: 25px 25px;
        display: block;
        height: 32px;
        text-indent: -9999px;
    }
</style>
<div>
     <div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px;border: 1px solid #C5C5C5;">
        @Resources.PaperLaidDepartment.DDStaredQuestions >> @Resources.Minister.Inbox
    </div>
    <div id="canvasloader-container-Grid" class="canvasloader" style="text-align: center"></div>
    </div>
    <input type="hidden" id="SelectedPaperId" value="" />
<div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>
<br />
 <div style="width: 98%; float: left; padding-left: 10px; padding-bottom: 20px;">
<div class="grid_cantainer">
    <div class="grid-ex-footer">
        <div class="grid-pagination">
           
        
            @if (count > 0)
            {
                if (count < Model.loopEnd)
                {
                    Model.loopEnd = count;
                }
                <a href="#" onclick="NextButton(@Model.RowsPerPage,1,1,5)"  class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">first page</span></a>
                if (Model.loopStart > 5)
                {                           
                <a href="#" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)"  class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">previous page</span></a>                                          
                }
                <ul class="gridpage-numbers">
                    @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                    {
                        if (i == @Model.selectedPage)
                        {
                                    
                        <li><span class="grid-page-selected">@i</span></li>
                        }
                        else
                        {
                        <li><a href="#"   onclick="NextButton(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                        }
                    }
                </ul>
                    if (Model.loopStart + 5 < @count)
                    {
                <a href="#" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)"  class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">next page</span></a>                         
                    }
                <a href="#" onclick="NextButton(@Model.RowsPerPage,@count,@count-5,@count)"  class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">last page</span></a>
                <span class="grid-page-info">@Model.loopStart - @Model.loopEnd Of @count Pages.</span>
            }
        </div>
    </div>

    <table style="width: 65%">
        <tr>
            <td></td>

        </tr>
        <tr>

            <td style="width: 15%">
                <b>@Resources.Minister.BusinessType :</b>
            </td>
            <td style="width: 25%">

                @Html.DropDownListFor(m => m.PaperCategoryTypeId, new SelectList(Model.mCategoryTypeList, "EventId", "EventName"), "-- All --", new { @class = "rounded", @id = "DdlCategoryTypeId", style = "width: 350px;" })

            </td>
           @* <td style="width: 25%">
                <button type="button" id="btnEditOnline" class="small-button blue" onclick="SearchMinster('@Model.PaperCategoryTypeId')"" style="height: 25px; margin-right:10px">Search</button>

            </td>*@
        </tr>


    </table>
    <br />
     <div class="grid_cantainer" style="float: left; width: 99%; float: left; padding-left: 2px;">
    <div id="MinisterDetails">
        <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
        <table style="width: 100%">

           

            @if (Model.mMinisteryMinister != null)
            {
                if (Model.mMinisteryMinister.Count > 0)
                {
          
                <tr>              
                    <th class="grid_th" style="border-width: 1.5px; width: 5%; height: 30px; text-align: center">
                    <input type="checkbox" id="ChkBoxAll" /></th>    
                    <th class="grid_th" style="border-width: 1.5px; width: 20%; height: 30px; text-align: center">@Resources.Minister.NatureofPaper</th>

                    @*<th class="grid_th" style="border-width: 1.5px; width: 20%; height: 30px; text-align: center">@Resources.Minister.BusinessType</th>
                    <th class="grid_th" style="border-width: 1.5px; width: 10%; height: 30px; text-align: center">@Resources.Minister.Number</th>*@
                   @* <th class="grid_th" style="border-width: 1.5px; width: 30%; height: 30px; text-align: center">@Resources.Minister.Title</th>*@
                    <th class="grid_th" style="border-width: 1.5px; width: 10%; height: 30px; text-align: center">@Resources.Minister.ReplyPaperSubmitted</th>
                    @*<th class="grid_th" style="border-width: 1.5px; width: 10%; height: 30px; text-align: center">@Resources.Minister.Department</th>*@
                    <th class="grid_th" style="border-width: 1.5px; width: 10%; height: 30px; text-align: center">Action</th>
                </tr>
                
                    foreach (var item in Model.mMinisteryMinister)
                    {
                        SrNo = SrNo + 1;
                    
                @Html.HiddenFor(m => m.AssemblyId)
                @Html.HiddenFor(m => m.SessionId)
                @Html.HiddenFor(m => m.DeptActivePaperId)
                @Html.HiddenFor(m => m.PaperLaidId)
                        var trID = @item.SessionId;
                <tr id="@trID">
                    @{
                        var publishID = "publish" + item.SessionId;    
                       <td style="text-align: center">
                          <input type="checkbox" id="Chk_@item.DeptActivePaperId" class="Checkbox" onclick="checkChange(this.id)" style="vertical-align:top" />
                    </td>              
                        <td style="border-width: 1px; text-align: left">@item.PaperCategoryTypeName</td>
                        @*   <td style="border-width: 1px; text-align: left">@item.EventName</td>  
                        <td style="border-width: 1px; text-align: center">@item.Number</td>
                        <td style="border-width: 1px; text-align: left">@item.Title</td>*@
                        <td style="border-width: 1px; text-align: center">
                           <table style="width:100%">
                               <td style="width:30%">
                                @Html.ActionLink("View", "ViewPdfFromServerSignIntention", "Minister", new { DeptActivePaperId = item.DeptActivePaperId }, new { target = "_blank" })

                               </td>
                               <td style="width:70%">
                               <div onclick="ChangedPaper(@item.PaperLaidId,@item.DeptActivePaperId)">
                                @Html.ActionLink("Changed Paper", "ViewPdfFromServerSignIntention", "Minister", null, new { @class = "saveButton", onclick = "return false;" })

                            </div>
                               </td>
                            
                           </table>

                        </td>@*
                        <td style="border-width: 1px; text-align: left">@item.DeparmentName</td>*@
                       
                        
                       <td style="border-width: 1px; text-align: center">
  
                                <a id="btnDetails" href="javascript:void(0)" onclick="MinisterPaperLaidDetails(@item.PaperLaidId)" style="color: blue;">
                                <img src="~/Images/Common/Details.jpg" width="35px" height="35px" /></a>

                        </td>
                      
 
                    }

                </tr>
                    }

                }
                else
                {
                <p>
                    @Resources.Minister.NoRecords

                </p>
                }
            }
            else
            {
                <p>
                    @Resources.Minister.NoRecords
                </p>
            }

        </table>
    </div>
         </div>
     <div class="grid-ex-footer">
        <div class="grid-pagination">
            @if (count > 0)
            {
                if (count < Model.loopEnd)
                {
                    Model.loopEnd = count;
                }
                <a href="#" onclick="NextButton(@Model.RowsPerPage,1,1,5)"  class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">first page</span></a>
                if (Model.loopStart > 5)
                {                           
                <a href="#" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)"  class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">previous page</span></a>                                          
                }
                <ul class="gridpage-numbers">
                    @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                    {
                        if (i == @Model.selectedPage)
                        {
                                    
                        <li><span class="grid-page-selected">@i</span></li>
                        }
                        else
                        {
                        <li><a href="#"   onclick="NextButton(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                        }
                    }
                </ul>
                    if (Model.loopStart + 5 < @count)
                    {
                <a href="#" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)"  class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">next page</span></a>                         
                    }
                <a href="#" onclick="NextButton(@Model.RowsPerPage,@count,@count-5,@count)"  class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">last page</span></a>
                <span class="grid-page-info">@Model.loopStart - @Model.loopEnd Of @count Pages.</span>
            }
        </div>
    </div>

     @if (Model.mMinisteryMinister.Count > 0)
{ 
    <div>
        <table style="width: 100%; padding: 10px" class="minwb-style1">
            <tr>
                 <td>
                    <input type="button" value="Submit Selected" onclick="SubmitSelectedPaper()" />
                </td>
            </tr>
        </table>

    </div> 
}
</div>
     </div>


<div id='OpenModel' class='modal hide fade in' style="height: 580px; width: 1010px; left: 400px; top: 280px;">
    <div id='OpenContainer'>
    </div>
</div>


<div id='OpenPaper' class='modal hide fade in' style="height: 380px; width: 800px; left: 500px; top: 388px;">
    <div id='OpenPaperContainer'>
    </div>
</div>

 <div id='OpenModelRegister1' class='modal hide fade in'>
                <div id='OpenModelRegisterContainer1'>
                </div>
            </div>

<script>
    $("#DdlCategoryTypeId").change(function () {

        var CategoryTypeId = $("#DdlCategoryTypeId").val();
        var Ltype = "Pending";
        if (CategoryTypeId != null) {

            $.get("/Minister/Minister/SearchPendingMinisterDetails", {

                CategoryTypeId: CategoryTypeId,
                ResultCount: "5",
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5",

            }, function (data) {
                $("#divDataContainer").html(data);

            });
        }
        else {
            alert("Select Business Type First !")
        }
    });

    function SubmitSelectedPaper() {
        var SIds = document.getElementById("SelectedChkbxId").value;
        if (SIds != null && SIds != "") {
            if (confirm("Are you sure to sumbit ?")) {

                $.get("/Minister/Minister/SubmitSelectedPaper", { Ids: SIds }, function (data) {
                    $("#RightSidebar").html(data)
                   // $('#OpenModelRegister1').modal('show')
                    cl.hide();
                });
            }
        }

        else {
            return false;
        }


    }

   

    function SignPdfNotice(DeptActivePaperId) {
        var check = confirm("Are you sure to digitally sign this Minister File ");
        if (check) {
            var cl = new CanvasLoader('canvasloader-container1');
            cl.show();
            $.get("/Minister/Minister/PartialSignMinisterFile", { DeptActivePaperId: DeptActivePaperId }, function (data) {
                $('#OpenModelRegisterContainer1').html(data);
                $('#OpenModelRegister1').modal('show')
                cl.hide();
            });
            return false;
        }
        else {
            return false;
        }


    }


    function SubmitSignIntentian(DeptActivePaperId) {
        $.get("/Minister/Minister/ViewSentPdfMinister", { DeptActivePaperId: DeptActivePaperId }, function (data) {

            $('#OpenContainer').html(data)
            $('#OpenModel').modal('show')
        })
    }


    function ChangedPaper(PaperLaidId, DeptActivePaperId) {
        $.get("/Minister/Minister/ChangedPaperDetails", { PaperLaidId: PaperLaidId, DeptActivePaperId: DeptActivePaperId }, function (data) {

            $('#RightSidebar').html(data)
        })
    }


    function MinisterPaperLaidDetails(PaperLaidId) {
     
        $.get("/Minister/Minister/MinisterPaperLaidDetails", { PaperLaidId: PaperLaidId }, function (data) {

            $('#RightSidebar').html(data)
            
        })
    }


    function SubmitSignIntentian(DeptActivePaperId) {

        $.get("/Minister/Minister/ViewSentPdfMinister", { DeptActivePaperId: DeptActivePaperId }, function (data) {

            $('#OpenContainer').html(data)
            $('#OpenModel').modal('show')
        })
    }


    function LoadLobAsPdf(value) {


        var PaperLaidId = value;

        $.get("/Minister/Minister/GenerateMinisterPdf", { PaperLaidId: PaperLaidId }, function (data) {
            url = url.replace('amp;', '');
            url = url.replace('amp;', '');
            url = url.replace('ID', ID);
            window.open(url, '_blank');

        });

    }


    //function SearchMinster() {

    //    var CategoryTypeId = document.getElementById("DdlCategoryTypeId").value
     
    //    if (CategoryTypeId == null || CategoryTypeId == "") {
    //        alert("Please select Paper Category Type");
           
    //        return false;
    //    }

    //    else {
          
    //        $.get("/Minister/Minister/SearchPendingMinisterDetails", {

    //            CategoryTypeId: CategoryTypeId,
    //           ResultCount: "5",
    //            PageNumber: "1",
    //            RowsPerPage: "10",
    //            loopStart: "1",
    //            loopEnd: "5",


    //        }
    //        , function (data) {
    //            $("#divDataContainer").html(data);
    //            // $('#MinisterDetails').html(data);
    //            $('#divDataContainer').show(500);

    //        });
    //    }
    //}

   

    function NextButton(rPage, pageNo, lStart, lEnd, ResultCount) {

        var pageNumber = pageNo;
        var rowsPerPage = rPage;
        var loopStart = lStart;
        var loopEnd = lEnd;
        var ResultCount = ResultCount

        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Minister/Minister/PartialPendingMinister",
            type: 'GET',
            data: {
                PageNumber: pageNumber,
                RowsPerPage: rowsPerPage,
                loopStart: loopStart,
                loopEnd: loopEnd,
                ResultCount: "5",
            },
            success: function (data) {
                clearHTML();
                $("#divPendingMinister").html(data);

                document.getElementById("divSubmittedMinister").style.display = "none";
                document.getElementById("divPendingMinister").style.display = "block";
                cl.hide();
            }
        });

    }

    function NextAndPreviousButton(rPage, pageNo, lStart, lEnd, ResultCount) {


        var pageNumber = pageNo;
        var rowsPerPage = rPage;
        var loopStart = lStart;
        var loopEnd = lEnd;
        var ResultCount = ResultCount

        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Minister/Minister/PartialPendingMinister",
            type: 'GET',
            data: {
                PageNumber: pageNumber,
                RowsPerPage: rowsPerPage,
                loopStart: loopStart,
                loopEnd: loopEnd,
                ResultCount: "5"
            },
            success: function (data) {
                clearHTML();
                $("#divPendingMinister").html(data);

                document.getElementById("divSubmittedMinister").style.display = "none";
                document.getElementById("divPendingMinister").style.display = "block";
                cl.hide();
            }
        });


    }


    $(document).ready(function () {
        $("#chiefChk").click(function () {
            $(".box").attr("checked", $(this).attr("checked") ? true : false);
        });
    });

    function SubmitSelected() {
        var SIds = document.getElementById("SelectedChkbxId").value;
        var check = confirm("Are you sure to digitally sign this Minister File ");
        if (check) {
            var cl = new CanvasLoader('canvasloader-container1');
            cl.show();
            $.get("/Minister/Minister/SubmitPending", { Ids: SIds }, function (data) {
                $('#OpenModelRegisterContainer1').html(data);
                $('#OpenModelRegister1').modal('show')
                cl.hide();
            });
            return false;
        }
        else {
            return false;
        }


    }

    
    $('#ChkBoxAll').on("click", function () {
        if ($('#ChkBoxAll').attr('checked')) {
            document.getElementById("SelectedChkbxId").value = "";
            $(".Checkbox").each(function () {
                var selectedChkbxId = document.getElementById("SelectedChkbxId").value;
                if (selectedChkbxId == "") {
                    document.getElementById("SelectedChkbxId").value = this.id.substring(4);
                } else {
                    selectedChkbxId = selectedChkbxId + "," + this.id.substring(4);
                    document.getElementById("SelectedChkbxId").value = selectedChkbxId;
                }
                $(this).prop("checked", $("#ChkBoxAll").is(":checked"));
            });
            //alert(document.getElementById("SelectedChkbxId").value);
        }
        else {
            document.getElementById("SelectedChkbxId").value = "";
            $(".Checkbox").each(function () {
                $(this).prop("checked", false);
            });
        }
    });

    function checkChange(id) {
        if (document.getElementById(id).checked) {
            var selectedId = document.getElementById("SelectedChkbxId").value;
            if (selectedId == "") {
                document.getElementById("SelectedChkbxId").value = id.substring(4);
            }
            else {
                selectedId = selectedId + "," + id.substring(4);
                document.getElementById("SelectedChkbxId").value = selectedId;
            }
            //alert(document.getElementById("SelectedChkbxId").value)
        }
        else {
            var selectedId = document.getElementById("SelectedChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(4), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4), "");
            }

            document.getElementById("SelectedChkbxId").value = newvalue;

            //alert(document.getElementById("SelectedChkbxId").value);
        }

        if ($(".Checkbox").not(':checked').length == 0) {
            $('#ChkBoxAll').attr('checked', true)
        }
        else {
            $('#ChkBoxAll').attr('checked', false)
        }
    }
</script>
