﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV

 <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
<span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="Bottm Info" style="text-align:left;margin-left:0px;margin-bottom:2px;">
 @Resources.Minister.PendingByDepartment
</span>

@{    
    var grid = new Lib.Web.Mvc.JQuery.JqGrid.JqGridHelper<SBL.DomainModel.ComplexModel.MinisterNoticecustom>("CommonGrid",
                          
                            dataType: Lib.Web.Mvc.JQuery.JqGrid.JqGridDataTypes.Json,
                            footerEnabled: false,
                            methodType: Lib.Web.Mvc.JQuery.JqGrid.JqGridMethodTypes.Post,
                            pager: true,
                            rowsList: new List<int> { 10, 20, 30, 40, 50 },
                            rowsNumber: 10,
                            onSelectRow: "onSelectRowHandler",
                            sortingName: "NoticeID",
                           
                            sortingOrder: Lib.Web.Mvc.JQuery.JqGrid.JqGridSortingOrders.Desc,
                            url: Url.Action("GetNoticeInBoxList"),
                             postData: new { Noticenumber = Model.NoticeNumber, Subject = Model.Subject, Name = Model.MinID },
                            userDataOnFooter: false,
                            viewRecords: true,
                            autoWidth: true,
                            emptyRecords: @Resources.Minister.NoRecordFound
                            //postDataScript: "function() { return { AssemblyId: $('#AssemblyCodeHome').val(), SessionId: $('#SessionCodeHome').val()}; }"
                        );
                        }
                    @grid.GetHtml()



 
<script>


    jQuery(document).ready(function () {
        @grid.GetJavaScript()
       
        jQuery("#CommonGrid").jqGrid('hideCol', 'evidhanReferenceNumber');
        jQuery("#CommonGrid").jqGrid('setLabel', 'RuleNo', '@Resources.Diaries.Rule')
        jQuery("#CommonGrid").jqGrid('setLabel', 'NoticeNumber', '@Resources.PaperLaidDepartment.Number')
        jQuery("#CommonGrid").jqGrid('setLabel', 'Subject', '@Resources.PaperLaidDepartment.Subject')
        jQuery("#CommonGrid").jqGrid('setLabel', 'MemberName', '@Resources.PaperLaidDepartment.AskedBy')
        jQuery("#CommonGrid").jqGrid('setLabel', 'PaperSent', '@Resources.PaperLaidDepartment.Paper')
        jQuery("#CommonGrid").jqGrid('setLabel', 'DepartmentSubmittedDate', '@Resources.PaperLaidDepartment.Senton')
        jQuery("#CommonGrid").jqGrid('setLabel', 'DesireLayingDate', '@Resources.PaperLaidDepartment.DesireLayingDate')
    });

    function checkChange(id) {
        if (document.getElementById(id).checked) {
            var selectedId = document.getElementById("SelectedChkbxId").value;
            if (selectedId == "") {
                document.getElementById("SelectedChkbxId").value = id.substring(4);
            }
            else {
                selectedId = selectedId + "," + id.substring(4);
                document.getElementById("SelectedChkbxId").value = selectedId;
            }
            //alert(document.getElementById("SelectedChkbxId").value)
        }
        else {
            var selectedId = document.getElementById("SelectedChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(4), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4), "");
            }

            document.getElementById("SelectedChkbxId").value = newvalue;

            //alert(document.getElementById("SelectedChkbxId").value);
        }

        if ($(".Checkbox").not(':checked').length == 0) {
            $('#ChkBoxAll').attr('checked', true)
        }
        else {
            $('#ChkBoxAll').attr('checked', false)
        }
    }

    function SubmitSelectedPaper() {
        var SIds = document.getElementById("SelectedChkbxId").value;

        if (SIds != null && SIds != "") {

            if (confirm("Are you sure to sumbit ?")) {
                $.get("/PaperLaidMinister/PaperLaidMinister/SubmitSelectedPaper", { Ids: SIds }, function (data) {
                    $("#RightSidebar").html(data)

                    cl.hide();
                });
            }
            else {
                return false;
            }



        }

    }




    function onSelectRowHandler(rowId, status, event, Module) {

        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();
        var paperLaidID = 0;
        var id = $('#SessionCodeHome').val();
        var rowData = $(this).jqGrid("getRowData", rowId);



        //Get Paper Laid ID and Status for the Record.
        paperLaidID = rowData.PaperLaidId != "" ? rowData.PaperLaidId : 0;
        
        var status = parseInt(rowData.Status); 
       

        if (status == 1 || status == 2) {
         
            if (paperLaidID == 0) {
                $.ajax({
                    url: "/PaperLaidMinister/PaperLaidMinister/ShowNoticeInboxById",
                    type: 'GET',
                    data: {
                        noticeId: rowData.NoticeID
                    },
                    success: function (data) {
                        if (data) {
                            $("#RightSidebar").html(data)
                            cl2.hide();
                            getNextHideDiv();
                        } else { alert("error"); }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
            else {
                $.ajax({
                    url: "/PaperLaidMinister/PaperLaidMinister/NoticePaperLaidDetails",
                    type: 'GET',
                    data: {

                        PaperLaidId: paperLaidID,
                    },
                    success: function (data) {
                        if (data) {
                            $("#RightSidebar").html(data);
                            cl2.hide();
                            getNextHideDiv();
                        } else { alert("error"); }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
        }
        else if (status == 3) {
            $.ajax({
                url: "/PaperLaidMinister/PaperLaidMinister/SubmittedNoticePaperLaidDetails",
                type: 'GET',
                data: {
                    paperLaidId: paperLaidID
                },
                success: function (data) {
                    if (data) {
                        $("#RightSidebar").html(data);
                        cl2.hide();
                        getNextHideDiv();
                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }
    }
</script>