﻿@using SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models
@model  List<SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models.ReimbursementBillViewModel>
<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }
</style>
<link href="~/assets/css/datepicker.css" rel="stylesheet" />
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />


<div class="row">
    <div class="two-column" id="innerDiv">
        <div class="col-md-6">
            <div id="resize-left" class="ui-widget-content" style="width: 100%;">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="widget-box">
                            <div class="widget-header">
                                <h4 class="widget-title">Attached PDF
                                </h4>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <div class="clearfix">
                                    </div>
                                      
                                    <div class="table-responsive">
                                        <div id="divDataContainer">
                                            @{Html.RenderPartial("~/Areas/AccountsAdmin/Views/SactionedBill/_AttachPdfBillList.cshtml", Model);}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div id="resize-right" style="width: 100%; display: none;" class="ui-widget-content">
            <div id="ReimbursementDiv" style="width: 500px; height: 100%">
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>

<script type="text/javascript">

    var IsValid = true;

    


    function SaveReimburseMent(Id, Action) {
        $("#tblBudgetDetails tr").css('background-color', 'white')
        $('#Row-' + Id).css('background-color', '#ffb752 ')
        var PageSize = $("#PazeSize").val();
        var pageId = $("#pageId").val();
        $.ajax({
            type: "POST",
            url: '/SactionedBill/PopulateAttachPDF',
            data: '{ Id: "' + Id + '",Action: "' + Action + '", pageId: "' + pageId + '",pageSize: "' + PageSize + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#ReimbursementDiv').empty();
                $('#ReimbursementDiv').append(result);
                $('#resize-right').show();
            },
            error: function (error) {
                $('#ReimbursementDiv').empty();
                $('#ReimbursementDiv').append(error.responseText);
                $('#resize-right').show();

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }

    function AttachPDF() {

        $('.ErrorMessage').remove('');
        if (IsValid == true) {

            var QData = $('#ReimbursementBillForm').serialize();
           
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '/SactionedBill/SaveAttachPDF',
                data: QData,
                beforeSend: function () {

                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result);
                    $('#ReimbursementDiv').empty();
                    $('#resize-right').hide();
                },
                error: function (result) {

                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result.responseText);
                    $('#ReimbursementDiv').empty();
                    $('#resize-right').hide();
                },

                complete: function (result) {
                    debugger;
                    $('#loader-wrapper').hide();
                }
            });
        }
    };


    function GetDataList(pageId) {
        var PageSize = $("#PazeSize").val();
        $.ajax({
            type: "POST",
            url: '/SactionedBill/GetBillByPaging',
            data: '{ pageId: "' + pageId + '",pageSize: "' + PageSize + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(result);
            },
            error: function (error) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(error.responseText);

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
            }
        });
    }
</script>

