﻿@model SBL.DomainModel.Models.Budget.mEstablishBill
@using SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models
<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }
</style>

<link href="~/assets/css/datepicker.css" rel="stylesheet" />


<form method="post" action="/SchemeSetup/SaveQualification" id="EstablishBillForm">
    <input type="hidden" id="pageId" name="pageId" value="@ViewBag.CurrentPage" />
    <input type="hidden" id="PageName" name="PageName" value="@ViewBag.PageName" />
    <div class="col-sm-10" style="width: 98%;">
        <div class="widget-box">
            <div class="widget-header">

                <h4 class="widget-title">Update Sanctioned Information</h4>

            </div>
            <div class="widget-body">
                <div class="widget-main no-padding-right no-padding-left">
                    <div class="col-md-12 alert alert-info">
                        <div class="col-md-6">
                            Bill Number:
           <label>@Model.BillNumber</label>

                          
                        </div>
                        <div class="col-md-6">
                            Gross Amount:
            <label>@Model.TotalGrossAmount</label>

                        </div>
                    </div>
                    <div class="profile-user-info profile-user-info-striped">

                        <div class="profile-info-row">

                            @Html.HiddenFor(model => model.EstablishBillID)
                            @Html.HiddenFor(m => m.Mode)
                            @Html.HiddenFor(m => m.BillType)
                            @Html.HiddenFor(m => m.BudgetId)
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name">@Resources.MasterDataDashboard.BillType:</div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">
                                    @Model.BillTypeName
                                </div>
                                <div class="help-block col-xs-12 col-sm-reset inline">
                                </div>
                            </div>
                        </div>

                         

                        <div class="profile-info-row">
                            <div class="profile-info-name">@Resources.MasterDataDashboard.GrossAmount:</div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">
                                    @if (Model.Mode == "Add")
                                    {
                                        @Html.TextBoxFor(model => model.TotalGrossAmount, new { Value = "", @class = "col-xs-10 col-sm-10 RemoveBorder IsnumericClass", @placeholder = @Resources.MasterDataDashboard.GrossAmount, @autocomplete = "off" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.TotalGrossAmount, new { @class = "col-xs-10 col-sm-10 RemoveBorder IsnumericClass", @placeholder = @Resources.MasterDataDashboard.GrossAmount, @autocomplete = "off" })
                                    }
                                </div>
                                <div class="help-block col-xs-12 col-sm-reset inline">
                                    @Html.ValidationMessageFor(model => model.TotalGrossAmount)
                                </div>
                            </div>
                        </div>



                        <div class="profile-info-row">
                            <div class="profile-info-name">Advance Taken :</div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">
                                    @if (Model.TakenAmount.ToString() == "0.00")
                                    {
                                        @Html.TextBoxFor(model => model.TakenAmount, new { Value = "", @class = "col-xs-10 col-sm-10 RemoveBorder IsnumericClass", @placeholder = " Advance Taken", @autocomplete = "off", @readonly = "readonly" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.TakenAmount, new { @class = "col-xs-10 col-sm-10 RemoveBorder IsnumericClass", @placeholder = " Advance Taken", @autocomplete = "off", @readonly = "readonly" })
                                    }
                                </div>
                                <div class="help-block col-xs-12 col-sm-reset inline">
                                </div>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name">Advance Bill No :</div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">
                                    @if (Model.AdvanceBillNo == 0)
                                    {
                                        @Html.TextBoxFor(model => model.AdvanceBillNo, new { Value = "", @class = "col-xs-10 col-sm-10 RemoveBorder IsnumericClass", @placeholder = " Advance Bill No.", @autocomplete = "off" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.AdvanceBillNo, new { @class = "col-xs-10 col-sm-10 RemoveBorder IsnumericClass", @placeholder = " Advance Bill No.", @autocomplete = "off" })
                                    }
                                </div>
                                <div class="help-block col-xs-12 col-sm-reset inline">


                                    <button type="button" class="btn btn-sm btn-primary" onclick="GetAdvanceBillDetail();" name="Reset" id="btnReset" value="Reset">
                                        Get Detail
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name">Advance Taken Date:</div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">
                                    @if (Convert.ToDateTime(Model.TakenAmountDate).ToString("MM/dd/yyyy") == "01/01/1753")
                                    {
                                        @Html.TextBoxFor(model => model.TakenAmountDateS, new { Value = "", @class = "col-xs-10 col-sm-10 RemoveBorder ", @placeholder = @Resources.MasterDataDashboard.TakenAmountDate, @autocomplete = "off", @maxlength = "41", @readonly = "readonly" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.TakenAmountDateS, "{0:dd/MM/yyyy}", new { @class = "col-xs-10 col-sm-10 RemoveBorder ", @placeholder = @Resources.MasterDataDashboard.TakenAmountDate, @autocomplete = "off", @maxlength = "41", @readonly = "readonly" })
             
                                    }
                                </div>
                                <div class="help-block col-xs-12 col-sm-reset inline">
                                    @Html.ValidationMessageFor(model => model.TakenAmountDateS)
                                </div>
                            </div>
                        </div>

                    

                        <div class="profile-info-row">
                            <div class="profile-info-name">Sanctioned amount :</div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">
                                    @if (Model.TotalAmount == 0)
                                    {
                                        @Html.TextBoxFor(model => model.TotalAmount, new { Value = @Model.TotalAmount, @class = "col-xs-10 col-sm-10 RemoveBorder IsnumericClass", @placeholder = "Saction Amount", @autocomplete = "off" })
                                    }
                                    else
                                    {
                                       
                                        @Html.TextBoxFor(model => model.TotalAmount, new { Value = @Model.TotalAmount, @class = "col-xs-10 col-sm-10 RemoveBorder IsnumericClass", @placeholder = "Saction Amount", @autocomplete = "off" })
                                    }
                                </div>
                                <div class="help-block col-xs-12 col-sm-reset inline">
                                    @Html.ValidationMessageFor(model => model.TotalAmount)

                                </div>
                            </div>
                        </div>
                     

                        
                      
                    </div>
                </div>
                @if (Model.IsChallanGenerate == false || Model.IsReject == true)
                {
                    <div class="wizard-actions">
                        <div style="margin-bottom: 40px;">
                            <div class="form-inline">

                                <button type="button" id="UpdateReimburseBill" onclick="SaveEstablishBill();" class="btn btn-primary" value="Save">
                                    <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                    @if (Model.Mode == "Edit")
                                    {<span>Update</span>}
                                    else
                                    {<span>Save</span>}
                                </button>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</form>

<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
     
        $('.datepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "mm/dd/yyyy"
        });

        $('.datepicker').datepicker({ autoclose: true }).on('changeDate', function (ev) {
            var Id = this.id;
            if ($("#" + Id).val() != '') {
                $("#" + Id).next().hide();
                $("#" + Id).css("border", "1px solid green");
            }
        });


        $("#BillReimbursement").addClass("active open");
        $("#BillReimbursementSubMenu").addClass("nav-show").css("display", "block");
        $("#NonTravelBill").addClass("active");
        $("#BillReimbursementIcon").removeClass("fa-comment").addClass("fa-comment-o");

        $('.RemoveBorder').keypress(function () {
            var Id = this.id;
            $("#" + Id).next().hide();
            $("#" + Id).css("border", "1px solid green");
        });

        $('.RemoveDdlBorder').change(function () {

            var Id = this.id;
            if ($("#" + Id).val() != '') {
                $("#" + Id).next().hide();
                $("#" + Id).css("border", "1px solid green");
            }
            else {
                $("#" + Id).after("<span class='ErrorMessage'>Required</span>");
                $("#" + Id).css("border", "1px solid red");
            }

        });

        $('.IsnumericClass').keypress(function (e) {
            var key = (e.which) ? e.which : e.keyCode;
            if ((key >= 48 && key <= 57) || (key == 44) || (key == 8)) {

                return true;
            }
            else {
                return false;
            }
        });
    });


   

     
    $('#TakenAmount').on("keyup", function () {
        $('.ErrorMessage').remove('');
        var TakenAmount = parseInt(this.value);
        var GrossAmount = parseInt($('#GrossAmount').val());
        if (TakenAmount > GrossAmount) {
            $('#TakenAmount').after("<span class='ErrorMessage'>Advance taken can't be greater than Gross Amount.</span>");
            $("#TakenAmount").css("border", "1px solid red");
        }
        else {
            var SactionAmount = GrossAmount - TakenAmount;
            if (!isNaN(SactionAmount)) {
                $('#SactionAmount').val(SactionAmount);
            }
            else {
                $('#SactionAmount').val(GrossAmount);
            }
        }


    });


    function GetAdvanceBillDetail() {
        var EstablishBillId = $('#AdvanceBillNo').val();
        var SactionAmount = $('#TotalAmount').val();
        var BudgetId = $('#BudgetId').val();

        $('.ErrorMessage').remove('');
        if (EstablishBillId != '') {
            $.ajax({
                type: "POST",
                url: '/SactionedBill/GetAdvanceBillDetail',
                data: '{ EstablishBillId: "' + EstablishBillId + '",BudgetId: "' + BudgetId + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    debugger;
                    if (result.EstablishBillID > 0) {
                        var value = new Date(parseInt(result.BillProcessingDate.replace(/(^.*\()|([+-].*$)/g, '')));
                        var month = value.getMonth() + 1;
                        var TakenAmountDate = value.getDate() + "/" + month + "/" + value.getFullYear();

                        var MainSanctionAmt = parseFloat(SactionAmount) - parseFloat(result.TotalAmount);
                        $('#TakenAmountDateS').val(TakenAmountDate);
                        $('#TotalAmount').val(MainSanctionAmt);
                        $('#TakenAmount').val(result.TotalAmount);
                        $('#TotalGrossAmount').val(MainSanctionAmt);
                        
                    }
                    else {
                        $('#AdvanceBillNo').val('');
                        $('#AdvanceBillNo').after("<span class='ErrorMessage'>No data available.</span>");
                        $("#AdvanceBillNo").css("border", "1px solid red");
                        $('#TakenAmountDateS').val('');
                        $('#TakenAmount').val('');
                        $('#AdvanceBillNo').val('');
                        $('#TotalAmount').val(SactionAmount);
                        
                    }
                },
                error: function (error) {
                    if (error.responseText.EstablishBillID > 0) {
                        var value = new Date(parseInt(error.responseText.BillProcessingDate.replace(/(^.*\()|([+-].*$)/g, '')));
                        var TakenAmountDate = value.getDate() + "/" + value.getMonth() + 1 + "/" + value.getFullYear();

                        var MainSanctionAmt = parseFloat(SactionAmount) - parseFloat(error.responseText.TotalAmount);
                        $('#TakenAmountDateS').val(TakenAmountDate);
                        $('#TotalAmount').val(MainSanctionAmt);
                        $('#TakenAmount').val(error.responseText.TotalAmount);
                        $('#TotalGrossAmount').val(MainSanctionAmt);
                    }
                    else {
                        $('#AdvanceBillNo').val('');
                        $('#AdvanceBillNo').after("<span class='ErrorMessage'>No data available.</span>");
                        $("#AdvanceBillNo").css("border", "1px solid red");
                        $('#TakenAmountDateS').val('');
                        $('#TakenAmount').val('');
                        $('#AdvanceBillNo').val('');
                        $('#TotalAmount').val(SactionAmount);
                    }
                },
                complete: function (results) {
                    $('#loader-wrapper').hide();
                }
            });
        }
        else {
            $("#AdvanceBillNo").after("<span class='ErrorMessage'>Required</span>");
            $("#AdvanceBillNo").css("border", "1px solid red");
        }
    }


</script>

