﻿@model   List<SBL.DomainModel.Models.Budget.mEstablishBill>

@{  int count = 0;
  
}
<!-- PAGE CONTENT BEGINS -->

<div class="pass-table">
    @if (Model != null)
    {
        if (Model.Count() > 0)
        {       
         
        <div class="table-header">
            <div class="form-group">
                @if (ViewBag.Msg != null)
                {
                    <div class="@ViewBag.Class" id="MsgDiv">
                        <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
                        <strong><i class="ace-icon fa fa-check-square-o"></i>@ViewBag.Notification ! </strong>@ViewBag.Msg
                    </div>
                }

            </div>
        </div>  
        <table class="table  table-bordered  dataTable" id="tblBudgetDetails" aria-describedby="sample-table-2_info">
            <thead>
                <tr role="row">
                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>
                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Bill No.</th>
                    <th class="sorting SortingData" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Bill Type</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Gross Amount</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Sanction Amount</th>
                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Action</th>

                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                @foreach (var item in Model)
                {
                    count = count + 1; 
                  
                    <tr id="Row-@item.EstablishBillID"  >
                        <td class="center">
                            @count
                        </td>
                        <td class="center">
                            @item.BillNumber
                        </td>
                        <td class="center">
                            @item.BillTypeName
                        </td>
                        <td style="width: 30%">
                            @item.TotalGrossAmount
                        </td>
                        <td style="width: 20%">
                            @item.TotalAmount</td>


                        <td class="center" style="width: 10%">
                            <div class="hidden-sm hidden-xs action-buttons">
                                <a data-rel="tooltip" class="green tooltip-success" title="Edit" onclick="PopulateEstablishBill(@item.EstablishBillID,'Edit');" href="#">
                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                </a>
                            </div>
                            <div class="hidden-md hidden-lg">
                                <div class="inline position-relative">
                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                        <li>
                                            <a  href="#" onclick="PopulateEstablishBill(@item.EstablishBillID,'Edit');" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                <span class="green">
                                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>                                                                
                }

            </tbody>
        </table>
        <!-- PAGE CONTENT ENDS -->
         
        }
        else
        {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <strong>@Resources.MasterDataDashboard.NoReimbursementBillFound</strong><br />
                </div>
            </div>
        </div>
        }

    }
</div>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<!-- /.col -->
<script type="text/javascript">

    $(document).ready(function () {
        $('#tblBudgetDetails').dataTable();


        setTimeout(function () {
            $("#MsgDiv").slideUp(400);
        }, 2000);


    });

     
     

</script>
