﻿@using SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models
@model  List<SBL.DomainModel.Models.Budget.mEstablishBill>


<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }
</style>
<link href="~/assets/css/datepicker.css" rel="stylesheet" />
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<div class="row">
    <div class="two-column" id="innerDiv">
        <div class=" col-md-6">
            <div id="resize-left" class="ui-widget-content" style="width: 100%;">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="widget-box">
                            <div class="widget-header">
                                <h4 class="widget-title">Update Advance Bill
                                </h4>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <div class="clearfix">
                                    </div>

                                    <div class="table-responsive">
                                        <br />
                                        <br />
                                        <div id="divDataContainer">
                                            @{Html.RenderPartial("~/Areas/AccountsAdmin/Views/SactionedBill/_SactionesBillList.cshtml", Model);}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div id="resize-right" style="width: 100%; display: none;" class="ui-widget-content">

            <div id="divRightContainer" style="position: absolute; top: 0; height: 21px; width: 100%; display: block;">
                <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                    <i data-icon2="ace-icon fa fa-angle-double-right" onclick="resizeClick(0)" data-icon1="ace-icon fa fa-angle-double-left" class="ace-icon fa fa-angle-double-right roundicon"></i>
                </div>
            </div>
            <div class="row-fluid" style="overflow: hidden">
                <div class="span12">
                    <div>
                        <div id="RightSidebar" style="width: 100%">
                        </div>
                        <div id="ReimbursementDiv" style="width: 100%; height: 100%">
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>




<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script type="text/javascript">

    function PopulateEstablishBill(Id, Action) {
        $("#tblBudgetDetails tr").css('background-color', 'white')
        $('#Row-' + Id).css('background-color', '#ffb752 ')
        var PageSize = $("#PazeSize").val();
        var pageId = $("#pageId").val();
        $.ajax({
            type: "POST",
            url: '/SactionedBill/PopulateEstablishBill',
            data: '{ Id: "' + Id + '",Action: "' + Action + '", pageId: "' + pageId + '",pageSize: "' + PageSize + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#ReimbursementDiv').empty();
                $('#ReimbursementDiv').append(result);
                $('#resize-right').show();
            },
            error: function (error) {
                $('#ReimbursementDiv').empty();
                $('#ReimbursementDiv').append(error.responseText);
                $('#resize-right').show();

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }


    function SaveEstablishBill() {
        debugger;
        $('.ErrorMessage').remove('');
        var IsValid = true;

        if ($('#GrossAmount').val() != '' && $('#SactionAmount').val() != '') {
            if (parseInt($('#SactionAmount').val()) > parseInt($('#GrossAmount').val())) {
                $('#SactionAmount').after("<span class='ErrorMessage'>Sanction Amount can't be greater than Gross Amount</span>");
                $("#SactionAmount").css("border", "1px solid red");
                $('#SactionAmount').focus();
                IsValid = false;
            }
        }

        if (IsValid == true) {

            var QData = $('#EstablishBillForm').serialize();

            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '/SactionedBill/SaveEstablishBill',
                data: QData,
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result);
                    $('#ReimbursementDiv').empty();
                    $('#resize-right').hide();
                },
                error: function (result) {

                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result.responseText);
                    $('#ReimbursementDiv').empty();
                    $('#resize-right').hide();
                },

                complete: function (result) {
                    $('#loader-wrapper').hide();
                }
            });
        }
    }

    function GetDataList(pageId) {
        var PageSize = $("#PazeSize").val();
        $.ajax({
            type: "POST",
            url: '/SactionedBill/GetBillByPaging',
            data: '{ pageId: "' + pageId + '",pageSize: "' + PageSize + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(result);
            },
            error: function (error) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(error.responseText);

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
            }
        });
    }
</script>

