﻿@using SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models
@model  List<SBL.DomainModel.Models.Budget.mOtherFirm>

<div class="row">
            <div class="two-column" id="innerDiv">
                <div class=" col-md-6 ">
                    <div id="resize-left" class="ui-widget-content" style="width:100%;">
                      
                            <div class="row">
								<div class="col-xs-12">
                                    <div class="widget-box">
			                            <div class="widget-header">
                                            <h4 class="widget-title">
                                     Other Firm
                                            </h4>
                                            
                                            <div class="widget-toolbar no-border">
                                                <button class="btn btn-xs btn-primary bigger" onclick="PoplateFirm(0,'Add');">
                                                    <i class="ace-icon fa fa-pencil-square-o"></i>
                                                    Add Other Firm
                                                </button>
                                            </div>
			                            </div>
			                            <div class="widget-body">
				                            <div class="widget-main">
					                            <div class="clearfix">
                                                <div class="table-responsive">
                                                    <div>
                                                         <button class="btn  btn-sm btn-info pull-right" type="button"  id="Export" onclick="ExportOtherFirmExcel();">
                                                    <i class="ace-icon fa fa-download white  bigger-150"></i>
                                                    <span class="bigger-110">Download Excel</span>
                                                </button>
                                                        <br />
                                                    </div>
									                <div id="divFrimDataContainer">
                                        @{Html.RenderPartial("~/Areas/AccountsAdmin/Views/OtherFirm/_OtherFirmList.cshtml", Model);}
                                    </div>
                                                </div>
				                            </div>
			                            </div>
		                            </div>
								</div>
                            </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="leftdivsantion">
            <div id="resize-right" style="width:100%; display:none;" class="ui-widget-content">
                <div class="widget-box sblFullScreen" >
                     <div class="widget-header widget-header-flat">
                        <h4 class="widget-title">Submit Other Firm</h4>
                        <div class="widget-toolbar">
                            <a href="#" data-action="fullscreen" class="red"> <i class="ace-icon fa fa-expand bigger-150"></i> </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div id="RightSidebar" style="width: 100%";>
                                
                            </div>
                            <div id="FrimDataDiv" style="width:100%;height:100%">

                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>

    <script>
        $("#sizeDown").click(function () {
            if ($("body").hasClass('sizeLarge')) {
                $("body").css("font-size", "13px");
                $("body").removeClass('sizeLarge');
            } else {
                $("body").css("font-size", "10px");
                $("body").addClass('sizeSmall');
            }
        });

        $("#sizeUp").click(function () {
            if ($("body").hasClass('sizeSmall')) {
                $("body").css("font-size", "13px");
                $("body").removeClass('sizeSmall');
            } else {
                $("body").css("font-size", "18px");
                $("body").addClass('sizeLarge');
            }
        });

        $('#sidebar-collapse').on('click', function () {

            var parentWidth = $('#resize-left').parent().width();
            if ($('#sidebar').hasClass('menu-min')) {
                parentWidth = parentWidth - 130;
            } else { parentWidth = parentWidth + 110; }

            var remainingSpace = parentWidth - $('#resize-left').outerWidth();
            var divTwo = $('#resize-left').next();
            var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
            divTwo.css('width', divTwoWidth + 'px');

            //alert("ds");
            setTimeout(function () {
                $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
            }, 50);
        });
        $("#resize-left").resizable({
            handles: 'e',
            minWidth: '600',
            maxWidth: '850',
            /*    grid: [ 20, 10 ], */
            resize: function () {
                var remainingSpace = $(this).parent().width() - $(this).outerWidth();
                var divTwo = $(this).next();
                var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
                divTwo.css('width', (divTwoWidth - 20) + 'px');

                $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
            }

        });
</script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $('#resize-right').hide();
        $('#resize-right-Santion').hide();
        $("#resize-left").css("width", "550px");
        $("#leftdivsantion").css("width", "476px");
    });



    function PoplateFirm(Id, Action) {
        $("#resize-left").css("width", "550px");
        $("#leftdivsantion").css("width", "476px");
        $("#tblOtherFirmDetails tr").css('background-color', 'white')
        $('#Row-' + Id).css('background-color', '#ffb752 ')

        var PageSize = $("#PazeSize").val();
        var pageId = $("#pageId").val();
        $.ajax({
            type: "POST",
            url: '/OtherFirm/PopulateOtherFirm',
            data: '{ Id: "' + Id + '",Action: "' + Action + '", pageId: "' + pageId + '",pageSize: "' + PageSize + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#FrimDataDiv').empty();
                $('#FrimDataDiv').append(result);
                $('#resize-right').show();
            },
            error: function (error) {
                $('#FrimDataDiv').empty();
                $('#FrimDataDiv').append(error.responseText);
                $('#resize-right').show();

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }


    function RejectOtherFirm(BillId) {
        var PageSize = $("#PazeSize").val();
        var pageId = $("#pageId").val();
        $.ajax({
            type: "POST",
            url: '/OtherFirm/RejectFirm',
            data: '{ Id: "' + BillId + '",pageId: "' + pageId + '",pageSize: "' + PageSize + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divFrimDataContainer').empty();
                $('#divFrimDataContainer').append(result);

            },
            error: function (result) {
                $('#divFrimDataContainer').empty();
                $('#divFrimDataContainer').append(result.responseText);
            },
            complete: function (result) {
                $('#loader-wrapper').hide();
            }
        });
    }

    function UpdateOtherFirm() {
        $('.ErrorMessage').remove('');
        var IsValid = true;

        if ($('#AccNo').val() == '') {
            $('#AccNo').css("border", "1px solid red");
            $('#AccNo').after("<span class='ErrorMessage'>Account Number  Required</span>");
            IsValid = false;
        }
        if ($('#Name').val() == '') {
            $('#Name').css("border", "1px solid red");
            $('#Name').after("<span class='ErrorMessage'> Name  Required</span>");
            IsValid = false;
        }

        if ($('#Address').val() == '') {
            $('#Address').after("<span class='ErrorMessage'>Address   Required</span>");
            $("#Address").css("border", "1px solid red");
            IsValid = false;

        }

        //if ($('#EmailId').val() == '') {
        //    $('#EmailId').after("<span class='ErrorMessage'>Email Id required</span>");
        //    $("#EmailId").css("border", "1px solid red");
        //    IsValid = false;
        //}

        if ($('#IFSCCode').val() == '') {
            $('#IFSCCode').after("<span class='ErrorMessage'>IFSC Code required</span>");
            $("#IFSCCode").css("border", "1px solid red");
            IsValid = false;
        }

        if (IsValid == true) {

            var QData = $('#OtherFirmForm').serialize();
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '/OtherFirm/SaveOtherFirm',
                data: QData,
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divFrimDataContainer').empty();
                    $('#divFrimDataContainer').append(result);
                    $('#FrimDataDiv').empty();
                    $('#resize-right').hide();
                },
                error: function (result) {
                    $('#divFrimDataContainer').empty();
                    $('#divFrimDataContainer').append(result.responseText);
                    $('#FrimDataDiv').empty();
                    $('#resize-right').hide();
                },

                complete: function (result) {
                    $('#loader-wrapper').hide();
                    $("#resize-left").css("width", "700px");
                }
            });
        }
    }
    function GetDataList(pageId) {
        var PageSize = $("#PazeSize").val();
        $.ajax({
            type: "POST",
            url: '/OtherFirm/GetBillByPaging',
            data: '{ pageId: "' + pageId + '",pageSize: "' + PageSize + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divFrimDataContainer').empty();
                $('#divFrimDataContainer').append(result);
            },
            error: function (error) {
                $('#divFrimDataContainer').empty();
                $('#divFrimDataContainer').append(error.responseText);

            },
            complete: function (results) {
                $('#loader-wrapper').hide();
            }
        });
    }

    function ExportOtherFirmExcel() {

        $('#loader-wrapper').show();
      
        $('body').prepend("<form method='post' action='/AccountsAdmin/OtherFirm/DownloadExcel' style='top:-3333333333px;' id='tempForm'></form>");
        $('#tempForm').submit();
        $("tempForm").remove();

        setTimeout(function () {
            $('#loader-wrapper').hide();
        }, 2000);
    }
</script>
