﻿@{
    ViewBag.Title = "AddReceipent";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@Styles.Render("~/bundles/jQueryCss")



<div class="page-content">
    <!-- #section:settings.box -->

     <div class="page-header">
                    <h3>Recipient Groups
                    </h3>
                </div>
    <!-- /section:settings.box -->
    <div class="row">



        <div class="col-xs-12">
            @*<div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>*@
            @using (Html.BeginForm("SaveUpdatedUserDetails", "UserRegistration", FormMethod.Post, new { @id = "UserRegistrationForm", @class = "form-horizontal", @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">

                    <div class="col-xs-12">
                        <div class="col-xs-10">

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <label class="col-sm-3 control-label" for="form-field-1">Group Name:</label>

                                    <div class="col-sm-9" style="margin-top: 5px;">
                                        @Html.TextBox("GroupName", null, new { @style = "width:230px;" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="form-field-1">User Type:</label>
                                <div class="col-sm-9" style="margin-top: 5px; padding-left: 18px;">
                                    <input type="radio" id="memberRadiobtn" style="margin-top: 4px;" />
                                    <label style="margin-top: 1px" class="lbl">Member's</label>
                                    <input type="radio" id="ministerRadiobtn" style="margin-top: 4px;" />
                                    <label style="margin-top: 1px" class="lbl">Minister's</label>
                                    <input type="radio" id="employeeRadiobtn" style="margin-top: 4px;" />
                                    <label style="margin-top: 1px" class="lbl">Employee's</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-12" id="employeDiv" hidden="hidden">
                                    <label class="col-sm-3 control-label" for="form-field-1">Employee Type:</label>
                                    <div class="col-sm-9" style="margin-top: 5px;">
                                        <select id="empdroplst" style="width: 230px;">
                                            <option value="0">Select Employee Type  </option>
                                            <option value="1">Secretory  </option>
                                            <option value="2">Head of Department </option>
                                            <option value="3">Vidhan Sabha Staff</option>
                                            <option value="4">Other Employees</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" hidden="hidden" id="departmentlst">
                                <div class="col-xs-12">
                                    <label class="col-sm-3 control-label" for="form-field-1">Department:</label>
                                    <div class="col-sm-9" style="margin-top: 5px;">
                                        <select style="width: 230px;">
                                            <option value="HPD0001">Health Department</option>
                                            <option value="HPD0002">Irrigation Department</option>
                                            <option value="HPD0003">Agricultural Department</option>
                                            <option value="HPD0004">Poultry Department</option>
                                            <option value="HPD0005">Fishery Department</option>
                                            <option value="HPD0006">Industry Department</option>
                                            <option value="HPD0007">Transport Department</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="MinistryTable" hidden="hidden">
                                @{
                                    Html.RenderPartial("_MinisterTable");
                                }
                            </div>

                            <div class="form-group" id="MemberTable" hidden="hidden">
                                @{
                                    Html.RenderPartial("_MemberTable");
                                }
                            </div>

                            <div class="form-group" id="EmployeeTable" hidden="hidden">
                                @{
                                    Html.RenderPartial("_EmployeTable");
                                }
                            </div>

                            <div class="form-group" id="groupTable">
                                @{
                                    Html.RenderPartial("_AddtoReceipentGroup");
                                }
                            </div>

                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="clearfix form-actions">
                        <div class="col-xs-12">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-10">
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="button" class="btn btn-info" value="Save" name="submitBttn" />
                                    @*onclick="return checkValidation();" />*@

                                    &nbsp; &nbsp; &nbsp;

                                        <input type="button" class="btn" value=" Cancel" name="submitBttn" style="margin-left: 10px" onclick="CancelReceipentForm();" />
                                    <!-- onclick="CancelForm();" -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</div>
<script>

    $("#memberRadiobtn").click(function () {

        $("#ministerRadiobtn").prop('checked', false);
        $("#employeeRadiobtn").prop('checked', false);

        $("#hodRadiobtn").prop('checked', false);
        $("#othersRadiobtn").prop('checked', false);
        $("#VSStaffRadiobtn").prop('checked', false);
        $("#secrotoryRadiobtn").prop('checked', false);

        $("#employeDiv").hide();

        $("#departmentlst").hide();

        $("#MinistryTable").hide();

        $("#MemberTable").show();

        $("#EmployeeTable").hide();

        $("#employeDiv").hide();
    });
    $("#ministerRadiobtn").click(function () {

        $("#memberRadiobtn").prop('checked', false);
        $("#employeeRadiobtn").prop('checked', false);

        $("#hodRadiobtn").prop('checked', false);
        $("#othersRadiobtn").prop('checked', false);
        $("#VSStaffRadiobtn").prop('checked', false);
        $("#secrotoryRadiobtn").prop('checked', false);


        $("#employeDiv").hide();

        $("#departmentlst").hide();

        $("#MinistryTable").show();

        $("#MemberTable").hide();

        $("#EmployeeTable").hide();

        //$("#employeDiv").hide();
    });
    $("#employeeRadiobtn").click(function () {

        $("#memberRadiobtn").prop('checked', false);
        $("#ministerRadiobtn").prop('checked', false);

        $("#hodRadiobtn").prop('checked', false);
        $("#othersRadiobtn").prop('checked', false);
        $("#VSStaffRadiobtn").prop('checked', false);
        $("#secrotoryRadiobtn").prop('checked', false);

        $("#employeDiv").hide();

        $("#departmentlst").hide();

        $("#MinistryTable").hide();

        $("#MemberTable").hide();

        $("#EmployeeTable").hide();

        $("#employeDiv").show();
    });

    $("#secrotoryRadiobtn").click(function () {

        $("#hodRadiobtn").prop('checked', false);
        $("#othersRadiobtn").prop('checked', false);
        $("#VSStaffRadiobtn").prop('checked', false);

        $("#EmployeeTable").hide();

        $("#departmentlst").hide();

        $("#MinistryTable").hide();

        $("#MemberTable").hide();

        $("#EmployeeTable").show();



    });
    $("#hodRadiobtn").click(function () {

        $("#secrotoryRadiobtn").prop('checked', false);
        $("#othersRadiobtn").prop('checked', false);
        $("#VSStaffRadiobtn").prop('checked', false);

        $("#EmployeeTable").hide();

        $("#departmentlst").hide();

        $("#MinistryTable").hide();

        $("#MemberTable").hide();

        $("#EmployeeTable").show();
    });

    $("#othersRadiobtn").click(function () {

        $("#secrotoryRadiobtn").prop('checked', false);
        $("#hodRadiobtn").prop('checked', false);
        $("#VSStaffRadiobtn").prop('checked', false);

        $("#departmentlst").show();

        $("#MinistryTable").hide();

        $("#MemberTable").hide();

        $("#EmployeeTable").hide();

    });
    //option:selected
    $("#VSStaffRadiobtn").click(function () {

        $("#secrotoryRadiobtn").prop('checked', false);
        $("#hodRadiobtn").prop('checked', false);
        $("#othersRadiobtn").prop('checked', false);

        $("#EmployeeTable").hide();

        $("#departmentlst").hide();

        $("#MinistryTable").hide();

        $("#MemberTable").hide();

        $("#EmployeeTable").show();

    });

    $("#departmentlst").change(function () {

        $("#EmployeeTable").hide();

        $("#MinistryTable").hide();

        $("#MemberTable").hide();

        $("#EmployeeTable").show();


    });

    $("#empdroplst").change(function () {
        var empval = $("#empdroplst option:selected").val();

        if (empval == "1") {

            $("#EmployeeTable").hide();

            $("#departmentlst").hide();

            $("#MinistryTable").hide();

            $("#MemberTable").hide();

            $("#EmployeeTable").show();

        }
        else if (empval == "2") {

            $("#EmployeeTable").hide();

            $("#departmentlst").hide();

            $("#MinistryTable").hide();

            $("#MemberTable").hide();

            $("#EmployeeTable").show();
        }
        else if (empval == "3") {

            $("#EmployeeTable").hide();

            $("#departmentlst").hide();

            $("#MinistryTable").hide();

            $("#MemberTable").hide();

            $("#EmployeeTable").show();

        }
        else if (empval == "4") {
            $("#departmentlst").show();

            $("#MinistryTable").hide();

            $("#MemberTable").hide();

            $("#EmployeeTable").hide();


        }
        else if (empval == "0") {
            $("#departmentlst").hide();
            $("#EmployeeTable").hide();
        }

    });



    $("#button").click(function () { });
</script>


<script type="text/javascript">

    $.fn.dataTableExt.oApi.fnAddTr = function (oSettings, nTr, bRedraw) {
        if (typeof bRedraw == 'undefined') {
            bRedraw = true;
        }

        var nTds = nTr.getElementsByTagName('td');
        if (nTds.length != oSettings.aoColumns.length) {
            alert('Warning: not adding new TR - columns and TD elements must match');
            return;
        }

        var aData = [];
        var aInvisible = [];
        for (var i = 0 ; i < nTds.length ; i++) {
            aData.push(nTds[i].innerHTML);
            if (!oSettings.aoColumns[i].bVisible) {
                aInvisible.push(i);
            }
        }

        /* Add the data and then replace DataTable's generated TR with ours */
        var iIndex = this.oApi._fnAddData(oSettings, aData);
        nTr._DT_RowIndex = iIndex;
        oSettings.aoData[iIndex].nTr = nTr;

        oSettings.aiDisplay = oSettings.aiDisplayMaster.slice();

        // Hidding invisible columns
        for (var i = (aInvisible.length - 1) ; i >= 0 ; i--) {
            oSettings.aoData[iIndex]._anHidden[i] = nTds[aInvisible[i]];
            nTr.removeChild(nTds[aInvisible[i]]);
        }

        // Redraw
        if (bRedraw) {
            this.oApi._fnReDraw(oSettings);
        }
    };


</script>
