﻿@model  IEnumerable<SBL.eLegistrator.HouseController.Web.Areas.Admin.Models.FormsViewModel>
@{
    ViewBag.Title = "FAQIndex";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    int count = 0;
}
<style>
   pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
}

</style>
@Html.Partial("_LeftMenu")
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("FAQIndex", "Admin")">Home</a>
            </li>

            <li>
                <a href="@Url.Action("FAQIndex", "Admin")">FAQ</a>
            </li>
             <li class="active">@Resources.MasterDataDashboard.List</li>
            @*<li class="active">List</li>*@
        </ul>

        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>

    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->


        <!-- /section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">

             
            <button class="btn  btn-sm btn-info" onclick="javascript:window.location.href=' /Admin/Admin/CreateFAQEntry';">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                
                <span class="bigger-110">Create FAQ</span>
            </button>
        </div>
        <div class="page-header">
            <h1>FAQ                               
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    FAQ List
                </small>
            </h1>


        </div>
         <div id="Menu">
        <div class="row">
            <div class="col-xs-12" id="Grid1">
                <!-- PAGE CONTENT BEGINS -->

                <div class="pass-table table-responsive">
                    @if (Model != null)
                    {
                        if (Model.Count() > 0)
                        {
                       
                        <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_disabled" role="columnheader" rowspan="1"  colspan="1" aria-label="">S.No</th>
                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Questions</th>
                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2"  rowspan="1" colspan="1" aria-label="">Answers</th>
                                    <th class="sorting_disabled" role="columnheader" style="text-align:center" rowspan="1" colspan="1" aria-label="">Edit</th>
                                    <th class="sorting_disabled" role="columnheader" style="text-align:center" rowspan="1" colspan="1" aria-label="">Delete</th>
                                   
                                </tr>
                            </thead>
                 <tbody>
                     @foreach(var item in Model)
                     {
                      count = count + 1;
                               
                                    <tr>
                                        <td class="center">
                                            @count
                                        </td>
                         <td>
                             @item.FAQ
                         </td>
                         <td>
                         @*@Html.Raw(item.FAA)*@   
                         @item.FAA
                         </td>
                                             <td class="center">
                                            <div class="hidden-sm hidden-xs action-buttons">

                                             
                                             
                                                <a data-rel="tooltip" class="green tooltip-success" title="Edit" id="@item.Id"   href="@Url.Action("FAQEditEntry", "Admin", new { Id = item.Id })">
                                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                </a>
                                              
                                            </div>

                                           
                                        </td>
                                          <td class="center">
                                            <div class="hidden-sm hidden-xs action-buttons">
                                             <a  data-rel="tooltip" class="red tooltip-error" title="Delete" href="@Url.Action("DeleteFAQEntry", "Admin", new { Id = item.Id })">
                                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                </a>
                                            </div>

                                           
                                        </td>
                     </tr>
                         }
                 </tbody>
                        </table>
                        <!-- PAGE CONTENT ENDS -->
                       
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="alert alert-info">

                                    <strong></strong><br />


                                </div>
                            </div>
                        </div>
                        }
                    }

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
</div>

         
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @*  <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@

            </div>

            <!-- /section:basics/footer -->
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>

    <div class="space-6"></div>
</div>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
 $(document).ready(function () {
 
        $("#Feedback").addClass("active open");
        $("#FeedbackSub").addClass("nav-show").css("display", "block");
        $("#FAQlist").addClass("active");


    
 });

 $('#sample-table-2').dataTable({
     "scrollY": "350px",
     "scrollCollapse": true,
     "bSort": false,
     "paging": true
 });

    </script>