﻿@*@model SBL.DomainModel.ComplexModel.ClubbedQuestionModel*@

@model SBL.eLegistrator.HouseController.Web.Areas.Notices.Models.LegislationFixationModel

@Html.HiddenFor(m => m.AssemblyId, new { @id = "hdnAssemblyID" })
@Html.HiddenFor(m => m.SessionId, new { @id = "hdnSessionId" })
<input type="hidden" id="Question" />
<input type="hidden" id="Assembly" />
<div>

     
<div class="panel-group" id="accordion" style="margin-top: 1%;margin-left: -1%;margin-right: -1%;">
 
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" onclick="Toggle();">
         
         @*   <i class="fa fa-filter" aria-hidden="true"></i> *@
            <img src="~/assets/images/filter.png"  style="width:20px; height:15px"/>
            <b><span class="bd-lead" style="color:#0092cc;padding-right:5px;padding-left:15px">FILTER</span></b>
          @* <span class="glyphicon glyphicon-plus"></span>*@
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in">
      <div class="panel-body" style="padding: 5px;">


          <div class="well well-lg" style="padding:4px;margin-bottom: 8px;">
             @*  <button class="btn btn-info" style="padding: 1px;">Main Filter</button>*@
    <div class="row">
       
           <div class="col-xs-4 form-group" style="margin-left: 1%;">
            <label style="width:23%" >Assembly :</label>
            <span id="AssemList">@Html.DropDownListFor(m => m.AssemblyId, new SelectList(Model.mAssemblyList, "AssemblyCode", "AssemblyName", Model.AssemblyId), new { @id = "AssemblyList",@style = "width:253px;"})</span>  
             
        </div>
        <div class="col-xs-4 form-group" style="margin-left: 18px;">
            <label style="width:21%" >Session :</label>
             <span id="SessList">@Html.DropDownListFor(m => m.SessionId, new SelectList(Model.sessionList, "SessionCode", "SessionName", Model.SessionId), new { @id = "SessionList",@style = "width:220px;"})</span>
              
        </div>
    
      <div class="col-xs-4 form-group" style="margin-left: -51px;">
            <label style="width:29%" >Session Date:</label>
             <span id="SessDateList">@Html.DropDownListFor(m => m.Id, new SelectList(Model.CustomSessionDateList, "Id", "SessionDate", Model.Id), new { @id = "SessionDateList",@style = "width:223px;"})</span>
             
        </div>
         <div class="col-xs-4 form-group">
            <label style="width:26%" >Designation :</label>
              <select id="Designation" style="width:52%" data-placeholder="--Progess Images --" >            
                   <option value="1">Member</option>
                    <option value="2">Minister</option>
              </select>
        </div>
        
    </div>
    </div>

    <!-- You will not be able to see this text. -->

          <div class="col-xs-12 col-sm-12">
        <div class="row" style="text-align: right;">
            <button type="button" id="submitButton" class="btn btn-info btn-sm " onclick="ShowLetestPaper();">
                <i class="ace-icon fa fa-search bigger-110"></i>Search
            </button>
          
            <button type="button" class="btn btn-warning btn-sm" onclick="Toggle();">
                <i class="ace-icon fa fa-times bigger-110"></i>Clear
            </button>
        </div>
    </div>   


  </div></div></div>

</div>
    
</div>
<div id="TDiv"></div>
<style>
    .progress-bar.animate {
        width: 100%;
    }

    .progress {
        height: 15px;
        margin-bottom: 0px;
        background-color: #f5f5f5;
        border-radius: 10px;
    }

    .modal-contentprogress {
        border-radius: 50px;
    }
</style>
<script src="/Scripts/jquery.min.js"></script>

<script src="~/Scripts/Constituency/Filter.js"></script>
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>

<script>
   
    function ShowLetestPaper() {
      
        var SessionDate = $("#SessionDateList option:selected").text();
        var Designation = $("#Designation option:selected").text();
       // alert(Designation);
       // var SessionDate = "16/02/2019";
        if (SessionDate != null && SessionDate != "" && SessionDate != "Select Session Date") {
            $("#loader-wrapper").show();
            //openprogress();
            $.ajaxSetup({ cache: false });
            var pathurl = '@Url.Action("GetQuestionListToeMail", "Admin")';
            $.ajax({
                url: pathurl,
                type: 'GET',
                data: {
                    Designation:Designation,
                    Date: SessionDate
                },
                success: function (data) {
                    $("#TDiv").html(data);
                    $("#loader-wrapper").hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                    cl.hide();
                }
            });
        }
        else
        {

            alert("Please select the Session Date");
        }


    }
</script>
