﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV
@using SBL.DomainModel.Models.Enums;


<div class="widget-box">
    <div class="widget-header widget-header-flat">

        <div class="widget-toolbar no-border">
            <button class="btn btn-xs btn-primary bigger" onclick='GetCreatBillDraft()'>
                <i class="ace-icon fa fa-pencil-square-o"></i>
               @Resources.PaperLaidDepartment.New
            </button>
        </div>
    </div>
</div>
<span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="Bottm Info" style="text-align:left;margin-left:0px;margin-bottom:2px;">
 @Resources.PaperLaidDepartment.AllBills</span>

@{    
    var grid = new Lib.Web.Mvc.JQuery.JqGrid.JqGridHelper<SBL.DomainModel.Models.PaperLaid.tPaperLaidV>("CommonGrid",                            
                            dataType: Lib.Web.Mvc.JQuery.JqGrid.JqGridDataTypes.Json,
                            footerEnabled: false,
                            methodType: Lib.Web.Mvc.JQuery.JqGrid.JqGridMethodTypes.Post,
                            pager: true,
                            rowsList: new List<int> { 10, 20, 30, 40, 50 },
                            rowsNumber: 10,
                            onSelectRow: "onSelectRowHandler",
                            sortingName: "PaperLaidId",
                            sortingOrder: Lib.Web.Mvc.JQuery.JqGrid.JqGridSortingOrders.Asc,
                            url: Url.Action("GetAllCurrentBillsJqGrid"),
                            userDataOnFooter: false,
                            viewRecords: true,
                            autoWidth: true,
                            emptyRecords: @Resources.PaperLaidDepartment.NoRecordFound,
                            postDataScript: "function() { return { AssemblyId: $('#AssemblyCodeHome').val(), SessionId: $('#SessionCodeHome').val()}; }"
                        );
                        }
                    @grid.GetHtml()



<script type="text/javascript">
    jQuery(document).ready(function () {
        @grid.GetJavaScript()
        jQuery("#CommonGrid").jqGrid('setLabel', 'NoticeNumber', '@Resources.PaperLaidDepartment.Number')
        jQuery("#CommonGrid").jqGrid('setLabel', 'Title', '@Resources.PaperLaidDepartment.Subject')
        jQuery("#CommonGrid").jqGrid('setLabel', 'MemberName', '@Resources.PaperLaidDepartment.AskedBy')
        jQuery("#CommonGrid").jqGrid('setLabel', 'PaperSent', '@Resources.PaperLaidDepartment.Paper')
        jQuery("#CommonGrid").jqGrid('setLabel', 'DeptSubmittedDate', '@Resources.PaperLaidDepartment.Senton')
        jQuery("#CommonGrid").jqGrid('setLabel', 'DesireLayingDate', '@Resources.PaperLaidDepartment.DesireLayingDate')
    })
    function onSelectRowHandler(rowId, status, event) {
        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();
        var paperLaidID = 0;
        var rowData = $(this).jqGrid("getRowData", rowId);

        //Get Paper Laid ID and Status for the Record.
        paperLaidID = rowData.PaperLaidId != "" ? rowData.PaperLaidId : 0;
        var status = parseInt(rowData.BOTStatus);

        if (status == 2) {
            $.ajax({
                url: "/PaperLaidDepartment/Billpaperlaid/ShowDraftBillById",
                type: 'GET',
                data: {
                    paperLaidId: paperLaidID,
                },
                cache: false,
                success: function (data) {
                    if (data) {
                        cl2.hide();
                        $("#RightSidebar").empty();
                        $("#RightSidebar").html(data);
                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });
        }
        else if (status == 3) {
            $.ajax({
                url: "/PaperLaidDepartment/Billpaperlaid/GetBillSentRecordById",
                type: 'GET',
                data: {
                    paperLaidId: paperLaidID
                },
                success: function (data) {
                    if (data) {
                        $("#RightSidebar").html(data);
                        cl2.hide();
                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }


    }

</script>

<script>
    function ViewFullOfBillDraftDeails(paperLaidID, status) {
        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();
        if (status == 2) {
            $.ajax({
                url: "/PaperLaidDepartment/Billpaperlaid/ShowDraftBillById",
                type: 'GET',
                data: {
                    paperLaidId: paperLaidID,
                },
                cache: false,
                success: function (data) {
                    if (data) {
                        cl2.hide();
                        $("#RightSidebar").empty();
                        $("#RightSidebar").html(data);
                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });
        }
        else if (status == 3) {
            $.ajax({
                url: "/PaperLaidDepartment/Billpaperlaid/GetBillSentRecordById",
                type: 'GET',
                data: {
                    paperLaidId: paperLaidID
                },
                success: function (data) {
                    if (data) {
                        $("#RightSidebar").html(data);
                        cl2.hide();
                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }
    }

    function NextButtonPendingDBills(rPage, pageNo, lStart, lEnd) {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        $.ajaxSetup({ cache: false });
        var pageNumber = pageNo;
        var rowsPerPage = rPage;
        var loopStart = lStart;
        var loopEnd = lEnd;
        var pathurl = '@Url.Action("GetAllCurrentBills", "Billpaperlaid")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                sessionId: sessionId,
                assemblyId: assemblyId,
                PageNumber: pageNo,
                RowsPerPage: rPage,
                loopStart: lStart,
                loopEnd: lEnd
            },
            success: function (data) {
                ClearControls();
                $("#divDataContainer").html(data);
                cl.hide();
            }
        });
    }

    function NextAndPreviousButtonPendingDBills(rPage, pageNo, lStart, lEnd) {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        $.ajaxSetup({ cache: false });
        var pageNumber = pageNo;
        var rowsPerPage = rPage;
        var loopStart = lStart;
        var loopEnd = lEnd;
        var pathurl = '@Url.Action("GetAllCurrentBills", "Billpaperlaid")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                sessionId: sessionId,
                assemblyId: assemblyId,
                PageNumber: pageNo,
                RowsPerPage: rPage,
                loopStart: lStart,
                loopEnd: lEnd
            },
            success: function (data) {
                ClearControls();
                $("#divDataContainer").html(data);
                cl.hide();
            }
        });
    }


</script>


