﻿@model SBL.DomainModel.Models.PISModules.tPISEmployeePersonal
<style>
	.widget-main {
		margin-bottom: 11px;
	}
</style>
<link rel="stylesheet" href="~/assets/css/datepicker.css" />



	<div class="modal-dialog" style="width:800px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			   <h4 >Employee Details

			</h4>
			</div>

			<div class="modal-body" >
				<div class="widget-body">
					<div class="widget-main no-padding-right no-padding-left">
						@if (Model != null)
	  {
							<div id="user-profile-1" class="user-profile row">
							<div class="col-xs-12 col-sm-4 center">
								<div>
									<!-- #section:pages/profile.picture -->
									<span class="profile-picture">
										<img id="avatar" class="editable img-responsive editable-click editable-empty" alt="Work Last Progress Image" src="@Model.empphoto"></img>
									</span>

									<!-- /section:pages/profile.picture -->
									<div class="space-4"></div>
                                    Aadhar ID
									<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
										<div class="inline position-relative">
											<a href="javascript:void(0)" class="user-title-label dropdown-toggle">

												<span class="white">@Model.AadharID</span>
											</a>
										</div>
									</div>
								</div>

								<div class="space-6"></div>

								<!-- #section:pages/profile.contact -->
								

								<!-- /section:pages/profile.contact -->
								<div class="space-20"></div>

								<div class="hr hr2 hr-double"></div>

								<div class="space-6"></div>
							</div>

							<div class="col-xs-12 col-sm-8">
								<div class="center">
									<span class="btn btn-app btn-primary no-hover" style="min-width: 100%">
										<span class="line-height-1 bigger-80 white">@Model.empfname</span>

									<br>
										<span class="line-height-1 smaller-70">
											@(string.IsNullOrEmpty(Model.empfmh)?"":
										  (Model.empgender=="M"?"S/O":"D/O or W/O") 
										  )
											<span>@Model.empfmh</span>
										</span>
									</span>

									

									<span class="btn btn-app btn-lg btn-pink no-hover" style="min-width: 100%">
										<span class="line-height-1 bigger-80">@Model.DesignationName</span>

										<br>
										<span class="line-height-1 smaller-70">
										@Model.OfficeName /	@Model.DepartmentName
										</span>
									</span>

								
								</div>

								<div class="space-12"></div>

								<!-- #section:pages/profile.info -->
								<div class="profile-user-info profile-user-info-striped">

											<div class="profile-info-row">
										<div class="profile-info-name">Date of Birth  </div>

										<div class="profile-info-value">
											<span class="editable editable-click" id="age">@Model.DateOFBirth (@Model.age @Model.empgender)</span>
										</div>
									</div>
                                    	<div class="profile-info-row">
										<div class="profile-info-name">Blood Group </div>

										<div class="profile-info-value">
											<span class="editable editable-click" id="age">@Model.empblood</span>
										</div>
									</div>
											<div class="profile-info-row">
										<div class="profile-info-name">Mobile / Email</div>

										<div class="profile-info-value">
											<span class="editable editable-click" id="age"> @Model.Mobile / @Model.Email</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name">Permanent Address </div>

										<div class="profile-info-value">
											<span class="editable editable-click" id="age">@Model.Address</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name">Date Of Joining </div>

										<div class="profile-info-value">
											<span class="editable editable-click" id="age">@Model.DateOFJoining</span>
										</div>
									</div>
								
									
									
								
								</div>

								<!-- /section:pages/profile.info -->
								<div class="space-6"></div>

								<div class="hr hr2 hr-double"></div>

								
							</div>
						</div>

	  }
	  else
	  {
							<div class="alert alert-info">
								Not - Found
							</div>
	  }
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-sm" data-dismiss="modal">
					<i class="ace-icon fa fa-times"></i>
					Close
				</button>
			   
			</div>
		</div>
	</div>

						



<script>
	$('[data-rel=tooltip]').tooltip();
	$('[data-rel=popover]').popover({ html: true });

	</script>