﻿@model List<SBL.eLegistrator.HouseController.Web.Areas.Constituency.Models.pmisListReport>
@{int count = 0;}
<div class="col-xs-12 col-sm-12">
	<div class="widget-box widget-color-red">
		<div class="widget-header widget-header-flat Red">
			<h4 class="widget-title">All Department List </h4>
			<div class="widget-toolbar">

				<span class="badge badge-info"> Count @Model.Count </span>
			</div>
		</div>
		<div class="widget-body">

			@if (Model != null && Model.Count > 0)
			{ 
			<div class="pass-table">

					<div class="pass-table">

						<div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">

							<table class="table table-striped table-bordered table-hover dataTable table table-striped table-hover dt-responsive" width="100%" id="DepartmentListTable" aria-describedby="sample-table-2_info">
								<thead>
									<tr role="row">
										<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Sr No.</th>

										<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Department Name</th>
										<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Sanctioned Post</th>
										<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Filled Post</th>
										<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Vacant Post</th>
									</tr>
								</thead>

								<tbody role="alert" aria-live="polite" aria-relevant="all">
									@foreach (var item in Model)
									{
										count = count + 1;
									<tr id="@item.DeptID" onclick="DepartmentListTRCLick(this.id ,'@item.DeptName')">
										<td>@count</td>
										<td>@item.DeptName</td>
										<td>@item.SanctionedPost</td>
										<td>@item.FilledPost</td>
										<td>@item.VacantPost</td>
									</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				
			</div>
			}
			else
			{ 
				<div class="alert alert-warning">
										<button type="button" class="close" data-dismiss="alert">
											<i class="ace-icon fa fa-times"></i>
										</button>
										<strong>Sorry! </strong>

										there is no record.
										<br>
									</div>
			}
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		tableinit();
	});
	function tableinit() {
		var oTable1 =
		 $('#DepartmentListTable')
		 .dataTable({
			 "bDestroy": true,
			 bAutoWidth: true,
			 "aoColumns": [
				{ "bSortable": false },
			   null, null, null,null

			 ]
		 });

	}

</script>