﻿@model  SBL.eLegistrator.HouseController.Web.Areas.Admin.Models.NewsViewModel

@{
    ViewBag.Title = "NewsEntryForm";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
@Html.Partial("_LeftMenu")

<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("NewsEntryFormIndex", "News")">@Resources.MasterDataDashboard.Admin</a>
            </li>
            <li>
                <a href="@Url.Action("NewsEntryFormIndex", "News")">@Resources.MasterDataDashboard.News</a>
            </li>
            @*    //<li class="active">@Heading</li>*@
        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>

    </div>

    <div class="page-content">

        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.Admin 
                               
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.News   
                </small>
            </h1>


        </div>

        <!-- /section:settings.box -->

        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.mode == "Add")
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.CreateNews </h4>
            }
            else
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.EditNews</h4>
            }

        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">




                            @using (Html.BeginForm("SaveNewsEntry", "News", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @role = "form", @id = "NewsEntryForm" }))
                            { 
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.LatestUpdateID)
                                @Html.HiddenFor(model => model.mode, new { @id = "Mode" })
                                @Html.HiddenFor(m => m.IsCreatNew)
                                @Html.HiddenFor(m => m.FileName1)
                                @Html.HiddenFor(m => m.FileLocation1)
                                @Html.HiddenFor(m => m.ImageLocation1)
                                @Html.HiddenFor(m => m.ThumbImage1)
                                
                                    

                                <h4 class="header blue lighter smaller clearfix">@Resources.MasterDataDashboard.Basicdetails </h4>


                                <div class="tabbable">
                                    @*<ul id="myTab" class="nav nav-tabs padding-18">
                                        <li class="active">
                                            <a href="#news-english" data-toggle="tab">
                                                <i class="green ace-icon fa fa-home bigger-120"></i>
                                                English
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#news-hindi" data-toggle="tab">
                                                <i class="blue ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                <span class="lang-hi">हिन्दी  </span>

                                            </a>
                                        </li>
                                    </ul>*@
                                    <div class="tab-content no-border padding-24">
                                        <div class="tab-pane in active" id="news-english">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Name">@Resources.MasterDataDashboard.Title : </label>

                                                <div class="col-sm-9 help-block">

                                                    @Html.TextBoxFor(model => model.News_Title, new { @class = "col-xs-12 col-sm-8 col-md-6 col-lg-6", @placeholder = @Resources.MasterDataDashboard.Title, @autocomplete = "off" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="News_TitleValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.News_Title)
                                                    </div>

                                                </div>
                                            </div>



                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Description : </label>
                                                <div class="col-sm-9">

                                                    <span id="spnDetails" class="">
                                                        @Html.EditorFor(model => model.News_Description)

                                                    </span>
                                                </div>

                                            </div>


                                        </div>
                                        <div class="tab-pane" id="news-hindi">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Name">शीर्षक </label>

                                                <div class="col-sm-9 help-block">

                                                    @Html.TextBoxFor(model => model.Local_News_Title, new { @class = "col-xs-12 col-sm-8 col-md-6 col-lg-6", @placeholder = "शीर्षक", @autocomplete = "off" })

                                                    @Html.ValidationMessageFor(model => model.Local_News_Title)

                                                </div>
                                            </div>

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">विवरण </label>
                                                <div class="col-sm-9">
                                                    <div class="clearfix" style="border: 1px solid #E5E5E5;">
                                                        <div class="wysiwyg-editor wysiwyg-style2" id="editor-hin"></div>
                                                    </div>
                                                    @Html.TextAreaFor(model => model.HindiDescription, new { @class = "col-xs-12 col-sm-8 col-md-6 col-lg-6 hide", @placeholder = "विवरण", @autocomplete = "off" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        @Html.ValidationMessageFor(model => model.HindiDescription)
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <h4 class="header blue lighter smaller clearfix">@Resources.MasterDataDashboard.AdditionalDetails </h4>

                                    
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Category : </label>
                                    <div class="col-sm-9">

                                        @Html.DropDownListFor(model => model.CategoryId, Model.CategoryList, "--Select Category--", new { @class = "col-xs-12 col-sm-8 col-md-6 col-lg-6" })
                                        <span class="field-validation-error" id="CategoryValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                        @Html.ValidationMessageFor(model => model.CategoryId)
                                    </div>

                                </div>
                                    
                                    
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Status : </label>
                                    <div class="col-sm-9">

                                        @Html.DropDownListFor(model => model.Status, Model.TypeList, new { @class = "col-xs-12 col-sm-8 col-md-6 col-lg-6" })
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            @Html.ValidationMessageFor(model => model.Status)
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3 no-padding-right" for="_NewsEventDate">@Resources.MasterDataDashboard.NewsEventDate :</label>

                                    <div class="col-sm-9">
                                        <div class="input-group col-xs-12 col-sm-8 col-md-6 col-lg-6 ">
                                            @Html.TextBoxFor(m => m.NewsEventDate, new { @id = "_NewsEventDate", @name = "_NewsEventDate", @class = "form-control datepicker ", @data_date_format = "dd-mm-yyyy" })
                                            @*<input type="text" id="finish_date" name="finish_date" class="form-control datepicker " data-date-format="dd-mm-yyyy" />*@
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar bigger-110"></i>
                                            </span>
                                        </div>
                                    </div>

                                </div>@*
                                if (Model.mode == "Edit" && !string.IsNullOrEmpty(Model.FileName))
                                {

                                    var filLocation = Model.FilePath + Model.FileName;
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="avatar"></label>
                                    @Html.HiddenFor(m => m.FileName)
                                    @Html.HiddenFor(m => m.FilePath)

                                    <div class="col-sm-9">
                                        <a id="@Model.ImageLocation" title="Photo Preview" onclick="ImagePriview(this.id);" href="javascript:void(0)" role="button"  data-toggle="modal" >
                                            <img src="@Model.ImageLocation" class="padded" height="120" alt="@Model.FileName" />
                                        </a>
                                    </div>
                                </div>                                          
                                }
@*   <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" style="padding-top: 0;" for="avatar">Attachment: </label>

                                    <div class="col-sm-9">

                                        <input type="file" style="padding: 0;" id="Image" name="file" class="col-xs-12 col-sm-8 col-md-6 col-lg-6" />
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            <span class="field-validation-error" id="filevalidation"></span>
                                        </div>
                                    </div>
                                </div>*@
                                <div>
                                    <div class="container" style="width: 100%!important; display: block;">
                                        <label class="col-sm-3 control-label no-padding-right" style="padding-top: 0;" for="avatar">Image Attachment : </label>
                                        <span class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>Choose file</span>
                                            <input style="font-size: 22px;" id="fileupload" type="file" name="fileupload">
                                        </span>
                                        <span class="field-validation-error" id="fileuploadValidation" style="color: red; margin-left: 40px"></span>
                                        <br />
                                        <br />

                                        <div style="width: 50%;" id="fileuploadcontant">
                                            <div style="width: 50%; margin-left: 405px;">
                                                @*<span id="removeUpload" onclick="removefileupload()" class="glyphicon glyphicon-remove" style="color: red; position: relative; float: right;"></span>*@
                                                <div id="file_name1" class="file_name1"></div>
                                                <div class="file_size1"></div>
                                            </div>
                                            <div style="width: 50%; margin-left: 405px;">
                                                <div class="show_hide">
                                                    <div id="progressNumber"></div>
                                                    <div class="progress1" style="height: 10px; width: 300px">
                                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" style="width: 0%;">
                                                            @* <span class="sr-only">0% complete</span>*@
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                               
                                
                                <div class="space-2"></div>

                                <h4 class="header blue lighter smaller clearfix">@Resources.MasterDataDashboard.Optionaldetails </h4>@*
                                
                                
                                



                                
                                <div>
                                    <div class="container" style="width: 100%!important; display: block;">
                                        <label class="col-sm-3 control-label no-padding-right" style="padding-top: 0;" for="avatar">pdf Attachment for Awards : </label>
                                        <span class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>Choose file</span>
                                            <input style="font-size: 22px;" id="fileupload1" type="file" name="fileupload1">
                                        </span>
                                        <span class="field-validation-error" id="fileuploadValidation1" style="color: red; margin-left: 40px"></span>
                                        <br />
                                        <br />

                                        <div style="width: 50%;" id="fileuploadcontant1">
                                            <div style="width: 50%; margin-left: 405px;">
                                               
                                                <div id="file_name2" class="file_name2"></div>
                                                <div class="file_size2"></div>
                                            </div>
                                            <div style="width: 50%; margin-left: 405px;">
                                                <div class="show_hide">
                                                    <div id="progressNumber1"></div>
                                                    <div class="progress2" style="height: 10px; width: 300px">
                                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" style="width: 0%;">
                                                           
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>*@
                                
                                
                                
                                
                                
                                
                                
                                if (Model.mode == "Edit" && !string.IsNullOrEmpty(Model.FullImage1))
                                {
                                    var filepath = Model.FileAcessPath +"/News/"+ Model.FullImage1;
                                    
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="avatar"></label>
                                    @*@Html.HiddenFor(m => m.FileName1)*@
                                    <div class="col-sm-9">
                                        <a  title="File Preview"  href="@filepath"  target="_blank" > Attachment</a>
                                    </div>
                                </div>                                             
                                }
                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" style="padding-top:0" for="avatar">pdf Attachment for Awards : </label>

                                    <div class="col-sm-9">


                                        <input type="file" id="file1" style="padding:0" name="file1" class="col-xs-12 col-sm-7 col-md-6" />
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            @*<span class="field-validation-error" id="filevalidation"></span>*@
                                        </div>

                                    </div>
                                </div>
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="start_date">@Resources.MasterDataDashboard.StartPublishing :</label>

                                    <div class="col-xs-12 col-sm-9">
                                        <div class="input-group col-xs-12 col-sm-8 col-md-6 col-lg-6 ">
                                            <input type="text" id="start_date" name="start_date" class="form-control datepicker " data-date-format="dd-mm-yyyy" />
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar bigger-110"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                        
                                <div class="space-2"></div>  
                                        
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="finish_date">@Resources.MasterDataDashboard.FinishPublishing :</label>

                                    <div class="col-xs-12 col-sm-9">
                                        <div class="input-group col-xs-12 col-sm-8 col-md-6 col-lg-6 ">
                                            <input type="text" id="finish_date" name="finish_date" class="form-control datepicker " data-date-format="dd-mm-yyyy" />
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar bigger-110"></i>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                        
                                <div class="space-2"></div> 
                                <div class="form-group hide">
                                    <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="form-field-tags">@Resources.MasterDataDashboard.Taginput :</label>

                                    <div class="col-xs-12 col-sm-9">
                                        <div class="input-group col-xs-12 col-sm-6 ">
                                            <input type="text" name="tags" class="input-xlarge" id="form-field-tags" value="Tag Input Control" placeholder="Enter tags ..." />
                                        </div>
                                    </div>

                                </div>
                                        
                                <div class="space-2"></div> 
                                <hr />  
                                

                                <div class="btn-group pull-right padding-10" style="padding-bottom: 40px;">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->
                                    @*  <input type="hidden" id="ImgLength" value="0" />*@
                                    <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        @Resources.MasterDataDashboard.Reset
                                    </button>
                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple ">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        @Resources.MasterDataDashboard.Save</button>


                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>
                            



                                <!-- /.row -->
                    
                                <!-- /.page-content -->
                            }
                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>
</div>


<script src="~/assets/js/jquery.hotkeys.min.js"></script>
<script src="~/assets/js/bootstrap-wysiwyg.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>

<link href="~/Content/bootstrapUp/jquery.fileupload.css" rel="stylesheet" />
@*<script src="~/Content/ScriptsUp/jquery-1.9.1.min.js"></script>*@
<script src="~/Content/ScriptsUp/jquery.ui.widget.js"></script>
<script src="~/Content/ScriptsUp/jquery.fileupload.js"></script>

<script>
    

    $('#savebtn').click(function (e) {


        if (ValidateForm() == false) {

            e.preventDefault();

            e.stopPropagation();
        }
    });

    function ValidateForm() {

        var IsValid = true;

        if ($('#News_Title').val() == '' || $('#News_Title').val() == null) {
            $("#News_TitleValidation").html("News title is required");

            IsValid = false;
        }
        else if ($('#CategoryId').val() == '' || $('#CategoryId').val() == null) {

            $("#CategoryValidation").html("Select Category List");

            IsValid = false;
        }
            //else if ($('#ImgLength').val() == '1') {

            //    $("#fileuploadValidation").html("File is too large so you can upload 150MB files");

            //    IsValid = false;
            //}
        else if ($('#fileupload').val() == '' || $('#fileupload').val() == null) {
            if ($('#file_name1').html() == '') {
                $("#fileuploadValidation").html("Please Choose File");

                IsValid = false;
            }
        }

        //alert($('#fileupload').val())
        return IsValid;
    }

    $('#News_Title').focus(function () {
        $('#News_TitleValidation').html("");
    });


    $('#CategoryId').focus(function () {
        $('#CategoryValidation').html("");
    });

    $('#fileupload').focus(function () {
        $('#fileuploadValidation').html("");
    });

    function validateFile(file) {
       
        var acceptedExtensions = ['jpg', 'mp4', 'png', 'mp4', 'jpeg', 'flv', 'mp3', 'ra', 'wma', 'm4a', 'MP4', 'FLV', 'JPG', 'JPEG'];

        var fileExtension = file.split('.').pop().toLowerCase();

        var isValidFile = false;

        for (var index in acceptedExtensions) {

            if (fileExtension == acceptedExtensions[index]) {

                isValidFile = true;

                break;
            }
        }

        return isValidFile;

    }

    $(document).ready(function () {

        $('#file1').change(function () {
            for (var i = 0; i < this.files.length; ++i) {
                var name = this.files.item(i).name;
                var fileExtension = ['pdf'];
                var Extension = name.split('.').pop().toLowerCase();
                if ($.inArray(Extension, fileExtension) == -1) {
                    alert(name + " is not valid format. Only 'pdf' formats are allowed.");
                    $('#file1').val("");
                    return false;
                }
            }
        });

        $("#removeUpload").hide();

        $("#fileupload").click(function (event) {

            $('#fileupload').fileupload({
                add: function (e, data) {

                    var res = validateFile(data.files[0].name);

                    if (res == false) {

                        var acceptedExtensions = ['jpg', 'mp4', 'png', 'mp4', 'jpeg', 'flv', 'mp3', 'ra', 'wma', 'm4a', 'MP4', 'FLV', 'JPG', 'JPEG'];

                        //alert('The following file extensions : *.' + acceptedExtensions.join(', *.') + ' are only allowed');
                        var dlg = bootbox.alert('The following file extensions : .' + acceptedExtensions.join(', .') + ' are only allowed', function (e) {

                            $(dlg).modal('hide');
                        });
                    }
                    else {

                        if (data.files[0].size > 264000000) {

                            // alert('Filesize is too large so you can upload upto 150 MB files');
                            var dlg = bootbox.alert('File size is too large so you can upload upto 150 MB files', function (e) {

                                $(dlg).modal('hide');
                            });
                        }
                        else {
                            data.submit();
                        }
                    }

                },
                //acceptFileTypes: /(\.|\/)(jpg)$/i,
                dataType: 'json',
                url: '@Url.Action("UploadFiles", "News", new { area = "Admin" })',
                autoUpload: true,
                done: function (e, data) {
                    var sim = setTimeout("hidevalue2()", 1000);
                    //if (data.result.name == "File is too large so you can upload 150 MB files") {
                    //    $('#ImgLength').val('1');
                    //}
                    //else {
                    //    $('#ImgLength').val('0');
                    //}
                    $('.file_name1').html(data.result.name);

                    $('.file_size1').html(data.result.size);
                }
            }).on('fileuploadprogressall', function (e, data) {
                if (e.lengthComputable) {
                    var percentComplete = Math.round(e.loaded * 100 / e.total);
                    document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '% Complete';
                }
                else {
                    document.getElementById('progressNumber').innerHTML = 'unable to compute';
                }
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('.progress1 .progress-bar').css('width', progress + '%');
                $('#removeUpload').css('display', 'block');
            });
        });
        $("#News_Title").focus();

        $('#start_date').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });

        $('#finish_date').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });

        $('#_NewsEventDate').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });
        initEditor();

        $("#saveandnew").click(function () {
            $("#IsCreatNew").val(true);

            $("#savebtn").click();
        });

        $("#savebtn2").click(function () {

            $("#savebtn").click();

        });
        //$("#newsmain").click();
        $("#newsmain").addClass("active open");
        $("#newssub").addClass("nav-show").css("display", "block");
        $("#newslist").addClass("active");
        $("#newslinkid").removeClass("fa-comment").addClass("fa-comment-o");

    });


    function hidevalue2() {
        $('.progress1 .progress-bar').fadeOut(500);
        var sim = setTimeout("hideval2()", 3000);

    }
    function hideval2() {
        $('.progress1 .progress-bar').css('width', '0%');
        $('.progress1 .progress-bar').css('display', 'block');

    }
    function removefileupload() {
        //$('#fileupload2contant').hide();
        $('.file_name1').html('');
        //  $('.file_type').html(data.result.type);
        $('.file_size1').html('');
        $('.progress1 .progress-bar').css('width', '0%');
        $('#progressNumber').html('');
        $('#progressNumber').css('width', '0%');
        $("#progressNumber").hide();
        $("#removeUpload").hide();
        $('#fileuploadcontant').css('border', '0px solid rgb(244, 239, 239)');
    }

</script>
<script>

    function DeleteNewsInEdit(url) {

        bootbox.confirm("Are you sure to Delete News?", function (result) {

            if (result) {
                window.location.href = url;
            }
        })

    }

    function resetFields() {
        $(".field-validation-error").empty();
        $("#News_Title").focus();

    }


    var hindata = $("#HindiDescription").val();

    var engdata = $("#News_Description").val();

    $("div#editor-eng").html(engdata);

    $("div#editor-hin").html(hindata);



</script>

<script>

    $("#savebtn").click(function () {
        var engdata = $("div#editor-eng").html();

        // alert(engdata);
        var hindata = $("div#editor-hin").html();

        $("#HindiDescription").val(hindata);

        $("#News_Description").val(engdata);


    });

    function ImagePriview(obj) {
        //var image = $(obj).attr('image');
        //var path = '/Images/Gallery/' + obj;
        var modalBody = "<img width='598' height='300' src='" + obj + "' />";
        $('#modal-body').attr('style', 'padding:20px;width:300px;height:300px;');
        $('#modal-body').html(modalBody);


        $('#modal').modal('show');
    }


    $('#NewsEntryForm').submit(function (e) {

        var mode = $('#Mode').val();
        var imageValue = $('#Image').val();

        //mode == "Add" &&
        if (imageValue != '') {

            var ext = imageValue.split('.').pop().toLowerCase();
            if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {

                $('#filevalidation').html('Invalid File Format (.gif, .png, .jpg, .jpeg allowed)');
                e.preventDefault();
                return false;
            }
            else {
                $('#filevalidation').html('');
                return true;
            }
        }

    });


    function initEditor() {

        //Code for Edidor

        $('#editor-eng, #editor-hin').ace_wysiwyg({
            toolbar:
            [
                {
                    name: 'font',
                    title: 'Custom tooltip',
                    values: ['Some Font!', 'Arial', 'Verdana', 'Comic Sans MS', 'Custom Font!']
                },
                null,
                {
                    name: 'fontSize',
                    title: 'Custom tooltip',
                    values: { 1: 'Size#1 Text', 2: 'Size#1 Text', 3: 'Size#3 Text', 4: 'Size#4 Text', 5: 'Size#5 Text' }
                },
                null,
                { name: 'bold', title: 'Custom tooltip' },
                { name: 'italic', title: 'Custom tooltip' },
                { name: 'strikethrough', title: 'Custom tooltip' },
                { name: 'underline', title: 'Custom tooltip' },
                null,
                'insertunorderedlist',
                'insertorderedlist',
                'outdent',
                'indent',
                null,
                { name: 'justifyleft' },
                { name: 'justifycenter' },
                { name: 'justifyright' },
                { name: 'justifyfull' },
                null,
                {
                    name: 'createLink',
                    placeholder: 'Custom PlaceHolder Text',
                    button_class: 'btn-purple',
                    button_text: 'Custom TEXT'
                },
                { name: 'unlink' },
                null,
                {
                    name: 'insertImage',
                    placeholder: 'Custom PlaceHolder Text',
                    button_class: 'btn-inverse',
                    //choose_file:false,//hide choose file button
                    button_text: 'Set choose_file:false to hide this',
                    button_insert_class: 'btn-pink',
                    button_insert: 'Insert Image'
                },
                null,
                {
                    name: 'foreColor',
                    title: 'Custom Colors',
                    values: ['red', 'green', 'blue', 'navy', 'orange'],
                    /**
                        You change colors as well
                    */
                },
                /**null,
                {
                    name:'backColor'
                },*/
                null,
                { name: 'undo' },
                { name: 'redo' },
                null,
                'viewSource'
            ],
            //speech_button:false,//hide speech button on chrome

            'wysiwyg': {
                hotKeys: {} //disable hotkeys
            }

        }).prev().addClass('wysiwyg-style2');
    }
</script>
