﻿@using SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models
@model  List<SBL.DomainModel.Models.FormTR2.Form16>

@{  int count = 0;
    if (ViewBag.CurrentPage > 1)
    {

        count = (ViewBag.PageSize * (ViewBag.CurrentPage - 1));
    }
}
<!-- PAGE CONTENT BEGINS -->

<div class="pass-table">
    @if (Model != null)
    {
        if (Model.Count() > 0)
        {       
        <input type="hidden" id="pageId" name="pageId" value="@ViewBag.CurrentPage" />
        <div class="table-header">
            <div class="form-group">
                @if (ViewBag.Msg != null)
                {
                    <div class="@ViewBag.Class" id="MsgDiv">
                        <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
                        <strong><i class="ace-icon fa fa-check-square-o"></i>@ViewBag.Notification ! </strong>@ViewBag.Msg
                    </div>
                }
            </div>
        </div>  
        <br />
        <br />
        <div>
            <label>Display</label>
            <select size="1" name="PageSize" id="PazeSize">
                <option value="10" selected="selected">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <label>Records</label>
        </div>    
        
        <table class="table  table-bordered  dataTable" id="tblRTGSSoftDetails" aria-describedby="sample-table-2_info">
            <thead>
                <tr role="row">
                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>
                    <th class="sorting SortingData" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Emp Name</th>
                    <th class="sorting SortingData" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Financial Year</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Total Amount</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Income from Other Source</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Rebate</th>

                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Interest on HBA</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Taxable Amt</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Exampted</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Tax1</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Tax2 </th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Tax3</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Net Tax</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Surcharge</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Total Tax</th>
                    <th class="sorting_disabled">Action</th>
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                @foreach (var item in Model)
                {
                    count = count + 1; 
                  
                    <tr>
                        <td class="center">@count </td>
                        <td style="width: 30%">@item.StaffName-@item.Designation </td>
                        <td style="width: 20%">@item.FinancialYear</td>
                        <td style="width: 20%">@item.TotalGrossSalary</td>
                        <td style="width: 20%">@item.IncomeFromOtherSources</td>
                        <td style="width: 20%">@item.Rebate
                              <input type="button" id="ShowRebatebtn" class="btn btn-sm btn-primary" onclick="ShowRebateDetail(@item.ID)" value="Details" />
                        </td>
                        <td style="width: 20%">@item.IntersetOnHBA
                            <input type="button" id="ShowHBAebtn" class="btn btn-sm btn-primary" onclick="ShowLoanDetail(@item.ID)" value="Details" />
                        </td>
                        <td style="width: 20%">@item.TaxableAmt</td>
                        <td style="width: 20%">@item.Exampted</td>
                        <td style="width: 20%">@item.CalculateTax1</td>
                        <td style="width: 20%">@item.CalculateTax2</td>
                        <td style="width: 20%">@item.CalculateTax3</td>
                        <td style="width: 20%">@item.NetTax</td>
                        <td style="width: 20%">@item.Surcharge</td>
                        <td style="width: 20%">@item.TotalTax</td>
                        <td style="width: 20%">
                            <a  href="/AccountsAdmin/SaveTR2Form/DownloadFrom16Pdf/?Form16Id=@item.ID" target="_blank"  class="green tooltip-success btn btn-xs btn-danger"   title="Generate Form-16 Pdf" >Pdf
                            </a>
                        </td>
                    </tr>                                                                
                }

            </tbody>
        </table>
        <!-- PAGE CONTENT ENDS -->
        <!-- PAGER START -->
        <div>@{Html.RenderPartial("~/Areas/AccountsAdmin/Views/Shared/_Pager.cshtml");}</div>
        <!-- PAGER ENDS -->
        }
        else
        {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <strong>No RTGS Soft Copy found</strong><br />
                </div>
            </div>
        </div>
        }

    }
</div>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<!-- /.col -->
<script type="text/javascript">

    $(document).ready(function () {

        $('#tblRTGSSoftDetails').dataTable({
            "bPaginate": false, "bInfo": false
        });
        setTimeout(function () {
            $("#MsgDiv").slideUp(400);
        }, 2000);

        $("#PazeSize").val(@ViewBag.PageSize)

        $('#PazeSize').change(function () {
            var PageSize = $("#PazeSize").val();
            $.ajax({
                type: "POST",
                url: ' /AccountsAdmin/SaveTR2Form/GetBillByPaging',
                data: '{ pageId: "1",pageSize: "' + PageSize + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainerForm16').empty();
                    $('#divDataContainerForm16').append(result);
                },
                error: function (error) {
                    $('#divDataContainerForm16').empty();
                    $('#divDataContainerForm16').append(error.responseText);
                },
                complete: function (results) {
                    $('#loader-wrapper').hide();
                }
            });

        });

    });


    function ShowLoanDetail(From16Id) {
        $.ajax({
            type: "POST",
            url: '/AccountsAdmin/SaveTR2Form/ShowLoanDetails',
            data: '{ From16Id: "' + From16Id + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#ShowLoanDataDiv').empty();
                $('#ShowLoanDataDiv').append(result);
                $('#ShowLoanModel').modal('show');
            },
            error: function (error) {
                $('#ShowLoanDataDiv').empty();
                $('#ShowLoanDataDiv').append(error.responseText);
                $('#ShowLoanModel').modal('show');
            },
            complete: function (results) {
                $('#loader-wrapper').hide();
            }
        });
    }

    function ShowRebateDetail(From16Id) {
        $.ajax({
            type: "POST",
            url: '/AccountsAdmin/SaveTR2Form/GetPopupValue',
            data: '{ Form16Id: "' + From16Id + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#ShowRebateDataDiv').empty();
                $('#ShowRebateDataDiv').append(result);
                $('#ShowRebateModel').modal('show');
            },
            error: function (error) {
                $('#ShowRebateDataDiv').empty();
                $('#ShowRebateDataDiv').append(error.responseText);
                $('#ShowRebateModel').modal('show');
            },
            complete: function (results) {
                $('#loader-wrapper').hide();
            }
        });
    }
</script>

<!--Create Loan Detail Modal -->
<div class="modal fade bs-example-modal-lg " tabindex="-1" role="dialog" id="ShowLoanModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="EstablishBillTitle">Interst on HBA </h4>
            </div>
                <div class="modal-body">
                    <div id="ShowLoanDataDiv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
        </div>
    </div>
</div>


<!--Create Rebate Modal -->
<div class="modal fade bs-example-modal-lg " tabindex="-1" role="dialog" id="ShowRebateModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="RebateTitle">Rebate </h4>
            </div>
                <div class="modal-body">
                    <div id="ShowRebateDataDiv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
        </div>
    </div>
</div>