﻿<style type="text/css">
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }
</style>
<div class="row">
    <div class="two-column" id="innerDiv">
        <div class=" col-md-12 ">
            <div id="resize-left" class="ui-widget-content" style="width: 100%;">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="widget-box">
                            <div class="widget-header">
                                <h4 class="widget-title">Form-16
                                </h4>

                                <div class="widget-toolbar no-border">
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <div class="clearfix">

                                        <div class="table-responsive">
                                            <div id="divDataContainer">
                                                <form action="/AccountsAdmin/SaveTR2Form/" id="Form16" class="form-horizontal">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="col-sm-5">
                                                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Designation </label>

                                                                    <div class="col-sm-9">
                                                                        @Html.DropDownList("StaffId", (SelectList)ViewBag.StaffList, "--Select--", new { @class = "col-xs-10 col-sm-10 RemoveDdlBorder" })
                                                                        <input type="hidden" id="EmpId" name="EmpId" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-5">
                                                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Financial Year </label>

                                                                    <div class="col-sm-8">
                                                                        @Html.DropDownList("FinancialYear", (SelectList)ViewBag.FinancialYearList, new { @id = "DDlFinYear", @class = "col-xs-10 col-sm-10 RemoveDdlBorder" })
                                                                        <input type="hidden" id="FinYear" name="FinYear" />
                                                                    </div>
                                                                </div>

                                                                <div class="col-sm-2">
                                                                    <input type="button" id="btnSearch" class="btn btn-primary pull-right" onclick="GetGrossAmount();" value="Search" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr />
                                                        <div class="space-12"></div>
                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Total Salary </label>

                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="txtTotalSalary" name="TotalSalary" readonly="readonly" placeholder="Total Salary" class="col-xs-10 col-sm-10">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Income from other source </label>

                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="txtIncomeOtherSource" name="IncomeOtherSource" placeholder="Income from other source" class="col-xs-10 col-sm-10">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="space-12"></div>

                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Rebate </label>

                                                                    <div class="col-sm-7">
                                                                        <input type="text" id="txtRebate" name="Rebate" placeholder="Rebate" readonly="readonly" class="col-xs-10 col-sm-10">
                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <input type="button" id="btnRebate" style="display: none" class="btn btn-sm btn-primary pull-right" onclick="PopulateRebateForm();" value="Calculate" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Interest on HBA  </label>

                                                                    <div class="col-sm-7">
                                                                        <input type="text" id="txtInterestOnHBA" name="InterestOnHBA" readonly="readonly" placeholder="Interest on HBA " class="col-xs-10 col-sm-10">
                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <input type="button" id="btnLoan" style="display: none" class="btn btn-sm btn-primary pull-right" onclick="PopulateLoanForm();" value="Calculate" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="space-12"></div>

                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Taxable </label>

                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="txtTaxable" name="Taxable" placeholder="Taxable" class="col-xs-10 col-sm-10">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Exempted </label>

                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="txtExempted" name="Exempted" value="250000" readonly="readonly" placeholder="Exempted" class="col-xs-10 col-sm-10">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="space-12"></div>

                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Tax On  250001 to 500000</label>

                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="txtTax1" name="Tax1" readonly="readonly" placeholder="Tax On  250001 to 500000" class="col-xs-10 col-sm-10">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                                                                        Tax On  500001 to1000000
                                                                    </label>

                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="txtTax2" name="Tax2" readonly="readonly" placeholder="Tax On  500001 to1000000" class="col-xs-10 col-sm-10">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                                                                        Tax above 1000000
                                                                    </label>

                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="txtTax3" name="Tax3" readonly="readonly" placeholder="Tax above 1000000" class="col-xs-10 col-sm-10">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                                                                        Net Tax

                                                                    </label>

                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="txtNetTax" name="NetTax" readonly="readonly" placeholder="Net Tax
"
                                                                            class="col-xs-10 col-sm-10">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                                                                        Surcharge
                                                                    </label>

                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="txtSurcharge" readonly="readonly" name="Surcharge" placeholder="Surcharge" class="col-xs-10 col-sm-10">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                                                                        Total Tax

                                                                    </label>

                                                                    <div class="col-sm-9">
                                                                        <input type="text" id="txtTotalTax" readonly="readonly" name="TotalTax" placeholder="Total Tax" class="col-xs-10 col-sm-10">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" id="SaveForm16Div">
                                                        <div class="col-md-12">
                                                            <input type="button" id="SaveForm16Form" onclick="SaveForm16();" value="Save" class="btn btn-primary pull-right" />
                                                        </div>
                                                    </div>
                                                    <div class="row" id="GenerateForm16Pdf" style="display: none;">
                                                        <div class="col-md-12">
                                                            <input type="hidden" id="Form16Id" />
                                                            <input type="button" id="btnGenerateForm16Pdf" value="Generate PDF" onclick="DownloadForm16Pdf();" class="btn btn-primary pull-right" />
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/assets/js/bootbox.min.js"></script>
<script>

    $('.RemoveDdlBorder').change(function () {

        var Id = this.id;
        if ($("#" + Id).val() != '') {
            $("#" + Id).next().hide();
            $("#" + Id).css("border", "1px solid green");
        }
        else {
            $("#" + Id).after("<span class='ErrorMessage'>Required</span>");
            $("#" + Id).css("border", "1px solid red");
        }

    });
    function PopulateRebateForm() {
        var StaffId = $('#StaffId').val();
        var FinacialYear = $('#DDlFinYear').val();
        $.ajax({
            type: "POST",
            url: '/AccountsAdmin/Rebate/GetPopupValue',
            data: '{ StaffId: "' + StaffId + '",FinacialYear: "' + FinacialYear + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#RebateDataDiv').empty();
                $('#RebateDataDiv').append(result);
                $('#CalculateRebateModal').modal('show');
            },
            error: function (error) {
                $('#RebateDataDiv').empty();
                $('#RebateDataDiv').append(error.responseText);
                $('#CalculateRebateModal').modal('show');

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
            }
        });
    }
    function PopulateLoanForm() {
        var StaffId = $('#StaffId').val();
        var FinacialYear = $('#DDlFinYear').val();
        $.ajax({
            type: "POST",
            url: '/AccountsAdmin/SaveTR2Form/PopulateLoanForm',
            data: '{ StaffId: "' + StaffId + '",FinacialYear: "' + FinacialYear + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#LoanDataDiv').empty();
                $('#LoanDataDiv').append(result);
                $('#CalculateLoanModal').modal('show');
            },
            error: function (error) {
                $('#LoanDataDiv').empty();
                $('#LoanDataDiv').append(error.responseText);
                $('#CalculateLoanModal').modal('show');

            },
            complete: function (results) {
                $('#loader-wrapper').hide();
            }
        });
    }

    function GetGrossAmount() {
        var IsValid = true;
        $('.ErrorMessage').remove('');
        if ($('#StaffId').val() == '') {
            $('#StaffId').after("<span class='ErrorMessage'>Please select</span>");
            $("#StaffId").css("border", "1px solid red");
            IsValid = false;
        }

        var StaffId = $('#StaffId').val();
        var FinacialYear = $('#DDlFinYear').val();
        $('#EmpId').val(StaffId);
        $('#FinYear').val(FinacialYear);
        if (IsValid == true) {
            $.ajax({
                type: "POST",
                url: '/AccountsAdmin/SaveTR2Form/GetGrossAmount',
                data: '{ StaffId: "' + StaffId + '",FinacialYear: "' + FinacialYear + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {

                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#txtTotalSalary').val(result);
                    if (result > 0) {
                        $('#StaffId').attr("disabled", "disabled");
                        $('#DDlFinYear').attr("disabled", "disabled");
                        $('#btnSearch').hide();
                        $('#btnLoan').show();
                        $('#btnRebate').show();
                    }
                },
                error: function (result) {
                    $('#txtTotalSalary').val(result.responseText);
                    if (result.responseText > 0) {
                        $('#StaffId').attr("disabled", "disabled");
                        $('#DDlFinYear').attr("disabled", "disabled");
                        $('#btnSearch').hide();
                        $('#btnLoan').show();
                        $('#btnRebate').show();
                    }
                },
                complete: function (results) {
                    $('#loader-wrapper').hide();


                }
            });
        }
    }

    function SaveLoanForm() {
        $('.ErrorMessage').remove('');
        var IsValid = true;


        if (IsValid == true) {

            var QData = $('#TR2LoanForm').serialize();
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '/AccountsAdmin/SaveTR2Form/SaleLoanDetails',
                data: QData,
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#txtInterestOnHBA').val(result);
                    //$('#txtInterestOnHBA').attr("disabled", "disabled");
                    $('#CalculateLoanModal').modal('hide');
                },
                error: function (result) {
                    $('#txtInterestOnHBA').val(result.responseText);
                  //  $('#txtInterestOnHBA').attr("disabled", "disabled");
                    $('#CalculateLoanModal').modal('hide');
                },

                complete: function (result) {
                    $('#loader-wrapper').hide();
                    CalculateForm16();
                }
            });
        }
    }

    function CalculateForm16() {
        debugger;
        var TotalAmount = $('#txtTotalSalary').val();
        var IncomeFromOtherSource = $('#txtIncomeOtherSource').val();
        var Rebate = $('#txtRebate').val();
        var IntersetOnHBA = $('#txtInterestOnHBA').val();

        if (IncomeFromOtherSource == null || IncomeFromOtherSource == "")
            IncomeFromOtherSource = 0;
        if (Rebate == null || Rebate == "")
            Rebate = 0;
        if (IntersetOnHBA == null || IntersetOnHBA == "")
            IntersetOnHBA = 0;

        var TotalIncome = parseInt(TotalAmount) + parseInt(IncomeFromOtherSource);
        var TotalReleaxtion = parseInt(Rebate) + parseInt(IntersetOnHBA);
        var TotalTaxAmot = TotalIncome - TotalReleaxtion;
        $('#txtTaxable').val(TotalTaxAmot);

        var NetTax = 0;
        if (TotalTaxAmot <= 250000) {
            NetTax = 0;
            $('#txtTax1').val(0);
            $('#txtTax2').val(0);
            $('#txtTax3').val(0);
            $('#txtNetTax').val(0);
        }
        else if (TotalTaxAmot <= 500000) {
            NetTax = (TotalTaxAmot - 250000) * 10 / 100;
            $('#txtTax1').val(NetTax.toFixed());
            $('#txtTax2').val(0);
            $('#txtTax3').val(0);
            $('#txtNetTax').val(NetTax.toFixed());
        }
        else if (TotalTaxAmot <= 1000000) {
            var Tax1 = 250000 * 10 / 100;
            var Tax2 = (TotalTaxAmot - 500000) * 20 / 100;
            NetTax = Tax1 + Tax2;
            $('#txtTax1').val(Tax1.toFixed());
            $('#txtTax2').val(Tax2.toFixed());
            $('#txtTax3').val(0);
            $('#txtNetTax').val(NetTax.toFixed());
        }
        else if (TotalTaxAmot > 1000000) {
            var Tax1 = 250000 * 10 / 100;
            var Tax2 = 500000 * 20 / 100;
            var Tax3 = (TotalTaxAmot - 1000000) * 30 / 100;
            NetTax = Tax3 + Tax1 + Tax2;
            $('#txtTax1').val(Tax1.toFixed());
            $('#txtTax2').val(Tax2.toFixed());
            $('#txtTax3').val(Tax3.toFixed());
            $('#txtNetTax').val(NetTax.toFixed());

        }
        var Surcharge = NetTax * 3 / 100;
        $('#txtSurcharge').val(Surcharge.toFixed());
        var TotalTax = NetTax + Surcharge;
        $('#txtTotalTax').val(TotalTax.toFixed());

    }

    function SaveForm16() {
        var QData = $('#Form16').serialize();
        $.ajax({
            cache: false,
            async: true,
            type: "POST",
            url: '/AccountsAdmin/SaveTR2Form/SaveForm16Form',
            data: QData,
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                debugger;
                if ($.isNumeric(result)) {
                    $('#Form16Id').val(result);

                    var dlg = bootbox.alert('Sucessfully saved form16', function (e) {
                        $(dlg).modal('hide');
                    });

                    $('#SaveForm16Div').hide();
                    $('#GenerateForm16Pdf').show();
                }
                else {
                    var dlg = bootbox.alert(result, function (e) {
                        $(dlg).modal('hide');
                    });
                }
            },
            error: function (result) {
                var dlg = bootbox.alert(result, function (e) {
                    $(dlg).modal('hide');
                });
            },
            complete: function (result) {
                $('#loader-wrapper').hide();
            }
        });
    }

    function DownloadForm16Pdf() {
       
        var Form16Id = $('#Form16Id').val();
        
        var ss = "<input type='hidden' name='Form16Id' value='" + Form16Id + "' >";


        $('body').prepend("<form method='post' action='/AccountsAdmin/SaveTR2Form/DownloadFrom16Pdf' target='posthereonly' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
        $('#tempForm').submit();
        $("tempForm").remove();
    }
</script>

<div class="modal fade bs-example-modal-lg" id="CalculateRebateModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="CalculateRebateLabel">Calculate Rebate</h4>
            </div>
            <div class="modal-body">
                <div id="RebateDataDiv"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="SaveRebateForm();" class="btn btn-primary">Save changes</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="CalculateLoanModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="CalculateLoanLabel">Calculate Loan</h4>
            </div>
            <div class="modal-body">
                <div id="LoanDataDiv"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveLoanForm()">Save changes</button>
            </div>
        </div>
    </div>
</div>
