﻿@model  SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models.HPTR2Model
<style type="text/css">
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }
</style>


<div class="row">
    <div class="two-column" id="innerDiv">
        <div class=" col-md-12 ">
            <div id="resize-left" class="ui-widget-content" style="width: 100%;">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="widget-box">
                            <div class="widget-header">
                                <h4 class="widget-title">HPTR 2 Form
                                </h4>

                                <div class="widget-toolbar no-border">
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <div class="clearfix">

                                        <div class="table-responsive">
                                            <div id="divDataContainer">
                                                <form action="/AccountsAdmin/SaveTR2Form/" id="HPTRS2Form" class="form-horizontal">
                                                    <table class="table">
                                                        <tr class="info">
                                                            <td>
                                                                <label class=" control-label  " for="Language">Select Designation</label>
                                                                @Html.DropDownList("Designation", (SelectList)ViewBag.StaffList, "--Select--", new { @class = "col-xs-10 col-sm-10 RemoveDdlBorder" })
                                                            </td>
                                                            <td>
                                                                <label class=" control-label  " for="Language">Financial Year</label>
                                                                @Html.DropDownList("FinancialYear", (SelectList)ViewBag.FinancialYearList, new { @id = "DDlFinYear", @class = "col-xs-10 col-sm-10 RemoveDdlBorder" })

                                                            </td>
                                                            @*<td>
                                                                <label class=" control-label  " for="Frequency">Select Month</label>
                                                                @Html.DropDownList("Month", (SelectList)ViewBag.FinancialMonthList, "-Select Month--", new { @id = "DDlFinMonths", @class = "col-xs-10 col-sm-10 RemoveDdlBorder" })
                                                                <input type="hidden" name="MonthText" id="MonthText" />
                                                            </td>*@
                                                            <td>
                                                                <input type="button" class="btn btn-primary pull-right" onclick="GetHPTR2List();" value="Search" />
                                                            </td>
                                                        </tr>

                                                    </table>
                                                    <div class="alert alert-block alert-danger" id="SearchAlertDiv" style="display: none;">
                                                        <strong><i class="ace-icon fa fa-check-square-o"></i>Error! </strong><span id="MsgSpan">Please select at least one field </span>
                                                    </div>
                                                    <div id="HPTR2ListDiv" style="max-width: 1200px; overflow: auto;">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/assets/js/bootbox.min.js"></script>

<script>
    function GetHPTR2List() {
        var Designation = $('#Designation').val();
        var FinacialYear = $('#DDlFinYear').val();
        //  var Month = $('#DDlFinMonths').val();

        $.ajax({
            type: "POST",
            url: ' /AccountsAdmin/SaveTR2Form/ShowHPTR2Form',
            data: '{ EmployeeId: "' + Designation + '",FinacialYear: "' + FinacialYear + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#HPTR2ListDiv').empty();
                $('#HPTR2ListDiv').append(result);
                
            },
            error: function (error) {
                $('#HPTR2ListDiv').empty();
                $('#HPTR2ListDiv').append(error.responseText);
            },
            complete: function (results) {
                $('#loader-wrapper').hide();
            }
        });
    }

    // $(document).on('click', '#SaveTR2FormDataBtn', function (e) {
    function UpdateHPTR2Form(){
        var IsValid = true;
        $('.ErrorMessage').remove('');
        if ($('#AccountFieldValue').val() == '') {
            $('#AccountFieldValue').after("<span class='ErrorMessage'>Please fill value.</span>");
            $("#AccountFieldValue").css("border", "1px solid red");
            IsValid = false;
        } debugger;
        var Id = $('#Id').val();
        var AccountFieldId = $('#AccountFieldId').val();
        var AccountFieldValue = $('#AccountFieldValue').val();
        var FromDate = $('#FromDate').val();
        var ToDate = $('#ToDate').val();
        var EmpId = $('#EmpId').val();
        if (IsValid == true) {
            var QData = $('#TR2DataForm').serialize();
          //  e.preventDefault();
            $.ajax({
                type: "POST",
                url: ' /AccountsAdmin/SaveTR2Form/UpdateHPTR2Form',
                data: '{ Id: "' + Id + '",AccountFieldId: "' + AccountFieldId + '",AccountFieldValue: "' + AccountFieldValue + '",EmpId: "' + EmpId + '",FromDate: "' + FromDate + '",ToDate: "' + ToDate + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#TR2DataModel').modal('hide');
                    $('#HPTR2ListDiv').empty();
                    $('#HPTR2ListDiv').append(result);
                    var dlg = bootbox.alert("Sucessfully updated", function (e) {
                        $(dlg).modal('hide');
                    });
                },
                error: function (error) {
                    $('#TR2DataModel').modal('hide');
                    $('#HPTR2ListDiv').empty();
                    $('#HPTR2ListDiv').append(error.responseText);
                },
                complete: function (results) {
                    $('#loader-wrapper').hide();
                    $('#TR2DataModel').modal('hide');
                }
            });
        }
    }

    function PopulateTR2Data(Id, AccountFieldId) {


        $.ajax({
            type: "POST",
            url: ' /AccountsAdmin/SaveTR2Form/PopulateTR2Data',
            data: '{ Id: "' + Id + '",AccountFieldId: "' + AccountFieldId + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#TR2DatatDiv').empty();
                $('#TR2DatatDiv').append(result);
                $('#TR2DataModel').modal('show');
            },
            error: function (error) {
                $('#TR2DatatDiv').empty();
                $('#TR2DatatDiv').append(error.responseText);
                $('#TR2DataModel').modal('show');

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }


    function PopulateTR2ForDAData(Id, AccountFieldId) {


        $.ajax({
            type: "POST",
            url: ' /AccountsAdmin/SaveTR2Form/PopulateTR2DataForDA',
            data: '{ Id: "' + Id + '",AccountFieldId: "' + AccountFieldId + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#TR2ForDADatatDiv').empty();
                $('#TR2ForDADatatDiv').append(result);
                $('#TR2ForDADataModel').modal('show');
            },
            error: function (error) {
                $('#TR2ForDADatatDiv').empty();
                $('#TR2ForDADatatDiv').append(error.responseText);
                $('#TR2ForDADataModel').modal('show');

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }

    function UpdateDAForm() {
        var IsValid = true;
        $('.ErrorMessage').remove('');
        if ($('#txtDAPer').val() == '') {
            $('#txtDAPer').after("<span class='ErrorMessage'>Please fill value.</span>");
            $("#txtDAPer").css("border", "1px solid red");
            IsValid = false;
        }
        var Id = $('#DAId').val();
        var AccountFieldId = $('#DAAccountFieldId').val();
        var txtDAPer = $('#txtDAPer').val();
        var EmpId = $('#EmpId').val();
        if (IsValid == true) {
          
            $.ajax({
                type: "POST",
                url: ' /AccountsAdmin/SaveTR2Form/UpdateDAForm',
                data: '{ Id: "' + Id + '",AccountFieldId: "' + AccountFieldId + '",DAPercentage: "' + txtDAPer + '",EmpId: "' + EmpId + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#TR2DataModel').modal('hide');
                    $('#HPTR2ListDiv').empty();
                    $('#HPTR2ListDiv').append(result);
                    var dlg = bootbox.alert("Sucessfully updated", function (e) {
                        $(dlg).modal('hide');
                    });
                },
                error: function (error) {
                    $('#TR2DataModel').modal('hide');
                    $('#HPTR2ListDiv').empty();
                    $('#HPTR2ListDiv').append(error.responseText);
                },
                complete: function (results) {
                    $('#loader-wrapper').hide();
                    $('#TR2ForDADataModel').modal('hide');
                }
            });
        }
    }
</script>
<!--Populate TR2 Data -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="TR2DataModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="RejectBillModalTitle">Update TR2 Data</h4>
            </div>
            <form method="post" action="/SchemeSetup/SaveQualification" id="TR2DataForm">
                <div class="modal-body">
                    <div id="TR2DatatDiv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="SaveTR2FormDataBtn" onclick="UpdateHPTR2Form()" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Populate TR2 Data for DA -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="TR2ForDADataModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="RejectBillForDAModalTitle">Update TR2 Data</h4>
            </div>
            <form method="post" action="/SchemeSetup/SaveQualification" id="TR2ForDADataForm">
                <div class="modal-body">
                    <div id="TR2ForDADatatDiv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="SaveTRForDA2FormDataBtn" onclick="UpdateDAForm()" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
