﻿@model SBL.DomainModel.Models.FormTR2.tEmployeeAccountDetails
<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }

    .datepicker {
        z-index: 1151 !important;
    }
</style>
<link href="~/assets/css/datepicker.css" rel="stylesheet" />
<div>

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.EmpId)
    @Html.HiddenFor(model => model.AccountFieldId)
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="Object">
            Finanacial Year
        </label>
        <div class="col-sm-9 help-block">
            @Model.finanacialYear
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="Object">
            Month
        </label>
        <div class="col-sm-9 help-block">

            @{
                System.Globalization.DateTimeFormatInfo mfi = new
System.Globalization.DateTimeFormatInfo();
                string strMonthName = mfi.GetMonthName(Model.AccountMonth.Value).ToString();
            }
            @strMonthName
        </div>
    </div>
    <div class="space-2"></div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="FromDate">
            From Date
        </label>
        <div class="col-sm-9 help-block">
            <input type="text" name="FromDate" id="FromDate"  class = "datepicker" />
        </div>
    </div>
    <div class="space-2"></div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="ToDate">
            To Date
        </label>
        <div class="col-sm-9 help-block">
             <input type="text" name="ToDate" id="ToDate"  class = "datepicker" />
          
        </div>
    </div>

    <div class="space-2"></div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="Calue">
            Value
        </label>
        <div class="col-sm-9 help-block">
            @Html.TextBoxFor(m => m.AccountFieldValue)
        </div>
    </div>
    <div class="space-2"></div>
</div>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $('.datepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "mm/dd/yyyy",
            defaultDate: new Date()
        });
    });
</script>
