﻿@model List<SBL.DomainModel.Models.Budget.SalaryVoucherNumbers>
<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }

    .datepicker {
        z-index: 1151 !important;
    }
</style>
<link href="~/assets/css/datepicker.css" rel="stylesheet" />
<div class="alert alert-warning" id="MsgDiv" style="display: none;">
    <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
    <strong><i class="ace-icon fa fa-check-square-o"></i>Error ! </strong><span id="msg"></span>
</div>
<br />
<form method="post" action="/AccountsAdmin/SaveTR2Form/SaveSalaryVoucherNumbers" id="SaveSalaryVoucherNumbersForm">
    <div class="row">
        <div class="two-column" id="innerDiv">
            <div class=" col-md-12 ">
                <div id="resize-left" class="ui-widget-content" style="width: 100%;">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4 class="widget-title">Salary Voucher Numbers
                                    </h4>

                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="clearfix">

                                            <div class="table-responsive">
                                                <div id="divDataContainer">

                                                    <table class="table">
                                                        <tr class="info">
                                                            <td style="width: 100%">
                                                                <label class=" control-label  " for="EndDateFrom">Financial Year:-</label>
                                                                @Html.DropDownList("FinancialYear", (SelectList)ViewBag.FinancialYearList, new { @id = "DDlFinYear", @class = " RemoveDdlBorder" })
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <div class="alert alert-block alert-danger" id="SearchAlertDiv" style="display: none;">
                                                        <strong><i class="ace-icon fa fa-check-square-o"></i>Error! </strong><span id="MsgSpan">Please select at least one field </span>
                                                    </div>
                                                    <div id="DataDiv">
                                                        @{Html.RenderPartial("~/Areas/AccountsAdmin/Views/SaveTR2Form/_SalaryVoucherNumbersList.cshtml", Model);}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <br />
    <div class="wizard-actions">
        <button type="button" class="btn btn-sm btn-purple" id="submitBttn" name="submitBttn" onclick="return SaveSalaryVoucherNumbers();">
            <i class="ace-icon fa fa-floppy-o bigger-125"></i>
            Update</button>

    </div>
    <br />
</form>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>



<script type="text/javascript">

    //$(document).ready(function () {
    //    var FinYear = $("#DDlFinYear").val();
    //    GetSalaryVoucherNumbersByFinYear(FinYear);
    //});


    $("#DDlFinYear").change(function () {
        $("#loader-wrapper").show();
        var FinYear = $("#DDlFinYear").val();
        GetSalaryVoucherNumbersByFinYear(FinYear);
    });

    function GetSalaryVoucherNumbersByFinYear(FinYear) {
        if (FinYear != null && FinYear != "") {
            $.get("/AccountsAdmin/SaveTR2Form/GetSalaryVoucherNumbersList", {
                FinYear: FinYear
            }, function (data) {
                $("#DataDiv").html(data);
                $("#loader-wrapper").hide();
            });
        }
        else {
            $("#loader-wrapper").hide();
        }
    }


    function SaveSalaryVoucherNumbers() {
        var QData = $('#SaveSalaryVoucherNumbersForm').serialize();
        $.ajax({
            cache: false,
            async: true,
            type: "POST",
            url: '/AccountsAdmin/SaveTR2Form/SaveSalaryVoucherNumbers',
            //data: { ObjFormCollection: QData, FinYear: FinYear } ,
            data: QData,
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                bootbox.alert(result);
                $('#loader-wrapper').hide();
            },
            error: function (result) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(result.responseText);
                $('#resize-right').hide();
            },

            complete: function (result) {
                debugger;
                var FinYear = $("#DDlFinYear").val();
                GetSalaryVoucherNumbersByFinYear(FinYear);
                $('#loader-wrapper').hide();
            }
        });
    }

</script>


