﻿@model  SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models.HPTR2Model
<style type="text/css">
    .list {
        overflow: hidden; /* just clearing floats */
        list-style: none;
        margin: 0px;
    }

    .Medicine_list__item {
        width: 25%; /* 4 items per row */
        float: left;
        padding: 0.625rem; /* 10 */
    }

    .Medicine_list__item__inner {
        color: #474d51;
        background-color: #fff;
        margin: 2px;
        -webkit-box-shadow: 0 0.125rem 0.313rem rgba( 0, 0, 0, .2 ); /* 2 5 */
        box-shadow: 0 0.125rem 0.313rem rgba( 0, 0, 0, .2 ); /* 2 5 */
        font: 200 16px/1.5 Helvetica, Verdana, sans-serif;
    }





    .huge {
        font-size: 15px;
    }

    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }
</style>


<div class="row">
    <div class="two-column" id="innerDiv">
        <div class=" col-md-12 ">
            <div id="resize-left" class="ui-widget-content" style="width: 100%;">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="widget-box">
                            <div class="widget-header">
                                <h4 class="widget-title">HPTR 2 Form
                                </h4>

                                <div class="widget-toolbar no-border">
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <div class="clearfix">

                                        <div class="table-responsive">
                                            <div id="divDataContainer">
                                                <form action="/AccountsAdmin/SaveTR2Form/" id="HPTRS2Form" class="form-horizontal">
                                                    <table class="table">
                                                        <tr class="info">

                                                            <td>
                                                                <label class=" control-label  " for="Language">Select Class</label>
                                                                 @Html.DropDownList("Classes", (SelectList)ViewBag.StaffClass, new { @class = "col-xs-10 col-sm-12 RemoveDdlBorder" })
                                                            </td>
                                                            <td>
                                                                <label class=" control-label  " for="Language">Select Staff</label>
                                                                @Html.DropDownList("Designation", (SelectList)ViewBag.StaffList, "--Select--", new { @class = "col-xs-10 col-sm-10 RemoveDdlBorder" })
                                                            </td>
                                                            <td>
                                                                <label class=" control-label  " for="Language">Financial Year</label>
                                                                @Html.DropDownList("FinancialYear", (SelectList)ViewBag.FinancialYearList, new { @id = "DDlFinYear", @class = "col-xs-10 col-sm-10 RemoveDdlBorder", onchange = "GetMonthsCode()" })

                                                            </td>
                                                            <td>
                                                                <label class=" control-label  " for="Frequency">Select Month</label>
                                                                @Html.DropDownList("Month", (SelectList)ViewBag.FinancialMonthList, "-Select Month--", new { @id = "DDlFinMonths", @class = "col-xs-10 col-sm-10 RemoveDdlBorder" })
                                                                <input type="hidden" name="MonthText" id="MonthText" />
                                                            </td>
                                                            <td>
                                                                <label class=" control-label  " for="Frequency">DA %</label>

                                                                <input type="text" name="DAPercentage" value="@ViewBag.DAPERCENTAGE" id="DAPercentage" />
                                                            </td>
                                                            <td>
                                                                <br />
                                                                <input type="button" class="btn btn-primary pull-right" onclick="CopyAndFillData();" value="Copy" />
                                                            </td>
                                                        </tr>

                                                    </table>
                                                    <div class="alert alert-block alert-danger" id="SearchAlertDiv" style="display: none;">
                                                        <strong><i class="ace-icon fa fa-check-square-o"></i>Error! </strong><span id="MsgSpan">Please select at least one field </span>
                                                    </div>
                                                    <div id="SearchDataDiv">
                                                        @if (Model != null && Model.AccountFieldsList.Count() > 0)
                                                        {
                                                        
                                                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading" role="tab" id="headingOne">
                                                                        <h4 class="panel-title">
                                                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Dues
                                                                            </a>
                                                                        </h4>
                                                                    </div>
                                                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                                        <div class="panel-body">

                                                                            <ul class="list">
                                                                                @if (Model.DUESList != null && Model.DUESList.Count() > 0)
                                                                                {
                                                                                    foreach (var item in Model.DUESList)
                                                                                    {
                                                                                    <li class="Medicine_list__item">
                                                                                        <div class="panel panel-green" style="border-color: forestgreen;">
                                                                                            <div class="panel-heading">
                                                                                                <div class="row">
                                                                                                    <input type="hidden" name="AccountFieldsId" value="@item.Value" />
                                                                                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-1">@item.Text </label>

                                                                                                    <div class="col-sm-8">
                                                                                                        <input type="text" name="AccountFieldsValue-@item.Value" id="AccountFieldsValue-@item.Value"  placeholder="@item.Text" class="col-xs-12 col-sm-12 IsnumericClass RemoveBorder">
                                                                                                    </div>

                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </li> 
                                                                                    }

                                                                                }

                                                                            </ul>



                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading" role="tab" id="headingTwo">
                                                                        <h4 class="panel-title">
                                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">A.G. Deduction
                                                                            </a>
                                                                        </h4>
                                                                    </div>
                                                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                                        <div class="panel-body">

                                                                            <ul class="list">
                                                                                @if (Model.AGDList != null && Model.AGDList.Count() > 0)
                                                                                {
                                                                                    foreach (var item in Model.AGDList)
                                                                                    {
                                                                                    <li class="Medicine_list__item">
                                                                                        <div class="panel panel-green" style="border-color: forestgreen;">
                                                                                            <div class="panel-heading">
                                                                                                <div class="row">
                                                                                                    <input type="hidden" name="AccountFieldsId" value="@item.Value" />
                                                                                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-1">@item.Text </label>

                                                                                                    <div class="col-sm-8">
                                                                                                        <input type="text" name="AccountFieldsValue-@item.Value" id="AccountFieldsValue-@item.Value"  placeholder="@item.Text" class="col-xs-12 col-sm-12 IsnumericClass RemoveBorder">
                                                                                                    </div>

                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </li> 
                                                                                    }

                                                                                }

                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading" role="tab" id="headingThree">
                                                                        <h4 class="panel-title">
                                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Treasury Deduction
                                                                            </a>
                                                                        </h4>
                                                                    </div>
                                                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                                        <div class="panel-body">
                                                                            <ul class="list">
                                                                                @if (Model.TDList != null && Model.TDList.Count() > 0)
                                                                                {
                                                                                    foreach (var item in Model.TDList)
                                                                                    {
                                                                                    <li class="Medicine_list__item">
                                                                                        <div class="panel panel-green" style="border-color: forestgreen;">
                                                                                            <div class="panel-heading">
                                                                                                <div class="row">
                                                                                                    <input type="hidden" name="AccountFieldsId" value="@item.Value" />
                                                                                                    <label class="col-sm-4 control-label no-padding-right" for="form-field-1">@item.Text </label>

                                                                                                    <div class="col-sm-8">
                                                                                                        <input type="text" name="AccountFieldsValue-@item.Value" id="AccountFieldsValue-@item.Value"  placeholder="@item.Text" class="col-xs-12 col-sm-12 IsnumericClass RemoveBorder">
                                                                                                    </div>

                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </li> 
                                                                                    }

                                                                                }

                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <input type="button" class="btn btn-primary pull-right" onclick="SaveHPTR2Form();" value="Submit" />
                                                                </div>
                                                            </div>
                                                        
                                                        }
                                                        else
                                                        {
                                                            <h2>Sorry No Account fields define yet.</h2>
                                                        }
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/assets/js/bootbox.min.js"></script>

<script>

    $(document).ready(function () {
        $('.RemoveBorder').keypress(function () {
            var Id = this.id;
            $("#" + Id).next().hide();
            $("#" + Id).css("border", "1px solid green");
        });
        $('.IsnumericClass').keypress(function (e) {
            var key = (e.which) ? e.which : e.keyCode;
            if ((key >= 48 && key <= 57) || (key == 44) || (key == 8)) {

                return true;
            }
            else {
                return false;
            }
        });
    });
    $("#DDlFinMonths").on("change", function () {
        var MonthText = $("#DDlFinMonths option:selected").text();
        $("#MonthText").val(MonthText);
    });

    function CalculateDA() {
        var DA = $('#DAPercentage').val();
        var BasicPay = $('#AccountFieldsValue-2').val();
        var SpecailPay = $('#AccountFieldsValue-3').val();
    }

    $('#AccountFieldsValue-3').on("keyup", function () {
        $('.ErrorMessage').remove('');
        var IsValid = true;
        var DA = $('#DAPercentage').val();
        var BasicPay = $('#AccountFieldsValue-2').val();
        var SpecailPay = $('#AccountFieldsValue-3').val();
        var GP = $('#AccountFieldsValue-10').val();
        var SecPay = $('#AccountFieldsValue-11').val();
        if (BasicPay == '') {
            $('#AccountFieldsValue-2').after("<span class='ErrorMessage'>Please fill Basic Pay.</span>");
            $('#AccountFieldsValue-2').css("border", "1px solid red");
            IsValid = false;
        }
        if (SpecailPay == '' || SpecailPay == null)
            SpecailPay = 0;
        if (GP == '' || GP == null)
            GP = 0;
        if (SecPay == '' || SecPay == null)
            SecPay = 0;
        if (IsValid == true) {
            var TotalOfPay = parseInt(BasicPay) + parseInt(SpecailPay) + parseInt(GP) + parseInt(SecPay);
            var CalculatedDA = (TotalOfPay * parseInt(DA)) / 100;
            $('#AccountFieldsValue-4').val(CalculatedDA.toFixed());
        }
    });

    $('#AccountFieldsValue-10').on("keyup", function () {

        $('.ErrorMessage').remove('');
        var IsValid = true;
        var DA = $('#DAPercentage').val();
        var BasicPay = $('#AccountFieldsValue-2').val();
        var SpecailPay = $('#AccountFieldsValue-3').val();
        var GP = $('#AccountFieldsValue-10').val();
        var SecPay = $('#AccountFieldsValue-11').val();
        if (BasicPay == '') {
            $('#AccountFieldsValue-2').after("<span class='ErrorMessage'>Please fill Basic Pay.</span>");
            $('#AccountFieldsValue-2').css("border", "1px solid red");
            IsValid = false;
        }
        if (SpecailPay == '' || SpecailPay == null)
            SpecailPay = 0;
        if (GP == '' || GP == null)
            GP = 0;
        if (SecPay == '' || SecPay == null)
            SecPay = 0;
        if (IsValid == true) {
            var TotalOfPay = parseInt(BasicPay) + parseInt(SpecailPay) + parseInt(GP) + parseInt(SecPay);
            var CalculatedDA = (TotalOfPay * parseInt(DA)) / 100;
            $('#AccountFieldsValue-4').val(CalculatedDA.toFixed());
        }
    });
    $('#AccountFieldsValue-11').on("keyup", function () {

        $('.ErrorMessage').remove('');
        var IsValid = true;
        var DA = $('#DAPercentage').val();
        var BasicPay = $('#AccountFieldsValue-2').val();
        var SpecailPay = $('#AccountFieldsValue-3').val();
        var GP = $('#AccountFieldsValue-10').val();
        var SecPay = $('#AccountFieldsValue-11').val();
        if (BasicPay == '') {
            $('#AccountFieldsValue-2').after("<span class='ErrorMessage'>Please fill Basic Pay.</span>");
            $('#AccountFieldsValue-2').css("border", "1px solid red");
            IsValid = false;
        }
        if (SpecailPay == '' || SpecailPay == null)
            SpecailPay = 0;
        if (GP == '' || GP == null)
            GP = 0;
        if (SecPay == '' || SecPay == null)
            SecPay = 0;
        if (IsValid == true) {
            var TotalOfPay = parseInt(BasicPay) + parseInt(SpecailPay) + parseInt(GP) + parseInt(SecPay);
            var CalculatedDA = (TotalOfPay * parseInt(DA)) / 100;
            $('#AccountFieldsValue-4').val(CalculatedDA.toFixed());
        }
    });
    function GetMonthsCode() {

        var DDlfinVal = $('#DDlFinYear').val();
        if (DDlfinVal != "" && DDlfinVal != null) {
            $('#DDlfinVal').val(DDlfinVal);
            $("#DDlFinMonths").empty();;
            var pathurl = '@Url.Action("GetMonths", "TR2")';
            $.ajax({
                url: pathurl,
                type: 'GET',
                data: { Months: DDlfinVal },
                success: function (data) {
                    $("#DDlFinMonths").empty();
                    $.each(data, function (index, itemData) {

                        $("#DDlFinMonths").append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                }, error: function (data) {
                    alert("Something wrong...")
                }
            })
        }
        else {
            $("#DDlFinMonths").empty()
            $("#DDlFinMonths").append("<option value=''>Select Month</option>")
        }


    }

    function SaveHPTR2Form() {
        $('.ErrorMessage').remove('');
        var IsValid = true;

        if ($('#Designation').val() == '') {
            $('#Designation').css("border", "1px solid red");
            $('#Designation').after("<span class='ErrorMessage'>Designation  Required</span>");
            IsValid = false;
        }
        if ($('#AccountFieldsValue-2').val() == '') {
            $('#AccountFieldsValue-2').css("border", "1px solid red");
            $('#AccountFieldsValue-2').after("<span class='ErrorMessage'> Basic Pay  Required</span>");
            IsValid = false;
        }
        if ($('#AccountFieldsValue-3').val() == '') {
            $('#AccountFieldsValue-3').css("border", "1px solid red");
            $('#AccountFieldsValue-3').after("<span class='ErrorMessage'> Special Pay  Required</span>");
            IsValid = false;
        }

        if (IsValid == true) {

            var QData = $('#HPTRS2Form').serialize();
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '/AccountsAdmin/SaveTR2Form/SaveHPTR2Form',
                data: QData,
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    var dlg = bootbox.alert(result, function (e) {
                        $(dlg).modal('hide');
                    });

                },
                error: function (result) {
                    var dlg = bootbox.alert(result.responseText, function (e) {
                        $(dlg).modal('hide');
                    });
                },

                complete: function (result) {
                    $('#loader-wrapper').hide();
                }
            });
        }
    }

    function CopyAndFillData() {
        $('.ErrorMessage').remove('');
        debugger;
        var IsValid = true;

        if ($('#Designation').val() == '') {
            $('#Designation').css("border", "1px solid red");
            $('#Designation').after("<span class='ErrorMessage'>Designation  Required</span>");
            IsValid = false;
        }
        if ($('#DDlFinMonths').val() == '') {
            $('#DDlFinMonths').css("border", "1px solid red");
            $('#DDlFinMonths').after("<span class='ErrorMessage'> Month  Required</span>");
            IsValid = false;
        }
        var Designation = $('#Designation').val();
        var FinacialYear = $('#DDlFinYear').val();
        var Month = $('#DDlFinMonths').val();
        if (IsValid == true) {

            $.ajax({
                type: "POST",
                url: ' /AccountsAdmin/SaveTR2Form/CopyTR2Data',
                data: '{ EmployeeId: "' + Designation + '",FinacialYear: "' + FinacialYear + '",Month: "' + Month + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {

                    $('#loader-wrapper').show();
                },
                success: function (result) {

                    if (result != null) {

                        for (var i = 0, iLen = result.length; i < iLen; i++) {

                            // This is for All DUES
                            if (result[i].AccountFieldId == 2) {
                                $('#AccountFieldsValue-2').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 3) {
                                $('#AccountFieldsValue-3').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 4) {
                                $('#AccountFieldsValue-4').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 5) {
                                $('#AccountFieldsValue-5').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 6) {
                                $('#AccountFieldsValue-6').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 7) {
                                $('#AccountFieldsValue-7').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 8) {
                                $('#AccountFieldsValue-8').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 9) {
                                $('#AccountFieldsValue-9').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 10) {
                                $('#AccountFieldsValue-10').val(result[i].AccountFieldValue);
                            }



                            // this for AG Deduction

                            if (result[i].AccountFieldId == 17) {
                                $('#AccountFieldsValue-17').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 18) {
                                $('#AccountFieldsValue-18').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 19) {
                                $('#AccountFieldsValue-19').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 20) {
                                $('#AccountFieldsValue-20').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 21) {
                                $('#AccountFieldsValue-21').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 22) {
                                $('#AccountFieldsValue-22').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 23) {
                                $('#AccountFieldsValue-23').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 24) {
                                $('#AccountFieldsValue-24').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 25) {
                                $('#AccountFieldsValue-25').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 26) {
                                $('#AccountFieldsValue-26').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 27) {
                                $('#AccountFieldsValue-27').val(result[i].AccountFieldValue);
                            }



                            // this is for Treasury Deduction
                            if (result[i].AccountFieldId == 30) {
                                $('#AccountFieldsValue-30').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 31) {
                                $('#AccountFieldsValue-31').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 32) {
                                $('#AccountFieldsValue-32').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 33) {
                                $('#AccountFieldsValue-33').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 34) {
                                $('#AccountFieldsValue-34').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 35) {
                                $('#AccountFieldsValue-35').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 36) {
                                $('#AccountFieldsValue-36').val(result[i].AccountFieldValue);
                            }
                            if (result[i].AccountFieldId == 37) {
                                $('#AccountFieldsValue-37').val(result[i].AccountFieldValue);
                            }

                        }
                    }


                },
                error: function (error) {
                    var dlg = bootbox.alert(error.responseText, function (e) {
                        $(dlg).modal('hide');
                    });

                },
                complete: function (results) {

                    $('#loader-wrapper').hide();
                    setTimeout(function () {
                        $('#divMsg').slideUp("slow");
                    }, 6000);

                }
            });
        }
    }


    $('#Classes').change(function () {
        var Classes = $('#Classes').val();
        GetStaffByClass(Classes);
    });

    function GetStaffByClass(Classes) {
        $.ajax({
            type: "POST",
            url: '/AccountsAdmin/SaveTR2Form/GetStaffByClass',
            data: '{ Classes: "' + Classes + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (data) {
                debugger;
                if (data != null) {
                    var memberCol = data;

                    if (memberCol.length > 0) {

                        var selectOpt = '<option value="">---Select Staff ---</option>';

                        $.each(memberCol, function (e, index) {

                            selectOpt += '<option value="' + memberCol[e]["StaffID"] + '">' +

                            memberCol[e]["NameWithDesignation"] + '</option>';

                        });

                        $("#Designation").html(selectOpt);
                    }
                    else {

                        var selectOpt = '<option value="">---Select Staff ---</option>';

                        $("#Designation").html(selectOpt);
                    }


                }
                else {
                    var dlg = bootbox.alert('No Data Available', function (e) {

                        $(dlg).modal('hide');
                    });
                }


            },
            error: function (data) {
                debugger;
                if (data != null) {

                    var memberCol = data;

                    if (memberCol.length > 0) {

                        var selectOpt = '<option value="">---Select Staff ---</option>';

                        $.each(memberCol, function (e, index) {

                            selectOpt += '<option value="' + memberCol[e]["StaffID"] + '">' +

                            memberCol[e]["NameWithDesignation"] + '</option>';

                        });

                        $("#Designation").html(selectOpt);
                    }
                    else {

                        var selectOpt = '<option value="">---Select Staff ---</option>';

                        $("#Designation").html(selectOpt);
                    }


                }
                else {
                    var dlg = bootbox.alert('No Data Available', function (e) {

                        $(dlg).modal('hide');
                    });
                }
            },
            complete: function (result) {
                $('#loader-wrapper').hide();
            }
        });
    }

</script>
