﻿@model  SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.NoticeTypeViewModel
@{
    ViewBag.Title = "CreateNews";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}
@Html.Action("LeftNavigationMenu", "SuperAdmin")
<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    @Html.Partial("_BreadcrumbsPartial")
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("GetAllNoticeType", "NoticeType")">@Resources.MasterDataDashboard.Admin</a>
            </li>
            <li>
                <a href="@Url.Action("GetAllNoticeType", "NoticeType")">@Resources.MasterDataDashboard.NoticeType</a>
            </li>
            
        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
      @*  <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>*@

    </div>

    <div class="page-content">
       
        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.Admin
                               
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.NoticeType
                </small>
            </h1>


        </div>

        <!-- /section:settings.box -->

        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.CreateNoticeType</h4>
            }
            else
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.EditNoticeType</h4>
            }

        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">

                            @using (Html.BeginForm("SaveNoticeType", "NoticeType", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                            { 
                                @Html.AntiForgeryToken()
                                
                                @Html.HiddenFor(model => model.Mode)
                                
                                    @Html.HiddenFor(model=>model.NoticeTypeID)

                                @*<h4 class="header blue lighter smaller clearfix">@Resources.MasterDataDashboard.Basicdetails </h4>*@


                                <div class="tabbable">
                                   @* <ul id="myTab" class="nav nav-tabs padding-18">
                                        <li class="active">
                                            <a href="#news-english" data-toggle="tab">
                                                <i class="green ace-icon fa fa-home bigger-120"></i>
                                                English
                                            </a>
                                        </li>

                                        
                                    </ul>*@
                                    <div class="tab-content no-border padding-24">
                                        <div class="tab-pane in active" id="news-english">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Name">@Resources.MasterDataDashboard.NoticeTypeName </label>

                                                <div class="col-sm-9 help-block">

                                                    @Html.TextAreaFor(s=>s.NoticeTypeName, new {@id="NotType", @class = "col-xs-10 col-sm-9", @placeholder = @Resources.MasterDataDashboard.NoticeTypeName, @autocomplete = "off" ,@maxlength ="201" })
                                                    <span class="field-validation-error" id="NoticeTypeNamevalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                    @Html.ValidationMessageFor(s=>s.NoticeTypeName)

                                                </div>
                                            </div>

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.NoticeTypeNameHindi</label>
                                                <div class="col-sm-9">
                                                    @* <div class="clearfix">
                                                            <div class="wysiwyg-editor wysiwyg-style2" id="editor-eng"></div>    
                                                        </div>*@
                                                    @Html.TextAreaFor(model => model.NoticeTypeNameLocal, new {@id="NotTypeLo", @class = "col-xs-10 col-sm-9", @placeholder = @Resources.MasterDataDashboard.NoticeTypeNameHindi, @autocomplete = "off" ,@maxlength ="301" })
                                                   
                                                </div>

                                            </div>
                                            <div class="space-2"></div> 
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.IsActive </label>
                                                <div class="col-sm-9">
                                                   @Html.CheckBoxFor(model => model.IsActive)                                                         
                                                </div>

                                            </div>
                                        </div>
                                        

                                    </div>
                                </div>

                            
                                @*<div class="space-2"></div>

                                   
                                <hr />*@

                                <div class="btn-group pull-right padding-10" >
                                    <!-- #section:plugins/fuelux.wizard.buttons -->
                                   
                                  
                                     <button type="submit" id="savebtn" class="btn btn-sm btn-purple " onclick="return userValid();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        @Resources.MasterDataDashboard.Save</button>
                                      <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        @Resources.MasterDataDashboard.Reset
                                    </button>


                                    
                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>

                            }



                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="../assets/js/jquery.gritter.min.js"></script>
        <script src="../assets/js/jquery.maskedinput.min.js"></script>



<script type="text/javascript">

    function userValid() {
        var NTN;
        NTN = document.getElementById("NotType").value;
        
        if ((NTN == "" || NTN == null)) {
            $("#NoticeTypeNamevalidation").html("Name Required");
            
            return false;
        }
        return true;

    }
    $(function () {
        $('#NotType').focus(function () {
            $('#NoticeTypeNamevalidation').html("");
        });
    });
    

    </script>
<script>


    $(function () {

        $("#NotType").blur(function () {
            $(this).animate({
                height: '55px',
                width: '580px'
            },
               "fast"
            )
        });

        $("#NotType").focus(function () {
            $(this).animate({
                height: '200px',
                width: '580px'
            },
               "fast"
            );

            //$("#newsDescvalidation").html("");

        });

    });



    $(function () {

        $("#NotTypeLo").blur(function () {
            $(this).animate({
                height: '55px',
                width: '580px'
            },
               "fast"
            )
        });

        $("#NotTypeLo").focus(function () {
            $(this).animate({
                height: '200px',
                width: '580px'
            },
               "fast"
            );

            //$("#newsDescvalidation").html("");

        });

    });
    function DeleteNewsCategoryInEdit(url) {

        //var url = $(this).attr('href');
        var id = $("#CategoryID").val();
        var path = "@Url.Action("CheckNewsCategoryChildExist", "News")";

        var request = $.ajax({

            url: path,
            data: { categoryId: id },
            success: function (result) {
                //alert(result);
                if (!result) {

                    bootbox.confirm("Are you sure to Delete News Category ?", function (confresult) {

                        if (confresult) {

                            window.location.href = url;
                        }

                    })
                }
                else {

                    bootbox.alert("This News Category Already Had Some Content .Please Delete Those News.");
                }
            }


        });
    }


    $(document).ready(function () {
        $("#NotType").focus();

        $("#othermain").addClass("active open");
        $("#othersub").addClass("nav-show").css("display", "block");
        $("#noticetypelist").addClass("active");
        $("#otherlinkid").removeClass("fa-comment").addClass("fa-comment-o");
    });
    function resetFields() {
        $(".field-validation-error").empty();
        $("#NotType").focus();

    }


</script>
