    .container {
        /*font-size:9px;*/
        width: 500px;
        border: 1px solid Black;
        padding-top:3px;
        height:auto;
        padding-left: 18px;
    }

.section-pass-main {
	border:1px solid black;
    padding:10px;
    margin-top:10px;
    margin-bottom:10px;
    page-break-inside: avoid; 
    font-family: 'Open Sans';
}

/*  ------------ vehicle entry pass css  --------------- */
.pass-vehicle-entry-img-1 {
position: relative;
top:-94px;
left:-260px;
width:109px;
height:96px;
}

.pass-vehicle-entry-textcontent {
position: relative;
top:-233px;
left:133px;
}

.pass-vehicle-entry-img-2 {
position: relative;
top:-172px;
left:161px;
width:75px;
height:60px;
}



/*  ------------ vehicle parking pass css  --------------- */

.pass-vehicle-parking-img-1 {
position: relative;
top:-46px;
left:-241px;
width:75px;
height:60px;

}

.pass-vehicle-parking-textcontent {
position: relative;
top:-208px;
left:140px;
}

.pass-vehicle-parking-img-2 {
position: relative;
top:-193px;
left:167px;
width:50px;
height:50px;
}


/*  ------------ casual entry permit css  --------------- */

.casual-entry-permit-main {
padding:10px;
padding-bottom:20px;
}

.pass-content {
font-size:9px;
position: absolute;
top:69px;
left:99px;
}

.pass-content-vehicle-entry {
font-size:9px;
position: relative;
top:143px;
left:158px;
}

.pass-content-visitor-gallery {
    background:grey;
    width:350px;
    height:auto;
    padding-left:40px;
    page-break-inside: avoid;
}
.tr-padding {
padding-left:5px;
}
.tr-text-center {
text-align:center;
}
.tr-padding-left {
padding-left:5px;
padding-left:5px;
}

.pass-gallery-title {
line-height: 7px;
font-weight: bold;
}
.pass-gallery-main {
padding:10px;
padding-bottom:20px;
background:grey;
}

.page-no-break {
    	page-break-inside: avoid;    
    }
.page-yes-break {
    	page-break-after: always;    
    }

 /*@media screen {
    .pass { 
	height:200px;
	margin-top:5px;
	margin-bottom:3px;
	font-family: verdana,sans-serif;
	font-size: 14px;
    }
}*/

/*@media print {
.pass-print {
	height:200px;
	margin-top:10px;
	margin-bottom:3px;
	font-size: 20px;
	color: red;
	page-break-inside: avoid;
	position:relative;
	top:20px;
    
    }
.page-no-break {
    	page-break-inside: avoid;    
    }
.page-yes-break {
    	page-break-after: always;    
    }
.pagebrake{
	border:1px solid blue; 
	height:960px;
	page-break-after: always;
	    }
}*/


 /*From other CSS file.*/
.pass-content-vehicle-entry {
font-size:9px;
position: relative;
top:143px;
left:158px;
}

.td-heading {
    width : 25%;
}

.td-information {
    width:75%;
}

.pass-content-visitor-gallery {
    background:white;
    width:100%;
    height:auto;
    padding:10px 20px 20px 20px;
    page-break-inside: avoid;
}
.tr-padding {
padding-left:5px;
}

.tr-text-center {
text-align:center;
}

tr-padding-left {
padding-left:5px;
padding-left:5px;
}

.pass-gallery-title {
line-height: 7px;
font-weight: bold;
}


.img {
height:45px;
width:66px;
}

.UserPic {
height: 106px;
width: 118px;
padding-top: 5px;
}

.QRCodePic {
    height: 65px;
    width: 80px;
}
.QRCodePic2 {
    height: 65px;
    width: 75px;
    position: relative;
    top: 8px;
    right: 4px;
}
}

.VisitorPic {
    height: 80px;
    width:80px;
    position: relative;
    top: -97px;
}

.signature-pic {
height: 37px;
width: 150px;
position: relative;
right: -277px;
top: 28px;
}

.signature-pic2 {
height: 37px;
width: 93px;
position: relative;
right: -369px;
top: 1px;
}

.signature-pic3 {
height: 37px;
width: 150px;
position: relative;
right: -63px;
top: 0px;
}

.fontstyle1
{
    font-weight:bold;
    font-size:12px;
}

.fontstyle2
{
    font-weight:lighter;
    font-size:11px;
}
.fontbold {
    font-size:9px;
    font-weight:bold;
    padding-left: 2px;

}
.pad{
    padding-left: 11px;
 }

.padUserPic{
    padding-left: 26px;
 }

.infoBlock {
    width:65%;
}

.td-Block {
    width:22% !important;
}

.line {
    border-bottom:2px solid black;
}

/*section tr {
    padding:3px;    
}

.font-info {
    font-size:10px;
    font-weight:bold;
    padding-left: 2px;
}

section td {
}*/

.td-Width {
    width : 60px !important;
}

.td-underline {
border-bottom: 1px solid black;
}

.Padding-td {
    padding : 0px 0px 0px 30px;
}

.instruction-header {
    padding:3px;  
    line-height:0px;
    text-align:left;
    font-weight : bold;
}

.instruction {
    width: 98%;
    text-align: justify;
    line-height: 9px;
    font-size: 8px;
    text-align: left;
}

/*section{
    border:1px solid black;
    font-size:7px;
  }*/
     p {
    font-size:8px;
    /*line-height:1px;*/
    }

.pass-gallery-main {
padding:10px;
padding-bottom:20px;
background:white;
text-align: left;
padding-left: 10%;
}

.star img {
    visibility: visible;
}

.wrprParking {
        width: 418px;
        height: 419px;
         background-image: url(../img/vehicle_pass.png);
        padding-left: 34px;
        -webkit-print-color-adjust:exact;
        visibility: visible;
    }

    .logoimg {
        padding-top: 140px;
        width: 110px;
        text-align: center;
        padding-left: 136px;
        line-height: 20px;
    }

    .nmfnt {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 11px;
        color: #139241;
        padding-top: 190px;
        width: 320px;
        text-align: left;
        padding-left: 88px;
        line-height: 20px;
    }

    .sign {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 11px;
        color: #139241;
        font-weight: bold;
        padding-top: 40px;
        width: 110px;
        text-align: center;
        padding-left: 150px;
        line-height: 20px;
    }