﻿<script type="text/javascript">
    $(document).ready(function () {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/AccountsAdmin/EstablishBill/CenceledEstablishBillIndex",
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $('#MainDiv').empty();
                $('#MainDiv').html(data);
                $("#MainDiv").css("display", "block");
                $("#loader-wrapper").hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        })
    })
</script>

<!-- Show Voucher List -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="VouvherBillListModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="VouvherBillListTitle">Voucher Bill List </h4>
            </div>
            <form method="post" action="/SchemeSetup/SaveQualification" id="VouvherBillListForm">
                <div class="modal-body">
                    <div id="VouvherBillListDiv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @* <button type="button" id="VouvherBillListDivBill" onclick="SaveEstablishBill()" class="btn btn-primary">Save changes</button>*@
                </div>
            </form>
        </div>
    </div>
</div>

