﻿@model IEnumerable<SBL.DomainModel.Models.CommitteeReport.tCommitteeReplyPendencyDetail>
@{var count = 0;  }

<div class="row">
    <div class="col-xs-12">
        <div class="pass-table" style="overflow-x:scroll">
            @if (Model != null)
            {
                if (Model.Count() > 0)
                {
                       
                <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-3" aria-describedby="sample-table-2_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">S.No</th>
                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Reply Id</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Reply Date Time</th>
                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Department Reply</th>
                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Questionaire for committee</th>
                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Recommend date/comment date</th>
                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Recommend/Comments of committee</th>
                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Status</th>
                             @if (ViewBag.loginType == "VidhanSabha")
                                {<th class="sorting_disabled center" role="columnheader" rowspan="1" colspan="1" aria-label="">Action</th>}
                        </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        @foreach (var item in Model)
                        {
                            count = count + 1;                            
                            <tr>
                                <td class="center">@count
                                </td>
                                <td>
                                    @item.PendencyReplyId
                                </td>
                                <td>
                                    @{
                            if (item.ReplyDatetime != null)
                            {
                                var ts1 = Convert.ToDateTime(item.ReplyDatetime);
                                string date1 = ts1.ToString("dd/MM/yyyy").Replace('-', '/');
                                        @Html.Raw(date1)}
                                    }
                                </td>
                                <td class="items">
                                    <a class="deptReplybutton green tooltip-success" style="display:none" data-rel="tooltip" title="Edit" onclick="EditReplyEntryD('@item.PendencyId','@item.PendencyReplyId');">
                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                    </a>
                                    @Html.Raw(item.DepartmentReply)
                                </td>
                                <td class="items">
                                    <a class="quesionareeForCommitteeButton green tooltip-success" style="display:none" data-rel="tooltip" title="Edit" onclick="EditReplyEntryQ('@item.PendencyId','@item.PendencyReplyId');">
                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                    </a>
                                    @Html.Raw(item.QuestionaireForCommittee)
                                </td>
                                <td>
                                    @{
                            if (item.Recomm_CommentDate != null)
                            {
                                var ts = Convert.ToDateTime(item.Recomm_CommentDate);
                                string date = ts.ToString("dd/MM/yyyy").Replace('-', '/');
                                        @Html.Raw(date)}
                                    }
                                </td>
                                <td class="items">
                                    <a class="commentsOfCommButton green tooltip-success" style="display:none" data-rel="tooltip" title="Edit" onclick="EditReplyEntryCC('@item.PendencyId','@item.PendencyReplyId');">
                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                    </a>
                                   @Html.Raw(item.Recomm_CommentsOfCommittee)
                                </td>
                                <td>
                                    @item.StatusName
                                </td>
                                @if (ViewBag.loginType == "VidhanSabha")
                                {
                                    <td>
                                        <a data-rel="tooltip" class="red tooltip-error DeleteSec" title="Delete" onclick="DeleteReplyEntry('@item.PendencyId','@item.PendencyReplyId');">
                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- PAGE CONTENT ENDS -->                
                }
                else
                {
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-info">
                            <strong>No Replies found for this pendency yet..</strong><br />
                        </div>
                    </div>
                </div>
                }
            }

        </div>
    </div>
    <!-- /.row -->
</div>
@*<div id="EditReplyEntryDeptDiv"></div>
<div id="EditReplyEntryQuestionDiv"></div>
<div id="EditReplyEntryComentofCommitteeDiv"></div>*@
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>
<script>

    $(function () {
        $('.items').each(function (event) { /* select all divs with the item class */
            var max_length = 390; /* set the max content length before a read more link will be added */
            if ($(this).html().length > max_length) { /* check for content length */
                var content = $(this).html();
                $(this).html('<a href="#" class="read_more"><br/>Click to show/hide content</a>' +
                             '<span class="more_text" style="display:none;">' + content + '</span>'); /* Alter the html to allow the read more functionality */
                $(this).find('a.read_more').click(function (event) { /* find the a.read_more element within the new html and bind the following code to it */
                    event.preventDefault(); /* prevent the a from changing the url */
                    // $(this).hide(); /* hide the read more button */
                    $(this).next('.more_text').toggle();
                    //$(this).parents('.items').find('.more_text').show(); /* show the .more_text span */                                       
                });               
            }           
        });    
    });

    $(document).ready(function () {
        var oTable2 =
       $('#sample-table-3').dataTable();

        if ($("#logintypehdn").val() == "Department") {
            $(".deptReplybutton").css("display", "block");
        } else if ($("#logintypehdn").val() == "VidhanSabha") {
            $(".deptReplybutton").css("display", "block");
            $(".quesionareeForCommitteeButton").css("display", "block");
            $(".commentsOfCommButton").css("display", "block");
        }


        $('#Recomm_CommentDate').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        });

        $('#ReplyDatetime').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        });

    });

    function EditReplyEntryD(id, pendencyReplyId) {

        var pathurl = '/HouseCommittee/CommitteReplyPendency/EditDepartmentReply';
        $.ajax({
            type: "POST",
            url: pathurl,
            data: { Pendencyid: id, pendencyReplyId: pendencyReplyId },
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (data) {
                if (data) {
                    // $('#ReplyPendencyDetail').modal('hide');    //this                
                    //$('#EditReplyEntryDept').modal('show');
                    $("#PendencyReplyDiv").css("display", "none");
                    //$("#PendencyReplyDiv").html("");
                    //$("#EditReplyEntryDeptDiv").html("");
                    $("#PendencyReplyEditColDiv").html("");
                    $("#PendencyReplyEditColDiv").html(data);
                    $("#PendencyReplyEditColDiv").css("display", "block");
                    $("#loader-wrapper").hide();
                } else { alert("error"); }
            },
            error: function (error) {
                //$('#NewPendencyReply').modal('show');
            },
            complete: function (results) {
                $('#loader-wrapper').hide();
                //setTimeout(function () {
                //    $('#divMsg').slideUp("slow");
                //}, 6000);
            }
        });
    }

    function EditReplyEntryQ(id, pendencyReplyId) {
        var pathurl = '/HouseCommittee/CommitteReplyPendency/EditReplyQuestionareeForCommittee';
        $.ajax({
            type: "POST",
            url: pathurl,
            data: { Pendencyid: id, pendencyReplyId: pendencyReplyId },
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (data) {
                if (data) {
                    //$('#ReplyPendencyDetail').modal('hide');    //this
                    //$('#EditReplyEntryQuestion').modal('show');
                    // $("#EditReplyEntryQuestionDiv").html("");
                    $("#PendencyReplyDiv").css("display", "none");
                    $("#PendencyReplyEditColDiv").html("");
                    $("#PendencyReplyEditColDiv").html(data);
                    $("#PendencyReplyEditColDiv").css("display", "block");
                    $("#loader-wrapper").hide();
                } else { alert("error"); }
            },
            error: function (error) {
                //$('#NewPendencyReply').modal('show');
            },
            complete: function (results) {
                $('#loader-wrapper').hide();
                //setTimeout(function () {
                //    $('#divMsg').slideUp("slow");
                //}, 6000);
            }
        });
    }

    function EditReplyEntryCC(id, pendencyReplyId) {
        var pathurl = '/HouseCommittee/CommitteReplyPendency/EditReplyEntryCommentCommittee';
        $.ajax({
            type: "POST",
            url: pathurl,
            data: { Pendencyid: id, pendencyReplyId: pendencyReplyId },
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (data) {
                if (data) {
                    //$('#ReplyPendencyDetail').modal('hide');    //this
                    //$('#EditReplyEntryComentofCommittee').modal('show');
                    //$("#PendencyReplyDiv").html("");
                    //$("#EditReplyEntryComentofCommitteeDiv").html("");
                    //$("#PendencyReplyDiv").html(data);
                    $("#PendencyReplyDiv").css("display", "none");
                    $("#PendencyReplyEditColDiv").html("");
                    $("#PendencyReplyEditColDiv").html(data);
                    $("#PendencyReplyEditColDiv").css("display", "block");
                    $("#loader-wrapper").hide();
                } else { alert("error"); }
            },
            error: function (error) {
                //$('#NewPendencyReply').modal('show');
            },
            complete: function (results) {
                $('#loader-wrapper').hide();
                //setTimeout(function () {
                //    $('#divMsg').slideUp("slow");
                //}, 6000);
            }
        });
    }

</script>
<script>

    function SaveOldNewReplyPendecny() {
        var pid = $("#PendencyIdforEdit").val();
        var prid = $("#PendencyReplyIdforEdit").val();
        var dreply = $("#DepartmentReply").val();
        var creply = $("#Recomm_CommentsOfCommittee").val();
        var cstatus = $("#committeeStatusVal").val();
        var questionaree = $("#QuestionaireForCommittee").val();
        var datedept = $("#ReplyDatetime").val().split("/");
        var datecommittee = $("#Recomm_CommentDate").val().split("/");

        var datereplydept = datedept[1] + "/" + datedept[0] + "/" + datedept[2];
        var datereplycomt = datecommittee[1] + "/" + datecommittee[0] + "/" + datecommittee[2];
       
        
        var pathurl = '/HouseCommittee/CommitteReplyPendency/saveOldNewDeptReply';
        $.ajax({
            type: "POST",
            url: pathurl,
            data: { PendencyId: pid, PendencyReplyId: prid, DepartmentReply: dreply, Recomm_CommentsOfCommittee: creply, Status: cstatus, QuestionaireForCommittee: questionaree, ReplyDatetime: datereplydept, Recomm_CommentDate: datereplycomt },
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (data) {
                if (data) {
                    // $('#EditReplyEntryDept').modal('hide');
                    //$('#ReplyPendencyDetail').modal('show');    //this
                    $("#PendencyReplyDiv").css("display", "block");//partial page is called in this div which contains memnu1 div
                    $("#PendencyReplyEditColDiv").css("display", "none");
                    $("#Menu1").html("");
                    $("#Menu1").html(data);
                    ShowNotification("success", "Pendency Reply updated successfully");
                    $("#loader-wrapper").hide();
                } else { alert("error"); }
            },
            error: function (error) {
                alert("ajax error");
                //$('#NewPendencyReply').modal('show');
            },
            complete: function (results) {
                $('#loader-wrapper').hide();
                //setTimeout(function () {
                //    $('#divMsg').slideUp("slow");
                //}, 6000);
            }
        });
    }

    function saveNewDeptReply() {
        var a = $("#PendencyIdforEdit").val();
        var b = $("#PendencyReplyIdforEdit").val();
        var c = $("#DepartmentReply").val();
        debugger;
        var pathurl = '/HouseCommittee/CommitteReplyPendency/saveEditNewDeptReply';
        $.ajax({
            type: "POST",
            url: pathurl,
            data: { PendencyId: a, PendencyReplyId: b, DepartmentReply: c },
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (data) {
                if (data) {
                    // $('#EditReplyEntryDept').modal('hide');
                    //$('#ReplyPendencyDetail').modal('show');    //this
                    $("#PendencyReplyDiv").css("display", "block");//partial page is called in this div which contains memnu1 div
                    $("#PendencyReplyEditColDiv").css("display", "none");
                    $("#Menu1").html("");
                    $("#Menu1").html(data);
                    ShowNotification("success", "Department Reply updated successfully");
                    $("#loader-wrapper").hide();
                } else { alert("error"); }
            },
            error: function (error) {
                alert("ajax error");
                //$('#NewPendencyReply').modal('show');
            },
            complete: function (results) {
                $('#loader-wrapper').hide();
                //setTimeout(function () {
                //    $('#divMsg').slideUp("slow");
                //}, 6000);
            }
        });
    }

    function saveNewCommentsOfCommittee() {
        var a = $("#PendencyIdforEdit").val();
        var b = $("#PendencyReplyIdforEdit").val();
        var c = $("#Recomm_CommentsOfCommittee").val();
        var d = $("#committeeStatusVal").val();
        if (c == "" || d == "") {
            alert("Please Fill All Fields");
            return false;
        } else {
            var pathurl = '/HouseCommittee/CommitteReplyPendency/saveEditCommentsOfCommittee';
            $.ajax({
                type: "POST",
                url: pathurl,
                data: { PendencyId: a, PendencyReplyId: b, CommitteeReply: c, Status: d },
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (data) {
                    if (data) {
                        //$('#EditReplyEntryComentofCommittee').modal('hide');
                        //$('#ReplyPendencyDetail').modal('show');    //this
                        $("#PendencyReplyDiv").css("display", "block");//partial page is called in this div which contains memnu1 div
                        $("#PendencyReplyEditColDiv").css("display", "none");
                        $("#Menu1").html("");
                        $("#Menu1").html(data);
                        $("#loader-wrapper").hide();
                        ShowNotification("success", "Committee Comments updated successfully");
                    } else { alert("error"); }
                },
                error: function (error) {
                    alert("ajax error");
                    //$('#NewPendencyReply').modal('show');
                },
                complete: function (results) {
                    $('#loader-wrapper').hide();
                    //setTimeout(function () {
                    //    $('#divMsg').slideUp("slow");
                    //}, 6000);
                }
            });
        }
    }

    function saveNewQuestionareeReply() {
        var a = $("#PendencyIdforEdit").val();
        var b = $("#PendencyReplyIdforEdit").val();
        var c = $("#QuestionaireForCommittee").val();
        debugger;
        var pathurl = '/HouseCommittee/CommitteReplyPendency/saveEditQuestionareeForCommittee';
        $.ajax({
            type: "POST",
            url: pathurl,
            data: { PendencyId: a, PendencyReplyId: b, Questionareee: c },
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (data) {
                if (data) {
                    //$('#EditReplyEntryQuestion').modal('hide');
                    // $('#ReplyPendencyDetail').modal('show');    //this
                    $("#PendencyReplyDiv").css("display", "block");//partial page is called in this div which contains memnu1 div
                    $("#PendencyReplyEditColDiv").css("display", "none");
                    $("#Menu1").html("");
                    $("#Menu1").html(data);
                    $("#loader-wrapper").hide();
                    ShowNotification("success", "Questionaree updated successfully");
                } else { alert("error"); }
            },
            error: function (error) {
                alert("ajax error");
                //$('#NewPendencyReply').modal('show');
            },
            complete: function (results) {
                $('#loader-wrapper').hide();
                //setTimeout(function () {
                //    $('#divMsg').slideUp("slow");
                //}, 6000);
            }
        });
    }

    function backButton() {
        $("#PendencyReplyDiv").css("display", "block");//partial page is called in this div which contains memnu1 div
        $("#PendencyReplyEditColDiv").css("display", "none");
    }

    function DeleteReplyEntry(id, pendencyReplyId) {

        bootbox.confirm("Are you sure to delete the data?", function (result) {
            if (result == true) {
                var pathurl = '/HouseCommittee/CommitteReplyPendency/DeletePendencyReplyDetailsByReplyId';
                $.ajax({
                    type: "POST",
                    url: pathurl,
                    data: { Pendencyid: id, pendencyReplyId: pendencyReplyId },
                    beforeSend: function () {
                        $('#loader-wrapper').show();
                    },
                    success: function (data) {
                        if (data) {
                            //$('#EditReplyEntryQuestion').modal('hide');
                            // $('#ReplyPendencyDetail').modal('show');    //this
                            $("#PendencyReplyDiv").css("display", "block");//partial page is called in this div which contains memnu1 div
                            $("#PendencyReplyEditColDiv").css("display", "none");
                            $("#Menu1").html("");
                            $("#Menu1").html(data);
                            $("#loader-wrapper").hide();
                            ShowNotification("success", "Data Deleted successfully");
                        } else { alert("error"); }
                    },
                    error: function (error) {
                        alert("ajax error");
                        //$('#NewPendencyReply').modal('show');
                    },
                    complete: function (results) {
                        $('#loader-wrapper').hide();
                        //setTimeout(function () {
                        //    $('#divMsg').slideUp("slow");
                        //}, 6000);
                    }
                });
            }
        });
    }

</script>
