﻿@model SBL.DomainModel.Models.CommitteeReport.tCommitteeReplyPendencyDetail
<div class="col-sm-12" style="margin-bottom: 40px;">
    <button type="button" onclick="backButton()" class="btn btn-sm btn-purple right" style="float:right">
    <i class="ace-icon fa fa-hand-o-left bigger-125"></i>
    Back</button>
</div>
<div class="profile-info-row col-xs-12" id="coldiscrip">
    <div class="profile-info-name col-xs-4">Questions For Committee</div>
    <div class="profile-info-value col-xs-8">
        <div class="input-group col-xs-12">
            <label class="col-xs-12">
                @Html.EditorFor(model => model.QuestionaireForCommittee, new { @tabindex = "7", @required = "required", @class = "col-xs-12" })
                 @Html.HiddenFor(model => model.PendencyId, new { @id="PendencyIdforEdit"})
                @Html.HiddenFor(model => model.PendencyReplyId, new { @id="PendencyReplyIdforEdit"})
            </label>
        </div>
    </div>
</div>
<div style="margin-bottom: 40px;">
    <div class="form-inline">
        <button type="submit" id="newPendencyReplyBtns" onclick="saveNewQuestionareeReply()" class="btn btn-sm btn-purple">
            <i class="ace-icon fa fa-floppy-o bigger-125"></i>
            @Resources.MasterDataDashboard.Save</button>
    </div>
</div>
