﻿@model SBL.DomainModel.Models.CommitteeReport.tCommitteReplyPendency
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<link href="~/Content/JgridContent/Stylesheets/css_flyoutverticalmenu.css" rel="stylesheet" type="text/css" />
<link href="~/Content/JgridContent/Stylesheets/JQGridDemo.css" rel="stylesheet" media="screen" />

<script src="~/Content/JgridContent/Scripts/JQGridDemo.js" type="text/javascript"></script>
<script src="~/Content/JgridContent/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="~/Content/JgridContent/jquery/jquery-ui-1.10.4.min.js" type="text/javascript"></script>

<link href="~/Content/JgridContent/Stylesheets/ui.jqgrid.css" rel="stylesheet" type="text/css" />
<link href="~/Content/JgridContent/Stylesheets/jquery-ui.theme.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/JgridContent/themes/cupertino/jquery-ui.css" rel="stylesheet" type="text/css" />
<link href="~/Content/JgridContent/themes/cupertino/theme.css" rel="stylesheet" type="text/css" />

<!-- language pack - MUST be included before the jqGrid javascript -->
<script src="~/Content/JgridContent/jquery/i18n/grid.locale-en.js" type="text/javascript"></script>
<!-- the jqGrid javascript runtime -->
<script src="~/Content/JgridContent/jquery/jquery.jqGrid.min.js" type="text/javascript"></script>

<style type="text/css">
    .selectopts
    {
        display: none;
    }

    .ui-jqgrid .ui-jqgrid-bdiv
    {
        /*overflow:auto;*/
    }

    .ui-jqgrid .ui-jqgrid-caption
    {
        background-color: #f6f6f6;
    }

    .ui-jqgrid-view > .ui-jqgrid-titlebar
    {
        background-color: #f6f6f6;
    }

    .ui-jqgrid .ui-grid-ico-sort
    {
        position: static;
    }

    .ui-pg-table > tbody > tr > .ui-pg-button > .ui-icon:before
    {
        line-height: 55px;
        width: 18px;
        height: 19px;
    }
   body {
    background-color: #e4e6e9; 
    min-height: 100%; 
    padding-bottom: 0; 
    font-family: 'Open Sans'; 
    font-size: 15px; 
    color: #393939; 
    line-height: 1.5; 
}
</style>

@Html.HiddenFor(m => m.DepartmentId)
@Html.HiddenFor(m => m.Status)
@Html.HiddenFor(m => m.CommitteeId)
@Html.HiddenFor(m => m.FinancialYear)
@Html.HiddenFor(m => m.ItemTypeId)
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="widget-box">
<div id="Menu">
    <div class="row">
       @* <div class="col-xs-12">*@
            <div id="divJQGrid2">
                <div style="width: 107%; overflow: scroll; margin-left: -2px;">
                     <div class="col-xs-12">
                    <table id="JQGrid2"></table>
                    <div id="JQGrid2_pager"></div>
                     </div>
                </div>
            </div>
       @* </div>*@
    </div>
</div>
            </div>
        </div>
    </div>
<script>

    $(document).ready(function () {

        $(".operators").hide();
        $("#alerthd_JQGrid2").next('div').hide();
        $("#alerthd_JQGrid2").hide(true);
        $("#jqg_alrt").hide(true);
        $("#alertmod_JQGrid2").hide(true);
        $("#alertcnt_JQGrid2").hide(true);
        $("#rs_mJQGrid2").hide(true);
        // $(".ui - jqdialog - title").hide();
        // $("#fbox_JQGrid2_reset").css('background-color', '#F0F0F0');
        //$("#searchmodfbox_JQGrid2").css('width', '250px');

        $("#JQGrid2").jqGrid({
            url: "@Url.Action("OnCustomerDataRequested", "CommitteReplyPendency", new { Area = "HouseCommittee" })",
            postData: {
                departmentId: function () {
                    var ab = $("#DepartmentId").val();
                    return ab             // or other method which read the value
                },
                Status: function () {
                    var ab = $("#Status").val();
                    return ab             // or other method which read the value
                },
                CommitteeId: function () {
                    var ab = $("#CommitteeId").val();
                    return ab             // or other method which read the value
                },
                FinancialYear: function () {
                    var ab = $("#FinancialYear").val();
                    return ab             // or other method which read the value
                },
                ItemTypeId: function () {
                    var ab = $("#ItemTypeId").val();
                    return ab             // or other method which read the value
                },
            },
            mtype: "GET",
            datatype: "json",
            page: 1,
            jsonReader: { id: "PendencyId" },
            prmNames: { id: "PendencyId" },
            sortname: "DepartmentName      ",
            sortorder: "asc",
            colNames: ["Year", "Department", "ItemNo", "Title", "Status", "FileNo", "Action"],
            colModel: [
                    { width: "90", name: "FinancialYear", search: false, },
                     {
                         width: "100", name: "AbbrDeptName", stype: "text", cellattr: function (rowId, val, rawObject, cm, rdata) {
                             return 'title="' + rawObject[9] + ' (' + rawObject[9] + ')"';
                         }
                     },
                    { width: "95", name: 'TypeNo', search: false, },
                    { width: "230", name: "Subject", search: false, },
                    { width: "110", name: "StatusName", search: false, },
                    { width: "230", name: "eFileNumber", search: false, formatter: linkformatter },
                    { width: "50", name: 'action', index: 'action', sortable: false, formatter: displayButtons },
            ],
            //caption: " ",
            pager: "#JQGrid2_pager",
            // Customizations
            height: "auto",
            viewrecords: true, // controls visibility of recordtext
            rowNum: 20,
            rowList: [20, 40, 100, 150, 200],
            pager: "#JQGrid2_pager",
        })
        .jqGrid('navGrid', '#JQGrid2_pager',
            { edit: false, add: false, del: false, search: false, view: false, refresh: true, filter: true });
    });
    function displayButtons(cellvalue, options, rowObject) {

        var S = "<a data-rel='tooltip' class='green tooltip-success' title='Edit Entry' onclick=NewReplyEntry('" + rowObject[10] + "')><i class='ace-icon fa fa-pencil bigger-120'></i></a>"
        var S11 = "@ViewBag.loginTypeadmin";
        if (S11 == "admin") {
            var S1 = "<a data-rel='tooltip' class='red tooltip-error DeleteSec' title='Delete' onclick=DeleteNewReplyDetails('" + rowObject[10] + "')><i class='ace-icon fa fa-trash-o bigger-120'></i> </a>"
            return S + "   " + S1 + "";
        }
        return S;
        //if (S11 == "admin") {
        //    return S + "" + S1 + "";
        //}
        //else {
        //    return S;
        //}

    }
    function linkformatter(cellvalue, options, rowObject) {

        var S11 = "@ViewBag.loginType";
        if (S11 == "VidhanSabha") {
            //return "<a href='javascript:load();' onclick=DisplayModalView1('" + rowObject[7] + "','" + rowObject[6] + "','" + rowObject[5] + "' )>" + rowObject[5] + "</a>";
            return "<a onclick=DisplayModalView1('" + rowObject[7] + "') href='#'>" + rowObject[5] + "</a>";
        }
        else {
            return rowObject[5]

        }
    }

</script>

<script type="text/javascript">
    function NewReplyEntry(id) {
        //var id = 
        //alert(id);

        $("#FilteredResult").empty();
        var pathurl = '/HouseCommittee/CommitteReplyPendency/EditCommiteeReplyEntryForm';
        $.ajax({
            type: "GET",
            url: pathurl,
            data: { id: id },
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (data) {
                if (data) {
                    $('#resize-left').width('50%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '50%' }, 500);
                    $("#RightSidebar").html("");
                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();
                    $("#alerthd_JQGrid2").next('div').hide();
                    $("#alerthd_JQGrid2").hide(true);
                    $("#jqg_alrt").hide(true);
                    $("#alertmod_JQGrid2").hide(true);
                    $("#alertcnt_JQGrid2").hide(true);
                    $("#rs_mJQGrid2").hide(true);
                } else { alert("error"); }
            },
            error: function (error) {
                //$('#NewPendencyReply').modal('show');
            },
            complete: function (results) {
                $('#loader-wrapper').hide();
                //setTimeout(function () {
                //    $('#divMsg').slideUp("slow");
                //}, 6000);
            }
        });
    }
    function DisplayModalView1(eFileID) {
        //var eFileID = document.getElementById("hdneFileID").value;
        //var eFileSubject = document.getElementById("hdnSubject").value;
        //var eFileNumber = document.getElementById("hdnNumber").value;

        $("#loader-wrapper").show();

        $.ajax({
            url: "/HouseCommittee/HouseCommittee/eFileIndexDetails",
            type: 'GET',
            data: {
                eFileID: eFileID,
                //eFileSubject: eFileSubject,
                //eFileNumber: eFileNumber
            },
            success: function (data) {
                if (data) {
                    $('#modalMsg').show("slow");
                    document.getElementById("overlay").className = "OverlayEffect";
                    document.getElementById("modalMsg").className = "ShowModal";

                    $("#modalMsg").html(data);
                    $('body, html, #modalMsg').scrollTop(-10);
                    $("#loader-wrapper").hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }
</script>