﻿@model SBL.DomainModel.Models.CommitteeReport.tCommitteReplyPendency

@using (Ajax.BeginForm("GetFilteredPendencyReplyList", "CommitteReplyPendency", FormMethod.Post, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "OnSuccess()", LoadingElementId = "loader-wrapper", UpdateTargetId = "FilteredResult" }, new { @class = "form-horizontal", @role = "form", id = "PendencyReplyForm" }))
{
    //@Html.HiddenFor(m => m.PendencyBy)Grid_PendencyLIst GetFilteredPendencyReplyList
    @Html.HiddenFor(m => m.ItemTypeId)
    <div style="width: 100%; float: left; font-size: 11px;">

        @if (Model.mCommitteeReplyMasterList != null)
        {
            foreach (var item in Model.mCommitteeReplyMasterList)
            {
           
            <div style="background-color: #F0F0F0; width: 30%; float: left; margin-bottom: 10px; margin-top: 10px; border-left: 1px solid silver; border-top: 1px solid silver; border-bottom: 1px solid silver; padding: 2px;">
                <label>
                    <input name="form-field-radio col-sm-6" type="radio" class="ace" checked="checked" value='@item.PendencyByFkId' onclick="filtercheck1(this.value)" id="rbforReport_@item.PendencyByFkId" />
                    <span class="lbl glyphicon-bookmark"><b>@item.PendencyByName</b></span>
                </label>
            </div>  
            }
        }

          <div style="background-color: #F0F0F0; width: 30%; float: left; margin-bottom: 10px; margin-top: 10px; border-left: 1px solid silver; border-top: 1px solid silver; border-bottom: 1px solid silver; border-right: 1px solid silver; padding: 2px;">
            <label for="FinancialYearView1" style="text-align: left"><b>Financial Year</b></label>
            <select id="financialYearView1" class="col-xs-12" style = "margin-bottom:4px;"></select>
            @Html.HiddenFor(model => model.FinancialYear, new { @id="hdnFinancialYearOuter"})
        </div>

        <div style="background-color: #F0F0F0; width: 30%; float: left; margin-bottom: 10px; margin-top: 10px; border-left: 1px solid silver; border-top: 1px solid silver; border-bottom: 1px solid silver; border-right: 1px solid silver; padding: 2px;">
            <label for="Status" style="text-align: left"><b>Status</b></label>
            @Html.DropDownListFor(m => m.Status,
                            new SelectList(Model.mCommitteeReplyStatusList, "Id", "ReplyStatusName"), "Select Status", new { @class = "col-xs-12", @style = "margin-bottom:4px;" })
        </div>

        <div style="background-color: #F0F0F0; width: 30%; float: left; margin-bottom: 10px; margin-top: 10px; border-left: 1px solid silver; border-top: 1px solid silver; border-bottom: 1px solid silver; border-right: 1px solid silver; padding: 2px;">
            <label for="CommitteeId" style="text-align: left"><b>Committee</b></label>
            @Html.DropDownListFor(m => m.CommitteeId,
                            new SelectList(Model.tCommitteeList, "CommitteeId", "CommitteeName"), "Select Committee", new { @class = "col-xs-12", @style = "margin-bottom:4px;" })
        </div>

         <div style="background-color: #F0F0F0; width: 30%; float: left; margin-bottom: 10px; margin-top: 10px; border-left: 1px solid silver; border-top: 1px solid silver; border-bottom: 1px solid silver; border-right: 1px solid silver; padding: 2px;">
            <label for="DepartmentId" style="text-align: left"><b>Department Name </b></label>            
            @Html.DropDownListFor(m => m.DepartmentId,
                            new SelectList(Model.mDepartmentList, "deptId", "deptname"), "Select Department", new { @class = "col-xs-12", @style = "margin-bottom:4px;" })
        </div>

        <div style="width: 40%; float: left; margin-bottom: 10px; margin-top: 10px; padding: 5px;">
            <button class="btn btn-info " id="btnSearch" type="submit" onclick="return Validate();">
                <i class="glyphicon glyphicon-search"></i>
                Search
            </button>
            <button class="btn btn-info " id="btnPdfReport" type="button" onclick="return GeneratePDF();">
                <i class="glyphicon glyphicon-print"></i>
                Generate PDF
            </button>
           @* @if (ViewBag.loginType == "VidhanSabha")
            {
                *@<button class="btn btn-info" id="NewEntry" type="button" onclick="NewReplyEntryformNEW();">
                    <i class="ace-icon fa fa-pencil-square-o"></i>
                    New Pendency
                </button>
            @*}*@
           
        </div>

    </div>

    
@*<div class="col-xs-12" style="margin-top: 2%; margin-left: 2%;">

        <button class="btn btn-info " id="btnSearch" type="submit" onclick="return Validate();">
            <i class="glyphicon glyphicon-search"></i>
            Search
        </button>
        @if (ViewBag.loginType == "VidhanSabha")
        {
            <button class="btn btn-info" id="NewEntry" type="button" onclick="NewReplyEntryformNEW();">
                <i class="ace-icon fa fa-pencil-square-o"></i>
                New Pendency
            </button>
        }
    </div>*@
}
<div id="FilteredResult"></div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="SummaryMainModal" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="SummaryDetailHeader">Summary Details</h4>
            </div>
            <form method="post" id="SummaryForm">
                <div class="modal-body">
                    <div id="SummaryDivForm"></div>
                </div>
               @* <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="UpdateIssueBook" class="btn btn-primary">Save changes</button>
                </div>*@
            </form>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" id="ReplyPendencyDetail" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="z-index: 1050;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-target="#ReplyPendencyDetail"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="SubscriptionModal">Pendency Reply List Details</h4>
            </div>

            <div class="modal-body">
                <div id="PendencyReplyDiv"></div>
                <div id="PendencyReplyEditColDiv"></div>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>  bs-example-modal-lg   *@
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/CommonNotify.js"></script>
<script>
    function filtercheck1(type) {
        $("#FilteredResult").empty();
        $("#ItemTypeId").val(type);      
    }

    $(document).ready(function () {

        //code for financial year...
        var currentYear = new Date().getFullYear();
        for (var i = 1; i <= 20; i++) {
            $("#financialYearView1").append(
                $("<option></option>")
                    .attr("value", currentYear)
                    .text(currentYear)
            );
            currentYear--;
        }

        $("#Status").append("<option>All</option>").val("1001");//logic used in context thats why 1001 by robin

        $("#financialYearView1").prepend("<option>Select</option>").val("Select");


        var finYear = $('#financialYearView1 option:selected').val();
        $("#hdnFinancialYearOuter").val(finYear);
        $("#ItemTypeId").val(9);//DEfault is Other

        $('#ReplyPendencyDetail').on('hidden.bs.modal', function (e) {
            $("#PendencyReplyDiv").css("display", "block");//partial page is called in this div which contains memnu1 div
            $("#PendencyReplyEditColDiv").html("");
            $("#PendencyReplyEditColDiv").css("display", "none");
        })

        $('.datepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });
    });

    function Validate() {
        
        var finYear = $('#financialYearView1 option:selected').val();
        $("#hdnFinancialYearOuter").val(finYear);

        $('#resize-left').width('100%');
        //$('#spnScrollPosition').html('1');
        $("#RightSidebar").html("");
        $('#resize-right').animate({ width: '0%' }, 500);
       
        
        var validatestatus = $('#Status').val();
        
        if (validatestatus == "") {
            ShowNotification("error", "Please select Status First");
            return false;
        }
        if (validatestatus == "6") {
            var DepartmentId = $('#DepartmentId').val();
            var CommitteeId = $('#CommitteeId').val();            
            if (finYear == "Select" || DepartmentId == "") {
                ShowNotification("error", "Please select Both Department and Year for closed Search");
                return false;
            }
        }
        return true;
    }

    function OnSuccess() {
        $('#loader-wrapper').hide();
    }

    function NewReplyEntryformNEW() {
        //alert();
        $("#FilteredResult").html("");
        var pathurl = '/HouseCommittee/CommitteReplyPendency/NewCommiteeReplyEntryForm';
        $.ajax({
            type: "GET",
            url: pathurl,
            //data: { type: "add" },
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (data) {
                if (data) {
                    $('#resize-left').width('50%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '50%' }, 500);
                    $("#RightSidebar").html("");
                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();
                } else { alert("error"); }
            },
            error: function (error) {
                //$('#NewPendencyReply').modal('show');
            },
            complete: function (results) {
                $('#loader-wrapper').hide();
                //setTimeout(function () {
                //    $('#divMsg').slideUp("slow");
                //}, 6000);
            }
        });
    }

    function GeneratePDF() {
        var ItemTypeId = $('#ItemTypeId').val();
        var DepartmentId = $('#DepartmentId').val();
        var Status = $('#Status').val();
        var CommitteeId = $('#CommitteeId').val();
        var FinancialYear = $('#hdnFinancialYearOuter').val();
        
        if (DepartmentId == "") {
            ShowNotification("error", "Please select department for pdf");
        } else {
            var valuesHidden = "<input type='hidden' name='ItemTypeId' value='" + ItemTypeId + "' >" +
        "<input type='hidden' name='DepartmentId' value='" + DepartmentId + "' >" +
         "<input type='hidden' name='Status' value='" + Status + "' >" +
        "<input type='hidden' name='CommitteeId' value='" + CommitteeId + "' >" +
        "<input type='hidden' name='FinancialYear' value='" + FinancialYear + "' >"

            $('body').prepend("<form method='post' action='/HouseCommittee/CommitteReplyPendency/DownloadFile' style='top:-3333333333px;' id='tempForm'>" + valuesHidden + "</form>");
            $('#tempForm').submit();
            $("tempForm").remove();
        }
    }


    
</script>
