﻿@model SBL.DomainModel.Models.eFile.eFileAttachment
@using SBL.DomainModel.Models.Enums;
@using SBL.eLegistrator.HouseController.Web.Utility;


<script src="~/assets/js/CommonNotify.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>

@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.eFileAttachmentId, new { @id = "hdneAttachmentID" })

   <div class="modal-content">

                                                 
               
               <div class="profile-info-row">
                   <div class="profile-info-name" style="width:24%;"><strong>Rejected Reason </strong></div>

                   <div class="profile-info-value">
                     <span id="spnRemarks" class="">@Html.TextAreaFor(m => m.VerifiedBy, new { @id = "Remark", @style = "width: 100%",rows="4", cols="50" })</span>
                   </div>
               </div>          
           </div>
   
<br />
<br />
<br />
<div id="DairyWise" class="hide">
                   </div>