﻿@*@model IPagedList<SBL.DomainModel.Models.CommitteeReport.tCommitteReplyPendency>*@
@model IEnumerable<SBL.DomainModel.Models.CommitteeReport.tCommitteReplyPendency>
@{var count = 0;}
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">Atmost Top 500 Pendency List - @ViewBag.itemtype</h4>
                <div class="widget-toolbar">
                    @* <label>
                        <input type="button" class="ace" onclick="NewEntry();" />
                        <span class="lbl">New Entry</span>
                    </label>*@
                    <button class="btn btn-info " id="btnSummary" type="button" onclick="return SummaryDetails();">
                        <i class="glyphicon glyphicon-search"></i>
                        Show Summary
                    </button>
                </div>
            </div>
            <div id="Menu">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="pass-table">
                            @if (Model != null)
                            {
                                if (Model.Count() > 0)
                                {
                       
                                <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 10px">S.No</th>
                                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 12px">Year</th>
                                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="text-align: left !important">Department Name</th>
                                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 150px; text-align: left !important">Item No.</th>
                                            @* @if (ViewBag.pendencyby == "Report")
                                            {
                                                <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Laid in The House</th>
                                            }*@
                                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="text-align: left !important">Title</th>
                                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending" style="text-align: left !important">Status</th>
                                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending" style="text-align: left !important">File No.</th>
                                            @*<th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">CAG Page No.</th>*@

                                            @*<th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Sent On Date</th>*@
                                            @*<th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Description</th>*@
                                            @*<th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Last Reminder Sent</th>*@
                                            @* <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Annexure</th>*@
                                            @*@if (ViewBag.loginType == "VidhanSabha"){}*@
                                            <th class="sorting_disabled center" role="columnheader" rowspan="1" colspan="1" aria-label="">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        @foreach (var item in Model)
                                        {
                                            count = count + 1;                            
                                            <tr>
                                                <td class="center">@count
                                                </td>
                                                <td>
                                                    @item.FinancialYear
                                                </td>
                                                <td>

                                                    <p data-html="true" rel='tooltip' class="blue tooltip-success" data-original-title='@Html.Raw(item.DepartmentName)'>@item.AbbrDeptName</p>
                                                </td>
                                                <td>
                                                    <p>@item.TypeNo</p>
                                                </td>
                                                @*  @if (ViewBag.pendencyby == "Report")
                                                {
                                                    <td>@{
                                                    var ts5 = Convert.ToDateTime(item.LaidInTheHouse);
                                                    string date5 = ts5.ToString("dd/MM/yyyy").Replace('-', '/');
                                                        @Html.Raw(date5)
                                                    }
                                                    </td>}*@
                                                <td>@Html.Raw(item.Subject)</td>
                                                <td>
                                                    @item.StatusName
                                                </td>
                                                @if (ViewBag.loginType == "VidhanSabha")
                                                {
                                                    <td onclick="DisplayModalView1('@item.eFileID','@item.eFileSubject','@item.eFileNumber');">
                                                        @*<td onclick="DisplayModalView1('1','2','3');">*@
                                                        @item.eFileNumber
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        @item.eFileNumber
                                                    </td>
                                                }
                                                @*<td>
                                                    @item.CagPageNo
                                                </td>*@
                                                @*<td>
                                                    @Html.Raw(item.Subject)
                                                </td>*@


                                                @*<td>
                                                    @{
                                                var ts1 = Convert.ToDateTime(item.CreatedDate);//created date to be sentondate
                                                string date1 = ts1.ToString("dd/MM/yyyy").Replace('-', '/');
                                                        @Html.Raw(date1)
                                                    }
                                                </td>*@
                                                @*<td class="discriptions">
                                                    @{
                                                if (item.ItemDescription != null && item.ItemDescription != "")
                                                {
                                                    var htmlString = Convert.ToString(Html.Raw(item.ItemDescription));
                                                    string str = htmlString;
                                                        
                                                        <a id="gritter-center1" href="#" data-html="true" rel='tooltip' class="blue tooltip-success" data-original-title='@Html.Raw(item.ItemDescription)' style="color:inherit;text-decoration:none">
                                                            @if (str.Length >= 100)
                                                            {                                                            
                                                                <span style="color: inherit">@Html.Raw(str.Substring(0, 100))</span>
                                                            }
                                                            else
                                                            {
                                                                <span>@Html.Raw(str)</span>
                                                            } 
                                                        </a>                                                        
                                                }
                                                    }
                                                </td>*@

                                                @*  <td>
                                                    @{                                                        
                                                var ts = Convert.ToDateTime(item.LastReminderSentDate);
                                                string date = ts.ToString("dd/MM/yyyy").Replace('-', '/');
                                                if (date != "01/01/0001")
                                                {
                                                        @Html.Raw(date)}
                                                else
                                                {
                                                    <text>Not Sent Yet</text>
                                                }
                                                    }
                                                </td>
                                               
                                               *@
                                                @* <td style="width:3%">                                              
                                                <a href="@ViewBag.FileLocation@item.CoverLetterPdfPath" target="_blank">
                                                <img src="~/Images/Common/PDF.png" height="50px" width="50px" /></a>                                           
                                            </td>*@
                                                @if (ViewBag.loginType == "VidhanSabha")
                                                { }
                                                <td class="center" style="width: 3%">
                                                    <div class="hidden-sm hidden-xs action-buttons">

                                                        <a data-rel="tooltip" class="green tooltip-success" title="Edit Entry" onclick="NewReplyEntry(@item.PendencyId);">
                                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                        </a>

                                                        @if (ViewBag.loginTypeadmin == "admin")
                                                        {
                                                            <a data-rel="tooltip" class="red tooltip-error DeleteSec" title="Delete" onclick="DeleteNewReplyDetails(@item.PendencyId);">
                                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                            </a>
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <!-- PAGE CONTENT ENDS -->                
                                }
                                else
                                {
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="alert alert-info">
                                            <strong>There are no Contents,With This Criteria</strong><br />
                                        </div>
                                    </div>
                                </div>
                                }
                            }

                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>

        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>
<script>

    jQuery(function ($) {

        $("[rel=tooltip]").tooltip({
            show: null,
            placement: "right",
        })

        var oTable1 =
        $('#sample-table-2').dataTable();

        //$('.main-content').on("click", ".table a", getPage);

    })

    //var getPage = function () {
    //    var $a = $(this);

    //    var options = {
    //        url: $a.attr("href"),
    //        type: "get"
    //    };
    //};
    function AddNewReplyDetails(id) {
        var pathurl = '/HouseCommittee/CommitteReplyPendency/NewCommiteeReplyPendencyDetail';
        $.ajax({
            type: "GET",
            url: pathurl,
            data: { id: id },
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (data) {
                if (data) {
                    $('#ReplyPendencyDetail').modal('show');
                    $("#PendencyReplyDiv").html("");
                    $("#PendencyReplyDiv").html(data);
                    $("#loader-wrapper").hide();
                } else { alert("error"); }
            },
            error: function (error) {
            },
            complete: function (results) {
                $('#loader-wrapper').hide();
            }
        });
    }

    function DeleteNewReplyDetails(id) {

        bootbox.confirm("Are you sure to delete the data?", function (result) {
            if (result == true) {
                var pathurl = '/HouseCommittee/CommitteReplyPendency/DeleteNewCommiteeReplyPendencyDetail';
                $.ajax({
                    type: "GET",
                    url: pathurl,
                    data: { id: id },
                    beforeSend: function () {
                        $('#loader-wrapper').show();
                    },
                    success: function (data) {
                        if (data) {
                            //$('#ReplyPendencyDetail').modal('show');
                            $("#FilteredResult").html("");
                            ShowNotification("success", "Data deleted successfully");
                            $("#loader-wrapper").hide();
                        } else { alert("error"); }
                    },
                    error: function (error) {
                        //$('#NewPendencyReply').modal('show');
                    },
                    complete: function (results) {
                        $('#loader-wrapper').hide();
                        //setTimeout(function () {
                        //    $('#divMsg').slideUp("slow");
                        //}, 6000);
                    }
                });
            }
        });
    }

    function NewReplyEntry(id) {
        //var id = 
        //alert(id);

        $("#FilteredResult").empty();
        var pathurl = '/HouseCommittee/CommitteReplyPendency/EditCommiteeReplyEntryForm';
        $.ajax({
            type: "GET",
            url: pathurl,
            data: { id: id },
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (data) {
                if (data) {
                    $('#resize-left').width('50%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '50%' }, 500);
                    $("#RightSidebar").html("");
                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();
                } else { alert("error"); }
            },
            error: function (error) {
                //$('#NewPendencyReply').modal('show');
            },
            complete: function (results) {
                $('#loader-wrapper').hide();
                //setTimeout(function () {
                //    $('#divMsg').slideUp("slow");
                //}, 6000);
            }
        });
    }

    function DisplayModalView1(eFileID, eFileSubject, eFileNumber) {
        //var eFileID = document.getElementById("hdneFileID").value;
        //var eFileSubject = document.getElementById("hdnSubject").value;
        //var eFileNumber = document.getElementById("hdnNumber").value;

        $("#loader-wrapper").show();

        $.ajax({
            url: "/HouseCommittee/HouseCommittee/eFileIndexDetails",
            type: 'GET',
            data: {
                eFileID: eFileID,
                eFileSubject: eFileSubject,
                eFileNumber: eFileNumber
            },
            success: function (data) {
                if (data) {
                    $('#modalMsg').show("slow");
                    document.getElementById("overlay").className = "OverlayEffect";
                    document.getElementById("modalMsg").className = "ShowModal";

                    $("#modalMsg").html(data);
                    $('body, html, #modalMsg').scrollTop(-10);
                    $("#loader-wrapper").hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

    function SummaryDetails() {
        var validate = true;
        var FinYear = $('#financialYearView1 option:selected').val();
        //var FinYear = $("#hdnFinancialYearOuter").val();
        //if (FinYear == "Select") {
        //    FinYear = null;
        //}
        var Status = $("#Status").val();
        var CommitteeId = $("#CommitteeId").val();
        var DepartmentId = $("#DepartmentId").val();
        var ItemTypeId = $("#ItemTypeId").val();

        //if (FinYear == "Select") {
        //    ShowNotification("error", "Please select Year First");
        //    validate = false;
        //    return false;
        //}

        //if (DepartmentId == null || DepartmentId == "") {
        //    ShowNotification("error", "Please select Department First");
        //    validate = false;
        //    return false;
        //}

        //if (Status == "") {
        //    ShowNotification("error", "Please select Status First");
        //    validate = false;
        //    return false;
        //}
        //if (Status == "6") {
        //    if (FinYear == "Select" || DepartmentId == "") {
        //        ShowNotification("error", "Please select Both Department and Year for closed Search");
        //        validate = false;
        //        return false;
        //    }
        //}

        if (validate = true) {
            $.ajax({
                type: "POST",
                url: '/HouseCommittee/CommitteReplyPendency/SummaryDetailsByDept',
                data: '{ FinancialYear: "' + FinYear + '",Status: "' + Status + '" ,CommitteeId: "' + CommitteeId + '",DepartmentId: "' + DepartmentId + '",ItemTypeId: "' + ItemTypeId + '"}',
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#SummaryDivForm').empty();
                    $('#SummaryDivForm').append(result);
                    // alert(result);
                    $('#SummaryMainModal').modal('show');//div is in _MainDashBoard
                },
                error: function (error) {
                    $('#SummaryDivForm').empty();
                    $('#SummaryDivForm').append(error.responseText);
                    $('#SummaryMainModal').modal('show');

                },
                complete: function (results) {

                    $('#loader-wrapper').hide();
                    //setTimeout(function () {
                    //    $('#divMsg').slideUp("slow");
                    //}, 6000);

                }
            });
        } else {
            return false;
        }
    }
</script>
