﻿@model SBL.DomainModel.Models.eFile.eFileAttachments
@using SBL.eLegistrator.HouseController.Web.Helpers
@using SBL.eLegistrator.HouseController.Web.Utility

@{
    var FileSettings = (SBL.DomainModel.Models.SiteSetting.SiteSettings)Helper.ExecuteService("SiteSetting", "GetSecureFileSettingLocation", null);
    int count = 0;
}

<div id='fullDetailsModel' class="hide">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>
<div class="row">

    <div class="col-xs-12">

        <!-- PAGE CONTENT BEGINS -->
      
        <div class="pass-table">

            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                @if (Model.eFileAttachemts != null)
                {
                    if (Model.eFileAttachemts.Count() > 0)
                    {                    
                    <div class="table-header">
                        <span class="label label-lg label-yellow arrowed-right" style="height: 24px; font-weight: bold; font-size: 14px;">Verified </span> ( Paper List )
                    </div> 
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">                             
                                <th class="center sorting_disabled" role="columnheader"  rowspan="1" colspan="1" >RefNo</th>
                               <th class="center sorting_disabled" role="columnheader"  rowspan="1" colspan="1"  style="display: none">Type</th>
                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" >Item</th>
                                <th class="center sorting_disabled" role="columnheader"  rowspan="1" colspan="1" >Subject</th>

                                <th class="center sorting_disabled" role="columnheader"  rowspan="1" colspan="1" >Nature</th>
                                @*       <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">TimeLimit</th>*@
                                <th class="center sorting_disabled" role="columnheader"  rowspan="1" colspan="1" >Received From</th>
                               
                                <th class="center sorting_disabled" role="columnheader"  rowspan="1" colspan="1" >Date</th>
                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1"  style="display: none;">Status</th>
                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1"  style="text-align: center"><i class="fa fa-download bigger-120" title="View/Download"></i>
                                    <br />
                                    <span style="color: red">Authentic</span>  </th>
                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1"  style="text-align: center"><i class="fa fa-download bigger-120" title="View/Download"></i>
                                    <br />
                                    <span style="color: red">Draft</span> </th>
                                 <th class="center sorting_disabled" role="columnheader"  rowspan="1" colspan="1">Verified By</th>
                              
                            </tr>
                        </thead>


                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.eFileAttachemts)
                            {
                                string deptid = "d" + item.eFileAttachmentId;
                                string ofcid = "of" + item.eFileAttachmentId;
                                string efflNo = "eNo" + item.eFileAttachmentId;
                                string subj = "sub" + item.eFileAttachmentId;
                                string pre = "pre" + item.eFileAttachmentId;
                                string fut = "fut" + item.eFileAttachmentId;
                                count = count + 1;
                                string rowId = "eFiles" + item.eFileAttachmentId;
                                var EDays = 0;             
                                <tr>
                                                                  
                                    <td class="hidden-sm hidden-xs action-button">

                                        @if (item.PType == "O")
                                        {
                                            if (item.ReplyStatus == "Y")
                                            {
                                            <span class="label label-sm label-danger arrowed arrowed-right" data-toggle="tooltip" data-placement="right" title="Reply Paper" style="height: 18px">@item.PaperRefNo</span>
                                            }
                                            else
                                            {
                                            <span class="label label-sm label-danger arrowed arrowed-right" data-toggle="tooltip" data-placement="right" title="Original Paper" style="height: 18px">@item.PaperRefNo</span>
                                            }
                                        }
                                        else if (item.PType == "R")
                                        {
                                            <span class="label label-sm label-grey arrowed arrowed-right" data-toggle="tooltip" data-placement="right" title="Reminder ( @item.LinkedRefNo )" style="height: 18px">@item.PaperRefNo</span>
                                        }
                                        else
                                        {
                                            <span class="label label-sm label-danger arrowed arrowed-right" style="height: 18px">@item.PaperRefNo</span>
		 
                                        }


                                        @if (item.ReplyStatus == "Y")
                                        {
                                            <span class="badge badge-warning" data-toggle="tooltip" data-placement="right" title="Reply of ( PaperRefNo. : @item.LinkedRefNo ) & Date (@item.ReplyDate.ToString("dd/MM/yyyy HH:mm tt"))">R</span>
                                        } </td>

                                    <td style="display: none">@item.DocuemntPaperType</td>

                                    @if (@item.CountsAPS == null)
                                    {
                                        <td>

                                            @item.ItemName

                                        </td>
                                    }
                                    else
                                    {
                                        <td>

                                            @item.ItemName (@item.CountsAPS)
                                                                                                                                   
                                        </td>
                                    }

                                    <td>@item.Title </td>

                                    <td>@item.RecvdPaperNature</td>


                                    <td>
                                        @if (item.DepartmentName == "OTHER")
                                        {
                                            <span class="badge badge-yellow" style="border-radius: 5px;" title="@item.RecvDetails" data-placement="top" data-toggle="tooltip">OTHER</span><br />
										
                                        }
                                        else
                                        {
                                            <span   data-toggle="tooltip" data-placement="top" title="@item.DepartmentName">@item.DeptAbbr</span> @*@item.RecvDetails*@
                                        }



                                    </td>
                                   
                                    <td>@item.CreatedDate.ToString("dd/MM/yyyy HH:mm tt")</td>
                                    <td style="display: none;">
                                        @if (item.PaperStatus == "N")
                                        {
                                            <button class="btn btn-minier btn-purple" onclick="openModal('@item.eFileAttachmentId','Y')">
                                                <i class="glyphicon glyphicon-floppy-save"></i>
                                                Receive
                                            </button>
                                        }
                                        else
                                        {
                                            <span class="label label-success arrowed" title="ReceivedDate(@item.ReceivedDate.ToString("dd/MM/yyyy HH:mm"))">
                                                <i class="glyphicon glyphicon-floppy-saved"></i>
                                                Received
                                            </span>
                                            if (item.eFileID == 0)
                                            {
                                            <br />
                                            <input type="hidden" id="hdnAttachtoefile" />
                                            <a style="cursor: pointer" onclick="openModal('@item.eFileAttachmentId','N')">Attach to eFile</a>
				 
                                            }
                                            else
                                            {
                                            <span class="glyphicon glyphicon-link" aria-hidden="true">Attached</span>
                                            }

                                        }
                                    </td>


                                    @{
                                        string path = FileSettings.SettingValue + item.eFilePath;
                                        string pathAnnex = FileSettings.SettingValue + item.AnnexPdfPath;
                                    
                                    }
                                    @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                                    {
                                        if (item.eFilePath != null)
                                        {
                                                                                                       
                                        <td>
                                            <img src="~/Images/Common/PDF.png" alt="Download PDF" title="Download PDF" width="35" height="35" onclick="DisplayModaleNoting('@item.eFilePath','@item.eFileAttachmentId');" />
                                        </td>                                                                       
                                       
                                        }
                                        else
                                        {
                                        <td>
                                            <img src="~/Images/Common/PDF.png" alt="Download PDF" title="Download PDF" width="35" height="35" onclick="DisplayNotAuthorize();" />@*</a>*@
                                        </td> 
                                    
                                        }
                                    }
                                    else
                                    {
                                        <td>
                                            <a href="@path" target="_blank">
                                                <img src="~/Images/Common/Main.png" alt="Download PDF" width="35" height="35" title="Main PDF" data-toggle="tooltip" /></a>
                                            @if (item.AnnexPdfPath != null)
                                            {
                                                <a href="@pathAnnex" target="_blank">
                                                    <img src="~/Images/Common/Anexxture.png" alt="Download PDF" title="Annexure PDF" data-toggle="tooltip" width="35" height="35" /></a>
                                                  
                                            }
                                            else
                                            {
                                            }
                                        </td>
                                    }



                                    @{
                                    string pathWord = FileSettings.SettingValue + item.eFilePathWord;
                                    }

                                    <td>

                                        @if (!string.IsNullOrEmpty(item.eFilePathWord))
                                        { 
                                            <a href="@pathWord" target="_blank">
                                                <img src="~/Images/Common/doc.png" alt="Download Doc" title="Download Doc" width="35" height="35" /></a>
                                        }
                                    </td>
                                   <td>@if (item.IsVerified == true)
                                        {
                                        <span class="badge badge-yellow" style="border-radius: 5px;" title="@item.VerifiedBy" data-placement="top" data-toggle="tooltip">Verified by @item.VerifiedBy <br />on @item.VerifiedDate.Value.ToString("dd/MM/yyyy HH:mm tt")</span><br />
                                        }
                                        else
                                        {
                                        <button class="btn btn-minier btn-purple" onclick="ToverifyPaperID('@item.eFileAttachmentId')">
                                            <i class="glyphicon glyphicon-floppy-save"></i>
                                            Click To Verify
                                        </button>
                                        }
                                    </td>

                                </tr>
									
                            }
                        </tbody>
                    </table>
                    
                    }
                    else
                    {
                  
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-info">

                                <strong>No Paper Found !!!</strong><br />


                            </div>
                        </div>
                    </div>
                   
                    }
                }

            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>

</div>
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="~/Scripts/jquery-1.7.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script>

    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
               { "bSortable": false },

              null, null, null, null, null, null, null, null, null, null, null,
            ]

        });
    });

</script>

<script>

    function ToverifyPaperID(id) {
        bootbox.confirm("Are You sure ?", function (result) {
            //alert(id);
            if (result == true) {
                $("#loader-wrapper").show();
                debugger;
                $("#loader-wrapper").show();
                $('.widget-box').show();
                var urlPath = '@Url.Action("ToverifyPaper", "CommitteReplyPendency", new { Area = "HouseCommittee" })';
        $.ajax({
            url: urlPath,
            type: 'GET',
            //data: '{ pageId: "1",pageSize: "25",YearId:' + "5" + ',PapersId:' + "1" + ',strid:' + id + ' }',
            data: { pageId: '1', pageSize: '25', YearId: '5', PapersId: '1', strid: id },
            success: function (data) {
                if (data) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').html(data);
                    $("#loader-wrapper").hide();
                    $('#resize-left').width('100%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '0%' }, 500);
                    ChangeBreadCrumbParent("Verification", "");
                    ChangeBreadCrumbChild("Verification List", "");
                    $("#MainDiveThreeTire").show();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
            }
        });
    }
</script>
