﻿@model SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models.ReimbursementBillViewModel

<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }

    .datepicker {
        z-index: 1151 !important;
    }
</style>

<link href="~/assets/css/datepicker.css" rel="stylesheet" />
<script>
    $(document).ready(function () {

        $('.datepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy",
            defaultDate: new Date()
        });
        @if (ViewBag.Add == "Add")
        {
            <text>
        var today = new Date();
        $(".datepicker").datepicker("setDate", today);
        </text>
        }
        //$('.datepicker').datepicker({ autoclose: true }).on('changeDate', function (ev) {
        //    debugger;
        //    var Id = this.id;
        //    if ($("#" + Id).val() != '') {
        //        $("#" + Id).next().hide();
        //        $("#" + Id).css("border", "1px solid green");
        //    }
        //    else {
        //        $("#" + Id).after("<span class='ErrorMessage'> Date is  Required</span>");
        //        $("#" + Id).css("border", "1px solid red");
        //    }
        //});
    });
</script>


<form method="post" action="/SchemeSetup/SaveQualification" id="ReimbursementBillForm">
    <input type="hidden" id="MainPageSize" name="pageSize" value="@ViewBag.PageSize" />
    <input type="hidden" id="pageId" name="pageId" value="@ViewBag.CurrentPage" />

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ReimbursementBillID)
    @Html.HiddenFor(m => m.Mode)
    @Html.HiddenFor(m => m.FinancialYear)
    @Html.HiddenFor(m => m.Status)
    @Html.HiddenFor(m => m.EstablishBillId)
    @Html.HiddenFor(m => m.IsRejected)


    @Html.HiddenFor(m => m.TakenAmount)
    @Html.HiddenFor(m => m.TakenAmountDate)
    @*   @Html.HiddenFor(m => m.SactionAmount)
    @Html.HiddenFor(m => m.BillFromDate)
    @Html.HiddenFor(m => m.BillToDate)*@
    @Html.HiddenFor(m => m.Remarks)

    <div class="col-md-12 alert alert-info">
        <div class="col-md-6">
            Bill Number
           
            @if (ViewBag.BillNumber == 0)
            {  <input type="text" id="BillNumber" name="BillNumber" class="IsnumericClass" /> }
            else
            {   <input type="text" id="BillNumber" name="BillNumber" readonly="readonly" class="IsnumericClass" value="@ViewBag.BillNumber" />}


            <input type="hidden" id="MainEstablishBillID" name="MainEstablishBillID" value="@ViewBag.EstablishId" />
        </div>
        <div class="col-md-6">
            Gross Amount

             @if (ViewBag.GrossAmount == 0)
             {  <input type="text" id="txtGrossAmount" name="txtGrossAmount" readonly="readonly" /> }
             else
             {   <input type="text" id="txtGrossAmount" name="txtGrossAmount" readonly="readonly" value="@ViewBag.GrossAmount" />}
        </div>
    </div>
    <div class="profile-info-row">
        <div class="profile-info-name">@Resources.MasterDataDashboard.BillType:</div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @if (Model.Mode == "Add")
                {
                    @Html.DropDownListFor(model => model.BillType, Model.BillTypeList, "--Select Bill Type--", new { @class = "col-xs-10 col-sm-12 RemoveDdlBorder" })
                }
                else
                {
                    @Html.DropDownListFor(model => model.BillType, Model.BillTypeList, "--Select Bill Type--", new { @class = "col-xs-10 col-sm-12 RemoveDdlBorder", @disabled = "disabled" })
                }
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
                @Html.ValidationMessageFor(model => model.BillTypeList)
            </div>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name">Designation:</div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @if (Model.Mode == "Add")
                {
                    @Html.DropDownListFor(model => model.DesignationS, Model.DesignationList, "--Select Designation--", new { @class = "col-xs-10 col-sm-12 RemoveDdlBorder" })
                }
                else
                {
                    @Html.DropDownListFor(model => model.DesignationS, Model.DesignationList, "--Select Designation--", new { @class = "col-xs-10 col-sm-12 RemoveDdlBorder", @disabled = "disabled" })
                }
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
                @Html.ValidationMessageFor(model => model.Designation)
            </div>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name">Budget Head:</div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @if (Model.Mode == "Add")
                {
                    @Html.DropDownList("BudgetId", (SelectList)ViewBag.BudgetList, "Select Budget Head", new { @class = "col-xs-10 col-sm-12 RemoveDdlBorder" })
                }
                else
                {
                    @Html.DropDownList("BudgetId", (SelectList)ViewBag.BudgetList, "Select Budget Head", new { @class = "col-xs-10 col-sm-12 RemoveDdlBorder", @disabled = "disabled" })
                }
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
                @Html.ValidationMessageFor(model => model.BudgetId)
            </div>
        </div>
    </div>


    <div class="profile-info-row">
        <div class="profile-info-name">Member:</div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12" id="DivMember">
                @if (Model.MemberList == null)
                { 
                    <select class="col-xs-10 col-sm-12 RemoveDdlBorder" id="Member" name="Member">
                        <option value="">--Select Member--</option>
                    </select>
                }
                else
                {
                    @Html.DropDownListFor(model => model.ClaimantId, Model.MemberList, "--Select Member--", new { @class = "col-xs-10 col-sm-12 RemoveDdlBorder" })
                }

            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
                @Html.ValidationMessageFor(model => model.ClaimantId)
            </div>
        </div>
    </div>
    <div class="profile-info-row" id="DivNominee" style="@(Model.Designation == 3 ? "" : "display:none;")">
        <div class="profile-info-name">Nominee:</div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @if (Model.NomineeList == null)
                { 
                    <select class="col-xs-10 col-sm-12 " id="NomineeId" name="NomineeId">
                        <option value="">--Select Nominee--</option>
                    </select>
                }
                else
                {
                    @Html.DropDownListFor(model => model.NomineeId, Model.NomineeList, "--Select Nominee--", new { @class = "col-xs-10 col-sm-12 " })
                    
                }

            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
                @Html.ValidationMessageFor(model => model.NomineeId)
            </div>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name">@Resources.MasterDataDashboard.GrossAmount:</div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @if (Model.Mode == "Add")
                {
                    @Html.TextBoxFor(model => model.GrossAmount, new { Value = "", @class = "col-xs-10 col-sm-12 RemoveBorder IsnumericClass", @placeholder = @Resources.MasterDataDashboard.GrossAmount, @autocomplete = "off" })
             
                }
                else
                {
                    @Html.TextBoxFor(model => model.GrossAmount, new { @class = "col-xs-10 col-sm-12 RemoveBorder IsnumericClass", @placeholder = @Resources.MasterDataDashboard.GrossAmount, @autocomplete = "off" })
                }
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
                @Html.ValidationMessageFor(model => model.GrossAmount)
            </div>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name">Sanctioned amount :</div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @if (Model.SactionAmount == 0)
                {
                    <input type="text" id="SactionAmount" name="SactionAmount" class="col-xs-10 col-sm-12 RemoveBorder IsnumericClass" placeholder="Saction Amount" autocomplete="off" />
                
                }
                else
                { <input type="text"  id="SactionAmount" name="SactionAmount" value="@Model.SactionAmount" class="col-xs-10 col-sm-12 RemoveBorder IsnumericClass" placeholder="Saction Amount" autocomplete="off" />
                                       
                   
                }
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
                @Html.ValidationMessageFor(model => model.SactionAmount)

            </div>
        </div>
    </div>



    <div class="profile-info-row" id="NumberDiv" style="@((Model.BillType == 6 || Model.BillType == 18 || Model.BillType == 19 || Model.BillType == 20) ? "" : "display:none;")">
        <div class="profile-info-name">
            <label class="col-sm-3 control-label no-padding-right" for="TreasuryCode" id="NumberLbl">Telephone/Water/ Meter/GPF Number</label>
        </div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @if (Model.Mode == "Add")
                {
                    @Html.TextBoxFor(model => model.Number, new { Value = "", @class = "col-xs-10 col-sm-12 RemoveBorder", @placeholder = "Telephone/Water/Meter Number", @autocomplete = "off" })
               
                }
                else
                {
                    @Html.TextBoxFor(model => model.Number, new { @class = "col-xs-10 col-sm-12 RemoveBorder", @placeholder = "Telephone/Water/Meter Number", @autocomplete = "off" })
                }
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
                @Html.ValidationMessageFor(model => model.Number)
            </div>
        </div>
    </div>

    <div class="profile-info-row" id="CometteDiv" style="@((Model.BillType == 2) ? "" : "display:none;")">
        <div class="profile-info-name">
            <label class="col-sm-3 control-label no-padding-right" for="TreasuryCode">Committee/Session</label>
        </div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @if (Model.Mode == "Add")
                {
                    @Html.TextBoxFor(model => model.Comette, new { Value = "", @class = "col-xs-10 col-sm-12 RemoveBorder", @placeholder = "Comette/Session", @autocomplete = "off" })
               
                }
                else
                {
                    @Html.TextBoxFor(model => model.Comette, new { @class = "col-xs-10 col-sm-12 RemoveBorder", @placeholder = "Comette/Session", @autocomplete = "off" })
                }
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
            </div>
        </div>
    </div>
    <div class="profile-info-row" id="RetiremenGraDiv" style="@((Model.BillType == 30) ? "" : "display:none;")">
        <div class="profile-info-name">
            <label class="col-sm-3 control-label no-padding-right" for="Retirement Gratuity">Retirement Gratuity</label>
        </div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @if (Model.Mode == "Add")
                {
                    @Html.TextBoxFor(model => model.RetirementGratuity, new { Value = "", @class = "col-xs-10 col-sm-12 IsnumericClass RemoveBorder", @placeholder = "Retirement Gratuity", @autocomplete = "off" })
               
                }
                else
                {
                    @Html.TextBoxFor(model => model.RetirementGratuity, new { @class = "col-xs-10 col-sm-12 IsnumericClass RemoveBorder", @placeholder = "Retirement Gratuity", @autocomplete = "off" })
                }
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
            </div>
        </div>
    </div>

    <div class="profile-info-row" id="LeaveEncashementDiv" style="@((Model.BillType == 29) ? "" : "display:none;")">
        <div class="profile-info-name">
            <label class="col-sm-3 control-label no-padding-right" for="Leave Encashment">Leave Encashment</label>
        </div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @if (Model.Mode == "Add")
                {
                    @Html.TextBoxFor(model => model.LeaveEncashment, new { Value = "", @class = "col-xs-10 col-sm-12 IsnumericClass RemoveBorder", @placeholder = "Leave Encashment", @autocomplete = "off" })
               
                }
                else
                {
                    @Html.TextBoxFor(model => model.LeaveEncashment, new { @class = "col-xs-10 col-sm-12 IsnumericClass RemoveBorder", @placeholder = "Leave Encashment", @autocomplete = "off" })
                }
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
            </div>
        </div>
    </div>
    <div class="profile-info-row" id="LTCDiv" style="@((Model.BillType == 27) ? "" : "display:none;")">
        <div class="profile-info-name">
            <label class="col-sm-3 control-label no-padding-right" for="LTC">LTC</label>
        </div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @if (Model.Mode == "Add")
                {
                    @Html.TextBoxFor(model => model.LTC, new { Value = "", @class = "col-xs-10 col-sm-12 IsnumericClass RemoveBorder", @placeholder = "LTC", @autocomplete = "off" })
               
                }
                else
                {
                    @Html.TextBoxFor(model => model.LTC, new { @class = "col-xs-10 col-sm-12 IsnumericClass RemoveBorder", @placeholder = "LTC", @autocomplete = "off" })
                }
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
            </div>
        </div>
    </div>
    <div class="profile-info-row" id="MiscAGDiv" style="@((Model.BillType == 27 || Model.BillType == 29 || Model.BillType == 30) ? "" : "display:none;")">
        <div class="profile-info-name">
            <label class="col-sm-3 control-label no-padding-right" for="Retirement Gratuity">Misc AG</label>
        </div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @if (Model.Mode == "Add")
                {
                    @Html.TextBoxFor(model => model.MiscAG, new { Value = "", @class = "col-xs-10 col-sm-12 IsnumericClass RemoveBorder", @placeholder = "Misc AG", @autocomplete = "off" })
               
                }
                else
                {
                    @Html.TextBoxFor(model => model.MiscAG, new { @class = "col-xs-10 col-sm-12 IsnumericClass RemoveBorder", @placeholder = "Misc AG", @autocomplete = "off" })
                }
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
            </div>
        </div>
    </div>
    <div class="profile-info-row" id="MiscBTDiv" style="@((Model.BillType == 27 || Model.BillType == 29 || Model.BillType == 30) ? "" : "display:none;")">
        <div class="profile-info-name">
            <label class="col-sm-3 control-label no-padding-right" for="Retirement Gratuity">Misc BT</label>
        </div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @if (Model.Mode == "Add")
                {
                    @Html.TextBoxFor(model => model.MiscBT, new { Value = "", @class = "col-xs-10 col-sm-12 IsnumericClass RemoveBorder", @placeholder = "Misc BT", @autocomplete = "off" })
               
                }
                else
                {
                    @Html.TextBoxFor(model => model.MiscBT, new { @class = "col-xs-10 col-sm-12 IsnumericClass RemoveBorder", @placeholder = "Misc BT", @autocomplete = "off" })
                }
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
            </div>
        </div>
    </div>
    <div class="profile-info-row" id="StationDiv" style="@((Model.BillType == 2) ? "" : "display:none;")">
        <div class="profile-info-name">
            <label class="col-sm-3 control-label no-padding-right" for="TreasuryCode">Station Name</label>
        </div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @if (Model.Mode == "Add")
                {
                    @Html.TextBoxFor(model => model.StationName, new { Value = "", @class = "col-xs-10 col-sm-12 RemoveBorder", @placeholder = "Station Name" })
               
                }
                else
                {
                    @Html.TextBoxFor(model => model.StationName, new { @class = "col-xs-10 col-sm-12 RemoveBorder", @placeholder = "Station Name" })
                }
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
            </div>
        </div>
    </div>

    <div class="profile-info-row" id="AlongWithDiv" style="@((Model.BillType == 2) ? "" : "display:none;")">
        <div class="profile-info-name">
            <label class="col-sm-3 control-label no-padding-right" for="TreasuryCode">Along With </label>
        </div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @Html.DropDownListFor(model => model.AlongWith, (SelectList)ViewBag.AlongWithList, "Select Along With", new { @class = "col-xs-10 col-sm-12 RemoveDdlBorder" })

            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
            </div>
        </div>
    </div>

    <div class="profile-info-row" id="JourneyByDiv" style="@((Model.BillType == 2) ? "" : "display:none;")">
        <div class="profile-info-name">
            <label class="col-sm-3 control-label no-padding-right" for="TreasuryCode">Journey By </label>
        </div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @Html.DropDownListFor(model => model.JourneyBy, (SelectList)ViewBag.JourneyByList, "Select Journey By", new { @class = "col-xs-10 col-sm-12 RemoveDdlBorder" })


            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
            </div>
        </div>
    </div>

    <div class="profile-info-row" id="HospitalNameDiv"  style="@((Model.BillType == 1) ? "" : "display:none;")">
        <div class="profile-info-name">
            <label class="col-sm-3 control-label no-padding-right" for="HospitalName">Hospital Name</label>
        </div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @Html.DropDownList("HospitalName", (SelectList)ViewBag.HospitalNameList, "Select Hospital", new { @class = "col-xs-10 col-sm-12 RemoveDdlBorder" })
                @* @if (Model.Mode == "Add")
                {
                    @Html.TextBoxFor(model => model.HospitalName, new { Value = "", @class = "col-xs-10 col-sm-12 RemoveBorder", @placeholder = "Hospital Name", @autocomplete = "off" })
               
                }
                else
                {
                    @Html.TextBoxFor(model => model.HospitalName, new { @class = "col-xs-10 col-sm-12 RemoveBorder", @placeholder = "Hospital Name", @autocomplete = "off" })
                }*@
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
            </div>
        </div>
    </div>
    <div class="profile-info-row" id="MedicalShopNameDiv"   style="@((Model.BillType == 1) ? "" : "display:none;")" >
        <div class="profile-info-name">
            <label class="col-sm-3 control-label no-padding-right" for="MedicalShopName">Medical Shop Name</label>
        </div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @if (Model.Mode == "Add")
                {
                    @Html.TextBoxFor(model => model.MedicalShopName, new { Value = "", @class = "col-xs-10 col-sm-12 RemoveBorder", @placeholder = "Medical Shop Name", @autocomplete = "off" })
               
                }
                else
                {
                    @Html.TextBoxFor(model => model.MedicalShopName, new { @class = "col-xs-10 col-sm-12 RemoveBorder", @placeholder = "Medical Shop Name", @autocomplete = "off" })
                }
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
            </div>
        </div>
    </div>



    <div class="profile-info-row" id="BillNumberDiv"  style="@(Model.BillType == 6 || Model.BillType == 26 || Model.BillType == 23 || Model.BillType == 24 || Model.BillType == 25 ? "display:none;" : "")">
        <div class="profile-info-name">File/ Voucher / Ticket Number:</div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @if (Model.Mode == "Add")
                {
                    @Html.TextBoxFor(model => model.BillNumberOfVoucher, new { Value = "", @class = "col-xs-10 col-sm-12 RemoveBorder ", @placeholder = "File/ Voucher / Ticket Number of Voucher", @autocomplete = "off" })
             
                }
                else
                {
                    @Html.TextBoxFor(model => model.BillNumberOfVoucher, new { @class = "col-xs-10 col-sm-12 RemoveBorder ", @placeholder = "File/ Voucher / Ticket  Number of Voucher", @autocomplete = "off" })
                }
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
                @Html.ValidationMessageFor(model => model.BillNumberOfVoucher)
            </div>
        </div>
    </div>
    <div class="profile-info-row" id="BillDateDiv"  style="@(Model.BillType == 6 || Model.BillType == 26 || Model.BillType == 23 || Model.BillType == 24 || Model.BillType == 25 ? "display:none;" : "")">
        <div class="profile-info-name">
            <label class="col-sm-3 control-label no-padding-right" for="CashMemoDateDiv">Bill Date</label>
        </div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @if (Model.Mode == "Add")
                {
                    @Html.TextBoxFor(model => model.BillDateOfVoucherS, new { Value = "", @class = "col-xs-10 col-sm-12 RemoveBorder datepicker", @placeholder = "Bill Date of Voucher", @autocomplete = "off" })
               
                }
                else
                {
                    @Html.TextBoxFor(model => model.BillDateOfVoucherS, "{0:dd/MM/yyyy}", new { @class = "col-xs-10 col-sm-12 RemoveBorder datepicker", @placeholder = "Bill Date of Voucher", @autocomplete = "off" })
                }
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
            </div>
        </div>
    </div>

    <div class="profile-info-row" id="BillFromDateDiv" style="@((Model.BillType == 3 || Model.BillType == 13 || Model.BillType == 19 || Model.BillType == 20 ||
    Model.BillType == 22 || Model.BillType == 18 || Model.BillType == 8 || Model.BillType == 9 || Model.BillType == 10 || Model.BillType == 6
    || Model.BillType == 11 || Model.BillType == 12 || Model.BillType == 4 || Model.BillType == 14 || Model.BillType == 15 || Model.BillType == 21
    || Model.BillType == 23 || Model.BillType == 24 || Model.BillType == 25 || Model.BillType == 26 ||
     Model.BillType == 28 || Model.BillType == 29 || Model.BillType == 30 || Model.BillType == 31) ? "display:none;" : "")">
        <div class="profile-info-name">Bill From  Date:</div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @if (Convert.ToDateTime(Model.BillFromDate).ToString("MM/dd/yyyy") == "01/01/1753" || Convert.ToDateTime(Model.BillFromDate).ToString("MM/dd/yyyy") == "01/01/1900")
                {
                    @Html.TextBoxFor(model => model.BillFromDateS, new { Value = "", @class = "col-xs-10 col-sm-12 RemoveBorder datepicker", @placeholder = "Bill From Date", @autocomplete = "off", @maxlength = "41" })
                }
                else
                {
                    @Html.TextBoxFor(model => model.BillFromDateS, "{0:dd/MM/yyyy}", new { @class = "col-xs-10 col-sm-12 RemoveBorder datepicker", @placeholder = "Bill From Date", @autocomplete = "off", @maxlength = "41" })
                }
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
                @Html.ValidationMessageFor(model => model.BillFromDateS)

            </div>
        </div>
    </div>



    <div class="profile-info-row" id="BillToDateDiv" style="@((Model.BillType == 3 || Model.BillType == 13 || Model.BillType == 19 || Model.BillType == 20 ||
    Model.BillType == 22 || Model.BillType == 18 || Model.BillType == 8 || Model.BillType == 9 || Model.BillType == 10 || Model.BillType == 6
    || Model.BillType == 11 || Model.BillType == 12 || Model.BillType == 4 || Model.BillType == 14 || Model.BillType == 15 || Model.BillType == 21
    || Model.BillType == 23 || Model.BillType == 24 || Model.BillType == 25 || Model.BillType == 26 ||
    Model.BillType == 28 || Model.BillType == 29 || Model.BillType == 30 || Model.BillType == 31) ? "display:none;" : "")">
        <div class="profile-info-name">Bill To Date:</div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @if (Convert.ToDateTime(Model.BillToDate).ToString("MM/dd/yyyy") == "01/01/1753" || Convert.ToDateTime(Model.BillToDate).ToString("MM/dd/yyyy") == "01/01/1900")
                {
                    @Html.TextBoxFor(model => model.BillToDateS, new { Value = "", @class = "col-xs-10 col-sm-12 RemoveBorder datepicker", @placeholder = "Bill To Date", @autocomplete = "off", @maxlength = "41" })
               
                }
                else
                {
                    @Html.TextBoxFor(model => model.BillToDateS, "{0:dd/MM/yyyy}", new { @class = "col-xs-10 col-sm-12 RemoveBorder datepicker", @placeholder = "Bill To Date", @autocomplete = "off", @maxlength = "41" })
                }
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
                @Html.ValidationMessageFor(model => model.BillToDateS)
            </div>
        </div>
    </div>





    <div class="profile-info-row" id="SanctionNumberDiv"  style="@((Model.BillType == 3 || Model.BillType == 13 || Model.BillType == 19 || Model.BillType == 20 ||
    Model.BillType == 22 || Model.BillType == 18 || Model.BillType == 8 || Model.BillType == 9 || Model.BillType == 10
    || Model.BillType == 11 || Model.BillType == 12 || Model.BillType == 4 || Model.BillType == 14 || Model.BillType == 15 || Model.BillType == 21
             || Model.BillType == 27 || Model.BillType == 29 || Model.BillType == 30// || Model.BillType == 26 
    ) ? "" : "display:none;")">
        <div class="profile-info-name">Sanction Order No:</div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @if (Model.Mode == "Add")
                {
                    @Html.TextBoxFor(model => model.SactionNumber, new { Value = "", @class = "col-xs-10 col-sm-12 RemoveBorder ", @placeholder = "Sanction Number", @autocomplete = "off" })
             
                }
                else
                {
                    @Html.TextBoxFor(model => model.SactionNumber, new { @class = "col-xs-10 col-sm-12 RemoveBorder ", @placeholder = "Sanction Number", @autocomplete = "off" })
                }
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
                @Html.ValidationMessageFor(model => model.SactionNumber)
            </div>
        </div>
    </div>


    <div class="profile-info-row" id="SanctionDateDiv"  style="@((Model.BillType == 3 || Model.BillType == 13 || Model.BillType == 19 || Model.BillType == 20 ||
    Model.BillType == 22 || Model.BillType == 18 || Model.BillType == 8 || Model.BillType == 9 || Model.BillType == 10
    || Model.BillType == 11 || Model.BillType == 12 || Model.BillType == 4 || Model.BillType == 14 || Model.BillType == 15 || Model.BillType == 21
            || Model.BillType == 27 || Model.BillType == 29 || Model.BillType == 30// || Model.BillType == 26
   ) ? "" : "display:none;")" >
        <div class="profile-info-name">
            <label class="col-sm-3 control-label no-padding-right" for="SanctionDateDiv">Sanction Date</label>
        </div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @if (Model.Mode == "Add")
                {
                    @Html.TextBoxFor(model => model.SactionDateS, new { Value = "", @class = "col-xs-10 col-sm-12 RemoveBorder datepicker", @placeholder = "Sanction Date", @autocomplete = "off" })
               
                }
                else
                {
                    @Html.TextBoxFor(model => model.SactionDateS, "{0:dd/MM/yyyy}", new { @class = "col-xs-10 col-sm-12 RemoveBorder datepicker", @placeholder = "Sanction Date", @autocomplete = "off" })
                }
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
            </div>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name">Submission Date:</div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @if (Model.Mode == "Add")
                {
                    @Html.TextBoxFor(model => model.DateOfPresentationS, new { Value = "", @class = "col-xs-10 col-sm-12 RemoveBorder datepicker", @placeholder = "Submission Date", @autocomplete = "off", @maxlength = "41" })
             
                }
                else
                {
                    @Html.TextBoxFor(model => model.DateOfPresentationS, "{0:dd/MM/yyyy}", new { @class = "col-xs-10 col-sm-12 RemoveBorder datepicker", @placeholder = "Submission Date", @autocomplete = "off", @maxlength = "41" })
                }

            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
                @Html.ValidationMessageFor(model => model.DateOfPresentationS)
            </div>
        </div>
    </div>


    <div class="profile-info-row">
        <div class="profile-info-name"></div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                <button type="button" class="btn btn-sm btn-warning pull-left" id="SaveAndNewReimburseBill" onclick="SaveAndNewBill();">
                    Save & New
																<i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                </button>

                <button type="button" class="btn btn-sm btn-success pull-right" id="AddReimburseBill" onclick="UpdateBill();">
                    Submit
																<i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                </button>

            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
            </div>
        </div>
    </div>
</form>



<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {
         @if (Model.Mode == "Add")
         {
    <text>    $("#BillDateOfVoucher").val('');</text>
         }
        $("#BillReimbursement").addClass("active open");
        $("#BillReimbursementSubMenu").addClass("nav-show").css("display", "block");
        $("#NonTravelBill").addClass("active");
        $("#BillReimbursementIcon").removeClass("fa-comment").addClass("fa-comment-o");

        $('.RemoveBorder').keypress(function () {
            var Id = this.id;
            $("#" + Id).next().hide();
            $("#" + Id).css("border", "1px solid green");
        });

        $('.RemoveDdlBorder').change(function () {

            var Id = this.id;
            if ($("#" + Id).val() != '') {
                $("#" + Id).next().hide();
                $("#" + Id).css("border", "1px solid green");
            }
            else {
                $("#" + Id).after("<span class='ErrorMessage'>Required</span>");
                $("#" + Id).css("border", "1px solid red");
            }

        });

        $('.IsnumericClass').keypress(function (e) {
            var key = (e.which) ? e.which : e.keyCode;
            if ((key >= 48 && key <= 57) || (key == 44) || (key == 8)) {

                return true;
            }
            else {
                return false;
            }
        });
    });


    $('#GrossAmount').on("keyup", function () {

        $('.ErrorMessage').remove('');
        var GrossAmount = parseInt($('#GrossAmount').val());
        if ($('#GrossAmount').val() == '') {
            $('#GrossAmount').after("<span class='ErrorMessage'>Please fill Gross Amount.</span>");
            $("#GrossAmount").css("border", "1px solid red");
        }
        else {
            $('#SactionAmount').val(GrossAmount);

        }


    });

    function GetUserList(Designation) {
        $.ajax({
            type: "POST",
            url: '/ReimbursementBill/GetClaimentList',
            data: '{ Designation: "' + Designation + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (data) {

                if (data != null) {
                    var memberCol = data.MemberList;

                    if (memberCol.length > 0) {

                        var selectOpt = '<option value="">---Select Member ---</option>';

                        $.each(memberCol, function (e, index) {

                            selectOpt += '<option value="' + memberCol[e]["Value"] + '">' +

                            memberCol[e]["Text"] + '</option>';

                        });

                        $("#ClaimantId").html(selectOpt);
                    }
                    else {

                        var selectOpt = '<option value="">---Select Member ---</option>';

                        $("#ClaimantId").html(selectOpt);
                    }


                }
                else {
                    var dlg = bootbox.alert('No Data Available', function (e) {

                        $(dlg).modal('hide');
                    });
                }


            },
            error: function (data) {
                if (data != null) {

                    var memberCol = data.MemberList;

                    if (memberCol.length > 0) {

                        var selectOpt = '<option value="">---Select Member ---</option>';

                        $.each(memberCol, function (e, index) {

                            selectOpt += '<option value="' + memberCol[e]["Value"] + '">' +

                            memberCol[e]["Text"] + '</option>';

                        });

                        $("#ClaimantId").html(selectOpt);
                    }
                    else {

                        var selectOpt = '<option value="">---Select Member ---</option>';

                        $("#ClaimantId").html(selectOpt);
                    }


                }
                else {
                    var dlg = bootbox.alert('No Data Available', function (e) {

                        $(dlg).modal('hide');
                    });
                }
            },
            complete: function (result) {
                $('#loader-wrapper').hide();
            }
        });
    }
    $('#DesignationS').change(function () {
        var Designation = $('#DesignationS').val();
        GetUserList(Designation);
        GetBudgetHead();
    });

    function GetNomineeList(MemberCode, Designation) {
        $.ajax({
            type: "POST",
            url: '/ReimbursementBill/GetNomineeList',
            data: '{ MemberCode: "' + MemberCode + '",Designation: "' + Designation + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (data) {
                if (data != null) {
                    var memberCol = data.NomineeList;

                    if (memberCol.length > 0) {

                        var selectOpt = '<option value="">---Select Nominee ---</option>';

                        $.each(memberCol, function (e, index) {

                            selectOpt += '<option value="' + memberCol[e]["Value"] + '">' +

                            memberCol[e]["Text"] + '</option>';

                        });

                        $("#NomineeId").html(selectOpt);
                    }
                    else {

                        var selectOpt = '<option value="">---Select Nominee ---</option>';

                        $("#NomineeId").html(selectOpt);
                    }


                }
                else {
                    var dlg = bootbox.alert('No Data Available', function (e) {

                        $(dlg).modal('hide');
                    });
                }


            },
            error: function (data) {
                if (data != null) {

                    var memberCol = data.NomineeList;

                    if (memberCol.length > 0) {

                        var selectOpt = '<option value="">---Select Nominee ---</option>';

                        $.each(memberCol, function (e, index) {

                            selectOpt += '<option value="' + memberCol[e]["Value"] + '">' +

                            memberCol[e]["Text"] + '</option>';

                        });

                        $("#NomineeId").html(selectOpt);
                    }
                    else {

                        var selectOpt = '<option value="">---Select Nominee ---</option>';

                        $("#NomineeId").html(selectOpt);
                    }


                }
                else {
                    var dlg = bootbox.alert('No Data Available', function (e) {

                        $(dlg).modal('hide');
                    });
                }
            },
            complete: function (result) {
                $('#loader-wrapper').hide();
            }
        });
    }

    $('#ClaimantId').change(function () {
        var Designation = $('#DesignationS').val();
        if (Designation == "3" || Designation == "7") {
            var Member = $('#ClaimantId').val();
            GetNomineeList(Member, Designation);
            $('#DivNominee').show();

        }
        else {
            $('#DivNominee').hide();
        }
    });

    function HideandShowTextBox(Val) {
        if (Val == "18") {
            $('#NumberDiv').show();
            $('#NumberLbl').html('Telephone Number');
            $('#Number').val('');

            $('#BillDateDiv').show();
            $('#BillNumberDiv').show();
            $('#BillDateOfVoucherS').val('');
            $('#BillNumberOfVoucherS').val('');


            $('#BillFromDateDiv').hide();
            $('#BillToDateDiv').hide();
            $('#BillFromDateS').val('');
            $('#BillToDateS').val('');


            $('#SanctionDateDiv').show();
            $('#SactionDateS').val('');

            $('#SanctionNumberDiv').show();
            $('#SactionNumber').val('');

            $('#HospitalNameDiv').hide();
            $('#MedicalShopNameDiv').hide();
            $('#CashMemoDateDiv').hide();
            $('#HospitalName').val('');
            $('#MedicalShopName').val('');
            $('#CashMemoDate').val('');
            $('#MiscAGDiv').hide();
            $('#MiscBTDiv').hide();
        }
        else if (Val == "2") {
            $('#CometteDiv').show();
            $('#StationDiv').show();

            $('#AlongWithDiv').show();
            $('#JourneyByDiv').show();

            $('#Comette').val('');

            $('#SanctionDateDiv').hide();
            $('#SactionDateS').val('');

            $('#BillFromDateDiv').show();
            $('#BillToDateDiv').show();
            $('#BillFromDateS').val('');
            $('#BillToDateS').val('');

            $('#BillDateDiv').show();
            $('#BillNumberDiv').show();
            $('#BillDateOfVoucherS').val('');
            $('#BillNumberOfVoucher').val('');


            $('#SanctionNumberDiv').hide();
            $('#SactionNumber').val('');
            $('#NumberDiv').hide();
            $('#Number').val('');
            $('#HospitalNameDiv').hide();
            $('#MedicalShopNameDiv').hide();
            $('#CashMemoDateDiv').hide();
            $('#HospitalName').val('');
            $('#MedicalShopName').val('');
            $('#CashMemoDate').val('');
            $('#MiscAGDiv').hide();
            $('#MiscBTDiv').hide();
        }
        else if (Val == "23" || Val == "24" || Val == "25" || Val == "26") {
            $('#CometteDiv').hide();
            $('#StationDiv').hide();

            $('#AlongWithDiv').hide();
            $('#JourneyByDiv').hide();

            $('#Comette').val('');

            $('#SanctionDateDiv').hide();
            $('#SactionDateS').val('');

            $('#BillFromDateDiv').hide();
            $('#BillToDateDiv').hide();
            $('#BillFromDateS').val('');
            $('#BillToDateS').val('');

            $('#BillDateDiv').hide();
            $('#BillNumberDiv').hide();
            $('#BillDateOfVoucherS').val('');
            $('#BillNumberOfVoucher').val('');


            $('#SanctionNumberDiv').hide();
            $('#SactionNumber').val('');
            $('#NumberDiv').hide();
            $('#Number').val('');
            $('#HospitalNameDiv').hide();
            $('#MedicalShopNameDiv').hide();
            $('#CashMemoDateDiv').hide();
            $('#HospitalName').val('');
            $('#MedicalShopName').val('');
            $('#CashMemoDate').val('');
            $('#MiscAGDiv').hide();
            $('#MiscBTDiv').hide();
        }
        else if (Val == "27") {
            $('#CometteDiv').hide();
            $('#StationDiv').hide();
            $('#AlongWithDiv').hide();
            $('#JourneyByDiv').hide();
            $('#Comette').val('');
            $('#StationName').val('');
            $('#SanctionDateDiv').show();
            $('#SactionDateS').val('');
            $('#MiscAGDiv').show();
            $('#MiscBTDiv').show();
            $('#SanctionNumberDiv').show();
            $('#SactionNumber').val('');

            $('#BillFromDateDiv').show();
            $('#BillToDateDiv').show();
            $('#BillFromDateS').val('');
            $('#BillToDateS').val('');

            $('#BillDateDiv').show();
            $('#BillNumberDiv').show();
            $('#BillDateOfVoucherS').val('');
            $('#BillNumberOfVoucher').val('');



            $('#NumberDiv').hide();
            $('#Number').val('');
            $('#HospitalNameDiv').hide();
            $('#MedicalShopNameDiv').hide();
            $('#CashMemoDateDiv').hide();
            $('#HospitalName').val('');
            $('#MedicalShopName').val('');
            $('#CashMemoDate').val('');

            $('#RetiremenGraDiv').hide();
            $('#RetirementGratuity').val('0');
            $('#LeaveEncashementDiv').hide();
            $('#LeaveEncashment').val('0');
            $('#LTCDiv').show();
            $('#LTC').val('0');
        }
        else if (Val == "19" || Val == "20") {
            $('#NumberDiv').show();
            $('#NumberLbl').html('Meter Number');
            $('#Number').val('');
            $('#HospitalNameDiv').hide();
            $('#MedicalShopNameDiv').hide();
            $('#CashMemoDateDiv').hide();
            $('#HospitalName').val('');
            $('#MedicalShopName').val('');
            $('#CashMemoDate').val('');
            $('#CometteDiv').hide();
            $('#StationDiv').hide();
            $('#MiscAGDiv').hide();
            $('#MiscBTDiv').hide();
            $('#AlongWithDiv').hide();
            $('#JourneyByDiv').hide();
            $('#Comette').val('');
            $('#StationName').val('');
            $('#SanctionDateDiv').show();
            $('#SactionDateS').val('');

            $('#SanctionNumberDiv').show();
            $('#SactionNumber').val('');

            $('#BillFromDateDiv').hide();
            $('#BillToDateDiv').hide();
            $('#BillFromDateS').val('');
            $('#BillToDateS').val('');

            $('#BillDateDiv').show();
            $('#BillNumberDiv').show();
            $('#BillDateOfVoucherS').val('');
            $('#BillNumberOfVoucher').val('');
            $('#RetiremenGraDiv').hide();
            $('#RetirementGratuity').val('0');
            $('#LeaveEncashementDiv').hide();
            $('#LeaveEncashment').val('0');
            $('#LTCDiv').hide();
            $('#LTC').val('0');
        }
        else if (Val == "1") {
            $('#HospitalNameDiv').show();
            $('#HospitalName').val('');

            $('#MedicalShopNameDiv').show();
            $('#MedicalShopName').val('');

            $('#SanctionDateDiv').hide();
            $('#SactionDate').val('');

            $('#SanctionNumberDiv').hide();
            $('#SactionNumber').val('');

            $('#BillDateDiv').show();
            $('#BillNumberDiv').show();
            $('#BillDateOfVoucherS').val('');
            $('#BillNumberOfVoucher').val('');

            $('#BillFromDateDiv').show();
            $('#BillToDateDiv').show();
            $('#BillFromDateS').show('');
            $('#BillToDateS').show('');

            $('#CashMemoDateDiv').show();
            $('#CashMemoDate').val('');
            $('#NumberDiv').hide();
            $('#CometteDiv').hide();
            $('#StationDiv').hide();
            $('#AlongWithDiv').hide();
            $('#JourneyByDiv').hide();
            $('#Comette').val('');
            $('#StationName').val('');
            //
            $('#RetiremenGraDiv').hide();
            $('#RetirementGratuity').val('0');
            $('#LeaveEncashementDiv').hide();
            $('#LeaveEncashment').val('0');
            $('#LTCDiv').hide();
            $('#LTC').val('0');
            $('#MiscAGDiv').hide();
            $('#MiscBTDiv').hide();
        }
        else if (Val == "6") {
            $('#NumberDiv').show();
            $('#NumberLbl').html('GPF Number');
            $('#Number').val('');

            $('#SanctionDateDiv').hide();
            $('#SactionDateS').val('');

            $('#SanctionNumberDiv').hide();
            $('#SactionNumber').val('');

            $('#BillDateDiv').hide();
            $('#BillNumberDiv').hide();
            $('#BillDateOfVoucherS').val('');

            $('#BillFromDateDiv').hide();
            $('#BillToDateDiv').hide();
            $('#BillFromDateS').val('');
            $('#BillToDateS').val('');
            $('#HospitalNameDiv').hide();
            $('#MedicalShopNameDiv').hide();
            $('#CashMemoDateDiv').hide();
            $('#HospitalName').val('');
            $('#MedicalShopName').val('');
            $('#CashMemoDate').val('');
            //
            $('#RetiremenGraDiv').hide();
            $('#RetirementGratuity').val('0');
            $('#LeaveEncashementDiv').hide();
            $('#LeaveEncashment').val('0');
            $('#LTCDiv').hide();
            $('#LTC').val('0');
            $('#MiscAGDiv').hide();
            $('#MiscBTDiv').hide();
        }

        else if (Val == "3" || Val == "13" || Val == "8" || Val == "9" ||
            Val == "10" || Val == "11" || Val == "12" || Val == "4" || Val == "14" || Val == "15"
            || Val == "21" || Val == "22" || Val == "29" || Val == "30" || Val == "31") {
            $('#SanctionDateDiv').show();
            $('#SactionDateS').val('');

            $('#SanctionNumberDiv').show();
            $('#SactionNumber').val('');

            $('#BillDateDiv').show();
            $('#BillNumberDiv').show();
            $('#BillDateOfVoucherS').val('');
            $('#BillNumberOfVoucher').val('');

            $('#BillFromDateDiv').hide();
            $('#BillToDateDiv').hide();
            $('#BillFromDateS').val('');
            $('#BillToDateS').val('');


            $('#NumberDiv').hide();
            $('#Number').val('');
            $('#HospitalNameDiv').hide();
            $('#MedicalShopNameDiv').hide();
            $('#CashMemoDateDiv').hide();
            $('#HospitalName').val('');
            $('#MedicalShopName').val('');
            $('#CashMemoDate').val('');
            $('#CometteDiv').hide();
            $('#StationDiv').hide();
            $('#AlongWithDiv').hide();
            $('#JourneyByDiv').hide();
            $('#Comette').val('');
            $('#StationName').val('');

            //
            if (Val == "30") {
                $('#RetiremenGraDiv').show();
                $('#RetirementGratuity').val('0');
            }
            else {
                $('#RetiremenGraDiv').hide();
                $('#RetirementGratuity').val('0');
            }
            if (Val == "29") {
                $('#LeaveEncashementDiv').show();
                $('#LeaveEncashment').val('0');
            }
            else {
                $('#LeaveEncashementDiv').hide();
                $('#LeaveEncashment').val('0');
            }

            if (Val == "29" || Val == "30") {
                $('#MiscAGDiv').show();
                $('#MiscBTDiv').show();
            }
            $('#LTCDiv').hide();
            $('#LTC').val('0');

        }
        else if (Val == "26" || Val == "23" || Val == "24" || Val == "25") {
            $('#SanctionDateDiv').show();
            $('#SactionDateS').val('');

            $('#SanctionNumberDiv').show();
            $('#SactionNumber').val('');

            $('#BillDateDiv').hide();
            $('#BillNumberDiv').hide();
            $('#BillDateOfVoucher').val('');
            $('#BillNumberOfVoucher').val('');
            $('#BillFromDateDiv').hide();
            $('#BillToDateDiv').hide();
            $('#BillFromDateS').val('');
            $('#BillToDateS').val('');
            $('#NumberDiv').hide();
            $('#Number').val('');
            $('#HospitalNameDiv').hide();
            $('#MedicalShopNameDiv').hide();
            $('#CashMemoDateDiv').hide();
            $('#HospitalName').val('');
            $('#MedicalShopName').val('');
            $('#CashMemoDate').val('');
            $('#CometteDiv').hide();
            $('#StationDiv').hide();
            $('#AlongWithDiv').hide();
            $('#JourneyByDiv').hide();
            $('#Comette').val('');
            $('#StationName').val('');
            $('#MiscAGDiv').hide();
            $('#MiscBTDiv').hide();
        }
        else {
            $('#SanctionDateDiv').hide();
            $('#SactionDateS').val('');
            $('#BillFromDateDiv').hide();
            $('#BillToDateDiv').hide();
            $('#BillFromDateS').val('');
            $('#BillToDateS').val('');
            $('#SanctionNumberDiv').hide();
            $('#SactionNumber').val('');
            $('#NumberDiv').hide();
            $('#Number').val('');
            $('#HospitalNameDiv').hide();
            $('#MedicalShopNameDiv').hide();
            $('#CashMemoDateDiv').hide();
            $('#CometteDiv').hide();
            $('#StationDiv').hide();
            $('#AlongWithDiv').hide();
            $('#JourneyByDiv').hide();
            $('#Comette').val('');
            $('#StationName').val('');

            $('#RetiremenGraDiv').hide();
            $('#RetirementGratuity').val('0');
            $('#LeaveEncashementDiv').hide();
            $('#LeaveEncashment').val('0');
            $('#LTCDiv').hide();
            $('#LTC').val('0');
            $('#MiscAGDiv').hide();
            $('#MiscBTDiv').hide();
        }


    }
    $('#BillType').change(function () {

        var Val = this.value;
        HideandShowTextBox(Val);
    });
    //$('#DesignationS').change(function () {

    //    GetBudgetHead();
    //});


    //  $('#BillType').change(function () {
    function GetBudgetHead() {
        var BillType = $('#BillType').val();
        var Designation = $('#DesignationS').val();
        if (BillType != null && Designation != null) {
            $.ajax({
                type: "POST",
                url: '/AccountsAdmin/EstablishBill/GetBudgetHeadList',
                data: '{ BillType: "' + BillType + '",Designation: "' + Designation + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (data) {
                    if (data != null) {
                        if (data.length > 0) {
                            var selectOpt = '';
                            $.each(data, function (e, index) {
                                selectOpt += '<option value="' + data[e]["BudgetID"] + '">' +
                                data[e]["BudgetName"] + '</option>';
                            });
                            $("#BudgetId").html(selectOpt);
                        }
                        else {
                            var selectOpt = '<option value="">---Select budget head ---</option>';
                            $("#BudgetId").html(selectOpt);
                        }
                    }
                    else {
                        var dlg = bootbox.alert('No Data Available', function (e) {
                            $(dlg).modal('hide');
                        });
                    }
                },
                error: function (data) {
                    debugger;
                    if (data != null) {

                        if (data.length > 0) {

                            var selectOpt = '';
                            $.each(data, function (e, index) {
                                selectOpt += '<option value="' + data[e]["BudgetID"] + '">' +
                                data[e]["BudgetName"] + '</option>';
                            });
                            $("#BudgetId").html(selectOpt);
                        }
                        else {
                            var selectOpt = '<option value="">---Select Budget Head ---</option>';
                            $("#BudgetId").html(selectOpt);
                        }
                    }
                    else {
                        var dlg = bootbox.alert('No Data Available', function (e) {
                            $(dlg).modal('hide');
                        });
                    }
                },
                complete: function (result) {
                    $('#loader-wrapper').hide();
                }
            });

        }

    }


    $('#BillNumber').on("keyup", function () {
        $('.ErrorMessage').remove('');
        var BillNumber = parseInt($('#BillNumber').val());
        if (BillNumber > 0) {
            $.ajax({
                type: "POST",
                url: '/ReimbursementBill/GetEstblishByBillNumber',
                data: '{BillNumber:"' + BillNumber + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {

                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    if (result.IsChallanGenerate == true) {
                        $('#BillNumber').after("<span class='ErrorMessage'>Sorry...! You can't add voucher for this bill because Bill Challan is generated.</span>");
                        $("#BillNumber").css("border", "1px solid red");
                        $("#SaveAndNewReimburseBill").hide();
                        $("#AddReimburseBill").hide();

                    }
                    else {

                        $('#BudgetId').val(result.BudgetId);
                        $("#BillType").val(result.BillType);
                        $('#BillType').attr("disabled", "disabled");
                        HideandShowTextBox(result.BillType);

                        $('#BudgetId').attr("disabled", "disabled");

                        $("#DesignationS").val(result.Designation);
                        $('#DesignationS').attr("disabled", "disabled");
                        GetUserList(result.Designation);
                        $('#txtGrossAmount').val(result.TotalGrossAmount);
                        $('#MainEstablishBillID').val(result.EstablishBillID);
                        //$("#SactionNumber").val(result.SactionNumber);
                        //$("#SactionDateS").val(result.SactionDateS);
                        $("#SaveAndNewReimburseBill").show();
                        $("#AddReimburseBill").show();

                        $('#SactionNumber').val(result.SanctioNumber);
                        debugger;

                        var newDates = new Date(parseInt(result.SanctionDate.replace('/Date(', '')));
                        var Month = parseInt(newDates.getMonth()) + 1;
                        var date = newDates.getDate() + "/" + Month + "/" + newDates.getFullYear();

                        // var date = new Date(parseInt(result.SanctionDate.substr(6)));
                        $('#SactionDateS').val(date);
                    }

                },
                error: function (error) {

                    if (error.responseText.IsChallanGenerate == true) {
                        $('#BillNumber').after("<span class='ErrorMessage'>Sorry...! You can't add voucher for this bill because Bill Challan is generated.</span>");
                        $("#BillNumber").css("border", "1px solid red");
                        $("#SaveAndNewReimburseBill").hide();
                        $("#AddReimburseBill").hide();
                    }
                    else {
                        $('#BudgetId').val(error.responseText.BudgetId);
                        $("#BillType").val(error.responseText.BillType);
                        $('#BillType').attr("disabled", "disabled");
                        HideandShowTextBox(error.responseText.BillType);
                        $('#BudgetId').attr("disabled", "disabled");

                        $("#DesignationS").val(error.responseText.Designation);
                        $('#DesignationS').attr("disabled", "disabled");
                        GetUserList(error.responseText.Designation);
                        //$("#SactionNumber").val(error.responseText.SactionNumber);
                        //$("#SactionDateS").val(error.responseText.SactionDateS);
                        $('#txtGrossAmount').val(error.responseText.TotalGrossAmount);
                        $('#MainEstablishBillID').val(error.responseText.EstablishBillID);
                        $("#SaveAndNewReimburseBill").show();
                        $("#AddReimburseBill").show();
                    }


                },
                complete: function (results) {
                    $('#loader-wrapper').hide();
                }
            });
        }
        else {

            $("#SaveAndNewReimburseBill").show();
            $("#AddReimburseBill").show();
            $("#BillNumber").css("border", "1px solid green");
        }
    });
</script>
