﻿@model  List<SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models.ReimbursementBillViewModel>

@{  int count = 0;
    if (ViewBag.CurrentPage > 1)
    {

        count = (ViewBag.PageSize * (ViewBag.CurrentPage - 1));
    }
}
<!-- PAGE CONTENT BEGINS -->

<div class="pass-table">
    @if (Model != null)
    {
        if (Model.Count() > 0)
        {   
        <input type="hidden" id="pageId" name="pageId" value="@ViewBag.CurrentPage" />
        <div class="form-group">
            <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">

                <input type="checkbox" id="chbNotingReport" value="1" /> Noting Report

                <button class="btn  btn-sm btn-info" id="Pdf" onclick="DownloadBillReportPdf()">
                    <i class="ace-icon fa fa-download white  bigger-150"></i>
                    <span class="bigger-110">Download Pdf</span>
                </button>
                @*  <button class="btn  btn-sm btn-info" id="Export">
                    <i class="ace-icon fa fa-download white  bigger-150"></i>
                    <span class="bigger-110">Download Excel</span>
                </button>*@

            </div>
        </div>
        <br />
        <br />
        <div class="table-header">
        </div>
        <div>
            <label>Display</label>
            <select size="1" name="PageSize" id="PazeSize">
                <option value="10" selected="selected">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <label>Records</label>
        </div>                  
        <table class="table  table-bordered  dataTable" id="tblBillReportList" aria-describedby="sample-table-2_info">
            <thead>
                <tr role="row">
                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Bill No.</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Bill Type</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Claimant Name</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Gross Amount</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Deduction</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Adavance Taken </th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Sanction Amount</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Bill Date</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Bill Number</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">GPF/ Meter/Telephone No.</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Encashement Date</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Status</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">View Bill</th>
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                @foreach (var item in Model)
                {
                    count = count + 1; 
                  
                    <tr>
                        <td class="center">
                            @count
                        </td>
                        <td style="width: 30%">@item.ReimbursementBillID</td>
                        <td style="width: 20%">
                            @item.BillTypeName</td>
                        <td style="width: 30%">
                            @item.ClaimantName
                        </td>
                        <td style="width: 20%">@item.GrossAmount</td>
                        <td style="width: 20%">@item.Deduction</td>

                        <td style="width: 10%">@item.TakenAmount</td>
                        
                        
                            <td style="width: 10%">@item.SactionAmount</td>
                            <td style="width: 10%">
                                @if (Convert.ToDateTime(item.BillDateOfVoucher).ToString("dd/MMM/yyyy") == "01/Jan/1900" || Convert.ToDateTime(item.BillDateOfVoucher).ToString("dd/MMM/yyyy") == "01/Jan/1753"||
                                     Convert.ToDateTime(item.BillDateOfVoucher).ToString("dd/MMM/yyyy") == "01/Jan/0001")
                                {
                                    <text>NA</text>
                                }
                                else
                                {
                                    @Convert.ToDateTime(item.BillDateOfVoucher).ToString("dd/MM/yyyy")
                                }
                            </td> 

                         <td>
                             @item.BillNumberOfVoucher
                         </td>
                         <td>
                                @item.Number
                            </td>
                        @if (item.IsSetEncashment)
                        {
                            <td style="width: 20%">
                                @if (Convert.ToDateTime(item.EncashmentDate).ToString("dd/MMM/yyyy") == "01/Jan/1900")
                                {
                                    <text>--</text>
                                }
                                else if (Convert.ToDateTime(item.EncashmentDate).ToString("dd/MMM/yyyy") == "01/Jan/1753")
                                {
                                    <text>--</text>
                                }
                                else
                                {
                                    @Convert.ToDateTime(item.EncashmentDate).ToString("dd/MM/yyyy")
                                }
                            </td>
                        }
                        else
                        {
                            <td style="width: 20%">--</td>
                        }
                        <td style="@(item.Status == 0 ? "background-color:#d15b47; color:white; " : item.Status == 1 ? "background-color:#f79263;color:white;" : item.Status == 2 ? "background-color:LightGreen;font-weight:bold;" : "")">
                            @if (item.Status == 0)
                            {
                                <text>Bill in Process</text>
                            }
                            else if (item.Status == 1)
                            {
                                <text>Sanctioned</text>
                            }
                            else if (item.Status == 2)
                            {
                                <text>Encashment</text>
                            }

                        </td>
                        <td class="center" style="width: 10%">
                            <div class="hidden-sm hidden-xs action-buttons">
                                @if (item.PDFUrl != null)
                                {
                                    <a data-rel="tooltip" target="_blank" class="green tooltip-success btn btn-xs btn-warning" title="View Scanned Pdf" href="~/ScannedReimbursementBills/MainPdf/@item.PDFUrl">View 
                                    </a>

                                }
                                else
                                {
                                    <text>--</text>
                                }

                            </div>

                        </td>
                    </tr>                                                                
                }

            </tbody>
        </table>
        <!-- PAGE CONTENT ENDS -->
        
        <!-- PAGER START -->
        <div>@{Html.RenderPartial("~/Areas/AccountsAdmin/Views/Shared/_Pager.cshtml");}</div>
        <!-- PAGER ENDS -->
        
        }
        else
        {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <strong>@Resources.MasterDataDashboard.NoReimbursementBillFound</strong><br />
                </div>
            </div>
        </div>
        }
    }
</div>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<!-- /.col -->
<script type="text/javascript">

    $(document).ready(function () {

        $('#tblBillReportList').dataTable({
            "bPaginate": false, "bInfo": false
        });

        $("#PazeSize").val(@ViewBag.PageSize)

        $('#PazeSize').change(function () {
            var PageSize = $("#PazeSize").val();
            $.ajax({
                type: "POST",
                url: '/ReimbursementBill/GetBillReportByPaging',
                data: '{ pageId: "1",pageSize: "' + PageSize + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {

                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#SearchDataDiv').empty();
                    $('#SearchDataDiv').append(result);
                },
                error: function (error) {
                    $('#SearchDataDiv').empty();
                    $('#SearchDataDiv').append(error.responseText);

                },
                complete: function (results) {

                    $('#loader-wrapper').hide();
                }
            });

        });
    });
</script>
