﻿@model  List<SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models.ReimbursementBillViewModel>
<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }

    .datepicker {
        z-index: 1151 !important;
    }
</style>
<link href="~/assets/css/datepicker.css" rel="stylesheet" />

<div class="row">
    <div class="two-column" id="innerDiv">
        <div class=" col-md-12 ">
            <div id="resize-left" class="ui-widget-content" style="width: 100%;">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="widget-box">
                            <div class="widget-header">
                                <h4 class="widget-title">Bill Report
                                </h4>

                                <div class="widget-toolbar no-border">
                                </div>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <div class="clearfix">

                                        <div class="table-responsive">
                                            <div id="divDataContainer">

                                                <table class="table">
                                                    <tr class="info">
                                                        <td>
                                                            <label class=" control-label  " for="Language">Select Designation</label>
                                                            @Html.DropDownList("Designation", (SelectList)ViewBag.DesignationList, "--Select--", new { @class = "col-xs-10 col-sm-10 RemoveDdlBorder" })
                                                        </td>
                                                        <td>
                                                            <label class=" control-label  " for="Frequency">Select Member</label>
                                                            <div>
                                                                @Html.DropDownList("Member", (SelectList)ViewBag.MemberList, "--Select Member--", new { @class = "col-xs-10 col-sm-10 RemoveDdlBorder" })
                                                            </div>

                                                        </td>
                                                        <td>
                                                            <label class=" control-label  " for="EndDateFrom">Bill Type</label>
                                                            @Html.DropDownList("BillType", (SelectList)ViewBag.BillTypeList, "Select Bill Type", new { @class = "col-xs-10 col-sm-10 RemoveDdlBorder" })
                                                        </td>
                                                        <td>
                                                            <label class=" control-label  " for="EndDateFrom">Status</label>
                                                            @Html.DropDownList("Staus", (SelectList)ViewBag.StatusList, "Select Status", new { @class = "col-xs-10 col-sm-10 RemoveDdlBorder" })
                                                        </td>



                                                    </tr>
                                                    <tr class="info">
                                                        <td>
                                                            <label class=" control-label  " for="EndDateFrom">Submission Date From</label>
                                                            <input type="text" id="txtBillPeriodFrom" placeholder="Submission Date From" class="col-md-10 col-sm-5 date-picker" />
                                                        </td>
                                                        <td>
                                                            <label class=" control-label  " for="EndDateTo">Submission Date To</label>
                                                            <input type="text" id="txtBillPeriodTo" placeholder="Submission Date To" class="col-md-10 col-sm-5 date-picker" />
                                                        </td>

                                                        <td>
                                                            <label class=" control-label  " for="BillNumber">Bill Number</label>
                                                            <input type="text" id="txtBillNumber" placeholder="Bill Number" class="col-md-10 col-sm-5 IsnumericClass" />
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                <div class="space-12"></div>
                                                                <button class="btn btn-sm btn-primary btn-bold" id="btnSearch" onclick="SerachData();">
                                                                    <i class="ace-icon fa fa-search bigger-150"></i>
                                                                    <span class="bigger-110">Search</span>
                                                                </button>
                                                            </div>

                                                        </td>
                                                    </tr>
                                                </table>
                                                <div class="alert alert-block alert-danger" id="SearchAlertDiv" style="display: none;">
                                                    <strong><i class="ace-icon fa fa-check-square-o"></i>Error! </strong><span id="MsgSpan">Please select at least one field </span>
                                                </div>
                                                <div id="SearchDataDiv">
                                                    @{Html.RenderPartial("~/Areas/AccountsAdmin/Views/ReimbursementBill/_BillListForReport.cshtml", Model);}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>



<script type="text/javascript">

    $(document).ready(function () {

        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "mm/dd/yyyy"
        });
        $('#DivDdlClaimentName').hide();
        $('.IsnumericClass').keypress(function (e) {
            var key = (e.which) ? e.which : e.keyCode;
            if ((key >= 48 && key <= 57) || (key == 44) || (key == 8)) {

                return true;
            }
            else {
                return false;
            }
        });
    });

    $('#Designation').change(function () {
        var Designation = $('#Designation').val();
        $.ajax({
            type: "POST",
            url: '/ReimbursementBill/GetClaimentList',
            data: '{ Designation: "' + Designation + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (data) {

                if (data != null) {


                    var memberCol = data.MemberList;

                    if (memberCol.length > 0) {

                        var selectOpt = '';

                        $.each(memberCol, function (e, index) {

                            selectOpt += '<option value="' + memberCol[e]["Value"] + '">' +

                            memberCol[e]["Text"] + '</option>';

                        });

                        $("#Member").html(selectOpt);
                    }
                    else {

                        var selectOpt = '<option value="">---Select A Member ---</option>';

                        $("#Member").html(selectOpt);
                    }


                }
                else {
                    var dlg = bootbox.alert('No Data Available', function (e) {

                        $(dlg).modal('hide');
                    });
                }




            },
            error: function (data) {
                if (data != null) {


                    var memberCol = data.MemberList;

                    if (memberCol.length > 0) {

                        var selectOpt = '';

                        $.each(memberCol, function (e, index) {

                            selectOpt += '<option value="' + memberCol[e]["Value"] + '">' +

                            memberCol[e]["Text"] + '</option>';

                        });

                        $("#Member").html(selectOpt);
                    }
                    else {

                        var selectOpt = '<option value="">---Select A Member ---</option>';

                        $("#Member").html(selectOpt);
                    }


                }
                else {
                    var dlg = bootbox.alert('No Data Available', function (e) {

                        $(dlg).modal('hide');
                    });
                }
            },
            complete: function (result) {
                $('#loader-wrapper').hide();
            }
        });

    });


    function SerachData() {
        debugger;
        var Designation = $('#Designation').val();
        var Member = $('#Member').val();
        var BillType = $('#BillType').val();
        var Staus = $('#Staus').val();
        var SubmissionDateFrom = $('#txtBillPeriodFrom').val();
        var SubmissionDateTo = $('#txtBillPeriodTo').val();
        var BillNumber = $('#txtBillNumber').val();

        $('#SearchAlertDiv').hide();
        $('.ErrorMessage').remove('');
        var IsValid = true;

        if (Member == '' && Designation == '' && BillType == '' && Staus == '' && SubmissionDateFrom == '' && SubmissionDateTo == '' && BillNumber == '') {
            $('#SearchAlertDiv').css("border", "1px solid red");
            $('#SearchAlertDiv').show();
            IsValid = false;
        }

        if ($('#txtBillPeriodFrom').val().trim() != '' && $('#txtBillPeriodTo').val().trim() == '') {
            $('#txtBillPeriodTo').css("border", "1px solid red");
            $('#txtBillPeriodTo').after("<span class='ErrorMessage'><br> Please Fill it</span>");
            $('#txtBillPeriodTo').focus();
            IsValid = false;
        }
        if ($('#txtBillPeriodTo').val().trim() != '' && $('#txtBillPeriodFrom').val().trim() == '') {
            $('#txtBillPeriodFrom').css("border", "1px solid red");
            $('#txtBillPeriodFrom').after("<span class='ErrorMessage'><br> Please Fill it</span>");
            $('#txtBillPeriodFrom').focus();
            IsValid = false;
        }
        if ($('#txtBillPeriodTo').val().trim() != '' && $('#txtBillPeriodFrom').val().trim() != '') {
            if (Date.parse($('#txtBillPeriodFrom').val().trim()) > Date.parse($('#txtBillPeriodTo').val().trim())) {
                $('#txtBillPeriodTo').css("border", "1px solid red");
                $('#txtBillPeriodTo').after("<span class='ErrorMessage'><br> Bill Period To must be greate than Bill Period From </span>");
                IsValid = false;
            }
        }


        if (IsValid == true) {
            $.ajax({
                type: "POST",
                url: '/ReimbursementBill/GetBillReport',
                data: '{Designation:"' + Designation + '", ClaimantId: "' + Member + '",BillType: "' + BillType + '",Staus: "' + Staus + '",SubmissionDateFromS: "' + SubmissionDateFrom + '",SubmissionDateToS: "' + SubmissionDateTo + '",BillNumber:"' + BillNumber + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#SearchDataDiv').empty();
                    $('#SearchDataDiv').append(result.Html);
                },
                error: function (result) {
                    $('#SearchDataDiv').empty();
                    $('#SearchDataDiv').append(result.responseText);
                },

                complete: function (result) {
                    $('#loader-wrapper').hide();
                }
            });
        }
    }

    function DownloadBillReportPdf() {
        $('#loader-wrapper').show();
        var Member = $('#Member').val();
        var BillType = $('#BillType').val();
        var Staus = $('#Staus').val();
        var ReportType = $('#ReportType').val();
        var txtBillPeriodFrom = $('#txtBillPeriodFrom').val();
        var txtBillPeriodTo = $('#txtBillPeriodTo').val();
        var BillNumber = $('#txtBillNumber').val();
        var chbNotingReport = '';
        if ($('#chbNotingReport').attr('checked')) {
            chbNotingReport = "1";
        } else {
            chbNotingReport = "0";
        }
        var ss = "<input type='hidden' name='Member' value='" + Member + "' >" +
         "<input type='hidden' name='BillType' value='" + BillType + "' >" +
         "<input type='hidden' name='NotingReport' value='" + chbNotingReport + "' >" +
        "<input type='hidden' name='Staus' value='" + Staus + "' >" +
        "<input type='hidden' name='SubmissionDateFrom' value='" + txtBillPeriodFrom + "' >" +
        "<input type='hidden' name='SubmissionDateTo' value='" + txtBillPeriodTo + "' >" +
             "<input type='hidden' name='BillNumber' value='" + BillNumber + "' >";


        $('body').prepend("<form method='post' action='/ReimbursementBill/DownloadPdf' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
        $('#tempForm').submit();
        $("tempForm").remove();

        setTimeout(function () {
            $('#loader-wrapper').hide();
        }, 2000);


    }


    function GetDataList(pageId) {
        var PageSize = $("#PazeSize").val();
        $.ajax({
            type: "POST",
            url: '/ReimbursementBill/GetBillReportByPaging',
            data: '{ pageId: "' + pageId + '",pageSize: "' + PageSize + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#SearchDataDiv').empty();
                $('#SearchDataDiv').append(result);
            },
            error: function (error) {
                $('#SearchDataDiv').empty();
                $('#SearchDataDiv').append(error.responseText);

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
            }
        });
    }
</script>
