﻿@model   SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.MobileSettingsViewModel
@{
    ViewBag.Title = "CreateMobileSettings";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}
@Html.Action("LeftNavigationMenu", "SuperAdmin")
<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    @Html.Partial("_BreadcrumbsPartial")
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "MobileSettings")">Mobile Settings Master Data</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "MobileSettings")">Mobile Settings Details</a>
            </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>Master Data                              
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Mobile Settings Details
                </small>
            </h1>
        </div>
        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">Create Mobile Settings</h4>
            }
            else
            {
                <h4 class="widget-title lighter">Edit Mobile Settings </h4>
            }
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        @* //, new { @class = "form-horizontal", @role = "form" }*@
                        <div class="row">
                            <form class="form-horizontal">
                                @Html.HiddenFor(m => m.SlNo)
                                @Html.HiddenFor(model => model.Mode)
                                <div class="space-2"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="MediaViewTime" style="margin-top: 14px;">Media View Time (Minutes)</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            @Html.TextBoxFor(model => model.MediaViewTime, new { @class = "input-mini spinner-input form-control", @onkeypress = "return isNumberKey(event)" })

                                            <div class="help-block col-xs-12 col-sm-reset inline" style="top: 11px; margin-left: 70px;">
                                                <select id="MediaAfterBefore" class="col-xs-10 col-sm-12">
                                                    @foreach (SelectListItem MediaAB in Model.MediaAfterBeforeCol)
                                                    {
                                                        if(MediaAB.Value == Model.MediaAfterBefore)
                                                        {
                                                            <option value="@MediaAB.Value" selected>@MediaAB.Text</option>
                                                        }
                                                        else{
                                                        
                                                            <option value="@MediaAB.Value">@MediaAB.Text</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                        </div>

                                    </div>
                                </div>
                                <div class="space-2"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="MemberViewTime" style="margin-top: 14px;">Member View Time (Minutes)</label>
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(model => model.MemberViewTime, new { @class = "input-mini spinner-input form-control", @onkeypress = "return isNumberKey(event)" })
                                        <div class="help-block col-xs-12 col-sm-reset inline" style="top: 11px; margin-left: 70px;">
                                            <select id="MemberAfterBefore" class="col-xs-10 col-sm-12">
                                                @foreach (SelectListItem MemberAB in Model.MemberAfterBeforeCol)
                                                {
                                                    if (MemberAB.Value == Model.MemberAfterBefore)
                                                    {
                                                        <option value="@MemberAB.Value" selected>@MemberAB.Text</option>
                                                    }
                                                    else{
                                                        
                                                        <option value="@MemberAB.Value">@MemberAB.Text</option>
                                                    }
                                                }
                                            </select>
                                        </div>

                                    </div>


                                    <div>
                                    </div>
                                </div>
                                <div style="margin-left: 406px; margin-top: 81px;">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->
                                    <button type="button" id="btnSave" class="btn btn-sm btn-purple ">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        @Resources.MasterDataDashboard.Save</button>
                                    <button type="button" id="btnReset" class="btn btn-sm btn-info">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        @Resources.MasterDataDashboard.Reset
                                    </button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/assets/js/fuelux/fuelux.spinner.min.js"></script>
<script>



    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }


    $(document).ready(function () {

        $("#mobiles").addClass("active open");
        $("#mobilesSub").addClass("nav-show").css("display", "block");
        $("#mobilesettinglist").addClass("active");
        $("#mobilelinkid").removeClass("fa-comment").addClass("fa-comment-o");


        $("#MediaViewTime").focus();

        $('#MediaViewTime').ace_spinner({ value: 0, min: 1, max: 1440, step: 1, btn_up_class: 'btn-info', btn_down_class: 'btn-info' })
        .on('change', function () {
            //alert(this.value)
        });

        $('#MemberViewTime').ace_spinner({ value: 0, min: 1, max: 1440, step: 1, btn_up_class: 'btn-info', btn_down_class: 'btn-info' })
        .on('change', function () {
            //alert(this.value)
        });

        $("#btnSave").click(function () {
            //if ($('#MediaViewTime').val() == "" || ('#MediaViewTime').val() == null) {
            //   $('#langValidation').html("Media View Time is Required");
            //}
            Save();
        });

        $("#btnReset").click(function () {

            resetFields();

        });

        if ($('#MediaViewTime').val() == 0) {

            $('#MediaViewTime').ace_spinner('value', 0);
        }

        if ($('#MemberViewTime').val() == 0) {

            $('#MemberViewTime').ace_spinner('value', 0);
        }

    });

    //function validateforMedia() {
    //    var FieldVal = document.getElementById('MediaViewTime').value;
    //    if (FieldVal > 1440) {

    //        var dlg = bootbox.alert('Media View Time should be between 1 to 1440', function (e) {

    //            $(dlg).modal('hide');
    //        });
    //        return false;
    //    }
    //    else if (FieldVal < 1) {
    //        var dlg = bootbox.alert('Media View Time should be between 1 to 1440', function (e) {

    //            $(dlg).modal('hide');
    //        });
    //        return false;
    //    }
    //    else {
    //        return true;
    //    }
    //}

    //function validateforMember() {
    //    var FieldVal = document.getElementById('MemberViewTime').value;
    //    if (FieldVal > 1440) {

    //        var dlg = bootbox.alert('Member View Time should be between 1 to 1440', function (e) {

    //            $(dlg).modal('hide');
    //        });
    //        return false;
    //    }
    //    else if (FieldVal < 1) {
    //        var dlg = bootbox.alert('Member View Time should be between 1 to 1440', function (e) {

    //            $(dlg).modal('hide');
    //        });
    //        return false;
    //    }
    //    else {
    //        return true;
    //    }
    //}

    function validate() {

        var isValid = true;

        if ($("#MediaViewTime").val() > 1440) {

            var dlg = bootbox.alert('Media View Time should be between 1 to 1440', function (e) {

                $(dlg).modal('hide');
            });

            isValid = false;

        }
        else if ($("#MediaViewTime").val() < 1) {

            var dlg = bootbox.alert('Media View Time should be between 1 to 1440', function (e) {

                $(dlg).modal('hide');
            });

            isValid = false;

        }
        else if ($("#MemberViewTime").val() > 1440) {

            var dlg = bootbox.alert('Member View Time should be between 1 to 1440', function (e) {

                $(dlg).modal('hide');
            });

            isValid = false;
        }
        else if ($("#MemberViewTime").val() < 1) {

            var dlg = bootbox.alert('Member View Time should be between 1 to 1440', function (e) {

                $(dlg).modal('hide');
            });

            isValid = false;
        }
        else {

            isValid = true;
        }

        return isValid;
    }

    function Save() {

        var isValid = validate();

        if ($('#MediaViewTime').val() != "" && $('#MemberViewTime').val() != "") {
            // alert(validate());
            if (isValid) {

                var MobileSettingsViewModel = new FormData();
                MobileSettingsViewModel.append("MediaViewTime", $("#MediaViewTime").val());
                MobileSettingsViewModel.append("MemberViewTime", $("#MemberViewTime").val());
                MobileSettingsViewModel.append("Mode", $("#Mode").val());
                MobileSettingsViewModel.append("SlNo", $("#SlNo").val());
                MobileSettingsViewModel.append("MediaAfterBefore", $("#MediaAfterBefore").val());
                MobileSettingsViewModel.append("MemberAfterBefore", $("#MemberAfterBefore").val());

                $.ajax({
                    url: "/SuperAdmin/MobileSettings/SaveMobileSettings",
                    type: 'POST',
                    data: MobileSettingsViewModel,
                    cache: false,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        window.location.href = "/SuperAdmin/MobileSettings";

                    },
                    error: function (xhr, ajaxOptions, thrownError) {

                        var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                            $(dlg).modal('hide');
                        });
                    }
                });
            }
        }
        else if ($('#MediaViewTime').val() == "") {
            var dlg = bootbox.alert('Please give Media View Time', function (e) {

                $(dlg).modal('hide');
            });
        }
        else if ($('#MemberViewTime').val() == "") {
            var dlg = bootbox.alert('Please give Member View Time', function (e) {

                $(dlg).modal('hide');
            });
        }
    }

    function resetFields() {

        $(".field-validation-error").empty();

        $("#MediaViewTime").focus();

        $('#MediaViewTime').ace_spinner('value', 0);

        $('#MemberViewTime').ace_spinner('value', 0);

        $('#MediaAfterBefore').val('');

        $('#MemberAfterBefore').val('');
    }

</script>
