﻿@model SBL.DomainModel.Models.Ministery.mMinisteryMinisterModel

<link href="~/Content/SBL/typography.css" rel="stylesheet" />


@{
    int SrNo = 0;
    int count = 0;
    int startpage = 0;
    int endPage = 0;
    float rcnt = @Model.ResultCount;
    float rperPage = @Model.RowsPerPage;
    float cnt = rcnt / rperPage;
    int b = (int)cnt;
    float c = (float)cnt - b;  
}

@if (c > 0)
{
    count = b + 1;
}
else
{
    count = b;
}

@{
    startpage = ((@Model.selectedPage * 10) - 10) + 1;
    endPage = startpage + 9;           
}

@if (Model.loopStart <= 0)
{
    Model.loopStart = 1;
    Model.loopEnd = 5;
}


@if (count > 0)
{
    <div class="grid-ex-footer">
        <div class="grid-pagination">
            @if (count < Model.loopEnd)
            {
                Model.loopEnd = count;
            }

            <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,1,1,5)" title="@Resources.Common.GoToTheFirstPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">@Resources.Common.FirstPage</span></a>
            @if (Model.loopStart > 5)
            {                           
                <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)" title="@Resources.Common.GoToThePreviousPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">@Resources.Common.PreviousPage</span></a>
            }

            <ul class="gridpage-numbers">
                @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                {
                    if (i == @Model.selectedPage)
                    {                                    
                    <li><span class="grid-page-selected">@i</span></li>
                    }
                    else
                    {
                    <li><a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                    }
                }
            </ul>
            @if (Model.loopStart + 5 < @count)
            {
                <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)" title="@Resources.Common.GoToTheNextPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">@Resources.Common.NextPage</span></a>
            }
            <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@count,@count-5,@count)" title="@Resources.Common.GoToTheLastPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">@Resources.Common.LastPage</span></a>
            <span class="grid-page-info">@Model.loopStart - @Model.loopEnd @Resources.Common.Of @count @Resources.Common.Pages.</span>
        </div>
    </div>
}


     <div class="grid_cantainer" style="float: left; width: 99%; float: left; padding-left: 2px;">
     <div id="MinisterDetails">
       
        <table style="width: 100%">
       
            @if (Model.ComModel != null)
            {
                if (Model.ComModel.Count > 0)
                {
          
                <tr>                              
                    <th class="grid_th" style="border-width: 1.5px; width: 20%; height: 30px; text-align: center">@Resources.Minister.NatureofPaper</th>
                    <th class="grid_th" style="border-width: 1.5px; width: 10%; height: 30px; text-align: center">@Resources.Minister.ReplyPaperSubmitted</th>
                    <th class="grid_th" style="border-width: 1.5px; width: 10%; height: 30px; text-align: center">Action</th>
                </tr>
                
                    foreach (var item in Model.ComModel)
                    {
                        SrNo = SrNo + 1;
                    
                @Html.HiddenFor(m => m.AssemblyId)
                @Html.HiddenFor(m => m.SessionId)
                @Html.HiddenFor(m => m.DeptActivePaperId)
                @Html.HiddenFor(m => m.PaperLaidId)
                        var trID = @item.SessionId;
                <tr id="@trID" style="cursor: pointer">
                   <td style="border-width: 1px; text-align: left">@item.PaperCategoryTypeName</td>
                      
                        <td style="border-width: 1px; text-align: center">
                           <table style="width:100%">
                               <td style="width:30%">
                                @Html.ActionLink("View", "ViewPdfFromServerSignIntention", "Minister", new { DeptActivePaperId = item.DeptActivePaperId }, new { target = "_blank" })

                               </td>
                               <td style="width:70%">
                               <div onclick="ChangedPaper(@item.PaperLaidId,@item.DeptActivePaperId)">
                                @Html.ActionLink("Changed Paper", "ViewPdfFromServerSignIntention", "Minister", null, new { @class = "saveButton", onclick = "return false;" })

                            </div>
                               </td>
                            
                           </table>

                        </td>
                   
                       <td style="border-width: 1px; text-align: center">
  
                                <a id="btnDetails" href="javascript:void(0)" onclick="MinisterPaperLaidDetails(@item.PaperLaidId)" style="color: blue;">
                                <img src="~/Images/Common/Details.jpg" width="35px" height="35px" /></a>

                        </td>
                    </tr>
                    }

                
                    }
                     else
            {
                <tr>
                    <td style="text-align:center">              
                <p>
                    @Resources.Minister.NoRecords
                </p>
                        </td>

                </tr>
               
            }
                }
               
           

        </table>
    </div>
         </div>


@if (count > 0)
{
    <div class="grid-ex-footer">
        <div class="grid-pagination">
            @if (count < Model.loopEnd)
            {
                Model.loopEnd = count;
            }

            <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,1,1,5)" title="@Resources.Common.GoToTheFirstPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">@Resources.Common.FirstPage</span></a>
            @if (Model.loopStart > 5)
            {                           
                <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)" title="@Resources.Common.GoToThePreviousPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">@Resources.Common.PreviousPage</span></a>
            }

            <ul class="gridpage-numbers">
                @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                {
                    if (i == @Model.selectedPage)
                    {                                    
                    <li><span class="grid-page-selected">@i</span></li>
                    }
                    else
                    {
                    <li><a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                    }
                }
            </ul>
            @if (Model.loopStart + 5 < @count)
            {
                <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)" title="@Resources.Common.GoToTheNextPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">@Resources.Common.NextPage</span></a>
            }
            <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@count,@count-5,@count)" title="@Resources.Common.GoToTheLastPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">@Resources.Common.LastPage</span></a>
            <span class="grid-page-info">@Model.loopStart - @Model.loopEnd @Resources.Common.Of @count @Resources.Common.Pages.</span>
        </div>
    </div>
    
}

   
<script>

    function SubmitSelectedPaper() {
        var SIds = document.getElementById("SelectedChkbxId").value;
        if (SIds != null && SIds != "") {
            if (confirm("Are you sure to submit ?")) {

                $.get("/Minister/Minister/SubmitSelectedPaper", { Ids: SIds }, function (data) {
                    $("#RightSidebar").html(data)
                 
                    cl.hide();
                });
            }
        }

        else {
            return false;
        }


    }



    function SignPdfNotice(DeptActivePaperId) {
        var check = confirm("Are you sure to digitally sign this Minister File ");
        if (check) {
            var cl = new CanvasLoader('canvasloader-container1');
            cl.show();
            $.get("/Minister/Minister/PartialSignMinisterFile", { DeptActivePaperId: DeptActivePaperId }, function (data) {
                $('#OpenModelRegisterContainer1').html(data);
                $('#OpenModelRegister1').modal('show')
                cl.hide();
            });
            return false;
        }
        else {
            return false;
        }


    }


    function SubmitSignIntentian(DeptActivePaperId) {
        $.get("/Minister/Minister/ViewSentPdfMinister", { DeptActivePaperId: DeptActivePaperId }, function (data) {

            $('#OpenContainer').html(data)
            $('#OpenModel').modal('show')
        })
    }


    function ChangedPaper(PaperLaidId, DeptActivePaperId) {
        $.get("/Minister/Minister/ChangedPaperDetails", { PaperLaidId: PaperLaidId, DeptActivePaperId: DeptActivePaperId }, function (data) {

            $('#RightSidebar').html(data)
        })
    }


    function MinisterPaperLaidDetails(PaperLaidId) {

        $.get("/Minister/Minister/MinisterPaperLaidDetails", { PaperLaidId: PaperLaidId }, function (data) {

            $('#RightSidebar').html(data)

        })
    }


    function SubmitSignIntentian(DeptActivePaperId) {

        $.get("/Minister/Minister/ViewSentPdfMinister", { DeptActivePaperId: DeptActivePaperId }, function (data) {

            $('#OpenContainer').html(data)
            $('#OpenModel').modal('show')
        })
    }


    function LoadLobAsPdf(value) {


        var PaperLaidId = value;

        $.get("/Minister/Minister/GenerateMinisterPdf", { PaperLaidId: PaperLaidId }, function (data) {
            url = url.replace('amp;', '');
            url = url.replace('amp;', '');
            url = url.replace('ID', ID);
            window.open(url, '_blank');

        });

    }

    function NextButton(rPage, pageNo, lStart, lEnd, ResultCount) {

        var pageNumber = pageNo;
        var rowsPerPage = rPage;
        var loopStart = lStart;
        var loopEnd = lEnd;
        var ResultCount = ResultCount

        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Minister/Minister/PartialPendingMinister",
            type: 'GET',
            data: {
                PageNumber: pageNumber,
                RowsPerPage: rowsPerPage,
                loopStart: loopStart,
                loopEnd: loopEnd,
                ResultCount: "5",
            },
            success: function (data) {
                clearHTML();
                $("#divPendingMinister").html(data);

                document.getElementById("divSubmittedMinister").style.display = "none";
                document.getElementById("divPendingMinister").style.display = "block";
                cl.hide();
            }
        });

    }

    function NextAndPreviousButton(rPage, pageNo, lStart, lEnd, ResultCount) {


        var pageNumber = pageNo;
        var rowsPerPage = rPage;
        var loopStart = lStart;
        var loopEnd = lEnd;
        var ResultCount = ResultCount

        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Minister/Minister/PartialPendingMinister",
            type: 'GET',
            data: {
                PageNumber: pageNumber,
                RowsPerPage: rowsPerPage,
                loopStart: loopStart,
                loopEnd: loopEnd,
                ResultCount: "5"
            },
            success: function (data) {
                clearHTML();
                $("#divPendingMinister").html(data);

                document.getElementById("divSubmittedMinister").style.display = "none";
                document.getElementById("divPendingMinister").style.display = "block";
                cl.hide();
            }
        });


    }


    $(document).ready(function () {
        $("#chiefChk").click(function () {
            $(".box").attr("checked", $(this).attr("checked") ? true : false);
        });
    });

    function SubmitSelected() {
        var SIds = document.getElementById("SelectedChkbxId").value;
        var check = confirm("Are you sure to digitally sign this Minister File ");
        if (check) {
            var cl = new CanvasLoader('canvasloader-container1');
            cl.show();
            $.get("/Minister/Minister/SubmitPending", { Ids: SIds }, function (data) {
                $('#OpenModelRegisterContainer1').html(data);
                $('#OpenModelRegister1').modal('show')
                cl.hide();
            });
            return false;
        }
        else {
            return false;
        }


    }


    $('#ChkBoxAll').on("click", function () {
        if ($('#ChkBoxAll').attr('checked')) {
            document.getElementById("SelectedChkbxId").value = "";
            $(".Checkbox").each(function () {
                var selectedChkbxId = document.getElementById("SelectedChkbxId").value;
                if (selectedChkbxId == "") {
                    document.getElementById("SelectedChkbxId").value = this.id.substring(4);
                } else {
                    selectedChkbxId = selectedChkbxId + "," + this.id.substring(4);
                    document.getElementById("SelectedChkbxId").value = selectedChkbxId;
                }
                $(this).prop("checked", $("#ChkBoxAll").is(":checked"));
            });
            //alert(document.getElementById("SelectedChkbxId").value);
        }
        else {
            document.getElementById("SelectedChkbxId").value = "";
            $(".Checkbox").each(function () {
                $(this).prop("checked", false);
            });
        }
    });

    function checkChange(id) {
        if (document.getElementById(id).checked) {
            var selectedId = document.getElementById("SelectedChkbxId").value;
            if (selectedId == "") {
                document.getElementById("SelectedChkbxId").value = id.substring(4);
            }
            else {
                selectedId = selectedId + "," + id.substring(4);
                document.getElementById("SelectedChkbxId").value = selectedId;
            }
            //alert(document.getElementById("SelectedChkbxId").value)
        }
        else {
            var selectedId = document.getElementById("SelectedChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(4), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4), "");
            }

            document.getElementById("SelectedChkbxId").value = newvalue;

            //alert(document.getElementById("SelectedChkbxId").value);
        }

        if ($(".Checkbox").not(':checked').length == 0) {
            $('#ChkBoxAll').attr('checked', true)
        }
        else {
            $('#ChkBoxAll').attr('checked', false)
        }
    }
</script>
