﻿@model SBL.DomainModel.Models.Ministery.mMinisteryMinisterModel



<div class="modal-header" style="background-color: white; position: relative;">

     <div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px;border: 1px solid #C5C5C5;">
        @Resources.PaperLaidDepartment.DDStaredQuestions >> @Resources.Minister.Inbox
    </div>
    <div class="row-fluid">
        <div style="font-weight: bold; font-size: 14px; width: 450px;">
        </div>

    </div>
</div>
<div style="border: 1px solid grey; margin: 10px 10px 10px 10px">
    <div style="margin-left: 0px; margin-top: 10px; margin-bottom: 20px">
        <fieldset style="border-color: gray;text-align:center">
            <legend>Minister Details</legend>
            <strong style="margin-left: 10px; margin-top: 10px"></strong>
            <table style="margin-left: 4px; margin-bottom: 4px; margin-right: 4px; margin-top: 4px;width:100%">
              
                <tr>
                    <td style="width: 30%">
                        <strong>@Resources.Minister.NatureofPaper:
                        </strong>
                    </td>
                    <td style="text-align:left;width: 70%">
                        <div>

                             @Model.PaperCategoryTypeName

                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 30%; margin-left: 10px">
                        <strong>@Resources.Minister.BusinessType:
                        </strong>

                    </td>
                    <td style="text-align:left;width: 70%">
                         @Model.EventName
                    </td>

                </tr>
             
                <tr>
                    <td style="width: 30%; margin-left: 10px">
                        <strong>@Resources.Minister.Title:
                        </strong>

                    </td>
                    <td style="text-align:left;width: 70%">
                    @Html.Raw(Model.Title)
                    </td>

                </tr>
                  <tr>
                    <td><strong>@Resources.Committee.Minister:</strong>

                    </td>
                    <td  style="text-align:left;width: 70%">
                        @Model.MinisterName
                    </td>
                </tr>

                   <tr>
                    <td><strong>Number</strong>

                    </td>
                    <td  style="text-align:left;width: 70%">
                        @Model.Number
                    </td>
                </tr>

                <tr>
                    <td style="width: 30%; margin-left: 10px">
                        <strong>@Resources.Minister.Department:
                        </strong>

                    </td>
                    <td style="text-align:left;width: 70%">
                       @Model.DeparmentName
                    </td>

                </tr>
            </table>

        </fieldset>
    </div>     
    </div>