﻿<div id="sidebar" class="sidebar responsive">
	<script type="text/javascript">
		try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
	</script>



	<div class="sidebar-shortcuts" id="sidebar-shortcuts">
		<div id="sidebar-shortcuts-large" class="sidebar-shortcuts-large">

			<a title="Help" data-rel="tooltip" class="btn btn-warning" href="#" target="_blank">
				<i class="ace-icon fa fa-users"></i>
			</a>

			<button class="btn btn-info" id="sizeUp" title="Increase fontsize" data-placement="bottom" data-rel="tooltip">
				<b>@Resources.PaperLaidDepartment.A<sup>+</sup> </b>
			</button>

			<button class="btn btn-warning" id="sizeDown" title="Decrease fontsize" data-placement="bottom" data-rel="tooltip">
				<b>@Resources.PaperLaidDepartment.A<sup>-</sup> </b>
			</button>




			@if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.LanguageID == "7C4F28F6-02FC-4627-993D-E255037531AD")
   {
				<button id="btnHindi" title="Change language" data-placement="right" data-rel="tooltip" class="btn btn-success" onclick="ChangeLangaugeHindi();">
					@Resources.PaperLaidDepartment.Hindi
				</button>
   }
   else
   {
				<button id="btnEnglish" style="width: 70px" title="Change language" data-placement="right" data-rel="tooltip" class="btn btn-success" onclick="ChangeLangaugeEnglish();">
					@Resources.PaperLaidDepartment.English
				</button>
   }
		</div>

		<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
			<span class="btn btn-success"></span>

			<span class="btn btn-info"></span>

			<span class="btn btn-warning"></span>

			<span class="btn btn-danger"></span>
		</div>
	</div>

	<ul class="nav nav-list">
		<li class="active">
			<a href="#">
				<i class="menu-icon fa fa-desktop"></i>
				<span class="menu-text">@Resources.PublicPasses.LNPMyDashboard </span>
			</a>
			<b class="arrow"></b>
		</li>

		<li class="">
			<a href="#" class="dropdown-toggle">
				<i class="menu-icon fa fa-bookmark"></i>
				<span class="menu-text">Correspondence
				</span>
				<b class="arrow fa fa-angle-down"></b>
			</a>
			<b class="arrow"></b>
			<ul class="submenu">
				<li class="">
					<a onclick="eFileList()">
						<i class="menu-icon fa fa-caret-right"></i>
						eFile
					</a>
					<a onclick="ReceivePaperList()">
						<i class="menu-icon fa fa-caret-right"></i>
						Receive Paper
					</a>
					<a onclick="SendPaperList()">
						<i class="menu-icon fa fa-caret-right"></i>
						Send Paper
					</a>
					<b class="arrow"></b>

				</li>
			</ul>

		</li>

		<li class="">
			<a href="#" class="dropdown-toggle" onclick="GetCommittee()">
				<i class="menu-icon fa fa-bookmark"></i>
				<span class="menu-text">Committee
				</span>

			</a>
		</li>
		<li class="">
			<a href="#" class="dropdown-toggle">
				<i class="menu-icon fa fa-bookmark"></i>
				<span class="menu-text">Reports
				</span>

			</a>
			<b class="arrow"></b>
			<ul class="submenu">
				<li class="">
					<a onclick="eFileList()">
						<i class="menu-icon fa fa-caret-right"></i>
						ePaper Report
					</a>
					@*<a onclick="ReceivePaperList()">
						<i class="menu-icon fa fa-caret-right"></i>
						Receive Paper
					</a>
					<a onclick="SendPaperList()">
						<i class="menu-icon fa fa-caret-right"></i>
						Send Paper
					</a>
					<b class="arrow"></b>*@

				</li>
			</ul>
		</li>
	</ul>




</div>



<script type="text/javascript">



	function GetPartialView(Url) {
		$("#loader-wrapper").show();

		$.ajaxSetup({ cache: false });
		$.ajax({
			url: Url,
			type: 'GET',
			data: {
				PageNumber: "1",
				RowsPerPage: "20",
				loopStart: "1",
				loopEnd: "5"
			},
			success: function (data) {
				$('#MainDiv').empty();
				$('#MainDiv').html(data);
				$("#MainDiv").css("display", "block");
				$("#loader-wrapper").hide();

			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.responseText);
				alert(thrownError);
			}
		});

	}



	function GetUserType() {


		$("#loader-wrapper").show();
		$.ajaxSetup({ cache: false });

		var pathurl = '@Url.Action("GetUserType", "UserType", new { area = "UserManagement" })';

		//var pathurl = '@Url.Action("GetUserType", "UserType")';
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
				PageNumber: "1",
				RowsPerPage: "20",
				loopStart: "1",
				loopEnd: "5"
			},
			success: function (data) {
				$("#divDataContainer").html(data);


				$("#divDataContainerTwoTire").empty();
				$("#SuccessDiv").hide();
				$("#RightSidebar").empty();
				ChangeBreadCrumbParent("@Resources.UserManagement.UserManagements");
				ChangeBreadCrumbChild("@Resources.UserManagement.Role");

				$("#loader-wrapper").hide();
			}
		});
	}

	function ChangeLangaugeEnglish() {
		$.ajax({
			url: "/Home/ChangeCulture",
			type: 'GET',
			data: {
				lang: "7C4F28F6-02FC-4627-993D-E255037531AD",
				langCulture: "/"
			},
			success: function (data) {
				if (data) {
					window.location.href = '@Url.Action("Index", "SuperAdmin", new { Area = "SuperAdmin" })';
				} else { alert("error"); }
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.status);
				alert(thrownError);
			}
		});
	}

	function ChangeLangaugeHindi() {
		$.ajax({
			url: "/Home/ChangeCulture",
			type: 'GET',
			data: {
				lang: "43177cd4-b51d-497a-a3bc-e81f23b07450",
				langCulture: "/"
			},
			success: function (data) {
				if (data) {
					window.location.href = '@Url.Action("Index", "SuperAdmin", new { Area = "SuperAdmin" })';
				} else { alert("error"); }
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.status);
				alert(thrownError);
			}
		});

	}



</script>







