﻿ @model SBL.DomainModel.Models.SystemModule.SystemModuleModel

<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
<script src="~/Scripts/jquery.alerts.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.timepicker1.js"></script>

<link href="~/Content/MultiSelectList/multiple-select.css" rel="stylesheet" />
<script src="~/Scripts/MultiSelectBox/jquery.multiple.select.js"></script>


@using (Html.BeginForm("NewSystemFunctionUpdate", "SystemModules", FormMethod.Post, new { @id = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.SaveCreateNew)
     @Html.HiddenFor(m => m.UAId, new { @id = "UAId" })
    <div class="widget-body">
        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                </div>
                <div class="profile-info-row">

                    <div class="profile-info-name">
                        <label class="" for="Name">Module Name <span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="" >
                           @* <select class="col-xs-10 col-sm-5", style = "width: 350px" >
                                <option value="1">Session Initiation</option>
                                <option value="2">Session Proceeding</option>
                                <option value="3">Question Processing System</option>
                                <option value="4">Notice Processing System</option>
                                <option value="5">Department Comm System</option>
                                <option value="6">Passes generating system</option>
                            </select>*@
                              @Html.DropDownListFor(m => m.SystemModuleID, new SelectList(Model.objList, "SystemModuleID", "Name"), new { @id = "DdlModulesId", @tabindex = "3", @class = "select", @style = "width:350px;" })
                            @Html.ValidationMessageFor(model => model.Name)

                        </span>
                    </div>
                </div>
                <div class="profile-info-row">

                    <div class="profile-info-name">
                        <label class="" for="Name">Action Name <span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">
                        <span id="spnName" class="">

@*                            <div class="col-sm-9">*@
                                @Html.TextBoxFor(model => model.ActionName, new { @class = "col-xs-10 col-sm-5", @placeholder = "Name", @autocomplete = "off", style = "width: 350px" })
                               @* <div>*@
                        
                                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp @Html.CheckBoxFor(model => model.SendEmail, new { @name = "Send Email", @style = "margin-left:2%;" }) Send Email
                                        @Html.CheckBoxFor(model => model.SendSMS, new { @name = "Send SMS" }) Send SMS
                               @* </div>*@
                                @Html.ValidationMessageFor(model => model.ActionName)
                            @*</div>*@

                        </span>
                    </div>

                </div>
                                <div class="profile-info-row">
               @* <div class="form-group">*@
                    <div class="profile-info-name">
                        <label class="" for="Address">Parameters :</label>
                    </div>
                     <div class="profile-info-value">
                         <span id="spnParameters" class="">

                        @Html.TextAreaFor(model => model.Parameters, new { @class = "col-xs-7", @placeholder = "Parameters", @autocomplete = "off", style = "width: 350px" })
                        @*<div class="help-block col-xs-12 col-sm-reset inline">*@
                            @Html.ValidationMessageFor(model => model.Parameters)
                       @* </div>*@
                                </span>
                    </div>

                @*</div>*@
</div>
                   <div class="profile-info-row">
              @*  <div class="form-group">*@
                    <div class="profile-info-name">
                        <label class="" for="Address">Associated Contact Group/s :</label>
                    </div>
                         <div class="profile-info-value">
                         <span id="spnDdlGroup" class="">
                   @* <select class="col-sm-5" id="DdlGroup" style="background-color: white;width: 350px" >
                        <option value="1">Test Group 1</option>
                        <option value="2">Test Group 2</option>
                        <option value="3">Test Group 3</option>
                        <option value="4">Test Group 4</option>
                    </select>*@
                                 @*@Html.DropDownListFor(m => m.RecipNameIds, new SelectList(Model.RecipList, "RecipGroupID", "RecipName",0), new { @id = "DdlAssociatedId", @tabindex = "3", @class = "select",@multiple = "multiple", @style = "width:350px;" })*@
                             @Html.ListBoxFor(m => m.RecipNameIds, new SelectList(Model.RecipList, "RecipGroupID", "RecipName", 0), new { @id = "DdlAssociatedId", @tabindex = "3", @class = "select", @multiple = "multiple", @style = "width:350px;"  })                                                         
                    @*@Html.DropDownListFor(m => m.MemberId, new SelectList(Model.mMemberModel, "MemberCode", "Name", 0), new { @id = "DdlMem", @tabindex = "3", @class = "select", @style = "width:390px;" })*@
                  @*  <div class="help-block col-xs-12 col-sm-reset inline">*@
                        @Html.ValidationMessageFor(model => model.RecipName)
                  @*  </div>*@
                              </span>
                    </div>
         @*       </div>*@
</div>
                   <div class="profile-info-row">
                @*<div class="form-group">*@
                    <div class="profile-info-name">
                        <label class="" for="Address">Description :</label>
                    </div>
                          <div class="profile-info-value">
                         <span id="spnDescription" class="">
                    @Html.TextAreaFor(model => model.Description, new { @class = "col-xs-7", @rows = 5, @placeholder = "Description", @autocomplete = "off", style = "width: 350px" })
                  @*  <div class="help-block col-xs-12 col-sm-reset inline">*@
                        @Html.ValidationMessageFor(model => model.Description)
                    @*</div>*@
                             </span>
                    </div>
                </div>

            </div>

                </div>
       
         <div class="wizard-actions">
            <button type="reset" class="btn btn-sm btn-info"   onclick="return cancelEntry();">
                <i class="ace-icon fa fa-times bigger-125"></i>
               Cancel
            </button>
                <button type="submit" id="savebtn" class="btn btn-sm btn-purple"  >
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        Update</button>
        </div>


        </div>

     

    
    <div id='fullDetailsModel' class="hide">
        <div id='ShowfullDetailsModel' style="text-align: center">
        </div>
    </div>
}
<script type="text/javascript">
   
     $(document).ready(function () {      
       
        $("#DdlAssociatedId").multipleSelect({ selectAll: false, placeHolder: "Select Group" });     
     });

     function cancelEntry() {
         $('.widget-box').hide();
         GetSystemFunctList();
     }
</script>


    

  
    
   

   
    
