﻿@model SBL.DomainModel.Models.SystemModule.SystemModuleModel
@{
    int count = 0;
}



<div class="row">
    <div class="col-xs-12">

        <div class="pass-table">

         
                <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                    <thead>
                        <tr role="row">

                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">User Id</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">User Name</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Designation</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Organisation/Department: activate to sort column ascending">Email</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Phone Number</th>
                        </tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                           @if (Model.objList != null )
                                     {
                        foreach (var item in Model.objList)
                        {
                            count = count + 1;
                            string style = (count % 2 == 0) ? "odd" : "even";

                            var trID = item.SystemModuleID;
                            var ID = item.SystemModuleID;
                                
                       
                                <tr class="" id="" onclick="">
                                <td class="">@count</td>

                              <td class="">

                                    <i class="">@item.Name</i>


                                </td>
                                  <td class="">

                                    <i class="">@item.Designation</i>


                                </td>
                              <td>
                                 <i class="">@item.EMail</i>
                                  </td>

                                 <td class="">
                                <i class="">@item.Mobile</i>

                                </td>
                         
                                

                            </tr>
                        }
                        }
                    </tbody>
                </table>


            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>







<!-- page specific plugin styles -->

<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>

<script src="~/assets/js/jquery.hotkeys.min.js"></script>
<script src="~/assets/js/bootstrap-wysiwyg.min.js"></script>

<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
 <script src="/assets/js/bootstrap.min.js"></script>

<script>

    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
               { "bSortable": false },
              null, null, null,null,

              { "bSortable": false }

            ]
        });
    });
</script>





                               
   