﻿@model SBL.eLegistrator.HouseController.Web.Areas.Admin.Models.SystemModule.SystemFunctionModel

@{
    ViewBag.Title = "New System Function";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@Html.Partial("_LeftMenu")

<div class="main-content">

    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("SystemFunctions", "SystemModules")">Home</a>
            </li>

            <li>
                <a href="@Url.Action("SystemFunctions", "SystemModules")">Module Actions</a>
            </li>
            <li class="active">List</li>
        </ul>

        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>

    </div>

    <div class="page-content">
        <div id="ace-settings-container" class="ace-settings-container" style="padding-right: 2%;">

            <button class="btn  btn-sm btn-success" id="btnsaveandnew">
                <i class="ace-icon fa fa-floppy-o bigger-150"></i>
                <span class="bigger-110">Save &amp; New</span>
            </button>

            <button type="submit" class="btn  btn-sm btn-warning" id="btnsave">
                <i class="ace-icon fa fa-floppy-o bigger-150"></i>
                <span class="bigger-110">Save</span>
            </button>

            <button class="btn  btn-sm  btn-grey" onclick="javascript:window.location.href='/Admin/SystemModules/SystemFunctions';">
                <i class="ace-icon fa fa-times bigger-150"></i>
                <span class="bigger-110">Cancel</span>
            </button>
        </div>

        <div class="page-header">
            <h1>Admin
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Module Action
                </small>
            </h1>
        </div>

        <div class="widget-header widget-header-blue widget-header-flat">
            <h4 class="widget-title lighter">Create Module Action</h4>
        </div>

        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <div class="row">
                            @using (Html.BeginForm("NewSystemFunction", "SystemModules", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.SaveCreateNew)

                                @*<h4 class="header blue lighter smaller clearfix">System Module Detail </h4>*@
                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Name">Module Name <span style="color: red">*</span>:</label>
                                    <div class="col-sm-9">                                      
                                        <div>
                                            <select class="col-xs-10 col-sm-5">
                                                <option value="1">Session Initiation</option>
                                                <option value="2">Session Proceeding</option>
                                                <option value="3">Question Processing System</option>
                                                <option value="4">Notice Processing System</option>
                                                <option value="5">Department Comm System</option>
                                                <option value="6">Passes generating system</option>                                                
                                            </select>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Name)
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Name">Action Name <span style="color: red">*</span>:</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.Name, new { @class = "col-xs-10 col-sm-5", @placeholder = "Name", @autocomplete = "off" })
                                        <div>
                                            @Html.CheckBoxFor(model => model.SendEmail, new { @name = "Send Email", @style = "margin-left:2%;" }) Send Email
                                        @Html.CheckBoxFor(model => model.SendSMS, new { @name = "Send SMS" }) Send SMS
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Name)
                                    </div>
                                </div>
                                 
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Address">Parameters :</label>
                                    <div class="col-sm-9">
                                        @Html.TextAreaFor(model => model.Parameters, new { @class = "col-xs-7", @placeholder = "Parameters", @autocomplete = "off" })
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            @Html.ValidationMessageFor(model => model.Parameters)
                                        </div>
                                    </div>
                                </div>
                                
                                //TODO : Make this Dropdown multiselect so more than one Contact group can be added to the Module Action.
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Address">Associated Contact Group/s :</label>
                                    <div class="col-sm-9">
                                        <select class="col-sm-5" id = "DdlGroup" style="background-color:white;">                                           
                                            <option value="1">Test Group 1</option>
                                            <option value="2">Test Group 2</option>
                                            <option value="3">Test Group 3</option>
                                            <option value="4">Test Group 4</option>
                                        </select>
                                        @*@Html.DropDownListFor(m => m.MemberId, new SelectList(Model.mMemberModel, "MemberCode", "Name", 0), new { @id = "DdlMem", @tabindex = "3", @class = "select", @style = "width:390px;" })*@
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            @Html.ValidationMessageFor(model => model.AssociatedContactGroups)
                                        </div>
                                    </div>
                                </div>
                                                               
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Address">Description :</label>
                                    <div class="col-sm-9">
                                       @* <div class="clearfix">
                                            <div class="wysiwyg-editor wysiwyg-style2" id="editor-eng"></div>
                                        </div>*@
                                        @Html.TextAreaFor(model => model.Description, new { @class = "col-xs-7", @rows=5, @placeholder = "Description", @autocomplete = "off" })
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            @Html.ValidationMessageFor(model => model.Description)
                                        </div>
                                    </div>
                                </div>
                                
                                @*<div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Address">SMS Template :</label>
                                    <div class="col-sm-9">
                                        @Html.TextAreaFor(model => model.SMSTemplate, new { @class = "col-xs-7", @rows=4, @placeholder = "SMS Template", @autocomplete = "off" })
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            @Html.ValidationMessageFor(model => model.SMSTemplate)
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Address">Email Template :</label>
                                    <div class="col-sm-9">
                                        <div class="clearfix">
                                            <div class="wysiwyg-editor wysiwyg-style2" id="emailtemplate"></div>
                                        </div>
                                        @Html.TextAreaFor(model => model.EmailTemplate, new { @class = "col-xs-10 col-sm-5 hide", @placeholder = "Email Template", @autocomplete = "off" })
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            @Html.ValidationMessageFor(model => model.EmailTemplate)
                                        </div>
                                    </div>
                                </div>*@
                                
                                <div class="btn-group pull-right padding-10">
                                    <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        Reset
                                    </button>
                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple ">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        Save</button>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="~/assets/js/jquery.hotkeys.min.js"></script>
<script src="~/assets/js/bootstrap-wysiwyg.min.js"></script>

<link href="~/Content/MultiSelectList/multiple-select.css" rel="stylesheet" />
<script src="~/Scripts/MultiSelectBox/jquery.multiple.select.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $("#savebtn").click(function () {
        //var engdata = $("div#editor-eng").html();
        //$("#Description").val(engdata);

        //var smstemplateData = $("div#smstemplate").html();
        //$("#SMSTemplate").val(smstemplateData);

        var emailtemplateData = $("div#emailtemplate").html();
        $("#EmailTemplate").val(emailtemplateData);
    });

    $(document).ready(function () {
        $("#DdlGroup").multipleSelect({ selectAll: true, placeHolder: "Select Group" });
        //var engdata = $("#Description").val();
        //$("div#editor-eng").html(engdata);

        //var smstemplateData = $("#SMSTemplate").val();
        //$("div#smstemplate").html(smstemplateData);

        var emailtemplateData = $("#EmailTemplate").val();
        $("div#emailtemplate").html(emailtemplateData);

        initEditor();
    });

    $("#btnsaveandnew").click(function () {
        $("#SaveCreateNew").val(true);
        $("#savebtn").click();
    });

    $("#btnsave").click(function () {
        $("#savebtn").click();
    });

    function resetFields() {
        $(".field-validation-error").empty();
        $("#Name").focus();
    }


    function initEditor() {
        //Code for Edidor
        //$('#editor-eng, #smstemplate, #emailtemplate').ace_wysiwyg({
        $('#emailtemplate').ace_wysiwyg({
            toolbar:
            [
                {
                    name: 'font',
                    title: 'Custom tooltip',
                    values: ['Some Font!', 'Arial', 'Verdana', 'Comic Sans MS', 'Custom Font!']
                },
                null,
                {
                    name: 'fontSize',
                    title: 'Custom tooltip',
                    values: { 1: 'Size#1 Text', 2: 'Size#1 Text', 3: 'Size#3 Text', 4: 'Size#4 Text', 5: 'Size#5 Text' }
                },
                null,
                { name: 'bold', title: 'Custom tooltip' },
                { name: 'italic', title: 'Custom tooltip' },
                { name: 'strikethrough', title: 'Custom tooltip' },
                { name: 'underline', title: 'Custom tooltip' },
                null,
                'insertunorderedlist',
                'insertorderedlist',
                'outdent',
                'indent',
                null,
                { name: 'justifyleft' },
                { name: 'justifycenter' },
                { name: 'justifyright' },
                { name: 'justifyfull' },
                null,
                {
                    name: 'createLink',
                    placeholder: 'Custom PlaceHolder Text',
                    button_class: 'btn-purple',
                    button_text: 'Custom TEXT'
                },
                { name: 'unlink' },
                null,
                {
                    name: 'insertImage',
                    placeholder: 'Custom PlaceHolder Text',
                    button_class: 'btn-inverse',
                    button_text: 'Set choose_file:false to hide this',
                    button_insert_class: 'btn-pink',
                    button_insert: 'Insert Image'
                },
                null,
                {
                    name: 'foreColor',
                    title: 'Custom Colors',
                    values: ['red', 'green', 'blue', 'navy', 'orange'],
                },
                null,
                { name: 'undo' },
                { name: 'redo' },
                null,
                'viewSource'
            ],
            'wysiwyg': {
                hotKeys: {} //disable hotkeys
            }

        }).prev().addClass('wysiwyg-style2');
    }
</script>
