﻿@using SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models
@model  List<SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models.ReimbursementBillViewModel>


@{  int count = 0;
    if (ViewBag.CurrentPage > 1)
    {

        count = (ViewBag.PageSize * (ViewBag.CurrentPage - 1));
    }
}
<!-- PAGE CONTENT BEGINS -->
<div class="pass-table">
    <br />
    <table style="top: 15px; font-size: smaller; color: #545454">
        <tbody>
            <tr>
                <td class="legendColorBox">
                    <div style="border: 1px solid; padding: 2px">
                        <div style="width: 6px; height: 0; border: 10px solid #F79F81; overflow: hidden"></div>
                    </div>
                </td>
                <td class="legendLabel" style="font-size: 16px;"><b>Bill is encashed</b></td>
            </tr>

        </tbody>
    </table>
    @if (Model != null)
    {
        if (Model.Count() > 0)
        {         <input type="hidden" id="pageId" name="pageId" value="@ViewBag.CurrentPage" />
        <div class="table-header">
            <div class="form-group">
                @if (ViewBag.Msg != null)
                {
                    <div class="@ViewBag.Class" id="MsgDiv">
                        <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
                        <strong><i class="ace-icon fa fa-check-square-o"></i>@ViewBag.Notification ! </strong>@ViewBag.Msg
                    </div>
                }
            </div>
        </div>@*  
        <div>
            <label>Display</label>
            <select size="1" name="PageSize" id="PazeSize">
                <option value="10" selected="selected">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <label>Records</label>
        </div>                  
        *@<table class="table  table-bordered  dataTable" id="tblEncashmentList" aria-describedby="sample-table-2_info">
            <thead>
                <tr role="row">
                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Memorandum No.</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Memorandum Type</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Gross Amount</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Submission Date</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Taken Amount</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Saction Amount</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Saction Number</th>
                    @*<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Bill Duration</th>*@
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Encashement Date</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">View Scanned Pdf</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Encashment/Reject </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                @foreach (var item in Model)
                {
                    count = count + 1; 
                  
                    <tr style="@(item.IsSetEncashment == true ? "background-color:#F79F81;" : "")">
                        <td class="center">
                            <input value="@item.ReimbursementBillID" type="hidden"    name="ReimbursementBillID-@count" />
                            <input value="@count" type="hidden"    name="RowCount" />
                            @count
                        </td>
                        <td style="width: 30%">VS-@item.FinancialYear.Split('-')[0]-@item.ReimbursementBillID</td>
                        <td style="width: 20%">
                            @ModelMapping.GetDisplayName((SBL.DomainModel.Models.Enums.BillType)item.BillType)</td>
                        <td style="width: 20%">@item.GrossAmount</td>
                        <td style="width: 20%">@item.DateOfPresentation.ToString("dd/MMM/yyyy")</td>

                        <td style="width: 10%">@item.TakenAmount</td>

                        <td style="width: 10%">@item.SactionAmount</td>
                        <td style="width: 10%">@item.SactionNumber</td>

                        @*@if (item.BillFromDate.ToString("dd/MMM/yyyy") == "01/Jan/1753" || item.BillToDate.ToString("dd/MMM/yyyy") == "01/Jan/1900")
                        {  <td style="width: 10%">NA</td>
                        }

                        else
                        {
                            <td style="width: 10%">@item.BillFromDate.ToString("dd/MMM/yyyy")-@item.BillToDate.ToString("dd/MMM/yyyy")</td>
                        }*@

                        <td style="width: 10%">@item.EncashmentDate.ToString("dd/MMM/yyyy")</td>
                        <td class="center" style="width: 10%">
                            @if (!string.IsNullOrEmpty(item.PDFUrl))
                            {
                                <a data-rel="tooltip" class="green tooltip-success btn btn-xs btn-warning" target="_blank" title="View Scanned Pdf" href="~/ScannedReimbursementBills/MainPdf/@item.PDFUrl">View Scanned Pdf
                                </a>
                            }
                            else
                            {
                                <text>--</text>
                            }

                        </td>
                        <td>
                            @if (item.IsSetEncashment)
                            {
                                <text>
                                <input value="1" type="radio"  checked="checked" name="Encashment-@count" />Encashment<br />
                                <input value="0" type="radio" name="Encashment-@count" />Reject
                            </text>
                            }
                            else if (!item.IsSetEncashment)
                            {
                                <text>
                                <input value="1" type="radio" name="Encashment-@count" />Encashment<br />
                                <input value="0" type="radio"  checked="checked" name="Encashment-@count" />Reject
                            </text>
                            }
                            else
                            {
                                <text>
                                <input value="1" type="radio" name="Encashment-@count" />Encashment<br />
                                <input value="0" type="radio" name="Encashment-@count" />Reject
                            </text>
                            }
                        </td>

                        <td>
                            <a href="#" class="btn btn-sm btn-success success btn-round" onclick="ApproveEncashmentBill(@item.ReimbursementBillID,@count)">
                                <i class="ace-icon fa fa-floppy-o bigger-125"></i>Save</a>
                    </tr>                                                                
                }

            </tbody>
        </table>
        <!-- PAGE CONTENT ENDS -->
        <div>@{Html.RenderPartial("~/Areas/AccountsAdmin/Views/Shared/_Pager.cshtml");}</div>
        <div class="pull-right">
            
                            <a href="#" id="ApproveEncashmentBill" class="btn btn-primary" onclick="ApproveAllEncashmentBill()">
                                <i class="ace-icon fa fa-floppy-o bigger-125"></i>Encashment/Reject</a>
            
        </div>
        }
        else
        {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <strong>@Resources.MasterDataDashboard.NoReimbursementBillFound</strong><br />
                </div>
            </div>
        </div>
        }
    }
</div>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<!-- /.col -->
<script type="text/javascript">

    $(document).ready(function () {
        $('#tblEncashmentList').dataTable({
            //  "bPaginate": false, "bInfo": false
        });


        setTimeout(function () {
            $("#MsgDiv").slideUp(400);
        }, 2000);

        $("#PazeSize").val(@ViewBag.PageSize)

        $('#PazeSize').change(function () {
            var PageSize = $("#PazeSize").val();
            $.ajax({
                type: "POST",
                url: '/ReimbursementBill/GetApproveBillByPaging',
                data: '{ pageId: "1",pageSize: "' + PageSize + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {

                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result);
                },
                error: function (error) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(error.responseText);

                },
                complete: function (results) {

                    $('#loader-wrapper').hide();
                }
            });

        });



    });


    // Approve Single Bill
    function ApproveEncashmentBill(ReimbursementBillID, RowNum) {
        var ReimbursementBillID = ReimbursementBillID;
        var Approved = $('input:radio[name=Encashment-' + RowNum + ']:checked').val();

        $.ajax({
            type: "POST",
            url: '/ReimbursementBill/ApproveSingleEncashmentBill',
            data: '{ ReimbursementBillID: "' + ReimbursementBillID + '",Approved:"' + Approved + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(result);
            },
            error: function (error) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(error.responseText);

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });

    }

</script>
