﻿@using SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models
@model  List<SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models.ReimbursementBillViewModel> 

<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }

    .datepicker {
        z-index: 1151 !important;
    }
</style>
<link href="~/assets/css/datepicker.css" rel="stylesheet" />
<link href="~/Content/MultiSelectList/multiple-select.css" rel="stylesheet" />


<div class="two-column" id="innerDiv" >
                <div class=" col-md-11 " >
                    <div id="resize-left" class="ui-widget-content" style="width:100%;">
                      
                            <div class="row">
								<div class="col-xs-12">
                                    <div class="widget-box" style="min-height:500px;">
			                            <div class="widget-header">
                                            <h4 class="widget-title">
                                             Expense Report
                                            </h4>
                                            
                                            <div class="widget-toolbar no-border">
                                               
                                            </div>
			                            </div>
			                            <div class="widget-body">
				                            <div class="widget-main">
					                            <div class="clearfix">
					                          
                                                <div class="table-responsive">
									                <div id="divDataContainer">
                                       

                                                        <table class="table">
                        <tr class="info">
                            <td>
                                <div class="form-group">
                                    <label class="control-label" for="FinancialYear"><b>Select Financial Year</b> </label>
                                    @Html.DropDownList("FinacialYear", (SelectList)ViewBag.FinancialYearList, new { @class = "col-md-11" })
                                </div>
                            </td>

                            <td>
                                <div class="form-group" id="BudgetHeadDDlDiv">
                                    <label class=" control-label  " for="ItemType">Select Budget Head</label>
                                    @Html.ListBox("BudgetHead", (SelectList)ViewBag.BudgetList, new { @id = "BudgetHead", @class = "form-control", @multiple = "multiple", style = "width: 300px" })
                                    <div><span id="BudgetHeadDdlValid" style="color: red"></span></div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label class=" control-label  " for="Duration">Duration</label>
                                    <select class=" RemoveDdlBorder" data-val="true" data-val-required="Duration Required" style="width: 120px" id="Duration" name="Duration">
                                        <option value="Monthly">Monthly</option>
                                        <option value="Quarterly">Quarterly </option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="form-group" id="MothlyDiv">
                                    <label class=" control-label  " for="Language">Select Month</label>
                                    <select name="month" id="month" onchange="" size="1">
                                        <option value="01">January</option>
                                        <option value="02">February</option>
                                        <option value="03">March</option>
                                        <option value="04">April</option>
                                        <option value="05">May</option>
                                        <option value="06">June</option>
                                        <option value="07">July</option>
                                        <option value="08">August</option>
                                        <option value="09">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>

                                <div class="form-group" id="QuartelyDiv" style="display: none;">
                                    <label class=" control-label  " for="Language">Select Quarterly </label>
                                    <select name="Quarterly" id="Quarterly">
                                        <option value="04-06">Q1 (April to June)</option>
                                        <option value="07-09">Q2 (July to Sep)</option>
                                        <option value="10-12">Q3 (Oct to Dec)</option>
                                        <option value="01-03">Q4 (Jan to Mar)</option>
                                    </select>
                                </div>
                            </td>

                            <td>
                                <div class="form-group">
                                    <div class="space-12"></div>
                                    <button class="btn btn-sm btn-primary btn-bold" id="btnSearch" onclick="CreateExpenseReport()">
                                        <span class="bigger-110">Generat Report</span>
                                    </button>
                                </div>

                            </td>
                        </tr>
                    </table>
                                                    

                                                        <div id="ResultDiv" style="display: none;">
                    <table class="table">
                        <tr>
                            <td>
                                <h2 style="margin: 0px;">Expense Report</h2>
                            </td>
                            <td>
                                <a href="#" id="DownloadPdf" class="btn btn-sm btn-purple pull-right">
                                    <i class="ace-icon fa fa-download white  bigger-150"></i>
                                    <span class="bigger-110">Download Pdf</span>
                                </a>

                            </td>
                        </tr>
                    </table>
                    <div id="SearchDataDiv">
                    </div>

                </div>
                                    </div>
                                                </div>
				                            </div>
			                            </div>
		                            </div>
								</div>
                            </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-1">
            <div id="resize-right" style="width:100%; display:none;" class="ui-widget-content">
                <div class="widget-box sblFullScreen" >
                     <div class="widget-header widget-header-flat">
                        <h4 class="widget-title"></h4>
                        <div class="widget-toolbar">
                            <a href="#" data-action="fullscreen" class="red"> <i class="ace-icon fa fa-expand bigger-150"></i> </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div id="RightSidebar" style="width: 100%";>
                                
                            </div>
                            <div id="ReimbursementDiv" style="width:100%;height:100%">

                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <br />
    </div>

 

<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/MultiSelectBox/jquery.multiple.select.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "mm/dd/yyyy"
        });
        $("#BudgetHead").multipleSelect({ selectAll: true, placeHolder: "Select Budget Head" });
    });

    $('#Duration').change(function () {
        var Duration = $('#Duration').val();
        if (Duration == "Monthly") {
            $('#MothlyDiv').show();
            $('#QuartelyDiv').hide();
        }
        else {
            $('#MothlyDiv').hide();
            $('#QuartelyDiv').show();
        }
    });

    $('#FinacialYear').change(function () {

        $('#resize-right').hide();
        var FinacialYear = $('#FinacialYear').val();

        $.ajax({
            type: "POST",
            url: '/ReimbursementBill/GetBudgetByFY',
            data: '{ FinacialYear: "' + FinacialYear + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {

                $('#BudgetHeadDDlDiv').empty();
                $('#BudgetHeadDDlDiv').append(result);


            },
            error: function (result) {
                $('#BudgetHeadDDlDiv').empty();
                $('#BudgetHeadDDlDiv').append(result.responseText);
            },

            complete: function (result) {
                $('#loader-wrapper').hide();

            }
        });

    });


    function CreateExpenseReport(){
   
        var BudgetIds = $('#BudgetHead').val();
        var FinacialYear = $('#FinacialYear').val();
        var Duration = $('#Duration').val();
        var Quarterly = $('#Quarterly').val();
        var month = $('#month').val();

        $('.ErrorMessage').remove('');
        var IsValid = true;
        $('#BudgetHeadDdlValid').empty();
        if (BudgetIds == '' || BudgetIds == null) {
            $('#BudgetHeadDdlValid').append("Please Select");
            IsValid = false;
        }
        else {

            IsValid = true;
        }

        if (IsValid == true) {
            $.ajax({
                type: "POST",
                url: '/ReimbursementBill/GetExpenseReport',
                data: '{ BudgetIds: "' + BudgetIds + '",FinacialYear: "' + FinacialYear + '",Duration: "' + Duration + '",Quarterly: "' + Quarterly + '",month: "' + month + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#SearchDataDiv').empty();
                    $('#SearchDataDiv').append(result);
                    $('#ResultDiv').show();
                },
                error: function (result) {
                    $('#SearchDataDiv').empty();
                    $('#SearchDataDiv').append(result.responseText);
                    $('#ResultDiv').show();
                },

                complete: function (result) {
                    $('#loader-wrapper').hide();
                }
            });
        }
    }

    $("#DownloadPdf").click(function () {


        var FileName = $('#FileName').val();
        var Duaration = $('#Duration').val();
        if (FileName != null || FileName != 'undefined') {
            $('#loader-wrapper').show();

            var ss = "<input type='hidden' name='FileName' value='" + FileName + "' >" +
            "<input type='hidden' name='Duaration' value='" + Duaration + "' >";

            $('body').prepend("<form method='post' action='/AccountsAdmin/ReimbursementBill/DownloadPdfOfExpenseReport' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
            $('#tempForm').submit();
            $("tempForm").remove();

            setTimeout(function () {
                $('#loader-wrapper').hide();
            }, 1000);
        }
        else {
            alert('Unable to download');
        }

    });


</script>
