﻿@using SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models
@model  List<SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models.ReimbursementBillViewModel>

@{  int count = 0;
    if (ViewBag.CurrentPage > 1)
    {

        count = (ViewBag.PageSize * (ViewBag.CurrentPage - 1));
    }
}
<!-- PAGE CONTENT BEGINS -->

<div class="pass-table">
    @if (Model != null)
    {
        if (Model.Count() > 0)
        {       
        <input type="hidden" id="pageId" name="pageId" value="@ViewBag.CurrentPage" />
        <div class="table-header">
            <div class="form-group">
                @if (ViewBag.Msg != null)
                {
                    <div class="@ViewBag.Class" id="MsgDiv">
                        <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
                        <strong><i class="ace-icon fa fa-check-square-o"></i>@ViewBag.Notification ! </strong>@ViewBag.Msg
                    </div>
                }

            </div>
        </div>  
                   
        <table class="table  table-bordered  dataTable" id="tblBudgetDetails" aria-describedby="sample-table-2_info">
            <thead>
                <tr role="row">
                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>
                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Bill No.</th>
                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Voucher No.</th>
                    <th class="sorting SortingData" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Claimant Name</th>
                    <th class="sorting SortingData" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Bill Type</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Gross Amount</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Created By</th>

                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Action</th>

                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                @foreach (var item in Model)
                {
                    count = count + 1; 
                  
                    <tr  id="Row-@item.ReimbursementBillID" style="@(item.IsRejected == true ? "background-color:#F781F3;" : item.IsCanceled == true ? "background-color:pink;" : "")"  >

                        <td class="center">
                            @count
                        </td>
                        <td class="center">
                            @item.EstblishBillNumber
                        </td>
                        <td class="center">
                            @item.ReimbursementBillID
                        </td>
                        <td style="width: 30%">
                            @item.ClaimantName
                        </td>
                        <td style="width: 20%">
                            @item.BillTypeName
                        </td>

                        <td style="width: 20%">@item.GrossAmount</td>
                            <td style="width: 20%">@item.CreatedBy</td>
@*                        <td style="width: 20%">@Convert.ToDateTime(item.DateOfPresentation).ToString("dd/MM/yyyy")</td>*@
                        <td class="center" style="width: 10%">
                           
                           
                                <div class="hidden-sm hidden-xs action-buttons">
                                    @if ((item.IsChallanGenerate == false || item.IsRejected == true) && item.IsCanceled == false)
                                    {
                                        <a data-rel="tooltip" class="green tooltip-success" title="Edit" onclick="SaveReimburseMent(@item.ReimbursementBillID,'Edit');" href="#">
                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                        </a>
                                   
                                        <a data-rel="tooltip" class="red tooltip-error DeleteSec" title="Delete" id="@item.ReimbursementBillID"  href="#">
                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                        </a>
                                    }
                                </div>
                                <div class="hidden-md hidden-lg">
                                    <div class="inline position-relative">
                                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                            @if ((item.IsChallanGenerate == false || item.IsRejected == true) && item.IsCanceled == false)
                                            { <li>
                                                <a  href="#" onclick="SaveReimburseMent(@item.ReimbursementBillID,'Edit');" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                    <span class="green">
                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                    </span>
                                                </a>
                                            </li>
                                            
                                                <li>
                                                    <a href="#" class="tooltip-error DeleteSec" data-rel="tooltip" title="Delete">
                                                        <span class="red">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </td>
                    </tr>                                                                
                }

            </tbody>
        </table>
        <!-- PAGE CONTENT ENDS -->
        <!-- PAGER START -->
        <div>@{Html.RenderPartial("~/Areas/AccountsAdmin/Views/Shared/_Pager.cshtml");}</div>
        <!-- PAGER ENDS -->
        }
        else
        {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <strong>@Resources.MasterDataDashboard.NoReimbursementBillFound</strong><br />
                </div>
            </div>
        </div>
        }

    }
</div>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<!-- /.col -->
<script type="text/javascript">

    $(document).ready(function () {
        $('#tblBudgetDetails').dataTable({
            "bPaginate": false, "bInfo": false, "bSearchable": false,
        });
        setTimeout(function () {
            $("#MsgDiv").slideUp(400);
        }, 2000);

        $("#PazeSize").val(@ViewBag.PageSize)

        $('#PazeSize').change(function () {
            var PageSize = $("#PazeSize").val();
            $.ajax({
                type: "POST",
                url: '/ReimbursementBill/GetBillByPaging',
                data: '{ pageId: "1",pageSize: "' + PageSize + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {

                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result);
                },
                error: function (error) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(error.responseText);

                },
                complete: function (results) {

                    $('#loader-wrapper').hide();
                }
            });

        });


    });

    $(".DeleteSec").on('click', function (e) {

        e.preventDefault();

        var url = $(this).attr('href');

        var id = $(this).attr('id');

        var dlg = bootbox.confirm('Are you sure, You want to delete this voucher? If yes than press ok Button.', function (result) {

            if (result) {

                $(dlg).modal('hide');

                DeleteReimbursementBill(id);
            }
        });
    });

    function RejectBill(Id, Action) {

        var PageSize = $("#PazeSize").val();
        var pageId = $("#pageId").val();
        $.ajax({
            type: "POST",
            url: '/ReimbursementBill/EditApproveBill',
            data: '{ Id: "' + Id + '",Action: "' + Action + '" , pageId: "' + pageId + '",pageSize: "' + PageSize + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#RejectBillDiv').empty();
                $('#RejectBillDiv').append(result);
                $('#RejectBillModel').modal('show');
            },
            error: function (error) {
                $('#RejectBillDiv').empty();
                $('#RejectBillDiv').append(error.responseText);
                $('#RejectBillModel').modal('show');

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }

    $('#txtSearchBill').on("keyup", function () {

        var EstablishBillID = parseInt($('#txtSearchBill').val());
        GetReimbursementList(EstablishBillID);
    });

</script>
