﻿@model SBL.eLegistrator.HouseController.Web.Areas.Library.Models.PaidMemeberSubsViewModel
<link href="~/assets/css/datepicker.css" rel="stylesheet" />
 <style>
    .field-validation-error {
        color: red;
        background: none !important;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    @Html.Partial("/Areas/SuperAdmin/Views/Shared/_BreadcrumbsPartial.cshtml")
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "PaidMemeberSubs")">@Resources.MasterDataDashboard.Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "PaidMemeberSubs")">@Resources.MasterDataDashboard.PaidMemeberSubs</a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.CreatePaidMemeberSubs</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>
                @Resources.MasterDataDashboard.MasterData
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.CreatePaidMemeberSubs
                </small>
            </h1>
        </div>
        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.CreatePaidMemeberSubs</h4>
            }

        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
                        @using (Html.BeginForm("SavePaidMemeberSubs", "PaidMemeberSubs", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.PaidMemeberSubsID)
                            @Html.HiddenFor(m => m.Mode)
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="AdhaarID">
                                    @Resources.MasterDataDashboard.NameOfSubscriber
                                </label>
                                <div class="col-sm-9 help-block">
                                    @Html.TextBoxFor(model => model.NameOfSubscriber, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.NameOfSubscriber })
                                    @Html.ValidationMessageFor(m => m.NameOfSubscriber)
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="EmpCode">@Resources.MasterDataDashboard.Address</label>
                                <div class="col-sm-9 help-block">
                                    @Html.TextBoxFor(model => model.Address, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.Address, @autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.Address)
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="DeptID">@Resources.MasterDataDashboard.MobileNumber</label>
                                <div class="col-sm-9 help-block">
                                    @Html.TextBoxFor(model => model.MobileNumber, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.MobileNumber, @autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.MobileNumber)
                                </div>
                            </div>
                          
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Designation</label>
                                <div class="col-sm-9 help-block">
                                    @Html.TextBoxFor(model => model.Designation, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.Designation, @autocomplete = "off", @maxlength = "41" })
                                    @Html.ValidationMessageFor(model => model.Designation)
                                </div>
                            </div>
                           
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="NewsDate">
                                    @Resources.MasterDataDashboard.SubsStartDate
                                </label>
                                <div class="col-sm-9 help-block">
                                    @if (Model.Mode == "Add")
                                    {
                                        @Html.TextBoxFor(model => model.SubsStartDate, " ", new { @class = "col-xs-10 col-sm-5 date-picker", @placeholder = @Resources.MasterDataDashboard.SubsStartDate, @autocomplete = "off" })
                                    }
                                    else
                                    { 
                                        @Html.TextBoxFor(model => model.SubsStartDate, "{0:MM/dd/yyyy}", new { @class = "col-xs-10 col-sm-5 date-picker", @placeholder = @Resources.MasterDataDashboard.SubsStartDate, @autocomplete = "off" })
                                    }
                                    @Html.ValidationMessageFor(model => model.SubsStartDate)
                                </div>
                            </div>
                            
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="NewsDate">
                                    @Resources.MasterDataDashboard.SubsEndDate
                                </label>
                                <div class="col-sm-9 help-block">
                                    @if (Model.Mode == "Add")
                                    {
                                        @Html.TextBoxFor(model => model.SubsEndDate, " ", new { @class = "col-xs-10 col-sm-5 date-picker", @placeholder = @Resources.MasterDataDashboard.SubsEndDate, @autocomplete = "off" })
                                    }
                                    else
                                    { 
                                        @Html.TextBoxFor(model => model.SubsEndDate, "{0:MM/dd/yyyy}", new { @class = "col-xs-10 col-sm-5 date-picker", @placeholder = @Resources.MasterDataDashboard.SubsEndDate, @autocomplete = "off" })
                                    }
                                    @Html.ValidationMessageFor(model => model.SubsEndDate)
                                </div>
                            </div>
                            
                            
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Remarks</label>
                                <div class="col-sm-9 help-block">
                                    @Html.TextBoxFor(model => model.Remarks, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.Remarks, @autocomplete = "off", @maxlength = "61" })
                                    @Html.ValidationMessageFor(model => model.Remarks)
                                </div>
                            </div>
                           
                            <div class="space-2"></div> 
                            <hr />  
                            <div class="btn-group pull-right padding-10">
                                <!-- #section:plugins/fuelux.wizard.buttons -->
                                <button type="submit" id="btnSave" class="btn btn-sm btn-purple">
                                    <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                    @Resources.MasterDataDashboard.Save</button>
                                <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                    <i class="ace-icon fa fa-times bigger-125"></i>
                                    @Resources.MasterDataDashboard.Reset
                                </button>
                                <!-- /section:plugins/fuelux.wizard.buttons -->
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "mm/dd/yyyy"
        });
        $("#NameOfSubscriber").focus();

        $("#PaidMember").addClass("active open");
        $("#PaidMemberSub").addClass("nav-show").css("display", "block");
        $("#PaidMemberIndex").addClass("active");
        $("#PaidMemberLinkId").removeClass("fa-comment").addClass("fa-comment-o");
    });

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

  

    $('#btnSave').click(function (e) {

        if (ValidateForm() == false) {

            e.preventDefault();

            e.stopPropagation();
        }
    });

    function ValidateForm() {

        var IsValid = true;

        if ($('#NameOfSubscriber').val() == '') {

            var dlg = bootbox.alert('Subscriber Name  Required', function (e) {

                $(dlg).modal('hide');
            });

            //$('#AadhaarIdValidation').html("Adhaar Id Required");

            IsValid = false;
        }
        else if ($('#Address').val() == '') {

            //$('#DeptIDValidation').html("Department Id Required");

            var dlg = bootbox.alert('Address  Required', function (e) {

                $(dlg).modal('hide');
            });

            IsValid = false;
        }
        else if ($('#MobileNumber').val() == '') {

            //$('#DeptIDValidation').html("Department Id Required");

            var dlg = bootbox.alert('Mobile Number  Required', function (e) {

                $(dlg).modal('hide');
            });

            IsValid = false;
        }
        else if ($('#Designation').val() == '') {

            //$('#DeptIDValidation').html("Department Id Required");

            var dlg = bootbox.alert('Designation  Required', function (e) {

                $(dlg).modal('hide');
            });

            IsValid = false;
        }
        else if ($('#SubsStartDate').val() == '') {

            //$('#DeptIDValidation').html("Department Id Required");

            var dlg = bootbox.alert('Subsription StartDate  Required', function (e) {

                $(dlg).modal('hide');
            });

            IsValid = false;
        }
        else if ($('#SubsEndDate').val() == '') {

            //$('#DeptIDValidation').html("Department Id Required");

            var dlg = bootbox.alert('Subsription End Date  Required', function (e) {

                $(dlg).modal('hide');
            });

            IsValid = false;
        }
        else if ($('#Remarks').val() == '') {

            //$('#PrefixValidation').html("Prefix is Required");

            var dlg = bootbox.alert('Remarks is Required', function (e) {

                $(dlg).modal('hide');
            });

            IsValid = false;
        }
        else if ($('#SubsStartDate').val() != '' && $('#SubsEndDate').val() != '') {

            //$('#DeptIDValidation').html("Department Id Required");

            var StartDate = new Date($('#SubsStartDate').val());
            var EndDate = new Date($('#SubsEndDate').val());
            if (StartDate > EndDate) {
                var dlg = bootbox.alert('Start Date  must be greater than end date', function (e) {

                    $(dlg).modal('hide');
                });

                IsValid = false;
            }
        }
        else {

            IsValid = true;
        }

        return IsValid;
    }

    function resetFields() {
        $(".field-validation-error").empty();
        $('#NameOfSubscriber').html('');
        $('#Address').val('');
        $('#MobileNumber').html('');
        $('#SubsStartDate').html('');
        $('#SubsEndDate').html('');
        $('#Remarks').html('');
        $('#NameOfSubscriber').focus();
    }

</script>
