﻿@model  List<SBL.eLegistrator.HouseController.Web.Areas.Library.Models.PaidMemeberSubsViewModel>
 @{
    int count = 0;
}
 
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
   @Html.Partial("/Areas/SuperAdmin/Views/Shared/_BreadcrumbsPartial.cshtml")
     <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "/PaidMemeberSubs/")">@Resources.MasterDataDashboard.Home</a>
            </li>

            <li>
                <a href="@Url.Action("Index", "/PaidMemeberSubs/")">@Resources.MasterDataDashboard.PaidMemeberSubs</a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.List</li>
        </ul>

    </div>
    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->


        <!-- /section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
            <button class="btn  btn-sm btn-info" onclick="javascript:window.location.href='/Library/PaidMemeberSubs/CreatePaidMemeberSubs';">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                <span class="bigger-110">@Resources.MasterDataDashboard.New</span>
            </button>
        </div>
        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.PaidMemeberSubs                           
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.List
                </small>
            </h1>
        </div>
        <div id="Menu">
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="pass-table">
                        @if (Model != null)
                        {
                            if (Model.Count() > 0)
                            {       
                                <div class="table-header">
                                    <div class="form-group">
                                        @if(ViewBag.Msg!=null)
                                        {
                                            <div class="alert alert-info" id="MsgDiv">
                                                <button type="button" class="close" data-dismiss="alert">  <i class="ace-icon fa fa-times"></i>  </button>
                                                <strong> <i class="ace-icon fa fa-check-square-o"></i> Success! </strong> @ViewBag.Msg
                                            </div>
                                        }
                                    </div>
                                </div>             
                                <table class="table table-striped table-bordered table-hover dataTable" id="tblPaidMemberDetails" aria-describedby="sample-table-2_info">
                                    <thead>
                                        <tr role="row">

                                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.NameOfSubscriber</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.Address</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.MobileNumber</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.Designation</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.SubsStartDate</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.SubsEndDate</th>
                                            <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    @foreach (var item in Model)
                                    {
                                        count = count + 1;  
                                        <tr>
                                            <td class="center">
                                                @count
                                            </td>
                                            <td style="width:20%">@item.NameOfSubscriber</td>
                                            <td style="width:10%">@item.Address</td>
                                              <td style="width:10%">@item.MobileNumber</td>
                                            <td style="width:15%">@item.Designation</td>
                                            <td style="width:15%">@item.SubsStartDate.ToString("dd/MM/yyyy")</td>
                                         <td style="width:15%">@item.SubsEndDate.ToString("dd/MM/yyyy")</td>
                                            <td style="width:10%">@item.Remarks</td>
                                        </tr>                                                                
                                    }

                                </tbody>
                            </table>
                            <!-- PAGE CONTENT ENDS -->
                            }
                            else
                            {
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="alert alert-info">
                                        <strong>@Resources.MasterDataDashboard.NoPaidMemeberSubsFound</strong><br />
                                    </div>
                                </div>
                            </div>
                            }
                        }
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@
            </div>
            <!-- /section:basics/footer -->
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>
    <div class="space-6"></div>
</div>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $("#PaidMember").addClass("active open");
        $("#PaidMemberSub").addClass("nav-show").css("display", "block");
        $("#PaidMemberIndex").addClass("active");
        $("#PaidMemberLinkId").removeClass("fa-comment").addClass("fa-comment-o");

        var oTable1 =
        $('#tblPaidMemberDetails')
        //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
              { "bSortable": false },
             null, null, null, null, null, null, 
              { "bSortable": false }
            ]

        });

        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

        setTimeout(function () {
            $("#MsgDiv").slideUp(400);
        }, 2000);

    });

    function tooltip_placement(context, source) {
        var $source = $(source);
        var $parent = $source.closest('table')
        var off1 = $parent.offset();
        var w1 = $parent.width();
        var off2 = $source.offset();
        //var w2 = $source.width();
        if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
        return 'left';
    }

    

</script>

