﻿@model  List<SBL.eLegistrator.HouseController.Web.Areas.Library.Models.PaidMemeberSubsViewModel>
<link href="~/assets/css/datepicker.css" rel="stylesheet" />

<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    @Html.Partial("/Areas/SuperAdmin/Views/Shared/_BreadcrumbsPartial.cshtml")
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "PaidMemeberSubs")">@Resources.MasterDataDashboard.Home</a>
            </li>

            <li>
                <a href="@Url.Action("SubscriptionReport", "PaidMemeberSubs")">@Resources.MasterDataDashboard.PaidMemberSubscriptionReport</a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.List</li>
        </ul>

    </div>
    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->
        <!-- /section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
            <button class="btn  btn-sm btn-info" id="Pdf">
                <i class="ace-icon fa fa-download white  bigger-150"></i>
                <span class="bigger-110">Download Pdf</span>
            </button>
            <button class="btn  btn-sm btn-info" id="Export">
                <i class="ace-icon fa fa-download white  bigger-150"></i>
                <span class="bigger-110">Download Excel</span>
            </button>

            <button class="btn  btn-sm btn-info" onclick="javascript:window.location.href='/Library/PaidMemeberSubs/CreatePaidMemeberSubs';">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                <span class="bigger-110">@Resources.MasterDataDashboard.New</span>
            </button>
        </div>
        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.PaidMemberSubscriptionReport
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.List
                </small>
            </h1>
        </div>

        <!-- /section:settings.box -->
        <div id="Menu">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive ">
                        <table class="table danger">
                            <tr class="info">
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="Subscriber’s Name">Subscriber’s Name</label>
                                        <input type="text" id="txtSubscriberName" placeholder="Subscriber’s Name" class="col-md-10 col-sm-5" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="Subject">Subject</label>
                                        <input type="text" id="txtDesignation" placeholder="Designation" class="col-md-10 col-sm-5" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="StartDateFrom">Start Date From</label>
                                        <input type="text" id="txtStartDateFrom" placeholder="Start Date From" class="col-md-10 col-sm-5 date-picker" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="StartDateTo">Start Date To</label>
                                        <input type="text" id="txtStartDateTo" placeholder="Start Date To" class="col-md-10 col-sm-5 date-picker" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="EndDateFrom">End Date From</label>
                                        <input type="text" id="txtEndDateFrom" placeholder="End Date From" class="col-md-10 col-sm-5 date-picker" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="EndDateTo">End Date To</label>
                                        <input type="text" id="txtEndDateTo" placeholder="Start Date To" class="col-md-10 col-sm-5 date-picker" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="space-12"></div>
                                        <button class="btn btn-sm btn-primary btn-bold" id="btnSearch">
                                            <i class="ace-icon fa fa-search bigger-150"></i>
                                            <span class="bigger-110">Search</span>
                                        </button>
                                    </div>

                                </td>
                            </tr>
                        </table>

                        <!-- PAGE CONTENT BEGINS -->
                        <div class="alert alert-block alert-success" id="AlertDiv" style="display: none;">
                            <strong><i class="ace-icon fa fa-check-square-o"></i>Success! </strong><span id="MsgSpan"></span>
                        </div>
                        <div id="tablecontainer">
                            @{Html.RenderPartial("~/Areas/Library/Views/PaidMemeberSubs/_PaidMemberSubList.cshtml", Model);}
                        </div>

                        <!-- /.col -->
                    </div>

                </div>
                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@
            </div>
            <!-- /section:basics/footer -->
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>
    <div class="space-6"></div>
</div>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#PaidMember").addClass("active open");
        $("#PaidMemberSub").addClass("nav-show").css("display", "block");
        $("#PaidMemberReport").addClass("active");
        $("#PaidMemberLinkId").removeClass("fa-comment").addClass("fa-comment-o");
    });

    $(document).on('click', '#btnSearch', function (e) {

        $body = $("body");
        var Valid = true;
        var SubscriberName = $('#txtSubscriberName').val();
        var Designation = $('#txtDesignation').val();
        var StartDateFrom = $('#txtStartDateFrom').val();


        var StartDateTo = $('#txtStartDateTo').val();
        var EndDateFrom = $('#txtEndDateFrom').val();
        var EndDateTo = $('#txtEndDateTo').val();

        if (StartDateFrom != '') {
            if (StartDateTo == '') {
                var dlg = bootbox.alert('Please Fill Start Date To ', function (e) {

                    $(dlg).modal('hide');
                });

                Valid = false;
            }
        }
        if (StartDateTo != '') {
            if (StartDateFrom == '') {
                var dlg = bootbox.alert('Please Fill Start Date From ', function (e) {

                    $(dlg).modal('hide');
                });

                Valid = false;
            }
        }

        if (EndDateFrom != '') {
            if (EndDateTo == '') {
                var dlg = bootbox.alert('Please Fill End Date To ', function (e) {

                    $(dlg).modal('hide');
                });

                Valid = false;
            }
        }
        if (EndDateTo != '') {
            if (EndDateFrom == '') {
                var dlg = bootbox.alert('Please Fill End Date From ', function (e) {

                    $(dlg).modal('hide');
                });

                Valid = false;
            }
        }
        if (Valid == true) {
            $.ajax({
                type: "POST",
                url: '/Library/PaidMemeberSubs/SearchPaidMemeberSubs',
                data: '{ SubscriberName: "' + SubscriberName + '", Designation: "' + Designation + '",StartDateFrom: "' + StartDateFrom + '", StartDateTo: "' + StartDateTo + '",EndDateFrom: "' + EndDateFrom + '", EndDateTo: "' + EndDateTo + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $body.addClass("loading");
                },
                success: function (result) {
                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(result);

                },
                error: function (error) {
                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(error.responseText);

                },
                complete: function (results) {
                    setTimeout(function () {
                        $body.removeClass("loading");
                    }, 1000);

                }
            });
        }
    });

    $("#Export").click(function () {

        var Valid = true;
        var txtSubscriberName = $('#txtSubscriberName').val();
        var txtDesignation = $('#txtDesignation').val();
        var txtStartDateFrom = $('#txtStartDateFrom').val();
        var txtStartDateTo = $('#txtStartDateTo').val();
        var txtEndDateFrom = $('#txtEndDateFrom').val();
        var txtEndDateTo = $('#txtEndDateTo').val();

        if (txtSubscriberName == '') {
            
                var dlg = bootbox.alert('Please Fill Subscriber Name', function (e) {
                    $(dlg).modal('hide');
                });
                Valid = false;
        }
        else if (txtStartDateFrom != '') {
            if (txtStartDateTo == '') {
                var dlg = bootbox.alert('Please Fill Start Date To ', function (e) {

                    $(dlg).modal('hide');
                });

                Valid = false;
            }
        }
        else if (txtStartDateTo != '') {
            if (txtStartDateFrom == '') {
                var dlg = bootbox.alert('Please Fill Start Date From ', function (e) {

                    $(dlg).modal('hide');
                });

                Valid = false;
            }
        }

        else if (txtEndDateFrom != '') {
            if (txtEndDateTo == '') {
                var dlg = bootbox.alert('Please Fill End Date To ', function (e) {

                    $(dlg).modal('hide');
                });

                Valid = false;
            }
        }
        else if (txtEndDateTo != '') {
            if (txtEndDateFrom == '') {
                var dlg = bootbox.alert('Please Fill End Date From ', function (e) {

                    $(dlg).modal('hide');
                });

                Valid = false;
            }
        }
        else { Valid == true }
        if (Valid == true) {
            var ss = "<input type='hidden' name='SubscriberName' value='" + txtSubscriberName + "' >" +
            "<input type='hidden' name='Designation' value='" + txtDesignation + "' >" +
            "<input type='hidden' name='StartDateFrom' value='" + txtStartDateFrom + "' >" +
            "<input type='hidden' name='StartDateTo' value='" + txtStartDateTo + "' >" +
            "<input type='hidden' name='EndDateFrom' value='" + txtEndDateFrom + "' >" +
            "<input type='hidden' name='EndDateTo' value='" + txtEndDateTo + "' >";

            $('body').prepend("<form method='post' action='/PaidMemeberSubs/DownloadExcel' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
            $('#tempForm').submit();
            $("tempForm").remove();
        }

    });

    $("#Pdf").click(function () {

        var txtSubscriberName = $('#txtSubscriberName').val();
        var txtDesignation = $('#txtDesignation').val();
        var txtStartDateFrom = $('#txtStartDateFrom').val();
        var txtStartDateTo = $('#txtStartDateTo').val();
        var txtEndDateFrom = $('#txtEndDateFrom').val();
        var txtEndDateTo = $('#txtEndDateTo').val();

        var ss = "<input type='hidden' name='SubscriberName' value='" + txtSubscriberName + "' >" +
        "<input type='hidden' name='Designation' value='" + txtDesignation + "' >" +
        "<input type='hidden' name='StartDateFrom' value='" + txtStartDateFrom + "' >" +
        "<input type='hidden' name='StartDateTo' value='" + txtStartDateTo + "' >" +
        "<input type='hidden' name='EndDateFrom' value='" + txtEndDateFrom + "' >" +
        "<input type='hidden' name='EndDateTo' value='" + txtEndDateTo + "' >";

        $('body').prepend("<form method='post' action='/PaidMemeberSubs/DownloadPdf' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
        $('#tempForm').submit();
        $("tempForm").remove();

    });
</script>

