﻿
@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV
@using SBL.eLegistrator.HouseController.Web.Utility 


  <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
<input type="hidden" id="HashHidden" />

<div class="widget-box">

<span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="Bottm Info" style="text-align:left;margin-left:0px;margin-bottom:2px;">
  @Resources.Minister.DraftOtherPaper
</span>

  @Html.HiddenFor(m => m.HashKey, new { @id = "HashKey" })
  @Html.HiddenFor(m => m.DSCApplicable)
 

@{    
    var grid = new Lib.Web.Mvc.JQuery.JqGrid.JqGridHelper<SBL.DomainModel.Models.PaperLaid.MinisterOtherPaperDraft>("CommonGrid",

                        
                            dataType: Lib.Web.Mvc.JQuery.JqGrid.JqGridDataTypes.Json,
                            footerEnabled: false,
                            methodType: Lib.Web.Mvc.JQuery.JqGrid.JqGridMethodTypes.Post,
                            pager: true,
                            rowsList: new List<int> { 10, 20, 30, 40, 50 },
                            rowsNumber: 10,
                            onSelectRow: "onSelectRowHandler",
                            sortingName: "PaperLaidId",
                            sortingOrder: Lib.Web.Mvc.JQuery.JqGrid.JqGridSortingOrders.Asc,
                            url: Url.Action("GetOtherPaperLaidPendings"),
                              postData: new { BusinessType = Model.BType, Subject = Model.Subject },
                            userDataOnFooter: false,
                            viewRecords: true,
                            autoWidth: true,

                            emptyRecords: @Resources.Minister.NoRecordFound
                            //postDataScript: "function() { return { AssemblyId: $('#AssemblyCodeHome').val(), SessionId: $('#SessionCodeHome').val()}; }"
                        );
                        }
                    @grid.GetHtml()



    <br />
                          @if (CurrentSession.SignaturePath == "")
{
                <div style="width:100%;display:none">
                    <input type="checkbox" id="SignedChk"  class="Checkbox"  value="checked" checked  onclick="checkSignChange(this.id)" style="vertical-align:top"/> <strong>Embed the Handwritten signature in Paper<label style="color:green" for="aaa">(Your paper will send wihout your Handwritten signature, You can upload your Signature from update Profile)</label></strong>
              </div>
}
else
{
                <div style="width:100%;display:none">
                    <input type="checkbox" id="SignedChk"  class="Checkbox"  value="checked" checked  onclick="checkSignChange(this.id)" style="vertical-align:top"/> <strong>Embed the Handwritten signature in Paper</strong>
              </div>
}
 <br />



    <div style="padding-top:10px;display:none">
    <table style="width: 100%;" class="minwb-style1">
        <tr>
            <td>

                    @if (Model.DSCApplicable == "True")
                    {

                        if (CurrentSession.UserHashKey != "")
                        {
                            if (Model.IsPermissions == true)
                            {
                    <a href="#" id="id-btn-dialog2" class="btn btn-primary">
                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                        @Resources.PaperLaidDepartment.SignAndSend

                    </a>
                    <div style="padding-top:1%;">
                            <span class="label label-large label-pink arrowed-right">@Resources.PaperLaidDepartment.SendingrepliestoVidhanSabha</span>
                        </div>
          
                            }
                        }
                        else
                        {
                    <i class="ace-icon fa fa-hand-o-right green"></i>
                    <h5 class="widget-title lighter">@Resources.PaperLaidDepartment.RegisterYourDSC</h5>
                        }
                    }
                    else
                    {
                        if (CurrentSession.SignaturePath == "")
                        {
                            <a href="#" id="id-btn-dialog4" class="btn btn-primary">
                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                     Send
                    </a>
                    <div style="padding-top:1%;">
                 
                            <span class="label label-large label-pink arrowed-in-right arrowed">
                                @Resources.Minister.SendingselectedbillsVidhanSabha</span>
                      </div> 
                        }
                        else
                        {
                              <a href="#" id="id-btn-dialog3" class="btn btn-primary">
                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                     Send
                    </a>
                    <div style="padding-top:1%;">
                 
                            <span class="label label-large label-pink arrowed-in-right arrowed">
                                @Resources.Minister.SendingselectedbillsVidhanSabha</span>
                      </div>
                        }
                
   
                    }
              
            </td>
        </tr>
    </table>

</div>




@*    @if (Model.DSCApplicable == "True")
{
           if(CurrentSession.UserHashKey !="")
               {
               
               <a href="#" id="id-btn-dialog2" class="btn btn-primary">
                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                        @Resources.PaperLaidDepartment.SignAndSend

                    </a> 
               <div style="padding-top:1%;">
                            <span class="label label-large label-pink arrowed-in-right arrowed"> @Resources.Minister.SendingselectedotherpapertoVidhanSabha</span>
                        </div>
               }
           else
           {
                   <i class="ace-icon fa fa-hand-o-right green"></i>
                   <h5 class="widget-title lighter">@Resources.Minister.RegisterYourDSC</h5>
           }
 
    }
    else
{

   <a href="#" id="id-btn-dialog3" class="btn btn-primary">
                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                     Send
                    </a>
                    <div style="padding-top:1%;">
                 
                            <span class="label label-large label-pink arrowed-in-right arrowed">
                                @Resources.Minister.SendingselectedbillsVidhanSabha</span>
                      </div>


}*@

<div id='HashModel' class="hide">
    <div id='ShowHashModel'>
        <object id="DSCHashUniqueID" type="application/x-java-applet" height="120" width="850">
            <param name="code" value="com.sblcorp.DSC.DSCReg" />
            <param name="archive" value="/DSCReg.jar" />
           @Resources.PaperLaidDepartment.Appletfailed
        </object>
    </div>
</div>

     <div id="dialog-confirm" class="hide">
        <p>@Resources.PaperLaidDepartment.Areyousure </p>
    </div>
    <div id="dialog-alert" class="hide">
        <p>@Resources.PaperLaidDepartment.SelectPapersFirst </p>
    </div>

     <div id='SignModel' class="hide">
           @* <div id='ShowSignModel' style="text-align: center">
            </div>*@
        </div>
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script>


    jQuery(function ($) {

        $("#id-btn-dialog4").on('click', function (e) {
            e.preventDefault();
            var SIds = document.getElementById("SelectedChkbxId").value;
        
            if (SIds != null && SIds != "") {
                if ($('#SignedChk').prop('checked')) {

                    var pathurl = '@Url.Action("SubmitHandWrittenSignatureSelectedPaperWithoutSign", "PaperLaidDepartment")';

                    if (SIds != null && SIds != "") {
                        $("#dialog-confirm").removeClass('hide').dialog({
                            resizable: false,
                            modal: true,
                            title: "Confirm!",
                            title_html: true,
                            buttons: [
                                {
                                    html: "&nbsp; Yes",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                        SubmitHandWrittenSignatureSelectedPaperWithoutSignImage();
                                    }
                                }
                                ,
                                {
                                    html: "&nbsp; Cancel",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }
                            ]
                        });
                    }
                    else {
                        $("#dialog-alert").removeClass('hide').dialog({
                            resizable: false,
                            modal: true,
                            title: "Alert!",
                            title_html: true,
                            buttons: [
                                {
                                    html: "&nbsp; Okay",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }
                            ]
                        });
                    }
                }
            }


        });

     });



    function SubmitHandWrittenSignatureSelectedPaperWithoutSignImage() {


        var SIds = document.getElementById("SelectedChkbxId").value;


        if (SIds != null && SIds != "") {


            $.get("/PaperLaidMinister/PaperLaidMinister/SubmitHandWrittenSignatureSelectedPaperWithoutSignImage", { Ids: SIds, lSMCode: "BLL" }, function (data) {
                window.location.href = '@Url.Action("MinisterDashboard", "PaperLaidMinister", new { Area = "PaperLaidMinister" })';

            });
            }
        }



    $.PaperLaidIdForCheckBoxFormatter = function (cellvalue, options, rowObject) {

        return "<div style='width:100%;text-align:center'>  <input type='checkbox' id='Chk_" + cellvalue + "' class='Checkbox' onclick='checkChange(this.id)' style='vertical-align:top' /></div>";

    };

    function checkChange(id) {
        if (document.getElementById(id).checked) {
            var selectedId = document.getElementById("SelectedChkbxId").value;
            if (selectedId == "") {
                document.getElementById("SelectedChkbxId").value = id.substring(4);
            }
            else {
                selectedId = selectedId + "," + id.substring(4);
                document.getElementById("SelectedChkbxId").value = selectedId;
            }
            //alert(document.getElementById("SelectedChkbxId").value)
        }
        else {
            var selectedId = document.getElementById("SelectedChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(4), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4), "");
            }

            document.getElementById("SelectedChkbxId").value = newvalue;

            //alert(document.getElementById("SelectedChkbxId").value);
        }

        if ($(".Checkbox").not(':checked').length == 0) {
            $('#ChkBoxAll').attr('checked', true)
        }
        else {
            $('#ChkBoxAll').attr('checked', false)
        }
    }



    @*function SubmitSelectedPaper() {
      
        var SIds = document.getElementById("SelectedChkbxId").value;
        var Hash = @Model.HashKey
            alert(SIds);
         alert(Hash);
        //alert(Hash)
        if (SIds != null && SIds != "") {
            if (confirm("Are you sure to sumbit ?")) {
                $.get("/PaperLaidMinister/PaperLaidMinister/SubmitSelectedPaper", { Ids: SIds, Hash: Hash }, function (data) {
                    $("#divSearchQues").html(data)
                    if (data = "Success") {
                        alert("Successfully Submitted !")
                        $.get("/CommitteePaperLaid/CommitteePaper/GetPendings", {}, function (data) {
                            $("#divSearchQues").html(data)
                        });
                    }
                    else {
                        alert(data)
                    }
                });
            }

            else {
                event.preventDefault();
            }
        }
        else {
            alert("Please select any Committee !");
        }
    }*@


    function getHash() {
        var SIds = document.getElementById("SelectedChkbxId").value;
        if (SIds == "") {
            alert("Maker sure you have entered employee or member id");
            return false;
        }
        var dialog = $("#HashModel").removeClass('hide').dialog({
            modal: true,
            title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-check'></i>Select DSC Certificate</h4></div>",
            width: 880,
            title_html: true,

            buttons: [

                {
                    text: "OK",
                    "class": "btn btn-primary btn-xs",
                    click: function () {
                        getHashModel();
                        $(this).dialog("close");
                    }
                }
            ]
        });

    }


    //function getHash() {
       
    //    var SIds = document.getElementById("SelectedChkbxId").value;
    //    alert(SIds);
    //    if (SIds != null && SIds != "") {
                
    //        var dialog = $("#HashModel").removeClass('hide').dialog({
    //            modal: true,
    //            title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-check'></i>Select DSC Certificate</h4></div>",
    //            width: 880,
    //            title_html: true,

    //            buttons: [

    //                {
    //                    text: "OK",
    //                    "class": "btn btn-primary btn-xs",
    //                    click: function () {
    //                        getHashModel();
    //                        $(this).dialog("close");
    //                    }
    //                }
    //            ]
    //        });
    //    }



    //    //$("#HashModel").modal("show");
    //}


    function getHashModel() {
        alert("HAsModel");
        var key = document.getElementById("DSCHashUniqueID").getCertHash();
        var DSCName = document.getElementById("DSCHashUniqueID").getCertName();
        var DSCType = document.getElementById("DSCHashUniqueID").getCertType();
        var DSCValidity = document.getElementById("DSCHashUniqueID").getCertValidity();
        var currentDate = new Date();
        $("#DSCHash").val(key);
        $.ajax({
            url: "/PaperLaidMinister/PaperLaidMinister/CheckDSCHaskKey",
            type: 'GET',
            data: {
                key: key
            },
            success: function (data) {
                if (data == null || data == "") {
                    $("#DSCResultView").removeClass('hide');
                    if ($("#applateResultDiv").hasClass("hide")) {
                        $("#applateResultDiv").removeClass('hide');
                    }
                    $("#DSCNameValue").text(DSCName);
                    $("#DSCName").val(DSCName);
                    $("#DSCTypeValue").text(DSCType);
                    $("#DSCEnrollValue").text(currentDate.toDateString());
                    $("#DSCValidityValue").text(DSCValidity);
                    $("#DSCType").val(DSCType);
                    $("#DSCValidity").val(DSCValidity);
                    $("#DSCResultView").show();
                    return true;
                }
                else {

                    alert("Selected DSC Already Registered.");
                    return false;
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }

    jQuery(function ($) {

        $("#id-btn-dialog2").on('click', function (e) {
            e.preventDefault();


            var SIds = document.getElementById("SelectedChkbxId").value;

            if (SIds != null && SIds != "") {
                $("#dialog-confirm").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Confirm!",
                    title_html: true,
                    buttons: [
                        {
                            html: "&nbsp; Yes",
                            "class": "btn btn-primary",
                            click: function () {
                                $(this).dialog("close");
                                SubmitSelectedPaper();
                            }
                        }
                        ,
                        {
                            html: "&nbsp; Cancel",
                            "class": "btn btn-primary",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });
            }
            else {
                $("#dialog-alert").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Alert!",
                    title_html: true,
                    buttons: [
                        {
                            html: "&nbsp; Okay",
                            "class": "btn btn-primary",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });
            }


        });

    });

    jQuery(function ($) {

        $("#id-btn-dialog3").on('click', function (e) {
            e.preventDefault();
            var SIds = document.getElementById("SelectedChkbxId").value;

            if (SIds != null && SIds != "") {
                if ($('#SignedChk').prop('checked')) {

                    var pathurl = '@Url.Action("BillsHandWrittenSignDocument", "PaperLaidMinister")';
                    $.ajax({
                        type: 'GET',
                        url: pathurl,
                        data: {
                            SIds: SIds
                            //publicPassID: PassID
                        },
                        success: function (data) {
                            $('#SignModel').html("");
                            $('#SignModel').html(data);

                            $("#SignModel").removeClass('hide').dialog({
                                resizable: false,
                                modal: true,
                                width: 600,
                                title: "Hand-Written Signature!",
                                title_html: true,

                                buttons: [
                                    {
                                        html: "&nbsp; Send",
                                        "class": "btn btn-primary",
                                        click: function () {
                                            $(this).dialog("close");
                                            SubmitHandWrittenSignatureSelectedPaperWithoutSign();
                                        }
                                    }
                                ]
                            });
                        }
                    });
                }
                else {

                    var SIds = document.getElementById("SelectedChkbxId").value;

                    if (SIds != null && SIds != "") {
                        $("#dialog-confirm").removeClass('hide').dialog({
                            resizable: false,
                            modal: true,
                            title: "Confirm!",
                            title_html: true,
                            buttons: [
                                {
                                    html: "&nbsp; Yes",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                        SubmitSignedSelectedPaper();
                                    }
                                }
                                ,
                                {
                                    html: "&nbsp; Cancel",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }
                            ]
                        });
                    }
                    else {
                        $("#dialog-alert").removeClass('hide').dialog({
                            resizable: false,
                            modal: true,
                            title: "Alert!",
                            title_html: true,
                            buttons: [
                                {
                                    html: "&nbsp; Okay",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }
                            ]
                        });
                    }
                }
            }

        });

     });


    function SubmitHandWrittenSignatureSelectedPaperWithoutSign() {
        var SIds = document.getElementById("SelectedChkbxId").value;
    
        var radiobutton = document.getElementsByName("HindiRadioSignatureID");

        for (var x = 0; x < radiobutton.length; x++) {
            if (radiobutton[x].checked) {

                var SignatureType = radiobutton[x].value;

            }
        }

        var PagesToApplySignatureID = document.getElementById("PagesToApplySignatureID").value;
        var PositionToApplySignatureID = document.getElementById("PositionToApplySignatureID").value;


        if (SIds != null && SIds != "") {
            $.get("/PaperLaidMinister/PaperLaidMinister/SubmitHandWrittenSignatureSelectedPaperWithoutSign", { Ids: SIds, lSMCode: "OPT", SignatureType: SignatureType, PagesToApplySignatureID: PagesToApplySignatureID, PositionToApplySignatureID: PositionToApplySignatureID }, function (data) {
                window.location.href = '@Url.Action("MinisterDashboard", "PaperLaidMinister", new { Area = "PaperLaidMinister" })';

            });
            }
        }


    function SubmitSelectedPaper() {

        var SIds = document.getElementById("SelectedChkbxId").value;       
       
        if (SIds != null && SIds != "") {
                $.get("/PaperLaidMinister/PaperLaidMinister/SubmitSelectedPaper", { Ids: SIds, lSMCode: "OPT" }, function (data) {
                    $("#RightSidebar").html(data);                    
                });
            
        }

        else {
            return false;
        }


    }

  


    jQuery(document).ready(function () {
        @grid.GetJavaScript()
        jQuery("#CommonGrid").jqGrid('setLabel', 'PaperLaidIdForCheckBox', '@Resources.PaperLaidDepartment.Ticktosend')
        jQuery("#CommonGrid").jqGrid('setLabel', 'Title', '@Resources.PaperLaidDepartment.Subject')
        jQuery("#CommonGrid").jqGrid('setLabel', 'BusinessType', '@Resources.PaperLaidDepartment.BusinessType')
        jQuery("#CommonGrid").jqGrid('setLabel', 'actualFilePath', '@Resources.PaperLaidDepartment.OtherPaperSent')
        jQuery("#CommonGrid").jqGrid('setLabel', 'DepartmentSubmittedDate', '@Resources.PaperLaidDepartment.Senton')
    });

  


    function onSelectRowHandler(rowId, status, event, Module) {
        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();
        var paperLaidID = 0;
        var id = $('#SessionCodeHome').val();
        var rowData = $(this).jqGrid("getRowData", rowId);
      
        //Get Paper Laid ID and Status for the Record.
        paperLaidID = rowData.PaperLaidId != "" ? rowData.PaperLaidId : 0;
        var hashValue = rowData.HashKey;
        var status = parseInt(rowData.Status);

        if (status == 1 || status == 2) {
            if (paperLaidID == 0) {
                $.ajax({
                    url: "/PaperLaidMinister/PaperLaidMinister/BillsPaperLaidDetails",
                    type: 'GET',
                    data: {
                        questionID: rowId,
                    },
                    success: function (data) {
                        if (data) {
                            $("#RightSidebar").html(data)
                            cl2.hide();
                            getNextHideDiv();
                        } else { alert("error"); }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
            else {
                $.ajax({
                    url: "/PaperLaidMinister/PaperLaidMinister/BillsPaperLaidDetails",
                    type: 'GET',
                    data: {
                        paperLaidId: paperLaidID,
                        SessionId: id,
                        Module: Module
                    },
                    success: function (data) {
                        if (data) {
                            $("#RightSidebar").html(data);
                            cl2.hide();
                            getNextHideDiv();
                        } else { alert("error"); }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
        }
        else if (status == 3) {
            $.ajax({
                url: "/PaperLaidMinister/PaperLaidMinister/SubmittedBillsPaperLaidDetails",
                type: 'GET',
                data: {
                    paperLaidId: paperLaidID
                },
                success: function (data) {
                    if (data) {
                        $("#RightSidebar").html(data);
                        cl2.hide();
                        getNextHideDiv();
                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }
    }
</script>



