﻿@model  List<SBL.DomainModel.Models.RoadPermit.mPermit>
<div class="page-content">
    <!-- #section:settings.box -->


    <!-- /section:settings.box -->
    <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
        @* <a class="btn  btn-sm btn-info" target="_blank" href="/AccountsAdmin/RoadPermit/CreateRoadPermit">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                <span class="bigger-110">@Resources.MasterDataDashboard.New</span>
            </a>*@

        <a data-rel="tooltip" class="btn btn-sm btn-danger danger btn-round" 
            title="Cancel Road Permit" href="#" onclick="CreateRoadPermit();">Create Road Permit
        </a>
    </div>
    <div class="page-header">
        <h1>Road Permit
        </h1>
    </div>
    <div id="Menu">
        <div class="row">
            <div class="col-xs-12">

                <!-- PAGE CONTENT BEGINS -->
                <div id="divDataContainerRoadPermit">
                    @{Html.RenderPartial("~/Areas/AccountsAdmin/Views/RoadPermit/_RoadPermitList.cshtml", Model);}
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.page-content -->
</div>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        var oTable1 =  $('#tblRoadPermit') .dataTable();
        $("#roadPermits").addClass("active open");
        $("#RPermits").addClass("nav-show").css("display", "block");
        $("#AllPermits").addClass("active");
        $("#permits").removeClass("fa-comment").addClass("fa-comment-o");
    });

    function CancelRoadPermit(Id, Action) {


        $.ajax({
            type: "POST",
            url: '/AccountsAdmin/RoadPermit/CancelRoadPermit',
            data: '{ Id: "' + Id + '",Action: "' + Action + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#CancelRoadPermitDiv').empty();
                $('#CancelRoadPermitDiv').append(result);
                $('#CancelRoadPermitModel').modal('show');
            },
            error: function (error) {
                $('#CancelRoadPermitDiv').empty();
                $('#CancelRoadPermitDiv').append(error.responseText);
                $('#CancelRoadPermitModel').modal('show');

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }

    $(document).on('click', '#CancelRoadPermitBtn', function (e) {

        $('.ErrorMessage').remove('');
        var IsValid = true;
        if (IsValid == true) {

            var QData = $('#CancelRoadPermitForm').serialize();
            e.preventDefault();
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '/AccountsAdmin/RoadPermit/SaveCancelRoadPermit',
                data: QData,
                beforeSend: function () {
                    $('#CancelRoadPermitModel').modal('hide');
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainerRoadPermit').empty();
                    $('#divDataContainerRoadPermit').append(result);

                },
                error: function (result) {

                    $('#divDataContainerRoadPermit').empty();
                    $('#divDataContainerRoadPermit').append(result.responseText);
                },
                complete: function (result) {
                    $('#loader-wrapper').hide();
                    setTimeout(function () {
                        $('#MsgDiv').slideUp("slow");
                    }, 6000);

                }
            });
        }
    });

    function SaveRoadPermit() {
       
        try {

            if (Validate() && IsValidDateRange($('#txtValidFrom').val(),
            $('#txtValidTo').val())) {

                var permitNo = "";
                var Deignation = $("#searchcriteria").val();
                var permitCode = $("#txtPermitCode").val();

                var memberCode = $("#MemberCode").val();

                var Constituency = $("#MemberConstituencyCode").val();

                var vehicleNo = $("#txtVehicleNo").val();

                var validFrom = $("#txtValidFrom").val();

                var validTo = $("#txtValidTo").val();

                var sealedRoadsList = GetSelectedSealedRoadsList();

                var restrictedRoadsList = GetRestrictedRoadsList();

                if ((sealedRoadsList != null && sealedRoadsList.length == 0)
                    && (restrictedRoadsList != null && restrictedRoadsList.length == 0)) {
                    var dlg = bootbox.alert("Please select the required sealed or restricted roads", function (e) {

                        $(dlg).modal('hide');
                    });
                }
                else {

                    var ss = "<input type='hidden' name='permitNo' value='" + permitNo + "' >" +
       "<input type='hidden' name='permitCode' value='" + permitCode + "' >" +
        "<input type='hidden' name='memberCode' value='" + memberCode + "' >" +
       "<input type='hidden' name='vehicleNo' value='" + vehicleNo + "' >" +
       "<input type='hidden' name='validFrom' value='" + validFrom + "' >" +
       "<input type='hidden' name='validTo' value='" + validTo + "' >" +
                    "<input type='hidden' name='sealedRoadsList' value='" + sealedRoadsList + "' >" +
       "<input type='hidden' name='restrictedRoadsList' value='" + restrictedRoadsList + "' >" +
                    "<input type='hidden' name='Constituency' value='" + Constituency + "' >" +
     "<input type='hidden' name='Deignation' value='" + Deignation + "' >";


                    $('body').prepend("<form method='post' action='/AccountsAdmin/RoadPermit/SaveRoadPermitData' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
                    $('#tempForm').submit();
                    $("tempForm").remove();

                    //$.ajax({
                    //    url: "/RoadPermit/RoadPermit/SaveRoadPermit",
                    //    type: 'POST',
                    //    data: JSON.stringify({
                    //        permitNo: permitNo,
                    //        permitCode: permitCode,
                    //        memberCode: memberCode,
                    //        vehicleNo: vehicleNo,
                    //        validFrom: validFrom,
                    //        validTo: validTo,
                    //        sealedRoadsList: sealedRoadsList,
                    //        restrictedRoadsList: restrictedRoadsList
                    //    }),
                    //    contentType: "application/json; charset=utf-8",
                    //    dataType: "json",
                    //    success: function (data) {

                    //        $("#btnPrint").removeClass('btn disabled').addClass('btn btn-default');

                    //        var dlg = bootbox.alert(data, function (e) {

                    //            $(dlg).modal('hide');
                    //        });

                    //    },
                    //    error: function (xhr, ajaxOptions, thrownError) {

                    //        var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    //            $(dlg).modal('hide');
                    //        });
                    //    }
                    //});
                }
            }

        } catch (ex) {

            var dlg = bootbox.alert(ex.message, function (e) {

                $(dlg).modal('hide');
            });
        }
    }
    function CreateRoadPermit() {
        $.ajax({
            type: "POST",
            url: '/AccountsAdmin/RoadPermit/CreateRoadPermit',
          //  data: '{ Id: "' + Id + '",Action: "' + Action + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#CreateRoadPermitDiv').empty();
                $('#CreateRoadPermitDiv').append(result);
                $('#CreateRoadPermitModel').modal('show');
            },
            error: function (error) {
                $('#CreateRoadPermitDiv').empty();
                $('#CreateRoadPermitDiv').append(error.responseText);
                $('#CreateRoadPermitModel').modal('show');
            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }

</script>

<!--Cancel Road Permit -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="CancelRoadPermitModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="RejectBillModalTitle">Cancel Road Permit</h4>
            </div>
            <form method="post" action="/SchemeSetup/SaveQualification" id="CancelRoadPermitForm">
                <div class="modal-body">
                    <div id="CancelRoadPermitDiv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="CancelRoadPermitBtn" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Create Road Permit -->
<div class="modal" tabindex="-1" role="dialog" id="CreateRoadPermitModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="CreateModalTitle">Create Road Permit</h4>
            </div>
            <form method="post" action="/SchemeSetup/SaveQualification" id="CreateRoadPermitForm">
                <div class="modal-body">
                    <div id="CreateRoadPermitDiv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  @*  <button type="button" id="CreateRoadPermitBtn" class="btn btn-primary">Save changes</button>*@
                </div>
            </form>
        </div>
    </div>
</div>
 