﻿@model SBL.eLegistrator.HouseController.Web.Areas.PaperLaidDepartment.Models.PassesViewModel
<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <label class="col-sm-6 control-label no-padding-right col-label" for="form-field-11">Department :</label>
        <div class="col-xs-6">
            @*@Html.DropDownListFor(m => m.DepartmentID, new SelectList(Model.mDepartment, "deptId", "deptname"), "-- Select Department ( Filter ) --", new { @id = "DdlDepartment", @class = "col-xs-6 form-control col-drop", @tabindex = "14" })*@
            @Html.DropDownListFor(m => m.DepartmentID, new SelectList(Model.mDepartmentList, "deptId", "deptname"), "-- Select Department ( Filter ) --", new { @class = "col-xs-6 form-control col-drop", @tabindex = "3" })
        </div>
    </div>


    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <label class="col-sm-6 control-label no-padding-right col-label" for="form-field-11">@Resources.PublicPasses.PassType :</label>
        <div class="col-xs-6">
            @Html.DropDownListFor(m => m.PassCategoryID, new SelectList(Model.ListPassCategory, "PassCategoryID", "Name"), "-- Select Pass Type ( Filter ) --", new { @class = "col-xs-6 form-control col-drop", @tabindex = "3" })
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <label class="col-sm-6 control-label no-padding-right col-label" for="form-field-11">Status Type :</label>
        <div class="col-xs-6">
            @Html.DropDownList("Status", new List<SelectListItem>
                {
                   new SelectListItem{ Text="-- Select Status ( Filter ) --", Value = "0"  },
                   new SelectListItem{ Text="Not Requested", Value = "10"  },
                   new SelectListItem{ Text="Requested", Value = "1" },
                    new SelectListItem{ Text="Approved", Value = "2" }
                 }, new { @class = "col-xs-6 form-control col-drop" })
        </div>
    </div>

</div>
<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
    <input type="button" id="" class="btn  btn-sm btn-info" value="Go!" onclick="FilterPassesAndDepartment()" />
</div>
<style>
    .page-headerFilter {
        margin: 0 0 7px;
        border-bottom: 1px dotted #e2e2e2;
        padding-bottom: 8px;
        padding-top: 0px;
        padding-bottom: 45px;
    }

    .col-label {
        line-height: 2;
        width: 45%;
    }

    .col-drop {
        width: 162px;
    }
</style>

<script>
    function FilterPassesAndDepartment() {
        var DepartmentCatID = "";
        var PassCategoryID = 0;
        var Status = 0;
        Status = $("#Status").val();
        DepartmentCatID = $("#DepartmentID").val();
        
        PassCategoryID = $("#PassCategoryID").val();
       
        var pathurl = '@Url.Action("PartialPassRequestList", "MemberPass", new { @area = "Notices" })';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                Status: Status,
                PassCategoryID: PassCategoryID,
                DepartmentCatID: DepartmentCatID
            },
            cache: false,
            success: function (data) {
            	var parentWidth = $('#resize-left').parent().outerWidth();
            	if ($('#resize-right').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
            	else { resizeLeftPanel(100); }
            	$('#spnScrollPosition').html('2');
            	$('#divDataContainer').empty();
            	$("#divDataContainer").html(data);
               
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");
                
               
            }
        });

    }

</script>
