﻿@model SBL.eLegistrator.HouseController.Web.Areas.PaperLaidDepartment.Models.PassesViewModel
@{
    int count = 0;
}

<!-- #section:settings.box -->

<div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
    <button id="Transferbtn" class="btn  btn-sm btn-info" onclick="TransferPassRequest()" style="display: none">
        <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
        <span class="bigger-110">@Resources.PaperLaidDepartment.LastSessionToCurrentSession</span>
    </button>

    <button id="btnNew" class="btn  btn-sm btn-info" onclick="AddPassRequest()" style="display: none">
        <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
        <span class="bigger-110">@Resources.PaperLaidDepartment.New</span>
    </button>
</div>


<div class="page-header">
    <h1>@Resources.PaperLaidDepartment.EntryPassesForEmp
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            @Resources.PaperLaidDepartment.PassesrequiredforEmployees
        </small>
    </h1>
</div>
<div class="page-headerFilter">
    @Html.Partial("_PassTypeFilterView", Model)
</div>
<!-- /section:settings.box -->
<div class="row">
    <div class="col-xs-12">
        <div class="table-header">
            @Resources.PaperLaidDepartment.EmployeeList
        </div>

        <div id='PhotoModel' class="hide">
            <div id='ShowPhotoModel' style="text-align: center">
            </div>
        </div>

        <!-- PAGE CONTENT BEGINS -->
        <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
        <div class="pass-table">

            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                @if (Model.ListPasses != null)
                {
                    if (Model.ListPasses.Count() > 0)
                    {
                    
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">
                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">#</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">RequestID</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.PaperLaidDepartment.Name</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Recomended By: activate to sort column ascending">@Resources.PaperLaidDepartment.Gender</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Request Date: activate to sort column ascending" style="width: 65px;">@Resources.PaperLaidDepartment.Age</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Allowed Date: activate to sort column ascending" style="width: 150px">@Resources.PaperLaidDepartment.FatherName</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">@Resources.PaperLaidDepartment.MobileNumber</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">@Resources.PaperLaidDepartment.Department</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">SessionDate From - To</th>
                                <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Status</th>
                                <th class="sorting_disabled" id="HideThForSession" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.ListPasses)
                            {
                                count = count + 1;
                                string style = (count % 2 == 0) ? "odd" : "even";

                                var trID = @item.PassID;
                                
                                <tr class="@style" id="@trID">
                                    <td>
                                        @if (Model.ValidateSessionID == Model.SessionCode)
                                        {
                                            <input type="hidden" id="@item.RequestdID" />
                                            if (item.IsRequested)
                                            {
                                            <input type="checkbox" checked="checked" title="Sent" disabled="disabled" />
                                            }
                                            else
                                            {
                                                string func = "return CheckPassID(" + "'" +
                                                item.PassID + "'," + "'" + item.SessionDateFrom + "');";
                                            <input type="checkbox" onclick="@func"/>
@*<input id="check @item.PassID" type="checkbox" onchange="checkChange(this.id)" />*@
                                            }
                                        }
                                        else
                                        {
                                            <input id="check @item.PassID" type="checkbox" onchange="checkChange(this.id)" /> 
@*   if (item.IsSessionTransferID)
                                            {
                                            <input type="checkbox" checked="checked" title="Sent" disabled="disabled" value="Already Moved" /> 
                                            }
                                            else
                                            {
                                            <input id="check @item.PassID" type="checkbox" onchange="checkChange(this.id)" />
                                            }*@
                                        }
                                    </td>
                                    <td class=" ">@count</td>
                                    <td class=" ">@item.RequestdID</td>
                                    <td class="">@item.Name</td>
                                    <td class=" ">@item.Gender</td>
                                    <td class="hidden-480 ">@item.Age</td>
                                    <td class=" ">@item.FatherName</td>
                                    <td class=" ">@item.MobileNo</td>
                                    <td class=" ">@item.OrganizationName</td>
                                    <td class=" ">@item.SessionDateFrom - @item.SessionDateTo</td>
                                    @Html.Hidden("SeeionCodeTD", Model.ValidateSessionID)
                                    @if (item.IsRequested)
                                    {
                                        <td class=" ">
                                            @if (item.IsApproved)
                                            { <span class="label label-sm label-success">Approved</span> }
                                            else
                                            { <span class="label label-sm label-warning">Requested</span> }
                                        </td>
                                    }
                                    else
                                    {
                                        <td class=" ">
                                            <span class="label label-sm label-warning">Not Requested</span>
                                        </td>
                                    }

                                    <td id="" class="HideTdBaseOnSession">
                                        @if (Model.ValidateSessionID == Model.SessionCode)
                                        {
                                            <div class="hidden-sm hidden-xs action-buttons div2" id="HideCurrentSession">
                                                @if (!item.IsRequested)
                                                {
                                                    <a title="Send" id="@item.PassID,@item.SessionDateFrom" onclick="SubmitDepartmentPass(this.id)" href="javascript:void(0);" class="blue">
                                                        <i class="ace-icon fa fa-check-square-o bigger-130"></i>
                                                    </a>
                                                    <a title="Edit" onclick="EditPassRequest(@item.PassID)" href="javascript:void(0);" class="green">
                                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                    </a>
                                                }
                                                <a title="View Full Details" onclick="FullPassDetails(@item.PassID)" href="javascript:void(0);" class="green">
                                                    <i class="ace-icon fa fa-eye bigger-130"></i>
                                                </a>
                                                <a image="@item.Photo" title="Photo Preview" onclick="ImagePriview(this);" href="javascript:void(0);" role="button"  data-toggle="modal" >
                                                    <i class="ace-icon glyphicon glyphicon-picture bigger-130"></i>
                                                </a>
                                            </div>
                                        }
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-xs-1" id="ButtonGroup">
                            @* <button type="submit" value="Add" id="PrintButton" onclick="PrintSelectedPasses()" class="btn btn-info"><i class="ace-icon glyphicon  glyphicon-print"></i>@Resources.PublicPasses.ActionPrint</button>*@
                            <button type="submit" value="Add" id="AddButton" class="btn btn-info" onclick="SubmitSelectedDepartmentPass()"><i class="ace-icon fa fa-check-square-o bigger-130"></i>Send</button>
                        </div>
                        <div style="padding-top: 1%; padding-left: 10%;">
                            <span class="label label-large label-pink arrowed-in-right arrowed">@Resources.PaperLaidDepartment.SendingselectedemployeesVidhanSabha</span>
                        </div>
                    </div>
                    <!-- PAGE CONTENT ENDS -->
                    }
                    else
                    {
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-info">
                                <strong>0 @Resources.PaperLaidDepartment.Employee</strong><br />
                                @Resources.PaperLaidDepartment.ThereisnoEmployeeintheList

                            </div>
                        </div>
                    </div>
                    }
                }
            </div>
        </div>

        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<div id='fullDetailsModel' class="hide">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>
<div id="dialog-confirmBox" class="hide">
    <p>Are you sure to Send ?</p>
</div>
<!-- /.page-content -->
<!-- page specific plugin styles -->
<script type="text/javascript" src="/Scripts/jquery-1.7.min.js"></script>
@*<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />*@
<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        //var _selectedPassId = " ";

        var SessionDropDownVal = $("#DdlSession").val();

        $.ajax({
        	url: "/Notices/MemberPass/GetSession",
            type: 'GET',
            success: function (data) {

                if (data != SessionDropDownVal) {

                    $("#Transferbtn").show();
                    $("#btnNew").hide();
                    $(".HideTdBaseOnSession").hide();
                    $("#HideThForSession").hide();
                    $("#AddButton").hide();
                    return false;
                }
                else {

                    $("#Transferbtn").hide();
                    $("#HideThForSession").show();
                    $(".HideTdBaseOnSession").show();
                    $("#btnNew").show();

                    return false;
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
                cl5.hide();
            }
        });

    });

    function CheckFunction() {
        var SessionTdValue = $("#SeeionCodeTD").val();
        var SessionDropDownVal = $("#DdlSession").val();

        if (SessionTdValue != SessionDropDownVal) {
            $("#HideThForSession").hide();
            $(".HideTdBaseOnSession").hide();
        }
        else {
            $(".HideTdBaseOnSession").show();
            $("#HideThForSession").show();
        }

    }
    $(".sorting").click(function () {
        var SessionTdValue = $("#SeeionCodeTD").val();
        var SessionDropDownVal = $("#DdlSession").val();

        if (SessionTdValue != SessionDropDownVal) {
            $("#HideThForSession").hide();
            $(".HideTdBaseOnSession").hide();
        }
        else {
            $(".HideTdBaseOnSession").show();
            $("#HideThForSession").show();
        }

    });

</script>
<script>

    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
              { "bSortable": false },
              null, null, null, null, null, null, null, null, null, { "bSortable": false },
              { "bSortable": false }
            ]
        });

        
    });

    function FullPassDetails(PassID) {
        var pathurl = '@Url.Action("FullPassDetails", "MemberPass")';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                Id: PassID
            },
            success: function (data) {

               
            	//var parentWidth = $('#resize-left').parent().outerWidth();
            	//if ($('#resize-right').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
            	//else { resizeLeftPanel(100); }
            	//$('#spnScrollPosition').html('2');
            	$('#ShowfullDetailsModel').html("");
            	$('#ShowfullDetailsModel').html(data);

            	var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-eye green'></i> Full Details</h4></div>",
                    width: 600,
                    title_html: true,
                    buttons: [
                        {
                            text: "OK",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

            }
        });
    }
    function CheckPassID(PassIDs, SessionDate) {
        if (SessionDate == "") {
            ShowNotification("error", "Please Session Date Update First !!!.....");
            //alert("Please Session Date Update First !!!");
            return false;
        }
        else {

            var selectedPassId = $("#SelectedChkbxId").val();
            if (selectedPassId == "") {

                $("#SelectedChkbxId").val(PassIDs);
            }
            else {

                selectedPassId = selectedPassId + "," + PassIDs;
                $("#SelectedChkbxId").val(selectedPassId);
            }

        }
    }

    function checkChange(id) {
        if (document.getElementById(id).checked) {
            var selectedId = document.getElementById("SelectedChkbxId").value;
            if (selectedId == "") {
                document.getElementById("SelectedChkbxId").value = id.substring(6);
            }
            else {
                selectedId = selectedId + "," + id.substring(6);
                document.getElementById("SelectedChkbxId").value = selectedId;
            }
        }
        else {
            var selectedId = document.getElementById("SelectedChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(6), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(6) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(6), "");
            }
            document.getElementById("SelectedChkbxId").value = newvalue;
        }


    }
    function TransferPassRequest() {
        var PassIDs = document.getElementById("SelectedChkbxId").value;
        if (PassIDs != "" && PassIDs != null) {

            // if (confirm("Are you sure to transfer ?")) {
            $("#dialog-confirmBox").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "Department Entry Pass",
                title_html: true,
                buttons: [
                    {
                        html: "&nbsp; Yes",
                        "class": "btn btn-primary",
                        click: function () {
                        	$("#loader-wrapper").show();

                            $.ajaxSetup({ cache: false });
                            $.ajax({
                            	url: "/Notices/MemberPass/TransferSelectedDepartmentPass",
                                type: 'GET',
                                data: {
                                    PassIDs: PassIDs
                                },
                                success: function (data) {
                                    // alert("Transferred Successfully");
                                    ShowNotification("success", "Transferred Successfully .....");
                                    $("#loader-wrapper").hide();

                                    GetCurrentSessionReq();
                                     
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    alert(xhr.status);
                                    alert(thrownError);
                                    cl5.hide();
                                }
                            });
                            //}
                            // else {
                            //    return false;
                            // }
                            $(this).dialog("close");
                        }
                    }
                    ,
                    {
                        html: "&nbsp; Cancel",
                        "class": "btn btn-primary",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        }
        else {
            ShowNotification("error", "Please select any Employee .....");
        }
    }
    function SubmitSelectedDepartmentPass() {
        var PassIDs = document.getElementById("SelectedChkbxId").value;

        if (PassIDs != "" && PassIDs != null) {
            // alert("hello");
            // if (confirm("Are you sure to send ?")) {
            $("#dialog-confirmBox").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "Department Entry Pass",
                title_html: true,
                buttons: [
                    {
                        html: "&nbsp; Yes",
                        "class": "btn btn-primary",
                        click: function () {
                        	$("#loader-wrapper").show();

                            $.ajaxSetup({ cache: false });
                            $.ajax({
                            	url: "/Notices/MemberPass/SubmitSelectedDepartmentPass",
                                type: 'GET',
                                data: {
                                    PassIDs: PassIDs
                                },
                                success: function (data) {
                                    ShowNotification("success", "Submitted Successfully .....");
                                    $("#loader-wrapper").hide();

                                    GetCurrentSessionReq();
                                   
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    alert(xhr.status);
                                    alert(thrownError);
                                    cl5.hide();
                                }
                            });
                            // }
                            // else {
                            //     return false;
                            // }
                            $(this).dialog("close");
                        }
                    }
                    ,
                    {
                        html: "&nbsp; Cancel",
                        "class": "btn btn-primary",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        }
        else {
            ShowNotification("error", "Please select any Employee .....");
            //alert("Please select any Employee");
        }
    }


    function SubmitDepartmentPass(id) {
        var PassIDs = document.getElementById("SelectedChkbxId").value;
        var PassIDAndSessionValue = id.split(',');
        var PassID = PassIDAndSessionValue[0];
        var SessionFromdValue = PassIDAndSessionValue[1];

        if (SessionFromdValue == "") {
            ShowNotification("error", "Please Session Date Update First !!!.....");
           // alert("Please Update Session Date First !!!");
            return false;
        }
        else {
            // if (confirm("Are you sure to send ?")) {
            if (PassIDs != "" && PassIDs != null) {
                $("#dialog-confirmBox").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Department Entry Pass",
                    title_html: true,
                    buttons: [
                        {
                            html: "&nbsp; Yes",
                            "class": "btn btn-primary",
                            click: function () {
                            	$("#loader-wrapper").show();

                                $.ajaxSetup({ cache: false });
                                $.ajax({
                                	url: "/Notices/MemberPass/SubmitDepartmentPass",
                                    type: 'GET',
                                    data: {
                                        PassID: PassID
                                    },
                                    success: function (data) {
                                        ShowNotification("success", "Submitted Successfully .....");
                                        $("#loader-wrapper").hide();
                                        //alert("Sent Successfully");
                                        GetCurrentSessionReq();
                                        

                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert(xhr.status);
                                        alert(thrownError);
                                        $("#loader-wrapper").hide();

                                    }
                                });
                                // }
                                // else {
                                // return false;
                                //}
                                $(this).dialog("close");
                            }
                        }
                        ,
                        {
                            html: "&nbsp; Cancel",
                            "class": "btn btn-primary",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

            }
            else {
                ShowNotification("error", "Please select any Employee .....");
                //alert("Please select any Employee");
            }

        }
    }

    function AddPassRequest() {
    	//alert('ok1');
        $('[id*=Photo]').val("");
        $('[id*=PhotoName]').val("");
        
        $("#loader-wrapper").show();
        $.ajaxSetup({ cache: false });
        $.ajax({
        	url: "/Notices/MemberPass/PartialAddPassRequest",
            type: 'GET',
            data: {

            },
            success: function (data) {
             
               

            	var parentWidth = $('#resize-left').parent().outerWidth();
            	if ($('#resize-right').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
            	else { resizeLeftPanel(100); }
            	$('#spnScrollPosition').html('2');
            	$('#divDataContainer').empty();                 
            	$("#divDataContainer").html(data);

                ChangeBreadCrumbParent("Entry Pass for Employees", "GetCurrentSessionReq()");
                ChangeBreadCrumbChild("Add Employee For Entry Pass");
                $("#loader-wrapper").hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp", "AddPassRequest()");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
               // cl5.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp", "AddPassRequest()");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");
            }
        });
    }

    function EditPassRequest(Id) {
        
        $.ajaxSetup({ cache: false });
        $.ajax({
        	url: "/Notices/MemberPass/EditPassRequest",
            type: 'GET',
            data: {
                Id: Id
            },
            success: function (data) {
                
            	var parentWidth = $('#resize-left').parent().outerWidth();
            	if ($('#resize-right').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
            	else { resizeLeftPanel(100); }
            	$('#spnScrollPosition').html('2');
            	$('#divDataContainer').empty();
            	$("#divDataContainer").html(data);
                ChangeBreadCrumbParent("Entry Pass for Employees", "GetCurrentSessionReq()");
                ChangeBreadCrumbChild("Edit Employee For Entry Pass");
              
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
                cl5.hide();
            }
        });
    }


    function ImagePriview(obj) {
        //alert("Image Preview");
        var image = $(obj).attr('image');
        var modalBody = "<img style='width:180px;height:240px;' src='" + image + "' />";
        $('#ShowPhotoModel').html("");
        $('#ShowPhotoModel').html(modalBody);

        var dialog = $("#PhotoModel").removeClass('hide').dialog({
            resizable: false,
            modal: true,
            title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-check'></i>Photo</h4></div>",
            width: 260,
            title_html: true,
            buttons: [
                {
                    text: "OK",
                    "class": "btn btn-primary btn-xs",
                    click: function () {
                        $(this).dialog("close");
                    }
                }
            ]
        });
    }


</script>
