﻿<div id="sidebar" class="sidebar responsive">
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>

            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>

            <!-- #section:basics/sidebar.layout.shortcuts -->
            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>

            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>


            <!-- /section:basics/sidebar.layout.shortcuts -->
        </div>
        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div>
    <!-- /.sidebar-shortcuts -->

    @*<div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div id="sidebar-shortcuts-large" class="sidebar-shortcuts-large">

            <a title="Help" data-rel="tooltip" class="btn btn-warning" href="#" target="_blank">
                <i class="ace-icon fa fa-users"></i>
            </a>

            <button class="btn btn-info" id="sizeUp" title="Increase fontsize" data-placement="bottom" data-rel="tooltip">
                <b>@Resources.PaperLaidDepartment.A<sup>+</sup> </b>
            </button>

            <button class="btn btn-warning" id="sizeDown" title="Decrease fontsize" data-placement="bottom" data-rel="tooltip">
                <b>@Resources.PaperLaidDepartment.A<sup>-</sup> </b>
            </button>

            @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.LanguageID == "7C4F28F6-02FC-4627-993D-E255037531AD")
            {
                <button id="btnHindi" title="Change language" data-placement="right" data-rel="tooltip" class="btn btn-success" onclick="ChangeLangaugeHindi();">
                    @Resources.PaperLaidDepartment.Hindi
                </button>
            }
            else
            {
                <button id="btnEnglish" style="width: 70px" title="Change language" data-placement="right" data-rel="tooltip" class="btn btn-success" onclick="ChangeLangaugeEnglish();">
                    @Resources.PaperLaidDepartment.English
                </button>
            }
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div>*@

    <ul class="nav nav-list">
        <li class="active">
            <a href="index.html">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text">My Dashboard </span>
            </a>

            <b class="arrow"></b>
        </li>






        <li class="" id="Feedback">

            <a href="#" class="dropdown-toggle">
                <i class="menu-icon ace-icon glyphicon glyphicon-pencil" id="FeedbackLinkId"></i>
                <span class="menu-text">Feedback
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <ul class="submenu" id="FeedbackSub">

                <li class="" id="feedbacklist">
                    <a href="@Url.Action("Index", "Feedback")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Public Feedback
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="" id="FAQlist">
                    <a href="@Url.Action("FAQIndex", "Admin")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        FAQ
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="" id="HDlist">
                    <a href="@Url.Action("HDIndex", "Admin")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Helpdesk
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="" id="SiteMaplist">
                    <a href="@Url.Action("SiteMapIndex", "Admin")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        SiteMap
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>









        <li class="" id="newsmain">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-comment" id="newslinkid"></i>
                <span class="menu-text">News
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu" id="newssub">

                <li class="" id="newslist">
                    <a href="@Url.Action("NewsEntryFormIndex", "News")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        News List
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="" id="newscatlist">
                    <a href="@Url.Action("NewsIndex", "News")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        News Category
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
        <li class="" id="noticemain">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bullhorn "></i>
                <span class="menu-text">Notices
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu" id="noticesub">

                <li class="" id="noticelist">
                    <a href="@Url.Action("NoticeEntryIndex", "Notice")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Notices
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="" id="noticecatlist">
                    <a href="@Url.Action("NoticeIndex", "Notice")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Notice Category
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <li class="" id="gallerymain">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-picture-o"></i>
                <span class="menu-text">Gallery
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu" id="gallerysub">

                <li class="" id="gallerycatlist1">
                    <a href="@Url.Action("GetAllAlbumCategory", "AlbumCategory")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Album Category
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="" id="gallerycatlist2">
                    <a href="@Url.Action("GalleryCategoryIndex", "Gallery")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Album Gallery
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="" id="gallerylist3">
                    <a href="@Url.Action("GalleryCategoryFormIndex", "Gallery")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Gallery List
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <li class="" id="speechmain">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-microphone"></i>
                <span class="menu-text">Speech
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu" id="speechsub">

                <li class="" id="speechlist">
                    <a href="@Url.Action("GetSpeechList", "Speech")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Speeches
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="" id="speechcatlist">
                    <a href="@Url.Action("SpeechCategoryIndex", "Speech")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Speech Category
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
        <li class="" id="contentmain">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-file"></i>
                <span class="menu-text">Content
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu" id="contentsub">

                <li class="" id="contentlist">
                    <a href="@Url.Action("ContentList", "Content")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Content
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="" id="contentcatlist">
                    <a href="@Url.Action("ContentCategoryList", "Content")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Content Category
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <li class="" id="tourmain">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-globe "></i>
                <span class="menu-text">Member's Tour
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu" id="toursub">

                <li class="" id="tourlist">
                    <a href="@Url.Action("tMemberTourList", "Tours")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Member's Tours List
                    </a>

                    <b class="arrow"></b>
                </li>
                @* <li class="" id="tourcatlist">
                                 <a href="@Url.Action("ContentCategoryList", "Content")">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Content Category
                                </a>

                                <b class="arrow"></b>
                            </li>*@
            </ul>
        </li>

        <li class="" id="assemblyFilemain">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-cloud-upload "></i>
                <span class="menu-text">Assembly Session
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu" id="assemblyFilesub">

                <li class="" id="assemblyFilelist">
                    <a href="@Url.Action("GetAllAssemblyFiles", "AssemblyFile")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Upload Documents
                    </a>

                    <b class="arrow"></b>
                </li>


                @*<li class="" id="feedbacklist">
                    <a href="@Url.Action("Index", "Feedback")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Public Feedback
                    </a>

                    <b class="arrow"></b>
                </li>*@


                <li class="" id="Formslist">
                    <a href="@Url.Action("GetAllForms", "Forms")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Forms
                    </a>

                    <b class="arrow"></b>
                </li>


                <li class="" id="FooterPublicDatalist">
                    <a href="@Url.Action("Index", "FooterPublicData")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Footer Public Data
                    </a>

                    <b class="arrow"></b>
                </li>



            </ul>



        </li>
        <li class="" id="LOBFilesmain">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-cloud-download " id="LOBFileslinkid"></i>
                <span class="menu-text">Assembly House Papers
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu" id="LOBFilesSub">

                <li class="" id="LOBFileslist">

                    <a href="@Url.Action("TransferFileForAssemblyHouse", "LOBFile")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Transfer Files For House
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="" id="DLOBFileslist">

                    <a href="@Url.Action("DownloadFileForAssemblyHouse", "LOBFile")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Download Files For House
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="" id="LetestFile">

                    <a href="@Url.Action("GetLatestFileVersion", "LOBFile")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Latest Update (Laying)
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="" id="OnlineList">
                    <a href="@Url.Action("Index", "PaperVerificationReport")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Online vs Manual (Laying)
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="" id="onlinesubmitList">
                    <a href="@Url.Action("VerifiedDocumentsReport", "PaperVerificationReport")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Online vs Manual (Submit)
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="" id="DraftAndApprovedFile">

                    <a href="@Url.Action("DraftAndApprovedPaperLaidVHtml", "LOBFile")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Draft And Approved Papers Laid
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="" id="DLLobsHtml">

                    <a href="@Url.Action("PaperLaidVHtml", "LOBFile")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Paper Laid in House
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <li class="" id="SystemModules">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-cog" id="SystemModulesLinkId"></i>
                <span class="menu-text">System Modules
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu" id="sysytemmodulesSub">
                <li class="" id="systemmodulesList1">
                    <a href="@Url.Action("Index", "SystemModules")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Modules
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="" id="systemmodulesList2">
                    <a href="@Url.Action("SystemFunctions", "SystemModules")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Module Actions
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <li class="" id="QuestionListPDF">

            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-print" id="QuestionListPDFLinkId"></i>
                <span class="menu-text">Questions List PDF
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <ul class="submenu" id="questionlistpdfSub">
                <li class="" id="questionlistpdfList">
                    <a href="@Url.Action("Index", "QuestionListPDF")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Member-wise PDF
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>


        <li class="" id="e-committee">

            <a href="#" class="dropdown-toggle">
                <i class="menu-icon ace-icon glyphicon glyphicon-pencil" id="e-committeeId"></i>
                <span class="menu-text">House Committee
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <ul class="submenu" id="committeeSubid">

                <li class="" id="committe">

                    <a href="@Url.Action("MeetingView", "Feedback")">

                        <i class="menu-icon fa fa-caret-right"></i>
                        Approve Meeting Agenda
                    </a>

                    <b class="arrow"></b>
                </li>


            </ul>
        </li>

        <li class="" id="Compose">

            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-pencil-square-o" id="ComposeLinkId"></i>
                <span class="menu-text">Compose
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <ul class="submenu" id="ComposeemailSub">
                <li class="" id="composeemailList">
                    <a href="@Url.Action("Index", "EMail")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Compose eMail
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="" id="composeSmsList">
                    <a href="@Url.Action("Index", "SMSCompose")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Compose SMS
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <li class="" id="Signature">

            <a href="#" class="dropdown-toggle">
                <i class="menu-icon ace-icon glyphicon glyphicon-pencil" id="SignatureLinkId"></i>
                <span class="menu-text">Signature
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <ul class="submenu" id="SignatureSub">
                <li class="" id="SignatureSessionList">
                    <a href="@Url.Action("GetAllSessionDateSignature", "SessionDateSignature")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Session Date Signature
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
        <li class="" id="ContactGroups">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark" id="ContactGroupsLinkId"></i>
                <span class="menu-text">Contact Groups
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <ul class="submenu" id="ContactGroupsSub">

                <li class="" id="ContactGroupsSubList">
                    <a href="@Url.Action("GroupMaster", "RecipientGroups", new { @area = "RecipientGroups" })">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Contact Groups                                               
                    </a>
                    <b class="arrow"></b>
                </li>

                <li class="" id="GenericGroupsList">
                    <a href="@Url.Action("GroupMaster", "RecipientGroups", new { @area = "RecipientGroups" })">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Generic Groups
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="" id="GenericGroupsSubList">
                    <a href="@Url.Action("GroupMemberMaster", "RecipientGroups", new { @area = "RecipientGroups" })">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Member's Generic Group
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
        <li class="" id="QuestionModules">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-cog" id="QuestionModulesLinkId"></i>
                <span class="menu-text">Questions
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu" id="QuestionModulesSub">
                <li class="" id="StarredQuestionList">
                    <a href="@Url.Action("MainPageAdmin", "Changer", new { @area = "Notices" })">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Starred Questions
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="" id="UnStarredQuestionList">
                    <a href="@Url.Action("MainPageunstaredAdmin", "Changer", new { @area = "Notices" })">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Unstarred Questions
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="" id="StarredQuestionListPDF">
                    <a href="@Url.Action("StarredQuestionsPDF", "Changer", new { @area = "Notices" })">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Starred QuestionsPDF
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="" id="UnStarredQuestionListPDF">
                    <a href="@Url.Action("UnstarredQuestionsPDF", "Changer", new { @area = "Notices" })">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Unstarred QuestionsPDF
                    </a>
                    <b class="arrow"></b>
                </li>

            </ul>
        </li>





        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text">Member Attendence

                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>


            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("MemberAttendence", "Attendence", new { @area = "Admin" })">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Datewise Attendence
                    </a>
                    <b class="arrow"></b>
                </li>

            </ul>

        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text">Member's Discussion

                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>


            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("MemberDiscusion", "Attendence", new { @area = "Admin" })">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Datewise Discussion Time
                    </a>
                    <b class="arrow"></b>
                </li>

            </ul>

        </li>
        <!--Updated Shashi for committee system-->
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text">Legislature Committees
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">

                @* <li class="">
                    <a href="@Url.Action("GetAllCommitee", "Committee", new { @area = "SuperAdmin" })" >
                        <i class="menu-icon fa fa-caret-right"></i>
                        Committee Type
                    </a>
                    <b class="arrow"></b>
                </li>*@
                <li class="">
                    <a href="@Url.Action("_AuthorizeDashBoard", "Committee", new { @area = "SuperAdmin" })" >
                        <i class="menu-icon fa fa-caret-right"></i>
                        Authorize Users
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("GetAllNewComittee", "Committee", new { @area = "SuperAdmin" })" >
                        <i class="menu-icon fa fa-caret-right"></i>
                        Committee
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("CommitteeTypeMasterPage", "Committee", new { @area = "SuperAdmin" })" >
                        <i class="menu-icon fa fa-caret-right"></i>
                        Committee Permission
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>


        </li>


        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text">User Credential
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">

                <li class="">
                    <a href="@Url.Action("GetUserPassword", "Admin", new { @area = "Admin" })" >
                        <i class="menu-icon fa fa-caret-right"></i>
                        Get User Credential
                    </a>
                    <b class="arrow"></b>
                </li>

            </ul>


        </li>
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text">Upload Meta data files
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">

                <li class="">
                    <a href="@Url.Action("GetAllMetaDataFile", "UploadMetaFile", new { @area = "Admin" })" >
                        <i class="menu-icon fa fa-caret-right"></i>
                        Meta Data file
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>


        </li>
        @*  <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text">Pass Count List
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">

                <li class="">
                    <a href="@Url.Action("Index", "PassCountList", new { @area = "Admin" })" >
                        <i class="menu-icon fa fa-caret-right"></i>
                       Pass Count List
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>


        </li>*@
        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text">Upload Pass DB
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">

                <li class="">
                    <a href="@Url.Action("Index", "PassDBSync", new { @area = "Admin" })" >
                        <i class="menu-icon fa fa-caret-right"></i>
                        Upload Pass DB
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>


        </li>
        <li class="" id="ManageLoanMenu">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text">Manage Loan
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu" id="ManageLoanSubMenu">

                <li class="" id="LoanStatementMenu">
                    <a href="@Url.Action("loanStatement", "ManageLoan", new { @area = "Admin" })" >
                        <i class="menu-icon fa fa-caret-right"></i>
                        Loan Statement
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>


        </li>

        <li class="" id="SessionMonitoring">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-cog" id="SessionMonitoringLinkId"></i>
                <span class="menu-text">Session Monitoring
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu" id="SessionMonitoringSub">
                <li class="" id="SessionMonitoringList1">
                    <a href="@Url.Action("QuestionsNoticesDetails", "Diaries", new { @area = "Notices" })">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Question/Notice Details
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="@Url.Action("Index", "PassCountList", new { @area = "Admin" })" >
                        <i class="menu-icon fa fa-caret-right"></i>
                        Pass Count List
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="" id="SessionMonitoringList2">
                    <a href="@Url.Action("DiaryofQuestionsNotices", "Diaries", new { @area = "Notices" })">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Diary of Questions/Notices 
                    </a>
                    <b class="arrow"></b>
                </li>

                <li class="" id="SessionMonitoringList">
                    <a href="@Url.Action("Index", "QuestionsNoticesReplyReport", new { @area = "Admin" })">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Reply of Questions/Notices Report
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="" id="QuestionReportList">
                    <a href="@Url.Action("Index", "QuestionReport", new { @area = "Admin" })">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Question Report
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>

        </li>

        <li class="" id="BulkSmsGroups">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark" id="BulkSmsLinkId"></i>
                <span class="menu-text">Bulk SMS
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <ul class="submenu" id="BulkSmsSub">

                <li class="" id="SmsComposeSubList">
                    <a href="/Admin/Admin/AdminSMSCompose">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Sms Compose                                             
                    </a>
                    <b class="arrow"></b>
                </li>

                <li class="" id="ComposeSMSList">
                    <a href="/Admin/Admin/AdminSMSCompose">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Compose SMS
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="" id="SmsReportSubList">
                    <a href="/Admin/Admin/AdminSMSReport">
                        <i class="menu-icon fa fa-caret-right"></i>
                        SMS Report
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <li class="" id="UpdateAllDepartments">
            <a href="/Admin/UpdateDepartments/Index">
                <i class="menu-icon fa fa-cog" id="UpdateAllDepartmentsLinkId"></i>
                <span class="menu-text">Update All Departments
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
        </li>


        <li class="" id="Consmain">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-comment" id="Conslinkid"></i>
                <span class="menu-text">Constituency
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            @*<b class="arrow"></b>*@

            <ul class="submenu" id="Conssub">

                <li class="" id="Conslist">
                    <a href="@Url.Action("Constituency", "QuestionListPDF")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Constituency Office wise
                    </a>

                    <b class="arrow"></b>
                </li>
                <li class="" id="Colist">
                    <a href="@Url.Action("ConstituencyOffice", "QuestionListPDF")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Constituency and Office
                    </a>

                    <b class="arrow"></b>
                </li>

            </ul>
        </li>
        @*      <li class="" id="ConsmainItemMaster">
            <a href="/Admin/CommitteeItemMaster/Index">
                <i class="menu-icon fa fa-cog" id="ConslinkidItemMaster"></i>
                <span class="menu-text">Item Master
                </span>
              
            </a>
        </li>*@

        <li class="" id="Consmainr">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-comment" id="Conslinkidr"></i>
                <span class="menu-text">Committees
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>


            <ul class="submenu" id="Conssubr">

                <li class="" id="ConsmainItemMasterr">
                    <a href="/Admin/CommitteeItemMaster/Index">
                        <i class="menu-icon fa fa-cog" id="ConslinkidItemMasterr"></i>
                        <span class="menu-text">Item Master
                        </span>

                    </a>
                </li>
                <li class="" id="Colistrr">
                    <a href="@Url.Action("Index", "HouseEmpCommittee")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        AuthEmployee
                    </a>

                    <b class="arrow"></b>
                </li>


                <li class="" id="Colistr">
                    <a href="@Url.Action("Index", "SerialNo")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Serial No.
                    </a>

                    <b class="arrow"></b>
                </li>

            </ul>
        </li>

        <li class="" id="Referenceinr">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-comment" id="Referencelink"></i>
                <span class="menu-text">Reference
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>


            <ul class="submenu" id="Referencebr">
                <li class="" id="ReferenceMasterr">
                   @* <a href="/Admin/CommitteeItemMaster/Index">
                        <i class="menu-icon fa fa-cog" id="ReferenceItemMasterr"></i>
                        <span class="menu-text">Reference material
                        </span>

                    </a>*@

                     <a href="@Url.Action("RefrenceIndex", "Admin", new { @area = "Admin" })">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Reference material
                    </a>
                </li>
            </ul>
        </li>



        @*Committe Menu End*@



        @*   <li class="paperverification">

            <a href="#" class="dropdown-toggle">
                <i class="menu-icon ace-icon glyphicon glyphicon-pencil" id="paperverification"></i>
                <span class="menu-text">Paper Verification
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <ul class="submenu">
            </ul>
        </li>*@
        @*<li class="RecipientGroups">

            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-users" id="RecipientGroups"></i>
                <span class="menu-text">Recipient Groups
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <ul class="submenu">
                <li class="">
                    <a href="@Url.Action("RecipientGroups", "RecipientGroups")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Recipient Groups
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>*@
    </ul>
    <!-- /.nav-list -->

    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <!-- /section:basics/sidebar.layout.minimize -->
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
    </script>
</div>
<script>

    function GetSQuestions(tpe) {
        //alert("dd")
        $('.widget-box').show();
        //var cl = new CanvasLoader('canvasloader-container1');
        //cl.show();
        // using the same method which is earlier defind for Session date LegislationFixation GetSessionDates
        $.ajaxSetup({ cache: false });

        $.ajax({
            url: '@Url.Action("PendingStaredQuestion", "Changer", new { Area = "Notices" })',
            type: 'GET',
            data: {
                // Qtype: tpe
            },
            success: function (data) {
                $("#divDataContainer").html(data);
                $("#FormPart").html("");
                ClearControls();
                // cl.hide();
                $("#loader-wrapper").hide();
                ChangeBreadCrumbParent("My DashBoard", "GetStartedQuestions()");
                ChangeBreadCrumbChild("Starred Questions", "GetStartedQuestions()");
            }
        });
    }



</script>
