﻿@model SBL.eLegistrator.HouseController.Web.Areas.ListOfBusiness.Models.AddLOBModel

<div><b>@Resources.LOB.EnterBusinessItem </b></div>



<div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>

<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
@* <script src="~/assets/js/jquery-ui.custom.min.js"></script>
        <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
        <script src="~/assets/js/fullcalendar.min.js"></script>
        <script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery-1.7.min.js"></script>*@
<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
<script src="~/Scripts/jquery.alerts.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.timepicker1.js"></script>
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>



<div>
    <table style="width: 100%">
        <tr style="padding-left: 20px; height: 40px">
            <td style="width: 4%"></td>
            <td style="width: 8%">
                <b>@Resources.LOB.EventType :</b>

            </td>
            <td colspan="5">
                @Html.DropDownList("ConcernedEventId", new SelectList(Model.mEventList, "EventId", "EventName", 0), new { @class = "col-xs-10 col-sm-10" })
            </td>
        </tr>
        <tr style="padding-left: 20px">
            <td style="width: 4%"></td>
            <td style="width: 8%">
                <b>@Resources.LOB.SrNo1 :</b>
                @Html.HiddenFor(m => m.RecordId)
            </td>
            <td style="width: 15%">
                @*    @Html.DropDownListFor(m=>m.SrNo1,)*@

                <input id="HiddenSrNo1" value="@Model.SrNo1" type="hidden" />
                <input id="HiddenSrNo2" value="@Model.SrNo2" type="hidden" />
                <input id="HiddenSrNo3" value="@Model.SrNo3" type="hidden" />

                <select id="SrNo1" name="SrNo1" onchange="checkSrNo1()" class="col-xs-10 col-sm-10">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                </select>

                <select id="UpdateSrNo1" name="UpdateSrNo1" class="rounded" style="width: 80%; display: none">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                </select>

            </td>
            <td style="width: 5%">
                <b>@Resources.LOB.SrNo2 :</b>
            </td>
            <td style="width: 15%">
                <select id="SrNo2" name="SrNo2" onchange="checkSrNo2()" class="col-xs-10 col-sm-10">
                    <option value="Select">Select </option>
                    <option value="1">(1) </option>
                    <option value="2">(2) </option>
                    <option value="3">(3) </option>
                    <option value="4">(4) </option>
                    <option value="5">(5) </option>
                    <option value="6">(6) </option>
                    <option value="7">(7) </option>
                    <option value="8">(8) </option>
                    <option value="9">(9) </option>
                    <option value="10">(10) </option>
                    <option value="11">(11) </option>
                    <option value="12">(12) </option>
                    <option value="13">(13) </option>
                    <option value="14">(14) </option>
                    <option value="15">(15) </option>
                    <option value="16">(16) </option>
                    <option value="17">(17) </option>
                    <option value="18">(18) </option>
                </select>

                <select class="rounded" id="UpdateSrNo2" name="UpdateSrNo2" style="width: 80%; display: none">
                    <option value="Select">Select </option>
                    <option value="1">(1) </option>
                    <option value="2">(2) </option>
                    <option value="3">(3) </option>
                    <option value="4">(4) </option>
                    <option value="5">(5) </option>
                    <option value="6">(6) </option>
                    <option value="7">(7) </option>
                    <option value="8">(8) </option>
                    <option value="9">(9) </option>
                    <option value="10">(10) </option>
                    <option value="11">(11) </option>
                    <option value="12">(12) </option>
                    <option value="13">(13) </option>
                    <option value="14">(14) </option>
                    <option value="15">(15) </option>
                    <option value="16">(16) </option>
                    <option value="17">(17) </option>
                    <option value="18">(18) </option>
                </select>
            </td>
            <td style="width: 5%">
                <b>@Resources.LOB.SrNo3 :</b>
            </td>
            <td style="width: 25%">
                <select id="SrNo3" name="SrNo3" onchange="checkSrNo3()" class="col-xs-10 col-sm-7">
                    <option value="Select">Select </option>
                    <option value="1">(i) </option>
                    <option value="2">(ii) </option>
                    <option value="3">(iii) </option>
                    <option value="4">(iv) </option>
                    <option value="5">(v) </option>
                    <option value="6">(vi) </option>
                    <option value="7">(vii) </option>
                    <option value="8">(viii) </option>
                    <option value="9">(ix) </option>
                    <option value="10">(x) </option>
                    <option value="11">(xi) </option>
                    <option value="12">(xii) </option>
                    <option value="13">(xiii) </option>
                    <option value="14">(xiv) </option>
                    <option value="15">(xv) </option>
                    <option value="16">(xvi) </option>
                    <option value="17">(xvii) </option>
                    <option value="18">(xviii) </option>
                </select>
                <select class="rounded" id="UpdateSrNo3" name="UpdateSrNo3" style="width: 50%; display: none">
                    <option value="Select">Select </option>
                    <option value="1">(i) </option>
                    <option value="2">(ii) </option>
                    <option value="3">(iii) </option>
                    <option value="4">(iv) </option>
                    <option value="5">(v) </option>
                    <option value="6">(vi) </option>
                    <option value="7">(vii) </option>
                    <option value="8">(viii) </option>
                    <option value="9">(ix) </option>
                    <option value="10">(x) </option>
                    <option value="11">(xi) </option>
                    <option value="12">(xii) </option>
                    <option value="13">(xiii) </option>
                    <option value="14">(xiv) </option>
                    <option value="15">(xv) </option>
                    <option value="16">(xvi) </option>
                    <option value="17">(xvii) </option>
                    <option value="18">(xviii) </option>
                </select>

                <div style="margin-left: 63%; margin-top: -1%">
                    @*<input id="FromServer1" type="button"  onclick="FromServer()"  value="@Resources.LOB.SelectPaper"/>*@
                    <button type="button" id="FromServer1" class="btn btn-sm btn-primary" data-toggle="button" onclick="FromServer()">@Resources.LOB.SelectPaper</button>

                </div>
            </td>
        </tr>




        
                 <tr id="fromdeptId" style="height: 50px; display: none; padding-left: 20px">
                
            <td style="width: 4%"></td>
            <td style="width: 8%; padding-left: 0%">
                <b>Select Departement:</b>
            </td>
            <td style="width: 25%" colspan="3">
                
             @Html.DropDownList("ConcernedDeptId", new SelectList(Model.mDepartmentList, "DeptId", "DeptName", 0), new { @class = "col-xs-10 col-sm-10", @style = "width:667px;" }) 

     
            </td>
        </tr>
            
            <tr id="fromcommitteeId" style="height: 50px; display: none; padding-left: 20px">
                
            <td style="width: 4%"></td>
            <td style="width: 8%; padding-left: 0%">
                <b>Select Committee:</b>
            </td>
            <td style="width: 25%" colspan="3">
                
             @Html.DropDownList("ConcernedCommitteeId", new SelectList(Model.mCommitteeList, "CommitteeId", "CommitteeName", 0), new { @class = "col-xs-10 col-sm-10", @style = "width:667px;" }) 

     
            </td>
        </tr>
          <tr id="fromcommitteeRepTypId" style="height: 50px; display: none; padding-left: 20px">
                
            <td style="width: 4%"></td>
            <td style="width: 8%; padding-left: 0%">
                <b>Committee Report Type :</b>
            </td>
            <td style="width: 25%" colspan="3">
                
             @Html.DropDownList("ConcernedCommitteeRepTypId", new SelectList(Model.mCommitteeRepTypeList, "ReportTypeId", "ReportTypeName", 0), new { @class = "col-xs-10 col-sm-10", @style = "width:667px;" }) 

     
            </td>
        </tr>
        <tr id="fromcommitteeTitle" style="height: 50px; display: none; padding-left: 20px">
            <td style="width: 4%"></td>
            <td style="width: 8%; padding-left: 0%">
                <b>Committee Report Title :</b>
            </td>
            <td style="width: 25%" colspan="3">
                @Html.TextBoxFor(m => m.CommitteeReportTitle, new { @style = "width: 667px;Height:35px;", @id = "CommitteeTitle" })
            </td>
        </tr>
       
           
         




        <tr id="fromBillTitle" style="height: 50px; display: none; padding-left: 20px">
            <td style="width: 4%"></td>
            <td style="width: 8%; padding-left: 0%">
                <b>Bill Title :</b>
            </td>
            <td style="width: 25%" colspan="3">
                @Html.TextBoxFor(m => m.BillTextTitle, new { @id = "tbBillTittle", @class = "col-xs-10 col-sm-10" })
            </td>
        </tr>
        <tr id="fromBillNumber" style="height: 50px; display: none; padding-left: 20px">
            <td style="width: 4%"></td>
            <td style="width: 8%; padding-left: 0%">
                <b>Bill Number :</b>
            </td>
            <td style="width: 25%" colspan="3">
                @Html.TextBoxFor(m => m.BillTextNumber, new { @style = "width: 40px;Height:35px;", @id = "tbBillNumber", @maxlength = "3" }) of

                  @Html.DropDownListFor(m => m.BillNumberYear, Model.yearList, new { @id = "DdlBillYear", @tabindex = "1", @class = "select-style", style = "width: 80px ;Height:35px;" })

            </td>
        </tr>
        <tr style="height: 10px"></tr>
        <tr>
            <td colspan="7">

                <div class="accordion-style1 panel-group" id="accordion">


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne1">
                                    <i data-icon-show="ace-icon fa fa-angle-right" data-icon-hide="ace-icon fa fa-angle-down" class="bigger-110 ace-icon fa fa-angle-right"></i>
                                    <b>@Resources.LOB.BusinessText</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table style="width: 100%">

                                    <tr>
                                        <td style="width: 15%; padding-left: 5%; vertical-align: top; padding-top: 7px">
                                            <b>@Resources.LOB.Business :</b>
                                        </td>
                                        <td style="width: 85%" colspan="3">
                                            @Html.EditorFor(m => m.TextLOB, new { id = "TextLOB", @class = "Editors", @style = "width: 40%; height:40px" })



                                            @*<textarea name="txtInputSpace1" rows="2" cols="20" id="txtInputSpace1" style="font-family:Verdana;font-size:Medium;height:190px;width:96%;"></textarea>
                                        <br />
                                        <input id="typewriter" type="button"  value="typewriter"/>
                                        <input id="transliteration" type="button" value="transliteration" />*@
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 15%; padding-left: 5%; vertical-align: top; padding-top: 7px">
                                            <b>@Resources.LOB.PageBreak :</b>
                                        </td>
                                        <td style="width: 85%; padding-top: 5px" colspan="3">
                                            @Html.CheckBoxFor(m => m.PageBreak)

                                            @*                                        <div style="margin-left:1%;margin-top:-25px">

                                            <table style="width: 100%">


                                                <tr style="height: 35px">

                                                    <td style="width: 15%; padding-left: 5%">
                                                        <b>@Resources.LOB.eVoting :</b>
                                                    </td>

                                                    <td style="width: 34%">
                                                        @Html.CheckBoxFor(m => m.IsEVoting)
                                                    </td>
                                                    <td style="width: 13%; padding-left: 2%"></td>

                                                    <td style="width: 45%"></td>

                                                </tr>

                                            </table>

                                        </div>*@

                                            @*<textarea name="txtInputSpace1" rows="2" cols="20" id="txtInputSpace1" style="font-family:Verdana;font-size:Medium;height:190px;width:96%;"></textarea>
                                        <br />
                                        <input id="typewriter" type="button"  value="typewriter"/>
                                        <input id="transliteration" type="button" value="transliteration" />*@
                                        </td>
                                    </tr>
                                    @*  <tr>
                                    <td style="width: 15%; padding-left: 5%; vertical-align: top; padding-top: 7px">
                                        <b>@Resources.LOB.Resolution :</b>
                                    </td>
                                    <td style="width: 85%">
                                      
                                        @Html.DropDownList("ResolutionId", new SelectList(Model.mResolution, "ResolutionId", "Resolution", 0), new { @class = "rounded", @style = "width:95%" })

                                        @Html.ActionLink("Print", "GeneratePdfLOBPreview", "ListOfBusiness", new { LOBId = "13", Resolution = "1024x720" }, new { target = "_blank" })
                                        <input type="button" value="@Resources.LOB.LOBPreview" onclick="ShowLOBPreview();" />

                                      
                                    </td>
                                </tr>*@

                                </table>
                            </div>
                        </div>
                    </div>
                    <!---
             ... other panels ... 
             -->
                    @*<hr />*@
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo1">
                                    <i data-icon-show="ace-icon fa fa-angle-right" data-icon-hide="ace-icon fa fa-angle-down" class="bigger-110 ace-icon fa fa-angle-right"></i>
                                    <b>@Resources.LOB.UploadPaperFromLocalSystem</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo1" class="panel-collapse collapse">
                            <div class="panel-body">

                                <div id="canvasloader-container5" class="canvasloader" style="text-align: center"></div>


                                <div id="DocumentUpload1" style="padding-left: 2%">


                                    <table style="width: 100%">

                                        <tr style="height: 45px">
                                            <td style="width: 17%; padding-left: 3%; display: none">
                                                <b>@Resources.LOB.Nature :</b>
                                            </td>
                                            <td style="width: 26%; display: none">

                                                <select id="NatureOfDocument1" name="NatureOfDocument1" class="rounded" onchange="ChangeNature1()" style="width: 85%">
                                                    <option value="PDF">PDF </option>

                                                </select>
                                            </td>
                                            <td style="width: 15%; padding-left: 5%">
                                                <b>@Resources.LOB.Type    :</b>
                                            </td>
                                            <td style="width: 35%">

                                                <select id="ActionDocumentType1" name="ActionDocumentType1" class="rounded" style="width: 60%">
                                                    <option value="Original">Original</option>
                                                    <option value="Revised">Revised </option>
                                                    <option value="ATR">ATR </option>
                                                    <option value="FAT">FAT </option>
                                                </select>
                                            </td>
                                        </tr>


                                        @Html.HiddenFor(m => m.PaperLaidIdTemp)
                                        @Html.HiddenFor(m => m.PaperLaidId)
                                        @Html.HiddenFor(m => m.NewPdfPath)
                                        <tr id="fromLocal" style="height: 35px">
                                            <td style="width: 15%; padding-left: 5%">
                                                <b>@Resources.LOB.File</b>
                                            </td>
                                            <td style="width: 65%" colspan="3">

                                                <input style="padding-top: 24px" type="file" id="file1" name="file1" accept="application/pdf" onchange="CheckFile1()" />

                                                <div style="margin: -40px 0 0 40%;">
                                                    @*<input type="button" value="@Resources.LOB.Upload" class="rounded" onclick="uploadfile1();" />*@

                                                    <button type="button" class="btn btn-app btn-purple btn-xs" onclick="uploadfile1();">
                                                        <i class="ace-icon fa fa-cloud-upload bigger-200"></i>
                                                        @Resources.LOB.Upload
                                                    </button>

                                                    <span style="color: red; padding-left: 10px" class="field-validation-error" id="spanfile1"></span>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>

                                </div>

                                <br />
                                <hr />
                            </div>
                        </div>
                    </div>
                    <div>
                        <table style="width: 100%">
                            <tr id="fromServer">
                                <td style="width: 15%; padding-left: 5%">
                                    <b>@Resources.PaperLaidLOB.SelectedPaper :</b>
                                </td>
                                <td style="width: 65%" colspan="3">

                                    <div id="fileForUpload">
                                        <b>No Paper Selected </b>
                                    </div>

                                </td>
                            </tr>
                        </table>
                    </div>
                </div>


            </td>
        </tr>

        <tr style="height: 10px">
            <td colspan="7" style="text-align: right; padding-right: 4%">

                @if (Model.RecordId != null && Model.RecordId != "")
                {
                    <button type="button" id="btnSave" class="btn btn-app btn-primary btn-xs" onclick="return UpdateLineRecord()">
                        <i class="ace-icon fa fa-floppy-o icon-on-right"></i>
                        @Resources.LOB.Update</button>
                    
                    <button type="button" id="btnCancel" class="btn btn-app btn-danger btn-xs" onclick="CancelEntry()">
                        <i class="ace-icon fa fa-times icon-on-right"></i>
                        @Resources.LOB.btnCancel</button>
                    
                    
@*<input type="button" id="btnSave" value="@Resources.LOB.Update" onclick="return UpdateLineRecord()"  />
                     <input type="button" id="btnCancel" value="@Resources.LOB.btnCancel" onclick="CancelEntry()"  />*@
                }
                else
                {
@*<input type="button" id="btnSave" value="@Resources.LOB.SaveBusiness" onclick="return SaveLine()"  />*@
                    
                    <button type="button" id="btnSave" class="btn btn-app btn-success btn-xs" onclick="return SaveLine()">
                        <i class="ace-icon fa fa-floppy-o icon-on-right"></i>
                        @Resources.LOB.Save</button>
                }
            </td>

        </tr>
    </table>
</div>

<div id='fullDetailsModel' class="modal">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>


<div id='OpenModel1' class='modal hide fade in' style="width: 65%; height: 80%; top: 300px; left: 500px">
    <div id='OpenModelContainer1'>
    </div>
</div>

<style>
    .Editors {
        width: 40%;
        /*height: 40px;*/
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {

        var ConcernedEventId = document.getElementById("ConcernedEventId").value;
       




        if (ConcernedEventId == "8") {
            $("#fromcommitteeTitle").show();
            $("#fromcommitteeId").show();
            $("#fromdeptId").show();
            $("#fromcommitteeRepTypId").show();


        }
        else {
            $("#fromcommitteeTitle").hide();
            $("#fromcommitteeId").hide();
            $("#CommitteeTitle").val('');
            $("#fromdeptId").hide();
            $("#fromcommitteeRepTypId").hide();






        }


        if (ConcernedEventId == "5" || ConcernedEventId == "6" || ConcernedEventId == "31" || ConcernedEventId == "36" || ConcernedEventId == "72") {
            $("#fromBillNumber").show();
            $("#fromBillTitle").show();


        }
        else {
            $("#fromBillNumber").hide();
            $("#fromBillTitle").hide();
            $("#tbBillTittle").val('');
            $("#tbBillNumber").val('');

        }
    });

</script>

<script>


    function CancelEntry() {
        RenderLineEntryForm();
        getLineList();
    }
    $("#ConcernedEventId").change(function () {
        var ConcernedEventId = document.getElementById("ConcernedEventId").value;
        if (ConcernedEventId == "8") {
            $("#fromcommitteeTitle").show();
            $("#fromcommitteeId").show();
            $("#fromdeptId").show();
            $("#fromcommitteeRepTypId").show();

        }
        else {
            $("#fromcommitteeTitle").hide();
            $("#fromcommitteeId").hide();
            $("#CommitteeTitle").val('');
            $("#fromdeptId").hide();
            $("#fromcommitteeRepTypId").hide();


        }
        if (ConcernedEventId == "5" || ConcernedEventId == "6" || ConcernedEventId == "31" || ConcernedEventId == "36" || ConcernedEventId == "72") {
            $("#fromBillNumber").show();
            $("#fromBillTitle").show();
        }
        else {
            $("#fromBillNumber").hide();
            $("#fromBillTitle").hide();
            $("#tbBillTittle").val('');
            $("#tbBillNumber").val('');
        }
    });

    $(document).ready(function () {
        if (document.getElementById('HiddenSrNo1').value != "") {
            document.getElementById('SrNo1').value = document.getElementById('HiddenSrNo1').value;
        }

        if (document.getElementById('HiddenSrNo2').value != "") {
            document.getElementById('SrNo2').value = document.getElementById('HiddenSrNo2').value;
        }

        if (document.getElementById('HiddenSrNo3').value != "") {
            document.getElementById('SrNo3').value = document.getElementById('HiddenSrNo3').value;
        }

        if (document.getElementById('HiddenSrNo1').value != "" || document.getElementById('HiddenSrNo2').value != "" || document.getElementById('HiddenSrNo3').value != "") {

            document.getElementById('SrNo1').style.display = "none";
            document.getElementById('UpdateSrNo1').value = document.getElementById('SrNo1').value;
            document.getElementById('UpdateSrNo1').style.display = "block";
            document.getElementById('UpdateSrNo1').disabled = "disabled";

            document.getElementById('SrNo2').style.display = "none";
            document.getElementById('UpdateSrNo2').value = document.getElementById('SrNo2').value;
            document.getElementById('UpdateSrNo2').style.display = "block";
            document.getElementById('UpdateSrNo2').disabled = "disabled";

            document.getElementById('SrNo3').style.display = "none";
            document.getElementById('UpdateSrNo3').value = document.getElementById('SrNo3').value;
            document.getElementById('UpdateSrNo3').style.display = "block";
            document.getElementById('UpdateSrNo3').disabled = "disabled";
        }

        if (document.getElementById('LOBId').value == "" && document.getElementById('LOBId').value == "") {
            document.getElementById('SrNo2').disabled = "disabled";
            document.getElementById('SrNo3').disabled = "disabled";
        }

        // getDocumentList();
        // getDocumentListPDF();
    });


    function FromServer() {
        //  alert("abc1");
        //  document.getElementById("fromLocal").style.display = "none";
        // document.getElementById("DocumentGrid1").style.display = "none";

        //   alert("abc");
        PartialShowPapers();

    }
    function FromLocal() {
        document.getElementById("fromLocal").removeAttribute("style");
        //     document.getElementById("DocumentGrid1").removeAttribute("style");
        document.getElementById("fromServer").style.display = "none";
        $("#PaperLaidIdTemp").val("");
        //  getDocumentListPDF();
        // alert("hi");
        //document.getElementById("fromLocal").style.display = "marker";
        //document.getElementById("DocumentGrid1").style.display = "marker";

    }

    function PartialShowPapers() {
        var ConcernedEventId = document.getElementById("ConcernedEventId").value;
        if ($('#ConcernedEventId').val() == "0" || $('#ConcernedEventId').val() == "Select") {
            var message = '@Resources.LOB.PleaseSelectConcernedEventId';
            // alert(message);
        }
        else {
            var cl = new CanvasLoader('canvasloader-container2');
            cl.show();
            // alert("abc");
            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/ListOfBusiness/ListOfBusiness/PartialShowPapers",
                type: 'GET',
                data: {
                    ConcernedEventId: ConcernedEventId
                },
                success: function (data) {
                    // alert(data);
                    $('#ShowfullDetailsModel').html("");
                    $('#ShowfullDetailsModel').html(data);

                    //var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                    //    resizable: false,
                    //    modal: true,
                    //    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-file-pdf-o green'></i> Select Paper</h4></div>",
                    //    width: 800,
                    //    title_html: true
                    //});
                    $("#ConcernedEventNameheader").text('@Model.ConcernedEventName');

                    $("#fullDetailsModel").modal({          // wire up the actual modal functionality and show the dialog
                        "backdrop": "1.5",
                        "keyboard": true,
                        "show": true                     // ensure the modal is shown immediately
                    });


                }
            });
            cl.hide();
        }
    }

    function checkSrNo3() {
        var LOBId = document.getElementById("LOBId").value;
        var SrNo1 = document.getElementById("SrNo1").value;
        var SrNo2 = document.getElementById("SrNo2").value;
        var SrNo3 = document.getElementById("SrNo3").value;
        if (LOBId == null || LOBId == "" || SrNo3 == "Select" || SrNo2 == "Select") {
            if (SrNo2 == "Select") {
                document.getElementById("SrNo3").value = "Select";
            }
        }
        else {
            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/ListOfBusiness/ListOfBusiness/checkSrNo",
                type: 'GET',
                data: {
                    LOBId: LOBId,
                    SrNo1: SrNo1,
                    SrNo2: SrNo2,
                    SrNo3: SrNo3
                },
                success: function (data) {
                    if (data) {
                        document.getElementById("SrNo3").value = "Select";
                        var message = '@Html.Raw(Resources.LOB.ParentSrNoNotExist)';
                        alert(message);

                    }
                }
            });
        }
    }

    function checkSrNo1() {
        checkSrNo2();
        checkSrNo3();
    }

    function checkSrNo2() {
        var LOBId = document.getElementById("LOBId").value;
        var SrNo1 = document.getElementById("SrNo1").value;
        var SrNo2 = document.getElementById("SrNo2").value;
        if (LOBId == null || LOBId == "" || SrNo2 == "Select") {
            checkSrNo3();
        }
        else {
            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/ListOfBusiness/ListOfBusiness/checkSrNo",
                type: 'GET',
                data: {
                    LOBId: LOBId,
                    SrNo1: SrNo1,
                    SrNo2: SrNo2
                },
                success: function (data) {
                    if (data) {
                        document.getElementById("SrNo2").value = "Select";
                        var message = '@Html.Raw(Resources.LOB.ParentSrNoNotExist)';
                        alert(message);

                    }
                    else {
                        checkSrNo3();
                    }
                }
            });
        }
    }




    function ShowLOBPreview() {
        var LOBId = document.getElementById("LOBId").value;
        var ResolutionId = document.getElementById("ResolutionId").value;

        if (LOBId != null && LOBId != "") {

            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/ListOfBusiness/ListOfBusiness/GeneratePdfLOBPreview",
                type: 'GET',
                data: {
                    LOBId: LOBId,
                    Resolution: ResolutionId
                },
                success: function (data) {
                    if (data) {
                      @*  document.getElementById("SrNo2").value = "Select";
                        var message = '@Html.Raw(Resources.LOB.ParentSrNoNotExist)';
                        alert(message);*@

                    }
                    else {
                        //checkSrNo3();
                    }
                }
            });
        }
    }



    function ChangeNature() {
        var NatureOfDocument = document.getElementById('NatureOfDocument').value;
        var accept = "";
        if (NatureOfDocument == "PDF") {
            accept = "application/pdf";
            document.getElementById("file").setAttribute("accept", accept);
        }
        if (NatureOfDocument == "PPT") {
            accept = "application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.slideshow,application/vnd.openxmlformats-officedocument.presentationml.presentation";
            document.getElementById("file").setAttribute("accept", accept);
            //alert("pending");
        }
        if (NatureOfDocument == "Video") {
            accept = "video/avi,video/mpg,video/mpeg,video/mp4";
            document.getElementById("file").setAttribute("accept", accept);
            //alert("pending");
        }
        $("#spanfile").text("");
    }
    function ChangeNature1() {
        var NatureOfDocument = document.getElementById('NatureOfDocument1').value;
        var accept = "";
        if (NatureOfDocument == "PDF") {
            accept = "application/pdf";
            document.getElementById("file1").setAttribute("accept", accept);
        }

        $("#spanfile1").text("");
    }

    function getDocumentListPDF() {
        var RecordId = document.getElementById("RecordId").value;
        var cl = new CanvasLoader('canvasloader-container2');
        cl.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/ListOfBusiness/ListOfBusiness/PartialDocumentGridPDF",
            type: 'GET',
            data: {
                RecordId: RecordId,
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                //   $("#DocumentGrid1").html(data);
                cl.hide();
            }
        });
    }

    function getDocumentList() {
        var RecordId = document.getElementById("RecordId").value;
        var cl = new CanvasLoader('canvasloader-container2');
        cl.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/ListOfBusiness/ListOfBusiness/PartialDocumentGridCorrigendum",
            type: 'GET',
            data: {
                RecordId: RecordId,
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#DocumentGrid").html(data);
                cl.hide();
            }
        });
    }

    function CheckFile() {
        $("#spanfile").text("");
        var NatureOfDocument = document.getElementById('NatureOfDocument').value;
        if (NatureOfDocument == "PDF") {
            checkPDF();
        }
        if (NatureOfDocument == "PPT") {
            checkPPT();
        }
        if (NatureOfDocument == "Video") {
            checkVideo();
        }
    }

    function CheckFile1() {
        $("#spanfile1").text("");
        var NatureOfDocument = document.getElementById('NatureOfDocument1').value;
        if (NatureOfDocument == "PDF") {
            checkPDF1();
        }

    }
    function checkPDF1() {
        //  alert("test");
        var file = getNameFromPath($("#file1").val());
        // alert("file" + file);
        if (file != null) {
            var extension = file.substr((file.lastIndexOf('.') + 1));
            // alert(extension);
            switch (extension) {
                case 'pdf':
                    flag = true;
                    break;
                default:
                    flag = false;
            }
        }
        if (flag == false) {
            var val1 = '@Resources.LOB.Youcanupload'
            $("#spanfile1").text(val1);
            $("#file1").val("");
            return false;
        }
        else {
         @*   var size = GetFileSize1("file1");
            if (size > 3145728) {
                var val2 = '@Resources.LOB.Youcanuploadfile'
                $("#spanfile1").text(val2);
                $("#file1").val("");
                return false;
            }
            else {*@
            $("#spanfile1").text("");
            return true;
            //}
        }
    }

    function checkPPT() {
        //  alert("test");
        var file = getNameFromPath($("#file").val());
        // alert("file" + file);
        if (file != null) {
            var extension = file.substr((file.lastIndexOf('.') + 1));
            // alert(extension);
            switch (extension) {


                case 'ppt':
                    flag = true;
                    break;
                default:
                    flag = false;
            }
        }
        if (flag == false) {
            var val1 = '@Resources.LOB.Youcanupload2'
            $("#spanfile").text(val1);
            $("#file").val("");
            return false;
        }
        @*else {
            var size = GetFileSize1("file");
            if (size > 3145728) {
                var val2 = '@Resources.LOB.Youcanuploadfile'
                $("#spanfile").text(val2);
                $("#file").val("");
                return false;
            }
            else {
                $("#spanfile").text("");
                return true;
            }
        }*@
    }

    function checkVideo() {
        //  alert("test");
        var file = getNameFromPath($("#file").val());
        // alert("file" + file);
        if (file != null) {
            var extension = file.substr((file.lastIndexOf('.') + 1));
            //  alert(extension);
            // alert(extension);
            switch (extension) {

                case 'avi':
                case 'mpg':
                case 'mpeg':
                case 'MP4':
                case 'mp4':
                    flag = true;
                    break;
                default:
                    flag = false;
            }
        }
        if (flag == false) {
            var val1 = '@Resources.LOB.Youcanupload1'
            $("#spanfile").text(val1);
            $("#file").val("");
            return false;
        }
        @*else {
            var size = GetFileSize1("file");
            if (size > 3145728) {
                var val2 = '@Resources.LOB.Youcanuploadfile'
                $("#spanfile").text(val2);
                $("#file").val("");
                return false;
            }
            else {
                $("#spanfile").text("");
                return true;
            }
        }*@
    }


    function checkPDF() {
        //  alert("test");
        var file = getNameFromPath($("#file").val());
        // alert("file" + file);
        if (file != null) {
            var extension = file.substr((file.lastIndexOf('.') + 1));
            // alert(extension);
            switch (extension) {
                case 'pdf':
                    flag = true;
                    break;
                default:
                    flag = false;
            }
        }
        if (flag == false) {
            var val1 = '@Resources.LOB.Youcanupload'
            $("#spanfile").text(val1);
            $("#file").val("");
            return false;
        }
        else {
            var size = GetFileSize1("file");
            if (size > 3145728) {
                var val2 = '@Resources.LOB.Youcanuploadfile'
                $("#spanfile").text(val2);
                $("#file").val("");
                return false;
            }
            else {
                $("#spanfile").text("");
                return true;
            }
        }
    }

    function getNameFromPath(strFilepath) {
        var objRE = new RegExp(/([^\/\\]+)$/);
        var strName = objRE.exec(strFilepath);

        if (strName == null) {
            return null;
        }
        else {
            return strName[0];
        }
    }

    function GetFileSize1(fileid) {
        try {
            var fileSize = 0;
            //for IE
            //if ($.browser.msie) 
            //{
            //    //before making an object of ActiveXObject, 
            //    //please make sure ActiveX is enabled in your IE     browser
            //    var objFSO = new ActiveXObject

            ("Scripting.FileSystemObject"); var filePath = $("#" + fileid)[0].value;
            //    var objFile = objFSO.getFile(filePath);
            //    var fileSize = objFile.size; //size in kb
            //    fileSize = fileSize / 1048576; //size in mb 
            //}
            //    //for FF, Safari, Opeara and Others
            //else 
            //{
            //    fileSize = $("#" + fileid)[0].files[0].size //size in     kb
            //    fileSize = fileSize / 1048576; //size in mb 
            //}
            fileSize = $("#" + fileid)[0].files[0].size //size in kb
            //fileSize = fileSize / 1048576; //size in mb 
            return fileSize;
        }
        catch (e) {
            alert(e);
        }
    }

    function uploadfile1() {

        var file = document.getElementById('file1').value;
        var Sessiondate = document.getElementById("Sessiondate").value;
        if (Sessiondate != null && Sessiondate != "") {

            if (file == null || file == "") {
                var alert1 = '@Html.Raw(Resources.LOB.PleaseSelectAFile)';
                alert(alert1)
            }
            else {
                var cl = new CanvasLoader('canvasloader-container5');
                cl.show();
                $.ajaxSetup({ cache: false });
                var file = document.getElementById('file1');
                //alert(file + "file");
                var NatureOfDocument = document.getElementById('NatureOfDocument1').value;
                var ActionDocumentType = document.getElementById('ActionDocumentType1').value;
                var LOBId = document.getElementById('LOBId').value;
                var RecordId = document.getElementById('RecordId').value;

                var SrNo1 = document.getElementById('SrNo1').value;
                var SrNo2 = document.getElementById('SrNo2').value;
                var SrNo3 = document.getElementById('SrNo3').value;
                var Sr = "";
                if (SrNo1 != null && SrNo1 != "Select") {
                    Sr = SrNo1;
                    if (SrNo2 != null && SrNo2 != "Select") {
                        Sr = Sr + "_" + SrNo2;
                        if (SrNo3 != null && SrNo3 != "Select") {
                            Sr = Sr + "_" + SrNo3;
                        }
                    }
                }


                var fd = new FormData();
                fd.append('file', file.files[0]);
                fd.append('addLines', $('#FormLine').serialize());
                fd.append('NatureOfDocument', NatureOfDocument);
                fd.append('ActionDocumentType', ActionDocumentType);
                fd.append('LOBId', LOBId);
                fd.append('RecordId', RecordId);
                fd.append('Sr', Sr);
                fd.append('Sessiondate', Sessiondate);
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/ListOfBusiness/ListOfBusiness/UploadDocument', true);
                xhr.onreadystatechange = function (data) {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var ret = xhr.responseText;

                        ret = ret.substring(1, ret.length - 1);
                        //  alert(ret);
                        var record = ret.split(',');
                        //alert(record[0]);
                        //alert(record[1]);
                        document.getElementById('RecordId').value = record[0];
                        document.getElementById('LOBId').value = record[1];
                        document.getElementById('NewPdfPath').value = record[2];
                        document.getElementById("NatureOfDocument1").value = "PDF";
                        document.getElementById("ActionDocumentType1").value = "Orignal";


                        $('#fileForUpload').html(getNameFromPath($("#file1").val()));

                        document.getElementById("file1").value = "";
                        alert('File successfully Uploaded');
                        cl.hide();
                    }
                    else {
                        cl.hide();
                        // alert('Some thing went wrong !');
                    }
                };
                xhr.send(fd);
            }
        }
        else {
            var alert1 = '@Html.Raw(Resources.LOB.PleaseSelectSessionDate)';
            alert(alert1)
        }
    }


    function uploadfile() {

        var file = document.getElementById('file').value;
        if (file == null || file == "") {
            var alert1 = '@Html.Raw(Resources.LOB.PleaseSelectAFile)';
            alert(alert1)
        }
        else {
            var cl = new CanvasLoader('canvasloader-container5');
            cl.show();
            $.ajaxSetup({ cache: false });
            var file = document.getElementById('file');
            //alert(file + "file");
            var NatureOfDocument = document.getElementById('NatureOfDocument').value;
            //   var ActionDocumentType = document.getElementById('ActionDocumentType').value;
            var ActionDocumentType = "";
            var LOBId = document.getElementById('LOBId').value;
            var RecordId = document.getElementById('RecordId').value;


            var fd = new FormData();
            fd.append('file', file.files[0]);
            fd.append('addLines', $('#FormLine').serialize());
            fd.append('NatureOfDocument', NatureOfDocument);
            fd.append('ActionDocumentType', ActionDocumentType);
            fd.append('LOBId', LOBId);
            fd.append('RecordId', RecordId);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/ListOfBusiness/ListOfBusiness/UploadDocument', true);
            xhr.onreadystatechange = function (data) {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var ret = xhr.responseText;

                    ret = ret.substring(1, ret.length - 1);
                    //  alert(ret);
                    var record = ret.split(',');
                    //alert(record[0]);
                    //alert(record[1]);
                    document.getElementById('RecordId').value = record[0];
                    document.getElementById('LOBId').value = record[1];
                    document.getElementById('NewPdfPath').value = record[2];
                    document.getElementById("NatureOfDocument").value = "PDF";
                    // document.getElementById("ActionDocumentType").value = "Orignal";
                    document.getElementById("file").value = "";
                    //  getDocumentList();
                    alert('File successfully Uploaded');
                    cl.hide();
                }
                else {
                    cl.hide();
                    // alert('Some thing went wrong !');
                }
            };
            xhr.send(fd);
        }
    }


    function UpdateLineRecord() {
        SaveUpdateLine();
    }

    function SaveLine() {
        $.ajaxSetup({ cache: false });
        var LOBId = document.getElementById("LOBId").value;
        if (LOBId == null || LOBId == "") {
            SaveUpdateLine();
        }
        else {
            var SrNo1 = document.getElementById("SrNo1").value;
            var SrNo2 = document.getElementById("SrNo2").value;
            var SrNo3 = document.getElementById("SrNo3").value;
            $.ajax({
                url: "/ListOfBusiness/ListOfBusiness/ValidateRecord",
                type: 'GET',
                data: {
                    LOBId: LOBId,
                    SrNo1: SrNo1,
                    SrNo2: SrNo2,
                    SrNo3: SrNo3
                },
                success: function (data) {
                    //  return data;
                    //alert();
                    if (!data) {
                        SaveUpdateLine();
                    }
                    else {
                        var message = '@Html.Raw(Resources.LOB.SrNoSequenceAlreadyExist)';
                        alert(message);
                    }
                }
            });
        }
    }


    function SaveUpdateLine() {
        var validationSummary = "";
        var Date = $('#TopLevelDomains').val();
        //   alert("$('#ConcernedEventId').val()" + $('#ConcernedEventId').val());
        if ($('#TextLOB').val() == "" || $('#Sessiondate').val() == "" || $('#Sessiondate').val() == "Select" || $('#ConcernedEventId').val() == "0" || $('#ConcernedEventId').val() == "Select") {
            if ($('#TextLOB').val() == "") {
                var val1 = '@Html.Raw(Resources.LOB.PleaseEnterBusiness)';
                validationSummary = "- " + val1 + " ";
            }
            if ($('#Sessiondate').val() == "" || $('#Sessiondate').val() == "Select") {
                var val1 = '@Html.Raw(Resources.LOB.PleaseSelectSessionDate)';
                if (validationSummary != "") {
                    validationSummary = validationSummary + "\n" + "- " + val1;
                }
                else {
                    validationSummary = "- " + val1;
                }
            }
            if ($('#ConcernedEventId').val() == "0" || $('#ConcernedEventId').val() == "") {
                var val1 = '@Html.Raw(Resources.LOB.PleaseSelectConcernedEventId)';
                if (validationSummary != "") {
                    validationSummary = validationSummary + "\n" + "- " + val1;
                }
                else {
                    validationSummary = "- " + val1;
                }
            }
            alert(validationSummary);

        }
        else if ($('#ConcernedEventId').val() == "5" || $('#ConcernedEventId').val() == "6" || $('#ConcernedEventId').val() == "31" || $('#ConcernedEventId').val() == "36" || $('#ConcernedEventId').val() == "72") {
            var papertempid = $("#PaperLaidIdTemp").val();
            var paperlaidid = $("#PaperLaidId").val();
            var billpartone = $("#tbBillNumber").val();
            var sessionbill = $("#spbillnumber").text();
            var tbBillTittle = $("#tbBillTittle").val();
            debugger;

            var lobid = document.getElementById("LOBId").value;
            var recordid = document.getElementById('RecordId').value;
            var newpath = document.getElementById('NewPdfPath').value;

            if (newpath != null && newpath != "") {
                if (billpartone == "" || billpartone == null) {
                    alert("Please provide bill number and bill title for selected event type");
                    return false;
                }
                else if (tbBillTittle == "" || tbBillTittle == null) {
                    alert("Please provide bill number and bill title for selected event type");
                    return false;
                }
                else {
                    savelinewithcondition();
                }

            }
            else if (paperlaidid != "" && paperlaidid != null) {
                if (billpartone == "" || billpartone == null) {
                    alert("Please provide bill number and bill title for selected event type");
                    return false;
                }
                else if (tbBillTittle == "" || tbBillTittle == null) {
                    alert("Please provide bill number and bill title for selected event type");
                    return false;
                }
                else {
                    savelinewithcondition();
                }
            }
            else if (billpartone != "" && billpartone != null) {
                if (paperlaidid == "" || paperlaidid == null) {
                    if (newpath == null || newpath == "") {
                        alert("Please select file for attachment");
                        return false;
                    }
                    else {
                        savelinewithcondition();
                    }
                }

            }
            else if (tbBillTittle != "" && tbBillTittle != null) {
                if (paperlaidid == "" || paperlaidid == null) {
                    if (newpath == null || newpath == "") {
                        alert("Please select file for attachment");
                        return false;
                    }
                    else {
                        savelinewithcondition();
                    }
                }

            }

            else {

                $.ajaxSetup({ cache: false });
                var cl = new CanvasLoader('canvasloader-container2');
                cl.show();
                $.ajax({
                    url: "/ListOfBusiness/ListOfBusiness/SaveLines",
                    type: 'POST',
                    data: $('#FormLine').serialize(),
                    success: function (data) {
                        document.getElementById("LOBId").value = data;
                        RenderLineEntryForm();
                        // setDefault();
                        getLineList();
                        // var message = '@Html.Raw(Resources.LOB.SavedSuccessfully)';
                            // alert(message);
                            cl.hide();
                        }
                    });
                }

}
        else {

            $.ajaxSetup({ cache: false });
            var cl = new CanvasLoader('canvasloader-container2');
            cl.show();
            $.ajax({
                url: "/ListOfBusiness/ListOfBusiness/SaveCorrigendumLines",
                type: 'POST',
                data: $('#FormLine').serialize(),
                success: function (data) {
                    var record = data.split(',');
                    //alert(record[0]);
                    //alert(record[1]);
                    document.getElementById('LOBId').value = record[0];
                    //document.getElementById('LOBId').value = record[1];
                    // document.getElementById("LOBId").value = data;

                    RenderLineEntryFormCorri();
                    // setDefault();
                    getLineListCorri();
                    // var message = '@Html.Raw(Resources.LOB.SavedSuccessfully)';
                    // alert(message);
                    cl.hide();
                }
    });
}
}

function savelinewithcondition() {
    $.ajaxSetup({ cache: false });
    var cl = new CanvasLoader('canvasloader-container2');
    cl.show();
    $.ajax({
        url: "/ListOfBusiness/ListOfBusiness/SaveCorrigendumLines",
        type: 'POST',
        data: $('#FormLine').serialize(),
        success: function (data) {
            var record = data.split(',');
            //alert(record[0]);
            //alert(record[1]);
            document.getElementById('LOBId').value = record[0];
            //document.getElementById('LOBId').value = record[1];
            // document.getElementById("LOBId").value = data;

            RenderLineEntryFormCorri();
            // setDefault();
            getLineListCorri();
            // var message = '@Html.Raw(Resources.LOB.SavedSuccessfully)';
                    // alert(message);
                    cl.hide();
                }
    });
}




function setDefault() {
    document.getElementById("SrNo1").value = "1";
    document.getElementById("SrNo2").value = "Select";
    document.getElementById("SrNo3").value = "Select";

    $("#TextLOB").val("");
    document.getElementById("TextLOB").value = "";
    // document.getElementById("ConcernedMemberId").value = "0";
    //document.getElementById("ConcernedDeptId").value = "0";
    //   document.getElementById("ConcernedCommitteeId").value = "0";
    document.getElementById("NatureOfDocument").value = "PDF";
    // document.getElementById("ActionDocumentType").value = "Orignal";
    document.getElementById('RecordId').value = "";

    document.getElementById('SrNo1').style.display = "block";
    document.getElementById('SrNo2').style.display = "block";
    document.getElementById('SrNo3').style.display = "block";
    document.getElementById('SrNo2').removeAttribute("disabled");
    document.getElementById('SrNo3').removeAttribute("disabled");

    document.getElementById('UpdateSrNo1').style.display = "none";
    document.getElementById('UpdateSrNo2').style.display = "none";
    document.getElementById('UpdateSrNo3').style.display = "none";

    var sessiondate = document.getElementById("Sessiondate").value;
    document.getElementById("file").value = "";

    var html = "<option value='" + sessiondate + "' > " + sessiondate + " </option>";
    // getDocumentList();
    //getDocumentListPDF();
    document.getElementById("Sessiondate").innerHTML = html;
    //$("#accordion")
    //  .accordion({
    //      header: "> div > h3",
    //      autoHeight: false,
    //      collapsible: true,
    //      active: 0
    //  });
}

//$(function () {
//    $("#accordion")
//      .accordion({
//          header: "> div > h3",
//          autoHeight: false,
//          collapsible: true,
//          active: 0
//      })
//      .sortable({
//          axis: "y",
//          handle: "h3",
//          stop: function (event, ui) {
//              // IE doesn't register the blur when sorting
//              // so trigger focusout handlers to remove .ui-state-focus
//              ui.item.children("h3").triggerHandler("focusout");
//          }
//      });

//});
</script>
