﻿@model SBL.eLegistrator.HouseController.Web.Areas.ListOfBusiness.Models.LOBModel


<link href="~/Content/SBL/typography.css" rel="stylesheet" />


@using Resources
@{ 
    int count = 0;
    int startpage = 0;
    int endPage = 0; 
}

@{
                
    float rcnt = @Model.ResultCount;
    float rperPage = @Model.RowsPerPage;
    float cnt = rcnt / rperPage;
    int b = (int)cnt; ;
    float c = (float)cnt - b;
                
}
@if (c > 0)
{
    count = b + 1;
}
else
{
    count = b;
}
@{
    startpage = ((@Model.selectedPage * 50) - 50) + 1;
    endPage = startpage + 49;
           
}
@if (Model.loopStart <= 0)
{
    Model.loopStart = 1;
    Model.loopEnd = 5;
}


<div><b> @Resources.LOB.PendingLOB : </b></div>
<br />
     <div class="grid_cantainer">
    <div class="grid-ex-footer">
        <div class="grid-pagination">
            @if (count > 0)
            {
                if (count < Model.loopEnd)
                {
                    Model.loopEnd = count;
                }
                <a href="#" onclick="NextButton(@Model.RowsPerPage,1,1,5)"  class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">first page</span></a>
                if (Model.loopStart > 5)
                {                           
                <a href="#" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)"  class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">previous page</span></a>                                          
                }
                <ul class="gridpage-numbers">
                    @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                    {
                        if (i == @Model.selectedPage)
                        {
                                    
                        <li><span class="grid-page-selected">@i</span></li>
                        }
                        else
                        {
                        <li><a href="#"   onclick="NextButton(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                        }
                    }
                </ul>
                    if (Model.loopStart + 5 < @count)
                    {
                <a href="#" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)"  class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">next page</span></a>                         
                    }
                <a href="#" onclick="NextButton(@Model.RowsPerPage,@count,@count-5,@count)"  class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">last page</span></a>
                <span class="grid-page-info">@Model.loopStart - @Model.loopEnd Of @count Pages.</span>
            }
        </div>
    </div>

    
<table style="width:100%">
   

    @if (Model.ListLOBBYId != null)
    {
        if (Model.ListLOBBYId.Count > 0)
        {

    <tr>
        <th id="th1" class="grid_th" style="border-width: 1.5px; text-align: center;width:15%">
           <b> @Resources.LOB.Assembly</b>
        </th>
        <th  id="th2" class="grid_th" style="border-width: 1.5px; text-align: center;width:20%">
           <b> @Resources.LOB.Session</b>
        </th>
        <th id="th3" class="grid_th" style="border-width: 1.5px; text-align: center; width:10%">
           <b> @Resources.LOB.SessionDate</b>
        </th>
        <th  id="th4" class="grid_th" style="border-width: 1.5px; text-align: center; width:5%">
           <b> @Resources.LOB.lblLOB</b>
        </th>       
        <th  id="th8" class="grid_th" style="border-width: 1.5px; text-align: center; width:10%">
            <b> @Resources.LOB.ApprovedDate </b>
        </th>
        <th  id="th9" class="grid_th" style="border-width: 1.5px; text-align: center; width:20%">
            <b> @Resources.LOB.Actions </b>
        </th>
    </tr>
   

            foreach (var item in Model.ListLOBBYId)
        {
    <tr style="height:40px">
        <td style="text-align: center">
            @item.AssemblyName
        </td>
        <td style="text-align: center">
            @item.SessionName
        </td>
        <td style="text-align: center">
            @if(item.SessionDate!=null)
            {
               <div> @Convert.ToDateTime(item.SessionDate).ToString("dd/MM/yyyy")</div>
            }
            
        </td>
        <td style="text-align:center">

             @Html.ActionLink(Resources.LOB.lblLOB, "ShowSubmittedApprovedLOB", "ListOfBusiness", new { LOBId = item.LOBId }, new { target = "_blank", @class = "classname" })

            @*<div style="padding-left: 5px; text-decoration: underline; color: blue;cursor:pointer;" onclick="LoadLobAsPdf('@item.LOBId')">
                LOB AS PDF
            </div>*@
        </td>
        <td style=" text-align: center;">
             @if (item.ApproverdDate != null)
            {
               <div> @Convert.ToDateTime(item.ApproverdDate).ToString("dd/MM/yyyy")</div>
            }
            

           @* <div style="padding-left: 5%">
                <button type="button" id="Updateline" class="small-button blue" onclick="UpdateLOB('@item.LOBId')" style="height: 30px; margin-right:10px">@Resources.LOB.Update</button>
            </div>
            <div style="margin: -30px 0 0 36%;">
                <button type="button" id="Deleteline" class="small-button blue" onclick="DeleteLOB('@item.LOBId')" style="height: 30px; margin-right:10px">@Resources.LOB.Delete</button>
            </div>
             <div style="margin: -30px 0 0 64%;">
                <button type="button" id="Submitline" class="small-button blue" onclick="SubmitLOB('@item.LOBId')" style="height: 30px; margin-right:10px">@Resources.LOB.Submit</button>
            </div>*@
        </td>

         <td style=" text-align: center;">
             @if (item.ApproverdDate != null)
            {
              
            <div style="padding-left: 5%">
                <button type="button" id="ReturnApprovedLOB" class="small-button blue" onclick="ReturnApprovedLOB('@item.LOBId')" style="height: 30px; margin-right:40%">@Resources.LOB.Return</button>
            </div>
            <div style="margin: -30px 0 0 36%;">
                <button type="button" id="ApproveApprovedLOB" class="small-button blue" onclick="PublishApprovedLOB('@item.LOBId')" style="height: 30px; margin-right:10px">@Resources.LOB.Publish</button>
            </div>
             
            }
            

        </td>
    </tr>
        }
        }
        else
        {
        <tr>
            <td>
                <div>No Record Found!</div>
            </td>
        </tr>
        
        }
    }
    else
    {
        <tr>
            <td>
                <div>No Record Found!</div>
            </td>
        </tr>
        
    }
</table>

      <div class="grid-ex-footer">
        <div class="grid-pagination">
            @if (count > 0)
            {
                if (count < Model.loopEnd)
                {
                    Model.loopEnd = count;
                }
                <a href="#" onclick="NextButton(@Model.RowsPerPage,1,1,5)"  class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">first page</span></a>
                if (Model.loopStart > 5)
                {                           
                <a href="#" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)"  class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">previous page</span></a>                                          
                }
                <ul class="gridpage-numbers">
                    @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                    {
                        if (i == @Model.selectedPage)
                        {
                                    
                        <li><span class="grid-page-selected">@i</span></li>
                        }
                        else
                        {
                        <li><a href="#"   onclick="NextButton(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                        }
                    }
                </ul>
                    if (Model.loopStart + 5 < @count)
                    {
                <a href="#" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)"  class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">next page</span></a>                         
                    }
                <a href="#" onclick="NextButton(@Model.RowsPerPage,@count,@count-5,@count)"  class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">last page</span></a>
                <span class="grid-page-info">@Model.loopStart - @Model.loopEnd Of @count Pages.</span>
            }
        </div>
    </div>
    </div>  


<script>

    function NextButton(rPage, pageNo, lStart, lEnd) {
        
        var pageNumber = pageNo;
        var rowsPerPage = rPage;
        var loopStart = lStart;
        var loopEnd = lEnd

        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/ListOfBusiness/ListOfBusiness/PartialPendingPublishLOB",
            type: 'GET',
            data: {
                PageNumber: pageNumber,
                RowsPerPage: rowsPerPage,
                loopStart: loopStart,
                loopEnd: loopEnd
            },
            success: function (data) {
                clearHTML();
                $("#divPendingPublishLOB").html(data);
                document.getElementById("divSubmittedPublishLOB").style.display = "none";
                document.getElementById("divPendingPublishLOB").style.display = "block";
                cl.hide();
            }
        });       

    }

    function NextAndPreviousButton(rPage, pageNo, lStart, lEnd) {

        
        var pageNumber = pageNo;
        var rowsPerPage = rPage;
        var loopStart = lStart;
        var loopEnd = lEnd
       
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/ListOfBusiness/ListOfBusiness/PartialPendingPublishLOB",
            type: 'GET',
            data: {
                PageNumber: pageNumber,
                RowsPerPage: rowsPerPage,
                loopStart: loopStart,
                loopEnd: loopEnd
            },
            success: function (data) {
                clearHTML();
                $("#divPendingPublishLOB").html(data);
                document.getElementById("divSubmittedPublishLOB").style.display = "none";
                document.getElementById("divPendingPublishLOB").style.display = "block";
                cl.hide();
            }
        });


    }


    function ReturnApprovedLOB(LOBId) {
        var aler = '@Html.Raw(Resources.LOB.AreyousurewanttoReturnthisLOB)';

        var r = confirm(aler);
        if (r == true) {

            $.ajax({
                url: "/ListOfBusiness/ListOfBusiness/ReturnApprovedLOB",
                type: 'GET',
                data: {
                    LOBId: LOBId
                },
                success: function (data) {

                    var aler1 = '@Html.Raw(Resources.LOB.ReturnSuccessfully)';
                    alert(aler1);
                    PendingPublishLOB();
                }
            });
        } else {
        }
    }


    function PublishApprovedLOB(LOBId) {
        var aler = '@Html.Raw(Resources.LOB.AreyousurewanttoPublishthisLOB)';

        var r = confirm(aler);
        if (r == true) {
            var cl = new CanvasLoader('canvasloader-container1');
            cl.show();
            $.ajax({
                url: "/ListOfBusiness/ListOfBusiness/PublishApprovedLOB",
                type: 'GET',
                data: {
                    LOBId: LOBId
                },
                success: function (data) {
                    var aler1 = '@Html.Raw(Resources.LOB.PublishSuccessfully)';
                    alert(aler1);
                    PendingPublishLOB();
                    cl.hide();
                }
            });
        } else {

        }
    }

</script>