﻿@model SBL.eLegistrator.HouseController.Web.Areas.VehiclePasses.Models.VehicleViewModel
@{
    int count = 0;
}

<!-- #section:settings.box -->

<div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">

    <button id="Transferbtn" class="btn  btn-sm btn-info" onclick="TransferPassRequest()" style="display: none;">
        <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
        <span class="bigger-110">@Resources.PaperLaidDepartment.LastSessionToCurrentSession</span>
    </button>

    <button id="btnNew" class="btn  btn-sm btn-info" onclick="AddVehiclePassRequest()" style="display: none;">
        <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
        <span class="bigger-110">@Resources.PaperLaidDepartment.New</span>
    </button>
</div>

<div class="page-header">
    <h1>@Resources.PublicPasses.VehiclePassForEmp
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            @Resources.PublicPasses.VehiclePassrequiredforEmployees
        </small>
    </h1>
</div>
<div class="page-headerFilter" style="padding-bottom: 45px;">
    @Html.Partial("_PassTypeFilterView", Model)
</div>
<!-- /section:settings.box -->
<div class="row">
    <div class="col-xs-12">
        <div class="table-header">
            @Resources.PublicPasses.VehicleEmployeeList
        </div>

        <div id='PhotoModel' class="hide">
            <div id='ShowPhotoModel' style="text-align: center">
            </div>
        </div>

        <!-- PAGE CONTENT BEGINS -->
        <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
        <div class="pass-table">

            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                @if (Model.VehiclePassList != null)
                {
                    if (Model.VehiclePassList.Count() > 0)
                    {
                    
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">
                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">#</th>
                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">RequestID</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.PaperLaidDepartment.Name</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1">Vehicle No.</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Recomended By: activate to sort column ascending">@Resources.PaperLaidDepartment.Gender</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Request Date: activate to sort column ascending" style="width: 65px;">@Resources.PaperLaidDepartment.Age</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">@Resources.PaperLaidDepartment.MobileNumber</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">@Resources.PaperLaidDepartment.Department</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">SessionDate From - To</th>
                                <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Status</th>
                                <th class="sorting_disabled" id="HideThForSession" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.VehiclePassList)
                            {
                                count = count + 1;
                                string style = (count % 2 == 0) ? "odd" : "even";

                                var trID = @item.PassID;
                                
                                <tr class="@style" id="@trID">
                                    <td>
                                        @if (Model.ValidateSessionID == Model.SessionCode)
                                        {
                                            if (item.IsRequested)
                                            {
                                            <input type="checkbox" checked="checked" title="Sent" disabled="disabled" />
                                            }
                                            else
                                            {
                                                string func = "return CheckPassID(" + "'" +
                                                   item.PassID + "'," + "'" + item.SessionDateFrom + "');";
                                            <input type="checkbox" onclick="@func"/>
                                            }
                                        }
                                        else
                                        {
                                            <input id="check @item.PassID" type="checkbox" onchange="checkChange(this.id)" />
                                        }
                                    </td>
                                    <td class=" ">@count</td>
                                    <td class=" ">@item.RequestdID</td>
                                    <td class="">@item.Name</td>
                                    <td class="">@item.VehicleNumber</td>
                                    <td class=" ">@item.Gender</td>
                                    <td class="hidden-480 ">@item.Age</td>
                                    <td class=" ">@item.MobileNo</td>
                                    <td class=" ">@item.OrganizationName</td>
                                    <td class=" ">@item.SessionDateFrom - @item.SessionDateTo</td>
                                    @Html.Hidden("SeeionCodeTD", Model.ValidateSessionID)
                                    @if (item.IsRequested)
                                    {
                                        <td class=" ">
                                            @if (item.IsApproved)
                                            { <span class="label label-sm label-success">Approved</span> }
                                            else
                                            { <span class="label label-sm label-warning">Requested</span> }
                                        </td>
                                    }
                                    else
                                    {
                                        <td class=" ">
                                            <span class="label label-sm label-warning">Not Requested</span>
                                        </td>
                                    }
                                    <td class="HideTdBaseOnSession">
                                        @if (Model.ValidateSessionID == Model.SessionCode)
                                        {
                                            <div class="hidden-sm hidden-xs action-buttons">
                                                @if (!item.IsRequested)
                                                {
                                                    <a title="Send" onclick="SubmitDepartmentPass(@item.PassID)" href="javascript:void(0);" class="blue">
                                                        <i class="ace-icon fa fa-check-square-o bigger-130"></i>
                                                    </a>
                                                    <a title="Edit" onclick="EditPassRequest(@item.PassID)" href="javascript:void(0);" class="green">
                                                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                    </a>
                                                }
                                                <a title="View Full Details" onclick="FullPassDetails(@item.PassID)" href="javascript:void(0);" class="green">
                                                    <i class="ace-icon fa fa-eye bigger-130"></i>
                                                </a>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-xs-1" id="ButtonGroup">
                            <button type="submit" value="Add" id="AddButton" class="btn btn-info" onclick="SubmitSelectedDepartmentPass()"><i class="ace-icon fa fa-check-square-o bigger-130"></i>Send</button>
                        </div>
                        <div style="padding-top: 1%; padding-left: 10%;">
                            <span class="label label-large label-pink arrowed-in-right arrowed">@Resources.PaperLaidDepartment.SendingselectedemployeesVidhanSabha</span>
                        </div>
                    </div>
                    <!-- PAGE CONTENT ENDS -->
                    }
                    else
                    {
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-info">
                                @Resources.PublicPasses.VehicleEmployeePassRequest

                            </div>
                        </div>
                    </div>
                    }
                }
            </div>
        </div>

        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>

<div id='fullDetailsModel' class="hide">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>

@Html.Partial("_ConfirmationBox")

<!-- /.page-content -->
<script type="text/javascript" src="/Scripts/jquery-1.7.min.js"></script>
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>
<script src="~/assets/js/CommonNotify.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>


<script type="text/javascript">

    $(document).ready(function () {

        var SessionDropDownVal = $("#DdlSession").val();
        //alert(SessionDropDownVal);
        $.ajax({
            url: "/VehiclePasses/VehiclePassMinister/GetSession",
            type: 'GET',
            success: function (data) {

                if (data != SessionDropDownVal) {

                    $("#Transferbtn").show();
                    $("#btnNew").hide();

                    $("#AddButton").hide();


                    return false;
                }
                else {

                    $("#Transferbtn").hide();
                    $("#btnNew").show();
                    return false;
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
                cl5.hide();
            }
        });


    });

    function CheckFunction() {
        var SessionTdValue = $("#SeeionCodeTD").val();
        var SessionDropDownVal = $("#DdlSession").val();

        if (SessionTdValue != SessionDropDownVal) {
            $("#HideThForSession").hide();
            $(".HideTdBaseOnSession").hide();
        }
        else {
            $(".HideTdBaseOnSession").show();
            $("#HideThForSession").show();
        }

    }
</script>
<script>

    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
              { "bSortable": false },
              ////null, null, null, null, null, null, null, null,null, { "bSortable": false },
              { "bSortable": false }
            ]
        });
    });

    function FullPassDetails(PassID) {
        var pathurl = '@Url.Action("FullPassDetails", "VehiclePassMinister")';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                Id: PassID
            },
            success: function (data) {

                $('#ShowfullDetailsModel').html("");
                $('#ShowfullDetailsModel').html(data);

                var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-eye green'></i> Full Details</h4></div>",
                    width: 600,
                    title_html: true,
                    buttons: [
                        {
                            text: "OK",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

            }
        });
    }
    function CheckPassID(PassIDs, SessionDate) {
        if (SessionDate == "") {
            ShowNotification("error", "Please Session Date Update First !!!.....");
            //  alert("Please Session Date Update First !!!");
            return false;
        }
        else {

            var selectedPassId = $("#SelectedChkbxId").val();
            if (selectedPassId == "") {

                $("#SelectedChkbxId").val(PassIDs);
            }
            else {

                selectedPassId = selectedPassId + "," + PassIDs;
                $("#SelectedChkbxId").val(selectedPassId);
            }

        }
    }

    function checkChange(id) {
        if (document.getElementById(id).checked) {
            var selectedId = document.getElementById("SelectedChkbxId").value;
            if (selectedId == "") {
                document.getElementById("SelectedChkbxId").value = id.substring(6);
            }
            else {
                selectedId = selectedId + "," + id.substring(6);
                document.getElementById("SelectedChkbxId").value = selectedId;
            }
        }
        else {
            var selectedId = document.getElementById("SelectedChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(6), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(6) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(6), "");
            }
            document.getElementById("SelectedChkbxId").value = newvalue;
        }
    }

    function confirmTest() {
        if (ConfirmBox()) {
            alert("Confirm box yes");
        }
        else {
            alert("Confirm box no");
        }
    }

    function ConfirmBox() {
        var defer = $.Deferred();
        $("#dialog-confirmBox").removeClass('hide').dialog({
            resizable: false,
            modal: true,
            title: "Hello How are you?",
            title_html: true,
            buttons: [
                {
                    html: "&nbsp; Yes",
                    "class": "btn btn-primary",
                    click: function () {
                        defer.resolve("true");
                        $(this).dialog("close");
                    }
                }
                ,
                {
                    html: "&nbsp; Cancel",
                    "class": "btn btn-primary",
                    click: function () {
                        defer.resolve("false");
                        $(this).dialog("close");
                    }
                }
            ]
        });
        return $("#dialog-confirmBox").dialog("open");
    }

    function TransferPassRequest() {
        var PassIDs = document.getElementById("SelectedChkbxId").value;
        // alert(PassIDs);
        if (PassIDs != "" && PassIDs != null) {
            $("#dialog-confirmBox").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "Minister Entry Pass",
                title_html: true,
                buttons: [
                    {
                        html: "&nbsp; Yes",
                        "class": "btn btn-primary",
                        click: function () {
                            // if (confirm("Are you sure to transfer ?")) {

                            var cl5 = new CanvasLoader('canvasloader-container3');
                            cl5.show();
                            $.ajaxSetup({ cache: false });
                            $.ajax({
                                url: "/VehiclePasses/VehiclePassMinister/TransferSelectedDepartmentPass",
                                type: 'GET',
                                data: {
                                    PassIDs: PassIDs
                                },
                                success: function (data) {
                                    ShowNotification("success", "Transferred Successfully .....");
                                    GetCurrentSessionReq();
                                    cl5.hide();
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    alert(xhr.status);
                                    alert(thrownError);
                                    cl5.hide();
                                }
                            });
                            // }
                            //else {
                            //   return false;
                            //}
                            $(this).dialog("close");
                        }
                    }
                    ,
                    {
                        html: "&nbsp; Cancel",
                        "class": "btn btn-primary",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        }
        else {
            ShowNotification("error", "Please select any Employee .....");
        }
    }
    function SubmitSelectedDepartmentPass() {
        var PassIDs = "";
        PassIDs = document.getElementById("SelectedChkbxId").value;
        if (PassIDs != "" && PassIDs != null) {

            $("#dialog-confirmBox").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "Vehicle Entry Pass",
                title_html: true,
                buttons: [
                    {
                        html: "&nbsp; Yes",
                        "class": "btn btn-primary",
                        click: function () {
                            var cl5 = new CanvasLoader('canvasloader-container3');
                            cl5.show();
                            $.ajaxSetup({ cache: false });
                            $.ajax({
                                url: "/VehiclePasses/VehiclePassMinister/SubmitSelectedDepartmentPass",
                                type: 'GET',
                                data: {
                                    PassIDs: PassIDs
                                },
                                success: function (data) {
                                    ShowNotification("success", "Submitted Successfully .....");
                                    GetCurrentSessionVehiclePass();
                                    cl5.hide();
                                    $("#canvasloader-container3").hide();
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    // alert(xhr.status);
                                    // alert(thrownError);
                                    cl5.hide();
                                }
                            });
                            $(this).dialog("close");
                        }
                    }
                    ,
                    {
                        html: "&nbsp; Cancel",
                        "class": "btn btn-primary",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        }
        else {
            ShowNotification("error", "Please select any Employee .....");
            //alert("Please select any Employee");
        }
    }

    function SubmitDepartmentPass(PassID) {
        //if (confirm("Are you sure to send ?")) {
        var PassIDs = "";
        PassIDs = document.getElementById("SelectedChkbxId").value;

        if (PassIDs != "" && PassIDs != null) {

            $("#dialog-confirmBox").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "Vehicle Entry Pass",
                title_html: true,
                buttons: [
                    {
                        html: "&nbsp; Yes",
                        "class": "btn btn-primary",
                        click: function () {
                            var cl5 = new CanvasLoader('canvasloader-container3');
                            cl5.show();
                            $.ajaxSetup({ cache: false });
                            $.ajax({
                                url: "/VehiclePasses/VehiclePassMinister/SubmitDepartmentPass",
                                type: 'GET',
                                data: {
                                    PassID: PassID
                                },
                                success: function (data) {
                                    ShowNotification("success", "Submitted Successfully .....");
                                    //  alert("Sent Successfully");
                                    GetCurrentSessionVehiclePass();
                                    cl5.hide();
                                    $("#canvasloader-container3").hide();
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    alert(xhr.status);
                                    alert(thrownError);
                                    cl5.hide();
                                }
                            });
                            // }
                            // else {
                            //return false;
                            // }
                            $(this).dialog("close");
                        }
                    }
                        ,
                        {
                            html: "&nbsp; Cancel",
                            "class": "btn btn-primary",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                ]
            });
        }
        else {
            ShowNotification("error", "Please select any Employee .....");
            // alert("Please select any Employee");
        }
    }

    function AddVehiclePassRequest() {
        var cl5 = new CanvasLoader('canvasloader-container3');
        cl5.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/VehiclePasses/VehiclePassMinister/VehiclePassRequest",
            type: 'GET',
            data: {

            },
            success: function (data) {
                document.getElementById("MainDiveTwoTire").style.display = "block";

                $("#divDataContainer").empty();
                $("#RightSidebar").empty();

                $("#divDataContainerTwoTire").empty();

                $("#divDataContainerTwoTire").html(data);
                ChangeBreadCrumbParent("Vehicle Pass for Employees", "#)");
                ChangeBreadCrumbChild("Add Employee For Vehicle Pass");
                cl5.hide();
                @*ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp", "AddPassRequest()");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");*@
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
                cl5.hide();
                @*ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp", "AddPassRequest()");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");*@
            }
        });
    }

    function EditPassRequest(Id) {
        var cl5 = new CanvasLoader('canvasloader-container3');
        cl5.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/VehiclePasses/VehiclePassMinister/EditPassRequest",
            type: 'GET',
            data: {
                Id: Id
            },
            success: function (data) {
                document.getElementById("MainDiveTwoTire").style.display = "block";

                $("#divDataContainer").empty();
                $("#RightSidebar").empty();

                $("#divDataContainerTwoTire").empty();

                $("#divDataContainerTwoTire").html(data);
                ChangeBreadCrumbParent("Entry Pass for Employees", "GetCurrentSessionReq()");
                ChangeBreadCrumbChild("Edit Employee For Entry Pass");
                cl5.hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
                cl5.hide();
            }
        });
    }
</script>
