﻿@model  List<SBL.eLegistrator.HouseController.Web.Areas.Library.Models.ItemSubscriptionViewModel>
@{
    int count = 0;
}

<div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="pass-table">
                        @if (Model != null)
                        {
                            if (Model.Count() > 0)
                            {       
                                <div class="table-header">
                                    <div class="form-group">
                                        @if(ViewBag.Msg!=null)
                                        {
                                            <div class="alert alert-info" id="MsgDiv">
                                                <button type="button" class="close" data-dismiss="alert">  <i class="ace-icon fa fa-times"></i>  </button>
                                                <strong> <i class="ace-icon fa fa-check-square-o"></i> Success! </strong> @ViewBag.Msg
                                            </div>
                                        }
                                    </div>
                                </div>             
                                <table class="table table-striped table-bordered table-hover dataTable" id="tblItemSubscription" aria-describedby="sample-table-2_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.ItemName</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.ItemType</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.Language</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.Frequancy</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.Quantity</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.SubsStartDate</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.SubsEndDate</th>
                                          @if (ViewBag.Page == "Home")
                                          {  <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Action</th>
                                          }
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    @foreach (var item in Model)
                                    {
                                        count = count + 1;  
                                        <tr>
                                            <td class="center">
                                                @count
                                            </td>
                                            <td style="width:25%">@item.ItemName</td>
                                            <td style="width:10%">@item.ItemType</td>
                                            <td style="width:15%">@item.Language</td>
                                            <td style="width:15%">@item.Frequancy</td>
                                       
                                            <td style="width:10%">@item.Quantity</td>
                                          @if (Convert.ToDateTime(@item.SubsStartDate).ToString("dd/MM/yyyy").Equals("01/01/1753"))
                                          {
                                               <td style="width:10%">NA</td>
                                          }
                                            else
                                          {
                                           <td style="width:10%">@Convert.ToDateTime(item.SubsStartDate).ToString("dd/MM/yyyy")</td>
                                          }

                                            @if (Convert.ToDateTime(@item.SubsEndDate).ToString("dd/MM/yyyy").Equals("01/01/1753"))
                                          {
                                               <td style="width:10%">NA</td>
                                          }
                                            else
                                          {
                                           <td style="width:10%">@Convert.ToDateTime(item.SubsEndDate).ToString("dd/MM/yyyy")</td>
                                          }
                                           
                                            
                                            @if (ViewBag.Page == "Home")
                                          { 
                                            <td class="center" style="width:10%">
                                                <div class="hidden-sm hidden-xs action-buttons">
                                                    <a data-rel="tooltip" class="green tooltip-success" title="Edit" href="#" onclick="CreateSubItem(@item.ItemSubscriptionID,'Edit');")">
                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                    </a>
                                                    <a data-rel="tooltip" class="red tooltip-error DeleteSec" title="Delete" id="@item.ItemSubscriptionID"  href="#">
                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                    </a>
                                                </div>
                                                <div class="hidden-md hidden-lg">
                                                    <div class="inline position-relative">
                                                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                            <li>
                                                                <a  href="#" onclick="CreateSubItem(@item.ItemSubscriptionID,'Edit');")" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                    <span class="green">
                                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#"  class="tooltip-error DeleteSec" data-rel="tooltip" id="@item.ItemSubscriptionID" title="Delete">
                                                                    <span class="red">
                                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                            }
                                        </tr>                                                                
                                    }

                                </tbody>
                            </table>
                            <!-- PAGE CONTENT ENDS -->
                            }
                            else
                            {
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="alert alert-info">
                                        <strong>@Resources.MasterDataDashboard.NoItenSubsFound</strong><br />
                                    </div>
                                </div>
                            </div>
                            }
                        }
                    </div>
                    <!-- /.col -->
                </div>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        var oTable1 =
        $('#tblItemSubscription')
        //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        .dataTable();

        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

        setTimeout(function () {
            $("#MsgDiv").slideUp(400);
        }, 6000);

    });

    function tooltip_placement(context, source) {
        var $source = $(source);
        var $parent = $source.closest('table')
        var off1 = $parent.offset();
        var w1 = $parent.width();
        var off2 = $source.offset();
        //var w2 = $source.width();
        if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
        return 'left';
    }

    $(".DeleteSec").on('click', function (e) {

        e.preventDefault();

        var url = $(this).attr('href');

        var id = $(this).attr('id');

        var dlg = bootbox.confirm('@Resources.MasterDataDashboard.Areyousurewanttodelete', function (result) {

            if (result) {

                $(dlg).modal('hide');
                DeleteItemSubscription(id);
            }
        });
    });

</script>