﻿<div id="sidebar" class="sidebar responsive">
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div id="sidebar-shortcuts-large" class="sidebar-shortcuts-large">

            <button title="Logout" data-placement="bottom" data-rel="tooltip" class="btn btn-danger" onclick="javascript:document.getElementById('logoutForm').submit()">
                <i class="ace-icon fa fa-lock "></i>
                @{
                    <text>

                    @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()

                    }
                    </text>
                }
            </button>

            <button class="btn btn-info" id="sizeUp" title="Increase fontsize" data-placement="bottom" data-rel="tooltip">
                <b>@Resources.PaperLaidDepartment.A<sup>+</sup> </b>
            </button>

            <!-- #section:basics/sidebar.layout.shortcuts -->
            <button class="btn btn-warning" id="sizeDown" title="Decrease fontsize" data-placement="bottom" data-rel="tooltip">
                <b>@Resources.PaperLaidDepartment.A<sup>-</sup> </b>
            </button>

            <!--<button class="btn btn-danger">-->
            @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.LanguageID == "7C4F28F6-02FC-4627-993D-E255037531AD")
            {
                <button id="btnHindi" title="Change language" data-placement="right" data-rel="tooltip" class="btn btn-success" onclick="ChangeLangaugeHindi();">
                    @Resources.PaperLaidDepartment.Hindi
                    <!--<i class="ace-icon fa fa-cogs"></i>-->
                </button>
            }
            else
            {
                <button id="btnEnglish" style="width: 70px" title="Change language" data-placement="right" data-rel="tooltip" class="btn btn-success" onclick="ChangeLangaugeEnglish();">
                    @Resources.PaperLaidDepartment.English
                    <!--<i class="ace-icon fa fa-cogs"></i>-->
                </button>
            }

            <!-- /section:basics/sidebar.layout.shortcuts -->

            <!-- /section:basics/sidebar.layout.shortcuts -->
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div>
    <!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list" style="top: 0px;">
        <li class="">
            <a href="@Url.Action("Index", "IssueDocument")">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text">DashBoard </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="active hsub">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text">Issue Document Info
                </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                  <li class="hsub">
                    <a href="@Url.Action("IssueDocumentDashBoard", "IssueDocument")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        New Issue
                    </a>

                    <b class="arrow"></b>
                </li>               
            </ul>
            <ul class="submenu">
                  <li class="hsub">
                    <a href="@Url.Action("ReturnDocumentDashBoard", "IssueDocument")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Return Documents
                    </a>

                    <b class="arrow"></b>
                </li>               
            </ul>
             <ul class="submenu">
                  <li class="hsub">
                    <a href="@Url.Action("IssueReturnReport", "IssueDocument")">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Issue return Report
                    </a>

                    <b class="arrow"></b>
                </li>               
            </ul>
        </li>
    </ul>
    <!-- /.nav-list -->

    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <!-- /section:basics/sidebar.layout.minimize -->
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
    </script>
</div>

<script>

    function ChangeLangaugeEnglish() {

        $.ajax({
            url: "/Home/ChangeCulture",
            type: 'GET',
            data: {
                lang: "7C4F28F6-02FC-4627-993D-E255037531AD",
                langCulture: "/"
            },
            success: function (data) {
                if (data) {
                    window.location.reload();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }
    function ChangeLangaugeHindi() {

        $.ajax({
            url: "/Home/ChangeCulture",
            type: 'GET',
            data: {
                lang: "43177cd4-b51d-497a-a3bc-e81f23b07450",
                langCulture: "/"
            },
            success: function (data) {
                if (data) {
                    window.location.reload();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }
</script>