﻿
		<div class="page-header">
			<h1>Loan Section
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					Challan List
				</small>
			</h1>
		</div>
		<div id="prodiv" style="display: none;">
			<img src="@Url.Content("~/images/pro.gif")" />
		</div>
	
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div class="widget-box">
						<div class="widget-header">
							<h4 class="widget-title"> Financial Year Loan Report</h4>

							<div class="widget-toolbar">
								

								<label>
								Select Financial Year
				<select class="chosen-select form-control" id="searchcriteriavalue" name="searchcriteriavalue" data-placeholder="Select Financial Year...">
					<option>-------</option>
				</select>
								</label>
								<button class="btn btn-xs btn-primary btn-bold" onclick="getList()">
									<i class="ace-icon fa fa-search bigger-150"></i>
									<span class="bigger-110">Search</span>
								</button>
							</div>
						</div>
						<div class="widget-body">
							<div class="widget-main">
								<div class="pass-table">
									<div id="tablecontainer">
									</div>
									<!-- PAGE CONTENT ENDS -->
								</div>
							</div>
						</div>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		
	

	<!-- /.main-content -->

	



<!-- ace scripts -->



<script>
	try {
		$('.chosen-select').chosen({ allow_single_deselect: true });
		//resize the chosen on window resize
		$(window).on('resize.chosen', function () {
			var w = $('.chosen-select').parent().width();
			$('.chosen-select').next().css({ 'width': '300px' });
		}).trigger('resize.chosen');
	}
	catch (error) {
	}
	try {
		$('#chosen-multiple-style').on('click', function (e) {
			var target = $(e.target).find('input[type=radio]');
			var which = parseInt(target.val());
			if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
			else $('#form-field-select-4').removeClass('tag-input-style');
		});
	}
	catch (error) {
	}
	$(document).ready(function () {
		fillList();
	});
	
   
	function fillList() {
		$("#loader-wrapper").show();

		var pathurl = "@Url.Action("getCustomFinancialYearList", "loan")";
		$.ajax({
			url: pathurl,
			type: 'GET',
			success: function (data) {
						$("#searchcriteriavalue").html("");
					//$("#searchcriteriavalue").append($("<option></option>").val(0).html('--Select--'))
					for (var i = 0; i < data.length; i++) {
						var item = data[i];

						$("#searchcriteriavalue").append($("<option></option>").val(item.yearValue).html(item.yearText))
					}
					$("#searchcriteriavalue").trigger("chosen:updated");
					$("#loader-wrapper").hide();
				
			}
		});
	}
	function getList() {
		
		var datavalue = $("#searchcriteriavalue option:selected").val();
		$("#loader-wrapper").show();
		var pathurl = "@Url.Action("resultForCustomFinancialYear", "loan")";
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: { year:datavalue },
			success: function (data) {
				$("#tablecontainer").html("");
				$("#tablecontainer").html(data);
				$("#loader-wrapper").hide();

			}
		});
	}
</script>
