﻿@model IEnumerable<SBL.DomainModel.ComplexModel.loanSearchResult>
@{

    int count = 0;
}
@*<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />*@
<style>
    .polaroid {
        position: relative;
        width: 180px;
    }

        .polaroid img {
            border: 10px solid #fff;
            border-bottom: 45px solid #fff;
            -webkit-box-shadow: 3px 3px 3px #777;
            -moz-box-shadow: 3px 3px 3px #777;
            box-shadow: 3px 3px 3px #777;
        }

        .polaroid p {
            position: absolute;
            text-align: center;
            width: 100%;
            bottom: 0px;
            font: 400 18px/1 'Kaushan Script', cursive;
            color: #f89406;
        }

    .hspan {
        font-size: 22px;
        color: #f89406;
        border-bottom-color: #fdd0ac;
        font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: lighter;
    }
</style>
<table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
    <thead>
        <tr role="row">
            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">No</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Name</th>

            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Loanee Code</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Loan Name</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Loan Amount</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">EMI Amount</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">EMI Date</th>
       
            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Action</th>
        </tr>
    </thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td class="center">@count</td>
                <td>@item.memberName</td>
                <td>@item.loaneeCode</td>
               
                <td> @item.LoanName </td>
                <td>
                   @item.loanAmount
                </td>
               <td>@item.EMIPAmount (p) + @item.EMIIAmount (i) = @item.EMIAmount</td>
                <td>@Convert.ToDateTime(item.EMIDate).ToString("dd/MM/yyyy")</td>
                <td>
                    <div class="hidden-sm hidden-xs action-buttons">
                        <a class="blue tooltip-success" title="View Member Full Profile" data-rel="tooltip" href="javascript:void(0)" id="@item.installmentID" onclick="return proceedToRecovery(this.id)">
                            <i class="ace-icon fa fa-search-plus bigger-130"></i>
                        </a>
                       
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
<script>
    $(document).ready(function () {
        tableinit();
    });
    function tableinit() {
        var oTable1 =
		 $('#sample-table-2')
		 .dataTable({
		     "bDestroy": true,
		     bAutoWidth: true,
		     "aoColumns": [
				{ "bSortable": false },
			   null, null, null, null, null, null,

			   { "bSortable": false }

		     ]
		 });
    }
	</script>
<script>

    function proceedToRecovery(installmentID)
    {
        $("#loader-wrapper").show();
        try{
            var pathurl = "@Url.Action("getchallanDetailsByLoanID", "loan")";
            $.ajax({
                url: pathurl,
                type: 'GET',
                data: { installmentID: installmentID },
                success: function (data) {
                  
                    $("#loader-wrapper").hide();
                    $("#updateLoanInstallmentModal").html("");
                    $("#updateLoanInstallmentModal").html(data);

                    $("#updateLoanInstallmentModal").modal({                    // wire up the actual modal functionality and show the dialog
                        "backdrop": "static",
                        "keyboard": true,
                        "show": true                     // ensure the modal is shown immediately
                    });

                }
            });
        } catch (error)
        {
            alert(error.message);
        }
    }
</script>