﻿		<div class="page-header">
			<h1>Loan Section
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					Loan Report
				</small>
			</h1>
		</div>
		<div id="prodiv" style="display: none;">
			<img src="@Url.Content("~/images/pro.gif")" />
		</div>

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="widget-box">
					<div class="widget-header">

						<div class="widget-toolbar">
							<div class="row" style="padding-top: 2px;">
								
								<div class="col-xs-4 col-sm-4">


									<select id="loaneeID" name="loaneeID" class="chosen-select form-control" data-placeholder="Choose a Laonee">
									</select>
									
								</div>
								<div class="col-xs-8 col-sm-8">

									<div class="input-group">

										<span class="input-group-addon">
											<i class="fa fa-calendar bigger-110"></i>
										</span>
										<input class="form-control input-mask-date" name="date-range-picker" id="id-date-range-picker-1" style="margin-top: 1px;" placeholder="Select Date-Range" required>
										<span class="input-group-btn">
											<button class="btn btn-sm btn-default" type="button" onclick="getList()">
												<i class="ace-icon fa fa-search bigger-120 white"></i>
												Search!
											</button>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="widget-body">
						<div class="widget-main">
							<div class="pass-table">
								@using (Html.BeginForm("generatePDFOFLoanReport", "loan"))
		{
								<div id="tablecontainer">
								</div>
								}
								<!-- PAGE CONTENT ENDS -->
							</div>
						</div>
					</div>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.page-content -->
	
	<div id="member-details" class="modal fade" tabindex="-1">
	</div>

	<div id="Save-loanee" class="modal fade" tabindex="-1">
	</div>

	<div id="modal-wizard" class="modal">
	</div>

	<div style="visibility: hidden" id="returnLoanNumber"></div>
	<!-- /.main-content -->



<script>
	try {
		$('.chosen-select').chosen({ allow_single_deselect: true });
		//resize the chosen on window resize
		$(window).on('resize.chosen', function () {
			var w = $('.chosen-select').parent().width();
			$('.chosen-select').next().css({ 'width': '300px' });
		}).trigger('resize.chosen');
	}
	catch (error) {
	}
	try {
		$('#chosen-multiple-style').on('click', function (e) {
			var target = $(e.target).find('input[type=radio]');
			var which = parseInt(target.val());
			if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
			else $('#form-field-select-4').removeClass('tag-input-style');
		});
	}
	catch (error) {
	}
	$(document).ready(function () {
		fillLoanNumber();
	});
	$('input[name=date-range-picker]').daterangepicker({
		'applyClass': 'btn-sm btn-success',
		'cancelClass': 'btn-sm btn-default',
		locale: {
			applyLabel: 'Apply',
			cancelLabel: 'Cancel',
		}
	})
				.prev().on(ace.click_event, function () {
					$(this).next().focus();
				});

	function check() {
		var IsValid = true;

		if ($("input[name=date-range-picker]").val() == '') {
			var dlg = bootbox.alert('Please select Date Range.', function (e) {
				$(dlg).modal('hide');
			});

			IsValid = false;
		}
		return IsValid;
	}
	function fillLoanNumber() {
		$("#loader-wrapper").show();
		var pathurl = "@Url.Action("fillLoanNumberList", "loan")";
		$.ajax({
			url: pathurl,
			type: 'GET',
			success: function (data) {
				if (data) {
					$("#loaneeID").html("");
					$("#loaneeID").append($("<option></option>").val(0).html('--All--'))
					for (var i = 0; i < data.length; i++) {
						var item = data[i];

						$("#loaneeID").append($("<option></option>").val(item.loaneeID).html(item.loaneeID + ' - ' + item.MemberName))
					}
					$("#loaneeID").trigger("chosen:updated");
					$("#loader-wrapper").hide();
				}
			}
		});
	}
	function getList() {
		if (check()) {
			var datearr = $("input[name=date-range-picker]").val().split('-');
			var date1 = datearr[0];
			var date2 = datearr[1];
			var loanNumber = $("#loaneeID option:selected").val();
			$("#loader-wrapper").show();
			if ($("#loaneeID option:selected").val() != "0") {
				var pathurl = "@Url.Action("getIndividualReportDateWise", "loan")";
				$.ajax({
					url: pathurl,
					type: 'GET',
					data: { loanNumber: loanNumber, from: date1, to: date2 },
					success: function (data) {
						$("#tablecontainer").html("");
						$("#tablecontainer").html(data);
						$("#loader-wrapper").hide();

					}
				});
			} else {
				var pathurl = "@Url.Action("getAllReportDateWise", "loan")";
				$.ajax({
					url: pathurl,
					type: 'GET',
					data: { loanNumber: loanNumber, from: date1, to: date2 },
					success: function (data) {
						$("#tablecontainer").html("");
						$("#tablecontainer").html(data);
						$("#loader-wrapper").hide();

					}
				});
			}
		}
	}
</script>