﻿<div class="">
    <div class="">
        @if (ViewBag.PDFPath != ""&&ViewBag.PDFPath!=null)
        {
            var pdfPathValue = @ViewBag.PDFPath;
            var pdfDebate = @ViewBag.PDFPathD;
            <table style="width:100%"  >
                <tr>
                    <th style="color:blue;text-align:center" >
                        Questions
                    </th>
                    <th style="color:blue;text-align:center">
                        Debates
                    </th>
                </tr>
                <tr>
                <td style="width:50%" title="Click to view Corresponding Debates" >
                    <object data="@pdfPathValue" type="application/pdf"  width="98%" height="550px" >
                    <a href="@pdfPathValue"></a>
                        No File is available.
                    </object>
                </td>
                <td id="temp1">
                    <object data="@pdfDebate" type="application/pdf"  width="98%" height="550px" >
                    <a href="@pdfDebate"></a>
                        No File is available.
                    </object>
                </td>
                </tr></table>            
        }
        else
        {
            <div style="width:100%;height:600px;text-align:center"; >
                No File is available.
            </div>
        }
    </div>
</div>
<div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
<script>
    //jQuery(document).ready(function () {
    //    alert('ku');
    //});
    //jQuery(function () {
    //    aler('ho');
    //});
    //function more()
    //{
    //    alert('hi');
    //}
    jQuery(document).ready(function () {
        $('#more').click(function () {
            //alert('hi');
            //alert('a' + $(this).attr("class") + 'b');
            var path = $(this).attr("path");
            $.ajax({
                url: "/Notices/AssemblyDocs/_GetDebatePdf3",
                type: 'GET',
                data: {
                    FilePath: path,
                },
                success: function (data) {
                    if (data) {
                        $("#temp1").html(data);
                        //$("#FormPart").html(data);
                        //$(window).scrollTop()
                        //$(data).dialog(
                        //    {
                        //        width: 800,
                        //        draggable: false,
                        //        modal: true,
                        //        position: {
                        //            my: 'top',
                        //            at: 'top+10'
                        //        },
                        //        using: {
                        //            css: 'position:absolute'
                        //        }
                        //    }
                        //    );


                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });
        });
    });
    function closePdf()
    {
        $('#temp').html('');
        $('#sample-table-2_wrapper').show();
        $('#sample-table-2').show();
    }
</script>
