﻿
@model SBL.DomainModel.Models.Notice.tMemberNotice

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}


<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />

<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="~/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="~/assets/js/jqGrid/i18n/grid.locale-en.js"></script>

@*@Html.Hidden("SessionCodeHome", Model.SessionID)
@Html.Hidden("AssemblyCodeHome", Model.AssemblyCode)*@


@Html.Partial("_LeftNavigationMenu", Model)

<div class="main-content">

    @Html.Partial("_BreadcrumbsPartial")


    <div class="page-content">
        <div class="row">



            <div id="outerDiv">
            </div>

            <div class="two-column row"  id="innerDiv">

                <div id="resize-left" class="ui-widget-content bigI" style="width:99%" >
                    <div class="col-xs-12">
                        <div class="row-fluid">

                            <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
                            <div id="divDataContainer">
                            </div>

                        </div>
                    </div>
                    
                    
                    <div style="margin-left:17px">
                        
                    <div id="resize-right" style="width:99%;" class="ui-widget-content">
                    <div class="col-xs-12">
                        <div class="row">

                            <div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>
                            @*Modified by sanish 24-07-2014 12:30PM*@
                            <div class="widget-box sblFullScreen" style="display: none">

                                <div class="widget-header widget-header-flat">
                                    <h4 class="widget-title">Search Result</h4>
                                    <div class="widget-toolbar">

                                        <a href="#" data-action="fullscreen" class="red">
                                            <i class="ace-icon fa fa-expand bigger-150"></i>
                                        </a>

                                    </div>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div id="RightSidebar" style="width: 100%">
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                    </div>
                    
                    
                    
                    

                </div>
                
  
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="~/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="~/assets/js/jqGrid/i18n/grid.locale-en.js"></script>



<script type="text/javascript">

    jQuery(document).ready(function () {
        //QuestionsPage();

        //$('#resize-left').resizable('desabled');
        //$('#big').click(function () {
        //    alert('hi');
        //    if ($(this).hasClass("bigI"))
        //    {
        //        $('#resize-left').resizable('enabled');
        //        $(this).removeClass("bigI");
        //    }
        //    else
        //    {
        //        $('#resize-left').resizable('desabled');
        //        $(this).addClass("bigI");
        //    }
        //});
    });

    function ClearControls() {
        $("#RightSidebar").html('');
    }

    function BillsPage()
    {
        $('.widget-box').hide();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action( "_BillSearch" , "AssemblyDocs")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#divDataContainer").html(data);
                $("#RightSidebar").html("");
                $("#FormPart").html("");
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("Assembly Documents", "BillsPage()");
                ChangeBreadCrumbChild("Bills", "BillsPage()");
            }
        });
    }
    function QuestionsPage() {
        $('.widget-box').hide();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action( "_QuestionSearch" , "AssemblyDocs")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#divDataContainer").html(data);
                $("#RightSidebar").html("");
                $("#FormPart").html("");
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("Assembly Documents", "QuestionsPage()");
                ChangeBreadCrumbChild("Questions", "QuestionsPage()");
            }
        });
    }
    function DebatesProceedingsPage() {
        $('.widget-box').hide();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action( "_DebatesProceedingsSearch" , "AssemblyDocs")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#divDataContainer").html(data);
                $("#RightSidebar").html("");
                $("#FormPart").html("");
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("Assembly Documents", "DebatesProceedingsPage()");
                ChangeBreadCrumbChild("Debates/Proceedings", "DebatesProceedingsPage()");
            }
        });
    }
    function CommitteeReportsPage() {
        $('.widget-box').hide();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action( "_CommitteeReportSearch" , "AssemblyDocs")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#divDataContainer").html(data);
                $("#RightSidebar").html("");
                $("#FormPart").html("");
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("Assembly Documents", "CommitteeReportsPage()");
                ChangeBreadCrumbChild("Committee Reports", "CommitteeReportsPage()");
            }
        });
    }
    function BullettinsPage() {
        $('.widget-box').hide();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action( "_BulletinsSearch" , "AssemblyDocs")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#divDataContainer").html(data);
                $("#RightSidebar").html("");
                $("#FormPart").html("");
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("Assembly Documents", "BullettinsPage()");
                ChangeBreadCrumbChild("Bullettins", "BullettinsPage()");
            }
        });
    }



</script>
<script type="text/javascript">

    function getInnerItemDashboard() {

        $('#outerDiv').hide();
        $('#innerDiv').show();
        $('#fuelux-wizard').show();
        var lSMCode = $("#lSM").val();

        if (lSMCode != "") {

            if (lSMCode == "SQ") {
                $("#liStarredQuestions").addClass("active");
                $("#liUnStarredQuestions").addClass("");
                $("#liNotices").addClass("");
                $("#liBills").addClass("");
                $("#liOthersPapers").addClass("");
                //GetAllStarredQuestions();
            }
            else if (lSMCode == "USQ") {
                $("#liUnStarredQuestions").addClass("active");
                $("#liStarredQuestions").addClass("");
                $("#liNotices").addClass("");
                $("#liBills").addClass("");
                $("#liOthersPapers").addClass("");
                //GetAllUnstarredQuestions();
            }
            else if (lSMCode == "NTC") {
                $("#liNotices").addClass("active");
                $("#liUnStarredQuestions").addClass("");
                $("#liStarredQuestions").addClass("");
                $("#liBills").addClass("");
                $("#liOthersPapers").addClass("");
                // GetAllCurrentNotices();

            }
            else if (lSMCode == "BLL") {
                $("#liBills").addClass("active");
                $("#liNotices").addClass("");
                $("#liUnStarredQuestions").addClass("");
                $("#liStarredQuestions").addClass("");
                $("#liOthersPapers").addClass("");
                //GetAllCurrentBills();
            }
            else if (lSMCode == "OPT") {
                $("#liOthersPapers").addClass("active");
                $("#liBills").addClass("");
                $("#liNotices").addClass("");
                $("#liUnStarredQuestions").addClass("");
                $("#liStarredQuestions").addClass("");
                // GetOtherPaperLaidAllList();
            }

            //
        }
        else {
            $("#liStarredQuestions").addClass("");
            $("#liUnStarredQuestions").addClass("");
            $("#liNotices").addClass("");
            $("#liBills").addClass("");
            $("#liOthersPapers").addClass("");
            GetAllList();
        }

    }


    $(function () {

        $('#sidebar-collapse').on('click', function () {
            var parentWidth = $('#resize-left').parent().width();
            if ($('#sidebar').hasClass('menu-min')) {
                parentWidth = parentWidth - 179;
            } else { parentWidth = parentWidth + 175; }

            var remainingSpace = parentWidth - $('#resize-left').outerWidth();
            var divTwo = $('#resize-left').next();
            var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
            divTwo.css('width', divTwoWidth + 'px');

            //alert("ds");
            setTimeout(function () {
                $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
            }, 50);
        });

        $("#resize-left").resizable({
            handles: 'e',
            minWidth: '350',
            maxWidth: '1100',
            /*    grid: [ 20, 10 ], */
            resize: function () {
                var remainingSpace = $(this).parent().width() - $(this).outerWidth();
                var divTwo = $(this).next();
                var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
                divTwo.css('width', (divTwoWidth - 20) + 'px');

                $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
            }

        });
    });
    function resizeLeftPanel(sizeRatio) {
        var parentWidth = $('#resize-left').parent().width();
        var sidebarWidth = parseInt((parentWidth * sizeRatio) / 100);
        var left_width = $('#resize-left').outerWidth();
        if (sidebarWidth > left_width) {

            $('#resize-left').animate({ width: '+=' + (sidebarWidth - left_width) + 'px' }, 800);
            $('#resize-right').animate({ width: '-=' + (sidebarWidth - left_width) + 'px' }, 800);

        } else {

            $('#resize-left').animate({ width: '-=' + (left_width - sidebarWidth) + 'px' }, 800);
            $('#resize-right').animate({ width: '+=' + (left_width - sidebarWidth) + 'px' }, 800);

        }

        $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());

    }



</script>




