﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV

<script src="~/Scripts/jquery.alerts.js"></script>

@using (Html.BeginForm("PaperLaidSubmitt", "Billpaperlaid", FormMethod.Post, new { @id = "PaperLaidForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px; border: 1px solid #C5C5C5; border: 1px solid #C5C5C5;">
        Bills >> Bill Drafts
    </div>
    <div style="border: 1px solid grey; padding: 5px 0px 10px 5px;">
    </div>
    <div style="border: 1px solid grey; height: 855px;">
        @*height: 747px;">*@
        @Html.Hidden("PaperLaidIdFullRecord", @Model.PaperLaidId, new { @id = "PaperLaidId" })
        @Html.HiddenFor(m => m.AssemblyId)
        @Html.HiddenFor(m => m.SessionId)
        @Html.HiddenFor(m => m.DepartmentId)
        <table style="margin-left: 20px; width: 96%">
            <tr style="margin-top: 10px" class="border-Down">
                <td style="width: 150px"><strong>@Resources.PaperLaidDepartment.BusinessType
                </strong>
                </td>
                <td>
                    @if (Model.PaperLaidId == null || Model.PaperLaidId == 0)
                    {
                        @Html.DropDownListFor(m => m.EventId, new SelectList(Model.mEvents, "EventId", "EventName", 0), new { @id = "DdlCategory", @tabindex = "1", @class = "select-style", style = "width: 85%", @onchange = "callView()" })                                    
                    }
                    else
                    {
                        //var eventName = Model.mEvents.Where(m=>m.EventId == Model.EventId).Select(m=>m.EventName).FirstOrDefault();
                        @Html.DropDownListFor(m => m.EventId, new SelectList(Model.mEvents, "EventId", "EventName", 0), new { @id = "DdlCategory", @tabindex = "1", @class = "select-style", style = "width: 85%", @onchange = "callView()", @disabled = true })
                        @Html.HiddenFor(m => m.PaperLaidId)
                        @Html.HiddenFor(m => m.EventId)                        
                    }
                    @Html.ValidationMessageFor(m => m.EventId, "", new { @id = "eventId", @style = "color:red" })
                </td>
            </tr>
            <tr class="border-Down">
                <td>
                    <strong>@Resources.PaperLaidDepartment.Minister
                    </strong>
                </td>
                <td>
                    <div>
                        @Html.DropDownListFor(m => m.MinistryId, new SelectList(Model.mMinisteryMinister, "MinistryId", "MinisterMinistryName", 0), new { @id = "DdlMinistry", @tabindex = "1", @class = "select-style", @style = "width: 85%;" })
                        @Html.HiddenFor(m => m.MinistryId)
                        @Html.ValidationMessageFor(m => m.MinistryId, "", new { @style = "color:red" })
                    </div>
                </td>
            </tr>
            <tr class="border-Down">
                <td style="width: 25%">
                    <strong>@Resources.PaperLaidDepartment.BillNumber
                    </strong>
                    @Html.HiddenFor(m => m.categoryType, new { @id = "categoryType" })
                    @* @Html.HiddenFor(m => m.BillNUmberValue, new { @id = "billNumber" })
                    @Html.HiddenFor(m => m.BillNumberYear, new { @id = "billYear" });*@
                </td>

                <td>
                    <div style="width: 100%; float: left;">
                        <div style="width: 15%; float: left">
                            @Html.TextBoxFor(m => m.BillNUmberValue, new { @style = "width: 34px", @id = "tbBillNumber" })@* @onkeypress = "return isNumberKey(event)" })*@
                            @Html.ValidationMessageFor(m => m.BillNUmberValue, "", new { @style = "color:red" })
                        </div>
                        <div style="width: 4%; float: left; margin-top: 7px">
                            @Resources.PaperLaidDepartment.Of
                        </div>
                        <div style="width: 20%; float: left">
                            @Html.DropDownListFor(m => m.BillNumberYear, new SelectList(Model.yearList), new { @id = "DdlBillYear", @tabindex = "1", @class = "select-style", style = "width: 70px" })
                            <div>
                            </div>
                        </div>
                    </div>
                    <span class="field-validation-error" id="BillNUmberValueValidation" style="color: red"></span>
                </td>
            </tr>
            <tr class="border-Down">
                <td style="width: 80px; margin-left: 10px">
                    <strong>@Resources.PaperLaidDepartment.BillType
                    </strong>

                </td>
                <td style="width: 520px">
                    <div>
                        @Html.DropDownListFor(m => m.BillTypeId, new SelectList(Model.mBillTypes, "BillTypeId", "BillType", 0), new { @id = "DdlBillType", @tabindex = "1", @class = "select-style", style = "width: 85%" })
                        @Html.ValidationMessageFor(m => m.BillTypeId, "", new { @style = "color:red" })
                    </div>
                </td>

            </tr>
            <tr class="border-Down">
                <td style="width: 80px; margin-left: 10px">
                    <strong>@Resources.PaperLaidDepartment.BillDate
                    </strong>
                </td>
                <td>
                    <div>
                        @Html.TextBoxFor(m => m.BillDate, new { @id = "tbBillDate", @style = "width:60%" })
                        @Html.ValidationMessageFor(m => m.BillDate, "", new { @style = "color:red" })
                        <span class="field-validation-error" id="BillDateValidation" style="color: red"></span>
                    </div>
                </td>

            </tr>

            <tr class="border-Down">
                <td>
                    <strong>@Resources.PaperLaidDepartment.DesiredDateToLaid
                    </strong>
                </td>
                <td style="width: 520px">
                    @Html.DropDownListFor(m => m.DesireLayingDateId, new SelectList(Model.mSessionDates, "Id", "DisplayDate", 0), new { @id = "DdlSessioDates", @tabindex = "1", @class = "select-style", style = "width: 85%" })
                </td>

            </tr>
            <tr class="border-Down">
                <td>
                    <strong>@Resources.PaperLaidDepartment.PaperType
                    </strong>
                </td>
                <td>
                    @Html.DropDownListFor(m => m.PaperTypeID, new SelectList(Model.mDocumentTypes, "DocumentTypeID", "DocumentType", 0), new { @id = "DdlPaperType", @tabindex = "1", @class = "select-style", style = "width: 85%" })
                </td>

            </tr>
            <tr class="border-Down">
                <td>
                    <strong>@Resources.PaperLaidDepartment.Title <b style="color: red">*</b>
                    </strong>
                </td>
                <td>
                    <div>
                        @*   @Html.EditorFor(m => m.Title)*@
                        @Html.TextAreaFor(m => m.Title, new { @id = "Title", @style = "width:  99%" })
                        <span class="field-validation-error" id="TitleValidation" style="color: red"></span>
                    </div>
                </td>

            </tr>
            <tr class="border-Down">
                <td>
                    <strong>@Resources.PaperLaidDepartment.Description<b style="color: red">*</b>
                    </strong>
                </td>
                <td>
                    <div>
                        @Html.TextAreaFor(m => m.Description, new { @id = "Description", @style = "width:  99%" })
                        <span class="field-validation-error" id="DescriptionValidation" style="color: red"></span>
                    </div>
                </td>

            </tr>
            <tr class="border-Down">
                <td>
                    <strong>@Resources.PaperLaidDepartment.ProvisionUnderWhich
                    </strong>
                </td>
                <td>
                    <div>
                        @Html.TextAreaFor(m => m.ProvisionUnderWhich, new { @id = "ProvisionUnderWhich", @style = "width:  99%" })
                    </div>
                </td>

            </tr>
            <tr class="border-Down">
                <td>
                    <strong>@Resources.PaperLaidDepartment.Remark
                    </strong>
                </td>
                <td>
                    <div>
                        @Html.TextAreaFor(m => m.Remark, new { @id = "Remark", @style = "width:  99%" })
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <strong>@Resources.PaperLaidDepartment.PaperToBeLaid<b style="color: red">*</b>
                    </strong>
                </td>
                <td>
                    <div>

                        @if (Model.PaperLaidId == null || Model.PaperLaidId == 0)
                        {
                            <input type="file" id="filePaerLaid" value="@Model.FilePath" name="file" />
                        }
                        else
                        {
                            <div style="width: auto; display: block;">
                                <input type="file" id="filePaerLaid" value="@Model.FilePath" name="file" />
                                <a href="@Model.actualFilePath" target="_blank">@Model.FileName</a>
                            </div>                             
                        }
                        <span class="field-validation-error" id="FileValidation" style="color: red"></span>
                    </div>
                </td>

            </tr>

            <tr>
                <td></td>
                <td>

                    @if (Model.PaperLaidId == null || Model.PaperLaidId == 0)
                    {
                        <div style="float: left">
                            <input type="submit" name="submitButton" id="Save" value="Save" onclick="return checkValidation();" />
                        </div>
                        <div style="float: left">
                            <input style="margin-left: 50px" type="submit" name="submitButton" id="send" value="Send" onclick="return checkValidation();" />
                        </div>
                    }
                    else
                    {
                        <div style="float: left">
                            <input type="submit" name="submitButton" id="Update" value="Update" onclick="return checkValidation();" />
                        </div>
                        <div style="float: left">
                            <input style="margin-left: 50px" type="submit" name="submitButton" id="UpdateSend" value="Update Send" onclick="return checkValidation();" />
                        </div>    
                    }
                </td>
            </tr>
        </table>
    </div>
}

<script>

    $("#Title").focus(function () {
        $("#Title").animate({
            height: "150px"
        }, 100, function () { });

    });
    $("#Title").blur(function () {
        $("#Title").animate({
            height: "48px"
        }, 100, function () { });

    });
    $("#Description").focus(function () {
        $("#Description").animate({
            height: "150px"
        }, 100, function () { });

    });
    $("#Description").blur(function () {
        $("#Description").animate({
            height: "48px"
        }, 100, function () { });

    });
    $("#ProvisionUnderWhich").focus(function () {
        $("#ProvisionUnderWhich").animate({
            height: "150px"
        }, 100, function () { });

    });
    $("#ProvisionUnderWhich").blur(function () {
        $("#ProvisionUnderWhich").animate({
            height: "48px"
        }, 100, function () { });

    }); $("#Remark").focus(function () {
        $("#Remark").animate({
            height: "150px"
        }, 100, function () { });

    });
    $("#Remark").blur(function () {
        $("#Remark").animate({
            height: "48px"
        }, 100, function () { });

    });


    //$('#DdlBillYear').change(function () {

    //    var budsinesstypeId = $("#DdlCategory  option:selected").val();

    //    if (budsinesstypeId != "6") {
    //        var paperId = $("#PaperLaidId").val();

    //        var updatenumber = $("#billNumber").val();
    //        var updateyear = $("#billYear").val();

    //        var number = $('#tbBillNumber').val();
    //        var year = $("#DdlBillYear  option:selected").text();
    //        if (paperId != "0") {

    //            if (number != updatenumber && year != updateyear) {
    //                $.ajax({
    //                    url: "/PaperLaidDepartment/Billpaperlaid/CheckBillNumber",
    //                    type: 'POST',
    //                    data: {
    //                        number: number,
    //                        year: year
    //                    },
    //                    success: function (data) {

    //                        if (data) {

    //                            if (data.BillId == null) {
    //                                var number4 = $('#tbBillNumber').val();
    //                                var year4 = $("#DdlBillYear  option:selected").text();
    //                                $("#billNumber").val(number4);
    //                                $("#billYear").val(year4);
    //                            }
    //                            else {
    //                                alert("Bill number already exist.");
    //                                $('#tbBillNumber').val("");
    //                            }
    //                        } else { alert("error in getting bill number."); }
    //                    },
    //                    error: function (xhr, ajaxOptions, thrownError) {
    //                        alert(xhr.responseText);
    //                        alert(thrownError);
    //                    }
    //                });
    //            }
    //        }
    //        else {

    //            $.ajax({
    //                url: "/PaperLaidDepartment/Billpaperlaid/CheckBillNumber",
    //                type: 'POST',
    //                data: {
    //                    number: number,
    //                    year: year
    //                },
    //                success: function (data) {

    //                    if (data) {

    //                        if (data.BillId == null) {
    //                            var number3 = $('#tbBillNumber').val();
    //                            var year3 = $("#DdlBillYear  option:selected").text();
    //                            $("#billNumber").val(number3);
    //                            $("#billYear").val(year3);
    //                        }
    //                        else {
    //                            alert("Bill number already exist.");
    //                            $('#tbBillNumber').val("");
    //                        }
    //                    } else { alert("error in getting bill number."); }
    //                },
    //                error: function (xhr, ajaxOptions, thrownError) {
    //                    alert(xhr.responseText);
    //                    alert(thrownError);
    //                }
    //            });
    //        }
    //    }
    //    else {
    //        var number = $('#tbBillNumber').val();
    //        var year = $("#DdlBillYear  option:selected").text();
    //        $("#billNumber").val(number);
    //        $("#billYear").val(year);
    //    }
    //})

    //$('#tbBillNumber').change(function () {

    //    var budsinesstypeId = $("#DdlCategory  option:selected").val();

    //    if (budsinesstypeId != "6") {
    //        var paperId = $("#PaperLaidId").val();

    //        var updatenumber = $("#billNumber").val();
    //        var updateyear = $("#billYear").val();

    //        var number = $('#tbBillNumber').val();
    //        var year = $("#DdlBillYear  option:selected").text();
    //        if (paperId != "0") {

    //            if (number != updatenumber && year != updateyear) {
    //                $.ajax({
    //                    url: "/PaperLaidDepartment/Billpaperlaid/CheckBillNumber",
    //                    type: 'POST',
    //                    data: {
    //                        number: number,
    //                        year: year
    //                    },
    //                    success: function (data) {

    //                        if (data) {

    //                            if (data.BillId == null) {
    //                                var number1 = $('#tbBillNumber').val();
    //                                var year1 = $("#DdlBillYear  option:selected").text();
    //                                $("#billNumber").val(number1);
    //                                $("#billYear").val(year1);
    //                            }
    //                            else {
    //                                alert("Bill number already exist.");
    //                                $('#tbBillNumber').val("");
    //                            }
    //                        } else { alert("error in getting bill number."); }
    //                    },
    //                    error: function (xhr, ajaxOptions, thrownError) {
    //                        alert(xhr.responseText);
    //                        alert(thrownError);
    //                    }
    //                });
    //            }
    //        }
    //        else {

    //            $.ajax({
    //                url: "/PaperLaidDepartment/Billpaperlaid/CheckBillNumber",
    //                type: 'POST',
    //                data: {
    //                    number: number,
    //                    year: year
    //                },
    //                success: function (data) {

    //                    if (data) {

    //                        if (data.BillId == null) {
    //                            var number2 = $('#tbBillNumber').val();
    //                            var year2 = $("#DdlBillYear  option:selected").text();
    //                            $("#billNumber").val(number);
    //                            $("#billYear").val(year2);
    //                        }
    //                        else {
    //                            alert("Bill number already exist.");
    //                            $('#tbBillNumber').val("");
    //                        }
    //                    } else { alert("error in getting bill number."); }
    //                },
    //                error: function (xhr, ajaxOptions, thrownError) {
    //                    alert(xhr.responseText);
    //                    alert(thrownError);
    //                }
    //            });
    //        }
    //    }
    //    else {
    //        var number = $('#tbBillNumber').val();
    //        var year = $("#DdlBillYear  option:selected").text();
    //        $("#billNumber").val(number);
    //        $("#billYear").val(year);
    //    }
    //})
    $("#tbBillDate").datepicker({
        dateFormat: 'dd/mm/yy',
    }).val();



    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    var category = "";
    function checkValidation(buttontype) {

        var paperId = $("#PaperLaidId").val();
        //alert(paperId);

        var title = $("#Title").val()
        var Desc = $("#Description").val();
        var FileVal = $("#filePaerLaid").val();

        if (title == "" && Desc == "" && FileVal == "") {
            $("#TitleValidation").append("").val("").html("@Resources.PaperLaidDepartment.TitleValidation")
            $("#DescriptionValidation").append("").val("").html("@Resources.PaperLaidDepartment.DescriptionValidation")
            $("#FileValidation").append("").val("").html("@Resources.PaperLaidDepartment.FileValidation")
            $("#PaperLaidForm").valid();
            return false;
        } else if (title == "") {
            $("#TitleValidation").append("").val("").html("@Resources.PaperLaidDepartment.TitleValidation")
            $("#DescriptionValidation").append("").val("").html("")
            $("#FileValidation").append("").val("").html("")
            $("#Title").focus();
            $("#PaperLaidForm").valid();

            return false;
        } else if (Desc == "") {

            $("#TitleValidation").append("").val("").html("")
            $("#DescriptionValidation").append("").val("").html("@Resources.PaperLaidDepartment.DescriptionValidation")
            $("#FileValidation").append("").val("").html("")
            $("#Description").focus();
            $("#PaperLaidForm").valid();

            return false;
        }
        else if (FileVal == "" && (paperId == "0" || paperId == "")) {
            $("#TitleValidation").append("").val("").html("")
            $("#DescriptionValidation").append("").val("").html("")
            $("#FileValidation").append("").val("").html("@Resources.PaperLaidDepartment.FileValidation")
            $("#filePaerLaid").focus();
            $("#PaperLaidForm").valid();
            return false;
        }
        else {
            $("#TitleValidation").append("").val("").html("")
            $("#DescriptionValidation").append("").val("").html("")
            $("#FileValidation").append("").val("").html("")
            $("#PaperLaidForm").validate();
        }
    if (document.getElementById("DdlCategory").value > 0) {
        var chkValue = category.toLowerCase();
        if (chkValue.indexOf("bill") >= 0) {
            var billNumber = document.getElementById("tbBillNumber").value;
            var billDate = document.getElementById("tbBillDate").value;

            if (billNumber == 0 && billDate == "") {

                $("#BillNUmberValueValidation").append("").val("").html("@Resources.PaperLaidDepartment.BillValidation")
                $("#BillDateValidation").append("").val("").html("@Resources.PaperLaidDepartment.BillDateValidation")
                $("#PaperLaidForm").valid();
                return false;
            }
            else if (billNumber == 0) {
                $("#BillNUmberValueValidation").append("").val("").html("@Resources.PaperLaidDepartment.BillValidation")
                $("#BillTypeIdValidation").append("").val("").html("")
                $("#PaperLaidForm").valid();
                return false;
            }
            else if (billDate == "") {
                $("#BillNUmberValueValidation").append("").val("").html("")
                $("#BillDateValidation").append("").val("").html("@Resources.PaperLaidDepartment.BillDateValidation")
                $("#PaperLaidForm").valid();
                return false;
            }


}
@*else if (chkValue.indexOf("question") >= 0) {
    var questionType = $("#DdlQuestionType").val();
    var questionNumer = $("#DdlQuestionNumber").val();
    if (questionType == 0) {
        $("#QuestionTypeValidation").append("").val("").html("@Resources.PaperLaidDepartment.QuestionTypeValidation")
            return false;
        }
        else if (questionType > 0 && questionNumer == 0) {
            $("#QuestionTypeValidation").append("").val("").html("")
            $("#QuestionIDValidation").append("").val("").html("@Resources.PaperLaidDepartment.QuestionNumberValidation")
            return false;
        }
}

else if (chkValue.indexOf("notice") >= 0) {
    if (document.getElementById("DdlNoticeNumber").value == 0) {
        $("#NoticeIDValidation").append("").val("").html("@Resources.PaperLaidDepartment.NoticeNumberValidation")
        return false;
    }
}*@

    }
        var a = confirm("@Resources.PaperLaidDepartment.Areyousure");
        if (a == true) {
            return true;
        }
        else {
            return false;
        }
    }
    $(document).ready(function () {
        $(':file').change(function () {            
            for (var i = 0; i < this.files.length; ++i) {
                var name = this.files.item(i).name;
                var fileExtension = ['pdf', 'doc', 'docx', 'xls'];
                var Extension = name.split('.').pop().toLowerCase();
                if ($.inArray(Extension, fileExtension) == -1) {
                    alert(name + " is not valid format. Only 'doc','docx','pdf','xls' formats are allowed.");
                    $(':file').val("");
                    return false;
                }
            }
        })
    })   

</script>
