﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV


@using (Html.BeginForm("UpdateBillPaperLaidFile", "Billpaperlaid", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.PaperLaidId)
    @Html.HiddenFor(m => m.FilePath)
    <div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px; border: 1px solid #C5C5C5; border: 1px solid #C5C5C5;">
      Bill Sent Record >> Replace Bill
    </div>
     <div>
        <table id="editableTable" class="simple-table-style" style="margin-top: 10px; margin-left: 0px; margin-right: 20px">
            <tr>
                <td colspan="2" style="text-align: center">
                    <div>
                        @Resources.PaperLaidDepartment.PaperToBeLaid
                    </div>
                </td>
                <td colspan="3">                    
                    <input type="file" id="uploadFile" name="file" /></td>@*accept="application/pdf,application/vnd.ms-excel"*@
            </tr>
            <tr>
                <td colspan="5" style="text-align: right;">
                    <input type="submit" value="@Resources.PaperLaidDepartment.AddNewFile" name="Update" onclick="return chkFile();" />
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <a id="showhidetrigger" href="javascript:void(0);">View Previous Replies</a>
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <div id="showhidetarget">
                        <table class="simple-table-style" style="width: 100%; margin-left: 0px; margin-right: 20px">
                            @if (@Model.DepartmentSubmitList != null)
                            {

                                if (@Model.DepartmentSubmitList.Count > 0)
                                {

                                    foreach (var deparmentList in Model.DepartmentSubmitList)
                                    {
                                <tr>
                                    <td colspan="5" style="padding-left:20px;">
                                        <p>Version ( @deparmentList.version ): <a href="@deparmentList.actualFilePath" target="_blank">@Resources.PaperLaidDepartment.ViewFile</a></p>
                                    </td>
                                </tr>
                                    }
                                }
                            }
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: right;">
                   <div style="border: 1px solid grey;">
    <table style="margin-left: 20px; width: 96%">
        <tr class="border-Down">
            <td class="tr-border-right">
                <strong>@Resources.PaperLaidDepartment.Number
                </strong>
            </td>
            <td>
                @Model.BillNUmberValue.ToString()   of   @Model.BillNumberYear.ToString()
            </td>
        </tr>
        <tr class="border-Down">
            <td class="tr-border-right">
                <strong>@Resources.PaperLaidDepartment.Title
                </strong>
            </td>
            <td>
                @Html.Raw(@Model.Title)
            </td>
        </tr>
     @*   <tr class="border-Down">
            <td class="tr-border-right">
                <strong>Member
                </strong>

            </td>
            <td>
                @Model.MemberName
            </td>
        </tr>*@
        <tr class="border-Down">
            <td class="tr-border-right">
                <strong>@Resources.PaperLaidDepartment.Department
                </strong>
            </td>
            <td>
                @Model.DeparmentName
            </td>
        </tr>
        <tr class="border-Down">
            <td class="tr-border-right">
                <strong>@Resources.PaperLaidDepartment.Minister
                </strong>

            </td>
            <td>
                @Model.MinistryName
            </td>

        </tr>        
        <tr class="border-Down">
            <td class="tr-border-right">
                <strong>@Resources.PaperLaidDepartment.Description
                </strong>
            </td>
            <td>
                @Html.Raw(@Model.Description)
            </td>
        </tr>






        <tr class="border-Down">
            <td class="tr-border-right">
                <strong>@Resources.PaperLaidDepartment.DesiredDateToLaid
                </strong>
            </td>
            <td style="width: 520px">
                @Model.DesireLayingDate
            </td>
        </tr>
        <tr class="border-Down">
            <td class="tr-border-right">
                <strong>@Resources.PaperLaidDepartment.PaperType
                </strong>
            </td>
            <td>
                Bill
            </td>
        </tr>
        <tr class="border-Down">
            <td class="tr-border-right">
                <strong>@Resources.PaperLaidDepartment.ProvisionUnderWhich
                </strong>

            </td>
            <td>
                @Html.Raw(@Model.ProvisionUnderWhich)
            </td>

        </tr>
        <tr class="border-Down">
            <td class="tr-border-right">
                <strong>@Resources.PaperLaidDepartment.Remark
                </strong>

            </td>
            <td>
                @Html.Raw(@Model.Remark)
            </td>

        </tr>
        <tr class="border-Down">
            <td class="tr-border-right">
                <strong>@Resources.PaperLaidDepartment.PaperToBeLaid
                </strong>
            </td>
            <td>
                <a href="@Model.actualFilePath" target="_blank" >@Model.FileName</a>
            </td>
        </tr>
        @if (Model.DepartmentSubmitDate != null)
        {
            <tr class="border-Down">
                <td class="tr-border-right">
                    <strong>@Resources.PaperLaidDepartment.DeptSubmittedDate
                    </strong>
                </td>
                <td>
                    @Model.DepartmentSubmitDate
                </td>
            </tr>
        }
    </table>
</div>
                </td>
            </tr>           
        </table>
        
    </div>
    @*<div>
        <table id="editableTable" class="simple-table-style" style="width: 96%; margin-top: 10px; margin-left: 0px; margin-right: 20px">
            <tr>
                <td colspan="2" style="text-align: center">
                    <div>
                        @Resources.PaperLaidDepartment.PaperToBeLaid
                    </div>
                </td>
                <td colspan="3">
                    <input type="file" id="uploadFile" name="file" /></td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: right;">
                    <input type="submit" value="@Resources.PaperLaidDepartment.AddNewFile" name="Update" onclick="return chkFile();" />
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <a id="showhidetrigger" href="#">View Previous Replies</a>
                </td>
            </tr>
        </table>
        <div id="showhidetarget">
            <table class="simple-table-style" style="width: 96%; margin-top: 10px; margin-left: 0px; margin-right: 20px">
                @if (@Model.DepartmentSubmitList != null)
                {

                    if (@Model.DepartmentSubmitList.Count > 0)
                    {

                        foreach (var deparmentList in Model.DepartmentSubmitList)
                        {
                    <tr>
                        <td colspan="5">
                            <p>Version ( @deparmentList.version ): <a href="@deparmentList.actualFilePath" target="_blank">@Resources.PaperLaidDepartment.ViewFile</a></p>
                        </td>
                    </tr>
                        }

                    }

                }
            </table>
        </div>
    </div>*@
    
    
    
}

<script>
    $(document).ready(function () {

        $(':file').change(function () {
            for (var i = 0; i < this.files.length; ++i) {
                var name = this.files.item(i).name;
                var fileExtension = ['pdf', 'doc', 'docx', 'xls'];
                var Extension = name.split('.').pop().toLowerCase();
                if ($.inArray(Extension, fileExtension) == -1) {
                    alert(name + " is not valid format. Only 'doc','docx','pdf','xls' formats are allowed.");
                    $(':file').val("");
                    return false;
                }
            }
        })

        $('#showhidetarget').hide();

        $('a#showhidetrigger').click(function () {
            $('#showhidetarget').toggle(400);
        });
    });

    function chkFile() {
        if (document.getElementById("uploadFile").value == "") {
            alert("please upload valid file");
            return false;
        }
        return true;
    }
   
</script>
