﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV

<span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="Bottm Info" style="text-align:left;margin-left:0px;margin-bottom:2px;">
 @Resources.Minister.UpComingLOB
</span>
@{    
    var grid = new Lib.Web.Mvc.JQuery.JqGrid.JqGridHelper<SBL.DomainModel.PaperLaidByPaperCategoryType>("CommonGrid",
                          
                            dataType: Lib.Web.Mvc.JQuery.JqGrid.JqGridDataTypes.Json,
                            footerEnabled: false,
                            methodType: Lib.Web.Mvc.JQuery.JqGrid.JqGridMethodTypes.Post,
                            pager: true,
                            rowsList: new List<int> { 10, 20, 30, 40, 50 },
                            rowsNumber: 10,
                            onSelectRow: "onSelectRowHandler",
                            sortingName: "PaperLaidId",
                           
                            sortingOrder: Lib.Web.Mvc.JQuery.JqGrid.JqGridSortingOrders.Desc,
                            url: Url.Action("GetBillUPLOBList"),
                             postData: new { Billnum = Model.BillNumber, Subject = Model.Subject },
                            userDataOnFooter: false,
                            viewRecords: true,
                            autoWidth: true,
                            emptyRecords: @Resources.Minister.NoRecordFound
                            //postDataScript: "function() { return { AssemblyId: $('#AssemblyCodeHome').val(), SessionId: $('#SessionCodeHome').val()}; }"
                        );
                        }
                    @grid.GetHtml()


<script>

    jQuery(document).ready(function () {
        @grid.GetJavaScript()
        jQuery("#CommonGrid").jqGrid('setLabel', 'NoticeNumber', '@Resources.PaperLaidDepartment.Number')
        jQuery("#CommonGrid").jqGrid('setLabel', 'Subject', '@Resources.PaperLaidDepartment.Subject')
        //jQuery("#CommonGrid").jqGrid('setLabel', 'MemberName', '@Resources.PaperLaidDepartment.AskedBy')
        jQuery("#CommonGrid").jqGrid('setLabel', 'PaperSent', '@Resources.PaperLaidDepartment.Paper')
        jQuery("#CommonGrid").jqGrid('setLabel', 'MinisterSubmittedDate', '@Resources.PaperLaidDepartment.Senton')
    });

  




    function onSelectRowHandler(rowId, status, event, Module) {

        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();
        var paperLaidID = 0;
        var id = $('#SessionCodeHome').val();
        var rowData = $(this).jqGrid("getRowData", rowId);


        //Get Paper Laid ID and Status for the Record.
        paperLaidID = rowData.PaperLaidId != "" ? rowData.PaperLaidId : 0;

        var status = parseInt(rowData.Status);
        alert(status);

        if (status == 1 || status == 2) {
            if (paperLaidID == 0) {
                $.ajax({
                    url: "/PaperLaidMinister/PaperLaidMinister/BillsPaperLaidDetails",
                    type: 'GET',
                    data: {
                        questionID: rowId,
                    },
                    success: function (data) {
                        if (data) {
                            $("#RightSidebar").html(data)
                            cl2.hide();
                            getNextHideDiv();
                        } else { alert("error"); }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
            else {
                $.ajax({
                    url: "/PaperLaidMinister/PaperLaidMinister/BillsPaperLaidDetails",
                    type: 'GET',
                    data: {
                        paperLaidId: paperLaidID,
                        SessionId: id,
                        Module: Module
                    },
                    success: function (data) {
                        if (data) {
                            $("#RightSidebar").html(data);
                            cl2.hide();
                            getNextHideDiv();
                        } else { alert("error"); }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
        }
        else if (status == 3) {
            $.ajax({
                url: "/PaperLaidMinister/PaperLaidMinister/SubmittedBillsPaperLaidDetails",
                type: 'GET',
                data: {
                    paperLaidId: paperLaidID
                },
                success: function (data) {
                    if (data) {
                        $("#RightSidebar").html(data);
                        cl2.hide();
                        getNextHideDiv();
                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }
    }
</script>