﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV
@using SBL.eLegistrator.HouseController.Web.Utility 

 <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />

@Html.HiddenFor(m => m.DSCApplicable)

@* <input type="hidden" id="SelectedSignChkbxId" name="SelectedSignChkbxId" />*@



<span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="Bottm Info" style="text-align:left;margin-left:0px;margin-bottom:2px;">
@Resources.PaperLaidDepartment.DraftBills
</span>
@{    
    var grid = new Lib.Web.Mvc.JQuery.JqGrid.JqGridHelper<SBL.DomainModel.Models.PaperLaid.MinisterBillsDraftModel>("CommonGrid",

                            dataType: Lib.Web.Mvc.JQuery.JqGrid.JqGridDataTypes.Json,
                            footerEnabled: false,
                            methodType: Lib.Web.Mvc.JQuery.JqGrid.JqGridMethodTypes.Post,
                            pager: true,
                            rowsList: new List<int> { 10, 20, 30, 40, 50 },
                            rowsNumber: 10,
                            onSelectRow: "onSelectRowHandler",
                            sortingName: "PaperLaidId",

                            sortingOrder: Lib.Web.Mvc.JQuery.JqGrid.JqGridSortingOrders.Desc,
                            url: Url.Action("GetDraftBills"),
                            postData: new { BillNumber = Model.BillNumber, Subject = Model.Subject },
                            userDataOnFooter: false,
                            viewRecords: true,
                            autoWidth: true,
                            emptyRecords: @Resources.Minister.NoRecordFound
                            //postDataScript: "function() { return { AssemblyId: $('#AssemblyCodeHome').val(), SessionId: $('#SessionCodeHome').val()}; }"
                        );
                        }
                    @grid.GetHtml()

@*onclick="checkSignChange(this.id)"*@


<br />
             @if (CurrentSession.SignaturePath == "")
{
                <div style="width:100%;display:none">
                    <input type="checkbox" id="SignedChk"  class="Checkbox"  value="checked" checked  onclick="checkSignChange(this.id)" style="vertical-align:top"/> <strong>Embed the Handwritten signature in Paper<label style="color:green" for="aaa">(Your paper will send wihout your Handwritten signature, You can upload your Signature from update Profile)</label></strong>
              </div>
}
else
{
                <div style="width:100%;display:none">
                    <input type="checkbox" id="SignedChk"  class="Checkbox"  value="checked" checked  onclick="checkSignChange(this.id)" style="vertical-align:top"/> <strong>Embed the Handwritten signature in Paper</strong>
              </div>
}

 <br />



<div style="padding-top:10px;display:none">
    <table style="width: 100%;" class="minwb-style1">
        <tr>
            <td>

                    @if (Model.DSCApplicable == "True")
                    {

                        if (CurrentSession.UserHashKey != "")
                        {
                            if (Model.IsPermissions == true)
                            {
                    <a href="#" id="id-btn-dialog2" class="btn btn-primary">
                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                        @Resources.PaperLaidDepartment.SignAndSend

                    </a>
                    <div style="padding-top:1%;">
                            <span class="label label-large label-pink arrowed-right">@Resources.PaperLaidDepartment.SendingrepliestoVidhanSabha</span>
                        </div>
          
                            }
                        }
                        else
                        {
                    <i class="ace-icon fa fa-hand-o-right green"></i>
                    <h5 class="widget-title lighter">@Resources.PaperLaidDepartment.RegisterYourDSC</h5>
                        }
                    }
                    else
                    {
                        if (CurrentSession.SignaturePath == "")
                        {
                            <a href="#" id="id-btn-dialog4" class="btn btn-primary">
                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                     Send
                    </a>
                    <div style="padding-top:1%;">
                 
                            <span class="label label-large label-pink arrowed-in-right arrowed">
                                @Resources.Minister.SendingselectedbillsVidhanSabha</span>
                      </div> 
                        }
                        else
                        {
                              <a href="#" id="id-btn-dialog3" class="btn btn-primary">
                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                     Send
                    </a>
                    <div style="padding-top:1%;">
                 
                            <span class="label label-large label-pink arrowed-in-right arrowed">
                                @Resources.Minister.SendingselectedbillsVidhanSabha</span>
                      </div>
                        }
                
   
                    }
              
            </td>
        </tr>
    </table>

</div>


   <div id="dialog-confirm" class="hide">
        <p>@Resources.PaperLaidDepartment.Areyousure </p>
    </div>

    <div id="dialog-alert" class="hide">
        <p>@Resources.PaperLaidDepartment.SelectPapersFirst </p>
    </div>

      <div id='SignModel' class="hide">
           @* <div id='ShowSignModel' style="text-align: center">
            </div>*@
        </div>

<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script>

    $.PaperLaidIdForCheckBoxFormatter = function (cellvalue, options, rowObject) {

        return "<div style='width:100%;text-align:center'>  <input type='checkbox' id='Chk_" + cellvalue + "' class='Checkbox' onclick='checkChange(this.id)' style='vertical-align:top' /></div>";

    };



    jQuery(document).ready(function () {
        @grid.GetJavaScript()
        
        jQuery("#CommonGrid").jqGrid('setLabel', 'PaperLaidIdForCheckBox', '@Resources.PaperLaidDepartment.Ticktosend')
        jQuery("#CommonGrid").jqGrid('setLabel', 'NoticeNumber', '@Resources.PaperLaidDepartment.Number')
        jQuery("#CommonGrid").jqGrid('setLabel', 'Subject', '@Resources.PaperLaidDepartment.Subject')
        //jQuery("#CommonGrid").jqGrid('setLabel', 'MemberName', '@Resources.PaperLaidDepartment.AskedBy')
        jQuery("#CommonGrid").jqGrid('setLabel', 'PaperSent', '@Resources.PaperLaidDepartment.Paper')
        jQuery("#CommonGrid").jqGrid('setLabel', 'DepartmentSubmittedDate', '@Resources.PaperLaidDepartment.Senton')

    });


    jQuery(function ($) {

        $("#id-btn-dialog2").on('click', function (e) {
            e.preventDefault();
            var SIds = document.getElementById("SelectedChkbxId").value;


            if (SIds != null && SIds != "") {
                if ($('#SignedChk').prop('checked')) {
                   
                    var pathurl = '@Url.Action("BillsHandWrittenSignDocument", "PaperLaidMinister")';
                    $.ajax({
                        type: 'GET',
                        url: pathurl,
                        data: {
                            SIds: SIds
                            //publicPassID: PassID
                        },
                        success: function (data) {
                            $('#SignModel').html("");
                            $('#SignModel').html(data);

                            $("#SignModel").removeClass('hide').dialog({
                                resizable: false,
                                modal: true,
                                width: 600,
                                title: "Hand-Written Signature!",
                                title_html: true,
                                
                                buttons: [
                                    {
                                        html: "&nbsp; Send",
                                        "class": "btn btn-primary",
                                        click: function () {
                                            $(this).dialog("close");
                                            SubmitHandWrittenSignatureSelectedPaper();
                                        }
                                    }
                                ]
                            });
                        }
                    });
                }
                else {

                    var SIds = document.getElementById("SelectedChkbxId").value;

                    if (SIds != null && SIds != "") {
                        $("#dialog-confirm").removeClass('hide').dialog({
                            resizable: false,
                            modal: true,
                            title: "Confirm!",
                            title_html: true,
                            buttons: [
                                {
                                    html: "&nbsp; Yes",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                        SubmitSelectedPaper();
                                    }
                                }
                                ,
                                {
                                    html: "&nbsp; Cancel",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }
                            ]
                        });
                    }
                    else {
                        $("#dialog-alert").removeClass('hide').dialog({
                            resizable: false,
                            modal: true,
                            title: "Alert!",
                            title_html: true,
                            buttons: [
                                {
                                    html: "&nbsp; Okay",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }
                            ]
                        });
                    }
                }
            }
       
        });

    });


    jQuery(function ($) {

        $("#id-btn-dialog3").on('click', function (e) {
            e.preventDefault();
            var SIds = document.getElementById("SelectedChkbxId").value;

            if (SIds != null && SIds != "") {
                if ($('#SignedChk').prop('checked')) {

                    var pathurl = '@Url.Action("BillsHandWrittenSignDocument", "PaperLaidMinister")';
                    $.ajax({
                        type: 'GET',
                        url: pathurl,
                        data: {
                            SIds: SIds
                            //publicPassID: PassID
                        },
                        success: function (data) {
                            $('#SignModel').html("");
                            $('#SignModel').html(data);

                            $("#SignModel").removeClass('hide').dialog({
                                resizable: false,
                                modal: true,
                                width: 600,
                                title: "Hand-Written Signature!",
                                title_html: true,

                                buttons: [
                                    {
                                        html: "&nbsp; Send",
                                        "class": "btn btn-primary",
                                        click: function () {
                                            $(this).dialog("close");
                                            SubmitHandWrittenSignatureSelectedPaperWithoutSign();
                                        }
                                    }
                                ]
                            });
                        }
                    });
                }
                else {

                    var SIds = document.getElementById("SelectedChkbxId").value;

                    if (SIds != null && SIds != "") {
                        $("#dialog-confirm").removeClass('hide').dialog({
                            resizable: false,
                            modal: true,
                            title: "Confirm!",
                            title_html: true,
                            buttons: [
                                {
                                    html: "&nbsp; Yes",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                        SubmitSignedSelectedPaper();
                                    }
                                }
                                ,
                                {
                                    html: "&nbsp; Cancel",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }
                            ]
                        });
                    }
                    else {
                        $("#dialog-alert").removeClass('hide').dialog({
                            resizable: false,
                            modal: true,
                            title: "Alert!",
                            title_html: true,
                            buttons: [
                                {
                                    html: "&nbsp; Okay",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }
                            ]
                        });
                    }
                }
            }

        });

    });



    jQuery(function ($) {

        $("#id-btn-dialog4").on('click', function (e) {
            e.preventDefault();
            var SIds = document.getElementById("SelectedChkbxId").value;
           
            if (SIds != null && SIds != "") {
                if ($('#SignedChk').prop('checked')) {

                    var pathurl = '@Url.Action("SubmitHandWrittenSignatureSelectedPaperWithoutSign", "PaperLaidDepartment")';

                    if (SIds != null && SIds != "") {
                        $("#dialog-confirm").removeClass('hide').dialog({
                            resizable: false,
                            modal: true,
                            title: "Confirm!",
                            title_html: true,
                            buttons: [
                                {
                                    html: "&nbsp; Yes",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                        SubmitHandWrittenSignatureSelectedPaperWithoutSignImage();
                                    }
                                }
                                ,
                                {
                                    html: "&nbsp; Cancel",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }
                            ]
                        });
                    }
                    else {
                        $("#dialog-alert").removeClass('hide').dialog({
                            resizable: false,
                            modal: true,
                            title: "Alert!",
                            title_html: true,
                            buttons: [
                                {
                                    html: "&nbsp; Okay",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }
                            ]
                        });
                    }
                }
            }


        });

    });


    function SubmitHandWrittenSignatureSelectedPaperWithoutSignImage() {


        var SIds = document.getElementById("SelectedChkbxId").value;


        if (SIds != null && SIds != "") {


            $.get("/PaperLaidMinister/PaperLaidMinister/SubmitHandWrittenSignatureSelectedPaperWithoutSignImage", { Ids: SIds, lSMCode: "BLL" }, function (data) {
                window.location.href = '@Url.Action("MinisterDashboard", "PaperLaidMinister", new { Area = "PaperLaidMinister" })';

            });
            }
        }

    function checkChange(id) {
        
        if (document.getElementById(id).checked) {
            var selectedId = document.getElementById("SelectedChkbxId").value;
            if (selectedId == "") {
                document.getElementById("SelectedChkbxId").value = id.substring(4);
            }
            else {
                selectedId = selectedId + "," + id.substring(4);
                document.getElementById("SelectedChkbxId").value = selectedId;
            }
            //alert(document.getElementById("SelectedChkbxId").value)
        }
        else {
            var selectedId = document.getElementById("SelectedChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(4), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4), "");
            }

            document.getElementById("SelectedChkbxId").value = newvalue;

            //alert(document.getElementById("SelectedChkbxId").value);
        }

        if ($(".Checkbox").not(':checked').length == 0) {
            $('#ChkBoxAll').attr('checked', true)
        }
        else {
            $('#ChkBoxAll').attr('checked', false)
        }
    }

    function checkSignChange(id) {
       
        if (document.getElementById(id).checked) {
            var selectedId = document.getElementById("SelectedSignChkbxId").value;
            if (selectedId == "") {
                document.getElementById("SelectedSignChkbxId").value = id.substring(4);
            }
            else {
                selectedId = selectedId + "," + id.substring(4);
                document.getElementById("SelectedSignChkbxId").value = selectedId;
            }
            //alert(document.getElementById("SelectedChkbxId").value)
        }
        else {
            var selectedId = document.getElementById("SelectedSignChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(4), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4), "");
            }

            document.getElementById("SelectedSignChkbxId").value = newvalue;

            //alert(document.getElementById("SelectedChkbxId").value);
        }

        if ($(".Checkbox").not(':checked').length == 0) {
            $('#ChkBoxAll').attr('checked', true)
        }
        else {
            $('#ChkBoxAll').attr('checked', false)
        }
    }



   

    function SubmitSelectedPaper() {
        var SIds = document.getElementById("SelectedChkbxId").value;
    
        if (SIds != null && SIds != "") {
            $.get("/PaperLaidMinister/PaperLaidMinister/SubmitSelectedPaper", { Ids: SIds, lSMCode: "BLL"}, function (data) {
                $("#RightSidebar").html(data)

            });
            }
    }

    function SubmitSignedSelectedPaper() {
        var SIds = document.getElementById("SelectedChkbxId").value;

        if (SIds != null && SIds != "") {
            $.get("/PaperLaidMinister/PaperLaidMinister/SubmitSignedSelectedPaper", { Ids: SIds, lSMCode: "BLL" }, function (data) {
               
                window.location.href = '@Url.Action("MinisterDashboard", "PaperLaidMinister", new { Area = "PaperLaidMinister" })';
              
             
            });
        }
    }


    function SubmitHandWrittenSignatureSelectedPaperWithoutSign() {
        var SIds = document.getElementById("SelectedChkbxId").value;
        var radiobutton = document.getElementsByName("HindiRadioSignatureID");

        for (var x = 0; x < radiobutton.length; x++) {
            if (radiobutton[x].checked) {

                var SignatureType = radiobutton[x].value;

            }
        }

        var PagesToApplySignatureID = document.getElementById("PagesToApplySignatureID").value;
        var PositionToApplySignatureID = document.getElementById("PositionToApplySignatureID").value;


        if (SIds != null && SIds != "") {
            $.get("/PaperLaidMinister/PaperLaidMinister/SubmitHandWrittenSignatureSelectedPaperWithoutSign", { Ids: SIds, lSMCode: "BLL", SignatureType: SignatureType, PagesToApplySignatureID: PagesToApplySignatureID, PositionToApplySignatureID: PositionToApplySignatureID }, function (data) {
                window.location.href = '@Url.Action("MinisterDashboard", "PaperLaidMinister", new { Area = "PaperLaidMinister" })';

            });
        }
    }

    function SubmitHandWrittenSignatureSelectedPaper() {
        var SIds = document.getElementById("SelectedChkbxId").value;
        var radiobutton = document.getElementsByName("HindiRadioSignatureID");

        for (var x = 0; x < radiobutton.length; x++) {
            if (radiobutton[x].checked) {
               
                var SignatureType = radiobutton[x].value;

            }
        }

        var PagesToApplySignatureID = document.getElementById("PagesToApplySignatureID").value;
        var PositionToApplySignatureID = document.getElementById("PositionToApplySignatureID").value;
        

        if (SIds != null && SIds != "") {
            $.get("/PaperLaidMinister/PaperLaidMinister/SubmitHandWrittenSignature", { Ids: SIds, lSMCode: "BLL", SignatureType: SignatureType, PagesToApplySignatureID: PagesToApplySignatureID, PositionToApplySignatureID: PositionToApplySignatureID }, function (data) {
                $("#RightSidebar").html(data)

            });
        }
    }



    function onSelectRowHandler(rowId, status, event, Module) {

       
        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();
        var paperLaidID = 0;
        var id = $('#SessionCodeHome').val();
        var rowData = $(this).jqGrid("getRowData", rowId);

        //Get Paper Laid ID and Status for the Record.
        paperLaidID = rowData.PaperLaidId != "" ? rowData.PaperLaidId : 0;

       
        var status = parseInt(rowData.Status);       
       
        if (status == 1 || status == 2) {
            if (paperLaidID == 0) {
                $.ajax({
                    url: "/PaperLaidMinister/PaperLaidMinister/BillsPaperLaidDetails",
                    type: 'GET',
                    data: {
                        questionID: rowId,
                    },
                    success: function (data) {
                        if (data) {
                            $("#RightSidebar").html(data)
                            cl2.hide();                            
                        } else { alert("error"); }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
            else {
                $.ajax({
                    url: "/PaperLaidMinister/PaperLaidMinister/BillsPaperLaidDetails",
                    type: 'GET',
                    data: {
                        paperLaidId: paperLaidID,
                        SessionId: id,
                        Module: Module
                    },
                    success: function (data) {
                        if (data) {
                            $("#RightSidebar").html(data);
                            cl2.hide();
                            getNextHideDiv();
                        } else { alert("error"); }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
        }
        else if (status == 3) {
            $.ajax({
                url: "/PaperLaidMinister/PaperLaidMinister/SubmittedBillsPaperLaidDetails",
                type: 'GET',
                data: {
                    paperLaidId: paperLaidID
                },
                success: function (data) {
                    if (data) {
                        $("#RightSidebar").html(data);
                        cl2.hide();
                        getNextHideDiv();
                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }
    }
</script>