﻿@model SBL.eLegistrator.HouseController.Web.Areas.Passes.Models.PassIndexViewModel
@{
    int count = 0;
}

<div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
    <button class="btn  btn-sm btn-info" onclick="javascript:window.location.href='/Passes/Pass/IssueNewPass';">
        <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
        <span class="bigger-110">Request New Pass</span>
    </button>
</div>
<div class="page-header">
    <h1>Passes                               
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Model.Heading
                </small>
    </h1>


</div>

<!-- /section:settings.box -->
<div class="row">
    <div class="col-xs-12">

        <div class="pass-table">
            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                <div class="row">
                    <div class="col-xs-6">
                        <div id="sample-table-2_length" class="dataTables_length">
                            <label>
                                Display
                                        <select name="sample-table-2_length" size="1" aria-controls="sample-table-2">
                                            <option value="10" selected="selected">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                records</label>
                        </div>
                    </div>
                    <div class="col-xs-6 pull-right">
                        <div class="dataTables_filter" id="sample-table-2_filter">
                            @Html.DropDownListFor(model => model.PassCategoryId, Model.PassCategoryList, "-- Select Pass Category --", new { @class = "col-xs-10 col-sm-5 pull-right" })
                            <input type="text" id="SearchText" value="@Model.SearchText" placeholder="Search" class="pull-right" aria-controls="sample-table-2">
                        </div>
                    </div>
                </div>

                @if (Model.PassList.Count > 0)
                {
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">
                                @* <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">
                                        <label class="position-relative">
                                            <input type="checkbox" class="ace">
                                            <span class="lbl"></span>
                                        </label>
                                    </th>*@
                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">#
                                </th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Name</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Pass Type</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Organisation: activate to sort column ascending">Organisation/Department

                                </th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Mobile: activate to sort column ascending">Mobile</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="eMail: activate to sort column ascending">
                                    <i class="ace-icon fa fa-envelope bigger-110 hidden-480"></i>Email
                                </th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="UID: activate to sort column ascending">UID</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Status</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Active</th>
                                <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                            </tr>
                        </thead>


                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.PassList)
                            {

                                count = count + 1;
                                string style = (count % 2 == 0) ? "odd" : "even";
                                <tr class="@style">
                                    @* <td class="center  sorting_1">
                                            <label class="position-relative">
                                                <input type="checkbox" class="ace">
                                                <span class="lbl"></span>
                                            </label>
                                        </td>*@
                                    <td class=" ">@count</td>
                                    <td class="">
                                        <a href="@Url.Action("EditPass", "Pass", new { Id = item.PassID })">@item.Prefix @item.Name</a>
                                    </td>
                                    <td class=" ">@item.PassCategoryName</td>
                                    <td class=" ">@item.OrgDeptName</td>
                                    <td class="hidden-480 ">@item.Phone</td>
                                    <td class=" ">@item.Email</td>
                                    <td class=" ">@item.UID</td>

                                    <td class="hidden-480 ">
                                        @if (item.Status == 1)
                                        {
                                            <span class="label label-sm label-warning">Requested</span>
                                        }
                                        else if (item.Status == 2)
                                        {
                                            <span class="label label-sm label-success">Approved</span>
                                        }
                                        else if (item.Status == 3)
                                        {
                                            <span class="label label-sm label-danger">Rejected</span>
                                        }
                                    </td>
                                    <td class="hidden-480 ">
                                        @if (item.IsActive)
                                        {
                                            <span class="label label-sm label-success">Enabled</span>
                                        }
                                        else
                                        {
                                            <span class="label label-sm label-danger">Disabled</span>
                                        }

                                    </td>

                                    <td class=" ">
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a title="Change Status" href="@Url.Action("ChangeStatus", "Pass", new { Id = item.PassID })" class="blue">
                                                <i class="ace-icon fa fa-check-square-o bigger-130"></i>
                                            </a>

                                            <a title="Edit" href="@Url.Action("EditPass", "Pass", new { Id = item.PassID })" class="green">
                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                            </a>
                                            <a image="@item.Photo" title="Photo Preview" onclick="ImagePriview(this);" href="javascript:void(0);" role="button"  data-toggle="modal" >
                                                <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                            </a>


                                        </div>

                                        <div class="hidden-md hidden-lg">
                                            <div class="inline position-relative">
                                                <button data-position="auto" data-toggle="dropdown" class="btn btn-minier btn-yellow dropdown-toggle">
                                                    <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                </button>

                                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                    <li>
                                                        <a title="Change Status" data-rel="tooltip" class="tooltip-info" href="@Url.Action("ChangeStatus", "Pass", new { Id = item.PassID })">
                                                            <span class="blue">
                                                                <i class="ace-icon fa fa-check-square-o bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a title="Edit" data-rel="tooltip" class="tooltip-success" href="@Url.Action("EditPass", "Pass", new { Id = item.PassID })">
                                                            <span class="green">
                                                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a image="@item.Photo" title="Photo Preview" onclick="ImagePriview(this);" href="javascript:void(0);" role="button"  data-toggle="modal" >
                                                            <span class="green">
                                                                <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                                            </span>
                                                        </a>
                                                    </li>


                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>

                    </table>
                }
                else
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-info">

                                <strong>0 Passes</strong><br />
                                There is no passes
										
                            </div>
                        </div>
                    </div>
                }
                @*<div class="row">
                            <div class="col-xs-6">
                                <div class="dataTables_info" id="sample-table-2_info">Showing 1 to 8 of 8 entries</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="dataTables_paginate paging_bootstrap">
                                    <ul class="pagination">
                                        <li class="prev disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                                        <li class="prev disabled"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li class="next disabled"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                        <li class="next disabled"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>*@
            </div>
            <!-- PAGE CONTENT ENDS -->
        </div>

        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>


<script>
    //Filtering based on category
    $('#PassCategoryId').change(function () {
        var PassCategoryId = $(this).val();
        var targetdiv = document.getElementById("GridContainer");
        var ajaxloader = new Spinner();
        ajaxloader.spin(targetdiv);

        var SearchText = $('#SearchText').val();
        var status = '@Model.Status';
        var AssemblyId = '@Model.AssemblyId';
        var SessionId = '@Model.SessionId';
        var url = '/Passes/Pass/Index';
        $.post(url,
            {
                PassCategoryId: PassCategoryId,
                Status: status,
                AssemblyId: AssemblyId,
                SessionId: SessionId,
                SearchText: ""

            }, function (response) {
                ajaxloader.stop();
                $('#GridContainer').html(response);
            });

    });

    function ImagePriview(obj) {
        var image = $(obj).attr('image');
        var path = '/Images/Pass/Photo/' + image;
        var modalBody = "<img width='300' height='300' src='" + path + "' />";
        $('#modal-body').attr('style', 'padding:20px;width:300px;height:300px;');
        $('#modal-body').html(modalBody);


        $('#modal').modal('show');
    }
</script>
