﻿<style>
	.hspan {
		font-size: 18px;
		color: #f89406;
		border-bottom-color: #fdd0ac;
		font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
		/*font-weight:400;*/
		margin-left: 50px;
	}

	table i {
		font-style: normal !important;
	}
</style>

<div class="page-header">
	<h1>Salary Section
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					Status Of Requested Bills
				</small>
	</h1>
</div>

@using (Html.BeginForm("generatePdf", "salary", FormMethod.Post, new { id = "generatePDFforOuterBill"}))
{
	<div class="row">
		<div class="col-xs-12 ">

			<div class="widget-box">
				<div class="widget-header">
					<h4 class="widget-title">Status Of Requested Bills</h4>

					<div class="widget-toolbar">
						<div class="widget-menu">

							<label>
								Select Month
							</label>
							<select id="MonthID" style="height: 34px;">
							</select>
							<label>
								Select Year
							</label>
							<select id="YearID" style="height: 34px;">
							</select>
							<button class="btn btn-xs btn-primary btn-bold" type="button" onclick="getActiveTab()">
								<i class="ace-icon fa fa-search bigger-150"></i>
								<span class="bigger-110">Search</span>
							</button>
							<a href="#" data-action="fullscreen" class="orange2">
								<i class="ace-icon fa fa-expand"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="widget-body">
					<div class="widget-main no-padding-left no-padding-right">

						<did id="salaryBillListDiv"></did>

						<!-- /.col -->
					</div>
				</div>
			</div>
		</div>
		<!-- /.col -->
	
		@*<div class="clearfix form-actions col-xs-12">
			<div class="col-xs-12 col-sm-9">
			</div>

			<div class="col-xs-12 col-sm-3">

				<button class="btn btn-primary" type="submit" >
					<i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
					Generate Salary Slip For Selected
				</button>
			</div>
		</div>*@
   
   
		
  
	</div>
	
	<!-- /.row -->
}

<!-- /.page-content -->

<div id="selectDesignatioMsg" style="visibility: hidden;">
	<div class="alert alert-info">

		<strong>Information </strong>

		Please Select Designation to Generated PDF Of Salary Bills.
										<br />
	</div>
</div>

<input type="hidden" id="tableCount" value="0" />
<input type="hidden" id="returnAutoID" value="0" />

<div class="modal" id="PDFconfirmation">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="blue bigger">Confirmation</h4>
			</div>

			<div class="modal-body">
				<div class="widget-body">
					<div class="widget-main no-padding-right no-padding-left">
						<div class="row">
							<div class="col-xs-12 col-sm-12">
								<h3 class="header blue lighter smaller">
									<i class="ace-icon fa fa-check smaller-90"></i>
									Salary Bill has been Generated Successfully.
								</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-3">
								<div class="checkbox">
									<label>
										<input name="form-field-checkbox" class="ace ace-checkbox-2" type="checkbox" id="sendMailCheck" />
										<span class="lbl">Send Mail</span>
									</label>
								</div>
							</div>
							<div class="col-xs-12 col-sm-3">
								<div class="checkbox">
									<label>
										<input name="form-field-checkbox" class="ace ace-checkbox-2" type="checkbox" id="sendSmsCheck" />
										<span class="lbl">Send SMS</span>
									</label>
								</div>
							</div>

							<div class="col-xs-12 col-sm-3">
								<div class="checkbox">
									<label>
										<input name="form-field-checkbox" class="ace ace-checkbox-2" type="checkbox" id="downloadCheck" />
										<span class="lbl">Download</span>
									</label>
								</div>
							</div>
							<div class="col-xs-12 col-sm-3">
								<div class="checkbox">
									<label>
										<a href="#" id="filepath" target="_blank">
											<span class="lbl">View Salary Slip</span>   </a>
									</label>
								</div>
							</div>
						</div>
						<div class="row" id="prgs" style="margin: 0px; padding: 0px; display: none;">
							<div class="progress progress-small progress-striped active" style="margin: 0px; padding: 0px;">
								<div class="progress-bar progress-bar-primary" style="width: 1%;"></div>
							</div>
							<span class="text-primary" id="prgstext"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-sm" data-dismiss="modal">
					<i class="ace-icon fa fa-times"></i>
					Cancel
				</button>

				<button class="btn btn-sm btn-primary" type="submit" onclick="sendsmsandmail()">
					<i class="ace-icon fa fa-save"></i>
					Submit
				</button>
			</div>
		</div>
	</div>
</div>

<script>
	var theDate = new Date();
	var month = new Array(11);
	$(document).ready(function () {
		month[0] = "Jan";
		month[1] = "Feb";
		month[2] = "Mar";
		month[3] = "Apr";
		month[4] = "May";
		month[5] = "Jun";
		month[6] = "Jul";
		month[7] = "Aug";
		month[8] = "Sep";
		month[9] = "Oct";
		month[10] = "Nov";
		month[11] = "Dec";
		fillMonth();
		fillYear();
		
		var currMonth = theDate.getMonth();
		$("#MonthID").val(currMonth + 1);
		$("#YearID").val(theDate.getFullYear());

	});
	function fillMonth() {

		for (var i = 0; i <= 11; i++) {
			try {
				$("#MonthID").append($("<option></option>").val(i + 1).html(month[i]));
			} catch (error) {
				alert(error.message);
			}
		}
	}
	function fillYear() {

		var currentyear = theDate.getFullYear();

		for (var i = currentyear - 11; i < 2015; i++) {
			$("#YearID").append($("<option></option>").val(i).html(i));
		}
	}


	function getActiveTab() {
		
		getList();
	}
	function getList() {

		var monthid = "@DateTime.Now.Month";
		var yearid = "@DateTime.Now.Year";
		$("#loader-wrapper").show();
		var path = "@Url.Action("getBillList", "OldSalary")";
		var request = $.ajax({
			url: path,
			type: 'GET',
			data: { monthID: $("#MonthID option:selected").val(), yearID: $("#YearID option:selected").val() },
			//contentType: "application/json; charset=utf-8",
			//dataType: "json",

			success: function (data) {

				$("#salaryBillListDiv").html('');
				$("#salaryBillListDiv").html(data);
				$("#loader-wrapper").hide();

			}
		});

	}
	function sendsms(autoID) {

		var pathurl = "@Url.Action("sendSMSBYAutoID", "salary")";
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: { AutoID: autoID },
			success: function (data) {
				if (data) {

				}
			}
		});
	}
	function sendMail(autoID) {

		var pathurl = "@Url.Action("sendMAILBYAutoID", "salary")";
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: { AutoID: autoID },
			success: function (data) {
				if (data) {

				}
			}
		});
	}
	function downLoadFile(autoID) {
		$("#prgstext").html("Downloading File...");
		$(".progress-bar").width(90);
		$("#prgstext").html("File Downloaded...");
		$(".progress-bar").width(95);

	}
	function sendsmsandmail()
	{
	    debugger;
		var autoID = $("#returnAutoID").val();
		$("#prgs").show();
		var progress = 10;
		$("#prgstext").html("Process Start...");
		$(".progress-bar").width('10%');

		if ($("#sendMailCheck").is(':checked')) {
			$(".progress-bar").width('20%');
			$("#prgstext").html("Sending Mail...");
			$(".progress-bar").width('25%');
			sendMail(autoID);
			$(".progress-bar").width('45%');
			$("#prgstext").html("Mail Sent...");
			$(".progress-bar").width('50%');
		}
		if ($("#sendSmsCheck").is(':checked')) {
			$(".progress-bar").width('60%');
			$("#prgstext").html("Sending SMS...");
			$(".progress-bar").width('65%');
			sendsms(autoID);
			$(".progress-bar").width('85%');
			$("#prgstext").html("SMS Sent...");
			$(".progress-bar").width('90%');
		}
		if ($("#downloadCheck").is(':checked')) {
			$(".progress-bar").width('92%');
			$("#prgstext").html("Downloading File...");
			$(".progress-bar").width('96%');
			downLoadFile(autoID);
			$(".progress-bar").width('100%');
			$("#prgstext").html("File Downloaded...");

		}
		$("#prgstext").html("Process Complete...");
		$(".progress-bar").width('100%');
		$("#prgs").fadeOut(3000);
		//$(".progress-bar").width('10%');

		function close() {
			$("#PDFconfirmation").modal('hide');
		}

	}

	$("#btnSubmit").click(function (e) {
	    debugger;
		var b = true;
		if ($("#downloadStatus").attr("checked")) {
		    $("#generatePDFforOuterBill").attr("target", "_blank");
		    $("#btnSubmit").prop("type", "submit");
		    $("#generatePDFforOuterBill").submit();
		    ShowNotification("success", "Request has been sent to server and your files will be download soon.");
		}
		else
		{
		    $("#btnSubmit").prop("type", "button");
		    $("#loader-wrapper").show();
		    $.ajax({
		        url: $("#generatePDFforOuterBill").attr('action'),
		        type: $("#generatePDFforOuterBill").attr('method'),
		        data: $("#generatePDFforOuterBill").serialize(),
		        success: function (data) {
		           // ShowNotifaction("success", data);
		            ShowNotification("success", data);
		            $("#loader-wrapper").hide();
		        }
		    });
		}
		
	 });
</script>