﻿@model IEnumerable<SBL.DomainModel.Models.OldSalary.oldSalaryViewModel>
@{int count = 0;
  int k = 0;}
<div class="pass-table">

    <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">

        <table class="table table-striped table-bordered table-hover dataTable leftaligntable" id="sample-table-2" aria-describedby="sample-table-2_info">
            <thead>
                <tr role="row">

                    <th class=" sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">#</th>
                   
                    <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Name</th>
                    <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 2%;">Designation</th>
                    <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Total Allowances</th>
                    <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Total Deductions</th>
                    <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Net Payble</th>
                   
                    <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Salary Slip</th>
                </tr>
            </thead>

            <tbody role="alert" aria-live="polite" aria-relevant="all">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {

                        count = count + 1;
                        string style = (count % 2 == 0) ? "odd" : "even";

                        //  var trID = item.SystemModuleID;
                        var ID = item.MlaAllowances_old.AutoID;

                    <tr class="@style" id="@ID">
                        <!-- <tr class="" id="" onclick="">-->
                        <td class="">@count</td>
                      
                        <td class="">
                            <i class="">@item.MlaDir_old.Name</i>
                        </td>
                        <td class="">
                            <i class="">@item.MlaAllowances_old.DesignationFlag</i>
                        </td>
                        <td class="">
                            <i class="">Rs. @item.totalAllowances.00</i>
                        </td>
                        <td class="">
                            <i class="">Rs. @item.totalDeduction.00</i>
                        </td>
                        <td class="">
                            <i class="">Rs. @item.total.00</i>
                        </td>
                    

                        <td>
                            <div class="hidden-sm hidden-xs action-buttons">

                                <button type="button" class="btn btn-minier btn-success"  id="@item.MlaAllowances_old.AutoID" onclick="generatePDF(this.id,false)">
                                    <i class="ace-icon fa fa-pencil-square-o bigger-110"></i>
                                    Generate
                                </button>
                            </div>
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        tableinit();
    });
    function tableinit() {
        var oTable1 =
		 $('#sample-table-2')
		 .dataTable({
		     "bDestroy": true,
		     bAutoWidth: true,
		     "aoColumns": [
				{ "bSortable": false },
			   null, null, null, null, null,  

			   { "bSortable": false }

		     ]
		 });
    }
    $(".checkstatus").click(function (obj) {

        if ($(obj.target.id).checked) {
            $(obj.target.id).val('true');
        }
        else {
            $(obj.target.id).val('false');
        }
    });
    function checkAll(ele) {
        var checkboxes = document.getElementsByTagName('input');
        if (ele.checked) {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                }
            }
        } else {
            for (var i = 0; i < checkboxes.length; i++) {
                console.log(i)
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                }
            }
        }
    }
    function saveRemark(remark, autoID) {
        var pathurl = "@Url.Action("saveBillRemark", "salary")";
	    $.ajax({
	        url: pathurl,
	        type: 'GET',
	        data: {
	            remark: remark, autoID: autoID

	        },
	        success: function (data) {
	            try {

	                var RemarkList = data.split("@@");
	                $("#remarkUL_" + autoID + " ul").empty();
	                var count = 0;
	                for (var i = 0; i < RemarkList.length; i++) {
	                    try {
	                        if (RemarkList[i] != '') {
	                            count++;

	                            if (RemarkList[i] != '') {
	                                var text = RemarkList[i].split("**");
	                                $("#remarkUL_" + autoID + " ul").append('<li><a href=\"#\"><img src=\"../../../assets/avatars/avatar2.png\" class=\"msg-photo\" /><span class=\"msg-body\"><span class=\"msg-title\" ><span class=\"blue\" >' + text[0] + ' </span>' + text[1] + '</span><span class=\"msg-time\"><i class=\"ace-ico nfa fa-clock-o\"></i><span>' + text[2] + '</span></span></span></a></li>');
	                            }

	                        }
	                    }
	                    catch (error) {
	                        alert(count + ' ' + error);
	                    }
	                }
	                $(".remarkCount_" + autoID + "").html('');
	                $(".remarkCount_" + autoID + "").html(count);
	                $('#reverse').append(function () {
	                    return $(this).children().get().reverse()
	                });
	                $("#transparent_" + autoID + "").addClass("transparent open");
	            } catch (error) {
	                alert(error.message);
	            }
	            //	getList(4, 'All');

	        }
	    });
	}
	$(".newRemark").on(ace.click_event, function (event) {

	    bootbox.prompt("Enter New Remark", function (result) {
	        if (result === null) {

	        } else {
	            saveRemark(result, event.target.id);
	        }
	    });
	});
	function generatePDF(id, pdf) {
	    $("#loader-wrapper").show();
	    var pathurl = "@Url.Action("generatePdfByAutoID", "OldSalary")";
		$.ajax({
		    url: pathurl,
		    type: 'GET',
		    data: {
		        id: id, pdf: pdf

		    },
		    success: function (data) {
		        $("#loader-wrapper").hide();
		        //$("#PDFconfirmation").modal({                    // wire up the actual modal functionality and show the dialog
		        //    "backdrop": "static",
		        //    "keyboard": true,
		        //    "show": true                     // ensure the modal is shown immediately
		        //});
		        window.open(data,'_blank');
		        $("#filepath").attr("href", data);

		        $("#returnAutoID").val(id);

		    }
		});

    }
</script>