﻿@model SBL.eLegislator.DomainModel.Modules.Questions.tQuestionModel
 
@Model.AssemblyId
@*<div style="overflow-x: scroll">*@
                @*<table id="editableTable" class="simple-table-style">

                    @if (Model.TableName == "QOnline")
                    {
                        <tr>
                            <th style="text-align: center">@Resources.Question.SrNo</th>
                            <th style="text-align: center">Question No</th>
                            <th style="text-align: center">Question Type</th>
                            <th style="text-align: center">@Resources.Question.Subject</th>                    
                            <th style="text-align: center">@Resources.Question.Minister</th>
                            <th style="text-align: center">@Resources.Question.Department</th>
                            <th style="text-align: center">Member</th>
                             <th style="text-align: center">Question Fixed Date</th>
                            @if (Model.TableName != "Ques" && Model.View != "NEntry")
                            {       
                                <th style="text-align: center">@Resources.Question.Action</th>
                            }

                        </tr>
                    }
                    else
                    {
                        <tr>
                            <th style="text-align: center">@Resources.Question.DiaryNo.</th>
                            <th style="text-align: center">@Resources.Question.Dateofreceipt</th>
                            <th style="text-align: center">@Resources.Question.Timeofreceipt</th>
                            @if (Model.TableName != "QOnline")
                            {
                                <th style="text-align: center">@Resources.Question.NameofMember</th>
                            }
                            <th style="text-align: center">@Resources.Question.Subjectmatterincatchwords</th>
                            <th style="text-align: center">@Resources.Question.Fixation
                                <br />
                                @Resources.Question.No.</th>
                            <th style="text-align: center">@Resources.Question.Fixedfor</th>
                            <th style="text-align: center">@Resources.Question.Classification<br />
                                @Resources.Question.andRemarks</th>
                            <th style="text-align: center">@Resources.Question.Status</th>
                            @if (Model.TableName != "Ques" && Model.View != "NEntry")
                            {
                                <th style="text-align: center">@Resources.Question.Action</th>
                            }
                            else if (Model.listAction == "Register" || Model.listAction == "Details")
                            {
                                <th style="text-align: center">@Resources.Question.Action</th>
                            }


                        </tr>

                    }


                    @foreach (var item in Model.objQuestList)
                    {
                        if (item.TableName == "QOnline")
                        {
                        <tr>
                            <td style="text-align: center">
                              
                            <td style="text-align: center">
                                @item.QuestionNo
                            </td>
                            <td style="text-align: center">
                                @item.QuestionType
                            </td>
                            <td style="text-align: center">
                                @item.Subject
                            </td>
                            <td style="text-align: center">
                                @item.MinisterN
                            </td>
                            <td style="text-align: center">
                                @item.DepartmentN
                            </td>
                             <td style="text-align: center">
                                @item.MemberN
                            </td>
                             <td style="text-align: center">
                                @item.QuestionFixDate
                            </td>
                       

                            @if (item.IsSubmitted != false && item.IsSubmitted != null)
                            {
                            
                                <td style="text-align: center">
                                    <button type="button" disabled style="height: 25px; margin-right: 10px">@Resources.Question.Submit</button>
                                    <button type="button" disabled style="height: 25px; margin-right: 10px">@Resources.Question.Edit</button>
                                     <button type="button" disabled style="height: 25px; margin-right: 10px">@Resources.Question.Delete</button>
                                </td>
                        
                            }
                            else
                            {
                                <td style="text-align: center">
                                    <button type="button" id="btnSubOnline" class="small-button blue" onclick="SubOnline('@item.QuestionID')" style="height: 25px; margin-right:10px">@Resources.Question.Submit</button>
                                    <button type="button" id="btnEditOnline" class="small-button blue" onclick="Edit('@item.QuestionID')" style="height: 25px; margin-right:10px">@Resources.Question.Edit</button>
                                     <button type="button" id="btnDelete" class="small-button blue" onclick="DeleteQuest('@item.QuestionID')" style="height: 25px; margin-right:10px">@Resources.Question.Delete</button>
                                </td>
                            }
                        </tr>
                        }
                        else
                        {
                        
                        }
                    }
                </table>*@

                <div style="margin-top: 4px;">
                    <div class="grid-ex-footer">
                        <div class="grid-pagination">

                          
                        </div>


                    </div>
                </div>
            </div>