﻿@model   SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.EventViewModel
@{
    ViewBag.Title = "CreateEvent";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}


@Html.Action("LeftNavigationMenu", "SuperAdmin")
<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    @Html.Partial("_BreadcrumbsPartial")
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "Event")">@Resources.MasterDataDashboard.EventMasterData</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Event")">@Resources.MasterDataDashboard.EventDetails</a>
            </li>
             
        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
       @* <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>*@

    </div>

    <div class="page-content">

        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.MasterData
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.EventDetails
                </small>
            </h1>


        </div>

        <!-- /section:settings.box -->

        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.CreateEvent</h4>
            }
            else
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.EditEvent</h4>
            }

        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        @* //, new { @class = "form-horizontal", @role = "form" }*@
                        <div class="row">
                            @using (Html.BeginForm("SaveEvent", "Event", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                            { 
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.EventId)
                                @Html.HiddenFor(model => model.Mode)
                                                              
                                <div class="tabbable">
                                    @*<ul id="myTab" class="nav nav-tabs padding-18">
                                        <li class="active">
                                            <a href="#news-english" data-toggle="tab">
                                                <i class="green ace-icon fa fa-home bigger-120"></i>
                                                English
                                            </a>
                                        </li>


                                    </ul>*@
                                    <div class="tab-content no-border padding-24">
                                        <div class="tab-pane in active" id="news-english">

                                            <div class="space-2"></div>
                                            <div class="space-2"></div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.PaperCategoryName </label>
                                                <div class="col-sm-9">

                                                    @Html.DropDownListFor(model => model.PaperCategoryTypeId, Model.PaperCatTypes, @Resources.MasterDataDashboard.SelectCategoryName, new { @class = "col-xs-10 col-sm-5" })

                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                         <span class="field-validation-error" id="papCatvalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.PaperCategoryTypeId)
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.EventName </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.EventName, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.EventName, @autocomplete = "off", @maxlength = "500" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                         <span class="field-validation-error" id="eventNamevalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.EventName)
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.EventNameLocal </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.EventNameLocal, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.EventNameLocal, @autocomplete = "off", @maxlength = "500" })
                                                     <div class="help-block col-xs-12 col-sm-reset inline">
                                                      
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Order  </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.OrderingID, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.Order, @autocomplete = "off", @maxlength = "3", @onkeypress = "return isNumberKey(event)" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                         <span class="field-validation-error" id="Ordervalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.OrderingID)
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.RuleNo </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.RuleNo, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.RuleNo, @autocomplete = "off", @maxlength = "101"})
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                      
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.IsLOB </label>
                                                <div class="col-sm-9">

                                                    @Html.CheckBoxFor(model => model.IsLOB)
                                                </div>

                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.IsDepartment </label>
                                                <div class="col-sm-9">

                                                    @Html.CheckBoxFor(model => model.IsDepartment)
                                                </div>

                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.IsCommittee </label>
                                                <div class="col-sm-9">

                                                    @Html.CheckBoxFor(model => model.IsCommittee)
                                                </div>

                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.IsProceeding </label>
                                                <div class="col-sm-9">

                                                    @Html.CheckBoxFor(model => model.IsProceeding)
                                                </div>

                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.IsMember </label>
                                                <div class="col-sm-9">

                                                    @Html.CheckBoxFor(model => model.IsMember)
                                                </div>

                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Active </label>
                                                <div class="col-sm-9">

                                                    @Html.CheckBoxFor(model => model.Active)
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>                              
                                <div class="btn-group pull-right padding-10" style="padding-bottom:40px;">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->
                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple " onclick="return userValid();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        @Resources.MasterDataDashboard.Save</button>
                                    <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        @Resources.MasterDataDashboard.Reset
                                    </button>
                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>
                            }
                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>


<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }


    function userValid() {
        var assemName, District, ConName;
        assemName = document.getElementById("PaperCategoryTypeId").value;
        District = document.getElementById("EventName").value;
        ConName = document.getElementById("OrderingID").value;
        if ((assemName == "" || assemName == null) && (District == "" || District == null) && (ConName == "" || ConName == null)) {
            $("#papCatvalidation").html("Select Name");
            $("#eventNamevalidation").html("Event Name is Required");
            $("#Ordervalidation").html("Order is Required");
            return false;
        }
        return true;

    }

    $(function () {
        $('#PaperCategoryTypeId').focus(function () {
            $('#papCatvalidation').html("");

        });
    });

    $(function () {
        $('#EventName').focus(function () {
            $('#eventNamevalidation').html("");

        });
    });

    $(function () {
        $('#OrderingID').focus(function () {
            $('#Ordervalidation').html("");

        });
    });

    $(document).ready(function () {
        $("#PaperCategoryTypeId").focus();

        $("#assemblymain").addClass("active open");
        $("#assemblysub").addClass("nav-show").css("display", "block");
        $("#eventlist").addClass("active");
        $("#assemblylinkid").removeClass("fa-comment").addClass("fa-comment-o");
    });
    function resetFields() {
        $(".field-validation-error").empty();
        $("#PaperCategoryTypeId").focus();
    }
</script>






