﻿@using SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models;
@model  List<SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models.BudgetViewModel>


<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />

<div class="page-content">
    <div class="row">
        <div id="outerDiv">
        </div>

        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">

                <!--TWO COLUMN DESIGN-->
                <div id="two-column" class="">
                    <div id="resize-left" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 20px;">

                        <div id="divLeftContainer" style="position: absolute; top: 0; height: 20px; width: 100%; display: block;">
                            <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                            <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                                <i onclick="resizeClick(1)" class="ace-icon fa fa-angle-double-left roundicon"></i>
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span12" style="padding: 10px;">
                                <div class="widget-toolbar no-border">
                                    <button class="btn btn-xs btn-primary bigger" onclick="PopulateBudget(0,'Add');">
                                        <i class="ace-icon fa fa-pencil-square-o"></i>
                                        @Resources.Diaries.New
                                    </button>
                                </div>
                                <div id="divDataContainer">
                                    @{Html.RenderPartial("~/Areas/AccountsAdmin/Views/Budget/_BudgetListIndex.cshtml", Model);}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="resize-right" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 21px;">

                        <div id="divRightContainer" style="position: absolute; top: 0; height: 21px; width: 100%; display: block;">
                            <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                            <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                                <i data-icon2="ace-icon fa fa-angle-double-right" onclick="resizeClick(0)" data-icon1="ace-icon fa fa-angle-double-left" class="ace-icon fa fa-angle-double-right roundicon"></i>
                            </div>
                        </div>

                        <div class="row-fluid" style="overflow: hidden">
                            <div class="span12">
                                <div>@*class="widget-box"*@
                                    <div id="RightSidebar" style="width: 100%">
                                    </div>
                                    <div id="PopulateBudgetDiv" style="width: 100%; height: 100%">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- #two-column-->
                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>
    </div>
</div>



<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>

<script src="~/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="~/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>
<script src="~/assets/js/chosen.jquery.min.js"></script>



<script type="text/javascript">

    function PopulateBudget(Id, Action) {
        $("#tblBudgetDetails tr").css('background-color', 'white')
        $('#Row-' + Id).css('background-color', '#ffb752 ')

        $.ajax({
            type: "POST",
            url: '/Budget/PopulateBudget',
            data: '{ Id: "' + Id + '",Action: "' + Action + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#PopulateBudgetDiv').empty();
                $('#PopulateBudgetDiv').append(result);
                $('#resize-right').show();
            },
            error: function (error) {
                $('#PopulateBudgetDiv').empty();
                $('#PopulateBudgetDiv').append(error.responseText);
                $('#resize-right').show();

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }

    function SaveBudget() {
        $('.ErrorMessage').remove('');
        var IsValid = true;

        IsValid = ValidateForm();

        if (IsValid == true) {

            var QData = $('#BudgetForm').serialize();

            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '/Budget/SaveBudget',
                data: QData,
                beforeSend: function () {

                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result);
                    $('#PopulateBudgetDiv').empty();
                    $('#resize-right').hide();
                },
                error: function (result) {

                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result.responseText);
                    $('#PopulateBudgetDiv').empty();
                    $('#resize-right').hide();
                },

                complete: function (result) {
                    debugger;
                    $('#loader-wrapper').hide();
                }
            });
        }
    }
    function DeleteBudgetHead(BudgetID) {
        var PageSize = $("#PazeSize").val();
        var pageId = $("#pageId").val();
        $.ajax({
            type: "POST",
            url: '/Budget/DeleteBudget',
            data: '{ Id: "' + BudgetID + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(result);

            },
            error: function (result) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(result.responseText);
            },
            complete: function (result) {
                $('#loader-wrapper').hide();
            }
        });
    }


    function ValidateForm() {
        debugger;
        var IsValid = true;
        $('.ErrorMessage').remove('');
        if ($('#FinancialYear').val() == '') {
            $('#FinancialYear').css("border", "1px solid red");
            $('#FinancialYear').after("<span class='ErrorMessage'>Select Financial Year Required</span>");
            $("#FinancialYear").focus();
            IsValid = false;
        }
        //else if ($('#Object').val() == '') {
        //    $('#Object').css("border", "1px solid red");
        //    $('#Object').after("<span class='ErrorMessage'> Object Required</span>");
        //    IsValid = false;
        //}

        if ($('#DDOCode').val() == '') {
            $('#DDOCode').after("<span class='ErrorMessage'> DDO Code  Required</span>");
            $("#DDOCode").css("border", "1px solid red");
            $("#DDOCode").focus();
            IsValid = false;
        }
        if ($('#TreasuryCode').val() == '') {
            $('#TreasuryCode').after("<span class='ErrorMessage'>Treasury Code is Required</span>");
            $("#TreasuryCode").css("border", "1px solid red");
            $("#TreasuryCode").focus();
            IsValid = false;

        }
        if ($('#DemandNo').val() == '') {

            $('#DemandNo').after("<span class='ErrorMessage'>Demand No. is required</span>");
            $("#DemandNo").css("border", "1px solid red");
            $("#DemandNo").focus();
            IsValid = false;
        }
        if ($('#Gazetted').val() == '') {

            $('#Gazetted').after("<span class='ErrorMessage'>Gazetted is required</span>");
            $("#Gazetted").css("border", "1px solid red");
            $("#Gazetted").focus();
            IsValid = false;
        }
        if ($('#MajorHead').val() == '') {

            $('#MajorHead').after("<span class='ErrorMessage'>Major Head is required</span>");
            $("#MajorHead").css("border", "1px solid red");
            $("#MajorHead").focus();
            IsValid = false;
        }
        if ($('#SubMajorHead').val() == '') {

            $('#SubMajorHead').after("<span class='ErrorMessage'>Sub Major Head is required</span>");
            $("#SubMajorHead").css("border", "1px solid red");
            $("#SubMajorHead").focus();
            IsValid = false;
        }
        if ($('#MinorHead').val() == '') {

            $('#MinorHead').after("<span class='ErrorMessage'>Minor Head is required</span>");
            $("#MinorHead").css("border", "1px solid red");
            $("#MinorHead").focus();
            IsValid = false;
        }

        if ($('#MinorHead').val() == '') {

            $('#MinorHead').after("<span class='ErrorMessage'>Minor Head is required</span>");
            $("#MinorHead").css("border", "1px solid red");
            $("#MinorHead").focus();
            IsValid = false;
        }
        if ($('#SubHead').val() == '') {

            $('#SubHead').after("<span class='ErrorMessage'>Sub Head is required</span>");
            $("#SubHead").css("border", "1px solid red");
            $("#SubHead").focus();
            IsValid = false;
        }
        if ($('#BudgetCode').val() == '') {

            $('#BudgetCode').after("<span class='ErrorMessage'>Budget Code is required</span>");
            $("#BudgetCode").css("border", "1px solid red");
            $("#BudgetCode").focus();
            IsValid = false;
        }
        if ($('#ObjectCode').val() == '' || $('#ObjectCode').val() == '0') {

            $('#ObjectCode').after("<span class='ErrorMessage'>Object Code is required</span>");
            $('#ObjectCode').css("border", "1px solid red");
            $("#ObjectCode").focus();
            IsValid = false;
        }
        else if (!$.isNumeric($('#ObjectCode').val())) {
            $('#ObjectCode').css("border", "1px solid red");
            $('#ObjectCode').after("<span class='ErrorMessage'> ObjectC ode Fund numeric only</span>");
            IsValid = false;
        }
        if ($('#ObjectCodeText').val() == '') {

            $('#ObjectCodeText').after("<span class='ErrorMessage'>Object Code Text is required</span>");
            $('#ObjectCodeText').css("border", "1px solid red");
            $("#ObjectCodeText").focus();
            IsValid = false;
        }

        if ($('#BudgetType').val() == '') {

            $('#BudgetType').after("<span class='ErrorMessage'>Budget Type is required</span>");
            $('#BudgetType').css("border", "1px solid red");
            $("#BudgetType").focus();
            IsValid = false;
        }

        if ($('#Plan').val() == '') {

            $('#Plan').after("<span class='ErrorMessage'>Plan is required</span>");
            $('#Plan').css("border", "1px solid red");
            $("#Plan").focus();
            IsValid = false;
        }
        if ($('#VotedCharged').val() == '') {

            $('#VotedCharged').after("<span class='ErrorMessage'>Voted/Charged is required</span>");
            $('#VotedCharged').css("border", "1px solid red");
            $("#VotedCharged").focus();
            IsValid = false;
        }

        return IsValid;

    }
    $("#sizeDown").click(function () {
        if ($("body").hasClass('sizeLarge')) {
            $("body").css("font-size", "13px");
            $("body").removeClass('sizeLarge');
        } else {
            $("body").css("font-size", "10px");
            $("body").addClass('sizeSmall');
        }
    });

    $("#sizeUp").click(function () {
        if ($("body").hasClass('sizeSmall')) {
            $("body").css("font-size", "13px");
            $("body").removeClass('sizeSmall');
        } else {
            $("body").css("font-size", "18px");
            $("body").addClass('sizeLarge');
        }
    });

    $('#sidebar-collapse').on('click', function () {
        var parentWidth = $('#resize-left').parent().width();
        if ($('#sidebar').hasClass('menu-min')) {
            parentWidth = parentWidth - 130;
        } else { parentWidth = parentWidth + 110; }

        var remainingSpace = parentWidth - $('#resize-left').outerWidth();
        var divTwo = $('#resize-left').next();
        var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
        divTwo.css('width', divTwoWidth + 'px');

        //alert("ds");
        setTimeout(function () {
            $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
        }, 50);
    });




    function RemoveClass() {
        $("#li_" + '@ViewBag.MenuId').removeClass("active");
	}



	function GetActionView1() {

	    $('.widget-box').hide();

	    $.ajaxSetup({ cache: false });
	    var pathurl = '@Url.Action("GetAllDisrictPanchayat", "OnlineMemberQuestions")';
		$.ajax({
		    url: pathurl,
		    type: 'GET',
		    data: {

		    },
		    success: function (data) {
		        $('#outerDiv').hide();
		        $("#outerDiv").html("");
		        $("#divDataContainer").html(data);
		        $("#FormPart").html("");
		        //ClearControls();
		        cl2.hide();

		    }
		});
    }







    function HideMessageDiv() {
        document.getElementById("SuccessDiv").style.color = "#3c763d"
        document.getElementById("SuccessDiv").style.display = "none"

    }

    // added code by dharmendra for member tour section //


    function hideLeftPanel() {
        $('#resize-left').width(0);
        $('#resize-right').width(100 + '%')

    }

    function hideLeftPanelAnimate() {
        resizeLeftPanel(0);
    }

    function hideRightPanel() {
        $('#resize-left').width(100 + '%');
        $('#resize-right').width(0)
    }

    function hideRightPanelAnimate() {
        resizeLeftPanel(100);
    }

    function resizeClick(isLeft) {
        var parentWidth = $('#resize-left').parent().outerWidth();
        if (isLeft) { // click on left rezise button
            if ($('#resize-left').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
            else { resizeLeftPanel(0); }
        } else {
            if ($('#resize-right').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
            else { resizeLeftPanel(100); }
        }
    }

    function resizeLeftPanel(sizeRatio) {
        var parentWidth = $('#resize-left').parent().width();
        $('#resize-left').animate({ width: +(sizeRatio) + '%' }, 500);
        $('#resize-right').animate({ width: +(100 - sizeRatio) + '%' }, 500);
    }

</script>




