﻿@using SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models;
@model  List<SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models.BudgetViewModel>

@{    int count = 0;
}

<div id="Menu">
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="pass-table">
                        @if (Model != null)
                        {
                            if (Model.Count() > 0)
                            {       
                            <div class="table-header">
                                <div class="form-group">
                                    @if (ViewBag.Msg != null)
                                    {
                                        <div class="alert @ViewBag.MsgCss" id="MsgDiv">
                                            <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
                                            <strong><i class="ace-icon fa fa-check-square-o"></i>@ViewBag.Notification! </strong>@ViewBag.Msg
                                        </div>
                                    }
                                </div>
                            </div>             
                            <table class="table  table-bordered  dataTable" id="tblBudgetDetails" aria-describedby="sample-table-2_info">
                                <thead>
                                    <tr role="row">
                                        <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.FinancialYear</th>
@*                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.BUDGETHEADPART1</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.BUDGETHEADPART2</th>*@
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.BudgetHead</th>
                                        <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.DisplayInReport</th>
                                        <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Action</th>
                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    @foreach (var item in Model)
                                    {
                                        count = count + 1;  
                                        <tr id="Row-@item.BudgetID">
                                            <td class="center" style="width: 5%">@count  </td>
                                            <td style="width: 15%">@ModelMapping.ShowFinacialYear(item.FinancialYear)</td>
                                           @* <td style="width: 20%">@item.MajorHead-@item.SubMajorHead-@item.MinorHead-@item.SubHead-@item.Gazetted (@item.VotedCharged) @item.Plan</td>
                                            <td style="width: 15%">@item.ObjectCode-@item.ObjectCodeText</td>*@
                                            <td style="width: 35%">@item.MajorHead-@item.SubMajorHead-@item.MinorHead-@item.SubHead-@item.Gazetted (@item.VotedCharged) @item.Plan-@item.ObjectCode-@item.ObjectCodeText</td>
                                            <td style="width: 10%">

                                                @if (item.DisplayInReport)
                                                {
                                                    <span >Yes</span>
                                                }
                                                else
                                                { <span >   No</span>
                                                    
                                                }
                                            </td>
                                            <td class="center" style="width: 10%">
                                               @* @if (item.AllocateCount == 0)
                                                {
                                                    *@<div class="hidden-sm hidden-xs action-buttons">
                                                        <a data-rel="tooltip" class="green tooltip-success" title="Edit" onclick="PopulateBudget(@item.BudgetID,'Edit');" href="#">
                                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                        </a>
                                                       @* <a data-rel="tooltip" class="red tooltip-error DeleteSec" title="Delete" id="@item.BudgetID"  href="#">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </a>*@
                                                    </div>
                                                    <div class="hidden-md hidden-lg">
                                                        <div class="inline position-relative">
                                                            <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                                <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                                <li>
                                                                    <a  href="#" class="tooltip-success" data-rel="tooltip" title="Edit" onclick="PopulateBudget(@item.BudgetID,'Edit');">
                                                                        <span class="green">
                                                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                               @* <li>
                                                                    <a href="#"  class="tooltip-error DeleteSec" data-rel="tooltip" title="Delete">
                                                                        <span class="red">
                                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                        </span>
                                                                    </a>
                                                                </li>*@
                                                            </ul>
                                                        </div>
                                                    </div>@*
                                                }
                                                else
                                                {
                                                    if (item.DisplayInReport)
                                                    {
                                                        
                                                    <a data-rel="tooltip"  class="green tooltip-success btn btn-xs btn-warning" title="Not Show In Report" href="/AccountsAdmin/Budget/ShowBudgetInReport?BudgetId=@item.BudgetID&ShowInReport=false"> Not Show In Report 
                                                    </a>
                                                    }
                                                    else
                                                    {
                                                    <a data-rel="tooltip"   class="green tooltip-success btn btn-xs btn-warning" title="Show In Report" href="/AccountsAdmin/Budget/ShowBudgetInReport?BudgetId=@item.BudgetID&ShowInReport=true">Show In Report
                                                    </a>
                                                    }
                                                }*@
                                            </td>
                                        </tr>                                                                
                                    }

                                </tbody>
                            </table>
                            <!-- PAGE CONTENT ENDS -->
                            }
                            else
                            {
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="alert alert-info">
                                        <strong>@Resources.MasterDataDashboard.NoBudgetFound</strong><br />
                                    </div>
                                </div>
                            </div>
                            }
                        }
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<!-- /.col -->
<script type="text/javascript">

    $(document).ready(function () {
        $('#tblBudgetDetails').dataTable({
        });
        
        setTimeout(function () {
            $("#MsgDiv").slideUp(400);
        }, 2000);


        $(".DeleteSec").on('click', function (e) {

            e.preventDefault();

            var url = $(this).attr('href');

            var id = $(this).attr('id');

            var dlg = bootbox.confirm('@Resources.MasterDataDashboard.Areyousurewanttodelete', function (result) {

            if (result) {

                $(dlg).modal('hide');

                DeleteBudgetHead(id);
            }
        });
        });
    });
    </script>