﻿@model  SBL.eLegistrator.HouseController.Web.Areas.ConstituencyPanchyat.Models.ConstituencyPanchayatViewModel

@{
    ViewBag.Title = "_PartialOfIndex1";
}

<h2>_PartialOfIndex1</h2>



<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>

<div class="widget-header widget-header-blue widget-header-flat">
    <h4 class="widget-title lighter">Panchayat</h4>
    @*@if (Model.Mode == "Add")
    {
        <h4 class="widget-title lighter">Panchayat</h4>
    }
    else
    {
        <h4 class="widget-title lighter"></h4>
    }*@

</div>
<div class="widget-body">
    <div class="widget-main">
        <div class="row">
            <div class="col-xs-12">
                <div class="messageBox"></div>
                <!-- PAGE CONTENT BEGINS -->
                @* //, new { @class = "form-horizontal", @role = "form" }*@
                <div class="row">
                            @using (Html.BeginForm("SaveCommiteeType", "Committee", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                            { 
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.ConstituencyPanchayatID, new { @id = "hdnModuleID" })
                                @Html.HiddenFor(model => model.Mode)                                   

                              

                                <div class="tabbable">
                                    @*<ul id="myTab" class="nav nav-tabs padding-18">
                                        <li class="active">
                                            <a href="#news-english" data-toggle="tab">
                                                <i class="green ace-icon fa fa-home bigger-120"></i>
                                                English
                                            </a>
                                        </li>
                                    </ul>*@
                                    <div class="tab-content no-border padding-24">
                                        <div class="tab-pane in active" id="news-english">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Name">PanchayatName </label>

                                                @*<div class="col-sm-9 help-block">

                                                    @Html.TextBoxFor(s => s.PanchayatName, new { @class = "col-xs-10 col-sm-8", @placeholder = @Resources.MasterDataDashboard.CommitteeTypeName, @autocomplete = "off" ,@maxlength ="250"})

                                                    @Html.ValidationMessageFor(s => s.CommitteeTypeName)

                                                </div>*@
                                            </div>

                                            <div class="space-2"></div>
                         @*                   <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address"></label>
                                                <div class="col-sm-9">

                                                    @Html.TextAreaFor(model => model.Description, new {@id="CommDesc", @class = "col-xs-10 col-sm-8", @placeholder = @Resources.MasterDataDashboard.CommitteeDescription, @autocomplete = "off", @maxlength ="500"})
                                                   
                                                        @Html.ValidationMessageFor(model => model.Description)
                                                        
                                                   
                                                    
                                                </div>

                                            </div>*@
                                             <div class="space-2"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Address">IsActive </label>
                                        <div class="col-sm-9">
                                            @Html.CheckBoxFor(model => model.IsActive)


                                        </div>

                                    </div>
                                        </div>
                                    </div>
                                </div>
                           
                                <div class="space-2"></div>
                                   
                                <hr />

                                <div class="btn-group pull-right padding-10">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->


                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple ">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        @Resources.MasterDataDashboard.Save</button>
                                    <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        @Resources.MasterDataDashboard.Reset
                                    </button>
                                     <button type="button" id="Deletebtn" class="btn btn-sm btn-purple" onclick="return Delete();">
                                <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                @Resources.MasterDataDashboard.Delete
                            </button>

                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>

                            }

                            <!-- /.row -->
                        </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {

        $("#othermain").addClass("active open");
        $("#othersub").addClass("nav-show").css("display", "block");
        $("#committeelist").addClass("active");
        $("#otherlinkid").removeClass("fa-comment").addClass("fa-comment-o");
    });
    $(function () {

        $("#CommDesc").blur(function () {
            $(this).animate({
                height: '55px'
            },
               "fast"
            )
        });

        $("#CommDesc").focus(function () {
            $(this).animate({
                height: '200px'
            },
               "fast"
            );

            //$("#newsDescvalidation").html("");

        });

    });
    $('.date-picker').datepicker({
        autoclose: true,
        todayHighlight: true

    })
    //show datepicker when clicking on the icon
    .next().on(ace.click_event, function () {
        $(this).prev().focus();
    });

    $(document).ready(function () {
        $("#CommitteeTypeName").focus();
    });
    function resetFields() {
        $(".field-validation-error").empty();
        $("#CommitteeTypeName").focus();
    }

    function Delete(rowId) {
        var ModuleId = document.getElementById("hdnModuleID").value;
        $.ajax({
            url: "/SuperAdmin/Committee/DeleteCommitteeType",
            type: 'GET',
            data: {
                Id: ModuleId,
            },
            success: function (data) {
                if (data) {
                    GetModulesList();
                    $("#RightSidebar").html("");
                    $("#FormPart").html("");
                    $('.widget-box').hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }
</script>

<style>
    .hidden {
        display: none;
        visibility: hidden;
    }
</style>
