﻿@model IEnumerable<SBL.DomainModel.ComplexModel.memberAccountSearchResult>
@{

    int count = 0;
}
@*<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />*@
<style>
    .polaroid {
        position: relative;
        width: 180px;
    }

        .polaroid img {
            border: 10px solid #fff;
            border-bottom: 45px solid #fff;
            -webkit-box-shadow: 3px 3px 3px #777;
            -moz-box-shadow: 3px 3px 3px #777;
            box-shadow: 3px 3px 3px #777;
        }

        .polaroid p {
            position: absolute;
            text-align: center;
            width: 100%;
            bottom: 0px;
            font: 400 18px/1 'Kaushan Script', cursive;
            color: #f89406;
        }

    .hspan {
        font-size: 22px;
        color: #f89406;
        border-bottom-color: #fdd0ac;
        font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: lighter;
    }
</style>
<table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
    <thead>
        <tr role="row">
            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">No</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Name</th>

            
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Designation</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Contact</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">constituency</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Address</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Bank Details</th>
           
            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Action</th>
        </tr>
    </thead>

    <tbody role="alert" aria-live="polite" aria-relevant="all">
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td class="center">@count</td>
                <td>@item.memberName</td>
               
                <td>@item.designation</td>
                <td>@item.contactNumber</td>
                <td>@item.constituencyCode  - @item.constituencyName</td>
                <td>
                    @item.Address
                </td>
                <td>
                    @item.BankDetails
                </td>
                <td>
                    <div class="hidden-sm hidden-xs action-buttons">
                        <a class="blue tooltip-success" title="View Member Full Profile" data-rel="tooltip" href="javascript:void(0)" id="@item.memberCode" onclick="return showMemberDetails(this.id)">
                            <i class="ace-icon fa fa-search-plus bigger-130">Details</i>
                        </a>
                      
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@*<script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>*@
<!-- PAGE CONTENT ENDS -->
<script>

    $(document).ready(function () {

    });

    function showMemberDetails(memberCode) {
        $("#loader-wrapper").show();
        $("#member-details").modal({                    // wire up the actual modal functionality and show the dialog
            "backdrop": "static",
            "keyboard": true,
            "show": true                     // ensure the modal is shown immediately
        });
        var pathurl = "@Url.Action("getMemberDetailsByID", "MemberAccountDetails")";
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: { memberID: memberCode },
            success: function (data) {

                $("#member-details").html("");
                $("#member-details").html(data);
                $("#loader-wrapper").hide();
               

            }
        });
    }

    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
              { "bSortable": false },
              null, null, null, null, null, null,
              { "bSortable": false }
            ]

        });

        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })
</script>