﻿@{
	Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
	int count = 0;
}

@Html.Partial("_LeftMenu")
<style type="text/css">
	#prodiv {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100px;
		height: 100px;
		margin-top: -9em; /*set to a negative number 1/2 of your height*/
		margin-left: -15em; /*set to a negative number 1/2 of your width*/
		background-color: #f3f3f3;
	}
</style>
<link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
<!-- page specific plugin styles -->
<link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="~/assets/css/chosen.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.css" />
<link rel="stylesheet" href="~/assets/css/daterangepicker.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.css" />
<link rel="stylesheet" href="~/assets/css/colorpicker.css" />
<script src="~/assets/js/jquery.autosize.min.js"></script>
<!-- text fonts -->
<link rel="stylesheet" href="~/assets/css/ace-fonts.css" />

<!-- ace styles -->
<link rel="stylesheet" href="~/assets/css/ace.min.css" />

<!--[if lte IE 9]>
			<link rel="stylesheet" href="~/assets/css/ace-part2.min.css" />
		<![endif]-->
<link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
<link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />

<!--[if lte IE 9]>
		  <link rel="stylesheet" href="~/assets/css/ace-ie.min.css" />
		<![endif]-->

<!-- inline styles related to this page -->

<!-- ace settings handler -->
<script src="~/assets/js/ace-extra.min.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lte IE 8]>
		<script src="~/assets/js/html5shiv.js"></script>
		<script src="~/assets/js/respond.min.js"></script>
		<![endif]-->
<div class="main-content">
	<!-- #section:basics/content.breadcrumbs -->
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="ace-icon fa fa-home home-icon"></i>
				<a href="@Url.Action("NewsEntryFormIndex", "News")">Accounts</a>
			</li>

			<li>
				<a href="@Url.Action("NewsEntryFormIndex", "News")">Member Account Details </a>
			</li>
			<li class="active">Update Member Account Details</li>
		</ul>

		<div class="legAssm">
			<span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
			<span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
		</div>
	</div>

	<!-- /section:basics/content.breadcrumbs -->
	<div class="page-content">
		<!-- #section:settings.box -->

		<!-- /section:settings.box -->
		<div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
		</div>
		<div class="page-header">
			<h1>Member Account Details
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					Update Member Account Details
				</small>
			</h1>
			<h3 style="float:right;">Please Search Member First to Update account Details </h3>
		</div>
		
		@using (Ajax.BeginForm("searchResult", "MemberAccountDetails", FormMethod.Post, new AjaxOptions
		{
			UpdateTargetId = "tablecontainer",
			InsertionMode = InsertionMode.Replace,
			OnSuccess = "OnSuccess()",

			LoadingElementId = "loader-wrapper"
		}, new { @class = "form-horizontal", @role = "form" }))
		{
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div class="widget-box">
						<div class="widget-header">
							<h4 class="widget-title">Loan Master</h4>

							<div class="widget-toolbar">
								<label>
									Search Criteria
								<select id="searchcriteria" name="searchcriteria" class="chosen-select form-control" data-placeholder="Choose a search criteria">
									<option disabled="disabled" selected value="0">Choose a search criteria</option>
									<option value="1">Designation</option>
									<option value="2">Current Member</option>
									<option value="3">EX-Member</option>
								</select>
								</label>

								<label>
									Enter Value
				<select class="chosen-select form-control" id="searchcriteriavalue" name="searchcriteriavalue" data-placeholder="Choose a State...">
				</select>
								</label>
								<button class="btn btn-xs btn-primary btn-bold">
									<i class="ace-icon fa fa-search bigger-150"></i>
									<span class="bigger-110">Search</span>
								</button>
							</div>
						</div>
						<div class="widget-body">
							<div class="widget-main">
								<div class="pass-table">
									<div id="tablecontainer">
									</div>
									<!-- PAGE CONTENT ENDS -->
								</div>
							</div>
						</div>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		}
	</div>
	<div id="member-details" class="modal fade" tabindex="-1">
	</div>
	@using (Ajax.BeginForm("saveLoanee", "loan", FormMethod.Post, new AjaxOptions
	 {
		 UpdateTargetId = "Save-loanee",
		 LoadingElementId = "loader-wrapper",
		 OnSuccess = "OnSuccess()"

	 }, new { @class = "form-horizontal", @role = "form" }))
	{
		<div id="Save-loanee" class="modal fade" tabindex="-1">

		</div>
	}
	 @using (Ajax.BeginForm("saveNominee", "MemberAccountDetails", FormMethod.Post, new AjaxOptions
	 {
		 UpdateTargetId = "_MembersNomineeList",
		 LoadingElementId = "loader-wrapper",
		 OnSuccess = "OnSuccessNominee()",
		 InsertionMode= InsertionMode.Replace,
		

	 }, new { @class = "form-horizontal", @role = "form" , id="saveLoanForm" }))
	{
	<div id="NewNominee" class="modal">
	
</div>
	  
	}

	
	<!-- /.main-content -->

	<div class="footer">
		<div class="footer-inner">
			<!-- #section:basics/footer -->
			<div class="footer-content">
				@*<span class="bigger-100">
					<span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
				</span>*@
			</div>

			<!-- /section:basics/footer -->
		</div>
	</div>

	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
		<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
	</a>
</div>


<script src="~/assets/js/chosen.jquery.min.js"></script>
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/fuelux/fuelux.wizard.min.js"></script>
<script src="~/assets/js/jquery.validate.min.js"></script>
<script src="~/assets/js/additional-methods.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/select2.min.js"></script>
<script src="~/assets/js/ace-extra.min.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>
<!-- ace scripts -->

<script type="text/javascript">

	$(document).ready(function () {
		try {
			getResult();
		}
		catch (error) {
		}
	});

	try {
		$('.chosen-select').chosen({ allow_single_deselect: true });
		//resize the chosen on window resize
		$(window).on('resize.chosen', function () {
			var w = $('.chosen-select').parent().width();
			$('.chosen-select').next().css({ 'width': '300px' });
		}).trigger('resize.chosen');
	}
	catch (error) {
	}
	try {
		$('#chosen-multiple-style').on('click', function (e) {
			var target = $(e.target).find('input[type=radio]');
			var which = parseInt(target.val());
			if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
			else $('#form-field-select-4').removeClass('tag-input-style');
		});
	}
	catch (error) {
	}

	$("#searchcriteria").on('change', function (e) {
		try {
			$("#loader-wrapper").show();
			var datatext = $("#searchcriteria option:selected").text();
			var datavalue = $("#searchcriteria option:selected").val();
			$("#searchcriteriavalue").attr("data-placeholder", "enter a " + datatext + "...");
			$("#searchcriteriavalue").trigger("chosen:updated")
			$("#searchcriteriavalue").html("");
			$("#searchcriteriavalue").trigger("chosen:updated");
			$("#loader-wrapper").hide();
			if (datavalue == 1)
				fillDesignation();
			if (datavalue == 2)
				fillCurrentMember();
			if (datavalue == 3)
				fillXMember();
			
		} catch (error) {
			alert(error.message);
		}
	});
	function fillDesignation() {
		$("#loader-wrapper").show();
		var pathUrl = "@Url.Action("fillDesignation", "MemberAccountDetails")";
		$.ajax({
			url: pathUrl,
			type: 'GET',
			success: function (data) {
				if (data) {
					$("#searchcriteriavalue").html("");

					for (var i = 0; i < data.length; i++) {
						var item = data[i];
						$("#searchcriteriavalue").append($("<option></option>").val(item.designationID).html(item.designationName))
					}
					$("#searchcriteriavalue").trigger("chosen:updated");
					$("#loader-wrapper").hide();
				}
				else {
					aler("error");
				}
			}
		});
	}
	function fillXMember() {
		$("#loader-wrapper").show();
		var pathurl = "@Url.Action("fillXMember", "MemberAccountDetails")";
		$.ajax({
			url: pathurl,
			type: 'GET',
			success: function (data) {
				if (data) {
					$("#searchcriteriavalue").html("");
					$("#searchcriteriavalue").append($("<option></option>").val(0).html('--All--'))
					for (var i = 0; i < data.length; i++) {
						var item = data[i];
						$("#searchcriteriavalue").append($("<option></option>").val(item.MemberCode).html(item.MemberCode + ' - ' + item.MemberName))
						//$("#searchcriteriavalue").append($("<option></option>").val(item.MemberCode).html('<div class="label label-sm label-primary arrowed-in arrowed-right">' + item.MemberCode + '</div><div style="float:right;">' + item.MemberName + '</div>'))
					}
					$("#searchcriteriavalue").trigger("chosen:updated");
					$("#loader-wrapper").hide();
				}
			}
		});
	}
	function fillCurrentMember() {
		$("#loader-wrapper").show();
		var pathurl = "@Url.Action("fillCurrentMember", "MemberAccountDetails")";
		$.ajax({
			url: pathurl,
			type: 'GET',
			success: function (data) {
				if (data) {
					$("#searchcriteriavalue").html("");
					$("#searchcriteriavalue").append($("<option></option>").val(0).html('--All--'))
					for (var i = 0; i < data.length; i++) {
						var item = data[i];

						$("#searchcriteriavalue").append($("<option></option>").val(item.MemberCode).html(item.MemberCode + ' - ' + item.MemberName))
					}
					$("#searchcriteriavalue").trigger("chosen:updated");
					$("#loader-wrapper").hide();
				}
			}
		});
	}


	function OnSuccessNominee() {
		
		$("#loader-wrapper").hide();
		$("#NewNominee").modal('hide');
		ShowNotification("success", "Nominee has been Added");
	}
	function OnFailure() {
		$("#errormsg").slideDown(1000);
		$("#errormsg").delay(1000);
		$("#errormsg").slideUp(1000);

	}

	function OnComplete() {
		$("#tablecontainer").fadeTo(1000, 1);
		$("#tablecontainer").delay(1000);
	}

	function OnSuccess() {
		$("#loader-wrapper").hide();
		searchResult();

	}
	function OnBegin() {

	
	}

	function getResult() {
		$("#loader-wrapper").show();
		var pathurl = "@Url.Action("SatffList", "MemberAccountDetails")";
		$.ajax({
			url: pathurl,
			type: 'GET',
			success: function (data) {
				$("#tablecontainer").html("");
				$("#tablecontainer").html(data);
				$("#loader-wrapper").hide();

			}
		});
	}
	function searchResult() {
		$("#loader-wrapper").show();
		var pathurl = "@Url.Action("searchResult", "MemberAccountDetails")";
	$.ajax({
		url: pathurl,
		type: 'GET',
		data: { searchcriteria: $("#searchcriteria option:selected").val(), searchcriteriavalue: $("#searchcriteriavalue option:selected").val() },
		success: function (data) {
			$("#tablecontainer").html("");
			$("#tablecontainer").html(data);
			$("#loader-wrapper").hide();

		}
	});
	}
</script>
