﻿@*
Don't forget to reference the JQuery Library here, inside your view or layout.
<script src="@Url.Content("~/Scripts/jquery-x.x.x.min.js")" type="text/javascript"></script>
*@

<script src="@Url.Content("~/Scripts/tinymce/jquery.tinymce.js")" type="text/javascript"></script>

<script type="text/javascript">

    (function () {

        $(function () {

            $('#@ViewData.TemplateInfo.GetFullHtmlFieldName(string.Empty)').tinymce({
                setup: function (ed) {
                    ed.onKeyPress.add(function (ed, e) {
                        var lang = $("#MemSLang").val()
                        if (lang == "Hindi") {
                            if (e.charCode >= 65 && e.charCode <= 90) {
                                alert("Only Hindi Allowed !");
                                e.preventDefault();
                            }// A-Z
                            if (e.charCode >= 97 && e.charCode <= 122) {
                                alert("Only Hindi Allowed !");
                                e.preventDefault();
                            }// a-z
                        }
                    });
                },
                // Location of TinyMCE script
                script_url: '@Url.Content("~/Scripts/tinymce/tiny_mce.js")',
                theme: "advanced",

                height: "150px",
                width: "90%",
                verify_html: false,
                plugins: "pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave",

                // Theme options
                //theme_advanced_buttons1: "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,formatselect,fontselect,fontsizeselect",
                theme_advanced_buttons1: "bold,italic,underline",   //,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull",
                //theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
                theme_advanced_buttons2: "",//cut,copy,paste|,bullist,numlist,|,forecolor,backcolor,|,removeformat",
                //theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
                theme_advanced_buttons3: "",
                //theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
                //   theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft,codehighlighting,netadvimage",
                theme_advanced_toolbar_location: "top",
                theme_advanced_toolbar_align: "left",
                //theme_advanced_statusbar_location : "bottom",
                theme_advanced_resizing: false,

                // Example content CSS (should be your site CSS)
                content_css: "@Url.Content("~/Scripts/tinymce/themes/advanced/skins/default/content.css")",
                theme_advanced_font_sizes: "10px,12px,13px,14px,16px,18px,20px,22px,24px",
                font_size_style_values: "10px,12px,13px,14px,16px,18px,20px,22px,24px",
                convert_urls: false,

                // Drop lists for link/image/media/template dialogs
                template_external_list_url: "lists/template_list.js",
                external_link_list_url: "lists/link_list.js",
                external_image_list_url: "lists/image_list.js",
                media_external_list_url: "lists/media_list.js"

            });

        });

    })();

</script>

@Html.TextArea(string.Empty, /* Name suffix */
    ViewData.TemplateInfo.FormattedModelValue /* Initial value */
)


