﻿@model IEnumerable<SBL.DomainModel.ComplexModel.DocumentIssueViewModel>
@{
    int count = 0;
    int k = 0;
}
<input type="hidden" id="SelectedIndexID" name="SelectedIndexID" />
<div class="pass-table" style="overflow:scroll;">
    @if (Model != null)
    {
        if (Model.Count() > 0)
        {
                       
        <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info" style="">
            <thead>
                <tr role="row">
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">S.No</th>
                    <th class="sorting" role="columnheader" rowspan="1" colspan="1" aria-label="">Document Name</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Issued Date</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Issued Time</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Returned Date</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Returned Time</th>
                    
                    @*<th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Is Returned</th>*@

                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                @foreach (var item in Model)
                {
                    count = count + 1;
                               
                    <tr>
                        <td class="center">
                            @count
                        </td>
                        <td>
                            @item.IssueDocumentName</td>
                        <td>
                            @item.DisplayedDOI</td>
                        <td>
                            @item.TimeOfIssue
                        </td>
                       @* <td class="">                            
                            <label> 
                                <input name="switch-field-1" class="ace ace-switch ace-switch-6 CheckChecked" disabled="disabled" id="@item.IssueID" type="checkbox" value="@item.IsReturned" @(item.IsReturned ? "checked='checked'":"")/>
                                <span class="lbl"></span>
                            </label>
                        </td>*@
                        <td>@item.DisplayedDOR</td>
                        <td>@item.TimeOfReturned</td>
                    </tr>
                }

            </tbody>
        </table>
        <!-- PAGE CONTENT ENDS -->
        }
        else
        {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <strong>No Contents Found with above Criteria</strong><br />
                </div>
            </div>
        </div>
        }
    }

</div>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<link href="~/assets/TableTools/css/dataTables.tableTools.css" rel="stylesheet" />
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>


<script src="~/assets/TableTools/js/dataTables.tableTools.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            //"sDom": 'T<"clear">lfrtip',
            //"oTableTools": {
            //    "aButtons": ["xls", "pdf"],
            //    "sSwfPath": "/assets/TableTools/swf/copy_csv_xls_pdf.swf"
            //}
        });
    });

    $(document).on("click", ".CheckChecked", function (e) {

        $("#CheckAllId").attr("checked", false);
    });

    function checkAll(ele) {
        var checkboxes = document.getElementsByTagName('input');
        if (ele.checked) {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                }
            }
        } else {
            for (var i = 0; i < checkboxes.length; i++) {
                console.log(i)
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                }
            }
        }
    }
    function checkItems() {
        //debugger;
        document.getElementById("SelectedIndexID").value = "";

        var passidsString = "";

        $(".CheckChecked").each(function (id) {
            var obj = this;

            var id = $(obj).attr('id');

            if (document.getElementById(id).checked) {

                passidsString += "," + id;

            }
        });
        if (passidsString != "") {

            passidsString = passidsString.substring(1);

            document.getElementById("SelectedIndexID").value = passidsString;
        } else {
            ShowNotification("error", "Please select some document First");
            return false;
        }
    }

</script>
