﻿@model SBL.DomainModel.Models.Bill.mBills
@{
    int count = 0;
}


<div class="row">
    <div class="col-xs-12">

        <!-- PAGE CONTENT BEGINS -->

        <div class="pass-table">
            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                @if (Model.BillWorkModel != null)
                {
                    if (Model.BillWorkModel.Count() > 0)
                    {
                    

                    <div class="table-header">
                       Bills
                    </div>

                    <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">
                                <th class="hidden-480 sorting" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">#</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 20%">Bill No</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 30%">Bill Title</th>
    
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.BillWorkModel)
                            {
                                count = count + 1;
                                string style = (count % 2 == 0) ? "odd" : "even";

                                var trID = item.ID;
                                
                                <tr class="@style" id="@trID" onclick="onSelectRowHandler(this.id);">

                                    <td class="">@count</td>

                                    @{
                                //string str = @item.ID;
                                    }

                                    <td class="">
                                        @item.BillNo
                                    </td>
                                    <td class="">
                                        @item.BillTitle
                                    </td>
                                 
                                </tr>
                            }
                        </tbody>
                    </table>
                    }
                    else
                    {
                  
                    <div class="col-xs-12">
                        <div class="alert alert-info">
                            <strong>No Bills(s) Available</strong>
                            <br />
                        </div>
                    </div>
                   
                    }
                }

            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>





<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
@*<script src="~/Scripts/jquery-latest.min.js"></script> *@
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>



<script>

    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
               { "bSortable": false },
              null, null,
            ]
        });
    });

    function onSelectRowHandler(rowId) {
        $('.widget-box').show();
        $("#loader-wrapper").show();
        $.ajax({
            url: "/BillWorks/BillWorks/GetDataID",
            type: 'GET',
            data: {
                ID: rowId,
            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();;

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

</script>




