﻿@model SBL.DomainModel.Models.eFile.eFileAttachments
@using SBL.eLegistrator.HouseController.Web.Helpers
@{
    var FileSettings = (SBL.DomainModel.Models.SiteSetting.SiteSettings)Helper.ExecuteService("SiteSetting", "GetSecureFileSettingLocation", null);

    int count = 0;
    if (ViewBag.CurrentPage > 1)
    {

        count = (ViewBag.PageSize * (ViewBag.CurrentPage - 1));
    }
}

<link rel="stylesheet" href="~/assets/css/datepicker.css" />
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<link href="~/Content/bootstrapUp/jquery.fileupload.css" rel="stylesheet" />
<script src="~/assets/js/jquery-ui.custom.min.js"></script>

<script>
    $(function () {
        var date = new Date();
        date.setDate(date.getDate() - 1);

        $("#txtDatePicketMeeting").datepicker(
            {
                autoclose: true,
                todayHighlight: true,
                startDate: date


            });
    });
</script>
<style type="text/css">
    .modal-body {
        position: relative;
        padding: 3px;
    }
</style>

<div id='loader-wrapper1'>
</div>

<input type="hidden" id="hdnefileidSelectedMain" value="@Model.papersIds" />
<div id='fullDetailsModel' class="hide">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>

<div class="row">
    <div class="form-group">
        <button class="btn btn-sm btn-success" onclick="openModalMul('','M')" style="margin-left: 12px;">
            <span class="tt">Fix</span>
        </button>
        <button type="button" class="btn btn-sm btn-success" id="PhosponedPapers" onclick="openModalMul('','P')" title="Phosponed Papers for the Day">
            <i class="tt"></i>
            Postpone
        </button>
        <button type="button" class="btn btn-sm btn-success" id="DeletePapers" onclick="DeletePapersForMeeting()" title="Delete Papers for the Day">
            <i class="tt"></i>
            Delete
        </button>
        <button type="button" class="btn btn-sm btn-success" id="CancelPapers" onclick="CancelPapersForMeeting()" title="Delete Papers for the Day" style="display: none;">
            <i class="tt"></i>
            Cancel
        </button>
        <button type="button" class="btn btn-sm btn-success" id="DownLoadPapers" onclick="DownLoadPapersForMeeting()" title="DownLoad Papers for the Day">
            <i class="tt"></i>
            DownLoad
        </button>
        <button type="button" class="btn btn-sm btn-success" id="ManualPapers" onclick="openModalMul('','T')" title="DownLoad Papers for the Day">
            <i class="tt"></i>
            Attach
        </button>
        <div style="width: 100%; float: left; margin-left: 12px;">
            <div style="margin-bottom: 2px; color: red;" id="selectedDateMain">

                @*<button type="button" class="btn btn-sm btn-success" id="TransferPapers" onclick="SaveNewDateForMeeting()" title="Transfer Papers for the Day">
                                        <i class="tt"></i>
                                        Add
                                    </button>*@


                @*  <a href="@Url.Action("DownloadItemsForMeetingbyDate", "HouseCommitteePapersMeetings", new {papersIds=selectedIdForDownload,DateSelected=SelectedDateFromDDL })">Download</a>*@


                @* <a id="ancherDownload">Download</a>*@

            </div>
            <div id="SavedPapersDataByDate">
            </div>
        </div>

    </div>
</div>

<div class="pass-table">
        <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">           
                @if (Model.CommitteMeetingPapersList != null)
                {
                    if (Model.CommitteMeetingPapersList.Count() > 0)
                    {     
                    <table class="table table-striped table-bordered table-hover dataTable leftaligntable" id="sample-table-2" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row" >
                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1">
                                    <input type="checkbox" class="chkList" id="chkSelAll" /></th>
                                @*<th class="sorting" role="columnheader" rowspan="1" colspan="1">File No.</th>*@
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">RefNo</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Subject</th>
                                @if (ViewBag.PapersType == "Recieved")
                                {
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Received From
                                    </th>
                                }
                                else
                                {
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Sent To
                                    </th>
                                }

                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Fixed Dates</th>
                                <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="text-align: center"><i class="fa fa-download bigger-120" title="View/Download"></i></th>
                               @* <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="text-align: center"><i class="fa fa-download bigger-120" title="View/Download"></i></th>*@

                            </tr>
                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.CommitteMeetingPapersList)
                            {
                                string deptid = "d" + item.eFileAttachmentId;
                                string ofcid = "of" + item.eFileAttachmentId;
                                string efflNo = "eNo" + item.eFileAttachmentId;
                                string subj = "sub" + item.eFileAttachmentId;
                                string pre = "pre" + item.eFileAttachmentId;
                                string fut = "fut" + item.eFileAttachmentId;
                                count = count + 1;
                                string rowId = "eFiles" + item.eFileAttachmentId;
                                var EDays = 0;             
                                <tr>
                                    <td>
                                        <input id='chk_@count' type="checkbox" class="chkp" name="@item.eFileAttachmentId" onclick="AddToList(this.id, this.name)"/>

                                    </td>
                                    @*<td>
                                        @if (item.MainEFileName != null)
                                        {

                                            if (ViewBag.PapersType == "Recieved")
                                            {
                                            <a class="btn btn-minier btn-yellow" aria-hidden="true" data-toggle="tooltip" data-placement="right"
                                             onclick="getEFileAttached('@item.ReFileID')" title="View Attached eFile" style="cursor:pointer">
                                                @item.MainEFileName
                                            </a>
                                            }
                                            else
                                            {
                                            <a class="btn btn-minier btn-yellow" aria-hidden="true" data-toggle="tooltip" data-placement="right"
                                             onclick="getEFileAttached('@item.eFileID')" title="View Attached eFile" style="cursor:pointer">
                                                @item.eFileName
                                            </a>
                                            }
                                        }
                                    </td>*@
                                    <td class="hidden-sm hidden-xs action-button">
                                        @item.PaperRefNo
                                    </td>

                                    <td>@item.Subject </td>


                                    <td>
                                        @if (item.DepartmentName == "OTHER")
                                        {
                                            <span class="badge badge-yellow" style="border-radius: 5px;" title="@item.RecvDetails" data-placement="top" data-toggle="tooltip">OTHER</span><br />
										
                                        }
                                        else
                                        {
                                            <span   data-toggle="tooltip" data-placement="top" title="@item.DepartmentName">@item.DeptAbbr</span> @*@item.RecvDetails*@
                                        }



                                    </td>
                                    <td>@item.AssignAllDates</td>
                                    @{
                                        string path = FileSettings.SettingValue + item.eFilePath;
                                    }
                                    <td><a href="@path" target="_blank">
                                        <img src="~/Images/Common/PDF.png" alt="Download PDF" title="Download PDF" width="35" height="35" /></a>
                                    </td>

                                    @{
                                        string pathWord = FileSettings.SettingValue + item.eFilePathWord;
                                    }
                                   @* <td>

                                        @if (!string.IsNullOrEmpty(item.eFilePathWord))
                                        { 
                                            <a href="@pathWord" target="_blank">
                                                <img src="~/Images/Common/doc.png" alt="Download Doc" title="Download Doc" width="35" height="35" /></a>
                                        }
                                    </td> *@

                                </tr>
									
                            }
                        </tbody>
                    </table>
                    <!-- PAGER START -->
                  
                    <!-- PAGER ENDS -->	 
				 
                    }
                    else
                    {
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-info">

                                <strong>No Paper Received !!!</strong><br />


                            </div>
                        </div>
                    </div>
                    }
                }           
        </div>
</div>

<br />

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dlgRecipientGroupModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="z-index: 10000">
        <div class="modal-content" style="width: 110%; margin-left: -45px;">
            <div class="table-header" style="width: 100%; float: left">

                <div style="width: 92%; float: left">
                    <div id="MainHeading">Choose Meeting Date</div>
                </div>
                <div style="width: 8%; float: left">
                    <button type="button" class="close" data-dismiss="modal">
                    </button>
                    <button type="button" class="btn btn-sm btn-success" data-dismiss="modal" onclick="UncheckValues();" style="margin-bottom: 2px;">
                        <i class="ace-icon glyphicon glyphicon-remove"></i>
                        Close
                    </button>
                </div>



            </div>

            <div class="modal-body alert alert-block alert-success" style="overflow-y: scroll;">
                <input type="hidden" id="hdnefileattid" />
                <input type="hidden" id="hdnefilebuttonType" />
                <input type="hidden" id="hdnefileSelectedDate" />
                <div style="width: 100%;" id="divattachefile">

                    @*<div style="width: 45%;float:left;">
                            <div id="divAttachedList">
                            </div>
                        </div>
                        <div style="width: 1px;float:left;margin-left:5px;border:1px solid #ddd;height:392px;">
                           &nbsp;
                        </div>*@
                    <div style="width: 50%; float: left; margin-left: 8px;">
                        <div style="width: 100%; float: left">
                            <div style="width: 68%; float: left">
                                <div style="width: 32%; float: left">
                                    Meeting Year & Date   
                                </div>
                                <div style="width: 68%; float: left">
                                    <select id="ddlMeetingYear" onchange="SelectDateForYear();" style="width: 80px;">
                                        <option value="0">Year</option>
                                        <option value="2015">2015</option>
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                    </select>
                                    <select id="ddlMeetingDates" style="width: 120px;" onchange="SelectedDateData();">
                                        <option value="">Date</option>
                                    </select>
                                </div>
                            </div>
                            <div style="width: 32%; float: left">
                                <div class="input-group" id="txtDatePickerDate">
                                    <input class="form-control date-picker" id="txtDatePicketMeeting" type="text" data-date-format="dd/mm/yyyy" style="width: 128px; height: 30px;" placeholder="Choose New Date..">
                                    <span class="input-group-btn">
                                        <button class="btn btn-sm btn-default" type="button" onclick="AddNewDate();" style="height: 30px;">
                                            <i class="ace-icon glyphicon glyphicon-plus"></i>
                                        </button>
                                        <button class="btn btn-sm btn-success" type="button" id="btnOK" onclick="btnPressOK();" style="height: 30px; margin-left: 10px;">
                                            Save                                         
                                        </button>
                                    </span>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div style="width: 76%; float: left; margin-left: 8px; color: red;" id="selectedDate">
                    </div>
                </div>

            </div>
            <div class="modal-footer" style="margin-top: 0%; padding-top: 4px;" id="manualPapersDiv">
                <div class="col-xs-12 col-sm-12" id="divManualsAttachments">
                    <div class="table-header" style="text-align: left;">
                        Manaul Paper(s) to attach for Meeting 
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="col-xs-12 col-sm-3">
                            <div class="table-header" style="text-align: left;">
                                Subject
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-8" style="margin-left: 12px; margin-bottom: 4px;">
                            <textarea id="txtManualSubject" rows="3" cols="63" style="float: left;"></textarea>
                        </div>

                    </div>

                    <div class="col-xs-12 col-sm-12">
                        <div class="col-xs-12 col-sm-3">
                            <div class="table-header" style="text-align: left;">Attach PDF</div>
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <div class="col-xs-12 col-sm-12">
                                <div class="input-group col-xs-9" style="float: left;">
                                    <div class="alert alert-block alert-success">

                                        <span class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>Choose file</span>
                                            <input style="font-size: 22px;" id="fileupload" accept=".pdf" type="file" name="fileupload">
                                        </span>
                                        <div style="width: 98%;" id="fileuploadcontant">
                                            <div style="width: 98%;">
                                                <span id="removeUpload" onclick="removefileupload();" class="glyphicon glyphicon-remove" style="color: red; position: relative; float: right;"></span>
                                                <div id="file_name1" class="file_name1"></div>
                                                <div class="file_size1"></div>
                                            </div>
                                            <div style="width: 98%;">
                                                <div class="show_hide">
                                                    <div class="progress1" style="height: 10px; width: 100%">
                                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" style="width: 0%;">
                                                            <span class="sr-only">0% complete</span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <span class="field-validation-error" id="FileValidation" style="color: red"></span>
                                        <br />
                                        @* <span style="color:red;">Uploaded PDf will add to list for </span>*@
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    @* <button type="button" class="btn btn-sm btn-success" onclick="SaveManualsValues();" style="float: left; margin-top: 70px;">
                                        <i class="ace-icon fa fa-floppy-o align-top bigger-14"></i>
                                        Save
                                    </button>*@
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="efileids" class="hdneId" style="display:none;"></div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dlgeFileDetails" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width: 67%; margin-left: 30px;">
            <div class="modal-header" style="height: 65px;">
                <h3>eFile Details </h3>
                <button type="button" class="close" data-dismiss="modal">
                </button>
            </div>
            <div id="divAttachedeFileDetails" class="modal-body alert alert-block alert-success" style="height: 400px; overflow-y: scroll;">
            </div>
            <div class="modal-footer" style="margin-top: 0%; text-align: right;">

                @*
				<button type="button" class="btn btn-app btn-danger btn-sm" data-dismiss="modal">
					<i class="ace-icon glyphicon glyphicon-remove bigger-200"></i>
				</button>*@
                <button type="button" class="btn btn-app btn-danger" data-dismiss="modal" style="width: 9%; padding: 0px; font-size: 15px;">
                    Close
                </button>

            </div>

        </div>
    </div>
</div>


<input type="hidden" id="hdnefileid" style="display:none;" />

<script>
    $(document).ready(function () {
        //tableinit();

        $("#fileupload").click(function (event) {
            $('#fileupload').fileupload({
                dataType: 'json',
                url: "/HouseCommittee/HouseCommitteePapersMeetings/UploadMainPdfFiles",
                autoUpload: true,
                done: function (e, data) {
                    var sim = setTimeout("hidevalue2()", 1000);
                    $('.file_name1').html(data.result.name);
                    $('.file_size1').html(data.result.size);
                }
            }).on('fileuploadprogressall', function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('.progress1 .progress-bar').css('width', progress + '%');
                $('#removeUpload').css('display', 'block');
            });
        });
        function removefileupload() {
            $('.file_name1').html('');
            $('.file_size1').html('');
            $('.progress1 .progress-bar').css('width', '0%');
            $("#removeUpload").hide();
            $('#fileuploadcontant').css('border', '0px solid rgb(244, 239, 239)');
            $.post("/HouseCommittee/HouseCommitteePapersMeetings/RemoveMainFiles",
             {
             },
             function (data) {
             });

        }
    });

    //function tableinit() {
    //    var oTable1 =
	//	 $('#sample-table-2')
	//	 .dataTable({
	//	     "bDestroy": true,
	//	     bAutoWidth: true,
	//	     "aoColumns": [
	//			{ "bSortable": false },
	//		   null, null, null, null,

	//		   { "bSortable": false }

	//	     ]
	//	 });
    //}

    function SessionDateChange1() {
        var a = $("#DdlSessionDates").val();
        var SessionDate = $("#DdlSessionDates option:selected").text();
        var AssemblyID = $('#hdnAssemblyID').val();
        var SessionId = $('#hdnSessionId').val();
        if (SessionDate != null && SessionDate != "" && SessionDate != "Select Session Date" && a != 0) {

            bootbox.confirm("Do you want to download files to assembly house?", function (result) {
                if (result) {
                    //var cl = new CanvasLoader('canvasloader-container');
                    //cl.show();
                    $.ajaxSetup({ cache: false });
                    @*    var pathurl = '@Url.Action("DownloadingFileForAssemblyHouse", "LOBFile")';*@
                    var url = '@Url.Action("DownloadingFileForAssemblyHouse", "LOBFile", new { area = "Admin", SessionDate = "__SD__", AssemblyId = "__AI__", SessionId = "__SI__" })';


                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('__SD__', SessionDate);
                    url = url.replace('__AI__', AssemblyID);
                    url = url.replace('__SI__', SessionId);
                    //alert(url);
                    window.open(url, "_blank");
                }
            });
        }
        else {
            alert("Please Select Session Date!");
        }
    }





    function AddToListDeleted(chkid, efileattid) {

        var status = $('#' + chkid + '').is(':checked');
        if (status == true) {
            var eids = efileattid + ',';
            $('#efileidsDeleted').append(eids);
        }
        else {

            var a = $('#efileidsDeleted').html();
            var b = a.replace(efileattid + ',', " ");
            $('#efileidsDeleted').empty();
            $('#efileidsDeleted').append(b);
        }
    }

    function SaveManualsValues() {
        if ($("#ddlMeetingDates").val() != "") {
            if ($("#txtManualSubject").val() != "") {
                $("#loader-wrapper").show();
                $("#dlgRecipientGroupModel").modal('hide');
                $.ajax({
                    url: "/HouseCommittee/HouseCommitteePapersMeetings/SaveManualsValuesForMeetings",
                    type: 'GET',
                    data: {
                        DateSelected: $("#ddlMeetingDates").val(),
                        Subject: $("#txtManualSubject").val()
                    },
                    success: function (data) {
                        if (data) {
                            $("#loader-wrapper").hide();
                            $("#txtManualSubject").val("");
                            $('.file_name1').html('');
                            $('.file_size1').html('');
                            $("#removeUpload").hide();
                            SelectDateForYearMain($("#ddlMeetingDates").val());
                            getChangePaperTypePending($("#ddlMeetingDates").val());
                            $('#ddlMeetingDatesMain').val($("#ddlMeetingDates").val()).attr("selected", "selected");
                            var dlg = bootbox.alert("Manual Paper(s) attached Successfully to : " + $('#ddlMeetingDates').val() + "", function (e) {
                                $(dlg).modal('hide');
                            });
                            return;
                        } else { alert("error"); }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
            else {
                alert("Meeting Subject Require !!");
                return false;
            }

        }
        else {
            alert("Select Meeting Date First !!");
            return false;
        }
    }


    function DeletePapersForMeeting() {

        var a = $('#efileids').html();
        $("#hdnefileattid").val(a)
        var Ids = '';
        Ids = $("#hdnefileattid").val();

        if (Ids != "") {

            var DeletedIds = Ids;
            if (DeletedIds != "") {
                $("#loader-wrapper").show();
                $.ajax({
                    url: "/HouseCommittee/HouseCommitteePapersMeetings/DeleteItemsForMeetingbyDate",
                    type: 'GET',
                    data: {
                        PapersIds: DeletedIds
                    },
                    success: function (data) {
                        if (data) {
                            SelectDateForYearMain();
                            getChangePaperTypePending();
                            $("#loader-wrapper").hide();
                            var dlg = bootbox.alert("Paper(s) Deleted Successfully", function (e) {
                                $(dlg).modal('hide');
                            });
                            return;
                        } else { alert("error"); }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
            else {
                alert("Select Papers and Meeting Date !!");
            }
        }
        else {
            alert("Select Papers and Meeting Date !!");
        }

    }

    function DownLoadPapersForMeeting() {

        var Ids = '';
        var a = $('#efileids').html();
        $("#hdnefileattid").val(a)
        var Ids = '';
        Ids = $("#hdnefileattid").val();

        var DeletedIds = Ids;
        if (DeletedIds != "" && $("#ddlMeetingDatesMain").val() != "") {

            var papersIds = DeletedIds;
            var DateSelected = $("#ddlMeetingDatesMain").val();

            bootbox.confirm("Do you want to download selected files ?", function (result) {
                if (result) {                   
                    $.ajaxSetup({ cache: false });
                    var url = '@Url.Action("DownloadItemsForMeetingbyDate", "HouseCommitteePapersMeetings", new { area = "HouseCommittee", papersIds = "__SD__", DateSelected = "__AI__" })';


                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('__SD__', papersIds);
                    url = url.replace('__AI__', DateSelected);
                    //alert(url);
                    window.open(url, "_blank");
                }
            });

        }
        else {
            alert("Select Papers and Meeting Date !!");
        }
    }

    function SaveNewDateForMeeting() {
        var Ids = '';
        Ids = $('#hdnefileidSelectedMain').val();
        if (Ids != "" && $("#ddlMeetingDates").val() != "") {
            $("#loader-wrapper").show();
            $.ajax({
                url: "/HouseCommittee/HouseCommitteePapersMeetings/SaveNewDateForMeeting",
                type: 'GET',
                data: {
                    PapersIds: Ids,
                    DateSelected: $("#ddlMeetingDates").val()
                },
                success: function (data) {
                    if (data) {
                        $("#loader-wrapper").hide();
                        $("#dlgRecipientGroupModel").modal('hide');
                        SelectDateForYearMain($('#ddlMeetingDates').val());
                        getChangePaperTypePending($('#ddlMeetingDates').val());
                        var dlg = bootbox.alert("Paper(s) add Successfully to : " + $('#ddlMeetingDates').val() + "", function (e) {
                            $(dlg).modal('hide');
                        });
                        return;

                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });
        }
        else {
            alert("Select Papers and Meeting Date !!");
        }

    }
    function PhosponedDateForMeeting() {
        var Ids = '';
        Ids = $('#hdnefileidSelectedMain').val();

        if (Ids != "" && $('#ddlMeetingDates').val() != "") {
            $("#loader-wrapper").show();
            $.ajax({
                url: "/HouseCommittee/HouseCommitteePapersMeetings/PhosponedDateForMeeting",
                type: 'GET',
                data: {
                    PapersIds: Ids,
                    DateSelected: $('#ddlMeetingDates').val()
                },
                success: function (data) {
                    if (data) {
                        $("#loader-wrapper").hide();
                        $("#dlgRecipientGroupModel").modal('hide');
                        SelectDateForYearMain($('#ddlMeetingDates').val());
                        getChangePaperTypePending($('#ddlMeetingDates').val());
                        var dlg = bootbox.alert("Paper(s) Postponed Successfully to : " + $('#ddlMeetingDates').val() + "", function (e) {
                          $(dlg).modal('hide');                            
                        });                       
                        return;

                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });
        }
        else {
            alert("Select Papers and Meeting Date !!");
        }

    }

    function CancelPapersForMeeting() {

        var a = $('#efileids').html();
        $("#hdnefileattid").val(a)
        var Ids = '';
        Ids = $("#hdnefileattid").val();

        if (Ids != "" && $("#ddlMeetingDatesMain").val() != "") {


            var DeletedIds = Ids;

            if (DeletedIds != "" && $("#ddlMeetingDatesMain").val() != "") {
                $("#loader-wrapper").show();
                $.ajax({
                    url: "/HouseCommittee/HouseCommitteePapersMeetings/CancelItemsForMeetingbyDate",
                    type: 'GET',
                    data: {
                        PapersIds: DeletedIds,
                        DateSelected: $("#ddlMeetingDatesMain").val()
                    },
                    success: function (data) {
                        if (data) {
                            $("#loader-wrapper").hide();
                            SelectDateForYearMain($("#ddlMeetingDatesMain").val());
                            getChangePaperTypePending($("#ddlMeetingDatesMain").val());
                            var dlg = bootbox.alert("Paper(s) Cancel Successfully for : " + $('#ddlMeetingDatesMain').val() + "", function (e) {
                                $(dlg).modal('hide');
                            });
                            return;
                        } else { alert("error"); }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
            else {
                alert("Select Papers and Meeting Date !!");
            }
        }
        else {
            alert("Select Papers and Meeting Date !!");
        }

    }

    //SaveNewDateForMeeting()
    function SelectedDateData() {

        if ($("#ddlMeetingDates").val() != "") {

            $("#selectedDate").text("Selected Date : " + $('#ddlMeetingDates').val());

            //$("#loader-wrapper").show();
            //$.ajax({
            //    url: "/HouseCommittee/HouseCommitteePapersMeetings/GetDateDataForMeeting",
            //    type: 'GET',
            //    data: {                    
            //        DateSelected: $("#ddlMeetingDates").val()
            //    },
            //    success: function (data) {
            //        if (data) {
            //            //$("#SavedPapersDataByDate").html("");
            //            //$("#SavedPapersDataByDate").html(data);
            //            //$("#loader-wrapper").hide();

            //            $('#divManualsAttachments').show();
            //            SelectedDateFromDDL = $("#ddlMeetingDates").val();


            //        } else { alert("error"); }
            //    },
            //    error: function (xhr, ajaxOptions, thrownError) {
            //        alert(xhr.responseText);
            //        alert(thrownError);
            //    }
            //});
        }
        else {
            alert("Select Meeting Year and Date !!");
        }
    }


    function SelectDateForYear() {
        var selectedYear = $("#ddlMeetingYear").val();
        if (selectedYear != '0') {

            try {
                $.ajax({
                    url: "/HouseCommittee/HouseCommitteePapersMeetings/getDateByYear",
                    type: 'GET',
                    data: {
                        selectedYear: selectedYear
                    },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function () {
                        $("#loader-wrapper").show();
                    },
                    success: function (data) {
                        $("#loader-wrapper").hide();
                        $("#SavedPapersDataByDate").html("");
                        if (data != null) {

                            var memberCol = data["CommitteMeetingPapersList"];
                            if (memberCol.length > 0) {
                                var selectOpt = '<option value="">Date</option>';
                                $.each(memberCol, function (e, index) {
                                    selectOpt += '<option value="' + memberCol[e]["StrAssignedDate"] + '">' +
                                    memberCol[e]["StrAssignedDate"] + '</option>';
                                });
                                $("#ddlMeetingDates").html(selectOpt);

                            }
                            else {
                                var selectOpt = '<option value="">Date</option>';
                                $("#ddlMeetingDates").html(selectOpt);
                            }
                        }
                        $('.chosen-select').trigger("chosen:updated");
                    }
                });

            } catch (e) {

            }
        }
        else {
            alert("Please choose Year First !!");
            var selectOpt = '<option value="">Date</option>';
            $("#ddlMeetingDates").html(selectOpt);
        }
    }



    function CreateNewDate() {
        $("#txtDatePickerDate").show();

    }
    function AddNewDate() {

        if ($("#txtDatePicketMeeting").val() != "") {

            var thevalue = $("#txtDatePicketMeeting").val();

            if ($("#ddlMeetingDates option[value='" + thevalue + "']").val() === undefined) {
                $("#ddlMeetingDates").append($('<option />', {
                    value: $("#txtDatePicketMeeting").val(),
                    text: $("#txtDatePicketMeeting").val()
                }));

            }
            else {
                alert('Date Already exist In Drop down list !!');
            }
            $('#ddlMeetingDates').val($("#txtDatePicketMeeting").val()).attr("selected", "selected");
            $("#txtDatePicketMeeting").val("");
            $("#selectedDate").text("Selected Date : " + $('#ddlMeetingDates').val());

        }
        else {
            alert("Please pick the date from Date Picker");
        }

    }

    function btnPressOK() {

        if ($("#ddlMeetingDates").val() != "") {

            if ($("#hdnefilebuttonType").val() == "M") {
                $("#selectedDateMain").text("Selected Date : " + $('#ddlMeetingDates').val());
                SaveNewDateForMeeting();
            }
            if ($("#hdnefilebuttonType").val() == "P") {
                $("#selectedDateMain").text("Selected Postpone Date : " + $('#ddlMeetingDates').val());
                PhosponedDateForMeeting();
            }
            if ($("#hdnefilebuttonType").val() == "T") {
                SaveManualsValues();
            }


        }
        else {
            alert("Select Meeting Year and Date !!");
        }
    }





    function GetDataList(pageId) {
        var PageSize = $("#PazeSize").val();
        $.ajax({
            type: "POST",
            url: '/eFile/eFile/GetSavedPaperByPaging',
            data: '{ pageId: "' + pageId + '",pageSize: "' + PageSize + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(result);
            },
            error: function (error) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(error.responseText);

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
            }
        });
    }
    //////////////////////////////Server Side Paging////////////////////////////////////////

    function getChangePaperType() {
        var PType = $("#ddlPaperType option:selected").text();
        ReceivePaperList(1, 25, PType);
    }

    function getEFileAttached(id) {
        if (id != null && id != 0) {

            $("#loader-wrapper").show();
            $.ajax({
                url: "/eFile/eFile/_eFileViewByIDAttached",
                type: 'GET',
                data: {
                    DepartmentName: '',
                    eFileNumber: '',
                    eFileSubject: '',
                    eFileID: id,
                    CommitteeId: 0
                },
                success: function (data) {
                    if (data) {
                        $("#dlgeFileDetails").modal('show');
                        $("#divAttachedeFileDetails").html("");
                        $("#divAttachedeFileDetails").html(data);
                        $("#loader-wrapper").hide();
                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });
        }
    }



    function getefileid(ele) {

        $("#hdnefileid").val(ele);
    }

    function AddToList(chkid, efileattid) {


        var status = $('#' + chkid + '').is(':checked');
        if (status == true) {
            var eids = efileattid + ',';
            $('#efileids').append(eids);

        }
        else {

            var a = $('#efileids').html();
            var b = a.replace(efileattid + ',', " ");
            $('#efileids').empty();
            $('#efileids').append(b);
        }

    }

    function UncheckValues() {

        //var checkboxes = document.getElementsByClassName("chkp");
        //$('#efileids').html('');
        //for (var i = 0; i < checkboxes.length; i++) {
        //    if (checkboxes[i].type == 'checkbox') {
        //        checkboxes[i].checked = false;

        //    }
        //}
        $("#SavedPapersDataByDate").html("");

    }

    $("#chkSelAll").click(function (e) {

        var status = $("#chkSelAll").prop('checked');
        var checkboxes = document.getElementsByClassName("chkp");

        if (status == true) {
            $('#efileids').html('');

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                    if (checkboxes[i].checked = true) {
                        AddToList(checkboxes[i].id, checkboxes[i].name)
                    }
                }
            }
        }
        else {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;

                }
            }
            $('#efileids').empty();
            $('#efileids').html('');

        }
    });
  

    $("#ddleFile").change(function () {
        var a = $(this).val();
        if (a == 0) {
            var v = $("#hdnAttachtoefile").val();
            if (v == 'Attach') {
                $("#divOR").hide();
                $("#chkrecv").hide();
            }
            else {
                $("#divOR").show(300);
                $("#chkrecv").show(300);
            }
        }
        else {

            $("#divOR").hide(300);
            $("#chkrecv").hide(300);
        }
    });

    function openModal(id, ele) {
        if (ele == 'N') {
            $("#chkrecv").hide();
            $("#divOR").hide();
            $("#hdnAttachtoefile").val("Attach");
        }
        else if (ele == 'Y') {
            $("#chkrecv").show();
            $("#divOR").show();
            $("#hdnAttachtoefile").val("RECVAttach");

        }
        $("#btnRecvMul").hide();
        $("#btnRecv").show();
        $("#divMsgBox").hide();
        $("#hdnefileattid").val(id)
        $("#dlgRecipientGroupModel").modal('show')

    }
    $("#chkboxreceive").change(function () {
        if ($(this).prop('checked')) {
            $("#divattachefile").hide(300);
            $("#divOR").hide(300);
        }
        else {
            $("#divattachefile").show(300);
            $("#divOR").show(300);
        }

    });

    function UpdateReceive() {




        var chkstatus = $("#chkboxreceive").is(":checked");
        var eFileID = 0;
        if (chkstatus == true) {
            eFileID = 0;
        }
        else {
            var ddval = $("#ddleFile").val();
            if (ddval.length > 0)
            { eFileID = $("#ddleFile").val(); } else {

                var dlg = bootbox.alert("No eFile Found.", function (e) {
                    $(dlg).modal('hide');
                });
                return;
            }

        }


        $("#loader-wrapper").show();

        var Url = '@Url.Action("SaveReceivePaperSingle", "eFile", new { Area = "eFile" })';
            $.ajax({
                url: Url,
                type: 'POST',
                data: {
                    eFileAttachId: $("#hdnefileattid").val(),
                    eFielId: eFileID
                },
                success: function (data) {
                    if (data) {
                        ReceivePaperList();
                        $("#loader-wrapper").hide();
                        var dlg = bootbox.alert(data, function (e) {
                            $(dlg).modal('hide');
                        });
                        //$("#dlgRecipientGroupModel").modal('show');
                        //$("#divattachefile").hide(300);
                        //$("#divOR").hide(300);
                        //$("#chkboxreceive").hide(300);
                        //$("#divMsgBox").show(300);



                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {

                    var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                        $(dlg).modal('hide');
                    });
                }
            });

        }

        function ReplyPaper(efileattid, refno, Deptid, officeid, doctypeid, linkrefno, papernature) {
            $("#loader-wrapper").show();
            debugger;
            var Url = '@Url.Action("ReplyPaperSingle", "eFile", new { Area = "eFile" })';
        $.ajax({
            url: Url,
            type: 'GET',
            data: {
                eFileAttachmentId: efileattid,
                PaperRefNo: refno,
                DepartmentId: Deptid,
                OfficeCode: officeid,
                DocumentTypeId: doctypeid,
                LinkedRefNo: linkrefno,
                PaperNature: papernature
            },
            success: function (data) {
                if (data) {
                    $('#resize-left').width('50%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '50%' }, 500);


                    $("#RightSidebar").html("");
                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();
                }
            },
            complete: function (obj) {
                Initializefileupload();
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });
    }

    function openModalMul(id, ele) {

        //Write here

        if (ele == 'M') {
            $("#MainHeading").text("Choose Meeting Date for Selected Papers(s)");
            $("#hdnefilebuttonType").val("M");
            $("#chkrecv").hide();
            $("#divOR").hide();
            $("#btnRecvMul").show();
            $("#btnRecv").hide();
        }
        else if (ele == 'P') {
            $("#MainHeading").text("Choose Postponed Meeting Date for Selected Papers(s)");
            $("#hdnefilebuttonType").val("P");
            $("#hdnefileSelectedDate").val($("#ddlMeetingYearMain option:selected").text());
            $("#chkrecv").hide();
            $("#divOR").hide();
            $("#btnRecvMul").show();
            $("#btnRecv").hide();
        }
        else if (ele == 'D') {
            $("#MainHeading").text("Delete Paper(s) for Meeting Date : " + $("#ddlMeetingYearMain").val());
            $("#hdnefilebuttonType").val("D");
            $("#chkrecv").hide();
            $("#divOR").hide();
            $("#btnRecvMul").show();
            $("#btnRecv").hide();
        }
        else if (ele == 'C') {
            $("#MainHeading").text("Cancel Paper(s) for Meeting Date : " + $("#ddlMeetingYearMain").val());
            $("#hdnefilebuttonType").val("D");
            $("#chkrecv").hide();
            $("#divOR").hide();
            $("#btnRecvMul").show();
            $("#btnRecv").hide();
        }
        else if (ele == 'T') {
            $("#MainHeading").text("Attach Manual Paper(s) for Meeting");
            $("#hdnefilebuttonType").val("T");
            $("#chkrecv").hide();
            $("#divOR").hide();
            $("#btnRecvMul").show();
            $("#btnRecv").hide();
        }
        else {
            $("#chkrecv").show();
            $("#divOR").show();
            $("#btnRecvMul").hide();
            $("#btnRecv").show();
        }
        $("#divMsgBox").hide();

        var a = $('#efileids').html();
        $("#hdnefileattid").val(a)
        var hiddenValues = $('#efileids').html();

        var ManualAttach = "";
        if (ele == 'T') {
            $("#manualPapersDiv").show();
        }
        else {
            if (a.toString().trim().length == 0) {
                var dlg = bootbox.alert("No Paper has been selected", function (e) {
                    $(dlg).modal('hide');
                });
                return;
            }
            $("#manualPapersDiv").hide();
        }

        //alert(hiddenValues);
        //$.ajax({
        //    url: "/HouseCommittee/HouseCommitteePapersMeetings/GetSelectedPaperList",
        //    type: 'GET',
        //    data: { papersIds: hiddenValues },
        //    success: function (data) {
        //        if (data) {
        //            $('#divAttachedList').empty();
        //            $('#divAttachedList').html(data);
        //        } else { alert("error"); }
        //    },
        //    error: function (xhr, ajaxOptions, thrownError) {
        //        alert(xhr.responseText);
        //        alert(thrownError);
        //    }
        //});


        $("#dlgRecipientGroupModel").modal('show');
        $("#hdnefileidSelectedMain").val(a);
    }

    function AttachToeFileMultiple() {

        $("#loader-wrapper").show();

        var Url = '@Url.Action("AttachPaperToeFileMultipleR", "eFile", new { Area = "eFile" })';
        $.ajax({
            url: Url,
            type: 'POST',
            data: {
                eFileAttIds: $("#hdnefileattid").val(),
                eFielId: $("#hdnefileid").val()
            },
            success: function (data) {
                if (data) {
                    ReceivePaperList();
                    $("#loader-wrapper").hide();
                    var dlg = bootbox.alert(data, function (e) {
                        $(dlg).modal('hide');
                    });

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });

    }
    function ReceivePaper() {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/eFile/eFile/NewReceivePaper",
            type: 'GET',
            data: {},
            success: function (data) {
                if (data) {

                    $('#resize-left').width('50%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '50%' }, 500);

                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            },
            complete: function (obj) {
                Initializefileupload();
                InitializefileuploadWord();
            }
        });

    }


    function myFunction() {
        var x;
        if (confirm("Press a button!") == true) {
            x = "You pressed OK!";
        } else {
            x = "You pressed Cancel!";
        }
        document.getElementById("demo").innerHTML = x;
    }


    function DiaryEntry(EfileId) {
        var x;
        if (confirm("Are you sure to diary this paper!") == true) {
            $("#loader-wrapper").show();
            $.post("/eFile/eFile/DiaryEntryPaper",
               {
                   EfileId: EfileId,

               },
               function (data) {
                   RPaperList();
               });
        } else {

        }


    }


    function RPaperList() {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/eFile/eFile/GetReceivePaperList",
            type: 'GET',
            data: '{ pageId: "1",pageSize: "25" }',
            success: function (data) {
                if (data) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').html(data);
                    $("#loader-wrapper").hide();
                    $('#resize-left').width('100%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '0%' }, 500);
                    ChangeBreadCrumbParent("Correspondence", "");
                    ChangeBreadCrumbChild("Receive Paper", "");
                    $("#MainDiveThreeTire").show();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }


    function GetBranch(ID) {

        var pathurl = '@Url.Action("BranchModel", "HouseCommittee")';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                Id: ID
            },
            success: function (data) {

                $('#ShowfullDetailsModel').html("");
                $('#ShowfullDetailsModel').html(data);

                var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Select Branch",
                    width: 600,
                    title_html: true,
                    buttons: [
                        {
                            text: "OK",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

            }
        });
    }
    //function GetBranch(id) {
    //    if (id != null && id != 0) {

    //        $("#loader-wrapper").show();
    //        $.ajax({
    //            url: "/eFile/eFile/BranchModel",
    //            type: 'GET',
    //            data: {
    //                //DepartmentName: '',
    //                //eFileNumber: '',
    //                //eFileSubject: '',
    //                //eFileID: id,
    //                //CommitteeId: 0
    //            },
    //            success: function (data) {
    //                if (data) {
    //                    $("#dlgeFileDetails").modal('show');
    //                    $("#divAttachedeFileDetails").html("");
    //                    $("#divAttachedeFileDetails").html(data);
    //                    $("#loader-wrapper").hide();
    //                } else { alert("error"); }
    //            },
    //            error: function (xhr, ajaxOptions, thrownError) {
    //                alert(xhr.responseText);
    //                alert(thrownError);
    //            }
    //        });
    //    }
    //}

</script>
