﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                @*<a href="@Url.Action("AllMembersAccountDetails", "MemberAccountDetails")">Home</a>*@Home
            </li>

            <li>
                @*<a href="@Url.Action("CurrentMembersAccountDetails", "MemberAccountDetails")">Current Members</a>*@Bills
            </li>
            <li class="active">Select Bills</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1> Bills
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Search Bills
                </small>
            </h1>
        </div>

        @Html.Partial("_SanctionBill")

    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
