﻿@model SBL.DomainModel.ComplexModel.OnlineMemberQmodel
@{
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}
@Html.Partial("_LeftMenu")

@{
    var IsAdmin = "FALSE";
    if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.UserName != "admin")
    {
        IsAdmin = "TRUE";
    }
}

<div class="main-content">
    <div class="widget-box">
        <div class="widget-header">
            <h4 class="widget-title">Send Customize SMS & Email</h4>
            <div class="alert-success pull-right" style="border-radius: 25px; text-align: center; padding: 14px 10px 5px 10px; margin: 2px;">
                <p>
                    <input type="hidden" id="hdnIsAdmin" value="@ViewBag.NoSMSLimitRequired" />
                    @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.UserName != "admin")
                    {
                        <strong>
                            <i class="ace-icon fa fa-check"></i>
                            Monthly Message Limit <span class="badge badge-success" id="spnlimitsms"></span>. You have <span class="badge badge-warning" id="spnleftsms" style="display: none;"></span><span class="badge badge-warning" id="spnLeft"></span>SMS Left.
                        </strong>                    
                    }

                </p>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main no-padding-right no-padding-left">
                <div class="profile-user-info profile-user-info-striped">

                    <div class="profile-info-row">
                        <div class="profile-info-name">Group:</div>
                        <div class="profile-info-value">
                            <div class="col-xs-12 col-sm-6" style="border: 1px solid #808080">
                                <div class="control-group">
                                    <div style="padding-left: 0px; height: 100%;">
                                        <div style="padding-left: 0px;">

                                            @if (ViewBag.GenericOnly == "GENRICONLY")
                                            {
                                                <select class="form-control" id="form-field-select-1" style="border-radius: 60px; font-size: 12px; height: 30px;" onchange="getgroups(this)">
                                                    <option value="N">-Selec Group-</option>
                                                    <option value="G">Generic</option>
                                                    @*<option value="C" >Constituency</option>
											<option value="P" >Panchayat</option>
											<option value="O" >Constituency Office</option>*@
                                                </select>
                                            }
                                            else
                                            { 
                                                <select class="form-control" id="form-field-select-1" style="border-radius: 60px; font-size: 12px; height: 30px;" onchange="getgroups(this)">
                                                    <option value="N">-Selec Group-</option>
                                                    <option value="G">Generic</option>
                                                    <option value="C">Constituency</option>
                                                    <option value="P">Panchayat</option>
                                                    <option value="O">Constituency Office</option>
                                                </select>
                                            }
                                        </div>
                                        <div style="padding-left: 0px;">
                                            <label>
                                                <input type="checkbox" id="chkAllGroups" value="Select ALL" /><span>Select All Groups</span></label>
                                        </div>
                                        <div id="LeftGroupLists" style="height: 150px; overflow-y: scroll;">


                                            @*<table style="width: 100%;">
											@foreach (var names in Model.RecipientGroupList)
		   {
			   var checkBoxId = "lstRecipientGroupCol" + names.GroupID;
			   var tdId = "td" + names.Name;

												<tr>
													<td>
														<label>
															<input name="chkgroupbox" type="checkbox"  id="chk_@names.GroupID" value="@names.GroupID" onclick="GetmembetsDetPartial(this.id, this.value);" />
															<span class="lbl">@names.Name</span>
														</label>
													</td>
												</tr>

		   }
										</table>*@

                                        </div>
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6" style="border: 1px solid #808080">
                                <div class="control-group">

                                    <div class="checkbox" style="padding-left: 0px; height: 100%;">
                                        <div style="padding-left: 10px;">
                                            <label>
                                                <input name="chkMembergroupbox" type="checkbox" id="chkAllMembers" value="Select ALL" /><span id="spnGroupmember">Select Recipients For SMS...</span></label>
                                        </div>
                                        <div id="RightMemberLists" style="height: 166px; overflow-y: scroll;">
                                        </div>
                                        <br />
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">Add Additional Mobile No.:</div>
                        <div class="profile-info-value">
                            <input type="text" id="txtAddMobile" class="add col-xs-12" onclick="CheckMobileValididity(this)" placeholder="Enter Mobile No...with comma (,) separated" title="Press Enter To Add" />
                            <span class="tooltip">Press Enter to Add</span>

                        </div>
                    </div>


                    <div class="profile-info-row" style="display: none;">
                        <div class="profile-info-name">Selected Mobile No. (max limit 1000) </div>

                        <div class="profile-info-value">
                            <span class="label label-info arrowed-in-right arrowed" style="display: none;">No. of Member <span id="spnMobileCountShow" class="badge badge-pink"></span>Selected</span>
                            <button class="btn btn-xs btn-danger" id="btnRemoveAllMobile" onclick="RemoveAllMobile();" style="float: right;">
                                <i class="ace-icon fa fa-bolt bigger-110"></i>
                                Remove All
												 
                            </button>
                            <div class="checkbox" style="padding-left: 0px; height: 100%;">
                                <div id="divSelectedMembers" class="col-xs-3 tags" style="height: 80px; overflow-y: scroll; width: 100%;">
                                </div>
                                <div id="mailids" class="hdnmembers"></div>

                            </div>
                        </div>
                    </div>
                    <div class="profile-info-row" style="display: none;">
                        <div class="profile-info-name">Add Additional Email Id.:</div>
                        <div class="profile-info-value">
                            <input type="text" id="txtEmail" class="add  col-xs-12" onkeydown="CheckEmailValididity(this)" placeholder="Enter Email Id...with comma (,) separated" title="Press Enter To Add" />
                            <span class="tooltip">Press Enter to Add</span>
                        </div>
                    </div>
                    <div class="profile-info-row" style="display: none;">
                        <div class="profile-info-name">Selected Email Ids (max limit 1000) </div>

                        <div class="profile-info-value">
                            <span class="label label-info arrowed-in-right arrowed" style="display: none;">No. of Member <span id="spnEmialCountShow" class="badge badge-pink"></span>Selected</span>
                            <button class="btn btn-xs btn-danger" id="btnRemoveAllEmail" onclick="RemoveAllEmail();" style="float: right;">
                                <i class="ace-icon fa fa-bolt bigger-110"></i>
                                Remove All
												 
                            </button>
                            <div style="padding-left: 0px; height: 100%;">
                                <div id="divSelectedMembersEmail" class="col-xs-3 tags" style="height: 80px; overflow-y: scroll; width: 100%;">
                                </div>
                                <div id="emails"></div>
                            </div>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name">SMS/Email Message:</div>
                        <div class="profile-info-value">
                            <textarea autocomplete="off" class="col-xs-12" cols="20" id="txtMsgBody" name="Address" placeholder="Message (max limit 475 characters)" rows="2" style="width: 100%; resize: vertical; height: 100px;" maxlength="475" onkeydown="getcharscount(this)"></textarea>
                            <span class="help-block" style="display: inline">Left Character 
							<span class="badge badge-yellow" id="spnMsgCharsCount">475</span>
                            </span>
                            &nbsp;&nbsp;
						<span class="help-block" style="display: inline">Total Unit
							<span class="badge badge-success" id="spnMsgUnit">0</span>
                        </span>
                            ​<span class="label label-info arrowed-in-right arrowed" style="float: right">​​For unicode text, 70 chars = 1 Message.</span>
                            <span class="label label-info arrowed-in-right arrowed" style="float: right">
                                <i class="ace-icon fa fa-exclamation-triangle bigger-120"></i>
                                For Normal text, 160 chars = 1 Message.
                            </span>

                        </div>
                    </div>


                    <div class="profile-info-row">
                        <div class="profile-info-name">Sending Option:</div>
                        <div class="profile-info-value">

                            <div class="col-xs-3">
                                <label class="block">
                                    <input id="chksms" name="form-field-checkbox" type="checkbox">
                                    <span class="lbl">SMS</span>
                                </label>
                                <label style="display: none;">
                                    <input id="chkemail" name="form-field-checkbox" type="checkbox">
                                    <span class="lbl">EMAIL</span>
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name">Is Local</div>
                        <div class="profile-info-value">

                            <div class="col-xs-3">
                                <label class="block">
                                    <input id="chkislocal" name="form-field-checkbox" type="checkbox">
                                    ​<span class="label label-info arrowed-in-right arrowed">​​Select if message is in Local language</span>
                                    @*<span class="lbl">(Select if message is in Local language)</span>*@
                                </label>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="wizard-actions">
                <div style="margin-bottom: 40px;">
                    <div class="form-inline">
                        <button type="button" id="UpdateDebateInfo" class="btn btn-primary" onclick="SendSmsToMembers()">
                            <i class="ace-icon fa fa-share align-top bigger-140"></i>
                            Send
                        </button>
                        <button type="button" class="btn btn-default" onclick="resetbody()">Reset</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="~/assets/js/bootbox.min.js"></script>
<script>
    $(function () {
        $("#loader-wrapper").show();

        Count = 1;
        ECount = 1;

        var strVal = $("#hdnIsAdmin").val();
        
        if (strVal != "TRUE") {
            GetSMSLimit();
            GetSpentSSMS();
        }

        //$('#divAction').hide();


        //ChangeBreadCrumbParent("Bulk SMS/Email", "Send SMS/Email");

        var checkboxes = document.getElementsByClassName("ace");
        if (checkboxes.length > 0) {
            $('#chkAllMembers').show();
            $('#spnGroupmember').html('Select All Member');
        }
        else {
            $('#chkAllMembers').hide();
            $('#spnGroupmember').html('Select Recipients For SMS..');
        }
        //$('#spnMobileCountShow').html('0');
        //$('#spnEmialCountShow').html('0');
        $("#loader-wrapper").hide();

    });
    function GetmembetsDetPartial(Chkid, CHkvalue) {

        $('#chkAllMembers').prop("checked", false);
        var chkboxGroups = $("#" + Chkid).prop('checked');

        if (chkboxGroups == true) {
            $("#loader-wrapper").show();
            $.ajax({
                type: "GET",
                url: "/Notices/OnlineMemberQuestions/GetMembersPartial",
                data: { GroupID: CHkvalue },

                success: function (data) {
                    //$("#RightMemberLists").empty();
                    $("#RightMemberLists").append(data);
                    $("#loader-wrapper").hide();
                    var checkboxes = document.getElementsByClassName("ace");
                    if (checkboxes.length > 0) {
                        $('#chkAllMembers').show();
                        $('#spnGroupmember').html('Select Recipients For SMS..');
                    }
                    else {
                        $('#chkAllMembers').hide();
                        $('#spnGroupmember').html('Select Recipients For SMS..');
                    }
                }
            });
        }
        else {


            $("#RightMemberLists").empty();
            var checkboxes = document.getElementsByName("chkgroupbox");
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {

                    if (checkboxes[i].checked == true) {
                        GetmembetsDetPartial(checkboxes[i].id, checkboxes[i].value);
                    }
                }
            }
        }

    }
    $("#chkAllMembers").click(function (e) {
        $("#loader-wrapper").show();
        var status = $("#chkAllMembers").prop('checked');
        var checkboxes = document.getElementsByClassName("ace");

        if (status == true) {
            //$('#mailids').html('');
            //$('#divSelectedMembers').html('');

            //$('#emails').html('');
            //$('#divSelectedMembersEmail').html('');

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                    if (checkboxes[i].checked == true) {
                        getmemberdata(checkboxes[i].id, checkboxes[i].name, checkboxes[i].title, checkboxes[i].value)
                    }
                }
            }
        }
        else {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;

                }
            }
            //Count = 1;
            //ECount = 1;
            //$('#mailids').html('');
            //$('#divSelectedMembers').html('');

            //$('#emails').html('');
            //$('#divSelectedMembersEmail').html('');
        }
        $("#loader-wrapper").hide();
    });
    var Count = 1;
    var ECount = 1;
    function getmemberdata(id, name, mailid, em) {
        if (Count > 1000) {
            var dlg = bootbox.alert('Max. limit 1000.', function (e) {
                $(dlg).modal('hide');
            });
            return;
        }
        if (ECount > 1000) {
            var dlg = bootbox.alert('Max. limit 1000.', function (e) {
                $(dlg).modal('hide');
            });
            return;
        }

        var n = name + ',';
        if (mailid.trim().length > 0) {
            var email = mailid + ',';
        }
        if (em.trim().length > 0) {
            var mails = em + ',';
        }

        var IsValid;
        var ifExists = false;
        if ($('#' + id + '').is(':checked')) {

            IsValid = true;
            for (var i = 1; i <= Count; i++) {
                var value = $('#hdnNum-' + i).val();
                if (mailid == value) {
                    ifExists = true;
                }
            }
        } else {
            IsValid = false;
        }

        if (ifExists == false) {
            if (IsValid == true) {
                var a = ' <span class="tag" >' + name + '' +
				'<input type="hidden" id="hdnNum-' + Count + '" value="' + mailid + '" class="hdnmembers" />' +
				'<button class="close" value="' + em + '" type="button" id="' + mailid + '" title="Remove" >×</button>' +
				'</span> ';

                // For Mobiles
                if (mailid.trim().length > 0) {
                    var b = ' <span class="tag" >' + mailid + '' +
					'<input type="hidden" id="hdnNum-' + Count + '" value="' + mailid + '" class="hdnmembers" />' +
					'<button class="close" value="' + em + '" type="button" id="' + mailid + '" title="Remove" >×</button>' +
					'</span> ';
                }

                // For Emails
                if (em.trim().length > 0) {
                    var c = ' <span class="tag" >' + em + '' +
					'<input type="hidden" id="hdnNum-' + ECount + '" value="' + em + '" class="hdnmembers" />' +
					'<button class="close" value="' + em + '" type="button" id="' + mailid + '" title="Remove" >×</button>' +
					'</span> ';
                }

                if (document.getElementById(id).checked) {
                    $('#divSelectedMembers').append(b);
                    $('#divSelectedMembersEmail').append(c);
                    $('#mailids').append(email);
                    // adding Emails
                    $('#emails').append(mails);
                }
                Count++;
                ECount++;
            }
            else {

                //remove on Uncheck
                var d = $('#emails').html();
                var e = d.replace(em + ',', " ");
                $('#emails').empty();
                $('#emails').append(e);
                ECount--;

                var a = $('#mailids').html();
                var b = a.replace(mailid + ',', " ");
                $('#mailids').empty();
                $('#mailids').append(b);

                $('#' + mailid + '').parent().remove();
                $('#' + mailid + '').parent().remove();

                Count--;
            }
        }
        $('#mailids').hide();
        $('#emails').hide();

        //$('#spnMobileCountShow').html(Count);
        //$('#spnEmialCountShow').html(ECount);
    }

    function addEmail() {
        var mnos = [];
        mnos = $('#txtEmail').val().split(',');



        if (ECount > 1000) {
            var dlg = bootbox.alert('Max. limit 1000.', function (e) {
                $(dlg).modal('hide');
            });
            return;
        }

        for (var i = 0; i < mnos.length; i++) {

            if (mnos[i].match(/^\w+@@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/)) {

                // For Email
                if (mnos[i].trim().length > 0) {
                    var sendemail = mnos[i] + ',';
                    var c = ' <span class="tag" >' + mnos[i] + '' +
					'<input type="hidden"  value="' + mnos[i] + '" class="hdnmembers" />' +
					'<button class="close"  type="button" value="' + mnos[i] + '" id="' + mnos[i] + '" title="Remove" >×</button>' +
					'</span> ';
                }
                $('#divSelectedMembersEmail').append(c);
                $('#txtEmail').val('');
                $('#emails').append(sendemail);
                ECount++;
            }
        }

        $('#emails').hide();
        //$('#spnEmialCountShow').html(ECount);

    }
    function addmobile() {
        var mnos = [];
        mnos = $('#txtAddMobile').val().split(',');


        if (Count > 1000) {
            var dlg = bootbox.alert('Max. limit 1000.', function (e) {
                $(dlg).modal('hide');
            });
            return;
        }
        for (var i = 0; i < mnos.length; i++) {

            // For Mobiles
            if (mnos[i].trim().length > 0) {
                var sendMobile = mnos[i] + ',';
                var mobiles = ' <span class="tag" >' + mnos[i] + '' +
				'<input type="hidden" value="' + mnos[i] + '" class="hdnmembers" />' +
				'<button class="close" type="button" id="' + mnos[i] + '" title="Remove" >×</button>' +
				'</span> ';

                $('#divSelectedMembers').append(mobiles);

                //$('#txtAddMobile').val('');
                $('#mailids').append(sendMobile);
                Count++;
            }
        }

        $('#mailids').hide();
        //$('#spnMobileCountShow').html(Count);


    }
    function CheckMobileValididity(ele) {


        if (event.keyCode == 188) {

            var mnosC = [];
            mnosC = $('#txtAddMobile').val().trim().split(',');

            for (var i = 0; i < mnosC.length; i++) {
                if ($.isNumeric(mnosC[i].trim()) && mnosC[i].trim().length == 10) {

                }
                else {
                    if (mnosC[i].trim().length > 0) {
                        var dlg = bootbox.alert('Please Enter Correct Mobile No.', function (e) {
                            $(dlg).modal('hide');
                        });
                        mnosC.length = 0;
                        return;
                    }
                }

            }
        }
    }
    function CheckEmailValididity(ele) {

        if (event.keyCode == 188) {
            var mnosC = [];
            mnosC = $('#txtEmail').val().split(',');
            for (var i = 0; i < mnosC.length; i++) {
                if (mnosC[i].match(/^\w+@@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/)) {
                }
                else {
                    if (mnosC[i].trim().length > 0) {
                        var dlg = bootbox.alert('Please Enter Correct Email ID', function (e) {
                            $(dlg).modal('hide');
                        });
                        return;
                    }
                }
            }
        }

    }

    $(document).on('click', '.close', function () {
        var d = $('#emails').html();
        var e = d.replace(this.value + ',', " ");
        $('#emails').empty();
        $('#emails').append(e);
        ECount--;

        var a = $('#mailids').html();
        var b = a.replace(this.id + ',', " ");
        $('#mailids').empty();
        $('#mailids').append(b);
        $(this).parent().remove();
        Count--;

        //$('#spnMobileCountShow').html(Count);
        //$('#spnEmialCountShow').html(ECount);



    });


    function SendSmsToMembers() {
        var isSending;
        var IsSms;
        var IsMail;
        var chklocal;
        var a;
        var mbody = $('#txtMsgBody').val();

        var strVal = $("#hdnIsAdmin").val();        
        if (strVal != "TRUE") {
            a = $('#spnLeft').html();
            if (a <= 0) {
                var dlg = bootbox.alert('Message Limit is Over.Please Conatct to SuperAdmin.', function (e) {
                    $(dlg).modal('hide');
                });
                return;
            }
        }
        else {
            a = 0;
        }
        

        if ($('#chkislocal').prop('checked')) {
            chklocal = "true";

        } else {
            chklocal = "false";
        }

        if (mbody.length > 0) {
        } else {
            var dlg = bootbox.alert('Please Enter Message', function (e) {
                $(dlg).modal('hide');
            });
            return;
        }
        if ($('#chksms').prop('checked')) {
            IsSms = "true";

        } else {
            IsSms = "false";

        }

        if ($('#chkemail').prop('checked')) {
            IsMail = "true";

        } else {
            IsMail = "false";

        }

        if ($('#chksms').prop('checked') || $('#chkemail').prop('checked')) {
            isSending = "true";
        } else {
            isSending = "false";
        }
        if (isSending == "true") { }
        else {
            var dlg = bootbox.alert('Please Select Sending Option', function (e) {
                $(dlg).modal('hide');
            });
            return;
        }
        addmobile();
        //addEmail();
        var mobilenos = $('#mailids').html();
        var eids = $('#emails').html();
        var strVal = $("#hdnIsAdmin").val();


        if (isSending == "true") {
            $("#loader-wrapper").show();

            $.ajax({
                url: "/Notices/OnlineMemberQuestions/SendSMSEmail",
                type: 'POST',
                data: JSON.stringify({
                    EmailIds: eids,
                    MobileNos: mobilenos,
                    MsgBody: mbody,
                    IsSms: IsSms,
                    IsEmail: IsMail,
                    SMSLeft: a,
                    chklocal: chklocal
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    
        
                    if (strVal != "TRUE") {
                        GetSMSLimit();
                        GetSpentSSMS();
                    }
                    //GetSMSLimit();
                    //GetSpentSSMS();


                    $('#divSelectedMembers').html('');
                    $('#divSelectedMembersEmail').html('');
                    $('#RightMemberLists').html('');
                    $('#mailids').html('');
                    $('#emails').html('');
                    $('#chkAllMembers').prop("checked", false);
                    $('#txtMsgBody').val('');
                    $('#chkAllGroups').prop("checked", false);
                    var radios = document.getElementsByName("chkgroupbox");
                    for (var i = 0; i < radios.length; i++) {
                        if (radios[i].type == 'checkbox') {
                            radios[i].checked = false;

                        }
                    }

                    if ($('#chksms').prop('checked')) {
                        $('#chksms').prop('checked', false);
                    }
                    if ($('#chkemail').prop('checked')) {
                        $('#chkemail').prop('checked', false);
                    }
                    if ($('#chkislocal').prop('checked')) {
                        $('#chkislocal').prop('checked', false);
                    }

                    var dlg = bootbox.alert(data, function (e) {

                        $(dlg).modal('hide');

                    });
                    Count = 1;
                    ECount = 1;

                    $('#txtAddMobile').val('')
                    $('#txtEmail').val('');
                    $('#spnMsgCharsCount').html('475');
                    $("#loader-wrapper").hide();
                    $('#spnMobileCountShow').html('0');
                    $('#spnEmialCountShow').html('0');

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                }

            });
        }
        else {
            var dlg = bootbox.alert('Please Select Sending Option', function (e) {
                $(dlg).modal('hide');
            });
            return;
        }
    }

    function resetbody() {
        $('#divSelectedMembers').html('');
        $('#RightMemberLists').html('');
        $('#mailids').html('');
        $('#txtMsgBody').val('');
        $('#emails').html('');
        $('#divSelectedMembersEmail').html('');
        $('#chkAllMembers').prop("checked", false);
        $('#chkAllGroups').prop("checked", false);
        var radios = document.getElementsByName("chkgroupbox");
        for (var i = 0; i < radios.length; i++) {
            if (radios[i].type == 'checkbox') {
                radios[i].checked = false;

            }
        }
        Count = 1;
        ECount = 1;
        $('#txtAddMobile').val('')
        $('#txtEmail').val('');
        $('#spnMsgCharsCount').html('475');

        var strVal = $("#hdnIsAdmin").val();
        if (strVal != "TRUE") {
            GetSMSLimit();
            GetSpentSSMS();          
        }
        $('#spnMobileCountShow').html('0');
        $('#spnEmialCountShow').html('0');
        
    }

    // Check All groups
    function GetAllMembersForAllgroupsPartial() {

        $('#chkAllMembers').prop("checked", false);
        $("#loader-wrapper").show();
        //var cl2 = new CanvasLoader('canvasloader-container1');
        //cl2.show();
        $.ajax({
            type: "GET",
            url: "/Notices/OnlineMemberQuestions/GetMembersForALLGroups",
            data: {},

            success: function (data) {
                $("#RightMemberLists").empty();
                $("#RightMemberLists").append(data);
                $("#loader-wrapper").hide();
                var checkboxes = document.getElementsByClassName("ace");
                if (checkboxes.length > 0) {
                    $('#chkAllMembers').show();
                    $('#spnGroupmember').html('Select All Member');
                }
                else {
                    $('#chkAllMembers').hide();
                    $('#spnGroupmember').html('Select Recipients For SMS..');
                }
            }
        });
    }
    $("#chkAllGroups").click(function (e) {

        var status = $("#chkAllGroups").prop('checked');
        var checkboxes = document.getElementsByName("chkgroupbox");

        if (status == true) {

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                    if (checkboxes[i].checked == true) {
                        checkboxes[i].disabled = "disabled";
                        GetmembetsDetPartial(checkboxes[i].id, checkboxes[i].value);
                    }
                }
            }
            //GetAllMembersForAllgroupsPartial();
        }
        else {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                    checkboxes[i].disabled = "";
                }
            }
            $('#mailids').html('');
            $('#divSelectedMembers').html('');
            $('#emails').html('');
            $('#divSelectedMembersEmail').html('');
            $('#RightMemberLists').html('');
            $('#chkAllMembers').prop("checked", false);
            $('#chkAllMembers').hide();
            $('#spnGroupmember').html('Select Recipients For SMS..');
            Count = 1;
            ECount = 1;
            //$('#spnMobileCountShow').html(Count);
            //$('#spnEmialCountShow').html(ECount);
        }
    });


    //Get SMS Limit and Spent Sms
    function GetSMSLimit() {
        $("#loader-wrapper").show();
        $.ajax({
            type: "GET",
            url: "/Notices/OnlineMemberQuestions/GetMaxLimitSMSByMember",
            data: {},

            success: function (data) {
                $('#spnlimitsms').html(data);
                $("#loader-wrapper").hide();
            }
        });
    }

    function GetSpentSSMS() {
        $("#loader-wrapper").show();
        $.ajax({
            type: "GET",
            url: "/Notices/OnlineMemberQuestions/GetSpentSMSByMember",
            data: {},

            success: function (data) {
                $('#spnleftsms').html(data);
                var a = $('#spnleftsms').html();
                var b = $('#spnlimitsms').html();
                var c = b - a;

                //$('#spnleftsms').html('')
                $('#spnLeft').html(c);
                $("#loader-wrapper").hide();
            }
        });
    }

    function RemoveAllMobile() {
        $('#mailids').html('');
        $('#divSelectedMembers').html('');
        Count = 1;
        $('#spnMobileCountShow').html('0');
    }
    function RemoveAllEmail() {
        $('#emails').html('');
        $('#divSelectedMembersEmail').html('');
        ECount = 1;
        $('#spnEmialCountShow').html('0');
    }
    //var isctrl = false;
    function getcharscount(ele) {

        //if (event.keyCode == 65) {
        //	isctrl = true;
        //} else {
        //	isctrl == false;
        //}

        if (event.keyCode == 8) {

            var a = $('#spnMsgCharsCount').html();
            var c = parseInt(a);

            var b = c + 1;
            if (b < 476) {
                $('#spnMsgCharsCount').html('');
                $('#spnMsgCharsCount').html(b);
            }

        }
        else if (event.keyCode == 46) {

            var a = $('#spnMsgCharsCount').html();
            var c = parseInt(a);
            var b = c + 1;
            if (b < 476) {
                $('#spnMsgCharsCount').html('');
                $('#spnMsgCharsCount').html(b);
            }

        }
        else if (event.keyCode == 86) {
            var a = $('#txtMsgBody').val().length;
            a = a + 1;
            var b = 476 - a;
            $('#spnMsgCharsCount').html('');
            $('#spnMsgCharsCount').html(b);
        }
        else {
            var a = $('#txtMsgBody').val().length;
            a = a + 1;
            var b = 476 - a;
            $('#spnMsgCharsCount').html('');
            $('#spnMsgCharsCount').html(b);
        }
        ShowUnit();

    }

    function ShowUnit() {

        var cnt = $('#txtMsgBody').val().length;

        cnt = cnt + 1;
        var res = cnt / 160;
        var sh;
        if (cnt > 0) {
            if (res > 2) {
                sh = '3';
            }
            else if (res > 1) {
                sh = '2';
            }
            else if (res <= 1) {
                sh = '1';
            }
        }
        else {
            sh = '0';
        }

        $('#spnMsgUnit').html(sh);
    }

    function getgroups(ele) {
        $('#chkAllGroups').prop('checked', false);
        $('#RightMemberLists').empty();
        $('#RightMemberLists').html('');
        var grpval = $('#form-field-select-1 option:selected').val();

        var pathUrl;
        if (grpval == "N") {
            var dlg = bootbox.alert('Please Select Group', function (e) {
                $(dlg).modal('hide');
            });
            $('#LeftGroupLists').empty();

            return;

        }
        else if (grpval == "G") {
            pathUrl = "/Notices/OnlineMemberQuestions/GenericGroups";
        }
        else if (grpval == "C") {
            pathUrl = "/Notices/OnlineMemberQuestions/ConstituencyGroups";
        }
        else if (grpval == "P") {
            pathUrl = "/Notices/OnlineMemberQuestions/PanchayatGroups";
        }
        else if (grpval == "O") {
            pathUrl = "/Notices/OnlineMemberQuestions/ConstituencyOfficeGroups";
        }
        var pathUrl =
		$.ajax({
		    type: "GET",
		    url: pathUrl,
		    data: {},

		    success: function (data) {
		        $("#LeftGroupLists").empty();
		        $("#LeftGroupLists").append(data);
		        $("#loader-wrapper").hide();
		        var checkboxes = document.getElementsByClassName("ace");
		        if (checkboxes.length > 0) {
		            $('#chkAllMembers').show();
		            $('#spnGroupmember').html('Select Recipients For SMS..');
		        }
		        else {
		            $('#chkAllMembers').hide();
		            $('#spnGroupmember').html('Select Recipients For SMS..');
		        }
		        $('#RightMemberLists').empty();
		        $('#RightMemberLists').html('');

		        $('#emails').html('');
		        $('#divSelectedMembersEmail').html('');
		        Ecount = 1;
		        $('#mailids').html('');
		        $('#divSelectedMembers').html('');
		        Count = 1;

		    }
		});
    }
</script>
