﻿@model  SBL.eLegistrator.HouseController.Web.Areas.Admin.Models.FormsViewModel


@{
    ViewBag.Title = "CreateHDEntry";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    string filetype = null;
    string[] filetypes = null;
    if (!string.IsNullOrEmpty(Model.FilePath))
    {
        filetype = Model.FilePath.Split('.')[1];
        filetypes = new string[4];
        filetypes[0] = "gif";
        filetypes[1] = "png";
        filetypes[2] = "jpg";
        filetypes[3] = "jpeg";
    }
    
          
}

@Html.Partial("_LeftMenu")
<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<style>
    .Editors {
        width: 40%;
        /*height: 40px;*/
    }
</style>

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
           
            </li>
            <li>
             
            </li>
          
        </ul>
       
        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>

    </div>


    <div class="page-content">
        @*<div id="ace-settings-container" class="ace-settings-container">

            <button class="btn  btn-sm btn-success" id="saveandnew">
                <i class="ace-icon fa fa-floppy-o bigger-150"></i>
                <span class="bigger-110">Save &amp; New</span>
            </button>

            <button type="submit" class="btn  btn-sm btn-warning" id="savebtn2">
                <i class="ace-icon fa fa-floppy-o bigger-150"></i>
                <span class="bigger-110">Save</span>
            </button>
            @if (Model.Mode != "Add")
            {
                // onclick="javascript:window.location.href='/Admin/Notice/DeleteNoticeEntry/@Model.NoticeID';"
                <button class="btn  btn-sm btn-danger" id="@Url.Action("DeleteNoticeEntry", "Notice", new { id = @Model.NoticeID })" onclick="DeleteNoticeInEdit(this.id)">
                    <i class="ace-icon fa fa-trash-o bigger-150"></i>
                    <span class="bigger-50">Delete</span>
                </button>
            }
            <button class="btn  btn-sm  btn-grey" onclick="javascript:window.location.href='/Admin/Notice/NoticeEntryIndex';">
                <i class="ace-icon fa fa-times bigger-150"></i>
                <span class="bigger-110">Cancel</span>
            </button>



        </div>*@
        <div class="page-header">
            <h1>Admin 
                               
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    HelpDesk  
                </small>
            </h1>


        </div>

        <!-- /section:settings.box -->
             <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">Create HD</h4>
            }
            else
            {
                <h4 class="widget-title lighter">Edit HD</h4>
            }

        </div>
    
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">


                             @using (Html.BeginForm("SaveHDEntry", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @role = "form", @id = "HDEntryForm" }))
                             { 
                                @Html.AntiForgeryToken()
                                   @Html.HiddenFor(model => model.MannualID)      
                               @Html.HiddenFor(model => model.Mode)
                                    

                                <h4 class="header blue lighter smaller clearfix">Basic details </h4>


                                <div class="tabbable">
                                    <ul id="myTab" class="nav nav-tabs padding-18">
                                        <li class="active">
                                            <a href="#news-english" data-toggle="tab">
                                                <i class="green ace-icon fa fa-home bigger-120"></i>
                                                English
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#news-hindi" data-toggle="tab">
                                                <i class="blue ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                <span class="lang-hi">हिन्दी  </span>

                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content no-border padding-24">
                                        <div class="tab-pane in active" id="news-english">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Name">Title </label>

                                                <div class="col-sm-9 help-block">

                                                    @Html.TextBoxFor(model => model.Title, new { @class = "col-xs-12 col-sm-7 col-md-6 col-lg-6", @placeholder = "Name", @autocomplete = "off" })

                                                    @Html.ValidationMessageFor(model => model.Title)

                                                </div>
                                            </div>

                                            <div class="space-2"></div>
                                          
                                                   <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Description </label>
                                                <div class="col-sm-9">
                                                    <div class="clearfix" style="border:1px solid #E5E5E5">
                                                        <div class="wysiwyg-editor wysiwyg-style2" id="editor-eng"></div>
                                                    </div>
                                                    @Html.TextAreaFor(model => model.Description, new { @class = " col-xs-12 col-sm-7 col-md-6 col-lg-6 hide", @placeholder = "Answer", @autocomplete = "off" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        @Html.ValidationMessageFor(model => model.Description)
                                                    </div>
                                                </div>

                                            </div>
              <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" style="padding-top:0;" for="avatar">Attachment </label>

                                    <div class="col-sm-9">

                                        <input type="file" style="padding:0;" id="Image" name="file" class="col-xs-12 col-sm-7 col-md-6 col-lg-6" />
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            <span class="field-validation-error" id="filevalidation"></span>
                                        </div>

                                    </div>
                                </div>     
                             
                                        </div>
                                        <div class="tab-pane" id="news-hindi">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Name">शीर्षक</label>

                                                <div class="col-sm-9 help-block">

                                                    @Html.TextBoxFor(model => model.Title, new { @class = "col-xs-12 col-sm-7 col-md-6 col-lg-6 ", @placeholder = "प्रश्न", @autocomplete = "off" })

                                                    @Html.ValidationMessageFor(model => model.Title)

                                                </div>
                                            </div>

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">विवरण </label>
                                                <div class="col-sm-9">
                                                    <div class="clearfix" style="border:1px solid #E5E5E5">
                                                        <div class="wysiwyg-editor wysiwyg-style2" id="editor-hin"></div>
                                                    </div>
                                                    @Html.TextAreaFor(model => model.Description, new { @class = "col-xs-12 col-sm-7 col-md-6 col-lg-6 hide", @placeholder = "विवरण", @autocomplete = "off" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        @Html.ValidationMessageFor(model => model.Description)
                                                    </div>
                                                </div>

                                            </div>


                                                <div class="space-2"></div>
                               <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" style="padding-top:0;" for="avatar">फ़ाइल </label>

                                    <div class="col-sm-9">

                                        <input type="file" style="padding:0;" id="Image" name="file" class="col-xs-12 col-sm-7 col-md-6 col-lg-6" />
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            <span class="field-validation-error" id="filevalidation"></span>
                                        </div>

                                    </div>
                                </div>     

                                        </div>

                                    </div>
                                </div>

                                 if (Model.Mode == "Edit")
                                 {
                             
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="avatar"></label>
                                    @Html.HiddenFor(m => m.FilePath)
                                    @if (!string.IsNullOrEmpty(Model.FilePath))
                                    {


                                        if (filetypes.Contains(filetype))
                                        {
                                        <div class="col-sm-9">
                                            <a id="@Model.ImageLocation" title="Photo Preview" onclick="ImagePriview(this.id);" href="javascript:void(0);" role="button"  data-toggle="modal" >
                                                <img src="@Model.ImageLocation" class="padded" height="100" /></a>
                                        </div>
                                        }
                                        else
                                        {
                                        
                                        <div class="col-sm-9">
                                            @Html.ActionLink("Document Attachment", "DownloadFile", "Admin", new { fileName = @Model.FilePath }, null)
                                        </div>
                                        }
                                    }
                                </div>                                             
                                
                                 }
                                     
                                
                                
                                
                                
                                                        
                                        
                                <div class="space-2"></div> 
                                <div class="form-group hide">
                                    <label class="control-label col-xs-12 col-md-3 no-padding-right" for="form-field-tags">Tag input:</label>

                                    <div class="col-xs-12 col-md-9">
                                        <div class="input-group col-xs-12 col-sm-7 col-md-6 col-lg-6">
                                            <input type="text" name="tags" class="input-xlarge" id="form-field-tags" value="Tag Input Control" placeholder="Enter tags ..." />
                                        </div>
                                    </div>

                                </div>
                                        
                                <div class="space-2"></div> 
                                <hr />  


                                <div class="btn-group pull-right padding-10" style="padding-bottom:40px;">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->

                                    <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        Reset
                                    </button>
                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple ">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        Save</button>


                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>

                             }



                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>












    </div>

<script src="~/assets/js/jquery.hotkeys.min.js"></script>
<script src="~/assets/js/bootstrap-wysiwyg.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script> 
    
    
    $(document).ready(function () {

        $("#Feedback").addClass("active open");
        $("#FeedbackSub").addClass("nav-show").css("display", "block");
        $("#HDlist").addClass("active");
        $(':file').change(function () {
            for (var i = 0; i < this.files.length; ++i) {
                var name = this.files.item(i).name;
                var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp', 'pdf', 'doc', 'docx'];
                var Extension = name.split('.').pop().toLowerCase();
                if ($.inArray(Extension, fileExtension) == -1) {
                    alert(name + " is not valid format. Only '.jpeg','.jpg', '.png', '.gif', '.bmp','doc','docx' formats are allowed.");
                    $(':file').val("");
                    return false;
                }
            }
        });
        initEditor();
       var hindata = $("#Description").val();

       var engdata = $("#Description").val();

       $("div#editor-eng").html(engdata);

       $("div#editor-hin").html(hindata);
       
    });

    function initEditor() {

        //Code for Edidor

        $('#editor-eng, #editor-hin').ace_wysiwyg({
            toolbar:
            [
                {
                    name: 'font',
                    title: 'Custom tooltip',
                    values: ['Some Font!', 'Arial', 'Verdana', 'Comic Sans MS', 'Custom Font!']
                },
                null,
                {
                    name: 'fontSize',
                    title: 'Custom tooltip',
                    values: { 1: 'Size#1 Text', 2: 'Size#2 Text', 3: 'Size#3 Text', 4: 'Size#4 Text', 5: 'Size#5 Text' }
                },
                null,
                { name: 'bold', title: 'Custom tooltip' },
                { name: 'italic', title: 'Custom tooltip' },
                { name: 'strikethrough', title: 'Custom tooltip' },
                { name: 'underline', title: 'Custom tooltip' },
                null,
                'insertunorderedlist',
                'insertorderedlist',
                'outdent',
                'indent',
                null,
                { name: 'justifyleft' },
                { name: 'justifycenter' },
                { name: 'justifyright' },
                { name: 'justifyfull' },
                null,
                {
                    name: 'createLink',
                    placeholder: 'Custom PlaceHolder Text',
                    button_class: 'btn-purple',
                    button_text: 'Custom TEXT'
                },
                { name: 'unlink' },
                null,
                {
                    name: 'insertImage',
                    placeholder: 'Custom PlaceHolder Text',
                    button_class: 'btn-inverse',
                    //choose_file:false,//hide choose file button
                    button_text: 'Set choose_file:false to hide this',
                    button_insert_class: 'btn-pink',
                    button_insert: 'Insert Image'
                },
                null,
                {
                    name: 'foreColor',
                    title: 'Custom Colors',
                    values: ['red', 'green', 'blue', 'navy', 'orange'],
                    /**
                        You change colors as well
                    */
                },
                /**null,
                {
                    name:'backColor'
                },*/
                null,
                { name: 'undo' },
                { name: 'redo' },
                null,
                'viewSource'
            ],
            //speech_button:false,//hide speech button on chrome

            'wysiwyg': {
                hotKeys: {} //disable hotkeys
            }

        }).prev().addClass('wysiwyg-style2');
    }
    $("#savebtn").click(function () {
        var engdata = $("div#editor-eng").html();

        // alert(engdata);
        var hindata = $("div#editor-hin").html();

        $("#Description").val(hindata);

        $("#Description").val(engdata);


    });

  

    </script>
<script>
    function ImagePriview(obj) {
        //var image = $(obj).attr('id');
        //  var path = '/Images/Notice/' + image;
        var modalBody = "<img width='598' height='300' src='" + obj + "' />";
        $('#modal-body').attr('style', 'padding:20px;width:300px;height:300px;');
        $('#modal-body').html(modalBody);


        $('#modal').modal('show');
    }
</script>
