﻿@model SBL.eLegistrator.HouseController.Web.Models.ForgetPassword

@{
    
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@*<h2>CreateAssemblyFile</h2>*@



@Html.Partial("_LeftMenu")

<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("GetUserPassword", "Admin")">Admin</a>
            </li>
            <li>
                <a href="@Url.Action("GetUserPassword", "Admin")">UserPassword</a>
            </li>
            @*    //<li class="active">@Heading</li>*@
        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>

    </div>

    <div class="page-content">

        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">


                            @Html.AntiForgeryToken()
                            <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
                            <div class="main">
                                <div class="main-inner">
                                    <div class="wrapper">
                                        <div class="loginContainer">
                                            <div class="loginbanner">
                                            </div>
                                            <div class="ForgetMain">

                                                <div>
                                                    Aadhar ID <span style="color: red">*</span>:
                                                </div>
                                                <div>
                                                    @Html.TextBoxFor(m => m.AadharID, new { @id = "AadharID", @maxlength = "12", @style = "width:23%" })
                                                    @Html.ValidationMessageFor(m => m.AadharID)
                                                </div>

                                                <div>
                                                    <input type="button" name="submit" value="Show Password" onclick="checkAadhar();" class="signinbtn buttonSubmit" style="height: 36px; width: 10%">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="ShowOTP"></div>






                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="~/assets/js/bootbox.min.js"></script>

<script>
    jQuery(document).ready(function () {
        var AdhaarID = $('#AadharID').text();
        //if (AdhaarID == null || AdhaarID == "") {
        //    $('#btnsend').css('display','none')
        //}
    });
    function checkAadhar() {
        debugger;
        var IsValid = true;
        var AdhaarID = $('#AadharID').val();
        if (AdhaarID.length == 12) {
            if (isNaN(AdhaarID)) {
                alert("Aadhar Id should be in digits.");
                $('#AadharID').val("");
                $('#AadharID').focus();
                IsValid = false;
            }

        }
        else if (AdhaarID == "") {
            alert("Enter Adharid");
            $('#AadharID').val("");
            $('#AadharID').focus();
            IsValid = false;
        }
        else if (AdhaarID.length < 12) {
            alert("Aadhar Id is not valid.");
            $('#AadharID').val("");
            $('#AadharID').focus();
            IsValid = false;
        }
       
        if (IsValid == true) {

            var adhar = $('#AadharID').val();

            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '/Admin/Admin/GetForgetPassword',
                data: { adhar: adhar },
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    if (result != null && result != "") {

                        $("#errorDetails").empty();
                        var tst = "";
                        tst += "<table id='tblerror'><tr><td colspan='2'></td></tr>"
                         + "<table id='tblerror'><tr><td>" + result.CaptchaMessage + "</td><td><h4 id='hdpassword'>" + result.PasswordString + "</h4></td></tr>" +
                        "<tr><td colspan='2'>Your mobile:<spna id='hdmobile'>" + result.MobileNo + "</span></td></tr></table>";

                        $("#errorDetails").append(tst);
                        $('#ErrorPopupModel').modal('show');
                        $("#loader-wrapper").hide();
                        if (result.PasswordString != null && result.PasswordString != "") {
                            $('#btnsend').css('display', 'block')
                        }
                        else {
                            $('#btnsend').css('display', 'none')
                        }
                        return false;
                    }
                    else {
                        $("#errorDetails").empty();
                        var tst = "";
                        tst += "<table id='tblerror'><tr><td colspan='2'>User Not Exist</td></tr></table>"
                        $("#errorDetails").append(tst);
                        $('#ErrorPopupModel').modal('show');
                        $("#loader-wrapper").hide();
                        $('#btnsend').css('display', 'none')
                        return false;
                    }
                },
                error: function (result) {
                    //$('#MainDiv').empty();
                    //$('#MainDiv').append(error.responseText);
                },

                complete: function (result) {
                    //$('RightWidgetBoxDiv').hide();
                    //$('#loader-wrapper').hide();
                }
            });

        }
    }


    function SendPass() {
        debugger;

        var adhar = $('#AadharID').val();
        var mobile = $('#hdmobile').text();
        var pass = $('#hdpassword').text();
        if (adhar != "" && mobile != "" && pass != "") {
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '/Admin/Admin/SendMessage',
                data: {
                    adhar: adhar,
                    mobile: mobile,
                    pass: pass
                },
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    if (result == 'true') {

                        alert('Message sent successfuly');
                        $('#loader-wrapper').hide();
                        return false;
                    }
                    else {

                        alert('Message sending failed');
                        $('#loader-wrapper').hide();
                        return false;
                    }
                },
                error: function (result) {
                    //$('#MainDiv').empty();
                    //$('#MainDiv').append(error.responseText);
                },

                complete: function (result) {
                    //$('RightWidgetBoxDiv').hide();
                    //$('#loader-wrapper').hide();
                }
            });
        }
    }

</script>
<div class="modal" id="ErrorPopupModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">User Password</h4>
            </div>

            <div class="modal-body">
                <div>
                    <div id="errorDetails">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-3 pull-left">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-md-3"></div>

                    <div class="col-md-3 pull-left">
                        <button type="button" id="btnsend" style="display: none;" class="btn btn-default" onclick="SendPass();">Send Password</button>
                    </div>

                </div>


            </div>


        </div>

    </div>
</div>

