﻿
<div class="widget-box">
   <div class="widget-header widget-header-flat">

       <div class="widget-toolbar no-border">
           <button class="btn btn-xs btn-primary bigger" value="@Resources.PaperLaidDepartment.NewDraft" onclick='CreateNew()'>
               <i class="ace-icon fa fa-pencil-square-o"></i>
               @Resources.PaperLaidDepartment.NewDraft
           </button>
       </div>
   </div>
</div>
<span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="Bottm Info" style="text-align:left;margin-left:0px;margin-bottom:2px;">
@Resources.PaperLaidDepartment.AllOtherPapers 
</span>
@{    
    var grid = new Lib.Web.Mvc.JQuery.JqGrid.JqGridHelper<SBL.DomainModel.Models.PaperLaid.PaperMovementModel>("CommonGrid",                         
                            dataType: Lib.Web.Mvc.JQuery.JqGrid.JqGridDataTypes.Json,
                            footerEnabled: false,
                            methodType: Lib.Web.Mvc.JQuery.JqGrid.JqGridMethodTypes.Post,
                            pager: true,
                            rowsList: new List<int> { 10 },
                            rowsNumber: 10,
                            onSelectRow: "onSelectRowHandler",
                            sortingName: "PaperLaidId",
                            sortingOrder: Lib.Web.Mvc.JQuery.JqGrid.JqGridSortingOrders.Asc,
                            url: Url.Action("GetOtherPaperLaidAllListGrid"),
                            userDataOnFooter: false,
                            viewRecords: true,
                            autoWidth: true,
                            emptyRecords: @Resources.PaperLaidDepartment.NoRecordFound 
                        );
                        }
                    @grid.GetHtml()
<script>

    jQuery(document).ready(function () {
        @grid.GetJavaScript()
        jQuery("#CommonGrid").jqGrid('setLabel', 'PaperLaidId', '@Resources.PaperLaidDepartment.Number')
        jQuery("#CommonGrid").jqGrid('setLabel', 'Title', '@Resources.PaperLaidDepartment.Subject')
        jQuery("#CommonGrid").jqGrid('setLabel', 'BusinessType', '@Resources.PaperLaidDepartment.BusinessType')
        jQuery("#CommonGrid").jqGrid('setLabel', 'actualFilePath', '@Resources.PaperLaidDepartment.Paper')
        jQuery("#CommonGrid").jqGrid('setLabel', 'DepartmentSubmittedDate', '@Resources.PaperLaidDepartment.Senton')
        jQuery("#CommonGrid").jqGrid('setLabel', 'DesiredLayingDate', '@Resources.PaperLaidDepartment.DesireLayingDate')
    });

    function onSelectRowHandler(rowId, status, event) {
        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();
        var rowData = $(this).jqGrid("getRowData", rowId);
       
        var DeptSubmittedBy = rowData.DeptSubmittedBy;
       
        if (DeptSubmittedBy == null || DeptSubmittedBy == "NaN" || DeptSubmittedBy == "") {
            $.ajax({
                url: "/PaperLaidDepartment/OtherPaperLaid/EditPendingRecordDashboard",
                type: 'GET',
                data: {
                    paperLaidId: rowId,

                },
                success: function (data) {
                    if (data) {
                        $("#RightSidebar").html(data);
                        cl2.hide();
                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });
        }
        else {
            $.ajax({
                url: "/PaperLaidDepartment/OtherPaperLaid/ShowOtherPaperLaidDetailByID",
                type: 'GET',
                data: {
                    paperLaidId: rowId,
                },
                success: function (data) {
                    if (data) {
                        $("#RightSidebar").html(data);
                        cl2.hide();
                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });
        }



    }

    function CreateNew() {
        $.ajax({
            url: "/PaperLaidDepartment/OtherPaperLaid/GetOtherPaperEntry",
            type: 'GET',
            data: {
            },
            success: function (data) {
                $("#RightSidebar").html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        })
    }

</script>

<script type="text/javascript">

    function ChangeColortr(control) {
        $(".ChangeColortr").each(function () {
            $(this).css({ 'background': 'none', 'color': 'black' })
        })
        $("#" + control).css({ 'background-color': 'Grey', 'color': 'white' })
    }
    function PaperCategoryChanged() {

        var cl3 = new CanvasLoader('canvasloader-container1');
        cl3.show();


        var value = document.getElementById("DdlPaperCategoryTypeId").value;
        if (value == "")
        { value = 0; }

        var resultCountS = document.getElementById("hdnResultCount").value;

        $.ajax({
            url: "/PaperLaidDepartment/OtherPaperLaid/FilterByBusinessType",
            type: 'GET',
            data: {

                PaperCategoryTypeId: value,
                CategoryTypeId: 0,
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5",
                ResultCount: resultCountS,
                view: "Submit"
            },
            success: function (data) {
                cl3.hide();
                $("#divDataContainer").html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {

                alert(xhr.responseText);
                alert(thrownError);
            }
        })
    };
    function EditDetails(value) {


    }

    function ViewFullDeails(value) {
        $.ajax({
            url: "/PaperLaidDepartment/OtherPaperLaid/ShowOtherPaperLaidDetailByID",
            type: 'GET',
            data: {
                paperLaidId: value,
            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data)
                    getNextHideDiv();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }
    function NextButtonPending(rPage, pageNo, lStart, lEnd) {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pageNumber = pageNo;
        var rowsPerPage = rPage;
        var loopStart = lStart;
        var loopEnd = lEnd;
        var pathurl = '@Url.Action("GetOtherPaperLaidAllList", "OtherPaperLaid")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: pageNo,
                RowsPerPage: rPage,
                loopStart: lStart,
                loopEnd: lEnd
            },
            success: function (data) {
                ClearControls();
                $("#divDataContainer").html(data);
                cl.hide();
            }
        });
    }

    function NextAndPreviousButtonPending(rPage, pageNo, lStart, lEnd) {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pageNumber = pageNo;
        var rowsPerPage = rPage;
        var loopStart = lStart;
        var loopEnd = lEnd;
        var pathurl = '@Url.Action("GetOtherPaperLaidAllList", "OtherPaperLaid")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: pageNo,
                RowsPerPage: rPage,
                loopStart: lStart,
                loopEnd: lEnd
            },
            success: function (data) {
                ClearControls();
                $("#divDataContainer").html(data);
                cl.hide();
            }
        });
    }

</script>
