﻿@model SBL.DomainModel.ComplexModel.EMailModel
@{
    int _count = 0; //_ naming convention for global variables
}
<table class="table table-striped table-bordered table-hover dataTable" style="width:100%;"
id="tblContactList" aria-describedby="sample-table-2_info">
    <thead>
        <tr role="row">
            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">
                <input type="checkbox" id="chkSelAll"/>
            </th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Minister Name</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Ministry Name</th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">EMail</th>
        </tr>
    </thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
        @foreach (var item in Model.MinisterContactCol)
        {
            _count = _count + 1;
            string rowClass = (_count % 2 == 0) ? "even" : "odd";
            string func = "return AddToSelectedContactList(" + "'" +
            item.MinisterName + "'," + "'" + item.EMail + "');";
            <tr class="@rowClass" role="row" data-uid="">
                <td><input type="checkbox" onclick="@func"/></td>
                <td style="text-align:left;">@item.MinisterName</td>
                <td style="text-align:left;">@item.MinistryName</td>
                <td style="text-align:left;">@item.EMail</td>    
            </tr>                                                                
        }
     </tbody>
</table>
<script type="text/javascript">

    $(document).ready(function(){

        var oTable1 = $('#tblContactList')
            //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
            .dataTable({
                bAutoWidth: true,
                "aoColumns": [
                                { "bSortable": false },
                                null,null,
                                { "bSortable": false }
                            ]
            });

        $("#chkSelAll").click(function (e) {

            var status = $("#chkSelAll").prop('checked');

            if (status == true) {

                var table = $(e.target).closest('table');

                $('td input:checkbox', table).prop('checked', this.checked);

                var table = $("#tblContactList > tbody");

                table.find('tr').each(function (i, el) 
                {
                    var $tds = $(this).find('td');

                    AddToSelectedContactList($tds.eq(1).text(), $tds.eq(3).text());
                });
            }
            else {

                var table = $(e.target).closest('table');

                $('td input:checkbox', table).prop('checked', this.checked);
            }
        });
    });

</script>