﻿@model  SBL.eLegistrator.HouseController.Web.Areas.PaperLaidDepartment.Models.PassesViewModel

<link rel="stylesheet" href="/assets/css/datepicker.css" />


<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
        vertical-align: middle;
    }

    #VehicleValidateMesssge {
        color: red;
        padding-left: 10px;
        vertical-align: middle;
    }
</style>


<div class="widget-box">
    <div class="widget-body">
        <div class="widget-main">
            <div class="row">
                <div class="col-xs-12">

                    <div class="row">
                        @* @using (Html.BeginForm("SavePassRequest", "PassRequest", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @role = "form", @id = "PassRequestForm" }))*@
                        @using (Ajax.BeginForm("SavePassRequest", "PassRequest", FormMethod.Post, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "onsuccess(data)", LoadingElementId = "loader-wrapper" }, new { @class = "form-horizontal", @role = "form", @id = "PassRequestForm" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.PassID);
                            @Html.HiddenFor(m => m.AssemblyCode);
                            @Html.HiddenFor(m => m.SessionCode);
                            @Html.HiddenFor(m => m.Photo);
                              @Html.HiddenFor(m => m.PhotoName);
                            @Html.HiddenFor(m => m.Status);
                            @Html.HiddenFor(m => m.Mode);
                            @Html.HiddenFor(m => m.IsRequestUserID);
                                
                            <div class="col-xs-8">
                                <h3 class="header smaller lighter blue">@Resources.PaperLaidDepartment.Pass
                                </h3>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="id-date-picker-1">@Resources.PaperLaidDepartment.PassType <span style="color: red">*</span>:</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownList("PassCategoryID", new SelectList(Model.ListPassCategory.Where(m => m.IsActive == true), "PassCategoryID", "Name", 0), new { @class = "col-xs-6 form-control", @tabindex = "1" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="id-date-picker-1">@Resources.PaperLaidDepartment.SessionDateFrom <span style="color: red">*</span>:</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownList("SessionDateFrom", new SelectList(Model.mSessionDateList, "SessionDate", "SessionDate", 0), new { @class = "col-xs-5", @tabindex = "2", @onchange = "return DateCheck()" })
                                        <div class="col-xs-2" style="text-align: center">
                                            To 
                                        </div>
                                        @Html.DropDownList("SessionDateTo", new SelectList(Model.mSessionDateList, "SessionDate", "SessionDate", 0), new { @class = "col-xs-5", @tabindex = "3", @onchange = "return DateCheck()" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Name">@Resources.PaperLaidDepartment.Time <span style="color: red">*</span>:</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(model => model.DayTime, Model.TimeTypeList, null, new { @class = "col-xs-10", @onchange = "ChangeTimeValTimePicker(this.value)", @tabindex = "4" })
                                        <div class="col-sm-2">
                                            @Html.TextBoxFor(model => model.Time, new { @class = "col-xs-12", @style = "padding-left:10px; line-height: 18px;", @tabindex = "5" })
                                        </div>
                                    </div>
                                </div>

                                <h3 class="header smaller lighter blue">@Resources.PaperLaidDepartment.PersonalDetails
                                </h3>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="Name">@Resources.PaperLaidDepartment.AadharId<span style="color: red">*</span>:</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.AadharID, new { @placeholder = "Enter Aadhar ID", @onchange = "CheckAadhar()", @autocomplete = "off", @class = "input-mask-adhar col-xs-10", @tabindex = "6" })
                                        <div style="padding-left: 86%">
                                            <input class="btn btn-minier btn-yellow" type="button" value="@Resources.PaperLaidDepartment.GetDetails" onclick="GetDetailsByAadharID()" />
                                        </div>
                                        @Html.ValidationMessageFor(model => model.AadharID)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Name">@Resources.PaperLaidDepartment.Name <span style="color: red">*</span>:</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.Name, new { @placeholder = "Enter Name", @class = "col-xs-12", @tabindex = "7" })<br />
                                        @Html.ValidationMessageFor(model => model.Name)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Name">@Resources.PaperLaidDepartment.Gender <span style="color: red">*</span>:</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(model => model.Gender, Model.GenderList, null, new { @class = "col-xs-12", @tabindex = "8" })

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Name">@Resources.PaperLaidDepartment.Age <span style="color: red">*</span>:</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.Age, new { @placeholder = "Enter Age", @class = "col-xs-12", @tabindex = "9" })<br />
                                        @Html.ValidationMessageFor(model => model.Age)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Name">@Resources.PaperLaidDepartment.FatherName <span style="color: red">*</span>:</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.FatherName, new { @placeholder = "Enter Father Name", @class = "col-xs-12", @tabindex = "10" })<br />
                                        @Html.ValidationMessageFor(model => model.FatherName)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.PaperLaidDepartment.Address : </label>
                                    <div class="col-sm-9">
                                        @Html.TextAreaFor(model => model.Address, new { @placeholder = "Enter Address", @class = "col-xs-12", @tabindex = "11" })<br />
                                        @Html.ValidationMessageFor(model => model.Address)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.PaperLaidDepartment.MobileNumber <span style="color: red">*</span>:</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.MobileNo, new { @placeholder = "Enter Mobile Number", @onkeyup = "this.value=this.value.replace(/[^\\d]/,'')", @class = "col-xs-12", @tabindex = "12" })<br />
                                        @Html.ValidationMessageFor(model => model.MobileNo)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.PaperLaidDepartment.Email : </label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.Email, new { @placeholder = "Enter Email", @onkeyup = "this.value=this.value.replace(/^\\s+/,'')", @class = "col-xs-12", @tabindex = "13" })<br />
                                        @Html.ValidationMessageFor(model => model.Email)
                                    </div>
                                </div>

                                <h3 class="header smaller lighter blue">@Resources.PaperLaidDepartment.OfficialDetails
                                </h3>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.PaperLaidDepartment.Department <span style="color: red">*</span> : </label>
                                    <div class="col-sm-9">
                                        @*<label style="padding-top:4px " for="form-field-11"> @Model.OrganizationName </label> *@
                                        @Html.DropDownListFor(m => m.DepartmentID, new SelectList(Model.mDepartment, "deptId", "deptname", 1), "-- Select Department --", new { @id = "DdlDepartment", @class = "col-xs-12", @tabindex = "14" })
                                        @Html.ValidationMessageFor(model => model.DepartmentID)
                                    </div>
                                </div>

                                @Html.HiddenFor(m => m.NoOfPersions)
                                @Html.HiddenFor(m => m.RecommendationType)
                                @Html.HiddenFor(m => m.RecommendationBy)
                                @*  @Html.HiddenFor(m=>m.DepartmentID)*@
                                @Html.HiddenFor(m => m.OrganizationName)
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.PaperLaidDepartment.Designation/ @Resources.PaperLaidDepartment.Address  <span style="color: red">*</span>:</label>
                                    <div class="col-sm-9">
                                        @Html.TextAreaFor(model => model.Designation, new { @placeholder = "Enter Designation", @class = "col-xs-12", @tabindex = "15" })<br />
                                        @Html.ValidationMessageFor(model => model.Designation)
                                    </div>
                                </div>
                                <div class="wizard-actions">
                                    <button type="submit" value="save" class="btn btn-info btn-danger" onclick="return CheckPicLocation()">
                                        <i class="ace-icon fa fa-floppy-o icon-on-right"></i>
                                        @Resources.PaperLaidDepartment.Save
                                    </button>
                                    <button type="reset" class="btn btn-info" onclick="ResetForm();">
                                        <i class="ace-icon fa fa-refresh "></i>
                                        @Resources.PaperLaidDepartment.Reset
                                    </button>
                                </div>

                            </div>
                            
                            @Html.Partial("_PhotoCaptureGeneric", Model)                            
                                
                            <hr>                               
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

@* Datetime picker helper Javascript files. *@
<link href="~/assets/css/bootstrap-timepicker.css" rel="stylesheet" />
<script src="~/assets/js/date-time/bootstrap-timepicker.min.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="/assets/js/x-editable/bootstrap-editable.min.js"></script>
<script src="/assets/js/x-editable/ace-editable.min.js"></script>
<script src="/assets/js/jquery.gritter.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>

@* Datetime picker helper Javascript files. *@
<script src="~/assets/js/date-time/moment.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-datetimepicker.min.js"></script>

@* Numeric Sppiner/ Common Functions. *@
<script src="~/assets/js/fuelux/fuelux.spinner.min.js"></script>
<script src="~/ScriptigFunctions/Passes/Passes.js"></script>

<script>
    jQuery(document).ready(function () {
        //$("#photoFileSystem").hide();
        //$("#photoWebCam").show();
        $('#SessionDateTo option:last-child').attr('selected', 'selected');

    });

    function SelectPhoto(typeID) {
        if (typeID == 1) {
            $("#photoFileSystem").show();
            $("#photoWebCam").hide();
        }
        else if (typeID == 2) {
        }
        else if (typeID == 3) {
            $("#photoFileSystem").hide();
            $("#photoWebCam").show();
        }
    }

    $('.input-mask-adhar').mask('999999999999');
    $('#Time').timepicker(
       {
           showMeridian: false
       });

    function ResetForm() {
        $(".field-validation-error").empty();
        $("[id*=imgCapture]").attr("src", "");
    }

    jQuery(document).ready(function () {
        $.validator.addMethod('accept', function () { return true; });

        var picLocation = $('#Photo').val();

        if (picLocation != "") {
            $("[id*=imgCapture]").css("visibility", "visible");
            $("[id*=imgCapture]").attr("src", picLocation);
        }
    });
    function CheckAadhar() {
        // alert($('#UID').val());
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/PaperLaidDepartment/PassRequest/CheckAadhar",
            type: 'GET',
            data: {
                AadharId: $('#AadharID').val()
            },
            success: function (result) {
                // alert("Result : " + result);
                if (result == 'True') {
                    ShowNotification("error", "This Aadhaar already Registered!.....");
                  
                    $('#AadharID').val('');
                }
                else {

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }
    function GetDetailsByAadharID() {
        var aadarId = $('#AadharID').val();
        var Location = $("[id*=Photo]").val();


        if (aadarId.length == 12) {
            if (isNaN(aadarId)) {
                ShowNotification("error", "Please Enter a Valid Aadhar Id .....");
                // alert("Please Enter a Valid Aadhar Id.");
                $('#AdhaarID').val("");
                return false;
            }
            else {
                $.ajaxSetup({ cache: false });
                $.ajax({
                    url: "/PaperLaidDepartment/PassRequest/GetAdhaarDetails",
                    type: 'GET',
                    data: {
                        AdhaarID: aadarId,
                        fileLoaction: null
                    },
                    success: function (data) {
                        if (data != false) {
                            if (data.Photo == null) {
                                ShowNotification("error", "This AadharID is not having photo so please choose image or capture from live camera!.....");
                                //alert('This AadharID is not having photo so please choose image or capture from live camera');
                            }
                            document.getElementById('Name').value = data.Name;
                            document.getElementById('FatherName').value = data.FatherName;
                            document.getElementById('Address').value = data.Address;
                            document.getElementById('Email').value = data.Email;
                            document.getElementById('MobileNo').value = data.MobileNo;
                            document.getElementById('Age').value = data.DOB;

                            $("[id*=imgCapture]").css("visibility", "visible");
                            $("[id*=imgCapture]").attr("src", "");
                            var Phot = (data.Photo).split(',');
                            var ImageShow = Phot[0];
                            var ImageSave = Phot[1];
                            $("[id*=imgCapture]").attr("src", ImageShow + "?" + new Date().getTime());
                            $("[id*=Photo]").val(ImageSave);
                            $("#file").val("");

                            if (data.Gender == 'M') {
                                document.getElementById('Gender').value = "Male";
                            }
                            else {
                                document.getElementById('Gender').value = "FeMale";
                            }
                        }
                        else {
                            ShowNotification("error", "No Information available .....");
                            //document.getElementById('AadharID').value = "";
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
        }
        else {
            ShowNotification("error", "Please Enter a Valid Aadhar Id .....");
            //alert("Please Enter a Valid Aadhar Id.")
            $('#AadharID').val('');
            return false;
        }
    }

    function GetDataFromAadar(ele) {
        var aadarId = ele.value;

        var Location = $("[id*=Photo]").val();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/PaperLaidDepartment/PassRequest/GetAdhaarDetails",
            type: 'GET',
            data: {
                AdhaarID: aadarId,
                fileLoaction: null
            },
            success: function (data) {
                if (data != false) {
                    if (data.Photo == null) {
                        ShowNotification("error", "This AadharID is not having photo so please choose image or capture from live camera!.....");

                    }
                    document.getElementById('Name').value = data.Name;
                    document.getElementById('FatherName').value = data.FatherName;
                    document.getElementById('Address').value = data.Address;
                    document.getElementById('Email').value = data.Email;
                    document.getElementById('MobileNo').value = data.MobileNo;
                    document.getElementById('Age').value = data.DOB;

                    $("[id*=imgCapture]").css("visibility", "visible");
                    $("[id*=imgCapture]").attr("src", "");
                    $("[id*=imgCapture]").attr("src", data.Photo + "?" + new Date().getTime());
                    $("[id*=Photo]").val(data.Photo);
                    $("#file").val("");

                    if (data.Gender == 'M') {
                        document.getElementById('Gender').value = "Male";
                    }
                    else {
                        document.getElementById('Gender').value = "Female";
                    }
                }
                else {
                    ShowNotification("error", "No Information available.....");
                    // alert("No Information available");
                    document.getElementById('AadharID').value = "";
                    document.getElementById('Name').value = "";
                    document.getElementById('FatherName').value = "";
                    document.getElementById('Address').value = "";
                    document.getElementById('Email').value = "";
                    document.getElementById('MobileNo').value = "";
                    //$("[id*=imgCapture]").css("visibility", "hidden");
                    //$("[id*=imgCapture]").attr("src", "");
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    function getNameFromPath(strFilepath) {
        var objRE = new RegExp(/([^\/\\]+)$/);
        var strName = objRE.exec(strFilepath);

        if (strName == null) {
            return null;
        }
        else {
            return strName[0];
        }
    }

    function onsuccess(data) {
        try {
            var Value = data.split(",");
            var Ovalue = Value[0];
            var RValue = Value[1]

            if (Ovalue == "Save") {
                ShowNotification("success", "Data Save Successfully ..... || Your Request ID :" + RValue);
                GetActionView("Individual Passes", 0);
            }
            else {
                ShowNotification("success", "Data Update Successfully .....");
                GetActionView("Individual Passes", 0);
            }
            $('input[type=text]').val(' ');
            $('#Designation').val(' ');
            $('#Address').val(' ');

            $("[id*=imgCapture]").removeAttr('src');
            $("[id*=imgCapture]").val(' ');
            $("[id*=Photo]").val('');
        }
        catch (ee) {
            ShowNotification("error", "Error occur" + ee);
            // throw ee;
        }

    }

</script>
