﻿@model SBL.DomainModel.Models.UserModule.mUserSubModules

<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
<script src="~/Scripts/jquery.alerts.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.timepicker1.js"></script>


@using (Ajax.BeginForm("UpdateSubModule", "SubModule", new AjaxOptions { OnSuccess = "LoginSuccess", HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "NewUserSubAccess" }))
{
    @Html.AntiForgeryToken()
  
    @Html.HiddenFor(m => m.Mode)
       @Html.HiddenFor(m => m.SubModuleId, new { @id = "hdnSubModuleId" })
    @Html.HiddenFor(m => m.ModuleName)
    <div class="widget-header widget-header-flat">
        @if (Model.ModuleId == null)
         {
            <h4 class="widget-title">@Resources.UserManagement.UpdateModule</h4>
         }
         else
         {
            <h4 class="widget-title">@Resources.UserManagement.UpdateModule</h4>
         }
    </div>     
       
    <div class="widget-body">
        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                </div>
                <div class="profile-info-name">
                    <label class="" for="Name">@Resources.UserManagement.ModuleName <span style="color: red">*</span>:</label>
                </div>

                <div class="profile-info-value">

                    <span id="spnDetails" class="">

                        @Html.DropDownListFor(m => m.ModuleId, new SelectList(Model.AccessList, "ModuleId", "ModuleName"), new { @id = "DdlAccessId", @tabindex = "3", @class = "select", @style = "width:350px;" })
                        @*@Html.ValidationMessageFor(model => model.Name)*@

                    </span>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">Sub Module Name: <b style="color: red">*</b></div>

                    <div class="profile-info-value">
                        <span id="spnTitle" class="">
                            @Html.TextBoxFor(model => model.SubModuleName, new { @id = "TxtName", @class = "col-xs-10 col-sm-5", @placeholder = @Resources.UserManagement.ModuleName, @autocomplete = "off", style = "width: 350px" })
                            <span class="field-validation-error" id="RoleNameValidation" style="color: red"></span>
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Sub Module Description: <b style="color: red"></b></div>

                    <div class="profile-info-value">
                        <span id="spnDescription" class="">
                            @Html.TextAreaFor(model => model.SubModuleDescription, new { @id = "TxtDescp", @class = "col-xs-10 col-sm-5", @placeholder = @Resources.UserManagement.ModuleDescription, @autocomplete = "off", style = "width: 350px" })
                            <span class="field-validation-error" id="RoleDescriptionValidation" style="color: red"></span>
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.UserManagement.IsActive: <b style="color: red"></b></div>

                    <div class="profile-info-value">
                        <span id="spnIsactive" class="">
                            @Html.CheckBoxFor(model => model.Isactive, new { @name = @Resources.UserManagement.IsActive }) @Resources.UserManagement.IsActive

                        </span>
                    </div>
                </div>

            </div>

        </div>


        <div class="wizard-actions">

            <button type="Submit" id="savebtn" class="btn btn-sm btn-purple">
                <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                @Resources.UserManagement.Update</button>
                           <button type="button" id="Deletebtn" class="btn btn-sm btn-purple" onclick="return DeleteSubModule();">
                                   
                                        @Resources.UserManagement.Delete</button>
            <button type="reset" class="btn btn-sm btn-info" onclick="return cancelEntry();">
                <i class="ace-icon fa fa-times bigger-125"></i>
                @Resources.UserManagement.Cancel
            </button>
        </div>


    </div>
   
    
    <div id='fullDetailsModel' class="hide">
        <div id='ShowfullDetailsModel' style="text-align: center">
        </div>
    </div>
}


<style>
    .hidden {
        display: none;
        visibility: hidden;
    }
</style>

<script>
    function Accesshange() {
        $("#DdlSubAccessId").hide();
        var moduleid = $("#DdlAccessId option:selected").val();// document.getElementById("AssemblyCode").value;

        $.ajaxSetup({ cache: false });
        var path = '@Url.Action("ChangeUserModule","UserAccessAction")';
        // alert(path);
        $.ajax({
            url: path,
            type: 'GET',
            data: {
                moduleid: moduleid
            },
            success: function (data) {
                var SubUserType = "<option value='0'> Select </option>";
                for (var x = 0; x < data.length; x++) {
                    SubUserType += "<option value=" + data[x].SubModuleId + ">" + data[x].SubModuleName + "</option>";
                }
                $("#DdlSubAccessId").html(SubUserType).show();
                $("#DdlSubAccessId").multipleSelect({ selectAll: true, placeHolder: "Select Group" });
                $("#DdlSubAccessId").css("display", "none");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }
  
    function DeleteSubModule() {
        var SubModuleId = document.getElementById("hdnSubModuleId").value;

        if (SubModuleId != null || SubModuleId != "") {
            alert("Are You Sure Want to Delete?");
        }

        $.post("/UserManagement/SubModule/DeleteSubModule",
           {
               SubModuleId: SubModuleId,


           },
           function (data) {
               alert("Delete successfully");
               GetUserSubModules();
               $("#RightSidebar").html("");
               $("#FormPart").html("");
               $('.widget-box').hide();

           });
    }


    $(document).ready(function () {
      //  $("#DdlAccessId").append("<option value='0' selected=true>--Select User Access--</option>")
       
    });

    function cancelEntry() {

        $("#RightSidebar").empty();
    }


    function ModulecheckValidation() {

        var UserSubAccessName = $("#TxtName").val();
        var UserAccess = $("#DdlAccessId").val();
        if (UserSubAccessName == "") {
            alert("Please Enter User Access");
            return false;
        }
        else if (UserSubAccessName != null || UserSubAccessName != "") {
            alert("Are You Sure Want to Save?");

            $.ajax({
                url: "/UserManagement/SubModule/CheckUserAccess",
                type: 'GET',
                data: {
                    UserSubAccessName: UserSubAccessName,
                   UserAccess:UserAccess
                },
                success: function (data) {
                    if (data) {
                        alert("UserAccess Already  Exit");
                        return false;
                    }
                    else {
                        $("#NewUserSubAccess").submit();
                        //alert("Save successfully");
                        return true;
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                    location.reload(true);
                }
            });
        }

        else {
            //alert("Save successfully");
        }
    }

    
</script>

