﻿@model   SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.RulesDirectionsViewModel
@{
    ViewBag.Title = "CreateRulesDirections";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}
@Html.Action("LeftNavigationMenu", "SuperAdmin")
<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    @Html.Partial("_BreadcrumbsPartial")
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "RulesDirections")">Rules  And Directions Master Data</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "RulesDirections")">Rules And Directions Details</a>
            </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>Master Data                              
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Rules And Directions Details
                </small>
            </h1>
        </div>
        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">Create Rules And Directions</h4>
            }
            else
            {
                <h4 class="widget-title lighter">Edit Rules And Directions </h4>
            }
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        @* //, new { @class = "form-horizontal", @role = "form" }*@
                        <div class="row">
                            <form class="form-horizontal">
                                @Html.HiddenFor(m => m.SlNo)
                                @Html.HiddenFor(model => model.Mode)
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Title">Title</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="Title" value="@Model.Title" class="col-xs-10 col-sm-5" placeholder="Title" autocomplete="off" maxlength="150" />
                                        @*                                        @Html.TextBoxFor(model => model.Title, new { @class = "col-xs-10 col-sm-5", @placeholder = "Title", @autocomplete = "off", @maxlength = "150" })*@
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            <span class="field-validation-error" id="titleValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                            @Html.ValidationMessageFor(model => model.Title)
                                        </div>
                                    </div>
                                </div>
                                <div class="space-2"></div>
                                @Html.HiddenFor(m => m.PdfPath, new { @id = "hdnPdfPath" })
                                @if (Model.Mode == "Edit" && !string.IsNullOrEmpty(Model.PdfPath))
                                {
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="File">File </label>
                                        <div class="col-sm-9">
                                            <input type="file" id="file" name="file" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="File">Download</label>
                                        <div class="col-sm-9">@Html.ActionLink(@Model.Title, "Download", new { filePathWithName = Model.DownloadPath, type = Model.Type })</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="File">File </label>
                                        <div class="col-sm-9">
                                            <input type="file" id="file" name="file" />

                                        </div>
                                    </div>
                                }
                                <div class="space-2"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Type">Type</label>
                                    <div class="col-sm-9">
                                        <select id="Type" class="col-xs-10 col-sm-5">
                                            @foreach (SelectListItem type in Model.TypeCol)
                                            {
                                                if (type.Value == Model.Type)
                                                {
                                                <option value="@type.Value" selected>@type.Text</option>
                                                }
                                                else
                                                {
                                                <option value="@type.Value">@type.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div style="margin-left: 461px; margin-top: 112px;">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->
                                    <button type="button" id="btnSave" class="btn btn-sm btn-purple ">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        @Resources.MasterDataDashboard.Save</button>
                                    <button type="button" id="btnReset" class="btn btn-sm btn-info">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        @Resources.MasterDataDashboard.Reset
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script>

    $(document).ready(function () {

        $(':file').change(function () {
            for (var i = 0; i < this.files.length; ++i) {
                var name = this.files.item(i).name;
                var fileExtension = ['pdf', 'doc', 'docx'];
                var Extension = name.split('.').pop().toLowerCase();
                if ($.inArray(Extension, fileExtension) == -1) {
                    alert(name + " is not valid format. Only 'pdf', 'doc', 'docx' formats are allowed.");
                    $(':file').val("");
                    return false;
                }
            }
        })

        $("#mobiles").addClass("active open");
        $("#mobilesSub").addClass("nav-show").css("display", "block");
        $("#rulesDirectionslist").addClass("active");
        $("#mobilelinkid").removeClass("fa-comment").addClass("fa-comment-o");


        $("#Title").focus();

        $("#btnSave").click(function () {
            //if ($('#MediaViewTime').val() == "" || ('#MediaViewTime').val() == null) {
            //   $('#langValidation').html("Media View Time is Required");
            //}
            Save();
        });

        $("#btnReset").click(function () {

            resetFields();

        });
    });

    function Save() {

        var file = document.getElementById("file");

        if ((file.files.length != 0 && $('#Title').val() != "") || $("#hdnPdfPath").val() != "" && $('#Title').val() != "") {

            var RulesDirectionsViewModel = new FormData();
            var file = document.getElementById("file").files[0];
            RulesDirectionsViewModel.append("Title", $("#Title").val());
            RulesDirectionsViewModel.append("PdfPath", $("#hdnPdfPath").val());
            RulesDirectionsViewModel.append("file", file);
            RulesDirectionsViewModel.append("Type", $("#Type").val());
            RulesDirectionsViewModel.append("Mode", $("#Mode").val());
            RulesDirectionsViewModel.append("SlNo", $("#SlNo").val());

            $.ajax({
                url: "/SuperAdmin/RulesDirections/SaveRulesDirections",
                type: 'POST',
                data: RulesDirectionsViewModel,
                cache: false,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (data) {

                    window.location.href = "/SuperAdmin/RulesDirections";

                },
                error: function (xhr, ajaxOptions, thrownError) {

                    var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                        $(dlg).modal('hide');
                    });
                }
            });

        }
        else if (file.files.length == 0) {

            var dlg = bootbox.alert('Please select a pdf file', function (e) {

                $(dlg).modal('hide');
            });
        }
        else if ($('#Title').val() == "") {

            var dlg = bootbox.alert('Please give a title', function (e) {

                $(dlg).modal('hide');
            });
        }
    }

    function resetFields() {

        $(".field-validation-error").empty();

        $("#Title").focus();

        $("#Title").val('');
        $("#file").val('');
        $("#Type").val('');
    }

</script>

