﻿@model List<SBL.DomainModel.ComplexModel.membersOuterReport>
@{
    ViewBag.Title = "_YearlySalaryStatement";
    int count = 0;
       int counter = 0;
       int tdcounter = 0;
    
  
}
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/css/ace.css" />
<link href="~/assets/css/sbl/pass-style.css" rel="stylesheet"/>

<script src="~/assets/js/jquery.print.js"></script>
<script type="text/javascript">
    var totals = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
    $(document).ready(function () {
        var FinancialYear = $('#DDlFinYear').val();
        var MemberName = $("#DDlMemberId option:selected").text();
        $('#statementHeader').text('SALARY SHOWING THE DETAILS OF PAY ALLOWANCES AND OTHER PERQUISITES DRAWN BY ' + MemberName + ', MLA , H.P VIDHAN SABHA DURING THE FINANCIAL YEAR ' + FinancialYear);
        $('#statementHeader').css("font-weight", "bold");
        var sumBasic = 0;
        var sumCompAllow = 0;
        var sumContAllow = 0;
        var sumTellAllow = 0;
        var sumtOfficeAllow = 0;
        var DataOperatorAllow = 0;

        var GrossSalary = 0;
        var HouseRent = 0;
        var ROP = 0;
        var HBAp = 0;
        var HBAi = 0;
        var MCAp = 0;
        var MCAi = 0;
        var TotalDed = 0;
        var NetSalary = 0;
        
        $('#totalCol2').html('Total');

            $(".coulmn3").each(function () {

                var value = $(this).text();
                if (!isNaN(value) && value.length != 0) {
                    sumBasic += parseFloat(value);
                }
            });

            $('#totalCol3').html(sumBasic);

            $(".coulmn4").each(function () {

                var value = $(this).text();
                if (!isNaN(value) && value.length != 0) {
                    sumCompAllow += parseFloat(value);
                }
            });

            $('#totalCol4').html(sumCompAllow);

            $(".coulmn5").each(function () {

                var value = $(this).text();
                if (!isNaN(value) && value.length != 0) {
                    sumContAllow += parseFloat(value);
                }
            });

            $('#totalCol5').html(sumContAllow);

          
              $(".coulmn6").each(function () {

                var value = $(this).text();
                if (!isNaN(value) && value.length != 0) {
                    sumTellAllow += parseFloat(value);
                }
            });

            $('#totalCol6').html(sumTellAllow);

            $(".coulmn7").each(function () {

                var value = $(this).text();
                if (!isNaN(value) && value.length != 0) {
                    sumtOfficeAllow += parseFloat(value);
                }
            });

            $('#totalCol7').html(sumtOfficeAllow);

            $(".coulmn8").each(function () {

                var value = $(this).text();
                if (!isNaN(value) && value.length != 0) {
                    DataOperatorAllow += parseFloat(value);
                }
            });

            $('#totalCol8').html(DataOperatorAllow); 

            $(".coulmn9").each(function () {

                var value = $(this).text();
                if (!isNaN(value) && value.length != 0) {
                    GrossSalary += parseFloat(value);
                }
            });

            $('#totalCol9').html(GrossSalary);

            $(".coulmn10").each(function () {

                var value = $(this).text();
                if (!isNaN(value) && value.length != 0) {
                    HouseRent += parseFloat(value);
                }
            });

            $('#totalCol10').html(HouseRent);

            $(".coulmn11").each(function () {

                var value = $(this).text();
                if (!isNaN(value) && value.length != 0) {
                    ROP += parseFloat(value);
                }
            });

            $('#totalCol11').html(ROP);

            $(".coulmn12").each(function () {

                var value = $(this).text();
                if (!isNaN(value) && value.length != 0) {
                    HBAp += parseFloat(value);
                }
            });

            $('#totalCol12').html(HBAp);

            $(".coulmn13").each(function () {

                var value = $(this).text();
                if (!isNaN(value) && value.length != 0) {
                    HBAi += parseFloat(value);
                }
            });

            $('#totalCol13').html(HBAi);


            $(".coulmn14").each(function () {

                var value = $(this).text();
                if (!isNaN(value) && value.length != 0) {
                    MCAp += parseFloat(value);
                }
            });

            $('#totalCol14').html(MCAp);

            $(".coulmn15").each(function () {

                var value = $(this).text();
                if (!isNaN(value) && value.length != 0) {
                    MCAi += parseFloat(value);
                }
            });

            $('#totalCol15').html(MCAi);

            $(".coulmn16").each(function () {

                var value = $(this).text();
                if (!isNaN(value) && value.length != 0) {
                    TotalDed += parseFloat(value);
                }
            });

            $('#totalCol16').html(TotalDed);

            $(".coulmn17").each(function () {

                var value = $(this).text();
                if (!isNaN(value) && value.length != 0) {
                    NetSalary += parseFloat(value);
                }
            });

            $('#totalCol17').html(NetSalary);
      })
</script>
    <div id="mysample-table-2" class="row">
    <div class="pass-table">

        <div class="table-responsive">
          <div  id="yearsalaryId">
              <label id="statementHeader" style="font-size:12px; margin-left:150px; margin-right:100px; text-transform:uppercase;"></label>
               
            <table  class="table table-striped table-bordered table-hover dataTable leftaligntable" id="sample-table-2" aria-describedby="sample-table-2_info" style="font-size:12px;">
                @foreach (var item in Model)
                {
                    count = count + 1;
                    if (count == 1)
                    {  <tr class="titlerow">
                        <td colspan="@item.columnName.Count">
                            <input type="hidden" name="monthID" value="@item.monthID" />
                            <input type="hidden" name="yearID" value="@item.yearID" />
                            <input type="hidden" name="designationID" value="@item.catID" />
                        </td>
                    </tr>

                    <tr role="row" class="titlerow">
                        @foreach (var colItem in item.columnName)
                        {
                            counter = counter + 1;
                            if (counter == 2)
                            {
                                 <th class=" sorting_disabled" role="columnheader" rowspan="1" colspan="1" style="width:8%" aria-label="">@colItem</th>
                            }
                            else{
                                
                           <th class=" sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@colItem</th>
                           }
                        }
                    </tr>
              

                    }
                    else
                    {

                        string style = (count % 2 == 0) ? "odd" : "even";
                        int add = 0;
       <tbody>
                    <tr class="@style">
                        @foreach (var dataItem in item.columnName)
                        {
                            add = add + 1;
                            string id = "coulmn" + add;
                            tdcounter = tdcounter + 1;
                            if (tdcounter == 2)
                            {
                            <td style="width:8%" class="@id">@dataItem</td>
                            }
                            else{
                                    <td class="@id">@dataItem</td>
                            }
                        }
                        

                    </tr>

       </tbody>
                    }
                }

                  <tbody>
    <tr class="totalColumn" style="border-bottom:1pt solid black;">
        <th id="totalCol1" style="font-weight:bold"></th>
        <th id="totalCol2"></th>
        <th id="totalCol3">Total:</th>
        <th id="totalCol4">Total:</th>
        <th id="totalCol5">Total:</th>
        <th id="totalCol6">Total:</th>
        <th id="totalCol7">Total:</th>
        <th id="totalCol8">Total:</th>
        <th id="totalCol9">Total:</th>
        <th id="totalCol10">Total:</th>
        <th id="totalCol11">Total:</th>
        <th id="totalCol12">Total:</th>
        <th id="totalCol13">Total:</th>
        <th id="totalCol14">Total:</th>
        <th id="totalCol15">Total:</th>
          <th id="totalCol16">Total:</th>
          <th id="totalCol17">Total:</th>
    </tr>
  </tbody>

            </table>
           <label style="margin-left:100px; margin-top:100px">Joint Controller(F & A) <br />DDO Code - 039</label>
            <label style="padding-left:550px">Secretary H.P Vidhan Sabha</label>
              <div id="outerBilltDiv" >
								</div>
        </div>
    </div>

        </div></div>
 
<div class="row">
    <div class="clearfix form-actions">
        <div class="col-md-offset-10 col-md-1">

            <button class="btn btn-primary" type="button" formtarget="_blank" onclick="PrintStatement()">
                <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                Generate PDF
            </button>

        </div>
    </div>
</div>
<script>
    $('.scrollable').each(function () {
        var $this = $(this);
        $(this).ace_scroll({
            size: $this.data('height') || 100,
            //styleClass: 'scroll-left scroll-margin scroll-thin scroll-dark scroll-light no-track scroll-visible'
        });
    });
    $('.scrollable-horizontal').each(function () {
        var $this = $(this);
        $(this).ace_scroll(
          {
              horizontal: true,
              styleClass: 'scroll-top',//show the scrollbars on top(default is bottom)
              size: $this.data('width') || 500,
              mouseWheelLock: true
          }
        ).css({ 'padding-top': 12 });
    });

    $(window).on('resize.scroll_reset', function () {
        $('.scrollable-horizontal').ace_scroll('reset');
    });

    function PrintStatement() {
      
        //var FinancialYear = $('#DDlFinYear').val();
        //var MemberName = $("#DDlMemberId option:selected").text();
       
        //$('#statementHeader').text('SALARY SHOWING THE DETAILS OF PAY ALLOWANCES AND OTHER PERQUISITES DRAWN BY ' + MemberName + ', MLA , H.P VIDHAN SABHA DURING THE FINANCIAL YEAR '+ FinancialYear);
        $("#yearsalaryId").print(
            {
                stylesheet: "/assets/css/sbl/pass-style.css",
                rejectWindow: true,
                iframe: true,
                mediaPrint: true
            });
        return false;

    }
</script>