﻿<style>
	.hspan {
		font-size: 18px;
		color: #f89406;
		border-bottom-color: #fdd0ac;
		font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
		/*font-weight:400;*/
		margin-left: 50px;
	}
</style>
<div class="page-header">
	<h1>Salary Section
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					Nominal Report
				</small>
	</h1>
</div>
<!-- #section:settings.box -->

<!-- /section:settings.box -->
<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		<div class="widget-box">
			<div class="widget-header">
				<h4 class="widget-title">Nominal Report</h4>
				<span id="designationText" class="hspan"></span>

				<div class="widget-toolbar">
					<label>
						Select Designation
					</label>
					<select id="desginationListID" style="height: 34px;">
						<option value="0">--Select Designation--</option>
						<option value="1">Speaker/Dy Speaker</option>
						<option value="2">Members</option>
						<option value="3">VS Staff</option>
					</select>

					<button class="btn btn-xs btn-primary btn-bold" type="button" onclick="getNominalData()">
										<i class="ace-icon fa fa-flask bigger-150"></i>
										<span class="bigger-110">Generate</span>
									</button>
				</div>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					@using (Html.BeginForm("GenerateNominalReport", "salary", FormMethod.Post))
	 {
						<div id="NominalReportDiv">
						</div>
	 }
					<!-- /.col -->
				</div>
			</div>
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</div>
<!-- /.page-content -->

<div id="selectDesignatioMsg" style="visibility: hidden;">
	<div class="alert alert-info">

		<strong>Information </strong>

		Please Select Designation to Generate Nominal Report.
										<br />
	</div>
</div>
<div class="modal" id="otherDetailsDiv">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="blue bigger">Staff Nominal Report</h4>
			</div>

			<div class="modal-body">
				<div class="widget-body">
					<div class="widget-main no-padding-right no-padding-left">

							<div class="profile-user-info profile-user-info-striped">

								@*	<div class="profile-info-row">

									<div class="profile-info-name" style="width: 200px !important;">
										<label class="col-sm-12 control-label no-padding-right" for="Name">Financial Year</label>
									</div>

									<div class="profile-info-value">

										<span id="spnDetails" class="">
												<select id="FinancialYearID" name="FinancialYear" style="width: 100%"></select>
										</span>
									</div>
								</div>*@
								<div class="profile-info-row">

									<div class="profile-info-name" style="width: 200px !important;">
										<label class="col-sm-12 control-label no-padding-right" for="Name">Increment %</label>
									</div>

									<div class="profile-info-value">

										<span id="spnDetails" class="">

											<input type="text" value="3" id="increment" class = "col-xs-10 col-sm-5 IsnumericClass", placeholder = "Increment %" />
										</span>
									</div>
								</div>

								<div class="profile-info-row">

									<div class="profile-info-name" style="width: 200px !important;">
										<label class="col-sm-12 control-label no-padding-right" for="Name">DA %</label>
									</div>

									<div class="profile-info-value">

										<span id="spnDetails" class="">
											@*<select name="Group" id="Group" style="height: 34px; width: 100%;">
										<option value='Gazetted'>Gazetted </option>
										<option value='Non-Gazetted'>Non-Gazetted</option>
									</select>*@
											<input type="text" value="135" id="DA" required class = "col-xs-10 col-sm-5 IsnumericClass", placeholder = " DA %" />
										</span>
									</div>
								</div>

								<div class="profile-info-row">

									<div class="profile-info-name" style="width: 200px !important;">
										<label class="col-sm-12 control-label no-padding-right" for="Name">CCA</label>
									</div>

									<div class="profile-info-value">

										<span id="spnDetails" class="">
											<input type="text" value="250" id="cca" required class = "col-xs-10 col-sm-5 IsnumericClass", placeholder = " CCA %" />
										</span>
									</div>
								</div>

								<div class="profile-info-row">

									<div class="profile-info-name" style="width: 200px !important;">
										<label class="col-sm-12 control-label no-padding-right" for="Name">CAP</label>
									</div>

									<div class="profile-info-value">

										<span id="spnDetails" class="">
											<input type="text" value="275" id="cap" required class = "col-xs-10 col-sm-5 IsnumericClass", placeholder = " CAP %" />
										</span>
									</div>
								</div>

								<div class="profile-info-row">

									<div class="profile-info-name" style="width: 200px !important;">
										<label class="col-sm-12 control-label no-padding-right" for="Name">LEC Amount</label>
									</div>

									<div class="profile-info-value">

										<span id="spnDetails" class="">
											<input type="text" value="0" id="lec" required class = "col-xs-10 col-sm-5 IsnumericClass", placeholder = "Leave en-cash for retirees" />
										</span>
									</div>
								</div>

								<div class="profile-info-row">

									<div class="profile-info-name" style="width: 200px !important;">
										<label class="col-sm-12 control-label no-padding-right" for="Name">LTC Amount</label>
									</div>

									<div class="profile-info-value">

										<span id="spnDetails" class="">
											<input type="text" value="0" id="ltc"  required class = "col-xs-10 col-sm-5 IsnumericClass", placeholder = "LTC" />
										</span>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-sm" data-dismiss="modal">
					<i class="ace-icon fa fa-times"></i>
					Cancel
				</button>

				<button class="btn btn-sm btn-primary" type="button" onclick="getNominalReportForStaff()">
					<i class="ace-icon fa fa-save"></i>
					Submit
				</button>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$("#NominalReportDiv").html($("#selectDesignatioMsg").html());
	});
	function getNominalData() {
		debugger;
		try {
			var datatext = $("#desginationListID option:selected").text();
			var datavalue = $("#desginationListID option:selected").val();
			if (datavalue != 0) {
				if (datavalue != 3) {
					GETNominalReport(datavalue);
				}
				else {
					fillFinancialYear();
					$("#otherDetailsDiv").modal(
						{                    // wire up the actual modal functionality and show the dialog
							"backdrop": "static",
							"keyboard": true,
							"show": true                     // ensure the modal is shown immediately
						}
						);
				}
			}
			else {
				var dlg = bootbox.alert('Please select a  Designation.', function (e) {
					$(dlg).modal('hide');
				});
			}

		} catch (error) {
			alert(error.message);
		}
	}
	function getNominalReportForStaff() {

		$("#otherDetailsDiv").modal('hide');
		$("#loader-wrapper").show();
		var pathurl = "@Url.Action("GETNominalReport", "salary")";
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: { designationID: $("#desginationListID option:selected").val(), Increment_param: $("#increment").val(), DA_param: $("#DA").val(), CCA_param: $("#cca").val(), CAP_param: $("#cap").val(), LECAmount_param: $("#lec").val(), LTCAmount_param: $("#ltc").val(), financialYear:"" },
			success: function (data) {
				$("#loader-wrapper").hide();
				$("#NominalReportDiv").html("");
				$("#NominalReportDiv").html(data);
			}
		});
	}
	function GETNominalReport(designationID) {
		$("#loader-wrapper").show();
		var pathurl = "@Url.Action("GETNominalReport", "salary")";
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: { designationID: designationID },
			success: function (data) {
				$("#loader-wrapper").hide();
				$("#NominalReportDiv").html("");
				$("#NominalReportDiv").html(data);
			}
		});
	}
</script>
<script>
	//fillFinancialYear();
	function close3() {
		$('.notification').slideToggle('fast');
		$('.notification').hide();
		//$('.notification').animate({
		//  transform: 'rotateX(0deg)'
		//});
	}
	function fillFinancialYear() {
		$("#loader-wrapper").show();
		var pathurl = '/Constituency/Constituency/getFinancialYearListAdvance';
		$.ajax({
			url: pathurl,
			type: 'GET',
			success: function (data) {
				$("#FinancialYearID").html("");
				for (var i = 0; i < data.length; i++) {
					var item = data[i];
					$("#FinancialYearID").append($("<option></option>").val(item.yearValue).html(item.yearText))
				}
				$("#loader-wrapper").hide();
			}
		});
	}
	function OnSuccess() {
		var datavalue = $("#desginationListID option:selected").val();
		getSalaryHeadList(datavalue);
		ShowNotification("success", "Salary Master has been  update successfully.....");

	}

	function ShowNotification(type, msg) {
		if (type == "success") {
			$('.notification').removeClass('alert alert-danger');
			$('.notification').addClass('notification alert alert-info');
			$('#notificationmsg').text(msg);
			$('.notification').slideDown('fast');
			window.setTimeout(close3, 5000);
		}
		else if (type == "error") {
			$('.notification').removeClass('alert alert-info');
			$('.notification').addClass('notification alert alert-danger');
			$('#notificationmsg').text(msg);
			$('.notification').slideDown('fast');
			window.setTimeout(close3, 5000);
		}
	}
</script>