﻿@model SBL.DomainModel.ComplexModel.MemberOuterBill

<div class="row" style="padding: 1%;">
    <div style='width: 100%;'>
        <table class="tg">
            <tr>
                <th class="tg-031e" colspan="8" style="text-align: center;">A.G.H.P SHIMLA PAY SLIP No :Deposit/MLA/1047-48,Dated @Model.monthName.ToUpper() , @Model.yearID Bill NO : @Model.billNO</th>
            </tr>
            <tr>
                <td class="tg-031e" colspan="8">Note: Government accepts no responsibility or any fraud or misappropriation in respect of money, cheques or drafts made over to a messenger.<br />
                    <br />
                </td>
            </tr>
            <tr>
                <td class="tg-031e" colspan="4">Name :   <b>@Model.memberName.ToUpper()</b></td>
                <td class="tg-031e" colspan="4"><b><span id="Designation">@Model.designationName.ToUpper()</span></b></td>
            </tr>
            <tr>
                <td style="text-align: left;" colspan="8">
                    <hr />
                </td>
            </tr>
            <tr>
                <td colspan="3">1. &nbsp &nbsp  Treasury Code </td>
                <td style="text-align: right; padding-right: 60px;"><span style="float: left;">: </span>SML00</td>



                <td colspan="3">2. &nbsp &nbsp 
                    
                     @Model.designationName.ToUpper()
                </td>
                <td style="text-align: right; padding-right: 60px;"><span style="float: left;">: </span>G</td>
            </tr>
            <tr>
                <td colspan="3">3. &nbsp &nbsp  Demand Number</td>
                <td style="text-align: right; padding-right: 60px;"><span style="float: left;">: </span>01</td>
                <td colspan="3">4. &nbsp &nbsp  Scheme Code </td>
                <td style="text-align: right; padding-right: 60px;"><span style="float: left;">: </span>-</td>
            </tr>
            <tr>
                <td colspan="3">5. &nbsp &nbsp  DDO Code</td>
                <td style="text-align: right; padding-right: 60px;"><span style="float: left;">: </span>092</td>
                <td colspan="3">6. &nbsp &nbsp  Object Code</td>
                <td style="text-align: right; padding-right: 60px;"><span style="float: left;">: </span>01</td>
            </tr>
            <tr>
                <td colspan="3">7. &nbsp &nbsp  Major Head</td>
                <td style="text-align: right; padding-right: 60px;"><span style="float: left;">: </span>2011</td>
                <td colspan="3">8. &nbsp &nbsp  Voted Charged</td>
                <td style="text-align: right; padding-right: 60px;"><span style="float: left;">: </span>C</td>
            </tr>
            <tr>
                <td colspan="3">9. &nbsp &nbsp  Sub Major Head</td>
                <td style="text-align: right; padding-right: 60px;"><span style="float: left;">: </span>02</td>
                <td colspan="3">10. &nbsp &nbsp  Plan/Non Plan</td>
                <td style="text-align: right; padding-right: 60px;"><span style="float: left;">: </span>N</td>
            </tr>
            <tr>
                <td colspan="3">11. &nbsp &nbsp  Minor Head</td>
                <td style="text-align: right; padding-right: 60px;"><span style="float: left;">: </span>101</td>
                <td colspan="3"></td>
                <td style="text-align: right; padding-right: 60px;"></td>
            </tr>
            <tr>
                <td colspan="3">12. &nbsp &nbsp  Sub Head</td>
                <td style="text-align: right; padding-right: 60px;"><span style="float: left;">: </span>01</td>
                <td colspan="3"></td>
                <td style="text-align: right; padding-right: 60px;"></td>
            </tr>
            <tr>
                <td colspan="8">
                    <hr />
                </td>
            </tr>
            <tr>
                <td colspan="4" valign="top" style="padding: 0;">
                    <table width="100%">
                        @foreach (var critem in Model.headList)
                        {
                            if (critem.htype == "cr")
                            {
                            <tr>
                                <td style="width: 60%">@critem.headName</td>
                                <td style="text-align: right; padding-right: 60px;"><span style="float: left;">Rs. </span>@critem.amount</td>
                            </tr>
                            }
                        }
                    </table>
                </td>
                <td colspan="4" valign="top" style="padding: 0;">
                    <table width="100%">
                        @foreach (var critem in Model.headList)
                        {
                            if (critem.htype == "dr")
                            {
                            <tr>
                                <td style="width: 60%">@critem.headName</td>
                                <td style="text-align: right; padding-right: 60px;"><span style="float: left;">Rs. </span>@critem.amount</td>
                            </tr>
                            }
                        }
                    </table>
                </td>
            </tr>
            <tr>
                <td style="text-align: left;" colspan="8">
                    <hr />
                </td>
            </tr>
            <tr>
                <td class="tg-031e" colspan="2"><b>Gross Amount</b></td>
                <td colspan="2" style="text-align: right; padding-right: 60px;"><b><span style="float: left;">Rs. </span>@Model.grossTotal</b></td>
                <td class="tg-031e" colspan="2"><b>Total Deductions</b></td>
                <td colspan="2" style="text-align: right; padding-right: 60px;"><b><span style="float: left;">Rs. </span>@Model.total_a</b></td>
            </tr>
            <tr>
                <th style="text-align: left;" colspan="8">
                    <br />
                    <b>Net Claim Rs. @(Model.grossTotal - Model.total_a)</b></th>
            </tr>

            <tr>

                <td class="tg-031e" colspan="4">
                    <br />
                    <br />
                    Signature<br />
                    <br />
                </td>
                <td class="tg-031e" colspan="4">Signature</td>
            </tr>
            <tr>
                <td style="text-align: left;" colspan="8">
                    <hr />
                </td>
            </tr>
            <tr>
                <td class="tg-031e" colspan="4">For the Use of A.G. Officer</td>
                <td class="tg-031e" colspan="4">For the Use in Treaury</td>
            </tr>
            <tr>
                <td class="tg-031e" colspan="4">Admitted Rs:</td>
                <td class="tg-031e" colspan="4">
                    <br />
                    <br />
                    Signature<br />
                    <br>
                </td>
            </tr>
            <tr>
                <td class="tg-031e" colspan="4">Object Rs:</td>
                <td class="tg-031e" colspan="4"></td>
            </tr>
            <tr>
                <td class="tg-031e" colspan="4">Auditor    supdt.</td>
                <td class="tg-031e" colspan="4">
                    <br />
                    <br />
                    Tresury Officer
                    <br />
                    <br />
                </td>
            </tr>
            <tr>
                <td class="tg-031e" colspan="4">
                    <br />
                    <br />
                    Gazetted Officer
                    <br />
                    <br />
                </td>
                <td class="tg-031e" colspan="4">Incorporated in Treasury Accountant</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="clearfix form-actions">
        <div class="col-md-offset-10 col-md-1">
            <input type="hidden" id="designationID" name="designationID" value="@Model.desginationID" />
            <input type="hidden" name="monthID" value="@Model.monthID" />
            <input type="hidden" name="yearID" value="@Model.yearID" />
            <input type="hidden" name="ispart" value="@Model.ispart" />
            <button class="btn btn-primary" type="submit" formtarget="_blank" formaction="@Url.Action("generatePDFforOuterBillforspeaker", "salary")">
                <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                Generate Outer Bill
            </button>
        </div>
    </div>
</div>
<script>
</script>
