﻿<style>
	.hspan {
		font-size: 18px;
		color: #f89406;
		border-bottom-color: #fdd0ac;
		font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
		/*font-weight:400;*/
		margin-left: 50px;
	}

	table i {
		font-style: normal !important;
	}
</style>

<div class="page-header">
	<h1>Salary Section
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					Requested Bills List
				</small>
	</h1>
</div>
<!-- #section:settings.box -->

<!-- /section:settings.box -->
@using (Ajax.BeginForm("generatePdf", "salary", FormMethod.Post, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "OnSuccess()", LoadingElementId = "loader-wrapper" }, new { @class = "form-horizontal", @role = "form", id = "saveLoanForm" }))
{
	<div class="row">
				<div class="col-xs-12 ">

					<div class="widget-box">
						<div class="widget-header">
							<h4 class="widget-title">Status Of Requested Billss</h4>

							<div class="widget-toolbar">
								<div class="widget-menu">

									<label>
										Select Month
									</label>
									<select id="MonthID" style="height: 34px;">
									</select>
									<label>
										Select Year
									</label>
									<select id="YearID" style="height: 34px;">
									</select>


                                    <label>
									Select Part
								</label>
						     		<select id="ispart" style="height: 30px;">
									
								</select>


									<button class="btn btn-xs btn-primary btn-bold" type="button" onclick="getActiveTab()">
										<i class="ace-icon fa fa-search bigger-150"></i>
										<span class="bigger-110">Search</span>
									</button>
									<a href="#" data-action="fullscreen" class="orange2">
										<i class="ace-icon fa fa-expand"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="widget-body">
							<div class="widget-main no-padding-left no-padding-right">
								<div class="tabbable">
									<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
										<li class="active" title="All">
											<a data-toggle="tab" href="#AllD" id="All" class="4" onclick="TabClick(this.id)">
												<i class="green ace-icon fa fa-asterisk bigger-120"></i>All</a>
										</li>

										<li title="Approved">
											<a data-toggle="tab" href="#ApprovedD" id="Approved" class="1" onclick="TabClick(this.id)">
												<i class="green ace-icon fa  fa-check-square-o
 bigger-120"></i>
												Approved</a>
										</li>

										<li title="Rejected">
											<a data-toggle="tab" href="#RejectedD" id="Rejected" class="2" onclick="TabClick(this.id)">
												<i class="green ace-icon fa fa-ban bigger-120"></i>
												Rejected</a>
										</li>

										<li title="Pending">
											<a data-toggle="tab" href="#PendingD" id="Pending" class="0" onclick="TabClick(this.id)">
												<i class="green ace-icon fa fa-pencil-square-o bigger-120"></i>Requested For Approval </a>
										</li>
										<li title="forward">
											<a data-toggle="tab" href="#forwardD" id="forward" class="3" onclick="TabClick(this.id)">
												<i class="green ace-icon fa fa-pencil-square-o bigger-120"></i>Forwarded to JC/DC </a>
										</li>
									</ul>

									<div class="tab-content" style="padding: 0 12px !important">
										<div id="AllD" class="tab-pane in active">
											<div class="row">
												<div id="AllsalaryBillListDiv"></div>
											</div>
										</div>

										<div id="ApprovedD" class="tab-pane">
											<div class="row">
												<div id="ApprovedsalaryBillListDiv"></div>
											</div>
										</div>
										<div id="RejectedD" class="tab-pane">
											<div class="row">
												<div id="RejectedsalaryBillListDiv"></div>
											</div>
										</div>
										<div id="PendingD" class="tab-pane">
											<div class="row">
												<div id="PendingsalaryBillListDiv"></div>
											</div>
										</div>
										<div id="forwardD" class="tab-pane">
											<div class="row">
												<div id="forwardsalaryBillListDiv"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.col -->
			</div>

			<div class="row">
				<div class="clearfix form-actions">
					<div class="col-xs-12 col-sm-5">
					</div>

					<div class="col-xs-12 col-sm-3">

						<button class="btn btn-primary" type="submit" formtarget="_blank">
							<i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
							Approve / Reject Selected Bill(s)
						</button>
					</div>
				</div>
			</div>

	<!-- /.row -->
}

<!-- /.page-content -->

<div id="selectDesignatioMsg" style="visibility: hidden;">
	<div class="alert alert-info">

		<strong>Information </strong>

		Please Select Designation to Generate Bills For Salary.
										<br />
	</div>
</div>

<input type="hidden" id="tableCount" value="0" />
<script src="~/assets/js/chosen.jquery.min.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<script>
	var theDate = new Date();
	var month = new Array(11);

	$(document).ready(function () {

		month[0] = "Jan";
		month[1] = "Feb";
		month[2] = "Mar";
		month[3] = "Apr";
		month[4] = "May";
		month[5] = "Jun";
		month[6] = "Jul";
		month[7] = "Aug";
		month[8] = "Sep";
		month[9] = "Oct";
		month[10] = "Nov";
		month[11] = "Dec";
		fillMonth();
		fillYear();
		fillispart();
		getList(4, 'All');
		var currMonth = theDate.getMonth();
		$("#MonthID").val(currMonth + 1);
		$("#YearID").val(theDate.getFullYear());

	});
	function fillMonth() {

		for (var i = 0; i <= 11; i++) {
			try {
				$("#MonthID").append($("<option></option>").val(i + 1).html(month[i]));
			} catch (error) {
				alert(error.message);
			}
		}
	}
	function fillYear() {

		var currentyear = theDate.getFullYear();

		for (var i = currentyear - 5; i < currentyear + 5; i++) {
			$("#YearID").append($("<option></option>").val(i).html(i));
		}
	}

	function fillispart() {
	    for (y = 1; y <= 3; y++) {
	        var optn = document.createElement("OPTION");
	        optn.text = y;
	        optn.value = y;
	        document.getElementById('ispart').options.add(optn);
	    }
	}
	function TabClick(event) {

		var status = $("#" + event).attr('class');
		getList(status, event);
	}
	function getActiveTab() {
		var status = $("#myTab4 li[class='active'] a").attr("class");
		var divID = $("#myTab4 li[class='active'] a").attr("id");
		getList(status, divID);
	}
	function getList(status, divID) {
	    debugger;
		var oTable1 =
		 $('#sample-table-2')
		 .dataTable();
		oTable1.detach();
		var monthid = "@DateTime.Now.Month";
		var yearid = "@DateTime.Now.Year";
		$("#loader-wrapper").show();
		var path = "@Url.Action("getRequestedBillList", "salary")";
		var request = $.ajax({
			url: path,
			type: 'GET',
			data: { monthID: $("#MonthID option:selected").val(), yearID: $("#YearID option:selected").val(), status: status, ispart: $("#ispart option:selected").val() },
			success: function (data) {
				$("#" + divID + "salaryBillListDiv").html('');
				$("#" + divID + "salaryBillListDiv").html(data);
				$("#loader-wrapper").hide();

			}
		});

	}
	$(".checkstatus").click(function (obj) {

		if ($(obj.target.id).checked) {
			$(obj.target.id).val('true');
		}
		else {
			$(obj.target.id).val('false');
		}
	});
	function checkAll(ele) {
		var checkboxes = document.getElementsByTagName('input');
		if (ele.checked) {
			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = true;
				}
			}
		} else {
			for (var i = 0; i < checkboxes.length; i++) {
				console.log(i)
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = false;
				}
			}
		}
	}
	function changeStatusClick(Id) {

		var mtext = "";
		var rowId = Id;

		mtext += "<b>Member Name      </b>";
		mtext += $("#" + rowId).find('td:eq(2)').text().trim();
		mtext += "<br /><b>Designation       </b>";
		mtext += $("#" + rowId).find('td:eq(3)').text().trim();
		mtext += "<br /><b>Total Allowances  </b>";
		mtext += "Rs. " + $("#" + rowId).find('td:eq(4)').text().trim() + ".00";
		mtext += "<br /><b>Total Deduction   </b>";
		mtext += "Rs. " + $("#" + rowId).find('td:eq(5)').text().trim() + ".00";
		mtext += "<br /><b>Net Payble        </b>";
		mtext += "Rs. " + $("#" + rowId).find('td:eq(6)').text().trim() + ".00";

		bootbox.dialog({
			message: "<span class='bigger-110'>" + mtext + "</span>",
			buttons:
			{
				"success":
				 {
					 "label": "<i class='ace-icon fa fa-check'></i> Forward to JC/DC ",
					 "className": "btn-sm btn-success",
					 "callback": function () {
						 changeStatus(1, Id);
					 }
				 },
				"danger":
				{
					"label": "<i class='ace-icon fa fa-times'></i> Reject ",
					"className": "btn-sm btn-danger",
					"callback": function () {
						changeStatus(2, Id);
					}
				},
				"click":
				{
					"label": "Close",
					"className": "btn-sm btn-default",
					"callback": function () {

					}
				}
			}
		});
	}
	function changeStatus(status, AutoId) {

		$("#loader-wrapper").show();
		var pathurl = "@Url.Action("changeBillStatus", "salary")";
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: { user: 'so', status: status, AutoId: AutoId },
			success: function (data) {
				$("#loader-wrapper").hide();

				var id = $("ul.nav-tabs li.active");

				getList(4, id.attr('title'));

			}
		});
	}
</script>