﻿@model IEnumerable<SBL.DomainModel.Models.salaryhead.salaryBillInfo>
@{int count = 0;
  int k = 0;}
<div class="pass-table">

	<div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">

		<table class="table table-striped table-bordered table-hover dataTable leftaligntable" id="sample-table-2" aria-describedby="sample-table-2_info">
			<thead>
				<tr role="row">

					<th class=" sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">#</th>
					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Name</th>
					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 2%;">Designation</th>
					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Total Allowances</th>
					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Total Deductions</th>
					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Net Payble</th>
					
					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Salary Slip</th>
				</tr>
			</thead>

			<tbody role="alert" aria-live="polite" aria-relevant="all">
				@if (Model != null)
				{
					foreach (var item in Model)
					{

						count = count + 1;
						string style = (count % 2 == 0) ? "odd" : "even";

						//  var trID = item.SystemModuleID;
						var ID = item.AutoID;

					<tr class="@style" id="@ID">
						<!-- <tr class="" id="" onclick="">-->
						<td class="">@count

	<input type="hidden" name="[@k].status" value="@item.status" />
							<input type="hidden" name="[@k].generateStatus" value="@item.generateStatus" />
							<input type="hidden" name="[@k].AutoID" value="@item.AutoID" />
								@{k++;}
						</td>
					
						<td class="">
							<i class="">@item.memberName</i>
						</td>
						<td class="">
							<i class="">@item.Designation</i>
						</td>
						<td class="">
							<i class="">Rs. @item.totalAllowances.00</i>
						</td>
						<td class="">
							<i class="">Rs. @item.totalDeductions.00</i>
						</td>
						<td class="">
							<i class="">Rs. @item.netSalary.00</i>
						</td>
						
					

						<td>
							<div class="hidden-sm hidden-xs action-buttons">
								@if (item.status == 1)
								{
									string buttonText=string.Empty;
									if (item.generateStatus == 1)
									{
										<button type="button" class="btn btn-minier btn-info"  id="@item.AutoID" onclick="generatePDF(this.id,true)" formtarget="_blank">
										<i class="ace-icon fa fa-cloud-download  bigger-110"></i>
										View
									</button>
									}
								}
							
							</div>
						</td>
					</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>

<script>
	$(document).ready(function () {
		tableinit();
	});
	function tableinit() {
		var oTable1 =
		 $('#sample-table-2')
		 .dataTable({
			 "bDestroy": true,
			 bAutoWidth: true,
			 "bPaginate": false,
			 bFilter: false, bInfo: false
		 });
	}
	$(".checkstatus").click(function (obj) {

		if ($(obj.target.id).checked) {
			$(obj.target.id).val('true');
		}
		else {
			$(obj.target.id).val('false');
		}
	});


	function generatePDF(id,pdf) {
		$("#loader-wrapper").show();
		var pathurl = "@Url.Action("generatePdfByAutoID", "salary")";
			$.ajax({
				url: pathurl,
				type: 'GET',
				data: {
					id: id,pdf:pdf

				},
				success: function (data) {
					$("#loader-wrapper").hide();

					var win = window.open("https://secure.evidhan.nic.in/Viewer/web/viewer.html?file="+data, '_blank');
					win.focus();
				}
			});

		}
</script>