﻿
<style>
	.hspan {
		font-size: 18px;
		color: #f89406;
		border-bottom-color: #fdd0ac;
		font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
		/*font-weight:400;*/
		margin-left: 50px;
	}
</style>
		<div class="page-header">
			<h1>Salary Section
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					Manage Salary Master
				</small>
			</h1>
		</div>
		<!-- #section:settings.box -->

		<!-- /section:settings.box -->
		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="widget-box">
					<div class="widget-header">
						<h4 class="widget-title">Manage Salary</h4>
						<span id="designationText" class="hspan"></span>

						<div class="widget-toolbar">
							<label>
								Select Designation
							</label>
							<select id="desginationListID" style="height: 34px;">
								<option value="0">--Select Designation--</option>
								<option value="1">Speaker</option>
								<option value="2">Deputy Speaker</option>
								<option value="3">Members</option>
							</select>
						</div>
					</div>
					<div class="widget-body">
						<div class="widget-main">
							@using (Ajax.BeginForm("saveCatHeads", "salary", FormMethod.Post, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "OnSuccess()", LoadingElementId = "loader-wrapper" }, new { @class = "form-horizontal", @role = "form", id = "saveLoanForm" }))
							{
								<div id="salaryHeadListDiv">
								</div>
							}
							<!-- /.col -->
						</div>
					</div>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.page-content -->
	
	<div id="selectDesignatioMsg" style="visibility: hidden;">
		<div class="alert alert-info">

			<strong>Information </strong>

			Please Select Designation to Manage Salary Heads.
										<br />
		</div>
	</div>

	

	

<script>
	$(document).ready(function () {
		$("#salaryHeadListDiv").html($("#selectDesignatioMsg").html());
	});

	$("#desginationListID").on('change', function (e) {
		try {
			var datatext = $("#desginationListID option:selected").text();
			var datavalue = $("#desginationListID option:selected").val();
			if (datavalue != 0) {
				$("#designationText").html("Salary Heads for <b>" + datatext + "</b> .")
				getSalaryHeadList(datavalue);
			}
			else {
				$("#designationText").html("");
				$("#salaryHeadListDiv").html("");
				$("#salaryHeadListDiv").html($("#selectDesignatioMsg").html());
			}

		} catch (error) {
			alert(error.message);
		}
	});

	function getSalaryHeadList(designationID) {
		$("#loader-wrapper").show();
		var pathurl = "@Url.Action("getHeadList", "salary")";
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: { designationID: designationID },
			success: function (data) {
				$("#loader-wrapper").hide();
				$("#salaryHeadListDiv").html("");
				$("#salaryHeadListDiv").html(data);
			}
		});
	}
</script>
<script>

	function close3() {
		$('.notification').slideToggle('fast');
		$('.notification').hide();
		//$('.notification').animate({
		//  transform: 'rotateX(0deg)'
		//});
	}


	function OnSuccess() {
		var datavalue = $("#desginationListID option:selected").val();
		getSalaryHeadList(datavalue);
		ShowNotification("success", "Salary Master has been  update successfully.....");

	}

	function ShowNotification(type, msg) {
		if (type == "success") {
			$('.notification').removeClass('alert alert-danger');
			$('.notification').addClass('notification alert alert-info');
			$('#notificationmsg').text(msg);
			$('.notification').slideDown('fast');
			window.setTimeout(close3, 5000);
		}
		else if (type == "error") {
			$('.notification').removeClass('alert alert-info');
			$('.notification').addClass('notification alert alert-danger');
			$('#notificationmsg').text(msg);
			$('.notification').slideDown('fast');
			window.setTimeout(close3, 5000);
		}
	}

</script>
