﻿


<style>
	.hspan {
		font-size: 18px;
		color: #f89406;
		border-bottom-color: #fdd0ac;
		font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
		/*font-weight:400;*/
		margin-left: 50px;
	}
</style>

		<div class="page-header">
			<h1>Salary Section
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					Generate Salary Bill
				</small>
			</h1>
		</div>
		<!-- #section:settings.box -->

		<!-- /section:settings.box -->
		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="widget-box">
					<div class="widget-header">
						<h4 class="widget-title">Generate Salary Bill</h4>
						<span id="designationText" class="hspan"></span>

						<div class="widget-toolbar">

							<label>
								Select Designation

									<select id="searchcriteria" style="height: 30px;">
										<option value="0">--Select Designation--</option>
										<option value="1">Speaker</option>
										<option value="2">Deputy Speaker</option>
										<option value="3">Members</option>
									</select>
							</label>

							<label id="searchcriteriavalueDiv">
								Select Member
							<select id="searchcriteriavalue" name="searchcriteriavalue" class="chosen-select form-control" data-placeholder="--select a member--">
								
							</select></label>
                                <label>
									Select Month
								</label>
								<select  name="month" id="month" style="height: 30px;">	
                                 <option value="">Select Month</option>
								</select>

								<label>
									Select Year
								</label>
								<select id="year" style="height: 30px;">
									
								</select>

                            	<label>
									Select Part
								</label>
								<select id="ispart" style="height: 30px;">
									
								</select>
								<button class="btn btn-xs btn-primary btn-bold" type="button" onclick="getList()">
									<i class="ace-icon fa fa-search bigger-150"></i>
									<span class="bigger-110">Search</span>
								</button>


						</div>
					</div>

					<div class="widget-body">
						<div class="widget-main">
							@using (Ajax.BeginForm("generateBills", "salary", FormMethod.Post, new AjaxOptions {  InsertionMode = InsertionMode.Replace, OnSuccess = "OnSuccess()", LoadingElementId = "loader-wrapper" }, new { @class = "form-horizontal", @role = "form", id = "saveLoanForm" }))
							{
								<div id="salaryHeadListDiv">
								</div>
							}
							<!-- /.col -->
						</div>
					</div>
				</div>
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.page-content -->

	<div id="selectDesignatioMsg" style="visibility: hidden;">
		<div class="alert alert-info">

			<strong>Information </strong>

			Please Select Designation to Generate Salary Bills.
										<br/>
		</div>
	</div>

	

	


<script src="~/assets/js/CommonNotify.js"></script>
<script>
    var theDate = new Date();
    $(document).ready(function () {
        //fillMonth();
       // fillYear();
        
        //var currMonth = theDate.getMonth();
        //$("#MonthID").val(currMonth + 1);
        //$("#YearID").val(theDate.getFullYear());
		$("#salaryHeadListDiv").html($("#selectDesignatioMsg").html());
	});
	$("#searchcriteriavalueDiv").hide();
	$("#searchcriteria").on('change', function (e) {
		try {
			$("#loader-wrapper").show();
			$("#searchcriteriavalueDiv").hide();
			var datatext = $("#searchcriteria option:selected").text();
			var datavalue = $("#searchcriteria option:selected").val();
			var ispart = $("#ispart Option:selected").val();
		//	alert(ispart);
			$("#loader-wrapper").hide();
			if (datavalue == 1)
				getSpeakerID(1,1);
				
			if (datavalue == 2)
				getSpeakerID(14,2);
			if (datavalue == 3) {
				fillCurrentMember();
				
			}
		} catch (error) {
			alert(error.message);
		}
	});

	$("#searchcriteriavalue").on('change', function (e) {
		try {
		  
			$("#loader-wrapper").show();
			
			var datatext = $("#searchcriteriavalue option:selected").text();
			var datavalue = $("#searchcriteriavalue option:selected").val();
			var ispart = $("#ispart Option:selected").val();
			$("#loader-wrapper").hide();
			if (datavalue != 0) {
			    alert("searchcriteriavalue");
				getHeadsforMembers(datavalue, 3);
			}
			else
			{
				if (datavalue != -1) {
					getHeadsforAllMembers();
				}
			}
		  

		} catch (error) {
			alert(error.message);
		}
	});

	try {
		$('.chosen-select').chosen({ allow_single_deselect: true });
		$(window).on('resize.chosen', function () {
			var w = $('.chosen-select').parent().width();
			$('.chosen-select').next().css({ 'width': '200px' });
		}).trigger('resize.chosen');
	}
	catch (error) {
	}

	


	function fillCurrentMember() {
		$("#loader-wrapper").show();
		$("#searchcriteriavalueDiv").show();
		var pathurl = "@Url.Action("fillCurrentMember", "salary")";
	   
		$.ajax({
			url: pathurl,
			type: 'GET',
			success: function (data) {
				if (data) {
					$("#loader-wrapper").hide();
					$("#searchcriteriavalue").html("");
					$("#searchcriteriavalue").append($("<option></option>").val(-1).html('--select--'))
					$("#searchcriteriavalue").append($("<option></option>").val(0).html('--All--'))
					for (var i = 0; i < data.length; i++) {
						var item = data[i];

						$("#searchcriteriavalue").append($("<option></option>").val(item.MemberCode).html(item.MemberCode + ' - ' + item.MemberName))
					}
					$("#searchcriteriavalue").trigger("chosen:updated");
					//getHeadsforAllMembers();
				}
			}
		});
	}
	
    @*function fillCurrentMember() {
        $("#loader-wrapper").show();
        $("#searchcriteriavalueDiv").show();
        var pathurl = "@Url.Action("fillCurrentMember", "SalaryBills")";

		$.ajax({
		    url: pathurl,
		    type: 'GET',
		    success: function (data) {
		        if (data) {
		            $("#loader-wrapper").hide();
		            $("#searchcriteriavalue").html("");
		            $("#searchcriteriavalue").append($("<option></option>").val(-1).html('--select--'))
		            //	$("#searchcriteriavalue").append($("<option></option>").val(0).html('--All--'))
		            for (var i = 0; i < data.length; i++) {
		                var item = data[i];

		                $("#searchcriteriavalue").append($("<option></option>").val(item.MemberCode).html(item.MemberCode + ' - ' + item.MemberName))
		            }
		            $("#searchcriteriavalue").trigger("chosen:updated");
		            //getHeadsforAllMembers();
		        }
		    }
		});
    }*@
    function getHeadsforMembers(memberid, catID) {

        try {
            $("#loader-wrapper").show();
            var pathurl = "@Url.Action("getSalaryHeadsList", "Salary")";
          
			$.ajax({
			    url: pathurl,
			    type: 'POST',
			    data: { memberid: memberid, catId: catID, month: $("#month option:selected").val(), year: $("#year option:selected").val(), ispart: $("#ispart option:selected").val() },
			    success: function (data) {

			        $("#loader-wrapper").hide();
			        $("#salaryHeadListDiv").html("");
			        $("#salaryHeadListDiv").html(data);


			    }
			});
        } catch (error) {
            alert(error.message);
        }
    }
    function getHeadsforAllMembers() {

        try {
            $("#loader-wrapper").show();
            var pathurl = "@Url.Action("getSalaryHeadsListforAllMembers", "Salary")";

			$.ajax({
			    url: pathurl,
			    type: 'POST',
			    Data: { month: $("#month option:selected").val(), year: $("#year option:selected").val() },
			    success: function (data) {

			        $("#loader-wrapper").hide();
			        $("#salaryHeadListDiv").html("");
			        $("#salaryHeadListDiv").html(data);

			    }
			});
        } catch (error) {
            alert(error.message);
        }
    }
    function getSpeakerID(designationID, catID) {

        var pathurl = "@Url.Action("getSpeakerCurrentList", "Salary")";

	    $.ajax({
	        url: pathurl,
	        type: 'POST',
	        contentType: "application/json; charset=utf-8",
	        dataType: "json",
	        data: JSON.stringify({ designationID: designationID, monthID: $("#MonthID option:selected").val(), yearID: $("#YearID option:selected").val() }),

	        success: function (data) {

	            getHeadsforMembers(data[0].speakerID, catID);


	        }
	    });
	}

	@*function getHeadsforMembers(memberid, catID) {
	
		try
		{
			$("#loader-wrapper").show();
			var pathurl = "@Url.Action("getSalaryHeadsList", "salary")";
	   
			$.ajax({
				url: pathurl,
				type: 'POST',
				data:{ memberid: memberid,catId:catID },
				success: function (data)
				{
				  
					
					$("#salaryHeadListDiv").html("");
					$("#salaryHeadListDiv").html(data);
					$("#loader-wrapper").hide();

				}
			});
		} catch (error) {
			alert(error.message);
		}
	}
	function getHeadsforAllMembers() {

		try {
			$("#loader-wrapper").show();
			var pathurl = "@Url.Action("getSalaryHeadsListforAllMembers", "salary")";

			$.ajax({
				url: pathurl,
				type: 'POST',
				
				success: function (data) {

				
					$("#salaryHeadListDiv").html("");
					$("#salaryHeadListDiv").html(data);
					$("#loader-wrapper").hide();
				}
			});
		} catch (error) {
			alert(error.message);
		}
	}
	function getSpeakerID(designationID,catID)
	{
	   
		var pathurl = "@Url.Action("getSpeakerCurrentList", "salary")";
		
		$.ajax({
			url: pathurl,
			type: 'POST',
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			data:JSON.stringify({ designationID: designationID }),
		   
			success: function (data) {

				getHeadsforMembers(data[0].speakerID, catID);
				
			   
			}
		});
	}*@
	
</script>
<script>
	function close3() {
		$('.notification').slideToggle('fast');
		$('.notification').hide();
		//$('.notification').animate({
		//  transform: 'rotateX(0deg)'
		//});
	}
	
	    for (y = 1; y <= 3; y++) {
	        var optn = document.createElement("OPTION");
	        optn.text = y;
	        optn.value = y;  
	        document.getElementById('ispart').options.add(optn);
	    }


	for (y = 2013; y <= 2020; y++) {
	    var optn = document.createElement("OPTION");
	    optn.text = y;
	    optn.value = y;  
	    document.getElementById('year').options.add(optn);
	}

    var d = new Date();
	var monthArray = new Array();
	monthArray[0] = "January";
	monthArray[1] = "February";
	monthArray[2] = "March";
	monthArray[3] = "April";
	monthArray[4] = "May";
	monthArray[5] = "June";
	monthArray[6] = "July";
	monthArray[7] = "August";
	monthArray[8] = "September";
	monthArray[9] = "October";
	monthArray[10] = "November";
	monthArray[11] = "December";
	for(m = 0; m <= 11; m++) {
	    var optn = document.createElement("OPTION");
	    optn.text = monthArray[m];
	    // server side month start from one
	    optn.value = (m+1);
 
	    // if june selected
	    //if ( m == 5) {
	    //    optn.selected = true;
	    //}
 
	    document.getElementById('month').options.add(optn);



	   
	  
	}

	


	function OnSuccess() {

	    var datatext = $("#searchcriteria option:selected").text();
	    var datavalue = $("#searchcriteria option:selected").val();
	    $("#loader-wrapper").hide();
	    if (datavalue == 1)
	        getSpeakerID(1, 1);

	    if (datavalue == 2)
	        getSpeakerID(14, 2);
	    if (datavalue == 3) {
	        
	        var datatextt = $("#searchcriteriavalue option:selected").text();
	        var datavaluet = $("#searchcriteriavalue option:selected").val();
	        $("#loader-wrapper").hide();
	        if (datavaluet != 0) {
	            alert("onsuccess");
	            $("#updatebutton").text("update");
	            getupdatedHeadsforMembers(datavaluet, 3);
	        }
	        else {
	            if (datavaluet != -1) {
	              //  getHeadsforAllMembers();
	            }
	        }
	    }
	    $("#loader-wrapper").hide();
	    ShowNotification("success", "Salary Bill  has been  updated .....");

	}

	function getupdatedHeadsforMembers(memberid, catID) {

	    try {
	        $("#loader-wrapper").show();
	        var pathurl = "@Url.Action("SalaryHeadsList", "Salary")";

            $.ajax({
                url: pathurl,
                type: 'POST',
                data: { memberid: memberid, catId: catID, month: $("#month option:selected").val(), year: $("#year option:selected").val(), ispart: $("#ispart option:selected").val() },
                success: function (data) {

                    $("#loader-wrapper").hide();
                    $("#salaryHeadListDiv").html("");
                    $("#salaryHeadListDiv").html(data);


                }
            });
        } catch (error) {
            alert(error.message);
        }
    }
	function getList() {
	    try {

	        var sdatavalue = $("#searchcriteria option:selected").val();
	        var ispart = $("#ispart option:selected").val();
	        if (sdatavalue == 1)
	            getSpeakerID(1, 1);

	        if (sdatavalue == 2)
	            getSpeakerID(14, 2);
	        if (sdatavalue == 3) {
	            var svdatavalue = $("#searchcriteriavalue option:selected").val();
	            $("#loader-wrapper").hide();
	            if (svdatavalue != 0) {
	                alert("getlist");
	                getHeadsforMembers(svdatavalue, 3);
	            }
	            else {
	                if (svdatavalue != -1) {
	                    //getHeadsforAllMembers();
	                }
	            }
	        }
	    } catch (error) {
	        alert(error.message);
	    }
	}
	function fillMonth() {
	    var month = new Array(11);
	    month[0] = "Jan";
	    month[1] = "Feb";
	    month[2] = "Mar";
	    month[3] = "Apr";
	    month[4] = "May";
	    month[5] = "Jun";
	    month[6] = "Jul";
	    month[7] = "Aug";
	    month[8] = "Sep";
	    month[9] = "Oct";
	    month[10] = "Nov";
	    month[11] = "Dec";
	    for (var i = 0; i <= 11; i++) {
	        
	        $("#MonthID").append($("<option></option>").val(i + 1).html(month[i]));
	    }
	}
	function fillYear() {

	    var currentyear = theDate.getFullYear();

	    for (var i = currentyear - 5; i < currentyear + 5; i++) {
	        $("#YearID").append($("<option></option>").val(i).html(i));
	    }
	}
	

 
</script>