﻿

<style>
	.hspan {
		font-size: 18px;
		color: #f89406;
		border-bottom-color: #fdd0ac;
		font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
		/*font-weight:400;*/
		margin-left: 50px;
	}

	table i {
		font-style: normal !important;
	}
</style>

		<div class="page-header">
			<h1>Salary Section
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					Generate Schedule Loan Report
				</small>
			</h1>
		</div>
		<!-- #section:settings.box -->

		<!-- /section:settings.box -->
		@*	@using (Ajax.BeginForm("generatePDFforOuterBill", "salary", FormMethod.Post, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "OnSuccess()", LoadingElementId = "loader-wrapper" }, new { @class = "form-horizontal", @role = "form", id = "saveLoanForm" }))
				{
		*@
		@using (Html.BeginForm("generatepdfschedulereport", "salary"))
		{
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div class="widget-box">
						<div class="widget-header">
							
							

							<div class="widget-toolbar">
								<label>
									Select Loan Type
								</label>
								<select id="loanListID" style="height: 34px;">
									<option value="0">--Select Loan--</option>
									
								</select>
								 <label>
									Select Designation
								</label>
								<select id="designationID" style="height: 34px;">
									<option value="0">--Select Designation--</option>
									<option value="1">Speaker</option>
									<option value="14">Deputy Speaker</option>
									<option value="3">Members</option>
								</select>
								<label>
									Select Month
								</label>
								<select id="MonthID" style="height: 34px;">
									
								</select>
								<label>
									Select Year
								</label>
								<select id="YearID" style="height: 34px;">
									
								</select>
                                   <label>
									Select Part
								</label>
								<select id="ispart" style="height: 30px;">
									
								</select>
								<button class="btn btn-xs btn-primary btn-bold" type="button" onclick="getList()">
									<i class="ace-icon fa fa-search bigger-150"></i>
									<span class="bigger-110">Search</span>
								</button>
							</div>
						</div>
						<div class="widget-body">
							<div class="widget-main">

								<div id="outerBilltDiv">
								</div>

								<!-- /.col -->
							</div>
						</div>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.col -->
			</div>
	  
		
			<!-- /.row -->
				}
	</div>
	<!-- /.page-content -->

	<div id="selectDesignatioMsg" style="visibility: hidden;">
		<div class="alert alert-info">

			<strong>Information </strong>

			Please Select  Loan Type to Generate Schedule Loan Report.
										<br>
		</div>
	</div>


	
	<input type="hidden" id="tableCount" value="0" />

<script src="~/assets/js/chosen.jquery.min.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>
<script>
	var theDate = new Date();
	var month = new Array(11);
	$(document).ready(function () {
		month[0] = "Jan";
	month[1] = "Feb";
	month[2] = "Mar";
	month[3] = "Apr";
	month[4] = "May";
	month[5] = "Jun";
	month[6] = "Jul";
	month[7] = "Aug";
	month[8] = "Sep";
	month[9] = "Oct";
	month[10] = "Nov";
	month[11] = "Dec";
		fillMonth();
		fillYear(); 
		fillLoanType();
		fillispart();
		var currMonth = theDate.getMonth();
		$("#MonthID").val(currMonth + 1);
		$("#YearID").val(theDate.getFullYear());
		$("#outerBilltDiv").html($("#selectDesignatioMsg").html());
	});

	function fillMonth() {
	   
		for (var i = 0; i <= 11; i++) {
		   
			$("#MonthID").append($("<option></option>").val(i+1).html(month[i]));
		}
	}
	function fillYear() {
	
		var currentyear = theDate.getFullYear();
	  
		for (var i = currentyear-5; i < currentyear + 5; i++) {
			$("#YearID").append($("<option></option>").val(i).html(i));
		}
	}
	
	function fillispart() {
	    for (y = 1; y <= 3; y++) {
	        var optn = document.createElement("OPTION");
	        optn.text = y;
	        optn.value = y;
	        document.getElementById('ispart').options.add(optn);
	    }
	}
	function getList() {
		if ($("#loanListID option:selected").val() == "0") {
			$("#outerBilltDiv").html("");
			$("#outerBilltDiv").html($("#selectDesignatioMsg").html());
		}
		else {
			$("#loader-wrapper").show();
			var pathurl = "@Url.Action("getListofScheduleReport", "salary")";
			$.ajax({
				url: pathurl,
				type: 'GET',
				data: { designationID: $("#designationID option:selected").val(), loanTypeID: $("#loanListID option:selected").val(), monthID: $("#MonthID option:selected").val(), yearID: $("#YearID option:selected").val(), ispart: $("#ispart option:selected").val() },
				success: function (data) {
					$("#loader-wrapper").hide();
					$("#outerBilltDiv").html("");
					$("#outerBilltDiv").html(data);
				}
			});
		}
	}
	function fillLoanType() {
		//  alert('coming');
		try {
			var pathurl = "@Url.Action("fillLoanTypeList", "loan")";

			$.ajax({
				url: pathurl,
				type: 'GET',
				success: function (data) {
					if (data) {
						$("#loanTypeID").html("");
						//  $("#loanTypeID").append($("<option></option>").val(0).html('--All--'))
						for (var i = 0; i < data.length; i++) {
							var item = data[i];

							$("#loanListID").append($("<option></option>").val(item.loanID).html(item.loanType + ' - ' + item.AccountHeadsName))
						}

					}
				}
			});
		}
		catch (error) {
		}
	}
</script>

