﻿@model List<SBL.DomainModel.Models.salaryhead.salaryheads>
@{
    int count = 0;
    }
<div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <div class="pass-table">
                    @if (Model != null)
                        
                    {
                        
                        if (Model.Count() > 0)
                        {

                            
                        <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                            <thead>
                                <tr role="row">
                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Sr.No</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Head Name</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Type</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Order</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">%</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Status</th>
                                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                @foreach (var item in Model)
                                {
                                    count = count + 1;

                                    <tr>
                                        <td class="center">
                                            @count
                                        </td>
                                        <td>
                                            @item.sHeadName
                                        </td>
                                        <td>
                                            @if (item.hType == "cr")
                                            {
                                                <span class="btn btn-info btn-minier tooltip-info" data-rel="tooltip" data-placement="bottom" title="Allowances">Allowances</span>
                                            }
                                            else
                                            {
                                                <span class="btn btn-danger btn-minier tooltip-error" data-rel="tooltip" data-placement="bottom" title="Deductions">Deductions</span>
                                            }
                                        </td>
                                        <td>@item.orderNo</td>
                                        <td>@item.perc</td>

                                        <td class="hidden-480">
                                            @if (item.Status == true)
                                            {
                                                <span class="label label-sm label-success">Active</span>
                                            }
                                            else
                                            {
                                                <span class="label label-sm label-warning">InActive</span>
                                            }
                                        </td>

                                        <td class="center">
                                            <div class="hidden-sm hidden-xs action-buttons">

                                                @* <a data-rel="tooltip" class="blue tooltip-info" title="Change Status" id="ChangeStatusLink"  href="@Url.Action("ChangeOrganization", "Media", new { Id = item.LatestUpdateID })">
                                                    <i class="ace-icon fa fa-check-square-o bigger-130"></i>
                                                </a>*@

                                                <a data-rel="tooltip" class="green tooltip-success" title="Edit" id="@item.sHeadId"  href="#" onclick="EditSHead(this.id)">
                                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                </a>

                                                <a  data-rel="tooltip" class="red tooltip-error deleteSalaryHeads" title="Delete" id="@item.sHeadId" href="#" onclick="deleteSHead(this.id)">
                                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- PAGE CONTENT ENDS -->
                        }
                        else
                        {
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="alert alert-info">

                                    <strong>There is no Salary Head</strong><br />
                                </div>
                            </div>
                        </div>
                        }
                    }
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
<script>
    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')

        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
              { "bSortable": false },
              null, null, null, null, null,
              { "bSortable": false }
            ]

        });

        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();
            var off2 = $source.offset();
            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })

</script>