﻿@model  SBL.DomainModel.Models.salaryhead.salaryheads

<style>
	@*   .textboxwait
	  {
			background-image: url('@Url.Content("~/images/p-loader.gif")');
			background-repeat: no-repeat;
			background-position: center right;
	  }

	 .textboxsuccess
	  {
			background-image: url('@Url.Content("~/images/icon-check.png")');
			background-repeat: no-repeat;
			background-position: center right;

	  }*@
 </style>

@*<script src="~/Scripts/jquery-1.7.min.js"></script>*@
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="blue bigger">Update Salary Head</h4>
		</div>
		
		<div class="modal-body">
			<div class="widget-body">
				<div class="widget-main no-padding-right no-padding-left">

					<div class="profile-user-info profile-user-info-striped">
						<div class="profile-info-row">
						</div>
						<div class="profile-info-row">

							<div class="profile-info-name" style="width: 200px !important;">
								<label class="col-sm-12 control-label no-padding-right" for="Name">Salary Head Name <span style="color: red">*</span>:</label>
							</div>

							<div class="profile-info-value">
								<input type="hidden" value="save" name="Mode" />

								<span id="spnDetails" class="">
									@Html.HiddenFor(a => a.sHeadId)
									@Html.TextBoxFor(model => model.sHeadName, new { @id = "TxtName", @class = "col-xs-10 col-sm-5", @placeholder = "Name", @autocomplete = "off", style = "width: 350px", @required = "required" })
									<br />
									@Html.ValidationMessageFor(model => model.sHeadName)
								</span>
							</div>
						</div>

						<div class="profile-info-row">

							<div class="profile-info-name" style="width: 200px !important;">
								<label class="col-sm-12 control-label no-padding-right" for="Name">Head Type<span style="color: red">*</span>:</label>
							</div>

							<div class="profile-info-value">
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="radio">
											<label>
												<input name="updateSHeadType" checked type="radio" id="updateSHeadTypeAllowances" class="ace" />
												<span class="lbl">Allowances</span>
											</label>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6">
										<div class="radio">
											<label>
												<input name="updateSHeadType" type="radio" id="updateSHeadTypeDeduction" class="ace" />
												<span class="lbl">Deduction</span>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="profile-info-row">

							<div class="profile-info-name" style="width: 200px !important;">
								<label class="col-sm-12 control-label no-padding-right" for="Name">Amount Type<span style="color: red">*</span>:</label>
							</div>

							<div class="profile-info-value">

								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="radio">
											<label>
												<input name="updateSHeadAmountType" checked type="radio" class="ace" id="updateSHeadAmountTypeFixed" />
												<span class="lbl">Fixed</span>
											</label>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6">
										<div class="radio">
											<label>
												<input name="updateSHeadAmountType" type="radio" class="ace" id="updateSHeadAmountTypePercentage" />
												<span class="lbl">Percentage</span>
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="profile-info-row" id="updateSalaryComponentIDDiv">

							<div class="profile-info-name" style="width: 200px !important;">
								<label class="col-sm-12 control-label no-padding-right" for="Name">Salary Component <span style="color: red">*</span>:</label>
							</div>

							<div class="profile-info-value">
								<div class="row">
									<div class="col-xs-12 col-sm-3">
										<p style="margin: 0; padding-left: 2px;">Percentage</p>

										<input type="text" id="updateperc"name="perc" class=" form-control input-small"  placeholder="%" maxlength="2" value="@Model.perc" numberonly required/>
									</div>
									<div class="col-xs-12 col-sm-9">
										<p style="margin: 0; padding-left: 2px;">Salary Head</p>
										<select id="updatesalaryComponentId" name="salaryComponentId" style="height: 34px; width: 100%;">
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name" style="width: 200px !important;">
								<label class="col-sm-12 control-label no-padding-right" for="Name">Order<span style="color: red">*</span>:</label>
							</div>

							<div class="profile-info-value">
								<select class="form-control medium" id="updateorderID" name="orderNo">
								</select>
							</div>
						</div>
						<div class="profile-info-row">

							<div class="profile-info-name" style="width: 200px !important;">
								<label class="col-sm-12 control-label no-padding-right" for="Name">Status <span style="color: red">*</span>:</label>
							</div>

							<div class="profile-info-value">
								<div class="checkbox">
									<label>
										<input name="form-field-checkbox" type="checkbox" id="updatestatuscheck" class="ace" />
										<span class="lbl">Active</span>
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-sm" data-dismiss="modal">
				<i class="ace-icon fa fa-times"></i>
				Cancel
			</button>

			<button class="btn btn-sm btn-primary" type="submit">
				<i class="ace-icon fa fa-save"></i>
				Update
			</button>
		</div>
	</div>
</div>
<input type="hidden" name="hType" id="updatehTypeHidden" value="@Model.hType" />
<input type="hidden" name="amountType" id="updateamountTypeHidden" value="@Model.amountType" />
<input type="hidden" name="Status" id="updatestatusHidden" value='@Model.Status' />


<script>
	$(document).ready(function () {
		$("#newSalaryHeads").removeData();
		try {
		   
			$("#updateSalaryComponentIDDiv").hide();
			//$("#confirmmsg").hide();
			//$("#errormsg").hide();
			updatefillOrderNo();
		} catch (error) {
			alert(error.message);
		}
		//check amount type
		try {
			$("input[name=updateSHeadAmountType]").click(function () {
				if ($('#updateSHeadAmountTypePercentage').is(':checked')) {
					$("#updateSalaryComponentIDDiv").show();
					$("#updateamountTypeHidden").val("Percentage");
					updatefillSalaryComponent();
				}
				else {
					$("#updateSalaryComponentIDDiv").hide();
					$("#updateamountTypeHidden").val("Fixed");
				}
			});
		}
		catch (error) {
			alert("error in check Amount Type Method " + error.message);
		}

		//check hType and assing value to Hidden Field
		try {
			$("input[name=updateSHeadType]").click(function () {

				if ($('#updateSHeadTypeAllowances').is(':checked')) {
					$("#updatehTypeHidden").val("cr");
					updatefillOrderNo();
				}
				else {
					$("#updatehTypeHidden").val("dr");
					updatefillOrderNo();
				}
			});
		}

		catch (error) {
			alert("error in check hType Method " + error.message);
		}
		//check status and assing value to Hidden Field
		try {
			$("#updatestatuscheck").click(function () {
				if ($('#updatestatuscheck').is(':checked')) {
					$("#updatestatusHidden").val("True");
				}
				else {
					$("#updatestatusHidden").val("False");
				}
			});
		}

		catch (error) {
			alert("error in check status  Method " + error.message);
		}
		try {
			updateField();
		}
		catch (error) {
			alert('error in updatefield function ' + error.message);
		}
	});

	function updateField() {
	 
		var jAmountType = $("#updateamountTypeHidden").val();
		if (jAmountType == "Fixed") {
			$('#updateSHeadAmountTypeFixed').prop("checked", true);
			$("#updateSalaryComponentIDDiv").hide();
			$("#updateamountTypeHidden").val("Fixed");
			updatefillSalaryComponent();
		}
		else {
			$('#?.').prop("checked", true);
			$("#updateSalaryComponentIDDiv").show();
			$("#updateamountTypeHidden").val("Percentage");
			updatefillSalaryComponent();
		}

		var jHtype = $("#updatehTypeHidden").val();
		if (jHtype == "cr") {
			$("#updateSHeadTypeAllowances").prop("checked", true);

		}
		else {
			$("#updateSHeadTypeDeduction").prop("checked", true);
		}

		var attr = $("#updatestatusHidden").attr('value');

		if (attr == 'value') {
			document.getElementById("updatestatuscheck").checked = true;
			$("#updatestatusHidden").val("True");
		}
		else {

			$("#updatestatuscheck").removeAttr('checked');
			$("#updatestatusHidden").val("False");
		}

		//select order orderID

	}

   
	function updatefillSalaryComponent() {
		var pathurl = '@Url.Action("fillSalaryComponent", "salary")';

		$.ajax({
			url: pathurl,
			type: 'GET',
			success: function (data) {
				if (data) {
					$("#updatesalaryComponentId").html("");
					var options = '';
					for (var i = 0; i < data.length; i++) {
						var item = data[i];
						//options += '<option value="' + item.sHeadID + '">' + item.sHeadName + '</option>';
						
						$("#updatesalaryComponentId").append($("<option></option>").val(item.sHeadID).html(item.sHeadName))
					   
					}

					//$("#salaryComponentId").html(options);

					
					
					//alert(@Model.salaryComponentId);
					$("#updatesalaryComponentId").val(@Model.salaryComponentId);
				} else { alert("error"); }
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.responseText);
				alert(thrownError);
			}
		});
	}
	function updatefillOrderNo() {
		var pathurl = '@Url.Action("fillOrderNo", "salary")';
		var type = $("#updatehTypeHidden").val();
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: { hType: type, Mode: 'update' },
			success: function (data) {
				if (data) {
					$("#updateorderID").html("");

					for (var i = 0; i < data.length; i++) {
						var item = data[i];
						$("#updateorderID").append($("<option></option>").val(item.sHeadID).html(item.sHeadID))
					   
					}
					
					$('#updateorderID').val(@Model.orderNo);

				  } else { alert("error"); }
			  },
			  error: function (xhr, ajaxOptions, thrownError) {
				  alert(xhr.responseText);
				  alert(thrownError);
			  }
		  });
	  }
</script>
