﻿@model  IEnumerable<SBL.DomainModel.Models.salaryhead.memberCategory>
@{
    int count = 0;
}




<div id='fullDetailsModel' class="hide">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <!-- PAGE CONTENT BEGINS -->
        <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
        <input type="hidden" id="SelectedFixNo" name="SelectedFixNo" />
        <div class="pass-table">

            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">


                <div class="table-header">
                    Members Category List
                </div>

                <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                    <thead>
                        <tr role="row">

                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">#</th>
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 30%">Category Name</th>





                        </tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                count = count + 1;
                                string style = (count % 2 == 0) ? "odd" : "even";

                                //  var trID = item.SystemModuleID;
                                var ID = item.autoId;
                                
                            <tr class="@style" id="@ID" onclick="onSelectRowHandler(this.id);">
                                <!-- <tr class="" id="" onclick="">-->
                                <td class="">@count</td>

                                <td class="">
                                    <i class="">@item.categoryName</i>
                                </td>

                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>





<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
@*<script src="~/Scripts/jquery-1.7.min.js"></script> *@
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>



<script>

   
    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
               { "bSortable": false },
              null,

              { "bSortable": false }

            ]
        });
    });



    function onSelectRowHandler(rowId) {

        $('.widget-box').show();

      
        var pathurl = '@Url.Action("getHeadList", "salary")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                categoryId: rowId,
            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data);


                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

</script>

