﻿@{
	ViewBag.Title = "MembersSalaryStatement";
	Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@Html.Partial("_LeftMenu")

<style>
	.hspan {
		font-size: 18px;
		color: #f89406;
		border-bottom-color: #fdd0ac;
		font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
		/*font-weight:400;*/
		margin-left: 50px;
	}
</style>
<div class="main-content">
	<!-- #section:basics/content.breadcrumbs -->
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="ace-icon fa fa-home home-icon"></i>
				<a href="@Url.Action("NewsIndex", "News")">Home</a>
			</li>

			<li>
				<a href="@Url.Action("NewsIndex", "News")">Salary</a>
			</li>
			<li class="active">Generate salary Statement</li>
		</ul>
	</div>

	<!-- /section:basics/content.breadcrumbs -->
	<div class="page-content">
		<div class="page-header">
			<h1>Salary Section
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					Generate salary Statement
				</small>
			</h1>
		</div>
		<!-- #section:settings.box -->

		<!-- /section:settings.box -->
		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="widget-box">
					<div class="widget-header">
						<h4 class="widget-title">Generate salary Statement for Members</h4>
						

						<div class="widget-toolbar">
							<div class="widget-menu">
								
								<label>
									Select Month
								</label>
								<select id="MonthID" style="height: 34px;">
									
								</select>
								<label>
									Select Year
								</label>
								<select id="YearID" style="height: 34px;">
									
								</select>
                                <label>
									Select Part
								</label>
								<select id="ispart" style="height: 30px;">
									
								</select>
								<button class="btn btn-xs btn-primary btn-bold" type="button" onclick="getList()">
									<i class="ace-icon fa fa-search bigger-150"></i>
									<span class="bigger-110">Search</span>
								</button>
								<a href="#" data-action="fullscreen" class="orange2">
									<i class="ace-icon fa fa-expand"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="widget-body">
						<div class="widget-main">
							

							@using(Html.BeginForm("GenerateMembersReport", "salary"))
							{
							
								<div id="outerBilltDiv" >
								</div>
								
							}
							<!-- /.col -->
						</div>
					</div>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.page-content -->
	</div>
	<div id="selectDesignatioMsg" style="visibility: hidden;">
		<div class="alert alert-info">

			<strong>Information </strong>

			Please Select month and year  to Generate salary Statement.
										<br>
		</div>
	</div>

	<div class="footer">
		<div class="footer-inner">
			<!-- #section:basics/footer -->
			<div class="footer-content">
				@*<span class="bigger-100">
					<span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
				</span>*@
			</div>

			<!-- /section:basics/footer -->
		</div>
	</div>

	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
		<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
	</a>
</div>

<script>
	var theDate = new Date();
	$(document).ready(function () {
		fillMonth();
		fillYear();
		fillispart();
		var currMonth = theDate.getMonth();
		$("#MonthID").val(currMonth + 1);
		$("#YearID").val(theDate.getFullYear());
		$("#outerBilltDiv").html($("#selectDesignatioMsg").html());
	});

	function fillMonth() {

		for (var i = 0; i <= 11; i++) {

			$("#MonthID").append($("<option></option>").val(i + 1).html(month[i]));
		}

	}
	function fillispart() {
	    for (y = 1; y <= 2; y++) {
	        var optn = document.createElement("OPTION");
	        optn.text = y;
	        optn.value = y;
	        document.getElementById('ispart').options.add(optn);
	    }
	}

	function fillYear() {

		var currentyear = theDate.getFullYear();

		for (var i = currentyear - 5; i < currentyear + 5; i++) {
			$("#YearID").append($("<option></option>").val(i).html(i));
		}
	}
	var month = new Array(11);
	month[0] = "Jan";
	month[1] = "Feb";
	month[2] = "Mar";
	month[3] = "Apr";
	month[4] = "May";
	month[5] = "Jun";
	month[6] = "Jul";
	month[7] = "Aug";
	month[8] = "Sep";
	month[9] = "Oct";
	month[10] = "Nov";
	month[11] = "Dec";
	function getList() {
		if ($("#loanListID option:selected").val() == "0") {
			$("#outerBilltDiv").html("");
			$("#outerBilltDiv").html($("#selectDesignatioMsg").html());
		}
		else {
			$("#loader-wrapper").show();
			var pathurl = "@Url.Action("getSalaryStatement", "salary")";
			$.ajax({
				url: pathurl,
				type: 'GET',
				data: { designationID: 3, monthID: $("#MonthID option:selected").val(), yearID: $("#YearID option:selected").val(), ispart: $("#ispart option:selected").val() },
				success: function (data) {
					$("#loader-wrapper").hide();
					$("#outerBilltDiv").html("");
					$("#outerBilltDiv").html(data);
				}
			});
		}
	}
	$(document).ready(function () {
		$("#outerBilltDiv").html($("#selectDesignatioMsg").html());
	});

</script>
<script>

	function close3() {
		$('.notification').slideToggle('fast');
		$('.notification').hide();
		//$('.notification').animate({
		//  transform: 'rotateX(0deg)'
		//});
	}

	function OnSuccess() {
		var datavalue = $("#desginationListID option:selected").val();
		getSalaryHeadList(datavalue);
		ShowNotification("success", "Salary Master has been  update successfully.....");

	}

	function ShowNotification(type, msg) {
		if (type == "success") {
			$('.notification').removeClass('alert alert-danger');
			$('.notification').addClass('notification alert alert-info');
			$('#notificationmsg').text(msg);
			$('.notification').slideDown('fast');
			window.setTimeout(close3, 5000);
		}
		else if (type == "error") {
			$('.notification').removeClass('alert alert-info');
			$('.notification').addClass('notification alert alert-danger');
			$('#notificationmsg').text(msg);
			$('.notification').slideDown('fast');
			window.setTimeout(close3, 5000);
		}
	}
</script>