﻿

<style>
	.hspan {
		font-size: 18px;
		color: #f89406;
		border-bottom-color: #fdd0ac;
		font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
		/*font-weight:400;*/
		margin-left: 50px;
	}

	table i {
		font-style: normal !important;
	}
</style>

		<div class="page-header">
			<h1>Salary Section
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					Print Salary Bills
				</small>
			</h1>
		</div>
		<!-- #section:settings.box -->
			<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="widget-box">
					<div class="widget-header">
						<h4 class="widget-title">Print Salary Bills</h4>
						

						<div class="widget-toolbar">
							<div class="widget-menu">
								
								<label>
									Select Month
								</label>
								<select id="MonthID" style="height: 34px;">
									
								</select>
								<label>
									Select Year
								</label>
								<select id="YearID" style="height: 34px;">
									
								</select>
								<button class="btn btn-xs btn-primary btn-bold" type="button" onclick="getList(1)">
									<i class="ace-icon fa fa-search bigger-150"></i>
									<span class="bigger-110">Search</span>
								</button>
								<a href="#" data-action="fullscreen" class="orange2">
									<i class="ace-icon fa fa-expand"></i>
								</a>
							</div>
						</div>
					</div>
					<div class="widget-body">
						<div class="widget-main">
							

							@using (Html.BeginForm("generatePdf", "salary"))
							{
							
								<div id="outerBilltDiv" >

								</div>
		   
								
							}
							<!-- /.col -->
						</div>
					</div>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		
	
	<!-- /.page-content -->

	<div id="selectDesignatioMsg" style="visibility: hidden;">
		<div class="alert alert-info">

			<strong>Information </strong>

			Please Select Month and year to Download PDF Of Salary Bills.
										<br />
		</div>
	</div>

	

	





<script>
	var theDate = new Date();
	var month = new Array(11);
	$(document).ready(function () {
	   
		month[0] = "Jan";
		month[1] = "Feb";
		month[2] = "Mar";
		month[3] = "Apr";
		month[4] = "May";
		month[5] = "Jun";
		month[6] = "Jul";
		month[7] = "Aug";
		month[8] = "Sep";
		month[9] = "Oct";
		month[10] = "Nov";
		month[11] = "Dec";
		fillMonth();
		fillYear();
getList(1);
		var currMonth = theDate.getMonth();
		$("#MonthID").val(currMonth + 1);
		$("#YearID").val(theDate.getFullYear());
		$("#outerBilltDiv").html($("#selectDesignatioMsg").html());
	});

	function fillMonth() {

		for (var i = 0; i <= 11; i++) {
			try
			{
				$("#MonthID").append($("<option></option>").val(i + 1).html(month[i]));
			} catch (error) {
				alert(error.message);
			}
		}
	}
	function fillYear() {

		var currentyear = theDate.getFullYear();

		for (var i = currentyear - 5; i < currentyear + 5; i++) {
			$("#YearID").append($("<option></option>").val(i).html(i));
		}
	}
	
	
	function getList(status) {
		
	    var monthid = $("#MonthID").val();
	    var yearid = $("#YearID").val();
		$("#loader-wrapper").show();
		var path = "@Url.Action("getBillListformember", "salary")";
		var request = $.ajax({
			url: path,
			type: 'GET',
			data: { monthID: monthid, YearID: yearid},
			//contentType: "application/json; charset=utf-8",
			//dataType: "json",

			success: function (data) {

				$("#outerBilltDiv").html('');
				$("#outerBilltDiv").html(data);
				$("#loader-wrapper").hide();

			}
		});

	}


	

</script>

