﻿@{
	ViewBag.Title = "ScheduleofRecovery";
	Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}



@Html.Partial("_LeftMenu")

<style>
	.hspan {
		font-size: 18px;
		color: #f89406;
		border-bottom-color: #fdd0ac;
		font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
		/*font-weight:400;*/
		margin-left: 50px;
	}

	table i {
		font-style: normal !important;
	}
</style>
<link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />

<!-- page specific plugin styles -->
<link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="~/assets/css/chosen.css" />

<link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.css" />
<link rel="stylesheet" href="~/assets/css/daterangepicker.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.css" />
<link rel="stylesheet" href="~/assets/css/colorpicker.css" />
<script src="~/assets/js/jquery.autosize.min.js"></script>
<!-- text fonts -->
<link rel="stylesheet" href="~/assets/css/ace-fonts.css" />

<!-- ace styles -->
<link rel="stylesheet" href="~/assets/css/ace.min.css" />

<!--[if lte IE 9]>
			<link rel="stylesheet" href="~/assets/css/ace-part2.min.css" />
		<![endif]-->
<link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
<link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />

<div class="main-content">
	<!-- #section:basics/content.breadcrumbs -->
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="ace-icon fa fa-home home-icon"></i>
				<a href="@Url.Action("#", "#")">Home</a>
			</li>

			<li>
				<a href="@Url.Action("#", "#")">Salary</a>
			</li>
			<li class="active">Generate Outer Bill</li>
		</ul>
	</div>

	<!-- /section:basics/content.breadcrumbs -->
	<div class="page-content">
		@*<div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
			<button class="btn btn-primary">
						<i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
						Generate PDF
					</button>
		</div>*@
		<div class="page-header">
			<h1>Salary Section
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					Generate Schedule Loan Report
				</small>
			</h1>
		</div>
		<!-- #section:settings.box -->

		<!-- /section:settings.box -->
		@*	@using (Ajax.BeginForm("generatePDFforOuterBill", "salary", FormMethod.Post, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "OnSuccess()", LoadingElementId = "loader-wrapper" }, new { @class = "form-horizontal", @role = "form", id = "saveLoanForm" }))
				{
		*@
		@using (Html.BeginForm("generatepdfschedulereport", "salary"))
		{
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div class="widget-box">
						<div class="widget-header">
							
							

							<div class="widget-toolbar">
								<label>
									Select Loan Type
								</label>
								<select id="loanListID" style="height: 34px;">
									<option value="0">--Select Loan--</option>
									
								</select>
                                 <label>
									Select Designation
								</label>
								<select id="designationID" style="height: 34px;">
									<option value="0">--Select Designation--</option>
                                    <option value="1">Speaker</option>
                                    <option value="14">Deputy Speaker</option>
									<option value="3">Members</option>
								</select>
								<label>
									Select Month
								</label>
								<select id="MonthID" style="height: 34px;">
									
								</select>
								<label>
									Select Year
								</label>
								<select id="YearID" style="height: 34px;">
									
								</select>
								<button class="btn btn-xs btn-primary btn-bold" type="button" onclick="getList()">
									<i class="ace-icon fa fa-search bigger-150"></i>
									<span class="bigger-110">Search</span>
								</button>
							</div>
						</div>
						<div class="widget-body">
							<div class="widget-main">

								<div id="outerBilltDiv">
								</div>

								<!-- /.col -->
							</div>
						</div>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.col -->
			</div>
	  
		
			<!-- /.row -->
				}
	</div>
	<!-- /.page-content -->

	<div id="selectDesignatioMsg" style="visibility: hidden;">
		<div class="alert alert-info">

			<strong>Information </strong>

			Please Select  Loan Type to Generate Schedule Loan Report.
										<br>
		</div>
	</div>

	<div class="footer">
		<div class="footer-inner">
			<!-- #section:basics/footer -->
			<div class="footer-content">
				@*<span class="bigger-100">
					<span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
				</span>*@
			</div>

			<!-- /section:basics/footer -->
		</div>
	</div>

	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
		<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
	</a>
	<input type="hidden" id="tableCount" value="0" />
</div>
<script src="~/assets/js/chosen.jquery.min.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>
<script>
	var theDate = new Date();
	$(document).ready(function () {
		fillMonth();
		fillYear(); 
		fillLoanType();
		var currMonth = theDate.getMonth();
		$("#MonthID").val(currMonth + 1);
		$("#YearID").val(theDate.getFullYear());
		$("#outerBilltDiv").html($("#selectDesignatioMsg").html());
	});

	function fillMonth() {
	   
		for (var i = 0; i <= 11; i++) {
		   
			$("#MonthID").append($("<option></option>").val(i+1).html(month[i]));
		}
	}
	function fillYear() {
	
		var currentyear = theDate.getFullYear();
	  
		for (var i = currentyear-5; i < currentyear + 5; i++) {
			$("#YearID").append($("<option></option>").val(i).html(i));
		}
	}
	var month = new Array(11);
	month[0] = "Jan";
	month[1] = "Feb";
	month[2] = "Mar";
	month[3] = "Apr";
	month[4] = "May";
	month[5] = "Jun";
	month[6] = "Jul";
	month[7] = "Aug";
	month[8] = "Sep";
	month[9] = "Oct";
	month[10] = "Nov";
	month[11] = "Dec";
	function getList() {
	    if ($("#loanListID option:selected").val() == "0") {
	        $("#outerBilltDiv").html("");
	        $("#outerBilltDiv").html($("#selectDesignatioMsg").html());
	    }
	    else {
	        $("#loader-wrapper").show();
	        var pathurl = "@Url.Action("getListofScheduleReport", "salary")";
	        $.ajax({
	            url: pathurl,
	            type: 'GET',
	            data: { designationID: $("#designationID option:selected").val(), loanTypeID: $("#loanListID option:selected").val(), monthID: $("#MonthID option:selected").val(), yearID: $("#YearID option:selected").val() },
	            success: function (data) {
	                $("#loader-wrapper").hide();
	                $("#outerBilltDiv").html("");
	                $("#outerBilltDiv").html(data);
	            }
	        });
	    }
	}
	function fillLoanType() {
		//  alert('coming');
		try {
			var pathurl = "@Url.Action("fillLoanTypeList", "loan")";

			$.ajax({
				url: pathurl,
				type: 'GET',
				success: function (data) {
					if (data) {
						$("#loanTypeID").html("");
						//  $("#loanTypeID").append($("<option></option>").val(0).html('--All--'))
						for (var i = 0; i < data.length; i++) {
							var item = data[i];

							$("#loanListID").append($("<option></option>").val(item.loanID).html(item.loanType + ' - ' + item.AccountHeadsName))
						}

					}
				}
			});
		}
		catch (error) {
		}
	}
</script>

