﻿@using SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models
@model  List<SBL.DomainModel.Models.JobsPosting.Job>
@using SBL.eLegistrator.HouseController.Web.Helpers;
@using SBL.DomainModel.Models.User
@{  int count = 0;
    if (ViewBag.CurrentPage > 1)
    {

        count = (ViewBag.PageSize * (ViewBag.CurrentPage - 1));
    }

    var SiteSettingsSessn = (mSiteSettingsVS)Helper.ExecuteService("User", "GetSettingSettingName", new mSiteSettingsVS { SettingName = "FileAccessingUrlPath" });
    string FileLocation = SiteSettingsSessn.SettingValue;
}
<!-- PAGE CONTENT BEGINS -->

<div class="pass-table">
    @if (Model != null)
    {
        if (Model.Count() > 0)
        {       
        <input type="hidden" id="pageId" name="pageId" value="@ViewBag.CurrentPage" />
        <div class="table-header">
            <div class="form-group">
                @if (ViewBag.Msg != null)
                {
                    <div class="@ViewBag.Class" id="MsgDiv">
                        <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
                        <strong><i class="ace-icon fa fa-check-square-o"></i>@ViewBag.Notification ! </strong>@ViewBag.Msg
                    </div>
                }

            </div>
        </div>  
                   
        <table class="table  table-bordered  dataTable" id="tblJobPosting" aria-describedby="sample-table-2_info">
            <thead>
                <tr role="row">
                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>
                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Job Id</th>
                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Job Title.</th>
                    <th class="sorting SortingData" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Posting Date</th>
                    <th class="sorting SortingData" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Last Date</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Apply Online</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Status</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Detail Info</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Suppl. Info</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Result</th>

                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Action</th>

                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                @foreach (var item in Model)
                {
                    count = count + 1; 
                  
                    <tr  id="Row-@item.JOBID"  >

                        <td class="center">
                            @count
                        </td>
                        <td class="center">
                            @item.JOBID
                        </td>
                        <td class="center">
                            @item.JobTitle
                        </td>
                        <td style="width: 30%">
                            @item.PublishedOn.ToString("dd/MM/yyyy")
                        </td>
                        <td style="width: 20%">
                            @item.LastDate.ToString("dd/MM/yyyy")
                        </td>
                        <td style="width: 20%">
                            @if (item.ConfirmationForApply)
                            {
                                <text>Yes</text>
                            }
                            else
                            {
                                <text>No</text>
                            }
                        </td>
                        <td style="width: 20%">

                            @if (item.IsActive)
                            {
                                <text>Yes</text>
                            }
                            else
                            {
                                <text>No</text>
                            }
                        </td>
                        <td style="width: 20%">
                            @if (!string.IsNullOrEmpty(item.JobDetailPdfUrl))
                            { 
                                <span>
                                    <a href="@FileLocation/JobDetails/@item.JobDetailPdfUrl" target="_blank">PDF File</a>
                                </span>
                            }
                        </td>
                        <td style="width: 20%">
                            @if (!string.IsNullOrEmpty(item.SuppInfoPdfUrl))
                            { 
                                <span>
                                    <a href="@FileLocation/JobSupplementary/@item.SuppInfoPdfUrl" target="_blank">PDF File</a>
                                </span>
                            }
                        </td>
                        <td style="width: 20%">
                            @if (!string.IsNullOrEmpty(item.ResultPdfUrl))
                            { 
                                <span>
                                    <a href="@FileLocation/JobResult/@item.ResultPdfUrl" target="_blank">PDF File</a>
                                </span>
                            }
                        </td>
                        <td class="center" style="width: 10%">


                            <div class="hidden-sm hidden-xs action-buttons">

                                <a data-rel="tooltip" class="green tooltip-success" title="Edit" onclick="PopulateJobForm(@item.JOBID,'Edit');" href="#">
                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                </a>


                            </div>
                            <div class="hidden-md hidden-lg">
                                <div class="inline position-relative">
                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                        <li>
                                            <a data-rel="tooltip" class="green tooltip-success" title="Edit" onclick="PopulateJobForm(@item.JOBID,'Edit');" href="#">
                                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>                                                                
                }

            </tbody>
        </table>
        <!-- PAGE CONTENT ENDS -->
        <!-- PAGER START -->@*
        <div>@{Html.RenderPartial("~/Areas/AccountsAdmin/Views/Shared/_Pager.cshtml");}</div>*@
        <!-- PAGER ENDS -->
        }
        else
        {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <strong>No Job Posting</strong><br />
                </div>
            </div>
        </div>
        }

    }
</div>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<!-- /.col -->
<script type="text/javascript">

    $(document).ready(function () {
        $('#tblJobPosting').dataTable({
            // "bPaginate": false, "bInfo": false, "bSearchable": false,
        });
        setTimeout(function () {
            $("#MsgDiv").slideUp(400);
        }, 2000);

        $("#PazeSize").val(@ViewBag.PageSize)

        $('#PazeSize').change(function () {
            var PageSize = $("#PazeSize").val();
            $.ajax({
                type: "POST",
                url: '/ReimbursementBill/GetBillByPaging',
                data: '{ pageId: "1",pageSize: "' + PageSize + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {

                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result);
                },
                error: function (error) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(error.responseText);

                },
                complete: function (results) {

                    $('#loader-wrapper').hide();
                }
            });

        });


    });

    $(".DeleteSec").on('click', function (e) {

        e.preventDefault();

        var url = $(this).attr('href');

        var id = $(this).attr('id');

        var dlg = bootbox.confirm('Are you sure, You want to delete this voucher? If yes than press ok Button.', function (result) {

            if (result) {

                $(dlg).modal('hide');

                DeleteReimbursementBill(id);
            }
        });
    });

    function RejectBill(Id, Action) {

        var PageSize = $("#PazeSize").val();
        var pageId = $("#pageId").val();
        $.ajax({
            type: "POST",
            url: '/ReimbursementBill/EditApproveBill',
            data: '{ Id: "' + Id + '",Action: "' + Action + '" , pageId: "' + pageId + '",pageSize: "' + PageSize + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#RejectBillDiv').empty();
                $('#RejectBillDiv').append(result);
                $('#RejectBillModel').modal('show');
            },
            error: function (error) {
                $('#RejectBillDiv').empty();
                $('#RejectBillDiv').append(error.responseText);
                $('#RejectBillModel').modal('show');

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }



</script>
