@font-face{
font-family:'DVOT-Yogesh';
font-style:normal;
font-weight:normal;
src:url('../Fonts/DVOTYogesh_N_ship.eot');
}
@font-face{
font-family:'DVOT-Yogesh';
font-style:normal;
font-weight:normal;
src:url('../Fonts/DVOTYogesh_N_ship.eot?')format('eot'),url('../Fonts/DVOTYogesh_N_ship.ttf')format( 'truetype' );
}