@font-face{
font-family:'TLOT-Hemalatha';
font-style:normal;
font-weight:normal;
src:url('../Fonts/TLOTHemalatha_N_Ship.eot');
}
@font-face{
font-family:'TLOT-Hemalatha';
font-style:normal;
font-weight:normal;
src:url('../Fonts/TLOTHemalatha_N_Ship.eot?')format('eot'),url('../Fonts/TLOTHemalatha_N_Ship.ttf')format( 'truetype' );
}