﻿@model  List<SBL.DomainModel.Models.Budget.mEstablishBill>
<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }
</style>
<div class="two-column" id="innerDiv">
    <div class=" col-md-12 ">
        <div id="resize-left" class="ui-widget-content" style="width: 100%;">

            <div class="row">
                <form method="post" action="/SchemeSetup/SaveQualification" id="ApproveBillForm">
                    <div id="divDataContainer" style="margin-bottom: 50px; position: relative;">
                        @{Html.RenderPartial("~/Areas/AccountsAdmin/Views/EstablishBill/_SanctionBillList.cshtml", Model);}
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>


<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>

<script type="text/javascript">




    function SanctionAllBill() {
        //$(document).on('click', '#SetApprovedofBill', function (e) {

        $('.ErrorMessage').remove('');
        var IsValid = true;
        if (IsValid == true) {

            var QData = $('#ApproveBillForm').serialize();
            //  e.preventDefault();
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '/EstablishBill/SaveSanctionBill',
                data: QData,
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result);

                },
                error: function (result) {

                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result.responseText);
                },
                complete: function (result) {
                    $('#loader-wrapper').hide();
                    setTimeout(function () {
                        $('#MsgDiv').slideUp("slow");
                    }, 6000);
                }
            });
        }
    }


    // Approve Single Bill
    function SanctionBill(EstablishBillId, RowNum) {
        var EstablishBillId = EstablishBillId;
        // var Approved = $('input:radio[name=Approved-' + RowNum + ']').filter(":checked").val();
        var Sanctioned = $('input:radio[name=Sanctioned-' + RowNum + ']:checked').val();

        $.ajax({
            type: "POST",
            url: '/EstablishBill/UpdateSanctionBill',
            data: '{ EstablishBillId: "' + EstablishBillId + '",Sanctioned:"' + Sanctioned + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(result);
            },
            error: function (error) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(error.responseText);

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#MsgDiv').slideUp("slow");
                }, 6000);

            }
        });

    }

    function GetDataList(pageId) {
        var PageSize = $("#PazeSize").val();
        $.ajax({
            type: "POST",
            url: '/ReimbursementBill/GetApproveBillByPaging',
            data: '{ pageId: "' + pageId + '",pageSize: "' + PageSize + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(result);
            },
            error: function (error) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(error.responseText);

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
            }
        });
    }


    function ShowVoucherBillList(EstablishBillID) {
        $.ajax({
            type: "POST",
            url: '/EstablishBill/ShowVoucherBillList',
            data: '{ EstablishBillID: "' + EstablishBillID + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#VouvherBillListDiv').empty();
                $('#VouvherBillListDiv').append(result);
                $('#VouvherBillListModel').modal('show');
            },
            error: function (error) {
                $('#VouvherBillListDiv').empty();
                $('#VouvherBillListDiv').append(error.responseText);
                $('#VouvherBillListModel').modal('show');

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }

</script>

<!-- Show Voucher List -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="VouvherBillListModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="VouvherBillListTitle">Voucher Bill List </h4>
            </div>
            <form method="post" action="/SchemeSetup/SaveQualification" id="VouvherBillListForm">
                <div class="modal-body">
                    <div id="VouvherBillListDiv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @* <button type="button" id="VouvherBillListDivBill" onclick="SaveEstablishBill()" class="btn btn-primary">Save changes</button>*@
                </div>
            </form>
        </div>
    </div>
</div>
