﻿@model SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models.DebitReceiptExpViewModel

<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }

    .datepicker {
        z-index: 1151 !important;
    }
</style>
<link href="~/Content/MultiSelectList/multiple-select.css" rel="stylesheet" />

<div>

    <input type="hidden" id="UserId" name="UserId" value="@ViewBag.UserId" />
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="Object">
            <label class=" control-label  " for="ItemType">Select Departments</label>
        </label>
        <div class="col-sm-9 help-block">
            <div class="form-group" id="DepartmentsDDlDiv">

                @Html.ListBox("Departments", (MultiSelectList)ViewBag.Departments,new { @id = "Departments", @class = "form-control", @multiple = "multiple", style = "width: 300px" })
                <div><span id="DeptDdlValid" style="color: red"></span></div>
            </div>
        </div>
    </div>


</div>
<br /><br /><br />
<script src="~/Scripts/MultiSelectBox/jquery.multiple.select.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {
        $("#Departments").multipleSelect({ selectAll: true, placeHolder: "Select Departments" });
    });




</script>
