﻿@model List<SBL.DomainModel.Models.User.mUsers>

@{  int count = 0;}
<!-- PAGE CONTENT BEGINS -->
<div class="pass-table">
    @if (Model != null)
    {
        if (Model.Count() > 0)
        {       
        <div class="table-header">
            <div class="form-group">
                @if (ViewBag.Msg != null)
                {
                    <div class="@ViewBag.Class" id="MsgDiv">
                        <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
                        <strong><i class="ace-icon fa fa-check-square-o"></i>@ViewBag.Notification ! </strong>@ViewBag.Msg
                    </div>
                }
            </div>
        </div>             
        <table class="table table-striped table-bordered table-hover dataTable" id="tblDebitReceiptExp" aria-describedby="sample-table-2_info">
            <thead>
                <tr role="row">
                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">User Name</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Aadhar Id</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Department</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Secratery</th>

                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Action</th>
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                @foreach (var item in Model)
                {
                    count = count + 1;  
                    <tr>
                        <td class="center">
                            @count
                        </td>

                        <td style="width: 20%">@item.UserName</td>
                        <td style="width: 20%">
                            @item.AadarId
                        </td>
                        <td style="width: 15%">@item.DepartmentName</td>
                        <td style="width: 20%">@item.SecretoryName</td>
                        <td class="center" style="width: 10%">
                            <div class="hidden-sm hidden-xs action-buttons">
                                <a data-rel="tooltip" class="green tooltip-success" title="Edit" onclick="PopulateDepartments('@item.UserId');" href="#">
                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                </a>
                            </div>
                            <div class="hidden-md hidden-lg">
                                <div class="inline position-relative">
                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                        <li>
                                            <a  href="#" onclick="PopulateDepartments('@item.UserId');" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                <span class="green">
                                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>                                                                
                }

            </tbody>
        </table>
        <!-- PAGE CONTENT ENDS -->
        }
        else
        {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <strong>No User Found</strong><br />
                </div>
            </div>
        </div>
        }
    }
</div>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<!-- /.col -->
<script type="text/javascript">

    $(document).ready(function () {

        var oTable1 =
        $('#tblDebitReceiptExp')
        //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        .dataTable();

        // $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

        setTimeout(function () {
            $("#MsgDiv").slideUp(400);
        }, 2000);
    });

    function PopulateDepartments(Id) {
        debugger;
        $.ajax({
            type: "POST",
            url: '/Admin/UpdateDepartments/PopulateDepartment',
            data: '{ UserId: "' + Id + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#DepartmentsDiv').empty();
                $('#DepartmentsDiv').append(result);
                $('#UpdateDepartmentsModel').modal('show');
            },
            error: function (error) {
                $('#DepartmentsDiv').empty();
                $('#DepartmentsDiv').append(error.responseText);
                $('#UpdateDepartmentsModel').modal('show');
            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }


   

</script>

<!--Update Departments -->
<div class="modal" tabindex="-1" role="dialog" id="UpdateDepartmentsModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="CreateModalTitle">Update Departments</h4>
            </div>
            <form method="post" action="/SchemeSetup/SaveQualification" id="CreateRoadPermitForm">
                <div class="modal-body">
                    <div id="DepartmentsDiv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="SaveDeptBtn" onclick="UpdateDepartments();" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
 