﻿@model SBL.DomainModel.Models.Notice.tMemberNotice

@*<script src="~/Scripts/SBL/datepicker.js"></script>*@

@using (Html.BeginForm("CreateNotice", "Notice", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.NoticeId);
    @Html.HiddenFor(m => m.NoticeNumber);
    @Html.HiddenFor(m => m.SessionID);
    @Html.HiddenFor(m => m.AssemblyID);
    <div style="padding-left: 5px;">
        <table style="width: 100%">
@*            <tr>
                
                <td style="width: 3%">
                    <b>@Resources.Notices.Assembly : </b>
                </td>
                <td style="width: 15%">
                    @Html.DropDownListFor(m => m.AssemblyID, new SelectList(Model.mAssemblyList, "AssemblyID", "AssemblyName"), new { @class = "rounded", @style = "width:85%", @disabled=true })
                </td>
            </tr>
            <tr>
                
                <td style="width: 3%">
                    <b>@Resources.Notices.Session : </b>
                </td>
                <td style="width: 15%">
                    @Html.DropDownListFor(m => m.SessionID, new SelectList(Model.sessionList, "SessionCode", "SessionName"), new { @class = "rounded", @style = "width:85%", @disabled=true })
                </td>
            </tr>*@
            <tr>                
                <td style="width: 3%" , vertical-align: top;>
                    <b>@Resources.Notices.BusinessType : </b>
                </td>
                <td style="width: 15%">
                    @Html.DropDownListFor(m => m.NoticeTypeID, new SelectList(Model.eventList, "EventId", "EventName"), new { @class = "rounded", @style = "width:85%" })
                    <span id="NoticeTypeIDValidation" class="validation_Errors"></span>
                </td>
            </tr>
            <tr>                
                <td style="width: 3%; vertical-align: top;">
                    <b>@Resources.Notices.SubmittedBy : </b>
                </td>
                <td style="width: 15%">
                    @Html.DropDownListFor(m => m.MemberId, new SelectList(Model.memberList, "MemberCode", "Name"), new { @class = "rounded", @style = "width:85%" })
                    <span id="MemberIdValidation" class="validation_Errors"></span>
                </td>
            </tr>
            <tr>                
                <td style="width: 3%; vertical-align: top;"><b>@Resources.Notices.DateReceived : </b>
                </td>
                <td style="width: 15%">
                    @Html.TextBoxFor(m => m.NoticeDate, "{0:MM/dd/yyyy}", new { @class = "DateType rounded" })
                    @Html.ValidationMessageFor(m => m.NoticeDate, "", new { @class = "validation_Errors" })
                </td>
            </tr>
            <tr>                
                <td style="width: 3%; vertical-align: top;"><b>@Resources.Notices.TimeReceived : </b>
                </td>
                <td style="width: 15%">
                    @Html.TextBoxFor(m => m.NoticeTime, new { @id = "NoticeTime", @class = "Qtext" })
                </td>
            </tr>            
            <tr>                
                <td style="width: 3%; vertical-align: top;"><b>@Resources.Notices.NoticeSubject : </b>
                </td>
                <td style="width: 15%">
                    @Html.EditorFor(m => m.Subject, new { @style = "width: 85%; height:40px" })
                </td>
            </tr>
            <tr>                
                <td style="width: 3%; vertical-align: top;"><b>@Resources.Notices.NoticeText : </b>
                </td>
                <td style="width: 15%">
                    @Html.EditorFor(m => m.Notice, new { @style = "width: 85%; height:40px" })
                </td>
            </tr>
            <tr>                
                <td style="width: 3%"></td>
                <td style="width: 15%">
                    <div style="float: left; margin: 10px 0 10px 0;">
                        <input id="btnCreateNotice" type="submit" name="Command" onclick="return ValidateSubmitFormVals();" class="btn btn-primary submit" value="@Resources.Session.Submit" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
}

<script>
    $('<style type="text/css"> .ui-datepicker-close { display: none; } </style>').appendTo("head");
    $.datepicker._gotoToday = function (element) {
        $(element).attr('value', '');
    };

    $(".DateType").datepicker({
        dateFormat: 'mm/dd/yy',
        showButtonPanel: true,
        currentText: 'Clear',
        maxDate: 0,
        setDate: new Date,
        onSelect: function (dateText) {
            if ($(this).attr('id') == 'NoticeDate') {
                $('#NoticeDate').html('');
            }
        }
    });

    function ValidateSubmitFormVals() {
        var NoticeTypeID = $('#NoticeTypeID').val();
        var MemberId = $('#MemberId').val();
        if(NoticeTypeID == 0 || NoticeTypeID =='')
        {
            $("#NoticeTypeIDValidation").text("@Resources.Notices.ValidationNoticeTypeID");
            return false;
        }
        else
        {
            $("#NoticeTypeIDValidation").text("");
        }

        if(MemberId == '' || MemberId == 0)
        {
            $("#MemberIdValidation").text("@Resources.Notices.ValidationMemberId");
            return false;
        }
        else
        {
            $("#MemberIdValidation").text("");
        }
        tinyMCE.triggerSave(false,true);
        return true;
        //var NoticePath = $('#NoticePath').val();
        //if(NoticePath == "")
        //{
        //    if (CheckNoticeFile())
        //    {
        //        return true;
        //    }
        //    else
        //    {
        //        return false;
        //    }
        //}
        //else
        //{
        //    return true;
        //}
    }

    $(function () {
        $('#NoticeTime').timepicker({
            'timeFormat': 'hh:mm tt',            
            'onchange': function (time) {
                $('#NoticeTime').val(time);
            }
        });
        //'value': new Date(),
    });

    function CheckNoticeFile() {
        var isvalid = ValidateUploadedFile("NoticeFile");
        if (isvalid)
            return true;
        else
            return false;
    }

    function ValidateUploadedFile(FileUploadControlID) {
        var flag = false;
        var IfofFile = '#' + FileUploadControlID;
        var file = GetFileNameFromPath($(IfofFile).val());
        if (file != null) {
            var extension = file.substr((file.lastIndexOf('.') + 1));
            //alert("Extension : " + extension);
            switch (extension) {
                case 'pdf':
                    flag = true;
                    break;
                default:
                    flag = false;
            }
        }
        else {
            $("#FileValidation").text("@Resources.SessionCalander.ValidationUploadPFDFile");
            return false;
        }
        if (flag == false) {
            //alert("How you doing?");
            $("#FileValidation").text("@Resources.SessionCalander.ValidationPDFFileFormat");
            return false;
        }
        else {
            var size = GetSizeOfUploadedFile(FileUploadControlID);
            if (size > 3) {
                $("#FileValidation").text("@Resources.SessionCalander.ValidationPDFFileSize");
                return false;
            }
            else {
                $("#FileValidation").text("");
                return true;
            }
        }
        return false;
    }

    // Get file size
    function GetSizeOfUploadedFile(FileUploadControlID) {
        try {
            var fileSize = 0;
            //For Microsoft IE.
            if (navigator.appName == "Microsoft Internet Explorer") {
                var objFSO = new ActiveXObject("Scripting.FileSystemObject");
                var filePath = $("#" + FileUploadControlID)[0].value;
                var objFile = objFSO.getFile(filePath);
                var fileSize = objFile.size; //size in kb
                fileSize = fileSize / 1048576; //size in mb 
            }
                //for FF, Safari, Opeara and Other browsers.
            else {
                fileSize = $("#" + FileUploadControlID)[0].files[0].size; //size in kb
                fileSize = fileSize / 1048576; //size in mb
            }

            return fileSize;
        }
        catch (e) {
            alert("Something went wrong, Please see the detials For further information :" + e);
        }
    }

    function GetFileNameFromPath(strFilepath) {
        var objRE = new RegExp(/([^\/\\]+)$/);
        var strName = objRE.exec(strFilepath);
        if (strName == null) {
            return null;
        }
        else {
            return strName[0];
        }
    }

    function AssemblyChanged() {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        var assemblyID = $('#AssemblyID').val();
        if (assemblyID != "" && assemblyID != null) {
            $('#AssemblyId').val(assemblyID);
            var select = $("#SessionID");
            select.empty();
            var pathurl = '@Url.Action("GetSessionsByAssemblyID", "Notice")';
            $.ajax({
                url: pathurl,
                type: 'GET',
                data: { AssemblyID: assemblyID },
                success: function (data) {
                    $.each(data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                    cl.hide();
                }
            })
        }
    }

    $(document).ready(function () {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();

        if(@Model.NoticeId == 0)
        {
            $('.DateType').datepicker('setDate', new Date, 'dateFormat','MM/dd/yy'); 
        }
        cl.hide();
    });

</script>