﻿@model SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.RotationofMinistersViewModel

@{
    ViewBag.Title = "Create Rotation of Ministers";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@*<h2>CreateAssemblyFile</h2>*@

@Html.Action("LeftNavigationMenu", "SuperAdmin")

@*@Html.Partial("_LeftMenu")*@

<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    @Html.Partial("_BreadcrumbsPartial")
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("GetAllRotationofMinisters", "RotationofMinisters")">@Resources.MasterDataDashboard.RotationofMinistersMasterData</a>
            </li>
            <li>
                <a href="@Url.Action("GetAllRotationofMinisters", "RotationofMinisters")">@Resources.MasterDataDashboard.RotationofMinisters</a>
            </li>
            @*    //<li class="active">@Heading</li>*@
        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>

    </div>

    <div class="page-content">

        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.MasterData
                               
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @if (Model.Mode == "Add")
                    {
                        <text>  @Resources.MasterDataDashboard.CreateRotationofMinisters</text>
                    }
                    else
                    {
                        <text>  @Resources.MasterDataDashboard.EditRotationofMinisters</text>
                    }
                </small>
            </h1>


        </div>

        <!-- /section:settings.box -->

        @*<div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.mode == "Add")
            {
                <h4 class="widget-title lighter">Create Tour </h4>
            }
            else
            {
                <h4 class="widget-title lighter">Edit Tour</h4>
            }

        </div>*@
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">




                            @using (Html.BeginForm("SaveRotationofMinisters", "RotationofMinisters", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                            { 
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.VId)
                                @Html.HiddenFor(model => model.Mode)
                                @Html.HiddenFor(m => m.IsCreatNew)
                                @Html.HiddenFor(m => m.VSessionDate, new { @id = "sessiondatestr" })



                                @*<h4 class="header blue lighter smaller clearfix">Additional details </h4>*@

                                    
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 control-label no-padding-right" for="VAssemblyId">@Resources.MasterDataDashboard.Assembly : </label>
                                    <div class="col-xs-12 col-sm-9">

                                        @Html.DropDownListFor(model => model.VAssemblyId, new SelectList(Model.AssemblyList, "AssemblyCode", "AssemblyName", new SelectListItem { Value = "0", Text = "Select Assembly" }), new { @class = "col-xs-12 col-sm-7 col-md-6", @onchange = "AssemblyChange(this)", @id = "assemblyLst" })
                                        <div class="help-block col-xs-12 col-sm-7 col-md-6 col-sm-reset inline">
                                            <span class="field-validation-error" id="assemblyvalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                            @Html.ValidationMessageFor(model => model.VAssemblyId)
                                        </div>
                                    </div>

                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="VSessionId">@Resources.MasterDataDashboard.Session : </label>
                                    <div class="col-sm-9">

                                        @Html.DropDownListFor(model => model.VSessionId, new SelectList(Model.SessionList, "SessionCode", "SessionName", new SelectListItem { Value = "0", Text = "Select Session" }), new { @class = "col-xs-12 col-sm-7 col-md-6", @onchange = "SessionChange(this)", @id = "sessionLst" })
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            <span class="field-validation-error" id="sessionvalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                            @Html.ValidationMessageFor(model => model.VSessionId)
                                        </div>
                                    </div>

                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="VSessionDateId">@Resources.MasterDataDashboard.SessionDate : </label>
                                    <div class="col-sm-9">

                                        @Html.DropDownListFor(model => model.VSessionDateId, new SelectList(Model.SessionDateList, "Id", "DisplayDate", new SelectListItem { Value = "0", Text = "Select Session Date" }), new { @class = "col-xs-12 col-sm-7 col-md-6", @id = "sessionDateLst", @onchange = "SessionDateChange(this)" })
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            <span class="field-validation-error" id="sessiondatevalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                            @Html.ValidationMessageFor(model => model.VSessionDateId)
                                        </div>
                                    </div>

                                </div>
                                
                                
                              
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="VMinistryId">@Resources.MasterDataDashboard.Ministry : </label>




                                    @*                                        <span class="pull-right inline">
																	<span class="grey">style:</span>

																	<span class="btn-toolbar inline middle no-margin">
																		<span id="chosen-multiple-style" data-toggle="buttons" class="btn-group no-margin">
																			<label class="btn btn-xs btn-yellow active">
																				1
																				<input type="radio" value="1" />
																			</label>

																			<label class="btn btn-xs btn-yellow">
																				2
																				<input type="radio" value="2" />
																			</label>
																		</span>
																	</span>
																</span>*@



                                    <div class="col-sm-9">

                                        @Html.ListBoxFor(m => m.MinistryIds, new SelectList(Model.MinisteryMinisterList, "MinistryID", "MinistryName", 0), new { @id = "DdlAssociatedId", @tabindex = "3", @class = "select", @multiple = "multiple", @style = "width:417px;" })
                                        @*@Html.ListBoxFor(model => model.VMinistryId, new SelectList(Model.MinisteryMinisterList, "MinsitryMinistersID", "MinistryName", new SelectListItem { Value = "0", Text = "Select Session Date" }), new { @id = "DdlAssociatedId",@class = "col-xs-12 col-sm-7 col-md-6 chosen-choices chosen-results active-result chosen-select tag-input-style", @multiple=""})*@
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            <span class="field-validation-error" id="ministeryvalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                            @Html.ValidationMessageFor(model => model.VMinistryId)
                                        </div>
                                    </div>

                                </div>
                                
                                
                                
                                <div class="space-2"></div> 
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="IsActive">@Resources.MasterDataDashboard.IsActive : </label>
                                    <div class="col-sm-9">
                                        @Html.CheckBoxFor(model => model.IsActive)
                                    </div>

                                </div>
                                
                                
                                
                                
                                <div class="space-2"></div>
@*

                                <h4 class="header blue lighter smaller clearfix">Optional details </h4>*@
                              
                                        
                                <div class="space-2"></div> 
                                <div class="form-group hide">
                                    <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="form-field-tags">Tag input:</label>

                                    <div class="col-xs-12 col-sm-10">
                                        <div class="input-group col-xs-12 col-sm-6 ">
                                            <input type="text" name="tags" class="input-xlarge" id="form-field-tags" value="Tag Input Control" placeholder="Enter tags ..." />
                                        </div>
                                    </div>

                                </div>
                                        
                                <div class="space-2"></div> 
                                <hr />  


                                <div class="btn-group pull-right padding-10" style="padding-bottom: 40px;">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->

                                    <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        @Resources.MasterDataDashboard.Reset
                                    </button>
                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple " onclick="return userValid();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                         @Resources.MasterDataDashboard.Save</button>



                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>

                            }



                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<link href="~/Content/MultiSelectList/multiple-select.css" rel="stylesheet" />
<script src="~/Scripts/MultiSelectBox/jquery.multiple.select.js"></script>





<script type="text/javascript">

    function userValid() {


        var As, Se, Sd, Mi;
        As = document.getElementById("assemblyLst").value;
        Se = document.getElementById("sessionLst").value;
        Sd = document.getElementById("sessionDateLst").value;
        Mi = document.getElementById("DdlAssociatedId").value;





        //if ((As == "" || As == null) || (Se == "" || Se == null) || (Sd == "" || Sd == null) || (Mi == "" || Mi == null)) {
        //    $("#assemblyvalidation").html("Assembly Required");
        //    $("#sessionvalidation").html("Session Required");
        //    $("#sessiondatevalidation").html("Session Date Required");
        //    $("#ministeryvalidation").html("Ministery Required");
        //    return false;
        //}
        //return true;




        if (As == "" || As == null) {
            $("#assemblyvalidation").html("Assembly is Required");
        }
        else if (Se == "" || Se == null) {
            $("#sessionvalidation").html("Session is Required");
        }
        else if (Sd == "" || Sd == null) {
            $("#sessiondatevalidation").html("Session Date is Required");
        }
        else if (Mi == "" || Mi == null) {

            $("#ministeryvalidation").html("Ministery is Required");

            return false;
        }
        return true;

    }
    $(function () {
        $('#assemblyLst').focus(function () {
            $('#assemblyvalidation').html("");
        });
    });

    $(function () {
        $('#sessionLst').focus(function () {
            $('#sessionvalidation').html("");
        });
    });
    $(function () {
        $('#sessionDateLst').focus(function () {
            $('#sessiondatevalidation').html("");
        });
    });

    $(function () {

        $('#DdlAssociatedId').focus(function () {
            $('#ministeryvalidation').html("");
        });
    });


</script>



<script>
    function DeleteAssemblyFileInEdit(url) {

        bootbox.confirm("Are you sure to Delete Rotation of Ministers?", function (result) {

            if (result) {
                window.location.href = url;
            }
        })

    }

    $(document).ready(function () {
        $("#assemblyLst").focus();
        $("#ministermain").addClass("active open");
        $("#ministersub").addClass("nav-show").css("display", "block");
        $("#RotationofMinisterlist").addClass("active");
        $("#ministerlinkid").removeClass("fa-comment").addClass("fa-comment-o");


        $("#savebtn").click(function () {
            $("#IsCreatNew").val(true);

            $("#savebtn").click();
        });

        $("#savebtn2").click(function () {

            $("#savebtn").click();

        });


        $("#DdlAssociatedId").multipleSelect({ selectAll: true, placeholder: "--Select Ministry--" });
        //$(".Member").attr("checked", "checked");
    });


    function resetFields() {
        $(".field-validation-error").empty();
        $("#assemblyLst").focus();

    }

</script>

<script>



    function AssemblyChange() {

        var AssemblyId = $("#assemblyLst option:selected").val();

        $.ajaxSetup({ cache: false });
        var path = '@Url.Action("ChangeAssembly", "RotationofMinisters")';

        $.ajax({
            url: path,
            type: 'GET',
            data: {
                assemblyId: AssemblyId
            },
            success: function (data) {
                var session = "<option value=''> --Select Session-- </option>";
                for (var x = 0; x < data.length; x++) {
                    session += "<option value=" + data[x].SessionCode + ">" + data[x].SessionName + "</option>";
                }
                $("#sessionLst").html(session).show();

                var sessiondate = "<option value=''> --Select Session Date-- </option>";
                $("#sessionDateLst").html(sessiondate).show();

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    function SessionChange() {
        var SessionId = $("#sessionLst option:selected").val();
        var AssemblyId = $("#assemblyLst option:selected").val();
        var path = '@Url.Action("ChangeSession", "RotationofMinisters")';

        $.ajaxSetup({ cache: false });
        $.ajax({
            url: path,
            type: 'GET',
            data: {
                AssemblyId: AssemblyId,
                SessionId: SessionId
            },
            success: function (data) {
                var session = "";
                for (var x = 0; x < data.length; x++) {
                    session += "<option value=" + data[x].Id + ">" + data[x].DisplayDate + "</option>";
                }
                $("#sessionDateLst").html(session).show();

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    function SessionDateChange(Ele) {


        var sessionDatetext = Ele.text;

        $("#sessiondatestr").val(sessionDatetext);

    }



</script>
@if (ViewBag.Success != null)
{
<script>

    $(document).ready(function () {

        alert('@ViewBag.Success');

    });

</script>

}