﻿
@model SBL.DomainModel.Models.Notice.tMemberNotice

<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
<script src="~/Scripts/jquery.alerts.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.timepicker1.js"></script>

@using (Ajax.BeginForm("UpdateQEntry", "NoticeDetails", new AjaxOptions { OnSuccess = "LoginSuccess", HttpMethod = "POST" }, new {  enctype = "multipart/form-data" }))
{

    <div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px; border: 1px solid #C5C5C5; border: 1px solid #C5C5C5;">
       Notices >> Update
    </div>
    <div >
        
                    @Html.HiddenFor(m => m.NoticeId, new { @id = "hdnNoticeID" })
        <table style="margin-left: 20px; width: 97%">
            <tr>
                <td style="width: 56%">
                    <table style="width: 98%">
                        <tr>
                            <td >
                                <strong>@Resources.PaperLaidDepartment.BusinessType
                                </strong>
                            </td>
                            <td>
                                <div>
                                    @Html.HiddenFor(m => m.SessionID)
                                    @Html.HiddenFor(m => m.AssemblyCode)
                                    @Html.HiddenFor(m => m.DepartmentId)
                                
                                     @Html.DropDownListFor(m => m.EventId, new SelectList(Model.mEvents, "EventId", "EventName", 0), new { @id = "DdlCategory", @tabindex = "1", @class = "select-style", style = "width: 325px", @onchange = "callView()", @disabled = true })
                                   
                                </div>
                            </td>
                        </tr>
                      
                        <tr>
                            <td >
                                <strong>Submitted By:
                                </strong>
                            </td>
                            <td>
                                <div>                                  
                                    @Html.DropDownListFor(m => m.MemberId, new SelectList(Model.mMemberModel, "MemberCode", "Name", 0), new { @id = "DdlMember", @tabindex = "3", @class = "select", @style = "width:325px;",@disabled = true  })
                                    @Html.ValidationMessageFor(m => m.MemberId, "", new { style = "color: red;" })
                                </div>
                            </td>
                        </tr>
                           <tr>
                            <td >
                                <strong>Recieved Date
                                </strong>
                            </td>
                            <td>
                                <div>                                  
                                  @Html.TextBoxFor(m => m.NDate, new { @id = "TxtDate", @class = "Qtext", @readonly = true, @style = "width:325px;",@disabled = true  })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                <strong>Recieved Time
                                </strong>
                            </td>
                            <td>
                                <div>                                  
                                   @Html.TextBoxFor(m => m.NoticeTime, new { @id = "TxtTime", @class = "Qtext", @readonly = true, @style = "width:325px;",@disabled = true  })
                                </div>
                            </td>
                        </tr>
                         <tr>
                            <td >
                                <strong>Title
                                </strong>
                            </td>
                            <td>
                                <div>                                  
                                @*  @Html.EditorFor(m => m.Title)*@
                                  @Html.EditorFor(m => m.Title, new { @class = "Expandable" })
                                </div>
                            </td>
                        </tr>
                         <tr>
                            <td >
                                <strong>Details
                                </strong>
                            </td>
                            <td>
                                <div>     
                                @Html.EditorFor(m => m.Details, new {@style = "width:10px;height:25px;", @tabindex = "11" })                           
                              
                                </div>
                            </td>
                        </tr>
                     <tr>
                            <td >
                              
                            </td>
                            <td>
                                <div>  
                                                             
                                  <input  id="Update" type="button" onclick="UpdateEntry()" value="Update"  />
                                     <input  id="Cancel" type="button" onclick="cancelEntry()" value="Cancel"  />
                                </div>
                            </td>
                        </tr>
                         
                             
                           <tr>
                            <td >
                              
                            </td>
                            <td>
                                <div>                                  
                                 
                                </div>
                            </td>
                        </tr> 
                      
                    </table>
                 
                            
                         
                </td>
               
        </table>
        
       
    </div>
}

<script>
    $(function () {
        $('#TxtTime').timepicker({
            'timeFormat': 'hh:mm tt',
            'onchange': function (time) {
                $('#TxtTime').val(time);
            }
        });
        //'value': new Date(),
    });
    $("textarea#TxtTitle").focus(function () {
        $("textarea#TxtTitle").animate({ height: "150px" }, 100)
    })

    $("textarea#TxtTitle").blur(function () {
        $("textarea#TxtTitle").animate({ height: "100px" }, 100)
    })

    function UpdateEntry() {

        var NoticeId = document.getElementById("hdnNoticeID").value;
     
       // var Title = document.getElementById("TxtTitle").value;
        var Title = $("#Title").val();
      
        var Detail = $("#Details").val();
    
        $.getJSON(" /Notices/NoticeDetails/UpdateNoticeEntry",
               {
                   NoticeId: NoticeId,
                   Title: Title,
                   Details: Detail
               },
               function (data) {
                   alert("Update successfully");
                  @* var url = '@Url.Action("Index")';                
                   window.location.href = url;*@
                   GetNoticed()

               });
    }

    function cancelEntry() {


        var url = '@Url.Action("Index")';
          window.location.href = url;
          GetNoticed()

      }
    function GetNoticed() {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetNotices", "NoticeDetails")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $(".mainbar").html(data)
                ClearControls();
                cl.hide();
            }
        });
    }
   
    
</script>