﻿@model SBL.DomainModel.Models.Notice.tMemberNotice

@{
    int count = 0;
    int startpage = 0;
    int endPage = 0;
    float rcnt = @Model.ResultCount;
    float rperPage = @Model.RowsPerPage;
    float cnt = rcnt / rperPage;
    int b = (int)cnt;
    float c = (float)cnt - b;  
}

@if (c > 0)
{
    count = b + 1;
}
else
{
    count = b;
}

@{
    startpage = ((@Model.selectedPage * 10) - 10) + 1;
    endPage = startpage + 9;           
}

@if (Model.loopStart <= 0)
{
    Model.loopStart = 1;
    Model.loopEnd = 5;
}

<style>
    a.classname {
        background: url(/Images/pdf.jpg) no-repeat top center;
        background-size: 25px 25px;
        display: block;
        height: 32px;
        text-indent: -9999px;
    }
</style>
   
<div class="grid_cantainer">
    <div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px;border: 1px solid #C5C5C5;">
        Notices >> @Resources.PaperLaidDepartment.DDReceived
    </div>
    @if (count > 0)
    {        
        <div class="grid-ex-footer">
            <div class="grid-pagination grid-paginationNew">
                @if (count < Model.loopEnd)
                {
                    Model.loopEnd = count;
                }

                <a href="javascript:void(0);" onclick="NextButton(@Model.RowsPerPage,1,1,5)" title="@Resources.Common.GoToTheFirstPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">@Resources.Common.FirstPage</span></a>
                @if (Model.loopStart > 5)
                {                           
                    <a href="javascript:void(0);" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)" title="@Resources.Common.GoToThePreviousPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">@Resources.Common.PreviousPage</span></a>
                }

                <ul class="gridpage-numbers">
                    @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                    {
                        if (i == @Model.selectedPage)
                        {                                    
                        <li><span class="grid-page-selected">@i</span></li>
                        }
                        else
                        {
                        <li><a href="javascript:void(0);" onclick="NextButton(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                        }
                    }
                </ul>
                @if (Model.loopStart + 5 < @count)
                {
                    <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)" title="@Resources.Common.GoToTheNextPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">@Resources.Common.NextPage</span></a>
                }
                <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@count,@count-5,@count)" title="@Resources.Common.GoToTheLastPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">@Resources.Common.LastPage</span></a>
                <span class="grid-page-info">@Model.loopStart - @Model.loopEnd @Resources.Common.Of @count @Resources.Common.Pages.</span>
            </div>
        </div>
    }

    <div>
        @if (Model.tQuestionModel != null)
        {
            if (Model.tQuestionModel.Count > 0)
            {
            <table style="width: 100%" class="simple-table-style">
                <tr>
                    <th class="grid_th" style="border-width: 1.5px; width: 50px; height: 30px; text-align: center">Diary Number</th>
                    <th class="grid_th" style="border-width: 1.5px; width: 100px; height: 30px; text-align: center">AskedBy</th>
                    <th class="grid_th" style="border-width: 1.5px; width: 100px; height: 30px; text-align: center">Received Date</th>
                    @*<th class="grid_th" style="border-width: 1.5px; width: 50px; height: 30px; text-align: center">@Resources.Notices.Action</th>*@
                </tr>
                @foreach (var item in Model.tQuestionModel)
                {
                    var trID = @item.QuestionID;
                    <tr onclick="ViewFullDeails(@item.NoticeId), ChangeColortr(this.id)" class="ChangeColortr" id="@trID" style="cursor:pointer">
                        <td style="border-width: 1px; text-align: center; vertical-align: top;">@item.NoticeNumber</td>
                        <td style="border-width: 1px; text-align: center; vertical-align: top;">@item.MemberName</td>
                        <td style="border-width: 1px; text-align: center; vertical-align: top;">@Convert.ToDateTime(item.NoticeDate).ToString("dd/MM/yyyy")</td>
                        

                        @*<td style="border-width: 1px; text-align: center; vertical-align: top;">
                             <a href="#" onclick="ViewFullDeails(@item.QuestionID)">
                                <img src="~/Images/Common/Details.jpg" title="@Resources.PaperLaidDepartment.ViewDetails" style="width: 25px; height: 25px" alt="Details" /></a>

                            <a class="PublishQuestion" id="@item.QuestionNumber" title="Submit Question" href="javascript:void(0)"  style="color:blue;">
                                <img src="~/Images/Common/submit.jpg" width="25px" height="25px" /></a>
                        </td>*@
                    </tr>
                }
            </table>
            }
            else
            {
            <p>
                @Resources.Common.NoRecords
            </p>
            }
        }
        else
        {
            <p>
                @Resources.Common.NoRecords
            </p>
        }
    </div>

    @if (count > 0)
    {
        <div class="grid-ex-footer">
            <div class="grid-pagination grid-paginationNew">
                @if (count < Model.loopEnd)
                {
                    Model.loopEnd = count;
                }

                <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,1,1,5)" title="@Resources.Common.GoToTheFirstPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">@Resources.Common.FirstPage</span></a>
                @if (Model.loopStart > 5)
                {                           
                    <a href="javascript:void(0);" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)" title="@Resources.Common.GoToThePreviousPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">@Resources.Common.PreviousPage</span></a>
                }

                <ul class="gridpage-numbers">
                    @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                    {
                        if (i == @Model.selectedPage)
                        {                                    
                        <li><span class="grid-page-selected">@i</span></li>
                        }
                        else
                        {
                        <li><a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                        }
                    }
                </ul>
                @if (Model.loopStart + 5 < @count)
                {
                    <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)" title="@Resources.Common.GoToTheNextPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">@Resources.Common.NextPage</span></a>
                }
                <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@count,@count-5,@count)" title="@Resources.Common.GoToTheLastPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">@Resources.Common.LastPage</span></a>
                <span class="grid-page-info">@Model.loopStart - @Model.loopEnd @Resources.Common.Of @count @Resources.Common.Pages.</span>
            </div>
        </div>
    }
</div>

<script>
    function ChangeColortr(control) {
        $(".ChangeColortr").each(function () {
            $(this).css({ 'background': 'none', 'color': 'black' })
        })
        $("#" + control).css({ 'background-color': '#428bca', 'color': 'white' })
    }

    function ViewFullDeails(value) {
        $("#RightSidebar").html('');
        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();
        $.ajax({
            url: "/Notices/NoticeDetails/GetPdfNoticeID",
            type: 'GET',
            data: {
                NoticeID: value,
            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data);
                    GetDataByID(value);
                    cl2.hide();
                   
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }
   
    function GetDataByID(value) {
        //alert("test");
        $(".mainbar").html('');
        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();
        $.ajax({
            url: "/Notices/NoticeDetails/GetDataNoticeID",
            type: 'GET',
            data: {
                NoticeID: value,
            },
            success: function (data) {
                //alert(data)
                if (data) {
                    $(".mainbar").html(data)
                    cl2.hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }
    function NextButton(PageNumber, RowsPerPage, loopStart, loopEnd) {
        alert("ttt")
        //var cl = new CanvasLoader('canvasloader-container-Grid');
        //cl.show();
        var PageNumber = PageNumber;
        alert(PageNumber)
        var RowsPerPage = RowsPerPage;
        alert(RowsPerPage)
        var loopStart = loopStart;
        alert(loopStart)
        var loopEnd = loopEnd
        alert(loopEnd)
        $.get("/Notices/NoticeDetails/PendingStaredQuestion", {
            PageNumber: PageNumber,
            RowsPerPage: RowsPerPage,
            loopStart: loopStart,
            loopEnd: loopEnd,
        }, function (data) {
            //cl.hide();
            $("#divDataContainer").html(data);
        });
    }

    function NextAndPreviousButton(rPage, pageNo, lStart, lEnd) {
        var cl = new CanvasLoader('canvasloader-container-Grid');
        cl.show();
       
        $.get("/SubmitQuestion/SubmitQuestion/PartialPendingList", {
          
        }, function (data) {
            cl.hide();
            $("#divSearchQues").html(data)

        });
    }
</script>
