﻿@model SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.PaperCategoryTypeViewModel

@{
    ViewBag.Title = "CreatePaper";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@Html.Action("LeftNavigationMenu", "SuperAdmin")
<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
   @Html.Partial("_BreadcrumbsPartial")
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "PaperCategoryType")">@Resources.MasterDataDashboard.Admin</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "PaperCategoryType")">@Resources.MasterDataDashboard.PaperCategoryTypeDetails</a>
            </li>
            
        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
        @*<div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>*@

    </div>

    <div class="page-content">
      
        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.MasterData                              
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.PaperCategoryTypeDetails  
                </small>
            </h1>


        </div>

        <!-- /section:settings.box -->

        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.CreatePaperCategory</h4>
            }
            else
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.EditPaperCategory</h4>
            }

        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            @using (Html.BeginForm("SavePaper", "PaperCategoryType", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                            { 
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.PaperCategoryTypeId)
                                @Html.HiddenFor(model => model.Mode)

                                @*<h4 class="header blue lighter smaller clearfix">@Resources.MasterDataDashboard.Basicdetails </h4>*@
                                <div class="tabbable">
                                
                                    <div class="tab-content no-border padding-24">
                                        <div class="tab-pane in active" id="news-english">

                                          

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.PaperCategoryName</label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.Name, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.PaperCategoryName, @autocomplete = "off" ,@maxlength ="41"  })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="Namevalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.Name)
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.PaperCategoryNameHindi</label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.NameLocal, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.PaperCategoryNameHindi, @autocomplete = "off" ,@maxlength ="61"  })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        @Html.ValidationMessageFor(model => model.NameLocal)
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="space-2"></div> 
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.IsActive </label>
                                                <div class="col-sm-9">
                                                   @Html.CheckBoxFor(model => model.IsActive)                                                         
                                                </div>

                                            </div>

                                            

                                        </div>
                                     

                                    </div>
                                </div>                              
                                <div class="btn-group pull-right padding-10">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->
                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple " onclick="return userValid();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        @Resources.MasterDataDashboard.Save</button>
                                    <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        @Resources.MasterDataDashboard.Reset
                                    </button>
                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>
                            }
                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="../assets/js/jquery.gritter.min.js"></script>
        <script src="../assets/js/jquery.maskedinput.min.js"></script>



<script type="text/javascript">

    function userValid() {
        var Name;
        Name = document.getElementById("Name").value;
        

        if ((Name == "" || Name == null)) {
            $("#Namevalidation").html("Name Required");
            

            return false;
        }
        return true;

    }
    $(function () {
        $('#Name').focus(function () {
            $('#Namevalidation').html("");
        });
    });

   
    </script>


<script>
    $(document).ready(function () {
        $("#Name").focus();

        $("#othermain").addClass("active open");
        $("#othersub").addClass("nav-show").css("display", "block");
        $("#pctlist").addClass("active");
        $("#otherlinkid").removeClass("fa-comment").addClass("fa-comment-o");

    });
    function resetFields() {
        $(".field-validation-error").empty();
        $("#Name").focus();
    }
</script>

