﻿@model SBL.DomainModel.Models.User.mUsers
@using SBL.eLegistrator.HouseController.Web.Utility

@{
    ViewBag.Title = "UpdateMemberUserDetails";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    
}

@Scripts.Render("~/bundles/validations")
@*@Scripts.Render("~/bundles/Ajax")
@Styles.Render("~/bundles/jQueryCss")
@Scripts.Render("~/bundles/multipleCheckDropDown")
@Styles.Render("~/bundles/multipleCheckDropDownCSS")*@

<script src="~/Scripts/jquery-te-1.4.0.min.js"></script>
<script src="~/Scripts/MicrosoftAjax.js"></script>
<script src="~/Scripts/MicrosoftMvcAjax.js"></script>

<link href="~/Content/jquery-te-1.4.0.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/MultiSelectList/multiple-select.css" rel="stylesheet" />
@*@Scripts.Render("~/bundles/maskinput")*@
@*<script src="~/Scripts/bootstrap.min.js"></script>*@
<script src="~/Scripts/MultiSelectBox/jquery.multiple.select.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>
@*@Scripts.Render("~/bundles/maskinput")*@
<style>
    /*.addtblcss tr td {
        padding: 8px;
        border: 1px solid rgb(187, 181, 181);
    }

    .addtblcss tr th {
        padding: 8px;
        border: 1px solid rgb(187, 181, 181);
    }*/
</style>




@*<script src="~/ScriptigFunctions/UserRegistrationForm/UserRegistrationScriptingFunctions.js"></script>*@
<div class="page-content">



   @if(Model.OfficeLevel=="2"||Model.OfficeLevel=="3"||Model.OfficeLevel=="4")
   {
       if(Model.UserType!=37)
       {
       <div class="row" style="padding-bottom: 20px;">
    
        <div id="divdeptsendRequest">
                @Html.Partial("_UpdateDepartmentForm", Model)
        </div>
      

    </div>
   }
   }
    <div class="row" style="padding-bottom: 20px;">
       
        <div id="divSendRequest">
              @Html.Partial("_SendRequstForm", Model)

        </div>
      

    </div>

    <div class="widget-header widget-header-flat">

        <h4 class="widget-title lighter">Requested List </h4>

    </div>
    <div class="row">
        <div class="col-xs-12">

            <div class="col-xs-10">
                <div>

                    <div class="form-group">
                        <div class="col-sm-9" style="margin-left: 133px; width: 100%;">
                            <div id="DivAccessReqlist" style="">
                                @Html.Partial("RequestedList", Model)
                            </div>

                        </div>
                    </div>

                </div>


            </div>

        </div>

    </div>

    <!-- /.row -->
    <div class="row">
        <div class="clearfix form-actions">
            <div class="col-xs-12">
                <div class="col-xs-2"></div>
                <div class="col-xs-10">

                    <div class="col-md-offset-3 col-md-9">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-content -->


@Scripts.Render("~/Scripting/UpdateUserMemberDetails")

<script>
    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
               { "bSortable": false },
              null, null,

              { "bSortable": false }

            ]
        });
    });
    $(document).ready(function () {

        // GetUserType();

        //$('#ddlusertype').change(function () {
        //    var secretoryId = $('#ddlusertype').val();
        //    alert(secretoryId);
        //    if (secretoryId != 0) {
        //        $.ajaxSetup({ cache: false });
        //        $.ajax({
        //            url: "/UserManagement/UserRequest/GetSelectedDeptBySecID",
        //            type: 'GET',
        //            data: {
        //                secratoryId: secretoryId
        //            },
        //            success: function (data) {
        //                if (data) {

        //                }
        //                else {

        //                }
        //            },
        //            error: function (xhr, ajaxOptions, thrownError) {
        //                alert(xhr.responseText);
        //                alert(thrownError);
        //            }
        //        });
        //    }
        //    else {
        //        $('#DDLSecretaryValidation').text("Please Select Secretary");
        //        $("#SecretaryDepartmentList").hide();
        //    }
        //});
    });
    function GetUserType() {
        //alert('ddd');
        var key = 1;
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/UserManagement/UserRequest/GetUserType",
            type: 'GET',
            data: {
                // key: key
            },
            success: function (data) {

                if (data != null && data != "") {
                    //alert(data);
                    //$("#DivfrstLavelDropDown").html(data);
                    return false;
                }
                else {

                    return true;


                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }
    function GetUserActionList() {

        var key = 1;
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/UserManagement/Module/GetUserType",
            type: 'GET',
            data: {
                // key: key
            },
            success: function (data) {

                if (data != null && data != "") {
                    //alert(data);
                    $("#DivfrstLavelDropDown").html(data);
                    return false;
                }
                else {

                    return true;


                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }
</script>


