﻿@model  SBL.eLegistrator.HouseController.Web.Areas.PublishDocument.Models.PublishDocumentViewModel

@{  int count = 0;
  
}

<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }

    .footer .footer-inner .footer-content {
        bottom: 0px;
    }
</style>
@Html.HiddenFor(m => m.UserType)
<div class="widget-box">
    <div class="widget-header">
        <h4 class="widget-title">About Office/Institution
        </h4>

        <div class="widget-toolbar no-border">
            <div class="ace-settings-container" id="ace-settings-container">
                <button id="btnNew" class="btn  btn-sm btn-info" onclick="PopulatePassRequest('0','Add')">
                    <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                    <span class="bigger-110">@Resources.PaperLaidDepartment.New</span>
                </button>
            </div>
        </div>
    </div>
    <div class="widget-body">
        <div class="widget-main">
            <div class="clearfix">
            </div>
            <div class="table-responsive">

                <!-- PAGE CONTENT BEGINS -->

                <div class="pass-table">
                    @if (Model.PublishDocumentList != null)
                    {
                        if (Model.PublishDocumentList.Count() > 0)
                        {       
                        
                        <div class="table-header">
                            <div class="form-group">
                                @if (ViewBag.Msg != null)
                                {
                                    <div class="@ViewBag.Class" id="MsgDiv">
                                        <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
                                        <strong><i class="ace-icon fa fa-check-square-o"></i>@ViewBag.Notification ! </strong>@ViewBag.Msg
                                    </div>
                                }

                            </div>
                        </div>  
                        <table class="table  table-bordered  dataTable" id="tblPublishDetails" aria-describedby="sample-table-2_info">
                            <thead>
                                <tr role="row">
                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>
                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Office</th>

                                    @*<th class="sorting SortingData" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Document Type</th>*@
                                     <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Subject</th>
                                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Date</th>
                                                                        <th class="sorting SortingData" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">File</th>
                                                                       


                    
                                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Action</th>

                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                @foreach (var item in Model.PublishDocumentList)
                                {
                                    count = count + 1; 
                  
                                    <tr>
                                        <td class="center">
                                            @count
                                        </td>
                                        <td>
                                            @item.FromOfficeName
                                        </td>


@*                                        <td>
                                            @item.DocumentType
                                        </td>*@
                                           <td style="width: 15%">@item.Subject</td>
                                        <td>
                                            @item.DocumentCreatedDate
                                        </td>

                                        <td class="center">
                                            <a data-rel="tooltip" class="green tooltip-success" title="@item.Attachment" onclick="FileDownload(@item.PublishDocumentID);" href="~/SecureFileStructure/PublishDocument/File/Office/@item.Attachment" target="_blank">
                                                @item.Attachment
                                            </a>
                                        </td>

                                     
                                        <td class="center" style="width: 10%">
                                            <div class="hidden-sm hidden-xs action-buttons">

                                                <a data-rel="tooltip" class="green tooltip-success" title="Edit" onclick="PopulatePassRequest(@item.PublishDocumentID,'Edit');" href="#">
                                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                </a>

                                                <a data-rel="tooltip" class="red tooltip-error" title="Delete" id="@item.PublishDocumentID"  onclick="DeleatePublishDocument(@item.PublishDocumentID);"  href="#">
                                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                </a>

                                            </div>
                                        </td>

                                    </tr>                                                                
                                }

                            </tbody>
                        </table>
                        <!-- PAGE CONTENT ENDS -->
                        <!-- PAGER START -->
@*<div>@{Html.RenderPartial("~/Areas/AccountsAdmin/Views/Shared/_Pager.cshtml");}</div>*@
                        <!-- PAGER ENDS -->
                        }
                        else
                        {
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="alert alert-info">
                                    <strong>No Document Found</strong><br />
                                </div>
                            </div>
                        </div>
                        }

                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<!-- /.col -->
<script type="text/javascript">
    function CheckFunction() {
        //do nothing
    }
    $(document).ready(function () {
        $('#tblPublishDetails').dataTable({
            "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "iDisplayLength": 5,
        });
        setTimeout(function () {
            $("#MsgDiv").slideUp(400);
        }, 2000);

    });

    function DeleatePublishDocument(Id) {
        debugger

        $("#loader-wrapper").show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/PublishDocument/PublishDocument/DeletePublisDocument",
            type: 'GET',
            data: {
                Id: Id
            },
            success: function (data) {
                debugger;
                $('#divDataContainer').empty();
                $('#divDataContainer').append(data);
                $("#FormPart").html("");


                $("#loader-wrapper").hide();
            },
            error: function (data) {
                debugger;
                $('#divDataContainer').empty();
                $('#divDataContainer').append(data);
                $("#FormPart").html("");
                $("#loader-wrapper").hide();

            }
        });

    }

    function PopulatePassRequest(Id, Mode) {
        var UserType = $("#UserType").val();
        $("#loader-wrapper").show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/PublishDocument/PublishDocument/PopulatePublisDocument",
            type: 'GET',
            data: {
                Id: Id,
                Mode: Mode

            },
            success: function (data) {
                debugger;
                if (UserType == "5") {
                    $("#FormPart").empty();
                    $("#FormPart").html(data);
                }
                else {
                    $("#RightSidebar").empty();
                    $("#RightSidebar").html(data);
                }

                $("#loader-wrapper").hide();
            },
            error: function (data) {
                debugger;
                if (UserType == "5") {
                    $("#FormPart").empty();
                    $("#FormPart").html(data.responseText);
                }
                else {
                    $("#RightSidebar").empty();
                    $("#RightSidebar").html(data.responseText);
                }
                $("#loader-wrapper").hide();

            }
        });

    }
</script>
