﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV

@using SBL.eLegistrator.HouseController.Web.Utility;



<script src="~/assets/js/bootbox.min.js"></script>
<link href="~/Content/bootstrapUp/jquery.fileupload.css" rel="stylesheet" />

<style>
        .footer .footer-inner .footer-content {
        padding-top: 2px;
    }
</style>
<script src="~/assets/js/jquery-ui.custom.min.js"></script>

@using (Ajax.BeginForm("PaperLaidSubmitt", "HouseCommitteePaperLaid", new AjaxOptions { OnSuccess = "onSuccess()", HttpMethod = "POST" }, new { @id = "PaperLaidForm", enctype = "multipart/form-data", @data_ajax = "true" }))
{
    @Html.AntiForgeryToken()
    <div class="widget-header widget-header-flat">        
        <h4 class="widget-title">Submit Committee Report to House</h4> 
    </div>      
    
     <div class="widget-body">
       
        @Html.Hidden("PaperLaidIdFullRecord", @Model.PaperLaidId, new { @id = "PaperLaidId" })
        @Html.HiddenFor(m => m.AssemblyId)
        @Html.HiddenFor(m => m.AssemblyId)
        @Html.HiddenFor(m => m.SessionId)     
        @Html.HiddenFor(m => m.BOTStatus, new { @id = "hdnBillNumberValue" })
       
         <div class="widget-main no-padding-right no-padding-left">
             <div class="profile-user-info profile-user-info-striped">
                 <div class="profile-info-row">
                 </div>

                  <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.BusinessType </div>

                      <div class="profile-info-value">
                          <span id="spnbussinesstype" class="">
                              @if (Model.PaperLaidId == null || Model.PaperLaidId == 0)
                              {
                                  @Html.DropDownListFor(m => m.EventId, new SelectList(Model.mEvents, "EventId", "EventName", 0), new { @id = "DdlCategory", @tabindex = "1", @class = "select-style", style = "width: 85%", @onchange = "callView()" })
                                    
                              }
                              else
                              {
                                 
                                  @Html.DropDownListFor(m => m.EventId, new SelectList(Model.mEvents, "EventId", "EventName", 0), new { @id = "DdlCategory", @tabindex = "1", @class = "select-style", style = "width: 85%", @onchange = "callView()", @disabled = true })
                                  @Html.HiddenFor(m => m.PaperLaidId)
                                  @Html.HiddenFor(m => m.EventId)
                        
                              }
                              @Html.ValidationMessageFor(m => m.EventId, "", new { @id = "eventId", @style = "color:red" })
                          </span>
                      </div>
                </div>
                  <div class="profile-info-row">
                    <div class="profile-info-name">Report Type </div>

                    <div class="profile-info-value">
                        <span id="spnBillType" class="">                                                       
                           @Html.DropDownListFor(m => m.ReportTypeId, new SelectList(Model.eFilePaperTypeList, "PaperTypeID", "PaperType", "Choose Report Type"), new { @id = "DdlBillType", @tabindex = "1", @class = "select-style", style = "width: 85%" })
                           @Html.ValidationMessageFor(m => m.ReportTypeId, "", new { @style = "color:red" }) 
                        </span>
                    </div>
              
                </div>
                   

                  <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.Department</div>

                        <div class="profile-info-value">
                            <span>@Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.mDepartment, "deptId", "deptname", 0), new { @id = "DdlDepartment", @tabindex = "1", @class = "select-style", @style = "width:85%" })
                                @Html.ValidationMessageFor(m => m.DepartmentId, "", new { @style = "color:red" })
                                @Html.HiddenFor(m => m.DepartmentId)
                                @Html.HiddenFor(m => m.QuestionID)</span>
                        </div>
                    </div>

                   <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Minister </div>

                    <div class="profile-info-value">
                        <span id="spnMinistryId" class="">
                             @Html.DropDownListFor(m => m.MinistryId, new SelectList(Model.mMinisteryMinister, "MinistryId", "MinisterMinistryName", 0), new { @id = "DdlMinistry", @tabindex = "1", @class = "select-style", @style = "width: 85%;" })
                        @Html.HiddenFor(m => m.MinistryId)
                        @Html.ValidationMessageFor(m => m.MinistryId, "", new { @style = "color:red" })
                        </span>
                    </div>

                </div>  

                  <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.DesiredDateToLaid </div>

                    <div class="profile-info-value">
                        <span id="spnDesiredDate" class="">
                            @Html.DropDownListFor(m => m.DesireLayingDateId, new SelectList(Model.mSessionDates, "Id", "DisplayDate", 0), new { @id = "DdlSessioDates", @tabindex = "1", @class = "select-style", style = "width: 85%" })

                        </span>
                    </div>
                </div>                  

                  <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Title <b style="color: red">*</b></div>

                    <div class="profile-info-value">
                        <span id="spnTitle" class="">
                           @Html.TextAreaFor(m => m.Title, new { @id = "Title", @style = "width:  99%" })
                        <span class="field-validation-error" id="TitleValidation" style="color: red"></span>
                        </span>
                    </div>
                </div>

                 <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Description <b style="color: red">*</b></div>

                    <div class="profile-info-value">
                        <span id="spnDescriptions" class="">
                           @Html.TextAreaFor(m => m.Description, new { @id = "Description", @style = "width:  99%" })
                        <span class="field-validation-error" id="DescriptionValidation" style="color: red"></span>
                        </span>
                    </div>
                </div>

                  <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.ProvisionUnderWhich <b style="color: red"></b></div>

                    <div class="profile-info-value">
                        <span id="spnProvision" class="">
                            @Html.TextAreaFor(m => m.ProvisionUnderWhich, new { @id = "ProvisionUnderWhich", @style = "width:  99%" })
                            <span class="field-validation-error" id="ProvisionUnderWhichValidation" style="color: red"></span>
                        </span>
                    </div>
                </div>

                 
                  <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Remark </div>

                    <div class="profile-info-value">
                        <span id="spnRemark" class="">
                            @Html.TextAreaFor(m => m.Remark, new { @id = "Remark", @style = "width:  99%" })
                        </span>
                    </div>
                </div>


                     <div class="profile-info-row">

                    <div class="profile-info-name">@Resources.PaperLaidDepartment.PaperToBeLaid</div>
                    <div class="profile-info-value">

                        <div class="alert alert-block alert-success">

                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>@Resources.PaperLaidDepartment.Choosefile</span>
                                <input style="font-size: 22px;" id="NoticefilePaerLaid" accept=".pdf" type="file" name="NoticefilePaerLaid">
                            </span>
                            <br />
                            <br />

                            <div style="width: 100%;" id="Noticefileuploadcontant">
                                <div style="width: 100%;">
                                    <span id="removeUploadNotice" onclick="removefileuploadNotice()" class="glyphicon glyphicon-remove" style="color: red; position: relative; float: right;"></span>
                                    <div id="file_nameNotice" class="file_nameNotice"></div>
                                    <div class="file_sizeSup"></div>
                                </div>
                                <div style="width: 100%;">
                                    <div class="show_hide">
                                        <div class="progressNoticeMain" style="height: 10px; width: 400px">
                                            <div class="progress-bar" id="billPDF" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" style="width: 0%;">
                                                <span class="sr-only">0% complete</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                @*</div>*@
                            </div>
                            @if (@Model.FileName != null)
                            {
                                 <a href="/SecuredFiles/@Model.PaperLaidId,MP"  target="_blank">@Resources.PaperLaidDepartment.PaperVer @Model.FileVersion</a>
                            }
                            <span class="field-validation-error" id="FileValidation" style="color: red"></span>
                            @*</span>*@

                        </div>
                    </div>
                </div>


                   <div class="profile-info-row">

                    <div class="profile-info-name">@Resources.PaperLaidDepartment.DocPaperToBeLaid</div>
                    <div class="profile-info-value">

                        <div class="alert alert-block alert-success">

                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>@Resources.PaperLaidDepartment.Choosefile</span>
                                <input style="font-size: 22px;" id="NoticeDocfilePaerLaid" accept="application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" type="file" name="NoticeDocfilePaerLaid">
                            </span>
                            <br />
                            <br />

                            <div style="width: 100%;" id="NoticeDocfileuploadcontant">
                                <div style="width: 100%;">
                                    <span id="removeUploadNoticeDoc" onclick="removefileuploadNoticeDoc()" class="glyphicon glyphicon-remove" style="color: red; position: relative; float: right;"></span>
                                    <div id="file_nameNoticeDoc" class="file_nameNoticeDoc"></div>
                                    <div class="file_sizeSupDoc"></div>
                                </div>
                                <div style="width: 100%;">
                                    <div class="show_hide">
                                        <div class="progressNoticeMainDoc" style="height: 10px; width: 400px">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" style="width: 0%;">
                                                <span class="sr-only">0% complete</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                @*</div>*@
                            </div>
                            @if (@Model.DocFileName != null)
                            {
                                
                               <a  href="/SecuredFiles/@Model.PaperLaidId,MD"  target="_blank">@Resources.PaperLaidDepartment.ViewDownload</a>
                            }
                        </div>
                    </div>
                </div>




             </div>
         </div>
     
    </div>
    
    
      <div class="space-10"></div>
     <div class="wizard-actions">            
                                                      @if (Model.PaperLaidId == null || Model.PaperLaidId == 0)
                                                      {    
                                                               
                                                        <button type="button" class="btn btn-primary" style="padding-top:1%;margin-bottom:5px;" name="submitButton" id="Save" value="Save" onclick="return checkValidation();">
                                                            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                                          Send Reports for Laying
                                                        </button>                                                        
                                                       
                                                      }
                                                      
                 
                     </div>
    
    
    
}

   <!-- page specific plugin style sheet -->
  <link rel="stylesheet" href="/assets/css/datepicker.css" />


  <script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {


        $("#loader-wrapper").hide();
        $("#removeUploadNotice").hide();
        $("#removeUploadNoticeDoc").hide();
        

        $("#NoticeDocfilePaerLaid").click(function (event) {
            $('#NoticeDocfilePaerLaid').fileupload({
                dataType: 'json',
                url: "/PaperLaidDepartment/NoticePaperLaid/UploadNoticeDocFiles",
                autoUpload: true,
                done: function (e, data) {
                    var sim = setTimeout("hidevalueNoticeDoc()", 1000);
                    $('.file_nameNoticeDoc').html(data.result.name);
                    $('.file_sizeSupDoc').html(data.result.size);
                }
            }).on('fileuploadprogressall', function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('.progressNoticeMainDoc .progress-bar').css('width', progress + '%');
                $('#removeUploadNoticeDoc').css('display', 'block');
            });
        });

        $("#NoticefilePaerLaid").click(function (event) {
            $('#NoticefilePaerLaid').fileupload({
                dataType: 'json',
                url: "/PaperLaidDepartment/NoticePaperLaid/UploadNoticeFiles",
                autoUpload: true,
                done: function (e, data) {
                    var sim = setTimeout("hidevalueNotice()", 1000);
                    $('.file_nameNotice').html(data.result.name);
                    $('.file_sizeSup').html(data.result.size);
                }
            }).on('fileuploadprogressall', function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('.progressNoticeMain .progress-bar').css('width', progress + '%');
                $('#removeUploadNotice').css('display', 'block');
            });
        });

     


       





        $("#BillAmendment").hide();

        $('#tbBillDate').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });

        $("#Title").focus(function () {
            $("#Title").animate({
                height: "150px"
            }, 100, function () { });

        });
        $("#Title").blur(function () {
            $("#Title").animate({
                height: "48px"
            }, 100, function () { });

        });
        $("#Description").focus(function () {
            $("#Description").animate({
                height: "150px"
            }, 100, function () { });

        });
        $("#Description").blur(function () {
            $("#Description").animate({
                height: "48px"
            }, 100, function () { });

        });
        $("#ProvisionUnderWhich").focus(function () {
            $("#ProvisionUnderWhich").animate({
                height: "150px"
            }, 100, function () { });

        });
        $("#ProvisionUnderWhich").blur(function () {
            $("#ProvisionUnderWhich").animate({
                height: "48px"
            }, 100, function () { });

        }); $("#Remark").focus(function () {
            $("#Remark").animate({
                height: "150px"
            }, 100, function () { });

        });
        $("#Remark").blur(function () {
            $("#Remark").animate({
                height: "48px"
            }, 100, function () { });

        });

    });



    function hidevalueNotice() {
        $('.progressNoticeMain .progress-bar').fadeOut(500);
        var sim = setTimeout("hidevalueNotice()", 3000);
    }

    function hidevalueNoticeDoc() {
        $('.progressNoticeMainDoc .progress-bar').fadeOut(500);
        var sim = setTimeout("hidevalueNoticeDoc()", 3000);
    }

    function removefileuploadNoticeDoc() {
        $('.file_nameNoticeDoc').html('');
        $('.file_sizeSupDoc').html('');
        $('.progressNoticeMainDoc .progress-bar').css('width', '0%');
        $("#removeUploadNoticeDoc").hide();
        $('#NoticeDocfileuploadcontant').css('border', '0px solid rgb(244, 239, 239)');
        $.post("/PaperLaidDepartment/NoticePaperLaid/RemoveMainFilesDoc",
         {
         },
         function (data) {
         });

    }

    function removefileuploadNotice() {
        $('.file_nameNotice').html('');
        $('.file_sizeSup').html('');
        $('.progressNoticeMain .progress-bar').css('width', '0%');
        $("#removeUploadNotice").hide();
        $('#Noticefileuploadcontant').css('border', '0px solid rgb(244, 239, 239)');
        $.post("/PaperLaidDepartment/NoticePaperLaid/RemoveMainFiles",
         {
         },
         function (data) {
         });

    }

    $("#DdlBillType").change(function () {

        var GovBill = $("#DdlBillType  option:selected").val();

        if (GovBill == 1) {
            $("#BillAmendment").hide();
        }
        else {
            $("#BillAmendment").show();
        }


    });


    $('#DdlBillYear').change(function () {

        var budsinesstypeId = $("#DdlCategory  option:selected").val();

        if (budsinesstypeId != "6") {
            var paperId = $("#PaperLaidId").val();

            var updatenumber = $("#billNumber").val();
            var updateyear = $("#billYear").val();

            var number = $('#tbBillNumber').val();
            var year = $("#DdlBillYear  option:selected").text();
            if (paperId != "0") {

                if (number != updatenumber && year != updateyear) {
                    $.ajax({
                        url: "/PaperLaidDepartment/Billpaperlaid/CheckBillNumber",
                        type: 'POST',
                        data: {
                            number: number,
                            year: year
                        },
                        success: function (data) {

                            // if (data) {

                            if (data.BillId == null) {
                                var number4 = $('#tbBillNumber').val();
                                var year4 = $("#DdlBillYear  option:selected").text();
                                $("#billNumber").val(number4);
                                $("#billYear").val(year4);
                            }
                            else {
                                alert("Bill number already exist.");
                                $('#tbBillNumber').val("");
                            }
                            //  }
                            //else { alert("error in getting bill number."); }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.responseText);
                            alert(thrownError);
                        }
                    });
                }
            }
            else {

                $.ajax({
                    url: "/PaperLaidDepartment/Billpaperlaid/CheckBillNumber",
                    type: 'POST',
                    data: {
                        number: number,
                        year: year
                    },
                    success: function (data) {

                        //if (data) {

                        if (data.BillId == null) {
                            var number3 = $('#tbBillNumber').val();
                            var year3 = $("#DdlBillYear  option:selected").text();
                            $("#billNumber").val(number3);
                            $("#billYear").val(year3);
                        }
                        else {
                            alert("Bill number already exist.");
                            $('#tbBillNumber').val("");
                        }
                        //} //else { alert("error in getting bill number."); }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
        }
        else {
            var number = $('#tbBillNumber').val();
            var year = $("#DdlBillYear  option:selected").text();
            $("#billNumber").val(number);
            $("#billYear").val(year);
        }
    })

    $('#tbBillNumber').change(function () {
        //alert("chcking");
        var budsinesstypeId = $("#DdlCategory  option:selected").val();

        if (budsinesstypeId != "6") {
            var paperId = $("#PaperLaidId").val();

            var updatenumber = $("#billNumber").val();
            var updateyear = $("#billYear").val();
            var number = $('#tbBillNumber').val();

            $("#hdnBillNumberValue").val(number);


            var year = $("#DdlBillYear  option:selected").text();
            if (paperId != "0") {

                if (number != updatenumber && year != updateyear) {
                    $.ajax({
                        url: "/PaperLaidDepartment/Billpaperlaid/CheckBillNumber",
                        type: 'POST',
                        data: {
                            number: number,
                            year: year
                        },
                        success: function (data) {

                            //  if (data) {

                            if (data.BillId == null) {
                                var number1 = $('#tbBillNumber').val();
                                var year1 = $("#DdlBillYear  option:selected").text();
                                $("#billNumber").val(number1);
                                $("#billYear").val(year1);
                            }
                            else {
                                alert("Bill number already exist.");
                                $('#tbBillNumber').val("");
                            }
                            //  } else { alert("error in getting bill number."); }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.responseText);
                            alert(thrownError);
                        }
                    });
                }
            }
            else {

                $.ajax({
                    url: "/PaperLaidDepartment/Billpaperlaid/CheckBillNumber",
                    type: 'POST',
                    data: {
                        number: number,
                        year: year
                    },
                    success: function (data) {

                        //     if (data) {

                        if (data.BillId == null) {
                            var number2 = $('#tbBillNumber').val();
                            var year2 = $("#DdlBillYear  option:selected").text();
                            $("#billNumber").val(number);
                            $("#billYear").val(year2);
                        }
                        else {
                            alert("Bill number already exist.");
                            $('#tbBillNumber').val("");
                        }
                        // } else { alert("error in getting bill number."); }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
        }
        else {
            var number = $('#tbBillNumber').val();
            var year = $("#DdlBillYear  option:selected").text();
            $("#billNumber").val(number);
            $("#billYear").val(year);
        }
    })


 

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    var category = "";

    


    function checkValidationUpdate() {

        var paperId = $("#PaperLaidId").val();
        var FileUpload = $('#file_nameNotice').text();

        var title = $("#Title").val()

        var Desc = $("#Description").val();

        //var ProvisionUnderWhic = $("#ProvisionUnderWhich").val();
        var tbBillDate = $("#tbBillDate").val();
        var tbBillNumber = $("#tbBillNumber").val();
        $("#hdnBillNumberValue").val(tbBillNumber);

       

        //if (FileUpload == "") {
        //    alert("Please select Bill PDF");
        //    $("#PaperLaidForm").valid();
        //    return false;
        //}

         if (title == "") {
            $("#TitleValidation").append("").val("").html("@Resources.PaperLaidDepartment.TitleValidation");
            $("#DescriptionValidation").append("").val("").html("");
            $("#ProvisionUnderWhichValidation").append("").val("").html("");
            $("#FileValidation").append("").val("").html("");
            $("#BillDateValidation").append("").val("").html("");
            $("#BillNUmberValueValidation").append("").val("").html("");
            $("#Title").focus();
            $("#PaperLaidForm").valid();

            return false;
        } else if (Desc == "") {

            $("#TitleValidation").append("").val("").html("");
            $("#DescriptionValidation").append("").val("").html("@Resources.PaperLaidDepartment.DescriptionValidation");
        $("#FileValidation").append("").val("").html("");
        $("#ProvisionUnderWhichValidation").append("").val("").html("");
        $("#BillDateValidation").append("").val("").html("");
        $("#BillNUmberValueValidation").append("").val("").html("");
        $("#Description").focus();
        $("#PaperLaidForm").valid();

        return false;
    }

    bootbox.confirm('@Resources.PaperLaidDepartment.Areyousure', function (confresult) {

                if (confresult) {


                    $("#PaperLaidForm").submit();
                    bootbox.hideAll();
                    bootbox.hide();

                    return false;

                }
                else {
                    return true;
                }

            });
        }


    function checkValidation() {

        var paperId = $("#PaperLaidId").val();
        var FileUpload = $('#file_nameNotice').text();
  
        var title = $("#Title").val()
       
        var Desc = $("#Description").val();

      

        if (FileUpload == "") {
            alert("Please select Report PDF");
            $("#PaperLaidForm").valid();
            return false;
        }
     
       if (title == "") {
            $("#TitleValidation").append("").val("").html("@Resources.PaperLaidDepartment.TitleValidation");
        $("#DescriptionValidation").append("").val("").html("");
        $("#ProvisionUnderWhichValidation").append("").val("").html("");
        $("#FileValidation").append("").val("").html("");      
        $("#Title").focus();
        $("#PaperLaidForm").valid();

        return false;
    } else if (Desc == "") {

        $("#TitleValidation").append("").val("").html("");
        $("#DescriptionValidation").append("").val("").html("@Resources.PaperLaidDepartment.DescriptionValidation");
            $("#FileValidation").append("").val("").html("");
            $("#ProvisionUnderWhichValidation").append("").val("").html("");          
            $("#Description").focus();
            $("#PaperLaidForm").valid();

            return false;
        }
       
        bootbox.confirm('@Resources.PaperLaidDepartment.Areyousure', function (confresult) {

            if (confresult) {


                $("#PaperLaidForm").submit();
                bootbox.hideAll();
                bootbox.hide();

                return false;

            }
            else {
                return true;
            }

        });
    }



    var file = document.getElementById('NoticefilePaerLaid');

    file.onchange = function (e) {

        var ext = this.value.match(/\.([^\.]+)$/)[1];
        switch (ext) {
            case 'pdf':
               
                break;
            default:
                alert("@Resources.PaperLaidDepartment.PDFPErmitted");
                this.value = '';
        }
     };

    function onSuccess()
    {

            $("#loader-wrapper").show();
        
            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/HouseCommittee/HouseCommitteePaperLaid/GetSentPaperList",
                type: 'GET',
                data: {},
                success: function (data) {
                    if (data) {

                        $('#RightSidebar').empty();
                        $('#divListViewAll').empty();
                        $('#divListViewAll').html(data);
                        $("#loader-wrapper1").hide();
                        $('#resize-left').width('50%');
                        $('#spnScrollPosition').html('1');
                        $("#MainDiveThreeTire").show();
                        $("#loader-wrapper").hide();
                        alert("Report Sent Successfully !!");

                    } else {
                        alert("error");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });

   }

       


    function getCount() {


        var pathurl = "@Url.Action("DepartmentDashboard", "PaperLaidDepartment")";
        $.ajax({
            url: pathurl,
            type: 'GET',

            success: function (data) {
               
                $("#23Draft_Bills").html(data[3]);
                $("#loader-wrapper").hide();
                ShowNotification("success", "Bills Send Successfully .....");
            }
        });
    }

</script>
