﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV

<link href="~/Content/SBL/typography.css" rel="stylesheet" />


@using Resources
@{ 
    int SrNo = 0;   
    int count = 1;
    int startpage = 0;
    int endPage = 0; 
    
}

@{
                
    float rcnt = @Model.ResultCount;
    float rperPage = @Model.RowsPerPage;
    float cnt = rcnt / rperPage;
    int b = (int)cnt; 
    float c = (float)cnt - b;
                
}
@if (c > 0)
{
    count = b + 1;
}
else
{
    count = b;
}
@{
    startpage = ((@Model.selectedPage * 50) - 50) + 1;
    endPage = startpage + 49;
           
}
@if (Model.loopStart <= 0)
{
    Model.loopStart = 1;
    Model.loopEnd = 5;
}

<div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px;border: 1px solid #C5C5C5;">
        @Resources.Minister.MinisterPaperLay >> @Resources.Minister.ChangedPaper
    </div>

<div class="modal-header" style="background-color: white; position: relative;">
     <div style="color:#1b86bc;font-weight:bold;" id="TemplateHeaderTitle">Changed Paper List</div>
 
    <div class="row-fluid">
        <div style="font-weight: bold; font-size: 14px; width: 450px;">
        </div>

    </div>
</div>



<div id="MinisterDetails">
<table style="width:100%">
   
        @if (Model.mMinisteryMinister != null)
        {
            if (Model.mMinisteryMinister.Count > 0)
            {
                @Html.HiddenFor(m=>m.DeptActivePaperId)
          
                <tr>
                    @*<th class="grid_th" style="border-width: 1.5px; width: 5%; height: 30px; text-align: center"><input  type="checkbox" id="chiefChk" /></th>*@
                    <th class="grid_th" style="border-width: 1.5px; width: 5%; height: 30px; text-align: center">SrNo</th>
                    <th class="grid_th" style="border-width: 1.5px; width: 10%; height: 30px; text-align: center">@Resources.Minister.FileName</th>
                    <th class="grid_th" style="border-width: 1.5px; width: 20%; height: 30px; text-align: center">@Resources.Minister.Version</th>                  
                      
                    <th class="grid_th" style="border-width: 1.5px; width: 15%; height: 30px; text-align: center">@Resources.Minister.ChangedPaperView</th>
                    <th class="grid_th" style="border-width: 1.5px; width: 15%; height: 30px; text-align: center">@Resources.Committee.DesireDatetoLaid</th>
                    <th class="grid_th" style="border-width: 1.5px; width: 15%; height: 30px; text-align: center">@Resources.Minister.Active</th>
                        
                </tr>

                foreach (var item in Model.mMinisteryMinister)
                {
                    SrNo = SrNo + 1;
                    
                    @Html.HiddenFor(m=>m.AssemblyId)
                    @Html.HiddenFor(m=>m.SessionId)
                    @Html.HiddenFor(m=>m.DeptActivePaperId)
                    @Html.HiddenFor(m=>m.PaperLaidId)
                    var trID = @item.SessionId;

                    var paperlaidid = @item.PaperLaidId;
                    
                    <tr id="@trID">
                        @{
                    var publishID = "publish" + item.SessionId;
                       
                        <td style="border-width: 1px; text-align: center">@SrNo</td>
                        <td style="border-width: 1px; text-align: center">@item.FileName</td>                      
                        <td style="border-width: 1px; text-align: center">@item.Version</td>
                        <td style="border-width: 1px; text-align: center">

                         @Html.ActionLink("View", "ChangedViewPdfFromServerSignIntention", "Minister", new { PaperLaidTempId = item.PaperLaidTempId }, new { target = "_blank" })

                        </td>
                        
                        <td style="border-width: 1px; text-align: center">@item.DesireLayingDate</td>
                        <td style="border-width: 1px; text-align: center">@item.DeptActivePaperId</td>
                      
 
                        }
                   
                    </tr>
                }
          
            }
            else
            {
            <p>
                @Resources.Minister.NoRecords
             
            </p>
            }
        }
        else
        {
            <p>
                @Resources.Minister.NoRecords
            </p>
        }
 
</table>
 </div>