﻿@model SBL.eLegistrator.HouseController.Web.Areas.PublicPasses.Models.PartialModel

@{
    ViewBag.Title = "Issue Pass";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    string Heading = (Model.PublicPassModel.Mode == "Add") ? "New Public Pass" : "Edit Pass Details";
}
<link rel="stylesheet" href="/assets/css/datepicker.css" />

@Html.Action("LeftNavigationMenu", "PublicPass")

<div class="main-content">
    @Html.Partial("_BreadCrumbsPartial", Model.PublicPassDashboardModel)

    <div class="page-header">
        <h1>@Resources.PublicPasses.HeadingPasses<small><i class="ace-icon fa fa-angle-double-right"></i> @Resources.PublicPasses.HeadingPassRequest</small></h1>
    </div>

    <style>
        .field-validation-error {
            color: red;
            padding-left: 10px;
            vertical-align: middle;
        }

        #VehicleValidateMesssge {
            color: red;
            padding-left: 10px;
            vertical-align: middle;
        }

        #ButtonGroup {
            margin-top: -15px;
        }
    </style>
    <div class="modal fade" id="PrintModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i class='ace-icon glyphicon glyphicon-print bigger-130 red'></i>Print Selected Pass/s</h4>
                </div>
                <div class="modal-body" id='ShowPrintPreviewModel'>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("RecommendationType", Model.PublicPassModel.RecommendationType)
    @Html.Hidden("RecommendationBy", Model.PublicPassModel.RecommendationBy)
    <div class="widget-box">
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            @* @using (Html.BeginForm("CreateNewPublicPass", "PublicPass", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @role = "form", @id = "PublicPassForm" }))*@
                            @using (Ajax.BeginForm("CreateNewPublicPass", "PublicPass", FormMethod.Post, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "onsuccess(data)", LoadingElementId = "loader-wrapper" }, new { @class = "form-horizontal", @role = "form", @id = "PassRequestForm" }))
                            {
                                @Html.AntiForgeryToken()

                                @Html.HiddenFor(m => m.PublicPassModel.PassID);
                                @Html.HiddenFor(m => m.PublicPassModel.AssemblyCode);
                                @Html.HiddenFor(m => m.PublicPassModel.SessionCode);
                                @Html.HiddenFor(m => m.PublicPassModel.Mode);
                                @Html.HiddenFor(m => m.PublicPassModel.Photo);
                                @Html.HiddenFor(m => m.PublicPassModel.ImagePath);
                                @Html.HiddenFor(m => m.PublicPassModel.Status);
                                
                                <input type="hidden" id="Action" name="Action" />
                                <div class="col-xs-8">
                                    <h3 class="header smaller lighter blue">@Resources.PublicPasses.PassDetails
                                    </h3>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="id-date-picker-1">@Resources.PublicPasses.SessionDateFrom <span style="color: red">*</span>:</label>
                                        @if (Model.PublicPassModel.IsdateRole == "0FC60E41-C78E-46B0-B8AC-F6EB708BA119")
                                        {
                                            <div class="col-sm-9">
                                                @Html.DropDownListFor(m => m.PublicPassModel.SessionDateFrom, new SelectList(Model.PublicPassModel.mSessionDateList, "DisplayDate", "DisplayDate", 0), new { @class = "col-xs-5", @tabindex = "1", @onchange = "return DateCheck()" })
                                                <div class="col-xs-2" style="text-align: center">
                                                    @Resources.PublicPasses.SessionDateTo
                                                </div>
                                                @Html.DropDownListFor(m => m.PublicPassModel.SessionDateTo, new SelectList(Model.PublicPassModel.mSessionDateList, "DisplayDate", "DisplayDate", 0), new { @class = "col-xs-5", @tabindex = "2", @onchange = "return DateCheck()" })
                                            </div>
                                            
                                        }
                                        else
                                        {
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.PublicPassModel.SessionDateFrom, new { @class = "col-xs-5 datetimePickerClass", @tabindex = "1", @data_format = "dd/MM/yyyy", @onchange = "CheckStaetdate()", @readonly = true })
                                                <div class="col-xs-2" style="text-align: center">
                                                    @Resources.PublicPasses.SessionDateTo
                                                </div>
                                                @Html.TextBoxFor(model => model.PublicPassModel.SessionDateTo, new { @class = "col-xs-5 datetimePickerClass", @tabindex = "2", @data_format = "dd/MM/yyyy", @onchange = "CheckEndDate()", @readonly = true })
                                            </div>
                                            
                                        }
                                        <div class="col-sm-9" style="padding-left: 25%;">
                                            @Html.ValidationMessageFor(model => model.PublicPassModel.SessionDateFrom)
                                        </div>
                                        <div class="col-sm-9" style="padding-left: 25%;">
                                            @Html.ValidationMessageFor(model => model.PublicPassModel.SessionDateTo)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-11">@Resources.PublicPasses.PassType <span style="color: red">*</span>:</label>
                                        <div class="col-sm-9">
                                            @Html.DropDownListFor(model => model.PublicPassModel.PassCategoryID, new SelectList(Model.PublicPassModel.ListPassCategory, "PassCategoryID", "Name", 0), "-- Select Pass Type --", new { @class = "col-xs-6 form-control", @tabindex = "3" })
                                        </div>
                                        <div class="col-sm-9" style="padding-left: 25%;">
                                            @Html.ValidationMessageFor(model => model.PublicPassModel.PassCategoryID)
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-11">@Resources.PublicPasses.PassType <span style="color: red">*</span>:</label>
                                        <div class="col-sm-9">
                                            @Html.DropDownListFor(model => model.PassCategoryID, Model.PassTypeList, "-- Select Pass Type --", new { @class = "col-xs-11" })
                                        </div>
                                        <div class="col-sm-9" style="padding-left: 25%;">
                                            @Html.ValidationMessageFor(model => model.PassCategoryID)
                                        </div>
                                    </div>*@

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-11">@Resources.PublicPasses.Time <span style="color: red">*</span>:</label>
                                        <div class="col-sm-9">
                                            @Html.DropDownListFor(model => model.PublicPassModel.DayTime, Model.PublicPassModel.TimeTypeList, "-- Select --", new { @class = "col-xs-9", @tabindex = "4", @onchange = "ChangeTimeValTimePicker(this.value)" })
                                            <div class="col-sm-2">
                                                @Html.TextBoxFor(model => model.PublicPassModel.Time, new { @class = "col-xs-12", @tabindex = "5", @style = "padding-left:10px; line-height: 18px;" })
                                            </div>
                                        </div>
                                        <div class="col-sm-9" style="padding-left: 25%;">
                                            @Html.ValidationMessageFor(model => model.PublicPassModel.DayTime)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Name">Gate Number <span style="color: red"></span>:</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(model => model.PublicPassModel.GateNumber, new { @placeholder = "Enter Gate Number", @tabindex = "6", @class = "col-xs-11" })
                                        </div>
                                        <div class="col-sm-9" style="padding-left: 25%;">
                                            @Html.ValidationMessageFor(model => model.PublicPassModel.GateNumber)
                                        </div>
                                    </div>

                                    <h3 class="header smaller lighter blue">@Resources.PublicPasses.PersonalDetails
                                    </h3>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-11">@Resources.PublicPasses.AadhaarId <span style="color: red"></span>:</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(model => model.PublicPassModel.AadharID, new { @placeholder = "Enter Aadhar ID", @maxlength = "12", @tabindex = "7", @onkeyup = "this.value=this.value.replace(/[^\\d]/,'')", @class = "col-xs-9" })
                                            <div style="padding-left: 77%">
                                                <input class="btn btn-minier btn-yellow" type="button" value="@Resources.PublicPasses.GetAadhaarDetails" onclick="GetDetailsByAadharID()" />
                                            </div>
                                        </div>
                                        <div class="col-sm-9" style="padding-left: 25%;">
                                            @Html.ValidationMessageFor(model => model.PublicPassModel.AadharID)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Name">@Resources.PublicPasses.Name<span style="color: red">*</span>:</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(model => model.PublicPassModel.Name, new { @placeholder = "Enter Name", @tabindex = "8", @class = "col-xs-11" })
                                        </div>
                                        <div class="col-sm-9" style="padding-left: 25%;">
                                            @Html.ValidationMessageFor(model => model.PublicPassModel.Name)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Name">@Resources.PublicPasses.Gender <span style="color: red">*</span>:</label>
                                        <div class="col-sm-9">
                                            @Html.DropDownListFor(model => model.PublicPassModel.Gender, Model.PublicPassModel.GenderList, "-- Select Gender --", new { @class = "col-xs-11", @tabindex = "9" })
                                        </div>
                                        <div class="col-sm-9" style="padding-left: 25%;">
                                            @Html.ValidationMessageFor(model => model.PublicPassModel.Gender)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Name">@Resources.PublicPasses.Age <span style="color: red">*</span>:</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(model => model.PublicPassModel.Age, new { @placeholder = "Enter Age", @tabindex = "10", @onkeyup = "this.value=this.value.replace(/[^\\d]/,'')", @class = "col-xs-11" })
                                        </div>
                                        <div class="col-sm-9" style="padding-left: 25%;">
                                            @Html.ValidationMessageFor(model => model.PublicPassModel.Age)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Name">@Resources.PublicPasses.FatherName <span style="color: red">*</span>:</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(model => model.PublicPassModel.FatherName, new { @placeholder = "Enter Father Name", @tabindex = "11", @class = "col-xs-11" })
                                        </div>
                                        <div class="col-sm-9" style="padding-left: 25%;">
                                            @Html.ValidationMessageFor(model => model.PublicPassModel.FatherName)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.PublicPasses.Address : </label>
                                        <div class="col-sm-9">
                                            @Html.TextAreaFor(model => model.PublicPassModel.Address, new { @placeholder = "Enter Address", @tabindex = "12", @class = "col-xs-11" })
                                        </div>
                                        <div class="col-sm-9" style="padding-left: 25%;">
                                            @Html.ValidationMessageFor(model => model.PublicPassModel.Address)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.PublicPasses.MobileNumber <span style="color: red">*</span>:</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(model => model.PublicPassModel.MobileNo, new { @placeholder = "Mobile Number (9XX XXX XXXX)", @maxlength = "10", @tabindex = "13", @onkeyup = "this.value=this.value.replace(/[^\\d]/,'')", @class = "col-xs-11" })<br />
                                        </div>
                                        <div class="col-sm-9" style="padding-left: 25%;">
                                            @Html.ValidationMessageFor(model => model.PublicPassModel.MobileNo)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.PublicPasses.Email : </label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(model => model.PublicPassModel.Email, new { @placeholder = "Email (abc@xyz.com)", @tabindex = "14", @class = "col-xs-11" })
                                        </div>
                                        <div class="col-sm-9" style="padding-left: 25%;">
                                            @Html.ValidationMessageFor(model => model.PublicPassModel.Email)
                                        </div>
                                    </div>

                                    <h3 class="header smaller lighter blue">@Resources.PublicPasses.RecommendationDetails
                                    </h3>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right">@Resources.PublicPasses.RecommendationType <span style="color: red">*</span>:</label>
                                        <div class="col-sm-9">
                                            @Html.DropDownListFor(model => model.PublicPassModel.RecommendationType, Model.PublicPassModel.RecommendationTypeList, "-- Select Recommendation Type --", new { @class = "col-xs-11", @tabindex = "15" })

                                        </div>
                                        <div class="col-sm-9" style="padding-left: 25%;">
                                            @Html.ValidationMessageFor(model => model.PublicPassModel.RecommendationType)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="id-date-picker-1">@Resources.PublicPasses.RecommendedBy <span style="color: red">*</span>:</label>
                                        <div class="col-sm-9">
                                            @Html.DropDownListFor(model => model.PublicPassModel.RecommendationBy, new SelectList(Model.PublicPassModel.RecomendedByListMem, "MemberCode", "Name", 0), "-- Select Recomended By --", new { @class = "col-xs-11", @tabindex = "16" })
                                        </div>
                                        <div class="col-sm-9" style="padding-left: 25%;">
                                            @Html.ValidationMessageFor(model => model.PublicPassModel.RecommendationBy, "", new { @id = "ValidFromValidateMesssge" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right">@Resources.PublicPasses.RecommendationDescription :</label>
                                        <div class="col-sm-9">
                                            @Html.TextAreaFor(model => model.PublicPassModel.RecommendationDescription, new { @placeholder = "Enter Recommendation Description", @class = "col-xs-11", @tabindex = "17" })<br />
                                        </div>
                                        <div class="col-sm-9" style="padding-left: 25%;">
                                            @Html.ValidationMessageFor(model => model.PublicPassModel.RecommendationDescription)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Name">@Resources.PublicPasses.NoOfPerson <span style="color: red">*</span>:</label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(model => model.PublicPassModel.NoOfPersions, new { @placeholder = "Enter Total Number Person", @class = "col-xs-11", @tabindex = "18" })
                                        </div>
                                        <div class="col-sm-9" style="padding-left: 25%;">
                                            @Html.ValidationMessageFor(model => model.PublicPassModel.NoOfPersions)
                                        </div>
                                    </div>

                                    <div class="wizard-actions" style="padding-right: 0px;">

                                        <button type="submit" id="Submitbtn" value="Save" class="btn btn-info btn-danger btnClick" tabindex="19" onclick="return CheckPicLocation()">
                                            <i class="ace-icon fa fa-floppy-o icon-on-right"></i>
                                            @Resources.PublicPasses.Save
                                        </button>

                                        <button type="reset" class="btn btn-info " tabindex="20" onclick="ResetForm();">
                                            <i class="ace-icon fa fa-refresh "></i>
                                            @Resources.PublicPasses.Reset
                                        </button>
                                        <button type="submit" class="btn btn-info btn-danger btnClick" id="Submitbtn_new" name="value" value="create&new" tabindex="19" onclick="return CheckPicLocation()">
                                            <i class="ace-icon fa fa-floppy-o icon-on-right"></i>
                                            Save & New
                                        </button>
                                        @if (Model.PublicPassModel.IsdateRole != "0FC60E41-C78E-46B0-B8AC-F6EB708BA119")
                                        {
                                            <button type="submit" id="SubmitbtnApprovalandPrint" value="ApproveAndPrint" class="btn btn-success btnClick" tabindex="19" onclick="return CheckPicLocation()">
                                                <i class="ace-icon fa fa-floppy-o icon-on-right"></i>
                                                Save & Approve & Print
                                            </button>
                                        }

                                    </div>

                                </div>
                               
                                @Html.Partial("_PhotoCaptureGeneric", Model.PublicPassModel)
                                <hr>                               
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<style>
    .footer .footer-inner .footer-content {
        padding: 0px;
        bottom: 0px;
    }
</style>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
@* Datetime picker helper Javascript files. *@
<link href="~/assets/css/bootstrap-timepicker.css" rel="stylesheet" />
<script src="~/assets/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>
@* Numeric Sppiner *@
<script src="~/assets/js/fuelux/fuelux.spinner.min.js"></script>
<script src="~/ScriptigFunctions/Passes/Passes.js"></script>

<script>
    $('#PublicPassModel_Time').timepicker(
    {
        minuteStep: 1,
        showSeconds: false,
        showMeridian: false
    }).next().on(ace.click_event, function () {
        $(this).prev().focus();
    });

    jQuery(document).ready(function () {
        $.validator.addMethod('accept', function () { return true; });
        ChangeBreadCrumbChild("@Resources.PublicPasses.HeadingPassRequest");
        //Numeric sppiner function.
        $('#PublicPassModel_NoOfPersions').ace_spinner({ value: 1, min: 1, max: 100, step: 1, btn_up_class: 'btn-info', btn_down_class: 'btn-info' });
        $('#PublicPassModel_GateNumber').ace_spinner({ value: 1, min: 1, max: 6, step: 1, btn_up_class: 'btn-info', btn_down_class: 'btn-info' });

        var picLocation = $('#Photo').val();
        var date = new Date();
        var hour = date.getHours();
        var min = date.getMinutes();
        var cDate = hour + ":" + min;
        //Set the value for the time picker on page load.
        $('#PublicPassModel_Time').val(cDate);
        // $('#PublicPassModel_Time').timepicker('setTime', '10:00');
        if (picLocation != "") {
            $("[id*=imgCapture]").css("visibility", "visible");
            $("[id*=imgCapture]").attr("src", picLocation);
        }
        $('#PublicPassModel_SessionDateTo option:last-child').attr('selected', 'selected');
    });

    function GetDetailsByAadharID() {
        var AdhaarID = $('#PublicPassModel_AadharID').val();
        var pictureLoc = $('#Photo').val();

        if (AdhaarID.length == 12) {
            if (isNaN(AdhaarID)) {
                ShowNotification("error", "Aadhar Id should be in digits!.....");
                //  alert("Aadhar Id should be in digits.");
                $('#PublicPassModel_AdhaarID').val("");
                return false;
            }
            else {
                $.ajaxSetup({ cache: false });
                $.ajax({
                    url: "/PublicPasses/PublicPass/GetAdhaarDetails",
                    type: 'GET',
                    data: {
                        AdhaarID: AdhaarID,
                        picLocation: null
                    },
                    success: function (result) {
                        if (result != "nodata" && result != null && result != "") {
                            if (result.Photo == null) {
                                ShowNotification("error", "This AadharID is not having photo so please choose image or capture from live camera!.....");
                            }
                            document.getElementById('PublicPassModel_Name').value = result.Name;
                            document.getElementById('PublicPassModel_FatherName').value = result.FatherName;
                            document.getElementById('PublicPassModel_Address').value = result.Address;
                            document.getElementById('PublicPassModel_Email').value = result.Email;
                            document.getElementById('PublicPassModel_MobileNo').value = result.MobileNo;
                            document.getElementById('PublicPassModel_Age').value = result.DOB;

                            $("[id*=imgCapture]").css("visibility", "visible");
                            var Phot = (result.Photo).split(',');
                            var ImageShow = Phot[0];
                            var ImageSave = Phot[1];
                            $("[id*=imgCapture]").attr("src", ImageShow);
                            $("[id*=Photo]").val(ImageSave);
                            $("#file").val("");

                            if ($("PublicPassModel_Email").val() == null) {
                                $("PublicPassModel_Email").empty();
                            }
                            if (result.Gender == 'M') {
                                document.getElementById('Gender').value = "Male";
                            }
                            else {
                                document.getElementById('Gender').value = "Female";
                            }
                        }
                        else {
                            ShowNotification("error", "Either Aadhar Details Not found or Network not found!.....");
                            $('#PublicPassModel_AadharID').val('');
                            return false;
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
        }
        else {
            ShowNotification("error", "Aadhar Id Should be in 12 numbers......");
            //alert("Aadhar Id Should be in 12 numbers.")
            $('#PublicPassModel_AadharID').val('');
            return false;
        }
    }

    function CheckPicLocation() {
        var picLocation = $('#Photo').val();
        if (picLocation != "") {
            $("[id*=imgCapture]").css("visibility", "visible");
            $("[id*=Photo]").val(picLocation);
            return true;
        }
        else {
            ShowNotification("error", "Please take a Pic First......");
            // alert("Please take a Pic First");
            return false;
        }
        return false;
    }

    function ResetForm() {
        $(".field-validation-error").empty();
        $("[id*=imgCapture]").attr("src", "");
    }

    $("#PublicPassModel_RecommendationType").change(function () {
        var RecommendationType = $("#PublicPassModel_RecommendationType").val();
        // alert(RecommendationType);
        if (RecommendationType == "Officer") {
            //alert(RecommendationType);
            $.ajax({
                url: "/PublicPasses/PublicPass/GetRecomendedByOfficerList",
                type: 'POST',
                data: {},
                success: function (data) {
                    $("#PublicPassModel_RecommendationBy").empty();
                    $("#PublicPassModel_RecommendationBy").append("<option value=''>-- Select Recommended By -- </option>");
                    $.each(data, function (index, optiondata) {
                        $("#PublicPassModel_RecommendationBy").append("<option value='" + optiondata.Name + "'>" + optiondata.Name + "</option>");
                    });
                }
            })
        }
        else if (RecommendationType == "Member") {
            //  alert(RecommendationType);
            $.ajax({
                url: "/PublicPasses/PublicPass/GetRecomendedByMemList",
                type: 'POST',
                data: {},
                success: function (data) {
                    $("#PublicPassModel_RecommendationBy").empty();
                    $("#PublicPassModel_RecommendationBy").append("<option value=''>-- Select Recommended By -- </option>");
                    $.each(data, function (index, optiondata) {
                        $("#PublicPassModel_RecommendationBy").append("<option value='" + optiondata.MemberCode + "'>" + optiondata.Name + "</option>");
                    });
                }
            })
        }
        else if (RecommendationType == "Minister") {
            //  alert(RecommendationType);
            $.ajax({
                url: "/PublicPasses/PublicPass/GetRecomendedByMinList",
                type: 'POST',
                data: {},
                success: function (data) {
                    $("#PublicPassModel_RecommendationBy").empty();
                    $("#PublicPassModel_RecommendationBy").append("<option value=''>-- Select Recommended By -- </option>");
                    $.each(data, function (index, optiondata) {
                        $("#PublicPassModel_RecommendationBy").append("<option value='" + optiondata.MemberCode + "'>" + optiondata.MinisterName + "</option>");
                    });
                }
            })
        }
    });
    //function onsuccess(data) {

    //    try {
    //        var Value = data.split(",");
    //        var Ovalue = Value[0];
    //        var RValue = Value[1]

    //        if (Ovalue == "Save") {
    //            ShowNotification("success", "Data Save Successfully ..... ");
    //            var redirectLocation = "/PublicPasses/PublicPass/Index";
    //            window.location.href = redirectLocation;
    //        }
    //        else {
    //            ShowNotification("success", "Data Save Successfully .....");
    //        }
    //        $('#PublicPassModel_AadharID').val(' ');
    //        $('#PublicPassModel_Name').val(' ');
    //        $('#PublicPassModel_Age').val(' ');
    //        $('#PublicPassModel_FatherName').val(' ');
    //        $('#PublicPassModel_Address').val(' ');
    //        $('#PublicPassModel_MobileNo').val(' ');
    //        $('#PublicPassModel_Email').val(' ');
    //        $('#PublicPassModel_RecommendationDescription').val(' ');
    //        $("[id*=imgCapture]").removeAttr('src');
    //        $("[id*=imgCapture]").val(' ');
    //        $("[id*=Photo]").val('');
    //        $("#loader-wrapper").hide();
    //    }
    //    catch (ee) {
    //        ShowNotification("error", "Error occur" + ee);
    //        // throw ee;
    //    }
    //}

    jQuery(document).ready(function () {

        $('.datetimePickerClass').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });
        $('.datetimePickerClass').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });

        var mode = $("#PublicPassModel_Mode").val();
        if (mode != "Add") {
            debugger
            var RecommendationType = $("#RecommendationType").val();
            document.getElementById('PublicPassModel_RecommendationType').value = RecommendationType;
            var RecommendationBy = $("#RecommendationBy").val();
            if (RecommendationType == "Officer") {
                $.ajax({
                    url: "/PublicPasses/PublicPass/GetRecomendedByOfficerList",
                    type: 'POST',
                    data: {},
                    success: function (data) {
                        $("#PublicPassModel_RecommendationBy").empty();
                        $.each(data, function (index, optiondata) {
                            $("#PublicPassModel_RecommendationBy").append("<option value='" + optiondata.Name + "'>" + optiondata.Name + "</option>");
                        });
                    }
                })
            }
            else {
                document.getElementById('PublicPassModel_RecommendationBy').value = RecommendationBy;
            }

        }
    });
    function CheckStaetdate() {
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/PublicPasses/PublicPass/CheckSessionDate",
            type: 'GET',
            data: {
                SessionDate: $('#PublicPassModel_SessionDateFrom').val()

            },
            success: function (result) {

                if (result == 'True') {
                    ShowNotification("error", "This Session Date is not Exist!.....");

                    $('#PublicPassModel_SessionDateFrom').val('');
                }
                else if (result == 'False') {
                    $('.notification').hide();

                }
                else {
                    ShowNotification("error", "Something going wrong....." + result);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }
    function CheckEndDate() {
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/PublicPasses/PublicPass/CheckSessionDate",
            type: 'GET',
            data: {
                SessionDate: $('#PublicPassModel_SessionDateTo').val()

            },
            success: function (result) {
                // alert("Result : " + result);
                if (result == 'True') {
                    ShowNotification("error", "This Session Date is not Exist!.....");

                    $('#PublicPassModel_SessionDateTo').val('');
                }
                else if (result == 'False') {
                    $('.notification').hide();

                }
                else {
                    ShowNotification("error", "Something going wrong....." + result);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }
    $(".btnClick").click(function () {
        var Actionvalue = $(this).val();

        document.getElementById('Action').value = Actionvalue;
    });
    function onsuccess(data) {

        try {

            if (data == "Save" || data == "create&new" || data == "Update") {
                if (data == "Save") {
                    ShowNotification("success", "Data Save Successfully ..... ");
                    var redirectLocation = "/PublicPasses/PublicPass/Index";
                    window.location.href = redirectLocation;
                }
                else if (data == "create&new") {
                    ShowNotification("success", "Data Save Successfully ..... ");
                }
                else if (data == "Update") {
                    ShowNotification("success", "Data Update Successfully ..... ");
                    var redirectLocation = "/PublicPasses/PublicPass/Index";
                    window.location.href = redirectLocation;
                }
            }
            else {
                // Start for Public Pass
                $('#ShowPrintPreviewModel').html("");
                $('#ShowPrintPreviewModel').html(data);
                $(function () {
                    $('.qrcode-box').each(function () {
                        var msgText = $(this).attr("data-code");
                        var id = $(this).attr("id");
                        qrcode(msgText, id)
                    });
                });

                function qrcode(msgText, id) {
                    $('#' + id).empty();
                    $('#' + id).qrcode({
                        render: 'image',// render method: `'canvas'`, `'image'` or `'div'`
                        size: 80,
                        color: '#3a3',
                        text: msgText
                    });
                }
                $("#PrintModal").modal("show");
                //End Public Pass
            }


            $('#PublicPassModel_AadharID').val(' ');
            $('#PublicPassModel_Name').val(' ');
            $('#PublicPassModel_Age').val(' ');
            $('#PublicPassModel_FatherName').val(' ');
            $('#PublicPassModel_Address').val(' ');
            $('#PublicPassModel_MobileNo').val(' ');
            $('#PublicPassModel_Email').val(' ');
            $('#PublicPassModel_RecommendationDescription').val(' ');
            $("[id*=imgCapture]").removeAttr('src');
            $("[id*=imgCapture]").val(' ');
            $("[id*=Photo]").val('');
            $("[id*=file]").val('');
            $("#loader-wrapper").hide();
        }
        catch (ee) {
            ShowNotification("error", "Error occur" + ee);
            // throw ee;
        }
    }
</script>
<script src="~/assets/js/jquery.qrcode-0.8.0.min.js"></script>
