﻿@model IEnumerable<SBL.eLegistrator.HouseController.Web.Areas.PublicPasses.Models.PublicPassModel>
@using SBL.DomainModel.Models.Enums;

<style>
    .td-left {
        width: 25%;
    }
</style>

<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/css/ace.css" />
<link href="~/assets/css/sbl/pass-style.css" rel="stylesheet"/>

<script src="~/assets/js/jquery.print.js"></script>

<div class="row" id="ContentToPrint">
    @foreach (var item in Model)
    {
        <div class="col-xs-12">
            @if (item.PassCategoryID == (Int32)PassAllowsCreation.VisitorsGallery)
            {
                @Html.Partial("_TemplateVisitorGalary", item)
            }
            else if (item.PassCategoryID == (Int32)PassAllowsCreation.PublicPassID)
            {
                @Html.Partial("_TemplateCasualEntryPass", item)
            }
            else if (item.PassCategoryID == 20 || item.PassCategoryID == 9 || item.PassCategoryID == 5 || item.PassCategoryID == 10)
            {                
                @Html.Partial("_TemplateDutyStaffAtVS", item)
            }
            else
            {
                @Html.Partial("_TemplateEntryPass", item)
            }
        </div>    
    }
</div>
<div class="wizard-actions">
    <div class="col-xs-12" id="ButtonGroup">
        <button type="button" onclick="PrintPass();" name="Mode" value="Print" id="PrintButton" class="btn btn-warning"><i class="ace-icon glyphicon  glyphicon-print"></i>Print</button>
    </div>
</div>

<script type="text/javascript">
    function PrintPass() {
        alert('ewrwerewr');
        $("#ContentToPrint").print(
            {
                stylesheet: "/assets/css/sbl/pass-style.css",
                rejectWindow: true,
                iframe: true,
                mediaPrint: true
            });
        return false;
    
    }
</script>
