﻿@model SBL.eLegistrator.HouseController.Web.Areas.PublicPasses.Models.PublicPassModel

<style>
    .section-pass-main {
        border: 1px solid black;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        page-break-inside: avoid;
        width: 500px;
        font-size: 10px;
        margin-left: 10px;
    }
</style>

<section class="casual-entry-permit-main section-pass-main" style="width: 360px; height: 232px; font-size: 8px;">
    <div style="width: 355px; font-size: 1em;">
        <div style="width: 33%; float: left;">
            <span style="text-decoration: underline; font-weight: bold;">NON-TRANSFERABLE </span>
            <br>
            <strong>Pass Code : @Model.PassCode </strong>
            <br>
            <strong>Gate No :  @Model.GateNumber </strong>
            <br />
            <strong>Number of persons : @Model.NoOfPersions</strong>
        </div>
        <br>

        <div style="width: 33%; float: left; text-align: center;">
            <span style="font-weight: bold;">VIDHAN SABHA SECRETARIAT </span>
            <br>
            (RECEPTION OFFICE)<br>
            <span style="font-weight: bold;">CASUAL ENTRY PERMIT </span>
        </div>
        <div style="width: 34%; float: left;">
            <img src="@Model.Photo" height="80px" style="float: right; position: relative; right: 25px; top: -15px;" />
        </div>
    </div>
    <!---row one----->

    <div style="width: 350px;">
        <div style="text-align: justify; margin: 0px; padding-right: 20px; position: relative; top: -12px; right1px;">
            This permit is valid for the date of issue only and it must be returned to the gatkeeper on completion of the visit.    
        Dated the<span style="font-weight: bold; text-decoration: underline;"> @Model.SessionDateFrom </span>Time 
            <span style="font-weight: bold; text-decoration: underline;">@Model.DayTime (@Model.Time)</span> Shri 
            <span style="font-weight: bold; text-decoration: underline;">@Model.Name </span>is permitted to see 
            <span style="font-weight: bold; text-decoration: underline;">@Model.RecommendationByName </span>in the vidhan sabha (Council Chamber) for the purpose of 
            <span style="font-weight: bold; text-decoration: underline;">@Model.RecommendationDescription</span>.
        </div>
    </div>
    <div class="row" style="width: 350px;">
        <div class="qrcode-box" id="@Model.PassCode" data-code="@Model.xmlDocument" style=" padding-left:10px;">
        </div>
    </div>
    <!---row tow----->
    <div style="width: 350px; text-align: left; position: relative; top: -81px; left: 112px;">
        <div style="width: 50%; float: left;">Signature of the permit holder</div>
        @if (Model.SignaturePath != null)
        {
            <div style="width: 45%; float: left;">
                <img src="@Model.SignaturePath" width="" height="40" style="float: right; float: right; position: relative; top: -6px; right: 114px;" />
            </div>
        }
        else
        {        
            <div style="width: 45%; float: left;">
                @if (Model.ApprovedBy == "10133")
                {
                    <img src="~/assets/css/img/RajenderDharwal.gif" width="" height="40" style="float: right; float: right; position: relative; top: -6px; right: 114px;" />
                }
                else if (Model.ApprovedBy == "10165" || Model.ApprovedBy == "KEHAR")
                {
                    <img src="~/assets/css/img/KeharSingh.gif" width="" height="40" style="float: right; float: right; position: relative; top: -6px; right: 114px;" />
                }
                else if (Model.ApprovedBy == "10226")
                {
                    <img src="~/assets/css/img/PawanKanthwal.gif" width="" height="40" style="float: right; float: right; position: relative; top: -6px; right: 114px;" />
                }
                else if (Model.ApprovedBy == "10229")
                {
                    <img src="~/assets/css/img/Deepak.gif" width="" height="40" style="float: right; float: right; position: relative; top: -6px; right: 114px;" />
                }
                else if (Model.ApprovedBy == "10167")
                {
                    <img src="~/assets/css/img/bhaduargif.gif" width="" height="40" style="float: right; float: right; position: relative; top: -6px; right: 114px;" />
                }
                else if (Model.ApprovedBy == "Pawan Kumar Jamwal")
                {
                    <img src="~/assets/css/img/PawanJamwalgif.gif" width="" height="40" style="float: right; float: right; position: relative; top: -6px; right: 114px;" />
                }
                else if (Model.ApprovedBy == "Deepak Thakur")
                {
                    <img src="~/assets/css/img/Deepakthakur.jpg" width="" height="40" style="float: right; float: right; position: relative; top: -6px; right: 114px;" />
                }
                else if (Model.ApprovedBy == "Rajender Singh Dharwal")
                {
                    <img src="~/assets/css/img/RajenderSinghDharwal.png" width="" height="40" style="float: right; float: right; position: relative; top: -6px; right: 114px;" />
                }
                else if (Model.ApprovedBy == "10132")
                {
                    <img src="~/assets/css/img/10132.png" width="" height="40" style="float: right; float: right; position: relative; top: -6px; right: 114px;" />
                }
                else if (Model.ApprovedBy == "MAHA DEV")
                {
                    <img src="~/assets/css/img/mahadev.png" width="" height="40" style="float: right; float: right; position: relative; top: -6px; right: 114px;" />
                }
                else if (Model.ApprovedBy == "Ashok Kumar" && Model.AadharID == "594421469703")
                {
                    <img src="~/assets/css/img/10132.png" width="" height="40" style="float: right; float: right; position: relative; top: -6px; right: 114px;" />
                }
                else if (Model.ApprovedBy == "Harshit Sharma")
                {
                    <img src="~/assets/css/img/Harshit Sharma.png" width="" height="40" style="float: right; float: right; position: relative; top: -6px; right: 114px;" />
                }
                else if (Model.ApprovedBy == "Avinash Kumar")
                {
                    <img src="~/assets/css/img/AvinashKumar.png" width="" height="40" style="float: right; float: right; position: relative; top: -6px; right: 114px;" />
                }
                else if (Model.ApprovedBy == "Rajat Thakur")
                {
                    <img src="~/assets/css/img/10132.png" width="" height="40" style="float: right; float: right; position: relative; top: -6px; right: 114px;" />
                }
                else if (Model.ApprovedBy == "Vishal Thakur")
                {
                    <img src="~/assets/css/img/Harshit Sharma.png" width="" height="40" style="float: right; float: right; position: relative; top: -6px; right: 114px;" />
                }
                else if (Model.ApprovedBy == "Devinder Kumar Sharma")
                {
                    <img src="~/assets/css/img/AvinashKumar.png" width="" height="40" style="float: right; float: right; position: relative; top: -6px; right: 114px;" />
                }
                else if (Model.ApprovedBy == "Ashok Kumar" && Model.AadharID == "534192948973")
                {
                    <img src="~/assets/css/img/AvinashKumar.png" width="" height="40" style="float: right; float: right; position: relative; top: -6px; right: 114px;" />
                }
                else
                {
                    <img src="~/assets/css/img/blankImage.gif" width="" height="40" style="float: right; float: right; position: relative; top: -6px; right: 114px;" />
                }
            </div>
        }
    </div>
    <!---row three----->
    <div style="width: 350px; text-align: left; position: relative; top: -81px; left: 112px;">
        <div style="width: 50%; float: left;">
            Signature of the person whom<br />
            the visitor was permitted to see
            <br />
        </div>
        <div style="width: 45%; float: left; text-align: right; position: relative; top: 1px; right: 110px;">
            Receptionist,<br>
            Vidhan Sabha Secretariat,
            Shimla-4
        </div>
    </div>

</section>

@*<section class="casual-entry-permit-main section-pass-main" style="width: 350px; font-size: 7px;">

    <div style="width: 350px; font-size: 1em;">
        <div style="width: 33%; float: left;"><span style="text-decoration: underline; font-weight: bold;">NON-TRANSFERABLE </span>
            <br>
            Pass Code : @Model.PassCode
            <br>
            Gate No :  @Model.GateNumber </div>
        <br>

        <div style="width: 33%; float: left; text-align: center;">
            <span style="font-weight: bold;">VIDHAN SABHA SECRETARIAT </span>
            <br>
            (RECEPTION OFFICE)<br>
            <span style="font-weight: bold;">CASUAL ENTRY PERMIT </span>
        </div>
        <div style="width: 34%; float: left;">
            <img src="@Model.Photo" height="65px" width="50px" style="float: right; position: relative; right: 25px; top: -15px;" /></div>
    </div>
    <!---row one----->

    <div style="width: 350px;">
        <div style="text-align: justify; margin: 0px; padding-right: 20px; position: relative; top: -12px; right1px;">
            This permit is valid for the date of issue only and it must be returned to the gatkeeper on completion of the visit.    
        Dated the<span style="font-weight: bold; text-decoration: underline;"> @Model.SessionDateFrom </span> Time 
            <span style="font-weight: bold; text-decoration: underline;">@Model.DayTime (@Model.Time)</span> Shri 
            <span style="font-weight: bold; text-decoration: underline;"> @Model.Name </span>is permitted to see 
            <span style="font-weight: bold; text-decoration: underline;"> @Model.RecommendationByName </span>in the vidhan sabha (Council Chamber) for the purpose of 
            <span style="font-weight: bold; text-decoration: underline;">@Model.RecommendationDescription</span>.
        </div>
    </div>

    <!---row tow----->
    <div style="width: 350px;">
        <div style="width: 50%; float: left;">Signature of the permit holder</div>
        <div style="width: 45%; float: left;">
            <img src="/assets/css/img/p-transDharmeshSir.gif" width="" height="30px" style="float: right;" /></div>

    </div>

    <!---row three----->
    <div style="width: 350px">
        <div style="width: 50%; float: left;">Signature of the person whom<br />
            the visitor was permitted to see
            <br />
        </div>
        <div style="width: 45%; float: left; text-align: right;">Receptionist,<br>
            Vidhan Sabha Secretariat,<br>
            Shimla-4</div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</section>*@