﻿@model SBL.eLegistrator.HouseController.Web.Areas.PublicPasses.Models.PublicPassDashboardModel

<script src="~/ScriptigFunctions/Passes/Passes.js"></script>

@{
    ViewBag.Title = "DepartmentDashboard";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@Html.Action("LeftNavigationMenu", "PublicPass")

<div class="main-content">
     @Html.Partial("_BreadCrumbsPartial", Model)

    <div class="page-content" id="GridContainer">

        <div id='PhotoModel' class="hide">
            <div id='ShowPhotoModel' style="text-align: center">
            </div>
        </div>

        <div id='fullDetailsModel' class="hide">
            <div id='ShowfullDetailsModel' style="text-align: center">
            </div>
        </div>

        <div id='rejectPassModel' class="hide">
            <div id='ShowRejectPassModelModel' style="text-align: center">
            </div>
        </div>

        @if(Model.Status == 1)
        {            
        @Html.Partial("_PublicPassesGridPending", Model)
        }
        else if (Model.Status == 2)
        {
            @Html.Partial("_PublicPassesGridApproved", Model)
        }
        else if (Model.Status == 3)
        {
            @Html.Partial("_PublicPassesGridRejected", Model)
        }
         
    </div>

</div>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>
<!-- page specific plugin styles -->
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
@*<script src="~/Scripts/jquery-1.7.min.js"></script>*@
<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>

<script>
    //$('[data-rel=tooltip]').tooltip();
   
    function FullPassDetails(PassID) {
        var pathurl = '@Url.Action("FullPassDetails", "PublicPass")';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                Id: PassID
            },
            success: function (data) {

                $('#ShowfullDetailsModel').html("");
                $('#ShowfullDetailsModel').html(data);

                var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-eye green'></i> Full Details</h4></div>",
                    width: 600,
                    title_html: true,
                    buttons: [
                        {
                            text: "OK",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

            }
        });
    }

    function ImagePriview(obj) {
        var image = $(obj).attr('image');
        var modalBody = "<img style='width:180px;height:230px;' src='" + image + "' />";

        $('#ShowPhotoModel').html("");
        $('#ShowPhotoModel').html(modalBody);

        var dialog = $("#PhotoModel").removeClass('hide').dialog({
            resizable: false,
            modal: true,
            title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon glyphicon glyphicon-picture bigger-130 blue'></i> Photo</h4></div>",
            width: 260,
            title_html: true,
            buttons: [
                {
                    text: "OK",
                    "class": "btn btn-primary btn-xs",
                    click: function () {
                        $(this).dialog("close");
                    }
                }
            ]
        });
    }

    function RejectPublicPass(PassID) {
        var pathurl = '@Url.Action("RejectPublicPass", "PublicPass")';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                publicPassID: PassID
            },
            success: function (data) {
                $('#ShowRejectPassModelModel').html("");
                $('#ShowRejectPassModelModel').html(data);

                var dialog = $("#rejectPassModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-ban bigger-130 red'></i> Reject Pass</h4></div>",
                    width: 500,
                    title_html: true,
                    buttons: [
                        {
                            text: "OK",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });
            }
        });
    }
</script>