﻿@model SBL.eLegistrator.HouseController.Web.Areas.AdministrationBranch.Models.AdministrationBranchDashboardModel

@{
    int count = 0;
}
@Html.HiddenFor(m => m.pageMode)
<div class="page-header">
    <h1>@Resources.PublicPasses.HeadingPasses
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            @Resources.PublicPasses.HeadingPassesPending
        </small>
    </h1>
</div>
<div id='SinglePrintModal' class="hide">
    <div id='SingleShowPrintPreviewModel' style="text-align: center">
    </div>
</div>
<input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
<input type="hidden" id="SelectedChkbxMode" name="SelectedChkbxMode" />
<input type="hidden" id="SelectedDropdown" name="SelectedDropdown" />
<div class="row">

    @Html.Partial("_PassTypeFilterView", Model)

    <div class="col-xs-12">
        <div class="table-header">
            @Resources.PublicPasses.GridHeadingPending
        </div>
        <div class="pass-table">
            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                @if (Model.mPassModelList.Count > 0)
                {
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">
                                <th class=" sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">
                                    <label class="position-relative">
                                        <input type="checkbox" id="checkBoxAll" onchange="checkAll(this)" class="ace" />
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">#</th>
                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">RequestID</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.PublicPasses.GridName</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Recomended By: activate to sort column ascending" style="width: 93px;">@Resources.PublicPasses.GridGender</th>
                                @*<th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">@Resources.PublicPasses.GridMobileNumber</th>*@
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" style="width: 100px;">Department.</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 110px;">Designation</th>

                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" style="width: 100px;">Requested Date</th>
                                <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" style="width: 200px;">Pass Type</th>
                                <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.mPassModelList)
                            {
                                count = count + 1;
                                string style = (count % 2 == 0) ? "odd" : "even";

                                var trID = @item.PassID;
								
                                <tr class="@style">
                                    <td>
                                        <input id="check @item.PassID" mode="@item.PassID@item.Mode" dropdown="@count" class="checkstatus" type="checkbox" @*onchange="checkChange(this)"*@ />
                                    </td>
                                    <td class=" ">@count</td>
                                    <td class="">@item.RequestID</td>
                                    <td class=""><b>@item.Name</b>
                                        <br />@item.FatherName </td>
                                    <td class=" ">@item.Age - @(item.Gender == "Male" ? "M" : "F")</td>


                                    @*<td class=" ">@item.MobileNo</td>*@
                                    <td class=" ">@item.OrganizationName</td>
                                    <td class=" ">@item.Designation</td>

                                    <td class=" ">@(Convert.ToDateTime(item.RequestedDate).ToString("dd-MM-yyyy"))</td>
                                    <td class=" " style="padding: 4px">
                                        @Html.DropDownList("dropdown" + @count, new SelectList(Model.ListPassCategory, "PassCategoryID", "Name", item.RequestedPassCategoryID), "-- Select Pass Type --", new { @tabindex = "3", @style = "width:184px" })
                                    </td>
                                    <td class=" " style="width: 148px">
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a title="@Resources.PublicPasses.ActionApprove" onclick="ApproveMasterPassPending(@item.PassID, '@item.Mode', @count)" href="javascript:void(0);" class="blue">
                                                <i class="ace-icon fa fa-check-square-o bigger-130"></i>
                                            </a>
                                            <a title="@Resources.PublicPasses.ActionReject" onclick="RejectMasterPassPending(@item.PassID, '@item.Mode')" href="javascript:void(0);" class="red">
                                                <i class="ace-icon fa fa-ban bigger-130"></i>
                                            </a>
                                            <a title="@Resources.PublicPasses.ActionFullDetails" onclick="FullPassDetailsPending(@item.PassID, '@item.Mode', @count)" href="javascript:void(0);" class="green">
                                                <i class="ace-icon fa fa-eye bigger-130"></i>
                                            </a>
                                            <a title="@Resources.PublicPasses.ActionViewPhoto" image="@item.Photo" onclick="PendingImagePriview(@item.PassID);"
												 data-rel="tooltip" data-placement="bottom" data-original-title="Bottm Info"
												 href="javascript:void(0);" role="button"  data-toggle="modal" >
                                                <i class="ace-icon glyphicon glyphicon-picture bigger-130"></i>
                                            </a>
                                            <a title="Approve & Print" onclick="ApproveMasterPassandPrint(@item.PassID, '@item.Mode', @count)" href="javascript:void(0);" class="blue">
                                                <i class="ace-icon glyphicon glyphicon-print bigger-130"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-xs-12" id="ButtonGroup">
                            <button type="submit" value="Add" id="AddButton" onclick="ApproveSelectedMasterPass()" class="btn btn-info"><i class="ace-icon fa fa-check-square-o bigger-130"></i>@Resources.PublicPasses.ActionApprove</button>
                            <button type="submit" value="ApprovePrint" id="ApproveAndPrintButton" onclick="ApproveAndPrintSelectedMasterPass()" class="btn btn-warning"><i class="ace-icon glyphicon glyphicon-print"></i>Approve & Print</button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-info">
                                @Resources.PublicPasses.GridNoPassPending
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div id='approvePassModel' class="hide">
    Are you sure to Approve ?
</div>
<div id="dialog-confirmBox" class="hide">
    <p>Are you sure to Reject this pass ?</p>
</div>
<div id='printPassModel' class="hide">
    Are you sure to Approve & Print this pass ?
</div>
<script>
    $(document).ready(function () {
        $('#FilterPass').prop('disabled', false);
    });
    $(".checkstatus").click(function (obj) {

        if ($(obj.target.id).checked) {
            $(obj.target.id).val('true');
        }
        else {
            $(obj.target.id).val('false');
        }
    });
    function checkAll(ele) {
        var checkboxes = document.getElementsByTagName('input');
        if (ele.checked) {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                }
            }
        } else {
            for (var i = 0; i < checkboxes.length; i++) {
                console.log(i)
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                }
            }
        }
    }
    function ApproveMasterPassPending(PassID, mode, allowedPass) {
        var selectedVal = document.getElementById("dropdown" + allowedPass).value;
        var PassIDs = PassID;
        if (PassIDs != "" && PassIDs != null) {
            var dialog = $("#approvePassModel").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-check-square-o bigger-130 blue'></i> Approve Pass</h4></div>",
                width: 500,
                title_html: true,
                buttons: [
					{
					    text: "OK",
					    "class": "btn btn-primary btn-xs",
					    click: function () {
					        $(this).dialog("close");

					        $.ajaxSetup({ cache: false });
					        var pathurl = '@Url.Action("ApproveMasterPassPending", "AdministrationBranch")';
					        $("#loader-wrapper").show();
					        $.ajax({
					            type: 'GET',
					            url: pathurl,
					            data: {
					                passID: PassID,
					                mode: mode,
					                allowedPassType: selectedVal
					            },
					            success: function (data) {
					                $.ajaxSetup({ cache: false });
					                var pathurl = '@Url.Action("Index", "AdministrationBranch", new { Area = "AdministrationBranch" })';
					                $("#loader-wrapper").show();
					                $.ajax({
					                    type: 'GET',
					                    url: pathurl,
					                    data: {
					                        Status: 1,
					                        PassCatID: 0,

					                    },
					                    success: function (data) {
					                        $("#tableContainer").html("");
					                        $("#tableContainer").html(data);
					                        $("#loader-wrapper").hide();
					                    }
					                });
					                ShowNotification("sucess", "Pass Approved Successfully !!!.....");
					                $("#loader-wrapper").hide();
					                //alert("Pass Approved Successfully");
					                // window.location.href = data;
					            }
					        });
					    }
					},
					{
					    text: "Cancel",
					    "class": "btn btn-primary btn-xs",
					    click: function () {
					        $(this).dialog("close");
					    }
					}
                ]
            });



            }
            else {
                ShowNotification("error", "Please Select passes to approve first !!!.....");
            }
        }

        function RejectMasterPassPending(PassID, mode) {
            var PassIDs = document.getElementById("SelectedChkbxId").value;
            if (PassID != "" && PassID != null) {
                //if (confirm("Are you sure to Reject this pass?")) {
                $("#dialog-confirmBox").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Reject Pass",
                    title_html: true,
                    buttons: [
                        {
                            html: "&nbsp; Yes",
                            "class": "btn btn-primary",
                            click: function () {
                                $.ajaxSetup({ cache: false });
                                var pathurl = '@Url.Action("RejectMasterPassPending", "AdministrationBranch")';
                                $("#loader-wrapper").show();
                                $.ajax({
                                    type: 'GET',
                                    url: pathurl,
                                    data: {
                                        passID: PassID,
                                        mode: mode
                                    },
                                    success: function (data) {


                                        $('#ShowfullDetailsModel').html("");
                                        $('#ShowfullDetailsModel').html(data);
                                        $("#loader-wrapper").hide();
                                        var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                                            resizable: false,
                                            modal: true,
                                            title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-eye green'></i> Reject Pass</h4></div>",
                                            width: 490,
                                            title_html: true
                                        });

                                    }
                                });
                                $(this).dialog("close");
                            }
                        }
                        ,
                        {
                            html: "&nbsp; Cancel",
                            "class": "btn btn-primary",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });
                //}
                //else {
                //	return false;
                //}
                }
                else {
                    ShowNotification("error", "Please select any Employee .....");
                }
            }

            function FullPassDetailsPending(PassID, mode) {
                var pathurl = '@Url.Action("FullPassDetailsPending", "AdministrationBranch")';
                $.ajax({
                    type: 'GET',
                    url: pathurl,
                    data: {
                        Id: PassID,
                        mode: mode
                    },
                    success: function (data) {

                        $('#ShowfullDetailsModel').html("");
                        $('#ShowfullDetailsModel').html(data);

                        var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                            resizable: false,
                            modal: true,
                            title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-eye green'></i> Full Details</h4></div>",
                            width: 600,
                            title_html: true,
                            buttons: [
                                {
                                    text: "OK",
                                    "class": "btn btn-primary btn-xs",
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }
                            ]
                        });

                    }
                });
            }

            jQuery(function ($) {
                var oTable1 =
                $('#sample-table-2')
                .dataTable({
                    bAutoWidth: true,
                    "aLengthMenu": [[10, 25, 50, 100, 200, 500, 1000, -1], [10, 25, 50, 100, 200, 500, 1000, "All"]],
                    "aoColumns": [
                      { "bSortable": false }, { "bSortable": false },
                      null, null, null, null, null, null, { "bSortable": false },
                      { "bSortable": false }
                    ]
                });
            });


            function checkItems() {
                document.getElementById("SelectedChkbxId").value = "";
                document.getElementById("SelectedChkbxMode").value = "";
                document.getElementById("SelectedDropdown").value = "";
                var passidsString = "";
                var passmodeString = "";
                var PassCatString = "";
                $(".checkstatus").each(function (id) {
                    var obj = this;
                    var mode = $(obj).attr('mode');
                    var id = $(obj).attr('id');
                    var allowedPassType = $(obj).attr('dropdown');

                    // alert("mode : " + mode + " id : " + id + " allowedPassType : " + allowedPassType);

                    if (document.getElementById(id).checked) {

                        passidsString += "," + id.substring(6);
                        passmodeString += "," + mode;
                        PassCatString += "," + document.getElementById("dropdown" + allowedPassType).value;

                    }


                });
                if (PassCatString != "" && passmodeString != "" && passidsString != "") {
                    PassCatString = PassCatString.substring(1);
                    passmodeString = passmodeString.substring(1);
                    passidsString = passidsString.substring(1);

                    document.getElementById("SelectedDropdown").value = PassCatString;
                    document.getElementById("SelectedChkbxMode").value = passmodeString;
                    document.getElementById("SelectedChkbxId").value = passidsString;
                }

            }
            function ApproveSelectedMasterPass() {
                checkItems();
                var PassIDs = document.getElementById("SelectedChkbxId").value;
                var passModes = document.getElementById("SelectedChkbxMode").value;
                var allowedPassTypes = document.getElementById("SelectedDropdown").value;

                if (PassIDs != "" && PassIDs != null) {
                    var dialog = $("#approvePassModel").removeClass('hide').dialog({
                        resizable: false,
                        modal: true,
                        title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-check-square-o bigger-130 blue'></i> Approve Pass</h4></div>",
                        width: 500,
                        title_html: true,
                        buttons: [
                            {
                                text: "OK",
                                "class": "btn btn-primary btn-xs",
                                click: function () {
                                    $(this).dialog("close");

                                    $.ajaxSetup({ cache: false });
                                    var pathurl = '@Url.Action("ApproveSelectedMasterPass", "AdministrationBranch")';
                                    $("#loader-wrapper").show();
                                    $.ajax({
                                        url: pathurl,
                                        type: 'GET',
                                        data: {
                                            PassIDs: PassIDs,
                                            PassModes: passModes,
                                            allowedPassTypes: allowedPassTypes
                                        },
                                        success: function (data) {
                                            $.ajaxSetup({ cache: false });
                                            var pathurl = '@Url.Action("Index", "AdministrationBranch", new { Area = "AdministrationBranch" })';
                                            $("#loader-wrapper").show();
                                            $.ajax({
                                                type: 'GET',
                                                url: pathurl,
                                                data: {
                                                    Status: 1,
                                                    PassCatID: 0,

                                                },
                                                success: function (data) {
                                                    $("#tableContainer").html("");
                                                    $("#tableContainer").html(data);
                                                    $("#loader-wrapper").hide();
                                                }
                                            });
                                            $("#loader-wrapper").hide();
                                            ShowNotification("sucess", "Passes Approved Successfully !!!.....");
                                            //alert("Passes Approved Successfully");
                                            //window.location.href = data;
                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            alert(xhr.status);
                                            alert(thrownError);
                                        }
                                    });
                                }
                            },
				{
				    text: "Cancel",
				    "class": "btn btn-primary btn-xs",
				    click: function () {
				        $(this).dialog("close");
				    }
				}
                        ]
                    });

                    }
                    else {
                        ShowNotification("error", "Please Select passes to approve first !!!.....");
                    // alert("Please Select passes to approve first!");
                    }
                }

                function checkChange(obj) {

                    var mode = $(obj).attr('mode');
                    var id = $(obj).attr('id');
                    var allowedPassType = $(obj).attr('dropdown');

                    //alert("mode : " + mode + " id : " + id + " allowedPassType : " + allowedPassType);

                    if (document.getElementById(id).checked) {
                        var selectedId = document.getElementById("SelectedChkbxId").value;
                        var selectedModes = document.getElementById("SelectedChkbxMode").value;
                        var selectedDropdown = document.getElementById("SelectedDropdown").value;

                        if (selectedId == "" && selectedModes == "" && selectedDropdown == "") {
                            document.getElementById("SelectedChkbxId").value = id.substring(6);
                            document.getElementById("SelectedChkbxMode").value = mode;

                            var selectedVal = document.getElementById("dropdown" + allowedPassType).value;
                            document.getElementById("SelectedDropdown").value = selectedVal;
                        }
                        else {
                            selectedId = selectedId + "," + id.substring(6);
                            document.getElementById("SelectedChkbxId").value = selectedId;

                            selectedModes = selectedModes + "," + mode;
                            document.getElementById("SelectedChkbxMode").value = selectedModes;

                            selectedDropdown = selectedDropdown + "," + document.getElementById("dropdown" + allowedPassType).value;
                            document.getElementById("SelectedDropdown").value = selectedDropdown;
                        }
                        $("#dropdown" + allowedPassType).prop("disabled", true);
                    }
                    else { //Remove the values from the Lists If checkbox will be unchecked.
                        var selectedId = document.getElementById("SelectedChkbxId").value;
                        var newvalue = selectedId.replace("," + id.substring(6), "");
                        if (newvalue.length == selectedId.length) {
                            newvalue = selectedId.replace(id.substring(6) + ",", "");
                        }
                        if (newvalue.length == selectedId.length) {
                            newvalue = selectedId.replace(id.substring(6), "");
                        }
                        document.getElementById("SelectedChkbxId").value = newvalue;

                        var selectedModes = document.getElementById("SelectedChkbxMode").value;
                        var newvalueMode = selectedModes.replace("," + mode, "");
                        if (newvalueMode.length == selectedModes.length) {
                            newvalueMode = selectedModes.replace(mode + ",", "");
                        }
                        if (newvalueMode.length == selectedModes.length) {
                            newvalueMode = selectedModes.replace(mode, "");
                        }
                        document.getElementById("SelectedChkbxMode").value = newvalueMode;

                        var selectedDropdowns = document.getElementById("SelectedDropdown").value;
                        var selected = document.getElementById("dropdown" + allowedPassType).value;

                        var newvalueDrop = selectedDropdowns.replace("," + selected, "");
                        if (newvalueDrop.length == selectedDropdowns.length) {
                            newvalueDrop = selectedDropdowns.replace(selected + ",", "");
                        }
                        if (newvalueDrop.length == selectedDropdowns.length) {
                            newvalueDrop = selectedDropdowns.replace(selected, "");
                        }
                        document.getElementById("SelectedDropdown").value = newvalueDrop;

                        $("#dropdown" + allowedPassType).prop("disabled", false);
                    }
                }
                function ApproveMasterPassandPrint(PassID, mode, allowedPass) {
                    var selectedVal = document.getElementById("dropdown" + allowedPass).value;
                    var PassIDs = PassID;

                    if (PassIDs != "" && PassIDs != null) {
                        var dialog = $("#printPassModel").removeClass('hide').dialog({
                            resizable: false,
                            modal: true,
                            title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon glyphicon glyphicon-print bigger-130 red'></i> Print Selected Pass/s</h4></div>",
                            width: 500,
                            title_html: true,
                            buttons: [
                                {
                                    text: "OK",
                                    "class": "btn btn-primary btn-xs",
                                    click: function () {
                                        $(this).dialog("close");
                                        $.ajaxSetup({ cache: false });
                                        var pathurl = '@Url.Action("ApproveMasterPassPrint", "AdministrationBranch")';
                                        $("#loader-wrapper").show();
                                        $.ajax({
                                            type: 'GET',
                                            url: pathurl,
                                            data: {
                                                passID: PassID,
                                                mode: mode,
                                                allowedPassType: selectedVal
                                            },
                                            success: function (data) {

                                                $('#SingleShowPrintPreviewModel').html("");
                                                $('#SingleShowPrintPreviewModel').html(data);

                                                $("#ContentToPrintForSinglePass").print();
                                                RefreshPendingList();

                                                //var dialog = $("#SinglePrintModal").removeClass('hide').dialog({
                                                //    resizable: false,
                                                //    modal: true,
                                                //    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon glyphicon glyphicon-print bigger-130 red'></i> Print Passes</h4></div>",
                                                //    width: 600,
                                                //    title_html: true,
                                                //    buttons: [
                                                //        {
                                                //            text: "OK",

                                                //            "class": "btn btn-primary btn-xs",
                                                //            click: function () {
                                                //                $(this).dialog("close");
                                                //                RefreshPendingList();
                                                //            }

                                                //        }

                                                //    ]

                                                //});

                                                $("#loader-wrapper").hide();

                                            }
                                        });

                                    }
                                },
				{
				    text: "Cancel",
				    "class": "btn btn-primary btn-xs",
				    click: function () {
				        $(this).dialog("close");
				    }
				}
                            ]
                        });



                        }
                    }
                    function ApproveAndPrintSelectedMasterPass() {
                        checkItems();
                        var PassIDs = document.getElementById("SelectedChkbxId").value;
                        var passModes = document.getElementById("SelectedChkbxMode").value;
                        var allowedPassTypes = document.getElementById("SelectedDropdown").value;

                        if (PassIDs != "" && PassIDs != null) {
                            var dialog = $("#approvePassModel").removeClass('hide').dialog({
                                resizable: false,
                                modal: true,
                                title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-check-square-o bigger-130 blue'></i> Approve Pass</h4></div>",
                                width: 500,
                                title_html: true,
                                buttons: [
                                    {
                                        text: "OK",
                                        "class": "btn btn-primary btn-xs",
                                        click: function () {
                                            $(this).dialog("close");

                                            $.ajaxSetup({ cache: false });
                                            var pathurl = '@Url.Action("ApproveSelectedMasterPassPrint", "AdministrationBranch")';
                                            $("#loader-wrapper").show();
                                            $.ajax({
                                                url: pathurl,
                                                type: 'GET',
                                                data: {
                                                    PassIDs: PassIDs,
                                                    PassModes: passModes,
                                                    allowedPassTypes: allowedPassTypes
                                                },
                                                success: function (data) {

                                                    $('#SingleShowPrintPreviewModel').html("");
                                                    $('#SingleShowPrintPreviewModel').html(data);
                                                    $("#ContentToPrintForSinglePass").print(
                                                     {
                                                         stylesheet: "/assets/css/sbl/pass-style.css",
                                                         rejectWindow: true,
                                                         iframe: true,
                                                         mediaPrint: true,

                                                     });
                                                    RefreshPendingList();
                                                    $("#loader-wrapper").hide();
                                                    ShowNotification("sucess", "Passes Approved & Print Successfully !!!.....");

                                                },
                                                error: function (xhr, ajaxOptions, thrownError) {
                                                    alert(xhr.status);
                                                    alert(thrownError);
                                                }
                                            });
                                        }
                                    },
				{
				    text: "Cancel",
				    "class": "btn btn-primary btn-xs",
				    click: function () {
				        $(this).dialog("close");
				    }
				}
                                ]
                            });

                            }
                            else {
                                ShowNotification("error", "Please Select passes to approve first !!!.....");

                            }
                        }
                        function RefreshPendingList() {
                            $.ajaxSetup({ cache: false });
                            var pathurl = '@Url.Action("Index", "AdministrationBranch", new { Area = "AdministrationBranch" })';
                            $("#loader-wrapper").show();
                            $.ajax({
                                type: 'GET',
                                url: pathurl,
                                data: {
                                    Status: 1,
                                    PassCatID: 0,

                                },
                                success: function (data) {

                                    $("#tableContainer").html("");
                                    $("#tableContainer").html(data);
                                    $("#loader-wrapper").hide();

                                }
                            });
                        }

</script>
