﻿@model IEnumerable<SBL.eLegistrator.HouseController.Web.Areas.AdministrationBranch.Models.mPassModel>
@using SBL.DomainModel.Models.Enums;

@{
    var heightCust = 0;
}
<style>
    .td-left {
        width: 25%;
    }
</style>
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/css/ace.css" />
<link href="~/assets/css/sbl/pass-style.css" rel="stylesheet" />

<script src="~/assets/js/jquery.print.js"></script>

<div class="row" id="ContentToPrint">
    @foreach (var item in Model)
    {
        if (heightCust >= 900)
        {
        <div class="page-break"></div>
            heightCust = 0;
        }
        
        <div class="col-xs-12">
            @if (item.ApprovedPassCategoryID == 15)
            {
                heightCust += 450;                        
                @Html.Partial("_TemplateVehicleParkingPass", item)
            }
            else if (item.ApprovedPassCategoryID == 16)
            {
                heightCust += 450;
                @Html.Partial("_TemplateVehicleDropOffPass", item)
            }
            else if (item.ApprovedPassCategoryID == (Int32)PassAllowsCreation.VisitorsGallery)
            {
                heightCust += 400;
                @Html.Partial("_TemplateVisitorGalary", item)                
            }
            else if (item.ApprovedPassCategoryID == (Int32)PassAllowsCreation.PublicPassID)
            {
                heightCust += 400;
                @Html.Partial("_TemplateCasualEntryPass", item)
            }
            else if (item.ApprovedPassCategoryID == 20 || item.ApprovedPassCategoryID == 9 || item.ApprovedPassCategoryID == 5 || item.ApprovedPassCategoryID == 10)
            {                
                @Html.Partial("_TemplateDutyStaffAtVS", item)
            }
            else
            {
                heightCust += 300;
                @Html.Partial("_TemplateEntryPass", item)
            }
        </div>
    }
</div>
<div class="wizard-actions">
    <div class="col-xs-12" id="ButtonGroup">
      <button type="button"   onclick="PrintPass();" name="Mode" value="Print" id="PrintButton" class="btn btn-warning"><i class="ace-icon glyphicon  glyphicon-print"></i>Print</button>

         
    </div>
</div>

<script type="text/javascript">
  
    function PrintPass() {
        alert("test");
        $("#ContentToPrint").print(
            {
               
                stylesheet: "/assets/css/pass-style.css",
                rejectWindow: true,
                iframe: true,
                mediaPrint: true,

            });
        return false;
        
    }
</script>
