﻿@model SBL.eLegistrator.HouseController.Web.Areas.AdministrationBranch.Models.mPassModel
@*@using (Ajax.BeginForm("RejectMasterPassPending", "AdministrationBranch", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @role = "form", @id = "RejectMasterPass" }))*@
@using (Ajax.BeginForm("RejectMasterPassPending", "AdministrationBranch", FormMethod.Post, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "onCompleate(data)", LoadingElementId = "loader-wrapper" }, new { @class = "form-horizontal", @role = "form", @id = "RejectMasterPass" }))
{
    @Html.HiddenFor(m => m.PassID)
    @Html.HiddenFor(m => m.Mode);
    @Html.AntiForgeryToken()
    <div class="widget-main">
        <div class="row" style="text-align: left;">
            <div class="col-xs-12">
                <div class="row">
                    <label class="control-label no-padding-right" for="reason">Reason For Rejection : </label>
                    <br />
                    <div class="form-group">
                        <div class="col-sm-12">
                            @Html.TextAreaFor(model => model.RejectionReason, new { @placeholder = "Enter Reason for pass Rejection", @cols = "50" })<br />
                            @Html.ValidationMessageFor(model => model.RejectionReason)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="wizard-actions">
                        <button type="submit" class="btn btn-primary">
                            <i class="ace-icon fa fa-refresh "></i>
                            Reject
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    function onCompleate(data) {
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("Index", "AdministrationBranch", new { Area = "AdministrationBranch" })';
        $("#loader-wrapper").show();
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                Status: 1,
                PassCatID: 0,

            },
            success: function (data) {

                $("#fullDetailsModel").dialog('close');

                $("#tableContainer").html("");
                $("#tableContainer").html(data);
                $("#loader-wrapper").hide();
            }
        });

    }
</script>
