﻿@model List<SBL.DomainModel.Models.RecipientGroups.RecipientGroupMember>

@{
	int _count = 0; //_ naming convention for global variables
}

<div style="height: 300px; overflow-y: scroll; margin-top: 3px; border: 1px dashed #808080;width:100%;">
	<table class="table table-striped table-bordered table-hover dataTable" style="width: 100%;" id="tblGroupistMember" aria-describedby="sample-table-2_info" >
		<thead>
			<tr role="row">
				<th></th>
				<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">S#</th>
				<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Member Name</th>
				<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Mobile</th>
				<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Email</th>

			</tr>
		</thead>
		<tbody role="alert" aria-live="polite" aria-relevant="all">
			@if (Model != null)
   { 

				foreach (var item in Model)
	{
		_count = _count + 1;
		string rowClass = (_count % 2 == 0) ? "even" : "odd";
             
<tr role="row" data-uid="">
					<td>
						<button class="btn btn-danger btn-xs" style="margin-left: 3px" data-toggle="tooltip" title="Delete" onclick="DeleteMember('@item.GroupMemberID')">
							<i class="ace-icon fa fa-trash-o bigger-120"></i>
						</button>
					</td>
					<td>@_count</td>
					<td style="text-align: left;">@item.Name

					<div style="float: right">
							@*<button class="btn btn-warning btn-xs" style="margin-left: 3px" data-toggle="tooltip" title="Rename" onclick="EditGroupMember('@item.GroupID','@item.GroupMemberID','@item.Name');">
							<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
						</button>*@


					</div>
					</td>
					<td>@item.MobileNo</td>
					<td>@item.Email</td>

				</tr>                                                                
	}
   }
   else
   { 
				<tr>
					<td colspan="4">No Data Found</td>

				</tr>
   }
		</tbody>
	</table>
</div>

<script>

	$(function () {
		var oTable1 = $('#tblGroupistMember')
		   .dataTable({ "bSort": false, "bPaginate": false, "bInfo": false });
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>
