﻿@using SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models
@model  List<SBL.DomainModel.Models.Grievance.tMemberGrievances>

@{  int count = 0;
    if (ViewBag.CurrentPage > 1)
    {

        count = (ViewBag.PageSize * (ViewBag.CurrentPage - 1));
    }
}
<!-- PAGE CONTENT BEGINS -->

<div class="pass-table">
    @if (Model != null)
    {
        if (Model.Count() > 0)
        {       
        <input type="hidden" id="pageId" name="pageId" value="@ViewBag.CurrentPage" />
        <div class="table-header">
            <div class="form-group">
                @if (ViewBag.Msg != null)
                {
                    <div class="@ViewBag.Class" id="MsgDiv">
                        <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
                        <strong><i class="ace-icon fa fa-check-square-o"></i>@ViewBag.Notification ! </strong>@ViewBag.Msg
                    </div>
                }
                
            </div>
        </div>  
          
        <table class="table  table-bordered  dataTable" id="tblGrievanceList" aria-describedby="sample-table-2_info">
            <thead>
                <tr role="row">
                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>
                    <th class="sorting SortingData" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Grievance No.</th>
                    <th class="sorting SortingData" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Information Content</th>
                    <th class="sorting SortingData" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Posted By</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Status</th>

                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">

                        <label class="pos-rel">
                            <input name="ChbIncludingBill" onclick="SelectAllChb(this);" type="checkbox" class="ace">
                            <span class="lbl">Check All</span>
                        </label>
                        <a data-rel="tooltip" class="btn btn-minier btn-success" title="Forward" onclick="AssignAllOffice();" href="#">Forward All
                        </a>
                    </th>
                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Action</th>

                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                @foreach (var item in Model)
                {
                    count = count + 1; 
                  
                    <tr  id="Row-@item.GuID"  >
                        <td class="center">
                            @count

                        </td>
                        <td class="center">
                            @item.GrvCode
                            <br />
                            <span class="label label-warning arrowed arrowed-right">@item.SubmittedDate.ToString("dd/MM/yyyy")</span>

                        </td>
                        <td class="center" style="width: 40%">


                            @if (item.InformationContent != null && item.InformationContent.Length > 100)
                            {

                                @item.InformationContent.Substring(0, 100)
                            }
                            else
                            {
                                @item.InformationContent
                            }
                        </td>
                        <td  style="width: 30%; margin-left:10px;">
                            @* @if (item.InfoTypeId == 1)
                            {
                                <text>Grievance</text>
                            }
                            else if (item.InfoTypeId == 2)
                            {
                                <text>Information</text>
                            }*@
                            <label class="form-group" style="text-align:left;">
                              <b> @item.FirstName  @item.LastName
                               ,  @item.Address</b> 
                              @*  Constituency: <b>@item.Constituency</b><br />
                                Panchayat: <b>@item.Panchayat</b><br />
                                District: <b>@item.District</b><br />
                                WardNumber: <b>@item.WardNumber</b> *@
                            </label>

                        </td>
                        <td style="width: 10%">
                            @ModelMapping.GetDisplayName((SBL.DomainModel.Models.Enums.GrievanceStatus)item.StatusId)
                            <br />
                            @if (item.StatusModifiedDate.ToString("dd/MM/yyyy") != "01/01/1900" && item.StatusModifiedDate.ToString("dd/MM/yyyy") != "01/01/1753")
                            {
                                <span class="label label-warning arrowed arrowed-right">@item.StatusModifiedDate.ToString("dd/MM/yyyy")</span>
                            }
                        </td>

                        <td>
                            @if (item.StatusId != 2 && item.StatusId != 3 ) // && item.StatusId != 4
                            {
                                <div class="checkbox center">
                                    <label class="pos-rel">
                                        <input name="ChbAssignBox-@count" type="checkbox" value="@item.GrvCode" class=" ace AssignBoxClass">
                                        <span class="lbl"></span>
                                    </label>
                                  
                                </div>
                            }
                        </td>
                        <td class="center" style="width: 20%">


                            <div class="hidden-sm hidden-xs action-buttons">
                                @if (item.StatusId != 2 && item.StatusId != 3 )  //&& item.StatusId != 4
                                {
                                    <a style="width:70px;" data-rel="tooltip" class="btn btn-minier btn-success" title="Forward" onclick="AssignOffice('@item.GrvCode','@item.GuID');" href="#">Forward
                                    </a>
                                    <a style="width:60px;" data-rel="tooltip" class="btn btn-minier btn-info" title="Dispose" onclick="RejectGrievance('@item.GrvCode','@item.GuID');" href="#">Dispose
                                    </a>
                                    
                                }
                                <div class="space-8"></div>
                                <a  style="width:70px;" data-rel="tooltip" class="btn btn-minier btn-danger" title="View Officer" onclick="ShowOfficerList('@item.GrvCode','@item.GuID');" id="@item.GuID"  href="#">View Detail
                                </a>
                                 
                                 
                                  <a style="width:60px;" class="btn btn-minier btn-info" data-rel="tooltip" onclick="ShowGrvpdfList('@item.GrvCode','@item.GuID');" >View Pdf
                                            </a>
                                
                            </div>
                            <div class="hidden-md hidden-lg">
                                <div class="inline position-relative">
                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                    </button>
                         @*           <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">*@
                                        @if (item.StatusId != 3)  //&& item.StatusId != 4
                                        { //<li>
                                            <a  style="width:70px;"data-rel="tooltip" class="green tooltip-success" title="Forward" onclick="AssignOffice('@item.GrvCode','@item.GuID');" href="#">Forward
                                            </a> <a style="width:60px;"  data-rel="tooltip" class="green tooltip-error" title="Dispose" onclick="RejectGrievance('@item.GrvCode','@item.GuID');" href="#">Dispose
                                                </a>
                                       // </li>
                                          
                                        }
                                      @* // <li>*@
                                            <a  style="width:70px;" id="ViedDetails-@item.GrvCode" class="tooltip-error DeleteSec" data-rel="tooltip" onclick="ShowOfficerList('@item.GrvCode','@item.GuID');" title="View Reply">View Details</a>
                                          
                                @* </li><li>*@
                                             <a  style="width:60px;"  class="btn btn-minier btn-info" data-rel="tooltip" onclick=" return ShowGrvpdfList('@item.GrvCode','@item.GuID');" href="#">View Pdf
                                            </a>
                                  
                                       @* </li>
                                    </ul>*@
                                </div>
                            </div>
                        </td>
                    </tr>                                                                
                }

            </tbody>
        </table>
        <!-- PAGE CONTENT ENDS -->
        <!-- PAGER START -->
        <div>@{Html.RenderPartial("~/Areas/AccountsAdmin/Views/Shared/_Pager.cshtml");}</div>
        <!-- PAGER ENDS -->
        <br />  <br />  <br />  <br />  <br />
        }
        else
        {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <strong>No Grievance Found</strong><br />
                </div>
            </div>
        </div>
        }

    }
</div>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<!-- /.col -->
<script type="text/javascript">

    $(document).ready(function () {

        $('#tblGrievanceList').dataTable({
            "bPaginate": false, "bInfo": false
        });
        setTimeout(function () {
            $("#MsgDiv").slideUp(400);
        }, 2000);

        $("#PazeSize").val(@ViewBag.PageSize)
    });

    function SelectAllChb(source) {
        checkboxes = document.getElementsByClassName('AssignBoxClass');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
   
    function ShowGrvpdfList(GrvCode, GUId) {
      $("#loader-wrapper").show();
        $.ajax({
          
            url: '/Grievances/AssingGrievances/ShowGrievanceDetail_Pdf',
            data: { GrvCode:GrvCode },
            // contentType: "application/json; charset=utf-8",
            //  dataType: "json",
            success: function (data) {
                var url = data.replace('\;', '/');
               // var PDF = 'http://localhost:50730' + url
               var PDF = 'https://secure.evidhan.nic.in' + url
                window.open(PDF, "_blank");
                $("#loader-wrapper").hide();
            }
        });
    }
</script>
