﻿@model List<SBL.DomainModel.Models.Grievance.tMemberGrievances>
<div class="row col-sm-12">
    <div class="widget-box">
        <div class="widget-header">
            <h4 class="widget-title">Search Grievance</h4>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-sm-12 col-sm-12">
                        <div class="col-xs-12 col-sm-12" style="padding-bottom: 10px;">
                            <div class="col-sm-3">
                                <label>Display</label>
                                <select size="1" name="PageSize" id="PazeSize">
                                    <option value="20" selected="selected">20</option>
                                    <option value="40">40</option>
                                    <option value="60">60</option>
                                    <option value="80">80</option>
                                    <option value="100">100</option>
                                </select>
                                <label>Records</label>
                            </div>
                            <div class="col-sm-3">
                                <label class="col-sm-4 control-label no-padding-right">
                                    Status</label>
                                <div class="col-sm-4">
                                    <select size="1" name="Status" id="Status">
                                        <option value="0" selected="selected">Pending</option>
                                        <option value="1">Forwarded</option>
                                        <option value="2">In-Progress</option>
                                        <option value="3">Disposed</option>
                                       @* <option value="4">Disposed</option>*@
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label class="col-sm-4 control-label no-padding-right">
                                    Order By</label>
                                <div class="col-sm-8">
                                    <select size="1" name="ddlOrderBy" id="ddlOrderBy">
                                        <option value="0" selected="selected">Application Date</option>
                                        <option value="1">Status Updation Date</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-info btn-sm pull-right " onclick="SearchGrievance()">
                                    <i class="ace-icon fa fa-search bigger-110"></i>Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row col-sm-12">
    <div class="widget-box">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title">Search Result</h4>
          
        </div>

        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12" style="padding: 0px">
                        <div id="two-column" class="">
                            <div id="resize-left" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 20px;">
                                <div class="row-fluid">
                                    <div class="span12" style="padding: 10px;">
                                        <div class="col-xs-12" style="padding: 0px">
                                            <div id="divDataContainer">
                                                <div id="divDataContainer-Grievance">
                                                    @{Html.RenderPartial("~/Areas/Grievances/Views/AssingGrievances/_GrievanceList.cshtml", Model);}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $('#resize-left').animate({ width: +(100) + '%' }, 500);

        //$('#PazeSize').change(function () {
        //    var PageSize = $("#PazeSize").val();
        //    var Status = $("#Status").val();
        //    var OrderBy = $("#ddlOrderBy").val();
        //    $.ajax({
        //        type: "POST",
        //        url: '/Grievances/AssingGrievances/GetBillByPaging',
        //        data: '{ pageId: "1",pageSize: "' + PageSize + '",Status: "' + Status + '" ,OrderBy: "' + OrderBy + '" }',
        //        contentType: "application/json; charset=utf-8",
        //        dataType: "json",
        //        beforeSend: function () {

        //            $('#loader-wrapper').show();
        //        },
        //        success: function (result) {
        //            $('#divDataContainer-Grievance').empty();
        //            $('#divDataContainer-Grievance').append(result);
        //        },
        //        error: function (error) {
        //            $('#divDataContainer-Grievance').empty();
        //            $('#divDataContainer-Grievance').append(error.responseText);

        //        },
        //        complete: function (results) {

        //            $('#loader-wrapper').hide();
        //        }
        //    });

        //});

        //$('#Status').change(function () {
        //    var PageSize = $("#PazeSize").val();
        //    var Status = $("#Status").val();
        //    var OrderBy = $("#ddlOrderBy").val();
        //    $.ajax({
        //        type: "POST",
        //        url: '/Grievances/AssingGrievances/GetGrievanceByStatus',
        //        data: '{ pageId: "1",pageSize: "' + PageSize + '",Status: "' + Status + '",OrderBy: "' + OrderBy + '"  }',
        //        contentType: "application/json; charset=utf-8",
        //        dataType: "json",
        //        beforeSend: function () {

        //            $('#loader-wrapper').show();
        //        },
        //        success: function (result) {
        //            $('#divDataContainer-Grievance').empty();
        //            $('#divDataContainer-Grievance').append(result);
        //        },
        //        error: function (error) {
        //            $('#divDataContainer-Grievance').empty();
        //            $('#divDataContainer-Grievance').append(error.responseText);

        //        },
        //        complete: function (results) {
        //            $('#loader-wrapper').hide();
        //        }
        //    });

        //});


        //    $('#ddlOrderBy').change(function () {
        //        var PageSize = $("#PazeSize").val();
        //        var OrderBy = $("#ddlOrderBy").val();
        //        var Status = $("#Status").val();
        //        $.ajax({
        //            type: "POST",
        //            url: '/Grievances/AssingGrievances/GetGrievanceByOrderBy',
        //            data: '{ pageId: "1",pageSize: "' + PageSize + '",Status: "' + Status + '",OrderBy: "' + OrderBy + '" }',
        //            contentType: "application/json; charset=utf-8",
        //            dataType: "json",
        //            beforeSend: function () {

        //                $('#loader-wrapper').show();
        //            },
        //            success: function (result) {
        //                $('#divDataContainer-Grievance').empty();
        //                $('#divDataContainer-Grievance').append(result);
        //            },
        //            error: function (error) {
        //                $('#divDataContainer-Grievance').empty();
        //                $('#divDataContainer-Grievance').append(error.responseText);

        //            },
        //            complete: function (results) {
        //                $('#loader-wrapper').hide();
        //            }
        //        });

        //    });
        //});


        // $('#ddlOrderBy').change(function () {

    });






    function SearchGrievance() {
        var PageSize = $("#PazeSize").val();
        var OrderBy = $("#ddlOrderBy").val();
        var Status = $("#Status").val();
        $.ajax({
            type: "POST",
            url: '/Grievances/AssingGrievances/SearchGrievance',
            data: '{ pageId: "1",pageSize: "' + PageSize + '",Status: "' + Status + '",OrderBy: "' + OrderBy + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainer-Grievance').empty();
                $('#divDataContainer-Grievance').append(result);
            },
            error: function (error) {
                $('#divDataContainer-Grievance').empty();
                $('#divDataContainer-Grievance').append(error.responseText);

            },
            complete: function (results) {
                $('#loader-wrapper').hide();
            }
        });

    }

    function AssignOffice(GrvCode, GUId) {

        $("#tblGrievanceList tr").css('background-color', 'white')
        $('#Row-' + GUId).css('background-color', '#ffb752 ')
        var StatusId = $("#Status").val();
        $.ajax({
            type: "POST",
            url: '/Grievances/AssingGrievances/PopulateOffice',
            data: '{GrvCode:"' + GrvCode + '",StatusId:"' + StatusId + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#ForwardGrievanceDiv').empty();
                $('#ForwardGrievanceDiv').append(result);
                $('#ForwardGrievanceModel').modal('show');
            },
            error: function (error) {
                $('#ForwardGrievanceDiv').empty();
                $('#ForwardGrievanceDiv').append(error.responseText);
                $('#ForwardGrievanceModel').modal('show');
            },
            complete: function (results) {
                $('#loader-wrapper').hide();
            }
        });
    }

    function AssignAllOffice() {
        var IsValid = true;
        var IsChecked = false;
        var CheckedCount = 0;
        var DoucmentList = document.getElementsByClassName('AssignBoxClass');
        var CheckedValue = [];
        debugger;
        for (var i = 0, n = DoucmentList.length; i < n; i++) {
            var Checked = DoucmentList[i].checked;

            if (Checked == true) {
                CheckedCount = CheckedCount + 1;
                CheckedValue.push(DoucmentList[i].value);
                IsChecked = true;
            }
        }

        if (IsChecked == false) {
            IsValid = false;
            var dlg = bootbox.alert('Please select atleast one grievance', function (e) {
                $(dlg).modal('hide');
            });
        }
        debugger;
        if (IsValid == true) {
            var StatusId = $("#Status").val();
            $.ajax({
                type: "POST",
                url: '/Grievances/AssingGrievances/PopulateAllOffice',
                data: '{GrvCodes:"' + CheckedValue + '",StatusId:"' + StatusId + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#ForwardAllGrievanceDiv').empty();
                    $('#ForwardAllGrievanceDiv').append(result);
                    $('#ForwardAllGrievanceModel').modal('show');
                },
                error: function (error) {
                    $('#ForwardAllGrievanceDiv').empty();
                    $('#ForwardAllGrievanceDiv').append(error.responseText);
                    $('#ForwardAllGrievanceModel').modal('show');
                },
                complete: function (results) {
                    $('#loader-wrapper').hide();
                }
            });
        }
    }

    function RejectGrievance(GrvCode, GUId) {
        debugger;
        var Status = $("#Status").val();
        $("#tblGrievanceList tr").css('background-color', 'white')
        $('#Row-' + GUId).css('background-color', '#ffb752 ')

        $.ajax({
            type: "POST",
            url: '/Grievances/AssingGrievances/DisposeGrievance',
            data: '{GrvCode:"' + GrvCode + '",Status:"' + Status + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#RejectGrievanceDiv').empty();
                $('#RejectGrievanceDiv').append(result);
                $('#RejectGrievanceModel').modal('show');
            },
            error: function (error) {
                $('#RejectGrievanceDiv').empty();
                $('#RejectGrievanceDiv').append(error.responseText);
                $('#RejectGrievanceModel').modal('show');
            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }

    function ShowOfficerList(GrvCode, GUId) {
        $("#tblGrievanceList tr").css('background-color', 'white')
        $('#Row-' + GUId).css('background-color', '#ffb752 ')
        $.ajax({
            type: "POST",
            url: '/Grievances/AssingGrievances/ShowAssignOfficerList',
            data: '{ GrvCode: "' + GrvCode + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
                $('#ViedDetails-' + GrvCode).focus();
            },
            success: function (result) {
                $('#AssignOfficerListDiv').empty();
                $('#AssignOfficerListDiv').append(result);
                $('#AssignOfficerListModel').modal('show');
            },
            error: function (error) {
                $('#AssignOfficerListDiv').empty();
                $('#AssignOfficerListDiv').append(error.responseText);
                $('#AssignOfficerListModel').modal('show');
            },
            complete: function (results) {
                $('#ViedDetails-' + GrvCode).focus();
                $('#loader-wrapper').hide();

                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }

    

    function SaveAssignOffice() {
        $('.ErrorMessage').empty();
        var IsValid = true;

        if ($('#DepartmentId').val() == '') {
            $('#DepartmentId').after("<span class='ErrorMessage'>Please select Department.</span>");
            $("#DepartmentId").css("border", "1px solid red");
            IsValid = false;
        }
        if ($('#OfficeId').val() == '') {
            $('#OfficeId').after("<span class='ErrorMessage'>Please select Office.</span>");
            $("#OfficeId").css("border", "1px solid red");
            IsValid = false;
        }
        if (IsValid == true) {
            var QData = $('#AssignGrievanceForm').serialize();
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '/Grievances/AssingGrievances/SaveOffice',
                data: QData,
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainer-Grievance').empty();
                    $('#divDataContainer-Grievance').append(result);
                    $('#ReplyDiv').empty();

                },
                error: function (result) {
                    $('#divDataContainer-Grievance').empty();
                    $('#divDataContainer-Grievance').append(result.responseText);
                    $('#ReplyDiv').empty();

                },

                complete: function (result) {
                    $('#loader-wrapper').hide();
                    $('#ForwardGrievanceModel').modal('hide');
                }
            });
        }
    }

    function GetDataList(pageId) {
        
        var PageSize = $("#PazeSize").val();
        var Status = $("#Status").val();
        var OrderBy = $("#ddlOrderBy").val();
        $.ajax({
            type: "POST",
            url: '/Grievances/AssingGrievances/GetBillByPaging',
            data: '{ pageId: "' + pageId + '",pageSize: "' + PageSize + '",Status: "' + Status + '" ,OrderBy: "' + OrderBy + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainer-Grievance').empty();
                $('#divDataContainer-Grievance').append(result);
            },
            error: function (error) {
                $('#divDataContainer-Grievance').empty();
                $('#divDataContainer-Grievance').append(error.responseText);
                $('#resize-left').animate({ width: +(100) + '%' }, 500);
            },
            complete: function (results) {

                $('#loader-wrapper').hide();
            }
        });
    }

    function SaveDisposeGrievance() {

        var QData = $('#GrievanceForm').serialize();
        $.ajax({
            cache: false,
            async: true,
            type: "POST",
            url: '/Grievances/AssingGrievances/SaveDisposeGrievance',
            data: QData,
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainer-Grievance').empty();
                $('#divDataContainer-Grievance').append(result);
                $('#ReplyDiv').empty();
                $('#RejectGrievanceModel').modal('hide');
            },
            error: function (result) {
                $('#divDataContainer-Grievance').empty();
                $('#divDataContainer-Grievance').append(result.responseText);
                $('#ReplyDiv').empty();
                $('#RejectGrievanceModel').modal('hide');
            },

            complete: function (result) {
                $('#loader-wrapper').hide();
            }
        });

    }

    function SaveAllOffice() {
        $('.ErrorMessage').empty();
        var IsValid = true;

        if ($('#DepartmentId').val() == '') {
            $('#DepartmentId').after("<span class='ErrorMessage'>Please select Department.</span>");
            $("#DepartmentId").css("border", "1px solid red");
            IsValid = false;
        }
        if ($('#OfficeId').val() == '') {
            $('#OfficeId').after("<span class='ErrorMessage'>Please select Office.</span>");
            $("#OfficeId").css("border", "1px solid red");
            IsValid = false;
        }
        if (IsValid == true) {
            var QData = $('#AssignAllGrievanceForm').serialize();
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '/Grievances/AssingGrievances/SaveAllOffice',
                data: QData,
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainer-Grievance').empty();
                    $('#divDataContainer-Grievance').append(result);
                    $('#ReplyDiv').empty();

                },
                error: function (result) {
                    $('#divDataContainer-Grievance').empty();
                    $('#divDataContainer-Grievance').append(result.responseText);
                    $('#ReplyDiv').empty();

                },

                complete: function (result) {
                    $('#loader-wrapper').hide();
                    $('#ForwardAllGrievanceModel').modal('hide');
                }
            });
        }
    }

</script>

<!-- Show Reply List -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="AssignOfficerListModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                <h4 class="modal-title" id="AssignOfficerListTitle">Grievance Details </h4>
            </div>
            <form method="post" action="/SchemeSetup/SaveQualification" id="AssignOfficerListModelForm">
                <div class="modal-body">
                    <div id="AssignOfficerListDiv"></div>
                </div>
                <div class="">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="ForwardGrievanceModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                <h4 class="modal-title" id="ForwardGrievanceTitle">Forward Grievance</h4>
            </div>
                <div class="modal-body">
                    <div id="ForwardGrievanceDiv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="SaveForwardGrievancebtn" onclick="SaveAssignOffice();" class="btn btn-primary">Forward</button>
                </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="ForwardAllGrievanceModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                <h4 class="modal-title" id="ForwardAllGrievanceTitle">Forward Grievance</h4>
            </div>
                <div class="modal-body">
                    <div id="ForwardAllGrievanceDiv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="SaveAllForwardGrievancebtn" onclick="SaveAllOffice();" class="btn btn-primary">Forward</button>
                </div>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="RejectGrievanceModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                <h4 class="modal-title" id="RejectGrievanceTitle">Reject Grievance</h4>
            </div>
            <form method="post" action="/SchemeSetup/SaveQualification" id="RejectGrievanceModelForm">
                <div class="modal-body">
                    <div id="RejectGrievanceDiv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="RejectGrievancebtn" onclick="SaveDisposeGrievance();" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
