﻿<form id="AssignGrievanceForm">
    <input type="hidden" name="hdnGrvCode" value="@ViewBag.GrvCode" />
    <input type="hidden" name="Status" value="@ViewBag.StatusId" />
    <input type="hidden" name="MemberCode" value="" />

    <div class="row">
        <div class="col-sm-12  form-group has-info">
            <label for="inputinfo" class="col-sm-4 control-label ">
                Department</label>
            <div class="col-sm-8">
                @Html.DropDownList("DepartmentId", (SelectList)ViewBag.DepartmentList, "Select Department", new { @class = "col-xs-10 col-sm-12 RemoveDdlBorder  " })
            </div>
        </div>
        <div class="col-sm-12   form-group has-info">
            <label for="inputinfo" class="col-sm-4 control-label">
                Office</label>
            <div class="col-sm-8">
                 @Html.DropDownList("OfficeId", (SelectList)ViewBag.OfficeList, "Select Office", new { @class = "col-xs-10 col-sm-12 RemoveDdlBorder " })
            </div>
        </div>
    </div>
</form>

<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/assets/js/chosen.jquery.min.js"></script>
<script>
    
    $('.RemoveDdlBorder').change(function () {

        var Id = this.id;
        if ($("#" + Id).val() != '') {
            $("#" + Id).next().hide();
            $("#" + Id).css("border", "1px solid green");
        }
        else {
            $("#" + Id).after("<span class='ErrorMessage'>Required</span>");
            $("#" + Id).css("border", "1px solid red");
        }

    });
    $('#DepartmentId').change(function () {
        var DepartmentId = $("#DepartmentId").val();
        $.ajax({
            type: "POST",
            url: '/Grievances/AssingGrievances/GetOffice',
            data: '{ ExecutiveDepartment: "' + DepartmentId + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (data) {
                if (data != null) {
                    if (data.length > 0) {
                        var selectOpt = '<option value="">---Select Office ---</option>';
                        $.each(data, function (e, index) {
                            selectOpt += '<option value="' + data[e]["value"] + '">' +
                            data[e]["Text"] + '</option>';
                        });
                        $("#OfficeId").html(selectOpt);
                    }
                    else {
                        var selectOpt = '<option value="">---Select Office ---</option>';
                        $("#OfficeId").html(selectOpt);
                    }
                }
                else {
                    var dlg = bootbox.alert('No Data Available', function (e) {
                        $(dlg).modal('hide');
                    });
                }
            },
            error: function (data) {
                if (data != null) {
                    if (data.length > 0) {
                        var selectOpt = '<option value="">---Select Office ---</option>';
                        $.each(data, function (e, index) {
                            selectOpt += '<option value="' + data[e]["value"] + '">' +
                            data[e]["Text"] + '</option>';
                        });
                        $("#OfficeId").html(selectOpt);
                    }
                    else {
                        var selectOpt = '<option value="">---Select Office ---</option>';
                        $("#OfficeId").html(selectOpt);
                    }
                }
                else {
                    var dlg = bootbox.alert('No Data Available', function (e) {
                        $(dlg).modal('hide');
                    });
                }
            },
            complete: function (results) {
                $('#loader-wrapper').hide();
            }
        });

    });

    try {
        $('.chosen-select').chosen({ allow_single_deselect: true });

        $(window).on('resize.chosen', function () {
            var w = $('.chosen-select').parent().width();
            $('.chosen-select').next().css({ 'width': '100%' });
        }).trigger('resize.chosen').trigger("chosen:updated");
    }
    catch (error) {
    }
</script>
