﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}


<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />

@Html.Partial("_LeftNavigationMenu")

<style>
    .roundicon {
        padding: 0px 6px 1px 5px;
        line-height: 19px;
        font-size: 16px;
        border-radius: 100%;
        border: 1px solid;
        background-color: #1BAA4E;
        color: white;
    }
</style>

<div class="main-content">

    @Html.Partial("_BreadcrumbsPartial")


    <div class="page-content">
        <div class="row">



            <div id="outerDiv">
            </div>
            <div class="col-xs-12" style="padding: 0px">
                <div id="two-column" class="">
                    <div id="resize-left" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 20px;">

                        <div id="divLeftContainer" style="position: absolute; top: 0; height: 20px; width: 100%; display: block;">
                            <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                            <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                                <i onclick="resizeClick(1)" class="ace-icon fa fa-angle-double-left roundicon"></i>
                            </div>
                        </div>


                        <div class="row-fluid">
                            <div class="span12" style="padding: 10px;">
                                <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
                                <div class="col-xs-12" style="padding: 0px">
                                    <div id="divDataContainer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="resize-right" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 21px;">

                        <div id="divRightContainer" style="position: absolute; top: 0; height: 21px; width: 100%; display: block;">
                            <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                            <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                                <i data-icon2="ace-icon fa fa-angle-double-right" onclick="resizeClick(0)" data-icon1="ace-icon fa fa-angle-double-left" class="ace-icon fa fa-angle-double-right roundicon"></i>
                            </div>
                        </div>

                        <div class="row-fluid" style="overflow: hidden">
                            <div class="span12">
                                <div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>
                                <div>

                                    <div id="RightSidebar" style="width: 100%">
                                    </div>
                                    <div id="FormPart" style="width: 100%; height: 100%">
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="~/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="~/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#loader-wrapper").show();
        GetDepartmentNotices();
    });
    function GetDepartmentNotices() {
        $("#loader-wrapper").show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("_ReplyFromDepartment", "Department")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
            },
            success: function (data) {
                $("#divDataContainer").html(data);
                $("#FormPart").html("");
                $("#loader-wrapper").hide();
                ClearControls();
                //  cl.hide();
                ChangeBreadCrumbParent('@Resources.Diaries.MyDashboard', "");
                ChangeBreadCrumbChild('@Resources.Diaries.StarredQuestion', "");
            }
        });
    }

    function hideLeftPanel() {
        $('#resize-left').width(0);
        $('#resize-right').width(100 + '%')

    }
    function hideLeftPanelAnimate() {
        resizeLeftPanel(0);
    }
    function hideRightPanel() {
        $('#resize-left').width(100 + '%');
        $('#resize-right').width(0)
    }

    function hideRightPanelAnimate() {
        resizeLeftPanel(100);
    }

    function resizeClick(isLeft) {
        var parentWidth = $('#resize-left').parent().outerWidth();
        if (isLeft) { // click on left rezise button
            if ($('#resize-left').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
            else { resizeLeftPanel(0); }
        } else {
            if ($('#resize-right').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
            else { resizeLeftPanel(100); }
        }

    }

    function resizeLeftPanel(sizeRatio) {
        var parentWidth = $('#resize-left').parent().width();
        $('#resize-left').animate({ width: +(sizeRatio) + '%' }, 500);
        $('#resize-right').animate({ width: +(100 - sizeRatio) + '%' }, 500);
        $("#CommonGrid").setGridWidth($('.col-xs-12').width());
    }

</script>