﻿@model SBL.DomainModel.Models.Notice.tMemberNotice

@{
    int count = 0;
    int startpage = 0;
    int endPage = 0;
    float rcnt = @Model.ResultCount;
    float rperPage = @Model.RowsPerPage;
    float cnt = rcnt / rperPage;
    int b = (int)cnt;
    float c = (float)cnt - b;  
}

@if (c > 0)
{
    count = b + 1;
}
else
{
    count = b;
}

@{
    startpage = ((@Model.selectedPage * 10) - 10) + 1;
    endPage = startpage + 9;           
}

@if (Model.loopStart <= 0)
{
    Model.loopStart = 1;
    Model.loopEnd = 5;
}

<style>
    a.classname {
        background: url(/Images/pdf.jpg) no-repeat top center;
        background-size: 25px 25px;
        display: block;
        height: 32px;
        text-indent: -9999px;
    }
</style>
@using (Html.BeginForm("AssignQuestion", "AssignTypist", FormMethod.Post, new { @id = "form" }))
{ 
      @Html.AntiForgeryToken()
    <table>
        <tr>
            <td style="vertical-align:top;">
                <div class="grid_cantainer">

                    <table>
                        <tr>
                            <td>
                                <strong>Select User 
                                </strong>
                            </td>
                            <td>
                                @Html.HiddenFor(m => m.UId)
                                @*  @Html.DropDownListFor(m => m.UserId, new SelectList(Model.tMemberNoticeModel, "UserId", "UserName", 0), new { @id = "DdlUserId", @tabindex = "3", @class = "select", @style = "width:200px;" })*@
                                @Html.DropDownListFor(m => m.UId, new SelectList(Model.tMemberNoticeModel, "UId", "UserName", 0), new { @id = "UserId", @tabindex = "3", @class = "select", @style = "width:200px;" })
                           
                                 </td>

                        </tr>
                    </table>
                    <div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px; border: 1px solid #C5C5C5;">
                        @Resources.PaperLaidDepartment.DDStaredQuestions >> Assign To Typist
                    </div>
                    @if (count > 0)
                    {        
                        <div class="grid-ex-footer">
                            <div class="grid-pagination grid-paginationNew">
                                @if (count < Model.loopEnd)
                                {
                                    Model.loopEnd = count;
                                }

                                <a href="javascript:void(0);" onclick="NextButton(@Model.RowsPerPage,1,1,5)" title="@Resources.Common.GoToTheFirstPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">@Resources.Common.FirstPage</span></a>
                                @if (Model.loopStart > 5)
                                {                           
                                    <a href="javascript:void(0);" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)" title="@Resources.Common.GoToThePreviousPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">@Resources.Common.PreviousPage</span></a>
                                }

                                <ul class="gridpage-numbers">
                                    @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                                    {
                                        if (i == @Model.selectedPage)
                                        {                                    
                                        <li><span class="grid-page-selected">@i</span></li>
                                        }
                                        else
                                        {
                                        <li><a href="javascript:void(0);" onclick="NextButton(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                                        }
                                    }
                                </ul>
                                @if (Model.loopStart + 5 < @count)
                                {
                                    <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)" title="@Resources.Common.GoToTheNextPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">@Resources.Common.NextPage</span></a>
                                }
                                <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@count,@count-5,@count)" title="@Resources.Common.GoToTheLastPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">@Resources.Common.LastPage</span></a>
                                <span class="grid-page-info">@Model.loopStart - @Model.loopEnd @Resources.Common.Of @count @Resources.Common.Pages.</span>
                            </div>
                        </div>
                    }

                    <div>
                        <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
                        @if (Model.tQuestionModel != null)
                        {
                            if (Model.tQuestionModel.Count > 0)
                            {
                            <table style="width: 100%" class="simple-table-style">
                                <tr>
                                    <th class="grid_th" style="border-width: 1.5px; width: 5%; height: 30px; text-align: center">
                                        <input type="checkbox" id="ChkBoxAll" /></th>
                                    <th class="grid_th" style="border-width: 1.5px; width: 50px; height: 30px; text-align: center">Diary Number</th>
                                    <th class="grid_th" style="border-width: 1.5px; width: 100px; height: 30px; text-align: center">AskedBy</th>
                                    <th class="grid_th" style="border-width: 1.5px; width: 100px; height: 30px; text-align: center">Received Date</th>
                                    <th class="grid_th" style="border-width: 1.5px; width: 100px; height: 30px; text-align: center">Status</th>
                                    @*<th class="grid_th" style="border-width: 1.5px; width: 50px; height: 30px; text-align: center">@Resources.Notices.Action</th>*@
                                </tr>
                                @foreach (var item in Model.tQuestionModel)
                                {
                                    var trID = @item.QuestionID;
                                    //<tr onclick="ViewFullDeails(@item.QuestionID), ChangeColortr(this.id)" class="ChangeColortr" id="@trID" style="cursor:pointer">
                                    <tr>

                                        <td style="text-align: center">
                                            <input type="checkbox" id="@item.QuestionID"  onclick="AssignCheck(this.id)" style="vertical-align:top" name="CkhCheckbox" value="@item.QuestionID"/>
                                            @* @Html.CheckBoxFor(m => @item.QuestionID)*@
                                        </td>
                                        <td style="border-width: 1px; text-align: center; vertical-align: top;">@item.DiaryNumber</td>
                                        <td style="border-width: 1px; text-align: center; vertical-align: top;">@item.MemberName</td>
                                        <td style="border-width: 1px; text-align: center; vertical-align: top;">@Convert.ToDateTime(item.NoticeDate).ToString("dd/MM/yyyy")</td>
                                        @if (@item.Stats == null)
                                        {
                                            <td style="border-width: 1px; text-align: center; vertical-align: top;">Not Assigned</td>
                                        }
                                        else
                                        {
                                            <td style="border-width: 1px; text-align: center; vertical-align: top;">Assigned</td>
                                        }
                                        @* <td style="border-width: 1px; text-align: center; vertical-align: top;">@item.MemberName</td>*@
                                    </tr>
                                }
                            </table>
                            }
                            else
                            {
                            <p>
                                @Resources.Common.NoRecords
                            </p>
                            }
                        }
                        else
                        {
                            <p>
                                @Resources.Common.NoRecords
                            </p>
                        }
                    </div>


                    @if (count > 0)
                    {
                        <div class="grid-ex-footer">
                            <div class="grid-pagination grid-paginationNew">
                                @if (count < Model.loopEnd)
                                {
                                    Model.loopEnd = count;
                                }

                                <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,1,1,5)" title="@Resources.Common.GoToTheFirstPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">@Resources.Common.FirstPage</span></a>
                                @if (Model.loopStart > 5)
                                {                           
                                    <a href="javascript:void(0);" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)" title="@Resources.Common.GoToThePreviousPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">@Resources.Common.PreviousPage</span></a>
                                }

                                <ul class="gridpage-numbers">
                                    @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                                    {
                                        if (i == @Model.selectedPage)
                                        {                                    
                                        <li><span class="grid-page-selected">@i</span></li>
                                        }
                                        else
                                        {
                                        <li><a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                                        }
                                    }
                                </ul>
                                @if (Model.loopStart + 5 < @count)
                                {
                                    <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)" title="@Resources.Common.GoToTheNextPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">@Resources.Common.NextPage</span></a>
                                }
                                <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@count,@count-5,@count)" title="@Resources.Common.GoToTheLastPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">@Resources.Common.LastPage</span></a>
                                <span class="grid-page-info">@Model.loopStart - @Model.loopEnd @Resources.Common.Of @count @Resources.Common.Pages.</span>
                            </div>
                        </div>
                    }
                </div>



            </td>
            <td style="vertical-align: top; text-align: center">
                <input id="Assign" type="button" onclick="AssignEntry()" value="Assign" />
                <br />
                <br />

                <input id="RoleBack" type="button" onclick="RoleBackEntry()" value="RoleBack" />
            </td>




            <td style="vertical-align:top;">
                <div class="grid_cantainer">

                    <table>
                        <tr>
                            <td>
                                <strong>Select User 
                                </strong>
                            </td>
                            <td>
                                @Html.DropDownListFor(m => m.UserId, new SelectList(Model.tMemberNoticeModel, "UserId", "UserName", 0), new { @id = "DdlUserId", @tabindex = "3", @class = "select", @style = "width:200px;", @onchange="getAssignQuestionsList();"})
                                @*                      @Html.DropDownListFor(m => m.UId, new SelectList(Model.tMemberNoticeModel, "UId", "UserName", 0), new { @id = "UserId", @tabindex = "3", @class = "select", @style = "width:200px;" })*@
                            </td>

                        </tr>
                    </table>
                    <div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px; border: 1px solid #C5C5C5;">
                        @Resources.PaperLaidDepartment.DDStaredQuestions >> Role Back Typist
                    </div>
                    @if (count > 0)
                    {        
                        <div class="grid-ex-footer">
                            <div class="grid-pagination grid-paginationNew">
                                @if (count < Model.loopEnd)
                                {
                                    Model.loopEnd = count;
                                }

                                <a href="javascript:void(0);" onclick="NextButton(@Model.RowsPerPage,1,1,5)" title="@Resources.Common.GoToTheFirstPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">@Resources.Common.FirstPage</span></a>
                                @if (Model.loopStart > 5)
                                {                           
                                    <a href="javascript:void(0);" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)" title="@Resources.Common.GoToThePreviousPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">@Resources.Common.PreviousPage</span></a>
                                }

                                <ul class="gridpage-numbers">
                                    @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                                    {
                                        if (i == @Model.selectedPage)
                                        {                                    
                                        <li><span class="grid-page-selected">@i</span></li>
                                        }
                                        else
                                        {
                                        <li><a href="javascript:void(0);" onclick="NextButton(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                                        }
                                    }
                                </ul>
                                @if (Model.loopStart + 5 < @count)
                                {
                                    <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)" title="@Resources.Common.GoToTheNextPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">@Resources.Common.NextPage</span></a>
                                }
                                <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@count,@count-5,@count)" title="@Resources.Common.GoToTheLastPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">@Resources.Common.LastPage</span></a>
                                <span class="grid-page-info">@Model.loopStart - @Model.loopEnd @Resources.Common.Of @count @Resources.Common.Pages.</span>
                            </div>
                        </div>
                    }

                    <div>
                        <input type="hidden" id="SelectedChkbxId1" name="SelectedChkbxId" />
                        @if (Model.objQuestList1 != null)
                        {
                            if (Model.objQuestList1.Count > 0)
                            {
                            <table style="width: 100%" class="simple-table-style">
                                <tr>
                                    <th class="grid_th" style="border-width: 1.5px; width: 5%; height: 30px; text-align: center">
                                        <input type="checkbox" id="ChkBoxAll1" /></th>
                                    <th class="grid_th" style="border-width: 1.5px; width: 50px; height: 30px; text-align: center">Diary Number</th>
                                    <th class="grid_th" style="border-width: 1.5px; width: 100px; height: 30px; text-align: center">AskedBy</th>
                                    <th class="grid_th" style="border-width: 1.5px; width: 100px; height: 30px; text-align: center">Received Date</th>
                                    <th class="grid_th" style="border-width: 1.5px; width: 100px; height: 30px; text-align: center">Status</th>
                                    @*<th class="grid_th" style="border-width: 1.5px; width: 50px; height: 30px; text-align: center">@Resources.Notices.Action</th>*@
                                </tr>
                                @foreach (var item in Model.objQuestList1)
                                {
                                    var trID = @item.QuestionID;
                                    //<tr onclick="ViewFullDeails(@item.QuestionID), ChangeColortr(this.id)" class="ChangeColortr" id="@trID" style="cursor:pointer">
                                    <tr>

                                        <td style="text-align: center">
                                            <input type="checkbox" id="@item.QuestionID"  onclick="RoleBackCheck(this.id)" style="vertical-align:top" name="Ckhboxrole" value="@item.QuestionID"/>
                                            @* @Html.CheckBoxFor(m => @item.QuestionID)*@
                                        </td>
                                        <td style="border-width: 1px; text-align: center; vertical-align: top;">@item.DiaryNumber</td>
                                        <td style="border-width: 1px; text-align: center; vertical-align: top;">@item.MemberName</td>
                                        <td style="border-width: 1px; text-align: center; vertical-align: top;">@Convert.ToDateTime(item.NoticeDate).ToString("dd/MM/yyyy")</td>
                                       
                                         <td style="border-width: 1px; text-align: center; vertical-align: top;">Assinged</td>
                                       
                                        @* <td style="border-width: 1px; text-align: center; vertical-align: top;">@item.MemberName</td>*@
                                    </tr>
                                }
                            </table>
                            }
                            else
                            {
                            <p>
                                @Resources.Common.NoRecords
                            </p>
                            }
                        }
                        else
                        {
                            <p>
                                @Resources.Common.NoRecords
                            </p>
                        }
                    </div>


                    @if (count > 0)
                    {
                        <div class="grid-ex-footer">
                            <div class="grid-pagination grid-paginationNew">
                                @if (count < Model.loopEnd)
                                {
                                    Model.loopEnd = count;
                                }

                                <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,1,1,5)" title="@Resources.Common.GoToTheFirstPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">@Resources.Common.FirstPage</span></a>
                                @if (Model.loopStart > 5)
                                {                           
                                    <a href="javascript:void(0);" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)" title="@Resources.Common.GoToThePreviousPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">@Resources.Common.PreviousPage</span></a>
                                }

                                <ul class="gridpage-numbers">
                                    @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                                    {
                                        if (i == @Model.selectedPage)
                                        {                                    
                                        <li><span class="grid-page-selected">@i</span></li>
                                        }
                                        else
                                        {
                                        <li><a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                                        }
                                    }
                                </ul>
                                @if (Model.loopStart + 5 < @count)
                                {
                                    <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)" title="@Resources.Common.GoToTheNextPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">@Resources.Common.NextPage</span></a>
                                }
                                <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@count,@count-5,@count)" title="@Resources.Common.GoToTheLastPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">@Resources.Common.LastPage</span></a>
                                <span class="grid-page-info">@Model.loopStart - @Model.loopEnd @Resources.Common.Of @count @Resources.Common.Pages.</span>
                            </div>
                        </div>
                    }
                </div>
            </td>
        </tr>
    </table>
  
}


<script>

    var slvals = [];
    var RolBvals = [];


    $(document).ready(function () {

        

        if (document.getElementById("UId").value != "") {
            $("#DdlUserId").find("option[value=" + document.getElementById("UId").value + "]").selected = true;
        }
        else {
            $("#DdlUserId").append("<option value='0' selected=true>Select Typist</option>")
        }



        $("#UserId").append("<option value='0' selected=true>Select Typist</option>")
    })
    function ChangeColortr(control) {
        $(".ChangeColortr").each(function () {
            $(this).css({ 'background': 'none', 'color': 'black' })
        })
        $("#" + control).css({ 'background-color': '#428bca', 'color': 'white' })
    }

    function ViewFullDeails(value) {
        $("#RightSidebar").html('');
        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();
        $.ajax({
            url: "/Notices/NoticeDetails/GetPdfByQuestionID",
            type: 'GET',
            data: {
                questionID: value,
            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data);
                    GetDataByID(value);
                    cl2.hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

    function GetDataByID(value) {
        //alert("test");
        $("#FormPart").html('');
        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();
        $.ajax({
            url: "/Notices/NoticeDetails/GetDataQuestionID",
            type: 'GET',
            data: {
                questionID: value,
            },
            success: function (data) {
                //alert(data)
                if (data) {
                    $("#FormPart").html(data)
                    cl2.hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }
    function NextButton(PageNumber, RowsPerPage, loopStart, loopEnd) {

        //var cl = new CanvasLoader('canvasloader-container-Grid');
        //cl.show();
        var PageNumber = PageNumber;
      //  alert(PageNumber)
        var RowsPerPage = RowsPerPage;
     //   alert(RowsPerPage)
        var loopStart = loopStart;
      //  alert(loopStart)
        var loopEnd = loopEnd
     //   alert(loopEnd)
        $.get("/Notices/NoticeDetails/PendingStaredQuestion", {
            PageNumber: PageNumber,
            RowsPerPage: RowsPerPage,
            loopStart: loopStart,
            loopEnd: loopEnd,
        }, function (data) {
            //cl.hide();
            $("#divDataContainer").html(data);
        });
    }

    function NextAndPreviousButton(rPage, pageNo, lStart, lEnd) {
        var cl = new CanvasLoader('canvasloader-container-Grid');
        cl.show();

        $.get("/SubmitQuestion/SubmitQuestion/PartialPendingList", {

        }, function (data) {
            cl.hide();
            $("#divSearchQues").html(data)

        });
    }

    function checkChange(id) {
        // alert(id);
        if (document.getElementById(id).checked) {
            var selectedId = document.getElementById("SelectedChkbxId").value;
          //  alert(selectedId);
            if (selectedId == "") {
                document.getElementById("SelectedChkbxId").value = id.substring(4);
            }
            else {
                selectedId = selectedId + "," + id.substring(4);
                document.getElementById("SelectedChkbxId").value = selectedId;
            }
            //alert(document.getElementById("SelectedChkbxId").value)
        }
        else {
            var selectedId = document.getElementById("SelectedChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(4), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4), "");
            }

            document.getElementById("SelectedChkbxId").value = newvalue;

            //alert(document.getElementById("SelectedChkbxId").value);
        }

        if ($(".Checkbox").not(':checked').length == 0) {
            $('#ChkBoxAll').attr('checked', true)
        }
        else {
            $('#ChkBoxAll').attr('checked', false)
        }
    }


    $('#ChkBoxAll').on("click", function () {
        if ($('#ChkBoxAll').attr('checked')) {
            document.getElementById("SelectedChkbxId").value = "";
            $(".Checkbox").each(function () {
                var selectedChkbxId = document.getElementById("SelectedChkbxId").value;
                if (selectedChkbxId == "") {
                    document.getElementById("SelectedChkbxId").value = this.id.substring(4);
                } else {
                    selectedChkbxId = selectedChkbxId + "," + this.id.substring(4);
                    document.getElementById("SelectedChkbxId").value = selectedChkbxId;
                }
                $(this).prop("checked", $("#ChkBoxAll").is(":checked"));
            });
            //alert(document.getElementById("SelectedChkbxId").value);
        }
        else {
            document.getElementById("SelectedChkbxId").value = "";
            $(".Checkbox").each(function () {
                $(this).prop("checked", false);
            });
        }
    });

    function AssignCheck(id) {

        var Userid = $("#UserId").val();
        
        $('input:checkbox[name=CkhCheckbox]:checked').each(function () {
            slvals.push($(this).val())
        })
      

    }
    function RoleBackCheck(id) {

       
        $('input:checkbox[name=Ckhboxrole]:checked').each(function () {
            RolBvals.push($(this).val())
        })
        

    }
    
    function AssignEntry(id) {       
       

        if ($('#UserId').val() == 0) {
            alert("Please select Typist!")
        }       
        else if (slvals == "") {
            alert("Please Select Questions !");
        }
        else {
            var Userid = $("#UserId").val()            
            $('input:checkbox[name=CkhCheckbox]:checked').each(function () {
                slvals.push($(this).val())
            })
            $.getJSON("/Notices/AssignTypist/AssignQuestion",
               {
                   Userid: Userid,
                   slvals: slvals.toString(),
               },
               function (data) {
                   alert("Assigned successfully");
                   GetStartedQuestions();
               });
        }
        return false;
      
    }

    function getAssignQuestionsList() {

        var Userid = $("#DdlUserId").val()

        $.ajax({
            url: "/Notices/AssignTypist/GetRoledList",
            type: 'POST',
            data: {
                Userid: Userid,
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (response) {
                //alert(data.val)
                //$("#divDataContainer").empty();
                //$("#RightSidebar").empty();
                //$("#divDataContainer").html(response);
                if (response) {
                    getPrevHideDiv();
                    $("#RightSidebar").html(response);
                    cl.hide();


                } else { alert("error"); }



            }

        })
    }
    
    ////    })
    ////})

    function RoleBackEntry(id) {
        if ($('#DdlUserId').val() == 0) {
            alert("Please select Typist!")
        }
        else if (RolBvals == "") {
            alert("Please Select Questions !");
        }
        else {
            var Userid = $("#DdlUserId").val()           
            $('input:checkbox[name=Ckhboxrole]:checked').each(function () {
                RolBvals.push($(this).val())
            })


            $.getJSON("/Notices/AssignTypist/RoleBackQuestion",
               {
                   //Userid: Userid,
                   RolBvals: RolBvals.toString(),
               },
               function (data) {
               alert("Role Back successfully");             
               GetStartedQuestions();
               getAssignQuestionsList();



           });
        }
        return false;

       
    }

  
</script>
