﻿@model SBL.DomainModel.ComplexModel.AssignQuestionModel
<input type="hidden" id="assignList" value="" />
@if (Model.TypsitUserName != null && Model.TypsitUserName != "0")
{
           
    <span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="Bottm Info" style="text-align: left; margin-left: 0px; margin-bottom: 2px;">@Model.TypsitUserName
    </span>
}
else
{
    <span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="Bottm Info" style="text-align: left; margin-left: 0px; margin-bottom: 2px;">Unassigned Questions
    </span>  
}


@{    
    <input type="hidden" id="authorizedEmpList" />
    @Html.HiddenFor(m => m.UsId, new { @id = "UsId" }) 
    var grid = new Lib.Web.Mvc.JQuery.JqGrid.JqGridHelper<SBL.DomainModel.ComplexModel.AssignQuestionModel>("AssignGrid",
        // caption: "UnStarred Question",
                            dataType: Lib.Web.Mvc.JQuery.JqGrid.JqGridDataTypes.Json,
                            footerEnabled: false,
                            methodType: Lib.Web.Mvc.JQuery.JqGrid.JqGridMethodTypes.Post,
                            pager: true,
                            rowsList: new List<int> { 10, 20, 30, 40, 50 },
                            rowsNumber: 10,
        //   onSelectRow: "onSelectRowHandler",
                            sortingName: "QuestionID",
                            sortingOrder: Lib.Web.Mvc.JQuery.JqGrid.JqGridSortingOrders.Desc,
                            url: Url.Action("UnstartGetRoledListGrid"),
                            userDataOnFooter: false,
                            viewRecords: true,
                            autoWidth: true,
                            emptyRecords: "No Paper Found",
                           postDataScript: "{UsId: $('#UsId').val()}"
                           );
}
@grid.GetHtml()

<br />


@if (Model.TypsitUserName != "Unassigned Questions" && Model.TypsitUserName != null && Model.TypsitUserName != "0")
{
           
    <button type="button" class="btn btn-primary" name="submitButton" id="Save" value="Save" onclick="return RoleBackEntry();">
        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
        UnAssign
    </button> <span class="label label-large label-pink arrowed-in-right arrowed"><< Question From Here  </span>
     
}
@if (Model.TypsitUserName == "Unassigned Questions")
{

}
<script>


    $.employestatusCheckBoxFormatter = function (cellvalue, options, rowObject) {

        //return "<div style='width:100%;text-align:center'>  <input type='checkbox' name='Chekrole' id='" + cellvalue + "'  value='" + cellvalue + "' onchange='checkChange(this.id)' style='vertical-align:top; ' /></div>";
        return "<div style='width:100%;text-align:center'>  <input type='checkbox' name='Chekrole' id='" + rowObject[12] + "_" + cellvalue + "'  value='" + cellvalue + "' onchange='checkChange(this.id)' style='vertical-align:top; ' /></div>";


    };
    jQuery(document).ready(function () {
        @grid.GetJavaScript()
        jQuery("#AssignGrid").jqGrid('showCol', ["DType"]);
        //$("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());


        if (document.getElementById("UsId").value != "") {
            $("#DdlUserId").find("option[value=" + document.getElementById("UsId").value + "]").selected = true;
        }
        else {
            //$("#DdlUserId").append("<option value='0' selected=true>Unassigned Questions</option>")
            $("#ssUserId").append("<option value='0' selected=true>Select Typist</option>")
        }



        //   $("#UserId").append("<option value='0' selected=true>Select Typist</option>")

    });


    function checkChange(id) {
        var Doc = id.substring(0, id.lastIndexOf('_'))
        var Num = id.substring(id.lastIndexOf('_') + 1)
        //alert(Doc)
        //alert(Num)

        if (Doc != "null") {
            var output = jQuery.map($(':checkbox[name=Chekrole]:checked'), function (n, i) {
                return n.value;
            }).join(',');
            document.getElementById("assignList").value = output;
        }
        else {
            alert("Please attach paper before assign for Typing !")
            $("#" + id).attr("checked", false)
        }
    }


</script>


