﻿@*@model SBL.eLegistrator.HouseController.Web.Areas.Notices.Models.AUQuestionList*@
@model SBL.DomainModel.ComplexModel.AssignQuestionModel
@Html.HiddenFor(m => m.AssemblyID, new { @id = "hdnAssemblyID" })
@Html.HiddenFor(m => m.SessionID, new { @id = "hdnSessionId" })

    
<div class="row" style="padding-left:10px; align-content:center; width:100%">
<div class="col-xs-12 col-sm-5" style="width:100%">
    @{
        Html.RenderPartial("NotAssign");
    }
</div>

    </div>

