﻿@model SBL.DomainModel.ComplexModel.RecipientGroupViewModel

<div class="col-sm-5" style="width: 98%;">
	<div class="widget-box">
		<div class="widget-header">
			@if (Model.EditMode == "Edit")
   {	   
				<h4 class="widget-title">Update Generic Group</h4>
   }
   else
   {
				<h4 class="widget-title">Create Generic Group </h4>
   }
		</div>
		<div class="widget-body">
			<div class="widget-main no-padding-right no-padding-left">
				<div class="profile-user-info profile-user-info-striped">
					<div class="profile-info-row">
						@Html.HiddenFor(m => m.GroupId, new { @id = "hdnGroupId" })
						@Html.HiddenFor(m => m.EditMode, new { @id = "hdnEditMode" })
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">Group Name:</div>
						<div class="profile-info-value">
							<div class="input-group col-xs-12">
								@Html.TextBoxFor(m => m.GroupName, new
 {
	 @id = "txtGroupName",
	 @class = "col-xs-12",
	 @placeholder = "Group Name",
	 @autocomplete = "off"
 })
							</div>
							<div class="help-block col-xs-12 col-sm-reset inline">
								@Html.ValidationMessageFor(model => model.GroupName)
							</div>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">Department:</div>
						<div class="profile-info-value">
							<div class="input-group col-xs-12">
								@Html.DropDownListFor(m => m.DepartmentID, new SelectList(Model.DepartmentListCol,
						"deptId", "deptname", 0), "-- Select Department --", new
						{
							@id = "lstDepartmentCol",
							@class = "col-xs-12"
						})
							</div>
							<div class="help-block col-xs-12 col-sm-reset inline">
								@Html.ValidationMessageFor(model => model.DepartmentID)
							</div>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">Group Description:</div>
						<div class="profile-info-value">
							<div class="input-group col-xs-12">
								@Html.TextAreaFor(model => model.GroupDesc, new
 {
	 @class = "col-xs-10 col-sm-5",
	 @style = "width:100%;height:70px;resize:vertical;",
	 @autofocus = "autofocus",
	 @placeholder = "Description",
	 @autocomplete = "off"
 })
							</div>
							<div class="help-block col-xs-12 col-sm-reset inline">
								@*@Html.ValidationMessageFor(model => model.TourFromDateTime)*@
							</div>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">Shared:</div>
						<div class="profile-info-value">
							<div class="input-group col-xs-12">
								<label class="inline">
									@Html.CheckBoxFor(m => m.IsPublic)
									<span class="lbl">Shared</span>
								</label>
							</div>
							<div class="help-block col-xs-12 col-sm-reset inline">
								@Html.ValidationMessageFor(model => model.IsPublic)
							</div>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">Active:</div>
						<div class="profile-info-value">
							<div class="input-group col-xs-12">
								<label class="inline">
									@Html.CheckBoxFor(m => m.IsActive)
									<span class="lbl">Active</span>
								</label>
							</div>
							<div class="help-block col-xs-12 col-sm-reset inline">
								@*@Html.ValidationMessageFor(model => model.TourFromDateTime)*@
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="wizard-actions">
				<div style="margin-bottom: 40px;">
					<div class="form-inline">

						<button type="button" id="btnSave" class="btn btn-primary" value="Save">
							<i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
							@if (Model.EditMode == "Edit"){<span>Update</span>}else{<span>Save</span>}
						</button>
						<button type="button" class="btn btn-danger" name="Reset" id="btnReset" value="Reset">
							<i class="ace-icon fa fa-refresh align-top bigger-140"></i>
							Reset
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="~/assets/js/bootbox.min.js"></script>
<script type="text/javascript">

	$(document).ready(function () {
	    
	});

	function Validate() {

		if ($("#txtGroupName").val() == '') {

			var dlg = bootbox.alert('Group Name is required', function (e) {

				$(dlg).modal('hide');
			});

			return false;
		}
		else {

			return true;
		}
	}

	function GetAllRecipientGroupList() {

		$.ajax({
			url: "/Notices/OnlineMemberQuestions/AllRecipientGroupList",
			type: 'GET',
			data: '',
			success: function (data) {

				if (data) {

					$("#divbindList").html(data);

				} else {

					var dlg = bootbox.alert('Error', function (e) {

						$(dlg).modal('hide');
					});
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {

				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});
			}
		});
	}

	$("#btnReset").click(function () {

		$("#hdnGroupId").val("");

		$("#txtGroupName").val("");

		$("#lstDepartmentCol").val(0);

		$("#hdnEditMode").val("Add");

		$("#GroupDesc").val("");

		$("#IsPublic").prop('checked', this.checked);

		$("#IsActive").prop('checked', this.checked);

	});

	$("#btnSave").click(function () {

		if (Validate()) {

			$("#loader-wrapper").show();

			$.ajax({
				url: "/Notices/OnlineMemberQuestions/SaveRecipientGroup",
				type: 'POST',
				data: JSON.stringify({
					GroupId: $("#hdnGroupId").val(),
					GroupName: $("#txtGroupName").val(),
					DeptCode: $("#lstDepartmentCol").val(),
					GroupDesc: $("#GroupDesc").val(),
					IsPublic: $("#IsPublic").prop('checked'),
					IsActive: $("#IsActive").prop('checked'),
					Mode: $("#hdnEditMode").val()
				}),
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function (data) {

					$("#loader-wrapper").hide();

					var dlg = bootbox.alert(data.Message, function (e) {

						$(dlg).modal('hide');

					});

					//$("#Spn_RecipientGroups").html(data.RecipientGroupCount);

					GetAllRecipientGroupList();
				},
				error: function (xhr, ajaxOptions, thrownError) {
					var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

						$(dlg).modal('hide');
					});
				}
			});
		}

	});

</script>
