﻿@model SBL.DomainModel.ComplexModel.RecipientGroupMemberViewModel


<div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>
<div class="col-sm-5" style="width: 98%;">
	<div class="widget-box">
		<div class="widget-header">
			@if (Model.EditMode == "Edit")
   {	   
				<h4 class="widget-title">Update Constituency Office Group Member</h4>
   }
   else
   {
				<h4 class="widget-title">Create  Constituency Office Group Member</h4>
   }
		</div>
		<div class="widget-body">
			<div class="widget-main no-padding-right no-padding-left">
				<div class="profile-user-info profile-user-info-striped">
					<div class="profile-info-row">
						@Html.HiddenFor(m => m.GroupMemberID, new { @id = "hdnGroupMemberId" })
						@Html.HiddenFor(m => m.EditMode, new { @id = "hdnEditMode" })
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">Group Name:</div>
						<div class="profile-info-value">
							<div class="input-group col-xs-12">
								@Html.DropDownListFor(m => m.GroupId, new SelectList(Model.RecipientGroupCol,
						"GroupID", "Name", 0), "-- Selelct Group --", new
						{
							@id = "lstRecipientGroupColMember",
							@class = "col-xs-12"
						})
							</div>
							<div class="help-block col-xs-12 col-sm-reset inline">
								@Html.ValidationMessageFor(model => model.GroupId)
							</div>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">Group Member Name:</div>
						<div class="profile-info-value">
							<div class="input-group col-xs-12">
								@Html.TextBoxFor(m => m.Name, new
   {
	   @id = "txtGroupMemberName",
	   @class = "col-xs-12",
	   @placeholder = "Group Member Name",
	   @autocomplete = "off"
   })
							</div>
							<div class="help-block col-xs-12 col-sm-reset inline">
								@Html.ValidationMessageFor(model => model.Name)
							</div>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">Gender:</div>
						<div class="profile-info-value">
							<div class="input-group col-xs-12">
								@Html.DropDownListFor(model => model.Gender, new SelectList(Model.GenderList, "-- Select Gender --"),
						new { @class = "col-xs-12" })
							</div>
							<div class="help-block col-xs-12 col-sm-reset inline">
								@Html.ValidationMessageFor(model => model.Gender)
							</div>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">Designation:</div>
						<div class="profile-info-value">
							<div class="input-group col-xs-12">
								@Html.TextBoxFor(m => m.Designation, new
   {
	   @id = "txtDesignation",
	   @class = "col-xs-12",
	   @placeholder = "Designation",
	   @autocomplete = "off"
   })
							</div>
							<div class="help-block col-xs-12 col-sm-reset inline">
								@Html.ValidationMessageFor(model => model.Designation)
							</div>
						</div>
					</div>
					<div class="profile-info-row" style="display: none;">
						<div class="profile-info-name">Department:</div>
						<div class="profile-info-value">
							<div class="input-group col-xs-12">
								@Html.DropDownListFor(m => m.DepartmentID, new SelectList(Model.DepartmentListCol,
						"deptId", "deptname", 0), "-- Select Department  --", new
						{
							@id = "lstDepartmentCol",
							@class = "col-xs-12"
						})
							</div>
							<div class="help-block col-xs-12 col-sm-reset inline">
								@Html.ValidationMessageFor(model => model.DepartmentID)
							</div>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">Mobile: ( +91 )</div>
						<div class="profile-info-value">
							<div class="input-group col-xs-12">
								<span class="input-icon input-icon-right" title="Pree Enter to Add">
									@Html.TextBoxFor(m => m.Mobile, new
 {
	 @id = "txtMobile",
	 @class = "col-xs-12",
	 @placeholder = "Add Mobile No.(s)",
	 @autocomplete = "off",
	 @onkeydown = "addmobile(this)"
 })
									<i class="ace-icon fa fa-leaf blue"></i>
								</span>
								<span style="vertical-align: top;font-size: 9px;color: #42A5CC;">
									Press Enter to Add or <button class="btn btn-minier btn-purple" style="padding: 4px;border-radius: 6px;" onclick="addmobileButton()">Add</button>
								</span>
							</div>
							<div class="checkbox" style="padding-left: 0px; height: 100%;">
								<div id="divSelectedMobiles" class="col-xs-3 tags" style="height: 80px; overflow-y: scroll; width: 100%;">
								</div>
								<div id="mobs" class="hdnmembers"></div>

							</div>
							<div class="help-block col-xs-12 col-sm-reset inline">
								@Html.ValidationMessageFor(model => model.Mobile)
							</div>
						</div>
					</div>
					 <div class="profile-info-row">
                    <div class="profile-info-name">Land Line No.</div>
                    <div class="profile-info-value">
                        <span class="">
                            @Html.TextBoxFor(model => model.LandLineNumber, new { @class = "col-xs-12", @tabindex = "7", @placeholder = "Land Line Number (XXXX-XXXXXX)" })
                             
                        </span>
                    </div>
                </div>
					<div class="profile-info-row">
						<div class="profile-info-name">Email:</div>
						<div class="profile-info-value">

							<div class="input-group col-xs-12">
								<span class="input-icon input-icon-right" title="Press Enter to Add">
									@Html.TextBoxFor(m => m.EMail, new
 {
	 @id = "txtEmail",
	 @class = "col-xs-12",
	 @placeholder = "Add Email(s)",
	 @autocomplete = "off",
	 @onkeydown = "addEmail(this)"
 })
									<i class="ace-icon fa fa-leaf green"></i>
								</span>
								<span style="vertical-align: top;font-size: 9px;color: #42A5CC;">
									Press Enter to Add or <button class="btn btn-minier btn-purple" style="padding: 4px;border-radius: 6px;" onclick="addEmailButton()">Add</button>
								</span>
							</div>
							<div class="checkbox" style="padding-left: 0px; height: 100%;">
								<div id="divSelectedMembersEmail" class="col-xs-3 tags" style="height: 80px; overflow-y: scroll; width: 100%;">
								</div>
								<div id="emails"></div>
							</div>
							<div class="help-block col-xs-12 col-sm-reset inline">
								@*@Html.ValidationMessageFor(model => model.EMail)*@
							</div>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">Address:</div>
						<div class="profile-info-value">
							<div class="input-group col-xs-12">
								@Html.TextAreaFor(m => m.Address, new
   {
	   @id = "txtAddres",
	   @style = "width:100%;resize:vertical;height:100px;",
	   @class = "col-xs-12",
	   @placeholder = "Address",
	   @autocomplete = "off"
   })
							</div>
							<div class="help-block col-xs-12 col-sm-reset inline">
								@Html.ValidationMessageFor(model => model.Address)
							</div>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">Pin Code:</div>
						<div class="profile-info-value">
							<div class="input-group col-xs-12">
								@Html.TextBoxFor(m => m.PinCode, new
   {
	   @id = "txtPinCode",
	   @class = "col-xs-12",
	   @placeholder = "Pin Code",
	   @autocomplete = "off"
   })
							</div>
							<div class="help-block col-xs-12 col-sm-reset inline">
								@Html.ValidationMessageFor(model => model.PinCode)
							</div>
						</div>
					</div>
					<div class="profile-info-row">
						<div class="profile-info-name">Ranking Order:</div>
						<div class="profile-info-value">
							<div class="input-group col-xs-12">
								<label class="inline">
									@Html.TextBoxFor(m => m.RankingOrder)
									 
								</label>
							</div>
							 
						</div>
					</div>
					@*<div class="profile-info-row">
                <div class="profile-info-name">Active:</div>
                <div class="profile-info-value">
                    <div class="input-group col-xs-12">
                        <label class="inline">
                            @Html.CheckBoxFor(m => m.IsActive)
                            <span class="lbl">Active</span> 
                        </label>
                    </div>
                    <div class="help-block col-xs-12 col-sm-reset inline">
                        
                    </div>
                </div>
            </div>*@
				</div>
			</div>
			<div class="wizard-actions">
				<div style="margin-bottom: 40px;">
					<div class="form-inline">

						<button type="button" id="btnSave" class="btn btn-primary" value="Save">
							<i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
							@if (Model.EditMode == "Edit")
	   {	   <span>Update</span>}
	   else
	   {<span>Save</span>}
						</button>
						<button type="button" class="btn btn-danger" name="Reset" id="btnReset" value="Reset">
							<i class="ace-icon fa fa-refresh align-top bigger-140"></i>
							Reset
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="~/assets/js/bootbox.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        var gid = $('#lstRecipientGroupCol').val();
        $('#lstRecipientGroupColMember').val(gid);


		var ms = '@Model.Mobile';
		var m = [];
		m = ms.split(',');

		for (var i = 0; i < m.length; i++) {
			if (m[i].trim().length > 0) {
				getmobile(m[i]);
			}
		}

		var em = '@Model.EMail';
		var eml = [];
		eml = em.split(',');

		for (var i = 0; i < eml.length; i++) {
			if (eml[i].trim().length > 0) {
				getemail(eml[i]);
			}
		}

	});
	$(document).on('click', '.close', function () {
		var d = $('#emails').html();
		var e = d.replace(this.id, " ");
		$('#emails').empty();
		$('#emails').append(e);


		var a = $('#mobs').html();
		var b = a.replace(this.id, " ");
		$('#mobs').empty();
		$('#mobs').append(b);

		$(this).parent().remove();

	});

	function getemail(v) {

		var sendemail = v + ',';
		// For Email
		var c = ' <span class="tag" >' + v + '' +
		'<input type="hidden"  value="' + v + '" class="hdnmembers" />' +
		'<button class="close"  type="button" id="' + v + '" title="Remove" >×</button>' +
		'</span> ';

		$('#divSelectedMembersEmail').append(c);
		$('#txtEmail').val('');
		$('#emails').append(sendemail);


		$('#emails').hide();

	}
	function getmobile(v) {

		var sendMobile = v + ',';
		// For Mobiles
		var a = ' <span class="tag" >' + v + '' +
		'<input type="hidden" value="' + v + '" class="hdnmembers" />' +
		'<button class="close" type="button" id="' + v + '" title="Remove" >×</button>' +
		'</span> ';

		$('#divSelectedMobiles').append(a);

		$('#txtMobile').val('');
		$('#mobs').append(sendMobile);


		$('#mobs').hide();

	}

	function addmobile(ele) {


		if (event.keyCode == 13) {
			if ($.isNumeric(ele.value) && ele.value.length == 10) {

				var sendMobile = ele.value + ',';
				// For Mobiles
				var a = ' <span class="tag" >' + ele.value + '' +
				'<input type="hidden" value="' + ele.value + '" class="hdnmembers" />' +
				'<button class="close" type="button" id="' + ele.value + '" title="Remove" >×</button>' +
				'</span> ';

				// Check If Moble No is Already Exists
				var e = $('#mobs').html();

				var checkNo = [];
				checkNo = e.split(',');
				var vd = false;
				for (var j = 0; j < checkNo.length; j++) {
					if (ele.value == checkNo[j]) {

						var dlg = bootbox.alert('Mobile no. already added', function (e) {
							$(dlg).modal('hide');
						});
						return;
					}
				}
				////////

				if (vd == false) {
					$('#divSelectedMobiles').append(a);

					$('#txtMobile').val('');
					$('#mobs').append(sendMobile);
				}
			}
			else {
				var dlg = bootbox.alert('Please Enter Correct Mobile no.', function (e) {
					$(dlg).modal('hide');
				});
				return;
			}
			$('#mobs').hide();
		}
	}
	function addmobileButton() {


		var ele = $('#txtMobile').val();
			if ($.isNumeric(ele) && ele.length == 10) {

				var sendMobile = ele + ',';
				// For Mobiles
				var a = ' <span class="tag" >' + ele + '' +
				'<input type="hidden" value="' + ele + '" class="hdnmembers" />' +
				'<button class="close" type="button" id="' + ele + '" title="Remove" >×</button>' +
				'</span> ';

				// Check If Moble No is Already Exists
				var e = $('#mobs').html();

				var checkNo = [];
				checkNo = e.split(',');
				var vd = false;
				for (var j = 0; j < checkNo.length; j++) {
					if (ele == checkNo[j]) {

						var dlg = bootbox.alert('Mobile no. already added', function (e) {
							$(dlg).modal('hide');
						});
						return;
					}
				}
				////////

				if (vd == false) {
					$('#divSelectedMobiles').append(a);

					$('#txtMobile').val('');
					$('#mobs').append(sendMobile);
				}
			}
			else {
				var dlg = bootbox.alert('Please Enter Correct Mobile no.', function (e) {
					$(dlg).modal('hide');
				});
				return;
			}
			$('#mobs').hide();
		 
	}

	function addEmail(ele) {

		if (event.keyCode == 13) {
			var email = ele.value;
			if (email.match(/^\w+@@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/)) {
				var sendemail = email + ',';
				// For Email
				var c = ' <span class="tag" >' + ele.value + '' +
				'<input type="hidden"  value="' + ele.value + '" class="hdnmembers" />' +
				'<button class="close"  type="button" id="' + ele.value + '" title="Remove" >×</button>' +
				'</span> ';
				// Check If Moble No is Already Exists
				var e = $('#emails').html();

				var checkNo = [];
				checkNo = e.split(',');
				var vd = false;
				for (var j = 0; j < checkNo.length; j++) {
					if (ele.value == checkNo[j]) {

						var dlg = bootbox.alert('Email already added', function (e) {
							$(dlg).modal('hide');
						});
						return;
					}
				}
				////////
				if (vd == false) {
					$('#divSelectedMembersEmail').append(c);
					$('#txtEmail').val('');
					$('#emails').append(sendemail);
				}
			}
			else {
				var dlg = bootbox.alert('Please Enter Valid Email Id.', function (e) {
					$(dlg).modal('hide');
				});
				return;
			}
			$('#emails').hide();
		}
	}
	function addEmailButton() {

		var ele = $('#txtEmail').val();
			var email = ele;
			if (email.match(/^\w+@@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/)) {
				var sendemail = email + ',';
				// For Email
				var c = ' <span class="tag" >' + ele + '' +
				'<input type="hidden"  value="' + ele + '" class="hdnmembers" />' +
				'<button class="close"  type="button" id="' + ele + '" title="Remove" >×</button>' +
				'</span> ';
				// Check If Moble No is Already Exists
				var e = $('#emails').html();

				var checkNo = [];
				checkNo = e.split(',');
				var vd = false;
				for (var j = 0; j < checkNo.length; j++) {
					if (ele == checkNo[j]) {

						var dlg = bootbox.alert('Email already added', function (e) {
							$(dlg).modal('hide');
						});
						return;
					}
				}
				////////
				if (vd == false) {
					$('#divSelectedMembersEmail').append(c);
					$('#txtEmail').val('');
					$('#emails').append(sendemail);
				}
			}
			else {
				var dlg = bootbox.alert('Please Enter Valid Email Id.', function (e) {
					$(dlg).modal('hide');
				});
				return;
			}
			$('#emails').hide();
		 
	}




	function Validate() {

		var emailregex = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/

		if ($("#txtGroupMemberName").val() == '') {

			var dlg = bootbox.alert('Group Member Name is required', function (e) {

				$(dlg).modal('hide');
			});

			return false;
		}
		else if ($("#lstRecipientGroupColMember").val() == "0") {

			var dlg = bootbox.alert('Please select a recipient group', function (e) {

				$(dlg).modal('hide');
			});

			return false;
		}
			//else if (!emailregex.test($("#txtEmail").val())) {
			//	var dlg = bootbox.alert('Please enter a valid email', function (e) {

			//		$(dlg).modal('hide');
			//	});

			//	return false;
			//}
		else {

			return true;
		}
	}

	function GetAllRecipientGroupMemberList(groupID) {

		$.ajax({
			url: "/Notices/OnlineMemberQuestions/AllConstituencyOfficeGroupMemberList",
			type: 'GET',
			data: {

				GroupID: groupID
			},
			success: function (data) {

				if (data) {

					$("#divbindList").html(data);

				} else {

					var dlg = bootbox.alert('Error', function (e) {

						$(dlg).modal('hide');
					});
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {

				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});
			}
		});
	}

	$("#btnReset").click(function () {

	    $("#txtGroupMemberName").val("");
	    $("#txtDesignation").val("");
	    $("#txtMobile").val("");
	    $("#txtEmail").val("");
	    $("#txtAddres").val("");
	    $("#txtPinCode").val("");
	    $("#LandLineNumber").val('')
	    $('#divSelectedMobiles').html("");


	    $('#mobs').html("");

	});
	$("#RankingOrder").keypress(function (e) {
		//if the letter is not digit then display error and don't type anything
		if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
			//display error message
			var dlg = bootbox.alert('Please Enter Numeric Only in Ranking Order', function (e) {

				$(dlg).modal('hide');
			});
			return false;
		}
	});
	$("#btnSave").click(function () {

		if (Validate()) {

			$("#loader-wrapper").show();

			$.ajax({
				url: "/Notices/OnlineMemberQuestions/SaveRecipientGroupMember",
				type: 'POST',
				data: JSON.stringify({
					GroupMemberId: $("#hdnGroupMemberId").val(),
					GroupId: $("#lstRecipientGroupColMember").val(),
					GroupMemberName: $("#txtGroupMemberName").val(),
					Gender: $("#Gender option:selected").text(),
					Designation: $("#txtDesignation").val(),
					DeptCode: $("#lstDepartmentCol").val(),
					Mobile: $("#mobs").html(),
					Email: $("#emails").html(),
					Address: $("#txtAddres").val(),
					PinCode: $("#txtPinCode").val(),
					IsActive: true, //$("#IsActive").prop('checked')
					Mode: $("#hdnEditMode").val(),
					RankingOrder: $("#RankingOrder").val(),
					LandLineNo: $("#LandLineNumber").val()
				}),
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function (data) {

					$("#loader-wrapper").hide();

					var dlg = bootbox.alert(data.Message, function (e) {

						$(dlg).modal('hide');

					});

					//$("#Spn_RecipientGroupMembers").html(data.RecipientGroupMemberCnt);

					GetAllRecipientGroupMemberList($("#lstRecipientGroupColMember").val());
					$("#txtGroupMemberName").val('');
					$("#txtMobile").val('');
					$("#txtEmail").val('');

					$("#mobs").html('');
					$("#emails").html('');

					$('#divSelectedMembersEmail').html('');
					$('#divSelectedMobiles').html('');
					$("#LandLineNumber").val('')
				},
				error: function (xhr, ajaxOptions, thrownError) {
					var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

						$(dlg).modal('hide');
					});
				}
			});
		}

	});

</script>
