﻿@model SBL.DomainModel.ComplexModel.OnlineMemberQmodel
@{
    int count = 0;
}

<div class="row">
    <div class="col-xs-12">
        <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
        @using (Html.BeginForm("GeneratePublishedTourPDF", "OnlineMemberQuestions", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frmTours" }))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="pass-table">
                        <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                            <div class="table-header">
                                @if (ViewBag.PaperListTypeCode == "P")
                                {
                                    <span>Previous Tour List</span>
                                }
                                else if (ViewBag.PaperListTypeCode == "U")
                                {
                                    <span>UnPublished Tour List</span>
                                }
                                else if (ViewBag.PaperListTypeCode == "T")
                                {
                                    <span>Today's Tour List</span>
                                }
                                else if (ViewBag.PaperListTypeCode == "C")
                                {
                                    <span>Upcoming Tour List</span>
                                }




                                @Html.HiddenFor(m => m.hdnTourList, new { @id = "hdnTourList" })

                            </div>
                            <table class="table table-striped table-bordered table-hover dataTable" id="tblMemberTourList" aria-describedby="sample-table-2_info">
                                <thead>
                                    <tr role="row">
                                        <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">
                                            <input type="checkbox" class="chkList" id="chkSelAll" />
                                        </th>
                                        <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: auto">Departure</th>
                                        <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: auto">Arrival</th>
                                       
                                        <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: auto;">File Attached</th>
                                        <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: auto">Delete</th>



                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    @if (Model.tMemberTourList != null)
                                    {
                                        foreach (var item in Model.tMemberTourList)
                                        {
                                            count = count + 1;
                                            string style = (count % 2 == 0) ? "odd" : "even";
                                            var trID = item.TourId;
                                            var path = "http://secure.evidhan.nic.in/FileStructure/Tours/" + item.AliasAttachment;
                                            
                                            
                                          <tr class="@style"  id="@trID">
                                            <td>
                                                <input type="checkbox" class="chkList" onclick="AddToList(@trID, event);"/>

                                            </td>
                                            <td class="" onclick="onSelectRowHandler(@trID,event);">@item.TourFromDateTime.ToString("dd/MM/yyyy")<br />
                                             @*   @item.Departure*@
                                               @* <br />
                                                @if (item.DepartureTime == "00:00 AM") { }
                                                else
                                                {@item.DepartureTime}*@

                                            </td>
                                            <td class="" onclick="onSelectRowHandler(@trID,event);">@item.TourToDateTime.ToString("dd/MM/yyyy")<br />
                                               @* @item.Arrival
                                                <br />
                                                @if (item.ArrivalTime == "00:00 AM") { }
                                                else
                                                {@item.ArrivalTime}*@

                                            </td>
                                            <td class="">
                                             
                         
                                               <a target="_blank" href='@path'>
                                                   File Attached
                                               </a>   
                                                         </td>

                                            <td><a data-rel="tooltip" class="red tooltip-error DeletetourLink" title="Delete" id="DeleteLink"
                                                    href="@Url.Action("DeletetMemberTour", "OnlineMemberQuestions", new { Id = item.TourId })">
                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                            </a>
                                            </td>

                                        </tr>
                                       
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="space-2"></div>
                <div class="form-group">
                    <div class="form-inline">
                        <button type="submit" class="btn btn-primary" id="btnGeneratePDF" onclick="return IsValidated(event);" value="Generate PDF" formtarget="_blank">
                            <i class="ace-icon fa fa-print align-top bigger-140"></i>
                            Generate PDF
                        </button>
                        @if (ViewBag.PaperListTypeCode == "U")
                        {
                            <button type="button" class="btn btn-primary" id="btnPublish" value="Publish">
                                <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                Publish
                            </button>
                        }
                   
                    </div>
                </div>
            </div>
	  
        }
    </div>

    @using (Html.BeginForm("GeneratePublishedTourPDFHtmlView", "OnlineMemberQuestions", FormMethod.Post,
        new { @enctype = "multipart/form-data", @id = "frmTours1" }))
    {
        @Html.HiddenFor(m => m.hdnTourList, new { @id = "hdnTourList1" })
        <div class="form-inline">
            <button type="submit" class="btn btn-sm btn-warning" id="btnGeneratePDFhtml" onclick="return IsValidated(event);" value="Generate PDF" formtarget="_blank">
                <i class="ace-icon fa fa-print align-top bigger-140"></i>
                Generate HTML View
            </button>
        </div>
    }
    @Html.Hidden("hdnTblSelRows")
</div>

<script>

    var _tblList = [];

    var _dlgMsg = '';

    $(document).ready(function () {
        $('#btnAdvSearch').hide();
        GetSMSLimit();
        GetSpentSSMS();
        var checkboxes = document.getElementsByClassName("ace");
        if (checkboxes.length > 0) {
            $('#chkAllMembers').show();
        }
        else {
            $('#chkAllMembers').hide();
        }
        ChangeBreadCrumbParent("Tours", "Previous Tour");
        var tblMemberTourList = $('#tblMemberTourList')
        .dataTable();

        //$('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

        _dlgMsg = $("#dlgRecipientGroupModel").html();

    });

    function GetmembetsDetPartial(Chkid, CHkvalue) {

        $('#chkAllMembers').prop("checked", false);
        var chkboxGroups = $("#" + Chkid).prop('checked');
        if (chkboxGroups == true) {
            $("#loader-wrapper").show();
            $.ajax({
                type: "GET",
                url: "/Notices/OnlineMemberQuestions/GetMembersPartial",
                data: { GroupID: CHkvalue },

                success: function (data) {
                    //$("#RightMemberLists").empty();
                    $("#RightMemberLists").append(data);
                    $("#loader-wrapper").hide();
                    var checkboxes = document.getElementsByClassName("ace");
                    if (checkboxes.length > 0) {
                        $('#chkAllMembers').show();
                        $('#spnGroupmember').html('Select Recipients For SMS..');
                    }
                    else {
                        $('#spnGroupmember').html('Select Recipients For SMS..');
                        $('#chkAllMembers').hide();
                    }
                }
            });
        }
        else
        {
            $("#RightMemberLists").empty();
            var checkboxes = document.getElementsByName("chkgroupbox");
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
					
                    if (checkboxes[i].checked == true) {						
                        GetmembetsDetPartial(checkboxes[i].id, checkboxes[i].value);
                    }
                }
            }
        }
    }

    function GetmembetsDet(Chkid, CHkvalue) {
        //var chekcebox = $(id);

        $.ajax({
            type: "GET",
            url: "/Notices/OnlineMemberQuestions/GetMembersByGroupId",
            data: { GroupID: CHkvalue },
            datatype: "json",
            //traditional: true,
            success: function (data) {

                var target = $("#tblMembers");
                target.empty();
                for (var i = 0; i < data.length; i++) {
                    var member = data[i];
                    target.append("<tr><td><label><input name='form-field-checkbox' type='checkbox' id=" + member.GroupMemberID + " class='ace' value=" + member.GroupMemberID + " /><span class='lbl'>" + member.Name + "</span></label></td><td>");
                }

                var showDlg = bootbox.dialog();
                $(showDlg).modal('hide');

                $(showDlg).modal('show');
            }
        });

    }

    function tooltip_placement(context, source) {
        var $source = $(source);
        var $parent = $source.closest('table')
        var off1 = $parent.offset();
        var w1 = $parent.width();

        var off2 = $source.offset();
        //var w2 = $source.width();

        if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
        return 'left';
    }

    function AddToList(rowId, event) {
        
        if (event.target.type == 'checkbox') {

            //alert($("#" + rowId).find('td:eq(1)').text().trim()); also works for getting values

            var target = $(event.target);

            var IsRowSelected = $(target).prop('checked');

            if (IsRowSelected) {

                if ($.inArray(rowId, _tblList) == -1) {

                    var $tr = $(target).closest("tr");

                    var _tblRow = rowId + '$#**&##' +
					$tr.find('td:eq(1)').text().trim() + '$#**&##' +
					$tr.find('td:eq(2)').text().trim() + '$#**&##' +
					$tr.find('td:eq(3)').text().trim() + '$#**&##' +
					$tr.find('td:eq(4)').text().trim() + '$#**&##' +
					$tr.find('td:eq(5)').text().trim() + '$#**&##' +
					$tr.find('td:eq(6)').text().trim() + '$#**&##' +
					$tr.find('td:eq(7)').text().trim() + '$#**&##' +
					$tr.find('td:eq(8)').text().trim() + '$#**&##' +
					$tr.find('td:eq(9)').text().trim() + '$#**&##' +
					$tr.find('td:eq(10)').text().trim() + '$#**&##'+
                    $tr.find('td:eq(11)').text().trim() + '$#**&##';

                    _tblList.push({ rowId: rowId, rowVal: _tblRow }); //storing selected table rows in an array
                }

                //$.each(_tblList, function (index, value) {
                //    alert(value.rowId + ' : ' + value.rowVal);
                //}); to show values in array
            }
            else {

                $.each(_tblList, function (index, value) {

                    if (value.rowId == rowId) {
                        _tblList.splice(index, 1); // removing item from the array
                    }

                });
            }
        }
    }

    $("#btnSendSMS").click(function () {
      

        $('#divSelectedMembers').html('');
        $('#RightMemberLists').html('');
        $('#mailids').html('');
        var checkboxes = document.getElementsByName("chkgroupbox");
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].type == 'checkbox') {
                checkboxes[i].checked = false;

            }
        }

        $('#chkAllGroups').prop("checked", false);
        $('#chkAllMembers').prop("checked", false);

        var checkboxes = document.getElementsByClassName("ace");
        if (checkboxes.length > 0) {
            $('#chkAllMembers').show();
        }
        else {
            $('#chkAllMembers').hide();
        }

        GetSMSLimit();
        GetSpentSSMS();
        if (_tblList.length > 0) {

            var tblSelRows = '';

            var IsValidated = true;
            
            debugger;     
            $.each(_tblList, function (index, value) {
                //console.log(index);
                if(index==0)
                {   
                    var firstLang = value.rowVal.split("$#**&##")[11].trim();
                }
                var IsPublished = value.rowVal.split("$#**&##")[6].trim();
                var Islocale = value.rowVal.split("$#**&##")[11].trim();
                if(firstLang!=Islocale)
                {
                    var dlg = bootbox.alert('Please select sms of same type i.e either hindi or english', function (e) {

                        $(dlg).modal('hide');

                    });

                    IsValidated = false;
                }
                else
                {
                    $("#messageLangType").val(firstLang);
                    IsValidated = true;
                }
             
                
                
                if (IsPublished != "Published") {

                    var dlg = bootbox.alert('Cannot add a not published tour', function (e) {

                        $(dlg).modal('hide');

                    });

                    IsValidated = false;
                }
                else {

                    tblSelRows += value.rowVal + '$%##**#';

                    $('#hdnTblSelRows').val(tblSelRows);
                }

            });

            var tourmsg=$('#hdnTblSelRows').val().replace('$%##**#','');

            var tourmsglength=tourmsg.length;
            var smsglimit=475;
            if(tourmsglength>smsglimit)
            {
                var exceddchars=tourmsglength-smsglimit;

                var dlg = bootbox.alert('Tour SMS Limit Exceeds.SMS Limit is (475 characters) and Exceed characters are ('+exceddchars+')', function (e) {

                    $(dlg).modal('hide');
                });
                return;
            }

            if (IsValidated) {

                $('#dlgRecipientGroupModel').modal('show');

                //ShowRecipientGroupDialog(tblSelRows);

            }
        }
        else {

            var dlg = bootbox.alert('No tour has been selected', function (e) {

                $(dlg).modal('hide');
            });
        }
    });

	 

    function IsValidated(e) {

        if (_tblList.length > 0) {

            var tblSelRows = '';

            $.each(_tblList, function (index, value) {

                tblSelRows += value.rowVal + '$%##**#';
            });
		 
            $("#hdnTourList").val(tblSelRows);
            $("#hdnTourList1").val(tblSelRows);
        }
        else {

            var dlg = bootbox.alert('No tour has been selected', function (e) {

                $(dlg).modal('hide');
            });

            return false;
        }

        return IsValidated;
    }

    function GetUpcomingMemberTourList() {

        $.ajax({
            url: "/Notices/OnlineMemberQuestions/UnPublishedTourList",
            type: 'GET',
            data: '',
            success: function (data) {

                if (data) {

                    $("#divDataContainer").html(data);

                } else {

                    var dlg = bootbox.alert('Error', function (e) {

                        $(dlg).modal('hide');
                    });
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });
    }

    function ShowRecipientGroupDialog(tblSelRows) {

        var recipientGroupID = $("#lstRecipientGroupCol").val();

        //if (recipientGroupID == '' || recipientGroupID == null) {

        //	$("#dlgRecipientGroupModel").html('Please create a recipient group');
        //}
        //else {

        //	$("#dlgRecipientGroupModel").html(_dlgMsg);
        //}

        var showDlg = bootbox.dialog({
            title: "Group List",
            message: $("#dlgRecipientGroupModel").html(),
            buttons: {
                success: {
                    label: "OK",
                    className: "btn-success",
                    callback: function () {

                        var recipientGroupID = $("#lstRecipientGroupCol").val();

                        if (recipientGroupID != '' && recipientGroupID != null) {

                            $.ajax({
                                url: "/Notices/OnlineMemberQuestions/SendPubishedTourSMS",
                                type: 'POST',
                                data: JSON.stringify({
                                    selectedTours: tblSelRows,
                                    recipientGroupID: recipientGroupID
                                }),
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (data) {

                                    var dlg = bootbox.alert(data, function (e) {

                                        $(dlg).modal('hide');

                                    });
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                                    var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                                        $(dlg).modal('hide');
                                    });
                                }
                            });
                        }

                        $(showDlg).modal('hide');
                    }
                }
            }
        }
		);
    }

    $("#btnPublish").click(function (e) { // sending using ajax

        //alert("hello");
        if (_tblList.length > 0) {

            var dlg = bootbox.confirm('Are you sure you want to publish these selected tours?', function (result) {

                if (result) {

                    var tblSelRows = '';

                    $.each(_tblList, function (index, value) {

                        tblSelRows += value.rowVal + '$%##**#';

                    });

                    $("#loader-wrapper").show();

                    $.ajax({
                        url: "/Notices/OnlineMemberQuestions/PublishTours",
                        type: 'POST',
                        data: JSON.stringify({
                            selectedTours: tblSelRows
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {

                            $("#loader-wrapper").hide();

                            var dlg = bootbox.alert(data.Msg, function (e) {

                                $(dlg).modal('hide');

                            });

                            $("#Spn_TodayTours").html(data.TodayToursUpdatedCnt);

                            $("#Spn_UnPublishedTours").html(data.UnPublishedToursUpdatedCnt);

                            $("#Spn_UpcomingTours").html(data.UpcomingToursUpdatedCnt);

                            $("#Spn_PreviousTours").html(data.PreviousToursUpdatedCnt);

                            GetUpcomingMemberTourList();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                                $(dlg).modal('hide');
                            });
                        }
                    });
                }

                $(dlg).modal('hide');

            });
        }
        else {

            var dlg = bootbox.alert('No tour has been selected', function (e) {

                $(dlg).modal('hide');
            });
        }
    });

    function onSelectRowHandler(rowId, event) {

        //AddToList(rowId, event);

        $("#loader-wrapper").show();
        $.ajax({
            url: "/Notices/OnlineMemberQuestions/GetTourDataByID",
            type: 'GET',
            data: {
                tourid: rowId
            },
            success: function (data) {
                if (data) {

                    $("#RightSidebar").html(data);

                    $("#loader-wrapper").hide();

                }
                else {

                    var dlg = bootbox.alert('error', function (e) {

                        $(dlg).modal('hide');
                    });
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });

            }
        });
    }

    function CreateNewTour() {

        $("#loader-wrapper").show();

        $.ajax({
            url: "/Notices/OnlineMemberQuestions/EntryFormTour",
            type: 'GET',
            data: {

            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data);

                    $("#loader-wrapper").hide();
                    $("#hentryform").text('Tour Entry Form');
                }
                else {

                    var dlg = bootbox.alert('error', function (e) {

                        $(dlg).modal('hide');
                    });
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });
    }

    $(".DeletetourLink").on('click', function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        var dlg = bootbox.confirm('@Resources.MasterDataDashboard.Areyousurewanttodelete', function (result) {

            if (result) {

                $(dlg).modal('hide');

                window.location.href = url;
            }
        });
    });

    $("#chkSelAll").click(function (e) {

        var status = $("#chkSelAll").prop('checked');

        if (status == true) {

            var table = $(e.target).closest('table');

            $('td input:checkbox', table).prop('checked', this.checked);

            var table = $("#tblMemberTourList > tbody");

            table.find('tr').each(function (i, el) {
                var $tds = $(this).find('td');

                var $tr = $('#' + el.id);

                if ($.inArray(el.id, _tblList) == -1) {

                    var _tblRow = el.id + '$#**&##' +
					$tr.find('td:eq(1)').text().trim() + '$#**&##' +
					$tr.find('td:eq(2)').text().trim() + '$#**&##' +
					$tr.find('td:eq(3)').text().trim() + '$#**&##' +
					$tr.find('td:eq(4)').text().trim() + '$#**&##' +
					$tr.find('td:eq(5)').text().trim() + '$#**&##' +
					$tr.find('td:eq(6)').text().trim() + '$#**&##';

                    _tblList.push({ rowId: el.id, rowVal: _tblRow }); //storing selected table rows in an array
                }

            });
        }
        else {
			
            var table = $(e.target).closest('table');

            $('td input:checkbox', table).prop('checked', this.checked);

            table.find('tr').each(function (i, el) {

                var rowId = el.id;

                $.each(_tblList, function (index, value) {

                    var arrayId = _tblList[index]["rowId"];

                    if (arrayId == rowId) {

                        _tblList.splice(index, 1); // removing item from the array

                        return false;
                    }

                });
            });

        }
    });

    $("#chkAllMembers").click(function (e) {

        var status = $("#chkAllMembers").prop('checked');
        var checkboxes = document.getElementsByClassName("ace");

        if (status == true) {
            //$('#mailids').html('');
            //$('#divSelectedMembers').html('');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                    if (checkboxes[i].checked = true) {
                        getmemberdata(checkboxes[i].id, checkboxes[i].name, checkboxes[i].title, checkboxes[i].value)
                    }
                }
            }
        }
        else {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;

                }
            }
            $('#mailids').html('');
            $('#divSelectedMembers').html('');
            Count = 1;
        }
    });
    var Count = 1;
    function getmemberdata(id, name, mailid, value) {

        if (Count > 1000) {
            var dlg = bootbox.alert('Max. limit 1000.', function (e) {
                $(dlg).modal('hide');
            });
            return;
        }
        var n = name + ',';
        if (mailid.trim().length > 0) {
            var email = mailid + ',';
        }



        var IsValid = true;
        var ifExists = false;
        if ($('#' + id + '').is(':checked')) {

            IsValid = true;
            for (var i = 1; i <= Count; i++) {
                var value = $('#hdnNum-' + i).val();
                if (mailid == value) {
                    ifExists = true;
                }
            }
        } else {
            IsValid = false;
        }
        //for (var i = 1; i <= Count; i++) {
        //	var value = $('#hdnNum-' + i).val();
        //	if (mailid == value) {
        //		IsValid = false;

        //	}
        //}
        if (ifExists == false) {
            if (IsValid == true) {
                if (mailid.trim().length > 0) {
                    var a = ' <span class="tag" >' + name + '' +
					'<input type="hidden" id="hdnNum-' + Count + '" value="' + mailid + '" class="hdnmembers" />' +
					'<button class="close" value="' + id + '" type="button" id="' + mailid + '" title="Remove" >×</button>' +
					'</span> ';
                }
                if (document.getElementById(id).checked) {
                    $('#divSelectedMembers').append(a);
                    // adding mobiles
                    $('#mailids').append(email);
                }
                Count++;
            }
            else {
                var a = $('#mailids').html();
                var b = a.replace(mailid + ',', " ");
                $('#mailids').empty();
                $('#mailids').append(b);

                $('#' + mailid + '').parent().remove();
                Count--;
            }
        }
        //else{
        //	var a = $('#mailids').html();
        //	var b = a.replace(mailid + ',', " ");
        //	$('#mailids').empty();
        //	$('#mailids').append(b);

        //	$('#' + mailid + '').parent().remove();
			 

        //	Count--;
        //}

        $('#mailids').hide();

    }
    $(document).on('click', '.close', function () {

        var a = $('#mailids').html();
        var b = a.replace(this.id + ',', " ");

        $('#mailids').empty();
        $('#mailids').append(b);
        Count--;
        $(this).parent().remove();

    });

    function SendSmsToMembers() {
        var a = $('#spnLeft').html();

        var msgType = $("#messageLangType").val();
        if (a <= 0) {
            var dlg = bootbox.alert('Message Limit is Over.Please Conatct to Admin.', function (e) {
                $(dlg).modal('hide');
            });
            return;
        }

        var mobilenos = $('#mailids').html();
        var tsrows = $('#hdnTblSelRows').val();

        $("#loader-wrapper").show();

        $.ajax({
            url: "/Notices/OnlineMemberQuestions/SendPubishedTourSMS",
            type: 'POST',
            data: JSON.stringify({
                selectedTours: tsrows,
                MobileNos: mobilenos,
                SMSLeft:a,
                msgType:msgType
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                GetSMSLimit();
                GetSpentSSMS();
                $('#dlgRecipientGroupModel').modal('hide');
                $('#divSelectedMembers').html('');
                $('#RightMemberLists').html('');
                $('#mailids').html('');

                var radios = document.getElementsByName("form-field-radio");
                for (var i = 0; i < radios.length; i++) {
                    if (radios[i].type == 'radio') {
                        radios[i].checked = false;

                    }
                }

                var dlg = bootbox.alert(data, function (e) {

                    $(dlg).modal('hide');

                });
				
                $("#loader-wrapper").hide();

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
            }
        });
    }


    function GetAllMembersForAllgroupsPartial() {

        $('#chkAllMembers').prop("checked", false);

        //var cl2 = new CanvasLoader('canvasloader-container1');
        //cl2.show();
        $.ajax({
            type: "GET",
            url: "/Notices/OnlineMemberQuestions/GetMembersForALLGroups",
            data: {},

            success: function (data) {
                $("#RightMemberLists").empty();
                $("#RightMemberLists").append(data);

            }
        });
    }
    $("#chkAllGroups").click(function (e) {

        var status = $("#chkAllGroups").prop('checked');
        var checkboxes = document.getElementsByName("chkgroupbox");

        if (status == true) {

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                    if (checkboxes[i].checked = true) {
                        checkboxes[i].disabled = "disabled";
                        GetmembetsDetPartial(checkboxes[i].id, checkboxes[i].value);
						
                    }
                }
            }
            //GetAllMembersForAllgroupsPartial()
        }
        else {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                    checkboxes[i].disabled = "";
                }
            }
            $('#mailids').html('');
            $('#divSelectedMembers').html('');			 
            $('#RightMemberLists').html('');
            $('#chkAllMembers').prop("checked", false);
            Count = 1;

        }
    });

    //Get SMS Limit and Spent Sms
    function GetSMSLimit() {

        $.ajax({
            type: "GET",
            url: "/Notices/OnlineMemberQuestions/GetMaxLimitSMSByMember",
            data: {},

            success: function (data) {
                $('#spnlimitsms').html(data);
            }
        });
    }

    function GetSpentSSMS() {
        $.ajax({
            type: "GET",
            url: "/Notices/OnlineMemberQuestions/GetSpentSMSByMember",
            data: {},

            success: function (data) {
                $('#spnleftsms').html(data);
                var a = $('#spnleftsms').html();
                var b = $('#spnlimitsms').html();
                var c = b - a;
				 
                //$('#spnleftsms').html(c);
                $('#spnLeft').html(c);
            }
        });
    }

    function UncheckAllTour() {	 
		 
		 
        var checkboxes = document.getElementsByClassName("chkList");
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].type == 'checkbox') {
                checkboxes[i].checked = false;
				
            }
			 
        }
		 
        _tblList.length=0;
		 
		 
    }
    function getgroups(ele) {
        $('#chkAllGroups').prop('checked', false);	 
        $('#RightMemberLists').empty();
        $('#RightMemberLists').html('');
        var grpval = $('#form-field-select-1 option:selected').val();
		 
        var pathUrl;
        if (grpval == "N") {
            var dlg = bootbox.alert('Please Select Group', function (e) {
                $(dlg).modal('hide');
            });
            $('#LeftGroupLists').empty();
            return;

        }
        else if (grpval == "G") {
            pathUrl = "/Notices/OnlineMemberQuestions/GenericGroups";
        }
        else if (grpval == "C") {
            pathUrl = "/Notices/OnlineMemberQuestions/ConstituencyGroups";
        }
        else if (grpval == "P") {
            pathUrl = "/Notices/OnlineMemberQuestions/PanchayatGroups";
        }
        else if (grpval == "O") {
            pathUrl = "/Notices/OnlineMemberQuestions/ConstituencyOfficeGroups";
        }
        var pathUrl=
		$.ajax({
		    type: "GET",
		    url: pathUrl,
		    data: {},

		    success: function (data) {
		        $("#LeftGroupLists").empty();
		        $("#LeftGroupLists").append(data);
		        $("#loader-wrapper").hide();
		        var checkboxes = document.getElementsByClassName("ace");
		        if (checkboxes.length > 0) {
		            $('#chkAllMembers').show();
		            $('#spnGroupmember').html('Select Recipients For SMS..');
		        }
		        else {
		            $('#chkAllMembers').hide();
		            $('#spnGroupmember').html('Select Recipients For SMS..');
		        }
		        $('#RightMemberLists').empty();
		        $('#RightMemberLists').html('');
								 
		        $('#mailids').html('');
		        $('#divSelectedMembers').html('');
		        Count = 1;
		    }
		});
    }
</script>

<!--Create Sale Counter Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dlgRecipientGroupModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="label label-lg label-yellow arrowed-in arrowed-in-right" style="float: right;">
                    <input type="hidden" id="messageLangType" />
                    <strong>
                        <i class="ace-icon fa fa-check"></i>
                        Monthly Message Limit <span class="badge badge-success" id="spnlimitsms"></span>. You have <span class="badge badge-warning" id="spnleftsms" style="display: none;"></span><span class="badge badge-warning" id="spnLeft"></span>SMS Left.
                    </strong>
                </div>
                <button type="button" class="close" data-dismiss="modal">

                    @*<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>*@

                </button>
                <h4 class="modal-title" id="SaleCounterModalTitle">Select Recipients</h4>
            </div>
            <form method="post" id="DebateInfoForm">

                <div class="modal-body">
                    <div class="col-xs-12 col-sm-5">
                        <div class="control-group">

                            <div class="">
                                <div style="padding-left: 0px;">


                                    <select class="form-control" id="form-field-select-1" style="border-radius: 60px; font-size: 12px; height: 30px;" onchange="getgroups(this)">
                                        <option value="N">-Select Group-</option>
                                        <option value="G">Generic</option>
                                        <option value="C">Constituency</option>
                                        <option value="P">Panchayat</option>
                                        <option value="O">Constituency Office</option>
                                    </select>

                                </div>
                                <div style="padding-left: 0px;">

                                    <input type="checkbox" id="chkAllGroups" value="Select ALL" />
                                    <label class="control-label bolder blue" for="name">
                                        Select All Groups</label>

                                </div>
                                <div id="LeftGroupLists" style="height: 150px; overflow-y: scroll;">
                                    @*<table style="width: 100%;">
										@foreach (var names in Model.RecipientGroupList)
		  {
			  var checkBoxId = "lstRecipientGroupCol" + names.GroupID;
			  var tdId = "td" + names.Name;

											<tr>
												<td>
													<label>
														<input name="chkgroupbox" type="checkbox"  id="chk_@names.GroupID" value="@names.GroupID" onclick="GetmembetsDetPartial(this.id, this.value);" />
														<span class="lbl">@names.Name</span>
													</label>
												</td>
											</tr>

		  }
									</table>*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="canvasloader-containerMember" class="canvasloader" style="text-align: center"></div>
                    <div id="divDataContainerMember"></div>

                    <div class="col-xs-12 col-sm-7">
                        <div class="control-group">
                            <div class="checkbox">
                                <label class="control-label bolder blue" for="name">​<span id="spnGroupmember">Select Recipients For SMS...</span></label>

                                <input type="checkbox" id="chkAllMembers" value="Select ALL" style="margin-left: .5%;" />

                                <div id="RightMemberLists" style="height: 178px; overflow-y: scroll;">
                                    Select Recipients For SMS...
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div id="canvasloader-containerSend" class="canvasloader" style="text-align: center"></div>
                    <div id="divDataContainerSend"></div>

                    <div class="control-group">
                        <div class="checkbox" style="display: none;">
                            <label class="control-label bolder blue" for="name">Selected Members (max limit 1000)</label>
                            <div id="divSelectedMembers" class="col-xs-3 tags" style="height: 45px; width: 98%; overflow-y: scroll;">
                            </div>
                            <div id="mailids" class="hdnmembers"></div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top: 20%">
                    <button type="button" id="UpdateDebateInfo" class="btn btn-primary" onclick="SendSmsToMembers()">
                        <i class="ace-icon fa fa-share align-top bigger-140"></i>
                        Send SMS</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="UncheckAllTour();">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
