﻿@model SBL.DomainModel.Models.Notice.tMemberNotice
@using SBL.eLegistrator.HouseController.Web.Utility
@* <div id="breadcrumbs" class="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>

            <li>
                <a href="#">Other Pages</a>
            </li>
            <li class="active">Blank Page</li>
        </ul>
        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">12<sup>th</sup> Legislative Assembly </span>
            <span class="label label-large label-purple arrowed">5<sup>th</sup> Session (Feb 2014)</span>
        </div>
    </div>*@
@*<div id="breadcrumbs" class="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>

            <li>
                <a href="#">Other Pages</a>
            </li>
            <li class="active">Blank Page</li>
        </ul>
        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">12<sup>th</sup> Legislative Assembly </span>
            <span class="label label-large label-purple arrowed">5<sup>th</sup> Session (Feb 2014)</span>
        </div>
    </div>*@




<div id="breadcrumbs" class="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>



    <ul class="breadcrumb">


        <li id="secondLink">
            <a href="#"></a>
        </li>

        <li class="active" id="thirdLink">DashBoard</li>


    </ul>


    <div class="legAssm">
        @*<span id="SpnAssem" class="label label-large label-pink arrowed-in-right arrowed">@Model.AssesmblyName</span>
        <span id="SpnSess" class="label label-large label-purple arrowed">@Model.SessionName</span>*@
            @if(!string.IsNullOrEmpty(CurrentSession.SubUserTypeID))
        {
              if(CurrentSession.SubUserTypeID=="38")
        {
   @Html.DropDownListFor(m => m.MemberId, new SelectList(Model.memberList, "MemberCode", "Name",Model.MemberId), new { @id = "DdlMembers", @style = "background-color: #d6487e;color:white", @onchange = "ChangeMember(this.value);" })
        }
        }
        <span id="SpnAssemList">@Html.DropDownListFor(m => m.AssemblyID, new SelectList(Model.mAssemblyList, "AssemblyCode", "AssemblyName", Model.AssemblyID), new { @id = "DdlAssembly", @disabled = "disabled", @style = "background-color: #d6487e;color:white" })</span>
        <span id="SpnSessList">@Html.DropDownListFor(m => m.SessionID, new SelectList(Model.sessionList, "SessionCode", "SessionName", Model.SessionID), new { @id = "DdlSession", @disabled = "disabled", @style = "background-color: #9585bf;color:white" })</span>
        <span><a href="#" id="AChange" onclick="ChangeAS(this.id)" style="text-decoration: none;">Change</a></span>
    </div>
</div>





<script type="text/javascript">
    function ChangeMember(id) {

        $.ajax({
            url: "/Notices/OnlineMemberQuestions/ChangeMember",
            type: 'POST',
            data: {
                id: id

            },
            success: function (data) {
                if (data == "Success") {

                    window.location.href = '@Url.Action("Index", "OnlineMemberQuestions", new { Area = "Notice" })';
                }
            }
        })


    }
    function ChangeProgress(ChangeText) {
        if (ChangeText != "") {
            if (ChangeText == "progressSUN") {
                $("#progressSUN").show();
                $("#progressBO").hide();
            }
            else {
                $("#progressSUN").hide();
                $("#progressBO").show();
            }
        }
    }

    function ChangeBreadCrumbParent(firstText, firstLink) {

        $("#secondLink").empty();
        //var firstlinkHtml = '<a href="javascript:void(0);" onclick="' + firstLink + '">' + firstText + '</a>';
        //$("#secondLink").html(firstlinkHtml);
        $("#secondLink").html(firstText);
        $("#thirdLink").empty();


    }


    function ChangeBreadCrumbChild(secondText, secondLink) {

        $("#thirdLink").empty();
        //var secondlinkHtml = '<a href="javascript:void(0);" onclick="' + secondLink + '">' + secondText + '</a>';
        //$("#thirdLink").html(secondlinkHtml);
        $("#thirdLink").html(secondText);

    }

    function ChangeAS(id) {
        if ($("#" + id).html() == "Change") {
            $("#" + id).html("Apply")
            $("#DdlAssembly").prop("disabled", false);
            $("#DdlSession").prop("disabled", false);
            $("#DdlAssembly").css({
                "background-color": "white",
                "color": "black"
            })
            $("#DdlSession").css({
                "background-color": "white",
                "color": "black"
            })
        }
        else if ($("#" + id).html() == "Apply") {
            $("#" + id).html("Change")
            $("#DdlAssembly").prop("disabled", true);
            $("#DdlSession").prop("disabled", true);
            $("#DdlAssembly").css({
                "background-color": "#d6487e",
                "color": "white"
            })
            $("#DdlSession").css({
                "background-color": "#9585bf",
                "color": "white"
            })

            $.ajax({
                url: "/Home/GetDataByAssemblySession",
                type: 'GET',
                data: {
                    AssemblyId: $("#DdlAssembly").val(),
                    SessionId: $("#DdlSession").val()
                },
                success: function (data) {
                    if (data == "Success") {
                        var url = '@Url.Action("Index", "OnlineMemberQuestions", new { area = "Notices" })';
                        url = url.replace('amp;', '');
                        url = url.replace('amp;', '');
                        window.open(url, "_parent");
                    }
                }
            })

        }

}

$("#DdlAssembly").change(function () {

    var AssemblyId = $("#DdlAssembly").val();
    $.ajax({
        url: "/Notices/OnlineMemberQuestions/GetSessionByAssemblyId",
        type: 'GET',
        data: { AssemblyId: AssemblyId },
        success: function (data) {
            $("#DdlSession").empty();
            $.each(data, function (index, optiondata) {
                $("#DdlSession").append("<option value='" + optiondata.SessionCode + "'>" + optiondata.SessionName + "</option>");
            });
            //var lang = $("#Lang").val()
            //if (lang == "Hindi") {
            //    $("#DdlSession").append("<option value='0'>सत्र चुनें</option>");
            //}
            //else {
            //    $("#DdlSession").append("<option value='0'>Select Session</option>");
            //}

            //$.each(data, function (index, optiondata) {
            //    if (lang == "Hindi") {
            //        $("#DdlSession").append("<option value='" + optiondata.Id + "'>" + optiondata.Name_Local + "</option>");
            //    }
            //    else {

            //        $("#DdlSession").append("<option value='" + optiondata.Id + "'>" + optiondata.Name + "</option>");
            //    }
            //});
        }
    })

});


</script>













