﻿@model  SBL.eLegistrator.HouseController.Web.Areas.Admin.Models.CategoryViewModel
@{
    ViewBag.Title = "CreateGallery";
    //Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";

    string fileacessingpath = ViewBag.FileAcessingPath;
}

@*@Html.Partial("_LeftMenu")*@
<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>

    <!-- #section:basics/content.breadcrumbs -->
    @*<div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("GalleryCategoryIndex", "Gallery")">Admin</a>
            </li>
            <li>
                <a href="@Url.Action("GalleryCategoryIndex", "Gallery")">Gallery Category</a>
            </li>
          
        </ul>
      
        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>

    </div>*@

    <div class="page-content">
      

        <!-- /section:settings.box -->
        <div class="widget-box">
        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">Create Album</h4>
            }
            else
            {
                <h4 class="widget-title lighter">Edit Gallery Category</h4>
            }

        </div>
            
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">




                            @using (Html.BeginForm("SaveAlbumGallery", "OnlineMemberQuestions", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                            { 
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.CategoryID)
                                @Html.HiddenFor(model => model.Mode)
                                @Html.HiddenFor(m => m.IsCreatNew)
                                <input type="hidden" id="fileacesspath" value="@fileacessingpath" />

                                <h4 class="header blue lighter smaller clearfix">Basic details </h4>


                                <div class="tabbable">
                                    <ul id="myTab" class="nav nav-tabs padding-18">
                                        <li class="active">
                                            <a href="#news-english" data-toggle="tab">
                                                <i class="green ace-icon fa fa-home bigger-120"></i>
                                                English
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#news-hindi" data-toggle="tab">
                                                <i class="blue ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                <span class="lang-hi">हिन्दी  </span>

                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content no-border padding-24">
                                        <div class="tab-pane in active" id="news-english">
                                            <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Address">Category </label>
                                    <div class="col-sm-9">

                                        @Html.DropDownListFor(a=>a.AlbumCategoryId, Model.Dropdownlist, new { @class = "col-xs-10 col-sm-5",@id="galleryTypedrp" })
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            @Html.ValidationMessageFor(model => model.Dropdownlist)
                                        </div>
                                    </div>

                                </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Name">Album Title </label>

                                                <div class="col-sm-9 help-block">

                                                    @Html.TextBoxFor(model => model.CategoryName, new { @class = "col-xs-10 col-sm-5", @placeholder = "Name", @autocomplete = "off" })

                                                    @Html.ValidationMessageFor(model => model.CategoryName)

                                                </div>
                                            </div>

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Album Description </label>
                                                @*<div class="col-sm-9">
                                                     <div class="clearfix">
                                                            <div class="wysiwyg-editor wysiwyg-style2" id="editor-eng"></div>    
                                                        </div>
                                                    @Html.TextAreaFor(model => model.CategoryDescription, new { @class = "col-xs-10 col-sm-5", @placeholder = "Description", @autocomplete = "off" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        @Html.ValidationMessageFor(model => model.CategoryDescription)
                                                    </div>
                                                </div>*@
                                                <div class="col-sm-9">

                                                    @Html.TextAreaFor(model => model.CategoryDescription, new { @class = "col-xs-10 col-sm-5", @placeholder = "Description",@id="txtDesc", @autocomplete = "off", @maxlength = "500" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="assemblyRemarksvalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.CategoryDescription)
                                                   
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-pane" id="news-hindi">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Name">शीर्षक </label>

                                                <div class="col-sm-9 help-block">

                                                    @Html.TextBoxFor(model => model.LocalCategoryName, new { @class = "col-xs-10 col-sm-5", @placeholder = "शीर्षक", @autocomplete = "off" })

                                                    @* @Html.ValidationMessageFor(model => model.News_Title)*@

                                                </div>
                                            </div>

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">विवरण </label>
                                                <div class="col-sm-9">

                                                    @Html.TextAreaFor(model => model.LocalCategoryDescription, new { @class = "col-xs-10 col-sm-5", @placeholder = "विवरण", @autocomplete = "off" })
                                                    @*<div class="help-block col-xs-12 col-sm-reset inline">
                                        @Html.ValidationMessageFor(model => model.News_Description)
                                             </div>*@
                                                </div>

                                            </div>


                                        </div>

                                    </div>

                                </div>
                                
                                
                                <div class="space-6"></div>
                               
                                if (Model.Mode == "Add")
                                {
                                     
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-3 " for="gallery_thumb">Album thumb Image:</label>
                                  @*  <div class="col-xs-12 col-sm-9">


                                           <div class="clearfix">
                                            @if(Model.fil)
                                        {
                                                <div class="gallery_thumb_image">
                                                    <img class="padded" src="../assets/images/gallery/image-1.jpg" border="0" width="150" alt="image-1.jpg (67,665 bytes)">
                                                    <img src="@Url.Content(Model.fi)" width="150px" height="60px" style="margin-left:40px" />
                                                </div>
                                        }
                                            else
                                        {
                                                <label>No Image</label>
                                        }
                                        </div>*@
                                        @*<div class="col-sm-9">

                                            @Html.DropDownListFor(model => model, Model.ImagesList, "--No Image Selected--", new { @class = "col-xs-10 col-sm-5" })
                                            <div class="help-block col-xs-12 col-sm-reset inline">
                                                @Html.ValidationMessageFor(model => model.Category)
                                            </div>*@
                                        </div>
                                   
                                
                                    
                                }
                                else
                                {
                                     
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-3 " for="gallery_thumb">Edit thumb Image:</label>
                                    <div class="col-xs-12 col-sm-9">

                                        <div class="gallery_thumb_image">
                                            <img class="padded" src="#" border="0" id="galCatImage" width="150" alt="No Images">
                                        </div>
                                        @if (@Model.GalleryImageList != null)
                                        {

                                            if (@Model.GalleryImageList.Count() > 0)
                                            {
                                            <div class="clearfix">
                                                @Html.DropDownListFor(model => model.GalleryImageId, Model.GalleryImageList, new { @class = "col-xs-10 col-sm-5", @id = "drpGalleryImage" })
                                                @* <select class="input-xlarge" id="gallery_thumb" name="gallery_thumb">
                                                <option value="0">-No Image Selected-</option>
                                                <option>picture.jpg</option>
                                                <option>Vedio.jpg</option>

                                            </select>*@
                                            </div>
                                            }
                                            else{
                                                
                                               <div class="clearfix">

                                                <select class="input-xlarge" id="drpGalleryImage" name="gallery_thumb">
                                                    <option value="0">-Select Thumb Image-</option>
                                                </select>
                                            </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="clearfix">

                                                <select class="input-xlarge" id="drpGalleryImage" name="gallery_thumb">
                                                    <option value="0">-Select Thumb Image-</option>
                                                </select>
                                            </div>
                                        }
                                        @*  <div class="col-sm-9">

                                            @Html.DropDownListFor(model => model, Model.ImagesList, "--No Image Selected--", new { @class = "col-xs-10 col-sm-5" })
                                            <div class="help-block col-xs-12 col-sm-reset inline">
                                        @Html.ValidationMessageFor(model => model.Category)
                                             </div>
                                        </div>*@
                                    </div>
                                </div>
                                    
                                }
                                    
                                <h4 class="header blue lighter smaller clearfix">Publishing options </h4>
                                    
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Address">Status </label>
                                    <div class="col-sm-9">

                                        @Html.DropDownListFor(model => model.Status, Model.TypeList, new { @class = "col-xs-10 col-sm-5" })
                                        @*<div class="help-block col-xs-12 col-sm-reset inline">
                                        @Html.ValidationMessageFor(model => model.Status)
                                             </div>*@
                                    </div>

                                </div>
                                <div class="space-2"></div>
                                <hr />
                                <div class="btn-group pull-right padding-10">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->

                                    <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        Reset
                                    </button>
                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple ">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        Save</button>


                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>

                            }



                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>

    </div>
        </div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script>

    function DeleteGalleryCategoryInEdit(url) {


        //var url = $(this).attr('href');
        var id = $("#CategoryID").val();
        var path = "@Url.Action("CheckGalleryCategoryChildExist", "Gallery")";

        var request = $.ajax({

            url: path,
            data: { categoryId: id },
            success: function (result) {
                //alert(result);
                if (!result) {

                    bootbox.confirm("Are you sure to Delete Gallery Category ?", function (confresult) {

                        if (confresult) {

                            window.location.href = url;
                        }

                    })
                }
                else {

                    bootbox.alert("This Gallery Category Already Had Some Content .Please Delete Those Gallery.");
                }
            }


        });

    }


    $(document).ready(function () {
        $("#Title").focus();

        $("#saveandnew").click(function () {
            $("#IsCreatNew").val(true);

            $("#savebtn").click();
        });

        $("#savebtn2").click(function () {

            $("#savebtn").click();

        });

        var galleryCatImage = $("#drpGalleryImage option:selected").text();
        var fileacespath = $("#fileacesspath").val();
        // alert(fileacespath);
        var urlpath = fileacespath + '/Gallery/' + galleryCatImage;
        $("#galCatImage").attr("src", urlpath)


        $("#drpGalleryImage").change(function () {

            var selectedtext = $(this).find(':selected').text();
            var fileacespath = $("#fileacesspath").val();
            var urlpath = fileacespath + '/Gallery/' + selectedtext;
            $("#galCatImage").attr("src", urlpath);

        });

        $("#gallerymain").addClass("active open");
        $("#gallerysub").addClass("nav-show").css("display", "block");
        $("#gallerycatlist").addClass("active");
    });
    function resetFields() {
        $(".field-validation-error").empty();
        $("#Title").focus();

    }


</script>
