﻿@model SBL.DomainModel.Models.Diaries.DiaryModel


<div class="widget-body">
    <div class="widget-main no-padding-right no-padding-left">
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
            </div>
            @Html.HiddenFor(m => m.OTPID, new { @id = "hdnOTPID" })
            <div id="Ref" class="profile-info-row">
                <div class="profile-info-name" id="ValRef">Enter OTP Code</div>

                <div class="profile-info-value">
                    <span id="spnRef" class="">

                        @Html.TextBoxFor(m => m.EnterOTP, new { @id = "TxtEnterOTP", @style = "width:30%;" })
                    </span>
                </div>
            </div>




        </div>
    </div>

    <div class="widget-toolbar no-border" id="Button">

        <button type="button" class="btn btn-xs btn-primary bigger" style="margin-left: 1%" id="" onclick="return CheckPassword();">
            <i class="ace-icon fa fa-pencil-square-o"></i>
            Send 
        </button>

    </div>

</div>




@* </div>
         *@

<script>
    function CheckPassword() {
        var OTP = $("#TxtEnterOTP").val();
        var OTPId = $("#hdnOTPID").val();
        var Ptpe = '@Model.PaperEntryType'
        $.ajax({
            url: "/Notices/OnlineMemberQuestions/CheckOTPNo",
            type: 'POST',
            data: { OTP: OTP, OTPId: OTPId },
            success: function (data) {
                if (data.OTPQ == "NotExist") {
                    alert("You have Entered wrong OTP !!!");
                    $('#TxtEnterOTP').val("");
                }
                else if (data.OTPQ == "Exist") {
                    if (Ptpe != "Notice") {
                        SubmitQuestionById(QuestId)
                    }
                    else if (Ptpe == "Notice") { SubmitNoticeById(QuestId) }
                }
            }
        });
    }

</script>
