﻿@model   SBL.DomainModel.Models.DeptRegisterModel.DeptRegisterModel
@{
	int count = 0;
}

@if (Model.OfficeList.Count > 0)
{
	<table class="table table-striped table-bordered table-hover dataTable" id="sample-table-7" aria-describedby="sample-table-2_info">
		<thead>
			<tr role="row">
				<th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">S.No</th>
				<th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
				<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Offices</th>

			</tr>
		</thead>
		<tbody role="alert" aria-live="polite" aria-relevant="all">
			@foreach (var item in Model.OfficeList)
   {
	   count = count + 1;  
				<tr>
					<td class="center">
						@count
					</td>
					<td>
						@if (item.IsMapped == false)
	  {
							<input type="checkbox"  id="@item.OfficeId "  name ="chkcountry" value="@item.officename" class="chk"      />
	  }
	  else
	  {
							<input type="checkbox"  id="@item.OfficeId   "  name ="chkcountry" value="@item.officename"  checked="checked" disabled="disabled"     class="chk"     />
	  }

					</td>
					<td>

						@item.officename





						@*  <input type="hidden" name="DstCode" value="@item.DstCode" id="DstCode"  />
                            <input type="hidden" id="GetiD" name="GetiD" />
                            <input type ="hidden" name ="SCode" value ="@item.SCode" id="SCode" />
                            <input type="hidden" id="GetiD1" name="GetiD" />
                            <input type="hidden" id="Del" name="Del" />

                            <input type="hidden" id="CCode" name="CCode" value ="@item.CCode" />*@

					</td>

				</tr>
         
          
        
   }
		</tbody>
	</table>      
}
else
{
	<div class="row">
		<div class="col-xs-12">
			<div class="alert alert-info">

				<strong>No Records Found...!</strong><br />


			</div>
		</div>
	</div>
}

<script>
	jQuery(function ($) {
		  
		var oTable1 =
		$('#sample-table-7')
		.dataTable({
			bAutoWidth: true,
			"aoColumns": [
              { "bSortable": false },
              null,
              { "bSortable": false }
			]


		});

	});
</script>
