﻿@model   SBL.DomainModel.Models.DeptRegisterModel.DeptRegisterModel

<div id="divRightContainer" style="position: absolute; top: 0; height: 21px; width: 100%; display: block;">
	<div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
	<div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
		<i data-icon2="ace-icon fa fa-angle-double-right" onclick="resizeClick(0)" data-icon1="ace-icon fa fa-angle-double-left" class="ace-icon fa fa-angle-double-right roundicon"></i>
	</div>
</div>
@*<div id="resize-right" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 21px;">

	<div id="divRightContainer" style="position: absolute; top: 0; height: 21px; width: 100%; display: block;">
		<div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
		<div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
			<i data-icon2="ace-icon fa fa-angle-double-right" onclick="resizeClick(0)" data-icon1="ace-icon fa fa-angle-double-left" class="ace-icon fa fa-angle-double-right roundicon"></i>
		</div>
	</div>

	<div class="row-fluid" style="overflow: hidden">
		<div class="span12">
			<div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>
			<div>*@



<div class="checkbox label label-lg label-yellow arrowed-right" style="  padding: 3px;">
	<label>
		<input name="form-field-checkbox" type="checkbox" class="ace" id="chkALLOffice">
		<span class="lbl" style="  font-weight: bold;"> View All Mapped Office</span>
	</label>
</div>

<div class="btn btn-sm btn-info" style="margin-top: 9px; width: 100%;">

	<label class="col-sm-3" style="margin-top: 4px;">
		Department  : 
	</label>
	<div class="col-sm-9" style="text-align: left;">

		<label id="lblDeptname" style="margin-top: 4px;"></label>
	</div>
	<div style="display: none;">@Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.mDepartment,
					"deptId", "deptname", ViewBag.Deptid), "-- Select Department --", new
					{
						@id = "lstDeptListMap",
						@class = "col-xs-12",
						@disabled = "Disabled"
					})
	</div>
</div>
<div style="position: relative; top: -46px">
</div>


<div id="divOfficeList1"></div>
@*</div>

		</div>
	</div>
</div>*@


<script type="text/javascript">

	jQuery(function ($) {
		$('#divAction').hide();

		GetAllMappedOfficeListByDept($("#lstDeptListMap").val());
		$('#lblDeptname').html($("#lstDeptListMap option:selected").text())

	});

	$("#lstDeptListMap").change(function () {

		//alert('Show data from Mapped Table');
		GetAllMappedOfficeListByDept($("#lstDeptListMap").val());

	});

	function GetAllMappedOfficeListByDept(did) {

		$.ajaxSetup({ cache: false });

		var pathurl = '@Url.Action("GetAllMappedOfficeListByDeptId", "OnlineMemberQuestions")';
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: { DeptId: did },
			success: function (data) {
				$("#divOfficeList1").html(data);
				$("#loader-wrapper").hide();
			}
		});
	}

	$("#chkALLOffice").change(function () {
		 
		var isChek = $(this).is(":checked");

		if (isChek == true) {
			GetAllMappedOffice();
			$('#lblDeptname').html("All Mapped Office List");
		}
		else {
			GetAllMappedOfficeListByDept($("#lstDeptListMap").val());
			$('#lblDeptname').html($("#lstDeptListMap option:selected").text())
		}
	});

	function GetAllMappedOffice() {
		$("#loader-wrapper").show();
		$.ajaxSetup({ cache: false });

		var pathurl = '@Url.Action("GetAllMappedoffice2", "OnlineMemberQuestions")';
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {  },
			success: function (data) {
				$("#divOfficeList1").html(data);
				$("#loader-wrapper").hide();
			}
		});
	}


</script>

