﻿@model   SBL.DomainModel.Models.DeptRegisterModel.DeptRegisterModel
@{
	int count = 0;
}
<input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" /> <input type ="hidden" name ="Deppid" value ="@Model.DepartmentId" id="Deppid" />
@if (Model.OfficeList.Count > 0)
{
	<table class="table table-striped table-bordered table-hover dataTable" id="sample-table-8" aria-describedby="sample-table-2_info">
		<thead>
			<tr role="row">
				<th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">S.No</th>
				<th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
				<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Offices</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">IsNodalOffice</th>
			</tr>
		</thead>
		<tbody role="alert" aria-live="polite" aria-relevant="all"> 
			@foreach (var item in Model.OfficeList)
   {
	   count = count + 1;  
				<tr>
					<td class="center">
						@count
					</td>
					<td>
                  
						<input type="checkbox"  id="Chk_@item.OfficeId   "  onclick="AssignCheck(this.id)"  name ="chkcountrymap" value="@item.officename"       class="chk"     />
					</td>
					<td>

						@item.officename
						 
                         
						@*  <input type="hidden" name="DstCode" value="@item.DstCode" id="DstCode"  />
                            <input type="hidden" id="GetiD" name="GetiD" />
                            <input type ="hidden" name ="SCode" value ="@item.SCode" id="SCode" />
                            <input type="hidden" id="GetiD1" name="GetiD" />
                            <input type="hidden" id="Del" name="Del" />

                            <input type="hidden" id="CCode" name="CCode" value ="@item.CCode" />*@

					</td>
                    <td>
                      <table><tr><td> @if (@item.IsNodalOffice == true)
                        {
                           
                            
                              <span data-rel="tooltip" title="Nodal office" class="label label-warning">@item.IsNodalOffice</span>                                                                                	
                        } </td><td>  @if (@item.IsNodalOffice == true)
                        {
                                                                                                                               
                            <button data-rel="tooltip" title="Remove Nodal office" class="btn btn-sm btn-danger btn-white btn-round" onclick="Delete(@item.OfficeId )">
																	<i   class="ace-icon fa fa-times bigger-110 red2"></i>
																	Remove Nodal
																</button>
                        }</td></tr></table>
                       
                        						
                        </td>
				</tr>
         
          
        
   }
		</tbody>
	</table>      
}
else
{
	<div class="row">
		<div class="col-xs-12">
			<div class="alert alert-info">

				<strong>No Records Found...!</strong><br />


			</div>
		</div>
	</div>
}

<div id="DButton" style="display: none;">
   
       <button class="btn btn-primary" type="button" id="btnDone" title="Done" style="margin-left: 60%" onclick="Save()">
                                    <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                  Click To Create Nodal office
                                </button>
    
</div>
<script>
 
	jQuery(function ($) {

		var oTable2 =
		$('#sample-table-8')
		.dataTable({
			bAutoWidth: true,
			"aoColumns": [
              { "bSortable": false },
              null, null,
              { "bSortable": false }
			]


		});
	});

	

	function AssignCheck(id) {
	    if (document.getElementById(id).checked) {
	        var selectedId = document.getElementById("SelectedChkbxId").value;
	        if (selectedId == "") {
	            document.getElementById("SelectedChkbxId").value = id.substring(4);
	            $("#DButton").css("display", "block")
	          
	        }
	        else {
	            selectedId = selectedId + "," + id.substring(4);
	            document.getElementById("SelectedChkbxId").value = selectedId;
	            $("#DButton").css("display", "block")
	           
	        }

	        //alert(document.getElementById("SelectedChkbxId").value)
	    }
	    else {
	        var selectedId = document.getElementById("SelectedChkbxId").value;

	        var newvalue = selectedId.replace("," + id.substring(4), "");
	        if (newvalue.length == selectedId.length) {
	            newvalue = selectedId.replace(id.substring(4) + ",", "");
	         
	        }
	        if (newvalue.length == selectedId.length) {
	            newvalue = selectedId.replace(id.substring(4), "");
	           
	            $("#DButton").css("display", "none")
	        }
	    
	        document.getElementById("SelectedChkbxId").value = newvalue;

	        //alert(document.getElementById("SelectedChkbxId").value);
	    }
	 
	}
	function Save() {
	   
	    var Ids = $("#SelectedChkbxId").val()
	    if (Ids == "") {
	        alert("Please Select Offices !");
	    }
	    else {	       
  
	        $.getJSON("/Notices/OnlineMemberQuestions/AssignNodal",
               {
                   Starvals: Ids,
               },
               function (data) {
                   alert("Nodal Office created Successfully !");
                   window.location.href = "/Notices/OnlineMemberQuestions/Index";
                 
               });
	    }
	    return false;

	}

	function Delete(Id) {
	  
	    $.getJSON("/Notices/OnlineMemberQuestions/DeleteNodal",
               {
                   Starvals: Id,
               },
               function (data) {
                   alert("Nodal Office Removed Successfully !");
                   window.location.href = "/Notices/OnlineMemberQuestions/Index";
               });
	  
	}
</script>