﻿@model   SBL.DomainModel.ComplexModel.PanchayatConstituencyModal
@{
    int count = 0;
}

<div class="table-header" style ="width:450px;  margin-top: -9px;"> 
 @foreach (var item in @Model.DNamePanchayat)
 {
    <label>District Name :</label>   @item.DName
 }
    
</div>

<div id="floating-box1" style="position: relative;left: 460px;top:-44px">
            <div style="">

            <button style="position: relative; top: 0px; right: 0px;" type="submit" id="savebtn" class="btn btn-sm btn-info" onclick="GetId()">
               <span> >>></span></button>
        </div>
        <div style="margin-top: 6px;width:65px; overflow:hidden;">

            <button type="submit" id="reversbtn" class="btn btn-sm btn-info" onclick="DeletePanchayat()">
                 <span> <<<</span></button>
        </div>
</div>

<div class="pass-table" style="position: relative; width: 446px;top: -75px;">
    @if (Model != null)
    {
        if (Model.ShowData.Count > 0)
        {
        <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-7" aria-describedby="sample-table-2_info">
            <thead>
                <tr role="row">
                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">S.No</th>
                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">District >> Panchayat Names</th>

                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                @foreach (var item in @Model.ShowData)
                {
                    count = count + 1;  
                    <tr>
                        <td class="center">
                            @count
                        </td>
                        <td>
                            @if (item.IsMapped == false)
                            {
                                <input type="checkbox"  id="@item.PanchayatCode "  name ="chkcountry" value="@item.PanchayatName" class="chk"      />
                            }
                            else
                            {
                                <input type="checkbox"  id="@item.PanchayatCode   "  name ="chkcountry" value="@item.PanchayatName"  checked="checked" disabled="disabled"     class="chk"     />
                            }</td>
                        <td>

                            @item.PanchayatName


                            @* <a href="#">@item.PanchayatName</a>*@


                            <input type="hidden" name="DstCode" value="@item.DstCode" id="DstCode"  />
                            <input type="hidden" id="GetiD" name="GetiD" />
                            <input type ="hidden" name ="SCode" value ="@item.SCode" id="SCode" />
                            <input type="hidden" id="GetiD1" name="GetiD" />
                            <input type="hidden" id="Del" name="Del" />

                            <input type="hidden" id="CCode" name="CCode" value ="@item.CCode" />

                        </td>

                    </tr>
         
          
        
                }
            </tbody>
        </table>      
        }
        else
        {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">

                    <strong>No Records Found...!</strong><br />


                </div>
            </div>
        </div>
        }
    }

</div>






<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script type="text/javascript">

	jQuery(function ($) {
		$('#divAction').hide();
        var oTable1 =
        $('#sample-table-7')
        //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
              { "bSortable": false },
              null,
              { "bSortable": false }
            ]

			 
        });

        var $floatingbox = $('#floating-box1');

        if ($('body').length > 0) {

        	var bodyY = parseInt($('body').offset().top) - 10;
        	bodyY = 100;
        	var originalX = $floatingbox.css('margin-left');

        	$(window).scroll(function () {

        		var scrollY = $(window).scrollTop();
        		var isfixed = $floatingbox.css('position') == 'fixed';

        		if ($floatingbox.length > 0) {

        			if (scrollY > bodyY && !isfixed) {
        				$floatingbox.stop().css({
        					position: 'fixed',
        					left: '50.5%',
        					top: 2
        					// marginLeft: 0
        				});
        			} else if (scrollY < bodyY && isfixed) {
        				$floatingbox.css({
        					position: 'relative',
        					left: '475px',
        					top: '-46px'
        					// marginLeft: originalX
        				});
        			}
        		}
        	});
        }

    })

    //$("#savebtn").click(function () {

    //    var slvals1 = []
    //    $('input:checkbox[name=chkcountry]:checked').each(function () {
    //        slvals1.push($(this).attr("id"))



    //    })


    //    if (slvals1 == 0) {
    //        alert('Please select District Panchayat Name')

    //    }





    //});

    //$("#reversbtn").click(function () {

    //    var slvals2 = []
    //    $('input:checkbox[name=chkcountry1]:checked').each(function () {
    //        slvals2.push($(this).attr("id"))



    //    })


    //    if (slvals2 == 0) {
    //        alert('Please select Consistuency Name')

    //    }




    //});


    function GetId() {
         
    	$("#loader-wrapper").show();

        var slvals = []
        var slvals1 = []
        $('input:checkbox[name=chkcountry]:checked').each(function () {
        	slvals.push($(this).val())
 
        })
        var Res1 = slvals;

        $('input:checkbox[name=chkcountry]:checked').each(function () {
            slvals1.push($(this).attr("id"))



        })



        document.getElementById("GetiD").value = slvals1;
        var selectedId = document.getElementById("GetiD").value;

        document.getElementById("GetiD").value = selectedId;

        selectedId = slvals1;
        selectedId1 = slvals;
        document.getElementById("GetiD1").value = selectedId1;
        var Res = document.getElementById("GetiD").value;
        var Res1 = document.getElementById("GetiD1").value;
        var CCode = document.getElementById("CCode").value;
        if (Res1 != null && Res1 != "") {

            var urlpath = '@Url.Action("GetDisricts2", "OnlineMemberQuestions")'

            $.ajax({
                url: urlpath,
                data: {

                    Id: Res,
                    DstCode: $("#DstCode").val(),
                    SCode: 2,
                    Name: Res1,
                    CCode: CCode

                },
                cache: false,
                type: 'GET',
                success: function (data) {
                    $("#RightSidebar").html("");
                    $("#RightSidebar").html(data);

                    GetActionView1();
                    $("#loader-wrapper").hide();
                }
            });
        }
        else {
            alert('Please select District Consistuency Name');
        }

    }


    function DeletePanchayat() {

    	$("#loader-wrapper").show();
        var DelPan = []

        $('input:checkbox[name=chkcountry2]:checked').each(function () {
            DelPan.push($(this).attr("id"))
        })


        document.getElementById("Del").value = DelPan;
        var Res = document.getElementById("Del").value;
        if (Res != null && Res != "") {

            var urlpath = '@Url.Action("DeletePanchayat", "OnlineMemberQuestions")'


            $.ajax({


                url: urlpath,
                cache: false,
                type: 'GET',
                data: {
                    Id: Res
                },
                success: function (data) {
                    $("#RightSidebar").html("");
                    $("#RightSidebar").html(data);
                    GetActionView1();
                    $("#loader-wrapper").hide();
                }
            });


        }

        else {
            alert('Please select Consistuency Name')
        }

    }




</script>

