﻿@model   SBL.DomainModel.Models.DeptRegisterModel.DeptRegisterModel
 
<style>
	#floating-box {
   
   
  position: absolute;
  z-index: 1;
}

</style>

<div id="divLeftContainer" style="position: absolute; top: 0; height: 20px; width: 100%; display: block;">
		<div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
		<div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
			<i onclick="resizeClick(1)" class="ace-icon fa fa-angle-double-left roundicon"></i>
		</div>
	</div>
 



			<div class="btn btn-sm btn-info" style="width: 88%;  margin-top: -9px;">

				<label class="col-sm-3" style="margin-top: 4px;">
					Department  : 
				</label>
				<div class="col-sm-9">@Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.mDepartment,
					"deptId", "deptname", 0), "-- Select Department --", new
					{
						@id = "lstDeptList",
						@class = "col-xs-12"
					})
				</div>
			</div>

			<div id="floating-box" style="position: relative; left: 475px; top: -46px; width: 15%;">
				<div style="">

					<button style="position: relative; top: 0px; right: 0px; border-radius: 0px;" type="submit" id="savebtn" class="" onclick="GetId()" title="click to Map">
						<span style="font-weight: bold; font-size: 15px;">>>></span></button>
				</div>
				<div style="margin-top: 6px; width: 65px; overflow: hidden;">

					<button style="position: relative; top: 0px; right: 0px; border-radius: 0px;" type="submit" id="reversbtn" class="" onclick="DeletePanchayat()" title="click to Unmap">
						<span style="font-weight: bold; font-size: 15px;"><<<</span></button>
				</div>
			</div>

			<div id="divOfficeList" style="margin-top: -64px; width: 88%;">
				<br />
				<br />
				<br />
				<br />
			</div>
		 
	 
<input type="hidden" id="GetiD" name="GetiD" />

<input type="hidden" id="GetiD1" name="GetiD" />
<input type="hidden" id="Del" name="Del" />




@*<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@

<script type="text/javascript">

	jQuery(function ($) {

		var scrollpos = $('#spnScrollPosition').html();


		if (scrollpos == 1) {
			resizeClick(0);
		}
		else if (scrollpos == 2) {
			resizeClick(1);
		}



		$('#divAction').hide();
		//this is the floating content
		var $floatingbox = $('#floating-box');

		if ($('body').length > 0) {

			var bodyY = parseInt($('body').offset().top) - 10;
			bodyY = 100;
			var originalX = $floatingbox.css('margin-left');

			$(window).scroll(function () {

				var scrollY = $(window).scrollTop();
				var isfixed = $floatingbox.css('position') == 'fixed';

				if ($floatingbox.length > 0) {

					if (scrollY > bodyY && !isfixed) {
						$floatingbox.stop().css({
							position: 'fixed',
							left: '50.5%',
							top: 2
							// marginLeft: 0
						});
					} else if (scrollY < bodyY && isfixed) {
						$floatingbox.css({
							position: 'relative',
							left: '475px',
							top: '-46px'
							// marginLeft: originalX
						});
					}
				}
			});
		}

	});

	$("#lstDeptList").change(function () {

		GetAllOfficeListByDept($("#lstDeptList").val());



	});

	function GetAllOfficeListByDept(did) {
		$("#loader-wrapper").show();
		$.ajaxSetup({ cache: false });

		var pathurl = '@Url.Action("GetAllOfficeListByDeptId", "OnlineMemberQuestions")';
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: { DeptId: did },
			success: function (data) {
				$("#divOfficeList").html(data);

			}
		});



		$.ajaxSetup({ cache: false });

		var pathurl1 = '@Url.Action("GetAllDepartmentofficeMapped", "OnlineMemberQuestions")';
		$.ajax({
			url: pathurl1,
			type: 'GET',
			data: { DeptId: did },
			success: function (data) {

				$("#RightSidebar").html(data);
				$("#loader-wrapper").hide();



			}
		});

	}


	function GetId() {

		$("#loader-wrapper").show();

		var slvals = []
		var slvals1 = []
		$('input:checkbox[name=chkcountry]:checked').each(function () {
			slvals.push($(this).val())

		})
		var Res1 = slvals;

		$('input:checkbox[name=chkcountry]:checked').each(function () {
			slvals1.push($(this).attr("id"))



		})



		document.getElementById("GetiD").value = slvals1;
		var selectedId = document.getElementById("GetiD").value;

		document.getElementById("GetiD").value = selectedId;

		selectedId = slvals1;
		selectedId1 = slvals;
		document.getElementById("GetiD1").value = selectedId1;
		var Res = document.getElementById("GetiD").value;
		var Res1 = document.getElementById("GetiD1").value;
		//var CCode = document.getElementById("CCode").value;
		if (Res1 != null && Res1 != "") {

			var urlpath = '@Url.Action("Getoffice2", "OnlineMemberQuestions")'

			$.ajax({
				url: urlpath,
				data: {

					Id: Res,
					Deptid: $("#lstDeptList").val()

				},
				cache: false,
				type: 'GET',
				success: function (data) {
					$("#RightSidebar").html("");
					$("#RightSidebar").html(data);

					GetAllOfficeListByDept($("#lstDeptList").val());
					$("#loader-wrapper").hide();
				}
			});
		}
		else {
			alert('Please select District Consistuency Name');
		}

	}


	function DeletePanchayat() {

		$("#loader-wrapper").show();
		var DelPan = []

		$('input:checkbox[name=chkcountrymap]:checked').each(function () {
			DelPan.push($(this).attr("id"))
		})


		document.getElementById("Del").value = DelPan;
		var Res = document.getElementById("Del").value;
		if (Res != null && Res != "") {

			var urlpath = '@Url.Action("DeleteOffice", "OnlineMemberQuestions")'


			$.ajax({


				url: urlpath,
				cache: false,
				type: 'GET',
				data: {
					Id: Res,
					Deptid: $("#lstDeptList").val()
				},
				success: function (data) {
					$("#RightSidebar").html("");
					$("#RightSidebar").html(data);
					GetAllOfficeListByDept($("#lstDeptList").val());
					$("#loader-wrapper").hide();
				}
			});


		}

		else {
			alert('Please select Consistuency Name')
		}

	}




</script>

