﻿@model SBL.DomainModel.ComplexModel.RecipientGroupMemberViewModel






@using (Html.BeginForm("SaveImportedData", "OnlineMemberQuestions", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "frmMember2" }))
{
	<div class="col-sm-5" style="width: 98%;">
		<div class="widget-box">
			<div class="widget-header">

				<h4 class="widget-title">Import From Excel</h4>


			</div>
			<div class="widget-body">

				<span class="label label-xlg label-purple arrowed arrowed-right" style="width: 80%; margin-top: 9px; margin-bottom: 9px; margin-left: 10%;">Group Name :<b> @ViewBag.GroupName </b></span>

				<div class="alert alert-warning">

					<strong>Download !</strong>

					Sample MS Excel File for Entering Group Member Details.
				<a href="~/assets/ContactGroups.zip">
					<img src="~/Images/Common/excel.png" height="40" width="40" style="float: right; position: absolute; margin-top: -9px;" />
				</a>
					<br>
				</div>

				<div class="widget-main no-padding-right no-padding-left">
					<div class="profile-user-info profile-user-info-striped">
						<div class="profile-info-row">
							@Html.HiddenFor(m => m.GroupId, new { @id = "hdnGroupId" })

						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">Upload Excel:</div>
							<div class="profile-info-value">
								@*<div class="input-group col-xs-12">
									<input type="file" accept=".xls,.xlsx" name="file" />
								</div>*@
								<span class="btn btn-success fileinput-button">
									<i class="glyphicon glyphicon-plus"></i>
									<span>Choose file</span>
									<input style="font-size: 15px;" id="fileupload" accept=".xls,.xlsx" type="file" name="fileupload">
								</span>
								<br />
								<br />

								<div style="width: 100%;" id="fileuploadcontant">
									<div style="width: 100%;">
										<span id="removeUpload" onclick="removefileupload()" class="glyphicon glyphicon-remove" style="color: red; float: right;"></span>
										<div id="file_name1" class="file_name1"></div>
										<div class="file_size1"></div>
									</div>
									<div style="width: 100%;">
										<div class="show_hide">
											<div class="progress1" style="height: 10px; width: 100%">
												<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" style="width: 0%;">
													<span class="sr-only">0% complete</span>
												</div>

											</div>
										</div>
									</div>
								</div>

								<div class="help-block col-xs-6 col-sm-reset inline">
								</div>

							</div>
						</div>


					</div>
				</div>
				<div class="wizard-actions">
					<div style="margin-bottom: 40px;">
						<div class="form-inline">
							<button type="button" id="btnSave" class="btn btn-primary" value="Save">
								<i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>

								<span>Import From Excel</span>

							</button>
							<button type="button" class="btn btn-danger" name="Reset" id="btnReset" value="Reset">
								<i class="ace-icon fa fa-refresh align-top bigger-140"></i>
								Reset
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
}


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dlgErrorDetails" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content" style="width: 100%; margin-left: 30px;">
			<div class="modal-header" style="height: 65px;">
				<h3>Error Details of Uploaded Excel </h3>
				<button type="button" class="close" data-dismiss="modal">
				</button>
			</div>
			<div id="divErrorDetails" class="modal-body" style="height: 400px; overflow-x: hidden; overflow-y: scroll;">
			</div>
			<div class="modal-footer" style="margin-top: 0%; text-align: right;">

				<button type="button" class="btn btn-app btn-danger" data-dismiss="modal" style="width: 9%; padding: 0px; font-size: 15px;">
					Close
				</button>
			</div>

		</div>
	</div>
</div>

@Html.Hidden("ErrorList")

<script>

    $(document).ready(function () {
        
        $(':file').change(function () {
            for (var i = 0; i < this.files.length; ++i) {
                var name = this.files.item(i).name;
                var fileExtension = ['doc', 'docx','xls'];
                var Extension = name.split('.').pop().toLowerCase();
                if ($.inArray(Extension, fileExtension) == -1) {
                    alert(name + " is not valid format. Only 'xls','doc','docx' format is allowed.");
                    $(':file').val("");
                    return false;
                }
            }
        });
    })

	$("#btnSave").click(function () {

		$("#loader-wrapper").show();

		var model = $("#frmMember2").serialize();

		var Url = '@Url.Action("SaveImportedData", "OnlineMemberQuestions", new { Area = "Notices" })';
		$.ajax({
			url: Url,
			type: 'POST',
			data: model,
			success: function (data) {

				if (data) {
					debugger;
					$("#loader-wrapper").hide();
					if (data == "Data Imported Successfully") {
						var dlg = bootbox.alert(data + "Please Referesh the GroupMember List", function (e) {

							$(dlg).modal('hide');
						});
					}
					else {
						$("#divErrorDetails").html(data);
						$("#dlgErrorDetails").modal('show');
						//ShowExcelError(data);
					}
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {

				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});
			},
			complete: function () {

				removefileupload();

			}
		});



	});


	@*function ShowExcelError(model) {
		debugger;
		//var model = $(model.DataTableDt).serialize();

		$("#ErrorList").val(model.ErrorList);

		var Url = '@Url.Action("ShowError", "OnlineMemberQuestions", new { Area = "Notices" })';
		$.ajax({
			url: Url,
			type: 'GET',
			data: model,
			success: function (data) {
						 

					

				 
			}

		});
	}*@
</script>

