﻿@model SBL.DomainModel.Models.Diaries.MlaDiary
@using SBL.eLegistrator.HouseController.Web.Utility
@using SBL.eLegistrator.HouseController.Web.Helpers


@*<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
<script src="~/Scripts/jquery.alerts.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>*@
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@*<script src="~/Scripts/jquery.timepicker1.js"></script>
<link rel="stylesheet" href="/assets/css/datepicker.css" />
<link href="~/assets/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/assets/js/date-time/bootstrap-datetimepicker.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-timepicker.min.js"></script>*@
<script src="~/Scripts/datepicker/jquery.ui.datepicker.js"></script>
<script src="~/Scripts/jquery-1.7.2.min.js"></script>
@*<script src="~/Scripts/jquery-1.7.min.js"></script>*@
<script src="~/Content/ScriptsUp/jquery.ui.widget.js"></script>
<script src="~/Content/ScriptsUp/jquery.fileupload.js"></script>


<style>
    .DdlClass
    {
        width: 87%;
    }
</style>

@{		 	
    var FileSettings = (SBL.DomainModel.Models.SiteSetting.SiteSettings)Helper.ExecuteService("SiteSetting", "GetSecureFileSettingLocation", null);
}



@using (Html.BeginForm("SaveUpdateMlaDiary", "OnlineMemberQuestions", FormMethod.Post, new { @id = "formDiary" }))
{
    @Html.AntiForgeryToken()
    <div class="widget-box sblFullScreen">

        <div class="widget-header widget-header-flat">
            @if (Model.PaperEntryType == "NewEntry")
            {
                <h4 class="widget-title">Enter Mla Diary Detail</h4>
            }
            else if (Model.PaperEntryType == "EditEntry")
            { 
                <h4 class="widget-title">Update Mla Diary Details</h4>
            }
            <div class="widget-toolbar">


                <a href="#" data-action="fullscreen" class="red">
                    <i class="ace-icon fa fa-expand bigger-150"></i>
                </a>

            </div>
        </div>
        <div class="widget-body">

            <div class="widget-main no-padding-right no-padding-left">
                <div class="profile-user-info profile-user-info-striped">

                    <div id="divdoc" class="profile-info-row">
                        <div class="profile-info-name">Document Type</div>

                        <div class="profile-info-value">
                            <span id="spnEventId" class="">
                                @Html.DropDownListFor(m => m.DocmentType, new SelectList(Model.DocumentTypelist, "DocmentType", "DocmentTypeName"), new { @id = "DdlDoctype", @tabindex = "1", @class = "DdlClass" })
                                @Html.ValidationMessageFor(m => m.DocmentType, "", new { style = "color: red;" })
                            </span>
                        </div>
                    </div>

                    <div id="divsubject" class="profile-info-row">

                        <div style="vertical-align: top" class="profile-info-name">Subject</div>

                        <div class="profile-info-value">
                            <span id="spnTitle" class="">
                                @Html.TextAreaFor(m => m.Subject, new { @id = "TxtSubject", @tabindex = "4", @class = "DdlClass" })


                            </span>
                        </div>

                    </div>

                    <div id="divFinancial" class="profile-info-row">
                        <div class="profile-info-name">Financial Year</div>

                        <div class="profile-info-value">
                            @*@Html.DropDownListFor(m => m.distcd, new SelectList(Model.Districtist, "distcd", "DistrictName"), new { @id = "DdDistrict", @tabindex = "2", @class = "DdlClass", @onchange = "getOffice_DistrictWise()" })*@
  @Html.DropDownListFor(m => m.FinancialYear, new SelectList(Model.FinanCialYearList, "Value", "Text"), new { id = "ddFinancialYear", @class = "DdlClass"})
                        </div>
                    </div>

                    <div id="divGrnatAmount" class="profile-info-row">
                        <div class="profile-info-name">Amount</div>

                        <div class="profile-info-value">
                            @Html.TextBoxFor(m => m.SanctionAmount, new { @id = "TxtGrantAmount", @tabindex = "4", @class = "DdlClass", @type = "number",@maxlength="6" })
                        </div>
                    </div>
                    <div id="divTo" class="profile-info-row">
                        <div class="profile-info-name">To</div>

                        <div class="profile-info-value">

                            @Html.TextAreaFor(m => m.DocumentTo, new { @id = "TxtDocumentTo", @tabindex = "4", @class = "DdlClass" })
                        </div>
                    </div>

                    <div id="divMin" class="profile-info-row">
                        <div class="profile-info-name">Minister</div>

                        <div class="profile-info-value">
                            <span id="spnMinisterId" class="">
                                @Html.DropDownListFor(m => m.MinisterId, new SelectList(Model.memMinList, "MinistryID", "MinisterMinistryName"), new { @id = "DdlEntryMinister", @tabindex = "2", @class = "DdlClass" }) @*@onchange = "MinistryChanged()"*@
                                @Html.ValidationMessageFor(m => m.MinisterId, "", new { style = "color: red;" })
                            </span>
                        </div>
                    </div>
                    <div id="divdept" class="profile-info-row">
                        <div class="profile-info-name">Department</div>

                        <div class="profile-info-value">
                            @Html.DropDownListFor(m => m.DeptId, new SelectList(Model.DeptList, "deptId", "deptname"), new { @id = "DdlDept", @tabindex = "2", @class = "DdlClass" })   @*  @onchange = "getOfficeDeptWise()" *@
                            @Html.ValidationMessageFor(m => m.DeptId, "", new { style = "color: red;" })
                        </div>
                    </div>
                    <div id="divdst" class="profile-info-row">
                        <div class="profile-info-name">District</div>

                        <div class="profile-info-value">
                            @Html.DropDownListFor(m => m.distcd, new SelectList(Model.Districtist, "distcd", "DistrictName"), new { @id = "DdDistrict", @tabindex = "2", @class = "DdlClass", @onchange = "getOffice_DistrictWise()" })


                            @Html.HiddenFor(m => m.OfficeId)
                        </div>
                    </div>
                    <div id="divofc" class="profile-info-row">
                        <div class="profile-info-name">Office</div>

                        <div class="profile-info-value">
                            <select id="DdlOffice" name="lstOffice" class="DdlClass">
                                <option value="0">Select Office</option>
                            </select>
                            @*  @Html.DropDownListFor(m => m.OfficeId, new SelectList(Model.OfficeList, "OfficeId", "officename"), new { @id = "DdlOffice", @tabindex = "2", @class = "DdlClass" }) @*@
                            @* @Html.ValidationMessageFor(m => m.OfficeId, "", new { style = "color: red;" })*@
                            @Html.HiddenFor(m => m.OfficeId)
                        </div>
                    </div>
                    <div id="div1" class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Applicant Name</div>

                        <div class="profile-info-value">

                            @Html.TextBoxFor(m => m.ApplicantName, new { @id = "TxtApplicantName", @tabindex = "4", @class = "DdlClass" })
                        </div>
                    </div>
                    <div id="div2" class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Applicant Address</div>

                        <div class="profile-info-value">
                            @Html.TextAreaFor(m => m.ApplicantAddress, new { @id = "TxtApplicantAddress", @tabindex = "4", @class = "DdlClass" })
                        </div>
                    </div>
                    <div id="div3" class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Applicant Mobile</div>

                        <div class="profile-info-value">
                            @Html.TextBoxFor(m => m.ApplicantMobile, new { @id = "TxtApplicantMobile", @tabindex = "4", @class = "DdlClass" })
                        </div>
                    </div>
                    <div id="div4" class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Present Place</div>

                        <div class="profile-info-value">
                            @Html.TextAreaFor(m => m.PresentPlace, new { @id = "TxtPresentAddress", @tabindex = "4", @class = "DdlClass" })
                        </div>
                    </div>
                    <div id="div5" class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Proposed Place</div>

                        <div class="profile-info-value">
                            @Html.TextAreaFor(m => m.ProposedPlace, new { @id = "TxtProposedPlace", @tabindex = "4", @class = "DdlClass" })
                        </div>
                    </div>


                    @*  <div id="divamount" class="profile-info-row">
                            <div style="vertical-align: top" class="profile-info-name">Sanction Amount</div>

                            <div class="profile-info-value">
                                <span id="spnSanctionAmount" class="">
                                    @Html.TextAreaFor(m => m.SanctionAmount, new { @id = "TxtSanctionAmount", @tabindex = "4", @class = "DdlClass" })


                                </span>
                            </div>
                        </div>*@
                    <div id="divitem" class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Item Description </div>

                        <div class="profile-info-value">
                            <div style="width: 20%; float: left">
                                @if (Model.PaperEntryType == "EditEntry")
                                {
                                    <div style="text-align: right;"><strong><a href="@Url.Action("GenerateOfficeCopyDirayPdf", "OnlineMemberQuestions", new { DiaryId = Model.mlaDiaryId })" target="_blank">Generate Office Pdf</a></strong></div>
                                    <div style="text-align: right;"><strong><a href="@Url.Action("GenerateDirayPdf", "OnlineMemberQuestions", new { DiaryId = Model.mlaDiaryId })" target="_blank">Generate Dept. Pdf</a></strong></div>
                                }
                            </div>
                            <div style="width: 100%; float: left">
                                @Html.EditorFor(m => m.ItemDescription, new { @id = "TxtItemDescription" })
                            </div>

                        </div>

                    </div>

                    <div id="divcc" class="profile-info-row">
                        <div class="profile-info-name">CC</div>

                        <div class="profile-info-value">

                            @Html.TextAreaFor(m => m.DocumentCC, new { @id = "TxtDocumentCC", @tabindex = "4", @class = "DdlClass" })
                        </div>
                    </div>
                    <div id="divrec" class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Recieved From </div>

                        <div class="profile-info-value">

                            @Html.TextAreaFor(m => m.RecieveFrom, new { @id = "TxtRecieveFrom", @tabindex = "4", @class = "DdlClass" })
                        </div>
                    </div>
                    <div id="divlang" class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Diary Language</div>

                        <div class="profile-info-value">
                            <span id="spnLang" class="">
                                @Html.DropDownListFor(m => m.DiaryLanguage, new SelectList(
            new List<SelectListItem>
            { 
                new SelectListItem { Selected = false, Text = "English", Value ="1"},
                new SelectListItem { Selected = false, Text = "Hindi", Value = "2"},             
            }, "Value", "Text"), new { @tabindex = "5", @class = "DdlClass", @id = "DdlLang" })

                            </span>
                        </div>
                    </div>
                    <div id="divendate" class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Enclosure Date</div>

                        <div class="profile-info-value">
                            @Html.TextBoxFor(m => m.EnclosureDateForUse, new { @id = "TxtEnclosureTakenDate", @tabindex = "4", @class = "DdlClass" })
                            @Html.HiddenFor(m => m.EnclosureDate, new { id = "hdEnclosureDate" })
                        </div>
                    </div>

                    <div id="divEnfile" class="profile-info-row">
                        <div class="profile-info-name" style="vertical-align: top;">Enclosure File</div>
                        <div class="profile-info-value">
                            <div class="input-group col-xs-12">
                                <label class="col-xs-12">
                                    <span class="btn btn-success fileinput-button">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>Choose file</span>
                                        <input style="font-size: 15px;" id="fileuploadEnclosure" type="file" name="fileuploadEnclosure">
                                    </span>
                                    @*  <br />*@
                                    <div style="width: 100%;" id="fileuploadcontantEnclosure">
                                        <div style="width: 100%;">
                                            <span id="removeUploadEnclosure" onclick="removefileuploadEnclosure()" class="glyphicon glyphicon-remove" style="color: red; float: right;"></span>
                                            <div id="file_nameEn" class="file_nameEn"></div>
                                            <div class="file_sizeEn"></div>
                                        </div>
                                        <div style="width: 100%;">
                                            <div class="show_hide">
                                                <div class="progressEnclosure" style="height: 10px; width: 100%">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" style="width: 0%;">
                                                        <span class="sr-only">0% complete</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @if (Model.EnclosureFile != null)
                                    {
                                        <a href="@FileSettings.SettingValue@Model.EnclosureFile" target="_blank" id="enclourelink">Attached Enclosure (File)</a>
                                        <span id="EnclosureFiletxt" style="display: none;">Yes</span>
                                   
                                    }
                                    else
                                    {
                                        <span id="EnclosureFiletxt" style="display: none;">No</span>
                                    
                                    }
                                    @Html.HiddenFor(m => m.EnclosureFile)
                                </label>
                            </div>



                        </div>
                    </div>




                    <div id="divfordate" class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Forward Date</div>

                        <div class="profile-info-value">

                            @Html.TextBoxFor(m => m.ForwardDateForUse, new { @id = "TxtForwardDate", @tabindex = "4", @class = "DdlClass" })

                            @Html.TextBoxFor(m => m.ForwardDateForUse, new { id = "hdnFrwdDateForShow", @tabindex = "4", @class = "DdlClass", @readonly = "true" })

                            @Html.HiddenFor(m => m.ForwardDate, new { id = "hdforwarddate" })


                        </div>
                    </div>

                    <div id="divactkndate" class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Action Taken Date</div>

                        <div class="profile-info-value">
                            @Html.TextBoxFor(m => m.ActiontakenDateForUse, new { @id = "TxtActionTakenDate", @tabindex = "8", @class = "DdlClass" })
                            @Html.HiddenFor(m => m.ActiontakenDate, new { id = "hdActiontakenDate" })
                        </div>
                    </div>

                    <div id="divActiontkn" class="profile-info-row">
                        <div class="profile-info-name">Action Taken</div>

                        <div class="profile-info-value">
                            @Html.DropDownListFor(m => m.ActionCode, new SelectList(Model.ActionTypeList, "ActionCode", "ActionName"), new { @id = "DdlAction", @tabindex = "2", @class = "DdlClass" }) @*@onchange = "MinistryChanged()"*@
                            @Html.ValidationMessageFor(m => m.ActionCode, "", new { style = "color: red;" })
                        </div>
                    </div>

                    <div id="divAcfile" class="profile-info-row">
                        <div class="profile-info-name" style="vertical-align: top;">Action Taken File</div>
                        <div class="profile-info-value">
                            <div class="input-group col-xs-12">
                                <label class="col-xs-12">
                                    <span class="btn btn-success fileinput-button">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>Choose file</span>
                                        <input style="font-size: 15px;" id="fileupload1" type="file" name="fileupload1">
                                    </span>
                                    <br />


                                    <div style="width: 100%;" id="fileuploadcontant1">
                                        <div style="width: 100%;">
                                            <span id="removeUpload1" onclick="removefileupload1()" class="glyphicon glyphicon-remove" style="color: red; float: right;"></span>
                                            <div id="file_name1" class="file_name1"></div>
                                            <div class="file_size1"></div>
                                        </div>
                                        <div style="width: 100%;">
                                            <div class="show_hide">
                                                <div class="progress12" style="height: 10px; width: 100%">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" style="width: 0%;">
                                                        <span class="sr-only">0% complete</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @if (Model.ActiontakenFile != null)
                                    {                        
                                        <a href="@FileSettings.SettingValue@Model.ActiontakenFile" target="_blank" id="actionlink">Attached (File)</a>    
                                     
                                        <span id="Actionfile" style="display: none;">Yes</span>
                                   
                    
                                    }
                                    else
                                    {
                                        <span id="Actionfile" style="display: none;">No</span>
                                    }
                                    @Html.HiddenFor(m => m.ActiontakenFile)
                                </label>
                            </div>



                        </div>
                    </div>

                    <div id="divRemrks" class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Remarks </div>

                        <div class="profile-info-value">

                            @Html.EditorFor(m => m.Remarks, new { @id = "TxtRemarks", @tabindex = "4" })
                        </div>
                    </div>

                    <div id="divletterdis" class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Letter Descriptions </div>

                        <div class="profile-info-value">
                            <div style="width: 20%; float: left">
                                @if (Model.PaperEntryType == "EditEntry")
                                {
                                    <div style="text-align: right;"><strong><a href="@Url.Action("GenerateLetterCopyDairyPdf", "OnlineMemberQuestions", new { DiaryId = Model.mlaDiaryId })" target="_blank">Generate Letter Pdf</a></strong></div>
                                }
                            </div>
                            <div style="width: 100%; float: left">
                                @Html.EditorFor(m => m.letterDescription, new { @id = "TxtletterDescription", @tabindex = "15" })
                            </div>

                        </div>
                    </div>







                    <div class="profile-info-row">
                        <div class="profile-info-name"></div>
                        <div class="profile-info-value">
                            <button class="btn btn-primary" type="button" id="btnSave" title="@Resources.Diaries.Save" tabindex="7" onclick="Save()" >
                                <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                @Resources.Diaries.Save
                            </button>
                            @* @if (Model.PaperEntryType == "UpdateEntry")
                        { 
                            <button class="btn btn-primary" type="button" id="btnSave" title="@Resources.Diaries.Save" tabindex="7" onclick="Save()" >
                                <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                Update
                            </button>
                        }*@
                        </div>
                        @Html.HiddenFor(m => m.BtnCaption)
                        @Html.HiddenFor(m => m.PaperEntryType)
                        @Html.HiddenFor(m => m.IsFile)
                        @Html.HiddenFor(m => m.IsForwardFile)

                        @Html.HiddenFor(m => m.IsEnclosureFile)
                        @Html.HiddenFor(m => m.DeptId, new { id = "spdeptid" })
                        @Html.HiddenFor(m => m.OfficeId, new { id = "spofcid" })
                        @Html.HiddenFor(m => m.distcd, new { id = "spdistcd" })
                        @Html.HiddenFor(m => m.RecordNumber)
                        @Html.HiddenFor(m => m.mlaDiaryId)

                    </div>

                </div>

            </div>
        </div>
    </div>

    <div>
        <br />
    </div>
}

<script>
    // 
    $(document).ready(function () {
        $('#resize-right').width(50 + '%');
        $('#resize-left').width(50 + '%')
        $('#resize-right').show();
        $('#resize-left').show();
        //$('#TxtForwardDate').datepicker({
        //    autoclose: true,
        //    todayHighlight: true,
        //    format: "dd/mm/yyyy",
        //    minDate: 0,
        //    maxDate: 0

        //    //onSelect: function (selected) {
        //    //    $("#TxtForwardDate").datepicker("option", "minDate", selected)
        //    //}

        //});
        $.noConflict();
        $("#TxtForwardDate").datepicker({
            autoclose: true,
            todayHighlight: true,
            dateFormat: 'dd/mm/yy',
            // changeMonth: true,
            // changeYear: true,
            //  minDate: 0,
            // maxdate: 0,
            //onSelect: function (selected) {

            //}
        });
        //$('#TxtForwardDate').datepicker('setDate', new Date());

        $('#TxtActionTakenDate').datepicker({
            autoclose: true,
            todayHighlight: true,
            dateFormat: 'dd/mm/yy',
            // minDate: 0,
            //maxdate: 0,
        })
        //  //.next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
        //    $(this).prev().focus();

        //});

        // $j("#datepicker").datepicker();

        $('#TxtEnclosureTakenDate').datepicker({
            autoclose: true,
            todayHighlight: true,
            dateFormat: 'dd/mm/yy',
            //minDate: 0,
            //maxdate: 0,
        })
        //    .next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
        //    $(this).prev().focus();

        //});
        $("#removeUploadEnclosure").hide();
        $("#removeUpload1").hide();
        $("#removeUpload").hide();
        $("#div1").hide();
        $("#div2").hide();
        $("#div3").hide();
        $("#div4").hide();
        $("#div5").hide();
        $("#divTo").show();
        $("#divMin").show();
        $("#divdept").show();
        $("#divdst").show();
        $("#divofc").show();
        $("#divitem").show();
        $("#divcc").show();
        $("#divrec").show();
        $("#divlang").show();
        $("#divendate").show();
        $("#divEnfile").show();
        $("#divfordate").show();
        $("#divActiontkn").show();
        $("#divactkndate").show();
        $("#divAcfile").show();
        $("#divRemrks").show();
        $("#divletterdis").show();
        $("#divFinancial").hide();
        $("#divGrnatAmount").hide();

        if ('@Model.PaperEntryType' == "NewEntry") {
            $("#DdlDoctype").prepend("<option value='0' selected='true'>Select Document Type</option>")
            $("#DdlAction").prepend("<option value='0' selected='true'>Select Action Type</option>")
            $("#DdlEntryMinister").prepend("<option value='0' selected='true'>Select Minister</option>")
            $("#DdlDept").prepend("<option value='0' selected='true'>Select Department</option>")
            $("#DdDistrict").prepend("<option value='0' selected='true'>Select District</option>")
            $("#hdnFrwdDateForShow").hide();
            $("#TxtForwardDate").show();
            $('#TxtForwardDate').datepicker('setDate', new Date());
            // $('#TxtActionTakenDate').datepicker('setDate', new Date());
            //$("#TxtActionTakenDate").datepicker('setDate', "dd/mm/yy");
            //  $('#TxtEnclosureTakenDate').datepicker('format', "dd/mm/yy");
            //$("#TxtActionTakenDate").val("");
        }
        else {
            var deptid = $("#spdeptid").val();
            var distt = $("#spdistcd").val();
            if ((deptid != null || deptid != "" && distt != null || distt != "")) {
                getOffice_DistrictWise();
            }

            if ('@Model.ForwardDateForUse' == "") {
                $("#hdnFrwdDateForShow").hide();
                $("#TxtForwardDate").show();
                $("#TxtForwardDate").val("");
            }
            else {
                $("#hdnFrwdDateForShow").hide();  // open date edit on edit mode for ome days
                $("#TxtForwardDate").show();
            }
            var a = $("#TxtActionTakenDate").val();
            var s1 = a.replace('00:00:00', '');
            var en = $("#TxtEnclosureTakenDate").val();
            var en1 = en.replace('00:00:00', '');

            $("#TxtActionTakenDate").val(s1);
            $("#TxtEnclosureTakenDate").val(en1);
        }
        //  var fdate = $("#TxtForwardDate").val();
        var val = $("#DdlDoctype").val();
        if (val == 1) {
            $("#div1").hide();
            $("#div2").hide();
            $("#div3").hide();
            $("#div4").hide();
            $("#div5").hide();
            // $("#divamount").hide();
            // $("#divfortype3").show();
            $("#divTo").show();
            $("#divMin").show();
            $("#divdept").show();
            $("#divdst").show();
            $("#divofc").show();
            $("#divitem").show();
            $("#divcc").show();
            $("#divrec").show();
            $("#divlang").show();
            $("#divendate").show();
            $("#divEnfile").show();
            $("#divfordate").show();
            $("#divActiontkn").show();
            $("#divactkndate").show();
            $("#divAcfile").show();
            $("#divRemrks").show();
            $("#divletterdis").show();
            $("#divFinancial").hide();
            $("#divGrnatAmount").hide();
        }
        else if (val == 2) {
            $("#div1").show();
            $("#div2").show();
            $("#div3").show();
            $("#div4").show();
            $("#div5").show();
            $("#divTo").show();
            $("#divMin").show();
            $("#divdept").show();
            $("#divdst").show();
            $("#divofc").show();
            $("#divitem").show();
            $("#divcc").show();
            $("#divrec").show();
            $("#divlang").show();
            $("#divendate").show();
            $("#divEnfile").show();
            $("#divfordate").show();
            $("#divActiontkn").show();
            $("#divactkndate").show();
            $("#divAcfile").show();
            $("#divRemrks").show();
            $("#divletterdis").show();
            $("#divFinancial").hide();
            $("#divGrnatAmount").hide();
            //  $("#divamount").hide();
            // $("#divfortype3").show();
        }
        else if (val == 3) {

            $("#div1").hide();
            $("#div2").hide();
            $("#div3").hide();
            $("#div4").hide();
            $("#div5").hide();
            $("#divTo").show();
            $("#divMin").hide();
            $("#divdept").hide();
            $("#divdst").hide();
            $("#divofc").hide();
            $("#divitem").hide();
            $("#divcc").hide();
            $("#divrec").show();
            $("#divlang").show();
            $("#divendate").hide();
            $("#divEnfile").hide();
            $("#divfordate").show();
            $("#divActiontkn").hide();
            $("#divactkndate").show();
            $("#divAcfile").hide();
            $("#divRemrks").hide();
            $("#divletterdis").show();
        
            $("#divFinancial").show();
            $("#divGrnatAmount").show();
            //$("#divamount").show();
            //  $("#divfortype3").hide();

        }
        else if (val == "0") {
            $("#div1").hide();
            $("#div2").hide();
            $("#div3").hide();
            $("#div4").hide();
            $("#div5").hide();
            // $("#divamount").hide();
            //  $("#divfortype3").show();
            $("#divTo").show();
            $("#divMin").show();
            $("#divdept").show();
            $("#divdst").show();
            $("#divofc").show();
            $("#divitem").show();
            $("#divcc").show();
            $("#divrec").show();
            $("#divlang").show();
            $("#divendate").show();
            $("#divEnfile").show();
            $("#divfordate").show();
            $("#divActiontkn").hide();
            $("#divactkndate").show();
            $("#divAcfile").show();
            $("#divRemrks").show();
            $("#divletterdis").show();
            $("#divFinancial").hide();
            $("#divGrnatAmount").hide();
        }

        var EnclosureFiletxt = $("#EnclosureFiletxt").text();
        //  var ForwardedFiletxt = $("#ForwardedFiletxt").text();
        var ActionFile = $("#Actionfile").text();
        if (EnclosureFiletxt == "Yes") {
            $("#IsEnclosureFile").val("Y");
        }
        else {
            $("#IsEnclosureFile").val("N");
        }

        //if (ForwardedFiletxt == "Yes") {
        //    $("#IsForwardFile").val("Y");
        //}
        //else {
        //    $("#IsForwardFile").val("N");
        //}
        if (ActionFile == "Yes") {
            $("#IsFile").val("Y");
        }
        else {
            $("#IsFile").val("N");
        }


    })
    $('#TxtForwardDate').attr('readonly', true);
    $('#TxtActionTakenDate').attr('readonly', true);
    $('#TxtEnclosureTakenDate').attr('readonly', true);


    @*    function getOfficeDeptWise() {
        //var editdeptid = $("#spdeptid").val();
        var editofficeid = $("#spofcid").val();
        var Deptid = $("#DdlDept").val();
        $("#loader-wrapper").show();
        var a = '@ViewBag.OffICode';
        var Url = '@Url.Action("GetOfficesByDeptId", "OnlineMemberQuestions", new { Area = "Notices" })';
        $.ajax({
            url: Url,
            type: 'GET',
            data: { DeptId: Deptid },
            success: function (data) {

                if (data) {
                    $("#DdlOffice").html("");
                    if (data.length > 0) {
                        //for (var i = 0; i < data.length; i++) {
                        //    var item = data[i];
                        //    $("#DdlOffice").append($("<option></option>").val(item.OfficeId).html(item.officename))
                        //}

                        $.each(data, function (index, optiondata) {
                            $("#DdlOffice").append("<option value='" + optiondata.OfficeId + "'>" + optiondata.officename + "</option>");
                        });
                    }
                    else {

                        $("#DdlOffice").append($("<option></option>").val("0").html("Select Office"));

                    }
                    $("#DdlOffice").trigger("chosen:updated");
                    // $("#lstOffice").prop("disabled", "");
                    $("#loader-wrapper").hide();
                }
                else {
                    $("#DdlOffice").html("");
                    $("#DdlOffice").trigger("chosen:updated");

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            },
            complete: function () {

                if (editofficeid != "") {
                    $("#lstOffice").val(editofficeid);
                }
                else {
                    $("#lstOffice").val(a);
                }

            }
        });

    }*@
    $("#DdlDoctype").change(function () {
        var val = $("#DdlDoctype").val();
        if (val == 1) {
            $("#div1").hide();
            $("#div2").hide();
            $("#div3").hide();
            $("#div4").hide();
            $("#div5").hide();
            // $("#divamount").hide();
            // $("#divfortype3").show();
            $("#divTo").show();
            $("#divMin").show();
            $("#divdept").show();
            $("#divdst").show();
            $("#divofc").show();
            $("#divitem").show();
            $("#divcc").show();
            $("#divrec").show();
            $("#divlang").show();
            $("#divendate").show();
            $("#divEnfile").show();
            $("#divfordate").show();
            $("#divActiontkn").show();
            $("#divactkndate").show();
            $("#divAcfile").show();
            $("#divRemrks").show();
            $("#divletterdis").show();
            $("#divFinancial").hide();
            $("#divGrnatAmount").hide();



        }
        else if (val == 2) {
            $("#div1").show();
            $("#div2").show();
            $("#div3").show();
            $("#div4").show();
            $("#div5").show();
            $("#divTo").show();
            $("#divMin").show();
            $("#divdept").show();
            $("#divdst").show();
            $("#divofc").show();
            $("#divitem").show();
            $("#divcc").show();
            $("#divrec").show();
            $("#divlang").show();
            $("#divendate").show();
            $("#divEnfile").show();
            $("#divfordate").show();
            $("#divActiontkn").show();
            $("#divactkndate").show();
            $("#divAcfile").show();
            $("#divRemrks").show();
            $("#divletterdis").show();
            $("#divFinancial").hide();
            $("#divGrnatAmount").hide();
            //  $("#divamount").hide();
            // $("#divfortype3").show();
        }
        else if (val == 3) {

            $("#div1").hide();
            $("#div2").hide();
            $("#div3").hide();
            $("#div4").hide();
            $("#div5").hide();
            $("#divTo").show();
            $("#divMin").hide();
            $("#divdept").hide();
            $("#divdst").hide();
            $("#divofc").hide();
            $("#divitem").hide();
            $("#divcc").hide();
            $("#divrec").show();
            $("#divlang").show();
            $("#divendate").hide();
            $("#divEnfile").hide();
            $("#divfordate").show();
            $("#divActiontkn").hide();
            $("#divactkndate").show();
            $("#divAcfile").hide();
            $("#divRemrks").hide();
            $("#divletterdis").show();
            $("#divFinancial").show();
            $("#divGrnatAmount").show();
            //$("#divamount").show();
            //  $("#divfortype3").hide();

        }
        else if (val == "0") {
            $("#div1").hide();
            $("#div2").hide();
            $("#div3").hide();
            $("#div4").hide();
            $("#div5").hide();
            // $("#divamount").hide();
            //  $("#divfortype3").show();
            $("#divTo").show();
            $("#divMin").show();
            $("#divdept").show();
            $("#divdst").show();
            $("#divofc").show();
            $("#divitem").show();
            $("#divcc").show();
            $("#divrec").show();
            $("#divlang").show();
            $("#divendate").show();
            $("#divEnfile").show();
            $("#divfordate").show();
            $("#divActiontkn").show();
            $("#divactkndate").show();
            $("#divAcfile").show();
            $("#divRemrks").show();
            $("#divletterdis").show();
            $("#divFinancial").hide();
            $("#divGrnatAmount").hide();
        }
    })
    function getOffice_DistrictWise() {
        var getofcid = $("#spofcid").val();
        var Deptid = $("#DdlDept").val();
        var DistrictId = $("#DdDistrict").val();
        var Url = '@Url.Action("GetOffices_ByDptDistrictWise", "OnlineMemberQuestions", new { Area = "Notices" })';
        $.ajax({
            url: Url,
            type: 'GET',
            data: { DistrictId: DistrictId, Deptid: Deptid },
            success: function (data) {

                if (data) {
                    $("#DdlOffice").html("");
                    if (data.length > 0) {

                        $.each(data, function (index, optiondata) {
                            $("#DdlOffice").append("<option value='" + optiondata.OfficeId + "'>" + optiondata.officename + "</option>");
                        });
                    }
                    else {

                        $("#DdlOffice").append($("<option></option>").val("0").html("Select Office"));

                    }
                    $("#DdlOffice").trigger("chosen:updated");
                    // $("#lstOffice").prop("disabled", "");
                    $("#loader-wrapper").hide();
                }
                else {
                    $("#DdlOffice").html("");
                    $("#DdlOffice").trigger("chosen:updated");

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            },
            complete: function () {

                if (getofcid != "") {
                    $("#lstOffice").val(getofcid);
                }
                else {
                    //$("#lstOffice").val(a);
                }

            }
        });
    }


    $("textarea#TxtTitle").focus(function () {
        $("textarea#TxtTitle").animate({ height: "130px" }, 100)
    })
    $("textarea#TxtSubject").blur(function () {
        $("textarea#TxtSubject").animate({ height: "55px" }, 100)
    })
    $("textarea#TxtRemarks").blur(function () {
        $("textarea#TxtRemarks").animate({ height: "55px" }, 100)

    })
    $("textarea#TxtletterDescription").blur(function () {
        $("textarea#TxtletterDescription").animate({ height: "55px" }, 100)

    })
    $("textarea#TxtItemDescription").blur(function () {
        $("textarea#TxtItemDescription ").animate({ height: "55px" }, 100)
    })
    $("textarea#TxtRecieveFrom").blur(function () {
        $("textarea#TxtRecieveFrom").animate({ height: "55px" }, 100)
    })
    $("textarea#TxtDocumentTo").blur(function () {
        $("textarea#TxtDocumentTo").animate({ height: "55px" }, 100)
    })
    $("textarea#TxtDocumentCC").blur(function () {
        $("textarea#TxtDocumentCC").animate({ height: "55px" }, 100)
    })

    function Save() {
        if (confirm("Are you sure to save ?")) {
            $("#OfficeId").val($("#DdlOffice").val());
            // $("#hdforwarddate").val($("#TxtForwardDate").val()); //but it is nt picking id value in controller

            var doctype = $("#DdlDoctype").val();
            if (doctype == "0") {
                alert(" Please Select Document Type");
                $("#DdlDoctype").focus();
                return false;
            }
            if (doctype == 3)
            {
                var finanyear = $("#ddFinancialYear").val();
                var TxtGrantAmount = $("#TxtGrantAmount").val();
                if (finanyear == 0)
                {
                    $("#ddFinancialYear").focus();
                    alert('Select Financial Year');
                    return false;

                }
                if (TxtGrantAmount == ""||TxtGrantAmount == "0")
                {
                    $("#TxtGrantAmount").focus();
                    alert('Enter Amount');
                    return false;
                }
            }


            if ('@Model.PaperEntryType' == "NewEntry") {
                $("#IsEnclosureFile").val("N");
                // $("#IsForwardFile").val("N");
                $("#IsFile").val("N");
                var TxtEnclosureTakenDate = $("#TxtEnclosureTakenDate").val();
                var EnclosureFile_name = $("#file_nameEn").html();
                if (TxtEnclosureTakenDate != "" && EnclosureFile_name == "") {
                    alert(" Please Upload Enclosure");
                    return false;
                }
                var Enclosuredate = $("#TxtEnclosureTakenDate").val();
                var Enclosurefile_name = $("#file_nameEn").html();

                if (Enclosuredate != "" && Enclosurefile_name == "") {
                    alert(" Please Upload Enclosure File");
                    return false;
                }
                var forwarddate = $("#TxtForwardDate").val();
                //var forwardfile_name = $("#file_name").html();
                //if (forwarddate != "" && forwardfile_name == "") {
                //    alert(" Please Upload Forward File");
                //    return false;
                //}

                var TxtActionTakenDate = $("#TxtActionTakenDate").val();
                if (TxtActionTakenDate != "" || TxtActionTakenDate != null) {
                    if (forwarddate == "" || forwarddate == null) {
                        $("#TxtForwardDate").focus();
                        alert("Enter Forward Date to complete action");
                        return false;
                    }
                }

                if (doctype != 3) {   // Discreatationary grant
                    var TxtActionTakenDate = $("#TxtActionTakenDate").val();
                    var ActionTaken_name = $("#file_name1").html();
                    if (TxtActionTakenDate != "" && ActionTaken_name == "") {
                        alert(" Please Upload Action File");
                        return false;
                    }
                }


                $("#formDiary").submit();
            }
            else if ('@Model.PaperEntryType' == "EditEntry") {
                var EnclosureFiletxt = $("#EnclosureFiletxt").text();
                //  var ForwardedFiletxt = $("#ForwardedFiletxt").text();
                var ActionFile = $("#Actionfile").text();
                if (EnclosureFiletxt == "Yes") {
                    $("#IsEnclosureFile").val("Y");
                }
                else {
                    $("#IsEnclosureFile").val("N");
                }

                //if (ForwardedFiletxt == "Yes") {
                //    $("#IsForwardFile").val("Y");
                //}
                //else {
                //    $("#IsForwardFile").val("N");
                //}
                if (ActionFile == "Yes") {
                    $("#IsFile").val("Y");
                }
                else {
                    $("#IsFile").val("N");
                }
                var TxtEnclosureTakenDate = $("#TxtEnclosureTakenDate").val();
                var file_nameEn = $("#file_nameEn").html();
                var enclourelinktxt = $("#enclourelink").text();
                if (TxtEnclosureTakenDate != "" && file_nameEn == "" && enclourelinktxt == "") {
                    alert("Please Upload Enclosure");
                    return false;
                }
                var forwarddate = $("#TxtForwardDate").val();
                // var forwardfile_name = $("#file_name").html();
                // var forwrdlinktxt = $("#forwrdlink").text();

                //if (forwarddate != "" && forwardfile_name == "" && forwrdlinktxt == "") {
                //    alert(" Please Upload Forward File");
                //    return false;
                //}
                var TxtActionTakenDate = $("#TxtActionTakenDate").val();
                if (TxtActionTakenDate != "" || TxtActionTakenDate != null) {
                    if (forwarddate == "" || forwarddate == null) {
                        $("#TxtForwardDate").focus();
                        alert("Enter Forward Date to complete action");
                        return false;
                    }
                }
                if (doctype != 3) {   // Discreatationary grant
                    var ActionTaken_name = $("#file_name1").html();
                    var actionlink = $("#actionlink").text();
                    if (TxtActionTakenDate != "" && ActionTaken_name == "" && actionlink == "") {
                        alert(" Please Upload Action File");
                        return false;
                    }
                }

                $("#formDiary").submit();
            }
        }
    }






    function MinistryChanged() {
        //var cl = new CanvasLoader('canvasloader-container1');
        var ministryID = $('#DdlEntryMinister').val();

        if (ministryID == "0") {
            $('#MinistryId').val(ministryID);
            var select = $("#DdlDept");
            select.empty();
            var pathurl = '@Url.Action("GetDepartmentByMinistery", "NoticeDetails")';
            $.ajax({
                url: pathurl,
                type: 'GET',
                data: { MinistryId: ministryID },
                success: function (data) {
                    var opt = document.createElement("option");

                    document.getElementById("DdlDept").options.add(opt);

                    opt.text = 'Select Department';
                    opt.value = 0;
                }, error: function (data) {
                    alert("Something wrong...")
                }
            })
        }
        if (ministryID != "" && ministryID != null) {
            //cl.show();
            $('#MinistryId').val(ministryID);
            var select = $("#DdlDept");
            select.empty();
            var pathurl = '@Url.Action("GetDepartmentByMinistery", "NoticeDetails")';
            $.ajax({
                url: pathurl,
                type: 'GET',
                data: { MinistryId: ministryID },
                success: function (data) {
                    $.each(data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.DepartmentId,
                            text: itemData.DepartmentName
                        }));
                    });
                    //cl.hide();
                }, error: function (data) {
                    alert("Something wrong...")
                }
            })
        }
    }


    //$("#fileupload").click(function (event) {
    //    $('#ForwardedFiletxt').text('No');
    //    $('#IsForwardFile').val("N");
    //    $('#fileupload').fileupload({
    //        dataType: 'json',
    //        url: "/efile/eFile/UploadMlaForwardFiles",
    //        autoUpload: true,

    //        done: function (e, data) {
    //            var sim = setTimeout("hidevalueForwd()", 1000);
    //            $('.file_name').html(data.result.name);
    //            $('.file_size').html(data.result.size);
    //        }
    //    }).on('fileuploadprogressall', function (e, data) {

    //        var progress = parseInt(data.loaded / data.total * 100, 10);
    //        $('.progress1 .progress-bar').css('width', progress + '%');
    //        $('#removefileupload').css('display', 'block');
    //    });

    //});

    $("#fileupload1").click(function (event) {
        $('#Actionfile').text('No');
        $('#IsFile').val("N");


        $('#fileupload1').fileupload({
            dataType: 'json',
            url: "/efile/eFile/UploadMlaActionFiles",
            autoUpload: true,

            done: function (e, data) {

                var sim = setTimeout("hidevalueAction()", 1000);
                $('.file_name1').html(data.result.name);
                $('.file_size1').html(data.result.size);
            }
        }).on('fileuploadprogressall', function (e, data) {

            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progress12 .progress-bar').css('width', progress + '%');
            $('#removefileupload1').css('display', 'block');
        });
        // $("#removefileupload1").hide(true);

    });

    $("#fileuploadEnclosure").click(function (event) {
        $('#EnclosureFile').text('No');
        $('#IsEnclosureFile').val("N");
        $('#fileuploadEnclosure').fileupload({
            dataType: 'json',
            url: "/efile/eFile/UploadMlaEnclosureFiles",
            autoUpload: true,

            done: function (e, data) {

                var sim = setTimeout("hidevalueActionEnclosure()", 1000);
                $('.file_nameEn').html(data.result.name);
                $('.file_sizeEn').html(data.result.size);
            }
        }).on('fileuploadprogressall', function (e, data) {

            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progressEnclosure .progress-bar').css('width', progress + '%');
            $('#removeUploadEnclosure').css('display', 'block');
        });
        //  $("#removeUploadEnclosure").hide(true);
    });


    function hidevalueForwd() {
        $('.progress1 .progress-bar').fadeOut(500);
        var sim = setTimeout("hidevalueForwd()", 3000);
    }

    function hidevalueAction() {
        $('.progress12 .progress-bar').fadeOut(500);
        var sim = setTimeout("hidevalueAction()", 3000);
    }
    function hidevalueActionEnclosure() {
        $('.progressEnclosure .progress-bar').fadeOut(500);
        var sim = setTimeout("hidevalueActionEnclosure()", 3000);
    }

    function RemoveActionEnclosureFiles() {

        $('.file_nameEn').html('');
        $('.file_sizeEn').html('');
        $('.progressEnclosure .progress-bar').css('width', '0%');
        $("#removeUploadEnclosure").hide();
        $('#fileuploadcontantEnclosure').css('border', '0px solid rgb(244, 239, 239)');
        $.post("/eFile/eFile/RemoveActionEnclosureFiles",
           {
           },
           function (data) {
           });

    }

    function removefileupload() {  // Forward File

        $('.file_name').html('');
        $('.file_size').html('');
        $('.progressEnclosure .progress-bar').css('width', '0%');
        $("#removefileupload").hide();
        $('#fileuploadcontant').css('border', '0px solid rgb(244, 239, 239)');
        $.post("/eFile/eFile/RemoveMlaForwardFiles",
           {
           },
           function (data) {
           });

    }

    function removefileupload() { //ActionFile

        $('.file_name1').html('');
        $('.file_size1').html('');
        $('.progress12 .progress-bar').css('width', '0%');
        $("#removefileupload1").hide();
        $('#fileuploadcontant1').css('border', '0px solid rgb(244, 239, 239)');
        $.post("/eFile/eFile/RemoveMlaForwardFiles",
           {
           },
           function (data) {
           });

    }

</script>
