﻿@model SBL.DomainModel.Models.Diaries.MlaDiary
@using SBL.eLegistrator.HouseController.Web.Helpers
@using SBL.eLegistrator.HouseController.Web.Utility

@{
    var FileSettings = (SBL.DomainModel.Models.SiteSetting.SiteSettings)Helper.ExecuteService("SiteSetting", "GetSecureFileSettingLocation", null);

    int count = 0;
    if (ViewBag.CurrentPage > 1)
    {

        count = (ViewBag.PageSize * (ViewBag.CurrentPage - 1));
    }
}







<div class="row">

    <div class="col-xs-12">

        @Html.Partial("_SearchByType_MlaDiary", Model)
        <div class="pass-table">

            @if (Model.MlaDiaryList != null)
            {
                if (Model.MlaDiaryList.Count() > 0)
                {              
              
              
                <div class="table-header">
                    <span class="label label-lg label-yellow arrowed-right" style="height: 24px; font-weight: bold; font-size: 14px;">MLA</span>
                    <strong style="font-size: 18px;">Total Diary</strong>  - <strong style="color: #ffeb3b; font-size: medium;">@ViewBag.TotalDiary  </strong>

                    @if (ViewBag.DocType == "3")
                    {
                        <span style="font-size: 18px;">, Total Amount - Rs.</span><strong style="color: #ffeb3b; font-size: medium;"> @ViewBag.TotalDiaryAmountCount </strong> 
                        //TotalSanctionMoney
                    }

                    <span class="label label-lg label-yellow arrowed-left" style="height: 24px; font-weight: bold; font-size: 14px; margin: 7px; float: right; cursor: pointer;">
                        <a target="_blank" href="@Url.Action("GetDiaryPrint", "OnlineMemberQuestions", new { DocType = ViewBag.DocType, ActionType = ViewBag.ActionType, PendencySince = ViewBag.PendencySince }) ">Print List</a>
                        @*                   <a target="_blank" href="#" onclick="return GetPrint('MLADIARY')">Print List1</a>*@
                    </span>
                    <br />
                    @if (ViewBag.ActionType == "0")
                    {
                        <strong style="font-size: small;">Pending At Diary - </strong><strong style="color: #ffeb3b; font-size: medium;">@ViewBag.pendingDiaryCount</strong>
                        <strong style="font-size: small;">Forward & Action Pending - </strong><strong style="color: #ffeb3b; font-size: medium;">@ViewBag.forwardActionPendingCount</strong>
                        <strong style="margin-left: 5px; font-size: small;">Forward & Action Taken - </strong> <strong style="color: #ffeb3b; font-size: medium;"> @ViewBag.forwardActionDoneCount</strong>
                    }
                    else if (ViewBag.ActionType == "1")
                    {
                        <strong style="font-size: small;">Forward And Action Pending - </strong><strong style="color: #ffeb3b; font-size: medium;">@Model.MlaDiaryList.Count()</strong>
                    
                      if (ViewBag.DocType == "3")
                      {
                           <br />
                           <strong style="font-size: small;">Total Amount - </strong><strong style="color: #ffeb3b; font-size:small;">@ViewBag.forwardActionPendingAmountCount</strong>
                      }
                    }
                    else if (ViewBag.ActionType == "2")
                    {
                        <strong style="margin-left: 5px; font-size: small;">Forward And Action Taken - </strong> <strong style="color: #ffeb3b; font-size: medium;"> @Model.MlaDiaryList.Count()</strong>
                    if (ViewBag.DocType == "3")
                      {
                           <br />
                           <strong style="font-size: small;">Total Amount - </strong><strong style="color: #ffeb3b; font-size:small;">@ViewBag.forwardActionDoneAmountCount</strong>
                      }
                    }
                    else if (ViewBag.ActionType == "3")
                    {
                        <strong style="font-size: small;">Pending At Diary - </strong><strong style="color: #ffeb3b; font-size: medium;">@Model.MlaDiaryList.Count()</strong>
                   
                      if (ViewBag.DocType == "3")
                      {
                           <br />
                           <strong style="font-size: small;">Total Amount - </strong><strong style="color: #ffeb3b; font-size:small;">@ViewBag.pendingDiaryAmountCount</strong>
                      }
                    }
                   
                </div> 
              
                <table class="table table-bordered  dataTable" id="sample-table-3" aria-describedby="sample-table-3_info" style="width: 100%; overflow: scroll;">
                    <thead>
                        <tr role="row">
                            <th style="display: none;" role="columnheader" rowspan="1" colspan="1"></th>
                            @*//column to be hide for get descending order of record *@
                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1">Diary Number</th>
                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1">To</th>
                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1">Subject</th>

                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="text-align: center">From</th>

                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="text-align: center">Forwarded On</th>
                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="text-align: center">Action On</th>
                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="text-align: center"></th>
                        </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        @foreach (var item in Model.MlaDiaryList)
                        {
                            count = count + 1;                           
                                   
                            <tr>
                                <td style="text-align: center; display: none;">
                                    @count

                                </td>
                                <td style="text-align: center;">
                                    @item.RecordNumber

                                </td>
                                <td style="text-align: center;">
                                    @item.DocumentTo
                                    <span id="hddoctype" style="display: none;">@item.DocmentType</span>

                                </td>
                                <td style="text-align: center;">
                                    @item.Subject
                                </td>
                                <td style="text-align: center;">
                                    @item.RecieveFrom
                                </td>
                                @*  <td style="text-align: center;">
                                    @item.MinisterName<br />
                                    @item.DeptName
                                    <br />
                                    @item.officename


                                </td>*@

                                <td style="text-align: center;">
                                    @{
                            // string Fpath = FileSettings.SettingValue + item.ForwardedFile;
                            string Enpath = FileSettings.SettingValue + item.EnclosureFile;            
                                    }
                                    @if (item.ForwardDate != null)
                                    {
                                        @Convert.ToDateTime(item.ForwardDate).ToString("dd/MM/yyyy")
                                    }
                                    else
                                    {

                                    }
                                    @*  @if (!string.IsNullOrEmpty(item.ForwardedFile))
                                    {  
                                                                                 
                                        @Convert.ToDateTime(item.ForwardDate).ToString("dd/MM/yyyy")
                                       <br />
                                        <a href="@Fpath" target="_blank">
                                            <img src="~/Images/Common/forwardedicon.png" alt="Download" title="Download File" width="30" height="30" />
                                        </a>
                                    }*@

                                    @if (!string.IsNullOrEmpty(item.EnclosureFile))
                                    {
                                        //item.EnclosureDate 
                                        <a href="@Enpath" target="_blank">
                                            <img src="~/Images/Common/PDF.png" alt="Download" title="Download Enclosure" width="30" height="30" />
                                        </a>
                                    }
                                    else
                                    {

                                    }


                                </td>
                                <td style="text-align: center;">


                                    @{
                                    string path1 = FileSettings.SettingValue + item.ActiontakenFile;
                                    }
                                    @if (!string.IsNullOrEmpty(item.ActiontakenFile))
                                    {
                                        @Convert.ToDateTime(item.ActiontakenDate).ToString("dd/MM/yyyy")
                                        <a href="@path1" target="_blank">
                                            <img src="~/Images/Common/PDF.png" alt="Download" title="Download Pdf" width="30" height="30" />
                                        </a>                                    
                                                                           
                                    }
                                    else
                                    {

                                    }
                                </td>
                                <td>
                                    <a data-rel="tooltip" class="green tooltip-success" title="Edit" href="#" onclick="EditMlaDairy('@item.mlaDiaryId')">
                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                    </a>
                                    <a data-rel="tooltip" class="red tooltip-error DeleteSec" title="Delete" href="#" onclick="DeleteMlaDairy('@item.mlaDiaryId')">
                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                    </a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>   
                       
                }
                else
                {
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-info">

                            <strong>No Data Found !!!</strong><br />


                        </div>
                    </div>
                </div>
                }
            }

        </div>
    </div>
</div>

@*<script src="~/Scripts/jquery-1.7.2.min.js"></script>*@
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>



<script>
    $(document).ready(function () {

        $("#btnAdvSearch").hide();
        //$('#resize-left').show();
        //$('#resize-right').show();
        $('#resize-right').width(0);
        $('#resize-left').width(100 + '%')
        $('#sample-table-3').dataTable({
            "pagingType": "full_numbers",

        });

    });

    //jQuery(function ($) {
    //    var oTable1 =
    //    $('#sample-table-3')
    //     .dataTable({
    //         //"sPaginationType": "full_numbers",
    //         "pagingType": "full_numbers",
    //        // order: [[3, 'desc'], [0, 'asc']]
    //         //aaSorting: [[1, 'asc']]
    //         //"order": [[3, "desc"]]
    //         //bAutoWidth: true,         
    //         //"aoColumns": [
    //         //   { "bSortable": false },

    //         //     { "orderSequence": ["desc"] },
    //         //   null, null, null, null, null,

    //         //],

    //         //"order": [[0, "desc"]]

    //     });

    //});
    //   });

    //$("#DdlDocType").change(function () {
    //    alert('f');
    //    var val = $("#DdlDocType").val();
    //    if (val == 3) {
    //        $("#divfin").show();
    //    }
    //    else {
    //        $("#divfin").hide();
    //    }
    //})
    function EditMlaDairy(ID) {
        $('#resize-right').width(50 + '%');
        $('#resize-left').width(50 + '%')
        $('#resize-right').show();
        //alert(ID);
        var pathurl = '/Notices/OnlineMemberQuestions/EditMlaDairyForm';
        $.ajax({
            type: "GET",
            url: pathurl,
            data: { ID: ID },
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (data) {
                $("#loader-wrapper").hide();
                $('#divAction').show();
                $('.widget-box').show();
                if (data) {
                    $("#RightSidebar").html(data);
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            },
            complete: function (results) {
                $('#loader-wrapper').hide();
                //setTimeout(function () {
                //    $('#divMsg').slideUp("slow");
                //}, 6000);
            }
        });
    }

    function DeleteMlaDairy(ID) {

        var pathurl = '/Notices/OnlineMemberQuestions/DeleteMlaDairyForm';

        var dlg = bootbox.confirm('@Resources.MasterDataDashboard.Areyousurewanttodelete', function (result) {

            if (result) {

                $.ajax({
                    type: "GET",
                    url: pathurl,
                    data: { ID: ID },
                    beforeSend: function () {
                        $('#loader-wrapper').show();
                    },
                    success: function (data) {
                        $("#loader-wrapper").hide();

                        $("#divbindList").html("")
                        $("#divbindList").html(data)

                        $("#RightSidebar").html("");
                        $('#spnScrollPosition').html('0');
                        alert("Record deleted successfully..")
                        //if (data == "Deleted") {
                        //    alert("record deleted successfully..")
                        //} else {
                        //    alert("record not deleted");
                        //}
                        //reloadPage();
                        //$('#divAction').show();
                        //$('.widget-box').show();
                        //if (data) {
                        //    $("#RightSidebar").html(data);
                        //} else { alert("error"); }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    },
                    complete: function (results) {
                        $('#loader-wrapper').hide();
                        //setTimeout(function () {
                        //    $('#divMsg').slideUp("slow");
                        //}, 6000);
                    }
                });
            }
        });
    }





    @*    function getOfficeDeptWise() {
        var Deptid = $("#spdeptid").text();

        $("#loader-wrapper").show();
        // var a = 'ViewBag.OffICode';
        return false;
        var Url = '@Url.Action("GetOfficesByDeptId", "OnlineMemberQuestions", new { Area = "Notices" })';
        $.ajax({
            url: Url,
            type: 'Post',
            data: { DeptId: Deptid },
            success: function (data) {

                if (data) {
                    $("#DdlOffice").html("");
                    if (data.length > 0) {
                        $.each(data, function (index, optiondata) {
                            $("#DdlOffice").append("<option value='" + optiondata.OfficeId + "'>" + optiondata.officename + "</option>");
                        });



                        //for (var i = 0; i < data.length; i++) {
                        //    var item = data[i];
                        //    $("#DdlOffice").append($("<option></option>").val(item.OfficeId).html(item.officename))
                        //}
                    }
                    else {

                        $("#DdlOffice").append($("<option></option>").val("0").html("Select Office"));

                    }
                    // $("#DdlOffice").trigger("chosen:updated");

                    $("#loader-wrapper").hide();
                }
                else {
                    $("#DdlOffice").html("");
                    $("#DdlOffice").trigger("chosen:updated");

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            },
            complete: function () {
                $("#lstOffice").val(Model.OfficeId);

            }
        });

    }*@

</script>


