﻿@model SBL.DomainModel.Models.Diaries.DiaryModel

<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
<script src="~/Scripts/jquery.alerts.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.timepicker1.js"></script>


<style>
    .DdlClass
    {
        width: 90%;
    }
</style>


@*@using (Ajax.BeginForm("UpdateQEntry", "NoticeDetails", new AjaxOptions { OnSuccess = "LoginSuccess", HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
{*@

@using (Html.BeginForm("SaveUpdateEntry", "OnlineMemberQuestions", FormMethod.Post, new { @id = "form1" }))
{
    @Html.AntiForgeryToken()
    <div class="widget-box sblFullScreen">

        <div class="widget-header widget-header-flat">
            @if (Model.PaperEntryType == "NewEntry")
            {
                <h4 class="widget-title">Enter Question Details</h4>
            }
            else if (Model.PaperEntryType == "UpdateEntry")
            { 
                <h4 class="widget-title">Update Question Details</h4>
            }
            <div class="widget-toolbar">


                <a href="#" data-action="fullscreen" class="red">
                    <i class="ace-icon fa fa-expand bigger-150"></i>
                </a>

            </div>
        </div>
        <div class="widget-body">

            <div class="widget-main no-padding-right no-padding-left">
                <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.BusinessType</div>

                        <div class="profile-info-value">
                            <span id="spnEventId" class="">
                                @Html.HiddenFor(m => m.SessionID)
                                @Html.HiddenFor(m => m.AssemblyID)
                                @Html.HiddenFor(m => m.ChkLocalLang)
                                @Html.HiddenFor(m => m.PaperEntryType)
                                @Html.HiddenFor(m => m.BtnCaption)
                                @Html.HiddenFor(m => m.QuestionId)
                                @Html.HiddenFor(m => m.IsHindi)
                                @Html.HiddenFor(m => m.SignFilePath)


                                @Html.DropDownListFor(m => m.EventId, new SelectList(Model.eventList, "EventId", "EventName"), new { @id = "DdlCategory", @tabindex = "1", @class = "DdlClass" })
                            </span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name">Minister</div>

                        <div class="profile-info-value">
                            <span id="spnMinisterId" class="">
                                @Html.DropDownListFor(m => m.MinistryId, new SelectList(Model.memMinList, "MinistryID", "MinisterMinistryName"), new { @id = "DdlEntryMinister", @tabindex = "2", @class = "DdlClass" }) @*@onchange = "MinistryChanged()"*@
                                @Html.ValidationMessageFor(m => m.MinistryId, "", new { style = "color: red;" })
                            </span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Subject</div>

                        <div class="profile-info-value">
                            <span id="spnTitle" class="">
                                @Html.TextAreaFor(m => m.Subject, new { @id = "TxtTitle", @tabindex = "4", @class = "DdlClass" })
                                <br />
                                @*<input id="ChkLocal" type="checkbox" onchange="ChkChange()" />&nbsp;<b>Hindi</b><span style="color: blue; margin-left: 1%">(Please check for Hindi typing)</span>*@
                            </span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Question Language</div>

                        <div class="profile-info-value">
                            <span id="spnLang" class="">
                                @Html.DropDownListFor(m => m.QuestPdfLang, new SelectList(
            new List<SelectListItem>
            {   new SelectListItem { Selected = true, Text = "Select", Value ="0"},
                new SelectListItem { Selected = false, Text = "English", Value ="1"},
                new SelectListItem { Selected = false, Text = "Hindi", Value = "2"},             
            }, "Value", "Text"), new { @tabindex = "5", @class = "DdlClass", @id = "DdlLang" })

                            </span>
                        </div>
                    </div>




                    <div class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">@Resources.Diaries.Priority</div>

                        <div class="profile-info-value">
                            <span id="spnPriority" class="">
                                @*@Html.TextBoxFor(m => m.Priority, new { @tabindex = "5", @class = "DdlClass", @onkeypress = "return isNumberKey(event);" })*@
                                @Html.DropDownListFor(m => m.Priority, new SelectList(
            new List<SelectListItem>
            {   new SelectListItem { Selected = true, Text = "Select", Value ="0"},
                new SelectListItem { Selected = false, Text = "1", Value ="1"},
                new SelectListItem { Selected = false, Text = "2", Value = "2"},
                new SelectListItem { Selected = false, Text = "3", Value = "3"},
                new SelectListItem { Selected = false, Text = "4", Value = "4"},
                new SelectListItem { Selected = false, Text = "5", Value = "5"},
            }, "Value", "Text"), new { @tabindex = "5", @class = "DdlClass" })
                            </span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">@Resources.Member.Signature </div>
                        <div class="profile-info-value">
                            <span id="spnAttachedSign">
                                @if (Model.SignFilePath != null && Model.SignFilePath != "")
                                {
                                    <img alt="singature" src="@Model.SignFilePath" width="80px" height="60px" />
                                }
                            </span>
                            @if (Model.SignFilePath != null && Model.SignFilePath != "")
                            {
                                <a id="AChangePaper" style="margin-left: 25%" href="#" target="_blank" onclick="return ChangeSign('Update');">@Resources.Diaries.ChangeSign</a>
                            }
                            else
                            {
                                <a id="ANChangePaper" style="margin-left: 25%" href="#" target="_blank" onclick="return ChangeSign('New');">Add New Signature</a>
                            }
                        </div>


                    </div>






                    <div class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Details</div>

                        <div class="profile-info-value">
                            <span style="font-weight: 500; color: red" class="">For typing in hindi only unicode compliant hindi font is allowed, for help <a href="~/HelpFiles/Help For Online Entry.pdf" target="_blank">click here</a></span>
                            @*<span id="spnDetails" class="">*@

                            @Html.EditorFor(m => m.MainQuestion, new { @tabindex = "6" })

                            @*</span>*@
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"></div>
                        <div class="profile-info-value">
                            <span class="">
                                @if (Model.ButtonOnlineShow == "True")
                                {
@* if (Model.SignFilePath != null && Model.SignFilePath != "")
                                    {
                                <button class="btn btn-primary" type="button" id="btnSave" title="@Resources.Diaries.Save" tabindex="7" onclick="Save()" >
                                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                        @Resources.Diaries.Save
                                     </button>
                                    }
                                    else
                                    {
                               <span style="color:red;">Add New Signature For Save/Send Question</span>
                                    }
                                   
                                    *@
                                    <button class="btn btn-primary" type="button" id="btnSave" title="@Resources.Diaries.Save" tabindex="7" onclick="Save()" >
                                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                        @Resources.Diaries.Save
                                    </button>
                                     
                                }


                                @if (Model.PaperEntryType == "UpdateEntry")
                                { 
                                    <button class="btn btn-primary" type="button" id="btnSave" title="@Resources.Diaries.Save" tabindex="7" onclick="Save()" >
                                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                        Update
                                    </button>
                                }
                               
@*@if (Model.RIds == "1,2")
                               // {
                                    
                                 // <span style="color:red;font-weight:bold">Last Date of Submitting Questions & Cut Motions is 25 March 2015</span> 
                                     <button class="btn btn-primary" type="button" id="btnSave" title="@Resources.Diaries.Save" tabindex="7" onclick="Save()" >
                                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                        @Resources.Diaries.Save
                                     </button>*@
@*<button class="btn btn-primary" type="button" id="btnSubmit" title="@Resources.Member.SignSend" tabindex="8" style="margin-left: 2%" onclick="Submit()" >
                                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                        @Resources.Member.SignSend
                                    </button>*@
@*   }
                                else if (Model.RIds == "1")
                                {
                                        //  <span style="color:red;font-weight:bold">Last Date of Submitting Questions & Cut Motions is 25 March 2015</span> 
                                     <button class="btn btn-primary" type="button" id="btnSave" title="@Resources.Diaries.Save" tabindex="7" onclick="Save()" >
                                         <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                      @Resources.Diaries.Save
                                    </button>
                                }
                                else if (Model.RIds == "2")
                                {*@
@* <span style="color:red;font-weight:bold">Last Date of Submitting Questions & Cut Motions is 25 March 2015</span> *@
@*<button class="btn btn-primary" type="button" id="btnSubmit" title="@Resources.Member.SignSend" tabindex="8" style="margin-left: 2%" onclick="Submit()" >
                                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                        @Resources.Member.SignSend
                                    </button>*@
@*  }*@
                            </span>
                        </div>
                    </div>
                    @*<div class="profile-info-row">
                        <div class="profile-info-name"></div>
                        <div class="profile-info-value">
                            <span style="color: red; font-weight: bold">Last Date of sending Online Question is 27-11-2014 (Before 15 days of Last session sitting).</span>
                        </div>
                    </div>*@

                    @*<div class="wizard-actions">
                        <button class="btn btn-primary" type="button" id="btnSave" title="@Resources.Diaries.Save" tabindex="7" onclick="Save()">
                            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                            @Resources.Diaries.Save
                        </button>
                        <button class="btn btn-primary" type="button" id="btnSubmit" title="@Resources.Member.SubmitToVidhanSabha" tabindex="8" style="margin-left: 2%;" onclick="Submit()">
                            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                            @Resources.Member.SubmitToVidhanSabha
                        </button>
                    </div>*@
                </div>

            </div>
        </div>
    </div>
    
    <div id='DivSignModel' class="hide" style="width: 65%; height: 80%;">
        <div id='DivSignModelData' style="text-align: center">
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        if ('@Model.PaperEntryType' == "NewEntry") {
            $("#DdlEntryMinister").append("<option value='' selected='true'>Select Minister</option>")
        }
        else {
            if ('@Model.IsHindi' == "True") {
                $("#ChkLocal").attr("checked", "checked");
                $("#ChkLocalLang").val("Local");
            }

        }
        $("#DdlCategory").find("option[value='4']").remove();

       @* if ('@Model.SignFileName' == "" && '@Model.SignFilePath' == "") {

            $("#spnAttachedSign").css("display", "none");
            $("#spnUploadSign").css("display", "block");

        }*@

    })


    $("textarea#TxtTitle").focus(function () {
        $("textarea#TxtTitle").animate({ height: "130px" }, 100)
    })

    $("textarea#TxtTitle").blur(function () {
        $("textarea#TxtTitle").animate({ height: "55px" }, 100)
    })

    function Save() {
        //debugger
        var Lang = document.getElementById("DdlLang").value;
        var MainQuestion = $("#MainQuestion").val();
        if (Lang == 0) {
            alert("Please Select Question Language!!!")
        }
        else if (MainQuestion == null || MainQuestion == "") {
            alert("Please Enter Question Details!!!")
        }
        else {

            if (confirm("Are you sure ?")) {
                $("#BtnCaption").val("Save");

                if ('@Model.PaperEntryType' == "NewEntry") {
                    $("#form1").submit();
                }
                else if ('@Model.PaperEntryType' == "UpdateEntry") {

                    $.ajax({
                        url: "/Notices/OnlineMemberQuestions/UpdateByJsonStarred",
                        type: 'POST',
                        data: $("#form1").serialize(),
                        success: function (data) {
                            document.getElementById("SuccessDiv").style.display = "block"
                            document.getElementById("PMsgShow").innerHTML = data
                            $("#RightSidebar").html("");
                            GetStartedQuestions()
                        }, error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.status);
                            alert(thrownError);
                        }
                    })

                }
            }
        }



}

function Submit() {
    //debugger
    if (confirm("Are you sure ?")) {

        $("#BtnCaption").val("Submit");
        if ('@Model.PaperEntryType' == "NewEntry") {

                if ($("#SignFilePath").val() == "") {
                    ChangeSign('New')
                }
                else {
                    $("#form1").submit();
                }
            }
            else if ('@Model.PaperEntryType' == "UpdateEntry") {
                if ($("#SignFilePath").val() == "") {
                    ChangeSign('UpdateStarred')
                }
                else {
                    $.ajax({
                        url: "/Notices/OnlineMemberQuestions/UpdateByJsonStarred",
                        type: 'POST',
                        data: $("#form1").serialize(),
                        success: function (data) {
                            document.getElementById("SuccessDiv").style.display = "block"
                            document.getElementById("PMsgShow").innerHTML = data
                            $("#RightSidebar").html("");
                        }, error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.status);
                            alert(thrownError);
                        }
                    })
                }

            }
        }
    }






    function UpdateEntry() {
        var Title = document.getElementById("TxtTitle").value;
        var Detail = $("#Details").val();
        var MinisterId = document.getElementById("DdlEntryMinister").value;
        var DepartmentId = document.getElementById("DdlDept").value;
        var EventId = document.getElementById("DdlCategory").value;
        $.post(" /Notices/OnlineMemberQuestions/UpdateEntry",
       {
           Title: Title,
           Details: Detail,
           MinisterId: MinisterId,
           DepartmentId: DepartmentId,
           EventId: EventId,
       },
       function (data) {
           alert("Question successfully sent to Vidhan Sabha!!");
           GetStartedQuestions();
           $("#RightSidebar").html("");
           $("#FormPart").html("");

       });
    }


    function MinistryChanged() {
        //var cl = new CanvasLoader('canvasloader-container1');
        var ministryID = $('#DdlEntryMinister').val();

        if (ministryID == "0") {
            $('#MinistryId').val(ministryID);
            var select = $("#DdlDept");
            select.empty();
            var pathurl = '@Url.Action("GetDepartmentByMinistery", "NoticeDetails")';
            $.ajax({
                url: pathurl,
                type: 'GET',
                data: { MinistryId: ministryID },
                success: function (data) {
                    var opt = document.createElement("option");

                    document.getElementById("DdlDept").options.add(opt);

                    opt.text = 'Select Department';
                    opt.value = 0;
                }, error: function (data) {
                    alert("Something wrong...")
                }
            })
        }
        if (ministryID != "" && ministryID != null) {
            //cl.show();
            $('#MinistryId').val(ministryID);
            var select = $("#DdlDept");
            select.empty();
            var pathurl = '@Url.Action("GetDepartmentByMinistery", "NoticeDetails")';
            $.ajax({
                url: pathurl,
                type: 'GET',
                data: { MinistryId: ministryID },
                success: function (data) {
                    $.each(data, function (index, itemData) {
                        select.append($('<option/>', {
                            value: itemData.DepartmentId,
                            text: itemData.DepartmentName
                        }));
                    });
                    //cl.hide();
                }, error: function (data) {
                    alert("Something wrong...")
                }
            })
        }
    }
    function ChkChange() {

        if ($("#ChkLocal").attr("checked")) {
            $("#ChkLocalLang").val("Local")
        }
        else {
            $("#ChkLocalLang").val("No")

        }
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57)) {
            alert("Only Number Allowed !")
            return false;

        }

        return true;
    }
    function ChangeSign(SType) {
        $.ajax({
            url: "/Notices/OnlineMemberQuestions/SignPopup",
            type: 'GET',
            data: { SignType: SType, Id: 0 },
            success: function (data) {
                $('#DivSignModelData').html("");
                $('#DivSignModelData').html(data);

                var dialog = $("#DivSignModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-file-pdf-o green'></i> Add Signature</h4></div>",
                    width: 600,
                    height: 200,
                    title_html: true
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        })
        return false;
    }



</script>


