﻿@model SBL.DomainModel.Models.Diaries.DiaryModel



<div class="widget-header widget-header-flat">

    <h4 class="widget-title">@Resources.Diaries.NoticeDetail</h4>


    @if (Model.IsSubmitToVS == false)
    {  
        <div class="widget-toolbar no-border">
            <button type="button" class="btn btn-xs btn-primary bigger" style="margin-left:-1%" id="E_@Model.NoticeId" onclick="return ViewDetailsForEdit(this.id, 'Notice');" >
                <i class="ace-icon fa fa-pencil-square-o"></i>
                @Resources.Diaries.Edit
            </button>
           

               @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.UserID.GetSignPath() != null && SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.UserID.GetSignPath() != "")
            {
                <button type="button" class="btn btn-xs btn-primary bigger" style="margin-left:1%" id="N_@Model.NoticeId" onclick="return CheckSignGenerateOTP(this.id,'Notice');" >
                <i class="ace-icon fa fa-pencil-square-o"></i>
                @*Generate OTP & Send*@
                @Resources.PaperLaidDepartment.Send
            </button>
            }
            else
            {
          
                  <button type="button" class="btn btn-xs btn-primary bigger" style="margin-left:1%" id="ANChangePaper" onclick="return ChangeSign('New');" >
                <i class="ace-icon fa fa-pencil-square-o"></i>
             Add New Signature For Send Question
               
            </button>
            }



        </div>
    }
</div>

@if (null != Model)
{    <div class="widget-body">

    <div class="widget-main no-padding-right no-padding-left">
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">@Resources.Diaries.BusinessType </div>

                <div class="profile-info-value">
                    @Html.HiddenFor(m => m.AssemblyID)
                    @Html.HiddenFor(m => m.SessionID)
                    @Html.HiddenFor(m => m.SignFilePath)
                    <span class="">@Model.EventName</span>
                </div>
            </div>
            @if (Model.NoticeNumber != "")
            {
                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Diaries.NoticeNumber </div>

                    <div class="profile-info-value">
                        <span id="username" class="">@Model.NoticeNumber</span>
                    </div>
                </div>
            }
@*<div class="profile-info-row">
                <div class="profile-info-name">@Resources.Diaries.Constituency </div>

                <div class="profile-info-value">
                    <span>@Model.ConstituencyName</span>
                </div>
            </div>*@
            <div class="profile-info-row">
                <div class="profile-info-name">@Resources.PaperLaidDepartment.Minister </div>

                <div class="profile-info-value">
                    <span>@Model.MinisterName</span>
                </div>
            </div>

            @* <div class="profile-info-row">
                <div class="profile-info-name">@Resources.PaperLaidDepartment.Department  </div>

                <div class="profile-info-value">
                    <span>@Model.DepartmentName</span>
                </div>
            </div>*@

            <div class="profile-info-row">
                <div class="profile-info-name">@Resources.Diaries.Subject </div>

                <div class="profile-info-value">
                    <span>@Html.Raw(Model.Subject)</span>
                </div>
            </div>
            @if (Model.AttachFileName != null && Model.AttachFilePath != null)
            { 
                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Member.AttachDocument</div>

                    <div class="profile-info-value">
                        <span><a href="@Model.AttachFilePath@Model.AttachFileName" target="_blank">@Model.AttachFileName</a></span>
                    </div>
                </div>
            }

            @if (Model.FilePath != null && Model.FilePath != null)
            {
                <div class="profile-info-row">
                    <div style="vertical-align: top" class="profile-info-name">@Resources.Member.GeneratedPaper </div>

                    <div class="profile-info-value">
                        <span><a href="@Model.FilePath@Model.FileName" target="_blank">@Model.FileName</a></span>
                    </div>
                </div>
            }

            @if (Model.IsSubmitToVS == true)
            {
                <div class="profile-info-row">
                    <div style="vertical-align: top" class="profile-info-name">@Resources.Diaries.SubmittedDate </div>

                    <div class="profile-info-value">
                        <span>@Convert.ToDateTime(Model.DateForBind).ToString("dd/MM/yyyy hh:mm tt")</span>
                    </div>
                </div>
            }
        </div>
        <div class="space-10"></div>
    </div>
    </div>
    
}
else
{
    <div style="border: 1px solid grey;">
        Sorry No Data Found!
    </div>
}
    
    <div id='DivSignModel' class="hide" style="width: 65%; height: 80%;">
        <div id='DivSignModelData' style="text-align: center">
        </div>
    </div>

<script>
    function ViewDetailsForEdit(Id, Type) {

        Id = Id.substring(2)

        var cl = new CanvasLoader('canvasloader-container2');
        cl.show();
        $("#RightSidebar").html("")
        $.get("/Notices/OnlineMemberQuestions/EditQuestionNotice", { Id: Id, EditType: Type }, function (data) {
            $("#RightSidebar").html(data)
            cl.hide();
        });
    };
    function CheckSignGenerateOTP(Id, Type) {

        if (confirm("Are you sure ?")) {
            Id = Id.substring(2)
            if ($("#SignFilePath").val() == "") {
                ChangeSign(Id, Type)
            }
            //OTPPopUp(Id, Type)
            SubmitNoticeById(Id)
        }
    };

    function OTPPopUp(QNId, tpe) {
        $.ajax({
            url: "/Notices/OnlineMemberQuestions/OTPPopup",
            type: 'GET',
            data: { Id: QNId, PType: tpe },
            success: function (data) {
                $('#DivSignModelData').html("");
                $('#DivSignModelData').html(data);

                var dialog = $("#DivSignModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Enter OTP Password For Sending Question To Vidhan Sabha",
                    width: 600,
                    height: 200,
                    title_html: true
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        })
        return false;
    }
    function SubmitNoticeById(Id) {

        //Id = Id.substring(2)
        AsId = '@Model.AssemblyID'
        SeId = '@Model.SessionID'
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $("#RightSidebar").html("")
        $.get("/Notices/OnlineMemberQuestions/SubmitNoticeById", { Id: Id, AssemId: AsId, SessId: SeId }, function (data) {
            if (data.substring(0, 7) == "Success") {
                    @*var url = '@Url.Action("Index", "OnlineMemberQuestions", new { area = "Notices" })';
                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    window.open(url, "_parent");*@
                document.getElementById("SuccessDiv").style.display = "block"
                document.getElementById("PMsgShow").innerHTML = data.substring(8)
                $("#RightSidebar").html("");
            }
            else {
                alert(data)
            }
            cl.hide();
        });

    };


    function ChangeSign(QNId, SType) {
        //debugger
        $.ajax({
            url: "/Notices/OnlineMemberQuestions/SignPopup",
            type: 'GET',
            data: { SignType: SType, Id: QNId },
            success: function (data) {
                $('#DivSignModelData').html("");
                $('#DivSignModelData').html(data);

                var dialog = $("#DivSignModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-file-pdf-o green'></i> Add Signature</h4></div>",
                    width: 600,
                    height: 200,
                    title_html: true
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        })
        return false;
    }
    function ChangeSign(SType) {
        $.ajax({
            url: "/Notices/OnlineMemberQuestions/SignPopup",
            type: 'GET',
            data: { SignType: SType, Id: 0 },
            success: function (data) {
                $('#DivSignModelData').html("");
                $('#DivSignModelData').html(data);

                var dialog = $("#DivSignModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-file-pdf-o green'></i> Add Signature</h4></div>",
                    width: 600,
                    height: 200,
                    title_html: true
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        })
        return false;
    }

</script>
