﻿@model SBL.DomainModel.Models.Diaries.DiaryModel

<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
<script src="~/Scripts/jquery.alerts.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.timepicker1.js"></script>


<style>
    .DdlClass {
        width: 90%;
    }
</style>

@using (Html.BeginForm("SaveUpdateNoticeEntry", "OnlineMemberQuestions", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
{
    @Html.AntiForgeryToken()

    <div class="widget-box sblFullScreen">
        <div class="widget-header widget-header-flat">
            @if (Model.PaperEntryType == "NewEntry")
            {
                <h4 class="widget-title">Enter Notice Details</h4>
            }
            else if (Model.PaperEntryType == "UpdateEntry")
            { 
                <h4 class="widget-title">Update Notice Details</h4>
            }
            <div class="widget-toolbar">


                <a href="#" data-action="fullscreen" class="red">
                    <i class="ace-icon fa fa-expand bigger-150"></i>
                </a>

            </div>
        </div>
        <div class="widget-body">
            <div class="widget-main no-padding-right no-padding-left">
                <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.BusinessType</div>

                        <div class="profile-info-value">
                            <span id="spnEventId" class="">
                                @Html.HiddenFor(m => m.SessionID)
                                @Html.HiddenFor(m => m.AssemblyID)
                                @Html.HiddenFor(m => m.ChkLocalLang)
                                @Html.HiddenFor(m => m.PaperEntryType)
                                @Html.HiddenFor(m => m.BtnCaption)
                                @Html.HiddenFor(m => m.NoticeId)
                                @Html.HiddenFor(m => m.IsHindi)
                                @Html.HiddenFor(m => m.FileName)
                                @Html.HiddenFor(m => m.FilePath)
                                @Html.HiddenFor(m => m.SignFilePath)
                                @*@Html.HiddenFor(m => m.DemandNo)*@
                                @Html.DropDownListFor(m => m.EventId, new SelectList(Model.eventList, "EventId", "EventName"), new { @id = "DdlCategory", @tabindex = "1", @class = "DdlClass" })
                                @Html.ValidationMessageFor(m => m.EventId, "", new { style = "color: red;" })
                            </span>
                        </div>
                    </div>

                     
        
                    <div id="Demandshow" style="display: none" class="profile-info-row">
                        <div class="profile-info-name">Demand </div>

                        <div class="profile-info-value">
                            <span class="">@Html.DropDownListFor(m => m.DemandNo, new SelectList(Model.DemandList, "DemandNo", "DemandName"), new { @id = "DdlDemand", @tabindex = "3", @class = "DdlClass" })
                               </span>
                        </div>
                    </div>
                


                    <div class="profile-info-row">
                        <div class="profile-info-name">Minister</div>

                        <div class="profile-info-value">
                            <span id="spnMinisterId" class="">
                                @Html.DropDownListFor(m => m.MinistryId, new SelectList(Model.memMinList, "MinistryID", "MinisterMinistryName"), new { @id = "DdlEntryMinister", @tabindex = "2", @class = "DdlClass" })  @*@onchange = "MinistryChanged()"*@
                                @Html.ValidationMessageFor(m => m.MinistryId, "", new { style = "color: red;" })
                            </span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Subject</div>

                        <div class="profile-info-value">
                            <span id="spnTitle" class="">
                                @Html.TextAreaFor(m => m.Subject, new { @id = "TxtTitle", @class = "DdlClass", @tabindex = "4" })
                                <br />
                                @*<input id="ChkLocal" type="checkbox" onchange="ChkChange()" />&nbsp;<b>Hindi</b><span style="color: blue; margin-left: 1%">(Please check for Hindi typing)</span>*@
                            </span>
                        </div>
                    </div>
                    @*<div class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">@Resources.Diaries.Priority</div>

                        <div class="profile-info-value">
                            <span id="spnPriority" class="">
                                @Html.TextBoxFor(m => m.Priority, new { @tabindex = "5", @class = "DdlClass", @onkeypress = "return isNumberKey(event);" })
                                @Html.DropDownListFor(m => m.Priority, new SelectList(
            new List<SelectListItem>
            {   new SelectListItem { Selected = true, Text = "Select", Value ="0"},
                new SelectListItem { Selected = false, Text = "1", Value ="1"},
                new SelectListItem { Selected = false, Text = "2", Value = "2"},
                new SelectListItem { Selected = false, Text = "3", Value = "3"},
                new SelectListItem { Selected = false, Text = "4", Value = "4"},
                new SelectListItem { Selected = false, Text = "5", Value = "5"},
            }, "Value", "Text"), new { @tabindex = "5", @class = "DdlClass" })
                            </span>
                        </div>
                    </div>*@

                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.Committee.PapertobeLaid: </div>

                        <div class="profile-info-value">
                            @if (Model.FileName != null && Model.FilePath != null)
                            {
                                <span id="spnPapertobeLaid" class="">
                                    <a href="@Model.FilePath@Model.FileName" target="_blank">@Model.FileName</a>
                                </span>
                                if (Model.IsSubmitToVS == false)
                                {
                                <a id="AChangePaper" style="margin-left: 25%" href="#" target="_blank" onclick="return ChangePaper();">@Resources.Diaries.ChangePaper</a>
                                }
                            }

                            <span id="spnPaperupload" style="display: none" class="">
                                <input type="file" name="file" id="filePaerLaid" tabindex="8" accept="application/pdf" />
                                <span id="fileErr" style="color: red"></span>
                            </span>

                        </div>
                    </div>


                    <div class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">@Resources.Member.Signature </div>
                        <div class="profile-info-value">
                            <span id="spnAttachedSign">
                                @if (Model.SignFilePath != null && Model.SignFilePath != "")
                                {
                                    <img alt="singature" src="@Model.SignFilePath" width="80px" height="60px" />
                                }
                            </span>
                            @if (Model.SignFilePath != null && Model.SignFilePath != "")
                            {
                                <a id="ASignPaper" style="margin-left: 25%" href="#" target="_blank" onclick="return ChangeSign('Update');">@Resources.Diaries.ChangeSign</a>
                            }
                            else
                            {
                                <a id="ANSignPaper" style="margin-left: 25%" href="#" target="_blank" onclick="return ChangeSign('New');">Add New Signature</a>
                            }
                        </div>


                    </div>


                    <div class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Details</div>

                        <div class="profile-info-value">
                            <span style="font-weight: 500; color: red" class="">For typing in hindi only unicode compliant hindi font is allowed, for help <a href="~/HelpFiles/Help For Online Entry.pdf" target="_blank">click here</a></span>
                            @*<span id="spnDetails" class="">*@

                            @Html.EditorFor(m => m.Notice, new { @tabindex = "6" })

                            @*</span>*@
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"></div>

                        <div class="profile-info-value">

                            <span class="">
                                <button class="btn btn-primary" type="button" id="btnSave" title="@Resources.Diaries.Save" tabindex="7" onclick="Save()">
                                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                        @Resources.Diaries.Save
                                    </button>
                         @*       @if (Model.RIds == "1,2")
                                {
                                    <button class="btn btn-primary" type="button" id="btnSave" title="@Resources.Diaries.Save" tabindex="7" onclick="Save()">
                                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                        @Resources.Diaries.Save
                                    </button>

                                }
                                else if (Model.RIds == "1")
                                {
                                    <button class="btn btn-primary" type="button" id="btnSave" title="@Resources.Diaries.Save" tabindex="7" onclick="Save()">
                                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                        @Resources.Diaries.Save
                                    </button>
                                }
                                else if (Model.RIds == "2")
                                {

                                }*@


                            </span>
                        </div>
                    </div>
                    @*<div class="profile-info-row">
                        <div class="profile-info-name"></div>
                        <div class="profile-info-value">
                            <span style="color: red; font-weight: bold">You can send Notice when the session date announced.</span>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
    
    <div id='DivSignModel' class="hide" style="width: 65%; height: 80%;">
        <div id='DivSignModelData' style="text-align: center">
        </div>
    </div>
}


<script>
    $(document).ready(function () {
        var val = $("#DdlCategory").val()
        $("#DdlCategory option[value='74']").remove();
        $("#DdlCategory option[value='75']").remove();
        $("#DdlCategory option[value='76']").remove();
        if (val == 74) {
            jQuery('div#Demandshow').show();
        }
        if (val == 75) {
            jQuery('div#Demandshow').show();
        }
        if (val == 76) {
            jQuery('div#Demandshow').show();
        }

            $(':file').change(function () {
                for (var i = 0; i < this.files.length; ++i) {
                    var name = this.files.item(i).name;
                    var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp', 'pdf', 'doc', 'docx'];
                    var Extension = name.split('.').pop().toLowerCase();
                    if ($.inArray(Extension, fileExtension) == -1) {
                        alert(name + " is not valid format. Only '.jpeg','.jpg', '.png', '.gif', '.bmp','doc','docx','pdf' formats are allowed.");
                        $(':file').val("");
                        return false;
                    }
                }
            });

        $.validator.addMethod('accept', function () { return true; });
        if ('@Model.PaperEntryType' == "NewEntry") {
            $("#DdlEntryMinister").append("<option value='' selected='true'>Select Minister</option>")
            $("#DdlCategory").append("<option value='' selected='true'>Select Business Type</option>")
        }
        else {

            if ('@Model.IsHindi' == "True") {

                $("#ChkLocal").attr("checked", "checked");
                $("#ChkLocalLang").val("Local");
            }
        }

        if ('@Model.FileName' == "" && '@Model.FilePath' == "") {

            $("#spnPapertobeLaid").css("display", "none");
            $("#spnPaperupload").css("display", "block");


        }
    });


    $("textarea#TxtTitle").focus(function () {
        $("textarea#TxtTitle").animate({ height: "130px" }, 100)
    });

    $("textarea#TxtTitle").blur(function () {
        $("textarea#TxtTitle").animate({ height: "55px" }, 100)
    });

   


    function Save() {
        //debugger
        if (confirm("Are you sure ?")) {

            $("#BtnCaption").val("Save");
            if ('@Model.PaperEntryType' == "NewEntry") {
                $("#form1").submit();
            }
            else if ('@Model.PaperEntryType' == "UpdateEntry") {
                var file = document.getElementById('filePaerLaid');
                var fd = new FormData();
                fd.append('file', file.files[0]);
                fd.append('EventId', $("#DdlCategory").val())
                fd.append('MinistryId', $("#DdlEntryMinister").val())
                fd.append('Subject', $("#TxtTitle").val())
                fd.append('Notice', $("#Notice").val())
                fd.append('AssemblyID', '@Model.AssemblyID')
                fd.append('SessionID', '@Model.SessionID')
                fd.append('ChkLocalLang', '@Model.ChkLocalLang')
                fd.append('PaperEntryType', '@Model.PaperEntryType')
                fd.append('BtnCaption', $("#BtnCaption").val())
                fd.append('NoticeId', '@Model.NoticeId')
                fd.append('IsHindi', '@Model.IsHindi')
                fd.append('FileName', '@Model.FileName')
                fd.append('FilePath', '@Model.FilePath')
                fd.append('DemandNo', $("#DdlDemand").val())
                
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/Notices/OnlineMemberQuestions/UpdateByJsonNotice', true);
                xhr.onreadystatechange = function (data) {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var ret = xhr.responseText;
                        document.getElementById("SuccessDiv").style.display = "block"
                        document.getElementById("PMsgShow").innerHTML = ret
                        $("#RightSidebar").html("");
                    }

                };
                xhr.send(fd);
            }
    }
}

function Submit() {
    // debugger
    if (confirm("Are you sure ?")) {
        $("#BtnCaption").val("Submit");
        if ('@Model.PaperEntryType' == "NewEntry") {
            if ($("#SignFilePath").val() == "") {
                ChangeSign('New')
            }
            else {
                $("#form1").submit();
            }
        }
        else if ('@Model.PaperEntryType' == "UpdateEntry") {

            if ($("#SignFilePath").val() == "") {
                ChangeSign('UpdateNotice')
            }
            else {
                var file = document.getElementById('filePaerLaid');
                var fd = new FormData();
                fd.append('file', file.files[0]);
                fd.append('EventId', $("#DdlCategory").val())
                fd.append('MinistryId', $("#DdlEntryMinister").val())
                fd.append('Subject', $("#TxtTitle").val())
                fd.append('Notice', $("#Notice").val())
                fd.append('AssemblyID', '@Model.AssemblyID')
                fd.append('SessionID', '@Model.SessionID')
                fd.append('ChkLocalLang', '@Model.ChkLocalLang')
                fd.append('PaperEntryType', '@Model.PaperEntryType')
                fd.append('BtnCaption', $("#BtnCaption").val())
                fd.append('NoticeId', '@Model.NoticeId')
                fd.append('IsHindi', '@Model.IsHindi')
                fd.append('FileName', '@Model.FileName')
                fd.append('FileName', '@Model.FilePath')
                fd.append('DemandNo', $("#DdlDemand").val())
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/Notices/OnlineMemberQuestions/UpdateByJsonNotice', true);
                xhr.onreadystatechange = function (data) {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var ret = xhr.responseText;
                        document.getElementById("SuccessDiv").style.display = "block"
                        document.getElementById("PMsgShow").innerHTML = ret
                        $("#RightSidebar").html("");
                    }

                };
                xhr.send(fd);
            }
        }
}
}


function ChkChange() {

    if ($("#ChkLocal").attr("checked")) {
        $("#ChkLocalLang").val("Local")
    }
    else {
        $("#ChkLocalLang").val("")
    }
}

function isNumberKey(evt) {
    var charCode = (evt.which) ? evt.which : event.keyCode;
    if (charCode != 46 && charCode > 31
      && (charCode < 48 || charCode > 57)) {
        alert("Only Number Allowed !")
        return false;

    }

    return true;
}

function ChangePaper() {
    $("#spnPapertobeLaid").css("display", "none");
    $("#spnPaperupload").css("display", "block");
    $("#AChangePaper").css("display", "none");
    return false;
}
function ChangeSign(SType) {
    $.ajax({
        url: "/Notices/OnlineMemberQuestions/SignPopup",
        type: 'GET',
        data: { SignType: SType, Id: 0 },
        success: function (data) {
            $('#DivSignModelData').html("");
            $('#DivSignModelData').html(data);

            var dialog = $("#DivSignModel").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-file-pdf-o green'></i> Add Signature</h4></div>",
                width: 600,
                height: 200,
                title_html: true
            });
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
            alert(thrownError);
        }
    })
    return false;
}


$("#DdlCategory").change(function () {
    var val = $("#DdlCategory").val()
    if (val == 74) {
        jQuery('div#Demandshow').show();
    }
    else if (val == 75) {
        jQuery('div#Demandshow').show();
    }
    else if (val == 76) {
        jQuery('div#Demandshow').show();
    }
    else {
        jQuery('div#Demandshow').hide();
    }
});

</script>


