﻿@model IEnumerable<SBL.DomainModel.ComplexModel.SMSEmailReport>
@{int count = 0;
  int k = 0;
  string mailIDS = "";}
<div id="SMSids" class="hdneId" style="display:none;"></div>
<div>
    <a class="btn btn-minier btn-yellow" aria-hidden="true" data-toggle="tooltip" data-placement="right" onclick="SendAgainSMS()" title="Send SMS Again" style="cursor:pointer;margin-bottom:5px;">Send SMS
</a>
</div>
<div class="pass-table">

	<div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">

		<table class="table table-striped table-bordered table-hover dataTable leftaligntable" id="sample-table-2" aria-describedby="sample-table-2_info">
			<thead>
				<tr role="row">
                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">
                                <input type="checkbox" class="chkList" id="chkSelAll" onclick="clickAll();" /></th>
				@*	<th class=" sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">#</th>*@
					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Recipient</th>
					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width:20%">DateTime</th>
					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width:60%">Text</th>
					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Status</th>
				
				</tr>
			</thead>

			<tbody role="alert" aria-live="polite" aria-relevant="all">
				@if (Model != null)
				{
					foreach (var item in Model)
					{

						count = count + 1;
						string style = (count % 2 == 0) ? "odd" : "even";

						//  var trID = item.SystemModuleID;
						

					<tr class="@style"id="@count" >
						<!-- <tr class="" id="" onclick="">-->
                        <td class="">
                           <i class=""> <input id='chk_@count' type="checkbox" class="chkp" name="@item.MessageID" onclick="AddToList(this.id, this.name)"/></i>

                        </td>
						@*<td class="" >@count</td>*@
					  <td class="">
							<i class="">@item.Name</i>
						</td>
						
						  <td class="">@item.timeSpan</td>
						<td class="">
							<i class="">@item.Body</i>
						</td>
                        <td>
					    @if (item.status == "Sent")
                                            {
                                                <span class="label label-sm label-success">@item.status</span>
                                            }
                                            else
                                            {
                                                <span class="label label-sm label-warning">@item.status</span>
                                            }
						
						
                            </td>
						
					</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>

<script>
    $(document).ready(function () {
        tableinit();
    });
    function tableinit() {
        var oTable1 =
		 $('#sample-table-2')
		 .dataTable({
		     "bDestroy": true,
		     bAutoWidth: true,
		     "aoColumns": [
				{ "bSortable": false },
			   null, null, null,

			   { "bSortable": false }

		     ]
		 });
    }

    function SendAgainSMS() {
        var sMSIds = $('#SMSids').html();

        $("#loader-wrapper").show();
        $.ajax({
            url: "/Notices/OnlineMemberQuestions/SendAgainSMS",
            type: 'GET',
            data: {
                sMSIds: sMSIds
            },
            success: function (data) {
                if (data) {
                    getList();
                    alert(data);
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }

    function clickAll() {

        var status = $("#chkSelAll").prop('checked');
        var checkboxes = document.getElementsByClassName("chkp");
        if (status == true) {
            $('#SMSids').html('');

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                    if (checkboxes[i].checked = true) {
                        AddToList(checkboxes[i].id, checkboxes[i].name)
                    }
                }
            }
        }
        else {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;

                }
            }
            $('#SMSids').empty();
            $('#SMSids').html('');

        }
    }

    function AddToList(chkid, efileattid) {

        var status = $('#' + chkid + '').is(':checked');
        if (status == true) {
            var eids = efileattid + ',';
            $('#SMSids').append(eids);

        }
        else {

            var a = $('#SMSids').html();
            var b = a.replace(efileattid + ',', " ");
            $('#SMSids').empty();
            $('#SMSids').append(b);
        }

    }

    $(".checkstatus").click(function (obj) {

        if ($(obj.target.id).checked) {
            $(obj.target.id).val('true');
        }
        else {
            $(obj.target.id).val('false');
        }
    });
    function checkAll(ele) {
        var checkboxes = document.getElementsByTagName('input');
        if (ele.checked) {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                }
            }
        } else {
            for (var i = 0; i < checkboxes.length; i++) {
                console.log(i)
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                }
            }
        }
    }
    function saveRemark(remark, autoID) {
        var pathurl = "@Url.Action("saveBillRemark", "salary")";
	    $.ajax({
	        url: pathurl,
	        type: 'GET',
	        data: {
	            remark: remark, autoID: autoID

	        },
	        success: function (data) {
	            try {

	                var RemarkList = data.split("@@");
	                $("#remarkUL_" + autoID + " ul").empty();
	                var count = 0;
	                for (var i = 0; i < RemarkList.length; i++) {
	                    try {
	                        if (RemarkList[i] != '') {
	                            count++;

	                            if (RemarkList[i] != '') {
	                                var text = RemarkList[i].split("**");
	                                $("#remarkUL_" + autoID + " ul").append('<li><a href=\"#\"><img src=\"../../../assets/avatars/avatar2.png\" class=\"msg-photo\" /><span class=\"msg-body\"><span class=\"msg-title\" ><span class=\"blue\" >' + text[0] + ' </span>' + text[1] + '</span><span class=\"msg-time\"><i class=\"ace-ico nfa fa-clock-o\"></i><span>' + text[2] + '</span></span></span></a></li>');
	                            }

	                        }
	                    }
	                    catch (error) {
	                        alert(count + ' ' + error);
	                    }
	                }
	                $(".remarkCount_" + autoID + "").html('');
	                $(".remarkCount_" + autoID + "").html(count);
	                $('#reverse').append(function () {
	                    return $(this).children().get().reverse()
	                });
	                $("#transparent_" + autoID + "").addClass("transparent open");
	            } catch (error) {
	                alert(error.message);
	            }
	            //	getList(4, 'All');

	        }
	    });
	}
	$(".newRemark").on(ace.click_event, function (event) {

	    bootbox.prompt("Enter New Remark", function (result) {
	        if (result === null) {

	        } else {
	            saveRemark(result, event.target.id);
	        }
	    });
	});
	function generatePDF(id, pdf) {
	    $("#loader-wrapper").show();
	    var pathurl = "@Url.Action("generatePdfByAutoID", "salary")";
		$.ajax({
		    url: pathurl,
		    type: 'GET',
		    data: {
		        id: id, pdf: pdf

		    },
		    success: function (data) {
		        $("#loader-wrapper").hide();
		        $("#PDFconfirmation").modal({                    // wire up the actual modal functionality and show the dialog
		            "backdrop": "static",
		            "keyboard": true,
		            "show": true                     // ensure the modal is shown immediately
		        });
		        $("#filepath").attr("href", data);
		        $("#returnAutoID").val(id);

		    }
		});

    }
</script>