﻿@model SBL.DomainModel.Models.Diaries.MlaDiary
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
<script src="~/Scripts/jquery.alerts.js"></script>
@*<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.timepicker1.js"></script>*@






<style>
    .DdlClass
    {
        width: 100%;
    }
</style>

@*<div class="widget-box sblFullScreen">*@
@* <div class="widget-header widget-header-flat">
        <h4 class="widget-title">@Resources.Member.Search</h4>
    </div>*@
@*  <div class="widget-body">
        <div class="widget-main no-padding-right no-padding-left">*@





<div class="profile-user-info profile-user-info-striped" style="margin: 0px; width: 100%;">
    <div class="col-xs-12" style="padding-left: 0px;">
        <div class="col-xs-3" style="padding-left: 0px;">
            <div class="profile-info-row">
                <div class="profile-info-name" style="font-size: 12px; padding: 0px;">Doc Type</div>
                <div class="profile-info-value" style="padding: 2px;">
                    <span class="">@Html.DropDownListFor(m => m.DocmentType, new SelectList(Model.DocumentTypelist, "DocmentType", "DocmentTypeName"), new { @id = "DdlDocType", @tabindex = "1", @style = "font-size: 12px;width:109px;" })</span>
                </div>
            </div>
        </div>
        <div class="col-xs-3" style="padding-left: 0px;">
            <div class="profile-info-row">
                <div class="profile-info-name" style="font-size: 12px; padding: 0px;">Action Type</div>

                <div class="profile-info-value" style="padding: 2px;">
                    <span class="">@Html.DropDownListFor(m => m.ActionCode, new SelectList(Model.ActionTypeList, "ActionCode", "ActionName"), "Select", new { @id = "DdlActionType", @tabindex = "2", @style = "font-size: 12px;width:109px;" })</span>
                </div>
            </div>
        </div>
        <div id="divfin" class="col-xs-3" style="padding-left: 0px;">
            <div class="profile-info-row">
                <div class="profile-info-name" style="font-size: 12px; padding: 0px;">Year</div>

                <div class="profile-info-value" style="padding: 2px;">
                    <span class="">@Html.DropDownListFor(m => m.FinancialYear, new SelectList(Model.FinanCialYearList, "Value", "Text"), new { id = "ddFinancialYear", @tabindex = "2", @style = "font-size: 12px;width:95px;" })</span>
                </div>
            </div>
        </div>
        <div class="col-xs-3" style="padding: 0px;">
            <div class="col-xs-12" style="padding: 0px;">

                <div class="col-xs-4" style="padding: 0px; width: 35px;">
                    <div class="profile-info-name" style="font-size: 12px; padding: 0px; vertical-align: central; height: 38px;">Since</div>
                </div>
                <div class="col-xs-4" style="padding: 0px;">

                    <div class="profile-info-value" style="padding: 2px;">

                        <div style="float: left; width: 100%;">
                            <div style="float: left; width: 80%;">
                                <span class="">
                                    @Html.DropDownList("DDPendency", new List<SelectListItem>{

new SelectListItem{Text="Select",Value="0"},new SelectListItem{Text="7 Days",Value="7"},new SelectListItem{Text="15 Days",Value="15"},new SelectListItem{Text="30 Days",Value="30"},new SelectListItem{Text="60 Days",Value="60"},new SelectListItem{Text="90 Days",Value="90"},new SelectListItem{Text="365 Days",Value="365"}
}, new { @style = "font-size: 12px;width:73px;margin-right:20px;" })
                                </span>

                            </div>
                            <div style="float: left; width: 20%;">
                                @*<button  style='margin-left:20px;position:fixed;' class="btn btn-xs btn-primary smaller" onclick="SearchDataByType('@Model.PaperEntryType')">
                                
                                    @Resources.Member.Search
                                </button>*@
                               @* <button type="button" style='margin-left:20px;position:fixed;'  class="btn btn-xs btn-primary smaller" onclick="SearchDataByType('@Model.PaperEntryType')">
                                    //<span class="glyphicon glyphicon-search" onclick="SearchDataByType('@Model.PaperEntryType')"></span>
                                   
                                </button>*@
                              <a style='margin-left:0px;'class="btn btn-xs btn-primary smaller" title="Search" onclick="SearchDataByType('@Model.PaperEntryType')"><img src="~/Images/Header/searchicon1.png" width="19" height="22" title="Search" /></a>
                            </div>
                        </div>



                    </div>
                </div>

            </div>
        </div>


    </div>
</div>

<script>
    $(document).ready(function () {
        var Atype = '@Model.ActionCode';
        $("#DdlActionType").append("<option value='3'>Pending At Diary</option>")
        if (Atype != null || Atype != "") {
            //$("#DdlActionType").prepend("<option value='0' selected='true'>Select</option>")
            $("#DdlActionType").val(Atype);


        }
        else {
            // $("#DdlActionType").prepend("<option value='0' selected='true'>Select</option>")
        }
        var val = '@Model.DocmentType';
        if (val == 3) {
            $("#divfin").show();
        }
        else {
            $("#divfin").hide();
        }
        var PendencySince = '@Model.PendencySince';
        if (PendencySince != null || PendencySince != "") {
            $("#DDPendency").val(PendencySince);
        }

    });
    function SearchDataByType(type) {
        var actioncode = $("#DdlActionType").val();
        var ddFinancialYear = $("#ddFinancialYear").val();
        if (actioncode == "") {
            actioncode = 0;
        }
        $("#loader-wrapper").show();
        $.ajax({
            url: "/Notices/OnlineMemberQuestions/SearchMLADiary_DataByType",
            type: 'GET',
            data: {
                PaperType: type,
                ActionType: actioncode,
                DocType: $("#DdlDocType").val(),
                //  PendencySince: $("#txtPendencySince").val(),
                PendencySince: $("#DDPendency").val(),
                FinancialYear: ddFinancialYear
            },
            success: function (data) {
                if (data) {
                    $("#divbindList").html(data)
                    $("#RightSidebar").html("");

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
        $("#loader-wrapper").hide();
    }

    $("#DdlDocType").change(function () {

        var val = $("#DdlDocType").val();
        if (val == 3) {
            $("#divfin").show();
        }
        else {
            $("#divfin").hide();
        }
    })

</script>


