﻿@*@using StackExchange.Profiling;*@

@model SBL.DomainModel.Models.Notice.tMemberNotice

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}
<style>
	#pWorksUpdate::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		background-color: #F5F5F5;
	}

	#pWorksUpdate::-webkit-scrollbar {
		width: 10px;
		background-color: #F5F5F5;
	}

	#pWorksUpdate::-webkit-scrollbar-thumb {
		background-color: #0ae;
		background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
	}
</style>
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />

@Html.HiddenFor(m => m.SessionID, new { @id = "SId" })
@Html.HiddenFor(m => m.AssemblyID, new { @id = "AId" })
@Html.HiddenFor(m => m.Message)
@Html.HiddenFor(m => m.Msg)

@Html.Partial("_LeftNavigationMenu")

<style>
	.roundicon {
		padding: 0px 6px 1px 5px;
		line-height: 19px;
		font-size: 16px;
		border-radius: 100%;
		border: 1px solid;
		background-color: #1BAA4E;
		color: white;
	}
</style>

<div class="main-content">
	@Html.Partial("_BreadcrumbsPartial")
	<div class="page-content" id="MainDiv">

	</div>
</div>

<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>

<script src="~/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="~/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>

@*<script src="~/Scripts/jquery.fileDownload.js"></script>*@
<script src="~/assets/js/CommonNotify.js"></script>

<script src="~/assets/js/chosen.jquery.min.js"></script>
@*<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap.js"></script>
<link href="~/Scripts/dataTables.responsive.css" rel="stylesheet" />
<script src="~/Scripts/dataTables.responsive.js"></script>
<script src="~/Scripts/dataTables.responsive.min.js">*@
</script>
@*<script src="~/Scripts/jquery.dataTables.js"></script>
<script src="~/Scripts/dataTables.scroller.js"></script>*@
<link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />

<!-- page specific plugin styles -->
<link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="~/assets/css/chosen.css" />

<link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.css" />
<link rel="stylesheet" href="~/assets/css/daterangepicker.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.css" />
<link rel="stylesheet" href="~/assets/css/colorpicker.css" />
<script src="~/assets/js/jquery.autosize.min.js"></script>
<!-- text fonts -->
<link rel="stylesheet" href="~/assets/css/ace-fonts.css" />

<!-- ace styles -->
<link rel="stylesheet" href="~/assets/css/ace.min.css" />

<!--[if lte IE 9]>
			<link rel="stylesheet" href="~/assets/css/ace-part2.min.css" />
		<![endif]-->
<link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
<link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />
<link rel="stylesheet" href="~/assets/css/datepicker.css" />
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-timepicker.min.js"></script>

<div id="viewProgressImages" class="modal"></div>
<div id="viewFinancialProgress" class="modal"></div>
<div id="viewphysicalProgress" class="modal"></div>
<div id="AssigntoOfficer" class="modal"></div>
<div id="pWorksUpdateModal" class="modal"></div>
<div id="pWorksAllUpdateModal" class="modal"></div>
<script type="text/javascript">

	$(document).ready(function () {
		GetDivData();
		getWorksUpdate();
		try {
			$('.chosen-select').chosen({ allow_single_deselect: true });

			$(window).on('resize.chosen', function () {
				var w = $('.chosen-select').parent().width();
				$('.chosen-select').next().css({ 'width': '100%' });
			}).trigger('resize.chosen').trigger("chosen:updated")
		}
		catch (error) {
		}
		var callingMethod = $("#Msg").val();

		if (callingMethod == "") {
			getDashboard();
		}
		else if (callingMethod == "Starred") {
			GetActionView("Starred Questions", 1)
			//GetStartedQuestions();
		}
		else if (callingMethod == "Unstarred") {
			GetActionView("Unstarred Questions", 1)
			//GetUnstartedQuestions();
		}
		else if (callingMethod == "Notice") {
			GetActionView("Notices", 1)
			//GetNotices();
		}

		if ('@Model.Message' != "" && '@Model.Message' != null) {
			document.getElementById("SuccessDiv").style.display = "block";
		}
		if (callingMethod != "") {
			$("#li_" + '@ViewBag.MenuId').addClass("active")
		}
		$(".lipWorksUpdateclick").live("click", function () {
			//pWorksUpdateModal
			$("#loader-wrapper").show();
			var pathurl = '/Constituency/Constituency/getworkDetailsByUpdateID';
			$.ajax({
				url: pathurl,
				type: 'GET',
				data: { updateID: this.id },
				success: function (data) {
					$("#pWorksUpdateModal").html("");
					$("#pWorksUpdateModal").html(data);
					$("#pWorksUpdateModal").modal({
					    "backdrop": "false",
						"keyboard": true,
						"show": true,
						"animate": true,
					});
					$("#loader-wrapper").hide();
				}
			});
		});
	});
	function pWorksAllUpdate()
	{
		$("#loader-wrapper").show();
		var pathurl = '/Constituency/Constituency/getAllUpdate';
		$.ajax({
			url: pathurl,
			type: 'PUT',
			data: { updateID: this.id },
			success: function (data) {
				$("#pWorksAllUpdateModal").html("");
				$("#pWorksAllUpdateModal").html(data);
				$("#pWorksAllUpdateModal").modal({
					"backdrop": "static",
					"keyboard": true,
					"show": true
				});
				$("#loader-wrapper").hide();
			}
		});
	}
	function getWorksUpdate()
	{
		var pathurl = '/Constituency/Constituency/getLatestUpdate'; //Url.Action("getLatestUpdate","Constituency","Constituency")
		$.ajax({
			url: pathurl,
			type: 'POST',

			success: function (data) {
				$("#pWorksUpdate ul").empty();
				$(".pWorksUpdatecountBadge").html(data.length);
				for (var i = 0; i < data.length; i++) {
					var item = data[i];

					if (!item.read) {
						console.log(item.read);
						$("#pWorksUpdate ul").append('<li style="background-color:#FFD6D2;"   ><a href="javascript:void(0)" class="lipWorksUpdateclick" id=' + item.autoID + '><img src=' + item.imagePath + ' class="msg-photo" alt="Alexs Avatar" /><span class="msg-body"><span class="msg-title"><span class="blue">' + item.workName + '</span><br/>' + item.Remarks + ' by ' + item.OfficerName + '</span><span class="msg-time"><i class="ace-icon fa fa-clock-o"></i> <span>' + item.SubmitTimeString + '</span></span></span></a></li>');
					}

					else {
						$("#pWorksUpdate ul").append('<li  ><a href="javascript:void(0)" class="lipWorksUpdateclick" id=' + item.autoID + '><img src=' + item.imagePath + ' class="msg-photo" alt="Alexs Avatar" /><span class="msg-body"><span class="msg-title"><span class="blue">' + item.workName + '</span><br/>' + item.Remarks + ' by ' + item.OfficerName + '</span><span class="msg-time"><i class="ace-icon fa fa-clock-o"></i> <span>' + item.SubmitTimeString + '</span></span></span></a></li>');
					}




					//$.gritter.add({
					//    title: data[i].workName,
					//    text: data[i].Remarks + ' by ' + data[i].OfficerName + ' ' + Date(data[i].SubmitTime),
					//    image: data[i].imagePath,
					//    sticky: false,
					//    time: '6000',
					//    class_name: 'gritter-info',
					//});
				}



			}
		});

	}
	function GetSubMenu(Id) {
		$.ajaxSetup({ cache: false });
		var pathurl = '@Url.Action("GetSubMenu", "OnlineMemberQuestions")';
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
				ModuleId: Id
			},
			success: function (data) {
				$("#List").html(data);

			}
		});
	}

	function ChangeLangaugeHindi() {

		$.ajax({
			url: "/Home/ChangeCulture",
			type: 'GET',
			data: {
				lang: "43177cd4-b51d-497a-a3bc-e81f23b07450",
				langCulture: "/"
			},
			success: function (data) {
				if (data) {
					window.location.href = '@Url.Action("Index", "OnlineMemberQuestions", new { Area = "Notices" })';
				} else { alert("error"); }
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.status);
				alert(thrownError);
			}
		});
	}

	function ChangeLangaugeEnglish() {

		$.ajax({
			url: "/Home/ChangeCulture",
			type: 'GET',
			data: {
				lang: "7C4F28F6-02FC-4627-993D-E255037531AD",
				langCulture: "/"
			},
			success: function (data) {
				if (data) {
					window.location.href = '@Url.Action("Index", "OnlineMemberQuestions", new { Area = "Notices" })';
				} else { alert("error"); }
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.status);
				alert(thrownError);
			}
		});
	}

	$("#sizeDown").click(function () {
		if ($("body").hasClass('sizeLarge')) {
			$("body").css("font-size", "13px");
			$("body").removeClass('sizeLarge');
		} else {
			$("body").css("font-size", "10px");
			$("body").addClass('sizeSmall');
		}
	});

	$("#sizeUp").click(function () {
		if ($("body").hasClass('sizeSmall')) {
			$("body").css("font-size", "13px");
			$("body").removeClass('sizeSmall');
		} else {
			$("body").css("font-size", "18px");
			$("body").addClass('sizeLarge');
		}
	});

	$('#sidebar-collapse').on('click', function () {
		var parentWidth = $('#resize-left').parent().width();
		if ($('#sidebar').hasClass('menu-min')) {
			parentWidth = parentWidth - 130;
		} else { parentWidth = parentWidth + 110; }

		var remainingSpace = parentWidth - $('#resize-left').outerWidth();
		var divTwo = $('#resize-left').next();
		var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
		divTwo.css('width', divTwoWidth + 'px');

		//alert("ds");
		setTimeout(function () {
			$("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
		}, 50);
	});

	function ClearControls() {
		$("#RightSidebar").html("");
	}

	function SaveModuleIdActionId(MId, AIds) {
		//alert(Id);

		$.ajax({
			url: "/Home/CaptureModuleIdActionId",
			type: 'GET',
			data: {
				ModuleId: MId,
				ActionIds: AIds
			},
			success: function (data) {
			}
		})
	}

	function RemoveClass() {
		$("#li_" + '@ViewBag.MenuId').removeClass("active");
	}
	function GetDivData() {
		$.ajaxSetup({ cache: false });
		var pathurl = '@Url.Action("GetDivData", "OnlineMemberQuestions")';
		$.ajax({
			url: pathurl,
			type: 'GET',
			success: function (data) {
				$("#MainDiv").empty();
				$("#MainDiv").html(data);

			}
		});
	}
	function GetActionView(Type, Cnt) {
	    debugger;
	    GetDivData();
	    resizeLeftPanel(90);

		$("#two-column").css("display", "block")
		if (Type == "Department and Office") {

			$("#divLeftContainer").css("display", "none")
			$("#divRightContainer").css("display", "none")
			$('#outerDiv').hide();
			$("#outerDiv").html("");
			$("#FormPart").html("");
			ClearControls();
			$('.widget-box').hide();

			$("#loader-wrapper").show();

			$.ajaxSetup({ cache: false });

			var pathurl = '@Url.Action("GetAllDepartmentoffice", "OnlineMemberQuestions")';
			$.ajax({
				url: pathurl,
				type: 'GET',
				data: {},
				success: function (data) {
					$("#divDataContainer").html(data);
					$("#loader-wrapper").hide();
					$("#fullsizeDiv").empty();

				}
			});

		}

		else if (Type == "Constituency and Panchayat") {
			$("#divLeftContainer").css("display", "none")
			$("#divRightContainer").css("display", "none")
			$('#outerDiv').hide();
			$("#outerDiv").html("");
			$("#FormPart").html("");
			ClearControls();
			$('.widget-box').hide();

			$("#loader-wrapper").show();

			$.ajaxSetup({ cache: false });

			var pathurl = '@Url.Action("GetAllDisrictPanchayat", "OnlineMemberQuestions")';
			$.ajax({
				url: pathurl,
				type: 'GET',
				data: {

				},
				success: function (data) {
					$("#divDataContainer").html(data);
					//$("#loader-wrapper").hide();
					$("#fullsizeDiv").empty();

				}
			});
			//$("#loader-wrapper").show();

			$.ajaxSetup({ cache: false });
			//alert('2')
			var pathurl = '@Url.Action("GetAllDisrictPanchayat1", "OnlineMemberQuestions")';

			$.ajax({
				url: pathurl,
				type: 'GET',
				data: {

				},
				success: function (data) {
					$("#RightSidebar").html("");
					$("#RightSidebar").html(data);
					$("#loader-wrapper").hide();

					$("#fullsizeDiv").empty();

				}
			});
		}
		else {
			$("#divLeftContainer").css("display", "block")
			$("#divRightContainer").css("display", "block")
			$('.widget-box').hide();
			$("#loader-wrapper").show();

			$.ajaxSetup({ cache: false });
			var pathurl = '@Url.Action("GetActionView", "OnlineMemberQuestions")';
	$.ajax({
		url: pathurl,
		type: 'GET',
		data: {
			PaperType: Type,
			AID: '@Model.AssemblyID',
					SID: '@Model.SessionID',
					Count: Cnt
					//ActionId: AIDs
				},
				success: function (data) {
					$('#outerDiv').hide();
					$("#outerDiv").html("");
					$("#divDataContainer").html(data);
					$("#FormPart").html("");
					$("#fullsizeDiv").empty();
					ClearControls();
					$("#loader-wrapper").hide();
					ChangeBreadCrumbParent('@Resources.Member.OnlineSubmission', "");
					if (Type == "Starred Questions") {

						ChangeBreadCrumbChild('@Resources.Diaries.StarredQuestion', "");
					}
					else if (Type == "Unstarred Questions") {
						ChangeBreadCrumbChild('@Resources.Diaries.UnstarredQuestion', "");
					}
					else if (Type == "Notices") {
						ChangeBreadCrumbChild('@Resources.Diaries.Notices', "");
					}
				    if (Type == "ConstituencyOfficeGroupMembers") {
				        $('#resize-left').width('100%');
				        $('#spnScrollPosition').html('1');
				        $('#resize-right').animate({ width:'0%' }, 500);
				    }
				}
			});
}

}

function GetActionView1() {
	$("#loader-wrapper").show();

	$('.widget-box').hide();
	$.ajaxSetup({ cache: false });
	var pathurl = '@Url.Action("GetAllDisrictPanchayat", "OnlineMemberQuestions")';
	$.ajax({
		url: pathurl,
		type: 'GET',
		data: {

		},
		success: function (data) {
			$('#outerDiv').hide();
			$("#outerDiv").html("");
			$("#divDataContainer").html(data);
			$("#FormPart").html("");
			$("#fullsizeDiv").empty();
			//ClearControls();
			$("#loader-wrapper").hide();

		}
	});
}

function GetStartedQuestions() {
	$('.widget-box').hide();
	var cl = new CanvasLoader('canvasloader-container1');
	cl.show();
	$.ajaxSetup({ cache: false });
	var pathurl = '@Url.Action("StaredQuestion", "OnlineMemberQuestions")';
	$.ajax({
		url: pathurl,
		type: 'GET',
		data: {
		},
		success: function (data) {
			$('#outerDiv').hide();
			$("#outerDiv").html("");
			$("#divDataContainer").html(data);
			$("#FormPart").html("");
			$("#fullsizeDiv").empty();
			alert('cmng');

			ClearControls();
			cl.hide();
			ChangeBreadCrumbParent('@Resources.Member.MyQuestions', "");
			ChangeBreadCrumbChild('@Resources.Diaries.StarredQuestion', "");
		}
	});
}

function GetUnstartedQuestions() {
	$('.widget-box').hide();
	var cl = new CanvasLoader('canvasloader-container1');

	cl.show();
	$.ajaxSetup({ cache: false });
	var pathurl = '@Url.Action("UnStarredQuestion", "OnlineMemberQuestions")';
	$.ajax({
		url: pathurl,
		type: 'GET',
		data: {
			PageNumber: "1",
			RowsPerPage: "10",
			loopStart: "1",
			loopEnd: "5"
		},
		success: function (data) {
			$('#outerDiv').hide();
			$("#outerDiv").html("");
			$("#divDataContainer").html(data);
			$("#FormPart").html("");
			$("#fullsizeDiv").empty();
			$("#menu-toggler").removeClass('display');
			ClearControls();
			cl.hide();
			ChangeBreadCrumbParent('@Resources.Member.MyQuestions', "");
			ChangeBreadCrumbChild('@Resources.Diaries.UnstarredQuestion', "");

		}
	});
}

function GetNotices() {
	$('.widget-box').hide();
	var cl = new CanvasLoader('canvasloader-container1');
	cl.show();
	$.ajaxSetup({ cache: false });
	var pathurl = '@Url.Action("GetAllOnlineNotices", "OnlineMemberQuestions")';
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
			},
			success: function (data) {
				$('#outerDiv').hide();
				$("#outerDiv").html("");
				$("#divDataContainer").html(data);
				$("#FormPart").html("");
				$("#fullsizeDiv").empty();
				$("#menu-toggler").removeClass('display');
				ClearControls();
				cl.hide();
				ChangeBreadCrumbParent('@Resources.Member.MyQuestions', "");
				ChangeBreadCrumbChild('@Resources.Diaries.Notices', "");

			}
		});
	}

	function GetAllOnlineSubmission() {
		$('.widget-box').hide();
		var cl = new CanvasLoader('canvasloader-container1');
		cl.show();
		$.ajaxSetup({ cache: false });
		var pathurl = '@Url.Action("GetAllOnlineSubmission", "OnlineMemberQuestions")';
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
			},
			success: function (data) {
				$('#outerDiv').hide();
				$("#outerDiv").html("");
				$("#divDataContainer").html(data);
				$("#FormPart").html("");
				$("#fullsizeDiv").empty();
				$("#menu-toggler").removeClass('display');
				ClearControls();
				cl.hide();
				ChangeBreadCrumbParent('@Resources.Member.MyQuestions', "");
				ChangeBreadCrumbChild('@Resources.Diaries.All', "");
			}
		});
	}

	function HideMessageDiv() {
		document.getElementById("SuccessDiv").style.color = "#3c763d"
		document.getElementById("SuccessDiv").style.display = "none"

	}

	// added code by dharmendra for member tour section //

	function GetAllMemberTourList() {
		$('.widget-box').hide();
		var cl = new CanvasLoader('canvasloader-container1');
		cl.show();
		$.ajaxSetup({ cache: false });
		var pathurl = '@Url.Action("AllMemberTourList", "OnlineMemberQuestions")';
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
				PageNumber: "1",
				RowsPerPage: "10",
				loopStart: "1",
				loopEnd: "5"
			},
			success: function (data) {
				$('#outerDiv').hide();
				$("#outerDiv").html("");
				$("#divDataContainer").html(data);
				$("#FormPart").html('');
				$("#fullsizeDiv").empty();
				ClearControls();
				cl.hide();
				ChangeBreadCrumbParent('@Resources.Member.Tours', "");
				ChangeBreadCrumbChild('@Resources.Member.Tours', "");

			}
		});
	}

	function TodayMemberTourList() {
		$('.widget-box').hide();
		var cl = new CanvasLoader('canvasloader-container1');
		cl.show();
		$.ajaxSetup({ cache: false });
		var pathurl = '@Url.Action("TodayMemberTourList", "OnlineMemberQuestions")';
			$.ajax({
				url: pathurl,
				type: 'GET',
				data: {
					PageNumber: "1",
					RowsPerPage: "10",
					loopStart: "1",
					loopEnd: "5"
				},
				success: function (data) {
					$('#outerDiv').hide();
					$("#outerDiv").html("");
					$("#divDataContainer").html(data);
					$("#FormPart").html('');
					$("#fullsizeDiv").empty();
					ClearControls();
					cl.hide();
					ChangeBreadCrumbParent('@Resources.Member.Tours', "");
				ChangeBreadCrumbChild('@Resources.Member.ToDayProgrammes', "");

			}
		});
	}

	function UpcomingMemberTourList() {
		$('.widget-box').hide();

		$.ajaxSetup({ cache: false });
		var pathurl = '@Url.Action("UpcomingMemberTourList", "OnlineMemberQuestions")';
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
				PageNumber: "1",
				RowsPerPage: "10",
				loopStart: "1",
				loopEnd: "5"
			},
			success: function (data) {
				$('#outerDiv').hide();
				$("#outerDiv").html("");
				$("#divDataContainer").html(data);
				$("#FormPart").html('');
				$("#fullsizeDiv").empty();
				ClearControls();

				ChangeBreadCrumbParent('@Resources.Member.Tours', "");
				ChangeBreadCrumbChild('@Resources.Member.UpcomingProgrammes', "");

			}
		});
	}
	//End Tour section //
	//Added By BADRI FOR Member Gallery
	function MemberCategory() {
		$('.widget-box').hide();
		var cl = new CanvasLoader('canvasloader-container1');
		cl.show();
		$.ajaxSetup({ cache: false });
		var pathurl = '@Url.Action("GetAllMemberCategory", "OnlineMemberQuestions")';
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
				PageNumber: "1",
				RowsPerPage: "10",
				loopStart: "1",
				loopEnd: "5"
			},
			success: function (data) {
				$("#divDataContainer").html(data);
				$("#fullsizeDiv").empty();
				cl.hide("");

			}
		});
	}

	function MemberAlbum() {
		$('.widget-box').hide();
		var cl = new CanvasLoader('canvasloader-container1');
		cl.show();
		$.ajaxSetup({ cache: false });
		var pathurl = '@Url.Action("GetGalleryAlbumIndex", "OnlineMemberQuestions")';
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
				PageNumber: "1",
				RowsPerPage: "10",
				loopStart: "1",
				loopEnd: "5"
			},
			success: function (data) {
				$("#divDataContainer").html(data);
				$("#fullsizeDiv").empty();
				cl.hide("");

			}
		});
	}

	function MemberGallery() {
		$('.widget-box').hide();
		var cl = new CanvasLoader('canvasloader-container1');
		cl.show();
		$.ajaxSetup({ cache: false });
		var pathurl = '@Url.Action("GetGalleryForm", "OnlineMemberQuestions")';
			$.ajax({
				url: pathurl,
				type: 'GET',
				data: {
					PageNumber: "1",
					RowsPerPage: "10",
					loopStart: "1",
					loopEnd: "5"
				},
				success: function (data) {
					$("#divDataContainer").html(data);
					$("#fullsizeDiv").empty();
					cl.hide("");

				}
			});
		}

		function getDashboard() {
			$("#two-column").css("display", "none")
			$.ajaxSetup({ cache: false });
			var pathurl = '@Url.Action("MainOnlineDashboard", "OnlineMemberQuestions")';
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
			},
			success: function (data) {
				$("#divDataContainer").html("");
				$("#FormPart").html("");
				$('#outerDiv').show();
				$("#outerDiv").html(data);
				$("#fullsizeDiv").empty();
				ClearControls();
				//document.getElementById("MainDiveThreeTire").style.display = "none";
				//document.getElementById("MainDiveTwoTire").style.display = "none";
				ChangeBreadCrumbParent('@Resources.Diaries.MyDashboard', "");
					ChangeBreadCrumbChild('@Resources.Diaries.All', "");

				}
			});
		}
		/// access control list///////////////////

		function WebAdminAcceptRejectUser() {
			$("#loader-wrapper").show();
			var pathurl = '@Url.Action("WebAdminAcceptRejectUser", "AcceptRejectUserRequest", new { @area = "" })';

		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {

			},
			cache: false,
			success: function (data) {
				//cl5.show();

				document.getElementById("MainDiveThreeTire").style.display = "none";
				document.getElementById("MainDiveTwoTire").style.display = "block";

				$("#outerDiv").html("");
				$("#outerDiv").hide();
				$("#SuccessDiv").hide();
				$("#divDataContainer").empty();
				$("#RightSidebar").empty();

				$("#divDataContainerTwoTire").empty();

				$("#divDataContainerTwoTire").html(data);

				ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp");
				ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");
				$("#loader-wrapper").hide();
				$("#fullsizeDiv").empty();
				//alert("test1");
			}
		});
	}

	function WebAdminAccepted() {
		$("#loader-wrapper").show();
		var pathurl = '@Url.Action("WebAdminAccepted", "AcceptRejectUserRequest", new { @area = "" })';

		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {

			},
			cache: false,
			success: function (data) {
				$("#loader-wrapper").hide();
				$("#two-column").css("display", "none");
				$("#MainDiveTwoTire").css("display", "block");
				$("#divDataContainerTwoTire").html(data);
				$("#divbindList").empty();
				$("#fullsizeDiv").empty();
			}
		});
	}

	function WebAdminRejected() {
		$("#loader-wrapper").show();
		var pathurl = '@Url.Action("WebAdminRejected", "AcceptRejectUserRequest", new { @area = "" })';

		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {

			},
			cache: false,
			success: function (data) {
				$("#loader-wrapper").hide();
				$("#two-column").css("display", "none");
				$("#MainDiveTwoTire").css("display", "block");
				$("#divDataContainerTwoTire").html(data);
				$("#divbindList").empty();
				$("#fullsizeDiv").empty();
			}
		});
	}

	function EditWebAdminAcceptReject(id) {
		$("#loader-wrapper").show();
		var pathurl = '@Url.Action("EditWebAdminAcceptReject", "AcceptRejectUserRequest", new { @area = "" })';

		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
				Id: id
			},
			cache: false,
			success: function (data) {
				// cl.hide();
				$("#two-column").css("display", "none");
				$("#MainDiveTwoTire").css("display", "block");
				$("#divDataContainerTwoTire").html(data);
				$("#divbindList").empty();
				$("#loader-wrapper").hide();
				$("#fullsizeDiv").empty();

			}
		});
	}

	function DeleteWebAcceptRejectUser(id) {
		$("#loader-wrapper").show();
		var pathurl = '@Url.Action("DeleteWebAcceptRejectUser", "AcceptRejectUserRequest", new { @area = "" })';

		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
				SIds: id
			},
			cache: false,
			success: function (data) {
				// alert("test");
				//  cl5.show();
				document.getElementById("MainDiveThreeTire").style.display = "none";
				document.getElementById("MainDiveTwoTire").style.display = "block";

				$("#outerDiv").html("");
				$("#outerDiv").hide();
				$("#SuccessDiv").hide();
				$("#divDataContainer").empty();
				$("#RightSidebar").empty();

				$("#divDataContainerTwoTire").empty();

				$("#divDataContainerTwoTire").html(data);
				//  alert("test");
				ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp");
				ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");
				$("#loader-wrapper").hide();
				$("#fullsizeDiv").empty();
				//alert("test1");
			}
		});
	}

	function EditWebAdminAccepted(id) {
		$("#loader-wrapper").show();
		var pathurl = '@Url.Action("EditWebAdminAccepted", "AcceptRejectUserRequest", new { @area = "" })';

		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
				id: id
			},
			cache: false,
			success: function (data) {

				$("#two-column").css("display", "none");
				$("#MainDiveTwoTire").css("display", "block");
				$("#divDataContainerTwoTire").html(data);
				$("#divbindList").empty();
				$("#loader-wrapper").hide();
				$("#fullsizeDiv").empty();
			}
		});
	}
	function SendUserAcccessRequest1() {
		setvalue();
		$("#loader-wrapper").show();
		var _ID = $("#iID").val();
		var _ActionList = $("#hdnUserAccessAccess").val();
		var _SecreataryId = $("#iSecreataryId").val();
		var _AssociateDepartmentId = $("#iAssociateDepartmentId").val();

		var pathurl = '@Url.Action("SendUserAcccessRequest1", "AcceptRejectUserRequest", new { @area = "" })';

		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
				ID: _ID,
				SecreataryId: _SecreataryId,
				AssociateDepartmentId: _AssociateDepartmentId,
				hdnUserAccessAccess: _ActionList
			},
			cache: false,
			success: function (data) {
				// alert("test");
				// cl5.show();
				//document.getElementById("MainDiveThreeTire").style.display = "none";
				//document.getElementById("MainDiveTwoTire").style.display = "block";

				//$("#outerDiv").html("");
				//$("#outerDiv").hide();
				//$("#SuccessDiv").hide();
				//$("#divDataContainer").empty();
				//$("#RightSidebar").empty();

				$("#divDataContainerTwoTire").empty();
				$("#divbindList").empty();
				$("#divbindList").html(data);
				//  alert("test");
				ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp");
				ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");
				$("#loader-wrapper").hide();
				$("#fullsizeDiv").empty();
				//alert("test1");
			}
		});
	}
	function DeleteWebAcceptUser(id) {
		$("#loader-wrapper").show();
		var pathurl = '@Url.Action("DeleteWebAcceptUser", "AcceptRejectUserRequest", new { @area = "" })';

		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
				SIds: id
			},
			cache: false,
			success: function (data) {
				// alert("test");
				//  cl5.show();
				document.getElementById("MainDiveThreeTire").style.display = "none";
				document.getElementById("MainDiveTwoTire").style.display = "block";

				$("#outerDiv").html("");
				$("#outerDiv").hide();
				$("#SuccessDiv").hide();
				$("#divDataContainer").empty();
				$("#RightSidebar").empty();

				$("#divDataContainerTwoTire").empty();

				$("#divDataContainerTwoTire").html(data);
				//  alert("test");
				ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp");
				ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");
				$("#loader-wrapper").hide();
				$("#fullsizeDiv").empty();
				//alert("test1");
			}
		});
	}

	function ModuleUpdatecheckValidation() {
		var SIds = document.getElementById("SelectedSignChkbxId").value;

		if (SIds != null || SIds != "") {
			alert("Are You Sure Want to Update?");
			var pathurl = '@Url.Action("UpdateWebAcceptUser", "AcceptRejectUserRequest", new { @area = "" })';
			$.ajax({
				url: pathurl,
				type: 'GET',
				data: {
					SIds: SIds
				},
				success: function (data) {
					if (data) {
						alert("Update Successfully");
						//WebAdminAcceptRejectUser();
						//$("#divbindList").html(data)
						//$("#RightSidebar").html("");
						//$("#divDataContainerTwoTire").empty();
						//$("#SuccessDiv").empty();
						window.location.href = '@Url.Action("Index", "OnlineMemberQuestions", new { Area = "OnlineMemberQuestions" })';

					}

				},
				error: function (xhr, ajaxOptions, thrownError) {
					alert(xhr.responseText);
					alert(thrownError);
					location.reload(true);
				}
			});
		}

		else {
			//alert("Save successfully");
		}
	}

	function ModuleUpdateReject() {

		var SIds = document.getElementById("SelectedSignChkbxId").value;

		if (SIds != null || SIds != "") {
			alert("Are You Sure Want to Update?");
			var pathurl = '@Url.Action("UpdateWebRejectUser", "AcceptRejectUserRequest", new { @area = "" })';
			$.ajax({
				url: pathurl,
				type: 'GET',
				data: {
					SIds: SIds
				},
				success: function (data) {
					if (data) {
						alert("Update Successfully");
						window.location.href = '@Url.Action("Index", "OnlineMemberQuestions", new { Area = "OnlineMemberQuestions" })';

					}

				},
				error: function (xhr, ajaxOptions, thrownError) {
					alert(xhr.responseText);
					alert(thrownError);
					location.reload(true);
				}
			});
		}

		else {
			//alert("Save successfully");
		}
	}

	function hideLeftPanel() {
		$('#resize-left').width(0);
		$('#resize-right').width(100 + '%')

	}

	function hideLeftPanelAnimate() {
		resizeLeftPanel(0);
	}

	function hideRightPanel() {
		$('#resize-left').width(100 + '%');
		$('#resize-right').width(0)
	}

	function hideRightPanelAnimate() {
		resizeLeftPanel(100);
	}
	function pWorksUpdateModalSuccess()
	{
		$("#pWorksUpdateModal").modal('hide');
		ShowNotification("success", "Work Has been update");
		getWorksUpdate();
	}
	function resizeClick(isLeft) {

		var parentWidth = $('#resize-left').parent().outerWidth();
		if (isLeft) { // click on left rezise button
			if ($('#resize-left').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
			else { resizeLeftPanel(0); }
			$('#spnScrollPosition').html('1');
		} else {
			if ($('#resize-right').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
			else { resizeLeftPanel(100); }
			$('#spnScrollPosition').html('2');
		}
	}

	function resizeLeftPanel(sizeRatio) {
		var parentWidth = $('#resize-left').parent().width();
		$('#resize-left').animate({ width: +(sizeRatio) + '%' }, 500);
		$('#resize-right').animate({ width: +(100 - sizeRatio) + '%' }, 500);
	}
	function GetCurrentSessionReq() {
		$("#loader-wrapper").show();

		var pathurl = '@Url.Action("PartialPassRequestList", "MemberPass", new { @area = "Notices" })';

		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {

			},
			cache: false,
			success: function (data) {
				$("#loader-wrapper").hide();
				var parentWidth = $('#resize-left').parent().outerWidth();
				if ($('#resize-right').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
				else { resizeLeftPanel(100); }
				$('#spnScrollPosition').html('2');
				$('#divDataContainer').empty();
				$("#divDataContainer").html(data);
				//  alert("test");
				ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp");
				ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");

				//alert("test1");
			}
		});
	}

	function GetCurrentSessionVehiclePass() {
		$("#loader-wrapper").show();

		var pathurl = '@Url.Action("PartialVehiclePassList", "MemberPassVehicle", new { @area = "Notices" })';

		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {

			},
			cache: false,
			success: function (data) {
				$("#loader-wrapper").hide();
				var parentWidth = $('#resize-left').parent().outerWidth();
				if ($('#resize-right').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
				else { resizeLeftPanel(100); }
				$('#spnScrollPosition').html('2');
				$('#divDataContainer').empty();
				$("#divDataContainer").html(data);
				ChangeBreadCrumbParent("@Resources.PublicPasses.VehiclePassForEmp");
				ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");

			}
		});
	}
</script>