﻿@model SBL.DomainModel.ComplexModel.OnlineMemberQmodel
@{
    int count = 0;
}
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
        <input type="hidden" id="SelectedFixNo" name="SelectedFixNo" />
        <div class="pass-table">

            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                @*@if (Model.DiaryList != null)
                {
                    if (Model.DiaryList.Count() > 0)
                    {
                    *@

                <div class="table-header">
                    @Resources.Diaries.StarredQuestion
                </div>

                <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                    <thead>
                        <tr role="row">

                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">#</th>
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 30%">Subject</th>

                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 15%">Sent Date</th>



                        </tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        @foreach (var item in Model.tQuestionModel)
                        {
                            count = count + 1;
                            string style = (count % 2 == 0) ? "odd" : "even";

                            var trID = item.QuestionID;

                            if (item.NoticeDate == null)
                            {
                                  <tr  class="@style"  id="@trID" onclick="onSelectRowHandler(this.id);" >

                                <td style="background-color:#FF0000" class="">@count</td>

                                <td style="background-color:#FF0000" class="">
                                    @item.Subject
                                </td>

                                <td style="background-color:#FF0000" class="">
                                    @if (item.NoticeDate == null)
                                    {
                                    }
                                    else
                                    {
                                        @Convert.ToDateTime(item.NoticeDate).ToString("dd/MM/yyy hh:mm tt")
                                    }
                                </td>
                            </tr>
                            }
                            else
                            {
                                <tr class="@style" id="@trID" onclick="onSelectRowHandler(this.id);">

                                <td class="">@count</td>

                                <td class="">
                                    @item.Subject
                                </td>

                                <td class="">
                                    @if (item.NoticeDate == null)
                                    {
                                    }
                                    else
                                    {
                                        @Convert.ToDateTime(item.NoticeDate).ToString("dd/MM/yyy hh:mm tt")
                                    }
                                </td>
                            </tr>
                            }
                            @*<tr class="@style" id="@trID" onclick="onSelectRowHandler(this.id);">

                                <td class="">@count</td>

                                <td class="">
                                    @item.Subject
                                </td>

                                <td class="">
                                    @if (item.NoticeDate == null)
                                    {
                                    }
                                    else
                                    {
                                        @Convert.ToDateTime(item.NoticeDate).ToString("dd/MM/yyy hh:mm tt")
                                    }
                                </td>
                            </tr>*@
                        }
                    </tbody>
                </table>


            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>





<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
@*<script src="~/Scripts/jquery-1.7.min.js"></script> *@
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>



<script>

    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
               { "bSortable": false },
              null,

              { "bSortable": false }

            ]
        });
    });



    function onSelectRowHandler(QId) {

        $('.widget-box').show();
        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();

        $.ajax({
            url: "/Notices/OnlineMemberQuestions/GetQuestionDetailById",
            type: 'GET',
            data: {
                questionID: QId,

            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data);
                    cl2.hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

</script>




