﻿@model SBL.DomainModel.Models.Diaries.DiaryModel

<div id="divbindList">
</div>
<script>

	$(document).ready(function () {
		
           ListByPaperType('@Model.PaperEntryType');
    });

	function ListByPaperType(Type) {
        
		$('#divAction').show();
		var scrollpos = $('#spnScrollPosition').hide();
		
		$('.widget-box').show();

		$("#loader-wrapper").show();

		$.ajax({
			url: "/Notices/OnlineMemberQuestions/GetListByPaperType",
			type: 'GET',
			data: {
				PaperType: Type,
				AssemId: '@Model.AssemblyID',
				SessId: '@Model.SessionID'

			},
			success: function (data) {
				if (data) {

					
					$("#divbindList").html("")
					$("#divbindList").html(data)

					$("#RightSidebar").html("");
					$('#spnScrollPosition').html('0');
					$("#loader-wrapper").hide();

				} else { alert("error"); }
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.responseText);
				alert(thrownError);
			}
		});
	}

	function CreateNewByType(Type) {
		$('#divAction').show();
		var scrollpos = $('#spnScrollPosition').html();
		if (scrollpos == 1) {
			resizeClick(0);
		}
		else if (scrollpos == 2) {
			resizeClick(1);
		}
		$('.widget-box').show();
		$.ajaxSetup({ cache: false });
		$("#loader-wrapper").show();
		$.ajax({
			url: "/Notices/OnlineMemberQuestions/NewEntryForm",
			type: 'GET',
			data: {
				PaperType: Type,
				AssemId: '@Model.AssemblyID',
				SessId: '@Model.SessionID'

			},
			success: function (data) {
				$("#loader-wrapper").hide();
				if (data) {

					$("#RightSidebar").html(data);
					//$("#loader-wrapper").hide();
					//$('#spnScrollPosition').html('0');
				} else { alert("error"); }
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.responseText);
				alert(thrownError);
			}
		});

	}

	function SearchByType(Type) {
		$('.widget-box').show();
		$("#loader-wrapper").show();
		$.ajax({
			url: "/Notices/OnlineMemberQuestions/SearchByType",
			type: 'GET',
			data: {
				PaperType: Type,
				AssemId: '@Model.AssemblyID',
			   SessId: '@Model.SessionID'
		   },
		   success: function (data) {
			   if (data) {
			       $("#divbindList").html(data)
				   $("#RightSidebar").html("");
				   $("#loader-wrapper").hide();

			   } else { alert("error"); }
		   },
		   error: function (xhr, ajaxOptions, thrownError) {
			   alert(xhr.responseText);
			   alert(thrownError);
		   }
	   });
   }
</script>
