﻿@model SBL.DomainModel.ComplexModel.RecipientGroupMemberViewModel
@{
    int count = 0;
}
<div class="row">
    <div class="col-xs-12">
        <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
        <div class="form-horizontal">
			<div class="form-group" >
				<button class="btn btn-sm btn-warning" style="float: right" onclick="ImportFromExcel()">
					<i class="ace-icon fa fa-fire bigger-110"></i>
					<span class="bigger-110 no-text-shadow">Import From Excel</span>
				</button>

			</div>
			<div class="form-group">
				@using (Html.BeginForm("ExportPDFPanchayat", "OnlineMemberQuestions", FormMethod.Post,
		new { @enctype = "multipart/form-data", @id = "frmTours2" }))
	{
				
					<div class="col-sm-4 control-label no-padding" style="cursor: pointer;">
						<button type="submit" class="btn btn-pink btn-sm" id="btnGeneratePDF1" onclick="return IsValidated(event);" value="Export To PDF One Group" formtarget="_blank">
							@*<i class="ace-icon fa fa-print align-top "></i>*@
							Export To PDF One Group
						</button>


					</div>
					@Html.HiddenFor(m => m.Name)
					@Html.HiddenFor(m => m.GroupId)

	}

				@using (Html.BeginForm("ExportPDFALLPanchayat", "OnlineMemberQuestions", FormMethod.Post,
		new { @enctype = "multipart/form-data", @id = "frmTours1" }))
	{
					<div class="col-sm-4 control-label no-padding" style="cursor: pointer; margin-right: 2px; padding: 2px;">
						<button type="submit" class="btn btn-pink btn-sm" id="btnGeneratePDF" value="Export To PDF All Group" formtarget="_blank">
							@*<i class="ace-icon fa fa-print align-top "></i>*@
							Export To PDF All Group
						</button>
					</div>
	}



				<div class="btn-group" style="cursor: pointer; margin-left: 5px; padding: 2px 2px 2px 2px; display:none; ">
					<button data-toggle="dropdown" class="btn btn-purple btn-sm dropdown-toggle" aria-expanded="false">
						Export To Excel
													<span class="ace-icon fa fa-caret-down icon-on-right"></span>
					</button>

					<ul class="dropdown-menu dropdown-info dropdown-menu">
						<li>
							<a href="#" onclick="Export()">To Excel One Group </a>
						</li>

						<li>
							<a href="#" onclick="ExportALL()">To Excel All Group</a>
						</li>


					</ul>
				</div>



			</div>
            <div class="form-group">
                <label class="col-sm-1 control-label no-padding-right" for="PermitNo">
                    Group 
                </label>
                <div class="col-sm-9">
                    @Html.DropDownListFor(m => m.GroupId, new SelectList(Model.RecipientGroupCol, 
                    "GroupID", "PanchayatName", 0), "-- Select Group --", new { @id = "lstRecipientGroupCol", 
                    @class = "col-xs-12"})
					 
                </div>
				<div class="col-sm-2">
					<a onclick="refreshlist()" style="float: right; cursor: pointer">Refresh</a>
				</div>
				 
            </div>
            <div class="form-group">
                <div class="pass-table">
                    <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                        <div class="table-header">
                            Panchayat/UA Group Members
                        </div>
                        <table class="table table-striped table-bordered table-hover dataTable" id="tblRecipientGroupMember"
                            aria-describedby="sample-table-2_info">
                            <thead>
                                <tr role="row">
                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">S#</th>
									<th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">Ranking Order</th>
                                    <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 16%">Name</th>
                                    <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 16%">Designation</th>
                                    <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 16%">Mobile</th>
                                    <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 16%">EMail</th>
                                    <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 10%">Delete</th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                @if (Model.RecipientGroupMemberCol != null)
                                {
                                    foreach (var item in Model.RecipientGroupMemberCol)
                                    {
                                        count = count + 1;
                                        string style = (count % 2 == 0) ? "odd" : "even";
                                        var trID = item.GroupMemberID;
                                        <tr class="@style" id="@trID" ondblclick="onSelectRowHandler(this.id,event);" title="User Double click for Edit">
                                            <td>@count</td>
											<td>@item.RankingOrder</td>
                                            <td class="">@item.Name</td>
                                            <td class="">@item.Designation</td>
                                            <td class="">@item.Mobile</td>
                                            <td class="">@item.EMail</td>
                                            <td>
                                                <a data-rel="tooltip" class="red tooltip-error DeleteRecipientGroupLnk" title="Delete" id="DeleteLink"  
                                                     onclick="Delete(@item.GroupMemberID)">
                                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
	function refreshlist() { GetAllRecipientGroupMemberList($("#lstRecipientGroupCol").val()); }
	function ImportFromExcel() {
		if ($('#lstRecipientGroupCol').val() == 0) {
			var dlg = bootbox.alert('Please Select Group', function (e) {
				$(dlg).modal('hide');
			});
			return;
		}

		$("#loader-wrapper").show();

		$.ajax({
			url: "/Notices/OnlineMemberQuestions/ImportFromExcelGroupMembers",
			type: 'GET',
			data: {
				GroupID: $("#lstRecipientGroupCol").val(),
				GroupName: $("#lstRecipientGroupCol option:selected").text()
			},
			success: function (data) {
				if (data) {
					
					$("#RightSidebar").html(data);

					$("#loader-wrapper").hide();

				}
				else {

					var dlg = bootbox.alert('error', function (e) {

						$(dlg).modal('hide');
					});
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {

				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});

			},
			complete: function (obj) {
				Initializefileupload();
			}
		});
	}
	$(document).ready(function () {
	    $('#btnAdvSearch').hide();
		var tblRecipientGroupMember = $('#tblRecipientGroupMember')
        .dataTable({
        	
        });

		//$('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

	});

	function tooltip_placement(context, source) {
		var $source = $(source);
		var $parent = $source.closest('table')
		var off1 = $parent.offset();
		var w1 = $parent.width();

		var off2 = $source.offset();
		//var w2 = $source.width();

		if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
		return 'left';
	}

	$("#lstRecipientGroupCol").change(function () {

		GetAllRecipientGroupMemberList($("#lstRecipientGroupCol").val());

	});

	function GetAllRecipientGroupMemberList(groupID) {
	    $("#loader-wrapper").show();
		$.ajax({
			url: "/Notices/OnlineMemberQuestions/AllPanchayatGroupMemberList",
			type: 'GET',
			data: {

				GroupID: groupID
			},
			success: function (data) {

				if (data) {

					$("#divbindList").html(data);
					$("#loader-wrapper").hide();
				} else {

					var dlg = bootbox.alert('Error', function (e) {

						$(dlg).modal('hide');
					});
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {

				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});
			}
		});
	}


	function onSelectRowHandler(rowId, event) {

		$("#loader-wrapper").show();

		$.ajax({
			url: "/Notices/OnlineMemberQuestions/GetPanchayatGroupMemberId",
			type: 'GET',
			data: {
				GroupMemberID: rowId
			},
			success: function (data) {
				if (data) {

					$("#RightSidebar").html(data);

					$("#loader-wrapper").hide();

				}
				else {

					var dlg = bootbox.alert('error', function (e) {

						$(dlg).modal('hide');
					});
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {

				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});

			}
		});
	}
	function Delete(memberId) {

		$("#loader-wrapper").show();

		$.ajax({
			url: "/Notices/OnlineMemberQuestions/DeleteRecipientGroupMemberId",
			type: 'GET',
			data: {
				GroupMemberID: memberId
			},
			success: function (data) {


				var dlg = bootbox.alert('Deleted Successfully', function (e) {

					$(dlg).modal('hide');
				});
				GetAllRecipientGroupMemberList($("#lstRecipientGroupCol").val());
				$("#loader-wrapper").hide();



			},
			error: function (xhr, ajaxOptions, thrownError) {

				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});

			}
		});
	}
	function Export() {

		if ($('#lstRecipientGroupCol').val() == 0) {
			var dlg = bootbox.alert('Please Select Group', function (e) {
				$(dlg).modal('hide');
			});
			return;
		}

		$("#loader-wrapper").show();
		$.ajax({
			url: "/Notices/OnlineMemberQuestions/ExportExcelPanchayat",
			type: 'GET',
			data: {
				GroupId: $('#lstRecipientGroupCol').val(),
				GroupName: $('#lstRecipientGroupCol option:selected').text()
			},
			success: function (data) {

				$("#loader-wrapper").hide();

				var dlg = bootbox.alert('Export Successfully', function (e) {

					$(dlg).modal('hide');
				});

			},
			error: function (xhr, ajaxOptions, thrownError) {

				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});

			}
		});
	}

	function ExportALL() {



		$("#loader-wrapper").show();
		$.ajax({
			url: "/Notices/OnlineMemberQuestions/ExportExcelALLPanchayat",
			type: 'GET',
			data: {},
			success: function (data) {

				$("#loader-wrapper").hide();

				var dlg = bootbox.alert(data, function (e) {

					$(dlg).modal('hide');
				});

			},
			error: function (xhr, ajaxOptions, thrownError) {

				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});

			}
		});
	}
	function IsValidated(e) {

		if ($('#lstRecipientGroupCol').val() == 0) {
			var dlg = bootbox.alert('Please Select Group', function (e) {
				$(dlg).modal('hide');
			});
			return false;
		}
		var gname = $('#lstRecipientGroupCol option:selected').text();
		var gid = $('#lstRecipientGroupCol').val();
		$('#Name').val(gname);
		$('#GroupId').val(gid);
		return true;
	}
</script>