﻿@model SBL.DomainModel.ComplexModel.RecipientGroupViewModel
@{
    int count = 0;
}

<div class="row">
    <div class="col-xs-12">
        <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="pass-table">
                    <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                        <div class="table-header">
                            Constituency Groups <span style="float:right;">[Constituency Name : @ViewBag.ConstituencyName]</span>
                        </div>
                        <table class="table table-striped table-bordered table-hover dataTable" id="tblRecipientGroup"
                            aria-describedby="sample-table-2_info">
                            <thead>
                                <tr role="row">
                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">S#</th>
									 <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">Ranking Order</th>
                                    <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 16%">Name</th>
                                    <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 16%">Description</th>
                                    <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 16%;display:none;">Shared</th>
                                    <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 16%">Status</th>
                                    <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 10%">Delete</th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                @if (Model.RecipientGroupsCol != null)
                                {
                                    foreach (var item in Model.RecipientGroupsCol)
                                    {
                                        count = count + 1;
                                        string style = (count % 2 == 0) ? "odd" : "even";
                                        var trID = item.GroupId;
										
                                        <tr class="@style" id="@trID" ondblclick="onSelectRowHandler(this.id,event);" title="User Double click for Edit">
                                            <td>@count</td>
											 <td>@item.RankingOrder</td>
                                            <td class="">@item.GroupName</td>
                                            <td class="">@item.GroupDesc</td>
                                            <td class="" style="display:none;">
                                                @if(item.IsPublic)
                                                {
                                                    <span class="label label-sm label-success">Yes</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-sm label-warning">No</span>
                                                }
                                            </td>
                                            <td class="">
                                                @if(item.IsActive)
                                                {
                                                    <span class="label label-sm label-success">Active</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-sm label-warning">In Active</span>
                                                }
                                            </td>
                                            <td>
                                                <a data-rel="tooltip" class="red tooltip-error DeleteRecipientGroupLnk" title="Delete" id="DeleteLink"  
                                                    
													onclick="DeleteGroup(@item.GroupId)">
                                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

	$(document).ready(function () {
	    $('#btnAdvSearch').hide();

		var tblRecipientGroup = $('#tblRecipientGroup')
        .dataTable({
        	 
        });

		//$('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

	});

	function tooltip_placement(context, source) {
		var $source = $(source);
		var $parent = $source.closest('table')
		var off1 = $parent.offset();
		var w1 = $parent.width();

		var off2 = $source.offset();
		//var w2 = $source.width();

		if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
		return 'left';
	}

	function onSelectRowHandler(rowId, event) {

		$("#loader-wrapper").show();

		$.ajax({
			url: "/Notices/OnlineMemberQuestions/GetConstituencyGroupId",
			type: 'GET',
			data: {
				GroupID: rowId
			},
			success: function (data) {
				if (data) {

					$("#RightSidebar").html(data);

					$("#loader-wrapper").hide();

				}
				else {

					var dlg = bootbox.alert('error', function (e) {

						$(dlg).modal('hide');
					});
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {

				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});

			}
		});
	}
	function DeleteGroup(GroupId) {

		$("#loader-wrapper").show();

		$.ajax({
			url: "/Notices/OnlineMemberQuestions/DeleteRecipientGroupId",
			type: 'GET',
			data: {
				GroupID: GroupId
			},
			success: function (data) {


				var dlg = bootbox.alert('Deleted Successfully', function (e) {

					$(dlg).modal('hide');
				});
				ListByPaperType("Constituency Groups");
				$("#loader-wrapper").hide();



			},
			error: function (xhr, ajaxOptions, thrownError) {

				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});

			}
		});
	}


</script>