﻿@model SBL.DomainModel.ComplexModel.RecipientGroupMemberViewModel





<div class="row">
	<div class="col-xs-12">
		<div class="table-header">
			<span class="label label-lg label-yellow arrowed-right" style="height: 24px; font-weight: bold; font-size: 14px;">Error Details  </span>
		</div>
		<table class="table table-bordered  dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
			@*<thead>
		<tr role="row">
			<th>GroupMemberName</th>
			<th>Gender</th>
			<th>Designation</th>
			<th>Mobile</th>
			<th>LandLineNo</th>
			<th>Email</th>
			<th>Address</th>
			<th>Pincode</th>
			<th>RankingOrder</th>
		</tr>
	</thead>*@
			<tbody role="alert" aria-live="polite" aria-relevant="all">

				@if (Model.ErrorList != null)
	{

		foreach (var item in Model.ErrorList)
		{ 
					<tr>
						<td>@item.GroupMemberName</td>
						<td>@item.Gender</td>
						<td>@item.Designation</td>
						<td>@item.Mobile</td>
						<td>@item.LandLineNo</td>
						<td>@item.Email</td>
						<td>@item.Address</td>
						<td>@item.Pincode</td>
						<td>@item.RankingOrder</td>		
			 
						 
					</tr>
			 
		}
	}
	else
	{ 
					<tr>
						<td>List Is Empty</td>
					</tr>
	}


			</tbody>
		</table>
	</div>
</div>
