﻿@model SBL.DomainModel.Models.UserModule.mUserSubModules

@foreach (var item in Model.AccessList)
{

    int count = item.SubModuleName.GetTotalCountBySubMenu(Model.MemberId);
    //int count = 0;
    <li class="">

        @if (item.SubModuleId == 79)
        {
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-caret-right"></i>
                @item.SubModuleName
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li>
                    <button type="button" class="btn btn-link" onclick="GetActionView('Generic Groups','@count'),SaveModuleIdActionId('@Model.ModuleId','@Model.ActionIds')">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Generic
                    </button>
                    <b class="arrow"></b>
                </li>
                <li>
                    <button type="button" class="btn btn-link" onclick="GetActionView('Constituency Groups','@count'),SaveModuleIdActionId('@Model.ModuleId','@Model.ActionIds')">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Constituency
                    </button>
                    <b class="arrow"></b>
                </li>
                <li>
                    <button type="button" class="btn btn-link" onclick="GetActionView('Panchayat Groups','@count'),SaveModuleIdActionId('@Model.ModuleId','@Model.ActionIds')">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Panchayat/UA
                    </button>
                    <b class="arrow"></b>
                </li>
                <li>
                    <button type="button" class="btn btn-link" onclick="GetActionView('ConstituencyOfficeGroups','@count'),SaveModuleIdActionId('@Model.ModuleId','@Model.ActionIds')">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Constituency Office
                    </button>
                    <b class="arrow"></b>
                </li>
            </ul>

        }
        else if (item.SubModuleId == 1306)
        {

            <button type="button" class="btn btn-link" onclick="GetDivDataForActivities();">
                <i class="menu-icon fa fa-caret-right"></i>
                @item.SubModuleName
            </button>
            <b class="arrow"></b>


        }
        else if (item.SubModuleId == 80)
        {
            <a href="javascript:void(0);" class="dropdown-toggle">
                <i class="menu-icon fa fa-caret-right"></i>
                @item.SubModuleName
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li>
                    <button type="button" class="btn btn-link" onclick="GetActionView('Generic Group Members','@count'),SaveModuleIdActionId('@Model.ModuleId','@Model.ActionIds')">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Generic wise
                    </button>
                    <b class="arrow"></b>
                </li>
                <li>
                    <button type="button" class="btn btn-link" onclick="GetActionView('Constituency Group Members','@count'),SaveModuleIdActionId('@Model.ModuleId','@Model.ActionIds')">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Constituency wise
                    </button>
                    <b class="arrow"></b>
                </li>
                <li>
                    <button type="button" class="btn btn-link" onclick="GetActionView('Panchayat Group Members','@count'),SaveModuleIdActionId('@Model.ModuleId','@Model.ActionIds')">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Panchayat/UA wise
                    </button>
                    <b class="arrow"></b>
                </li>
                <li>
                    <button type="button" class="btn btn-link" onclick="GetActionView('ConstituencyOfficeGroupMembers','@count'),SaveModuleIdActionId('@Model.ModuleId','@Model.ActionIds')">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Constituency Office wise
                    </button>
                    <b class="arrow"></b>
                </li>
            </ul>

        }
        else if (item.SubModuleId != 215)
        {
            <button type="button" class="btn btn-link" onclick="GetActionView('@item.SubModuleName','@count'),SaveModuleIdActionId('@Model.ModuleId','@Model.ActionIds')">
                <i class="menu-icon fa fa-caret-right"></i>
                @item.SubModuleName

                @if (item.SubModuleName != "Ward and Panchayat" && item.SubModuleName != "Block and Panchayat" && item.SubModuleName != "Panchayat and Village" && item.SubModuleName != "Compose SMS/Email" && item.SubModuleName != "Reimbursement Status" && item.SubModuleName != "Individual Passes" && item.SubModuleName != "Vehicle Passes" && item.SubModuleName != "Ward and Office" && item.SubModuleName != "Update Grievances" && item.SubModuleName != "View/Update" && item.SubModuleName != "Update Works" && item.SubModuleName != "Choose Budgeted Works" && item.SubModuleName != "Offices/Institutions" && item.SubModuleName != "Salary Slip" && item.SubModuleName != "SMS Report" && item.SubModuleName != "Amenities" && item.SubModuleName != "Todays Clipping" && item.SubModuleName != "Old Clippings" && item.SubModuleName != "Correspondences" && item.SubModuleName != "Department Wise Report" && item.SubModuleName != "eFile" && item.SubModuleName != "Receive Paper" && item.SubModuleName != "Send Paper" && item.SubModuleName != "Manage Works" && item.SubModuleName != "Introduced Bills")
                {
                    <span id="Spn_@item.SubModuleName.Replace(" ", "")" class="badge badge-primary"></span>
                }
            </button>
            <b class="arrow"></b>
        }
    </li>
}