﻿@{
	ViewBag.Title = "sentEmailList";
	Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

 
<style type="text/css">
	#prodiv {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100px;
		height: 100px;
		margin-top: -9em; /*set to a negative number 1/2 of your height*/
		margin-left: -15em; /*set to a negative number 1/2 of your width*/
		background-color: #f3f3f3;
	}
</style>
<script src="~/assets/js/bootbox.min.js"></script>
<link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />

<!-- page specific plugin styles -->
<link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="~/assets/css/chosen.css" />
<link rel="stylesheet" href="~/assets/css/datepicker.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.css" />
<link rel="stylesheet" href="~/assets/css/daterangepicker.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.css" />
<link rel="stylesheet" href="~/assets/css/colorpicker.css" />

<!-- text fonts -->
<link rel="stylesheet" href="~/assets/css/ace-fonts.css" />

<!-- ace styles -->
<link rel="stylesheet" href="~/assets/css/ace.min.css" />

<!--[if lte IE 9]>
			<link rel="stylesheet" href="~/assets/css/ace-part2.min.css" />
		<![endif]-->
<link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
<link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />

<!--[if lte IE 9]>
		  <link rel="stylesheet" href="~/assets/css/ace-ie.min.css" />
		<![endif]-->

<!-- inline styles related to this page -->

<!-- ace settings handler -->
<script src="~/assets/js/ace-extra.min.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lte IE 8]>
		<script src="~/assets/js/html5shiv.js"></script>
		<script src="~/assets/js/respond.min.js"></script>
		<![endif]-->
<div class="main-content">
 
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="ace-icon fa fa-home home-icon"></i>
				<a href="@Url.Action("Index", "SiteSettings")">@Resources.MasterDataDashboard.Home</a>
			</li>
			<li>
				<a href="@Url.Action("Index", "SiteSettings")">@Resources.MasterDataDashboard.SiteSettingDetails</a>
			</li>

		</ul>
		<!-- /.breadcrumb -->

		<!-- #section:basics/content.searchbox -->
	 @*   <div class="legAssm">
			<span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
			<span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
		</div>*@

	</div>
	<div class="page-content">
		<!-- #section:settings.box -->

		<!-- /section:settings.box -->
		<div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
		</div>
		  <div class="page-header">
			<h1>@Resources.MasterDataDashboard.MasterData
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					@Resources.MasterDataDashboard.SiteSettingDetails
				</small>
			</h1>


		</div>
		

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="widget-box">
					<div class="widget-header">

						<div class="widget-toolbar">
							<div class="row" style="padding-top: 2px;">
								<div class="col-xs-4 col-sm-4">

									<div class="input-group">

										<span class="input-group-addon">
											<i class="fa fa-calendar bigger-110"></i>
										</span>
										<input class="form-control input-mask-date" name="date-range-picker" id="id-date-range-picker-1" style="margin-top: 1px;" placeholder="Select Date-Range" required>
										
									</div>
								</div>
								<div class="col-xs-8 col-sm-8">


									<label >
								Select Module

									<select id="ModuleID" class="chosen-select input-sm " name="ModuleID" data-placeholder="--select a Module--">
										
									</select>
							</label>

							<label id="searchcriteriavalueDiv" >
								Select USer
							<select id="UserID" name="UserID" class="chosen-select input-sm" data-placeholder="--select a user--">
								
							</select>

							</label>
								 <button class="btn btn-xs btn-primary btn-bold" type="button" onclick="getList()">
									<i class="ace-icon fa fa-search bigger-150"></i>
									<span class="bigger-110">Search</span>
								</button>	
								</div>
								
							</div>
						</div>
					</div>
					<div class="widget-body">
						<div class="widget-main">
							<div class="pass-table">
								@using (Html.BeginForm("generatePDFOFLoanReport", "loan"))
		{
								<div id="tablecontainer">
								</div>
								}
								<!-- PAGE CONTENT ENDS -->
							</div>
						</div>
					</div>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.page-content -->
	</div>
	<div id="selectDesignatioMsg" style="visibility: hidden;">
		<div class="alert alert-info">

			<strong>Information </strong>

			Please Select Module and Date to Get Email Report.
										<br/>
		</div>
	</div>
	<!-- /.main-content -->

	<div class="footer">
		<div class="footer-inner">
			<!-- #section:basics/footer -->
			<div class="footer-content">
				@*<span class="bigger-100">
					<span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
				</span>*@
			</div>

			<!-- /section:basics/footer -->
		</div>
	</div>

	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
		<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
	</a>
</div>

<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="~/assets/js/chosen.jquery.min.js"></script>
<script src="~/assets/js/fuelux/fuelux.spinner.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="~/assets/js/date-time/moment.min.js"></script>
<script src="~/assets/js/date-time/daterangepicker.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-datetimepicker.min.js"></script>
<script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
<script src="~/assets/js/jquery.knob.min.js"></script>
<script src="~/assets/js/jquery.autosize.min.js"></script>
<script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
<script src="~/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/bootstrap-tag.min.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
<!-- ace scripts -->

<script src="~/assets/js/CommonNotify.js"></script>

<script>
	try {
		$('.chosen-select').chosen({ allow_single_deselect: true });
		//resize the chosen on window resize
		$(window).on('resize.chosen', function () {
			var w = $('.chosen-select').parent().width();
			$('.chosen-select').next().css({ 'width': '200px' });
		}).trigger('resize.chosen');
	}
	catch (error) {
	}
	try {
		$('#chosen-multiple-style').on('click', function (e) {
			var target = $(e.target).find('input[type=radio]');
			var which = parseInt(target.val());
			if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
			else $('#form-field-select-4').removeClass('tag-input-style');
		});
	}
	catch (error) {
	}
	$(document).ready(function () {
		 
		$("#searchcriteriavalueDiv").hide();
		$("#tablecontainer").html($("#selectDesignatioMsg").html());
		fillModuleList();
	});
	$('input[name=date-range-picker]').daterangepicker({
		'applyClass': 'btn-sm btn-success',
		'cancelClass': 'btn-sm btn-default',
		locale: {
			applyLabel: 'Apply',
			cancelLabel: 'Cancel'
		}
	})
				.prev().on(ace.click_event, function () {
					$(this).next().focus();
				});
	$("#ModuleID").on('change', function (e) {
		try {
			$("#searchcriteriavalueDiv").hide();
			var datatext = $("#ModuleID option:selected").text();
			var datavalue = $("#ModuleID option:selected").val();
			if (datavalue != 0) {
			   
				getUserList(datavalue);
			}
			else {
			  
				$("#tablecontainer").html("");
				$("#tablecontainer").html($("#selectDesignatioMsg").html());
			}

		} catch (error) {
			alert(error.message);
		}
	});
	function check() {
		var IsValid = true;

		if ($("input[name=date-range-picker]").val() == '') {
			var dlg = bootbox.alert('Please select Date Range.', function (e) {
				$(dlg).modal('hide');
			});

			IsValid = false;
		}
	
		return IsValid;
	}
	function getUserList(datavalue) {
		
		$("#searchcriteriavalueDiv").show();
		$("#loader-wrapper").show();
		var pathurl = '@Url.Action("FillModuleUserList", "SmsAndEmail")';
		$.ajax({
			url: pathurl,
			type: 'GET',
			data:{moduleID:datavalue},
			success: function (data) {
				if (data) {
					$("#UserID").html("");
					$("#UserID").append($("<option></option>").val(0).html('--All--'))
					for (var i = 0; i < data.length; i++) {
						var item = data[i];

						$("#UserID").append($("<option></option>").val(item.ModuleUseID).html(item.ModuleUseID + ' - ' + item.ModuleUseName))
					}
					$("#UserID").trigger("chosen:updated");
					$("#loader-wrapper").hide();
				}
			}
		});
	}
	function fillModuleList() {
		$("#loader-wrapper").show();
		var pathurl = '@Url.Action("FillModuleList", "SmsAndEmail")';
		$.ajax({
			url: pathurl,
			type: 'GET',
			success: function (data) {
				if (data) {
					$("#ModuleID").html("");
					$("#ModuleID").append($("<option></option>").val(0).html('--All--'))
					for (var i = 0; i < data.length; i++) {
						var item = data[i];

						$("#ModuleID").append($("<option></option>").val(item.moduleID).html(item.moduleID + ' - ' + item.ModuleName))
					}
					$("#ModuleID").trigger("chosen:updated");
					$("#loader-wrapper").hide();
				}
			}
		});
	}
	function getList() {
		if (check()) {
			var datearr = $("input[name=date-range-picker]").val().split('-');
			var date1 = datearr[0];
			var date2 = datearr[1];
			var ModuleID = $("#ModuleID option:selected").val();
			var UserID = $("#UserID option:selected").val();
			$("#loader-wrapper").show();
		
				var pathurl = '@Url.Action("EmailResult", "SmsAndEmail")';
				$.ajax({
					url: pathurl,
					type: 'GET',
					data: { ModuleID: ModuleID, UserID: UserID, from: date1, to: date2 },
					success: function (data) {
						$("#tablecontainer").html("");
						$("#tablecontainer").html(data);
						$("#loader-wrapper").hide();

					}
				});
			
		}
	}
	function HtmlView(id) {
		var mtext = "";
		var rowId = id;

		
		mtext += "<br/><b>Recipient List       </b>";
		mtext += $("#" + rowId).find('td:eq(1)').find('span.hide').html();
		mtext += "<hr/><b>Subject  </b>";
		mtext += $("#" + rowId).find('td:eq(3)').text().trim();
		mtext += "<hr/><b>Mail Content   </b>";
		mtext += $("#" + rowId).find('td:eq(4)').text().trim();
		
		bootbox.dialog({
			message: "<span class='bigger-110'>" + mtext + "</span>",
			buttons:
			{
				

				"click":
				{
					"label": "Close",
					"className": "btn-sm btn-default",
					"callback": function () {

					}
				}
			}
		});
	}
</script>
