﻿@model SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.HODViewModel
@{
    ViewBag.Title = "CreateHOD";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}
@Html.Action("LeftNavigationMenu", "SuperAdmin")
<style>
    .field-validation-error {
        color: red;
        background:none !important;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    @Html.Partial("_BreadcrumbsPartial")
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "HOD")">@Resources.MasterDataDashboard.Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "HOD")">@Resources.MasterDataDashboard.HOD</a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.CreateHOD</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>
                @Resources.MasterDataDashboard.MasterData
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.CreateHOD
                </small>
            </h1>
        </div>
        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.CreateHOD</h4>
            }
            else
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.EditHOD</h4>
            }
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
                        @using (Html.BeginForm("SaveHOD", "HOD", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.HODID)
                            @Html.HiddenFor(m => m.Mode)
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="AdhaarID">
                                    @Resources.MasterDataDashboard.AadhaarID
                                </label>
                                <div class="col-sm-9 help-block">
                                    @Html.TextBoxFor(model => model.AadhaarId, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.AadhaarID, @maxlength = "13" })
                                    @Html.ValidationMessageFor(m => m.AadhaarId)
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="OrderID">
                                    @Resources.MasterDataDashboard.OrderID
                                </label>
                                <div class="col-sm-9 help-block">
                                    @Html.TextBoxFor(model => model.OrderId, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.OrderID, @autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.OrderId)
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="EmpCode">@Resources.MasterDataDashboard.EmployeeCode</label>
                                <div class="col-sm-9 help-block">
                                    @Html.TextBoxFor(model => model.EmpCode, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.EmployeeCode, @autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.EmpCode)
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="DeptID">@Resources.MasterDataDashboard.Department</label>
                                <div class="col-sm-9 help-block">
                                    @Html.DropDownListFor(model => model.DeptID, Model.DeptCol, @Resources.MasterDataDashboard.SelectDepartment, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.DeptID)
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.PrefixName</label>
                                <div class="col-sm-9 help-block">
                                    @Html.DropDownListFor(model => model.Prefix, Model.PrefixCol, @Resources.MasterDataDashboard.SelectPrefix, new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.Prefix)
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.HODName</label>
                                <div class="col-sm-9 help-block">
                                    @Html.TextBoxFor(model => model.HODName, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.HODName, @autocomplete = "off", @maxlength = "41" })
                                    @Html.ValidationMessageFor(model => model.HODName)
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.HODNameHindi</label>
                                <div class="col-sm-9 help-block">
                                    @Html.TextBoxFor(model => model.HODNameLocal, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.HODNameHindi, @autocomplete = "off", @maxlength = "61" })
                                    @Html.ValidationMessageFor(model => model.HODNameLocal)
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.IASRank</label>
                                <div class="col-sm-9 help-block">
                                    @Html.TextBoxFor(model => model.IASRank, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.IASRank, @autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.IASRank)
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.EmailID</label>
                                <div class="col-sm-9 help-block">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.EmailID, @autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.PhoneNoResidence</label>
                                <div class="col-sm-9 help-block">
                                    @Html.TextBoxFor(model => model.PhoneResidence, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.PhoneNoResidence, @autocomplete = "off", @onkeypress = "return isNumberKey(event)", @maxlength = "16" })
                                    @Html.ValidationMessageFor(model => model.PhoneResidence)
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.PhoneNoOffice</label>
                                <div class="col-sm-9 help-block">
                                    @Html.TextBoxFor(model => model.PhoneOffice, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.PhoneNoOffice, @autocomplete = "off", @onkeypress = "return isNumberKey(event)", @maxlength = "16" })
                                    @Html.ValidationMessageFor(model => model.PhoneOffice)
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.AlternatePhoneNoOffice</label>
                                <div class="col-sm-9 help-block">
                                    @Html.TextBoxFor(model => model.PhoneOfficeAlternate, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.AlternatePhoneNoOffice, @autocomplete = "off", @onkeypress = "return isNumberKey(event)", @maxlength = "16" })
                                    @Html.ValidationMessageFor(model => model.PhoneOfficeAlternate)
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.MobileNo</label>
                                <div class="col-sm-9 help-block">
                                    @Html.TextBoxFor(model => model.Mobile, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.MobileNo, @autocomplete = "off", @onkeypress = "return isNumberKey(event)", @maxlength = "11" })
                                    @Html.ValidationMessageFor(model => model.Mobile)
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.DesignationDescription</label>
                                <div class="col-sm-9 help-block">
                                    @Html.TextAreaFor(model => model.DesignationDescription, new { @id = "DesigDesc", @class = "col-xs-10 col-sm-9", @placeholder = @Resources.MasterDataDashboard.DesignationDescription, @autocomplete = "off", @maxlength = "501" })
                                    @Html.ValidationMessageFor(model => model.DesignationDescription)
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.IsActive </label>
                                <div class="col-sm-9">
                                    @Html.CheckBoxFor(model => model.IsActive)
                                </div>
                            </div>
                            <div class="space-2"></div> 
                            <hr />  
                            <div class="btn-group pull-right padding-10">
                                <!-- #section:plugins/fuelux.wizard.buttons -->
                                <button type="submit" id="btnSave" class="btn btn-sm btn-purple">
                                    <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                    @Resources.MasterDataDashboard.Save</button>
                                <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                    <i class="ace-icon fa fa-times bigger-125"></i>
                                    @Resources.MasterDataDashboard.Reset
                                </button>
                                <!-- /section:plugins/fuelux.wizard.buttons -->
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#employeemain").addClass("active open");
        $("#employeesub").addClass("nav-show").css("display", "block");
        $("#hodList").addClass("active");
        $("#employeelinkid").removeClass("fa-comment").addClass("fa-comment-o");
        $("#AadhaarId").focus();
    });

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    //$('#AadhaarId').focus(function () {
    //    $('#AadhaarIdValidation').html("");
    //});

    //$('#OrderId').focus(function () {
    //    $('#OrderIdValidation').html("");
    //});

    //$('#EmpCode').focus(function () {
    //    $('#EmpCodeValidation').html("");
    //});

    //$('#DeptID').focus(function () {
    //    $('#DeptIDValidation').html("");
    //});

    //$('#Prefix').focus(function () {
    //    $('#PrefixValidation').html("");
    //});

    //$('#HODName').focus(function () {
    //    $('#HODNameValidation').html("");
    //});

    //$('#Email').focus(function () {
    //    $('#EmailValidation').html("");
    //});

    //$('#PhoneOffice').focus(function () {
    //    $('#PhoneOfficeValidation').html("");
    //});

    $('#btnSave').click(function (e) {

        if (ValidateForm() == false) {

            e.preventDefault();

            e.stopPropagation();
        }
    });

    function ValidateForm() {

        var IsValid = true;

        if ($('#AadhaarId').val() == '') {

            var dlg = bootbox.alert('Adhaar Id Required', function (e) {

                $(dlg).modal('hide');
            });

            //$('#AadhaarIdValidation').html("Adhaar Id Required");

            IsValid = false;
        }
        else if ($('#DeptID').val() == '') {

            //$('#DeptIDValidation').html("Department Id Required");

            var dlg = bootbox.alert('Department Id Required', function (e) {

                $(dlg).modal('hide');
            });

            IsValid = false;
        }
        else if ($('#Prefix').val() == '') {

            //$('#PrefixValidation').html("Prefix is Required");

            var dlg = bootbox.alert('Prefix is Required', function (e) {

                $(dlg).modal('hide');
            });

            IsValid = false;
        }
        else if ($('#HODName').val() == '') {

            //$('#HODNameValidation').html("HOD Name is required");

            var dlg = bootbox.alert('HOD Name is required', function (e) {

                $(dlg).modal('hide');
            });

            IsValid = false;
        }
        else if ($('#OrderId').val() == '') {

            //$('#OrderIdValidation').html("Order Id is Required");

            var dlg = bootbox.alert('Order Id is Required', function (e) {

                $(dlg).modal('hide');
            });

            IsValid = false;
        }
        else if ($('#PhoneOffice').val() == '') {

            //$('#PhoneOfficeValidation').html("Office Phone is Required");

            var dlg = bootbox.alert('Office Phone is Required', function (e) {

                $(dlg).modal('hide');
            });

            IsValid = false;
        }
        else if ($('#Email').val() == '') {

            //$('#EmailValidation').html("Email is Required");

            var dlg = bootbox.alert('Email is Required', function (e) {

                $(dlg).modal('hide');
            });

            IsValid = false;
        }
        else {

            IsValid = true;
        }

        return IsValid;
        //else if ($('#EmpCode').val() == '') {

        //    $('#EmpCodeValidation').html("Employee Code is Required");

        //    return false;
        //}
    }
    $(function () {

        $("#DesigDesc").blur(function () {
            $(this).animate({
                height: '55px',
                width: '580px'



            },
               "fast"
            )
        });

        $("#DesigDesc").focus(function () {
            $(this).animate({
                height: '200px',
                width: '580px'

            },
               "fast"
            );

            //$("#newsDescvalidation").html("");

        });

    });

</script>
