﻿@model SBL.DomainModel.Models.Assembly.mAssembly
@{   
    int count1 = 0;
}
@using Resources

@{
    int SrNo = 1;   
}
@{ 
    int count = 0;
    int startpage = 0;
    int endPage = 0; 
}
@{
                
    float rcnt = @Model.ResultCount;

    float rperPage = @Model.RowsPerPage;
    float cnt = rcnt / rperPage;
    int b = (int)cnt; ;
    float c = (float)cnt - b;
    int pageSize = Model.RowsPerPage;
    var SInt = ((Model.PageNumber - 1) * pageSize);
    var Int = SInt; 
                
}
@if (c > 0)
{
    count = b + 1;
}
else
{
    count = b;
}
@{
    startpage = ((@Model.selectedPage * 10) - 10) + 1;
    endPage = startpage + 9;
           
}
@if (Model.loopStart <= 0)
{
    Model.loopStart = 1;
    Model.loopEnd = 5;
}


<div class="ace-settings-container" id="ace-settings-container">
    <button class="btn  btn-sm btn-info" onclick="javascript:window.location.href=' /SuperAdmin/Assembly/CreateAssembly';" style="position: relative; top: -8px;">
        <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
        <span class="bigger-110">@Resources.MasterDataDashboard.New</span>
    </button>
</div>

@*<div class="widget-box">
    <div class="widget-header widget-header-flat">

        <div class="widget-toolbar no-border" style="padding:0px 0px">
            <button class="btn  btn-sm btn-info"  onclick='CreateNew()'>
                <i class="ace-icon fa fa-pencil-square-o"></i>
                @Resources.MasterDataDashboard.New          
            </button>
        </div>
    </div>
</div>*@

<div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
    @if (Model != null)
    {
        if (Model.AssemblyList.Count() > 0)
        {       
        <div id="sample-table-2_length" class="dataTables_length" style="position: relative; top: 43px;">
            <label>
                Display
                                    <select size="1" name="sample-table-2_length" aria-controls="sample-table-2" id="DropDown">
                                        <option value="50" selected="selected">50</option>
                                        <option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="400">400</option>
                                        @*<option value="All">All</option>*@
                                    </select>
                records</label>
        </div>

                          
        <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
            <thead>
                <tr role="row">

                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" onclick="javascript:window.location.href=' /SuperAdmin/Assembly/Index';">@Resources.MasterDataDashboard.SNo</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.AssemblyName</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.AssemblyName1</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">@Resources.MasterDataDashboard.Period</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">@Resources.MasterDataDashboard.AssemblyCode</th>
                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                @foreach (var item in Model.AssemblyList)
                {
@*count1 = count1 + 1;  
                        <tr>
                            <td class="center">
                                @count1
                            </td>*@
                    Int = Int + 1;
                    string rowClass = (Int % 2 == 0) ? "even" : "odd"; 
                    <tr class="@rowClass" role="row" data-uid="6dd99b9b-dd76-4f29-8844-f4151ed27ac7" >
                        <td>@Int</td>
                        <td style="width: 35%">@item.AssemblyName</td>
                        <td style="width: 30%">@item.AssemblyNameLocal</td>
                        <td style="width: 10%">@item.Period</td>
                        <td style="width: 15%">@item.AssemblyCode</td>
                        <td class="center" style="width: 10%">
                            <div class="hidden-sm hidden-xs action-buttons">

                                <a data-rel="tooltip" class="green tooltip-success" title="Edit"  href="@Url.Action("EditAssembly", "Assembly", new { Id = SBL.eLegistrator.HouseController.Web.Extensions.EncryptionUtility.Encrypt(item.AssemblyID.ToString()) })">
                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                </a>
                                @* <a data-rel="tooltip" class="red tooltip-error DeleteAssembly" title="Delete" id="@item.AssemblyID"  href="@Url.Action("DeleteAssembly", "Assembly", new { Id = item.AssemblyID })">
                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                    </a>*@
                                <a  data-rel="tooltip" class="red tooltip-error DeleteAssembly" title="Delete" id="@item.AssemblyID"  href="@Url.Action("DeleteAssembly", "Assembly", new { Id = item.AssemblyID })">
                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                </a>
                            </div>

                            <div class="hidden-md hidden-lg">
                                <div class="inline position-relative">
                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                    </button>

                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                                        <li>
                                            <a  href="@Url.Action("EditAssembly", "Assembly", new { Id = item.AssemblyID })" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                <span class="green">
                                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                </span>
                                            </a>

                                        </li>

                                        <li>
                                            @*<a  href="@Url.Action("DeleteAssembly", "Assembly", new { Id = item.AssemblyID })" id="@item.AssemblyID"  class="tooltip-error DeleteAssembly" data-rel="tooltip" title="Delete">
                                                                    <span class="red">
                                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                    </span>
                                                                </a>*@
                                            <a  href="@Url.Action("DeleteAssembly", "Assembly", new { Id = item.AssemblyID })"  class="tooltip-error DeleteAssembly" data-rel="tooltip" title="Delete">
                                                <span class="red">
                                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>                                                                
                }

            </tbody>
        </table>
        <div class="dataTables_paginate paging_simple_numbers" style="position: relative; bottom: 39px;">

            @if (count > 0)
            {
                if (count < Model.loopEnd)
                {
                    Model.loopEnd = count;
                }
      
                <ul class="pagination">


                    @if (Model.loopStart < 5)
                    {                           
                        <li class=""><a><i class="fa fa-angle-double-left"></i></a></li>
                        <li class=""><a><i class="fa fa-angle-left"></i></a></li> 
                                                 
                    }


                    else
                    {
                        <li class=""><a href="#" onclick="NextButton(@Model.RowsPerPage,1,1,5)"><i class="fa fa-angle-double-left"></i></a></li>
                                      
                        if (Model.loopStart == 5)
                        {
                                          
                        <li class=""><a href="#"  onclick="NextButton(@Model.RowsPerPage,1,1,5)"><i class="fa fa-angle-left"></i></a></li>
                                       
                        }

                        else
                        {
                        <li class=""><a href="#"  onclick="PButton(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.ClickCount-5)"><i class="fa fa-angle-left"></i></a></li>
                        }

                    }
                    @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                    {


                        if (i == @Model.selectedPage)
                        {
                                    
                        <li class="active"><span class="grid-page-selected">@i</span></li>
                        }
                        else
                        {
                                       
                                    
                        <li><a href="#"   onclick="NextButton(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd,@Model.ClickCount)" class="grid-num-link" data-page="@i">@i</a></li>
                                   
                        }

                    }





                    @if (Model.loopStart + 5 < @count)
                    {
                                
                        <li class=""><a href="#" onclick="PButton(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)"><i class="fa fa-angle-right"></i></a></li>
                                   
                        if (@count % 5 == 0)
                        {
                        <li class=""><a href="#" onclick="NextButton(@Model.RowsPerPage,@count,@count - 4 ,@count, Math.round(@count/5+0.5)*5 ,Math.round(@count/5 - 0.5)* 5  ) "><i class="fa fa-angle-double-right"></i></a></li>       
                                    
                        }
                        else
                        {
                        <li class=""><a href="#" onclick="NextButton(@Model.RowsPerPage,@count,@count - 4 ,@count, Math.round(@count/5+0.5)*5  ,Math.round(@count/5 - 0.5)* 5  + 1) "><i class="fa fa-angle-double-right"></i></a></li>   
                        }
                    }
                    else
                    {
                        <li class=""><a><i class="fa fa-angle-right"></i></a></li>
                        <li class=""><a><i class="fa fa-angle-double-right"></i></a></li>
                    }



                </ul>
                        




            }
        </div>
        <!-- PAGE CONTENT ENDS -->
        }
        else
        {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">

                    <strong>@Resources.MasterDataDashboard.AssemblyRecordsFound</strong><br />


                </div>
            </div>
        </div>
        }
    }
</div>

@Html.HiddenFor(m => m.ResultCount, new { @id = "hdnResultCount" })
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#assemblymain").addClass("active open");
        $("#assemblysub").addClass("nav-show").css("display", "block");
        $("#assemblylist").addClass("active");
        $("#assemblylinkid").removeClass("fa-comment").addClass("fa-comment-o");


    });

    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        .dataTable({
            bAutoWidth: true,
            "aLengthMenu": [[50, 100, 200, 400, -1], [50, 100, 200, 400, "All"]],
            "iDisplayLength": 50,
            "aoColumns": [
              { "bSortable": false },
              null, null, null, null,
              { "bSortable": false }
            ],
            "bPaginate": false
            // "bFilter": false

        });

        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })
    $(".DeleteAssembly").on('click', function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        var id = $(this).attr('id');
        var path = "@Url.Action("CheckAssemblyChildExist", "Assembly")";

        var request = $.ajax({

            url: path,
            data: { AssemblyID: id },
            success: function (result) {
                //alert(result);
                if (!result) {


                    bootbox.confirm('@Resources.MasterDataDashboard.Areyousurewanttodelete', function (confresult) {



                        if (confresult) {

                            window.location.href = url;
                        }

                    })
                }

                else {

                    bootbox.alert('@Resources.MasterDataDashboard.ThisAssemblyNameisAlreadyExulesoit');
                }
            }


        });
    });


</script>

<script>
    function Resultcount() {
        return @Model.ResultCount
    }


    function NextButton(rPage, pageNo, lStart, lEnd, LastClick, TempLoop) {
        var resultCount = document.getElementById("hdnResultCount").value;
        //  alert(resultCount);
        var pageNumber = pageNo;
        //alert(pageNumber);
        var rowsPerPage = rPage;
        //alert(rowsPerPage);
        var loopStart = lStart;
        // alert(loopStart);
        var loopEnd = lEnd
        //alert(loopEnd);
        var LastClick = LastClick
        //  alert(LastClick);
        var TempLoop = TempLoop
        //   alert(TempLoop);
        //var ClickCount = document.getElementById("Count").value;
        $.get("/SuperAdmin/Assembly/IndexOfAssembly", {

            PageNumber: pageNumber,
            RowsPerPage: rowsPerPage,
            loopStart: lStart,
            loopEnd: lEnd,
            ResultCount: resultCount,
            ClickCount: LastClick,
            TempLoop: TempLoop
        }, function (data) {

            $("#sample-table-2_wrapper").html(data)

        });


        function NextAndPreviousButton(rPage, pageNo, lStart, lEnd) {

            var resultCount = document.getElementById("hdnResultCount").value;
            var pageNumber = pageNo;
            var rowsPerPage = rPage;
            var loopStart = lStart;
            var loopEnd = lEnd
            ResultCount: resultCount
            $.get("/SuperAdmin/Assembly/IndexOfAssembly", {

                PageNumber: pageNumber,
                RowsPerPage: rowsPerPage,
                loopStart: lStart,
                loopEnd: lEnd,
                ResultCount: resultCount
            }, function (data) {
                alert(data)
                alert(data)
                $("#sample-table-2_wrapper").html(data)

            });
        }
    }

    function PButton(rPage, pageNo, lStart, lEnd) {

        // alert("czxc");
        var resultCount = document.getElementById("hdnResultCount").value;
        //alert(resultCount);
        var pageNumber = pageNo;
        //alert(pageNumber);
        var rowsPerPage = rPage;
        // alert(rowsPerPage);
        var loopStart = lStart;
        //  alert(loopStart);
        var loopEnd = lEnd
        //alert(loopEnd);
        //var ClickCount = document.getElementById("Count").value;
        //alert(ClickCount);
        $.get("/SuperAdmin/Assembly/IndexOfAssembly", {

            PageNumber: pageNumber,
            RowsPerPage: rowsPerPage,
            loopStart: lStart,
            loopEnd: loopEnd,
            ResultCount: resultCount,
            ClickCount: loopEnd,
        }, function (data) {

            $("#sample-table-2_wrapper").html(data)

        });
    }

    $("select").change(function () {

        var SeltValue = document.getElementById("DropDown").value;

        var resultCount = document.getElementById("hdnResultCount").value;

        $.get("/SuperAdmin/Assembly/IndexOfAssembly", {

            PageNumber: 1,
            RowsPerPage: SeltValue,
            loopStart: 1,
            loopEnd: 5,
            ResultCount: resultCount
        }, function (data) {

            $("#sample-table-2_wrapper").html(data)
            $("#DropDown").val(SeltValue);
        });

    })


</script>





