﻿@model   SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.AssemblyViewModel
@{
    ViewBag.Title = "CreateAssembly";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}


@Html.Action("LeftNavigationMenu", "SuperAdmin")
@*@Html.Partial("_LeftNavigationMenu")*@
<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<div class="main-content">
     @Html.Partial("_BreadcrumbsPartial")
    
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("ShowAllAssemblyDetails", "Assembly")">@Resources.MasterDataDashboard.Home</a>
            </li>

            <li>
                <a href="@Url.Action("ShowAllAssemblyDetails", "Assembly")">@Resources.MasterDataDashboard.AssemblyDetails</a>
            </li>
           
        </ul>
       
    </div>

    <div class="page-content">

        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.MasterData
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.AssemblyDetails
                </small>
            </h1>


        </div>

        <!-- /section:settings.box -->

        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.CreateAssembly</h4>
            }
            else
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.EditAssembly</h4>
            }

        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        @* //, new { @class = "form-horizontal", @role = "form" }*@
                        <div class="row">
                            @using (Html.BeginForm("SaveAssembly", "Assembly", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                            { 
                                <div class="col-xs-12">
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(m => m.AssemblyID)
                                    @Html.HiddenFor(model => model.Mode)
                                    <div class="tabbable">
                                        <div class="tab-content no-border padding-24">
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.AssemblyName</label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.AssemblyName, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.AssemblyName, @autocomplete = "off", @maxlength = "250", @onchange = "onchangeevent();" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="assemblyNamevalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.AssemblyName)
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.AssemblyNameLocal </label>
                                                <div class="col-sm-9">
                                                    @Html.TextBoxFor(model => model.AssemblyNameLocal, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.AssemblyNameLocal, @autocomplete = "off", @maxlength = "250" })
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="id-date-picker-1">@Resources.MasterDataDashboard.AssemblyStartDate </label>
                                                <div class="col-sm-9">
                                                    @Html.TextBoxFor(m => m.AssemblyStartDate, new { @id = "finish_date", @placeholder = @Resources.MasterDataDashboard.AssemblyStartDate, @name = "finish_date", @class = "date-picker col-xs-10 col-sm-5", @data_date_format = "dd/mm/yyyy" })
                                                    <span class="input-group-addon1">
                                                        <i class="fa fa-calendar bigger-110"></i>
                                                    </span>
                                                    <span class="field-validation-error" id="assemblyDatevalidation" style="color: red; margin-left: -10px; position: relative; bottom: -3px;"></span>
                                                    @Html.ValidationMessageFor(model => model.AssemblyStartDate, "", new { @id = "ValidFromValidateMesssge" })
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="id-date-picker-2">@Resources.MasterDataDashboard.AssemblyEndDate </label>
                                                <div class="col-sm-9">
                                                    @* @Html.TextBoxFor(model => model.AssemblyEndDate, new { @placeholder = @Resources.MasterDataDashboard.AssemblyEndDate, @class = "date-picker col-xs-10 col-sm-5" })*@
                                                    @Html.TextBoxFor(m => m.AssemblyEndDate, new { @id = "End_date", @placeholder = @Resources.MasterDataDashboard.AssemblyEndDate, @name = "finish_date", @class = "date-picker col-xs-10 col-sm-5", @data_date_format = "dd/mm/yyyy" })

                                                    <span class="input-group-addon1">
                                                        <i class="fa fa-calendar bigger-110"></i>
                                                    </span>

                                                    <span class="field-validation-error" id="DateComapreValidation"></span>
                                                </div>
                                            </div>
                                            <div class="space-2"></div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.AssemblyPeriod </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.Period, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.AssemblyPeriod, @autocomplete = "off", @maxlength = "12" })
                                                    <span class="field-validation-error" id="assemblyPeriodvalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                    @Html.ValidationMessageFor(model => model.Period)

                                                </div>

                                            </div>

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Active </label>
                                                <div class="col-sm-9">

                                                    @Html.CheckBoxFor(model => model.Active)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="btn-group pull-right padding-10" style="padding-bottom:40px;">
                                        <!-- #section:plugins/fuelux.wizard.buttons -->
                                        <button type="submit" id="savebtn" class="btn btn-sm btn-purple " onclick="return userValid();">
                                            <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                            @Resources.MasterDataDashboard.Save</button>
                                        <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                            @Resources.MasterDataDashboard.Reset
                                        </button>
                                        <!-- /section:plugins/fuelux.wizard.buttons -->
                                    </div>

                                </div>
                            }
                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">

    function userValid() {
        var name, date, period;
        name = document.getElementById("AssemblyName").value;
        date = document.getElementById("finish_date").value;
        period = document.getElementById("Period").value;
        if ((name == "" || name == null) && (date == "" || date == null) && (period == "" || period == null)) {
            $("#assemblyNamevalidation").html("Assembly Name is Required");
            $("#assemblyDatevalidation").html("Start Date is Required");
            $("#assemblyPeriodvalidation").html("Period is Required");
            return false;
        }
        return true;

    }
    $(function () {
        $('#AssemblyName').focus(function () {
            $('#assemblyNamevalidation').html("");
        });
    });

    $(function () {
        $('#finish_date').focus(function () {
            $('#assemblyDatevalidation').html("");
        });
    });

    $(function () {
        $('#Period').focus(function () {
            $('#assemblyPeriodvalidation').html("");
        });
    });

    $(document).ready(function () {
        $("#AssemblyName").focus();

        $('#finish_date').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });
        $('#End_date').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        }); End_date

        $("#assemblymain").addClass("active open");
        $("#assemblysub").addClass("nav-show").css("display", "block");
        $("#assemblylist").addClass("active");
        $("#assemblylinkid").removeClass("fa-comment").addClass("fa-comment-o");

    });

    function resetFields() {
        $(".field-validation-error").empty();
        $("#AssemblyName").focus();
    }

    $('.date-picker').datepicker({
        autoclose: true,
        todayHighlight: true

    })
   //show datepicker when clicking on the icon
   .next().on(ace.click_event, function () {
       $(this).prev().focus();
   });

    $(function () {

        $("#txtRem1desc").blur(function () {
            $(this).animate({
                height: '55px',
                width: '567px'
            },
               "fast"
            )
        });

        $("#txtRem1desc").focus(function () {
            $(this).animate({
                height: '200px',
                width: '567px'

            },
               "fast"
            );

            //$("#newsDescvalidation").html("");

        });

    });

    $(function () {

        $("#txtRem2desc").blur(function () {
            $(this).animate({
                height: '55px',
                width: '567px'
            },
               "fast"
            )
        });

        $("#txtRem2desc").focus(function () {
            $(this).animate({
                height: '200px',
                width: '567px'

            },
               "fast"
            );

            //$("#newsDescvalidation").html("");

        });

    });

    $(function () {

        $("#txtRem3desc").blur(function () {
            $(this).animate({
                height: '55px',
                width: '567px'

            },
               "fast"
            )
        });

        $("#txtRem3desc").focus(function () {
            $(this).animate({
                height: '200px',
                width: '567px'
            },
               "fast"
            );

            //$("#newsDescvalidation").html("");

        });

    });

    $(function () {

        $("#txtRem4desc").blur(function () {
            $(this).animate({
                height: '55px',
                width: '567px'
            },
               "fast"
            )
        });

        $("#txtRem4desc").focus(function () {
            $(this).animate({
                height: '200px',
                width: '567px'
            },
               "fast"
            );

            //$("#newsDescvalidation").html("");

        });

    });

    $(function () {

        $("#txtRem5desc").blur(function () {
            $(this).animate({
                height: '55px',
                width: '567px'
            },
               "fast"
            )
        });

        $("#txtRem5desc").focus(function () {
            $(this).animate({
                height: '200px',
                width: '567px'

            },
               "fast"
            );

            //$("#newsDescvalidation").html("");

        });

    });
    //function onchangeevent() {
    //    if ($('#AssemblyName').val() == "" || ('#AssemblyName').val() == null) {
    //        alert("hj");
    //        $('#AssemblyName').text("Assembly Name is Required");
    //        alert("hi");
    //        return false;
    //    }
    //    return true;
    //}
    //$("#savebtn").live("click", function () {

    //    if ($('#AssemblyName').val() == "" || ('#AssemblyName').val() == null)
    //    {
    //        $("#assemblyNamevalidation").text("Assembly Name is Required");
    //        return false
    //    }
    //    else {
    //        return true;
    //    }
    //});

    //$("#savebtn").live("click", function () {
    //    if ($('#Period').val() == "") {
    //        $('#assemblyPeriodvalidation').text("Period is Required");
    //    }
    //    else {
    //        return true;
    //    }
    //});

    //$("#savebtn").live("click", function () {
    //    if ($('#finish_date').val() == "") {
    //        $('#assemblyDatevalidation').text("Start Date is Required");
    //        return false
    //    }
    //    else {
    //        return true;
    //    }
    //});

</script>





