﻿
<link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />

<!-- page specific plugin styles -->
<link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="~/assets/css/chosen.css" />

<link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.css" />
<link rel="stylesheet" href="~/assets/css/daterangepicker.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.css" />
<link rel="stylesheet" href="~/assets/css/colorpicker.css" />
<script src="~/assets/js/jquery.autosize.min.js"></script>
<!-- text fonts -->
<link rel="stylesheet" href="~/assets/css/ace-fonts.css" />

<!-- ace styles -->
<link rel="stylesheet" href="~/assets/css/ace.min.css" />



<!--[if lte IE 9]>
			<link rel="stylesheet" href="~/assets/css/ace-part2.min.css" />
		<![endif]-->
<link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
<link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />

<style type="text/css">
	#prodiv {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100px;
		height: 100px;
		margin-top: -9em; /*set to a negative number 1/2 of your height*/
		margin-left: -15em; /*set to a negative number 1/2 of your width*/
		background-color: #f3f3f3;
	}
</style>


@*<style>
	.hspan {
		font-size: 18px;
		color: #f89406;
		border-bottom-color: #fdd0ac;
		font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
		/*font-weight:400;*/
		margin-left: 50px;
	}
</style>*@


	<!-- #section:basics/content.breadcrumbs -->
	@*<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
		</script>

		<ul class="breadcrumb">
			  <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("TransferFileForAssemblyHouse", "LOBFile")">Home</a>
            </li>

            <li>
                <a href="@Url.Action("TransferFileForAssemblyHouse", "LOBFile")">Assembly House Papers</a>
            </li>
            <li class="active">Paper Verification Report</li>
		</ul>
	</div>*@

	<div class="page-content">
		@*<div class="page-header">
			<h1>Paper Verification
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					Paper Verification Report
				</small>
			</h1>
		</div>*@
		

		<div class="row">
			<div class="col-xs-12" style="min-height: 800px;">
				<!-- PAGE CONTENT BEGINS -->
				<div class="widget-box">

					<div class="widget-header">
						
						<span id="designationText" class="hspan"></span>

						<div class="widget-toolbar">
							<div class="input-group">
								<label >
								Select Session Date

									<select id="SessionDate" class="chosen-select input-sm " name="SessionDate" data-placeholder="--select a Session Date --">
										
									</select>
							</label>
								<button class="btn btn-xs btn-primary btn-bold" type="button" onclick="getList()">
									<i class="ace-icon fa fa-search bigger-150"></i>
									<span class="bigger-110">Search</span>
								</button>	
								</div>
						</div>
					</div>

					@*<div class="widget-header">

						<div class="widget-toolbar">
							<div class="row" style="padding-top: 2px;">
								<div class="col-xs-4 col-sm-4">

									<div class="input-group">

										<span class="input-group-addon">
											<i class="fa fa-calendar bigger-110"></i>
										</span>
										<input class="form-control input-mask-date" name="date-range-picker" id="id-date-range-picker-1" style="margin-top: 1px;" placeholder="Select Date-Range" required>
										
									</div>
								</div>
								<div class="col-xs-8 col-sm-8">


									<label >
								Select Member

									<select id="memberID" class="chosen-select input-sm " name="ModuleID" data-placeholder="--select a member--">
										
									</select>
							</label>

							
								 <button class="btn btn-xs btn-primary btn-bold" type="button" onclick="getList()">
									<i class="ace-icon fa fa-search bigger-150"></i>
									<span class="bigger-110">Search</span>
								</button>	
								</div>
								
							</div>
						</div>
					</div>*@
					<div class="widget-body">
						<div class="widget-main">
							<div class="pass-table">
							<div id="totalmsg" style="display:none;">
		<div class="alert alert-info">
		 <span id="othermsg">Testing msg</span>   <strong id="ttlmsg"> 0</strong>
										<br/>
		</div>
	</div>
								<div id="tablecontainer">
								</div>
								
								<!-- PAGE CONTENT ENDS -->
							</div>
						</div>
					</div>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.page-content -->

	<div id="selectDesignatioMsg" style="visibility: hidden;">
		<div class="alert alert-info">

			<strong>Information </strong>

			Please Select a Session Date to View Report.
										<br/>
		</div>
	</div>
	<!-- /.main-content -->

	</div>





<!-- ace scripts -->

<script src="~/assets/js/CommonNotify.js"></script>
<script src="~/assets/js/chosen.jquery.min.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>
<script>
	try {
		$('.chosen-select').chosen({ allow_single_deselect: true });
		//resize the chosen on window resize
		$(window).on('resize.chosen', function () {
		
			$('.chosen-select').next().css({ 'width': '150px' });
		}).trigger('resize.chosen');
	}
	catch (error) {
	}
	try {
		$('#chosen-multiple-style').on('click', function (e) {
			var target = $(e.target).find('input[type=radio]');
			var which = parseInt(target.val());
			if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
			else $('#form-field-select-4').removeClass('tag-input-style');
		});
	}
	catch (error) {
	}
	$(document).ready(function () {

	    $("#LOBFilesmain").addClass("active open");
	    $("#LOBFilesSub").addClass("nav-show").css("display", "block");
	    $("#OnlineList").addClass("active");
	    $("#LOBFileslinkid").removeClass("fa-file").addClass("fa-file-o");


	    $("#searchcriteriavalueDiv").hide();
		$("#tablecontainer").html($("#selectDesignatioMsg").html());
		fillSessionDate();
	});

	function getList() {
		var SessionDate = $("#SessionDate option:selected").val();
		
			$("#loader-wrapper").show();
		
				var pathurl = "@Url.Action("getPaperLaidList", "PaperVerificationReport")";
				$.ajax({
					url: pathurl,
					type: 'GET',
					data: { SessionDate: SessionDate },
					success: function (data) {
						$("#tablecontainer").html("");
						$("#tablecontainer").html(data);
						$("#loader-wrapper").hide();
					}
				});
		
	}
	
	function fillSessionDate() {
		$("#loader-wrapper").show();
		
		$.ajax({
			url: "/admin/PaperVerificationReport/fillSessionDate",
			type: 'GET',
			success: function (data) {
				
				$("#SessionDate").html("");
					
					for (var i = 0; i < data.length; i++) {
						var item = data[i];

						$("#SessionDate").append($("<option></option>").val(item.Text).html(item.Text))
					}
					$("#SessionDate").trigger("chosen:updated");
					$("#loader-wrapper").hide();
				
			}
		});
	}
</script>
