﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV

@*@Html.HiddenFor(m => m.AssemblyID)
@Html.HiddenFor(m => m.SessionID)*@

@Html.HiddenFor(m => m.AssemblyId, new { @id = "AssemblyID" })
@Html.HiddenFor(m => m.SessionId, new { @id = "SessionID" })


<script>
    $.paperSentOnFormatter = function (cellvalue, options, rowObject) {

        if (cellvalue != null) {
            var sentOnDate = cellvalue;
            sentOnDate = sentOnDate + "";
            sentOnDate = sentOnDate.replace("/", "");
            sentOnDate = sentOnDate.replace("/", "");
            sentOnDate = sentOnDate.replace("Date(", "");
            sentOnDate = sentOnDate.replace(")", "");
            var parsedDate = new Date(parseInt(sentOnDate));


            var curr_date = parsedDate.getDate();
            var curr_month = parsedDate.getMonth() + 1;
            var curr_year = parsedDate.getFullYear();

            var formattedWithLocalString = curr_date + "/" + curr_month + "/" + curr_year;
            return formattedWithLocalString;
        }
        else {
            return "";
        }

        //var formattedWithLocalString = parsedDate.toLocaleString();     



    };
    $.PriorityFormatter = function (cellvalue, options, rowObject) {

        if (cellvalue != null && cellvalue != 0) {
            return cellvalue;
        }
        else {
            return "";

        }

    }
    $.DiaryFormatter = function (cellvalue, options, rowObject) {


        var OLSubmit = rowObject[0]

        if (OLSubmit == true) {
            return "<i class='ace-icon fa fa-circle green' style='margin-right:5%'></i>" + cellvalue;

        }
        else {
            return cellvalue
        }
    }
</script>

<script>

    $(document).ready(function () {
        @* var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Notices/Diaries/GetAllList",
            type: 'GET',
            data: {},
            success: function (data) {
                $("#divDataContainer").html(data)
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent('@Resources.Diaries.Diary', "");
                    ChangeBreadCrumbChild('@Resources.Diaries.All', "");
                    //ChangeProgress("progressSUN");
                }


            });*@

        $("#two-column").css("display", "none")

       @* if ('@Model.Message' != "") {
            document.getElementById("SuccessDiv").style.display = "block";
        }*@

    })

    function getPrevHideDiv() {
        $("#aPrev").hide();
        $("#aNext").show();
        $("#btnBackHideDiv").show();
        $("#ToBeHideDiv").hide("slow", function () {
        });
        $("#ExpandDiv").animate({ width: '78%' }, "slow");
        $("#aNext").css("margin-left", "20%");
    }
    function getNextHideDiv() {
        $("#ToBeHideDiv").show("slow", function () {
        });
        $("#aPrev").show();
        $("#aNext").hide();
        $("#btnBackHideDiv").hide();
        $("#ExpandDiv").animate({ width: '48%' }, "slow");

    }


    function GetAllList() {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Notices/Diaries/GetAllList",
            type: 'GET',
            data: {},
            success: function (data) {
                $("#divDataContainer").html(data)
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent('@Resources.Diaries.Diary', "");
                ChangeBreadCrumbChild('@Resources.Diaries.All', "");
                //ChangeProgress("progressSUN");

            }
        });
    }

    function GetStarred(id) {
        $("#two-column").css("display", "block")
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        var AId = $("#AssemblyID").val();
        var SId = $("#SessionID").val();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Notices/Diaries/GetStarredDiary",
            type: 'GET',
            data: {
                AssemId: AId, SessId: SId, PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#divDataContainer").html(data)
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent('@Resources.Diaries.Diary', "");
                ChangeBreadCrumbChild('@Resources.Diaries.StarredQuestion', "");
                //ChangeProgress("progressSUN");

            }
        });
    };

    function GetPPQuestionsByType(tpe) {
        $("#two-column").css("display", "block")
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        var AId = $("#AssemblyID").val();
        var SId = $("#SessionID").val();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Notices/Diaries/GetPPQuestionsByType",
            type: 'GET',
            data: {
                AssemId: AId, SessId: SId, Qtype: tpe
            },
            success: function (data) {
                $("#divDataContainer").html(data)
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent('@Resources.Diaries.Diary', "");
                ChangeBreadCrumbChild('@Resources.Diaries.StarredQuestion', "");
            }
        });
    }

    function GetUnstarred(id) {
        $("#two-column").css("display", "block")
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        var AId = $("#AssemblyID").val();
        var SId = $("#SessionID").val();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Notices/Diaries/GetUnstarredDiary",
            type: 'GET',
            data: {
                AssemId: AId, SessId: SId, PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#divDataContainer").html(data)
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent('@Resources.Diaries.Diary', "");
                ChangeBreadCrumbChild('@Resources.Diaries.UnstarredQuestion', "");
                //ChangeProgress("progressSUN");
            }
        });
    }
    function GetNotices(id) {
        $("#two-column").css("display", "block")
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        var AId = $("#AssemblyID").val();
        var SId = $("#SessionID").val();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Notices/Diaries/GetNoticesDiary",
            type: 'GET',
            data: {
                AssemId: AId, SessId: SId, PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#divDataContainer").html(data)
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent('@Resources.Diaries.Diary', "");
                ChangeBreadCrumbChild('@Resources.Diaries.Notices', "");
            }
        });
    };
    function GetReports() {
        $("#two-column").css("display", "block")
        $("#loader-wrapper").show();
        var AId = $("#AssemblyID").val();
        var SId = $("#SessionID").val();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Notices/Report/MemberWiseReport",
            type: 'GET',

            success: function (data) {
                //var parentWidth = $('#resize-left').parent().outerWidth();
                //if ($('#resize-right').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
                //else { resizeLeftPanel(100); }
                //$('#spnScrollPosition').html('2');
                $("#divDataContainer").empty();
                $("#divDataContainer").html(data);
                ClearControls();
                $("#loader-wrapper").hide();
            }
        });
    };

    function VerifiedPapersReport() {
        $("#two-column").css("display", "block")
        $("#loader-wrapper").show();
        var AId = $("#AssemblyID").val();
        var SId = $("#SessionID").val();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Notices/Diaries/paperverifyReport",
            type: 'GET',

            success: function (data) {
                //var parentWidth = $('#resize-left').parent().outerWidth();
                //if ($('#resize-right').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
                //else { resizeLeftPanel(100); }
                //$('#spnScrollPosition').html('2');
                $("#divDataContainer").empty();
                $("#divDataContainer").html(data);
                ClearControls();
                $("#loader-wrapper").hide();
            }
        });
    };
    function VerifyPapers() {
        $("#two-column").css("display", "block")
        $("#loader-wrapper").show();
        var AId = $("#AssemblyID").val();
        var SId = $("#SessionID").val();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Notices/Diaries/VerifyPapers",
            type: 'GET',

            success: function (data) {
                //var parentWidth = $('#resize-left').parent().outerWidth();
                //if ($('#resize-right').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
                //else { resizeLeftPanel(100); }
                //$('#spnScrollPosition').html('2');
                $("#divDataContainer").empty();
                $("#divDataContainer").html(data);
                ClearControls();
                $("#loader-wrapper").hide();
            }
        });
    };
    function CreateNew(type) {
        var AId = $("#AssemblyID").val();
        var SId = $("#SessionID").val();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Notices/Diaries/GetPaperEntry",
            type: 'GET',
            data: { AssemId: AId, SessId: SId, EntryType: type },
            success: function (data) {
                $("#RightSidebar").html(data)
                $("#divShowMessage").hide()
            }
        });
    }

    function ClearControls() {
        $("#RightSidebar").html('');
    }

    function hideLeftPanel() {
        $('#resize-left').width(0);
        $('#resize-right').width(100 + '%')

    }
    function hideLeftPanelAnimate() {
        resizeLeftPanel(0);
    }
    function hideRightPanel() {
        $('#resize-left').width(100 + '%');
        $('#resize-right').width(0)
    }

    function hideRightPanelAnimate() {
        resizeLeftPanel(100);
    }

    function resizeClick(isLeft) {
        var parentWidth = $('#resize-left').parent().outerWidth();
        if (isLeft) { // click on left rezise button
            if ($('#resize-left').width() > (parentWidth * 0.52)) {
                resizeLeftPanel(50);

            }
            else {
                resizeLeftPanel(0);

            }
        } else {
            if ($('#resize-right').width() > (parentWidth * 0.52)) {
                resizeLeftPanel(50);

            }
            else {
                resizeLeftPanel(100);

            }
        }

    }

    function resizeLeftPanel(sizeRatio) {
        var parentWidth = $('#resize-left').parent().width();
        $('#resize-left').animate({ width: +(sizeRatio) + '%' }, 500);
        $('#resize-right').animate({ width: +(100 - sizeRatio) + '%' }, 500);
        $("#CommonGrid").setGridWidth($('.col-xs-12').width());
    }
</script>
