﻿@model  SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.ConstituencyViewModel
@{
    ViewBag.Title = "CreateConstituency";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}


@Html.Action("LeftNavigationMenu", "SuperAdmin")
<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    @Html.Partial("_BreadcrumbsPartial")
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("ShowAllDetails", "Constituency")">@Resources.MasterDataDashboard.ConstituencyMasterData</a>
            </li>
            <li>
                <a href="@Url.Action("ShowAllDetails", "Constituency")">@Resources.MasterDataDashboard.ConstituencyDetails</a>
            </li>
                
        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
       @* <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>*@

    </div>

    <div class="page-content">
      
        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.MasterData                              
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.ConstituencyDetails  
                </small>
            </h1>


        </div>

        <!-- /section:settings.box -->

        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.CreateConstituency</h4>
            }
            else
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.EditConstituency</h4>
            }

        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            @using (Html.BeginForm("SaveConstituency", "Constituency", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                            { 
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.ConstituencyID)
                                @Html.HiddenFor(model => model.Mode)                              
                                <div class="tabbable">
                                      
                                    <div class="tab-content no-border padding-24">
                                        <div class="tab-pane in active" id="news-english">
                                             <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.AssemblyName </label>
                                                <div class="col-sm-9">

                                                    @Html.DropDownListFor(model => model.AssemblyID, Model.Assembly, @Resources.MasterDataDashboard.SelectAssemblyNames, new {  @id="AssemblyID", @class = "col-xs-10 col-sm-5" })

                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="assemblyvalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.AssemblyID)
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.DistrictCode </label>
                                                <div class="col-sm-9">

                                                    @Html.DropDownListFor(model => model.DistrictCode, Model.District,@Resources.MasterDataDashboard.SelectDistrict, new { @class = "col-xs-10 col-sm-5" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="districtvalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.DistrictCode)
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.ConstituencyName </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.ConstituencyName, new { @class = "col-xs-10 col-sm-5", @placeholder =@Resources.MasterDataDashboard.ConstituencyName , @autocomplete = "off",@maxlength ="30" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="conNamevalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.ConstituencyName)
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.ConstituencyNameLocal </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.ConstituencyName_Local, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.ConstituencyNameLocal, @autocomplete = "off",@maxlength ="50" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                      
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Ward Code </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.ConstituencyCode, new { onchange = "CheckID(this)", @id="IDCheck", @class = "col-xs-10 col-sm-5", @placeholder = "Constituency Code", @onkeypress = "return isNumberKey(event)", @autocomplete = "off",@maxlength ="10" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                      
                                                    </div>
                                                </div>

                                            </div>



                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Ward Reserved Category</label>
                                                <div class="col-sm-9">

                                                    @Html.DropDownListFor(model => model.ReservedCategory, Model.ReservedCategoryName, "--Select Category--", new { @class = "col-xs-10 col-sm-5" })

                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="ReservedCategoryvalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.ReservedCategory)
                                                    </div>
                                                </div>

                                            </div>



                                            <div class="space-2"></div> 
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Active </label>
                                                <div class="col-sm-9">
                                                   @Html.CheckBoxFor(model => model.Active)       

                                                  
                                                </div>

                                            </div>
                                           

                                        </div>
                                        

                                    </div>
                                </div>                              
                                <div class="btn-group pull-right padding-10">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->
                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple " onclick="return userValid();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        @Resources.MasterDataDashboard.Save</button>
                                    <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        @Resources.MasterDataDashboard.Reset
                                    </button>
                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>
                            }
                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>

<script>

    function userValid() {
        var assemName, District, ConName;
        assemName = document.getElementById("AssemblyID").value;
        District = document.getElementById("DistrictCode").value;
        ConName = document.getElementById("ConstituencyName").value;
        if ((assemName == "" || assemName == null) && (District == "" || District == null) && (ConName == "" || ConName == null)) {
            $("#assemblyvalidation").html("Select Assembly Name");
            $("#districtvalidation").html("Select District Name");
            $("#conNamevalidation").html("Ward Name is Required");
            return false;
        }
        return true;

    }

    $(function () {
        $('#AssemblyID').focus(function () {
            $('#assemblyvalidation').html("");

        });
    });

    $(function () {
        $('#DistrictCode').focus(function () {
            $('#districtvalidation').html("");

        });
    });

    $(function () {
        $('#ConstituencyName').focus(function () {
            $('#conNamevalidation').html("");

        });
    });

    $(document).ready(function () {
        $("#AssemblyID").focus();
        $("#Locationmain").addClass("active open");
        $("#Locationsub").addClass("nav-show").css("display", "block");
        $("#constituencylist").addClass("active");
        $("#Locationlinkid").removeClass("fa-comment").addClass("fa-comment-o");
    });

    function resetFields() {
        $(".field-validation-error").empty();
        $("#AssemblyID").focus();
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>

<script>

    function CheckID(IDCheck) {

        var Code = $("#IDCheck").val();
        var Assembly = $("#AssemblyID").val();
        $.ajax({
            url: "/SuperAdmin/Constituency/CheckId",
            type: 'POST',
            data: { ConstituencyCode: Code, AssemblyId: Assembly },
            success: function (data) {
                if (data == "0") {

                }
                else if (data >= "1") {
                    alert("This Ward Code Aleardy Exist for Selected House!");
                    $('#IDCheck').val("");
                }
            }
        });
    }

</script>
