﻿@model  List<SBL.eLegistrator.HouseController.Web.Areas.PressClipping.Models.PressClipViewModel>
@{
    int count = 0;
}
<form method="post" action="/SchemeSetup/SaveQualification" id="EditPressClippingForm">
    <div class="pass-table">
        @if (Model != null)
        {
            if (Model.Count() > 0)
            {       
            <div class="table-header">
                <div class="form-group">
                   
                </div>
            </div>             
            <table class="table table-striped table-bordered table-hover dataTable" id="tblPressClipDetails" aria-describedby="sample-table-2_info">
                <thead>
                    <tr role="row">
                        <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>
                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.NewsPaperName</th>
                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.NewsDate</th>
                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.PageNumber</th>
                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.Subject</th>
                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.ContentKeywords</th>
                        <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.ScannedCopyImg</th>
                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.ContentText</th>
                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.Category</th>
                        <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""><input type="checkbox" id="selecctall"/>Availability</th>
                    </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all">
                    @foreach (var item in Model)
                    {
                        count = count + 1;  
                        <tr>
                            <td class="center">
                                @count
                                <input name="hdnPCId-@count" type="hidden" id="PCId-@count" value="@item.PressClipID" />
                                <input name="hdnPCRow" id="PCRow" type="hidden"  value="@count" />
                            </td>
                            <td style="width: 10%">@item.NewsPaperName</td>
                            <td style="width: 10%">@item.NewsDate.ToString("dd/MM/yyyy")</td>
                            <td style="width: 15%">@item.PageNumber</td>
                            <td style="width: 15%">@item.Subject</td>

                            <td style="width: 10%">@item.ContentKeywords</td>
                            <td style="width: 10%">
                                @if (!string.IsNullOrEmpty(item.ScannedCopyImg))
                                {
                                    <img src="~/Images/PressClip/@item.ScannedCopyImg" height="50px" width="50px" /> 
                                }
                                else
                                {
                                    <img src="~/Images/Common/no_img.gif" height="50px" width="50px" /> 
                                }
                            </td>
                            <td style="width: 10%">@item.ContentText</td>
                            <td style="width: 10%">@item.Category</td>
                            <td class="center" style="width: 10%">
                                @if (item.Status == true)
                                {
                                    <input type="checkbox" class="Availablity" id="chbStatus-@count" checked="checked" name="chbStatus-@count"/>
                                }
                                else
                                {
                                    <input type="checkbox" class="Availablity" id="chbStatus-@count" name="chbStatus-@count"   />
                                }

                            </td>
                        </tr>                                                                
                    }

                </tbody>
            </table>
            <div class="space-2"></div> 
           
            <div class="btn-group pull-right padding-10">
                <!-- #section:plugins/fuelux.wizard.buttons -->
                <button type="button" id="btnUpdatePC" class="btn btn-primary">
                    <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                    @Resources.MasterDataDashboard.Save</button>
                <!-- /section:plugins/fuelux.wizard.buttons -->
            </div>
            <!-- PAGE CONTENT ENDS -->
            }
            else
            {
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-info">
                        <strong>@Resources.MasterDataDashboard.NoPressClippingFound</strong><br />
                    </div>
                </div>
            </div>
            }
        }
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {

        var oTable1 =
        $('#tblPressClipDetails')
        //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
              { "bSortable": false },
             null, null, null, null, null, null, null, null,
             null
            ]

        });

        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

        setTimeout(function () {
            $("#MsgDiv").slideUp(400);
        }, 2000);


        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "mm/dd/yyyy"
        });
        $("#txtNewsPaperName").focus();

        $('#selecctall').click(function (event) {  //on click 
            if (this.checked) { // check select status
                $('.Availablity').each(function () { //loop through each checkbox
                    this.checked = true;  //select all checkboxes with class "checkbox1"               
                });
            } else {
                $('.Availablity').each(function () { //loop through each checkbox
                    this.checked = false; //deselect all checkboxes with class "checkbox1"                       
                });
            }
        });
    });

    function tooltip_placement(context, source) {
        var $source = $(source);
        var $parent = $source.closest('table')
        var off1 = $parent.offset();
        var w1 = $parent.width();
        var off2 = $source.offset();
        //var w2 = $source.width();
        if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
        return 'left';
    }

</script>