﻿@model SBL.DomainModel.ComplexModel.Constituency.schemeMapping
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<div class="row col-sm-12">
    <div class="widget-box">
        <div class="widget-header">
            <h4 class="widget-title">Search Works</h4>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-sm-12 col-sm-10">
                        <div class="col-xs-12 col-sm-12" style="padding-bottom: 10px;">
                            <div class="col-sm-6">
                                <label class="col-sm-4 control-label no-padding-right">
                                    Financial Year</label>
                                <div class="col-sm-8">
                                    <select id="FinancialYear" style="width: 100%"></select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-sm-4 control-label no-padding-right">
                                    Controlling Authority</label>
                                <div class="col-sm-8">
                                    <select id="ControllingAuthority" style="width: 100%">
                                        <option value="HPD1069">HP VIDHAN SABHA
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12" style="padding-bottom: 10px;">
                            <div class="col-sm-6">
                                <label class="col-sm-4 control-label no-padding-right">
                                    Demand</label>
                                <div class="col-sm-8">
                                    <select id="Demand" class="chosen-select input-sm" data-placeholder="--select a Demand --" @*style="width: 250px"*@></select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-sm-4 control-label no-padding-right">
                                    Executive Department</label>
                                <div class="col-sm-8">
                                    <select id="Agency" class="chosen-select input-sm" data-placeholder="--select a Agency --" @*style="width: 250px"*@></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12" style="padding-bottom: 10px;">
                            <div class="col-sm-6">
                                <label class="col-sm-4 control-label no-padding-right">
                                    Owner Department</label>
                                <div class="col-sm-8">
                                    <select id="OwnerDepartment" class="chosen-select input-sm" data-placeholder="--select Owner Department --" @*style="width: 250px"*@></select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-sm-4 control-label no-padding-right">
                                    Program</label>
                                <div class="col-sm-8">
                                    <select id="Program" class="chosen-select input-sm" data-placeholder="--select a Program --" @*style="width: 250px"*@></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12" style="padding-bottom: 10px;">
                            <div class="col-sm-6">
                                <label class="col-sm-4 control-label no-padding-right">
                                    Panchayat</label>
                                <div class="col-sm-8">
                                    <select id="Panchayat" class="chosen-select input-sm" data-placeholder="--select  Panchayat --" @*style="width: 250px"*@></select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="col-sm-4 control-label no-padding-right">
                                    Work Type</label>
                                <div class="col-sm-8">
                                    <select id="workType" style="width: 100%;">
                                        <option value="HPD1069">--All--
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12" style="padding-bottom: 10px;">

                            <div class="col-sm-6">
                                <label class="col-sm-4 control-label no-padding-right">
                                    Status</label>
                                <div class="col-sm-8">
                                    <select id="Status" style="width: 100%;">
                                        <option value="HPD1069">--All--
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="inline col-sm-4 control-label no-padding-right  no-padding-left">
                                </label>
                                <div class="col-sm-8  no-padding-right">
                                    <div class="col-sm-5  no-padding-right  no-padding-left">
                                        <label class="inline control-label no-padding-right  no-padding-left">
                                            <input type="checkbox" class="ace" id="Checklatest" name="Checklatest">
                                            <span class="lbl">Latest Up to</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-7  no-padding-left">
                                        <input type="text" id="latestDate" name="latestDate" disabled data-date-format="dd-mm-yyyy" class="width-100 date-picker" placeholder="Date">
                                    </div>
                                </div>
                            </div>
                            @*  <div class="col-sm-6">
								<label class="col-sm-4 control-label no-padding-right">
									Amount
								</label>
								<div class="col-sm-8 no-padding-left">
									<div class="col-sm-6 ">
										<div class="radio no-padding-left">
											<label>
												<input name="form-field-radio" type="radio" checked class="ace">
												<span class="lbl">Rupee</span>
											</label>
										</div>
									</div>
									<div class="col-sm-6 ">
										<div class="radio no-padding-left">
											<label>
												<input name="form-field-radio" type="radio" class="ace">
												<span class="lbl">Lakh</span>
											</label>
										</div>
									</div>
								</div>
							</div>*@
                        </div>
                    </div>
                    <div class="col-sm-12 col-sm-2">

                        <button type="button" class="btn btn-info btn-sm" onclick="GetFilterMySchemeList()">
                            <i class="ace-icon fa fa-filter bigger-110"></i>Filter
                        </button>                       
                        <button type="button" class="btn btn-warning btn-sm">
                            <i class="ace-icon fa fa-times bigger-110"></i>Clear
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row col-sm-12">
    <div class="widget-box">
        <div class="widget-header widget-header-flat">
            <h5 class="widget-title">Search Result</h5>
            <div class="widget-toolbar no-border">
                <button class="btn btn-xs btn-info bigger" onclick="newWork('half')">
                    <i class="ace-icon fa fa-pencil-square-o"></i>
                    New Work
                </button>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12" style="padding: 0px">
                        <div id="two-column" class="">
                            <div id="resize-left" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 20px;">

                                <div id="divLeftContainer" style="position: absolute; top: 0; height: 20px; width: 100%; display: block;">
                                    <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                                    <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                                        <i id="one" onclick="resizeClick(1)" class="ace-icon fa fa-angle-double-left roundicon"></i>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span12" style="padding: 10px;">
                                        <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
                                        <div class="col-xs-12" style="padding: 0px">
                                            <div id="divDataContainer">
                                                <div id="innerLeftSidebar">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="resize-right" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 21px;">

                                <div id="divRightContainer" style="position: absolute; top: 0; height: 21px; width: 100%; display: block;">
                                    <input type="hidden" id="ChangeStatus" value="false" />
                                    <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                                    <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                                        <i id="two" data-icon2="ace-icon fa fa-angle-double-right" onclick="resizeClick(0)" data-icon1="ace-icon fa fa-angle-double-left" class="ace-icon fa fa-angle-double-right roundicon"></i>
                                    </div>
                                </div>

                                <div class="row-fluid" style="overflow: hidden">
                                    <div class="span12">
                                        <div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>
                                        <div>

                                            <div id="RightSidebar" style="width: 100%">

                                                <div class="widget-box sblFullScreen" style="display: none">

                                                    <div class="widget-header widget-header-flat">
                                                        <h4 class="widget-title">Works</h4>
                                                        <div class="widget-toolbar">

                                                            <a href="#" data-action="fullscreen" class="red">
                                                                <i class="ace-icon fa fa-expand bigger-150"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="widget-body">
                                                        @using (@Ajax.BeginForm("updateWorksbyMembers", "constituency", FormMethod.Post, new AjaxOptions
                                                    {
                                                        OnSuccess = "OnUpdateSuccess()",

                                                        LoadingElementId = "loader-wrapper"
                                                    }, new { @class = "form-horizontal", @role = "form", id = "updateWorksbyMembers" }))
                                                        {
                                                            <div class="widget-main">

                                                                <div id="innerRightSidebar">
                                                                </div>

                                                                <div class="form-actions center">
                                                                    <button type="reset" class="btn btn-sm btn-info" onclick="return cancelEntry();">
                                                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                                                        Reset
                                                                    </button>
                                                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple" onclick="onclickvalidation();">
                                                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                                                        Submit
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="FormPart" style="width: 100%; height: 100%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="defaultmsg" style="visibility: hidden">
    <div class="row col-sm-12">

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            <strong>Information!</strong>

            Please Select Criteria and click on Filter Button.
										<br>
        </div>
    </div>
</div>

<!-- #two-column-->
<div id="viewProgressImages" class="modal"></div>
<div id="viewFinancialProgress" class="modal"></div>
<div id="viewphysicalProgress" class="modal"></div>
<!-- PAGE CONTENT ENDS -->
<script src="~/Content/ScriptsUp/jquery.ui.widget.js"></script>
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="~/Scripts/Constituency/myConstituencyWorks.js"></script>
<script src="~/Scripts/Constituency/mappingConstituency.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script>
    
    $('.date-picker').datepicker({
        autoclose: true,
        todayHighlight: true
    })
    $("#innerLeftSidebar").html("");
    $("#innerLeftSidebar").html($("#defaultmsg").html());
    try {
        $('.chosen-select').chosen({ allow_single_deselect: true });

        $(window).on('resize.chosen', function () {
            var w = $('.chosen-select').parent().width();
            $('.chosen-select').next().css({ 'width': '100%' });
        }).trigger('resize.chosen').trigger("chosen:updated")
    }
    catch (error) {
    }

    $(document).ready(function () {
        $("#loader-wrapper").show();
        fillControllingAuthority();
        fillFinancialYear();
        fillAllDemand();
        fillAllDistrict();
        fillExecutingDepartment();
        fillOwnerDepartment();
        fillExecutingAgency();
        fillPanchayat();
        fillWorkNature();
        fillWorkStatus();
        fillWorkType();
        fillProgramme();
    })
    $(".show-option").tooltip({
        show: {
            effect: "slideDown",
            delay: 250
        }
    });
    //$(function () {

    //    $('#sidebar-collapse').on('click', function () {
    //        var parentWidth = $('#resize-left').parent().width();
    //        if ($('#sidebar').hasClass('menu-min')) {
    //            parentWidth = parentWidth - 179;
    //        } else { parentWidth = parentWidth + 175; }

    //        var remainingSpace = parentWidth - $('#resize-left').outerWidth();
    //        var divTwo = $('#resize-left').next();
    //        var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
    //        divTwo.css('width', divTwoWidth + 'px');

    //    });

    //    $("#resize-left").resizable({
    //        handles: 'e',
    //        minWidth: '316',
    //        maxWidth: '950',
    //        /*    grid: [ 20, 10 ], */
    //        resize: function () {
    //            var remainingSpace = $(this).parent().width() - $(this).outerWidth();
    //            var divTwo = $(this).next();
    //            var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
    //            divTwo.css('width', (divTwoWidth - 20) + 'px');

    //        }

    //    });
    //});
    //function resizeLeftPanel(sizeRatio) {
    //    var parentWidth = $('#resize-left').parent().width();
    //    var sidebarWidth = parseInt((parentWidth * sizeRatio) / 100);
    //    var left_width = $('#resize-left').outerWidth();
    //    if (sidebarWidth > left_width) {

    //        $('#resize-left').animate({ width: '+=' + (sidebarWidth - left_width) + 'px' }, 800);
    //        $('#resize-right').animate({ width: '-=' + (sidebarWidth - left_width) + 'px' }, 800);

    //    } else {

    //        $('#resize-left').animate({ width: '-=' + (left_width - sidebarWidth) + 'px' }, 800);
    //        $('#resize-right').animate({ width: '+=' + (left_width - sidebarWidth) + 'px' }, 800);

    //    }

    //}
    function hideLeftPanel() {
        $('#resize-left').width(0);
        $('#resize-right').width(100 + '%')

    }
    function hideLeftPanelAnimate() {
        resizeLeftPanel(0);
    }
    function hideRightPanel() {
        $('#resize-left').width(100 + '%');
        $('#resize-right').width(0)
    }

    function hideRightPanelAnimate() {
        resizeLeftPanel(100);
    }

    function resizeClick(isLeft) {
        var parentWidth = $('#resize-left').parent().outerWidth();

        if (isLeft) { // click on left rezise button
            if ($('#resize-left').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
            else { resizeLeftPanel(0); }
        } else {
            if ($('#resize-right').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
            else { resizeLeftPanel(100); }
        }

    }

    function resizeLeftPanel(sizeRatio) {

        if (sizeRatio == 100) {
            $("#ChangeStatus").val('true');
        }
        if (sizeRatio == 50) {
            $("#ChangeStatus").val('false');
        }
        var parentWidth = $('#resize-left').parent().width();
        $('#resize-left').animate({ width: +(sizeRatio) + '%' }, 500);
        $('#resize-right').animate({ width: +(100 - sizeRatio) + '%' }, 500);
        // $("#CommonGrid").setGridWidth($('.col-xs-12').width());

    }
</script>
