﻿@model SBL.DomainModel.ComplexModel.Constituency.schemeMapping
<style type="text/css">
	#floating-box {
		width: 170px;
		height: 200px;
		/*border:1px solid red;
		background-color:#BBBBBB;*/
		/*float:left;*/
		/*margin-left:-100px;
		margin-right:10px;*/
		/*position: absolute;*/
		z-index: 1;
	}
</style>

<div class="row col-sm-12">
	<div class="widget-box">
		<div class="widget-header">
			<h4 class="widget-title">Search Works</h4>
			<div class="widget-toolbar">
				<a href="#" data-action="collapse">
					<i class="ace-icon fa fa-chevron-up"></i>
				</a>
			</div>
		</div>

		<div class="widget-body">
			<div class="widget-main">
				<div class="row">
					<div class="col-xs-12 col-sm-10">
						<div class="col-xs-12 col-sm-12" style="padding-bottom: 10px;">
							<div class="col-sm-6">
								<label class="col-sm-5 control-label no-padding-right">
									Financial Year</label>
								<div class="col-sm-6">
									<select id="FinancialYear" style="width: 250px"></select>
								</div>
							</div>
							<div class="col-sm-6">
								<label class="col-sm-5 control-label no-padding-right">
									Controlling Authority</label>
								<div class="col-sm-6">
									<select id="ControllingAuthority" style="width: 250px">
										<option value="HPD1069">HP VIDHAN SABHA
										</option>
									</select>
								</div>
							</div>
						</div>

						<div class="col-xs-12 col-sm-12">
							<div class="col-sm-6">
								<label class="col-sm-5 control-label no-padding-right">
									Demand</label>
								<div class="col-sm-6">
									<select id="DemandID" data-placeholder="--select a Demand --" style="width: 250px"></select>
								</div>
							</div>
							@*<div class="col-sm-6">
								<label class="col-sm-5 control-label no-padding-right">
									District</label>
								<div class="col-sm-6">
									<select id="District" class="chosen-select input-sm" data-placeholder="--select a District --" style="width: 250px"></select>
								</div>
							</div>*@
						</div>
					</div>

					<div class="col-xs-12 col-sm-2">

						<button type="button" class="btn btn-info btn-sm" onclick="GetFilterSchemeList()">
							<i class="ace-icon fa fa-filter bigger-110"></i>Filter
						</button>
						<button type="button" class="btn btn-warning btn-sm">
							<i class="ace-icon fa fa-times bigger-110"></i>Clear
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@if (Model != null)
{
	<div class="row col-xs-12">
		<div class="widget-box">
			<div class="widget-header widget-header-flat">
				<h4 class="smaller">
					<i class="ace-icon fa fa-asterisk"></i>
					Search Result
				</h4>
			</div>

			<div class="widget-body">
				<div class="widget-main">
					<div class="row col-sx-12">
						<div class="col-xs-12 col-sm-5">
							<div class="widget-box widget-color-blue">
								<div class="widget-header widget-header-flat Blue">
									<h4 class="widget-title">HP Vidhan Sabha Works @Model.FinancialYear</h4>
									<div class="widget-toolbar">
										<span class="badge badge-danger">Count @Model.vsSchemeList.Count()</span>
									</div>
								</div>
								<div class="widget-body">
									@Html.Partial("_AllConstituency", Model.vsSchemeList)

									@* <div class="widget-toolbox padding-8 clearfix">
										<button class="btn btn-xs  btn-primary pull-right" onclick="sendWorkToConstituency()">
											<span class="bigger-110">Send</span>
											<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
										</button>
									</div>*@
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-2">
							<div id="floating-box">
								<div class="hr hr12 dotted"></div>
								<div class="clearfix center">
									<a href="#"><span class="label label-xlg label-danger arrowed-right" data-placement="top" data-rel="tooltip" title="" data-original-title="Add to My Constituency Works" onclick="sendWorkToConstituency()">>>>   >>>    </span></a>
									<div class="hr hr12 dotted"></div>
									<a href="#"><span class="label label-xlg label-info arrowed" data-placement="bottom" data-rel="tooltip" title="" data-original-title="Remove From My Constituency Works" onclick="deletemyConstituencyWorks()"><<<   <<<    </span></a>
								</div>
								<div class="hr hr12 dotted"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-5">
							<div class="widget-box widget-color-red">
								<div class="widget-header widget-header-flat Red">
									<h4 class="widget-title">@Model.constituenctName Constituency @Model.FinancialYear </h4>
									<div class="widget-toolbar">

										<span class="badge badge-info">Count @Model.mySchemeList.Count() </span>
									</div>
								</div>
								<div class="widget-body">

									@Html.Partial("_myConstituencyList", Model.mySchemeList)
									@* <div class="widget-toolbox padding-8 clearfix">
										<button class="btn btn-xs btn-danger pull-left" onclick="deletemyConstituencyWorks()">
											<i class="ace-icon fa fa-times"></i>
											<span class="bigger-110">Delete</span>
										</button>
									</div>*@
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
else
{
	<div class="row col-xs-12">
		<div class="widget-box">
			<div class="widget-header widget-header-flat">
				<h4 class="smaller">
					<i class="ace-icon fa fa-asterisk"></i>
					Search Result
				</h4>
			</div>

			<div class="widget-body">
				<div class="widget-main">
					<div class="alert alert-info">
						<button type="button" class="close" data-dismiss="alert">
							<i class="ace-icon fa fa-times"></i>
						</button>
						<strong>Information!</strong>

						Please Select Criteria and click on Filter Button.
										<br>
					</div>
				</div>
			</div>
		</div>
	</div>

}
<!-- #two-column-->

<!-- PAGE CONTENT ENDS -->
<script src="~/Content/ScriptsUp/jquery.ui.widget.js"></script>
<script src="~/Scripts/Constituency/mappingConstituency.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script type="text/javascript">

	//avoid conflict with other script

	$(document).ready(function ($) {

		//this is the floating content
		var $floatingbox = $('#floating-box');

		if ($('body').length > 0) {

			var bodyY = parseInt($('body').offset().top) - 20;
			bodyY = 300;
			var originalX = $floatingbox.css('margin-left');

			$(window).scroll(function () {

				var scrollY = $(window).scrollTop();
				var isfixed = $floatingbox.css('position') == 'fixed';

				if ($floatingbox.length > 0) {

					if (scrollY > bodyY && !isfixed) {
						$floatingbox.stop().css({
							position: 'fixed',
							left: '50%',
							top: 20,
							// marginLeft: 0
						});
					} else if (scrollY < bodyY && isfixed) {
						$floatingbox.css({
							position: 'relative',
							left: 0,
							top: 0,
							// marginLeft: originalX
						});
					}
				}
			});
		}
	});
</script>
<script>
	$('[data-rel=tooltip]').tooltip();
	$('[data-rel=popover]').popover({ html: true });
	try {
		$('.chosen-select').chosen({ allow_single_deselect: true });
		//resize the chosen on window resize

	}
	catch (error) {
	}

	$(document).ready(function () {
		fillFinancialYear();
		fillAllDemand();
		fillAllDistrict();
	});
</script>