﻿@model SBL.DomainModel.ComplexModel.Constituency.schemeMapping
@using SBL.eLegistrator.HouseController.Web.Utility;

@{
    string Name = "";
    Name = CurrentSession.Name;
}
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<div class="row col-sm-12">
    <div class="widget-box">
        <div class="widget-header">
            <h4 class="widget-title">Search Works</h4>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main">
                @Html.Partial("_OfficerFilter", new string[] { "0", "0" })
            </div>
        </div>
    </div>
</div>

<div class="row col-sm-12">
    <div class="widget-box">
        <div class="widget-header widget-header-flat">
            <h5 class="widget-title">Search Result</h5>
            <div class="widget-toolbar no-border">
                @* if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.SubUserTypeID == "40")
                {
                }
                else
                {*@
                <button class="btn btn-xs btn-info bigger" onclick="newWork('half')">
                    <i class="ace-icon fa fa-pencil-square-o"></i>
                    New Work
                </button>
                @* }	*@
            </div>
        </div>


        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12" style="padding: 0px">
                        <div id="two-column" class="">
                            <div id="resize-left" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 20px;">

                                <div id="divLeftContainer" style="position: absolute; top: 0; height: 20px; width: 100%; display: block;">
                                    <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                                    <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                                        <i id="one" onclick="resizeClick(1)" class="ace-icon fa fa-angle-double-left roundicon"></i>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span12" style="padding: 10px;">
                                        <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
                                        <div class="col-xs-12" style="padding: 0px">
                                            <div id="divDataContainer">
                                                <div id="innerLeftSidebar">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="resize-right" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 21px;">

                                <div id="divRightContainer" style="position: absolute; top: 0; height: 21px; width: 100%; display: block;">
                                    <input type="hidden" id="ChangeStatus" value="false" />
                                    <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                                    <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                                        <i id="two" data-icon2="ace-icon fa fa-angle-double-right" onclick="resizeClick(0)" data-icon1="ace-icon fa fa-angle-double-left" class="ace-icon fa fa-angle-double-right roundicon"></i>
                                    </div>
                                </div>

                                <div class="row-fluid" style="overflow: hidden">
                                    <div class="span12">
                                        <div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>
                                        <div>

                                            <div id="RightSidebar" style="width: 100%">

                                                <div class="widget-box sblFullScreen" style="display: none">

                                                    <div class="widget-header widget-header-flat">
                                                        <h4 class="widget-title">Works</h4>
                                                        <div class="widget-toolbar">

                                                            <a href="#" data-action="fullscreen" class="red">
                                                                <i class="ace-icon fa fa-expand bigger-150"></i>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="widget-body" id="divNew" style="display: none;">
                                                        @using (@Ajax.BeginForm("updateWorksbyMembers", "constituency", FormMethod.Post, new AjaxOptions
                                                    {
                                                        //OnSuccess = "OnUpdateSuccess()",
                                                        OnSuccess = "OnAddSuccess()",
                                                        LoadingElementId = "loader-wrapper"
                                                    }, new { @class = "form-horizontal", @role = "form", id = "updateWorksbyMembers" }))
                                                        {
                                                            <div class="widget-main">

                                                                <div id="innerRightSidebar">
                                                                </div>

                                                                <div class="form-actions center">
                                                                    @*	if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.SubUserTypeID == "40")
                {
                }
                else
                {*@
                                                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple">
                                                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                                                        Submit
                                                                    </button>
                                                                    @*// }*@
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>


                                                    <div class="widget-body" id="divUpdate" style="display: none;">
                                                        @using (@Ajax.BeginForm("updateWorksbyMembers1", "constituency", FormMethod.Post, new AjaxOptions
                                                    {
                                                        OnSuccess = "OnUpdateSuccess()",

                                                        LoadingElementId = "loader-wrapper"
                                                    }, new { @class = "form-horizontal", @role = "form", id = "updateWorksbyMembers1", enctype = "multipart/form-data" }))
                                                        {
                                                            <div class="widget-main">

                                                                <div id="innerRightSidebar1">
                                                                </div>

                                                                <div class="form-actions center" id="dbsubmitbtn" >
                                                                   @* if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.SubUserTypeID == "40" && SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.OfficeId= )
                                                                    {
                                                                    }
                                                                    else
                                                                    {*@
                                                                        <button type="button" id="officersavebtn" class="btn btn-sm btn-purple" onclick="officersavebtnSubmit()">
                                                                            <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                                                            Submit
                                                                        </button>
                                                                  @*  }*@
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="FormPart" style="width: 100%; height: 100%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="defaultmsg" style="visibility: hidden">
    <div class="row col-sm-12">

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            <strong>Information!</strong>

            Please Select Criteria and click on Filter Button.
										<br>
        </div>
    </div>
</div>

<!-- #two-column-->
@using (@Ajax.BeginForm("UpdateProgressbyOfficer", "constituency", FormMethod.Post, new AjaxOptions
                                                    {
                                                        OnSuccess = "OnUpdateprogressSuccess(data)",
                                                        LoadingElementId = "loader-wrapper"
                                                    }, new { @class = "form-horizontal", @role = "form", id = "updateWorksbyMembers" }))
{
    <div id="UpdateProgress" class="modal"></div>
}
@using (@Ajax.BeginForm("UpdateImagesbyOfficer", "constituency", FormMethod.Post, new AjaxOptions
                                                    {
                                                        OnSuccess = "OnUpdateImagesSuccess()",

                                                        LoadingElementId = "loader-wrapper"
                                                    }, new { @class = "form-horizontal", @role = "form", id = "updateImagesWorksbyMembers" }))
{
    <div id="UpdateImages" class="modal">

        <div id="UpdateImagesDIv"></div>
    </div>
}

<!-- PAGE CONTENT ENDS -->
<div id="viewProgressImages" class="modal"></div>
<div id="viewFinancialProgress" class="modal"></div>
<div id="viewphysicalProgress" class="modal"></div>
<div id="viewWorksDetail" class="modal"></div>
<div id="NviewWorksSummary" class="modal"></div>

<script src="~/Content/ScriptsUp/jquery.ui.widget.js"></script>
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="~/Scripts/Constituency/myConstituencyWorks.js"></script>

<script src="~/Scripts/Constituency/officerConstituency.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script>
    try {
        $('.chosen-select').chosen({ allow_single_deselect: true });

        $(window).on('resize.chosen', function () {
            var w = $('.chosen-select').parent().width();
            $('.chosen-select').next().css({ 'width': '100%' });
        }).trigger('resize.chosen').trigger("chosen:updated")
    }
    catch (error) {
    }

    $(".show-option").tooltip({
        show: {
            effect: "slideDown",
            delay: 250
        }
    });
    $(document).ready(function () {
        $('#savebtn').hide();
        $('#savebtn').show(10000);

    });

    function hideLeftPanel() {
        $('#resize-left').width(0);
        $('#resize-right').width(100 + '%')

    }
    function hideLeftPanelAnimate() {
        resizeLeftPanel(0);
    }
    function hideRightPanel() {
        $('#resize-left').width(100 + '%');
        $('#resize-right').width(0)
    }

    function hideRightPanelAnimate() {
        resizeLeftPanel(100);
    }

    function resizeClick(isLeft) {
        var parentWidth = $('#resize-left').parent().outerWidth();

        if (isLeft) { // click on left rezise button
            if ($('#resize-left').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
            else { resizeLeftPanel(0); }
        } else {
            if ($('#resize-right').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
            else { resizeLeftPanel(100); }
        }

    }

    function resizeLeftPanel(sizeRatio) {

        if (sizeRatio == 100) {
            $("#ChangeStatus").val('true');
        }
        if (sizeRatio == 50) {
            $("#ChangeStatus").val('false');
        }
        var parentWidth = $('#resize-left').parent().width();
        $('#resize-left').animate({ width: +(sizeRatio) + '%' }, 500);
        $('#resize-right').animate({ width: +(100 - sizeRatio) + '%' }, 500);
        // $("#CommonGrid").setGridWidth($('.col-xs-12').width());

    }
</script>
