﻿@model  SBL.DomainModel.ComplexModel.Constituency.schemeMapping
@{
    int count = 0;
}
@if (Model != null)
{
    <div class="widget-box widget-color-blue">
        <div class="widget-header widget-header-flat Red">
            <h4 class="widget-title"><p id="forSummaryPTag" style="display:inline"></p>@Model.constituenctName Constituency  @(Model.FinancialYear != "0" ? Model.FinancialYear : "") </h4>

            <div class="widget-toolbar">
                @*   <button style="float:right" class="btn btn-sm btn-warning">
												<i class="ace-icon fa fa-fire bigger-110"></i>
												<span  class="btn btn-sm btn-primary" onclick="getDDDData()">Generate Report PDF</span>
											</button>*@

             <button style="float:right;margin-top:2px" type="button" class="btn btn-white btn-yellow btn-sm" title="Generate Report In Pdf Format" onclick="getReportsPdf()">   
            
                Export <img src="~/Images/Common/PDF.png" width="25" height="25"/></button>
                </div>
            <div class="widget-toolbar">
                <input type="hidden" id="idForExport" />
                <button style="float:right;margin-top:2px" type="button" class="btn btn-white btn-purple btn-sm" title="Generate Report In Excel Format" onclick="ExportToExcel()">Export <img src="~/Images/Common/excel.png"  width="25" height="25"/></button>
          
                   </div>
            <div class="widget-toolbar">

                <span class="badge badge-danger">Count @Model.mySchemeList.Count() </span>
            </div>
        </div>
        <div class="widget-body">
            <div class="pass-table">

                <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">

                    <table class="table table-striped table-bordered table-hover dataTable table table-striped table-hover dt-responsive" width="100%" id="myConstituency" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">

                                <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 15%; vertical-align: text-top;">Work Code</th>
                                <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 30%; vertical-align: text-top;">Work Name</th>
                                <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="vertical-align: text-top;">Estimated Amount<span>(<i class="fa fa-inr"></i>)</span> / Expected Completion Date</th>
                                <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="vertical-align: text-top;">Sanctioned Amount<span>(<i class="fa fa-inr"></i>)</span> /Date</th>
                                <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 10%; vertical-align: text-top;">Panchayat / Urban Area</th>
                                <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="vertical-align: text-top;">Expenditure Till Date <span>(<i class="fa fa-inr"></i>)</span></th>
                                <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="vertical-align: text-top;">Physical Progress Till Date (%)</th>
                                <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="vertical-align: text-top;">Executive Agency </th>
                                <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="vertical-align: text-top;">Current Status & Progress Details</th>
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.mySchemeList)
                            {
                                count = count + 1;
                                <tr id="@item.mySchemeID"  ondblclick="onOfficerSelectRowHandler(this.id)" >
                                                                      <td>
                                        <span>
                                            @item.workCode
                                        </span>
                                    </td>
                                    <td>@item.workName</td>
                                    <td><span>@String.Format(System.Globalization.CultureInfo.CreateSpecificCulture("hi-IN"), "{0:N0}", item.EstimatedAmount)</span><br />@item.CompletionDate
                                    </td>
                                    <td style="white-space: nowrap;">
                                        @String.Format(System.Globalization.CultureInfo.CreateSpecificCulture("hi-IN"), "{0:N0}", item.sanctionedAmount)
                                        <br />@item.sanctionedDate
                                    </td>

                                    <td>@item.PanchayatName</td>

                                    <td style="white-space: nowrap;">
                                        @if (item.financialProgress > 0)
                                        {
                                            <i class="ace-icon fa fa-inr bigger-120 green"></i>@String.Format(System.Globalization.CultureInfo.CreateSpecificCulture("hi-IN"), "{0:N0}", item.financialProgress)
                                        }
                                        else
                                        {
                                            <span>--</span>
                                        }
                                    </td>
                                    <td style="white-space: nowrap;">
                                        @if (item.physicalProgress > 0)
                                        {
                                            <i class="ace-icon glyphicon glyphicon-signal bigger-120 pink"></i>	<text > @item.physicalProgress </text>
                                        }
                                        else
                                        {
                                            <span>--</span>
                                        }
                                    </td>
                                    <td><b>@item.ExecutiveDepartmentName</b>
                                        <br />
                                        @item.ExecutiveOfficeName        @* ExecutiveOffice*@
                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            @if (item.workStatus == "Completed")
                                            {
                                                <button class="btn btn-minier btn-success" type="button"  onclick="onMyConstituencySelectRowHandler('@item.mySchemeID')" data-rel="tooltip" title="" data-original-title="Progress Detail" style="width:100px;">
                                                    <i class="ace-icon glyphicon glyphicon-signal align-top bigger-125"></i>
                                                    @item.workStatus
                                                </button>@*
												if (item.imageCount != null && item.imageCount > 0)
												{
												<div class="space-6"></div>

												<button class="btn btn-minier btn-primary" type="button" data-rel="tooltip" title="" data-original-title="Pictorial Progress"onclick="viewProgressImages('@item.mySchemeID')" style="width:100px;">
													<i class="ace-icon fa fa-picture-o align-top bigger-125"></i>
													Pictorial
												</button>
												}*@

                                            }
                                            @if (item.workStatus == "In Progress")
                                            {

                                                <button class="btn btn-minier btn-info" type="button"  onclick="onMyConstituencySelectRowHandler('@item.mySchemeID')" data-rel="tooltip" title="" data-original-title="Progress Detail" style="width:100px;">

                                                    @item.workStatus
                                                </button>
@*
												if (item.imageCount != null && item.imageCount > 0)
												{
												<div class="space-6"></div>

												<button class="btn btn-minier btn-primary" type="button" data-rel="tooltip" title="" data-original-title="Pictorial Progress"onclick="viewProgressImages('@item.mySchemeID')" style="width:100px;">
													<i class="ace-icon fa fa-picture-o align-top bigger-125"></i>
													Pictorial
												</button>
												}*@
                                            }
                                            @if (item.workStatus == "Sanctioned")
                                            {

                                                <button class="btn btn-minier btn-primary" type="button"   onclick="onMyConstituencySelectRowHandler('@item.mySchemeID')" data-rel="tooltip" title="" data-original-title="Progress Detail" style="width:100px;">

                                                    @item.workStatus
                                                </button>
@*if (item.imageCount != null && item.imageCount > 0)
												{
												<div class="space-6"></div>

												<button class="btn btn-minier btn-primary" type="button" data-rel="tooltip" title="" data-original-title="Pictorial Progress"onclick="viewProgressImages('@item.mySchemeID')" style="width:100px;">
												<i class="ace-icon fa fa-picture-o align-top bigger-125"></i>
													Pictorial
												</button>
												}*@
                                            }
                                            
                                            @if (item.workStatus == "Cancelled")
                                            {
                                                <button class="btn btn-minier btn-danger" type="button"   onclick="onMyConstituencySelectRowHandler('@item.mySchemeID')" data-rel="tooltip" title="" data-original-title="Progress Detail" style="width:100px;">

                                                    @item.workStatus
                                                </button>
               
               
@*if (item.imageCount != null && item.imageCount > 0)
												{
												<div class="space-6"></div>

												<button class="btn btn-minier btn-primary" type="button" data-rel="tooltip" title="" data-original-title="Pictorial Progress"onclick="viewProgressImages('@item.mySchemeID')" style="width:100px;">
												<i class="ace-icon fa fa-picture-o align-top bigger-125"></i>
													Pictorial
												</button>
												}*@
                                            }


                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
     
}
else { }
@*<div id="loader-wrapper" style="display: none">
        <div id="loader"></div>
    
    </div>*@

<script>
    $(document).ready(function () {
        $('[data-rel=tooltip]').tooltip();
        $('[data-rel=popover]').popover({ html: true });

        $('#resize-left').width($('#resize-left').parent().width());
        var table = $('#myConstituency').DataTable({
            "paging": true,
            "aaSorting": []

        });
        $('#myConstituency tbody').on('dblclick', 'tr', function () {
            if ($(this).hasClass('info')) {
                $(this).removeClass('info');
            }
            else {
                table.$('tr.info').removeClass('info');
                $(this).addClass('info');
            }
        });

    });
    function onOfficerSelectRowHandler(rowId) {

        $("#divUpdate").show();
        $("#divNew").hide();



        $("#loader-wrapper").show();
        $('.widget-box').show();
        var pathurl = '/Constituency/Constituency/findConstituencyWorkbyCode';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: { schemeID: rowId },
            success: function (data) {
                $('#resize-left').animate({ 'width': '530px' });
                $("#innerRightSidebar1").html("");
                $("#innerRightSidebar1").html(data)

                $("#loader-wrapper").hide();
            }
        });
    }
    function onMyConstituencySelectRowHandler(rowId) {

        $("#loader-wrapper").show();

        var pathurl = '/Constituency/Constituency/findMyConstituencyWorkbyCode';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: { schemeID: rowId },
            success: function (data) {
                $("#viewWorksDetail").show();
                $("#viewWorksDetail").html("");
                $("#viewWorksDetail").html(data);
                $("#viewWorksDetail").modal({
                    "backdrop": "static",
                    "keyboard": true,
                    "show": true
                });
                $("#loader-wrapper").hide();

            }
        });
    }

    function getReportsPdf() {
        $("#RightSidebar .widget-box").hide();

        $("#wrapper").show();
        $("#loader-wrapper").show();
        var FinancialYear = $("#FinancialYear option:selected").val();
        var ControllingAuthority = $("#ControllingAuthority option:selected").val();
        var Demand = $("#Demand option:selected").val();
        var Program = $("#Program option:selected").val();
        var Agency = $("#Agency  option:selected").val();
        var OwnerDepartment = $("#OwnerDepartment option:selected").val();
        var Panchayat = $("#Panchayat option:selected").val();
        var WorkType = $("#workType option:selected").val();
        var Status = $("#Status  option:selected").val();
        var DistrictID = $("#District  option:selected").val();
        var Constituency = $("#Constituency  option:selected").val();
        var cFinancialYear = $("#statusFinancialYear option:selected").val();
        var sanctionedDate = $("#latestDate").val();

        var ID = $("#idForExport").val();
        if (ID == null) {
            ID = "";
        }
        var summaryTypeDropDown = $("#summaryTypeDropDown option:selected").val();
        if (ID != "") {
            if (summaryTypeDropDown == "Controling Authority") { ControllingAuthority = ID }
            if (summaryTypeDropDown == "Executing Department") { Agency = ID }
            if (summaryTypeDropDown == "Panchayat") { Panchayat = ID }
            if (summaryTypeDropDown == "Program Name") { Program = ID }
            if (summaryTypeDropDown == "Work Type") { WorkType = ID }
        }
       
        var pathurl = '/Constituency/Constituency/PdfconstituencyListForAcceptMLA';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: { FinancialYear: FinancialYear, ControllingAuthority: ControllingAuthority, Demand: Demand, Program: Program, Agency: Agency, OwnerDepartment: OwnerDepartment, Panchayat: Panchayat, WorkType: WorkType, Status: Status, DistrictID: DistrictID, Constituency: Constituency, cFinancialYear: cFinancialYear, sanctionedDate: sanctionedDate },
            success: function (data) {
                var url = data.replace('\;', '/');
               // var PDF = 'http://localhost:50730' + url
                var PDF = 'https://secure.evidhan.nic.in' + url
                window.open(PDF, "_blank");
                $("#loader-wrapper").hide();
            }
        });
    }

    function ExportToExcel() {//

        var FinancialYear = $("#FinancialYear option:selected").val();
        var ControllingAuthority = $("#ControllingAuthority option:selected").val();
        var Demand = $("#Demand option:selected").val();
        var Program = $("#Program option:selected").val();
        var Agency = $("#Agency  option:selected").val();
        var OwnerDepartment = $("#OwnerDepartment option:selected").val();
        var Panchayat = $("#Panchayat option:selected").val();
        var WorkType = $("#workType option:selected").val();
        var Status = $("#Status  option:selected").val();
        var DistrictID = $("#District  option:selected").val();
        var cFinancialYear = $("#statusFinancialYear option:selected").val();
        var sanctionedDate = $("#latestDate").val();

        var ID = $("#idForExport").val();
        if (ID == null) {
            ID = "";
        }
        var summaryTypeDropDown = $("#summaryTypeDropDown option:selected").val();
        if (ID != "") {
            if (summaryTypeDropDown == "Controling Authority") { ControllingAuthority = ID }
            if (summaryTypeDropDown == "Executing Department") { Agency = ID }
            if (summaryTypeDropDown == "Panchayat") { Panchayat = ID }
            if (summaryTypeDropDown == "Program Name") { Program = ID }
            if (summaryTypeDropDown == "Work Type") { WorkType = ID }
        }
       
        var ss = "<input type='hidden' name='FinancialYear' value='" + FinancialYear + "' >" +
       "<input type='hidden' name='ControllingAuthority' value='" + ControllingAuthority + "' >" +
       "<input type='hidden' name='Demand' value='" + Demand + "' >" +
       "<input type='hidden' name='Program' value='" + Program + "' >" +
       "<input type='hidden' name='Agency' value='" + Agency + "' >" +
       "<input type='hidden' name='OwnerDepartment' value='" + OwnerDepartment + "' >" +
       "<input type='hidden' name='Panchayat' value='" + Panchayat + "' >" +
       "<input type='hidden' name='WorkType' value='" + WorkType + "' >" +
       "<input type='hidden' name='Status' value='" + Status + "' >" +
       "<input type='hidden' name='cFinancialYear' value='" + cFinancialYear + "' >";

        $('#loader-wrapper').show();

        $('body').prepend("<form method='post' action='/Constituency/Constituency/ConstituencyWorksExcelAcceptMLA' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
        $('#tempForm').submit();
        $("#tempForm").remove();

        setTimeout(function () {
            $('#loader-wrapper').hide();
        }, 2000);
    }
</script>
