﻿@model  SBL.DomainModel.ComplexModel.Constituency.schemeMapping
@{
	int count = 0;
}
<link href="~/Scripts/dataTables.tableTools.css" rel="stylesheet" />


@*<div id="my-progress-bar" class="my-progress-bar" >


</div>*@
<div id="wrapper" style="display:none" ></div>


 @* <div id='fullDetailsModel' class="hide">
        <div id='ShowfullDetailsModel' style="text-align: center">
        </div>
    </div>*@
@if (Model != null)
{

	<div class="widget-box widget-color-blue">
		<div class="widget-header widget-header-flat Red">
			<h4 class="widget-title"><p id="forSummaryPTag" style="display:inline"></p>@Model.constituenctName Constituency  @(Model.FinancialYear!="0"?Model.FinancialYear:"") </h4>
            
        	<div class="widget-toolbar"> 
        <input type="hidden" id="idForExport" />
          <button style="float:right;margin-top:2px" type="button" class="btn btn-white btn-yellow btn-sm" title="Generate Report In Pdf Format" onclick="getReportsPdf()">   
            
                Export <img src="~/Images/Common/PDF.png" width="25" height="25"/></button>
                </div>
            <div class="widget-toolbar">
                <button style="float:right;margin-top:2px" type="button" class="btn btn-white btn-purple btn-sm" title="Generate Report In Excel Format" onclick="ExportToExcel()">Export <img src="~/Images/Common/excel.png"  width="25" height="25"/></button>
          
                   </div>
			<div class="widget-toolbar">

				<span class="badge badge-danger">Count @Model.mySchemeList.Count() </span>
			</div>
		</div>
		<div class="widget-body">
			<div class="pass-table">

				<div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">

					<table class="table table-striped table-bordered table-hover dataTable table table-striped table-hover dt-responsive" width="100%" id="myConstituencyTable" aria-describedby="sample-table-2_info">
						<thead>
							<tr role="row">
								@*<th class=" sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">#</th>*@
								@* <th class=" sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">
							<label class="position-relative">
								<input type="checkbox" id="myconstituency" onchange="checkAll(this,'myconstituency')" class="ace" />
								<span class="lbl"></span>
							</label>
						</th>*@
								<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 15%; vertical-align: text-top;">Work Code</th>
								<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 30%; vertical-align: text-top;">Work Name</th>
								<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="vertical-align: text-top;">Estimated Amount<span>(<i class="fa fa-inr"></i>)</span> / Expected Completion Date</th>
								<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="vertical-align: text-top;">Sanctioned Amount<span>(<i class="fa fa-inr"></i>)</span> /Date</th>

								<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 10%; vertical-align: text-top;">Panchayat / Urban Area</th>
								<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="vertical-align: text-top;"> Expenditure Till Date <span>(<i class="fa fa-inr"></i>)</span></th>
								<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="vertical-align: text-top;">Physical Progress Till Date (%)</th>

								<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="vertical-align: text-top;">Executing Agency
									<div class="hidden-sm hidden-xs btn-group">

										<label class="position-relative">
											<input type="checkbox" id="myconstituency" onchange="checkAll(this,'myconstituency')" class="ace" />
											<span class="lbl"></span>
										</label>

										<a href="javascript:void(0)" type="button" class="btn btn-minier  btn-info pull-right" onclick="updateselectedexcutingagency()">
											<i class="ace-icon fa fa-pencil bigger-100"></i>
										</a>
									</div>
								</th>
								<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 12%; vertical-align: text-top;"> Current Status & Progress Details</th>
							</tr>
						</thead>

						<tbody role="alert" aria-live="polite" aria-relevant="all">
							@foreach (var item in Model.mySchemeList)
							{
								count = count + 1;
								<tr>

									<td>
										<Span>@item.workCode</Span>
											
										
									</td>
									<td>@item.workName</td>
									<td><span>@String.Format(System.Globalization.CultureInfo.CreateSpecificCulture("hi-IN"), "{0:N0}", item.EstimatedAmount)</span><br />@item.CompletionDate
									</td>
									<td style="white-space: nowrap;">
										@String.Format(System.Globalization.CultureInfo.CreateSpecificCulture("hi-IN"), "{0:N0}", item.sanctionedAmount)
										<br />@item.sanctionedDate
									</td>

									<td>@item.PanchayatName</td>

									<td style="white-space: nowrap;">
										@if (item.financialProgress > 0)
										{
											@String.Format(System.Globalization.CultureInfo.CreateSpecificCulture("hi-IN"), "{0:N0}", item.financialProgress)
										}
										else
										{
											<span>--</span>
										}
									</td>
									<td style="white-space: nowrap;">
										@if (item.physicalProgress > 0)
										{
										<i class="ace-icon glyphicon glyphicon-signal bigger-120 pink"></i>	<text > @item.physicalProgress  </text>
										}
										else
										{
											<span>--</span>
										}
									</td>

									<td><b>@item.ExecutiveDepartmentName</b>    @*ExecutiveDepartment*@
										<br />
										@item.ExecutiveOfficeName        @* ExecutiveOffice*@
										<br />
										<div class="hidden-sm hidden-xs btn-group">

											<label class="position-relative">
												<input type="checkbox" id="@item.mySchemeID" class="ace myconstituency" />
												<span class="lbl"></span>
											</label>
                                             <button type="button" title="@item.mySchemeID" class="btn btn-minier btn-danger pull-right" onclick="removeexcutingagency(this.title)">
												<i class="ace-icon fa fa-trash-o bigger-100"></i>
											</button>
											<button type="button" title="@item.mySchemeID" class="btn btn-minier  btn-info pull-right" onclick="updateexcutingagency(this.title)">
												<i class="ace-icon fa fa-pencil bigger-100"></i>
											</button>
                                           
										</div>
									</td>
									<td>
										<div class="hidden-sm hidden-xs action-buttons">
											@if (item.workStatus == "Completed")
											{
												<button class="btn btn-minier btn-success" type="button"   style="width:100px;cursor:auto;"  data-rel="tooltip" title="" data-original-title="Progress Detail"  onclick="onMyConstituencySelectRowHandler('@item.mySchemeID')">
													<i class="ace-icon glyphicon glyphicon-signal align-top bigger-125"></i>
											@*	 onclick="viewFinancialProgressbyMember('@item.mySchemeID')"*@
                                                    	@item.workStatus <br />
                                                
												</button>@*
												if (item.imageCount != null && item.imageCount > 0)
												{
												<div class="space-6"></div>

												<button class="btn btn-minier btn-primary" type="button" data-rel="tooltip" title="" data-original-title="Pictorial Progress"onclick="viewProgressImages('@item.mySchemeID')" style="width:100px;">
													<i class="ace-icon fa fa-picture-o align-top bigger-125"></i>
													Pictorial
												</button>
												}*@

											}
											@if (item.workStatus == "In Progress")
											{

												<button class="btn btn-minier btn-info" type="button"   style="width:100px;cursor:auto;"   data-rel="tooltip" title="" data-original-title="Progress Detail" onclick="onMyConstituencySelectRowHandler('@item.mySchemeID')">
												@* onclick="viewFinancialProgressbyMember('@item.mySchemeID')"*@
													@item.workStatus
												</button>@*
												if (item.imageCount != null && item.imageCount > 0)
												{
												<div class="space-6"></div>

												<button class="btn btn-minier btn-primary" type="button" data-rel="tooltip" title="" data-original-title="Pictorial Progress"onclick="viewProgressImages('@item.mySchemeID')" style="width:100px;">
													<i class="ace-icon fa fa-picture-o align-top bigger-125"></i>
													Pictorial
												</button>
												}*@
											}
                                            	
											@if (item.workStatus == "Sanctioned")
											{

												<button class="btn btn-minier btn-primary" type="button"   style="width:100px;cursor:auto;"  data-rel="tooltip" title="" data-original-title="Progress Detail"  onclick="onMyConstituencySelectRowHandler('@item.mySchemeID')">
													@*onclick="viewFinancialProgressbyMember('@item.mySchemeID')" *@
													@item.workStatus
												</button>@*
												if (item.imageCount != null && item.imageCount > 0)
												{
												<div class="space-6"></div>

												<button class="btn btn-minier btn-primary" type="button" data-rel="tooltip" title="" data-original-title="Pictorial Progress"onclick="viewProgressImages('@item.mySchemeID')" style="width:100px;">
												<i class="ace-icon fa fa-picture-o align-top bigger-125"></i>
													Pictorial
												</button>
												}*@
											}

											@if (item.workStatus == "Cancelled")
											{
												<button class="btn btn-minier btn-danger" type="button"  data-rel="tooltip" title="" data-original-title="Progress Detail"   style="width:100px;cursor:auto;" onclick="onMyConstituencySelectRowHandler('@item.mySchemeID')">
												@* onclick="viewFinancialProgressbyMember('@item.mySchemeID')"*@
													@item.workStatus
												</button>@*
												if (item.imageCount != null && item.imageCount > 0)
												{
												<div class="space-6"></div>

												<button class="btn btn-minier btn-primary" type="button" data-rel="tooltip" title="" data-original-title="Pictorial Progress"onclick="viewProgressImages('@item.mySchemeID')" style="width:100px;">
												<i class="ace-icon fa fa-picture-o align-top bigger-125"></i>
													Pictorial
												</button>
												}*@
											}
										
						
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

}
else { }
@*<script src="~/Scripts/jquery-1.9.1.min.js"></script>*@

<script>
    $('[data-rel=tooltip]').tooltip();
    $('[data-rel=popover]').popover({ html: true });


    $(document).ready(function () {
        //  $("#resize-left").width(640);
        $('#resize-left').width($('#resize-left').parent().width());
        var table = $('#myConstituencyTable').DataTable({
            "aaSorting": []
            //"sDom": 'T<"clear">lfrtip',
            //"oTableTools": {
            //    "aButtons": ["xls", "pdf"],
            //   "sSwfPath": "/assets/TableTools/swf/copy_csv_xls_pdf.swf"
            //}

        });
        $('#myConstituencyTable tbody').on('dblclick', 'tr', function () {
            if ($(this).hasClass('info')) {
                $(this).removeClass('info');
            }
            else {
                table.$('tr.info').removeClass('info');
                $(this).addClass('info');
            }
        });

    });
    function onMyConstituencySelectRowHandler(rowId) {
        $("#loader-wrapper").show();

        var pathurl = '/Constituency/Constituency/findMyConstituencyWorkbyCode';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: { schemeID: rowId },
            success: function (data) {

                $("#viewWorksDetail").html("");
                $("#viewWorksDetail").html(data);
                $("#viewWorksDetail").modal({
                    "backdrop": "static",
                    "keyboard": true,
                    "show": true
                    
                });
                $("#loader-wrapper").hide();
              
            }
        });
    }
    function format(num) {
        var n = num.toString(), p = n.indexOf('.');
        return n.replace(/\d(?=(?:\d{3})+(?:\.|$))/g, function ($0, i) {
            return p < 0 || i < p ? ($0 + ',') : $0;
        });
    }
   
   
//    function getReportsPdf() {
//        var pathurl = '/Constituency/Constituency/PopUp';
//            $.ajax({
//                type: 'GET',
//                url: pathurl,
//                data: {
                  
//                },
//                success: function (data) {
//                    Pdf()
                  
//                    $('#ShowfullDetailsModel').html("");
//                    $('#ShowfullDetailsModel').html(data);

//                    var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
//                        resizable: false,
//                        modal: true,
//                       // title: "Question Details",
//                        width: 1000,
//                        title_html: true,
                        
//                        //buttons: [
//                        //    {
//                        //        text: "OK",
//                        //        "class": "btn btn-primary btn-xs",
//                        //        click: function () {
//                        //            $(this).dialog("close");
//                        //        }
//                        //    }
//                        //]
//                    });

//                }
//            });       
//}
    function getReportsPdf() {
        $("#RightSidebar .widget-box").hide();
        
        $("#wrapper").show();
         $("#loader-wrapper").show();
        var FinancialYear = $("#FinancialYear option:selected").val();
        var ControllingAuthority = $("#ControllingAuthority option:selected").val();
        var Demand = $("#Demand option:selected").val();
        var Program = $("#Program option:selected").val();
        var Agency = $("#Agency  option:selected").val();
        var OwnerDepartment = $("#OwnerDepartment option:selected").val();
        var Panchayat = $("#Panchayat option:selected").val();
        var WorkType = $("#workType option:selected").val();
        var Status = $("#Status  option:selected").val();
        var DistrictID = $("#District  option:selected").val();
        var Constituency = $("#Constituency  option:selected").val();
        var cFinancialYear = $("#statusFinancialYear option:selected").val();
        var sanctionedDate = $("#latestDate").val();
        //idForExport
      
        var ID = $("#idForExport").val();
        if (ID == null) {
            ID = "";
        }
        var summaryTypeDropDown = $("#summaryTypeDropDown option:selected").val();
       // alert(summaryTypeDropDown);
        if (ID != "") {
            if (summaryTypeDropDown == "Controling Authority") { ControllingAuthority = ID }
            if (summaryTypeDropDown == "Executing Department") { Agency = ID }
            if (summaryTypeDropDown == "Panchayat") { Panchayat = ID }
            if (summaryTypeDropDown == "Program Name") { Program = ID }
            if (summaryTypeDropDown == "Work Type") { WorkType = ID }
        }
      
        var pathurl = '/Constituency/Constituency/PdfconstituencyListForOfficer';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: { FinancialYear: FinancialYear, ControllingAuthority: ControllingAuthority, Demand: Demand, Program: Program, Agency: Agency, OwnerDepartment: OwnerDepartment, Panchayat: Panchayat, WorkType: WorkType, Status: Status, DistrictID: DistrictID, Constituency: Constituency, cFinancialYear: cFinancialYear, sanctionedDate: sanctionedDate },
            success: function (data) {                            
                var url = data.replace('\;', '/');             

              
<<<<<<< .mine
               var PDF = 'http://localhost:50730' + url
||||||| .r283
               // var PDF = 'http://localhost:50730' + url
                var PDF = 'https://secure.evidhan.nic.in' + url
||||||| .r273
               // var PDF = 'http://localhost:50730' + url
                var PDF = 'https://secure.evidhan.nic.in' + url
=======
               var PDF = 'http://localhost:50730' + url
=======
               // var PDF = 'http://localhost:50730' + url
               // var PDF = 'https://secure.evidhan.nic.in' + url

               // var PDF = 'http://localhost:50730' + url
>>>>>>> .r284
               // var PDF = 'https://secure.evidhan.nic.in' + url

<<<<<<< .mine
               // var PDF = 'http://localhost:50730' + url
               // var PDF = 'https://secure.evidhan.nic.in' + url

             //  var PDF = 'http://localhost:50730' + url
               // var PDF = 'https://secure.evidhan.nic.in' + url


||||||| .r283
=======
             //  var PDF = 'http://localhost:50730' + url
               // var PDF = 'https://secure.evidhan.nic.in' + url


>>>>>>> .r284
                window.open(PDF, "_blank");
              //  window.open(url, "_blank");
                $("#loader-wrapper").hide();
            }
        });
    }

    function ExportToExcel() {//

        var FinancialYear = $("#FinancialYear option:selected").val();
        var ControllingAuthority = $("#ControllingAuthority option:selected").val();
        var Demand = $("#Demand option:selected").val();
        var Program = $("#Program option:selected").val();
        var Agency = $("#Agency  option:selected").val();
        var OwnerDepartment = $("#OwnerDepartment option:selected").val();
        var Panchayat = $("#Panchayat option:selected").val();
        var WorkType = $("#workType option:selected").val();
        var Status = $("#Status  option:selected").val();
        var DistrictID = $("#District  option:selected").val();
        var cFinancialYear = $("#statusFinancialYear option:selected").val();
        var sanctionedDate = $("#latestDate").val();

        var ID = $("#idForExport").val();
        if (ID == null)
        {
            ID = "";
        }
       // alert(ID);
        var summaryTypeDropDown = $("#summaryTypeDropDown option:selected").val();
        if ( ID != "") {
        
            if (summaryTypeDropDown == "Controling Authority") { ControllingAuthority = ID }
            if (summaryTypeDropDown == "Executing Department") { Agency = ID }
            if (summaryTypeDropDown == "Panchayat") { Panchayat = ID }
            if (summaryTypeDropDown == "Program Name") { Program = ID }
            if (summaryTypeDropDown == "Work Type") { WorkType = ID }
        }
        var ss = "<input type='hidden' name='FinancialYear' value='" + FinancialYear + "' >" +
       "<input type='hidden' name='ControllingAuthority' value='" + ControllingAuthority + "' >" +
       "<input type='hidden' name='Demand' value='" + Demand + "' >" +
       "<input type='hidden' name='Program' value='" + Program + "' >" +
       "<input type='hidden' name='Agency' value='" + Agency + "' >" +
       "<input type='hidden' name='OwnerDepartment' value='" + OwnerDepartment + "' >" +
       "<input type='hidden' name='Panchayat' value='" + Panchayat + "' >" +
       "<input type='hidden' name='WorkType' value='" + WorkType + "' >" +
       "<input type='hidden' name='Status' value='" + Status + "' >" +
       "<input type='hidden' name='sanctionedDate' value='" + sanctionedDate + "' >" +
       "<input type='hidden' name='cFinancialYear' value='" + cFinancialYear + "' >";

        $('#loader-wrapper').show();

        $('body').prepend("<form method='post' action='/Constituency/Constituency/FilteredMyConstituencyWorksExcel' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
        $('#tempForm').submit();
        $("#tempForm").remove();

        setTimeout(function () {
            $('#loader-wrapper').hide();
        }, 2000);
    }

    
</script>