﻿@model List<SBL.DomainModel.Models.Grievance.ForwardGrievance>
@{ int count = 0;}
<form method="post" action="/SchemeSetup/SaveQualification" id="OfficeListForm">
	<div class="modal-dialog" style="width: 800px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="blue bigger">Assign work to Officer</h4>
			</div>

			<div class="modal-body">
				<div class="widget-body">
					<div class="widget-main no-padding-right no-padding-left">
						@if (Model != null && Model.Count() > 0)
						{

							<div class="alert alert-block alert-danger" id="AlertDiv" style="display: none;">
								<strong><i class="ace-icon fa fa-check-square-o"></i>Error! </strong><span id="MsgSpan">Please select at least one officer </span>
							</div>
							<br />
							<input type="hidden" name="hdnGrvCode" value="@ViewBag.schemeCode" />
							<table class="table  table-bordered  dataTable" id="tblOfficerList" aria-describedby="sample-table-2_info">
								<thead>
									<tr role="row">
										<th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>
										<th class="sorting_disabled ">
											<label class="pos-rel">
												<input name="ChbIncludingBill" onclick="SelectAllChb(this);" type="checkbox" class="ace">
												<span class="lbl">Check All</span>
											</label>
										</th>
										<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Officer Name </th>
										<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Designation</th>
										<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Mobile </th>
										<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Email </th>
									</tr>
								</thead>
								<tbody role="alert" aria-live="polite" aria-relevant="all">
									@foreach (var item in Model)
									{
										count = count + 1;

										<tr>
											<td class="center">
												<input type="hidden" name="OfficerRowCount" value="@count" />
												<input type="hidden" name="OfficerCode-@count" value="@item.AadarId" />
												@count
											</td>
											<td class="center">
												<div class="checkbox center">
													<label class="pos-rel">
														@if (item.OfficerCode == item.AadarId)
														{
															<input name="ChbAssignBox-@count" checked="checked" type="checkbox" class=" ace AssignBoxClass">
														}
														else
														{
															<input name="ChbAssignBox-@count" type="checkbox" class=" ace AssignBoxClass">
														}
														<span class="lbl"></span>
													</label>
												</div>
											</td>
											<td>@item.Name</td>
											<td>@item.Designation</td>
											<td>@item.Mobile</td>
											<td>@item.Email</td>
										</tr>

									}
								</tbody>
							</table>

@*<div class="profile-info-row">
								<div class="profile-info-name"></div>
								<div class="profile-info-value">
									<div class="input-group col-xs-12">

										<button type="button" class="btn btn-sm btn-success" id="btnAssignOfficer" onclick="SaveAssignOfficer();">
											Submit
																<i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
										</button>
									</div>
									<div class="help-block col-xs-12 col-sm-reset inline">
									</div>
								</div>
							</div>*@

						}
						else
						{
							<div class="alert alert-info">
								No Officer Found
							</div>
						}
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-success" id="btnAssignOfficer" onclick="SaveAssignOfficer();">
					Submit
																<i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
				</button>
				<button class="btn btn-sm" data-dismiss="modal">
					<i class="ace-icon fa fa-times"></i>
					Close
				</button>
			</div>
		</div>
	</div>
</form>
@*<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>*@

<script type="text/javascript">
	$(document).ready(function () {
		$('#tblOfficerList').dataTable({
			//"bPaginate": false, "bInfo": false
		});
	});
	function SelectAllChb(source) {
		checkboxes = document.getElementsByClassName('AssignBoxClass');
		for (var i = 0, n = checkboxes.length; i < n; i++) {
			checkboxes[i].checked = source.checked;
		}
	}
function AssignOfficer(GrvCode) {
		$("#tblGrievanceList tr").css('background-color', 'white')
		$('#Row-' + GrvCode).css('background-color', '#ffb752 ')

		$.ajax({
			type: "POST",
			url: '/Grievances/AssingGrievances/PopulateOfficer',
			data: '{GrvCode:"' + GrvCode + '" }',
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			beforeSend: function () {
				$('#loader-wrapper').show();
			},
			success: function (result) {
				$('#OfficerDiv').empty();
				$('#OfficerDiv').append(result);
				$('#resize-right-Grievance').show();
			},
			error: function (error) {
				$('#OfficerDiv').empty();
				$('#OfficerDiv').append(error.responseText);
				$('#resize-right-Grievance').show();
			},
			complete: function (results) {
				$('#loader-wrapper').hide();
				setTimeout(function () {
					$('#divMsg').slideUp("slow");
				}, 6000);

			}
		});
	}



	function SaveAssignOfficer() {
		debugger;
		var IsChecked = false;
		var IsValid = true;
		var checkboxes = document.getElementsByClassName('AssignBoxClass');
		for (var i = 0, n = checkboxes.length; i < n; i++) {
			var Checked = checkboxes[i].checked;
			if (Checked == true) {
				IsChecked = true;
			}
		}

		if (IsChecked == false) {
			IsValid = false;
			$('#AlertDiv').show();
		}
		else {
			$('#AlertDiv').hide();
		}
		if (IsValid == true) {
			var QData = $('#OfficeListForm').serialize();
			$.ajax({
				cache: false,
				async: true,
				type: "POST",
				url: '/Constituency/Constituency/SaveOfficer',
				data: QData,
				beforeSend: function () {
					$('#loader-wrapper').show();
				},
				success: function (result) {
				   
					$("#AssigntoOfficer").modal('hide');
					ShowNotification("success", "Work Has been Assigned to Officers.");
				},
				error: function (result) {
					$("#AssigntoOfficer").modal('hide');
				},

				complete: function (result) {
					$('#loader-wrapper').hide();
				}
			});
		}
	}

</script>