﻿@model IEnumerable<SBL.DomainModel.Models.ConstituencyVS.workTrans>
@{
	int count = 0;
}
<div class="modal-dialog" style="width: 800px;">
	<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="header smaller lighter red">
				public Works Update
			</h4>
			
		</div>

		<div class="modal-body">
			<div class="widget-body">
				<div class="widget-main no-padding-right no-padding-left">
					@if (Model != null && Model.Count() > 0)
					{
						<div class="pass-table">

							<div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">

								<table class="table table-striped table-bordered table-hover dataTable table table-striped table-hover dt-responsive" width="100%" id="myConstituency" aria-describedby="sample-table-2_info">
									<thead>
										<tr role="row">
											<th class=" sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">#</th>
											<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Submit Date</th>
											<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Work Name</th>
											<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Update</th>
											<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Update By</th>

										</tr>
									</thead>

									<tbody role="alert" aria-live="polite" aria-relevant="all">
										@foreach (var item in Model)
										{
											count = count + 1;
											<tr class="lipWorksUpdateclick" id="@item.autoID">
												<td>@count</td>
													<td>@item.SubmitTimeString</td>
												<td> @item.workName</td>
												<td> @item.Remarks</td>
												<td> @item.OfficerName</td>

												
											</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
					}
					else
					{
						<div class="alert alert-info">
							No-Progress
						</div>
					}
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-sm" data-dismiss="modal">
				<i class="ace-icon fa fa-times"></i>
				Close
			</button>
		</div>
	</div>
</div>