﻿@model IEnumerable<SBL.DomainModel.Models.ConstituencyVS.workTrans>
@{
    int count = 0;
}

@if (Model != null && Model.Count() > 0)
{

    foreach (var item in Model)
    {
        if (item.read)
        { 
        <li class="read"><a href="javascript:void(0)" class="lipWorksUpdateclick" id='@item.autoID'>
            <img src='@item.imagePath ' class="msg-photo" alt="Alexs Avatar" /><span class="msg-body"><span class="msg-title"><span class="blue">@item.workName</span><br />
                 @item.Remarks  by  @item.OfficerName</span><span class="msg-time"><i class="ace-icon fa fa-clock-o"></i> <span>@item.SubmitTimeString</span></span></span></a></li>
        }
        else
        {
             <li style="background-color: #FFD6D2;"><a href="javascript:void(0)" class="lipWorksUpdateclick" id='@item.autoID'>
            <img src='@item.imagePath ' class="msg-photo" alt="Alexs Avatar" /><span class="msg-body"><span class="msg-title"><span class="blue">@item.workName</span><br />
                 @item.Remarks  by  @item.OfficerName</span><span class="msg-time"><i class="ace-icon fa fa-clock-o"></i> <span>@item.SubmitTimeString</span></span></span></a></li> 
        }
    }
}
