﻿@model string[]
<style>
    /*.modal {
    width: 800px;
    margin: 30px auto;
    overflow-y:auto;
  }*/
   
</style>
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />

<input type="hidden" id="memberCode" value="@Model[0]"/>
<input type="hidden" id="financialYear" value="@Model[1]"/>
<input type="hidden" id="controllingAuthorityId" value="@Model[2]"/>
<input type="hidden" id="executingAgencyCode" value="@Model[3]"/>
<input type="hidden" id="programmeName" value="@Model[4]"/>
<input type="hidden" id="panchayatId" value="@Model[5]"/>
<input type="hidden" id="workStatusId" value="@Model[6]"/>
<input type="hidden" id="modifiedDate" value="@Model[7]"/>
<input type="hidden" id="cfinancialYear" value="@Model[8]"/>

<input type="hidden" value="1" id="currentSlide" />

<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-12 col-sm-12" id="DivList1">
            <div class="slide" id="List1"></div>
        </div>       
    </div>
</div>
@*<div class="row col-sm-12">
    <div class="widget-box">
        <div class="widget-header widget-header-flat">
            <h5 class="widget-title">
                <button class="btn btn-xs btn-primary" id="reportbackButton">
                    <i class="ace-icon fa fa-arrow-left icon-on-left"></i>
                    Back
                </button>
                Summary Reports </h5>
        </div>

        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="row col-xs-12 col-sm-12">
                        <div class="table-header">
                            <ul class="breadcrumb white" id="NavigationHeader">
                                <li>
                                    <i class="ace-icon fa fa-home home-icon white"></i>
                                    <span class="white">Total Department</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6" id="DivList1">
                                <div class="slide" id="List1"></div>
                            </div>
                            <div class="col-xs-6 col-sm-6 " id="DivList2">
                                <div class="slide" id="List2"></div>
                            </div>
                            <div class="col-xs-6 col-sm-6" id="DivList3">
                                <div class="slide" id="List3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<script>
    $(document).ready(function () {

        var fy = $("#financialYear").val();
        var caId = $("#controllingAuthorityId").val();
        var eAC = $("#executingAgencyCode").val();
        var pN = $("#programmeName").val();
        var Pid = $("#panchayatId").val();
        var wS = $("#workStatusId").val();
        var modiDate = $("#modifiedDate").val();
        var cfinancialYear = $("#cfinancialYear").val();
        //alert(cfinancialYear);
        var summaryType = $("#summaryTypeDropDown").val();
        var OwnerDepartment = $("#OwnerDepartment option:selected").val();
        var WorkType = $("#workType option:selected").val();
        if (caId == 0) { caId = "null" };
        if (eAC == 0) { eAC = "null" };
        if (pN == 0) { pN = "null" };
        if (Pid == 0) { Pid = "null" };
        if (wS == 0) { wS = "null" };
        if (modiDate == 0) { modiDate = "null" };

        //$("#currentSlide").val("1");
        //var x = parseInt($("#currentSlide").val());
        //if (x <= 1) {
        //    $("#reportbackButton").disabled = false;
        //}
        //else {
        //    $("#reportbackButton").disabled = true;
        //}
        var pathurl = '/Constituency/Constituency/GetWorkPostList';
        $("#loader-wrapper").hide();
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: { financialYear: fy, controllingAuthorityId: caId, programmeName: pN, executingAgencyCode: eAC, panchayatId: Pid, workStatusId: wS, summaryType: summaryType, cfinancialYear: cfinancialYear, modifiedDate: modiDate, OwnerDepartment: OwnerDepartment, WorkType: WorkType },
            success: function (data) {
                //alert(data);
                $('#resize-left').width("100%");
                $('#DivList1').show();
                $("#DivList1").html(data);

                $("#loader-wrapper").hide();
            },
            error: function (data) {
                alert("failure");
            }
        });
    });

    function deptRowClick(ID,Name) {
        var FinancialYear = $("#FinancialYear option:selected").val();
        var ControllingAuthority = $("#ControllingAuthority option:selected").val();
        var Demand = $("#Demand option:selected").val();
        var Program = $("#Program option:selected").val();
        var Agency = $("#Agency  option:selected").val();
        var OwnerDepartment = $("#OwnerDepartment option:selected").val();
        var Panchayat = $("#Panchayat option:selected").val();
        var WorkType = $("#WorkType option:selected").val();
        var Status = $("#Status  option:selected").val();
        var cFinancialYear = $("#statusFinancialYear option:selected").val();
        var summaryTypeDropDown = $("#summaryTypeDropDown option:selected").val();
        var sanctionedDate = $("#latestDate").val();
        
        //alert(ControllingAuthority);
        //alert(summaryTypeDropDown);
        $("#loader-wrapper").show();
        //alert(Name);
        if (summaryTypeDropDown == "Controling Authority") { ControllingAuthority = ID }
        if (summaryTypeDropDown == "Executing Department") { Agency = ID }
        if (summaryTypeDropDown == "Panchayat") { Panchayat = ID }
        if (summaryTypeDropDown == "Program Name") { Program = ID }
        if (summaryTypeDropDown == "Work Type") { WorkType = ID }

        var pathurl = '/Constituency/Constituency/FilteredMyConstituencyWorks';//FilteredMyConstituencyWorks//GetWorkPostListProgress
      
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: { FinancialYear: FinancialYear, ControllingAuthority: ControllingAuthority, Demand: Demand, Program: Program, Agency: Agency, OwnerDepartment: OwnerDepartment, Panchayat: Panchayat, WorkType: WorkType, Status: Status, cFinancialYear: cFinancialYear, sanctionedDate: sanctionedDate },
           // data: { financialYear: fy, controllingAuthorityId: caId, programmeName: pN, executingAgencyCode: eAC, panchayatId: Pid, workStatusId: wS },
            success: function (data) {

                $('#innerLeftSidebar').show();
                $("#innerLeftSidebar").html(data);
                $("#viewWorksSummary").modal('hide');
                $("#forSummaryPTag").html("Summary Type By " + summaryTypeDropDown + " For ");
                $("#idForExport").val(ID);
                
                //$('#DivList2').show();
                //$("#DivList2").html(data);
                
                $('#resize-left').width("100%");
                $("#loader-wrapper").hide();
            }
        });
    }

    function workRowClick(schemeID, workName) {
        debugger;


        if ($('#NavigationHeader li').length == 2) {
            $("#NavigationHeader").append("<li><span href='#'   class='white disabled'>" + workName + "</span></li>");
        }
        else {
            $('#NavigationHeader li:last-child').remove();
            $("#NavigationHeader").append("<li><span href='#'  class='white disabled'>" + workName + "</span></li>");
        }
        $("#loader-wrapper").show();
        $("#currentSlide").val("3");
        var x = parseInt($("#currentSlide").val());
        if (x <= 1) {
            $("#reportbackButton").disabled = false;
        }
        else {
            $("#reportbackButton").disabled = true;
        }
        var pathurl = '/Constituency/Constituency/findMyConstituencyWorkbyCode';//findMyConstituencyWorkbyCode//GetDetailsBySchemeId
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: { schemeID: schemeID },
            success: function (data) {
                // $("#DivList1").fadeOut('slow');
                //$('#DivList3').fadeIn('slow').delay(800);
                // $("#DivList3").html(data);
                //$('#OfficeName').html(officeName);

                $("#viewWorksDetail").html("");
                $("#viewWorksDetail").html(data);
                $("#viewWorksDetail").modal({
                    "backdrop": "static",
                    "keyboard": true,
                    "show": true
                });

               // $(".modal").

                $('#resize-left').width("100%");
                $("#loader-wrapper").hide();
            }
        });
    }

    $("#reportbackButton").on("click", function () {
        debugger;
        try {
            var cslide = $("#currentSlide").val();
            var x = parseInt(cslide) - 2;
            if (x + 2 > 1) {
                $('#DivList' + x).fadeIn('slow');
                $('#DivList' + cslide).fadeOut('slow').delay(800);
                $("#currentSlide").val(x + 1);
                $('#NavigationHeader li:last-child').remove();
            }
        }
        catch (error) {
            console.log(error.message);
        }
    });

    function goBack(cslide) {
        debugger;
        try {
            //  var cslide = $("#currentSlide").val();
            var x = parseInt(cslide) - 2;
            if (x + 2 > 1) {
                $('#DivList' + x).fadeIn('slow');
                $('#DivList' + cslide).fadeOut('slow').delay(800);
                $("#currentSlide").val(x + 1);
                $('#NavigationHeader li:last-child').remove();
            }
        }
        catch (error) {
            console.log(error.message);
        }
    }
</script>
