﻿@model SBL.DomainModel.ComplexModel.Constituency.WorkDetails
<style>
	.widget-main {
		margin-bottom: 11px;
	}
</style>
<link rel="stylesheet" href="~/assets/css/datepicker.css" />
<div class="row col-sm-12 no-padding-right no-padding-left">

	<div class="col-sm-12 col-sm-12" style="overflow: visible">

		<div class="widget-box transparent" id="widget1">
			<div class="widget-header">
				<h4 class="widget-title lighter"><a data-toggle="collapse" data-parent="#widget1" href="#widgetBody1">Basic Details</a></h4>

				<div class="widget-toolbar no-border">

					<a data-toggle="collapse" data-parent="#widget1" href="#widgetBody1">
						<i class="ace-icon fa fa-chevron-up"></i>
					</a>
				</div>
			</div>
			<div class="widget-body panel-collapse collapse in" id="widgetBody1">
				<div class="widget-body-inner" style="display: block;">
					<div class="widget-main">
						<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Controlling Auth.</label>
							<div class="col-sm-8">
								<select id="ControllingAuthorityID" name="ControllingAuthorityID" class="chosen-select input-sm" data-placeholder="--select a Controlling Authority --" style="width: 300px"></select>

								@Html.HiddenFor(a => a.Mode)
								@Html.HiddenFor(a => a.mySchemeID)
								@Html.HiddenFor(a => a.eConstituencyID)
							</div>
						</div>
						<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Financial Year</label>
							<div class="col-sm-8">
								<select id="FinancialYearID" name="FinancialYear" style="width: 100%"></select>
							</div>
						</div>
						<div class="col-sm-12 no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Demand</label>
							<div class="col-sm-8">
								<select id="DemandID" name="Demand" class="chosen-select input-sm" data-placeholder="--select a Demand --" style="width: 300px"></select>
							</div>
						</div>
						<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Work Code</label>
							<div class="col-sm-8">
								<input type="text" name="workCode" id="workCode" value='@Model.workCode'  class="width-100"readonly>
							</div>
						</div>
						<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Work Name</label>
							<div class="col-sm-8">
								<textarea class="autosize-transition form-control" name="workName" readonly>@Model.workName</textarea>
							</div>
						</div>
						<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Program Name</label>
							<div class="col-sm-8">
								<select id="programID" name="programName" class="chosen-select input-sm" data-placeholder="--select a Program Name --">
									<option>--Program Name--</option>
								</select>
							</div>
						</div>
						<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Work Nature</label>
							<div class="col-sm-8">
								<select id="workNatureID" name="WorkNatureID" class="width-100">
									<option>--Work Nature--</option>
								</select>
							</div>
						</div>
						<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Work Type</label>
							<div class="col-sm-8">
								<select id="workTypeID" name="WorkTypeID" class="chosen-select input-sm" data-placeholder="--select a  Work Type --">
									<option>--Work Type--</option>
								</select>
							</div>
						</div>
						<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Work Status</label>
							<div class="col-sm-8">
								<select id="workStatusID" name="workStatus" class="width-100">
									<option>--Work Status--</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-12 col-sm-12" style="overflow: visible">

		<div class="widget-box transparent" id="widget2">
			<div class="widget-header">
				<h4 class="widget-title lighter"><a data-toggle="collapse" data-parent="#widget2" href="#widgetBody2">Owner Department & Executing Agency</a></h4>

				<div class="widget-toolbar no-border">

					<a data-toggle="collapse" data-parent="#widget2" href="#widgetBody2">
						<i class="ace-icon fa fa-chevron-up"></i>
					</a>
				</div>
			</div>

			<div class="widget-body panel-collapse collapse" id="widgetBody2">
				<div class="widget-body-inner" style="display: block;">
					<div class="widget-main">

						<div class="col-sm-12 no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Owner Department</label>
							<div class="col-sm-8">
								<select id="newOwnerDepartmentID" name="Owner_deptid" class="chosen-select input-sm" data-placeholder="--select a Department --"></select>
							</div>
						</div>

						<div class="col-sm-12 no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Executing Department</label>
							<div class="col-sm-8">
								<select id="ExecutingAgencyID" name="ExecutingDepartmentId" class="chosen-select input-sm" data-placeholder="--select a Department --"></select>
							</div>
						</div>
						<div class="col-sm-12 no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Executing Office</label>
							<div class="col-sm-8">
								<select id="ExecutingOfficeID" name="ExecutingOfficeID" class="chosen-select input-sm" data-placeholder="--select an Office --" style="width: 300px"></select>
							</div>
						</div>
						<div class="col-sm-12 no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								</label>
							<div class="col-sm-8">
								<button type="button" class="btn btn-sm btn-primary btn-white btn-round btn-block" onclick="AssigntoOfficer('@Model.mySchemeID')">
									<i class="ace-icon  fa fa-external-link blue"></i>
									<span class="bigger-110">Assign to Officer</span>

									<i class="icon-on-right ace-icon fa fa-arrow-right"></i>
								</button>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-sm-12" style="overflow: visible">

		<div class="widget-box transparent" id="widget3">
			<div class="widget-header">
				<h4 class="widget-title lighter"><a data-toggle="collapse" data-parent="#widget3" href="#widgetBody3">Location</a></h4>

				<div class="widget-toolbar no-border">

					<a data-toggle="collapse" data-parent="#widget3" href="#widgetBody3">
						<i class="ace-icon fa fa-chevron-up"></i>
					</a>
				</div>
			</div>

			<div class="widget-body panel-collapse collapse" id="widgetBody3">
				<div class="widget-body-inner" style="display: block;">
					<div class="widget-main">
						<div class="col-sm-12 no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								District</label>
							<div class="col-sm-8">
								<select id="DistrictID" name="districtID" class="chosen-select input-sm" data-placeholder="--select a District --"></select>
							</div>
						</div>
						<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Constituency Name</label>
							<div class="col-sm-8">
								<input type="text" name="constituenctName" id="constituenctName" value='@Model.constituenctName'  class="width-100"readonly>
							</div>
						</div>
						<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Panchayat</label>
							<div class="col-sm-8">
								<select id="newPanchayatID" name="Panchayat" class="chosen-select  width-100" data-placeholder="--select a Panchayat --" @*style="width: 300px"*@></select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-12 col-sm-12" style="overflow: visible">

		<div class="widget-box transparent" id="widget4">
			<div class="widget-header">
				<h4 class="widget-title lighter"><a data-toggle="collapse" data-parent="#widget4" href="#widgetBody4">Financial Details</a></h4>

				<div class="widget-toolbar no-border">

					<a data-toggle="collapse" data-parent="#widget4" href="#widgetBody4">
						<i class="ace-icon fa fa-chevron-up"></i>
					</a>
				</div>
			</div>

			<div class="widget-body panel-collapse collapse" id="widgetBody4">
				<div class="widget-body-inner" style="display: block;">
					<div class="widget-main">

						<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Estimated Amount</label>
							<div class="col-sm-8">
								<input type="text" name="EstimatedAmount" id="EstimatedAmount" value='@Model.EstimatedAmount'  class="width-100">
							</div>
						</div>
						<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Estimated Completion Date</label>
							<div class="col-sm-8">
								<input type="text" name="EstimatedCompletionDate" id="EstimatedCompletionDate" value='@Model.EstimatedCompletionDate'  data-date-format="dd-mm-yyyy" class="width-100 date-picker">
							</div>
						</div>

						<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Sanctioned Amount</label>
							<div class="col-sm-8">
								<input type="text" name="sanctionedAmount" id="sanctionedAmount" value='@Model.sanctionedAmount'  readonly  class="width-100">
							</div>
						</div>
						<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Revised Amount</label>
							<div class="col-sm-8">
								<input type="text" name="revisedAmount" id="revisedAmount" value='@Model.revisedAmount'   class="width-100">
							</div>
						</div>
						<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Sanctioned Date</label>
							<div class="col-sm-8">
								<input type="text" name="sanctionedDate" id="sanctionedDate" value='@Model.sanctionedDate'  data-date-format="dd-mm-yyyy"  class="width-100 date-picker">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-12 col-sm-12" style="overflow: visible">

		<div class="widget-box transparent" id="widget5">
			<div class="widget-header">
				<h4 class="widget-title lighter"><a data-toggle="collapse" data-parent="#widget5" href="#widgetBody5">Financial Progress Details</a></h4>

				<div class="widget-toolbar no-border">

					<a data-toggle="collapse" data-parent="#widget5" href="#widgetBody5">
						<i class="ace-icon fa fa-chevron-up"></i>
					</a>
				</div>
			</div>

			<div class="widget-body panel-collapse collapse" id="widgetBody5">
				<div class="widget-body-inner" style="display: block;">
					<div class="widget-main">

						<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Expenditure Upto Previous Years</label>
							<div class="col-sm-8">
								<input type="text" name="ExpenditureUptoPreviousYears" id="ExpenditureUptoPreviousYears" value='@Model.ExpenditureUptoPreviousYears'  class="width-100"readonly>
							</div>
						</div>
						<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Expenditure In Current Years</label>
							<div class="col-sm-8">
								<input type="text" name="PhysicalInCurrentYears" id="PhysicalInCurrentYears" value='@Model.ExpenditureInCurrentYears'  class="width-100"readonly>
							</div>
						</div>
						<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Total Expenditure Amount
							</label>
							<div class="col-sm-8">
								<input type="text" name="TotalExpenditureAmount" id="TotalExpenditureAmount" value='@Model.TotalExpenditureAmount'  class="width-100"readonly>
							</div>
						</div>
						<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">

							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
							</label>
							<div class="col-sm-8 center">

								<button type="button" class="btn btn-sm btn-primary btn-white btn-round" onclick="viewFinancialProgressbyMember('@Model.mySchemeID')">
									<i class="ace-icon glyphicon glyphicon-signal bigger-150 middle orange2"></i>
									<span class="bigger-110">History of Financial Progress Details</span>

									<i class="icon-on-right ace-icon fa fa-arrow-right"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-12 col-sm-12" style="overflow: visible">

		<div class="widget-box transparent" id="widget6">
			<div class="widget-header">
				<h4 class="widget-title lighter"><a data-toggle="collapse" data-parent="#widget6" href="#widgetBody6">Physical Progress Details</a></h4>

				<div class="widget-toolbar no-border">
					<a data-toggle="collapse" data-parent="#widget6" href="#widgetBody6">
						<i class="ace-icon fa fa-chevron-up"></i>
					</a>
				</div>
			</div>

			<div class="widget-body panel-collapse collapse" id="widgetBody6">
				<div class="widget-body-inner" style="display: block;">
					<div class="widget-main">

						<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Physical Progress Upto Previous Years</label>
							<div class="col-sm-8">
								<input type="text" name="PhysicalUptoPreviousYears" id="PhysicalUptoPreviousYears" value='@Model.PhysicalUptoPreviousYears'  class="width-100"readonly>
							</div>
						</div>
						<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Physical Progress  In Current Years</label>
							<div class="col-sm-8">
								<input type="text" class="width-100" name="PhysicalInCurrentYears" readonly  value='@Model.PhysicalInCurrentYears' />
							</div>
						</div>
						<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Total  Physical Progress
							</label>
							<div class="col-sm-8">
								<input type="text" class="width-100" name="TotalPhysicalProgress" readonly value='@Model.TotalPhysicalProgress' />
							</div>
						</div>
						<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
							</label>
							<div class="col-sm-8 center">

								<button type="button" class="btn btn-sm btn-primary btn-white btn-round" style="margin-bottom:10px;" onclick="viewProgressbyMember('@Model.mySchemeID')">
									<i class="ace-icon glyphicon glyphicon-signal bigger-150 middle orange2"></i>
									<span class="bigger-110">View Physical Progress</span>

									<i class="icon-on-right ace-icon fa fa-arrow-right"></i>
								</button>

								<button type="button" class="btn btn-sm btn-primary btn-white btn-round" style="margin-bottom:10px;" onclick="viewProgressImages('@Model.mySchemeID')">
									<i class="ace-icon fa fa-camera bigger-150 middle orange2"></i>
									<span class="bigger-110">View Pictorial Progress</span>

									<i class="icon-on-right ace-icon fa fa-arrow-right"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix">
</div>
@*<div class="alert alert-info">
	<div class="clearfix">
		<div class="grid2">
			<button type="button" class="btn btn-sm btn-primary btn-white btn-round" onclick="viewProgressbyMember('@Model.mySchemeID')">
				<i class="ace-icon glyphicon glyphicon-signal bigger-150 middle orange2"></i>
				<span class="bigger-110">View Progress</span>

				<i class="icon-on-right ace-icon fa fa-arrow-right"></i>
			</button>
		</div>

		<div class="grid2">
			<button type="button" class="btn btn-sm btn-primary btn-white btn-round" onclick="viewProgressImages('@Model.mySchemeID')">
				<i class="ace-icon fa fa-camera bigger-150 middle orange2"></i>
				<span class="bigger-110">View Images</span>

				<i class="icon-on-right ace-icon fa fa-arrow-right"></i>
			</button>
		</div>
	</div>
</div>*@
<script src="~/Scripts/Constituency/myConstituencyWorks.js"></script>

<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script>
	$('.date-picker').datepicker({
		autoclose: true,
		todayHighlight: true
	})
	fillControllingAuthority('@Model.ControllingAuthorityID','@Model.districtID');
	fillAllDemand('@Model.Demand');
	fillExecutingDepartment('@Model.ExecutingDepartmentId');
	fillOwnerDepartment('@Model.Owner_deptid');
	fillExecutingAgency('@Model.memberCode','@Model.ExecutingDepartmentId','@Model.ExecutingOfficeID');
	fillFinancialYear('@Model.FinancialYear');
	fillProgramme('@Model.programName');
	fillWorkNature('@Model.WorkNatureID');
	fillWorkStatus('@Model.workStatus');
	fillWorkType('@Model.WorkTypeID');
	fillDistrict('@Model.eConstituencyID');
	fillPanchayatByConstituency('@Model.eConstituencyID');
	//fillOfficerIDList();

	try {
		// $('.chosen-select').chosen({ allow_single_deselect: true });
		$('.chosen-select').chosen({ allow_single_deselect: true });
		//resize the chosen on window resize
		$(window).on('resize.chosen', function () {
			var w = $('.chosen-select').parent().width();
			$('.chosen-select').next().css({ 'width': '100%' });
		}).trigger('resize.chosen').trigger("chosen:updated")
	}
	catch (error) {
	}
	$("#ExecutingAgencyID").change(function () {
		fillExecutiveOffice($("#ExecutingAgencyID").val());
	});
	//$("#ExecutingOfficeID").change(function () {
	//	fillOfficerIDList($("#ExecutingOfficeID").val());
	//});
</script>