﻿@model string[]
@{
    int count = 0;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4>( @ViewBag.financialYear) @ViewBag.workName
                <span class="badge badge-warning">@ViewBag.workStatus</span>
            </h4>
        </div>

        <div class="modal-body">
            <div class="widget-body">
                <form id="ExecutingDetails">
                    <input type="hidden" name="schemeCodes" value="@Model[0]" />
                     <input type="hidden" name="updateMode" value="@Model[4]" />
                    <div class="row">
                        <div class="col-sm-12  form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label ">
                                Executing Department</label>
                            <div class="col-sm-8">
                                <select id="ExecutingDepartmentForUpdate" name="ExecutingDepartmentForUpdate" class="chosen-select input-sm" data-placeholder="--select a Department --"></select>
                            </div>
                        </div>
                        <div class="col-sm-12   form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label">
                                Executing Office</label>
                            <div class="col-sm-8">
                                <select id="ExecutingOfficeIDForUpdate" name="ExecutingOfficeIDForUpdate" class="chosen-select input-sm" data-placeholder="--select an Office --" style="width: 300px"></select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-sm" data-dismiss="modal">
                <i class="ace-icon fa fa-times"></i>
                Close
            </button>
            <button class="btn btn-sm btn-primary" type="button" onclick="updateExecutingDetails()">
                <i class="ace-icon fa fa-save"></i>
                Update
            </button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        fillExecutingDepartmentForUpdate('@Model[1]', '@Model[2]', '@Model[3]');
	    //	fillExecutiveOfficeForUpdate('@Model[2]', '@Model[3]');
	});
    try {
        $('.chosen-select').chosen({ allow_single_deselect: true });

        $(window).on('resize.chosen', function () {
            var w = $('.chosen-select').parent().width();
            $('.chosen-select').next().css({ 'width': '90%' });
        }).trigger('resize.chosen').trigger("chosen:updated")
    }
    catch (error) {
    }
    $("#ExecutingDepartmentForUpdate").change(function () {
        fillExecutiveOfficeForUpdate($("#ExecutingDepartmentForUpdate").val());
    });
    function updateExecutingDetails() {
        var QData = $('#ExecutingDetails').serialize();
        $.ajax({
            cache: false,
            async: true,
            type: "POST",
            url: '/Constituency/Constituency/UpdateExecutingDetails',
            data: QData,
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {

                $("#UpdateExecutingAgencyModal").modal('hide');
                
                ShowNotification("success", "Executing Department and Executing Office has been changed of Works");

                GetFilterMySchemeList();

            },
            error: function (result) {
                $("#AssigntoOfficer").modal('hide');
            },

            complete: function (result) {
                $('#loader-wrapper').hide();
            }
        });
    }
</script>