﻿@model SBL.DomainModel.Models.ConstituencyVS.ConstituencyWorkProgress
<div class="modal-dialog">
    <div class="modal-content" style="width: 640px;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="blue bigger">Update Physical and Financial Status </h4>
        </div>

        <div class="modal-body">
            <div class="widget-body">
                <div class="widget-main no-padding-right no-padding-left">
                    <div class="row no-padding-right no-padding-left">
                    <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
                        <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                            Physical Progress Till Date
                        </label>
                        <div class="col-sm-8">
                            <span class="input-icon">
                                @Html.HiddenFor(a => a.schemeCode)
                                <input type="text" name="toalProgress" id="toalProgress" placeholder="Physical Progress" required numberonly max="100"><i class="ace-icon fa fa-pencil-square-o blue"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
                        <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                            Expenditure Till Date
                        </label>
                        <div class="col-sm-8">
                            <span class="input-icon">
                                <input type="text" name="toalExpenditure" placeholder="Expenditure" required numberonly><i class="ace-icon fa fa-pencil-square-o blue"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
                        <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                            Remarks
                        </label>
                        <div class="col-sm-8">
                            <textarea name="RemarkProgress" class="autosize-transition form-control" rows="4"></textarea>
                        </div>
                    </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="modal-footer clearfix">
            <button class="btn btn-sm" data-dismiss="modal">
                <i class="ace-icon fa fa-times"></i>
                Cancel
            </button>

            <button class="btn btn-sm btn-primary" type="submit">
                <i class="ace-icon fa fa-save"></i>
                Save
            </button>
        </div>
    </div>
</div>
<script>
    try {

        $("input[numberonly]").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A
				(e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right, down, up
				(e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

    }
    catch (error) {
        alert(error.message);
    }
    $('#PhysicalProgressDuringCurrentYear').on('keyup', function (e) {
        var $self = $(this),
			v = $self.val(),
			max = 101;

        //blank any input that isint a number
        if (!/^\d*$/.test(v)) {
            $self.val('');
            return;
        }

        //trim the value until it meets the condition
        if (v >= max) {
            while (v >= max) {
                v = v.substring(0, v.length - 1);
            }

            $self.val(v);
        }
    });
</script>