﻿@model SBL.DomainModel.ComplexModel.Constituency.WorkDetails
<style>
    .widget-main
    {
        margin-bottom: 0px;
    }
</style>

<link href="~/Scripts/camera/css/camera.css" rel="stylesheet" />

<style>
    body
    {
        margin: 0;
        padding: 0;
    }

    a
    {
        color: #09f;
    }

        a:hover
        {
            text-decoration: none;
        }
  
    /*#back_to_camera
    {
        clear: both;
        display: block;
        height: 80px;
        line-height: 40px;
        padding: 20px;
    }

    .fluid_container
    {
        margin: 0 auto;
        max-width: 1000px;
        width: 90%;
    }*/
</style>
<link rel="stylesheet" href="~/assets/css/datepicker.css" />
<script src="~/Scripts/camera/scripts/jquery.min.js"></script>
@*   
    <script type='text/javascript' src='~/Scripts/camera/scripts/jquery.mobile.customized.min.js'></script>*@
<script type='text/javascript' src='~/Scripts/camera/scripts/jquery.easing.1.3.js'></script>
<script src="~/Scripts/camera/scripts/camera.js"></script>
<script type='text/javascript' src='~/Scripts/camera/scripts/camera.min.js'></script>

<script>
    jQuery(function () {

        jQuery('#camera_wrap_1').camera({
            thumbnails: false,
          

        });

    });
</script>
<link rel="stylesheet" href="~/assets/css/datepicker.css" />
<div id="btnlft" class="col-xs-12 center" style="margin-top: -75px;">
    <span style="float: left;"><strong>District : </strong><span class="label label-sm label-success arrowed arrowed-right">@Model.districtName</span> </span>
    <span style="float: right; padding-left: 5px;"><strong>Current Status</strong> : 
        @if (Model.workStatusText == "Completed")
        {

            <span class="label label-sm label-success arrowed arrowed-right">@Model.workStatusText</span> 
            
        }
        else if (Model.workStatusText == "In Progress")
        {

            <span class="label label-sm label-success arrowed arrowed-right">@Model.workStatusText</span> 
        }
        else if (Model.workStatusText == "Sanctioned")
        {

            <span class="label label-sm label-success arrowed arrowed-right">@Model.workStatusText</span> 
        }
        else if (Model.workStatusText == "Cancelled")
        {
            <span class="label label-sm label-success arrowed arrowed-right">@Model.workStatusText</span> 
        }
    </span>

    <span style="float: left; padding-left: 5px;"><strong>Constituency : </strong><span class="label label-sm label-success arrowed arrowed-right">@Model.constituenctName</span> </span>
    <span style="float: right; padding-left: 5px;"><strong>Subdivision</strong> :  <span class="label label-sm label-success arrowed arrowed-right">@Model.SubdivisionName</span>  </span>
</div>
<div id="user-profile-1" class="user-profile row" style="max-height: 60%; margin-top: -12px;">
    <div class="col-xs-12 col-sm-6 center">

        <div>
            <!-- #section:pages/profile.picture -->

            @if (Model.Imagelist != null && Model.Imagelist.Count() > 0)
            {
                
                <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
                    @foreach (var item in Model.Imagelist)
                    {
                        
                        <div data-thumb="https://secure.evidhan.nic.in/secureFileStructure/@item.filePath/@item.fileName"  data-src="https://secure.evidhan.nic.in/secureFileStructure/@item.filePath/@item.fileName">
                            <div class="camera_caption fadeFromBottom">
                                <a href="https://secure.evidhan.nic.in/secureFileStructure/@item.filePath/@item.fileName" style="color:white; text-decoration:none;font:200" target="blank"><strong><em>Work Code :	 </em></strong>@item.workCode,  (View Large Image )</a>
                            </div>
                        </div>

                    }
                </div>
            }
            else
            {
                <div style="height: 90px;">
                    <strong>
                        <i class="ace-icon fa fa-times"></i>
                        !
                    </strong>

                    <span style="vertical-align: middle;"><strong>No Pictorial History Found.</strong></span>
                </div>
            }


            <!-- /section:pages/profile.picture -->
            @* <div class="space-4"></div>*@

            @*  <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                <div class="inline position-relative">
                    <a href="javascript:void(0)" class="user-title-label dropdown-toggle">

                        <span class="white">@Model.workStatusText</span>
                    </a>
                </div>
            </div>*@
        </div>

        @* <div class="space-6"></div>*@

        <!-- #section:pages/profile.contact -->
        <div class="profile-contact-info">
            <div class="profile-contact-links align-left">
                <div class="width-100 label label-primary  label-xlg">
                    <div class="inline position-relative">
                        <a href="javascript:void(0)" class="user-title-label dropdown-toggle">

                            <span class="white">Physical Progress Till Date : <i class="ace-icon glyphicon glyphicon-signal bigger-120 pink"></i>
                                @Model.TotalPhysicalProgress %</span>
                        </a>
                    </div>
                </div>
                @* <span class="label label-lg label-transparent red" data-rel="tooltip" title="" data-original-title="Expenditure Till Date">
                    <i class="ace-icon fa fa-inr bigger-120 green"></i>

                    String.Format(System.Globalization.CultureInfo.CreateSpecificCulture("hi-IN"), "{0:N0}", Model.TotalExpenditureAmount)
                </span>

                <span class="label label-lg label-transparent red" data-rel="tooltip" title="" data-original-title="Physical Progress Till Date">
                    <i class="ace-icon glyphicon glyphicon-signal bigger-120 pink"></i>
                    Model.TotalPhysicalProgress %
                </span>*@

                @*<a href="javascript:void(0)" class="btn btn-link">
											<i class="ace-icon fa fa-camera bigger-125 blue"></i>
											Pictorial
										</a>*@
                @if (string.IsNullOrEmpty(Model.dprFile))
                {
                    <span class="btn btn-link disabled">
                        <i class="ace-icon fa fa-book bigger-125 red"></i>
                        DPR/Proposal</span>
                }
                else
                {
                    <a href="https://secure.evidhan.nic.in/secureFileStructure/@Model.dprFile" class="btn btn-link" target="_blank">
                        <i class="ace-icon fa fa-book bigger-125 red"></i>
                        DPR/Proposal
                    </a>
                }
                <div class="space-6"></div>
                <div class="width-100 label label-primary  label-xlg">
                    <div class="inline position-relative">
                        <a href="javascript:void(0)" class="user-title-label dropdown-toggle">

                            <span class="white">Progress History Till Date</span>
                        </a>
                    </div>
                </div>
                <div class="space-6"></div>
                <div class="widget-main no-padding-right no-padding-left">

                    @if (Model.WorkProgresslist != null && Model.WorkProgresslist.Count() > 0)
                    {
                        <div class="pass-table">
                            @{
                        int count = 0;
                            }
                            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper" style="height: 192px; overflow-y: scroll;">

                                <table class="table table-striped table-bordered table-hover dataTable table table-striped table-hover dt-responsive" width="100%;" style="height: 192px;" id="myConstituency" aria-describedby="sample-table-2_info">
                                    <thead>
                                        <tr role="row">
                                            @*  <th class=" sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">#</th>*@
                                            <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 27%">Updated On</th>
                                            <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Expenditure Till Date<span>(<i class="fa fa-inr"></i>)</span></th>
                                            <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Physical Progress Till Date(%)</th>
                                            <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 30%">Remark</th>

                                        </tr>
                                    </thead>

                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        @foreach (var item in Model.WorkProgresslist)
                                        {
                                            count = count + 1;
                                            <tr>
                                                @*  <td>@count</td>*@
                                                <td>@item.submitDate.Value.ToString("dd-MM-yyyy")</td>
                                                <td style="text-align: right;"><span></span>@String.Format(System.Globalization.CultureInfo.CreateSpecificCulture("hi-IN"), "{0:N0}", item.toalExpenditure)</td>
                                                <td style="text-align: center;">@item.toalProgress</td>
                                                <td style="text-align: justify;">
                                                    @if (item.RemarkProgress != null && item.RemarkProgress != "")
                                                    {
                                                        <div data-rel="tooltip" title="" data-original-title="@item.RemarkProgress">@item.RemarkProgress.Substring(0, 7) ...</div>
                                                    }
                                                    else
                                                    {
                                                        <div>@item.RemarkProgress</div>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-info center">
                            No Detail
                        </div>
                    }
                </div>

            </div>
        </div>

        <!-- /section:pages/profile.contact -->
        <div class="space-20"></div>

        @* <div class="hr hr2 hr-double"></div>*@

        @*<div class="space-6"></div>*@
    </div>

    <div id="divrightdata" class="col-xs-12 col-sm-6" style="margin-top: -13px;">
        <div class="center">

            <span class="btn btn-app btn-primary no-hover" style="min-width: 92%">
                <i class="fa fa-inr"></i>@(String.Format(System.Globalization.CultureInfo.CreateSpecificCulture("hi-IN"), "{0:N0}", Model.EstimatedAmount.HasValue ? Model.EstimatedAmount : 0)) 	/ @(string.IsNullOrEmpty(Model.EstimatedCompletionDate) ? "--" : Model.EstimatedCompletionDate)

                <br>
                <span class="line-height-1 smaller-70">Estimated Amount
										   /
											Expected Completion Date
                </span>
            </span>

            <span class="btn btn-app btn-lg btn-pink no-hover" style="min-width: 92%">
                <i class="fa fa-inr"></i><span class="line-height-1 bigger-80">@String.Format(System.Globalization.CultureInfo.CreateSpecificCulture("hi-IN"), "{0:N0}", Model.sanctionedAmount.HasValue ? Model.sanctionedAmount : 0) /@(string.IsNullOrEmpty(Model.sanctionedDate) ? "--" : Model.sanctionedDate) </span>

                <br>
                <span class="line-height-1 smaller-70">Sanctioned
											
											Amount / Sanctioned
											
											Date</span>
            </span>



            <span class="btn btn-app btn-primary no-hover" style="min-width: 92%">
                <i class="fa fa-inr"></i><span class="line-height-1 bigger-80">@String.Format(System.Globalization.CultureInfo.CreateSpecificCulture("hi-IN"), "{0:N0}", Model.TotalExpenditureAmount.HasValue ? Model.TotalExpenditureAmount : 0) @(string.IsNullOrEmpty(Model.completionDate) ? " " : "/ " + Model.completionDate) </span>

                <br>
                <span class="line-height-1 smaller-70">Expenditure Till Date / Completition 	Date</span>

            </span>
        </div>

        <div class="space-12"></div>

        <!-- #section:pages/profile.info -->
        <div class="profile-user-info profile-user-info-striped">

            <div class="profile-info-row">
                <div class="profile-info-name" style="width: 30%;">Controlling Authority </div>

                <div class="profile-info-value">
                    <span id="age">@Model.ControllingAuthorityName</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Financial Year </div>

                <div class="profile-info-value">
                    <span id="age">@Model.FinancialYear</span>
                </div>
            </div>
            @* <div class="profile-info-row">
               <div class="profile-info-name">Demand </div>

										<div class="profile-info-value">
											<span class="editable editable-click" id="age">@Model.demandName</span>
										</div>
            </div>*@
            <div class="profile-info-row">
                <div class="profile-info-name">Program </div>

                <div class="profile-info-value">
                    <span id="age">@Model.programName</span>
                </div>
            </div>
              <div class="profile-info-row">
                <div class="profile-info-name">Work Type </div>

                <div class="profile-info-value">
                    <span id="age">@Model.WorkType</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Owner Department </div>

                <div class="profile-info-value">
                    <span id="age">@Model.Owner_deptName</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Executing Agency </div>

                <div class="profile-info-value">
                    <span class="bold" id="username"><strong>@Model.ExecutingDepartmentName</strong> </span>
                    <span>@Model.ExecutingOfficeName
                    </span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name">Contractor Details </div>

                <div class="profile-info-value">

                    <span id="country"><b>@Model.ContractorName </b></span>
                    <span id="city">@Model.ContractorAddress
                    </span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name">Panchayat / Urban Area </div>

                <div class="profile-info-value">
           <span>@Model.PanchayatName
                    </span>
                     </div>
            </div>

            <!-- /section:pages/profile.info -->
            <div class="space-6"></div>

           

        </div>
    </div>

    <div class="clearfix">
    </div>
    <script src="~/Scripts/Constituency/myConstituencyWorks.js"></script>

    <script src="~/assets/js/bootbox.min.js"></script>
    <script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
  
    <script>
        $('[data-rel=tooltip]').tooltip();
        $('[data-rel=popover]').popover({ html: true });

    </script>
    <script src="~/Scripts/jquery-migrate-1.1.1.js"></script>
    <script>
        function GetImage() {
            alert(image);
        }
    </script>
    <script>
   
    </script>
