﻿@model SBL.DomainModel.ComplexModel.Constituency.WorkDetails
<style>
    .widget-main
    {
        margin-bottom: 11px;
    }
</style>
<div class="row col-sm-12 no-padding-right no-padding-left">

    <div class="col-sm-12 col-sm-12" style="overflow: visible">

        <div class="widget-box transparent" id="widget1">
            <div class="widget-header">
                <h4 class="widget-title lighter"><a data-toggle="collapse" data-parent="#widget1" href="#widgetBody1">Basic Details</a></h4>

                <div class="widget-toolbar no-border">

                    <a data-toggle="collapse" data-parent="#widget1" href="#widgetBody1">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body panel-collapse collapse in" id="widgetBody1">
                <div class="widget-body-inner" style="display: block;">
                    <div class="widget-main">
                        <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                Scheme Type</label>
                            <div class="col-sm-8">
                                <select id="schemeTypeId" name="schemeTypeId" class="chosen-select input-sm" data-placeholder="--select a Scheme Type--" style="width: 300px">
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                Controlling Auth
                            </label>
                            <div class="col-sm-8">
                                <select id="ControllingAuthorityID" name="ControllingAuthorityID" class="chosen-select input-sm" data-placeholder="--select a Controlling Authority --" style="width: 300px"></select>

                                @Html.HiddenFor(a => a.Mode)
                                @Html.HiddenFor(a => a.mySchemeID)
                                @Html.HiddenFor(a => a.eConstituencyID)
                                @Html.HiddenFor(a => a.memberCode)
                                 @Html.HiddenFor(a => a.ConId_ForSDM)
                              
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                Financial Year</label>
                            <div class="col-sm-8">
                                @*<select id="FinancialYearID" name="FinancialYear" style="width: 100%"></select>*@
                                <input type="text" id="FinancialYearID" name="FinancialYear" class="width-100" readonly />
                            </div>
                        </div>
                        <div id="divdemand" class="col-sm-12 no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                Demand</label>
                            <div class="col-sm-8">
                                <select id="DemandID" name="Demand" class="chosen-select input-sm" data-placeholder="--select a Demand --" style="width: 300px"></select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                Work Code</label>
                            <div class="col-sm-8">
                                <input type="text" name="workCode" id="workCode" value='@Model.workCode'  class="width-100" readonly>
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                Work Name</label>
                            <div class="col-sm-8">
                                <textarea class="autosize-transition form-control" name="workName" >@Model.workName</textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                Program Name</label>
                            <div class="col-sm-8">
                                <select id="programID" name="programName" class="chosen-select input-sm" data-placeholder="--select a Program Name --">
                                    <option>--Program Name--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                Work Nature</label>
                            <div class="col-sm-8">
                                <select id="workNatureID" name="WorkNatureID" class="width-100">
                                    <option>--Work Nature--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                Work Type</label>
                            <div class="col-sm-8">
                                <select id="workTypeID" name="WorkTypeID" class="chosen-select input-sm" data-placeholder="--select a  Work Type --">
                                    <option>--Work Type--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                Work Status</label>
                            <div class="col-sm-8">
                                <select id="workStatusID" name="workStatus" class="width-100">
                                    <option>--Work Status--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info" id="DivcompletionDate">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                Completion Date</label>
                            <div class="col-sm-8">

                                <input type="text" name="completionDate" id="completionDate" value='@Model.completionDate'  data-date-format="dd-mm-yyyy" class="width-100 date-picker">
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                DPR</label>
                            <div class="col-sm-6">
                                <input type="file" name="photo" />
                            </div>
                            <div class="col-sm-2">
                                @if (string.IsNullOrEmpty(Model.dprFile))
                                {
                                    <span class="btn btn-link disabled">
                                        <i class="ace-icon fa fa-book bigger-125 red"></i>
                                        DPR/Proposal</span>
                                }
                                else
                                {
                                    <a href="https://secure.evidhan.nic.in/secureFileStructure/@Model.dprFile" class="btn btn-link" target="_blank">
                                        <i class="ace-icon fa fa-book bigger-125 red"></i>
                                        DPR/Proposal
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-sm-12" style="overflow: visible">

        <div class="widget-box transparent" id="widget2">
            <div class="widget-header">
                <h4 class="widget-title lighter"><a data-toggle="collapse" data-parent="#widget2" href="#widgetBody2">Owner Department & Executing Agency</a></h4>

                <div class="widget-toolbar no-border">

                    <a data-toggle="collapse" data-parent="#widget2" href="#widgetBody2">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body panel-collapse collapse in" id="widgetBody2">
                <div class="widget-body-inner" style="display: block;">
                    <div class="widget-main">

                        <div class="col-sm-12 no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                Owner Department</label>
                            <div class="col-sm-8">
                                <select id="newOwnerDepartmentID" name="Owner_deptid" class="chosen-select input-sm" data-placeholder="--select a Department --"></select>
                            </div>
                        </div>

                        <div class="col-sm-12 no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                Executing  Department</label>
                            <div class="col-sm-8">
                                <input type="hidden" name="ExecutingDepartmentId" value="@Model.ExecutingDepartmentId" />
                                <input type="text" name="ExecutingDepartmentIds" value="@Model.ExecutingDepartmentName" class="width-100" readonly />
                                @*<select aria-readonly="true" id="ExecutingAgencyID"   name="ExecutingDepartmentIds" class="chosen-select input-sm" data-placeholder="--select a Department --"></select>*@
                            </div>
                        </div>
                        <div class="col-sm-12 no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                Executing  Office</label>
                            <div class="col-sm-8">
                                <input type="hidden" name="ExecutingOfficeID" value="@Model.ExecutingOfficeID"  />
                                <input type="text" name="ExecutingOfficeIDs" value="@Model.ExecutingOfficeName" class="width-100" readonly />
                                @*<select aria-readonly="true" id="ExecutingOfficeID"  name="ExecutingOfficeID" class="chosen-select input-sm" data-placeholder="--select an Office --" style="width: 300px"></select>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-sm-12" style="overflow: visible">

        <div class="widget-box transparent" id="widget31">
            <div class="widget-header">
                <h4 class="widget-title lighter"><a data-toggle="collapse" data-parent="#widget3" href="#widgetBody3">Contractor Details</a></h4>

                <div class="widget-toolbar no-border">

                    <a data-toggle="collapse" data-parent="#widget31" href="#widgetBody31">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body panel-collapse collapse in" id="widgetBody31">
                <div class="widget-body-inner" style="display: block;">
                    <div class="widget-main">
                        <div class="col-sm-12 no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                Contractor Name
                            </label>
                            <div class="col-sm-8">
                                <input type="text" name="ContractorName" id="ContractorName" value='@Model.ContractorName'  class="width-100" required>
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                Contractor Address</label>
                            <div class="col-sm-8">
                                <input type="text" name="ContractorAddress" id="ContractorAddress" value='@Model.ContractorAddress'  class="width-100" required>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-sm-12" style="overflow: visible">

        <div class="widget-box transparent" id="widget3">
            <div class="widget-header">
                <h4 class="widget-title lighter"><a data-toggle="collapse" data-parent="#widget3" href="#widgetBody3">Location</a></h4>

                <div class="widget-toolbar no-border">

                    <a data-toggle="collapse" data-parent="#widget3" href="#widgetBody3">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body panel-collapse collapse in" id="widgetBody3">
                <div class="widget-body-inner" style="display: block;">
                    <div class="widget-main">
                        <div class="col-sm-12 no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                District</label>
                            <div class="col-sm-8">
                                <select id="DistrictID" name="districtID" class="chosen-select input-sm" data-placeholder="--select a District --"></select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                Constituency Name</label>
                            <div class="col-sm-8">
                                 @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.SubUserTypeID != "40")
                                {
                                    <input type="text" name="constituenctName" id="constituenctName" value='@Model.constituenctName'  class="width-100" readonly>
                                }
                                else
                                {
                                    <select id="ConcID" name="ConcID" class="chosen-select input-sm" data-placeholder="--select a Constituency --"></select>
                                }
                              @*  <input type="text" name="constituenctName" id="constituenctName" value='@Model.constituenctName'  class="width-100"readonly>*@
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                Sub division</label>
                            <div class="col-sm-8">
                                <select id="subdevisionId" name="subdevisionId" class="chosen-select  width-100" data-placeholder="--select a Sub division --"></select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                  Panchayat/Urban</label>
                            <div class="col-sm-8">
                                <select id="newPanchayatID" name="Panchayat" class="chosen-select  width-100" data-placeholder="--select a Panchayat --" @*style="width: 300px"*@></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-sm-12" style="overflow: visible">

        <div class="widget-box transparent" id="widget4">
            <div class="widget-header">
                <h4 class="widget-title lighter"><a data-toggle="collapse" data-parent="#widget4" href="#widgetBody4">Financial Details</a></h4>

                <div class="widget-toolbar no-border">

                    <a data-toggle="collapse" data-parent="#widget4" href="#widgetBody4">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body panel-collapse collapse in" id="widgetBody4">
                <div class="widget-body-inner" style="display: block;">
                    <div class="widget-main">

                        <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                Estimated Amount</label>
                            <div class="col-sm-8">
                                <input type="text" name="EstimatedAmount" id="EstimatedAmount" value='@Model.EstimatedAmount' readonly  class="width-100">
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                Estimated Completion Date</label>
                            <div class="col-sm-8">
                                <input type="text" name="EstimatedCompletionDate" id="EstimatedCompletionDate" value='@Model.EstimatedCompletionDate'  data-date-format="dd-mm-yyyy" class="width-100 date-picker">
                            </div>
                        </div>

                        <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                Sanctioned Amount</label>
                            <div class="col-sm-8">
                                <input type="text" name="sanctionedAmount" id="sanctionedAmount" value='@Model.sanctionedAmount'  readonly  class="width-100">
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                Sanctioned Amount Date</label>
                            <div class="col-sm-8">
                                <input type="text" name="sanctionedDate" id="sanctionedDate" value='@Model.sanctionedDate'  @*data-date-format="dd-mm-yyyy"*@  class="width-100 date-picker" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-sm-12" style="overflow: visible">

        <div class="widget-box transparent" id="widget5">
            <div class="widget-header">
                <h4 class="widget-title lighter"><a data-toggle="collapse" data-parent="#widget5" href="#widgetBody5">Financial Progress Details</a></h4>

                <div class="widget-toolbar no-border">

                    <a data-toggle="collapse" data-parent="#widget5" href="#widgetBody5">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body panel-collapse collapse in" id="widgetBody5">
                <div class="widget-body-inner" style="display: block;">
                    <div class="widget-main">

                        @*<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Expenditure Upto Previous Years</label>
							<div class="col-sm-8">
								<input type="text" name="ExpenditureUptoPreviousYears" id="ExpenditureUptoPreviousYears" value='@Model.ExpenditureUptoPreviousYears'  class="width-100"readonly>
							</div>
						</div>*@
                        @*<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Expenditure In Current Years</label>
							<div class="col-sm-8">
								<input type="text" name="PhysicalInCurrentYears" id="PhysicalInCurrentYears" value='@Model.ExpenditureInCurrentYears'  class="width-100"readonly>
							</div>
						</div>*@
                        <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                Total Expenditure Amount Till Date
                            </label>
                            <div class="col-sm-8">
                                <input type="text" name="TotalExpenditureAmount" id="TotalExpenditureAmount" value='@Model.TotalExpenditureAmount'  class="width-100"readonly>
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">

                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                            </label>
                            @*<div class="col-sm-8 center">

								<button type="button" class="btn btn-sm btn-primary btn-white btn-round" onclick="viewFinancialProgressbyMember('@Model.mySchemeID')">
									<i class="ace-icon glyphicon glyphicon-signal bigger-150 middle orange2"></i>
									<span class="bigger-110">History of Financial Progress Details</span>

									<i class="icon-on-right ace-icon fa fa-arrow-right"></i>
								</button>
							</div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-sm-12" style="overflow: visible">

        <div class="widget-box transparent" id="widget6">
            <div class="widget-header">
                <h4 class="widget-title lighter"><a data-toggle="collapse" data-parent="#widget6" href="#widgetBody6">Physical Progress Details</a></h4>

                <div class="widget-toolbar no-border">
                    <a data-toggle="collapse" data-parent="#widget6" href="#widgetBody6">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body panel-collapse collapse in" id="widgetBody6">
                <div class="widget-body-inner" style="display: block;">
                    <div class="widget-main">

                        @*<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Physical Progress Upto Previous Years</label>
							<div class="col-sm-8">
								<input type="text" name="PhysicalUptoPreviousYears" id="PhysicalUptoPreviousYears" value='@Model.PhysicalUptoPreviousYears'  class="width-100"readonly>
							</div>
						</div>*@
                        @*<div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
							<label for="inputinfo" class="col-sm-4 control-label no-padding-right">
								Physical Progress  In Current Years</label>
							<div class="col-sm-8">
								<input type="text" class="width-100" name="PhysicalInCurrentYears" readonly  value='@Model.PhysicalInCurrentYears' />
							</div>
						</div>*@
                        <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                                Total  Physical Progress Till Date
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="width-100" name="TotalPhysicalProgress" readonly value='@Model.TotalPhysicalProgress' />
                            </div>
                        </div>
                        <div class="col-sm-12 col-sm-12  no-padding-right no-padding-left form-group has-info">
                            <label for="inputinfo" class="col-sm-4 control-label no-padding-right">
                            </label>
                            <div class="col-sm-8 center">

                                <button type="button" class="btn btn-sm btn-primary btn-white btn-round" style="margin-bottom:10px;" onclick="viewProgressbyMember('@Model.mySchemeID')">
                                    <i class="ace-icon glyphicon glyphicon-signal bigger-150 middle orange2"></i>
                                    <span class="bigger-110">View Physical / Financial Progress</span>

                                    <i class="icon-on-right ace-icon fa fa-arrow-right"></i>
                                </button>

                                <button type="button" class="btn btn-sm btn-primary btn-white btn-round" style="margin-bottom:10px;" onclick="viewProgressImages('@Model.mySchemeID')">
                                    <i class="ace-icon fa fa-camera bigger-150 middle orange2"></i>
                                    <span class="bigger-110">View Pictorial Progress</span>

                                    <i class="icon-on-right ace-icon fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix">
</div>
@*<div class="alert alert-info">
	<div class="clearfix">
		<div class="grid2">
			<button type="button" class="btn btn-sm btn-primary btn-white btn-round" onclick="viewProgressbyMember('@Model.mySchemeID')">
				<i class="ace-icon glyphicon glyphicon-signal bigger-150 middle orange2"></i>
				<span class="bigger-110">View Progress</span>

				<i class="icon-on-right ace-icon fa fa-arrow-right"></i>
			</button>
		</div>

		<div class="grid2">
			<button type="button" class="btn btn-sm btn-primary btn-white btn-round" onclick="viewProgressImages('@Model.mySchemeID')">
				<i class="ace-icon fa fa-camera bigger-150 middle orange2"></i>
				<span class="bigger-110">View Images</span>

				<i class="icon-on-right ace-icon fa fa-arrow-right"></i>
			</button>
		</div>
	</div>
</div>*@

<div class="alert alert-info">
    <div class="clearfix">
        <div class="grid2">
            <button type="button" class="btn btn-sm btn-primary btn-white btn-round" onclick="UpdateProgress('@Model.mySchemeID')">
                <i class="ace-icon glyphicon glyphicon-signal bigger-150 middle orange2"></i>
                <span class="bigger-110">Update Progress</span>

                <i class="icon-on-right ace-icon fa fa-arrow-right"></i>
            </button>
        </div>

        <div class="grid2">
            <button type="button" class="btn btn-sm btn-primary btn-white btn-round" onclick="UpdateImages('@Model.mySchemeID')">
                <i class="ace-icon fa fa-camera bigger-150 middle orange2"></i>
                <span class="bigger-110">Upload Images</span>

                <i class="icon-on-right ace-icon fa fa-arrow-right"></i>
            </button>
        </div>
    </div>
</div>
<script src="~/assets/js/bootbox.min.js"></script>
<div id="viewProgressImages" class="modal"></div>
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script>

    $(document).ready(function () {

        var ExecutingOfficeID = '@Model.ExecutingOfficeID';
       
        var SDMOfficeId = '@SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.OfficeId';
     
        if (ExecutingOfficeID == SDMOfficeId) {
            $("#dbsubmitbtn").show();
        }
        else {
            $("#dbsubmitbtn").hide();
        }
      
       
        
        $(':file').change(function () {
            for (var i = 0; i < this.files.length; ++i) {
                var name = this.files.item(i).name;
                var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp', 'pdf', 'doc', 'docx'];
                var Extension = name.split('.').pop().toLowerCase();
                if ($.inArray(Extension, fileExtension) == -1) {
                    alert(name + " is not valid format. Only '.jpeg','.jpg', '.png', '.gif', '.bmp','doc','docx' formats are allowed.");
                    $(':file').val("");
                    return false;
                }
            }
        });
        if ('@Model.ControllingAuthorityID' == 'HPD1069') {
            $("#divdemand").show();
        }
        else {
            $("#divdemand").hide();
        }


    })

    $('.date-picker').datepicker({
        autoclose: true,
        todayHighlight: true
    });

    fillControllingAuthority('@Model.ControllingAuthorityID', '@Model.districtID');
    fillAllDemand('@Model.Demand');
	@*fillExecutingDepartment('@Model.ExecutingDepartmentId');*@
    fillOwnerDepartment('@Model.Owner_deptid');
	@*fillExecutingAgency('@Model.memberCode', '@Model.ExecutingDepartmentId','@Model.ExecutingOfficeID');*@
    fillFinancialYear('@Model.FinancialYear');
    fillProgramme('@Model.programName');
    fillWorkNature('@Model.WorkNatureID');
    fillWorkStatus('@Model.workStatus');
    fillWorkType('@Model.WorkTypeID');
    fillDistrict('@Model.eConstituencyID');
    fillPanchayatByConstituency('@Model.eConstituencyID', '@Model.Panchayat');
    fillSubdevisionByConstituency('@Model.eConstituencyID', '@Model.subdevisionId');
    fillSchemeType('@Model.schemeTypeId');
    fillConstituency('@Model.eConstituencyID');
    try {
        // $('.chosen-select').chosen({ allow_single_deselect: true });
        $('.chosen-select').chosen({ allow_single_deselect: true });
        //resize the chosen on window resize
        $(window).on('resize.chosen', function () {
            var w = $('.chosen-select').parent().width();
            $('.chosen-select').next().css({ 'width': '100%' });
        }).trigger('resize.chosen').trigger("chosen:updated")
    }
    catch (error) {
    }


    $("#workStatusID").change(function () {
        var status = $("#workStatusID option:selected").val();
        if (status == 3) {
            $("#DivcompletionDate").show('fast');
        }
        else {
            $("#DivcompletionDate").hide('fast');
        }
    });

</script>
<script type="text/javascript">

    function checkFields() {
        var IsValid = true;
        //if ($('#workCode').val() == '') {
        //    var dlg = bootbox.alert('Work Code is Required', function (e) {
        //        $(dlg).modal('hide');
        //    });

        //    IsValid = false;
        //}
        if ($('#newOwnerDepartmentID').val() == '') {
            var dlg = bootbox.alert('Owner Department is Required', function (e) {
                $(dlg).modal('hide');
            });

            IsValid = false;
        }
        else if ($('#ExecutingAgencyID').val() == '') {
            var dlg = bootbox.alert('Executing Department is Required', function (e) {
                $(dlg).modal('hide');
            });

            IsValid = false;
        }
        else if ($('#ContractorName').val() == '') {
            var dlg = bootbox.alert('Contractor Name  is Required', function (e) {
                $(dlg).modal('hide');
            });

            IsValid = false;
        }
        else if ($('#ContractorAddress').val() == '') {
            var dlg = bootbox.alert('Contractor Address is  Required', function (e) {
                $(dlg).modal('hide');
            });

            IsValid = false;
        }
        else if ($('#completionDate').val() == '' && $("#workStatusID option:selected").val() == 3) {
            var dlg = bootbox.alert('Completion Date is Required', function (e) {
                $(dlg).modal('hide');
            });

            IsValid = false;
        }


        else {
            IsValid = true;
        }

        return IsValid;

    }
    function officersavebtnSubmit() {
        if (checkFields() == true) {
            var dataString;
            // event.preventDefault();
            var action = $("#updateWorksbyMembers1").attr("action");
            if ($("#updateWorksbyMembers1").attr("enctype") == "multipart/form-data") {
                //this only works in some browsers.
                //purpose? to submit files over ajax. because screw iframes.
                //also, we need to call .get(0) on the jQuery element to turn it into a regular DOM element so that FormData can use it.
                dataString = new FormData($("#updateWorksbyMembers1").get(0));
                contentType = false;
                processData = false;
            } else {
                // regular form, do your own thing if you need it
            }
            $.ajax({
                type: "POST",
                url: action,
                data: dataString,
                dataType: "json", //change to your own, else read my note above on enabling the JsonValueProviderFactory in MVC
                contentType: contentType,
                processData: processData,
                success: function (data) {
                    $('#resize-right .widget-box').hide();
                    var w = $('#resize-left').parent().width();
                    $('#resize-left').animate({ "width": w });
                    ShowNotification("success", "Work Has been update");
                    GetFilterMySchemeList();

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    //do your own thing
                    alert("fail");
                }
            });

        }
        //end .submit()
    }
    $("#ControllingAuthorityID").change(function () {
        var ControllingAuthorityID = $("#ControllingAuthorityID option:selected").text().trim().toUpperCase();
        if (ControllingAuthorityID == "HP VIDHAN SABHA") {
            $("#divdemand").show();
        }
        else {
            $("#divdemand").hide();
        }


    });
    $("#ConcID").change(function () {
        var id = $("#ConcID").val();
        $("#ConId_ForSDM").val(id);
        $("#eConstituencyID").val(id);
        fillPanchayatByConstituency(id);
    });
    
</script>
