﻿@model IEnumerable<SBL.DomainModel.Models.ConstituencyVS.ConstituencyWorkProgress>
@{
	int count = 0;
}
<div class="modal-dialog" style="width: 800px;">
	<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="header smaller lighter red"><strong> Financial Year and Work Name :</strong> @ViewBag.financialYear , @ViewBag.workName
				   <br />
		<strong>Work Code</strong> :	<span class="badge badge-warning" style="margin-right:100px;">@ViewBag.workCode</span>  <strong> Status</strong> : <span class="badge badge-warning">@ViewBag.workStatus</span>
			</h4>
		</div>

		<div class="modal-body">
			<div class="widget-body">
				<div class="widget-main no-padding-right no-padding-left">
					@if (Model != null && Model.Count() > 0)
					{
						<div class="pass-table">

							<div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">

								<table class="table table-striped table-bordered table-hover dataTable table table-striped table-hover dt-responsive" width="100%" id="myConstituency" aria-describedby="sample-table-2_info">
									<thead>
										<tr role="row">
											<th class=" sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">#</th>
											<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Updated On</th>
											<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Expenditure Till Date<span>(<i class="fa fa-inr"></i>)</span></th>
											<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Physical Progress Till Date(%)</th>
											<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 40%">Remark</th>

										</tr>
									</thead>

									<tbody role="alert" aria-live="polite" aria-relevant="all">
										@foreach (var item in Model)
										{
											count = count + 1;
											<tr>
												<td>@count</td>
												<td>@item.submitDate.Value.ToString("dd-MM-yyyy")</td>
												<td style="text-align:right;"><span><i class="fa fa-inr"></i></span>@String.Format(System.Globalization.CultureInfo.CreateSpecificCulture("hi-IN"), "{0:N0}", item.toalExpenditure)</td>
												<td style="text-align:right;"> @item.toalProgress %</td>
												<td style="text-align:justify;"> @item.RemarkProgress</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
					}
					else
					{
						<div class="alert alert-info">
							No-Progress
						</div>
					}
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-sm" data-dismiss="modal">
				<i class="ace-icon fa fa-times"></i>
				Close
			</button>
		</div>
	</div>
</div>