﻿@model IEnumerable<SBL.DomainModel.Models.ConstituencyVS.ConstituencyWorkProgressImages>
<div class="modal-dialog" style="width: 1000px; height: 700px;">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="header smaller lighter red"><strong> Financial Year and Work Name :</strong> @ViewBag.financialYear , @ViewBag.workName
                <br />
		<strong>Work Code</strong> :	<span class="badge badge-warning" style="margin-right:100px;">@ViewBag.workCode</span>  <strong> Status</strong> : <span class="badge badge-warning">@ViewBag.workStatus</span>
			</h4>
		
		</div>
		<div class="modal-body">
			<div class="widget-body">
				<div class="widget-main no-padding-right no-padding-left">
					@if (Model != null && Model.Count() > 0)
					{
						<ul class="pgwSlideshow">

							@foreach (var item in Model)
							{<li>
								<img src="https://secure.evidhan.nic.in/secureFileStructure/@item.filePath/@item.fileName" alt="@item.UploadedDate.Value.ToString("dd-MM-yyyy")" data-description="@item.tFileCaption"></li>
							}
						</ul>
					}
					else
					{
						<div class="alert alert-danger">
							<button type="button" class="close" data-dismiss="alert">
								<i class="ace-icon fa fa-times"></i>
							</button>

							<strong>
								<i class="ace-icon fa fa-times"></i>
								Sorry!
							</strong>

							No Pictorial History Found.
										<br>
						</div>
					}
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-sm" data-dismiss="modal">
				<i class="ace-icon fa fa-times"></i>
				Close
			</button>
		</div>
	</div>
</div>
@*<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>*@

<script src="~/Scripts/jquery-migrate-1.1.1.js"></script>
@*<script src="~/Scripts/jquery.min_1.js"></script>*@
@*<script src="~/Scripts/pgwslideshow.min.js"></script>*@
<script src="~/Scripts/slider/pgwslideshow.js"></script>
<link href="~/Scripts/pgwslideshow.min.css" rel="stylesheet" />
<link href="~/Scripts/slider/pgwslideshow.css" rel="stylesheet" />
<link href="~/Scripts/slider/pgwslideshow_light.css" rel="stylesheet" />
<script type="text/javascript">
	$(document).ready(function () {
	   

		$("#loader-wrapper").show();
		try {
			var pgwSlideshow = $('.pgwSlideshow').pgwSlideshow(
				{
					mainClassName: 'pgwSlideshow',
					autoSlide: false,
					displayList: true

				});
			pgwSlideshow.startSlide();

		}
		catch (error) {

		}
		//$("#viewWorksDetail").html("");
		//$("#viewWorksDetail").addBack();
		$("#loader-wrapper").hide();
	});
</script>