﻿@model SBL.DomainModel.ComplexModel.Constituency.WorkDetails
@{
	int count = 0;
}

	<div class="modal-dialog" style="width:800px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			   <h4 class="header smaller lighter red" style="margin-bottom:30px;">( @ViewBag.workCode) @ViewBag.workName
				
			</h4>
			</div>

			<div class="modal-body" >
				<div class="widget-body">
					<div class="widget-main no-padding-right no-padding-left">
						@if (Model != null)
						{
                            @Html.Partial("_updateWorkforMember", Model);
                                            
						}
						else
						{
							<div class="alert alert-info">
								Not - Found
							</div>
						}
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-sm" data-dismiss="modal">
					<i class="ace-icon fa fa-times"></i>
					Close
				</button>
			   
			</div>
		</div>
	</div>
