﻿@model SBL.DomainModel.Models.UserModule.tUserAccessRequestModel
@{
    int count = 0;
    int count1 = 0;
}
@*<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>

<script src="~/assets/js/flot/jquery.flot.min.js"></script>
<script src="~/assets/js/flot/jquery.flot.pie.min.js"></script>
<script src="~/assets/js/flot/jquery.flot.resize.min.js"></script>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
<!-- page specific plugin styles -->
@*<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />*@
<!-- page specific plugin styles -->
<script>
    //$(document).ready(function () {
    //    alert("ready");
    //    init();
    //});
    //$(function () {
    //    var deptids = "";

    //    $("#check-list-box li.active").each(function (idx, li) {

    //        deptids += $(li).find('.deptcheckbox').val() + ",";

    //    });
    //    $('#hdnroleIds').val(deptids);

    //});
</script>
<style>
    .divrolecontainner {
        width: 100%;
        border: 1px solid;
    }

    #divuserdetails {
        width: 100%;
    }

    #divroledetails {
        width: 50%;
    }

    #divdepartmentdetails {
        width: 50%;
        height: 100px;
    }

        #divdepartmentdetails span {
            padding: 10px;
        }

    .state-icon {
        left: -5px;
    }

    .list-group-item-primary {
        color: rgb(255, 255, 255);
        background-color: rgb(66, 139, 202);
    }

    /* DEMO ONLY - REMOVES UNWANTED MARGIN */
    .well .list-group {
        margin-bottom: 0px;
    }
</style>
<input type="hidden" id="hdnalldepartmentIds" />
<input type="hidden" id="hdnallAdditionaldepartmentIds" />
<input type="hidden" id="hdnroleIds" />
<div class="row">


    <div class="widget-header widget-header-flat" style="margin-bottom: 10px;">
        <div class="container" style="margin-top: 0px; width: 1051px;">
            <div class="row">
                <div style="padding: 8px;">
                    <div class="widget-main no-padding-right no-padding-left">
                        <div class="profile-user-info profile-user-info-striped">
                            <div class="profile-info-row">
                            </div>


                            <div class="profile-info-row">
                                <div class="profile-info-name">Approved Department:</div>

                                <div class="profile-info-value">
                                    <span id="spnTitle" class="">
                                        @Model.ApprovedDeptList
                                        @Html.HiddenFor(m => m.Deptid)
                                    </span>
                                </div>
                            </div>
                            @if (Model.DeptList.Count() > 0)
                            {
                                <div class="profile-info-row">
                                    <div class="profile-info-name">Requested Department: </div>

                                    <div class="profile-info-value">
                                        <span id="spnTitle1" class="">
                                            <ul id="check-list-box" class="list-group checked-list-box">
                                                @foreach (var rejlist in Model.DeptList)
                                                {


                                                    <li class="list-group-item list-group-item-primary active">
                                                        <input type="checkbox"  class="deptcheckbox"  value="@rejlist.Key"  style="vertical-align:top"/>@rejlist.Value
                                                    </li>
                         
                      
                                                }

                                            </ul>
                                        </span>
                                    </div>
                                </div>
                                <div class="profile-info-row">
                                    <div class="profile-info-name"></div>

                                    <div class="profile-info-value">
                                        <span id="spnTitle" class="">
                                            <button type="button" class="btn btn-primary btn-sm" onclick="return UpdateRoleandDepartment();" style="float: right;">
                                                Update</button>
                                        </span>
                                    </div>
                                </div>
                            }

                        </div>

                    </div>
                    <div class="widget-main no-padding-right no-padding-left">
                        <div class="profile-user-info profile-user-info-striped">
                            <div class="profile-info-row">
                              
                                <div class="profile-info-value">
                                    <div >
                                        <div >
                                            <div class="widget-header">
                                                <h4 class="widget-title">
                                                    <a data-toggle="collapse" href="#divAddDept" style="text-decoration: underline;" class="collapsed" aria-expanded="false">Additional Department</a></h4>

                                            </div>

                                            <div class="widget-body">
                                                <div id="divAddDept" class="collapse">
                                                    <div class="widget-main">
                                                        <div class="row">
                                                            <div class="profile-info-row">
                                                                <div class="profile-info-name">Approved Additional Department:</div>

                                                                <div class="profile-info-value">
                                                                    <span id="spnTitle" class="">
                                                                        @Model.ApprovedAdditionalDeptList
                                                                       
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            @if (Model.AdditionalDeptList.Count() > 0)
                                                            {
                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name">Requested Additional Department: </div>

                                                                    <div class="profile-info-value">
                                                                        <span id="spnTitle1" class="">
                                                                            <ul id="Additionalcheck-list-box" class="list-group checked-list-box">
                                                                                @foreach (var rejlist in Model.AdditionalDeptList)
                                                                                {


                                                                                    <li class="list-group-item list-group-item-primary active">
                                                                                        <input type="checkbox"  class="Additionaldeptcheckbox"  value="@rejlist.Key"  style="vertical-align:top"/>@rejlist.Value
                                                                                    </li>
                         
                      
                                                                                }

                                                                            </ul>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="profile-info-row">
                                                                    <div class="profile-info-name"></div>

                                                                    <div class="profile-info-value">
                                                                        <span id="spnTitle" class="">
                                                                            <button type="button" class="btn btn-primary btn-sm" onclick="return UpdateAdditionalDepartment();" style="float: right;">
                                                                                Update</button>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>






                </div>

            </div>

        </div>
    </div>

</div>
@*<div class="row">
    <div class="col-xs-12">
        <div class="divrolecontainner">

            <div id="divuserdetails"></div>
            <div>
                <div id="divroledetails">
                </div>
                <div id="divdepartmentdetails">
                    <span>Departments:-</span>

                </div>
            </div>
        </div>
    </div>
</div>*@
@if (Model.objAccRejList.Count() > 0)
{
    <div class="row">
        <div class="col-xs-12">

            <!-- PAGE CONTENT BEGINS -->
            <input type="hidden" id="SelectedSignChkbxId" name="SelectedChkbxId" />
            <input type="hidden" id="SelectedFixNo" name="SelectedFixNo" />

            <div class="pass-table">

                <table class="table table-bordered dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                    <thead>
                        <tr role="row">

                            <th class="center">
                                <label class="position-relative">
                                    <input type="checkbox" id="checkBoxAll" onchange="checkAllInner(this)" class="ace" />
                                    <span class="lbl"></span>
                                </label>
                            </th>
                            <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" aria-label="">User Name</th>
                            <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" aria-label="">Access Description</th>
                            <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" aria-label="">User Type</th>
                            @*<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" aria-label="Pass Type: activate to sort column ascending">Associated Department</th>*@
                            <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Action Control List</th>
                            <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Sub Access</th>
                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Action</th>
                        </tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all">

                        @foreach (var item in Model.objAccRejList)
                        {
                            count = count + 1;
                            string style = (count % 2 == 0) ? "odd" : "even";

                            var trID = item.ID;
                           
                            <tr class="@style" id="@trID">

                                <td class="">
                                    @if (@item.IsAcceptedDate != null || @item.IsRejectedDate != null)
                                    {
                                        <div style="width: 100%">
                                            <input type="checkbox" id="Chk_@item.ID" class="Checkbox" value="@item.ID" name="chkList2" disabled="disabled" onclick="checkAcceptRejectChange(this.id)" style="vertical-align:top"/>

                                        </div> 
                                           
                                    }
                                    else
                                    {
                                        <div style="width: 100%">
                                            <input type="checkbox" id="Chk_@item.ID" class="Checkbox" value="@item.ID" name="chkList2"  onclick="checkAcceptRejectChange(this.id)" style="vertical-align:top"/>

                                        </div>   
                                    }
                                    <br />
                                </td>
                                <td class="">@item.UserName</td>

                                <td class="">@item.ModuleName</td>

                                <td class="">@item.SubUserTypeName</td>
                                @* <td class="">@item.AssociateDepartmentId</td>*@
                                @if (item.SelectedAssociateDepartmentId != null)
                                {
                                    @Html.Hidden(@item.SelectedAssociateDepartmentId)
                                }

                                <td class="">

                                    @{string tr = @item.ActionName;}


                                    @{string[] tr1 = tr.Split(',');}

                                    @for (int i = 1; i < tr1.Length; i++)
                                    {
                                            
                                        <input type='checkbox' class='groupcheckbox' checked="checked" disabled="disabled" />@tr1[i]
                                    }

                                </td>

                                <td class="">

                                    @*    @if (@item.IsAcceptedDate != null)
                                {
                                    <div>Accepted</div>
                                }
                                @if (@item.IsRejectedDate != null)
                                {
                                    <div>Rejected</div>
                                }
                                else
                                {

                                }*@
                                    <a href="javascript:void(0)" onclick="ViewSubAcces('@item.ID','@item.UserID','@item.AccessID')"><span class="label label-sm label-primary arrowed arrowed-right">View Sub Access</span> </a>

                                </td>

                                <td class="center" style="width: 10%">
                                    <div class="hidden-sm hidden-xs action-buttons">

                                       @* <a data-rel="tooltip" class="green tooltip-success" title="Edit"   href="@Url.Action("EditWebAdminAcceptReject", "AcceptRejectUser", new { Id = item.ID })">
                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                        </a>
                                        <a data-rel="tooltip" class="red tooltip-error DeleteUseType" title="Delete" id="@item.ID"   href="@Url.Action("DeleteWebAcceptRejectUser", "AcceptRejectUser", new { SIds = item.ID })">
                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                        </a>*@
                                         <a data-rel="tooltip" class="green tooltip-success" title="Edit"   href="@Url.Action("EditWebAdminAcceptReject", "AcceptRejectUser", new { Id = SBL.eLegistrator.HouseController.Web.Extensions.EncryptionUtility.Encrypt(item.ID.ToString()) })">
                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                        </a>
                                        <a data-rel="tooltip" class="red tooltip-error DeleteUseType" title="Delete" id="@item.ID"   href="@Url.Action("DeleteWebAcceptRejectUser", "AcceptRejectUser", new { SIds = SBL.eLegistrator.HouseController.Web.Extensions.EncryptionUtility.Encrypt(item.ID.ToString()) })">
                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                        </a>
                                    </div>


                                </td>
                            </tr>
                           
                         
                        }

                    </tbody>


                </table>
                <div class="wizard-actions">

                    <button type="button" id="acceptbtn" class="btn btn-sm btn-purple" onclick="return ModuleUpdatecheckValidation();">
                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                        Accept Request</button>

                    <button type="button" id="rejectbtn" class="btn btn-sm btn-purple" onclick="return ModuleUpdateReject();">
                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                        Reject Request</button>

                </div>
                <!-- PAGE CONTENT ENDS -->




            </div>
            <!-- PAGE CONTENT ENDS -->
        </div>
    </div>
}
<script>
    $(".DeleteUseType").on('click', function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        var id = $(this).attr('Id');
        var path = "@Url.Action("CheckDepartmentIdExist", "Department")";

        var request = $.ajax({

            url: path,
            data: { DepartmentID: id },
            success: function (result) {
                //alert(result);
                if (!result) {

                    bootbox.confirm('@Resources.MasterDataDashboard.Areyousurewanttodelete', function (confresult) {

                        if (confresult) {

                            window.location.href = url;
                        }

                    })
                }
                else {

                    bootbox.alert('@Resources.MasterDataDashboard.ThisDepartmentIDalreadyusedinsomeothermodulesSoitcantbedeleted');
                }
            }

        });
    });

    //jQuery(function ($) {
    //    var oTable1 =
    //    $('#sample-table-2')
    //    .dataTable({
    //        bAutoWidth: true,
    //        "aoColumns": [
    //           { "bSortable": false },
    //          null, null, null, null, null,

    //          { "bSortable": false }

    //        ]
    //    });
    //});



    function ChangeBreadCrumbParent(firstText) {
        $("#secondLink").empty();
        var firstlinkHtml = firstText;
        $("#secondLink").html(firstlinkHtml);
        $("#thirdLink").empty();
    }

    function ChangeBreadCrumbChild(secondText) {
        $("#thirdLink").empty();
        var secondlinkHtml = secondText;
        $("#thirdLink").html(secondlinkHtml);
    }

    function checkAllInner(ele) {
        document.getElementById("SelectedSignChkbxId").value = "";
        var checkboxes = document.getElementsByName('chkList2');
        if (ele.checked) {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                    checkAcceptRejectChange(checkboxes[i].id);
                }
            }
        } else {
            for (var i = 0; i < checkboxes.length; i++) {
                console.log(i)
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                }
            }
        }
    }

</script>
