﻿
@model SBL.DomainModel.Models.UserModule.tUserAccessActions 

<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
<script src="~/Scripts/jquery.alerts.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.timepicker1.js"></script>
<link href="~/Content/MultiSelectList/multiple-select.css" rel="stylesheet" />
<script src="~/Scripts/MultiSelectBox/jquery.multiple.select.js"></script>

@{
    ViewBag.Title = "CreateModule";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@Html.Action("LeftNavigationMenu", "SuperAdmin")

<style>
    #errmsg
{
color: red;
}
</style>

<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

       <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("GetUserAccessAction", "UserAccessAction")">@Resources.MasterDataDashboard.Home</a>
            </li>
                     
            <li class="active">Create Access Action</li>
        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>

    </div>

    <div class="page-content">


        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        @* //, new { @class = "form-horizontal", @role = "form" }*@
                        <div class="row">
@using (Ajax.BeginForm("SaveUserAccessAction", "UserAccessAction", new AjaxOptions { OnSuccess = "LoginSuccess", HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "NewUSerAccessActionForm" }))
{

        @Html.AntiForgeryToken()
         @Html.HiddenFor(m => m.Mode)
         @Html.HiddenFor(m => m.UserTypeName)
         @Html.HiddenFor(m=>m.SubUserTypeName)
       @Html.HiddenFor(m => m.ModuleName)
        @Html.HiddenFor(m => m.ActionName)
    
         <div class="widget-header widget-header-flat">

              @if (Model.Mode == "Add")
              {
                <h4 class="widget-title lighter">Create User Access Action</h4>
              }
              else
              {
                <h4 class="widget-title lighter">Update User Access Action</h4>
              }
        @* @if (Model.UserTypeID == null)
         {
        <h4 class="widget-title">Create User Type</h4>
         }
         else
         {
              <h4 class="widget-title">Create User Type</h4>
         }*@
    </div>     
       
   <div class="widget-body">
        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">

                </div>
             
                
                

                  <div class="profile-info-row">

                    <div class="profile-info-name">
                        <label class="" for="Name">@Resources.UserManagement.UserType <span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                           
                            @Html.DropDownListFor(m => m.UserTypeID, new SelectList(Model.objList, "UserTypeID", "UserTypeName"), new { @id = "DdlModulesId",@onchange = "UserTypeChange(this)", @tabindex = "3", @class = "select", @style = "width:350px;" })
                            @*@Html.ValidationMessageFor(model => model.Name)*@

                        </span>
                    </div>

                   </div>

                 <div class="profile-info-row">

                    <div class="profile-info-name">
                        <label class="" for="Name">Sub User Type <span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetailss" class="">
                           
                            @Html.DropDownListFor(m => m.SubUserTypeID, new SelectList(Model.SubUserTypeList, "SubUserTypeID", "SubUserTypeName","--Select--"), new { @id = "DdlSubUserType",@onchange = "SubUserTypeChange(this)", @tabindex = "3", @class = "select", @style = "width:350px;" })
                            @*@Html.ValidationMessageFor(model => model.Name)*@

                        </span>
                    </div>

                   </div>

                  <div class="profile-info-row">

                    <div class="profile-info-name">
                        <label class="" for="Name">@Resources.UserManagement.ModuleName <span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spn2Details" class="">
                           
                            @Html.DropDownListFor(m => m.ModuleId, new SelectList(Model.AccessList, "ModuleId", "ModuleName"), new { @id = "DdlAccessId",@onchange = "Accesshange(this)", @tabindex = "3", @class = "select", @style = "width:350px;" })
                            @*@Html.ValidationMessageFor(model => model.Name)*@

                        </span>
                    </div>
                </div>
                <div class="profile-info-row">

                    <div class="profile-info-name">
                        <label class="" for="Name">Sub Module Name <span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spn22Details" class="">
                           
                            @Html.DropDownListFor(m => m.SubModuleIds, new SelectList(Model.SubAccessList, "SubModuleId", "SubModuleName"), new { @id = "DdlSubAccessId", @tabindex = "3", @class = "select", @multiple = "multiple", @style = "width:350px;" })
                            @*@Html.ValidationMessageFor(model => model.Name)*@

                        </span>
                    </div>
                </div>
                <div class="profile-info-row">

                    <div class="profile-info-name">
                        <label class="" for="Name">@Resources.UserManagement.UserAction<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDdlGroup" class="">
                           
                           @* @Html.DropDownListFor(m => m.ActionId, new SelectList(Model.ActionList, "ActionId", "ActionName"), new { @id = "DdlActionId", @tabindex = "3", @class = "select", @style = "width:350px;" })*@
                             @Html.DropDownListFor(m => m.ActionIds, new SelectList(Model.ActionList, "ActionId", "ActionName", 0), new { @id = "DdlActionId", @tabindex = "3", @class = "select", @multiple = "multiple", @style = "width:350px;" })
                            @*@Html.ValidationMessageFor(model => model.Name)*@

                        </span>
                    </div>
                </div>    
        
                <div class="profile-info-row">

                    <div class="profile-info-name">
                        <label class="" for="Name">Order<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnOrder" class="">
                           
@*                          	<select class="form-control medium" style="width:350px;" id="orderID" name="AccessActionOrder">
									
								</select>*@
                            <input type="text" id="txtOrder" value="@Model.AccessActionOrder" name="AccessActionOrder" />
                          <span id="errmsg" class="spnTemp" style="display: none;">Digits Only</span>
                        </span>
                    </div>

                   </div>
            </div>
         
        </div>

         @*onclick="return checkAccessActionValidation();"*@
           <div class="wizard-actions">
           
                <button type="Button" id="savebtn" class="btn btn-sm btn-purple" onclick="return checkAccessActionValidation();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        @Resources.UserManagement.Save</button>

                <button type="reset" class="btn btn-sm btn-info"   onclick="return cancelEntry();">
                <i class="ace-icon fa fa-times bigger-125"></i>
               @Resources.UserManagement.Cancel
            </button>
        </div>

    </div>
   
    
    <div id='fullDetailsModel' class="hide">
        <div id='ShowfullDetailsModel' style="text-align: center">
        </div>
    </div>

}
                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="~/assets/js/bootbox.min.js"></script>


<style>
    .hidden {
        display: none;
        visibility: hidden;
    }
</style>

<script>

    function UserTypeChange() {
        //$("#DdlSubUserType").html('');
        var UserTypeId = $("#DdlModulesId option:selected").val();// document.getElementById("AssemblyCode").value;
     
        $.ajaxSetup({ cache: false });
        var path = '@Url.Action("ChangeUserType","UserAccessAction")';
            // alert(path);
        $.ajax({
            url: path,
            type: 'GET',
            data: {
                usertypeid: UserTypeId
            },
            success: function (data) {
                var SubUserType = "<option value='0'> Select </option>";
                for (var x = 0; x < data.length; x++) {
                    SubUserType += "<option value=" + data[x].SubUserTypeID + ">" + data[x].SubUserTypeName + "</option>";
                }
                $("#DdlSubUserType").html(SubUserType).show();

                //var SubUserTypeList = "<option value='0'> Select </option>";
                //$("#sessionDateLst").html(SubUserTypeList).show();
                //// $("#DetailsList").empty();
                ////cl2.hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }


    function SubUserTypeChange() {
        
        @*var SubUserTypeId = $("#DdlSubUserType option:selected").val();// document.getElementById("AssemblyCode").value;

        $.ajaxSetup({ cache: false });
        var path = '@Url.Action("ChangeSubUserType","UserAccessAction")';
            // alert(path);
        $.ajax({
            url: path,
            type: 'GET',
            data: {
                subusertypeid: SubUserTypeId
            },
            success: function (data) {
                var UserAccess = "<option value='0'> Select </option>";
                for (var x = 0; x < data.length; x++) {
                    UserAccess += "<option value=" + data[x].ModuleId + ">" + data[x].ModuleName + "</option>";
                }
                $("#DdlAccessId").html(UserAccess).show();

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });*@
    }
    function Accesshange() {
        $("#DdlSubAccessId").hide();
        var moduleid = $("#DdlAccessId option:selected").val();// document.getElementById("AssemblyCode").value;

        $.ajaxSetup({ cache: false });
        var path = '@Url.Action("ChangeUserModule","UserAccessAction")';
         // alert(path);
        $.ajax({
            url: path,
            type: 'GET',
            data: {
                moduleid: moduleid
            },
            success: function (data) {
                var SubUserType = ""; //"<option value='0'> Select </option>";
                for (var x = 0; x < data.length; x++) {
                    SubUserType += "<option value=" + data[x].SubModuleId + ">" + data[x].SubModuleName + "</option>";
                }
               
                //$("#DdlSubAccessId option[value='tes']").prop("selected", "selected");
                $("#DdlSubAccessId").html(SubUserType).show();
                $("#DdlSubAccessId").multipleSelect({ selectAll: true, placeHolder: "Select Group" });
                $("#DdlSubAccessId").css("display","none");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }
    

    $(document).ready(function () {
        $("#DdlModulesId").prepend("<option value='0'>Select</option>");
        $("#DdlModulesId option[value=0]").prop("selected", "selected");
        $("#DdlSubUserType").prepend("<option value='0'>Select</option>");
        $("#DdlSubUserType option[value=0]").prop("selected", "selected");
        $("#DdlAccessId").prepend("<option value='0'>Select</option>");
        $("#DdlAccessId option[value=0]").prop("selected", "selected");
        //$("#DdlSubAccessId").prepend("<option value='0'>Select</option>");
        //$("#DdlSubAccessId option[value=0]").prop("selected", "selected"); commented by ashwani
       
        $("#DdlActionId").multipleSelect({ selectAll: true, placeHolder: "Select Group" });
        //Accesshange(id);
        $("#DdlSubAccessId").multipleSelect({ selectAll: true, placeHolder: "Select Group" });


        $("#txtOrder").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                $('#' + e.target.id).css("border", "1px solid red");
                $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
            else {
                $('#' + e.target.id).css("border", "1px solid green");
            }
        });
    });
    function reset() {
        //$("#DdlModulesId").prepend("<option value='0'>Select</option>");
        $("#DdlModulesId option[value=0]").prop("selected", "selected");
       // $("#DdlSubUserType").prepend("<option value='0'>Select</option>");
        $("#DdlSubUserType option[value=0]").prop("selected", "selected");
       // $("#DdlAccessId").prepend("<option value='0'>Select</option>");
        $("#DdlAccessId option[value=0]").prop("selected", "selected");
        //$("#DdlSubAccessId").prepend("<option value='0'>Select</option>");
        $("#DdlSubAccessId option[value=0]").prop("selected", "selected");

        $("#DdlActionId").multipleSelect({ selectAll: true, placeHolder: "Select Group" });
        //Accesshange(id);
       $("#DdlSubAccessId").multipleSelect({ selectAll: true, placeHolder: "Select Group" });
        $('.Member').removeAttr('checked');
       $('.ms-choice>span').text('');
        
    }
    function cancelEntry() {

        $("#RightSidebar").empty();
        window.location.href = '@Url.Action("GetUserAccessAction", "UserAccessAction", new { Area = "SuperAdmin" })';
    }


    function checkAccessActionValidation() {
       
        var SubUserType = $('#DdlSubUserType :selected').val(); //$("#DdlSubUserType").val();
        
        var UserType = $("#DdlModulesId").val();

        var UserAccess = $("#DdlAccessId").val();
        var UserAction = $("#DdlActionId").val();
        var subUserAccess = $("#DdlSubAccessId").val();
        var txtOrder = $("#txtOrder").val();
      
        if (UserType == "" || UserType == "0" || UserAccess == "" || UserAccess == "0" || SubUserType == "" || SubUserType == "0" || subUserAccess == "" || subUserAccess == "0" || subUserAccess == null || UserAction == "" || UserAction == "0" || UserAction == null || txtOrder == null || txtOrder == "" || txtOrder == "0") {
            bootbox.alert("All fields are required");
            return false;
        }
        else if (SubUserType != null && SubUserType != "" && SubUserType != "0") {
            var dlg = bootbox.confirm('Are you sure, You want to Submit ? \n If yes so press ok button. ', function (result) {
                if (result) {
                    $.ajax({
                        url: "/SuperAdmin/UserAccessAction/CheckUserAccessAction",
                        type: 'GET',
                        data: {
                            UserType: UserType,
                            UserAccess: UserAccess,
                            UserAction: UserAction,
                            SubUserType: SubUserType
                        },
                        success: function (data) {
                            if (data) {
                                alert("Combination of User Type,USer Access  Already  Exit");
                                return false;
                            }
                            else {
                                $("#NewUSerAccessActionForm").submit();
                                bootbox.alert('Update Successfully');
                                reset();
                                return true;
                            }

                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.responseText);
                            alert(thrownError);
                            location.reload(true);
                        }
                    });
                }
            });
        }

    }



</script>

























