﻿@model SBL.eLegistrator.HouseController.Web.Areas.Admin.Models.UploadMetaViewModel
@{
   
    int count = 0;
}
<div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
    <button class=" btn  btn-sm btn-warning pull-left col-md-offset-1" type="button" id="ExportPDF" onclick="ExportPassListInPDF();">
        <i class="ace-icon fa fa-download white  bigger-150"></i>
        <span class="bigger-110">Download PDF</span>
    </button>
    <button class=" btn  btn-sm btn-danger pull-right col-md-offset-1" type="button" id="ExportExcel" onclick="ExportPassListInExcel();">
        <i class="ace-icon fa fa-download white  bigger-150"></i>
        <span class="bigger-110">Download Excel</span>
    </button>
</div>
<br /><br />
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        @Html.HiddenFor(s => s.PassCategoryID)
        <div class="pass-table table-responsive">
            @if (Model != null)
            {
                if (Model.VisitorDataList.Count > 0)
                {
                       
                <table class="table table-striped table-bordered table-hover dataTable" id="tblpasscountList" aria-describedby="sample-table-2_info">
                    <thead>
                        <tr role="row">
                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">No</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Pass Category</th>

                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Allowed Pass</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Invalid Pass</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Blocked Pass</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Approved Pass</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Requested Pass</th>
                        </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">

                        @foreach (var item in Model.VisitorDataList)
                        {
                            count = count + 1;
                               
                            <tr>
                                <td class="center">
                                    @count
                                </td>

                                <td>
                                    @item.PassCategory

                                </td>
                                <td>
                                    <a data-rel="tooltip"  title="View" onclick="GetPassList('@item.PassCategoryID','ALLOWED');" id="alow"  href="#">@item.AllowPassCount
                                    </a>
                                </td>

                                <td>
                                    <a data-rel="tooltip"  title="View" onclick="GetPassList('@item.PassCategoryID','INVALID');" id="invalid"  href="#">@item.InvalidPassCount
                                    </a>
                                </td>

                                <td>
                                    <a data-rel="tooltip"  title="View" onclick="GetPassList('@item.PassCategoryID','BLOCKED');" id="Blocked"  href="#">@item.BlockedPassCount
                                    </a>
                                </td>
                                <td>
                                    @item.ApprovedPassCount
                                </td>
                                <td>
                                    @item.ApproveRequestedCount
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <!-- PAGE CONTENT ENDS -->
                }
                else
                {
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-info">

                            <strong>There are no Records</strong><br />


                        </div>
                    </div>
                </div>
                }
            }

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script>
    function GetPassList(id, type) {
        debugger;
        var assembly = '@ViewBag.SearchAssembly';
        var session = '@ViewBag.SearchSession';
        var date = '@ViewBag.SessionDate';
        if (id != null && id != "" && assembly != "" && assembly != null && session != "" && session != null && type != "" && type != null && date != "" && date != null) {
            $('#loader-wrapper').show();
            $.ajax({
                url: '/Admin/PassCountList/GetPassList',
                type: 'GET',
                data: {
                    Assembly: assembly,
                    Session: session,
                    id: id,
                    type: type,
                    date: date
                },
                success: function (data) {
                    $('#loader-wrapper').hide();
                    $('#PassListPopupModelDiv').empty();
                    $('#PassListPopupModelDiv').append(data);
                    $('#PassListPopupModel').modal('show');

                },
                error: function (error) {
                    $('#PassListPopupModelDiv').empty();
                    $('#PassListPopupModelDiv').append(data);

                },

                complete: function (result) {
                    $('#loader-wrapper').hide();
                }
            })
        }
    }
    $(document).ready(function () {
        $('#tblpasscountList').dataTable({
            "aLengthMenu": [[50, 100, 200, -1], [50, 100, 200, "All"]],
            "iDisplayLength": 50,
        });

    });


</script>


