﻿@model SBL.eLegistrator.HouseController.Web.Areas.Admin.Models.UploadMetaViewModel
@{
    ViewBag.Title = "GetAllMetaDataFile";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    int count = 0;
}
@Html.Partial("_LeftMenu")
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "PassCountList")">Home</a>
            </li>

            <li>
                <a href="@Url.Action("Index", "PassCountList")">Pass List</a>
            </li>

        </ul>

        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>

    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->

        <div class="row">

            <div class="col-xs-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h4 class="widget-title"></h4>
                        <table id="tblSearchMetaDataFile">
                            <tr>
                                <td>Assembly</td>
                                <td>@Html.DropDownListFor(model => model.AssemblyId, new SelectList(Model.AssemblyList, "AssemblyCode", "AssemblyName", new SelectListItem { Value = "0", Text = "-- Select --" }), new { @class = "col-xs-12 col-sm-7 col-md-6", @onchange = "SearchAssemblyChange()", @id = "SearchassemblyLst", @style = "width:230px;" })</td>
                                <td>Session</td>
                                <td>@Html.DropDownListFor(model => model.SessionId, new SelectList(Model.SessionList, "SessionCode", "SessionName", new SelectListItem { Value = "0", Text = "-- Select --" }), new { @class = "col-xs-12 col-sm-7 col-md-6", @onchange = "SearchSessionChange()", @id = "SearchsessionLst", @style = "width:230px;" })</td>
                                <td>Date</td>
                                <td class="clsdp">@Html.DropDownListFor(model => model.SessionDateId, new SelectList(Model.SessionDateList, "DisplayDate", "DisplayDate", new SelectListItem { Value = "0", Text = "-- Select --" }), new { @class = "col-xs-12 col-sm-7 col-md-6", @id = "SearchsessionDateLst", @onchange = "SearchSessionDateChange(this)", @style = "width:230px;" })</td>
                                <td>
                                    <button type="button" id="btnSearchmeta" class="btn btn-sm btn-purple " onclick="SearchPassList();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        Search</button></td>
                            </tr>
                        </table>

                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="clearfix">

                                <div id="SearchResultDiv">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="alert alert-info">

                                                <strong>There are no Records</strong><br />


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
</div>

<div class="modal" id="PassListPopupModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div id="divlistpop" class="modal-dialog" style="width: 82%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div id="PassListPopupModelMainDiv">
                    <div id="PassListPopupModelDiv">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<style>
    #tblfiles tr td {
        padding: 5px;
        border: 1px solid;
    }

    #tblfiles tr th {
        padding: 5px;
    }

    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }

    #tblSearchMetaDataFile {
        width: 100%;
    }

    .clsdp {
        width: 18%;
        padding: 5px;
    }
</style>




<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>


<script>

    function SearchSessionChange() {
        var assembly = $("#SearchassemblyLst").val();
        var session = $("#SearchsessionLst").val();
        $.ajax({
            url: '/Admin/UploadMetaFile/GetSessionDate',
            type: 'POST',
            data: {
                assembly: assembly,
                session: session

            },
            success: function (data) {
                $("#SearchsessionDateLst").empty();
                $("#SearchsessionDateLst").append("<option value='0'>-- Select --</option>");
                $.each(data, function (index, optiondata) {
                    $("#SearchsessionDateLst").append("<option value='" + optiondata.DisplayDate + "'>" + optiondata.DisplayDate + "</option>");
                });
                //$("#sessionDateLst option[value='0']").prop("selected", "selected");
            }
        })


        $('.ErrorMessage').empty();
        $("#SearchsessionDateLst").css("border", "1px solid green");
    }
    function SearchAssemblyChange() {
        var assembly = $("#SearchassemblyLst").val();
        $.ajax({
            url: '/Admin/UploadMetaFile/GetSessionList',
            type: 'POST',
            data: {
                assembly: assembly
            },
            success: function (data) {
                $("#SearchsessionLst").empty();
                $("#SearchsessionLst").append("<option value='0'>-- Select --</option>");
                $.each(data, function (index, optiondata) {
                    $("#SearchsessionLst").append("<option value='" + optiondata.SessionCode + "'>" + optiondata.SessionName + "</option>");
                });
                // $("#sessionLst option[value='0']").prop("selected", "selected");
            }
        })

        SessionChange();

        $('.ErrorMessage').empty();
        $("#SearchsessionLst").css("border", "1px solid green");
    }


    function SearchPassList() {
        debugger;
        var IsValid = true;
        $('.ErrorMessage').empty();
        if ($('#SearchsessionLst').val() == '0') {
            $('#SearchsessionLst').css("border", "1px solid red");
            $('#SearchsessionLst').after("<span class='ErrorMessage'>Required</span>");
            IsValid = false;
        }
        if ($('#SearchsessionDateLst').val() == '0') {
            $('#SearchsessionDateLst').css("border", "1px solid red");
            $('#SearchsessionDateLst').after("<span class='ErrorMessage'>Required</span>");
            IsValid = false;
        }


        if (IsValid == true) {
            $('#loader-wrapper').show();
            var assembly = $("#SearchassemblyLst").val();
            var session = $("#SearchsessionLst").val();
            var date = $("#SearchsessionDateLst").val();
            $.ajax({
                url: '/Admin/PassCountList/SearchPassCountList',
                type: 'GET',
                data: {
                    Assembly: assembly,
                    Session: session,
                    Date: date
                },
                success: function (data) {
                    $('#loader-wrapper').hide();
                    $('#SearchResultDiv').empty();
                    $('#SearchResultDiv').append(data);

                },
                error: function (error) {
                    $('#SearchResultDiv').empty();
                    $('#SearchResultDiv').append(data);

                },

                complete: function (result) {
                    $('#loader-wrapper').hide();
                }
            })
        }
    }
    function ExportPassListInExcel() {

        $('#loader-wrapper').show();
        var IsValid = true;
        $('.ErrorMessage').empty();
        if ($('#SearchsessionLst').val() == '0') {
            $('#SearchsessionLst').css("border", "1px solid red");
            $('#SearchsessionLst').after("<span class='ErrorMessage'>Required</span>");
            IsValid = false;
        }
        if ($('#SearchsessionDateLst').val() == '0') {
            $('#SearchsessionDateLst').css("border", "1px solid red");
            $('#SearchsessionDateLst').after("<span class='ErrorMessage'>Required</span>");
            IsValid = false;
        }
        if (IsValid == true) {
            $('#loader-wrapper').show();
            var assembly = $("#SearchassemblyLst").val();
            var session = $("#SearchsessionLst").val();
            var date = $("#SearchsessionDateLst").val();
            var ss = "<input type='hidden' name='assembly' value='" + assembly + "' >" +
          "<input type='hidden' name='session' value='" + session + "' >" +
                 "<input type='hidden' name='date' value='" + date + "' >";


            $('body').prepend("<form method='post' action='/Admin/PassCountList/DownloadExcel' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
            $('#tempForm').submit();
            $("tempForm").remove();


            setTimeout(function () {
                $('#loader-wrapper').hide();
            }, 2000);
        }
    }

    function ExportPassListInPDF() {

        $('#loader-wrapper').show();
        var IsValid = true;
        $('.ErrorMessage').empty();
        if ($('#SearchsessionLst').val() == '0') {
            $('#SearchsessionLst').css("border", "1px solid red");
            $('#SearchsessionLst').after("<span class='ErrorMessage'>Required</span>");
            IsValid = false;
        }
        if ($('#SearchsessionDateLst').val() == '0') {
            $('#SearchsessionDateLst').css("border", "1px solid red");
            $('#SearchsessionDateLst').after("<span class='ErrorMessage'>Required</span>");
            IsValid = false;
        }
        if (IsValid == true) {
            $('#loader-wrapper').show();
            var assembly = $("#SearchassemblyLst").val();
            var session = $("#SearchsessionLst").val();
            var date = $("#SearchsessionDateLst").val();
            var ss = "<input type='hidden' name='assembly' value='" + assembly + "' >" +
          "<input type='hidden' name='session' value='" + session + "' >" +
                 "<input type='hidden' name='date' value='" + date + "' >";


            $('body').prepend("<form method='post' action='/Admin/PassCountList/DownloadPDF'  target='posthereonly'  style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
            $('#tempForm').submit();
            $("tempForm").remove();


            setTimeout(function () {
                $('#loader-wrapper').hide();
            }, 2000);
        }
    }



    $(document).ready(function () {

        $("#progress").slideUp();
        $("#progress1").slideUp();
    });


</script>
