﻿
/*anoop*/
.validation_Errors {
    font-weight: bold;
    color: #f00;
}

.BusyLoadingserver {
    margin: 0px;
     padding: 0px; 
     position: fixed; 
     right: 0px; top: 0px; width: 100%; height: 100%;
     z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none;
}
.bsyLodImg {

    position: absolute; top: 30%; left: 45%; color: black; font:bold;
}
.mem-header {
     padding-bottom:5px; font-size:large; text-align:center;
}
.mem-text {
     padding-bottom:3px; font-size:small; text-align:center;
}

