﻿body {
}
/*This Style Sheet Created By Sunil on 02-08-2013 for Question Module*/
.select {
        width: 300px;
    }

.Qtext {
        width: 284px;
    }
.divmargin {
margin-left: 15px;
}

.table-Style{
 width: 97%;
 margin-left: 150px;
}

    .table-Style td:nth-child(even) {
        width:58%
    }

    
    .table-Style td:nth-child(odd) {
        width:20%
    }

/*table simple-table-style*/
.simple-table-style1 {border-top:1px solid #CFCFCF; border-left:1px solid #CFCFCF; border-right:0; border-bottom:0; width:57%; margin-left:15px ; position:relative}
.simple-table-style1 td, .simple-style th {border-right:1px solid #CFCFCF; border-bottom:1px solid #CFCFCF; text-align:left; padding:5px 0; padding-left:0px;}
.simple-table-style1 th {background-color:#dedede; font-size:115%;text-shadow: 0 1px 0 #fff;text-align:left;padding-left:1px;}
.simple-table-style1 tr:nth-child(even) {background: #fff;}
.simple-table-style1 tr:nth-child(odd) {background: #F6F6F6;}


