﻿@model SBL.DomainModel.Models.Notice.tMemberNotice

@*<script src="~/Scripts/knockout-2.2.0.debug.js"></script>*@

<style>
    .txtClass {
        width: 90%;
    }
</style>

@using (Ajax.BeginForm("UpdateQEntry", "NoticeDetails", new AjaxOptions { OnSuccess = "LoginSuccess", HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
{     
    
    <div class="widget-box sblFullScreen">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title">Selected Clubbed Questions >> Update</h4>

            <div class="widget-toolbar">
                <a href="#" data-action="fullscreen" class="red">
                    <i class="ace-icon fa fa-expand bigger-150"></i>
                </a>
            </div>
        </div>

        <div class="widget-body">

            @Html.HiddenFor(m => m.QuestionID, new { @id = "hdnQuestionID" })
            @Html.HiddenFor(m => m.MemIds, new { id = "MultiMemIds" })
            @Html.HiddenFor(m => m.QuesIds, new { id = "MultiQuestIds" })
            @Html.HiddenFor(m => m.MemberId, new { id = "SingleMemId" })
            @Html.HiddenFor(m => m.SessionID, new { id = "SessionId" })
            @Html.HiddenFor(m => m.AssemblyID, new { id = "AssemblyId" })
            @Html.HiddenFor(m => m.DepartmentId, new { id = "DepartmentId" })
            @Html.HiddenFor(m => m.TypistUserId, new { id = "TypistUserId" })
            @Html.HiddenFor(m => m.EventId, new { id = "EventId" })
            @Html.HiddenFor(m => m.OriDiaryFileName, new { id = "OriDiaryFileName" })
            @Html.HiddenFor(m => m.OriDiaryFilePath, new { id = "OriDiaryFilePath" })
            @Html.HiddenFor(m => m.SubInCatchWord, new { id = "SubCatch" })

            @Html.HiddenFor(m => m.AssemblyCode)
            @Html.HiddenFor(m => m.DepartmentId)
            @Html.HiddenFor(m => m.MinistryId)


            <div class="widget-main no-padding-right no-padding-left">
                <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">Diary No</div>

                        <div class="profile-info-value">
                            <span id="spnDiary" class="">
                                @Html.TextBoxFor(m => m.MainDiaryNo, new { @id = "TxtMDiaryNo", @class = "txtClass", @readonly = true, @disabled = true })
                            </span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">Bracketed Diary No</div>

                        <div class="profile-info-value">
                            <span id="spnEventId" class="">
                                @Html.TextBoxFor(m => m.DiaryNo, new { @id = "TxtDiaryNo", @class = "txtClass" })
                            </span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">Asked By</div>

                        <div class="profile-info-value">
                            <span id="spnAskedBy" class="">
                                @Html.TextBoxFor(m => m.MemberName, new { @id = "TxtMemberName", @class = "txtClass" })
                            </span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div style="vertical-align: top;" class="profile-info-name">Title</div>

                        <div class="profile-info-value">
                            <span id="spnTitle" class="">
                                @*@Html.TextAreaFor(m => m.Title, new { @id = "TxtTitle",@class = "Expandable",@style = "width:100%;" })*@
                                @Html.EditorFor(m => m.Title, new { @class = "txtClass", @style = "height:100px" })
                            </span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div style="vertical-align: top;" class="profile-info-name">Details</div>

                        <div class="profile-info-value">
                            <span id="spnDetails" class="">
                                @Html.EditorFor(m => m.Details, new { @class = "txtClass", @tabindex = "11" })
                            </span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div style="vertical-align: top;" class="profile-info-name"></div>

                        <div class="profile-info-value">
                            <span>
                                @if (Model.IsClubbed == null)
                                {                     
                                    <button type="button" class="btn btn-primary" name="submitButton" id="Save" value="Save" style="margin-right: 2%" onclick="return SaveEntry();">
                                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                        Club
                                    </button>
                                    <button type="button" class="btn btn-primary" name="CancelButton" id="Cancel" value="Cancel" onclick="return CancelEntry();">
                                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                        Cancel
                                    </button>
                                             
                                }
                            </span>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
}

<script src="~/Scripts/jquery.alerts.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.timepicker1.js"></script>

<script>
    $(function () {
        $('#TxtTime').timepicker({
            'timeFormat': 'hh:mm tt',
            'onchange': function (time) {
                $('#TxtTime').val(time);
            }
        });
        //'value': new Date(),
        var text = $("#SubCatch").val().replace(/(<([^>]+)>)/ig, "");
        $("#SubCatch").val(text)
    });

    $("textarea#TxtTitle").focus(function () {
        $("textarea#TxtTitle").animate({ height: "150px" }, 100)
    })

    $("textarea#TxtTitle").blur(function () {
        $("textarea#TxtTitle").animate({ height: "100px" }, 100)
    })

    function SaveEntry() {
        //debugger
        var MemIds = document.getElementById("MultiMemIds").value;

        var QuestIDs = document.getElementById("MultiQuestIds").value;

        var SMem = document.getElementById("SingleMemId").value;

        //var Title = document.getElementById("TxtTitle").value;
        var Title = $("#Title").val();
        var Detail = $("#Details").val();

        var SessionId = $("#SessionId").val();

        var AssemblyId = $("#AssemblyId").val();

        var DepartmentId = $("#DepartmentId").val();

        var TypistUserId = $("#TypistUserId").val();

        var EventId = $("#EventId").val();

        //var OriDiaryFileName = $("#OriDiaryFileName").val();

        //var OriDiaryFilePath = $("#OriDiaryFilePath").val();

        var SubCatch = $("#SubCatch").val();

        var MinistryId = $("#MinistryId").val();

        var DiaryNo = document.getElementById("TxtMDiaryNo").value;

        var MId = document.getElementById("hdnQuestionID").value;
        var SDN = $("#TxtDiaryNo").val();

        $.post("/Notices/Clubbed/SaveNewMergeEntry",
           {
               MemIds: MemIds,
               QuestIDs: QuestIDs,
               SMem: SMem,
               Title: Title,
               Details: Detail,
               SessionId: SessionId,
               AssemblyId: AssemblyId,
               DepartmentId: DepartmentId,
               TypistUserId: TypistUserId,
               EventId: EventId,
               //OriDiaryFileName: OriDiaryFileName,
               //OriDiaryFilePath: OriDiaryFilePath,
               SubCatch: SubCatch,
               MinistryId: MinistryId,
               DiaryNo: DiaryNo,
               MId: MId,
               SequenceDiaryN: SDN,
           },
           function (data) {
               alert("Questions Clubbed With Diary No " + data.Msg);
               $("#RightSidebar").html("");
               GetclubbingStarredQuestions()
           });
    }

    function CancelEntry() {

        GetclubbingStarredQuestions();

    }
</script>
