﻿<div class="col-xs-12">

    <div class="messageBox"></div>
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-7 no-padding">
            <div class="row">
                <div class="col-xs-12">
                    <a href="javascript:void(0);" onclick="GetAllStarredQuestions()">
                        <div class="infobox infobox-green">
                            <div class="infobox-icon">
                                <i class="ace-icon fa fa-bookmark"></i>
                            </div>

                            <div class="infobox-data">
                                <span class="infobox-data-number">@Resources.account.Generatesalary</span>
                                <div class="infobox-content">@Resources.PaperLaidDepartment.Questions</div>
                            </div>

                            <!-- #section:pages/dashboard.infobox.stat -->

                            <div class="badge badge-success"></div>


                            <!-- /section:pages/dashboard.infobox.stat -->
                        </div>
                    </a>
                    <a href="javascript:void(0);" onclick="GetAllUnstarredQuestions()">
                        <div class="infobox infobox-blue">
                            <div class="infobox-icon">
                                <i class="ace-icon fa fa-bookmark-o"></i>
                            </div>

                            <div class="infobox-data">
                                <span class="infobox-data-number">@Resources.PaperLaidDepartment.Unstarred</span>
                                <div class="infobox-content">@Resources.PaperLaidDepartment.Questions</div>
                            </div>



                            <div class="badge badge-success"></div>



                        </div>
                    </a>
                    <a href="javascript:void(0);" onclick="GetAllCurrentNotices()">
                        <div class="infobox infobox-pink">
                            <div class="infobox-icon">
                                <i class="ace-icon fa fa-bullhorn"></i>
                            </div>

                            <div class="infobox-data">
                                <span class="infobox-data-number">@Resources.PaperLaidDepartment.Notices</span>
                            </div>

                            <div class="badge badge-success"></div>

                        </div>
                    </a>
                    <a href="javascript:void(0);" onclick="GetAllCurrentBills()">

                        <div class="infobox infobox-red">
                            <div class="infobox-icon">
                                <i class="ace-icon fa fa-edit"></i>
                            </div>

                            <div class="infobox-data">
                                <span class="infobox-data-number">@Resources.PaperLaidDepartment.Bills</span>
                            </div>


                            <div class="badge badge-success"></div>



                        </div>
                    </a>
                    <a href="javascript:void(0);" onclick="GetOtherPaperLaidAllList()">
                        <div class="infobox infobox-pink">
                            <div class="infobox-icon">
                                <i class="ace-icon fa fa-external-link"></i>
                            </div>

                            <div class="infobox-data">
                                <span class="infobox-data-number">@Resources.PaperLaidDepartment.Other</span>
                                <div class="infobox-content">@Resources.PaperLaidDepartment.Paper</div>
                            </div>


                            <div class="badge badge-success"></div>


                        </div>
                    </a>
                </div>
            </div>
            <div class="space-10"></div>
            <div class="vspace-12-sm"></div>
            <div class="row-fluid">
                <div class="widget-box ">
                    <div class="widget-header">
                        <h4 class="widget-title ">

                            @Resources.PaperLaidDepartment.SessionStatus
                        </h4>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main clearfix">
                            <div class="" style="display: block; height: 250px; width: 100%;">

                                <div id="piechart-placeholder" style="width: 90%; min-height: 220px; padding: 0px; position: relative;">
                                    <canvas class="flot-base" width="561" height="220" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 561px; height: 220px;"></canvas>
                                    <canvas class="flot-overlay" width="561" height="220" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 561px; height: 220px;"></canvas>
                                    <div class="legend">
                                        <div style="position: absolute; width: 118px; height: 110px; top: 15px; right: -30px; opacity: 0.85; background-color: rgb(255, 255, 255);"></div>
                                        <table style="position: absolute; top: 15px; right: -30px; font-size: smaller; color: #545454">
                                            <tbody>
                                                <tr>
                                                    <td class="legendColorBox">
                                                        <div style="border: 1px solid null; padding: 1px">
                                                            <div style="width: 4px; height: 0; border: 5px solid #68BC31; overflow: hidden"></div>
                                                        </div>
                                                    </td>
                                                    <td class="legendLabel">@Resources.PaperLaidDepartment.DDStaredQuestions</td>
                                                </tr>
                                                <tr>
                                                    <td class="legendColorBox">
                                                        <div style="border: 1px solid null; padding: 1px">
                                                            <div style="width: 4px; height: 0; border: 5px solid #2091CF; overflow: hidden"></div>
                                                        </div>
                                                    </td>
                                                    <td class="legendLabel">@Resources.PaperLaidDepartment.DDUnStaredQuestions</td>
                                                </tr>
                                                <tr>
                                                    <td class="legendColorBox">
                                                        <div style="border: 1px solid null; padding: 1px">
                                                            <div style="width: 4px; height: 0; border: 5px solid #AF4E96; overflow: hidden"></div>
                                                        </div>
                                                    </td>
                                                    <td class="legendLabel">@Resources.PaperLaidDepartment.Notices</td>
                                                </tr>
                                                <tr>
                                                    <td class="legendColorBox">
                                                        <div style="border: 1px solid null; padding: 1px">
                                                            <div style="width: 4px; height: 0; border: 5px solid #DA5430; overflow: hidden"></div>
                                                        </div>
                                                    </td>
                                                    <td class="legendLabel">@Resources.PaperLaidDepartment.Bills</td>
                                                </tr>
                                                <tr>
                                                    <td class="legendColorBox">
                                                        <div style="border: 1px solid null; padding: 1px">
                                                            <div style="width: 4px; height: 0; border: 5px solid #FEE074; overflow: hidden"></div>
                                                        </div>
                                                    </td>
                                                    <td class="legendLabel">@Resources.PaperLaidDepartment.OtherPapers</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.widget-main -->
                    </div>
                    <!-- /.widget-body -->
                </div>



            </div>

        </div>
        <div class="vspace-12-sm"></div>
        <div class="col-sm-5">
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title lighter smaller">
                        <i class="ace-icon fa fa-comment blue"></i>
                        @Resources.PaperLaidDepartment.Recentactivity
                    </h4>
                    <div class="widget-toolbar">
                        <a data-action="collapse" href="#">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <!-- #section:pages/dashboard.conversations -->
                        <div class="comments ace-scroll" style="position: relative;">
                            <div class="scroll-track" style="display: none;">
                                <div class="scroll-bar"></div>
                            </div>
                            <div class="scroll-content" style="">
                                <div class="scroll-content" style="max-height: 300px;">
                                    <div class="space-4"></div>
                                    <div class="itemdiv commentdiv">
                                        <div class="user">
                                            <img src="~/assets/avatars/avatar2.png" alt="Bob Doe's Avatar">
                                        </div>

                                        <div class="body">
                                            <div class="name">
                                                <a href="#"></a>
                                            </div>

                                            <div class="time">
                                                <i class="ace-icon fa fa-clock-o"></i>
                                                <span class="green" id="clockDiv"></span>
                                            </div>

                                            <div class="text">
                                                <!--<i class="ace-icon fa fa-quote-left"></i>    -->
                                                @Resources.PaperLaidDepartment.Userloggedin
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.widget-main -->
                </div>
                <!-- /.widget-body -->
            </div>
            <div class="widget-box widget-color-green ">
                <div class="widget-header">
                    <h4 class="widget-title lighter smaller">
                        <i class="ace-icon fa fa-comment blue"></i>
                        @Resources.PaperLaidDepartment.Notifications
                    </h4>
                    <div class="widget-toolbar">
                        <a data-action="collapse" href="#">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main ">
                        <!-- #section:pages/dashboard.conversations -->
                        <table style="width: 100%" class="table table-striped  table-hover no-margin-bottom no-border-top">
                            <tbody>
                                <tr>
                                    <th><i class="ace-icon fa fa-bookmark"></i>
                                    </th>
                                    <td>@Resources.PaperLaidDepartment.Newstarredquestionuploaded</td>
                                    <td><span class="badge badge-info"></span></td>
                                </tr>
                                <tr>
                                    <th><i class="ace-icon fa fa-bookmark-o"></i>
                                    </th>
                                    <td>@Resources.PaperLaidDepartment.NewUnstattedquestionuploaded</td>
                                    <td><span class="badge badge-info"></span></td>
                                </tr>
                                <tr>
                                    <th><i class="ace-icon fa fa-bookmark-o"></i>
                                    </th>
                                    <td>@Resources.PaperLaidDepartment.NewNoticesuploaded</td>
                                    <td><span class="badge badge-info"></span></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- /.widget-main -->
                </div>
                <!-- /.widget-body -->
            </div>
        </div>
    </div>

</div>


<script src="~/assets/js/flot/jquery.flot.min.js"></script>
<script src="~/assets/js/flot/jquery.flot.pie.min.js"></script>
<script src="~/assets/js/flot/jquery.flot.resize.min.js"></script>

<script type="text/javascript">
    function clock() {
        var now = new Date();
        var outStr = now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds();
        document.getElementById('clockDiv').innerHTML = outStr;
        setTimeout('clock()', 1000);
    }
    clock();
</script>
<script>
    jQuery(function ($) {

        var SQ = $('#TotalStaredQuestions').val();
        var SUQ = $('#TotalUnstaredQuestions').val();
        var NT = $('#NoticeTotalCount').val();
        var BL = $('#TotalDeptBillsCount').val();
        var OT = $('#TotalDeptBillsCount').val();
        var placeholder = $('#piechart-placeholder').css({ 'width': '90%', 'min-height': '220px' });
        var data = [
          { label: "@Resources.PaperLaidDepartment.DDStaredQuestions", data: SQ, color: "#68BC31" },
          { label: "@Resources.PaperLaidDepartment.DDUnStaredQuestions", data: SUQ, color: "#2091CF" },
          { label: "@Resources.PaperLaidDepartment.Notices", data: NT, color: "#AF4E96" },
          { label: "@Resources.PaperLaidDepartment.Bills", data: BL, color: "#DA5430" },
          { label: "@Resources.PaperLaidDepartment.OtherPapers", data: OT, color: "#FEE074" }
        ]
        function drawPieChart(placeholder, data, position) {
            $.plot(placeholder, data, {
                series: {
                    pie: {
                        show: true,
                        tilt: 0.8,
                        highlight: {
                            opacity: 0.25
                        },
                        label: {
                            show: true
                        },
                        stroke: {
                            color: '#fff',
                            width: 2
                        },
                        startAngle: 2
                    }
                },
                legend: {
                    show: true,
                    position: position || "ne",
                    labelBoxBorderColor: null,
                    margin: [-30, 15]
                }
             ,
                grid: {
                    hoverable: true,
                    clickable: true
                }
            })
        }
        drawPieChart(placeholder, data);

        /**
        we saved the drawing function and the data to redraw with different position later when switching to RTL mode dynamically
        so that's not needed actually.
        */
        placeholder.data('chart', data);
        placeholder.data('draw', drawPieChart);
    });
</script>
