﻿
<div class="widget-box">
    <div class="widget-header widget-header-flat">

        <div class="widget-toolbar no-border">
            <button class="btn btn-xs btn-primary bigger" onclick='CreateNew()'>
                <i class="ace-icon fa fa-pencil-square-o"></i>
                New          
            </button>
        </div>
    </div>
</div>
<div id='fullDetailsModel' class="hide">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <!-- PAGE CONTENT BEGINS -->
        <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
        <input type="hidden" id="SelectedFixNo" name="SelectedFixNo" />
        <div class="pass-table">

            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
               

                <div class="table-header">
                   Modules
                </div>

                <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                    <thead>
                        <tr role="row">

                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">#</th>
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 15%">Action Name</th>
                    
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 20%">Module Name</th>
                     
                              <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 30%">Associated Contact Groups</th>
                              <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 10%"></th>
                        </tr>
                    </thead>

                    
                </table>


            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>
 



<!-- page specific plugin styles -->

<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>

<script src="~/assets/js/jquery.hotkeys.min.js"></script>
@*<script src="~/assets/js/bootstrap-wysiwyg.min.js"></script>*@

<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
 <script src="/assets/js/bootstrap.min.js"></script>







<script>

    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
               { "bSortable": false },
              null, null, null,

              { "bSortable": false }

            ]
        });
    });

    function ContactGroupContactDetails(Id) {
        $.ajax({
            url: "/Admin/SystemModules/PopUp",
            data: {
                Id: Id,

            },
            success: function (data) {
                $('#ShowfullDetailsModel').html("");
                $('#ShowfullDetailsModel').html(data);
                var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-pencil-square-o bigger-130 blue'></i> Contact/s</h4></div>",
                    width: 800,
                    title_html: true,
                    buttons: [
                        {
                            text: "OK",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

            }
        });

    }




    function onSelectRowHandler(rowId) {

        $('.widget-box').show();


        $.ajax({
            url: "/Admin/SystemModules/GetDataByIDfunction",
            type: 'GET',
            data: {
                ModuleId: rowId,
            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data);


                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

    function UpdateTemplate(rowId) {
        $.ajax({
            url: "/Admin/SystemModules/TemplatePopUp",
            data: {
                Id: rowId,

            },
            success: function (data) {
                $('#ShowfullDetailsModel').html("");
                $('#ShowfullDetailsModel').html(data);
                var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-envelope bigger-130 green'></i> Template</h4></div>",
                    width: 900,
                    title_html: true
            ,
                    buttons: [
                        {
                            text: "OK",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $(this).dialog("close");
                            }
                        },
                        //{
                        //    text: "Cancel",
                        //    "class": "btn btn-primary btn-xs",
                        //    click: function () {
                        //        $(this).dialog("close");
                        //    }
                        //}
                    ]
                });
                return false;

            }
        })

    }

    $(function () {

        $('#sidebar-collapse').on('click', function () {
            var parentWidth = $('#resize-left').parent().width();
            if ($('#sidebar').hasClass('menu-min')) {
                parentWidth = parentWidth - 179;
            } else { parentWidth = parentWidth + 175; }

            var remainingSpace = parentWidth - $('#resize-left').outerWidth();
            var divTwo = $('#resize-left').next();
            var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
            divTwo.css('width', divTwoWidth + 'px');

            //alert("ds");
            setTimeout(function () {
                $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
            }, 50);
        });

        $("#resize-left").resizable({
            handles: 'e',
            minWidth: '350',
            maxWidth: '850',
            /*    grid: [ 20, 10 ], */
            resize: function () {
                var remainingSpace = $(this).parent().width() - $(this).outerWidth();
                var divTwo = $(this).next();
                var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
                divTwo.css('width', (divTwoWidth - 20) + 'px');

                $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
            }

        });
    });
    function resizeLeftPanel(sizeRatio) {
        var parentWidth = $('#resize-left').parent().width();
        var sidebarWidth = parseInt((parentWidth * sizeRatio) / 100);
        var left_width = $('#resize-left').outerWidth();
        if (sidebarWidth > left_width) {

            $('#resize-left').animate({ width: '+=' + (sidebarWidth - left_width) + 'px' }, 800);
            $('#resize-right').animate({ width: '-=' + (sidebarWidth - left_width) + 'px' }, 800);

        } else {

            $('#resize-left').animate({ width: '-=' + (left_width - sidebarWidth) + 'px' }, 800);
            $('#resize-right').animate({ width: '+=' + (left_width - sidebarWidth) + 'px' }, 800);

        }

        $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());

    }
</script>
    






                               
   