﻿@model SBL.DomainModel.ComplexModel.RoadPermitViewModel 
 <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- /section:settings.box -->
        <div class="page-header">
            <h1>Road Permit
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Report of Road Permit
                </small>
            </h1>
        </div>
        <div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive ">
                        <table class="table">
                            <tr class="info">
                                <td>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Gazetted">@Resources.MasterDataDashboard.FinancialYear</label>
                                        <div class="col-sm-9 help-block">
                                            @Html.DropDownListFor(model => model.FinancialYear, new SelectList( ViewBag.FinancialYearList,"value","text", ViewBag.CurrFinYearValue), new { @class = "col-xs-10 col-sm-5 RemoveDdlBorder" })
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="form-group">
                                        <button class="btn btn-sm btn-primary btn-bold" id="btnSearch">
                                            <i class="ace-icon fa fa-search bigger-150"></i>
                                            <span class="bigger-110">Search</span>
                                        </button>
                                    </div>

                                </td>
                            </tr>
                        </table>

                        <!-- PAGE CONTENT BEGINS -->

                        <div id="tablecontainer">
                        </div>

                        <!-- /.col -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.page-content -->
    </div>


<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<script type="text/javascript">

    $(document).ready(function () {


        $("#roadPermits").addClass("active open");
        $("#RPermits").addClass("nav-show").css("display", "block");
        $("#reportsPermits").addClass("active");
        $("#permits").removeClass("fa-comment").addClass("fa-comment-o");


    });


    $(document).on('click', '#btnSearch', function (e) {

        var FinacialYear = $('#FinancialYear').val();
        $('.ErrorMessage').remove('');
        var IsValid = true;

        if (FinancialYear == '') {
            $('#FinancialYear').css("border", "1px solid red");
            $('#FinancialYear').after("<span class='ErrorMessage'><br> Financial Year  Required</span>");
            IsValid = false;
        }
        else {

            IsValid = true;
        }

        if (IsValid == true) {
            $.ajax({
                type: "POST",
                url: '/AccountsAdmin/RoadPermit/GetRoadPermitReport',
                data: '{ FinacialYear: "' + FinacialYear + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    debugger;
                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(result.Html);
                },
                error: function (result) {
                    debugger;
                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(result.responseText);
                },

                complete: function (result) {
                    $('#loader-wrapper').hide();
                }
            });
        }
    });

    $(document).on('click', '#Pdf', function () {
        $('#loader-wrapper').show();
        var FinacialYear = $('#FinancialYear').val();
        var ss = "<input type='hidden' name='FinacialYear' value='" + FinacialYear + "' >";
        $('body').prepend("<form method='post' action='/AccountsAdmin/RoadPermit/DownloadRoadPermitReportPdf' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
        $('#tempForm').submit();
        $("tempForm").remove();

        setTimeout(function () {
            $('#loader-wrapper').hide();
        }, 2000);
    });

    $(document).on('click', '#Export', function () {
        $('#loader-wrapper').show();
        var FinacialYear = $('#FinancialYear').val();
        var ss = "<input type='hidden' name='FinacialYear' value='" + FinacialYear + "' >";
        $('body').prepend("<form method='post' action='/AccountsAdmin/RoadPermit/DownloadExcel' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
        $('#tempForm').submit();
        $("tempForm").remove();

        setTimeout(function () {
            $('#loader-wrapper').hide();
        }, 2000);
    });
</script>
