﻿@model SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models.BudgetBillTypeViewModel
<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }

    .datepicker {
        z-index: 1151 !important;
    }
</style>
@Html.HiddenFor(model => model.VBillTypeID)
@Html.HiddenFor(model => model.VMode)
<div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="Object">
            Budget Memorandum Type Name
        </label>
        <div class="col-sm-9 help-block">
             @Html.TextBoxFor(m => m.VTypeName, new { style="width:300px;",placeholder= "Memorandum Type Name" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="Object">
            Is Active
        </label>
        <div class="col-sm-9 help-block">
            @Html.CheckBoxFor(model => model.VIsActive)
        </div>
    </div>
    <div class="form-group">
    </div>
</div>
