﻿@model SBL.eLegistrator.HouseController.Web.Areas.Admin.Models.MemberDetailsModel

@{
    ViewBag.Title = "GetMemberDetailsById";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}



<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
@Html.Partial("_LeftMenu")

<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    @*<div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("tMemberTourList", "Tours")">Admin</a>
            </li>
            <li>
                <a href="@Url.Action("tMemberTourList", "Tours")">Tours</a>
            </li>
           
        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>

    </div>*@

    <div class="page-content">
        @*    <div id="ace-settings-container" class="ace-settings-container">

            <button class="btn  btn-sm btn-success" id="saveandnew">
                <i class="ace-icon fa fa-floppy-o bigger-150"></i>
                <span class="bigger-110">Save &amp; New</span>
            </button>

            <button type="submit" class="btn  btn-sm btn-warning" id="savebtn2">
                <i class="ace-icon fa fa-floppy-o bigger-150"></i>
                <span class="bigger-110">Save</span>
            </button>


            @if (Model.mode != "Add")
            {
                //onclick="javascript:window.location.href='/Admin/Content/DeleteContent/@Model.VContentID';"
                
                <button class="btn  btn-sm btn-danger" onclick="DeleteTourInEdit(this.id)" id="@Url.Action("DeletetMemberTour", "Tours", new { id = @Model.VTourId })" >
                    <i class="ace-icon fa fa-trash-o bigger-150"></i>
                    <span class="bigger-50">Delete</span>
                </button>
            }
            <button class="btn  btn-sm  btn-grey" onclick="javascript:window.location.href='/Admin/Tours/tMemberTourList';">
                <i class="ace-icon fa fa-times bigger-150"></i>
                <span class="bigger-110">Cancel</span>
            </button>



        </div>*@
        <div class="page-header">
            <h1>Admin 
                               
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>

                    <text>  Edit Member Details</text>

                </small>
            </h1>


        </div>

        <!-- /section:settings.box -->

        @*<div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.mode == "Add")
            {
                <h4 class="widget-title lighter">Create Tour </h4>
            }
            else
            {
                <h4 class="widget-title lighter">Edit Tour</h4>
            }

        </div>*@
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">




                            @using (Html.BeginForm("SaveMemberDetails", "Member", FormMethod.Post, new { @class = "form-horizontal", @role = "form", @id = "memberEntryForm" }))
                            { 
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.MemberId)
@*@Html.HiddenFor(model => model)*@
                                @Html.HiddenFor(m => m.MemberCode)
                                    

                                <h4 class="header blue lighter smaller clearfix">Basic details </h4>


                                <div class="tabbable">
                                    <ul id="myTab" class="nav nav-tabs padding-18">
                                        <li class="active">
                                            <a href="#news-english" data-toggle="tab">
                                                <i class="green ace-icon fa fa-home bigger-120"></i>
                                                English
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#news-hindi" data-toggle="tab">
                                                <i class="blue ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                <span class="lang-hi">हिन्दी  </span>

                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content no-border padding-24">
                                        <div class="tab-pane in active" id="news-english">

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="avatar"></label>
                                                @Html.HiddenFor(m => m.ImageFile)
                                                <div class="col-sm-9">
                                                    <img src="@Model.ImageFile" class="padded" height="120" alt="ImageName" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Name">Name  </label>

                                                <div class="col-sm-9 help-block">

                                                    @Html.TextBoxFor(model => model.Name, new { @class = "col-xs-10 col-sm-5", @placeholder = "Name", @autocomplete = "off" })

                                                    @Html.ValidationMessageFor(model => model.Name)

                                                </div>
                                            </div>

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Description </label>
                                                <div class="col-sm-9">
                                                    <div class="clearfix">
                                                        <div class="wysiwyg-editor wysiwyg-style2" id="editor-eng"></div>
                                                    </div>
                                                    @Html.TextAreaFor(model => model.Details, new { @class = "col-xs-10 col-sm-5 hide", @placeholder = "Description", @autocomplete = "off" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        @Html.ValidationMessageFor(model => model.Details)
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-pane" id="news-hindi">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="avatar"></label>
                                                @Html.HiddenFor(m => m.ImageFile)
                                                <div class="col-sm-9">
                                                    <img src="@Model.ImageFile" class="padded" height="120" alt="ImageName" />
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Name">नाम</label>

                                                <div class="col-sm-9 help-block">

                                                    @Html.TextBoxFor(model => model.NameLocal, new { @class = "col-xs-10 col-sm-5", @placeholder = "नाम", @autocomplete = "off" })

                                                    @Html.ValidationMessageFor(model => model.NameLocal)

                                                </div>
                                            </div>



                                        </div>

                                    </div>
                                </div>

                                <h4 class="header blue lighter smaller clearfix">Additional details </h4>

                                    
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Name">Father Name: </label>

                                    <div class="col-sm-9 help-block">

                                        @Html.TextBoxFor(model => model.FatherName, new { @class = "col-xs-10 col-sm-5", @placeholder = "Father Name", @autocomplete = "off" })

                                        @Html.ValidationMessageFor(model => model.FatherName)

                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Name">District : </label>

                                    <div class="col-sm-9 help-block">

                                        @Html.TextBoxFor(model => model.DistrictName, new { @class = "col-xs-10 col-sm-5", @placeholder = "Father Name", @autocomplete = "off" })

                                        @Html.ValidationMessageFor(model => model.DistrictName)

                                    </div>
                                </div>
                                
@*<div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Address">Member District: </label>
                                    <div class="col-sm-9">

                                        @Html.DropDownListFor(model => model.VMemberId, Model.DistrictName, "--Select District--", new { @class = "col-xs-10 col-sm-5" })
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            @Html.ValidationMessageFor(model => model.VMemberId)
                                        </div>
                                    </div>

                                </div>*@
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Name">Member Shimla Address : </label>

                                    <div class="col-sm-9 help-block">

                                        @Html.TextBoxFor(model => model.ShimlaAddress, new { @class = "col-xs-10 col-sm-5", @placeholder = "Member Shimla Address", @autocomplete = "off" })

                                        @Html.ValidationMessageFor(model => model.ShimlaAddress)

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Name">Member Permanent Address : </label>

                                    <div class="col-sm-9 help-block">

                                        @Html.TextBoxFor(model => model.PermanentAddress, new { @class = "col-xs-10 col-sm-5", @placeholder = "Member Permanent Address", @autocomplete = "off" })

                                        @Html.ValidationMessageFor(model => model.PermanentAddress)

                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Name">Member Office Number : </label>

                                    <div class="col-sm-9 help-block">

                                        @Html.TextBoxFor(model => model.TelePhoneOffice, new { @class = "col-xs-10 col-sm-5", @placeholder = "Member Office Number", @autocomplete = "off" })

                                        @Html.ValidationMessageFor(model => model.TelePhoneOffice)

                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Name">Member Residence Number : </label>

                                    <div class="col-sm-9 help-block">

                                        @Html.TextBoxFor(model => model.TelePhoneResidenc, new { @class = "col-xs-10 col-sm-5", @placeholder = "Member Residence Number", @autocomplete = "off" })

                                        @Html.ValidationMessageFor(model => model.TelePhoneResidenc)

                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Name">Member Mobile Number : </label>

                                    <div class="col-sm-9 help-block">

                                        @Html.TextBoxFor(model => model.Mobile, new { @class = "col-xs-10 col-sm-5", @placeholder = "Member Mobile Number", @autocomplete = "off" })

                                        @Html.ValidationMessageFor(model => model.Mobile)

                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Name">Member Email : </label>

                                    <div class="col-sm-9 help-block">

                                        @Html.TextBoxFor(model => model.Email, new { @class = "col-xs-10 col-sm-5", @placeholder = "Member Email", @autocomplete = "off" })

                                        @Html.ValidationMessageFor(model => model.Email)

                                    </div>
                                </div>
@*
                                
                                
                            

                                if (Model.mode == "Edit" && !string.IsNullOrEmpty(Model.VAttachement))
                                {
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="avatar"></label>
                                    @Html.HiddenFor(m => m.VAttachement)
                                    <div class="col-sm-9">
                                        <a id="@Model.ImageLocation" title="Photo Preview" onclick="ImagePriview(this.id);" href="javascript:void(0)" role="button"  data-toggle="modal" >
                                            <img src="@Model.ImageLocation" class="padded" height="120" alt="@Model.VAttachement" /></a>
                                    </div>
                                </div>                                             
                                }
                                
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="avatar">Attachment: </label>

                                    <div class="col-sm-9">

                                        <input type="file" id="Image" name="file" class="col-xs-10 col-sm-5" />
                                        <div class="help-block col-xs-12 col-sm-reset inline">
                                            <span class="field-validation-error" id="filevalidation"></span>
                                        </div>

                                    </div>
                                </div>*@
                                
                               
                                
                                <div class="space-2"></div>@*

                                <h4 class="header blue lighter smaller clearfix">Optional details </h4>*@
                              
                                        
                                <div class="space-2"></div> 
                                <div class="form-group hide">
                                    <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="form-field-tags">Tag input:</label>

                                    <div class="col-xs-12 col-sm-10">
                                        <div class="input-group col-xs-12 col-sm-6 ">
                                            <input type="text" name="tags" class="input-xlarge" id="form-field-tags" value="Tag Input Control" placeholder="Enter tags ..." />
                                        </div>
                                    </div>

                                </div>
                                        
                                <div class="space-2"></div> 
                                <hr />  


                                <div class="btn-group pull-right padding-10">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->

                                    <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        Reset
                                    </button>
                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple ">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        Save</button>



                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>

                            }



                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script src="~/assets/js/jquery.hotkeys.min.js"></script>
<script src="~/assets/js/bootstrap-wysiwyg.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    //function DeleteTourInEdit(url) {

    //    bootbox.confirm("Are you sure to Delete Tour?", function (result) {

    //        if (result) {
    //            window.location.href = url;
    //        }
    //    })

    //}



    $(document).ready(function () {
        $("#News_Title").focus();

        //$('#start_date').datepicker({
        //    autoclose: true,
        //    todayHighlight: true,
        //    format: "dd/mm/yyyy"
        //}).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
        //    $(this).prev().focus();
        //});

        //$('#finish_date').datepicker({
        //    autoclose: true,
        //    todayHighlight: true,
        //    format: "dd/mm/yyyy"
        //}).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
        //    $(this).prev().focus();
        //});
        initEditor();

        //$("#saveandnew").click(function () {
        //    $("#IsCreatNew").val(true);

        //    $("#savebtn").click();
        //});

        //$("#savebtn2").click(function () {

        //    $("#savebtn").click();

        //});


        //$("#tourmain").addClass("active open");
        //$("#toursub").addClass("nav-show").css("display", "block");
        //$("#tourlist").addClass("active");
        // $("#tourlinkid").removeClass("fa-file").addClass("fa-file-o");

    });
    function resetFields() {
        $(".field-validation-error").empty();
        $("#News_Title").focus();

    }


    // var hindata = $("#Details").val();

    var engdata = $("#Details").val();

    $("div#editor-eng").html(engdata);

    // $("div#editor-hin").html(hindata);



</script>

<script>

    $("#savebtn").click(function () {
        var engdata = $("div#editor-eng").html();

        // alert(engdata);
        var hindata = $("div#editor-hin").html();

        // $("#VLocalTourDescription").val(hindata);

        $("#Details").val(engdata);


    });

    //function ImagePriview(obj) {
    //    //var image = $(obj).attr('image');
    //    // var path = '/Images/Gallery/' + obj;
    //    var modalBody = "<img width='598' height='300' src='" + obj + "' />";
    //    $('#modal-body').attr('style', 'padding:20px;width:300px;height:300px;');
    //    $('#modal-body').html(modalBody);


    //    $('#modal').modal('show');
    //}


    //$('#ToursEntryForm').submit(function (e) {

    //    var mode = $('#Mode').val();
    //    var imageValue = $('#Image').val();


    //    if (mode == "Add" && imageValue != '') {

    //        var ext = imageValue.split('.').pop().toLowerCase();
    //        if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {

    //            $('#filevalidation').html('Invalid File Format (.gif, .png, .jpg, .jpeg allowed)');
    //            e.preventDefault();
    //            return false;
    //        }
    //        else {
    //            $('#filevalidation').html('');
    //            return true;
    //        }
    //    }
    //    else if (mode == "Add" && imageValue == '') {

    //        $('#filevalidation').html('Image Required');
    //        e.preventDefault();
    //        return false;
    //    }
    //    else {
    //        var ext = imageValue.split('.').pop().toLowerCase();
    //        if (imageValue != "" && $.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
    //            $('#filevalidation').html('Invalid File Format (.gif, .png, .jpg, .jpeg allowed)');
    //            e.preventDefault();
    //            return false;
    //        }
    //        return true;
    //    }
    //});


    function initEditor() {

        //Code for Edidor

        $('#editor-eng, #editor-hin').ace_wysiwyg({
            toolbar:
            [
                {
                    name: 'font',
                    title: 'Custom tooltip',
                    values: ['Some Font!', 'Arial', 'Verdana', 'Comic Sans MS', 'Custom Font!']
                },
                null,
                {
                    name: 'fontSize',
                    title: 'Custom tooltip',
                    values: { 1: 'Size#1 Text', 2: 'Size#1 Text', 3: 'Size#3 Text', 4: 'Size#4 Text', 5: 'Size#5 Text' }
                },
                null,
                { name: 'bold', title: 'Custom tooltip' },
                { name: 'italic', title: 'Custom tooltip' },
                { name: 'strikethrough', title: 'Custom tooltip' },
                { name: 'underline', title: 'Custom tooltip' },
                null,
                'insertunorderedlist',
                'insertorderedlist',
                'outdent',
                'indent',
                null,
                { name: 'justifyleft' },
                { name: 'justifycenter' },
                { name: 'justifyright' },
                { name: 'justifyfull' },
                null,
                {
                    name: 'createLink',
                    placeholder: 'Custom PlaceHolder Text',
                    button_class: 'btn-purple',
                    button_text: 'Custom TEXT'
                },
                { name: 'unlink' },
                null,
                {
                    name: 'insertImage',
                    placeholder: 'Custom PlaceHolder Text',
                    button_class: 'btn-inverse',
                    //choose_file:false,//hide choose file button
                    button_text: 'Set choose_file:false to hide this',
                    button_insert_class: 'btn-pink',
                    button_insert: 'Insert Image'
                },
                null,
                {
                    name: 'foreColor',
                    title: 'Custom Colors',
                    values: ['red', 'green', 'blue', 'navy', 'orange'],
                    /**
                        You change colors as well
                    */
                },
                /**null,
                {
                    name:'backColor'
                },*/
                null,
                { name: 'undo' },
                { name: 'redo' },
                null,
                'viewSource'
            ],
            //speech_button:false,//hide speech button on chrome

            'wysiwyg': {
                hotKeys: {} //disable hotkeys
            }

        }).prev().addClass('wysiwyg-style2');
    }
</script>

