﻿<div id="breadcrumbs" class="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li id="secondLink">
            Administration Console
        </li>
        <li class="active" id="thirdLink">Budget</li>
    </ul>
    <div class="legAssm">
        <span class="label label-large label-pink arrowed-in-right arrowed">12<sup>th</sup> Legislative Assembly </span>
        <span class="label label-large label-purple arrowed">9<sup>th</sup> Session (Aug 2015)</span>
    </div>
</div>

<script>
    function ChangeBreadCrumbParent(firstText) {
        $("#secondLink").empty();
        var firstlinkHtml = firstText;
        $("#secondLink").html(firstlinkHtml);
        $("#thirdLink").empty();
    }

    function ChangeBreadCrumbChild(secondText) {
        $("#thirdLink").empty();
        var secondlinkHtml = secondText;
        $("#thirdLink").html(secondlinkHtml);
    }

@*    ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp");
    ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");*@

</script>