﻿@model SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.ContituencySchemeEnumsViewModel


@{
    ViewBag.Title = "CreateProgramme";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}
@Html.Action("LeftNavigationMenu", "SuperAdmin")

<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>

<div class="main-content">
    @Html.Partial("_BreadcrumbsPartial")
     <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "ContituencySchemeEnums")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "ContituencySchemeEnums")">Programme Details</a>
            </li>

        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
     @*   <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>*@

    </div>


     <div class="page-content">
     
        <div class="page-header">
            <h1>MasterData                              
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Programme Details  
                </small>
            </h1>


        </div>

        <!-- /section:settings.box -->

        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">CreateWorks</h4>
            }
            else
            {
                <h4 class="widget-title lighter">Edit Works</h4>
            }

        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            @using (Html.BeginForm("SaveProgramme", "ContituencySchemeEnums", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                            { 
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.ProgramID)
                                @Html.HiddenFor(model => model.Mode)

                                @*<h4 class="header blue lighter smaller clearfix">@Resources.MasterDataDashboard.Basicdetails </h4>*@
                                <div class="tabbable">
                                 
                                    <div class="tab-content no-border padding-24">
                                        <div class="tab-pane in active" id="news-english">

                                            


                                             <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">programmeCode</label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.programmeCode, new { @class = "col-xs-10 col-sm-5", @placeholder = "programmeCode", @autocomplete = "off", @maxlength = "31"  })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="deptvalidation"  style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.programmeCode)
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">programmeName</label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.programmeName, new { @class = "col-xs-10 col-sm-5", @placeholder = "programmeName", @autocomplete = "off", @maxlength = "31" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="WorksLocalvalidation"  style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.programmeName)
                                                    </div>
                                                </div>

                                            </div>
                                            

                                             @*<div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">WorkTypeNameLocal </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.WorkTypeNameLocal, new { @class = "col-xs-10 col-sm-5", @placeholder = "WorkTypeNameLocal", @autocomplete = "off", @maxlength = "21" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="WorksLocalvalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.WorkTypeNameLocal)
                                                    </div>
                                                </div>

                                            </div>*@
                                            <div class="space-2"></div>
                                            @*<div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Description</label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.Description, new { @class = "col-xs-10 col-sm-5", @placeholder = "Description", @autocomplete = "off", @maxlength = "41" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="Descriptionvalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.Description)
                                                    </div>
                                                </div>

                                            </div>*@


                                            @*<div class="space-2"></div> 
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.IsActive </label>
                                                <div class="col-sm-9">
                                                   @Html.CheckBoxFor(model => model.IsActive)                                                         
                                                </div>

                                            </div>*@

                                        </div>
                                   
                                    </div>
                                </div>                              
                                <div class="btn-group pull-right padding-10">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->
                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple " onclick="return userValid();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        Save</button>
                                    <button type="button" id="btnReset"  class ="btn btn-sm btn-info" onclick="resetFields();">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        Reset
                                    </button>

                                  
                                     <button type="reset" id="btnback"  class ="btn btn-sm btn-info">
                                        <li class="ace-icon fa fa-times bigger-125"><a href="@Html.ActionLink("Back", "Index", "ContituencySchemeEnums")"></a></li>
                                       @Html.ActionLink("Back", null, null, new { href = Request.UrlReferrer})
                                    </button>
                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>
                            }
                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="../assets/js/jquery.gritter.min.js"></script>
        <script src="../assets/js/jquery.maskedinput.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {

        var assemName, District, ConName;
        assemName = document.getElementById("programmeCode").value;
       // District = document.getElementById("programmeName").value;
        assemName = document.getElementById("programmeCode").value;
        if ((assemName == "" || assemName == null) && (District == "" || District == null)) {
            $("#deptvalidation").html("programmeCode Name  is Required");
            $("#WorksLocalvalidation").html("programmeName Name  is Required");
            return false;
        }
        return true;

    }

    //$(function () {
    //    $('#programmeCode').focus(function () {
    //        $('#WorksLocalvalidation').html("");

    //    });
    //});
    //$(function () {
    //    $('#programmeName').focus(function () {
    //        $('#WorksLocalvalidation').html("");

    //    });
    //});


        //$("#mobiles").addClass("active open");

        //$("#mobilesSub").addClass("nav-show").css("display", "block");

        // $("#mobileAppslist").addClass("active");

        $("#ProgramID").removeClass("fa-comment").addClass("fa-comment-o");

        $("#programmeName").focus();

        $("#btnSave").click(function () {

            Save();

        });

        $("#btnReset").click(function () {

            resetFields();

        });

    });



    function resetFields() {

        $(".field-validation-error").empty();

        $("#programmeName").focus();

        $("#programmeName").val('');

       // $("#WorkTypeNameLocal").val('');

        $("#programmeCode").val('');
    }

</script>