﻿@model List<SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.ContituencySchemeEnumsViewModel>

@{
   // ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    var count1 = 0;
}
@Html.Action("LeftNavigationMenu", "SuperAdmin")

<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
   @Html.Partial("_BreadcrumbsPartial")
     <div class="breadcrumbs" id="breadcrumbs"> 
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "ContituencySchemeEnums")">Home</a>
            </li>

            <li>
                <a href="@Url.Action("Index", "ContituencySchemeEnums")">Programme Details</a>
            </li>
            <li class="active">List</li>
        </ul>

       @* <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>*@

    </div>

   <div class="page-content">
        <!-- #section:settings.box -->


        <!-- /section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
            <button class="btn  btn-sm btn-info" onclick="javascript:window.location.href=' /SuperAdmin/ContituencySchemeEnums/CreateProgramme';">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                <span class="bigger-110">New</span>
            </button>
        </div>
        <div class="page-header">
            <h1>Programme                         
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Programme List
                </small>
            </h1>
        </div>
        <div id="Menu">
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->

                    <div class="pass-table">


                        @if (Model != null)
                        {
                            if (Model.Count() > 0)
                            {       
                                
                            <div class="table-header">
                                <div class="form-group">
                                   

                                </div>
                            </div>             
                            <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                                <thead>
                                    <tr role="row">

                                      <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" onclick="javascript:window.location.href=' SuperAdmin/ContituencySchemeEnums/Index';">SNo</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Programme Code</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Programme Name</th>
                                        @*<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Description</th>*@
                                        
                                        
                                        
                                        <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="Action"></th>
                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                   @foreach (var item in Model)
                                {

                                    count1 = count1 + 1;
                                    <tr>
                                        <td>@count1</td>
                                        <td class="center">
                                            @item.programmeCode
                                        </td>
                                        <td class="center">
                                            @item.programmeName
                                        </td>

                                       @* <td>
                                            @item.WorkTypeNameLocal
                                        </td>*@
                                        

                                            @*<td style="width:30%">@item.Description</td>*@
                                           
                                           
                                            <td class="center" style="width:10%">
                                                <div class="hidden-sm hidden-xs action-buttons">

                                                    @*<a data-rel="tooltip" class="green tooltip-success" title="Edit"  href="@Url.Action("EditHighestQualification", "HighestQualification", new { Id = item.MemberHighestQualificationId })">
                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                    </a>*@

                                                    <a data-rel="tooltip" class="green tooltip-success" title="Edit"  href="@Url.Action("EditProgramme", "ContituencySchemeEnums", new { Id = SBL.eLegistrator.HouseController.Web.Extensions.EncryptionUtility.Encrypt(item.ProgramID.ToString()) })">
                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                    </a>
                                                    <a data-rel="tooltip" class="red tooltip-error DeleteProgramme" title="Delete" id="DeleteProgramme" href="@Url.Action("DeleteProgramme", "ContituencySchemeEnums", new { Id = item.ProgramID})">
                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                    </a>
                                                </div>

                                                <div class="hidden-md hidden-lg">
                                                    <div class="inline position-relative">
                                                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                        </button>

                                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                                                            <li>
                                                                <a  href="@Url.Action("EditProgramme", "ContituencySchemeEnums", new { Id = item.ProgramID })" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                    <span class="green">
                                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                                    </span>
                                                                </a>

                                                            </li>

                                                           <li>
                                                                <a  href="@Url.Action("DeleteProgramme", "ContituencySchemeEnums", new { Id = item.ProgramID })"  class="tooltip-error DeleteProgramme" data-rel="tooltip" title="Delete">
                                                                    <span class="red">
                                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                    </span>
                                                                </a>

                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        
                                        </tr>                                                                
                                    }

                                </tbody>
                                </table>
                           <!-- PAGE CONTENT ENDS -->
                            }
                            else
                            {
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="alert alert-info">

                                        <strong>No Highest Qualification Record Found</strong><br />


                                    </div>
                                </div>
                            </div>
                            }
                        }

                    </div>

                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@

            </div>

            <!-- /section:basics/footer -->
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>

<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>

    <div class="space-6"></div>
</div>


<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    $(document).ready(function () {

       // $("#membermain").addClass("active open");
        //$("#memberssub").addClass("nav-show").css("display", "block");
       // $("#HighestQualificationlist").addClass("active");
        //$("#memberlinkid").removeClass("fa-comment").addClass("fa-comment-o");


    });

    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        .dataTable({
            bAutoWidth: true,
            "aLengthMenu": [[50, 100, 200, 400, -1], [50, 100, 200, 400, "All"]],
            "iDisplayLength": 50,
            "aoColumns": [
              { "bSortable": false },
              null, null,
              { "bSortable": false }
            ]

        });

        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })
    $(".DeleteProgramme").on('click', function (e) {
        e.preventDefault();
        var url = $(this).attr('href');

        bootbox.confirm('@Resources.MasterDataDashboard.Areyousurewanttodelete', function (result) {

            if (result) {
                window.location.href = url;
            }

        })
    });
</script>