﻿@model SBL.DomainModel.Models.Notice.tMemberNotice

<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
<script src="~/Scripts/jquery.alerts.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.timepicker1.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>

<link href="~/Content/MultiSelectList/multiple-select.css" rel="stylesheet" />
<script src="~/Scripts/MultiSelectBox/jquery.multiple.select.js"></script>

<style>
    .txtClass {
        width: 90%;
    }
</style>


@using (Ajax.BeginForm("UpdateQEntry", "NoticeDetails", new AjaxOptions { OnSuccess = "LoginSuccess", HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
{
          <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
    
    <div class="widget-body">
         @Html.HiddenFor(m => m.UserID, new { @id = "hdnUserID" })
        @Html.HiddenFor(m => m.QuestionID, new { @id = "hdnQuestionID" })
        @Html.HiddenFor(m => m.DiaryNo, new { @id = "hdnDiaryNo" })
        @Html.HiddenFor(m => m.QuestionTypeId, new { @id = "hdnQId" })
        <div class="widget-box sblFullScreen">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title">Enter Question Details</h4>
                <div class="widget-toolbar">


                    <a href="#" data-action="fullscreen" class="red">
                        <i class="ace-icon fa fa-expand bigger-150"></i>
                    </a>

                </div>
            </div>

            <div class="widget-main no-padding-right no-padding-left">
                <div class="profile-user-info profile-user-info-striped">
                    <div style="vertical-align: top" class="profile-info-name">Title</div>

                    <div class="profile-info-value">
                        <span id="spnTitle" class="">
                            @Html.EditorFor(m => m.TitleChanger, new { @class = "txtClass" })
                            @*@Html.TextAreaFor(m => m.TitleChanger, new { @id = "TxtTitle", @class = "Expandable", @style = "width:90%;" })*@
                        </span>
                    </div>
                    <div class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Details</div>

                        <div class="profile-info-value">

                            <span id="spnDetails" class="">
                                @Html.EditorFor(m => m.DetailsChanger, new { @class = "txtClass" })
                            </span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Local</div>

                        <div class="profile-info-value">

                            <span>

                                <input id="ChkIsLocal" type="checkbox" checked="@Model.IsHindi"  /></span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">@Resources.Diaries.QuestionPart</div>

                        <div class="profile-info-value">

                            <span>

                                <input id="ChkIsQuesPart" type="checkbox" checked="@Model.IsQuestionInPart" /></span>
                        </div>
                    </div>
					 <div class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">@Resources.Diaries.ConstituencyName</div>

                        <div class="profile-info-value">

                            <span id="spnDetails12" class="">
                                @Html.TextBoxFor(m => m.ConstituencyName, new { @class = "txtClass" })
                            </span>
                        </div>
                    </div>

                     @if (Model.IsClubbed== true)
                    {
                         
                          <div class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Clubbed Members</div>

                        <div class="profile-info-value">

                            <span id="spnDet" class="">
                                @Html.TextAreaFor(m => m.MemberName, new { @class = "txtClass", @readonly = "readonly" })
                            </span>
                        </div>
                    </div>
                         
                         <div class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Arrange Member Sequence</div>

                        <div class="profile-info-value">
                           
                            <span id="spnSee" class="">                            
                                   @Html.DropDownListFor(m => m.MemberId, new SelectList(Model.NewmemberList, "MemberId", "MemberName", 0), new { @id = "DdlMembers", @style = "width:300px" })
     <br />
                    <textarea id="txtBox" style = "width:300px" readonly ></textarea>       
                                                   
 <span id="spn12" class="">    
    <button  onclick="myFunction()" class="btn btn-white btn-default btn-round">
												<i class="ace-icon fa fa-times red2"></i>
												Cancel
											</button>
                                @Html.TextBoxFor(m => m.ReferencedNumberCm, new { @class = "txtClass" ,@id="TxtRids",@style = "display: none;" })
                            </span>
                            </span>
                        </div>
                </div>
                                      
                    }

                    <div class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Arrange Question Sequence</div>

                        <div class="profile-info-value">

                            <span id="spnSequence" class="">
                                @Html.TextBoxFor(m => m.QuestionSequence, new { @class = "txtClass" })
                            </span>
                        </div>
                    </div>

                     @if (Model.RoleName == "Admin")
                     {
                            <div class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Question Type</div>

                        <div class="profile-info-value">
                            <span id="spnLang" class="">                             
                                @Html.DropDownListFor(m => m.QuestionTypeId, new SelectList(
            new List<SelectListItem>
            {   
                new SelectListItem { Selected = false, Text = "Starred", Value ="1"},
                new SelectListItem { Selected = false, Text = "Unstarred", Value = "2"},             
            }, "Value", "Text"), new { @tabindex = "5", @class = "DdlClass",@id="DdlQtype"})
                
                            </span>
                        </div>
                    </div>
                     }
                   
  </div>
            </div>
           


            <div class="profile-info-row">
                <div style="vertical-align: top" class="profile-info-name"></div>

                <div class="profile-info-value">
                       @if (Model.IsTranceLock == true)
                       {

                       }
                       else
                       {
                    <span class="">
                        <button type="button" class="btn btn-primary" name="submitButton" id="Update" value="Update" onclick="return UpdateEntryWithFreeze();">
                            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                            Update
                        </button>
                    </span>
                       }
                </div>
            </div>

          

            @if (Model.RoleName == "Admin")
            {
                
                
                 <div class="profile-info-row">
                <div style="vertical-align: top" class="profile-info-name"></div>

                <div class="profile-info-value">                  
                    <span class="">
                        <button type="button" class="btn btn-primary" name="submitButton" id="Update" value="Update" onclick="return UpdateEntryWithFreeze();">
                            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                            Update
                        </button>
                    </span>
                       
                </div>
            </div>
            }





        </div>
    </div>
       

   
}
 

 
<script>
    $(document).ready(function () {   
        $("#DdlMembers").append("<option value='' selected='true'>Select Members</option>")

    });
    $("#DdlMembers").change(function () {       
        var selectedValue = $(this).val();
        var selectedText = $("#DdlMembers option:selected").text();
        check(selectedValue,selectedText);
    });
    function myFunction() {
        $("#TxtRids").val("");
        $("#txtBox").val("");
    }

    $("#DdlQtype").change(function () {
        var x = $(this).val();
        $('#hdnQId').val(x);
    });
      
 
   
    function check(selectedValue,selectedText) {
        var name = jQuery.trim($("#txtBox").val());
        var Id = jQuery.trim($("#TxtRids").val());
        if ((name.length == 0))
        {
            $("#TxtRids").val(selectedValue);
            $("#txtBox").val(selectedText);        
        }
        else
        {
            $("#TxtRids").val(Id + "," + selectedValue);
            $("#txtBox").val(name + "," + selectedText);
        }
    }
    function UpdateEntryWithFreeze() {
        var userid = document.getElementById("hdnUserID").value;
        var QuestionID = document.getElementById("hdnQuestionID").value;
        var ReferenceMemcode = $('#TxtRids').val(); 
        var ConstituencyNameVal = $('#ConstituencyName').val();
        var Title = $("#TitleChanger").val();
        var Detail = $("#DetailsChanger").val();
        var QuestionSequence = $('#QuestionSequence').val();
        var QType = document.getElementById("hdnQId").value;
        var isquespart;
        if ($("#ChkIsQuesPart").is(':checked')) {
            isquespart = true;
        }
        else {
            isquespart = false;
        }

        var islocal;
        if ($("#ChkIsLocal").is(':checked')) {
            islocal = true;
        }
        else {
            islocal = false;
        }
        $.post(" /Notices/Changer/UpdateContentChanger",
           {
               QuestionID: QuestionID,
               TitleChanger: Title,
               DetailsChanger: Detail,
               IsQuestionInPart: isquespart,
               IsHindi: islocal,
               ConstituencyName: ConstituencyNameVal,
               QuestionSequence: QuestionSequence,
               userid: userid,
               ReferenceMemcode: ReferenceMemcode,
               QuestionType: QType,
           },
           function (data) {
               alert(data);
               GetSessionDates(1);
               $("#RightSidebar").html("");
               $("#FormPart").html("");
               $('.widget-box').hide();

           });
    }


</script>


<style>
    .hidden {
        display: none;
        visibility: hidden;
    }
</style>



