﻿@model SBL.DomainModel.Models.Diaries.DiaryModel

<style>
    .CommonWidth {
        width: 50%;
    }
</style>

<script>
    $(document).ready(function () {
        $("#DdlSessDate").append("<option value='0' selected='true'>Select Date</option>")

        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.get("/Notices/Changer/M_PendingUnstaredQuestion", {
            SDateId: 0,
            ViewBy: "CQ",
        },
        function (data) {
            $("#DivBindGrid").html(data)
            cl.hide();
        });

    });

</script>


@if (Model.SfixCount > 0)
{
    <div class="page-header">
        <h1>For Date Wise Fixed Questions Select Session Date
        </h1>
    </div>

       @Html.HiddenFor(m => m.SignFileName, new { @id = "CQPQ" })
     @Html.HiddenFor(m => m.DeActivateFlag, new { @id = "hdnDeActivate" })
     
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-2"><b>Fixing Date</b></div>
            <div class="col-xs-4">
                @Html.DropDownListFor(m => m.SessionDateId, new SelectList(Model.SessDateList, "Id", "DisplayDate"), new { @id = "DdlSessDate", @tabindex = "1", @Class = "CommonWidth" ,@style = "width:80%" })
            </div>
            <div class="col-xs-2"><b>View By</b></div>
            <div class="col-xs-4">
                @Html.DropDownListFor(m => m.Priority, new SelectList(
            new List<SelectListItem>
            {   new SelectListItem { Selected = true, Text = "Current Question", Value = "CQ"},
                new SelectListItem { Selected = false, Text = "Postpone Question", Value = "PQ"},
            }, "Value", "Text"), new { @id = "DdlViewBy", @tabindex = "5", @class = "DdlClass" })

            </div>

        </div>
    </div>
    <br />@*
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-2"><b></b></div>
            <div class="col-xs-4">
            </div>
            <div class="col-xs-2">
            </div>
            <div class="col-xs-4">
               
                  <button class="btn btn-primary" type="button" id="Div_U" title="Generate & Preview PDF" onclick="GeneratePDFByDate()">
                    Generate & Preview PDF
                </button>
            </div>
        </div>
    </div>
    <br />*@
    <div id="canvasloader-container5" class="canvasloader" style="text-align: center"></div>
    <div class="row">
        <div id="DivBindGrid" class="col-xs-12">
        </div>
    </div>@*
    
    
    <div id="DivSavePDF" style="margin-top: 6px; display: none">
        <button class="btn btn-primary" type="button" id="btnSave" title="Approve Generated PDF" tabindex="7" onclick="ApproveGeneratedPDFByDate('Unstarred')">
            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
            Approve Generated PDF
        </button>
    </div>*@
}
else
{
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-info">
                <strong>No Fixed Question</strong><br />
            </div>
        </div>
    </div>
}

<div id="dialog1-alert" class="hide">
    <p>Please Select Valid Date !</p>
</div>

@*<script src="~/assets/js/jquery-ui.custom.min.js"></script>*@


<script>
    $("#DdlSessDate").change(function () {
        $("#DivSavePDF").css("display", "none")
        var SDId = $("#DdlSessDate").val();
        var VB = $("#DdlViewBy").val();
       // document.getElementById('CQPQ').value = VB;
        $("#CQPQ").val(VB);
        if (SDId != 0) {
            var cl = new CanvasLoader('canvasloader-container5');
            cl.show();
            ///Get Data
            $.get("/Notices/Changer/M_PendingUnstaredQuestion", {
                SDateId: SDId, ViewBy: VB
            }, function (data) {
                $("#DivBindGrid").html(data)
            });
            cl.hide();
        }
        else {
            $("#dialog1-alert").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "Alert!",
                title_html: true,
                buttons: [
                    {
                        html: "&nbsp; Okay",
                        "class": "btn btn-primary",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        }
    })

    $("#DdlViewBy").change(function () {
        $("#DivSavePDF").css("display", "none")
        var SDId = $("#DdlSessDate").val();
        var VB = $("#DdlViewBy").val();
       // document.getElementById('CQPQ').value = VB;
        $("#CQPQ").val(VB);
        var cl = new CanvasLoader('canvasloader-container5');
        cl.show();
        ///Get Data
        $.get("/Notices/Changer/M_PendingUnstaredQuestion", {
            SDateId: SDId, ViewBy: VB
        }, function (data) {
            $("#DivBindGrid").html(data)
        });
        cl.hide();


    })

    function GeneratePDFByDate() {
        var UserId = $("#hdnDeActivate").val();
        //debugger
        var date = $("#DdlSessDate option:selected").text().trim()
        date = date.replace("-", "/");
        date = date.replace("-", "/");
        var VB = $("#DdlViewBy").val();
      
        if ($("#DdlSessDate").val() != 0) {
            var cl = new CanvasLoader('canvasloader-container5');
            cl.show();
            ///Generate Pdf By Fixing Date
            $.get("/Notices/QuestionList/U_GeneratePdfByDate_ByView", {
                Id: date, ViewBy: VB
            }, function (data) {
                if (data.substring(0, 7) == "Success") {
                    if (VB == "CQ") {
                        if (UserId == "b419cb1f-456f-4a01-aeb6-5db8b688d3f7" || UserId.toUpperCase() == "327495A1-70C9-4BC0-9888-E558F66B90FD") {
                            $("#DivSavePDF").css("display", "block")
                        }
                        else {
                            $("#DivSavePDF").css("display", "none")
                        }
                        
                       
                    }
                    else if (VB == "PQ") {
                        if (UserId == "b419cb1f-456f-4a01-aeb6-5db8b688d3f7" || UserId.toUpperCase() == "327495A1-70C9-4BC0-9888-E558F66B90FD") {
                            $("#DivSavePDFPQ").css("display", "block")
                        }
                        else {
                            $("#DivSavePDFPQ").css("display", "none")
                        }
                       
                    }
                    var url = '@Url.Action("GetFileAttachment", "Diaries", new { filepathName = "_FP_", area = "Notices" })';
                    url = url.replace('_FP_', data.substring(7));
                    window.open(url, "_blank");
                }
                cl.hide();
              
            });

        }
        else {
            alert("Please select any Fixing Date !")
        }


    }

    function ApproveGeneratedPDFByDate(tpe) {
        var SDId = $("#DdlSessDate").val();
        var VB = $("#DdlViewBy").val();
        if (SDId != 0) {
            var cl = new CanvasLoader('canvasloader-container5');
            cl.show();

            $.get("/Notices/Changer/ApproveGeneratedPDFByDate", {
                SDateId: SDId,
                PType: tpe,
                ViewBy: VB,
            }, function (data) {
                alert(data)
                if (VB == "CQ") {
                    lockQuestionUnstarred()
                }
                if (VB == "PQ") {
                    lockPostponeQuestionUnstarred()
                }
               
                LoadQuestions()
            });
            cl.hide();
        }
    }



    function lockQuestionUnstarred() {
        var Ids = document.getElementById("CurrentQIDsForlock").value;  
            $.get("/Notices/Changer/lockTranslatorunstarred", {
                Qids: Ids,
            }, function (data) {
             
            });
    }

    function lockPostponeQuestionUnstarred() {
        var Ids = document.getElementById("PostPoneQIDs").value;
        $.get("/Notices/Changer/lockTranslatorunstarred", {
            Qids: Ids,
        }, function (data) {

        });
    }
    function LoadQuestions() {
        var SDId = $("#DdlSessDate").val();
        var VB = $("#DdlViewBy").val();
        if (SDId != 0) {
            var cl = new CanvasLoader('canvasloader-container5');
            cl.show();
            ///Get Data
            $.get("/Notices/Changer/M_PendingUnstaredQuestion", {
                SDateId: SDId, ViewBy: VB
            }, function (data) {
                $("#DivBindGrid").html(data)
            });
            cl.hide();
        }
    }




    function GeneratePDFByDateAdminPdf() {
        //debugger
        var date = $("#DdlSessDate option:selected").text().trim()
        date = date.replace("-", "/");
        date = date.replace("-", "/");
        var VB = $("#DdlViewBy").val();

        if ($("#DdlSessDate").val() != 0) {
            var cl = new CanvasLoader('canvasloader-container5');
            cl.show();
            ///Generate Pdf By Fixing Date
            $.get("/Notices/QuestionList/U_GeneratePdfByDate_ByViewForAdminUnstarredPDf", {
                Id: date, ViewBy: VB
            }, function (data) {
                if (data.substring(0, 7) == "Success") {
                    if (VB == "CQ") {
                        $("#DivSavePDF").css("display", "block")

                    }
                    else if (VB == "PQ") {
                        $("#DivSavePDFPQ").css("display", "block")
                    }
                    var url = '@Url.Action("GetFileAttachment", "Diaries", new { filepathName = "_FP_", area = "Notices" })';
                    url = url.replace('_FP_', data.substring(7));
                    window.open(url, "_blank");
                }
                cl.hide();

            });

        }
        else {
            alert("Please select any Fixing Date !")
        }


    }

</script>


