﻿@model SBL.DomainModel.ComplexModel.TypistQuestionModel

@{
    int count = 0;
}


<div class="row">
    <div class="col-xs-12">

        <!-- PAGE CONTENT BEGINS -->
        @Html.HiddenFor(m => m.CurrentQidsForlock, new { @id = "CurrentQIDsForlock" })
        @Html.HiddenFor(m => m.PostponeQidsForlock, new { @id = "PostPoneQIDsForlock" })
        <div class="pass-table">
            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                @if (Model.tQuestionModel != null)
                {
                    if (Model.tQuestionModel.Count() > 0)
                    {
                    
                    <div class="table-header">
                        Starred Questions
                    </div>
                    
                        if (Model.NoticePath != null && Model.NoticePath != "")
                        {
                    <span><a style="font-weight:900;color:green" href='@Url.Action("GetFileAttachment", "Diaries", new { filepathName = Model.NoticePath, area = "Notices" })' target="_blank">PDF of this Fixing Date is Approved By Secretary, Click here to View</a></span>
                        }
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">
                                <th class="hidden-480 sorting" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">#</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 20%">Diary Number</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 20%">Question Number</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 30%">Asked By</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 15%">Notice Date</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 30%">Subject</th>
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.tQuestionModel)
                            {
                                count = count + 1;
                                string style = (count % 2 == 0) ? "odd" : "even";

                                var trID = item.QuestionID;
                                
                                <tr class="@style" id="@trID" onclick="onSelectRowHandler(this.id);">

                                    <td class="">@count</td>

                                    @{
                                string str = @item.DiaryNumber;
                                    }

                                    <td class="">
                                        @item.DiaryNumber
                                    </td>
                                    <td class="">
                                        @item.QuesNumber @if (item.Flag == "RF")
                                                         {
                                            <b style="margin-left: 15%" class="green">(P)</b>
                                                         }
                                    </td>
                                    <td class="">
                                        @item.MemberName
                                    </td>
                                    <td class="">
                                        @if (item.NoticeDate != null)
                                        {
                                            @Convert.ToDateTime(item.NoticeDate).ToString("dd/MM/yyyy ")@Convert.ToDateTime(item.NoticeTime.ToString()).ToString("hh:mm tt")
                                        }
                                    </td>
                                    <td class="">
                                        @Html.Raw(item.Subject)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                          

                    }
                    else
                    {
                  
                    <div class="col-xs-12">
                        <div class="alert alert-info">
                            <strong>No Question(s) Available</strong>
                            <br />
                        </div>
                    </div>
                   
                    }
                }

                <br />
                @if (Model.RoleName == "VSTranslator")
                {   
                    <div id="MyTestDivCQ">
                        @if (Model.StarredApprovedTrans == true)
                        {
                            <span style="color: green">Question List Sent To Secretary</span> 
                        }
                        else
                        {
                            <table>

                                <tr>
                                    <td>
                                        <div>
                                            <button class="btn btn-primary" type="button" id="Div_S" title="Generate & Preview PDF" onclick="GeneratePDFByDate()">
                                                Generate & Preview PDF
                                            </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div id="DivSavePDF" style="display: none">
                                            <button class="btn btn-primary" type="button" id="btnSave" title="Approve Generated PDF" tabindex="7" onclick="ApproveGeneratedPDFByDate('Starred')">
                                                <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                                Approve Generated PDF
                                            </button>
                                        </div>

                                    </td>
                                </tr>



                            </table>
                        }

                    </div>
                    <div id="MyTestDivPQ">
                        @if (Model.StarredPQApprovedTrans == true)
                        {
                            <span style="color: green">Postpone Question List Sent To Secretary</span> 
                        }
                        else
                        {
                            <table>

                                <tr>
                                    <td>
                                        <div>
                                            <button class="btn btn-primary" type="button" id="Div_S" title="Generate & Preview PDF" onclick="GeneratePDFByDate()">
                                                Generate & Preview PDF
                                            </button>
                                        </div>
                                    </td>
                                    <td>
                                        <div id="DivSavePDFPQ" style="display: none">
                                            <button class="btn btn-primary" type="button" id="btnSave" title="Approve Generated PDF" tabindex="7" onclick="ApproveGeneratedPDFByDate('Starred')">
                                                <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                                Approve Generated PDF
                                            </button>
                                        </div>
                                    </td>
                                </tr>



                            </table>
                        }

                    </div>
                }



                @if (Model.RoleName == "AdminPdfCorner")
                {   
                    <div id="MyTestDivCQ">

                        <table>

                            <tr>
                                <td>
                                    <div>
                                        <button class="btn btn-primary" type="button" id="Div_S" title="Generate & Preview PDF" onclick="GeneratePDFByDateAdminPdf()">
                                            Generate & Preview PDF
                                        </button>
                                    </div>
                                </td>

                            </tr>



                        </table>


                    </div>
                    <div id="MyTestDivPQ">

                        <table>

                            <tr>
                                <td>
                                    <div>
                                        <button class="btn btn-primary" type="button" id="Div_S" title="Generate & Preview PDF" onclick="GeneratePDFByDateAdminPdf()">
                                            Generate & Preview PDF
                                        </button>
                                    </div>
                                </td>

                            </tr>



                        </table>


                    </div>
                }


            </div>


        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>





<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
@*<script src="~/Scripts/jquery-1.7.min.js"></script> *@
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>



<script>

    $(document).ready(function () {

        var VB = $("#DdlViewBy").val();
        if (VB == "CQ") {
            $("#MyTestDivPQ").hide();
            $("#MyTestDivCQ").show();
        }
        if (VB == "PQ") {
            $("#MyTestDivPQ").show();
            $("#MyTestDivCQ").hide();
        }

        //debugger
        if ('@Model.RoleName' == "VSTranslator") {
            if ('@Model.NoticePath' != null && '@Model.NoticePath' != "") {
                document.getElementById("Div_S").style.display = "none"
            }

            else {
                document.getElementById("Div_S").style.display = "block"
            }
        }

    });

    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
               { "bSortable": false },
              null, null, null, null, null
            ]
        });
    });

    function onSelectRowHandler(rowId) {

        // $('.widget-box').show();

        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();
        // $("#loader-wrapper").show();
        $.ajax({
            url: '@Url.Action("GetDataQuestionID", "Changer", new { Area = "Notices" })',
            type: 'GET',
            data: {
                questionID: rowId,
            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data);
                    cl2.hide();
                    //  $("#loader-wrapper").hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

</script>




