﻿@*@model SBL.DomainModel.Models.Notice.tMemberNotice*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />


@*@Html.Hidden("SessionCodeHome", Model.SessionID)
@Html.Hidden("AssemblyCodeHome", Model.AssemblyCode)*@
@Html.Partial( "~/Areas/Admin/Views/Shared/_LeftMenu.cshtml" , new { @area="Admin"})
@*@Html.Action("_LeftMenu", "Shared", new { @area="Admin"})*@

@*<a href="~/Areas/Admin/Views/Shared/_LeftMenu.cshtml">~/Areas/Admin/Views/Shared/_LeftMenu.cshtml</a>*@
<div class="main-content">
@*    @Html.Partial("_ChangerBreadcrumbsPartial")*@
@*        @Html.Partial("_BreadCrumbsPartial")*@
    <div class="page-content">
        <div class="row">



            <div id="outerDiv">
            </div>

            <div class="two-column row" id="innerDiv">

                <div id="resize-left" class="ui-widget-content">
                    <div class="col-xs-12">
                        <div class="row-fluid">

                            <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
                            <div id="divDataContainer">
                            </div>

                        </div>
                    </div>
                </div>

                <div id="resize-right" class="ui-widget-content">
                    <div class="col-xs-12">
                        <div class="row">

                            <div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>
                            @*Modified by sanish 24-07-2014 12:30PM*@
                            

                             

                                <div class="widget-body">
                                    <div class="widget-main">

                                        <div id="RightSidebar" style="width: 100%">
                                        </div>
                                        <div id="FormPart" style="width: 100%; height: 100%">
                                        </div>
                                    </div>
                                </div>


                          




                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="~/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="~/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
<script src="~/Scripts/tinymce/tiny_mce.js"></script>


<script type="text/javascript">

    jQuery(document).ready(function () {
        $("#QuestionModules").addClass("active open");
        $("#QuestionModulesSub").addClass("nav-show").css("display", "block");
        $("#StarredQuestionList").addClass("active");
        $("#QuestionModulesLinkId").removeClass("fa-file").addClass("fa-file-o");
        GetSessionDates();
       
    });


    function ClearControls() {
        $("#RightSidebar").html('');
    }


    function GetSessionDates() {
        debugger;
        $("#loader-wrapper").show();
        // var cl = new CanvasLoader('canvasloader-container1');
        //cl.show();
        // using the same method which is earlier defind for Session date LegislationFixation GetSessionDates
        $.ajaxSetup({ cache: false });

        $.ajax({
            url: "/Notices/Changer/GetStarredfixedQuestionsPDF",
            type: 'GET',
            data: {
                Qtype: 1
            },
            success: function (data) {
                $("#divDataContainer").html(data);
                $("#FormPart").html("");
                $("#loader-wrapper").hide();
                ClearControls();
              
            }
        });
    }



    function GetStartedQuestions() {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("PendingStaredQuestion", "Changer")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#divDataContainer").html(data);
                $("#RightSidebar").html("");
                $("#FormPart").html("");
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("My DashBoard", "GetStartedQuestions()");
                ChangeBreadCrumbChild("Starred Questions", "GetStartedQuestions()");
            }
        });
    }

    function GetUnstartedQuestions() {

        var cl = new CanvasLoader('canvasloader-container1');

        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("PendingUnstaredQuestion", "Changer")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#divDataContainer").html(data);
                $("#RightSidebar").html("");
                $("#FormPart").html("");
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("My DashBoard");
                ChangeBreadCrumbChild("Unstarred Questions", "GetUnstartedQuestions()");

            }
        });
    }



    function GenerateSQList() {

        var cl = new CanvasLoader('canvasloader-container1');

        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("Index", "Questionlist")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#outerDiv").html("");
                $("#outerDiv").hide();
                $("#SuccessDiv").hide();
                document.getElementById("MainDiveThreeTire").style.display = "none"
                document.getElementById("MainDiveTwoTire").style.display = "block";
                $("#divDataContainerTwoTire").empty();
                $("#divDataContainerTwoTire").html(data);
                cl.hide();
            }
        });
    }



</script>


<script>
    $(function () {

        $('#sidebar-collapse').on('click', function () {
            var parentWidth = $('#resize-left').parent().width();
            if ($('#sidebar').hasClass('menu-min')) {
                parentWidth = parentWidth - 179;
            } else { parentWidth = parentWidth + 175; }

            var remainingSpace = parentWidth - $('#resize-left').outerWidth();
            var divTwo = $('#resize-left').next();
            var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
            divTwo.css('width', divTwoWidth + 'px');

            //alert("ds");
            setTimeout(function () {
                $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
            }, 50);
        });

        $("#resize-left").resizable({
            handles: 'e',
            minWidth: '350',
            maxWidth: '850',
            /*    grid: [ 20, 10 ], */
            resize: function () {
                var remainingSpace = $(this).parent().width() - $(this).outerWidth();
                var divTwo = $(this).next();
                var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
                divTwo.css('width', (divTwoWidth - 20) + 'px');

                $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
            }

        });
    });
    function resizeLeftPanel(sizeRatio) {
        var parentWidth = $('#resize-left').parent().width();
        var sidebarWidth = parseInt((parentWidth * sizeRatio) / 100);
        var left_width = $('#resize-left').outerWidth();
        if (sidebarWidth > left_width) {

            $('#resize-left').animate({ width: '+=' + (sidebarWidth - left_width) + 'px' }, 800);
            $('#resize-right').animate({ width: '-=' + (sidebarWidth - left_width) + 'px' }, 800);

        } else {

            $('#resize-left').animate({ width: '-=' + (left_width - sidebarWidth) + 'px' }, 800);
            $('#resize-right').animate({ width: '+=' + (left_width - sidebarWidth) + 'px' }, 800);

        }

        $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());

    }



</script>




