﻿<div class="row col-sm-12">
    <div class="widget-box">
        <div class="widget-header widget-header-flat">
            <h5 class="widget-title">Search Bill</h5>
            <div class="widget-toolbar no-border">
                <select id="BillType" name="BillType" onchange="LoadSubtype(this.value)">
                    <option>-Select-</option>
                    <option>Electricity</option>
                    <option>Phone</option>
                    <option>Water</option>
                </select>
                <select id="SubType" name="SubType" onchange="clear()">
                    <option>-Select-</option>
                </select>
                <button class="btn btn-xs btn-info bigger" onclick="Validate()">
                    <i class="ace-icon fa fa-pencil-square-o"></i>
                    Search
                </button>
                @*<button class="btn" id="gritter-regular">Regular</button>*@
            </div>
        </div>

        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12" style="padding: 0px">
                        <div id="two-column" class="">
                            <div id="resize-left" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 20px;">

                                <div id="divLeftContainer" style="position: absolute; top: 0; height: 20px; width: 100%; display: block;">
                                    <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                                    <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                                        <i id="one" onclick="resizeClick(1)" class="ace-icon fa fa-angle-double-left roundicon"></i>
                                    </div>
                                </div>

                                <div class="row-fluid">
                                    <div class="span12" style="padding: 10px;">
                                        <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
                                        <div class="col-xs-12" style="padding: 0px">
                                            <div id="divDataContainer">

                                                <div id="innerLeftSidebar">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="resize-right" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 21px;">

                                <div id="divRightContainer" style="position: absolute; top: 0; height: 21px; width: 100%; display: block;">
                                    <input type="hidden" id="ChangeStatus" value="false" />
                                    <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                                    <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                                        <i id="two" data-icon2="ace-icon fa fa-angle-double-right" onclick="resizeClick(0)" data-icon1="ace-icon fa fa-angle-double-left" class="ace-icon fa fa-angle-double-right roundicon"></i>
                                    </div>
                                </div>

                                <div class="row-fluid" style="overflow: hidden">
                                    <div class="span12">
                                        <div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>
                                        <div>

                                            <div id="RightSidebar" style="width: 100%; display: none">

                                                <div class="widget-box sblFullScreen">

                                                    <div class="widget-header widget-header-flat">
                                                        <h4 class="widget-title">Billers Basic Info</h4>
                                                        <div class="widget-toolbar">

                                                            <a href="#" data-action="fullscreen" class="red">
                                                                <i class="ace-icon fa fa-expand bigger-150"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="widget-body">
                                                        @using (@Ajax.BeginForm("UpdateBillersIDInfo", "eVidhanEPWBills", FormMethod.Post, new AjaxOptions
                                                    {
                                                        OnSuccess = "OnUpdateSuccess(data)",

                                                        LoadingElementId = "loader-wrapper"
                                                    }, new { @class = "form-horizontal", @role = "form", id = "UpdateBillersID" }))
                                                        {
                                                            <div class="widget-main">

                                                                <div id="innerRightSidebar">
                                                                </div>

                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="HistoryTransactionLIST" style="width: 100%; height: 100%; display: none">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="defaultmsg" style="visibility: hidden">
    <div class="row col-sm-12">

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            <strong>Information!</strong>

            Please Select Criteria and click on Filter Button.
										<br>
        </div>
    </div>
</div>

<!--Create Sale Counter Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="NewBillTransaction" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="SaleCounterModalTitle">New Bill</h4>
            </div>
            @using (@Ajax.BeginForm("SaveNewBillTransaction", "eVidhanEPWBills", FormMethod.Post, new AjaxOptions
                                                    {
                                                        OnSuccess = "OnUpdateNewBillSuccess(data)",

                                                        LoadingElementId = "loader-wrapper"
                                                    }, new { @class = "form-horizontal", @role = "form", id = "UpdateBillersIDyy", enctype = "multipart/form-data" }))
            {
@*<form method="post" id="NewBillIDForm"  action="/AccountsAdmin/eVidhanEPWBills/SaveNewBillTransaction">*@
                <div class="modal-body">
                    <div id="BillIdDIv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="AddNewBillInfo" onclick="BillPsavebtnSubmit()" class="btn btn-primary">Add Details</button>
                </div>
@*</form>*@
            }
        </div>
    </div>
</div>

<div class="modal" id="NewPhoneBillTrans">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="NewPBill">New Entry</h4>
            </div>
            @using (@Ajax.BeginForm("SaveNewBillTransaction", "eVidhanEPWBills", FormMethod.Post, new AjaxOptions
                                                    {
                                                        OnSuccess = "OnNewPhoneBillTSuccess(data)",

                                                        LoadingElementId = "loader-wrapper"
                                                    }, new { @class = "form-horizontal", @role = "form", id = "SaveNewBillTransactionssss", enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <div id="NewPhoneBillTransacViewPage"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="NewPhoneBillTransacButton"  onclick="BillsavebtnSubmit()" class="btn btn-primary">Add Details</button>
                </div>
            }
        </div>
    </div>
</div>


<script src="~/Content/ScriptsUp/jquery.ui.widget.js"></script>
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="~/Scripts/Constituency/myConstituencyWorks.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/assets/js/jquery.gritter.min.js"></script>

<script>
    function NewPhoneBillTSuccess(data) {
        if (data == "Saved") {
            ShowNotification("success", "New Bill Info Saved");
        }
    }

    function LoadSubtype(data) {

        $("#SubType").empty();
        if (data == "Electricity" || data == "Water") {
            $("#SubType").html("<option value='MLA'>MLA</option>").val('MLA');
        } else {
            $("#SubType").append("<option value='Office'>Office/Person</option>").val('Office');
            $("#SubType").append("<option value='Ministers'>Ministers/CPSs</option>").val('Ministers');
        }
    }

    function clear() {
        $("#RightSidebar").css("display", "none");
        $("#HistoryTransactionLIST").empty();
        $("#innerLeftSidebar").empty();
        $("#innerRightSidebar").empty();
    }

    function SearchCriteria() {

        clear();
        var pathurl = '/AccountsAdmin/eVidhanEPWBills/SearchCriteriaForBill';
        var membType = $("#SubType").val();
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                membType: membType
            },
            beforeSend: function () {
                $("#loader-wrapper").show();
            },
            success: function (data) {
                if (data != "error1") {
                    $("#innerLeftSidebar").html("");
                    $("#innerLeftSidebar").html(data);
                    $("#loader-wrapper").hide();
                }
                else {
                    ShowNotification("error", "Please select some Criteria");
                }
            },
            complete: function () {
                $("#loader-wrapper").hide();
            },
        });
    }

    $('#gritter-regular').on(ace.click_event, function () {
        $.gritter.add({
            title: 'This is a regular notice!',
            text: 'This will fade out after a certain amount of time. Vivamus eget tincidunt velit. Cum sociis natoque penatibus et <a href="#" class="blue">magnis dis parturient</a> montes, nascetur ridiculus mus.',
            image: '/avatars/avatar1.png',
            sticky: false,
            time: '',
            class_name: 'gritter-info'//(!$('#gritter-light').get(0).checked ? 'gritter-light' : '')
        });

        return false;
    });

    function OnUpdateSuccess(data) {
        if (data == "Saved")
            ShowNotification("success", "Update successful");
    }
    function OnUpdateNewBillSuccess(data) {
        $('#NewBillTransaction').modal('hide');
        ShowNotification("success", "Update successful");
        transactionHistory(data);
    }
    function OnNewPhoneBillTSuccess(data) {
        $('#NewPhoneBillTrans').modal('hide');
        ShowNotification("success", "Update successful");
        NewUpdateOfPhoneHistoryForID(data);
    }

    function Validate(data) {
        if ($("#SubType").val() == "-Select-") {
            ShowNotification("error", "Please select some Criteria");
            return null;
        }
        else {
            if ($("#BillType").val() == "-Select-") {
                ShowNotification("error", "Please select Bill Type");
                return null;
            }
            else {
                SearchCriteria();
            }
        }
    }
    //$('.date-picker').datepicker({
    //	autoclose: true,
    //	todayHighlight: true
    //})
    //$("#innerLeftSidebar").html("");
    //$("#innerLeftSidebar").html($("#defaultmsg").html());
    //try {
    //	$('.chosen-select').chosen({ allow_single_deselect: true });

    //	$(window).on('resize.chosen', function () {
    //		var w = $('.chosen-select').parent().width();
    //		$('.chosen-select').next().css({ 'width': '100%' });
    //	}).trigger('resize.chosen').trigger("chosen:updated")
    //}
    //catch (error) {
    //}

</script>
