﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV
@using SBL.eLegistrator.HouseController.Web.Utility
@*<script src="~/Scripts/jquery.alerts.js"></script>*@

<script src="~/assets/js/CommonNotify.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<link href="~/Content/bootstrapUp/jquery.fileupload.css" rel="stylesheet" />
@*<script src="~/Content/ScriptsUp/jquery-1.9.1.min.js"></script>
<script src="~/Content/ScriptsUp/jquery.ui.widget.js"></script>*@
<style>
        .footer .footer-inner .footer-content {
        padding-top: 2px;
    }
</style>
@using (Ajax.BeginForm("PaperLaidSubmitt", "NoticePaperLaid", new AjaxOptions { OnSuccess = "onSuccess()", HttpMethod = "POST" }, new { @id = "PaperLaidForm", enctype = "multipart/form-data", @data_ajax = "true" }))

{
    @Html.AntiForgeryToken()

    
    <div id="newNoticeCreate" class="modal">
    </div>
    
    
    <div class="widget-header widget-header-flat">
        <h4 class="widget-title">@Resources.PaperLaidDepartment.NoticeReplyDraft</h4>
    </div>  
    
    <div class="widget-body">
        @Html.HiddenFor(m => m.NoticeID)
          @Html.HiddenFor(m => m.FileName)
        @Html.Hidden("PaperLaidIdFullRecord", @Model.PaperLaidId, new { @id = "PaperLaidId" })
       @Html.HiddenFor(m => m.AssemblyId , new { @id = "AssemblyId" }) 
    @Html.HiddenFor(m => m.SessionId, new { @id = "SessionId" })
        @Html.HiddenFor(m => m.DepartmentId)
        @Html.HiddenFor(m => m.ModuleId, new {@id="ModuleIdd" })
        @Html.HiddenFor(m => m.MobileNo)
        @* @Html.HiddenFor(m => m.NoticeID)*@
        @Html.HiddenFor(m => m.DocFileName)
        @Html.HiddenFor(m => m.tpaperLaidTempId)
        @Html.Hidden("NoticeRecordId", @Model.NoticeID)
        @Html.Hidden("NoticeNumber", @Model.NoticeNumber)

        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.BusinessType </div>

                    <div class="profile-info-value">
                        <span id="spnbussinesstype" class="">
                            @if (Model.PaperLaidId == null || Model.PaperLaidId == 0)
                            {
                                @Html.DropDownListFor(m => m.EventId, new SelectList(Model.mEvents, "EventId", "EventName", 0), new { @id = "DdlCategory", @tabindex = "1", @class = "select-style", style = "width: 85%", @onchange = "callView()", @disabled = true })
                                @Html.HiddenFor(m => m.EventId)
                                    
                            }
                            else
                            {
                                //var eventName = Model.mEvents.Where(m=>m.EventId == Model.EventId).Select(m=>m.EventName).FirstOrDefault();
                                @Html.DropDownListFor(m => m.EventId, new SelectList(Model.mEvents, "EventId", "EventName", 0), new { @id = "DdlCategory", @tabindex = "1", @class = "select-style", style = "width: 85%", @onchange = "callView()", @disabled = true })
                                @Html.HiddenFor(m => m.PaperLaidId)
                                @Html.HiddenFor(m => m.EventId)
                        
                            }
                            @Html.ValidationMessageFor(m => m.EventId, "", new { @id = "eventId", @style = "color:red" })
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Minister </div>

                    <div class="profile-info-value">
                        <span id="spnMinistryId" class="">
                            @Html.DropDownListFor(m => m.MinistryId, new SelectList(Model.mMinisteryMinister, "MinistryId", "MinisterMinistryName", 0), new { @id = "DdlMinistry", @tabindex = "1", @class = "select-style", @style = "width: 85%;",@disabled = true  })
                            @Html.HiddenFor(m => m.MinistryId)
                            @Html.ValidationMessageFor(m => m.MinistryId, "", new { @style = "color:red" })
                        </span>
                    </div>

                </div>



                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.DesiredDateToLaid </div>

                    <div class="profile-info-value">
                        <span id="spnDesiredDate" class="">
                            @Html.DropDownListFor(m => m.DesireLayingDateId, new SelectList(Model.mSessionDates, "Id", "DisplayDate", 0), new { @id = "DdlSessioDates", @tabindex = "1", @class = "select-style", style = "width: 85%" })

                        </span>
                    </div>
                </div>
                <div class="profile-info-row" style="display: none">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Description<b style="color: red">*</b> </div>

                    <div class="profile-info-value">
                        <span id="spnTitle" class="">

                            @Html.Raw(Model.Description)
                            @Html.HiddenFor(m => m.Description)

                            <span class="field-validation-error" id="TitleValidation" style="color: red"></span>
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Title <b style="color: red">*</b></div>

                    <div class="profile-info-value">
                        <span id="spnDescription" class="">
                            @Html.Raw(Model.Title)
                            @Html.HiddenFor(m => m.Title, new { id = "tSubject" })

                            <span class="field-validation-error" id="DescriptionValidation" style="color: red"></span>
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.ProvisionUnderWhich </div>

                    <div class="profile-info-value">
                        <span id="spnProvision" class="">@Html.TextAreaFor(m => m.ProvisionUnderWhich, new { @id = "ProvisionUnderWhich", @style = "width:  99%" })</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Remark </div>

                    <div class="profile-info-value">
                        <span id="spnRemarks" class="">@Html.TextAreaFor(m => m.Remark, new { @id = "Remark", @style = "width:  99%" })</span>
                    </div>
                </div>


                <div class="profile-info-row">

                    <div class="profile-info-name">@Resources.PaperLaidDepartment.MainReplyPDF</div>
                    <div class="profile-info-value">

                        <div class="alert alert-block alert-success">

                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>@Resources.PaperLaidDepartment.Choosefile</span>
                                <input style="font-size: 22px;" id="NoticefilePaerLaid" accept=".pdf" type="file" name="NoticefilePaerLaid">
                            </span>
                            <br />
                            <br />

                            <div style="width: 100%;" id="Noticefileuploadcontant">
                                <div style="width: 100%;">
                                    <span id="removeUploadNotice" onclick="removefileuploadNotice()" class="glyphicon glyphicon-remove" style="color: red; position: relative; float: right;"></span>
                                    <div id="file_nameNotice" class="file_nameNotice"></div>
                                    <div class="file_sizeSup"></div>
                                </div>
                                <div style="width: 100%;">
                                    <div class="show_hide">
                                        <div class="progressNoticeMain" style="height: 10px; width: 400px">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" style="width: 0%;">
                                                <span class="sr-only">0% complete</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                @*</div>*@
                            </div>
                            @if (@Model.FileName != null)
                            {
                                 <a  href="/SecuredFiles/@Model.PaperLaidId,MP"  target="_blank">@Resources.PaperLaidDepartment.PaperVer @Model.FileVersion</a>
                                @*<a href="@Model.FileStructurePath@Model.actualFilePath" target="_blank">@Resources.PaperLaidDepartment.PaperVer @Model.FileVersion</a>*@
                            }
                            <span class="field-validation-error" id="FileValidation" style="color: red"></span>
                            @*</span>*@

                        </div>
                    </div>
                </div>





                <div class="profile-info-row">

                    <div class="profile-info-name">@Resources.PaperLaidDepartment.MainReplyDoc</div>
                    <div class="profile-info-value">

                        <div class="alert alert-block alert-success">

                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>@Resources.PaperLaidDepartment.Choosefile</span>
                                <input style="font-size: 22px;" id="NoticeDocfilePaerLaid" accept="application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" type="file" name="NoticeDocfilePaerLaid">
                            </span>
                            <br />
                            <br />

                            <div style="width: 100%;" id="NoticeDocfileuploadcontant">
                                <div style="width: 100%;">
                                    <span id="removeUploadNoticeDoc" onclick="removefileuploadNoticeDoc()" class="glyphicon glyphicon-remove" style="color: red; position: relative; float: right;"></span>
                                    <div id="file_nameNoticeDoc" class="file_nameNoticeDoc"></div>
                                    <div class="file_sizeSupDoc"></div>
                                </div>
                                <div style="width: 100%;">
                                    <div class="show_hide">
                                        <div class="progressNoticeMainDoc" style="height: 10px; width: 400px">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" style="width: 0%;">
                                                <span class="sr-only">0% complete</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                @*</div>*@
                            </div>
                            @if (@Model.DocFileName != null)
                            {
                                
                               <a  href="/SecuredFiles/@Model.PaperLaidId,MD"  target="_blank">View/Download</a>@*
                                <a href="@Model.FileStructurePath@Model.DocFilePath" target="_blank">@Resources.PaperLaidDepartment.PaperVer @Model.FileVersion</a>*@
                            }
                            <span class="field-validation-error" id="FileValidation" style="color: red"></span>
                            @*</span>*@

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    
    <div class="space-10"></div>
    
                            if (Model.ModuleId == 1)
                            {
    <div class="wizard-actions">
        <button class="btn btn-danger" type="submit" name="submitButton" value="Update" id="Update" onclick="return checkValidation();">
            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
            @Resources.PaperLaidDepartment.Save
        </button>
    </div>
                            }
                            else
                            {
    <div class="wizard-actions">
        @if (Model.PaperLaidId == null || Model.PaperLaidId == 0)
        {
            if (CurrentSession.IsHOD == "True" && CurrentSession.IsHOD != null)
            {
            <button type="submit" class="btn btn-primary" name="submitButton" id="Save" value="Send" onclick="return checkValidation();">
                <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                @Resources.PaperLaidDepartment.AcceptedAndSave

            </button>
            <button type="button" class="btn btn-primary" style="padding-bottom: 1px;" id="OTPRegistration" onclick="NoticeOTPRegistarionReplySave();">
                <i class="acen-icon fa fa-pencil-square-o"></i>
              @Resources.PaperLaidDepartment.TemporaryUserForReply
                                                            
            </button>
            }
            else
            {
            <button class="btn btn-danger" type="button" name="submitButton" id="send" value="Send" onclick="return checkValidation();">
                <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                @Resources.PaperLaidDepartment.Save &amp;@Resources.PaperLaidDepartment.Send
            </button>

            
            <button type="button" class="btn btn-primary" style="padding-bottom: 1px;" id="OTPRegistration" onclick="NoticeOTPRegistarionReplySave();">
                <i class="acen-icon fa fa-pencil-square-o"></i>
              @Resources.PaperLaidDepartment.TemporaryUserForReply
                                                            
            </button>
            }
            <!-- /section:plugins/fuelux.wizard.buttons -->                                                       
        }
        else
        {
            if (CurrentSession.IsHOD == "True" && CurrentSession.IsHOD != null)
            {
            <button class="btn btn-primary" type="submit" name="submitButton" id="Save" title="Send" value="Send" onclick="return checkValidation();">
                <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                @Resources.PaperLaidDepartment.Save
            </button>
            <button type="button" class="btn btn-primary" style="padding-bottom: 1px;" id="OTPRegistration" onclick="NoticeOTPRegistarionReplySave();">
                <i class="acen-icon fa fa-pencil-square-o"></i>
              @Resources.PaperLaidDepartment.TemporaryUserForReply
                                                                            
            </button>
            }
            else
            {
                if(Model.FileVersion==1)
                {
            <button class="btn btn-danger" type="button" name="UpdatesubmitButton" style="padding-bottom: 2px" value="Update Send" id="UpdateSend" onclick="return checkValidationUpdate();">
                <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                @Resources.PaperLaidDepartment.Update &amp;@Resources.PaperLaidDepartment.Send
            </button>
        }
        else{}
            <button type="button" class="btn btn-primary" style="padding-bottom: 1px;" id="OTPRegistration" onclick="NoticeOTPRegistarionReplySave();">
                <i class="acen-icon fa fa-pencil-square-o"></i>
               @Resources.PaperLaidDepartment.TemporaryUserForReply
                                                            
            </button>
            }

        }
    </div>
                            }
    

   
    <div>
    </div>
}

<!-- page specific plugin scripts -->
@*<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

<script>

    $(document).ready(function () {

        $("#loader-wrapper").hide();
        $("#removeUploadNotice").hide();
        $("#removeUploadNoticeDoc").hide();


        $("#NoticefilePaerLaid").click(function (event) {
            $('#NoticefilePaerLaid').fileupload({
                dataType: 'json',
                url: "/PaperLaidDepartment/NoticePaperLaid/UploadNoticeFiles",
                autoUpload: true,
                done: function (e, data) {
                    var sim = setTimeout("hidevalueNotice()", 1000);
                    $('.file_nameNotice').html(data.result.name);
                    $('.file_sizeSup').html(data.result.size);
                }
            }).on('fileuploadprogressall', function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('.progressNoticeMain .progress-bar').css('width', progress + '%');
                $('#removeUploadNotice').css('display', 'block');
            });
        });

       


        $("#NoticeDocfilePaerLaid").click(function (event) {
          
      
            $('#NoticeDocfilePaerLaid').fileupload({
                
                dataType: 'json',
                url: "/PaperLaidDepartment/NoticePaperLaid/UploadNoticeDocFiles",
                autoUpload: true,
                done: function (e, data) {
                    var sim = setTimeout("hidevalueNoticeDoc()", 1000);
                    $('.file_nameNoticeDoc').html(data.result.name);
                    $('.file_sizeSupDoc').html(data.result.size);
                }
            }).on('fileuploadprogressall', function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('.progressNoticeMainDoc .progress-bar').css('width', progress + '%');
                $('#removeUploadNoticeDoc').css('display', 'block');
            });
        });

       
    })



    function hidevalueNoticeDoc() {
        $('.progressNoticeMainDoc .progress-bar').fadeOut(500);
        var sim = setTimeout("hidevalueNoticeDoc()", 3000);
    }

    function hidevalueNotice() {
        $('.progressNoticeMain .progress-bar').fadeOut(500);
        var sim = setTimeout("hidevalueNotice()", 3000);
    }


    function removefileuploadNotice() {
       
        $('.file_nameNotice').html('');
        $('.file_sizeSup').html('');
        $('.progressNoticeMain .progress-bar').css('width', '0%');
        $("#removeUploadNotice").hide();
        $('#Noticefileuploadcontant').css('border', '0px solid rgb(244, 239, 239)');
        $.post("/PaperLaidDepartment/NoticePaperLaid/RemoveMainFiles",
         {
         },
         function (data) {
         });

    }

    function removefileuploadNoticeDoc() {
        $('.file_nameNoticeDoc').html('');
        $('.file_sizeSupDoc').html('');
        $('.progressNoticeMainDoc .progress-bar').css('width', '0%');
        $("#removeUploadNoticeDoc").hide();
        $('#NoticeDocfileuploadcontant').css('border', '0px solid rgb(244, 239, 239)');
        $.post("/PaperLaidDepartment/NoticePaperLaid/RemoveMainFilesDoc",
         {
         },
         function (data) {
         });

    }

    function NoticeOTPRegistarionReplySave() {
  
        var NoticeNumber = $('#NoticeNumber').val();
        var NoticeId = $('#NoticeRecordId').val();
        var NoticeTypeID = $('#tNoticeTypeID').val();
       // var Subject = $('#tSubject').val();
        var Subject = $("#tSubject").val().replace(/(<([^>]+)>)/ig, "");
        $("#tSubject").val(Subject)


        var pathurl = "@Url.Action("OTPRegistarionReplyNotice", "NoticePaperLaid")";
        $("#newNoticeCreate").html("");
        $("#newNoticeCreate").html($("#loader-wrapper").text());
        $("#newNoticeCreate").modal({                    // wire up the actual modal functionality and show the dialog
            "backdrop": "static",
            "keyboard": true,
            "show": true                     // ensure the modal is shown immediately
        });
        $("#loader-wrapper").show();
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                NoticeNumber: NoticeNumber,
                NoticeId: NoticeId,
                NoticeTypeID: NoticeTypeID,
                Subject: Subject
            },
            success: function (data) {
                $("#loader-wrapper").hide();

                $("#newNoticeCreate").html("");
                $("#newNoticeCreate").html(data);

            }
        });
    }


    $("#Title").focus(function () {
        $("#Title").animate({
            height: "150px"
        }, 100, function () { });

    });
    $("#Title").blur(function () {
        $("#Title").animate({
            height: "48px"
        }, 100, function () { });

    });
    $("#Description").focus(function () {
        $("#Description").animate({
            height: "150px"
        }, 100, function () { });

    });
    $("#Description").blur(function () {
        $("#Description").animate({
            height: "48px"
        }, 100, function () { });

    });
    $("#ProvisionUnderWhich").focus(function () {
        $("#ProvisionUnderWhich").animate({
            height: "150px"
        }, 100, function () { });

    });
    $("#ProvisionUnderWhich").blur(function () {
        $("#ProvisionUnderWhich").animate({
            height: "48px"
        }, 100, function () { });

    });
    $("#Remark").focus(function () {
        $("#Remark").animate({
            height: "150px"
        }, 100, function () { });

    });

    $("#Remark").blur(function () {
        $("#Remark").animate({
            height: "48px"
        }, 100, function () { });

    });


    var category = "";




    function checkValidation() {
        var UFileName = $("#filePaerLaid").val();
        var FileUpload = $('#file_nameNotice').text();
        var FileUploadPDF = $('#file_nameNotice').val();
        var FileName = $("#FileName").val();

        var FilePath = $("#FilePath").val();
        var FileVal = $("#filePaerLaid").val();

        if (FileUpload == "") {
            if (FileUploadPDF != "") {
                FileUpload = FileUploadPDF;
            }
        }

        if (FileUpload == "") {            
                var message = "Select main PDF file";
                alert(message);
                return false;          
            
        }

        bootbox.confirm('@Resources.PaperLaidDepartment.Areyousure', function (confresult) {

            if (confresult) {

                $("#PaperLaidForm").submit();
                bootbox.hideAll();
                bootbox.hide();
                $(dlg).modal('hide');
                return false;

            }
            else {
                return true;
            }

        });
    }

    function checkValidationUpdate() {
        var UFileName = $("#filePaerLaid").val();
        var FileUpload = $('#file_nameNotice').text();
        var FileUploadPDF = $('#file_nameNotice').val();
        var FileName = $("#FileName").val();
       
        var FilePath = $("#FilePath").val();
        var FileVal = $("#filePaerLaid").val();

        if (FileUpload == "") {
            if (FileUploadPDF != "") {
                FileUpload = FileUploadPDF;
            }
        }

        if (FileUpload == "") {

            var message = "Select main PDF file";
            alert(message);
            return false;
        }

        bootbox.confirm('@Resources.PaperLaidDepartment.Areyousure', function (confresult) {

            if (confresult) {

                $("#PaperLaidForm").submit();
                bootbox.hideAll();
                bootbox.hide();
                $(dlg).modal('hide');
                return false;

            }
            else {
                return true;
            }

        });
    }



    var file = document.getElementById('NoticefilePaerLaid');
    var DocFile = document.getElementById('NoticeDocfilePaerLaid');

    DocFile.onchange = function (e) {

        var ext = this.value.match(/\.([^\.]+)$/)[1];
        switch (ext) {
            case 'doc':
            case 'docx':

                break;
            default:
                alert("Only Doc/Docx Files are Permitted");
                this.value = '';
        }
    };
    file.onchange = function (e) {
       
        var ext = this.value.match(/\.([^\.]+)$/)[1];
        switch (ext) {
            case 'pdf':
                //case 'bmp':
                //case 'png':
                //case 'tif':
                //alert('allowed');
                break;
            default:
                alert("@Resources.PaperLaidDepartment.PDFPErmitted");
                this.value = '';
        }
    };



    function onSuccess(mod) {

        GetNoticeReplyDraftSendList()
       

        getCount()


    }


@*    function getCount() {


        var pathurl = "@Url.Action("DepartmentDashboard", "PaperLaidDepartment")";
        $.ajax({
            url: pathurl,
            type: 'GET',

            success: function (data) {


                $("#8Draft_Replies").html(data[2]);
                $("#loader-wrapper").hide();
                ShowNotification("success", "Notice Send Successfully .....");
            }
        });
    }*@


    function getCount() {
        //var AssemblyId = document.getElementById("DdlAssembly").value;
        //var SessionId = document.getElementById("DdlSession").value;
        var AssemblyId = $("#AssemblyId").val();

        var SessionId = $("#SessionId").val();

        var pathurl = "@Url.Action("GetNoticeCount", "NoticePaperLaid")";
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                AssemblyId: AssemblyId,
                SessionId: SessionId,
              
            },
            success: function (data) {
              
                $("#8Draft_Replies").html(data.NoticeDraftCount);
                $("#8Reply_Sent").html(data.NoticeSentCount);
                
                $("#loader-wrapper").hide();
                ShowNotification("success", "Notice Send Successfully .....");
            }
        });
    }
</script>
