﻿@model SBL.DomainModel.Models.Notice.tMemberNotice
@using SBL.eLegistrator.HouseController.Web.Utility 


<div class="widget-header widget-header-flat">

       @Html.HiddenFor(m => m.NoticeTypeID, new {id="tNoticeTypeID" })
       @Html.HiddenFor(m => m.AssemblyID , new { @id = "AssemblyId" }) 
       @Html.HiddenFor(m => m.SessionID, new { @id = "SessionId" })
     @Html.HiddenFor(m => m.NoticeReplyPath, new { @id = "OldNoticeTypeID" })
     @Html.HiddenFor(m => m.TypeChangeDate, new { @id = "TypeChangeDate" })
    

     @if (@Model.IsAcknowledgmentDate == null)
     {
           if (CurrentSession.AssemblyId == CurrentSession.SiteSettingsCurrentAssemblyId && CurrentSession.SessionId == CurrentSession.SiteSettingsCurrentSessionId)
        {
   <div id="ackDetails" class="widget-header widget-header-flat" style="background: #fff;">
       
            <button class="btnn btn-xs btn-primary bigger" id="AckId" onclick="AcknowledgementNotice();">
                <i class="acen-icon fa fa-pencil-square-o"></i>
             @Resources.PaperLaidDepartment.AcknowledgementNoticetoviewtheDetails
            </button>
  
   </div>
           }else{
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                <strong>Alert!</strong>
                Documents may not be send for previous session
										<br>
            </div>
           }
     }
    @if (CurrentSession.AssemblyId == CurrentSession.SiteSettingsCurrentAssemblyId && CurrentSession.SessionId == CurrentSession.SiteSettingsCurrentSessionId)
        {
    <div id ="NoticeText">

     @*@if ((Model.NoticeTypeID != 74) && (Model.NoticeTypeID != 75) && (Model.NoticeTypeID != 76))
     {  
         
      *@
        <div class="widget-toolbar no-border">
        <button type="submit" id="replacement" class="btn btn-xs btn-primary bigger" onclick="return ReplyToNoticeByNoticeId();">
            <i class="ace-icon fa fa-pencil-square-o"></i>
         @Resources.PaperLaidDepartment.DDDraftReply  
        </button> 
    </div>

      <div class="widget-toolbar no-border">

          
                        @if (Model.PaperLaidId == null || Model.PaperLaidId == 0)
                        {
                            if (CurrentSession.IsSecretoryId == "True")
                            {
                            <button class="btnn btn-xs btn-primary bigger" id="ChangeDep" onclick="ChangeDepartment();">
                                <i class="acen-icon fa fa-pencil-square-o"></i>
                              @Resources.PaperLaidDepartment.ChangeDepartment
                            </button>
                            }
                        }
                    </div>

      <div class="widget-toolbar no-border" style="padding-bottom: 10px;">

        <button class="btnn btn-xs btn-primary bigger" id="OTPRegistrationNotices" onclick="OTPRegistarionReplyNotice();">
            <i class="acen-icon fa fa-pencil-square-o"></i>
         @Resources.PaperLaidDepartment.TemporaryUserForReply
        </button>

    </div>
         
    @* }
     else
     { 
     }*@

</div>}
    else{
    <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                <strong>Alert!</strong>
                Documents may not be send for previous session
										<br>
            </div>
    }
    </div>
<div id='ChangeDepartment' class="modal">
</div>

<div id='OTPRegistaionReplyNotice' class="modal">
</div>
 <div id ="NoticeTextCut">
@if (null != Model)
{
    
    
    
    <div class="widget-body">
          @Html.Hidden("NoticeRecordId", @Model.NoticeId)
         @Html.Hidden("NoticeNumber", @Model.NoticeNumber)
          @Html.Hidden("BussinessType", @Model.BussinessType)
        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                </div>
                 <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.BusinessType </div>

                    <div class="profile-info-value">
                        <span id="spnuBusssinessType" class="">@Model.BussinessType</span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.NoticeNumber </div>

                    <div class="profile-info-value">
                        <span id="username" class="">@Model.NoticeNumber</span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.AskedBy </div>

                    <div class="profile-info-value">
                        <span> @Html.Raw(@Model.MemberName)</span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Minister </div>

                    <div class="profile-info-value">
                        <span> @Model.MinisterName</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Department </div>

                    <div class="profile-info-value">
                        <span> @Model.DepartmentName</span>
                    </div>
                </div>
               

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Title </div>

                    <div class="profile-info-value">
                        <span> @Html.Raw(@Model.Subject)</span>
                          @Html.HiddenFor(m => m.Subject, new { id = "tSubject" })
                    </div>
                </div>


                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Description </div>

                    <div class="profile-info-value">
                        <span> @Html.Raw(@Model.Notice)</span>
                    </div>
                </div>
                  @if ((Model.NoticeTypeID != 74) && (Model.NoticeTypeID != 75) && (Model.NoticeTypeID != 76))
                  {

                      if (@Model.OriDiaryFileName != null)
                      {
                    
                     <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.EnclosureFile:</div>


                                    <div class="profile-info-value">
                                        
                                    <span>
                                         <a  href="/SecuredFiles/@Model.NoticeId,EN"  target="_blank">@Resources.PaperLaidDepartment.ViewFile</a>
                                     

                                    </span>
                                </div>
                                   
                              
                            </div>
                      }

                      else
                      {
                     <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.EnclosureFile:</div>


                                    <div class="profile-info-value">
                                  
                                    <span>
                                         <a  href="/SecuredFiles/@Model.NoticeId,EN"  target="_blank"></a>

                                    </span>
                                </div>
                                   
                              
                            </div>
                      }
                  }
                  @if (@Model.NoticePdfPath != null)
                  {
                       <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.NoticeasPDF:</div>

                            
                                    <div class="profile-info-value">
                                    <span><a href="@Model.NoticePdfPath" target="_blank">@Resources.PaperLaidDepartment.ViewFile</a></span>
                                </div>
                                   
                              
                            </div>
                  }
                  else
                  {
                       <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.NoticeasPDF:</div>

                           

                                    <div class="profile-info-value">
                                      <span><a href="@Model.NoticePdfPath" target="_blank"></a></span>
                                </div>
                                   
                              
                            </div>
                  }


                 @* <div class="profile-info-row">
                <div class="profile-info-name">@Resources.PaperLaidDepartment.AcknowledgementDate</div>

                <div class="profile-info-value">
                    <span>@Model.AcknowledgmentDateString</span>
                </div>
            </div>*@

                 @if (@Model.NoticeTypeID == 74)
                 {
                <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.CutMotionFile:</div>


                                    <div class="profile-info-value">
                                        
                                    <span>

                                       
                                        <a href="@Model.AttachFileName" target="_blank">@Resources.PaperLaidDepartment.CutMotionFile</a>

                                    </span>
                                </div>
                                   
                              
                            </div>
                 }
                     @if (@Model.NoticeTypeID == 75)
                     {
                <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.CutMotionFile:</div>


                                    <div class="profile-info-value">
                                        
                                    <span>

                                       
                                        <a href="@Model.AttachFileName" target="_blank">@Resources.PaperLaidDepartment.CutMotionFile</a>

                                    </span>
                                </div>
                                   
                              
                            </div>
                     }
                  @if (@Model.NoticeTypeID == 76)
                  {
                <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.CutMotionFile:</div>


                                    <div class="profile-info-value">
                                        
                                    <span>

                                       
                                        <a href="@Model.AttachFileName" target="_blank">@Resources.PaperLaidDepartment.CutMotionFile</a>

                                    </span>
                                </div>
                                   
                              
                            </div>
                  }
                  <div class="profile-info-row">
                    <div class="profile-info-name">Notice Sent By Vidhan Sabha </div>

                    <div class="profile-info-value">
                      
                        <span> @Model.SubmittedDateString</span>
                    </div>
                </div>

                @if (Model.IsTypeChange == true)
                {
                   <div class="profile-info-row">
                    <div class="profile-info-name">Notice Type Change History </div>

                    <div class="profile-info-value">
                      
                        <button class="btnn btn-xs btn-primary bigger" id="HistId" onclick="ViewChangePopUp();">
                <i class="acen-icon fa fa-pencil-square-o"></i>
               View History
            </button>
                    </div>
                </div>
                }
            </div>

            <div class="space-10"></div>

        </div>
    </div>
    
}
else
{
    <div style="border: 1px solid grey;">
        Sorry No Data Found!
    </div>
}

</div>
<script>


    function AcknowledgementNotice() {
        var NoticeId = $('#NoticeRecordId').val();
     
        bootbox.confirm('@Resources.PaperLaidDepartment.AreyousuretoAcknowledgementQuestion', function (confresult) {
            if (confresult) {

                $.ajax({
                    url: "/PaperLaidDepartment/NoticePaperLaid/UpdateAcknowledgementNotice",
                    type: 'GET',
                    data: {
                        NoticeId: NoticeId,

                    },
                    success: function (data) {
                        if (data) {
                            //GetStartedQuestions();
                            $("#loader-wrapper").hide();

                            $("#RightSidebar").html(data)
                            $("#ackDetails").hide();
                            $("#NoticeText").show();
                            $("#NoticeTextCut").show();
                            
                            
                            //
                        } else { alert("error"); }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
        });


    }



    function ChangeDepartment() {

        var NoticeId = $('#NoticeRecordId').val();
        var NoticeNumber = $('#NoticeNumber').val();
        var NoticeTypeID = $('#tNoticeTypeID').val();
        
    

        var pathurl = "@Url.Action("GetChangePaper", "NoticePaperLaid")";
        $("#ChangeDepartment").html("");
        $("#ChangeDepartment").html($("#loader-wrapper").text());
        $("#ChangeDepartment").modal({                    // wire up the actual modal functionality and show the dialog
            "backdrop": "static",
            "keyboard": true,
            "show": true                     // ensure the modal is shown immediately
        });
        $("#loader-wrapper").show();
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                NoticeId: NoticeId,
                NoticeNumber: NoticeNumber,
                NoticeTypeID: NoticeTypeID
            },
            success: function (data) {
                $("#loader-wrapper").hide();
                $("#ChangeDepartment").html("");
                $("#ChangeDepartment").html(data);

            }
        });
    }


    function OTPRegistarionReplyNotice() {

        var NoticeNumber = $('#NoticeNumber').val();
        var NoticeId = $('#NoticeRecordId').val();
        var NoticeTypeID = $('#tNoticeTypeID').val();
     
        var Subject = $("#tSubject").val().replace(/(<([^>]+)>)/ig, "");
        $("#tSubject").val(Subject)

        var pathurl = "@Url.Action("OTPRegistarionReplyNotice", "NoticePaperLaid")";
        $("#OTPRegistaionReplyNotice").html("");
        $("#OTPRegistaionReplyNotice").html($("#loader-wrapper").text());
        $("#OTPRegistaionReplyNotice").modal({                    // wire up the actual modal functionality and show the dialog
            "backdrop": "static",
            "keyboard": true,
            "show": true                     // ensure the modal is shown immediately
        });
        $("#loader-wrapper").show();
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                NoticeNumber: NoticeNumber,
                NoticeId: NoticeId,
                NoticeTypeID: NoticeTypeID,
                Subject: Subject
            },
            success: function (data) {
                $("#loader-wrapper").hide();
                $("#OTPRegistaionReplyNotice").html("");
                $("#OTPRegistaionReplyNotice").html(data);

            }
        });
    }


    function ReplyToNoticeByNoticeId() {
     
      
        var sessionId = $("#SessionId").val();
        var assemblyId = $("#AssemblyId").val();
        $("#loader-wrapper").show();
        
        var value = $('#NoticeRecordId').val();
        $.ajax({
            url: "/PaperLaidDepartment/NoticePaperLaid/CreateNewNoticeReply",
            type: 'GET',
            data: {
                noticeId: value,
                sessionId: sessionId,
                assemblyId: assemblyId,
                ModuleId: 0,
                MobileNumber: 0000000000,
            },
            cache: false,
            success: function (data) {
                if (data) {
                   
                    $("#loader-wrapper").hide();
                    $("#RightSidebar").empty();
                    $("#RightSidebar").html(data);
                    

                } else { alert("error"); }
            },

            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }


    function ReplaceDetails() {
        var value = $('#PaperLaidFullRecord').val();
        

        $.ajax({
            url: "/PaperLaidDepartment/Billpaperlaid/ShowPaperLaidDetailByID",
            type: 'GET',
            data: {
                paperLaidId: value
            },
            cache: false,
            success: function (data) {
                if (data) {
                    $("#RightSidebar").empty();
                    $("#RightSidebar").html(data)
                } else { alert("error"); }
            },

            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    function ViewChangePopUp() {
        var NoticeNumber = $('#NoticeNumber').val();
        var BussinessType = $('#BussinessType').val();
        var OldNoticeTypeID = $('#OldNoticeTypeID').val();
        var TypeChangeDate = $('#TypeChangeDate').val();
        var pathurl = "@Url.Action("HistoryPop", "NoticePaperLaid")";
         $("#ChangeDepartment").html("");
         $("#ChangeDepartment").modal({                    // wire up the actual modal functionality and show the dialog
             "backdrop": "static",
             "keyboard": true,
             "show": true                     // ensure the modal is shown immediately
         });
         $("#loader-wrapper").show();
         $.ajax({
             url: pathurl,
             type: 'GET',
             data: {

                 NoticeNumber: NoticeNumber,
                 BussinessType:BussinessType,
                 OldNoticeTypeID:OldNoticeTypeID,
                 TypeChangeDate:TypeChangeDate

             },
             success: function (data) {
                 $("#loader-wrapper").hide();
                 $("#ChangeDepartment").html("");
                 $("#ChangeDepartment").html(data);

             }
         });
     }
</script>
