﻿@model IEnumerable<SBL.DomainModel.ComplexModel.memberWiseQuestionList>
@{int count = 0;
  int k = 0;
  string mailIDS = "";}
<div class="modal-dialog"style="width:1000px;">
	<div class="modal-content" >
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" >&times;</button>
			<h4 class="blue bigger">@Html.Raw(ViewBag.Heading)</h4>
		</div>
     @using (Html.BeginForm("Export", "Report", FormMethod.Post))
    {
        <input type="hidden" name="GridHtml"/>
        <input type="submit" id="btnSubmit" value="Export"/>
    }
		<div class="modal-body">
<div class="pass-table"  id="divid">

	<div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">

		<table class="table table-striped table-bordered table-hover dataTable leftaligntable" id="sample-table-2" aria-describedby="sample-table-2_info">
			<thead>
				<tr role="row">

					<th style="border: 1px solid #000000;" class=" sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">#</th>
					
					<th style="border: 1px solid #000000;" class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Department</th>
					<th style="border: 1px solid #000000;" class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Constituency </th>
					<th style="border: 1px solid #000000;" class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Notice</th>
					<th style="border: 1px solid #000000;" class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Minister</th>
					<th style="border: 1px solid #000000;" class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">subject</th>
					<th style="border: 1px solid #000000;" class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Notice</th>
                    <th style="border: 1px solid #000000;" class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Received Time</th>
                    <th style="border: 1px solid #000000;" class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Member Name</th>
				    <th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">View</th>
				</tr>
			</thead>

			<tbody role="alert" aria-live="polite" aria-relevant="all">
				@if (Model != null)
				{
					foreach (var item in Model)
					{

						count = count + 1;
						string style = (count % 2 == 0) ? "odd" : "even";

						//  var trID = item.SystemModuleID;

					<tr style="border: 1px solid #000000;" class="@style"id="@count">
						<!-- <tr class="" id="" onclick="">-->
						<td style="border: 1px solid #ccc;"class="">@count</td>
						
						<td style="border: 1px solid #000000;" class="">@item.DepartmentID</td>
						<td style="border: 1px solid #000000;" class="">@item.ConstituencyName</td>
						<td style="border: 1px solid #000000;" class="">@item.noticeNumber</td>
						<td style="border: 1px solid #000000;" class="">@item.Minister</td>
						<td style="border: 1px solid #000000;" class="">@Html.Raw(item.subject)</td>
						<td style="border: 1px solid #000000;" class="">@item.NoticeRecievedDate</td>
                        <td style="border: 1px solid #000000;" class="">@item.ReceivedTime </td>
                        <td style="border: 1px solid #000000;" class="">@item.MemberName</td>
						<td style="border: 1px solid #000000;" class="">
							@{
           if (item.DepartmentID != "")
       {
							<a href='@item.filePath' target="_blank"><span class="label label-sm label-primary arrowed arrowed-right">View Attachment</span> </a>
       }
       
       else 
       {
           <a ><span class="label label-sm label-primary arrowed arrowed-right">No Attachment</span> </a>
       }
}

						</td>
					</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>
			</div>
		<div class="modal-footer">
			<button class="btn btn-sm" data-dismiss="modal" >
				<i class="ace-icon fa fa-times"></i>
				Close
			</button>

			
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		var oTable1 =
		 $('#sample-table-2')
		 .dataTable();
	  //  oTable1.detach();
		tableinit();
	   
	});
	function tableinit() {
		var oTable1 =
		 $('#sample-table-2')
		 .dataTable({
			 "bDestroy": true,
			 bAutoWidth: true,
			 "bPaginate": true,
			 bFilter: true, bInfo: true
		 });

	}
	
	

	</script>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            $("input[name='GridHtml']").val($("#divid").html());
        });
    });
    </script>