﻿@using SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models
@model  List<SBL.DomainModel.Models.Budget.mMedicalTestCharge>

<div class="row">
            <div class="two-column" id="innerDiv">
                <div class=" col-md-6 ">
                    <div id="resize-left" class="ui-widget-content" style="width:100%;">
                      
                            <div class="row">
								<div class="col-xs-12">
                                    <div class="widget-box">
			                            <div class="widget-header">
                                            <h4 class="widget-title">
                                   Medical  Test Charge
                                            </h4>
                                            
                                            <div class="widget-toolbar no-border">
                                                <button class="btn btn-xs btn-primary bigger" onclick="PoplateTestCharge(0,'Add');">
                                                    <i class="ace-icon fa fa-pencil-square-o"></i>
                                               Add Medical   Test Charge
                                                </button>
                                            </div>
			                            </div>
			                            <div class="widget-body">
				                            <div class="widget-main">
					                            <div class="clearfix">
                                                <div class="table-responsive">
									                <div id="divTestChargeDataContainer">
                                        @{Html.RenderPartial("~/Areas/AccountsAdmin/Views/MedicalTestCharge/_MedicalTestChargeList.cshtml", Model);}
                                    </div>
                                                </div>
				                            </div>
			                            </div>
		                            </div>
								</div>
                            </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-5">
            <div id="resize-right" style="width:100%; display:none;" class="ui-widget-content">
                <div class="widget-box sblFullScreen" >
                     <div class="widget-header widget-header-flat">
                        <h4 class="widget-title">Submit  Test Charge</h4>
                        <div class="widget-toolbar">
                            <a href="#" data-action="fullscreen" class="red"> <i class="ace-icon fa fa-expand bigger-150"></i> </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div id="RightSidebar" style="width: 100%";>
                                
                            </div>
                            <div id="TestChargeDataDiv" style="width:100%;height:100%">

                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $('#resize-right').hide();
    });



    function PoplateTestCharge(Id, Action) {
        $("#tblTestChargeDetails tr").css('background-color', 'white')
        $('#Row-' + Id).css('background-color', '#ffb752 ')

        var PageSize = $("#PazeSize").val();
        var pageId = $("#pageId").val();
        $.ajax({
            type: "POST",
            url: '/MedicalTestCharge/PopulateMedTestCharge',
            data: '{ Id: "' + Id + '",Action: "' + Action + '", pageId: "' + pageId + '",pageSize: "' + PageSize + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#TestChargeDataDiv').empty();
                $('#TestChargeDataDiv').append(result);
                $('#resize-right').show();
            },
            error: function (error) {
                $('#TestChargeDataDiv').empty();
                $('#TestChargeDataDiv').append(error.responseText);
                $('#resize-right').show();

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }


    function DeleteTestCharge(BillId) {
        var PageSize = $("#PazeSize").val();
        var pageId = $("#pageId").val();
        $.ajax({
            type: "POST",
            url: '/MedicalTestCharge/DeleteMedTestCharge',
            data: '{ Id: "' + BillId + '",pageId: "' + pageId + '",pageSize: "' + PageSize + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divTestChargeDataContainer').empty();
                $('#divTestChargeDataContainer').append(result);

            },
            error: function (result) {
                $('#divTestChargeDataContainer').empty();
                $('#divTestChargeDataContainer').append(result.responseText);
            },
            complete: function (result) {
                $('#loader-wrapper').hide();
            }
        });
    }

    function UpdateTestCharge() {

        $('.ErrorMessage').remove('');
        var IsValid = true;
        var TestChargeName = $('#TestChargeName-1').val();
        var Price = $('#Price-1').val();
        var MeidicineType = $('#Category').val();
        if (TestChargeName == '') {
            $('#TestChargeName-1').css("border", "1px solid red");
            $('#TestChargeName-1').after("<span class='ErrorMessage'>Test Name  Required</span>");
            IsValid = false;
        }

        if (Price == '') {
            $('#Price-1').css("border", "1px solid red");
            $('#Price-1').after("<span class='ErrorMessage'>Price  Required</span>");
            IsValid = false;
        }

        if (IsValid == true) {

            var QData = $('#TestChargeForm').serialize();
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '/MedicalTestCharge/SaveMedTestCharge',
                data: QData,
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    if (result.indexOf("This TestCharge is already ") > -1) {
                        $('#TestChargeExistSpan').show();
                    }
                    else {
                        $('#divTestChargeDataContainer').empty();
                        $('#divTestChargeDataContainer').append(result);
                        $('#TestChargeDataDiv').empty();
                        $('#resize-right').hide();
                        $('#TestChargeExistSpan').hide();
                    }
                },
                error: function (result) {
                    if (result.responseText.indexOf("This TestCharge is already ") > -1) {
                        $('#TestChargeExistSpan').show();
                    }
                    else {
                        $('#divTestChargeDataContainer').empty();
                        $('#divTestChargeDataContainer').append(result.responseText);
                        $('#TestChargeDataDiv').empty();
                        $('#resize-right').hide();
                        $('#TestChargeExistSpan').hide();
                    }

                },

                complete: function (result) {
                    $('#loader-wrapper').hide();
                }
            });
        }
    }

    function GetDataList(pageId) {
        var PageSize = $("#PazeSize").val();
        $.ajax({
            type: "POST",
            url: '/MedicalTestCharge/GetBillByPaging',
            data: '{ pageId: "' + pageId + '",pageSize: "' + PageSize + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divTestChargeDataContainer').empty();
                $('#divTestChargeDataContainer').append(result);
            },
            error: function (error) {
                $('#divTestChargeDataContainer').empty();
                $('#divTestChargeDataContainer').append(error.responseText);

            },
            complete: function (results) {
                $('#loader-wrapper').hide();
            }
        });
    }

    function DeleteTestCharge(TestChargeId) {
        var PageSize = $("#PazeSize").val();
        var pageId = $("#pageId").val();
        $.ajax({
            type: "POST",
            url: '/MedicalTestCharge/DeleteMedTestCharge',
            data: '{ Id: "' + TestChargeId + '",pageId: "' + pageId + '",pageSize: "' + PageSize + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divTestChargeDataContainer').empty();
                $('#divTestChargeDataContainer').append(result);

            },
            error: function (result) {
                $('#divTestChargeDataContainer').empty();
                $('#divTestChargeDataContainer').append(result.responseText);
            },
            complete: function (result) {
                $('#loader-wrapper').hide();
            }
        });
    }

</script>
