﻿<link href="~/assets/css/datepicker.css" rel="stylesheet" />
<style>
    .datepicker {
        z-index: 1151 !important;
    }
</style>
<div>
    @Html.AntiForgeryToken()
    <input type="hidden" value="0" id="ItemSubsDeliveryID" />
    <input type="hidden" value="Add" id="Mode" />
    <h4 class="header blue dark larger clearfix"></h4>
    <div class="form-group">
        <span id="spnError" style="font-size: 16px; padding-left: 10px;" class="ErrorMessage"></span>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right" for="ItemName">
            Select Item Name
        </label>
        <div class="col-sm-9 help-block">
            @Html.DropDownList("ItemName", new SelectList(ViewBag.ItemSubscriptionList, "Value", "Text"), "--Select Item Name--", new { @class = "col-xs-10 col-sm-6" })
        </div>
    </div>
    <div class="space-2"></div>
    <div id="DeliveryDetail" style="display: none;">

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="ItemType">Subscribed Quantity</label>
            <div class="col-sm-3 help-block">
                <span id="SpanQuantity" style="font-weight: bold;"></span>
            </div>
            <label class="col-sm-3 control-label no-padding-right" for="ItemType">Subscribed Frequency</label>
            <div class="col-sm-3 help-block bold">
                <span id="SpanFrequancy" style="font-weight: bold;"></span>
            </div>
        </div>
        <div class="space-2"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="Language">Quantity Received</label>
            <div class="col-sm-4 help-block">
                <input type="number" name="QuantityReceived" class="col-xs-10 col-sm-10 IsnumericClass RemoveBorder" id="QuantityReceived" />
            </div>
            <label class="col-sm-2 control-label no-padding-right" for="Year">Year</label>
            <div class="col-sm-4 help-block">
                <input type="text" name="Year" class="col-xs-10 col-sm-10 RemoveBorder" id="Year" maxlength="4" />
            </div>
        </div>
        <div class="space-2"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="RecivedDate">
                Receiving Date
            </label>
            <div class="col-sm-4 help-block">
                <input type="text" name="RecivedDate" class="col-xs-10 col-sm-10 datepicker RemoveBorder" id="RecivedDate" />
            </div>
            <label class="col-sm-2 control-label no-padding-right" for="Building">
                Building
            </label>
            <div class="col-sm-4 help-block">
                <input type="text" name="Building" class="col-xs-10 col-sm-10 RemoveBorder" id="Building" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="Month">
                Month
            </label>
            <div class="col-sm-4 help-block">
                <input type="text" name="Month" class="col-xs-10 col-sm-10 RemoveBorder" id="Month" />
            </div>
            <label class="col-sm-2 control-label no-padding-right" for="Volume">
                Volume
            </label>
            <div class="col-sm-4 help-block">
                <input type="text" name="Volume" class="col-xs-10 col-sm-10 RemoveBorder" id="Volume" />
            </div>            
        </div>
        <div class="form-group">            
             <label class="col-sm-2 control-label no-padding-right" for="Number">
                Number
            </label>
            <div class="col-sm-4 help-block">
                <input type="text" name="Number" class="col-xs-10 col-sm-10 RemoveBorder" id="Number" />
            </div>
        </div>
        <div class="space-2"></div>
        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" for="Floor">
                Floor
            </label>
            <div class="col-sm-4 help-block">
                <input type="text" name="Floor" class="col-xs-10 col-sm-10 RemoveBorder" id="Floor" />
            </div>
            <label class="col-sm-2 control-label no-padding-right" for="Almirah">
                Almirah
            </label>
            <div class="col-sm-4 help-block">
                <input type="text" name="Almirah" class="col-xs-10 col-sm-10 RemoveBorder" id="Almirah" />
            </div>
        </div>
        <div class="space-2"></div>
        <div class="form-group">           
            <label class="col-sm-2 control-label no-padding-right" for="Rack">
                Rack
            </label>
            <div class="col-sm-4 help-block">
                @{   var listItems1 = new List<SelectListItem> { 
                                                new SelectListItem { Text = "1", Value = "1" }, 
                                                new SelectListItem { Text = "2", Value = "2" },
                                                new SelectListItem { Text = "3", Value = "3" },
                                                new SelectListItem { Text = "4", Value = "4" },
                                                new SelectListItem { Text = "5", Value = "5" }
                                                
                                                 };   
                }

                @Html.DropDownList("Rack", new SelectList(listItems1, "Value", "Text"), "Select", new { @class = "col-xs-10 col-sm-10 RemoveDdlBorder" })
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('.datepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "mm/dd/yyyy"
        });
        $('.RemoveBorder').keypress(function () {
            var Id = this.id;
            $("#" + Id).next().hide();
            $("#" + Id).css("border", "1px solid green");
        });

        $('.datepicker').datepicker({ autoclose: true }).on('changeDate', function (ev) {
            var Id = this.id;
            if ($("#" + Id).val() != '') {
                $("#" + Id).next().hide();
                $("#" + Id).css("border", "1px solid green");
            }
            else {
                $("#" + Id).after("<span class='ErrorMessage'> Date is Required</span>");
                $("#" + Id).css("border", "1px solid red");
            }
        });
    });

   
    $('.IsnumericClass').keypress(function (e) {
        var key = (e.which) ? e.which : e.keyCode;
        if ((key >= 48 && key <= 57) || (key == 44) || (key == 8)) {

            return true;
        }
        else {
            return false;
        }
    });

    $('#ItemName').change(function () {

        var Value = $('#ItemName').val();
        if (Value != '0' && Value != '') {
            $.ajax({
                type: "POST",
                url: '/ItemSubsDelivery/GetItemSubscriptionDetail',
                data: '{ Id: "' + Value + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                },
                success: function (result) {
                    debugger;
                    $('#SpanQuantity').empty();
                    $('#SpanQuantity').append(result.Quantity);
                    $('#SpanFrequancy').empty();
                    $('#SpanFrequancy').append(result.Frequancy);
                    $('#DeliveryDetail').show();
                    $('#CloseBtn').show();
                    $('#SaveDeliveryItem').show();
                },
                error: function (error) {
                    debugger;
                    $('#SpanQuantity').empty();
                    $('#SpanQuantity').append(error.Quantity);
                    $('#SpanFrequancy').empty();
                    $('#SpanFrequancy').append(error.Frequancy);
                    $('#DeliveryDetail').show();
                    $('#CloseBtn').show();
                    $('#SaveDeliveryItem').show();
                },
                complete: function (results) {
                }
            });
        }
    });

</script>
