﻿@model SBL.DomainModel.Models.Budget.mMedicine

<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }
</style>



<form method="post" action="/SchemeSetup/SaveQualification" id="EditSingleMedicine">
    <input type="hidden" id="pageSize" name="pageSize" value="@ViewBag.PageSize" />
    <input type="hidden" id="pageId" name="pageId" value="@ViewBag.CurrentPage" />

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.MedicineID)
    @Html.HiddenFor(m => m.Mode)
    @Html.HiddenFor(m => m.IsActive)
    @Html.HiddenFor(m => m.IsApproved)

    <div class="profile-info-row">
        <div class="profile-info-name">Medicne Type:</div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @Html.DropDownList("MeidicineType", (SelectList)ViewBag.MedicineType, "--Select--", new { @class = "col-xs-10 col-sm-10 RemoveDdlBorder" })
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
            </div>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name">Address:</div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                @if (Model.Mode == "Add")
                {
                    @Html.TextBoxFor(model => model.MedicineName, new { Value = "", @class = "col-xs-12 col-sm-12 RemoveBorder ", @placeholder = "MedicineName", @autocomplete = "off" })
             
                }
                else
                {
                    @Html.TextBoxFor(model => model.MedicineName, new { @class = "col-xs-12 col-sm-12 RemoveBorder ", @placeholder = "MedicineName", @autocomplete = "off" })
                }
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
                @Html.ValidationMessageFor(model => model.MedicineName)
            </div>
        </div>
    </div>


    <div class="profile-info-row">
        <div class="profile-info-name"></div>
        <div class="profile-info-value">
            <div class="input-group col-xs-12">
                <button type="button" class="btn btn-sm btn-success" id="SaveSingleMedicineBtn" onclick="SaveSingleMedicine();">
                    Submit
																<i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                </button>

            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
            </div>
        </div>
    </div>
</form>





<script type="text/javascript">

    $(document).ready(function () {


 
        $('.RemoveBorder').keypress(function () {
            var Id = this.id;
            $("#" + Id).next().hide();
            $("#" + Id).css("border", "1px solid green");
        });

        $('.RemoveDdlBorder').change(function () {

            var Id = this.id;
            if ($("#" + Id).val() != '') {
                $("#" + Id).next().hide();
                $("#" + Id).css("border", "1px solid green");
            }
            else {
                $("#" + Id).after("<span class='ErrorMessage'>Required</span>");
                $("#" + Id).css("border", "1px solid red");
            }

        });

        $('.IsnumericClass').keypress(function (e) {
            var key = (e.which) ? e.which : e.keyCode;
            if ((key >= 48 && key <= 57) || (key == 44) || (key == 8)) {

                return true;
            }
            else {
                return false;
            }
        });
    });

</script>
