﻿@model SBL.DomainModel.Models.Adhaar.AdhaarDetails

   <h1 style="text-align:center;margin-top:0px">Aadhaar Data</h1>
    <table class="table table-striped table-bordered table-hover" id="adhaarDetailsbyID" style="width: 100%; margin-top: 0px">
        <tr>
            <td style="width: 30%">Evidhan ID :-
            </td>
            <td style="width: 70%">
                @Model.AdhaarID
            </td>
        </tr>

        <tr>
            <td>Name:-
            </td>
            <td id="adharName">
                @Model.Name
            </td>
        </tr>
        <tr>
            <td>Gender :-
            </td>
            <td id="adharGender">
                @Model.Gender

            </td>
        </tr>
        <tr>
            <td>Father Name :-
            </td>
            <td id="adharFathername">
                @Model.FatherName

            </td>
        </tr>
        <tr>
            <td>DOB :-
            </td>
            <td id="adhaarDOB">
                @Model.DOB

            </td>
        </tr>
        <tr>
            <td>Mobile Number :-
            </td>
            <td id="adhaarMobile">
                @Model.MobileNo

            </td>
        </tr>
        <tr>
            <td>Email :-
            </td>
            <td id="adhaaremail">
                @Model.Email

            </td>
        </tr>
        <tr>
            <td>Address
            </td>
            <td id="aadharAddress">
                @Model.Address

            </td>
        </tr>
        <tr>
            <td>District :-
            </td>
            <td>
                @Model.District
            </td>
        </tr>
        <tr>
            <td>Pin Code :-
            </td>
            <td>
                @Model.PinCode        </td>
        </tr>


        <tr>
            <td>Photo
            </td>
            <td id="aadhaarPhoto">
                <img id="image" src="@Model.Photo" width="120" height="160" />
            </td>
        </tr>
      
    </table>
