﻿@model SBL.eLegistrator.HouseController.Web.Areas.UserRegistration.Models.ChangePasswordModel
@using CaptchaMvc.HtmlHelpers

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    
}
@Scripts.Render("~/bundles/validations")
@*@Scripts.Render("~/bundles/Ajax")
@Styles.Render("~/bundles/jQueryCss")*@

<script src="~/Scripts/jquery-te-1.4.0.min.js"></script>
<script src="~/Scripts/MicrosoftAjax.js"></script>
<script src="~/Scripts/MicrosoftMvcAjax.js"></script>

<link href="~/Content/jquery-te-1.4.0.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>



<div id="changepswdmodel" style="align-content: center;">
    @using (Html.BeginForm("SavePassword", "UserRegistration", FormMethod.Post, new { @id = "changePasswordForm", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div class="page-header">
            <h2>@Resources.UserRegistration.ChangePassword
            </h2>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserNameChanged:</label>
            @* @if (Model.o=="17")
            {
                *@
            <input type="button" class="btn btn-white btn-default btn-round" value="Generate Assembly Password" name="show popup" onclick="return f();" style="margin-right: 50px; float: right;" disabled />
            @*}*@

            <div class="col-sm-6" style="margin-top: 5px;">
                @Html.DisplayFor(m => m.UserName, new { @style = "width: 282px;", id = @Model.UserName })

                @Html.HiddenFor(m => m.UserId, new { @id = "userid" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.OldPassword<span style="color: red">*</span>:</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.OldPassword, new { @autocomplete = "off", @id = "OldPassword", @onchange = "return checkOldPassword();", @style = "width: 250px;", @type = "password" })
                @Html.ValidationMessageFor(m => m.OldPassword, "", new { id = "voldpassword", @style = "color:red;" })

                @*   @Html.HiddenFor(m => m.OldPassword, new { @id = "VOldPassword" })*@
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.NewPassword<span style="color: red">*</span>:</label>
            <div class="col-sm-9" id="DivName">
                @Html.TextBoxFor(m => m.NewPassword, new { @autocomplete = "off", @id = "NewPassword", @type = "password", @class = "lbl", @style = "width: 250px;" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { id = "vnewpassword", @style = "color:red;" })
                @*  @Html.HiddenFor(m => m.NewPassword, new { @id = "VNewPassword" })*@
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.ConfirmationPassword<span style="color: red">*</span>:</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.ConfirmationPassword, new { @autocomplete = "off", @id = "ConfirmationPassword", @type = "password", @class = "lbl", @style = "width: 250px;" })
                @Html.ValidationMessageFor(m => m.ConfirmationPassword, "", new { id = "vConfirmationPassword", @style = "color:red;" })
                @*  @Html.HiddenFor(m => m.NewPassword, new { @id = "VNewPassword" })*@
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"><span style="color: red"></span></label>
            <div class="col-sm-9">
                <img src="@Url.Action("GetCaptchaImage", "Account", new { area = "" })" />
                @*  <a id="refresh1" tabindex="6" class="pull-right" href="@Url.Action("Index", "Home", new { area = "" })"><span class="fa fa-refresh" style="font-size: 17px;"></span></a>*@
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Captcha<span style="color: red">*</span>:</label>
            <div class="col-sm-9">
               @* <input type="text" name="CaptchaText" id="CaptchaText"  onblur = "OnChangeTextBox(this);" value="@ViewBag.CaptchaText" />*@
                 @Html.TextBoxFor(m => m.CaptchaText, new { @autocomplete = "off", @id = "CaptchaText", @class = "lbl", @style = "width: 250px;" })
                @Html.ValidationMessageFor(m => m.CaptchaText, "", new { id = "CaptchaValidation", @style = "color:red;" })
               @* <span class="field-validation-error" id="CaptchaValidation"></span>*@
               
                @if (Model.CaptchaMessage != null)
                {
                    <p class="field-validation-error captchaMsg" id="CaptchaServerError">@Model.CaptchaMessage </p>
                }
            </div>

        </div>
           
        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" class="btn btn-info" value="@Resources.UserRegistration.Save" name="submitBttn" />
                @*onclick="return checkValidation();" />*@

                &nbsp; &nbsp; &nbsp;
            
                <input type="button" class="btn" value=" @Resources.UserRegistration.Back" name="submitBttn" onclick="return CancelchngpswdForm();" style="margin-left: 10px" />

            </div>
        </div>

    }
</div>


@*Assembly Passeord Area*@


@using (Ajax.BeginForm("UpdateAssemblyPassword", "UserRegistration", FormMethod.Post, new AjaxOptions
{

    InsertionMode = InsertionMode.Replace,
    OnSuccess = "OnSuccess(data)",
    LoadingElementId = "loader-wrapper"

}, new { @class = "form-horizontal", @role = "form", id = "saveLoanForm" }))
{
    <div id="newSalaryHeads" class="modal">
        <div class="modal-dialog" style="width: 700px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="blue bigger">Assembly Password </h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.NewPassword<span style="color: red">*</span>:</label>
                        <div class="col-sm-8" id="AssemblyPassword">
                            <input required type="password" name="txtAssemblyPassword" id="txtAssemblyPassword" style="width: 250px;">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.ConfirmationPassword<span style="color: red">*</span>:</label>
                        <div class="col-sm-8">
                            <input required type="password" name="txtConfirmAssemblyPassword" id="txtConfirmAssemblyPassword" style="width: 250px;">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-info" type="submit" onclick="return validate()" formtarget="_blank">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Update
                        </button>
                        <button class="btn" data-dismiss="modal">
                            <i class="ace-icon fa fa-times"></i>
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@*End Assembly Passeord Area*@






<style>
    #CaptchaImage {
        width: 250px;
        height: 40px;
    }

    #CaptchaText {
        width: 249px;
    }
</style>
<script>
    $(document).ready(function () {

        $('#CaptchaInputText').attr("style", "width:250px");
    }

    )
</script>
<script>

    function validate() {

        var pass1 = document.getElementById("txtAssemblyPassword").value;
        if (pass1.length > 0) {

            //if (pass1.length < 6) {
            //    //document.getElementById("txtAssemblyPassword").focus();
            //    //alert('Password Must Have Minimum 6 Characters !'); return false;
            //}
            //else {
            var a = checkPasswordComplexity(pass1);
            if (!a) {
                document.getElementById("txtAssemblyPassword").focus();
                alert("Only alphanumeric characters  are valid in this field"); return false;
            }

            //}
        }
        else {
            document.getElementById("txtAssemblyPassword").focus();
            alert('The New Password field is required.'); return false;
        }
        var pass2 = document.getElementById("txtConfirmAssemblyPassword").value;
        if (pass2.length > 0) {

            //if (pass2.length < 6) {
            //    document.getElementById("txtConfirmAssemblyPassword").focus();
            //    alert('Password Must Have Minimum 6 Characters !'); return false;
            //}

        }
        else {
            document.getElementById("txtConfirmAssemblyPassword").focus();
            alert('The Confirmation Password field is required.'); return false;
        }

        if (pass1 != pass2) {
            document.getElementById("txtAssemblyPassword").style.borderColor = "#E34234";
            document.getElementById("txtConfirmAssemblyPassword").style.borderColor = "#E34234";
            alert("Both Password Should Be Same."); return false;
        }
        else {
            document.getElementById("txtAssemblyPassword").style.borderColor = "";
            document.getElementById("txtConfirmAssemblyPassword").style.borderColor = "";

        }



        //var text1 = document.getElementById('txtAssemblyPassword').value; if (text1.length < 6) { alert('put more info!'); return false; } return true;
        //var text2 = document.getElementById('txtConfirmAssemblyPassword').value; if (text1.value != text2.value) { alert('not mached'); return false; } return true;

    }



    function checkPasswordComplexity(pwd) {
        var regularExpression = /^[A-Za-z0-9]+$/;///^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/;
        var valid = regularExpression.test(pwd);
        return valid;
    }



    function f() {
        $("#newSalaryHeads").modal({  // wire up the actual modal functionality and show the dialog    
            "backdrop": "static",
            "keyboard": true,
            "show": true     // ensure the modal is shown immediately         
        });
    }

    function CancelchngpswdForm() {
        //getNextHideDiv();
        // $("#RightSidebar").empty();
        //$("#ToBeHideDiv").show("slow", function () {
        //});
        //$("#aPrev").show();
        //$("#aNext").hide();
        //$("#btnBackHideDiv").hide();
        //$("#ExpandDiv").animate({ width: '43%' }, "slow");
        // $("#RightSidebar").html(data);
        window.location.href = '@Url.Action("Index", "Home", new { Area = "" })';

    }


    function checkValidation() {

        otpvalue = document.getElementById("hdnOTPValue").value;
        var otpId = document.getElementById("OTPValue").value;

        if (otpvalue != otpId) {
            alert("OTP Mismatch");
            return false;
        }
        else {
            return true;
        }


    }


    function checkOldPassword(value) {

        $("#voldpassword").val("");
        var userid = $("#userid").val();
        var oldpassword = $("#OldPassword").val();

        $.ajax({
            url: "/UserRegistration/UserRegistration/CheckOldPassword",
            type: 'GET',
            data: {
                //userId: userlst,
                oldPassword: oldpassword
            },
            success: function (data) {
                if (!data) {
                    $("#OldPassword").val("");
                    $("#voldpassword").val("Password Doesn't Match")
                    alert("Old Password Doesn't Match");
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }
</script>

<script>
    function OnSuccess(data) {
        $("#loader-wrapper").hide();
        ShowAlert('Assembly Password  Updated Successfully..');
        document.getElementById("txtAssemblyPassword").value = "";
        document.getElementById("txtConfirmAssemblyPassword").value = "";
    }
    function OnFailure() {
        ShowAlert('There was some error pls try again.');
    }

    function ShowAlert(msz) {
        var dlg = bootbox.alert(msz, function (e) {

            $(dlg).modal('hide');
            $("#newSalaryHeads").modal('hide');

        });

    }
</script>
