﻿@model SBL.DomainModel.Models.User.mUsers 

@if (Model.mSecretory != null)
{
     @Html.DropDownListFor(m => m.SecretoryId, new SelectList(Model.mSecretory, "SecretoryID", "SecretoryName", 0), new { @id = "DdlSecretory", @class = "form-control", @tabindex = "1", @style = "width: 462px" })
     @Html.HiddenFor(m => m.SecretoryId, new { value = @Model.SecretoryId })
}
else
{
    
    <div style="padding-top:6px;">
          @Html.HiddenFor(m => m.SecretoryId)
    <span>@Model.SecretoryName</span></div>
}

<script>
    $(document).ready(function () {
      
        var subtypevalue = $('#UserType').val();
        if (subtypevalue != "" && subtypevalue != 0) {
            //$('#DdlSecretory').css('pointer-events', 'none');
        }
    $("#DdlSecretory").change(function () {

        var end = this.value;
        
        $("#SecretoryId").val(end);

    });
    });
</script>
