﻿@model SBL.DomainModel.Models.User.mUsers
@using SBL.eLegistrator.HouseController.Web.Utility

@{
    ViewBag.Title = "UpdateMemberUserDetails";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    
}

@Scripts.Render("~/bundles/validations")


<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />

<script src="~/Scripts/jquery-latest.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>


<script src="~/Scripts/jquery-te-1.4.0.min.js"></script>
<script src="~/Scripts/MicrosoftAjax.js"></script>
<script src="~/Scripts/MicrosoftMvcAjax.js"></script>

<link href="~/Content/jquery-te-1.4.0.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.css" rel="stylesheet" />

<link href="~/Content/MultiSelectList/multiple-select.css" rel="stylesheet" />
@*@Scripts.Render("~/bundles/maskinput")*@
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/MultiSelectBox/jquery.multiple.select.js"></script>
@*<script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>*@



@*<script src="~/ScriptigFunctions/UserRegistrationForm/UserRegistrationScriptingFunctions.js"></script>*@
<div class="page-content">

    <div class="row">
        <div class="page-header">
            <h1>
                @Resources.UserRegistration.UpdateMemberProfile 
            </h1>
        </div>

        <div id="canvasloader-container1" class="canvasloader" style="text-align: center">
        </div>

        @using (Html.BeginForm("UpdateMemberEmployeeDetails", "UserRegistration", FormMethod.Post, new { @id = "UpdateUserRegistrationForm", @class = "form-horizontal", @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.DscActiveStatus, new { @id = "dscstatus" })
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-2">
                        <div class="space-20">
                        </div>
                        <div class="center">
                            <img id="image" src="@Model.Photo" />
                            <br />
                            @if (Model.SignaturePath != null)
                            {                                
                                <img id="Sigimage" src="@Model.SignaturePath" width="240" height="180" />
                            }
                        </div>
                    </div>
                    <div class="col-xs-10">

                        @Html.HiddenFor(m => m.UserId)
                        @Html.HiddenFor(m => m.AadarId, new { value = @Model.AadarId })
                        @Html.HiddenFor(m => m.UserName, new { value = @Model.UserName })

                        @Html.HiddenFor(m => m.Name, new { value = @Model.Name })
                        @Html.HiddenFor(m => m.IsSecretoryId, new { value = @Model.IsSecretoryId })
                        @Html.HiddenFor(m => m.IsHOD, new { value = @Model.IsHOD })
                        @Html.HiddenFor(m => m.IsMember, new { value = @Model.IsMember })
                        @Html.HiddenFor(m => m.IsMedia, new { value = @Model.IsMedia })
                        @Html.HiddenFor(m => m.IsOther, new { value = @Model.IsOther })
                        @Html.HiddenFor(m => m.UserType, new { value = @Model.UserType })

                        @Html.HiddenFor(m => m.HODID, new { value = @Model.HODID })

                        @if (Model.SecretoryId != 0 && Model.SecretoryId != null)
                        {
                            @Html.HiddenFor(m => m.SecretoryId, new { value = @Model.SecretoryId })
                        }

                        @Html.HiddenFor(m => m.DepartmentIDs, new { value = @Model.DepartmentIDs })
                        @Html.HiddenFor(m => m.DeptId, new { value = @Model.DeptId })
                        @Html.HiddenFor(m => m.OfficeId, new { value = @Model.OfficeId })
                        @Html.HiddenFor(m => m.DepartmentName, new { value = @Model.DepartmentName })

                            @Html.HiddenFor(m => m.Sel_DistrictCode, new { value = @Model.DistrictCode })
                          @Html.HiddenFor(m => m.ConstituencyName, new { value = @Model.ConstituencyName })
                          @Html.HiddenFor(m => m.SubdivisionName, new { value = @Model.SubdivisionName })
                            @Html.HiddenFor(m => m.Selected_SubCode, new { value = @Model.SubdivisionCode })
                          @Html.HiddenFor(m => m.Selected_ConId, new { value = @Model.ConstituencyId })
                          @Html.HiddenFor(m=>m.Selected_PanchyatCode,new{value = @Model.PanchyatCode})
                      
                        @* @Html.HiddenFor(m=>m.Photo)*@
                        <fieldset>
                            <legend>Personal Details</legend>

                        </fieldset>
                        <div class="form-group">
                           
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1" id="lblAdhaarID">@Resources.UserRegistration.UserAdhaarCard / User Id:</label>

                            <div class="col-sm-9">
                                @if (Model.AadarId != null)
                                {  @Html.Label(@Model.AadarId, new { @class = "lbl", @style = "margin-top:4px" })
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserName :</label>
                            <div class="col-sm-9" id="DivName">
                                @if(Model.IsMember=="False")
                                {
                                   @Html.TextBoxFor(m => m.UserName, new { @id = "Name1", @style = "width:462px" })
                                    @Html.HiddenFor(m=>m.UserName_eCcon, new { @id = "UserName_eCcon" })
                                }
                                else{
                                    <label id="Name" class="lbl" style="margin-top: 4px">@Html.Raw(Model.Name)</label>
                                }
                             
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.Gender:</label>
                            <div class="col-sm-9" id="DivGender" style="margin-top: 4px;">
                                 <select id="genderlist" name="gender" style="width: 462px">
                                        <option value="M">M</option>
                                        <option value="F">F</option>
                                    </select>
                               @* <label id="Gender" class="lbl" style="margin-top: 1px">@Html.Raw(Model.Gender)</label>*@

                                @Html.HiddenFor(m => m.Gender, new { @id = "UserGender" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.Age:</label>
                            <div class="col-sm-9" id="DivDOB">
                                   @Html.TextBoxFor(m => m.DOB, "{0:dd/MM/yyyy}", new { @id = "tDOB", @style = "width:462px" })
                               @* <label id="DOB" class="lbl" style="margin-top: 4px">@Html.Raw(Model.DOB)</label>*@
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.FatherName:</label>
                            <div class="col-sm-9" id="DivFatherName">
                                  @Html.TextBoxFor(m => m.FatherName, new { @id = "FatherName", @style = "width:462px" })
                               
                              @*  <label id="FatherName" class="lbl" style="margin-top: 4px">@Html.Raw(Model.FatherName)</label>*@

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserMobile<span style="color: red">*</span>:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Mobile, new { @style = "width: 462px;", @maxlength = "10", @class = "col-xs-10 col-sm-5", @placeholder = "Mobile Number (9XX XXX XXXX)" })
                                @Html.HiddenFor(m => m.Mobile, new { @id = "ValidateMobile" })


                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserEmail<span style="color: red">*</span>:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.MailID, new { @id = "MailID", @style = "width: 462px;", @class = "col-xs-10 col-sm-5", @placeholder = "Email (abc@xyz.com)" })
                                @Html.ValidationMessageFor(m => m.MailID, "", new { @id = "mailingId", @style = "color:red" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserAddress:</label>
                            <div class="col-sm-9" id="DivAddress">
                                @Html.TextAreaFor(m => m.Address, new { @style = "width: 462px;", @class = "col-xs-10 col-sm-5" })
                                @* @if (Model.Address != null)
                                {
                                   
                           
                                }
                                else
                                { @Html.TextBoxFor(m => m.Address, new { @style = "width: 462px;", @class = "col-xs-10 col-sm-5" })
                                }*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Change Photo:</label>
                            <div class="col-sm-9">

                                <input type="file" id="uploadPhoto" name="uploadPhoto" onchange="fileCheck(this);" />
                                @Html.HiddenFor(m => m.Photo)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserSignature:</label>
                            <div class="col-sm-9">
                                <input type="file" id="signatureUpload" name="signatureUpload" onchange="fileCheckSignature(this);" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"></label>
                            <div class="col-sm-9">
                                <span style="color: red">Only GIF format with transparent background and size 180X100 Pixel is allowed.</span>
                            </div>
                        </div>
                        <fieldset>
                            <legend>Designation Section </legend>

                        </fieldset>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserType:</label>
                            <div class="col-sm-9">

                                @Html.DropDownListFor(m => m.UserTypeList, new SelectList(Model.UserTypeList, "UserTypeID", "UserTypeName", "NULL"), new { @id = "DdlUserType", @class = "form-control", @tabindex = "1", @style = "width: 462px" })


                            </div>

                            @Html.HiddenFor(m => m.OfficeLevel, new { @id = "SelectType" })
                        </div>
                        <div id="usertypetow">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Sub User Type:</label>
                                <div class="col-sm-9" id="divSubuserTypeDrp">
                                </div>

                            </div>

                        </div>
                        <div id="secretoryField">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Administrative Secretaries:</label>
                                <div class="col-sm-9" id="divSecretaryList">
                                </div>

                            </div>
                        </div>
                        <div id="hodsField">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">HOD:</label>
                                <div class="col-sm-9" id="divHodsList">
                                </div>
                                @* @Html.HiddenFor(m => m.SecretoryId, new { value = @Model.SecretoryId })*@
                            </div>
                        </div>
                        <div class="form-group" id="ddlmemberlist">
                            <div class="col-sm-3 control-label no-padding-right">
                                @Resources.UserRegistration.Member:
                            </div>

                            <div class="col-sm-9" id="divMemberList">
                                @Html.DropDownListFor(m => m.IsMember, new SelectList(Model.MembersList, "MemberCode", "Name", "NULL"), new { @id = "ddlMembers", @class = "form-control", @tabindex = "1", @style = "width: 462px" })
                            </div>
                            <div class="col-sm-3 control-label no-padding-right">
                            </div>

                        </div>
                        <div class="form-group" id="ddlmemberlistCheckbox" style="display: none;">
                            <div class="col-sm-3 control-label no-padding-right">
                                @Resources.UserRegistration.Member:
                            </div>

                            <div class="col-sm-9" id="divMemberListcheckbox">
                                @Html.ListBoxFor(m => m.AllMemberIds, new SelectList(Model.MembersList, "MemberCode", "Name", "0"), new { @id = "ddlMembersIds", @tabindex = "1", @class = "form-control", @multiple = "multiple", style = "width: 463px", @onchange = "get();" })
                            </div>
                            <div class="col-sm-3 control-label no-padding-right">
                            </div>

                        </div>
                        <div id="departmentField">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Department(s):</label>
                                <div class="col-sm-9" id="divDepartmentList">
                                </div>
                                <div class="col-sm-9" style="float: right;" id="divSelectedDept">
                                </div>

                            </div>
                        </div>
                        <div id="OfficeField">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Office:</label>
                                <div class="col-sm-9" id="divOfficeList">
                                </div>

                            </div>
                        </div>
                         <div id="DistrictField">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">District:</label>
                                <div class="col-sm-9" id="divDistrictList">
                                     @Html.DropDownListFor(m => m.DistrictCode, new SelectList(Model.DistrictList, "DistrictCode", "DistrictName", "NULL"), new { @id = "ddldistrict", @class = "form-control", @tabindex = "1", @style = "width: 462px" })
                                </div>
                               
                            </div>
                        </div>
                      @*   <div id="ConcField">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Constituency:</label>
                                <div class="col-sm-9" id="divconcList">
                              
                                   
                        l.ListBoxFor(m => m.ConstituencyCode, new SelectList(Model.ConstituencyList, "ConstituencyCode", "ConstituencyName", "0"), new { @id = "ddlConstituency", @tabindex = "1", @class = "form-control", @multiple = "multiple", style = "width: 463px" })
                               <div><span id="DdlSectdConstituency" style="color:red"></span></div>
                                  
                                
     @Html.HiddenFor(m => m.ConstituencyCode)
                                      </div>
                               
                            </div>
                        </div>*@
                        <div id="ConcField">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Constituency(s):</label>
                                <div class="col-sm-9" id="divconcList">
                                </div>
                                <div class="col-sm-9" style="float: right;" id="divSelectedConc">
                                </div>

                            </div>
                        </div>
                         <div id="SubdivisionField"> 
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Subdivision:</label>
                             <div class="col-sm-9" id="divSubdivisionList">
                                </div>
                                <div class="col-sm-9" style="float: right;" id="divSelectedSubdivision">
                                </div>

                            </div>
                        </div>
                         <div id="PanchyatField"> 
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Panchyat:</label>
                                <div class="col-sm-9" id="divPanchyatList">
                                     @Html.DropDownListFor(m => m.PanchyatCode, new SelectList(Model.PanchyatList, "PanchayatCode", "PanchayatName", "NULL"), new { @id = "ddlPanchyat", @class = "form-control", @tabindex = "1", @style = "width: 462px" })
                                </div>
                               
                            </div>
                        </div>
                        <div id="">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1" id="lblEmpCode" style="display: none">@Resources.UserRegistration.EmployeeCode:</label>
                                @*<label class="col-sm-3 control-label no-padding-right" for="form-field-1" id="lblMemberCode">@Resources.UserRegistration.MemberCode<span style="color: red">*</span>:</label>*@
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1" id="lblMediaCode" style="display: none">@Resources.UserRegistration.MediaCode:</label>

                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.EmpOrMemberCode, new { @style = "width: 462px;", @maxlength = "6", @class = "col-xs-10 col-sm-5", onchange = "setUserID(this.value);" })
                                    @Html.ValidationMessageFor(m => m.EmpOrMemberCode, "", new { @id = "empId", @style = "color:red;" })
                                </div>

                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.Designation:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Designation, new { @id = "Designation", @style = "width: 462px;", @class = "col-xs-10 col-sm-5" })

                            </div>
                        </div>
                        <div class="form-group" id="IsNodelOfficerField" style="display: block;">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"></label>
                            <div class="col-sm-9">
                                @{
         
                                if (Model.IsNodalOfficer == null)
                                {
                                    Model.IsNodalOfficer = false;
                                }
                                }

                                @Html.CheckBox("IsNodalOfficer", Model.IsNodalOfficer != null && (bool)Model.IsNodalOfficer) Is Nodel Officer
                            </div>
                        </div>
                        <fieldset>
                            <legend></legend>

                        </fieldset>

                        @if (ViewBag.OtpRequiredInRegistration == "1")
                        {
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.OTP<span style="color: red">*</span>:</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.OTPValue, new { @style = "width: 462px;", @maxlength = "6", @onchange = "CheckOTPByID();", @class = "col-xs-10 col-sm-5", @placeholder = "Enter Generated OTP" })
                                    <span class="help-inline col-xs-12 col-sm-7">
                                        <input class="btn btn-minier btn-yellow"type="button" value="@Resources.UserRegistration.GetOTP" onclick="GetOTP();" />
                                        <br />
                                        @Html.ValidationMessageFor(m => m.Mobile, "", new { @id = "mobId", @style = "color:red" })

                                    </span>
                                    @Html.ValidationMessageFor(m => m.OTPValue, @Model.OTPValue, new { @id = "otpId", @style = "color:red" })
                                    <input type="hidden" id="hdnOTPValue" />
                                </div>
                            </div>
                        }
                        <input type="hidden" id="hdnOtpRequiredInRegistration" value="@ViewBag.OtpRequiredInRegistration" />


                    </div>

                </div>

            </div>
            <div class="form-group">

                <div class="col-sm-9" style="text-align: center; margin-left: 149px;">
                    <span id="IsNotificationCheck">Send me notification as SMS @Html.CheckBoxFor(m => m.IsNotification) and Email @Html.CheckBoxFor(m => m.IsNotification)</span>
  @Html.HiddenFor(m => m.Photo)
                </div>
            </div>
            <div class="row">
                <div class="clearfix form-actions">
                    <div class="col-xs-12">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-10">

                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" class="btn btn-info" value= "@Resources.UserRegistration.BtnUpdate" name="submitBttn" onclick="return checkValidation();"  />

                                &nbsp; &nbsp; &nbsp;

                                        <input type="button" class="btn" value=" @Resources.UserRegistration.BtnCancel" name="submitBttn" onclick="return ResetForm();" style="margin-left: 10px" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.page-content -->
<div id='PopModel' class="hide">
    <div id='ShowOTP'>
    </div>

</div>

<div id='HashModel' class="hide">
    <div id='ShowHashModel'>
        <object id="DSCHashUniqueID" type="application/x-java-applet" height="120" width="850">
            <param name="code" value="com.sblcorp.DSC.DSCReg" />
            <param name="archive" value="/DSCReg.jar" />
            @Resources.UserRegistration.AppletError
        </object>
    </div>
</div>

@Scripts.Render("~/Scripting/UpdateUserMemberDetails")
<script>
    function setUserID(myValue) {
        // alert(myValue);
        $('#setUserID').val(myValue)
                    .trigger('change');
    }
    function bindUserSubType(usertypeid) {
        $("#subtypeloader").css("display", "block");
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/UserRegistration/UserRegistration/GetUserSubTypeDrp",
            type: 'GET',
            data: {
                usertypeid: usertypeid
            },
            success: function (data) {
                if (data) {
                    // $("#ddldepartment").hide();
                    $("#divSubuserTypeDrp").html(data);
                    //$("#SecretaryDepartmentList").show(); prrr
                    var subtypeid = $("#UserType").val();
                    if (subtypeid != "") {
                        $("#ddlSubUserType").prepend("<option value='0'>Select</option>");
                        $("#ddlSubUserType option[value=" + subtypeid + "]").prop("selected", "selected");
                        var utype = $('#DdlUserType').val();
                        if (utype == 4) {
                            $('#ddlSubUserType option:not(:selected)').attr('disabled', true);
                        }

                    }
                    else {
                        $("#ddlSubUserType").prepend("<option value='0'>Select</option>");
                        $("#ddlSubUserType option[value=0]").prop("selected", "selected");
                    }
                    // $("#subtypeloader").css("display", "none");
                }
                else {
                    //$("#ddldepartment").show();
                    //alert("Unable to Found the Emp or Member Id");
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }
    function bindSecretaryList(usertypeid) {

        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/UserRegistration/UserRegistration/GetSecretaryDrpList",
            type: 'GET',
            data: {
                usertypeid: usertypeid
            },
            success: function (data) {
                if (data) {

                    $("#divSecretaryList").html(data);
                    var subtypeid = $("#SecretoryId").val();
                    if (subtypeid != "") {
                        $("#DdlSecretory").prepend("<option value='0'>Select</option>");
                        $("#DdlSecretory option[value=" + subtypeid + "]").prop("selected", "selected");
                    }
                    else {
                        $("#DdlSecretory").prepend("<option value='0'>Select</option>");
                        $("#DdlSecretory option[value=0]").prop("selected", "selected");
                    }
                }
                else {

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }
    function bindDepartmentList(usertypeid) {

        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/UserRegistration/UserRegistration/GetDepartmentDrpList",
            type: 'GET',
            data: {
                usertypeid: usertypeid
            },
            success: function (data) {
                if (data) {

                    $("#divDepartmentList").html(data);

                }
                else {

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }
    function bindHodDrpList(usertypeid) {

        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/UserRegistration/UserRegistration/GetHodDrpList",
            type: 'GET',
            data: {
                usertypeid: usertypeid
            },
            success: function (data) {
                if (data) {

                    $("#divHodsList").html(data);
                    var secid = $("#SecretoryId").val();
                    if (secid != "") {
                        $("#ddlHOD").prepend("<option value='0'>Select</option>");
                        $("#ddlHOD option[value=" + secid + "]").prop("selected", "selected");

                    }
                    else {
                        $("#ddlHOD").prepend("<option value='0'>Select</option>");
                        $("#ddlHOD option[value=0]").prop("selected", "selected");
                    }
                }
                else {

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }
    function bindOfficeDrpList(DeptID) {
        //   alert(DeptID);
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/UserRegistration/UserRegistration/OfficeDrpList",
            type: 'GET',
            data: {
                deptid: DeptID
            },
            success: function (data) {
                if (data) {

                    $("#divOfficeList").html(data);
                    var office = $("#OfficeId").val();
                    if (office != "") {
                        $("#ddlOffice").prepend("<option value='0'>Select</option>");
                        $("#ddlOffice option[value=" + office + "]").prop("selected", "selected");
                        var utype = $('#DdlUserType').val();
                        if (utype == 4) {
                            $('#ddlOffice option:not(:selected)').attr('disabled', true);
                        }
                     
                    }
                    else {
                        $("#ddlOffice").prepend("<option value='0'>Select</option>");
                        $("#ddlOffice option[value=0]").prop("selected", "selected");
                    }
                }
                else {

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

    function bindDistrictDrpList() {

        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/UserRegistration/UserRegistration/GetDistrictDrpList",
            type: 'Post',
            data: {

            },
            success: function (data) {
                $("#ddlDistrict").empty();
                $("#ddlDistrict").prepend("<option value='0'>Select</option>");
                if (data) {
                    $.each(data, function (index, optiondata) {

                        $("#ddlDistrict").append("<option value='" + optiondata.DistrictCode + "'>" + optiondata.DistrictName + "</option>");
                    })

                }
                else {

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

    $(document).ready(function () {
        var gid = $("#UserGender").val();

        $("#genderlist option[value=" + gid + "]").prop("selected", "selected");
        $("#ddlMembersIds").multipleSelect({ selectAll: true, placeHolder: "Select Department" });
        $("#ddlConstituency").multipleSelect({ selectAll: true, placeHolder: "Select Constituency" });
        $("#ddlSubdivision").multipleSelect({ selectAll: true, placeHolder: "Select SubDivision" });

        var tid = $("#SelectType").val();
        $("#DdlUserType").prepend("<option value='0'>Select</option>");
        $("#DdlUserType option[value=0]").prop("selected", "selected");
        $("#DdlSecretory").prepend("<option value='0'>Select</option>");
        $("#DdlSecretory option[value=0]").prop("selected", "selected");
        $("#ddlMembers").prepend("<option value='0'>Select</option>");
        $("#ddlMembers option[value=0]").prop("selected", "selected");
        $("#ddlSubUserType").prepend("<option value='0'>Select</option>");
        $("#ddlSubUserType option[value=0]").prop("selected", "selected");
        $("#hodsField").hide();
        $("#OfficeField").hide();
        $("#DistrictField").hide();
        $("#ConcField").hide();
        $("#SubdivisionField").hide();
        $("#PanchyatField").hide();
        $("#departmentField").hide();
        $("#ddldistrict").prepend("<option value='0'>Select</option>");
        $("#ddldistrict option[value=0]").prop("selected", "selected");
        $("#ddlPanchyat").prepend("<option value='0'>Select</option>");
        $("#ddlPanchyat option[value=0]").prop("selected", "selected");



        if (tid == "" || tid == null || tid == 0) {
            $("#secretoryField").hide();
            $("#EmpOrMemberCode").hide();
            $("#IsNodelOfficerField").hide();
            $("#ddlmemberlist").hide();
            $("#usertypetow").hide();
            $("#EmpOrMemberCode").val('');
            $("#SecretoryId").val('');
            $("#departmentField").hide();
            $("#hodsField").hide();
            $("#OfficeField").hide();


        }
        else {
            if (tid == "2" || tid == "3") {
               
                $("#secretoryField").show();
                $("#IsNodelOfficerField").show();
                $("#hodsField").hide();
                $("#usertypetow").show();
                $("#ddlmemberlist").hide();
                $("#EmpOrMemberCode").hide();
                $("#lblMemberCode").hide();
                $("#lblMediaCode").hide();
                $("#departmentField").show();
                $("#OfficeField").hide();
                $("#DdlUserType option[value=" + tid + "]").prop("selected", "selected");

                var secid = $("#SecretoryId").val();
                $("#DdlSecretory option[value=" + secid + "]").prop("selected", "selected");

                bindUserSubType(tid);
                bindSecretaryList(tid);
                bindDepartmentList(tid);

                //$('#DdlUserType').css('pointer-events', 'none');
                var Seldeptid = "";
                if ($('#DepartmentName').val() != null && $('#DepartmentName').val() != "") {
                    Seldeptid = $('#DepartmentName').val();
                }
                $('#divSelectedDept').html(Seldeptid);

            }

            else if (tid == "4") {
                //$("#secretoryField").show();
                $("#hodsField").show();
                $("#secretoryField").hide();
                $("#IsNodelOfficerField").hide();
                $("#usertypetow").show();
                $("#ddlmemberlist").hide();
                $("#EmpOrMemberCode").hide();
                $("#lblMemberCode").hide();
                $("#lblMediaCode").hide();
                $("#departmentField").show();
                $("#DdlUserType option[value=" + tid + "]").prop("selected", "selected");
               
                var secid = $("#SecretoryId").val();

                $("#ddlHOD option[value=" + secid + "]").prop("selected", "selected");
                bindUserSubType(tid);

                bindDepartmentList(tid);
                bindHodDrpList(tid);
                if ($('#UserType').val() == "37") {
                    $("#hodsField").hide();
                    var deptid = "";
                    if ($('#DeptId').val() != null && $('#DeptId').val() != "") {
                        deptid = $('#DeptId').val();
                    }
                    else {
                        deptid = $('#DepartmentIDs').val();
                    }
                    //alert(deptid);


                    bindOfficeDrpList(deptid);
                    $("#OfficeField").show();
                    var officeid = $("#OfficeId").val();

                    $("#ddlOffice option[value=" + officeid + "]").prop("selected", "selected");
                    var Seldeptid = "";
                    if ($('#DepartmentName').val() != null && $('#DepartmentName').val() != "") {
                        Seldeptid = $('#DepartmentName').val();
                    }
                    $('#divSelectedDept').html(Seldeptid);
                }
                else if ($('#UserType').val() == "39") {
                    $("#hodsField").hide();
                    $("#departmentField").hide();
                    $("#OfficeField").hide();
                    $("#DistrictField").show();
                    $("#ConcField").hide();
                    $("#SubdivisionField").hide();
                    $("#PanchyatField").hide();
                    var DistrictCode = $("#Sel_DistrictCode").val();
                    $("#ddldistrict  option[value=" + DistrictCode + "]").prop("selected", "selected");
                }
                else if ($('#UserType').val() == "40") {
                    $("#hodsField").hide();
                    $("#departmentField").show();
                    $("#OfficeField").hide();
                    $("#DistrictField").show();
                    $("#ConcField").show();
                    $("#SubdivisionField").show();
                    $("#PanchyatField").hide();
                    $("#ddlSubdivision").show();
                    var DistrictCode = $("#Sel_DistrictCode").val();
                    $("#ddldistrict  option[value=" + DistrictCode + "]").prop("selected", "selected");
                    BindConstituncy(DistrictCode);
                    var ConID = $("#Selected_ConId").val();
                    //   alert(ConID);
                    var SelConstituency = "";
                    if ($('#ConstituencyName').val() != null && $('#ConstituencyName').val() != "") {
                        SelConstituency = $('#ConstituencyName').val();
                        $("#ConcField").show();
                    }
                    $('#divSelectedConc').html(SelConstituency);
                    // ne work...sdm..27 sep
                    //bindDepartmentList(tid);
                    var deptid = "";
                    if ($('#DeptId').val() != null && $('#DeptId').val() != "") {
                        deptid = $('#DeptId').val();
                    }
                    else {
                        deptid = $('#DepartmentIDs').val();
                    }
                    //alert(deptid);


                    bindOfficeDrpList(deptid);
                    $("#OfficeField").show();
                    var officeid = $("#OfficeId").val();

                    $("#ddlOffice option[value=" + officeid + "]").prop("selected", "selected");
                    $.ajaxSetup({ cache: false });
                    $.ajax({
                        url: "/UserRegistration/UserRegistration/GetSubdevisionDrpList",
                        type: 'Get',
                        data: {
                            ConstituencyCode: ConID
                        },
                        success: function (data) {
                            // if (data) {
                            $("#SubdivisionField").show();
                            $("#ddlSubdivision").show();
                            $("#divSubdivisionList").html(data);
                            // })
                            // $("#loader-wrapper").hide();
                            //  }

                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.responseText);
                            alert(thrownError);
                        }
                    });

                    var SelSubdivision = "";
                    if ($('#SubdivisionName').val() != null && $('#SubdivisionName').val() != "") {
                        SelSubdivision = $('#SubdivisionName').val();
                        $("#SubdivisionField").show();
                    }

                    $('#divSelectedSubdivision').html(SelSubdivision);

                    //var Seldeptid = "";
                    //if ($('#DepartmentName').val() != null && $('#DepartmentName').val() != "") {
                    //    Seldeptid = $('#DepartmentName').val();
                    //}
                    //$('#divSelectedDept').html(Seldeptid);

                }
                else if ($('#UserType').val() == "41") {
                    $("#hodsField").hide();
                    $("#departmentField").hide();
                    $("#OfficeField").hide();
                    $("#DistrictField").hide();
                    $("#ConcField").hide();
                    $("#SubdivisionField").hide();
                    $("#PanchyatField").show();
                    var PanchyatCode = $("#Selected_PanchyatCode").val();
                    $("#ddlPanchyat  option[value=" + PanchyatCode + "]").prop("selected", "selected");
                }

            }
            else if (tid == "5") {

                $("#secretoryField").hide();
                $("#IsNodelOfficerField").hide();
                $("#hodsField").hide();
                $("#ddlmemberlist").show();
                $("#usertypetow").show();

                $("#EmpOrMemberCode").hide();
                $("#lblMemberCode").hide();
                $("#lblMediaCode").hide();
                $("#departmentField").hide();
                $("#OfficeField").hide();
                $("#DistrictField").hide();
                $("#ConcField").hide();
                $("#SubdivisionField").hide();
                $("#PanchyatField").hide();

                $("#DdlUserType option[value=" + tid + "]").prop("selected", "selected");
                bindUserSubType(tid);

                //$('#DdlUserType').css('pointer-events', 'none');
                var deptid = "";
                if ($('#DepartmentName').val() != null && $('#DepartmentName').val() != "") {
                    deptid = $('#DepartmentName').val();
                }
                if ($('#UserType').val() == "38") {
                    $("#ddlmemberlist").hide();
                    $("#ddlmemberlistCheckbox").show();
                }
                else {
                    var memberid = $("#UserName").val();
                    $("#ddlMembers option[value=" + memberid + "]").prop("selected", "selected");

                }
                $('#divSelectedDept').html(deptid);
            }
            //else {
            //    if (tid == "4") {

        }



    });
    $("#ddlMembers").change(function () {
        var end = this.value;
        $("#EmpOrMemberCode").val(end);
    });

    $('#DdlUserType').change(function () {

        var usertypeid = $('#DdlUserType').val();
        $('#divSelectedDept').html('');
        $("#IsHOD").val('False');
        $("#IsSecretoryId").val('False');
        $("#IsMedia").val('False');
        $("#IsMember").val('False');
        $("#IsOther").val('False');
        $("#secretoryField").hide();
        $("#IsNodelOfficerField").hide();
        $("#ddlmemberlist").hide();
        $("#ddlmemberlistCheckbox").hide();
        $("#btnmultichkbox").text('');
        $("#hodsField").hide();
        $('#UserType').val('');
        $("#usertypetow").hide();
        $("#OfficeField").hide();
        $("#OfficeId").val('');
        var end = this.value;

        $("#SelectType").val(end);
        $("#ddlMembers option[value=0]").prop("selected", "selected");
        $("#DdlSecretory option[value=0]").prop("selected", "selected");
        $("#ddlHeadList option[value=0]").prop("selected", "selected");
        $("#usertypetow").show();
        bindDepartmentList(end);
        $("#departmentField").hide();

        $("#subtypeloader").css("display", "block");
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/UserRegistration/UserRegistration/GetUserSubTypeDrp",
            type: 'GET',
            data: {
                usertypeid: usertypeid
            },
            success: function (data) {
                if (data) {

                    $("#divSubuserTypeDrp").html(data);

                    $("#ddlSubUserType").prepend("<option value='0'>Select</option>");
                    $("#ddlSubUserType option[value=0]").prop("selected", "selected");
                }
                else {

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/UserRegistration/UserRegistration/GetSecretaryDrpList",
            type: 'GET',
            data: {
                usertypeid: usertypeid
            },
            success: function (data) {
                if (data) {
                    $("#divSecretaryList").html(data);
                    $("#DdlSecretory").prepend("<option value='0'>Select</option>");
                    $("#DdlSecretory option[value=0]").prop("selected", "selected");
                }
                else {

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/UserRegistration/UserRegistration/GetHodDrpList",
            type: 'GET',
            data: {
                usertypeid: usertypeid
            },
            success: function (data) {
                if (data) {
                    $("#divHodsList").html(data);
                    $("#ddlHOD").prepend("<option value='0'>Select</option>");
                    $("#ddlHOD option[value=0]").prop("selected", "selected");
                }
                else {

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });


        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/UserRegistration/UserRegistration/OfficeDrpList",
            type: 'GET',
            data: {
                deptid: ''
            },
            success: function (data) {
                if (data) {

                    $("#divOfficeList").html(data);
                    var office = $("#OfficeId").val();
                    if (office != "") {
                        $("#ddlOffice").prepend("<option value='0'>Select</option>");
                        $("#ddlOffice option[value=" + office + "]").prop("selected", "selected");

                    }
                    else {
                        $("#ddlOffice").prepend("<option value='0'>Select</option>");
                        $("#ddlOffice option[value=0]").prop("selected", "selected");
                    }
                }
                else {

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    });
</script>
<script>
    $(document).ready(function(){
        $("#UserName_eCcon").val($("#Name1").val());
        var utype = $('#DdlUserType').val();
        if (utype == 4) {
            $('#DdlUserType option:not(:selected)').attr('disabled', true);
            $('#divDepartmentList').hide();
           //$('#Designation').prop('readonly', 'true');            
        }
        //$('#ddlSubUserType option:not(:selected)').attr('disabled', true);
        //$('#DdlSecDept option:not(:selected)').attr('disabled', true);
        //$('#ddlOffice option:not(:selected)').attr('disabled', true);
      
    })
    $("#Name1").change(function () {
      
        $("#Name").val($("#Name1").val());
        $("#UserName").val($("#Name1").val());
      
    })
    function fileCheck(obj) {
        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
            $("#uploadPhoto").val("");
        }
        //else {

        //    var file, img;
        //    var iwidth = 240, iheight = 320;
        //    var _URL = window.URL || window.webkitURL;

        //    if ((file = obj.files[0])) {

        //        img = new Image();
        //        img.onload = function () {
        //            if (this.width > iwidth || this.height > iheight) {
        //                alert("dimension of image should be " + iwidth + "x" + iheight);
        //                $("#uploadPhoto").val("");
        //            }
        //        };
        //        img.src = _URL.createObjectURL(file);

        //    }
        //}
    }
    function fileCheckSignature(obj) {
        var fileExtension = ['gif'];
        if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only '.gif' formats with transparent background are allowed.");
            $("#signatureUpload").val("");
        }
        else {

            var file, img;
            var iwidth = 180, iheight = 100;
            var _URL = window.URL || window.webkitURL;

            if ((file = obj.files[0])) {

                img = new Image();
                img.onload = function () {
                    if (this.width > iwidth || this.height > iheight) {
                        alert("dimension of image should be less then  " + iwidth + "x" + iheight);
                        $("#signatureUpload").val("");
                    }
                };
                img.src = _URL.createObjectURL(file);

            }
        }
    }
    function ResetForm() {
        //window.location.href = 'UserRegistration';
        window.location.href = '@Url.Action("Index", "Home", new { Area = "" })';
    }
    $("#ddldistrict").change(function () {
        if ($("#DdlUserType").val() == "4" && $("#ddlSubUserType").val() == "39") {
            return false;
        }
        var DistCode = $(this).val();
        if (DistCode == "0") {
            $("#ddldistrict").focus();
            alert("Please Select District");
            return false;
        }
        else {
            BindConstituncy(DistCode);
        }
    });
    function BindConstituncy(DistCode) {
        $("#ConcField").show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/UserRegistration/UserRegistration/GetConstituencyDrpList",
            type: 'GET',
            data: {
                DistCode: DistCode
            },
            success: function (data) {
                $("#divconcList").html(data);
                // $("#SubdivisionField").hide();


            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    };
</script>

@if (Model.UserDscList != null)
{
    if (Model.UserDscList.Count > 0)
    {
    <script>
        $("#applateResultDiv").removeClass('hide');



    </script>
    }
}
