﻿@model List<SBL.DomainModel.Models.eFile.CommitteeMembersUpload>
@using SBL.eLegistrator.HouseController.Web.Helpers
@{
	var FileSettings = (SBL.DomainModel.Models.SiteSetting.SiteSettings)Helper.ExecuteService("SiteSetting", "GetSecureFileSettingLocation", null);
	int count = 0;
}


<div class="row">

	<div class="col-xs-12">
		@*<h3>@ViewBag.CommitteeName</h3>*@

		<div class="pass-table">
			<div class="table-header">
				<span class="label label-lg label-yellow arrowed-right" style="height: 24px; font-weight: bold; font-size: 14px;">Uploaded Committee Members List</span>
			</div>
			<table class="table table-striped table-bordered table-hover dataTable" id="sample-table-91" aria-describedby="sample-table-2_info">
				<thead>
					<tr role="row">
						<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">@Resources.MasterDataDashboard.SNo</th>
						<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Uploaded Pdf</th>
						<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Date</th>
					</tr>
				</thead>
				<tbody role="alert" aria-live="polite" aria-relevant="all">
					@if (Model != null)
	 {
		 if (Model.Count > 0)
		 {
			 foreach (var item in Model)
			 {
				 count = count + 1;
						<tr>
							<td>@count</td>
							<td>
								@{
				 string path = FileSettings.SettingValue + item.CommFilePath;
								}

								<img src="~/Images/Common/PDF.png" alt="Download PDF" title="View PDF" style="width: 21px;cursor:pointer" id="@path" onclick="ViewPDFinModal(this.id)"/>
								@if (item.CommStatus == 1)
		{ 
									<span class="badge badge-warning">Active</span> 
									<button class="btn btn-danger btn-xs" title="Delete" data-rel="tooltip" onclick="DeletePdf('@item.CommUploadID')">
										<i class="ace-icon fa fa-trash-o icon-only"></i>
									</button>
		}
		else
		{
									<button class="btn btn-danger btn-xs" title="Delete" data-rel="tooltip" onclick="MakeActiveMemberPDF('@item.CommUploadID')">
										Make Active
									</button>
		}

							</td>
							<td>@Convert.ToDateTime(item.CreatedDate).ToString("dd/MM/yyyy HH:mm tt")</td>


						</tr>

			 }
		 }
	 }
				</tbody>
			</table>
		</div>
	</div>
</div>

<div id="PDFView" style="display: none;">
	<img src="~/Content/img/cancel-icon.png" id="PDFViewCancel" style="width: 16px; cursor: pointer; margin-top: 0px; margin-left: 97%; position: absolute; z-index: 1000;" onclick="ViewPDFCancel()" data-toggle="tooltip" data-placement="right" title="Close" />
	<ol id="dvData" class="dd-list" style="">
	</ol>
</div>
<div id="overlays"></div>

<script>
	$(function () {
		$('[data-toggle="tooltip"]').tooltip();
		var oTable3 =
		$('#sample-table-91').dataTable({ "bSort": false });
	});



</script>
