﻿@model   SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.SiteSettingViewModel



<div class="row" style="border: 1px dashed #808080">
	<button type="button" class="close" style="margin-top: -1px; float: right; padding: 8px;" onclick="CloseDiv()">
		<span aria-hidden="true">Close</span><span class="sr-only">Close</span>
	</button>
	<span class="label label-lg label-pink arrowed-right" style="width: 90%; text-align: left;"><b>Update Setting</b></span>
	@using (Html.BeginForm("SaveSiteSettingsCommittee", "eFile", FormMethod.Post, new { @id = "frmSettingCommittee", @class = "form-horizontal", @role = "form" }))
 { 
		@Html.AntiForgeryToken()
		@Html.HiddenFor(m => m.SettingId)
		@Html.HiddenFor(model => model.Mode)
                                                           
		<div class="tabbable">

			<div class="tab-content no-border padding-24">
				<div class="tab-pane in active" id="news-english">

					<div class="space-2"></div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.SettingName </label>
						<div class="col-sm-9">
							<text>@Model.SettingName</text>
							<div style="display: none">
								@Html.TextBoxFor(model => model.SettingName, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.SettingName, @autocomplete = "off", @maxlength = "150" })
								<div class="help-block col-xs-12 col-sm-reset inline">
									<span class="field-validation-error" id="settnameValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
									@Html.ValidationMessageFor(model => model.SettingName)
								</div>
							</div>
						</div>

					</div>
					<div class="space-2"></div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.SettingValue</label>
						<div class="col-sm-9">
							<text>@Model.SettingValue</text>
							<div style="display: none">
								@Html.TextBoxFor(model => model.SettingValue, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.SettingValue, @autocomplete = "off", @maxlength = "150" })
								<div class="help-block col-xs-12 col-sm-reset inline">
									<span class="field-validation-error" id="SettvalueValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
									@Html.ValidationMessageFor(model => model.SettingValue)
								</div>
							</div>
						</div>



					</div>
					<div class="space-2"></div>
					@*  <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.SettingValueLocal</label>
                                                <div class="col-sm-9">
                                                    @Html.TextBoxFor(model => model.SettingValueLocal, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.SettingValueLocal, @autocomplete = "off", @maxlength = "150" })
                                                </div>

                                            </div>     *@

					<div class="space-2"></div>
					<div class="form-group">
						<label class="col-sm-3 control-label no-padding-right" for="Address">Description </label>
						<div class="col-sm-9">
							@Html.TextAreaFor(model => model.Description, new { @id = "Desc", @class = "col-xs-10 col-sm-9", @placeholder = "Description", @autocomplete = "off", @maxlength = "250" })
						</div>

					</div>

					@* <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Active </label>
                                                <div class="col-sm-9">
                                                    @Html.CheckBoxFor(model => model.IsActive)                                                                                                                           
                                                </div>
                                            </div>*@

				</div>
			</div>
		</div>                              
		<div class="btn-group pull-right padding-10">

			<button type="button" id="savebtn" class="btn btn-sm btn-purple " style="margin-bottom: 10px;" onclick="UpdateSettingsCOmm();">
				<i class="ace-icon fa fa-floppy-o bigger-125"></i>
				Update</button>
			<button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
				<i class="ace-icon fa fa-times bigger-125"></i>
				@Resources.MasterDataDashboard.Reset
			</button>

		</div>
 }

</div>

<script>
	function UpdateSettingsCOmm() {

		var model = $("#frmSettingCommittee").serialize();

		$.ajax({
			type: "POST",
			url: '/eFile/eFile/SaveSiteSettingsCommittee',
			data: model,

			success: function (result) {
				var dlg = bootbox.alert(result, function (e) {
					$(dlg).modal('hide');
				});
				$('#divPDfSettingsAdd').empty();
				$('#divPDfSettingsAdd').html("");
				$('#divPDfSettingsAdd').hide();
				ViewPDFSettings();
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.responseText);
				alert(thrownError);
			}

		});

	}
	$("#Desc").blur(function () {
		$(this).animate({
			height: '55px',
			width: '580px'
		},
           "fast"
        )
	});

	$("#Desc").focus(function () {
		$(this).animate({
			height: '200px',
			width: '580px'
		},
           "fast"
        );



	});
</script>
