﻿@using SBL.eLegistrator.HouseController.Web.Helpers
@using SBL.eLegistrator.HouseController.Web.Utility
	<div class="row">
			<div class="col-xs-12" style="min-height: 800px;margin-left:-12px;">
				<!-- PAGE CONTENT BEGINS -->
				<div class="widget-box">
					<div class="widget-header">
						
						<span id="designationText"></span>
                        @*House Committee Papers*@
						<div class="widget-toolbar"> 
                            @if (CurrentSession.BranchId != "")
                            { 
                            	<div>    
							  <button type="submit" id="ComposeLetter" class="btn btn-xs btn-primary btn-bold" onclick="CreateNewFile();" style="width: 68px;height: 39px;">
                              <span style="font-size: 17px;">New</span></button>							
							</div>
                            }
						
						</div>
					</div>                    
					<div class="widget-body">
						<div class="widget-main">
							<div class="pass-table">							
								<div id="tablecontainer">
								</div>
								<div id="ComposeLetterDiv">
								</div>
								<!-- PAGE CONTENT ENDS -->
							</div>
						</div>
					</div>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
<div id="DisplayPopup"></div>
<script>
	$(function () {
		eFileList();
	});
	function eFileList() {
		
		$("#loader-wrapper").show();
		$('.widget-box').show();
		var urlPath = '@Url.Action("GetAlleFileList", "eFile", new { Area = "eFile" })';
        $.ajax({
        	url: urlPath,
        	type: 'GET',
        	data: {},
        	success: function (data) {
        	    if (data) {
        	        $('#tablecontainer').empty();
        	        $('#divRightContainer').empty();
        	        $('#divLeftContainer').empty();
        	        $('#tablecontainer').html(data);
        	        $("#loader-wrapper").hide();
        	        $('#resize-left').width('102%');
        			$("#loader-wrapper").hide();        			
        			ChangeBreadCrumbParent("House Committee", "");
        			ChangeBreadCrumbChild("Files", "");

        		} else { alert("error"); }
        	},
        	error: function (xhr, ajaxOptions, thrownError) {
        		alert(xhr.responseText);
        		alert(thrownError);
        	}
        });

	}

</script>
 