﻿@model SBL.eLegistrator.HouseController.Web.Areas.eFile.Models.eFileViewModel

<style>
    #shadwset {
        box-shadow: 0 -3px 17px #666;
    }




    .pls_copy_inner_content {
        width: 900px;
        margin: 20px auto;
        border: 1px solid #ccc;
        min-height: 900px;
        padding: 50px;
    }

    .fileMain2 {
        color: #000;
        height: 750px;
        width: 545px;
        background: url(/Content/img/file_text_red.jpg) repeat 0 0 transparent;
        position: relative;
    }

    .file_main_header {
        width: 85%;
        font-weight: bold;
        font-size: .4cm;
        /* padding-right: 6px; */
        font-family: Verdana,Times New Roman,serif;
        /* color: rgb(69, 68, 68); */
        padding: -83px 0px 9px 5px;
        background-color: #C0A98F;
        margin-left: 41px;
        box-shadow: 0 -3px 17px #666;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .wrapper {
        width: 100%;
        margin: 0 0px;
    }

    .OverlayEffect {
        /*background-color: white;*/
        filter: alpha(opacity=40);
        opacity: 0.7;
        width: 100%;
        height: 100%;
        z-index: 400;
        position: absolute;
        top: 0;
        left: 0;
    }

    .ShowModal {
        top: 10%;
        left: 24%;
        z-index: 1000;
        position: absolute;
        background-color: White;
        display: block;
    }
</style>



<div id="shadwset">
    <div class="fileMain2">
        <div class="file_main_header">
            <div class="file_head_Title" style="padding-left: 176px; padding-top: 4px;">
                हिमाचल प्रदेश सरकार
            </div>
            <div class="file_head_year" style="padding-left: 200px; padding-top: 6px;">@Model.eFileDetail.FromYear - @Model.eFileDetail.ToYear</div>
            <div class="file_subhead_first" style="padding-left: 153px; padding-top: 8px;">" विकास ओर प्रगति का आधार "</div>
            <div class="file_subhead_second" style="padding-left: 145px; padding-top: 9px;">| | पढ़ा लिखा और छोटा परिवार   | |</div>
        </div>
        @if (ViewBag.Attached == "Y")
        { <span id="savebtnOpenFile2" class="label label-lg label-info arrowed" onclick="DisplayModal();" style="float: right; height: 24px; cursor: pointer; margin-top: 9px; margin-right: -12px;">
      <i class="ace-icon glyphicon glyphicon-search"></i>
      View File</span>}
        else
        {
	   
		  
            <div class="col-sm-12" style="float: right; position: absolute;">
                @*	<span  id="btnviewNoting" class="label label-lg label-success arrowed-right" onclick="DisplayModaleNoting();" style="float: left; height: 24px; cursor: pointer; margin-top: 9px;  margin-left: -12px;">
					<i class="ace-icon glyphicon glyphicon-search"></i>
					View Noting</span>*@

                <span id="savebtnOpenFile1" class="label label-lg label-info arrowed" onclick="DisplayModal();" style="float: right; height: 24px; cursor: pointer; margin-top: 9px; margin-right: -12px;">
                    <i class="ace-icon glyphicon glyphicon-search"></i>
                    View File</span>
            </div>
        }
        <hr style="height: 1px; border: none; /* color: #000; */ /* background-color: #BA8888; *//* color: rgb(184, 153, 153); */background-color: rgb(184, 153, 153);">

        <div class="file_subhead_second" style="padding-left: 186px; font-size: medium"><strong>HP VIDHAN SABHA </strong></div>
        <div class="file_subhead_second" style="padding-left: 186px;"><strong>@SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.BranchName</strong></div>
        <div class="wrapper">
            <table style="width: 95%; border-collapse: separate; border-spacing: 0 15px; margin: 0px 10px; font-family: Verdana,Times New Roman,serif; color: rgb(69, 68, 68);">
                <tr id="efileRow1">
                    <th style="width: 150px">Department (विभाग) 
                    </th>
                    <td>:&nbsp;</td>

                    <td>
                        @Model.DepartmentName
                    </td>
                </tr>

                @*<tr>
                    <th>Office (कार्यालय)
                    </th>
                    <td>:</td>
                    <td>@Model.eFileDetail.OfficeName
                    </td>
                </tr>*@
                <tr id="efileRow2">
                    <th>File No (नस्ती सं)
                    </th>
                    <td>:</td>
                    <td>
                        @Model.eFileDetail.eFileNumber
                    </td>
                </tr>
                <tr id="efileRow3">
                    <th>Subject (विषय)
                    </th>
                    <td>:</td>
                    <td>
                        @Model.eFileSubject
                    </td>
                </tr>
                <tr id="efileRow4" style="display: none">
                    <th>eFileID
                    </th>
                    <td>:</td>
                    <td style="display: none">
                        @Model.eFileID
                    </td>
                </tr>
            </table>

            <!--Widget start here-->

            <!--Widget end here-->

        </div>

        @Html.HiddenFor(model => model.DepartmentId)
        @Html.HiddenFor(model => model.Officecode)
        <div class="wrapper">
            <div class="file_bottom_section">
                <table class="file_bottom_section_table" style="width: 95%; margin: 0px 10px; font-family: Verdana,Times New Roman,serif; color: rgb(69, 68, 68); line-height: 30px;">
                    <tr>
                        <td style="font-weight: normal; font-size: 14px; font-weight: bold; width: 47%;">Pre - context(पूर्व - सदर्भ)
                        </td>
                        <td>&nbsp;</td>
                        <td style="font-weight: normal; font-size: 14px; font-weight: bold; width: 47%;">Future - context(भविष्य  - सदर्भ )
							
								@if (ViewBag.Attached == "Y") { }
        else
        {
@*<span class="badge badge-yellow" style="float: right; font-weight: normal; cursor: pointer; position: absolute; margin-top: 24px; margin-left: -24px; padding: 4px; border-radius: 6px;">
										<i class="ace-icon fa fa-pencil align-top bigger-125"></i>
										<a title="Edit Future - context(भविष्य  - सदर्भ )" onclick="UpdateeFile()">Edit</a></span>*@
        }
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgb(184, 153, 153); height: 300px; vertical-align: top;">

                            <span>@Html.Raw(Model.eFileDetail.OldDescription)</span>

                        </td>
                        <td>&nbsp;</td>
                        <td style="border: 1px solid rgb(184, 153, 153); height: 300px; vertical-align: top;">

                            <span>@Html.Raw(Model.eFileDetail.NewDescription)</span>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        @Html.HiddenFor(model => model.CommitteeId)
        <div class="space-2"></div>
        <div class="space-2"></div>
        <div class="space-2"></div>
        <div class="col-sm-12" style="margin-top: 3%;">

            @*@if (ViewBag.Attached == "Y")
   { }
   else
   {
				<span  id="btnviewNoting1" class="label label-lg label-success arrowed-right" onclick="DisplayModaleNoting();" style="float: left; height: 24px; cursor: pointer; margin-top: 9px;  margin-left: -12px;">
					<i class="ace-icon glyphicon glyphicon-search"></i>
					View Noting</span>*@

            <span id="savebtnOpenFile" class="label label-lg label-info arrowed" onclick="DisplayModal();" style="float: right; height: 24px; cursor: pointer; margin-top: 9px; margin-right: -12px;">
                <i class="ace-icon glyphicon glyphicon-search"></i>
                View File</span>

            <table style="box-shadow: 0 -3px 17px #666;">
                <tr>
                    <td></td>
                    <td>&nbsp;</td>
                    @*<td>
						<button type="submit" id="savebtnAddAttachment" class="btn btn-lg btn-success" onclick="DisplayModal1();">
							<i class="ace-icon fa fa-cloud-download"></i>
							Receive Paper</button>
					</td>
					<td>&nbsp;</td>
					<td>
						<button type="submit" id="SendNoticetoDept" class="btn btn-lg btn-warning" onclick="DisplayModal2();">
							<i class="ace-icon fa fa-cloud-upload"></i>
							Send Paper</button>
					</td>
					<td>&nbsp;</td>*@
                    @*	<td>
						<button type="submit" id="ReportId" class="btn btn-xs btn-primary btn-bold" onclick="GetReportPopupView();" style="width: 105px;">
							Prepare Report</button>
					</td>*@
                </tr>
            </table>
        </div>


        @* //for Button*@

        <div style="position: absolute; left: 12px; bottom: 126px">
        </div>

        <div style="position: absolute; right: 681px; bottom: 93px">
        </div>
    </div>





</div>

@* Edit EFile  Modal Box*@

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dlgRecipientGroupModelUpdate" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width: 60%; margin-left: 300px;">
            <div class="modal-header">
                <h3>Update eFile</h3>
                <button type="button" class="close" data-dismiss="modal">

                    @*<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>*@

                </button>

            </div>
            <form method="post" id="UpdateFutureText">

                <div class="modal-body">

                    <div class="col-xs-12 col-sm-12">
                        <span><strong>Future - context(भविष्य  - सदर्भ ) :  </strong></span>
                        <span style="display: none;">
                            @Html.TextBoxFor(model => model.eFileID)</span>

                        @Html.EditorFor(model => model.NewDescription, new
 {


     @name = "txtNewDescription",
     @style = "width:50px;resize:vertical;height:50px;",

 })
                    </div>



                </div>
                <div class="modal-footer" style="margin-top: 68%">
                    <button type="button" id="UpdateDebateInfo" class="btn btn-primary" onclick="UpdateFultureDesc('@Model.eFileID')">
                        <i class="ace-icon fa fa-share align-top bigger-140"></i>
                        Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dlgRecipientGroupModel1" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width: 96%; margin-left: -3%; margin-top: 8px;">
        <div class="modal-content" style="width: 100%; margin-left: 5%;">
            <div class="modal-header" style="margin-top: -15px">
                <h3>Index</h3>
                <button type="button" class="close" data-dismiss="modal" style="margin-top: -38px;">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>

            </div>
            <form method="post" id="DebateInfoForm1">

                <div class="modal-body" style="margin-top: -14px;">

                    <div class="col-xs-12 col-sm-12" id="IndexDet">
                    </div>

                </div>
                <div class="modal-footer" style="margin-top: 49%">
                    @*<button type="button" class="btn btn-default" data-dismiss="modal" style="width: 9%;  padding: 0px;  font-size: 15px;">Close</button>*@
                    <button type="button" class="btn btn-app btn-danger" data-dismiss="modal" style="width: 9%; padding: 0px; font-size: 15px;">
                        Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dlgeFileDetails" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width: 96%; margin-left: 7%;">
            <div class="modal-header" style="height: 65px;">
                <h3 style="margin-top: 1%;">ePaper Details </h3>
                <button type="button" class="close" data-dismiss="modal" style="margin-top: -6%;">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
            </div>
            <div id="divAttachedeFileDetails" class="modal-body alert alert-block alert-success">
            </div>
            <div class="modal-footer" style="margin-top: 0%; text-align: right;">
                <button type="button" class="btn btn-app btn-danger" data-dismiss="modal" style="width: 9%; padding: 0px; font-size: 15px;">
                    Close
                </button>
                @*<button type="button" class="btn btn-app btn-danger btn-sm" data-dismiss="modal">
					<i class="ace-icon glyphicon glyphicon-remove"></i>
				</button>*@

            </div>

        </div>
    </div>
</div>

@Html.HiddenFor(model => model.eFileID, new { @id = "hdneFileID" })
@Html.HiddenFor(model => model.eFileSubject, new { @id = "hdnSubject" })
@Html.HiddenFor(model => model.eFileDetail.eFileNumber, new { @id = "hdnNumber" })

<script type="text/javascript">

    function DisplayModalPopup() {
        $('#modalMsg').show();
        document.getElementById("overlay").className = "OverlayEffect";
        document.getElementById("modalMsg").className = "ShowModal";

    }
    function RemoveModal() {
        document.getElementById("overlay").className = "";
        $('#modalMsg').hide();
    }

    function CancelAttachemnt() {
        document.getElementById("overlay").className = "";
        $('#modalMsgAttachment').hide();
    }

    function DisplayModaleNoting() {



        $("#loader-wrapper").show();


        $.ajax({
            url: "/eFile/eFile/_eFileBookViewByIDPartial",
            type: 'GET',
            data: {
                eFileID: '@Model.eFileID',
			    eFileSubject: '@Model.eFileSubject',
			    eFileNumber: '@Model.eFileDetail.eFileNumber'
			},
		    success: function (data) {
		        if (data) {

		            $('#modalMsg').show("slow");
		            document.getElementById("overlay").className = "OverlayEffect";
		            document.getElementById("modalMsg").className = "ShowModal";

		            $("#modalMsg").html(data);
		            //$("#testId").animate({ scrollTop: 0 }, "fast");
		            $('body, html, #modalMsg').scrollTop(-10);
		            $("#loader-wrapper").hide();

		        } else { alert("error"); }
		    },
		    error: function (xhr, ajaxOptions, thrownError) {
		        alert(xhr.responseText);
		        alert(thrownError);
		    }
		});

    }



  @*  function DisplayModal() {
        alert(@Model.eFileID)  
        alert(@Model.eFileSubject) 
        alert(@Model.eFileDetail.eFileNumber) 
    }*@



    function DisplayModal() {
        //alert('g');
        var eFileID = document.getElementById("hdneFileID").value;
        var eFileSubject = document.getElementById("hdnSubject").value;
        var eFileNumber = document.getElementById("hdnNumber").value;
        // Updated praveen
        $("#loader-wrapper").show();

        //var mtext1 = $("#efileRow1").find('td:eq(2)').text().trim();
        //var mtext2 = $("#efileRow2").find('td:eq(2)').text().trim();
        //var mtext3 = $("#efileRow3").find('td:eq(2)').text().trim();
        //var mtext4 = $("#efileRow4").find('td:eq(2)').text().trim();
        //alert(eFileID);
        //alert(eFileSubject);
        //alert(eFileNumber);
        $.ajax({
            url: "/HouseCommittee/HouseCommittee/eFileIndexDetails",
            type: 'GET',
            data: {
                eFileID: eFileID,
                eFileSubject: eFileSubject,
                eFileNumber: eFileNumber
            },
            success: function (data) {
                if (data) {

                    //$("#IndexDet").html("");
                    //$("#IndexDet").html(data);

                    //$("#dlgRecipientGroupModel1").modal('show');

                    //$("#loader-wrapper").hide();

                    $('#modalMsg').show("slow");
                    document.getElementById("overlay").className = "OverlayEffect";
                    document.getElementById("modalMsg").className = "ShowModal";

                    $("#modalMsg").html(data);
                    //$("#testId").animate({ scrollTop: 0 }, "fast");
                    $('body, html, #modalMsg').scrollTop(-10);
                    $("#loader-wrapper").hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }

    function DisplayModal1() {
        $('body, html, #modalMsgAttachment').scrollTop(-10);
        var mtext4 = $("#efileRow4").find('td:eq(2)').text().trim();
        $.ajax({
            url: "/eFile/eFile/SendAttachmenttoEfile",
            type: 'GET',
            data: {
                eFileID: mtext4,
                CommitteeId: '@Model.CommitteeId',
				Type: "AttachPaper",
				DepartmentId: '@Model.DepartmentId',
				OfficeCode: '@Model.Officecode'
			},
		    success: function (data) {
		        if (data) {
		            //$('.main-content').hide();
		            //$("#sidebar").hide();
		            //$('.page-content').hide();
		            $('#modalMsgAttachment').show("slow");
		            document.getElementById("overlay").className = "OverlayEffect";
		            document.getElementById("modalMsgAttachment").className = "ShowModal";
		            $("#modalMsgAttachment").html(data);
		        } else { alert("error"); }
		    },
		    error: function (xhr, ajaxOptions, thrownError) {
		        alert(xhr.responseText);
		        alert(thrownError);
		    }
		});

    }

    function DisplayModal2() {
        $('body, html, #modalMsgAttachment').scrollTop(-10);
        var mtext4 = $("#efileRow4").find('td:eq(2)').text().trim();
        $.ajax({
            url: "/eFile/eFile/SendAttachmenttoEfile",
            type: 'GET',
            data: {
                eFileID: mtext4,
                CommitteeId: '@Model.CommitteeId',
				Type: "SendNoticetoDept",
				DepartmentId: '@Model.DepartmentId',
				OfficeCode: '@Model.Officecode'

			},
		    success: function (data) {
		        if (data) {
		            $('#modalMsgAttachment').show("slow");
		            document.getElementById("overlay").className = "OverlayEffect";
		            document.getElementById("modalMsgAttachment").className = "ShowModal";
		            $("#modalMsgAttachment").html(data);
		        } else { alert("error"); }
		    },
		    error: function (xhr, ajaxOptions, thrownError) {
		        alert(xhr.responseText);
		        alert(thrownError);
		    }
		});

    }

    function GeteFileBaseDept() {
        $.ajax({
            type: 'GET',
            data: {
                departmentId: $("#DepartmentId").val()
            },
            url: '/eFile/eFile/GeteFileBaseDept',
            datatype: 'json',
            success: function (eFiles) {
                $.each(eFiles, function (key, value) {
                    $('#ddleFileId').append($("<option></option>").val(value.eFileID).html(value.eFileNumber));
                });
            },
            error: function (data) {
                alert("error found");
            }
        });

        //$('body, html, #sendNotice').scrollTop(-10);
        //$("#sendNotice").show("slow");
        //document.getElementById("overlay").className = "OverlayEffect";
        //document.getElementById("sendNotice").className = "ShowModal";
    }

    function GetReportPopupView() {
        $('body, html, #modalMsgAttachment').scrollTop(-10); overlay
        $('#ReportLayingHouse').datepicker();
        var mtext4 = $("#efileRow4").find('td:eq(2)').text().trim();
        $.ajax({
            url: "/eFile/eFile/SendAttachmenttoEfile",
            type: 'GET',
            data: {
                eFileID: mtext4,
                CommitteeId: '@Model.CommitteeId',
				Type: "Report"
			},
		    success: function (data) {
		        if (data) {
		            //$('.main-content').hide();
		            //$("#sidebar").hide();
		            //$('.page-content').hide();
		            $('#modalMsgAttachment').show("slow");
		            document.getElementById("overlay").className = "OverlayEffect";
		            document.getElementById("modalMsgAttachment").className = "ShowModal";
		            $("#modalMsgAttachment").html(data);
		        } else { alert("error"); }
		    },
		    error: function (xhr, ajaxOptions, thrownError) {
		        alert(xhr.responseText);
		        alert(thrownError);
		    }
		});
    }


    $.fn.center = function () {
        //this.css("position", "fixed");
        this.css("top", ($(window).height() / 2 - this.height() / 2) + "px");
        this.css("left", ($(window).width() / 2 - this.width() / 2) + "px");
        return this;
    }
    function CancelNoticetoDept() {
        document.getElementById("overlay").className = "";
        $('#sendNotice').hide();

    }


    //Shashi
    function UpdateeFile(efileid) {

        $('#dlgRecipientGroupModelUpdate').modal('show');
    }
    function UpdateFultureDesc(efid) {

        $("#loader-wrapper").show();
        var mdl = $('#UpdateFutureText').serialize();

        $.ajax({
            url: "/eFile/eFile/UpdateEFileNewDesc",
            type: 'GET',
            data: mdl,

            success: function (data) {


                var dlg = bootbox.alert(data, function (e) {
                    $(dlg).modal('hide');
                });

                $("#NewDescription").html("");
                $('#dlgRecipientGroupModelUpdate').modal('hide');
                getEFile(efid);

            },
            error: function (xhr, ajaxOptions, thrownError) {
                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {
                    $(dlg).modal('hide');
                });
            },
            complete: function () {
                //$('#dlgRecipientGroupModel').modal('hide');
            }
        });
    }


</script>
