﻿@model SBL.DomainModel.Models.CommitteeReport.tCommitteReplyPendency
<link href="~/assets/css/datepicker.css" rel="stylesheet" />

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.PendencyId)   
    <input id="messageDisplay" type="hidden" style="display: none;" />
    
    <div class="col-sm-12" style="width: 98%;">
        <div class="widget-box">
            <div class="widget-body" id="live-chat">
                    <a href="#" class="chat-close">x</a>
 @*       <a href="#" class="Maximise-chat"></a>*@
		<header class="clearfix">
			<h4>New</h4>
		</header>
                	<div class="chat">
                        <div class="chat-history" >
                 <div class="chat-message clearfix">                     			
			    <div class="chat-message clearfix">
				 <div class="chat-message-content clearfix">
				     <div id="divCommittee" class="profile-info-row">
							<div class="profile-info-name"  style="text-align:left;padding-left: 16px;font-weight:bold;width: 130px;color:#053062;"> Committee: </div>
						    <div class="profile-info-value" style="padding-left: 15px;"> 
									<label>
                                         @Html.DropDownListFor(m => m.CommitteeId, new SelectList(Model.tCommitteeList, "CommitteeId", "CommitteeName"), "Choose Committee", new {  @required = "required",style="width: 133%;color:Black;" })
                                 	</label>
								</div>
                            <div class="profile-info-name" style="text-align:left;padding-left: 138px;font-weight:bold;width: 247px;color:#053062;vertical-align: baseline;">Department : </div>
                            <div class="profile-info-value" style="padding-left: 10px;"> 
									<label>	                  
                                       @Html.DropDownListFor(m => m.DepartmentId,  new SelectList(Model.mDepartmentList, "DeptId", "DeptName"), "Choose Department", new {  @required = "required",style="width: 73%;color:Black;" })
                                     </label>                           
								</div>
						 </div>
					</div> 
				 </div> 
                     <hr /><br />
				<div class="chat-message-content clearfix" id="abc" >						
				<div id="divDept"  class="profile-info-row" style="padding-top:4px;border-top:0px;">							
                            <div class="profile-info-name"  style="text-align:left;font-weight:bold;width: 130px;color:#053062;padding-left: 17px;padding-right: 49px;"><span style="position:absolute;margin-top:-12px;">Financial Year:</span>  </div>
					<div style="padding-left: 19px;padding-right: 12px;font-weight:bold;"><span style="position: absolute;padding-top: 16px;">From</span></div>			
                    <div class="profile-info-value" style="padding-left: 5px;"> 
									<label>
                                      	 @Html.HiddenFor(model => model.CheckFinancialYear)
                                        @Html.HiddenFor(model => model.FinancialYear)
                                        <textarea id="FromFY" style="height: 37px;width: 100px;margin-left: 30px;color:Black;"></textarea>
									</label>
								</div>
				     <div style="padding-left: 12px;padding-right: 12px;font-weight:bold;"><span style="position: absolute;padding-top: 16px;">To</span></div>	
                     <div class="profile-info-value" style="padding-left: 15px;"> 
									<label>
                                      	 @Html.HiddenFor(model => model.CheckFinancialYear)
                                        @Html.HiddenFor(model => model.FinancialYear)                                      
                                        <textarea id="ToFY" style="height: 37px;width: 100px;color:Black;"></textarea>
									</label>
								</div></div>
				</div>
              	<hr>		
<br />
				<div class="chat-message clearfix">
					<div class="chat-message-content clearfix">						
				         <div>	
                      <div class="profile-info-row">
							<div class="profile-info-name" style="text-align:left;padding-left: 16px;font-weight:bold;width: 130px;color:#053062;">File Type:</div>
							<div class="profile-info-value" style="padding-left: 15px;">
								<div>
									<label>
										  @Html.HiddenFor(model => model.CheckItemTypeId)
                                        @Html.DropDownListFor(model => model.ItemTypeId, new SelectList(Model.mCommitteeReplyItemTypeList, "Id", "ItemTypeName", new SelectListItem { Value = "0", Text = "Pendency By" }), new { @id = "NewItemId",style="width: 159%;height: 34px;color:Black;" })
                                       
                                         </label>
								</div>
							</div>                          
						</div>
                       </div>
                         <div> 
                      <div class="profile-info-row">
                         <div class="profile-info-name" style="text-align:left;padding-left: 17px;font-weight:bold;width: 135px;color:#053062;vertical-align: baseline;"> File Number: </div>
                            <div class="profile-info-value" style="padding-left: 10px;position:fixed"> 
									<label>	                  
                                     <textarea id="ItemNumber" style="height: 37px;width: 346px;color:Black;"></textarea>
                                    </label>                            
								</div>
                          </div>
                       </div>
                        </br>
                         <div style="margin-bottom: -6px;"> 
                      <div class="profile-info-row">
							<div class="profile-info-name" style="text-align:left;padding-left: 16px;font-weight:bold;width: 130px;color:#053062;">File Subject:</div>
							<div class="profile-info-value" style="padding-left: 15px;">
								<div>
									<label>	                  
                                      @Html.EditorFor(m => m.ItemDescription, new { @tabindex = "10",style="color:Black;" })
                                    </label>
								</div>
							</div>                        
						</div>
                       </div>
                         <div>
                          <div class="profile-info-row">
							<div class="profile-info-name" style="text-align:left;padding-left: 16px;font-weight:bold;width: 130px;color:#053062;">Link Previous File :</div>
							<div class="profile-info-value" style="padding-left: 15px;">
								<div>
                                    @Html.DropDownList("eFileID", ViewBag.EFilesListAll as SelectList,"--Select eFile--", new {@id = "LinkFile",@required = "required",style="width: 328px;" })
                                
                                </div>
							</div>         
						</div>
                     </div>
					</div> 
				</div>    
				<hr>
                <br />
                
			</div> <!-- end chat-history -->
                <button style="margin-bottom:-32px;margin-left:1003px;" type="button" id="SaveNsend" onclick="return SaveFileEntry();" class="btn btn-sm btn-purple">
                                    <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                    Save
                         </button>

               
		</div> <!-- end chat -->
              
	</div> <!-- end live-chat -->
                <div class="chat-message clearfix">	
					<div class="chat-message-content clearfix">
					</div> <!-- end chat-message-content -->
				</div>         
            </div>
        </div>
    </div>

<link rel="stylesheet" href="~/assets/css/chosen.css" />
<script src="~/assets/js/chosen.jquery.min.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>
<style>
.custom_file {
  margin: auto;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
</style>
<style>
    body {
	background: #e9e9e9;
	margin: 0;
}

a { text-decoration: none; }
h4, h5 {
	line-height: 1.5em;
	margin: 0;
}

hr {
	background: #e9e9e9;
    border:1px solid #e9e9e9;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 1px;
    margin: 0;
    /*min-height: 1px;*/
}


input {
	border: 0;
	color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
}

p { margin: 0; }

/*.clearfix { *zoom: 1; }*/ /* For IE 6/7 */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both; }

/* ---------- LIVE-CHAT ---------- */

#live-chat {
	bottom: 0;
	font-size: 14px;
	/*right: 132px;*/
    right: 2%;
	position: fixed;
	/*width: 1054px;*/
    width: 82%;
    border-style:groove;
}
#live-chat-1 {
	bottom: 288px;
	font-size: 14px;
	right: 105px;
	position: absolute;
	width: 1081px;
    border-style:groove;
}
#live-chat-1 header {
	background: #293239;
	border-radius: 5px 5px 0 0;
	color: #fff;
	cursor: pointer;
	padding: 16px 24px;
}

#live-chat header {
	background: #293239;
	border-radius: 5px 5px 0 0;
	color: #fff;
	cursor: pointer;
	padding: 16px 24px;
}

#live-chat h4:before {
	background: #1a8a34;
	border-radius: 50%;
	content: "";
	display: inline-block;
	height: 8px;
	margin: 0 8px 0 0;
	width: 8px;
}

#live-chat h4 {
	font-size: 12px;
}

#live-chat h5 {
	font-size: 10px;
}

#live-chat form {
	padding: 20px;
   
}

#live-chat input[type="text"] {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 8px;
	outline: none;
	width: 502px;
}

.chat-message-counter {
	background: #e62727;
	border: 1px solid #fff;
	border-radius: 50%;
	display: none;
	font-size: 12px;
	font-weight: bold;
	height: 28px;
	left: 0;
	line-height: 28px;
	margin: -15px 0 0 -15px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 28px;
}

.chat-close {
	background: #1b2126;
	border-radius: 50%;
	color: #fff;
	display: block;
	float: right;
	font-size: 18px;
	height: 16px;
	line-height: 16px;
	margin: 2px 0 0 0;
	text-align: center;
	width: 16px;
}
.Maximise-chat{
	background: #1b2126;
	border-radius: 50%;
	color: #fff;
	display: block;
	float: right;
	font-size: 18px;
	height: 16px;
	line-height: 16px;
	margin: 2px 0 0 0;
	text-align: center;
	width: 16px;
}
.chat {
	background: #fff;
   
}

.chat-history {
	height: 544px;
	padding: 8px 0px;
	overflow-y: scroll;
    
    /*height: 60%;*/
}

.chat-message {
	margin: 0px 0;
}
.chat-message-content {
	margin-left: 0px;
}

.chat-time {
	float: right;
	font-size: 10px;
}

.chat-feedback {
	font-style: italic;	
	margin: 0 0 0 80px;
}

</style>
<script>
    (function () {

        $('#live-chat header').on('click', function () {
            $('.chat').slideToggle(300, 'swing');
            $('.chat-message-counter').fadeToggle(300, 'swing');            
        });

        $('.chat-close').on('click', function (e) {
            e.preventDefault();
            $('#live-chat').fadeOut(300);
        });

        $(".Maximise-chat").click(function () {
            var element = document.getElementById("live-chat");
            if ($(element).attr("id") === "live-chat") {
                $(element).attr("id", "live-chat-1");
            } else if (element === null) {             
                var element = document.getElementById("live-chat-1");
                $(element).attr("id", "live-chat");
            }
            else {
                $(element).attr("id", "live-chat");
            }
        });
    })();
</script>


<script>
    $(document).ready(function () {
        $('#datepickerinput').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy",
            defaultDate: new Date()
        });
        var today = new Date();
        $("#datepickerinput").datepicker("setDate", today);
        $('.dataTables_paginate.paging_bootstrap li.active').removeClass('active');
        $('.footer').removeClass('footer');
        //code for financial year...
        var currentYear = new Date().getFullYear();
        for (var i = 1; i <= 20; i++) {
            $("#financialYearView").append(
                $("<option></option>")
                    .attr("value", currentYear)
                    .text(currentYear)
            );
            currentYear--;
        }
        for (var i = 1; i <= 20; i++) {
            $("#financialYearView1").append(
                $("<option></option>")
                    .attr("value", currentYear)
                    .text(currentYear)
            );
            currentYear++;
        }
        $("#DisplayPopup").show();
        $("#removeUpload").hide();

    });
    function SaveFileEntry()
    {
        var SelectedCommittee = document.getElementById("CommitteeId");
        var SelectedCommitteeId = SelectedCommittee.options[SelectedCommittee.selectedIndex].value;
        var SelectedCommitteetext = SelectedCommittee.options[SelectedCommittee.selectedIndex].text;
        
        if (SelectedCommitteeId == "")
        {
            alert("Please Select committee Name.");
            return false;
        }
       
        var SelectedDepartment = document.getElementById("DepartmentId");
        var SelectedDepartmentId = SelectedDepartment.options[SelectedDepartment.selectedIndex].value;       
        var SelectedDepartmenttext = SelectedDepartment.options[SelectedDepartment.selectedIndex].text;
       
        if (SelectedDepartmentId == "")
        {
            alert("Please Select departement Name.");
            return false;
        }

        var SelectedFromFY = $('#FromFY').val();
        
        if (SelectedFromFY == "") {
            alert("Please Enter the Item Number");
            return false;
        }

        var SelectedToFY = $('#ToFY').val();
        
        if (SelectedToFY == "") {
            alert("Please Enter the Item Number");
            return false;
        }

        var SelectedItemtype = document.getElementById("NewItemId");
        var SelectedItemtypeId = SelectedItemtype.options[SelectedItemtype.selectedIndex].value;
        var SelectedItemtypetext = SelectedItemtype.options[SelectedItemtype.selectedIndex].text;
      
        if (SelectedItemtypeId === "")
        {
            alert("Please Select Item type.");
            return false;
        }

        var FileNumber = $('#ItemNumber').val();
        if (FileNumber == "")
        {
            alert("Please Enter the File Number");
            return false;
        }

        var SelectedDescription = $('textarea#ItemDescription').val();        
        if (SelectedDescription == "")
        {
            alert("Please Enter the Subject");
            return false;
        }

        var SelectedUID = document.getElementById("LinkFile");
        var SelectedUIDStatusIs = SelectedUID.options[SelectedUID.selectedIndex].value;
        var SelectedUIDStatustext = SelectedUID.options[SelectedUID.selectedIndex].text;

        var Datalist = new Array();
        var Letterdata = {          
            CommitteeId: SelectedCommitteeId,
            DepartmentId: SelectedDepartmentId,
            FromYear: SelectedFromFY,
            ToYear: SelectedToFY,
            eFileTypeId: SelectedItemtypeId,
            //ItemName: SelectedItemtypetext,
            eFileNumber: FileNumber,
            eFileSubject: SelectedDescription,
            PreviousLinkId: SelectedUIDStatusIs,
            //FileAttched_DraftId: SelectedUIDStatusIs,
        }
        Datalist.push(Letterdata);       
        $("#loader-wrapper").show();
        var pathurl1 = "@Url.Action("SaveNewFileEntry", "eFile")";        
        $.ajax({
            url: pathurl1,
            dataType: "html",
            data: JSON.stringify(Datalist),
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (result) {               
                alert("Successfully Saved");
                //For reloading list
                var pathurl = "@Url.Action("GetAlleFileList", "eFile")";
                $.ajax({
                    url: pathurl,
                    type: 'GET',
                    data: { pageId: "1", pageSize: "25", },
                    success: function (data) {
                        $('#tablecontainer').empty();
                        $('#divRightContainer').empty();
                        $('#divLeftContainer').empty();
                        $('#tablecontainer').html(data);
                        $("#loader-wrapper").hide();
                        $('#resize-left').width('102%');
                        $("#DisplayPopup").empty();
                        $("#DisplayPopup").hide();                       
                    }
                });
                $("#loader-wrapper").hide();
            },
            error: function (xhr) {
                alert("Please Try Again");
            }
        });
    }


   
</script>
<script>
    $("#CommitteeId").change(function () {

        var CommitteeId = this.value;
        $.ajax({
            url: "/HouseCommittee/HouseCommittee/nGeteFileByCommitteeId",
            type: 'POST',
            data: {
                CommitteeId: CommitteeId
            },
            success: function (data) {
                $('#LinkFile').html('');               
                var option = '';
                if (data.length > 0) {
                    option += '<option value="' + '0' + '">' + '--Select eFile--' + '</option>';
                    for (var i = 0; i < data.length; i++) {
                        var yearandfileno = data[i].FromYear + ' ' + '(' + data[i].eFileNumber + ')';
                        option += '<option value="' + data[i].eFileID + '">' + yearandfileno + '</option>';
                    }                   
                    document.getElementById("LinkFile").style.width = "345px";
                    $('#LinkFile').append(option);
                }
                else {
                    $('#LinkFile').html('');
                    option += '<option value="0">No File Exist</option>';
                    $('#LinkFile').append(option);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    });
</script>
