﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
<script>
    $(function () {
        GetMeetingFilter();
    });
    //"/eFile/eFile/GetMeetingView",
    function GetMeetingFilter() {
        $("#loader-wrapper").show();
        var pageId = "1";
        var pageSize = "25"
        $.ajax({
            url: "@Url.Action("GetMeetingView","eFile",new{Area="eFile"})", 
            type: 'GET',
            data: { pageId: pageId, pageSize: pageSize },
            success: function (data) {
                if (data) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').html(data);
                    $("#loader-wrapper").hide();
                    $('#resize-left').width('100%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '0%' }, 500);
                    ChangeBreadCrumbParent("e-Committee", "");
                    ChangeBreadCrumbChild("Meeting Agenda", "");
                    $("#MainDiveThreeTire").show();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }

</script>