﻿@model SBL.eLegistrator.HouseController.Web.Areas.ListOfBusiness.Models.LOBModel
@*@model Tuple<SBL.eLegistrator.HouseController.Web.Areas.ListOfBusiness.Models.LOBModel, SBL.eLegistrator.HouseController.Web.Areas.Legislative.Models.PaperLaidSummaryViewModel>*@

@{
    ViewBag.Title = "LOB";
    //Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    int count = 0;
    int Acount = 0;
    }

@*@if (@Model.Item2.UserDesignation == "Vidhan Sabha Secretary")
{ 
@Html.Partial("~/Areas/Notices/Views/LegislationFixation/_LeftNavigationMenu.cshtml", @Model.Item2)
}
else if (@Model.Item2.CurrentUserName == "Jitender Singh Kanwar")
{ 
@Html.Partial("~/Areas/Notices/Views/LegislationFixation/_LeftNavigationMenu.cshtml", @Model.Item2)
}
else
{
@Html.Partial("_LeftMenu")
}*@
@*@Html.Partial("_LeftMenu")*@
@*<link href="~/Content/SBL/typography.css" rel="stylesheet" />*@
@if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.RoleID.ToUpper() == "")
{
    ViewBag.Title = "LOB";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    @Html.Partial("_LeftMenu")
    
}

  
@using Resources
@{ 
   
    int startpage = 0;
    int endPage = 0; 
}

@{
                
    float rcnt = @Model.ResultCount;
    float rperPage = @Model.RowsPerPage;
    float cnt = rcnt / rperPage;
    int b = (int)cnt; ;
    float c = (float)cnt - b;
                
}
@if (c > 0)
{
    count = b + 1;
}
else
{
    count = b;
}
@{
    startpage = ((@Model.selectedPage * 50) - 50) + 1;
    endPage = startpage + 49;
           
}
@if (Model.loopStart <= 0)
{
    Model.loopStart = 1;
    Model.loopEnd = 5;
}


@*<div><b> @Resources.LOB.SubmittedLOB : </b></div>*@
<br />

<div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
          
        </div>
        <div class="page-header">
            <h1>Approve LOB
                
            </h1>
        </div>

<div class="accordion-style1 panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-body">

                <div class="pass-table">

                    <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                        @if (count > 0)
                        {
                            <div class="row">

                                <div class="col-xs-6">
                                    <div class="dataTables_paginate paging_bootstrap" style="text-align: left">
                                        @if (count > 0)
                                        {
                                            if (count < Model.loopEnd)
                                            {
                                                Model.loopEnd = count;
                                            }
                                            <ul class="pagination">
                                                <li class="prev">
                                                    <a href="#" onclick="NextButton(@Model.RowsPerPage,1,1,5)">
                                                        <i class="fa fa-angle-double-left"></i>

                                                    </a>

                                                </li>
                                                @if (Model.loopStart > 5)
                                                {    
                                                    <li class="prev">
                                                        <a href="#" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)">
                                                            <i class="fa fa-angle-left"></i>

                                                        </a>

                                                    </li>
                                                }

                                                @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                                                {
                                                    if (i == @Model.selectedPage)
                                                    {
                                    
                                                    <li class="active">
                                                        <a href="#">
                                                            @i
                                                        </a>
                                                    </li>
                                                    }
                                                    else
                                                    {
                                                    <li>
                                                        <a href="#"  onclick="NextButton(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)">
                                                            @i
                                                        </a>
                                                    </li>
                             
@*<li><a href="#"   onclick="NextButton(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>*@
                                                    }
                                                }
                                                @if (Model.loopStart + 5 < @count)
                                                {
                  
                                                    <li class="next">
                                                        <a href="#" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)">
                                                            <i class="fa fa-angle-right"></i>

                                                        </a>

                                                    </li>
                                                }

                                                <li class="next">
                                                    <a href="#" onclick="NextButton(@Model.RowsPerPage,@count,@count-5,@count)">
                                                        <i class="fa fa-angle-double-right"></i>

                                                    </a>

                                                </li>

                                            </ul>
                                        }
                                    </div>

                                </div>
                                <div class="col-xs-6">
                                    <div class="dataTables_info" id="sample-table-2_info" style="text-align: right">
                                        @Model.loopStart - @Model.loopEnd Of @count Pages.

                                    </div>

                                </div>
                            </div>
                        }


                        @if (Model.ListLOBBYId != null)
                        {
                            if (Model.ListLOBBYId.Count > 0)
                            {
                            <table style="width: 100%" class="table table-striped table-bordered table-hover dataTable" aria-describedby="sample-table-2_info">
                                <thead>
                                    
                                    <tr role="row">
                                        <th id="th1" class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 20%">
                                            <b>@Resources.LOB.Assembly</b>
                                        </th>
                                        <th id="th2" class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 20%">
                                            <b>@Resources.LOB.Session</b>
                                        </th>
                                        <th id="th3" class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 9%">
                                            <b>@Resources.LOB.SessionDate</b>
                                        </th>
                                        <th id="th4" class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 9%">
                                            <b>LOB As PDF</b>
                                        </th>
                                        <th id="th8" class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 9%">
                                            <b>@Resources.LOB.SubmittedDate </b>
                                        </th>
                                        <th id="th8" class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 9%">
                                            <b>@Resources.LOB.SubmittedTime </b>
                                        </th>
                                        <th id="th8" class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 9%">
                                            <b>@Resources.LOB.Status </b>
                                        </th>

                                        <th id="th8" class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 15%">
                                            <b>@Resources.LOB.Actions </b>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    @foreach (var item in Model.ListLOBBYId)
                                    {
                                        <tr style="height: 40px">
                                            <td style="text-align: center">
                                                @item.AssemblyName
                                            </td>
                                            <td style="text-align: center">
                                                @item.SessionName
                                            </td>
                                            <td id="SessionDate" style="text-align: center">
                                                @if (item.SessionDate != null)
                                                {
                                                    <div>@Convert.ToDateTime(item.SessionDate).ToString("dd/MM/yyyy")</div>
                                                }

                                            </td>
                                            <td style="text-align: center;width:50px">

                                                @*@Html.ActionLink(Resources.LOB.lblLOB, "ShowSubmittedLOB", "ListOfBusiness", new { LOBId = item.LOBId }, new { target = "_blank", @class = "classname" })*@
                                                @if (Convert.ToBoolean(item.IsCorrigendum))
                                                {
                                                   
                                                    <a id="LOBPDF" style="padding-left: 5px;" href="@item.PDFLocation" target="_blank" class = "classname">Revised</a>
                                                    @Html.ActionLink("XML", "GenerateXMLlob", "BusinessWork", new { LOBId = @item.LOBId }, new { target = "_blank" })
                                                }
                                                else
                                                {
                                                    <button style="margin-bottom: -7px;background: transparent;border-style: hidden;" value="@Convert.ToDateTime(item.SessionDate).ToString("dd/MM/yyyy")" id='GenerateLOBPdf' type='button';>
                                                    <i class="">  <img src="~/Images/Common/PDF1.png" style="padding-bottom: 4px;" /></i> </button>@*
                                                      <a  id="LOBPDF" style="padding-left: 5px;" href="@item.PDFLocation" target="_blank" class = "classname">Pdf</a>*@
                                                    @Html.ActionLink("XML", "GenerateXMLlob", "BusinessWork", new { LOBId = @item.LOBId }, new { target = "_blank" })   
                                                }
                                                @*<div style="padding-left: 5px; text-decoration: underline; color: blue;cursor:pointer;" onclick="LoadLobAsPdf('@item.LOBId')">
                LOB AS PDF
            </div>*@
                                            </td>
                                            <td style="text-align: center;">
                                                @if (item.SubmittedDate != null)
                                                {
                                                    <div>@Convert.ToDateTime(item.SubmittedDate).ToString("dd/MM/yyyy")</div>
                                                }
            


                                            </td>
                                            <td style="text-align: center;">
                                                @item.SubmittedTime
                                            </td>
                                            <td style="text-align: center;">
                                                @if (Convert.ToBoolean(item.IsApproved))
                                                {
                                                    @Resources.LOB.Approved
                                                }
                                                else
                                                {
                                                   <p>Pending for Approval</p>
                                                }
                                            </td>
                                            <td style="text-align: center;">
                                                @if (item.IsCorrisandumPending)
                                                {
                                                    <div style="margin: 7% 0 0 -82%;">

                                                        @* <a  id="Updateline" onclick="UpdatePageBreak('@item.LOBId')" title="@Resources.LOB.Update @Resources.LOB.PageBreak" style="padding-left: 15px;">
                                                    <img id="PageBreak1" src="~/Content/img/PageBreak.jpg" style="height: 35px; width: 50px" /></a>*@

                                                       @* <a data-rel="tooltip" id="Updateline" class="tooltip-success" title="@Resources.LOB.Update @Resources.LOB.PageBreak"   onclick="UpdatePageBreak('@item.LOBId')" >
                                                            <i class="blue ace-icon fa fa-clipboard bigger-120"></i>
                                                        </a>*@

                                                    </div>
                
                                                    <div style="margin: -19px 0 0 -22%;">
                                                        @* <a  id="Updateline" onclick="CorrigendumLOB('@item.LOBId')" title="Revised" style="padding-left: 15px;">
                                                    <img src="~/Images/Common/edit.jpg" width="35px" height="35px" /></a>*@

                                                      @*  <a data-rel="tooltip" id="Updateline" class="tooltip-success" title="Revised"   onclick="CorrigendumLOB('@item.LOBId')" >
                                                            <i class="green ace-icon fa fa-pencil bigger-120"></i>
                                                        </a>*@
                                                        @*<button type="button" id="Updateline" class="small-button blue" onclick="UpdateLOB('@item.LOBId')" style="height: 30px; margin-right:10px">@Resources.LOB.Update</button>*@
                                                    </div>
            
                                                    <div style="margin: -32px 0 0 62%;">
                                                        @*   <a id="LOBPDF" href="@item.PDFLocation" target="_blank" class = "classname1"> LOB with corrigendum as PDF</a>*@
                                                   @*     @Html.ActionLink("LOB AS PDF", "GenerateXMLlob", "ListOfBusiness", new { LOBId = @item.LOBId }, new { title = Resources.LOB.generateEBook, target = "_blank", @class = "classname1" })
                                                   *@
                                                         </div>
                                                }
                                                else
                                                {
                                                    <div >
                                                        @*<a id="LOBPDF" href="@item.PDFLocation" target="_blank" class = "classname1"> LOB AS PDF</a>*@
                                                        @*@Html.ActionLink("LOB AS PDF", "GenerateXMLlob", "ListOfBusiness", new { LOBId = @item.LOBId }, new { title = Resources.LOB.generateEBook, target = "_blank", @class = "classname1" })
                                                   *@
                                                    
                                                         <button style="border-radius: 10px" class="btn btn-danger" id="@Convert.ToDateTime(item.SessionDate).ToString("dd/MM/yyyy")" type='button' onclick="UnFreezeLOB(this)";>
                                                        <span class="glyphicon glyphicon-lock"></span> Un-Freeze</button>

                                                      
                                                      
                                                 @if (Convert.ToBoolean(item.IsApproved))
                                                 {
                                                    <button style="border-radius: 10px;margin-top: 3px;" class="btn btn-primary btn-primary" disabled id='ViewPapers' type='button'>
                                                    <span class="glyphicon glyphicon-list-alt"></span>    Approve</button>
                                                   
                    
                                                 }
                                                 else
                                                 {
                                                     <button style="border-radius: 10px;margin-top: 3px;" class="btn btn-primary btn-primary" id='ViewPapers1' type='button'  onclick='ApproveLOB(@item.LOBId)';>
                                                     <span class="glyphicon glyphicon-list-alt"></span>    Approve</button>
                                                    
                                                 }
                                                         
                                                         </div>  
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            }
                            else
                            {
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="alert alert-info">
                                        <strong>No Record Found!</strong><br />
                                    </div>
                                </div>
                            </div>
        
                            }
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="alert alert-info">
                                        <strong>No Record Found!</strong><br />
                                    </div>
                                </div>
                            </div>
        
                        }
                        @if (count > 0)
                        {
                            <div class="row">

                                <div class="col-xs-6">
                                    <div class="dataTables_paginate paging_bootstrap" style="text-align: left">
                                        @if (count > 0)
                                        {
                                            if (count < Model.loopEnd)
                                            {
                                                Model.loopEnd = count;
                                            }
                                            <ul class="pagination">
                                                <li class="prev">
                                                    <a href="#" onclick="NextButton(@Model.RowsPerPage,1,1,5)">
                                                        <i class="fa fa-angle-double-left"></i>

                                                    </a>

                                                </li>
                                                @if (Model.loopStart > 5)
                                                {    
                                                    <li class="prev">
                                                        <a href="#" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)">
                                                            <i class="fa fa-angle-left"></i>

                                                        </a>

                                                    </li>
                                                }

                                                @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                                                {
                                                    if (i == @Model.selectedPage)
                                                    {
                                    
                                                    <li class="active">
                                                        <a href="#">
                                                            @i
                                                        </a>
                                                    </li>
                                                    }
                                                    else
                                                    {
                                                    <li>
                                                        <a href="#"  onclick="NextButton(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)">
                                                            @i
                                                        </a>
                                                    </li>
                             
@*<li><a href="#"   onclick="NextButton(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>*@
                                                    }
                                                }
                                                @if (Model.loopStart + 5 < @count)
                                                {
                  
                                                    <li class="next">
                                                        <a href="#" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)">
                                                            <i class="fa fa-angle-right"></i>

                                                        </a>

                                                    </li>
                                                }

                                                <li class="next">
                                                    <a href="#" onclick="NextButton(@Model.RowsPerPage,@count,@count-5,@count)">
                                                        <i class="fa fa-angle-double-right"></i>

                                                    </a>

                                                </li>

                                            </ul>
                                        }
                                    </div>

                                </div>
                                <div class="col-xs-6">
                                    <div class="dataTables_info" id="sample-table-2_info" style="text-align: right">
                                        @Model.loopStart - @Model.loopEnd Of @count Pages.

                                    </div>

                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>       
    </div>

</div>


 <script type="text/javascript">


     $("#GenerateLOBPdf").click(function () {
         var Sessiondate = $('#GenerateLOBPdf').val();

         if (Sessiondate == "Select") {
             alert("Select the Session date.");
         }
         else {
             $("#loader-wrapper").show();
             $.ajax({
                 url: "/BusinessWork/BusinessWork/CheckSessionDateLOB",
                 type: 'GET',
                 data: {
                     Sessiondate: $('#SessionDate').val()
                 },
                 success: function (result) {
                     //alert(result);
                     if (result == "True") {
                         //var i = result;
                         //window.open("/BusinessWork/BusinessWork/GenerateXMLlob?LOBId=" + i, "_blank");
                         var LOBType = "Approved";
                         GeneratePdf(Sessiondate, LOBType);
                     }
                     else {
                         alert("No List of business Found");
                     }


                     $("#loader-wrapper").hide();
                 },
                 error: function (err) {
                     alert(err.statusText);
                 }
             });
         }
     });

     function GeneratePdf(Sessiondate, LOBType) {
         $("#loader-wrapper").show();
         $.ajax({
             url: "/BusinessWork/BusinessWork/GenerateLOBPdfForLegis",
             type: 'GET',
             data: {
                 Sessiondate: Sessiondate,
                 LOBType: LOBType

             },
             success: function (result) {

                 // alert(result);
                 var Sessiondate = $('#GenerateLOBPdf').val();
                 var a = Sessiondate;
                 window.open("/BusinessWork/BusinessWork/DownloadApprovedlobPDF?SessionDate=" + a, "_blank");
                 // window.location = 'Download?file=' + a;
                 //alert(result);
                 $("#loader-wrapper").hide();
             },
             error: function (err) {
                 alert(err.statusText);
             }
         });
     }


     //$('#search').on('click', function (e) {
     //    alert("Seearch");
     //   // document.getElementById('output').innerHTML = "test";
     //    // I removed the event search code because I do not have the files and it was breaking the example.
     //})


     //$("#GenerateLOBPdf").click(function () {
     //    var Sessiondate = $('#SessionDate').val();
     //    alert(SessionDate);
     //    if (Sessiondate == "Select") {
     //        alert("Select the Session date.");
     //    }
     //    else {
     //        $("#loader-wrapper").show();
     //        $.ajax({
     //            url: "/BusinessWork/BusinessWork/CheckSessionDateLOB",
     //            type: 'GET',
     //            data: {
     //                Sessiondate: $('#SessionDate').val()
     //            },
     //            success: function (result) {
     //                //alert(result);
     //                if (result == "True") {
     //                    GeneratePdf(Sessiondate);
     //                }
     //                else {
     //                    alert("No List of business Found");
     //                }


     //                $("#loader-wrapper").hide();
     //            },
     //            error: function (err) {
     //                alert(err.statusText);
     //            }
     //        });
     //    }
     //});

     //function GeneratePdf(Sessiondate) {
     //    $("#loader-wrapper").show();
     //    $.ajax({
     //        url: "/BusinessWork/BusinessWork/GenerateLOBPdf",
     //        type: 'GET',
     //        data: {
     //            Sessiondate: Sessiondate
     //        },
     //        success: function (result) {
     //            var Sessiondate = $('#SessionDate').val();
     //            var a = "DraftLOB.pdf" + "," + Sessiondate;

     //            window.location = 'Download?file=' + a;
     //            //alert(result);
     //            $("#loader-wrapper").hide();
     //        },
     //        error: function (err) {
     //            alert(err.statusText);
     //        }
     //    });
     //}


    </script>

<style>
    a.classname1 {
        background: url(/Content/img/left_green_member.png) no-repeat top left;
        background-size: 45px 40px;
        display: block;
        width: 45px;
        height: 40px;
        text-indent: -9999px; /* hides the link text */
    }
</style>
<script>
    function clearHTML() {
        $("#divCreateLOB").html("");
        $("#divPendingLOB").html("");
        $("#divSubmittedLOB").html("");
    }
    @*function ChangeAS(id) {
        if ($("#" + id).html() == "Change") {
            $("#" + id).html("Apply")
            $("#DdlAssembly").prop("disabled", false);
            $("#DdlSession").prop("disabled", false);
            $("#DdlAssembly").css({
                "background-color": "white",
                "color": "black"
            })
            $("#DdlSession").css({
                "background-color": "white",
                "color": "black"
            })
        }
        else if ($("#" + id).html() == "Apply") {
            $("#" + id).html("Change")
            $("#DdlAssembly").prop("disabled", true);
            $("#DdlSession").prop("disabled", true);
            $("#DdlAssembly").css({
                "background-color": "#d6487e",
                "color": "white"
            })
            $("#DdlSession").css({
                "background-color": "#9585bf",
                "color": "white"
            })

            $.ajax({
                url: "/Home/GetDataByAssemblySession",
                type: 'GET',
                data: {
                    AssemblyId: $("#DdlAssembly").val(),
                    SessionId: $("#DdlSession").val()
                },
                success: function (data) {
                    if (data == "Success") {
                        var url = '@Url.Action("Index", "VidhanSabhaDept", new { Area = "VidhanSabhaDepartment" })';
                            url = url.replace('amp;', '');
                            url = url.replace('amp;', '');
                            window.open(url, "_parent");
                        }
                    }
                })

            }

    }

    $("#DdlAssembly").change(function () {

        var AssemblyId = $("#DdlAssembly").val();
        $.ajax({
            url: "/PaperLaidDepartment/PaperLaidDepartment/GetSessionByAssemblyId",
            type: 'GET',
            data: { AssemblyId: AssemblyId },
            success: function (data) {
                $("#DdlSession").empty();
                $.each(data, function (index, optiondata) {
                    $("#DdlSession").append("<option value='" + optiondata.SessionCode + "'>" + optiondata.SessionName + "</option>");
                });
                //var lang = $("#Lang").val()
                //if (lang == "Hindi") {
                //    $("#DdlSession").append("<option value='0'>सत्र चुनें</option>");
                //}
                //else {
                //    $("#DdlSession").append("<option value='0'>Select Session</option>");
                //}

                //$.each(data, function (index, optiondata) {
                //    if (lang == "Hindi") {
                //        $("#DdlSession").append("<option value='" + optiondata.Id + "'>" + optiondata.Name_Local + "</option>");
                //    }
                //    else {

                //        $("#DdlSession").append("<option value='" + optiondata.Id + "'>" + optiondata.Name + "</option>");
                //    }
                //});
            }
        })

    });*@

    //$(document).ready(function () {
    //    tableinit();
    //});
    //function tableinit() {
    //    var oTable1 =
    //	 $('#sample-table-2')
    //	 .dataTable({
    //	     "bDestroy": true,
    //	     "bPaginate": true,
    //	     bAutoWidth: true,
    //	     "aoColumns": [
    //			{ "bSortable": false },
    //		   null, null, null, null, null, null, null, null,

    //		   { "bSortable": false }

    //	     ]
    //	 });
    //}
    //    $('#sample-table-22').DataTable({
    //        //  "sorting": true, // false to disable sorting (or any other option)

    //        //"bPaginate": true,
    //        ////"bInfo": false,
    //        //"bFilter": false,
    //        //"bLengthChange": false,
    //        sDom: "<'row'<'col-sm-3'l><'col-sm-9'p><'col-sm-3'i><'col-sm-9'f>>" +
    //"<'row'<'col-sm-12'tr>>"
    //+ "<'row'<'col-sm-5'i><'col-sm-7'p>>",


    //        //"bAutoWidth": false

    //    });

    //function UpdatePageBreak(LOBId) {

    //    var cl = new CanvasLoader('canvasloader-container1');
    //    cl.show();
    //    $.ajaxSetup({ cache: false });
    //    //     document.getElementById("LOBId").value = LOBId;

    //    $.ajax({
    //        url: "/ListOfBusiness/ListOfBusiness/UpdatePageBreak",
    //        type: 'GET',
    //        data: {
    //            LOBId: LOBId
    //            //PageNumber: "1",
    //            //RowsPerPage: "10",
    //            //loopStart: "1",
    //            //loopEnd: "5"    
    //        },
    //        success: function (data) {
    //            // clearHTML1();
    //            $("#LineRecord").html(data);

    //            document.getElementById("LineRecord").style.display = "block";
    //            cl.hide();

    //            $('#ResultAcc').click();
    //        }
    //    });
    //}


    //function CorrigendumLOB(LOBId) {
    //    var cl = new CanvasLoader('canvasloader-container1');
    //    cl.show();
    //    $.ajaxSetup({ cache: false });
    //    $.ajax({
    //        url: "/ListOfBusiness/ListOfBusiness/PartialCorrigendumLOB",
    //        type: 'GET',
    //        data: {
    //            LOBId: LOBId
    //        },
    //        success: function (data) {
    //            clearHTML();
    //            $("#divSubmittedLOB").html(data);
    //            document.getElementById("divPendingLOB").style.display = "none";
    //            document.getElementById("divSubmittedLOB").style.display = "block";
    //            document.getElementById("divCreateLOB").style.display = "none";
    //            cl.hide();
    //        }
    //    });
    //}

    function NextButton(rPage, pageNo, lStart, lEnd) {

        var pageNumber = pageNo;
        var rowsPerPage = rPage;
        var loopStart = lStart;
        var loopEnd = lEnd

        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/ListOfBusiness/ListOfBusiness/PartialSubmittedLOB",
            type: 'GET',
            data: {
                PageNumber: pageNumber,
                RowsPerPage: rowsPerPage,
                loopStart: loopStart,
                loopEnd: loopEnd
            },
            success: function (data) {
                clearHTML();
                $("#divPendingLOB").html(data);
                document.getElementById("divCreateLOB").style.display = "none";
                document.getElementById("divSubmittedLOB").style.display = "none";
                document.getElementById("divPendingLOB").style.display = "block";
                cl.hide();
            }
        });

    }

    function NextAndPreviousButton(rPage, pageNo, lStart, lEnd) {


        var pageNumber = pageNo;
        var rowsPerPage = rPage;
        var loopStart = lStart;
        var loopEnd = lEnd

        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/ListOfBusiness/ListOfBusiness/PartialSubmittedLOB",
            type: 'GET',
            data: {
                PageNumber: pageNumber,
                RowsPerPage: rowsPerPage,
                loopStart: loopStart,
                loopEnd: loopEnd
            },
            success: function (data) {
                clearHTML();
                $("#divPendingLOB").html(data);
                document.getElementById("divCreateLOB").style.display = "none";
                document.getElementById("divSubmittedLOB").style.display = "none";
                document.getElementById("divPendingLOB").style.display = "block";
                cl.hide();
            }
        });


    }
    function ApproveLOB(LOBid) {

        var LOBId = LOBid;
        var atext = "Are you sure you want to Approve List of Business";
        if (confirm(atext)) {
            $("#loader-wrapper").show();
            $.ajax({
                url: "/BusinessWork/BusinessWork/ApproveLOB",
                type: 'GET',
                data: {
                    LOBId: LOBId
                },
                success: function (result) {
                    if (result != null) {
                        alert("LOB Approved Successfully");
                        // document.getElementById("FreezeLOB").disabled = true;
                    }
                    $("#loader-wrapper").hide();
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        }
        else {
            //alert("No");
            //txt = "No";
        }


    }

    function UnFreezeLOB(eve) {

        var Sessiondate = eve.id;
        var atext = "Are you sure you want to Un-Freeze List of Business dated: " + eve.id + "";
        if (confirm(atext)) {
            $.ajax({
                url: "/BusinessWork/BusinessWork/UnFreezeLOB",
                type: 'GET',
                data: {
                    Sessiondate: Sessiondate
                },
                success: function (result) {
                    if (result != null) {
                        alert("LOB Unfreezed Successfully");
                        // document.getElementById("FreezeLOB").disabled = true;
                    }
                    $("#loader-wrapper").hide();
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        }
        else {
            //alert("No");
            //txt = "No";
        }


    }
    //$('#UnFreezeLOB').on('click', function (e) {
    //    //$("#UnFreezeLOB").click(function () {
    //    alert("Unfreeze");
    //    var Sessiondate = $('#UnFreezeLOB').val();
    //    alert(Sessiondate);
    //    var atext = "Are you sure you want to Un-Freeze List of Business" ;

    //    if (confirm(atext)) {
    //        $.ajax({
    //            url: "/BusinessWork/BusinessWork/UnFreezeLOB",
    //            type: 'GET',
    //            data: {
    //                Sessiondate: $('#SessionDate').val()
    //            },
    //            success: function (result) {
    //                if (result != null) {
    //                    alert("LOB Unfreezed Successfully");
    //                   // document.getElementById("FreezeLOB").disabled = true;
    //                }
    //                $("#loader-wrapper").hide();
    //            },
    //            error: function (err) {
    //                alert(err.statusText);
    //            }
    //        });
    //    }
    //    else {
    //        alert("No");
    //        txt = "No";
    //    }



    //});
</script>
