﻿@model SBL.DomainModel.Models.User.mUserType

<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
<script src="~/Scripts/jquery.alerts.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.timepicker1.js"></script>

@{
    ViewBag.Title = "CreateNewUserType";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}


@Html.Action("LeftNavigationMenu", "SuperAdmin")


<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("GetUserType", "UserType")">@Resources.MasterDataDashboard.Home</a>
            </li>


            <li class="active">Create User</li>
        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>

    </div>

    <div class="page-content">

        @*        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.MasterData
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.AssemblyDetails
                </small>
            </h1>


        </div>*@

        <!-- /section:settings.box -->

        @*        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.CreateAssembly</h4>
            }
            else
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.EditAssembly</h4>
            }

        </div>*@
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        @* //, new { @class = "form-horizontal", @role = "form" }*@
                        <div class="row">
                            @using (Ajax.BeginForm("SaveUserType", "UserType", new AjaxOptions { OnSuccess = "LoginSuccess", HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "NewUserForm" }))
                            {

                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.UserTypeID)
                                @Html.HiddenFor(m => m.Mode)
    
                                <div class="widget-header widget-header-flat">

                                    @if (Model.Mode == "Add")
                                    {
                                        <h4 class="widget-title lighter">Create User Type</h4>
                                    }
                                    else
                                    {
                                        <h4 class="widget-title lighter">Update User Type</h4>
                                    }
                                    @* @if (Model.UserTypeID == null)
         {
        <h4 class="widget-title">Create User Type</h4>
         }
         else
         {
              <h4 class="widget-title">Create User Type</h4>
         }*@
                                </div>     
       
                                <div class="widget-body">
                                    <div class="widget-main no-padding-right no-padding-left">
                                        <div class="profile-user-info profile-user-info-striped">
                                            <div class="profile-info-row">
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name">User Type Name: <b style="color: red">*</b></div>

                                                <div class="profile-info-value">
                                                    <span id="spnTitle" class="">
                                                        @Html.TextBoxFor(model => model.UserTypeName, new { @id = "TxtName", @class = "col-xs-10 col-sm-5", @placeholder = @Resources.UserManagement.UserTypeName, @autocomplete = "off", style = "width: 350px" })
                                                        <span class="field-validation-error" id="RoleNameValidation" style="color: red"></span>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name">User Type Name Local: <b style="color: red"></b></div>

                                                <div class="profile-info-value">
                                                    <span id="spnTitle" class="">
                                                        @Html.TextBoxFor(model => model.UserTypeNameLocal, new { @id = "TxtName2", @class = "col-xs-10 col-sm-5", @placeholder = @Resources.UserManagement.UserTypeName, @autocomplete = "off", style = "width: 350px" })
                                                        <span class="field-validation-error" id="RoleNameLocalValidation" style="color: red"></span>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name">@Resources.UserManagement.IsActive: <b style="color: red"></b></div>

                                                <div class="profile-info-value">
                                                    <span id="spnIsactive" class="">
                                                        @Html.CheckBoxFor(model => model.IsActive, new { @name = @Resources.UserManagement.IsActive }) @Resources.UserManagement.IsActive

                                                    </span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>


                                    @if (Model.Mode == "Add")
                                    {
                                        <div class="wizard-actions">

                                            <button type="button" id="savebtn" class="btn btn-sm btn-purple" onclick="return checkValidation();">
                                                <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                                @Resources.UserManagement.Save</button>

                                            <button type="reset" class="btn btn-sm btn-info" onclick="return cancelEntry();">
                                                <i class="ace-icon fa fa-times bigger-125"></i>
                                                @Resources.UserManagement.Cancel
                                            </button>

                                        </div>
                                    }
                                    else
                                    {
                                        <div class="wizard-actions">

                                            <button type="button" id="updatebtn" class="btn btn-sm btn-purple" onclick="return checkValidation();">
                                                <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                                @Resources.UserManagement.Update</button>

                                            <button type="reset" class="btn btn-sm btn-info" onclick="return cancelEntry();">
                                                <i class="ace-icon fa fa-times bigger-125"></i>
                                                @Resources.UserManagement.Cancel
                                            </button>
                                        </div>
                                    }




                                </div>
   
    
                                <div id='fullDetailsModel' class="hide">
                                    <div id='ShowfullDetailsModel' style="text-align: center">
                                    </div>
                                </div>

                            }
                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/assets/js/bootbox.min.js"></script>

<style>
    .hidden {
        display: none;
        visibility: hidden;
    }
</style>

<script>

    function cancelEntry() {
        window.location.href = '@Url.Action("GetUserType", "UserType", new { Area = "SuperAdmin" })';
        //$("#RightSidebar").empty();
    }



    //function checkValidation() {

    //    var RoleName = $("#TxtName").val();

    //    if (RoleName == "") {
    //        alert("Please Enter Role Name");

    //        return false;
    //    }
    //    else {
    //        alert("Save successfully");
    //    }

    //}



    function checkValidation() {
        debugger;
        var UserTypeName = $("#TxtName").val();
        if (UserTypeName == "") {
            alert("Please Enter User Type");
            return false;
        }
        else if (UserTypeName != null || UserTypeName != "") {
            var dlg = bootbox.confirm('Are you sure, You want to Submit ? \n If yes so press ok button. ', function (result) {
                if (result) {
                    $.ajax({
                        url: "/SuperAdmin/UserType/CheckUserName",
                        type: 'GET',
                        data: {
                            UserTypeName: UserTypeName
                        },
                        success: function (data) {

                            if (data) {
                                alert("UserName Already  Exit");
                                return false;
                            }
                            else {
                                $("#NewUserForm").submit();
                                bootbox.alert('Update Successfully');
                                $("#TxtName").val("");
                                $("#TxtName2").val("");
                                $('#IsActive').prop('checked', false);
                                //$("#IsActive").checked=false;
                                ShowNotification("success", "Updated Sucessfully");
                                return true;
                            }

                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.responseText);
                            alert(thrownError);
                            location.reload(true);
                        }
                    });
                }
            });


        }
    }


</script>

