﻿@model SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.BillViewModel

<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>

<div class="widget-header widget-header-blue widget-header-flat">
    @if (Model.Mode == "Add")
    {
        <h4 class="widget-title lighter">@Resources.MasterDataDashboard.CreateBillType</h4>
    }
    else
    {
        <h4 class="widget-title lighter">@Resources.MasterDataDashboard.EditBillType</h4>
    }

</div>
<div class="widget-body">
    <div class="widget-main">
        <div class="row">
            <div class="col-xs-12">
                <div class="messageBox"></div>
                <!-- PAGE CONTENT BEGINS -->
                @* //, new { @class = "form-horizontal", @role = "form" }*@
                <div class="row">
                    @using (Html.BeginForm("SaveBill", "Bill", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                    { 
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.BillTypeId)
                        @Html.HiddenFor(model => model.Mode)

                              
                        <div class="tabbable">
                            @* <ul id="myTab" class="nav nav-tabs padding-18">
                                        <li class="active">
                                            <a href="#news-english" data-toggle="tab">
                                                <i class="green ace-icon fa fa-home bigger-120"></i>
                                                English
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#news-hindi" data-toggle="tab">
                                                <i class="blue ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                <span class="lang-hi">हिन्दी  </span>

                                            </a>
                                        </li>
                                    </ul>*@
                            <div class="tab-content no-border padding-24">
                                <div class="tab-pane in active" id="news-english">

                                    <div class="space-2"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.BillType </label>
                                        <div class="col-sm-9">

                                            @Html.TextBoxFor(model => model.BillType, new { @class = "col-xs-10 col-sm-8", @placeholder = @Resources.MasterDataDashboard.BillType, @autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.BillType)

                                        </div>

                                    </div>

                                    <div class="space-2"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Description </label>
                                        <div class="col-sm-9">

                                            @Html.TextAreaFor(model => model.Description, new { @id = "BillDesc", @class = "col-xs-10 col-sm-8", @placeholder = @Resources.MasterDataDashboard.Description, @autocomplete = "off", @maxlength = "500" })

                                            @Html.ValidationMessageFor(model => model.Description)

                                        </div>

                                    </div>
                                    <div class="space-2"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.IsActive </label>
                                        <div class="col-sm-9">
                                            @Html.CheckBoxFor(model => model.IsActive)
                                        </div>

                                    </div>


                                </div>


                            </div>
                        </div>                              
                        <div class="btn-group pull-right padding-10">
                            <!-- #section:plugins/fuelux.wizard.buttons -->
                            <button type="submit" id="savebtn" class="btn btn-sm btn-purple ">
                                <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                @Resources.MasterDataDashboard.Save</button>
                            <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                <i class="ace-icon fa fa-times bigger-125"></i>
                                @Resources.MasterDataDashboard.Reset
                            </button>
                            <!-- /section:plugins/fuelux.wizard.buttons -->
                        </div>
                    }
                    <!-- /.row -->
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
    $(function () {

        $("#BillDesc").blur(function () {
            $(this).animate({
                height: '55px'
            },
               "fast"
            )
        });

        $("#BillDesc").focus(function () {
            $(this).animate({
                height: '200px'
            },
               "fast"
            );

            //$("#newsDescvalidation").html("");

        });

    });
    $('.date-picker').datepicker({
        autoclose: true,
        todayHighlight: true

    })
    //show datepicker when clicking on the icon
    .next().on(ace.click_event, function () {
        $(this).prev().focus();
    });

    $(document).ready(function () {
        $("#BillType").focus();
    });
    function resetFields() {
        $(".field-validation-error").empty();
        $("#BillType").focus();
    }
</script>

<style>
    .hidden {
        display: none;
        visibility: hidden;
    }
</style>
