﻿@model  IEnumerable<SBL.DomainModel.Models.RecipientGroups.RecipientGroupMember>

@{
    int countGroupMemList = 0;
}


        <div class="pass-table">
            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-4" aria-describedby="sample-table-2_info">
                    <thead>
                        <tr role="row">
                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">#</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-4" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">User Id</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-4" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">User Name</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-4" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Designation</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-4" rowspan="1" colspan="1" aria-label="Organisation/Department: activate to sort column ascending">Email</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-4" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Mobile Number</th>
                        </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        @if (Model != null)
                        {
                            if (Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    countGroupMemList = countGroupMemList + 1;
                                    var newrowmemID = "newrowmem" + @item.GroupMemberID;
                            <tr id="@newrowmemID">
                                <td class="center">@countGroupMemList</td>
                                <td>@item.GroupMemberID</td>
                                <td>@item.Name</td>
                                <td>@item.Designation</td>
                                <td>@item.Email</td>
                                <td>@item.MobileNo</td>
                            </tr>
                                }
                            }
                        }

                    </tbody>
                </table>

                <div class="row">
                    <div class="col-xs-12" id="ButtonGroup">
                        <input type="button" class="btn btn-primary btn-xs" id="grouptabBtn" value="Remove Contact/s" />
                    </div>
                </div>

            </div>
        </div>



<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/ScriptigFunctions/AdminReceipent/dataTables.fnAddTr.js"></script>

<script type="text/javascript">

    var emptable;

    $(document).ready(function () {
        emptable =
         $('#sample-table-4')
         .dataTable({
             bAutoWidth: true,
             "aoColumns": [
               { "bSortable": false },
               null, null, null, null, null
             ]
         });

        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }
    });

    $("#grouptabBtn").click(function () {
        var userdata = [];
        $("input:checkbox:checked.groupcheckbox ").each(function () {
            var chkbxId = $(this).attr("id");
            var rowid = "row" + chkbxId;
            userdata.push(rowid);
        });

        /// Add emp table rows to group table 
        if (userdata.length != 0) {
            userdata.forEach(removegrouprow);
        }
    });

    //$("#emptabBtn").click(function () {
    //    var userdata = [];
    //    $("input:checkbox:checked.empcheckbox ").each(function () {
    //        var chkbxId = $(this).attr("id");
    //        var rowid = "row" + chkbxId;
    //        var rowvalue = $("tr#" + rowid).attr("data-value");
    //        userdata.push(rowvalue);
    //    });

    //    /// Add emp table rows to group table 
    //    if (userdata.length != 0) {
    //        userdata.forEach(adddatatoGrouptable);
    //    }
    //});

    //$("#memtabBtn").click(function () {
    //    alert("memtabBtn button clicked");
    //    var userdata = [];
    //    $("input:checkbox:checked.memcheckbox ").each(function () {
    //        var chkbxId = $(this).attr("id");
    //        var rowid = "row" + chkbxId;
    //        var rowvalue = $("tr#" + rowid).attr("data-value");
    //        userdata.push(rowvalue);
    //    });

    //    /// Add emp table rows to group table
    //    if (userdata.length != 0) {
    //        userdata.forEach(memadddatatoGrouptable);
    //    }
    //});

    //$("#mintabBtn").click(function () {
    //    var userdata = [];
    //    $("input:checkbox:checked.mincheckbox ").each(function () {
    //        var chkbxId = $(this).attr("id");
    //        var rowid = "row" + chkbxId;
    //        var rowvalue = $("tr#" + rowid).attr("data-value");
    //        userdata.push(rowvalue);
    //    });

    //    /// Add emp table rows to group table 
    //    if (userdata.length != 0) {
    //        userdata.forEach(minadddatatoGrouptable);
    //    }
    //});

    //function adddatatoGrouptable(element) {
    //    //alert("element : " + element);
    //    var userdatafortr = element.split(',');
    //    if (CheckUserExist(userdatafortr[4])) {
    //        alert("Compare id inside" + userdatafortr[4]);
    //        alert("Already Exist");
    //    }
    //    else {
    //        var tabletr = "<tr id=row" + userdatafortr[4] + "> <td class='center'> <input type='checkbox' class='groupcheckbox' id='" + userdatafortr[4] + "' /></td><td>" + userdatafortr[1] + "</td><td>" + userdatafortr[0] + "</td><td>Employee</td><td>" + userdatafortr[2] + "</td><td>" + userdatafortr[3] + "</td></tr>";
    //        emptable.fnAddTr($(tabletr)[0]);
    //    }
    //}

    //function CheckUserExist(userid) {
    //    var isexist = false;
    //    var rerowid = "row" + userid;
    //    $('#sample-table-4 tbody tr').each(function () {
    //        var rowid = $(this).attr('id');
    //        if (rowid == rerowid) {
    //            isexist = true;
    //            return isexist;
    //        }
    //        else {
    //        }
    //    });
    //    return isexist;
    //}

    //function memadddatatoGrouptable(element) {
    //    var userdatafortr = element.split(',');
    //    if (CheckUserExist(userdatafortr[4])) {
    //        alert("Compare id inside" + userdatafortr[4]);
    //        alert("Already Exist");
    //    }
    //    else {
    //        var tabletr = "<tr id=row" + userdatafortr[4] + "> <td class='center'> <input type='checkbox' class='groupcheckbox' id='" + userdatafortr[4] + "' /></td><td>" + userdatafortr[1] + "</td><td>" + userdatafortr[0] + "</td><td>Member</td><td>" + userdatafortr[2] + "</td><td>" + userdatafortr[3] + "</td></tr>";
    //        emptable.fnAddTr($(tabletr)[0]);
    //    }
    //}

    //function minadddatatoGrouptable(element) {
    //    var userdatafortr = element.split(',');
    //    if (CheckUserExist(userdatafortr[4])) {
    //    }
    //    else {
    //        var tabletr = "<tr id=row" + userdatafortr[4] + "> <td class='center'> <input type='checkbox' class='groupcheckbox' id='" + userdatafortr[4] + "' /></td><td>" + userdatafortr[1] + "</td><td>" + userdatafortr[0] + "</td><td>Minister</td><td>" + userdatafortr[2] + "</td><td>" + userdatafortr[3] + "</td></tr>";
    //        emptable.fnAddTr($(tabletr)[0]);
    //    }
    //}

    function removegrouprow(element) {
        var trdata = $("#sample-table-4 tbody tr[id=" + element + "]")[0];
        emptable.fnDeleteRow(trdata, null, true);
    }


</script>
