﻿<div class="pass-table">
    <br />
    <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
        <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-3" aria-describedby="sample-table-2_info">
            <thead>
                <tr role="row">
                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">#</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Employee Name</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Employee Code</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Organisation/Department: activate to sort column ascending">Department Name</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Email</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Phone Number</th>
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">

                <tr id="rowemp1" data-value="Lothal Sharma J.K,10014,Lothal2014@@nic.gov.in,9977772211,emp1">
                    <td class="center">
                        <input type="checkbox" class="empcheckbox" id="emp1" />
                    </td>

                    <td>Lothal Sharma J.K
                    </td>
                    <td>10014 </td>

                    <td>Water Resources </td>

                    <td>Lothal2014@@nic.gov.in
                    </td>
                    <td>9977772211
                    </td>

                </tr>

                <tr id="rowemp2" data-value="Hari Sharma T,10032,Hsharma2014@@nic.gov.in,8833332211,emp2">
                    <td class="center">
                        <input type="checkbox" class="empcheckbox" id="emp2" />
                    </td>

                    <td>Hari Sharma T
                    </td>
                    <td>10032</td>

                    <td>Poultry</td>

                    <td>Hsharma2014@@nic.gov.in
                    </td>
                    <td>8833332211
                    </td>

                </tr>

                <tr id="rowemp3" data-value="Dharma Ram P,10089,DharmaR2014@@nic.gov.in,8833332211,emp3">
                    <td class="center">
                        <input type="checkbox" class="empcheckbox" id="emp3" />
                    </td>

                    <td>Dharma Ram P
                    </td>
                    <td>10089</td>

                    <td>Poultry Department </td>

                    <td>DharmaR2014@@nic.gov.in
                    </td>

                    <td>8833332211
                    </td>
                </tr>

                <tr id="rowemp4" data-value="Devendhar Batkal P,10025,DPBatkalV2014@@nic.gov.in,7700662211,emp4">
                    <td class="center">
                        <input type="checkbox" class="empcheckbox" id="emp4" />
                    </td>

                    <td>Devendhar Batkal P
                    </td>
                    <td>10025</td>

                    <td>Fishery</td>

                    <td>DPBatkalV2014@@nic.gov.in
                    </td>

                    <td>7700662211
                    </td>
                </tr>

                <tr id="rowemp5" data-value="Smt. Mamatha Batkal P,10235,MamathaV2014@@nic.gov.in,7700992211,emp5">
                    <td class="center">
                        <input type="checkbox" class="empcheckbox" id="emp5" />
                    </td>

                    <td>Smt. Mamatha Batkal P
                    </td>
                    <td>10235</td>

                    <td>Industry Department </td>

                    <td>MamathaV2014@@nic.gov.in
                    </td>
                    <td>7700992211
                    </td>

                </tr>

            </tbody>
        </table>

        <div class="row">
            <div class="col-xs-12" id="ButtonGroup">
                <input type="button" class="btn btn-primary btn-xs" id="emptabBtn" value="Add Contact/s To Group" />
            </div>
        </div>
    </div>
</div>
<br />

<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/ScriptigFunctions/AdminReceipent/dataTables.fnAddTr.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        jQuery(function ($) {
            var oTable1 =
             $('#sample-table-3').dataTable({
                 bAutoWidth: true,
                 "bDestroy": true,
                 "aoColumns": [
                   { "bSortable": false },
                   null, null, null, null,
                   { "bSortable": false }
                 ]
             });

            $('#sample-table-3').css('width', '');

            $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('table')
                var off1 = $parent.offset();
                var w1 = $parent.width();

                var off2 = $source.offset();

                if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
                return 'left';
            }
        })
    });

    function tablefucntion() {

    }

</script>

