﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV
<span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="Bottm Info" style="text-align:left;margin-left:0px;margin-bottom:2px;">
Draft Notices
</span>
@{
    int count = 0;
    int startpage = 0;
    int endPage = 0;         
    float rcnt = @Model.ResultCount;
    float rperPage = @Model.RowsPerPage;
    float cnt = rcnt / rperPage;
    int b = (int)cnt; 
    float c = (float)cnt - b;
                 
}
@if (c > 0)
{
    count = b + 1;
}
else
{
    count = b;
}
@{
    startpage = ((@Model.selectedPage * 10) - 10) + 1;
    endPage = startpage + 9;
           
}
@if (Model.loopStart <= 0)
{
    Model.loopStart = 1;
    Model.loopEnd = 5;
}

<style>
    a.classname {
        background: url(/Images/pdf.jpg) no-repeat top center;
        background-size: 25px 25px;
        /*display: -moz-stack;*/
        display: block;
        /*width: 35px;*/
        height: 32px;
        text-indent: -9999px; /* hides the link text */
    }
</style>
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="~/Scripts/jquery.alerts.js"></script>
<link href="~/Content/jquery.alerts.css" rel="stylesheet" />
<div class="tab-content" style="padding-top:15px;">
    <div>
        <div id="canvasloader-container-Grid" class="canvasloader" style="text-align: center"></div>
    </div>
  
    <div class="grid_cantainer" style="float: left; width: 99%; float: left; padding-left: 2px;">

         <div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px;border: 1px solid #C5C5C5;border: 1px solid #C5C5C5;">
        Notice >> Notice Reply Draft List
    </div>

        @if (count > 0)
        {        
            <div class="grid-ex-footer">
                <div class="grid-pagination grid-paginationNew">

                    @if (count < Model.loopEnd)
                    {
                        Model.loopEnd = count;
                    }

                    <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,1,1,5)" title="@Resources.Common.GoToTheFirstPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">@Resources.Common.FirstPage</span></a>
                    @if (Model.loopStart > 5)
                    {                           
                        <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)" title="@Resources.Common.GoToThePreviousPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">@Resources.Common.PreviousPage</span></a>
                    }

                    <ul class="gridpage-numbers">
                        @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                        {
                            if (i == @Model.selectedPage)
                            {                                    
                            <li><span class="grid-page-selected">@i</span></li>
                            }
                            else
                            {
                            <li><a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                            }
                        }
                    </ul>
                    @if (Model.loopStart + 5 < @count)
                    {
                        <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)" title="@Resources.Common.GoToTheNextPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">@Resources.Common.NextPage</span></a>
                    }
                    <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@count,@count-5,@count)" title="@Resources.Common.GoToTheLastPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">@Resources.Common.LastPage</span></a>
                    <span class="grid-page-info">@Model.loopStart - @Model.loopEnd @Resources.Common.Of @count @Resources.Common.Pages.</span>
                </div>
            </div>
        }

        <div>@* style="overflow-x: scroll">*@
            @if (Model.ListtPaperLaidV != null)
            {
                if (Model.ListtPaperLaidV.Count > 0)
                {
                     
                <table id="Submittedtable" class="simple-table-style">
                    <tr>
                        
                        <th class="grid_th" style="border-width: 1.5px; width: 80px; height: 30px; text-align: center">MinistryName </th>
                        
                        <th class="grid_th" style="border-width: 1.5px; width: 50px; height: 30px; text-align: center">Title</th>
                        
                    </tr>
                    @foreach (var DepartmentSubmittedList in Model.ListtPaperLaidV)
                    {
                        <tr id="@DepartmentSubmittedList.PaperLaidId" class="ChangeColortr" onclick="ViewFullOfNoticeDraftDeails(@DepartmentSubmittedList.PaperLaidId), ChangeColortr(this.id)" style="cursor:pointer;">

                            @*<td style="text-align: center; width: 5%;">
                                <input class="QCheckbox" id="CheckSubmitted " type="checkbox" onchange="checkChange('',this)" />
                            </td>*@
                            <td style="border-width: 1px; text-align: left; vertical-align: top;">
                                @DepartmentSubmittedList.MinistryName

                            </td>
                           
                            <td style="border-width: 1px; text-align: left; vertical-align: top;">
                                @Html.Raw(DepartmentSubmittedList.Title)

                            </td>
                                                        
                        </tr>
                    }

                </table>
                }
                else
                {
                <p style="color:red">@Resources.PaperLaidDepartment.NoRecordFound</p>
                }
            }
            else
            {
                <p style="color:red">@Resources.PaperLaidDepartment.NoRecordFound</p>
            }
        </div>

        @if (count > 0)
        {
            <div class="grid-ex-footer">
                <div class="grid-pagination grid-paginationNew">
                    @if (count < Model.loopEnd)
                    {
                        Model.loopEnd = count;
                    }

                    <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,1,1,5)" title="@Resources.Common.GoToTheFirstPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">@Resources.Common.FirstPage</span></a>
                    @if (Model.loopStart > 5)
                    {                           
                        <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)" title="@Resources.Common.GoToThePreviousPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">@Resources.Common.PreviousPage</span></a>
                    }

                    <ul class="gridpage-numbers">
                        @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                        {
                            if (i == @Model.selectedPage)
                            {                                    
                            <li><span class="grid-page-selected">@i</span></li>
                            }
                            else
                            {
                            <li><a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                            }
                        }
                    </ul>
                    @if (Model.loopStart + 5 < @count)
                    {
                        <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)" title="@Resources.Common.GoToTheNextPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">@Resources.Common.NextPage</span></a>
                    }
                    <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@count,@count-5,@count)" title="@Resources.Common.GoToTheLastPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">@Resources.Common.LastPage</span></a>
                    <span class="grid-page-info">@Model.loopStart - @Model.loopEnd @Resources.Common.Of @count @Resources.Common.Pages.</span>
                </div>
            </div>
        }
    </div>
</div>

<script>

    //function ChangeColortr(control) {
    //    $(".ChangeColortr").each(function () {
    //        $(this).css({ 'background': 'none', 'color': 'black' })
    //    })
    //    $("#" + control).css({ 'background-color': '#428bca', 'color': 'white' })
    //}
    function ViewFullOfNoticeDraftDeails(value) {
        //alert(value);

        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();
        $.ajax({
            url: "/PaperLaidDepartment/NoticePaperLaid/ShowNoticeDraftReplyById",
            type: 'GET',
            data: {
                papperId: value,
            },
            cache: false,
            success: function (data) {

                if (data) {
                    cl2.hide();
                    $("#RightSidebar").empty();
                    $("#RightSidebar").html(data);
                    //$("#OpenModel").modal("show")
                } else { alert("error"); }
            },
      
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }
   
</script>
