﻿@model List<SBL.DomainModel.Models.Constituency.tMemberHelpline>

<link href="~/assets/css/datepicker.css" rel="stylesheet" />
<script src="~/Scripts/tinymce/Sorting/Sorting.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<a href="~/Views/Shared/EditorTemplates/tinymce_jquery_Description.cshtml"></a>
<style>

    @{
        var list = new SelectList(new[]
    {
        new {ID="0", Name="--Select--"},       
        
    },
            "ID", "Name", 0);
    }

  
</style>
<style>
    .mydot {
        height: 10px;
        width: 10px;
        background-color: #45a63e;
        border-radius: 50%;
        display: inline-block;
    }
</style>

<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: auto; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<head>
	<title></title>
</head>
<body>
	<div id="live-chat">
		<a href="#" class="chat-close" onclick="ReloadList();">x</a>
       @* <a href="#" class="Maximise-chat"></a>*@
		<header class="clearfix">
			<h4>New</h4>	
		</header>
        @foreach (var item in Model)
        { 
      	<div class="chat">			
			<div class="chat-history">
                <div class="chat-message clearfix">		
                  
                <div class="panel-heading" style="background: #f2f2f2;height: 43px;border-top: 2px solid #ddd;border-bottom: 1px solid #ddd;border-style:ridge; margin-top: 2px;">
                   <div> <span class="mydot"></span>
                    <span style="color:black; font-weight: bold;font-size: 16px;padding-left: 5px;" >Helpline Details</span></div>  <!-- Panel Header -->    
                </div>
                <div class="panel-body" style="padding:2px;"> 
                <div class="row" style="margin-top: -15px;"> 
                <div class="column" >
                        <div class="chat-message clearfix">
					<div class="chat-message-content clearfix">
						 <div id="SchemeTypeDiv" class="profile-info-row">
							<div class="profile-info-name"  style="text-align:left;padding-left: 16px;font-weight:bold;width: 130px;color:#053062;">Block Name: </div>
								<div class="profile-info-value" style="padding-left: 15px;"> 
									<label>
                                  
                                   @Html.DropDownList("BlockID", ViewBag.Constituency_Block as SelectList, "--Select Block--", new { @required = "required", style = "width: 328px;" })
									
                                    </label>
								</div>							
						</div>
					</div> <!-- end chat-message-content -->
				</div> <!-- end chat-message -->                        
			            <div class="chat-message clearfix">
					<div class="chat-message-content clearfix">
						 <div id="SchemeTypeDiv" class="profile-info-row">
							<div class="profile-info-name"  style="text-align:left;padding-left: 16px;font-weight:bold;width: 130px;color:#053062;"> Sector Type: </div>
								<div class="profile-info-value" style="padding-left: 15px;"> 
									<label>
                                         	@Html.DropDownList("SectorId", ViewBag.HelpLine_Sector as SelectList, "--Select Sector--", new { @required = "required", style = "width: 328px;" })	
								    </label>
								</div>							
						</div>
					</div> <!-- end chat-message-content -->
				</div> <!-- end chat-message --> 
                         <hr style="margin-bottom: 9px;width: 105%;margin-top: 1px;" />
                    	<div class="chat-message clearfix" style="margin-bottom: -8px;">	
                        <div class="chat-message-content clearfix"  style="margin-top: -6px;">	
                        <div id="BenificiaryN_Div" class="profile-info-row">
							<div class="profile-info-name"  style="text-align:left;padding-left: 16px;font-weight:bold;width: 130px;color:#053062;"> Applicant Name: </div>
								<div class="profile-info-value" style="padding-left: 15px;"> 
									<label>
                                         <input type="text" value="@item.ApplicantName" style="width: 328px;" class="form-control" id="Benificiary_Name"  placeholder="Enter Name">
									 </label>
								</div>
						</div>					
						
					</div> <!-- end chat-message-content -->
                       </div>  
                     	<div class="chat-message clearfix" style="margin-bottom: 8px;">	
					<div class="chat-message-content clearfix" style="margin-top:8px;">						
					  <div class="profile-info-row">
							<div class="profile-info-name" style="text-align:left;padding-left: 16px;font-weight:bold;width: 130px;color:#053062;">Mobile Number:</div>
							<div class="profile-info-value" style="padding-left: 15px;">
								<div>
									<label>                                       
									<input type="text" value="@item.ApplicantMobile" style="width: 328px;" class="form-control" id="Mobile_Number"  placeholder="Mobile Number"  onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" />
									</label>
								</div>
							</div>
						</div>
					</div> <!-- end chat-message-content -->
		         		</div> <!-- end chat-message -->
                       
                        
                </div>
                <div class="column" >         
                        <div class="chat-message clearfix">
					<div class="chat-message-content clearfix" >
						 <div id="SchemeTypeDiv" class="profile-info-row">
							<div class="profile-info-name"  style="text-align:left;padding-left: 16px;font-weight:bold;width: 138px;color:#053062;"> Panchayat: </div>
								<div class="profile-info-value" style="padding-left: 3px;"> 
									<label>
                                         @Html.DropDownList("PanchayatCode", ViewBag.PanchayatsList as SelectList, "--Select Panchayat--", new { @required = "required", style = "width: 328px;" })
                                    </label>
								</div>							
						</div>
					</div> <!-- end chat-message-content -->
				</div> <!-- end chat-message --> 
                        <hr style="margin-top: 48px;margin-bottom: 3px;" />                       
                        <div class="chat-message clearfix">	
					<div class="chat-message-content clearfix" style="margin-bottom: -6px;" >						
					  <div class="profile-info-row">
							<div class="profile-info-name" style="text-align:left;padding-left: 16px;font-weight:bold;width: 140px;color:#053062;">Sex:</div>
							<div class="profile-info-value" style="padding-left: 4px;">
								<div> 
                                       @* @Html.DropDownList("Text", ViewBag.GenderList as SelectList, "--Select Panchayat--", new { @required = "required", style = "width: 328px;" })*@
                                
                                    @Html.DropDownList("Sex", ViewBag.GenderList as SelectList, new { @required = "required", style = "width: 328px;" })
                                 
                              
                                    @*<select id="Sex" style="width: 330px;">
                                    <option value="1">Male</option>  
                                    <option value="2">Female</option>  
                                    <option value="0">N/A</option>                                                                    
                                    </select>*@
								</div>
							</div>
						</div>
					</div> <!-- end chat-message-content -->
				</div> <!-- end chat-message -->
                        <div class="chat-message clearfix">
	 	        <div class="chat-message-content clearfix" style="margin-top: -6px;" >						
				       <div class="profile-info-row">
							<div class="profile-info-name" style="text-align: left; padding-left: 16px;font-weight: bold;width: 138px;color: #053062;"> Applicant Address:  </div>
								<div class="profile-info-value"> 
									<div>	
                                    @if (item.ApplicantAddress != null)
                                    {
                                        var Str = item.ApplicantAddress.Replace("<p>", "");
                                        Str = Str.Replace("</p>", "");
                                        Str = Str.Trim();
                                        <textarea placeholder="Beneficiary Address" id="Benificiary_Address" style="text-align:justify;width: 328px;margin-top: 12px">@Str</textarea> 
                                    }    
                                    else
                                    {
                                        <textarea placeholder="Beneficiary Address" id="Benificiary_Address" style="text-align:justify;width: 328px;margin-top: 12px"> </textarea> 
                                    }   
                                        
                                        
                                        
                                                          
                              
                                    </div>                           
								</div>
                              </div> 
					</div> 
                     </div> 			
                          
                </div>
                </div>
                </div> 
               @* <hr style="margin-top: 3px;margin-bottom: 6px;" />*@
                <div class="panel-heading" style="margin-bottom: -43px;width: 50%;background: #f2f2f2;height: 43px;border-top: 2px solid #ddd;border-bottom: 1px solid #ddd;border-style:ridge;">
                   <span class="mydot"></span>
                    <span style="color:black; font-weight: bold;font-size: 16px;padding-left: 5px;" >Calling Details</span></div>        <!-- Panel Header -->   
               
                <div class="panel-heading" style="margin-left: 553px;background: #f2f2f2;height: 43px;border-top: 2px solid #ddd;border-bottom: 1px solid #ddd;border-style:ridge;">
                  <span class="mydot"></span>
                    <span style="color:black; font-weight: bold;font-size: 16px;" >Action Details</span></div>                 <!-- Panel Header -->   
                
                <div class="panel-body"> 
                <div class="row" style="margin-top: -15px;">
                    <div class="column" style="padding-left:0px;" >
             
                <div class="chat-message clearfix">	
					<div class="chat-message-content clearfix" style="margin-top: -10px;">
					  <div class="profile-info-row">
							<div class="profile-info-name" style="text-align:left;padding-left: 16px;font-weight:bold;width: 130px;color:#053062;">Calling Date:</div>
							<div class="profile-info-value" style="padding-left: 15px;">
								<div class='input-group date' id='datepickerdiv1' data-date-format="dd/mm/yyyy">									
                                        <div class="input-group-addon">
                                        <span class="glyphicon-calendar glyphicon">
                                        </span>
									    </div>
                                      @if (item.CallingDate != null)
                                      {
                                        <input type="text" id="Callingdatepicker"  value="@Convert.ToDateTime(item.CallingDate).ToString("dd/MM/yyyy")" data-date-format="dd/mm/yyyy" style="width: 287px;">									
								
                                      }
                                    else
                                    {
                                      <input type="text" id="Callingdatepicker"   data-date-format="dd/mm/yyyy" style="width: 287px;">									
								
                                    }

								</div>
							</div>
						</div>
					</div> <!-- end chat-message-content -->
				</div> <!-- end chat-message -->	           
                <div class="chat-message clearfix">
					<div class="chat-message-content clearfix" style="margin-top: -10px;">
					  <div class="profile-info-row">
							<div class="profile-info-name" style="text-align:left;padding-left: 16px;font-weight:bold;width: 130px;color:#053062;">Calling Details:</div>
							<div class="profile-info-value" style="padding-left: 15px;">
								<div>
                                    @if (item.CallDetails != null)
                                    {
                                        var Str = item.CallDetails.Replace("<p>", "");
                                        Str = Str.Replace("</p>", "");
                                        <textarea id="Calling_Details" style="text-align:justify;width: 328px; margin-top: 12px">@Str</textarea>  
                                    }    
                                    else
                                    {
                                      <textarea id="Calling_Details" style="text-align:justify;width: 328px; margin-top: 12px"></textarea>  
                                    }                                   					
								</div>
							</div>
						</div>
					</div> <!-- end chat-message-content -->

				</div> <!-- end chat-message -->
                    </div>
                    <div class="column" style="margin-bottom: -10px;" >
                <div class="chat-message clearfix">	
					<div class="chat-message-content clearfix" style="margin-top: -10px;">
					  <div class="profile-info-row">
							<div class="profile-info-name" style="text-align:left;padding-left: 16px;font-weight:bold;width: 130px;color:#053062;">Action Date:</div>
							<div class="profile-info-value" style="padding-left: 15px;">
								<div class='input-group date' id='datepickerdiv2' data-date-format="dd/mm/yyyy">									
                                        <div class="input-group-addon">
                                        <span class="glyphicon-calendar glyphicon">
                                        </span>
									    </div>
                                     @if (item.ActionDate != null)
                                     {
                                        <input type="text" id="Actiondatepicker" value="@Convert.ToDateTime(item.ActionDate).ToString("dd/MM/yyyy")" data-date-format="dd/mm/yyyy" style="width: 287px;">									
                                     }
                                    else
                                    {
                                      <input type="text" id="Actiondatepicker"  data-date-format="dd/mm/yyyy" style="width: 287px;">									
                                   
                                     }

								</div>
							</div>
						</div>
					</div> <!-- end chat-message-content -->

				</div> <!-- end chat-message -->
                <div class="chat-message clearfix">
					<div class="chat-message-content clearfix" style="margin-top: -2px;">
						 <div id="SchemeTypeDiv" class="profile-info-row">
							<div class="profile-info-name"  style="text-align:left;padding-left: 16px;font-weight:bold;width: 130px;color:#053062;"> Action Type: </div>
								<div class="profile-info-value" style="padding-left: 15px;"> 
									<label>
                                      	@Html.DropDownList("Action_Type", ViewBag.TypeOfAction as SelectList, new { @required = "required", style = "width: 328px;" })	
									@*@Html.DropDownList("Action_Type", list, new {@required = "required",style="width: 328px;" })*@
                                    </label>
								</div>							
						</div>
					</div> <!-- end chat-message-content -->
				</div> <!-- end chat-message -->  
                <div class="chat-message clearfix">
					<div class="chat-message-content clearfix" style="margin-top: -17px;">
					  <div class="profile-info-row">
							<div class="profile-info-name" style="text-align:left;padding-left: 16px;font-weight:bold;width: 130px;color:#053062;">Action Details:</div>
							<div class="profile-info-value" style="padding-left: 15px;">
								<div>
                                    @if (item.ActionDetails != null)
                                    {
                                        var Str = item.ActionDetails.Replace("<p>", "");
                                        Str = Str.Replace("</p>", "");
                                        Str = Str.TrimStart();
                                        <textarea placeholder="Action Details" id="Action_Details" style="text-align:justify;width:328px;margin-top: 12px">@Str</textarea> 
                                    }    
                                    else
                                    {
                                        <textarea placeholder="Action Details" id="Action_Details" style="text-align:justify;width:328px;    margin-top: 12px">                                              
                                        </textarea> 
                                    }   
                                    
                                    
                                             						
								</div>
							</div>
						</div>
					</div> <!-- end chat-message-content -->

				</div> <!-- end chat-message -->  
                </div>

	            </div>
          	    </div>          
                <button style="margin-top: -71px;margin-left: 148px;background-color:#45a63e !important" class="btn btn-sm btn-success" onclick="return UpdateBenificiaryDetails('@item.Id');">
                   Update
                </button>
                </div> 
               

		</div> <!-- end chat -->              
	</div> <!-- end live-chat -->
        }

		
   </div>
</body>
<style>
    #myBar {
  width: 10%;
  height: 20px;
  background-color: #4CAF50;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white; 
}
    #myProgress {
  width: 20%;
  margin-left: 68.5%;
  /*background-color: grey;*/
}
</style>

<style>
.custom_file {
  margin: auto;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
</style>
<style>
    body {
	background: #e9e9e9;
	margin: 0;
}

a { text-decoration: none; }


h4, h5 {
	line-height: 1.5em;
	margin: 0;
}

hr {
	background: #e9e9e9;
    border:1px solid #e9e9e9;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 1px;
    margin: 0;
    /*min-height: 1px;*/
}


input {
	border: 0;
	color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    margin: 0;
}

p { margin: 0; }

/*.clearfix { *zoom: 1; }*/ /* For IE 6/7 */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after { clear: both; }

/* ---------- LIVE-CHAT ---------- */

#live-chat {
	bottom: 0;
	font-size: 14px;
	/*right: 132px;*/
    right: 1%;
	position: fixed;
	/*width: 1054px;*/
    width: 84%;
    border-style:groove;
}
#live-chat-1 {
	bottom: 288px;
	font-size: 14px;
	right: 105px;
	position: absolute;
	width: 1081px;
    border-style:groove;
}
#live-chat-1 header {
	background: #293239;
	border-radius: 5px 5px 0 0;
	color: #fff;
	cursor: pointer;
	padding: 16px 24px;
}

#live-chat header {
	background: #293239;
	border-radius: 5px 5px 0 0;
	color: #fff;
	cursor: pointer;
	padding: 7px 24px;
}

#live-chat h4:before {
	background: #1a8a34;
	border-radius: 50%;
	content: "";
	display: inline-block;
	height: 8px;
	margin: 0 8px 0 0;
	width: 8px;
}

#live-chat h4 {
	font-size: 12px;
}

#live-chat h5 {
	font-size: 10px;
}

#live-chat form {
	padding: 20px;
}

#live-chat input[type="text"] {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 8px;
	outline: none;
	width: 502px;
}

.chat-message-counter {
	background: #e62727;
	border: 1px solid #fff;
	border-radius: 50%;
	display: none;
	font-size: 12px;
	font-weight: bold;
	height: 28px;
	left: 0;
	line-height: 28px;
	margin: -15px 0 0 -15px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 28px;
}

.chat-close {
	background: #1b2126;
	border-radius: 50%;
	color: #fff;
	display: block;
	float: right;
	font-size: 18px;
	height: 16px;
	line-height: 16px;
	margin: 2px 0 0 0;
	text-align: center;
	width: 16px;
}
.Maximise-chat{
	background: #1b2126;
	border-radius: 50%;
	color: #fff;
	display: block;
	float: right;
	font-size: 18px;
	height: 16px;
	line-height: 16px;
	margin: 2px 0 0 0;
	text-align: center;
	width: 16px;
}
.chat {
	background: #fff;
}

.chat-history {
	height: 552px;
	/*padding: 8px 0px;*/
	overflow-y: scroll;
    /*height: 60%;*/
}

.chat-message {
	margin: 0px 0;
}

.chat-message-content {
	margin-left: 0px;
}

.chat-time {
	float: right;
	font-size: 10px;
}

.chat-feedback {
	font-style: italic;	
	margin: 0 0 0 80px;
}

</style>
<script>

    (function () {
        $('#live-chat header').on('click', function () {
            $('.chat').slideToggle(300, 'swing');
            $('.chat-message-counter').fadeToggle(300, 'swing');
        });

        $('.chat-close').on('click', function (e) {
            e.preventDefault();
            $('#live-chat').fadeOut(300);
        });

        $(".Maximise-chat").click(function () {
            var element = document.getElementById("live-chat");
            if ($(element).attr("id") === "live-chat") {
                $(element).attr("id", "live-chat-1");
            } else if (element === null) {
                var element = document.getElementById("live-chat-1");
                $(element).attr("id", "live-chat");
            }
            else {
                $(element).attr("id", "live-chat");
            }
        });
    })();
</script>
<script>
    $(document).ready(function () {
        $('#datepickerinput').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy",
            defaultDate: new Date()
        });
       
        //Calling Date Time Picker
        $('#Callingdatepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy",
            defaultDate: new Date()
        });
        //Action Date Time Picker
        $('#Actiondatepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy",
            defaultDate: new Date()
        });
      
        $('.dataTables_paginate.paging_bootstrap li.active').removeClass('active');
        $('.footer').removeClass('footer');
    });
    $(function () {
        $('#datepickerdiv').datepicker().on('change', function () {
            $('.datepicker').hide();
        });
    });
</script>

<script>

    function UpdateBenificiaryDetails(Id) {

        var SectorId = document.getElementById("SectorId");
        var Selected_Scheme_Id = SectorId.options[SectorId.selectedIndex].value;
        var Selected_Scheme_Text = SectorId.options[SectorId.selectedIndex].text;
        if (Selected_Scheme_Id == "") {
            ShowNotification("error", "Please Select Sector Type.");
            return false;
        }

        var BlockCode = document.getElementById("BlockID");
        var Selected_Block_ID = BlockCode.options[BlockCode.selectedIndex].value;
        var Selected_Block_Text = BlockCode.options[BlockCode.selectedIndex].text;

        if (Selected_Block_ID == "") {
            alert("Please Select Block Name.");
            return false;
        }

        var Panchayat = document.getElementById("PanchayatCode");
        var Selected_Panchayat_Id = Panchayat.options[Panchayat.selectedIndex].value;
        var Selected_Panchayat_Text = Panchayat.options[Panchayat.selectedIndex].text;
       
        if (Selected_Panchayat_Id == "" || Selected_Panchayat_Id == 0) {
            alert("Please Select Panchayat Name.");
            return false;
        }


        var Selected_Benificiary_Name = $('input#Benificiary_Name').val();
        if (Selected_Benificiary_Name == "") {
            alert("Please Enter the Benificiary Name");
            return false;
        }


        var SelectedGender = document.getElementById("Sex");
        var SelectedGenderIs = SelectedGender.options[SelectedGender.selectedIndex].value;
        var SelectedGendertext = SelectedGender.options[SelectedGender.selectedIndex].text;
        
       
        var Selected_Benificiary_Address = $('textarea#Benificiary_Address').val();
       

        var Selected_Mobile_Number = $('input#Mobile_Number').val();
        if (Selected_Mobile_Number == "") {
            alert("Please Enter the Mobile Number");
            return false;
        }


        var Selected_Feedback_Date = $("#Callingdatepicker").val();
        var res = Selected_Feedback_Date.split("/");
        var Date = res[0];
        var Month = res[1];
        var Year = res[2];
        var changed = Month + "/" + Date + "/" + Year
        Selected_Feedback_Date = changed;     


        var Selected_Calling_Details = $('textarea#Calling_Details').val();        
        //var Selected_Calling_Details = $('textarea#Description').val();
        //if (Selected_Calling_Details == "") {
        //    alert("Please Enter the Feedback Details");
        //    return false;
        //}

        var Selected_Action_Date = $("#Actiondatepicker").val();
        var res = Selected_Action_Date.split("/");
        var Date = res[0];
        var Month = res[1];
        var Year = res[2];
        var changed = Month + "/" + Date + "/" + Year
        Selected_Action_Date = changed;
        //if (Selected_Action_Date == "") {
        //    alert("Please Select the Action Date");
        //    return false;
        //}

        var Action_Type = document.getElementById("Action_Type");
        var Selected_Action_TypeId = Action_Type.options[Action_Type.selectedIndex].value;
        var Selected_Action_TypeText = Action_Type.options[Action_Type.selectedIndex].text;
        //if (Selected_Action_TypeId === "") {
        //    alert("Please Select Action Type.");
        //    return false;
        //}


        var Selected_Action_Details = $('textarea#Action_Details').val();
        //if (Selected_Action_Details == "") {
        //    alert("Please Enter the Action Details");
        //    return false;
        //}

        var Datalist = new Array();
        var Letterdata = {
            Id: Id,
            SectorId: Selected_Scheme_Id,          

            BlockCode: Selected_Block_ID,      

            PanchayatCode: Selected_Panchayat_Id,        

            ApplicantName: Selected_Benificiary_Name,
            ApplicantAddress: Selected_Benificiary_Address,
            ApplicantMobile: Selected_Mobile_Number,           
            Sex: SelectedGenderIs,
            CallingDate: Selected_Feedback_Date,
            CallDetails: Selected_Calling_Details,

            ActionDate: Selected_Action_Date,
            ActionTypeCode: Selected_Action_TypeId,          
            ActionDetails: Selected_Action_Details

        }
        Datalist.push(Letterdata);
        $("#loader-wrapper").show();
        $.ajax({
            url: '@Url.Action("Update_Helpline_Details", "Feedback")', //
                    dataType: "html",
                    data: JSON.stringify(Datalist),
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (result) {
                        alert("Successfully Updated");
                        //For reloading list
                        var pathurl = "@Url.Action("HelpLineDetailList", "Feedback")";
                        $.ajax({
                            url: pathurl,
                            type: 'GET',
                            data: {
                                page: 1,
                                RowsPerPage: 10,
                                loopStart: 1,
                                loopEnd: 5,
                                SearchText: "",
                                SectorId: "",
                                BlockCode: "",
                                PanchayatCode: "",
                                ActionTypeCode: "",
                            },
                            success: function (data) {
                                $("#tablecontainer").html("");
                                $("#tablecontainer").html(data);
                                $("#ComposeLetterDiv").html("");
                                $("#ComposeLetterDiv").hide;
                            }
                        });
                        $("#loader-wrapper").hide();
                    },
                    error: function (xhr) {
                        alert("Please Try Again");
                    }
                });

            }
</script>

<script>
    function ReloadList() {

        //For reloading list
        var pathurl = "@Url.Action("HelpLineDetailList", "Feedback")";
        $("#loader-wrapper").show();
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                page: 1,
                RowsPerPage: 10,
                loopStart: 1,
                loopEnd: 5,
                SearchText: "",
                SectorId: "",
                BlockCode: "",
                PanchayatCode: "",
                ActionTypeCode: "",
            },
            success: function (data) {
                $("#loader-wrapper").show();
                $("#tablecontainer").html("");
                $("#tablecontainer").html(data);
                $("#ComposeLetterDiv").html("");
                $("#ComposeLetterDiv").hide;
                $("#loader-wrapper").hide();
            }
        });


    }

</script>


<script>
    $("#BlockID").change(function () {
        var BlockID = this.value;
        $.ajax({
            url: "/Admin/Feedback/GetPanchayatByBlockId",
            type: 'POST',
            data: {
                BlockID: BlockID
            },
            success: function (data) {
                var option = '';
                if (data.length > 0) {
                    option += '<option value="' + '0' + '">' + '--Select Panchayat--' + '</option>';
                    for (var i = 0; i < data.length; i++) {

                        option += '<option value="' + data[i].PanchayatCode + '">' + data[i].PanchayatName + '</option>';
                    }

                    $('#PanchayatCode').html('');
                    $('#PanchayatCode').append(option);
                }
                else {
                    $('#PanchayatCode').html('');
                    option += '<option value="0">No Panchayat Mapped</option>';
                    $('#PanchayatCode').append(option);
                }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    });
</script>
