﻿@{
    ViewBag.Title = "MeetingView";
}

@model  List<SBL.eLegistrator.HouseController.Web.Areas.Admin.Models.FeedbackViewModel>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    int count = 0;
}

@*@Html.Action("LeftNavigationMenu", "SuperAdmin")*@

@Html.Partial("_LeftMenu")


<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
  @* @Html.Partial("_BreadcrumbsPartial")*@

     <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a>Home</a>
            </li>

          
            <li class="active"></li>
        </ul>

       @* <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>*@

    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
       
        <div class="page-header">
            <h1>Meeting Agenda                            
               
            </h1>
        </div>
        <div id="Menu">
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->

                    <div class="pass-table" id="divData">


                      </div>

                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@

            </div>

            <!-- /section:basics/footer -->
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>




<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        GetMeetingFilter();


    });

  
    function GetMeetingFilter() {
       // alert('asdaSDASD');
        $("#loader-wrapper").show();
        var pageId = "1";
        var pageSize = "25"
        $.ajax({
            url: "/eFile/eFile/GetMeetingView",
            type: 'GET',
            data: { pageId: pageId, pageSize: pageSize },
            success: function (data) {
                if (data) {
                    $('#divData').empty();
                    $('#divData').html(data);
                    $("#loader-wrapper").hide();
                    //$('#resize-left').width('100%');
                    //$('#spnScrollPosition').html('1');
                    //$('#resize-right').animate({ width: '0%' }, 500);
                    //ChangeBreadCrumbParent("e-Committee", "");
                    //ChangeBreadCrumbChild("Meeting Agenda", "");
                    //$("#MainDiveThreeTire").show();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }

</script>
