﻿@using SBL.eLegistrator.HouseController.Web.Helpers
@using SBL.eLegistrator.HouseController.Web.Utility

<style type="text/css">
	#prodiv {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100px;
		height: 100px;
		margin-top: -9em; /*set to a negative number 1/2 of your height*/
		margin-left: -15em; /*set to a negative number 1/2 of your width*/
		background-color: #f3f3f3;
	}
</style>




<script>

    $('.collapse').on('shown.bs.collapse', function () {
        $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
    }).on('hidden.bs.collapse', function () {
        $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
    });
  </script>

<link rel="stylesheet" href="~/Content/font-awesome.min.css">
<style>
          .accordion-toggle:hover {
           text-decoration: none;
           margin-bottom:-10px;
       }
          .btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
}

.btn-sq {
  width: 100px !important;
  height: 100px !important;
  font-size: 8px;
  margin-left:20px;
}

.btn-sq-sm {
  width: 50px !important;
  height: 50px !important;
  font-size: 10px;
}

.btn-sq-xs {
  width: 25px !important;
  height: 25px !important;
  padding:2px;
}
.active1 {
   width: 120px !important;
   height: 120px !important;
   /*padding:2px;*/
    font-size: 18px;
    margin-left:10px;
}
.dark-font .breadcrumb-item + .breadcrumb-item::before {
color: #000;
font-size:x-large;
}
.dark-font .breadcrumb-item.active {
color: #455a64; }
.small-box {
    position: relative;
    display: block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #f9f9f9;
    cursor: pointer;
}

.bg-red {
    background-color: #f56954!important;
}
.bg-purple {
    background-color: #932ab6!important;
}

.bg-green {
    background-color: #00a65a!important;
}
.bg-yellow {
    background-color: #f39c12!important;
}

.bg-aqua {
    background-color: #00c0ef!important;
}
.bg-teal {
    background-color: #39cccc!important;
}

.small-box h3 {
    font-size: 26px;
    font-weight: 700;
    margin: 0 0 10px;
    padding: 0;
    white-space: nowrap;
    font-family: "Proxima Nova Regular","Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
}
.small-box p {
    font-size: 14px;
    font-weight: 600;
   margin: -4px;
}
.small-box>.inner {
    padding: 10px;
    max-height: 90px;
}
.small-box .icon {
    position: absolute;
    /*top: auto;*/
    top: -11px;
    bottom: 5px;
    right: 5px;
    z-index: 0;
    font-size: 80px;
    color: rgba(0,0,0,.15);
}

 .small-box:hover > .icon  > .fa {  /*font-size: 1.2em;*/ 
       font-size: 1.2em;
  /*transition-delay:1s;*/
  transition-duration: 0.5s;
  transition-timing-function: linear;
 /*transition-delay: 1s;*/
 }
       
 
        

.small-box>.small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255,255,255,.8);
    display: block;
    z-index: 10;
    background: rgba(0,0,0,.1);
    text-decoration: none;
}

.panel-group{
    margin-bottom:10px!important;
}

</style>
<div class="panel-group" id="accordion" >
 
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" onclick="Toggle();">
            <img src="~/assets/images/filter.png"  style="width:20px; height:15px"/>
            <b><span class="bd-lead" style="color:#0092cc;padding-right:5px;padding-left:15px">FILTER</span></b>
           
        </a>
      </h4>
    </div>
       <div id="collapseTwo" class="panel-collapse collapse">
  @*  <div id="collapseTwo" class="panel-collapse collapse in">*@
      <div class="panel-body" style="padding-left: 3px;padding-right: 3px;padding-top: 6px;margin-bottom: -27px;">


          <div class="well well-lg" style="padding:4px">
               <button class="btn btn-info" style="padding: 1px;">Main Filter</button>
    <div class="row">
           <div class="col-xs-4 form-group">
            <label style="width:30%" >Scheme :</label>
              <select id="nSchemeId" style="width:65%" data-placeholder="--Select Scheme --" >
                 
              </select>
        </div>
           <div class="col-xs-4 form-group">
            <label style="width:30%" >Block :</label>
              <select onchange="GetPanchayatByBlockCode()"  id="nBlockCode" style="width:65%" data-placeholder="--Select Block --" >
                 
              </select>
        </div>
            <div id="nPanchayatDiv" class="col-xs-4 form-group" style="display:none;">
            <label style="width:30%" >Panchayat :</label>
              <select  id="nPanchayatCode" style="display:none; width:65%" data-placeholder="--Select Panchayat --" >
                 
              </select>
        </div>
       
         <div class="col-xs-4 form-group" >
            <label style="width:30%" >Action:</label>
              <select id="nActionCode" style="width:65%">                
              </select>
        </div>



             <div style="text-align: end;margin-right: 27px;">
            <button type="button" id="submitButton" class="btn btn-info btn-sm " style="margin-left: 21px;" onclick="GetDataBySearchParam();">
                <i class="ace-icon fa fa-search bigger-110"></i>Search
            </button>
          
            <button type="button" class="btn btn-warning btn-sm" onclick="Clear();">
                <i class="ace-icon fa fa-times bigger-110"></i>Clear
            </button>
        </div>
    </div>
    </div>

    <!-- You will not be able to see this text. -->

           


  </div></div></div>

</div>

		<div class="row">
			<div class="col-xs-12" style="min-height: 800px;">
				<!-- PAGE CONTENT BEGINS -->
				<div class="widget-box">
					<div class="widget-header">						
						<span id="designationText"></span>
                        @*House Committee Papers*@
						<div class="widget-toolbar"> 
                           
                            	<div>    
							  <button type="submit" id="ComposeLetter" class="btn btn-xs btn-primary btn-bold" onclick="CreateNewBenificiary();" style="width: 68px;height: 39px;">
                              <span style="font-size: 17px;">New</span></button>							
							</div>
                           
						
						</div>
					</div>                    
					<div class="widget-body">
						<div class="widget-main">
							<div class="pass-table" style="margin-right: -11px;margin-left: -11px;margin-top: -11px;">							
								<div id="tablecontainer">
								</div>
								<div id="ComposeLetterDiv">
								</div>
								<!-- PAGE CONTENT ENDS -->
							</div>
						</div>
					</div>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.page-content -->	
	<!-- /.main-content -->
<!-- ace scripts -->
<script>
    try {
        $('.chosen-select').chosen({ allow_single_deselect: true });
        //resize the chosen on window resize
        $(window).on('resize.chosen', function () {

            $('.chosen-select').next().css({ 'width': '300px' });
        }).trigger('resize.chosen');
    }
    catch (error) {
    }
    try {
        $('#chosen-multiple-style').on('click', function (e) {
            var target = $(e.target).find('input[type=radio]');
            var which = parseInt(target.val());
            if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
            else $('#form-field-select-4').removeClass('tag-input-style');
        });
    }
    catch (error) {
    }
    $(document).ready(function () {
        getList();
        FillSchemeDropDown();
        FillBlockDropDown();
        FillActionDropDown();
    });


    function getList() {

        var SchemeId = $("#nSchemeId option:selected").val();
        if (SchemeId == "0") {
            SchemeId = "";
        }
        var BlockCode = $("#nBlockCode option:selected").val();
        if (BlockCode == "0") {
            BlockCode = "";
        }

        var PanchayatCode = $("#nPanchayatCode option:selected").val();
        if (PanchayatCode == "0") {
            PanchayatCode = "";
        }
        if (PanchayatCode == null) {
            PanchayatCode = "";
        }

        var ActionTypeCode = $("#nActionCode option:selected").val();
        if (ActionTypeCode == "0") {
            ActionTypeCode = "";
        }




        $("#loader-wrapper").show();
        var pathurl = "@Url.Action("BenificiaryDetailsList", "Feedback")";
			$.ajax({
			    url: pathurl,
			    type: 'GET',
			    data: {
			        page: 1,
			        RowsPerPage: 10,
			        loopStart: 1,
			        loopEnd: 5,
			        SearchText: "",
			        SchemeId: SchemeId,
			        BlockCode: BlockCode,
			        PanchayatCode: PanchayatCode,
			        ActionTypeCode:ActionTypeCode,
			    },
			    success: function (data) {
			        $("#tablecontainer").html("");
			        $("#tablecontainer").html(data);
			        $("#loader-wrapper").hide();
			    }
			});
    }


    function FillSchemeDropDown() {
        $.ajax({
            url: "/Admin/Feedback/GetBeneficiarySchemeList",
            type: 'POST',
            data: {
            },
            success: function (data) {
                var option = '';
                if (data.length > 0) {
                    option += '<option value="' + '0' + '">' + '--Select Scheme--' + '</option>';
                    for (var i = 0; i < data.length; i++) {
                        option += '<option value="' + data[i].Id + '">' + data[i].SchemeName + '</option>';
                    }
                    $('#nSchemeId').append(option);
                }
                else {
                    $('#nSchemeId').html('');
                    option += '<option value="0"></option>';
                    // $('#sItemType').append(option);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

    function FillBlockDropDown() {
        $.ajax({
            url: "/Admin/Feedback/GetBlockList",
            type: 'POST',
            data: {
            },
            success: function (data) {
                var option = '';
                if (data.length > 0) {
                    option += '<option value="' + '0' + '">' + '--Select Block--' + '</option>';
                    for (var i = 0; i < data.length; i++) {
                        option += '<option value="' + data[i].BlockCode + '">' + data[i].BlockName + '</option>';
                    }
                    $('#nBlockCode').append(option);
                }
                else {
                    $('#nBlockCode').html('');
                    option += '<option value="0"></option>';
                    // $('#sItemType').append(option);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

    function FillActionDropDown() {
        $.ajax({
            url: "/Admin/Feedback/GetActionTypeList",
            type: 'POST',
            data: {
            },
            success: function (data) {
                var option = '';
                if (data.length > 0) {
                    option += '<option value="' + '0' + '">' + '--Select Action Type--' + '</option>';
                    for (var i = 0; i < data.length; i++) {
                        option += '<option value="' + data[i].ActionCode + '">' + data[i].ActionName + '</option>';
                    }
                    $('#nActionCode').append(option);
                }
                else {
                    $('#nActionCode').html('');
                    option += '<option value="0"></option>';
                    // $('#sItemType').append(option);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

    function GetPanchayatByBlockCode() {       
        var SelectedBlockCode = document.getElementById("nBlockCode").value;       
        $.ajax({
            url: "/Admin/Feedback/GetPanchayatByBlockId",
            type: 'POST',
            data: {
                BlockId: SelectedBlockCode
            },
            success: function (data) {
                var option = '';
                if (data.length > 0) {
                    option += '<option value="' + '0' + '">' + '--Select Panchayat--' + '</option>';
                    for (var i = 0; i < data.length; i++) {
                        option += '<option value="' + data[i].PanchayatCode + '">' + data[i].PanchayatName + '</option>';
                    }
                    document.getElementById("nPanchayatDiv").style.display = "block";
                    document.getElementById("nPanchayatCode").style.display = "table-column";
                    $('#nPanchayatCode').html('');
                    $('#nPanchayatCode').append(option);

                }
                else {
                    //$('#ItemType').html('');
                    //option += '<option value="0">No File Exist</option>';
                    //$('#ItemType').append(option);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }
</script>


<script>

  
    function Clear() {        
        document.getElementById("nPanchayatDiv").style.display = "none";
        $("#nPanchayatCode").html("");
        $("#nSchemeId").html("");
        $("#nBlockCode").html("");
        $("#nActionCode").html("");
        FillSchemeDropDown();
        FillBlockDropDown();
        FillActionDropDown();
        
    }
    function GetDataBySearchParam() {

        var SchemeId = $("#nSchemeId option:selected").val();
        if (SchemeId == "0")
        {
            SchemeId = "";
        }
        var BlockCode = $("#nBlockCode option:selected").val();      
        if (BlockCode == "0") {
            BlockCode = "";           
        }

        var PanchayatCode = $("#nPanchayatCode option:selected").val();
        if (PanchayatCode == "0") {
            PanchayatCode = "";
        }
        if (PanchayatCode == null) {
            PanchayatCode = "";
        }

        var ActionTypeCode = $("#nActionCode option:selected").val();      
        if (ActionTypeCode == "0") {
            ActionTypeCode = "";
        }


        var SearchText = "";

        $("#loader-wrapper").show();
        var pathurl = '/Admin/Feedback/BenificiaryDetailsList';

        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                page: 1,
                RowsPerPage: 10,
                loopStart: 1,
                loopEnd: 5,
                SearchText: SearchText,
                SchemeId: SchemeId,
                BlockCode: BlockCode,
                PanchayatCode: PanchayatCode,
                ActionTypeCode: ActionTypeCode,
            },
            success: function (data) {
                $("#tablecontainer").html('');
                $("#tablecontainer").html(data);
                $("#loader-wrapper").hide();
            }
        });

    }
</script>

<script>

   
</script>


<script>
    function CreateNewBenificiary() {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/Admin/Feedback/ComposeNew",
            type: 'GET',
            data: {
            },
            success: function (data) {
                if (data) {
                    $("#ComposeLetterDiv").html("");
                    $("#ComposeLetterDiv").html(data);
                    $("#loader-wrapper").hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            },
        });

    }
</script>