﻿<div class="col-xs-12">
	 <input type="hidden" id="hdCommitteeId" name="hide" />
	<div class="widget-header widget-header-blue widget-header-flat" style="margin: 0px 20px;">
		<h4 class="widget-title lighter">Add Committee Members</h4>
	</div>

	<div class="col-xs-12">
		<div class="messageBox"></div>
		<div class="row">
			<input type="hidden" value="@ViewBag.mode" id="hdMode" />
			<div style="color: black; margin: 0px 20px;">
				<table style="line-height: 39px;">

					<tr>
						<td colspan="2">Committee Name&nbsp;:&nbsp;<span id="spnCommitteeName" class="label label-sm label-pink arrowed-right"></span></td>
						<td style="float: left">@*<a onclick="GetPrevious()">GetPrevious Members for Committee</a>*@</td>

					</tr>

					<tr>
						<td>Members (Constituency Name)</td>
						<td></td>
						<td>Committee Members</td>
					</tr>

					<tr>
						<td>
							<select style="width: 261px" id="SlctMembers" name="sometext" size="5" multiple="multiple">
							</select>
						</td>
						<td style="padding-left: 19px;">

							<span style="padding-left: 12px;">
								<button type="button" id="savebtnAdd" class="btn btn-sm btn-purple " style="padding-left: 14px;" onclick="getSelectedMembers();">
									<i class="ace-icon fa fa-floppy-o bigger-125"></i>
									Add</button>

							</span>

							<span style="padding-left: 12px;">
								<button type="button" class="btn btn-sm btn-info" onclick="DeleteMembersFromList();" style="padding-left: 0px; padding-right: 0px;">
									<i class="ace-icon fa fa-times bigger-125"></i>
									Remove</button>
							</span>

						</td>
						<td>

							<select style="width: 261px;" id="SlctCommMembers" name="sometexts" size="5">
							</select>

						</td>
					</tr>
					<tr>
						<td style="padding-left: 329px;" colspan="3">Chairman&nbsp;:&nbsp;
													<select name="sometext" id="ddlChairman" style="width: 257px;">
													</select>

						</td>
					</tr>
					<tr>
						<td style="padding-left: 329px;" colspan="3">Committee Officer&nbsp;:&nbsp;
													<select name="sometext" id="ddlChairmanComm" style="width: 257px;">
													</select>

						</td>
					</tr>

				</table>
			</div>
			<div style="margin: 0px 20px;">
				<table style="width: 100%;">
					<tr>
						<td>
							<div class="btn-group pull-right padding-10">
								<!-- #section:plugins/fuelux.wizard.buttons -->
								<button type="button" id="savebtn" class="btn btn-sm btn-purple " onclick="AddCommitteeMembers();">
									<i class="ace-icon fa fa-floppy-o bigger-125"></i>
									@Resources.MasterDataDashboard.Save</button>
								<button type="button" class="btn btn-sm btn-info" onclick="resetFields();">
									<i class="ace-icon fa fa-times bigger-125"></i>
									@Resources.MasterDataDashboard.Reset
								</button>
								<!-- /section:plugins/fuelux.wizard.buttons -->
							</div>
						</td>
					</tr>
				</table>
			</div>


		</div>
		<!--Save button-->
	</div>

</div>





<div id="overlay"></div>










