﻿@model SBL.eLegistrator.HouseController.Web.Areas.eFile.Models.eFileViewModel
<style>
	.fileMain {
		color: #000;
		height: 935px;
		/*width: 800px;*/
		background: url(/Content/img/file_text_red.jpg) repeat 0 0 transparent;
		/*position: relative;*/
	}

	.filePosition {
	}

	.footer {
		padding-top: 160px;
	}

	.file_main_header {
		font-weight: bold;
		font-size: .4cm;
		text-align: center;
	}
</style>




<!-- /section:settings.box -->

@using (Html.BeginForm("AddeFile", "eFile", FormMethod.Post, new { @id = "FormAddFile" }))
{
    <input type="hidden" id="hdnDepartmentId" name="hdnDepartmentId" value="@Model.DepartmentId" />
     <input type="hidden" id="hdnOfficecode" name="hdnOfficecode" value="@Model.Officecode" />
    
	@Html.HiddenFor(model => model.CommitteeId)	
	@Html.HiddenFor(model => model.eFileID)

	<div class="col-sm-12" style="width: 98%;">
		<div class="widget-box">
			<div class="widget-header ">
				<h4 class="widget-title">Create eFile</h4>
				<div class="widget-toolbar">
					<a href="#" data-action="fullscreen" class="red">
						<i class="ace-icon fa fa-expand bigger-150"></i>
					</a>
				</div>
			</div>

			<div class="widget-body">
				<div class="widget-main no-padding-right no-padding-left">
					<div class="filePosition">
						<div class="fileMain">
							<div>
								<div>
									<div class="fileMain">
										<div class="file_main_header">
											<div class="file_head_Title" style="font-size: 29px;">
												हिमाचल प्रदेश सरकार
											</div>
											<div class="file_head_year" style="font-size: 18px;"><span>From Year : @Html.TextBoxFor(model => model.FromYear, new { @style = "width: 9%;background-color: rgb(236, 232, 232);", @length = "4" })</span>- To Year : @Html.TextBoxFor(model => model.ToYear, new { @style = "width: 9%;background-color: rgb(236, 232, 232);", @length = "4" })</div>
											<div class="file_subhead_first">" विकास ओर प्रगति का आधार "</div>
											<div class="file_subhead_second">| | पढ़ा लिखा ओर छोटा परिवार   | |</div>
											<div>
												<img src="" />
											</div>
										</div>
										<hr style="color: black; margin-top: 0px; margin-bottom: 0px;" />

                                         <div class="file_subhead_first"style="text-align:center;font-size:medium;"><strong>HP VIDHAN SABHA</strong> </div>
                                    <div class="file_subhead_second" style="text-align:center;"><strong>@SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.BranchName</strong></div>
										<div class="wrapper">
											<table style="border-spacing: 20px; border-collapse: inherit;">
												<tr>
													<td style="font-weight: normal; font-size: 14px; text-align: right; text-decoration: underline;">
														@*<label class="col-sm-3 control-label no-padding-right" for="Name">Department(विभाग)</label>*@
														Department (विभाग)
													</td>
													<td style="padding: 0px 0px 0px 11px;">:</td>
													<td>
													@*	@Html.DropDownListFor(model => model.DepartmentId, Model.DepartmentList, "-Select Department-", new { @class = "col-xs-12" })*@
                                                         @Html.DropDownListFor(model => model.SelectedDeptId, Model.DepartmentList, "Select Department", new { @class = "col-xs-12" })
													</td>
												</tr>

											@*	<tr>
													<td style="font-weight: normal; font-size: 14px; text-align: right; text-decoration: underline;">
														
														Office (कार्यालय)
													</td>
													<td style="padding: 0px 0px 0px 11px;">:</td>
													<td>
														<select id="lstOffice" name="lstOffice" class="col-xs-12" >
															<option value="0">Select Office</option>
														</select>


													</td>
												</tr>*@
												<tr>
													<td style="font-weight: normal; font-size: 14px; text-align: right; text-decoration: underline;">eFile Type (नस्ती प्रकार)
													</td>
													<td style="padding: 0px 0px 0px 11px;">:</td>
													<td>
														@Html.DropDownListFor(model => model.eFileTypeID, new SelectList(Model.eFileTypeList,
														"eTypeID", "eType", 0), "- Select eFile Type -", new
														{
															@id = "lsteFileType",
															@class = "col-xs-12"
														})
													</td>
												</tr>
												<tr>
													<td style="font-weight: normal; font-size: 14px; text-align: right; text-decoration: underline;">File No (नस्ती सं)
													</td>
													<td style="padding: 0px 0px 0px 11px;">:</td>
													<td>

														@Html.TextBoxFor(model => model.eFileNumber, new { @class = "col-xs-12" })
													</td>
												</tr>
												<tr>
													<td style="font-weight: normal; font-size: 14px; text-align: right; text-decoration: underline;">
														@*<label class="col-sm-3 control-label no-padding-right" for="Name">Subject(विषय)</label>*@
														Subject (विषय)
													</td>
													<td style="padding: 0px 0px 0px 11px;">:</td>
													<td>
														@Html.TextAreaFor(model => model.eFileSubject, new { @class = "col-xs-12" })
													</td>
												</tr>

											</table>


										</div>


										<div class="wrapper">
											<div class="file_bottom_section">
												<table class="file_bottom_section_table" style="width: 92%; margin: 0px 34px;">
													<tr>
														<td style="font-weight: normal; font-size: 14px; text-decoration: underline;">Pre - context(पूर्व - सदर्भ)
														</td>
														<td style="font-weight: normal; font-size: 14px; text-decoration: underline;">Future - context(भविष्य  - सदर्भ )
														</td>
													</tr>
													<tr>
														<td style="padding-left: 0px;">

															@Html.EditorFor(model => model.OldDescription, new
	  {

		  @name = "txtOldDescription",
		  @style = "width:50px;resize:vertical;height:50px;",

	  })
														</td>
														<td style="padding-left: 0px;">

															@*@Html.TextAreaFor(model => model.NewDescription, new { @style = "width:94%;background-color: rgb(236, 232, 232);", cols = "5px", rows = "5px" })*@
															@Html.EditorFor(model => model.NewDescription, new
	  {


		  @name = "txtNewDescription",
		  @style = "width:50px;resize:vertical;height:50px;",

	  })
														</td>
													</tr>
												</table>

											</div>
										</div>

										<div class="space-2"></div>
										<div class="space-2"></div>
										<div class="space-2"></div>
										<div class="btn-group pull-right padding-10" style="right: 17px;">
											<!-- #section:plugins/fuelux.wizard.buttons -->

											@if (Model.Mode == "Edit")
		   {
												<button type="button" id="Updatebtn" class="btn btn-lg btn-success" onclick="UpdateeFile()">
													<i class="ace-icon fa fa-floppy-o bigger-125"></i>
													Update</button>
		   }
		   else
		   {
												<button type="button" id="savebtn" class="btn btn-lg btn-success" onclick="AddeFile()">
													<i class="ace-icon fa fa-floppy-o bigger-125"></i>
													@Resources.MasterDataDashboard.Save</button>
		   }



											<button type="reset" class="btn btn-lg btn-info">
												<i class="ace-icon fa fa-times bigger-125"></i>
												@Resources.MasterDataDashboard.Reset
											</button>
											<!-- /section:plugins/fuelux.wizard.buttons -->
										</div>

									</div>


									<!-- /.row -->

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
}
<script src="~/assets/js/bootbox.min.js"></script>

<script>

    $(function () {
        debugger;
        if ('@Model.Mode' == "Edit") {
		    var depid = '@Model.DepartmentId';
		  //  getOfficeDeptWise(depid);
		   // var offcode = '@Model.Officecode';
			//$("#lstOffice").val(offcode);
        }
	    if ('@Model.Mode' == "Add") {
	        $("#eFileTypeID").val("8");
	    }
	    //eFileTypeID

	    var _DeptID = '@Model.DepartmentId';
        if (_DeptID == "HPD1069") {
            $("#DepartmentId").val(_DeptID);
            //$('#DepartmentId').attr("disabled", true);
           // getOfficeDeptWise($("#DepartmentId").val());
        }
        else {
            $("#DepartmentId").val(_DeptID);
            //$('#DepartmentId').attr("disabled", true);
           // getOfficeDeptWise($("#DepartmentId").val());
        }



	});


	function UpdateeFile() {
        debugger;
	    if ($('#DepartmentId option:selected').text() == '-Select Department-') {
	        var dlg = bootbox.alert("Please Select Department", function (e) {
	            $(dlg).modal('hide');
	        });
	        return;
	    }
	    //else if ($('#lstOffice option:selected').text() == 'Select Office') {
	    //    var dlg = bootbox.alert("Please Select Office", function (e) {
	    //        $(dlg).modal('hide');
	    //    });
	    //    return;
	    //}
	    else if ($('#FromYear').val().trim().length == 0) {
	        var dlg = bootbox.alert("Please Enter From-Year", function (e) {
	            $(dlg).modal('hide');
	        });
	        return;
	    }
	    else if ($('#FromYear').val().trim().length > 4) {
	        var dlg = bootbox.alert("Only 4 Character Valid in  From-Year", function (e) {
	            $(dlg).modal('hide');
	        });
	        return;
	    }
	    else if ($('#FromYear').val().trim().length < 4) {
	        var dlg = bootbox.alert("Min. 4 Character Valid in  From-Year", function (e) {
	            $(dlg).modal('hide');
	        });
	        return;
	    }
	    else if ($('#ToYear').val().trim().length == 0) {
	        var dlg = bootbox.alert("Please Enter To-Year", function (e) {
	            $(dlg).modal('hide');
	        });
	        return;
	    }
	    else if ($('#ToYear').val().trim().length > 4) {
	        var dlg = bootbox.alert("Only 4 Character Valid in To-Year", function (e) {
	            $(dlg).modal('hide');
	        });
	        return;
	    }
	    else if ($('#ToYear').val().trim().length < 4) {
	        var dlg = bootbox.alert("Min. 4 Character Valid in To-Year", function (e) {
	            $(dlg).modal('hide');
	        });
	        return;
	    }
	    else if ($('#eFileNumber').val().trim().length == 0) {
	        var dlg = bootbox.alert("Please Enter eFile No.", function (e) {
	            $(dlg).modal('hide');
	        });
	        return;
	    }
	    else if ($('#eFileSubject').val().trim().length == 0) {
	        var dlg = bootbox.alert("Please Enter Subject", function (e) {
	            $(dlg).modal('hide');
	        });
	        return;
	    }

	    $("#loader-wrapper").show();



	    var model = $('#FormAddFile').serialize();


	    $.ajax({
	        url: "/eFile/eFile/UpdateeFileDetailsByFileId",
	        type: 'POST',
	        data: model,
	        //dataType: 'json',
	        //contentType: 'application/json; charset=utf-8',
	        success: function (data) {

	            debugger;

	            var dlg = bootbox.alert(data, function (e) {

	                $(dlg).modal('hide');

	            });
	            //GeteFileListDetails($('#CommitteeId').val());
	            eFileList();
	            $("#loader-wrapper").hide();
	        },
	        error: function (xhr, ajaxOptions, thrownError) {
                 debugger;
	            var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {
	                $(dlg).modal('hide');
	            });
	        },
	        complete: function () {
	            $('#FromYear').val('');
	            $('#ToYear').val('');
	            $('#eFileNumber').val('');
	            $('#eFileSubject').val('');
	            $('#OldDescription').html('');
	            $('#NewDescription').html('');

	        }
	    });


	}
	function AddeFile() {

	    if ($('#DepartmentId option:selected').text() == '-Select Department-') {
	        var dlg = bootbox.alert("Please Select Department", function (e) {
	            $(dlg).modal('hide');
	        });
	        return;
	    }
	    //else if ($('#lstOffice option:selected').text() == 'Select Office') {
	    //    var dlg = bootbox.alert("Please Select Office", function (e) {
	    //        $(dlg).modal('hide');
	    //    });
	    //    return;
	    //}
	    else if ($('#FromYear').val().trim().length == 0) {
	        var dlg = bootbox.alert("Please Enter From Year", function (e) {
	            $(dlg).modal('hide');
	        });
	        return;
	    }
	    else if ($('#FromYear').val().trim().length > 4) {
	        var dlg = bootbox.alert("Only 4 Character Valid", function (e) {
	            $(dlg).modal('hide');
	        });
	        return;
	    }
	    else if ($('#FromYear').val().trim().length < 4) {
	        var dlg = bootbox.alert("Min. 4 Character Valid", function (e) {
	            $(dlg).modal('hide');
	        });
	        return;
	    }
	    else if ($('#ToYear').val().trim().length == 0) {
	        var dlg = bootbox.alert("Please Enter To Year", function (e) {
	            $(dlg).modal('hide');
	        });
	        return;
	    }
	    else if ($('#ToYear').val().trim().length > 4) {
	        var dlg = bootbox.alert("Only 4 Character Valid", function (e) {
	            $(dlg).modal('hide');
	        });
	        return;
	    }
	    else if ($('#ToYear').val().trim().length < 4) {
	        var dlg = bootbox.alert("Min. 4 Character Valid", function (e) {
	            $(dlg).modal('hide');
	        });
	        return;
	    }
	    else if ($('#eFileNumber').val().trim().length == 0) {
	        var dlg = bootbox.alert("Please Enter eFile No.", function (e) {
	            $(dlg).modal('hide');
	        });
	        return;
	    }

	    $("#loader-wrapper").show();
	    $('#DepartmentId').attr("disabled", false);
	    $('#lstOffice').attr('disabled', false);

	    var model = $('#FormAddFile').serialize();


	    $.ajax({
	        url: "/eFile/eFile/AddeFile",
	        type: 'POST',
	        data: model,
	        //dataType: 'json',
	        //contentType: 'application/json; charset=utf-8',
	        success: function (data) {



	            var dlg = bootbox.alert(data, function (e) {

	                $(dlg).modal('hide');

	            });

	            eFileList();
	           // $('#DepartmentId').attr("disabled", true);
	           // $('#lstOffice').attr('disabled', true);
	            $("#loader-wrapper").hide();
	        },
	        error: function (xhr, ajaxOptions, thrownError) {
	            var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {
	                $(dlg).modal('hide');
	            });
	        }
	        //complete: function () {
	        //	$('#FromYear').val('');
	        //	$('#ToYear').val('');
	        //	$('#eFileNumber').val('');
	        //	$('#eFileSubject').val('');
	        //	$('#OldDescription').html('');
	        //	$('#NewDescription').html('');

	        //}
	    });


	}

	//$("#DepartmentId").change(function () {
	//    getOfficeDeptWise($("#DepartmentId").val());
	//});
	function getOfficeDeptWise(Deptid) {
	    debugger;
	    $("#loader-wrapper").show();
	    var a = '@ViewBag.OffICode';
	    //Deptid = '@Model.DepartmentId';
		var Url = '@Url.Action("GetOfficesByDeptId", "OnlineMemberQuestions", new { Area = "Notices" })';
	    $.ajax({
	        url: Url,
	        type: 'GET',
	        data: { DeptId: Deptid },
	        success: function (data) {

	            if (data) {
	                $("#lstOffice").html("");
	                if (data.length > 0) {
	                    for (var i = 0; i < data.length; i++)
	                    {
	                        var item = data[i];
	                        $("#lstOffice").append($("<option></option>").val(item.OfficeId).html(item.officename))
	                    }
	                }
	                else {
	                    alert("IN");
	                    $("#lstOffice").append($("<option></option>").val("0").html("Select Office"));
	                    
	                }
	                $("#lstOffice").trigger("chosen:updated");
	               // $("#lstOffice").prop("disabled", "");
	                $("#loader-wrapper").hide();
	            }
	            else {
	                $("#lstOffice").html("");
	                $("#lstOffice").trigger("chosen:updated");

	            }
	        },
	        error: function (xhr, ajaxOptions, thrownError) {

	            var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

	                $(dlg).modal('hide');
	            });
	        },
	        complete: function () {
	            $("#lstOffice").val(a);
	           // $('#lstOffice').attr('disabled', true);

	            //$("#lstOffice option[value='" + a + "']").attr("selected", "selected");
	        }
	    });

	}




</script>
