﻿@model SBL.DomainModel.Models.PaperLaid.PaperMovementModel
@using SBL.DomainModel.Models.Enums;
@using SBL.eLegistrator.HouseController.Web.Utility;

@using SBL.eLegistrator.HouseController.Web.Helpers
@{
    var FileSettings = (SBL.DomainModel.Models.SiteSetting.SiteSettings)Helper.ExecuteService("SiteSetting", "GetSecureFileSettingLocation", null);
    int count = 0;
}


<div class="widget-box">
    <div class="widget-header widget-header-flat">
        <h4 class="widget-title">Laid Paper of Ref.No. : <span class="label label-lg label-yellow arrowed-right">@Model.evidhanReferenceNumber</span>
        </h4>
        <div class="widget-toolbar no-border">
            @if (CurrentSession.MemberDesignation == EnumHelper.GetDescription(RoleTypeDept.HOD))
            {

            }
            else
            {
                if (Model.PaperLaidId == null || Model.PaperLaidId == 0)
                { }
                else
                {                                
                @Html.Hidden("PaperLaidFullRecord", @Model.PaperLaidId)    
                if (CurrentSession.AssemblyId == CurrentSession.SiteSettingsCurrentAssemblyId && CurrentSession.SessionId == CurrentSession.SiteSettingsCurrentSessionId)
                {                       
<button type="submit" name="Draft" id="@Model.PaperLaidId" value="@Resources.PaperLaidDepartment.DDRequestReplacement" class="btn btn-xs btn-primary bigger" onclick="return GetSubmittedPaperLaidByID(this.id);">
					<i class="ace-icon fa fa-pencil-square-o"></i>
					@Resources.PaperLaidDepartment.DDRequestReplacement
                    </button>}
                else
                {
<div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                <strong>Alert!</strong>
                Documents may not be send for previous session
										<br>
            </div>
                }
                }
            }
        </div>
    </div>

    <div class="widget-body">
        @Html.Hidden("PaperLaidIdFullRecord", @Model.PaperLaidId)
        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.CategoryName</div>

                    <div class="profile-info-value">
                        <span id="username" class="">
                            @Model.EventName
                            @Html.HiddenFor(m => m.PaperLaidId)
                        </span>
                    </div>
                </div>

                @*<div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.Minister</div>

                                <div class="profile-info-value">
                                    <span>@Model.MinisterName</span>
                                </div>
                            </div>*@

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Department</div>

                    <div class="profile-info-value">
                        <span>@Model.DeparmentName</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.DesiredDateToLaid</div>

                    <div class="profile-info-value">
                        <span>@( @Model.DesireLayingDate != null ? @String.Format("{0:dd/MM/yyyy}", Model.DesireLayingDate) : "")</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Title</div>

                    <div class="profile-info-value">
                        <span>@Html.Raw(@Model.Title)</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Description</div>

                    <div class="profile-info-value">
                        <span>@Html.Raw(@Model.Description)</span>
                    </div>
                </div>

                @*  <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.ProvisionUnderWhich</div>

                                <div class="profile-info-value">
                                    <span>@Html.Raw(@Model.ProvisionUnderWhich)</span>
                                </div>
                            </div>*@

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Remark</div>

                    <div class="profile-info-value">
                        <span>@Html.Raw(@Model.Remark)</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.PaperToBeLaid</div>

                    <div class="profile-info-value">
                        @{
                            string path = FileSettings.SettingValue + Model.actualFilePath;
                        }

                        <a href="@path" target="_blank">
                            <img src="~/Images/Common/PDF.png" alt="Download PDF" title="View PDF" style="width: 30px;cursor:pointer" id="@path" /></a>
                        @*<a href="/SecuredFiles/@Model.PaperLaidId,SignedP"  target="_blank">@Resources.PaperLaidDepartment.SignedPaperVer @Model.FileVersion</a>*@

                    </div>
                </div>

                @*<div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.DocFile</div>

                    <div class="profile-info-value">
                        
                        <span id="spnFile" class=""> 
                             @if (@Model.DocFileName != null)
                             {
                                
                               <a  href="/SecuredFiles/@Model.PaperLaidId,MD"  target="_blank">@Resources.PaperLaidDepartment.ViewDownload</a>
                            }
                           
                    </div>
                </div>*@

                @if (Model.PaperSubmittedDate != null)
                {
                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.DeptSubmittedDate</div>

                        <div class="profile-info-value">
                            <span>@string.Format("{0:dd/MM/yyyy hh:mm tt}", @Model.PaperSubmittedDate)</span>
                        </div>
                    </div>
                }

                @if (Model.LaidDate != null)
                {
                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.DDLaidDate</div>

                        <div class="profile-info-value">
                            <span>@string.Format("{0:dd/MM/yyyy}", @Model.LaidDate)</span>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>

</div>



<script>

    function GetSubmittedPaperLaidByID(PaperLaidId) {
        $("#RightSidebar").html('')
        $("#loader-wrapper").show();
        var value = PaperLaidId;
        $.ajax({
            url: "/eFile/eFile/GetSubmittedOtherPaperLaidByIDCommittee",
            type: 'GET',
            data: {
                paperLaidId: value
            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

</script>
