﻿@model SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.CommitteeList
@using SBL.eLegistrator.HouseController.Web.Helpers

@{
	var FileSettings = (SBL.DomainModel.Models.SiteSetting.SiteSettings)Helper.ExecuteService("SiteSetting", "GetSecureFileSettingLocation", null);

	ViewBag.Title = "GetAllNewComittee";

	int count = 0;
}



<style type="text/css">
	/*Popup*/
	.ShowModal {
		top: 10%;
		left: 24%;
		z-index: 1000;
		position: absolute;
		background-color: White;
		display: block;
	}

	.ShowModals {
		top: 10%;
		left: 24%;
		z-index: 1000;
		position: absolute;
		background-color: White;
		display: block;
	}

	.HideModal {
		display: none;
	}

	.HideModals {
		display: none;
	}

	.OverlayEffect {
		/*background-color: white;*/
		filter: alpha(opacity=40);
		opacity: 0.7;
		width: 100%;
		height: 100%;
		z-index: 400;
		position: absolute;
		top: 0;
		left: 0;
	}

	.OverlayEffects {
		/*background-color: white;*/
		filter: alpha(opacity=40);
		opacity: 0.7;
		width: 100%;
		height: 100%;
		z-index: 400;
		position: absolute;
		top: 0;
		left: 0;
	}
</style>


<div class="row">

	<div class="form-group" style="display: none;">
		<div class="col-xs-12">
			<button type="submit" id="savebtnAddAttachment" class="btn btn-sm btn-pink" onclick="CreateNewCommittee()" style="float: right; margin-right: 16px; margin-bottom: 6px; border-radius: 6px;">
				<i class="ace-icon fa fa-users bigger-150"></i>
				Add New Committee</button>
		</div>
	</div>
	<div class="form-group">

		<div class="col-xs-12">
			<button type="submit" id="btnAddCommittee" class="btn btn-sm btn-pink" onclick="ShowCommitteeMembers()" style="float: right; margin-right: 16px; margin-bottom: 6px; border-radius: 6px;">
				<i class="ace-icon fa fa-users bigger-150"></i>
				Add Committee Member</button>
		</div>
	</div>
	<div class="alert alert-warning" id="divAddCommMembers" style="margin-top: 50px; width: 98%">
		<button type="button" class="close" onclick="HideCommitteeMembers()">
			<i class="ace-icon fa fa-times"></i>
		</button>


		@Html.DropDownList("ddlCommittee", (IEnumerable<SelectListItem>)ViewBag.CommitteeList, "-Select Committee-", new { style = "width: 40%;" })
		<a href="#" onclick="showMembersModalUp()">
			<img src="~/Content/img/users_add.png" width="25px" title="Add committee members" /></a>


		<button type="button" class="btn btn-lg btn-success" style="margin-left: 15px;" onclick="GeneratePDF()">Generate Committee Member PDF</button>

		<button type="button" class="btn btn-lg btn-warning" onclick="ViewGeneratedPDFListMembers()" style="margin-left: 15px;" data-toggle="tooltip" title="View Generated PDFs List">View PDF(s)</button>

		<button type="button" class="btn btn-danger btn-sm" onclick="ViewPDFSettings()" style="margin-left: 15px;" data-toggle="tooltip" title="Setting for PDF Generation">
			<i class="ace-icon fa fa-cog bigger-200"></i>
		</button>

	</div>

</div>

<div class="row">

	<div class="col-xs-12">


		<div class="pass-table">
			<div class="table-header">
				<span class="label label-lg label-yellow arrowed-right" style="height: 24px; font-weight: bold; font-size: 14px;">Committee List</span>
			</div>
			<table class="table table-striped table-bordered table-hover dataTable" id="sample-table-0" aria-describedby="sample-table-2_info">
				<thead>
					<tr role="row">
						<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">@Resources.MasterDataDashboard.SNo</th>
						@*<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.AssemblyName</th>
						<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.CommitteeTypeName</th>
					*@
						<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Committee</th>
						@*<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Date of creation</th>*@
						@*<th class="sorting_disabled" style="width: 6%;" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>*@
						@*<th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>*@
						@*<th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>*@
						@*<th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>*@



					</tr>
				</thead>
				<tbody role="alert" aria-live="polite" aria-relevant="all">
					@if (Model.CommitteeView != null)
	 {
		 if (Model.CommitteeView.Count > 0)
		 {
			 foreach (var item in Model.CommitteeView)
			 {
				 count = count + 1;
						<tr id="GetPreCommitte">
							<td>@count</td>
							@*<td>@item.AssemblyName</td>*@
							@*<td>@item.CommitteeType</td>*@
							<td>@item.CommitteeName</td>
							@*<td>@Convert.ToDateTime(item.DateOfCreation).ToString("dd/MM/yyyy")</td>*@
							@*	<td style="display:none;">
								<div class="hidden-sm hidden-xs action-buttons">

									<a data-rel="tooltip" class="green tooltip-success" title="Edit" onclick="EditCommittee(@item.CommitteeId)" >
										<i class="ace-icon fa fa-pencil bigger-120"></i>
									</a>

								</div>
							</td>*@

							@*<td>
								<a href="#" onclick="showMembersModal('@item.CommitteeId','@item.CommitteeName')">
									<img src="~/Content/img/users_add.png" width="25px" title="Add committee members" /></a>
							</td>*@

							@*<td>
								@if (item.CommitteeId > 0)
		{
			Html.RenderAction("GetMemberPDFList", "eFile", new { item.CommitteeId });
		}
							</td>*@
							@*<td>
								<span class="label label-sm label-purple" onclick="Uploadpdf('@item.CommitteeId','@item.CommitteeName')" style="cursor:pointer">Upload New Pdf</span>
							</td>*@

						</tr>

			 }
		 }
	 }
				</tbody>
			</table>


		</div>


	</div>



</div>



<div id="dialog-confirm" class="hide">
	<div id="DialogMessage" class="alert alert-info bigger-110">
		Are You Sure Want to Delete.
	</div>

	<div class="space-6"></div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dlgCommitteeMembers" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" style="width: 96%; margin-left: -3%; margin-top: 8px;">
		<div class="modal-content" style="width: 70%; margin-left: 20%;">
			<div class="modal-header" style="margin-top: -15px">
				<h3>Add Committee Members</h3>
				<button type="button" class="close" data-dismiss="modal" style="margin-top: -38px;">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>

			</div>
			<form method="post" id="DebateInfoFormw">

				<div class="modal-body" style="margin-top: -14px;">

					<div class="col-xs-12 col-sm-12" id="IndexDet">
						@Html.Partial("_AddCommitteeMembersList")



					</div>

				</div>
				<div class="modal-footer" style="margin-top: 49%">
					<button type="button" class="btn btn-app btn-danger" data-dismiss="modal" style="width: 9%; padding: 0px; font-size: 15px;">
						Close
					</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dlgCommMembersUploadList" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" style="width: 96%; margin-left: -3%; margin-top: 8px;">
		<div class="modal-content" style="width: 70%; margin-left: 20%;">
			<div class="modal-header" style="margin-top: -15px">
				<h3>Upload Committee Member List (Pdf) </h3>
				<button type="button" class="close" data-dismiss="modal" style="margin-top: -38px;">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>

			</div>
			<div class="modal-body">
				<div id="IndexDetUpload" class="modal-body" style="height: 400px; overflow-x: hidden; overflow-y: scroll;">
				</div>
			</div>

			<div class="modal-footer" style="margin-top: 0%">
				<button type="button" class="btn btn-app btn-danger" data-dismiss="modal" style="width: 9%; padding: 0px; font-size: 15px;">
					Close
				</button>
			</div>

		</div>
	</div>
</div>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dlgPDfSettings" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" style="width: 96%; margin-left: -3%; margin-top: 8px;">
		<div class="modal-content" style="width: 70%; margin-left: 20%;">
			<div class="modal-header" style="margin-top: -15px">
				<h3>Committee Member PDF Settings </h3>

				<button type="button" class="close" data-dismiss="modal" style="margin-top: -38px;">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>

			</div>
			<div class="modal-body">
				<a style="float: right" target="_blank" href="~/HelpFiles/Sample_Setting_for_CommitteePDF.pdf">Sample For PDF Headings Setting </a>
				<br />
				<div id="divPDfSettings" class="modal-body">
				</div>
				
				<div id="divPDfSettingsAdd" class="modal-body">
				</div>
			</div>

			<div class="modal-footer" style="margin-top: 0%">
				<button type="button" class="btn btn-app btn-danger" data-dismiss="modal" style="width: 9%; padding: 0px; font-size: 15px;">
					Close
				</button>
			</div>

		</div>
	</div>
</div>

<div id="PDFViewList" style="display: none;">
	<img src="~/Content/img/cancel-icon.png" id="PDFViewCancel1" style="width: 16px; cursor: pointer; margin-top: 0px; margin-left: 97%; position: absolute; z-index: 1000;" onclick="ViewPDFCancel1()" data-toggle="tooltip" data-placement="right" title="Close" />
	<ol id="dvData" class="dd-list" style="">
	</ol>
</div>
<div id="overlaysList"></div>

@Html.Hidden("hdnCommNameonMembers")

@Html.Hidden("hdnCommStaffID")

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script type="text/javascript">
	function CloseDiv() {
		$("#divPDfSettingsAdd").html("");
		$("#divPDfSettingsAdd").hide();
	}

	function ViewPDFSettings() {
		$("#loader-wrapper").show();
		var Url = '@Url.Action("GetCommitteePDFSettingsList", "eFile", new { Area = "eFile" })';
		$.ajax({
			url: Url,
			type: 'GET',
			data: {},
			success: function (data) {

				if (data) {

					$("#divPDfSettings").html(data);
					$("#dlgPDfSettings").modal('show');
					$("#divPDfSettingsAdd").html("");

					$("#loader-wrapper").hide();

				}
			},
			error: function (xhr, ajaxOptions, thrownError) {

				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});
			}
		});
	}

	function MakeActiveMemberPDF(id) {
		var dlg = bootbox.confirm("Are you sure to Make Activate this PDF ?", function (e) {
			if (e == true) {

				$("#loader-wrapper").show();
				var Url = '@Url.Action("MakeActivePDF", "eFile", new { Area = "eFile" })';
				$.ajax({
					url: Url,
					type: 'GET',
					data: { ID: id },
					success: function (data) {
						if (data) {
							var dlg = bootbox.alert(data, function (e) {
								$(dlg).modal('hide');
							});
							//$("#dlgCommMembersUploadList").modal('hide');
							ViewGeneratedPDFListMembers();
							$("#loader-wrapper").hide();

						}
					},
					error: function (xhr, ajaxOptions, thrownError) {

						var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {
							$(dlg).modal('hide');
						});
					}
				});
			}
		});
	}
	function DeletePdf(id) {

		var dlg = bootbox.confirm("Are you sure to Delete ?", function (e) {
			if (e == true) {

				$("#loader-wrapper").show();
				var Url = '@Url.Action("DeleteGeneratedMemberPDF", "eFile", new { Area = "eFile" })';
				$.ajax({
					url: Url,
					type: 'GET',
					data: { ID: id },
					success: function (data) {
						if (data) {
							var dlg = bootbox.alert(data, function (e) {
								$(dlg).modal('hide');
							});
							//$("#dlgCommMembersUploadList").modal('hide');
							ViewGeneratedPDFListMembers();
							$("#loader-wrapper").hide();

						}
					},
					error: function (xhr, ajaxOptions, thrownError) {

						var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {
							$(dlg).modal('hide');
						});
					}
				});
			}
		});
	}
	function GeneratePDF() {

		$("#loader-wrapper").show();
		var Url = '@Url.Action("GeneratePDFCommitteeMembers", "eFile", new { Area = "eFile" })';
		$.ajax({
			url: Url,
			type: 'GET',
			data: {},
			success: function (data) {

				if (data) {
					var dlg = bootbox.alert(data, function (e) {
						$(dlg).modal('hide');
					});

					$("#loader-wrapper").hide();

				}
			},
			error: function (xhr, ajaxOptions, thrownError) {

				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});
			}
		});

	}

	function ViewUploadedDetailsCommMembers() {



		var id = $("#ddlCommittee").val();
		var name = $("#ddlCommittee option:selected").text();

		if (name == "-Select Committee-") {

			var dlg = bootbox.alert("Please Select Commitee", function (e) {
				$(dlg).modal('hide');
			});

			return;
		}
		$("#loader-wrapper").show();
		var Url = '@Url.Action("UploadedCommitteeMemebersPdf", "eFile", new { Area = "eFile" })';
		$.ajax({
			url: Url,
			type: 'GET',
			data: { CommitteeId: id, CommitteeName: name },
			success: function (data) {

				if (data) {

					$("#IndexDetUpload").html(data);
					$("#dlgCommMembersUploadList").modal('show');
					$("#loader-wrapper").hide();

				}
			},
			error: function (xhr, ajaxOptions, thrownError) {

				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});
			}
		});

	}

	function ViewGeneratedPDFListMembers() {

		$("#loader-wrapper").show();
		var Url = '@Url.Action("UploadedGeneratedPdf", "eFile", new { Area = "eFile" })';
		$.ajax({
			url: Url,
			type: 'GET',
			data: {},
			success: function (data) {

				if (data) {

					$("#IndexDetUpload").html(data);
					$("#dlgCommMembersUploadList").modal('show');
					$("#loader-wrapper").hide();

				}
			},
			error: function (xhr, ajaxOptions, thrownError) {

				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});
			}
		});

	}
	//DeletePdf

	function ShowCommitteeMembers() {

		$("#divAddCommMembers").show();
	}
	function HideCommitteeMembers() {

		$("#divAddCommMembers").hide();
	}

	function ViewPDFCancel() {
		document.getElementById("overlays").className = "";
		$('#PDFView').hide();
	}
	function ViewPDFinModal(e) {

		var _URL = '@FileSettings.SettingValue' + "/Viewer/web/viewer.html?file=" + e;
		$('#PDFView').show().css({ width: "76%", height: "90%", border: "1px solid black", left: "12%", top: "0px" });
		$("#PDFView").html("");
		document.getElementById("overlays").className = "OverlayEffects";
		document.getElementById("PDFView").className = "ShowModal";
		$('<img src="../../Content/img/cancel-icon.png" id="PDFViewCancel" style="width: 16px; /* top: 47px; */ cursor: pointer; margin-top: 0px; margin-left: 97%;" onclick="ViewPDFCancel()" />' +
		   '<iframe class="mfp-iframe"  src="' + _URL + '" type="application/pdf" style="width:100%; height:100%">').appendTo('#PDFView')

	}

	function ViewPDFCancel1() {
		document.getElementById("overlaysList").className = "";
		$('#PDFViewList').hide();
	}
	function ViewPDFinList(e) {

		var _URL = '@FileSettings.SettingValue' + "/Viewer/web/viewer.html?file=" + e;
	$('#PDFViewList').show().css({ width: "76%", height: "90%", border: "1px solid black", left: "12%", top: "0px" });
	$("#PDFViewList").html("");
	document.getElementById("overlaysList").className = "OverlayEffects";
	document.getElementById("PDFViewList").className = "ShowModals";
	$('<img src="../../Content/img/cancel-icon.png" id="PDFViewCancel1" style="width: 16px; /* top: 47px; */ cursor: pointer; margin-top: 0px; margin-left: 97%;" onclick="ViewPDFCancel1()" />' +
	   '<iframe class="mfp-iframe"  src="' + _URL + '" type="application/pdf" style="width:100%; height:100%">').appendTo('#PDFViewList')

}
function Uploadpdf(ele, name) {

	$("#loader-wrapper").show();
	$('.widget-box').show();
	var urlPath = '@Url.Action("CommitteeMembers", "eFile", new { Area = "eFile" })';
		$.ajax({
			url: urlPath,
			type: 'GET',
			data: { ID: ele, Name: name },
			success: function (data) {
				if (data) {


					$('#resize-left').width('50%');
					$('#spnScrollPosition').html('1');
					$('#resize-right').animate({ width: '50%' }, 500);

					$("#RightSidebar").html(data);
					$("#loader-wrapper").hide();



				} else { alert("error"); }
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.responseText);
				alert(thrownError);
			},
			complete: function (obj) {
				Initializefileupload();
			}
		});

	}

	function EditCommittee(ele) {
		$("#loader-wrapper").show();
		var Url = '@Url.Action("EditNewCommittee", "eFile", new { Area = "eFile" })';
		$.ajax({
			url: Url,
			type: 'GET',
			data: { Id: ele },
			success: function (data) {
				if (data) {

					$('#resize-left').width('50%');
					$('#spnScrollPosition').html('1');
					$('#resize-right').animate({ width: '50%' }, 500);

					$("#RightSidebar").html(data);
					$("#loader-wrapper").hide();
				} else { alert("error"); }
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.responseText);
				alert(thrownError);
			},
			complete: function (obj) {

			}
		});


	}


	function showMembersModal(commid, commname) {

		$("#hdnCommNameonMembers").val(commname);
		$("#dlgCommitteeMembers").modal('show');
		GetAllCommitteeMembers(commid);
		var mtext1 = $("#GetPreCommitte").find('td:eq(1)').text().trim();
		var mtext2 = $("#GetPreCommitte").find('td:eq(2)').text().trim();
		var mtext3 = $("#GetPreCommitte").find('td:eq(3)').text().trim();
		var mtext4 = $("#GetPreCommitte").find('td:eq(4)').text().trim();
	}
	function showMembersModalUp() {

		var commid = $("#ddlCommittee").val();
		var commname = $("#ddlCommittee option:selected").text();

		if (commname == "-Select Committee-") {

			var dlg = bootbox.alert("Please Select Commitee", function (e) {
				$(dlg).modal('hide');
			});

			return;
		}

		$("#hdnCommNameonMembers").val(commname);
		$("#dlgCommitteeMembers").modal('show');
		GetAllCommitteeMembers(commid);
		//var mtext1 = $("#GetPreCommitte").find('td:eq(1)').text().trim();
		//var mtext2 = $("#GetPreCommitte").find('td:eq(2)').text().trim();
		//var mtext3 = $("#GetPreCommitte").find('td:eq(3)').text().trim();
		//var mtext4 = $("#GetPreCommitte").find('td:eq(4)').text().trim();
	}

	$(function () {
		$('[data-toggle="tooltip"]').tooltip();
		$("#divAddCommMembers").hide();
		var oTable0 =
		$('#sample-table-0').dataTable();
	});
	function CreateNewCommittee() {
		$("#loader-wrapper").show();
		var Url = '@Url.Action("CreateNewCommittee", "eFile", new { Area = "eFile" })';
		$.ajax({
			url: Url,
			type: 'GET',
			data: {},
			success: function (data) {
				if (data) {

					$('#resize-left').width('50%');
					$('#spnScrollPosition').html('1');
					$('#resize-right').animate({ width: '50%' }, 500);

					$("#RightSidebar").html(data);
					$("#loader-wrapper").hide();
				} else { alert("error"); }
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.responseText);
				alert(thrownError);
			},
			complete: function (obj) {
				Initializefileupload();
			}
		});


	}


	function DisplayModal(e) {
		$('#modalMsg').show();
		//document.getElementById("overlay").style.height = document.body.clientHeight + 'px';
		document.getElementById("overlay").className = "OverlayEffect";
		document.getElementById("modalMsg").className = "ShowModal";
		GetAllCommitteeMembers(e);

		///////////////////////////////////////////////////////////////////////


		var mtext1 = $("#GetPreCommitte").find('td:eq(1)').text().trim();
		var mtext2 = $("#GetPreCommitte").find('td:eq(2)').text().trim();
		var mtext3 = $("#GetPreCommitte").find('td:eq(3)').text().trim();
		var mtext4 = $("#GetPreCommitte").find('td:eq(4)').text().trim();
		//var CommitteeTypeId = $("#CommitteeTypeId").val();
		//var CommitteeId = $("#CommitteeId").val();
		//var id = $("#CategoryID").val();

		//data: { AssemblyName: mtext1; CommitteeTypeName: mtext2; CommitteeName: mtext3; DateofCreation: mtext4 }
		//$.ajax({
		//	url: '/SuperAdmin/Committee/GetPreviousMembers',

		//	type: 'GET',
		//	success: function (data) {
		//		$.each(data, function (i, mobj) {
		//			var opt = document.createElement("option");
		//			document.getElementById("SlctMembers").options.add(opt);
		//			//opt.text = mobj.Name;
		//			//opt.value = mobj.MemberID;
		//		})
		//	}
		//})

		//////////////////////////////////////////////////////////////////////




	}
	function RemoveModal() {
		//document.getElementById("modalMsg").className = "HideModal";
		document.getElementById("overlay").className = "";
		//return false;
		$('#modalMsg').hide();
	}
	function DisplayMembersList(e) {
		$('#MembersList').show();
		document.getElementById("overlays").className = "OverlayEffects";
		document.getElementById("MembersList").className = "ShowModals";
		ListCommitteeMembers(e)
	}
	function RemoveMembersList() {
		//document.getElementById("modalMsg").className = "HideModal";
		document.getElementById("overlays").className = "";
		//return false;
		$('#MembersList').hide();
	}


	//Added on 26-2-15

	//function GetPrevious() {


	//	var AssemblyID = $("#AssemblyID").val();
	//	var CommitteeTypeId = $("#CommitteeTypeId").val();
	//	var CommitteeId = $("#CommitteeId").val();
	//	//var id = $("#CategoryID").val();
	//	data: { AssemblyID: AssemblyID; CommitteeTypeId: CommitteeTypeId; CommitteeId: CommitteeId }
	//	alert("GetPrevious");
	//	$.ajax({
	//		url: '/SuperAdmin/Committee/GetPreviousMembers',

	//		type: 'GET',
	//		success: function (data) {
	//			$.each(data, function (i, mobj) {
	//				var opt = document.createElement("option");
	//				document.getElementById("SlctMembers").options.add(opt);
	//				//opt.text = mobj.Name;
	//				//opt.value = mobj.MemberID;
	//			})
	//		}
	//	})

	//}


	function GetAllCommitteeMembers(ele) {
		debugger;
		//Clear dropdown and list box.
		document.getElementById("SlctCommMembers").options.length = 0;
		document.getElementById("SlctMembers").options.length = 0;
		document.getElementById("ddlChairman").options.length = 0
		document.getElementById("ddlChairmanComm").options.length = 0
		document.getElementById("hdCommitteeId").value = ele;

		$("#spnCommitteeName").html($("#hdnCommNameonMembers").val());
		var UrlPath1 = '@Url.Action("GetAllMembers", "eFile", new { Area = "eFile" })';
		//ajax for binding memberslist
		$.ajax({
			url: UrlPath1,
			type: 'GET',
			success: function (data) {
				$.each(data, function (i, mobj) {
					var opt = document.createElement("option");
					document.getElementById("SlctMembers").options.add(opt);
					opt.text = mobj.Name;
					opt.value = mobj.MemberID;
				})
			}
		})
		//alert(e);
		//ajax for members edit case,applied in commiiteemembers listbox and dropdown. GetAllStaff
		var ddlChairman = document.getElementById("ddlChairman");

		var ddlChairmanComm = document.getElementById("ddlChairmanComm");

		var UrlPath = '@Url.Action("GetAllStaff", "eFile", new { Area = "eFile" })';
		$.ajax({
			url: UrlPath,
			type: 'GET',
			data: { value: ele },
			dataType: "json",
			success: function (data) {
				debugger;
				if (data != null) {
					$.each(data, function (i, mobj1) {
						$("#ddlChairmanComm").append(
					   $('<option/>', {
					   	value: mobj1.StaffID,
					   	html: mobj1.StaffName
					   })
				 );


					})
				}
			}
		})

		$("#hdnCommStaffID").val('');

		var UrlPath = '@Url.Action("ShowCommitteMemberByCommitteeId", "eFile", new { Area = "eFile" })';
		$.ajax({
			url: UrlPath,
			type: 'GET',
			data: { value: ele },
			dataType: "json",
			success: function (data) {
				debugger;
				if (data != null) {
					$.each(data, function (i, mobj) {

						var opt = document.createElement("option");
						document.getElementById("SlctCommMembers").options.add(opt);
						opt.text = mobj.CommitteMemberName;
						opt.value = mobj.MemberId;

						var option = document.createElement("option");
						option.text = document.getElementById("SlctCommMembers").options[i].text;
						option.value = document.getElementById("SlctCommMembers").options[i].value;
						ddlChairman.add(option);

						//var option1 = document.createElement("option");
						//option1.text = document.getElementById("SlctCommMembers").options[i].text;
						//option1.value = document.getElementById("SlctCommMembers").options[i].value;
						//ddlChairmanComm.add(option1);

						if (mobj.IsChairMan == true) {
							document.getElementById("ddlChairman").value = mobj.MemberId;
						}

						//document.getElementById("ddlChairmanComm").value = mobj.StaffID

						$("#hdnCommStaffID").val(mobj.StaffID);

					})
					$("#ddlChairmanComm").val($("#hdnCommStaffID").val()).selected = true;

				}
			}
		})


	}


	//Add selected members to  list box
	function getSelectedMembers() {
		var slctMembers = document.getElementById("SlctMembers");
		for (var count = 0; count < slctMembers.options.length; count++) {
			if (slctMembers.options[count].selected) {

				var status = true;
				for (var leftcount = 0; leftcount < document.getElementById("SlctCommMembers").options.length; leftcount++) {
					if (document.getElementById("SlctCommMembers").options[leftcount].value == slctMembers.options[count].value) {
						status = false;
					}
				}
				debugger;
				if (status) {
					var opt = document.createElement("option");
					document.getElementById("SlctCommMembers").options.add(opt);
					opt.text = slctMembers.options[count].text;
					opt.value = slctMembers.options[count].value;
					var ddlChairman = document.getElementById("ddlChairman");

					var option = document.createElement("option");
					option.text = slctMembers.options[count].text;
					option.value = slctMembers.options[count].value;
					ddlChairman.add(option);

					var ddlChairmanComm = document.getElementById("ddlChairmanComm");
					var option1 = document.createElement("option");
					option1.text = slctMembers.options[count].text;
					option1.value = slctMembers.options[count].value;
					ddlChairmanComm.add(option1);
				}
			}
		}
	}

	//Remove members from list and dropdown.
	function DeleteMembersFromList() {
		var delMembers = document.getElementById("SlctCommMembers");
		var ddlMembers = document.getElementById("ddlChairman");
		var ddlMembersComm = document.getElementById("ddlChairmanComm");
		ddlMembers.remove(delMembers.selectedIndex);
		ddlMembersComm.remove(delMembers.selectedIndex);
		delMembers.remove(delMembers.selectedIndex);
	}


	//Add committee members to database. 
	function AddCommitteeMembers() {
		var tCommitteeMember = [];
		var commMembers = document.getElementById("SlctCommMembers");
		for (var count = 0; count < document.getElementById("SlctCommMembers").options.length; count++) {
			tCommitteeMember.push(commMembers.options[count].value)
		}
		var Url = '@Url.Action("CreateCommitteMembers", "eFile", new { Area = "eFile" })';
		$.ajax({
			url: Url,
			type: "get",
			data: { values: tCommitteeMember.toLocaleString(), ChairmanId: $("#ddlChairman").val(), Mode: '@ViewBag.Mode', CommitteeId: document.getElementById("hdCommitteeId").value, ChairmanIdComm: $("#ddlChairmanComm").val() },
			cache: false,
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function (data) {
				var dlg = bootbox.alert(data, function (e) {
					$(dlg).modal('hide');
				});
			}
		});
	}

</script>
