﻿@model List<SBL.DomainModel.Models.eFile.COmmitteeProceeding>
@using SBL.eLegistrator.HouseController.Web.Helpers

@*<link href="~/Content/bootstrapUp/jquery.fileupload.css" rel="stylesheet" />
<script src="~/Content/ScriptsUp/jquery-1.9.1.min.js"></script>
<script src="~/Content/ScriptsUp/jquery.ui.widget.js"></script>
<script src="~/Content/ScriptsUp/jquery.fileupload.js"></script>*@

@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@

<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
@*<script src="~/Scripts/jquery-1.7.min.js"></script> *@
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>

@{      
  

    var FileSettings = (SBL.DomainModel.Models.SiteSetting.SiteSettings)Helper.ExecuteService("SiteSetting", "GetSecureFileSettingLocation", null);
    int count = 0;
    if (ViewBag.CurrentPage > 1)
    {

        count = (ViewBag.PageSize * (ViewBag.CurrentPage - 1));
    }
}

<div class="row" id="divDdl">

    <div class="col-xs-12">
        <div class="col-xs-6">
        </div>
        <div class="col-xs-6 form-group">
            @if (Model != null)
            {
                if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.Designation == "Reporter")
                {            
                <button type="submit" id="savebtnAddAttachment" class="btn btn-sm btn-purple" onclick="addNewCommitteeProceeding();" style="float: right; margin-right: 16px; margin-bottom: 6px; border-radius: 6px;">
                    <i class="ace-icon fa fa-pencil-square-o"></i>
                    Add New  Committee Proceeding</button>
                }
                
                  if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.Designation == "Sr Reporter")
                  {            
                <button type="submit" id="savebtnAddAttachment" class="btn btn-sm btn-purple" onclick="addNewCommitteeProceeding();" style="float: right; margin-right: 16px; margin-bottom: 6px; border-radius: 6px;">
                    <i class="ace-icon fa fa-pencil-square-o"></i>
                    Add New  Committee Proceeding</button>
                                

                  }

            }

             

               
           


        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="pass-table">
            @if (Model != null)
            {
                if (Model.Count() > 0)
                {
                    //<div class="" style="position: absolute; margin-top: 56px; margin-left: 5px;">
                    //  <label>Display</label>
                    //<select size="1" name="PageSize" id="PazeSize">
                    //  <option value="25" selected="selected">25</option>
                    //<option value="50">50</option>
                    //<option value="100">100</option>
                    //<option value="200">200</option>
                    //</select>
                    //<label>Records</label>
                    //</div>
                <div class="table-header">
                    <span class="label label-lg label-yellow arrowed-right" style="height: 24px; font-weight: bold; font-size: 14px;">Committee Proceeding</span>
                </div>  
                <div style="width: 100%; overflow: scroll;">
                    <table class="table table-bordered  dataTable" id="sample-table-11" aria-describedby="sample-table-2_info" style="width: 100%; overflow: scroll;">
                        <thead>
                            <tr role="row">

                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">S#</th>
                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Committee Name</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">PDF</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Word</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Date of Updation</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Remark</th>

                                @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.Designation == "Chief Reporter" || SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.Designation == "Editor of Debate")
                                {
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Reporter</th>
                                }
@*//if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.Designation == "Chief Reporter")
                                //{*@
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Action</th>
                                @*}*@
                            </tr>
                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model)
                            {
                                count = count + 1;			  
			   
                                <tr>
                                    <td>@count</td>
                                    <td>@item.CommitteeName</td>
                                    <td>
                                        @{
                                string path = FileSettings.SettingValue + item.ProFilePathPdf;
                                        }
                                        @if (!string.IsNullOrEmpty(item.ProFilePathPdf))
                                        {  
                                            <a href="@path" target="_blank">
                                                <img src="~/Images/Common/PDF.png" alt="Download" title="Download" width="30" height="30" /></a>
                                             
                                        }


                                    </td>
                                    <td>
                                        @{
                                        string path1 = FileSettings.SettingValue + item.ProFilePathWord;
                                        }

                                        @if (!string.IsNullOrEmpty(item.ProFilePathWord))
                                        { 
                                            <a href="@path1" target="_blank">
                                                <img src="~/Images/Common/Doc.png" alt="Download" title="Download" width="30" height="30" /></a>
                                        }
                                    </td>
                                    <td>@item.CreatedDate.ToString("dd/MM/yyyy HH:mm tt")</td>
                                    <td>@item.Remark</td>
                                    @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.Designation == "Chief Reporter" || SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.Designation == "Editor of Debate")
                                    {
                                        <td>
                                            @item.CreateBy
                                        </td>
                                    }
                                    @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.Designation == "Chief Reporter" || SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.Designation == "Editor of Debate")
                                    {
                                        <td>
                                            @if (item.IsActive == true)
                                            {
                                                <span style="color: red; font-size: 14px">Forwarded</span>
                                            }
                                            else
                                            {
                                          
                                                <button class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="right" title="Edit"  onclick="EditProcedding(@item.ProID);"  >
                                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                </button>
                                            
                                                <button class="btn btn-xs btn-danger" onclick="LockProcedding('@item.ProID')">
                                                    <i class="ace-icon fa fa-bolt bigger-110"></i>

                                                    Forward 
												<i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                                </button>
                                            }


                                        </td>
                                    }
                                    else
                                    { 
                                        <td>
                                            @if (item.IsActive == true)
                                            {

                                            }
                                            else
                                            {
                                                <button class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="right" title="Edit"  onclick="EditProcedding(@item.ProID);"  >
                                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                </button>
                                             
                                            }</td>
                                    }

                                </tr>
									
                            }
                        </tbody>
                    </table>
                </div>@*    
                <div>@{Html.RenderPartial("~/Areas/AccountsAdmin/Views/Shared/_Pager.cshtml");}</div>*@
				 
                }
                else
                {
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-info">

                            <strong>No Data found!</strong><br />


                        </div>
                    </div>
                </div>
                }
            }





        </div>

    </div>
</div>



<div class="modal" id="CommitteePopupModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="divPhotolistpop">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Upload New Committee Proceeding</h4>
            </div>
            @using (Ajax.BeginForm("saveCommittProceeding", "eFile", FormMethod.Post, new AjaxOptions
            {

                InsertionMode = InsertionMode.Replace,
                OnSuccess = "OnSuccess(data)",
                // UpdateTargetId = "salaryHeadListDiv",
                LoadingElementId = "loader-wrapper"

            }, new { @class = "form-horizontal", @role = "form", id = "NewCommittProceedingForm" }))
            {
                <div class="modal-body">

                    <div id="NewCommitteeProceedingDiv">
                    </div>



                </div>
                <div class="modal-footer">
                    <div class="row" style="text-align:center;">
                        @*<div class="col-md-3 pull-left">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      
                        <div class="col-md-3"> </div>*@

                        @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.Designation == "Chief Reporter" || SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.Designation == "Editor of Debate")
                        {
                            <button type="submit" class="btn btn-primary" id="btnSaveAadharInfo">Save</button>
                        }
                        else
                        { 
                            <button type="submit" class="btn btn-primary" id="btnSaveAadharInfo">Save  And Send </button>}
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>





                    </div>


                </div>
            }

        </div>
    </div>
</div>

<script>

    function OnSuccess(data) {
        $("#loader-wrapper").hide();

        if (data == "PdfFail") {

            alert("Please Attach Pdf File ");
            return false;
        }
        else if (data == "wordFail") {
            alert("Please Attach Word File ");
        }
        else {

            GetProceddingList();
            $('#CommitteePopupModel').modal('hide');
        }

    }


    $('#NewCommittProceedingForm').on('submit', function () {

        //if (!$(this).valid()) {
        //    $('.field-validation-error').show();
        //    return false;
        //}


        if ($('#pdffile1').text() == 'No') {
            $('#IsPdf').val("N");

        }
        else {
            $('#IsPdf').val("Y");

        }
        if ($('#docfile').text() == 'No') {
            $('#IsDoc').val("N");
            var d = $('#IsDoc').val();


        }
        else {

            $('#IsDoc').val("Y");
        }

        var remrks = $('#Remark').val();
        if (remrks == "") {
            $('#Remark').focus();
            alert("Please enter remarks");
            return false;
        }

    });

    function addNewCommitteeProceeding() {

        var pathurl = "@Url.Action("NewCommittProceeding", "eFile")";

        $("#loader-wrapper").show();
        $.ajax({
            url: pathurl,
            type: 'GET',

            success: function (data) {

                $("#loader-wrapper").hide();
                $("#NewCommitteeProceedingDiv").html("");
                $("#NewCommitteeProceedingDiv").html(data);
                $('#CommitteePopupModel').modal('show');
                $("#loader-wrapper").hide();
            }
        });
    }
    function EditProcedding(procId) {
        var pathurl = "@Url.Action("Get_CommittProceedingForUpdate", "eFile", new { Area = "eFile" })";

        $("#loader-wrapper").show();
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: { procId: procId },
            success: function (data) {
                $("#loader-wrapper").hide();
                $("#NewCommitteeProceedingDiv").html("");
                $("#NewCommitteeProceedingDiv").html(data);
                $('#CommitteePopupModel').modal('show');
                $("#myModalLabel").empty();
                $("#myModalLabel").append("Update Committee Proceeding");
                $("#loader-wrapper").hide();
            }
        });
    }
    function LockProcedding(procId) {
        var pathurl = "@Url.Action("LockProcedding", "eFile")";

        $("#loader-wrapper").show();
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: { procId: procId },
            success: function (data) {
                if (data == "success") {
                    alert("Proceeding Forwarded Succefully");

                }
                CommitteeProceedingCall();
                $('#CommitteePopupModel').modal('hide');
                //$("#loader-wrapper").hide();
                //$("#NewCommitteeProceedingDiv").html("");
                //$("#NewCommitteeProceedingDiv").html(data);
                //$('#CommitteePopupModel').modal('show');

            }
        });
    }

    $(document).ready(function () {

        $('#sample-table-11').dataTable();
        $("#PazeSize").val(@ViewBag.PageSize) 

      @*  $("#78Draft_Papers").empty();
        $("#78Draft_Papers").html(@ViewBag.DraftListCount);*@

        //$('#PazeSize').change(function () {
        //    alert('a');
        //    var PageSize = $("#PazeSize").val();
        //    $.ajax({
        //        type: "POST",
        //        url: '/eFile/eFile/GetCommitteeProceedingPaging',
        //        data: '{ pageId: "1",pageSize: "' + PageSize + '" }',
        //        contentType: "application/json; charset=utf-8",
        //        dataType: "json",
        //        beforeSend: function () {

        //            $('#loader-wrapper').show();
        //        },
        //        success: function (result) {
        //            $('#divDataContainer').empty();
        //            $('#divDataContainer').append(result);
        //        },
        //        error: function (error) {
        //            $('#divDataContainer').empty();
        //            $('#divDataContainer').append(error.responseText);

        //        },
        //        complete: function (results) {

        //            $('#loader-wrapper').hide();
        //        }
        //    });

        //});


    });

    //function GetDataList(pageId) {
    //    var PageSize = $("#PazeSize").val();
    //    $.ajax({
    //        type: "POST",
    //        url: '/eFile/eFile/GetSavedPaperByPaging',
    //        data: '{ pageId: "' + pageId + '",pageSize: "' + PageSize + '" }',
    //        contentType: "application/json; charset=utf-8",
    //        dataType: "json",
    //        beforeSend: function () {

    //            $('#loader-wrapper').show();
    //        },
    //        success: function (result) {
    //            $('#divDataContainer').empty();
    //            $('#divDataContainer').append(result);
    //        },
    //        error: function (error) {
    //            $('#divDataContainer').empty();
    //            $('#divDataContainer').append(error.responseText);

    //        },
    //        complete: function (results) {

    //            $('#loader-wrapper').hide();
    //        }
    //    });
    //}
    function CommitteeProceedingCall() {

        $("#loader-wrapper").show();
        $('.widget-box').show();

        var urlPath = '@Url.Action("NewProceddingList", "eFile", new { Area = "eFile" })';
        $.ajax({
            url: urlPath,
            type: 'GET',
            data: { pageId: "1", pageSize: "25" },
            success: function (data) {
                if (data) {

                    $('#divDataContainer').empty();
                    $('#divDataContainer').html(data);
                    $("#MainDiv").css("display", "block");

                    $("#loader-wrapper").hide();

                    $('#resize-left').width('100%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '0%' }, 500);

                    ChangeBreadCrumbParent("Committee", "");
                    ChangeBreadCrumbChild("Committee Proceedings", "");


                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }
    //////////////////////////////Server Side Paging////////////////////////////////////////


</script>
