﻿@model  SBL.DomainModel.Models.eFile.COmmitteeProceeding

@*<script src="~/Scripts/jquery-1.7.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
@*<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.11.2.min.js"></script>*@



@*<link href="~/Content/bootstrapUp/jquery.fileupload.css" rel="stylesheet" />
<script src="~/Content/ScriptsUp/jquery-1.9.1.min.js"></script>
<script src="~/Content/ScriptsUp/jquery.ui.widget.js"></script>
<script src="~/Content/ScriptsUp/jquery.fileupload.js"></script>*@

<div class="widget-body">

    <div class="widget-main no-padding-right no-padding-left">

        <div class="profile-user-info profile-user-info-striped">
           

          @*  <div class="profile-info-row">

                <div class="profile-info-name" style="width: 200px !important;">
                    <label class="col-sm-12 control-label no-padding-right" for="Name">Department<span style="color: red">*</span>:</label>
                </div>

                <div class="profile-info-value">

                    @Html.DropDownListFor(m => m.DeptID, new SelectList(Model.DepartmentList, "deptId", "deptname", "-Select Department-"), new { @id = "DdlSecDept", @class = "select-style", @style = "width:85%" })

                </div>
            </div>*@

            <div class="profile-info-row" id="SalaryComponentIDDiv">

                <div class="profile-info-name" style="width: 200px !important;">
                    <label class="col-sm-12 control-label no-padding-right" for="Name">Committee <span style="color: red">*</span>:</label>
                </div>

                <div class="profile-info-value"> 
                    @Html.DropDownListFor(m => m.CommitteeId, new SelectList(Model.CommitteeList, "CommitteeId", "CommitteeName", "-Select Committee-"), new { @id = "DdlCommittee", @class = "select-style", @style = "width:85%" })
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name" style="width: 200px !important;">
                    <label class="col-sm-12 control-label no-padding-right" for="Name">PDF File<span style="color: red">*</span>:</label>
                </div>
                <div class="profile-info-value">

                    <div class="container" style="width: 100%!important; display: block;">
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Choose file</span>
                            <input style="font-size: 22px;" id="fileupload" accept=".pdf" type="file" name="fileupload">
                        </span>
                        <br />
                        <br />

                        <div style="width: 100%;" id="fileuploadcontant">
                            <div style="width: 100%;">
                                <span id="removeUpload" onclick="removefileupload()" class="glyphicon glyphicon-remove" style="color: red; float: right;"></span>
                                @if(Model.ProFileNamePdf!=null)
                                {
                                  <div id="file_name1" class="file_name1">@Model.ProFileNamePdf</div> 
                                    <span id="pdffile1" style="display: none;">Yes</span>
                                    
                                }
                                else
                                {
                                <div id="file_name1" class="file_name1"></div>
                                    <span id="pdffile1" style="display: none;">No</span>
                                }
                                 @Html.HiddenFor(m => m.IsPdf)
                                @Html.HiddenFor(m =>m.ProFileNamePdf)
                                 @Html.HiddenFor(m =>m.ProFilePathPdf)
                                <div class="file_size1"></div>
                            </div>
                            <div style="width: 100%;">
                                <div class="show_hide">
                                    <div class="progress1" style="height: 10px; width: 400px">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" style="width: 0%;">
                                            <span class="sr-only">0% complete</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    @*@if (Model.FileName != null)
                           {
                              //<a href="@Model.FileStructurePath@Model.FileName" target="_blank">View/Download </a>
                                 <a href="/SecureFile/@Model.PrintSeqenceId,P"  target="_blank">View/Download</a>
                           }*@

                </div>
            </div>

            <div class="profile-info-row">

                <div class="profile-info-name" style="width: 200px !important;">
                    <label class="col-sm-12 control-label no-padding-right" for="Name">Doc File <span style="color: red">*</span>:</label>
                </div>

                <div class="profile-info-value">

                    <div class="container" style="width: 100%!important; display: block;">
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Choose file</span>
                            <input style="font-size: 22px;" id="Passedfileupload" accept=".doc,.docx,.pmd " type="file" name="Passedfileupload">
                        </span>
                        <br />
                        <br />

                        <div style="width: 100%;" id="fileuploadcontantP">
                            <div style="width: 100%;">
                                <span id="removeUploadP" onclick="removefileuploadP()" class="glyphicon glyphicon-remove" style="color: red; position: relative; float: right;"></span>
                               @if (Model.ProFileNameWord != null)
                               {
                                  <div id="file_name" class="file_name">@Model.ProFileNameWord</div>
                                  
                                     <span id="docfile" style="display: none;">Yes</span>
                               }
                               else
                               {
                                <div id="file_name" class="file_name"></div>
                                     <span id="docfile" style="display: none;">No</span>
                               }
                                  @Html.HiddenFor(m => m.IsDoc)
                                  @Html.HiddenFor(m =>m.ProFileNameWord)
                                 @Html.HiddenFor(m =>m.ProFilePathWord)
                                <div class="file_size"></div>
                            </div>
                            <div style="width: 100%;">
                                <div class="show_hide">
                                    <div class="progress2" style="height: 10px; width: 400px">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" style="width: 0%;">
                                            <span class="sr-only">0% complete</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*  @if (Model.DocFileName != null)
                             {
                              //<a href="@Model.FileStructurePath@Model.DocFileName" target="_blank">View/Download </a>
                                <a href="/SecureFile/@Model.PrintSeqenceId,D"  target="_blank">View/Download</a>
                             }*@
                </div>
            </div>
            <div class="profile-info-row">

                <div class="profile-info-name" style="width: 200px !important;">
                    <label class="col-sm-12 control-label no-padding-right" for="Name">Remarks<span style="color: red">*</span>:</label>
                </div>

                <div class="profile-info-value">

                    @Html.TextAreaFor(model => model.Remark, new { @id = "Remark", @class = "col-xs-12", @placeholder = "Enter Remarks", @autocomplete = "off", @maxlength = "200", @style = "width:80%;" })
                    @Html.HiddenFor(model => model.ProID)
                </div>
            </div>
        </div>
    </div>
</div>


@*<link href="~/Content/bootstrapUp/jquery.fileupload.css" rel="stylesheet" />
<script src="~/Content/ScriptsUp/jquery-1.9.1.min.js"></script>
<script src="~/Content/ScriptsUp/jquery.ui.widget.js"></script>
<script src="~/Content/ScriptsUp/jquery.fileupload.js"></script>*@

<script>
    $(document).ready(function () {
        $('#removeUpload').hide();
        $('#removeUploadP').hide();
       
       @* if ('@Model.DeptID' != null || '@Model.DeptID' != "") {
            $("#DdlSecDept").val('@Model.DeptID');
        }*@
        if ('@Model.CommitteeId' != null || '@Model.CommitteeId' != "" || '@Model.CommitteeId' != "0") {
            $("#DdlCommittee").val('@Model.CommitteeId');
        }

    });
    $("#fileupload").click(function (event) {
        $('#pdffile1').text('No');
        $('#IsPdf').val("N");
        $('#fileupload').fileupload({

            dataType: 'json',
            url: "/eFile/eFile/UploadPdfFiles",
            autoUpload: true,

            done: function (e, data) {

                var sim = setTimeout("hidevalue2()", 1000);

                $('.file_name1').html(data.result.name);

                $('.file_size1').html(data.result.size);
            }
        }).on('fileuploadprogressall', function (e, data) {

            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progress1 .progress-bar').css('width', progress + '%');
            $('#removeUpload').css('display', 'block');
        });
    });

    $("#Passedfileupload").click(function (event) {
        $('#docfile').text('No');
        $('#IsDoc').val("N");
        $('#Passedfileupload').fileupload({

            dataType: 'json',
            url: "/eFile/eFile/DocUploadFiles",
            autoUpload: true,
            done: function (e, data) {
                var sim = setTimeout("hidevalue()", 1000);

                $('.file_name').html(data.result.name);
                $('.file_size').html(data.result.size);
            }
        }).on('fileuploadprogressall', function (e, data) {

            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progress2 .progress-bar').css('width', progress + '%');
            $('#removeUploadP').css('display', 'block');
        });
    });


    function removefileupload() {
        $('.file_name1').html('');
        $('.file_size1').html('');
        $('.progress1 .progress-bar').css('width', '0%');
        $("#removeUpload").hide();
        $('#fileuploadcontant').css('border', '0px solid rgb(244, 239, 239)');
        $.post("/eFile/eFile/RemovePDFFilesCom",
           {
           },
           function (data) {
           });

    }

    function removefileuploadP() {
        $('.file_name').html('');
        $('.file_size').html('');
        $('.progress2 .progress-bar').css('width', '0%');
        $("#removeUploadP").hide();
        $('#fileuploadcontantP').css('border', '0px solid rgb(244, 239, 239)');
        $.post("/eFile/eFile/RemoveDocFiles",
           {
           },
           function (data) {
           });


    }


    function hidevalue() {
        $('.progress2 .progress-bar').fadeOut(500);
        var sim = setTimeout("hideval1()", 3000);
    }
    function hideval1() {
        $('.progress2 .progress-bar').css('width', '0%');
        $('.progress2 .progress-bar').css('display', 'block');
    }

    function hidevalue2() {
        $('.progress1 .progress-bar').fadeOut(500);
        var sim = setTimeout("hideval2()", 3000);
    }
    function hideval2() {
        $('.progress1 .progress-bar').css('width', '0%');
        $('.progress1 .progress-bar').css('display', 'block');
    }
</script>

