﻿@model SBL.DomainModel.Models.eFile.eFileAttachment

<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }
</style>


@Html.HiddenFor(m => m.PaperRefNo, new { @id = "PaperRefNo" })
@using (Html.BeginForm("SaveSendPaper", "eFile", new { area = "eFile" }, FormMethod.Post, new { @id = "formSendPaper", @class = "form-horizontal", @role = "form", @enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.eFileID)
    <div class="col-sm-12" style="width: 98%;">
        <div class="widget-box">
            <div class="widget-header ">
                <h4 class="widget-title">Send Paper</h4>
                <div class="widget-toolbar">
                    <a href="#" data-action="fullscreen" class="red">
                        <i class="ace-icon fa fa-expand bigger-150"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main no-padding-right no-padding-left">
                    @if (ViewBag.eFileNumber != null)
                    { 
                        <span class="label label-yellow arrowed-in" style="font-size: 14px;">eFile Number : <b>@ViewBag.eFileNumber </b></span>
                        <hr />
                    }
                    <div class="profile-user-info profile-user-info-striped">
                    </div>





                    <h4 class="label label-lg label-pink arrowed-right" style="height: 25px; font-size: 14px; width: 170px;">
                        <i class="glyphicon glyphicon-log-out"></i>
                        Send To</h4>


                    <div class="profile-user-info profile-user-info-striped">
                        @if (ViewBag.UserdeptList != null)
                        {
                            <div class="profile-info-row">
                                <div class="profile-info-name">User Department</div>
                                <div class="profile-info-value">
                                    <div class="input-group col-xs-12">
                                        <label class="col-xs-12">
                                            @Html.DropDownList("UserDepartmentId", ViewBag.UserdeptList as SelectList, new { @class = "col-xs-12 RemoveDdlBorder" })
                                        </label>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="profile-info-row">
                            <div class="profile-info-name"></div>

                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">
                                    <label class="col-xs-12">
                                        <div class="control-group">
                                            <div class="input-group col-sm-12">
                                                <div class="radio col-sm-3">
                                                    <label>
                                                        <input @(ViewBag.CommetteId == 0 ? "checked='checked'" : "") name="form-field-radio" id="rbtnHP" type="radio" class="ace" onclick="recvchnge('H')">
                                                        <span class="lbl">HP GOVT.</span>
                                                    </label>
                                                </div>
                                                <div class="radio col-sm-3">
                                                    <label>
                                                        <input name="form-field-radio" id="rbtnOther" type="radio" class="ace" onclick="recvchnge('O')">
                                                        <span class="lbl">OTHER</span>
                                                    </label>
                                                </div>
                                                @if (ViewBag.CommetteId != 0)
                                                {
                                                    <div class="radio col-sm-4">
                                                        <label>
                                                            <input name="form-field-radio" id="rbtnCommette" checked="checked" type="radio" class="ace" onclick="recvchnge('C')">
                                                            <span class="lbl">Committee Members</span>
                                                        </label>
                                                    </div>
                                                }
                                                <input type="hidden" id="CommetteId" name="CommetteId"  value="@ViewBag.CommetteId"/>
                                                <input type="hidden" id="RevedOption" name="RevedOption" />
                                            </div>

                                        </div>
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="profile-info-row" id="divDept" style=" @(ViewBag.CommetteId != 0 ? "display:none" : "")">
                            <div class="profile-info-name">Department</div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">
                                    <label class="col-xs-12">
                                        @Html.DropDownList("DepartmentId", ViewBag.ListOfCodes as SelectList, "-Select Department", new { @class = "col-xs-12 RemoveDdlBorder" })
                                    </label>
                                </div>

                            </div>
                        </div>

                        @*     <div class="profile-info-row" id="divoffice">
                            <div class="profile-info-name">Office</div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">
                                    <label class="col-xs-12">
                                        <select id="lstOffice" name="lstOffice" class="col-xs-12 RemoveDdlBorder">
                                            <option value="">Select Office</option>
                                        </select>
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name" id="recvDetails">Desg</div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">
                                    <label class="col-xs-12">
                                        @Html.TextAreaFor(model => model.ToRecvDetails, new { @id = "ToRecvDetails", @class = "col-xs-12", @placeholder = "Details", @autocomplete = "off", @maxlength = "501", })
                                    </label>
                                </div>
                            </div>
                        </div>*@

                    </div>
                    <h4 class="label label-lg label-pink arrowed-right" style="height: 25px; font-size: 14px; width: 170px;">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        Paper Details</h4>

                    <div class="profile-user-info profile-user-info-striped">

                        <div class="profile-info-row">
                            <div class="profile-info-name">Paper Mode</div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">
                                    <label class="col-xs-12">
                                        <select id="PType" name="PType" class="col-xs-12">
                                            <option value="O">Original</option>
                                            <option value="R">Reminder</option>
                                        </select>
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="profile-info-row" id="divPaperRefNo">
                            <div class="profile-info-name"><b>PaperRefNo.</b></div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">
                                    <label class="col-xs-12">
                                        @Html.TextBoxFor(model => model.PaperRefNo, new { @id = "ReferenceNo", @class = "col-xs-12 RemoveBorder", @placeholder = "Reference No", @autocomplete = "off", @readonly = "readonly", @required = "required", @onchange = "GetValuesByRefID()" })
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name">Paper Type</div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">
                                    <label class="col-xs-12">
                                        @Html.DropDownList("DocumentTypeId", ViewBag.eFilePaperType as SelectList, "-Select Paper Type-", new { @class = "col-xs-12 RemoveDdlBorder" })
                                        @*	<select id="DocumentTypeId" name="DocumentTypeId" class="col-xs-12 RemoveDdlBorder" required="required">
											<option value="0">-Select Paper Type-</option>
											<option value="1">Subject Material</option>
											<option value="2">Questionnaire</option>
											<option value="3">Oral Examination</option>
											<option value="4">Action Taken Report</option>
											<option value="5">Verbatim Record of proceeding</option>
											<option value="6">Orginal Report</option>
											<option value="8">Further action taken report</option>
											<option value="9">Meeting at vidhan sabha secretariat</option>
											<option value="10">Spot study tour</option>
										</select>*@
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name">Paper Nature</div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">
                                    <label class="col-xs-12">
                                        @Html.DropDownList("papernature", ViewBag._ListeFilePaperNature as SelectList, "-Select Paper Nature-", new { @class = "col-xs-12 RemoveDdlBorder" })
                                        @*	<select id="papernature" name="papernature" class="col-xs-12 RemoveDdlBorder" required="required">
											<option value="0">-Select Paper Nature-</option>
											<option value="1">Reply Awaited</option>
											<option value="2">Reply to Send</option>
											<option value="3">Information</option>
											<option value="4">Reply Awaited (Reminder)</option>
										</select>*@
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="profile-info-row" id="divPaperDays">
                            <div class="profile-info-name">Paper Nature Days</div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">
                                    <label class="col-xs-12">
                                        @Html.TextBoxFor(model => model.PaperNatureDays, new { @id = "PaperNatureDays", @class = "col-xs-12", @placeholder = "Paper Nature Days", @autocomplete = "off", @maxlength = "3" })
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name">Subject</div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">
                                    <label class="col-xs-12">
                                        @Html.TextBoxFor(model => model.Title, new { @id = "Title", @class = "col-xs-12 RemoveBorder", @placeholder = "Subject", @autocomplete = "off", @maxlength = "501", @required = "required" })

                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name">Attach (PDF File)<sup>*</sup></div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">
                                    <label class="col-xs-12">
                                        @*<input type="file"  required="required" id="eAttachfile" name="file" />*@
                                        <span class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>Choose file</span>
                                            <input style="font-size: 15px;" id="fileupload" accept=".pdf" type="file" name="fileupload">
                                        </span>
                                        <br />
                                        <br />

                                        <div style="width: 100%;" id="fileuploadcontant">
                                            <div style="width: 100%;">
                                                <span id="removeUpload" onclick="removefileupload()" class="glyphicon glyphicon-remove" style="color: red; float: right;"></span>
                                                <div id="file_name1" class="file_name1"></div>
                                                <div class="file_size1"></div>
                                            </div>
                                            <div style="width: 100%;">
                                                <div class="show_hide">
                                                    <div class="progress1" style="height: 10px; width: 100%">
                                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" style="width: 0%;">
                                                            <span class="sr-only">0% complete</span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="help-block col-xs-6 col-sm-reset inline">
                                        </div>


                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name">Attach (Word File)</div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">
                                    <label class="col-xs-12">

                                        <span class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>Choose file</span>
                                            <input style="font-size: 15px;" id="fileuploadWordNew" accept=".docx" type="file" name="fileuploadWordNew">
                                        </span>
                                        <br />
                                        <br />

                                        <div style="width: 100%;" id="fileuploadcontantWord">
                                            <div style="width: 100%;">
                                                <span id="removeUploadWord" onclick="removefileuploadWordNew()" class="glyphicon glyphicon-remove" style="color: red; float: right;"></span>
                                                <div id="file_name1Word" class="file_name1Word"></div>
                                                <div class="file_size1Word"></div>
                                            </div>
                                            <div style="width: 100%;">
                                                <div class="show_hide">
                                                    <div class="progress1Word" style="height: 10px; width: 100%">
                                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" style="width: 0%;">
                                                            <span class="sr-only">0% complete</span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="help-block col-xs-6 col-sm-reset inline">
                                        </div>


                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name">Remark</div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">
                                    <label class="col-xs-12">
                                        @Html.TextAreaFor(model => model.Description, new { @id = "CommDesc", @class = "col-xs-12", @placeholder = "Remark", @autocomplete = "off", @maxlength = "501", })
                                    </label>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="wizard-actions">
                    <div style="margin-bottom: 40px;">
                        <div class="form-inline">
                            <button type="button" id="Reportbtns" onclick="return confSendPaperValidation();" class="btn btn-sm btn-purple">
                                <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                Send</button>
                            <button type="reset" class="btn btn-sm btn-info">
                                <i class="ace-icon fa fa-times bigger-125"></i>
                                @Resources.MasterDataDashboard.Reset
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

 
		 
}


<script>



    $(document).ready(function () {
        FilterPapernature('default');
        $("#divPaperDays").hide();
        $("#divPaperRefNo").hide();
        $('.RemoveBorder').keypress(function () {
            var Id = this.id;
            $("#" + Id).next().hide();
            $("#" + Id).css("border", "1px solid green");
        });

        $('.RemoveDdlBorder').change(function () {

            var Id = this.id;
            if ($("#" + Id).val() != '') {
                $("#" + Id).next().hide();
                $("#" + Id).css("border", "1px solid green");
            }
            else {
                $("#" + Id).after("<span class='ErrorMessage'>Required</span>");
                $("#" + Id).css("border", "1px solid red");
            }

        });
    });

    function confSendPaperValidation() {


        $('.ErrorMessage').remove('');
        var IsValid = true;
        var ReferenceNo = $('#ReferenceNo').val();
        var FlagHP = $("input[id='rbtnHP']").is(":checked");
        var FlagOTHER = $("input[id='rbtnOther']").is(":checked");
        if (FlagHP) {
            if ($('#ReferenceNo').val() == '') {
                $('#ReferenceNo').css("border", "1px solid red");
                $('#ReferenceNo').after("<span class='ErrorMessage'> Reference no is Required</span>");
                IsValid = false;
            }

            if ($('#DepartmentId').val() == '') {
                $('#DepartmentId').css("border", "1px solid red");
                $('#DepartmentId').after("<span class='ErrorMessage'> Reference no is Required</span>");
                IsValid = false;
            }
            if ($('#lstOffice').val() == '') {
                $('#lstOffice').css("border", "1px solid red");
                $('#lstOffice').after("<span class='ErrorMessage'> Reference no is Required</span>");
                IsValid = false;
            }
        }
        if ($('#DocumentTypeId').val() == '') {
            $('#DocumentTypeId').css("border", "1px solid red");
            $('#DocumentTypeId').after("<span class='ErrorMessage'> Paper type is Required</span>");
            IsValid = false;
        }

        if ($('#papernature').val() == '') {
            $('#papernature').css("border", "1px solid red");
            $('#papernature').after("<span class='ErrorMessage'> Paper nature is Required</span>");
            IsValid = false;
        }

        if ($('#Title').val() == '') {
            $('#CommDeTitlesc').css("border", "1px solid red");
            $('#Title').after("<span class='ErrorMessage'>Paper Subject is Required</span>");
            IsValid = false;
        }
        if (IsValid) {
            //////////////////// Enable Controls////////////////////
            $('#papernature').attr("disabled", false);
            $('#DepartmentId').attr("disabled", false);
            $('#lstOffice').attr("disabled", false);
            $('#DocumentTypeId').attr("disabled", false);
            //////////////////// Enable Controls////////////////////
            if (FlagHP) {
                $('#RevedOption').val("H");
            }
            else { $('#RevedOption').val("O"); }
            SaveSendPaper();
        }
        else {
            return false;
        }
    }


    function GetValuesByRefID() {

        $("#loader-wrapper").show();
        var _ReferenceNo = $("#ReferenceNo").val();
        if (_ReferenceNo != '') {
            var Url = '@Url.Action("GetValuesByRefID", "eFile", new { Area = "eFile" })';
            $.ajax({
                url: Url,
                type: 'GET',
                data: { _ReferenceNo: _ReferenceNo },
                success: function (data) {
                    if (data) {
                        $('#DepartmentId').val(data.ToDepartmentID);
                        $('#DepartmentId').attr("disabled", true);

                        getOfficeDeptWise(data.ToDepartmentID);
                        $('#lstOffice').val(data.ToOfficeCode);
                        $("#lstOffice").trigger("chosen:updated");
                        $('#lstOffice').prop("disabled", true);
                        $('#lstOffice').attr("disabled", true);

                        $('#DocumentTypeId').val(data.DocumentTypeId);
                        $('#DocumentTypeId').attr("disabled", true);

                        $("#loader-wrapper").hide();
                    }
                    else {
                        $("#loader-wrapper").hide();
                        bootbox.alert('Invalid ReferenceNo or Paper Nature may be as Information type');
                        $("#ReferenceNo").val('');

                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {

                    var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                        $(dlg).modal('hide');
                    });
                }
            });
        }

        else {

            bootbox.alert('Please Enter ReferenceNo');
            $("#loader-wrapper").hide();

        }
    }







    $("#papernature").change(function () {

        var v = $(this).val();
        if (v == 1 || v == 4) {
            $("#divPaperDays").show();
        } else {
            $("#divPaperDays").hide();
        }
    });


    $("#PType").change(function () {
        var v = $(this).val();
        FilterPapernature(v);
        if (v == 'O') {
            var _PaperRefNo = $("#PaperRefNo").val();
            $("#ReferenceNo").val(_PaperRefNo);
            $("#ReferenceNo").prop('readonly', true);
            //$('#papernature').val(0);
            //$('#papernature').attr("disabled", false);
            $("#divPaperDays").hide();
            //////////////////////////
            $('#DepartmentId').val(0);
            $('#DepartmentId').attr("disabled", false);

            //getOfficeDeptWise($("#DepartmentId").val());
            $('#lstOffice').attr("disabled", false);

            $('#DocumentTypeId').val(0);
            $('#DocumentTypeId').attr("disabled", false);

            $("#divPaperRefNo").hide();
            //////////////////////////

        } else {
            $("#divPaperRefNo").show();

            $("#ReferenceNo").val('');
            $("#ReferenceNo").prop('readonly', false);
            //$('#papernature').val(4);
            //$('#papernature').attr("disabled", true);
            $("#divPaperDays").show();
        }
    });



    $("#DepartmentId").change(function () {
        getOfficeDeptWise($("#DepartmentId").val());
    });
    function getOfficeDeptWise(Deptid) {

        $("#loader-wrapper").show();

        var Url = '@Url.Action("GetOfficesByDeptId", "OnlineMemberQuestions", new { Area = "Notices" })';
        $.ajax({
            url: Url,
            type: 'GET',
            data: { DeptId: Deptid },
            success: function (data) {

                if (data) {
                    $("#lstOffice").html("");
                    for (var i = 0; i < data.length; i++)
                    { var item = data[i]; $("#lstOffice").append($("<option></option>").val(item.OfficeId).html(item.officename)) }
                    $("#lstOffice").trigger("chosen:updated");
                    //$("#lstOffice").prop("disabled", "");
                    $("#loader-wrapper").hide();
                }
                else {
                    $("#lstOffice").html("");
                    $("#lstOffice").trigger("chosen:updated");

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });

    }

    function SaveSendPaper() {
        debugger;
        $("#loader-wrapper").show();

        var model = $("#formSendPaper").serialize();

        var Url = '@Url.Action("SaveSendPaper", "eFile", new { Area = "eFile" })';
        $.ajax({
            url: Url,
            type: 'POST',
            data: model,
            success: function (data) {
                debugger;
                $("#loader-wrapper").hide();
                if (data) {
                    if (data != "Please select pdf file") {
                        var arr = data.split(',');
                        var Msg = "Paper Sent Successfully. Paper Ref No. : " +
                           "<span class='label label-xlg label-primary arrowed arrowed-right' style='  font-size: 16px;  height: 29px;'><b>" + arr[0] + "</b></span>";

                        if (arr[1] = "Commette") {
                            bootbox.alert(Msg);
                            $("#hdnFileAttachmentId").val(0);
                            $("#RefNo").html("");
                            $('#dlgSendRecipientGroupModel').modal('hide');
                        }
                        else {
                            $("#hdnFileAttachmentId").val(arr[1]);
                            $("#RefNo").html(Msg);
                            $('#dlgSendRecipientGroupModel').modal('show');
                        }
                    }
                    else {
                        bootbox.alert(data);
                    }

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            },
            complete: function () {
                removefileuploadWordNew();
                removefileupload();

                $('#resize-left').width('100%');
                $('#spnScrollPosition').html('1');
                $('#resize-right').animate({ width: '0%' }, 500);

                $("#RightSidebar").html("");
                //$('#dlgSendRecipientGroupModel').modal('show');
            }
        });
    }
    function recvchnge(ele) {
        debugger;
        if (ele == 'O') {

            $("#divDept").fadeOut(1000);
            $("#divoffice").fadeOut(1000);
            $("#recvDetails").html("Desg/Office");
        }
        else if (ele == 'C') {
            $("#divDept").hide();
            //   $("#divoffice").fadeIn(1000);
        }
        else {
            $("#divDept").fadeIn(1000);
            $("#divoffice").fadeIn(1000);
            $("#recvDetails").html("Desg");
        }


    }

    //$(document).ready(function () {
    //    var elems = document.getElementById('papernature');
    //    for (i = 0; i < elems.length; i++) {
    //        if (elems[i].value == '4' || elems[i].value == '5') {        //elems[i].className 
    //            elems[i].style.display = "none";
    //        }
    //        else {
    //            elems[i].style.display = "block";
    //        }
    //    }
    //});
    function FilterPapernature(mode) {


        if (mode == 'O') {
            var elems = document.getElementById('papernature');
            for (i = 0; i < elems.length; i++) {
                if (elems[i].value == '4' || elems[i].value == '5') {        //elems[i].className 
                    elems[i].style.display = "none";
                }
                else {
                    elems[i].style.display = "block";
                }
            }

        }
        else if (mode == 'R') {
            var elems = document.getElementById('papernature');
            for (i = 0; i < elems.length; i++) {
                if (elems[i].value == '4') {        //elems[i].className   || elems[i].value == '5'
                    elems[i].style.display = "block";
                }
                else {
                    elems[i].style.display = "none";
                }
            }

        }
        else {
            var elems = document.getElementById('papernature');
            for (i = 0; i < elems.length; i++) {
                if (elems[i].value == '4' || elems[i].value == '5') {        //elems[i].className 
                    elems[i].style.display = "none";
                }
                else {
                    elems[i].style.display = "block";
                }
            }
        }
        // $("#papernature option[text='-Select Paper Nature-']").attr('selected', 'selected');

        $("#papernature option").each(function () {
            if ($(this).text() == '-Select Paper Nature-') {
                $(this).attr('selected', 'selected');
            }
        });
        //  $("#papernature").prop('selected','-Select Paper Nature-');
    }


</script>

<script type="text/javascript">
    //function PopUpSendSMSDiv(FileId) {
    //    $("#hdnFileAttachmentId").val(FileId);
    //    $("#RefNo").hide();
    //    $("#RightMemberLists").empty();
    //    $("#LeftGroupLists").empty();
    //    $('#form-field-select-1').val('N');
    //    $('#dlgSendRecipientGroupModel').modal('show');
    //}
    function getgroups(ele) {

        var grpval = $('#form-field-select-1 option:selected').val();

        var pathUrl;
        if (grpval == "N") {
            var dlg = bootbox.alert('Please Select Group', function (e) {
                $(dlg).modal('hide');
            });
            $('#LeftGroupLists').empty();
            return;

        }
        else if (grpval == "G") {
            pathUrl = "/Notices/OnlineMemberQuestions/GenericGroups";
        }
        var pathUrl =
		$.ajax({
		    type: "GET",
		    url: pathUrl,
		    data: {},

		    success: function (data) {
		        $("#LeftGroupLists").empty();
		        $("#LeftGroupLists").append(data);
		        $("#loader-wrapper").hide();
		        var checkboxes = document.getElementsByClassName("ace");
		        if (checkboxes.length > 0) {
		            $('#chkAllMembers').show();
		            $('#spnGroupmember').html('Select Recipients For SMS..');
		        }
		        else {
		            $('#chkAllMembers').hide();
		            $('#spnGroupmember').html('Select Recipients For SMS..');
		        }
		        $('#RightMemberLists').empty();
		        $('#RightMemberLists').html('');

		        $('#mailids').html('');
		        $('#divSelectedMembers').html('');
		        Count = 1;
		    }
		});
    }

    function GetmembetsDetPartial(Chkid, CHkvalue) {

        $('#chkAllMembers').prop("checked", false);
        var chkboxGroups = $("#" + Chkid).prop('checked');

        if (chkboxGroups == true) {
            $("#loader-wrapper").show();
            $.ajax({
                type: "GET",
                url: "/Notices/OnlineMemberQuestions/GetMembersPartial",
                data: { GroupID: CHkvalue },

                success: function (data) {
                    //$("#RightMemberLists").empty();
                    $("#RightMemberLists").append(data);
                    $("#loader-wrapper").hide();
                    var checkboxes = document.getElementsByClassName("ace");
                    if (checkboxes.length > 0) {
                        $('#chkAllMembers').show();
                        $('#spnGroupmember').html('Select Recipients For SMS..');
                    }
                    else {
                        $('#chkAllMembers').hide();
                        $('#spnGroupmember').html('Select Recipients For SMS..');
                    }
                }
            });
        }
        else {


            $("#RightMemberLists").empty();
            var checkboxes = document.getElementsByName("chkgroupbox");
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {

                    if (checkboxes[i].checked == true) {
                        GetmembetsDetPartial(checkboxes[i].id, checkboxes[i].value);
                    }
                }
            }
        }

    }


    function SendSmsToAllMembers() {
        //var a = $('#spnLeft').html();


        //if (a <= 0) {
        //    var dlg = bootbox.alert('Message Limit is Over.Please Conatct to Admin.', function (e) {
        //        $(dlg).modal('hide');
        //    });
        //    return;
        //}
        debugger;
        var mobilenos = $('#MobileNo').html();
        var mailids = $('#mailids').html();
        var FileAttachmentId = $("#hdnFileAttachmentId").val();
        $("#loader-wrapper").show();

        $.ajax({
            url: "/eFile/eFile/SendPubishedTourSMS",
            type: 'POST',
            data: JSON.stringify({
                MobileNos: mobilenos,
                FileAttachmentId: FileAttachmentId,
                EmailIds: mailids
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //GetSMSLimit();
                //GetSpentSSMS();

                $('#divSelectedMembers').html('');
                $('#RightMemberLists').html('');
                $('#mailids').html('');
                $('#MobileNo').html('');

                var radios = document.getElementsByName("form-field-radio");
                for (var i = 0; i < radios.length; i++) {
                    if (radios[i].type == 'radio') {
                        radios[i].checked = false;

                    }
                }

                var dlg = bootbox.alert(data, function (e) {
                    $(dlg).modal('hide');
                });

                $("#loader-wrapper").hide();

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
            },
            complete: function (obj) {
                $('#dlgSendRecipientGroupModel').modal('hide');
                LoadeFileAll("Open");

                $('#resize-left').width('100%');
                $('#spnScrollPosition').html('1');
                $('#resize-right').animate({ width: '0%' }, 500);

                $("#RightSidebar").empty();
                //  SendPaperList();
            }
        });
    }

    function getmemberdata(id, name, Mobile, Email) {
        debugger;
        if (Count > 1000) {
            var dlg = bootbox.alert('Max. limit 1000.', function (e) {
                $(dlg).modal('hide');
            });
            return;
        }
        var n = name + ',';
        if (Mobile.trim().length > 0) {
            var Mobiles = Mobile + ',';
        }



        var IsValid = true;
        var ifExists = false;
        if ($('#' + id + '').is(':checked')) {

            IsValid = true;
            for (var i = 1; i <= Count; i++) {
                var value = $('#hdnNum-' + i).val();
                if (Mobile == value) {
                    ifExists = true;
                }
            }
        } else {
            IsValid = false;
        }
        //for (var i = 1; i <= Count; i++) {
        //	var value = $('#hdnNum-' + i).val();
        //	if (mailid == value) {
        //		IsValid = false;

        //	}
        //}
        if (ifExists == false) {
            if (IsValid == true) {
                if (Mobile.trim().length > 0) {
                    var a = ' <span class="tag" >' + name + '' +
					'<input type="hidden" id="hdnNum-' + Count + '" value="' + Mobile + '" class="hdnmembers" />' +
					'<button class="close" value="' + id + '" type="button" id="' + Mobile + '" title="Remove" >×</button>' +
					'</span> ';
                }
                if (document.getElementById(id).checked) {
                    $('#divSelectedMembers').append(a);
                    // adding mobiles
                    if (Email.trim().length > 0) {
                        $('#mailids').append(Email + ",");
                    }
                    $('#MobileNo').append(Mobiles);
                }
                Count++;
            }
            else {
                var a = $('#MobileNo').html();
                var b = a.replace(Mobile + ',', " ");
                $('#MobileNo').empty();
                $('#MobileNo').append(b);
                if (Email.trim().length > 0) {

                    var c = $('#mailids').html();
                    var d = c.replace(Email + ',', " ");
                    $('#mailids').empty();
                    $('#mailids').append(d);
                }
                $('#' + Mobile + '').parent().remove();
                Count--;
            }
        }
        //else{
        //	var a = $('#mailids').html();
        //	var b = a.replace(mailid + ',', " ");
        //	$('#mailids').empty();
        //	$('#mailids').append(b);

        //	$('#' + mailid + '').parent().remove();


        //	Count--;
        //}

        $('#MobileNo').hide();

    }
</script>
<!--Create Sale Counter Modal -->
<div class="modal" tabindex="-1" role="dialog" id="dlgSendRecipientGroupModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="label label-lg label-yellow arrowed-in arrowed-in-right" style="float: right;">

                    @*  <strong>
                        <i class="ace-icon fa fa-check"></i>
                        Monthly Message Limit <span class="badge badge-success" id="spnlimitsms"></span>. You have <span class="badge badge-warning" id="spnleftsms" style="display: none;"></span><span class="badge badge-warning" id="spnLeft"></span>SMS Left.
                    </strong>*@
                </div>
                <button type="button" class="close" data-dismiss="modal">

                    @*<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>*@

                </button>

                <h4 class="modal-title" id="SaleCounterModalTitle">
                    <span id="RefNo"></span>
                    Select Recipients</h4>
            </div>
            <form method="post" id="DebateInfoForm">

                <div class="modal-body">
                    <div class="col-xs-12 col-sm-5">
                        <div class="control-group">

                            <div class="">
                                <div style="padding-left: 0px;">
                                    <input type="hidden" id="hdnFileAttachmentId" name="hdnFileAttachmentId" />

                                    <select class="form-control" id="form-field-select-1" style="border-radius: 60px; font-size: 12px; height: 30px;" onchange="getgroups(this)">
                                        <option value="N">-Selec Group-</option>
                                        <option value="G">Generic</option>
                                        @*<option value="C">Constituency</option>
                                        <option value="P">Panchayat</option>
                                        <option value="O">Constituency Office</option>*@
                                    </select>

                                </div>
                                <div style="padding-left: 0px;">

                                    @* <input type="checkbox" id="chkAllGroups" value="Select ALL" />*@
                                    <label class="control-label bolder blue" for="name">
                                        Select All Groups</label>

                                </div>
                                <div id="LeftGroupLists" style="height: 150px; overflow-y: scroll;">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="canvasloader-containerMember" class="canvasloader" style="text-align: center"></div>
                    <div id="divDataContainerMember"></div>

                    <div class="col-xs-12 col-sm-7">
                        <div class="control-group">
                            <div class="checkbox">
                                <label class="control-label bolder blue" for="name">​<span id="spnGroupmember">Select Recipients For SMS...</span></label>

                                @*    <input type="checkbox" id="chkAllMembers" value="Select ALL" style="margin-left: .5%;" />*@

                                <div id="RightMemberLists" style="height: 178px; overflow-y: scroll;">
                                    Select Recipients For SMS...
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div id="canvasloader-containerSend" class="canvasloader" style="text-align: center"></div>
                    <div id="divDataContainerSend"></div>

                    <div class="control-group">
                        <div class="checkbox" style="display: none;">
                            <label class="control-label bolder blue" for="name">Selected Members (max limit 1000)</label>
                            <div id="divSelectedMembers" class="col-xs-3 tags" style="height: 45px; width: 98%; overflow-y: scroll;">
                            </div>
                            <div id="mailids" class="hdnmembers"></div>
                            <div id="MobileNo" class="hdnmembersMobile"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top: 20%">
                    <button type="button" id="UpdateDebateInfo" class="btn btn-primary" onclick="SendSmsToAllMembers()">
                        <i class="ace-icon fa fa-share align-top bigger-140"></i>
                        Send SMS</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="UncheckAllTour();">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
