﻿@model SBL.DomainModel.Models.eFile.eFileAttachments
@using SBL.eLegistrator.HouseController.Web.Helpers
@{
    var FileSettings = (SBL.DomainModel.Models.SiteSetting.SiteSettings)Helper.ExecuteService("SiteSetting", "GetSecureFileSettingLocation", null);

    int count = 0;
    if (ViewBag.CurrentPage > 1)
    {

        count = (ViewBag.PageSize * (ViewBag.CurrentPage - 1));
    }
}


<div class="row">
    <div class="form-group">
        @*<button type="submit" id="savebtnAddAttachment" class="btn btn-sm btn-warning" onclick="SendPaper();" style="float: right; margin-right: 16px; margin-bottom: 6px; border-radius: 6px;">
            <i class="ace-icon fa fa-cloud-upload bigger-150"></i>
            Send Paper</button>*@
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="pass-table">
            @if (Model.eFileAttachemts != null)
            {
                if (Model.eFileAttachemts.Count() > 0)
                {
                <div class="" style="position: absolute; margin-top: 56px; margin-left: 5px;">
                    <label>Display</label>
                    <select size="1" name="PageSize" id="PazeSize">
                        <option value="25" selected="selected">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                    </select>
                    <label>Records</label>
                </div>
                <div class="table-header">
                    <span class="label label-lg label-yellow arrowed-right" style="height: 24px; font-weight: bold; font-size: 14px;">Send</span> ( Paper List )
                </div>        
                <table class="table table-bordered  dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting_disabled" rowspan="1" colspan="1">
                                <input type="checkbox" class="chkList" id="chkSelAll" /></th>
                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">S#</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">RefNo</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="display: none;">Type</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Subject</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Nature</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">inDays</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Sent To</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Date</th>
                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="text-align: center"><i class="fa fa-download bigger-120" title="View/Download"></i></th>
                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="text-align: center"><i class="fa fa-download bigger-120" title="View/Download"></i></th>
                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="text-align: center">Send SMS</th>
                            @*<th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Status</th>*@
                        </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        @foreach (var item in Model.eFileAttachemts)
                        {
                            string deptid = "d" + item.eFileAttachmentId;
                            string ofcid = "of" + item.eFileAttachmentId;
                            string efflNo = "eNo" + item.eFileAttachmentId;
                            string subj = "sub" + item.eFileAttachmentId;
                            string pre = "pre" + item.eFileAttachmentId;
                            string fut = "fut" + item.eFileAttachmentId;
                            count = count + 1;
                            string rowId = "eFiles" + item.eFileAttachmentId;
                            var EDays = 0;       
                                   
                            <tr>
                                <td>
                                    @if (item.eFileID > 0)
                                    {
										
                                        <a class="glyphicon glyphicon-link" aria-hidden="true" data-toggle="tooltip" data-placement="right" onclick="getEFileAttached('@item.eFileID')" title="View Attached eFile" style="cursor:pointer"></a>
                                    }
                                    else
                                    {
                                        <input id='chk_@count' type="checkbox" class="chkp" name="@item.eFileAttachmentId" onclick="AddToList(this.id, this.name)"/>
                                   
                                    }

                                </td>
                                <td class="hidden-sm hidden-xs action-button">@count</td>
                                <td><span class="label label-sm label-success arrowed arrowed-right" style="height: 18px">@item.PaperRefNo</span></td>
                                <td style="display: none;">@item.DocuemntPaperType</td>
                                <td>@item.Title</td>
                                <td>@item.RecvdPaperNature</td>
                                <td>
                                    @if (item.PaperNature == 1)
                                    {
                                        if (item.PaperNatureDays != "0")
                                        {
                                            var dtfrom = item.CreatedDate.Date;
                                            var toDate = DateTime.Today.Date;
                                            TimeSpan tspn = (toDate - dtfrom);
                                            var diffdays = tspn.Days;
                                            EDays = int.Parse(item.PaperNatureDays) - diffdays;


                                            if (@EDays >= int.Parse(item.PaperNatureDays))
                                            {
                                        <span class="badge badge-pink">@EDays</span>
                                            }
                                            else
                                            {
                                        <span class="badge badge-pink"></span>
                                            }
                                        }
                                    }
                                    else if (item.PaperNature == 4)
                                    {
                                        if (item.PaperNatureDays != "0")
                                        {
                                            var dtfrom = item.CreatedDate.Date;
                                            var toDate = DateTime.Today.Date;
                                            TimeSpan tspn = (toDate - dtfrom);
                                            var diffdays = tspn.Days;
                                            EDays = int.Parse(item.PaperNatureDays) - diffdays;


                                            if (@EDays >= int.Parse(item.PaperNatureDays))
                                            {
                                        <span class="badge badge-pink">@EDays</span>
                                            }
                                            else
                                            {
                                        <span class="badge badge-pink"></span>
                                            }
                                        }

                                    }

                                </td>
                                <td>@if (item.DepartmentName == "OTHER")
                                    {
                                    <span class="badge badge-yellow" style="border-radius: 5px;" title="@item.ToRecvDetails" data-toggle="tooltip">OTHER</span><br />
										
                                    }
                                    else
                                    {
                                    <span  title="@item.DepartmentName" data-toggle="tooltip" >@item.DeptAbbr</span>
                                    }</td>
                                <td>@item.SendDate.ToString("dd/MM/yyyy HH:mm tt")</td>
                                @{
                                    string path = FileSettings.SettingValue + item.eFilePath;
                                }
                                <td><a href="@path" target="_blank">
                                    <img src="~/Images/Common/PDF.png" alt="Download PDF" title="Download PDF" width="35" height="35" /></a></td>

                                @{
                                    string pathWord = FileSettings.SettingValue + item.eFilePathWord;
                                }
                                <td>
                                    @if (!string.IsNullOrEmpty(item.eFilePathWord))
                                    { 
                                        <a href="@pathWord" target="_blank">
                                            <img src="~/Images/Common/doc.png" alt="Download Doc" width="35" height="35" title="Download Doc" /></a>
                                    }
                                </td>
                                <td>
                                    @if (ViewBag.CommitteeTypePermission == "Yes")
                                    {
                                        <a href="javascript:void();" onclick="PopUpSendSMSDiv(@item.eFileAttachmentId)" class="btn btn-warning">Send Sms</a>
                                    }
                                </td>
                            </tr>
                                    
                        }
                    </tbody>
                </table>
                <!-- PAGER START -->
                <div>@{Html.RenderPartial("~/Areas/AccountsAdmin/Views/Shared/_Pager.cshtml");}</div>
                <!-- PAGER ENDS -->	 
                }
                else
                {
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-info">

                            <strong>No Paper Sent !!!</strong><br />


                        </div>
                    </div>
                </div>
                }
            }

        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dlgRecipientGroupModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width: 100%; margin-left: 30px;">
            <div class="modal-header">
                <h3>Attach Paper(s) to eFile </h3>
                <button type="button" class="close" data-dismiss="modal">
                </button>
            </div>
            <form method="post" id="DebateInfoForm">

                <div class="modal-body alert alert-block alert-success" style="height: 247px; overflow-y: scroll;">
                    <input type="hidden" id="hdnefileattid" />
                    <div class="col-xs-12 col-sm-12" id="divattachefile">

                        @if (ViewBag.EFilesListAll != null)
                        {
	 
                            <div class="profile-info-row col-sm-12" id="divefile">

                                <div class="pass-table">

                                    @if (Model.eFileLists.Count() > 0)
                                    {
                                        <div class="table-header">
                                            e-File List  
                                        </div>        
                                        <table class="table table-bordered  dataTable" aria-describedby="sample-table-2_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">S#</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">eFile Number</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Subject</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Department</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Create Date</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Old Desc</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">New Desc</th>


                                                </tr>
                                            </thead>
                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                @foreach (var item in Model.eFileLists)
                                                {
                                                    string deptid = "d" + item.eFileID;
                                                    string ofcid = "of" + item.eFileID;
                                                    string efflNo = "eNo" + item.eFileID;
                                                    string subj = "sub" + item.eFileID;
                                                    string pre = "pre" + item.eFileID;
                                                    string fut = "fut" + item.eFileID;
                                                    count = count + 1;
                                                    string rowId = "eFiles" + item.eFileID;
		  
                                   
                                                    <tr>
                                                        <td>
                                                            <input name="form-field-radio" type="radio" onclick="getefileid(this.id)"  id="@item.eFileID">
                                                        </td>
                                                        <td class="hidden-sm hidden-xs action-button">@count</td>
                                                        <td>
                                                            <span class="badge badge-yellow" style="border-radius: 5px; font-weight: bold;">
                                                                @item.eFileNumber/E/@item.eFileID</span></td>
                                                        <td id="@subj">@item.eFileSubject</td>

                                                        <td id="@deptid" >@item.Department</td>

                                                        <td>@Convert.ToDateTime(item.CreateDate).ToString("dd/MM/yyyy")</td>
                                                        <td>@Html.Raw(item.olddesc)</td>
                                                        <td>@Html.Raw(item.newdesc)</td>
                                                    </tr>
                                    
                                                }
                                            </tbody>
                                        </table>
                                        <!-- PAGE CONTENT ENDS -->
                                    }
                                    else
                                    {
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="alert alert-info">

                                                    <strong>No eFiles found!</strong><br />


                                                </div>
                                            </div>
                                        </div>
                                    }






                                </div>
                            </div>
	
                        }
                        else
                        {
	  
                            <div class="alert alert-block alert-danger" id="noefilemsg">
                                <i class="ace-icon fa fa-check green"></i>

                                No e-File Found. <strong class="green">
                                    <span>Create </span>
                                    @*onclick="eFileList();"*@
                                </strong>New eFile to Attach.
									 
                            </div>
                        }

                    </div>
                    <div class="col-xs-12 col-sm-12" id="divOR">
                        <center>
						<div class="profile-info-row">

							 
							<span class="label label-lg label-pink arrowed-right" style="  font-weight: bold;  height: 24px;">OR</span>
						</div>
							</center>
                    </div>
                    <div class="col-xs-12 col-sm-12" id="chkrecv">
                        <div class="profile-info-row">
                            <div class="profile-info-name"></div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">

                                    <div class="checkbox">
                                        <label class="block">
                                            <input name="form-field-checkbox" type="checkbox" class="ace input-lg" id="chkboxreceive">
                                            <span class="lbl bigger-120">Receive Only</span>
                                        </label>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="alert alert-block alert-success" id="divMsgBox">
                        <i class="ace-icon fa fa-check green"></i>

                        Paper
									<strong class="green">Received										
                                    </strong>
                        Successfully
                    </div>

                </div>
                <div class="modal-footer" style="margin-top: 0%; text-align: center;">
                    <button id="btnRecv" type="button" class="btn btn-app btn-purple btn-sm" onclick="UpdateReceive()" data-dismiss="modal">
                        <i class="ace-icon fa fa-cloud-download bigger-200"></i>
                        Receive
                    </button>
                    @if (ViewBag.EFilesListAll != null)
                    {
                        <button id="btnRecvMul" type="button" class="btn btn-app btn-purple btn-sm" onclick="AttachToeFileMultiple()" data-dismiss="modal">
                            <i class="ace-icon fa fa-cloud-download bigger-200"></i>
                            Attach
                        </button>
                    }
                    <button type="button" class="btn btn-app btn-danger btn-sm" data-dismiss="modal">
                        <i class="ace-icon glyphicon glyphicon-remove bigger-200"></i>
                        Close
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>
<br />
<button class="btn btn-sm btn-warning" onclick="openModalMul('','M')">
    <i class="glyphicon glyphicon-link bigger-110"></i>
    <span class="bigger-110 no-text-shadow">Attach Multiple Paper to eFile</span>
</button>

<div id="efileids" class="hdneId"></div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dlgeFileDetails" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width: 67%; margin-left: 30px;">
            <div class="modal-header" style="height: 65px;">
                <h3>eFile Details </h3>
                <button type="button" class="close" data-dismiss="modal">
                </button>
            </div>
            <div id="divAttachedeFileDetails" class="modal-body alert alert-block alert-success" style="height: 400px; overflow-y: scroll;">
            </div>
            <div class="modal-footer" style="margin-top: 0%; text-align: right;">

                @* <button type="button" class="btn btn-app btn-danger btn-sm" data-dismiss="modal">
                    <i class="ace-icon glyphicon glyphicon-remove bigger-200"></i>
                </button>*@
                <button type="button" class="btn btn-app btn-danger" data-dismiss="modal" style="width: 9%; padding: 0px; font-size: 15px;">
                    Close
                </button>
            </div>

        </div>
    </div>
</div>

<input type="hidden" id="hdnefileid" />
<script src="~/assets/js/bootstrap.min.js"></script>

<script>

    //////////////////////////////Server Side Paging////////////////////////////////////////
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip(); $("#efileids").hide();
        $('#sample-table-2').dataTable({
            "bPaginate": false, "bInfo": false, "bSearchable": false, "bSort": false
        });
        $("#PazeSize").val(@ViewBag.PageSize)

        $('#PazeSize').change(function () {
            var PageSize = $("#PazeSize").val();
            $.ajax({
                type: "POST",
                url: '/eFile/eFile/GetSendPaperByPaging',
                data: '{ pageId: "1",pageSize: "' + PageSize + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {

                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result);
                },
                error: function (error) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(error.responseText);

                },
                complete: function (results) {

                    $('#loader-wrapper').hide();
                }
            });

        });


    });
    function GetDataList(pageId) {
        var PageSize = $("#PazeSize").val();
        $.ajax({
            type: "POST",
            url: '/eFile/eFile/GetSendPaperByPaging',
            data: '{ pageId: "' + pageId + '",pageSize: "' + PageSize + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(result);
            },
            error: function (error) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(error.responseText);

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
            }
        });
    }
    //////////////////////////////Server Side Paging////////////////////////////////////////

    function getEFileAttached(id) {
        if (id != null && id != 0) {

            $("#loader-wrapper").show();
            $.ajax({
                url: "/eFile/eFile/_eFileViewByIDAttached",
                type: 'GET',
                data: {
                    DepartmentName: '',
                    eFileNumber: '',
                    eFileSubject: '',
                    eFileID: id,
                    CommitteeId: 0
                },
                success: function (data) {
                    if (data) {
                        $("#dlgeFileDetails").modal('show');
                        $("#divAttachedeFileDetails").html("");
                        $("#divAttachedeFileDetails").html(data);
                        $("#loader-wrapper").hide();
                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });
        }
    }


    //$(function () {
    //$('[data-toggle="tooltip"]').tooltip();
    //$("#efileids").hide();
    //var oTable1 =
    //$('#sample-table-2').dataTable({});
    //});
    $("#chkSelAll").click(function (e) {

        var status = $("#chkSelAll").prop('checked');
        var checkboxes = document.getElementsByClassName("chkp");

        if (status == true) {
            $('#efileids').html('');

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                    if (checkboxes[i].checked = true) {
                        AddToList(checkboxes[i].id, checkboxes[i].name)
                    }
                }
            }
        }
        else {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;

                }
            }
            $('#efileids').empty();
            $('#efileids').html('');

        }
    });
    function getefileid(ele) {

        $("#hdnefileid").val(ele);
    }
    function AddToList(chkid, efileattid) {


        var status = $('#' + chkid + '').is(':checked');
        if (status == true) {
            var eids = efileattid + ',';
            $('#efileids').append(eids);
        }
        else {

            var a = $('#efileids').html();
            var b = a.replace(efileattid + ',', " ");
            $('#efileids').empty();
            $('#efileids').append(b);
        }

    }
    function openModalMul(id, ele) {

        if (ele == 'M') {
            $("#chkrecv").hide();
            $("#divOR").hide();
            $("#btnRecvMul").show();
            $("#btnRecv").hide();
        }
        else {
            $("#chkrecv").show();
            $("#divOR").show();
            $("#btnRecvMul").hide();
            $("#btnRecv").show();
        }
        $("#divMsgBox").hide();

        var a = $('#efileids').html();

        if (a.toString().trim().length == 0) {
            var dlg = bootbox.alert("No Paper has been selected", function (e) {
                $(dlg).modal('hide');
            });
            return;
        }
        $("#hdnefileattid").val(a)
        $("#dlgRecipientGroupModel").modal('show')


    }
    function AttachToeFileMultiple() {

        $("#loader-wrapper").show();

        var Url = '@Url.Action("AttachPaperToeFileMultiple", "eFile", new { Area = "eFile" })';
        $.ajax({
            url: Url,
            type: 'POST',
            data: {
                eFileAttIds: $("#hdnefileattid").val(),
                eFielId: $("#hdnefileid").val()
            },
            success: function (data) {
                if (data) {
                    SendPaperList();
                    $("#loader-wrapper").hide();
                    var dlg = bootbox.alert(data, function (e) {
                        $(dlg).modal('hide');
                    });

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });

    }

    function SendPaper() {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/eFile/eFile/NewSendPaper",
            type: 'GET',
            data: {},
            success: function (data) {
                if (data) {

                    $('#resize-left').width('50%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '50%' }, 500);

                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            },
            complete: function (obj) {
                Initializefileupload();
                InitializefileuploadWord();
            }
        });

    }

</script>

<script type="text/javascript">
    function PopUpSendSMSDiv(FileId) {
        $("#hdnFileAttachmentId").val(FileId);
        $("#RefNo").hide();
        $("#RightMemberLists").empty();
        $("#LeftGroupLists").empty();
        $('#form-field-select-1').val('N');
        $('#dlgSendRecipientGroupModel').modal('show');
    }
    function getgroups(ele) {

        var grpval = $('#form-field-select-1 option:selected').val();

        var pathUrl;
        if (grpval == "N") {
            var dlg = bootbox.alert('Please Select Group', function (e) {
                $(dlg).modal('hide');
            });
            $('#LeftGroupLists').empty();
            return;

        }
        else if (grpval == "G") {
            pathUrl = "/Notices/OnlineMemberQuestions/GenericGroups";
        }
        var pathUrl =
		$.ajax({
		    type: "GET",
		    url: pathUrl,
		    data: {},

		    success: function (data) {
		        $("#LeftGroupLists").empty();
		        $("#LeftGroupLists").append(data);
		        $("#loader-wrapper").hide();
		        var checkboxes = document.getElementsByClassName("ace");
		        if (checkboxes.length > 0) {
		            $('#chkAllMembers').show();
		            $('#spnGroupmember').html('Select Recipients For SMS..');
		        }
		        else {
		            $('#chkAllMembers').hide();
		            $('#spnGroupmember').html('Select Recipients For SMS..');
		        }
		        $('#RightMemberLists').empty();
		        $('#RightMemberLists').html('');

		        $('#mailids').html('');
		        $('#divSelectedMembers').html('');
		        Count = 1;
		    }
		});
    }

    function GetmembetsDetPartial(Chkid, CHkvalue) {

        $('#chkAllMembers').prop("checked", false);
        var chkboxGroups = $("#" + Chkid).prop('checked');

        if (chkboxGroups == true) {
            $("#loader-wrapper").show();
            $.ajax({
                type: "GET",
                url: "/Notices/OnlineMemberQuestions/GetMembersPartial",
                data: { GroupID: CHkvalue },

                success: function (data) {
                    //$("#RightMemberLists").empty();
                    $("#RightMemberLists").append(data);
                    $("#loader-wrapper").hide();
                    var checkboxes = document.getElementsByClassName("ace");
                    if (checkboxes.length > 0) {
                        $('#chkAllMembers').show();
                        $('#spnGroupmember').html('Select Recipients For SMS..');
                    }
                    else {
                        $('#chkAllMembers').hide();
                        $('#spnGroupmember').html('Select Recipients For SMS..');
                    }
                }
            });
        }
        else {


            $("#RightMemberLists").empty();
            var checkboxes = document.getElementsByName("chkgroupbox");
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {

                    if (checkboxes[i].checked == true) {
                        GetmembetsDetPartial(checkboxes[i].id, checkboxes[i].value);
                    }
                }
            }
        }

    }


    function SendSmsToAllMembers() {
        //var a = $('#spnLeft').html();


        //if (a <= 0) {
        //    var dlg = bootbox.alert('Message Limit is Over.Please Conatct to Admin.', function (e) {
        //        $(dlg).modal('hide');
        //    });
        //    return;
        //}
        debugger;
        var mobilenos = $('#MobileNo').html();
        var mailids = $('#mailids').html();
        var FileAttachmentId = $("#hdnFileAttachmentId").val();
        $("#loader-wrapper").show();

        $.ajax({
            url: "/eFile/eFile/SendPubishedTourSMS",
            type: 'POST',
            data: JSON.stringify({
                MobileNos: mobilenos,
                FileAttachmentId: FileAttachmentId,
                EmailIds: mailids
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //GetSMSLimit();
                //GetSpentSSMS();

                $('#divSelectedMembers').html('');
                $('#RightMemberLists').html('');
                $('#mailids').html('');
                $('#MobileNo').html('');

                var radios = document.getElementsByName("form-field-radio");
                for (var i = 0; i < radios.length; i++) {
                    if (radios[i].type == 'radio') {
                        radios[i].checked = false;

                    }
                }

                var dlg = bootbox.alert(data, function (e) {
                    $(dlg).modal('hide');
                });

                $("#loader-wrapper").hide();

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
            },
            complete: function (obj) {
                $('#dlgSendRecipientGroupModel').modal('hide');
                SendPaperList();
            }
        });
    }

    function getmemberdata(id, name, Mobile, Email) {
        debugger;
        if (Count > 1000) {
            var dlg = bootbox.alert('Max. limit 1000.', function (e) {
                $(dlg).modal('hide');
            });
            return;
        }
        var n = name + ',';
        if (Mobile.trim().length > 0) {
            var Mobiles = Mobile + ',';
        }



        var IsValid = true;
        var ifExists = false;
        if ($('#' + id + '').is(':checked')) {

            IsValid = true;
            for (var i = 1; i <= Count; i++) {
                var value = $('#hdnNum-' + i).val();
                if (Mobile == value) {
                    ifExists = true;
                }
            }
        } else {
            IsValid = false;
        }
        //for (var i = 1; i <= Count; i++) {
        //	var value = $('#hdnNum-' + i).val();
        //	if (mailid == value) {
        //		IsValid = false;

        //	}
        //}
        if (ifExists == false) {
            if (IsValid == true) {
                if (Mobile.trim().length > 0) {
                    var a = ' <span class="tag" >' + name + '' +
					'<input type="hidden" id="hdnNum-' + Count + '" value="' + Mobile + '" class="hdnmembers" />' +
					'<button class="close" value="' + id + '" type="button" id="' + Mobile + '" title="Remove" >×</button>' +
					'</span> ';
                }
                if (document.getElementById(id).checked) {
                    $('#divSelectedMembers').append(a);
                    // adding mobiles
                    if (Email.trim().length > 0) {
                        $('#mailids').append(Email + ",");
                    }
                    $('#MobileNo').append(Mobiles);
                }
                Count++;
            }
            else {
                var a = $('#MobileNo').html();
                var b = a.replace(Mobile + ',', " ");
                $('#MobileNo').empty();
                $('#MobileNo').append(b);
                if (Email.trim().length > 0) {

                    var c = $('#mailids').html();
                    var d = c.replace(Email + ',', " ");
                    $('#mailids').empty();
                    $('#mailids').append(d);
                }
                $('#' + Mobile + '').parent().remove();
                Count--;
            }
        }
        //else{
        //	var a = $('#mailids').html();
        //	var b = a.replace(mailid + ',', " ");
        //	$('#mailids').empty();
        //	$('#mailids').append(b);

        //	$('#' + mailid + '').parent().remove();


        //	Count--;
        //}

        $('#MobileNo').hide();

    }
</script>
<!--Create Sale Counter Modal -->
<div class="modal" tabindex="-1" role="dialog" id="dlgSendRecipientGroupModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="label label-lg label-yellow arrowed-in arrowed-in-right" style="float: right;">

                    @*  <strong>
                        <i class="ace-icon fa fa-check"></i>
                        Monthly Message Limit <span class="badge badge-success" id="spnlimitsms"></span>. You have <span class="badge badge-warning" id="spnleftsms" style="display: none;"></span><span class="badge badge-warning" id="spnLeft"></span>SMS Left.
                    </strong>*@
                </div>
                <button type="button" class="close" data-dismiss="modal">

                    @*<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>*@

                </button>

                <h4 class="modal-title" id="SaleCounterModalTitle">
                    <span id="RefNo"></span>
                    Select Recipients</h4>
            </div>
            <form method="post" id="DebateInfoForm">

                <div class="modal-body">
                    <div class="col-xs-12 col-sm-5">
                        <div class="control-group">

                            <div class="">
                                <div style="padding-left: 0px;">
                                    <input type="hidden" id="hdnFileAttachmentId" name="hdnFileAttachmentId" />

                                    <select class="form-control" id="form-field-select-1" style="border-radius: 60px; font-size: 12px; height: 30px;" onchange="getgroups(this)">
                                        <option value="N">-Selec Group-</option>
                                        <option value="G">Generic</option>
                                        @*<option value="C">Constituency</option>
                                        <option value="P">Panchayat</option>
                                        <option value="O">Constituency Office</option>*@
                                    </select>

                                </div>
                                <div style="padding-left: 0px;">

                                    @* <input type="checkbox" id="chkAllGroups" value="Select ALL" />*@
                                    <label class="control-label bolder blue" for="name">
                                        Select All Groups</label>

                                </div>
                                <div id="LeftGroupLists" style="height: 150px; overflow-y: scroll;">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="canvasloader-containerMember" class="canvasloader" style="text-align: center"></div>
                    <div id="divDataContainerMember"></div>

                    <div class="col-xs-12 col-sm-7">
                        <div class="control-group">
                            <div class="checkbox">
                                <label class="control-label bolder blue" for="name">​<span id="spnGroupmember">Select Recipients For SMS...</span></label>

                                @*    <input type="checkbox" id="chkAllMembers" value="Select ALL" style="margin-left: .5%;" />*@

                                <div id="RightMemberLists" style="height: 178px; overflow-y: scroll;">
                                    Select Recipients For SMS...
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div id="canvasloader-containerSend" class="canvasloader" style="text-align: center"></div>
                    <div id="divDataContainerSend"></div>

                    <div class="control-group">
                        <div class="checkbox" style="display: none;">
                            <label class="control-label bolder blue" for="name">Selected Members (max limit 1000)</label>
                            <div id="divSelectedMembers" class="col-xs-3 tags" style="height: 45px; width: 98%; overflow-y: scroll;">
                            </div>
                            <div id="mailids" class="hdnmembers"></div>
                            <div id="MobileNo" class="hdnmembersMobile"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top: 20%">
                    <button type="button" id="UpdateDebateInfo" class="btn btn-primary" onclick="SendSmsToAllMembers()">
                        <i class="ace-icon fa fa-share align-top bigger-140"></i>
                        Send SMS</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="UncheckAllTour();">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
