﻿@model SBL.eLegistrator.HouseController.Web.Areas.eFile.Models.eFileViewModel
@{
    ViewBag.Title = "CreateeFile";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

<style type="text/css">
body{
    overflow:hidden;
}
    .breadcrumb {
        margin: 4px 34px 0 97%;
    }.footer {
        visibility:hidden;
    }
#flipbook{
    width:1300px;
    /*height:600px;*/
    top:15px;
    
    /*margin-left: 0px;
    background-image: url(../Content/img/pages-depth.png);
    box-shadow: 0 4px 10px #666;*/
}

/*#flipbook .page{
    width:800px;
    height:750px;
    background-color:white;
    /*line-height:300px;
    font-size:20px;
    text-align:center;
} */

#flipbook .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective:2000px;
    -ms-perspective:2000px;
    -o-perspective:2000px;
    perspective:2000px;
}

#flipbook .hard{
    background:#ccc !important;
    color:#333;
    /*-webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;*/
    font-weight:bold;
    box-shadow: 0 4px 10px #666;
}

#flipbook .odd{
    background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
    background-image:-webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    
}

#flipbook .even{
    background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
    background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:linear-gradient(left, #fff 95%, #dadada 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
}

#flipbook .shadow{
box-shadow: 0 -3px 17px #666;
}
 

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

 
/*#pagess {
    display: table;
    width: 100%;
    height: 100%;
}

#pagess {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}*/

#pagess {
    position: relative;
}

/* book */

.main-content {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main-content .page {
    height: 100%;
}

.main-content .page img {
    max-width: 100%;
    height: 100%;
}

</style>

<div class="main-content" style="margin-left: 28px;" >
           <ul class="breadcrumb">         
            <li>
                <a href="@Url.Action("eFileListAll", "eFile", new { Area="eFile",CommitteeId=Model.CommitteeId})" style="font-size:16px"><img src="~/Content/img/cancel-icon.png" style="width: 14px;" /> </a>
            </li>           
        </ul>

        <div class="page-content" >            

            <div id="flipbook">

                <div class="hard">
                    <div class="shadow">
                        @Html.Partial("_eFileBookDetailPartial")
                    </div>
                </div>

                <div class="hard">
                    <div class="shadow">@Html.Partial("_eFileBoard")</div>
                </div>

                <div style="background-color: gray;">
                    <div id="index" style="padding: 12px; font-weight: bold;"></div>
                    <div>
                        @Html.Partial("eFileIndex", Model.eFileAttachment)
                    </div>
                </div>
                <div>
                   
                </div>

                @foreach (var item in Model.eFileAttachment)
                {
                   <div id="pagess">
                         <object data="~/eFileAttachments/@item.eFileID/@item.eFileName" type="application/pdf" style="width: 84%;height: 100%;padding-top: 14%;overflow-x:scroll;"></object>
                   </div>
                }
               <div></div>
                @if(Model.eFileAttachment.Count>0){
                <div class="hard">@Html.Partial("_eFileBoard")</div>}
                <div class="hard">@Html.Partial("_eFileBoard")</div>
            </div>
            </div>
    </div>
<link href="styles/main.css" type="text/css" rel="stylesheet">
<script src="~/Scripts/jquery-1.7.min.js"></script>
<script type="text/javascript" src="~/lib/turn.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        window.scrollTo(0, 0);
    });

    $("#flipbook").turn({
        width: 1300,
        height: 750,
        //autoCenter: true

    });
    $("#flipbook").turn("page", 3);

    $(".Index").click(function () {
        $("#flipbook").turn("page", 4);
    })
    $("#pdfview").click(function () {
        $('#modalMsgPDFView').show();
        document.getElementById("overlay").className = "OverlayEffect";
        document.getElementById("modalMsgPDFView").className = "ShowModal";
    });
    function RemoveModal() {
        document.getElementById("overlay").className = "";
        $('#modalMsgPDFView').hide();
    }

    //praveen
    @*    Firstelement = $("<div></div>").html("<div>" +
      "<object data='@Url.Content("/eFileAttachments/ELEMENTARY EDUCATION_S_.pdf")' type='application/pdf' style='width:100%; height:700px'>" +
      "<p>It appears you don't have a PDF plugin for this browser." +
      "No biggie... you can <a href='myfile.pdf'>click here to" +
      "download the PDF file.</a></p>" +
      "</object>" +
      "</div>");



        Secondelement = $("<div></div>").html("Loading...");
        Thirdelement = $("<div></div>").html("Loading...");
        Fourthelement = $("<div class='hard'></div>").html("Loading...");
        Fifthelement = $("<div class='hard'></div>").html("Loading...");

        $("#flipbook").turn("addPage", Firstelement, 4);
        $("#flipbook").turn("addPage", Secondelement, 5);
        $("#flipbook").turn("addPage", Thirdelement, 6);
        $("#flipbook").turn("addPage", Fourthelement, 7);
        $("#flipbook").turn("addPage", Fifthelement, 8);*@



    (function () {
        'use strict';

        var module = {
            ratio: 1.38,
            init: function (id) {
                var me = this;

                // if older browser then don't run javascript
                if (document.addEventListener) {
                    this.el = document.getElementById(id);
                    this.resize();
                    this.plugins();

                    // on window resize, update the plugin size
                    window.addEventListener('resize', function (e) {
                        var size = me.resize();
                        $(me.el).turn('size', size.width, size.height);
                    });
                }
            },
            resize: function () {
                // reset the width and height to the css defaults
                this.el.style.width = '';
                this.el.style.height = '';

                var width = this.el.clientWidth,
                    height = Math.round(width / this.ratio),
                    padded = Math.round(document.body.clientHeight * 0.9);

                // if the height is too big for the window, constrain it
                if (height > padded) {
                    height = padded;
                    width = Math.round(height * this.ratio);
                }

                // set the width and height matching the aspect ratio
                this.el.style.width = width + 'px';
                this.el.style.height = height + 'px';

                return {
                    width: width,
                    height: height
                };
            },
            plugins: function () {
                // run the plugin
                $(this.el).turn({
                    gradients: true,
                    acceleration: true
                });
                // hide the body overflow
                document.body.className = 'hide-overflow';
            }
        };

        module.init('main-content');
    }());




</script>


