﻿@model SBL.DomainModel.Models.eFile.eFileListAll

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@Html.Action("LeftNavigationMenu", "SuperAdmin", new { Area = "SuperAdmin" })

<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />

@Html.Hidden("SessionCodeHome", null)
@Html.Hidden("AssemblyCodeHome", null)

@*@Html.Partial("_LeftNavigationMenu", Model)*@

<style>
	#resize-left {
		width: 50%;
		float: left;
	}

	.roundicon {
		padding: 0px 6px 1px 5px;
		line-height: 19px;
		font-size: 16px;
		border-radius: 100%;
		border: 1px solid;
		background-color: #1BAA4E;
		color: white;
	}

	/*Popup*/
	.ShowModal {
		top: 10%;
		left: 24%;
		z-index: 1000;
		position: absolute;
		background-color: White;
		display: block;
	}

	.HideModal {
		display: none;
	}

	.OverlayEffect {
		/*background-color: white;*/
		filter: alpha(opacity=40);
		opacity: 0.7;
		width: 100%;
		height: 100%;
		z-index: 400;
		position: absolute;
		top: 0;
		left: 0;
	}

	body {
		/*overflow:hidden;*/
	}
</style>

<!--popup view -->

<div id="modalMsg" style="width: 98.5%; height: 82.5%; border: 1px solid black; left: 12px; top: 2px; display: none; overflow: auto;"></div>
<div id="modalMsgAttachment" style="width: 62%; height: 52.5%; border: 1px solid black; display: none; overflow: auto;"></div>
<div id="sendNotice" style="width: 62%; height: 51.5%; border: 1px solid black; display: none; overflow: auto;"></div>

<div id="overlay"></div>

@*<div id="modalMsgPDFView" style="width: 54%;height: 75%;top: 6%;border: 1px solid black;left: 305px;" class="HideModal">
    <div style="padding: 0px 98% 0px 98%;"><a href="#"  onclick="RemoveModal()"><img src="~/Content/img/cancel-icon.png" style="width: 14px;" /></a> </div>
     <object data="~/eFileAttachments/ELEMENTARY EDUCATION_S_.pdf" type="application/pdf" style="width:100%; height:95%">

      <p>It appears you don't have a PDF plugin for this browser.
      No biggie... you can <a href="myfile.pdf">click here to
      download the PDF file.</a></p>
     </object>
</div>*@

<div class="main-content" id="testId">

	<div class="breadcrumbs" id="breadcrumbs">

		<ul class="breadcrumb">
			<li class="active"><i class="ace-icon fa fa-users"></i>@Resources.MasterDataDashboard.Committee</li>
			<li>
				<i class="menu-icon fa fa-list"></i><a href="@Url.Action("eFileListAll", "eFile")">e-File List</a>
			</li>
		</ul>
	</div>
	<div class="page-content">
		<div class="page-header">
			<h1>eFile
                <small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					eFiles
				</small>
			</h1>
		</div>
		<div class="row">
			<div id="outerDiv">
			</div>
			<div class="col-xs-12" style="padding: 0px">
				<div id="two-column" class="">

					<div id="resize-left" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 20px;">

						<div id="divLeftContainer" style="position: absolute; top: 0; height: 20px; width: 100%; display: block;">
							<div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
							<div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
								<i onclick="resizeClick(1)" class="ace-icon fa fa-angle-double-left roundicon"></i>
							</div>
						</div>

						<div class="row-fluid">
							<div class="span12" style="padding: 10px;">
								<div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
								<div class="col-xs-12" style="padding: 0px">
									<div id="divDataContainer">

										<div style="padding: 9px 0px 27px 0px;">

											<table style="width: 100%; border: 1px solid rgb(250, 245, 245); border-spacing: 4px; border-collapse: separate;">
												<tr>
													<td>Committee : </td>
													<td colspan="3">@Html.DropDownList("CommitteeId", (IEnumerable<SelectListItem>)ViewBag.CommitteeList, "-Select Committee-", new { style = "width: 100%;" })</td>
													@*<td colspan="3">@Html.DropDownList("deptId", (IEnumerable<SelectListItem>)ViewBag.Departments, "---Department----", new { style = "width: 100%;" })</td>*@
												</tr>
												@*  <tr>

                                <td>eFile No</td>
                                <td>
                                    <input type="text" id="txteFileNo" class="col-xs-10 col-sm-9" style="width: 100%;" /></td>
                            </tr>*@

												@* <tr>
                                                    <td>Subject</td>
                                                    <td colspan="3">
                                                        <input type="text" id="txteFileSubject" class="col-xs-10 col-sm-9" style="width: 100%;" /></td>
                                                </tr>
                                                <tr>
                                                    <td>Status</td>
                                                    <td>
                                                        <select id="FileStatus" style="width: 100%;">
                                                            <option value="1">Open</option>
                                                            <option value="0">Close</option>
                                                        </select></td>
                                                    <td>eFile No</td>
                                                    <td>
                                                        <input type="text" id="txteFileNo" class="col-xs-10 col-sm-9" style="width: 100%;" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4" style="text-align: right;">
                                                        <button id="GeteFileSearchResult" class="btn btn-xs btn-primary btn-bold">
                                                            <i class="ace-icon fa fa-search bigger-150"></i>
                                                            <span class="bigger-110">Search</span>
                                                        </button>
                                                    </td>
                                                </tr>*@
											</table>
										</div>
										<div id="diveFileList"></div>

										@* @if (Model.eFileLists != null)
                                        {
                                            if (Model.eFileLists.Count > 0)
                                            {
                                            @Html.Partial("_eFileListView", Model.eFileLists, new ViewDataDictionary { {"eFileID", ViewBag.eFileID},{"CommitteeId", ViewBag.CommitteeId}} )
                                            }
    else
    {
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="alert alert-info">

                                                        <strong>No eFiles found!</strong><br />
                                                    </div>
                                                </div>
                                            </div>
                        }

}*@
									</div>
								</div>
							</div>
						</div>
					</div>

					<div id="resize-right" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 21px;">

						<div id="divRightContainer" style="position: absolute; top: 0; height: 21px; width: 100%; display: block;">
							<div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
							<div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
								<i data-icon2="ace-icon fa fa-angle-double-right" onclick="resizeClick(0)" data-icon1="ace-icon fa fa-angle-double-left" class="ace-icon fa fa-angle-double-right roundicon"></i>
							</div>
						</div>

						<div class="row-fluid" style="overflow: hidden">
							<div class="span12">
								<div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>
								<div>

									<div id="RightSidebar" style="width: 100%">
									</div>
									<div id="FormPart" style="width: 100%; height: 100%">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@*<script src="~/Scripts/jquery-1.7.min.js"></script>
<script type="text/javascript" src="~/lib/turn.js"></script>*@
<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="~/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="~/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
<script src="~/Scripts/tinymce/tiny_mce.js"></script>

<script type="text/javascript">

	//eFile search
    @*function GeteFileSearch() {
        $("#loader-wrapper").show();
        var searchData = { Department: $("#deptId").val(), eFileNo: $("#txteFileNo").val(), Subject: $("#txteFileSubject").val() };
        $.ajax({
            type: 'GET',
            data: JSON.stringify(searchData),
            url: "@Url.Action("GeteFileSearch", "eFile", new { Area = "eFile" })?Department=" + $("#deptId").val() + "&eFileNo=" + $("#txteFileNo").val() + "&Subject=" + $("#txteFileSubject").val() + "&CommitteeId="+"@ViewBag.CommitteeId"+"&Status="+$("#FileStatus").val(),
            dataType: "html",
            contentType: "application/json",
            success: function (data) {
                $(".pass-table").html(data);
                $("#loader-wrapper").hide();
            }
        });
    }*@

	function ClearControls() {
		$("#RightSidebar").html('');
	}

	function hideLeftPanel() {
		$('#resize-left').width(0);
		$('#resize-right').width(100 + '%')

	}
	function hideLeftPanelAnimate() {
		resizeLeftPanel(0);
	}
	function hideRightPanel() {
		$('#resize-left').width(100 + '%');
		$('#resize-right').width(0)
	}

	function hideRightPanelAnimate() {
		resizeLeftPanel(100);
	}

	function resizeClick(isLeft) {
		var parentWidth = $('#resize-left').parent().outerWidth();
		if (isLeft) { // click on left rezise button
			if ($('#resize-left').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
			else { resizeLeftPanel(0); }
		} else {
			if ($('#resize-right').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
			else { resizeLeftPanel(100); }
		}

	}

	function resizeLeftPanel(sizeRatio) {
		var parentWidth = $('#resize-left').parent().width();
		$('#resize-left').animate({ width: +(sizeRatio) + '%' }, 500);
		$('#resize-right').animate({ width: +(100 - sizeRatio) + '%' }, 500);
		$("#CommonGrid").setGridWidth($('.col-xs-12').width());
	}

	$(function () {

		$('#sidebar-collapse').on('click', function () {
			var parentWidth = $('#resize-left').parent().width();
			if ($('#sidebar').hasClass('menu-min')) {
				parentWidth = parentWidth - 179;
			} else { parentWidth = parentWidth + 175; }

			var remainingSpace = parentWidth - $('#resize-left').outerWidth();
			var divTwo = $('#resize-left').next();
			var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
			divTwo.css('width', divTwoWidth + 'px');

			//alert("ds");
			setTimeout(function () {
				$("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
			}, 50);
		});

		$("#resize-left").resizable({
			handles: 'e',
			minWidth: '350',
			maxWidth: '1100',
			/*    grid: [ 20, 10 ], */
			resize: function () {
				var remainingSpace = $(this).parent().width() - $(this).outerWidth();
				var divTwo = $(this).next();
				var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
				divTwo.css('width', (divTwoWidth - 20) + 'px');

				$("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
			}

		});
	});
	function resizeLeftPanel(sizeRatio) {
		var parentWidth = $('#resize-left').parent().width();
		var sidebarWidth = parseInt((parentWidth * sizeRatio) / 100);
		var left_width = $('#resize-left').outerWidth();
		if (sidebarWidth > left_width) {

			$('#resize-left').animate({ width: '+=' + (sidebarWidth - left_width) + 'px' }, 700);
			$('#resize-right').animate({ width: '-=' + (sidebarWidth - left_width) + 'px' }, 700);

		} else {

			$('#resize-left').animate({ width: '-=' + (left_width - sidebarWidth) + 'px' }, 700);
			$('#resize-right').animate({ width: '+=' + (left_width - sidebarWidth) + 'px' }, 700);

		}

		$("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());

	}

	$('#CommitteeId').change(function () {
		GeteFileListDetails($('#CommitteeId').val())
	});

	function GeteFileListDetails(commID) {

		$("#loader-wrapper").show();

		var urlPath = '@Url.Action("GetfFileListDetails", "eFile", new { Area = "eFile" })';
    	$.ajax({
    		url: urlPath,
    		type: 'GET',
    		data: { CommitteeId: commID },
    		success: function (data) {
    			if (data) {
    				$("#diveFileList").html(data);
    				$('#RightSidebar').html('');
    				$('#FormPart').html('');
    				$("#loader-wrapper").hide();

    			} else { alert("error"); }
    		},
    		error: function (xhr, ajaxOptions, thrownError) {
    			alert(xhr.responseText);
    			alert(thrownError);
    		}
    	});

	}


</script>