﻿@using SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models
@model  SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models.EstablishBillViewModel

<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }
</style>
<link href="~/assets/css/datepicker.css" rel="stylesheet" />


<div class="page-content">
    <!-- #section:settings.box -->

    <div id="Menu">
        <div class="row">
            <div class="col-xs-12">
                @*<div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
                    <button class="btn  btn-sm btn-info" onclick="PopulateEstablishBill('0', 'Add'); ">
                        <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                        <span class="bigger-110">@Resources.MasterDataDashboard.New</span>
                    </button>
                </div>
                <br />
                
                <br />*@<br />
                <section class="container">
                    <div class="row">
                        <div class="col-xs-4">
                            <label class=" control-label  " for="Language">Select Bill Type</label>
                            @Html.DropDownList("SearchBillType", (SelectList)ViewBag.BillTypeList, "--Select Bill Type--", new { @class = " RemoveDdlBorder" })

                        </div>
                        <div class="col-xs-4">
                            <label style="float: left; padding: 5px;" class=" control-label  " for="Frequency">Select Budget Head</label>
                            @Html.DropDownList("SearchBudgetHead", (SelectList)ViewBag.BudgetList, "--Select Budget Head--", new { @class = "col-md-6 RemoveDdlBorder" })

                        </div>
                        <div class="col-xs-4">
                            <label style="float: left; padding: 5px;" class=" control-label  " for="EndDateFrom">Sanction Date From</label>
                            <input class=" active date-picker col-md-5" type="text" name="SearchSanctionDateFrom" id="SearchSanctionDateFrom">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <label style="float: left; padding: 5px;" class=" control-label  " for="EndDateTo">Sanction Date To</label>
                            <input class=" active date-picker" type="text" name="SearchSanctionDateTo" id="SearchSanctionDateTo">
                        </div>
                        <div class="col-xs-4">
                            <label style="float: left; padding: 5px;" class=" control-label  " for="SanctionNumber">Sanction Number</label>
                            <input type="text" id="SearchSanctionNumber" name="SearchSanctionNumber" />

                        </div>
                        <div class="col-xs-4">
                            <div class="form-group ">
                                <button class="btn btn-sm btn-primary btn-bold " id="btnSearch" onclick="SerachData();">
                                    <i class="ace-icon fa fa-search bigger-150"></i>
                                    <span class="bigger-110">Search</span>
                                </button>
                            </div>
                        </div>
                    </div>

                </section>
                <div class="table-responsive ">





                    <!-- PAGE CONTENT BEGINS -->
                    <div class="alert alert-block alert-danger" id="SearchAlertDiv" style="display: none;">
                        <strong><i class="ace-icon fa fa-check-square-o"></i>Error! </strong><span id="MsgSpan">Please select at least one field </span>
                    </div>
                    <br />
                    <div class=" widget-box widget-color-orange  collapsed ui-sortable-handle">
                        <div class=" widget-header widget-header-small">
                            <div class="col-md-8">
                                <label>Display</label>
                                <select size="1" name="PageSize-tblEstablishBillList" id="PazeSize-tblEstablishBillList" onchange="GetDataList(1)">
                                    <option value="10" selected="selected">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                <label>Records</label>
                            </div>
                            <div class="col-md-4">
                                <input autocomplete="off" class="col-xs-10 col-sm-12  pull-right" id="txtSearch" name="txtSearch" onkeyup="SearchDataList(this);" placeholder="Search..." type="text">
                            </div>
                        </div>
                    </div>
                    <div id="dataDiv-tblEstablishBillList">
                        @{Html.RenderPartial("~/Areas/AccountsAdmin/Views/BillReport/_BillList.cshtml", Model);}
                    </div>

                    <!-- /.col -->
                </div>
            </div>
            <!-- /.row -->
        </div>


    </div>
    <!-- /.page-content -->
</div>



<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<script>
    $(document).ready(function () {

        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "mm/dd/yyyy",
            defaultDate: new Date()
        });
        $("#PazeSize-tblEstablishBillList").val(@Model.Pagination.PageSize)
        $('.RemoveBorder').keypress(function () {
            var Id = this.id;
            $("#" + Id).next().hide();
            $("#" + Id).css("border", "1px solid green");
        });

        $('.RemoveDdlBorder').change(function () {

            var Id = this.id;
            if ($("#" + Id).val() != '') {
                $("#" + Id).next().hide();
                $("#" + Id).css("border", "1px solid green");
            }
            else {
                $("#" + Id).after("<span class='ErrorMessage'>Required</span>");
                $("#" + Id).css("border", "1px solid red");
            }

        });

        $('.date-picker').datepicker({ autoclose: true }).on('changeDate', function (ev) {

            var Id = this.id;
            if ($("#" + Id).val() != '') {
                $("#" + Id).next().hide();
                $("#" + Id).css("border", "1px solid green");
            }
            else {
                $("#" + Id).after("<span class='ErrorMessage'> Date is  Required</span>");
                $("#" + Id).css("border", "1px solid red");
            }
        });
    });

    function GetDataList(pageId) {
        var TableId = $("#TableId").val();
        var PageSize = $("#PazeSize-" + TableId).val();
        var SortCoulmnName = $("#SortCoulmnName-" + TableId).val();
        var SortOrder = $("#SortOrder-" + TableId).val();
        var SortOrderingClass = $("#SortOrderingClass-" + TableId).val();
        var SearchWord = $("#SearchWord-" + TableId).val();

        $.ajax({
            type: "POST",
            url: '/BillReport/DataTablePagination',
            data: '{ pageId: "' + pageId + '",pageSize: "' + PageSize + '" ,SortCoulmnName: "' + SortCoulmnName + '",SortOrder: "' + SortOrder + '",SortOrderingClass: "' + SortOrderingClass + '",FunctionType:"Paging",TableId:"' + TableId + '",SearchWord:"' + SearchWord + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#dataDiv-' + TableId).empty();
                $('#dataDiv-' + TableId).append(result);
            },
            error: function (error) {
                $('#dataDiv-' + TableId).empty();
                $('#dataDiv-' + TableId).append(error.responseText);

            },
            complete: function (results) {
                $('#loader-wrapper').hide();
            }
        });
    }

  
    function SerachData() {

        var BillType = $('#SearchBillType').val();
        var BudgetHead = $('#SearchBudgetHead').val();
        var SanctionDateFrom = $('#SearchSanctionDateFrom').val();
        var SanctionDateTo = $('#SearchSanctionDateTo').val();
        var SanctionNumber = $('#SearchSanctionNumber').val();


        $('#AlertDiv').hide();
        $('.ErrorMessage').remove('');
        var IsValid = true;

        if (BillType == '' && BudgetHead == '' && SanctionDateFrom == '' && SanctionDateTo == '' && SanctionNumber == '') {
            $('#SearchAlertDiv').css("border", "1px solid red");
            $('#SearchAlertDiv').show();
            IsValid = false;
        }
        else {
            $('#SearchAlertDiv').hide();
        }


        if (SanctionDateFrom == '' && SanctionDateTo != '') {
            $('#SearchSanctionDateFrom').css("border", "1px solid red");
            $('#SearchSanctionDateFrom').after("<span class='ErrorMessage'><br> Please Fill it</span>");

            IsValid = false;
        }
        if (SanctionDateTo == '' && SanctionDateFrom != '') {
            $('#SearchSanctionDateTo').css("border", "1px solid red");
            $('#SearchSanctionDateTo').after("<span class='ErrorMessage'><br> Please Fill it</span>");

            IsValid = false;
        }


        if ($('#SearchSanctionDateTo').val().trim() != '' && $('#SearchSanctionDateFrom').val().trim() != '') {
            if (Date.parse($('#SearchSanctionDateFrom').val().trim()) > Date.parse($('#SearchSanctionDateTo').val().trim())) {
                $('#SearchSanctionDateTo').css("border", "1px solid red");
                $('#SearchSanctionDateTo').after("<span class='ErrorMessage'><br> Sanction Date To must be greate than Bill Period From </span>");
                IsValid = false;
            }
        }


        if (IsValid == true) {
            $.ajax({
                type: "POST",
                url: '/AccountsAdmin/BillReport/SerachEstablishBill',
                data: '{ BillType: "' + BillType + '",BudgetHead: "' + BudgetHead + '", SanctionDateFrom: "' + SanctionDateFrom + '",SanctionDateTo: "' + SanctionDateTo + '",SanctionNumber:"' + SanctionNumber + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#dataDiv-tblEstablishBillList').empty();
                    $('#dataDiv-tblEstablishBillList').append(result);

                },
                error: function (error) {
                    $('#dataDiv-tblEstablishBillList').empty();
                    $('#dataDiv-tblEstablishBillList').append(error.responseText);

                },
                complete: function (results) {
                    $('#loader-wrapper').hide();

                }
            });
        }
    }

  
    function ShowVoucherBillList(EstablishBillID) {
        $.ajax({
            type: "POST",
            url: '/BillReport/ShowVoucherBillList',
            data: '{ EstablishBillID: "' + EstablishBillID + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#VouvherBillListDiv').empty();
                $('#VouvherBillListDiv').append(result);
                $('#VouvherBillListModel').modal('show');
            },
            error: function (error) {
                $('#VouvherBillListDiv').empty();
                $('#VouvherBillListDiv').append(error.responseText);
                $('#VouvherBillListModel').modal('show');

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }

    function DataTablePagination(SortCoulmnName, SortOrder, SearchWord, FunctionType, TableId) {
        var PageSize = $("#PazeSize").val();
        var SortOrder = $("#SortOrder").val();
        var SortOrderingClass = $("#SortOrderingClass").val();
        var SortCoulmnName = $("#SortCoulmnName").val();
        var SearchWord = SearchWord.value;

        $.ajax({
            type: "POST",
            url: '/BillReport/DataTablePagination',
            data: '{PageId:"1",PageSize:"' + PageSize + '", SortCoulmnName: "' + SortCoulmnName + '",SortOrder: "' + SortOrder + '",SortOrderingClass:"' + SortOrderingClass + '",SearchWord:"' + SearchWord + '",FunctionType:"' + FunctionType + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainerEstablishBill').empty();
                $('#divDataContainerEstablishBill').append(result);
            },
            error: function (error) {
                $('#divDataContainerEstablishBill').empty();
                $('#divDataContainerEstablishBill').append(error.responseText);

            },
            complete: function (results) {
                $('#loader-wrapper').hide();
            }
        });

    }

  
</script>


<!--Create Item Subscription Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="EstablishBillModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="EstablishBillTitle">Establish Bill </h4>
            </div>
            <form method="post" action="/SchemeSetup/SaveQualification" id="EstablishBillForm">
                <div class="modal-body">
                    <div id="EstablishBillDiv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="UpdateEstablishBill" onclick="SaveEstablishBill()" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Show Voucher List -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="VouvherBillListModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="VouvherBillListTitle">Voucher Bill List </h4>
            </div>
            <form method="post" action="/SchemeSetup/SaveQualification" id="VouvherBillListForm">
                <div class="modal-body">
                    <div id="VouvherBillListDiv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @* <button type="button" id="VouvherBillListDivBill" onclick="SaveEstablishBill()" class="btn btn-primary">Save changes</button>*@
                </div>
            </form>
        </div>
    </div>
</div>

