body, td, pre {
    color: #000;
    font-family: DVOT-Yogesh;
    font-size: 20px;
    margin: 8px;
    text-align: justify;
}

body {
    background: #FFF;
}

    body.mceForceColors {
        background: #FFF;
        color: #000;
    }

    body.mceBrowserDefaults {
        background: transparent;
        color: inherit;
        font-size: inherit;
        font-family: inherit;
    }

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .75em;
}

.mceItemTable, .mceItemTable td, .mceItemTable th, .mceItemTable caption, .mceItemVisualAid {
    border: 1px dashed #BBB;
}

a.mceItemAnchor {
    display: inline-block;
    -webkit-user-select: all;
    -webkit-user-modify: read-only;
    -moz-user-select: all;
    -moz-user-modify: read-only;
    width: 11px !important;
    height: 11px !important;
    background: url(img/items.gif) no-repeat center center;
}

span.mceItemNbsp {
    background: #DDD;
}

td.mceSelected, th.mceSelected {
    background-color: #3399ff !important;
}

img {
    border: 0;
}

table, img, hr, .mceItemAnchor {
    cursor: default;
}

    table td, table th {
        cursor: text;
    }

ins {
    border-bottom: 1px solid green;
    text-decoration: none;
    color: green;
}

del {
    color: red;
    text-decoration: line-through;
}

cite {
    border-bottom: 1px dashed blue;
}

acronym {
    border-bottom: 1px dotted #CCC;
    cursor: help;
}

abbr {
    border-bottom: 1px dashed #CCC;
    cursor: help;
}

/* IE */
* html body {
    scrollbar-3dlight-color: #F0F0EE;
    scrollbar-arrow-color: #676662;
    scrollbar-base-color: #F0F0EE;
    scrollbar-darkshadow-color: #DDD;
    scrollbar-face-color: #E0E0DD;
    scrollbar-highlight-color: #F0F0EE;
    scrollbar-shadow-color: #F0F0EE;
    scrollbar-track-color: #F5F5F5;
}

img:-moz-broken {
    -moz-force-broken-image-icon: 1;
    width: 24px;
    height: 24px;
}

font[face=mceinline] {
    font-family: inherit !important;
}

*[contentEditable]:focus {
    outline: 0;
}

.mceItemMedia {
    border: 1px dotted #cc0000;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffcc;
}

.mceItemShockWave {
    background-image: url(../../img/shockwave.gif);
}

.mceItemFlash {
    background-image: url(../../img/flash.gif);
}

.mceItemQuickTime {
    background-image: url(../../img/quicktime.gif);
}

.mceItemWindowsMedia {
    background-image: url(../../img/windowsmedia.gif);
}

.mceItemRealMedia {
    background-image: url(../../img/realmedia.gif);
}

.mceItemVideo {
    background-image: url(../../img/video.gif);
}

.mceItemAudio {
    background-image: url(../../img/video.gif);
}

.mceItemEmbeddedAudio {
    background-image: url(../../img/video.gif);
}

.mceItemIframe {
    background-image: url(../../img/iframe.gif);
}

.mcePageBreak {
    display: block;
    border: 0;
    width: 100%;
    height: 12px;
    border-top: 1px dotted #ccc;
    margin-top: 15px;
    background: #fff url(../../img/pagebreak.gif) no-repeat center top;
}
