﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV

<div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px; border: 1px solid #C5C5C5; border: 1px solid #C5C5C5;">
        BillSent >> Bill Sent Details
    </div>
<div style="border: 1px solid grey; padding: 5px 0px 10px 5px;">
     @if (Model.PaperLaidId == null || Model.PaperLaidId == 0)
     {
     }
     else
     {
        @Html.Hidden("PaperLaidFullRecord", @Model.PaperLaidId)
        <input type="submit" name="Draft" id="replacement" value="Replace Bill Paper" onclick="return GetSubmittedPaperLaidByID();" />
     }
    </div>

<div style="border: 1px solid grey;">
    @Html.Hidden("PaperLaidIdFullRecord", @Model.PaperLaidId)
    <table style="margin-left: 20px; width: 96%">
@*        <tr style="margin-top: 10px" class="border-Down">
            <td style="width: 150px"><strong>@Resources.PaperLaidDepartment.CategoryName
            </strong>
            </td>
            <td>
                    @Model.EventName
            </td>
        </tr>*@
        <tr class="border-Down">
            <td  class="tr-border-right">
                <strong>Bill Number
                </strong>

            </td>
            <td>
                    @Model.BillNUmberValue of @Model.BillNumberYear
            </td>

        </tr>
        <tr class="border-Down">
            <td class="tr-border-right">
                <strong>@Resources.PaperLaidDepartment.Minister
                </strong>

            </td>
            <td>
                    @Model.MinistryName
            </td>

        </tr>
        <tr class="border-Down">
            <td class="tr-border-right">
                <strong>@Resources.PaperLaidDepartment.Department
                </strong>
            </td>
            <td>
                    @Model.DeparmentName
            </td>
        </tr>
        <tr class="border-Down">
            <td class="tr-border-right">
                <strong>@Resources.PaperLaidDepartment.DesiredDateToLaid
                </strong>
            </td>
            <td style="width: 520px">
                    @Model.DesireLayingDate
            </td>
        </tr>
        <tr class="border-Down">
            <td class="tr-border-right">
                <strong>@Resources.PaperLaidDepartment.PaperType
                </strong>
            </td>
            <td>
                    Bill
            </td>
        </tr>
        <tr class="border-Down">
            <td class="tr-border-right">
                <strong>@Resources.PaperLaidDepartment.Title
                </strong>
            </td>
            <td> 
                  @Html.Raw(@Model.Title)
            </td>
        </tr>
        <tr class="border-Down">
            <td class="tr-border-right">
                <strong>@Resources.PaperLaidDepartment.Description
                </strong>

            </td>
            <td style="width: 520px">
                    @Html.Raw(@Model.Description)
            </td>
        </tr>
        <tr class="border-Down">
            <td class="tr-border-right">
                <strong>@Resources.PaperLaidDepartment.ProvisionUnderWhich
                </strong>

            </td>
            <td>
                @Html.Raw(@Model.ProvisionUnderWhich)
            </td>

        </tr>
        <tr class="border-Down">
            <td class="tr-border-right">
                <strong>@Resources.PaperLaidDepartment.Remark
                </strong>

            </td>
            <td>
                    @Html.Raw(@Model.Remark)
            </td>

        </tr>
        <tr class="border-Down">
            <td class="tr-border-right">
                <strong>@Resources.PaperLaidDepartment.PaperToBeLaid
                </strong>
            </td>
            <td>                    
                <a href="@Model.actualFilePath" target="_blank" >@Model.FileName</a>            
            </td>
        </tr>
       
            <tr class="border-Down">
                <td class="tr-border-right">
                    <strong>@Resources.PaperLaidDepartment.DeptSubmittedDate
                    </strong>
                </td>
                <td>
                        @Model.DepartmentSubmitDate
                </td>
            </tr>
       
    </table>
</div>

<script>
    function GetSubmittedPaperLaidByID() {
       // $("#RightSideDiv").html('')
        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();

        var value = $('#PaperLaidFullRecord').val();
        $.ajax({
            url: "/PaperLaidDepartment/Billpaperlaid/GetBillSentByID",
            type: 'GET',
            data: {
                paperLaidId: value
            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").empty();
                    $("#RightSidebar").html(data);
                    cl2.hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }


    function ReplaceDetails() {
        var value = $('#PaperLaidFullRecord').val();
        //alert("PaperLaid Id : " + value)

        $.ajax({
            url: "/PaperLaidDepartment/Billpaperlaid/ShowPaperLaidDetailByID",
            type: 'GET',
            data: {
                paperLaidId: value
            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data)
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    //function EditDetails() {
    //    var value = $('#PaperLaidIdFullRecord').val();
    //    var id = $('#SessionCodeHome').val();
    //    alert("Paper Laid Id : " + value)
    //    $.ajax({
    //        url: "/PaperLaidDepartment/PaperLaidDepartment/EditPendingRecord",
    //        type: 'GET',
    //        data: {
    //            paperLaidId: value,
    //            SessionId: id
    //        },
    //        success: function (data) {
    //            if (data) {
    //                $("#RightSidebar").html(data);
    //            } else { alert("error"); }
    //        },
    //        error: function (xhr, ajaxOptions, thrownError) {
    //            alert(xhr.responseText);
    //            alert(thrownError);
    //        }
    //    });
    //}
</script>
