﻿@model SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models.EstablishBillViewModel



<div>
    <a href="javascript:void();" onclick="$('#CommentDiv-@Model.mEstablishBill.EstablishBillID').slideToggle();">
        <span class="badge badge-important">Comments</span>
    </a>
    <br />
    <div class="col-md-11" id="CommentDiv-@Model.mEstablishBill.EstablishBillID" style="border: 1px dotted pink;  z-index:10000; display: none;background-color:white;margin:2px; ">
        <input type="hidden" id="RowValue-@Model.mEstablishBill.EstablishBillID" value="@ViewBag.RowNumber" />
        <div style="max-height: 200px; margin-bottom: 10px; overflow: auto;">
            <ul style="list-style: none; margin: 0px; padding: 0px;">
                @if (Model.Comments != null && Model.Comments.Count() > 0)
                {
                    foreach (var item in Model.Comments)
                    {
                    <li style="border: 1px solid lightGreen; margin: 2px;">
                        <span class="blue bigger-110 "> @item.Comments</span>
                        <label style="width:100%;">
                            <small class="mehroon" ><b>Comment By: @item.UserName</b></small>
                        </label>
                    </li>
                    }
                }
            </ul>
        </div>

        <div style="padding-bottom: 5px;">
            <textarea placeholder="Type your comments here ..." class="form-control col-md-12" id="txtComments-@Model.mEstablishBill.EstablishBillID" style="width: 100%;" name="Comments"></textarea>

            <br />
            <span>
                <button class="btn btn-sm btn-info no-radius SaveComments" id="btnSaveComments-@Model.mEstablishBill.EstablishBillID" onclick="SaveCommentsForSanction(@Model.mEstablishBill.EstablishBillID)" type="button" >
                    <i class="ace-icon fa fa-share"></i>
                    Send
                </button>
            </span>

        </div>
        <!-- /.widget-main -->

    </div>
</div>


<!-- /.col -->
<script type="text/javascript">

    //  $(document).on('click', '.SaveComments', function () {
    function SaveCommentsForSanction(EstablishID) {
        //$('.SaveComments').click(function () {
        debugger;
     //   var EstablishId = this.id.split("-")[1];
        var EstablishId = EstablishID;
        $('.ErrorMessage').remove('');

        var IsValid = true;
        var textId = "#txtComments-" + EstablishId + "";
        var Comments = $(textId).val();
        var RownNum = $("#RowValue-" + EstablishId + "").val();


        if (Comments == '') {
            $(textId).css("border", "1px solid red");
            $(textId).after("<span class='ErrorMessage'> Comments Required</span>");
            IsValid = false;
        }

        if (IsValid == true) {
            $.ajax({
                type: "POST",
                url: '/EstablishBill/SaveComentsForSanction',
                data: '{ Comments: "' + Comments + '",ParantName: "EstablishBill",ParentId: "' + EstablishId + '",RowNumber:"' + RownNum + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {

                    $('#loader-wrapper').show();
                },
                success: function (result) {

                    $('#MainCommentsDiv-' + RownNum + '').empty();
                    $('#MainCommentsDiv-' + RownNum + '').append(result);
                },
                error: function (error) {

                    $('#MainCommentsDiv-' + RownNum + '').empty();
                    $('#MainCommentsDiv-' + RownNum + '').append(error.responseText);

                },
                complete: function (results) {

                    $('#loader-wrapper').hide();
                    $('#CommentDiv-' + EstablishId + '').hide();

                }
            });
        }
    }

   

</script>
