﻿@model SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models.EstablishBillViewModel


@{  int count = 0;
    decimal TotalGrossAmount = 0;
    decimal TotalDeduction = 0;
    decimal TotalSactionAmount = 0;
    if (ViewBag.CurrentPage > 1)
    {

        count = (ViewBag.PageSize * (ViewBag.CurrentPage - 1));
    }
}
<div class="table-header">
    <div class="form-group">
        @if (ViewBag.Msg != null)
        {
            <div class="@ViewBag.Class" id="VoucherMsgDiv">
                <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
                <strong><i class="ace-icon fa fa-check-square-o"></i>@ViewBag.Notification ! </strong>@ViewBag.Msg
            </div>
        }
    </div>
</div>
@if (Model.ReimbursementBillList != null && Model.ReimbursementBillList.Count() > 0)
{
    <table class="table  table-bordered  dataTable" id="tblVoucherList" aria-describedby="sample-table-2_info">
        <thead>
            <tr role="row">
                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>
                @*<th>
                    <input name="ChbIncludingBill" onclick="SelectAllChb(this);" type="checkbox" class="">
                </th>*@
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Voucher No.</th>
                @*<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Bill Type</th>*@
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Claimant Name </th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Gross Amount</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Deduction</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Sanction Amount</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Action</th>
            </tr>
        </thead>
        <tbody role="alert" aria-live="polite" aria-relevant="all">
            @foreach (var item in Model.ReimbursementBillList)
            {
                count = count + 1;
                TotalSactionAmount = TotalSactionAmount + item.SactionAmount;
                TotalGrossAmount = TotalGrossAmount + item.GrossAmount;
                TotalDeduction = TotalDeduction + item.Deduction;
                <tr>
                    <td class="center">
                        <input type="hidden" name="VoucherRowCount" value="@count" />
                        <input type="hidden" name="ReimbursementBillID-@count" value="@item.ReimbursementBillID" />
                        @count
                    </td>
                    <td style="width: 10%">@item.ReimbursementBillID</td>
                    <td>
                        @item.ClaimantName
                    </td>
                    <td style="width: 20%">
                        <span id="spnShowGrossAmount-@item.ReimbursementBillID"><i class="ace-icon fa fa-rupee blue"></i>@item.GrossAmount</span>
                        <span style="display: none;" id="spntxtGrossAmount-@item.ReimbursementBillID">
                            <input type="text" class="classGrossAmount" value="@item.GrossAmount" id="txtGrossAmount-@item.ReimbursementBillID"  />
                        </span>

                    </td>
                    <td style="width: 20%">
                        <i class="ace-icon fa fa-rupee blue"></i>@item.Deduction
                    </td>
                    
                    <td style="width: 10%">
                        <span id="spnShowSactionAmount-@item.ReimbursementBillID">
                            <i class="ace-icon fa fa-rupee blue"></i>@item.SactionAmount</span>

                        <span style="display: none;" id="spntxtSactionAmount-@item.ReimbursementBillID">
                            <input type="text" value="@item.SactionAmount"  id="txtSactionAmount-@item.ReimbursementBillID" />
                        </span>

                        <input type="hidden"     value="@item.SactionAmount" name="SactionAmount-@count" id="SactionAmount-@count" />
                        <input type="hidden"     value="@item.Deduction" name="Deduction-@count" id="Deduction-@count" />
                        <input type="hidden"     value="@item.GrossAmount" name="GrossAmount-@count" id="GrossAmount-@count" />
                    </td>
                    <td>
                        @if (item.EstablishBillId > 0)
                        {
                            <a href="#" onclick="EditRow(@item.ReimbursementBillID);" id="btnEditRow-@item.ReimbursementBillID" class="green tooltip-success btn btn-xs btn-success" style="width: 80px; margin: 2px;" title="Edit Voucher ">Edit
                                    
                            </a>
                            <a href="#" onclick="DeleteRow(@item.ReimbursementBillID);" id="btnDeleteRow-@item.ReimbursementBillID" class="green tooltip-success btn btn-xs btn-success" style="width: 80px; margin: 2px;" title="Delete Voucher ">Delete
                                    
                            </a>
                        }
                        <a  href="#" onclick="UpdateReimbursementBill(@item.EstablishBillId,@item.ReimbursementBillID)" class="green tooltip-success btn btn-xs btn-success" id="SaveReimbusementBill-@item.ReimbursementBillID"  style="width:80px;margin:2px;display:none;"  title="Save Voucher" >Save
                                    
                        </a>
                    </td>
                    @* @if (Convert.ToDateTime(item.BillFromDate).ToString("dd/MMM/yyyy") == "01/Jan/1753" || Convert.ToDateTime(item.BillToDate).ToString("dd/MMM/yyyy") == "01/Jan/1900")
                    {  <td style="width: 10%">NA</td>
                    }

                    else
                    {
                        <td style="width: 10%">@Convert.ToDateTime(item.BillFromDate).ToString("dd/MM/yyyy")-@Convert.ToDateTime(item.BillToDate).ToString("dd/MM/yyyy")</td>
                    }*@


                </tr>
                                                                
            }
            <tr>
                <td colspan="3"></td>
                <td>
                    <span class="label label-warning"><i class="ace-icon fa fa-rupee blue"></i>@TotalGrossAmount</span>
                </td>
                <td>
                    <span class="label label-warning"><i class="ace-icon fa fa-rupee blue"></i>@TotalDeduction</span>
                </td>
                <td></td>
                <td>
                    <span class="label label-warning"><i class="ace-icon fa fa-rupee blue"></i>@TotalSactionAmount</span>
                </td>
                <td></td>
            </tr>

        </tbody>
    </table>
    
  
}


<script type="text/javascript">
    function SelectAllChb(source) {
        checkboxes = document.getElementsByClassName('IncludingBillClass');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }

    function EditRow(ReimbursementBillID) {
        $('#spnShowGrossAmount-' + ReimbursementBillID).hide();
        $('#spnShowSactionAmount-' + ReimbursementBillID).hide();
        $('#btnEditRow-' + ReimbursementBillID).hide();
        $('#btnDeleteRow-' + ReimbursementBillID).hide();

        $('#spntxtGrossAmount-' + ReimbursementBillID).show();
        $('#spntxtSactionAmount-' + ReimbursementBillID).show();
        $('#SaveReimbusementBill-' + ReimbursementBillID).show();
    }

    $('.classGrossAmount').on("keyup", function () {
        debugger;
        var ReimbursementBillId = this.id.split('-')[1];
        $('.ErrorMessage').remove('');
        var GrossAmount = parseInt($('#txtGrossAmount-' + ReimbursementBillId).val());
        if ($('#txtGrossAmount-' + ReimbursementBillId).val() == '') {
            $('#txtGrossAmount-' + ReimbursementBillId).after("<span class='ErrorMessage'>Please fill Gross Amount.</span>");
            $('#txtGrossAmount-' + ReimbursementBillId).css("border", "1px solid red");
        }
        else {
            $('#txtSactionAmount-' + ReimbursementBillId).val(GrossAmount);

        }
    });

    function UpdateReimbursementBill(EstablishBillId, ReimbursementBillID) {
        $('.ErrorMessage').remove('');
        var IsValid = true;
        var GrossAmount = $("#txtGrossAmount-" + ReimbursementBillID).val();
        var SanctionAmount = $("#txtSactionAmount-" + ReimbursementBillID).val();
        if (GrossAmount == '') {
            $('#txtGrossAmount-' + ReimbursementBillID).css("border", "1px solid red");
            $('#txtGrossAmount-' + ReimbursementBillID).after("<span class='ErrorMessage'><br> Gross Amount  Required</span>");
            IsValid = false;
        }
        if (SanctionAmount == '') {
            $('#txtSactionAmount-' + ReimbursementBillID).css("border", "1px solid red");
            $('#txtSactionAmount-' + ReimbursementBillID).after("<span class='ErrorMessage'><br> Sanction Amount Required</span>");
            IsValid = false;
        }
        if (IsValid == true) {
            $.ajax({
                type: "POST",
                url: '/EstablishBill/SaveReimbursementBill',
                data: '{ReimbursementBillID:"' + ReimbursementBillID + '",EstablishBillId:"' + EstablishBillId + '",GrossAmount:"' + GrossAmount + '",SanctionAmount:"' + SanctionAmount + '"  }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                },
                success: function (result) {
                    $('#BillListDiv').empty();
                    $('#BillListDiv').append(result);
                },
                error: function (error) {
                    $('#BillListDiv').empty();
                    $('#BillListDiv').append(error.responseText);
                },
                complete: function (results) {
                    setTimeout(function () {
                        $('#VoucherMsgDiv').slideUp("slow");
                    }, 4000);
                }
            });
        }
    }


    function FillSanctionAmount(ReimbursementBillID) {
        $('.ErrorMessage').remove('');

        var GrossAmount = parseInt($('#txtGrossAmount-' + ReimbursementBillID).val());
        var TakenAmount = parseInt($('#txtGrossAmount-' + ReimbursementBillID).val());
        if (TakenAmount > GrossAmount) {
            $('#TakenAmount').after("<span class='ErrorMessage'>Advance taken can't be greater than Gross Amount.</span>");
            $("#TakenAmount").css("border", "1px solid red");
        }
        else {
            var SactionAmount = GrossAmount - TakenAmount;
            if (!isNaN(SactionAmount)) {
                $('#SactionAmount').val(SactionAmount);
            }
            else {
                $('#SactionAmount').val(GrossAmount);
            }
        }


    }

    function DeleteRow(Id) {

        var dlg = bootbox.confirm('Are you sure, You want to delete this voucher? If yes than press ok Button.', function (result) {

            if (result) {

                $(dlg).modal('hide');
                $.ajax({
                    type: "POST",
                    url: '/EstablishBill/DeleteReimbursementBill',
                    data: '{ Id: "' + Id + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function () {
                        $('#loader-wrapper').show();
                    },
                    success: function (result) {
                        $('#BillListDiv').empty();
                        $('#BillListDiv').append(result);

                    },
                    error: function (result) {
                        $('#BillListDiv').empty();
                        $('#BillListDiv').append(result.responseText);
                    },
                    complete: function (result) {
                        $('#loader-wrapper').hide();
                        setTimeout(function () {
                            $('#VoucherMsgDiv').slideUp("slow");
                        }, 4000);
                    }
                });

            }
        });
    }

</script>
