﻿@model  List<SBL.DomainModel.Models.JobsPosting.Job>
<div class="page-content">
    <!-- #section:settings.box -->

    <div class="page-content">
        <div class="row">
            <div id="outerDiv">
            </div>
            
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">

                    <!--TWO COLUMN DESIGN-->
                    <div id="two-column" class="">
                        <div id="resize-left" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 20px;">

                            <div id="divLeftContainer" style="position: absolute; top: 0; height: 20px; width: 100%; display: block;">
                                <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                                <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                                    <i onclick="resizeClick(1)" class="ace-icon fa fa-angle-double-left roundicon"></i>
                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="span12" style="padding: 10px;">
                                    <div class="widget-toolbar no-border">
                                        <button class="btn btn-xs btn-primary bigger" onclick="PopulateJobForm(0,'Add');">
                                            <i class="ace-icon fa fa-pencil-square-o"></i>
                                            @Resources.Diaries.New
                                        </button>
                                    </div>
                                    <div class="space-20"></div>
                                    <div id="divDataContainer">
                                        @{Html.RenderPartial("~/Areas/Accounts/Views/JobPortal/_JobList.cshtml", Model);}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="resize-right" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 21px;">

                            <div id="divRightContainer" style="position: absolute; top: 0; height: 21px; width: 100%; display: block;">
                                <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                                <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                                    <i data-icon2="ace-icon fa fa-angle-double-right" onclick="resizeClick(0)" data-icon1="ace-icon fa fa-angle-double-left" class="ace-icon fa fa-angle-double-right roundicon"></i>
                                </div>
                            </div>

                            <div class="row-fluid" style="overflow: hidden">
                                <div class="span12">
                                    <div>@*class="widget-box"*@
                                        <div id="RightSidebar" style="width: 100%">
                                        </div>
                                        <div id="JobPostDataDiv" style="width: 100%; height: 100%">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- #two-column-->
                    <!-- PAGE CONTENT ENDS -->
                </div>
                <!-- /.col -->
            </div>
        </div>
    </div>
    <!-- /section:settings.box -->

    <!-- /.page-content -->
</div>


<script type="text/javascript">

    $(document).ready(function () {

        var oTable1 = $('#tblRoadPermit').dataTable();
        hideRightPanel();
    });



    function SubmitJob() {
        $('.ErrorMessage').remove('');
        var IsValid = true;

        if ($('#JobTitle').val() == '') {
            $('#JobTitle').css("border", "1px solid red");
            $('#JobTitle').after("<span class='ErrorMessage'> Job Title  Required</span>");
            IsValid = false;
        }
        if ($('#PostingDateS').val() == '') {
            $('#PostingDateS').css("border", "1px solid red");
            $('#PostingDateS').after("<span class='ErrorMessage'> Post Date  Required</span>");
            IsValid = false;
        }
        if ($('#LastDateS').val() == '') {
            $('#LastDateS').css("border", "1px solid red");
            $('#LastDateS').after("<span class='ErrorMessage'> Last Date  Required</span>");
            IsValid = false;
        }
        debugger;
        if ($("#DdlPostIds").val() == null || $('#DdlPostIds').val() == '') {
            $('#PostIdListDdlValid').append("Please Select");
            IsValid = false;
        }

        if (IsValid == true) {
            var QData = $('#JobPostForm').serialize();
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '/Accounts/JobPortal/SaveJobs',
                data: QData,
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result);
                    $('#JobPostDataDiv').empty();

                },
                error: function (result) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result.responseText);
                    $('#JobPostDataDiv').empty();
                },

                complete: function (result) {
                    debugger;
                    $('#loader-wrapper').hide();
                }
            });
        }
    }


    function PopulateJobForm(Id, Action) {
        $("#tblJobPosting tr").css('background-color', 'white')
        $('#Row-' + Id).css('background-color', '#ffb752 ')

        $.ajax({
            type: "POST",
            url: '/Accounts/JobPortal/PopulateJobForm',
            data: '{ Id: "' + Id + '",Action: "' + Action + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#JobPostDataDiv').empty();
                $('#JobPostDataDiv').append(result);
                $('#resize-right').show();
            },
            error: function (error) {
                $('#JobPostDataDiv').empty();
                $('#JobPostDataDiv').append(error.responseText);
                $('#resize-right').show();
            },
            complete: function (results) {
                $('#resize-left').width(50 + '%');
                $('#resize-right').width(50 + '%')
                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }
    $('#sidebar-collapse').on('click', function () {
        var parentWidth = $('#resize-left').parent().width();
        if ($('#sidebar').hasClass('menu-min')) {
            parentWidth = parentWidth - 130;
        } else { parentWidth = parentWidth + 110; }

        var remainingSpace = parentWidth - $('#resize-left').outerWidth();
        var divTwo = $('#resize-left').next();
        var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
        divTwo.css('width', divTwoWidth + 'px');

        //alert("ds");
        setTimeout(function () {
            $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
        }, 50);



    });

    function hideLeftPanel() {
        $('#resize-left').width(0);
        $('#resize-right').width(100 + '%')

    }

    function hideLeftPanelAnimate() {
        resizeLeftPanel(0);
    }

    function hideRightPanel() {
        $('#resize-left').width(100 + '%');
        $('#resize-right').width(0)
    }

    function hideRightPanelAnimate() {
        resizeLeftPanel(100);
    }

    function resizeClick(isLeft) {
        var parentWidth = $('#resize-left').parent().outerWidth();
        if (isLeft) { // click on left rezise button
            if ($('#resize-left').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
            else { resizeLeftPanel(0); }
        } else {
            if ($('#resize-right').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
            else { resizeLeftPanel(100); }
        }
    }

    function resizeLeftPanel(sizeRatio) {
        var parentWidth = $('#resize-left').parent().width();
        $('#resize-left').animate({ width: +(sizeRatio) + '%' }, 500);
        $('#resize-right').animate({ width: +(100 - sizeRatio) + '%' }, 500);
    }

</script>


