﻿@model SBL.DomainModel.Models.Committee.tCommitteeModel

<script>
    $(document).ready(function () {
        $("#DdlEvent").append("<option value='0' selected='true'>All</option>")
        var CId = $("#DdlEvent").val();
        var Ltype = "Submitted";
        $.get("/CommitteePaperLaid/CommitteePaper/SearchByCategory", {
            CategId: CId, Tabtype: Ltype, PageNumber: "1",
            RowsPerPage: "10",
            loopStart: "1",
            loopEnd: "5"
        }, function (data) {
            $("#divSubmittedSrchList").html(data)
        });
    });
</script>


<style>
    .DdlSClass {
        width: 280px;
    }
</style>


<div class="grid_cantainer1">
    <div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px; border: 1px solid #C5C5C5;">
        @Resources.Committee.CommitteePaper >> @Resources.Committee.DCommSent
    </div>
    @if (Model.ComSentCount > 0)
    {
        <div style="margin-top: 10px">
            <table style="width: 100%; padding: 10px">
                <tr>
                    <td style="width: 16%">
                        <strong>@Resources.Committee.Category
                        </strong>
                    </td>
                    <td style="width: 28%">
                        <div>
                            @Html.DropDownListFor(m => m.EventId, new SelectList(Model.EventList, "EventId", "EventName"), new { @id = "DdlEvent", @tabindex = "1", @class = "DdlSClass" })
                        </div>
                    </td>
                    @*<td style="width: 10%; vertical-align: top">
                        <input type="button" id="btnSearch" value="search" onclick="SearchByCateg()" />
                    </td>*@
                </tr>
            </table>
        </div>
        <br />
        <div id="divSubmittedSrchList"></div>
        <div id='OpenModel' class='modal hide fade in' style="height: 380px; width: 50%">
            <div id='OpenContainer'>
            </div>
        </div>
        <div id='OpenModel1' class='modal hide fade in' style="height: 350px; width: 50%">
            <div id='OpenContainer1'>
            </div>
        </div>
  
    }

    else
    {
        <div style="text-align: center; margin-top: 20px; font-weight: bold">@Resources.Committee.NoRecords</div>

    }

</div>
<script>

    function ViewSubmitDetails(id) {
        var pId = id.substring(2);
        //var ATpe = "SubmitDetails";
        $.get("/CommitteePaperLaid/CommitteePaper/ViewDetails", { Id: pId }, function (data) {
            //$("#OpenContainer").html(data)
            //$("#OpenModel").modal("show")
            $("#divCreatNew").html(data)
            $("#divShowMessage").hide()
            $(".SColorChange").each(function () {
                $(this).css({ 'background': '#fff', 'color': 'black' })
            })
            $("#" + id).css({ 'background': '#A8ACAD', 'color': 'white' })
        });
    }

    $("#DdlEvent").change(function () {
        var CId = $("#DdlEvent").val();
        var Ltype = "Submitted";
        if (CId != null) {
            $.get("/CommitteePaperLaid/CommitteePaper/SearchByCategory", {
                CategId: CId, Tabtype: Ltype, PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            }, function (data) {
                $("#divSubmittedSrchList").html(data)
            });
        }
        else {
            alert("Select Business Type First !")
        }

    });

    //function SearchByCateg() {
    //    var CId = $("#DdlEvent").val();
    //    var Ltype = "Submitted";
    //    if (CId != null) {
    //        $.get("/CommitteePaperLaid/CommitteePaper/SearchByCategory", {
    //            CategId: CId, Tabtype: Ltype, PageNumber: "1",
    //            RowsPerPage: "10",
    //            loopStart: "1",
    //            loopEnd: "5"
    //        }, function (data) {
    //            $("#divSubmittedSrchList").html(data)
    //        });
    //    }
    //    else {
    //        alert("Select Business Type First !")
    //    }
    //};

</script>
