﻿@model SBL.DomainModel.Models.Committee.tCommitteeModel

<script>
    $(document).ready(function () {
        $("#DdlEvent").append("<option value='0' selected='true'>All</option>")
        var CId = $("#DdlEvent").val();
        var Ltype = "Pending";
        $.get("/CommitteePaperLaid/CommitteePaper/SearchByCategory", {
            CategId: CId, Tabtype: Ltype, PageNumber: "1",
            RowsPerPage: "10",
            loopStart: "1",
            loopEnd: "5"
        }, function (data) {
            $("#divPendingSrchList").html(data)
        });



    });



</script>



<style>
    .DdlPClass {
        width: 280px;
    }

    .simple-table-style1 tr:hover {
        background-color: #DBE9FF;
    }

    .sssssd {
        background-color: #428bca;
        /*color: white;*/
    }
</style>


<div class="grid_cantainer1">
    <div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px; border: 1px solid #C5C5C5;">
        @Resources.Committee.CommitteePaper >> @Resources.Committee.DCommDraft
    </div>
    <div>
        <div style="float: right">
            <input type="button" id="btnNewCom" style="margin: 6px 2px 15px" value="New" onclick="CreateNew()" />
        </div>
    </div>
    @if (Model.ComDraftCount > 0)
    {
        <div style="margin-top: 10px">
            <table style="width: 100%; padding: 10px">
                <tr>
                    <td style="width: 16%">
                        <strong>@Resources.Committee.Category
                        </strong>
                    </td>
                    <td style="width: 28%">
                        <div>
                            @Html.DropDownListFor(m => m.EventId, new SelectList(Model.EventList, "EventId", "EventName"), new { @id = "DdlEvent", @tabindex = "1", @class = "DdlPClass" })
                        </div>
                    </td>
                    @*<td style="width: 10%; vertical-align: top">
                        <input type="button" id="btnSearch" value="search" onclick="SearchByCateg()" />
                    </td>*@
                </tr>
            </table>
        </div>
        <br />
        <div id="divPendingSrchList"></div>
        <div id='OpenModel' class='modal hide fade in' style="height: 400px; width: 50%">
            <div id='OpenContainer'>
            </div>
        </div>
    }


    else
    {
        <div style="text-align: center; margin-top: 20px; font-weight: bold">@Resources.Committee.NoRecords</div>
    }
</div>


<script>
    function Submit(id) {

        if (confirm("Are you sure to sumbit ?")) {
            var pId = id.substring(2);
            $.get("/CommitteePaperLaid/CommitteePaper/SubmitPending", { Ids: pId }, function (data) {
                if (data = "Success") {
                    alert("Successfully Submitted !")
                    $.get("/CommitteePaperLaid/CommitteePaper/GetPendings", {}, function (data) {
                        $("#divSearchQues").html(data)
                    });
                }
                else {
                    alert(data)
                }
            });
        }

        else {
            event.preventDefault();
        }
    }



    function Delete(id) {
        if (confirm("Are you sure to delete ?")) {
            var pId = id.substring(2);
            $.get("/CommitteePaperLaid/CommitteePaper/DeletePending", { Id: pId }, function (data) {
                if (data = "Success") {
                    alert("Deleted Successfully !")
                    $.get("/CommitteePaperLaid/CommitteePaper/GetPendings", {}, function (data) {
                        $("#divSearchQues").html(data)
                    });
                }
                else { alert(data) }
            });
        }
        else {
            event.preventDefault();
        }
    }

    function Edit(id) {
        var pId = id.substring(2);
        $("#divSearchQues").html("");
        $.get("/CommitteePaperLaid/CommitteePaper/EditPending", { Id: pId }, function (data) {
            $("#divCreatNew").html(data)
            $("#divShowMessage").hide()

            $(".PColorChange").each(function () {
                $(this).css({ 'background': '#fff', 'color': 'black' })
            })
            $("#" + id).css({ 'background': '#A8ACAD', 'color': 'white' })



        });
    };
    function ViewPendingDetails(id) {
        var pId = id.substring(2);
        var ATpe = "PendingDetails";
        $.get("/CommitteePaperLaid/CommitteePaper/ViewDetails", { Id: pId, DetailType: ATpe }, function (data) {
            //$("#OpenContainer").html(data)
            //$("#OpenModel").modal("show")
            $("#divCreatNew").html(data)
            $("#divShowMessage").hide()
            $(".PColorChange").each(function () {
                $(this).css({ 'background': '#fff', 'color': 'black' })
            })
            $("#" + id).css({ 'background': '#A8ACAD', 'color': 'white' })

        });
    }

    $("#DdlEvent").change(function () {
        var CId = $("#DdlEvent").val();
        var Ltype = "Pending";
        if (CId != null) {
            $.get("/CommitteePaperLaid/CommitteePaper/SearchByCategory", {
                CategId: CId, Tabtype: Ltype, PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            }, function (data) {
                $("#divPendingSrchList").html(data)
            });
        }
        else {
            alert("Select Business Type First !")
        }
    });

    function SearchByCateg() {
        var CId = $("#DdlEvent").val();
        var Ltype = "Pending";
        if (CId != null) {
            $.get("/CommitteePaperLaid/CommitteePaper/SearchByCategory", {
                CategId: CId, Tabtype: Ltype, PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            }, function (data) {
                $("#divPendingSrchList").html(data)
            });
        }
        else {
            alert("Select Business Type First !")
        }
    };



</script>
