﻿@model SBL.DomainModel.Models.Committee.tCommitteeModel

<span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="Bottm Info" style="text-align:left;margin-left:0px;margin-bottom:2px;">
 @Resources.PaperLaidDepartment.DDLaidInHouse
</span>

@{    
    var grid = new Lib.Web.Mvc.JQuery.JqGrid.JqGridHelper<SBL.DomainModel.Models.Committee.tCommitteeModel>("CommonGrid",
                            
                            dataType: Lib.Web.Mvc.JQuery.JqGrid.JqGridDataTypes.Json,
                            footerEnabled: false,
                            methodType: Lib.Web.Mvc.JQuery.JqGrid.JqGridMethodTypes.Post,
                            pager: true,
                            rowsList: new List<int> { 10, 20, 30, 40, 50 },
                            rowsNumber: 10,
                            onSelectRow: "onSelectRowHandler",
                            sortingName: "paperLaidId",
                            sortingOrder: Lib.Web.Mvc.JQuery.JqGrid.JqGridSortingOrders.Asc,
                            url: Url.Action("LaidInHouseGrid"),
                            userDataOnFooter: false,
                            viewRecords: true,
                            autoWidth: true,
                            emptyRecords: @Resources.PaperLaidDepartment.NoRecordFound,
                            postDataScript: "function() { return { AssemblyId: $('#AssemblyCodeHome').val(), SessionId: $('#SessionCodeHome').val()}; }"

                        );
}
@grid.GetHtml()

<script>

    jQuery(document).ready(function () {
        @grid.GetJavaScript()

        jQuery("#CommonGrid").jqGrid('setLabel', 'Title', '@Resources.PaperLaidDepartment.Subject')
        jQuery("#CommonGrid").jqGrid('setLabel', 'EventName', '@Resources.PaperLaidDepartment.BusinessType')
        jQuery("#CommonGrid").jqGrid('setLabel', 'FileName', '@Resources.PaperLaidDepartment.Paper')
        jQuery("#CommonGrid").jqGrid('setLabel', 'SubmittedDate', '@Resources.PaperLaidDepartment.Senton')
        jQuery("#CommonGrid").jqGrid('setLabel', 'DesireLayDate', '@Resources.PaperLaidDepartment.DesireLayingDate')

    });

    //$.paperSentFormatter = function (cellvalue, options, rowObject) {
    //    alert("cellvalue : " + cellvalue);
    //    return "sdfsdfsd";
    //};

    jQuery(".jqgrow td input", "#NewGetSubmitted").each(function () {
        jQuery(this).unbind('click');
        jQuery(this).click(function () {
            alert("sss");
        });
    });



    function onSelectRowHandler(rowId) {
        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();

        var rowData = $(this).jqGrid("getRowData", rowId);
        //Get ID  for the Record.
        var id = rowData.PaperLaidIdTemp != "" ? rowData.PaperLaidIdTemp : 0;

        $.ajax({
            url: '/CommitteePaperLiadChairperson/CommitteePaperLiadChairperson/SubmittedCommitteeChairViewDetails',
            type: 'GET',
            data: { Id: rowId },
            cache: false,
            success: function (response) {
                if (response) {
                    $("#RightSidebar").html(response);
                    cl2.hide();


                } else { alert("error"); }

            },

            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }

</script>
