﻿
@model   SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.MinistryDepartmentViewModel
@{
    ViewBag.Title = "CreateMinistryDepartment";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}


@Html.Action("LeftNavigationMenu", "SuperAdmin")

<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    @Html.Partial("_BreadcrumbsPartial")
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "MinistryDepartment")">@Resources.MasterDataDashboard.MinistryMasterData</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "MinistryDepartment")">@Resources.MasterDataDashboard.MinistryDetails</a>
            </li>
             
        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
      @*  <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>*@

    </div>
    
    <div class="page-content">

        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.MasterData                              
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                   @Resources.MasterDataDashboard.MinistryDepartmentDetails  
                </small>
            </h1>


        </div>

        <!-- /section:settings.box -->

        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.CreateMinistryDepartment</h4>
            }
            else
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.EditMinistryDepartment</h4>
            }

        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        @* //, new { @class = "form-horizontal", @role = "form" }*@
                        <div class="row">
                            @using (Html.BeginForm("SaveMinistryDepartment", "MinistryDepartment", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                            { 
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.MinistryDepartmentsID)
                                @Html.HiddenFor(model => model.Mode)
                                

                                @*<h4 class="header blue lighter smaller clearfix">Basic details </h4>*@
                                <div class="tabbable">
                                    @*<ul id="myTab" class="nav nav-tabs padding-18">
                                        <li class="active">
                                            <a href="#news-english" data-toggle="tab">
                                                <i class="green ace-icon fa fa-home bigger-120"></i>
                                                English
                                            </a>
                                        </li>


                                    </ul>*@
                                    <div class="tab-content no-border padding-24">
                                        <div class="tab-pane in active" id="news-english">

                                            <div class="space-2"></div>
                                             <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.AssemblyName </label>
                                                <div class="col-sm-9">

                                                    @Html.DropDownListFor(model => model.AssemblyID, Model.Assembly, @Resources.MasterDataDashboard.SelectAssembly, new { @id = "DdlAssebly", @class = "col-xs-10 col-sm-5" })

                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="assemblyValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.AssemblyID)
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.MinistryName </label>
                                                <div class="col-sm-9">

                                                    @Html.DropDownListFor(model => model.MinistryID, Model.Ministry, @Resources.MasterDataDashboard.SelectMinistry, new { @id = "DdlMinistryID", @class = "col-xs-10 col-sm-5" })

                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="ministrynameValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.MinistryID)
                                                    </div>
                                                </div>

                                            </div>

                                            
                                            <div class="space-2"></div>
                                             <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.DepartmentName </label>
                                                <div class="col-sm-9">

                                                    @Html.DropDownListFor(model => model.DeptID, Model.Department, @Resources.MasterDataDashboard.SelectDepartment, new { @class = "col-xs-10 col-sm-5" })

                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="deptnameValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.DeptID)
                                                    </div>
                                                </div>

                                            </div>

                                             <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Order</label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.OrderID, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.Order, @autocomplete = "off", @onkeypress = "return isNumberKey(event)" , @maxlength ="3"   })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="orderValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.OrderID)
                                                    </div>
                                                </div>

                                            </div>

                                              <div class="space-2"></div> 
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Active </label>
                                                <div class="col-sm-9">
                                                   
                                                   @Html.CheckBoxFor(model => model.IsActive)                                                 
                                                </div>

                                            </div>
                                          
                                        </div>


                                    </div>
                                </div>                              
                                <div class="btn-group pull-right padding-10">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->
                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple " onclick="return userValid();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        @Resources.MasterDataDashboard.Save</button>
                                    <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        @Resources.MasterDataDashboard.Reset
                                    </button>
                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>
                            }
                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
       
        $("#ministermain").addClass("active open");
        $("#ministersub").addClass("nav-show").css("display", "block");
        $("#ministrydeptlist").addClass("active");
        $("#ministerlinkid").removeClass("fa-comment").addClass("fa-comment-o");
    });
</script>
<script type="text/javascript">

    $("#DdlAssebly").change(function () {
        var AId = $("#DdlAssebly").val()
        $.get("/SuperAdmin/MinistryDepartment/GetMinistryAId", { Assemblyid: AId }, function (data) {
            $("#DdlMinistryID").empty();
            $("#DdlMinistryID").append("<option value='0' selected='true'>-- Select Ministry --</option>")
            $.each(data, function (index, optiondata) {
                $("#DdlMinistryID").append("<option value='" + optiondata.MinistryId + "'>" + optiondata.MinistryName + "</option>");
            });
        });
      
    });

    $('.date-picker').datepicker({
        autoclose: true,
        todayHighlight: true

    })
  //show datepicker when clicking on the icon
  .next().on(ace.click_event, function () {
      $(this).prev().focus();
  });

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    $(document).ready(function () {
        $("#AssemblyID").focus();       
    });
    function resetFields() {
        $(".field-validation-error").empty();
        $("#AssemblyID").focus();
    }
</script>

<script type="text/javascript">

    function userValid() {
        var district, statenameid, prefix, name;
        district = document.getElementById("AssemblyID").value;
        statenameid = document.getElementById("MinistryID").value;
        prefix = document.getElementById("DeptID").value;
        name = document.getElementById("OrderID").value;
       

        if ((district == "" || district == null) && (statenameid == "" || statenameid == null) && (prefix == "" || prefix == null) && (name == "" || name == null))
        {
            $("#assemblyValidation").html("Select Assembly Name");
            $("#ministrynameValidation").html("Select Ministry Name");
            $("#deptnameValidation").html("Select Department Name");
            $("#OrderID").html("Order ID is Required");
          

            return false;
        }
        return true;

    }

    $(function () {
        $('#AssemblyID').focus(function () {
            $('#assemblyValidation').html("");
        });
    });

    $(function () {
        $('#MinistryID').focus(function () {
            $('#ministrynameValidation').html("");
        });
    });

    $(function () {
        $('#DeptID').focus(function () {
            $('#deptnameValidation').html("");
        });
    });

    $(function () {
        $('#OrderID').focus(function () {
            $('#orderValidation').html("");
        });
    });
  
</script>







