﻿
@model  IEnumerable<SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.MinistryDepartmentViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    int count = 0;
}
@Html.Action("LeftNavigationMenu", "SuperAdmin")

<div class="main-content">
    @Html.Partial("_BreadcrumbsPartial")
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "MinistryDepartment")">@Resources.MasterDataDashboard.Home</a>
            </li>

            <li>
                <a href="@Url.Action("Index", "MinistryDepartment")">@Resources.MasterDataDashboard.MinistryDepartments</a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.List</li>
        </ul>

    @*    <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>*@

    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->


        <!-- /section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
            <button class="btn  btn-sm btn-info" onclick="javascript:window.location.href=' /SuperAdmin/MinistryDepartment/CreateMinistryDepartment';">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                <span class="bigger-110">@Resources.MasterDataDashboard.New</span>
            </button>
            @if(Model.Count()>0){
            @*<button id="displayChkbox" class="btn  btn-sm btn-info" onclick="return displayDelete()">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                <span class="bigger-110">Multiple Delete</span>
            </button>*@
             <button id="confirmDelete" class="btn  btn-sm btn-info" onclick="return ConfirmDeleteSelected();">
                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                <span class="bigger-110">Delete Multiple</span>
            </button>}
        </div>
        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.MinistryDepartments                             
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.MinistryDepartmentList
                </small>
            </h1>
        </div>
        <div id="Menu">
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->

                    <div class="pass-table">


                        @if (Model != null)
                        {
                            if (Model.Count() > 0)
                            {       
                                
                          
                            <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                                <thead>
                                    <tr role="row">   
                                          <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending" onclick="javascript:window.location.href='/SuperAdmin/MinistryDepartment/Index';">@Resources.MasterDataDashboard.Order</th>                                      
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.AssemblyName</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.MinistryName</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">@Resources.MasterDataDashboard.DepartmentName</th>
                                        <th id="thDelete" class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending" >Multiple Delete</th>
                                                                     
                                        <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Action</th>
                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    @foreach (var item in Model)
                                    {
                                        count = count + 1;  
                                        <tr>
                                            @*<td class="center">
                                                @count
                                            </td>*@
                                            <td style="width: 10%">@item.OrderID</td>
                                            <td style="width: 20%">@item.GetAssemblyName</td>
                                            <td style="width: 30%">@item.GetMinistryName</td>
                                            <td style="width: 25%">@item.GetDeptName</td>
                                            <td style="width: 5%;" id="tdDelete">
                                                <input type="checkbox" class="Delete" id="@item.MinistryDepartmentsID" name="@item.MinistryDepartmentsID"/>
                                            </td>
                                            <td class="center" style="width: 10%">
                                                <div class="hidden-sm hidden-xs action-buttons">

                                                    @*<a data-rel="tooltip" class="green tooltip-success" title="Edit"  href="@Url.Action("EditMinistryDepartment", "MinistryDepartment", new { Id = item.MinistryDepartmentsID })">
                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                    </a>*@
                                                    <a data-rel="tooltip" class="green tooltip-success" title="Edit"  href="@Url.Action("EditMinistryDepartment", "MinistryDepartment", new { Id = SBL.eLegistrator.HouseController.Web.Extensions.EncryptionUtility.Encrypt(item.MinistryDepartmentsID.ToString()) })">
                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                    </a>

                                                    <a data-rel="tooltip" class="red tooltip-error" title="Delete" id="DeleteLink"  href="@Url.Action("DeleteMinistryDepartment", "MinistryDepartment", new { Id = item.MinistryDepartmentsID })">
                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                    </a>
                                                </div>

                                                <div class="hidden-md hidden-lg">
                                                    <div class="inline position-relative">
                                                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                        </button>

                                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                                                            <li>
                                                                <a  href="@Url.Action("EditMinistryDepartment", "MinistryDepartment", new { Id = item.MinistryDepartmentsID })" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                    <span class="green">
                                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                                    </span>
                                                                </a>

                                                            </li>

                                                            <li>
                                                                <a  href="@Url.Action("DeleteMinistryDepartment", "MinistryDepartment", new { Id = item.MinistryDepartmentsID })"  class="tooltip-error" data-rel="tooltip" title="Delete">
                                                                    <span class="red">
                                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                    </span>
                                                                </a>

                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>                                                                
                                    }

                                </tbody>
                            </table>
                            <!-- PAGE CONTENT ENDS -->
                            }
                            else
                            {
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="alert alert-info">

                                        <strong>@Resources.MasterDataDashboard.NoMinistryDepartmentRecordsFound</strong><br />


                                    </div>
                                </div>
                            </div>
                            }
                        }

                    </div>

                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@

            </div>

            <!-- /section:basics/footer -->
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>

<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>

    <div class="space-6"></div>
</div>
@*<script src="~/assets/js/CommonNotify.js"></script>*@

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>


<script type="text/javascript">

    //function displayDelete() {
    //    $("#thDelete").css("display", "block");
    //    $("#tdDelete").css("display", "block");
    //    $("#displayChkbox").css("display", "none");
    //    $("#confirmDelete").css("display", "block");
    //}

    function ConfirmDeleteSelected() {

        var arr = new Array();
        $(".Delete").each(function () {
            if (this.checked == true) {
                arr.push($(this).attr("id"));
            }
        });
        
        if (arr != null && arr !="") {
          
            
            $.ajax({                
                type: "POST",
                url: '/SuperAdmin/MinistryDepartment/DeleteSelectedMinistryDept',
                data: '{ arr: "' + arr + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $("#loader-wrapper").show();
                },
                success: function (result) {
                    
                    if (result == "deleted") {
                        ShowNotification("success", "Record deleted successfully");
                        $("#loader-wrapper").hide();
                        location.href = "/SuperAdmin/MinistryDepartment/Index";
                    }
                    if (result == "null") {
                        ShowNotification("error", "Please select atleast one record");                        
                    }
                },
                error: function (result) {
                    $("#loader-wrapper").hide();
                    alert("error");
                },

                complete: function (result) {
                    //setTimeout(function () {
                    //    $body.removeClass("loading");
                    //}, 1000);

                    //setTimeout(function () {
                    //    $("#AlertDiv").slideUp(400);
                    //}, 4000);
                }
            });
        } else {
            ShowNotification("error", "Select one record atleast");
        }
    }

    $(document).ready(function () {

        $("#ministermain").addClass("active open");
        $("#ministersub").addClass("nav-show").css("display", "block");
        $("#ministrydeptlist").addClass("active");
        $("#ministerlinkid").removeClass("fa-comment").addClass("fa-comment-o");

    });

    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        .dataTable({
            bAutoWidth: true,
            "aLengthMenu": [[50, 100, 200, 400, -1], [50, 100, 200, 400, "All"]],
            "iDisplayLength": 50,
            "aoColumns": [
              { "bSortable": false },
              null, null, null,null,
              { "bSortable": false }
            ]
        });

        oTable1.fnSort([[0, 'asc']]);

        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })


    $(" #DeleteLink").on('click', function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        var message = "";
        var buttonlabel = "";
        var buttoncss = "";
        var title = "";
        if ($(this).attr('id') == "DeleteLink") {

            message = '@Resources.MasterDataDashboard.Areyousurewanttodelete';
            buttonlabel = '@Resources.MasterDataDashboard.Delete';
            buttoncss = "btn-danger";
            title = '@Resources.MasterDataDashboard.DeleteConfirmation'
        }

        bootbox.dialog({
            message: message,
            title: title,
            buttons: {
                success: {
                    label: buttonlabel,
                    className: buttoncss,
                    callback: function () {
                        window.location.href = url;
                    }
                },
                danger: {
                    label: '@Resources.MasterDataDashboard.Cancel',
                    className: "btn",
                    callback: function () {
                        $('.modal-dialog').modal('hide');
                    }
                },

            }
        });
    });
</script>





