﻿@model SBL.DomainModel.Models.UserModule.mUserSubModules

<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
<script src="~/Scripts/jquery.alerts.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.timepicker1.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
@{
    ViewBag.Title = "CreateModule";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@Html.Action("LeftNavigationMenu", "SuperAdmin")

<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("GetUserSubModules", "SubModule")">@Resources.MasterDataDashboard.Home</a>
            </li>


            <li class="active">Create Sub Module</li>
        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>

    </div>

    <div class="page-content">

        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        @* //, new { @class = "form-horizontal", @role = "form" }*@
                        <div class="row">
                            @using (Ajax.BeginForm("SaveSubModule", "SubModule", new AjaxOptions { OnSuccess = "LoginSuccess", HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "NewUserSubAccess" }))
                            {

                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.SubModuleId)
                                @Html.HiddenFor(m => m.Mode)
    
                                <div class="widget-header widget-header-flat">

                                    @if (Model.Mode == "Add")
                                    {
                                        <h4 class="widget-title lighter">Create Sub User Access</h4>
                                    }
                                    else
                                    {
                                        <h4 class="widget-title lighter">Update Sub User Access</h4>
                                    }
                                    @* @if (Model.UserTypeID == null)
         {
        <h4 class="widget-title">Create User Type</h4>
         }
         else
         {
              <h4 class="widget-title">Create User Type</h4>
         }*@
                                </div>     
       
                                <div class="widget-body">
                                    <div class="widget-main no-padding-right no-padding-left">
                                        <div class="profile-user-info profile-user-info-striped">
                                            <div class="profile-info-row">
                                            </div>
                                            <div class="profile-info-name">
                                                <label class="" for="Name">@Resources.UserManagement.ModuleName <span style="color: red">*</span>:</label>
                                            </div>

                                            <div class="profile-info-value">

                                                <span id="spnDetails" class="">

                                                    @Html.DropDownListFor(model => model.ModuleId, new SelectList(Model.AccessList, "ModuleId", "ModuleName"), new { @id = "DdlAccessId", @onchange = "ModuleTypeChange(this)", @tabindex = "3", @class = "select", @style = "width:350px;" })
                                                    @*@Html.ValidationMessageFor(model => model.Name)*@

                                                </span>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name">Sub Module Name: <b style="color: red">*</b></div>

                                                <div class="profile-info-value">
                                                    <span id="spnTitle" class="">
                                                        @Html.TextBoxFor(model => model.SubModuleName, new { @id = "TxtName", @class = "col-xs-10 col-sm-5", @placeholder = @Resources.UserManagement.ModuleName, @autocomplete = "off", style = "width: 350px" })
                                                        <span class="field-validation-error" id="RoleNameValidation" style="color: red"></span>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name">Sub Module Name Local: <b style="color: red">*</b></div>

                                                <div class="profile-info-value">
                                                    <span id="spnTitle" class="">
                                                        @Html.TextBoxFor(model => model.SubModuleNameLocal, new { @id = "TxtLocalName", @class = "col-xs-10 col-sm-5", @placeholder = @Resources.UserManagement.ModuleNameLocal, @autocomplete = "off", style = "width: 350px" })
                                                        <span class="field-validation-error" id="RoleNameValidation1" style="color: red"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="profile-info-row">
                                                <div class="profile-info-name">Sub Module Description: <b style="color: red"></b></div>

                                                <div class="profile-info-value">
                                                    <span id="spnDescription" class="">
                                                        @Html.TextAreaFor(model => model.SubModuleDescription, new { @id = "TxtDescp", @class = "col-xs-10 col-sm-5", @placeholder = @Resources.UserManagement.ModuleDescription, @autocomplete = "off", style = "width: 350px" })
                                                        <span class="field-validation-error" id="RoleDescriptionValidation" style="color: red"></span>
                                                    </span>
                                                </div>
                                            </div>


                                            <div class="profile-info-row">

                                                <div class="profile-info-name">
                                                    <label class="" for="Name">Order<span style="color: red">*</span>:</label>
                                                </div>

                                                <div class="profile-info-value">

                                                    <span id="spnDetailss" class="">

                                                       @* <select class="form-control medium" style="width: 350px;" id="orderID" name="SubModuleOrder">
                                                        </select>*@
                                                         <input type="text" id="txtOrder" value="@Model.SubModuleOrder" name="ModuleOrderTemp" />
                                                    </span>
                                                </div>

                                            </div>

                                            <div class="profile-info-row">
                                                <div class="profile-info-name">@Resources.UserManagement.IsActive: <b style="color: red"></b></div>

                                                <div class="profile-info-value">
                                                    <span id="spnIsactive" class="">
                                                        @Html.CheckBoxFor(model => model.Isactive, new { @name = @Resources.UserManagement.IsActive }) @Resources.UserManagement.IsActive

                                                    </span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    @if (Model.Mode == "Add")
                                    {
                                        <div class="wizard-actions">

                                            <button type="button" id="savebtn" class="btn btn-sm btn-purple" onclick="return ModulecheckValidation();">
                                                <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                                @Resources.UserManagement.Save</button>

                                            <button type="reset" class="btn btn-sm btn-info" onclick="return cancelEntry();">
                                                <i class="ace-icon fa fa-times bigger-125"></i>
                                                @Resources.UserManagement.Cancel
                                            </button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="wizard-actions">
                                            <button type="button" id="savebtn" class="btn btn-sm btn-purple" onclick="return ModulecheckValidation();">
                                                <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                                @Resources.UserManagement.Update</button>


                                            <button type="reset" class="btn btn-sm btn-info" onclick="return cancelEntry();">
                                                <i class="ace-icon fa fa-times bigger-125"></i>
                                                @Resources.UserManagement.Cancel
                                            </button>
                                        </div>
                                    }

                                </div>
   
    
                                <div id='fullDetailsModel' class="hide">
                                    <div id='ShowfullDetailsModel' style="text-align: center">
                                    </div>
                                </div>

                            }
                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<style>
    .hidden {
        display: none;
        visibility: hidden;
    }
</style>

@if (Model.Mode == "Add")
{
    <script>
        $(document).ready(function () {
           //fillOrderNo();
        });
    </script>
}
else
{
    <script>
        $(document).ready(function () {
            //updatefillOrderNo();
        });
    </script>
}


<script>


    function cancelEntry() {

        window.location.href = '@Url.Action("GetUserSubModules", "SubModule", new { Area = "SuperAdmin" })';
    }

    function ModulecheckValidation() {

        var UserSubAccessName = $("#TxtName").val();
        var UserAccess = $("#DdlAccessId").val();

        if (UserSubAccessName == "") {
            alert("Please Enter User Access");
            return false;
        }
        else if (UserSubAccessName != null || UserSubAccessName != "") {
            debugger;
            bootbox.confirm('Are You Sure ?', function (confresult) {
                if (confresult) {

                    $.ajax({
                        url: "/SuperAdmin/SubModule/CheckUserAccess",
                        type: 'GET',
                        data: {
                            UserSubAccessName: UserSubAccessName,
                            UserAccess: UserAccess
                        },
                        success: function (data) {
                            debugger;
                            if (data) {
                                $("#NewUserSubAccess").submit();
                                bootbox.alert('Update Successfully');
                                //$("#TxtName").val('');
                                //$("#TxtLocalName").val('');
                                //$("#TxtDescp").val('');
                                //$('#IsActive').prop('checked', false);
                                return true;
                            }
                            else {
                                $("#NewUserSubAccess").submit();
                                bootbox.alert('Save Successfully');
                                $("#TxtName").val('');
                                $("#TxtLocalName").val('');
                                $("#TxtDescp").val('');
                                $('#IsActive').prop('checked', false);
                                //fillOrderNo();
                                return true;
                                //$.ajax({
                                //    url: "/UserManagement/SubModule/SubModule",
                                //    type: 'GET',
                                //    data: {
                                //        UserSubAccessName: UserSubAccessName,
                                //        UserAccess: UserAccess
                                //    },
                                //    success: function (data) {
                                //        if (data) {
                                //            //alert("UserAccess Already  Exit");
                                //            //return false;
                                //        }
                                //        else {
                                //            //  $("#NewUserSubAccess").submit();
                                //            //alert("Save successfully");

                                //            return true;
                                //        }

                                //    },
                                //    error: function (xhr, ajaxOptions, thrownError) {
                                //        alert(xhr.responseText);
                                //        alert(thrownError);
                                //        location.reload(true);
                                //    }
                                //});
                            }

                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.responseText);
                            alert(thrownError);
                            location.reload(true);
                        }
                    });
                }
                else {
                   
                }
            })
        }

        else {
            //alert("Save successfully");
        }
    }



    function fillOrderNo() {
        var pathurl = '@Url.Action("fillOrderNo", "SubModule")';
        var Utype = $('#DdlAccessId').val();

        $.ajax({
            url: pathurl,
            type: 'GET',
            data: { ModuleID: Utype, Mode: 'save' },
            success: function (data) {
                if (data) {
                    $("#orderID").html("");

                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        $("#orderID").append($("<option></option>").val(item._OrderID).html(item._OrderID))
                    }

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

    function updatefillOrderNo() {
        var pathurl = '@Url.Action("fillOrderNo", "SubModule")';
        var Utype = $('#DdlAccessId').val();

        $.ajax({
            url: pathurl,
            type: 'GET',
            data: { ModuleID: Utype, Mode: 'update' },
            success: function (data) {
                if (data) {
                    $("#orderID").html("");

                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        $("#orderID").append($("<option></option>").val(item._OrderID).html(item._OrderID))

                    }
                    $('#orderID').val(@Model.SubModuleOrder);
                    $('#txtOrder').val(@Model.SubModuleOrder);//temp
                 } else { alert("error"); }
             },
             error: function (xhr, ajaxOptions, thrownError) {
                 alert(xhr.responseText);
                 alert(thrownError);
             }
         });
     }

     function ModuleTypeChange(id) {
         //fillOrderNo();
     }




</script>

