﻿


@model  List<SBL.DomainModel.Models.UserModule.mUserSubModules>

@{
    int count = 0;
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@Html.Action("LeftNavigationMenu", "SuperAdmin")
 
<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>

 <script src="~/assets/js/flot/jquery.flot.min.js"></script>
        <script src="~/assets/js/flot/jquery.flot.pie.min.js"></script>
        <script src="~/assets/js/flot/jquery.flot.resize.min.js"></script>


<!-- page specific plugin styles -->
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />

<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
  
    <!-- /section:basics/content.breadcrumbs -->
       @Html.Partial("_BreadcrumbsPartial")
  

    <div class="page-content">
        <!-- #section:settings.box -->


        <!-- /section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
          
        </div>
       
        <div id="Menu">
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="widget-box">
 
    <div class="widget-header widget-header-flat">

        <div class="widget-toolbar no-border">

             <button class="btn  btn-sm btn-info" onclick="javascript:window.location.href='/SuperAdmin/SubModule/CreateNewSubModule';">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                <span class="bigger-110">@Resources.MasterDataDashboard.New</span>
            </button>

         @*   <button class="btn btn-xs btn-primary bigger" onclick='CreateNewUserType()'>
                <i class="ace-icon fa fa-pencil-square-o"></i>
                @Resources.UserManagement.New          
            </button>*@
        </div>
    </div>
</div>
                    <div class="pass-table">
                        

                        @if (Model != null)
                        {
                            if (Model.Count() > 0)
                            {       
                                
                          
                            <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                                                   <thead>
                                 <tr role="row">

                                        <th class="center sorting_disabled" role="columnheader" rowspan="1"  aria-label="">@Resources.UserManagement.SNo</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1"  aria-label="Name: activate to sort column ascending">Sub Module Name</th>
                                     <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1"  aria-label="Name: activate to sort column ascending">Module Name</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1"  aria-label="Pass Type: activate to sort column ascending">Sub Module Description</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">@Resources.UserManagement.ModifiedWhen</th>
                                       <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Action</th>
                                    </tr>
                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                       
                  
                        
                        @foreach (var item in Model)
                        {
                            count = count + 1;
                            string style = (count % 2 == 0) ? "odd" : "even";

                            var trID = item.SubModuleId;
                              
                            <tr class="@style" id="@trID" onclick="GetEditModule('@item.SubModuleId')">

                                 <td class="">@count</td>
                                <td class=""><i class="">@item.SubModuleName</i></td>
                                 <td class=""><i class="">@item.ModuleName</i></td>
                                 <td class=""><i class="">@item.SubModuleDescription</i></td>
                                 <td class=""><i class="">@item.ModifiedWhen</i></td>
                                                             <td class="center" style="width: 10%">
                                                <div class="hidden-sm hidden-xs action-buttons">

                                                    @*<a data-rel="tooltip" class="green tooltip-success" title="Edit"   href="@Url.Action("EditUserSubModule", "SubModule", new { Id = item.SubModuleId })">
                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                    </a>
                                                     <a data-rel="tooltip" class="red tooltip-error DeleteSubModule" title="Delete" id="@item.SubModuleId"  href="@Url.Action("DeleteSubModule", "SubModule", new { Id = item.SubModuleId })">
                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                    </a>*@
                                     <a data-rel="tooltip" class="green tooltip-success" title="Edit"   href="@Url.Action("EditUserSubModule", "SubModule", new { Id = SBL.eLegistrator.HouseController.Web.Extensions.EncryptionUtility.Encrypt(item.SubModuleId.ToString()) })">
                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                    </a>
                                                     <a data-rel="tooltip" class="red tooltip-error DeleteSubModule" title="Delete" id="@item.SubModuleId"  href="@Url.Action("DeleteSubModule", "SubModule", new { Id = SBL.eLegistrator.HouseController.Web.Extensions.EncryptionUtility.Encrypt(item.SubModuleId.ToString()) })">
                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                    </a>
                                                </div>

                                            </td>

                            </tr>
                        }
                    
                    </tbody>
                            </table>
                            <!-- PAGE CONTENT ENDS -->
                            }
                            else
                            {
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="alert alert-info">

                                        <strong>No User access Record Found</strong><br />


                                    </div>
                                </div>
                            </div>
                            }
                        }

                    </div>

                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.page-content -->
    </div>


   
    <!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@

            </div>

            <!-- /section:basics/footer -->
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>

<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>

    <div class="space-6"></div>
</div>
@*<div id="divDataContainer">
</div>*@

<script>

    $(".DeleteSubModule").on('click', function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        var id = $(this).attr('Id');
        var path = "@Url.Action("CheckDepartmentIdExist", "Department")";

        var request = $.ajax({

            url: path,
            data: { DepartmentID: id },
            success: function (result) {
                //alert(result);
                if (!result) {

                    bootbox.confirm('@Resources.MasterDataDashboard.Areyousurewanttodelete', function (confresult) {

                        if (confresult) {

                            window.location.href = url;
                        }

                    })
                }
                else {

                    bootbox.alert('@Resources.MasterDataDashboard.ThisDepartmentIDalreadyusedinsomeothermodulesSoitcantbedeleted');
                }
            }


        });
        });
    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
               { "bSortable": false },
              null, null, null,null,

              { "bSortable": false }

            ]
        });
    });
    function ChangeBreadCrumbParent(firstText) {
        $("#secondLink").empty();
        var firstlinkHtml = firstText;
        $("#secondLink").html(firstlinkHtml);
        $("#thirdLink").empty();
    }

    function ChangeBreadCrumbChild(secondText) {
        $("#thirdLink").empty();
        var secondlinkHtml = secondText;
        $("#thirdLink").html(secondlinkHtml);
    }

    @*    ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp");
    ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");*@

</script>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


     