﻿@model SBL.eLegistrator.HouseController.Web.Areas.Notices.Models.LegislationFixationModel

<style type="text/css">
    #prodiv {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        margin-top: -9em; /*set to a negative number 1/2 of your height*/
        margin-left: -15em; /*set to a negative number 1/2 of your width*/
        background-color: #f3f3f3;
    }
</style>


<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lte IE 8]>
		<script src="~/assets/js/html5shiv.js"></script>
		<script src="~/assets/js/respond.min.js"></script>
		<![endif]-->

<link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="~/assets/css/chosen.css" />


<div class="row">
    <div class="col-xs-12" style="min-height: 800px;">


        <!-- PAGE CONTENT BEGINS -->
        <div class="widget-box">


            <div class="widget-header">
                <h4 class="widget-title"></h4>
                <table id="tblSearchMetaDataFile">
                    <tbody>
                        <tr>
                            <td>Session Date</td>
                            <td>@Html.DropDownListFor(m => m.SessionDate, new SelectList(Model.CustomSessionDateList, "Id", "SessionDate", 0), new { @id = "DdlSessionDates", @class = "rounded", @style = "width:200px;" })
                            </td>
                            <td>Department</td>
                            <td>
                                <select id="departmentID" class="chosen-select input-sm " name="ModuleID" data-placeholder="--select a Department--">
                                </select></td>
                            <td>Member</td>
                            <td class="clsdp">
                                <select id="memberID" class="chosen-select input-sm " name="ModuleID" data-placeholder="--select a member--">
                                </select></td>
                            <td>
                                <button type="button" id="btnSearchmeta" class="btn btn-sm btn-purple " onclick="getNoticeReplyReport()">
                                    <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                    Search</button></td>
                        </tr>
                    </tbody>
                </table>

            </div>






            <div class="widget-body">
                <div class="widget-main">
                    <div class="pass-table">
                        <div id="totalmsg" style="display: none;">
                            <div class="alert alert-info">
                                <span id="othermsg">Testing msg</span>   <strong id="ttlmsg">0</strong>
                                <br />
                            </div>
                        </div>


                        <div id="buttons">



                            <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">




                                <button class=" btn  btn-sm btn-warning pull-left col-md-offset-1" type="button" id="ExportPDF" onclick="ExportPassListInPDF();">
                                    <i class="ace-icon fa fa-download white  bigger-150"></i>
                                    <span class="bigger-110">Download PDF</span>
                                </button>
                                <button class=" btn  btn-sm btn-danger pull-right col-md-offset-1" type="button" id="ExportExcel" onclick="ExportPassListInExcel();">
                                    <i class="ace-icon fa fa-download white  bigger-150"></i>
                                    <span class="bigger-110">Download Excel</span>
                                </button>
                            </div>

                        </div>
                        <br />
                        <br />

                        <div id="tablecontainer">
                        </div>


                        <!-- PAGE CONTENT ENDS -->
                    </div>
                </div>
            </div>
        </div>

        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>


<!-- /.page-content -->

<div id="selectDesignatioMsg" style="visibility: hidden;">
    <div class="alert alert-info">

        <strong>Information </strong>

        Please Select a Member and Date to Get  Report.
										<br />
    </div>
</div>
<!-- /.main-content -->





<!-- ace scripts -->
<script src="~/assets/js/chosen.jquery.min.js"></script>

<script src="~/assets/js/CommonNotify.js"></script>

<script>
    try {
        $('.chosen-select').chosen({ allow_single_deselect: true });
        //resize the chosen on window resize
        $(window).on('resize.chosen', function () {

            $('.chosen-select').next().css({ 'width': '300px' });
        }).trigger('resize.chosen');
    }
    catch (error) {
    }
    try {
        $('#chosen-multiple-style').on('click', function (e) {
            var target = $(e.target).find('input[type=radio]');
            var which = parseInt(target.val());
            if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
            else $('#form-field-select-4').removeClass('tag-input-style');
        });
    }
    catch (error) {
    }
    $(document).ready(function () {
        $("#searchcriteriavalueDiv").hide();
        $("#buttons").hide();
        $("#tablecontainer").html($("#selectDesignatioMsg").html());
        fillDepartment();
        fillCurrentMember();
    });
    //$('input[name=date-range-picker]').daterangepicker({
    //    'applyClass': 'btn-sm btn-success',
    //    'cancelClass': 'btn-sm btn-default',
    //    locale: {
    //        applyLabel: 'Apply',
    //        cancelLabel: 'Cancel',
    //    }
    //})
	//			.prev().on(ace.click_event, function () {
	//			    $(this).next().focus();
	//			});
    $("#ModuleID").on('change', function (e) {
        try {
            $("#searchcriteriavalueDiv").hide();
            var datatext = $("#ModuleID option:selected").text();
            var datavalue = $("#ModuleID option:selected").val();
            if (datavalue != 0) {

                getUserList(datavalue);
            }
            else {

                $("#tablecontainer").html("");
                $("#tablecontainer").html($("#selectDesignatioMsg").html());
            }

        } catch (error) {
            alert(error.message);
        }
    });
    function check() {
        var IsValid = true;

        if ($("input[name=date-range-picker]").val() == '') {
            var dlg = bootbox.alert('Please select Date Range.', function (e) {
                $(dlg).modal('hide');
            });

            IsValid = false;
        }

        return IsValid;
    }
    function getUserList(datavalue) {

        $("#searchcriteriavalueDiv").show();
        $("#loader-wrapper").show();
        var pathurl = "@Url.Action("FillModuleUserList", "SmsAndEmail")";
		$.ajax({
		    url: pathurl,
		    type: 'GET',
		    data: { moduleID: datavalue },
		    success: function (data) {
		        if (data) {
		            $("#UserID").html("");
		            $("#UserID").append($("<option></option>").val(0).html('--All--'))
		            for (var i = 0; i < data.length; i++) {
		                var item = data[i];

		                $("#UserID").append($("<option></option>").val(item.ModuleUseID).html(item.ModuleUseID + ' - ' + item.ModuleUseName))
		            }
		            $("#UserID").trigger("chosen:updated");
		            $("#loader-wrapper").hide();
		        }
		    }
		});
    }

    function getNoticeReplyReport() {
        

        var DepartmentID = $("#departmentID option:selected").val();
        var MemberID = $("#memberID option:selected").val();
        var SessionDate = $("#DdlSessionDates option:selected").text();

        $("#loader-wrapper").show();

        var pathurl = "@Url.Action("/Notices/Report/QuestionsNoticesReplyReportPartial")";
			$.ajax({
			    url: "/Notices/Report/QuestionsNoticesReplyReportPartial",
			    type: 'GET',
			    data: { DepartmentID: DepartmentID, MemberID: MemberID, SessionDate: SessionDate },
			    success: function (data) {
			        $("#buttons").show();
			        $("#tablecontainer").html("");
			        $("#tablecontainer").html(data);
			        $("#loader-wrapper").hide();

			        

			    }
			});



        }




        function fillDepartment() {
            $("#loader-wrapper").show();

            $.ajax({
                url: "/Notices/Report/fillDepartment",
                type: 'GET',
                success: function (data) {
                    if (data) {
                        $("#departmentID").html("");
                        $("#departmentID").append($("<option></option>").val(0).html('--All--'))
                        for (var i = 0; i < data.length; i++) {
                            var item = data[i];

                            $("#departmentID").append($("<option></option>").val(item.DepartrmentID).html(item.DepartrmentID + ' - ' + item.DepartmentName))
                        }
                        $("#departmentID").trigger("chosen:updated");
                        $("#loader-wrapper").hide();
                    }
                }
            });
        }

        function fillCurrentMember() {
            $("#loader-wrapper").show();
            var pathurl = "@Url.Action("fillCurrentMember", "loan")";
        $.ajax({
            url: "/Accounts/loan/fillCurrentMember",
            type: 'GET',
            success: function (data) {
                if (data) {
                    $("#memberID").html("");
                    $("#memberID").append($("<option></option>").val(0).html('--All--'))
                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];

                        $("#memberID").append($("<option></option>").val(item.MemberCode).html(item.MemberCode + ' - ' + item.MemberName))
                    }
                    $("#memberID").trigger("chosen:updated");
                    $("#loader-wrapper").hide();
                }
            }
        });
    }


    function ExportPassListInPDF() {

        var DepartmentID = $("#departmentID option:selected").val();
        var MemberID = $("#memberID option:selected").val();
        var SessionDate = $("#DdlSessionDates option:selected").text();
        $('#loader-wrapper').show();

        var ss = "<input type='hidden' name='DepartmentID' value='" + DepartmentID + "' >" +
      "<input type='hidden' name='MemberID' value='" + MemberID + "' >" +
             "<input type='hidden' name='SessionDate' value='" + SessionDate + "' >";

        $('body').prepend("<form method='post' action='/Notices/Report/DownloadPDF'  target='posthereonly'  style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
        $('#tempForm').submit();
        $("tempForm").remove();


        setTimeout(function () {
            $('#loader-wrapper').hide();
        }, 2000);

    }


    function ExportPassListInExcel() {

        var DepartmentID = $("#departmentID option:selected").val();
        var MemberID = $("#memberID option:selected").val();
        var SessionDate = $("#DdlSessionDates option:selected").text();

        $('#loader-wrapper').show();
        var IsValid = true;
        $('.ErrorMessage').empty();
        if ($('#SearchsessionLst').val() == '0') {
            $('#SearchsessionLst').css("border", "1px solid red");
            $('#SearchsessionLst').after("<span class='ErrorMessage'>Required</span>");
            IsValid = false;
        }
        if ($('#SearchsessionDateLst').val() == '0') {
            $('#SearchsessionDateLst').css("border", "1px solid red");
            $('#SearchsessionDateLst').after("<span class='ErrorMessage'>Required</span>");
            IsValid = false;
        }
        if (IsValid == true) {
            $('#loader-wrapper').show();
            var assembly = $("#SearchassemblyLst").val();
            var session = $("#SearchsessionLst").val();
            var date = $("#SearchsessionDateLst").val();
            var ss = "<input type='hidden' name='DepartmentID' value='" + DepartmentID + "' >" +
          "<input type='hidden' name='MemberID' value='" + MemberID + "' >" +
                 "<input type='hidden' name='SessionDate' value='" + SessionDate + "' >";


            $('body').prepend("<form method='post' action='/Notices/Report/DownloadExcel' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
            $('#tempForm').submit();
            $("tempForm").remove();


            setTimeout(function () {
                $('#loader-wrapper').hide();
            }, 2000);
        }
    }

</script>

