﻿

<div id="breadcrumbs" class="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>



    <ul class="breadcrumb">


        <li id="secondLink">
            <a href="#"></a>
        </li>

        <li class="active" id="thirdLink">DashBoard</li>


    </ul>
    @*<span style="font-size:medium" class="ace-icon fa fa-star orange"> Mobile No: 345</span>*@
  
    <div class="legAssm">

        <span id="SpnAssemList"></span>
       <span id="SpnSessList"></span>
       
    </div>
</div>





<script type="text/javascript">

    function ChangeProgress(ChangeText) {
        if (ChangeText != "") {
            if (ChangeText == "progressSUN") {
                $("#progressSUN").show();
                $("#progressBO").hide();
            }
            else {
                $("#progressSUN").hide();
                $("#progressBO").show();
            }
        }
    }

    function ChangeBreadCrumbParent(firstText, firstLink) {

        $("#secondLink").empty();
        var firstlinkHtml = '<a href="javascript:void(0);" onclick="' + firstLink + '">' + firstText + '</a>';
        $("#secondLink").html(firstlinkHtml);
        $("#thirdLink").empty();


    }


    function ChangeBreadCrumbChild(secondText, secondLink) {

        $("#thirdLink").empty();
        var secondlinkHtml = '<a href="javascript:void(0);" onclick="' + secondLink + '">' + secondText + '</a>';
        $("#thirdLink").html(secondlinkHtml);

    }

    function ChangeAS(id) {
        if ($("#" + id).html() == "Change") {
            $("#" + id).html("Apply")
            $("#DdlAssembly").prop("disabled", false);
            $("#DdlSession").prop("disabled", false);
            $("#DdlAssembly").css({
                "background-color": "white",
                "color": "black"
            })
            $("#DdlSession").css({
                "background-color": "white",
                "color": "black"
            })
        }
        else if ($("#" + id).html() == "Apply") {
            $("#" + id).html("Change")
            $("#DdlAssembly").prop("disabled", true);
            $("#DdlSession").prop("disabled", true);
            $("#DdlAssembly").css({
                "background-color": "#d6487e",
                "color": "white"
            })
            $("#DdlSession").css({
                "background-color": "#9585bf",
                "color": "white"
            })

            $.ajax({
                url: "/Home/GetDataByAssemblySession",
                type: 'GET',
                data: {
                    AssemblyId: $("#DdlAssembly").val(),
                    SessionId: $("#DdlSession").val()
                },
                success: function (data) {
                    if (data == "Success") {
                        var url = '@Url.Action("Index", "OneTimeUserRegistrationController", new { area = "OneTimeUserRegistration" })';
                        url = url.replace('amp;', '');
                        url = url.replace('amp;', '');
                        window.open(url, "_parent");
                    }
                }
            })

        }

}

$("#DdlAssembly").change(function () {

    var AssemblyId = $("#DdlAssembly").val();
    $.ajax({
        url: "/Notices/OnlineMemberQuestions/GetSessionByAssemblyId",
        type: 'GET',
        data: { AssemblyId: AssemblyId },
        success: function (data) {
            $("#DdlSession").empty();
            $.each(data, function (index, optiondata) {
                $("#DdlSession").append("<option value='" + optiondata.SessionCode + "'>" + optiondata.SessionName + "</option>");
            });
        }
    })

});

</script>












