﻿@model List<SBL.DomainModel.Models.eFile.eFileAttachment>
@{   
    int count = 0;
}
  
<table class="table table-striped table-bordered table-hover dataTable ReportList" id="ReviewReportList" aria-describedby="sample-table-2_info">
                            <thead>
                                <tr role="row">
                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" onclick="javascript:window.location.href='/SuperAdmin/Committee/GetAllCommitee';">@Resources.MasterDataDashboard.SNo</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Title</th>

                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.Description</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Create Date</th>
                                    @*<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Status</th>*@
                                    
                                     <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                @foreach (var item in Model)
                                {
                                    count = count + 1;  
                                    <tr style="cursor:pointer;">
                                        <td class="center">
                                            @count
                                            <input type="hidden" value="@item.eFileAttachmentId" id="hdAttachId" />
                                        </td>
                                        <td style="width:40%">@item.Title</td>
                                        <td style="width:50%">@item.Description</td>
                                        <td style="width:10%">@Convert.ToDateTime(item.CreatedDate).ToString("dd/MM/yyyy")</td>                                        
                                        <td>@if(item.Approve==0){
                                            <span class="label" >Approve</span>}
                                            else if (item.Approve == 1)
                                            {<span class="label">Approved</span>                                                
                                            }
                                            
                                        </td>                                
                                    </tr>                                                                
                                }

                            </tbody>
                        </table>



@Scripts.Render("~/assets/js/jquery-ui.min.js","/assets/js/jquery.dataTables.min.js","/assets/js/jquery.dataTables.bootstrap.js")
<script>
    $(document).ready(function () {
        //Pagination
        jQuery(function ($) {
            var oTable1 =
            $('.ReportList')          
            .dataTable({
                bAutoWidth: true,
                "aoColumns": [
                  { "bSortable": false },
                  null, null, null,
                  { "bSortable": false }
                ]

            });

            $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('table')
                var off1 = $parent.offset();
                var w1 = $parent.width();

                var off2 = $source.offset();
                //var w2 = $source.width();

                if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
                return 'left';
            }

        })

    })
</script>