﻿@*@model SBL.DomainModel.ComplexModel.QuestionListPDFViewModel*@
@model SBL.DomainModel.Models.Notice.tMemberNotice
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}
<link href="~/assets/css/datepicker.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        //$("select").addClass("col-xs-12 col-sm-6 col-md-6");
    });

</script>



@Html.Partial("_LeftMenu")
<div class="main-content">
    
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "QuestionListPDF")">@Resources.MasterDataDashboard.Home</a>
            </li>
            <li>
               @* <a href="@Url.Action("Index", "QuestionListPDF")">@Resources.MasterDataDashboard.QuestionListPDFGenerator</a>*@
                <li class="active">Ward</li>
            </li>
                <li class="active"> Ward and Office</li>
        </ul>
        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>
    </div>






    <div class="page-content">

    	<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div class="widget-box">
						<div class="widget-header">
                            <h4 class="widget-title"> Ward & Office Management</h4>

							<div class="widget-toolbar">
								

								<label>
								Select Member To Whom You Want To Manage Constituency & Office          
			  @Html.DropDownListFor(m => m.MemberId, new SelectList(Model.NewmemberList, "MemberId", "MemberName"), new { @id = "DdlMember",})
								</label>
								<button class="btn btn-xs btn-primary btn-bold" id="btnSearch" onclick="SetSession()">
									<i class="ace-icon fa fa-search bigger-150"></i>
									<span class="bigger-110">Get Data</span>
								</button>
							</div>
						</div>
                         
						<div class="widget-body">
							<div class="widget-main">
								<div class="pass-table">
								
									<!-- PAGE CONTENT ENDS -->
								</div>
							</div>
						</div>
                      
					</div>
					<!-- /.col -->
                      <div class="page-content" id="MainDiv">
             
	</div>
           @*   <div id="divbindList">
</div>*@
				</div>
          
				<!-- /.row -->
			</div>
       
          
            
         
    </div>
      
    
 	



</div>

<script src="~/assets/js/bootbox.min.js"></script>
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>

<script type="text/javascript">
    
    function GetActionView() {
        GetDivData();
        resizeLeftPanel(60);
        $("#two-column").css("display", "block")       
            $("#divLeftContainer").css("display", "none")
            $("#divRightContainer").css("display", "none")
            $('#outerDiv').hide();
            $("#outerDiv").html("");
            $("#FormPart").html("");     
            $('.widget-box').hide();
            $("#loader-wrapper").show();
            $.ajaxSetup({ cache: false });         
            var pathurl = '@Url.Action("GetAllDepartmentoffice", "OnlineMemberQuestions", new { @area = "Notices" })';
			$.ajax({
			    url: pathurl,
			    type: 'GET',
			    data: {},
			    success: function (data) {
			        $("#divDataContainer").html(data);
			        $("#fullsizeDiv").empty();                
			        document.getElementById("floating-box").style.left = "457px";
			    }
			});
			$.ajaxSetup({ cache: false });
			var pathurl = '@Url.Action("GetAllMappedoffice2", "OnlineMemberQuestions", new { @area = "Notices" })';
			$.ajax({
			    url: pathurl,
			    type: 'GET',
			    data: {},
			    success: function (data) {
			        $("#RightSidebar").html(data);
			        $("#loader-wrapper").hide();
			        document.getElementById("floating-box").style.left = "457px";
			    }
			});                
    }
    function GetDivData() {
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetDivData", "OnlineMemberQuestions" , new { @area = "Notices" })';
		$.ajax({
		    url: pathurl,
		    type: 'GET',
		    success: function (data) {
		        $("#MainDiv").empty();
		        $("#MainDiv").html(data);

		    }
		});
    }

    function SetSession() {
        var value = $("#DdlMember").val()    
        $.ajax({
            url: "/Notices/OnlineMemberQuestions/SetSession",
            type: 'GET',
            data: {
                value: value
            },
            success: function (data) {
                if (data) {

                    GetActionView()

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

    function resizeLeftPanel(sizeRatio) {
        var parentWidth = $('#resize-left').parent().width();
        $('#resize-left').animate({ width: +(sizeRatio) + '%' }, 500);
        $('#resize-right').animate({ width: +(100 - sizeRatio) + '%' }, 500);
    }
</script>
