﻿
		<div class="page-header">
			<h1>Loan Section
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
				Coming Disbursement List
				</small>
			</h1>
		</div>
		<div id="prodiv" style="display: none;">
			<img src="@Url.Content("~/images/pro.gif")" />
		</div>
		
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div class="widget-box">
						<div class="widget-header">

							<div class="widget-toolbar">
								<div class="row" style="padding-top: 2px;">
									<div class="col-xs-8 col-sm-4">
										<h4 class="widget-title">
											
											Disbursement List
										</h4>
									</div>
									<div class="col-xs-8 col-sm-8">

										<div class="input-group">
											<span class="input-group-addon">
												<i class="fa fa-calendar bigger-110"></i>
											</span>
											<input class="form-control input-mask-date" name="date-range-picker" id="id-date-range-picker-1" style="margin-top: 1px;" placeholder="Select Date-Range" required>
											<span class="input-group-btn">
												<button class="btn btn-sm btn-default" type="button" onclick="getList()">
													<i class="ace-icon fa fa-search bigger-120 white"></i>
													Search!
												</button>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="widget-body">
							<div class="widget-main">
								<div class="pass-table">
									<div id="tablecontainer">
									</div>
									<!-- PAGE CONTENT ENDS -->
								</div>
							</div>
						</div>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		
	
	<div id="member-details" class="modal fade" tabindex="-1">
	</div>
	
		<div id="Save-loanee" class="modal fade" tabindex="-1">
		</div>
	
	
		<div id="modal-wizard" class="modal">
		</div>

	
	<div style="visibility: hidden" id="returnLoanNumber"></div>
	<!-- /.main-content -->

	



<!-- ace scripts -->

<script src="~/assets/js/CommonNotify.js"></script>

<script>
	$(document).ready(function () {
	    $("#loader-wrapper").hide();
	});
	$('input[name=date-range-picker]').daterangepicker({
		'applyClass': 'btn-sm btn-success',
		'cancelClass': 'btn-sm btn-default',
		locale: {
			applyLabel: 'Apply',
			cancelLabel: 'Cancel',
		}
	})
				.prev().on(ace.click_event, function () {
					$(this).next().focus();
				});

	function check() {
		var IsValid = true;
	   
		if ($("input[name=date-range-picker]").val() == '') {
			var dlg = bootbox.alert('Please select Date Range.', function (e) {
				$(dlg).modal('hide');
			});

			IsValid = false;
		}
		return IsValid;
	}
	function getList() {
		if (check()) {
			var datearr = $("input[name=date-range-picker]").val().split('-');
			var date1 = datearr[0];
			var date2 = datearr[1];

			$("#loader-wrapper").show();
			var pathurl = "@Url.Action("getDisbursementList", "loan")";
			$.ajax({
				url: pathurl,
				type: 'GET',
				data: { from: date1, to: date2 },
				success: function (data) {
					$("#tablecontainer").html("");
					$("#tablecontainer").html(data);
					$("#loader-wrapper").hide();

				}
			});
		}
	}
</script>