﻿@model SBL.eLegistrator.HouseController.Web.Areas.Accounts.Models.showMemberDetails
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="blue bigger">Save Loanee Details</h4>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12 col-sm-5 ">
                    <div class="polaroid">
                        @{
                            string Id = (Model._mMemberAccountDetails.PhotoCode.ToString().Length == 1) ? ("0" + Model._mMemberAccountDetails.PhotoCode.ToString()) : Model._mMemberAccountDetails.PhotoCode.ToString();
                            string Image = "/Images/Assembly/12/thumb/" + Id + ".jpg";
                        }
                        <img src="@Image" width="180" />
                        <p>@Html.HiddenFor(a => a._mMemberAccountDetails.MemberName) @Model._mMemberAccountDetails.MemberName </p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-7">
                    <div class="form-group">
                        <div class="row  smaller lighter orange" style="margin-right: 10%; border-bottom: 1px inset #fdd0ac; margin-right: 10%; margin-left: 0%;">
                            <i class="ace-icon glyphicon glyphicon-user bigger-130"></i>
                            <span class="hspan ">@Html.HiddenFor(a => a._mMemberAccountDetails.MemberCode) @Model._mMemberAccountDetails.MemberCode    @Model._designation </span>
                        </div>
                        <div style="margin-top: 5px; padding-bottom: 3px; margin-right: 10%; margin-left: 0%; border-bottom: 1px dotted #ccc;">
                            <i class="ace-icon glyphicon glyphicon-phone-alt bigger-90"></i>
                            <span>@Html.HiddenFor(a => a._mMemberAccountDetails.MobileNumber) @Model._mMemberAccountDetails.MobileNumber</span><br />
                            <i class="ace-icon glyphicon glyphicon-home bigger-90"></i>
                            <span>@Html.HiddenFor(a => a._mMemberAccountDetails.MemberAddress) @Model._mMemberAccountDetails.MemberAddress</span>
                        </div>
                        <div class="space-4"></div>

                        <div style="margin-top: 5px; padding-bottom: 3px; margin-right: 10%; margin-left: 0%; border-bottom: 1px dotted #ccc;">
                            <i class="ace-icon fa fa-certificate bigger-90"></i>
                            <span><b>Constituency</b></span>
                            <span>@Html.HiddenFor(a => a._mMemberAccountDetails.constituencyCode) @Model._mMemberAccountDetails.constituencyCode -@Html.HiddenFor(a => a._mMemberAccountDetails.ConstituencyName) @Model._mMemberAccountDetails.ConstituencyName </span>
                        </div>
                        <div class="space-4"></div>

                        <div style="margin-top: 5px; padding-bottom: 3px; margin-right: 10%; margin-left: 0%;">
                            <i class="ace-icon fa fa-rupee bigger-90"></i>
                            <span><b>Bank Details</b></span>
                            <ol style="list-style: none; margin-bottom: 0px;">
                                <li class="text-success">
                                    <b>Bank Name</b>
                                    @Html.HiddenFor(a => a._mMemberAccountDetails.BankName)  @Model._mMemberAccountDetails.BankName
                                </li>
                                <li class="text-success">
                                    <b>Account Number</b>
                                    @Model._mMemberAccountDetails.AccountNo @Html.HiddenFor(a => a._mMemberAccountDetails.AccountNo)
                                </li>
                                <li class="text-success">
                                    <b>IFSC</b>
                                    @Model._mMemberAccountDetails.IFSCCode @Html.HiddenFor(a => a._mMemberAccountDetails.IFSCCode)
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 widget-container-col ui-sortable">
                    <!-- #section:custom/widget-box.options.transparent -->
                    <div class="widget-box transparent collapsed">
                        <div class="widget-header">
                            <h4 class="widget-title lighter">Description</h4>

                            <div class="widget-toolbar no-border">

                                <a href="#" data-action="collapse">
                                    <i class="ace-icon fa fa-chevron-up"></i>
                                </a>

                                <a href="#" data-action="close">
                                    <i class="ace-icon fa fa-times"></i>
                                </a>
                            </div>
                        </div>

                        <div class="widget-body">
                            <div class="widget-body-inner" style="display: block;">
                                <div class="widget-main padding-6 no-padding-left no-padding-right">
                                    @Html.Raw(Model._mMemberAccountDetails.MemberDetail)
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /section:custom/widget-box.options.transparent -->
                </div>
                <div class="col-sm-4 widget-container-col ui-sortable">
                    <!-- #section:custom/widget-box.options.transparent -->
                    <div class="widget-box transparent collapsed">
                        <div class="widget-header">
                            <h4 class="widget-title lighter">Loan Details</h4>

                            <div class="widget-toolbar no-border">

                                <a href="#" data-action="collapse">
                                    <i class="ace-icon fa fa-chevron-up"></i>
                                </a>

                                <a href="#" data-action="close">
                                    <i class="ace-icon fa fa-times"></i>
                                </a>
                            </div>
                        </div>

                        <div class="widget-body">
                            <div class="widget-body-inner" style="display: block;">
                                <div class="widget-main padding-6 no-padding-left no-padding-right">
                                    <ol style="margin-bottom: 0px; list-style: none;">
                                        @if (Model._loanList != null)
                                        {
                                            foreach (var item in Model._loanList)
                                            {
                                            <li>

                                                <span class="msg-body">
                                                    <span class="msg-title" style="width: 225px;">
                                                        <span class="blue" style="float: left">
                                                            @item.loanTypeName
                                                        </span>
                                                        <span class="msg-time" style="float: right">
                                                            <i class="ace-ico nfa fa-clock-o"></i>
                                                            <span style="float: left">
                                                                @item.loanAmount.00
                                                            </span>
                                                            <span>@(item.loanStatus ? "Complete" : "Active")</span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </li>
                                            }
                                        }
                                        else
                                        {
                                            <li class="text-success">
                                              No existing loan in system.
                                            </li>
                                        }
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- /section:custom/widget-box.options.transparent -->
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-sm" data-dismiss="modal">
                <i class="ace-icon fa fa-times"></i>
                Cancel
            </button>

            <button class="btn btn-sm btn-primary">
                <i class="ace-icon fa fa-check"></i>
                Save
            </button>
        </div>
    </div>
</div>
