﻿<div class="page-header">
    <h1>Loan Section
				<small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Loan Statement 
                </small>
    </h1>
</div>
<div class="wizard-actions">
    <div class="col-xs-12" id="ButtonGroup">
        <button type="button" onclick="PrintPass();" name="Mode" value="Print" id="PrintButton" class="btn btn-warning"><i class="ace-icon glyphicon  glyphicon-print"></i>Print</button>
    </div>
</div>
<div id="prodiv" style="display: none;">
    <img src="@Url.Content("~/images/pro.gif")" />
</div>
@using (Html.BeginForm("generateLonaPdf", "loan", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title">Active Loan List </h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <div class="pass-table">
                            <div id="tablecontainer">
                            </div>
                            <!-- PAGE CONTENT ENDS -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.page-content -->
        }

<div id="member-details" class="modal fade" tabindex="-1">
</div>
@using (Html.BeginForm("generateLonaPdf", "loan", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
		

	
    <div id="updateLoanInstallmentModal" class="modal fade" tabindex="-1">
    </div>
        }
@using (Ajax.BeginForm("updateLoanInst", "loan", FormMethod.Post, new AjaxOptions
        {
            UpdateTargetId = "updateLoanInstallmentModal",
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "OnSuccessupdateLoanInst()",
            LoadingElementId = "loader-wrapper"
        }, new { @class = "form-horizontal", @role = "form" }))
{

    <div class="modal" id="updateInst">
    </div>
    }

@using (Ajax.BeginForm("updateLoanInstallment", "loan", FormMethod.Post, new AjaxOptions
     {
         UpdateTargetId = "updateLoanInstallmentModal",
         OnSuccess = "OninstSuccess(data)",
         LoadingElementId = "loader-wrapper"

     }, new { @class = "form-horizontal", @role = "form" }))
{
    <div id="newLoanInstallmentModal" class="modal fade" tabindex="-1">
    </div>
    }
<!-- /.main-content -->


<div id="modal-wizard" class="modal">
</div>

<!-- ace scripts -->

<script type="text/javascript">

    $(document).ready(function () {
        try {
            getResult();
        }
        catch (error) {
        }
    });
    function OninstSuccess() {
        $("#updateLoanInstallmentModal").modal('hide');
        ShowNotification("success", "Installment has been update ...!");

    }
    function OnSuccessupdateLoanInst() {
        $("#updateInst").modal('hide');
        ShowNotification("success", "Installment has been update ...!");
    }
    function OnFailure() {
        $("#errormsg").slideDown(1000);
        $("#errormsg").delay(1000);
        $("#errormsg").slideUp(1000);

    }

    function OnComplete() {
        $("#tablecontainer").fadeTo(1000, 1);
        $("#tablecontainer").delay(1000);
    }

    function OnSuccess() {
        //$("#tablecontainer").delay(1000);
        //$("#tablecontainer").slideDown(1000);
        //$("#tablecontainer").delay(1000);
        //$("#tablecontainer").slideUp(3000);

    }
    function OnBegin() {

        $("#tablecontainer").fadeTo(1000, 0.1);
        $("#tablecontainer").delay(1000);
    }

    function getResult() {
        $("#loader-wrapper").show();
        var pathurl = "@Url.Action("getActiveLoanListforStatement", "loan")";
		$.ajax({
		    url: pathurl,
		    type: 'GET',
		    success: function (data) {
		        $("#tablecontainer").html("");
		        $("#tablecontainer").html(data);
		        $("#loader-wrapper").hide();

		    }
		});
    }


    function PrintPass() {

        $("#sample-table-2").print(
                {
                    stylesheet: "/assets/css/sbl/pass-style.css",


                    rejectWindow: true,
                    iframe: true,
                    mediaPrint: true,



                });

        return false;

    }
</script>
