﻿
		<div class="page-header">
			<h1>Loan Section
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					Loan Statement
				</small>
			</h1>
		</div>
		<div id="prodiv" style="display: none;">
			<img src="@Url.Content("~/images/pro.gif")" />
		</div>

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="widget-box">
					<div class="widget-header">
						<h4 class="widget-title">Active Loan List </h4>
					</div>
					<div class="widget-body">
						<div class="widget-main">
							<div class="pass-table">
								<div id="tablecontainer">
								</div>
								<!-- PAGE CONTENT ENDS -->
							</div>
						</div>
					</div>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.page-content -->
	
	<div id="member-details" class="modal fade" tabindex="-1">
	</div>
	@using (Ajax.BeginForm("updateLoan", "loan", FormMethod.Post, new AjaxOptions
		{
			UpdateTargetId = "updateLoanInstallmentModal",
			InsertionMode = InsertionMode.Replace,
			OnSuccess = "OnSuccess()",
			LoadingElementId = "loader-wrapper"
		}, new { @class = "form-horizontal", @role = "form" }))
	{

		<div id="updateLoanInstallmentModal" class="modal fade" tabindex="-1">
		</div>
	}
	 @using (Ajax.BeginForm("updateDisbursement", "loan", FormMethod.Post, new AjaxOptions
		{
			UpdateTargetId = "updateLoanInstallmentModal",
			InsertionMode = InsertionMode.Replace,
			OnSuccess = "OnSuccess()",
			LoadingElementId = "loader-wrapper"
		}, new { @class = "form-horizontal", @role = "form" }))
	{

		<div id="updateDisbursementModal" class="modal fade" tabindex="-1">
		</div>
	}
	<!-- /.main-content -->

	

	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
		<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
	</a>

<div id="modal-wizard" class="modal">
</div>

<!-- ace scripts -->

<script type="text/javascript">

	$(document).ready(function () {
		try {
			getResult();
		}
		catch (error) {
		}
	});
	function OnSuccess() {
		getResult();
		$("#updateLoanInstallmentModal").modal('hide');
		ShowNotification("success", "Loan Details has been updated!");

	}

	function getResult() {
		$("#loader-wrapper").show();
		var pathurl = "@Url.Action("getActiveLoanListForManage", "loan")";
		$.ajax({
			url: pathurl,
			type: 'GET',
			success: function (data) {
				$("#tablecontainer").html("");
				$("#tablecontainer").html(data);
				$("#loader-wrapper").hide();

			}
		});
	}
</script>