﻿@model  SBL.DomainModel.Models.Loan.LoanType



	
 <script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
   
<script src="~/Scripts/jquery-1.7.min.js"></script>
	<div class="widget-body">
		<div class="widget-main no-padding-right no-padding-left">
				 <div class="alert alert-danger" id="errormsg">
					<button type="button" class="close" data-dismiss="alert">
						<i class="ace-icon fa fa-times"></i>
					</button>
					<i class="ace-icon fa fa-ban"></i>
					<strong>Error!</strong>
					
					There is some error.Please contact to system administrator.
											<br>
				</div>
				<div class="alert alert-info" id="confirmmsg">
					<button type="button" class="close" data-dismiss="alert">
						 <i class="ace-icon fa fa-times"></i>
					</button>
					<strong>
						<i class="ace-icon fa fa-check-square-o"></i>
						Success!
					</strong>

					Salary has been generated successfully.
											<br>
				</div>
			<div class="profile-user-info profile-user-info-striped">
				<div class="profile-info-row">
				</div>
				<div class="profile-info-row">
				 
					<div class="profile-info-name" style="width:200px !important;">
						<label class="col-sm-12 control-label no-padding-right" for="Name">Loan Type Names <span style="color: red">*</span>:</label>
					</div>

					<div class="profile-info-value">
						<input type="hidden" value="update" name="Mode"  />
						<input type="hidden" value="@Model.loanID" name="loanID"  />
						<span id="spnDetails" class="">
						   @Html.TextBoxFor(model => model.loanName, new {@id = "TxtName", @class = "col-xs-10 col-sm-5", @placeholder = "Name", @autocomplete = "off",style = "width: 350px" ,@required="required" })

							<br />
										@Html.ValidationMessageFor(model => model.loanName)
						</span>
					</div>
				</div>
			   
				<div class="profile-info-row">
				 
					<div class="profile-info-name" style="width:200px !important;">
						<label class="col-sm-12 control-label no-padding-right" for="Name">Major Code <span style="color: red">*</span>:</label>
					</div>

					<div class="profile-info-value">
						
						<span id="spnDetails" class="">
						   @Html.TextBoxFor(model => model.majorCode, new {@id = "TxtName", @class = "col-xs-10 col-sm-5", @placeholder = "Major Code text", @autocomplete = "off",style = "width: 350px" ,@required="required" })
							    @Html.TextBoxFor(model => model.majorCodeText, new { @id = "TxtName", @class = "col-xs-10 col-sm-5", @placeholder = "Major Code Text", @autocomplete = "off", style = "width: 350px", @required = "required" })<br />
										@Html.ValidationMessageFor(model => model.majorCode)
						</span>
					</div>
				</div>

				<div class="profile-info-row">
				 
						<div class="profile-info-name" style="width:200px !important;">
						<label class="col-sm-12 control-label no-padding-right" for="Name">Sub Major Code <span style="color: red">*</span>:</label>
					</div>

					<div class="profile-info-value">
						
						<span id="spnDetails" class="">
						   @Html.TextBoxFor(model => model.subMajorCode, new {@id = "TxtName", @class = "col-xs-10 col-sm-5", @placeholder = "Sub Major Code", @autocomplete = "off",style = "width: 350px" ,@required="required" })
                             @Html.TextBoxFor(model => model.subMajorCodeText, new { @id = "TxtName", @class = "col-xs-10 col-sm-5", @placeholder = "Sub Major Code Text", @autocomplete = "off", style = "width: 350px", @required = "required" })
										@Html.ValidationMessageFor(model => model.subMajorCode)
						</span>
					</div>
				</div>
				<div class="profile-info-row">
				 
					<div class="profile-info-name" style="width:200px !important;">
						<label class="col-sm-12 control-label no-padding-right" for="Name">Minor Code <span style="color: red">*</span>:</label>
					</div>

					<div class="profile-info-value">
						
						<span id="spnDetails" class="">
						   @Html.TextBoxFor(model => model.minorCode, new {@id = "TxtName", @class = "col-xs-10 col-sm-5", @placeholder = "Minor Code", @autocomplete = "off",style = "width: 350px" ,@required="required" })
                            @Html.TextBoxFor(model => model.minorCodeText, new { @id = "TxtName", @class = "col-xs-10 col-sm-5", @placeholder = "Minor Code Text", @autocomplete = "off", style = "width: 350px", @required = "required" })
										@Html.ValidationMessageFor(model => model.minorCode)
						</span>
					</div>
				</div>

				<div class="profile-info-row">
				 
					<div class="profile-info-name" style="width:200px !important;">
						<label class="col-sm-12 control-label no-padding-right" for="Name">Sub Code<span style="color: red">*</span>:</label>
					</div>

					<div class="profile-info-value">
					
						<span id="spnDetails" class="">
						   @Html.TextBoxFor(model => model.subCode, new {@id = "txtSubCode", @class = "col-xs-10 col-sm-5", @placeholder = "Sub-minor Code ", @autocomplete = "off",style = "width: 350px" ,@required="required" })
								   @Html.TextBoxFor(model => model.subCodeText, new { @id = "TxtName", @class = "col-xs-10 col-sm-5", @placeholder = "Sub-minor Code Text", @autocomplete = "off", style = "width: 350px", @required = "required" })
                            		@Html.ValidationMessageFor(model => model.subCode)
						</span>
					</div>
				</div>

				
			   
			  
			</div>
		  
			   

		</div>


		   <div class="wizard-actions">
			<button type="reset" class="btn btn-sm btn-info"   onclick="return cancelEntry();">
				<i class="ace-icon fa fa-times bigger-125"></i>
			   Cancel
			</button>
				<button type="submit" id="savebtn" class="btn btn-sm btn-purple" >
										<i class="ace-icon fa fa-floppy-o bigger-125"></i>
										Save</button>
		</div>

	   
	</div>
								 



	
	<div id='fullDetailsModel' class="hide">
		<div id='ShowfullDetailsModel' style="text-align: center">
		</div>
	</div>


<script>

	jQuery(document).ready(function () {
		$("#confirmmsg").hide();
		$("#errormsg").hide();
	  
	});

  
	function cancelEntry() {
		var url = '@Url.Action("Index")';
		window.location.href = url;
	}
</script>
<style>
	.hidden {
		display: none;
		visibility: hidden;
	}
</style>

