﻿@model SBL.eLegistrator.HouseController.Web.Areas.Accounts.Models.loanDetailsViewModal
@{

	int count = 0;
}
<link rel="stylesheet" href="~/assets/css/datepicker.css" />
<style>
	.datepicker {
		z-index: 10000 !important;
	}
</style>
<div class="modal-dialog">
	<div class="modal-content" style="width:700px;"  >
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="blue bigger">Update Loan Details</h4>
		</div>

		<div class="modal-body" style=" max-height: 400px; overflow-y: scroll;"  >
			<div class="row" style="padding:0px 10px;">
				<div class="col-xs-12 col-sm-7">
					<div class="form-group">
						<div class="space-4"></div>
						<div class="row  smaller lighter orange" style="margin-right: 10%; border-bottom: 1px inset #fdd0ac; margin-right: 10%; margin-left: 0%;">
							<i class="ace-icon glyphicon glyphicon-user bigger-130"></i>
							<span class="hspan ">@Model._showMemberDetails._mMemberAccountDetails.MemberCode - @Model._showMemberDetails._mMemberAccountDetails.MemberName   </span>
						</div>
						<div style="margin-top: 5px; padding-bottom: 3px; margin-right: 10%; margin-left: 0%; border-bottom: 1px dotted #ccc;">
							<i class="ace-icon glyphicon glyphicon-user bigger-90"></i>
							<span>@Model._showMemberDetails._designation</span><br />
							<i class="ace-icon glyphicon glyphicon-phone-alt bigger-90"></i>
							<span>@Model._showMemberDetails._mMemberAccountDetails.MobileNumber</span><br />
							<i class="ace-icon glyphicon glyphicon-home bigger-90"></i>
							<span>@Model._showMemberDetails._mMemberAccountDetails.MemberAddress</span>
						</div>

						<div class="space-10"></div>
						<div style="margin-top: 5px; padding-bottom: 3px; margin-right: 10%; margin-left: 0%; border-bottom: 1px dotted #ccc;">
							<i class="ace-icon glyphicon glyphicon-star bigger-90"></i>
							<span><b>Loanee Code</b></span>
							<span class="LoaneeCode">@Model._loandeeetails.loaneeID</span>
						</div>
						<div class="space-10"></div>
						<div style="margin-top: 5px; padding-bottom: 3px; margin-right: 10%; margin-left: 0%; border-bottom: 1px dotted #ccc;">
							<i class="ace-icon glyphicon glyphicon-star bigger-90"></i>
							<span><b>Loan Number</b></span>
							<span class="LoaneeCode">@Model._loanDetails.loanNumber 	<input type="hidden" name="_loanDetails.loanNumber" value=" @Model._loanDetails.loanNumber" /> </span>
						</div>
						<div class="space-22"></div>
						<div style="margin-top: 5px; padding-bottom: 3px; margin-right: 10%; margin-left: 0%;">
							<i class="ace-icon fa fa-calendar bigger-90"></i>
							<span><b>Sanction Date</b></span>
							<div class="input-group">
								<input class="form-control date-picker" id="sanctionDate" name="_loanDetails.loanSanctionDate" type="text" data-date-format="dd-mm-yyyy" value="@Model._loanDetails.loanSanctionDate" />
								<span class="input-group-addon">
									<i class="fa fa-calendar bigger-110"></i>
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-5">
					<div class="form-group">
						<label for="form-field-select-3">Loan Type</label>

						<div>
							<select id="loanTypeID" name="_loanDetails.loanTypeID" class="chosen-select form-control" data-placeholder="Choose a loan Type">
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="form-field-username">Loan Amount</label>

						<div>
							<span class="input-icon">
								<input type="text" id="loanAmount" class="input-large" name="_loanDetails.loanAmount" placeholder=" Loan Amount" value="@Model._loanDetails.loanAmount" numberonly />
								<i class="ace-icon fa fa-rupee blue"></i>
							</span>
						</div>
					</div>

					<div class="form-group">
						<label for="form-field-first">Loan Account Number</label>

						<div>
							<span class="input-icon">
								<input type="text" id="loanAccountNumber" name="_loanDetails.loanAccountNumber" class="input-large" value="@Model._loanDetails.loanAccountNumber" placeholder="Account Number" />

								<i class="ace-icon fa fa-th blue"></i>
							</span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-6" style="padding: 0px;">
							<label for="form-field-first"># EMI</label>

							<div>
								<span class="input-icon">
									<input type="text" id="EMI" class="input-small" name="_loanDetails.totalNoofEMI" value="@Model._loanDetails.totalNoofEMI" placeholder="EMI" numberonly />
									<i class="ace-icon fa fa-sort-numeric-asc blue"></i>
								</span>
							</div>
						</div>

						<div class="col-sm-6" style="padding: 0px;">
							<label for="form-field-first">Int. Rate</label>

							<div>
								<span class="input-icon">
									<input type="text" id="intRate" placeholder="Int. Rate" name="_loanDetails.loanInterestRate" value="@Model._loanDetails.loanInterestRate" class="input-small" numberonly />
									<i class="ace-icon fa fa-sort-numeric-asc blue"></i>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			@*<div class="row" >
				<div class="col-xs-12 col-sm-12">

					<div class="widget-box widget-color-blue" id="tenuresDetailsWidget">
						<div class="widget-header">
							<h4 class="widget-title lighter ">Disbursement   <span class="badge badge-warning tcount" id="spancount">0</span><input type="hidden" name="tcount" id="tcount" value="0" />
							</h4>

							<div class="widget-toolbar">

								<button type="button" class="btn btn-minier btn-success" onclick="addDisbursement()">
									<i class="ace-icon fa fa-plus bigger-110"></i>
									Add
								</button>

								
							</div>
						</div>

						<div class="widget-body">
							<div class="widget-body-inner" style="display: block;">
								<div class="widget-main padding-6 no-padding-left no-padding-right">
									<table class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th>Sr.</th>
												<th>Date </th>
												<th>Amount</th>
												<th>Action</th>
											</tr>
										</thead>

										<tbody id="disbursementTable">

											@foreach(var item in Model._loanDetails.disbursementDetails)
											 {
												int rowCounts = 0;

												<tr  id="@rowCounts" aria-readonly="true">
													<td>
														@(rowCounts + 1)
													</td>

													<td>
														<span class="input-icon">
															<input type="text"  name="_loanDetails.disbursementDetails[@count].disburmentDate"  class="Disbursement col-xs-12 form-control date-picker" data-date-format="dd-mm-yyyy" value="@item.disburmentDate.ToString("dd/MM/yyyy")" readonly="@item.disburmentStatus=1?'true':'false'"  /><i class="ace-icon fa fa-calendar blue"></i></span>
													</td>
													<td>
														<span class="input-icon">
															<input type="text"  name="_loanDetails.disbursementDetails[@count].disburmentAmount" value="@item.disburmentAmount" class="Disbursement col-xs-12"  numberonly readonly="@item.disburmentStatus=1?'tru'e:'false'" />
															<i class="ace-icon fa fa-rupee blue"></i></span>
													</td>

													<td>
													   
														<input type="hidden" name="_loanDetails.disbursementDetails[@count].disburmentStatus" value=" @item.disburmentStatus" />
														<input type="hidden" name="_loanDetails.disbursementDetails[@count].disburmentRecDate" value=" @item.disburmentRecDate" />
														<div class="hidden-sm hidden-xs btn-group">
															<button type="button" class="btn btn-xs btn-danger deleteButton" disabled ="@item.disburmentStatus=1?'tru'e:'false'"><i class="ace-icon fa fa-trash-o bigger-120"></i>Delete </button>
														</div>
													</td>
												</tr>
												 count++;
												rowCounts++;

											}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>*@
		</div>

		<div class="modal-footer">
			<button class="btn btn-sm">
				<i class="ace-icon fa fa-times"></i>
				Update
			</button>
			<button class="btn btn-sm" data-dismiss="modal">
				<i class="ace-icon fa fa-times"></i>
				Close
			</button>
		</div>
	</div>
</div>
<script src="~/Scripts/loan.js"></script>
<script>

	try {
		$('.date-picker').datepicker({
			autoclose: true,
			todayHighlight: true,
			format: 'dd/mm/yyyy',

		})
				 //show datepicker when clicking on the icon
				 .next().on(ace.click_event, function () {
					 $(this).prev().focus();
				 });

		jQuery(function ($) {

			$('[data-rel=tooltip]').tooltip();

			$('.chosen-select').chosen({ allow_single_deselect: true });
			//resize the chosen on window resize
			$(window).on('resize.chosen', function () {
				var w = $('.chosen-select').parent().width();
				$('.chosen-select').next().css({ 'width': '200px' });
			}).trigger('resize.chosen');
		});
	}
	catch (error) {
	}
</script>
<script>
	$(document).ready(function () {
		// alert('coming ready');
		fillLoanType();
	});
	function fillLoanType() {
		//  alert('coming');
		try {
			var pathurl = "@Url.Action("fillLoanTypeList", "loan")";

			$.ajax({
				url: pathurl,
				type: 'GET',
				success: function (data) {
					if (data) {
						$("#loanTypeID").html("");
						//  $("#loanTypeID").append($("<option></option>").val(0).html('--All--'))
						for (var i = 0; i < data.length; i++) {
							var item = data[i];

							$("#loanTypeID").append($("<option></option>").val(item.loanID).html(item.loanType + ' - ' + item.AccountHeadsName))
						}
						$("#loanTypeID").trigger("chosen:updated");
					}
				}
			});
		} catch (error) {
			alert(error.message);
		}

	}
</script>