﻿
@{
	ViewBag.Title = "Custom financial Year Report";
	Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@Html.Partial("_LeftMenu")
<style type="text/css">
	#prodiv {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100px;
		height: 100px;
		margin-top: -9em; /*set to a negative number 1/2 of your height*/
		margin-left: -15em; /*set to a negative number 1/2 of your width*/
		background-color: #f3f3f3;
	}
</style>
<link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
<!-- page specific plugin styles -->
<link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="~/assets/css/chosen.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.css" />
<link rel="stylesheet" href="~/assets/css/daterangepicker.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.css" />
<link rel="stylesheet" href="~/assets/css/colorpicker.css" />
<script src="~/assets/js/jquery.autosize.min.js"></script>
<!-- text fonts -->
<link rel="stylesheet" href="~/assets/css/ace-fonts.css" />

<!-- ace styles -->
<link rel="stylesheet" href="~/assets/css/ace.min.css" />

<!--[if lte IE 9]>
			<link rel="stylesheet" href="~/assets/css/ace-part2.min.css" />
		<![endif]-->
<link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
<link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />

<!--[if lte IE 9]>
		  <link rel="stylesheet" href="~/assets/css/ace-ie.min.css" />
		<![endif]-->

<!-- inline styles related to this page -->

<!-- ace settings handler -->
<script src="~/assets/js/ace-extra.min.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lte IE 8]>
		<script src="~/assets/js/html5shiv.js"></script>
		<script src="~/assets/js/respond.min.js"></script>
		<![endif]-->
<div class="main-content">
	<!-- #section:basics/content.breadcrumbs -->
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="ace-icon fa fa-home home-icon"></i>
				<a href="@Url.Action("NewsEntryFormIndex", "News")">Accounts</a>
			</li>

			<li>
				<a href="@Url.Action("NewsEntryFormIndex", "News")">Loan Section </a>
			</li>
			<li class="active">Loan Master</li>
		</ul>

		<div class="legAssm">
			<span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
			<span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
		</div>
	</div>

	<!-- /section:basics/content.breadcrumbs -->
	<div class="page-content">
		<!-- #section:settings.box -->

		<!-- /section:settings.box -->
		<div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
		</div>
		<div class="page-header">
			<h1>Loan Section
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					Challan List
				</small>
			</h1>
		</div>
		<div id="prodiv" style="display: none;">
			<img src="@Url.Content("~/images/pro.gif")" />
		</div>
	
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div class="widget-box">
						<div class="widget-header">
							<h4 class="widget-title"> Financial Year Loan Report</h4>

							<div class="widget-toolbar">
								

								<label>
								Select Financial Year
				<select class="chosen-select form-control" id="searchcriteriavalue" name="searchcriteriavalue" data-placeholder="Select Financial Year...">
					<option>-------</option>
				</select>
								</label>
								<button class="btn btn-xs btn-primary btn-bold" onclick="getList()">
									<i class="ace-icon fa fa-search bigger-150"></i>
									<span class="bigger-110">Search</span>
								</button>
							</div>
						</div>
						<div class="widget-body">
							<div class="widget-main">
								<div class="pass-table">
									<div id="tablecontainer">
									</div>
									<!-- PAGE CONTENT ENDS -->
								</div>
							</div>
						</div>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		
	</div>

	<!-- /.main-content -->

	<div class="footer">
		<div class="footer-inner">
			<!-- #section:basics/footer -->
			<div class="footer-content">
				@*<span class="bigger-100">
					<span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
				</span>*@
			</div>

			<!-- /section:basics/footer -->
		</div>
	</div>

	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
		<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
	</a>
</div>

<script src="~/assets/js/chosen.jquery.min.js"></script>
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/fuelux/fuelux.wizard.min.js"></script>
<script src="~/assets/js/jquery.validate.min.js"></script>
<script src="~/assets/js/additional-methods.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/select2.min.js"></script>
<script src="~/assets/js/ace-extra.min.js"></script>

<!-- ace scripts -->

<script src="~/assets/js/CommonNotify.js"></script>

<script>
	try {
		$('.chosen-select').chosen({ allow_single_deselect: true });
		//resize the chosen on window resize
		$(window).on('resize.chosen', function () {
			var w = $('.chosen-select').parent().width();
			$('.chosen-select').next().css({ 'width': '300px' });
		}).trigger('resize.chosen');
	}
	catch (error) {
	}
	try {
		$('#chosen-multiple-style').on('click', function (e) {
			var target = $(e.target).find('input[type=radio]');
			var which = parseInt(target.val());
			if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
			else $('#form-field-select-4').removeClass('tag-input-style');
		});
	}
	catch (error) {
	}
	$(document).ready(function () {
		fillList();
	});
	
   
	function fillList() {
		$("#loader-wrapper").show();

		var pathurl = "@Url.Action("getCustomFinancialYearList", "loan")";
		$.ajax({
			url: pathurl,
			type: 'GET',
			success: function (data) {
						$("#searchcriteriavalue").html("");
					//$("#searchcriteriavalue").append($("<option></option>").val(0).html('--Select--'))
					for (var i = 0; i < data.length; i++) {
						var item = data[i];

						$("#searchcriteriavalue").append($("<option></option>").val(item.yearValue).html(item.yearText))
					}
					$("#searchcriteriavalue").trigger("chosen:updated");
					$("#loader-wrapper").hide();
				
			}
		});
	}
	function getList() {
		
		var datavalue = $("#searchcriteriavalue option:selected").val();
		$("#loader-wrapper").show();
		var pathurl = "@Url.Action("resultForCustomFinancialYear", "loan")";
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: { year:datavalue },
			success: function (data) {
				$("#tablecontainer").html("");
				$("#tablecontainer").html(data);
				$("#loader-wrapper").hide();

			}
		});
	}
</script>
