﻿@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}



@Html.Partial("_LeftMenu", null)
<script src="~/assets/js/CommonNotify.js"></script>
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("mainaccountadmindashboard", "Accountdashboard")">Accounts Admin</a>
            </li>
            <li>
                <a href="@Url.Action("ManageHeads", "salary")">Manage Heads</a>
            </li>
            @*    //<li class="active">@Heading</li>*@
        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>
    </div>
    <!-- page Content -->
    <div class="page-content">
        <div class="row">
            <div id="outerDiv">
            </div>

            <div class="two-column row" id="innerDiv">
                <div id="resize-left" class="ui-widget-content">
                    <div class="col-xs-12">
                        <div class="row-fluid">

                            <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
                            <div id="divDataContainer">
                            </div>

                        </div>
                    </div>

                </div>
                <div id="resize-right" class="ui-widget-content">
                    <div class="col-xs-12">
                        <div class="row">

                            <div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>
                            @*Modified by sanish 24-07-2014 12:30PM*@
                            <div class="widget-box sblFullScreen" style="display: none">

                                <div class="widget-header widget-header-flat">
                                    <h4 class="widget-title">Loan Type List</h4>
                                    <div class="widget-toolbar">


                                        <a href="#" data-action="fullscreen" class="red">
                                            <i class="ace-icon fa fa-expand bigger-150"></i>
                                        </a>

                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div id="prodiv" style="display: none;">
                                            <img src="@Url.Content("~/images/pro.gif")" />
                                        </div>
                                        @using (@Ajax.BeginForm("saveUpadteLoanType", "loan", FormMethod.Post, new AjaxOptions
                                                    {
                                                        OnSuccess = "OnSuccess()",

                                                        LoadingElementId = "loader-wrapper"
                                                    }, new { @class = "form-horizontal", @role = "form" ,id="loanTypeForm"}))
                                        {
                                            <div id="RightSidebar" style="width: 100%">
                                            </div>
                                        }
                                        <div id="FormPart" style="width: 100%; height: 100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>



    <!-- end page contetnt-->



    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        GetSystemFunctList();
    });

    function GetSystemFunctList() {
        //var cl = new CanvasLoader('canvasloader-container1');
        //cl.show();
        $("#loader-wrapper").show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("getLoanTypeList", "loan")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#divDataContainer").html(data);
                $("#RightSidebar").html("");
              
                $("#loader-wrapper").hide();
            }
        });
    }

    function onSelectRowHandler(rowId) {
        $("#loader-wrapper").show();
        $('.widget-box').show();

        var pathurl = '@Url.Action("GetsalaryheadsList", "manageheads")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                ModuleId: rowId,
            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

    function CreateNew() {
        $('.widget-box').show();
        $('#resize-right').show();
        $("#loader-wrapper").show();
        //var cl2 = new CanvasLoader('canvasloader-container2');
        var path = "@Url.Action("getLoanType", "loan")";
        $.ajax({
            url: path,
            type: 'GET',
            data: {

            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data);
                   
                    $("#loader-wrapper").hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }
    function OnFailure() {
        $("#errormsg").slideDown(1000);
        $("#errormsg").delay(1000);
        $("#errormsg").slideUp(1000);

    }

    function OnComplete() {
        $("#RightSidebar").fadeTo(1000, 1);
        $("#RightSidebar").delay(1000);
    }

    function OnSuccess() {
        $('#resize-right').hide();
        ShowNotification("success", "Loan Type has been created...");
        GetSystemFunctList();
    }
    function OnBegin() {
       
    }
</script>

