﻿@model SBL.DomainModel.Models.UserModule.tUserAccessRequestModel
@{
    int count = 0;
}
<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>

<script src="~/assets/js/flot/jquery.flot.min.js"></script>
<script src="~/assets/js/flot/jquery.flot.pie.min.js"></script>
<script src="~/assets/js/flot/jquery.flot.resize.min.js"></script>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<!-- page specific plugin styles -->
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<!-- page specific plugin styles -->
<div class="widget-box" style="width: 100%; margin-left: 0px">
    <div class="widget-header widget-header-flat">
        <div class="widget-toolbar no-border">
            <div class="divmargin">

                @Html.DropDownListFor(m => m.ID, Model.FullName, "--Select Users--", new { @id = "ddlUsers", @tabindex = "6", @class = "select", @style = "width:320px;" })
            </div>
        </div>
        <div class="widget-toolbar no-border">
            <div class="divmargin" style="font: x-large">
                <b>User Name</b>
            </div>
        </div>
    </div>
</div>
<div id="divPendingSrchList"></div>
<input type="hidden" id="hdnalldepartmentIds" />
<input type="hidden" id="hdnroleIds" />
<div class="row">

    <div class="widget-header widget-header-flat" style="margin: 10px;">
        <div class="container" style="margin-top: 0px; width: 100%;">
            <div class="row">
                <div style="padding: 8px;">
                    <div class="widget-main no-padding-right no-padding-left">
                        <div class="profile-user-info profile-user-info-striped">
                            <div class="profile-info-row">
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">Assigned Role:</div>

                                <div class="profile-info-value">
                                    <span id="spnRole" class=""></span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">All Roles: </div>

                                <div class="profile-info-value">
                                    <span id="spnTitle1" class="">
                                        <ul id="check-list-box" class="list-group checked-list-box">
                                            @if (Model.AssignedRollListByUserType != null && Model.AssignedRollListByUserType.Count() > 0)
                                            {
                                                foreach (var item in Model.AssignedRollListByUserType)
                                                {

                                                <li class="list-group-item list-group-item-primary active">
                                                    <input type="radio" name="role"  class="deptcheckbox"  value="@item.RoleId" id="@item.RoleId"  style="vertical-align:top" />&nbsp;@item.RoleName
                                                </li>

                                                }
                                            }

                                            else
                                            {
                                                
                                                <li class="list-group-item list-group-item-primary active">
                                                    <span id="spnAssignedRole" class="">There is no role for this type of users.Please set the role.</span>
                                                </li>
                                                
                                            }
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">Status</div>
                                <div class="col-xs-3">
                                    <label>
                                        <input name="switch-field-1" id="Staus" class="ace ace-switch ace-switch-4 btn-rotate" type="checkbox">
                                        <span class="lbl"></span>
                                    </label>
                                </div>

                                <div class="profile-info-value">
                                    <span id="spnTitle" class="">
                                        <button type="button" class="btn btn-primary btn-sm" disabled="disabled" onclick="return UpdateRole();" style="float: right;">
                                            Update</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
               { "bSortable": false },
              null, null, null, null, null,

              { "bSortable": false }

            ]
        });
    });

    function ChangeBreadCrumbParent(firstText) {
        $("#secondLink").empty();
        var firstlinkHtml = firstText;
        $("#secondLink").html(firstlinkHtml);
        $("#thirdLink").empty();
    }

    function ChangeBreadCrumbChild(secondText) {
        $("#thirdLink").empty();
        var secondlinkHtml = secondText;
        $("#thirdLink").html(secondlinkHtml);
    }
</script>

<script>

    $('input[type=radio]').change(function () {
        document.getElementById("Staus").checked = true;
    });

    $("#ddlUsers").change(function () {
        $("#loader-wrapper").show();
        var UserID = $("#ddlUsers").val();
        if (UserID != null && UserID != "") {
            $.get("/AcceptRejectUserRequest/GetUserRoleByUserID", {
                UserID: UserID
            }, function (data) {
                $("#spnRole").html(data.RoleName);
                if (data == "No Role") {
                    $("#spnRole").html('');
                    document.getElementById("Staus").checked = false;
                    $("#btnrole").html("Assign Role");
                    $('input[name=role]').prop("checked", false);

                }
                else {
                    document.getElementById("Staus").checked = true;
                    $("#btnrole").html("Update Role");
                    $('input[name=role][id=' + data.iRoleId + ']').prop("checked", true);
                }
                //$('input[type="button"]').removeAttr('disabled');
                $(":button").removeAttr("disabled");
                $("#loader-wrapper").hide();
            });
        }
        else {
            //$('input[type="button"]').attr('disabled', 'disabled');
            $(":button").attr("disabled", true);
            $("#spnRole").html("");
            document.getElementById("Staus").checked = false;
            $("#loader-wrapper").hide();
        }
    });

    function UpdateRole() {
        var reqdeptids = "";
        //alert($("input[name=role]:checked").val());
        //$(".deptcheckbox").each(function () {
        //    if ($(this).is(':checked')) {
        //        reqdeptids += $(this).val() + ",";
        //    }

        //});
        var Status = document.getElementById("Staus").checked;
        reqdeptids = $("input[name=role]:checked").val();
        var userid = $("#ddlUsers").val();
        if (userid != "" && userid != null) {
            if (reqdeptids != "" && reqdeptids != null) {
                bootbox.confirm('Are You Sure Want to Update?', function (confresult) {
                    if (confresult) {
                        var pathurl = '@Url.Action("AssignRoleToUser", "AcceptRejectUserRequest", new { @area = "" })';
                        $.ajax({
                            url: pathurl,
                            type: 'GET',
                            data: {
                                userid: userid,
                                Role: reqdeptids,
                                Staus: Status
                            },
                            success: function (result) {
                                bootbox.alert('Update Successfully');
                                AssignRole();
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert(xhr.responseText);
                                alert(thrownError);
                                location.reload(true);
                            }
                        });
                    }
                    else {
                        $("#loader-wrapper").hide();
                    }
                })
            }

            else {
                bootbox.alert('Please select role!');
            }
        }
        else {
            bootbox.alert('Please select User!');
        }
    }


</script>
