﻿@model  List<SBL.DomainModel.Models.JobsPosting.Candidates>
@{    
    int count = 0;
}
<div class="pass-table">

    @if (Model != null)
    {
        if (Model.Count() > 0)
        {       
        <div class="table-header">
            <div class="form-group">
                @if (ViewBag.Msg != null)
                {
                    <div class="@ViewBag.Class" id="MsgDiv">
                        <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
                        <strong><i class="ace-icon fa fa-check-square-o"></i>@ViewBag.Notification ! </strong>@ViewBag.Msg
                    </div>
                }

            </div>
        </div>                       
                    
        <table class="table table-striped table-bordered table-hover dataTable" id="ApplicantListTbl" aria-describedby="sample-table-2_info">
            <thead>
                <tr role="row">

                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Application ID</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Name</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Father Name</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">DOB</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Mobile</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Document</th>

                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Status</th>
                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Action</th>
                </tr>
            </thead>



            <tbody role="alert" aria-live="polite" aria-relevant="all">
                @foreach (var item in Model)
                {
                    count = count + 1;  
                    <tr>
                        <td class="center">
                            @count
                        </td>
                        <td>@item.CandidatesID</td>
                        <td>@item.Name</td>
                        <td>@item.FatherName</td>
                        <td>@item.DOB.ToString("dd/MM/yyyy")</td>
                        <td>@item.Mobile</td>


                        <td><a href="@item.DocumentPdf" target="_blank">Documents PDF</a></td>

                        <td>
                            @if (item.ApporvedOn.ToString("dd/MM/yyyy") != "01/01/1900" && item.ApporvedOn.ToString("dd/MM/yyyy") != "01/01/1753")
                            {
                                if (item.IsApprove)
                                {
                                <text>Approved</text>
                                }
                                else
                                {
                                <text>Cancelled</text>
                                }
                            }
                            else
                            {
                                <text>pending for Approvel</text>
                            }
                        </td>
                        <td class="center" style="width: 10%">
                            @if (item.IsAdmitCardDetailsLocked == false)
                            {
                                if (item.IsAdmitCardDetailsEntered == false)
                                {
                                <a  href="#" onclick="PopulateAdmitCard(@item.CandidatesID,'add')" class="tooltip-success" data-rel="tooltip" title="Add Admit Card Details">
                                    <span class="green">
                                        <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                    </span></a>
                                }                                   
@*<button class="btn btn-xs btn-info" onclick="PopulateAdmitCard(@item.CandidatesID)">Add Admit Card Details</button> fa-pencil-square-o fa fa-pencil*@
                                else
                                {
                                
                                <a  href="#" onclick="PopulateAdmitCard(@item.CandidatesID,'viewEdit')" class="tooltip-success" data-rel="tooltip" title="View/Edit Admit Card Details">
                                    <span class="green">
                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                    </span></a>                                
@*<button class="btn btn-xs btn btn-warning" onclick="PopulateAdmitCard(@item.CandidatesID)">
                                    View/Edit Admit Card Details
                                </button>*@
                                }
                            }
                            else
                            {
                                <a href="#" onclick="PopulateAdmitCard(@item.CandidatesID,'view')" class="tooltip-success" data-rel="tooltip" title="View Admit Card Details">
                                    <span class="blue">
                                        <i class="ace-icon fa fa-eye bigger-120"></i>
                                    </span></a>
                            }
                            @if (item.IsAdmitCardDetailsEntered == true)
                            {
                                <label>
                                  @if(item.IsAdmitCardDetailsLocked == false){
                                    <input name="switch-field-1" class="ace ace-switch ace-switch-6 chkbox" type="checkbox" id="@item.CandidatesID"/>                                    
                                    <span class="lbl"></span>}else{
                                  <input name="switch-field-1" class="ace ace-switch ace-switch-6 chkbox" type="checkbox" checked="checked" id="@item.CandidatesID"/>                                    
                                    <span class="lbl"></span>
                                  }
                                </label>}
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- PAGE CONTENT ENDS -->
        }
        else
        {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <strong>No application Founded</strong><br />
                </div>
            </div>
        </div>
        }
    }

</div>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<script type="text/javascript">

    //$('.disabled').click(function (event) {
    //    event.preventDefault();
    //});

    $(document).ready(function () {
        $('#ApplicantListTbl').dataTable();
        // alert();

        $('.chkbox').change(function () {
            debugger;
            if (this.checked == false) {
                if (confirm('Are you sure you want to Unlock the Admit Card details?')) {
                    //$(this).removeAttr('checked');
                    var Cvalue = this.id;
                    var islock = false;
                    //debugger;
                        $.ajax({
                            type: "GET",
                            url: '/Accounts/Candidates/LockUnlockCandidateDetails',
                            data: { CandidateId: Cvalue, islock: islock },                           
                            beforeSend: function () {
                                $('#loader-wrapper').show();
                            },
                            success: function (result) {
                                $('#dataDiv').empty();
                                $('#dataDiv').append(result);
                                //$(this).removeAttr('checked');
                            },
                            error: function (error) {
                                alert(error);                                
                            },
                            complete: function (results) {
                                $('#loader-wrapper').hide();                              
                            }
                        }); 

                } else {
                    $(this).attr("checked", "checked");
                }
            } else {
                if (confirm('Are you sure you want to Lock the Admit Card details?')) {
                    //$(this).attr("checked", "checked");
                    var Cvalue = this.id;
                    var islock = true;
                    //alert(Cvalue);
                    $.ajax({
                        type: "GET",
                        url: '/Accounts/Candidates/LockUnlockCandidateDetails',
                        //data: '{ CandidateId: ' + Cvalue + ', islock: ' + islock + '}',
                        data: { CandidateId: Cvalue, islock: islock },
                        contentType: "application/json; charset=utf-8",
                        //dataType: "json",
                        beforeSend: function () {
                            $('#loader-wrapper').show();
                        },
                        success: function (result) {
                            $('#dataDiv').empty();
                            $('#dataDiv').append(result);
                            //$(this).attr("checked", "checked");
                        },
                        error: function (error) {
                            //$(this).removeAttr('checked');
                            $('#dataDiv').empty();
                            $('#dataDiv').append(error.responseText);
                        },
                        complete: function (results) {
                            $('#loader-wrapper').hide();
                        }
                    });

                } else {
                    $(this).removeAttr('checked');
                }
            }
        });
    });

    //$('.chkbox').click(function(){
    //    var checked = $(this).is(':checked');
    //    if(checked) {
    //        if(!confirm('Are you sure you want to Unlock the Admit Card details?')){         
    //            $(this).removeAttr('checked');
    //            var Cvalue = $(this).id;
    //            var islock = false;

    //            $.ajax({
    //                type: "POST",
    //                url: '/Accounts/Candidates/LockUnlockCandidateDetails',
    //                data: '{ CandidateId: "' + Cvalue + '", IsLocked: "' + islock + '}',
    //                contentType: "application/json; charset=utf-8",
    //                dataType: "json",
    //                beforeSend: function () {
    //                    $('#loader-wrapper').show();
    //                },
    //                success: function (result) {
    //                    $('#dataDiv').empty();
    //                    $('#dataDiv').append(result);
    //                },
    //                error: function (error) {
    //                    $('#dataDiv').empty();
    //                    $('#dataDiv').append(error.responseText);

    //                },
    //                complete: function (results) {
    //                    $('#loader-wrapper').hide();
    //                    $('#ApplicantModel').modal('hide');
    //                    setTimeout(function () {
    //                        $('#MsgDiv').slideUp("slow");
    //                    }, 6000);
    //                }
    //            });

    //        }
    //    } else if(!confirm('Are you sure you want to Lock the Admit Card details?')){
    //        $(this).attr("checked", "checked");
    //        var Cvalue = $(this).id;
    //        var islock = true;

    //        $.ajax({
    //            type: "POST",
    //            url: '/Accounts/Candidates/LockUnlockCandidateDetails',
    //            data: '{ CandidateId: "' + Cvalue + '", IsLocked: "' + islock + '}',
    //            contentType: "application/json; charset=utf-8",
    //            dataType: "json",
    //            beforeSend: function () {
    //                $('#loader-wrapper').show();
    //            },
    //            success: function (result) {
    //                $('#dataDiv').empty();
    //                $('#dataDiv').append(result);
    //            },
    //            error: function (error) {
    //                $('#dataDiv').empty();
    //                $('#dataDiv').append(error.responseText);
    //            },
    //            complete: function (results) {
    //                $('#loader-wrapper').hide();
    //                $('#ApplicantModel').modal('hide');
    //                setTimeout(function () {
    //                    $('#MsgDiv').slideUp("slow");
    //                }, 6000);
    //            }
    //        });
    //    }

    //}​);​

</script>
