﻿@model SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.SubEventViewModel

@{
    ViewBag.Title = "CreateSubEvent";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@Html.Action("LeftNavigationMenu", "SuperAdmin")
<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    @Html.Partial("_BreadcrumbsPartial")
     <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "SubEvent")">@Resources.MasterDataDashboard.Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "SubEvent")">Sub Event Details</a>
            </li>

        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
     @*   <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>*@

    </div>
    <div class="page-content">
     
        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.MasterData                              
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Sub Event Details  
                </small>
            </h1>


        </div>

        <!-- /section:settings.box -->

        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">Create Sub Event</h4>
            }
            else
            {
                <h4 class="widget-title lighter">Edit Sub Event</h4>
            }

        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            @using (Html.BeginForm("SaveSubEvent", "SubEvent", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                            { 
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.SubEventId)
                                @Html.HiddenFor(model => model.Mode)

                                @*<h4 class="header blue lighter smaller clearfix">@Resources.MasterDataDashboard.Basicdetails </h4>*@
                                <div class="tabbable">
                                 
                                    <div class="tab-content no-border padding-24">
                                        <div class="tab-pane in active" id="news-english">

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Sub Event Name </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.EventName, new { @class = "col-xs-10 col-sm-5", @placeholder = "Sub Event Name", @autocomplete = "off", @maxlength = "101" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="EventNamevalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.EventName)
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Sub Event Name Local </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.EventNameLocal, new { @class = "col-xs-10 col-sm-5", @placeholder = "Sub Event Name Local", @autocomplete = "off", @maxlength = "151" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="EventNameLocalvalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.EventNameLocal)
                                                    </div>
                                                </div>

                                            </div>



                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Category Code </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.CategoryCode, new { @class = "col-xs-10 col-sm-5", @placeholder = "Category Code", @autocomplete = "off", @maxlength = "101" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="CategoryCodevalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.CategoryCode)
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Category Name </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.CategoryName, new { @class = "col-xs-10 col-sm-5", @placeholder = "Category Name", @autocomplete = "off", @maxlength = "101" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="CategoryNamevalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.CategoryName)
                                                    </div>
                                                </div>

                                            </div>




                                            <div class="space-2"></div> 
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Is LOB </label>
                                                <div class="col-sm-9">
                                                   @Html.CheckBoxFor(model => model.IsLOB)                                                         
                                                </div>

                                            </div>

                                            <div class="space-2"></div> 
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Is Proceeding </label>
                                                <div class="col-sm-9">
                                                   @Html.CheckBoxFor(model => model.IsProceeding)                                                         
                                                </div>

                                            </div>

                                            <div class="space-2"></div> 
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Is Department </label>
                                                <div class="col-sm-9">
                                                   @Html.CheckBoxFor(model => model.IsDepartment)                                                         
                                                </div>

                                            </div>

                                            <div class="space-2"></div> 
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Is Committee </label>
                                                <div class="col-sm-9">
                                                   @Html.CheckBoxFor(model => model.IsCommittee)                                                         
                                                </div>

                                            </div>

                                            <div class="space-2"></div> 
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Is VS </label>
                                                <div class="col-sm-9">
                                                   @Html.CheckBoxFor(model => model.IsVS)                                                         
                                                </div>

                                            </div>

                                            <div class="space-2"></div> 
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Is OtherNotices </label>
                                                <div class="col-sm-9">
                                                   @Html.CheckBoxFor(model => model.IsOtherNotices)                                                         
                                                </div>

                                            </div>

                                            <div class="space-2"></div> 
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Is QA </label>
                                                <div class="col-sm-9">
                                                   @Html.CheckBoxFor(model => model.IsQA)                                                         
                                                </div>

                                            </div>








                                            <div class="space-2"></div> 
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.IsActive </label>
                                                <div class="col-sm-9">
                                                   @Html.CheckBoxFor(model => model.IsActive)                                                         
                                                </div>

                                            </div>

                                        </div>
                                   
                                    </div>
                                </div>                              
                                <div class="btn-group pull-right padding-10">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->
                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple ">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        @Resources.MasterDataDashboard.Save</button>
                                    <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        @Resources.MasterDataDashboard.Reset
                                    </button>
                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>
                            }
                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="../assets/js/jquery.gritter.min.js"></script>
        <script src="../assets/js/jquery.maskedinput.min.js"></script>





<script>



   

    $(document).ready(function () {
        $("#EventName").focus();

        $("#assemblymain").addClass("active open");
        $("#assemblysub").addClass("nav-show").css("display", "block");
        $("#SubEventlist").addClass("active");
        $("#assemblylinkid").removeClass("fa-comment").addClass("fa-comment-o");
    });
    function resetFields() {
        $(".field-validation-error").empty();
        $("#EventName").focus();
    }
</script>



