﻿@model SBL.DomainModel.Models.Question.tQuestion

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="jquery.spinner.js"></script>

@if (Model != null)
{
    if (Model.QuestionType == 1)
    {
    <div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px; border: 1px solid #C5C5C5; border: 1px solid #C5C5C5;">
        Starred Question Details
    </div>
    }
    else if (Model.QuestionType == 2)
    { 
    <div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px; border: 1px solid #C5C5C5; border: 1px solid #C5C5C5;">
        Unstarred Question Details
    </div>
    }
    if (Model.QuestionStatus == 1)
    {
    <div style="border: 1px solid grey; padding: 5px 0px 10px 5px;">
        <input type="submit" name="Draft" id="@Model.QuestionID" value="Edit" onclick="return ViewDetailsForEdit(this.id, 'Question');" />
    </div>
    }
    <div style="border: 1px solid grey;">
        <table style="margin-left: 20px; width: 96%">
            @if (Model.QuestionStatus == 1)
            {
                <tr class="border-Down">
                    <td class="tr-border-right"><strong>Diary Number:</strong>

                    </td>
                    <td>
                        @Model.DiaryNumber
                    </td>
                </tr>
            }
            else
            {
                <tr class="border-Down">
                    <td class="tr-border-right"><strong>Question Number:</strong>

                    </td>
                    <td>
                        @Model.QuestionNumber
                    </td>
                </tr>
            }
            <tr class="border-Down">
                <td class="tr-border-right"><strong>Ministry:</strong>

                </td>
                <td>
                    @Model.MinistryId.GetMinisterName()
                </td>
            </tr>
            <tr class="border-Down">
                <td class="tr-border-right"><strong>Constituency:</strong>

                </td>
                <td>
                    @Model.ConstituencyName
                </td>
            </tr>
            <tr class="border-Down">
                <td class="tr-border-right"><strong>Department:</strong>

                </td>
                <td>
                    @Model.DepartmentID.GetDepartmentName()
                </td>
            </tr>
            <tr class="border-Down">
                <td class="tr-border-right"><strong>Subject:</strong>

                </td>
                <td>
                    @Html.Raw(Model.Subject)

                </td>
            </tr>
            <tr class="border-Down">
                <td class="tr-border-right"><strong>Content:</strong>

                </td>
                <td>
                    @Html.Raw(Model.MainQuestion)
                </td>
            </tr>
        </table>
    </div>
    
}

<script>
    function ViewDetailsForEdit(Id, Type) {
        $("#RightSidebar").html("")
        $.get("/Legislative/Legislative/EditQuestionNotice", { Id: Id, EditType: Type }, function (data) {
            $("#RightSidebar").html(data)
        });
    };





</script>
