﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV
@{
    int count = 0;
    int SrNo = 0;   
}

@{ 
    int startpage = 0;
    int endPage = 0; 
}
@{
                
    float rcnt = @Model.ResultCount;
    float rperPage = @Model.RowsPerPage;
    float cnt = rcnt / rperPage;
    int b = (int)cnt; ;
    float c = (float)cnt - b;
                 
}
@if (c > 0)
{
    count = b + 1;
}
else
{
    count = b;
}
@{
    startpage = ((@Model.selectedPage * 10) - 10) + 1;
    endPage = startpage + 9;
           
}
@if (Model.loopStart <= 0)
{
    Model.loopStart = 1;
    Model.loopEnd = 5;
}

<style>
    a.classname {
        background: url(/Images/pdf.jpg) no-repeat top center;
        background-size: 25px 25px;
        /*display: -moz-stack;*/
        display: block;
        /*width: 35px;*/
        height: 32px;
        text-indent: -9999px; /* hides the link text */
    }
</style>
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="~/Scripts/jquery.alerts.js"></script>
<link href="~/Content/jquery.alerts.css" rel="stylesheet" />
<div class="tab-content">
    <div>
        <div id="canvasloader-container-Grid" class="canvasloader" style="text-align: center"></div>
    </div>
    <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
        <div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px;border: 1px solid #C5C5C5;">
        @Resources.Legislative.LLOtherPapers >> @Resources.Legislative.LLUpdatedPaper
    </div>
    
  @*  <div style="width: 90%; float: left; padding-left: 20px; padding-bottom: 20px;margin-top:10px">
          <div style="width: 28%; float: left;">
            @Resources.PaperLaidDepartment.SearchByBusinessType
        </div>
        <div style="width: 25%; float: left">
            @Html.DropDownListFor(m => m.EventId, new SelectList(Model.mEvents, "EventId", "EventName"), "-- All --", new { @class = "rounded", @id = "DdlPaperCategoryTypeId", style = "width: 261px;", @onchange = "PaperCategoryChanged()" })
       
             </div>

    </div>*@
    <div class="grid_cantainer" style="float: left; width: 99%; float: left; padding-left: 2px;">
         <input type="hidden" id="SelectedPaperId" value="" />
        @if (count > 0)
        {        
            <div class="grid-ex-footer">
                <div class="grid-pagination">

                    @if (count < Model.loopEnd)
                    {
                        Model.loopEnd = count;
                    }

                    <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,1,1,5)" title="@Resources.Common.GoToTheFirstPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">@Resources.Common.FirstPage</span></a>
                    @if (Model.loopStart > 5)
                    {                           
                        <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)" title="@Resources.Common.GoToThePreviousPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">@Resources.Common.PreviousPage</span></a>
                    }

                    <ul class="gridpage-numbers">
                        @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                        {
                            if (i == @Model.selectedPage)
                            {                                    
                            <li><span class="grid-page-selected">@i</span></li>
                            }
                            else
                            {
                            <li><a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                            }
                        }
                    </ul>
                    @if (Model.loopStart + 5 < @count)
                    {
                        <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)" title="@Resources.Common.GoToTheNextPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">@Resources.Common.NextPage</span></a>
                    }
                    <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@count,@count-5,@count)" title="@Resources.Common.GoToTheLastPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">@Resources.Common.LastPage</span></a>
                    <span class="grid-page-info">@Model.loopStart - @Model.loopEnd @Resources.Common.Of @count @Resources.Common.Pages.</span>
                </div>
            </div>
        }

        <div style="overflow-x: scroll">
            @if (Model.DepartmentSubmitList != null)
            {
                if (Model.DepartmentSubmitList.Count > 0)
                {
                     
                <table style="width: 100%" class="simple-table-style">
                    <tr>
                           <th style="text-align: center">
                            <input id='QChkBoxAll' type="checkbox" />
                        </th>
                        <th class="grid_th" style="border-width: 1.5px; width: 70px; height: 30px; text-align: center">@Resources.Legislative.LLMinistery</th>
                        <th class="grid_th" style="border-width: 1.5px; width: 130px; height: 30px; text-align: center">@Resources.Legislative.LLDepartment</th>
                       <th class="grid_th" style="border-width: 1.5px; width: 130px; height: 30px; text-align: center">@Resources.Legislative.LLTitle</th>
 <th class="grid_th" style="border-width: 1.5px; width: 130px; height: 30px; text-align: center">@Resources.Legislative.LLUpdatedPaper</th>
                    </tr>
                    @foreach (var DepartmentPendingList in Model.DepartmentSubmitList)
                    {
                        
                        
                        <tr id="@DepartmentPendingList.PaperLaidId" style="cursor:pointer" onclick="ViewFullDeails(@DepartmentPendingList.PaperLaidId), ChangeColortr(this.id);" class="ChangeColortr">

                             <td style="text-align: center; width: 5%;">
                                <input class="QCheckbox" id="CheckSubmitted_@DepartmentPendingList.PaperLaidId" type="checkbox" onchange="checkChange(this)" />
                            </td>

                            <td style="text-align: center; vertical-align:top; width: 25%;">
                              @Html.Raw(DepartmentPendingList.MinisterName)   </td>
                            <td style="border-width: 1px; text-align: left; vertical-align: top;">
                                @DepartmentPendingList.DeparmentName
                                <input type="hidden" id='DeptActiveId_@DepartmentPendingList.PaperLaidId' value='@DepartmentPendingList.DeptActivePaperId' />

                            </td>
                             <td style="border-width: 1px; text-align: left; vertical-align: top;">
                                @DepartmentPendingList.Title
                             

                            </td>
                              <td style="border-width: 1px; text-align: left; vertical-align: top;">
                               <a href="@DepartmentPendingList.actualFilePath" target="_blank">@DepartmentPendingList.FilePath</a> 
                             

                            </td>
                        </tr>
                    }
                </table>
                }
                else
                {
                <p style="color: red">@Resources.PaperLaidDepartment.NoRecordFound</p>
                }
            }
            else
            {
                <p style="color: red">@Resources.PaperLaidDepartment.NoRecordFound</p>
            }
        </div>
        @if (count > 0)
        {
            <div class="grid-ex-footer">
                <div class="grid-pagination">
                    @if (count < Model.loopEnd)
                    {
                        Model.loopEnd = count;
                    }

                    <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,1,1,5)" title="@Resources.Common.GoToTheFirstPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">@Resources.Common.FirstPage</span></a>
                    @if (Model.loopStart > 5)
                    {                           
                        <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)" title="@Resources.Common.GoToThePreviousPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">@Resources.Common.PreviousPage</span></a>
                    }

                    <ul class="gridpage-numbers">
                        @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                        {
                            if (i == @Model.selectedPage)
                            {                                    
                            <li><span class="grid-page-selected">@i</span></li>
                            }
                            else
                            {
                            <li><a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                            }
                        }
                    </ul>
                    @if (Model.loopStart + 5 < @count)
                    {
                        <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)" title="@Resources.Common.GoToTheNextPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">@Resources.Common.NextPage</span></a>
                    }
                    <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@count,@count-5,@count)" title="@Resources.Common.GoToTheLastPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">@Resources.Common.LastPage</span></a>
                    <span class="grid-page-info">@Model.loopStart - @Model.loopEnd @Resources.Common.Of @count @Resources.Common.Pages.</span>
                </div>
            </div>
        }
        <div>
            <input type="button" id="SubmittAllBttn" value ="@Resources.Legislative.LLSubmittAllBttn" />
        </div>
    </div>
</div>
<script type="text/javascript">

    function ChangeColortr(control) {
        $(".ChangeColortr").each(function () {
            $(this).css({ 'background': 'none', 'color': 'black' })
        })
        $("#" + control).css({ 'background-color': '#428bca', 'color': 'white' })

    }

    $(document).ready(function () {
        $('#QChkBoxAll').on("click", function () {
         
            if ($('#QChkBoxAll').attr('checked')) {
                document.getElementById("SelectedPaperId").value = "";

                $(".QCheckbox").each(function () {
                    var SelectedPaperId = document.getElementById("SelectedPaperId").value;
                
                    if (SelectedPaperId == "") {
                   
                        document.getElementById("SelectedPaperId").value = this.id.substring(15);
                     
                    } else {
                    
                        SelectedPaperId = SelectedPaperId + "," + this.id.substring(15);
                        document.getElementById("SelectedPaperId").value = SelectedPaperId;

                    }
                    $(this).prop("checked", $("#QChkBoxAll").is(":checked"));
                });
            }
            else {
                document.getElementById("SelectedPaperId").value = "";
                $(".QCheckbox").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });
    });
    $("#SubmittAllBttn").click(function () {

       var Ids = document.getElementById("SelectedPaperId").value;
       $.ajax({
           url: "/Legislative/Legislative/SubmittAllCheckedIds",
           type: 'POST',
           data: {
               PaperIds:Ids
           },
           success: function (data) {
               window.location = data.RedirectUrl;
           },
           error: function (xhr, ajaxOptions, thrownError) {

               alert(xhr.responseText);
               alert(thrownError);
           }
       })

    })

    function checkChange(param) {
       
        if (document.getElementById(param.id).checked) {
            var selectedEmpId = document.getElementById("SelectedPaperId").value;
            if (selectedEmpId == "") {
          
               document.getElementById("SelectedPaperId").value = param.id.substring(15);
       
            } else {
                selectedEmpId = selectedEmpId + "," + param.id.substring(15);
                document.getElementById("SelectedPaperId").value = selectedEmpId;
            }
        }
        else {
            var selectedEmpId = document.getElementById("SelectedPaperId").value;

            var newvalue = selectedEmpId.replace("," + param.id.substring(15), "");
            if (newvalue.length == selectedEmpId.length) {
                newvalue = selectedEmpId.replace(param.id.substring(15) + ",", "");
            }
            if (newvalue.length == selectedEmpId.length) {
                newvalue = selectedEmpId.replace(param.id.substring(15), "");
            }

            document.getElementById("SelectedPaperId").value = newvalue;

            //   alert(document.getElementById("SelectedEmpId").value);

        }
    }

    function PaperCategoryChanged() {

        var cl3 = new CanvasLoader('canvasloader-container1');
        cl3.show();


        var value = document.getElementById("DdlPaperCategoryTypeId").value;
        if (value == "")
        { value = 0; }

        var resultCountS = document.getElementById("hdnResultCount").value;

        $.ajax({
            url: "/PaperLaidDepartment/OtherPaperLaid/FilterByBusinessType",
            type: 'GET',
            data: {

                PaperCategoryTypeId: value,
                CategoryTypeId: 0,
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5",
                ResultCount: resultCountS,
                view:"Submit"
            },
            success: function (data) {
                cl3.hide();
                $("#divDataContainer").html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {

                alert(xhr.responseText);
                alert(thrownError);
            }
        })
    };


    function ViewFullDeails(value) {
        $.ajax({
            url: "/Legislative/Legislative/FullViewUpdatedPaperLaidDetailByID",
            type: 'GET',
            data: {
                paperLaidId: value,
            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data)
                    getNextHideDiv();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }


</script>
