﻿@model SBL.eLegistrator.HouseController.Web.Areas.Legislative.Models.PaperLaidDetailedSummeryViewModel
@{
    string Heading = (Model.IsByMinistery) ? "Ministery" : "Department";
    
}

<style>
    table td {
        text-align: left;
    }
</style>
<input type="hidden" id="IsMinistryLevel" value="@Model.IsByMinistery" />
@if (Model.PaperLaidList.Count() > 0)
{   
    <table style="width: 35%; padding-top: 5px; padding-bottom: 5px;">
        <tr>
            <td>
                @if (Model.IsByMinistery)
                {
                    <input type="radio" id="ByMinistry" name="CategoryWise" checked="checked" /> 
                }
                else
                {
                    <input type="radio" id="ByMinistry" name="CategoryWise" />
                }
                By Ministry
            </td>
            <td>
                @if (!Model.IsByMinistery)
                {
                    <input type="radio" id="ByDepartment" name="CategoryWise" checked="checked" /> 
                }
                else
                {
                    <input type="radio" id="ByDepartment" name="CategoryWise" />
                }
                By Department
            </td>
        </tr>
    </table>


    <table style="width: 100%; margin-top: 10px;" class="minwb-style grid_cantainer">
        <tr style="text-align: center;">
            <th style="width:25%;">@Heading </th>
            <th>Sent</th>
            <th>Recieved</th>
            <th>Laid In Home</th>
            <th>Pending To Lay</th>
            <th>Current LOB</th>
            <th>Current Update</th>
        </tr>

        @foreach (var item in Model.PaperLaidList)
        {
            <tr>
                <td>
                    <a href="javascript:void(0);" onclick="GetCompleteDetailsByMinistryOrDepartment(this);" itemid="@item.Id">
                        @{string name = (item.Name != "" && item.Name != null) ? item.Name : "No Value";}
                        @name
                    </a>
                </td>
                <td></td>
                <td>@item.RecievedCount</td>
                <td>@item.LaidInHomeCount</td>
                <td>
                    @{int PendingCount = item.RecievedCount - item.LaidInHomeCount;   }
                    @PendingCount
                </td>
                <td>@item.CurrentLobCount</td>
            </tr>            
        }

    </table>

}
else
{
    <p style="margin-top: 100px; text-align: center; color: #666666; font-size: 15px;">
        No information available
    </p>
}


<script type="text/javascript">
    $(function () {
        var PaperCategoryTypeId = '@Model.PaperCategoryTypeId';
        var IStarredQuestion = '@Model.IsStarredQuestion';
        // var IsByMinistryLevel='@Model.IsByMinistery';
        //
        $('#ByMinistry').click(function () {
            if ($(this).is(':checked')) {
                $('#ByDepartment').removeAttr("checked");
                //Defined below
                GetDetailedSummeryByMinistryOrDepartment(PaperCategoryTypeId, IStarredQuestion, true);
            }
        });

        $('#ByDepartment').click(function () {
            if ($(this).is(':checked')) {
                $('#ByMinistry').removeAttr("checked");
                //Defined below
                GetDetailedSummeryByMinistryOrDepartment(PaperCategoryTypeId, IStarredQuestion, false);
            }
        });
    });


    function GetDetailedSummeryByMinistryOrDepartment(PaperCategoryTypeId, IsStarred, IsByMinistry) {

        var targetDiv = document.getElementById('DetailedSummery');
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        var url = "/legislative/legislative/PaperLaidDetailedSummery";
        var parameter = (IsStarred) ? { PaperCategoryTypeId: PaperCategoryTypeId, ByMinistry: IsByMinistry, IsStarredQuestion: IsStarred } :
                                      { PaperCategoryTypeId: PaperCategoryTypeId, ByMinistry: IsByMinistry };

        $.ajaxSetup({ cache: false });
        $.ajax({
            url: url,
            type: 'GET',
            data: parameter,
            success: function (response) {
                $("#DetailedSummery").html(response);
                cl.hide();
            }
        });
    }


    function GetCompleteDetailsByMinistryOrDepartment(obj) {
        var Id = $(obj).attr('itemid');
        var IsMinistryLevel = '@Model.IsByMinistery';
        var PaperCategoryTypeId = '@Model.PaperCategoryTypeId';

        var targetDiv = document.getElementById('CompletePaperLaidDetails');
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/legislative/legislative/CompletePaperLaidInformation",
            type: 'GET',
            data: { Id: Id, PaperCategoryTypeId: PaperCategoryTypeId, IsByMinistry: IsMinistryLevel },
            success: function (response) {
                $("#CompletePaperLaidDetails").html(response);
                cl.hide();
            }
        });

    }

</script>
