﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV

 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="jquery.spinner.js"></script>

<div class="modal-header" style="background-color: white; position: relative;">
    <div style="color: #1b86bc; font-weight: bold;">Paper Laid Details</div>
    
    <div class="row-fluid">
        <div style="font-weight: bold; font-size: 14px; width: 450px;">
        </div>

    </div>
</div>

<div class="modal-body" role="dialog" tabindex="-1" aria-labelledby="SchemeLocation">

    <div id="SchemeLocation" >
      
        @if (Model != null)
        {
           
              <table style="width: 100%;border: 1.5px solid grey; padding: 5px 0px 10px 5px;">

                <tr style="border: 1px solid grey; padding: 5px 0px 10px 5px;">
                    <td style="width:20%;border: 1px solid grey"><strong>Ministry Name:</strong></td>
                
                    <td style="width:75%;border: 1px solid grey">@Model.MinistryName</td>
                </tr>
                <tr style="border: 1px solid grey; padding: 5px 0px 10px 5px;">
                    <td style="border: 1px solid grey"><strong>Department Name:</strong></td>
                 
                    <td style="border: 1px solid grey">@Model.DeparmentName</td>
                </tr>
                <tr style="border: 1px solid grey; padding: 5px 0px 10px 5px;">
                    <td style="border: 1px solid grey"><strong>Subject:</strong></td>
               
                    <td style="border: 1px solid grey">@Html.Raw(Model.Title)</td>
                </tr>
                <tr style="border: 1px solid grey; padding: 5px 0px 10px 5px;">
                    <td style="border: 1px solid grey"><strong>Description :</strong></td>
               
                    <td style="border: 1px solid grey">@Html.Raw(Model.Description)</td>
                </tr>
                <tr style="border: 1px solid grey; padding: 5px 0px 10px 5px;">
                    <td style="border: 1px solid grey"><strong>Remark</strong></td>
                  
                    <td style="border: 1px solid grey">
                        @Html.Raw(Model.Remark)
                    </td>
                </tr>
                 <tr style="border: 1px solid grey; padding: 5px 0px 10px 5px;">
                    <td style="border: 1px solid grey"><strong>Priority</strong></td>
                
                    <td style="border: 1px solid grey">
                   <input class="readout" type="number" id="txtPriority" value="@Model.PaperlaidPriority" max="100" min="0" style="width:100px" onkeypress="return isNumber(event)" />
                  
                    </td>
                    
 
                </tr>
                <tr>
                    <td></td>
                  
                    <td style="border: 1px solid grey"> <input type="button" id="UpdatePriority" value="Update Priority" style="margin-top:5px;margin-bottom:15px;" onClick="UpdatePriority();" /> </td>
                </tr>

            </table>  
                                              
        }
    </div>
</div>
<script>

    function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;           
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
          
            if (charCode.keyCode >= 37 && charCode.keyCode <= 40) {
                return true; // arrow keys
            }
            if (charCode.keyCode === 8 || charCode.keyCode === 46) {
                return true; // backspace (8) / delete (46)
            }           
            return true;
        }
  
    function UpdatePrioritySuccess() {
        alert('Priority Updated Successfully');
        
    }

    function UpdatePriority() {
        var PaperLaidId = '@Model.PaperLaidId';
        var PriorityType = 'PaperLaid';
        var priority = $("#txtPriority").val();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Legislative/Legislative/UpdatePriority",
            type: 'POST',
            data: { PaperlaidId: PaperLaidId, Prioritytype: PriorityType, Priority: priority },
            success: function (data) {
                alert('Priority Updated Successfully');
              
               
            }
        });


    }
</script>
