﻿
@model   SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.MinistryViewModel
@{
    ViewBag.Title = "CreateMinistry";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}


@Html.Action("LeftNavigationMenu", "SuperAdmin")
@*@Html.Partial("_LeftNavigationMenu")*@
<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    @Html.Partial("_BreadcrumbsPartial")
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "Ministry")">@Resources.MasterDataDashboard.MinistryMasterData</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Ministry")">@Resources.MasterDataDashboard.MinistryDetails</a>
            </li>
             
        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
      @*  <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>*@

    </div>

    <div class="page-content">

        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.MasterData                              
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.MinistryDetails  
                </small>
            </h1>


        </div>

        <!-- /section:settings.box -->

        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.CreateMinistry</h4>
            }
            else
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.EditMinistry</h4>
            }

        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        @* //, new { @class = "form-horizontal", @role = "form" }*@
                        <div class="row">
                            @using (Html.BeginForm("SaveMinistry", "Ministry", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                            { 
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.MinistryID)
                                @Html.HiddenFor(model => model.Mode)
                                                              
                                <div class="tabbable">
                                    @*<ul id="myTab" class="nav nav-tabs padding-18">
                                        <li class="active">
                                            <a href="#news-english" data-toggle="tab">
                                                <i class="green ace-icon fa fa-home bigger-120"></i>
                                                English
                                            </a>
                                        </li>


                                    </ul>*@
                                    <div class="tab-content no-border padding-24">
                                        <div class="tab-pane in active" id="news-english">
                                              <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.AssemblyName </label>
                                                <div class="col-sm-9">

                                                    @Html.DropDownListFor(model => model.AssemblyID, Model.Assembly, @Resources.MasterDataDashboard.SelectAssembly, new { @class = "col-xs-10 col-sm-5" })

                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="assemblyValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.AssemblyID)
                                                    </div>
                                                </div>

                                            </div>
                                            @*<div class="space-2"></div>
                                                  <div class="space-2"></div>

                                             <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.MemberName </label>
                                                <div class="col-sm-9">

                                                    @Html.DropDownListFor(model => model.MemberCode, Model.MemberNames, @Resources.MasterDataDashboard.SelectMemberName, new { @class = "col-xs-10 col-sm-5" })

                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="membnameValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.MemberCode)
                                                    </div>
                                                </div>

                                            </div>*@
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.MinistryName </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.MinistryName, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.MinistryName, @autocomplete = "off",@maxlength ="250"  })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                         <span class="field-validation-error" id="ministrynameValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.MinistryName)
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.MinistryNameLocal </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.MinistryNameLocal, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.MinistryNameLocal, @autocomplete = "off",@maxlength ="250" })

                                                </div>

                                            </div>
                                             <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.AdditionalMinistry </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.AdditionalMinistry, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.AdditionalMinistry, @autocomplete = "off",@maxlength ="750" })

                                                </div>

                                            </div>
                                            
                                            @*<div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.MinisterName  </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.MinisterName, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.MinisterName, @autocomplete = "off" ,@maxlength ="250" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                         <span class="field-validation-error" id="minnameValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.MinisterName)
                                                    </div>
                                                </div>

                                            </div>*@
                                            @*<div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.MinisterNameLocal </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.MinisterNameLocal, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.MinisterNameLocal, @autocomplete = "off" ,@maxlength ="250"})

                                                </div>

                                            </div>*@
                                            @*<div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="id-date-picker-1">@Resources.MasterDataDashboard.MemberStartDate </label>
                                                <div class="col-sm-9">                                                 
                                                    @Html.TextBoxFor(model => model.MemberStartDate, new { @placeholder = @Resources.MasterDataDashboard.MemberStartDate, @data_date_format = "dd/mm/yyyy" , @id="finish_date", @class = " col-xs-10 col-sm-5" })
                                                    <span class="input-group-addon1">
                                                        <i class="fa fa-calendar bigger-110"></i>
                                                    </span>
                                                     <span class="field-validation-error" id="membDateValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                    @Html.ValidationMessageFor(model => model.MemberStartDate, "", new { @id = "ValidFromValidateMesssge" })
                                                </div>
                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="id-date-picker-2">@Resources.MasterDataDashboard.MemberEndDate </label>

                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.MemberEndDate, new { @placeholder = @Resources.MasterDataDashboard.MemberEndDate,@data_date_format = "dd/mm/yyyy" , @class = " col-xs-10 col-sm-5",@id="End_date" })

                                                    <span class="input-group-addon1">
                                                        <i class="fa fa-calendar bigger-110"></i>
                                                    </span>
                                                    
                                                    <span class="field-validation-error" id="DateComapreValidation"></span>
                                                </div>
                                            </div>*@

                                             @*<div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Order</label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.OrderID, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.Order, @autocomplete = "off", @onkeypress = "return isNumberKey(event)" ,@maxlength ="3" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                         <span class="field-validation-error" id="orderValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.OrderID)
                                                    </div>
                                                </div>

                                            </div>*@

                                              <div class="space-2"></div> 
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Active </label>
                                                <div class="col-sm-9">
                                                   
                                                    @Html.CheckBoxFor(model => model.IsActive)                                                      
                                                </div>

                                            </div>

                                      

                                           
                                        </div>


                                    </div>
                                </div>                              
                                <div class="btn-group pull-right padding-10">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->
                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple " @*onclick="return userValid();"*@>
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        @Resources.MasterDataDashboard.Save</button>
                                    <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        @Resources.MasterDataDashboard.Reset
                                    </button>
                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>
                            }
                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
@*<script type="text/javascript">   
  
    function userValid() {
        var district, statenameid, prefix, name, sex, mobile;
        district = document.getElementById("AssemblyID").value;
        statenameid = document.getElementById("MinistryName").value;
        prefix = document.getElementById("MinisterName").value;
        name = document.getElementById("MemberCode").value;
        //sex = document.getElementById("MemberStartDate").value;
        mobile = document.getElementById("OrderID").value;
       
        if ((district == "" || district == null) && (statenameid == "" || statenameid == null) && (prefix == "" || prefix == null) && (name == "" || name == null)  && (mobile == "" || mobile == null)) {
            $("#assemblyValidation").html("Select Assembly Name");
            $("#ministrynameValidation").html("Ministry Name is Required");
            $("#minnameValidation").html("Minister Name is Required");
            $("#membnameValidation").html("Member Name is Required");
            //$("#membDateValidation").html("Member StartDate required");
            $("#orderValidation").html("Order ID is Required");
         
            return false;
        }
        return true;

    }

    $(function () {
        $('#AssemblyID').focus(function () {
            $('#assemblyValidation').html("");
        });
    });

    $(function () {
        $('#MinistryName').focus(function () {
            $('#ministrynameValidation').html("");
        });
    });

    $(function () {
        $('#MinisterName').focus(function () {
            $('#minnameValidation').html("");
        });
    });

    $(function () {
        $('#MemberCode').focus(function () {
            $('#membnameValidation').html("");
        });
    });

    //$(function () {
    //    $('#MemberStartDate').focus(function () {
    //        $('#membDateValidation').html("");
    //    });
    //});

    $(function () {
        $('#OrderID').focus(function () {
            $('#orderValidation').html("");
        });
    });
</script>*@
<script>

    $(document).ready(function () {
        $('#finish_date').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });

        $('#End_date').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });

    });


    $('.date-picker').datepicker({
        autoclose: true,
        todayHighlight: true

    })
  //show datepicker when clicking on the icon
  .next().on(ace.click_event, function () {
      $(this).prev().focus();
  });


    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    $(document).ready(function () {
        $("#AssemblyID").focus();

        $("#ministermain").addClass("active open");
        $("#ministersub").addClass("nav-show").css("display", "block");
        $("#ministrylist").addClass("active");
        $("#ministerlinkid").removeClass("fa-comment").addClass("fa-comment-o");
    });
    function resetFields() {
        $(".field-validation-error").empty();
        $("#AssemblyID").focus();
    }
</script>







