﻿@model  SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.MinistryViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    //int count = 0;
}
@Html.Action("LeftNavigationMenu", "SuperAdmin")

<div class="main-content">
    @Html.Partial("_BreadcrumbsPartial")
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "Ministry")">@Resources.MasterDataDashboard.Home</a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Ministry")">@Resources.MasterDataDashboard.Ministries</a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.List</li>
        </ul>

        @*  <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>*@

    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->


        <!-- /section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
            <button class="btn  btn-sm btn-info" onclick="javascript:window.location.href=' /SuperAdmin/Ministry/CreateMinistry';">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                <span class="bigger-110">@Resources.MasterDataDashboard.New</span>
            </button>
        </div>
        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.Ministries
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.MinistryList
                </small>
            </h1>
        </div>

        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title"></h4>
                <table id="tblSearchministerTable">
                    <tbody>
                        <tr>
                            <td>Assembly : </td>
                            <td>@Html.DropDownListFor(model => model.AssemblyID, new SelectList(ViewBag.assmeblyList, "AssemblyCode", "AssemblyName", new { @class = "col-xs-12 col-sm-7 col-md-6", @style = "width:90%" }))
                                @Html.ValidationMessageFor(model => model.AssemblyID)
                            </td>
                            <td style="margin-left: 10px;">
                                <button type="button" id="savebtn" onclick="MinistryListWithAssembly();" class="btn btn-sm btn-purple ">
                                    <i class="ace-icon fa fa-search bigger-125"></i>
                                    Search</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="widget-body">
                <div id="updatediv"></div>
            </div>
        </div>


        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@

            </div>

            <!-- /section:basics/footer -->
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>

<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>

    <div class="space-6"></div>
</div>


<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#ministermain").addClass("active open");
        $("#ministersub").addClass("nav-show").css("display", "block");
        $("#ministrylist").addClass("active");
        $("#ministerlinkid").removeClass("fa-comment").addClass("fa-comment-o");


    });

    function MinistryListWithAssembly() {
        var AssemblyCode = $("#AssemblyID option:selected").val();
       // alert(AssemblyCode);
        //alert(AssemblyCode);
        //var SessionCode = $("#sessionLst option:selected").val();
        $.ajaxSetup({ cache: false });

        $.ajax({
            url: "/SuperAdmin/Ministry/GetMinistryWithAssembly",
            type: 'GET',
            data: {
                assemblyId: AssemblyCode,
                //sessionId: SessionCode
            },
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (data) {
                $('#loader-wrapper').hide();
                $("#updatediv").html("");
                $("#updatediv").html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("datatype error");
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    jQuery(function ($) {
        $('#sample-table-2').dataTable();
        //var oTable1 =
        //$('#sample-table-2')
        ////.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        //.dataTable({
        //    bAutoWidth: true,
        //    "aLengthMenu": [[50, 100, 200, 400, -1], [50, 100, 200, 400, "All"]],
        //    "iDisplayLength": 50,
        //    "aoColumns": [
        //      { "bSortable": false },
        //      //null,
        //      null, null, null,
        //      { "bSortable": false }
        //    ]

        //});

        //oTable1.fnSort([[0, 'asc']]);

        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })


    $(".DeleteMinistry").on('click', function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        var id = $(this).attr('id');
        var path = "@Url.Action("CheckMinistryChildExist", "Ministry")";

        var request = $.ajax({

            url: path,
            data: { MinistryID: id },
            success: function (result) {
                //alert(result);
                if (!result) {

                    bootbox.confirm('@Resources.MasterDataDashboard.Areyousurewanttodelete', function (confresult) {

                        if (confresult) {

                            window.location.href = url;
                        }

                    })
                }
                else {

                    bootbox.alert('@Resources.MasterDataDashboard.ThisMinistryisAlreadyExist');
                }
            }


        });
    });

    //$(" #DeleteLink").on('click', function (e) {
    //    e.preventDefault();
    //    var url = $(this).attr('href');
    //    var message = "";
    //    var buttonlabel = "";
    //    var buttoncss = "";
    //    var title = "";
    //    if ($(this).attr('id') == "DeleteLink") {

    //        message = "Are you sure want to delete ?";
    //        buttonlabel = "Delete";
    //        buttoncss = "btn-danger";
    //        title = "Delete Confirmation"
    //    }

    //    bootbox.dialog({
    //        message: message,
    //        title: title,
    //        buttons: {
    //            success: {
    //                label: buttonlabel,
    //                className: buttoncss,
    //                callback: function () {
    //                    window.location.href = url;
    //                }
    //            },
    //            danger: {
    //                label: "Cancel",
    //                className: "btn",
    //                callback: function () {
    //                    $('.modal-dialog').modal('hide');
    //                }
    //            },

    //        }
    //    });
    //});
</script>




