﻿@model SBL.DomainModel.Models.Committee.tCommitteeModel
@{
    int count = 0;
    int startpage = 0;
    int endPage = 0;
    float rcnt = @Model.ResultCount;
    float rperPage = @Model.RowsPerPage;
    float cnt = rcnt / rperPage;
    int b = (int)cnt;
    float c = (float)cnt - b;  
}

@if (c > 0)
{
    count = b + 1;
}
else
{
    count = b;
}

@{
    startpage = ((@Model.selectedPage * 10) - 10) + 1;
    endPage = startpage + 9;           
}

@if (Model.loopStart <= 0)
{
    Model.loopStart = 1;
    Model.loopEnd = 5;
}


@if (count > 0)
{
    <div class="grid-ex-footer">
        <div class="grid-pagination">
            @if (count < Model.loopEnd)
            {
                Model.loopEnd = count;
            }

            <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,1,1,5)" title="@Resources.Common.GoToTheFirstPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">@Resources.Common.FirstPage</span></a>
            @if (Model.loopStart > 5)
            {                           
                <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)" title="@Resources.Common.GoToThePreviousPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">@Resources.Common.PreviousPage</span></a>
            }

            <ul class="gridpage-numbers">
                @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                {
                    if (i == @Model.selectedPage)
                    {                                    
                    <li><span class="grid-page-selected">@i</span></li>
                    }
                    else
                    {
                    <li><a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                    }
                }
            </ul>
            @if (Model.loopStart + 5 < @count)
            {
                <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)" title="@Resources.Common.GoToTheNextPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">@Resources.Common.NextPage</span></a>
            }
            <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@count,@count-5,@count)" title="@Resources.Common.GoToTheLastPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">@Resources.Common.LastPage</span></a>
            <span class="grid-page-info">@Model.loopStart - @Model.loopEnd @Resources.Common.Of @count @Resources.Common.Pages.</span>
        </div>
    </div>
}


@if (Model.ComModel.Count > 0)
{
    <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
    <table id="editableTable" class="simple-table-style1">

        <tr>
            @*  <th style="text-align: center">
                <input type="checkbox" id="ChkBoxAll" /></th>*@
            <th class="grid_th" style="text-align: center;border-width: 1.5px;">@Resources.Committee.PaperType</th>
            <th class="grid_th" style="text-align: center;border-width: 1.5px;">@Resources.Committee.Category</th>
            @*<th style="text-align: center">@Resources.Committee.File</th>
            <th style="text-align: center">@Resources.Committee.Title</th>
            <th style="text-align: center">@Resources.Committee.CommitteeChairPerson</th>
            <th style="text-align: center">@Resources.Committee.Minister</th>
            <th style="text-align: center">@Resources.Committee.Department</th>
            <th style="text-align: center">@Resources.Committee.Action</th>*@
        </tr>


        @foreach (var item in Model.ComModel)
        {
            <tr id="H_@item.PaperLaidIdTemp" class="PColorChange" onclick="Edit(this.id)" style="cursor: pointer">
                @*<td style="text-align: center">
                    <input type="checkbox" id="Chk_@item.PaperLaidIdTemp" class="Checkbox" onclick="checkChange(this.id)" style="vertical-align:top" />
                </td>*@
                <td style="text-align: center; vertical-align: top;border-width: 1px;">Committee
                </td>
                <td style="text-align: center; vertical-align: top;border-width: 1px;">@item.EventName
                </td>
                @*<td style="text-align: center; vertical-align: top">
                    <a href="@item.FilePath@item.FileName" target="_blank">View</a>
                    <div id="divfile" style="color: blue; text-decoration: underline; cursor: pointer" onclick="">@item.FileName</div>
                </td>*@

                @*<td style="text-align: center; vertical-align: top">@Html.Raw(item.Title)
                </td>
                <td style="text-align: center; vertical-align: top">@item.CommitteeName (@item.ChairPersonName)
                </td>
                
                <td style="text-align: center; vertical-align: top">@item.MinisterName
                </td>
                <td style="text-align: center; vertical-align: top">@item.DepartmentName
                </td>
                @if (item.version > 1)
                { 
                    <td style="text-align: center; vertical-align: top">
                        <input type="image"  id="S_@item.PaperLaidIdTemp" style="margin-left: 10px; width: 35px; height: 35px" src="~/Images/Common/submit.jpg" alt="Submit"  onclick="Submit(this.id)" title="Submit" />
                        <input type="image"  id="V_@item.PaperLaidIdTemp" style="margin-left: 10px; width: 35px; height: 35px" src="~/Images/Common/Details.jpg" alt="Details" onclick="ViewPendingDetails(this.id)" title="Details" />
                    </td>
                }
                else
                {
                    <td style="text-align: center; vertical-align: top">
                        <input type="image" id="E_@item.PaperLaidIdTemp" src="~/Images/Common/edit.jpg" style="width: 35px; height: 35px" alt="Edit" onclick="Edit(this.id)" title="Edit"/>
                        <input type="image"  id="D_@item.PaperLaidIdTemp" style="margin-left: 10px; width: 35px; height: 35px;" src="~/Images/Common/delete.jpg" alt="Delete" onclick="Delete(this.id)" title="Delete"/>
                        <input type="image"  id="G_@item.PaperLaidIdTemp" style="margin-left: 10px; width: 35px; height: 35px" src="~/Images/Common/submit.jpg" alt="Submit"  onclick="Submit(this.id)" title="Submit" />
                        <input type="image"  id="H_@item.PaperLaidIdTemp" style="margin-left: 10px; width: 35px; height: 35px" src="~/Images/Common/Details.jpg" alt="Details" onclick="ViewPendingDetails(this.id)" title="Details" />
                    </td>
                }*@


            </tr>
        }

    </table>
    
   
}
else
{
    <div style="text-align: center">@Resources.Committee.NoRecordsBusinessType</div>
}

@if (count > 0)
{
    <div class="grid-ex-footer">
        <div class="grid-pagination">
            @if (count < Model.loopEnd)
            {
                Model.loopEnd = count;
            }

            <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,1,1,5)" title="@Resources.Common.GoToTheFirstPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">@Resources.Common.FirstPage</span></a>
            @if (Model.loopStart > 5)
            {                           
                <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)" title="@Resources.Common.GoToThePreviousPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">@Resources.Common.PreviousPage</span></a>
            }

            <ul class="gridpage-numbers">
                @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                {
                    if (i == @Model.selectedPage)
                    {                                    
                    <li><span class="grid-page-selected">@i</span></li>
                    }
                    else
                    {
                    <li><a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                    }
                }
            </ul>
            @if (Model.loopStart + 5 < @count)
            {
                <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)" title="@Resources.Common.GoToTheNextPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">@Resources.Common.NextPage</span></a>
            }
            <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@count,@count-5,@count)" title="@Resources.Common.GoToTheLastPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">@Resources.Common.LastPage</span></a>
            <span class="grid-page-info">@Model.loopStart - @Model.loopEnd @Resources.Common.Of @count @Resources.Common.Pages.</span>
        </div>
    </div>
}

@*@if (Model.ComModel.Count > 0)
{ 
    <div>
        <table style="width: 100%; padding: 10px" class="minwb-style1">
            <tr>
                <td>
                    <input type="button" value="Submit Selected" onclick="SubmitSelected()" />
                </td>
            </tr>
        </table>

    </div> 
}*@
<script>
    function SubmitSelected() {
        var SIds = document.getElementById("SelectedChkbxId").value;
        if (SIds != null && SIds != "") {
            if (confirm("Are you sure to sumbit ?")) {
                $.get("/CommitteePaperLaid/CommitteePaper/SubmitPending", { Ids: SIds }, function (data) {
                    if (data = "Success") {
                        alert("Successfully Submitted !")
                        $.get("/CommitteePaperLaid/CommitteePaper/GetPendings", {}, function (data) {
                            $("#divSearchQues").html(data)
                        });
                    }
                    else {
                        alert(data)
                    }
                });
            }

            else {
                event.preventDefault();
            }
        }
        else {
            alert("Please select any Committee !");
        }
    }
    $('#ChkBoxAll').on("click", function () {
        if ($('#ChkBoxAll').attr('checked')) {
            document.getElementById("SelectedChkbxId").value = "";
            $(".Checkbox").each(function () {
                var selectedChkbxId = document.getElementById("SelectedChkbxId").value;
                if (selectedChkbxId == "") {
                    document.getElementById("SelectedChkbxId").value = this.id.substring(4);
                } else {
                    selectedChkbxId = selectedChkbxId + "," + this.id.substring(4);
                    document.getElementById("SelectedChkbxId").value = selectedChkbxId;
                }
                $(this).prop("checked", $("#ChkBoxAll").is(":checked"));
            });
            //alert(document.getElementById("SelectedChkbxId").value);
        }
        else {
            document.getElementById("SelectedChkbxId").value = "";
            $(".Checkbox").each(function () {
                $(this).prop("checked", false);
            });
        }
    });

    function checkChange(id) {
        if (document.getElementById(id).checked) {
            var selectedId = document.getElementById("SelectedChkbxId").value;
            if (selectedId == "") {
                document.getElementById("SelectedChkbxId").value = id.substring(4);
            }
            else {
                selectedId = selectedId + "," + id.substring(4);
                document.getElementById("SelectedChkbxId").value = selectedId;
            }
            //alert(document.getElementById("SelectedChkbxId").value)
        }
        else {
            var selectedId = document.getElementById("SelectedChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(4), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4), "");
            }

            document.getElementById("SelectedChkbxId").value = newvalue;

            //alert(document.getElementById("SelectedChkbxId").value);
        }

        if ($(".Checkbox").not(':checked').length == 0) {
            $('#ChkBoxAll').attr('checked', true)
        }
        else {
            $('#ChkBoxAll').attr('checked', false)
        }
    }
</script>
