﻿@model SBL.DomainModel.Models.Committee.tCommitteeModel

@Html.HiddenFor(m => m.AssemblyId)
@Html.HiddenFor(m => m.SessionId)

@Html.Hidden("SessionCodeHome", Model.SessionId)
@Html.Hidden("AssemblyCodeHome", Model.AssemblyCode)

<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />

<script src="~/Scripts/jquery-1.7.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>
@*<script type="text/javascript" src="/Scripts/jquery-1.7.min.js"></script>*@
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="~/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="~/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="~/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="~/assets/js/jqGrid/i18n/grid.locale-en.js"></script>


<script type="text/javascript">

    jQuery(function ($) {

        $("#sizeDown").click(function () {
            if ($("body").hasClass('sizeLarge')) {
                $("body").css("font-size", "13px");
                $("body").removeClass('sizeLarge');
            } else {
                $("body").css("font-size", "10px");
                $("body").addClass('sizeSmall');
            }
        });
        $("#sizeUp").click(function () {
            if ($("body").hasClass('sizeSmall')) {
                $("body").css("font-size", "13px");
                $("body").removeClass('sizeSmall');
            } else {
                $("body").css("font-size", "18px");
                $("body").addClass('sizeLarge');
            }
        });
    });

    function ChangeLangaugeEnglish() {

        $.ajax({
            url: "/Home/ChangeCulture",
            type: 'GET',
            data: {
                lang: "7C4F28F6-02FC-4627-993D-E255037531AD",
                langCulture: "/"
            },
            success: function (data) {
                if (data) {
                    window.location.href = '@Url.Action("CommitteeDashboard", "CommitteePaper", new { Area = "CommitteePaperLaid" })';
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }
    function ChangeLangaugeHindi() {

        $.ajax({
            url: "/Home/ChangeCulture",
            type: 'GET',
            data: {
                lang: "43177cd4-b51d-497a-a3bc-e81f23b07450",
                langCulture: "/"
            },
            success: function (data) {
                if (data) {
                    window.location.href = '@Url.Action("CommitteeDashboard", "CommitteePaper", new { Area = "CommitteePaperLaid" })';
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

         </script>

<div class="widget-box">
    <div class="widget-header widget-header-flat">

        <div class="widget-toolbar no-border">
            <button class="btn btn-xs btn-primary bigger" onclick='GetPending()'>
                <i class="ace-icon fa fa-pencil-square-o"></i>
                @Resources.Committee.DraftReport
         </button>

        <button class="btn btn-xs btn-primary bigger" onclick='GetSubmitted()'>
                <i class="ace-icon fa fa-pencil-square-o"></i>
              Sent Report
        </button>         
       @* <button class="btn btn-xs btn-primary bigger" onclick='UpcomingLob()'>
                <i class="ace-icon fa fa-pencil-square-o"></i>
                    @Resources.PaperLaidDepartment.DDUpcomingLOB
        </button>
         <button class="btn btn-xs btn-primary bigger" onclick='LaidInHouse()'>
                <i class="ace-icon fa fa-pencil-square-o"></i>
                      @Resources.Committee.CDLaidInHouse
         </button>

         <button class="btn btn-xs btn-primary bigger" onclick='PendingToLay()'>
                <i class="ace-icon fa fa-pencil-square-o"></i>
                    @Resources.Committee.CDPendingToLay
         </button>*@
          <button class="btn btn-xs btn-primary bigger" onclick='CreateNewCommittee()'>
                <i class="ace-icon fa fa-pencil-square-o"></i>
                @Resources.PaperLaidDepartment.New 
            </button>
        </div>
    </div>
</div>




<span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="Bottm Info" style="text-align:left;margin-left:0px;margin-bottom:2px;">
 All Committee Papers List (Draft & Sent) 
</span>


@{    
    var grid = new Lib.Web.Mvc.JQuery.JqGrid.JqGridHelper<SBL.DomainModel.Models.Committee.tCommitteeModel>("CommonGrid",
                          
                            dataType: Lib.Web.Mvc.JQuery.JqGrid.JqGridDataTypes.Json,
                            footerEnabled: false,
                            methodType: Lib.Web.Mvc.JQuery.JqGrid.JqGridMethodTypes.Post,
                            pager: true,
                            rowsList: new List<int> { 10, 20, 30, 40, 50 },
                            rowsNumber: 10,
                            onSelectRow: "onSelectRowHandler",
                            sortingName: "paperLaidId",
                            sortingOrder: Lib.Web.Mvc.JQuery.JqGrid.JqGridSortingOrders.Asc,
                            url: Url.Action("NewGetAllList"),
                            userDataOnFooter: false,
                            viewRecords: true,
                            autoWidth: true,
                            emptyRecords: @Resources.PaperLaidDepartment.NoRecordFound,
                            postDataScript: "function() { return { AssemblyId: $('#AssemblyCodeHome').val(), SessionId: $('#SessionCodeHome').val()}; }"

                        );
}
@grid.GetHtml()

<script>

    jQuery(document).ready(function () {
        @grid.GetJavaScript()
        jQuery("#CommonGrid").jqGrid('setLabel', 'Title', '@Resources.PaperLaidDepartment.Subject')
        jQuery("#CommonGrid").jqGrid('setLabel', 'EventName', '@Resources.PaperLaidDepartment.BusinessType')
        jQuery("#CommonGrid").jqGrid('setLabel', 'FileName', '@Resources.PaperLaidDepartment.Paper')
        jQuery("#CommonGrid").jqGrid('setLabel', 'SubmittedDate', '@Resources.PaperLaidDepartment.Senton')
        jQuery("#CommonGrid").jqGrid('setLabel', 'DesireLayDate', '@Resources.PaperLaidDepartment.DesireLayingDate')
       
    });

    $.paperSentFormatter = function (cellvalue, options, rowObject) {
        alert("cellvalue : " + cellvalue);
        return "sdfsdfsd";
    };

    jQuery(".jqgrow td input", "#NewGetAllList").each(function () {
        jQuery(this).unbind('click');
        jQuery(this).click(function () {
            alert("sss");
        });
    });




    function onSelectRowHandler(rowId, status, event, Module) {
        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();
        var paperLaidID = 0;
        var id = $('#SessionCodeHome').val();
        var rowData = $(this).jqGrid("getRowData", rowId);

        //Get Paper Laid ID and Status for the Record.
        paperLaidID = rowData.PaperLaidId != "" ? rowData.PaperLaidId : 0;

        var status = parseInt(rowData.Status);

       

        if (status == 1 || status == 2) {
            if (paperLaidID == 0) {
                $.ajax({
                    url: '/CommitteePaperLaid/CommitteePaper/ViewDetails',
                    type: 'GET',
                    data: { Id: rowId },
                    cache: false,
                    success: function (response) {
                        if (response) {
                            $("#RightSidebar").html(response);
                            cl2.hide();


                        } else { alert("error"); }

                    },

                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
            else {
                $.ajax({
                    url: '/CommitteePaperLaid/CommitteePaper/ViewDetails',
                    type: 'GET',
                    data: { Id: rowId },
                    cache: false,
                    success: function (response) {
                        if (response) {
                            $("#RightSidebar").html(response);
                            cl2.hide();


                        } else { alert("error"); }

                    },

                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
        }
        else if (status == 3) {
            $.ajax({
                url: '/CommitteePaperLaid/CommitteePaper/SendViewDetails',
                type: 'GET',
                data: { Id: rowId },
                cache: false,
                success: function (response) {
                    if (response) {
                        $("#RightSidebar").html(response);
                        cl2.hide();


                    } else { alert("error"); }

                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });
        }
    }


    //function onSelectRowHandler(rowId) {
    //    var cl2 = new CanvasLoader('canvasloader-container2');
    //    cl2.show();
       
      
    //    var rowData = $(this).jqGrid("getRowData", rowId);
    //    //Get ID  for the Record.
    //    var id = rowData.PaperLaidIdTemp != "" ? rowData.PaperLaidIdTemp : 0;

      
    //    $.ajax({
    //        url: '/CommitteePaperLaid/CommitteePaper/ViewDetails',
    //        type: 'GET',
    //        data: { Id: rowId },
    //        cache: false,
    //        success: function (response) {
    //            if (response) {
    //                $("#RightSidebar").html(response);
    //                cl2.hide();


    //            } else { alert("error"); }

    //        },

    //        error: function (xhr, ajaxOptions, thrownError) {
    //            alert(xhr.responseText);
    //            alert(thrownError);
    //        }
    //    });

    //}


    function CreateNewCommittee() {
        var sessionId = '@Model.SessionId';
        var assemblyId = $("#AssemblyCodeHome").val();
        alert(sessionId);
       
        var cl = new CanvasLoader('canvasloader-container2');
        cl.show();
        var pathurl = '@Url.Action("GetPaperEntry", "CommitteePaper")';

        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                sessionId: sessionId,
                assemblyId: assemblyId
            },
            cache: false,
            success: function (data) {
                @*   cl.hide();
                $("#RightSidebar").empty();
                $("#RightSidebar").html(data);
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.Bills");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DraftBills");*@

                $("#divDataContainer").html(data);
                $("#RightSidebar").html("")
                ClearControls();
                ChangeBreadCrumbParent("@Resources.Committee.CommitteeDashboard");
                ChangeBreadCrumbChild("@Resources.Committee.DraftReport");
                cl.hide();
                $("#SuccessDiv").hide();
            }
        });
    }


    function GetSubmitted() {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetSubmitted", "CommitteePaper")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {

                $("#divDataContainer").html(data);
                $("#RightSidebar").html("")
                ClearControls();
                ChangeBreadCrumbParent("@Resources.Committee.CommitteeDashboard");
                ChangeBreadCrumbChild("@Resources.Committee.DraftReport");
                cl.hide();
                $("#SuccessDiv").hide();

            }
        });
    }

    function GetPending() {
        //alert('aaya');
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetPendings", "CommitteePaper")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {

                $("#divDataContainer").html(data);
                $("#RightSidebar").html("")
                ClearControls();
                ChangeBreadCrumbParent("@Resources.Committee.CommitteeDashboard");
                ChangeBreadCrumbChild("@Resources.Committee.DraftReport");
                cl.hide();
                $("#SuccessDiv").hide();

            }
        });
    }
</script>


