﻿<script>	
	$(document).ready(function () {
	    debugger;
	   
	    $("#loader-wrapper").show();
	    $('.widget-box').show();
	    var urlPath = '@Url.Action("GetAllList", "CommitteePaper", new { Area = "CommitteePaperLaid" })';
	    $.ajax({
	        url: urlPath,
	        type: 'GET',
	        data: {},
	        success: function (data) {
	            if (data) {
	                $('#divDataContainer').empty();
	                $('#divDataContainer').html(data);
	                $("#loader-wrapper").hide();
	                $('#resize-left').width('100%');
	                $('#spnScrollPosition').html('1');
	                $('#resize-right').animate({ width: '0%' }, 500);
	                ChangeBreadCrumbParent("Correspondence", "");
	                ChangeBreadCrumbChild("eFile", "");
	                $("#MainDiveThreeTire").show();
	            } else { alert("error"); }
	        },
	        error: function (xhr, ajaxOptions, thrownError) {
	            alert(xhr.responseText);
	            alert(thrownError);
	        }
	    });
	});
</script>
   
            
<script>
   function GetPending() {
        //alert('aaya');
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetPendings", "CommitteePaper")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
             
                $("#divDataContainer").html(data);
                $("#RightSidebar").html("")
                ClearControls();
                ChangeBreadCrumbParent("@Resources.Committee.CommitteeDashboard");
                ChangeBreadCrumbChild("@Resources.Committee.DraftReport");
                cl.hide();
                $("#SuccessDiv").hide();

            }
        });
    }


    function GetSubmitted() {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetSubmitted", "CommitteePaper")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {

                $("#divDataContainer").html(data);
                $("#RightSidebar").html("")
                ClearControls();
                ChangeBreadCrumbParent("@Resources.Committee.CommitteeDashboard");
                ChangeBreadCrumbChild("@Resources.Committee.ReportSent");
                cl.hide();
                $("#SuccessDiv").hide();

            }
        });
    }

    function UpcomingLob() {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("UpcomingLob", "CommitteePaper")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {

                $("#divDataContainer").html(data);
                $("#RightSidebar").html("")
                ClearControls();
                ChangeBreadCrumbParent("@Resources.Committee.CommitteeDashboard");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.UpcomingLOB");
                cl.hide();
                $("#SuccessDiv").hide();

            }
        });
    }


    function LaidInHouse() {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("LaidInHouse", "CommitteePaper")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {

                $("#divDataContainer").html(data);
                $("#RightSidebar").html("")
                ClearControls();
                ChangeBreadCrumbParent("@Resources.Committee.CommitteeDashboard");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DDLaidInHouse");
                cl.hide();
                $("#SuccessDiv").hide();

            }
        });
    }

    function PendingToLay() {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("PendingToLay", "CommitteePaper")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {

                $("#divDataContainer").html(data);
                $("#RightSidebar").html("")
                ClearControls();
                ChangeBreadCrumbParent("@Resources.Committee.CommitteeDashboard");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DDPendingToLay");
                cl.hide();
                $("#SuccessDiv").hide();

            }
        });
    }
    </script>


