﻿@model SBL.DomainModel.Models.PISModules.tPISEmployeePersonal

<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }

    .footer .footer-inner .footer-content {
        bottom: 0px;
    }

    #tblinsertform {
        width: 100%;
    }

        #tblinsertform th {
            border: 1px solid;
            padding: 3px;
            background-color: #EFF3F8;
            text-align: center;
            color: black;
        }

    .thdrp {
        width: 14%;
    }

    .thdt {
        width: 8%;
    }

    .thgen {
        width: 5%;
    }

    .thaction {
        width: 8%;
    }

    #tblinsertform tr td {
        border: 1px solid;
    }

        #tblinsertform tr td input[type=text] {
            width: 100%;
            font-size: 13px;
            text-align: center;
        }

        #tblinsertform tr td select {
            width: 100%;
            font-size: 13px;
            text-align: center;
        }

    #tblaction tr td {
        width: 10%;
        border: 0px solid;
        text-align: center;
    }
      #tblerror tr td {
        border: 1px solid;
        padding: 10px;
    }
</style>
<link rel="stylesheet" href="/assets/css/datepicker.css" />

<form id="UpdateAdharDetailForm">
    <input type="hidden" id="pageId" name="pageId" value="@ViewBag.CurrentPage" />
    <input type="hidden" id="PageName" name="PageName" value="@ViewBag.PageName" />
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.deptid)
    <table id="tblinsertform">
        <thead>
            <tr role="row">
                   <th class="thdrp">Aadhar ID  <a data-rel="tooltip" class="btn btn-minier btn-danger" title="Edit Adhar Details" onclick="GetDetailsByAadharID(document.getElementById('AadharID').value);" id="view"  href="#">
                          <i class="glyphicon glyphicon-pencil"></i>
                                        </a></th>
                <th class="thdrp">Posting Office</th>
                <th class="thdrp">Post</th>
             
                <th class="thdrp">Name</th>

                <th class="thdt">DOB</th>
                <th class="thdt">Joined On</th>
                <th class="thdt">Relieved On</th>
                <th class="thgen">Gender</th>


                <th class="thaction">Action</th>
            </tr>
        </thead>
        <tbody>

            <tr id="Row-">
                  <td class="thdrp">@Html.TextBoxFor(m => m.AadharID, new { @onchange = "GetDetailsByAadharID(this.value);", @onkeydown = "Javascript: if (event.keyCode==13) GetDetailsByAadharID(this.value);", @class = "RemoveBorder", @maxlength = "12" })
                     
                </td>
                <td class="thdrp">@Html.DropDownListFor(m => m.POfficeId, new SelectList(Model.OfficeList, "OfficeId", "officename"), "-Select-", new { @class = "RemoveDdlBorder", @id = "ddloffice" }) </td>
                <td class="thdrp">@Html.DropDownListFor(m => m.PDesignationId, new SelectList(Model.DesignationList, "Id", "designame"), "-Select-", new { @class = "RemoveDdlBorder", @id = "DdlDesig", @name = "PDesignationId", })</td>
              
                <td class="thdrp">@Html.TextBoxFor(m => m.empfname, new { @class = "RemoveBorder" })
                </td>

                <td class="thdt">
                    @Html.TextBoxFor(m => m.empdob, "{0:dd/MM/yyyy}", new { @class = "datepicker RemoveBorder" })
                </td>
                <td class="thdt">
                    @Html.TextBoxFor(m => m.dofjoin, "{0:dd/MM/yyyy}", new { @class = "datepicker" })

                </td>
                <td class="thdt">
                    @Html.TextBoxFor(m => m.dofretirecurr, "{0:dd/MM/yyyy}", new { @class = "datepicker" })


                </td>
                <td class="thgen">
                    <select id="empgender" name="empgender" style="width: 100%;">
                        @if (Model.empgender == "M")
                        {
                            <option selected="selected" value="M">M</option>
                            <option value="F">F</option>
                        }
                        else if (Model.empgender == "F")
                        {<option value="M">M</option>
                            <option selected="selected" value="F">F</option>}
                        else
                        {<option value="M">M</option>
                            <option value="F">F</option> }
                    </select>

                </td>
                @* <td>@Html.DropDownListFor(m => m.deptid, new SelectList(Model.DepartmentList, "deptId", "deptname", "NULL"), "-Select-", new { @class = "RemoveDdlBorder" })
                </td>*@

                <td class="thaction">


                    <div>
                        <table id="tblaction">
                            <tr>
                                <td><a data-rel="tooltip" class="btn btn-minier btn-danger" title="Edit" onclick="UpdateEmpInfo();" id="aedit" href="#">Add/Update
                                </a></td>

                            </tr>
                        </table>



                    </div>

                </td>
            </tr>


        </tbody>
    </table>

</form>


@*<script src="~/Content/ScriptsUp/jquery.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>*@
<script src="~/assets/js/bootbox.min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>

<script>
    $(document).ready(function () {
        if ('@ViewBag.departmentid' != "" && '@ViewBag.OfficeID' != "") {

            getOfficebyDeptid('@ViewBag.OfficeID', '@ViewBag.departmentid');
             getDesignation('@ViewBag.OfficeID');
         }

         else if ('@Session["OfficeSelected"]' != null && '@Session["DeptID"]' != null) {
             getOfficebyDeptid('@Session["OfficeSelected"]', '@Session["DeptID"]');
          getDesignation('@Session["OfficeSelected"]');
      }
        $('.datepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        });

        var gender = $("#hdngender1").val();
        if (gender != "") {
            $("#genderlist option[value=" + gender + "]").prop("selected", "selected");

        }

        $('.RemoveBorder').keypress(function () {
            var Id = this.id;
            $("#" + Id).next().hide();
            $("#" + Id).css("border", "1px solid green");
        });

        $('.RemoveDdlBorder').change(function () {

            var Id = this.id;
            if ($("#" + Id).val() != '') {
                $("#" + Id).next().hide();
                $("#" + Id).css("border", "1px solid green");
            }
            else {
                $("#" + Id).after("<span class='ErrorMessage'>Required</span>");
                $("#" + Id).css("border", "1px solid red");
            }

        });

        //$("#ddloffice").change(function () {
        //    var officeid = $(this).val()
        //    if (officeid == "") {
        //        //ShowNotification("error", "Please Select office !!!.....");
        //    }
        //    else {
        //        $.ajax({
        //            url: "/PISModule/PISEmployee/DesignationDrpList",
        //            type: 'POST',
        //            data: { officeid: officeid },
        //            success: function (data) {
        //                $("#DdlDesig").empty();
        //                $("#DdlDesig").append("<option value=''>-- Select -- </option>");
        //                $.each(data, function (index, optiondata) {
        //                    $("#DdlDesig").append("<option value='" + optiondata.Id + "'>" + optiondata.designame + "</option>");
        //                });
        //            }
        //        })
        //    }

        //});
    });
 
    
    //function getOfficebyDeptid(offid, DepartmentID) {
    //    //var DepartmentID = $('#DeptId').val();
    //    if (DepartmentID == "") {
    //        ShowNotification("error", "Please Select Department From !!!.....");
    //    }
    //    else {
    //        $.ajax({
    //            url: "/PISModule/PISEmployee/OfficeDrpList",
    //            type: 'POST',
    //            data: { deptid: DepartmentID },
    //            success: function (data) {
    //                $("#ddloffice").empty();
    //                $("#ddloffice").append("<option value=''>-- Select Office -- </option>");
    //                $.each(data, function (index, optiondata) {
    //                    $("#ddloffice").append("<option value='" + optiondata.OfficeId + "'>" + optiondata.officename + "</option>");
    //                });
    //                $("#ddloffice option[value=" + offid + "]").prop("selected", "selected");
    //            }
    //        })
    //    }
    //}

    function getOfficebyDeptid(offid, DepartmentID) {

        if (DepartmentID == "") {
            ShowNotification("error", "Please Select Department From !!!.....");
        }
        else {

            $.ajax({
                url: "/PISModule/PISEmployee/OfficeDrpList",
                type: 'POST',
                data: { deptid: DepartmentID },
                success: function (data) {
                    $("#ddloffice").empty();
                    $("#ddloffice").append("<option value=''>-- Select Office -- </option>");
                    $("#ddloffice").append("<option value=" + '@ViewBag.Currentofficeid' + ">" + '@ViewBag.OfficeName' + "</option>");
                   $.each(data, function (index, optiondata) {
                       $("#ddloffice").append("<option value='" + optiondata.OfficeId + "'>" + optiondata.officename + "</option>");
                   });
                   $("#ddloffice option[value=" + offid + "]").prop("selected", "selected");
               }
           }).done(function () {
               $("#ddloffice").val('@ViewBag.OfficeID');

           })
       }
   }
    function getDesignation(officeid) {
       // var officeid = $(this).val()
        if (officeid == "") {
           // ShowNotification("error", "Please Select office !!!.....");
        }
        else {
            $.ajax({
                url: "/PISModule/PISEmployee/DesignationDrpList",
                type: 'POST',
                data: { officeid: officeid },
                success: function (data) {
                    $("#DdlDesig").empty();
                    $("#DdlDesig").append("<option value=''>-- Select -- </option>");
                    $.each(data, function (index, optiondata) {
                        $("#DdlDesig").append("<option value='" + optiondata.Id + "'>" + optiondata.designame + "</option>");
                    });
                }
            })
        }
    }
    function UpdateEmpInfo() {
        $('.ErrorMessage').empty();
        var IsValid = true;
        if ($('#AadharID').val() == '') {
            $('#AadharID').css("border", "1px solid red");
            $('#AadharID').after("<span class='ErrorMessage'>Required</span>");
            IsValid = false;
        }
        if ($('#empfname').val() == '') {
            $('#empfname').css("border", "1px solid red");
            $('#empfname').after("<span class='ErrorMessage'>Required</span>");
            IsValid = false;
        }
        if ($('#empdob').val() == '') {
            $('#empdob').css("border", "1px solid red");
            $('#empdob').after("<span class='ErrorMessage'>Required</span>");
            IsValid = false;
        }
        //if ($('#deptid').val() == '') {
        //    $('#deptid').css("border", "1px solid red");
        //    $('#deptid').after("<span class='ErrorMessage'>Department Required</span>");
        //    IsValid = false;
        //}
        if ($('#ddloffice').val() == '') {
            $('#ddloffice').css("border", "1px solid red");
            $('#ddloffice').after("<span class='ErrorMessage'>Required</span>");
            IsValid = false;
        }
        if ($('#DdlDesig').val() == '') {
            $('#DdlDesig').css("border", "1px solid red");
            $('#DdlDesig').after("<span class='ErrorMessage'>Required</span>");
            IsValid = false;
        }


        if (IsValid == true) {
            var adhar = $('#AadharID').val();
            $('#loader-wrapper').show();
            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/PISModule/PISEmployee/CheckAdharIsExist",
                type: 'GET',
                dataType: "text",
                data: { adhar: adhar },
                success: function (data) {
                    if (data == "") {
                        alert("Please submit adhar details");
                        return false;
                    }

                    else {

                        var QData = $('#UpdateAdharDetailForm').serialize();
                        $.ajax({
                            cache: false,
                            async: true,
                            type: "POST",
                            url: '/PISModule/PISEmployee/CheckFilledPost',
                            data: QData,
                            beforeSend: function () {
                                $('#loader-wrapper').show();
                            },
                            success: function (result) {
                                alert(result);
                                if (result == ""|| result==null) {
                                    $.ajax({
                                        cache: false,
                                        async: true,
                                        type: "POST",
                                        url: '/PISModule/PISEmployee/UpdateEmpDetails',
                                        data: QData,
                                        beforeSend: function () {
                                            $('#loader-wrapper').show();
                                        },
                                        success: function (code) {
                                            $('#loader-wrapper').hide();
                                            $('#MainDiv').empty();
                                            $('#MainDiv').append(code);

                                        },
                                        error: function (error) {

                                            $('#MainDiv').empty();
                                            $('#MainDiv').append(error.responseText);

                                        },

                                        complete: function (result) {
                                            $('#loader-wrapper').hide();
                                        }
                                    });
                                }
                                else {
                                    // alert(data);
                                    
                                  
                                    $("#loader-wrapper").hide();
                                    $("#errorDetails").empty();
                                 
                                    var tst = "";
                                    tst += "<table id='tblerror'><tr><td colspan='3'>Sanctioned post is not available for selected designation: </td></tr>";
                                    $.each(result, function (index, optiondata) {
                                        tst += "<tr><td>" + result[index].DepartmentName + "</td><td>" + result[index].DesignationName + "</td><td>" + result[index].OfficeName + "</td></tr>";
                                    });
                                    tst += "</table>";
                                    $("#errorDetails").append(tst);
                                    $('#ErrorPopupModel').modal('show');
                                    return false;
                                }


                            }

                        });
                    }

                }
            });
        }
    }
</script>
<!-- SHOW Warning popup -->
<div class="modal" id="ErrorPopupModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >Warning</h4>
            </div>
         
                <div class="modal-body">
                    <div >
                        <div id="errorDetails">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                 <div class="row">
                     <div class="col-md-3 pull-left"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
                     <div class="col-md-3"> </div>
                    
                  </div>
                    

                 </div>
                 
                   
                </div>
         
        </div>
    </div>