﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV



@if (null != Model)
{
    <div class="widget-header widget-header-flat">
        <h4 class="widget-title">Commitee Paper Details</h4>
        <div class="widget-toolbar no-border">
            @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.AssemblyId == SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.SiteSettingsCurrentAssemblyId && SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.SessionId == SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.SiteSettingsCurrentSessionId)
            {
                @Html.Hidden("PaperLaidFullRecord", @Model.PaperLaidId)
                if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.MemberDesignation != SBL.DomainModel.Models.Enums.EnumHelper.GetDescription(SBL.DomainModel.Models.Enums.RoleTypeDept.HOD))
                {
                <button type="submit" name="Draft" id="replacement" class="btn btn-xs btn-yellow bigger" onclick="return GetSubmittedPaperLaidByID();">
                    <i class="ace-icon fa fa-arrow-circle-o-down"></i>
                    @Resources.PaperLaidDepartment.ToReplacePaper
                </button>            
                }
            }
            else
            {
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>
                    <strong>Alert!</strong>
                    Documents may not be send for previous session
										<br>
                </div>
            }

        </div>
    </div>
}


@if (null != Model)
{   
    <div class="widget-body">
        @Html.Hidden("PaperLaidIdFullRecord", @Model.PaperLaidId)
        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Minister </div>

                    <div class="profile-info-value">
                        <span id="spnMinsitery" class="">@Model.MinistryName</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Department</div>

                    <div class="profile-info-value">
                        <span id="spnDepartment" class="">@Model.DeparmentName</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.DesiredDateToLaid</div>

                    <div class="profile-info-value">
                        <span id="spnDesireDate" class="">@(Model.DesireLayingDate != null ? @String.Format("{0:dd/MM/yyyy}", Model.DesireLayingDate) : "")</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Title</div>

                    <div class="profile-info-value">
                        <span id="spnTitle" class="">@Html.Raw(@Model.Title)</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Description</div>

                    <div class="profile-info-value">
                        <span id="spnDescription" class="">@Html.Raw(@Model.Description)</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.ProvisionUnderWhich</div>

                    <div class="profile-info-value">
                        <span id="spnProvisionUnderWhich" class="">@Html.Raw(@Model.ProvisionUnderWhich)</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Remark</div>

                    <div class="profile-info-value">
                        <span id="spnRemark" class="">@Html.Raw(@Model.Remark)</span>
                    </div>
                </div>


                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.PaperToBeLaid</div>

                    <div class="profile-info-value">

                        <span id="spnFile" class="">
                            <a href="/SecuredFiles/@Model.PaperLaidId,SignedP"  target="_blank">@Resources.PaperLaidDepartment.SignedPaperVer @Model.FileVersion</a></span> @* <a href="@Model.actualFilePath" target="_blank" >@Resources.PaperLaidDepartment.SignedPaperVer @Model.FileVersion</a></span>*@
                    </div>
                </div>


                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.DocFile</div>

                    <div class="profile-info-value">


                        @if (@Model.DocFileName != null)
                        {
                            <span id="spnFile" class="">
                                <a  href="/SecuredFiles/@Model.PaperLaidId,MD"  target="_blank">@Resources.PaperLaidDepartment.ViewDownload</a></span>
                        }

                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.DeptSubmittedDate</div>

                    <div class="profile-info-value">
                        <span id="spnDeptSubmittedDate" class="">
                            @Convert.ToDateTime(Model.DepartmentSubmitDate).ToString("dd/MM/yyyy hh:mm:ss tt")
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
else
{
    <div style="border: 1px solid grey;">
        Sorry No Data Found!
    </div>
}


<script>
    function GetSubmittedPaperLaidByID() {
        // $("#RightSideDiv").html('')
        $("#loader-wrapper").show();

        var value = $('#PaperLaidFullRecord').val();
        $.ajax({
            url: "/HouseCommittee/HouseCommitteePaperLaid/GetCommitteeSentByID",
            type: 'GET',
            data: {
                paperLaidId: value
            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").empty();
                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }


    function ReplaceDetails() {
        var value = $('#PaperLaidFullRecord').val();
        //alert("PaperLaid Id : " + value)

        $.ajax({
            url: "/PaperLaidDepartment/Billpaperlaid/ShowPaperLaidDetailByID",
            type: 'GET',
            data: {
                paperLaidId: value
            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data)
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

</script>
