﻿@model  SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.BillStatusViewModel
@{
    ViewBag.Title = "CreateBillStatus";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@Html.Action("LeftNavigationMenu", "SuperAdmin")
<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    @Html.Partial("_BreadcrumbsPartial")
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "BillStatus")">@Resources.MasterDataDashboard.BillStatusMasterData</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "BillStatus")">@Resources.MasterDataDashboard.BillStatusDetails</a>
            </li>
                
        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
      @*  <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>*@

    </div>

    <div class="page-content">

        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.MasterData
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.BillStatusDetails
                </small>
            </h1>


        </div>

        <!-- /section:settings.box -->

        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.CreateBillStatus</h4>
            }
            else
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.EditBillStatus</h4>
            }

        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            @using (Html.BeginForm("SaveBillStatus", "BillStatus", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                            { 
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.BillStatusId)
                                @Html.HiddenFor(model => model.Mode)

@*  <h4 class="header blue lighter smaller clearfix">Basic details </h4>*@
                                <div class="tabbable">
                                    @* <ul id="myTab" class="nav nav-tabs padding-18">
                                        <li class="active">
                                            <a href="#news-english" data-toggle="tab">
                                                <i class="green ace-icon fa fa-home bigger-120"></i>
                                                English
                                            </a>
                                        </li>

                                        
                                    </ul>*@
                                    <div class="tab-content no-border padding-24">
                                        <div class="tab-pane in active" id="news-english">

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.BillStatus </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.BillStatus, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.BillStatus, @autocomplete = "off", @maxlength = "150" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="billstatusvalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.BillStatus)
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.BillStatusLocal1 </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.BillStatusLocal, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.BillStatusLocal1, @autocomplete = "off", @maxlength = "150" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        @Html.ValidationMessageFor(model => model.BillStatusLocal)
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Description </label>
                                                <div class="col-sm-9">

                                                    @Html.TextAreaFor(model => model.Description, new { @id = "txtDesc", @class = "col-xs-10 col-sm-9", @placeholder = @Resources.MasterDataDashboard.Description, @autocomplete = "off", @maxlength = "500" })

                                                </div>

                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Active </label>
                                                <div class="col-sm-9">
                                                    @Html.CheckBoxFor(model => model.Active)
                                                </div>

                                            </div>

                                        </div>


                                    </div>
                                </div>                              
                                <div class="btn-group pull-right padding-10">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->
                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple ">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        @Resources.MasterDataDashboard.Save</button>
                                    <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        @Resources.MasterDataDashboard.Reset
                                    </button>
                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>
                            }
                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>

<script>

    $("#savebtn").live("click", function () {
        if ($('#BillStatus').val() == "" || ('#BillStatus').val() == null) {
            $('#billstatusvalidation').text("Bill Status is required");
            return false
        }
        else {
            return true;
        }
    });

    $(function () {
        $('#BillStatus').focus(function () {
            $('#billstatusvalidation').html("");

        });
    });

    $(function () {

        $("#txtDesc").blur(function () {
            $(this).animate({
                height: '55px',
                width: '580px'
            },
               "fast"
            )
        });

        $("#txtDesc").focus(function () {
            $(this).animate({
                height: '200px',
                width: '580px'
            },
               "fast"
            );

            //$("#newsDescvalidation").html("");

        });

    });

    $(document).ready(function () {
        $("#BillStatus").focus();

        $("#othermain").addClass("active open");
        $("#othersub").addClass("nav-show").css("display", "block");
        $("#billstatuslist").addClass("active");
        $("#otherlinkid").removeClass("fa-comment").addClass("fa-comment-o");
    });
    function resetFields() {
        $(".field-validation-error").empty();
        $("#BillStatus").focus();
    }
</script>





