﻿@model List<SBL.DomainModel.Models.eFile.DepartmentReply>
@{int count = 0; }

  @*<table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
        <thead>
            <tr role="row">
                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" onclick="javascript:window.location.href=' /SuperAdmin/Committee/GetAllCommitee';">@Resources.MasterDataDashboard.SNo</th>
                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" onclick="javascript:window.location.href=' /SuperAdmin/Committee/GetAllCommitee';">Sent on</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.Subject</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.Description</th>               
                <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
            </tr>
        </thead>
        <tbody role="alert" aria-live="polite" aria-relevant="all">*@
            @foreach (var item in Model)
            {
                count = count + 1;  
                <tr>
                    <td class="center">
                        @count
                    </td>
                    <td>@Convert.ToDateTime(item.CreatedDate).ToString("dd/MM/yyyy")</td>
                    <td style="width: 40%">@item.Title</td>
                    <td style="width: 50%">@item.Description</td>
                    <td>
                        <div class="hidden-sm hidden-xs action-buttons">
                            <a title="View document" onclick="DisplayModal()" href="javascript:void(0);" class="green">
                                <i class="ace-icon fa fa-eye bigger-130"></i>
                            </a>
                        </div>
                    </td>
                    <td>
                        <span onclick="ReplayModal(@item.eFileAttachmentId)" id="NoticeReply" class="label label-sm label-success">Reply</span>
                    </td>                    
                </tr>     
                                    if (item.ChildNode.Count > 0)
                                    {
                @Html.Partial("ChildView", item.ChildNode)
                    }

                                }

      @*</tbody>
    </table>*@
