﻿@model List<SBL.DomainModel.Models.eFile.DepartmentReply>
@{Layout = "~/Views/Shared/_ResponsiveLayout.cshtml"; int count = 0; int countplus = 0;}
@Html.Action("LeftNavigationMenu", "SuperAdmin", new { Area="SuperAdmin"})

<style>
    .footer {
        padding-top: 663px;
    }
    .ShowModal {
        top: 18%;
        left: 14%;
        z-index: 1000;
        position: absolute;
        background-color: White;
        display: block;
    }
    .HideModal {
        display: none;
    }
    .OverlayEffect {
        /*background-color: white;*/
        filter: alpha(opacity=40);
        opacity: 0.7;
        width: 100%;
        height: 100%;
        z-index: 400;
        position: absolute;
        top: 0;
        left: 0;
    }
    </style>

<script>
    function ReplayModal(ParentId) {
        document.getElementById("hdParentId").value = ParentId;
        $('#ReplayMsg').show();
        //document.getElementById("overlay").style.height = document.body.clientHeight + 'px';
        document.getElementById("overlay").className = "OverlayEffect";
        document.getElementById("ReplayMsg").className = "ShowModal";
        //GetAllCommitteeMembers();
    }
    function RemoveReplay() {
        //document.getElementById("modalMsg").className = "HideModal";
        document.getElementById("overlay").className = "";
        //return false;
        $('#ReplayMsg').hide();
    }
    function DisplayModal() {
        //alert(id);

        //$.ajax({
        //    url:"/SuperAdmin/Committee/"

        //});
        
        //alert(path);
        $('#modalMsg').show();
        //document.getElementById("data").value = "~/eFileAttachments/ELEMENTARY EDUCATION_S_.pdf";
        document.getElementById("overlay").className = "OverlayEffect";
        document.getElementById("modalMsg").className = "ShowModal";        
    }
    function RemoveModal() {        
        document.getElementById("overlay").className = "";       
        $('#modalMsg').hide();
    }
</script>

<div id="modalMsg" style="width: 60%; height: 800px; border:solid 1px black;top:10px;left:263px;" class="HideModal">
<div style="padding: 0px 98% 0px 98%;"><a href="#"  onclick="RemoveModal()"><img src="~/Content/img/cancel-icon.png" style="width: 14px;" /></a> </div>
<object id="mypdf" data="~/eFileAttachments/7_PDF_4.7_Team_Directory(1).pdf" type="application/pdf" style="width:100%; height:95%"> 
     
</object>
</div>

<div id="ReplayMsg" style="width: 62%;height: 385px;border: 1px solid black;top: 10px;left: 238px;" class="HideModal">

    @using (Html.BeginForm("AddeFileAttachments", "eFile", new { area = "eFile" }, FormMethod.Post, new { @class = "form_section", id = "form_course", @enctype = "multipart/form-data" }))
    {
       <input type="hidden" name="Type" value="FromDepartment" />
        <input type="hidden" name="ParentId" value="" id="hdParentId" />
<div style="padding: 0px 98% 0px 97%;"><a href="#"  onclick="RemoveReplay()"><img src="~/Content/img/cancel-icon.png" style="width: 14px;" /></a> </div> 
    <div class="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="@Url.Action("GetAllCommitee", "Committee")">@Resources.MasterDataDashboard.Home</a>
                </li>
                <li class="active">Sent Notice</li>
            </ul>
        </div>
    <table style="width:100%">
        <tr>
            <td>
                <div style="padding: 60px 0px 0px 16px;">
                <table style="width:100%">
                    <tr>
                        <td>
                            Title
                        </td>
                        <td>
                            <input type="text" class = "col-xs-10 col-sm-5" name="Title" placeholder = "Title" maxlength ="51" style="width: 95%;" />
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td><td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            Description
                        </td>
                        <td>                          
                            <textarea rows="4" cols="50" style="width:95%" name="Description">
                                </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Document</td>
                        <td><input type="file" name="file" /></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td><td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2">

                             <div class="btn-group pull-right padding-10">
                                                        <!-- #section:plugins/fuelux.wizard.buttons -->
                                                        <button type="submit" id="savebtn" class="btn btn-sm btn-purple "  onclick="AddCommitteeMembers();">
                                                            <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                                            Send</button>
                                                        <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                                            @Resources.MasterDataDashboard.Reset
                                                        </button>
                                                        <!-- /section:plugins/fuelux.wizard.buttons -->
                                                    </div>

                        </td>
                    </tr>
                </table>
                    </div>
            </td>
        </tr>
    </table>
    }
</div>

<div id="overlay"></div>

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("AddeFile", "eFile", new { Area="eFile"})"></a>
            </li>   
            <li>
                <a href="@Url.Action("eFileList", "eFile", new { Area="eFile"})"></a>
            </li>        
              <li class="active">Documents Replies</li>
        </ul>       

    </div>

 <div class="page-content">

        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.MasterData
                               
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Documents
                </small>
            </h1>
        </div>

        <!-- /section:settings.box -->

        <div class="widget-header widget-header-blue widget-header-flat">
                        <h4 class="widget-title lighter">Replies</h4>
        </div>

     <div style="top: 120px; position: absolute;">
         @if (Model != null)
         {
             if (Model.Count > 0)
             {

             <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                 <thead>
                     <tr role="row">
                         <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" onclick="javascript:window.location.href=' /SuperAdmin/Committee/GetAllCommitee';">@Resources.MasterDataDashboard.SNo</th>
                         <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" onclick="javascript:window.location.href=' /SuperAdmin/Committee/GetAllCommitee';">Sent on</th>
                         <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.Subject</th>

                         <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.Description</th>

                         <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                         <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>

                     </tr>
                 </thead>
                 <tbody role="alert" aria-live="polite" aria-relevant="all">

                     @foreach (var item in Model)
                     {
                         count = count + 1;  
                         <tr>
                             <td class="center">
                                 @count
                             </td>
                             <td>@Convert.ToDateTime(item.CreatedDate).ToString("dd/MM/yyyy")</td>
                             <td style="width: 40%"><b>@item.Title</b></td>
                             <td style="width: 50%">@item.Description</td>
                             <td>
                                 <div class="hidden-sm hidden-xs action-buttons">
                                     <a title="View document" onclick="DisplayModal()" class="green">
                                         <i class="ace-icon fa fa-eye bigger-130"></i>
                                     </a>
                                 </div>
                             </td>
                             <td>
                                 <span onclick="ReplayModal(@item.eFileAttachmentId)" id="NoticeReply" class="label label-sm label-success">Reply</span>
                             </td>

                         </tr>     
                if (item.ChildNode.Count > 0)
                {
                    countplus = count + 1;
                         @Html.Partial("ChildView", item.ChildNode)
                                    }

            }

                 </tbody>
             </table>
                }
                 else
                        {
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="alert alert-info">

                                    <strong>No Record found!</strong><br />


                                </div>
                            </div>
                        </div>
                        }
         }
     </div>



     </div>
    </div>

@*<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
 jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
              { "bSortable": false },
              null,null,null,null, 
              { "bSortable": false }
            ]

        });

        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

 })
   </script>*@