﻿@model SBL.eLegistrator.HouseController.Web.Areas.AdministrationBranch.Models.mPassModel
<script src="~/assets/js/jquery.qrcode-0.8.0.min.js"></script>
@{
    Layout = null;
    var dateofissue = Model.ApprovedDate != null ? string.Format("{0:dd/MM/yyyy}", Model.ApprovedDate) : "";
    var withEffectfrom = Model.SessionDateFrom != null ? Model.SessionDateFrom : "";
    var withEffectTo = Model.SessionDateTo != null ? Model.SessionDateTo : "";
    var gender = Model.Gender == "Male" ? 'M' : 'F';
}

<script type="text/javascript">
    $(function () {
        $('.qrcode-box').each(function () {
            var msgText = $(this).attr("data-code");
            var id = $(this).attr("id");
            qrcode(msgText, id)
        });
    });

    function qrcode(msgText, id) {
        $('#' + id).empty();
        $('#' + id).qrcode({
            render: 'image',// render method: `'canvas'`, `'image'` or `'div'`
            size: 80,
            color: '#3a3',
            text: msgText
        });
    }
</script>
<style>
    .section-pass-main-1 {
        border: 1px solid black;
        margin-bottom: 10px;
        page-break-inside: avoid;
        font-family: 'Open Sans';
    }
</style>

<section class=" section-pass-main-1 page-no-break" style="width: 492px; position: relative; overflow: hidden; padding: 10px 10px 0;">
    <table style="width: 100%">
        <tr>
            <td style="vertical-align: top">
                <div class="print-block" style="width: 380px;">
                    <div class="print-row" style="padding-bottom: 10px">
                        <table style="width: 100%">
                            <tr>
                                <td>
                                    <div class="print_logo" style="width: 56px;">
                                        <img src="~/Content/img/logo.png" style="height: 40px !important;" />
                                    </div>
                                </td>
                                <td style="vertical-align: bottom">
                                    <div class="print_title" style="font-weight: bold; text-align: center; font-size: 6px; width: 200px; padding-top: 10px;">
                                        <span style="font-size: 12px;">@Model.PassCategoryName</span><br />
                                        <span style="font-family: 'Montserrat', sans-serif; font-size: 8px;">HIMACHAL PRADESH VIDHAN SABHA </span>
                                    </div>

                                </td>
                                <td style="vertical-align: bottom">
                                    <div style="padding-top: 10px;">
                                        <div style="font-weight: bold; font-size: 8px;">NON-TRANSFERABLE </div>
                                        <div style="font-weight: bold; font-size: 11px;">Pass Code : @Model.PassCode</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="print-row" style="display: block; width: 99%;">
                        <table style="width: 100%">
                            <tr style="border-bottom: 1px solid black; text-align: left;">
                                <td style="padding: 2px 0" class="fontbold">Admit</td>
                                <td class="fontbold">&nbsp;&nbsp;:&nbsp;</td>
                                <td style="padding-left: 5px; font-size: 9px; text-align: left;">@Model.Name (@gender, @Model.Age Years)   </td>
                            </tr>
                            <tr style="border-bottom: 1px solid black; text-align: left;">
                                <td style="padding: 2px 0" class="fontbold">Department</td>
                                <td class="fontbold">&nbsp;&nbsp;:&nbsp;</td>
                                <td style="padding-left: 5px; font-size: 9px; text-align: left;">@Model.OrganizationName    </td>
                            </tr>
                            <tr style="border-bottom: 1px solid black; text-align: left;">
                                <td style="padding: 2px 0" class="fontbold">Designation</td>
                                <td class="fontbold">&nbsp;&nbsp;:&nbsp;</td>
                                <td style="padding-left: 5px; font-size: 9px; text-align: left;">@Model.Designation  </td>
                            </tr>
                            <tr style="border-bottom: 1px solid black; text-align: left;">
                                <td style="padding: 2px 0" class="fontbold" style="vertical-align: top;">Address</td>
                                <td class="fontbold">&nbsp;&nbsp;:&nbsp;</td>
                                <td style="padding-left: 5px; font-size: 9px; text-align: left;">@Model.Address  </td>
                            </tr>
                        </table>
                    </div>

                    <table style="width: 100%">
                        <tr>
                            <td>
                                <div class="print-column">
                                    <div class="print-wef" style="font-size: 10px; text-align: left">
                                        During Session of the <br />
                                        Himachal Pradesh Vidhan Sabha
                                        <br />
                                        w.e.f : <span style="font-weight:bold;">@Model.SessionDateFrom </span>to <span style="font-weight:bold;">@Model.SessionDateTo </span>
                                    </div>
                                </div>
                            </td>

                            <td>
                                <div class="print-column">
                                    <div style="font-size: 9px; float: right; margin-top: 2px; text-align: right; padding-right: 5px;">
                                        <div>
                                            Date of Issue:<b> @dateofissue </b>
                                        </div>
                                    </div>
                                </div>
                                <div class="print-column" style="text-align: right; float:left; font-size: 10px;">
                                    @if (@Model.ApprovedPassCategoryID == 9 || @Model.ApprovedPassCategoryID == 3 || @Model.ApprovedPassCategoryID == 8 || @Model.ApprovedPassCategoryID == 5 || @Model.ApprovedPassCategoryID == 10)
                                    {
                                        <div class="pull-right" style=""><strong><br/>&nbsp; </strong></div>
                                    }
                                    else
                                    {
                                        <div class="pull-right" style=""><strong><br/>&nbsp; </strong></div>
                                    }
                                </div>
                                <div class="print-column" style="float:right;">
                                    <div class="">
                                        @if (@Model.ApprovedPassCategoryID == 9 || @Model.ApprovedPassCategoryID == 3 || @Model.ApprovedPassCategoryID == 8 || @Model.ApprovedPassCategoryID == 5 || @Model.ApprovedPassCategoryID == 10)
                                        {
                                            <img src="~/assets/css/img/DeputySecretary.gif" style="position:absolute;  left:170px;top:127px"    />
                                        }
                                        else
                                        {
                                            <img src="~/assets/css/img/Secretary.gif" style="position:absolute;  left:150px;top:126px"  />
                                        }
                                    </div>

                                </div>

                            </td>
                        </tr>
                    </table>
                </div>

            </td>
            <td style="vertical-align: top">
                <div class="print-block" style="width: 90px">
                    <div class="print-column" style="text-align: right">
                        <img  src="@Model.Photo" height="80" style="border:1px solid #666; padding:1px; " />
                    </div>
                    <div class="print-column" style="border: 1px solid #666; height: 86px; padding: 2px; width: 86px; float: right; margin: 5px 0px;">
                        <div class="qrcode-box" id="@Model.PassCode" data-code="@Model.xmlDocument">
                            
                        </div>
                    </div>
                    
                </div>
            </td>
        </tr>

    </table>
    <div style="width: 100%; margin-top: -7px;">
        <div class="print-column">
            <div>
                <p style="text-align: left; margin-top: 2px; margin-bottom: 0px; text-decoration: underline; font-size: 12px;">INSTRUCTION</p>
                <p style="text-align: justify; font-size: 7px;">
                    1. Admissions is subject to availability of accomodations.This pass is liable to be cancelled without notice or session thereof. Pass holder may be asked to withdraw at any time from the gallery.<br />
                    2.The pass holder is required to maintain silence and avoid unwanted movements. Reading, standing in the gallery and use of opera glasses is not permitted.<br />
                    3. Mobile, Pager, electronic articles, camera, binoculars, stick, umberalla, handbag, brief case, books, pamphlets, fire-arms, esplosives, dagger,knife, stones etc. are not allowed inside the gallery. Such articles can be deposited at the entrance gate. Any infringment will render the person liable for action against him/her.
                </p>
            </div>
        </div>
    </div>
</section>

@* Existing with changes. *@
@*<section class=" section-pass-main-1 page-no-break" style="width: 450px; height: 280px; position:relative; overflow:hidden; ">
    <div class="print-row" style="position: absolute; left: 8px; width: 350px; top: 8px; height: 64px;">
        <div class="" style="float: left; width: 56px;">
            <img src="~/Content/img/logo.png" style="height: 40px !important;" />
        </div>
        <div class="" style="font-weight: bold; text-align: center; font-size: 6px; width: 200px; float: left; padding-top: 10px;">
            <span style="font-size: 12px;">@Model.PassCategoryName</span>
            <br>
             <span style="font-family: 'Montserrat', sans-serif; font-size:8px;"> HIMACHAL PRADESH VIDHAN SABHA </span>  </div>
        <div style="float: left; padding-top: 10px;">
            <div style="font-weight: bold; font-size: 8px;">NON-TRANSFERABLE </div>
            <div style="font-weight: bold">Pass Code : @Model.PassCode</div> </div>
    </div>

    <div class="print-column" style="position: absolute; top: 8px; right: 0px; height: 80px; width: 80px;">
        <img  src="@Model.Photo" height="80" />
    </div>

    <div class="print-row" style="position: absolute; left: 4px; top: 65px; display: block; width: 350px;">
        <div class="col-xs-12">
            <div class="row" >
            <table style="width:100% ">
                <tr style="padding-top: 2px; border-bottom: 1px solid black; text-align: left;">
                    <td class="fontbold">Admit        </td>
                    <td style="padding-left: 5px; font-size: 9px; text-align: left;">: @Model.Name (@gender, @Model.Age Years)   </td>
                </tr>
                <tr style="padding-top: 2px; border-bottom: 1px solid black; text-align: left;">
                    <td class="fontbold">Department </td>
                    <td style="padding-left: 5px; font-size: 9px; text-align: left;">: @Model.OrganizationName    </td>
                </tr>
                <tr style="padding-top: 2px; border-bottom: 1px solid black; text-align: left;">
                    <td class="fontbold">Designation </td>
                    <td style="padding-left: 5px; font-size: 9px; text-align: left;">: @Model.Designation  </td>
                </tr>
                <tr style="padding-top: 2px; border-bottom: 1px solid black; text-align: left;">
                    <td class="fontbold" style="vertical-align: top;">Address  </td>
                    <td style="padding-left: 5px; font-size: 8px; text-align: left;">: @Model.Address  </td>
                </tr>
            </table>
            </div>
        </div>
    </div>

    <div class="print-column" style="position: absolute; left: 10px; top: 140px;">
        <div class="col-xs-12 pull-left">
            <div class="row"  style="font-size: 10px; text-align: left;">
                During Session of the Himachal Pradesh Vidhan Sabha <br /> w.e.f : <span style="font-family: 'Oswald', sans-serif;">@Model.SessionDateFrom </span>to <span style="font-family: 'Oswald', sans-serif;">@Model.SessionDateTo </span>
            </div>
        </div>
    </div>
    
    <div class="print-column" style="position: absolute; top: 145px; left: 235px;">
        <div  style="padding: 10px 0 5px; font-size: 9px;">
            <div>
                Date of Issue:<b> @dateofissue </b>
            </div>
        </div>
    </div>

    <div class="print-column" style="border: 1px solid #666; height: 86px; padding: 2px; position: absolute; right: 4px; top: 90px; width: 86px;">
        <div class="qrcode-box" data-code="@Model.xmlDocument">
            <img src="~/assets/css/img/QRCode.jpg" height="85" width="85" />
        </div>
    </div>

    <div class="print-column" style="position: absolute; left: 5px; top: 170px; width: 360px">
        <div>
            <p style="text-align: left; margin-top: 2px; margin-bottom: 0px; text-decoration: underline; font-size: 12px;">INSTRUCTION</p>
            <p style="text-align: justify; font-size: 7px;">
                1. Admissions is subject to availability of accomodations.This pass is liable to be cancelled without notice or session thereof. Pass holder may be asked to withdraw at any time from the gallery.<br />
                2.The pass holder is required to maintain silence and avoid unwanted movements. Reading, standing in the gallery and use of opera glasses is not permitted.<br />
                3. Mobile, Pager, electronic articles, camera, binoculars, stick, umberalla, handbag, brief case, books, pamphlets, fire-arms, esplosives, dagger,knife, stones etc. are not allowed inside the gallery. Such articles can be deposited at the entrance gate. Any infringment will render the person liable for action against him/her.
            </p>
        </div>
    </div>

    <div  class="print-column" style="position: absolute; bottom: 0px; text-align: right; right: 5px;">
        @if (@Model.ApprovedPassCategoryID == 9 || @Model.ApprovedPassCategoryID == 3 || @Model.ApprovedPassCategoryID == 8 || @Model.ApprovedPassCategoryID == 5 || @Model.ApprovedPassCategoryID == 10)
        {
            <div class="col-xs-12 pull-right" style=""><strong>Deputy Secretary </strong></div>
        }
        else
        {
            <div class="col-xs-12 pull-right" style=""><strong>Secretary </strong></div>
        }
    </div>

    <div class="print-column"  style="position: absolute; right: 2px; bottom: 18px;">
        <div class="">
        @if (@Model.ApprovedPassCategoryID == 9 || @Model.ApprovedPassCategoryID == 3 || @Model.ApprovedPassCategoryID == 8 || @Model.ApprovedPassCategoryID == 5 || @Model.ApprovedPassCategoryID == 10)
        {
                <img src="~/assets/css/img/new-dyspeakersign.gif" height="40" style="float: right;" />
        }
        else
        {
                <img src="~/assets/css/img/speakersign.jpg" height="40" style="float: right;" />
        }
        </div>

    </div>

</section>*@







@*<section class=" section-pass-main-1 page-no-break" style="width: 450px; height: 265px; position:relative; overflow:hidden; ">

    <div class="print-row" style="position: absolute; left: 8px; width: 350px; top: 8px; height: 64px;">
        <div class="" style="float: left; width: 56px;">
            <img src="~/Content/img/logo.png" style="height: 40px !important;" />
        </div>
        <div class="" style="font-weight: bold; text-align: center; font-size: 6px; width: 200px; float: left; padding-top: 10px;">
            <span style="font-size: 12px;">@Model.PassCategoryName</span>
            <br>
             <span style="font-family: 'Montserrat', sans-serif; font-size:8px;"> HIMACHAL PRADESH VIDHAN SABHA </span>  </div>
        <div style="float: left; padding-top: 10px;">
            <div style="font-weight: bold; font-size: 8px;">NON-TRANSFERABLE </div>
            <div style="font-weight: bold">Pass Code : @Model.PassCode</div> </div>

    </div>

    <div class="print-column" style="position: absolute; top: 8px; right: 0px; height: 80px; width: 80px;">
        <img  src="@Model.Photo" height="80" />
    </div>

    <div class="print-row" style="position: absolute; left: 4px; top: 65px; display: block; width: 350px;">
        <div class="col-xs-12">
            <div class="row" >
            <table style="width:100% ">
                <tr style="padding-top: 2px; border-bottom: 1px solid black; text-align: left;">
                    <td class="fontbold">Admit        </td>
                    <td style="padding-left: 5px; font-size: 9px; text-align: left;">: @Model.Name (@gender, @Model.Age Years)   </td>
                </tr>
                <tr style="padding-top: 2px; border-bottom: 1px solid black; text-align: left;">
                    <td class="fontbold">Department </td>
                    <td style="padding-left: 5px; font-size: 9px; text-align: left;">: @Model.OrganizationName    </td>
                </tr>
                <tr style="padding-top: 2px; border-bottom: 1px solid black; text-align: left;">
                    <td class="fontbold">Designation </td>
                    <td style="padding-left: 5px; font-size: 9px; text-align: left;">: @Model.Designation  </td>
                </tr>
                <tr style="padding-top: 2px; border-bottom: 1px solid black; text-align: left;">
                    <td class="fontbold" style="vertical-align: top;">Address  </td>
                    <td style="padding-left: 5px; font-size: 9px; text-align: left;">: @Model.Address  </td>
                </tr>
            </table>
            </div>
        </div>
    </div>

    <div class="print-column" style="position: absolute; left: 10px; top: 124px;">
        <div class="col-xs-12 pull-left">
            <div class="row"  style="font-size: 10px; text-align: left;">
                During Session of the Himachal Pradesh Vidhan Sabha <br /> w.e.f : <span style="font-family: 'Oswald', sans-serif;">@Model.SessionDateFrom </span>to <span style="font-family: 'Oswald', sans-serif;">@Model.SessionDateTo </span>
            </div>
        </div>
    </div>
    
    <div class="print-column" style="position: absolute; top: 131px; left: 235px;">
        <div  style="padding: 10px 0 5px; font-size: 9px;">
            <div>
                Date of Issue:<b> @dateofissue </b>
            </div>
        </div>
    </div>

    <div class="print-column" style="border: 1px solid #666; height: 86px; padding: 2px; position: absolute; right: 4px; top: 90px; width: 86px;">
        <div class="qrcode-box" data-code="@Model.xmlDocument">
            <img src="~/assets/css/img/QRCode.jpg" height="85" width="85" />
        </div>
    </div>

    <div class="print-column" style="position: absolute; left: 5px; top: 150px;width: 360px">
        <div>
            <p style="text-align: left; margin-top: 2px; margin-bottom: 0px; text-decoration: underline; font-size: 12px;">INSTRUCTION</p>
            <p style="text-align: justify; font-size: 7px;">
                1. Admissions is subject to availability of accomodations.This pass is liable to be cancelled without notice or session thereof. Pass holder may be asked to withdraw at any time from the gallery.<br />
                2.The pass holder is required to maintain silence and avoid unwanted movements. Reading, standing in the gallery and use of opera glasses is not permitted.<br />
                3. Mobile, Pager, electronic articles, camera, binoculars, stick, umberalla, handbag, brief case, books, pamphlets, fire-arms, esplosives, dagger,knife, stones etc. are not allowed inside the gallery. Such articles can be deposited at the entrance gate. Any infringment will render the person liable for action against him/her.
            </p>
        </div>
    </div>

    <div  class="print-column" style="position: absolute; bottom: 0px; text-align: right; right: 5px;">
        @if (@Model.ApprovedPassCategoryID == 9 || @Model.ApprovedPassCategoryID == 3 || @Model.ApprovedPassCategoryID == 8 || @Model.ApprovedPassCategoryID == 5 || @Model.ApprovedPassCategoryID == 10)
        {
            <div class="col-xs-12 pull-right" style=""><strong>Deputy Secretary </strong></div>
        }
        else
        {
            <div class="col-xs-12 pull-right" style=""><strong>Secretary </strong></div>
        }
    </div>

    <div class="print-column"  style="position: absolute; right: 2px; bottom: 18px;">
        <div class="">
        @if (@Model.ApprovedPassCategoryID == 9 || @Model.ApprovedPassCategoryID == 3 || @Model.ApprovedPassCategoryID == 8 || @Model.ApprovedPassCategoryID == 5 || @Model.ApprovedPassCategoryID == 10)
        {
                <img src="~/assets/css/img/new-dyspeakersign.gif" height="40" style="float: right;" />
        }
        else
        {
                <img src="~/assets/css/img/speakersign.jpg" height="40" style="float: right;" />
        }
        </div>

    </div>

</section>*@
