﻿@model SBL.eLegistrator.HouseController.Web.Areas.AdministrationBranch.Models.mPassModel

@*<style>
    .section-pass-mainNew {
	border:1px solid black;
    padding:10px;
    margin-top:10px;
    margin-bottom:10px;
    page-break-inside: avoid;
    width:500px; 
    font-size:10px;
    margin-left:10px;
}
</style>

<section style="width:350px; height:215px;" class="section-pass-mainNew">

    <div class="row"> 
        <div class="col-xs-8" style=" font-weight:bold; font-size:21px; text-align:center; "> VISITOR'S GALLERY </div>
        <div class="col-xs-8" style="text-align :center; padding-top:0px; "> HIMACHAL PRADESH VIDHAN SABHA </div>
        <div class="col-xs-8" style=" font-weight:bold; text-align:center;"> NON- TRANSFERABLE </div>
                   
        <div class="col-xs-4"> <img  src ="@Model.Photo" height="80" width="70" style=" position:relative; top:-47px;right:3px;"/> </div>
    </div>
    <br />
    <div class="row" style=" position:relative; top:-72px;right:3px;"> 
        <div class="col-xs-2" style="text-align:left;"> Admit </div> <div class="col-xs-10" style="text-align:left;">:   <span style="font-weight:bold"> @Model.Name</span></div>
        <div class="col-xs-2" style="text-align:left;"> Address </div> <div class="col-xs-10" style="text-align:left;">:  @Model.Address </div>
        <div class="col-xs-12" style="text-align:left;"> in the sitting of Himachal Pradesh Vidhan Sabha on <span style="font-weight:bold"> @Model.SessionDateFrom</span> </div>
        <div class="qrcode-box" data-code="@Model.xmlDocument" style=" padding-left:10px;">
            <img src="/assets/css/img/QRCode.jpg" height="85" width="85" />
        </div>
        <div class="col-xs-8" style="text-align:left; position:relative;top:-80px;left:112px;"> Issued through :  @Model.RecommendationByName </div>  
        <div class="col-xs-4" style="position: relative; top: -80px;"> <img src="/assets/css/img/speakersign.jpg" height="40" style=" position:relative; top:17px;right:3px;" />  </div>
        <div class="col-xs-8" style="text-align:left;position:relative;top:-80px;left:112px; "> Pass Code : @Model.PassCode  </div>

        <div class="col-xs-8" style="text-align:left; position:relative;top:-80px;left:112px;">Gate No : @Model.GateNumber  </div>  <div class="col-xs-4" style="position: relative; top: -80px;"> Secretary  </div>

</div>

</section>*@
<style>
    .section-pass-mainNew {
	border:1px solid black;
    padding:10px;
    margin-top:10px;
    margin-bottom:10px;
    page-break-inside: avoid;
    width:500px; 
    font-size:10px;
    margin-left:10px;
}

    .section-pass-main-1 {
        border: 1px solid black;
        margin-bottom: 10px;
        page-break-inside: avoid;
        font-size:10px;
        /*font-family: 'Open Sans';*/
    }

    .nopadding {
   padding: 5px 5px 5px 0px!important;
   margin: 0 0 10px 0 !important;
}
</style>

<section class="section-pass-main-1 nopadding page-no-break visible-print-block" style="width: 360px; position: relative; overflow: hidden; padding: 10px;">
    <div class="col-xs-9 nopadding">
        <div class="col-xs-12 " style="font-weight: bold; font-size: 21px; text-align: center;">VISITOR'S GALLERY </div>
        <div class="col-xs-12" style="text-align: center; padding-top: 0px;">HIMACHAL PRADESH VIDHAN SABHA </div>
        <div class="col-xs-12" style="font-weight: bold; text-align: center;">NON- TRANSFERABLE</div>

        <div class="col-xs-2" style="text-align: left;">Admit </div>
        <div class="col-xs-10" style="text-align: left;">:   <span style="font-weight: bold">@Model.Name</span></div>
        <div class="col-xs-2" style="text-align: left;">Address </div>
        <div class="col-xs-10" style="text-align: left;">:  @Model.Address </div>
        <div class="col-xs-12" style="text-align: left;">in the sitting of Himachal Pradesh Vidhan Sabha on <span style="font-weight: bold">@Model.SessionDateFrom</span> </div>

        <div class="col-xs-8" style="text-align: left;">Issued through :  @Model.RecommendationByName </div>
        <div class="col-xs-4">
        </div>
        <h6>
            <div class="col-xs-8" style="text-align: left;">Pass Code : @Model.PassCode  </div>
            <div class="col-xs-8" style="text-align: left;">Gate No : @Model.GateNumber  </div>
        </h6>
        <img src="/assets/css/img/speakersign.jpg" height="40" />
        <div class="col-xs-4" style="text-align: left;">Secretary  </div>
    </div>
    <div class="col-xs-3 nopadding">
        <img  src ="@Model.Photo" height="80" width="70"/>
        <div class="print-column" style="border: 1px solid #666; height: 86px; padding: 2px; width: 86px; float: right; margin: 5px 0px;">
            <div class="qrcode-box" id="@Model.PassCode" data-code="@Model.xmlDocument" style=" padding-left:0px;">
            </div>
        </div>
    </div>
</section>