﻿@model SBL.eLegistrator.HouseController.Web.Models.LoginModel

@{
    ViewBag.Title = "Log in";
    
}
<script src="/Scripts/jquery-1.7.js"></script>
<script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    $(document).ready(function () {        
        $("#login").click(function () {
            var userName = $("#UserName").val();
            var pass = $("#Password").val();
            if (userName == '' || pass == '') {
                $('#userlogin').text("User Name and password required!").css("color", "red");
                return false;
            }
            else {
                return true;
            }

        });
    });
    

</script>

<script>
    $(document).ready(function () {
        if ("@ViewBag.Message" != null) {
        // alert("@ViewBag.Message");
    var val = "@ViewBag.Message";
    $('#userlogin').text(val).css("color", "red");
}
});
</script>

@*@if (ViewBag.Message != null)
{
    <h6>@ViewBag.Message</h6>
}*@

<div class="tabItemSpace">
    <!-- User login-->
    <div id="userlogin"></div>
  @if (ViewBag.Message == null)
{ 
      <div class="userlogin">

        @* @using (Html.BeginForm("Login", "Account", new { area = "", ReturnUrl = ViewBag.ReturnUrl }))*@

        @using (Ajax.BeginForm("Login", "Account", new AjaxOptions { OnSuccess = "LoginSuccess", HttpMethod = "POST" }))
        {
             
        
            @Html.AntiForgeryToken()
            <div id="divChngClr" style="color: red; margin-left: -37px">@Html.ValidationSummary(true)</div>
              
            if (ViewBag.UserPicPath != null && ViewBag.UserPicPath != "")
            {
                String path = ViewBag.UserPicPath;
            <div style="background-repeat: no-repeat; background-color: transparent; height: 70px; width: 60px;">
                <img src="@Url.Content(path)" height="70" width="60" />
            </div>
            }
            else
            {        
            <div class="loginavatar" id="avtr_usrlogin"></div>
            }
            <div class="logusr_user loginboxctr">
                @Html.HiddenFor(m => m.returnUrl, new { ViewBag.returnUrl })
                @Html.Label(SBL.eLegislator.HPMS.ServiceAdaptor.Global.Username)
                @Html.TextBoxFor(m => m.UserName, new { @autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="logusr_pass loginboxctr">
                @Html.Label(SBL.eLegislator.HPMS.ServiceAdaptor.Global.Password)
                @Html.PasswordFor(m => m.Password, new { @autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="logusr_remb loginboxctr">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.Label(SBL.eLegislator.HPMS.ServiceAdaptor.Global.Rememberme, new { @class = "checkbox" })
            </div> 
            <div class="logusr_submt">
                <input type="submit" value="Log in" id="login" onclick="SubmitLog()" />


            </div> 
                
            
        }

    </div>
  }
    <div class="clear"></div>
</div>
