﻿@model SBL.eLegistrator.HouseController.Web.Models.LoginModel
@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "Login";
    Layout = "";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <title>HPMS -  House Controller</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SBL">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Login/css/login.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace.min.css" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <script src="~/assets/js/ace-extra.min.js"></script>

    <link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />
    <script src="~/Scripts/CryptoJSv3.1.2/rollups/pbkdf2.js"></script>
    <link href="~/Content/Login/css/styles.css" rel="stylesheet" />
    <link href="~/Content/Login/css/login.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/CryptoJSv3.1.2/components/enc-base64-min.js"></script>

    <style>
        .field-validation-error {
            color: red;
        }

        #CaptchaText {
            width: 249px;
        }
    </style>
</head>
<body>

    <div class="main">
        <div class="main-inner">
            <div class="wrapper">
                <div class="loginContainer">
                    <div class="loginbanner">
                    </div>
                    <div class="loginMain">
                        <div class="loginLogo">
                            <img src="~/Content/Login/images/logo.png" />
                        </div>

                        <label for="form-field-8">eVidhan ID </label>

                        @Html.TextBoxFor(m => m.UserName, new { autocomplete = "off", @class = "loginUsername", @placeholder = "eVidhan ID", onblur = "OnChangeTextBox(this);" })
                        <p><span class="field-validation-error" id="UsernameValidation"></span></p>
                        <label for="form-field-8">password </label>
                        @Html.PasswordFor(m => m.Password, new { autocomplete = "off", @placeholder = "Password", @style = "margin-top:0px;", onblur = "OnChangeTextBox(this);", onkeypress = "searchKeyPress(event);" })
                        <span class="field-validation-error" id="PasswordValidation"></span>
                        @using (Html.BeginForm("Login", "Account", new { area = "", }, FormMethod.Post, new { @id = "LoginForm", autocomplete = "off" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="saveUserName" id="saveUserNamehidden" value="@Model.RememberMe" />
                            @Html.HiddenFor(m => m.ActualPassword)
                            @Html.HiddenFor(m => m.UserName, new { @id = "hdnUserName" })
                            @Html.Hidden("AuthVerify", new Guid().ToString())
                            @Html.HiddenFor(m => m.returnUrl, new { ViewBag.returnUrl })
                            <div style="padding-left: 1px; display: inline-block; float: left; width: 100%;" id="captchacontainer">

                                <div class="editor-field">
                                    <label for="form-field-8">Captcha </label>
                                    <img src="@Url.Action("GetCaptchaImage", "Account", new { area = "" })" />
                                    <a id="refresh1" tabindex="6" class="pull-right" href="@Url.Action("Index", "Home", new { area = "" })"><span class="fa fa-refresh" style="font-size: 17px;"></span></a>
                                </div>
                                <div class="editor-field">
                                    <div>
                                        <input type="text" name="CaptchaText" id="CaptchaText"  onblur = "OnChangeTextBox(this);" value="@ViewBag.CaptchaText" />
                                        <p><span class="field-validation-error" id="CaptchaValidation"></span></p>
                                    </div>
                                </div>
                                @if (Model.ErrorMessage != null)
                                {
                                    <p class="field-validation-error captchaMsg" id="CaptchaServerError">@Model.ErrorMessage </p>
                                }
                            </div>
                            <div class="checkbox" style="float: right;">
                                <label>
                                    <input id="saveUserNameCheck" name="saveUserNameCheck" type="checkbox" />
                                    <span class="lbl">Remember User ID</span>
                                </label>
                            </div>
                        }

                        <input type="button" name="submit" value="Login" onclick="return FormSubmit();" class="signinbtn buttonSubmit" style="margin-top: 10px;">
                        <div style="text-align: right">
                            @Html.ActionLink("Forgot Password ?", "ForgetPassword")
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="footer">
	<div class="wrapper"><br><div class="footerContents">Contents on this Website are published,managed and owned by H.P.Vidhan Sabha Secretariat, Shimla -171004 <br> <br> <img src="~/Content/Login/images/sbl.png" height="25px" width="50px" alt="SBL"> </div>  </div>
  </div>*@
    <script src="../assets/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->

    <!--[if lte IE 8]>
		  <script src="../assets/js/excanvas.min.js"></script>
		<![endif]-->
    <script src="~/assets/js/jquery-ui.custom.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/bootbox.min.js"></script>
    <script src="~/assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/assets/js/jquery.gritter.min.js"></script>
    <script src="~/assets/js/spin.min.js"></script>

    <!-- ace scripts -->

    <script src="~/assets/js/bootbox.min.js"></script>

    <script>

        $('#LoginForm input').keydown(function (e) {
            if (e.keyCode == 13) {
                SubmitForm();
            }
        });

        $(document).ready(function () {

            var attr = $("#saveUserNamehidden").attr('value');

            if (attr == 'value') {
                document.getElementById("saveUserNameCheck").checked = true;
                $("#saveUserNamehidden").val("True");
            }
            else {

                $("#saveUserNameCheck").removeAttr('checked');
                $("#saveUserNamehidden").val("False");
            }

            var sub = '@TempData["submitted"]';
			var suc = '@TempData["Success"]';

		    if (sub == "Submitted") {
		        alert("\t\t\t      @Resources.UserRegistration.SuccessMessage.\n\n" + "Your eVidhan Id and password have been sent on registered mobile number.");
			}
			else if (suc == "Success") {
			    alert("Your eVidhan password has been sent on registered mobile number.");
			}
		});

        function FormSubmit() {

            SubmitForm();
        }

        $("#saveUserNameCheck").click(function () {
            if ($('#saveUserNameCheck').is(':checked')) {
                $("#saveUserNamehidden").val("true");
            }
            else {
                $("#saveUserNamehidden").val("false");
            }
        });

        function OnChangeTextBox(obj) {
            var value = $(obj).val();
            var id = $(obj).attr('id');
            if (value != "") {
                if (id == "UserName") {
                    $('#UsernameValidation').html('');
                }
                if (id == "Password") {
                    $('#PasswordValidation').html('');
                }
                if (id == "CaptchaText") {
                    $('#CaptchaValidation').html('');
                    $('#CaptchaServerError').html('');

                }

            }
        }

        function SubmitForm() {
            var username = document.getElementById("UserName");
            var password = document.getElementById("Password");
            var Captcha = document.getElementById("CaptchaText");
            document.getElementById("hdnUserName").value = username.value;

            $.ajaxSetup({ cache: false });
            $.ajax({

                url: '@Url.Action("GetGeneratedSalt", "Account", new { Area = "" })',

			    type: 'GET',
			    success: function (result) {
			        if (result != "" && result != null) {
			            var hashedPassword = HashKey(result);
			            document.getElementById("ActualPassword").value = hashedPassword;
			            debugger;
			            var isValid = true;
			            if (username.value == "") {
			                $('#UsernameValidation').html('Username required');
			                //e.preventDefault();
			                isValid = false;
			            }
			            else {
			                $('#UsernameValidation').html('');
			                if (isValid != false) {
			                    isValid = true;
			                }
			            }

			            if (password.value == "") {
			                // alert("password");
			                $('#PasswordValidation').html('Password required')
			                event.preventDefault();
			                isValid = false;
			            }
			            else {
			                $('#PasswordValidation').html('');
			                if (isValid != false) {
			                    isValid = true;
			                }
			            }
			            if (Captcha.value == "") {
			                // alert("password");
			                $('#CaptchaValidation').html('Captcha required')
			                event.preventDefault();
			                isValid = false;
			            }
			            else {
			                $('#CaptchaValidation').html('');
			                if (isValid != false) {
			                    isValid = true;
			                }
			            }
			            if (isValid) {
			                $('#LoginForm').submit();
			                return true;
			            }
			            else {
			                event.preventDefault();
			                return false;
			            }

			        }
			        else {
			            //alert("in else");
			        }
			    },
			    error: function (xhr, ajaxOptions, thrownError) {

			        //alert(xhr.responseText);
			        //alert(thrownError);
			        return false;
			    }
			});

        }

        function HashKey(salt) {
            var str = $("#Password").val();
            var strCode1 = toHex(salt);
            var strCode2 = toHex(CryptoJS.enc.Latin1.parse(str).toString(CryptoJS.enc.Base64));
            var key = encodeCodes(strCode1, strCode2);
            //var Key = CryptoJS.PBKDF2(str, salt, { keySize: 256 / 24, iterations: 1000 });
            //Key = Key.toString(CryptoJS.enc.Base64);
            return key;
        }

        function toHex(str) {
            var hex = '';
            for (var i = 0; i < str.length; i++) {
                hex += '' + str.charCodeAt(i).toString(16);
            }
            return hex;
        }

        function encodeCodes(str1, str2) {
            var strEncoded = '';
            var limit = str2.length;
            if (str2.length > str1.length) limit = str1.length;
            for (var i = 0; i < str2.length; i++) {
                if (i > str1.length)
                    strEncoded += '' + Math.floor(Math.random() * (9 - 1 + 1) + 1).toString() + str2.charAt(i);
                else
                    strEncoded += '' + str1.charAt(i) + str2.charAt(i);
            }
            return strEncoded;
        }

        function searchKeyPress(e) {
            // look for window.event in case event isn't passed in
            if (typeof e == 'undefined' && window.event) { e = window.event; }
            if (e.keyCode == 13) {
                FormSubmit();
            }
        }
    </script>
    <script type="text/javascript" language="javascript">
        function DisableBackButton() {
            window.history.forward()
        }
        DisableBackButton();
        window.onload = DisableBackButton;
        window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
        window.onunload = function () { void (0) }
    </script>
</body>
</html>
