﻿@*@model SBL.DomainModel.ComplexModel.ClubbedQuestionModel*@

@model SBL.eLegistrator.HouseController.Web.Areas.Notices.Models.LegislationFixationModel

@Html.HiddenFor(m => m.AssemblyId, new { @id = "hdnAssemblyID" })
@Html.HiddenFor(m => m.SessionId, new { @id = "hdnSessionId" })
<div class="widget-main no-padding-right no-padding-left">
    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
        </div>

         <div class="profile-info-row">
            <div class="profile-info-name" style="width: 20%">Select Assembly</div>

            <div class="profile-info-value" style="padding-left: 5px;">
                <span id="spnEvent1Id" class="">

                    @Html.DropDownListFor(m => m.AssemblyId, new SelectList(Model.mAssemblyList, "AssemblyCode", "AssemblyName",new SelectListItem { Value = "0", Text = "Select Assembly" }), new { @id = "assemblyLst", @class = "rounded", @style = "width:325px;",@onchange = "AssemblyChange(this)" })
                    
                    @*      @Html.ValidationMessageFor(m => m.Id, "", new { style = "color: red;" })*@
                </span>
               
            </div>

        </div>
        <div class="profile-info-row">
            <div class="profile-info-name" style="width: 20%">Select Session</div>

            <div class="profile-info-value" style="padding-left: 5px;">
                <span id="spnEvent2Id" class="">

                    @Html.DropDownListFor(model => model.SessionId, new SelectList(Model.sessionList, "SessionCode", "SessionName", new SelectListItem { Value = "0", Text = "Select Session" }), new { @class = "rounded", @onchange = "SessionChange(this)", @id = "sessionLst" , @style = "width:325px;"})
                    
                    @*      @Html.ValidationMessageFor(m => m.Id, "", new { style = "color: red;" })*@
                </span>
               
            </div>

        </div>
        <div class="profile-info-row">
            <div class="profile-info-name" style="width: 20%">Select Session Laying Date</div>

            <div class="profile-info-value" style="padding-left: 5px;">
                <span id="spnEventId" class="">
                     
                    @Html.DropDownListFor(m => m.SessionDate, new SelectList(Model.CustomSessionDateList, "Id", "SessionDate", 0), new { @id = "DdlSessionDates", @class = "rounded", @style = "width:325px;" })
                    @*      @Html.ValidationMessageFor(m => m.Id, "", new { style = "color: red;" })*@
                </span>
               
            </div>

        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"></div>

            @*  <a href="#" onclick="ShowLetestPaper()"> Show Letest File</a>*@
            @* <button type="submit" value="Add" id="AddButtonss" class="btn btn-info" onclick="ShowLetestPaper()">Show Letest File</button>*@
            @* <div style="float:right;padding:5px;font-size:16px;"> @Html.ActionLink("Download Fils for the Assembly House", "DownloadingFileForAssemblyHouse", "LOBFile", new { SessionDate =  $("#DdlSessionDates option:selected").text();  }, new { target = "_blank" })*@


            <div class="profile-info-value" style="padding-left: 5px;">
                 <button type="submit" value="Add" id="AddButtonss" class="btn btn-info" onclick="ShowLetestPaper()">Show Latest File</button>
              
                @* <div style="float:right;padding:5px;font-size:16px;"> @Html.ActionLink("Download Fils for the Assembly House", "DownloadingFileForAssemblyHouse", "LOBFile", new { SessionDate =  $("#DdlSessionDates option:selected").text();  }, new { target = "_blank" })*@

            </div>
              <div class="profile-info-value" style="padding-left: 5px;">
                <button type="submit" value="Add" id="docfile" class="btn btn-info" onclick="DownloadDocFiles()"><i class="ace-icon fa fa-arrow-circle-o-down bigger-120"></i>Download all Doc files</button>
                @* <div style="float:right;padding:5px;font-size:16px;"> @Html.ActionLink("Download Fils for the Assembly House", "DownloadingFileForAssemblyHouse", "LOBFile", new { SessionDate =  $("#DdlSessionDates option:selected").text();  }, new { target = "_blank" })*@

            </div>
            <div class="profile-info-value" style="padding-left: 5px;">
                <button type="submit" value="Add" id="Sqbutton" class="btn btn-info" onclick="DownloadSQXml()"><i class="ace-icon fa fa-arrow-circle-o-down bigger-120"></i>Download StartQ XML</button>
                @* <div style="float:right;padding:5px;font-size:16px;"> @Html.ActionLink("Download Fils for the Assembly House", "DownloadingFileForAssemblyHouse", "LOBFile", new { SessionDate =  $("#DdlSessionDates option:selected").text();  }, new { target = "_blank" })*@

            </div>
            <div class="profile-info-value" style="padding-left: 5px;">
                <button type="submit" value="Add" id="Uqbutton" class="btn btn-info" onclick="DownloadUQXml()"><i class="ace-icon fa fa-arrow-circle-o-down bigger-120"></i>Download UnStartQ XML</button>
                @* <div style="float:right;padding:5px;font-size:16px;"> @Html.ActionLink("Download Fils for the Assembly House", "DownloadingFileForAssemblyHouse", "LOBFile", new { SessionDate =  $("#DdlSessionDates option:selected").text();  }, new { target = "_blank" })*@

            </div>
            @* <div class="profile-info-value">
                <button type="submit" value="Add" id="Urrqbutton" class="btn btn-info" onclick="ShowPaperLaid()"><i class="ace-icon fa fa-arrow-circle-o-down bigger-120"></i>PaperLaid</button>

            </div>*@
        </div>


    </div>
    <div id="testingDIV">
    </div>
      <button type="submit" value="Add" id="AddButton" class="btn btn-info" onclick="SessionDateChange1()"><i class="ace-icon fa fa-arrow-circle-o-down bigger-120"></i>Download Files for the Assembly House</button>
     <div class="modal js-loading-bar">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="progress progress-popup">
                                    <div class="progress-bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>

<style>
    .progress-bar.animate {
        width: 100%;
    }

    .progress {
        height: 15px;
        margin-bottom: 0px;
        background-color: #f5f5f5;
        border-radius: 10px;
    }

    .modal-content {
        border-radius: 50px;
    }
    .profile-info-value {
    display: table-cell;
    padding: 8px 1px 4px 2px;
    border-top: 1px dotted #D5E4F1;
}
</style>
<script type="text/javascript">

    function AssemblyChange() {

        $("#DdlSessionDates").html("<option value='0'>-Select-</option>").val('0');

        var AssemblyId = $("#assemblyLst option:selected").val();// document.getElementById("AssemblyCode").value;
        // alert(AssemblyId);
        $.ajaxSetup({ cache: false });
        var path = '@Url.Action("ChangeAssembly", "Speech", new { Area="Admin"})';
       // alert(path);
        $.ajax({
            url: path,
            type: 'GET',
            data: {
                assemblyId: AssemblyId
            },
            success: function (data) {
                var session = "<option value='0'> Select </option>";
                for (var x = 0; x < data.length; x++) {
                    session += "<option value=" + data[x].SessionCode + ">" + data[x].SessionName + "</option>";
                }
                $("#sessionLst").html(session).show();

                // var sessiondate = "<option value='0'> Select </option>";
                //$("#sessionDateLst").html(sessiondate).show();

                // $("#DetailsList").empty();
                //cl2.hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    function SessionChange() {
        var SessionId = $("#sessionLst option:selected").val();
        var AssemblyId = $("#assemblyLst option:selected").val();
        var path = '@Url.Action("GetSessionListbyAssembly", "LOBFile", new { Area="Admin"})';
        //alert(SessionId);
        //alert(path);
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: path,
            type: 'GET',
            data: {
                AssemblyId: AssemblyId,
                SessionId: SessionId,
            },
            success: function (data) {
               
                var data1 = data["CustomSessionDateList"];
                var selectOpt = '';
                $.each(data1, function (e, index) {

                    selectOpt += '<option value="' + data1[e]["Id"] + '">' +

                    data1[e]["SessionDate"] + '</option>';

                });
                $("#DdlSessionDates").html(selectOpt).show();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    $(document).ready(function () {
        $("section").find("table").addClass("table table-bordered table table-hover");
        $("section").find("td:first-child").css('width', 'auto');
        $("section").find("td:nth-child(2)").css('width', '115px');
        $("section").find("td:nth-child(3)").css('width', 'auto');
        $("section").find("td:nth-child(4)").css('width', '115px');
        $("section").find("td:last-child").css({ 'width': '50px', 'text-align': 'center' });
        $("section").find("span").removeAttr('style');
        $('.js-loading-bar').modal({
            backdrop: 'static',
            show: false
        });
        $("#AddButton").hide();
        
    });
    function openprogress() {
        var $modal = $('.js-loading-bar'),
           $bar = $modal.find('.progress-bar');

        $modal.modal('show');
        $bar.addClass('animate');
    }
    function hideprogress() {
        var $modal = $('.js-loading-bar'),
          $bar = $modal.find('.progress-bar');
        $bar.removeClass('animate');
        $modal.modal('hide');
    }
    function ShowLetestPaper() {
        var a = $("#DdlSessionDates").val();
        
        var SessionDate = $("#DdlSessionDates option:selected").text();

        if (SessionDate != null && SessionDate != "" && SessionDate != "Select Session Date" && a != 0) {

            openprogress();
            $.ajaxSetup({ cache: false });
            var pathurl = '@Url.Action("SearchLetestFile", "LOBFile")';
            $.ajax({
                url: pathurl,
                type: 'GET',
                data: {

                    Date: SessionDate


                },
                success: function (data) {
                    $("#testingDIV").html(data);
                    //cl.hide();
                    hideprogress();
                    $("#AddButton").show();


                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                    cl.hide();
                }
            });
        } else {
            bootbox.alert("Please select laying dates 1st");
        }


    }
    function DownloadSQXml() {
        var sessionDate = $("#DdlSessionDates option:selected").text();
        var QuestionType = 1;
        //var SessionId = $('#hdnSessionId').val();

        var a = $("#DdlSessionDates").val();
        if (a != 0) {
            bootbox.confirm("Do you want to transfer files to assembly house?", function (result) {
                if (result) {
                    //var cl = new CanvasLoader('canvasloader-container');
                    // cl.show();
                    // alert('in');

                    $.ajaxSetup({ cache: false });
                    @*    var pathurl = '@Url.Action("DownloadingFileForAssemblyHouse", "LOBFile")';*@
                    var url = '@Url.Action("GenerateXMLQuestions", "LOBFile", new { area = "Admin", sessionDate = "__SD__", QuestionType = "__QT__" })';


                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('__SD__', sessionDate);
                    url = url.replace('__QT__', QuestionType);
                    // url = url.replace('__SI__', SessionId);
                    ///alert(url);
                    window.open(url, "_blank");
                }
            });
        } else {
            bootbox.alert("Please select laying dates 1st");
        }
    }
    function DownloadUQXml() {
        var sessionDate = $("#DdlSessionDates option:selected").text();
        var QuestionType = 2;
        //var SessionId = $('#hdnSessionId').val();
        var a = $("#DdlSessionDates").val();
        if (a != 0) {
            bootbox.confirm("Do you want to transfer files to assembly house?", function (result) {
                if (result) {
                    //var cl = new CanvasLoader('canvasloader-container');
                    //cl.show();
                    $.ajaxSetup({ cache: false });
                    @*    var pathurl = '@Url.Action("DownloadingFileForAssemblyHouse", "LOBFile")';*@
                    var url = '@Url.Action("GenerateXMLQuestions", "LOBFile", new { area = "Admin", sessionDate = "__SD__", QuestionType = "__QT__" })';


                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('__SD__', sessionDate);
                    url = url.replace('__QT__', QuestionType);
                    //url = url.replace('__SI__', SessionId);
                    //alert(url);
                    window.open(url, "_blank");
                }
            });
        } else {
            bootbox.alert("Please select laying dates 1st");
        }

    }
    
    function DownloadDocFiles() {
        var SessionDate = $("#DdlSessionDates option:selected").text();
        var AssemblyID = $('#hdnAssemblyID').val();
        var SessionId = $('#hdnSessionId').val();
        var a = $("#DdlSessionDates").val();
        if (SessionDate != null && SessionDate != "" && SessionDate != "Select Session Date" && a!=0) {

            bootbox.confirm("Do you want to download Doc files to assembly house?", function (result) {
                if (result) {
                    //var cl = new CanvasLoader('canvasloader-container');
                    //cl.show();
                    $.ajaxSetup({ cache: false });
                    @*    var pathurl = '@Url.Action("DownloadingFileForAssemblyHouse", "LOBFile")';*@
                        var url = '@Url.Action("DownloadingDocFileForAssemblyHouse", "LOBFile", new { area = "Admin", SessionDate = "__SD__", AssemblyId = "__AI__", SessionId = "__SI__" })';


                        url = url.replace('amp;', '');
                        url = url.replace('amp;', '');
                        url = url.replace('amp;', '');
                        url = url.replace('amp;', '');
                        url = url.replace('amp;', '');
                        url = url.replace('amp;', '');
                        url = url.replace('__SD__', SessionDate);
                        url = url.replace('__AI__', AssemblyID);
                        url = url.replace('__SI__', SessionId);
                        //alert(url);
                        window.open(url, "_blank");
                    }
                });
            }
            else {
                alert("Please Select Session Date!");
            }
        }
    function SessionDateChange1() {
        var a = $("#DdlSessionDates").val();
        var SessionDate = $("#DdlSessionDates option:selected").text();
        var AssemblyID = $('#hdnAssemblyID').val();
        var SessionId = $('#hdnSessionId').val();
        if (SessionDate != null && SessionDate != "" && SessionDate != "Select Session Date" && a!=0) {

            bootbox.confirm("Do you want to download files to assembly house?", function (result) {
                if (result) {
                    //var cl = new CanvasLoader('canvasloader-container');
                    //cl.show();
                    $.ajaxSetup({ cache: false });
                    @*    var pathurl = '@Url.Action("DownloadingFileForAssemblyHouse", "LOBFile")';*@
                        var url = '@Url.Action("DownloadingFileForAssemblyHouse", "LOBFile", new { area = "Admin", SessionDate = "__SD__", AssemblyId = "__AI__", SessionId = "__SI__" })';


                        url = url.replace('amp;', '');
                        url = url.replace('amp;', '');
                        url = url.replace('amp;', '');
                        url = url.replace('amp;', '');
                        url = url.replace('amp;', '');
                        url = url.replace('amp;', '');
                        url = url.replace('__SD__', SessionDate);
                        url = url.replace('__AI__', AssemblyID);
                        url = url.replace('__SI__', SessionId);
                        //alert(url);
                        window.open(url, "_blank");
                    }
                });
            }
            else {
                alert("Please Select Session Date!");
            }
        }
    function ShowPaperLaid() {
        var a = $("#DdlSessionDates").val();
            var SessionDate = $("#DdlSessionDates option:selected").text();
            var AssemblyID = $('#hdnAssemblyID').val();
            var SessionId = $('#hdnSessionId').val();
            if (SessionDate != null && SessionDate != "" && SessionDate != "Select Session Date" && a!=0) {

                //bootbox.confirm("Are you want to download files for the Assembly House?", function (result) {

                $.ajaxSetup({ cache: false });
                    @*    var pathurl = '@Url.Action("DownloadingFileForAssemblyHouse", "LOBFile")';*@
            var url = '@Url.Action("PapersLaidInHouse", "LOBFile", new { area = "Admin", SessionDate = "__SD__", AssemblyId = "__AI__", SessionId = "__SI__" })';


            url = url.replace('amp;', '');
            url = url.replace('amp;', '');
            url = url.replace('amp;', '');
            url = url.replace('amp;', '');
            url = url.replace('amp;', '');
            url = url.replace('amp;', '');
            url = url.replace('__SD__', SessionDate);
            url = url.replace('__AI__', AssemblyID);
            url = url.replace('__SI__', SessionId);
            //alert(url);

            $.ajax({
                url: url,
                type: 'GET',
                data: {

                    SessionDate: SessionDate,
                    AssemblyId: AssemblyID,
                    SessionId: SessionId

                },
                success: function (data) {
                    //alert(data);
                    $("#testingDIV").html(data);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                    cl.hide();
                }
            });


        }
        else {
            alert("Please Select Session Date!");
        }
    }

   
  
</script>



