﻿@*@model SBL.DomainModel.ComplexModel.ClubbedQuestionModel*@
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    
}
<script src="~/Content/Bootstrap/bootstrap.min.js"></script>
@model SBL.eLegistrator.HouseController.Web.Areas.Notices.Models.LegislationFixationModel

@Html.HiddenFor(m => m.AssemblyId, new { @id = "hdnAssemblyID" })
@Html.HiddenFor(m => m.SessionId, new { @id = "hdnSessionId" })
@Html.Partial("_LeftMenu")
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("TransferFileForAssemblyHouse", "LOBFile")">Home</a>
            </li>

            <li>
                <a href="@Url.Action("TransferFileForAssemblyHouse", "LOBFile")">Assembly House Papers</a>
            </li>
            <li class="active">Paper Laid in House</li>
        </ul>
        <div class="legAssm">
            @* <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>*@
            <span id="SpnAssemList">@Html.DropDownListFor(m => m.AssemblyId, new SelectList(Model.mAssemblyList, "AssemblyCode", "AssemblyName", Model.AssemblyId), new { @id = "DdlAssembly", @disabled = "disabled", @style = "background-color: #d6487e;color:white" })</span>
            <span id="SpnSessList">@Html.DropDownListFor(m => m.SessionId, new SelectList(Model.sessionList, "SessionCode", "SessionName", Model.SessionId), new { @id = "DdlSession", @disabled = "disabled", @style = "background-color: #9585bf;color:white" })</span>

            <span><a href="#" id="AChange" onclick="ChangeAS(this.id)" style="text-decoration: none;">Change</a></span>
        </div>
        @* <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>*@

    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->


        <!-- /section:settings.box -->

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <div id="MainData">
                    <div class="widget-main no-padding-right no-padding-left">
                        <div class="profile-user-info profile-user-info-striped">
                            <div class="profile-info-row">
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name" style="width: 20%">Select Session Laying Date</div>

                                <div class="profile-info-value">
                                    <span id="spnEventId" class="">

                                        @Html.DropDownListFor(m => m.SessionDate, new SelectList(Model.CustomSessionDateList, "Id", "SessionDate", 0), new { @id = "DdlSessionDates", @class = "rounded", @style = "width:325px;" })
                                        @*      @Html.ValidationMessageFor(m => m.Id, "", new { style = "color: red;" })*@
                                    </span>
                                </div>

                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"></div>

                                <div class="profile-info-value">
                                    <button type="submit" value="Add" id="AddButton" class="btn btn-info" onclick="SessionDateChange()"><i class="ace-icon fa fa-check-square-o bigger-130"></i>Show Paper Laid List</button>
                                </div>

                            </div>

                            @*<div class="row">
                                <div class="col-xs-1" id="ButtonGroup">
                                    <button type="submit" value="Add" id="AddButton" class="btn btn-info" onclick="SessionDateChange()"><i class="ace-icon fa fa-check-square-o bigger-130"></i>Transfer Fils for the Assembly House</button>
                                </div>
                            
                            </div>*@
                        </div>
                        <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
                        <div id="testingDIV">
                        </div>

                    </div>
                </div>
               
                <div class="modal js-loading-bar">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="progress progress-popup">
                                    <div class="progress-bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    <input type="hidden" id="hdnLobIDList" />
    <input type="hidden" id="hdnQIDList" />

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>

<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<style>
    .progress-bar.animate {
        width: 100%;
    }

    .progress {
        height: 15px;
        margin-bottom: 0px;
        background-color: #f5f5f5;
        border-radius: 10px;
    }

    .modal-content {
        border-radius: 50px;
    }
</style>

<script>
    $(document).ready(function () {
        // Setup
        $("#LOBFilesmain").addClass("active open");
        $("#LOBFilesSub").addClass("nav-show").css("display", "block");
        $("#DLLobsHtml").addClass("active");
        $("#LOBFileslinkid").removeClass("fa-file").addClass("fa-file-o");
        $('.js-loading-bar').modal({
            backdrop: 'static',
            show: false
        });
       
        
    });
   
</script>
<script>
    function openprogress() {
        var $modal = $('.js-loading-bar'),
           $bar = $modal.find('.progress-bar');

        $modal.modal('show');
        $bar.addClass('animate');
    }
    function hideprogress() {
        var $modal = $('.js-loading-bar'),
          $bar = $modal.find('.progress-bar');
        $bar.removeClass('animate');
        $modal.modal('hide');
    }

    function SessionDateChange() {
        var SessionDate = $("#DdlSessionDates option:selected").text();
        var AssemblyID = $('#hdnAssemblyID').val();
        var SessionId = $('#hdnSessionId').val();
        if (SessionDate != null && SessionDate != "" && SessionDate != "Select Session Date") {
            //var cl = new CanvasLoader('canvasloader-container1');
            //alert(cl);
            //cl.show();
            //$("#canvasloader-container1").show();
            openprogress();
            $.ajaxSetup({ cache: false });
            var pathurl = '@Url.Action("PapersLaidInHouse", "LOBFile")';
            $.ajax({
                url: pathurl,
                type: 'GET',
                data: {

                    SessionDate: SessionDate,
                    AssemblyId: AssemblyID,
                    SessionId: SessionId

                },
                success: function (data) {
                    $("#testingDIV").html(data);
                    //cl.hide();
                    hideprogress();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                    cl.hide();
                }
            });
        }


    }

    function setvalue() {

        var qIdlist = "";
        var Loblist = "";

        $(".addclassL").each(function () {
            if ($(this).is(':checked')) {

                Loblist += $(this).val() + ",";

            }

        });
        $(".addclassQ").each(function () {
            if ($(this).is(':checked')) {
                qIdlist += $(this).val() + ",";

            }

        });
        //assoDepartment = assoDepartment.substring(0, assoDepartment.length - 1)
        //$("#DepartmentIDs").val(assoDepartment);
        $("#hdnLobIDList").val(Loblist);
        $("#hdnQIDList").val(qIdlist);
        if ($("#hdnLobIDList").val() == "" && $("#hdnQIDList").val() == "") {
            alert("Please check atleast one checkbox!!!");
            return false;
        }
        else {
            openprogress();
            $.ajaxSetup({ cache: false });
            var pathurl = '@Url.Action("UpdatePaperLaid", "LOBFile")';
            $.ajax({
                url: pathurl,
                type: 'POST',
                data: {

                    hdnLobIDList: Loblist,
                    hdnQIDList: qIdlist

                },
                success: function (data) {

                    SessionDateChange();
                    hideprogress();
                    alert("Selected records updated successfuly");
                    //cl.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                    cl.hide();
                }
            });

        }
    }


    function ChangeAS(id) {
        if ($("#" + id).html() == "Change") {
            $("#" + id).html("Apply")
            $("#DdlAssembly").prop("disabled", false);
            $("#DdlSession").prop("disabled", false);
            $("#DdlAssembly").css({
                "background-color": "white",
                "color": "black"
            })
            $("#DdlSession").css({
                "background-color": "white",
                "color": "black"
            })
        }
        else if ($("#" + id).html() == "Apply") {
            $("#" + id).html("Change")
            $("#DdlAssembly").prop("disabled", true);
            $("#DdlSession").prop("disabled", true);
            $("#DdlAssembly").css({
                "background-color": "#d6487e",
                "color": "white"
            })
            $("#DdlSession").css({
                "background-color": "#9585bf",
                "color": "white"
            })

            $.ajax({
                url: "/Home/GetDataByAssemblySession",
                type: 'GET',
                data: {
                    AssemblyId: $("#DdlAssembly").val(),
                    SessionId: $("#DdlSession").val()
                },
                success: function (data) {
                    if (data == "Success") {
                        var url = '@Url.Action("PaperLaidVHtml", "LOBFile")';
                        url = url.replace('amp;', '');
                        url = url.replace('amp;', '');
                        window.open(url, "_parent");
                    }
                }
            })

        }

}

$("#DdlAssembly").change(function () {

    var AssemblyId = $("#DdlAssembly").val();
    $.ajax({
        url: "/PaperLaidDepartment/PaperLaidDepartment/GetSessionByAssemblyId",
        type: 'GET',
        data: { AssemblyId: AssemblyId },
        success: function (data) {
            $("#DdlSession").empty();
            $.each(data, function (index, optiondata) {
                $("#DdlSession").append("<option value='" + optiondata.SessionCode + "'>" + optiondata.SessionName + "</option>");
            });

        }
    })

});
</script>
