﻿
@model SBL.DomainModel.Models.UserModule.tUserAccessActionsModel 

<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
<script src="~/Scripts/jquery.alerts.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.timepicker1.js"></script>
<link href="~/Content/MultiSelectList/multiple-select.css" rel="stylesheet" />
<script src="~/Scripts/MultiSelectBox/jquery.multiple.select.js"></script>

@using (Ajax.BeginForm("UpdateUserAccessAction", "UserAccessAction", new AjaxOptions { OnSuccess = "LoginSuccess", HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
{
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.UserAccessActionsId, new { @id = "hdnUserAccessActionsId" })
       
        @Html.HiddenFor(m => m.Mode)
    
         <div class="widget-header widget-header-flat">
         @if (Model.UserAccessActionsId == null)
         {
        <h4 class="widget-title">@Resources.UserManagement.UpdateUserAccessAction</h4>
         }
         else
         {
              <h4 class="widget-title">@Resources.UserManagement.UpdateUserAccessAction</h4>
         }
    </div>     
       
    <div class="widget-body">
        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">

                </div>
             
                  
                  <div class="profile-info-row">

                    <div class="profile-info-name">
                        <label class="" for="Name">@Resources.UserManagement.UserAction<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                           
@*                            @Html.DropDownListFor(m => m.UserTypeID, new SelectList(Model.objList, "UserTypeID", "UserTypeName"), new { @id = "DdlModulesId", @tabindex = "3", @class = "select", @style = "width:350px;" })*@
                            @*@Html.ValidationMessageFor(model => model.Name)*@
                               @Html.ListBoxFor(m => m.ActionIds, new SelectList(Model.ActionList, "ActionId", "ActionName", 0), new { @id = "DdlActionId", @tabindex = "3", @class = "select", @multiple = "multiple", @style = "width:350px;" })

                        </span>
                    </div>
                </div>
                  <div class="profile-info-row">

                    <div class="profile-info-name">
                        <label class="" for="Name">@Resources.UserManagement.UserAccess<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                           
                            @Html.DropDownListFor(m => m.ModuleId, new SelectList(Model.AccessList, "ModuleId", "ModuleName"), new { @id = "DdlAccessId", @tabindex = "3", @class = "select", @style = "width:350px;" })
                            @*@Html.ValidationMessageFor(model => model.Name)*@

                        </span>
                    </div>
                </div>

                <div class="profile-info-row">

                    <div class="profile-info-name">
                        <label class="" for="Name">@Resources.UserManagement.UserType <span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                           
                            @Html.DropDownListFor(m => m.UserTypeID, new SelectList(Model.objList, "UserTypeID", "UserTypeName"), new { @id = "DdlModulesId", @tabindex = "3", @class = "select", @style = "width:350px;" })
                            @*@Html.ValidationMessageFor(model => model.Name)*@

                        </span>
                    </div>

                   </div>
        
            </div>
         
        </div>


           <div class="wizard-actions">
           
               @*onclick="return checkUpdateAccessActionValidation();"*@
                 <button type="button" id="savebtn" class="btn btn-sm btn-purple" onclick="return checkUpdateAccessActionValidation();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        @Resources.UserManagement.Update</button>

                 <button type="button" id="Deletebtn" class="btn btn-sm btn-purple" onclick="return DeleteUserAccessAction();">
                      
                                        @Resources.UserManagement.Delete</button>
                <button type="reset" class="btn btn-sm btn-info"   onclick="return cancelEntry();">
                <i class="ace-icon fa fa-times bigger-125"></i>
               @Resources.UserManagement.Cancel
            </button>
        </div>

    </div>
   
    
    <div id='fullDetailsModel' class="hide">
        <div id='ShowfullDetailsModel' style="text-align: center">
        </div>
    </div>
}


<style>
    .hidden {
        display: none;
        visibility: hidden;
    }
</style>

<script>



    $(document).ready(function () {
        //$("#DdlModulesId").append("<option value='0' selected=true>--Select User Type--</option>")
        //$("#DdlAccessId").append("<option value='0' selected=true>--Select User Access--</option>")
        //$("#DdlActionId").append("<option value='0' selected=true>--Select User Action--</option>")
        $("#DdlActionId").multipleSelect({ selectAll: true, placeHolder: "Select Group" });
    });


    function checkUpdateAccessActionValidation() {

        var UserType = $("#DdlModulesId").val();

        var UserAccess = $("#DdlAccessId").val();
        var UserAction = $("#DdlActionId").val();

        if (UserAction == "") {
            alert("Please Enter User Action");
            return false;
        }
        else if (UserAction != null || UserAction != "") {
            alert("Are You Sure Want to Update?");

            $.ajax({
                url: "/UserManagement/UserAccessAction/CheckUserAccessAction",
                type: 'GET',
                data: {
                    UserType: UserType,
                    UserAccess: UserAccess,
                    UserAction: UserAction
                },
                success: function (data) {
                    if (data) {
                        alert("Combination of User Type,USer Access and User Action Already  Exit");
                        return false;
                    }
                    else {
                        $("#NewUSerAccessActionForm").submit();
                        //alert("Save successfully");
                        return true;
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                    location.reload(true);
                }
            });
        }


        else {
            //alert("Save successfully");
        }



    }

    function DeleteUserAccessAction() {

        var UserAccessActionsId = document.getElementById("hdnUserAccessActionsId").value;

        if (UserAccessActionsId != null || UserAccessActionsId != "") {
            alert("Are You Sure Want to Delete?");
        }

        $.post("/UserManagement/UserAccessAction/DeleteUserAccessAction",
           {
               UserAccessActionsId: UserAccessActionsId,


           },
           function (data) {
               alert("@Resources.UserManagement.Deletesuccessfully");
               GetUserAccessAction();
               $("#RightSidebar").html("");
               $("#FormPart").html("");
               $('.widget-box').hide();

           });
       }

       function cancelEntry() {

           $("#RightSidebar").empty();
       }


</script>

