﻿@model SBL.DomainModel.Models.Notice.tMemberNotice
@{
    int count = 0;
}

<div id='fullDetailsModel' class="hide">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="pass-table">

            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                @if (Model.tQuestionModel.ToList() != null)
                {
                    if (Model.tQuestionModel.ToList().Count() > 0)
                    {
                    <div class="table-header">
                     Notices List Acknowledged By Department  
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">

                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 3%">#</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Diary Number: activate to sort column ascending" style="width: 14%">Notice No.</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Subject: activate to sort column ascending" style="width: 20%">Subject</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Asked By: activate to sort column ascending" style="width: 15%">Asked By</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Asked By: activate to sort column ascending" style="width: 15%">Acknowledged Date</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Asked By: activate to sort column ascending" style="width: 15%">Acknowledged By</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Asked By: activate to sort column ascending" style="width: 8%">Details</th>
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.tQuestionModel.ToList())
                            {
                                count = count + 1;
                                string style = (count % 2 == 0) ? "odd" : "even";

                                var trID = item.QuestionID;
                                
                                <tr class="@style" id="@trID">

                                    <td class="">@count</td>
                                    <td class="">@item.NoticeNumber </td>
                                    <td class="">@Html.Raw(item.Subject)</td>
                                    @if (item.IsHindi == true)
                                    {
                                        <td class="hidden-480 ">@item.MemberNameLocal</td>
                                    }
                                    else
                                    {
                                        <td class="hidden-480 ">@item.MemberName</td>
                                    }
                                    <td class="hidden-480 ">@Convert.ToDateTime(item.IsAcknowledgmentDate).ToString("dd/MM/yyyy hh:ss tt")</td>
                                    <td class="hidden-480 ">@item.AcknowledgedBy</td>
                                    <td class=" ">
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a title="@Resources.PublicPasses.ActionFullDetails" onclick="FullDetailById(@item.NoticeId)" href="javascript:void(0);" class="green">
                                                <i class="ace-icon fa fa-eye bigger-130"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    }
                    else
                    {
                  
                    <div class="col-xs-12">
                        <div class="alert alert-info">
                            <strong>No Acknowledged Question(s) Available</strong>
                            <br />
                        </div>
                    </div>
                   
                    }
                }

            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>




<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
@*<script src="~/Scripts/jquery-1.7.min.js"></script> *@
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>



<script>
    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
               { "bSortable": false },
              null, null, null, null, null,null

            ]
        });
    });

    function FullDetailById(QID) {

        var pathurl = '@Url.Action("FullDetailByIdNotice", "LegislationFixation")';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                Id: QID
            },
            success: function (data) {

                $('#ShowfullDetailsModel').html("");
                $('#ShowfullDetailsModel').html(data);

                var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Full Details",
                    width: 600,
                    title_html: true,
                    buttons: [
                        {
                            text: "OK",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

            }
        });
    }

</script>



