﻿@model SBL.DomainModel.Models.Diaries.DiaryModel
@{
    int count = 0;
}

<div class="row">
    <div class="col-xs-12">

        <!-- PAGE CONTENT BEGINS -->
        <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
        <div class="pass-table">

            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                @if (Model.DiaryList != null)
                {
                    if (Model.DiaryList.Count() > 0)
                    {                     
                    <div class="table-header">
                    List of Notices for PostPone
                    </div>
                      
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">

                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">#</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Diary Number: activate to sort column ascending">Diary Number</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Diary Number: activate to sort column ascending">Notice Type</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Subject: activate to sort column ascending">Subject</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Asked By: activate to sort column ascending">Asked By</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Minister: activate to sort column ascending" style="width: 150px">Minister</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Department: activate to sort column ascending">Department</th>
                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">
                                    <input id="ChkBoxAll" type="checkbox" /></th>
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.DiaryList)
                            {
                                count = count + 1;
                                string style = (count % 2 == 0) ? "odd" : "even";

                                var trID = item.NoticeId;
                                
                                <tr class="@style" id="@trID">

                                    <td class="">@count</td>
                                    <td class="">@item.NoticeNumber</td>
                                    <td class="">@item.EventName</td>
                                    <td class="">@Html.Raw(item.Subject)</td>
                                    <td class="hidden-480 ">@item.AskedBy</td>
                                    <td class="">@item.MinistryName</td>
                                    <td class="">@item.DepartmentName</td>
                                    <td>
                                        <input id="Chk_@item.NoticeId" class="Checkbox" type="checkbox" onchange="checkChange(this.id)" />
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                    
                    <div id="divFix" style="display: none; margin-top: 1%">
                        <button class="btn btn-primary" type="button" id="btnFix" title="Postpone" onclick="Postpone()">
                            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                            Postpone
                        </button>
                    </div>
                    }
                    else
                    {
                  
                    <div class="col-xs-12">
                        <div class="alert alert-info">
                            <strong>No Record Found  </strong>
                            <br />
                        </div>
                    </div>
                   
                    }
                }
                else
                {
                  
                    <div class="col-xs-12">
                        <div class="alert alert-info">
                            <strong>No Record Found </strong>
                            <br />
                        </div>
                    </div>
                   
                }


            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>


<div id="dialog1-confirm" class="hide">
    <p>Are you sure to Postpone ?</p>
</div>
<div id="dialog2-alert" class="hide">
    <p>Please Select Question(s) to Postpone !</p>
</div>
<div id="Return-alert" class="hide">
    <p id="ReturnMsg"></p>
</div>


<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<script>

    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
               { "bSortable": false },
              null, null, null, null, null, null, { "bSortable": false }

            ]
        });
    });


    $('#ChkBoxAll').on("click", function () {

        if ($('#ChkBoxAll').attr('checked')) {

            document.getElementById("SelectedChkbxId").value = "";
            $(".Checkbox").each(function () {
                var selectedChkbxId = document.getElementById("SelectedChkbxId").value;
                if (selectedChkbxId == "") {
                    document.getElementById("SelectedChkbxId").value = this.id.substring(4);
                } else {
                    selectedChkbxId = selectedChkbxId + "," + this.id.substring(4);
                    document.getElementById("SelectedChkbxId").value = selectedChkbxId;
                }
                $(this).prop("checked", $("#ChkBoxAll").is(":checked"));
            });
            //alert(document.getElementById("SelectedChkbxId").value);
            $("#divFix").css("display", "block")
        }
        else {
            document.getElementById("SelectedChkbxId").value = "";
            $("#divFix").css("display", "none")
            $(".Checkbox").each(function () {
                $(this).prop("checked", false);
            });
            $('#ChkBoxAll').attr('checked', false)
        }

    });

    function checkChange(id) {

        if (document.getElementById(id).checked) {
            var selectedId = document.getElementById("SelectedChkbxId").value;
            if (selectedId == "") {
                document.getElementById("SelectedChkbxId").value = id.substring(4);
            }
            else {
                selectedId = selectedId + "," + id.substring(4);
                document.getElementById("SelectedChkbxId").value = selectedId;
            }

            //alert(document.getElementById("SelectedChkbxId").value)
        }
        else {
            var selectedId = document.getElementById("SelectedChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(4), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4), "");
            }

            document.getElementById("SelectedChkbxId").value = newvalue;

            //alert(document.getElementById("SelectedChkbxId").value);
        }

        if ($(".Checkbox").not(':checked').length == 0) {
            $('#ChkBoxAll').attr('checked', true)
        }
        else {
            $('#ChkBoxAll').attr('checked', false)
        }


        if (document.getElementById("SelectedChkbxId").value == "") {
            $("#divFix").css("display", "none")
        }
        else {
            $("#divFix").css("display", "block")
        }
    }

    function Postpone() {
        var QIds = document.getElementById("SelectedChkbxId").value
        if (QIds != "") {
            $("#dialog1-confirm").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "Confirm!",
                title_html: true,
                buttons: [
                    {
                        html: "&nbsp; Yes",
                        "class": "btn btn-primary",
                        click: function () {
                            $(this).dialog("close");
                            PostponeNoticesId(QIds);
                        }
                    }
                    ,
                    {
                        html: "&nbsp; Cancel",
                        "class": "btn btn-primary",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        }
        else {
            $("#dialog2-alert").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "Alert!",
                title_html: true,
                buttons: [
                    {
                        html: "&nbsp; Okay",
                        "class": "btn btn-primary",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        }
    }

    function PostponeNoticesId(Quesid) {
        $.get("/Notices/LegislationFixation/PostponeNoticesbyId", {
            Qids: Quesid,
        }, function (data) {
            $("#ReturnMsg").html(data)
            $("#Return-alert").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "Alert!",
                title_html: true,
                buttons: [
                    {
                        html: "&nbsp; Okay",
                        "class": "btn btn-primary",
                        click: function () {
                            $(this).dialog("close");

                            var url = '@Url.Action("PaperLaidSummary", "LegislationFixation", new { area = "Notices" })';
                            url = url.replace('amp;', '');
                            url = url.replace('amp;', '');
                            window.open(url, "_parent");
                        }
                    }
                ]
            });

        });
        }

</script>
