﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV
@{
    int count = 0;
    
}



<div id='fullDetailsModel' class="hide">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <!-- PAGE CONTENT BEGINS -->
        <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
        <input type="hidden" id="SelectedFixNo" name="SelectedFixNo" />
        <div class="pass-table">

            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                @if (Model.ListtPaperLaidV != null)
                {
                    if (Model.ListtPaperLaidV.Count() > 0)
                    {
                    <div class="table-header">
                        Total Bill List
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">

                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 3%">#</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Diary Number: activate to sort column ascending" style="width: 14%">Subject</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Minister: activate to sort column ascending" style="width: 20%">Minister</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Department: activate to sort column ascending" style="width: 23%">Department</th>
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.ListtPaperLaidV)
                            {
                                count = count + 1;
                                string style = (count % 2 == 0) ? "odd" : "even";

                                var trID = item.PaperLaidId;
                                
                                <tr class="@style" id="@trID" onclick="GetDetailsById(this.id)">

                                    <td class="">@count</td>
                                    <td class="">@item.Title</td>
                                    <td class="">@item.MinistryName</td>
                                    <td class="">@item.DeparmentName.ToString().Trim()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    }
                    else
                    {
                  
                    <div class="col-xs-12">
                        <div class="alert alert-info">
                            <strong>No Record Found.</strong>
                            <br />
                        </div>
                    </div>
                   
                    }
                }

            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>



<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
@*<script src="~/Scripts/jquery-1.7.min.js"></script>*@
@*<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>*@
<script src="~/assets/js/jquery-ui.custom.min.js"></script>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>


<script>

    jQuery(function ($) {
        var oTable1 =
$('#sample-table-2')
.dataTable({
    bAutoWidth: true,
    "aoColumns": [
       { "bSortable": false },
      null, null, null,
    ]
});



    });


    function GetDetailsById(id) {
        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();
        $.ajax({
            url: "/Notices/LegislationFixation/GetDetailsByPaperTypeId",
            type: 'GET',
            data: {
                Id: id
            },
            success: function (response) {
                $("#RightSidebar").empty();
                $("#RightSidebar").html(response);
                cl2.hide();
            }

        });
    }

</script>



