﻿@model SBL.eLegistrator.HouseController.Web.Areas.Legislative.Models.PaperLaidSummaryViewModel
<div id="breadcrumbs" class="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <div class="breadcrumb" style="margin: 4px -10px 0px 12px;">
        <i class="ace-icon fa fa-home home-icon"></i>
    </div>
    <ul class="breadcrumb">

        <li id="secondLink">
            <a href="#">Other Pages</a>
        </li>
        <li class="active" id="thirdLink">Blank Page</li>
    </ul>
    <div class="legAssm">
        @*<span class="label label-large label-pink arrowed-in-right arrowed">@Model.AssesmblyName </span>
        <span class="label label-large label-purple arrowed">@Model.SessionName </span>*@
        <span id="SpnAssemList">@Html.DropDownListFor(m => m.AssemblyID, new SelectList(Model.mAssemblyList, "AssemblyCode", "AssemblyName", Model.AssemblyID), new { @id = "DdlAssembly", @disabled = "disabled", @style = "background-color: #d6487e;color:white" })</span>
        <span id="SpnSessList">@Html.DropDownListFor(m => m.SessionID, new SelectList(Model.sessionList, "SessionCode", "SessionName", Model.SessionID), new { @id = "DdlSession", @disabled = "disabled", @style = "background-color: #9585bf;color:white" })</span>
        <span><a href="#" id="AChange" onclick="ChangeAS(this.id)" style="text-decoration: none;">Change</a></span>
    </div>

</div>

<div class="page-header">
    <h1 >@*@Resources.Diaries.Department*@ HP VIDHAN SABHA SECRETARIAT   
        <small>
       @*     <i class="ace-icon fa fa-angle-double-right"></i>*@
           @* @SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.DeptID.GetDepartmentName().Substring(1)*@ 
        </small>
    </h1>
</div>

<div id="fuelux-wizard" data-target="#step-container">
    <!-- #section:plugins/fuelux.wizard.steps -->
    <ul class="wizard-steps" id="progressSUN" style="display: none;">
        <li data-target="#step2" class="complete">
            <span class="step"></span>
            <span class="title">Vidhan Sabha</span>
        </li>

        <li data-target="#step3">
            <span class="step"></span>
            <span class="title">Department</span>
        </li>

    </ul>
    <ul class="wizard-steps" id="progressBO" style="display: none;">
        <li data-target="#step2" class="complete">
            <span class="step"></span>
            <span class="title">Department</span>
        </li>

        <li data-target="#step3">
            <span class="step"></span>
            <span class="title">Minsiter</span>
        </li>
        <li data-target="#step3">
            <span class="step"></span>
            <span class="title">Vidhan Sabha</span>
        </li>

    </ul>

    <!-- /section:plugins/fuelux.wizard.steps -->
</div>



<script type="text/javascript">

    function ChangeProgress(ChangeText) {
        if (ChangeText != "") {
            if (ChangeText == "progressSUN") {
                $("#progressSUN").show();
                $("#progressBO").hide();
            }
            else {
                $("#progressSUN").hide();
                $("#progressBO").show();
            }
        }
    }

    function ChangeBreadCrumbParent(firstText, firstLink) {

        $("#secondLink").empty();
        //var firstlinkHtml = '<a href="javascript:void(0);" onclick="' + firstLink + '">' + firstText + '</a>';
        //$("#secondLink").html(firstlinkHtml);
        $("#secondLink").html(firstText);
        $("#thirdLink").empty();


    }


    function ChangeBreadCrumbChild(secondText, secondLink) {

        $("#thirdLink").empty();
        //var secondlinkHtml = '<a href="javascript:void(0);" onclick="' + secondLink + '">' + secondText + '</a>';
        //$("#thirdLink").html(secondlinkHtml);
        $("#thirdLink").html(secondText);


    }

    function ChangeAS(id) {
        if ($("#" + id).html() == "Change") {
            $("#" + id).html("Apply")
            $("#DdlAssembly").prop("disabled", false);
            $("#DdlSession").prop("disabled", false);
            $("#DdlAssembly").css({
                "background-color": "white",
                "color": "black"
            })
            $("#DdlSession").css({
                "background-color": "white",
                "color": "black"
            })
        }
        else if ($("#" + id).html() == "Apply") {
            $("#" + id).html("Change")
            $("#DdlAssembly").prop("disabled", true);
            $("#DdlSession").prop("disabled", true);
            $("#DdlAssembly").css({
                "background-color": "#d6487e",
                "color": "white"
            })
            $("#DdlSession").css({
                "background-color": "#9585bf",
                "color": "white"
            })

            $.ajax({
                url: "/Home/GetDataByAssemblySession",
                type: 'GET',
                data: {
                    AssemblyId: $("#DdlAssembly").val(),
                    SessionId: $("#DdlSession").val()
                },
                success: function (data) {
                    if (data == "Success") {
                        var url = '@Url.Action("PaperLaidSummary", "LegislationFixation", new { area = "Notices" })';
                        url = url.replace('amp;', '');
                        url = url.replace('amp;', '');
                        window.open(url, "_parent");
                    }
                }
            })

        }

}

$("#DdlAssembly").change(function () {

    var AssemblyId = $("#DdlAssembly").val();
    $.ajax({
        url: "/Notices/OnlineMemberQuestions/GetSessionByAssemblyId",
        type: 'GET',
        data: { AssemblyId: AssemblyId },
        success: function (data) {
            $("#DdlSession").empty();
            $.each(data, function (index, optiondata) {
                $("#DdlSession").append("<option value='" + optiondata.SessionCode + "'>" + optiondata.SessionName + "</option>");
            });
        }
    })

});

</script>
