﻿@model SBL.DomainModel.Models.Notice.tMemberNotice



@if (Model != null)
{
  
    <div class="widget-header widget-header-flat">
        <h4 class="widget-title">Notice Details</h4>

        <div class="widget-toolbar no-border">
            @*<input type="submit" name="Draft" id="@Model.NoticeId" value="Edit" onclick="return ViewDetailsForEdit(this.id, 'Notice');" />*@
            <button type="submit" class="btn btn-xs btn-primary bigger" id="@Model.NoticeId" onclick="return ViewDetailsForEdit(this.id, 'Notice');" >
                <i class="ace-icon fa fa-pencil-square-o"></i>
                @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.RoleID == "e5144dad-7a5d-4308-976a-8a5d2a462bd1")
                {
                    if (Model.NoticeStatus == 1)
                    {
                    @Resources.Diaries.Edit
                    }
                    else 
                    {
                    @Resources.Diaries.View
                    }
                }
                else if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.RoleID == "f601de42-22f5-4b77-92b2-cd506564da25")
                {
                    if (Model.NoticeStatus == 4)
                    {
                    @Resources.Diaries.Next
                    }
                    else
                    {
                    @Resources.Diaries.View
                    }
                }
            </button>
        </div>


    </div>
    <div class="widget-body">
        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Minister</div>

                    <div class="profile-info-value">
                        <span id="username" class="">@Model.MinistryId.GetMinisterName()</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Department</div>

                    <div class="profile-info-value">
                        <span class="">@Model.DepartmentId.GetDepartmentName()</span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Diaries.Subject</div>

                    <div class="profile-info-value">
                        <span class="">@Html.Raw(Model.Subject)</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Diaries.Notices</div>

                    <div class="profile-info-value">
                        <span class="">@Html.Raw(Model.Notice)</span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div style="vertical-align: top" class="profile-info-name">@Resources.Diaries.Priority </div>

                    <div class="profile-info-value">
                        <span>@Model.Priority</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.PaperToBeLaid</div>

                    <div class="profile-info-value">
                        @if (Model.PaperLaidId != null)
                        {

                            string[] pathVer = Model.PaperLaidId.GetFileNamePath().Split(',');
                        
                            <a href="@pathVer[0]" target="_blank" >@Resources.PaperLaidDepartment.SignedPaperVer @pathVer[1] </a>
                        }
                    </div>
                </div>

                @if (Model.NoticeStatus == 3)
                {    <div class="profile-info-row">
                    <div class="profile-info-name">Status</div>
                    <div class="profile-info-value">
                        <span style="color: green; font: bold">Notice Submitted</span>
                    </div>
                </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">Submitted Date</div>

                        <div class="profile-info-value">
                            <span>@Convert.ToDateTime(Model.SubmittedDate).ToString("dd/MM/yy hh:mm tt")</span>
                        </div>
                    </div>
                }

                else if (Model.NoticeStatus == 1)
                {
                    <div class="profile-info-row">
                        <div class="profile-info-name">Status</div>
                        <div class="profile-info-value">
                            <span style="color: green; font: bold">Notice Pending</span>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">Received Date</div>

                        <div class="profile-info-value">
                            <span>@Convert.ToDateTime(Model.NoticeDate).ToString("dd/MM/yy")</span>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    
}

<script>
    function ViewDetailsForEdit(Id, Type) {
        var cl = new CanvasLoader('canvasloader-container2');
        cl.show();
        $("#RightSidebar").html("")
        $.get("/Notices/LegislationFixation/EditQuestionNotice", { Id: Id, EditType: Type }, function (data) {
            $("#RightSidebar").html(data)
            cl.hide();
        });


    };







</script>
