﻿@model SBL.DomainModel.Models.Diaries.DiaryModel
@{
    int count = 0;
}
<div>
    @Html.HiddenFor(m => m.CurrentQuesIds, new { @id = "CurrentQIDs" })
    @Html.HiddenFor(m => m.PostPoneQuesIds, new { @id = "PostPoneQIDs" })
    @Html.HiddenFor(m => m.SessionDate, new { @id = "SessionDate" })
    <div class="col-xs-12" style="border: #0A1732 solid 1px; background-color: #F1F3F5; border-top-width: 3px;">
        <!-- PAGE CONTENT BEGINS -->

        @if (Model.FilePath != null || Model.AttachFilePath != null)
        {

		
            <div>
                @if (Model.QuestionTypeId == 1)
                {
                    <h4 class="widget-title">Approving Fixed Starred Questions(@Model.SessionDate)</h4>
						
                }
                else if (Model.QuestionTypeId == 2)
                {
                    <h4 class="widget-title">Approving Fixed Unstarred Questions(@Model.SessionDate)</h4>

                }
            </div>
		
            <div class="widget-body">

                <table class="table table-striped table-bordered table-hover" id="sample-table-pdf" aria-describedby="sample-table-2_info">
                    <thead>
                        <tr role="row">
                            <th role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Diary Number: activate to sort column ascending" style="width: 14%; color: black;">Current Questions</th>
                            <th role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Diary Number: activate to sort column ascending" style="width: 14%; color: black;">Postpone Questions</th>
                        </tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        <tr>
                            <td>
                                @if (Model.FilePath != null && Model.FilePath != "")
                                {
                                    if (Model.CQPDFApprdBySert == true)
                                    {
                                    }
                                    else
                                    {
                                    <input type="checkbox" value="CQ" id="ChkCQ" style="margin-right: 1%" />
                                    }
                                    <a href='@Url.Action("GetFileAttachment", "Diaries", new { filepathName = Model.FilePath, area = "Notices" })' target="_blank" onclick="ShowPdfinView('@Model.FilePath')">Preview PDF</a>
           
                                    if (Model.CQPDFApprdBySert == true)
                                    {
                                    <i class="ace-icon fa fa-check bigger-110 green" title="Approved" style="float: right"></i>
                                    }
                                    if (Model.QuestionTypeId == 1)
                                    {
                                        if (Model.CQPDFApprdBySert == true)
                                        {
                                    <span style="color: green">Questions List Approved & Published on Public website</span>
                                        }
                                        else
                                        {
                                    <button class="btn btn-minier btn-purple" style="float: right; margin-right: 5px; border-radius: 8px;" onclick="ApproveGeneratedPDF('Starred')">
                                        <i class="ace-icon fa fa-cloud-upload"></i>
                                        Approve Questions</button>
                                    <button class="btn btn-minier btn-purple" style="float: right; margin-right: 5px; border-radius: 8px;" onclick="BackToTrans('Starred')">
                                        <i class="ace-icon fa fa-cloud-upload"></i>
                                        Back To Translator(Updation)</button>
                               
                                        }
                                    }
                                    else
                                    {
                                        if (Model.CQPDFApprdBySert == true)
                                        {
                                    <span style="color: green">Questions List Approved & Published on Public website</span>
                                        }
                                        else
                                        {
                                    <button class="btn btn-minier btn-purple" style="float: right; margin-right: 5px; border-radius: 8px;" onclick="ApproveGeneratedPDF('Unstarred')">
                                        <i class="ace-icon fa fa-cloud-upload"></i>
                                        Approve Questions</button>
                                    <button class="btn btn-minier btn-purple" style="float: right; margin-right: 5px; border-radius: 8px;" onclick="BackToTrans('Unstarred')">
                                        <i class="ace-icon fa fa-cloud-upload"></i>
                                        Back To Translator(Updation)</button>
                                        }
                                    }
                                }
                                else
                                {
                                    <span>No PDF Available</span>
                                }
                            </td>
                            <td>
                                @if (Model.AttachFilePath != null && Model.AttachFilePath != "")
                                {
                                    if (Model.PQPDFApprdBySert == true)
                                    {
                                    }
                                    else
                                    {
                                    <input type="checkbox" value="PQ" id="ChkPQ" style="margin-right: 1%" />
                                    }
                                    <a href='@Url.Action("GetFileAttachment", "Diaries", new { filepathName = Model.AttachFilePath, area = "Notices" })' target="_blank" onclick="ShowPdfinView('@Model.AttachFilePath')">Preview PDF</a>
                                    if (Model.PQPDFApprdBySert == true)
                                    {
                                    <i class="ace-icon fa fa-check bigger-110 green" title="Approved" style="float: right"></i>
                                    }
                                    if (Model.QuestionTypeId == 1)
                                    {
                                        if (Model.PQPDFApprdBySert == true)
                                        {
                                    <span style="color: green">Questions List Approved & Published on Public website</span>
                                        }
                                        else
                                        {
                                    <button class="btn btn-minier btn-purple" style="float: right; margin-right: 5px; border-radius: 8px;" onclick="ApproveGeneratedPDFPostpone('Starred')">
                                        <i class="ace-icon fa fa-cloud-upload"></i>
                                        Approve Questions</button>
                                    <button class="btn btn-minier btn-purple" style="float: right; margin-right: 5px; border-radius: 8px;" onclick="BackToTrans('Starred')">
                                        <i class="ace-icon fa fa-cloud-upload"></i>
                                        Back To Translator(Updation)</button>
                                        }
                                    }
                                    else
                                    {
                                        if (Model.PQPDFApprdBySert == true)
                                        {
                                    <span style="color: green">Questions List Approved & Published on Public website</span>
                                        }
                                        else
                                        {
                                    <button class="btn btn-minier btn-purple" style="float: right; margin-right: 5px; border-radius: 8px;" onclick="ApproveGeneratedPDFPostpone('Unstarred')">
                                        <i class="ace-icon fa fa-cloud-upload"></i>
                                        Approve Questions</button>
                                    <button class="btn btn-minier btn-purple" style="float: right; margin-right: 5px; border-radius: 8px;" onclick="BackToTransPQ('Unstarred')">
                                        <i class="ace-icon fa fa-cloud-upload"></i>
                                        Back To Translator(Updation)</button>
                                        }

                                    }
                                }
                                else
                                {
                                    <span>No PDF Available</span>
                                }
                            </td>
                        </tr>




                    </tbody>
                </table>

                @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.RoleID == "f601de42-22f5-4b77-92b2-cd506564da25") //for Secretary
                {
                    if (Model.QuestionTypeId == 1)
                    {
          
                    <div id="divSApprove" style="margin-top: 1%">
                        <button class="btn btn-primary" type="button" id="btnSFix1" title="Approve Generated PDF" onclick="ApproveGeneratedPDF('Starred')" style="display: none;">
                            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                            Approve Generated PDF
                        </button>
                        @*
                        <button class="btn btn-primary" type="button" id="btnSBackTran" title="Back To Translator" onclick="BackToTrans('Starred')" style="margin-left: 1%; padding: 1px; border-radius: 3px; float: right; margin-bottom: 6px;">
                            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                            Back To Translator(Updation)
                        </button>*@
                    </div>
                    }
                    else if (Model.QuestionTypeId == 2)
                    {
                    <div id="divUApprove" style="margin-top: 1%">
                        <button class="btn btn-primary" type="button" id="btnUFix1" title="Approve Generated PDF" onclick="ApproveGeneratedPDF('Unstarred')" style="display: none;">
                            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                            Approve Generated PDF
                        </button>
                        @*
                        <button class="btn btn-primary" type="button" id="btnUBackTran" title="Back To Translator" onclick="BackToTrans('Unstarred')" style="margin-left: 1%; padding: 1px; border-radius: 3px; float: right; margin-bottom: 6px;">
                            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                            Back To Translator
                        </button>*@
                    </div>
                    }


                }
            </div>
        }
        else
        {                 
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <strong>No Fixed Question(s) PDF Available</strong>
                    <br />
                </div>
            </div>
                   
        }



        <!-- PAGE CONTENT ENDS -->
    </div>


</div>
@*
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/jquery-ui.custom.min.js"></script>*@
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>


<script>
    jQuery(function ($) {
        //var oTable1 =
        //$('#sample-table-2')
        //.dataTable({
        //	bAutoWidth: true,
        //	"aoColumns": [
        //       { "bSortable": false }, { "bSortable": false }

        //	]
        //});
    });

    //function ShowPdfinView(pathval) {

    //	var path = pathval;

    //	$.ajax({
    //		url: "/Notices/LegislationFixation/ShowPdfinView",
    //		type: 'GET',
    //		cache: false,
    //		data: {
    //			FilePath:path
    //		},
    //		success: function (response) {
    //			$("#DivPdfShow").html(response);
    //			$('#DivPdfShow').prop("display", "block");
    //		}

    //	});
    //}
    //function ApproveGeneratedPDF(tpe)
    function ApproveQuestionById(tpe) {
        var Sessiondate = document.getElementById("SessionDate").value;
        $("#loader-wrapper").show();
        var SDId = $("#DdlSessDate").val();
        var VB = "";
        if ($("#ChkCQ").is(":checked")) {
            VB = "CQ";
        }
        if (SDId != 0) {
            if (VB != "") {
                GeneratePDFByDate()
                $.get("/Notices/Changer/ApproveGeneratedPDFByDate", {
                    SDateId: SDId,
                    PType: tpe,
                    ViewBy: VB,
                }, function (data) {
                       
                    alert("Pdf of Questions for date: " + Sessiondate + " Generated Sucessfully and Published at Public Website !!! ")
                       @* if ('@Model.QuestionTypeId' == 1) {
                            FixedQuesPDF('Starred')
                        } else if ('@Model.QuestionTypeId' == 2) {
                            FixedQuesPDF('Unstarred')
                        }
                        ShowPdfinView('@Model.FilePath')*@
                    if (SDId != 0) {                        
                        ///Get Data
                        $.get("/Notices/LegislationFixation/SearchBySessionDateForFix", {
                            SDateId: SDId,
                            QuesType: tpe
                        }, function (data) {
                            $("#DivBindGrid").html(data)
                            FQPDF('Unstarred');
                        });

                        ///Get Rotational Minister Name

                        $.get("/Notices/LegislationFixation/GetRotationalMiniterName", {
                            SDateId: SDId,
                        }, function (data) {
                            $("#SpnMinisName").html(data)
                        });

                            
                    }
                    $("#loader-wrapper").hide();
                });
            }
            else {
                alert("Please Select PDF to Approve !")
            }
        }
    }

        @*function ApproveGeneratedPDFPostpone(tpe) {
            alert(tpe)
            var SDId = $("#DdlSessDate").val();
            var VB = "";

            if ($("#ChkPQ").is(":checked")) {
                VB = "PQ";
            }

            if (SDId != 0) {
                if (VB != "") {

                    $.get("/Notices/Changer/ApproveGeneratedPDFByDate", {
                        SDateId: SDId,
                        PType: tpe,
                        ViewBy: VB,
                    }, function (data) {
                        alert(data)
                        if ('@Model.QuestionTypeId' == 1) {
                        FixedQuesPDF('Starred')
                    } else if ('@Model.QuestionTypeId' == 2) {
                        FixedQuesPDF('Unstarred')
                    }
                });
            }
            else {
                alert("Please Select PDF to Approve !")
            }
        }
    }*@


    function GeneratePDFByDate() {
        var date = $("#DdlSessDate option:selected").text().trim()
        date = date.replace("-", "/");
        date = date.replace("-", "/");

        if ($("#ChkCQ").is(":checked")) {
            var VB = "CQ";
        }
        else if ($("#ChkPQ").is(":checked")) {
            var VB = "PQ";
        }
        //var VB = $("#DdlViewBy").val();
        if ($("#DdlSessDate").val() != 0) {
            //var cl = new CanvasLoader('canvasloader-container5');
            //cl.show();
            ///Generate Pdf By Fixing Date
            $.get("/Notices/QuestionList/U_GeneratePdfByDate_ByViewForSecUnstarred", {
                Id: date, ViewBy: VB
            }, function (data) {
                if (data.substring(0, 7) == "Success") {
                    $("#DivSavePDF").css("display", "block")
                    var url = '@Url.Action("GetFileAttachment", "Diaries", new { filepathName = "_FP_", area = "Notices" })';
                    //url = url + data.substring(8)
                    //url = url.replace('amp;', '');
                    url = url.replace('_FP_', data.substring(7));
                    window.open(url, "_blank");
                    FQPDF('Unstarred')
                }
                cl.hide();
            });

        }
        else {
            alert("Please select any Fixing Date !")
        }


    }
    function BackToTrans(tpe) {
        if ($("#ChkCQ").is(":checked")) {
            var SDId = $("#DdlSessDate").val();

            var VB = "CQ";
            UnlockQuestionUnstarred()
            //if ($("#ChkCQ").is(":checked") && $("#ChkPQ").is(":checked")) {
            //    VB = "All";
            //}
            //else if ($("#ChkCQ").is(":checked")) {
            //    VB = "CQ";
            //}
            //else if ($("#ChkPQ").is(":checked")) {
            //    VB = "PQ";
            //}
            //if (VB = "CQ") {
            //    UnlockQuestionUnstarred()
            //}
            //if (VB = "PQ") {
            //    UnlockQuestionUnstarredPQ()
            //}

            if (SDId != 0) {
                if (VB != "") {
                    $.get("/Notices/Changer/BackToTranByDate", {
                        SDateId: SDId,
                        PType: tpe,
                        ViewBy: VB,
                    }, function (data) {
                        alert(data)
                    });
                }
                else {
                    alert("Please Select Any PDF to Back !")
                }
            }
            else {
                alert("Please select CheckBox")
            }
        }
    }


        function BackToTransPQ(tpe) {
            if ($("#ChkPQ").is(":checked")) {
                var SDId = $("#DdlSessDate").val();

                var VB = "PQ";
                UnlockQuestionUnstarredPQ()
                //if ($("#ChkCQ").is(":checked") && $("#ChkPQ").is(":checked")) {
                //    VB = "All";
                //}
                //else if ($("#ChkCQ").is(":checked")) {
                //    VB = "CQ";
                //}
                //else if ($("#ChkPQ").is(":checked")) {
                //    VB = "PQ";
                //}
                //if (VB = "CQ") {
                //    UnlockQuestionUnstarred()
                //}
                //if (VB = "PQ") {
                //    UnlockQuestionUnstarredPQ()
                //}

                if (SDId != 0) {
                    if (VB != "") {
                        $.get("/Notices/Changer/BackToTranByDate", {
                            SDateId: SDId,
                            PType: tpe,
                            ViewBy: VB,
                        }, function (data) {
                            alert(data)
                        });
                    }
                    else {
                        alert("Please Select Any PDF to Back !")
                    }
                }
                else {
                    alert("Please select CheckBox")
                }
            }
        }


        function UnlockQuestionUnstarred() {
            var Ids = document.getElementById("CurrentQIDs").value;
            $.get("/Notices/Changer/UnlockTranslatorunstarred", {
                Qids: Ids,
            }, function (data) {

            });
        }
        function UnlockQuestionUnstarredPQ() {
            var Ids = document.getElementById("PostPoneQIDs").value;
            $.get("/Notices/Changer/UnlockTranslatorunstarred", {
                Qids: Ids,
            }, function (data) {

            });
        }
        // function ApproveQuestionById()
    
        function ApproveGeneratedPDF(tpe) {
            if ($("#ChkCQ").is(":checked")) { 
                var Ids = document.getElementById("CurrentQIDs").value;
               
                var myarray = Ids.split(',');

                $("#ReturnMsg ol").empty();
                for (var i = 0; i < myarray.length; i++) {

                    $.get("/Notices/LegislationFixation/ApproveFixingQuestion", {
                        Qids: myarray[i],
                    }, function (data) {
               
                        $("#Return-alert123").modal({                    // wire up the actual modal functionality and show the dialog
                            "backdrop": "static",
                            "keyboard": true,
                            "show": true                     // ensure the modal is shown immediately
                    
                        });

                        $(".ApproveQuestionById").attr("id", tpe);
                
                        $("#ReturnMsg ol").append(' <li class="text-success"><b>'+data+'</b></li>');
             
                @*   $("#Return-alert").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Alert!",
                    title_html: true,
                    buttons: [
                        {
                            html: "&nbsp; Okay",
                            "class": "btn btn-primary",
                            click: function () {
                                $(this).dialog("close");

                                var url = '@Url.Action("PaperLaidSummary", "LegislationFixation", new { area = "Notices" })';
                                url = url.replace('amp;', '');
                                url = url.replace('amp;', '');
                                window.open(url, "_parent");
                            }
                        }
	                ]
	            });*@

                    });


                }
            }
            else {
                alert("Please select CheckBox")
            }

        }
        function ApproveGeneratedPDFPostpone(tpe) {
            if ($("#ChkPQ").is(":checked")) {
                var Ids = document.getElementById("PostPoneQIDs").value;
                var myarray = Ids.split(',');

                $("#ReturnMsgPost ol").empty();
                for (var i = 0; i < myarray.length; i++) {

                    $.get("/Notices/LegislationFixation/ApproveFixingQuestion", {
                        Qids: myarray[i],
                    }, function (data) {

                        $("#Return-alertPost").modal({                    // wire up the actual modal functionality and show the dialog
                            "backdrop": "static",
                            "keyboard": true,
                            "show": true                     // ensure the modal is shown immediately

                        });

                        $(".ApprovePostQuestionById").attr("id", tpe);

                        $("#ReturnMsgPost ol").append(' <li class="text-success"><b>' + data + '</b></li>');

                    });


                }
            }
            else {
                alert("Please select CheckBox")
            }

        }

        function ApproveQuestionByIdPostpone(tpe) {
            var Sessiondate = document.getElementById("SessionDate").value;
            $("#loader-wrapper").show();
            var SDId = $("#DdlSessDate").val();
            var VB = "";
            if ($("#ChkPQ").is(":checked")) {
                VB = "PQ";
            }
            if (SDId != 0)
            {
                if (VB != "") {
                    GeneratePDFByDate()
                    $.get("/Notices/Changer/ApproveGeneratedPDFByDate", {
                        SDateId: SDId,
                        PType: tpe,
                        ViewBy: VB,
                    }, function (data) {

                        alert("Pdf of Postpone Questions for date: " + Sessiondate + " Generated Sucessfully and Published at Public Website !!! ")
                       @* if ('@Model.QuestionTypeId' == 1) {
                            FixedQuesPDF('Starred')
                        } else if ('@Model.QuestionTypeId' == 2) {
                            FixedQuesPDF('Unstarred')
                        }
                        ShowPdfinView('@Model.FilePath')*@
                    if (SDId != 0) {
                        ///Get Data
                        $.get("/Notices/LegislationFixation/SearchBySessionDateForFix", {
                            SDateId: SDId,
                            QuesType: tpe
                        }, function (data) {
                            $("#DivBindGrid").html(data)
                            FQPDF('Unstarred')
                        });

                        ///Get Rotational Minister Name

                        $.get("/Notices/LegislationFixation/GetRotationalMiniterName", {
                            SDateId: SDId,
                        }, function (data) {
                            $("#SpnMinisName").html(data)
                        });


                    }
                    $("#loader-wrapper").hide();
                });
            }

            else 
            {
                alert("Please Select PDF to Approve !")
            }
        }

    }
</script>
