﻿@model SBL.DomainModel.Models.Diaries.DiaryModel
@{
    int count = 0;
}

<div id='fullDetailsModel' class="hide">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>
<div><a style="font-weight:900;color:red" target="_blank" href="@Url.Action("Index", "Changer", new { @area = "Notices" })">Click here to update Question Detail and Subject</a></div>
<div class="row">
    <div class="col-xs-12">

        <!-- PAGE CONTENT BEGINS -->
        <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
        <input type="hidden" id="SelectedFixNo" name="SelectedFixNo" />
        <div class="pass-table">

            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                @if (Model.DiaryList != null)
                {
                    if (Model.DiaryList.Count() > 0)
                    {
                    <div class="table-header">
                        Unfixed Unstarred Questions List
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">

                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">#</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Diary Number: activate to sort column ascending" style="width: 14%">Diary Number</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Subject: activate to sort column ascending" style="width: 20%">Subject</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Asked By: activate to sort column ascending" style="width: 15%">Asked By</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Minister: activate to sort column ascending" style="width: 20%">Minister</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Department: activate to sort column ascending" style="width: 23%">Department</th>
                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                                @if (Model.UserName == "e5144dad-7a5d-4308-976a-8a5d2a462bd1")
                                {
                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">
                                        @*<input id="ChkBoxAll" type="checkbox" />*@</th>
                                    <th class="hidden-480 sorting" style="color: #555" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Order: activate to sort column ascending">Fixing Number</th>
                                }
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.DiaryList)
                            {
                                count = count + 1;
                                string style = (count % 2 == 0) ? "odd" : "even";

                                var trID = item.QuestionId;
                                
                                <tr class="@style" id="@trID">

                                    <td class="">@count</td>
                                    <td class="">@item.DiaryNumber</td>
                                    <td class="">@Html.Raw(item.Subject)</td>
                                    <td class="hidden-480 ">@item.AskedBy</td>
                                    <td class="">@item.MinistryName</td>
                                    <td class="">@item.DepartmentName</td>
                                    <td class=" ">
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a title="@Resources.PublicPasses.ActionFullDetails" onclick="FullDetailById(@item.QuestionId)" href="javascript:void(0);" class="green">
                                                <i class="ace-icon fa fa-eye bigger-130"></i>
                                            </a>
                                        </div>
                                    </td>
                                    @if (Model.UserName == "e5144dad-7a5d-4308-976a-8a5d2a462bd1")
                                    {
                                        <td>@if (item.IsBracket != true)
                                            { 
                                            <input id="Chk_@item.QuestionId" class="Checkbox" type="checkbox" onchange="checkChange(this.id,'@item.AskedBy')" />
                                            }
                                        </td>

                                        <td>
                                            @*<div id="Div_@item.QuestionId" class="Div"></div>*@
                                            <span id="Div_@item.QuestionId" class="Div"></span>
                                            <input id="Txt_@item.QuestionId" type="text" class="Textbox" style="display:none;width:98%" onkeypress="return isNumberKey(event);" onblur="Bindnumber(this.id)"/>
                                        </td>
                                    }


                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.HiddenFor(m => m.RIds)
                    @Html.HiddenFor(m => m.SessionDateId)
                    <div id="divFix" style="display: none; margin-top: 1%">
                        <button class="btn btn-primary" type="button" id="btnFix" title="Fix" onclick="Fix()">
                            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                            Fix
                        </button>

                        @*<button class="btn btn-primary" type="button" id="btnReset" title="Fix" onclick="Reset()">
                                <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                Reset
                            </button>*@
                    </div>
                    }
                    else
                    {
                  
                    <div class="col-xs-12">
                        <div class="alert alert-info">
                            <strong>No Question(s) found according to Rotation Of Ministers for Selected Date </strong>
                            <br />
                        </div>
                    </div>
                   
                    }
                }

            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>


<div id="dialog1-confirm" class="hide">
    <p>Are you sure ?</p>
</div>

<div id="dialog2-alert" class="hide">
    <p>Only 3 Unstarred Questions Can Be asked By One Member !</p>
</div>

<div id="dialog3-alert" class="hide">
    <p>Please Select Question(s) For Fixing !</p>
</div>

<div id="dialog4-alert" class="hide">
    <p>Please Select Fixing Date !</p>
</div>

<div id="Return-alert" class="hide">
    <p id="ReturnMsg"></p>
</div>

<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
@*<script src="~/Scripts/jquery-1.7.min.js"></script>*@
@*<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>*@
<script src="~/assets/js/jquery-ui.custom.min.js"></script>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<script>

    jQuery(function ($) {
        if ('@Model.UserName' == "e5144dad-7a5d-4308-976a-8a5d2a462bd1") {
            var oTable1 =
         $('#sample-table-2')
         .dataTable({
             bAutoWidth: true,
             "aoColumns": [
                { "bSortable": false },
               null, null, null, null, null, { "bSortable": false },

               { "bSortable": false }, { "bSortable": false }

             ]
         });
        }
        else if ('@Model.UserName' == "f601de42-22f5-4b77-92b2-cd506564da25") {
            var oTable1 =
         $('#sample-table-2')
         .dataTable({
             bAutoWidth: true,
             "aoColumns": [
                { "bSortable": false },
               null, null, null, null, null, { "bSortable": false },
             ]
         });
        }


    });


    $('#ChkBoxAll').on("click", function () {

        /// Check for Max number  of Question Asked By Member
        //var MaxMem = $("#TxtMaxMemNo").val();
        //if (MaxMem != 0) {
        if ($('#ChkBoxAll').attr('checked')) {

            $(".Textbox").each(function () {
                $(this).css("display", "block");
            });

            document.getElementById("SelectedChkbxId").value = "";
            $(".Checkbox").each(function () {
                var selectedChkbxId = document.getElementById("SelectedChkbxId").value;
                if (selectedChkbxId == "") {
                    document.getElementById("SelectedChkbxId").value = this.id.substring(4);
                } else {
                    selectedChkbxId = selectedChkbxId + "," + this.id.substring(4);
                    document.getElementById("SelectedChkbxId").value = selectedChkbxId;
                }
                $(this).prop("checked", $("#ChkBoxAll").is(":checked"));
            });
            // alert(document.getElementById("SelectedChkbxId").value);
            $("#divFix").css("display", "block")
        }
        else {
            document.getElementById("SelectedChkbxId").value = "";
            $("#divFix").css("display", "none")
            $(".Checkbox").each(function () {
                $(this).prop("checked", false);
            });
            $(".Textbox").each(function () {
                $(this).val("")
                $(this).css("display", "none");
            });
            $(".Div").each(function () {
                $(this).html("");
                $(this).css("display", "none");
            });

        }
        //}
        //else {
        //    $("#dialog2-alert").removeClass('hide').dialog({
        //        resizable: false,
        //        modal: true,
        //        title: "Alert!",
        //        title_html: true,
        //        buttons: [
        //            {
        //                html: "&nbsp; Okay",
        //                "class": "btn btn-primary",
        //                click: function () {
        //                    $(this).dialog("close");
        //                }
        //            }
        //        ]
        //    });
        //    $("#TxtMaxMemNo").val("");
        //    $('#ChkBoxAll').attr('checked', false)
        //}
    });


    var CheckMember = "";
    var count = 0;

    function checkChange(id, Member) {
        //var MaxMem = $("#TxtMaxMemNo").val();
        //if (MaxMem != 0) {

        if (CheckMember != Member) {
            CheckMember = Member
            count = 1;
        } else {
            count = count + 1;
        }

        if (count > 3) {
            $("#dialog2-alert").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "Alert!",
                title_html: true,
                buttons: [
                    {
                        html: "&nbsp; Okay",
                        "class": "btn btn-primary",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        }
        else {

            if (document.getElementById(id).checked) {

                $("#Txt_" + id.substring(4)).val("");
                $("#Txt_" + id.substring(4)).css("display", "block")
                $("#Txt_" + id.substring(4)).focus();
                $("#Div_" + id.substring(4)).html("");
                var selectedId = document.getElementById("SelectedChkbxId").value;
                if (selectedId == "") {
                    document.getElementById("SelectedChkbxId").value = id.substring(4);
                }
                else {
                    selectedId = selectedId + "," + id.substring(4);
                    document.getElementById("SelectedChkbxId").value = selectedId;
                }

                //alert(document.getElementById("SelectedChkbxId").value)
            }
            else {
                var selectedId = document.getElementById("SelectedChkbxId").value;

                var newvalue = selectedId.replace("," + id.substring(4), "");
                if (newvalue.length == selectedId.length) {
                    newvalue = selectedId.replace(id.substring(4) + ",", "");
                }
                if (newvalue.length == selectedId.length) {
                    newvalue = selectedId.replace(id.substring(4), "");
                }

                document.getElementById("SelectedChkbxId").value = newvalue;

                //alert(document.getElementById("SelectedChkbxId").value);


                ////Remomve fixing Number also of correspoding Checkbox
                var V = $("#Txt_" + id.substring(4)).val();

                var selectedId = document.getElementById("SelectedFixNo").value;


                var newvalue = selectedId.replace("," + V, "");
                if (newvalue.length == selectedId.length) {
                    newvalue = selectedId.replace(V + ",", "");
                }
                if (newvalue.length == selectedId.length) {
                    newvalue = selectedId.replace(V, "");
                }

                document.getElementById("SelectedFixNo").value = newvalue;

                //alert(document.getElementById("SelectedFixNo").value);

                $("#Txt_" + id.substring(4)).css("display", "none");
                $("#Div_" + id.substring(4)).html("");

            }

            if ($(".Checkbox").not(':checked').length == 0) {
                $('#ChkBoxAll').attr('checked', true)
            }
            else {
                $('#ChkBoxAll').attr('checked', false)
            }

            if (document.getElementById("SelectedChkbxId").value == "") {
                $("#divFix").css("display", "none")
            }
            else {
                $("#divFix").css("display", "block")
            }

        }
    }


    function Fix() {
        var SDId = $("#DdlSessDate").val();
        var QIds = document.getElementById("SelectedChkbxId").value
        var FN = document.getElementById("SelectedFixNo").value

        if (SDId != 0) {
            if (QIds != "" && FN != "") {
                $("#dialog1-confirm").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Confirm!",
                    title_html: true,
                    buttons: [
                        {
                            html: "&nbsp; Yes",
                            "class": "btn btn-primary",
                            click: function () {
                                $(this).dialog("close");
                                QuestionFixingbyId(SDId, QIds, FN);
                            }
                        }
                        ,
                        {
                            html: "&nbsp; Cancel",
                            "class": "btn btn-primary",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });


            }
            else {
                $("#dialog3-alert").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Alert!",
                    title_html: true,
                    buttons: [
                        {
                            html: "&nbsp; Okay",
                            "class": "btn btn-primary",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });
            }
        }
        else {
            $("#dialog4-alert").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "Alert!",
                title_html: true,
                buttons: [
                    {
                        html: "&nbsp; Okay",
                        "class": "btn btn-primary",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });

        }


    }



    function Bindnumber(id) {
        ///Get Value of TextBox Corresponding CheckBox

        var V = $("#" + id).val();
        var PSLQNum = $("#TxtPSQNum").val()
        PSLQNum = parseInt(PSLQNum)

        CheckFNum = document.getElementById("SelectedFixNo").value;


        if (V != null && V != "") {

            V = parseInt(V)

            if (CheckFNum != "") {

                var LastNum = CheckFNum.substring(CheckFNum.lastIndexOf(',') + 1)
                LastNum = parseInt(LastNum)


                //if (V < LastNum) {
                //    var ArrayNum = new Array();
                //    ArrayNum = CheckFNum.split(',');
                //    for (var i = 0; i < ArrayNum.length; i++) {
                //        if (V == ArrayNum[1]) {
                //            alert(V + " is already assigned !")
                //            $("#" + id).val("");
                //            $("#" + id).focus();
                //            break;
                //        }
                //        else if (document.getElementById("Chk_" + id.substring(4)).checked) {


                //            $("#Div_" + id.substring(4)).html(V);
                //            $("#" + id).css("display", "none");

                //            var selectedId = document.getElementById("SelectedFixNo").value;
                //            if (selectedId == "") {
                //                document.getElementById("SelectedFixNo").value = V;
                //            }
                //            else {
                //                selectedId = selectedId + "," + V;
                //                document.getElementById("SelectedFixNo").value = selectedId;
                //            }

                //            //alert(document.getElementById("SelectedFixNo").value)


                //        }
                //    }

                //}

                //else 
                if (V < LastNum || V == LastNum || V > (LastNum + 1)) {
                    alert("Number Should be in sequence, your next number would be " + (LastNum + 1))
                    $("#" + id).val("");
                    $("#" + id).focus();

                }

                else {
                    var con = confirm("Are you sure ? if you click yes, you can not change Question Number.")

                    if (con) {

                        if (document.getElementById("Chk_" + id.substring(4)).checked) {

                            $("#Chk_" + id.substring(4)).attr("disabled", "disabled")
                            $("#Div_" + id.substring(4)).html(V);
                            $("#" + id).css("display", "none");

                            var selectedId = document.getElementById("SelectedFixNo").value;
                            if (selectedId == "") {
                                document.getElementById("SelectedFixNo").value = V;
                            }
                            else {
                                selectedId = selectedId + "," + V;
                                document.getElementById("SelectedFixNo").value = selectedId;
                            }

                            //alert(document.getElementById("SelectedFixNo").value)


                        }
                    }
                    else {
                        $("#Chk_" + id.substring(4)).attr("checked", false)
                        $("#" + id).val("");
                        $("#" + id).css("display", "none");
                        event.preventDefault();

                    }
                }


            }

            else if (CheckFNum == "") {
                if (V < PSLQNum || V == PSLQNum || V > (PSLQNum + 1)) {

                    alert("Number Should be in sequence, your next number would be " + (PSLQNum + 1))
                    $("#" + id).val("");
                    $("#" + id).focus();
                }

                else {

                    var con = confirm("Are you sure ? if you click yes, you can not change Question Number.")

                    if (con) {
                        if (document.getElementById("Chk_" + id.substring(4)).checked) {

                            $("#Chk_" + id.substring(4)).attr("disabled", "disabled")
                            $("#Div_" + id.substring(4)).html(V);
                            $("#" + id).css("display", "none");

                            var selectedId = document.getElementById("SelectedFixNo").value;
                            if (selectedId == "") {
                                document.getElementById("SelectedFixNo").value = V;
                            }
                            else {
                                selectedId = selectedId + "," + V;
                                document.getElementById("SelectedFixNo").value = selectedId;
                            }

                            //alert(document.getElementById("SelectedFixNo").value)


                        }
                    }

                    else {
                        $("#Chk_" + id.substring(4)).attr("checked", false)
                        $("#" + id).val("");
                        $("#" + id).css("display", "none");
                        event.preventDefault();
                    }

                }



            }


        }

        else {
            alert("Enter Question Number !")
            $("#" + id).focus();
        }
    }

    function FullDetailById(QID) {

        var pathurl = '@Url.Action("FullDetailById", "LegislationFixation")';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                Id: QID
            },
            success: function (data) {

                $('#ShowfullDetailsModel').html("");
                $('#ShowfullDetailsModel').html(data);

                var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Full Details",
                    width: 600,
                    title_html: true,
                    buttons: [
                        {
                            text: "OK",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

            }
        });
    }

    function QuestionFixingbyId(SessDateId, Quesid, QuesNo) {
        $.get("/Notices/LegislationFixation/FixingQuestion", {
            SDateId: SessDateId,
            Qids: Quesid,
            FixingNums: QuesNo
        }, function (data) {
            $("#ReturnMsg").html(data)
            $("#Return-alert").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "Alert!",
                title_html: true,
                buttons: [
                    {
                        html: "&nbsp; Okay",
                        "class": "btn btn-primary",
                        click: function () {
                            $(this).dialog("close");

                            var url = '@Url.Action("PaperLaidSummary", "LegislationFixation", new { area = "Notices" })';
                            url = url.replace('amp;', '');
                            url = url.replace('amp;', '');
                            window.open(url, "_parent");
                        }
                    }
                ]
            });

        });
        }


        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
              && (charCode < 48 || charCode > 57)) {
                alert("Only Number Allowed !")
                return false;

            }

            return true;
        }


</script>
