﻿@model SBL.DomainModel.Models.Diaries.DiaryModel


<style>
    .CommonWidth {
        width: 50%;
    }
</style>

<script>
    $(document).ready(function () {
        $("#DdlSessDate").prepend("<option value='0' selected='true'>Select Date</option>")

        //$("#DdlMember").append("<option value='0' selected='true'>All</option>")

        $("#TxtMaxMemNo").val("2")
        $("#loader-wrapper").show();
        //var cl = new CanvasLoader('canvasloader-container1');
        //cl.show();
        $.get("/Notices/LegislationFixation/SearchBySessionDate", {
            SDateId: 0,
            QuesType: "Starred"

        },
        function (data) {
            $("#DivBindGrid").html(data)
            $("#loader-wrapper").hide();
            //cl.hide();
        });

    });

</script>




@if (Model.SUnfixCount > 0)
{
    <div class="page-header">
        <h1>To Fix Question Select Session Date
        </h1>
    </div>



    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-4"><b>Fixing Date</b></div>
            <div class="col-xs-3">
                @Html.DropDownListFor(m => m.SessionDateId, new SelectList(Model.SessDateList, "Id", "DisplayDate"), new { @id = "DdlSessDate", @tabindex = "1", @Class = "CommonWidth" })
            </div>
            <div class="col-xs-5">
                <b>Rotation Of Ministers :  </b><span id="SpnMinisName"></span>
            </div>


        </div>
    </div>
    <br />
    @*<div class="row">
        <div class="col-xs-12">
            <div class="col-xs-2"><b>Asked By</b></div>
            <div class="col-xs-4">
                @Html.DropDownListFor(m => m.MemberId, new SelectList(Model.memberList, "MemberId", "MemberName"), new { @id = "DdlMember", @tabindex = "3", @Class = "CommonWidth" })
            </div>
            <div class="col-xs-4"><b>Max Number of Questions can be asked from the Minister</b></div>
            <div class="col-xs-3">
                @Html.TextBox("TxtMaxMinNo", null, new { @Class = "CommonWidth", @tabindex = "2" })
            </div>


        </div>
    </div>*@
    <br />
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-4"><b>Max Number of Questions Can be asked by the Member</b></div>
            <div class="col-xs-3">
                @Html.TextBox("TxtMaxMemNo", null, new { @Class = "CommonWidth", @tabindex = "3", @readonly = true })
            </div>
            <div class="col-xs-2"><b>Last Question Number</b></div>
            <div class="col-xs-3">
                @Html.TextBoxFor(m => m.QuestionNumber, null, new { @id = "TxtPSQNum", @Class = "CommonWidth", @tabindex = "4", @readonly = true })
            </div>


        </div>
    </div>
       
    
  
    <br />
    <br />
    <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
    <div class="row">
        <div id="DivBindGrid" class="col-xs-12">
        </div>
    </div>

}
else
{
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-info">
                <strong>No UnFixed Question</strong><br />
            </div>
        </div>
    </div>
}


<div id="dialog-confirm" class="hide">
    <p>Only 2 Starred Question(s) can be asked by One Member, Are you sure to proceed ?</p>
</div>
<div id="dialog-alert" class="hide">
    <p>Number Should be More than 0 !</p>
</div>

<div id="dialog1-alert" class="hide">
    <p>Please Select Valid Date !</p>
</div>


<script src="~/assets/js/jquery-ui.custom.min.js"></script>


<script>



    $("#DdlSessDate").change(function () {
        var SDId = $("#DdlSessDate").val();
        $("#TxtMaxMinNo").val("");
        //$("#TxtMaxMemNo").val("");
        if (SDId != 0) {
            var cl = new CanvasLoader('canvasloader-container1');
            cl.show();
            ///Get Data
            $.get("/Notices/LegislationFixation/SearchBySessionDate", {
                SDateId: SDId,
                QuesType: "Starred"
            }, function (data) {
                $("#DivBindGrid").html(data)
            });

            ///Get Rotational Minister Name

            $.get("/Notices/LegislationFixation/GetRotationalMiniterName", {
                SDateId: SDId,
            }, function (data) {
                $("#SpnMinisName").html(data)
            });

            cl.hide();
        }

        else {
            $("#dialog1-alert").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "Alert!",
                title_html: true,
                buttons: [
                    {
                        html: "&nbsp; Okay",
                        "class": "btn btn-primary",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        }
    })



    //$("#DdlMember").change(function () {
    //    var Mid = $("#DdlMember").val();

    //    ///Get Data
    //    $.get("/Notices/LegislationFixation/SearchByMember", {
    //        MemberId: Mid,
    //        QuesType: "Starred"
    //    }, function (data) {
    //        $("#DivBindGrid").html(data)
    //    });
    //})




    $("#TxtMaxMinNo").change(function () {
        var MaxMin = $("#TxtMaxMinNo").val();

        if (MaxMin != 0) {
            $.get("/Notices/LegislationFixation/SearchByMaxMinister", {
                MaxMinisAsk: MaxMin,
                QuesType: "Starred"
            }, function (data) {
                $("#DivBindGrid").html(data)
            });
        }
        else {
            $("#dialog-alert").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "Alert!",
                title_html: true,
                buttons: [
                    {
                        html: "&nbsp; Okay",
                        "class": "btn btn-primary",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
            $("#TxtMaxMinNo").val("");
        }


    })


    //$("#TxtMaxMemNo").change(function () {
    //    var MaxMem = $("#TxtMaxMemNo").val();

    //    if (MaxMem != 0) {
    //        if (MaxMem > 2) {
    //            $("#dialog-confirm").removeClass('hide').dialog({
    //                resizable: false,
    //                modal: true,
    //                title: "Confirm!",
    //                title_html: true,
    //                buttons: [
    //                    {
    //                        html: "&nbsp; Yes",
    //                        "class": "btn btn-primary",
    //                        click: function () {
    //                            $(this).dialog("close");
    //                            SearchBasedonMember();
    //                        }
    //                    }
    //                    ,
    //                    {
    //                        html: "&nbsp; Cancel",
    //                        "class": "btn btn-primary",
    //                        click: function () {
    //                            $(this).dialog("close");
    //                        }
    //                    }
    //                ]
    //            });
    //        }
    //        else {
    //            SearchBasedonMember();
    //        }
    //    }

    //    else {
    //        $("#dialog-alert").removeClass('hide').dialog({
    //            resizable: false,
    //            modal: true,
    //            title: "Alert!",
    //            title_html: true,
    //            buttons: [
    //                {
    //                    html: "&nbsp; Okay",
    //                    "class": "btn btn-primary",
    //                    click: function () {
    //                        $(this).dialog("close");
    //                    }
    //                }
    //            ]
    //        });
    //        $("#TxtMaxMemNo").val("");
    //    }

    //})


    function SearchBasedonMember() {
        var MaxMem = $("#TxtMaxMemNo").val();

        $.get("/Notices/LegislationFixation/SearchByMaxMember", {
            MaxMemAsk: MaxMem,
            QuesType: "Starred"
        }, function (data) {
            $("#DivBindGrid").html(data)
        });
    }



</script>


