﻿@model SBL.DomainModel.Models.Diaries.DiaryModel


<style>
    .CommonWidth {
        width: 50%;
    }
</style>

<script>
    $(document).ready(function () {
        $("#DdlSessDate").prepend("<option value='0' selected='true'>Select Date</option>")

        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.get("/Notices/LegislationFixation/SearchBySessionDateForFix", {
            SDateId: 0,
            QuesType: "Unstarred"

        },
        function (data) {
            $("#DivBindGrid").html(data)
            cl.hide();
        });

    });

</script>


@if (Model.SfixCount > 0)
{
    <div class="page-header">
        <h1>Select Session date for which questions are fixed
        </h1>
    </div>

    @Html.HiddenFor(m=>m.AssemblyID)
    @Html.HiddenFor(m=>m.SessionID)
    @Html.HiddenFor(m => m.RoolId, new { @id = "hdnRoleId" })

    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-4"><b>Fixing Date</b></div>
            <div class="col-xs-3">
                @Html.DropDownListFor(m => m.SessionDateId, new SelectList(Model.SessDateList, "Id", "DisplayDate"), new { @id = "DdlSessDate", @tabindex = "1", @Class = "CommonWidth" })
            </div>
            <div class="col-xs-5">
                <b>Rotation Of Ministers :  </b><span id="SpnMinisName"></span>
            </div>
        </div>
    </div>
    <br />
    <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
    <div class="row">
          <div id="DivPdfShow" class="col-xs-12" >
        </div>
        <div id="DivBindGrid" class="col-xs-12">
        </div>
        	 <div id="DivUnBindPdf" class="col-xs-12">
        </div>
    </div>

}
else
{
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-info">
                <strong>No Fixed Question</strong><br />
            </div>
        </div>
    </div>
}

<div id="dialog1-alert" class="hide">
    <p>Please Select Valid Date !</p>
</div>

<script src="~/assets/js/jquery-ui.custom.min.js"></script>


<script>

    function FQPDF(type) {
        var SDId = $("#DdlSessDate").val();
        var Assid = $('#AssemblyID').val();
        var Sessid = $('#SessionID').val();
        var Quesid = 2;


        $.ajax({
            url: "/Notices/LegislationFixation/GetFixedQuesPDFByDateQuesSent",
            type: 'GET',
            cache: false,
            data: {
                AssemblyId: Assid,
                SessionId: Sessid,
                SDateId: SDId,
                QuesType: Quesid
            },
            success: function (response) {
                $("#DivUnBindPdf").html(response);

            }

        });
    }
    $("#DdlSessDate").change(function () {
        var RoleId = document.getElementById("hdnRoleId").value;
        var SDId = $("#DdlSessDate").val();
        if (SDId != 0) {
            var cl = new CanvasLoader('canvasloader-container1');
            cl.show();
            ///Get Data
            $.get("/Notices/LegislationFixation/SearchBySessionDateForFix", {
                SDateId: SDId,
                QuesType: "Unstarred"
            }, function (data) {
                $("#DivBindGrid").html(data)
                if (RoleId == "f601de42-22f5-4b77-92b2-cd506564da25") {
                    FQPDF('Unstarred');
                }
            });

            ///Get Rotational Minister Name

            $.get("/Notices/LegislationFixation/GetRotationalMiniterName", {
                SDateId: SDId,
            }, function (data) {
                $("#SpnMinisName").html(data)
            });

            cl.hide();
        }
        else {
            $("#dialog1-alert").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "Alert!",
                title_html: true,
                buttons: [
                    {
                        html: "&nbsp; Okay",
                        "class": "btn btn-primary",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        }
    })
</script>


