﻿@model SBL.DomainModel.Models.Diaries.DiaryModel
@{
    int count = 0;
}
<div id='fullDetailsModel' class="hide">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>

<div><a style="font-weight:900;color:red" target="_blank" href="@Url.Action("Index", "Changer", new { @area = "Notices" })">Click here to update Question Detail and Subject</a></div>


<div class="row">
    <div class="col-xs-12">

        <!-- PAGE CONTENT BEGINS -->
        <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
        <input type="hidden" id="SelectedFixNo" name="SelectedFixNo" />
        <div class="pass-table">

            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                @if (Model.DiaryList != null)
                {
                    if (Model.DiaryList.Count() > 0)
                    {
                    <div class="table-header">
                        Fixed Starred Questions List
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">

                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">#</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Diary Number: activate to sort column ascending" style="width: 14%">Diary No.</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Order: activate to sort column ascending" style="width: 15%">Question No.</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Subject: activate to sort column ascending" style="width: 20%">Subject</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Asked By: activate to sort column ascending" style="width: 15%">Asked By</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Minister: activate to sort column ascending" style="width: 20%">Minister</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Department: activate to sort column ascending" style="width: 27%">Department</th>

                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 7%">
                                    @if (Model.UserName == "f601de42-22f5-4b77-92b2-cd506564da25")
                                    {
                                        @*<input id="ChkBoxAll" type="checkbox" />*@
                                    }
                                    else
                                    {
                                        //<input type="checkbox" disabled="disabled" />
                                    }
                                </th>


                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>

                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.DiaryList)
                            {
                                count = count + 1;
                                string style = (count % 2 == 0) ? "odd" : "even";

                                var trID = item.QuestionId;
                                
                                <tr class="@style" id="@trID">

                                    <td class="">@count</td>
                                    <td class="">@item.DiaryNumber </td>

                                    <td>
                                        <div id="Div_@item.QuestionId" class="Div">@item.QuestionNumber @if (item.Flag == "RF")
                                                                                                        {
                                            <b style="margin-left: 15%" class="green">(P)</b>
                                                                                                        }
                                        </div>
                                        <input id="Txt_@item.QuestionId" type="text" class="Textbox" style="display:none;width:98%" onblur="Bindnumber(this.id)"/>
                                    </td>
                                    <td class="">@Html.Raw(item.Subject)</td>
                                    <td class="hidden-480 ">@item.AskedBy</td>
                                    <td class="">@item.MinistryName</td>
                                    <td class="">@item.DepartmentName</td>

                                    <td>
                                        @if (item.IsFinalApprove != true)
                                        {
                                            if (Model.UserName == "f601de42-22f5-4b77-92b2-cd506564da25")
                                            {
                                          //  <input id="Chk_@item.QuestionId" class="Checkbox" type="checkbox" onchange="checkChange(this.id)" />
                                            }
                                        }
                                        else
                                        {
                                            <i class="ace-icon fa fa-check bigger-110 green"></i>

                                        }
                                    </td>


                                    <td class=" ">
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a title="@Resources.PublicPasses.ActionFullDetails" onclick="FullDetailById(@item.QuestionId)" href="javascript:void(0);" class="green">
                                                <i class="ace-icon fa fa-eye bigger-130"></i>
                                            </a>



                                        </div>
                                    </td>


                                </tr>
                            }
                        </tbody>
                    </table>
                    <div id="divApprove" style="display: none; margin-top: 1%">
                        <button class="btn btn-primary" type="button" id="btnFix" title="Fix" onclick="ApproveFixation()">
                            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                            Approve Fixation
                        </button>
                    </div>
                    }
                    else
                    {
                  
                    <div class="col-xs-12">
                        <div class="alert alert-info">
                            <strong>No Fixed Question(s) Available</strong>
                            <br />
                        </div>
                    </div>
                   
                    }
                }

            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>



<div id="dialog2-alert" class="hide">
    <p>Please Select Question(s) to Approve !</p>
</div>

<div id="dialog-confirm" class="hide">
    <p>Are you sure to Approve ?</p>
</div>

<div id="Return-alert" class="hide">
    <p id="ReturnMsg"></p>
</div>

<div id="dialog3-alert" class="hide">
    <p>Please Select Question to Approve !</p>
</div>
<div id="dialog4-alert" class="hide">
    <p>Please Select Fixing Date !</p>
</div>

<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
@*<script src="~/Scripts/jquery-1.7.min.js"></script> *@
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>



<script>

    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
               { "bSortable": false },
              null, null, null, null, null, null, { "bSortable": false }, { "bSortable": false }

            ]
        });
    });



    $('#ChkBoxAll').on("click", function () {

        if ($('#ChkBoxAll').attr('checked')) {
            document.getElementById("SelectedChkbxId").value = "";
            $(".Checkbox").each(function () {
                var selectedChkbxId = document.getElementById("SelectedChkbxId").value;
                if (selectedChkbxId == "") {
                    document.getElementById("SelectedChkbxId").value = this.id.substring(4);
                } else {
                    selectedChkbxId = selectedChkbxId + "," + this.id.substring(4);
                    document.getElementById("SelectedChkbxId").value = selectedChkbxId;
                }
                $(this).prop("checked", $("#ChkBoxAll").is(":checked"));
            });
            //alert(document.getElementById("SelectedChkbxId").value);
            $("#divApprove").css("display", "block")
        }
        else {
            document.getElementById("SelectedChkbxId").value = "";
            $("#divApprove").css("display", "none")
            $(".Checkbox").each(function () {
                $(this).prop("checked", false);
            });

        }
    });

    function checkChange(id) {

        if (document.getElementById(id).checked) {

            var selectedId = document.getElementById("SelectedChkbxId").value;
            if (selectedId == "") {
                document.getElementById("SelectedChkbxId").value = id.substring(4);
            }
            else {
                selectedId = selectedId + "," + id.substring(4);
                document.getElementById("SelectedChkbxId").value = selectedId;
            }
            // alert(document.getElementById("SelectedChkbxId").value)
        }
        else {
            var selectedId = document.getElementById("SelectedChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(4), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4), "");
            }

            document.getElementById("SelectedChkbxId").value = newvalue;

            //alert(document.getElementById("SelectedChkbxId").value);
        }

        if ($(".Checkbox").not(':checked').length == 0) {
            $('#ChkBoxAll').attr('checked', true)
        }
        else {
            $('#ChkBoxAll').attr('checked', false)
        }

        if (document.getElementById("SelectedChkbxId").value == "") {
            $("#divApprove").css("display", "none")
        }
        else {
            $("#divApprove").css("display", "block")
        }
    }


    function ApproveFixation() {
        var SDId = $("#DdlSessDate").val();
        var QIds = document.getElementById("SelectedChkbxId").value
        if (SDId != 0) {

            if (QIds != "") {
                $("#dialog-confirm").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Confirm!",
                    title_html: true,
                    buttons: [
                        {
                            html: "&nbsp; Yes",
                            "class": "btn btn-primary",
                            click: function () {
                                $(this).dialog("close");
                                ApproveQuestionById(QIds);
                            }
                        }
                        ,
                        {
                            html: "&nbsp; Cancel",
                            "class": "btn btn-primary",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });
            }

            else {
                $("#dialog3-alert").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Alert!",
                    title_html: true,
                    buttons: [
                        {
                            html: "&nbsp; Okay",
                            "class": "btn btn-primary",
                            click: function () {
                                $(this).dialog("close");

                            }
                        }
                    ]
                });

            }
        }
        else {
            $("#dialog4-alert").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "Alert!",
                title_html: true,
                buttons: [
                    {
                        html: "&nbsp; Okay",
                        "class": "btn btn-primary",
                        click: function () {
                            $(this).dialog("close");

                        }
                    }
                ]
            });

        }
    }

    function ApproveQuestionById(Ids) {

        $.get("/Notices/LegislationFixation/ApproveFixingQuestion", {
            Qids: Ids,
        }, function (data) {
            $("#ReturnMsg").html(data)
            $("#Return-alert").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "Alert!",
                title_html: true,
                buttons: [
                    {
                        html: "&nbsp; Okay",
                        "class": "btn btn-primary",
                        click: function () {
                            $(this).dialog("close");

                            var url = '@Url.Action("PaperLaidSummary", "LegislationFixation", new { area = "Notices" })';
                            url = url.replace('amp;', '');
                            url = url.replace('amp;', '');
                            window.open(url, "_parent");
                        }
                    }
                ]
            });

        });
        }

        function FullDetailById(QID) {

            var pathurl = '@Url.Action("FullDetailById", "LegislationFixation")';
            $.ajax({
                type: 'GET',
                url: pathurl,
                data: {
                    Id: QID
                },
                success: function (data) {

                    $('#ShowfullDetailsModel').html("");
                    $('#ShowfullDetailsModel').html(data);

                    var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                        resizable: false,
                        modal: true,
                        title: "Full Details",
                        width: 600,
                        title_html: true,
                        buttons: [
                            {
                                text: "OK",
                                "class": "btn btn-primary btn-xs",
                                click: function () {
                                    $(this).dialog("close");
                                }
                            }
                        ]
                    });

                }
            });
        }
</script>



