﻿@model SBL.eLegistrator.HouseController.Web.Areas.Legislative.Models.CompletePaperLaidViewModel
@using SBL.DomainModel.Models.Enums


@Html.HiddenFor(m => m.PaperCategoryTypeId)
@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.IsStarredQuestion)
@Html.HiddenFor(m => m.Status)
@Html.HiddenFor(m => m.ItemType)


@if (Model.ItemType == true)
{
    if (Model.IsStarredQuestion == true)
    {
    <span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="" style="text-align: left; margin-left: 0px; margin-bottom: 2px;">@Resources.Diaries.StarredQuestion
    </span>
    }
    else
    {
    <span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="" style="text-align: left; margin-left: 0px; margin-bottom: 2px;">@Resources.Diaries.UnstarredQuestion
    </span>
    }
}
else if (Model.ItemType == false)
{
    <span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="" style="text-align: left; margin-left: 0px; margin-bottom: 2px;">@Resources.Diaries.Notices
    </span>
}
else if (Model.ItemType == null)
{
    if (Model.PaperCategoryTypeId == 5)
    {
    <span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="Bottm Info" style="text-align: left; margin-left: 0px; margin-bottom: 2px;">@Resources.Legislative.OtherPapers
    </span>
    }

    else if (Model.PaperCategoryTypeId == 2)
    {
    <span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="Bottm Info" style="text-align: left; margin-left: 0px; margin-bottom: 2px;">@Resources.Legislative.Bills
    </span>
    }
    else if (Model.PaperCategoryTypeId == 3)
    {
    <span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="Bottm Info" style="text-align: left; margin-left: 0px; margin-bottom: 2px;">@Resources.Legislative.Committees
    </span>
    }
@*<span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="Bottm Info" style="text-align: left; margin-left: 0px; margin-bottom: 2px;">@Resources.Legislative.OtherPapers
    </span>*@
}

<input type="hidden" id="SelectedIds" name="SelectedIds" />
<input type="hidden" id="SelectedPriNo" name="SelectedPriNo" />


@{    
    var grid = new Lib.Web.Mvc.JQuery.JqGrid.JqGridHelper<SBL.eLegistrator.HouseController.Web.Areas.Legislative.Models.CompletePaperLaidViewModel>("CommonGrid",
                            dataType: Lib.Web.Mvc.JQuery.JqGrid.JqGridDataTypes.Json,
                            footerEnabled: false,
                            methodType: Lib.Web.Mvc.JQuery.JqGrid.JqGridMethodTypes.Post,
                            pager: true,
                            rowsList: new List<int> { 10, 20, 30, 40, 50 },
                            rowsNumber: 10,
                            onSelectRow: "onSelectRowHandler",
                            sortingName: "ItemId",
                            sortingOrder: Lib.Web.Mvc.JQuery.JqGrid.JqGridSortingOrders.Asc,
                            url: Url.Action("GetCompletePaperLaidInformation"),
                            userDataOnFooter: false,
                            viewRecords: true,
                            autoWidth: true,
                            emptyRecords: "No records to view",
                            loadComplete: "RemoveAttr",
                            postDataScript: "{ PaperCategoryTypeId: $('#PaperCategoryTypeId').val(),Id: $('#Id').val(),IsStarredQuestion: $('#IsStarredQuestion').val(),Status: $('#Status').val(),ItemType: $('#ItemType').val()}"

                        );
}
@grid.GetHtml()

<br />
<div>
    <button class="btn btn-primary" type="button" id="btnSavePri" title="Save" style="display: none" tabindex="1" onclick="SavePriority()">
        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
        Save Priority
    </button>
</div>


<style>
    .ui-th-column {
        vertical-align: top;
    }
</style>


<script>
    var keepSessionAlive = false;
    jQuery(document).ready(function () {
      
        @grid.GetJavaScript()

        var papercategory = $('#PaperCategoryTypeId').val();
        if (papercategory == 5 || papercategory == 3 || papercategory == 2 || papercategory == 4) {

            $("#CommonGrid").hideCol("CommonNumberForAll");
            $("#CommonGrid").showCol("PaperlaidPriority");
            //$("#CommonGrid").hideCol("Priority");
            $("#CommonGrid").hideCol("QuesStage");
            $("#CommonGrid").hideCol("QuesStatus");


        }
        else {
            $("#CommonGrid").showCol("CommonNumberForAll");
            $("#CommonGrid").hideCol("PaperlaidPriority");
            //$("#CommonGrid").showCol("Priority");
            $("#CommonGrid").showCol("QuesStage");
        }

        if (papercategory == 4) {
            $("#CommonGrid").showCol("RuleNo");
            $("#CommonGrid").showCol("CommonNumberForAll");
        }


        jQuery("#CommonGrid").jqGrid('setLabel', 'CommonNumberForAll', '@Resources.Diaries.DiaryNumber')
        jQuery("#CommonGrid").jqGrid('setLabel', 'Subject', '@Resources.Diaries.Subject')
        jQuery("#CommonGrid").jqGrid('setLabel', 'AskedBy', '@Resources.Diaries.AskedBy')
        jQuery("#CommonGrid").jqGrid('setLabel', 'MinistryName', '@Resources.Diaries.Ministry')
        jQuery("#CommonGrid").jqGrid('setLabel', 'DepartmentName', '@Resources.Diaries.Department')
        jQuery("#CommonGrid").jqGrid('setLabel', 'QuesStatus', '@Resources.Diaries.Status')
        jQuery("#CommonGrid").jqGrid('setLabel', 'QuesStage', '@Resources.Diaries.Stage')
        jQuery("#CommonGrid").jqGrid('setLabel', 'PaperlaidPriority', '@Resources.Diaries.Priority')


    });

    $.paperSentFormatter = function (cellvalue, options, rowObject) {
        alert("cellvalue : " + cellvalue);
        return "sdfsdfsd";
    };

    jQuery(".jqgrow td input", "#GetCompletePaperLaidInformation").each(function () {
        jQuery(this).unbind('click');
        jQuery(this).click(function () {
            alert("sss");
        });
    });

    function ViewPaperLaidDetails(obj) {
        $("#RightSidebar").html('')
        var targetDiv = document.getElementById('RightSidebar');
        var cl = new CanvasLoader('canvasloader-container2');
        cl.show();
        var id = $(obj).attr('ItemID');
        var ItemType = '@Model.ItemType';

        $.ajaxSetup({ cache: false });
        $.ajax({
            url: '/Notices/LegislationFixation/PaperDetailWithAction',
            type: 'GET',
            data: { ItemId: id, ItemType: ItemType },
            success: function (response) {


                if (response) {
                    $("#RightSidebar").html(response);
                    cl.hide();


                } else { alert("error"); }

            }
        });

    }

    function onSelectRowHandler(rowId) {
        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();

        var rowData = $(this).jqGrid("getRowData", rowId);

        //Get ID and Itemtype for the Record.
        var id = rowData.ItemId != "" ? rowData.ItemId : 0;
        var ItemType = rowData.IsPaperLaid;
        $.ajax({
            url: '/Notices/LegislationFixation/PaperDetailWithAction',
            type: 'GET',
            data: { ItemId: id, ItemType: ItemType },
            cache: false,
            success: function (response) {
                if (response) {
                    $("#RightSidebar").html(response);
                    cl2.hide();

                } else { alert("error"); }

            },

            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }

   

    function RemoveAttr() {
        $('[role="gridcell"]').removeAttr("title");
        $('[Class="ui-jqgrid-resize ui-jqgrid-resize-ltr"]').hide()
    }


 
</script>
