﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV


@*<div class="modal-header" style="background-color: white; position: relative;">
    <div style="color: #1b86bc; font-weight: bold;">Paper Laid Details</div>

    <div class="row-fluid">
        <div style="font-weight: bold; font-size: 14px; width: 450px;">
        </div>

    </div>
</div>*@


<div class="widget-header widget-header-flat">
    <h4 class="widget-title">Paper Laid Details</h4>
</div>

@*<div class="modal-body" role="dialog" tabindex="-1" aria-labelledby="SchemeLocation">

    <div id="SchemeLocation">
               
    </div>
</div>*@

@if (Model != null)
        {
           
           
            <div class="widget-body">

                <div class="widget-main no-padding-right no-padding-left">
                    <div class="profile-user-info profile-user-info-striped">
                        <div class="profile-info-row">
                        </div>


                        @*<div class="profile-info-row">
                            <div class="profile-info-name">@Resources.Diaries.DiaryNumber </div>

                            <div class="profile-info-value">
                                <span id="username" class="">@Model.DiaryNumber</span>
                            </div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name">@Resources.Diaries.QuestionNumber </div>

                            <div class="profile-info-value">
                                <span>@Model.QuestionNumber</span>
                            </div>
                        </div>*@

                        <div class="profile-info-row">
                            <div class="profile-info-name">@Resources.Diaries.Ministry</div>

                            <div class="profile-info-value">
                                <span>@Model.MinistryName</span>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name">@Resources.Diaries.Department</div>

                            <div class="profile-info-value">
                                <span>@Model.DeparmentName</span>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name">@Resources.Diaries.Subject</div>

                            <div class="profile-info-value">
                                <span>@Html.Raw(Model.Title)</span>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name">@Resources.Diaries.Description</div>

                            <div class="profile-info-value">
                                <span>@Html.Raw(Model.Description)</span>
                            </div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name">@Resources.Diaries.Remark</div>

                            <div class="profile-info-value">
                                <span>@Html.Raw(Model.Remark)</span>
                            </div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name">@Resources.PaperLaidDepartment.PaperToBeLaid</div>

                            <div class="profile-info-value">
                                @if (Model.PaperLaidId != null)
                                {

                                    string[] pathVer = Model.PaperLaidId.GetFileNamePath1().Split(',');
                                    if (pathVer[0] != "")
                                    {
										<a href="/SecuredFiles/@Model.PaperLaidId,SignedP" target="_blank">@Resources.PaperLaidDepartment.SignedPaperVer @Model.FileVersion</a>  
                                    @*<a href="@pathVer[0]" target="_blank" >@Resources.PaperLaidDepartment.SignedPaperVer @pathVer[1] </a>*@
                                    }
                                }
                            </div>
                        </div>
                      @*  <div class="profile-info-row">
                            <div class="profile-info-name">@Resources.Diaries.MinisterSubmittedDate</div>

                            <div class="profile-info-value">
                                @if (Model.PaperLaidId != null)
                                {
                                    <span>@Convert.ToDateTime(Model.PaperLaidId.GetMinisterSubmittedDate()).ToString("dd/MM/yyyy")</span>
                                
                                }
                            </div>
                        </div>*@

                        @*                        <div class="profile-info-row">
                            <div class="profile-info-name">@Resources.Diaries.Priority</div>

                            <div class="profile-info-value">
                                <span>
                                    <input class="readout" type="number" id="txtPriority" value="@Model.PaperlaidPriority" max="100" min="0" style="width:100px" onkeypress="return isNumber(event)" />
                                </span>
                            </div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name"></div>

                            <div class="profile-info-value">
                                <span>
                                    <input type="button" id="UpdatePriority" value="Update Priority" style="margin-top: 5px; margin-bottom: 15px;" onclick="UpdatePriority();" />
                                </span>
                            </div>
                        </div>*@

                    </div>
                </div>
            </div>
            
            
                                              
        }
<script>

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        if (charCode.keyCode >= 37 && charCode.keyCode <= 40) {
            return true; // arrow keys
        }
        if (charCode.keyCode === 8 || charCode.keyCode === 46) {
            return true; // backspace (8) / delete (46)
        }
        return true;
    }

    function UpdatePrioritySuccess() {
        alert('Priority Updated Successfully');

    }

    function UpdatePriority() {
        var PaperLaidId = '@Model.PaperLaidId';
        var PriorityType = 'PaperLaid';
        var priority = $("#txtPriority").val();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Notices/LegislationFixation/UpdatePriority",
            type: 'POST',
            data: { PaperlaidId: PaperLaidId, Prioritytype: PriorityType, Priority: priority },
            success: function (data) {
                alert('Priority Updated Successfully');


            }
        });


    }
</script>
