﻿@model SBL.DomainModel.Models.Diaries.DiaryModel


<style>
    .CommonWidth {
        width: 50%;
    }
</style>




<script>
    $(document).ready(function () {
        $("#DdlPPSessDate").append("<option value='0' selected='true'>Select Date</option>")
        $("#DdlFSessDate").append("<option value='0' selected='true'>Select Date</option>")
        $("#DdlPPSession").find("otion[value='" + '@Model.SessionID' + "']").attr("selected", true)

        @* ///Get Data
        $.get("/Notices/LegislationFixation/SearchPostPoneBySessionDateForFix", {
            AssemblyId: '@Model.AssemblyID',
            SessionId: '@Model.SessionID',
            SDateId: 0,
            QuesType: '@Model.QuestionTypeId'
        }, function (data) {
            $("#DivBindGrid").html(data)
        });*@
    });

</script>




<div class="page-header">
    <h1>Select Postponed Session And Session Date To See PostPoned Questions and Re-Fix
    </h1>
</div>



<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-3"><b>Postponed Session</b></div>
        <div class="col-xs-3">
            @Html.DropDownListFor(m => m.SessionID, new SelectList(Model.SessList, "SessionCode", "SessionName"), new { @id = "DdlPPSession", @tabindex = "1", @Class = "CommonWidth" })
        </div>
        <div class="col-xs-3"><b>Postponed Session Date</b></div>
        <div class="col-xs-3">
            @Html.DropDownListFor(m => m.SessionDateId, new SelectList(Model.SessDateList, "Id", "DisplayDate"), new { @id = "DdlPPSessDate", @tabindex = "2", @Class = "CommonWidth" })
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-3"><b>Fixing Date in Current Session</b></div>
        <div class="col-xs-3">
            @Html.DropDownListFor(m => m.SessionDateId, new SelectList(Model.SessDateList, "Id", "DisplayDate"), new { @id = "DdlFSessDate", @tabindex = "2", @Class = "CommonWidth" })
        </div>
        <div class="col-xs-6">
            <b>Rotation Of Ministers :  </b><span id="SpnMinisName"></span>
        </div>
    </div>
</div>
<br />
<br />
<br />
<div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
<div class="row">
    <div id="DivBindGrid" class="col-xs-12">
    </div>
</div>




<div id="dialog-confirm" class="hide">
    <p></p>
</div>
<div id="dialog-alert" class="hide">
    <p>Previous Session's Question can't be ask in Current Session !</p>
</div>
<div id="dialog1-alert" class="hide">
    <p>Please Select Valid Date !</p>
</div>

<script src="~/assets/js/jquery-ui.custom.min.js"></script>


<script>
    $("#DdlPPSession").change(function () {
        var CurrentSess = '@Model.SessionID'
        var SessId = $("#DdlPPSession").val()
        var SDId = $("#DdlPPSessDate").val();
        // Check previous Session  
        if (CurrentSess != (SessId - 1)) {

            ///Get Data
            $.get("/Notices/LegislationFixation/SearchPostPoneBySessionDateForFix", {
                AssemblyId: '@Model.AssemblyID',
                SessionId: SessId,
                SDateId: SDId,
                QuesType: '@Model.QuestionTypeId'
            }, function (data) {
                $("#DivBindGrid").html(data)
            });
            ///Get Sessiondate
            $.get("/Notices/LegislationFixation/GetSessionDateBySId", {
                AssemblyId: '@Model.AssemblyID',
                SessionId: SessId,
            }, function (data) {
                $("#DdlPPSessDate").empty();
                $("#DdlPPSessDate").append("<option value='0' selected='true'>Select Date</option>")
                $.each(data, function (index, optiondata) {
                    $("#DdlPPSessDate").append("<option value='" + optiondata.Id + "'>" + optiondata.DisplayDate + "</option>");
                });
            });


        }
        else {
            $("#dialog-alert").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "Alert!",
                title_html: true,
                buttons: [
                    {
                        html: "&nbsp; Okay",
                        "class": "btn btn-primary",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        }


    })


    $("#DdlPPSessDate").change(function () {


        var SessId = $("#DdlPPSession").val()
        var SDId = $("#DdlPPSessDate").val();

        if (SDId != 0) {
            var cl = new CanvasLoader('canvasloader-container1');
            cl.show();
            ///Get Data
            $.get("/Notices/LegislationFixation/SearchPostPoneBySessionDateForFix", {
                AssemblyId: '@Model.AssemblyID',
                SessionId: SessId,
                SDateId: SDId,
                QuesType: '@Model.QuestionTypeId'
            }, function (data) {
                $("#DivBindGrid").html(data)
            });

            cl.hide();
        }
        else {
            $("#dialog1-alert").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "Alert!",
                title_html: true,
                buttons: [
                    {
                        html: "&nbsp; Okay",
                        "class": "btn btn-primary",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        }

    })
    $("#DdlFSessDate").change(function () {
        var SDId = $("#DdlFSessDate").val();

        if (SDId != 0) {
            var cl = new CanvasLoader('canvasloader-container1');
            cl.show();
            ///Get Rotational Minister Name
            $.get("/Notices/LegislationFixation/GetRotationalMiniterName", {
                SDateId: SDId,
            }, function (data) {
                $("#SpnMinisName").html(data)
            });

            cl.hide();
        }
        else {
            $("#dialog1-alert").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "Alert!",
                title_html: true,
                buttons: [
                    {
                        html: "&nbsp; Okay",
                        "class": "btn btn-primary",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        }

    })



</script>


