﻿@model SBL.DomainModel.Models.Diaries.DiaryModel


<style>
    .CommonWidth {
        width: 50%;
    }
</style>




<script>
    $(document).ready(function () {
        $("#DdlSessDate").append("<option value='0' selected='true'>Select Date</option>")
    });



</script>




<div class="page-header">
    <h1>Select Fixing Date To Postpone Question(s) of that Day 
    </h1>
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-3"><b>Fixing Date</b></div>
        <div class="col-xs-3">
            @Html.DropDownListFor(m => m.SessionDateId, new SelectList(Model.SessDateList, "Id", "DisplayDate"), new { @id = "DdlSessDate", @tabindex = "1", @Class = "CommonWidth" })
        </div>
        <div class="col-xs-5">
            <b>Rotation Of Ministers :  </b><span id="SpnMinisName"></span>
        </div>
    </div>

</div>
<br />
<br />
<div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
<div class="row">
    <div id="DivBindGrid" class="col-xs-12">
    </div>
</div>




<div id="dialog-confirm" class="hide">
    <p></p>
</div>
<div id="dialog-alert" class="hide">
    <p>Please Select Valid Date !</p>
</div>

<script src="~/assets/js/jquery-ui.custom.min.js"></script>


<script>
    $("#DdlSessDate").change(function () {
        var SDId = $("#DdlSessDate").val();
        if (SDId != 0) {
            var cl = new CanvasLoader('canvasloader-container1');
            cl.show();
            ///Get Data
            $.get("/Notices/LegislationFixation/GetQuestionForPostpone", {
                AssemblyId: '@Model.AssemblyID',
                SessionId: '@Model.SessionID',
                SDateId: SDId,
                QuesType: '@Model.QuestionTypeId'
            }, function (data) {
                $("#DivBindGrid").html(data)
            });

            ///Get Rotational Minister Name

            $.get("/Notices/LegislationFixation/GetRotationalMiniterName", {
                SDateId: SDId,
            }, function (data) {
                $("#SpnMinisName").html(data)
            });

            cl.hide();
        }

        else {
            $("#dialog-alert").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "Alert!",
                title_html: true,
                buttons: [
                    {
                        html: "&nbsp; Okay",
                        "class": "btn btn-primary",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        }

    })


</script>


