﻿@model SBL.DomainModel.Models.Question.tQuestion
@{
    int count = 0;
}


<div class="row">
    <div class="col-xs-12">

        <!-- PAGE CONTENT BEGINS -->
        <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
        <div class="pass-table">

            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                @if (Model.QuestionListForTrasData != null)
                {
                    if (Model.QuestionListForTrasData.Count() > 0)
                    {
                    <div class="table-header">
                        Starred Questions (Change Question Type to Unstarred)
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">

                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 3%">#</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Diary Number: activate to sort column ascending" style="width: 14%">Diary No.</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Subject: activate to sort column ascending" style="width: 20%">Subject</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Asked By: activate to sort column ascending" style="width: 15%">Asked By</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Asked By: activate to sort column ascending" style="width: 15%">Received Date</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Asked By: activate to sort column ascending" style="width: 4%"></th>
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.QuestionListForTrasData)
                            {
                                count = count + 1;
                                string style = (count % 2 == 0) ? "odd" : "even";

                                var trID = item.QuestionID;
                                
                                <tr class="@style" id="@trID">

                                    <td class="">@count</td>
                                    <td class="">@item.DiaryNumber </td>
                                    <td class="">@Html.Raw(item.Subject)</td>
                                    <td class="hidden-480 ">@item.MemberID.GetMemberNameByID()</td>
                                    <td class="hidden-480 ">
                                        @if (item.NoticeRecievedDate != null)
                                        {
                                            @Convert.ToDateTime(item.NoticeRecievedDate).ToString("dd/MM/yyyy ")@Convert.ToDateTime(item.NoticeRecievedTime.ToString()).ToString("hh:mm tt")
                                        }

                                    </td>
                                    @*<td class="hidden-480 "><a href="#" onclick="MoveToUnstarred(@item.QuestionID)">Unstarred</a></td>*@
                                    <td>
                                        <input id="Chk_@item.QuestionID" class="Checkbox" type="checkbox" onchange="checkChange1(this.id)" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div id="divMoveUnstarred" style="display: none; margin-top: 1%">
                        <button class="btn btn-primary" type="button" id="btnChange" title="Change To Unstarred" onclick="MoveToUnstarred()">
                            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                            Change To Unstarred
                        </button>
                    </div>
                    }
                    else
                    {
                  
                    <div class="col-xs-12">
                        <div class="alert alert-info">
                            <strong>No Question(s) Available</strong>
                            <br />
                        </div>
                    </div>
                   
                    }
                }

            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>




<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
@*<script src="~/Scripts/jquery-1.7.min.js"></script> *@
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>



<script>
    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
               { "bSortable": false },
              null, null, null, null, { "bSortable": false }

            ]
        });
    });

    function checkChange1(id) {
        if (document.getElementById(id).checked) {
            var selectedId = document.getElementById("SelectedChkbxId").value;
            if (selectedId == "") {
                document.getElementById("SelectedChkbxId").value = id.substring(4);
            }
            else {
                selectedId = selectedId + "," + id.substring(4);
                document.getElementById("SelectedChkbxId").value = selectedId;
            }

            //alert(document.getElementById("SelectedChkbxId").value)
        }
        else {
            var selectedId = document.getElementById("SelectedChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(4), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4), "");
            }

            document.getElementById("SelectedChkbxId").value = newvalue;

            //alert(document.getElementById("SelectedChkbxId").value);
        }

        if (document.getElementById("SelectedChkbxId").value == "") {
            $("#divMoveUnstarred").css("display", "none")

        }
        else {
            $("#divMoveUnstarred").css("display", "block")

        }
    }



</script>



