﻿@model SBL.DomainModel.Models.Committee.PaperMovementContainerModel



@if (Model != null)
{
  
    
    <div class="widget-header widget-header-flat">
        <h4 class="widget-title">@Resources.Committee.CommitteeDetails
        </h4>

    </div>
      
    <div class="widget-body">
        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Committee.CommitteeName</div>

                    <div class="profile-info-value">
                        <span id="username" class="">@Model.CommitteeName (@Model.ChairPersonName)</span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Committee.Minister</div>

                    <div class="profile-info-value">
                        <span class="">@Model.MinisterName</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Committee.Department</div>

                    <div class="profile-info-value">
                        <span class="">@Model.DepartmentName</span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Committee.DesireDatetoLaid</div>

                    <div class="profile-info-value">
                        <span class="">@Convert.ToDateTime(Model.DesireLayDate).ToString("dd/MM/yy")</span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Committee.PaperType</div>

                    <div class="profile-info-value">
                        <span class="">
                            @Model.DoctName</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Committee.PapertobeLaid</div>

                    <div class="profile-info-value">
                        <span class="">
                            <a href="@Model.FilePath@Model.FileName" target="_blank">@Resources.PaperLaidDepartment.PaperVer @Model.version</a></span>
                    </div>
                </div>
                
                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Committee.Title</div>

                    <div class="profile-info-value">
                        <span class="">
                            @Html.Raw(Model.Title)</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Committee.Description</div>

                    <div class="profile-info-value">
                        <span class="">
                            @Html.Raw(Model.Description)</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Committee.ProvisionUnderWhich</div>

                    <div class="profile-info-value">
                        <span class="">
                            @Html.Raw(Model.ProUnder)</span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Committee.Remark</div>

                    <div class="profile-info-value">
                        <span class="">
                            @Html.Raw(Model.Remark)</span>
                    </div>
                </div>
                @if (Model.SubmittedDate != null)
                { <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Committee.Status</div>

                    <div class="profile-info-value">
                        <span class="" style="color: green; font-weight: bold">Submitted</span>
                    </div>
                </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.Committee.SubmitDate</div>

                        <div class="profile-info-value">
                            <span class="" style="color: green; font-weight: bold">@Convert.ToDateTime(Model.SubmittedDate).ToString("dd/MM/yy hh:mm")</span>
                        </div>
                    </div>
                }
                else if (Model.SubmittedDate == null)
                { <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Committee.Status</div>

                    <div class="profile-info-value">
                        <span class="" style="color: green; font-weight: bold">Not Submitted</span>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>
    
        
@*<div id="E_@Model.paperLaidId" style="text-decoration:underline;color:#2832f6;cursor:pointer" onclick="FileUpload(this.id)">Click to upload new file</div>*@
    
    
 

}


<script>

    function ViewDetailsForReplacePaper(PaperLaidId) {
        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();
        var value = PaperLaidId;
        $.ajax({
            url: "/CommitteePaperLaid/CommitteePaper/ViewDetailsForReplacePaper",
            type: 'GET',
            data: {
                Id: value
            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data);
                    cl2.hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

    function Edit(id) {
        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();
        $.ajax({
            url: '/CommitteePaperLaid/CommitteePaper/EditPending',
            type: 'GET',
            data: { Id: id },
            cache: false,
            success: function (response) {
                if (response) {
                    $("#RightSidebar").html(response);
                    cl2.hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }



</script>


