﻿<div id="MainDivData">
    <div class="row">
        <div class="alert alert-block alert-success" id="SuccessDiv" style="display: none;">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            <p>
                <strong>
                    <i class="ace-icon fa fa-check"></i>
                </strong>
            </p>
        </div>

        <div id="outerDiv">
        </div>

        <div class="two-column" id="MainDiveThreeTire">
            <div id="resize-left" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 20px;">
                  <div id="divLeftContainer" style="position: absolute; top: 0; height: 20px; width: 100%; display: block;">
                        <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                        <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                            <i onclick="resizeClick(1)" class="ace-icon fa fa-angle-double-left roundicon"></i>
                        </div>
                    </div>
                <div class="col-xs-12">
                    <div id="divDataContainer" style="width: 100%;">
                    </div>
                </div>
            </div>
            <div id="resize-right" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 21px;">
                <div id="divRightContainer" style="position: absolute; top: 0; height: 21px; width: 100%; display: block;">
                        <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                        <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                            <i data-icon2="ace-icon fa fa-angle-double-right" onclick="resizeClick(0)" data-icon1="ace-icon fa fa-angle-double-left" class="ace-icon fa fa-angle-double-right roundicon"></i>
                        </div>
                    </div>
                <div class="col-xs-12">
                    <div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>
                    <div id="RightSidebar" style="width: 100%;">
                    </div>
                    <div id="FormPart" style="width: 100%; height: 100%">
                    </div>
                </div>
            </div>
        </div>

        <div id="MainDiveTwoTire" style="display: none">
            <div class="col-xs-12">
                <div id="canvasloader-container3" class="canvasloader" style="text-align: center"></div>
                <div id="divDataContainerTwoTire" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#sizeDown").click(function () {
        if ($("body").hasClass('sizeLarge')) {
            $("body").css("font-size", "13px");
            $("body").removeClass('sizeLarge');
        } else {
            $("body").css("font-size", "10px");
            $("body").addClass('sizeSmall');
        }
    });

    $("#sizeUp").click(function () {
        if ($("body").hasClass('sizeSmall')) {
            $("body").css("font-size", "13px");
            $("body").removeClass('sizeSmall');
        } else {
            $("body").css("font-size", "18px");
            $("body").addClass('sizeLarge');
        }
    });

    $('#sidebar-collapse').on('click', function () {
        var parentWidth = $('#resize-left').parent().width();
        if ($('#sidebar').hasClass('menu-min')) {
            parentWidth = parentWidth - 130;
        } else { parentWidth = parentWidth + 110; }

        var remainingSpace = parentWidth - $('#resize-left').outerWidth();
        var divTwo = $('#resize-left').next();
        var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
        divTwo.css('width', divTwoWidth + 'px');

        //alert("ds");
        setTimeout(function () {
            $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
        }, 50);
    });
    $("#resize-left").resizable({
        handles: 'e',
        minWidth: '400',
        maxWidth: '850',
        /*    grid: [ 20, 10 ], */
        resize: function () {
            var remainingSpace = $(this).parent().width() - $(this).outerWidth();
            var divTwo = $(this).next();
            var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
            divTwo.css('width', (divTwoWidth - 20) + 'px');

            $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
        }

    });
</script>