﻿@model SBL.eLegistrator.HouseController.Web.Areas.Constituency.Models.PMISReport
@*<div class="slider3">
	@if (Model.List1.Count > 0)
	{
	<div class="slide" id="List1">@Html.Partial("_list1" ,Model.List1)</div>
	}
	 @if (Model.List2.Count > 0)
	{
	<div class="slide" id="List2"> @Html.Partial("_list2" ,Model.List2)</div>
	 }
	 @if (Model.List3.Count > 0)
	{
	<div class="slide" id="List3">@Html.Partial("_list3" ,Model.List3)</div>
	 }
	 @if (Model.List4.Count > 0)
	{
	<div class="slide" id="List4" >@Html.Partial("_list4" ,Model.List4)</div>
	 }
</div>*@
<div class="row col-xs-12 col-sm-12">
	<div class="table-header">
	<ul class="breadcrumb white" id="NavigationHeader">
						<li>
							<i class="ace-icon fa fa-home home-icon white"></i>
							<span class="white">All Department List</span>
						</li>
						@*<li>
							<a href="#"  class="white">Forms</a>
						</li>
						<li class="active white">Form Elements</li>*@
					</ul>
									</div>
</div>
<div class="row">
	<div class="col-xs-6 col-sm-6" id="DivList1">
		<div class="slide" id="List1"></div>
	</div>
	<div class="col-xs-6 col-sm-6 " id="DivList2">
		<div class="slide" id="List2"></div>
	</div>
	<div class="col-xs-6 col-sm-6" id="DivList3">
		<div class="slide" id="List3"></div>
	</div>
	<div class="col-xs-6 col-sm-6" id="DivList4">
		<div class="slide" id="List4"></div>
	</div>
</div>
@*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>*@

@*<link href="~/Scripts/bx%20slider/jquery.bxslider.css" rel="stylesheet" />
<script src="~/Scripts/bx%20slider/jquery.bxslider.min.js"></script>*@
@*<script>
	slider = $('.slider3').bxSlider({
		slideWidth: 5000,
		minSlides: 2,
		maxSlides: 2,
		slideMargin: 5,
		infiniteLoop: false,
		adaptiveHeight: false,
		pager: false,
		hideControlOnEnd: true,
		controls: false,
	});
</script>*@