﻿@model SBL.DomainModel.Models.Diaries.MlaDiary
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
<script src="~/Scripts/jquery.alerts.js"></script>
@*<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.timepicker1.js"></script>*@


<style>
.loader{
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 5s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-left:520px;
}
.profile-user-info .form-group select {width: 100%; max-width: 100%; display: inline-block;}
.profile-user-info .form-group label {display: inline-block; margin-top: 0px;}

.profile-user-info .form-group {margin-bottom:5px; margin-top:10px}
/* Safari */
@@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
   </style>



<style>
    .DdlClass
    {
        width: 100%;
    }
</style>

@*<div class="widget-box sblFullScreen">*@
@* <div class="widget-header widget-header-flat">
        <h4 class="widget-title">@Resources.Member.Search</h4>
    </div>*@
@*  <div class="widget-body">
        <div class="widget-main no-padding-right no-padding-left">*@

<div class="profile-user-info profile-user-info-striped">
<div class="form-row">
    <div class="form-group col-xs-12 col-sm-4"> 
        <label>From :</label>

        <label>Councillor</label>
        @Html.DropDownListFor(m => m.MemberCode, new SelectList(Model.MappedMemberList, "MemberCode", "MappedMemberName"),"Select",new { @id = "DdlMembeName", @tabindex = "2", })
     
    </div>
    <div class="form-group col-xs-12 col-sm-4"> 
        <label>To:</label>
           <label>Department</label>
           @Html.DropDownListFor(m => m.DeptId, new SelectList(Model.DepartmentList, "DeptId", "DeptName"),new { @id = "DdlDepartmentName", @tabindex = "2", })
    
    </div>
    <div class="form-group col-xs-12 col-sm-4"> 
        <label>Office</label>
        @Html.DropDownListFor(m => m.OfficeId, new SelectList(Model.OfficeSubList, "OfficeId", "officename"), new { @id = "DdlSuboffice", @tabindex = "2", })
    
    </div>
</div>

<div class="form-row">
    <div class="form-group col-xs-12 col-sm-4"> 
        <label>Doc Type</label>
         @Html.DropDownListFor(m => m.DocmentType, new SelectList(Model.DocumentTypelist, "DocmentType", "DocmentTypeName"), new { @id = "DdlDocType", @tabindex = "1",  })
   
    </div>
    <div class="form-group col-xs-12 col-sm-4"> 
        <label>Action Type</label>
         @Html.DropDownListFor(m => m.ActionCode, new SelectList(Model.ActionTypeList, "ActionCode", "ActionName"), new { @id = "DdlActionType", @tabindex = "2",  })
     </div>
    <div class="form-group col-xs-12 col-sm-4"> 
        <label>Since</label>
        
            @Html.DropDownList("DDPendency", new List<SelectListItem>{
        
            new SelectListItem{Text="Select",Value="0"},new SelectListItem{Text="7 Days",Value="7"},new SelectListItem{Text="15 Days",Value="15"},new SelectListItem{Text="30 Days",Value="30"},new SelectListItem{Text="60 Days",Value="60"},new SelectListItem{Text="90 Days",Value="90"},new SelectListItem{Text="365 Days",Value="365"}
             }, new { @style = "" })
        
    </div>
</div>

<div class="form-row">
    <div class="form-group col-xs-12 col-sm-4"> 
        
        <button type="button" id="submitButton" class="btn btn-primary" title="Search" onclick="SearchDataByType('@Model.PaperEntryType')">
        <i class="ace-icon fa fa-search bigger-120"></i>Search
        </button>
   
    </div>
    <div id="search"></div>
</div>
  
  

    </div>

<script>
    $(document).ready(function () {

        var Atype = '@Model.ActionCode';
        $("#DdlActionType").html("");
        $("#DdlActionType").append("<option value='0'>Pending</option>")
        $("#DdlActionType").append("<option value='-1'>In-Progress</option>")
        $("#DdlActionType").append("<option value='1'>Disposed</option>")
        //$("#DdlActionType").append("<option value='3'>Pending At Diary</option>")
        if (Atype != null || Atype != "") {
            //$("#DdlActionType").prepend("<option value='0' selected='true'>Select</option>")

            $("#DdlActionType").val(Atype);


        }
        else {
            // $("#DdlActionType").prepend("<option value='0' selected='true'>Select</option>")
        }
        var val = '@Model.DocmentType';
        if (val == 3) {
            $("#divfin").show();
        }
        else {
            $("#divfin").hide();
        }
        var PendencySince = '@Model.PendencySince';
        if (PendencySince != null || PendencySince != "") {
            $("#DDPendency").val(PendencySince);
        }

    });
    function SearchDataByType(type) {
       // $('#MainDiv').empty();
        jQuery("#search").append('<div class="loader"></div>');
        //$('#divLeftContainer').show();
        //$('#divRightContainer').show();
       // $("#loader-wrapper").show();
        var actioncode = $("#DdlActionType").val();
        var ddFinancialYear = $("#ddFinancialYear").val(); 
        var office = $("#DdlSuboffice").val();

        if (actioncode == "") {
            actioncode = 0;
        }
    
        $.ajax({
            url: "/Grievances/Grievances/SearchMLADiary_DataByTypeForCon",
            type: 'GET',
            data: {
                PaperType: type,
                ActionType: actioncode,
                DocType: $("#DdlDocType").val(),
                MemberCode: $("#DdlMembeName").val(),
                PendencySince: $("#DDPendency").val(),
                FinancialYear: ddFinancialYear,
                OfficeId:office
            },
            success: function (data) {
                if (data) {
                  //  $("#loader-wrapper").hide();
                    //$("#divbindList").html(data)
                    $('#MainDiv').empty();
                    $('#MainDiv').html(data);
                    $("#MainDiv").css("display", "block");
                    //jQuery("#preloader").remove();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
        $("#loader-wrapper").hide();
    }

    $("#DdlDocType").change(function () {

        var val = $("#DdlDocType").val();
        if (val == 3) {
            $("#divfin").show();
        }
        else {
            $("#divfin").hide();
        }
    })

</script>


