﻿@model SBL.DomainModel.ComplexModel.pensionerDetailsviewModel
<link rel="stylesheet" href="~/assets/css/datepicker.css" />
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>

<style>
	.input-daterange {
		z-index: 100000 !important;
	}
</style>
<style>
	.TextBoxAsLabel {
		border: none !important;
		background-color: #fff !important;
		background: transparent !important;
		width: 100px;
		height: 30px;
	}
	
	.polaroid {
		position: relative;
		width: 180px;
	}

		.polaroid img {
			border: 10px solid #fff;
			border-bottom: 45px solid #fff;
			-webkit-box-shadow: 3px 3px 3px #777;
			-moz-box-shadow: 3px 3px 3px #777;
			box-shadow: 3px 3px 3px #777;
		}

		.polaroid p {
			position: absolute;
			text-align: center;
			width: 100%;
			bottom: 0px;
			font: 400 18px/1 'Kaushan Script', cursive;
			color: #f89406;
		}

	.hspan {
		font-size: 22px;
		color: #f89406;
		border-bottom-color: #fdd0ac;
		font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
		font-weight: lighter;
	}
</style>

<div class="row">
	<input name="Mode" type="hidden" value="@Model.Mode" />
	<div class="col-xs-12 col-sm-5 ">
		<div class="polaroid">
			@{
				string Id = (Model.photoCode.ToString().Length == 1) ? ("0" + Model.photoCode.ToString()) : Model.photoCode.ToString();
				string Image = "/Images/Assembly/12/thumb/" + Id + ".jpg";
			}
			<img src="@Image" width="180" />
			<p>@Html.HiddenFor(a => a.PensionerName) @Model.PensionerName </p>
		</div>
	</div>

	<div class="col-xs-12 col-sm-7">
		<div class="form-group">
			<div class="row  smaller lighter orange" style="margin-right: 10%; border-bottom: 1px inset #fdd0ac; margin-right: 10%; margin-left: 0%;">
				<i class="ace-icon glyphicon glyphicon-user bigger-130"></i>
				<span class="hspan ">@Html.HiddenFor(a => a.memberCode) @Model.memberCode   @Html.HiddenFor(a => a.DesignationName)  @Model.DesignationName</span>
			</div>
			<div style="margin-top: 5px; padding-bottom: 3px; margin-right: 10%; margin-left: 0%; border-bottom: 1px dotted #ccc;">
				<i class="ace-icon glyphicon glyphicon-phone-alt bigger-90"></i>
				<span>@Html.HiddenFor(a => a.MobileNo)  @Model.MobileNo</span><br />
				<i class="ace-icon glyphicon glyphicon-home bigger-90"></i>
				<span>@Html.HiddenFor(a => a.Address)  @Model.Address</span>
			</div>
			<div class="space-4"></div>

			<div style="margin-top: 5px; padding-bottom: 3px; margin-right: 10%; margin-left: 0%; border-bottom: 1px dotted #ccc;">
				<i class="ace-icon fa fa-certificate bigger-90"></i>
				<span><b>Constituency</b></span>
				<span>@Html.HiddenFor(a => a.constituencyCode)  @Model.constituencyCode - @Html.HiddenFor(a => a.ConstituencyName) @Model.ConstituencyName </span>
			</div>
			<div class="space-4"></div>

			<div style="margin-top: 5px; padding-bottom: 3px; margin-right: 10%; margin-left: 0%; border-bottom: 1px dotted #ccc;">
				<i class="ace-icon fa fa-rupee bigger-90"></i>
				<span><b>Bank Details</b></span>
				<ol style="list-style: none; margin-bottom: 0px;">
					<li class="text-success">
						<b>Bank Name</b>
						@Html.HiddenFor(a => a.BankName) 	@Model.BankName
					</li>
					<li class="text-success">
						<b>Account Number</b>
						@Html.HiddenFor(a => a.bankAccountNumber) 	@Model.bankAccountNumber
					</li>
					<li class="text-success">
						<b>IFSC</b>
						@Html.HiddenFor(a => a.IFSCCode) 	@Model.IFSCCode
					</li>
				</ol>
			</div>
			<div class="space-4"></div>
			<div style="margin-top: 5px; padding-bottom: 3px; margin-right: 10%; margin-left: 0%; border-bottom: 1px dotted #ccc;">
				<i class="ace-icon fa fa-certificate bigger-90"></i>
				<span><b>PPO. NO.</b></span>
				<span class="input-icon">
					<input type="text" id="pPONO" name="PPOCode" class="input-large" placeholder="PPO Number" required  value="@Model.PPOCode"/>
					<i class="ace-icon fa fa-th blue"></i>
				</span>
			</div>

			<div style="margin-top: 5px; padding-bottom: 3px; margin-right: 10%; margin-left: 0%; border-bottom: 1px dotted #ccc;">
				<i class="ace-icon fa fa-certificate bigger-90"></i>
				<label for="id-date-range-picker-1">First Term Date</label>
				<div class="input-daterange input-group" style="z-index: 999 !important;">

					<span class="input-group-addon">
						<i class="fa fa-calendar bigger-110"></i>
					</span>
					<input type="text" class="input-sm form-control from_date" id="FirsttStartDate" name="firstTermStart" value="@Model.firstTermStart" required />
					<span class="input-group-addon">
						<i class="fa fa-exchange"></i>
					</span>
					<span class="input-group-addon">
						<i class="fa fa-calendar bigger-110"></i>
					</span>
					<input type="text" class="input-sm form-control to_date" name="firstTermEnd" id="firsttEndDate" value="@Model.firstTermEnd" required />
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">

		<div class="widget-box widget-color-blue collapsed" id="tenuresDetailsWidget">
			<div class="widget-header">
				<h4 class="widget-title lighter ">Tenures Details  <span class="badge badge-warning tcount" id="spancount">0</span><input type="hidden" name="tcount" id="tcount" value="0" />
				</h4>

				<div class="widget-toolbar">

					<button type="button" class="btn btn-minier btn-success" onclick="addTenure()">
						<i class="ace-icon fa fa-plus bigger-110"></i>

						Add
					</button>
					<button type="button" class="btn btn-minier btn-danger" onclick="deleteRow('tenuresTable')">
						<i class="ace-icon fa fa-trash-o bigger-110"></i>

						Delete
					</button>

					<a href="#" data-action="collapse">
						<i class="ace-icon fa fa-chevron-down white"></i>
					</a>
				</div>
			</div>

			<div class="widget-body">
				<div class="widget-body-inner" style="display: block;">
					<div class="widget-main padding-6 no-padding-left no-padding-right">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>Sr.</th>
									<th>
										<label class="position-relative">
											<input type="checkbox" id="checkBoxAll" onchange="checkAll(this)" class="ace" />
											<span class="lbl"></span>
										</label>
									</th>
									<th>From </th>
									<th>To</th>
									<th># Years</th>

									<th>Action</th>
								</tr>
							</thead>

							<tbody id="tenuresTable">
								@{
									int rowCounts = 0;
									if (Model._pensionerTenuresDetails.Count() > 0 && Model._pensionerTenuresDetails != null)
									{
										foreach (var tditem in Model._pensionerTenuresDetails)
										{<tr  id="@rowCounts">
											<td>
												@(rowCounts+1)
											</td>
										<td>
											<label class="position-relative">
												<input type="checkbox" class="ace"  id="checkBox_1@rowCounts  + '" />
												<span class="lbl"></span>
											</label>
										</td>
											
											<td>
												<input type="text" class="TextBoxAsLabel" readonly style="background-color: transparent !important;" name="span_1_@rowCounts" value="@tditem.startDate.ToString("MM/dd/yyyy")" />
											</td>
											<td>
												<input type="text" class="TextBoxAsLabel" readonly style="background-color: transparent !important;" name="span_2_@rowCounts" value="@tditem.endDate.ToString("MM/dd/yyyy")" />
											</td>
											<td>
												<input type="text" class="TextBoxAsLabel" readonly style="background-color: transparent !important;" name="span_3_@rowCounts" value="@tditem.years" />
											</td>
											<td>
												<div  class="hidden-sm hidden-xs btn-group"> <button type="button" class="btn btn-xs btn-info editTenure"><i class="ace-icon fa fa-pencil bigger-120"></i>Edit</button><button type="button" class="btn btn-xs btn-danger deleteButton"  ><i class="ace-icon fa fa-trash-o bigger-120"></i>Delete </button></div>
											</td>
									</tr>
									rowCounts++;
										}
									}
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-8 widget-container-col ui-sortable">
		<!-- #section:custom/widget-box.options.transparent -->
		<div class="widget-box transparent collapsed">
			<div class="widget-header">
				<h4 class="widget-title lighter">Description</h4>

				<div class="widget-toolbar no-border">

					<a href="#" data-action="collapse">
						<i class="ace-icon fa fa-chevron-down"></i>
					</a>

					<a href="#" data-action="close">
						<i class="ace-icon fa fa-times"></i>
					</a>
				</div>
			</div>

			<div class="widget-body">
				<div class="widget-body-inner" style="display: block;">
					<div class="widget-main padding-6 no-padding-left no-padding-right">
						@Html.Raw(Model.description)
					</div>
				</div>
			</div>
		</div>

		<!-- /section:custom/widget-box.options.transparent -->
	</div>
	<div class="col-sm-4 widget-container-col ui-sortable">
		<!-- #section:custom/widget-box.options.transparent -->
		<div class="widget-box transparent collapsed">
			<div class="widget-header">
				<h4 class="widget-title lighter">Nominee's</h4>

				<div class="widget-toolbar no-border">

					<a href="#" data-action="collapse">
						<i class="ace-icon fa fa-chevron-down"></i>
					</a>

					<a href="#" data-action="close">
						<i class="ace-icon fa fa-times"></i>
					</a>
				</div>
			</div>

			<div class="widget-body">
				<div class="widget-body-inner" style="display: block;">
					<div class="widget-main padding-6 no-padding-left no-padding-right">
						<ol style="margin-bottom: 0px;">
							@if (string.IsNullOrEmpty(Model.nomineeName) && string.IsNullOrEmpty(Model.nomineeBankName) && string.IsNullOrEmpty(Model.nomineeBankAccountNumber.ToString()))
							{
								<li class="text-success">
									<b>No!</b>
									Records Found
								</li>
							}
							else
							{
								<li class="text-success">
									<b>N Name</b>
									@Model.nomineeName
								</li>
								<li class="text-success">
									<b>N Bank Name</b>
									@Model.nomineeBankName
								</li>
								<li class="text-success">
									<b>N Account Number</b>
									@Model.nomineeBankAccountNumber
								</li>
							}
						</ol>
					</div>
				</div>
			</div>
		</div>

		<!-- /section:custom/widget-box.options.transparent -->
	</div>
</div>
<div class="wizard-actions">
	<button type="reset" class="btn btn-sm btn-info" onclick="return cancelEntry();">
		<i class="ace-icon fa fa-times bigger-125"></i>
		Reset
	</button>
	<button type="submit" id="savebtn" class="btn btn-sm btn-purple">
		<i class="ace-icon fa fa-floppy-o bigger-125"></i>
		@Model.Mode
	</button>
</div>

<div id="addTenuresDetails" class="modal fade" tabindex="-1">
	<div class="modal-dialog" style="width: 380px;">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="blue bigger">Add Tenures Details</h4>
			</div>

			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<label for="id-date-range-picker-1">Select Date</label>

						<div class="input-daterange input-group">
							<span class="input-group-addon">
								<i class="fa fa-calendar bigger-110"></i>
							</span>
							<input type="text" class="input-sm form-control from_date" id="tStartDate" placeholder="mm-dd-yyyy" />
							<span class="input-group-addon">
								<i class="fa fa-exchange"></i>
							</span>
							<span class="input-group-addon">
								<i class="fa fa-calendar bigger-110"></i>
							</span>
							<input type="text" class="input-sm form-control to_date " id="tEndDate" placeholder="mm-dd-yyyy" />
						</div>
						<span class="red" id="tdateError"></span>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-sm" data-dismiss="modal">
						<i class="ace-icon fa fa-times"></i>
						Cancel
					</button>

					<button type="button" class="btn btn-sm btn-primary" onclick="addRows()">
						<i class="ace-icon fa fa-check"></i>
						Save
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="editTenuresDetails" class="modal fade" tabindex="-1">
	<div class="modal-dialog" style="width: 380px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="blue bigger">Edit Tenures Details</h4>
			</div>

			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<label for="id-date-range-picker-1">Select Date</label>
						<input type="hidden" id="trID" />
						<div class="input-daterange input-group">
							<span class="input-group-addon">
								<i class="fa fa-calendar bigger-110"></i>
							</span>
							<input type="text" class="input-sm form-control from_date" id="edittStartDate" name="start" />
							<span class="input-group-addon">
								<i class="fa fa-exchange"></i>
							</span>
							<span class="input-group-addon">
								<i class="fa fa-calendar bigger-110"></i>
							</span>
							<input type="text" class="input-sm form-control to_date" name="end" id="edittEndDate" />
						</div>
					</div>
					<span class="red" id="tdateError"></span>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-sm" data-dismiss="modal">
						<i class="ace-icon fa fa-times"></i>
						Cancel
					</button>

					<button type="button" class="btn btn-sm btn-primary" id="trID" onclick="updateRows()">
						<i class="ace-icon fa fa-check"></i>
						Update
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script>

	$(document).ready(function () {
		try {
		   
$("#tcount").val(@Model._pensionerTenuresDetails.Count());
			$("#spancount").text(@Model._pensionerTenuresDetails.Count());
										
		}
		catch (error)
		{
		}
		try {
			var startDate = new Date('01/01/1900');
			var FromEndDate = new Date();
			var ToEndDate = new Date();

			ToEndDate.setDate(ToEndDate.getDate() + 365);
			$('.from_date').datepicker({
				weekStart: 1,
				startDate: '01/01/1900',
				endDate: FromEndDate,
				autoclose: true
			}).on('changeDate', function (selected) {
				startDate = new Date(selected.date.valueOf());
				startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
				$('.to_date').datepicker('setStartDate', startDate);
			});

			$('.to_date')
	.datepicker({

		weekStart: 1,
		startDate: startDate,
		endDate: ToEndDate,
		autoclose: true
	})
	.on('changeDate', function (selected) {
		FromEndDate = new Date(selected.date.valueOf());
		FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
		$('.from_date').datepicker('setEndDate', FromEndDate);
	});
		} catch (error) {
			alert(error.message);
		}
		$(document).on("click", ".deleteButton", function (e) {

			var target = e.target;
			$(target).closest('tr').remove();
			//var t = document.getElementById("tenuresTable");

			var table = $("#tenuresTable");
			$("#spancount").text('0');
			table.find('tr').each(function (i, el) {

				var trId = $(this).attr('id');

				var $tds = $(this).find('td');

				$tds.eq(0).text(i++);
				$('#checkBox_1' + trId).attr('id', 'checkBox_1' + i);
				$("input[name =span_1_"+trId+"]").attr('name', 'span_1_' + i);
				$("input[name =span_2_"+ trId+"]").attr('name', 'span_2_' + i);
				$("input[name =span_3_"+ trId+"]").attr('name', 'span_3_' + i);
				$(this).attr('id', i);
				$("#tcount").val(i);
				$("#spancount").text(i);

			});
		});

		//edit rows
		$(document).on("click", ".editTenure", function (e) {

			var target = e.target;

			var trId = $(target).closest('tr').attr('id');

			//  alert($('#span_1' + trId).text());

			$("#trID").val(trId);
			
			$("#edittStartDate").val($("input[name =span_1_" + trId + "]").val());
			$("#edittEndDate").val($("input[name =span_2_" + trId + "]").val());

			editTenure();

		});

	});
	function addTenure() {
		document.getElementById("tdateError").innerHTML = "";

		$("#addTenuresDetails").modal({                    // wire up the actual modal functionality and show the dialog
			"backdrop": "static",
			"keyboard": true,
			"show": true                     // ensure the modal is shown immediately

		});

	}
	function editTenure() {

		$("#editTenuresDetails").modal({                    // wire up the actual modal functionality and show the dialog
			"backdrop": "static",
			"keyboard": true,
			"show": true                     // ensure the modal is shown immediately

		});

	}
	function getDateDiffInYears(date11, date22) {

		try {
			var one_day = 1000 * 60 * 60 * 24;

			var date1 = new Date(date11);
			var date2 = new Date(date22);

			// Convert both dates to milliseconds
			var date1_ms = date1.getTime();
			var date2_ms = date2.getTime();

			// Calculate the difference in milliseconds
			var difference_ms = date2_ms - date1_ms;

			// Convert back to days and return
			var diffDays = Math.round(difference_ms / one_day);
			var years = diffDays / 365;
			return float2int(years) + 1;
		}
		catch (error) {
			alert(error.message);
		}

	}
	function float2int(value) {
		return value | 0;
	}
	function addRows() {

		if (checkDate()) {
			var table = document.getElementById("tenuresTable");
			var rowCount = table.rows.length;
			var row = table.insertRow(rowCount);
			row.id = rowCount;
			var cell1 = row.insertCell(0);
			var cell2 = row.insertCell(1);
			var cell3 = row.insertCell(2);
			var cell4 = row.insertCell(3);
			var cell5 = row.insertCell(4);
			var cell6 = row.insertCell(5);

			cell1.innerHTML = rowCount + 1;
			cell2.innerHTML = cell2.innerHTML + '<label class="position-relative"><input type="checkbox" class="ace"  id=checkBox_1' + rowCount + '  /> <span class="lbl"></span></label>';
			cell3.innerHTML = cell3.innerHTML + '<input type="text" class="TextBoxAsLabel" readonly style="background-color: transparent !important;" name="span_1_' + rowCount + '" value="' + document.getElementById("tStartDate").value + '" />';
			cell4.innerHTML = cell4.innerHTML + '<input type="text" class="TextBoxAsLabel" readonly  style="background-color: transparent !important;" name="span_2_' + rowCount + '" value= "' + document.getElementById("tEndDate").value + '" />';
			cell5.innerHTML = cell5.innerHTML + '<input type="text" class="TextBoxAsLabel" readonly  style="background-color: transparent !important;" name="span_3_' + rowCount + '" value="' + getDateDiffInYears(document.getElementById("tStartDate").value, document.getElementById("tEndDate").value) + '" />';
			cell6.innerHTML = cell6.innerHTML + '<div  class="hidden-sm hidden-xs btn-group"> <button type="button" class="btn btn-xs btn-info editTenure"><i class="ace-icon fa fa-pencil bigger-120"></i>Edit</button><button type="button" class="btn btn-xs btn-danger deleteButton"  ><i class="ace-icon fa fa-trash-o bigger-120"></i>Delete </button></div>';
			$("#addTenuresDetails").modal('hide');
			document.getElementById("tStartDate").value = "";
			document.getElementById("tEndDate").value = "";
			$("#tenuresDetailsWidget").removeClass("collapsed");
			$("#tcount").val(rowCount + 1);
			$("#spancount").text(rowCount + 1);

		}

	}
	function updateRows() {
		try {

			var trId = $("#trID").val();

			$("input[name =span_1_" + trId + "]").val($('#edittStartDate').val());
			$("input[name =span_2_" + trId + "]").val($('#edittEndDate').val());
			$("#editTenuresDetails").modal('hide');
			$("input[name ='span_3_" + trId + "']").val(getDateDiffInYears(document.getElementById("edittStartDate").value, document.getElementById("edittEndDate").value));
			document.getElementById("edittStartDate").value = "";
			document.getElementById("edittEndDate").value = "";

		}
		catch (error) {
			alert(error.message);
		}
	}
	function checkAll(ele) {
		var checkboxes = document.getElementsByTagName('input');
		if (ele.checked) {
			for (var i = 0; i < checkboxes.length; i++) {
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = true;
				}
			}
		} else {
			for (var i = 0; i < checkboxes.length; i++) {
				console.log(i)
				if (checkboxes[i].type == 'checkbox') {
					checkboxes[i].checked = false;
				}
			}
		}
	}
	function checkDate() {

		var date1 = document.getElementById("tStartDate").value;
		var date2 = document.getElementById("tEndDate").value;

		try {
			if (date1 == "" || date2 == "") {
				document.getElementById("tdateError").innerHTML = "Date can not be blank.";
				return false;
			}
			else {

				return true;

			}
		} catch (error) {
			alert(error.message);
		}

	}
	function deleteRow(tableID) {
		var table = document.getElementById(tableID);
		var rowCount = table.rows.length;
		try {
			for (var i = 0; i <= rowCount; i++) {

				var row = table.rows[i];
				var chkbox = row.cells[1].getElementsByTagName('input')[0];
				if ('checkbox' == chkbox.type && true == chkbox.checked) {
					table.deleteRow(i);
					i--;

				}

			}
		} catch (error) {

		}
		var table = $("#tenuresTable");
		table.find('tr').each(function (i, el) {

			var trId = $(this).attr('id');

			var $tds = $(this).find('td');

			$tds.eq(0).text(i++);
			$('#checkBox_1' + trId).attr('id', 'checkBox_1' + i);
			$("input[name =span_1_" + trId + "]").attr('name', 'span_1_' + i);
			$("input[name =span_2_" + trId + "]").attr('name', 'span_2_' + i);
			$("input[name =span_3_" + trId + "]").attr('name', 'span_3' + i);
			$(this).attr('id', i);
			$("#tcount").val(i);
			$("#spancount").text(i);
		});
	}
</script>