﻿<div style="padding: 14px 72px 6px 401px; width: 551px">
    <a onclick="CreateNew()">
        <span class="btn  btn-sm btn-info">
            <span>Add Employee</span>
        </span>
    </a>
</div>

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="pass-table">

            <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                <thead>
                    <tr role="row">
                        <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">No</th>
                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Employee ID</th>
                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Name</th>
                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Organisation/Department: activate to sort column ascending">Request Date</th>
                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Organisation/Department: activate to sort column ascending">Pass Type Requested</th>
                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Organisation/Department: activate to sort column ascending">Pass Type Allowed</th>
                        <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                    </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all">
                    @for (int i = 1; i < 12; i++)
                    {
                        <tr>
                            <td class="center">@i </td>
                            <td>10031</td>
                            <td>RadhaKrishna</td>
                            <td>16/06/2014</td>
                            <td>Security staff</td>
                            <td>Pass Gallery</td>
                            <td></td>
                        </tr>
                        
                    }

                   


                </tbody>
            </table>
            <!-- PAGE CONTENT ENDS -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<script type="text/javascript">
    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
              { "bSortable": false },
              null, null, null, null, null,
              { "bSortable": false }
            ]
            //,
            //"sScrollY": "200px",
            //"bPaginate": false,

            //"sScrollX": "100%",
            //"sScrollXInner": "120%",
            //"bScrollCollapse": true,
            //Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
            //you may want to wrap the table inside a "div.dataTables_borderWrap" element

            //"iDisplayLength": 50
        });





        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })
    $(document).ready(function () {
        $("#btnNewCom").hide();
        // GetStartedQuestions();
    });
    function CreateNew() {
        $.ajax({
            url: "/PaperLaidDepartment/PassRequests/CreatePassRequest",
            type: 'GET',
            data: {
            },
            success: function (data) {

                $("#RightSidebar").html(data)
            },
            error: function (xhr, ajaxOptions, thrownError) {

                alert(xhr.responseText);
                alert(thrownError);
            }
        })
    }
</script>
