﻿@model   SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.AssemblyViewModel

<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>

<div class="widget-header widget-header-blue widget-header-flat">
    @if (Model.Mode == "Add")
    {
        <h4 class="widget-title lighter">@Resources.MasterDataDashboard.CreateAssembly</h4>
    }
    else
    {
        <h4 class="widget-title lighter">@Resources.MasterDataDashboard.EditAssembly</h4>
    }

</div>
<div class="widget-body">
    <div class="widget-main">
        <div class="row">
            <div class="col-xs-12">
                <div class="messageBox"></div>
                <!-- PAGE CONTENT BEGINS -->
                @* //, new { @class = "form-horizontal", @role = "form" }*@
                <div class="row">
                    @using (Html.BeginForm("SaveAssembly", "Assembly", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                    { 
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.AssemblyID)
                        @Html.HiddenFor(model => model.Mode)
                                   
                        <div class="tabbable">

                            <div class="tab-content no-border padding-24">
                                <div class="tab-pane in active" id="news-english">

                                    <div class="space-2"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.AssemblyName</label>
                                        <div class="col-sm-9">

                                            @Html.TextBoxFor(model => model.AssemblyName, new { @class = "col-xs-10 col-sm-8", @placeholder = @Resources.MasterDataDashboard.AssemblyName, @autocomplete = "off", @maxlength = "250" })

                                            @Html.ValidationMessageFor(model => model.AssemblyName)

                                        </div>

                                    </div>
                                    <div class="space-2"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.AssemblyNameLocal </label>
                                        <div class="col-sm-9">

                                            @Html.TextBoxFor(model => model.AssemblyNameLocal, new { @class = "col-xs-10 col-sm-8", @placeholder = @Resources.MasterDataDashboard.AssemblyNameLocal, @autocomplete = "off", @maxlength = "250" })

                                        </div>

                                    </div>
                                    <div class="space-2"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="id-date-picker-1">@Resources.MasterDataDashboard.AssemblyStartDate </label>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(model => model.AssemblyStartDate, new { @placeholder = @Resources.MasterDataDashboard.AssemblyStartDate, @class = "date-picker col-xs-10 col-sm-8" })
                                            <span class="input-group-addon1">
                                                <i class="fa fa-calendar bigger-110"></i>
                                            </span>
                                            @Html.ValidationMessageFor(model => model.AssemblyStartDate, "", new { @id = "ValidFromValidateMesssge" })
                                        </div>
                                    </div>
                                    <div class="space-2"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="id-date-picker-2">@Resources.MasterDataDashboard.AssemblyEndDate </label>

                                        <div class="col-sm-9">

                                            @Html.TextBoxFor(model => model.AssemblyEndDate, new { @placeholder = @Resources.MasterDataDashboard.AssemblyEndDate, @class = "date-picker col-xs-10 col-sm-8" })

                                            <span class="input-group-addon1">
                                                <i class="fa fa-calendar bigger-110"></i>
                                            </span>
                                            @Html.ValidationMessageFor(model => model.AssemblyEndDate, "", new { @id = "ValidUptoValidateMesssge" })
                                            <span class="field-validation-error" id="DateComapreValidation"></span>
                                        </div>
                                    </div>
                                    <div class="space-2"></div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.AssemblyPeriod </label>
                                        <div class="col-sm-9">

                                            @Html.TextBoxFor(model => model.Period, new { @class = "col-xs-10 col-sm-8", @placeholder = @Resources.MasterDataDashboard.AssemblyPeriod, @autocomplete = "off", @maxlength = "12" })

                                            @Html.ValidationMessageFor(model => model.Period)

                                        </div>

                                    </div>
                                    <div class="space-2"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Rem1 </label>
                                        <div class="col-sm-9">

                                            @Html.TextAreaFor(model => model.Rem1, new { @id = "txtRem1desc", @class = "col-xs-10 col-sm-8", @placeholder = @Resources.MasterDataDashboard.Rem1, @autocomplete = "off", @maxlength = "500" })

                                        </div>

                                    </div>
                                    <div class="space-2"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Rem2 </label>
                                        <div class="col-sm-9">

                                            @Html.TextAreaFor(model => model.Rem2, new { @id = "txtRem2desc", @class = "col-xs-10 col-sm-8", @placeholder = @Resources.MasterDataDashboard.Rem2, @autocomplete = "off", @maxlength = "500" })

                                        </div>
                                    </div>
                                    <div class="space-2"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Rem3 </label>
                                        <div class="col-sm-9">

                                            @Html.TextAreaFor(model => model.Rem3, new { @id = "txtRem3desc", @class = "col-xs-10 col-sm-8", @placeholder = @Resources.MasterDataDashboard.Rem3, @autocomplete = "off", @maxlength = "500" })

                                        </div>
                                    </div>
                                    <div class="space-2"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Rem4 </label>
                                        <div class="col-sm-9">

                                            @Html.TextAreaFor(model => model.Rem4, new { @id = "txtRem4desc", @class = "col-xs-10 col-sm-8", @placeholder = @Resources.MasterDataDashboard.Rem4, @autocomplete = "off", @maxlength = "500" })

                                        </div>
                                    </div>
                                    <div class="space-2"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Rem5 </label>
                                        <div class="col-sm-9">

                                            @Html.TextAreaFor(model => model.Rem5, new { @id = "txtRem5desc", @class = "col-xs-10 col-sm-8", @placeholder = @Resources.MasterDataDashboard.Rem5, @autocomplete = "off", @maxlength = "500" })

                                        </div>

                                    </div>

                                    <div class="space-2"></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Active </label>
                                        <div class="col-sm-9">
                                            @Html.CheckBoxFor(model => model.Active)
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>                              
                        <div class="btn-group pull-right padding-10">
                            <!-- #section:plugins/fuelux.wizard.buttons -->
                            <button type="submit" id="savebtn" class="btn btn-sm btn-purple ">
                                <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                @Resources.MasterDataDashboard.Save</button>
                            <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                <i class="ace-icon fa fa-times bigger-125"></i>
                                @Resources.MasterDataDashboard.Reset
                            </button>
                            <!-- /section:plugins/fuelux.wizard.buttons -->
                        </div>
                        <div id='fullDetailsModel' class="hide">
                            <div id='ShowfullDetailsModel' style="text-align: center">
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@*<link href="~/Content/MultiSelectList/multiple-select.css" rel="stylesheet" />
<script src="~/Scripts/MultiSelectBox/jquery.multiple.select.js"></script>*@


<script type="text/javascript">

    $(function () {

        $("#txtRem1desc").blur(function () {
            $(this).animate({
                height: '55px'
            },
               "fast"
            )
        });

        $("#txtRem1desc").focus(function () {
            $(this).animate({
                height: '200px'
            },
               "fast"
            );

            //$("#newsDescvalidation").html("");

        });

    });


    $(function () {

        $("#txtRem2desc").blur(function () {
            $(this).animate({
                height: '55px'
            },
               "fast"
            )
        });

        $("#txtRem2desc").focus(function () {
            $(this).animate({
                height: '200px'
            },
               "fast"
            );

            //$("#newsDescvalidation").html("");

        });

    });

    $(function () {

        $("#txtRem3desc").blur(function () {
            $(this).animate({
                height: '55px'
            },
               "fast"
            )
        });

        $("#txtRem3desc").focus(function () {
            $(this).animate({
                height: '200px'
            },
               "fast"
            );

            //$("#newsDescvalidation").html("");

        });

    });
    $(function () {

        $("#txtRem4desc").blur(function () {
            $(this).animate({
                height: '55px'
            },
               "fast"
            )
        });

        $("#txtRem4desc").focus(function () {
            $(this).animate({
                height: '200px'
            },
               "fast"
            );

            //$("#newsDescvalidation").html("");

        });

    });

    $(function () {

        $("#txtRem5desc").blur(function () {
            $(this).animate({
                height: '55px'
            },
               "fast"
            )
        });

        $("#txtRem5desc").focus(function () {
            $(this).animate({
                height: '200px'
            },
               "fast"
            );

            //$("#newsDescvalidation").html("");

        });

    });

    $('.date-picker').datepicker({
        autoclose: true,
        todayHighlight: true

    })
    //show datepicker when clicking on the icon
    .next().on(ace.click_event, function () {
        $(this).prev().focus();
    });

    $(document).ready(function () {
        $("#AssemblyName").focus();
    });
    function resetFields() {
        $(".field-validation-error").empty();
        $("#AssemblyName").focus();
    }
</script>

<style>
    .hidden {
        display: none;
        visibility: hidden;
    }
</style>
