﻿@{
    ViewBag.Title = "ShowAllAssemblyDetails";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />

@Html.Action("LeftNavigationMenu", "SuperAdmin")

<div class="main-content">
     @Html.Partial("_BreadcrumbsPartial")
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("ShowAllAssemblyDetails", "Assembly")">@Resources.MasterDataDashboard.Home</a>
            </li>

            <li>
                <a href="@Url.Action("ShowAllAssemblyDetails", "Assembly")">@Resources.MasterDataDashboard.AssemblyDetails</a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.List</li>
        </ul>

        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>

    </div>
    <div class="page-content">              
        <div id="Menu">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pass-table table-responsive" style="position: relative; top: 1px;">
                        <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
                        <div id="divDataContainer">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@

            </div>

            <!-- /section:basics/footer -->
        </div>
    </div>
     <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
             
<script src="~/assets/js/jquery-ui.custom.min.js"></script>

<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>




<script type="text/javascript">
    jQuery(document).ready(function () {
        GetModulesList();

    });



   
    function CreateNew() {
        $('.widget-box').show();
        var cl2 = new CanvasLoader('canvasloader-container1');
        cl2.show();
        $.ajax({
            url: "/SuperAdmin/Assembly/CreateAssembly",
            type: 'GET',
            data: {

            },
            success: function (data) {
                if (data) {
                    $("#divDataContainer").html(data);
                    cl2.hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

    function GetModulesList() {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("IndexOfAssembly", "Assembly")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "50",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#divDataContainer").html(data);
                //$("#RightSidebar").html("");
                //$("#FormPart").html("");
                //ClearControls();
                cl.hide();
                //ChangeBreadCrumbParent("My DashBoard", "GetStartedQuestions()");
                //ChangeBreadCrumbChild("Starred Questions", "GetStartedQuestions()");
            }
        });
    }



</script>


