﻿@*@model SBL.DomainModel.ComplexModel.ClubbedQuestionModel*@

@model SBL.DomainModel.Models.LOB.AdminLOB

<div class="round_box">


    <div class="listitems">
        <section>
            @Html.Raw(Model.TextLOB)
        </section>
    </div>

</div>
@*<div class="profile-info-value">
    <button type="button" value="find" id="btnsearch" class="btn btn-info" onclick="setvalue()"><i class="ace-icon fa fa-check-square-o bigger-130"></i>Update Laid List</button>
</div>*@

<script src="/Scripts/jquery.min.js"></script>

<script>


    $(document).ready(function () {
        $("section").find("table").addClass("table table-bordered table table-hover");
        $("section").find("td:first-child").css('width', '50px');
        $("section").find("td:nth-child(2)").css('width', '100px');
        $("section").find("td:nth-child(3)").css('width', '200px');
        $("section").find("td:nth-child(4)").css('width', '85px');
        $("section").find("td:nth-child(5)").css('width', '180px');
        $("section").find("td:last-child").css({'width': '50px','text-align':'center'});
        $("section").find("span").removeAttr('style');
        $("section").find("p").css('width', '200px');

    });


      </script>
  
  
 

 

