﻿@model SBL.DomainModel.Models.Notice.tMemberNotice

<style>
    .hidden {
        display: none;
        visibility: hidden;
    }

    .txtClass {
        width: 90%;
    }
</style>

@using (Html.BeginForm("UpdateQEntry", "NoticeDetails", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        
    @Html.AntiForgeryToken()
    <div class="widget-body">

        @Html.HiddenFor(m => m.QuestionID, new { @id = "hdnQuestionID" })
        @Html.HiddenFor(m => m.UId, new { @id = "hdnProofid" })
        @Html.HiddenFor(m => m.MinisterId)
        @Html.HiddenFor(m => m.DepartmentId)
        @Html.HiddenFor(m => m.ConstituencyCode , new { @id = "hdnCID" })


        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                </div>
        
                 @Html.HiddenFor(m => m.SessionID)
                <div class="profile-info-row">
                    <div style="vertical-align: top" class="profile-info-name">Title</div>

                    <div class="profile-info-value">
                        <span id="spnTitle" class="">
                            @Html.EditorFor(m => m.Title, new { @class = "txtClass" })
                        </span>
                    </div>
                </div>
           <div class="profile-info-row">
                        <div style="vertical-align: top" class="profile-info-name">Question Type</div>

                        <div class="profile-info-value">
                            <span id="spnLang" class="">                             
                                @Html.DropDownListFor(m => m.QuestionTypeId, new SelectList(
            new List<SelectListItem>
            {   
                new SelectListItem { Selected = false, Text = "Starred", Value ="1"},
                new SelectListItem { Selected = false, Text = "Unstarred", Value = "2"},             
            }, "Value", "Text"), new { @tabindex = "5", @class = "DdlClass",@id="DdlQtype" })
                
                            </span>
                        </div>
                    </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Asked By:</div>

                    <div class="profile-info-value">
                        <span id="spnMemberId" class="">                        
                           @Html.DropDownListFor(m => m.MemberId, new SelectList(Model.NewmemberList, "MemberId", "MemberName", 0), new { @id = "DdMember", @tabindex = "3", @class = "select-style txtClass"})
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Constituency Name</div>

                    <div class="profile-info-value">
                        <span id="spnConstituencyName" class="">
                            @Html.TextBoxFor(m => m.ConstituencyName, new { @id = "TxtConstituencyName", @class = "txtClass", @readonly = true, @disabled = true })
                        </span>
                    </div>
                </div>
         
                <div class="profile-info-row">
                    <div class="profile-info-name">Minister</div>

                    <div class="profile-info-value">
                        <span id="spnMinisterId" class="">
                            @Html.DropDownListFor(m => m.MinisterId, new SelectList(Model.ministerList, "MinistryID", "MinisterMinistryName"), new { @id = "DdlEntryMinister", @class = "rounded txtClass", @onchange = "MinistryChanged()" })

                            @Html.ValidationMessageFor(m => m.MinisterId, "", new { style = "color: red;" })
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Department</div>

                    <div class="profile-info-value">
                        <span id="spnNceTime" class="">
                            @Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.DepartmentLt, "DepartmentId", "DepartmentName"), new { @id = "DdlDept", @class = "rounded txtClass" })
                            @Html.ValidationMessageFor(m => m.DepartmentId, "", new { style = "color: red;" })
                        </span>
                    </div>
                </div>          
            </div>
      
        </div>

        @Html.HiddenFor(m => m.IsQuestionInPart)
        @Html.HiddenFor(m => m.IsHindi)


        <div class="wizard-actions">
                 <button type="button" class="btn btn-primary" name="submitButton" id="Save&back" value="Save" onclick="return StaySave();">
                    <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                    Update
                </button>
        </div>
    </div>
        
    <div id='fullDetailsModel' class="hide">
        <div id='ShowfullDetailsModel' style="text-align: center">
        </div>
    </div>
}

<script src="~/Scripts/jquery.alerts.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.timepicker1.js"></script>

<script>
    $(document).ready(function () {

        //var MinId = $("#MinisterId").val()
        //var DeptId = $("#DepartmentId").val()
        //if (MinId == 0) { $("#DdlEntryMinister").append("<option value='' selected='true'>Select Minister</option>") }
        //if (DeptId == "" || DeptId == "0") {
        //    $("#DdlDept").append("<option value='' selected='true'>Select Department</option>")
        //}

    })


    $("textarea#TxtTitle").focus(function () {
        $("textarea#TxtTitle").animate({ height: "150px" }, 100)
    })

    $("textarea#TxtTitle").blur(function () {
        $("textarea#TxtTitle").animate({ height: "100px" }, 100)
    })


    $("#DdMember").change(function () {
        var Aid = document.getElementById("DdlAssembly").value;
        var Mid = $(this).val();
        if (Mid != null && Mid != "") {
            $.get("/Notices/LegislationFixation/GetConstByMemberId", { MemberId: Mid, AssemId: Aid }, function (data) {
                $("#hdnCID").val(data.ConstituencyCode)
                $("#TxtConstituencyName").val(data.ConstituencyName)
            });

        }
        else {
            alert("Please Select Any Member !")
        }

    });

 

    function StaySave() {
   
        var QuestionID = document.getElementById("hdnQuestionID").value;
        var ConsiId = document.getElementById("hdnCID").value;
        var ConName = document.getElementById("TxtConstituencyName").value;
        var MemberId = document.getElementById("DdMember").value;
        var Title = $("#Title").val();
        var MinisterId = document.getElementById("DdlEntryMinister").value;
        var DepartmentId = document.getElementById("DdlDept").value;
        var QType = document.getElementById("DdlQtype").value;
        $.post("/Notices/Diaries/UpdateQuestionDiaryEntry",
           {
               QID: QuestionID,
               Subject: Title,
               MinirId: MinisterId,
               DepartId: DepartmentId,
               ConsId: ConsiId,
               ConsName: ConName,
               MemId: MemberId,
               QuestionType: QType,
           },
           function (data) {
               Redirect()
           });
    }
 
  
    function Redirect() {
        var url = '@Url.Action("DiariesDashboard")';
        window.location.href = url;
    }

    function MinistryChanged() {
        var ministryID = $('#DdlEntryMinister').val();
        if (ministryID != "" && ministryID != null) {
            $('#MinistryId').val(ministryID);
            $("#DdlDept").empty();
            var pathurl = '@Url.Action("GetDepartmentByMinistery", "NoticeDetails")';
            $.ajax({
                url: pathurl,
                type: 'GET',
                data: { MinistryId: ministryID },
                success: function (data) {
                    $.each(data, function (index, itemData) {
                        $("#DdlDept").append($('<option/>', {
                            value: itemData.DepartmentId,
                            text: itemData.DepartmentName
                        }));
                    });
                }, error: function (data) {
                    alert("Something wrong...")
                }
            })
        }
        else {
            $("#DdlDept").empty()
            $("#DdlDept").append("<option value=''>Select Department</option>")
        }

    }

  

</script>


