﻿@model SBL.DomainModel.Models.Diaries.DiaryModel


<div class="widget-box">
    <div class="widget-header widget-header-flat">

        <div class="widget-toolbar no-border">
            <button class="btn btn-xs btn-primary bigger" onclick='CreateNew("Starred")'>
                <i class="ace-icon fa fa-pencil-square-o"></i>
                @Resources.Diaries.New
            </button>
        </div>
    </div>

    <span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="Bottm Info" style="text-align: left; margin-left: 0px; margin-bottom: 2px;">@Resources.Diaries.StarredQuestion
    </span>

    @{    
        var grid = new Lib.Web.Mvc.JQuery.JqGrid.JqGridHelper<SBL.DomainModel.ComplexModel.DiaryModelCustom>("CommonGrid",
                                dataType: Lib.Web.Mvc.JQuery.JqGrid.JqGridDataTypes.Json,
                                footerEnabled: false,
                                methodType: Lib.Web.Mvc.JQuery.JqGrid.JqGridMethodTypes.Post,
                                pager: true,
                                rowsList: new List<int> { 10, 20, 30, 40, 50 },
                                rowsNumber: 10,
                                onSelectRow: "onSelectRowHandler",
                                sortingName: "QuestionId",
                                sortingOrder: Lib.Web.Mvc.JQuery.JqGrid.JqGridSortingOrders.Desc,
                                url: Url.Action("GetStarredDiaryJqGrid"),
                                userDataOnFooter: false,
                                viewRecords: true,
                                autoWidth: true,
                                emptyRecords: "No Paper Found"
                            );
    }
    @grid.GetHtml()

</div>


<script>

    jQuery(document).ready(function () {
        @grid.GetJavaScript()
        jQuery("#CommonGrid").jqGrid('setLabel', 'Number', '@Resources.Diaries.DiaryNumber')
        jQuery("#CommonGrid").jqGrid('setLabel', 'Subject', '@Resources.Diaries.Subject')
        jQuery("#CommonGrid").jqGrid('setLabel', 'AskedBy', '@Resources.Diaries.AskedBy')
        jQuery("#CommonGrid").jqGrid('setLabel', 'DateForBind', '@Resources.Diaries.ReceivedDate')
        jQuery("#CommonGrid").jqGrid('setLabel', 'Priority', '@Resources.Diaries.Priority')
    });

    function onSelectRowHandler(rowId, status, event) {
        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();

        var Qid = 0;
        var rowData = $(this).jqGrid("getRowData", rowId);

        Qid = rowData.QuestionId != "" ? rowData.QuestionId : 0;

        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Notices/Diaries/GetQuestionDetails",
            type: 'GET',
            data: {
                QuesId: Qid
            },
            success: function (data) {
                $("#RightSidebar").html(data);
                cl2.hide();
            }
        });

    }

</script>

@*Old Code*@
@*@{
    int count = 0;
    int startpage = 0;
    int endPage = 0;
    float rcnt = @Model.ResultCount;
    float rperPage = @Model.RowsPerPage;
    float cnt = rcnt / rperPage;
    int b = (int)cnt;
    float c = (float)cnt - b;  
}

@if (c > 0)
{
    count = b + 1;
}
else
{
    count = b;
}

@{
    startpage = ((@Model.selectedPage * 10) - 10) + 1;
    endPage = startpage + 9;           
}

@if (Model.loopStart <= 0)
{
    Model.loopStart = 1;
    Model.loopEnd = 5;
}

<div class="grid_cantainer1">
    <div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px; border: 1px solid #C5C5C5;">
        @Resources.Diaries.Diary >> @Resources.Diaries.StarredQuestion
    </div>
    <div>
        <div style="float: right">
            <input type="button" id="btnNewCom" style="margin: 6px 2px 15px" value="New" onclick="CreateNew('Starred')" />
        </div>
    </div>
    <br />
    <br />
    <div style="margin-top: 10px">
        @if (count > 0)
        {
            <div class="grid-ex-footer">
                <div class="grid-pagination">
                    @if (count < Model.loopEnd)
                    {
                        Model.loopEnd = count;
                    }

                    <a href="javascript:void(0);" onclick="NextButtonS(@Model.RowsPerPage,1,1,5)" title="@Resources.Common.GoToTheFirstPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">@Resources.Common.FirstPage</span></a>
                    @if (Model.loopStart > 5)
                    {                           
                        <a href="javascript:void(0);" onclick="NextAndPreviousButtonS(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)" title="@Resources.Common.GoToThePreviousPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">@Resources.Common.PreviousPage</span></a>
                    }

                    <ul class="gridpage-numbers">
                        @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                        {
                            if (i == @Model.selectedPage)
                            {                                    
                            <li><span class="grid-page-selected">@i</span></li>
                            }
                            else
                            {
                            <li><a href="javascript:void(0);" onclick="NextButtonS(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                            }
                        }
                    </ul>
                    @if (Model.loopStart + 5 < @count)
                    {
                        <a href="javascript:void(0);" onclick="NextAndPreviousButtonS(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)" title="@Resources.Common.GoToTheNextPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">@Resources.Common.NextPage</span></a>
                    }
                    <a href="javascript:void(0);" onclick="NextButtonS(@Model.RowsPerPage,@count,@count-5,@count)" title="@Resources.Common.GoToTheLastPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">@Resources.Common.LastPage</span></a>
                    <span class="grid-page-info">@Model.loopStart - @Model.loopEnd @Resources.Common.Of @count @Resources.Common.Pages.</span>
                </div>
            </div>
        }


        @if (Model.DiaryList.Count > 0)
        {
            <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
            <table id="editableTable" class="simple-table-style1">

                <tr>

                    <th class="grid_th" style="text-align: center; border-width: 1.5px;">@Resources.Diaries.DiaryNumber</th>
                    <th class="grid_th" style="text-align: center; border-width: 1.5px;">@Resources.Diaries.AskedBy</th>
                    <th class="grid_th" style="text-align: center; border-width: 1.5px;">@Resources.Diaries.ReceivedDate</th>

                </tr>


                @foreach (var item in Model.DiaryList)
                {
                    <tr id="Q_@item.QuestionId" class="SColorChange" onclick="ViewQuestionDetails(this.id)" style="cursor: pointer">
                        <td style="text-align: center; vertical-align: top; border-width: 1px;">@item.DiaryNumber
                        </td>
                        <td style="text-align: center; vertical-align: top; border-width: 1px;">@item.AskedBy
                        </td>
                        <td style="text-align: center; vertical-align: top; border-width: 1px;">@Convert.ToDateTime(item.DateForBind).ToString("dd/MM/yyyy")</td>
                    </tr>
                }

            </table>
   
   
        }
        else
        {
            <div style="text-align: center">@Resources.Diaries.NoRecords</div>
        }

        @if (count > 0)
        {
            <div class="grid-ex-footer">
                <div class="grid-pagination">
                    @if (count < Model.loopEnd)
                    {
                        Model.loopEnd = count;
                    }

                    <a href="javascript:void(0);" onclick="NextButtonS(@Model.RowsPerPage,1,1,5)" title="@Resources.Common.GoToTheFirstPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">@Resources.Common.FirstPage</span></a>
                    @if (Model.loopStart > 5)
                    {                           
                        <a href="javascript:void(0);" onclick="NextAndPreviousButtonS(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)" title="@Resources.Common.GoToThePreviousPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">@Resources.Common.PreviousPage</span></a>
                    }

                    <ul class="gridpage-numbers">
                        @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                        {
                            if (i == @Model.selectedPage)
                            {                                    
                            <li><span class="grid-page-selected">@i</span></li>
                            }
                            else
                            {
                            <li><a href="javascript:void(0);" onclick="NextButtonS(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                            }
                        }
                    </ul>
                    @if (Model.loopStart + 5 < @count)
                    {
                        <a href="javascript:void(0);" onclick="NextAndPreviousButtonS(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)" title="@Resources.Common.GoToTheNextPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">@Resources.Common.NextPage</span></a>
                    }
                    <a href="javascript:void(0);" onclick="NextButtonS(@Model.RowsPerPage,@count,@count-5,@count)" title="@Resources.Common.GoToTheLastPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">@Resources.Common.LastPage</span></a>
                    <span class="grid-page-info">@Model.loopStart - @Model.loopEnd @Resources.Common.Of @count @Resources.Common.Pages.</span>
                </div>
            </div>
        }
    </div>
</div>*@







<script>
    function ViewQuestionDetails(Id) {
        {
            //var AId = $("#AssemblyID").val();
            //var SId = $("#SessionID").val();
            var Qid = Id.substring(2)
            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/Notices/Diaries/GetQuestionDetails",
                type: 'GET',
                data: {
                    QuesId: Qid
                },
                success: function (data) {
                    alert(data);
                    $("#RightSidebar").html(data);
                    //$("#divShowMessage").hide()

                }
            });
        }
    }





    /*Code for Checkbox Functionality*/
    function SubmitSelected() {
        var SIds = document.getElementById("SelectedChkbxId").value;
        if (SIds != null && SIds != "") {
            if (confirm("Are you sure to sumbit ?")) {
                $.get("/CommitteePaperLaid/CommitteePaper/SubmitPending", { Ids: SIds }, function (data) {
                    if (data = "Success") {
                        alert("Successfully Submitted !")
                        $.get("/CommitteePaperLaid/CommitteePaper/GetPendings", {}, function (data) {
                            $("#divSearchQues").html(data)
                        });
                    }
                    else {
                        alert(data)
                    }
                });
            }

            else {
                event.preventDefault();
            }
        }
        else {
            alert("Please select any Committee !");
        }
    }
    $('#ChkBoxAll').on("click", function () {
        if ($('#ChkBoxAll').attr('checked')) {
            document.getElementById("SelectedChkbxId").value = "";
            $(".Checkbox").each(function () {
                var selectedChkbxId = document.getElementById("SelectedChkbxId").value;
                if (selectedChkbxId == "") {
                    document.getElementById("SelectedChkbxId").value = this.id.substring(4);
                } else {
                    selectedChkbxId = selectedChkbxId + "," + this.id.substring(4);
                    document.getElementById("SelectedChkbxId").value = selectedChkbxId;
                }
                $(this).prop("checked", $("#ChkBoxAll").is(":checked"));
            });
            //alert(document.getElementById("SelectedChkbxId").value);
        }
        else {
            document.getElementById("SelectedChkbxId").value = "";
            $(".Checkbox").each(function () {
                $(this).prop("checked", false);
            });
        }
    });
    function checkChange(id) {
        if (document.getElementById(id).checked) {
            var selectedId = document.getElementById("SelectedChkbxId").value;
            if (selectedId == "") {
                document.getElementById("SelectedChkbxId").value = id.substring(4);
            }
            else {
                selectedId = selectedId + "," + id.substring(4);
                document.getElementById("SelectedChkbxId").value = selectedId;
            }
            //alert(document.getElementById("SelectedChkbxId").value)
        }
        else {
            var selectedId = document.getElementById("SelectedChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(4), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4), "");
            }

            document.getElementById("SelectedChkbxId").value = newvalue;

            //alert(document.getElementById("SelectedChkbxId").value);
        }

        if ($(".Checkbox").not(':checked').length == 0) {
            $('#ChkBoxAll').attr('checked', true)
        }
        else {
            $('#ChkBoxAll').attr('checked', false)
        }
    }

    function NextButtonS(rPage, pageNo, lStart, lEnd) {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var AId = $("#AssemblyID").val();
        var SId = $("#SessionID").val();
        var pageNumber = pageNo;
        var rowsPerPage = rPage;
        var loopStart = lStart;
        var loopEnd = lEnd;

        var pathurl = '@Url.Action("GetStarredDiary", "Diaries")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                AssemId: AId, SessId: SId,
                PageNumber: pageNo,
                RowsPerPage: rPage,
                loopStart: lStart,
                loopEnd: lEnd,
            },
            success: function (data) {
                ClearControls();
                $("#divDataContainer").html(data);
                cl.hide();
            }
        });
    }

    function NextAndPreviousButtonS(rPage, pageNo, lStart, lEnd) {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var AId = $("#AssemblyID").val();
        var SId = $("#SessionID").val();
        var pageNumber = pageNo;
        var rowsPerPage = rPage;
        var loopStart = lStart;
        var loopEnd = lEnd;

        @*var pathurl = '@Url.Action("PendingUnstaredQuestion", "PaperLaidDepartment")';*@
        $.ajax({
            url: "/Notices/Diaries/GetStarredDiary",
            type: 'GET',
            data: {
                AssemId: AId, SessId: SId,
                PageNumber: pageNo,
                RowsPerPage: rPage,
                loopStart: lStart,
                loopEnd: lEnd,

            },
            success: function (data) {
                ClearControls();
                $("#divDataContainer").html(data);
                cl.hide();
            }
        });
    }
</script>
