﻿@model SBL.DomainModel.Models.Diaries.DiaryModel


<script>
	$(document).ready(function () {

		if ('@Model.FileName' == "" && '@Model.FilePath' == "") {
			$("#spnPapertobeLaid").css("display", "none");
			$("#spnPaperupload").css("display", "block");
			$("#divBtnUpload").css("display", "table-row");
		}

	})
</script>


@if (Model != null)
{
	<div class="widget-header widget-header-flat">

		<h4 class="widget-title">
			@if (Model.QuestionTypeId == 1)
   {
				<span>@Resources.Diaries.Starred >>  @Resources.Diaries.Details </span>
         if (Model.FileName == null && Model.FilePath == null)
                {                    
         <div class="widget-toolbar no-border">
            <button class="btn btn-xs btn-primary bigger" onclick='GetDataByID(@Model.QuestionId)'>
                <i class="ace-icon fa fa-pencil-square-o"></i>
                Edit
            </button>
        </div>
         }
   }
   else if (Model.QuestionTypeId == 2)
   {
				<span>
					@Resources.Diaries.Unstarred >> @Resources.Diaries.Details
				</span>
         if (Model.FileName == null && Model.FilePath == null)
                {  
         <div class="widget-toolbar no-border">
            <button class="btn btn-xs btn-primary bigger" onclick='GetDataByID(@Model.QuestionId)'>
                <i class="ace-icon fa fa-pencil-square-o"></i>
                Edit
            </button>
        </div>
   }
   }
   else
   {
				<span>
					@Resources.Diaries.Notices >> @Resources.Diaries.Details
				</span>;
         //if (Model.FileName == null && Model.FilePath == null)
         //       {  
        <div class="widget-toolbar no-border">
            <button class="btn btn-xs btn-primary bigger" onclick='GetDataForNotice(@Model.NoticeId)'>
                <i class="ace-icon fa fa-pencil-square-o"></i>
                Edit
            </button>
        </div>
   //}
   }
		</h4>

    

      

	</div>
    
    
    
   if (Model != null)
   {
       
        
	<div class="widget-body">
		<div class="widget-main no-padding-right no-padding-left">
			<div class="profile-user-info profile-user-info-striped">
				<div class="profile-info-row">
				</div>
				<div class="profile-info-row">
					<div class="profile-info-name">@Resources.Diaries.DiaryNumber: </div>

					<div class="profile-info-value">
						@if (Model.DiaryNumber != null && Model.DiaryNumber != "")
	  {
							<span>
								@Model.DiaryNumber
							</span>
	  }
	  else if (Model.NoticeNumber != null && Model.NoticeNumber != "")
	  {
							<span>
								@Model.NoticeNumber
							</span>
	  }
					</div>
				</div>
				<div class="profile-info-row">
					<div class="profile-info-name">@Resources.Diaries.BusinessType: </div>

					<div class="profile-info-value">
						<span id="spnBussinessType" class="">@Model.BusinessType</span>
					</div>
				</div>
				<div class="profile-info-row">
					<div class="profile-info-name">@Resources.Diaries.AskedBy: </div>

					<div class="profile-info-value">
						<span id="spnAskedBy" class="">@Model.MemberName</span>
					</div>
				</div>

				<div class="profile-info-row">
					<div class="profile-info-name">@Resources.Diaries.ReceivedDate: </div>

					<div class="profile-info-value">
						@if (Model.DateForBind != null)
	  {
							<span id="spnRecievedDate" class="">@Convert.ToDateTime(Model.DateForBind).ToString("dd/MM/yyyy") </span>
	  }
	  else
	  {
							<span class=""></span>
	  }

					</div>
				</div>

				<div class="profile-info-row">
					<div class="profile-info-name">@Resources.Diaries.ReceivedTime:</div>

					<div class="profile-info-value">
						@if (Model.StringTime != null)
	  {
							<span id="spnReceivedTime" class="">@Model.StringTime </span>
	  }
	  else
	  {
							<span class=""></span>
	  }
					</div>
				</div>

				<div class="profile-info-row">
					<div class="profile-info-name">@Resources.Diaries.Subject: </div>

					<div class="profile-info-value">
						<span id="spnSubject" class="">@Html.Raw(Model.Subject)</span>
					</div>
				</div>

				<div class="profile-info-row">
					<div class="profile-info-name">@Resources.Diaries.Priority: </div>

					<div class="profile-info-value">
						<span id="spnPriority" class="">@Model.Priority</span>
					</div>
				</div>

				@if (Model.QuestionTypeId == 2 || Model.QuestionTypeId == 1)
	{
					<div class="profile-info-row">
						<div class="profile-info-name">Is Question In Part: </div>

						<div class="profile-info-value">

							<input id="ChkIsQuesPart" type="checkbox" checked="@Model.IsQuestionInPart" />



						</div>
					</div>
	}

               
				@if (Model.IsSubmitToVS == true)
	{
		string[] pathVer;
		if (Model.PaperEntryType != "Notice")
		{
			pathVer = Model.QuestionId.GetFileOfOnlineMember().Split(',');
		}
		else
		{

			pathVer = Model.NoticeId.GetFileOfOnlineMemberNotices().Split(',');
			if (Model.OnLineAttachFileName != null && Model.OnLineAttachFilePath != null)
			{ 
					<div class="profile-info-row">
						<div class="profile-info-name">@Resources.Member.AttachDocument</div>

						<div class="profile-info-value">
							<span><a href="@Model.OnLineAttachFilePath@Model.OnLineAttachFileName" target="_blank">@Model.OnLineAttachFileName</a></span>
						</div>
					</div>
			}
		}
		if (pathVer[0] != "")
		{
					<div class="profile-info-row">
						<div class="profile-info-name">@Resources.Diaries.AttachedPaperByMember: </div>

						<div class="profile-info-value">
							<span id="spnPAByMem" class="">
								<a href="@pathVer[0]@pathVer[1]" target="_blank">@pathVer[1]</a>
								@*<a id="PrintAPaper" style="margin-left: 25%" href="javascript:window.print()" target="_blank">@Resources.Diaries.PrintForCorrection</a>*@
							</span>
						</div>
					</div>
		}

	}

				<div class="profile-info-row">
					<div class="profile-info-name">@Resources.Committee.PapertobeLaid: </div>

					<div class="profile-info-value">
						@if (Model.FileName != null && Model.FilePath != null)
	  {
						
							<span id="spnPapertobeLaid" class="">
								@if (Model.PaperEntryType != "Notice")
		{
									<a href="@Url.Action("DisplayQuestionPDFByID", "Diaries", new { id = Model.QuestionId, PaperType = Model.PaperEntryType })"  target="_blank">@Model.FileName</a>
		}
		else if (Model.PaperEntryType == "Notice")
		{
									<a href="@Url.Action("DisplayQuestionPDFByID", "Diaries", new { id = Model.NoticeId, PaperType = Model.PaperEntryType })"  target="_blank">@Model.FileName</a> 
		}

							</span>


					 
		if (Model.QuestionStatus != 3 && Model.QuestionStatus != 7)
		{
							<a id="AChangePaper" style="margin-left: 25%" href="#" target="_blank" onclick="return ChangePaper();">@Resources.Diaries.ChangePaper</a>
		}
        
        

	  }
 
						<span id="spnPaperupload" style="display: none" class="">
							<input type="file" name="file" id="filePaerLaid" tabindex="8" accept="application/pdf" />
							<span id="fileErr" style="color: red"></span>
						</span>

					</div>
				</div>
                @if (Model.IsOnlineSubmitted == true)
                {
                if (Model.QuestionTypeId == 2 || Model.QuestionTypeId == 1)
	{
					<div class="profile-info-row">
						<div class="profile-info-name">Print taken: </div>

						<div class="profile-info-value">
                            @if(Model.IsPrinted ==false)
                            {
                            <button class="btn btn-info" id="ChkisPrint" type="button" onclick="Isprinted('@Model.QuestionId');">
                                Confirm
                            </button>
                            }
                            else{
                            <span id="fileprinttaken" style="color: red">Print Taken</span>
                            }						
						</div>
					</div>
    }
    if(Model.NoticeId!=0){
    <div class="profile-info-row">
						<div class="profile-info-name">Print taken: </div>

						<div class="profile-info-value">
                            @if (Model.IsNoticePrinted == false)
                            {
                            <button class="btn btn-info" id="ChkisPrintforNotice" type="button" onclick="IsprintedForNotice('@Model.NoticeId');">
                                Confirm
                            </button>
                            }
                            else
                            {
                            <span id="fileprinttakenFornotice" style="color: red">Print Taken</span>
                            }						
						</div>
					</div>
    }}
              
				@*  @if (Model.FileName == null && Model.FilePath == null)
                {
                    *@
				<div id="divBtnUpload" style="display: none" class="profile-info-row">
					<div class="profile-info-name"></div>

					<div class="profile-info-value">
						<button type="button" class="btn btn-primary" name="SavefileButton" tabindex="6" id="Save" value="Save" onclick="SaveFile();">
							<i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
							@Resources.Diaries.Save
						</button>
					</div>
				</div>
				@*}*@
			</div>
		</div>
	</div>
 

   }
}
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>

<script>

    function Isprinted(Qid) {
        bootbox.confirm("Are You sure Print is Taken?", function (result) {
            if (result == true) {
                var pathurl = '/Notices/Diaries/IsPrintTaken';
                $.ajax({
                    type: "GET",
                    url: pathurl,
                    data: { QuesId: Qid },
                    beforeSend: function () {
                        $('#loader-wrapper').show();
                    },
                    success: function (data) {
                        if (data) {
                            $("#loader-wrapper").hide();
                            //$('#ReplyPendencyDetail').modal('show');
                            $("#RightSidebar").html("")
                            $("#RightSidebar").html(data)
                            ShowNotification("success", "Data updated successfully");                            
                            
                        } else { alert("error"); }
                    },
                    error: function (error) {
                        //$('#NewPendencyReply').modal('show');
                    },
                    complete: function (results) {
                        $('#loader-wrapper').hide();
                        //setTimeout(function () {
                        //    $('#divMsg').slideUp("slow");
                        //}, 6000);
                    }
                });
            }
        });
    }

    function IsprintedForNotice(Qid) {
        bootbox.confirm("Are You sure Print is Taken?", function (result) {
            if (result == true) {
                var pathurl = '/Notices/Diaries/IsprintedForNotice';
                $.ajax({
                    type: "GET",
                    url: pathurl,
                    data: { NoticeId: Qid },
                    beforeSend: function () {
                        $('#loader-wrapper').show();
                    },
                    success: function (data) {
                        if (data) {
                            $("#loader-wrapper").hide();
                            //$('#ReplyPendencyDetail').modal('show');
                            $("#RightSidebar").html("")
                            $("#RightSidebar").html(data)
                            ShowNotification("success", "Data updated successfully");

                        } else { alert("error"); }
                    },
                    error: function (error) {
                        //$('#NewPendencyReply').modal('show');
                    },
                    complete: function (results) {
                        $('#loader-wrapper').hide();
                        //setTimeout(function () {
                        //    $('#divMsg').slideUp("slow");
                        //}, 6000);
                    }
                });
            }
        });
    }

    function SaveFile() {
        
		//debugger
        var Doc = document.getElementById('filePaerLaid').value;
       
		var IsQInPart;

		if ($("#ChkIsQuesPart").is(':checked')) {
			IsQInPart = true;
		}
		else {
			IsQInPart = false;
		}
		if (Doc == null || Doc == "") {
			$("#fileErr").html("No Document Selected !")
		}
		else {

			$("#fileErr").html("")
			var QuesId = '@Model.QuestionId'
		    var fd = new FormData();
		    //fd.append('file', file.files[0]);
		    fd.append('file', ($("#filePaerLaid"))[0].files[0]);		   
		    fd.append('QuestionId', '@Model.QuestionId')
		    fd.append('NoticeId', '@Model.NoticeId')
		    fd.append('QuestionTypeId', '@Model.QuestionTypeId')
			fd.append('AssemblyID', '@Model.AssemblyID')
			fd.append('SessionID', '@Model.SessionID')
			fd.append('IsOnline', '@Model.IsSubmitToVS')
		    fd.append('IsQuestionInPart', IsQInPart)
		    
			var xhr = new XMLHttpRequest();
			xhr.open('POST', '/Notices/Diaries/SaveFile', true);
			xhr.onreadystatechange = function (data) {
				if (xhr.readyState == 4 && xhr.status == 200) {
					var ret = xhr.responseText;
					//alert(ret);
					if (QuesId != 0) {
						$.ajax({
							url: "/Notices/Diaries/GetQuestionDetails",
							type: 'GET',
							data: {
								QuesId: '@Model.QuestionId'

							},
							success: function (data) {
								$("#RightSidebar").html(data)
								//cl.hide();

							}
						});

					}
					else {

						$.ajax({
							url: "/Notices/Diaries/GetNoticeDetails",
							type: 'GET',
							data: {
								NtsId: '@Model.NoticeId'

							},
							success: function (data) {
								$("#RightSidebar").html(data)
								//cl.hide();

							}
						});
				}

					//cl.hide();
			}
			else {
					//cl.hide();
			}
			};
		xhr.send(fd);


	};
}

function ChangePaper() {
	$("#spnPapertobeLaid").css("display", "none");
	$("#spnPaperupload").css("display", "block");
	$("#divBtnUpload").css("display", "table-row");
	$("#AChangePaper").css("display", "none");
	return false;
}

$(document).ready(function () {
        
    $(':file').change(function () {
        for (var i = 0; i < this.files.length; ++i) {
            var name = this.files.item(i).name;
            var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp', 'pdf', 'doc', 'docx'];
            var Extension = name.split('.').pop().toLowerCase();
            if ($.inArray(Extension, fileExtension) == -1) {
                alert(name + " is not valid format. Only '.jpeg','.jpg', '.png', '.gif', '.bmp','doc','docx','pdf' formats are allowed.");
                $(':file').val("");
                return false;
            }
        }
    });
})


function get(type) {
    alert(type)
    //$.ajaxSetup({ cache: false });
    //$.ajax({
    //    url: "/Notices/Diaries/GetPaperEntry",
    //    type: 'GET',
    //    data: { AssemId: AId, SessId: SId, EntryType: type },
    //    success: function (data) {
    //        $("#divCreatNew").html(data)
    //        $("#divShowMessage").hide()
    //    }
    //});
}


function GetDataByID(rowId) {
    $.ajax({
        url: "/Notices/Diaries/GetDataQuestionID",
        type: 'GET',
        data: {
            questionID: rowId,
        },
        success: function (data) {          
            if (data) {
                $("#RightSidebar").html("");
                $("#RightSidebar").html(data)
            } else { alert("error"); 
        }
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.responseText);
            alert(thrownError);
        }
    });
}

function GetDataForNotice(rowId) {
    $.ajax({
        url: "/Notices/Diaries/GetNoticeDetailsForUpdate",
        type: 'GET',
        data: {
            NtsId: rowId,
        },
        success: function (data) {
            if (data) {
                $("#RightSidebar").html("");
                $("#RightSidebar").html(data)
            } else {
                alert("error");
            }
        },
        error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.responseText);
            alert(thrownError);
        }
    });
}

</script>


