﻿@model SBL.eLegistrator.HouseController.Web.Areas.eFile.Models.eFileViewModel
<style>
          
    
    .fileMain1{
        color: #000;
        height: 650px;
        width: 550px; 
        background: url(/Content/img/file_text_red.jpg) repeat 0 0 transparent;  
        position: relative;
    }

    .filePosition {

    }
    .footer {
        padding-top: 160px;
    }
     .file_main_header{ font-weight: bold; font-size:.4cm; text-align: center; }
</style>

    

        <!-- /section:settings.box -->

@using (Html.BeginForm("AddeFile", "eFile", FormMethod.Post))
{
    <div class="filePosition">
    <div class="fileMain1">
        <div >
             <div>            
                            <div class="fileMain1">
                            <div class="file_main_header">
                                    <div class="file_head_Title" style="font-size:29px;">
                                        हिमाचल प्रदेश सरकार
                                    </div>
                                    <div class="file_head_year" style="font-size: 18px;">2009-2010</div>
                                    <div class="file_subhead_first">" विकास ओर प्रगती का आधार "</div>
                                    <div class="file_subhead_second">| | पदा लिखा ओर छोटा  परिवर  | |</div>
                                    <div >
                                        <img src="" />
                                    </div>
                                </div>
                                <hr  style="color:black;margin-top: 0px;margin-bottom: 0px;"/>
                                <div class="wrapper">
                                    <table style="border-spacing:20px;border-collapse: inherit;">
                                        <tr>
                                            <td style="font-weight: normal;font-size: 14px;text-align:right;text-decoration: underline;">
                                                @*<label class="col-sm-3 control-label no-padding-right" for="Name">Department(विभाग)</label>*@
                                                Department (विभाग)
                                            </td>
                                            <td style="padding: 0px 0px 0px 11px;">:</td>
                                            <td >
                                                @Html.DropDownListFor(model=>model.DepartmentId,Model.DepartmentList,"-Select Department-", new { @style = "width:321px; font-family: Arial, Helvetica, sans-serif;font-style: normal;font-size: 13px;background-color: rgb(236, 232, 232);" })
                                            </td>
                                        </tr>
                                    
                                        <tr>
                                            <td style="font-weight: normal;font-size: 14px;text-align:right;text-decoration: underline;">
                                                @*<label class="col-sm-3 control-label no-padding-right" for="Name">Office(कार्यालय)</label>*@
                                                Office (कार्यालय)
                                            </td>
                                            <td style="padding: 0px 0px 0px 11px;">:</td>
                                            <td >
                                                 <select class="col-xs-10 col-sm-5" style = "width:321px; font-family: Arial, Helvetica, sans-serif;font-style: normal;font-size: 13px;background-color: rgb(236, 232, 232);">
                                                    <option value="0">Office</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: normal;font-size: 14px;text-align:right;text-decoration: underline;">                                 
                                                File No (नस्ती सं)
                                            </td>
                                            <td style="padding: 0px 0px 0px 11px;">:</td>
                                            <td  >
                                               @*<input type="text"  class="col-xs-10 col-sm-5"  style="width: 321px;">*@
                                                @Html.TextBoxFor(model => model.eFileNumber, new { @class="col-xs-10 col-sm-5" , @style="width: 321px;height: 33px;background-color: rgb(236, 232, 232);"})
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: normal;font-size: 14px;text-align:right;text-decoration: underline;">                                                
                                                @*<label class="col-sm-3 control-label no-padding-right" for="Name">Subject(विषय)</label>*@
                                                Subject (विषय)
                                            </td>
                                            <td style="padding: 0px 0px 0px 11px;">:</td>
                                            <td  >
                                                @*<input type="text" class="col-xs-10 col-sm-5"  style="width: 321px;">*@
                                                @Html.TextAreaFor(model => model.eFileSubject, new {@class="col-xs-10 col-sm-5" , @style="width: 321px;height: 63px;background-color: rgb(236, 232, 232);" })
                                            </td>
                                        </tr>
                                       @* <tr>
                                            <td style="vertical-align: top;">
                                                <div class="file_left_vishy">विषय </div>
                                            </td>
                                            <td>
                                                <table class="file_underline">
                                                    <tr>
                                                        <td width="100%">
                                                            <div class="file_text_area">ss </div>
                                                            <span style="color: red" id="MsgeFileSubject"></span></td>
                                                    </tr>
                                                    <tr>
                                                        <td width="100%">
                                                            <div class="file_text_area">
                                                                <input type="text" name="o"></div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="100%">
                                                            <div class="file_text_area">
                                                                <input type="text" name="o">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>*@
                                    </table>

                                    <!--Widget start here-->

                                    <!--Widget end here-->
                                  
                                </div>
                               
                             
                                <div class="wrapper">
                                <div class="file_bottom_section">
                                    <table class="file_bottom_section_table" style="width: 92%;margin: 0px 34px;">
                                        <tr>
                                            <td  style="font-weight: normal;font-size: 14px;text-decoration: underline;">                                                
                                                @*<label class="col-sm-3 control-label no-padding-right" for="Name">Pre - context(पूर्व - सदर्भ)</label>*@
                                                Pre - context(पूर्व - सदर्भ)
                                            </td>
                                            <td style="font-weight: normal;font-size: 14px;text-decoration: underline;">                                                
                                                @*<label class="col-sm-3 control-label no-padding-right" for="Name">Future - context(भविष्य  - सदर्भ )</label>*@
                                                Future - context(भविष्य  - सदर्भ )
                                            </td>
                                        </tr>
                                        <tr>
                                            <td >
                                               @* <textarea  style="width:100%" cols="0" rows="0"></textarea>*@
                                                @Html.TextAreaFor(model => model.OldDescription, new {@style="width: 224px;background-color: rgb(236, 232, 232);", cols="5px", rows="5px"})

                                            </td>
                                            <td style="padding-left: 0px;">
                                                @*<textarea  style="width:100%" cols="0" rows="0"></textarea>*@
                                                @Html.TextAreaFor(model => model.NewDescription, new {@style="width:94%;background-color: rgb(236, 232, 232);", cols="5px", rows="5px" })
                                            </td>
                                        </tr>
                                    </table>
                                   
                                    </div>
                                </div>

                                  <div class="space-2"></div> <div class="space-2"></div> <div class="space-2"></div> 
                                 <div class="btn-group pull-right padding-10">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->
                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        @Resources.MasterDataDashboard.Save</button>                                     
                                    <button type="reset" class="btn btn-sm btn-info">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        @Resources.MasterDataDashboard.Reset
                                    </button>
                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>


                                
                            </div>


                            <!-- /.row -->
                        



        </div>
        </div>
    </div>
       
    
</div>
        }
   