﻿@using SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models
@model  IEnumerable<SBL.DomainModel.Models.Library.mDebateInfo>
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    @Html.Partial("/Areas/SuperAdmin/Views/Shared/_BreadcrumbsPartial.cshtml")
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "DebateInfo")">@Resources.MasterDataDashboard.Home</a>
            </li>

            <li>
                <a href="@Url.Action("Index", "DebateInfo")">Debate Information</a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.List</li>
        </ul>

    </div>
    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->


        <!-- /section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
            <button class="btn  btn-sm btn-info" onclick="CreateDebateInfo(0,'Add');">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                <span class="bigger-110">@Resources.MasterDataDashboard.New</span>
            </button>
        </div>
        <div class="page-header">
            <h1>Debate Information
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.List
                </small>
            </h1>
        </div>
        <div id="Menu">
            <div class="row">
                <div class="col-xs-12">
                    <div id="divDataContainer">
                        @{Html.RenderPartial("~/Areas/Library/Views/DebateInfo/_DebateInfoList.cshtml", Model);}
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@
            </div>
            <!-- /section:basics/footer -->
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>
    <div class="space-6"></div>
</div>

<script src="~/assets/js/bootbox.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {

        //$("#BillReimbursement").addClass("active open");
        //$("#BillReimbursementSubMenu").addClass("nav-show").css("display", "block");
        //$("#TravelBill").addClass("active");
        //$("#BillReimbursementIcon").removeClass("fa-comment").addClass("fa-comment-o");
    });

    function CreateDebateInfo(Id, Action) {


        $.ajax({
            type: "POST",
            url: '/DebateInfo/PopulateDebateInfo',
            data: '{ Id: "' + Id + '",Action: "' + Action + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#SaleCounterDiv').empty();
                $('#SaleCounterDiv').append(result);
                $('#SaleCounterModel').modal('show');
            },
            error: function (error) {
                $('#SaleCounterDiv').empty();
                $('#SaleCounterDiv').append(error.responseText);
                $('#SaleCounterModel').modal('show');

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }



    function tooltip_placement(context, source) {
        var $source = $(source);
        var $parent = $source.closest('table')
        var off1 = $parent.offset();
        var w1 = $parent.width();
        var off2 = $source.offset();
        //var w2 = $source.width();
        if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
        return 'left';
    }


    $(document).on('click', '#UpdateDebateInfo', function (e) {

        $('.ErrorMessage').remove('');
        var IsValid = true;
        debugger;
        if ($('#Title').val().trim() == '') {
            $('#Title').css("border", "1px solid red");
            $('#Title').after("<span class='ErrorMessage'> Title  Required</span>");
            $('#Title').focus();
            IsValid = false;
        }
        if ($('#Khand').val().trim() == '') {
            $('#Khand').css("border", "1px solid red");
            $('#Khand').after("<span class='ErrorMessage'> Khand  Required</span>");
            $('#Khand').focus();
            IsValid = false;
        }

        if ($('#Ank').val().trim() == '') {
            $('#Ank').after("<span class='ErrorMessage'>  Ank  Required</span>");
            $("#Ank").css("border", "1px solid red");
            $('#Ank').focus();
            IsValid = false;
        }
        if ($('#DateOfDebateE').val().trim() == '') {
            $('#DateOfDebateE').after("<span class='ErrorMessage'>Date of Debate is Required</span>");
            $("#DateOfDebateE").css("border", "1px solid red");
           // $('#DateOfDebateE').focus();
            IsValid = false;

        }
        if ($('#HindiDate').val().trim() == '') {

            $('#HindiDate').after("<span class='ErrorMessage'>Hindi Date  is required</span>");
            $("#HindiDate").css("border", "1px solid red");
            $('#HindiDate').focus();
            IsValid = false;
        }
        if ($('#HindiDate').val().trim() != '' && $('#HindiDate').val().trim().length > 2 != '') {

            $('#HindiDate').after("<span class='ErrorMessage'>Hindi Date must be of 2 digits</span>");
            $("#HindiDate").css("border", "1px solid red");
            $('#HindiDate').focus();
            IsValid = false;
        }

        if ($('#HindiMonth').val().trim() == '') {

            $('#HindiMonth').after("<span class='ErrorMessage'>Hindi Month is required</span>");
            $("#HindiMonth").css("border", "1px solid red");
            $('#HindiMonth').focus();
            IsValid = false;
        }
        if ($('#HindiMonth').val().trim() != '' && $('#HindiMonth').val().trim().length > 15 != '') {

            $('#HindiMonth').after("<span class='ErrorMessage'>Hindi Month must be of 15 digits</span>");
            $("#HindiMonth").css("border", "1px solid red");
            $('#HindiMonth').focus();
            IsValid = false;
        }
        if ($('#HindiYear').val().trim() == '') {

            $('#HindiYear').after("<span class='ErrorMessage'>Hindi Year is required</span>");
            $("#HindiYear").css("border", "1px solid red");
            $('#HindiYear').focus();
            IsValid = false;
        }
        if ($('#HindiYear').val().trim() != '' && $('#HindiYear').val().trim().length > 4 != '') {

            $('#HindiYear').after("<span class='ErrorMessage'>Hindi year must be of 4 digits</span>");
            $("#HindiYear").css("border", "1px solid red");
            $('#HindiYear').focus();
            IsValid = false;
        }
        if ($('#HindiYear').val().trim() != '' && $('#HindiYear').val().trim().length < 4 != '') {

            $('#HindiYear').after("<span class='ErrorMessage'>Hindi year must be of 4 digits</span>");
            $("#HindiYear").css("border", "1px solid red");
            $('#HindiYear').focus();
            IsValid = false;
        }
        if ($('#AccessionNumber').val().trim() == '') {

            $('#AccessionNumber').after("<span class='ErrorMessage'>Accession Number is required</span>");
            $("#AccessionNumber").css("border", "1px solid red");
            $('#AccessionNumber').focus();
            IsValid = false;
        }
        else if (!$.isNumeric($('#AccessionNumber').val())) {
            $('#AccessionNumber').css("border", "1px solid red");
            $('#AccessionNumber').after("<span class='ErrorMessage'> Accession Number  numeric only</span>");
            $('#AccessionNumber').focus();
            IsValid = false;
        }
        if ($('#Pages').val().trim() == '') {

            $('#Pages').after("<span class='ErrorMessage'>Pages is required</span>");
            $("#Pages").css("border", "1px solid red");
            $('#Pages').focus();
            IsValid = false;
        }
        else  if (!$.isNumeric($('#Pages').val())) {
            $('#Pages').css("border", "1px solid red");
            $('#Pages').after("<span class='ErrorMessage'> Pages  numeric only</span>");
            $('#Pages').focus();
            IsValid = false;
        }
        if ($('#Assembly').val().trim() == '') {

            $('#Assembly').after("<span class='ErrorMessage'>Assembly is required</span>");
            $("#Assembly").css("border", "1px solid red");
            $('#Assembly').focus();
            IsValid = false;
        }
        if ($('#Session').val().trim() == '') {

            $('#Session').after("<span class='ErrorMessage'>Session is required</span>");
            $("#Session").css("border", "1px solid red");
            $('#Session').focus();
            IsValid = false;
        }
        //if ($('#Rack').val() == '' || $('#Rack').val() == '0') {

        //    $('#Rack').after("<span class='ErrorMessage'>Rack is required</span>");
        //    $("#Rack").css("border", "1px solid red");
        //    $('#Rack').focus();
        //    IsValid = false;
        //}
        if ($('#Building').val().trim() == '') {

            $('#Building').after("<span class='ErrorMessage'>Building is required</span>");
            $("#Building").css("border", "1px solid red");
            $('#Building').focus();
            IsValid = false;
        }
        if ($('#Floor').val().trim() == '') {

            $('#Floor').after("<span class='ErrorMessage'>Floor is required</span>");
            $("#Floor").css("border", "1px solid red");
            $('#Floor').focus();
            IsValid = false;
        }
        if ($('#Almirah').val().trim() == '') {

            $('#Almirah').after("<span class='ErrorMessage'>Almirah is required</span>");
            $("#Almirah").css("border", "1px solid red");
            $('#Almirah').focus();
            IsValid = false;
        }
        if (  $('#Rack').val() != '' && !$.isNumeric($('#Rack').val()) ) {

            $('#Rack').after("<span class='ErrorMessage'> Quantity is required</span>");
            $('#Rack').css("border", "1px solid red");
            $('#Rack').focus();
            IsValid = false;
        }
     


        if (IsValid == true) {

            var QData = $('#DebateInfoForm').serialize();
            e.preventDefault();
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '/DebateInfo/SaveDebateInfo',
                data: QData,
                beforeSend: function () {
                    $('#SaleCounterModel').modal('hide');
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result);

                },
                error: function (result) {

                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result.responseText);

                },

                complete: function (result) {
                    $('#loader-wrapper').hide();
                }
            });
        }
    });

    function DeleteDebateDebateInfo(Id) {
        $.ajax({
            type: "POST",
            url: '/DebateInfo/DeleteDebateInfo',
            data: '{ Id: "' + Id + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(result);
            },
            error: function (result) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(result.responseText);
            },
            complete: function (result) {
                $('#loader-wrapper').hide();
            }
        });
    }
</script>

<!--Create Sale Counter Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="SaleCounterModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="SaleCounterModalTitle">Debate Information</h4>
            </div>
            <form method="post" action="/SchemeSetup/SaveQualification" id="DebateInfoForm">
                <div class="modal-body">
                    <div id="SaleCounterDiv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="UpdateDebateInfo" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
