﻿<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }
</style>
<link href="~/assets/css/datepicker.css" rel="stylesheet" />
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    @Html.Partial("/Areas/SuperAdmin/Views/Shared/_BreadcrumbsPartial.cshtml")
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "DebateInfo")">@Resources.MasterDataDashboard.Home</a>
            </li>

            <li>
                <a href="@Url.Action("LocateDebateInfo", "DebateInfo")">Debate Information </a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.List</li>
        </ul>

    </div>
    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->
        <!-- /section:settings.box -->

        <div class="page-header">
            <h1>Locate Debate Information
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.List
                </small>
            </h1>
        </div>

        <!-- /section:settings.box -->
        <div id="Menu">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive ">
                        <table class="table">
                            <tr class="info">

                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="Khand">Title</label>
                                        @Html.DropDownList("Title", new SelectList(ViewBag.TitleType, "Value", "Text"), new { @class = "col-xs-10 col-sm-10 RemoveDdlBorder" })
                                    </div>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="Khand">Khand</label>
                                        <input type="text" id="txtKhand" placeholder="Khand" class="col-md-10 col-sm-5" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="Title">Ank </label>
                                        <input type="text" id="txtAnk" placeholder="Ank" class="col-md-10 col-sm-5" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="DateOfDebateE">Date of Debate From</label>
                                        <input type="text" id="txtDateOfDebateFrom" placeholder="Date of Debate From" class="col-md-10 col-sm-5 datepicker" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="DateOfDebateTo">Date of Debate To</label>
                                        <input type="text" id="txtDateOfDebateTo" placeholder="Date of Debate To" class="col-md-10 col-sm-5 datepicker" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="From">Assembly</label>
                                        <input type="text" id="txtAssembly" placeholder="Assembly" maxlength="2" class="col-md-10 col-sm-5" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="Session">Session (Satra)</label>
                                        <input type="text" id="txtSession" placeholder="Session" maxlength="2" class="col-md-10 col-sm-5 " />
                                    </div>
                                </td>
                            </tr>
                            <tr class="info">
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="HindiDate">Hindi Date(only Day)</label>
                                        <input type="text" id="txtHindiDate" placeholder="HindiDate" class="col-md-10 col-sm-5" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="HindiMonth">Hindi Month</label>
                                        <input type="text" id="txtHindiMonth" placeholder="Hindi Month" class="col-md-10 col-sm-5 " />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="HindiYear">Hindi Year</label>
                                        <input type="text" id="txtHindiYear" placeholder="Hindi Year" class="col-md-10 col-sm-5 " />
                                    </div>
                                </td>


                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="Price To">Building</label>
                                        <input type="text" id="txtBuilding" placeholder="Building" class="col-md-10 col-sm-5 " />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="Source">Floor</label>
                                        <input type="text" id="txtFloor" placeholder="Floor" class="col-md-10 col-sm-5 " />
                                    </div>
                                </td>

                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="From">Almirah</label>
                                        <input type="text" id="txtAlmirah" placeholder="Almirah" class="col-md-10 col-sm-5" />
                                    </div>
                                </td>


                                <td>
                                    <div class="form-group">
                                        <div class="space-12"></div>
                                        <button class="btn btn-sm btn-primary btn-bold" id="btnSearch">
                                            <i class="ace-icon fa fa-search bigger-150"></i>
                                            <span class="bigger-110">Search</span>
                                        </button>
                                    </div>

                                </td>
                            </tr>
                        </table>

                        <!-- PAGE CONTENT BEGINS -->
                        <div class="alert alert-block alert-danger" id="AlertDiv" style="display: none;">
                            <strong><i class="ace-icon fa fa-check-square-o"></i>Error! </strong><span id="MsgSpan">Please select at least one field </span>
                        </div>
                        <div id="tablecontainer">
                        </div>

                        <!-- /.col -->
                    </div>

                </div>
                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@
            </div>
            <!-- /section:basics/footer -->
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>


<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "mm/dd/yyyy"
        });

    });

    $(document).on('click', '#btnSearch', function (e) {

        var Title = $('#Title').val();
        var Khand = $('#txtKhand').val();
        var Ank = $('#txtAnk').val();
        var DateOfDebateFrom = $('#txtDateOfDebateFrom').val();
        var DateOfDebateTo = $('#txtDateOfDebateTo').val();
        var HindiDate = $('#txtHindiDate').val();
        var HindiMonth = $('#txtHindiMonth').val();
        var HindiYear = $('#txtHindiYear').val();

        var Assembly = $('#txtAssembly').val();
        var Session = $('#txtSession').val();


        var Building = $('#txtBuilding').val();
        var Floor = $('#txtFloor').val();
        var Almirah = $('#txtAlmirah').val();

        $('#AlertDiv').hide();
        $('.ErrorMessage').remove('');
        var IsValid = true;

        if (Khand == '' && Ank == '' && DateOfDebateFrom == '' && DateOfDebateTo == '' && HindiDate == '' && HindiYear == '' && Assembly == '' && Session == '' && HindiYear == ''
         && Building == '' && Floor == '' && Almirah == '') {
            $('#AlertDiv').css("border", "1px solid red");
            $('#AlertDiv').show();
            IsValid = false;
        }

        if ($('#txtDateOfDebateFrom').val().trim() != '' && $('#txtDateOfDebateTo').val().trim() == '') {
            $('#txtDateOfDebateTo').css("border", "1px solid red");
            $('#txtDateOfDebateTo').after("<span class='ErrorMessage'><br> Please Fill it</span>");
            $('#txtDateOfDebateTo').focus();
            IsValid = false;
        }
        if ($('#txtDateOfDebateFrom').val().trim() != '' && $('#txtDateOfDebateTo').val().trim() != '') {
            if (Date.parse($('#txtDateOfDebateFrom').val().trim()) > Date.parse($('#txtDateOfDebateTo').val().trim())) {
                $('#txtDateOfDebateTo').css("border", "1px solid red");
                $('#txtDateOfDebateTo').after("<span class='ErrorMessage'><br> Date of Debate To must be greate than Price From </span>");
                //$('#txtDateOfDebateTo').focus();
                IsValid = false;
            }
        }


        if (IsValid == true) {
            $.ajax({
                type: "POST",
                url: '/Library/DebateInfo/LocateDebateInfoResult',
                data: '{ Title: "' + Title + '",Khand: "' + Khand + '", Ank: "' + Ank + '",DateOfDebateFrom: "' + DateOfDebateFrom + '",DateOfDebateTo: "' + DateOfDebateTo + '",HindiDate: "' + HindiDate + '", HindiMonth: "' + HindiMonth + '",HindiYear: "' + HindiYear + '", Assembly: "' + Assembly + '", Session: "' + Session + '",Building: "' + Building + '", Floor: "' + Floor + '", Almirah: "' + Almirah + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(result);

                },
                error: function (error) {
                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(error.responseText);

                },
                complete: function (results) {
                    $('#loader-wrapper').hide();

                }
            });
        }
    });

</script>

