﻿@model  IEnumerable<SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.mMemberViewModel>
@{
    var count = 0;   
}
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="pass-table">


            @if (Model != null)
            {
                if (Model.Count() > 0)
                {       
                                
                          
                <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                    <thead>
                        <tr role="row">

                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" onclick="javascript:window.location.href=' /SuperAdmin/Member/Index';">@Resources.MasterDataDashboard.SNo</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">@Resources.MasterDataDashboard.StateName</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">@Resources.MasterDataDashboard.DistrictName</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.MemberName</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.MemberName1</th>

                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">@Resources.MasterDataDashboard.MemberCode</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Date of Birth</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Highest Qualification</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">@Resources.MasterDataDashboard.Photo</th>
                            <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                        </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        @foreach (var item in Model)
                        {
                            count = count + 1;  
                            <tr>
                                <td class="center">
                                    @count
                                </td>
                                <td style="width: 10%">@item.GetStateName</td>
                                <td style="width: 13%">@item.GetDistrictName</td>
                                <td style="width: 15%">@item.Prefix     @item.Name</td>
                                <td style="width: 15%">@item.NameLocal</td>
                                <td style="width: 7%">@item.MemberCode</td>
                                <td style="width: 10%">@item.memdob</td>
                                <td style="width: 10%">@item.GetHighestQualificationName</td>
                                <td style="width: 10%">
                                    <div class="gallery_thumb_image">
                                        <img src="@Url.Content(item.ImageLocation)"   class="padded center gThumbimage" height="50"  />
                                    </div>
                                </td>
                                <td class="center" style="width: 10%">
                                    <div class="hidden-sm hidden-xs action-buttons">

                                        @*<a data-rel="tooltip" class="green tooltip-success" title="Edit"  href="@Url.Action("EditMember", "Member", new { Id = item.MemberID })">
                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                    </a>*@

                                        <a data-rel="tooltip" class="green tooltip-success" title="Edit"  href="@Url.Action("EditMember", "Member", new { Id = SBL.eLegistrator.HouseController.Web.Extensions.EncryptionUtility.Encrypt(item.MemberID.ToString()) })">
                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                        </a>
                                        <a data-rel="tooltip" class="red tooltip-error DeleteMember" title="Delete" id="@item.MemberID"  href="@Url.Action("DeleteMember", "Member", new { Id = item.MemberID })">
                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                        </a>
                                    </div>

                                    <div class="hidden-md hidden-lg">
                                        <div class="inline position-relative">
                                            <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                                                <li>
                                                    <a  href="@Url.Action("EditMember", "Member", new { Id = item.MemberID })" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                        </span>
                                                    </a>

                                                </li>

                                                <li>
                                                    <a  href="@Url.Action("DeleteMember", "Member", new { Id = item.MemberID })"  class="tooltip-error DeleteMember" data-rel="tooltip" title="Delete">
                                                        <span class="red">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </span>
                                                    </a>

                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>                                                                
                        }

                    </tbody>
                </table>
                <!-- PAGE CONTENT ENDS -->
                }
                else
                {
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-info">

                            <strong>No Member Record Found</strong><br />


                        </div>
                    </div>
                </div>
                }
            }

        </div>

        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<script>
    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        .dataTable({
            bAutoWidth: true,
            "aLengthMenu": [[50, 100, 200, 400, -1], [50, 100, 200, 400, "All"]],
            "iDisplayLength": 50,
            "aoColumns": [
              { "bSortable": false },
              null, null, null, null, null, null, null, null,
              { "bSortable": false }
            ]

        });

        //oTable1.fnSort([[3, 'asc']]);

        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })

    $(".DeleteMember").on('click', function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        var id = $(this).attr('id');
        var path = "@Url.Action("CheckMemberChildExist", "Member")";

        var request = $.ajax({

            url: path,
            data: { MemberID: id },
            success: function (result) {
                //alert(result);
                if (!result) {

                    bootbox.confirm('@Resources.MasterDataDashboard.Areyousurewanttodelete', function (confresult) {

                        if (confresult) {

                            window.location.href = url;
                        }

                    })
                }
                else {

                    bootbox.alert('@Resources.MasterDataDashboard.ThisMemberisAlreadyExisted');
                }
            }


        });
    });





    $(".gThumbimage").click(function () {

        var imagesrc = $(this).attr("src");
        var modalBody = "<img width='598' height='300' src='" + imagesrc + "' />";
        $('#modal-body').attr('style', 'padding:20px;width:300px;height:300px;');
        $('#modal-body').html(modalBody);


        $('#modal').modal('show');


    });

    //$('#txtSearchBill').on("keyup", function () {

    //    var search = parseInt($('#txtSearchBill').val());
    //    GetSearchList(search);
    //});
</script>
