﻿@model SBL.DomainModel.Models.OTP.tOTPDetails

<table id="otpTable">
    <tr><td>
        Refrence ID:
        </td><td>
        @Model.OTPid
    </td></tr>
    <tr><td>OTP:</td><td id="otpvalue">@Model.OTP</td></tr>

</table>