﻿@model SBL.DomainModel.Models.User.mUsers



@*<link href="~/Content/MultiSelectList/multiple-select.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
@*@Styles.Render("~/bundles/jQueryCss")*@

@Scripts.Render("~/bundles/validations")
@Scripts.Render("~/bundles/Ajax")
@Scripts.Render("~/bundles/multipleCheckDropDown")
@Styles.Render("~/bundles/jQueryCss")
@Styles.Render("~/bundles/multipleCheckDropDownCSS")

<div class="page-content">
    <!-- #section:settings.box -->


    <!-- /section:settings.box -->
    <div class="row">

        <div class="page-header">
            <h2>
                @Resources.UserRegistration.UpDateUserProfile
            </h2>
        </div>
        <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
        @using (Html.BeginForm("SaveUpdatedUserDetails", "UserRegistration", FormMethod.Post, new { @id = "UserRegistrationForm", @class = "form-horizontal", @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div style="text-align: center">
                @Html.HiddenFor(m => m.DeptId, new { @id = "DdlDepartment" })
                @Html.HiddenFor(m => m.UserId, new { @id = "UserId" })
                @Html.HiddenFor(m => m.SecretoryId)
                @Html.HiddenFor(m => m.MobileNo, new { @id = "MobileNo" })
                @Html.HiddenFor(m => m.DscActiveStatus, new { @id = "dscstatus" })
                <input type="hidden" id="dschasExist" />

                @* @if (TempData["submitted"] == "Submitted")
                    {
                        <p style="background-color: yellow; color: red">Record Successfully Submitted</p>
                    }*@
            </div>
            <div class="row">
                <div class="col-xs-12">

                    <div class="col-xs-2">
                        <div class="space-20">
                        </div>
                        <div class="center">
                            <img id="image" src="@Model.Photo" style="width:140px;height:155px;" />
                            <div>
                                <a href="javascript:void(0)" id="changephot">Change Photo</a>
                                <input type="file" name="uploadPhoto" id="uploadPhoto" onchange="fileCheck(this);" style="display: none;" />
                            </div>
                        </div>
                    </div>                   

                    <div class="col-xs-10">

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Employee Code:</label>

                            <div class="col-sm-9" style="margin-top: 5px;">
                                @Html.DisplayFor(m => m.UserName, new { @style = "width: 282px;", id = @Model.UserName })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Aadhar ID:</label>


                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.AadarId, new { @style = "width: 282px;", @maxlength = "12", @onchange = "ChangeAdhar();", @class = "col-xs-10 col-sm-5", @placeholder = "Enter Aadhar Number" })
                                @* , @onkeyup = "this.value=this.value.replace(/[^\\d]/,'');"*@
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserName:</label>
                            <div class="col-sm-9" id="DivName" style="margin-top: 5px;">
                                @Html.DisplayFor(m => m.Name, new { @id = "Name", @class = "lbl" })
                                @Html.HiddenFor(m => m.UserName, new { @id = "UserName" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Father Name:</label>
                            <div class="col-sm-9"  style="margin-top: 5px;">
                                @Html.DisplayFor(m => m.FatherName, new { @id = "FatherName", @class = "lbl" })
                               
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserAddress:</label>
                            <div class="col-sm-9" id="DivAddress" style="margin-top: 5px;">
                                @Html.DisplayFor(m => m.Address, new { @id = "Address", @class = "lbl" })
                            </div>
                        </div>
                        @if (Model.DeptId != "HPD0005")
                        {
                            <div id="secretoryField">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.SecretoryList</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(m => m.SecretoryId, new SelectList(Model.mSecretory, "SecretoryID", "SecretoryName", 0), new { @id = "DdlSecretory", @onchange = "return SecretoyLstChange();", @class = "form-control", @tabindex = "1", @style = "width: 316px" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.DepartmentList</label>
                                    <div class="col-sm-9">

                                        <div id="departmentChkBoxList">

                                            @{
                            if (Model.SecretoryDepartmentModel != null)
                            {
                                if (Model.SecretoryDepartmentModel.Count != 0)
                                {
                                    Html.RenderPartial("_SecretoryDepartment", Model);
                                }
                            }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserMobile<span style="color: red">*</span>:(+91)</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Mobile, new { @style = "width: 282px;", @maxlength = "10", @onchange = "ChangeMobile();", @class = "col-xs-10 col-sm-5", @placeholder = "Mobile Number (9XX XXX XXXX)" })

                                <span class="help-inline col-xs-12 col-sm-7" style="width: 50px;">
                                    @Html.ValidationMessageFor(m => m.Mobile, "", new { @id = "mobId", @style = "color:red" })
                                    <input class="btn btn-minier btn-yellow"type="button" value="@Resources.UserRegistration.GetOTP" onclick="GetOTP();" />
                                </span>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.OTP<span style="color: red">*</span>:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.OTPValue, new { @style = "width: 282px;", @maxlength = "6", @onchange = "CheckOTPByID();", @class = "col-xs-10 col-sm-5", @placeholder = "Enter Generated OTP" })
                                @Html.ValidationMessageFor(m => m.OTPValue, @Model.OTPValue, new { @id = "otpId", @style = "color:red" })
                            </div>
                            <input type="hidden" id="hdnOTPValues" value="" />
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserEmail<span style="color: red">*</span>:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.MailID, new { @id = "MailID", @style = "width: 282px;", @class = "col-xs-10 col-sm-5", @placeholder = "Email (abc@xyz.com)" })
                                @Html.ValidationMessageFor(m => m.MailID, "", new { @id = "mailingId", @style = "color:red" })
                            </div>
                        </div>
                       


                        @if (@Model.UserDscList != null)
                        {
                            if (Model.UserDscList.Count != 0)
                            {
                            <div id="dsclist">

                                @{
                                Html.RenderPartial("_UserDscList", Model.UserDscList);
                                }

                                @*<a id="showDscReg" href="javascript:void(0);">Register New DSC </a>*@
                            </div>
                      

@*<div id="DscRegId" hidden="hidden">*@
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserDSC:</label>
                                <div class="col-sm-9" style="padding-top: 5px;">
                                    @Html.HiddenFor(m => m.DSCHash, new { @id = "DSCHash" })
                                    @Html.HiddenFor(m => m.DSCName, new { @id = "DSCName" })
                                    @Html.HiddenFor(m => m.DSCType, new { @id = "DSCType" })
                                    @Html.HiddenFor(m => m.DSCValidity, new { @id = "DSCValidity" })
                                    @Html.HiddenFor(m => m.OfficeId, new { @id = "OfficeId" })
                                    <div id="DSCHashContainer">
                                        @*  <a href="#" onclick="getHash();"> @Resources.UserRegistration.DSCSelection</a>*@
                                        <input class="btn btn-minier btn-yellow"type="button" value="@Resources.UserRegistration.DSCSelection" onclick="getHash();" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group hide" id="applateResultDiv">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"></label>
                                <div class="col-sm-9">
                                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                        <tr>
                                            <td>@Resources.UserRegistration.DSCName
                                            </td>
                                            <td>@Resources.UserRegistration.DSCType
                                            </td>
                                            <td>Action
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="col-sm-9">
                                                    @Html.Label("DSCName", new { @id = "DSCNameValue" })

                                                </div>

                                            </td>
                                            <td>
                                                <div class="col-sm-9">
                                                    @Html.Label("DSCType", new { @id = "DSCTypeValue" })
                                                </div>

                                            </td>
                                            <td>
                                                <div class="col-sm-9">
                                                    <a id="removeDC" href="javascript:void(0);" onclick="RemoveDSC()">Remove DSC </a>
                                                </div>

                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

@*</div>*@

                            }
                            else
                            {
                         
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserDSC:</label>
                                <div class="col-sm-9">
                                    @Html.HiddenFor(m => m.DSCHash, new { @id = "DSCHash" })
                                    @Html.HiddenFor(m => m.DSCName, new { @id = "DSCName" })
                                    @Html.HiddenFor(m => m.DSCType, new { @id = "DSCType" })
                                    @Html.HiddenFor(m => m.DSCValidity, new { @id = "DSCValidity" })
                                    @Html.HiddenFor(m => m.OfficeId, new { @id = "OfficeId" })
                                    <div id="DSCHashContainer">
                                        @*  <a href="#" onclick="getHash();"> @Resources.UserRegistration.DSCSelection</a>*@
                                        <input class="btn btn-minier btn-yellow"type="button" value="@Resources.UserRegistration.DSCSelection" onclick="getHash();" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group hide" id="applateResultDiv">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"></label>
                                <div class="col-sm-9">
                                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                        <tr>
                                            <td>@Resources.UserRegistration.DSCName
                                            </td>
                                            <td>@Resources.UserRegistration.DSCType
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="col-sm-9">
                                                    @Html.Label("DSCName", new { @id = "DSCNameValue" })

                                                </div>

                                            </td>
                                            <td>
                                                <div class="col-sm-9">
                                                    @Html.Label("DSCType", new { @id = "DSCTypeValue" })
                                                </div>

                                            </td>

                                            <td>
                                                <div class="col-sm-9">
                                                    <a id="removeDC" href="javascript:void(0);" onclick="RemoveDSC()">Remove DSC </a>
                                                </div>

                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>


                            }
                        }
                        else
                        {
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserDSC:</label>
                                <div class="col-sm-9">
                                    @Html.HiddenFor(m => m.DSCHash, new { @id = "DSCHash" })
                                    @Html.HiddenFor(m => m.DSCName, new { @id = "DSCName" })
                                    @Html.HiddenFor(m => m.DSCType, new { @id = "DSCType" })
                                    @Html.HiddenFor(m => m.DSCValidity, new { @id = "DSCValidity" })
                                    @Html.HiddenFor(m => m.OfficeId, new { @id = "OfficeId" })
                                    <div id="DSCHashContainer">
                                        @*  <a href="#" onclick="getHash();"> @Resources.UserRegistration.DSCSelection</a>*@
                                        <input class="btn btn-minier btn-yellow"type="button" value="@Resources.UserRegistration.DSCSelection" onclick="getHash();" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group hide" id="applateResultDiv">
                                @* <label class="col-sm-3 control-label no-padding-right" for="form-field-1"></label>*@
                                <div class="col-sm-9">
                                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                        <tr>
                                            <td>@Resources.UserRegistration.DSCName
                                            </td>
                                            <td>@Resources.UserRegistration.DSCType
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="col-sm-9">
                                                    @Html.Label("DSCName", new { @id = "DSCNameValue" })

                                                </div>

                                            </td>
                                            <td>
                                                <div class="col-sm-9">
                                                    @Html.Label("DSCType", new { @id = "DSCTypeValue" })
                                                </div>

                                            </td>
                                            <td>
                                                <div class="col-sm-9">
                                                    <a id="removeDC" href="javascript:void(0);" onclick="RemoveDSC()">Remove DSC </a>
                                                </div>

                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                @*// } *@



                                @* }*@
                            </div>
                        }





                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="clearfix form-actions">
                    <div class="col-xs-12">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-10">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" class="btn btn-info" value="Update" name="submitBttn" onclick="return checkValidation();" />

                                &nbsp; &nbsp; &nbsp;

                                        <input type="button" class="btn" value=" Cancel" name="submitBttn" onclick="CancelUserUpdateForm();" style="margin-left: 10px" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.page-content -->


<div id='PopModel' class='modal hide fade in' style="height: 200px; width: 20%;">

    <div id='ShowOTP' style="width: 200px">
    </div>
</div>

<div id='HashModel' class='modal hide fade in' style="height: 264px; width: 55%;">


    <div id='ShowHashModel' style="margin-left: 10px; text-align: left">
        <object id="DSCHashUniqueID" type="application/x-java-applet" height="90" width="850">
            <param name="code" value="com.sblcorp.DSC.DSCReg" />
            <param name="archive" value="/DSCReg.jar" />
            Applet failed to run.  No Java plug-in was found.
        </object>
    </div>
</div>

<script>

    $("#changephot").click(function () {

        $("#uploadPhoto").click();

    });
    function fileCheck(obj) {

        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
            $("#uploadPhoto").val("");
        }
        else {

            var file, img;
            var iwidth = 240, iheight = 320;
            var _URL = window.URL || window.webkitURL;

            if ((file = obj.files[0])) {

                img = new Image();
                img.onload = function () {
                    if (this.width > iwidth || this.height > iheight) {
                        alert("dimension of image should be " + iwidth + "x" + iheight);
                        $("#uploadPhoto").val("");
                    }
                    else {
                        var filename = $('input[type=file]').val().replace(/C:\\fakepath\\/i, '');
                        $("#changephot").text(filename);

                    }
                };
                img.src = _URL.createObjectURL(file);

            }
            else {
                //Photo
                //var Image = $("#uploadPhoto").val();
                //$.ajaxSetup({ cache: false });
                //$.ajax({
                //    url: "/UserRegistration/UserRegistration/ConvertImageToByte",
                //    type: 'GET',
                //    data: {
                //        Image: Image
                //    },
                //    success: function (data) {
                //        if (data) {
                //            $("#image").attr("src", data);
                //            $("#Photo").val(data);
                //        }
                //        else {

                //        }
                //    },
                //    error: function (xhr, ajaxOptions, thrownError) {
                //        alert(xhr.responseText);
                //        alert(thrownError);
                //    }
                //});
            }
        }
    }
</script>




