﻿@model List<SBL.DomainModel.Models.User.mUserDSHDetails>


<table id="userDscTable" class="simple-table-style table table-striped table-bordered table-hover" style="width:70%">
    <tr>


        <th class="grid_th" style="border-width: 1.5px; width: 80px; height: 30px; text-align: center">@Resources.UserRegistration.DSCName</th>

          <th class="grid_th" style="border-width: 1.5px; width: 80px; height: 30px; text-align: center">@Resources.UserRegistration.DSCType</th>
 <th class="grid_th" style="border-width: 1.5px; width: 50px; height: 30px; text-align: center">@Resources.UserRegistration.DSCEnroll</th>

        <th class="grid_th" style="border-width: 1.5px; width: 50px; height: 30px; text-align: center">@Resources.UserRegistration.DSCValidity</th>

        <th class="grid_th" style="border-width: 1.5px; width: 80px; height: 30px; text-align: center">@Resources.UserRegistration.DSCStatus</th>

    </tr>
    @foreach (var userDscItem in Model)
    {
         
        var radiotdid = "Radiotd" + userDscItem.IdKey;
              
        <tr style="cursor: pointer;">



            <td style="border-width: 1px; text-align: left; vertical-align: top;" class="dscName">

              @if (userDscItem.Name != null)
             {   @userDscItem.Name
             }
            </td>
              <td style="border-width: 1px; text-align: left; vertical-align: top;" class="dscType">

             @if (userDscItem.Type != null)
             {
                @userDscItem.Type
             }
            </td>
            <td style="border-width: 1px; text-align: left; vertical-align: top;">

                @if (userDscItem.EnrollDate != null)
                { @userDscItem.EnrollDate.Value
                }

            </td>

            <td style="border-width: 1px; text-align: left; vertical-align: top;">

             @if(userDscItem.Validity != null){
                     @userDscItem.Validity.Value
                }
            </td>


            <td style="border-width: 1px; text-align: left; vertical-align: top;" id="@radiotdid">
                @{
        var radioid = userDscItem.IdKey;
                }
                @if (@userDscItem.IsActive)
                {
                                 
                    <a id="@radioid" class="activeCls" onclick="DeActivateDsc(this.id)">@Resources.UserRegistration.DSCDeActivate</a>                  
@*<input style="margin-left: 50px" type="radio" checked="checked" id="@radioid" class="DscCheck" name="submitButton" value="@userDscItem.IdKey"  />*@
                }
                else
                {
                    <a id="@radioid" class="activeCls"  onclick="ActivateDsc(this.id)">@Resources.UserRegistration.DSCActivate  </a>   
@*<input style="margin-left: 50px" type="radio" class="DscCheck" id="@radioid" name="submitButton" value="@userDscItem.IdKey"  />*@
                }

            </td>
        </tr>
    }



       <tr style="cursor: pointer;" id="DSCResultView" class="hide">



        <td style="border-width: 1px; text-align: left; vertical-align: top;">

            <label class="lbl" id="DSCNameValue">
            </label>

        </td>
        <td style="border-width: 1px; text-align: left; vertical-align: top;">

            <label class="lbl" id="DSCTypeValue">
            </label>

        </td>
        <td style="border-width: 1px; text-align: left; vertical-align: top;">

            <label class="lbl" id="DSCEnrollValue">
            </label>

        </td>

        <td style="border-width: 1px; text-align: left; vertical-align: top;">

            <label class="lbl" id="DSCValidityValue">
            </label>

        </td>
        <td style="border-width: 1px; text-align: left; vertical-align: top;">
            <a class="activeCls" onclick="DeleteDsc()">@Resources.UserRegistration.DSCDelete  </a>   
        </td>

    </tr>
</table>
