﻿@model SBL.DomainModel.Models.User.mUsers


<div>
    @Html.DropDownListFor(m => m.SubUserTypeList, new SelectList(Model.SubUserTypeList, "SubUserTypeID", "SubUserTypeName", "NULL"), new { @id = "ddlSubUserType", @class = "form-control", @tabindex = "1", @style = "width: 462px" })
    @Html.HiddenFor(m => m.IsSecretoryId, new { value = @Model.IsSecretoryId })
    @Html.HiddenFor(m => m.IsHOD, new { value = @Model.IsHOD })
    @Html.HiddenFor(m => m.IsMember, new { value = @Model.IsMember })
    @Html.HiddenFor(m => m.IsMedia, new { value = @Model.IsMedia })
    @Html.HiddenFor(m => m.IsOther, new { value = @Model.IsOther })
    @Html.HiddenFor(m => m.UserType, new { value = @Model.UserType })
    <div>
        <div id="subtypeloader" style="position: absolute; float: right; left: 57%; bottom: 17%; display:none;">
            <img src="~/Content/img/ajax-loader.gif" />
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        var subtypevalue = $('#UserType').val();

        if (subtypevalue != "" && subtypevalue != 0) {
            // $('#ddlSubUserType').css('pointer-events', 'none');
        }


        $("#ddlSubUserType").change(function () {

            var end = this.value;

            $("#UserType").val(end);
            if (end == "2" || end == "4") {
                $("#IsSecretoryId").val("True");
                $("#IsHOD").val('False');
                $("#IsMedia").val('False');
                $("#IsMember").val('False');
                $("#IsOther").val('False');
                $("#secretoryField").hide();
                $("#IsNodelOfficerField").hide();
                $("#ddlmemberlist").hide();
                $("#departmentField").show();
                $("#hodsField").hide();
                $("#OfficeField").hide();
                $("#ddlmemberlistCheckbox").hide();
                $("#DistrictField").hide();
                $("#SubdivisionField").hide();
                $("#ConcField").hide();
                $("#PanchyatField").hide();
                $("#hdnConId").val('');
                $("#hdnSubId").val('');
                $("#ddldistrict").val('0');
                $("#ddlPanchyat").val('0');

            }
            else if (end == "15") {
                $("#IsSecretoryId").val('False');
                $("#IsHOD").val('True');

                $("#IsMedia").val('False');
                $("#IsMember").val('False');
                $("#IsOther").val('False');
                $("#secretoryField").hide();
                $("#IsNodelOfficerField").hide();
                $("#ddlmemberlist").hide();
                $("#departmentField").show();
                $("#hodsField").hide();
                $("#OfficeField").hide();
                $("#ddlmemberlistCheckbox").hide();
                $("#DistrictField").hide();
                $("#SubdivisionField").hide();
                $("#ConcField").hide();
                $("#PanchyatField").hide();
                $("#hdnConId").val('');
                $("#hdnSubId").val('');
                $("#ddldistrict").val('0');
                $("#ddlPanchyat").val('0');
            }
            else if (end == "17" || end == "18" || end == "19" || end == "20" || end == "21" || end == "36") {
                $("#IsSecretoryId").val('False');
                $("#IsHOD").val('False');

                $("#IsMedia").val('False');
                $("#IsMember").val('True');
                $("#IsOther").val('False');
                $("#secretoryField").hide();
                $("#IsNodelOfficerField").hide();
                $("#ddlmemberlist").hide();
                $("#departmentField").hide();
                $("#hodsField").hide();
                $("#OfficeField").hide();
                $("#ddlmemberlistCheckbox").hide();
                $("#DistrictField").hide();
                $("#SubdivisionField").hide();
                $("#ConcField").hide();
                $("#PanchyatField").hide();
                $("#hdnConId").val('');
                $("#hdnSubId").val('');
                $("#ddldistrict").val('0');
                $("#ddlPanchyat").val('0');
            }
            else if (end == "3" || end == "5") {
                $("#secretoryField").show();
                $("#IsNodelOfficerField").show();
                $("#ddlmemberlist").hide();
                $("#departmentField").show();
                $("#hodsField").hide();
                $("#OfficeField").hide();
                $("#ddlmemberlistCheckbox").hide();
                $("#DistrictField").hide();
                $("#SubdivisionField").hide();
                $("#ConcField").hide();
                $("#PanchyatField").hide();
                $("#hdnConId").val('');
                $("#hdnSubId").val('');
                $("#ddldistrict").val('0');
                $("#ddlPanchyat").val('0');
            }
            else if (end == "16") {
                $("#secretoryField").hide();
                $("#IsNodelOfficerField").hide();
                $("#hodsField").show();
                $("#ddlmemberlist").hide();
                $("#departmentField").show();
                $("#OfficeField").hide();
                $("#ddlmemberlistCheckbox").hide();
                $("#DistrictField").hide();
                $("#SubdivisionField").hide();
                $("#ConcField").hide();
                $("#PanchyatField").hide();
                $("#hdnConId").val('');
                $("#hdnSubId").val('');
                $("#ddldistrict").val('0');
                $("#ddlPanchyat").val('0');
            }
            else if (end == "37") {
                $("#secretoryField").hide();
                $("#IsNodelOfficerField").hide();
                $("#hodsField").hide();
                $("#ddlmemberlist").hide();
                $("#departmentField").show();
                $("#OfficeField").show();
                $("#ddlmemberlistCheckbox").hide();
                bindOfficeDrpList('');
                $("#DistrictField").hide();
                $("#SubdivisionField").hide();
                $("#ConcField").hide();
                $("#PanchyatField").hide();
                $("#hdnConId").val('');
                $("#hdnSubId").val('');
                $("#ddldistrict").val('0');
                $("#ddlPanchyat").val('0');
            }
            else if (end == "22") {
                $("#secretoryField").hide();
                $("#IsNodelOfficerField").hide();
                $("#ddlmemberlist").show();
                $("#departmentField").hide();
                $("#hodsField").hide();
                $("#OfficeField").hide();
                $("#ddlmemberlistCheckbox").hide();
                $("#DistrictField").hide();
                $("#SubdivisionField").hide();
                $("#ConcField").hide();
                $("#PanchyatField").hide();
                $("#hdnConId").val('');
                $("#hdnSubId").val('');
                $("#ddldistrict").val('0');
                $("#ddlPanchyat").val('0');
            }
            else if (end == "38") {
                $("#secretoryField").hide();
                $("#IsNodelOfficerField").hide();
                $("#ddlmemberlist").hide();
                $("#departmentField").hide();
                $("#hodsField").hide();
                $("#OfficeField").hide();
                $("#ddlmemberlistCheckbox").show();
                ///
                $("#DistrictField").hide();
                $("#SubdivisionField").hide();
                $("#ConcField").hide();
                $("#PanchyatField").hide();
                $("#hdnConId").val('');
                $("#hdnSubId").val('');
                $("#ddldistrict").val('0');
                $("#ddlPanchyat").val('0');
            }

            else if (end == "39" && $("#DdlUserType").val().trim() == "4") {
                $("#departmentField").hide();
                $("#OfficeField").hide();
                $("#secretoryField").hide();
                $("#IsNodelOfficerField").hide();
                $("#ddlmemberlist").hide();
                $("#hodsField").hide();
                $("#ddlmemberlistCheckbox").hide();
                $("#DistrictField").show();
                $("#SubdivisionField").hide();
                $("#ConcField").hide();
                $("#PanchyatField").hide();
                $("#hdnConId").val('');
                $("#hdnSubId").val('');
                $("#ddlPanchyat").val('0');

            }

            else if (end == "40" && $("#DdlUserType").val().trim() == "4") {
              
                $("#departmentField").hide();
                $("#OfficeField").hide();
                $("#secretoryField").hide();
                $("#IsNodelOfficerField").hide();
                $("#ddlmemberlist").hide();
                $("#hodsField").hide();
                $("#ddlmemberlistCheckbox").hide();
                $("#ddlDistrict").empty();
                bindDistrictDrpList();
                $("#DistrictField").show();
                $("#SubdivisionField").hide();
                $("#ConcField").hide();
                $("#PanchyatField").hide();
                $("#ddlPanchyat").val('0');
                //$("#ddldistrict").val('0');
            }
            else if (end == "41" && $("#DdlUserType").val().trim() == "4") {
               
                $("#departmentField").hide();
                $("#OfficeField").hide();
                $("#secretoryField").hide();
                $("#IsNodelOfficerField").hide();
                $("#ddlmemberlist").hide();
                $("#hodsField").hide();
                $("#ddlmemberlistCheckbox").hide();
                $("#DistrictField").hide();
                $("#SubdivisionField").hide();
                $("#ConcField").hide();
                $("#PanchyatField").show();
                $("#hdnConId").val('');
                $("#hdnSubId").val('');
                $("#ddldistrict").val('0');
            }
            $("#DdlSecretory option[value=0]").prop("selected", "selected");
            $("#ddlMembers option[value=0]").prop("selected", "selected");
            $("#btnmultichkbox").text('');
            $('.Member').removeAttr('checked');
            $("#OfficeId").val('');
            $('#divSelectedDept').html('');
        });
    });


</script>

