﻿@model SBL.DomainModel.Models.User.mUsers
@using SBL.eLegistrator.HouseController.Web.Utility

@{
    ViewBag.Title = "UpdateMemberUserDetails";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    
}

@Scripts.Render("~/bundles/validations")
@Scripts.Render("~/bundles/Ajax")
@Styles.Render("~/bundles/jQueryCss")
@Scripts.Render("~/bundles/multipleCheckDropDown")
@Styles.Render("~/bundles/multipleCheckDropDownCSS")
@*@Scripts.Render("~/bundles/maskinput")*@


<script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
<script>
    function setUserID(myValue) {
        // alert(myValue);
        $('#UserName').val(myValue)
                    .trigger('change');
    }
    function sethodid(myvalue) {
        //alert(myvalue);
        if (myvalue.checked == true) {
            //alert(myvalue.checked);
            $("#IsHOD").val('True');
            $("#IsSecretoryId").val('False');
        }
        else {
            $("#IsHOD").val('False');
        }
    }
    function setscretoryid(myvalue) {
        //alert(myvalue);
        if (myvalue.checked == true) {
            //alert(myvalue.checked);
            $("#IsSecretoryId").val('True');
            $("#IsHOD").val('False');

        }
        else {
            $("#IsSecretoryId").val('False');
        }
    }

    $(document).ready(function () {
        $("#DdlUserType").append("<option value='0'>Select</option>");
        $("#DdlUserType option[value=0]").prop("selected", "selected");
        $("#DdlSecretory").append("<option value='0'>Select</option>");
        $("#DdlSecretory option[value=0]").prop("selected", "selected");
        $("#ddlMembers").append("<option value='0'>Select</option>");
        $("#ddlMembers option[value=0]").prop("selected", "selected");
        $("#secretoryField").hide();
        $("#EmpOrMemberCode").hide();
        $("#IsHOD").val('False');
        $("#IsSecretoryId").val('False');
        $("#ddlmemberlist").hide();
        $("#usertypetow").hide();
        
        //$("#Designation").val('');
        //alert('sttt');
        $("#SelectType").val("1");
        
        
        $("#ddlMembers").change(function () {
            var end = this.value;
            $("#EmpOrMemberCode").val(end);
        });
        $("#ddlHeadList").change(function () {
            var end = this.value;
            
            $("#UserType").val(end);
            if (end == 1 || end == 3) {
                $("#IsHOD").val('False');
                $("#IsSecretoryId").val('True');
                $("#IsMedia").val('False');
                $("#IsMember").val('False');
                $("#IsOther").val('False');
                
                
            }
           else if (end == 2) {
                $("#IsHOD").val('True');
                $("#IsSecretoryId").val('False');
                $("#IsMedia").val('False');
                $("#IsMember").val('False');
                $("#IsOther").val('False');
            }
          
           else {
               $("#IsHOD").val('False');
               $("#IsSecretoryId").val('False');
               $("#IsMedia").val('False');
               $("#IsMember").val('False');
               $("#IsOther").val('False');
           }
        });
        $("#DdlSecretory").change(function () {

            var end = this.value;
            $("#SecretoryId").val(end);
           // $("#IsSecretoryId").val('True');
            $("#IsHOD").val('False');
           
        });
        $("#DdlUserType").change(function () {
            $("#IsHOD").val('False');
            $("#IsSecretoryId").val('False');
            $("#IsMedia").val('False');
            $("#IsMember").val('False');
            $("#IsOther").val('False');
            $("#secretoryField").hide();
            $("#ddlmemberlist").hide();
            $("#btnmultichkbox").text('');
            //$("#OfficeId").val('');
            $("#usertypetow").hide();
            var end = this.value;
        
            $("#ddlMembers option[value=0]").prop("selected", "selected");
            $("#DdlSecretory option[value=0]").prop("selected", "selected");
            $("#ddlHeadList option[value=0]").prop("selected", "selected");
            
            if (end == 2) {

                $("#secretoryField").show();
                $("#SelectType").val("2");
                $("#deptList").show();
                $("#usertypetow").show();
                //$("#secretoryField").show();
                //$("#lblEmpCode").show();
                $("#EmpOrMemberCode").hide();
                //$("#EmpOrMemberCode").attr("placeholder", "Enter employee code");
                $("#lblMemberCode").hide();
                $("#lblMediaCode").hide();
              
            }
            if (end == 3) {
                //$("#issecretoryFeild").hide();
                $("#ddlmemberlist").hide();
                $("#secretoryField").hide();
                $("#SelectType").val("3");
                $("#EmpOrMemberCode").show();
                //$("#EmpOrMemberCode").focus();
                $("#deptList").hide();
                $("#usertypetow").hide();
                // $("#secretoryField").hide();
                //$("#lblEmpCode").hide();
                //$("#lblMemberCode").hide();
                $("#lblMediaCode").show();
                $("#EmpOrMemberCode").attr("placeholder", "Enter Journalist code");
                // $("#AdhaarIDDetails").empty();
                // $("#Mobile").val("");
                // $("#MailID").val("");
            }
            if (end == 1) {
                //$("#issecretoryFeild").hide();
                $("#ddlmemberlist").show();
                $("#secretoryField").hide();
                $("#SelectType").val("1");
               $("#EmpOrMemberCode").hide();
               // $("#EmpOrMemberCode").focus();
                $("#deptList").hide();
                // $("#secretoryField").hide();
                $("#lblEmpCode").hide();
                //$("#lblMemberCode").show();
                $("#lblMediaCode").hide();
                $("#usertypetow").show();
          
            }
            if (end == 4) {
                $("#ddlmemberlist").hide();
                $("#secretoryField").hide();
                $("#SelectType").val("4");
                $("#EmpOrMemberCode").hide();
                $("#deptList").hide();
                // $("#secretoryField").hide();
                $("#lblEmpCode").hide();
                $("#lblMemberCode").hide();
                $("#lblMediaCode").hide();
                $("#usertypetow").hide();
                $("#EmpOrMemberCode").attr("placeholder", "Enter Member code");
                // $("#AdhaarIDDetails").empty();
                //$("#Mobile").val("");
                // $("#MailID").val("");
            }
        });
    });
</script>


@*<script src="~/ScriptigFunctions/UserRegistrationForm/UserRegistrationScriptingFunctions.js"></script>*@
<div class="page-content">

    <div class="row">
        <div class="page-header">
            <h1>
                @Resources.UserRegistration.UpdateMemberProfile
            </h1>
        </div>

        <div id="canvasloader-container1" class="canvasloader" style="text-align: center">
        </div>

        @using (Html.BeginForm("UpdateMemberEmployeeDetails", "UserRegistration", FormMethod.Post, new { @id = "UpdateUserRegistrationForm", @class = "form-horizontal", @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.DscActiveStatus, new { @id = "dscstatus" })
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-2">
                        <div class="space-20">
                        </div>
                        <div class="center">
                            <img id="image" src="@Model.Photo" />
                            <br />
                            @if (Model.SignaturePath != null)
                            {                                
                                <img id="Sigimage" src="@Model.SignaturePath" width="240" height="180" />
                            }
                        </div>
                    </div>
                    <div class="col-xs-10">

                        @Html.HiddenFor(m => m.UserId)
                        @Html.HiddenFor(m => m.UserName, new { value = @Model.UserName })
                          @Html.HiddenFor(m => m.Name, new { value = @Model.Name })
                        @Html.HiddenFor(m => m.IsSecretoryId, new { value = @Model.IsSecretoryId })
                        @Html.HiddenFor(m => m.IsHOD, new { value = @Model.IsHOD })
                         @Html.HiddenFor(m => m.IsMember, new { value = @Model.IsMember })
                         @Html.HiddenFor(m => m.IsMedia, new { value = @Model.IsMedia })
                          @Html.HiddenFor(m => m.IsOther, new { value = @Model.IsOther })
                         @Html.HiddenFor(m => m.UserType, new { value = @Model.UserType })
                        @* @Html.HiddenFor(m=>m.Photo)*@
                        <fieldset>
                            <legend>Personal Details </legend>

                        </fieldset>
                        <div class="form-group">

                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1" id="lblAdhaarID">@Resources.UserRegistration.UserAdhaarCard:</label>

                            <div class="col-sm-9">
                                @if (Model.AadarId != null)
                                {  @Html.Label(@Model.AadarId, new { @class = "lbl", @style = "margin-top:4px" })
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserName:</label>
                            <div class="col-sm-9" id="DivName">

                                <label id="Name" class="lbl" style="margin-top: 4px">@Html.Raw(Model.Name)</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.Gender:</label>
                            <div class="col-sm-9" id="DivGender" style="margin-top: 4px;">
                                <label id="Gender" class="lbl" style="margin-top: 1px">@Html.Raw(Model.Gender)</label>

                                @Html.HiddenFor(m => m.Gender, new { @id = "UserGender" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.Age:</label>
                            <div class="col-sm-9" id="DivDOB">

                                <label id="DOB" class="lbl" style="margin-top: 4px">@Html.Raw(Model.DOB)</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.FatherName:</label>
                            <div class="col-sm-9" id="DivFatherName">
                                <label id="FatherName" class="lbl" style="margin-top: 4px">@Html.Raw(Model.FatherName)</label>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserMobile<span style="color: red">*</span>:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Mobile, new { @style = "width: 462px;", @maxlength = "10", @class = "col-xs-10 col-sm-5", @placeholder = "Mobile Number (9XX XXX XXXX)" })
                                @Html.HiddenFor(m => m.Mobile, new { @id = "ValidateMobile" })


                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserEmail<span style="color: red">*</span>:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.MailID, new { @id = "MailID", @style = "width: 462px;", @class = "col-xs-10 col-sm-5", @placeholder = "Email (abc@xyz.com)" })
                                @Html.ValidationMessageFor(m => m.MailID, "", new { @id = "mailingId", @style = "color:red" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserAddress:</label>
                            <div class="col-sm-9" id="DivAddress">
                                @Html.TextAreaFor(m => m.Address, new { @style = "width: 462px;", @class = "col-xs-10 col-sm-5" })
                                @* @if (Model.Address != null)
                                {
                                   
                           
                                }
                                else
                                { @Html.TextBoxFor(m => m.Address, new { @style = "width: 462px;", @class = "col-xs-10 col-sm-5" })
                                }*@
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Change Photo:</label>
                            <div class="col-sm-9">

                                <input type="file" id="uploadPhoto" name="uploadPhoto" onchange="fileCheck(this);" />
                                @Html.HiddenFor(m => m.Photo)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserSignature:</label>
                            <div class="col-sm-9">
                                <input type="file" id="signatureUpload" name="signatureUpload" onchange="fileCheckSignature(this);" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"></label>
                            <div class="col-sm-9">
                                <span style="color: red">Only '.gif' formats with transparent background are allow.</span>
                            </div>
                        </div>
                        <fieldset>
                            <legend>Designation Section </legend>

                        </fieldset>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserType:</label>
                             <div class="col-sm-9">
                                    @{ SelectList selectList = new SelectList(Model.radioList, "key", "value", 0);}
                                    @Html.DropDownList("UserType", selectList, new { @id = "DdlUserType", @class = "form-control", @tabindex = "1", @style = "width: 462px" })

                                </div>
                          @*  @if (Model.OfficeLevel == "" || Model.OfficeLevel == null)
                            {
                               
                            }
                            else
                            {
                                <div class="col-sm-9">
                                    @if (Model.OfficeLevel == "1")
                                    {
                                        @Html.Label("Hon'ble Member");
                                    }
                                    else if (Model.OfficeLevel == "2")
                                    {
                                        @Html.Label("Department");
                                    }
                                    else if (Model.OfficeLevel == "3")
                                    {
                                        @Html.Label("Media");
                                    }
                                    else if (Model.OfficeLevel == "4")
                                    {
                                        @Html.Label("Others");
                                    }
                                    @TempData[""]

                                </div>
                            }*@
                            @Html.HiddenFor(m => m.OfficeLevel, new { @id = "SelectType" })
                        </div>
                      
                        <div id="secretoryField">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.AdministrativeSecretary:</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(m => m.SecretoryId, new SelectList(Model.mSecretory, "SecretoryID", "SecretoryName", 0), new { @id = "DdlSecretory", @class = "form-control", @tabindex = "1", @style = "width: 462px" })
                                    </div>
                                    @Html.HiddenFor(m => m.SecretoryId)
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.Department:</label>
                                    <div class="col-sm-9">
                                        @Html.HiddenFor(m => m.DepartmentIDs)
                                        <div id="departmentChkBoxList">
                                            @{
                            Html.RenderPartial("_SecretoryDepartment", Model);
                                            }

                                        </div>
                                    </div>

                                </div>
                                                            


                            </div> 
                      

                        <div id="">
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1" id="lblEmpCode" style="display: none">@Resources.UserRegistration.EmployeeCode:</label>
                                @*<label class="col-sm-3 control-label no-padding-right" for="form-field-1" id="lblMemberCode">@Resources.UserRegistration.MemberCode<span style="color: red">*</span>:</label>*@
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1" id="lblMediaCode" style="display: none">@Resources.UserRegistration.MediaCode:</label>

                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.EmpOrMemberCode, new { @style = "width: 462px;", @maxlength = "6", @class = "col-xs-10 col-sm-5", onchange = "setUserID(this.value);" })
                                    @Html.ValidationMessageFor(m => m.EmpOrMemberCode, "", new { @id = "empId", @style = "color:red;" })
                                </div>
                                 @Html.HiddenFor(m => m.EmpOrMemberCode)
                            </div>
                        </div>
                         <div class="form-group" id="ddlmemberlist" >
                                <div class="col-sm-3 control-label no-padding-right">
                                    @Resources.UserRegistration.Member:
                                </div>

                                <div class="col-sm-9">
                                    @Html.DropDownListFor(m => m.IsMember, new SelectList(Model.MembersList, "MemberID", "Name", "NULL"), new { @id = "ddlMembers", @class = "form-control", @tabindex = "1", @style = "width: 462px" })
                                </div>
                                <div class="col-sm-3 control-label no-padding-right">
                                </div>

                            </div>
                          <div id="usertypetow">
                            <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Are You:</label>

                        <div class="col-sm-9">
                            @{ SelectList selectList2 = new SelectList(Model.headList, "key", "value", 0);}
                            @Html.DropDownList("ddlHeadList", selectList2, new { @id = "ddlHeadList", @class = "form-control", @tabindex = "1", @style = "width: 462px" })

                        </div>
                               </div>

                       </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.Designation:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Designation, new { @id = "Designation", @style = "width: 462px;", @class = "col-xs-10 col-sm-5" })
                            </div>
                        </div>
                       
                        <fieldset>
                            <legend></legend>

                        </fieldset>
                        
                       
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.OTP<span style="color: red">*</span>:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.OTPValue, new { @style = "width: 462px;", @maxlength = "6", @onchange = "CheckOTPByID();", @class = "col-xs-10 col-sm-5", @placeholder = "Enter Generated OTP" })
                                <span class="help-inline col-xs-12 col-sm-7">
                                    <input class="btn btn-minier btn-yellow"type="button" value="@Resources.UserRegistration.GetOTP" onclick="GetOTP();" />
                                    <br />
                                    @Html.ValidationMessageFor(m => m.Mobile, "", new { @id = "mobId", @style = "color:red" })

                                </span>
                                @Html.ValidationMessageFor(m => m.OTPValue, @Model.OTPValue, new { @id = "otpId", @style = "color:red" })
                                <input type="hidden" id="hdnOTPValue" value="" />
                            </div>
                        </div>



                    </div>

                </div>

            </div>
            <div class="form-group">

                <div class="col-sm-9" style="text-align: center">
                    <span id="IsNotificationCheck">
                        @Html.CheckBoxFor(m => m.IsNotification)
                        Allow me to receive all notification from eVidhan</span>
                    @Html.HiddenFor(m => m.Photo)
                </div>
            </div>
            <div class="row">
                <div class="clearfix form-actions">
                    <div class="col-xs-12">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-10">

                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" class="btn btn-info" value= "@Resources.UserRegistration.BtnUpdate" name="submitBttn"  />

                                &nbsp; &nbsp; &nbsp;

                                        <input type="button" class="btn" value=" @Resources.UserRegistration.BtnCancel" name="submitBttn" onclick="return ResetForm();" style="margin-left: 10px" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.page-content -->
<div id='PopModel' class="hide">
    <div id='ShowOTP'>
    </div>

</div>

<div id='HashModel' class="hide">
    <div id='ShowHashModel'>
        <object id="DSCHashUniqueID" type="application/x-java-applet" height="120" width="850">
            <param name="code" value="com.sblcorp.DSC.DSCReg" />
            <param name="archive" value="/DSCReg.jar" />
            @Resources.UserRegistration.AppletError
        </object>
    </div>
</div>

@Scripts.Render("~/Scripting/UpdateUserMemberDetails")

<script>
    function fileCheck(obj) {
        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
            $("#uploadPhoto").val("");
        }
        //else {

        //    var file, img;
        //    var iwidth = 240, iheight = 320;
        //    var _URL = window.URL || window.webkitURL;

        //    if ((file = obj.files[0])) {

        //        img = new Image();
        //        img.onload = function () {
        //            if (this.width > iwidth || this.height > iheight) {
        //                alert("dimension of image should be " + iwidth + "x" + iheight);
        //                $("#uploadPhoto").val("");
        //            }
        //        };
        //        img.src = _URL.createObjectURL(file);

        //    }
        //}
    }
    function fileCheckSignature(obj) {
        var fileExtension = ['gif'];
        if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only '.gif' formats with transparent background are allowed.");
            $("#signatureUpload").val("");
        }
        else {

            var file, img;
            var iwidth = 180, iheight = 100;
            var _URL = window.URL || window.webkitURL;

            if ((file = obj.files[0])) {

                img = new Image();
                img.onload = function () {
                    if (this.width > iwidth || this.height > iheight) {
                        alert("dimension of image should be less then  " + iwidth + "x" + iheight);
                        $("#signatureUpload").val("");
                    }
                };
                img.src = _URL.createObjectURL(file);

            }
        }
    }
    function ResetForm() {
        //window.location.href = 'UserRegistration';
        window.location.href = '@Url.Action("Index", "Home", new { Area = "" })';
    }
</script>

@if (Model.UserDscList != null)
{
    if (Model.UserDscList.Count > 0)
    {
    <script>
        $("#applateResultDiv").removeClass('hide');



    </script>
    }
}
