﻿@*@model SBL.DomainModel.Models.User.mUsers*@
@model SBL.DomainModel.ComplexModel.UserComplexModel.mUserModelClass

@using CaptchaMvc.HtmlHelpers
@{
    ViewBag.Title = "UserRegistraitonForm";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    
}
@*<script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>*@

@Scripts.Render("~/bundles/validations")
@Scripts.Render("~/bundles/Ajax")
@Styles.Render("~/bundles/jQueryCss")
@Scripts.Render("~/bundles/canvasloader")
@Scripts.Render("~/bundles/multipleCheckDropDown")
@Styles.Render("~/bundles/multipleCheckDropDownCSS")
<!-- page specific plugin style sheet -->

@*@Scripts.Render("~/bundles/maskinput")*@
<style>
    #CaptchaImage {
        width: 160px;
        height: 30px;
    }
</style>
<script>

    function GetOTPWithoutMember() {
        $('#spnSpinner').show();
        $('#spnOtpMsg').hide();
        var empId = 0;//$("#EmpOrMemberCode").text();

        var Mobile = document.getElementById("Mobile").value;
        if (Mobile == "") {
            alert("Make Sure you have entered  Mobile Number.")
            return false;
        }
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/UserRegistration/UserRegistration/GetOTP",
            type: 'GET',
            data: {
                empId: empId,
                Mobile: Mobile
            },
            success: function (data) {
                if (data) {
                    $("#ShowOTP").html(data);
                    $('#otpTable tr').each(function () {
                        OTP = $(this).find("#otpvalue").html();
                    });
                    $("#ValidateMobile").val(Mobile);
                    $('#hdnOTPValue').val(OTP);
                    $('#spnOtpMsg').show();
                    $('#spnSpinner').hide();

                }
                else {
                    alert("Unable to Found the Code");
                    $('#spnOtpMsg').hide();
                    $('#spnSpinner').hide();
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }
</script>
<script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
@*<script src="~/Scripts/jquery-1.7.min.js"></script>*@
<script src="~/Scripts/bootstrap.min.js"></script>
<div class="page-content">
    <!-- #section:settings.box -->


    <!-- /section:settings.box -->
    <div>
        <div>

            @using (Html.BeginForm("SubmitUserDetails", "UserRegistration", FormMethod.Post, new { @id = "UserRegistrationForm", @enctype = "multipart/form-data", @class = "form-horizontal" }))
            { 
                @Html.AntiForgeryToken()                
                <div class="page-header">
                    <h1>
                        <a title="Help" data-rel="tooltip" class="btn btn-danger" href="~/HelpFiles/User Manual for Department 1.pdf" target="_blank">
                            <i class="ace-icon fa fa-info-circle"></i>
                        </a>@Resources.UserRegistration.UserRegistrationHeading
                    </h1>
                </div>
              
                <div style="text-align: center">

                    @if (TempData["submitted"] == "Submitted")
                    {
                        <p style="background-color: yellow; color: red">@Resources.UserRegistration.SuccessMessage</p>
                    }

                </div> 
                <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
                
                
                
                <table style="width: 100%;">
                    <tr>
                        <td style="width: 13%; vertical-align: top">
                            <div style="display: none">
                                <img id="userPhoto" src="#" />
                            </div>
                        </td>
                        <td style="width: 50%; vertical-align: top;">
                            @* <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserType</label>
                                <div class="col-sm-9" style="margin-top: 4px;">
                                    @for (int i = 0; i < Model.radioList.Count; i++)
                                    {
                                        @Html.RadioButton("SelectType", true, htmlAttributes: new { id = @Model.radioList[i].Key, onclick = "check(this.id);", @class = "ace" })
                         
                                        <label style="margin-top: 1px" class="lbl">@Model.radioList[i].Value</label>
                                    }  @Html.HiddenFor(m => m.OfficeLevel, new { @id = "SelectType" })
                                </div>
                            </div>*@
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1" id="lblAdhaarID">@Resources.UserRegistration.UserAdhaarCard<span style="color: red">*</span>:</label>

                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.AdhaarID, new { @style = "width:87%", @maxlength = "12", @class = "input-mask-adhar col-xs-10 col-sm-5", @placeholder = "Enter Aadhaar ID" })


                                    <a href="#" data-action="reload" onclick="GetDetailsByAadharID()">
                                        <i class="ace-icon fa fa-refresh" style="margin-top: 9px; margin-left: 4px"></i>
                                    </a>
                                    <br />
                                    <br />
                                    @* <input class="btn btn-minier btn-yellow" type="button" value="Refresh Aadhar" onclick="GetDetailsByAadharID()" />*@
                                    <span>Note: Your Aadhaar ID will be your eVidhan ID</span>
                                    <br />
                                    @Html.ValidationMessageFor(m => m.AdhaarID, "", new { @id = "Adhaar", @style = "color:red;" })


                                </div>




                            </div>
                            <div class="form-group" id="deptList" style="display: none;">
                                <div class="col-sm-3 control-label no-padding-right">
                                    @Resources.UserRegistration.DepartmentList
                                </div>

                                <div class="col-sm-9">
                                    @Html.DropDownListFor(m => m.DeptId, new SelectList(Model.mDepartment, "deptId", "deptname", "NULL"), new { @id = "DdlDepartment", @class = "form-control", @tabindex = "1", @style = "width:87%" })
                                </div>
                            </div>



                            @* <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1" id="lblEmpCode" style="display: none">@Resources.UserRegistration.EmployeeCode<span style="color: red">*</span>:</label>
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1" id="lblMemberCode">@Resources.UserRegistration.MemberCode<span style="color: red">*</span>:</label>
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1" id="lblMediaCode" style="display: none">@Resources.UserRegistration.MediaCode<span style="color: red">*</span>:</label>

                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.EmpOrMemberCode, new { @style = "width: 420px;", @maxlength = "6", @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(m => m.EmpOrMemberCode, "", new { @id = "empId", @style = "color:red;" })
                                </div>
                            </div>*@


                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserName :</label>
                                <div class="col-sm-9" id="DivName" style="margin-top: 4px;">
                                    @Html.TextBoxFor(m => m.UserName, new { @id = "Name", @style = "width:87%" })
                                    @Html.HiddenFor(m => m.Name, new { @id = "PMISName" })
                                    @Html.HiddenFor(m => m.UserName, new { @id = "UserName" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.Gender:</label>
                                <div class="col-sm-9" id="DivGender" style="margin-top: 4px;">
                                    <select id="genderlist" name="gender" style="width: 87%;">
                                        <option value="M">M</option>
                                        <option value="F">F</option>
                                    </select>
                                    @Html.HiddenFor(m => m.Gender, new { @id = "Gender" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.Age:</label>
                                <div class="col-sm-9">
                                    @*    @Html.DropDownListFor(m => m.Age, new SelectList(Model.AgeList, "Id", "Age", 0), new { @id = "DdlAge", @class = "form-control", @tabindex = "1", @style = "width: 316px" })
                        *@
                                    @Html.TextBoxFor(m => m.DOB, "{0:dd/MM/yyyy}", new { @id = "tDOB", @style = "width:87%" })

                                    @*    @Html.TextBoxFor(m => m.Age, new { @style = "width: 318px;", @class = "col-xs-10 col-sm-5",@placeholder="Enter Age"}) *@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.FatherName:</label>
                                <div class="col-sm-9" id="DivFatherName" style="margin-top: 4px;">
                                    @Html.TextBoxFor(m => m.FatherName, new { @id = "FatherName", @style = "width:87%" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserMobile<span style="color: red">*</span>: (+91)</label>
                                <div class="col-sm-9">
                                    <input type="hidden" value="@Model.Mobile" id="ValidateMobile" name="ValidateMobile" />
                                    @*@Html.HiddenFor(m => m.Mobile, new { @id = "ValidateMobile" })*@
                                    @Html.TextBoxFor(m => m.Mobile, new { @style = "width:87%", @maxlength = "10", @placeholder = "Mobile Number" })
                                    @*   @Html.HiddenFor(m => m.Mobile, new { @id = "Mobile" })*@
                                </div>
                                <br />
                                <br />
                                @Html.ValidationMessageFor(m => m.Mobile, "", new { @id = "mobId", @style = "color:red;margin-left:27%" })
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserEmail<span style="color: red">*</span>:</label>
                                <div class="col-sm-9">
                                    @Html.TextBoxFor(m => m.MailID, new { @id = "MailID", @style = "width:87%", @maxlength = "35", @class = "col-xs-10 col-sm-5", @placeholder = "Email (abc@xyz.com)" })
                                    <br />
                                    <br />
                                    @Html.ValidationMessageFor(m => m.MailID, "", new { @id = "mailingId", @style = "color:red" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserAddress:</label>
                                <div class="col-sm-9" id="DivAddress" style="margin-top: 4px;">
                                    @Html.TextAreaFor(m => m.Address, new { @style = "width:87%", @class = "col-xs-10 col-sm-5", @placeholder = "Enter Address" })

                                </div>
                                <span id="addressSpan" style="margin-left: 182px">
                                    <input type="checkbox" id="getAadharAddress" value="AadharAddress" onclick="AadharAddress();" />
                                    Pick Address from Aadhaar Data
                                </span>
                            </div>


                            @*<div id="secretoryField">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.SecretoryList</label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(m => m.SecretoryId, new SelectList(Model.mSecretory, "SecretoryID", "SecretoryName", 0), new { @id = "DdlSecretory", @class = "form-control", @tabindex = "1", @style = "width: 420px" })
                                        <span id="DDLSecretaryValidation" style="color: red"></span>
                                    </div>
                                </div>

                                <div class="form-group" id="SecretaryDepartmentList">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.SecretaryDepartment</label>
                                    <div class="col-sm-9">

                                        <div id="departmentChkBoxList">
                                        </div>
                                    </div>
                                </div>
                            </div>*@




                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Select Photo:</label>
                                <div class="col-sm-9">

                                    <input type="file" id="photoUpload" name="photoUpload" onchange="fileCheck(this);" />
                                    <span id="getPhotoFromAdhaar">
                                        <input type="checkbox" id="checkSamePhoto" value="CheckPhoto" onclick="getPhoto();" />
                                        Pick Photo from Aadhaar Data</span>
                                    @Html.HiddenFor(m => m.Photo)
                                </div>
                            </div>
                            @if (ViewBag.OtpRequiredInRegistration == "1")
                            {
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.OTP<span style="color: red">*</span>:</label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(m => m.OTPValue, new { @style = "width:87%", @maxlength = "6", @onchange = "CheckOTPByID();", @class = "col-xs-10 col-sm-5", @placeholder = "Enter Generated OTP" })


                                        <input class="btn btn-minier btn-yellow" type="button" style=" margin-left:2px; margin-top: 5px;" value="@Resources.UserRegistration.GetOTP" onclick="GetOTPWithoutMember();" />
                                        <input type="hidden" id="hdnOTPValue" value="" />
                                        <br />
                                        @Html.ValidationMessageFor(m => m.OTPValue, @Model.OTPValue, new { @id = "otpId", @style = "color:red" })
                                    </div>

                                    <div class="col-sm-3"></div>
                                    <div class=" col-sm-9 green alert ">
                                        <span id="spnSpinner" style="display: none;"><i class="ace-icon fa fa-spinner fa-spin orange bigger-125"></i></span>
                                        <span id="spnOtpMsg" style="display: none;">OTP is sent on your mobile number</span>
                                    </div>

                                </div>
                            }
                            <input type="hidden" id="hdnOtpRequiredInRegistration" value="@ViewBag.OtpRequiredInRegistration" />
                            @*  <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Resources.UserRegistration.UserDSC:</label>
                                <div class="col-sm-9">
                                    @Html.HiddenFor(m => m.DSCHash, new { @id = "DSCHash" })
                                    @Html.HiddenFor(m => m.DSCName, new { @id = "DSCName" })
                                    @Html.HiddenFor(m => m.DSCType, new { @id = "DSCType" })
                                    @Html.HiddenFor(m => m.DSCValidity, new { @id = "DSCValidity" })
                                    @Html.HiddenFor(m => m.OfficeId, new { @id = "OfficeId" })
                                    <div id="DSCHashContainer">
                                        <input class="btn btn-minier btn-yellow"type="button" value="@Resources.UserRegistration.DSCSelection" onclick="getHash();" />
                                    </div>
                                    <span class="middle">@Resources.UserRegistration.DSCNote</span>
                                </div>
                            </div>*@
                            @*<div class="form-group hide" id="applateResultDiv">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"></label>
                                <div class="col-sm-9">
                                    <table id="DSCResultView" class="table table-striped table-bordered table-hover" style="width: 80%">
                                        <tr>
                                            <td style="width: 24%">@Resources.UserRegistration.DSCName
                                            </td>
                                            <td style="width: 10%">@Resources.UserRegistration.DSCType
                                            </td>
                                            <td style="width: 18%">@Resources.UserRegistration.DSCEnroll
                                            </td>
                                            <td style="width: 19%">@Resources.UserRegistration.DSCValidity
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="col-sm-9">
                                                    @Html.Label("DSCName", new { @id = "DSCNameValue" })

                                                </div>

                                            </td>
                                            <td>
                                                <div class="col-sm-9">
                                                    @Html.Label("DSCType", new { @id = "DSCTypeValue" })
                                                </div>

                                            </td>
                                            <td>
                                                <div class="col-sm-9">
                                                    @Html.Label("DSCType", new { @id = "DSCEnrollValue" })
                                                </div>

                                            </td>
                                            <td>
                                                <div class="col-sm-9">
                                                    @Html.Label("DSCType", new { @id = "DSCValidityValue" })
                                                </div>

                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>*@
                            <div>
                                @* <div>
                                    <div style="padding-left: 169px; display: inline-block; float: left; width: 100%;" id="captchacontainer">
                                        @Html.Captcha("", "", 5, "", true)

                                        <div class="clear"></div>
                                        <p class="field-validation-error" style="color: red">@Model.CaptchaMessage</p>
                                    </div>

                                </div>*@
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"><span style="color: red"></span></label>
                                    <div class="col-sm-9">
                                        <img src="@Url.Action("GetCaptchaImage", "Account", new { area = "" })" />
                                       @* <a id="refresh1" tabindex="6" class="pull-right" href="@Url.Action("Index", "Home", new { area = "" })"><span class="fa fa-refresh" style="font-size: 17px;"></span></a>*@
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Captcha<span style="color: red"></span>:</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="CaptchaText" id="CaptchaText"  onblur = "OnChangeTextBox(this);" value="@ViewBag.CaptchaText" />
                                        <p><span class="field-validation-error" id="CaptchaValidation"></span></p>
                                        @if (Model.CaptchaMessage != null)
                                        {
                                            <p class="field-validation-error captchaMsg" id="CaptchaServerError">@Model.CaptchaMessage </p>
                                        }
                                    </div>

                                </div>


                            </div>
                            <div>
                                <div class="col-md-offset-3 col-md-9">
                                    <input type="submit" class="btn btn-info" value= "@Resources.UserRegistration.BtnSubmit" name="submitBttn" onclick="return checkValidation();"  />

                                    &nbsp; &nbsp; &nbsp;

                                        <input type="button" class="btn" value=" @Resources.UserRegistration.BtnReset" name="submitBttn" onclick="return ResetForm();" style="margin-left: 10px" />

                                </div>
                            </div>
                        </td>
                        <td style="width: 50%; vertical-align: top;">
                            <div id="AdhaarIDDetails">
                            </div>
                        </td>
                    </tr>
                </table>
            }
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.page-content -->
<div id='PopModel' class="hide">
    <div id='ShowOTP'>
    </div>
</div>

<div id='HashModel' class="hide">
    <div id='ShowHashModel'>
        <object id="DSCHashUniqueID" type="application/x-java-applet" height="120" width="850">
            <param name="code" value="com.sblcorp.DSC.DSCReg" />
            <param name="archive" value="/DSCReg.jar" />
            @Resources.UserRegistration.AppletError
        </object>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('#tDOB').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon

        });
    })

    function AadharAddress() {

        if ($('input#getAadharAddress').is(':checked')) {
            var aadharAddress = $('#adhaarDetailsbyID').find("#aadharAddress").html();
            $("#Address").val($.trim(aadharAddress));

        }
        else {
            $("#Address").val("");
        }
    }

    function getPhoto() {
        if ($('input#checkSamePhoto').is(':checked')) {
            var src = $('img[id="image"]').attr('src');
            $("#Photo").val(src);
            $("#photoUpload").val("");

        }
        else {
            $("#Photo").val("");
        }
    }
    function fileCheck(obj) {

        var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
            alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
            $("#photoUpload").val("");
        }
        else {
            if ($('input#checkSamePhoto').is(':checked')) {
                $('input#checkSamePhoto').prop('checked', false);
                $("#Photo").val('');

            }
        }
        //else {

        //    var file, img;
        //    var iwidth = 240, iheight = 320;
        //    var _URL = window.URL || window.webkitURL;

        //    if ((file = obj.files[0])) {

        //        img = new Image();
        //        img.onload = function () {
        //            if (this.width > iwidth || this.height > iheight) {
        //                alert("dimension of image should be " + iwidth + "x" + iheight);
        //                $("#photoUpload").val("");
        //            }
        //            else {
        //                if ($('input#checkSamePhoto').is(':checked')) {
        //                    $('input#checkSamePhoto').prop('checked', false);
        //                    $("#Photo").val('');

        //                }
        //            }
        //        };
        //        img.src = _URL.createObjectURL(file);

        //    }
        //}
    }

</script>
@*<script src="~/assets/js/jquery-ui.custom.min.js"></script>*@
@Scripts.Render("~/Scripting/UserRegistrationForm")
<link rel="stylesheet" href="/assets/css/datepicker.css" />
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>


