﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV
@using SBL.eLegistrator.HouseController.Web.Utility

<input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />

@Html.HiddenFor(m => m.DSCApplicable)


<span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="Bottm Info" style="text-align:left;margin-left:0px;margin-bottom:2px;">
@Resources.PaperLaidDepartment.DraftBills</span>

@{    
    var grid = new Lib.Web.Mvc.JQuery.JqGrid.JqGridHelper<SBL.DomainModel.ComplexModel.BillsDraftCustomModel>("CommonGrid",                        
                            dataType: Lib.Web.Mvc.JQuery.JqGrid.JqGridDataTypes.Json,
                            footerEnabled: false,
                            methodType: Lib.Web.Mvc.JQuery.JqGrid.JqGridMethodTypes.Post,
                            pager: true,
                            rowsList: new List<int> { 10, 20, 30, 40, 50 },
                            rowsNumber: 10,
                            onSelectRow: "onSelectRowHandler",
                            sortingName: "PaperLaidId",
                            sortingOrder: Lib.Web.Mvc.JQuery.JqGrid.JqGridSortingOrders.Desc,
                            url: Url.Action("GetDraftBillsJqGrid"),
                            postData: new { Billnumber = Model.BillNumber, title = Model.Title, MemberId = Model.MemberId },
                            userDataOnFooter: false,
                            viewRecords: true,
                            autoWidth: true,
                            emptyRecords: @Resources.PaperLaidDepartment.NoRecordFound
                            //postDataScript: "function() { return { AssemblyId: $('#AssemblyCodeHome').val(), SessionId: $('#SessionCodeHome').val()}; }"
                        );
                        }
                    @grid.GetHtml()

@if (CurrentSession.SignaturePath == "")
{
    <br />
    <div style="width: 100%">
        <input type="checkbox" id="SignedChk" class="Checkbox" value="checked" checked onclick="checkSignChange(this.id)" style="vertical-align: top" />
        <strong>@Resources.PaperLaidDepartment.EmbedtheHandwrittensignature<label style="color: green" for="aaa">(@Resources.PaperLaidDepartment.Yourpaperwillsend)</label></strong>
    </div>
    <br />
}
else
{
    <br />
    <div style="width: 100%">
        <input type="checkbox" id="SignedChk" class="Checkbox" value="checked" checked onclick="checkSignChange(this.id)" style="vertical-align: top" />
        <strong>@Resources.PaperLaidDepartment.EmbedtheHandwrittensignature</strong>
    </div>
    <br />
}
<div style="padding-top: 10px">

    <table style="width: 100%;" class="minwb-style1">
        <tr>
            <td>

                @if (Model.DSCApplicable == "True")
                {

                    if (CurrentSession.UserHashKey != "")
                    {
                        if (Model.IsPermissions == true)
                        {
                            if (CurrentSession.IsHOD == "True")
                            {
                    <a href="#" id="id-btn-dialog2" style="display: none" class="btn btn-primary">
                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                        @Resources.PaperLaidDepartment.SignAndSend

                    </a>
                    <div style="display: none" style="padding-top: 1%;">
                        <span class="label label-large label-pink arrowed-right">@Resources.PaperLaidDepartment.SendingbillstoVidhansabha</span>
                    </div>
                            }
                            else
                            {
                    <a href="#" id="id-btn-dialog2" class="btn btn-primary">
                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                        @Resources.PaperLaidDepartment.SignAndSend

                    </a>
                    <div style="padding-top: 1%;">
                        <span class="label label-large label-pink arrowed-right">@Resources.PaperLaidDepartment.SendingbillstoVidhansabha</span>
                    </div>      
                            }
                        }
                    }
                    else
                    {
                    <i class="ace-icon fa fa-hand-o-right green"></i>
                    <h5 class="widget-title lighter">@Resources.PaperLaidDepartment.RegisterYourDSC</h5>
                    }
                }
                else
                {
                    if (CurrentSession.SignaturePath == "")
                    {

                        if (CurrentSession.IsHOD == "True")
                        {
                    <a href="#" id="id-btn-dialog4" style="display: none" class="btn btn-primary">
                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                      @Resources.PaperLaidDepartment.Send
                    </a>
                    <div style="padding-top: 1%; display: none">

                        <span class="label label-large label-pink arrowed-in-right arrowed">
                            @Resources.PaperLaidDepartment.SendingbillstoVidhansabha</span>
                    </div>
                        }
                        else
                        {
                    <a href="#" id="id-btn-dialog4" class="btn btn-primary">
                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                          @Resources.PaperLaidDepartment.Send
                    </a>
                    <div style="padding-top: 1%;">

                        <span class="label label-large label-pink arrowed-in-right arrowed">
                          @Resources.PaperLaidDepartment.SendingbillstoVidhansabha</span>
                    </div>       
                        }
                    }
                    else
                    {
                        if (CurrentSession.IsHOD == "True")
                        {
                    <a href="#" id="id-btn-dialog3" style="display: none" class="btn btn-primary">
                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                         @Resources.PaperLaidDepartment.Send
                    </a>
                    <div style="padding-top: 1%; display: none">

                        <span class="label label-large label-pink arrowed-in-right arrowed">
                           @Resources.PaperLaidDepartment.SendingbillstoVidhansabha</span>
                    </div>
                        }
                        else
                        {
                    <a href="#" id="id-btn-dialog3" class="btn btn-primary">
                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                          @Resources.PaperLaidDepartment.Send
                    </a>
                    <div style="padding-top: 1%;">

                        <span class="label label-large label-pink arrowed-in-right arrowed">
                           @Resources.PaperLaidDepartment.SendingbillstoVidhansabha</span>
                    </div> 
                        }
                    }
                }

            </td>
        </tr>
    </table>

</div>


<div id="dialog-confirm" class="hide">
    <p>@Resources.PaperLaidDepartment.Areyousure </p>
</div>
<div id="dialog-alert" class="hide">
    <p>@Resources.PaperLaidDepartment.SelectPapersFirst  </p>
</div>


<div id="dialog-Signature" class="hide">
    <p>@Resources.PaperLaidDepartment.WithoutSignature </p>
</div>

<div id='SignModel' class="hide">
   
</div>





<script type="text/javascript">
    jQuery(document).ready(function () {
        @grid.GetJavaScript()
        jQuery("#CommonGrid").jqGrid('setLabel', 'NoticeNumber', '@Resources.PaperLaidDepartment.Number')
        jQuery("#CommonGrid").jqGrid('setLabel', 'PaperLaidIdForCheckBox', '@Resources.PaperLaidDepartment.Ticktosend')
        jQuery("#CommonGrid").jqGrid('setLabel', 'RuleNo', '@Resources.PaperLaidDepartment.Rule')
        jQuery("#CommonGrid").jqGrid('setLabel', 'Title', '@Resources.PaperLaidDepartment.Subject')
        jQuery("#CommonGrid").jqGrid('setLabel', 'MemberName', '@Resources.PaperLaidDepartment.AskedBy')
        jQuery("#CommonGrid").jqGrid('setLabel', 'PaperSent', '@Resources.PaperLaidDepartment.Paper')
        jQuery("#CommonGrid").jqGrid('setLabel', 'DeptSubmittedDate', '@Resources.PaperLaidDepartment.Senton')
        jQuery("#CommonGrid").jqGrid('setLabel', 'DesireLayingDate', '@Resources.PaperLaidDepartment.DesireLayingDate')
    })



    jQuery(function ($) {

        $("#id-btn-dialog2").on('click', function (e) {
            e.preventDefault();


            var SIds = document.getElementById("SelectedChkbxId").value;

            if (SIds != null && SIds != "") {
                $("#dialog-confirm").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Confirm!",
                    title_html: true,
                    buttons: [
                        {
                            html: "&nbsp; Yes",
                            "class": "btn btn-primary",
                            click: function () {
                                $(this).dialog("close");
                                SubmitSelectedPaper();
                            }
                        }
                        ,
                        {
                            html: "&nbsp; Cancel",
                            "class": "btn btn-primary",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });
            }
            else {
                $("#dialog-alert").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Alert!",
                    title_html: true,
                    buttons: [
                        {
                            html: "&nbsp; Okay",
                            "class": "btn btn-primary",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });
            }


        });

    });


    jQuery(function ($) {

        $("#id-btn-dialog3").on('click', function (e) {
            e.preventDefault();
            var SIds = document.getElementById("SelectedChkbxId").value;

            if (SIds != null && SIds != "") {
                if ($('#SignedChk1').prop('checked')) {

                    var pathurl = '@Url.Action("StarredQuesHandWrittenSignDocument", "NoticePaperLaid")';
                    $.ajax({
                        type: 'GET',
                        url: pathurl,
                        data: {
                            SIds: SIds
                            //publicPassID: PassID
                        },
                        success: function (data) {
                            $('#SignModel').html("");
                            $('#SignModel').html(data);

                            $("#SignModel").removeClass('hide').dialog({
                                resizable: false,
                                modal: true,
                                width: 600,
                                title: "Hand-Written Signature!",
                                title_html: true,

                                buttons: [
                                    {
                                        html: "&nbsp; Send",
                                        "class": "btn btn-primary",
                                        click: function () {
                                            $(this).dialog("close");
                                            SubmitHandWrittenSignatureSelectedPaperWithoutSign();
                                        }
                                    }
                                ]
                            });
                        }
                    });
                }
                else {

                    var SIds = document.getElementById("SelectedChkbxId").value;

                    if (SIds != null && SIds != "") {
                        $("#dialog-confirm").removeClass('hide').dialog({
                            resizable: false,
                            modal: true,
                            title: "Confirm!",
                            title_html: true,
                            buttons: [
                                {
                                    html: "&nbsp; Yes",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                        SubmitSignedSelectedPaper();
                                    }
                                }
                                ,
                                {
                                    html: "&nbsp; Cancel",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }
                            ]
                        });
                    }
                    else {
                        $("#dialog-alert").removeClass('hide').dialog({
                            resizable: false,
                            modal: true,
                            title: "Alert!",
                            title_html: true,
                            buttons: [
                                {
                                    html: "&nbsp; Okay",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }
                            ]
                        });
                    }
                }
            }


        });

    });

    jQuery(function ($) {

        $("#id-btn-dialog4").on('click', function (e) {

            e.preventDefault();
            var SIds = document.getElementById("SelectedChkbxId").value;


            if (SIds != null && SIds != "") {

                if ($('#SignedChk').prop('checked')) {

                    var pathurl = '@Url.Action("SubmitHandWrittenSignatureSelectedPaperWithoutSign", "PaperLaidDepartment")';

                    if (SIds != null && SIds != "") {

                        $("#dialog-confirm").removeClass('hide').dialog({
                            resizable: false,
                            modal: true,
                            title: "Confirm!",
                            title_html: true,
                            buttons: [
                                {
                                    html: "&nbsp; Yes",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                        SubmitHandWrittenSignatureSelectedPaperWithoutSignImage();
                                        $("#loader-wrapper").show();
                                    }
                                }
                                ,
                                {
                                    html: "&nbsp; Cancel",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }
                            ]
                        });
                    }
                    else {
                        $("#dialog-alert").removeClass('hide').dialog({
                            resizable: false,
                            modal: true,
                            title: "Alert!",
                            title_html: true,
                            buttons: [
                                {
                                    html: "&nbsp; Okay",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }
                            ]
                        });
                    }
                }
            }


        });

    });


    function SubmitHandWrittenSignatureSelectedPaperWithoutSignImage() {

        $("#loader-wrapper").show();
        var SIds = document.getElementById("SelectedChkbxId").value;
        var pathurl = "@Url.Action("BillsSubmitHandWrittenSignatureSelectedPaperWithoutSignImage", "PaperLaidDepartment")";
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                Ids: SIds,
                lSMCode: "BLL",

            },
            success: function (data) {

                if (data.MobileNo == null) {

                    bootbox.alert('Mobile Number doesnot Exist, Please Update your Mobile Number');

                }
                if (data.IsValid == false) {

                    bootbox.alert('Mobile Number not in a correct format, Please Update your Mobile Number');

                }
                $("#loader-wrapper").hide();
                GetBillSent()
                getCount();
               
            }
        });
    }


    function getCount() {


        var pathurl = "@Url.Action("DepartmentDashboard", "PaperLaidDepartment")";
        $.ajax({
            url: pathurl,
            type: 'GET',

            success: function (data) {
               
                $("#23Draft_Bills").html(data[3]);
                $("#23Bills_Sent").html(data[13]);
                $("#loader-wrapper").hide();
                ShowNotification("success", "Bills Send Successfully .....");
            }
        });
    }


    function onSelectRowHandler(rowId, status, event) {

        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();
        var paperLaidID = 0;
        var rowData = $(this).jqGrid("getRowData", rowId);

        //Get Paper Laid ID and Status for the Record.
        paperLaidID = rowData.PaperLaidId != "" ? rowData.PaperLaidId : 0;
        $.ajax({
            url: "/PaperLaidDepartment/Billpaperlaid/ShowDraftBillById",
            type: 'GET',
            data: {
                paperLaidId: paperLaidID,
            },
            cache: false,
            success: function (data) {

                if (data) {
                    cl2.hide();
                    $("#RightSidebar").empty();
                    $("#RightSidebar").html(data);
                    //$("#OpenModel").modal("show")
                } else { alert("error"); }
            },

            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }

</script>


<script>

   
    function ViewFullOfBillDraftDeails(value) {
        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();
        $.ajax({
            url: "/PaperLaidDepartment/Billpaperlaid/ShowDraftBillById",
            type: 'GET',
            data: {
                paperLaidId: value,
            },
            cache: false,
            success: function (data) {

                if (data) {
                    cl2.hide();
                    $("#RightSidebar").empty();
                    $("#RightSidebar").html(data);
                    //$("#OpenModel").modal("show")
                } else { alert("error"); }
            },

            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }

    function NextButtonPendingDBills(rPage, pageNo, lStart, lEnd) {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();

        $.ajaxSetup({ cache: false });
        var pageNumber = pageNo;
        var rowsPerPage = rPage;
        var loopStart = lStart;
        var loopEnd = lEnd;
        var pathurl = '@Url.Action("GetDraftBills", "Billpaperlaid")';
    
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {

                PageNumber: pageNo,
                RowsPerPage: rPage,
                loopStart: lStart,
                loopEnd: lEnd
            },
            success: function (data) {
                ClearControls();
                $("#divDataContainer").html(data);
                cl.hide();
            }
        });
    }

    function NextAndPreviousButtonPendingDBills(rPage, pageNo, lStart, lEnd) {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pageNumber = pageNo;
        var rowsPerPage = rPage;
        var loopStart = lStart;
        var loopEnd = lEnd;
        var pathurl = '@Url.Action("GetDraftBills", "Billpaperlaid")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {

                PageNumber: pageNo,
                RowsPerPage: rPage,
                loopStart: lStart,
                loopEnd: lEnd
            },
            success: function (data) {
                ClearControls();
                $("#divDataContainer").html(data);
                cl.hide();
            }
        });
    }


</script>




