﻿@model  List<SBL.DomainModel.Models.JobsPosting.Candidates>

<!-- /section:basics/content.breadcrumbs -->
<script src="~/Scripts/jQuery.print.js"></script>
<div class="page-content">
    <!-- #section:settings.box -->

    <!-- /section:settings.box -->
    <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 5px;">
    </div>
    <div class="page-header">
        <h1>Approve Application</h1>
    </div>
    <div id="Menu">

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <div id="dataDiv">
                    @{Html.RenderPartial("~/Areas/Accounts/Views/Candidates/_ApprovedCandidatesList.cshtml", Model);}
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.page-content -->
</div>
<!-- /.main-content -->


@*<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>

    <div class="space-6"></div>
</div>*@


<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script type="text/javascript">

    function PopulateAdmitCard(Id,view) {
        $.ajax({
            type: "POST",
            url: '/Accounts/Candidates/PopulateAdmitCard',
            data: '{ Id: "' + Id + '", view: "' + view + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                
                $('#ApplicantDiv1').empty();
                $('#ApplicantDiv1').append(result);
                $('#ApplicantModel1').modal('show');
            },
            error: function (error) {
                
                $('#ApplicantDiv1').empty();
                $('#ApplicantDiv1').append(error.responseText);
                $('#ApplicantModel1').modal('show');

            },
            complete: function (result) {
                

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);
            }
        });
    }

    function SavePostDetails() {
        
        var IsValid = true;
        $('.ErrorMessage').remove('');
        if ($('#IsApprove').val() == '') {
            $('#IsApprove').after("<span class='ErrorMessage'>Please select.</span>");
            $("#IsApprove").css("border", "1px solid red");
            IsValid = false;
        }
        var AppValue = $('input[name=IsApprove]:checked').val();
        var IsApprove = false;
        if (AppValue == 'Approve')
        {
            IsApprove = true;
        }
        else if (AppValue == 'Cancel')
        {
            IsApprove = false;
            
        }

        var Reason = $("#Reason").val();
        if (IsApprove == false) {

            if ($('#Reason').val() == '') {
                $('#Reason').after("<span class='ErrorMessage'>Please fill reason.</span>");
                $("#Reason").css("border", "1px solid red");
                IsValid = false;
            }
        }
        //else {
        //    Reason = "";
        //}
        var CandidateId = $("#CandidatesID").val();
       
        var IsApprove = IsApprove;
        if (IsValid == true) {

            $.ajax({
                type: "POST",
                url: '/Accounts/Candidates/SaveCandidate',
                data: '{ CandidateId: "' + CandidateId + '", IsApprove: "' + IsApprove + '", Reason: "' + Reason + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#dataDiv').empty();
                    $('#dataDiv').append(result);
                },
                error: function (error) {
                    $('#dataDiv').empty();
                    $('#dataDiv').append(error.responseText);

                },
                complete: function (results) {
                    $('#loader-wrapper').hide();
                    $('#ApplicantModel').modal('hide');
                    setTimeout(function () {
                        $('#MsgDiv').slideUp("slow");
                    }, 6000);
                }
            });
        }
    }

    function SaveAdmitCardDetails() {

        var CandidateID = $("#C_id").val();
        var RollNo = $("#RollNo").val();
        var ExamVenue = $("#ExamVenue").val();
        var ExamDate = $("#ExamDate").val();
        var ExamTime = $("#ExamTime").val();
        var PID = $("#P_id").val();

        $.ajax({
            type: "POST",
            url: '/Accounts/Candidates/SaveAdmitCardDetails',
            data: '{ CandidateID: "' + CandidateID + '", RollNo: "' + RollNo + '", ExamVenue: "' + ExamVenue + '", ExamDate: "' + ExamDate + '", ExamTime: "' + ExamTime + '", PID: "' + PID + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                //alert("this!!!")
                $('#ApplicantModel1').modal('hide');
                $('#dataDiv').empty();
                $('#dataDiv').append(result);
               // alert("data saved successfully!");
                
            },
            error: function (error) {
                $('#dataDiv').empty();
                $('#dataDiv').append(error.responseText);
            },
            complete: function (results) {
                $('#loader-wrapper').hide();
                $('#ApplicantModel1').modal('hide');
                //setTimeout(function () {
                //    $('#MsgDiv').slideUp("slow");
                //}, 6000);
            }
        });
    }

</script>
<!--Populate  Post Type Details -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="ApplicantModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="PostDetailsTitle">Admit Card Details</h4>
            </div>
            <form method="post" action="/Controller/Action" id="PostTypeForm">
                <div class="modal-body">
                    <div id="ApplicantDiv">


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="PostDetailsBill" onclick="SavePostDetails()" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="ApplicantModel1" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="PostDetailsTitle1">Admit Card Details</h4>
            </div>
            <form method="post" action="/Controller/Action" id="PostTypeForm1">
                <div class="modal-body">
                    <div id="ApplicantDiv1">


                    </div>
                </div>
                <div class="modal-footer">
                   
                </div>
            </form>
        </div>
    </div>
</div>


<script>

    function PrintPass() {

        $("#ApplicantDetailsDiv").print({

            stylesheet: "/Content/Bootstrap/bootstrap.min.css",
            
            rejectWindow: true,
             iframe: true,
            mediaPrint: true
        });
        return false;
    }

   
</script>