﻿@model SBL.eLegistrator.HouseController.Web.Areas.Accounts.Models.CandidateModel

<style>
  table {
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 1px;
    text-align: left;
  }
            
</style>



 <body>
                <center>
                <div style='font-size:15px'>
                    <b><i>
                        
                       @{
    switch(@Model.candidate.postId)
    {
        case 2:
            // Use the text block below to separate html elements from code
            <text>
                Application No. @Model.candidate.CandidatesID for the post of Reporter (Hindi)
            </text>
            break;  // Always break each case
        case 3:
            <text>
                  Application No. @Model.candidate.CandidatesID for the post of Reporter (English)
            </text>
            break;
        default:
            <text>
             @Model.candidate.CandidatesID for the post of @ViewBag.PostName
            </text>
            break;                   
    }
} 
                   </i></b> </div>
                    </center>
                <center>
            
                <div style='width: 88%;text-align:left;margin-top:-30px;'>
                    <div>
                        <div style='font-size:14px;width: 100px; height: 100px; float: right;'>
                           <span class="profile-picture">
                <img id="avatar" class="editable img-responsive editable-click editable-empty" alt="Alex's Avatar" src="@Model.candidate.SingImage"/>
                </span>
                    </div>
                    <div style='clear:both'>
                        <ol>
                            <li>
                              @*  <i>Name of Post : REPORTER (HINDI) </i>*@
    @switch(Model.candidate.postId)
    {
        case 2:
            // Use the text block below to separate html elements from code
            <i>
                Name of Post : Reporter (Hindi)
            </i>
            break;  // Always break each case
        case 3:
            <i>
                  Name of Post : Reporter (English)
            </i>
            break;
        default:
            <i>
             Name of Post : @ViewBag.PostName
            </i>
            break;                   
    }
      
                            </li><br />
                            <li>
                                <i>Name of the Candidate : @Model.candidate.Name </i>
                            </li><br />
                            <li>
                                <i>Father's Name : @Model.candidate.FatherName</i>
                            </li><br />
                            <li>
                                <i>Permanent Address :@Model.candidate.PermanetAdd</i>
                            </li><br />
                            <li>
                                <i>Address for correspondence : @Model.candidate.CorresAdd</i>
                            </li><br />
                            <li>
                                <i>Mobile No : @Model.candidate.Mobile </i>
                            </li><br />
                            <li>
                                <i>Date of Birth(DD/MM/YYYY)in figures : @Model.candidate.DOB.ToString("dd/MM/yyyy")  
                                    <span>(Attested copy of matriculation certificate be attached)</span>
                                </i>
                            </li><br />

                            <li>
                                <i>Educational qualifications:(attested Copies of certificates be attached)
                                </i>
                                 @if (Model.ExperiencesDetails != null && Model.ExperiencesDetails.Count() > 0)
    {
        <table>
            <thead>
                <tr>
                      <th style="border:1px solid gray">Qualification</th>
                    <th style="border:1px solid gray">Subjects</th>
                    <th style="border:1px solid gray">Year of Passing</th>
                    <th style="border:1px solid gray">Percentage of Marks obtained</th>
                    <th style="border:1px solid gray">Board/University from where passed</th>

                </tr>
            </thead>
       <tbody>
             
                 @{
               int count = 0;
               if (Convert.ToString(ViewBag.PostName) == "Chowkidar" || Convert.ToString(ViewBag.PostName) == "Frash")
               {
           
                foreach (var item in Model.ExperiencesDetails)
                {
                   <tr>
                    @if (count == 0)
                    {
                        <td style="border:1px solid gray">8th</td>
                    }
                    else if (count == 1)
                    {
                        <td style="border:1px solid gray">10th</td>
                    }
                        <td style="border:1px solid gray">@item.ExamPassed</td>
                        <td style="border:1px solid gray">@item.PassingYear</td>
                        <td style="border:1px solid gray">@item.Percentage</td>
                        <td style="border:1px solid gray">@item.Board</td>

                    </tr>
                count = count + 1;
                }

                }
                else
                {
                    foreach (var item in Model.ExperiencesDetails)
                    {
                    <tr>
                    @if (count == 0)
                    {
                        <td style="border:1px solid gray">10th</td>
                    }
                    else if (count == 1)
                    {
                        <td style="border:1px solid gray">12th</td>
                    }
                         @if (count == 2)
                    {
                        <td style="border:1px solid gray">Graduation</td>
                    }
                    else if (count == 3)
                    {
                        <td style="border:1px solid gray">Post Graduation</td>
                    }
                        <td style="border:1px solid gray">@item.ExamPassed</td>
                        <td style="border:1px solid gray">@item.PassingYear</td>
                        <td style="border:1px solid gray">@item.Percentage</td>
                        <td style="border:1px solid gray">@item.Board</td>

                    </tr>
                 count = count + 1;
                }
                  }
                 }
               
            </tbody>

        </table>
                                 }
                            </li><br />
                            <li>
                                <i>Whether belongs to  <b>@Model.candidate.Category</b> in case relaxation /concession has been sought<br /><br /> (Certificate be attached)_______________________________________________________________
                                </i>
                            </li><br />
                            <li>
                                <i>If in service ;give details as under :-
                                </i>
                               @if (Model.ExamDetailsList != null && Model.ExamDetailsList.Count() > 0)
    {
        <table>
            <thead>
                <tr>
                    <th>Name of Office where working</th>
                    <th>Post on which working</th>
                    <th>Service From</th>
                    <th>Service To</th>
                    <th>PayScale</th>
                    <th>Present PayScale</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ExamDetailsList)
                {
                if(item.OfficeName!=null && item.Designation!=null){
                    <tr>
                        <td>@item.OfficeName</td>
                        <td>@item.Designation</td>
                        <td>@item.ServiceFrom</td>
                        <td>@item.ServiceTo</td>
                        <td>@item.PayScale</td>
                        <td>@item.CurrentPayScale</td>
                    </tr>
                }
           

                }
            </tbody>
        </table>
                               }
                            </li><br />
                            <li>
                                <i>Detail of @Model.candidate.PayMentMode , @Model.candidate.DraftNo , Date and Amount  @Model.candidate.DraftDate, @Model.candidate.DraftAmount</i>
                            </li>
                        </ol>
                    </div>
                    <div><b><i>Dated :-   @Model.candidate.DraftDate</i></b></div>
                       <div style='width: 200px;height: 100px;float: right; margin-right: 3px;'>
                           <img  src='@Model.candidate.Photo' style='height: 41px;width: 135px;'/>
                          <b><i>(Signature of Candidate)</i></b>
                       </div>
                       </div>
                        
                        
                        </center></body>
                <br />
