﻿@model  List<SBL.DomainModel.Models.JobsPosting.Candidates>
@{    
    int count = 0;
    int genralCount = 0;
    int ScCount = 0;
    int StCount = 0;
    int ObcCount = 0;
}


<div class="pass-table">
     
    @if (Model != null)
    {
        if (Model.Count() > 0)
        {       
        <div class="table-header">
            <div class="form-group">
                @if (ViewBag.Msg != null)
                {
                    <div class="@ViewBag.Class" id="MsgDiv">
                        <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
                        <strong><i class="ace-icon fa fa-check-square-o"></i>@ViewBag.Notification ! </strong>@ViewBag.Msg
                    </div>
                }

            </div>
        </div>    

                foreach (var item in Model)
                {
                    {
                        if (item.Category == "SC")
                        {
                            ScCount = ScCount + 1;
                        }
                        else if (item.Category == "General")
                        {
                            genralCount = genralCount + 1;
                        }
                        else if (item.Category == "OBC")
                        {
                            ObcCount = ObcCount + 1;
                        }
                        else if (item.Category == "ST")
                        {
                            StCount = StCount + 1;
                        }
                      
                        else if (item.Category == "General(Ex-Serviceman ,)")
                        {
                            genralCount = genralCount + 1;
                        }
                        else if (item.Category == "General(IRDP ,)")
                        {
                            genralCount = genralCount + 1;
                        }
                        else if (item.Category == "General(Antodya , )")
                        {
                            genralCount = genralCount + 1;
                        }   
                        else if (item.Category == "General(Physically Handicapped ,)")
                        {
                            genralCount = genralCount + 1;
                        }
                        else if (item.Category == "General(IRDP ,Physically Handicapped ,)")
                        {
                            genralCount = genralCount + 1;
                        }
                        else if (item.Category == "SC(Ex-Serviceman ,)")
                        {
                            ScCount = ScCount + 1;
                        }
                        else if (item.Category == "SC(IRDP ,)")
                        {
                            ScCount = ScCount + 1;
                        }
                        else if (item.Category == "SC(Physically Handicapped ,)")
                        {
                            ScCount = ScCount + 1;
                        }
                        else if (item.Category == "SC(IRDP ,Physically Handicapped )")
                        {
                            ScCount = ScCount + 1;
                        }
                        else if (item.Category == "SC(Antodya , )")
                        {
                            ScCount = ScCount + 1;
                        }
                        else if (item.Category == "ST(Ex-Serviceman ,)")
                        {
                            StCount = StCount + 1;
                        }
                        else if (item.Category == "ST(IRDP ,)")
                        {
                            StCount = StCount + 1;
                        }
                        else if (item.Category == "ST(Physically Handicapped ,)")
                        {
                            StCount = StCount + 1;
                        }
                        else if (item.Category == "ST(IRDP ,Physically Handicapped )")
                        {
                            StCount = StCount + 1;
                        }
                        else if (item.Category == "ST(Antodya , )")
                        {
                            StCount = StCount + 1;
                        }
                        else if (item.Category == "OBC(Ex-Serviceman ,)")
                        {
                            ObcCount = ObcCount + 1;
                        }
                        else if (item.Category == "OBC(IRDP ,)")
                        {
                            ObcCount = ObcCount + 1;
                        }
                        else if (item.Category == "OBC(Physically Handicapped ,)")
                        {
                            ObcCount = ObcCount + 1;
                        }
                        else if (item.Category == "OBC(IRDP ,Physically Handicapped )")
                        {
                            ObcCount = ObcCount + 1;
                        }
                        else if (item.Category == "OBC(Antodya , )")
                        {
                            ObcCount = ObcCount + 1;
                        }
                    }
                }  
        <strong><i class="ace-icon fa"></i>
            General : @genralCount , SC : @ScCount , OBC : @ObcCount , ST : @StCount
            <iframe id="txtArea1" style="display:none"></iframe>
            <button class="btn btn-primary" id="btnExport" onclick="fnExcelReport();" style="margin-left: 92%;height: 38px;"> EXPORT </button>
        </strong>    
             
        <table class="table table-striped table-bordered table-hover dataTable" id="ApplicantListTbl" aria-describedby="sample-table-2_info" style="width:100%;">
            <thead>
                <tr role="row">

                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width:10%;">@Resources.MasterDataDashboard.SNo</th>
                      <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width:10%;">Application No.</th>
  
                    @*<th class="sorting"  tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width:10%;">Job</th>*@
                                        <th class="sorting"  tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width:10%;">Post Name</th>
                    <th class="sorting"  tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width:5%;">Name</th>
         @*           <th class="sorting"  tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width:5%;">Father Name</th>*@
                    <th class="sorting"  tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width:5%;">DOB</th>
                    <th class="sorting"  tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width:10%;">Mobile</th>
        @*            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width:10%;">Email Id</th>*@
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width:10%;">Category</th>
                 @*   <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width:10%;">Corr. Add</th>*@
           
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width:5%;">Document</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width:10%;">Reason</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width:5%;">Approved On</th>
                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width:10%;">Status</th>

                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width:5%;">Action</th>
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                @foreach (var item in Model)
                {
                    count = count + 1;  
                    <tr>
                        <td class="center" >
                            @count
                        </td>
                         <td class="center" >
                           @item.CandidatesID
                        </td>
                        @*<td>@item.JobName</td>*@
                           <td>@item.PostName</td>
                        <td >@item.Name</td>
                       @* <td >@item.FatherName</td>*@
                        <td >@item.DOB.ToString("dd/MM/yyyy")</td>
                        <td >@item.Mobile</td>
                      @*  <td >@item.EmailId</td>*@
                        <td >@item.Category</td>


                      @*  <td>@item.CorresAdd</td>*@

                        <td><a href="@item.DocumentPdf" target="_blank">Documents PDF</a></td>
                        <td>@item.Reason</td>
                        <td>
                            @if (item.ApporvedOn.ToString("dd/MM/yyyy") != "01/01/1900" && item.ApporvedOn.ToString("dd/MM/yyyy") != "01/01/1753")
                            {
                                @item.ApporvedOn.ToString("dd/MM/yyyy")
                            }
                        </td>
                        <td>
                            @if (item.ApporvedOn.ToString("dd/MM/yyyy") != "01/01/1900" && item.ApporvedOn.ToString("dd/MM/yyyy") != "01/01/1753")
                            {
                                if (item.IsApprove)
                                {
                                <text>Approved</text>
                                }
                                else
                                {
                                <text>Cancelled</text>
                                }
                            }
                            else
                            {
                                <text>pending for Approvel</text>
                            }
                        </td>
                        <td class="center">
                            <button class="btn btn-xs btn-info" onclick="PopulateCandidates(@item.CandidatesID)">
                                <i class="ace-icon fa fa-pencil bigger-120"></i>
                            </button>
                            <div class="space-6"></div>
                            <button class="btn btn-xs btn-warning" onclick="CandidateDetails(@item.CandidatesID)">
                                Detail
                            </button>
                        </td>
                    </tr>                                                                
                }

            </tbody>
        </table>
        <!-- PAGE CONTENT ENDS -->
        }
        else
        {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <strong>No application Founded</strong><br />
                </div>
            </div>
        </div>
        }
        
        
        
        
    }

</div>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#ApplicantListTbl').dataTable();

    });

    function fnExcelReport() {
        var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
        var textRange; var j = 0;
        tab = document.getElementById('ApplicantListTbl'); // id of table   
        for (j = 0 ; j < tab.rows.length ; j++) {

            //(tab.rows[j].cells[10].innerHTML);
            tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";      
            tab_text = tab_text.replace(/<a[^>]*>|<\/a>/g, "");
            //tab_text=tab_text+"</tr>";
            
        }

        tab_text = tab_text + "</table>";
       // tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
       // tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
       //// tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params
        sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));
        return (sa);
    }
 
</script>
