﻿@*@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV*@
@*@inherits System.Web.Mvc.WebViewPage*@
@model SBL.eLegistrator.HouseController.Web.Areas.Committee.Models.AddCOMModel
@{
    ViewBag.Title = "CreateXML";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@*<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/custom.css" rel="stylesheet" />
<a href="~/Content/Upload/"></a>

<script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>
<link href="~/Content/jquery-te-1.4.0.css" rel="stylesheet" />
<script src="~/Scripts/jquery-te-1.4.0.min.js"></script>
<script src="~/Scripts/tinymce/tiny_mce.js"></script>*@
@*<link href="~/Content/jquery-ui.css" rel="stylesheet" />*@
@*  
  <script type="text/javascript" src="/Scripts/jquery-1.7.min.js"></script>
   <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
        <script src="~/assets/js/uncompressed/jquery.js"></script>
    <script src="/assets/js/jquery.maskedinput.min.js"></script>*@
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
      <script src="~/Scripts/canvasloader-min.js"></script>
<!-- /section:basics/sidebar -->
<div>
   
       <!-- #section:basics/content.searchbox -->
        @*<div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">12<sup>th</sup> Legislative Assembly </span>
            <span class="label label-large label-purple arrowed">5<sup>th</sup> Session (Feb 2014)</span>
        </div>*@
        <!--<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="ace-icon fa fa-search nav-search-icon"></i>
							</span>
						</form>
					</div>-->
        <!-- /.nav-search -->

        <!-- /section:basics/content.searchbox -->
  @*  </div>*@

    <div id="breadcrumbs" class="breadcrumbs">
       @* <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>*@

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">@Resources.Reporters.Home</a>
            </li>

            <li>
             @*   <a href="#">@Resources.LOB.Create @Resources.LOB.lblLOB</a>*@
                Create XML
            </li>
            <li class="active" style="display: none" id="SessionCal">@Resources.Reporters.SessionCalender</li>
            <li class="active" style="display: none" id="SearchOp">@Resources.Reporters.SearchReports</li>
        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
        <div class="legAssm">
             <span class="label label-large label-pink arrowed-in-right arrowed">@Model.AssemblyId<sup>th</sup> Legislative Assembly </span>
           @* <span class="label label-large label-purple arrowed">@Model.SessionName<sup>th</sup> Session </span>*@
        </div>
        <!--<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="ace-icon fa fa-search nav-search-icon"></i>
							</span>
						</form>
					</div>-->
        <!-- /.nav-search -->

        <!-- /section:basics/content.searchbox -->
    </div>


    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->


        <!-- /section:settings.box -->
        <div class="row">
            <div class="col-xs-12" id="RightSidebar">
                <!-- PAGE CONTENT BEGINS -->




<div class="tabbable" >


    <ul class="nav nav-tabs" id="myTab" style="padding: 5px;">
        
            <li class="active" id="divCreateLOB1">
                <a href="#divCreateLOB" onclick="CreateLOB()" data-toggle="tab"><b>@Resources.LOB.Create</b></a>

            </li>
      
             <li id="divPendingLOB1">
                 <a href="#divPendingLOB" onclick="PendingLOB()" data-toggle="tab"><b>@Resources.LOB.Pending</b></a>

             </li>
      
            @* <li id="divSubmittedLOB1">
                 <a href="#divSubmittedLOB" onclick="SubmittedLOB()" data-toggle="tab"><b>@Resources.LOB.Submitted</b></a>

             </li>*@
      
            
         
    </ul>
    <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>

     <div class="tab-content" style="padding:1px;border:2px solid #c5d0dc">
            <div class="tab-pane in active"  id="divCreateLOB">
       
            </div>
            <div class="tab-pane" id="divPendingLOB">
       
            </div>
            <div  class="tab-pane" id="divSubmittedLOB" >
        
            </div>
    </div>
                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.page-content -->
</div>
    </div>
<!-- /.main-content -->

<script>
    $(document).ready(function () {
        CreateLOB();
    });

    function clearHTML() {
        $("#divCreateLOB").html("");
        $("#divPendingLOB").html("");
        $("#divSubmittedLOB").html("");
    }

    function CreateLOB(COMId) {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Committee/CommitteeXML/PartialCreateLOB",
            type: 'GET',
            data: {
                COMId: COMId
            },
            success: function (data) {
                clearHTML();
                $("#divCreateLOB").html(data);
                document.getElementById("divPendingLOB").style.display = "none";
                document.getElementById("divSubmittedLOB").style.display = "none";
                document.getElementById("divCreateLOB").style.display = "block";

                $("#divCreateLOB1").removeClass("active").addClass("active");
                $("#divPendingLOB1").removeClass("active").addClass("");
                $("#divSubmittedLOB1").removeClass("active").addClass("");
                cl.hide();
            }
        });
    }

    function PendingLOB() {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Committee/CommitteeXML/PartialPendingCOM",
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                clearHTML();
                $("#divPendingLOB").html(data);
                document.getElementById("divCreateLOB").style.display = "none";
                document.getElementById("divSubmittedLOB").style.display = "none";
                document.getElementById("divPendingLOB").style.display = "block";

                $("#divCreateLOB1").removeClass("active").addClass("");
                $("#divPendingLOB1").removeClass("active").addClass("active");
                $("#divSubmittedLOB1").removeClass("active").addClass("");
                cl.hide();
            }
        });
    }

    function SubmittedLOB() {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Committee/CommitteeXML/PartialSubmittedLOB",
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                clearHTML();
                $("#divSubmittedLOB").html(data);
                document.getElementById("divPendingLOB").style.display = "none";
                document.getElementById("divCreateLOB").style.display = "none";
                document.getElementById("divSubmittedLOB").style.display = "block";

                $("#divCreateLOB1").removeClass("active").addClass("");
                $("#divPendingLOB1").removeClass("active").addClass("");
                $("#divSubmittedLOB1").removeClass("active").addClass("active");
                cl.hide();
            }
        });
    }
</script>