﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV
@{
    String dd = ViewBag.Date;
    string[] dda = dd.Split('/');
    System.DateTime date1 = new DateTime(int.Parse(dda[2]), int.Parse(dda[1]), int.Parse(dda[0]));
    String ddf = ViewBag.Dateto;
    string[] ddaf = ddf.Split('/');
    System.DateTime date1f = new DateTime(int.Parse(ddaf[2]), int.Parse(ddaf[1]), int.Parse(ddaf[0]));
 
   
    
    }
  <div class="modal-dialog" style="width:1200px;margin-top:10px;">

    <div class="modal-content">
      <!-- dialog body -->
      <div class="modal-body">
      
<div class="modal-header" style="background-color:white; position: relative;">
      <button type="button" style="padding-right:10px; color:red;position: relative;  top: -20px;" class="close" data-dismiss="modal" margin-top: "-12px" >&times;</button>
    <div style="position: absolute;  top: -10px;">
    <div>
        <h4>
       
               <b> <span id="" style="position:relative; color:darkblue; margin-bottom:12px;font-weight: bold; font-size: 20px; margin-bottom:12px">@Model.EventName</span></b></h4></div>

             
    </div>
  @*  <div class="row-fluid">*@
        <div style="font-weight: bold; font-size: 14px; width: 450px;">
        </div>

@*    </div>*@
</div>

<style>

    #ui-datepicker-div {
    width: 19em;
   
}
</style>
<script>

  

    $('#Datefrom').datepicker({
        dateFormat: 'dd/mm/yy',
        width: '20px',
        startDate: '-3d',
        // yearRange: '1900:2009',
        defaultDate: '@date1.ToString("dd/MM/yyyy")'

    });

    $('#Dateto').datepicker({
        dateFormat: 'dd/mm/yy',
        width: '20px',
        startDate: '-3d',
        //  yearRange: '1900:2009',
        defaultDate: '@date1f.ToString("dd/MM/yyyy")'

            });



</script>
          
<script>
    try {

    } catch (error) {
    }

</script>

         <div>
    <table style="width:100%">
        <tr>
            <td style="width:19%;text-align:center;padding-left:10%">
               
                <b>
                    @Resources.LOB.Priority :
                    @Html.HiddenFor(m=>m.EventId)
                </b>
            </td>
            <td style="width:32.8%;text-align:center;padding-left:4%">

                   <select id="PriorityV" onchange="getPaperLaidListByEventId();" style="width:100%">
                     <option id="All" value="ALL">ALL</option>
                     <option id="NotSet" value="NotSet">Not Set</option>
                     <option id="1" value="1">1</option>
                     <option id="2" value="2">2</option>
                     <option id="3" value="3">3</option>
                     <option id="4" value="4">4</option>
                     <option id="5" value="5">5</option>
                     <option id="6" value="6">6</option>
                     <option id="7" value="7">7</option>
                     <option id="8" value="8">8</option>
                     <option id="9" value="9">9</option>
                     <option id="10" value="10">10</option>
                </select>
            </td>
         
                  <td style="width:10%;text-align:center;padding-left:1%;">
                 
                    <b>
                    @Resources.LOB.SelectPaper :
                    @Html.HiddenFor(m=>m.EventId)
                </b>
            </td>
           <td style="width:40%;text-align:left;">
           
                
           
                <select id="SelectPaper" onchange="getPaperLaidListByEventId();" style="width:65%">
                      <option id="Pending Papers" value="Pending Papers">Pending Papers</option>
                   
                    
                     <option id="Paper Laid" value="Paper Laid">Paper Laid</option>
                     <option id="AllPapers" value="ALL">ALL</option>
                     </select>
            </td>
        @*    <td>
                <input type="button" value="@Resources.LOB.lblSearch" onclick="getPaperLaidListByEventId()" />
            </td>*@
        </tr>
        <tr style="height:15px">
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </table>

</div>




<div>
     <table style="width:100%">
        <tr>
          <td style="width:7.5%;text-align:right;">
                              
                <b>
                    Select Date:</b>
                </td>
    <td style="width:1%;text-align:right"><b>From</b></td>


            <td style="width:1%;text-align:center;">   
     
     @*<input id="Datefrom" class="datepicker" value="@ViewBag.Date" data-date-format="dd/MM/yyyy">*@
                   <input id="Datefrom" class="datepicker" value="@ViewBag.Date" onchange="getPaperLaidListByEventId();"  data-date-format="dd/MM/yyyy">
                 <td style="width:.25%;text-align:left"><b>To</b></td>
                
           <td style="width:25%;text-align:left"> 




                          <input id="Dateto" class="datepicker" value="@ViewBag.dateto" onchange="getPaperLaidListByEventId();" data-date-format="dd/MM/yyyy">

                    
                            </td>
        </tr>
          <tr style="height:10px">
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </table>
    </div>

<div>
    <table style="width:100%">
        <tr>
           <td style="width:19%;text-align:right;padding-right:4.11%">
                
                <b style="padding-left:20%">
                    @Resources.LOB.Department :
                    @Html.HiddenFor(m=>m.DepartmentId)
                </b>
            </td>
            <td style="width:63%">
               
           @Html.DropDownList("deptId", new SelectList(Model.mDepartmentList, "deptId", "deptname", 0) ,new {onchange="getPaperLaidListByEventId()", @class = "col-xs-10 col-sm-10" })
      
             
            </td>
       
        </tr>
        <tr style="height:15px">
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </table>

</div>

<div id="PaperGRid">
    

</div>
              </div>
        </div>
      </div>

<script>
    $(document).ready(function () {

        getPaperLaidListByEventId();
        // updateDate();
    });

    function getPaperLaidListByEventId() {
        //debugger;
        var ConcernedEventId = document.getElementById("EventId").value;

        if (ConcernedDeptId == null || ConcernedDeptId == "") {
            ConcernedDeptId = "ALL";
        }
        var ConcernedDeptId = document.getElementById("deptId").value;
        //alert(ConcernedDeptId)



        if (PaperId == null || PaperId == "") {
            PaperId = "Pending Papers";
        }
        var PaperId = document.getElementById("SelectPaper").value;
        //alert(PaperId)

        if (Priority == null || Priority == "") {
            Priority = "ALL";
        }
        var Priority = document.getElementById("PriorityV").value;

        if (Datefrom == null || Datefrom == "") {
            Datefrom = "dd/MM/yyyy";
        }
        var Datefrom = document.getElementById("Datefrom").value;
        //alert(Datefrom)
        var Dateto = document.getElementById("Dateto").value;
        //alert(Dateto)
        var cl = new CanvasLoader('canvasloader-container2');
        cl.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Committee/CommitteeXML/getPaperLaidListByEventId",
            type: 'GET',
            data: {
                ConcernedEventId: ConcernedEventId,
                Priority: Priority,
                PaperId: PaperId,
                ConcernedDeptId: ConcernedDeptId,
                Datefrom: Datefrom,
                Dateto: Dateto,
            },
            success: function (data) {
                //alert(data);
                $('#PaperGRid').html(data);

                cl.hide();
            }
        });
    }
    function GetListByPriorityIdAndPaperId() {
        var ConcernedEventId = document.getElementById("EventId").value;
        //var ConcernedDeptId = document.getElementById("deptId").value;
        var Priority = document.getElementById("PriorityV").value;
        var PaperId = document.getElementById("SelectPaper").value;
        //alert(ConcernedDeptId);
        if (Priority == null || Priority == "") {
            Priority = "ALL";

        }
        var cl = new CanvasLoader('canvasloader-container2');
        cl.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/ListOfBusiness/ListOfBusiness/GetListByPriorityIdAndPaperId",
            type: 'GET',
            data: {
                ConcernedEventId: ConcernedEventId,
                Priority: Priority,
                //ConcernedDeptId: ConcernedDeptId,
                PaperId: PaperId,

            },
            success: function (data) {
                $('#PaperGRid').html(data);

                cl.hide();

            }
        });
    }
</script>