﻿@model SBL.eLegistrator.HouseController.Web.Areas.Committee.Models.COMModel


@*<link href="~/Content/SBL/typography.css" rel="stylesheet" />*@


@using Resources
@{ 
    int count = 0;
    int startpage = 0;
    int endPage = 0; 
}

@{
                
    float rcnt = @Model.ResultCount;
    float rperPage = @Model.RowsPerPage;
    float cnt = rcnt / rperPage;
    int b = (int)cnt;
    float c = (float)cnt - b;
                
}
@if (c > 0)
{
    count = b + 1;
}
else
{
    count = b;
}
@{
    startpage = ((@Model.selectedPage * 50) - 50) + 1;
    endPage = startpage + 49;
           
}
@if (Model.loopStart <= 0)
{
    Model.loopStart = 1;
    Model.loopEnd = 5;
}


@*<div><b>@Resources.LOB.PendingLOB : </b></div>*@
<div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>
<br />

<div class="pass-table">

    <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">


        @if (count > 0)
        {
            <div class="row">

                <div class="col-xs-6">
                    <div class="dataTables_paginate paging_bootstrap" style="text-align: left">
                        @if (count > 0)
                        {
                            if (count < Model.loopEnd)
                            {
                                Model.loopEnd = count;
                            }
                            <ul class="pagination">
                                <li class="prev">
                                    <a href="#" onclick="NextButton(@Model.RowsPerPage,1,1,5)">
                                        <i class="fa fa-angle-double-left"></i>

                                    </a>

                                </li>
                                @if (Model.loopStart > 5)
                                {    
                                    <li class="prev">
                                        <a href="#" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)">
                                            <i class="fa fa-angle-left"></i>

                                        </a>

                                    </li>
                                }

                                @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                                {
                                    if (i == @Model.selectedPage)
                                    {
                                    
                                    <li class="active">
                                        <a href="#">
                                            @i
                                        </a>
                                    </li>
                                    }
                                    else
                                    {
                                    <li>
                                        <a href="#"  onclick="NextButton(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)">
                                            @i
                                        </a>
                                    </li>
                             
@*<li><a href="#"   onclick="NextButton(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>*@
                                    }
                                }
                                @if (Model.loopStart + 5 < @count)
                                {
                  
                                    <li class="next">
                                        <a href="#" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)">
                                            <i class="fa fa-angle-right"></i>

                                        </a>

                                    </li>
                                }

                                <li class="next">
                                    <a href="#" onclick="NextButton(@Model.RowsPerPage,@count,@count-5,@count)">
                                        <i class="fa fa-angle-double-right"></i>

                                    </a>

                                </li>

                            </ul>
                        }
                    </div>

                </div>
                <div class="col-xs-6">
                    <div class="dataTables_info" id="sample-table-2_info" style="text-align: right">
                        @Model.loopStart - @Model.loopEnd Of @count Pages.

                    </div>

                </div>
            </div>
        }
@*<div class="grid-ex-footer">
            <div class="grid-pagination">
                @if (count > 0)
                {
                    if (count < Model.loopEnd)
                    {
                        Model.loopEnd = count;
                    }
                    <a href="#" onclick="NextButton(@Model.RowsPerPage,1,1,5)"  class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">first page</span></a>
                    if (Model.loopStart > 5)
                    {                           
                    <a href="#" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)"  class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">previous page</span></a>                                          
                    }
                    <ul class="gridpage-numbers">
                        @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                        {
                            if (i == @Model.selectedPage)
                            {
                                    
                            <li><span class="grid-page-selected">@i</span></li>
                            }
                            else
                            {
                            <li><a href="#"   onclick="NextButton(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                            }
                        }
                    </ul>
                        if (Model.loopStart + 5 < @count)
                        {
                    <a href="#" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)"  class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">next page</span></a>                         
                        }
                    <a href="#" onclick="NextButton(@Model.RowsPerPage,@count,@count-5,@count)"  class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">last page</span></a>
                    <span class="grid-page-info">@Model.loopStart - @Model.loopEnd Of @count Pages.</span>
                }
            </div>
        </div>*@





        @if (Model.ListCOMBYId != null)
        {
            if (Model.ListCOMBYId.Count > 0)
            {
            <table style="width: 100%" class="table table-striped table-bordered table-hover dataTable" aria-describedby="sample-table-2_info">
                <thead>
                    <tr role="row">
                        <th id="th1" class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 15%">
                            <b>Committee Name</b>
                        </th>
                        <th id="th2" class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 15%">
                            <b>Meeting Time</b>
                        </th>
                        <th id="th3" class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 10%">
                            <b>Meeting Date</b>
                        </th>
                       <th id="th4" class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 10%">
                            <b>Edit</b>
                        </th>
                        <th id="th8" class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 10%">
                            <b>Delete </b>
                        </th>
                         <th id="th9" class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 5%">
                            <b>Generate XML </b>
                        </th>
                    </tr>
                </thead>

                <tbody role="alert" aria-live="polite" aria-relevant="all">
                    @foreach (var item in Model.ListCOMBYId)
                    {
                        
                        <tr style="height: 40px">
                            <td style="text-align: center">
                                @item.CommitteeName
                            </td>
                            <td style="text-align: center">
                               @* @item.SessionName*@
                                 @if (item.MeetingTime != null)
                                {
                                    <div>@item.MeetingTime</div>
                                }
                            </td>
                            <td style="text-align: center">
                                @if (item.MeetingDate != null)
                                {
                                    <div>@Convert.ToDateTime(item.MeetingDate).ToString("dd/MM/yyyy")</div>
                                }

                            </td>
                               <td style="text-align: center">
                                <a data-rel="tooltip" id="Updateline" class="tooltip-success" title="Update COMs"  onclick="UpdateLOB('@item.COMId')">
                                            <i class="green ace-icon fa fa-pencil bigger-120"></i>
                                        </a>

                            </td>
                        
                            <td style="text-align: center">
                                                             
                                 
                                        <a data-rel="tooltip" class="tooltip-error" title="@Resources.LOB.Delete" onclick="DeleteCOM('@item.COMId')">
                                            <i class="red ace-icon fa fa-trash-o bigger-120"></i>
                                        </a>
                                       
                                </td>

                            <td style="text-align: center">
                                
                                  @Html.ActionLink("COM AS PDF", "GenerateXMLcom", "CommitteeXML", new { COMId = @item.COMId, MeetingTime =@item.MeetingTime , CommId= @item.CommitteeId }, new { title = Resources.LOB.generateEBook, target = "_blank", @class = "classname1" })
                                 
                       </td>
                        </tr>
                            
                    }

                </tbody>
            </table>
            }
            else
            {
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-info">
                        <strong>No Record Found!</strong><br />
                    </div>
                </div>
            </div>
        
            }
        }
        else
        {
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-info">
                        <strong>No Record Found!</strong><br />
                    </div>
                </div>
            </div>
        
        }

        @if (count > 0)
        {

            <div class="row">

                <div class="col-xs-6">
                    <div class="dataTables_paginate paging_bootstrap" style="text-align: left">
                        @if (count > 0)
                        {
                            if (count < Model.loopEnd)
                            {
                                Model.loopEnd = count;
                            }
                            <ul class="pagination">
                                <li class="prev">
                                    <a href="#" onclick="NextButton(@Model.RowsPerPage,1,1,5)">
                                        <i class="fa fa-angle-double-left"></i>

                                    </a>

                                </li>
                                @if (Model.loopStart > 5)
                                {    
                                    <li class="prev">
                                        <a href="#" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)">
                                            <i class="fa fa-angle-left"></i>

                                        </a>

                                    </li>
                                }

                                @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                                {
                                    if (i == @Model.selectedPage)
                                    {
                                    
                                    <li class="active">
                                        <a href="#">
                                            @i
                                        </a>
                                    </li>
                                    }
                                    else
                                    {
                                    <li>
                                        <a href="#"  onclick="NextButton(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)">
                                            @i
                                        </a>
                                    </li>
                             
@*<li><a href="#"   onclick="NextButton(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>*@
                                    }
                                }
                                @if (Model.loopStart + 5 < @count)
                                {
                  
                                    <li class="next">
                                        <a href="#" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)">
                                            <i class="fa fa-angle-right"></i>

                                        </a>

                                    </li>
                                }

                                <li class="next">
                                    <a href="#" onclick="NextButton(@Model.RowsPerPage,@count,@count-5,@count)">
                                        <i class="fa fa-angle-double-right"></i>

                                    </a>

                                </li>

                            </ul>
                        }
                    </div>

                </div>
                <div class="col-xs-6">
                    <div class="dataTables_info" id="sample-table-2_info" style="text-align: right">
                        @Model.loopStart - @Model.loopEnd Of @count Pages.

                    </div>

                </div>
            </div>
        }
@*<div class="grid-ex-footer">
            <div class="grid-pagination">
                @if (count > 0)
                {
                    if (count < Model.loopEnd)
                    {
                        Model.loopEnd = count;
                    }
                    <a href="#" onclick="NextButton(@Model.RowsPerPage,1,1,5)"  class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">first page</span></a>
                    if (Model.loopStart > 5)
                    {                           
                    <a href="#" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)"  class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">previous page</span></a>                                          
                    }
                    <ul class="gridpage-numbers">
                        @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                        {
                            if (i == @Model.selectedPage)
                            {
                                    
                            <li><span class="grid-page-selected">@i</span></li>
                            }
                            else
                            {
                            <li><a href="#"   onclick="NextButton(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                            }
                        }
                    </ul>
                        if (Model.loopStart + 5 < @count)
                        {
                    <a href="#" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)"  class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">next page</span></a>                         
                        }
                    <a href="#" onclick="NextButton(@Model.RowsPerPage,@count,@count-5,@count)"  class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">last page</span></a>
                    <span class="grid-page-info">@Model.loopStart - @Model.loopEnd Of @count Pages.</span>
                }
            </div>
        </div>*@


    </div>

</div>

<style>
    a.classname1 {
        background: url(/Content/img/left_green_member.png) no-repeat top left;
        background-size: 45px 40px;
        display: block;
        width: 45px;
        height: 40px;
        text-indent: -9999px; /* hides the link text */
    }
</style>

<script>

    function CorrigendumLOB(COMId) {
        //alert("Corregendum");
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Committee/CommitteeXML/PartialCorrigendumCOM",
            type: 'GET',
            data: {
                COMId: COMId
            },
            success: function (data) {
                clearHTML();
                $("#divPendingLOB").html(data);
                document.getElementById("divPendingLOB").style.display = "block";
                document.getElementById("divSubmittedLOB").style.display = "none";
                document.getElementById("divCreateLOB").style.display = "none";
                cl.hide();
            }
        });
    }


    function LoadLobAsPdf(RecordId) {

        var url = '@Url.Action("LOBAsPdf", "CommitteeXML", new { LOBId = "RecordId" })';
        url = url.replace('amp;', '');
        url = url.replace('amp;', '');
        url = url.replace('RecordId', RecordId);
        window.open(url, '_blank');

    }


    function GenerateXMLCOM(COMId) {
        if (COMId != null && COMId != "") {
            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/Committee/CommitteeXML/GenerateXMLlob",
                type: 'GET',
                data: {
                    COMId: COMId,
                },
                success: function (data) {
                    var message = '@Html.Raw(Resources.LOB.GeneratedSuccessfully)';
                    alert(message);
                    PendingLOB();
                }
            });
            }
        }

        function DeleteCOM(COMId) {
            var aler = '@Html.Raw(Resources.LOB.AreyousurewanttodeletethisLOB)';

            var r = confirm(aler);
            if (r == true) {
                if (COMId != null && COMId != "") {
                    $.ajaxSetup({ cache: false });
                    $.ajax({
                        url: "/Committee/CommitteeXML/DeleteCOM",
                        type: 'GET',
                        data: {
                            COMId: COMId,
                        },
                        success: function (data) {
                            var message = '@Html.Raw(Resources.LOB.DeletedSuccessfully)';
                            alert(message);
                            PendingLOB();
                        }
                    });
                    }
                }
                else {
                }
            //   alert("delete");
            }


            function SubmitLOB(COMId) {
                var aler = '@Html.Raw(Resources.LOB.AreyousurewanttoSubmitthisLOB)';

                var r = confirm(aler);
                if (r == true) {
                    if (COMId != null && COMId != "") {
                        var cl = new CanvasLoader('canvasloader-container2');
                        cl.show();
                        $.ajaxSetup({ cache: false });
                        $.ajax({
                            url: "/Committee/CommitteeXML/SubmitLOB",
                            type: 'GET',
                            data: {
                                COMId: COMId,
                            },
                            success: function (data) {
                                var message = '@Html.Raw(Resources.LOB.SubmittedSuccessfully)';
                                alert(message);
                                PendingLOB();
                                cl.hide();
                            }
                        });
                        }

                    }
                    else {
                    }
                //   alert("delete");
                }

                @*function SubmitLOBCorrigendum(LOBId) {
                    var aler = '@Html.Raw(Resources.LOB.AreyousurewanttoSubmitthisLOB)';

                    var r = confirm(aler);
                    if (r == true) {
                        if (LOBId != null && LOBId != "") {
                            var cl = new CanvasLoader('canvasloader-container2');
                            cl.show();
                            $.ajaxSetup({ cache: false });
                            $.ajax({
                                url: "/ListOfBusiness/ListOfBusiness/SubmitLOBCorrigendum",
                                type: 'GET',
                                data: {
                                    LOBId: LOBId,
                                },
                                success: function (data) {
                                    var message = '@Html.Raw(Resources.LOB.SubmittedSuccessfully)';
                                    alert(message);
                                    PendingLOB();
                                    cl.hide();
                                }
                            });
                            }

                        }
                        else {
                        }
                    //   alert("delete");
                    }*@




    function UpdateLOB(RecordId) {
        CreateLOB(RecordId);
    }


    function NextButton(rPage, pageNo, lStart, lEnd) {

        var pageNumber = pageNo;
        var rowsPerPage = rPage;
        var loopStart = lStart;
        var loopEnd = lEnd

        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Committee/CommitteeXML/PartialPendingCOM",
            type: 'GET',
            data: {
                PageNumber: pageNumber,
                RowsPerPage: rowsPerPage,
                loopStart: loopStart,
                loopEnd: loopEnd
            },
            success: function (data) {
                clearHTML();
                $("#divPendingLOB").html(data);
                document.getElementById("divCreateLOB").style.display = "none";
                document.getElementById("divSubmittedLOB").style.display = "none";
                document.getElementById("divPendingLOB").style.display = "block";
                cl.hide();
            }
        });

    }

    function NextAndPreviousButton(rPage, pageNo, lStart, lEnd) {


        var pageNumber = pageNo;
        var rowsPerPage = rPage;
        var loopStart = lStart;
        var loopEnd = lEnd

        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Committee/CommitteeXML/PartialPendingCOM",
            type: 'GET',
            data: {
                PageNumber: pageNumber,
                RowsPerPage: rowsPerPage,
                loopStart: loopStart,
                loopEnd: loopEnd
            },
            success: function (data) {
                clearHTML();
                $("#divPendingLOB").html(data);
                document.getElementById("divCreateLOB").style.display = "none";
                document.getElementById("divSubmittedLOB").style.display = "none";
                document.getElementById("divPendingLOB").style.display = "block";
                cl.hide();
            }
        });


    }


</script>
