﻿@*@model SBL.DomainModel.Models.Notice.tMemberNotice*@

<div id="sidebar" class="sidebar responsive">
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div id="sidebar-shortcuts-large" class="sidebar-shortcuts-large">

            @*   <button title="Logout" data-placement="bottom" data-rel="tooltip" class="btn btn-danger" onclick="javascript:document.getElementById('logoutForm').submit()">
                <i class="ace-icon fa fa-lock "></i>
                @{
                    <text>

                    @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                               
                    }

                    </text>  
                }

            </button>*@

            <a title="Help" data-rel="tooltip" class="btn btn-danger" href="~/HelpFiles/User Manual for Department 1.pdf" target="_blank">
                <i class="ace-icon fa fa-info-circle"></i>
            </a>

            <button class="btn btn-info" id="sizeUp" title="Increase fontsize" data-placement="bottom" data-rel="tooltip">
                <b>A<sup>+</sup> </b>
            </button>

            <!-- #section:basics/sidebar.layout.shortcuts -->
            <button class="btn btn-warning" id="sizeDown" title="Decrease fontsize" data-placement="bottom" data-rel="tooltip">
                <b>A<sup>-</sup> </b>
            </button>

            <!--<button class="btn btn-danger">-->

            @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.LanguageID == "7C4F28F6-02FC-4627-993D-E255037531AD")
            {
                <button id="btnHindi" title="Change language" data-placement="right" data-rel="tooltip" class="btn btn-success" onclick="ChangeLangaugeHindi();">
                    हिन्दी                   
                                               
                    <!--<i class="ace-icon fa fa-cogs"></i>-->
                </button>
            }
            else
            {
                <button id="btnEnglish" style="width: 70px" title="Change language" data-placement="right" data-rel="tooltip" class="btn btn-success" onclick="ChangeLangaugeEnglish();">
                    English
                    <!--<i class="ace-icon fa fa-cogs"></i>-->
                </button>
            }






            <!-- /section:basics/sidebar.layout.shortcuts -->


            <!-- /section:basics/sidebar.layout.shortcuts -->
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div>
    <!-- /.sidebar-shortcuts -->


    <ul class="nav nav-list">
        @if (@Model.RoleName == "Vidhan Sabha Typist")
        {
            <li class="active">
                <a href="javascript:void(0);">
                    <i class="menu-icon fa fa-desktop"></i>
                    <span class="menu-text">My Dashboard </span>
                </a>
                <b class="arrow"></b>
            </li>
        }
        else
        {
            <li class="active">
                <a href="javascript:void(0);">
                    <i class="menu-icon fa fa-desktop"></i>
                    <span onclick="getDashboard();" class="menu-text">My Dashboard </span>
                </a>
                <b class="arrow"></b>
            </li>
        }
        @*<li class="active">*@
        <li class="">
            <a href="javascript:void(0);" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text">@Resources.Member.OnlineSubmission
                    <span class="badge badge-success tooltip-error">@Model.TotalValue</span>
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>
            <ul class="submenu">
                <li class="">
                    <a href="javascript:void(0);" onclick="GetActionView('Starred','@Model.TotalStaredReceived')">
                        <i class="menu-icon fa fa-caret-right"></i>
                        @Resources.Diaries.StarredQuestion
                        @{ //int TotalStarredInbox = @Model.TotalStaredReceived + @Model.TotalStaredPendingForSubmission;
                            <span class="badge badge-primary ">@Model.TotalStaredReceived</span>
                        }
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="javascript:void(0);" onclick="GetActionView('Unstarred','@Model.TotalUnStaredReceived')">
                        <i class="menu-icon fa fa-caret-right"></i>
                        @Resources.Diaries.UnstarredQuestion
                        <span class="badge badge-primary ">@Model.TotalUnStaredReceived</span>
                    </a>
                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="javascript:void(0);" onclick="GetActionView('Notice','@Model.TotalNoticesReceived')">
                        <i class="menu-icon fa fa-caret-right"></i>
                        @Resources.Diaries.Notices
                        <span class="badge badge-primary ">@Model.TotalNoticesReceived</span>
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
        @*<li class="active">*@
        <li class="">
            <a href="javascript:void(0);" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text">@Resources.Member.Tours
                    <span class="badge badge-success tooltip-error">@Model.AllMemberTourCount</span>
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>
            <ul class="submenu">
                <li class="">
                    <a href="javascript:void(0);" onclick="TodayMemberTourList()">
                        <i class="menu-icon fa fa-caret-right"></i>
                        @Resources.Member.ToDayProgrammes

                        @{ //int TotalStarredInbox = @Model.TotalStaredReceived + @Model.TotalStaredPendingForSubmission;
                            <span class="badge badge-primary ">@Model.TodayTourCount</span>
                        }
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="javascript:void(0);" onclick="UpcomingMemberTourList()">
                        <i class="menu-icon fa fa-caret-right"></i>

                        @Resources.Member.UpcomingProgrammes
                        <span class="badge badge-primary ">@Model.UpcomingTourCount</span>
                    </a>
                    <b class="arrow"></b>
                </li>

            </ul>
        </li>
         <li class="">
            <a href="javascript:void(0);" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text">Member Gallery
                    @*<span class="badge badge-success tooltip-error">@Model.AllMemberTourCount</span>*@
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>
            <ul class="submenu">
                <li class="">
                    <a href="javascript:void(0);" onclick="TodayMemberTourList()">
                        <i class="menu-icon fa fa-caret-right"></i>
                        @*@Resources.Member.ToDayProgrammes*@
                        Member Category Gallery

                        @{ //int TotalStarredInbox = @Model.TotalStaredReceived + @Model.TotalStaredPendingForSubmission;
                            @*<span class="badge badge-primary ">@Model.TodayTourCount</span>*@
                        }
                    </a>
                    <b class="arrow"></b>
                </li>
                <li class="">
                    <a href="javascript:void(0);" onclick="UpcomingMemberTourList()">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Member Album Gallery
                        @*@Resources.Member.UpcomingProgrammes*@
                        @*<span class="badge badge-primary ">@Model.UpcomingTourCount</span>*@
                    </a>
                    <b class="arrow"></b>
                </li>

            </ul>
        </li>
    </ul>
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
    </script>
</div>
@*<script type="text/javascript">

    function ChangeLangaugeEnglish() {

        $.ajax({
            url: "/Home/ChangeCulture",
            type: 'GET',
            data: {
                lang: "7C4F28F6-02FC-4627-993D-E255037531AD",
                langCulture: "/"
            },
            success: function (data) {
                if (data) {
                    window.location.href = '@Url.Action("DiariesDashboard", "Diaries", new { Area = "Notices" })';
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }
    function ChangeLangaugeHindi() {

        $.ajax({
            url: "/Home/ChangeCulture",
            type: 'GET',
            data: {
                lang: "43177cd4-b51d-497a-a3bc-e81f23b07450",
                langCulture: "/"
            },
            success: function (data) {
                if (data) {
                    window.location.href = '@Url.Action("DiariesDashboard", "Diaries", new { Area = "Notices" })';
                 } else { alert("error"); }
             },
             error: function (xhr, ajaxOptions, thrownError) {
                 alert(xhr.status);
                 alert(thrownError);
             }
         });
     }

     $("#sizeDown").click(function () {
         if ($("body").hasClass('sizeLarge')) {
             $("body").css("font-size", "13px");
             $("body").removeClass('sizeLarge');
         } else {
             $("body").css("font-size", "10px");
             $("body").addClass('sizeSmall');
         }
     });
     $("#sizeUp").click(function () {
         if ($("body").hasClass('sizeSmall')) {
             $("body").css("font-size", "13px");
             $("body").removeClass('sizeSmall');
         } else {
             $("body").css("font-size", "18px");
             $("body").addClass('sizeLarge');
         }
     });


</script>*@