﻿@model SBL.eLegistrator.HouseController.Web.Areas.Admin.Models.AlbumCategoryViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}


<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />

@*@Html.Hidden("SessionCodeHome", Model.SessionID)
@Html.Hidden("AssemblyCodeHome", Model.AssemblyID)
@Html.HiddenFor(m => m.Message)
@Html.HiddenFor(m => m.Msg)*@

@Html.Partial("_LeftNavigationMenu")
<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("GalleryCategoryIndex", "Gallery")">Admin</a>
            </li>
            <li>
                <a href="@Url.Action("GalleryCategoryIndex", "Gallery")">Gallery Category</a>
            </li>
            @*    //<li class="active">@Heading</li>*@
        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>

    </div>

    <div class="page-content">
        <div id="ace-settings-container" class="ace-settings-container">

            <button class="btn  btn-sm btn-success" id="saveandnew">
                <i class="ace-icon fa fa-floppy-o bigger-150"></i>
                <span class="bigger-110">Save &amp; New</span>
            </button>

            <button type="submit" class="btn  btn-sm btn-warning" id="savebtn2">
                <i class="ace-icon fa fa-floppy-o bigger-150"></i>
                <span class="bigger-110">Save</span>
            </button>
           @* @if (Model.Mode != "Add")
            {
                //onclick="javascript:window.location.href='/Admin/Gallery/DeleteGallery/@Model.CategoryID';"
                <button class="btn  btn-sm btn-danger" id="@Url.Action("DeleteGallery", "Gallery", new { id = @Model.AlbumCategoryID })" onclick="DeleteGalleryCategoryInEdit(this.id)" >
                    <i class="ace-icon fa fa-trash-o bigger-150"></i>
                    <span class="bigger-50">Delete</span>
                </button>
            }*@
            <button class="btn  btn-sm  btn-grey" onclick="javascript:window.location.href='/Admin/Gallery/GalleryCategoryIndex';">
                <i class="ace-icon fa fa-times bigger-150"></i>
                <span class="bigger-110">Cancel</span>
            </button>



        </div>
        <div class="page-header">
            <h1>Admin 
                               
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Album Category
                </small>
            </h1>


        </div>

        <!-- /section:settings.box -->

        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">Create  AlbumCategory</h4>
            }
            else
            {
                <h4 class="widget-title lighter">Edit Gallery Category</h4>
            }

        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">




                            @using (Html.BeginForm("SaveAlbumCategory", "AlbumCategory", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                            { 
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.AlbumCategoryID)
                                @Html.HiddenFor(model => model.Mode)
                                
                                @*<input type="hidden" id="fileacesspath" value="@fileacessingpath" />*@

                                <h4 class="header blue lighter smaller clearfix">Basic details </h4>


                                <div class="tabbable">
                                    <ul id="myTab" class="nav nav-tabs padding-18">
                                        <li class="active">
                                            <a href="#news-english" data-toggle="tab">
                                                <i class="green ace-icon fa fa-home bigger-120"></i>
                                                English
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#news-hindi" data-toggle="tab">
                                                <i class="blue ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                <span class="lang-hi">हिन्दी  </span>

                                            </a>
                                        </li>
                                    </ul>
                                    

                                </div>
                                
                                
                                <div class="space-6"></div>
                               
                               
                                     
                                <div class="tab-content no-border padding-24">
                                        <div class="tab-pane in active" id="news-english">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Name">Category Title </label>

                                                <div class="col-sm-9 help-block">

                                                    @Html.TextBoxFor(model => model.CategoryName, new { @class = "col-xs-10 col-sm-5", @placeholder = "Name", @autocomplete = "off" })

                                                    @Html.ValidationMessageFor(model => model.CategoryName)

                                                </div>
                                            </div>

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Category Description </label>
                                                <div class="col-sm-9">
                                                    @* <div class="clearfix">
                                                            <div class="wysiwyg-editor wysiwyg-style2" id="editor-eng"></div>    
                                                        </div>*@
                                                    @Html.TextAreaFor(model => model.CategoryDescription, new { @class = "col-xs-10 col-sm-5", @placeholder = "Description", @autocomplete = "off" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        @Html.ValidationMessageFor(model => model.CategoryDescription)
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        

                                    </div>
                                    
                               
                                    
                                @*<h4 class="header blue lighter smaller clearfix">Publishing options </h4>*@
                                    
                                
                                <div class="space-2"></div>
                                <hr />
                                <div class="btn-group pull-right padding-10">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->

                                    <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        Reset
                                    </button>
                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple ">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        Save</button>


                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>

                            }



                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script>

    function DeleteGalleryCategoryInEdit(url) {


        //var url = $(this).attr('href');
        var id = $("#CategoryID").val();
        var path = "@Url.Action("CheckGalleryCategoryChildExist", "Gallery")";

        var request = $.ajax({

            url: path,
            data: { categoryId: id },
            success: function (result) {
                //alert(result);
                if (!result) {

                    bootbox.confirm("Are you sure to Delete Gallery Category ?", function (confresult) {

                        if (confresult) {

                            window.location.href = url;
                        }

                    })
                }
                else {

                    bootbox.alert("This Gallery Category Already Had Some Content .Please Delete Those Gallery.");
                }
            }


        });

    }


    $(document).ready(function () {
        $("#Title").focus();

        $("#saveandnew").click(function () {
            $("#IsCreatNew").val(true);

            $("#savebtn").click();
        });

        $("#savebtn2").click(function () {

            $("#savebtn").click();

        });

        var galleryCatImage = $("#drpGalleryImage option:selected").text();
        var fileacespath = $("#fileacesspath").val();
        // alert(fileacespath);
        var urlpath = fileacespath + '/Gallery/' + galleryCatImage;
        $("#galCatImage").attr("src", urlpath)


        $("#drpGalleryImage").change(function () {

            var selectedtext = $(this).find(':selected').text();
            var fileacespath = $("#fileacesspath").val();
            var urlpath = fileacespath + '/Gallery/' + selectedtext;
            $("#galCatImage").attr("src", urlpath);

        });

        $("#gallerymain").addClass("active open");
        $("#gallerysub").addClass("nav-show").css("display", "block");
        $("#gallerycatlist").addClass("active");
    });
    function resetFields() {
        $(".field-validation-error").empty();
        $("#Title").focus();

    }


</script>
