﻿@model  List<SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.PanchayatVillageViewModel>

@{
   
    int count = 0;
    if (ViewBag.CurrentPage > 1)
    {

        count = (ViewBag.PageSize * (ViewBag.CurrentPage - 1));
    }
}

@*@Html.Action("LeftNavigationMenu", "SuperAdmin")*@
                             
                    <div class="pass-table">


                        @if (Model != null)
                        {
                            if (Model.Count() > 0)
                            {       
                                <input type="hidden" id="pageId" name="pageId" value="@ViewBag.CurrentPage" />
                            <div class="table-header">
                                <div class="form-group">
                                   

                                </div>
                            </div>             
                            //<table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                                <table class="table  table-bordered  dataTable" id="tblBudgetDetails" aria-describedby="sample-table-2_info">
                                <thead>
                                    <tr role="row">

                                        <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" onclick="javascript:window.location.href=' /SuperAdmin/PanchayatVillage/Index';">@Resources.MasterDataDashboard.SNo</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">State Code</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">District Code</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Panchayat Code</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Village Code</th>
                                        
                                        <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    @foreach (var item in Model)
                                    {
                                        count = count + 1;  
                                        <tr>
                                            <td class="center">
                                                @count
                                            </td>
                                            <td style="width:20%">@item.GetStateName</td>
                                            <td style="width:20%">@item.GetDistrictName</td>
                                            <td style="width:25%">@item.GetPanchayatName</td>
                                            <td style="width:25%">@item.GetVillageName</td>
                                            
                                            
                                            <td class="center" style="width:10%">
                                                <div class="hidden-sm hidden-xs action-buttons">

                                                    @*<a data-rel="tooltip" class="green tooltip-success" title="Edit"  href="@Url.Action("EditPanchayatVillage", "PanchayatVillage", new { Id = item.PanchayatVillageID })">
                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                    </a>*@
                                                    <a data-rel="tooltip" class="green tooltip-success" title="Edit"  href="@Url.Action("EditPanchayatVillage", "PanchayatVillage", new { Id = SBL.eLegistrator.HouseController.Web.Extensions.EncryptionUtility.Encrypt(item.PanchayatVillageID.ToString()) })">
                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                    </a>

                                                    <a data-rel="tooltip" class="red tooltip-error DeletePanchayatVillage" title="Delete" id="@item.PanchayatVillageID"  href="@Url.Action("DeletePanchayatVillage", "PanchayatVillage", new { Id = item.PanchayatVillageID })">
                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                    </a>
                                                </div>

                                                <div class="hidden-md hidden-lg">
                                                    <div class="inline position-relative">
                                                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                        </button>

                                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                                                            <li>
                                                                <a  href="@Url.Action("EditPanchayatVillage", "PanchayatVillage", new { Id = item.PanchayatVillageID })" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                    <span class="green">
                                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                                    </span>
                                                                </a>

                                                            </li>

                                                            <li>
                                                                <a  href="@Url.Action("DeletePanchayatVillage", "PanchayatVillage", new { Id = item.PanchayatVillageID })"  class="tooltip-error DeletePanchayatVillage" data-rel="tooltip" title="Delete">
                                                                    <span class="red">
                                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                    </span>
                                                                </a>

                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>                                                                
                                    }

                                </tbody>
                            </table>
                            <!-- PAGE CONTENT ENDS -->
                            <!-- PAGER START -->
        <div>@{Html.RenderPartial("~/Areas/AccountsAdmin/Views/Shared/_Pager.cshtml");}</div>
        <!-- PAGER ENDS -->
                            }
                            else
                            {
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="alert alert-info">

                                        <strong>No Panchayat Village Record Found</strong><br />


                                    </div>
                                </div>
                            </div>
                            }
                        }

                    </div>





<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
       

        $(document).ready(function () {
            //$('#tblBudgetDetails').dataTable({
            //    "bPaginate": false, "bInfo": false, "bSearchable": false,
            //});
            setTimeout(function () {
                $("#MsgDiv").slideUp(400);
            }, 2000);

            $("#PazeSize").val(@ViewBag.PageSize)

        $('#PazeSize').change(function () {
            var PageSize = $("#PazeSize").val();
            $.ajax({
                type: "POST",
                url: '/SuperAdmin/PanchayatVillage/GetPanchayatVillageByPaging',
                data: '{ pageId: "1",pageSize: "' + PageSize + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {

                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result);
                },
                error: function (error) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(error.responseText);

                },
                complete: function (results) {

                    $('#loader-wrapper').hide();
                }
            });

        });


       });


      

        $("#Locationmain").addClass("active open");
        $("#Locationsub").addClass("nav-show").css("display", "block");
        $("#PanchayatVillagelist").addClass("active");
        $("#Locationlinkid").removeClass("fa-comment").addClass("fa-comment-o");
    });


   
    $(".DeletePanchayatVillage").on('click', function (e) {
        e.preventDefault();
        var url = $(this).attr('href');

        bootbox.confirm('@Resources.MasterDataDashboard.Areyousurewanttodelete', function (result) {

            if (result) {
                window.location.href = url;
            }

        })
    });
    
    //$('#txtSearchBill').on("keyup", function () {

    //    var search = $('#txtSearchBill').val();
    //    GetSearchList(search);
    //});


    function SearchData() {
        var search = $('#txtSearchBill').val();
        GetSearchList(search);
    }
</script>
