﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV

<link href="~/Content/SBL/typography.css" rel="stylesheet" />

<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
<link href="@Url.Content("~/Content/custom.css")" rel="stylesheet" type="text/css" />

<div class="modal-header" style="background-color: white; position: relative;">
    <div style="color:#1b86bc;font-weight:bold;" id="TemplateHeaderTitle">View And Digital Sign File</div>
    <div style="position: absolute; right: 10px; top: 14px;">
        <a href="javascript:;" onclick="$('#OpenModelTemplate1').modal('hide')" data-dismiss="modal" class="close" style="margin-right: 20px; margin-top: 15px;">
            <img src="~/Content/img/cancel-icon.png" class="btn_close" title="Close Window" height="30" width="30" /></a>
    </div>
    <div class="row-fluid">
        <div style="font-weight: bold; font-size: 14px; width: 450px;">
        </div>

    </div>
</div>
 <div class="modal-body" role="dialog">
    <div>        
        @if (ViewBag.PDFPath != "")
        {
            var pdfPathValue = @ViewBag.PDFPath;
                        
            <object data="@pdfPathValue" type="application/pdf"  width="1010" height="850">
                alt :<a href="@pdfPathValue"></a>
            </object>
            }
    </div>
   


</div>
<div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
  <div style="float:right;">
         <button value="Digitally sign" onclick="SignPdfNotice('@Model.DeptActivePaperId','@Model.DeptActivePaperId')" title="Digitally sign" class="small-button blue">
             Digitally sign
         </button>        
     </div>
 <div id='OpenModelRegister1' class='modal hide fade in'>
                <div id='OpenModelRegisterContainer1'>
                </div>
            </div>

<script type="text/javascript">

    function SignPdfNotice(DeptActivePaperId) {
        var check = confirm("Are you sure to digitally sign this Minister File ");
        if (check) {
            var cl = new CanvasLoader('canvasloader-container1');
            cl.show();
            $.get("/Minister/Minister/PartialSignMinisterFile", { DeptActivePaperId: DeptActivePaperId }, function (data) {
                $('#OpenModelRegisterContainer1').html(data);
                $('#OpenModelRegister1').modal('show')
                cl.hide();
            });
            return false;
        }
        else {
            return false;
        }


    }

</script>