﻿@model SBL.DomainModel.Models.Ministery.mMinisteryMinisterModel

@{
    ViewBag.Title = "ChairpersonDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>

<script src="~/Content/Dashboard/js/bootstrap.js"></script>
<script src="~/Content/Dashboard/js/bootstrap-switch.min.js"></script>

<link href="~/Content/Dashboard/style/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Dashboard/style/font-awesome.css" rel="stylesheet" />
<link href="~/Content/Dashboard/style/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/Dashboard/style/bootstrap-switch.css" rel="stylesheet" />
<link href="~/Content/Dashboard/style/style.css" rel="stylesheet" />






<div style="color: #5779b6; font-size: 16px; text-transform: uppercase; font-weight: bold; padding: 5px; text-align: center;">
    @Resources.Minister.MinisterPaperLay
    @Html.HiddenFor(m => m.AssemblyId)
    @Html.HiddenFor(m => m.SessionId)
</div>
@if (TempData["Message"] != null && TempData["Message"] != "")
{
    <div id="divShowMsg" style="background-color:#f2e364; width: 15%;font-size:medium; margin-left: 40%; text-align: center;">@TempData["Message"]</div>
}
<div class="simpletabmain" style="margin-top: 5px;">

    <div class="tabcontent">
        <div class="tabinner" style="background-color: #E6E6E6; height: 840px; width: 100%">
            <div class="sidebar">
                <ul id="nav">
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="FirstNode"><i class="icon-home"></i>@Resources.Committee.CommitteePaperLay<span class="pull-right"><i class="icon-chevron-right"></i></span></a>
                        <ul id="test">
                            <li><a href="javascript:void(0);" onclick="GetPending(this.id)">@Resources.Committee.DCommDraft <strong>(@Model.MinInboxCount)</strong></a></li>
                            <li><a href="javascript:void(0);" onclick="GetSubmittedMinister()">@Resources.Committee.DCommSent <strong>(@Model.MinSentCount)</strong></a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="mainbar" style="overflow-y: scroll">
                <div class="page-head">
                    <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
                    <div class="clearfix"></div>
                </div>
                <div id="divDataContainer" style="padding: 0px 2px 0px 2px;">
                </div>
            </div>

            <div class="RightSidebar" id="RightSidebar" style="overflow-y: scroll">
                         
        </div>

    </div>
</div>
    </div>


<script type="text/javascript">
   
    $(document).ready(function () {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $("#tabType").val("Submitted");
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/CommitteeChairperson/CommitteeChairperson/GetPendings",
            type: 'GET',
            data: {},
            success: function (data) {
                $("#divDataContainer").html(data)
                $("#a1").css({ 'background-color': '#428bca', 'color': 'white' })
                $("#divShowMessage").hide()
                cl.hide();
            }
        });

        setTimeout("jQuery('#divShowMsg').hide();", 3000)

    });

    function GetPending(id) {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $("#tabType").val("Pending");
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/CommitteeChairperson/CommitteeChairperson/GetPendings",
            type: 'GET',
            data: {
            },
            success: function (data) {
                $("#divDataContainer").html(data)
                $(".ColorChange").each(function () {
                    $(this).css({ 'background': 'none', 'color': 'black' })
                })
                $("#" + id).css({ 'background-color': '#428bca', 'color': 'white' })
                $("#btnNewCom").show()
                $("#divShowMessage").hide()
                $("#RightSidebar").html("")
                cl.hide();
            }
        });
    };


 


    function SubmitSelectedPaper() {
        var SIds = document.getElementById("SelectedChkbxId").value;
        if (SIds != null && SIds != "") {
            if (confirm("Are you sure to sumbit ?")) {

                $.get("/CommitteeChairperson/CommitteeChairperson/SubmitSelectedPaper", { Ids: SIds }, function (data) {
                    $("#RightSidebar").html(data)

                    cl.hide();
                });
            }
        }

        else {
            return false;
        }


    }

    function SignPdfNotice(DeptActivePaperId) {
        var check = confirm("Are you sure to digitally sign this Minister File ");
        if (check) {
            var cl = new CanvasLoader('canvasloader-container1');
            cl.show();
            $.get("/Minister/Minister/PartialSignMinisterFile", { DeptActivePaperId: DeptActivePaperId }, function (data) {
                $('#OpenModelRegisterContainer1').html(data);
                $('#OpenModelRegister1').modal('show')
                cl.hide();
            });
            return false;
        }
        else {
            return false;
        }


    }


    function SubmitSignIntentian(DeptActivePaperId) {
        $.get("/Minister/Minister/ViewSentPdfMinister", { DeptActivePaperId: DeptActivePaperId }, function (data) {

            $('#OpenContainer').html(data)
            $('#OpenModel').modal('show')
        })
    }


    function ChangedPaper(PaperLaidId, DeptActivePaperId) {
        $.get("/Minister/Minister/ChangedPaperDetails", { PaperLaidId: PaperLaidId, DeptActivePaperId: DeptActivePaperId }, function (data) {

            $('#RightSidebar').html(data)
        })
    }


    function MinisterPaperLaidDetails(PaperLaidId) {

        $.get("/Minister/Minister/MinisterPaperLaidDetails", { PaperLaidId: PaperLaidId }, function (data) {

            $('#RightSidebar').html(data)

        })
    }


    function SubmitSignIntentian(DeptActivePaperId) {

        $.get("/Minister/Minister/ViewSentPdfMinister", { DeptActivePaperId: DeptActivePaperId }, function (data) {

            $('#OpenContainer').html(data)
            $('#OpenModel').modal('show')
        })
    }


    function LoadLobAsPdf(value) {


        var PaperLaidId = value;

        $.get("/Minister/Minister/GenerateMinisterPdf", { PaperLaidId: PaperLaidId }, function (data) {
            url = url.replace('amp;', '');
            url = url.replace('amp;', '');
            url = url.replace('ID', ID);
            window.open(url, '_blank');

        });

    }

    function NextButton(rPage, pageNo, lStart, lEnd, ResultCount) {

        var pageNumber = pageNo;
        var rowsPerPage = rPage;
        var loopStart = lStart;
        var loopEnd = lEnd;
        var ResultCount = ResultCount

        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Minister/Minister/PartialPendingMinister",
            type: 'GET',
            data: {
                PageNumber: pageNumber,
                RowsPerPage: rowsPerPage,
                loopStart: loopStart,
                loopEnd: loopEnd,
                ResultCount: "5",
            },
            success: function (data) {
                clearHTML();
                $("#divPendingMinister").html(data);

                document.getElementById("divSubmittedMinister").style.display = "none";
                document.getElementById("divPendingMinister").style.display = "block";
                cl.hide();
            }
        });

    }

    function NextAndPreviousButton(rPage, pageNo, lStart, lEnd, ResultCount) {


        var pageNumber = pageNo;
        var rowsPerPage = rPage;
        var loopStart = lStart;
        var loopEnd = lEnd;
        var ResultCount = ResultCount

        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Minister/Minister/PartialPendingMinister",
            type: 'GET',
            data: {
                PageNumber: pageNumber,
                RowsPerPage: rowsPerPage,
                loopStart: loopStart,
                loopEnd: loopEnd,
                ResultCount: "5"
            },
            success: function (data) {
                clearHTML();
                $("#divPendingMinister").html(data);

                document.getElementById("divSubmittedMinister").style.display = "none";
                document.getElementById("divPendingMinister").style.display = "block";
                cl.hide();
            }
        });


    }


    $(document).ready(function () {
        $("#chiefChk").click(function () {
            $(".box").attr("checked", $(this).attr("checked") ? true : false);
        });
    });

   


    

    function GetSubmittedMinister() {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetSubmitted", "Minister")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#divDataContainer").html(data);
                $("#RightSidebar").html("");
                cl.hide();
            }
        });
    }

</script>

