﻿@using SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models
@model  List<SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models.ReimbursementBillViewModel>

<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }

</style>
<link href="~/assets/css/datepicker.css" rel="stylesheet" />

<div class="page-content">
    <!-- #section:settings.box -->

    @*      <div class="page-header">
            <h1>Bill for Members
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.List
                </small>
            </h1>
        </div>*@
    <div id="Menu">
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive ">
                    <table class="table">
                        <tr class="info">
                            <td>
                                <label class=" control-label  " for="EndDateFrom">Bill Type</label>
                                @Html.DropDownList("BillType", (SelectList)ViewBag.BillTypeList, "Select Bill Type", new { @class = "col-xs-10 col-sm-10 RemoveDdlBorder" })
                            </td>
                            <td>
                                <label class=" control-label  " for="EndDateFrom">Status</label>
                                @Html.DropDownList("Staus", (SelectList)ViewBag.StatusList, "Select Satus", new { @class = "col-xs-10 col-sm-10 RemoveDdlBorder" })
                            </td>


                            <td>
                                <div class="form-group">
                                    <label class=" control-label  " for="EndDateFrom">Submission Date From</label>
                                    <input type="text" id="txtBillPeriodFrom" placeholder="Submission Date From" class="col-md-10 col-sm-5 date-picker RemoveBorder" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label class=" control-label  " for="EndDateTo">Submission Date To</label>
                                    <input type="text" id="txtBillPeriodTo" placeholder="Submission Date To" class="col-md-10 col-sm-5 date-picker RemoveBorder" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <div class="space-12"></div>
                                    <button class="btn btn-sm btn-primary btn-bold" id="btnSearch">
                                        <i class="ace-icon fa fa-search bigger-150"></i>
                                        <span class="bigger-110">Search</span>
                                    </button>
                                </div>

                            </td>
                        </tr>
                    </table>

                    <!-- PAGE CONTENT BEGINS -->
                    <div class="alert alert-block alert-danger" id="AlertDiv" style="display: none;">
                        <strong><i class="ace-icon fa fa-check-square-o"></i>Error! </strong><span id="MsgSpan">Please select at least one field </span>
                    </div>
                    <div id="divDataContainerBill">
                        @{Html.RenderPartial("~/Areas/AccountsAdmin/Views/BillForMembers/_ReimbursementBillList.cshtml", Model);}
                    </div>

                    <!-- /.col -->
                </div>
            </div>
            <!-- /.row -->
        </div>


    </div>
    <!-- /.page-content -->
</div>


<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script>
    $(document).ready(function () {

        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "mm/dd/yyyy",
            defaultDate: new Date()
        });

        $('.RemoveBorder').keypress(function () {
            var Id = this.id;
            $("#" + Id).next().hide();
            $("#" + Id).css("border", "1px solid green");
        });

        $('.RemoveDdlBorder').change(function () {

            var Id = this.id;
            if ($("#" + Id).val() != '') {
                $("#" + Id).next().hide();
                $("#" + Id).css("border", "1px solid green");
            }
            else {
                $("#" + Id).after("<span class='ErrorMessage'>Required</span>");
                $("#" + Id).css("border", "1px solid red");
            }

        });

        $('.date-picker').datepicker({ autoclose: true }).on('changeDate', function (ev) {
          
            var Id = this.id;
            if ($("#" + Id).val() != '') {
                $("#" + Id).next().hide();
                $("#" + Id).css("border", "1px solid green");
            }
            else {
                $("#" + Id).after("<span class='ErrorMessage'> Date is  Required</span>");
                $("#" + Id).css("border", "1px solid red");
            }
        });
    });

    $(document).on('click', '#btnSearch', function (e) {

        var BillType = $('#BillType').val();
        var Staus = $('#Staus').val();
        var SubmissionDateFrom = $('#txtBillPeriodFrom').val();
        var SubmissionDateTo = $('#txtBillPeriodTo').val();


        $('#AlertDiv').hide();
        $('.ErrorMessage').remove('');
        var IsValid = true;

        if (BillType == '' && Staus == '' && SubmissionDateFrom == '' && SubmissionDateTo == '') {
            $('#AlertDiv').css("border", "1px solid red");
            $('#AlertDiv').show();
            IsValid = false;
        }
        else {
            $('#AlertDiv').hide();
        }

        
        if (SubmissionDateFrom == '' && SubmissionDateTo != '') {
            $('#txtBillPeriodFrom').css("border", "1px solid red");
            $('#txtBillPeriodFrom').after("<span class='ErrorMessage'><br> Please Fill it</span>");

            IsValid = false;
        }
        if (SubmissionDateTo == '' && SubmissionDateFrom != '') {
            $('#txtBillPeriodTo').css("border", "1px solid red");
            $('#txtBillPeriodTo').after("<span class='ErrorMessage'><br> Please Fill it</span>");

            IsValid = false;
        }


        if ($('#txtBillPeriodTo').val().trim() != '' && $('#txtBillPeriodFrom').val().trim() != '') {
            if (Date.parse($('#txtBillPeriodFrom').val().trim()) > Date.parse($('#txtBillPeriodTo').val().trim())) {
                $('#txtBillPeriodTo').css("border", "1px solid red");
                $('#txtBillPeriodTo').after("<span class='ErrorMessage'><br> Bill Period To must be greate than Bill Period From </span>");
                IsValid = false;
            }
        }


        if (IsValid == true) {
            $.ajax({
                type: "POST",
                url: '/AccountsAdmin/BillForMembers/BillResult',
                data: '{ BillType: "' + BillType + '",Staus: "' + Staus + '", SubmissionDateFrom: "' + SubmissionDateFrom + '",SubmissionDateTo: "' + SubmissionDateTo + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainerBill').empty();
                    $('#divDataContainerBill').append(result);

                },
                error: function (error) {
                    $('#divDataContainerBill').empty();
                    $('#divDataContainerBill').append(error.responseText);

                },
                complete: function (results) {
                    $('#loader-wrapper').hide();

                }
            });
        }
    });


    $(document).on('click', '#Export', function () {
        $('#loader-wrapper').show();

        var BillType = $('#BillType').val();
        var Staus = $('#Staus').val();
        var SubmissionDateFrom = $('#txtBillPeriodFrom').val();
        var SubmissionDateTo = $('#txtBillPeriodTo').val();

        var ss = "<input type='hidden' name='BillType' value='" + BillType + "' >" +
        "<input type='hidden' name='Staus' value='" + Staus + "' >" +
         "<input type='hidden' name='SubmissionDateFrom' value='" + SubmissionDateFrom + "' >" +
        "<input type='hidden' name='SubmissionDateTo' value='" + SubmissionDateTo + "' >";


        $('body').prepend("<form method='post' action='/BillForMembers/DownloadExcel' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
        $('#tempForm').submit();
        $("tempForm").remove();
        setTimeout(function () {
            $('#loader-wrapper').hide();
        }, 2000);

    });
    $(document).on('click', '#Pdf', function () {
        $('#loader-wrapper').show();
        var BillType = $('#BillType').val();
        var Staus = $('#Staus').val();
        var SubmissionDateFrom = $('#txtBillPeriodFrom').val();
        var SubmissionDateTo = $('#txtBillPeriodTo').val();

        var ss = "<input type='hidden' name='BillType' value='" + BillType + "' >" +
        "<input type='hidden' name='Staus' value='" + Staus + "' >" +
         "<input type='hidden' name='SubmissionDateFrom' value='" + SubmissionDateFrom + "' >" +
        "<input type='hidden' name='SubmissionDateTo' value='" + SubmissionDateTo + "' >";


        $('body').prepend("<form method='post' action='/BillForMembers/DownloadPdf' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
        $('#tempForm').submit();
        $("tempForm").remove();
        setTimeout(function () {
            $('#loader-wrapper').hide();
        }, 2000);
    });

    function GetDataList(pageId) {
        var PageSize = $("#PazeSize").val();
        $.ajax({
            type: "POST",
            url: '/BillForMembers/GetBillByPaging',
            data: '{ pageId: "' + pageId + '",pageSize: "' + PageSize + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainerBill').empty();
                $('#divDataContainerBill').append(result);
            },
            error: function (error) {
                $('#divDataContainerBill').empty();
                $('#divDataContainerBill').append(error.responseText);

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
            }
        });
    }
</script>
