﻿@model  List<SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models.ReimbursementBillViewModel>

@{  int count = 0;
    if (ViewBag.CurrentPage > 1)
    {

        count = (ViewBag.PageSize * (ViewBag.CurrentPage - 1));
    }
}


<!-- PAGE CONTENT BEGINS -->
<style>
    .status-arrow-1 {
        background: #ffb752;
        height: 6px;
        position: relative;
        top: 8px;
    }

    .status-arrow-2 {
        height: 6px;
        position: relative;
        top: 8px;
    }

    .status-arrow-3 {
        height: 6px;
        position: relative;
        top: 8px;
    }

    .status-round-1 {
        background: #ffb752;
        color: white;
        border: 1px solid #ffb752;
        border-radius: 25px;
        width: 24px;
        text-align: center;
        float: right;
        position: relative;
        bottom: 6px;
    }

    .status-round-2 {
        background: #f79263;
        color: white;
        border: 1px solid #f79263;
        border-radius: 25px;
        width: 24px;
        text-align: center;
        float: right;
        position: relative;
        bottom: 6px;
    }

    .status-round-3 {
        background: LightGreen;
        color: white;
        border: 1px solid LightGreen;
        border-radius: 25px;
        width: 24px;
        text-align: center;
        float: right;
        position: relative;
        bottom: 6px;
    }
</style>
<div class="pass-table">
    @if (Model != null)
    {
        if (Model.Count() > 0)
        {   
        <input type="hidden" id="pageId" name="pageId" value="@ViewBag.CurrentPage" />
        <div class="form-group">
            <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
                <button class="btn  btn-sm btn-info" id="Pdf">
                    <i class="ace-icon fa fa-download white  bigger-150"></i>
                    <span class="bigger-110">Download Pdf</span>
                </button>
                <button class="btn  btn-sm btn-info" id="Export">
                    <i class="ace-icon fa fa-download white  bigger-150"></i>
                    <span class="bigger-110">Download Excel</span>
                </button>

            </div>
        </div>
        <br />
        <h3>Bill Tracking </h3>
        <div>
            <section style="width: 100%">
                <div style="width: 33%; float: left;">
                    <div class="status-arrow-1"></div>
                    <span class="status-round-1">1</span>
                    <div style="padding-top: 10px; text-align: center;">Bill in process</div>
                </div>

                <div style="width: 33%; float: left;">
                    <div class="status-arrow-2" style="background: #f79263;"></div>
                    <div class="status-round-2">2</div>
                    <div style="padding-top: 10px; text-align: center;">Sanction</div>
                </div>

                <div style="width: 33%; float: left;">
                    <div class="status-arrow-3" style="background: LightGreen;"></div>
                    <div class="status-round-3">3</div>
                    <div style="padding-top: 10px; text-align: center;">Encashment</div>
                </div>

            </section>
        </div>
        <br />
        <br />
        <br />
        <div>
            <label>Display</label>
            <select size="1" name="PageSize" id="PazeSize">
                <option value="10" selected="selected">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <label>Records</label>
        </div>
        <div class="table-header">
        </div>             
        <table class="table  table-bordered  dataTable" id="tblBillList" aria-describedby="sample-table-2_info">
            <thead>
                <tr role="row">
                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Voucher No.</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Bill Type</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Gross Amount</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Submission Date</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Adavance Taken </th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Sanction Amount</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Sanction Date</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Bill Duration</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Encashement Date</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Status</th>
                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">View Bill</th>
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                @foreach (var item in Model)
                {
                    count = count + 1; 
                  
                    <tr>
                        <td class="center">
                            @count
                        </td>
                        <td style="width: 30%">@item.ReimbursementBillID</td>
                        <td style="width: 20%">
                            @item.BillTypeName</td>
                        <td style="width: 20%"><i class="ace-icon fa fa-rupee blue"></i> @item.GrossAmount</td>
                        <td style="width: 20%">@Convert.ToDateTime(item.DateOfPresentation).ToString("dd/MM/yyyy")</td>

                        <td style="width: 10%"><i class="ace-icon fa fa-rupee blue"></i> @item.TakenAmount</td>
                        @if (item.IsSanctioned)
                        {
                            <td style="width: 10%"><i class="ace-icon fa fa-rupee blue"></i> @item.SactionAmount</td>
                            <td style="width: 10%">
                                @if (Convert.ToDateTime(item.SactionDate).ToString("dd/MMM/yyyy") == "01/Jan/1900" || Convert.ToDateTime(item.SactionDate).ToString("dd/MMM/yyyy") == "01/Jan/1753")
                                {
                                    <text>NA</text>
                                }
                                else
                                {
                                    @Convert.ToDateTime(item.SactionDate).ToString("dd/MM/yyyy")
                                }
                            </td>
                        
                                if (Convert.ToDateTime(item.BillFromDate).ToString("dd/MMM/yyyy") == "01/Jan/1753" || Convert.ToDateTime(item.BillToDate).ToString("dd/MMM/yyyy") == "01/Jan/1900")
                                {  <td style="width: 10%">NA</td>
                                }

                                else
                                {
                            <td style="width: 10%">@Convert.ToDateTime(item.BillFromDate).ToString("dd/MM/yyyy")-@Convert.ToDateTime(item.BillToDate).ToString("dd/MM/yyyy")</td>
                                }

                        }
                        else
                        {
                            <td style="width: 10%">--</td>
                            <td style="width: 10%">--</td>
                            <td style="width: 10%">--</td>
                        }
                        @if (item.IsSetEncashment)
                        {
                            <td style="width: 20%">
                                @if (Convert.ToDateTime(item.EncashmentDate).ToString("dd/MMM/yyyy") == "01/Jan/1900")
                                {
                                    <text>--</text>
                                }
                                else if (Convert.ToDateTime(item.EncashmentDate).ToString("dd/MMM/yyyy") == "01/Jan/1753")
                                {
                                    <text>--</text>
                                }
                                else
                                {
                                    @Convert.ToDateTime(item.EncashmentDate).ToString("dd/MM/yyyy")
                                }
                            </td>
                        }
                        else
                        {
                            <td style="width: 20%">--</td>
                        }
                         @if (item.IsRejected)
                        {
                        <td style="background-color:#F781F3;">
                            Bill is Rejected
                        </td>
                        }
                        else
                        {
                        <td style="@(item.Status == 0 ? "background-color:#ffb752; color:white; " : item.Status == 1 ? "background-color:#f79263;color:white;" : item.Status == 2 ? "background-color:LightGreen;font-weight:bold;" : "")">
                            @if (item.Status == 0)
                            {
                                <text>Bill in Process</text>
                            }
                            else if (item.Status == 1)
                            {
                                <text>Sanctioned</text>
                            }
                            else if (item.Status == 2)
                            {
                                <text>Encashment</text>
                            }

                        </td>
                        }
                       
                        <td class="center" style="width: 10%">
                            <div class="hidden-sm hidden-xs action-buttons">
                                @if (item.PDFUrl != null)
                                {
                                    <a data-rel="tooltip" target="_blank" class="green tooltip-success btn btn-xs btn-warning" title="View Scanned Pdf" href="~/ScannedReimbursementBills/MainPdf/@item.PDFUrl">View 
                                    </a>

                                }
                                else
                                {
                                    <text>--</text>
                                }

                            </div>

                        </td>
                    </tr>                                                                
                }

            </tbody>
        </table>
        <!-- PAGE CONTENT ENDS -->
        <!-- PAGER START -->
        <div>@{Html.RenderPartial("~/Areas/AccountsAdmin/Views/Shared/_Pager.cshtml");}</div>
        <!-- PAGER ENDS -->
        }
        else
        {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <strong>@Resources.MasterDataDashboard.NoReimbursementBillFound</strong><br />
                </div>
            </div>
        </div>
        }
    }
</div>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<!-- /.col -->
<script type="text/javascript">

    $(document).ready(function () {

        var oTable1 =
        $('#tblBillList').dataTable(
            { "bPaginate": false, "bInfo": false });
        $("#PazeSize").val(@ViewBag.PageSize)

        $('#PazeSize').change(function () {
            var PageSize = $("#PazeSize").val();
            $.ajax({
                type: "POST",
                url: '/BillForMembers/GetBillByPaging',
                data: '{ pageId: "1",pageSize: "' + PageSize + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {

                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainerBill').empty();
                    $('#divDataContainerBill').append(result);
                },
                error: function (error) {
                    $('#divDataContainerBill').empty();
                    $('#divDataContainerBill').append(error.responseText);

                },
                complete: function (results) {

                    $('#loader-wrapper').hide();
                }
            });

        });
    });



</script>
