﻿@model SBL.eLegistrator.HouseController.Web.Areas.Legislative.Models.CompletePaperLaidViewModel



@using SBL.eLegistrator.HouseController.Web.Helpers;

@{
    int pageSize = Model.PagedList.RowsPerPage;
    int NoOfPages = 0;
    int startPage = 0;
    int endPage = 0;

    float recordCount = Model.PagedList.TotalRecordCount;
    float rowsPerPage = pageSize;
    float cnt = recordCount / rowsPerPage;
    int b = (int)cnt;
    float c = (float)cnt - b;
    NoOfPages = (c > 0) ? b + 1 : b;
    startPage = ((Model.PagedList.CurrentPage * pageSize) - pageSize) + 1;
    endPage = startPage + pageSize - 1;

    var SInt = ((Model.PagedList.CurrentPage - 1) * pageSize);
    var Int = SInt; 
}



@{
    string FilteredBy = (Model.IsByDepartmentWise) ? "Department" : (Model.IsByMinisterWise) ? "Ministry" : (Model.IsByPaperLaidWise) ? "PaperLaid" : "";
    int i = 0;
}
<style>
    table td {
        text-align: left;
        border: 1px;
    }

    .highlight {
        background-color: #428bca;
        color: white;
    }
</style>
@if (Model.PagedList.List.Count() > 0)
{
 
    
    <table style="width: 60%; padding-top: 5px; padding-bottom: 5px; margin-top: 10px; margin-bottom: 10px;">
        <tr>
            <td>Sort By :</td>
            <td>
                @if (Model.IsByMinisterWise)
                {
                    <input type="radio" id="ByMinistry" name="CategoryWise" onclick="PaperLaidDetailsByMinistryWise(true);" checked="checked" /> 
                    <text>By Minister</text>
                }
                else if (Model.IsByPaperLaidWise || !Model.IsByMinisterWise)
                {
                    <input type="radio" id="ByMinistry" name="CategoryWise" onclick="PaperLaidDetailsByMinistryWise(true);" /> 
                    <text>By Minister</text>
                }

            </td>
            <td>
                @if (Model.IsByDepartmentWise)
                {
                    <input type="radio" id="ByDepartment" onclick="PaperLaidDetailsByMinistryWise(false);" name="CategoryWise" checked="checked" /> 
                    <text> By Department</text>
                }
                else if (Model.IsByPaperLaidWise || !Model.IsByDepartmentWise)
                {
                    <input type="radio" id="ByDepartment" onclick="PaperLaidDetailsByMinistryWise(false);" name="CategoryWise" /> 
                    <text> By Department</text>
                }

            </td>
        </tr>
    </table>

      
    <input type="hidden" id="FilteredBy" name="FilteredBy" value="@FilteredBy" />

    @Html.Pager(NoOfPages, Model.PagedList.LoopStart, Model.PagedList.LoopEnd, Model.PagedList.CurrentPage)
      
    <table style="width: 100%" class="simple-table-style">
        <tr>
            @if (Model.ItemType != true)
            {
                <th class="grid_th" style="border-width: 1.5px; width: 40px; height: 30px; text-align: center">Number</th>
                <th class="grid_th" style="border-width: 1.5px; width: 100px; height: 30px; text-align: center">Subject</th>
                <th class="grid_th" style="border-width: 1.5px; width: 100px; height: 30px; text-align: center">Asked By</th>
                <th class="grid_th" style="border-width: 1.5px; width: 50px; height: 30px; text-align: center">Minister</th>
                <th class="grid_th" style="border-width: 1.5px; width: 100px; height: 30px; text-align: center">Department</th>
                if (Model.Status == "All")
                {
                      
                <th class="grid_th" style="border-width: 1.5px; width: 90px; height: 30px; text-align: center">Status</th>
                }

            }
            else
            {
                <th class="grid_th" style="border-width: 1.5px; width: 40px; height: 30px; text-align: center">Number</th>
                <th class="grid_th" style="border-width: 1.5px; width: 100px; height: 30px; text-align: center">Subject</th>
                <th class="grid_th" style="border-width: 1.5px; width: 100px; height: 30px; text-align: center">Asked By</th>
                <th class="grid_th" style="border-width: 1.5px; width: 100px; height: 30px; text-align: center">Ministry </th>
                <th class="grid_th" style="border-width: 1.5px; width: 100px; height: 30px; text-align: center">Department</th>
                if (Model.Status == "All")
                {
                      
                <th class="grid_th" style="border-width: 1.5px; width: 90px; height: 30px; text-align: center">Question Status</th>
                <th class="grid_th" style="border-width: 1.5px; width: 200px; height: 30px; text-align: center">Action Status</th>
                }
                else if (Model.Status == "PendingList")
                {
                      
                <th class="grid_th" style="border-width: 1.5px; width: 200px; height: 30px; text-align: center">Action Status</th>
                }
                else if (Model.Status == "Sent")
                {
                      
                <th class="grid_th" style="border-width: 1.5px; width: 200px; height: 30px; text-align: center">Action Status</th>
                }
            }

        </tr>

        @foreach (var item in Model.PagedList.List)
        {

            int Priority = 0;
            Priority = (Model.IsByDepartmentWise) ? item.DepartmentwisePriority : (Model.IsByMinisterWise) ? item.MinistrywisePriority :
                (Model.IsByPaperLaidWise) ? item.PaperlaidPriority : Priority;
            //for question
            if (Model.ItemType == true)
            {
            <tr title="Details" class="ChangeColor1" onclick="ViewPaperLaidDetails(this);" ItemType="@item.IsPaperLaid" ItemID="@item.ItemId" style="cursor:pointer;">
                @if (item.QuestionNumber != null && item.QuestionNumber != 0)
                {
                    <td style="text-align: center">@item.QuestionNumber</td>
                }
                else
                {
                    <td style="text-align: center">@item.DiaryNumber</td>
                }

                <td>@Html.Raw(item.Subject)</td>
                <td style="text-align: center">@item.AskedBy</td>
                <td>
                    @{string MinistryName = (item.MinistryName != "" && item.MinistryName != null) ? item.MinistryName : "";}
                    @MinistryName
                </td>
                <td>
                    @{string DepartmentName = (item.DepartmentName != "" && item.DepartmentName != null) ? item.DepartmentName : "";}
                    @DepartmentName
                </td>
                @if (item.IsPending != null)
                {
                    string Status = (item.IsPending == true) ? "Pending" : "Sent";
                    if (item.IsPending == true)
                    {
                    <td>@*<span style="color: green">@Status</span>*@
                        <input type="image" src="~/Images/Pending.jpg" title="Pending" style="width: 35px; height: 35px" /></td>
                    }
                    else if (item.IsPending == false)
                    {
                    <td>
                        <input type="image" src="~/Images/Common/submit.jpg" title="Submitted" style="width: 35px; height: 35px" /></td>
                    }
                }
                @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.UserName == "10023")
                {
                    //if (item.IsContentFreeze != null)
                    //{
                    if (item.IsDetailFreeze == true && item.IsFinalApprove == true)
                    {
                    <td style="text-align: center">@*<span style="color: green">Question Freezed</span>*@

                        <input type="image" src="~/Images/Approved.jpg" title="Finally Approved" style="width: 35px; height: 35px" />
                        @*<input type="image" src="~/Images/Approved.jpg" title="Initially Approved" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Reject.jpg" title="Question Rejected" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Freeze.jpg" title="Detail Frezeed" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Detail1.jpg" title="Before Detail" style="width: 35px; height: 35px" />*@
                    </td>
                    }
                    else if (item.IsDetailFreeze == true && item.IsInitialApprove == true && item.IsQuestionFreeze == true)
                    {
                    <td style="text-align: center; vertical-align: top">@*<span style="color: green">Question Freezed</span>*@
                        <input type="image" src="~/Images/Freeze.jpg" title="Question Freezed" style="width: 35px; height: 35px" />
                        @*<input id="imgApp" type="image" src="~/Images/Approved.jpg" title="Initially Approved" disabled="disabled" style="margin-left: 10px; width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Reject.jpg" title="Question Rejected" disabled="disabled" style="margin-left: 10px; width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Freeze.jpg" title="Detail Frezeed" disabled="disabled" style="margin-left: 10px; width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Detail1.jpg" title="Before Detail" disabled="disabled" style="margin-left: 10px; width: 35px; height: 35px" />*@

                    </td>
                    }
                    else if (item.IsDetailFreeze == true && item.IsInitialApprove == true)
                    {
                    <td style="text-align: center">@*<span style="color: green">Initially Approved</span>*@
                        @*<input type="image" src="~/Images/Freeze.jpg" title="Question Freezed" disabled="disabled" style="width: 35px; height: 35px" />*@
                        <input type="image" src="~/Images/Approved.jpg" title="Initially Approved" style="width: 35px; height: 35px" />
                        @*<input type="image" src="~/Images/Reject.jpg" title="Question Rejected" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Freeze.jpg" title="Detail Frezeed" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Detail1.jpg" title="Before Detail" disabled="disabled" style="width: 35px; height: 35px" />*@

                    </td>
                    }
                    else if (item.IsRejected == true)
                    {
                    <td style="text-align: center">@*<span style="color: green">Question Rejected</span>*@
                        @*<input type="image" src="~/Images/Freeze.jpg" title="Question Freezed" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Approved.jpg" title="Initially Approved" disabled="disabled" style="width: 35px; height: 35px" />*@
                        <input type="image" src="~/Images/Reject.jpg" title="Question Rejected" style="width: 35px; height: 35px" />
                        @*<input type="image" src="~/Images/Freeze.jpg" title="Detail Frezeed" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Detail1.jpg" title="Before Detail" disabled="disabled" style="width: 35px; height: 35px" />*@
                    </td>
                    }
                    else if (item.IsDetailFreeze == true)
                    {
                    <td style="text-align: center">@*<span style="color: green">Detail Frezeed</span>*@
                        @*<input type="image" src="~/Images/Freeze.jpg" title="Question Freezed" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Approved.jpg" title="Initially Approved" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Reject.jpg" title="Question Rejected" disabled="disabled" style="width: 35px; height: 35px" />*@
                        <input type="image" src="~/Images/Freeze.jpg" title="Detail Frezeed" style="width: 35px; height: 35px" />
                        @*<input type="image" src="~/Images/Detail1.jpg" title="Before Detail" disabled="disabled" style="width: 35px; height: 35px" />*@
                    </td>
                    }
                    else if (item.IsDetailFreeze != true)
                    {
                    <td style="text-align: center">@*<span style="color: green">Before Detail</span>*@
                        @*<input type="image" src="~/Images/Freeze.jpg" title="Question Freezed" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Approved.jpg" title="Initially Approved" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Reject.jpg" title="Question Rejected" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Freeze.jpg" title="Detail Frezeed" disabled="disabled" style="width: 35px; height: 35px" />*@
                        <input type="image" src="~/Images/Detail1.jpg" title="Before Detail" style="width: 35px; height: 35px" />
                    </td>
                    }

                    //}
                }
                else if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.UserName == "10011")
                {
                    //if (item.IsContentFreeze != null)
                    //{
                    if (item.IsDetailFreeze == true && item.IsFinalApprove == true)
                    {
                    <td style="text-align: center">@*<span style="color: green">Question Freezed</span>*@

                        <input type="image" src="~/Images/Approved.jpg" title="Finally Approved" style="width: 35px; height: 35px" />
                        @*<input type="image" src="~/Images/Approved.jpg" title="Initially Approved" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Reject.jpg" title="Question Rejected" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Freeze.jpg" title="Detail Frezeed" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Detail1.jpg" title="Before Detail" style="width: 35px; height: 35px" />*@
                    </td>
                    }
                    else if (item.IsDetailFreeze == true && item.IsInitialApprove == true && item.IsQuestionFreeze == true)
                    {
                    <td style="text-align: center">@*<span style="color: green">Question Freezed</span>*@

                        <input type="image" src="~/Images/Freeze.jpg" title="Question Freezed" disabled="disabled" style="width: 35px; height: 35px" />
                        @*<input type="image" src="~/Images/Approved.jpg" title="Initially Approved" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Reject.jpg" title="Question Rejected" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Freeze.jpg" title="Detail Frezeed" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Detail1.jpg" title="Before Detail" style="width: 35px; height: 35px" />*@
                    </td>
                    }

                    else if (item.IsDetailFreeze == true && item.IsInitialApprove == true)
                    {
                    <td style="text-align: center">@*<span style="color: green">Initially Approved</span>*@

                        @*<input type="image" src="~/Images/Freeze.jpg" title="Question Freezed" disabled="disabled" style="width: 35px; height: 35px" />*@
                        <input type="image" src="~/Images/Approved.jpg" title="Initially Approved" style="width: 35px; height: 35px" />
                        @*<input type="image" src="~/Images/Reject.jpg" title="Question Rejected" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Freeze.jpg" title="Detail Frezeed" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Detail1.jpg" title="Before Detail" disabled="disabled" style="width: 35px; height: 35px" />*@
                    </td>
                    }
                    else if (item.IsRejected == true)
                    {
                    <td style="text-align: center">@*<span style="color: green">Question Rejected</span>*@

                        @* <input type="image" src="~/Images/Freeze.jpg" title="Question Freezed" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Approved.jpg" title="Initially Approved" disabled="disabled" style="width: 35px; height: 35px" />*@
                        <input type="image" src="~/Images/Reject.jpg" title="Question Rejected" style="width: 35px; height: 35px" />
                        @*<input type="image" src="~/Images/Freeze.jpg" title="Detail Frezeed" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Detail1.jpg" title="Before Detail" disabled="disabled" style="width: 35px; height: 35px" />*@

                    </td>
                    }
                    else if (item.IsDetailFreeze == true)
                    {
                    <td style="text-align: center">@*<span style="color: green">Detail Frezeed</span>*@

                        @*<input type="image" src="~/Images/Freeze.jpg" title="Question Freezed" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Approved.jpg" title="Initially Approved" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Reject.jpg" title="Question Rejected" disabled="disabled" style="width: 35px; height: 35px" />*@
                        <input type="image" src="~/Images/Freeze.jpg" title="Detail Frezeed" style="width: 35px; height: 35px" />
                        @*<input type="image" src="~/Images/Detail1.jpg" title="Before Detail" disabled="disabled" style="width: 35px; height: 35px" />*@
                    </td>
                    }
                    else if (item.IsDetailFreeze != true)
                    {
                    <td style="text-align: center">@*<span style="color: green">Before Detail</span>*@

                        @*<input type="image" src="~/Images/Freeze.jpg" title="Question Freezed" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Approved.jpg" title="Initially Approved" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Reject.jpg" title="Question Rejected" disabled="disabled" style="width: 35px; height: 35px" />
                        <input type="image" src="~/Images/Freeze.jpg" title="Detail Frezeed" disabled="disabled" style="width: 35px; height: 35px" />*@
                        <input type="image" src="~/Images/Detail1.jpg" title="Before Detail" style="width: 35px; height: 35px" />
                    </td>
                    }

                    //}

                }
            </tr>  
                          
            }
            //for Notice
            else if (Model.ItemType == false)
            {
            <tr title="Details" class="ChangeColor1" onclick="ViewPaperLaidDetails(this);" ItemType="@item.IsPaperLaid" ItemID="@item.ItemId" style="cursor:pointer;">
                <td style="text-align: center">@item.NoticeNumber</td>
                <td>@Html.Raw(item.Subject)</td>
                <td style="text-align: center">@item.AskedBy</td>
                <td>
                    @{string MinistryName = (item.MinistryName != "" && item.MinistryName != null) ? item.MinistryName : "";}
                    @MinistryName
                </td>
                <td>
                    @{string DepartmentName = (item.DepartmentName != "" && item.DepartmentName != null) ? item.DepartmentName : "";}
                    @DepartmentName
                </td>
                @if (item.IsPending != null)
                {
                    string Status = (item.IsPending == true) ? "Pending" : "Sent";
                    <td>@Status</td>
                }

            </tr>  
            }
            //for Other Paper Type OR Paper Laid
            else if (Model.ItemType == null)
            {
            <tr title="Details" class="ChangeColor1" onclick="ViewPaperLaidDetails(this);" ItemType="@item.IsPaperLaid" ItemID="@item.ItemId" style="cursor:pointer;">
                <td style="text-align: center">@item.ItemId</td>
                <td>@Html.Raw(item.Title)</td>
                <td style="text-align: center">@item.AskedBy</td>
                <td>
                    @{string MinistryName = (item.MinistryName != "" && item.MinistryName != null) ? item.MinistryName : "";}
                    @MinistryName
                </td>
                <td>
                    @{string DepartmentName = (item.DepartmentName != "" && item.DepartmentName != null) ? item.DepartmentName : "";}
                    @DepartmentName
                </td>

                @if (item.IsPending != null)
                {
                    string Status = (item.IsPending == true) ? "Pending" : "Sent";
                    <td>@Status</td>
                }
            </tr>
            }
            i = i + 1;
        }

    </table>
     
    @Html.Pager(NoOfPages, Model.PagedList.LoopStart, Model.PagedList.LoopEnd, Model.PagedList.CurrentPage)       
    
}
else
{
    <p style="margin-top: 100px; text-align: center; color: #666666; font-size: 15px;">
        No Paper Found
    </p>
}


<script type="text/javascript">

    function ViewPaperLaidDetails(obj) {
        $("#RightSidebar").html('')
        var targetDiv = document.getElementById('RightSidebar');
        var cl = new CanvasLoader('canvasloader-container2');
        cl.show();
        $(".ChangeColor1").each(function () {
            $(this).css({ 'background': 'none', 'color': 'black' })
        })
        $(obj).css({ 'background-color': '#428bca', 'color': 'white' })
        var id = $(obj).attr('ItemID');
        var ItemType = '@Model.ItemType';

        $.ajaxSetup({ cache: false });
        $.ajax({
            url: '/Notices/LegislationFixation/PaperDetailWithAction',
            type: 'GET',
            data: { ItemId: id, ItemType: ItemType },
            success: function (response) {


                if (response) {
                    $("#RightSidebar").html(response);
                    cl.hide();


                } else { alert("error"); }

            }
        });

    }


    function NextAndPreviousButton(pageNo, lStart, lEnd) {

        var target = document.getElementById("CompletePaperLaidDetails");
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        var Id = '@Model.Id' == "" ? null : '@Model.Id';
        var PaperCategoryTypeId = '@Model.PaperCategoryTypeId';
        var Status = '@Model.Status';
        var IsMinistryLevel = ('@Model.IsByMinisterWise' == 'True') ? true : false;
        IsMinistryLevel = ('@Model.IsByDepartmentWise' == 'True') ? false : IsMinistryLevel;
        IsMinistryLevel = ('@Model.IsByPaperLaidWise' == 'True') ? null : IsMinistryLevel;
        var IsStarredQuestion = '@Model.IsStarredQuestion';
        var ItemType = '@Model.ItemType';
        $.post('/Notices/LegislationFixation/CompletePaperLaidInformation',
            {
                Id: Id,
                PaperCategoryTypeId: PaperCategoryTypeId,
                IsStarredQuestion: IsStarredQuestion,
                IsByMinistry: IsMinistryLevel,
                PageNumber: pageNo,
                LoopStart: lStart,
                LoopEnd: lEnd,
                Status: Status,
                ItemType: ItemType

            },
            function (data) {
                cl.hide();
                $('#CompletePaperLaidDetails').html(data);
            });
    }

    //Paper Laid Details will be group by ministry/departmentwise (Sorting)
    function PaperLaidDetailsByMinistryWise(IsMinistryLevel) {


        var target = document.getElementById("CompletePaperLaidDetails");
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();

        var PaperCategoryTypeId = '@Model.PaperCategoryTypeId';
        var Status = '@Model.Status';

        var IsStarredQuestion = '@Model.IsStarredQuestion';

        IsMinistryLevel = (IsMinistryLevel == null) ? null : IsMinistryLevel;
        var ItemType = '@Model.ItemType';

        $.post('/Notices/LegislationFixation/CompletePaperLaidInformation',
            {
                Id: null,
                PaperCategoryTypeId: PaperCategoryTypeId,
                IsStarredQuestion: IsStarredQuestion,
                IsByMinistry: IsMinistryLevel,
                PageNumber: 1,
                LoopStart: 1,
                LoopEnd: 5,
                Status: Status,
                ItemType: ItemType
            },
            function (data) {
                cl.hide();
                $('#CompletePaperLaidDetails').html(data);
            });
    }

    function UpdatePrioritySuccess() {
        alert('Priority Updated Successfully');
        NextAndPreviousButton(1, 1, 5);
    }
    function ClearControls() {
        $("#RightSidebar").html('');
    }




</script>
