﻿@model SBL.DomainModel.Models.Diaries.DiaryModel


<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>



<script>
	$(document).ready(function () {

		 
		$("#DdlSessionDate").append("<option value='' selected='true'>Select Date</option>")
		$("#DdlDepartment").find("option[value='0']").remove();
		$("#DdlBType").find("option[value='4']").remove()

		var MinId = $("#MinistryId").val();
		var EId = $("#EventId").val();
		var Mid = $("#MemberId").val();
		var Did = $("#DepartmentId").val();
		var FDate = $("#SessionDateId").val();

		if (EId == 0) {
			$("#DdlBType").append("<option value='' selected='true'>Select Business Type</option>")
		}
		if (Mid == 0) {
			$("#DdlMember").append("<option value='' selected='true'>Select Member</option>")
		}
		else {
			var Aid = $("#AssemblyID").val()
			$.get("/Notices/LegislationFixation/GetConstByMemberId", { MemberId: Mid, AssemId: Aid }, function (data) {
				$("#ConstituencyCode").val(data.ConstituencyCode)
				$("#ConstituencyName").val(data.ConstituencyName)
			});
		}
		if (Did == "" || Did == null || Did == "0") {
			$("#DdlDepartment").append("<option value='' selected='true'>Select Department</option>")
		}
		if (MinId == null || MinId == 0) {
			$("#DdlMinistry").append("<option value='' selected='true'>Select Minister</option>")
		}
		if (FDate == null || FDate == "") {
			$("#DdlDate").append("<option value='' selected='true'>Select Date</option>")
		}

		var text = $("textarea#CatchWordSubject").val().replace(/(<([^>]+)>)/ig, "");
		$("textarea#CatchWordSubject").val(text)
		var text = $("textarea#Subject").val().replace(/(<([^>]+)>)/ig, "");
		$("textarea#Subject").val(text)

	});
</script>

<style>
	.DdlClass {
		width: 90%;
	}

	.txtClass {
		width: 90%;
	}
</style>

@using (Html.BeginForm("SaveQuestionToCancel", "LegislationFixation", FormMethod.Post, new { @id = "frmSaveCancelQuestion", }))
{
    @Html.AntiForgeryToken()


	<div class="widget-box sblFullScreen">
		<div class="widget-header widget-header-flat">
			@if (Model.QuestionTypeId == 1)
   {
          
				<h4 class="widget-title">
					@Resources.Diaries.StarredQuestion</h4>
           

   }
			@if (Model.QuestionTypeId == 2)
   { 
				<h4 class="widget-title">
					@Resources.Diaries.UnstarredQuestion
				</h4>
   }
			<div class="widget-toolbar">
				<a href="#" data-action="fullscreen" class="red">
					<i class="ace-icon fa fa-expand bigger-150"></i>
				</a>
			</div>
		</div>

		@*@Html.AntiForgeryToken()*@


		<div class="widget-body">
			<div class="widget-main no-padding-right no-padding-left">
				<div class="profile-user-info profile-user-info-striped">
					<div class="profile-info-row">
					</div>

					@if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.RoleID == "e5144dad-7a5d-4308-976a-8a5d2a462bd1")
	 {

		 if (Model.QuestionStatus == 5)      //Checking Weather this Question is proof reading by ProofReader or Not, Then Legislation Can Edit
		 { 
                        
						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Committee.Category </div>

							<div class="profile-info-value">
								<span id="username" class="">@Html.DropDownListFor(m => m.EventId, new SelectList(Model.eventList, "EventId", "EventName"), new { @id = "DdlBType", @tabindex = "1", @class = "DdlClass", @disabled = "disabled" })
									@Html.ValidationMessageFor(m => m.EventId, "", new { style = "color: red;" })</span>
							</div>
						</div>    
           
                            
						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Diaries.DiaryNumber
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextBoxFor(m => m.DiaryNumber, new { @id = "TxtDiaryN", @class = "txtClass", @readonly = true, @tabindex = "2" })
								</span>
							</div>
						</div>        
                          
						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Diaries.ReceivedDate
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextBoxFor(m => m.stringDate, new { @class = "txtClass", @readonly = true, @tabindex = "3" })
								</span>
							</div>
						</div>  
                           
						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Committee.Minister <b style="color: red">*</b>
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.DropDownListFor(m => m.MinistryId, new SelectList(Model.memMinList, "MinistryID", "MinisterMinistryName"), new { @id = "DdlMinistry", @class = "DdlClass", @tabindex = "4" })
									@Html.ValidationMessageFor(m => m.MinistryId, "", new { style = "color: red;" })
								</span>
							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Committee.Department <b style="color: red">*</b>
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.DiaryList, "DepartmentId", "DepartmentName"), new { @id = "DdlDepartment", @class = "DdlClass", @tabindex = "5" })
									@Html.ValidationMessageFor(m => m.DepartmentId, "", new { style = "color: red;" })
								</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Diaries.AskedBy
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextBoxFor(m => m.MemberName, new { @class = "txtClass", @readonly = true, @tabindex = "6" })
								</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Diaries.Constituency
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextBoxFor(m => m.ConstituencyName, new { @class = "txtClass", @readonly = true, @tabindex = "7" })
								</span>
							</div>
						</div>
						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Diaries.SubinCatchword
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextAreaFor(m => m.CatchWordSubject, new { @style = "width:90%", @readonly = true, @tabindex = "8" })
								</span>
							</div>
						</div>
						<div class="profile-info-row">
							<div style="vertical-align: top" class="profile-info-name">@Resources.Diaries.Subject
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextAreaFor(m => m.Subject, new { @style = "width:90%", @tabindex = "9" })
									<span id="SubjErr" style="color: red"></span>
								</span>
							</div>
						</div>
						<div class="profile-info-row">
							<div style="vertical-align: top" class="profile-info-name">@Resources.Diaries.Question
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.EditorFor(m => m.MainQuestion, new { @tabindex = "10" })
									<span id="NoticeErr" style="color: red"></span>
								</span>
							</div>
						</div>
		 }

		 else if (Model.QuestionStatus == 1 || Model.QuestionStatus == 4 || Model.QuestionStatus == 6 || Model.QuestionStatus == 3)
		 { 
						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Committee.Category
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.DropDownListFor(m => m.EventId, new SelectList(Model.eventList, "EventId", "EventName"), new { @id = "DdlBType", @class = "DdlClass", @tabindex = "1", @disabled = "disabled" })
									@Html.ValidationMessageFor(m => m.EventId, "", new { style = "color: red;" })
								</span>
							</div>
						</div>
            <div class="profile-info-row">
							<div class="profile-info-name">Question Number
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextBoxFor(m => m.QuestionNumber, new { @id = "TxtQN", @class = "txtClass", @tabindex = "2" })
								</span>
							</div>
						</div>    

						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Diaries.DiaryNumber
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextBoxFor(m => m.DiaryNumber, new { @id = "TxtDiaryN", @class = "txtClass", @readonly = true, @tabindex = "2" })
								</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Diaries.ReceivedDate
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextBoxFor(m => m.stringDate, new { @class = "txtClass", @readonly = true, @tabindex = "3" })
								</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Committee.Minister <b style="color: red">*</b>
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.DropDownListFor(m => m.MinistryId, new SelectList(Model.memMinList, "MinistryID", "MinisterMinistryName"), new { @id = "DdlMinistry", @class = "DdlClass", @tabindex = "4", })
									@Html.ValidationMessageFor(m => m.MinistryId, "", new { style = "color: red;" })
								</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Committee.Department <b style="color: red">*</b>
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.DiaryList, "DepartmentId", "DepartmentName"), new { @id = "DdlDepartment", @class = "DdlClass", @tabindex = "5", })
									@Html.ValidationMessageFor(m => m.DepartmentId, "", new { style = "color: red;" })
								</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Diaries.AskedBy
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextBoxFor(m => m.MemberName, new { @class = "txtClass", @readonly = true, @tabindex = "6" })
								</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Diaries.Constituency
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextBoxFor(m => m.ConstituencyName, new { @class = "txtClass", @readonly = true, @tabindex = "7" })
								</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Diaries.SubinCatchword
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextAreaFor(m => m.CatchWordSubject, new { @style = "width:90%", @readonly = true, @tabindex = "8" })
								</span>
							</div>
						</div>
						<div class="profile-info-row">
							<div style="vertical-align: top" class="profile-info-name">@Resources.Diaries.Subject
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextAreaFor(m => m.Subject, new { @style = "width:90%", @tabindex = "9" })
									<span id="SubjErr" style="color: red"></span>
								</span>
							</div>
						</div>
						<div class="profile-info-row">
							<div style="vertical-align: top" class="profile-info-name">@Resources.Diaries.Question
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.EditorFor(m => m.MainQuestion, new { @tabindex = "10" })
									<span id="NoticeErr" style="color: red"></span>
								</span>
							</div>
						</div>
                    
		 }
	 }

	 else if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.RoleID == "f601de42-22f5-4b77-92b2-cd506564da25")
	 {
		 if (Model.QuestionStatus == 6)
		 {
                    
						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Committee.Category
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.DropDownListFor(m => m.EventId, new SelectList(Model.eventList, "EventId", "EventName"), new { @id = "DdlBType", @class = "DdlClass", @tabindex = "1", @disabled = "disabled" })
									@Html.ValidationMessageFor(m => m.EventId, "", new { style = "color: red;" })
								</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Diaries.DiaryNumber
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextBoxFor(m => m.DiaryNumber, new { @id = "TxtDiaryN", @class = "txtClass", @readonly = true, @tabindex = "2" })
								</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Diaries.ReceivedDate
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextBoxFor(m => m.stringDate, new { @class = "txtClass", @readonly = true, @tabindex = "3" })
								</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Committee.Minister <b style="color: red">*</b>
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.DropDownListFor(m => m.MinistryId, new SelectList(Model.memMinList, "MinistryID", "MinisterMinistryName"), new { @id = "DdlMinistry", @class = "DdlClass", @tabindex = "4", @disabled = "disabled" })
									@Html.ValidationMessageFor(m => m.MinistryId, "", new { style = "color: red;" })
								</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Committee.Department <b style="color: red">*</b>
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.DiaryList, "DepartmentId", "DepartmentName"), new { @id = "DdlDepartment", @class = "DdlClass", @tabindex = "5", @disabled = "disabled" })
									@Html.ValidationMessageFor(m => m.DepartmentId, "", new { style = "color: red;" })
								</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Diaries.AskedBy
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextBoxFor(m => m.MemberName, new { @class = "txtClass", @readonly = true, @tabindex = "6" })
								</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Diaries.Constituency
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextBoxFor(m => m.ConstituencyName, new { @class = "txtClass", @readonly = true, @tabindex = "7" })
								</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Diaries.SubinCatchword
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextAreaFor(m => m.CatchWordSubject, new { @style = "width:90%", @readonly = true, @tabindex = "8" })
								</span>
							</div>
						</div>
						<div class="profile-info-row">
							<div style="vertical-align: top" class="profile-info-name">@Resources.Diaries.Subject
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextAreaFor(m => m.Subject, new { @style = "width:90%", @readonly = true, @tabindex = "9" })
									<span id="SubjErr" style="color: red"></span>
								</span>
							</div>
						</div>
						<div class="profile-info-row">
							<div style="vertical-align: top" class="profile-info-name">@Resources.Diaries.Question
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.EditorFor(m => m.MainQuestion, new { @tabindex = "10" })
									<span id="NoticeErr" style="color: red"></span>
								</span>
							</div>
						</div>

		 }

		 else if (Model.QuestionStatus == 1 || Model.QuestionStatus == 4 || Model.QuestionStatus == 5 || Model.QuestionStatus == 3)
		 {
                    
						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Committee.Category
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.DropDownListFor(m => m.EventId, new SelectList(Model.eventList, "EventId", "EventName"), new { @id = "DdlBType", @class = "DdlClass", @tabindex = "1", @disabled = "disabled" })
									@Html.ValidationMessageFor(m => m.EventId, "", new { style = "color: red;" })
								</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Diaries.DiaryNumber
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextBoxFor(m => m.DiaryNumber, new { @id = "TxtDiaryN", @class = "txtClass", @readonly = true, @tabindex = "2" })
								</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Diaries.ReceivedDate
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextBoxFor(m => m.stringDate, new { @class = "txtClass", @readonly = true, @tabindex = "3" })
								</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Committee.Minister <b style="color: red">*</b>
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.DropDownListFor(m => m.MinistryId, new SelectList(Model.memMinList, "MinistryID", "MinisterMinistryName"), new { @id = "DdlMinistry", @class = "DdlClass", @tabindex = "4", @disabled = "disabled" })
									@Html.ValidationMessageFor(m => m.MinistryId, "", new { style = "color: red;" })
								</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Committee.Department <b style="color: red">*</b>
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.DiaryList, "DepartmentId", "DepartmentName"), new { @id = "DdlDepartment", @class = "DdlClass", @tabindex = "5", @disabled = "disabled" })
									@Html.ValidationMessageFor(m => m.DepartmentId, "", new { style = "color: red;" })
								</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Diaries.AskedBy
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextBoxFor(m => m.MemberName, new { @class = "txtClass", @readonly = true, @tabindex = "6" })
								</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Diaries.Constituency
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextBoxFor(m => m.ConstituencyName, new { @class = "txtClass", @readonly = true, @tabindex = "7" })
								</span>
							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">@Resources.Diaries.SubinCatchword
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextAreaFor(m => m.CatchWordSubject, new { @style = "width:90%", @readonly = true, @tabindex = "8" })
								</span>
							</div>
						</div>
						<div class="profile-info-row">
							<div style="vertical-align: top" class="profile-info-name">@Resources.Diaries.Subject
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.TextAreaFor(m => m.Subject, new { @style = "width:90%", @readonly = true, @tabindex = "9" })
									<span id="SubjErr" style="color: red"></span>
								</span>
							</div>
						</div>
						<div class="profile-info-row">
							<div style="vertical-align: top" class="profile-info-name">@Resources.Diaries.Question
							</div>

							<div class="profile-info-value">
								<span class="">
									@Html.EditorFor(m => m.MainQuestion, new { @tabindex = "10" })
									<span id="NoticeErr" style="color: red"></span>
								</span>
							</div>
						</div>

		 }
	 }

					<div class="profile-info-row">
						<div style="vertical-align: top" class="profile-info-name">@Resources.Diaries.QuestionPart </div>

						<div class="profile-info-value">
							<span>
								<input id="ChkIsQuesPart" type="checkbox" checked="@Model.IsQuestionInPart" onclick="CheckQuesInPart();" />
							</span>

						</div>
					</div>
					<div class="profile-info-row">
						<div style="vertical-align: top" class="profile-info-name">Local</div>

						<div class="profile-info-value">
							<span>
								<input id="ChkIsLocal" type="checkbox" checked="@Model.IsHindi" onclick="CheckIsHindi();" />
							</span>
						</div>
					</div>
					<div class="profile-info-row">
						<div style="vertical-align: top" class="profile-info-name">Fixed Date</div>

						<div class="profile-info-value">
							<span>
								@Html.DropDownList("DdlSessionDate", (SelectList)ViewBag.SessionDateList, new {@class="txtClass" })
									
								</span>
						</div>
					</div>

					<div class="profile-info-row">
						<div class="profile-info-name">
						</div>

						<div class="profile-info-value">
							<span class="">


								@Html.HiddenFor(m => m.AssemblyID)
								@Html.HiddenFor(m => m.QuestionId)
								@Html.HiddenFor(m => m.EventId)
								@Html.HiddenFor(m => m.MemberId)
								@Html.HiddenFor(m => m.ConstituencyCode)
								@Html.HiddenFor(m => m.MinistryId)
								@Html.HiddenFor(m => m.DepartmentId)
								@Html.HiddenFor(m => m.SessionDateId)
								@Html.HiddenFor(m => m.MinistryName, new { @id = "TxtMinisName" })
								@Html.HiddenFor(m => m.MinistryNameLocal, new { @id = "TxtMinisNameL" })
								@Html.HiddenFor(m => m.DepartmentName, new { @id = "TxtDeptName" })
								@Html.HiddenFor(m => m.DepartmentNameLocal, new { @id = "TxtDeptNameL" })
								@Html.HiddenFor(m => m.ViewType, new { @id = "ViewType" })
								@Html.HiddenFor(m => m.BtnCaption)
								@Html.HiddenFor(m => m.QuestionTypeId)
								@Html.HiddenFor(m => m.IsQuestionInPart)
								@Html.HiddenFor(m => m.IsHindi)
								@Html.HiddenFor(m => m.CatchWordSubject)
								@Html.HiddenFor(m => m.Message)

								@Html.HiddenFor(m => m.DeptSubmittedDate)

								@Html.HiddenFor(m => m.FixSessionDate)
								@Html.HiddenFor(m => m.FixSessionDateId)
								 @Html.Hidden("hdnFixSessDate")

								@*for Legislative User*@

								@if (ViewBag.UpdateStatus == "CancelQues")
		{
									<button class="btn btn-primary" type="button" id="btnSave231" title="@Resources.Diaries.Save" tabindex="11" onclick="return SaveQuestionBefore();">
										<i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
										@Resources.Diaries.Save
									</button>
		}

			 

							</span>
						</div>

					</div>

				</div>
			</div>
		</div>

	</div>
}

<script>
	//shashi
	function SaveQuestionBefore() {
		 
		$("#BtnCaption").val("CancelledQuestionSave");
		var dt = $('#DdlSessionDate option:selected').text();
		$('#hdnFixSessDate').val(dt);
		//alert(dt);
		//var sdt = dt.split('/');
		//var ssdate = new Date(  sdt[2],sdt[1]-1,sdt[0]);
		//alert(ssdate);
		var dtId = $('#DdlSessionDate option:selected').val();
		//$('#FixSessionDate').val(dt);
		$('#FixSessionDateId').val(dtId);
		$("#loader-wrapper").show();
		var model = $('#frmSaveCancelQuestion').serialize();
		 
		$.ajax({
			url: "/LegislationFixation/SaveQuestionToCancel",
			type: 'POST',
			data: model,
			success: function (data) {
				var dlg = bootbox.alert(data, function (e) {

					$(dlg).modal('hide');

				});
				GetQuestionCancelReports();

				$("#loader-wrapper").hide();
			},
			error: function (data) {
				
				alert(data.responseText);
			}
		});

	}
	function CheckValidation() {
		$("#BtnCaption").val("Save");
		$("#form1").submit();
	}
	function SendNewEntry() {
		$("#BtnCaption").val("Send");
		$("#form1").submit();
	};


	function SaveBefore() {
		var v = $('#ddlQuesType').val();
		$('#Message').val(v);
		$("#BtnCaption").val("SaveBefore");
		$("#form1").submit();
	}
	function FreezeBefore() {
		$("#BtnCaption").val("FreezeBefore");
		$("#form1").submit();
	}

	function ApproveBefore() {
		$("#BtnCaption").val("ApproveBefore");
		$("#form1").submit();
	}
	function UnFreezeBefore() {
		$("#BtnCaption").val("UnFreezeBefore");
		$("#form1").submit();
	}

	function ApproveAfter() {
		$("#BtnCaption").val("ApproveAfter");
		$("#form1").submit();
	}
	function UnFreezeAfter() {
		$("#BtnCaption").val("UnFreezeAfter");
		$("#form1").submit();
	}

	function ChangeContent() {
		$("#BtnCaption").val("ChangeContent");
		$("#form1").submit();
	}
	function RejectBefore() {
		var Qid = $("#QuestionId").val()
		$.get("/Notices/LegislationFixation/GetQuesByIdForRejection", { QuesId: Qid, ActionType: "Reject" }, function (data) {
			//$("#OpenContainer").html(data)
			//$("#OpenModel").modal("show")
			$("#RightSidebar").html(data)

		});
		return false;

	}
	function ChangeTypeBefore() {
		var Qid = $("#QuestionId").val()
		$.get("/Notices/LegislationFixation/GetQuesByIdForRejection", { QuesId: Qid, ActionType: "TypeChange" }, function (data) {
			$("#RightSidebar").html(data)
		});

		return false;
	}

	function GetResetByQuestionId() {
		var Qid = $("#QuestionId").val()
		$.get("/Notices/LegislationFixation/GetResetByQuestionId", { QuesId: Qid }, function (data) {
			if (data != null) {
				$("#Subject").val(data.Subject)
				$("#MainQuestion").html(data.MainQuestion);
				$("#DdlMinistry").find("option[value='" + data.MinistryId + "']").attr("selected", "true")
				$("#ChkIsQuesPart").prop('checked', data.IsQuestionInPart);
				$("#ChkIsLocal").prop('checked', data.IsHindi);
				///Get Department accoding to Selected MinisterId
				Mid = $("#DdlMinistry").val()
				if (Mid != 0) {
					$.get("/Notices/LegislationFixation/GetDepartmentByMinister", { MinistryId: Mid }, function (result) {
						$("#DdlDepartment").empty();
						$.each(result, function (index, optiondata) {
							$("#DdlDepartment").append("<option value='" + optiondata.DepartmentId + "'>" + optiondata.DepartmentName + "</option>");

							////Find and Bind Department According to result data
							$("#DdlDepartment").find("option[value='" + data.DepartmentId + "']").attr("selected", "true");
						});
					});
				}

			}
		});

		return false;
	}

	function BackToPRByQuestionId() {
		var Qid = $("#QuestionId").val()
		var QtId = $("#QuestionTypeId").val()
		var IsStarred = false;

		if (QtId == 1) {
			IsStarred = true;
		}
		else if (QtId == 2) {
			IsStarred = false;
		}

		$.get("/Notices/LegislationFixation/BackToPRByQuestionId", { QuesId: Qid }, function (data) {
			alert(data)
			//Bind Pending List again
			$.get("/Notices/LegislationFixation/CompletePaperLaidInformation", {
				PaperCategoryTypeId: 1,
				IsStarredQuestion: IsStarred,
				IsByMinistry: null,
				Status: "PendingList",
				ItemType: true
			}, function (data) {
				$("#divDataContainer").html(data);
			});
			$("#RightSidebar").html("");
		});

		return false;
	}

	$("#DdlMinistry").change(function () {
		var Mid = $("#DdlMinistry").val()
		var M = $("#DdlMinistry option:selected").text()
		M = M.substring(M.indexOf(",") + 2)
		$("#TxtMinisName").val(M)
		$.get("/Notices/LegislationFixation/GetDepartmentByMinister", { MinistryId: Mid }, function (data) {
			$("#DdlDepartment").empty();
			$("#DdlDepartment").append("<option value='0' selected='true'>Select Department</option>")
			$.each(data, function (index, optiondata) {
				$("#DdlDepartment").append("<option value='" + optiondata.DepartmentId + "'>" + optiondata.DepartmentName + "</option>");
			});
		});
	});


	$("#DdlMember").change(function () {
		$("#ConstituencyCode").val("")
		$("#ConstituencyName").val("")
		var Mid = $("#DdlMember").val()
		var Aid = $("#AssemblyID").val()
		$.get("/Notices/LegislationFixation/GetConstByMemberId", { MemberId: Mid, AssemId: Aid }, function (data) {
			$("#ConstituencyCode").val(data.ConstituencyCode)
			$("#ConstituencyName").val(data.ConstituencyName)
		});
	});

	$("textarea#Subject").focus(function () {
		$(this).animate({
			height: "130px"
		}, 100, function () { });

	});
	$("textarea#Subject").blur(function () {
		$(this).animate({
			height: "40px"
		}, 100, function () { });

	});

	$("#DdlDepartment").change(function () {
		var value = $(this).val()
		var N = $("#DdlDepartment option:selected").text().trim()
		$("#TxtDeptName").val(N)
	})

	$("#DdlDepartment").change(function () {
		var value = $(this).val()
		var N = $("#DdlDepartment option:selected").text().trim()
		$("#TxtDeptName").val(N)
	})

	function CheckQuestion(TypeId) {

		var QuestionNo = $("#QuestionCheck").val();
		var AId = $("#AssemblyID").val();
		$.ajax({
			url: "/Notices/LegislationFixation/CheckQuestionNo",
			type: 'POST',
			data: { QuestionNumber: QuestionNo, QtypeId: TypeId, AssemId: AId },
			success: function (data) {
				if (data == "0") {

				}
				else if (data >= "1") {
					alert("Question Number Aleardy Exist !");
					$('#QuestionCheck').val("");
				}
			}
		});
	}
	function CheckQuesInPart() {


		if ($("#ChkIsQuesPart").is(':checked')) {
			$("#IsQuestionInPart").val(true)

		}
		else {
			$("#IsQuestionInPart").val(false)
		}



	}
	function CheckQuesInPart1() {


		if ($("#ChkIsQuesPart1").is(':checked')) {
			$("#IsQuestionInPart").val(true)

		}
		else {
			$("#IsQuestionInPart").val(false)
		}



	}

	function CheckIsHindi() {


		if ($("#ChkIsLocal").is(':checked')) {
			$("#IsHindi").val(true)

		}
		else {
			$("#IsHindi").val(false)
		}



	}




</script>

