﻿@model SBL.DomainModel.ComplexModel.CutMotionModel
@{
    int count = 0;
}

<div id='fullDetailsModel' class="hide">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">

        <!-- PAGE CONTENT BEGINS -->
        <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
        <div class="pass-table">

            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                @if (Model.UserList != null)
                {
                    if (Model.UserList.Count() > 0)
                    {
                    <div class="table-header">
                       
                            <span>Cut Motions List For Bracketing</span>
                        
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable" id="Cut-table-2" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">

                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 3%">#</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="Cut-table-2" rowspan="1" colspan="1" aria-label="Diary Number: activate to sort column ascending" style="width: 14%">Notice No.</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="Cut-table-2" rowspan="1" colspan="1" aria-label="Subject: activate to sort column ascending" style="width: 20%">Subject</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="Cut-table-2" rowspan="1" colspan="1" aria-label="Asked By: activate to sort column ascending" style="width: 15%">Asked By</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="Cut-table-2" rowspan="1" colspan="1" aria-label="Asked By: activate to sort column ascending" style="width: 15%">Received Date</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="Cut-table-2" rowspan="1" colspan="1" aria-label="Asked By: activate to sort column ascending" style="width: 7%">Details</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="Cut-table-2" rowspan="1" colspan="1" aria-label="Asked By: activate to sort column ascending" style="width: 4%"></th>
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.UserList)
                            {
                                count = count + 1;
                                string style = (count % 2 == 0) ? "odd" : "even";

                                var trID = item.QuestionID;
                                
                                <tr class="@style" id="@trID">

                                    <td class="">@count</td>
                                    <td class="">@item.NoticeNumber </td>
                                     @if (item.Subject.IndexOf("ḝ") != -1)
                                     {
                                         string[] tokens = item.Subject.Split('ḝ');
                                         int counter=1;
                                         string br = ") ";
                                          <td class="">
                                           @foreach (var item1 in tokens.ToList())
                                           {
                                                @counter  @br   @item1 <br /><br />
                                               counter = counter + 1;
                                           }
                                    </td>
                                     }
                                     else
                                     {
                                    <td class=""> @Html.Raw(item.Subject)</td>
                                     }
                                    <td class="hidden-480 ">@item.MemberName</td>
                                    <td class="hidden-480 ">
                                        @if (item.NoticeDate != null)
                                        {
                                            @Convert.ToDateTime(item.NoticeDate).ToString("dd/MM/yyyy ")@Convert.ToDateTime(item.NoticeTime.ToString()).ToString("hh:mm tt")
                                        }
                                    </td>
                                    <td class=" ">
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a title="@Resources.PublicPasses.ActionFullDetails" onclick="FullDetailById(@item.NoticeId)" href="javascript:void(0);" class="green">
                                                <i class="ace-icon fa fa-eye bigger-130"></i>
                                            </a>
                                        </div>
                                    </td>
                                    @*<td class="hidden-480 "><a href="#" onclick="MoveToUnstarred(@item.QuestionID)">Unstarred</a></td>*@
                                    <td>
                                        <input id="Chk_@item.NoticeId" class="Checkbox" type="checkbox" onchange="checkChange1(this.id)" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div id="divBracket" style="display: none; margin-top: 1%">
                        <button class="btn btn-primary" type="button" id="btnBract" title="Bracket" onclick="Bracket()">
                            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                            @Resources.Diaries.Bracket
                        </button>
                        <div id="divBracket1" style="display: none; margin-top: 2%">
                            <span>Bracket With :</span>
                            <input type="text" id="txtBracket" placeholder="Notice Number" />
                         
                                <button class="btn btn-primary" type="button" id="btnDone" title="Done" style="margin-left: 1%" onclick="CheckBracketing('Starred')">
                                    <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                    @Resources.Diaries.Done
                                </button>
                         

                            <button class="btn btn-primary" type="button" id="btnCancel" title="Cancel" style="margin-left: 1%" onclick="CancelBracket()">
                                <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                @Resources.Diaries.Cancel
                            </button>
                        </div>
                    </div>
                    }
                    else
                    {
                  
                    <div class="col-xs-12">
                        <div class="alert alert-info">
                            <strong>No CutMotion(s) Available</strong>
                            <br />
                        </div>
                    </div>
                   
                    }
                }

            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>




<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
@*<script src="~/Scripts/jquery-1.7.min.js"></script> *@
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>



<script>
    jQuery(function ($) {
        var oTable1 =
        $('#Cut-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
               { "bSortable": false },
              null, null, null, null, null, { "bSortable": false }

            ]
        });
    });
   
    function checkChange1(id) {
        if (document.getElementById(id).checked) {
            var selectedId = document.getElementById("SelectedChkbxId").value;
            if (selectedId == "") {
                document.getElementById("SelectedChkbxId").value = id.substring(4);
            }
            else {
                selectedId = selectedId + "," + id.substring(4);
                document.getElementById("SelectedChkbxId").value = selectedId;
            }

            //alert(document.getElementById("SelectedChkbxId").value)
        }
        else {
            var selectedId = document.getElementById("SelectedChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(4), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4), "");
            }

            document.getElementById("SelectedChkbxId").value = newvalue;

            //alert(document.getElementById("SelectedChkbxId").value);
        }

        if (document.getElementById("SelectedChkbxId").value == "") {
            $("#divBracket").css("display", "none")
            $("#txtBracket").val("")
            //$("#txtBracket").css("display", "none")

        }
        else {
            $("#divBracket").css("display", "block")



        }
    }

    function CheckBracketing(tpe) {
        var DN = $("#txtBracket").val()
        var Ids = $("#SelectedChkbxId").val()
        if (DN != "") {
            $.ajax({
                url: "/Notices/LegislationFixation/CheckBracktingByNoticeNumber",
                type: 'GET',
                data: {
                    NoticeNum: DN,
                    BIds: Ids,
                },
                success: function (response) {
                    if (response != "Not Bracket") {
                        alert(response)
                    }
                    else {
                        $.ajax({
                            url: "/Notices/LegislationFixation/BracketCutMotionByNoticeNumber",
                            type: 'GET',
                            data: {
                                NoticeNum: DN,
                                BIds: Ids
                            },
                            success: function (response) {
                                alert(response.Message)
                                GetCutMotion()
                                //GetQuestionsForBracket(tpe)
                                //if (response.QuestionTypeId == 1) {
                                //    document.getElementById("SpnBrct1").innerHTML = response.STotalCnt
                                //    document.getElementById("SpnClub1").innerHTML = response.CTotalCnt


                                //}
                                //else if (response.QuestionTypeId == 2) {
                                //    document.getElementById("SpnBrct2").innerHTML = response.STotalCnt
                                //    document.getElementById("SpnClub2").innerHTML = response.CTotalCnt
                                //}
                                $('html, body').animate({ scrollTop: 0 }, 'fast');
                               
                            }

                        });
                    }
                }

            });
        }
        else {
            alert("Enter Notice Number !")
        }
    }

    function FullDetailById(NID) {
        var pathurl = '@Url.Action("FullDetailByNoticeID", "LegislationFixation")';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                ItemId : NID
            },
            success: function (data) {

                $('#ShowfullDetailsModel').html("");
                $('#ShowfullDetailsModel').html(data);

                var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Full Details",
                    width: 600,
                    title_html: true,
                    buttons: [
                        {
                            text: "OK",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

            }
        });
    }

</script>



