﻿<div class="">
    <div class="" id="pdf">
        @if (ViewBag.PDFPath != "")
        {
            var pdfPathValue = @ViewBag.PDFPath;
                        
           <object data="@pdfPathValue" type="application/pdf" style="width:100%; height:280px"  >
                alt :<a href="@pdfPathValue"></a>
            </object>
        }
    </div>


</div>
 



