﻿@model SBL.DomainModel.ComplexModel.CutMotionModel


<script>
    $(document).ready(function () {
        $("#DdlBType").prepend("<option value='' selected='true'>Select Event</option>")
        $("#DdlDepartment").prepend("<option value='' selected='true'>Select Department</option>")
  });
      </script>
<div class="page-header">
    <h1>Select Event & Department then Bracket Notices
        <small>
                                                                                                                                     
        </small>
    </h1>
</div>

<table style="width: 100%;">
   <tr>
       <td>
         
       </td>
   </tr>
    <tr>
           
       
        <td>
           
            <div class="widget-main no-padding-right no-padding-left">
                <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                          
                    </div>

                    <div class="profile-info-row">
                        <div style="" class="profile-info-name">Select Event</div>

                        <div class="profile-info-value">
                            <span id="spnEventId" class="">

                              <span id="username" class="">@Html.DropDownListFor(m => m.EventId, new SelectList(Model.eventList, "EventId", "EventName"), new { @id = "DdlBType", @tabindex = "1", @class = "DdlClass" })
                             </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </td>
         </tr>
    <tr>
        <td>
            <div class="widget-main no-padding-right no-padding-left">
                <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                    </div>

                    <div class="profile-info-row">
                        <div style="" class="profile-info-name">Select Department </div>

                        <div class="profile-info-value">
                            <span id="spnId" class="">   
                                	@Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.DepartmentLt, "DepartmentId", "DepartmentName"), new { @id = "DdlDepartment", @class = "DdlClass", @tabindex = "5" })                   
                        @*    <span class="">@Html.DropDownListFor(m => m.DemandNo, new SelectList(Model.DemandList, "DemandNo", "DemandName"), new { @id = "DdlDemand", @tabindex = "3", @class = "DdlClass" })*@
                               </span>
                    
                           @* </span>*@
                        </div>
                    </div>
                </div>
            </div>
        </td>
        
     </tr>
    <tr>
        <td>
       
          <div class="col-sm-3">
                    <button type="submit" value="Add" id="AddButton1" onclick="GetNoticeBracy()" class="btn btn-sm btn-info"><i class="ace-icon fa fa-filter"></i>Get Notices</button>
                </div>
             <br />
    <br />
        </td>


        
   </tr>
   
</table>

 <div id="CutMotiondata">
  
            </div>

<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<script src="~/assets/TableTools/js/dataTables.tableTools.js"></script>
<link href="~/assets/TableTools/css/dataTables.tableTools.css" rel="stylesheet" />
<script src="~/assets/js/bootbox.min.js"></script>
<script>

    function GetNoticeBracy() {

        var EventId = $("#DdlBType").val();
        var DeptId = $("#DdlDepartment").val();
        var AssemblyId = $("#DdlAssembly").val();
        var SessionId = $("#DdlSession").val();
        try {
            
            $("#loader-wrapper").show();
                $.ajaxSetup({ cache: false });
                var pathurl = '@Url.Action("GetNoticeBracktList", "LegislationFixation")';
                $.ajax({
                    url: pathurl,
                    type: 'GET',
                    data: {

                        EventId: EventId,
                        DeptId: DeptId,
                        AssemblyId: AssemblyId,
                        SessionId: SessionId,
                    },
                    success: function (data) {
                        $("#CutMotiondata").html("");
                        $("#CutMotiondata").html(data);
                        $("#loader-wrapper").hide();
                    }
                });
          
        }
        catch (ex) {
            alert(ex.message);
        }
    }

    jQuery(document).ready(function () {
        ChangeBreadCrumbParent("List Of Gate Pass Issues");
        ChangeBreadCrumbChild("Pass List");

        $('#CurrentDateFrom').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });
        $('#CurrentDateTo').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });

    });

    function checkChange(id) {
        if (document.getElementById(id).checked) {
            var selectedId = document.getElementById("SelectedChkbxId").value;
            if (selectedId == "") {
                document.getElementById("SelectedChkbxId").value = id.substring(6);
            }
            else {
                selectedId = selectedId + "," + id.substring(6);
                document.getElementById("SelectedChkbxId").value = selectedId;
            }
        }
        else {
            var selectedId = document.getElementById("SelectedChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(6), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(6) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(6), "");
            }
            document.getElementById("SelectedChkbxId").value = newvalue;
        }
    }

    function checkPassreport(id) {
        alert(id)
        return false;
    }
</script>

