﻿@model SBL.DomainModel.ComplexModel.ChangeDeptModule


@{
    int count = 0;
}
<div id='fullDetailsModel' class="hide">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>

@*<div class="widget-header widget-header-flat">

        <div class="widget-toolbar no-border">
            <button class="btn btn-xs btn-primary bigger" onclick='PrintClick(0)'>
                <i class="ace-icon fa fa-pencil-square-o"></i>
                @Resources.Diaries.New
            </button>
        </div>
    </div>*@

<div class="row">
    <div class="col-xs-12">

        <!-- PAGE CONTENT BEGINS -->
        <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
        <input type="hidden" id="SelectedFixNo" name="SelectedFixNo" />
        <div class="pass-table">

            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
          
                <div class="table-header">
                 All Question List
                </div>
         
             
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                    <thead>
                        <tr role="row">

                           <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">#</th>
                             <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 20%">Diary Number</th>
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 30%">Question Type</th> 
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 20%">Subject</th>
                           <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 20%">Asked By</th>                                                    
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 10%">Department</th>
                  @*           <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 10%">Status</th>*@
                        </tr>
                    </thead>
                         
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        @foreach (var item in Model.tQuestionModel)
                        {
                            count = count + 1;
                            string style = (count % 2 == 0) ? "odd" : "even";
                      
                            
                               var trID = item.QuestionID;
                                
                                <tr class="@style" id="@trID" onclick="onSelectRowHandler(this.id);">

                               
                                <td class="" >@count</td>

                                @{
                          
                                }

                                    <td class="" >

                                    <i class=""  >@item.DiaryNumber</i>


                                </td>
                                     <td class="" >
                                         @if (item.QuestionTypeId == 1)
                                         {
                                                <i class="" >Starred Question</i>
                                         }
                                         else if (item.QuestionTypeId == 2)
                                         {
                                             <i class="" >Unstarred Question</i>
                                         }

                                 
                         
                         
                          

                                </td>
                                     <td class="" >

                                    <i class="" >@Html.Raw(@item.Subject)</i>
                                               

                                </td>

                                <td class="" >

                                    <i class="" >@item.MemberName</i>


                                </td>
                                 
             
                            
                                
                                      <td class="" >

                                    <i class=""  >@item.DepartmentName</i>
                                               

                                </td>
                            </tr>
                            
                          



                        }
                    </tbody>
                </table>
                    
                
                </div>

            </div>
              
        </div>
    </div>
 <div id="printingPress" class="modal">
  </div>



@*<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />*@
@*<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>*@
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<script>


    jQuery(function ($) {

        var oTable1 = $('#sample-table-2')
         .dataTable({
             bAutoWidth: true,
             "aoColumns": [
                { "bSortable": false },
               null, null, null, null, 

               { "bSortable": false }

             ]
         });





    });



  
    function onSelectRowHandler(Id) {

        $("#loader-wrapper").show();
        var value = Id;
      
            $.ajax({
                url: "/Notices/LegislationFixation/GetDataQuestionID",
                type: 'GET',
                data: {
                    QuestionID: Id,
                },
                success: function (data) {
                    if (data) {

                        $("#RightSidebar").html(data)
                        $("#loader-wrapper").hide();
                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });
       
    }
  

</script>




