﻿@model SBL.eLegistrator.HouseController.Web.Areas.Legislative.Models.CompletePaperLaidViewModel
@using SBL.DomainModel.Models.Enums


@{
	int count = 0;
}



<div class="form-horizontal">
	<div class="form-group">
		<div class="pass-table">
			<div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
				<div class="table-header">

					@ViewBag.Heading


				</div>
				<table class="table table-striped table-bordered table-hover dataTable" id="tblMemberTourList" aria-describedby="sample-table-2_info">
					<thead>
						<tr role="row">
							@*<th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">
											<input type="checkbox" class="chkList" id="chkSelAll" />
										</th>*@
							<th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: auto">Diary Number</th>
							<th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: auto">Question Number</th>
							<th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: auto">Previous Fixed Date</th>
							<th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: auto">Subject</th>
							<th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: auto">AskedBy</th>
							<th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: auto">Ministry</th>
							<th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: auto">Department</th>

							@*<th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: auto" style="display:none;">Transfer</th>*@



						</tr>
					</thead>
					<tbody role="alert" aria-live="polite" aria-relevant="all">
						@if (Model.ListofData != null)
	  {
		  foreach (var item in Model.ListofData)
		  {
			  count = count + 1;
			  string style = (count % 2 == 0) ? "odd" : "even";
			  var trID = item.ItemId;
			  //onclick="onSelectRowHandler(@trID);"
							<tr class="@style"  id="@trID" onclick="onSelectRowHandler(@trID);">
								<td class="">@item.CommonNumberForAll

								</td>
								<td class="">@item.QuestionNumber

								</td>

								 <td class=""> 
									 @item.IsFixedDate.ToString("dd/MM/yyyy")
								</td>
								<td class="">@Html.Raw(item.Subject)
								</td>
								<td class="">@item.AskedBy</td>
								<td class="">@item.MinistryName</td>
								<td class="">@item.DepartmentName</td>

							@*	<td class="" style="display:none;"><a data-rel="tooltip" class="red tooltip-error DeletetourLink" title="Delete" id="DeleteLink"  
                                                   onclick="TransferQuestionUpdate('@item.QuestionNumber','@item.CommonNumberForAll')" style="cursor:pointer;">
									<i class="ace-icon fa fa-flag bigger-120"></i>
								</a>
								</td>*@


							</tr>
		  }
	  }
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="space-2"></div>

</div>




<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>



<style>
	.ui-th-column {
		vertical-align: top;
	}
</style>


<script>

	jQuery(document).ready(function () {

		var tblMemberTourList = $('#tblMemberTourList')
        .dataTable();


	});

	//$.paperSentFormatter = function (cellvalue, options, rowObject) {
	//	alert("cellvalue : " + cellvalue);
	//	return "sdfsdfsd";
	//};

	//jQuery(".jqgrow td input", "#GetCompletePaperLaidInformation").each(function () {
	//	jQuery(this).unbind('click');
	//	jQuery(this).click(function () {
	//		alert("sss");
	//	});
	//});

	function ViewPaperLaidDetails(obj) {
		$("#RightSidebar").html('')
		var targetDiv = document.getElementById('RightSidebar');
		var cl = new CanvasLoader('canvasloader-container2');
		cl.show();
		var id = $(obj).attr('ItemID');
		var ItemType = '@Model.ItemType';

		$.ajaxSetup({ cache: false });
		$.ajax({
			url: '/Notices/LegislationFixation/PaperDetailWithAction',
			type: 'GET',
			data: { ItemId: id, ItemType: ItemType },
			success: function (response) {


				if (response) {
					$("#RightSidebar").html(response);
					cl.hide();


				} else { alert("error"); }

			}
		});

	}

	function onSelectRowHandler(rowId) {
		$("#loader-wrapper").show();


		var id = rowId;


		$.ajax({
			url: '/Notices/LegislationFixation/EditQuestionNoticeForCancel',
			type: 'GET',
			data: { Id: id, EditType: 'Question' },
			cache: false,
			success: function (response) {
				if (response) {
					$("#RightSidebar").html(response);
					$("#loader-wrapper").hide();

				} else { alert("error"); }

			},

			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.responseText);
				alert(thrownError);
			}
		});

	}



	function RemoveAttr() {
		$('[role="gridcell"]').removeAttr("title");
		$('[Class="ui-jqgrid-resize ui-jqgrid-resize-ltr"]').hide()
	}


	function TransferQuestionUpdate(qno, dno) {

		alert(dno);
		alert(qno);
		var dlg = bootbox.confirm("Are you sure to Transfer This Question ?", function (e) {

			if (e == true) {
				$("#loader-wrapper").show();
				$.ajax({
					url: "/Notices/LegislationFixation/CancelQuestionFinally",
					type: 'POST',					
					data: { QuesNumber: qno, DiaryNo: dno },
					//contentType: "application/json; charset=utf-8",
					dataType: "json",
					success: function (data) {
						GetQuestionCancelReports();
						var dlg = bootbox.alert(data, function (e) {

							$(dlg).modal('hide');

						});
						

						$("#loader-wrapper").hide();
					}
				});
			}
		});
	}
</script>

