﻿@*@model SBL.DomainModel.ComplexModel.ClubbedQuestionModel*@

@model SBL.eLegistrator.HouseController.Web.Areas.Notices.Models.LegislationFixationModel

 @Html.HiddenFor(m => m.AssemblyId, new { @id = "hdnAssemblyID" })
@Html.HiddenFor(m => m.SessionId, new { @id = "hdnSessionId" })
  <div class="widget-main no-padding-right no-padding-left">
             <div class="profile-user-info profile-user-info-striped">
                 <div class="profile-info-row">
                 </div>

                  <div class="profile-info-row">
                    <div class="profile-info-name" style="width:20%">Select Session Date</div>

                      <div class="profile-info-value">
                          <span id="spnEventId" class="">
                                                      
                                  @Html.DropDownListFor(m => m.SessionDate, new SelectList(Model.CustomSessionDateList, "Id", "SessionDate",0), new { @id = "DdlSessionDates", @class = "rounded", @style = "width:325px;" })
                              @*      @Html.ValidationMessageFor(m => m.Id, "", new { style = "color: red;" })*@
                          </span>
                      </div>
                       
                </div>

                    <div class="profile-info-row">
                    <div class="profile-info-name"></div>

                      <div class="profile-info-value">
                       <button type="submit" value="Add" id="AddButton" class="btn btn-info" onclick="SessionDateChange()"><i class="ace-icon fa fa-check-square-o bigger-130"></i>View LOB</button>
                      </div>
                       
                </div>

                 @*<div class="row">
                                <div class="col-xs-1" id="ButtonGroup">
                                    <button type="submit" value="Add" id="AddButton" class="btn btn-info" onclick="SessionDateChange()"><i class="ace-icon fa fa-check-square-o bigger-130"></i>Transfer Fils for the Assembly House</button>
                                </div>
                            
                            </div>*@
                 </div>
       <div id="testingDIV">
                       
                      </div>
      </div>


<script>
    function SessionDateChange() {
        var SessionDate = $("#DdlSessionDates option:selected").text();
        var AssemblyID = $('#hdnAssemblyID').val();
        var SessionId = $('#hdnSessionId').val();
        if (SessionDate != null && SessionDate != "" && SessionDate != "Select Session Date") {

            
            $.ajaxSetup({ cache: false });

                    var url = '@Url.Action("ShowLOBByDate", "LegislationFixation", new { area = "Notices", SessionDate = "__id__" })';


                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('amp;', '');
                    url = url.replace('__id__', SessionDate);

                    window.open(url, '_blank');
               
          
        }
        else {
            alert("Please Select Session Date!");
        }
    }
</script>
