﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV


@{
    
    switch (@Model.categoryType)
    {

        case "question":
    
    <div style="margin-left: 0px; margin-top: -15px; margin-bottom: 20px">
        <fieldset style="border-color: gray">
            <legend>@Resources.PaperLaidDepartment.QuestionDetails</legend>
            <strong style="margin-left: 10px; margin-top: 10px"></strong>
            <table style="margin-left: 4px; margin-bottom: 4px; margin-right: 4px; margin-top: 4px; width: 120%">

                <tr>
                    <td style="width: 21%">
                        <strong>@Resources.PaperLaidDepartment.QuestionType
                        </strong>
                        @Html.HiddenFor(m => m.categoryType, new { @id = "categoryType" })
                    </td>
                    <td style="width: 70%">
                        <div>
                            @Html.DropDownListFor(m => m.QuestionTypeId, new SelectList(Model.tQuestioType, "QuestionTypeId", "QuestionTypeName", 0), new { @id = "DdlQuestionType", @tabindex = "1", @class = "select-style", style = "width: 323px" })
                            <span class="field-validation-error" id="QuestionTypeValidation" style="color: red"></span>




                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 80px; margin-left: 10px">
                        <strong>@Resources.PaperLaidDepartment.QuestionNumber
                        </strong>

                    </td>
                    <td style="width: 520px">
                        <div>
                            @Html.DropDownListFor(m => m.QuestionID, new SelectList(Model.tQuestioType, "QuestionID", "QuestionNumber", 0), new { @id = "DdlQuestionNumber", @tabindex = "1", @class = "select-style", @style = "width: 323px" })
                            @Html.ValidationMessageFor(m => m.QuestionID, "", new { @style = "color:red" })
                            <span class="field-validation-error" id="QuestionIDValidation" style="color: red"></span>

                        </div>
                    </td>

                </tr>

            </table>

        </fieldset>
    </div>     
            break;

        case "bill":
           
    <div style="margin-left: 0px; margin-top: -15px; margin-bottom: 20px">
        <fieldset style="border-color: gray">
            <legend>@Resources.PaperLaidDepartment.BillDetails</legend>

            <table style="margin-left: 4px; margin-bottom: 4px; margin-right: 4px; margin-top: 4px; width: 120%">

                <tr>
                    <td style="width: 25%">
                        <strong>@Resources.PaperLaidDepartment.BillNumber
                        </strong>
                        @Html.HiddenFor(m => m.categoryType, new { @id = "categoryType" })

                    </td>

                    <td>
                        <div style="width: 100%; float: left;">
                            <div style="width: 15%; float: left">
                                @Html.TextBoxFor(m => m.BillNUmberValue, new { @style = "width: 34px", @id = "tbBillNumber", @onkeypress = "return isNumberKey(event)" })
                                @Html.ValidationMessageFor(m => m.BillNUmberValue, "", new { @style = "color:red" })

                            </div>
                            <div style="width: 4%; float: left; margin-top: 7px">
                                @Resources.PaperLaidDepartment.Of
                            </div>
                            <div style="width: 20%; float: left">
                                @Html.DropDownListFor(m => m.BillNumberYear, new SelectList(Model.yearList), new { @id = "DdlBillYear", @tabindex = "1", @class = "select-style", style = "width: 70px" })

                                <div>
                                </div>

                            </div>

                        </div>
                        <span class="field-validation-error" id="BillNUmberValueValidation" style="color: red"></span>

                    </td>
                </tr>
                <tr>
                    <td style="width: 80px; margin-left: 10px">
                        <strong>@Resources.PaperLaidDepartment.BillType
                        </strong>

                    </td>
                    <td style="width: 520px">
                        <div>
                            @Html.DropDownListFor(m => m.BillTypeId, new SelectList(Model.mBillTypes, "BillTypeId", "BillType", 0), new { @id = "DdlBillType", @tabindex = "1", @class = "select-style", style = "width: 317px" })
                            @Html.ValidationMessageFor(m => m.BillTypeId, "", new { @style = "color:red" })

                        </div>
                    </td>

                </tr>
                <tr>
                    <td style="width: 80px; margin-left: 10px">
                        <strong>@Resources.PaperLaidDepartment.BillDate
                        </strong>

                    </td>
                    <td>
                        <div>
                            @Html.TextBoxFor(m => m.BillDate, new { @id = "tbBillDate", @style = "width:302px" })
                            @Html.ValidationMessageFor(m => m.BillDate, "", new { @style = "color:red" })
                            <span class="field-validation-error" id="BillDateValidation" style="color: red"></span>

                        </div>
                    </td>

                </tr>
            </table>
        </fieldset>
    </div>     
          

            break;

        case "notice":
        
    <div style="margin-left: 0px; margin-top: -15px; margin-bottom: 20px">
        <fieldset style="border-color: gray">
            <legend>@Resources.PaperLaidDepartment.NoticeDetails</legend>

            <table style="margin-left: 4px; margin-bottom: 4px; margin-right: 4px; margin-top: 4px; width: 120%">
                <tr>
                    <td style="width: 468px; margin-left: 10px">
                        <strong>@Resources.PaperLaidDepartment.Notices
                        </strong>
                        @Html.HiddenFor(m => m.categoryType, new { @id = "categoryType" })

                    </td>
                    <td style="width: 520px">
                        <div>
                            @Html.DropDownListFor(m => m.NoticeID, new SelectList(Model.tMemberNotice, "NoticeId", "NoticeNumber", 0), new { @id = "DdlNoticeNumber", @tabindex = "1", @class = "select-style", @style = "width: 319px" })
                            @Html.HiddenFor(m => m.NoticeID)
                            @Html.ValidationMessageFor(m => m.NoticeID, "", new { @style = "color:red" })
                            <span class="field-validation-error" id="NoticeIDValidation" style="color: red"></span>

                        </div>
                    </td>

                </tr>

                <tr>
                    <td style="width: 80px; margin-left: 10px">
                        <strong>@Resources.PaperLaidDepartment.NoticeReceivedDate
                        </strong>

                    </td>
                    <td style="width: 520px">
                        <div>

                            <input type="text" id="NoticeDate" style="width: 303px" readonly="readonly" />
                        </div>
                    </td>

                </tr>
            </table>
        </fieldset>
    </div>     

            break;

    }
    
}




<script>


    $('#DdlQuestionType').change(function () {
        var value = document.getElementById("DdlQuestionType").value;
        var select = $('#DdlQuestionNumber');
        var URL = '@Url.Action("callQuestionNumber")' + '?Id=' + value;
        $.getJSON(URL, function (data) {

            $('#DdlQuestionNumber').empty();
            $('#DdlQuestionNumber').append("<option value='0' >Select Question Number</option>")
            $.each(data, function (index, optionData) {
                $('#DdlQuestionNumber').append("<option value=" + optionData.QuestionID + ">" + optionData.QuestionNumber + "</option>")
            })
        })
    });

    $('#DdlQuestionNumber').change(function () {
        var value = $("#DdlQuestionNumber  option:selected").text();

        var URL = '@Url.Action("GetQuestionDetails")' + '?Id=' + value;
        $.getJSON(URL, function (data) {

            $('#Title').val(data.Subject);
            $('#Description').val(data.MainQuestion);

        })
    });

    $('#DdlNoticeNumber').change(function () {
        var value = $("#DdlNoticeNumber  option:selected").text();

        var URL = '@Url.Action("GetNoticeDetails")' + '?Id=' + value;
        $.getJSON(URL, function (data) {

            $('#Title').val(data.Subject);
            $('#Description').val(data.Notice);
            $('#NoticeDate').val(data.DateNotice);

        })
    });

    $('#DdlBillYear').change(function () {
        var number = $('#tbBillNumber').val();
        var year = $("#DdlBillYear  option:selected").text();
        $.ajax({
            url: "/PaperLaidDepartment/PaperLaidDepartment/CheckBillNumber",
            type: 'POST',
            data: {
                number: number,
                year: year
            },
            success: function (data) {

                if (data) {

                    if (data.BillId == null) {

                    }
                    else {
                        alert("Bill number already exist.");
                        $('#tbBillNumber').val("");
                    }
                } else { alert("error in getting bill number."); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    })

    $('#tbBillNumber').change(function () {
        var number = $('#tbBillNumber').val();
        var year = $("#DdlBillYear  option:selected").text();
        $.ajax({
            url: "/PaperLaidDepartment/PaperLaidDepartment/CheckBillNumber",
            type: 'POST',
            data: {
                number: number,
                year: year
            },
            success: function (data) {

                if (data) {

                    if (data.BillId == null) {

                    }
                    else {
                        alert("Bill number already exist.");
                        $('#tbBillNumber').val("");
                    }
                } else { alert("error in getting bill number."); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    })
    $("#tbBillDate").datepicker({
        dateFormat: 'dd/mm/yy',
    }).val();



    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>
