﻿@model SBL.DomainModel.Models.Question.tQuestionModel
@using SBL.DomainModel.Models.Enums;
@using SBL.eLegistrator.HouseController.Web.Utility


@Html.Hidden("QuestionIDFullRecord", @Model.QuestionNumber)
@Html.HiddenFor(m => m.QuestionID)
@Html.HiddenFor(m => m.QtypeId)
@Html.HiddenFor(m => m.AssemblyId, new { @id = "AssemblyId" })
@Html.HiddenFor(m => m.SessionId, new { @id = "SessionId" })
@Html.HiddenFor(m => m.MergeDiaryNo, new { @id = "DiaryNumberId" })

@Html.HiddenFor(m => m.MergeDiaryNo, new { @id = "hdnMergeDiaryNo" })
@Html.HiddenFor(m => m.DiaryNumber, new { @id = "hdnDiaryNo" })
@Html.HiddenFor(m => m.Subject)


   @if (@Model.IsAcknowledgmentDate == null)
    {
        if (CurrentSession.AssemblyId == CurrentSession.SiteSettingsCurrentAssemblyId && CurrentSession.SessionId == CurrentSession.SiteSettingsCurrentSessionId)
        {
    <div id="ackDetails" class="widget-header widget-header-flat" style="background: #fff;">

        <button class="btnn btn-xs btn-primary bigger" id="AckId" onclick="AcknowledgementQuestion();">
            <i class="acen-icon fa fa-pencil-square-o"></i>
            @Resources.PaperLaidDepartment.AcknowledgementQuestionview
        </button>

    </div>
        }else{
         <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                <strong>Alert!</strong>
                Documents may not be send for previous session
										<br>
            </div>
        }
    }


<div id="text">

    <div class="widget-header widget-header-flat" style="background: #fff;">
        @if (CurrentSession.AssemblyId == CurrentSession.SiteSettingsCurrentAssemblyId && CurrentSession.SessionId == CurrentSession.SiteSettingsCurrentSessionId)
        {
            <div class="widget-toolbar no-border">
                @if (Model.PaperLaidId == null || Model.PaperLaidId == 0)
                {
                    <button class="btn btn-xs btn-primary bigger" onclick="return EditDetails();">
                        <i class="ace-icon fa fa-pencil-square-o"></i>
                        @Resources.PaperLaidDepartment.DDDraftReply
                    </button>
                }
            </div>


            <div class="widget-toolbar no-border">
                @if (Model.PaperLaidId == null || Model.PaperLaidId == 0)
                {
                    //if (CurrentSession.IsSecretoryId == "True")
                    //{
                    if (Model.IsBracket == null || (Model.IsBracket != null && Model.IsBracket == false))
                    {   
                    <button class="btnn btn-xs btn-primary bigger" id="ChangeDep" onclick="CheckQuestionStatus();">
                        <i class="acen-icon fa fa-pencil-square-o"></i>
                        @Resources.PaperLaidDepartment.ChangeDepartment
                    </button>
                    }
                    //}
                }
            </div>

            <div class="widget-toolbar no-border" style="padding-bottom: 10px;">
                @if (Model.IsBracket == null || (Model.IsBracket != null && Model.IsBracket == false))
                {  
                    <button class="btnn btn-xs btn-primary bigger" id="OTPRegistration" onclick="OTPRegistarionReply();">
                        <i class="acen-icon fa fa-pencil-square-o"></i>
                        @Resources.PaperLaidDepartment.TemporaryUserForReply
                    </button>
                }

            </div>
        }
        else
        {
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                <strong>Alert!</strong>
                Documents may not be send for previous session
										<br>
            </div>
        }
    </div>
    <div class="widget-header widget-header-flat">





        <h4 class="widget-title">
            @*                        @if (Model.QtypeId == (int)QuestionType.StartedQuestion)
                        {
                            @Resources.PaperLaidDepartment.DDStaredQuestions
                        }
                        else if (Model.QtypeId == (int)QuestionType.UnstaredQuestion)
                        {
                            @Resources.PaperLaidDepartment.DDUnStaredQuestions
                        } >*@ @Resources.PaperLaidDepartment.QuestionDetails
        </h4>



    </div>



    <div id='ChangeDepartment' class="modal">
    </div>

    <div id='OTPRegistaionReply' class="hide">
    </div>

    <div id='DiaryNumberDetails'>
    </div>
    <div id='TransferDepartmentDetails'>
    </div>
    <div class="widget-body">
        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Diaries.DiaryNumber</div>

                    <div class="profile-info-value">
                        <span id="username" class="">@Model.DiaryNumber</span>
                    </div>
                </div>
                <div class="profile-info-row">
                </div>
                @if (@Model.IsClubbed == true || @Model.MergeDiaryNo != null)
                {
                    <div class="profile-info-row">
                        <div class="profile-info-name">Bracketed Diary Number</div>

                        <div class="profile-info-value">
                            @foreach (var item in @Model.DiaryNumList)
                            {
                                var trID = item.DiaryNumber;
                            
                            
                                <span  style="float:left;cursor:pointer;color:blue"  onclick="DiaryNumbeForpopupNew('@trID')">@trID</span>
   
                 
                            }

                        </div>
                    </div>
                }

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Diaries.QuestionNumber</div>

                    <div class="profile-info-value">
                        <span id="username" class="">@Model.QuestionNumber</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Title</div>

                    <div class="profile-info-value">
                        <span>@Html.Raw(@Model.Subject)</span>
                    </div>
                </div>

                @if (@Model.IsClubbed == true)
                {
                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.AskedBy </div>

                        <div class="profile-info-value">
                            <span>@Model.RMemberName</span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.AskedBy </div>

                        <div class="profile-info-value">
                            <span>@Model.MemberN</span>
                        </div>
                    </div>
                }


                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Department</div>

                    <div class="profile-info-value">
                        <span>@Model.DepartmentN</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Minister</div>

                    <div class="profile-info-value">
                        <span>@Model.MinisterN</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Description</div>

                    <div class="profile-info-value">
                        <span>@Html.Raw(@Model.MainQuestion)</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.DDConstituencyName</div>

                    <div class="profile-info-value">
                        <span>@Model.ConstituencyName</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.QuestionSentByVidhanSabha</div>

                    <div class="profile-info-value">
                        <span>@Model.SubmittedDateString</span>
                    </div>
                </div>
                @if (@Model.UserName != "")
                {
                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.LastTransferBy</div>

                        <div class="profile-info-value">
                            <span>@Model.UserName</span>
                        </div>
                    </div>
           
                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.LastTransferDate</div>

                        <div class="profile-info-value">
                            <span>@Model.ChangedDateString</span>
                        </div>
                    </div>
                
                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.TransferHistory</div>

                        <div onclick="TransferHistoryDetails('@Model.DiaryNumber')">
                            @Html.ActionLink("View", "ViewPdfFromServerSignIntention", "PaperLaidMinister", null, new { @class = "saveButton", onclick = "return false;" })

                        </div>

                    </div>
                }
                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.PDF</div>

                    <div class="profile-info-value">
                        @{
                            var path = "";
                            if (Model.QtypeId == 1)
                            {
                                path = "/Question/BeforeFixation/" + Model.AssemblyId + "/" + Model.SessionId + "/" + Model.AssemblyId + "_" + Model.SessionId + "_S_" + Model.QuestionID + ".pdf";
                            }
                            else if (Model.QtypeId == 2)
                            {
                                path = "/Question/BeforeFixation/" + Model.AssemblyId + "/" + Model.SessionId + "/" + Model.AssemblyId + "_" + Model.SessionId + "_U_" + Model.QuestionID + ".pdf";
                            }
                        }
                        <span><a class='PdfBackGround pdficon' target='_blank' style="float:left" href='@Url.Action("GetFileAttachment", "Diaries", new { filepathName = path, area = "Notices" })'></a></span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.AcknowledgementDate</div>

                    <div class="profile-info-value">
                        <span>@Model.AcknowledgmentDateString</span>
                    </div>
                </div>


            </div>


        </div>
    </div>

    @* </div>

        </div>
    </div>
</div>*@

    <div id="newSalaryHeads" class="modal">
    </div>
</div>





<div id="AckDetails">


    <div class="widget-body">
        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Diaries.DiaryNumber</div>

                    <div class="profile-info-value">
                        <span id="username" class="">@Model.DiaryNumber</span>
                    </div>
                </div>
                <div class="profile-info-row">
                </div>
                @if (@Model.IsClubbed == true || @Model.MergeDiaryNo != null)
                {
                    <div class="profile-info-row">
                        <div class="profile-info-name">Bracketed Diary Number</div>

                        <div class="profile-info-value">
                            @foreach (var item in @Model.DiaryNumList)
                            {
                                var trID = item.DiaryNumber;
                            
                            
                                <span  style="float:left;cursor:pointer;color:blue"  onclick="DiaryNumbeForpopupNew('@trID')">@trID</span>
   
                 
                            }

                        </div>
                    </div>
                }

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Diaries.QuestionNumber</div>

                    <div class="profile-info-value">
                        <span id="username" class="">@Model.QuestionNumber</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Title</div>

                    <div class="profile-info-value">
                        <span>@Html.Raw(@Model.Subject)</span>
                    </div>
                </div>

                @if (@Model.IsClubbed == true)
                {
                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.AskedBy </div>

                        <div class="profile-info-value">
                            <span>@Model.RMemberName</span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.AskedBy </div>

                        <div class="profile-info-value">
                            <span>@Model.MemberN</span>
                        </div>
                    </div>
                }


                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Department</div>

                    <div class="profile-info-value">
                        <span>@Model.DepartmentN</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Minister</div>

                    <div class="profile-info-value">
                        <span>@Model.MinisterN</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.Description</div>

                    <div class="profile-info-value">
                        <span>@Html.Raw(@Model.MainQuestion)</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.DDConstituencyName</div>

                    <div class="profile-info-value">
                        <span>@Model.ConstituencyName</span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.QuestionSentByVidhanSabha</div>

                    <div class="profile-info-value">
                        <span>@Model.SubmittedDateString</span>
                    </div>
                </div>
                @if (@Model.UserName != "")
                {
                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.LastTransferBy</div>

                        <div class="profile-info-value">
                            <span>@Model.UserName</span>
                        </div>
                    </div>
           
                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.LastTransferDate</div>

                        <div class="profile-info-value">
                            <span>@Model.ChangedDateString</span>
                        </div>
                    </div>
                
                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.TransferHistory</div>

                        @*  <div class="profile-info-value">
                    <span>@Model.ChangedDateString</span>
                </div>*@

                        <div onclick="TransferHistoryDetails('@Model.DiaryNumber')">
                            @Html.ActionLink("View", "ViewPdfFromServerSignIntention", "PaperLaidMinister", null, new { @class = "saveButton", onclick = "return false;" })

                        </div>

                    </div>
                }
                <div class="profile-info-row">
                    <div class="profile-info-name">PDF</div>

                    <div class="profile-info-value">
                        @{
                            var path1 = "";
                            if (Model.QtypeId == 1)
                            {
                                path1 = "/Question/BeforeFixation/" + Model.AssemblyId + "/" + Model.SessionId + "/" + Model.AssemblyId + "_" + Model.SessionId + "_S_" + Model.QuestionID + ".pdf";
                            }
                            else if (Model.QtypeId == 2)
                            {
                                path1 = "/Question/BeforeFixation/" + Model.AssemblyId + "/" + Model.SessionId + "/" + Model.AssemblyId + "_" + Model.SessionId + "_U_" + Model.QuestionID + ".pdf";
                            }
                        }
                        <span><a class='PdfBackGround pdficon' target='_blank' style="float:left" href='@Url.Action("GetFileAttachment", "Diaries", new { filepathName = path, area = "Notices" })'></a></span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.AcknowledgementDate</div>

                    <div class="profile-info-value">
                        <span>@Model.AcknowledgmentDateString</span>
                    </div>
                </div>
            </div>


        </div>
    </div>

    @* </div>

        </div>
    </div>
</div>*@

    <div id="newSalaryHeads" class="modal">
    </div>
</div>

<script>


    function AcknowledgementQuestion() {
        var DiaryNumber = $("#hdnDiaryNo").val();
        var QId = $("#QuestionID").val();
        bootbox.confirm('@Resources.PaperLaidDepartment.AreyousuretoAcknowledgementQuestion', function (confresult) {
            if (confresult) {

                $.ajax({
                    url: "/PaperLaidDepartment/PaperLaidDepartment/UpdateAcknowledgementQuestion",
                    type: 'GET',
                    data: {
                        DiaryNumber: DiaryNumber, QId: QId

                    },
                    success: function (data) {
                        if (data) {
                            //GetStartedQuestions();
                            $("#loader-wrapper").hide();

                            $("#RightSidebar").html(data)
                            $("#ackDetails").hide();
                            $("#text").show();
                            $("#AckDetails").hide();
                            //
                        } else { alert("error"); }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
        });


    }





    function OTPRegistarionReply() {

        //var value = $('#DiaryNumberId').val();
        var value = $('#hdnDiaryNo').val();
        //var DiaryNumber1 = $("#hdnDiaryNo").val();

        var qType = $('#QtypeId').val();
        //var subject = $('#Subject').val();
        var subject = $("#Subject").val().replace(/(<([^>]+)>)/ig, "");
        $("#Subject").val(subject)


        var pathurl = "@Url.Action("OTPRegistarionReply", "PaperLaidDepartment")";
        $("#newSalaryHeads").html("");
        $("#newSalaryHeads").html($("#loader-wrapper").text());
        $("#newSalaryHeads").modal({                    // wire up the actual modal functionality and show the dialog
            "backdrop": "static",
            "keyboard": true,
            "show": true                     // ensure the modal is shown immediately
        });
        $("#loader-wrapper").show();
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {

                DiaryNumber: value,
                QType: qType,
                Subject: subject
            },
            success: function (data) {
                $("#loader-wrapper").hide();
                $("#newSalaryHeads").html("");
                $("#newSalaryHeads").html(data);

            }
        });
    }

    function EditDetails() {

        var value = $('#QuestionIDFullRecord').val();
        var questionID = $('#QuestionID').val();;
        var questionTypeID = $('#QtypeId').val();

        //var cl2 = new CanvasLoader('canvasloader-container2');
        // cl2.show();
        $("#loader-wrapper").show();
        $.ajax({
            url: "/PaperLaidDepartment/PaperLaidDepartment/GetPaperEntryForDashBord",
            type: 'GET',
            data: {
                questionNumber: value,
                QuestionID: questionID,
                QuestionTypeID: questionTypeID
            },
            success: function (data) {
                //cl2.hide();
                if (data) {
                    $("#RightSidebar").html(data)
                    $("#loader-wrapper").hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    function CheckQuestionStatus() {
        var questionID = $('#QuestionID').val();

        $.ajax({
            url: "/PaperLaidDepartment/PaperLaidDepartment/CheckQStatus",
            type: 'POST',
            data: { Qid: questionID },
            success: function (data) {
                //alert (data.st);
                if (data.DiaryNumber == "NotChange") {
                    $("#ChangeDepartment").html("");
                    PopUp();
                    //alert("Question is being fixed by the H.P.V.S Secretariat,therefore Department may be changed after fixing of Question !");

                }
                else if (data.DiaryNumber == "Change") {
                    ChangeDepartment();

                }

            }
        });
    }





    function ChangeDepartment() {

        var value = $('#QuestionIDFullRecord').val();
        var questionID = $('#QuestionID').val();
        var questionTypeID = $('#QtypeId').val();
        var DiaryNumberId = $('#DiaryNumberId').val();

        var pathurl = "@Url.Action("GetChangePaper", "PaperLaidDepartment")";
        $("#ChangeDepartment").html("");
        $("#ChangeDepartment").html($("#loader-wrapper").text());
        $("#ChangeDepartment").modal({                    // wire up the actual modal functionality and show the dialog
            "backdrop": "static",
            "keyboard": true,
            "show": true                     // ensure the modal is shown immediately
        });
        $("#loader-wrapper").show();
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                questionNumber: value,
                QuestionID: questionID,
                QuestionTypeID: questionTypeID,
                DiaryNumberId: DiaryNumberId

            },
            success: function (data) {
                $("#loader-wrapper").hide();
                $("#ChangeDepartment").html("");
                $("#ChangeDepartment").html(data);

            }
        });
    }



    function DiaryNumbeForpopupNew(DiaryNumber) {


        var diaryNumber = DiaryNumber

        $.ajax({
            url: "/PaperLaidDepartment/PaperLaidDepartment/GetDiaryDetails",
            type: 'GET',
            data: {
                diaryNumber: diaryNumber,

            },

            success: function (data) {

                $('#DiaryNumberDetails').html("");
                $('#DiaryNumberDetails').html(data);

                $("#DiaryNumberDetails").dialog({
                    resizable: false,

                    width: 800,
                    title: "Question Details",


                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }


    function TransferHistoryDetails(DiaryNumber) {


        var diaryNumber = DiaryNumber

        $.ajax({
            url: "/PaperLaidDepartment/PaperLaidDepartment/GetTransferHistoryDetails",
            type: 'GET',
            data: {
                diaryNumber: diaryNumber,

            },

            success: function (data) {

                $('#TransferDepartmentDetails').html("");
                $('#TransferDepartmentDetails').html(data);

                $("#TransferDepartmentDetails").dialog({
                    resizable: false,

                    width: 800,
                    title: "Department Transfer Details",


                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    function PopUp() {
        var pathurl = "@Url.Action("Showppop", "PaperLaidDepartment")";
        $("#ChangeDepartment").html("");
        // $("#ChangeDepartment").html($("#loader-wrapper").text());
        $("#ChangeDepartment").modal({                    // wire up the actual modal functionality and show the dialog
            "backdrop": "static",
            "keyboard": true,
            "show": true                     // ensure the modal is shown immediately
        });
        $("#loader-wrapper").show();
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
            },
            success: function (data) {
                $("#loader-wrapper").hide();
                $("#ChangeDepartment").html("");
                $("#ChangeDepartment").html(data);

            }
        });
    }

</script>
