﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV
@using SBL.DomainModel.Models.Enums;
@using SBL.eLegistrator.HouseController.Web.Utility;



<script src="~/assets/js/bootbox.min.js"></script>
<link href="~/Content/bootstrapUp/jquery.fileupload.css" rel="stylesheet" />
<style>
        .footer .footer-inner .footer-content {
        padding-top: 2px;
    }
</style>

<script src="~/assets/js/jquery-ui.custom.min.js"></script>

@using (Ajax.BeginForm("PaperLaidSubmitt", "PaperLaidDepartment", new AjaxOptions { OnSuccess = "onSuccess()", HttpMethod = "POST" }, new { @id = "PaperLaidForm", enctype = "multipart/form-data", @data_ajax = "true" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.FileName)
     @Html.HiddenFor(m => m.DocFileName)
     @Html.HiddenFor(m => m.SupFileName)
      @Html.HiddenFor(m => m.SupDocFileName)
    @Html.HiddenFor(m => m.FilePath)
    @Html.HiddenFor(m => m.AssemblyId , new { @id = "AssemblyId" }) 
    @Html.HiddenFor(m => m.SessionId, new { @id = "SessionId" })
    @Html.HiddenFor(m => m.QuestionTypeId, new { @id ="QType" })
    @Html.HiddenFor(m => m.AssemblyCode)
    @Html.HiddenFor(m => m.Title)
    @Html.HiddenFor(m => m.Description)
    @Html.HiddenFor(m => m.PaperLaidId)
    @Html.HiddenFor(m => m.DesireLayingDate)
    @Html.HiddenFor(m => m.MergeDiaryNo)
  
  
      
    
 

    
    @Html.HiddenFor(m => m.IsClubbed)
    // @Html.HiddenFor(m => m.DiaryNumber)
      @Html.HiddenFor(m => m.DiaryNumber, new { @id = "DiaryNumberId" })
    @Html.HiddenFor(m => m.ModuleId)
    @Html.HiddenFor(m => m.MobileNo)
    // @Html.HiddenFor(m => m.QuestionTypeId)

   

 
@Html.HiddenFor(m => m.Title, new { @id = "Subject" })

   
    if (Model.SessionDateId != null)
    {
    @Html.HiddenFor(m => m.DesireLayingDateId) 
    }  
    @Html.HiddenFor(m => m.EventId)

    @Html.Hidden("PaperLaidIdFullRecord", @Model.PaperLaidId)

    <div id='OTPRegistaionReplyDraft' class="hide">
</div>
    
   
    
    <div class="widget-box">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title">
                @*@if (Model.QuestionTypeId == (int)QuestionType.StartedQuestion)
                        {
                            @Resources.PaperLaidDepartment.DDStaredQuestions
                        }
                        else if (Model.QuestionTypeId == (int)QuestionType.UnstaredQuestion)
                        {
                            @Resources.PaperLaidDepartment.DDUnStaredQuestions
                        } >> *@

                @Resources.PaperLaidDepartment.DDDraftReply
            </h4>
        </div>

        <div class="widget-body">
            <div class="widget-main no-padding-right no-padding-left">
                <div class="profile-user-info profile-user-info-striped">
                    <div class="profile-info-row">
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.Diaries.DiaryNumber</div>

                        <div class="profile-info-value">
                            <span id="username" class="">@Model.DiaryNumber</span>
                        </div>
                    </div>


                    @if (@Model.IsClubbed == true)
                    {
                        <div class="profile-info-row">
                            <div class="profile-info-name">Bracketed Diary Number</div>

                            <div class="profile-info-value">
                                <span id="spnQuestionDNumber" class="">@Model.MergeDiaryNo</span>
                            </div>
                        </div>
                    }

                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.Diaries.QuestionNumber</div>

                        <div class="profile-info-value">
                            <span id="spnQuestionNumber" class="">@Model.QuestionNumber</span>
                        </div>
                    </div>

                     <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.AskedBy </div>

                    <div class="profile-info-value">
                        <span>@Model.MemberName</span>
                    </div>
                </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.Minister</div>

                        <div class="profile-info-value">
                            <span>@Html.DropDownListFor(m => m.MinistryId, new SelectList(Model.mMinisteryMinister, "MinistryId", "MinisterMinistryName", 0), new { @id = "DdlMinistry", @tabindex = "1", @class = "select-style", @style = "width: 100%",@disabled = true})
                                @Html.HiddenFor(m => m.MinistryId)
                                @Html.ValidationMessageFor(m => m.MinistryId, "", new { @style = "color:red" })</span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.Department</div>

                        <div class="profile-info-value">
                            <span>@Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.mDepartment, "deptId", "deptname", 0), new { @id = "DdlDepartment", @tabindex = "1", @class = "select-style", @style = "width:100%", @disabled = true })
                                @Html.ValidationMessageFor(m => m.DepartmentId, "", new { @style = "color:red" })
                                @Html.HiddenFor(m => m.DepartmentId)
                                @Html.HiddenFor(m => m.QuestionID)</span>
                        </div>
                    </div>
                  <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.PDF</div>

                    <div class="profile-info-value">
                        @{
                            var path = "";
                            if (Model.QuestionTypeId == 1)
                            {
                                path = "/Question/BeforeFixation/" + Model.AssemblyId + "/" + Model.SessionId + "/" + Model.AssemblyId + "_" + Model.SessionId + "_S_" + Model.QuestionID + ".pdf";
                            }
                            else if (Model.QuestionTypeId == 2)
                            {
                                path = "/Question/BeforeFixation/" + Model.AssemblyId + "/" + Model.SessionId + "/" + Model.AssemblyId + "_" + Model.SessionId + "_U_" + Model.QuestionID + ".pdf";
                            }
                        }
                        <span><a class='PdfBackGround pdficon' target='_blank' style="float:left" href='@Url.Action("GetFileAttachment", "Diaries", new { filepathName = path, area = "Notices" })'></a></span>
                    </div>
                </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name">
                            @if (Model.SessionDateId != null)
                            {
                                @Resources.PaperLaidDepartment.DDQuestionsFixedDate
                            }
                            else
                            {
                                @Resources.PaperLaidDepartment.DesireLayingDate
                            }

                        </div>

                        <div class="profile-info-value">
                            <span>
                                @if (Model.SessionDateId != null)
                                {
                                    @Html.DropDownListFor(m => m.DesireLayingDateId, new SelectList(Model.mSessionDates, "Id", "DisplayDate", 0), new { @id = "DdlSessioDates", @tabindex = "1", @class = "select-style", @style = "width: 100%", @disabled = true })
                                }
                                else
                                {
                                    @Html.DropDownListFor(m => m.DesireLayingDateId, new SelectList(Model.mSessionDates, "Id", "DisplayDate", 0), new { @id = "DdlSessioDates", @tabindex = "1", @class = "select-style", @style = "width: 100%" })
                                }

                            </span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.MainReplyPDF <b style="color: red">*</b></div>
                        <div class="profile-info-value">
                            <div class="alert alert-block alert-success"> 
                          
<span class="btn btn-success fileinput-button">
<i class="glyphicon glyphicon-plus"></i>
<span>@Resources.PaperLaidDepartment.Choosefile</span>
<input style="font-size: 22px;"id="fileupload" accept=".pdf" type="file"name="fileupload">
</span>
<br/>
<br/>

<div style="width: 98%;"id="fileuploadcontant">
<div style="width: 98%;">
<span id="removeUpload"onclick="removefileupload()"class="glyphicon glyphicon-remove"style="color: red; position: relative; float:right;"></span>
<div id="file_name1"  class="file_name1"></div>
<div class="file_size1"></div>
</div>
<div style="width: 98%;">
<div class="show_hide">
<div class="progress1"style="height: 10px; width: 400px">
<div class="progress-bar"role="progressbar"aria-valuenow="0"aria-valuemin="0"aria-valuemax="5"style="width: 0%;">
<span class="sr-only">0% complete</span>
</div>

</div>
</div>
</div>
</div>
                                 @{ var filepath1 = @Model.FileStructurePath + @Model.FilePath;  }

                                @if (@Model.FileVersion == null ? false : true)
                                {
                                    <a href="/SecuredFiles/@Model.PaperLaidId,MP"  target="_blank">@Resources.PaperLaidDepartment.PaperVer @Model.FileVersion</a>
                                    @*
                                     <a href="@Url.Action("DisplayQuestionPDF", "PaperLaidDepartment", new { id = Model.PaperLaidId })" target = "_blank" >@Resources.PaperLaidDepartment.PaperVer @Model.FileVersion</a>*@
                                    
                                }
                                <span class="field-validation-error" id="FileValidation" style="color: red"></span>
                         <br />
                                <span style="color:red;">@Resources.PaperLaidDepartment.MainreplieswillberecievedbyconcernedMinister</span>
                                </div>

                        </div>
                    </div>

                     <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.MainReplyDoc<b style="color: red">*</b> </div>

                    <div class="profile-info-value">
                    
                            @if (Model.PaperLaidId == null || Model.PaperLaidId == 0)
                            {
                                //<input type="file" id="docfilePaerLaid" accept=".doc" value="@Model.DocFilePath" name="DocFile" />
                                
                                  <div class="alert alert-block alert-success"> 
                          
<span class="btn btn-success fileinput-button">
<i class="glyphicon glyphicon-plus"></i>
<span>Choose file</span>
<input style="font-size: 22px;"id="docfilePaerLaid" accept="application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" type="file"name="docfilePaerLaid">
</span>
<br/>
<br/>

<div style="width: 98%;"id="fileuploadcontantdoc">
<div style="width: 98%;">
<span id="removeUploaddoc"onclick="removefileuploaddoc()"class="glyphicon glyphicon-remove"style="color: red; position: relative; float:right;"></span>
<div id="file_namedoc"  class="file_namedoc"></div>
<div class="file_sizedoc"></div>
</div>
<div style="width: 98%;">
<div class="show_hide">
<div class="progressdoc"style="height: 10px; width: 400px">
<div class="progress-bar"role="progressbar"aria-valuenow="0"aria-valuemin="0"aria-valuemax="5"style="width: 0%;">
<span class="sr-only">0% complete</span>
</div>

</div>
</div>
</div>
</div>


 

                                      </div>
                            }
                            else
                            {
                                <div style="width: auto; display: block;">

                                        <div class="alert alert-block alert-success"> 
                          
<span class="btn btn-success fileinput-button">
<i class="glyphicon glyphicon-plus"></i>
<span>@Resources.PaperLaidDepartment.Choosefile</span>
<input style="font-size: 22px;"id="docfilePaerLaid" accept="application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" type="file"name="docfilePaerLaid">
</span>
<br/>
<br/>

<div style="width: 98%;"id="fileuploadcontantdoc">
<div style="width: 98%;">
<span id="removeUploaddoc"onclick="removefileuploaddoc()"class="glyphicon glyphicon-remove"style="color: red; position: relative; float:right;"></span>
<div id="file_namedoc"  class="file_namedoc"></div>
<div class="file_sizedoc"></div>
</div>
<div style="width: 98%;">
<div class="show_hide">
<div class="progressdoc"style="height: 10px; width: 300px">
<div class="progress-bar"role="progressbar"aria-valuenow="0"aria-valuemin="0"aria-valuemax="5"style="width: 0%;">
<span class="sr-only">0% complete</span>
</div>

</div>
</div>
</div>
    @*  *@
    

    @if (@Model.DocFileName== null ? false : true)
    {
        <a href="/SecuredFiles/@Model.PaperLaidId,MD"  target="_blank">@Resources.PaperLaidDepartment.ViewDownload</a>
       
        
                                    
    }

@*     <a href="@Model.FileStructurePath@Model.DocFilePath" target="_blank">View/Download</a>*@
</div>
                                      </div>
                                   @* <input type="file" id="docfilePaerLaid" accept=".doc" value="@Model.FilePath" name="DocFile" />
                                    <a href="@Model.DocFilePath" target="_blank">View/Download</a>*@
                                </div>
                             
                            }
                            <span class="field-validation-error" id="FileValidation" style="color: red"></span>
                     
                    </div>
                </div>
                    
                     <div class="profile-info-row">

                        <div class="profile-info-name">@Resources.PaperLaidDepartment.SupplementaryReplyPDF</div>
                        <div class="profile-info-value">
                        @*    <div class="alert alert-block alert-success"> *@
                           @* <span>*@
                              @*  <input type="file" id="SupfilePaerLaid" name="Supfile" accept="application/pdf" />*@
                                  <div class="alert alert-block alert-success"> 
                          
<span class="btn btn-success fileinput-button">
<i class="glyphicon glyphicon-plus"></i>
<span>Choose file</span>
<input style="font-size: 22px;"id="SupfilePaerLaid" accept=".pdf" type="file"name="SupfilePaerLaid">
</span>
<br/>
<br/>

<div style="width: 98%;"id="Supfileuploadcontant">
<div style="width: 98%;">
<span id="removeUploadSup"onclick="removefileuploadSup()"class="glyphicon glyphicon-remove"style="color: red; position: relative; float:right;"></span>
<div id="file_nameSup"  class="file_nameSup"></div>
<div class="file_sizeSup"></div>
</div>
<div style="width: 98%;">
<div class="show_hide">
<div class="progressSup" id="MainFile" style="height: 10px; width: 300px">
<div class="progress-bar"role="progressbar"aria-valuenow="0"aria-valuemin="0"aria-valuemax="5"style="width: 0%;">
<span class="sr-only">0% complete</span>
</div>

</div>
</div>
</div>
@*</div>*@
                                      </div>
                                         @{ var filSuppath1 = @Model.FileStructurePath + @Model.SupFilePath;  }

                                @if (@Model.SupFileName != null)
                                {
                                    <a href="/SecuredFiles/@Model.PaperLaidId,SP"  target="_blank">@Resources.PaperLaidDepartment.PaperVer @Model.SupFileVersion</a>

                                }
                                <span class="field-validation-error" id="FileValidation" style="color: red"></span>
                            @*</span>*@
                                      <br />    
                                <span style="color:red;">@Resources.PaperLaidDepartment.SupplwillbesenttoconcernedMinister</span>
                                </div>
                        </div>
                    </div>

                     <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.PaperLaidDepartment.SupplementaryReplyDoc</div>

                    <div class="profile-info-value">
                        @*<span id="username" class="">*@
                            
                                @*<input type="file" id="SupdocfilePaerLaid" accept=".doc" value="@Model.DocSupplementaryFilePath" name="SupDocFile" />*@
                                
                                         <div class="alert alert-block alert-success"> 
                          
<span class="btn btn-success fileinput-button">
<i class="glyphicon glyphicon-plus"></i>
<span>@Resources.PaperLaidDepartment.Choosefile</span>
<input style="font-size: 22px;"id="SupdocfilePaerLaid" accept="application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" type="file"name="SupdocfilePaerLaid">
</span>
<br/>
<br/>

<div style="width: 98%;"id="Supdocuploadcontant">
<div style="width: 98%;">
<span id="removeUploadSupdoc"onclick="removefileuploadSupdoc()"class="glyphicon glyphicon-remove"style="color: red; position: relative; float:right;"></span>
<div id="file_nameSupdoc"  class="file_nameSupdoc"></div>
<div class="file_sizeSupdoc"></div>
</div>
<div style="width: 98%;">
<div class="show_hide">
<div class="progressSupdoc"style="height: 10px; width: 300px">
<div class="progress-bar"role="progressbar"aria-valuenow="0"aria-valuemin="0"aria-valuemax="5"style="width: 0%;">
<span class="sr-only">0% complete</span>
</div>

</div>
</div>
</div>
</div>
                                             

                                             @if (@Model.SupDocFileName != null)
                                             {
                                                  <a href="/SecuredFiles/@Model.PaperLaidId,SD"  target="_blank">View/Download</a>
                                                  @*<a href="@Url.Action("DisplayQuestionSupDoc", "PaperLaidDepartment", new { id = Model.PaperLaidId })" target = "_blank" >View/Download</a>*@
                                               
                                              }

                                         </div>
                                
                                 

                            <span class="field-validation-error" id="FileValidation" style="color: red"></span>
                        @*</span>*@
                    </div>
                </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.ProvisionUnderWhich</div>

                        <div class="profile-info-value">
                            <span>
                                @Html.TextAreaFor(m => m.ProvisionUnderWhich, new { @style = "width:100%" })
                            </span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.Remark</div>

                        <div class="profile-info-value">
                            <span>
                                @Html.TextAreaFor(mbox => mbox.Remark, new { @style = "width:100%" })
                            </span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.Title</div>

                        <div class="profile-info-value">
                            <span>@Html.Raw(@Model.Title)</span>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name">@Resources.PaperLaidDepartment.Description</div>

                        <div class="profile-info-value">
                            <span>@Html.Raw(@Model.Description)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="space-10"></div>

    </div>
                            
           <div class="wizard-actions" style="padding-bottom: 15px;">            
                                                      @if (Model.PaperLaidId == null || Model.PaperLaidId == 0)
                                                      {    
                                                            
                                                        
                                                             
                                                        <button type="button" class="btn btn-primary" name="submitButton" id="Save" style="padding-bottom: 1px;" value="Save" onclick="return checkValidation();">
                                                            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                                            @Resources.PaperLaidDepartment.AcceptedAndSave
                                                            
                                                        </button>
                                                          
                                                         
                                                          if (Model.IsBracket == null || (Model.IsBracket != null && Model.IsBracket == false))
                                                          { 
                                                       <button type="button" class="btn btn-primary" style="padding-bottom: 1px;" id="OTPRegistration" onclick="OTPRegistarionReplySave();">
                                                              <i class="acen-icon fa fa-pencil-square-o"></i>
                                                            @Resources.PaperLaidDepartment.TemporaryUserForReply
                                                            
                                                        </button>
                                                          }


                                                          if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.MemberDesignation != SBL.DomainModel.Models.Enums.EnumHelper.GetDescription(SBL.DomainModel.Models.Enums.RoleTypeDept.HOD))
                                                          {
                                                            <button class="btn btn-primary" type="button" name="submitButton" id="send" value="Send" style="display:none" onclick="return checkValidation();">
                                                                <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                                                @Resources.PaperLaidDepartment.Save &amp;    @Resources.PaperLaidDepartment.Send
                                                            </button>
                                                          }

                                                            <!-- /section:plugins/fuelux.wizard.buttons -->
                                                       
                                                      }
                                                      else
                                                      {
                                                         if(Model.FileVersion == 1)
                                                         {
                                                    <button class="btn btn-primary" type="button" name="submitButton" id="Save" style="padding-bottom: 8px;" title="Send" value="Save" onclick="return checkValidation();">
                                                       <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                                         @Resources.PaperLaidDepartment.Update

                                                    </button>
                                                         }
                                                         else
                                                         {
                                                            <button class="btn btn-primary" type="submit" name="submitButton" value="Update Send" id="UpdateSend" onclick="return checkValidation();">
                                                                <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                                                @Resources.PaperLaidDepartment.Update &amp;    @Resources.PaperLaidDepartment.Send
                                                            </button>
                                                         }
                                                         @*if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.MemberDesignation != SBL.DomainModel.Models.Enums.EnumHelper.GetDescription(SBL.DomainModel.Models.Enums.RoleTypeDept.HOD))
                                                         {
                                                          <button type="button" class="btn btn-primary" style="padding-bottom: 8px;" id="OTPRegistration" onclick="OTPRegistarionReplySave();">
                                                          <i class="acen-icon fa fa-pencil-square-o"></i>
                                                              @Resources.PaperLaidDepartment.TemporaryUserForReply
                                                           
                                                        </button>
                                                          }
                                                          if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.MemberDesignation != SBL.DomainModel.Models.Enums.EnumHelper.GetDescription(SBL.DomainModel.Models.Enums.RoleTypeDept.HOD))
                                                          {
                                                                
                                                          }*@
                                                      }
                     </div>
           
                           
    <div id="dialog-confirm" class="hide">
        <p>@Resources.PaperLaidDepartment.Areyousure </p>
    </div>
}



 <div id="newDraftStarred" class="modal">
  </div>


<script>


    function OTPRegistarionReplySave() {

        var value = $('#DiaryNumberId').val();
        var qType = $('#QType').val();
       // var subject = $('#Subject').val();

        var subject = $("#Subject").val().replace(/(<([^>]+)>)/ig, "");
        $("#Subject").val(subject)
        
        var pathurl = "@Url.Action("OTPRegistarionReply", "PaperLaidDepartment")";
        $("#newDraftStarred").html("");
        $("#newDraftStarred").html($("#loader-wrapper").text());
        $("#newDraftStarred").modal({                    // wire up the actual modal functionality and show the dialog
            "backdrop": "static",
            "keyboard": true,
            "show": true                     // ensure the modal is shown immediately
        });
        $("#loader-wrapper").show();
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                DiaryNumber: value,
                QType: qType,
                Subject: subject
            },
            success: function (data) {
                $("#loader-wrapper").hide();
                $("#newDraftStarred").html("");
                //$("#newDraftStarred").modal('hide');
                $("#newDraftStarred").html(data);

            }
        });
    }



    $(document).ready(function () {

        $(':file').change(function () {
            for (var i = 0; i < this.files.length; ++i) {
                var name = this.files.item(i).name;
                var fileExtension = ['pdf', 'doc', 'docx', 'xls'];
                var Extension = name.split('.').pop().toLowerCase();
                if ($.inArray(Extension, fileExtension) == -1) {
                    alert(name + " is not valid format. Only 'doc','docx','pdf','xls' formats are allowed.");
                    $(':file').val("");
                    return false;
                }
            }
        })

        $("#DdlCategory").append("<option value=''>Select Business Type</option>");
        $("#loader-wrapper").hide();
        $("#removeUpload").hide();
        $("#removeUploaddoc").hide();
        $("#removeUploadSup").hide();
        $("#removeUploadSupdoc").hide();

        $("#fileupload").click(function (event) {
            $('#fileupload').fileupload({
                dataType: 'json',
                url: "/PaperLaidDepartment/PaperLaidDepartment/UploadMainPdfFiles",
                autoUpload: true,
                done: function (e, data) {
                    var sim = setTimeout("hidevalue2()", 1000);
                    $('.file_name1').html(data.result.name);
                    $('.file_size1').html(data.result.size);
                }
            }).on('fileuploadprogressall', function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('.progress1 .progress-bar').css('width', progress + '%');
                $('#removeUpload').css('display', 'block');
            });
        });
        $("#docfilePaerLaid").click(function (event) {
            $('#docfilePaerLaid').fileupload({
                dataType: 'json',
                url: "/PaperLaidDepartment/PaperLaidDepartment/UploadMainDocFiles",
                autoUpload: true,
                done: function (e, data) {
                    var sim = setTimeout("hidevaluedoc()", 1000);
                    $('.file_namedoc').html(data.result.name);
                    $('.file_sizedoc').html(data.result.size);
                }
            }).on('fileuploadprogressall', function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('.progressdoc .progress-bar').css('width', progress + '%');
                $('#removeUploaddoc').css('display', 'block');
            });
        });

    })


    $("#SupfilePaerLaid").click(function (event) {
        $('#SupfilePaerLaid').fileupload({
            dataType: 'json',
            url: "/PaperLaidDepartment/PaperLaidDepartment/UploadSupFiles1",
            autoUpload: true,
            done: function (e, data) {
                var sim = setTimeout("hidevalueSup()", 1000);
                $('.file_nameSup').html(data.result.name);
                $('.file_sizeSup').html(data.result.size);
            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progressSup .progress-bar').css('width', progress + '%');
            $('#removeUploadSup').css('display', 'block');
        });
    });

    $("#SupdocfilePaerLaid").click(function (event) {
        $('#SupdocfilePaerLaid').fileupload({
            dataType: 'json',
            url: "/PaperLaidDepartment/PaperLaidDepartment/UploadSupDocFiles",
            autoUpload: true,
            done: function (e, data) {
                var sim = setTimeout("hidevalueSupdoc()", 1000);
                $('.file_nameSupdoc').html(data.result.name);
                $('.file_sizeSupdoc').html(data.result.size);
            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progressSupdoc .progress-bar').css('width', progress + '%');
            $('#removeUploadSupdoc').css('display', 'block');
        });
    });

    function removefileupload() {
        $('.file_name1').html('');
        $('.file_size1').html('');
        $('.progress1 .progress-bar').css('width', '0%');
        $("#removeUpload").hide();
        $('#fileuploadcontant').css('border', '0px solid rgb(244, 239, 239)');
        $.post("/PaperLaidDepartment/PaperLaidDepartment/RemoveMainFiles",
         {
         },
         function (data) {
         });

    }
    function removefileuploaddoc() {
        $('.file_namedoc').html('');
        $('.file_sizedoc').html('');
        $('.progressdoc .progress-bar').css('width', '0%');
        $("#removeUploaddoc").hide();
        $('#fileuploadcontantdoc').css('border', '0px solid rgb(244, 239, 239)');
        $.post("/PaperLaidDepartment/PaperLaidDepartment/RemoveMainFilesDoc",
         {
         },
         function (data) {
         });

    }
    function removefileuploadSup() {
        $('.file_nameSup').html('');
        $('.file_sizeSup').html('');
        $('.progressSup .progress-bar').css('width', '0%');
        $("#removeUploadSup").hide();
        $('#Supfileuploadcontant').css('border', '0px solid rgb(244, 239, 239)');
        $.post("/PaperLaidDepartment/PaperLaidDepartment/RemoveSupFiles",
         {
         },
         function (data) {
         });

    }
    function removefileuploadSupdoc() {
        $('.file_nameSupdoc').html('');
        $('.file_sizeSupdoc').html('');
        $('.progressSupdoc .progress-bar').css('width', '0%');
        $("#removeUploadSupdoc").hide();
        $('#Supdocuploadcontant').css('border', '0px solid rgb(244, 239, 239)');
        $.post("/PaperLaidDepartment/PaperLaidDepartment/RemoveSupDocFiles",
         {
         },
         function (data) {
         });

    }



    function hidevalue2() {
        $('.progress1 .progress-bar').fadeOut(500);
        var sim = setTimeout("hideval2()", 3000);
    }
    function hideval2() {
        $('.progress1 .progress-bar').css('width', '0%');
        $('.progress1 .progress-bar').css('display', 'block');
    }
    function hidevaluedoc() {
        $('.progressdoc .progress-bar').fadeOut(500);
        var sim = setTimeout("hidevaldoc()", 3000);
    }
    function hidevaldoc() {
        $('.progressdoc .progress-bar').css('width', '0%');
        $('.progressdoc .progress-bar').css('display', 'block');
    }
    function hidevalueSup() {
        $('.progressSup .progress-bar').fadeOut(500);
        var sim = setTimeout("hidevaldoc()", 3000);
    }
    function hidevalSup() {
        $('.progressSup .progress-bar').css('width', '0%');
        $('.progressSup .progress-bar').css('display', 'block');
    }

    function hidevalueSupdoc() {
        $('.progressSupdoc .progress-bar').fadeOut(500);
        var sim = setTimeout("hidevaldoc()", 3000);
    }
    function hidevalSupdoc() {
        $('.progressSupdoc .progress-bar').css('width', '0%');
        $('.progressSupdoc .progress-bar').css('display', 'block');
    }




    function checkValidation() {
       
        var UFileName = $("#file_name1").text();
        var DocFileName = $("#file_namedoc").text();

      


        if (UFileName == "") {

            var message = "Select main PDF file";
            alert(message);
            return false;
        }
        if (DocFileName == "") {

            var message = "Select main Doc file";
            alert(message);
            return false;
        }
        bootbox.confirm('@Resources.PaperLaidDepartment.Areyousure', function (confresult) {

            if (confresult) {


                $("#PaperLaidForm").submit();
                $("#loader-wrapper").hide();
                bootbox.hideAll();
                bootbox.hide();
                return false;

            }
            else {
                return true;
            }

        });
    }



    var file = document.getElementById('fileupload');
    var DocFile = document.getElementById('docfilePaerLaid');

    var Supfile = document.getElementById('SupfilePaerLaid');
    var SupDocFile = document.getElementById('SupdocfilePaerLaid');


    SupDocFile.onchange = function (e) {

        var ext = this.value.match(/\.([^\.]+)$/)[1];

        switch (ext) {

            case 'doc':
            case 'docx':

                break;
            default:
                alert("Only Doc/Docx Files are Permitted");
                this.value = '';
        }
    };

    Supfile.onchange = function (e) {
        var ext = this.value.match(/\.([^\.]+)$/)[1];
        switch (ext) {
            case 'pdf':
                break;
            default:
                alert("@Resources.PaperLaidDepartment.PDFPErmitted");
                this.value = '';
        }
    };

    DocFile.onchange = function (e) {

        var ext = this.value.match(/\.([^\.]+)$/)[1];
        switch (ext) {
            case 'doc':
            case 'docx':

                break;
            default:
                alert("Only Doc/Docx Files are Permitted");
                this.value = '';
        }
    };
    file.onchange = function (e) {
        var ext = this.value.match(/\.([^\.]+)$/)[1];
        switch (ext) {
            case 'pdf':
                break;
            default:
                alert("@Resources.PaperLaidDepartment.PDFPErmitted");
                this.value = '';
        }
    };



    $("textarea#ProvisionUnderWhich").focus(function () {
        $("textarea#ProvisionUnderWhich").animate({ height: "150px" }, 100)
    })

    $("textarea#ProvisionUnderWhich").blur(function () {
        $("textarea#ProvisionUnderWhich").animate({ height: "100px" }, 100)
    })

    $("textarea#Remark").focus(function () {
        $("textarea#Remark").animate({ height: "150px" }, 100)
    })

    $("textarea#Remark").blur(function () {
        $("textarea#Remark").animate({ height: "100px" }, 100)
    })


    function onSuccess() {
        var qType = $("#QType").val();
        
        if (qType == 1) {

            GetStartedQuestions()
        }
        if (qType == 2) {

            GetUnstartedQuestions()
        }


        getCount()


    }

    function getCount() {
        //var AssemblyId = document.getElementById("DdlAssembly").value;
        //var SessionId = document.getElementById("DdlSession").value;
        var AssemblyId = $("#AssemblyId").val();
       
        var SessionId = $("#SessionId").val();
      
        var QtypeId = $("#QType").val();
      
        
        var pathurl = "@Url.Action("GetCount", "PaperLaidDepartment")";
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                AssemblyId: AssemblyId,
                SessionId: SessionId,
                QtypeId: QtypeId,
            },
            success: function (data) {
              //  alert(data.QuestionTypeId)
                $("#6Draft_Replies").html(data.TotalStaredPendingForSubmissionNew);
                $("#6Reply_Sent").html(data.TotalStaredReplySent);
                $("#7Draft_Replies").html(data.TotalUnStaredPendingForSubmissionNew);
                $("#7Reply_Sent").html(data.TotalUnStaredReplySent);
                $("#loader-wrapper").hide();

                
                ShowNotification("success", "Starred Question Send Successfully .....");
            }
        });
    }

    @*function getCount() {
        var pathurl = "@Url.Action("DepartmentDashboard", "PaperLaidDepartment")";
        $.ajax({
            url: pathurl,
            type: 'GET',

            success: function (data) {
                alert(data.TotalStaredPendingForSubmissionNew)
                alert(data[0]) 
                $("#6Draft_Replies").html(data[0]);
                $("#7Draft_Replies").html(data[1]);
                $("#8Draft_Replies").html(data[2]);
                $("#loader-wrapper").hide();
                ShowNotification("success", "Starred Question Send Successfully .....");
            }
        });
    }*@
</script>
