﻿
@model SBL.DomainModel.ComplexModel.OTPRegistrationAuditTrialModel

@{
    int count = 0;
}
<div id='fullDetailsModel' class="hide">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <!-- PAGE CONTENT BEGINS -->
        <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
        <input type="hidden" id="SelectedFixNo" name="SelectedFixNo" />
        <div class="pass-table">

            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                @*@if (Model.DiaryList != null)
                {
                    if (Model.DiaryList.Count() > 0)
                    {
                    *@

                <div class="table-header">
                    Mobile List
                </div>

                <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                    <thead>
                        <tr role="row">

                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">#</th>
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 20%">Diary Number</th>
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 30%">Mobile Number</th>
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 15%>Doc File</th>
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 30%">Type</th>


                        </tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        @foreach (var item in Model.OTPRegistrationModel)
                        {
                            count = count + 1;
                            string style = (count % 2 == 0) ? "odd" : "even";

                            var trID = item.Id;

                          
                                
                            <tr class="@style" id="@trID">

                                <td class="">@count</td>

                                @{
                            string str = @item.DiaryNumber;
                                }

                                <td class="">

                                    <i class="">@item.DiaryNumber</i>


                                </td>
                                <td class="">

                                    <i class="">@item.MobileNumber</i>


                                </td>
                                <td class="">
                                   @* <a href="/SecuredTempFiles/@Model.MobileNumber" target="_blank">Doc File</a>*@
                                    <a href="@item.MainReplyDocPath" target="_blank" >Doc File</a>   
                                 @*   <i class="">@item.MainReplyDocPath</i>*@



                                </td>
                                <td class="">

                                    @if(@item.DocTypeId==1)
                                    {
                                    <i class="">Starred Question</i>
                                    }
                                     @if(@item.DocTypeId==2)
                                    {
                                    <i class="">UnStarred Question</i>
                                    }

                                </td>



                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>





<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
@*<script src="~/Scripts/jquery-1.7.min.js"></script> *@
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>



<script>

    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
               { "bSortable": false },
              null, null, null,

              { "bSortable": false }

            ]
        });
    });




</script>




