﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV

<script src="~/assets/js/CommonNotify.js"></script>

<span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="Bottm Info" style="text-align: left; margin-left: 0px; margin-bottom: 2px;">
    @Resources.PaperLaidDepartment.PendingforReply
</span>
@{    
    var grid = new Lib.Web.Mvc.JQuery.JqGrid.JqGridHelper<SBL.DomainModel.ComplexModel.QuestionModelCustom>("CommonGrid",
                            dataType: Lib.Web.Mvc.JQuery.JqGrid.JqGridDataTypes.Json,
                            footerEnabled: false,
                            methodType: Lib.Web.Mvc.JQuery.JqGrid.JqGridMethodTypes.Post,
                            pager: true,
                            rowsList: new List<int> { 10, 20, 30, 40, 50 },
                            rowsNumber: 20,
                            onSelectRow: "onSelectRowHandler",
                            sortingName: "QuestionID",
                            sortingOrder: Lib.Web.Mvc.JQuery.JqGrid.JqGridSortingOrders.Desc,
                            url: Url.Action("PendingStaredQuestionGrid"),
                            postData: new { Diarynumber = Model.DiaryNumber, title = Model.Title, number = Model.QuestionNumber, MemberId = Model.MemberId },
                            userDataOnFooter: false,
                            viewRecords: true,
                            autoWidth: true,
                            emptyRecords: @Resources.PaperLaidDepartment.NoRecordFound
        //postDataScript: "function() { return { AssemblyId: $('#AssemblyCodeHome').val(), SessionId: $('#SessionCodeHome').val()}; }"
                        );
}
@grid.GetHtml()
<script>

    jQuery(document).ready(function () {
        @grid.GetJavaScript()
        ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDStaredQuestions");
        ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.PendingforReply");
        jQuery("#CommonGrid").jqGrid('setLabel', 'DiaryNumber', '@Resources.Diaries.DiaryNumber')
        jQuery("#CommonGrid").jqGrid('setLabel', 'QuestionNumber', '@Resources.PaperLaidDepartment.Number')
        jQuery("#CommonGrid").jqGrid('setLabel', 'Subject', '@Resources.PaperLaidDepartment.Subject')
        jQuery("#CommonGrid").jqGrid('setLabel', 'MemberName', '@Resources.PaperLaidDepartment.AskedBy')
        jQuery("#CommonGrid").jqGrid('setLabel', 'PaperSent', '@Resources.PaperLaidDepartment.Paper')
        jQuery("#CommonGrid").jqGrid('setLabel', 'SubmittedDateString', '@Resources.PaperLaidDepartment.SentByVS')
        jQuery("#CommonGrid").jqGrid('setLabel', 'DeptSubmittedDate', '@Resources.PaperLaidDepartment.Senton')
        jQuery("#CommonGrid").jqGrid('setLabel', 'DesiredLayingDate', '@Resources.PaperLaidDepartment.FixedDate')
    });

    function onSelectRowHandler(rowId, status, event, IsAcknowledgmentDate) {

        $("#loader-wrapper").show();

        var paperLaidID = 0;
        var id = $('#SessionCodeHome').val();
        var rowData = $(this).jqGrid("getRowData", rowId);

        //Get Paper Laid ID and Status for the Record.
        paperLaidID = rowData.PaperLaidId != "" ? rowData.PaperLaidId : 0;
        var status = parseInt(rowData.Status);
        var IsAcknowledgmentDate = parseInt(rowData.IsAcknowledgmentDateString);

        if (isNaN(IsAcknowledgmentDate)) {
            var IsAcknowledgmentDate = null;
        }

        if (paperLaidID == 0 && IsAcknowledgmentDate == null) {
            $.ajax({
                url: "/PaperLaidDepartment/PaperLaidDepartment/GetQuestionDetailsByQuestionID",
                type: 'GET',
                data: {
                    questionID: rowId,
                },
                success: function (data) {
                    if (data) {

                        $("#RightSidebar").html(data)

                        $("#AckDetails").hide();
                        $("#text").hide();

                        $("#loader-wrapper").hide();
                        getNextHideDiv();
                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //alert(xhr.responseText);
                    //alert(thrownError);
                }
            });
        }
        else if (IsAcknowledgmentDate != null) {
            $.ajax({
                url: "/PaperLaidDepartment/PaperLaidDepartment/GetQuestionDetailsByQuestionID",
                type: 'GET',
                data: {
                    questionID: rowId,
                },
                success: function (data) {
                    if (data) {

                        $("#RightSidebar").html(data)
                        $("#text").show();
                        $("#AckDetails").hide();

                        $("#loader-wrapper").hide();
                        getNextHideDiv();
                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //alert(xhr.responseText);
                    //alert(thrownError);
                }
            });
        }
        else {
            $.ajax({
                url: "/PaperLaidDepartment/PaperLaidDepartment/EditPendingRecord",
                type: 'GET',
                data: {
                    paperLaidId: paperLaidID,
                    SessionId: id
                },
                success: function (data) {
                    if (data) {
                        $("#RightSidebar").html(data);
                        $("#loader-wrapper").hide();
                        //cl2.hide();
                        getNextHideDiv();
                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //alert(xhr.responseText);
                    //alert(thrownError);
                }
            });
        }
    }
</script>
