﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV
@using SBL.eLegistrator.HouseController.Web.Utility

<input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
@Html.HiddenFor(m => m.DSCApplicable)
 @Html.HiddenFor(m => m.AssemblyId , new { @id = "AssemblyId" }) 
    @Html.HiddenFor(m => m.SessionId, new { @id = "SessionId" })
<span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="Bottm Info" style="text-align: left; margin-left: 0px; margin-bottom: 2px;">
    @Resources.PaperLaidDepartment.DraftReplies
</span>
@{    
    var grid = new Lib.Web.Mvc.JQuery.JqGrid.JqGridHelper<SBL.DomainModel.ComplexModel.PaperDraftModelCustom>("CommonGrid",
                            dataType: Lib.Web.Mvc.JQuery.JqGrid.JqGridDataTypes.Json,
                            footerEnabled: false,
                            methodType: Lib.Web.Mvc.JQuery.JqGrid.JqGridMethodTypes.Post,
                            pager: true,
                            rowsList: new List<int> { 10, 20, 30, 40, 50 },
                            rowsNumber: 20,
                            onSelectRow: "onSelectRowHandler",
                            sortingName: "QuestionID",
                            sortingOrder: Lib.Web.Mvc.JQuery.JqGrid.JqGridSortingOrders.Desc,
                            url: Url.Action("PendingForsendingUnStaredJqGrid"),
                            postData: new { Diarynumber = Model.DiaryNumber, title = Model.Title, number = Model.QuestionNumber, MemberId = Model.MemberId },
                            userDataOnFooter: false,
                            viewRecords: true,
                            autoWidth: true,
                            emptyRecords: @Resources.PaperLaidDepartment.NoRecordFound
                            //postDataScript: "function() { return { AssemblyId: $('#AssemblyCodeHome').val(), SessionId: $('#SessionCodeHome').val()}; }"
                        );
}
@grid.GetHtml()


@if (CurrentSession.SignaturePath == "")
{
    <br />
    <div style="width: 100%">
        <input type="checkbox" id="SignedChk" class="Checkbox" value="checked" checked onclick="checkSignChange(this.id)" style="vertical-align: top" />
        <strong>@Resources.PaperLaidDepartment.EmbedtheHandwrittensignature<label style="color: green" for="aaa">(@Resources.PaperLaidDepartment.Yourpaperwillsend)</label></strong>
    </div>
    <br />
}
else
{
    <br />
    <div style="width: 100%">
        <input type="checkbox" id="SignedChk" class="Checkbox" value="checked" checked onclick="checkSignChange(this.id)" style="vertical-align: top" />
        <strong>@Resources.PaperLaidDepartment.EmbedtheHandwrittensignature</strong>
    </div>
    <br />
}


<div id='SignModel' class="hide">
    @* <div id='ShowSignModel' style="text-align: center">
            </div>*@
</div>
   <table style="width: 100%;" class="minwb-style1">
        <tr>
            <td>

                @if (Model.DSCApplicable == "True")
                {

                    if (CurrentSession.UserHashKey != "")
                    {
                        if (Model.IsPermissions == true)
                        {
                            if (CurrentSession.IsSecretoryId == "True")
                            {
                    <a href="#" id="id-btn-dialog2" style="display: none" class="btn btn-primary">
                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                        @Resources.PaperLaidDepartment.SignAndSend

                    </a>
                    <div style="display: none" style="padding-top: 1%;">
                        <span class="label label-large label-pink arrowed-right">@Resources.PaperLaidDepartment.SendingrepliestoVidhanSabha</span>
                    </div>
                            }
                            else
                            {
                    <a href="#" id="id-btn-dialog2" class="btn btn-primary">
                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                        @Resources.PaperLaidDepartment.SignAndSend

                    </a>
                    <div style="padding-top: 1%;">
                        <span class="label label-large label-pink arrowed-right">@Resources.PaperLaidDepartment.SendingrepliestoVidhanSabha</span>
                    </div>      
                            }
                        }
                    }
                    else
                    {
                    <i class="ace-icon fa fa-hand-o-right green"></i>
                    <h5 class="widget-title lighter">@Resources.PaperLaidDepartment.RegisterYourDSC</h5>
                    }
                }
                else
                {
                    if (CurrentSession.SignaturePath == "")
                    {

                        if (CurrentSession.IsSecretoryId == "True")
                        {
                            
                    <div style="padding-top: 10px">

    <table style="width: 100%;" class="minwb-style1">
        <tbody><tr>
            <td>
  
  <table>
    <tbody><tr>
      <td>
        <table>
          <tbody><tr>
  <td class="alert alert-danger" style="padding:0px;border: 1px solid white;">
           @Resources.PaperLaidDepartment.OnlyReplywillbesenttoVidhanSabha
            </td>   
          </tr>
          <tr>
            <td class="alert alert-danger" style="padding:0px;border: 1px solid white;">
            @Resources.PaperLaidDepartment.WhereasReply &amp; @Resources.PaperLaidDepartment.SupplwillbesenttoconcernedMinister
            </td>
          </tr>
        </tbody></table>
        
       
      </td>
      <td class="btn btn-pink label-pink" id="id-btn-dialog4" style="padding-top: 8px;">
 @Resources.PaperLaidDepartment.Send
      <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>  
      </td>
      
    </tr>
    
  </tbody></table>

                    
                    <div style="padding-top: 1%;">

                        
                    </div>       

            </td>
        </tr>
    </tbody></table>

</div>
                    
                        }
                        else
                        {
                               <div style="padding-top: 10px">

    <table style="width: 100%;" class="minwb-style1">
        <tbody><tr>
            <td>
  
  <table>
    <tbody><tr>
      <td>
        <table>
          <tbody><tr>
  <td class="alert alert-danger" style="padding:0px;border: 1px solid white;">
            @Resources.PaperLaidDepartment.OnlyReplywillbesenttoVidhanSabha
            </td>   
          </tr>
          <tr>
            <td class="alert alert-danger" style="padding:0px;border: 1px solid white;">
            @Resources.PaperLaidDepartment.WhereasReply &amp; @Resources.PaperLaidDepartment.SupplwillbesenttoconcernedMinister
            </td>
          </tr>
        </tbody></table>
        
       
      </td>
      <td class="btn btn-pink label-pink" id="id-btn-dialog4" style="padding-top: 8px;">
   @Resources.PaperLaidDepartment.Send
      <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>  
      </td>
      
    </tr>
    
  </tbody></table>

                    
                    <div style="padding-top: 1%;">

                        
                    </div>       

            </td>
        </tr>
    </tbody></table>

</div>@*
                    <a href="#" id="id-btn-dialog4" class="btn btn-primary">
                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                        Send
                    </a>*@
                          
                        }
                    }
                    else
                    {
                        if (CurrentSession.IsSecretoryId == "True")
                        {
                    <a href="#" id="id-btn-dialog3" style="display: none" class="btn btn-primary">
                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                         @Resources.PaperLaidDepartment.Send
                    </a>
                    <div style="padding-top: 1%; display: none">

                        <span class="label label-large label-pink arrowed-in-right arrowed">
                            @Resources.PaperLaidDepartment.SendingrepliestoVidhanSabha</span>
                    </div>
                        }
                        else
                        {
                    <a href="#" id="id-btn-dialog3" class="btn btn-primary">
                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                         @Resources.PaperLaidDepartment.Send
                    </a>
                    <div style="padding-top: 1%;">

                        <span class="label label-large label-pink arrowed-in-right arrowed">
                            @Resources.PaperLaidDepartment.SendingrepliestoVidhanSabha</span>
                    </div> 
                        }
                    }
                }

            </td>
        </tr>
    </table>


<div id="dialog-confirm" class="hide">
    <p>@Resources.PaperLaidDepartment.Areyousure </p>
</div>
<div id="dialog-alert" class="hide">
    <p>@Resources.PaperLaidDepartment.SelectPapersFirst </p>
</div>
<script src="~/assets/js/jquery-ui.custom.min.js"></script>

<script type="text/javascript">

    jQuery(document).ready(function () {
        @grid.GetJavaScript()
        ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDUnStaredQuestions");
        ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DraftReplies");
        jQuery("#CommonGrid").jqGrid('setLabel', 'PaperLaidIdForCheckBox', '@Resources.PaperLaidDepartment.Ticktosend')
        jQuery("#CommonGrid").jqGrid('setLabel', 'DiaryNumber', '@Resources.Diaries.DiaryNumber')
        jQuery("#CommonGrid").jqGrid('setLabel', 'QuestionNumber', '@Resources.PaperLaidDepartment.Number')
        jQuery("#CommonGrid").jqGrid('setLabel', 'Subject', '@Resources.PaperLaidDepartment.Subject')
        jQuery("#CommonGrid").jqGrid('setLabel', 'MemberName', '@Resources.PaperLaidDepartment.AskedBy')
        jQuery("#CommonGrid").jqGrid('setLabel', 'PaperSent', '@Resources.PaperLaidDepartment.Paper')
        jQuery("#CommonGrid").jqGrid('setLabel', 'SubmittedDateString', '@Resources.PaperLaidDepartment.SentByVS')
        jQuery("#CommonGrid").jqGrid('setLabel', 'DeptSubmittedDate', '@Resources.PaperLaidDepartment.Senton')
        jQuery("#CommonGrid").jqGrid('setLabel', 'DesiredLayingDate', '@Resources.PaperLaidDepartment.FixedDate')
    });

    jQuery(function ($) {

        $("#id-btn-dialog2").on('click', function (e) {
            e.preventDefault();


            var SIds = document.getElementById("SelectedChkbxId").value;

            if (SIds != null && SIds != "") {
                $("#dialog-confirm").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Confirm!",
                    title_html: true,
                    buttons: [
                        {
                            html: "&nbsp; Yes",
                            "class": "btn btn-primary",
                            click: function () {
                                $(this).dialog("close");
                                SubmitSelectedPaper();
                            }
                        }
                        ,
                        {
                            html: "&nbsp; Cancel",
                            "class": "btn btn-primary",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });
            }
            else {
                $("#dialog-alert").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Alert!",
                    title_html: true,
                    buttons: [
                        {
                            html: "&nbsp; Okay",
                            "class": "btn btn-primary",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });
            }


        });

    });

    jQuery(function ($) {

        $("#id-btn-dialog3").on('click', function (e) {
            e.preventDefault();
            var SIds = document.getElementById("SelectedChkbxId").value;
           
            if (SIds != null && SIds != "") {
                if ($('#SignedChk').prop('checked')) {

                    var pathurl = '@Url.Action("StarredQuesHandWrittenSignDocument", "PaperLaidDepartment")';
                    $.ajax({
                        type: 'GET',
                        url: pathurl,
                        data: {
                            SIds: SIds
                            //publicPassID: PassID
                        },
                        success: function (data) {
                            $('#SignModel').html("");
                            $('#SignModel').html(data);

                            $("#SignModel").removeClass('hide').dialog({
                                resizable: false,
                                modal: true,
                                width: 600,
                                title: "Hand-Written Signature!",
                                title_html: true,

                                buttons: [
                                    {
                                        html: "&nbsp; Send",
                                        "class": "btn btn-primary",
                                        click: function () {
                                            $(this).dialog("close");
                                            SubmitHandWrittenSignatureSelectedPaperWithoutSign();
                                        }
                                    }
                                ]
                            });
                        }
                    });
                }
                else {

                    var SIds = document.getElementById("SelectedChkbxId").value;

                    if (SIds != null && SIds != "") {
                        $("#dialog-confirm").removeClass('hide').dialog({
                            resizable: false,
                            modal: true,
                            title: "Confirm!",
                            title_html: true,
                            buttons: [
                                {
                                    html: "&nbsp; Yes",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                        SubmitSignedSelectedPaper();
                                    }
                                }
                                ,
                                {
                                    html: "&nbsp; Cancel",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }
                            ]
                        });
                    }
                    else {
                        $("#dialog-alert").removeClass('hide').dialog({
                            resizable: false,
                            modal: true,
                            title: "Alert!",
                            title_html: true,
                            buttons: [
                                {
                                    html: "&nbsp; Okay",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }
                            ]
                        });
                    }
                }
            }

        });

    });



    jQuery(function ($) {

        $("#id-btn-dialog4").on('click', function (e) {
            e.preventDefault();
            var SIds = document.getElementById("SelectedChkbxId").value;

            if (SIds != null && SIds != "") {
                if ($('#SignedChk').prop('checked')) {

                    var pathurl = '@Url.Action("SubmitHandWrittenSignatureSelectedPaperWithoutSign", "PaperLaidDepartment")';

                    if (SIds != null && SIds != "") {
                        $("#dialog-confirm").removeClass('hide').dialog({
                            resizable: false,
                            modal: true,
                            title: "Confirm!",
                            title_html: true,
                            buttons: [
                                {
                                    html: "&nbsp; Yes",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                        SubmitHandWrittenSignatureSelectedPaperWithoutSignImage();
                                        $("#loader-wrapper").show();
                                    }
                                }
                                ,
                                {
                                    html: "&nbsp; Cancel",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }
                            ]
                        });
                    }
                    else {
                        $("#dialog-alert").removeClass('hide').dialog({
                            resizable: false,
                            modal: true,
                            title: "Alert!",
                            title_html: true,
                            buttons: [
                                {
                                    html: "&nbsp; Okay",
                                    "class": "btn btn-primary",
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }
                            ]
                        });
                    }
                }
            }


        });

    });



    function SubmitHandWrittenSignatureSelectedPaperWithoutSignImage() {
        var qType = 2;
        $("#loader-wrapper").show();
        var SIds = document.getElementById("SelectedChkbxId").value;
        var pathurl = "@Url.Action("SubmitHandWrittenSignatureSelectedPaperWithoutSignImage", "PaperLaidDepartment")";
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                Ids: SIds,
                lSMCode: "USQ",
                qType: qType,

            },
            success: function (data) {
                $("#loader-wrapper").hide();

                GetSubmittedUnstartedQuestions()


                getCount();

                //$("#loader-wrapper").hide();
                //ShowNotification("success", "Bills Send Successfully .....");
            }
        });
    }


    function getCount() {

        var AssemblyId = $("#AssemblyId").val();

        var SessionId = $("#SessionId").val();

        var QtypeId = 2;

        var pathurl = "@Url.Action("GetCount", "PaperLaidDepartment")";
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                AssemblyId: AssemblyId,
                SessionId: SessionId,
                QtypeId: QtypeId,
            },
            success: function (data) {

                //$("#6Draft_Replies").html(data.TotalStaredPendingForSubmissionNew);
                //$("#6Reply_Sent").html(data.TotalStaredReplySent);
              
                $("#7Draft_Replies").html(data.TotalUnStaredPendingForSubmissionNew);
                $("#7Reply_Sent").html(data.TotalUnStaredReplySent);
                $("#7Pending_For_Reply").html(data.TotalUnstaredQuestions);
                $("#loader-wrapper").hide();
                ShowNotification("success", "Starred Question Send Successfully .....");
            }
        });
    }

@*    function SubmitHandWrittenSignatureSelectedPaperWithoutSignImage() {


        var SIds = document.getElementById("SelectedChkbxId").value;


        if (SIds != null && SIds != "") {


            $.get("/PaperLaidDepartment/PaperLaidDepartment/SubmitHandWrittenSignatureSelectedPaperWithoutSignImage", { Ids: SIds, lSMCode: "USQ" }, function (data) {
                window.location.href = '@Url.Action("DepartmentDashboard", "PaperLaidDepartment", new { Area = "PaperLaidDepartment" })';

            });
            }
        }*@



        function SubmitHandWrittenSignatureSelectedPaperWithoutSign() {

            var SIds = document.getElementById("SelectedChkbxId").value;
            var radiobutton = document.getElementsByName("HindiRadioSignatureID");

            for (var x = 0; x < radiobutton.length; x++) {
                if (radiobutton[x].checked) {

                    var SignatureType = radiobutton[x].value;

                }
            }

            var PagesToApplySignatureID = document.getElementById("PagesToApplySignatureID").value;
            var PositionToApplySignatureID = document.getElementById("PositionToApplySignatureID").value;


            if (SIds != null && SIds != "") {

                $.get("/PaperLaidDepartment/PaperLaidDepartment/SubmitHandWrittenSignatureSelectedPaperWithoutSign", { Ids: SIds, lSMCode: "BLL", SignatureType: SignatureType, PagesToApplySignatureID: PagesToApplySignatureID, PositionToApplySignatureID: PositionToApplySignatureID }, function (data) {
                    window.location.href = '@Url.Action("DepartmentDashboard", "PaperLaidDepartment", new { Area = "PaperLaidDepartment" })';

            });
            }
        }

        function onSelectRowHandler(rowId, status, event) {
            $("#loader-wrapper").show();

            var paperLaidID = 0;
            var id = $('#SessionCodeHome').val();
            var rowData = $(this).jqGrid("getRowData", rowId);

            //Get Paper Laid ID and Status for the Record.
            paperLaidID = rowData.PaperLaidId != "" ? rowData.PaperLaidId : 0;

            $.ajax({
                url: "/PaperLaidDepartment/PaperLaidDepartment/EditPendingRecord",
                type: 'GET',
                data: {
                    paperLaidId: paperLaidID,
                    SessionId: id
                },
                success: function (data) {
                    if (data) {
                        $("#RightSidebar").html(data);
                        $("#loader-wrapper").hide();
                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });
        }


        function SubmitSelectedPaper() {
            var SIds = document.getElementById("SelectedChkbxId").value;

            if (SIds != null && SIds != "") {
                $.get("/PaperLaidDepartment/PaperLaidDepartment/SubmitSelectedPaper", { Ids: SIds, lSMCode: "USQ" }, function (data) {
                    $("#RightSidebar").html(data)

                    cl.hide();
                });

            }

        }
</script>
