﻿@model SBL.DomainModel.Models.Ministery.mMinisteryMinisterModel

<link href="~/Content/SBL/typography.css" rel="stylesheet" />

@Html.HiddenFor(m=>m.ForSave,new {@id="hdnFileSave"})
@Html.HiddenFor(m=>m.FilePath,new {@id="hdnFilePath"})

<div style="width:100%;float:left;overflow-x:auto;">
    <object id="dsc" type="application/x-java-applet" height="300" width="600">
  <param name="code" value="com.sblcorp.DSC.DSCSign" />
  <param name="archive" value="/SignDoc.jar" />
  <param name="java_arguments" value="-Djnlp.packEnabled=true"/>

   <param name="pdfURLs" value='@Model.FilePath'>


    <param name="saveURL" value='@Model.ForSave'>

     <param name="CertHash" value='@Model.HashKey'>

    <param name="java_arguments" value="-Djnlp.packEnabled=true"/> 

    <param name="Action" value='@Model.Message'>
    @Resources.PaperLaidDepartment.Appletfailed
</object>

</div>

@*<table style="width:100%">
    <tr style="height:35px">

    </tr>
    <tr>
        <td style="width:15%">
        </td>
        <td style="width:inherit;vertical-align:top">
             <div style="margin: 10px 0 0 10px;">
                      <b>SelectSign</b>
                                  </div>
           
        </td>
        <td style="width:65%">







           
        </td>
    </tr>

    @*var hash=document.getElementByID("dsc").getCertHash();

</table>
<br />*@
