﻿@model SBL.DomainModel.Models.UserModule.mUserSubModules
@using SBL.eLegistrator.HouseController.Web.Areas.PaperLaidDepartment.Extensions

@foreach (var item in Model.AccessList)
{
    //ViewBag.count = item.SubModuleName.GetTotalCountBySubMenuForDept(Model.ModuleId);
    if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.LanguageID == "7C4F28F6-02FC-4627-993D-E255037531AD")
    {
        ViewBag.count = item.SubModuleName.GetTotalCountBySubMenuForDept(Model.ModuleId);
    <li class="">
        <a href="javascript:void(0);" onclick="GetActionView('@item.SubModuleName','@ViewBag.count','@Model.ModuleId','@Model.ActionIds','@item.SubModuleId')">
                
           @if (item.SubModuleName != "List As Pdf" || item.SubModuleName !="पीडीएफ के रूप में सूची")
           {
                
                @item.SubModuleName
           }
            


            
           
            @if (item.SubModuleName != "Individual Passes" && item.SubModuleName != "Vehicle Passes" && item.SubModuleName != "Unauthorized Employee" && item.SubModuleName != "Authorized Employee" && item.SubModuleName != "List As Pdf" && item.SubModuleName != "eFile" && item.SubModuleName != "Received Papers " && item.SubModuleName != "Sent Papers" && item.SubModuleName != "Draft Papers" && item.SubModuleName != "Files" && item.SubModuleName != "Item Pendency" && item.SubModuleName != "Approved Pass List")
            {            
                <span id="@(Model.ModuleId + item.SubModuleName.Replace(' ', '_'))"  class="badge badge-primary">@ViewBag.count</span>
            }
        </a>
       
    </li>
    }
    else
    {
        ViewBag.count = item.SubModuleNameLocal.GetTotalCountBySubMenuForDept(Model.ModuleId);
          <li class="">
        <a href="javascript:void(0);" onclick="GetActionView('@item.SubModuleNameLocal','@ViewBag.count','@Model.ModuleId','@Model.ActionIds','@item.SubModuleId')">
                
           @if (item.SubModuleNameLocal != "List As Pdf" || item.SubModuleName != "पीडीएफ के रूप में सूची")
           {
                
                @item.SubModuleNameLocal
           }
            

           
            @if (item.SubModuleNameLocal != "व्यक्तिगत पास" && item.SubModuleNameLocal != "Approved Pass List" && item.SubModuleNameLocal != "वाहन पास" && item.SubModuleNameLocal != "Unauthorized Employee" && item.SubModuleNameLocal != "Authorized Employee" && item.SubModuleNameLocal != "List As Pdf" && item.SubModuleName != "eFile" && item.SubModuleName != "Papers Sent" && item.SubModuleName != "Papers Received" && item.SubModuleName != "Pendency Report" && item.SubModuleName != "Received Papers" && item.SubModuleName != "Approved Pass List")
            {            
                <span id="@(Model.ModuleId + item.SubModuleNameLocal.Replace(' ', '_'))"  class="badge badge-primary ">@ViewBag.count</span>
            }
        </a>
       
    </li>   
    }
}

