﻿@model SBL.DomainModel.Models.PaperLaid.tPaperLaidV

<span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="Bottm Info" style="text-align:left;margin-left:0px;margin-bottom:2px;">
 @Resources.PaperLaidDepartment.ReplySent
</span>
@{    
    var grid = new Lib.Web.Mvc.JQuery.JqGrid.JqGridHelper<SBL.DomainModel.ComplexModel.PaperSendModelCustom>("CommonGrid",                           
                            dataType: Lib.Web.Mvc.JQuery.JqGrid.JqGridDataTypes.Json,
                            footerEnabled: false,
                            methodType: Lib.Web.Mvc.JQuery.JqGrid.JqGridMethodTypes.Post,
                            pager: true,
                            rowsList: new List<int> { 10, 20, 30, 40, 50 },
                            rowsNumber: 20,
                            onSelectRow: "onSelectRowHandler",
                            sortingName: "QuestionID",
                            sortingOrder: Lib.Web.Mvc.JQuery.JqGrid.JqGridSortingOrders.Desc,
                            url: Url.Action("SubmittedStaredQuestionGrid"),
                            postData: new { Diarynumber = Model.DiaryNumber, title = Model.Title, number = Model.QuestionNumber, MemberId = Model.MemberId },
                            userDataOnFooter: false,
                            viewRecords: true,
                            autoWidth: true,
                            emptyRecords: @Resources.PaperLaidDepartment.NoRecordFound
                            //postDataScript: "function() { return { AssemblyId: $('#AssemblyCodeHome').val(), SessionId: $('#SessionCodeHome').val()}; }"
                        );
                        }
                    @grid.GetHtml()


<script>

    jQuery(document).ready(function () {
        @grid.GetJavaScript()
        ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDStaredQuestions");
        ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.ReplySent");
        jQuery("#CommonGrid").jqGrid('setLabel', 'DiaryNumber', '@Resources.Diaries.DiaryNumber')
        jQuery("#CommonGrid").jqGrid('setLabel', 'evidhanReferenceNumber', '@Resources.PaperLaidDepartment.evidhanReferenceNumber')
        jQuery("#CommonGrid").jqGrid('setLabel', 'QuestionNumber', '@Resources.PaperLaidDepartment.Number')
        jQuery("#CommonGrid").jqGrid('setLabel', 'Subject', '@Resources.PaperLaidDepartment.Subject')
        jQuery("#CommonGrid").jqGrid('setLabel', 'MemberName', '@Resources.PaperLaidDepartment.AskedBy')
        jQuery("#CommonGrid").jqGrid('setLabel', 'PaperSent', '@Resources.PaperLaidDepartment.Paper')
        jQuery("#CommonGrid").jqGrid('setLabel', 'DepartmentSubmittedDate', '@Resources.PaperLaidDepartment.ReplySentOn')
        jQuery("#CommonGrid").jqGrid('setLabel', 'DesiredLayingDate', '@Resources.PaperLaidDepartment.FixedDate')
    });

    function onSelectRowHandler(rowId, status, event) {
        $("#loader-wrapper").show();
        var paperLaidID = 0;
        var id = $('#SessionCodeHome').val();
        var rowData = $(this).jqGrid("getRowData", rowId);

        //Get Paper Laid ID and Status for the Record.
        paperLaidID = rowData.PaperLaidId != "" ? rowData.PaperLaidId : 0;
        var status = parseInt(rowData.Status);

        $.ajax({
            url: "/PaperLaidDepartment/PaperLaidDepartment/ShowPaperLaidDetailByID",
            type: 'GET',
            data: {
                paperLaidId: paperLaidID
            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();
                    getNextHideDiv();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }
</script>