﻿@model SBL.eLegistrator.HouseController.Web.Areas.PISModule.Models.PISCustom

<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }

    .ms-choice {
        width: 311px;
    }

    .footer .footer-inner .footer-content {
        bottom: 0px;
    }
</style>

@*<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>*@

<form method="post" action="/PISDesignation/SaveSantionpost" id="SaveSantionPostForm">

    <div class="widget-body">
        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">

                <div class="profile-info-row">
                </div>

                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.type)
                @Html.HiddenFor(m => m.DeptId)
                @*  <div class="profile-info-row">
                    <div class="profile-info-name">Department :</div>
                    <div class="profile-info-value">
                    
                        @Model.DepartmentName
                        @Html.DropDownListFor(m => m.DeptId, new SelectList(Model.DepartmentList, "deptId", "deptname", "NULL"), "-- Select Department ( Filter ) --", new { @class = "col-xs-10 col-sm-10", @tabindex = "1" })
                        <div class="input-group col-xs-12">
                        </div>
                        <div class="help-block col-xs-12 col-sm-reset inline">
                            @Html.ValidationMessageFor(model => model.DepartmentList)
                        </div>
                    </div>
                </div>*@
                <div class="profile-info-row">
                    <div class="profile-info-name">Office :</div>
                    <div class="profile-info-value">
                        @Html.DropDownListFor(m => m.POfficeId, new SelectList(Model.OfficeList, "OfficeId", "officename"), "-- Select Office ( Filter ) --", new { @class = "col-xs-10 col-sm-10", @tabindex = "2", @id = "ddloffice", @style = "width:86.3333%;" })
                        <div class="input-group col-xs-12">
                        </div>
                        <div class="help-block col-xs-12 col-sm-reset inline">
                            @Html.ValidationMessageFor(model => model.POfficeId)
                        </div>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">Post :</div>
                    <div class="profile-info-value">

                        @Html.ListBoxFor(m => m.AllDesignationIds, new SelectList(Model.DesignationList, "Id", "designame", "0"), new { @id = "ddldesignation", @tabindex = "1", @class = "form-control", @multiple = "multiple", style = "width: 463px", @onchange = "get();" })
                        @Html.DropDownListFor(m => m.PDesignationId, new SelectList(Model.DesignationList, "Id", "designame"), "-Select-", new { @id = "PDesignationId", @name = "PDesignationId", @style = "display:none;width: 323px" })

                        <div class="input-group col-xs-12">
                        </div>
                        <div class="help-block col-xs-12 col-sm-reset inline">
                            @Html.ValidationMessageFor(model => model.DesignationList)
                        </div>
                    </div>
                </div>
                <div class="profile-info-row" id="PriorityDiv" style="display: none;">
                    <div class="profile-info-name">Order :</div>
                    <div class="profile-info-value">
                        @Html.TextBoxFor(t => t.Priority, new { style = "width:62.3333%;", @maxlength = "3", @class = "IsnumericClass RemoveBorder" })
                        <div class="input-group col-xs-12">
                        </div>
                        <div class="help-block col-xs-12 col-sm-reset inline">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="wizard-actions">
            <div style="margin-bottom: 40px;">
                <div class="form-inline">
                    <button type="button" id="btnAddpost" onclick="AddSantionPost(this.value);" name="btnAddpost" class="btn btn-primary" value="Save">
                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>

                        <span>Save</span>
                    </button>
                    <button type="button" id="btnUpdatepost" onclick="AddSantionPost(this.value);" name="btnAddpost" class="btn btn-primary" value="Update">
                        <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>

                        <span>Update</span>
                    </button>
                </div>
            </div>
        </div>

    </div>
</form>

<link href="~/Content/MultiSelectList/multiple-select.css" rel="stylesheet" />

<script src="~/Scripts/MultiSelectBox/jquery.multiple.select.js"></script>
<script>
    $(document).ready(function () {

        $('.IsnumericClass').keypress(function (e) {
            var key = (e.which) ? e.which : e.keyCode;
            if ((key >= 48 && key <= 57) || (key == 44) || (key == 8)) {

                return true;
            }
            else {
                return false;
            }
        });
        // $("#leftdivsantion").css("width", "476px");
        
    
        $("#ddldesignation").multipleSelect({ selectAll: true, placeHolder: "Select Designation" });
        $(".ms-choice").css("width", "328px");
        $(".ms-drop").css("width", "328px");

        if ('@ViewBag.departmentid' != "" && '@ViewBag.OfficeID' != "") {

            getOfficebyDeptid();
            $("#btnAddpost").hide();
            $("#btnUpdatepost").show();
            $(".ms-choice").css("display", "none");
            $("#PDesignationId").show();
            $("#PriorityDiv").show();

        }
        else {
            $(".Member").removeAttr('checked');
            $("#btnmultichkbox").text('Select Multiple Designation');
            $("#btnAddpost").show();
            $("#btnUpdatepost").hide();
            $.ajax({
                url: "/PISModule/PISDesignation/OfficeDrpList",
                type: 'POST',
                data: {},
                success: function (data) {
                    $("#ddloffice").empty();
                    //$("#ddloffice").append("<option value=''>-- Select Office -- </option>");
                    $.each(data, function (index, optiondata) {
                        $("#ddloffice").append("<option value='" + optiondata.OfficeId + "'>" + optiondata.officename + "</option>");
                    });
                    $("#ddloffice").val(@SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.OfficeId)
                    $('#ddloffice option:not(:selected)').attr('disabled', true);
                }

            })

        }


        //$("#DeptId").change(function () {
        //    var DepartmentID = $('#DeptId').val();
        //    if (DepartmentID == "") {
        //        ShowNotification("error", "Please Select Department From !!!.....");
        //    }
        //    else {
        //        $.ajax({
        //            url: "/PISModule/PISDesignation/OfficeDrpList",
        //            type: 'POST',
        //            data: { deptid: DepartmentID },
        //            success: function (data) {
        //                $("#OfficeId").empty();
        //                $("#OfficeId").append("<option value=''>-- Select Office -- </option>");
        //                $.each(data, function (index, optiondata) {
        //                    $("#OfficeId").append("<option value='" + optiondata.OfficeId + "'>" + optiondata.officename + "</option>");
        //                });
        //            }
        //        })
        //    }
        //});

    });
    function getOfficebyDeptid() {

        $.ajax({
            url: "/PISModule/PISDesignation/OfficeDrpList",
            type: 'POST',
            data: {},
            success: function (data) {

                $("#ddloffice").empty();
                //$("#ddloffice").append("<option value=''>-- Select Office -- </option>");
                $.each(data, function (index, optiondata) {
                    $("#ddloffice").append("<option value='" + optiondata.OfficeId + "'>" + optiondata.officename + "</option>");
                });
                if ('@ViewBag.OfficeID' != "") {

                    $("select[name='POfficeId'] option[value=" + '@ViewBag.OfficeID' + "]").prop("selected", "selected");
                 //   $("#ddloffice").val(@SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.OfficeId)
                    $('#ddloffice option:not(:selected)').attr('disabled', true);
                }

            }
                
        })
       
    }
    function AddSantionPost(type) {

        //return false;
        $('.ErrorMessage').remove('');
        $('.ErrorMessage').remove();
        $("br").remove();
        var IsValid = true;
        if ($('#ddloffice').val() == '') {
            $('#ddloffice').css("border", "1px solid red");
            $('#ddloffice').after("<br><br><span class='ErrorMessage'>Office Field  Required</span>");
            IsValid = false;
        }
        if ('@ViewBag.departmentid' != "" && '@ViewBag.OfficeID' != "") {
            if ($('#PDesignationId').val() == '' || $('#PDesignationId').val() == '-Select-') {
                $('#PDesignationId').css("border", "1px solid red");
                $('#PDesignationId').after("<span class='ErrorMessage'>Designation Field  Required</span>");
                IsValid = false;
            }
        }
        else {
            if ($('#btnmultichkbox').text() == '' || $('#btnmultichkbox').text() == 'Select Multiple Designation') {
                $('.ms-choice').css("border", "1px solid red");
                $('.ms-choice').after("<span class='ErrorMessage'>Designation Field  Required</span>");
                IsValid = false;
            }
        }
      
        if (IsValid == true) {
            // alert('ss');
            var QData = $('#SaveSantionPostForm').serialize();
            var id = $('#Id').val();
            $.ajax({
                url: "/PISModule/PISDesignation/CheckUserExistToPost",
                type: 'POST',
                data: { id: id },
                success: function (data) {
                   
                    if (data == false || data == "false") {
                        $.ajax({
                            cache: false,
                            async: true,
                            type: "POST",
                            url: '/PISModule/PISDesignation/CheckDuplicate',
                            data: QData,
                            beforeSend: function () {
                                $('#loader-wrapper').show();
                            },
                            success: function (result) {
                                if (result == "" || result == null) {
                                    $.ajax({
                                        cache: false,
                                        async: true,
                                        type: "POST",
                                        url: '/PISModule/PISDesignation/SaveSantionpost',
                                        data: QData,
                                        beforeSend: function () {
                                            $('#loader-wrapper').show();
                                        },
                                        success: function (data) {
                                            $('#MainDiv').empty();
                                            $('#MainDiv').append(data);

                                            $("#loader-wrapper").hide();

                                        }
                                    });
                                }
                                else {

                                    $("#loader-wrapper").hide();
                                    $("#errorDetails").empty();
                                    var tst = "";
                                    tst += "<table id='tblerror'><tr><td colspan='3'>The combination of record is already exist: </td></tr>";
                                    $.each(result, function (index, optiondata) {
                                        tst += "<tr><td>" + result[index].DepartmentName + "</td><td>" + result[index].DesignationName + "</td><td>" + result[index].OfficeName + "</td></tr>";
                                    });
                                    tst += "</table>";
                                    $("#errorDetails").append(tst);
                                    $('#ErrorPopupModel').modal('show');
                                    return false;
                                    //alert("This combination of record already exist:" + tbl);
                                }

                            },
                            error: function (result) {
                                $('#MainDiv').empty();
                                $('#MainDiv').append(error.responseText);
                            },

                            complete: function (result) {
                                $('RightWidgetBoxDiv').hide();
                                $('#loader-wrapper').hide();
                            }
                        });

                    }
                    else {
                        alert("The post contains employees, First delete the employees which are related to this post");
                        IsValid = false;
                        return false;
                    }
                }
            });


         


        }
    }
</script>





