﻿@model SBL.DomainModel.Models.PISMolues.tPISEmpSanctionpost
@*<script src="~/Content/ScriptsUp/jquery.js"></script>*@
@*<script src="~/Scripts/bootstrap.min.js"></script>*@
<style>
    #tblerror tr td {
        border: 1px solid;
        padding: 10px;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="row">
            <!--TWO COLUMN DESIGN-->
            <div id="two-column" class="">
                <div id="resize-left" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 20px;">

                    <div id="divLeftContainer" style="position: absolute; top: 0; height: 20px; width: 100%; display: block;">
                        <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                        <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                            <i onclick="resizeClick(1)" class="ace-icon fa fa-angle-double-left roundicon"></i>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12" style="padding: 10px;">


                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4 class="widget-title">List of Post
                                    </h4>
                                    @* <span class="label label-lg label-pink arrowed">Count: @ViewBag.DesignationCount</span>*@

                                    <div class="widget-toolbar no-border">
                                        <button id="btnNew" class="btn  btn-sm btn-info" onclick="OpenSactionForm()">
                                            <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                                            <span class="bigger-110">@Resources.PaperLaidDepartment.New</span>
                                        </button>

                                    </div>
                                    <span style="float:right; font-size:14px;"> Search by office <span style="padding-left:5px;">@Html.DropDownListFor(m => m.POfficeId, new SelectList(Model.OfficeList, "OfficeId", "officename"), "-Select-", new { @class = "RemoveDdlBorder", @id = "ddlSearchoffice", @name = "ddlSearchoffice", @onchange = "SearchOffice(this.value)",@style="float:right;" })</span></span>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="clearfix">

                                            <div class="table-responsive">
                                                <div id="divDataContainer-Santionpost">
                                                    @{Html.RenderPartial("~/Areas/PISModule/Views/PISDesignation/_DesignationList.cshtml", Model);}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="resize-right" class="ui-widget-content" style="overflow: hidden; position: relative; padding-top: 21px;">

                    <div id="divRightContainer" style="position: absolute; top: 0; height: 21px; width: 100%; display: block;">
                        <div style="border-bottom: 1px solid #e3e3e3; height: 1px; width: 80%; left: 10%; position: absolute; top: 50%;"></div>
                        <div style="position: absolute; top: 0px; height: 22px; display: block; width: 20px; left: 50%; background-color: white;">
                            <i data-icon2="ace-icon fa fa-angle-double-right" onclick="resizeClick(0)" data-icon1="ace-icon fa fa-angle-double-left" class="ace-icon fa fa-angle-double-right roundicon"></i>
                        </div>
                    </div>

                    <div class="row-fluid" style="overflow: hidden">
                        <div class="span12">
                             <div class="widget-box sblFullScreen" id="RightWidgetBoxDiv" style="display:none; height:413px;">
                     <div class="widget-header widget-header-flat">
                        <h4 class="widget-title">Add Post</h4>
                        <div class="widget-toolbar">
                            <a href="#" data-action="fullscreen" class="red"> <i class="ace-icon fa fa-expand bigger-150"></i> </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">

                            <div id="RightSidebar" style="width: 100%";>
                                 <div id="santionpostDiv" style="width:100%;height:100%">
                            </div>
                            </div>
                           
                        </div>
                    </div>
                        </div>
                    </div>
                </div>


                <!-- #two-column-->
                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>
    </div>
</div>
    </div>  


<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>

<script>
    $(document).ready(function () {
        $("#ddlSearchoffice").val(@SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.OfficeId)
        $('#ddlSearchoffice option:not(:selected)').attr('disabled', true);
    })
    function SearchOffice(officeid) {

        if (officeid != "" && officeid != null) {

            $('#loader-wrapper').show();
            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/PISModule/PISDesignation/SearchOfficeWise",
                type: 'GET',
                data: {
                    officeid: officeid
                },
                success: function (result) {
                    
                    if (result != null && result != "") {
                        $("#divDataContainer-Santionpost").empty();
                        $("#divDataContainer-Santionpost").html(result);
                        $('#loader-wrapper').hide();

                    }
                    else {
                        alert("Some error found!");
                        $('#loader-wrapper').hide();
                        return false;
                    }

                },

                error: function (xhr, ajaxOptions, thrownError) {

                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });
        }
    }
    function DeleteSantion(id) {
        var dlg = bootbox.confirm('Are you sure, You want to delete Designation ? \n If yes so press ok button. ', function (result) {
          
            if (result) {
                $.ajax({
                    url: "/PISModule/PISDesignation/CheckUserExistToPost",
                    type: 'POST',
                    data: { id: id },
                    success: function (data) {
                      
                        if (data == false || data=="false") {
                            $.ajax({
                                url: "/PISModule/PISDesignation/DeleteSantion",
                                type: 'POST',
                                data: { id: id },
                                success: function (data1) {
                                    $('#divDataContainer-Santionpost').empty();
                                    $('#divDataContainer-Santionpost').append(data1);
                                    $('#resize-right-Santion').hide();
                                    $("#loader-wrapper").hide();

                                },
                                error: function (result) {
                                    $('#divDataContainer-Santionpost').empty();
                                    $('#divDataContainer-Santionpost').append(error.responseText);
                                },

                                complete: function (result) {

                                    $('#loader-wrapper').hide();
                                }
                            })

                        }
                        else {
                            alert("The post contains employees, First delete the employees which are related to this post");
                        }
                        
                    }
                })
            }
        })
    }

    function OpenSactionForm(isd, type) {
        resizeLeftPanel(50);
        $("#loader-wrapper").show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/PISModule/PISDesignation/AddSantionpostForm",
            type: 'GET',
            data: {
                did: isd,
                type: type,
            },
            success: function (data) {

                $('#santionpostDiv').empty();
                $('#santionpostDiv').append(data);
                $('#RightWidgetBoxDiv').show();
                $("#loader-wrapper").hide();
            },
            error: function (error) {
                $('#divDataContainer-Santionpost').empty();
                $('#divDataContainer-Santionpost').append(error.responseText);

            },
            complete: function (results) {
                $('#RightWidgetBoxDiv').show();
                $('#loader-wrapper').hide();
            }
        });

    }

    function GetDataList(pageId) {
        var PageSize = $("#PazeSize").val();
        $.ajax({
            type: "POST",
            url: '/PISModule/PISDesignation/GetSantionbyPaging',
            data: '{ pageId: "' + pageId + '",pageSize: "' + PageSize + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainer-Santionpost').empty();
                $('#divDataContainer-Santionpost').append(result);
            },
            error: function (error) {
                $('#divDataContainer-Santionpost').empty();
                $('#divDataContainer-Santionpost').append(error.responseText);

            },
            complete: function (results) {
                // $("#resize-left").css("width", "600px");
                //$("#leftdivsantion").css("width", "476px");
                // $("#leftdivsantion").css("margin-left", "80px");
                $('#loader-wrapper').hide();
            }
        });
    }



   
</script>

<div class="modal" id="ErrorPopupModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >Warning</h4>
            </div>
         
                <div class="modal-body">
                    <div >
                        <div id="errorDetails">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                 <div class="row">
                     <div class="col-md-3 pull-left"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
                     <div class="col-md-3"> </div>
                    
                  </div>
                    

                 </div>
                 
                   
                </div>
         
        </div>
    </div>
