﻿@model SBL.DomainModel.Models.Member.mMemberAccountsDetails

<form method="post" action="/SchemeSetup/SaveQualification" id="AccountDetailsForm">


    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.MemberCode)

    <div class="row" style="padding-left: 18px;">
        <div class="space-8"></div>
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                <div class="form-group">
                    @* @Html.DisplayNameFor(model => model.MemberName, new { @class = "col-sm-3 control-label no-padding-right" })*@
                    <label class="col-sm-3 control-label no-padding-right">Name</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.MemberName, new { @readonly = "readonly" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EPABXNo, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.EPABXNo, new { @placeholder = "EPABXNo" })
                        <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                            @Html.ValidationMessageFor(model => model.EPABXNo)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PPONum, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.PPONum, new { @placeholder = "PPO Number" })
                        <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                            @Html.ValidationMessageFor(model => model.PPONum)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6">

                <div class="form-group">
                    @Html.LabelFor(model => model.BankName, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.BankName, new { @placeholder = "Bank Name" })
                        <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                            @Html.ValidationMessageFor(model => model.BankName)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.AccountNo, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.AccountNoS, new { @placeholder = "Account Number" })
                        <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                            @Html.ValidationMessageFor(model => model.AccountNoS)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IFSCCode, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.IFSCCode, new { @placeholder = "IFSC Code" })
                        <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                            @Html.ValidationMessageFor(model => model.IFSCCode)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PanNumber, new { @class = "col-sm-3 control-label no-padding-right" })
                    <div class="col-sm-9">
                        @Html.TextBoxFor(model => model.PanNumber, new { @placeholder = "PAN Number" })
                        <div class="help-block col-xs-12 col-sm-reset inline validation-error">
                            @Html.ValidationMessageFor(model => model.PanNumber)
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row" style="padding: 0 12px;">
        <div class="clearfix form-actions">
            <div class="col-md-offset-5 col-md-1">

                <button class="btn btn-primary" type="button" onclick="SaveMemberAccountDetails();">
                    <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                    Update
                </button>
            </div>
        </div>
    </div>

</form>
