﻿@model SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models.DebitReceiptExpViewModel

<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }

    .datepicker {
        z-index: 1151 !important;
    }
</style>

<link href="~/assets/css/datepicker.css" rel="stylesheet" />
<div>


    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.DebitReceiptExpID)
    @Html.HiddenFor(m => m.Mode)


    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="Object">
            @Resources.MasterDataDashboard.SelectBudget
        </label>
        <div class="col-sm-9 help-block">
            @Html.DropDownListFor(model => model.BudgetId, Model.BudgetList, "--Select Budget--", new { @class = "col-xs-10 col-sm-5 RemoveDdlBorder" })
            @Html.ValidationMessageFor(model => model.BudgetId)


        </div>
    </div>

    <div class="space-2"></div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="Gazetted">@Resources.MasterDataDashboard.DebitReceiptDate</label>
        <div class="col-sm-9 help-block">
            @if (Model.Mode == "Add")
            {
                @Html.TextBoxFor(model => model.DebitReceiptDate, new { Value = "", @class = "col-xs-10 col-sm-5 RemoveBorder datepicker", @placeholder = @Resources.MasterDataDashboard.DebitReceiptDate, @autocomplete = "off", @maxlength = "41" })
                @Html.ValidationMessageFor(model => model.DebitReceiptDate)
            }
            else
            {
                @Html.TextBoxFor(model => model.DebitReceiptDate, "{0:MM/dd/yyyy}", new { @class = "col-xs-10 col-sm-5 RemoveBorder datepicker", @placeholder = @Resources.MasterDataDashboard.DebitReceiptDate, @autocomplete = "off", @maxlength = "41" })
                @Html.ValidationMessageFor(model => model.DebitReceiptDate)
            }
        </div>
    </div>

    <div class="space-2"></div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="TreasuryCode">@Resources.MasterDataDashboard.DebitReceiptAmount</label>
        <div class="col-sm-9 help-block">
            @if (Model.Mode == "Add")
            {
                @Html.TextBoxFor(model => model.DebitReceiptAmount, new { Value = "", @class = "col-xs-10 col-sm-5 RemoveBorder IsnumericClass", @placeholder = @Resources.MasterDataDashboard.DebitReceiptAmount, @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.DebitReceiptAmount)
            }
            else
            {
                @Html.TextBoxFor(model => model.DebitReceiptAmount, new { @class = "col-xs-10 col-sm-5 RemoveBorder IsnumericClass", @placeholder = @Resources.MasterDataDashboard.DebitReceiptAmount, @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.DebitReceiptAmount)
            }
        </div>
    </div>

     

    

    <div class="space-2"></div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="TreasuryCode">@Resources.MasterDataDashboard.Remarks</label>
        <div class="col-sm-9 help-block">
            @if (Model.Mode == "Add")
            {
                @Html.TextBoxFor(model => model.Remarks, new {  @class = "col-xs-10 col-sm-5 RemoveBorder ", @placeholder = "Remarks", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.Remarks)
            }
            else
            {
                @Html.TextBoxFor(model => model.Remarks, new { @class = "col-xs-10 col-sm-5 RemoveBorder ", @placeholder ="Remarks", @autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.Remarks)
            }
        </div>
    </div>

    <div class="space-2"></div>
</div>


<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {
        $('.datepicker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "mm/dd/yyyy"
        });

        $('.datepicker').datepicker({ autoclose: true }).on('changeDate', function (ev) {
            var Id = this.id;
            if ($("#" + Id).val() != '') {
                $("#" + Id).next().hide();
                $("#" + Id).css("border", "1px solid green");
            }
            else {
                $("#" + Id).after("<span class='ErrorMessage'> DDO Code  Required</span>");
                $("#" + Id).css("border", "1px solid red");
            }
        });

        $('#BudgetId').focus();

        $('.RemoveBorder').keypress(function () {
            var Id = this.id;
            $("#" + Id).next().hide();
            $("#" + Id).css("border", "1px solid green");
        });

        $('.RemoveDdlBorder').change(function () {

            var Id = this.id;
            if ($("#" + Id).val() != '') {
                $("#" + Id).next().hide();
                $("#" + Id).css("border", "1px solid green");
            }
            else {
                $("#" + Id).after("<span class='ErrorMessage'> DDO Code  Required</span>");
                $("#" + Id).css("border", "1px solid red");
            }

        });

        $('.IsnumericClass').keypress(function (e) {
            var key = (e.which) ? e.which : e.keyCode;
            if ((key >= 48 && key <= 57) || (key == 44) || (key == 8) || (key == 45)) {

                return true;
            }
            else {
                return false;
            }
        });
    });


    function resetFields() {
        $(".field-validation-error").empty();
        $('#DebitReceiptDate').html('');
        $('#DebitReceiptAmount').val('');
        $('#DebitDeduction').html('');
        $('#ReductionAmountTaken').html('');
        $('#NetAmount').focus();
 
    }

</script>
