﻿<div id="sidebar" class="sidebar responsive">
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div id="sidebar-shortcuts-large" class="sidebar-shortcuts-large">

            <a title="Help" data-rel="tooltip" class="btn btn-warning" href="#" target="_blank">
                <i class="ace-icon fa fa-users"></i>
            </a>

            <button class="btn btn-info" id="sizeUp" title="Increase fontsize" data-placement="bottom" data-rel="tooltip">
                <b>@Resources.PaperLaidDepartment.A<sup>+</sup> </b>
            </button>

            <button class="btn btn-warning" id="sizeDown" title="Decrease fontsize" data-placement="bottom" data-rel="tooltip">
                <b>@Resources.PaperLaidDepartment.A<sup>-</sup> </b>
            </button>



            @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.LanguageID == "7C4F28F6-02FC-4627-993D-E255037531AD")
            {
                <button id="btnHindi" title="Change language" data-placement="right" data-rel="tooltip" class="btn btn-success" onclick="ChangeLangaugeHindi();">
                    @Resources.PaperLaidDepartment.Hindi
                </button>
            }
            else
            {
                <button id="btnEnglish" style="width: 70px" title="Change language" data-placement="right" data-rel="tooltip" class="btn btn-success" onclick="ChangeLangaugeEnglish();">
                    @Resources.PaperLaidDepartment.English
                </button>
            }
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div>

    <ul class="nav nav-list">
        <li class="">
            <a href="javascript:void(0);">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text">@Resources.PublicPasses.LNPMyDashboard </span>
            </a>
            <b class="arrow"></b>
        </li>


                <li class="" id="liStarredQuestions">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                 <span class="menu-text" onclick="GetUserRole();getInnerItemDashboard();">@Resources.UserManagement.UserManagements
                              
                            </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                        
                <li class="">
                                <a href="#" onclick="GetUserType();getInnerItemDashboard();">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                  @Resources.UserManagement.UserType
                                
                                </a>

                                <b class="arrow"></b>
                            </li>
                            

                            <li class="">
                                <a href="#" onclick="GetUserModules();getInnerItemDashboard();">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                  @Resources.UserManagement.Module
                                
                                </a>

                                <b class="arrow"></b>
                            </li>

                 <li class="">
                                <a href="#" onclick="GetUserSubModules();getInnerItemDashboard();">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                 User Sub Access
                                
                                </a>

                                <b class="arrow"></b>
                            </li>
                 <li class="">
                                <a href="#" onclick="GetUserAction();getInnerItemDashboard();">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    @Resources.UserManagement.UserAction
                                
                                </a>

                                <b class="arrow"></b>

                            </li>
                   <li class="">
                                <a href="#" onclick="GetUserRole();getInnerItemDashboard();">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    @Resources.UserManagement.UserRoles
                                
                                </a>

                                <b class="arrow"></b>

                            </li>
     <li class="">
                                <a href="#" onclick="GetUserAccessAction();getInnerItemDashboard();">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    @Resources.UserManagement.UserAccessAction
                                
                                </a>

                                <b class="arrow"></b>

                            </li>
                 
                 <li class="">
                                <a href="#" onclick="GetUserAccessActionAccept();getInnerItemDashboard();">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                   Accept/Reject
                                
                                </a>

                                <b class="arrow"></b>

                            </li>

                        </ul>


        </li>

        </ul>


     <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <!-- /section:basics/sidebar.layout.minimize -->
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
    </script>





<script type="text/javascript">
    function ChangeLangaugeEnglish() {
        $.ajax({
            url: "/Home/ChangeCulture",
            type: 'GET',
            data: {
                lang: "7C4F28F6-02FC-4627-993D-E255037531AD",
                langCulture: "/"
            },
            success: function (data) {
                if (data) {
                    window.location.href = '@Url.Action("UserManagement", "Role", new { Area = "UserManagement" })';
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    function ChangeLangaugeHindi() {
        $.ajax({
            url: "/Home/ChangeCulture",
            type: 'GET',
            data: {
                lang: "43177cd4-b51d-497a-a3bc-e81f23b07450",
                langCulture: "/"
            },
            success: function (data) {
                if (data) {
                    window.location.href = '@Url.Action("UserManagement", "Role", new { Area = "UserManagement" })';
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });

    }
</script>
  
</div>



