﻿@model IEnumerable<SBL.eLegistrator.HouseController.Web.Areas.Passes.Models.PassViewModel>



<div class="page-header">
    <h1>Passes                               
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Print Priview
                </small>
    </h1>
</div>

<div class="row" id="ContentToPrint">
    @foreach (var item in Model)
    {
        <div class="col-xs-12 widget-container-col">
            <!-- #section:custom/widget-box -->
            <div class="widget-box">
                <div class="widget-header">
                    <h5 class="widget-title">@item.Prefix @item.Name (@item.PassCategory.Name)</h5>

                    <!-- #section:custom/widget-box.toolbar -->
                    <div class="widget-toolbar">

                        <a href="#" data-action="fullscreen" class="orange2">
                            <i class="ace-icon fa fa-expand"></i>
                        </a>
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>

                        <a href="#" data-action="close">
                            <i class="ace-icon fa fa-times"></i>
                        </a>
                    </div>

                    <!-- /section:custom/widget-box.toolbar -->
                </div>

                <div class="widget-body">
                    <div class="widget-main">

                        @Html.Raw(item.PassCategory.Template)
                    </div>
                </div>
            </div>

            <!-- /section:custom/widget-box -->
        </div>
    }
    <div class="col-xs-6" id="ButtonGroup">
        <button type="button" onclick="PrintPass();" name="Mode" value="Print" id="PrintButton" class="btn btn-warning"><i class="ace-icon glyphicon  glyphicon-print"></i>Print</button>
    </div>

</div>
<script src="~/Scripts/jQuery.print.js"></script>
<script type="text/javascript">

    function PrintPass() {
        $("#ContentToPrint").print({

            stylesheet: "/Content/PassTemplate.css",
            rejectWindow: true,
            iframe: true,
            mediaPrint: true
        });
        return false;
    }

</script>
