﻿@model SBL.eLegistrator.HouseController.Web.Areas.Passes.Models.PassIndexViewModel
@{
    ViewBag.Title = "Approve/Reject/Print Passes";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
  
}


@Html.Action("PassLeftMenu", "Pass", new { IsDepartmentUser = false })

<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div id="breadcrumbs" class="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "Pass")">Home</a>
            </li>


        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>
        <!--<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="ace-icon fa fa-search nav-search-icon"></i>
							</span>
						</form>
					</div>-->
        <!-- /.nav-search -->

        <!-- /section:basics/content.searchbox -->
    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content" id="GridContainer">
        <!-- #section:settings.box -->



        @Html.Partial("_ApprovePassGrid", Model)



        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                <span class="bigger-100">
                    <span class="blue bolder">eVidhan</span>
                    &nbsp;&nbsp;Application &copy; 2013-2014
                </span>

            </div>

            <!-- /section:basics/footer -->
        </div>
    </div>

    <a class="btn-scroll-up btn btn-sm btn-inverse" id="btn-scroll-up" href="#">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

