
body{
 font:80%/1.3 Arial,sans-serif;
}
body{
  margin:0;
  /*padding:0 right-sidebar-<length> 0 left-sidebar-<length>;*/
 padding: 0 175px 0 175px;

 }
 div#left-sidebar{
  position:absolute;
  top:0;
  left:0;
  /*width:left-sidebar-<length>;*/
  width:175px;
  height:100%;
/*  margin : 10px 0;*/
 }
 div#right-sidebar{
  position:absolute;
  top:0;
  right:0;
  /*width:right-sidebar-<length>;*/
  width:175px;
  height:100%;
 }
 @media screen{
  body>div#left-sidebar{
   position:fixed;
  }
  body>div#right-sidebar{
   position:fixed;
  }
 }
 * html body{
  overflow:hidden;
 } 
 * html div#content{
  height:100%;
  overflow:auto;
 }
 .filter-type {
    border-bottom: 1px dotted #666;
}

h1{
 margin:0;
 padding:1em;
 font-size:1.5em;
 font-weight:bold;
}
h1 span{
 font-size:.667em;
}
h2{
 /*margin:0;*/
 /*padding:1em 1.25em;*/
 font-size:1.2em;
 font-weight:bold;
}
h3{
 margin:0;
 padding:1em 1.5em;
 font-size:1em;
 font-weight:bold;
}
pre{
 margin:.5em 1.5em;
 padding:.3em;
 color:#000;
 background:#fff;
}
pre,pre code,pre var{
 font:1em/1 "courier new",monospace;
}
pre var{
 font-style:oblique;
}
pre code.markup.comment{
 font-style:oblique;
 color:green;
}
pre code.markup.doctype{
 font-style:oblique;
 color:teal;
}
pre code.markup.element-name{
 font-weight: bold;
 color:purple;
}
pre code.markup.attribute-name{
 font-weight: bold;
 color:black;
}
pre code.markup.attribute-value{
 font-weight:normal;
 color:blue;
}
p{
 margin:0;
 padding:.5em 1.5em;
}
.clear{clear: both;}
div#left-sidebar{
 color:black;
 border-right: 3px solid #E3E3E3;

}
div#right-sidebar{
    color:black;
 border-left: 3px solid #E3E3E3;    
}

/* -------- main content section ------------------------*/

header{
    background: url("../images/vertshadow.png") no-repeat scroll center bottom transparent;
    padding-bottom: 35px; 
}
.headerinner{
    background: url("../images/diag_bg.png") repeat scroll 0 0 transparent;
}
.headerinner .bgslide{
 position: relative;   
}
.bgslide .bgslider{ position: absolute; right: 0; top: 0;} 
.headerinner .bgslide #slideshow {
/*    width: 100%;
    position: relative; */
}
 
.headerinner .bgslide #slideshow  img {
/*    top: 0;
    left: 0;
    width: 100%;
    max-width: 600px;
    height: auto;
    position: absolute;  */
}


.logolang{
  width:100%;  
  height: 98px;
}
.logolang .logo{
    float: left; 
    width: 50%;
}
.logolang .logo .logotextlarge{ font-size: 25px;   padding: 32px 0 0;}
.logolang .logo .logotextsmall{font-size: 18px; float: left;}

.logolang .logo .logoimg{padding: 15px 15px 0 12px;float: left;}
.logolang .langbox{
    float: left; 
    width: 50%; 
}
.langbox .langboxinner{
    float: right;
    padding-right: 12px;
}
.langbox .langboxinner .login{   float: right; margin-top: 17px; clear: both;}
.langbox .langboxinner .login #loginbtn{   border: 0; background: transparent; padding: 0; cursor: pointer;}

/*login tab styles*/
#logintab { position: relative; }
#logintab .tabItemSpace{padding: 10px;}
#logintab ul.log-tabs { list-style-type: none; margin: -1px 0 0!important; padding: 0!important; background: none!important; border: none!important; }
#logintab ul.log-tabs li { background: none!important; padding: 0!important; list-style-type: none; float: left; cursor: pointer; margin: 0!important; position: relative; border: none!important; }
#logintab .tabcontent{
    clear: both;
    background: none;
    border: 1px solid #E1E1E1 ;
    border-radius: 0 0 10px 10px;
}
#logintab ul.log-tabs li a { text-decoration:none; background: url('../images/bg_tab.png') repeat-x 0 0; display: block; height: 28px; line-height: 27px; padding: 0 10px; font-size: 10px; color: #666; text-transform:uppercase; border: 1px solid #e1e1e1; border-left: none; }
#logintab ul.log-tabs li.active a { background: url('../images/bg_tab-active.png') repeat-x 0 0; color: #fff; border: 1px solid #97c731; }
.loginavatar{
    background-image: url("../images/login_logos.png");
    background-repeat:  no-repeat;
    background-color: transparent;
    height: 52px;
    width: 65px;
    margin: 0 auto 10px;
} 
#avtr_usrlogin{ background-position: 0 -104px;   }
#avtr_biologin{ background-position: 0 0;   }
#avtr_dsclogin{ background-position: 0 -52px;   }


.userlogin{
    
}
.loginboxctr{
    width: 200px; 
}
.biotype{
    width: 250px;
}
.dsc_regst{margin: 10px;}
.dsc_regst a{text-decoration: none; font-size: 12px;}
.dsc_regst a:hover{}
#logintab input[type=text],
#logintab select,
#logintab input[type=password] {
    font-family: Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
 
    /* Size and position */
    width: 100%;
    padding: 7px 18px 7px 45px;
 
    /* Styles */
    border: none; /* Remove the default border */
    box-shadow:
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
/*    background: #f9f9f9;  */
    color: #777;
    transition: color 0.3s ease-out;
}
 
#logintab input[type=text] {
    margin-bottom: 10px;
}
#logintab input[type="text"] {
    margin-bottom: 10px;
}
#logintab input[type="text"]:hover, #logintab input[type="password"]:hover {
    color: #52CFEB;
}
#logintab input[type="text"]:focus, #logintab input[type="password"]:focus {
    color: #42A2BC;
}
#logintab input[type="text"]:focus, #logintab input[type="password"]:focus, #logintab button[type="submit"]:focus {
    outline: medium none;
}
 
#logintab input[type=submit]{
    /* Size and position */
    width: 49%;
    height: 38px;
    float: right;
    position: relative;
 
    /* Styles */
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer;
 
    /* Font styles */
    font-family: Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 38px; /* Same as height */
    text-align: center;
    font-weight: bold;
    margin-left: 1%;
    background: linear-gradient(#34a5cf, #2a8ac4);
    border: 1px solid #2b8bc7;
    color: #ffffff;
    text-shadow: 0 1px rgba(255,255,255,0.3);
    margin-bottom: 0px;
}  



#txtUserName, #txtPassword, #txtBiometicUserID, #txtDSCUserID{background-image: url("../images/sprites.png"); background-repeat:  no-repeat; background-color:#f9f9f9; }
#txtUserName{background-position:0 -28px;}
#txtPassword{background-position: 0 -62px;}
#txtBiometicUserID{background-position: 0 0;} 
#txtDSCUserID{background-position: 0 -28px;} 

/* popup div styles   */
#mask {  /* Mask for background, by default is not display */   
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

/* You can customize to your needs  */
.login-popup {
    display: none;
    background: #FFF;
    padding: 10px;
    border: 2px solid #ddd;
    float: left;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;   /* CSS3 */
    -moz-box-shadow: 0px 0px 20px #999;     /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999;    /* Safari, Chrome */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;   /* Firefox */
    -webkit-border-radius: 3px;   /* Safari, Chrome */;
    height: 300px;
    width: 400px;
    min-width: 400px;
}

img.btn_close {
    float: right;
    margin: -28px -28px 0 0;
}

/* EOD login tab styles*/


.langbox .langboxinner .langu{float: right; margin: 15px 20px 0 0;color: #444;    }
.langbox .langboxinner .langu a{text-decoration: none; color: #000;}
.langbox .langboxinner .searchbox{margin-top: 8px; float: right;}
.langbox .langboxinner .searchbox #search {
    color: #888;
    border: 1px solid #e3e4e3;
    width: 200px !important;
    height: 23px;
    margin: 2px 0 0;
    float: left;
    padding: 0;
    text-indent: 5px;
    font: 100%/200% arial;
}
.langbox .langboxinner .searchbox #srchsubmit {
    border: 0 none;
    float: left;
    margin-left: -35px;
    margin-top: 5px;
}
  
/*  ----------------- top menu style 1 Normal---------------------------------------    */
.topmenu{
    
}
.topmenu ul.topmenu_ul{
/*    border-radius: 5px 5px 5px 5px;  */
    height: 42px;
    margin: 0;
    padding: 0 1%;
    width: 98%;
    background: rgb(80,130,183); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(80,130,183,1) 0%, rgba(42,69,97,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(80,130,183,1)), color-stop(100%,rgba(42,69,97,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(80,130,183,1) 0%,rgba(42,69,97,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(80,130,183,1) 0%,rgba(42,69,97,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(80,130,183,1) 0%,rgba(42,69,97,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(80,130,183,1) 0%,rgba(42,69,97,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5082b7', endColorstr='#2a4561',GradientType=0 ); /* IE6-9 */
}
.topmenu ul.topmenu_ul li{     
    color: #FFFFFF;
    float: left;
    list-style: none;
    font-size: 14px;
    height: 30px;
    padding: 12px 10px 0 ;
    background:url("../images/sep.png") no-repeat scroll left center transparent;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;    
    transition:all 0.2s ease-in-out;
     text-shadow: 1px 1px 2px #000000;
     filter: dropshadow(color=#000000, offx=1, offy=1);

}
.topmenu ul.topmenu_ul li.active{    
    background: linear-gradient(to bottom, #2A4561 0%, #5082B7 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.topmenu ul.topmenu_ul li.active a{}
.topmenu ul.topmenu_ul li:first-child{
    background: none;    
}
.topmenu ul.topmenu_ul li:hover{
    
    text-shadow: 1px 1px 2px #777;
    filter: dropshadow(color=#777, offx=1, offy=1);
    -webkit-box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0px 0px 10px  rgba(255, 255, 255, 0.5); 

}
.topmenu ul.topmenu_ul li a{
    color: #FFF;
    text-decoration: none;
}
li .active{background-color: black;}


/*  ----------------- top menu style 2 dropdown ---------------------------------------    */

#mbt-menu, #mbt-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#mbt-menu {
    width: 99%;
    margin: auto auto;
    border: 1px solid #2A4561;
    background-color: #111;
    background-image: -moz-linear-gradient(#5082B7, #2A4561);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5082B7), to(#2A4561));
    background-image: -webkit-linear-gradient(#5082B7, #2A4561);
    background-image: -o-linear-gradient(#5082B7, #2A4561);
    background-image: -ms-linear-gradient(#5082B7, #2A4561);
    background-image: linear-gradient(#5082B7, #2A4561);
    
    background: rgb(80,130,183); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(80,130,183,1) 0%, rgba(42,69,97,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(80,130,183,1)), color-stop(100%,rgba(42,69,97,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(80,130,183,1) 0%,rgba(42,69,97,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(80,130,183,1) 0%,rgba(42,69,97,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(80,130,183,1) 0%,rgba(42,69,97,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(80,130,183,1) 0%,rgba(42,69,97,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5082b7', endColorstr='#2a4561',GradientType=0 ); /* IE6-9 */
    
    
    
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 1px 1px #777;
    -webkit-box-shadow: 0 1px 1px #777;
    box-shadow: 0 1px 1px #777;
}

#mbt-menu:before,
#mbt-menu:after {
    content: "";     
    display: table;

}

#mbt-menu:after {    
    clear: both;         
}

#mbt-menu {          
    zoom:1;              
}

#mbt-menu li {       
    float: left;         
    border-right: 1px solid #5082B7;
    -moz-box-shadow: 1px 0 0 #2A4561;
    -webkit-box-shadow: 1px 0 0 #2A4561;
    box-shadow: 1px 0 0 #2A4561;        
    position: relative;              
}

#mbt-menu a {                    
    float: left;                     
    padding: 12px;              
    color: #EEE;                     
    text-transform: uppercase;              
    font: bold 12px Arial, Helvetica;/* */       
    text-decoration: none;                  
    text-shadow: 0 1px 0 #000;              
}

#mbt-menu li.active{    
    background: linear-gradient(to bottom, #2A4561 0%, #5082B7 100%) repeat scroll 0 0 transparent;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
#mbt-menu li.active a{
        text-shadow: 1px 2px 0 #000;     
}
#mbt-menu li:hover > a {                
    color: #FFF;     
    text-shadow: 1px 2px 0 #000;
    filter: dropshadow(color=#777, offx=1, offy=1);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 10px  rgba(0, 0, 0, 0.5);               
}
#mbt-menu ul li:hover{
    
 

}
*html #mbt-menu li a:hover { /* IE6 only */ 
    color: #fafafa;                             
}

#mbt-menu ul {                              
    margin: 20px 0 0 0;                         
    _margin: 0; /*IE6 only*/                    
    opacity: 0;                                 
    visibility: hidden;                         
    position: absolute;                         
    top: 38px;                                  
    left: 0;                                    
    z-index: 9999;                              
    background: #444;                           
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);                                                  
    background: -o-linear-gradient(#444, #111);                                                       
    background: -ms-linear-gradient(#444, #111);                                                      
    background: linear-gradient(#444, #111);                                                          
    -moz-box-shadow: 0 -1px rgba(255,255,255,.3);                                                     
    -webkit-box-shadow: 0 -1px 0 rgba(255,255,255,.3);                                                
    box-shadow: 0 -1px 0 rgba(255,255,255,.3);                                                        
    -moz-border-radius: 3px;                                                                          
    -webkit-border-radius: 3px;                                                                       
    border-radius: 3px;                                                                               
    -webkit-transition: all .2s ease-in-out;                                                          
    -moz-transition: all .2s ease-in-out;                                                             
    -ms-transition: all .2s ease-in-out;                                                              
    -o-transition: all .2s ease-in-out;                                                               
    transition: all .2s ease-in-out;                                                                  
}

#mbt-menu li:hover > ul {                                                                         
    opacity: 1;                                                                                       
    visibility: visible;                                                                              
    margin: 0;                                                                                        
}

#mbt-menu ul ul {                                                                                 
    top: 0;                                                                                           
    left: 150px;                                                                                      
    margin: 0 0 0 20px;                                                                               
    _margin: 0; /*IE6 only*/                                                                          
    -moz-box-shadow: -1px 0 0 rgba(255,255,255,.3);                                                   
    -webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);                                                
    box-shadow: -1px 0 0 rgba(255,255,255,.3);                                                        
}

#mbt-menu ul li {                                                                                 
    float: none;                                                                                      
    display: block;                                                                                   
    border: 0;                                                                                        
    _line-height: 0; /*IE6 only*/                                                                     
    -moz-box-shadow: 0 1px 0 #111, 0 2px 0 #666;                                                      
    -webkit-box-shadow: 0 1px 0 #111, 0 2px 0 #666;                                                   
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;   
    min-width:170px;                                                        
}

#mbt-menu ul li:last-child {                                                                      
    -moz-box-shadow: none;                                                                            
    -webkit-box-shadow: none;                                                                         
    box-shadow: none;                                                                                 
}

#mbt-menu ul a {                                                                                  
    padding: 10px;                                                                                    
    width: auto;                                                                                     
    _height: 10px; /*IE6 only*/                                                                       
    display: block;                                                                                   
    white-space: nowrap;                                                                              
    float: none;                                                                                      
    text-transform: none;                                                                            
}

#mbt-menu ul a:hover {                                                                           
    background-color: #0186ba;                                                                       
    background-image: -moz-linear-gradient(#04acec, #0186ba);                                        
    background-image: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));   
    background-image: -webkit-linear-gradient(#04acec, #0186ba);                                     
    background-image: -o-linear-gradient(#04acec, #0186ba);                                          
    background-image: -ms-linear-gradient(#04acec, #0186ba);                                         
    background-image: linear-gradient(#04acec, #0186ba);                                             
}

#mbt-menu ul li:first-child > a {                                                                
    -moz-border-radius: 3px 3px 0 0;                                                                 
    -webkit-border-radius: 3px 3px 0 0;                                                              
    border-radius: 3px 3px 0 0;                                                                      
}

#mbt-menu ul li:first-child > a:after {                                                          
    content: '';                                                                                     
    position: absolute;                                                                              
    left: 40px;                                                                                      
    top: -6px;                                                                                       
    border-left: 6px solid transparent;                                                              
    border-right: 6px solid transparent;                                                             
    border-bottom: 6px solid #444;                                                                   
}

#mbt-menu ul ul li:first-child a:after {                                                         
    left: -6px;                                                                                      
    top: 50%;                                                                                        
    margin-top: -6px;                                                                                
    border-left: 0;                                                                                  
    border-bottom: 6px solid transparent;                                                            
    border-top: 6px solid transparent;                                                               
    border-right: 6px solid #3b3b3b;                                                                 
}

#mbt-menu ul li:first-child a:hover:after {                                                      
    border-bottom-color: #04acec;                                                                    
}

#mbt-menu ul ul li:first-child a:hover:after {                                                   
    border-right-color: #0299d3;                                                                     
    border-bottom-color: transparent;                                                                
}

#mbt-menu ul li:last-child > a {                                                                 
    -moz-border-radius: 0 0 3px 3px;                                                                 
    -webkit-border-radius: 0 0 3px 3px;                                                              
    border-radius: 0 0 3px 3px;                                                                      
}

/* -----------------------------------------------------------------------------------------    */

.memberlist{    
    color: #666666;
    font-size: 12px;
    margin: 12px 5px 12px 12px}
.memberlist .eachmember{ height: 60px; padding: 0 6px 16px 2px;}
.memberlist .eachmember .membimage{  float: left;   padding-right: 10px;}
.memberlist .eachmember .membdesig{font-size: 0.95em;}
.memberlist tr{}
.memberlist tr td{ padding: 10px 2px;}
.memberseperator{
    background: none repeat scroll 0 0 #E4E7F0;
    border-bottom: 1px solid #BDC5D2;
    border-top: 1px solid #F0F1F6;
    height: 4px;
}

.sidebarlistscroll {
    overflow: hidden;
    height:100%;
    position:relative;
}
.sidebarlistscroll .news_cntr {padding: 10px 5px;}


.news_cntr .news_cntr_header{    
    color: #777;
    font: bold 12px Arial,Helvetica;
    padding: 5px 12px;
    text-shadow: 0 1px 0 #000000;
    text-transform: uppercase;
}
.news_cntr .news_container{}
.news_cntr .news_container .eachnews{ padding:12px 5px; }
.news_cntr .news_container .eachnews .newsimg{}
.news_cntr .news_container .eachnews .newsimg img{ border: 1px solid #AAAAAA;  max-width: 150px;  padding: 1px;}
.news_cntr .news_container .eachnews .newscontent{color: #333333;  font-size: 12px;}
.news_cntr .news_container .eachnews .newscontent .newsconttitle{font-weight:bold; padding:2px 0;}
.news_cntr .news_container .eachnews .newsreadmore { padding: 5px;}
.news_cntr .news_container .eachnews .newsreadmore a{ text-decoration: none;  color:#AA8800; }
.news_cntr .news_container .eachnews .newsreadmore a:hover{text-decoration: underline;}

.newspagination {   
    border-top: 1px solid #666666;
    bottom: 0;
    display: block;
    left: 0;
    padding: 10px 5px;
    position: absolute;
    width: 90%;
}
.newspagination .page_prev, .newspagination .page_play, .newspagination .page_next{
    background: none repeat scroll 0 0 grey;
    border-radius: 3px 3px 3px 3px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    text-align: center;
    width: 20px;
    margin: 0 3px;
    cursor: pointer;
}
.newspagination .page_prev{}
.newspagination .page_play{ font-size: 10px;    font-weight: bolder;   line-height: 17px;}
.newspagination .page_next{}
.newspagination .page_ststus{float:right;}




.noticebarlistscroll {
    overflow: hidden;
    height:100%;
    position:relative;
}
.noticebarlistscroll .notice_cntr {padding: 10px 5px;}


.notice_cntr .notice_cntr_header{    
    color: #777;
    font: bold 12px Arial,Helvetica;
    padding: 5px 12px;
    text-shadow: 0 1px 0 #000000;
    text-transform: uppercase;
}
.notice_cntr .notice_container{}
.notice_cntr .notice_container .eachnotice{ padding:12px 5px; }
.notice_cntr .notice_container .eachnotice .noticesimg{}
.notice_cntr .notice_container .eachnotice .noticesimg img{ border: 1px solid #AAAAAA;  max-width: 150px;  padding: 1px;}
.notice_cntr .notice_container .eachnotice .noticecontent{color: #333333;  font-size: 12px;}
.notice_cntr .notice_container .eachnotice .noticecontent .noticeconttitle{font-weight:bold; padding:2px 0;}
.notice_cntr .notice_container .eachnotice .noticereadmore { padding: 5px;}
.notice_cntr .notice_container .eachnotice .noticereadmore a{ text-decoration: none;  color:#AA8800; }
.notice_cntr .notice_container .eachnotice .noticereadmore a:hover{text-decoration: underline;}



.noticepagination {   
    border-top: 1px solid #666666;
    bottom: 0;
    display: block;
    left: 0;
    padding: 10px 5px;
    position: absolute;
    width: 90%;
}
.noticepagination .page_prev_not, .noticepagination .page_play_not, .noticepagination .page_next_not{
    background: none repeat scroll 0 0 grey;
    border-radius: 3px 3px 3px 3px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    text-align: center;
    width: 20px;
    margin: 0 3px;
    cursor: pointer;
}
.noticepagination .page_prev_not{}
.noticepagination .page_play_not{ font-size: 10px;    font-weight: bolder;   line-height: 17px;}
.noticepagination .page_next_not{}
.noticepagination .page_ststus_not{float:right;}



.noticeboard{}
.noticeboard p{ padding: 0;}
.noticeboard .noticeboardinner{padding: 5px 0 20px 5px;}
.noticeboard .noticeboardinner .eachnotice{padding: 12px 0;}
.noticeboard .noticeboardinner .eachnotice .notice_title{font-weight: bold; font-size: 14px; line-height: 16px;}
.noticeboard .noticeboardinner .eachnotice .notice_content{}


#content{
    z-index: 10;
/*    padding: 2px 12px 10px;   */
}
#content .main{
    padding: 0 12px;
}
.main .maininer{width: 100%;}
 .col50float{ 
     float: left; 
     width: 50%; 
     wid\th: 49.9%;  /* IE6,7 hack*/
 }
 .col50float .colinner{ padding: 10px;}
 .col50float .bordrrgt{ border-right: 1px solid #DDD;}

 .col50float .round-col_notice{ min-height: 555px; border-radius:10px; border: 1px solid #DDD;}

 .round-col{ min-height: 316px; border-radius:10px; }
 .tabmain{padding: 5px;    background-color: grey;       border-radius: 5px;}
 
.main .box-info {
    border-spacing: 18px;
    display: table;
    margin: 0 -10px;
/*    width: 1020px;*/
}
.box-info .box25 {
    background: none repeat scroll 0 0 #FFFFFF;
    display: table-cell;
    margin: 0 7px;
    min-height: 224px;
/*    padding: 40px 15px 20px;*/
    padding: 10px;
    position: relative;
    text-align: center;
    vertical-align: top;
    max-width: 25%;
}
.roundborder{
    border:1px solid #AAA;
   border-radius:10px;
}
  
#bottabs{
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

#bottabs li{
  float: left;
  margin: 0 .5em 0 0;
}

#bottabs a{
  position: relative;
  background: #ddd;
  background-image: linear-gradient(to bottom, #fff, #ddd);  
  padding: .7em 3.5em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  border-radius: 0 0 0 5px;
  box-shadow: 0 2px 2px rgba(0,0,0,.4);
}

#bottabs a:hover,
#bottabs a:hover::after,
#bottabs a:focus,
#bottabs a:focus::after{
  background: #fff;
}

#bottabs a:focus{
  outline: 0;
}

#bottabs a::after{
  content:'';
  position:absolute;
  z-index: 1;
  top: 0;
  right: -.5em;  
  bottom: 0;
  width: 1em;
  background: #ddd;
  background-image: linear-gradient(to bottom, #fff, #ddd);  
  box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  transform:skew(-15deg);
  border-radius: 0 0 5px 0;  
}

#bottabs #current a,
#bottabs #current a::after{
  background: #fff;
  z-index: 3;
}

#tabcontent
{
    background: #fff;
    padding: 2em;
    height: 220px;
    position: relative;
    z-index: 2;    
    border-radius: 5px 5px 5px 0;
    box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
/*    border: 1px solid #EEEEEE;  */
}



#tabs .tablinks{float: left; min-width: 200px; width: 20%;padding: 0; background-color: #5082B7;}
#tabs .tablinks li{   
/*    border-bottom: 1px solid;*/
    display: block;
    list-style: none outside none;
    padding: 12px 12px 12px 0;
    text-align: right;

}
 
#tabs .tablinks li a{ color:#FFF; text-decoration: none;}
#tabs .tabcontent{float: left;  width: 75%;}
#tabs .tabcontent .tab_data{
    border: 1px solid; 
    border-radius: 10px;
    min-height: 500px;
    -webkit-box-shadow: -8px 8px 6px 4px rgba(0, 0, 0, .2);
    box-shadow: -8px 8px 6px 4px rgba(0, 0, 0, .2);

}
#tabs .active{ background-color: white;margin-right: -1px;}    
#tabs .active a{color: #000000 !important;}   

footer{
    background: url("../images/diag_bg.png") repeat scroll 0 0 transparent;
    border-top: 1px solid #DDDDDD;
    /*padding: 25px 0 10px; */
}
footer .footerinner{
    background: url("../images/vertshadow.png") no-repeat scroll center top transparent;
    padding: 25px 12px 10px;
    font-size: 12px;
}
footer .footermsg{    padding: 5px 35px;   text-align: center;}
footer .copy{text-align: center;}



fieldset {
    border: none;
}

form.signin .textbox label {
    display: block;
    padding-bottom: 7px;
}

form.signin .textbox span {
    display: block;
}

form.signin p, form.signin span {
    color: #999;
    font-size: 11px;
    line-height: 18px;
}

form.signin .textbox input {
    background: #666666;
    border-bottom: 1px solid #333;
    border-left: 1px solid #000;
    border-right: 1px solid #333;
    border-top: 1px solid #000;
    color: #fff;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font: 13px Arial, Helvetica, sans-serif;
    padding: 6px 6px 4px;
    width: 200px;
}

form.signin input:-moz-placeholder {
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

form.signin input::-webkit-input-placeholder {
    color: #bbb;
    text-shadow: 0 0 2px #000;
}

.button {
    background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
    background: -o-linear-gradient(top, #f3f3f3, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
    border-color: #000;
    border-width: 1px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    padding: 6px 6px 4px;
    margin-top: 10px;
    font: 12px;
    width: 214px;
}

.button:hover {
    background: #ddd;
}
/* EOD popup div styles   */