﻿@using SBL.DomainModel.Models.UploadImages
@using SBL.eLegistrator.HouseController.Web.Helpers
@model SBL.eLegistrator.HouseController.Web.Areas.Library.Models.PressClipViewModel
<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 5px;
    }
</style>
<link href="~/assets/css/lightbox.css" rel="stylesheet" />
<link href="~/assets/css/datepicker.css" rel="stylesheet" />

<style>
    .field-validation-error {
        color: red;
        background: none !important;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    @Html.Partial("/Areas/SuperAdmin/Views/Shared/_BreadcrumbsPartial.cshtml")
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "PressClipping")">@Resources.MasterDataDashboard.Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "PressClipping")">@Resources.MasterDataDashboard.PressClipping</a>
            </li>
            <li class="active">
                @if (Model.Mode == "Add")
                {
                    @Resources.MasterDataDashboard.AddPressClipping
                }
                else
                {
                    @Resources.MasterDataDashboard.EditPressClipping
                }
            </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>
                @* @Resources.MasterDataDashboard.MasterData
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @if (Model.Mode == "Add")
                    {
                        @Resources.MasterDataDashboard.AddPressClipping
                    }
                    else
                    {
                        @Resources.MasterDataDashboard.EditPressClipping
                    }

                </small>*@
            </h1>
        </div>
        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.AddPressClipping</h4>
            }
            else
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.EditPressClipping</h4>
            }
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
                        @using (Html.BeginForm("SavePressClip", "PressClipping", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.PressClipID)
                            @Html.HiddenFor(model => model.ScannedCopyImg)
                            @Html.HiddenFor(model => model.Status)
                            @Html.HiddenFor(m => m.Mode)
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="AdhaarID">
                                    @Resources.MasterDataDashboard.NewsPaperName
                                </label>
                                <div class="col-sm-9 help-block">
                                    @Html.DropDownListFor(model => model.NewsPaperId, Model.NewsPapaerList, "--Select News Paper--", new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.NewsPaperId)
                                    @*   @Html.TextBoxFor(model => model.NewsPaperName, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.NewsPaperName })
                                    @Html.ValidationMessageFor(m => m.NewsPaperName)*@
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="NewsDate">
                                    @Resources.MasterDataDashboard.NewsDate
                                </label>
                                <div class="col-sm-9 help-block">
                                    @if (Model.Mode == "Add")
                                    {
                                        @Html.TextBoxFor(model => model.NewsDate, " ", new { @class = "col-xs-10 col-sm-5 date-picker", @placeholder = @Resources.MasterDataDashboard.NewsDate, @autocomplete = "off" })
                                    }
                                    else
                                    { 
                                        @Html.TextBoxFor(model => model.NewsDate, "{0:MM/dd/yyyy}", new { @class = "col-xs-10 col-sm-5 date-picker", @placeholder = @Resources.MasterDataDashboard.NewsDate, @autocomplete = "off" })
                                    }
                                    @Html.ValidationMessageFor(model => model.NewsDate)
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="EmpCode">@Resources.MasterDataDashboard.PageNumber</label>
                                <div class="col-sm-9 help-block">
                                    @Html.TextBoxFor(model => model.PageNumber, new { @class = "col-xs-10 col-sm-5 IsnumericClass", @placeholder = @Resources.MasterDataDashboard.PageNumber, @autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.PageNumber)
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="DeptID">@Resources.MasterDataDashboard.Subject</label>
                                <div class="col-sm-9 help-block">
                                    @Html.TextBoxFor(model => model.Subject, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.Subject, @autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.Subject)
                                </div>
                            </div>
                          
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.ContentKeywords</label>
                                <div class="col-sm-9 help-block">
                                    @Html.TextBoxFor(model => model.ContentKeywords, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.ContentKeywords, @autocomplete = "off", @maxlength = "41" })
                                    @Html.ValidationMessageFor(model => model.ContentKeywords)
                                </div>
                            </div>
                            
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.ContentText</label>
                                <div class="col-sm-9 help-block">
                                    @Html.TextBoxFor(model => model.ContentText, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.ContentText, @autocomplete = "off", @maxlength = "61" })
                                    @Html.ValidationMessageFor(model => model.ContentText)
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Category</label>
                                <div class="col-sm-9 help-block">
                                    @Html.DropDownListFor(model => model.Category, Model.CategoryList, "--Select Category--", new { @class = "col-xs-10 col-sm-5" })
                                    @Html.ValidationMessageFor(model => model.Category)
                                </div>
                            </div>
                            <div class="space-2"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.ScannedCopyImg</label>
                                <div class="col-sm-9">
                                 @{
                                        System.Text.StringBuilder sb = new System.Text.StringBuilder();
                                        sb.Append(Model.PressClipID + ",");
                                        sb.Append("PressClipping");
                                                }
                                    @if (Model.Mode == "Add")
                                    {
                                        <input type="file" name="files" value="" multiple="multiple" onchange="return validateFile()" />
                                    }
                                    else
                                    {
                                        if ((List<mUploadImages>)Helper.ExecuteService("UploadImages", "GetAllUploadImages", sb.ToString()) != null && ((List<mUploadImages>)Helper.ExecuteService("UploadImages", "GetAllUploadImages", sb.ToString())).Count() > 0)
                                        {
                                                    
                                        <div class="col-xs-12">
                                            <!-- PAGE CONTENT BEGINS -->
                                            <div>
                                                <div class="image-row">
                                                    @foreach (var obj in ((List<mUploadImages>)Helper.ExecuteService("UploadImages", "GetAllUploadImages", sb.ToString())))
                                                    {

                                                        <a class="example-image-link" href="~/Images/PressClipping/@obj.FileName" data-lightbox="example-1">
                                                            <img class="example-image" src="~/Images/PressClipping/@obj.FileName" height="50px" width="50px" alt="image-1" /></a>
                                                    }
                                                </div>
                                            </div>
                                            <!-- PAGE CONTENT ENDS -->
                                        </div>
                                        }
                                        else
                                        {
                                        <img src="~/Images/Common/no_img.gif" height="50px" width="50px" /> 
                                        }
                                        <input type="file" name="files" multiple="multiple"  id="UploadImages"  onchange="return validateFile()"    />
                                         
                                    }
                                </div>

                           
                            </div>
                             
                          
                          
                           
                            <div class="space-2"></div> 
                            <hr />  
                            <div class="btn-group pull-right padding-10">
                                <!-- #section:plugins/fuelux.wizard.buttons -->
                                <button type="submit" id="btnSave" class="btn btn-sm btn-purple">
                                    <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                    @Resources.MasterDataDashboard.Save</button>
                                <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                    <i class="ace-icon fa fa-times bigger-125"></i>
                                    @Resources.MasterDataDashboard.Reset
                                </button>
                                <!-- /section:plugins/fuelux.wizard.buttons -->
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/lightbox.js"></script>
<script type="text/javascript">

   


    $(document).ready(function () {
        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "mm/dd/yyyy"
        });
        $("#NewsPaperName").focus();

        $("#PressClipping").addClass("active open");
        $("#PressClippingSub").addClass("nav-show").css("display", "block");
        $("#PressClippingIndex").addClass("active");
        $("#PressClippingLinkId").removeClass("fa-comment").addClass("fa-comment-o");

        $(':file').change(function () {
            for (var i = 0; i < this.files.length; ++i) {
                var name = this.files.item(i).name;
                var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
                var Extension = name.split('.').pop().toLowerCase();
                if ($.inArray(Extension, fileExtension) == -1) {
                    alert(name + " is not valid format. Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
                    return false;
                }
            }
        });

        $('.IsnumericClass').keypress(function (e) {
            var key = (e.which) ? e.which : e.keyCode;
            if ((key >= 48 && key <= 57) || (key == 44) || (key == 8)) {

                return true;
            }
            else {
                return false;
            }
        });
    });

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function validateFile() {
       
        var deniedExtensions = ['ade', 'adp', 'bat', 'chm', 'cmd',
            'com', 'cpl', 'exe', 'hta', 'ins', 'isp', 'jse', 'lib',
            'lnk', 'mde', 'msc', 'msp', 'mst', 'pif',
            'scr', 'sct', 'shb', 'sys', 'vb', 'vbe', 'msi',
            'vbs', 'vxd', 'wsc', 'wsf', 'wsh'];

        var fileExtension = $('#file').val().split('.').pop().toLowerCase();

        var isValidFile = true;

        for (var index in deniedExtensions) {

            if (fileExtension == deniedExtensions[index]) {

                isValidFile = false;

                break;
            }
        }

        if (isValidFile == false) {
            var deniedExtension = ['ade', 'adp', 'bat', 'chm', 'cmd',
               'com', 'cpl', 'exe', 'hta', 'ins', 'isp', 'jse', 'lib',
               'lnk', 'mde', 'msc', 'msp', 'mst', 'pif',
               'scr', 'sct', 'shb', 'sys', 'vb', 'vbe',
               'vbs', 'vxd', 'wsc', 'wsf', 'wsh'];

            $('#file').after("<span class='ErrorMessage'> 'The following file extensions : *.'+ deniedExtension.join(', *.') + ' are not allowed'</span>");
            
            $('#file').val("");
        }
        return isValidFile;
    }

    $('#btnSave').click(function (e) {

        if (ValidateForm() == false) {

            e.preventDefault();

            e.stopPropagation();
        }
    });

    function ValidateForm() {
       
        var IsValid = true;
        $('.ErrorMessage').remove('');
        if ($('#NewsPaperId').val() == '') {

            $('#NewsPaperId').after("<span class='ErrorMessage'> Select News Paper</span>");
            IsValid = false;
        }
        else if ($('#NewsDate').val() == '') {

            $('#NewsDate').after("<span class='ErrorMessage'>News Date  Required</span>");
            IsValid = false;
        }

        else if ($('#PageNumber').val() == '') {

            $('#PageNumber').after("<span class='ErrorMessage'>Page Number is Required</span>");
            IsValid = false;
        }

        else if ($('#Subject').val() == '') {

            $('#Subject').after("<span class='ErrorMessage'>Subject is required</span>");
            IsValid = false;
        }
        else if ($('#ContentKeywords').val() == '') {

            $('#ContentKeywords').after("<span class='ErrorMessage'>Content Keywords is required</span>");
            IsValid = false;
        }
        else if ($('#Category').val() == '') {

            $('#Category').after("<span class='ErrorMessage'>Category is required</span>");
            IsValid = false;
        }
        else if (!$.isNumeric($('#PageNumber').val())) {

            $('#PageNumber').after("<span class='ErrorMessage'>Numeric Only</span>");
            IsValid = false;
        }
        else if ($('#NewsDate').val() != '') {

            //$('#DeptIDValidation').html("Department Id Required");
            var todaysDate = new Date();
            var inputDate = new Date($('#NewsDate').val());
            if (inputDate > todaysDate) {

                $('#NewsDate').after("<span class='ErrorMessage'>News Date  must be less than today date or Today Date</span>");
                IsValid = false;
            }
        }
        else {

            IsValid = true;
        }

        return IsValid;
        //else if ($('#EmpCode').val() == '') {

        //    $('#EmpCodeValidation').html("Employee Code is Required");

        //    return false;
        //}
    }

    function resetFields() {
        $(".field-validation-error").empty();
        $('#NewsPaperName').html('');
        $('#NewsDate').val('');
        $('#PageNumber').html('');
        $('#Subject').html('');
        $('#ContentKeywords').html('');
        $('#ContentText').html('');
        $('#NewsPaperName').focus();
    }

</script>
