﻿@model  List<SBL.eLegistrator.HouseController.Web.Areas.Library.Models.PressClipViewModel>
@using SBL.DomainModel.Models.UploadImages
@using SBL.eLegistrator.HouseController.Web.Helpers
@{
    int count = 0;
}
<link href="~/assets/css/lightbox.css" rel="stylesheet" />

<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    @Html.Partial("/Areas/SuperAdmin/Views/Shared/_BreadcrumbsPartial.cshtml")
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "PressClipping")">@Resources.MasterDataDashboard.Home</a>
            </li>

            <li>
                <a href="@Url.Action("Index", "PressClipping")">@Resources.MasterDataDashboard.PressClipping</a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.List</li>
        </ul>

    </div>
    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->


        <!-- /section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
            <button class="btn  btn-sm btn-info" onclick="javascript:window.location.href='/Library/PressClipping/CreatePressClipping';">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                <span class="bigger-110">@Resources.MasterDataDashboard.New</span>
            </button>
        </div>
        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.PressClipping
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.List
                </small>
            </h1>
        </div>
        <div id="Menu">
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="pass-table">
                        @if (Model != null)
                        {
                            if (Model.Count() > 0)
                            {       
                            <div class="table-header">
                                <div class="form-group">
                                    @if (ViewBag.Msg != null)
                                    {
                                        <div class="alert alert-info" id="MsgDiv">
                                            <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
                                            <strong><i class="ace-icon fa fa-check-square-o"></i>Success! </strong>@ViewBag.Msg
                                        </div>
                                    }
                                </div>
                            </div>             
                            <table class="table table-striped table-bordered table-hover dataTable" id="tblPressClipDetails" aria-describedby="sample-table-2_info">
                                <thead>
                                    <tr role="row">
                                        <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.NewsPaperName</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.NewsDate</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.PageNumber</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.Subject</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.ContentKeywords</th>
                                        <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.ScannedCopyImg</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.ContentText</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.Category</th>
                                        <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    @foreach (var item in Model)
                                    {
                                        count = count + 1;  
                                        <tr>
                                            <td class="center">
                                                @count
                                            </td>
                                            <td style="width: 10%">@item.NewsPaperName</td>
                                            <td style="width: 10%">@item.NewsDate.ToString("dd/MM/yyyy")</td>
                                            <td style="width: 15%">@item.PageNumber</td>
                                            <td style="width: 15%">@item.Subject</td>

                                            <td style="width: 10%">@item.ContentKeywords</td>
                                            <td style="width: 10%">
                                                @{
                                        System.Text.StringBuilder sb = new System.Text.StringBuilder();
                                        sb.Append(item.PressClipID + ",");
                                        sb.Append("PressClipping");
                                                }

                                                @if ((List<mUploadImages>)Helper.ExecuteService("UploadImages", "GetAllUploadImages", sb.ToString()) != null && ((List<mUploadImages>)Helper.ExecuteService("UploadImages", "GetAllUploadImages", sb.ToString())).Count() > 0)
                                                {
                                                    
                                                    <div class="col-xs-12">
                                                        <!-- PAGE CONTENT BEGINS -->
                                                        <div>

                                                            <div class="image-row">
                                                                @foreach (var obj in ((List<mUploadImages>)Helper.ExecuteService("UploadImages", "GetAllUploadImages", sb.ToString())))
                                                                {

                                                                    <a class="example-image-link" href="~/Images/PressClipping/@obj.FileName" data-lightbox="example-1">
                                                                        <img class="example-image" src="~/Images/PressClipping/@obj.FileName" height="50px" width="50px" alt="image-1" /></a>
                                                                }
                                                            </div>
                                                        </div>
                                                        <!-- PAGE CONTENT ENDS -->
                                                    </div>
                                                }
                                                else
                                                {
                                                    <img src="~/Images/Common/no_img.gif" height="50px" width="50px" /> 
                                                }
                                            </td>
                                            <td style="width: 10%">@item.ContentText</td>
                                            <td style="width: 10%">@item.Category</td>
                                            <td class="center" style="width: 10%">
                                                <div class="hidden-sm hidden-xs action-buttons">
                                                    <a data-rel="tooltip" class="green tooltip-success" title="Edit" href="@Url.Action("EditPressClip", "PressClipping", new { Id = item.PressClipID })">
                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                    </a>
                                                    <a data-rel="tooltip" class="red tooltip-error DeleteSec" title="Delete" id="@item.PressClipID"  href="@Url.Action("DeletePressClip", "PressClipping", new { Id = item.PressClipID })">
                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                    </a>
                                                </div>
                                                <div class="hidden-md hidden-lg">
                                                    <div class="inline position-relative">
                                                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                            <li>
                                                                <a  href="@Url.Action("EditPressClip", "PressClipping", new { Id = item.PressClipID })" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                    <span class="green">
                                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="@Url.Action("DeletePressClip", "PressClipping", new { Id = item.PressClipID })"  class="tooltip-error DeleteSec" data-rel="tooltip" title="Delete">
                                                                    <span class="red">
                                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>                                                                
                                    }

                                </tbody>
                            </table>
                            <!-- PAGE CONTENT ENDS -->
                            }
                            else
                            {
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="alert alert-info">
                                        <strong>@Resources.MasterDataDashboard.NoPressClippingFound</strong><br />
                                    </div>
                                </div>
                            </div>
                            }
                        }
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@
            </div>
            <!-- /section:basics/footer -->
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>
    <div class="space-6"></div>
</div>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/assets/js/lightbox.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        var oTable1 =
        $('#tblPressClipDetails')
        //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
              { "bSortable": false },
             null, null, null, null, null, null, null, null,
              { "bSortable": false }
            ]

        });

        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

        setTimeout(function () {
            $("#MsgDiv").slideUp(400);
        }, 2000);


        $("#PressClipping").addClass("active open");
        $("#PressClippingSub").addClass("nav-show").css("display", "block");
        $("#PressClippingIndex").addClass("active");
        $("#PressClippingLinkId").removeClass("fa-comment").addClass("fa-comment-o");
    });

    function tooltip_placement(context, source) {
        var $source = $(source);
        var $parent = $source.closest('table')
        var off1 = $parent.offset();
        var w1 = $parent.width();
        var off2 = $source.offset();
        //var w2 = $source.width();
        if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
        return 'left';
    }

    $(".DeleteSec").on('click', function (e) {

        e.preventDefault();

        var url = $(this).attr('href');

        var id = $(this).attr('id');

        var dlg = bootbox.confirm('@Resources.MasterDataDashboard.Areyousurewanttodelete', function (result) {

            if (result) {

                $(dlg).modal('hide');

                window.location.href = url;
            }
        });
    });

</script>

