﻿<div id="sidebar" class="sidebar responsive">
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>
    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>
            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>
            <!-- #section:basics/sidebar.layout.shortcuts -->
            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>
            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>
            <!-- /section:basics/sidebar.layout.shortcuts -->
        </div>
        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>
            <span class="btn btn-info"></span>
            <span class="btn btn-warning"></span>
            <span class="btn btn-danger"></span>
        </div>
    </div>
    <!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list" style="top: 0px;">
        <li class="">
            <a href="#">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text">My Dashboard </span>
            </a>

            <b class="arrow"></b>
        </li>
        <li class="active hsub">
            <a href="@Url.Action("Index", "PressClipping")" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text">Press Clipping</span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">

                 <li class="hsub">
                    <a href="@Url.Action("Index", "PressClipping")">
                        <i class="menu-icon fa fa-bookmark"></i>
                        <span class="menu-text">Press Clipping</span>
                        <b class="arrow fa fa-angle-right"></b>
                    </a>
                    <b class="arrow"></b>

                </li>
                <li class="hsub">
                    <a href="@Url.Action("SetAvailability", "PressClipping")">
                        <i class="menu-icon fa fa-bookmark"></i>
                        <span class="menu-text">Set Availability </span>

                        <b class="arrow fa fa-angle-right"></b>
                    </a>
                    <b class="arrow"></b>

                </li>

            </ul>
            <!-- /.nav-list -->
        </li>
    </ul>

    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <!-- /section:basics/sidebar.layout.minimize -->
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
    </script>

</div>

<script type="text/javascript">

    $(document).ready(function () {

    });
    
</script>
