﻿@using SBL.eLegistrator.HouseController.Web.Helpers

@model  List<SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models.AuthorityLetterViewModel>

<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }
</style>
<link href="~/assets/css/datepicker.css" rel="stylesheet" />

<div class="page-content">
    <!-- #section:settings.box -->

    @*      <div class="page-header">
            <h1>Bill for Members
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.List
                </small>
            </h1>
        </div>*@
    <div id="Menu">
        <div class="row">
            <div class="col-xs-12">
                <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
                    <a class="btn  btn-sm btn-warning"  href="#" onclick="PopulateRemiiterDetails()"><i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                        <span class="bigger-110">Update Remitter Details</span></a>

                    <a class="btn  btn-sm btn-info" target="_blank" href="/AccountsAdmin/AuthorityLetter/GenerateAuthorityLetter"><i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                        <span class="bigger-110">@Resources.MasterDataDashboard.New</span></a>

                </div>
                <br />
                <br />
                <br />
                <div class="table-responsive ">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="alert alert-block alert-danger" id="SearchAlertDiv" style="display: none;">
                        <strong><i class="ace-icon fa fa-check-square-o"></i>Error! </strong><span id="MsgSpan">Please select at least one field </span>
                    </div>
                    <div id="divDataContainerMainBill">
                        @{Html.RenderPartial("~/Areas/AccountsAdmin/Views/AuthorityLetter/_AuthorizeLetterList.cshtml", Model);}
                    </div>

                    <!-- /.col -->
                </div>
            </div>
            <!-- /.row -->
        </div>


    </div>
    <!-- /.page-content -->
</div>


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        setTimeout(function () {
            $("#MsgDiv").slideUp(400);
        }, 2000);

        $("#BillReimbursement").addClass("active open");
        $("#BillReimbursementSubMenu").addClass("nav-show").css("display", "block");
        $("#AuthorityLetter").addClass("active");
        $("#BillReimbursementIcon").removeClass("fa-comment").addClass("fa-comment-o");
    });



    function DeleteAuthorizeLetter(Id) {


        $.ajax({
            type: "POST",
            url: '/AuthorityLetter/DeleteAuthorizeLetter',
            data: '{ Id: "' + Id + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainerMainBill').empty();
                $('#divDataContainerMainBill').append(result);

            },
            error: function (error) {
                $('#divDataContainerMainBill').empty();
                $('#divDataContainerMainBill').append(error.responseText);

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }


    function PopulateAuthorityLetter(Id, Action) {
        $.ajax({
            type: "POST",
            url: '/AuthorityLetter/PopulateAuthorityLetter',
            data: '{ Id: "' + Id + '",Action: "' + Action + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#AuthorityLetterDiv').empty();
                $('#AuthorityLetterDiv').append(result);
                $('#AuthorityLetterModel').modal('show');
            },
            error: function (error) {
                $('#AuthorityLetterDiv').empty();
                $('#AuthorityLetterDiv').append(error.responseText);
                $('#AuthorityLetterModel').modal('show');

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }



    function PopulateRemiiterDetails() {
        $.ajax({
            type: "POST",
            url: '/AuthorityLetter/PopulateRemitterDetail',
            // data: '{ Id: "' + Id + '",Action: "' + Action + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#RemitterDetailsDiv').empty();
                $('#RemitterDetailsDiv').append(result);
                $('#RemitterDetailsModel').modal('show');
            },
            error: function (error) {
                $('#RemitterDetailsDiv').empty();
                $('#RemitterDetailsDiv').append(error.responseText);
                $('#RemitterDetailsModel').modal('show');

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }


    function SaveRemitterDetails() {
        var IsValid = true;
        $('.ErrorMessage').remove('');
        if ($('#RemAcNo').val() == '') {
            $('#RemAcNo').after("<span class='ErrorMessage'>Please fill value.</span>");
            $("#RemAcNo").css("border", "1px solid red");
            IsValid = false;
        }

        if ($('#RemName').val() == '') {
            $('#RemName').after("<span class='ErrorMessage'>Please fill value.</span>");
            $("#RemName").css("border", "1px solid red");
            IsValid = false;
        }
        if ($('#RemAdd').val() == '') {
            $('#RemAdd').after("<span class='ErrorMessage'>Please fill value.</span>");
            $("#RemAdd").css("border", "1px solid red");
            IsValid = false;
        }
        if ($('#EmpName').val() == '') {
            $('#EmpName').after("<span class='ErrorMessage'>Please fill value.</span>");
            $("#EmpName").css("border", "1px solid red");
            IsValid = false;
        }
        if ($('#EmpMobile').val() == '') {
            $('#EmpMobile').after("<span class='ErrorMessage'>Please fill value.</span>");
            $("#EmpMobile").css("border", "1px solid red");
            IsValid = false;
        }
        if ($('#EmpEmailId').val() == '') {
            $('#EmpEmailId').after("<span class='ErrorMessage'>Please fill value.</span>");
            $("#EmpEmailId").css("border", "1px solid red");
            IsValid = false;
        }
        var RemAcNo = $('#RemAcNo').val();
        var RemName = $('#RemName').val();
        var RemAdd = $('#RemAdd').val();
        var EmpName = $('#EmpName').val();
        var EmpMobile = $('#EmpMobile').val();
        var EmpEmailId = $('#EmpEmailId').val();
        if (IsValid == true) {
            var QData = $('#TR2DataForm').serialize();
            $.ajax({
                type: "POST",
                url: ' /AccountsAdmin/AuthorityLetter/SaveRemitterDetail',
                data: '{ RemAcNo: "' + RemAcNo + '",RemName: "' + RemName + '",RemAdd: "' + RemAdd + '",EmpName: "' + EmpName + '",EmpMobile: "' + EmpMobile + '",EmpEmailId: "' + EmpEmailId + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                   
                    var dlg = bootbox.alert(result, function (e) {
                        $(dlg).modal('hide');
                    });
                },
                error: function (error) {
                    var dlg = bootbox.alert(error.responseText, function (e) {
                        $(dlg).modal('hide');
                    });
                    
                },
                complete: function (results) {
                    $('#loader-wrapper').hide();
                    $('#RemitterDetailsModel').modal('hide');
                }
            });
        }
    }

</script>




<!--Generate Authority Letter -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="AuthorityLetterModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="EstablishBillTitle">Generate Authority Letter </h4>
            </div>
            <form method="post" action="/SchemeSetup/SaveQualification" id="AuthorityLetterForm">
                <div class="modal-body">

                    <div id="AuthorityLetterDiv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="UpdateEstablishBill" onclick="SaveEstablishBill()" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>



<!--Populate Remitter Details -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="RemitterDetailsModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="RemitterDetailsTitle">Update Details </h4>
            </div>
            <form method="post" action="/SchemeSetup/SaveQualification" id="RemitterDetailsForm">
                <div class="modal-body">

                    <div id="RemitterDetailsDiv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="RemitterDetailsBill" onclick="SaveRemitterDetails()" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
