﻿@model SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models.AuthorityLetterViewModel

<label class="control-label no-padding-right" for="SubMajorHead">@Resources.MasterDataDashboard.BillIds</label>
<div class="help-block">
    @Html.ListBoxFor(m => m.BillIds, new SelectList(Model.BillList, "EstablishBillID", "BillNumber", "0"), new { @id = "DdlBill", @tabindex = "1", @class = "form-control", @multiple = "multiple", style = "width: 250px", @onchange = "get();" })
<div><span id="DdlBillValidation" style="color:red"></span></div>
</div>
<link href="~/Content/MultiSelectList/multiple-select.css" rel="stylesheet" />
<script src="~/Scripts/MultiSelectBox/jquery.multiple.select.js"></script>

<script>
    $(document).ready(function () {
        $("#DdlBill").multipleSelect({ selectAll: true, placeHolder: "Select Bill" });
    })
</script>
