﻿

 @model SBL.DomainModel.Models.UserModule.tUserAccessRequestModel
@{
    int count = 0;
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@Html.Action("LeftNavigationMenu", "SuperAdmin")
 @Scripts.Render("~/bundles/multipleCheckDropDown")
@Styles.Render("~/bundles/multipleCheckDropDownCSS")

      @Html.AntiForgeryToken()

     @Html.HiddenFor(m => m.ID, new { @id = "hdnID" })
<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>

       <script src="~/assets/js/flot/jquery.flot.min.js"></script>
        <script src="~/assets/js/flot/jquery.flot.pie.min.js"></script>
        <script src="~/assets/js/flot/jquery.flot.resize.min.js"></script>


<!-- page specific plugin styles -->
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />

<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
  
    <!-- /section:basics/content.breadcrumbs -->
       @Html.Partial("_BreadcrumbsPartial")
  

    <div class="page-content">
        <!-- #section:settings.box -->


        <!-- /section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
          
        </div>
       
        <div id="Menu">
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="widget-box">
 
 
</div>
                      

              <div class="widget-box">
    <div class="widget-header widget-header-flat">
          <div class="widget-toolbar no-border">

        </div>
       @*  <div class="widget-toolbar no-border">
             <div class="divmargin" style="font:x-large">
                  <b>User Name</b>         
              </div>
        </div>*@
      
    </div>
</div>
<div id='fullDetailsModel' class="hide">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>
<div id="divPendingSrchList"></div>
<div class="row">
    <div class="col-xs-12">
       
        <!-- PAGE CONTENT BEGINS -->
        <input type="hidden" id="SelectedSignChkbxId" name="SelectedChkbxId" />
        <input type="hidden" id="SelectedFixNo" name="SelectedFixNo" />
         
         @using (Html.BeginForm("SendUserAcccessRequest", "AcceptRejectUser", FormMethod.Post, new { @id = "SendAccessrequest", @class = "form-horizontal", @enctype = "multipart/form-data" }))
        {
              @Html.Hidden("hdnUserAccessAccess")
               @Html.AntiForgeryToken();
              @Html.HiddenFor(m => m.ID)
             <div class="pass-table">

                   <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                    <thead>
                                 <tr role="row">

                                          <th class="center sorting_disabled" role="columnheader" style="display:none" rowspan="1"  aria-label="">Check</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1"  aria-label="Name: activate to sort column ascending">User Name</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1"  aria-label="Pass Type: activate to sort column ascending">Access Description</th>
                                      <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1"  aria-label="Pass Type: activate to sort column ascending">User Type</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Action Control List</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending" style="display:none">Status</th>
                                        <th class="sorting_disabled" role="columnheader" style="display:none" rowspan="1" colspan="1" aria-label="">Action</th>
                                    </tr>
                    </thead>
                     
                   <tbody  class="addtblcss" role="alert" aria-live="polite" aria-relevant="all">
                      

                                              

                        @foreach (var item in Model.objAccRejList)
                        {
                            count = count + 1;
                            string style = (count % 2 == 0) ? "odd" : "even";

                            var trID = item.ID;
                           
                            <tr class="@style" id="@trID">

                                   <td class="" style="display:none">
                                     @if(@item.IsAcceptedDate!=null || @item.IsRejectedDate!=null)
                                     {
                                   <div style="width:100%">
                                <input type="checkbox" class="csmod" value="@item.ID" onclick="setmodulevalue(this)" />
                                  
                                   </div> 
                                           
                                    }
                                     else
                                      {
                                        <div style="width:100%">
                                        <input type="checkbox" class="csmod" value="@item.ID" onclick="setmodulevalue(this)" />
                                 @*<input type="checkbox" id="Chk_@item.ID" class="Checkbox"  onclick="checkAcceptRejectChange(this.id)" style="vertical-align:top"/>*@
                                  
                                   </div>   
                                     }
                                       <br /></td>
                                 <td class="">@item.UserName</td>
                                 <td class="">@item.ModuleName</td>
                                 <td class="">@item.SubUserTypeName</td>

                                  <td colspan="2">
                                                        @foreach (var item2 in item.ActionListKey)
                                                        {                                                           
                                                             
                                                            int CheckedC=0;
                                                            foreach (var item3 in item.ActionListControlId)
                                                            {
                                                                
                                                               if (item3.Value  == item2.Value)
                                                                {
                                                                   <input type="checkbox" onclick="setmodulevalue2(this)" checked="checked" value="@item2.Key"  />@item3.Value
                                                                    CheckedC=1;
                                                                   
                                                                }
                                                                
                                                               
                                                            }
                                                            if (CheckedC == 0)
                                                            {
                                                                 <input type="checkbox" onclick="setmodulevalue2(this)" value="@item2.Key"  />@item2.Value
                                                            }


                                                        }

                                                    </td>


                       

                                  <td class="" style="display:none">

                                    @if (@item.IsAcceptedDate != null)
                                    {
                                       <div>Accepted</div>
                                    }
                                    @if (@item.IsRejectedDate != null)
                                    {
                                        <div>Rejected</div>
                                    }
                                    else
                                    {

                                    }

                                </td>

                                                               <td class="center" style="width: 10%;display:none">
                                                <div class="hidden-sm hidden-xs action-buttons">

                                                    <a data-rel="tooltip" class="green tooltip-success" title="Edit"   href="@Url.Action("EditWebAdminAccepted", "AcceptRejectUser", new { Id = item.ID })">
                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                    </a>
                                                     <a data-rel="tooltip" class="red tooltip-error DeleteUseType" title="Delete" id="@item.ID"  href="@Url.Action("DeleteWebAcceptUser", "AcceptRejectUser", new { SIds = item.ID })">
                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                    </a>
                                   
                                                </div>

                 
                                            </td>
                            </tr>
                           
                         
                        }
                        
                    </tbody>

                    
                </table>

                    <div class="wizard-actions">
              
                 <button type="submit" id="acceptbtn" style="text-align:right" class="btn btn-sm btn-purple"  onclick="return setvalue();">
                             
                  Update Request</button>
         
                </div>
  
                    </div>
      
         }

        <!-- PAGE CONTENT ENDS -->
    </div>
</div>
                        

                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.page-content -->
    </div>


   
    <!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@

            </div>

            <!-- /section:basics/footer -->
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>

<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>

    <div class="space-6"></div>
</div>
@*<div id="divDataContainer">
</div>*@


<script>

    function setvalue() {

        var ModuleAction = "";
        var assoDepartment = "";
        $('.addtblcss').find('tr').each(function () {
            var row = $(this);
         
            ModuleAction += "#";
            $(row).find("input[type=checkbox]").each(function () {
                if ($(this).is(':checked')) {
                    ModuleAction += "," + $(this).val();
                }

            });
        });
        $(".addclassDept").each(function () {
            if ($(this).is(':checked')) {
                assoDepartment += $(this).val() + ",";
            }

        });
        //assoDepartment = assoDepartment.substring(0, assoDepartment.length - 1)
        //$("#DepartmentIDs").val(assoDepartment);
        $("#hdnUserAccessAccess").val(ModuleAction);
        if ($("#hdnUserAccessAccess").val() == "" || ModuleAction.length < 6) {
            alert("Please check atleast one checkbox!!!");
            return false;
        }
        else {
            return true;
        }
    }
    function setmodulevalue(id) {
      
        //$(id).attr('checked', 'checked');
        if ($(id).is(':checked')) {
            $(id).attr('checked', 'checked');
            $(id).closest('tr').find('input[type="checkbox"]').each(function () {

                $(this).attr('checked', 'checked');

            });

        }
        else {

            $(id).removeAttr('checked');
            $(id).closest('tr').find('input[type="checkbox"]').each(function () {
                $(this).removeAttr('checked');

            });
        }

    }
    function setmodulevalue2(id) {
       

        $(id).closest('tr').find('.csmod').attr('checked', 'checked');


        //alert($(rr).val());
        if ($(id).is(':checked')) {
            $(id).attr('checked', 'checked');
        }
        else {
            $(id).removeAttr('checked');
        }

    }
</script>


<script>



    function checkAcceptRejectChange(id) {


        if (document.getElementById(id).checked) {


            var selectedId = document.getElementById("SelectedSignChkbxId").value;


            if (selectedId == "") {
                document.getElementById("SelectedSignChkbxId").value = id.substring(4);
            }
            else {
                selectedId = selectedId + "," + id.substring(4);

                document.getElementById("SelectedSignChkbxId").value = selectedId;
            }
            //alert(document.getElementById("SelectedChkbxId").value)
        }
        else {
            var selectedId = document.getElementById("SelectedSignChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(4), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4), "");
            }

            document.getElementById("SelectedSignChkbxId").value = newvalue;

            //alert(document.getElementById("SelectedChkbxId").value);
        }

        if ($(".Checkbox").not(':checked').length == 0) {
            $('#ChkBoxAll').attr('checked', true)
        }
        else {
            $('#ChkBoxAll').attr('checked', false)
        }
    }






    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
               { "bSortable": false },
              null, null, null,null,null,

              { "bSortable": false }

            ]
        });
    });

    function ChangeBreadCrumbParent(firstText) {
        $("#secondLink").empty();
        var firstlinkHtml = firstText;
        $("#secondLink").html(firstlinkHtml);
        $("#thirdLink").empty();
    }

    function ChangeBreadCrumbChild(secondText) {
        $("#thirdLink").empty();
        var secondlinkHtml = secondText;
        $("#thirdLink").html(secondlinkHtml);
    }





    @*    ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp");
    ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");*@

</script>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


     
















