﻿

 @model SBL.DomainModel.Models.UserModule.tUserAccessRequestModel
@{
    int count = 0;
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@Html.Action("LeftNavigationMenu", "SuperAdmin")
 

      @Html.AntiForgeryToken()

     @Html.HiddenFor(m => m.ID, new { @id = "hdnID" })
<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>

       <script src="~/assets/js/flot/jquery.flot.min.js"></script>
        <script src="~/assets/js/flot/jquery.flot.pie.min.js"></script>
        <script src="~/assets/js/flot/jquery.flot.resize.min.js"></script>


<!-- page specific plugin styles -->
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />

<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
  
    <!-- /section:basics/content.breadcrumbs -->
       @Html.Partial("_BreadcrumbsPartial")
  

    <div class="page-content">
        <!-- #section:settings.box -->


        <!-- /section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
          
        </div>
       
        <div id="Menu">
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="widget-box">
 
 
</div>
                        @using (Ajax.BeginForm("UpdateAcceptRejectUser", "AcceptRejectUser", new AjaxOptions { OnSuccess = "LoginSuccess", HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "updateUserAccess" }))
                        {

              <div class="widget-box">
    <div class="widget-header widget-header-flat">
          <div class="widget-toolbar no-border">
             <div class="divmargin">
                            
                @Html.DropDownListFor(m => m.UserID, new SelectList(Model.mUsersList, "UserId", "UserName", 0), new { @id = "DdlQuestionType", @tabindex = "6", @class = "select", @style = "width:120px;" })                      
              </div>
        </div>
         <div class="widget-toolbar no-border">
             <div class="divmargin" style="font:x-large">
                  <b>User Name</b>         
              </div>
        </div>
      
    </div>
</div>
<div id='fullDetailsModel' class="hide">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
       
        <!-- PAGE CONTENT BEGINS -->
        <input type="hidden" id="SelectedSignChkbxId" name="SelectedChkbxId" />
        <input type="hidden" id="SelectedFixNo" name="SelectedFixNo" />
        <div class="pass-table">
           
            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
               

                <div class="table-header">
                   @Resources.UserManagement.Module
                </div>

                <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                    <thead>
                                 <tr role="row">

                                        <th class="center sorting_disabled" role="columnheader" rowspan="1"  aria-label="">@Resources.UserManagement.SNo</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1"  aria-label="Name: activate to sort column ascending">User Name</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1"  aria-label="Pass Type: activate to sort column ascending">Access Description</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Action Control List</th>
                                        @*<th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>*@
                                    </tr>
                    </thead>
                     
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                      
                        @foreach (var item in Model.objAccRejList)
                        {
                            count = count + 1;
                            string style = (count % 2 == 0) ? "odd" : "even";

                            var trID = item.ID;
                            //onclick="GetEditModule('@item.ID')"
                            <tr class="@style" id="@trID">

                                 <td class="">
                                   <div style="width:100%">
                                 <input type="checkbox" id="Chk_@item.ID" class="Checkbox" onclick="checkAcceptRejectChange(this.id)" style="vertical-align:top"/>
                                  
                                   </div>   <br /></td>
                                 <td class="">@item.UserName</td>
                                 <td class="">@item.ModuleName</td>
                             
                                <td class="">
            
                                     
                                  @{string tr = @item.ActionName;}

                                   
                                       @{string[] tr1 = tr.Split(',');}
                                  
                                         @for (int i = 1; i < tr1.Length; i++)
                                         {
                                            
                                              <input type='checkbox' class='groupcheckbox'/ checked="checked" disabled="disabled" />@tr1[i]
                                         }
                                 
                             </td>
                            </tr>
                           
                         
                        }
                        
                    </tbody>

                    
                </table>

                     <div class="wizard-actions">
              
                <button type="button" id="acceptbtn" class="btn btn-sm btn-purple"  onclick="return ModuleUpdatecheckValidation();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        Accept Request</button>

                             <button type="button" id="rejectbtn" class="btn btn-sm btn-purple" onclick="return ModuleUpdateReject();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        Reject Request</button>
          
        </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>
                        }

                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.page-content -->
    </div>


   
    <!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@

            </div>

            <!-- /section:basics/footer -->
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>

<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>

    <div class="space-6"></div>
</div>
@*<div id="divDataContainer">
</div>*@

<script>

    function ModuleUpdatecheckValidation() {

        var SIds = document.getElementById("SelectedSignChkbxId").value;
        if (SIds != null || SIds != "") {
            alert("Are You Sure Want to Update?");

            $.ajax({
                url: "/UserManagement/AcceptRejectUser/MemberUpdateAcceptUser",
                type: 'GET',
                data: {
                    SIds: SIds
                },
                success: function (data) {
                    if (data) {
                        alert("Update Successfully");
                        return false;

                    }


                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                    location.reload(true);
                }
            });
        }

        else {
            //alert("Save successfully");
        }
    }

    function ModuleUpdateReject() {

        var SIds = document.getElementById("SelectedSignChkbxId").value;

        if (SIds != null || SIds != "") {
            alert("Are You Sure Want to Update?");

            $.ajax({
                url: "/UserManagement/AcceptRejectUser/MemeberUpdateRejectUser",
                type: 'GET',
                data: {
                    SIds: SIds
                },
                success: function (data) {
                    if (data) {
                        alert("Update Successfully");
                      @*  @Html.Action("AcceptRejectUser","AcceptRejectUser");*@
                        return false;

                    }


                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                    location.reload(true);
                }
            });
        }

        else {
            //alert("Save successfully");
        }
    }

    function checkAcceptRejectChange(id) {


        if (document.getElementById(id).checked) {


            var selectedId = document.getElementById("SelectedSignChkbxId").value;


            if (selectedId == "") {
                document.getElementById("SelectedSignChkbxId").value = id.substring(4);
            }
            else {
                selectedId = selectedId + "," + id.substring(4);

                document.getElementById("SelectedSignChkbxId").value = selectedId;
            }
            //alert(document.getElementById("SelectedChkbxId").value)
        }
        else {
            var selectedId = document.getElementById("SelectedSignChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(4), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4), "");
            }

            document.getElementById("SelectedSignChkbxId").value = newvalue;

            //alert(document.getElementById("SelectedChkbxId").value);
        }

        if ($(".Checkbox").not(':checked').length == 0) {
            $('#ChkBoxAll').attr('checked', true)
        }
        else {
            $('#ChkBoxAll').attr('checked', false)
        }
    }

    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
               { "bSortable": false },
              null, null,

              { "bSortable": false }

            ]
        });
    });


    $(".DeleteAccessAction").on('click', function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        var id = $(this).attr('Id');
        var path = "@Url.Action("CheckDepartmentIdExist", "Department")";

        var request = $.ajax({

            url: path,
            data: { DepartmentID: id },
            success: function (result) {
                //alert(result);
                if (!result) {

                    bootbox.confirm('@Resources.MasterDataDashboard.Areyousurewanttodelete', function (confresult) {

                        if (confresult) {

                            window.location.href = url;
                        }

                    })
                }
                else {

                    bootbox.alert('@Resources.MasterDataDashboard.ThisDepartmentIDalreadyusedinsomeothermodulesSoitcantbedeleted');
                }
            }


        });
    });


    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
               { "bSortable": false },
              null, null, null,

              { "bSortable": false }

            ]
        });
    });

    function ChangeBreadCrumbParent(firstText) {
        $("#secondLink").empty();
        var firstlinkHtml = firstText;
        $("#secondLink").html(firstlinkHtml);
        $("#thirdLink").empty();
    }

    function ChangeBreadCrumbChild(secondText) {
        $("#thirdLink").empty();
        var secondlinkHtml = secondText;
        $("#thirdLink").html(secondlinkHtml);
    }

    @*    ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp");
    ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");*@

</script>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


     
















