﻿ @model SBL.DomainModel.Models.UserModule.tUserAccessRequestModel
@{
    int count = 0;
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@Html.Action("LeftNavigationMenu", "SuperAdmin")

      @Html.AntiForgeryToken()

     @Html.HiddenFor(m => m.ID, new { @id = "hdnID" })
  

<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>

       <script src="~/assets/js/flot/jquery.flot.min.js"></script>
        <script src="~/assets/js/flot/jquery.flot.pie.min.js"></script>
        <script src="~/assets/js/flot/jquery.flot.resize.min.js"></script>
    <script src="~/Scripts/canvasloader-min.js"></script>
<!-- page specific plugin styles -->
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />



<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->

    <!-- /section:basics/content.breadcrumbs -->
       @Html.Partial("_BreadcrumbsPartial")
     
    <div class="page-content">
                  <div class="page-header">
            <h1>Access Control                             
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                   Pending Request List
                </small>
            </h1>
        </div>
        <!-- #section:settings.box -->

        <!-- /section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
        </div>

        <div id="Menu">
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->

                
              

<div id='fullDetailsModel' class="hide">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>


<div class="row" id="oldgrid">
    <div class="col-xs-12">

        <!-- PAGE CONTENT BEGINS -->
        <input type="hidden" id="SelectedSignChkbxId" name="SelectedChkbxId" />
        <input type="hidden" id="SelectedFixNo" name="SelectedFixNo" />
        <input type="hidden" id="SelectedUserID" name="SelectedUserID" />
        <input type="hidden" id="SelectedUserList" name="SelectedUserList" />


     
        <div class="pass-table">


                   <table class="table table-bordered dataTable" id="sample-table-3" aria-describedby="sample-table-2_info">
                    <thead>
                                 <tr role="row">
                                     <th class="center sorting_disabled">
													<label class="position-relative">
														<input type="checkbox" id="checkBoxAll"  onchange="checkAll(this)" class="ace" />
														<span class="lbl"></span>
													</label>
												</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1"  aria-label="Pass Type: activate to sort column ascending">Name</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1"  aria-label="Pass Type: activate to sort column ascending">AadharID</th>
@*                                     <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1"  aria-label="Pass Type: activate to sort column ascending">EmailID</th>
                                      <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1"  aria-label="Pass Type: activate to sort column ascending">MobileNo</th>*@
                                     <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1"  aria-label="Pass Type: activate to sort column ascending">UserType</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1"  aria-label="Pass Type: activate to sort column ascending">Sub UserType</th>
                                    </tr>
                       
                    </thead>

                   <tbody role="alert" aria-live="polite" aria-relevant="all">

                        @foreach (var item in Model.objAccRejList)
                        {
                            count = count + 1;
                            string style = (count % 2 == 0) ? "odd" : "even";

                            var trID = 1; //item.ID;
                            if (true)
                            {
                            <tr  @*class="tr1-@item.UserId"*@  class="@style" style="background-color:white;"  id="tr-@item.UserID">
                                 
                                <td role="gridcell"  aria-describedby="grid-table_subgrid" class="ui-sgcollapsed sgcollapsed" style="text-align:center;">
                                     <div style="width:100%">
                                       <label class="position-relative">
                                  <input class="ace" type="checkbox" id="Chk_@item.UserID"  value="@item.UserID" name="chkList"  onclick="checkAcceptRejectChangeByUser(this.id)" style="vertical-align:top" />
                                   <span class="lbl"></span>
                                           </label>
                                   </div>
                                    <a id="@item.UserID" onclick="GetDataByUserID(this.id)" class="classShowInnerData" style="cursor:pointer;"><span id='switch-@item.UserID' class="ui-icon ace-icon fa fa-plus center bigger-110 blue"></span></a>

                                </td>
                                 
                                 @* <td>

                                       <div class="widget-toolbar">
												<a href="#" class="classShowInnerData" id="@item.Value" data-action="collapse">
													<i class="1 ace-icon fa bigger-125 fa-chevron-down"></i>
												</a>
											</div>
                                   

                                   </td>*@
                                 <td class="">@item.name</td>
                                 <td class="">@item.Adharid</td>
                                 @*<td class="">@item.UserName</td>
                                 <td class="">aaa.</td>*@
                                 <td class="">@item.usertypename</td>
                                 <td class="">@item.SubUserTypeName</td>
                            </tr>
                            @*
                            <tr style="background-color:#abbac3;border-color:#abbac3;color:#31708f;" >
                                <td id="InnerData-@item.UserId" colspan="7" class="tdclsDataByUser" style="display:none;" >
                                
                                    
                                </td>
                                                           

                            </tr>*@
                            }
                        }

                    </tbody>
                </table>
                   <div class="wizard-actions">

                <button type="button" id="acceptbtn123" class="btn btn-sm btn-purple"  onclick="return ModuleUpdatecheckValidationByUser();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        Accept Request</button>

                             <button type="button" id="rejectbtn123" class="btn btn-sm btn-purple" onclick="return ModuleUpdateRejectByUser();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        Reject Request</button>
        </div>
                            <!-- PAGE CONTENT ENDS -->
                    </div>




             
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>

                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.page-content -->
    </div>

    <!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@
            </div>

            <!-- /section:basics/footer -->
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>

<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>

    <div class="space-6"></div>
</div>
@*<div id="divDataContainer">
</div>*@

@*Sub Access Area*@
    <div id="SubAccess" class="modal">
        <div class="modal-dialog" style="width: 700px;">
            <div id="dvInnerModel"  class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="blue bigger">Manage Sub Access</h4>
                </div>

                <div class="modal-body">
                                                        <h4 class="blue bigger">Default Sub Access</h4>
                                                     <ol id="dvData" class="dd-list" style="">
												</ol>
                                                      <h4 class="blue bigger">Assigned Sub Access</h4>
                    <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
                                                          <ol id="dvData2" class="dd-list" style="">
                                                             
												</ol>

                                                           <div class="modal-footer">
                                                                <button class="btn btn-info" id="btnuptd" value="a"  type="submit" onclick="return validate(this.value)" formtarget="_blank">
                                                                    <i class="ace-icon fa fa-check bigger-110"></i>
                                                                    Update
                                                                </button>
                                                                <button class="btn" data-dismiss="modal">
                                                                    <i class="ace-icon fa fa-times"></i>
                                                                    Close
                                                                </button>
                                                            </div>
                    </div>
            </div>
        </div>
    </div>
@*End Sub Access Area*@

<script>
    function ViewSubAcces(ID, UserID, AccesID) {

        $("#loader-wrapper").show();
        $("#dvData").empty(); $("#dvData2").empty();
        document.getElementById("btnuptd").value = ID;
        getSubAccess(ID, UserID, AccesID);
        getSubAccess2(ID, UserID, AccesID);
        $("#loader-wrapper").hide();
        $("#SubAccess").modal({  // wire up the actual modal functionality and show the dialog
            "backdrop": "static",
            "keyboard": true,
            "show": true     // ensure the modal is shown immediately
        });

    }

    function getSubAccess(ID, UserID, AccesID) {
        var path = "/SuperAdmin/AcceptRejectUser/GetSubAccesByUser";
        var request = $.ajax({
            url: path,
            data: {
                ID: ID,
                UserID: UserID,
                AccessID: AccesID
            },
            success: function (result) {
                if (result != null) {
                    $("#dvData").empty();
                    $("#dvData").html(result);
                }
                else {

                    bootbox.alert('No Data Available');
                }
            },
            error: function (result) {
                $("#loader-wrapper").hide();
            },
            complete: function (result) {

            }

        });

    }

    function getSubAccess2(ID, UserID, AccesID) {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        var path = "/SuperAdmin/AcceptRejectUser/GetSubAccesByUser2";

        var request = $.ajax({
            url: path,
            data: {
                ID: ID,
                UserID: UserID,
                AccessID: AccesID
            },
            success: function (result) {

                if (result != null) {
                    $("#dvData2").empty();
                    $("#dvData2").html(result);
                    cl.hide();
                }
                else {

                    bootbox.alert('No Data Available');
                    cl.hide();
                }
            },
            error: function (result) {
                $("#loader-wrapper").hide();
                cl.hide();
            },
            complete: function (result) {
                cl.hide();
            }

        });

    }

    function validate(ID) {
        var SubAccessID = "";
        $('.ace').each(function () {
            if ($(this).is(':checked')) {
                SubAccessID += $(this).val() + ",";
            }

        });

        $("#loader-wrapper").show();
        var path = "/SuperAdmin/AcceptRejectUser/UpdateSubAccess";
        var request = $.ajax({
            url: path,
            data: {
                ID: ID,
                SubAccessID: SubAccessID
            },
            success: function (result) {

                if (result != null) {
                    $("#dvData2").empty();
                    $("#dvData2").html(result);
                    $("#loader-wrapper").hide();
                    $("#SubAccess").modal('hide');
                    bootbox.alert('Update Successfully');
                }
                else {

                    bootbox.alert('No Data Available');

                }
            },
            error: function (result) {
                $("#loader-wrapper").hide();

            },
            complete: function (result) {

            }

        });
    }
</script>

<script>
   

@*    $(".DeleteUseType").on('click', function (e) {
        alert('in');
        e.preventDefault();
        var url = $(this).attr('href');
        var id = $(this).attr('Id');
        var path = "@Url.Action("CheckDepartmentIdExist", "Department")";

        var request = $.ajax({

            url: path,
            data: { DepartmentID: id },
            success: function (result) {
                //alert(result);
                if (!result) {

                    bootbox.confirm('@Resources.MasterDataDashboard.Areyousurewanttodelete', function (confresult) {

                        if (confresult) {

                            window.location.href = url;
                        }

                    })
                }
                else {

                    bootbox.alert('@Resources.MasterDataDashboard.ThisDepartmentIDalreadyusedinsomeothermodulesSoitcantbedeleted');
                }
            }

        });
    });*@
    function UpdateRoleandDepartment() {
        var reqdeptids = "";
        var roleids = "";
        var oldDeptid = "";

        $(".deptcheckbox").each(function () {
            if ($(this).is(':checked')) {
                reqdeptids += $(this).val() + ",";
            }

        });

        $('#hdnalldepartmentIds').val(reqdeptids);
        //return false;
        //alert(deptids);
        //alert(roleids);
        var userid = document.getElementById("SelectedUserID").value;//document.getElementById("DdlQuestionType").value;
        oldDeptid = document.getElementById("Deptid").value;
        //return false;

        // return false;
        if (reqdeptids != "") {

            bootbox.confirm('Are You Sure Want to Update?', function (confresult) {
                $("#loader-wrapper").show();
                if (confresult) {

                    $.ajax({
                        url: "/SuperAdmin/AcceptRejectUser/UpdateRoleandDepartment",
                        type: 'GET',
                        data: {
                            userid: userid,
                            reqdeptids: reqdeptids,
                            oldDeptid: oldDeptid

                        },
                        success: function (data) {
                            if (data) {
                                bootbox.alert('Update Successfully');
                                GetDataByUserID(userid);
                                $("#loader-wrapper").hide();
                                // window.location.href = '@Url.Action("WebAdminAcceptRejectUser", "AcceptRejectUser", new { Area = "SuperAdmin" })';

                            }

                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.responseText);
                            alert(thrownError);
                            location.reload(true);
                        }
                    });
                }
                else {
                    $("#loader-wrapper").hide();
                }
            })

        }

        else {
            bootbox.alert('Requested department not available');
        }
    }
    function UpdateAdditionalDepartment() {
        var reqdeptids = "";
        var roleids = "";
        var oldDeptid = "";

        $(".Additionaldeptcheckbox").each(function () {
            if ($(this).is(':checked')) {
                reqdeptids += $(this).val() + ",";
            }

        });

        $('#hdnallAdditionaldepartmentIds').val(reqdeptids);
        //return false;
        //alert(deptids);
        //alert(roleids);
        var userid = document.getElementById("SelectedUserID").value;//document.getElementById("DdlQuestionType").value;
        oldDeptid = document.getElementById("Deptid").value;
        //return false;

        // return false;
        if (reqdeptids != "") {

            bootbox.confirm('Are You Sure Want to Update?', function (confresult) {
                $("#loader-wrapper").show();
                if (confresult) {

                    $.ajax({
                        url: "/SuperAdmin/AcceptRejectUser/UpdateAdditionalDepartment",
                        type: 'GET',
                        data: {
                            userid: userid,
                            reqdeptids: reqdeptids,
                            oldDeptid: oldDeptid

                        },
                        success: function (data) {
                            if (data) {
                                bootbox.alert('Update Successfully');
                               // GetDataByUserID(userid);
                                $("#loader-wrapper").hide();
                                window.location.href = '@Url.Action("WebAdminAcceptRejectUser", "AcceptRejectUser", new { Area = "SuperAdmin" })';

                            }

                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.responseText);
                            alert(thrownError);
                            location.reload(true);
                        }
                    });
                }
                else {
                    $("#loader-wrapper").hide();
                }
            })

        }

        else {
            bootbox.alert('Requested department not available');
        }
    }
    function ModuleUpdatecheckValidation() {
        var deptids = "";
        var roleids = "";
        //$("#chkrolbox li.active").each(function (idx, li) {
        //    roleids += $(li).find('.hdn').val() + ",";
        //});
        //$('#hdnroleIds').val(roleids);

        //$("#check-list-box li.active").each(function (idx, li) {
        //    deptids += $(li).find('.hdn').val() + ",";
        //});
        //$('#hdnalldepartmentIds').val(deptids);
        //return false;

        var SIds = document.getElementById("SelectedSignChkbxId").value;

        if (SIds != null && SIds != "") {
            bootbox.confirm('Are You Sure Want to Update?', function (confresult) {
                $("#loader-wrapper").show();
                if (confresult) {

                    $.ajax({
                        url: "/SuperAdmin/AcceptRejectUser/UpdateWebAcceptUser",
                        type: 'GET',
                        data: {
                            SIds: SIds,
                            deptids: deptids,
                            roleids: roleids
                        },
                        success: function (data) {
                            if (data) {
                                bootbox.alert('Update Successfully');
                                var userid = document.getElementById("SelectedUserID").value;
                                GetDataByUserID(userid);
                                $("#loader-wrapper").hide();
                                //window.location.href = '@Url.Action("WebAdminAcceptRejectUser", "AcceptRejectUser", new { Area = "SuperAdmin" })';

                            }

                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.responseText);
                            alert(thrownError);
                            location.reload(true);
                        }
                    });
                }
                else {
                    $("#loader-wrapper").hide();
                }
            })
        }

        else {

            bootbox.alert('Please select row checkbox');
        }
    }

    function ModuleUpdateReject() {

        var SIds = document.getElementById("SelectedSignChkbxId").value;

        if (SIds != null && SIds != "") {
            bootbox.confirm('Are You Sure Want to Update?', function (confresult) {
                $("#loader-wrapper").show();
                if (confresult) {

                    $.ajax({
                        url: "/SuperAdmin/AcceptRejectUser/UpdateWebRejectUser",
                        type: 'GET',
                        data: {
                            SIds: SIds
                        },
                        success: function (data) {
                            if (data) {
                                bootbox.alert('Update Successfully');
                                var userid = document.getElementById("SelectedUserID").value;
                                GetDataByUserID(userid);
                                $("#loader-wrapper").hide();
                                //window.location.href = '@Url.Action("WebAdminAcceptRejectUser", "AcceptRejectUser", new { Area = "SuperAdmin" })';

                            }

                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.responseText);
                            alert(thrownError);
                            location.reload(true);
                        }
                    });
                }
                else {
                    $("#loader-wrapper").hide();
                }
            })
        }

        else {
            bootbox.alert('Please select row checkbox');
        }
    }

    function checkAcceptRejectChange(id) {

        if (document.getElementById(id).checked) {

            var selectedId = document.getElementById("SelectedSignChkbxId").value;

            if (selectedId == "") {
                document.getElementById("SelectedSignChkbxId").value = id.substring(4);
            }
            else {
                selectedId = selectedId + "," + id.substring(4);

                document.getElementById("SelectedSignChkbxId").value = selectedId;
            }
            //alert(document.getElementById("SelectedChkbxId").value)
        }
        else {
            var selectedId = document.getElementById("SelectedSignChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(4), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4), "");
            }

            document.getElementById("SelectedSignChkbxId").value = newvalue;

            //alert(document.getElementById("SelectedChkbxId").value);
        }

        if ($(".Checkbox").not(':checked').length == 0) {
            $('#ChkBoxAll').attr('checked', true)
        }
        else {
            $('#ChkBoxAll').attr('checked', false)
        }
    }

    //jQuery(function ($) {
    //    var oTable1 =
    //    $('#sample-table-2')
    //    .dataTable({
    //        bAutoWidth: true,
    //        "aoColumns": [
    //           { "bSortable": false },
    //          null, null, null, null, null,

    //          { "bSortable": false }

    //        ]
    //    });
    //});

    jQuery(function ($) {
        var oTable1 =
       $('#sample-table-3')
       .dataTable({

       });
    });


    function ChangeBreadCrumbParent(firstText) {
        $("#secondLink").empty();
        var firstlinkHtml = firstText;
        $("#secondLink").html(firstlinkHtml);
        $("#thirdLink").empty();
    }

    function ChangeBreadCrumbChild(secondText) {
        $("#thirdLink").empty();
        var secondlinkHtml = secondText;
        $("#thirdLink").html(secondlinkHtml);
    }

    //$(document).ready(function () {
    //    if ($widget.data('checked') == true) {
    //        $checkbox.prop('checked', !$checkbox.is(':checked'));
    //    }
    //});


    function checkAll(ele) {
        document.getElementById("SelectedUserList").value = "";
        var checkboxes = document.getElementsByName('chkList');
        if (ele.checked) {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                    checkAcceptRejectChangeByUser(checkboxes[i].id);

                }
            }
        } else {
            for (var i = 0; i < checkboxes.length; i++) {
                console.log(i)
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                }
            }
        }
    }
</script>



<script>

    //$(".classShowInnerData").click(function () {
    //    //debugger;
    //    var Id = this.id;
    //    var DivId = '#InnerData-' + Id;
    //    $(DivId).slideToggle("fast", function () {
    //        // Animation complete.
    //    });
    //});



    function GetDataByUserID(ID) {
        if (document.getElementById("TempData")) {
            $('table#sample-table-3 tr#TempData').remove();
        }
        else {
            AddAfter(ID);
        }
        if (document.getElementById('tr-' + ID).style.backgroundColor == 'white') {
            document.getElementById('tr-' + ID).style.backgroundColor = 'rgb(252, 248, 227)';
        }

        else if (document.getElementById('tr-' + ID).style.backgroundColor == 'rgb(252, 248, 227)') {
            document.getElementById('tr-' + ID).style.backgroundColor = 'white';
        }


        document.getElementById("SelectedUserID").value = "";
        var SelectedUserID = document.getElementById("SelectedUserID").value = ID;
        var UserID = ID;
        $("#InnerData-" + ID).html("");
        $(".tdclsDataByUser").html("");

        var Ltype = "Pending";
        if (UserID != null && UserID != "") {
            $("#loader-wrapper").show();
            $.get("/SuperAdmin/AcceptRejectUser/WebAdminPendingRequestWithRole", {
                UserID: UserID,
            }, function (data) {
                $("#InnerData-" + ID).html(data);
                $("#loader-wrapper").hide();
            });
        }
        else {
            window.location.href = '@Url.Action("WebAdminAcceptRejectUser", "AcceptRejectUser", new { Area = "SuperAdmin" })';
            $("#loader-wrapper").hide();
            //bootbox.alert('Select Business Type First !');
        }

        var ID = ID;
        var DivId = '#InnerData-' + ID;
        $(DivId).slideToggle("fast", function () {
            // Animation complete.
        });

        if (document.getElementById("switch-" + ID).className == "ui-icon ace-icon fa fa-plus center bigger-110 blue") {
            document.getElementById("switch-" + ID).className = "";
            document.getElementById("switch-" + ID).className = "ui-icon ace-icon fa fa-minus center bigger-110 blue";
        }
        else {

            document.getElementById("switch-" + ID).className = "";
            document.getElementById("switch-" + ID).className = "ui-icon ace-icon fa fa-plus center bigger-110 blue";
        }

    }

    function checkAcceptRejectChangeByUser(id) {
       
        if (document.getElementById(id).checked) {

            var selectedId = document.getElementById("SelectedUserList").value;

            if (selectedId == "") {
                document.getElementById("SelectedUserList").value = id.substring(4);
            }
            else {
                selectedId = selectedId + "," + id.substring(4);

                document.getElementById("SelectedUserList").value = selectedId;
            }
            //alert(document.getElementById("SelectedChkbxId").value)
        }
        else {
            var selectedId = document.getElementById("SelectedUserList").value;

            var newvalue = selectedId.replace("," + id.substring(4), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4), "");
            }

            document.getElementById("SelectedUserList").value = newvalue;

            //alert(document.getElementById("SelectedChkbxId").value);
        }

        if ($(".Checkbox").not(':checked').length == 0) {
            $('#ChkBoxAll').attr('checked', true)
        }
        else {
            $('#ChkBoxAll').attr('checked', false)
        }
    }

    function ModuleUpdatecheckValidationByUser() {
        var deptids = "";
        var roleids = "";

        var UserIds = document.getElementById("SelectedUserList").value;

        if (UserIds != null && UserIds != "") {
            bootbox.confirm('Are You Sure Want to Update?', function (confresult) {
                $("#loader-wrapper").show();
                if (confresult) {

                    $.ajax({
                        url: "/SuperAdmin/AcceptRejectUser/UpdateWebAcceptUserByUser",
                        type: 'GET',
                        data: {
                            UserIdsList: UserIds
                        },
                        success: function (data) {
                            if (data) {
                                bootbox.alert('Update Successfully');
                                window.location.href = '@Url.Action("WebAdminAcceptRejectUser", "AcceptRejectUser", new { Area = "SuperAdmin" })';

                            }

                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.responseText);
                            alert(thrownError);
                            location.reload(true);
                        }
                    });
                }
                else {
                    $("#loader-wrapper").hide();
                }
            })
        }

        else {

            bootbox.alert('Please select row checkbox');
        }
    }



    function ModuleUpdateRejectByUser() {

        var UserIds = document.getElementById("SelectedUserList").value;

        if (UserIds != null && UserIds != "") {
            bootbox.confirm('Are You Sure Want to Update?', function (confresult) {
                $("#loader-wrapper").show();
                if (confresult) {

                    $.ajax({
                        url: "/SuperAdmin/AcceptRejectUser/UpdateWebRejectUserByUser",
                        type: 'GET',
                        data: {
                            UserIdsList: UserIds
                        },
                        success: function (data) {
                            if (data) {
                                bootbox.alert('Update Successfully');
                                window.location.href = '@Url.Action("WebAdminAcceptRejectUser", "AcceptRejectUser", new { Area = "SuperAdmin" })';

                            }

                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.responseText);
                            alert(thrownError);
                            location.reload(true);
                        }
                    });
                }
                else {
                    $("#loader-wrapper").hide();
                }
            })
        }

        else {
            bootbox.alert('Please select row checkbox');
        }
    }




    function AddAfter(ID) {
        var target = document.getElementById("tr-" + ID);
        var newElement = document.createElement('tr');
        newElement.id = 'TempData';
        newElement.style.backgroundColor = '#abbac3'; //'background-color:#abbac3;border-color:#abbac3;color:#31708f;';
        newElement.style.borderColor = '#abbac3';
        newElement.style.color = '#31708f';
        newElement.innerHTML = ' <td id="InnerData-' + ID + '" colspan="5" class="tdclsDataByUser" style="display:none;" ></td>';
        target.parentNode.insertBefore(newElement, target.nextSibling);
        return newElement;
    }

    //function addRow(ID) {
    //    debugger;
    //    //// Get a reference to the table
    //    //var tableRef = document.getElementById('sample-table-3');

    //    //// Insert a row in the table at row index 0
    //    //var newRow = tableRef.insertRow(0);

    //    //// Insert a cell in the row at index 0
    //    //var newCell = newRow.insertCell(0);

    //    //// Append a text node to the cell
    //    //var newText = document.createTextNode('New top row');
    //    //newCell.appendChild(newText);

    //    /////////////////OR///////////////////////////////

    //    var tableRef = document.getElementById('sample-table-3').getElementsByTagName('tbody')[0];
    //    alert(tableRef.rows.length);
    //    // Insert a row in the table at the last row
    //    var newRow = tableRef.deleteRow(0);
    //    var newRow = tableRef.insertRow(1);
    //    newRow.innerHTML = '<td colspan="7" id="InnerData123"></td>';
    //    //newRow.nodeValue = '<td class="ashwani"></td>';
    //    // Insert a cell in the row at index 0
    //    //var newCell = newRow.insertCell(0);
    //    //newCell.colspan = '7';
    //    //newCell.className = "ashwani";
    //    // Append a text node to the cell
    //    //var newText = document.createTextNode('New row')
    //    //newCell.appendChild(newText);
    //}

    //function btnClick(ID) {
    //    debugger;
    //    var tableRef = document.getElementById('sample-table-3').getElementsByClassName("tr1-" + ID);

    //   // alert(tableRef.rows.length);
    //    // Insert a row in the table at the last row
    //    //var newRow = tableRef.deleteRow(0);
    //    var newRow = tableRef.
    //    newRow.innerHTML = '<td colspan="7" id="InnerData123">ashwani</td>';
    //    //var x = document.getElementById("sample-table-3").getElementsByClassName("tr1-" + ID);
    //    //x[0].innerHTML = "i want to change my cell color";
    //    //x[0].style.backgroundColor = "yellow";
    //}
</script>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
