﻿

 @model SBL.DomainModel.Models.UserModule.tUserAccessRequestModel
@{
    int count = 0;
    
}

  <style>

     .ctm {
           border-bottom: 1px solid #e0e0e0;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #EFF3F8;
     }

 </style>

      @Html.AntiForgeryToken()

     @Html.HiddenFor(m => m.ID, new { @id = "hdnID" })
<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>

       <script src="~/assets/js/flot/jquery.flot.min.js"></script>
        <script src="~/assets/js/flot/jquery.flot.pie.min.js"></script>
        <script src="~/assets/js/flot/jquery.flot.resize.min.js"></script>


<!-- page specific plugin styles -->
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />






<div class="row ctm" id="oldgrid">
    <div class="col-xs-12">
       
        <!-- PAGE CONTENT BEGINS -->
        <input type="hidden" id="SelectedSignChkbxId" name="SelectedChkbxId" />
        <input type="hidden" id="SelectedFixNo" name="SelectedFixNo" />
             <div class="pass-table">

                   <table class="table table-bordered dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                    <thead>
                                 <tr role="row">

                                       @* <th class="center sorting_disabled" role="columnheader" rowspan="1"  aria-label="">Check</th>*@
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1"  aria-label="Name: activate to sort column ascending">User Name</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1"  aria-label="Pass Type: activate to sort column ascending">Access Description</th>
                                     <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1"  aria-label="Pass Type: activate to sort column ascending">User Type</th>
                                                                            @*<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1"  aria-label="Pass Type: activate to sort column ascending">Associated Department</th>*@
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Action Control List</th>
                                       <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Status</th>
                                     <th class="sorting_disabled" role="columnheader" style="display:none" rowspan="1" colspan="1" aria-label="">Action</th>
                                    </tr>
                    </thead>
                     
                   <tbody role="alert" aria-live="polite" aria-relevant="all">
                      
                        @foreach (var item in Model.objAccRejList)
                        {
                            count = count + 1;
                            string style = (count % 2 == 0) ? "odd" : "even";

                            var trID = item.ID;
                           
                            <tr class="@style" id="@trID">

                    @*               <td class="">
                                     @if(@item.IsAcceptedDate!=null || @item.IsRejectedDate!=null)
                                     {
                                   <div style="width:100%">
                                  <input type="checkbox" id="Chk_@item.ID" class="Checkbox"  onclick="checkAcceptRejectChange(this.id)" style="vertical-align:top"/>
                                  
                                   </div> 
                                           
                                    }
                                     else
                                      {
                                        <div style="width:100%">
                                 <input type="checkbox" id="Chk_@item.ID" class="Checkbox"  onclick="checkAcceptRejectChange(this.id)" style="vertical-align:top"/>
                                  
                                   </div>   
                                     }
                                       <br /></td>*@
                                 <td class="">@item.UserName</td>
                                 <td class="">@item.ModuleName</td>
                                 <td class="">@item.usertypename</td>
                                @* <td class="">@item.AssociateDepartmentId</td>*@
                                <td class="">
            
                                     
                                  @{string tr = @item.ActionName;}

                                   
                                       @{string[] tr1 = tr.Split(',');}
                                  
                                         @for (int i = 1; i < tr1.Length; i++)
                                         {
                                            
                                              <input type='checkbox' class='groupcheckbox'/ checked="checked" disabled="disabled" />@tr1[i]
                                         }
                                 
                             </td>

                                  <td class="">

                                    @if (@item.IsAcceptedDate != null)
                                    {
                                       <div style="color:green">Accepted</div>
                                    }
                                    @if (@item.IsRejectedDate != null)
                                    {
                                        <div style="color:green">Rejected</div>
                                    }
                                    else
                                    {

                                    }

                                </td>
                                  <td class="center" style="width: 10%;display:none">
                                                <div class="hidden-sm hidden-xs action-buttons">

                                                    <a data-rel="tooltip" class="green tooltip-success" title="Edit"   href="@Url.Action("EditWebAdminRejected", "AcceptRejectUser", new { Id = item.ID })">
                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                    </a>
                                                     <a data-rel="tooltip" class="red tooltip-error DeleteRejectedUser" title="Delete" id="@item.ID"  href="@Url.Action("DeleteWebRejectedUser", "AcceptRejectUser", new { SIds = item.ID })">
                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                    </a>
                                   
                                                </div>

                 
                                            </td>
                            </tr>
                           
                         
                        }
                        
                    </tbody>

                    
                </table>
                   <div class="wizard-actions">
              
               @* <button type="button" id="acceptbtn" class="btn btn-sm btn-purple"  onclick="return ModuleDeleteRejected();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        Delete</button>*@

                           @*  <button type="button" id="rejectbtn" class="btn btn-sm btn-purple" onclick="return ModuleUpdateReject();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        Reject Request</button>*@
          
        </div>
                            <!-- PAGE CONTENT ENDS -->
                          
                 
                     

                    </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>

<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>

    <div class="space-6"></div>
</div>
@*<div id="divDataContainer">
</div>*@

<script>


    $(".DeleteUseType").on('click', function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        var id = $(this).attr('Id');
        var path = "@Url.Action("CheckDepartmentIdExist", "Department")";

        var request = $.ajax({

            url: path,
            data: { DepartmentID: id },
            success: function (result) {
                //alert(result);
                if (!result) {

                    bootbox.confirm('@Resources.MasterDataDashboard.Areyousurewanttodelete', function (confresult) {

                        if (confresult) {

                            window.location.href = url;
                        }

                    })
                }
                else {

                    bootbox.alert('@Resources.MasterDataDashboard.ThisDepartmentIDalreadyusedinsomeothermodulesSoitcantbedeleted');
                }
            }


        });
    });




    function checkAcceptRejectChange(id) {


        if (document.getElementById(id).checked) {


            var selectedId = document.getElementById("SelectedSignChkbxId").value;


            if (selectedId == "") {
                document.getElementById("SelectedSignChkbxId").value = id.substring(4);
            }
            else {
                selectedId = selectedId + "," + id.substring(4);

                document.getElementById("SelectedSignChkbxId").value = selectedId;
            }
            //alert(document.getElementById("SelectedChkbxId").value)
        }
        else {
            var selectedId = document.getElementById("SelectedSignChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(4), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4), "");
            }

            document.getElementById("SelectedSignChkbxId").value = newvalue;

            //alert(document.getElementById("SelectedChkbxId").value);
        }

        if ($(".Checkbox").not(':checked').length == 0) {
            $('#ChkBoxAll').attr('checked', true)
        }
        else {
            $('#ChkBoxAll').attr('checked', false)
        }
    }



    //jQuery(function ($) {
    //    var oTable1 =
    //    $('#sample-table-2')
    //    .dataTable({
    //        bAutoWidth: true,
    //        "aoColumns": [
    //           { "bSortable": false },
    //          null, null, null,null,

    //          { "bSortable": false }

    //        ]
    //    });
    //});

    function ChangeBreadCrumbParent(firstText) {
        $("#secondLink").empty();
        var firstlinkHtml = firstText;
        $("#secondLink").html(firstlinkHtml);
        $("#thirdLink").empty();
    }

    function ChangeBreadCrumbChild(secondText) {
        $("#thirdLink").empty();
        var secondlinkHtml = secondText;
        $("#thirdLink").html(secondlinkHtml);
    }





    @*    ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp");
    ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");*@

</script>

