﻿@{
    ViewBag.Title = " HR Admin";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    
}


    <div>
          @Html.Partial("_LeftMenu", null)
    </div>
  

<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

          <ul class="breadcrumb">
           

            <li>
                <a href="@Url.Action("Index","DashBoard")">DashBoard</a>
            </li>
            <li class="active">List</li>
        </ul>

        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>

    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->


        <!-- /section:settings.box -->
      @*  <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
            <button class="btn  btn-sm btn-info" onclick="javascript:window.location.href='/Media/Media/Create';">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                <span class="bigger-110">Create New Organization</span>
            </button>
        </div>*@
        <div class="page-header">
            <h1>Accounts                               
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    DashBoard
                </small>
            </h1>


        </div>
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <div class="row">
        @*    <div class="alert alert-block alert-success" id="SuccessDiv" style="display: none;">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                <p>
                    <strong>
                        <i class="ace-icon fa fa-check"></i>
                    </strong>
                   
              
                </p>
            </div>*@

            <div id="outerDiv">
            </div>

            <div class="two-column" id="MainDiveThreeTire">
                <div id="resize-left">
                    <div class="col-xs-12">

                        <div id="divDataContainer" style="width: 100%;">
                        </div>
                    </div>
                </div>
                <div id="resize-right">
                    <div class="col-xs-12">
                        <div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>
                        <div id="RightSidebar" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>

            <div id="MainDiveTwoTire" style="display: none">
                <div class="col-xs-12">
                    <div id="canvasloader-container3" class="canvasloader" style="text-align: center"></div>
                    <div id="divDataContainerTwoTire" style="width: 100%;">
                    </div>
                </div>
            </div>


        </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="~/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="~/assets/js/jqGrid/i18n/grid.locale-en.js"></script>


<script type="text/javascript">

    jQuery(function ($) {

        $("#sizeDown").click(function () {
            if ($("body").hasClass('sizeLarge')) {
                $("body").css("font-size", "13px");
                $("body").removeClass('sizeLarge');
            } else {
                $("body").css("font-size", "10px");
                $("body").addClass('sizeSmall');
            }
        });
        $("#sizeUp").click(function () {
            if ($("body").hasClass('sizeSmall')) {
                $("body").css("font-size", "13px");
                $("body").removeClass('sizeSmall');
            } else {
                $("body").css("font-size", "18px");
                $("body").addClass('sizeLarge');
            }
        });
    });

    function ChangeLangaugeEnglish() {

        $.ajax({
            url: "/Home/ChangeCulture",
            type: 'GET',
            data: {
                lang: "7C4F28F6-02FC-4627-993D-E255037531AD",
                langCulture: "/"
            },
            success: function (data) {
                if (data) {
                    window.location.href = '@Url.Action("index", "accountdashboard", new { Area = "accounts" })';
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }
    function ChangeLangaugeHindi() {

        $.ajax({
            url: "/Home/ChangeCulture",
            type: 'GET',
            data: {
                lang: "43177cd4-b51d-497a-a3bc-e81f23b07450",
                langCulture: "/"
            },
            success: function (data) {
                if (data) {
                    window.location.href = '@Url.Action("index", "accountdashboard", new { Area = "accounts" })';
                 } else { alert("error"); }
             },
             error: function (xhr, ajaxOptions, thrownError) {
                 alert(xhr.status);
                 alert(thrownError);
             }
         });
     }

         </script>

<script type="text/javascript">

    jQuery(document).ready(function () {


        getleftItemDashboard();
        //$.get("/Home/ChangeCulture", {}, function (data) {
        //});

        getDashboard();
        var lSMCode = $("#lSMCode").val();
        if (lSMCode != "") {
            getleftItemDashboard();
        }


    });

    function getDashboard() {

        var cusMsg = $("#CustomMessage").val();

        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("mainaccountadmindashboard", "accountdashboard")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
            },
            success: function (data) {

                $('#outerDiv').show();
                $("#outerDiv").html(data);
                document.getElementById("MainDiveThreeTire").style.display = "none";
                document.getElementById("MainDiveTwoTire").style.display = "none";

            }
        });

    }

    function getleftItemDashboard() {


        var lSMCode = $("#lSMCode").val();
        var cusMsg = $("#CustomMessage").val();

        if (cusMsg != "") {
            $("#SuccessDiv").show();
        }

        if (lSMCode != "") {

            if (lSMCode == "SQ") {
                $("#liStarredQuestions").addClass("active");
                $("#liUnStarredQuestions").addClass("");
                $("#liNotices").addClass("");
                $("#liBills").addClass("");
                $("#liOthersPapers").addClass("");
            }
            else if (lSMCode == "USQ") {
                $("#liUnStarredQuestions").addClass("active");
                $("#liStarredQuestions").addClass("");
                $("#liNotices").addClass("");
                $("#liBills").addClass("");
                $("#liOthersPapers").addClass("");
            }
            else if (lSMCode == "NTC") {
                $("#liNotices").addClass("active");
                $("#liUnStarredQuestions").addClass("");
                $("#liStarredQuestions").addClass("");
                $("#liBills").addClass("");
                $("#liOthersPapers").addClass("");


            }
            else if (lSMCode == "BLL") {
                $("#liBills").addClass("active");
                $("#liNotices").addClass("");
                $("#liUnStarredQuestions").addClass("");
                $("#liStarredQuestions").addClass("");
                $("#liOthersPapers").addClass("");

            }
            else if (lSMCode == "OPT") {
                $("#liOthersPapers").addClass("active");
                $("#liBills").addClass("");
                $("#liNotices").addClass("");
                $("#liUnStarredQuestions").addClass("");
                $("#liStarredQuestions").addClass("");

            }

            //
        }
        else {
            $("#liStarredQuestions").addClass("");
            $("#liUnStarredQuestions").addClass("");
            $("#liNotices").addClass("");
            $("#liBills").addClass("");
            $("#liOthersPapers").addClass("");

        }

    }


    $(function () {


        $('#sidebar-collapse').on('click', function () {
            var parentWidth = $('#resize-left').parent().width();
            if ($('#sidebar').hasClass('menu-min')) {
                parentWidth = parentWidth - 130;
            } else { parentWidth = parentWidth + 110; }

            var remainingSpace = parentWidth - $('#resize-left').outerWidth();
            var divTwo = $('#resize-left').next();
            var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
            divTwo.css('width', divTwoWidth + 'px');

            //alert("ds");
            setTimeout(function () {
                $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
            }, 50);
        });

        $("#resize-left").resizable({
            handles: 'e',
            minWidth: '350',
            maxWidth: '850',
            /*    grid: [ 20, 10 ], */
            resize: function () {
                var remainingSpace = $(this).parent().width() - $(this).outerWidth();
                var divTwo = $(this).next();
                var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
                divTwo.css('width', (divTwoWidth - 20) + 'px');

                $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
            }

        });


    });
    function resizeLeftPanel(sizeRatio) {
        var parentWidth = $('#resize-left').parent().width();
        var sidebarWidth = parseInt((parentWidth * sizeRatio) / 100);
        var left_width = $('#resize-left').outerWidth();
        if (sidebarWidth > left_width) {

            $('#resize-left').animate({ width: '+=' + (sidebarWidth - left_width) + 'px' }, 800);
            $('#resize-right').animate({ width: '-=' + (sidebarWidth - left_width) + 'px' }, 800);

        } else {

            $('#resize-left').animate({ width: '-=' + (left_width - sidebarWidth) + 'px' }, 800);
            $('#resize-right').animate({ width: '+=' + (left_width - sidebarWidth) + 'px' }, 800);

        }

        $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());

    }




    $.PaperLaidIdForCheckBoxFormatter = function (cellvalue, options, rowObject) {
        return "<div style='width:100%;text-align:center'>  <input type='checkbox' id='Chk_" + cellvalue + "' class='Checkbox' onclick='checkChange(this.id)' style='vertical-align:top' /></div>";
    };

    $.NoticePaperLaidIdForCheckBoxFormatter = function (cellvalue, options, rowObject) {
        return "<div style='width:100%;text-align:center'>  <input type='checkbox' id='Chk_" + cellvalue + "' class='Checkbox' onclick='checkChange(this.id)' style='vertical-align:top' /></div>";
    };

    $.OtherPaperSentFormatter = function (cellvalue, options, rowObject) {
        var version = rowObject[4];
        if (cellvalue == null) {
            return "@Resources.PaperLaidDepartment.NotSent";
        }
        else {
            return "<a target='_blank' href='" + cellvalue + "'>@Resources.PaperLaidDepartment.PaperVer" + version + "</a>";
        }
    };

    //Department Submitted date

    $.paperSentOnFormatter = function (cellvalue, options, rowObject) {
        //var status = parseInt(rowObject["Status"]);        
        if (cellvalue == null) {


            return "@Resources.PaperLaidDepartment.NotSent";
    }
    else {
        var sentOnDate = cellvalue;

        sentOnDate = sentOnDate + "";
        sentOnDate = sentOnDate.replace("/", "");
        sentOnDate = sentOnDate.replace("/", "");
        sentOnDate = sentOnDate.replace("Date(", "");
        sentOnDate = sentOnDate.replace(")", "");
        var parsedDate = new Date(parseInt(sentOnDate));

        var dformat = [parsedDate.getDate(),
           parsedDate.getMonth() + 1,
           parsedDate.getFullYear()].join('/') +
          ' ' +
          [parsedDate.getHours(),
           parsedDate.getMinutes(),
           parsedDate.getSeconds()].join(':');

        //var formattedWithLocalString = parsedDate.toLocaleString();
        return dformat;
    }
};

//Fixed Date Formatter 13 June 2014 Changes
$.FixedDateOnFormatter = function (cellvalue, options, rowObject) {
    if (cellvalue != null) {

        var sentOnDate = cellvalue;
        sentOnDate = sentOnDate + "";
        sentOnDate = sentOnDate.replace("/", "");
        sentOnDate = sentOnDate.replace("/", "");
        sentOnDate = sentOnDate.replace("Date(", "");
        sentOnDate = sentOnDate.replace(")", "");
        var parsedDate = new Date(parseInt(sentOnDate));
        var curr_date = parsedDate.getDate();
        var curr_month = parsedDate.getMonth() + 1;
        var curr_year = parsedDate.getFullYear();
        var formattedWithLocalString = curr_date + "/" + curr_month + "/" + curr_year;
        return formattedWithLocalString;
    }
    else {
        return "";
    }
};

//Fixed Date Formatter 13 June 2014 Changes
$.SendFixedDateOnFormatter = function (cellvalue, options, rowObject) {

    if (cellvalue != null) {

        var sentOnDate = cellvalue;
        sentOnDate = sentOnDate + "";
        sentOnDate = sentOnDate.replace("/", "");
        sentOnDate = sentOnDate.replace("/", "");
        sentOnDate = sentOnDate.replace("Date(", "");
        sentOnDate = sentOnDate.replace(")", "");
        var parsedDate = new Date(parseInt(sentOnDate));

        var curr_date = parsedDate.getDate();
        var curr_month = parsedDate.getMonth() + 1;
        var curr_year = parsedDate.getFullYear();

        var formattedWithLocalString = curr_date + "/" + curr_month + "/" + curr_year;

        return formattedWithLocalString;
    }
    else {
        return "";
    }

};

$.SendPaperSentFormatter = function (cellvalue, options, rowObject) {
    var version = rowObject[6];
    return "<a target='_blank' href='" + cellvalue + "'>@Resources.PaperLaidDepartment.PaperVer" + version + "</a>";

    };

    //Notice Related Formatter
    $.noticepaperSentFormatter = function (cellvalue, options, rowObject) {

        var version = rowObject[6];
        var status = rowObject[15];

        if ((status == 1 || status == 2) && version > 0) {
            if (cellvalue == null) {
                return "@Resources.PaperLaidDepartment.NotSent";
            }

            else {
                return "<a target='_blank' href='" + cellvalue + "'>@Resources.PaperLaidDepartment.PaperVer" + version + "</a>";
            }
        }
        else if (status == 3 && version > 0) {
            if (cellvalue == null) {
                return "@Resources.PaperLaidDepartment.NotSent";
            }
            else {
                return "<a target='_blank' href='" + cellvalue + "'>@Resources.PaperLaidDepartment.SignedPaperVer " + version + "</a>";
            }
        }
        else {
            return "@Resources.PaperLaidDepartment.NotSent";
        }
    };


$.noticepaperSentFormatterBills = function (cellvalue, options, rowObject) {

    var version = rowObject[4];
    var status = rowObject[13];

    if ((status == 1 || status == 2) && version > 0) {
        if (cellvalue == null) {
            return "@Resources.PaperLaidDepartment.NotSent";
            }

            else {
                return "<a target='_blank' href='" + cellvalue + "'>@Resources.PaperLaidDepartment.PaperVer" + version + "</a>";
            }
        }
        else if (status == 3 && version > 0) {
            if (cellvalue == null) {
                return "@Resources.PaperLaidDepartment.NotSent";
            }
            else {
                return "<a target='_blank' href='" + cellvalue + "'>@Resources.PaperLaidDepartment.SignedPaperVer " + version + "</a>";
            }
        }
        else {
            return "@Resources.PaperLaidDepartment.NotSent";
        }
    };



$.questionpaperSentFormatter = function (cellvalue, options, rowObject) {

    var version = rowObject[5];
    var status = rowObject[14];

    if ((status == 1 || status == 2) && version > 0) {
        if (cellvalue == null) {
            return "@Resources.PaperLaidDepartment.NotSent";
            }

            else {
                return "<a target='_blank' href='" + cellvalue + "'>@Resources.PaperLaidDepartment.PaperVer" + version + "</a>";
            }
        }
        else if (status == 3 && version > 0) {
            if (cellvalue == null) {
                return "@Resources.PaperLaidDepartment.NotSent";
            }
            else {
                return "<a target='_blank' href='" + cellvalue + "'>@Resources.PaperLaidDepartment.SignedPaperVer " + version + "</a>";
            }
        }
        else {
            return "@Resources.PaperLaidDepartment.NotSent";
        }
    };


//For Question Draft Reply
$.QuestionNumberFormatter = function (cellvalue, options, rowObject) {

    var DeActivateFlag = rowObject[16];
    var QuestionNumber = rowObject[3];
    var IsPostpone = rowObject[17];
    var IsPostponeDate = rowObject[18];

    var IsClubbed = rowObject[24];



    if (IsClubbed == true) {
        return QuestionNumber + "<div style='color:green;font-weight:bold;''>(C)</div>";
    }

    if (DeActivateFlag == "RF" && IsPostpone == true && IsPostponeDate != null) {

        return QuestionNumber + "<div style='color:green;font-weight:bold;''>(p)</div>";

    }
    else if (QuestionNumber == null || QuestionNumber == 0) {
        return ""
    }
    else {
        return QuestionNumber;
    }
};


$.AllQuestionNumberFormatter = function (cellvalue, options, rowObject) {

    var QuestionNumber = rowObject[2];

    var IsPostpone = rowObject[16];
    var IsPostponeDate = rowObject[17];


    var IsClubbed = rowObject[23];

    var IsBracket = rowObject[24];

    if (IsBracket == true) {
        return QuestionNumber = "<div style='color:green;font-weight:bold;''>(B)</div>";
    }


    if (IsClubbed == true) {
        return QuestionNumber + "<div style='color:green;font-weight:bold;''>(C)</div>";
    }

    if (IsPostpone == true && IsPostponeDate != null) {

        return QuestionNumber + "<div style='color:green;font-weight:bold;''>(p)</div>";

    }
    else if (QuestionNumber == null || QuestionNumber == 0) {
        return ""
    }
    else {
        return QuestionNumber;
    }

};


$.noticepaperSentOnFormatter = function (cellvalue, options, rowObject) {
    var status = parseInt(rowObject["Status"]);
    if (cellvalue == null) {
        return "@Resources.PaperLaidDepartment.NotSent";
    }
    else {
        var sentOnDate = cellvalue;
        sentOnDate = sentOnDate + "";
        sentOnDate = sentOnDate.replace("/", "");
        sentOnDate = sentOnDate.replace("/", "");
        sentOnDate = sentOnDate.replace("Date(", "");
        sentOnDate = sentOnDate.replace(")", "");

        var parsedDate = new Date(parseInt(sentOnDate));
        //alert("parsedDate : " + parsedDate);

        var dformat = [parsedDate.getDate(),
          parsedDate.getMonth() + 1,
          parsedDate.getFullYear()].join('/') +
         ' ' +
         [parsedDate.getHours(),
          parsedDate.getMinutes(),
          parsedDate.getSeconds()].join(':');

        // var formattedWithLocalString = parsedDate.toLocaleString();
        //alert("formattedWithLocalString : " + formattedWithLocalString);

        //var formattedDate = formatDate(parsedDate);
        //alert("formattedDate : " + formattedDate);
        return dformat;
    }
};

$.NoticeSendFixedDateOnFormatter = function (cellvalue, options, rowObject) {

    if (cellvalue != null) {

        var sentOnDate = cellvalue;
        sentOnDate = sentOnDate + "";
        sentOnDate = sentOnDate.replace("/", "");
        sentOnDate = sentOnDate.replace("/", "");
        sentOnDate = sentOnDate.replace("Date(", "");
        sentOnDate = sentOnDate.replace(")", "");
        var parsedDate = new Date(parseInt(sentOnDate));

        var curr_date = parsedDate.getDate();
        var curr_month = parsedDate.getMonth();
        var curr_year = parsedDate.getFullYear();

        var formattedWithLocalString = curr_date + "/" + curr_month + "/" + curr_year;

        return formattedWithLocalString;
    }
    return "@Resources.PaperLaidDepartment.NotSent";

    };

    function checkChange(id) {
        if (document.getElementById(id).checked) {
            var selectedId = document.getElementById("SelectedChkbxId").value;

            if (selectedId == "") {
                document.getElementById("SelectedChkbxId").value = id.substring(4);
            }
            else {
                selectedId = selectedId + "," + id.substring(4);
                document.getElementById("SelectedChkbxId").value = selectedId;
            }
            //alert(document.getElementById("SelectedChkbxId").value)
        }
        else {
            var selectedId = document.getElementById("SelectedChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(4), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(4), "");
            }

            document.getElementById("SelectedChkbxId").value = newvalue;

            //alert(document.getElementById("SelectedChkbxId").value);
        }

        if ($(".Checkbox").not(':checked').length == 0) {
            $('#ChkBoxAll').attr('checked', true)
        }
        else {
            $('#ChkBoxAll').attr('checked', false)
        }
    }




    function ClearControls() {
        $("#RightSidebar").html('');
    }

    //function ChangeColor(control) {
    //    $(".ChangeColor").each(function () {
    //        $(this).css({ 'background': 'none', 'color': 'black' })
    //    })
    //    $("#" + control).css({ 'background-color': '#428bca', 'color': 'white' })
    //}

    function ChangeColor(control) {
        $(".ChangeColor").each(function () {
            $(this).css({ 'background': 'none', 'color': 'black' })
        })
        $("#" + control).css({ 'background-color': 'rgb(109, 103, 103)', 'color': 'white' })
    }


    //Passes
    function GetPassRequests() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("PassRequestIndex", "PassRequests")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                AssemblyId: assemblyId,
                SessionId: sessionId,
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data);
                $("#GetPassRequests").css({ 'background-color': 'rgb(109, 103, 103)', 'color': 'white' })
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.PassRequests");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.PassRequests");

            }
        });
    }




    function getPrevHideDiv() {
        $("#aPrev").hide();
        $("#aNext").show();
        $("#btnBackHideDiv").show();
        $("#ToBeHideDiv").hide("slow", function () {
        });
        $("#ExpandDiv").animate({ width: '73%' }, "slow");
        $("#aNext").css("margin-left", "25%");
    }
    function getNextHideDiv() {
        $("#ToBeHideDiv").show("slow", function () {
        });
        $("#aPrev").show();
        $("#aNext").hide();
        $("#btnBackHideDiv").hide();
        $("#ExpandDiv").animate({ width: '43%' }, "slow");

    }






    function ClearControls() {
        $("#RightSidebar").html('');
    }

    function ChangeColor(control) {
        $(".ChangeColor").each(function () {
            $(this).css({ 'background': 'none', 'color': 'black' })
        })
        $("#" + control).css({ 'background-color': 'rgb(109, 103, 103)', 'color': 'white' })
    }


    function GetAllStarredQuestions() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetAllStarredQuestions", "PaperLaidDepartment")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                AssemblyId: assemblyId,
                SessionId: sessionId,
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $("#SuccessDiv").hide();
                $("#SuccessDiv").hide();

                $("#divDataContainer").html(data);
                $("#GetStartedQuestions").css({ 'background-color': 'rgb(109, 103, 103)', 'color': 'white' })
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDStaredQuestions");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DDStaredQuestions");

            }
        });
    }



    function GetAllUnstarredQuestions() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetAllUnstarredQuestions", "PaperLaidDepartment")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                AssemblyId: assemblyId,
                SessionId: sessionId,
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data);
                $("#GetStartedQuestions").css({ 'background-color': 'rgb(109, 103, 103)', 'color': 'white' });
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDUnStaredQuestions");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DDUnStaredQuestions");
            }
        });
    }

    function GetStartedQuestions() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("PendingStaredQuestion", "PaperLaidDepartment")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                AssemblyId: assemblyId,
                SessionId: sessionId,
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $("#SuccessDiv").hide();
                $('#outerDiv').hide();
                $("#divDataContainer").html(data);
                $("#GetStartedQuestions").css({ 'background-color': 'rgb(109, 103, 103)', 'color': 'white' })
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDStaredQuestions");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.PendingforReply");
            }
        });
    }

    function GetUnstarredUpcomingLOB() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("UnstarredUpcomingLOB", "PaperLaidDepartment")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                AssemblyId: assemblyId,
                SessionId: sessionId,
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data);
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDUnStaredQuestions");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.UpcomingLOB");
            }
        });
    }

    function GetUnstartedQuestions() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("PendingUnstaredQuestion", "PaperLaidDepartment")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                AssemblyId: assemblyId,
                SessionId: sessionId,
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data);
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDStaredQuestions");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.ReplySent");
            }
        });
    }

    function GetSubmittedStartedQuestions() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("SubmittedStaredQuestion", "PaperLaidDepartment")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                AssemblyId: assemblyId,
                SessionId: sessionId,
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data);
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDStaredQuestions");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.ReplySent");
            }
        });
    }

    function GetStarredUpcomingLOB() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("StarredUpcomingLOB", "PaperLaidDepartment")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                AssemblyId: assemblyId,
                SessionId: sessionId,
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data);
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDStaredQuestions");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.UpcomingLOB");
            }
        });
    }

    function GetSubmittedUnstartedQuestions() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("SubmittedUnstaredQuestion", "PaperLaidDepartment")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                AssemblyId: assemblyId,
                SessionId: sessionId,
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data);
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDUnStaredQuestions");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.ReplySent");
            }
        });
    }

    function PendingForsubmissionStared() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("PendingForsubmissionStared", "PaperLaidDepartment")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                AssemblyId: assemblyId,
                SessionId: sessionId,
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data);
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDStaredQuestions");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DraftReplies");
            }
        });
    }

    //Sending Papers to Vidhan Sabha
    function PendingForsubmissionStaredSend() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("PendingForsendingStared", "PaperLaidDepartment")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                AssemblyId: assemblyId,
                SessionId: sessionId,
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data);
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDStaredQuestions");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DraftReplies");
            }
        });
    }

    function PendingForsubmissionUnStaredSend() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("PendingForsendingUnStared", "PaperLaidDepartment")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                AssemblyId: assemblyId,
                SessionId: sessionId,
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data);
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDUnStaredQuestions");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DraftReplies");
            }
        });
    }

    function PendingForsubmissionUnstared() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("PendingForsubmissionUnstared", "PaperLaidDepartment")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                AssemblyId: assemblyId,
                SessionId: sessionId,
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data);
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDUnStaredQuestions");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DraftReplies");
            }
        });
    }

    function LaidInHouseStared() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("LaidInHouseStared", "PaperLaidDepartment")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                AssemblyId: assemblyId,
                SessionId: sessionId,
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data);
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDStaredQuestions");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DDLaidInHouse");
            }
        });
    }

    function LaidInHouseUnstared() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("LaidInHouseUnstared", "PaperLaidDepartment")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                AssemblyId: assemblyId,
                SessionId: sessionId,
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data);
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDUnStaredQuestions");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DDLaidInHouse");
            }
        });
    }

    function PendingToLayStared() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("PendingToLayStared", "PaperLaidDepartment")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                AssemblyId: assemblyId,
                SessionId: sessionId,
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data);
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDStaredQuestions");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DDPendingToLay");
            }
        });
    }

    function PendingToLayUnstared() {

        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');

        cl.show();

        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("PendingToLayUnstared", "PaperLaidDepartment")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                AssemblyId: assemblyId,
                SessionId: sessionId,
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data);
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDUnStaredQuestions");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DDPendingToLay");
            }
        });
    }

    //Added by Nitin
    function GetOtherPaperLaidAllList() {
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();

        var resultCountS = document.getElementById("hdnResultCount").value;
        $.ajax({
            url: "/PaperLaidDepartment/OtherPaperLaid/GetOtherPaperLaidAllList",
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5",
                ResultCount: resultCountS
            },
            success: function (data) {
                cl5.hide();
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data)
                $("#btnNewCom").show();
                $("#RightSidebar").empty();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.OtherPapers");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.OtherPapers");
            },
            error: function (xhr, ajaxOptions, thrownError) {

                alert(xhr.responseText);
                alert(thrownError);
            }
        })
    }


    function GetOtherPaperLaidUpcomingLOB() {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("OtherPaperLaidUpcomingLOB", "OtherPaperLaid")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data);
                ClearControls();
                cl.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.OtherPapers");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.UpcomingLOB");
            }
        });
    }
    function GetOtherPaperLaidPendings() {
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        var resultCountS = document.getElementById("hdnResultCount").value;
        $.ajax({
            url: "/PaperLaidDepartment/OtherPaperLaid/GetOtherPaperLaidPendings",
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5",
                ResultCount: resultCountS
            },
            success: function (data) {
                cl5.hide();
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data)
                $("#btnNewCom").show();
                $("#RightSidebar").empty();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.OtherPapers");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DraftOtherPapers");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        })
    }

    function GetOtherPaperLaidSubmit() {
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        var resultCountS = document.getElementById("hdnResultCount").value;
        $.ajax({
            url: "/PaperLaidDepartment/OtherPaperLaid/GetOtherPaperLaidSubmitList",
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5",
                ResultCount: resultCountS
            },
            success: function (data) {
                cl5.hide();
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data)
                $("#btnNewCom").hide();
                $("#RightSidebar").empty();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.OtherPapers");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DraftOtherSent");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        })
    }

    function GetUpComingOtherPaperLaid() {
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        var resultCountS = document.getElementById("hdnResultCount").value;
        $.ajax({
            url: "/PaperLaidDepartment/OtherPaperLaid/GetUpComingOtherPaperLaid",
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5",
                ResultCount: resultCountS
            },
            success: function (data) {
                cl5.hide();
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data)
                $("#btnNewCom").hide();
                $("#RightSidebar").empty();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.OtherPapers");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.UpcomingLOB");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        })
    }

    function OtherPaperPendingToLay() {
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        var resultCountS = document.getElementById("hdnResultCount").value;
        $.ajax({
            url: "/PaperLaidDepartment/OtherPaperLaid/OtherPaperPendingToLay",
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5",
                ResultCount: resultCountS
            },
            success: function (data) {
                cl5.hide();
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data)
                $("#btnNewCom").hide();
                $("#RightSidebar").empty();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.OtherPapers");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DDPendingToLay");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        })
    }

    function OtherPaperLaidInHouse() {
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        var resultCountS = document.getElementById("hdnResultCount").value;
        $.ajax({
            url: "/PaperLaidDepartment/OtherPaperLaid/OtherPaperLaidInHouse",
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5",
                ResultCount: resultCountS
            },
            success: function (data) {
                cl5.hide();
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data)
                $("#btnNewCom").hide();
                $("#RightSidebar").empty();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.OtherPapers");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DDLaidInHouse");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        })
    }

    function CreateNew() {
        $.ajax({
            url: "/PaperLaidDepartment/OtherPaperLaid/GetOtherPaperEntry",
            type: 'GET',
            data: {
            },
            success: function (data) {
                $("#RightSidebar").html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        })
    }

    //Srinivasa code start
    //Code for Bills
    function GetBillSent() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        var pathurl = '@Url.Action("GetSentBills", "Billpaperlaid")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                sessionId: sessionId,
                assemblyId: assemblyId,
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            cache: false,
            success: function (data) {
                cl.hide();
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").empty();
                $("#RightSidebar").empty();
                $("#divDataContainer").html(data);
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.Bills");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.BillsSent");


            }
        });
    }

    function GetCreatBillDraft() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container2');
        cl.show();
        var pathurl = '@Url.Action("CreateNewBillDraft", "Billpaperlaid")';

        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                sessionId: sessionId,
                assemblyId: assemblyId
            },
            cache: false,
            success: function (data) {
                cl.hide();
                $("#RightSidebar").empty();
                $("#RightSidebar").html(data);
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.Bills");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DraftBills");
            }
        });
    }

    function GetAllCurrentBills() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetAllCurrentBills", "Billpaperlaid")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                sessionId: sessionId,
                assemblyId: assemblyId,
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            cache: false,
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").empty();
                $("#RightSidebar").empty();
                $("#divDataContainer").html(data);
                cl.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.Bills");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.Bills");
            }
        })
    }

    function GetBillDraftes() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetDraftBills", "Billpaperlaid")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                sessionId: sessionId,
                assemblyId: assemblyId,
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            cache: false,
            success: function (data) {
                cl.hide();
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").empty();
                $("#RightSidebar").empty();
                $("#divDataContainer").html(data);
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.Bills");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DraftBills");
            }
        })
    }

    function GetBillUPLOBList() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        $.ajax({
            url: "/PaperLaidDepartment/Billpaperlaid/GetBillUPLOBList",
            type: 'GET',
            data: {
                sessionId: sessionId,
                assemblyId: assemblyId,
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                cl5.hide();
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data)
                $("#RightSidebar").empty();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.Bills");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.UpcomingLOB");
            },
            error: function (xhr, ajaxOptions, thrownError) {

                alert(xhr.responseText);
                alert(thrownError);
            }
        })
    }

    function GetBillLIHList() {
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        $.ajax({
            url: "/PaperLaidDepartment/Billpaperlaid/GetBillLIHList",
            type: 'GET',
            data: {
                sessionId: sessionId,
                assemblyId: assemblyId,
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                cl5.hide();
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data)
                $("#RightSidebar").empty();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.Bills");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DDLaidInHouse");
            },
            error: function (xhr, ajaxOptions, thrownError) {

                alert(xhr.responseText);
                alert(thrownError);
            }
        })
    }

    function GetBillPLIHList() {
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        $.ajax({
            url: "/PaperLaidDepartment/Billpaperlaid/GetBillPLIHList",
            type: 'GET',
            data: {
                sessionId: sessionId,
                assemblyId: assemblyId,
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                cl5.hide();
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data)
                $("#RightSidebar").empty();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.Bills");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DDPendingToLay");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        })
    }

    function GetEmployeeAuthorization() {
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        // AdjustsplitertowardsRight();
        // alert("hit1");
        //getPrevHideDiv();
        // $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetEmployeeAuthorisation", "Miscellaneous")';

        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
            },
            cache: false,
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                //$("div#MaindivDataContainer").width("0%");
                //$("div#MainRightSidebar").width("100%");
                $("#divDataContainer").empty();
                $("#RightSidebar").empty();
                $("#divDataContainer").html(data);
                // $("#RightSideDiv").html("<div style='height:824px;width:100%;padding:5px 0px 0px 10px;'><input type='button' value='Create Draft' id='crtBlDrft' onClick='GetCreatBillDraft()'></div>");
                cl5.hide();
            }
        });
    }
    function CancelReceipentForm() {

        $("div#MaindivDataContainer").width("50%");
        $("div#MainRightSidebar").width("50%");
        $("#divDataContainer").empty();
        $("#RightSidebar").empty();
        //$("#divDataContainer").html(data);
    }
    function GetReceipentList() {
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        var pathurl = '@Url.Action("AddReceipent", "Admin", new {@area="Admin" })';
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {

            },
            cache: false,
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("div#MaindivDataContainer").width("100%");
                $("div#MainRightSidebar").width("0%");
                $("#divDataContainer").empty();
                $("#RightSidebar").empty();
                $("#divDataContainer").html(data);
                // $("#RightSideDiv").html("<div style='height:824px;width:100%;padding:5px 0px 0px 10px;'><input type='button' value='Create Draft' id='crtBlDrft' onClick='GetCreatBillDraft()'></div>");
                cl5.hide();
            }
        });
    }


    function GetCurrentSessionReq() {
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        var pathurl = '@Url.Action("PartialPassRequestList", "PassRequest", new {@area="PaperLaidDepartment" })';

        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {

            },
            cache: false,
            success: function (data) {
                // alert("test");
                document.getElementById("MainDiveThreeTire").style.display = "none";
                document.getElementById("MainDiveTwoTire").style.display = "block";

                $("#outerDiv").html("");
                $("#outerDiv").hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").empty();
                $("#RightSidebar").empty();

                $("#divDataContainerTwoTire").empty();

                $("#divDataContainerTwoTire").html(data);
                //  alert("test");
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");
                cl5.hide();
                //alert("test1");
            }
        });
    }

    function GetCurrentSessionVehiclePass() {
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        var pathurl = '@Url.Action("PartialVehiclePassList", "VehiclePass", new { @area="VehiclePasses" })';

        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {

            },
            cache: false,
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "none";
                document.getElementById("MainDiveTwoTire").style.display = "block";

                $("#outerDiv").html("");
                $("#outerDiv").hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").empty();
                $("#RightSidebar").empty();

                $("#divDataContainerTwoTire").empty();

                $("#divDataContainerTwoTire").html(data);
                ChangeBreadCrumbParent("@Resources.PublicPasses.VehiclePassForEmp");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");
                cl5.hide();
            }
        });
    }


    function CancelUserUpdateForm() {

        $("#divDataContainer").empty();
        $("#RightSidebar").empty();
        // $("#divDataContainer").html(data);

    }
    function GetUpdateProfile() {

        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        //AdjustsplitertowardsRight();
        // $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("UpdateUserDetails", "UserRegistration", new {@area="UserRegistration" })';

        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {

            },
            cache: false,
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#SuccessDiv").hide();
                //$("div#MaindivDataContainer").width("0%");
                //$("div#MainRightSidebar").width("100%");
                $("#divDataContainer").empty();
                $("#RightSidebar").empty();
                $("#divDataContainer").html(data);
                // $("#RightSideDiv").html("<div style='height:824px;width:100%;padding:5px 0px 0px 10px;'><input type='button' value='Create Draft' id='crtBlDrft' onClick='GetCreatBillDraft()'></div>");
                cl5.hide();
            }
        });
    }

    function ChangePassword() {
        // $.ajaxSetup({ cache: false });
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        var pathurl = '@Url.Action("ChangePassword", "UserRegistration", new {@area="UserRegistration" })';

        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {

            },
            cache: false,
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#SuccessDiv").hide();
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                //$("div#MaindivDataContainer").width("0%");
                //$("div#MainRightSidebar").width("100%");
                $("#divDataContainer").empty();
                $("#RightSidebar").empty();
                $("#divDataContainer").html(data);
                // $("#RightSideDiv").html("<div style='height:824px;width:100%;padding:5px 0px 0px 10px;'><input type='button' value='Create Draft' id='crtBlDrft' onClick='GetCreatBillDraft()'></div>");
                cl5.hide();
            }
        });
    }


    function CancelChangePasswordForm() {
        $("#divDataContainer").empty();
        $("#RightSidebar").empty();
    }

    //Code for Notices
    function GetAllCurrentNotices() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetAllCurrentNotices", "NoticePaperLaid")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            cache: false,
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").empty();
                $("#RightSidebar").empty();
                $("#divDataContainer").html(data);
                cl.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDNotices");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DDNotices");
            }
        });
    }

    function GetNoticeInBoxList() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetNoticeInBoxList", "NoticePaperLaid")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            cache: false,
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").empty();
                $("#RightSidebar").empty();
                $("#divDataContainer").html(data);
                cl.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDNotices");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.PendingforReply");
            }
        });
    }

    function GetNoticeReplyDraftList() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetNoticeReplyDraftList", "NoticePaperLaid")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                sessionId: sessionId,
                assemblyId: assemblyId,
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            cache: false,
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").empty();
                $("#RightSidebar").empty();
                $("#divDataContainer").html(data);
                cl.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDNotices");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DraftReplies");
            }
        });
    }


    //New Changes discussed on 13 June 2014
    function GetNoticeReplyDraftSendList() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetNoticeReplyDraftSendList", "NoticePaperLaid")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                sessionId: sessionId,
                assemblyId: assemblyId,
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            cache: false,
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").empty();
                $("#RightSidebar").empty();
                $("#divDataContainer").html(data);
                cl.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDNotices");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DraftReplies");
            }
        });
    }

    function GetNoticeReplySentList() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetNoticeReplySentList", "NoticePaperLaid")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                sessionId: sessionId,
                assemblyId: assemblyId,
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            cache: false,
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").empty();
                $("#RightSidebar").empty();
                $("#divDataContainer").html(data);
                cl.hide();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDNotices");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.ReplySent");
            }
        });
    }

    function GetNoticeUPLOBList() {
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        $.ajax({
            url: "/PaperLaidDepartment/NoticePaperLaid/GetNoticeULOBList",
            type: 'GET',
            data: {
                sessionId: sessionId,
                assemblyId: assemblyId,
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                cl5.hide();
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data)
                $("#RightSidebar").empty();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDNotices");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.UpcomingLOB");
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        })
    }

    function GetNoticeLIHList() {
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        $.ajax({
            url: "/PaperLaidDepartment/NoticePaperLaid/GetNoticeLIHList",
            type: 'GET',
            data: {
                sessionId: sessionId,
                assemblyId: assemblyId,
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                cl5.hide();
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data)
                $("#RightSidebar").empty();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDNotices");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DDLaidInHouse");
            },
            error: function (xhr, ajaxOptions, thrownError) {

                alert(xhr.responseText);
                alert(thrownError);
            }
        })
    }

    function GetNoticePLIHList() {
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        var sessionId = $("#SessionCodeHome").val();
        var assemblyId = $("#AssemblyCodeHome").val();
        $.ajax({
            url: "/PaperLaidDepartment/NoticePaperLaid/GetNoticePLIHList",
            type: 'GET',
            data: {
                sessionId: sessionId,
                assemblyId: assemblyId,
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                cl5.hide();
                document.getElementById("MainDiveThreeTire").style.display = "block";
                document.getElementById("MainDiveTwoTire").style.display = "none";
                $("#outerDiv").html("");
                $('#outerDiv').hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").html(data)
                $("#RightSidebar").empty();
                ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.DDNotices");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.DDPendingToLay");
            },
            error: function (xhr, ajaxOptions, thrownError) {

                alert(xhr.responseText);
                alert(thrownError);
            }
        })
    }
    //Srinivasa code End

    //authoization

    function GetAuthorizedList() {
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        var pathurl = '@Url.Action("GetEmployeeAuthorizedList", "EmplyeeAuthorisation", new {@area="UserRegistration" })';

        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {

            },
            cache: false,
            success: function (data) {
                // alert("test");
                document.getElementById("MainDiveThreeTire").style.display = "none";
                document.getElementById("MainDiveTwoTire").style.display = "block";

                $("#outerDiv").html("");
                $("#outerDiv").hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").empty();
                $("#RightSidebar").empty();

                $("#divDataContainerTwoTire").empty();

                $("#divDataContainerTwoTire").html(data);
                //  alert("test");
                ChangeBreadCrumbParent("Employee Authorization", "GetAuthorizationList()");
                ChangeBreadCrumbChild("Authorized Employee");
                cl5.hide();
                //alert("test1");
            }
        });
    }



    function GetAuthorizationList() {
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        var pathurl = '@Url.Action("GetEmployeeAuthorisationList", "EmplyeeAuthorisation", new {@area="UserRegistration" })';

        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {

            },
            cache: false,
            success: function (data) {
                // alert("test");
                document.getElementById("MainDiveThreeTire").style.display = "none";
                document.getElementById("MainDiveTwoTire").style.display = "block";

                $("#outerDiv").html("");
                $("#outerDiv").hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").empty();
                $("#RightSidebar").empty();

                $("#divDataContainerTwoTire").empty();

                $("#divDataContainerTwoTire").html(data);
                //  alert("test");
                ChangeBreadCrumbParent("Employee Authorization", "GetAuthorizationList()");
                ChangeBreadCrumbChild("Unauthorized Employee");
                cl5.hide();
                //alert("test1");
            }
        });
    }



    function GetUnStarredAfterFixation() {
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        var pathurl = '@Url.Action("UnStarredAfterFixation", "PaperLaidDepartment", new {@area="PaperLaidDepartment" })';


        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {

            },
            cache: false,
            success: function (data) {
                // alert("test");
                document.getElementById("MainDiveThreeTire").style.display = "none";
                document.getElementById("MainDiveTwoTire").style.display = "block";

                $("#outerDiv").html("");
                $("#outerDiv").hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").empty();
                $("#RightSidebar").empty();

                $("#divDataContainerTwoTire").empty();

                $("#divDataContainerTwoTire").html(data);
                //  alert("test");
               @* ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");*@
                cl5.hide();
                //alert("test1");
            }
        });
    }

    function GetStarredAfterFixation() {
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        var pathurl = '@Url.Action("StarredAfterFixation", "PaperLaidDepartment", new {@area="PaperLaidDepartment" })';


        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {

            },
            cache: false,
            success: function (data) {
                // alert("test");
                document.getElementById("MainDiveThreeTire").style.display = "none";
                document.getElementById("MainDiveTwoTire").style.display = "block";

                $("#outerDiv").html("");
                $("#outerDiv").hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").empty();
                $("#RightSidebar").empty();

                $("#divDataContainerTwoTire").empty();

                $("#divDataContainerTwoTire").html(data);
                //  alert("test");
               @* ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");*@
                cl5.hide();
                //alert("test1");
            }
        });
    }

    function GetUnStarredBeforeFixation() {
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        var pathurl = '@Url.Action("UnStarredBeforeFixation", "PaperLaidDepartment", new {@area="PaperLaidDepartment" })';


        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {

            },
            cache: false,
            success: function (data) {
                // alert("test");
                document.getElementById("MainDiveThreeTire").style.display = "none";
                document.getElementById("MainDiveTwoTire").style.display = "block";

                $("#outerDiv").html("");
                $("#outerDiv").hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").empty();
                $("#RightSidebar").empty();

                $("#divDataContainerTwoTire").empty();

                $("#divDataContainerTwoTire").html(data);
                //  alert("test");
               @* ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");*@
                cl5.hide();
                //alert("test1");
            }
        });
    }

    function GetStarredBeforeFixation() {
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        var pathurl = '@Url.Action("StarredBeforeFixation", "PaperLaidDepartment", new {@area="PaperLaidDepartment" })';


        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {

            },
            cache: false,
            success: function (data) {
                // alert("test");
                document.getElementById("MainDiveThreeTire").style.display = "none";
                document.getElementById("MainDiveTwoTire").style.display = "block";

                $("#outerDiv").html("");
                $("#outerDiv").hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").empty();
                $("#RightSidebar").empty();

                $("#divDataContainerTwoTire").empty();

                $("#divDataContainerTwoTire").html(data);
                //  alert("test");
               @* ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");*@
                cl5.hide();
                //alert("test1");
            }
        });
    }

    function GetNoticeBeforeFixation() {
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        var pathurl = '@Url.Action("NoticesBeforeFixation","PaperLaidDepartment", new { @area = "PaperLaidDepartment" })';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {},
            cache: false,
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "none";
                document.getElementById("MainDiveTwoTire").style.display = "block";

                $("#outerDiv").html("");
                $("#outerDiv").hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").empty();
                $("#RightSidebar").empty();

                $("#divDataContainerTwoTire").empty();

                $("#divDataContainerTwoTire").html(data);
                //  alert("test");
               @* ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");*@
                cl5.hide();
                //alert("test1");

            }
        });


    }

    function GetNoticeAfterFixation() {
        var cl5 = new CanvasLoader('canvasloader-container1');
        cl5.show();
        var pathurl = '@Url.Action("NoticesAfterFixation","PaperLaidDepartment", new { @area = "PaperLaidDepartment" })';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {},
            cache: false,
            success: function (data) {
                document.getElementById("MainDiveThreeTire").style.display = "none";
                document.getElementById("MainDiveTwoTire").style.display = "block";

                $("#outerDiv").html("");
                $("#outerDiv").hide();
                $("#SuccessDiv").hide();
                $("#divDataContainer").empty();
                $("#RightSidebar").empty();

                $("#divDataContainerTwoTire").empty();

                $("#divDataContainerTwoTire").html(data);
                //  alert("test");
               @* ChangeBreadCrumbParent("@Resources.PaperLaidDepartment.EntryPassesForEmp");
                ChangeBreadCrumbChild("@Resources.PaperLaidDepartment.EmployeePassList");*@
                cl5.hide();
                //alert("test1");
            }
        });


    }

</script>


