﻿@model SBL.eLegistrator.HouseController.Web.Areas.ListOfBusiness.Models.AddLOBModel

<div class="modal-header" style="background-color: white; position: relative;">
    <div style="position: absolute; right: 10px; top: 14px;">
        <a href="javascript:;" data-dismiss="modal" class="close" style="margin-right: 20px; margin-top: 15px;">
            <img src="~/Content/img/cancel-icon.png" class="btn_close" title="Close Window" height="30" width="30" /></a>
    </div>
    <div class="row-fluid">
        <div style="font-weight: bold; font-size: 14px; width: 450px;">
        </div>

    </div>
</div>


@using (Ajax.BeginForm("PartialUpdateSpeakerLine", "Speaker", new AjaxOptions { OnSuccess = "LoginSuccess", HttpMethod = "POST" }, new { @id = "SpeakerTextForm" }))
 {
     @Html.AntiForgeryToken()
<table style="width:100%;margin-top:3%">
    <tr>
        <td style="width:15%;padding-left:5%">
          <b>  @Resources.LOB.SpeakerText :</b>
            @Html.HiddenFor(m => m.LOBId, new {@Id="LOBID" })
            @Html.HiddenFor(m=>m.RecordId, new {@Id="RecordID" })
        </td>
        <td style="width:85%;padding-right:5%">
            @Html.EditorFor(m=>m.TextSpeaker, new {@Id="TextSpeaker" ,@style="width:80%" })
        </td>
    </tr>
    <tr>
        <td style="width:15%;padding-left:5%">
          <b>  @Resources.LOB.PageBreak :</b>
           
        </td>
        <td style="width:85%;padding-right:5%">
            @Html.CheckBoxFor(m=>m.IsSpeakerPageBreak, new {@Id="IsSpeakerPageBreak" })
        </td>
    </tr>
    <tr>
        <td>

        </td>
        <td>
            <input type="button" value="@Resources.LOB.Update" onclick="UpdateSpeakerText();"/>
        </td>
    </tr>

</table>
}


<script>
    function UpdateSpeakerText() {
        var LOBID = document.getElementById("LOBID").value;
        //var RecordID = document.getElementById("RecordID").value;
        //var Textspeaker = document.getElementById("TextSpeaker").value;
        //var IsSpeakerPageBreak = document.getElementById("IsSpeakerPageBreak").value;

        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/ListOfBusiness/Speaker/UpdateSpeakerText",
            type: 'POST',
            data: $('#SpeakerTextForm').serialize(),
            success: function (data) {
                alert(data);
                //$('#OpenModelContainer1').html("");
                $('#OpenModel1').modal('hide')
                UpdateLinesForSpeaker(LOBID, "false");
                // alert(data);
                //getLineList();
            }
        });
    }

</script>