﻿@model SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.EmployeeViewModel

@{
    ViewBag.Title = "CreateEmployee";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@Html.Action("LeftNavigationMenu", "SuperAdmin")
<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    @Html.Partial("_BreadcrumbsPartial")
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "Employee")">@Resources.MasterDataDashboard.EmployeeMasterData</a>
            </li>
            <li>
                <a href="@Url.Action("ShowAllEmployeeDetails", "Employee")">@Resources.MasterDataDashboard.EmployeeDetails</a>
            </li>
               
        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
      @*  <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>*@

    </div>

    <div class="page-content">
        @*<div id="ace-settings-container" class="ace-settings-container">

            <button class="btn  btn-sm btn-success" id="saveandnew">
                <i class="ace-icon fa fa-floppy-o bigger-150"></i>
                <span class="bigger-110">Save &amp; New</span>
            </button>

            <button type="submit" id="savebtn2" class="btn  btn-sm btn-warning">
                <i class="ace-icon fa fa-floppy-o bigger-150"></i>
                <span class="bigger-110">Save</span>
            </button>

            <button class="btn  btn-sm btn-danger"id="@Url.Action("DeleteConstituency", "Constituency", new { id = @Model.ConstituencyID })" onclick="DeleteSpeechCategoryInEdit(this.id)">
                <i class="ace-icon fa fa-trash-o bigger-150"></i>
                <span class="bigger-50">Delete</span>
            </button>
            <button class="btn  btn-sm  btn-grey" onclick="javascript:window.location.href='/Admin/Speech/SpeechCategoryIndex';">
                <i class="ace-icon fa fa-times bigger-150"></i>
                <span class="bigger-110">Cancel</span>
            </button>



        </div>*@
        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.MasterData                              
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.EmployeeDetails  
                </small>
            </h1>


        </div>

        <!-- /section:settings.box -->

        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.CreateEmployee</h4>
            }
            else
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.EditEmployee</h4>
            }

        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            @using (Html.BeginForm("SaveEmployee", "Employee", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @role = "form" }))
                            { 
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.Id)
                                @Html.HiddenFor(model => model.empphoto)
                                @Html.HiddenFor(model => model.Mode)

                                @*<h4 class="header blue lighter smaller clearfix">Basic details </h4>*@
                                <div class="tabbable">
                                    @*<ul id="myTab" class="nav nav-tabs padding-18">
                                        <li class="active">
                                            <a href="#news-english" data-toggle="tab">
                                                <i class="green ace-icon fa fa-home bigger-120"></i>
                                                English
                                            </a>
                                        </li>*@

                                        @*<li>
                                            <a href="#news-hindi" data-toggle="tab">
                                                <i class="blue ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                <span class="lang-hi">हिन्दी  </span>

                                            </a>
                                        </li>*@
                                    @*</ul>*@
                                    <div class="tab-content no-border padding-24">
                                        <div class="tab-pane in active" id="news-english">

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.EmployeeCode </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.empcd, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.EmployeeCode, @autocomplete = "off" ,@maxlength ="11"})
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="empcdvalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.empcd)
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.EmployeeOfficeId </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.officeid, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.EmployeeOfficeId, @autocomplete = "off" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="officeidvalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.officeid)
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.EmployeeFirstName</label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.empfname, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.EmployeeFirstName, @autocomplete = "off",@maxlength ="41" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="empfnamevalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.empfname)
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.EmployeeMiddleName</label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.empmname, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.EmployeeMiddleName, @autocomplete = "off",@maxlength ="41" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        @Html.ValidationMessageFor(model => model.empmname)
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.EmployeeLastName</label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.emplname, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.EmployeeLastName, @autocomplete = "off" ,@maxlength ="41"})
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        @Html.ValidationMessageFor(model => model.emplname)
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.EmployeeNameHindi</label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.empnamelocal, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.EmployeeNameHindi, @autocomplete = "off" ,@maxlength ="61"})
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        @Html.ValidationMessageFor(model => model.empnamelocal)
                                                    </div>
                                                </div>

                                            </div>

                                            @*<div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Date of Birth</label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.empdob, new { @class = "col-xs-10 col-sm-5", @placeholder = "Date of Birth", @autocomplete = "off" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        @Html.ValidationMessageFor(model => model.empdob)
                                                    </div>
                                                </div>

                                            </div>*@
                                            

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="id-date-picker-1">@Resources.MasterDataDashboard.DateofBirth </label>
                                                <div class="col-sm-9">                                                 
                                                    @Html.TextBoxFor(model => model.empdob, new { @placeholder = @Resources.MasterDataDashboard.DateofBirth, @class = "date-picker col-xs-10 col-sm-5",@id="DOB",onchange="CheckDate()", @autocomplete = "off"  })
                                                    <span class="input-group-addon1">
                                                        <i class="fa fa-calendar bigger-110"></i>
                                                    </span>
                                                    <span class="field-validation-error" id="empdobvalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                    @Html.ValidationMessageFor(model => model.empdob, "", new { @id = "ValidFromValidateMesssge" })
                                                </div>
                                            </div>



                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.EmployeeFMH</label>
                                                <div class="col-sm-9">
                                                     @{   var listItems1 = new List<SelectListItem> { 
                                                 new SelectListItem { Text = "Father(F)", Value = "F" }, 
                                                 new SelectListItem { Text = "Mother(M)", Value = "M" },
                                                 new SelectListItem { Text = "Husband(H)", Value = "H" }
                                                 
                                                  };   
                                                 } 
                                       
                                         @Html.DropDownListFor(model => model.empfmh, new SelectList(listItems1, "Value", "Text"), @Resources.MasterDataDashboard.SelectEmployeeFMH, new { @class = "col-xs-10 col-sm-5" })
                                                    @*@Html.TextBoxFor(model => model.empfmh, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.EmployeeFMH, @autocomplete = "off" ,@maxlength ="2"})*@
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="empfmhvalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.empfmh)
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.EmployeeFMHName</label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.empfmhname, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.EmployeeFMHName, @autocomplete = "off",@maxlength ="41" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="empfmhnamevalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.empfmhname)
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Spouse</label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.empspouse, new { @class = "col-xs-10 col-sm-5", @placeholder = @Resources.MasterDataDashboard.Spouse, @autocomplete = "off",@maxlength ="41" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        @Html.ValidationMessageFor(model => model.empspouse)
                                                    </div>
                                                </div>

                                            </div>

                                            @*<div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Religion</label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.empreligion, new { @class = "col-xs-10 col-sm-5", @placeholder = "Employee Religion", @autocomplete = "off",@maxlength ="11" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        @Html.ValidationMessageFor(model => model.empreligion)
                                                    </div>
                                                </div>

                                            </div>*@

                                            

                                            

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Gender</label>
                                                <div class="col-sm-9">
                                                    @{   var listItems = new List<SelectListItem> { 
                                                 new SelectListItem { Text = "Male", Value = "M" }, 
                                                 new SelectListItem { Text = "Female", Value = "F" }
                                                 
                                                  };   
                                                 } 
                                       
                                         @Html.DropDownListFor(model => model.empgender, new SelectList(listItems, "Value", "Text"), @Resources.MasterDataDashboard.SelectGender, new { @class = "col-xs-10 col-sm-5" })
                                                    @*@Html.TextBoxFor(model => model.empgender, new { @class = "col-xs-10 col-sm-5", @placeholder = "Gender(M/F)", @autocomplete = "off" ,@maxlength ="2"})*@
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="empgendervalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.empgender)
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.EmployeeDepartmentId</label>
                                                <div class="col-sm-9">
                                                    @Html.DropDownListFor(model => model.deptid, Model.Department, @Resources.MasterDataDashboard.EmployeeDepartmentId, new { @class = "col-xs-10 col-sm-5"})
                                                    @*@Html.TextBoxFor(model => model.deptid, new { @class = "col-xs-10 col-sm-5", @placeholder = "Employee Department Id", @autocomplete = "off" })*@
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="deptidvalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.deptid)
                                                    </div>
                                                </div>

                                            </div>

                                            
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Photo</label>
                                                <div class="col-sm-9">


                                                    @{
                                                  if (Model.empphoto != null)
                                                  {
                                                      string imageBase64 = Convert.ToBase64String(Model.empphoto);
                                                   string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                                   <img src="@imageSrc" width="100" height="100" />
                                                   }
                                                  }
                                        <input type="file" id="file" name="file" class="col-xs-10 col-sm-4" onchange = "validateFile()"/>
                                        
                                        @*<div class="help-block col-xs-12 col-sm-reset inline">
                                                        @Html.ValidationMessageFor(model => model.empphoto)
                                                    </div>*@
                                    </div>

                                            </div>



                                            <div class="space-2"></div> 
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.IsActive </label>
                                                <div class="col-sm-9">
                                                   @Html.CheckBoxFor(model => model.IsActive)                                                         
                                                </div>

                                            </div>

                                            

                                        </div>
                                        

                                    </div>
                                </div>                              
                                <div class="btn-group pull-right padding-10">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->
                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple " onclick="return userValid();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        @Resources.MasterDataDashboard.Save</button>
                                    <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        @Resources.MasterDataDashboard.Reset
                                    </button>
                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>
                            }
                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>






<script type="text/javascript">

    function userValid() {
        var EC, OI,EFN,ED,Efmh,EfmhN,EG,DI;
        EC = document.getElementById("empcd").value;
        OI = document.getElementById("officeid").value;
        EFN = document.getElementById("empfname").value;
        ED = document.getElementById("DOB").value;
        Efmh = document.getElementById("empfmh").value;
        EfmhN = document.getElementById("empfmhname").value;
        EG = document.getElementById("empgender").value;
        DI = document.getElementById("deptid").value;


        if ((EC == "" || EC == null) && (OI == "" || OI == null) && (EFN == "" || EFN == null) && (ED == "" || ED == null) && (Efmh == "" || Efmh == null) && (EfmhN == "" || EfmhN == null) && (EG == "" || EG == null) && (DI == "" || DI == null)) {
            $("#empcdvalidation").html("Employee Code Required");
            $("#officeidvalidation").html("Office Id Required");
            $("#empfnamevalidation").html("Employee first name Required");
            $("#empdobvalidation").html("Date of Birth Required12");
            $("#empfmhvalidation").html("F/M/H Required");
            $("#empfmhnamevalidation").html("F/M/H Name Required");
            $("#empgendervalidation").html("Gender Required");
            $("#deptidvalidation").html("Department Id Required");


            return false;
        }
        return true;

    }
    $(function () {
        $('#empcd').focus(function () {
            $('#empcdvalidation').html("");
        });
    });
    $(function () {
        $('#officeid').focus(function () {
            $('#officeidvalidation').html("");
        });
    });
    $(function () {
        $('#empfname').focus(function () {
            $('#empfnamevalidation').html("");
        });
    });
    $(function () {
        $('#DOB').focus(function () {
            $('#empdobvalidation').html("");
        });
    });
    $(function () {
        $('#empfmh').focus(function () {
            $('#empfmhvalidation').html("");
        });
    });
    $(function () {
        $('#empfmhname').focus(function () {
            $('#empfmhnamevalidation').html("");
        });
    });
    $(function () {
        $('#empgender').focus(function () {
            $('#empgendervalidation').html("");
        });
    });
    $(function () {
        $('#deptid').focus(function () {
            $('#deptidvalidation').html("");
        });
    });


    </script>







<script type="text/javascript">

    $(document).ready(function () {

        $("#employeemain").addClass("active open");
        $("#employeesub").addClass("nav-show").css("display", "block");
        $("#emplist").addClass("active");
        $("#employeelinkid").removeClass("fa-comment").addClass("fa-comment-o");

    });

    $('.date-picker').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: "dd/mm/yyyy",
    })
    //show datepicker when clicking on the icon
    .next().on(ace.click_event, function () {
        $(this).prev().focus();
    });
</script>

<script>
    $(document).ready(function () {

        $(':file').change(function () {
            for (var i = 0; i < this.files.length; ++i) {
                var name = this.files.item(i).name;
                var fileExtension = ['jpeg', 'jpg'];
                var Extension = name.split('.').pop().toLowerCase();
                if ($.inArray(Extension, fileExtension) == -1) {
                    alert(name + " is not valid format. Only 'jpeg', 'jpg' formats are allowed.");
                    $(':file').val("");
                    return false;
                }
            }
        })

        $("#empcd").focus();
    });
    function resetFields() {
        $(".field-validation-error").empty();
        $("#empcd").focus();
    }
</script>





<script>

    function validateFile() {
        //var allowedExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
        var allowedExtension = ['jpeg', 'jpg'];
        var fileExtension = document.getElementById('file').value.split('.').pop().toLowerCase();
        var isValidFile = false;

        for (var index in allowedExtension) {

            if (fileExtension === allowedExtension[index]) {
                isValidFile = true;
                break;
            }
        }

        if (!isValidFile) {
            alert('Upload Photo having extension : *.' + allowedExtension.join(', *.'));
            $('#file').val("");
        }

        return isValidFile;

    }


</script>



<script>

    function CheckDate() {
        var dateEntered = document.getElementById("DOB").value;


        var date = dateEntered.substring(0, 2);
        var month = dateEntered.substring(3, 5);
        var year = dateEntered.substring(6, 10);

        var dateToCompare = new Date(year, month - 1, date);
        var currentDate = new Date();

        if (dateToCompare > currentDate) {
            alert("Date should not be greater than Current Date ");
            $('#DOB').val("");
        }

    }

  

</script>