﻿@model  List<SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.EmployeeViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    int Tablecount = 0;
}



@*@{
    int TableCount = 0;
}*@


@*@using Resources

@{
    int SrNo = 1;   
}
@{ 
    int count = 0;
    int startpage = 0;
    int endPage = 0; 
}
@{
                
    float rcnt = @Model.ResultCount;

    float rperPage = @Model.RowsPerPage;
    float cnt = rcnt / rperPage;
    int b = (int)cnt; ;
    float c = (float)cnt - b;
                
}
@if (c > 0)
{
    count = b + 1;
}
else
{
    count = b;
}
@{
    startpage = ((@Model.selectedPage * 10) - 10) + 1;
    endPage = startpage + 9;
           
}
@if (Model.loopStart <= 0)
{
    Model.loopStart = 1;
    Model.loopEnd = 5;
}*@






@Html.Action("LeftNavigationMenu", "SuperAdmin")
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "Employee")">Home</a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Employee")">Employee</a>
            </li>
            <li class="active">List</li>
        </ul>

        @*<div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>*@

    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->


        <!-- /section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
            <button class="btn  btn-sm btn-info" onclick="javascript:window.location.href=' /SuperAdmin/Employee/CreateEmployee';">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                <span class="bigger-110">New</span>
            </button>
        </div>
        <div class="page-header">
            <h1>Employee                             
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Employee List
                </small>
            </h1>
        </div>
        <div id="Menu">
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->

                    <div class="pass-table">


                        @if (Model != null)
                        {
                            if (Model.Count() > 0)
                            {       
                                
                            <div class="table-header">
                                <div class="form-group">
                                    @*<div class="row">
                                        <div class="col-sm-4"></div>
                                        <div class="col-sm-4">@Html.DropDownListFor(model => model.AssemblyID, new SelectList(ViewBag.AssemblyName, "Value", "Text"), "--Select Assembly Names--", new { @id="ddlAssembly",@class = "col-xs-10 col-sm-12"  } ) </div>
                                        <div class="col-sm-4"></div>

                                    </div>*@

                                </div>
                            </div>             
                            <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                                <thead>
                                    <tr role="row">

                                        <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">S.No</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Employee Code</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Employee Office Id</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Employee Name</th>
                                        @*<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Employee Middle Name</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Employee Last Name</th>*@
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Employee Name(Hindi)</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Date of Birth</th>
                                        @*<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Employee(F/M/H)</th>*@
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Employee(F/M/H) Name</th>
                                        @*<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Spouse</th>*@
                                        @*<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Religion</th>*@
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Gender(M/F)</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Employee Department Id</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Photo</th>
                                        
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Is Active</th>
                                        
                                        <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    @foreach (var item in Model)
                                    {
                                        Tablecount = Tablecount + 1;  
                                        <tr>
                                            <td class="center">
                                                @Tablecount
                                            </td>
                                            
                                            <td>@item.empcd</td>
                                            <td>@item.officeid</td>
                                            <td>@item.empfname @item.empmname @item.emplname</td>
                                            @*<td>@item.empmname</td>
                                            <td>@item.emplname</td>*@
                                            <td>@item.empnamelocal</td>
                                            <td>@item.empdob</td>
                                            @*<td>@item.empfmh</td>*@
                                            <td>@item.empfmhname</td>
                                            @*<td>@item.empspouse</td>*@
                                            @*<td>@item.empreligion</td>*@
                                            <td>@item.empgender</td>
                                            <td>@item.deptid</td>
                                            <td>
                                                @{
                                        if (@item.empphoto != null)
                                        {
                                            string imageBase64 = Convert.ToBase64String(@item.empphoto);
                                            string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                                   <img src="@imageSrc" width="100" height="100" />
                                        }
                                                  }
                                            </td>
                                            
                                            
                                            <td>@item.IsActive</td>
                                            
                                            <td class="center">
                                                <div class="hidden-sm hidden-xs action-buttons">

                                                    <a data-rel="tooltip" class="green tooltip-success" title="Edit"  href="@Url.Action("EditEmployee", "Employee", new { Id = item.Id })">
                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                    </a>
                                                    <a data-rel="tooltip" class="red tooltip-error" title="Delete" id="DeleteLink"  href="@Url.Action("DeleteEmployee", "Employee", new { Id = item.Id })">
                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                    </a>
                                                </div>

                                                <div class="hidden-md hidden-lg">
                                                    <div class="inline position-relative">
                                                        <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                            <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                                        </button>

                                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                                                            <li>
                                                                <a  href="@Url.Action("EditEmployee", "Employee", new { Id = item.Id })" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                                    <span class="green">
                                                                        <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                                    </span>
                                                                </a>

                                                            </li>

                                                            <li>
                                                                <a  href="@Url.Action("DeleteEmployee", "Employee", new { Id = item.Id })"  class="tooltip-error" data-rel="tooltip" title="Delete">
                                                                    <span class="red">
                                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                    </span>
                                                                </a>

                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>                                                                
                                    }

                                </tbody>
                            </table>
                            
                            
                            
                            
                            
                            @*<div class="dataTables_paginate paging_simple_numbers" style="position: relative;bottom: 39px;">
                      
                        @if (count > 0)
                        {
                            if (count < Model.loopEnd)
                            {
                                Model.loopEnd = count;
                            }




                            if (Model.loopStart > 5)
                            {                           
                            <a href="#"  onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)" title="GoToThePreviousPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">previous page</span></a>                                          
                            }
                       
                            <ul class="pagination">
                                <li class=""><a href="#" onclick="NextButton(@Model.RowsPerPage,1,1,5)"><i class="fa fa-angle-double-left"></i></a></li>
                                @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                                {
                                    if (i == @Model.selectedPage)
                                    {
                                    
                                    <li class="active"><span class="grid-page-selected">@i</span></li>
                                    }
                                    else
                                    {
                                    <li><a href="#"   onclick="NextButton(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                            
                                    }

                                }
                                <li class=""><a href="#" onclick="NextButton(@Model.RowsPerPage,@count,@count-5,@count)"><i class="fa fa-angle-double-right"></i></a></li>
                            </ul>
                        
                                if (Model.loopStart + 5 < @count)
                                {
                            <a href="#" onclick="NextAndPreviousButton(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)" title="GoToTheNextPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">next page</span></a>                         
                                }



                        }
                    </div>*@
                            
                            
                            
                            
                            
                            <!-- PAGE CONTENT ENDS -->
                            }
                            else
                            {
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="alert alert-info">

                                        <strong>No Employee Record Found</strong><br />


                                    </div>
                                </div>
                            </div>
                            }
                        }

                    </div>

                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@

            </div>

            <!-- /section:basics/footer -->
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>

<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>

    <div class="space-6"></div>
</div>



@*@Html.HiddenFor(m => m.ResultCount, new { @id = "hdnResultCount" })*@


<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery-1.7.min.js"></script> 
<script src="~/assets/js/jquery-ui.custom.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#speechmain").addClass("active open");
        $("#speechsub").addClass("nav-show").css("display", "block");
        $("#speechcatlist").addClass("active");

    });



    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
              { "bSortable": false },
              null, null, null, null, null, null, null, null, null, null,
              { "bSortable": false }
            ]

        });

        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })


    $(" #DeleteLink").on('click', function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        var message = "";
        var buttonlabel = "";
        var buttoncss = "";
        var title = "";
        if ($(this).attr('id') == "DeleteLink") {

            message = "Are you sure want to delete ?";
            buttonlabel = "Delete";
            buttoncss = "btn-danger";
            title = "Delete Confirmation"
        }

        bootbox.dialog({
            message: message,
            title: title,
            buttons: {
                success: {
                    label: buttonlabel,
                    className: buttoncss,
                    callback: function () {
                        window.location.href = url;
                    }
                },
                danger: {
                    label: "Cancel",
                    className: "btn",
                    callback: function () {
                        $('.modal-dialog').modal('hide');
                    }
                },

            }
        });
    });
</script>





@*<script>
    function Resultcount() {
        return @Model.ResultCount
    }


    function NextButton(rPage, pageNo, lStart, lEnd) {
        var resultCount = document.getElementById("hdnResultCount").value;
        //  alert(resultCount);
        var pageNumber = pageNo;
        //alert(pageNumber);
        var rowsPerPage = rPage;
        //alert(rowsPerPage);
        var loopStart = lStart;
        // alert(loopStart);
        var loopEnd = lEnd
        //alert(loopEnd);
        $.get("/Admin/SystemModules/GetList", {

            PageNumber: pageNumber,
            RowsPerPage: rowsPerPage,
            loopStart: lStart,
            loopEnd: lEnd,
            ResultCount: resultCount
        }, function (data) {

            $("#sample-table-2_wrapper").html(data)

        });


        function NextAndPreviousButton(rPage, pageNo, lStart, lEnd) {

            var resultCount = document.getElementById("hdnResultCount").value;
            var pageNumber = pageNo;
            var rowsPerPage = rPage;
            var loopStart = lStart;
            var loopEnd = lEnd
            ResultCount: resultCount
            $.get("/Admin/SystemModules/GetList", {

                PageNumber: pageNumber,
                RowsPerPage: rowsPerPage,
                loopStart: lStart,
                loopEnd: lEnd,
                ResultCount: resultCount
            }, function (data) {
                alert(data)
                alert(data)
                $("#sample-table-2_wrapper").html(data)

            });
        }
    }


    $("select").change(function () {

        var SeltValue = document.getElementById("DropDown").value;

        var resultCount = document.getElementById("hdnResultCount").value;

        $.get("/Admin/SystemModules/GetList", {

            PageNumber: 1,
            RowsPerPage: SeltValue,
            loopStart: 1,
            loopEnd: 5,
            ResultCount: resultCount
        }, function (data) {

            $("#sample-table-2_wrapper").html(data)
            $("#DropDown").val(SeltValue);
        });

    })


</script>*@
