﻿@{
	ViewBag.Title = "UpdateSalaryBills";
	Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@Html.Action("LeftNavigationMenu", "SuperAdmin")

<style type="text/css">
	#prodiv {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100px;
		height: 100px;
		margin-top: -9em; /*set to a negative number 1/2 of your height*/
		margin-left: -15em; /*set to a negative number 1/2 of your width*/
		background-color: #f3f3f3;
	}
</style>
<script src="~/assets/js/bootbox.min.js"></script>
<link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />

<!-- page specific plugin styles -->
<link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="~/assets/css/chosen.css" />
<link rel="stylesheet" href="~/assets/css/datepicker.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.css" />
<link rel="stylesheet" href="~/assets/css/daterangepicker.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.css" />
<link rel="stylesheet" href="~/assets/css/colorpicker.css" />

<!-- text fonts -->
<link rel="stylesheet" href="~/assets/css/ace-fonts.css" />

<!-- ace styles -->
<link rel="stylesheet" href="~/assets/css/ace.min.css" />

<!--[if lte IE 9]>
			<link rel="stylesheet" href="~/assets/css/ace-part2.min.css" />
		<![endif]-->
<link rel="stylesheet" href="~/assets/css/ace-skins.min.css" />
<link rel="stylesheet" href="~/assets/css/ace-rtl.min.css" />

<!--[if lte IE 9]>
		  <link rel="stylesheet" href="~/assets/css/ace-ie.min.css" />
		<![endif]-->

<!-- inline styles related to this page -->

<!-- ace settings handler -->
<script src="~/assets/js/ace-extra.min.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lte IE 8]>
		<script src="~/assets/js/html5shiv.js"></script>
		<script src="~/assets/js/respond.min.js"></script>
		<![endif]-->
<div class="main-content">
	 @Html.Partial("_BreadcrumbsPartial")
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
		    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="ace-icon fa fa-home home-icon"></i>
				<a href="@Url.Action("Index", "SiteSettings")">@Resources.MasterDataDashboard.Home</a>
			</li>
			<li>
				<a href="@Url.Action("Index", "SiteSettings")">@Resources.MasterDataDashboard.SiteSettingDetails</a>
			</li>

		</ul>
		<!-- /.breadcrumb -->

		<!-- #section:basics/content.searchbox -->
	 @*   <div class="legAssm">
			<span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
			<span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
		</div>*@

	</div>
	<div class="page-content">
		<div class="page-header">
			<h1>Salary Section
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					Update Salary Bill
				</small>
			</h1>
		</div>
		<!-- #section:settings.box -->

		<!-- /section:settings.box -->
		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="widget-box">
					<div class="widget-header">
						
						<span id="designationText" class="hspan"></span>

						<div class="widget-toolbar">
                            <label id="searchcriteriavalueDivAssembly">
								Select Assembly
							<select id="searchcriteriavalueAssembly" name="searchcriteriavalueAssembly"   class="chosen-select form-control" data-placeholder="--select --">
								</select></label>
							<label>
								Select Designation

									<select id="searchcriteria" style="height: 34px;">
										<option value="0">--Select Designation--</option>
										<option value="1">Speaker</option>
										<option value="2">Deputy Speaker</option>
										<option value="3">Members</option>
									</select>
							</label>

							<label id="searchcriteriavalueDiv">
								Select Member
							<select id="searchcriteriavalue" name="searchcriteriavalue" class="chosen-select form-control" data-placeholder="--select a member--">
								
							</select></label>
							
								<label>
									Select Month
								</label>
								<select id="MonthID" style="height: 34px;">
									
								</select>
								<label>
									Select Year
								</label>
								<select id="YearID" style="height: 34px;">
									
								</select>
                             <label>
									Select Part
								</label>
						     		<select id="ispart" style="height: 30px;">
									
								</select>
								<button class="btn btn-xs btn-primary btn-bold" type="button" onclick="getList()">
									<i class="ace-icon fa fa-search bigger-150"></i>
									<span class="bigger-110">Search</span>
								</button>
						</div>
					</div>

					<div class="widget-body">
						<div class="widget-main">
							@using (Ajax.BeginForm("generateBills", "SalaryBills", FormMethod.Post, new AjaxOptions { InsertionMode = InsertionMode.Replace, OnSuccess = "OnSuccess()", LoadingElementId = "loader-wrapper" }, new { @class = "form-horizontal", @role = "form", id = "saveLoanForm" }))
							{
								<div id="salaryHeadListDiv">
								</div>
							}
							<!-- /.col -->
						</div>
					</div>
				</div>
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.page-content -->

	<div id="selectDesignatioMsg" style="visibility: hidden;">
		<div class="alert alert-info">

			<strong>Information </strong>

			Please Select Designation to Generate Salary Bills.
										<br/>
		</div>
	</div>
	<!-- /.main-content -->

	<div class="footer">
		<div class="footer-inner">
			<!-- #section:basics/footer -->
			<div class="footer-content">
				@*<span class="bigger-100">
					<span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
				</span>*@
			</div>

			<!-- /section:basics/footer -->
		</div>
	</div>

	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
		<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
	</a>
</div>

<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="~/assets/js/chosen.jquery.min.js"></script>
<script src="~/assets/js/fuelux/fuelux.spinner.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-timepicker.min.js"></script>
<script src="~/assets/js/date-time/moment.min.js"></script>
<script src="~/assets/js/date-time/daterangepicker.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-datetimepicker.min.js"></script>
<script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
<script src="~/assets/js/jquery.knob.min.js"></script>
<script src="~/assets/js/jquery.autosize.min.js"></script>
<script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
<script src="~/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/bootstrap-tag.min.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
<!-- ace scripts -->

<script src="~/assets/js/CommonNotify.js"></script>

<script>
    var theDate = new Date();
    $(document).ready(function () {
        fillMonth();
        fillYear();
        GetAllAssembly();
        fillispart();
        var currMonth = theDate.getMonth();
        $("#MonthID").val(currMonth + 1);
        $("#YearID").val(theDate.getFullYear());
        $("#salaryHeadListDiv").html($("#selectDesignatioMsg").html());
    });
    $("#searchcriteriavalueDiv").hide();

    function getList() {
        try {

            var sdatavalue = $("#searchcriteria option:selected").val();

            if (sdatavalue == 1)
                getSpeakerID(1, 1);

            if (sdatavalue == 2)
                getSpeakerID(14, 2);
            if (sdatavalue == 3) {
                var svdatavalue = $("#searchcriteriavalue option:selected").val();
                $("#loader-wrapper").hide();
                if (svdatavalue != 0) {

                    getHeadsforMembers(svdatavalue, 3);
                }
                else {
                    if (svdatavalue != -1) {
                        //getHeadsforAllMembers();
                    }
                }
            }
        } catch (error) {
            alert(error.message);
        }
    }

    $("#searchcriteria").on('change', function (e) {
        $("#loader-wrapper").show();
        $("#searchcriteriavalueDiv").hide();
        var datatext = $("#searchcriteria option:selected").text();
        var datavalue = $("#searchcriteria option:selected").val();
        if (datavalue == 3) {
            fillCurrentMember();

        }
        else {
            $("#loader-wrapper").hide();
        }
    });

    $("#searchcriteriaassembly").on('change', function (e) {
        $("#loader-wrapper").show();
        $("#searchcriteriavalueDivAssembly").hide();
        var datatext = $("#searchcriteriaassembly option:selected").text();
        var datavalue = $("#searchcriteriaassembly option:selected").val();

        GetAllAssembly();
    });
    //$("#searchcriteriavalue").on('change', function (e) {
    //	try {

    //		$("#loader-wrapper").show();

    //		var datatext = $("#searchcriteriavalue option:selected").text();
    //		var datavalue = $("#searchcriteriavalue option:selected").val();
    //		$("#loader-wrapper").hide();
    //		if (datavalue != 0) {

    //			getHeadsforMembers(datavalue, 3);
    //		}
    //		else {
    //			if (datavalue != -1) {
    //				getHeadsforAllMembers();
    //			}
    //		}


    //	} catch (error) {
    //		alert(error.message);
    //	}
    //});
    function fillCurrentMember() {
        $("#loader-wrapper").show();
        $("#searchcriteriavalueDiv").show();
        //var datatext = $("#searchcriteriaassembly option:selected").text();
        var datavalue = $("#searchcriteriavalueAssembly option:selected").val();

        alert(datavalue);
        var pathurl = "@Url.Action("fillCurrentMember", "SalaryBills")";

		$.ajax({
		    //url: pathurl,
		    //type: 'GET',
		    url: pathurl,
		    type: 'POST',
		    data: { assemblyid: $("#searchcriteriavalueAssembly option:selected").val() },

		    success: function (data) {
		        if (data) {
		            $("#loader-wrapper").hide();
		            $("#searchcriteriavalue").html("");
		            $("#searchcriteriavalue").append($("<option></option>").val(-1).html('--select--'))
		            //	$("#searchcriteriavalue").append($("<option></option>").val(0).html('--All--'))
		            for (var i = 0; i < data.length; i++) {
		                var item = data[i];

		                $("#searchcriteriavalue").append($("<option></option>").val(item.MemberCode).html(item.MemberCode + ' - ' + item.MemberName))
		            }
		            $("#searchcriteriavalue").trigger("chosen:updated");
		            //getHeadsforAllMembers();
		        }
		    }
		});
    }


    function GetAllAssembly() {
        $("#loader-wrapper").show();
        $("#searchcriteriavalueDivAssembly").show();
        var pathurl = "@Url.Action("GetAllAssemblyReverse", "SalaryBills")";

        $.ajax({
            url: pathurl,
            type: 'GET',

            success: function (data) {
                if (data) {
                    $("#loader-wrapper").hide();
                    $("#searchcriteriavalueAssembly").html("");
                    $("#searchcriteriavalueAssembly").append($("<option></option>").val(-1).html('--select--'))
                    //	$("#searchcriteriavalue").append($("<option></option>").val(0).html('--All--'))
                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        //   $("#searchcriteriavalueAssembly").append($("<option></option>").val(item.AssemblyID).html(item.AssemblyID + ' - ' + item.AssemblyName))

                        $("#searchcriteriavalueAssembly").append($("<option></option>").val(item.AssemblyCode).html(item.AssemblyName))
                    }
                    $("#searchcriteriavalueAssembly").trigger("chosen:updated");
                    //getHeadsforAllMembers();
                }
            }
        });
    }

    function fillispart() {
        for (y = 1; y <= 3; y++) {
            var optn = document.createElement("OPTION");
            optn.text = y;
            optn.value = y;
            document.getElementById('ispart').options.add(optn);
        }
    }


    function getHeadsforMembers(memberid, catID) {

        try {
            $("#loader-wrapper").show();
            var pathurl = "@Url.Action("getSalaryHeadsList", "SalaryBills")";

			$.ajax({
			    url: pathurl,
			    type: 'POST',
			    data: { memberid: memberid, catId: catID, monthID: $("#MonthID option:selected").val(), yearID: $("#YearID option:selected").val(), assemblyid: $("#searchcriteriavalueAssembly option:selected").val(), ispart: $("#ispart option:selected").val() },
			    success: function (data) {

			        $("#loader-wrapper").hide();
			        $("#salaryHeadListDiv").html("");
			        $("#salaryHeadListDiv").html(data);


			    }
			});
        } catch (error) {
            alert(error.message);
        }
    }
    function getHeadsforAllMembers() {

        try {
            $("#loader-wrapper").show();
            var pathurl = "@Url.Action("getSalaryHeadsListforAllMembers", "SalaryBills")";

			$.ajax({
			    url: pathurl,
			    type: 'POST',
			    Data: { monthID: $("#MonthID option:selected").val(), yearID: $("#YearID option:selected").val() },
			    success: function (data) {

			        $("#loader-wrapper").hide();
			        $("#salaryHeadListDiv").html("");
			        $("#salaryHeadListDiv").html(data);

			    }
			});
        } catch (error) {
            alert(error.message);
        }
    }
    function getSpeakerID(designationID, catID) {

        var pathurl = "@Url.Action("getSpeakerCurrentList", "SalaryBills")";

	    $.ajax({
	        url: pathurl,
	        type: 'POST',
	        contentType: "application/json; charset=utf-8",
	        dataType: "json",
	        data: JSON.stringify({ designationID: designationID, assemblyid: $("#searchcriteriavalueAssembly option:selected").val(), monthID: $("#MonthID option:selected").val(), yearID: $("#YearID option:selected").val() }),

	        success: function (data) {

	            getHeadsforMembers(data[0].speakerID, catID);


	        }
	    });
	}

	try {
	    $('.chosen-select').chosen({ allow_single_deselect: true });
	    //resize the chosen on window resize
	    $(window).on('resize.chosen', function () {
	        var w = $('.chosen-select').parent().width();
	        $('.chosen-select').next().css({ 'width': '200px' });
	    }).trigger('resize.chosen');
	}
	catch (error) {
	}
	try {
	    $('#chosen-multiple-style').on('click', function (e) {
	        var target = $(e.target).find('input[type=radio]');
	        var which = parseInt(target.val());
	        if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
	        else $('#form-field-select-4').removeClass('tag-input-style');
	    });
	}
	catch (error) {
	}

	function fillMonth() {

	    for (var i = 0; i <= 11; i++) {

	        $("#MonthID").append($("<option></option>").val(i + 1).html(month[i]));
	    }
	}
	function fillYear() {

	    var currentyear = theDate.getFullYear();

	    for (var i = currentyear - 5; i < currentyear + 5; i++) {
	        $("#YearID").append($("<option></option>").val(i).html(i));
	    }
	}
	var month = new Array(11);
	month[0] = "Jan";
	month[1] = "Feb";
	month[2] = "Mar";
	month[3] = "Apr";
	month[4] = "May";
	month[5] = "Jun";
	month[6] = "Jul";
	month[7] = "Aug";
	month[8] = "Sep";
	month[9] = "Oct";
	month[10] = "Nov";
	month[11] = "Dec";

	function OnSuccess() {

	    var datatext = $("#searchcriteria option:selected").text();
	    var datavalue = $("#searchcriteria option:selected").val();
	    $("#loader-wrapper").hide();
	    if (datavalue == 1)
	        getSpeakerID(1, 1);

	    if (datavalue == 2)
	        getSpeakerID(14, 2);
	    if (datavalue == 3) {

	        var datatextt = $("#searchcriteriavalue option:selected").text();
	        var datavaluet = $("#searchcriteriavalue option:selected").val();
	        $("#loader-wrapper").hide();
	        if (datavaluet != 0) {

	            getHeadsforMembers(datavaluet, 3);
	        }
	        else {
	            if (datavaluet != -1) {
	                getHeadsforAllMembers();
	            }
	        }
	    }
	    $("#loader-wrapper").hide();
	    ShowNotification("success", "Salary Bill  has been  Generated .....");

	}

</script>
