﻿@model  List<SBL.eLegistrator.HouseController.Web.Areas.Library.Models.CommitteeReportViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

<style>
     .ErrorMessage {
        color: red;
        font-weight: bold;
    }
</style>
 @{Html.RenderPartial("~/Areas/Library/Views/Shared/_LeftMenu.cshtml");}
<div class="main-content">  
     <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "CommitteeReport")">@Resources.MasterDataDashboard.Home</a>
            </li>

            <li>
                <a href="@Url.Action("Index", "CommitteeReport")">Committee Report Information</a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.List</li>
        </ul>

    </div>
    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->


        <!-- /section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
            <button class="btn  btn-sm btn-info" onclick="CreateSubItem(0,'Add');">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                <span class="bigger-110">@Resources.MasterDataDashboard.New</span>
            </button>
        </div>
        <div class="page-header">
            <h1>Committee Report Information                      
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.List
                </small>
            </h1>
        </div>
        <div id="Menu">
            <div class="row">
                 <div id="tablecontainer">
                        @{Html.RenderPartial("~/Areas/Library/Views/CommitteeReport/_CommitteeReportList.cshtml", Model);}
                    </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@
            </div>
            <!-- /section:basics/footer -->
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>
    <div class="space-6"></div>
</div>

<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //left menu code
        $("#menuLibraryRecords").addClass("active open");
        $("#subMenuLibraryRecords").addClass("nav-show").css("display", "block");
        $("#CommitteeReportIndex").addClass("active");

    });
    // Edit Qualification RowCreateSubItem 
    function CreateSubItem(SubsId,Action) {
        $body = $("body");
        var Id = SubsId;
        var Url = '@Url.Action("CreatetCommitteeReport", "CommitteeReport", new { Area = "Library" })';
        $.ajax({
            type: "POST",
            url: Url,
            data: '{ Id: "' + Id + '",Action: "' + Action + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $("#loader-wrapper").show();
               // $body.addClass("loading");
            },
            success: function (result) {
                $('#SubscriptionDiv').empty();
                $('#SubscriptionDiv').append(result);
                $('#CreateSubsCriptionModel').show('modal');
            },
            error: function (error) {
                $('#SubscriptionDiv').empty();
                $('#SubscriptionDiv').append(error.responseText);
                $('#CreateSubsCriptionModel').modal('show');

            },
            complete: function (results) {

                setTimeout(function () {
                    $body.removeClass("loading");
                }, 1000);
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);
                $("#loader-wrapper").hide();
            }
        });
    }


   //Update Qualification
    $(document).on('click', '#UpdateItemSubsCription', function (e) {
       
       debugger;
       $body = $("body");
       $('.ErrorMessage').remove('');
       var IsValid = true;
     
       if ($('#ReportSource').val() == '') {
           $('#ReportSource').after("<span class='ErrorMessage'>Required</span>");
           IsValid = false;
       }
       else if ($('#NameofCommittee').val() == '') {

           $('#NameofCommittee').after("<span class='ErrorMessage'>Required</span>");

           IsValid = false;
       }
       else if ($('#Year').val() == '') {

           $('#Year').after("<span class='ErrorMessage'>Required</span>");

           IsValid = false;
       }
       else if ($('#ReportNo').val() == '') {

           $('#ReportNo').after("<span class='ErrorMessage'>Required</span>");
           IsValid = false;
       }
       
       else if ($('#Building').val() == '') {

           $('#Building').after("<span class='ErrorMessage'>Required</span>");

           IsValid = false;
       }

       else if ($('#Floor').val() == '') {

           $('#Floor').after("<span class='ErrorMessage'>Required</span>");

           IsValid = false;
       }
       else if ($('#Almirah').val() == '') {

           $('#Almirah').after("<span class='ErrorMessage'>Required</span>");

           IsValid = false;
       }
       //else if ($('#Reck').val() == '') {

       //    $('#Reck').after("<span class='ErrorMessage'>Required</span>");

       //    IsValid = false;
       //}
      
       else {
       
           IsValid = true;
       }


       if (IsValid == true) {
           var Url1 = '@Url.Action("SavetCommitteeReport", "CommitteeReport", new { Area = "Library" })';
           var QData = $('#SubscriptionItemForm').serialize();
           e.preventDefault();
           $.ajax({
               cache: false,
               async: true,
               type: "POST",
               url: Url1,
               data: QData,
               beforeSend: function () {
                   $('#CreateSubsCriptionModel').modal('hide');
                   // $body.addClass("loading");
                   $("#loader-wrapper").show();
               },
               success: function (result) {
                   
                   $('#tablecontainer').empty();
                   $('#tablecontainer').append(result);
               },
               error: function (result) {
                   $('#tablecontainer').empty();
                   $('#tablecontainer').append(result);
               },

               complete: function (result) {
                   setTimeout(function () {
                       $body.removeClass("loading");
                   }, 1000);
                   setTimeout(function () {
                       $('#MsgDiv').slideUp("slow");
                   }, 6000);
                   $("#loader-wrapper").hide();
               }
           });
       }
   });

    function DeleteCommitteeReport(SubsId)
   {
       $body = $("body");
       $.ajax({
           type: "POST",
           url: '/CommitteeReport/DeleteCommitteeReport',
           data: '{ Id: "' + SubsId + '"}',
           contentType: "application/json; charset=utf-8",
           dataType: "json",
           beforeSend: function () {
               // $body.addClass("loading");
               $("#loader-wrapper").show();
           },
           success: function (result) {
               $('#tablecontainer').empty();
               $('#tablecontainer').append(result);
           },
           error: function (result) {
               $('#tablecontainer').empty();
               $('#tablecontainer').append(result.responseText);
           },
           complete: function (result) {
               setTimeout(function () {
                   $body.removeClass("loading");
               }, 1000);
               setTimeout(function () {
                   $('#MsgDiv').slideUp("slow");
               }, 6000);
               $("#loader-wrapper").hide();
           }
       });
   }
</script>


  <!--Create Item Subscription Modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="CreateSubsCriptionModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="SubscriptionModal">Committee Report Information</h4>
                </div>
                <form method="post" action="/SchemeSetup/SaveQualification" id="SubscriptionItemForm">
                    <div class="modal-body" >
                        <div id="SubscriptionDiv"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                         <button type="button" id="UpdateItemSubsCription" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
