﻿@model SBL.eLegistrator.HouseController.Web.Areas.AdministrationBranch.Models.AdministrationBranchDashboardModel
@{
    int count = 0;
}


@if (Model.ActionFirstValue == null)
{
    <div class="col-xs-12">
        <div class="table-header">
            List of @Model.ReportInformation Passes Approved and Panding.
        </div>

        <div class="pass-table">
            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                @if (Model != null)
                {
                    if (Model != null)
                    {
                    <table class="tbl table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting scolom" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1">#</th>

                                <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1">Pass Type</th>
                                <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1">Approved</th>

                                <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1">Pending</th>



                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">

                            <tr class="odd">
                                <td class=" ">1</td>
                                <td class=" ">Department/Minister Pass</td>
                                <td class=" ">@Model.TotalDpartApproval @Html.Raw("&nbsp;&nbsp;&nbsp;")|@Html.Raw("&nbsp;&nbsp;&nbsp;") <a title="View" id="DeptMinApproved" onclick="SubmitDepartmentView(this.id)" href="javascript:void(0);" class="blue">View Details</a></td>
                                <td class=" ">@Model.TotalDpartPanding @*@Html.Raw("&nbsp;&nbsp;&nbsp;")|@Html.Raw("&nbsp;&nbsp;&nbsp;") <a title="View" id="DeptMinPanding" onclick="SubmitDepartmentView(this.id)" href="javascript:void(0);" class="blue">View Details</a>*@</td>
                            </tr>
                            <tr class="even">
                                <td class=" ">2</td>
                                <td class=" ">Public Pass</td>
                                <td class=" ">@Model.TotalPublicApproval @Html.Raw("&nbsp;&nbsp;&nbsp;")|@Html.Raw("&nbsp;&nbsp;&nbsp;") <a title="View" id="PublicApproved" onclick="SubmitDepartmentView(this.id)" href="javascript:void(0);" class="blue">View Details</a></td>
                                <td class=" ">@Model.TotalPublicPanding  @*@Html.Raw("&nbsp;&nbsp;&nbsp;")|@Html.Raw("&nbsp;&nbsp;&nbsp;") <a title="View" id="PublicPanding" onclick="SubmitDepartmentView(this.id)" href="javascript:void(0);" class="blue">View Details</a>*@</td>
                            </tr>
                            <tr class="odd">
                                <td class=" ">3</td>
                                <td class=" ">Journalist Pass</td>
                                <td class=" ">@Model.TotalJouApproval @Html.Raw("&nbsp;&nbsp;&nbsp;")|@Html.Raw("&nbsp;&nbsp;&nbsp;") <a title="View" id="JournalistApproved" onclick="SubmitDepartmentView(this.id)" href="javascript:void(0);" class="blue">View Details</a></td>
                                <td class=" ">@Model.TotalJouPanding  @*@Html.Raw("&nbsp;&nbsp;&nbsp;")|@Html.Raw("&nbsp;&nbsp;&nbsp;") <a title="View" id="JournalistPanding" onclick="SubmitDepartmentView(this.id)" href="javascript:void(0);" class="blue">View Details</a>*@</td>
                            </tr>
                        </tbody>
                    </table>
                    }
                    else
                    {
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-info">
                                @Resources.PublicPasses.GridNoPassApproved
                            </div>
                        </div>
                    </div>
                    }
                }
                else
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-info">
                                @Resources.PublicPasses.GridNoPassApproved
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
}



<script>
    $(document).ready(function () {
        //TableToolsInit.sPrintMessage = "Print header message!";

        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
                { "bSortable": false },
              null, null, null,
            ],
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "aButtons": ["xls", "pdf", "print"],
                "sSwfPath": "/assets/TableTools/swf/copy_csv_xls_pdf.swf"

            }
        });
    });
    //function GetGatePassReportList() {
    //    try {
    //        var Status = $("#Status").val();
    //        if (Status == "0") {
    //            confirm("Plese select any option !!!");
    //        }
    //        else {
    //            var redirectLocation = "/AdministrationBranch/AdministrationBranch/GatePassReportList?Status=" + Status;
    //            window.location.href = redirectLocation;
    //        }
    //    }
    //    catch (ex) {
    //        alert(ex.message);
    //    }
    //}
    function SubmitDepartmentView(id) {
        try {
            $("#loader-wrapper").show();
            $.ajaxSetup({ cache: false });
            var pathurl = '@Url.Action("GatePassReportList", "AdministrationBranch")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                ViewListDetails: id,
            },
            success: function (data) {

                $("#dayVisePassReport1").html("");
                $("#dayVisePassReport1").html(data);
                $("#loader-wrapper").hide();

            }
        });


    }
    catch (ex) {
        alert(ex.message);
    }
        //try {

        //    var redirectLocation = "/AdministrationBranch/AdministrationBranch/GatePassReportList?ViewListDetails=" + id;
        //    window.location.href = redirectLocation;
        //}
        //catch (ex) {
        //    alert(ex.message);
        //}
}

</script>
