﻿@model SBL.eLegistrator.HouseController.Web.Areas.AdministrationBranch.Models.AdministrationBranchDashboardModel

@{
    int count = 0;
    if (ViewBag.CurrentPage > 1)
    {

        count = (ViewBag.PageSize * (ViewBag.CurrentPage - 1));
    }
}
@Html.HiddenFor(m => m.pageMode)
<div id="divDataContainer">
    <div class="page-header">
        <h1>@Resources.PublicPasses.HeadingPasses
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                @Resources.PublicPasses.HeadingPassesApproved
            </small>
        </h1>
    </div>

    <div id='PrintModal' class="hide">
        <div id='ShowPrintPreviewModel' style="text-align: center">
            
        </div>
    </div>

    <div class="row">
        <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />


        @Html.Partial("_PassTypeFilterView", Model)
        @*  *@

        <div class="col-xs-12">
            <div class="table-header">
                @Resources.PublicPasses.GridHeadingApproved
            </div>



            <div class="col-md-12">
                <div class="col-md-6 pull-left">
                    <label>Display</label>
                    <select size="1" name="PageSize" id="PazeSize">
                        <option value="50" selected="selected">50</option>
                        <option value="100">100</option>
                        <option value="150">150</option>
                        <option value="200">200</option>
                        <option value="250">250</option>
                        <option value="300">300</option>
                        <option value="350">350</option>
                        <option value="400">400</option>
                        <option value="1000">1000</option>

                    </select>
                    <label>records</label>
                </div>
                @*<div class="col-md-6 pull-right">
                                                                <label>Search :</label>
                                                                <input type="text" id="txtSearchBill" />
                                                                <button class="btn btn-primary" onclick="SearchData();">
												<i class="ace-icon fa fa-flask align-top bigger-125"></i>
												Search
											</button>
                                                            </div>*@

            </div>



            <div class="pass-table">
                <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                    @if (Model.mPassModelList.Count > 0)
                    {
@*<table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">*@
                        <table class="table table-striped table-bordered table-hover dataTable" id="tblBudgetDetails" aria-describedby="sample-table-2_info">
                            <thead>
                                <tr role="row">
                                    <th class=" sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">
                                        <label class="position-relative">
                                            <input type="checkbox" id="checkBoxAll" onchange="checkAll(this)" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </th>
                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">#</th>

                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.PublicPasses.GridPassCode</th>
                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">RequestID</th>
                                    <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.PublicPasses.GridName</th>
                                    <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Recomended By: activate to sort column ascending">@Resources.PublicPasses.GridGender</th>
                                    <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Request Date: activate to sort column ascending">Department</th>
                                    <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">@Resources.PaperLaidDepartment.Designation</th>
                                    <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Approved PassType</th>
                                    <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Approved Date</th>
                                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                                </tr>
                            </thead>

                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                @foreach (var item in Model.mPassModelList)
                                {
                                    count = count + 1;
                                    string style = (count % 2 == 0) ? "odd" : "even";

                                    var trID = @item.PassID;
								
                                    <tr class="@style">

                                        <td>
                                            <input id="check @item.PassID" type="checkbox" class="checkstatus" />

                                        </td>
                                        @* @if (item.RequestedPassCategoryID == 15)
                                    {
                                        <td>
                                            <input id="" type="checkbox" style="display:none" />
                                        </td>
                                    }
                                    else if (item.RequestedPassCategoryID == 16)
                                    {
                                        <td>
                                            <input id="" type="checkbox" style="display:none" />
                                        </td>  
										 
                                    }
                                    else
                                    {
                                        <td>
                                            <input id="check @item.PassID" type="checkbox" class="checkstatus" />

                                        </td>   
                                    }*@



                                        <td class=" ">@count</td>
                                        <td class=" ">@item.PassCode</td>
                                        <td class=" ">@item.RequestID</td>
                                        <td class=""><b>@item.Name</b>
                                            <br />@item.FatherName </td>
                                        <td class=" ">@item.Age - @(item.Gender == "Male" ? "M" : "F")</td>
                                        <td class=" ">@item.OrganizationName</td>
                                        <td class=" ">@item.Designation</td>
                                        @if ((item.ApprovedPassCategoryID == 15) || (item.ApprovedPassCategoryID == 16))
                                        {
                                                <td class=" ">@item.PassCategoryName @item.VehicleNumber</td>
                                        }
                                        else{
                                             <td class=" ">@item.PassCategoryName</td>
                                        }
                                    
                                        <td class=" ">@(Convert.ToDateTime(item.ApprovedDate).ToString("dd-MM-yyyy"))</td>

                                        <td class=" " style="width: 98px;">
                                            <div class="hidden-sm hidden-xs action-buttons">
                                                <a title="@Resources.PublicPasses.ActionEdit" onclick="ChangeApprovedPassType(@item.PassID)" href="javascript:void(0);" class="green">
                                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                </a>
                                                <a title="@Resources.PublicPasses.ActionFullDetails" onclick="FullPassDetails(@item.PassID)" href="javascript:void(0);" class="green">
                                                    <i class="ace-icon fa fa-eye bigger-130"></i>
                                                </a>
                                                <a image="@item.Photo" title="@Resources.PublicPasses.ActionViewPhoto" onclick="ImagePriview(@item.PassID);" href="javascript:void(0);" role="button"  data-toggle="modal" >
                                                    <i class="ace-icon glyphicon glyphicon-picture bigger-130"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    
                        <div>@{Html.RenderPartial("~/Areas/AccountsAdmin/Views/Shared/_Pager.cshtml");}</div>
                    
                        <div class="row">
                            <div class="col-xs-12" id="ButtonGroup">
                                <button type="submit" value="Add" id="AddButton" onclick="PrintSelectedPasses()" class="btn btn-info"><i class="ace-icon glyphicon  glyphicon-print"></i>@Resources.PublicPasses.ActionPrint</button>
                                @* <button type="submit" value="Add" id="changeStatus" onclick="changeStatusSelectedPasses()" class="btn btn-warning"><i class="ace-icon fa fa-undo "></i>Change Status</button>*@
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="alert alert-info">
                                    @Resources.PublicPasses.GridNoPassApproved
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div id='printPassModel' class="hide">
        Are you sure to Print Selected passes ?
    </div>
    <div id="dialog-confirmBox" class="hide">
        <p>Are you sure to change status this pass ?</p>
    </div>
</div>
<div class="modal" id="ChangePassCategoryPrintModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="ace-icon fa fa-pencil green"></i>Change Pass Type Already Approved</h4>

            </div>
            <div class="modal-body" id='ChangePassShowPrintPreviewModel'>
            </div>
            <div class="modal-footer" style="padding-top: 3px; padding-bottom: 6px;">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    jQuery(document).ready(function () {


        $('#tblBudgetDetails').dataTable({
            "bPaginate": false, "bInfo": false, "bSearchable": false, "aLengthMenu": [[10, 25, 50, 100, 200, 500, 1000, -1], [10, 25, 50, 100, 200, 500, 1000, "All"]],
        });


        ChangeBreadCrumbParent("Passes Approved");
        ChangeBreadCrumbChild("Pass List");


        $("#PazeSize").val(@ViewBag.PageSize)

        $('#PazeSize').change(function () {
            DepartmentCatID = $("#DepartmentID").val();
            PassCategoryID = $("#PassCategoryID").val();
            var PageSize = $("#PazeSize").val();
            $.ajax({
                type: "POST",
                url: '/AdministrationBranch/AdministrationBranch/GetIndexByPaging',
                data: '{ pageId: "1",pageSize: "' + PageSize + '" ,PassCatID: "' + PassCategoryID + '",DepartmentCatID: "' + DepartmentCatID + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {

                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result);
                },
                error: function (error) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(error.responseText);

                },
                complete: function (results) {

                    $('#loader-wrapper').hide();
                }
            });

        });
        $('#FilterPass').prop('disabled', false);

    });
    $(".checkstatus").click(function (obj) {

        if ($(obj.target.id).checked) {
            $(obj.target.id).val('true');
        }
        else {
            $(obj.target.id).val('false');
        }
    });
    function checkAll(ele) {
        var checkboxes = document.getElementsByTagName('input');
        if (ele.checked) {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox' && checkboxes[i].className == 'checkstatus') {
                    checkboxes[i].checked = true;
                }
            }
        } else {
            for (var i = 0; i < checkboxes.length; i++) {
                console.log(i)
                if (checkboxes[i].type == 'checkbox' && checkboxes[i].className == 'checkstatus') {
                    checkboxes[i].checked = false;
                }
            }
        }
    }
    //jQuery(function ($) {
    //    var oTable1 =
    //	$('#sample-table-2')
    //	.dataTable({
    //	    bAutoWidth: true,
    //	    "aLengthMenu": [[10, 25, 50, 100, 200, 500, 1000, -1], [10, 25, 50, 100, 200, 500, 1000, "All"]],
    //	    "aoColumns": [
    //		  { "bSortable": false }, { "bSortable": false },
    //		  null, null, null, null, null, null, null, null,
    //		   { "bSortable": false }
    //	    ]
    //	});
    //});
    function checkItems() {

        $(".checkstatus").each(function (id) {
            var ID = this.id;

            if (this.checked) {

                var selectedId = document.getElementById("SelectedChkbxId").value;
                if (selectedId == "") {
                    document.getElementById("SelectedChkbxId").value = ID.substring(6);
                }
                else {
                    selectedId = selectedId + "," + ID.substring(6);
                    document.getElementById("SelectedChkbxId").value = selectedId;
                }
            }
            else {

                var selectedId = document.getElementById("SelectedChkbxId").value;

                var newvalue = selectedId.replace("," + ID.substring(6), "");
                if (newvalue.length == selectedId.length) {
                    newvalue = selectedId.replace(ID.substring(6) + ",", "");
                }
                if (newvalue.length == selectedId.length) {
                    newvalue = selectedId.replace(ID.substring(6), "");
                }
                document.getElementById("SelectedChkbxId").value = newvalue;
            }
        });
    }
    function checkChange(id) {
        if (document.getElementById(id).checked) {
            var selectedId = document.getElementById("SelectedChkbxId").value;
            if (selectedId == "") {
                document.getElementById("SelectedChkbxId").value = id.substring(6);
            }
            else {
                selectedId = selectedId + "," + id.substring(6);
                document.getElementById("SelectedChkbxId").value = selectedId;
            }
        }
        else {
            var selectedId = document.getElementById("SelectedChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(6), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(6) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(6), "");
            }
            document.getElementById("SelectedChkbxId").value = newvalue;
        }
    }

    function ChangeApprovedPassType(PassID) {
        var pathurl = '@Url.Action("ChangeApprovedPassType", "AdministrationBranch")';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                Id: PassID
            },
            success: function (data) {
                $('#ChangePassShowPrintPreviewModel').html("");
                $('#ChangePassShowPrintPreviewModel').html(data);
                $("#ChangePassCategoryPrintModal").modal("show");
                //var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                //    resizable: false,
                //    modal: true,
                //    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-pencil green'></i> Change Pass Type Already Approved</h4></div>",
                //    width: 600,
                //    title_html: true,
                //    buttons: [
                //		{
                //		    text: "OK",
                //		    "class": "btn btn-primary btn-xs",
                //		    click: function () {
                //		        $(this).dialog("close");
                //		    }
                //		}
                //    ]
                //});

            }
        });
    }

    function PrintSelectedPasses() {
        $('#ShowPrintPreviewModel').html("");
        $("ShowPrintPreviewModel").empty();
        checkItems();
        var PassIDs = document.getElementById("SelectedChkbxId").value;
        if (PassIDs != "" && PassIDs != null) {
            var dialog = $("#printPassModel").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon glyphicon glyphicon-print bigger-130 red'></i> Print Selected Pass/s</h4></div>",
                width: 500,
                title_html: true,
                buttons: [
					{
					    text: "OK",
					    "class": "btn btn-primary btn-xs",
					    click: function () {
					        $(this).dialog("close");

					        $.ajaxSetup({ cache: false });
					        var pathurl = '@Url.Action("PrintSelectedMasterPass", "AdministrationBranch")';

					        $.ajax({
					            url: pathurl,
					            type: 'GET',
					            data: {
					                PassIDs: PassIDs
					            },
					            success: function (data) {
					                $('#ShowPrintPreviewModel').html("");
					                $("ShowPrintPreviewModel").empty();
					                $('#ShowPrintPreviewModel').html(data);
					              
					                //$('#PrintModal').html("");

					                var dialog = $("#PrintModal").removeClass('hide').dialog({
					                    resizable: false,
					                    modal: true,
					                    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon glyphicon glyphicon-print bigger-130 red'></i> Print Passes</h4></div>",
					                    width: 600,
					                    title_html: true,
					                    buttons: [
											{
											    text: "OK",
											    "class": "btn btn-primary btn-xs",
											    click: function () {
											        $(this).dialog("close");
											    }
											}
					                    ]
					                });
					                document.getElementById("SelectedChkbxId").value = null;
					                document.getElementById("SelectedChkbxId").value = "";
					            },
					            error: function (xhr, ajaxOptions, thrownError) {
					                alert(xhr.status);
					                alert(thrownError);
					            }
					        });
					    }
					},
				{
				    text: "Cancel",
				    "class": "btn btn-primary btn-xs",
				    click: function () {
				        $(this).dialog("close");
				    }
				}
                ]
            });

            }
            else {
                ShowNotification("error", "Please Select passes to print first !!!!.....");
            //alert("Please Select passes to print first!");
            }
        }
        function changeStatusSelectedPasses() {
            checkItems();
            var PassIDs = document.getElementById("SelectedChkbxId").value;
            alert(PassIDs);
            if (PassIDs != "" && PassIDs != null) {

                $("#dialog-confirmBox").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Change Pass Status",
                    title_html: true,
                    buttons: [
                        {
                            html: "&nbsp; Yes",
                            "class": "btn btn-primary",
                            click: function () {

                                $.ajaxSetup({ cache: false });

                                $.ajax({
                                    url: "/AdministrationBranch/AdministrationBranch/ChangeStatusSelectedMasterPass",
                                    type: 'GET',
                                    data: {
                                        PassIDs: PassIDs
                                    },
                                    success: function (data) {

                                        ShowNotification("success", "Pass Status Changed Successfully .....");
                                        var redirectLocation = "/AdministrationBranch/AdministrationBranch/Index?Status=" + 2 + "&PassCatID=" + 0 + "&DepartmentCatID=" + "";
                                        window.location.href = redirectLocation;

                                    },
                                    error: function (xhr, ajaxOptions, thrownError) {
                                        alert(xhr.status);
                                        alert(thrownError);

                                    }
                                });

                                $(this).dialog("close");
                            }
                        }
                        ,
                        {
                            html: "&nbsp; Cancel",
                            "class": "btn btn-primary",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });
            }
            else {
                ShowNotification("error", "Please Select passes to change status first !!!!..... .....");
            }
        }
        //function CheckFunction() {
        //}

        function GetDataList(pageId) {
            var PageSize = $("#PazeSize").val();
            DepartmentCatID = $("#DepartmentID").val();
            PassCategoryID = $("#PassCategoryID").val();
            $.ajax({
                type: "POST",
                url: '/AdministrationBranch/AdministrationBranch/GetIndexByPaging',
                data: '{ pageId: "' + pageId + '",pageSize: "' + PageSize + '" ,PassCatID: "' + PassCategoryID + '",DepartmentCatID: "' + DepartmentCatID + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {

                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result);
                },
                error: function (error) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(error.responseText);

                },
                complete: function (results) {

                    $('#loader-wrapper').hide();
                }
            });
        }


        //$('#txtSearchBill').on("keyup", function () {

        //    var search = parseInt($('#txtSearchBill').val());
        //    GetSearchList(search);
        //});

        //function SearchData() {
        //    var search = $('#txtSearchBill').val();
        //    GetSearchList(search);
        //}
</script>
