﻿@model SBL.eLegistrator.HouseController.Web.Areas.AdministrationBranch.Models.AdministrationBranchDashboardModel

@*@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

@Html.Action("LeftNavigationMenu", "AdministrationBranch")
<div class="main-content">
    @Html.Partial("_BreadCrumbsPartial")
    <div class="page-content" id="GridContainer">

        <div class="page-header">
            <h1>List Of Approved Pass Issued
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Pass List
        </small>
            </h1>
        </div>*@

<div class="row">

    <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
    <div class="form-group col-sm-12">
        <div class="form-group" style="margin-bottom: 0px;">
            <label class="col-sm-3 control-label no-padding-right" for="id-date-picker-1" style="width: 14%">Select :</label>
            <div class="col-sm-9" style="width: 60%">
                @Html.DropDownList("Status", new List<SelectListItem>
               {
                   new SelectListItem{ Text="-- Select ( Filter ) --", Value = "0"  },
                   new SelectListItem{ Text="By Department", Value = "1"  },
                   new SelectListItem{ Text="By Pass Type", Value = "2" },
                    new SelectListItem{ Text="By Status", Value = "3" }
                 }, new { @class = "col-xs-6 form-control col-drop" })


            </div>
        </div>


        <div class="col-sm-3">
            <button type="submit" value="Add" id="AddButton1" onclick="StatusPassReportList()" class="btn btn-sm btn-info"><i class="ace-icon fa fa-filter"></i>Get Report</button>

        </div>
    </div>
    @* <div class="space-10"></div>
    <div class="space-10"></div>*@
    <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
    <div id="dayVisePassReport1">
    </div>
</div>
@*   </div>
</div>*@

<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<script src="~/assets/TableTools/js/dataTables.tableTools.js"></script>
<link href="~/assets/TableTools/css/dataTables.tableTools.css" rel="stylesheet" />
<script>
    function StatusPassReportList() {

        try {
            var Status = $("#Status").val();
            if (Status == "0") {
                confirm("Plese select any option !!!");
            }
            else {
                $("#loader-wrapper").show();
                $.ajaxSetup({ cache: false });
                var pathurl = '@Url.Action("GatePassReportList", "AdministrationBranch")';
                $.ajax({
                    url: pathurl,
                    type: 'GET',
                    data: {
                        Status: Status,
                    },
                    success: function (data) {

                        $("#dayVisePassReport1").html("");
                        $("#dayVisePassReport1").html(data);
                        $("#loader-wrapper").hide();

                    }
                });

            }
        }
        catch (ex) {
            alert(ex.message);
        }
    }
</script>
