﻿@model SBL.eLegistrator.HouseController.Web.Areas.AdministrationBranch.Models.AdministrationBranchDashboardModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    int count = 0;
    if (ViewBag.CurrentPage > 1)
    {

        count = (ViewBag.PageSize * (ViewBag.CurrentPage - 1));
    }
}

@Html.Action("LeftNavigationMenu", "AdministrationBranch")

<div class="main-content">
    @Html.Partial("_BreadCrumbsPartial")

    <div class="page-content" id="GridContainer">

        <div id='PhotoModel' class="hide">
            <div id='ShowPhotoModel' style="text-align: center">
            </div>
        </div>

        <div id='fullDetailsModel' class="hide">
            <div id='ShowfullDetailsModel' style="text-align: center">
            </div>
        </div>

        <div id='rejectPassModel' class="hide">
            <div id='ShowRejectPassModelModel' style="text-align: center">
            </div>
        </div>

        <div id="PendingtableContainer"></div>
        <div id="tableContainer"></div>
        @* @if (Model.Status == 1)
        {       
				 
            @Html.Partial("_PassesGridPending", Model)
        }
        else if (Model.Status == 2)
        {
           <div id="divDataContainer" >
            @Html.Partial("_PassesGridApproved", Model)
           </div>
        }
        else if (Model.Status == 3)
        {
            @Html.Partial("_PassesGridRejected", Model)
        }*@

    </div>

</div>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>
<!-- page specific plugin styles -->
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>

<script>

    function FullPassDetails(PassID) {
        var pathurl = '@Url.Action("FullMasterPassDetails", "AdministrationBranch")';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                Id: PassID
            },
            success: function (data) {

                $('#ShowfullDetailsModel').html("");
                $('#ShowfullDetailsModel').html(data);

                var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-eye green'></i> Full Details</h4></div>",
                    width: 600,
                    title_html: true,
                    buttons: [
						{
						    text: "OK",
						    "class": "btn btn-primary btn-xs",
						    click: function () {
						        $(this).dialog("close");
						    }
						}
                    ]
                });

            }
        });
    }

    function ImagePriview(obj) {

        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetImagePriview", "AdministrationBranch")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PassID: obj,
            },
            success: function (data) {

                var image = data;//$(obj).attr('image');
                var modalBody = "<img style='width:180px;height:230px;' src='" + image + "' />";

                $('#ShowPhotoModel').html("");
                $('#ShowPhotoModel').html(modalBody);

                var dialog = $("#PhotoModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon glyphicon glyphicon-picture bigger-130 blue'></i> Photo</h4></div>",
                    width: 260,
                    title_html: true,
                    buttons: [
                        {
                            text: "OK",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

            }
        });

    }
    function PendingImagePriview(obj) {
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetPendingImagePriview", "AdministrationBranch")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PassID: obj,
            },
            success: function (data) {

                var image = data;//$(obj).attr('image');
                var modalBody = "<img style='width:180px;height:230px;' src='" + image + "' />";

                $('#ShowPhotoModel').html("");
                $('#ShowPhotoModel').html(modalBody);

                var dialog = $("#PhotoModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon glyphicon glyphicon-picture bigger-130 blue'></i> Photo</h4></div>",
                    width: 260,
                    title_html: true,
                    buttons: [
                        {
                            text: "OK",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

            }
        });
    }
</script>
<script>
    function PandingListbtn() {
        try {
            $.ajaxSetup({ cache: false });
            var pathurl = '@Url.Action("Index", "AdministrationBranch", new { Area = "AdministrationBranch" })';
            $("#loader-wrapper").show();
            $.ajax({
                type: 'GET',
                url: pathurl,
                data: {
                    Status: 1,
                    PassCatID: 0,

                },
                success: function (data) {

                    $("#tableContainer").html("");
                    $("#tableContainer").html(data);
                    $("#loader-wrapper").hide();
                }
            });


        }
        catch (error) {
            alert(error.message);
        }
    }
    function ApprovedListbtn() {
        try {
            $.ajaxSetup({ cache: false });
            $("#loader-wrapper").show();
            var pathurl = '@Url.Action("Index", "AdministrationBranch", new { Area = "AdministrationBranch" })';

            $.ajax({
                type: 'GET',
                url: pathurl,
                data: {
                    Status: 2,
                    PassCatID: 0,

                },
                success: function (data) {

                    $("#tableContainer").html("");
                    $("#tableContainer").html(data);
                    $("#loader-wrapper").hide();
                }
            });


        }
        catch (error) {
            alert(error.message);
        }

    }
    function RejectListbtn() {
        try {
            $.ajaxSetup({ cache: false });
            $("#loader-wrapper").show();
            var pathurl = '@Url.Action("Index", "AdministrationBranch", new { Area = "AdministrationBranch" })';

            $.ajax({
                type: 'GET',
                url: pathurl,
                data: {
                    Status: 3,
                    PassCatID: 0,

                },
                success: function (data) {
                    $("#tableContainer").html("");
                    $("#tableContainer").html(data);
                    $("#loader-wrapper").hide();
                }
            });


        }
        catch (error) {
            alert(error.message);
        }
    }

    function MediaListbtn(id) {

        try {
            $.ajaxSetup({ cache: false });
            $("#loader-wrapper").show();
            var pathurl = '@Url.Action("ListOfJournalistPassPartial", "AdministrationBranch", new { Area = "AdministrationBranch" })';

            $.ajax({
                type: 'GET',
                url: pathurl,
                data: {
                    Id: id,


                },
                success: function (data) {

                    $("#tableContainer").html("");
                    $("#tableContainer").html(data);
                    $("#loader-wrapper").hide();
                }
            });


        }
        catch (error) {
            alert(error.message);
        }

    }
    function SessionWiseListbtn() {
        try {
            $.ajaxSetup({ cache: false });
            $("#loader-wrapper").show();
            var pathurl = '@Url.Action("GatePassReport", "AdministrationBranch", new { Area = "AdministrationBranch" })';

            $.ajax({
                type: 'GET',
                url: pathurl,
                data: {
                    id: "Session-Wise",
                },
                success: function (data) {
                    $("#tableContainer").html("");
                    $("#tableContainer").html(data);
                    $("#loader-wrapper").hide();
                }
            });


        }
        catch (error) {
            alert(error.message);
        }
    }
    function SummaryWiseListbtn() {
        try {
            $.ajaxSetup({ cache: false });
            $("#loader-wrapper").show();
            var pathurl = '@Url.Action("GatePassReport", "AdministrationBranch", new { Area = "AdministrationBranch" })';

            $.ajax({
                type: 'GET',
                url: pathurl,
                data: {
                    id: "Summary-Wise",
                },
                success: function (data) {
                    $("#tableContainer").html("");
                    $("#tableContainer").html(data);
                    $("#loader-wrapper").hide();
                }
            });


        }
        catch (error) {
            alert(error.message);
        }
    }
</script>
