﻿@model SBL.DomainModel.Models.eFile.CommitteeMembersUpload
@using SBL.eLegistrator.HouseController.Web.Helpers
@{
	var FileSettings = (SBL.DomainModel.Models.SiteSetting.SiteSettings)Helper.ExecuteService("SiteSetting", "GetSecureFileSettingLocation", null);
	 
}

<style>
	.OverlayEffects {
		background-color: rgb(113, 113, 113);
		filter: alpha(opacity=40);
		opacity: 0.7;
		width: 100%;
		height: 100%;
		z-index: 400;
		position: absolute;
		top: 0;
		left: 0;
	}
	/*Popup*/
	.ShowModal {
		top: 10%;
		left: 24%;
		z-index: 1000;
		position: absolute;
		background-color: White;
		display: block;
	}

	.HideModal {
		display: none;
	}
</style>


@using (Html.BeginForm("UploadCommitteeMemnbers", "eFile", new { area = "eFile" }, FormMethod.Post, new { @id = "formCommMembers", @class = "form-horizontal", @role = "form", @enctype = "multipart/form-data" }))
{
	
	@Html.HiddenFor(m => m.CommitteeId)
	<div class="col-sm-12" style="width: 98%;">
		<div class="widget-box">
			<div class="widget-header">
				<h4 class="widget-title">Committee Member(s)</h4>
				<div class="widget-toolbar">
					<a href="#" data-action="fullscreen" class="red">
						<i class="ace-icon fa fa-expand bigger-150"></i>
					</a>
				</div>
			</div>

			<div class="widget-body">
				<div class="widget-main no-padding-right no-padding-left">
					<span class="label label-xlg label-purple" style="  margin-top: -12px; margin-left: 20%; border-radius: 4px;position:absolute">Committee : @ViewBag.CommitteeName</span>
					<hr />
					<h4 id="headingNoting" class="label label-lg label-info arrowed-right" style="height: 25px; font-size: 14px; width: 50%;  margin-top: 0px;">Upload Committee Member(s) </h4>
					<button type="button" class="btn btn-xs btn-warning" style="float:right" onclick="ViewUploadedDetails('@Model.CommitteeId')">View List</button>
					<br />
					<div class="profile-user-info profile-user-info-striped">


						<div class="profile-info-row">
							<div class="profile-info-name">Attach</div>
							<div class="profile-info-value">
								<div class="input-group col-xs-12">
									<label class="col-xs-12">


										<span class="btn btn-success fileinput-button">
											<i class="glyphicon glyphicon-plus"></i>
											<span>Choose file</span>
											<input style="font-size: 15px;" id="fileupload" accept=".pdf" type="file" name="fileupload">
										</span>
										<br />
										<br />

										<div style="width: 100%;" id="fileuploadcontant">
											<div style="width: 100%;">
												<span id="removeUpload" onclick="removefileupload()" class="glyphicon glyphicon-remove" style="color: red; float: right;"></span>
												<div id="file_name1" class="file_name1"></div>
												<div class="file_size1"></div>
											</div>
											<div style="width: 100%;">
												<div class="show_hide">
													<div class="progress1" style="height: 10px; width: 100%">
														<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5" style="width: 0%;">
															<span class="sr-only">0% complete</span>
														</div>

													</div>
												</div>
											</div>
										</div>

										<div class="help-block col-xs-6 col-sm-reset inline">
										</div>

									</label>
								</div>

							</div>
						</div>

						<div class="profile-info-row">
							<div class="profile-info-name">Remark</div>
							<div class="profile-info-value">
								<div class="input-group col-xs-12">
									<label class="col-xs-12">
										@Html.TextAreaFor(m => m.Remark, new { @class = "col-xs-12", @placeholder = "Remark", @autocomplete = "off", @maxlength = "501" })
									</label>
								</div>

							</div>
						</div>
					</div>

				</div>

				<div class="wizard-actions">
					<div style="margin-bottom: 40px;">
						<div class="form-inline">
							<button type="button" id="Reportbtns" onclick="SaveeFileNoting();" class="btn btn-sm btn-purple">
								<i class="ace-icon fa fa-floppy-o bigger-125"></i>
								@Resources.MasterDataDashboard.Save</button>
							<button type="reset" class="btn btn-sm btn-info">
								<i class="ace-icon fa fa-times bigger-125"></i>
								@Resources.MasterDataDashboard.Reset
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dlgUploadList" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" style="width: 96%; margin-left: -3%; margin-top: 8px;">
		<div class="modal-content" style="width: 70%; margin-left: 20%;">
			<div class="modal-header" style="margin-top: -15px">
				<h3>Upload Committee Member List (Pdf) </h3>
				<button type="button" class="close" data-dismiss="modal" style="margin-top: -38px;">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>

			</div>
			<div class="modal-body">
				<div id="IndexDetUpload" class="modal-body" style="height: 400px; overflow-x: hidden; overflow-y: scroll;">
				</div>
			</div>

			<div class="modal-footer" style="margin-top: 0%">
				<button type="button" class="btn btn-app btn-danger" data-dismiss="modal" style="width: 9%; padding: 0px; font-size: 15px;">
					Close
				</button>
			</div>

		</div>
	</div>
</div>


<script>
	function ViewPDFCancel() {
		document.getElementById("overlays").className = "";
		$('#PDFView').hide();
	}
	function ViewPDFinModal(e) {

		var _URL = '@FileSettings.SettingValue' + "/Viewer/web/viewer.html?file=" + e;
		$('#PDFView').show().css({ width: "76%", height: "90%", border: "1px solid black", left: "12%", top: "0px" });
		$("#PDFView").html("");
		document.getElementById("overlays").className = "OverlayEffects";
		document.getElementById("PDFView").className = "ShowModal";
		$('<img src="../../Content/img/cancel-icon.png" id="PDFViewCancel" style="width: 16px; /* top: 47px; */ cursor: pointer; margin-top: 0px; margin-left: 97%;" onclick="ViewPDFCancel()" />' +
		   '<iframe class="mfp-iframe"  src="' + _URL + '" type="application/pdf" style="width:100%; height:100%">').appendTo('#PDFView')

	}
	function ViewUploadedDetails(id) {

		$("#loader-wrapper").show();



		var Url = '@Url.Action("UploadedCommitteeMemebersPdf", "eFile", new { Area = "eFile" })';
		$.ajax({
			url: Url,
			type: 'GET',
			data: { CommitteeId: id, CommitteeName: '@ViewBag.CommitteeName' },
			success: function (data) {

				if (data) {

					$("#IndexDetUpload").html(data);
					$("#dlgUploadList").modal('show');
					$("#loader-wrapper").hide();

				}
			},
			error: function (xhr, ajaxOptions, thrownError) {

				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});
			}
		});

	}

	function SaveeFileNoting() {

		$("#loader-wrapper").show();

		var model = $("#formCommMembers").serialize();

		var Url = '@Url.Action("UploadCommitteeMemnbers", "eFile", new { Area = "eFile" })';
		$.ajax({
			url: Url,
			type: 'POST',
			data: model,
			success: function (data) {

				if (data) {

					$("#loader-wrapper").hide();
					bootbox.alert(data);
					if (data != "Please select pdf file") {
						//ReceivePaperList();
					}
					CommitteeMemeb();
				}
			},
			error: function (xhr, ajaxOptions, thrownError) {

				var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

					$(dlg).modal('hide');
				});
			},
			complete: function () {
				$("#Remark").val("");
				removefileupload();

			}
		});
	}

	function CommitteeMemeb() {

		$("#loader-wrapper").show();
		$('.widget-box').show();
		var urlPath = '@Url.Action("GetAllNewComitteeList", "eFile", new { Area = "eFile" })';
		$.ajax({
			url: urlPath,
			type: 'GET',
			data: {},
			success: function (data) {
				if (data) {


					$('#divDataContainer').empty();
					$('#divDataContainer').html(data);
					$("#MainDiv").css("display", "block");

					$("#loader-wrapper").hide();

					//$('#resize-left').width('100%');
					//$('#spnScrollPosition').html('1');
					//$('#resize-right').animate({ width: '0%' }, 500);

					ChangeBreadCrumbParent("Committee", "");
					ChangeBreadCrumbChild("Committee Members", "");


				} else { alert("error"); }
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.responseText);
				alert(thrownError);
			},
			complete: function (obj) {
				Initializefileupload();
			}
		});

	}
</script>
