﻿@model string
@*<html><head>
  <meta charset="UTF-8">
  <title>Previous/Next example</title>
    <link rel="stylesheet" href="/Content/Site.css" />
    <script type="text/javascript" src="/Scripts/jquery-1.7.min.js"></script>
</head>
<body>*@

<div id="idNextPrevButton">
    &nbsp; &nbsp;
  <span>Page: <span id="page_num">1</span>:<span id="page_nums">2</span> / <span id="page_count">14</span></span>
    &nbsp; &nbsp;&nbsp;
    <button id="prev">Previous</button>&nbsp;&nbsp; &nbsp;
    <button id="next">Next</button>&nbsp;&nbsp; &nbsp;
    <button id="btnindex">Index</button>
</div>
<br />
@*<div id="idIndex" style="margin-left: 0px; width: 100%;">
    <table style="width: 100%">
        <tr>
            <td>
                <div style="border: 1px solid red; width: 45%; height: 848px;">
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <div style="font: bold; font-size: x-large; text-align: center;">Index</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <hr />
                            </td>
                        </tr>
                        <tr>
                            <td id="0" style="cursor: pointer; padding-left: 7px;" onclick="getPage(this.id)">1.admin secy-letter to send suo moto replies</td>
                        </tr>
                        
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>*@

<div id="idCnavas" style="margin-left: 10px; width: 100%;">
    <canvas id="the-canvas" style="border: 1px solid red; width: 49%; height:600px;"></canvas>
    <canvas id="the-testcanvas" style="border: 1px solid blue; width: 49%; height:600px;" ></canvas>
</div>



<script id="script">
    $('#idCnavas').hide();
    $('#idNextPrevButton').hide();
    $('#btnindex').hide();
    $('#btnindex').click(function () {
        $('#idCnavas').hide();
        $('#idNextPrevButton').hide();
        $('#btnindex').hide();
        //$('#idIndex').show();
    })
    function getPage(e) {
        //$('#idIndex').hide();
        $('#idCnavas').show();
        $('#idNextPrevButton').show();
        $('#btnindex').show();
        urlCount = parseInt(e)
        PDFJS.getDocument(urls[urlCount]).then(function (pdfDoc_) {
            pdfDoc = pdfDoc_;
            document.getElementById('page_count').textContent = pdfDoc.numPages;

            // Initial/first page rendering
            renderPage(pageNum);
            //var pageNums = parseInt(pageNum) + 1;
            //rendertestPage(pageNums);
            if (pdfDoc.numPages > 1) {
                var pageNums = parseInt(pageNum) + 1;
                rendertestPage(pageNums);
            } else {
                rendertestPage(pdfDoc.numPages);
            }
        });
    }
    //we can include multiple url here
    //var url = '../../PDF/word.pdf';
  
    var urls = ["@Model"]; //["http://localhost:50730/ePaper/e3379034-25f9-482d-a799-942053dfd8c9_Using%20jQuery%20to%20POST%20Form%20Data%20to%20an%20ASP.pdf"];
   
    //var urls = ["../../PDF/Pappers.pdf", "../../PDF/Committee.pdf"];


    // for parameter declare
    var pdfDoc = null,
        pageNum = 1,
        urlCount = 0,
        pageRendering = false,
        pageNumPending = null,
        scale = 1.8,
        canvas = document.getElementById('the-canvas'),
        testcanvas = document.getElementById('the-testcanvas'),
        ctx = canvas.getContext('2d');
    testctx = testcanvas.getContext('2d');


    //for render first page
    function renderPage(num) {
        pageRendering = true;
        // Using promise to fetch the page
        pdfDoc.getPage(num).then(function (page) {
            var viewport = page.getViewport(scale);
            canvas.height = viewport.height;
            canvas.width = viewport.width;

            // Render PDF page into canvas context
            var renderContext = {
                canvasContext: ctx,
                viewport: viewport
            };
            var renderTask = page.render(renderContext);

            // Wait for rendering to finish
            renderTask.promise.then(function () {
                pageRendering = false;
                if (pageNumPending !== null) {
                    // New page rendering is pending
                    renderPage(pageNumPending);
                    pageNumPending = null;
                }
            });
        });

        // Update page counters
        document.getElementById('page_num').textContent = num;
    }

    //render second page
    function rendertestPage(num) {
        pageRendering = true;
        // Using promise to fetch the page
        pdfDoc.getPage(num).then(function (page) {
            var viewport = page.getViewport(scale);
            testcanvas.height = viewport.height;
            testcanvas.width = viewport.width;

            // Render PDF page into canvas context
            var renderContext = {
                canvasContext: testctx,
                viewport: viewport
            };
            var renderTask = page.render(renderContext);

            // Wait for rendering to finish
            renderTask.promise.then(function () {
                pageRendering = false;
                if (pageNumPending !== null) {
                    // New page rendering is pending
                    renderPage(pageNumPending);
                    pageNumPending = null;
                }
            });
        });

        // Update page counters
        document.getElementById('page_nums').textContent = num;
    }


    //If another page rendering in progress, waits until the rendering is
    //finised. Otherwise, executes rendering immediately.

    function queueRenderPage(num) {
        if (pageRendering) {
            pageNumPending = num;
        } else {
            renderPage(num);
        }
    }
    function queueRenderTestPage(num) {
        if (pageRendering) {
            pageNumPending = num;
        } else {
            rendertestPage(num);
        }
    }

    //Displays previous page.

    function onPrevPage() {
        if (pageNum <= 1) {
            return;
        }
        pageNum--;
        queueRenderPage(pageNum);
    }
    //document.getElementById('prev').addEventListener('click', onPrevPage);

    //Next page
    function onNextPage() {

        var firstPageCount = parseInt($('#page_nums').text()) + 1;


        if (firstPageCount > pdfDoc.numPages) {
            if (urlCount + 1 != urls.length) {
                urlCount++;
                if (typeof urls[urlCount] !== 'undefined') {
                    PDFJS.getDocument(urls[urlCount]).then(function (pdfDoc_) {
                        pdfDoc = pdfDoc_;
                        document.getElementById('page_count').textContent = pdfDoc.numPages;

                        // Initial/first page rendering
                        renderPage(pageNum);
                        //var pageNums = parseInt(pageNum) + 1;
                        //rendertestPage(pageNums);
                        if (pdfDoc.numPages > 1) {
                            var pageNums = parseInt(pageNum) + 1;
                            rendertestPage(pageNums);
                        } else {
                            rendertestPage(pdfDoc.numPages);
                        }
                    });

                    //return;
                }
            }
        } else {
            //queueRenderPage(firstPageCount);
            //var secndPageCount = parseInt(firstPageCount) + 1;
            //rendertestPage(secndPageCount);
            queueRenderPage(firstPageCount);
            if (parseInt(document.getElementById('page_count').textContent) == firstPageCount) {
                secndPageCount = firstPageCount;
                rendertestPage(secndPageCount);
            } else {
                var secndPageCount = parseInt(firstPageCount) + 1;
                rendertestPage(secndPageCount);
            }
        }
    }
    document.getElementById('next').addEventListener('click', onNextPage);

    //Next page
    function onPreviousPage() {
        var secndPageCount = parseInt($('#page_num').text()) - 1;

        if (parseInt($('#page_num').text()) <= 1) {
            if (urlCount > 0) {
                urlCount--;
                if (typeof urls[urlCount] !== 'undefined') {
                    PDFJS.getDocument(urls[urlCount]).then(function (pdfDoc_) {
                        pdfDoc = pdfDoc_;
                        document.getElementById('page_count').textContent = pdfDoc.numPages;

                        // Initial/first page rendering

                        //queueRenderTestPage(pdfDoc.numPages);                  
                        //var pageNums = parseInt(pdfDoc.numPages) - 1;
                        //queueRenderPage(pageNums);
                        rendertestPage(pdfDoc.numPages);
                        if (pdfDoc.numPages > 1) {
                            var pageNums = parseInt(pdfDoc.numPages) - 1;
                            renderPage(pageNums);
                        } else {
                            renderPage(pdfDoc.numPages);
                        }
                    });

                    //return;
                }
            }
        } else {
            //firstPageCount--;          
            //rendertestPage(firstPageCount);
            //firstPageCount--;
            //renderPage(firstPageCount);   

            rendertestPage(secndPageCount);
            var firstPageCount = parseInt(secndPageCount) - 1;
            queueRenderTestPage(firstPageCount);

        }
    }
    document.getElementById('prev').addEventListener('click', onPreviousPage);

    //$('#idbtnStart').click(function () {
    PDFJS.getDocument(urls[urlCount]).then(function (pdfDoc_) {
        pdfDoc = pdfDoc_;
        document.getElementById('page_count').textContent = pdfDoc.numPages;

        // Initial/first page rendering
        renderPage(pageNum);
        var pageNums = parseInt(pageNum) + 1;
        rendertestPage(pageNums);
    });
    //})

    jQuery('#zoomIn').click(function () {
        debugger;
        var c = document.getElementById("the-canvas");
        var ctx = c.getContext("2d");

        renderPage(1)

        ctx.scale(10, 10);
    });

</script>
@*</body></html>*@
