﻿@model SBL.DomainModel.Models.eFile.eFileAttachments

@using SBL.eLegistrator.HouseController.Web.Utility
@using SBL.eLegistrator.HouseController.Web.Helpers
@{
	var FileSettings = (SBL.DomainModel.Models.SiteSetting.SiteSettings)Helper.ExecuteService("SiteSetting", "GetSecureFileSettingLocation", null);

	int count = 0;
}
<div class="row" style="height: 400px; overflow-y: scroll">


	@if (Model.eFileAttachemts != null)
 {
	 if (Model.eFileAttachemts.Count() > 0)
	 {
		<div class="col-sm-12" style="width: 98%;">
			<div class="widget-box">


				<div class="widget-body">
					<div class="widget-main no-padding-right no-padding-left">
						@foreach (var item in Model.eFileAttachemts)
	  {
							<div class="profile-user-info profile-user-info-striped">




								<div class="profile-info-row">
									<div class="profile-info-name"><b>PaperRefNo.</b></div>
									<div class="profile-info-value">
										<div class="input-group col-xs-12">
											<label class="col-xs-12">

												@if (item.eMode == 1)
			{
				if (item.SendStatus == false)
				{
													<span class="fa fa-dot-circle-o" title="Manual" data-toggle="tooltip" data-placement="right" style="margin-left: 9px;"></span> 
				}
				else
				{
													<span class="fa fa-circle" title="Online" data-toggle="tooltip" data-placement="right" style="margin-left: 9px;"></span> 
				}

			}
			else
			{
													<span class="fa fa-circle" title="Online" data-toggle="tooltip" data-placement="right" style="margin-left: 9px;"></span> 
			}
												&nbsp;&nbsp;&nbsp;
											 <h4 class="bigger pull-left">@item.PaperRefNo</h4>


											</label>
										</div>

									</div>
								</div>
							</div>
				if (CurrentSession.DeptID == item.ToDepartmentID)
	{
							<h4 class="label label-lg label-info arrowed-right" style="height: 25px; font-size: 14px; width: 170px; color: #f1f1f1; margin-top: 6px;">
								<i class="glyphicon glyphicon-log-in"></i>
								Received From </h4>

	}
	else
	{
							<h4 class="label label-lg label-info arrowed-right" style="height: 25px; font-size: 14px; width: 170px; color: #f1f1f1; margin-top: 6px;">
								<i class="glyphicon glyphicon-log-in"></i>
								Send To </h4>

	}
							<div class="profile-user-info profile-user-info-striped">

								@if (item.DepartmentName == "OTHER")
		{
									<div class="profile-info-row">
										<div class="profile-info-name"></div>
										<div class="profile-info-value">
											<div class="input-group col-xs-12">
												<label class="col-xs-12">

													<span>OTHER</span>

												</label>
											</div>

										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name" id="recvDetails">Desg/Office</div>
										<div class="profile-info-value">
											<div class="input-group col-xs-12">
												<label class="col-xs-12">
													@item.RecvDetails
												</label>
											</div>
										</div>
									</div>
		   
		}
		else
		{
									<div class="profile-info-row">
										<div class="profile-info-name"></div>
										<div class="profile-info-value">
											<div class="input-group col-xs-12">
												<label class="col-xs-12">

													<span>HP GOVT.</span>

												</label>
											</div>

										</div>
									</div>
									<div class="profile-info-row" id="divDept">
										<div class="profile-info-name">Department</div>
										<div class="profile-info-value">
											<div class="input-group col-xs-12">
												<label class="col-xs-12">

													@if (CurrentSession.DeptID == item.DepartmentId)
			 { <text> @item.ToDeptAbbr (@item.ToDepartmentName)</text>}
			 else
			 { <text>	@item.DeptAbbr (@item.DepartmentName)</text>}

													@*@if (item.SendStatus == false)
			 {
														<text>	@item.DeptAbbr (@item.DepartmentName)</text>
			 }
			 else
			 {
														<text> @item.ToDeptAbbr (@item.ToDepartmentName)</text>
			 
			 }*@
												</label>
											</div>

										</div>
									</div>	
									<div class="profile-info-row">
										<div class="profile-info-name">Desg</div>
										<div class="profile-info-value">
											<div class="input-group col-xs-12">
												<label class="col-xs-12">
													@item.RecvDetails
												</label>
											</div>
										</div>
									</div>
		}



							</div>


									 
			
		 
							<h4 class="label label-lg label-info arrowed-right" style="height: 25px; font-size: 14px; width: 170px; color: #f1f1f1; margin-top: 6px;">
								<i class="glyphicon glyphicon-list-alt"></i>
								Paper Details</h4>
							<div class="profile-user-info profile-user-info-striped">


								<div class="profile-info-row">
									<div class="profile-info-name">Paper Type</div>
									<div class="profile-info-value">
										<div class="input-group col-xs-12">
											<label class="col-xs-12">
												@item.DocuemntPaperType
											</label>
										</div>

									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">Paper Nature</div>
									<div class="profile-info-value">
										<div class="input-group col-xs-12">
											<label class="col-xs-12">
												@item.RecvdPaperNature
											</label>
										</div>

									</div>
								</div>

								@if (item.PaperNatureDays != "0")
		{
									<div class="profile-info-row">
										<div class="profile-info-name">in Days</div>
										<div class="profile-info-value">
											<div class="input-group col-xs-12">
												<label class="col-xs-12">
													@item.PaperNatureDays
												</label>
											</div>

										</div>
									</div>
		}
								<div class="profile-info-row">
									<div class="profile-info-name">Subject</div>
									<div class="profile-info-value">
										<div class="input-group col-xs-12">
											<label class="col-xs-12">
												@item.Title
											</label>
										</div>

									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name" style="vertical-align: top;">Attach</div>
									<div class="profile-info-value">
										<div class="input-group col-xs-12">
											<label class="col-xs-12">

												@{
		string path = FileSettings.SettingValue + item.eFilePath;
												}
												<a href="javascript:void();"  id="@path" onclick="ViewPdfByRefID(this.id)" >
													<img src="~/Images/Common/PDF.png" alt="Download PDF" title="Download PDF" /></a>

											</label>
										</div>

									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">Remark</div>
									<div class="profile-info-value">
										<div class="input-group col-xs-12">
											<label class="col-xs-12">
												@item.Description
											</label>
										</div>
									</div>
								</div>

								<div class="profile-info-row">
									<div class="profile-info-name">Manual Ref. No.</div>
									<div class="profile-info-value">
										<div class="input-group col-xs-12">
											<label class="col-xs-12">
												@item.PaperNo
											</label>
										</div>
									</div>
								</div>
								<div class="profile-info-row">
									<div class="profile-info-name">Created Date</div>
									<div class="profile-info-value">
										<div class="input-group col-xs-12">
											<label class="col-xs-12">
												@item.CreatedDate.ToString("dd/MM/yyyy HH:mm tt")
											</label>
										</div>
									</div>
								</div>
							</div>
		 
	  }
					</div>
				</div>
			</div>
		</div>
			 
	 }
 }



	<div id="PDFViewBYRefID" style="display: none;">
		<img src="~/Content/img/cancel-icon.png" id="PDFViewCancel" style="width: 16px; cursor: pointer; margin-top: 0px; margin-left: 97%; position: absolute; z-index: 1000;" onclick="ViewPDFCancelbyRefID()" data-toggle="tooltip" data-placement="right" title="Close" />
		<ol id="dvData" class="dd-list" style="">
		</ol>
	</div>
	<div id="overlaysbyRefID"></div>
</div>
<script>
	$(function () {
		$('[data-toggle="tooltip"]').tooltip();
	});
	function ViewPDFCancelbyRefID() {
		document.getElementById("overlaysbyRefID").className = "";
		$('#PDFViewBYRefID').hide();
	}
	function ViewPdfByRefID(e) {
		debugger;
		var _URL = '@FileSettings.SettingValue' + "/Viewer/web/viewer.html?file=" + e;
		$('#PDFViewBYRefID').show().css({ width: "96%", height: "500px", border: "1px solid black", left: "2%", top: "0px" });
		$("#PDFViewBYRefID").html("");
		document.getElementById("overlaysbyRefID").className = "OverlayEffects";
		document.getElementById("PDFViewBYRefID").className = "ShowModal";
		$('<img src="../../Content/img/cancel-icon.png" id="PDFViewCancel" style="width: 16px; /* top: 47px; */ cursor: pointer; margin-top: 0px; margin-left: 97%;" onclick="ViewPDFCancelbyRefID()" />' +
		   '<iframe class="mfp-iframe"  src="' + _URL + '" type="application/pdf" style="width:100%; height:100%">').appendTo('#PDFViewBYRefID')
		//document.getElementById("PDFViewCancel").src = "../../Content/img/cancel-icon.png";
		@* <a href="/Viewer/web/viewer.html?file=@(item.SecurePath+"/"+item.filePath)"*@
	}
</script>
