﻿@model  SBL.DomainModel.Models.eFile.eFileAttachments

@using SBL.eLegistrator.HouseController.Web.Helpers
@{
	var FileSettings = (SBL.DomainModel.Models.SiteSetting.SiteSettings)Helper.ExecuteService("SiteSetting", "GetSecureFileSettingLocation", null);

	int count = 0;
	if (ViewBag.CurrentPage > 1)
	{

		count = (ViewBag.PageSize * (ViewBag.CurrentPage - 1));
	}
}


<div class="row">
	<div class="col-xs-12">
		<div class="pass-table">
			@if (Model.eFileAttachemts != null)
   {
	   if (Model.eFileAttachemts.Count() > 0)
	   {
@*<div class="" style="position: absolute; margin-top: 56px; margin-left: 5px;">
					<label>Display</label>
					<select size="1" name="PageSize" id="PazeSize">
						<option value="25" selected="selected">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
						<option value="200">200</option>
					</select>
					<label>Records</label>
				</div>*@
				<div class="table-header">
					@*<span class="label label-lg label-yellow arrowed-right" style="height: 24px; font-weight: bold; font-size: 14px;">Receive</span>*@ ( Paper List )
				</div>        
				
				<table class="table table-bordered  dataTable" id="sample-table-13" aria-describedby="sample-table-2_info">
					<thead>
						<tr role="row">

							<th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">S#</th>
							<th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Committee Name</th>
							<th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">eFile Number</th>
							<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">RefNo</th>
							<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Subject</th>
							<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Nature</th>
							@if (ViewBag.Paper == "R")
	   {
								<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Received From</th>

	   }
	   else
	   {
								<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Sent To</th>

	   }
							<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Date</th>
							<th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Pending Days</th>
							<th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="text-align: center"><i class="fa fa-download bigger-120" title="View/Download"></i></th>
							<th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="text-align: center"><i class="fa fa-download bigger-120" title="View/Download"></i></th>
						</tr>
					</thead>
					<tbody role="alert" aria-live="polite" aria-relevant="all">
						@foreach (var item in Model.eFileAttachemts)
	  {
		  string deptid = "d" + item.eFileAttachmentId;
		  string ofcid = "of" + item.eFileAttachmentId;
		  string efflNo = "eNo" + item.eFileAttachmentId;
		  string subj = "sub" + item.eFileAttachmentId;
		  string pre = "pre" + item.eFileAttachmentId;
		  string fut = "fut" + item.eFileAttachmentId;
		  count = count + 1;
		  string rowId = "eFiles" + item.eFileAttachmentId;
		  var EDays = 0;             
							<tr>

								<td class="hidden-sm hidden-xs action-button">@count
									@if (item.eMode == 1)
		 {
			 if (item.SendStatus == false)
			 {
										<span class="fa fa-dot-circle-o" title="Manual" data-toggle="tooltip"></span>
			 }
			 else
			 {
										<span class="fa fa-circle" title="Online" data-toggle="tooltip"></span>
			 }

		 }
		 else
		 {
										<span class="fa fa-circle" title="Online" data-toggle="tooltip"></span>
		 }
								</td>
								<td><span class="label label-sm label-pink">@item.DispatchtoWhom</span></td>
								<td><span class="label label-sm label-purple arrowed">@item.PaperNo</span></td>
								<td class="hidden-sm hidden-xs action-button">

									@if (item.PType == "O")
		 {
			 if (item.ReplyStatus == "Y")
			 {
										<span class="label label-sm label-danger arrowed arrowed-right" data-toggle="tooltip" data-placement="right" title="Reply Paper" style="height: 18px">@item.PaperRefNo</span>
			 }
			 else
			 {
										<span class="label label-sm label-danger arrowed arrowed-right" data-toggle="tooltip" data-placement="right" title="Original Paper" style="height: 18px">@item.PaperRefNo</span>
			 }
		 }
		 else if (item.PType == "R")
		 {
										<span class="label label-sm label-grey arrowed arrowed-right" data-toggle="tooltip" data-placement="right" title="Reminder ( @item.LinkedRefNo )" style="height: 18px">@item.PaperRefNo</span>
		 }
		 else
		 {
										<span class="label label-sm label-danger arrowed arrowed-right" style="height: 18px">@item.PaperRefNo</span>
		 
		 }


									@if (item.ReplyStatus == "Y")
		 {
										<span class="badge badge-warning" data-toggle="tooltip" data-placement="right" title="Reply of ( PaperRefNo. : @item.LinkedRefNo ) & Date (@item.ReplyDate.ToString("dd/MM/yyyy HH:mm tt"))">R</span>
		 }

									@if (item.ReportLayingHouse > 0)
		 { <span class="badge">
			 <i class="ace-icon fa fa-home"></i>Laid In House</span>
		 }
								</td>


								<td>@item.Title </td>

								<td>@item.RecvdPaperNature</td>


								<td>
									@if (item.DepartmentName == "OTHER")
		 {
										<span class="badge badge-yellow" style="border-radius: 5px;" title="@item.RecvDetails" data-placement="top" data-toggle="tooltip">OTHER</span><br />
										
		 }
		 else
		 {
										<span   data-toggle="tooltip" data-placement="top" title="@item.DepartmentName">@item.DeptAbbr</span> @*@item.RecvDetails*@
		 }



								</td>
								<td>@item.CreatedDate.ToString("dd/MM/yyyy HH:mm tt")</td>


								<td>
									@if (string.IsNullOrEmpty(item.LinkedRefNo))
		 {
			 if (item.PaperTicketValue != "0")
			 { 
		  
										<span class="badge badge-warning" title="Days Pending for @item.RecvdPaperNature" data-toggle="tooltip">@item.PaperTicketValue</span>
			 }
		 }
								</td>
								@{
		 string path = FileSettings.SettingValue + item.eFilePath;
								}
								<td><a href="@path" target="_blank">
									<img src="~/Images/Common/PDF.png" alt="Download PDF" title="Download PDF" width="35" height="35" /></a>
								</td>

								@{
		 string pathWord = FileSettings.SettingValue + item.eFilePathWord;
								}
								<td>

									@if (!string.IsNullOrEmpty(item.eFilePathWord))
		 { 
										<a href="@pathWord" target="_blank">
											<img src="~/Images/Common/doc.png" alt="Download Doc" title="Download Doc" width="35" height="35" /></a>
		 }
								</td>

							</tr>
									
	  }
					</tbody>
				</table>
				<!-- PAGER START -->@*
				<div>@{Html.RenderPartial("~/Areas/AccountsAdmin/Views/Shared/_Pager.cshtml");}</div>*@
				<!-- PAGER ENDS -->	 
				 
	   }
	   else
	   {
				<div class="row">
					<div class="col-xs-12">
						<div class="alert alert-info">

							<strong>No Paper Found !!!</strong><br />


						</div>
					</div>
				</div>
	   }
   }

		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		$('[data-toggle="tooltip"]').tooltip();
		$('#sample-table-13').dataTable({ "bPaginate": true, "bInfo": false, "bSearchable": false, "bSort": false });

		@*	$("#PazeSize").val(@ViewBag.PageSize)

		$('#PazeSize').change(function () {
			var PageSize = $("#PazeSize").val();
			$.ajax({
				type: "POST",
				url: '/eFile/eFile/GetSavedPaperByPaging',
				data: '{ pageId: "1",pageSize: "' + PageSize + '" }',
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				beforeSend: function () {

					$('#loader-wrapper').show();
				},
				success: function (result) {
					$('#divDataContainer').empty();
					$('#divDataContainer').append(result);
				},
				error: function (error) {
					$('#divDataContainer').empty();
					$('#divDataContainer').append(error.responseText);

				},
				complete: function (results) {

					$('#loader-wrapper').hide();
				}
			});

		});*@


	});
</script>
