﻿


@*<script>
	$(function () {
		ReceivePaperList();
	});

	function ReceivePaperList() {
		$("#loader-wrapper").show();
		$.ajax({
		    url: "/HouseCommittee/HouseCommittee/GetReceivePaperList",
			type: 'GET',
			data: '{ pageId: "1",pageSize: "25" }',
			success: function (data) {
				if (data) {				
					$('#divDataContainer').empty();
					$('#divDataContainer').html(data);					
					$("#loader-wrapper").hide();
					$('#resize-left').width('100%');
					$('#spnScrollPosition').html('1');
					$('#resize-right').animate({ width: '0%' }, 500);
					ChangeBreadCrumbParent("Correspondence", "");
					ChangeBreadCrumbChild("Receive Paper", "");
					$("#MainDiveThreeTire").show();

				} else { alert("error"); }
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.responseText);
				alert(thrownError);
			}
		});

	}
	 
</script>*@




 <script>
	$(function () {
		ReceivePaperList();
	});

	function ReceivePaperList() {	 
	    $("#loader-wrapper").show();	  
		$.ajax({
		    url: "/HouseCommittee/HouseCommittee/MethodRecieve",
			type: 'GET',
			//data: '{ pageId: "1",pageSize: "25" }',
			success: function (data) {
			    if (data) {
					$('#divDataContainer').empty();
					$('#divDataContainer').html(data);
					$("#loader-wrapper").hide();
					$('#resize-left').width('100%');
					$('#spnScrollPosition').html('1');
					$('#resize-right').animate({ width: '0%' }, 500);
					ChangeBreadCrumbParent("House Committee", "");
					ChangeBreadCrumbChild("Received Paper", "");
					$("#MainDiveThreeTire").show();

				} else { alert("error"); }
			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.responseText);
				alert(thrownError);
			}
		});

	}

	//var keepSessionAlive = false;
	
</script>

