﻿@model SBL.DomainModel.Models.Committee.tMovementFile

@{
    int count = 0;
}
<div id='fullDetailsModel' class="hide">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <!-- PAGE CONTENT BEGINS -->
        <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
        <input type="hidden" id="SelectedFixNo" name="SelectedFixNo" />
    

        <div class="pass-table" ">

            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                @*@if (Model.DiaryList != null)
                {
                    if (Model.DiaryList.Count() > 0)
                    {
                    *@

                <div class="table-header">
                  Movement Details
                </div>

                <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-1" aria-describedby="sample-table-1_info">
                    <thead>
                        <tr role="row">

                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">#</th>
                               <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-1" rowspan="1" colspan="1" aria-label="" style="width: 20%">Assign From</th>
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-1" rowspan="1" colspan="1" aria-label="" style="width: 20%">Assign To</th>
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-1" rowspan="1" colspan="1" aria-label="" style="width: 30%">Branch Name</th>
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-1" rowspan="1" colspan="1" aria-label="" style="width: 15%">Assign Date</th>
                            <th class="center sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-1" rowspan="1" colspan="1" aria-label="" style="width: 30%">Assigner Remarks </th>


                        </tr>
                    </thead>

                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        @foreach (var item in Model.HouseComModel)
                        {
                            count = count + 1;
                            string style = (count % 2 == 0) ? "odd" : "even";

                            var trID = item.ID;

                          
                                
                            <tr class="@style" id="@trID">

                                <td class="">@count</td>

                            
                                 <td class="">

                                    <i class="">@item.AssignfrmName</i>


                                </td>
                                <td class="">

                                    <i class="">@item.EmpName</i>


                                </td>
                                <td class="">

                                    <i class="">@item.BranchName</i>


                                </td>
                                <td class="">
                                       
                                    <i class="">@Convert.ToDateTime(item.AssignDateTime).ToString("dd/MM/yyy hh:mm tt")</i>



                                </td>
                                <td class="">

                                    <i class="">@item.Remarks</i>


                                </td>



                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
            
     
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>





<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
@*<script src="~/Scripts/jquery-1.7.min.js"></script> *@
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>



<script>

    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-1')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
               { "bSortable": false },
              null, null, null, null,

              { "bSortable": false }

            ]
        });
    });




</script>