﻿@*@model List<SBL.DomainModel.Models.eFile.COmmitteeProceeding>*@
@model SBL.DomainModel.Models.eFile.COmmitteeProceeding
@using SBL.eLegistrator.HouseController.Web.Helpers

@{ 
    bool IsReporter = false;

    var FileSettings = (SBL.DomainModel.Models.SiteSetting.SiteSettings)Helper.ExecuteService("SiteSetting", "GetSecureFileSettingLocation", null);
    int count = 0;
    if (ViewBag.CurrentPage > 1)
    {

        count = (ViewBag.PageSize * (ViewBag.CurrentPage - 1));
    }
}
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
@*<script src="~/Scripts/jquery-1.7.min.js"></script> *@
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>



<div class="row">
    <div class="col-xs-12">
        <div class="pass-table">
            @if (Model.My_ComProcList != null)
            {
                if (Model.My_ComProcList.Count() > 0)
                {
               // <div class="" style="position: absolute; margin-top: 50px; margin-left: 5px;">
                   // <label>Display</label>
                    //<select size="1" name="PageSize" id="PazeSize">
                     //   <option value="25" selected="selected">25</option>
                      //  <option value="50">50</option>
                       // <option value="100">100</option>
                       // <option value="200">200</option>
                   // </select>
                    //<label>Records</label>
               // </div>
                   
                <div class="table-header">
                    <span class="label label-lg label-yellow arrowed-right" style="height: 24px; font-weight: bold; font-size: 14px;">Proceeding Received from Chief Reporter</span>
                     <button class="btn btn-sm btn-success btn-white btn-round" onclick="PaperDraftFileMultiple()" style="float: right; margin-right: 16px; margin-top: 6px; border-radius: 6px;">
                    <i class="ace-icon fa fa-globe bigger-125"></i>
                    Draft Papers
                    <i class="ace-icon fa fa-arrow-right icon-on-right bigger-125"></i>
                </button>
                </div>   
                <div style="width: 100%; overflow: scroll;">
                    <table class="table table-bordered  dataTable" id="sample-table-11" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">
                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1">

                                    <input type="checkbox" class="chkList" id="chkSelAll" /></th>
                      @*          <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">S#</th>*@
                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Committee Name</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">PDF</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Word</th>
                                  <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Remark</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Forward By</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Forward Date</th>
                              

                            </tr>
                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.My_ComProcList)
                            {
                                count = count + 1;			  
			   
                                <tr>
                                    <td style="text-align:center">  <input id='chk_@count' type="checkbox" class="chkp" name="@item.ProID" onclick="AddToList(this.id, this.name)"/></td>
                                   @* <td>@count</td>*@
                                    <td>@item.CommitteeName</td>
                                    <td>
                                        @{
                                string path = FileSettings.SettingValue + item.ProFilePathPdf;
                                        }
                                        <a href="@path" target="_blank">
                                            <img src="~/Images/Common/PDF.png" alt="Download" title="Download" width="30" height="30" /></a></td>
                                    <td>
                                        @{
                                string path1 = FileSettings.SettingValue + item.ProFilePathWord;
                                        }

                                        @if (!string.IsNullOrEmpty(item.ProFilePathWord))
                                        { 
                                            <a href="@path1" target="_blank">
                                                <img src="~/Images/Common/Doc.png" alt="Download" title="Download" width="30" height="30" /></a>
                                        }
                                    </td>
                                         <td>@item.Remark</td>
                                     <td>@item.ForwardBy</td>
                                    <td>@item.ForwardDate.Value.ToLongDateString()
                                        </td>  @* @item.CreatedDate.ToString("dd/MM/yyyy HH:mm tt")*@
                               
                                </tr>
									
                            }
                        </tbody>
                    </table>
                </div>@*
                <div>{Html.RenderPartial("~/Areas/AccountsAdmin/Views/Shared/_Pager.cshtml");}</div>*@
				 
                }
                else
                {
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-info">

                            <strong>No Data found!</strong><br />


                        </div>
                    </div>
                </div>
                }
            }





        </div>

    </div>
</div>
<div id="procids" class="hdneId" style="visibility: hidden"></div>
<script>
    $(document).ready(function () {

        $('#sample-table-11').dataTable({ "bPaginate": true, "bInfo": false, "bSearchable": true, "bSort": false });
        $("#PazeSize").val(@ViewBag.PageSize)
    });
    function AddToList(chkid, efileattid) {
      
        var status = $('#' + chkid + '').is(':checked');

        if (status == true) {
            var eids = efileattid + ',';
            $('#procids').append(eids);

        }
        else {

            var a = $('#procids').html();
            var b = a.replace(efileattid + ',', " ");
            $('#procids').empty();
            $('#procids').append(b);

        }

    }
    $("#chkSelAll").click(function (e) {

        var status = $("#chkSelAll").prop('checked');
        var checkboxes = document.getElementsByClassName("chkp");
        if (status == true) {
            $('#procids').html('');

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                    if (checkboxes[i].checked = true) {
                        AddToList(checkboxes[i].id, checkboxes[i].name)
                    }
                }
            }
        }
        else {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;

                }
            }
            $('#procids').empty();
            $('#procids').html('');

        }
    });
    function PaperDraftFileMultiple() {

        var a = $('#procids').html();

        $("#loader-wrapper").show();
        var Url = '@Url.Action("ProceddingFile_ToDraftPapers", "HouseCommittee", new { Area = "HouseCommittee" })';
        $.ajax({
            url: Url,
            type: 'POST',
            data: {
                ProcIds: a,
            },
            success: function (data) {
                if (data) {
                    GetProceddingList();
                    $("#loader-wrapper").hide();
                    var dlg = bootbox.alert(data, function (e) {
                        $(dlg).modal('hide');
                    });

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });

    }
</script>
