﻿@model  SBL.DomainModel.Models.eFile.eFileAttachment
@{
    ViewBag.Title = "CreateCommiteeType";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}
@Html.Action("LeftNavigationMenu", "SuperAdmin",new { Area="SuperAdmin"})
<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    @*@Html.Partial("_BreadcrumbsPartial")*@
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("AddeFileAttachments", "eFile", new { Area="eFile"})">Home</a>
            </li>
            <li>
                <a href="@Url.Action("eFileList", "eFile", new { Area="eFile"})">eFile</a>
            </li>
            <li class="active">Add eFile attachment</li>  
        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
        @*<div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>*@

    </div>

    <div class="page-content">

        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.MasterData
                               
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    eFile Attachment
                </small>
            </h1>
        </div>

        <!-- /section:settings.box -->

        <div class="widget-header widget-header-blue widget-header-flat">
           @* @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.CreateCommitteeType</h4>
            }
            else
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.EditCommitteeType</h4>
            }*@
            <h4 class="widget-title lighter">Add eFile Attachment</h4>
        </div>

        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            @using (Html.BeginForm("AddeFileAttachments", "eFile", FormMethod.Post, new { @class = "form-horizontal", @role = "form", @enctype = "multipart/form-data" }))
                            {   
                                @Html.HiddenFor(model=>model.eFileID)                     
                                <div class="tabbable">
                                    @*<ul id="myTab" class="nav nav-tabs padding-18">
                                        <li class="active">
                                            <a href="#news-english" data-toggle="tab">
                                                <i class="green ace-icon fa fa-home bigger-120"></i>
                                                English
                                            </a>
                                        </li>
                                    </ul>*@
                                    <div class="tab-content no-border padding-24">
                                        <div class="tab-pane in active" id="news-english">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Name">Document Type</label>

                                                <div class="col-sm-9 help-block">
                                                    <select style="width:400px">
                                                        <option value="0" >--Document Type--</option>
                                                        <option value="1" >Notice</option>
                                                        <option value="2" >Notice to Department</option>
                                                    </select>
                                                    
                                                    <span class="field-validation-error" id="CommitteeTypeNamevalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                    

                                                </div>
                                            </div>

                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Description</label>
                                                <div class="col-sm-9">

                                                   @* @Html.TextAreaFor(model => model.Description, new {@id="CommDesc", @class = "col-xs-10 col-sm-9", @placeholder = @Resources.MasterDataDashboard.CommitteeDescription, @autocomplete = "off", @maxlength ="501"})*@
                                                    @Html.TextBoxFor(model => model.Description, new { @class="col-xs-10 col-sm-9",style="width:400px;"})
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" @*id="Descriptionvalidation"*@ style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.Description)
                                                         @*Number of Characters Left:
                                                        <label id="lblcount" style="color: Red">150</label><br />*@
                                                    </div>
                                                    
                                                </div>

                                            </div>
                                            <div class="space-2"></div> 

                                             <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Upload</label>
                                                <div class="col-sm-9">

                                                   <input type="file" id="eAttachfile" name="file" />
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" @*id="Descriptionvalidation"*@ style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.Description)
                                                         @*Number of Characters Left:
                                                        <label id="lblcount" style="color: Red">150</label><br />*@
                                                    </div>
                                                    
                                                </div>

                                            </div>
                                       
                                        </div>
                                    </div>
                                </div>
                           
                                @*<div class="space-2"></div>
                                   
                                <hr />*@

                                <div class="btn-group pull-right padding-10">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->


                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple " onclick="return userValid();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        @Resources.MasterDataDashboard.Save</button>
                                    <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        @Resources.MasterDataDashboard.Reset
                                    </button>

                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>

                            }

                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(':file').change(function () {
            for (var i = 0; i < this.files.length; ++i) {
                var name = this.files.item(i).name;
                var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp', 'pdf', 'doc', 'docx'];
                var Extension = name.split('.').pop().toLowerCase();
                if ($.inArray(Extension, fileExtension) == -1) {
                    alert(name + " is not valid format. Only '.jpeg','.jpg', '.png', '.gif', '.bmp','doc','docx','pdf' formats are allowed.");
                    $(':file').val("");
                    return false;
                }
            }
        });
    })
</script>







