﻿@model SBL.DomainModel.Models.eFile.eFileAttachments
@using SBL.eLegistrator.HouseController.Web.Helpers
@using SBL.eLegistrator.HouseController.Web.Utility
@{
    var FileSettings = (SBL.DomainModel.Models.SiteSetting.SiteSettings)Helper.ExecuteService("SiteSetting", "GetSecureFileSettingLocation", null);

    int count = 0;
    if (ViewBag.CurrentPage > 1)
    {

        count = (ViewBag.PageSize * (ViewBag.CurrentPage - 1));
    }
}
@if (CurrentSession.Designation != "Vidhan Sabha Secretary")
{

    <button type="submit" id="savebtnAddAttachment" class="btn btn-sm btn-danger btn-white btn-round" onclick="NewDraftPaper();" style="float: right; margin-right: 16px; margin-bottom: 6px; border-radius: 6px;">
        <i class="upload-icon ace-icon fa fa-cloud-upload bigger-125"></i>
        Draft New Paper</button>
}
@if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
{
    //  if (CurrentSession.Designation != "Vidhan Sabha Secretary")
    //  {

   
    <button class="btn btn-sm btn-radius btn-white btn-round" onclick="openModalMul('','M')" style="float: right; margin-right: 16px; margin-bottom: 6px; border-radius: 6px;">
        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
        Attach Multiple Paper to File
    </button>
    // }
}
<div id='fullDetailsModel' class="hide">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>

<div class="row">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="pass-table">
            @if (Model.eFileAttachemts != null)
            {
                if (Model.eFileAttachemts.Count() > 0)
                {
                <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
              
                <div class="table-header">
                    <span class="label label-lg label-yellow arrowed-right" style="height: 24px; font-weight: bold; font-size: 14px;">Draft</span> ( Paper List )
                </div> 
                <div style="width: 100%; overflow: scroll;">
                    <table class="table table-bordered  dataTable" id="sample-table-3" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">


                                <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 175px;">Actions </th>
                                @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                                {
                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1">File No.  </th>
                                }
                                <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="text-align: center">Reply (PDF)</th>
                                       <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="text-align: center">Reply (DOC)</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">VSRefNo</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="display: none">Type</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Item</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Subject</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Nature</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Department</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Date</th>
                                <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="display: none;">Status</th>


                                <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="text-align: center">Recieved (PDF)</th>
                                @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                                {
                                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="text-align: center">Recieved (DOC)</th>
                                }
                                else
                                { }
                                @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                                {
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-3" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Forward To</th>
                                }

                            </tr>
                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.eFileAttachemts)
                            {
                                string deptid = "d" + item.eFileAttachmentId;
                                string ofcid = "of" + item.eFileAttachmentId;
                                string efflNo = "eNo" + item.eFileAttachmentId;
                                string subj = "sub" + item.eFileAttachmentId;
                                string pre = "pre" + item.eFileAttachmentId;
                                string fut = "fut" + item.eFileAttachmentId;
                                count = count + 1;
                                string rowId = "eFiles" + item.eFileAttachmentId;
                                var EDays = 0;             
                                <tr>

                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                                                    {
                                                        if (item.CurrentEmpAadharID == Model.CurrentSessionAId)
                                                        {
                                                        <input id='chk_@count' type="checkbox" class="chkp" name="@item.DraftId" onclick="AddToList(this.id, this.name)"/>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <input id='chk_@count' type="checkbox" class="chkp" name="@item.DraftId" onclick="AddToList(this.id, this.name)"/>
                                                    }
                                                </td>

                                                <td>
                                                    @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                                                    {

                                                        if (Model.CheckAuthorize != 0)
                                                        {
                                                        <button class="btn btn-xs btn-success" title="Send To Department"  onclick="SentToDept(@item.DraftId,@item.eFileID)">
                                                            <i class="ace-icon fa fa-check bigger-120"></i>
                                                        </button>
                                                        }
                                                        else
                                                        {


                                                        }



                                                    }
                                                    else
                                                    {

                                                    }
                                                </td>






                                                <td>
                                                    @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                                                    {
                                                        //  if (Model.Sessiondesign == "Vidhan Sabha Secretary")
                                                        //  {

                                                        //  }
                                                        //  else
                                                        // {
                                                        if (item.CurrentEmpAadharID == Model.CurrentSessionAId)
                                                        {
                                                               
                                                               
                                                              
                                                        <button class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="right" title="Edit"  onclick="DraftPaperInfo(@item.DraftId);"  >
                                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                        </button>
                                                  
                                                        }
                                                        else
                                                        {

                                                        }
                                                        // }
                                                    }
                                                    else
                                                    {
                                                        <button class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="right" title="Edit"  onclick="DraftPaperInfo(@item.DraftId);"  >
                                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                        </button>
                                                    }
                                                </td>
                                                @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                                                {
                                                    <td>
                                                        <button class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="top" title="@item.ToListComplN" onclick="Show('@item.ToListComplN','@item.CCListComplN');">
                                                            Recip
																
                                                        </button>

                                                    </td>
                                                }

                                                @if (Model.Sessiondesign == "Vidhan Sabha Secretary")
                                                {
                                                    <td></td>
                                                }
                                                else
                                                {
                                       
                                                    <td>
                                                        <button class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="right" title="Delete" onclick="DeleteDraft(@item.DraftId)">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </button>
                                                    </td>
                                                }

                                            </tr>
                                        </table>

                                    </td>
                                    @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                                    {
                                        <td>
                                            @if (item.PaperStatus == "Y")
                                            {


                                                if (item.ReFileID > 0)
                                                {
@*<div style="background-color:#FFF68F" aria-hidden="true" data-placement="top" data-toggle="tooltip" data-placement="right"
                                          onclick="getEFileAttached('@item.ReFileID')"  title="View Attached eFile" style="cursor:pointer">
                                                  @item.MainEFileName 
                                            </div>*@
                                                <div style="background-color:#FFF68F" aria-hidden="true" data-placement="top" data-toggle="tooltip" data-placement="right"
                                          onclick="DisplayModal('@Model.eFileID','@item.ReFileID');"  title="View Attached eFile" style="cursor:pointer">
                                                    @item.MainEFileName
                                                </div>
                                      
                                                }
                                                else
                                                {


                                                }
                                            }
                                            else
                                            {
                                                // <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" title="Paper Not Received"></span>
                                            }
                                        </td>
                                    }

                                    <td>
                                        @{
                                    string pathN = FileSettings.SettingValue + item.eFilePathPDFN;           
                                        }
                                        @if (!string.IsNullOrEmpty(item.eFilePathPDFN))
                                        { 
                                         
@*<a href="@pathN" target="_blank">
                                    <img src="~/Images/Common/PDF.png" alt="Download PDF" title="Download PDF" width="35" height="35" /></a>*@
                                         
                                            <img src="~/Images/Common/PDF.png" alt="Download PDF" title="Download PDF" width="35" height="35" onclick="DisplayNoting('@item.eFilePathPDFN','@item.DraftId');" />
                                       
                                        }
                                        else
                                        {

                                        }
                                    </td>



                                                                 <td>
                                        @{
                                        string pathWordN = FileSettings.SettingValue + item.eFilePathWordN;
                                        }
                                        @if (!string.IsNullOrEmpty(item.eFilePathWordN))
                                        { 
                                            <a href="@pathWordN" target="_blank">
                                                <img src="~/Images/Common/doc.png" alt="Download Doc" title="Download Doc" width="35" height="35" /></a>
                                        }
                                    </td>
                                    <td class="hidden-sm hidden-xs action-button">

                                        @if (item.PType == "O")
                                        {
                                            if (item.ReplyStatus == "Y")
                                            {
                                            <span class="label label-sm label-danger arrowed arrowed-right" data-toggle="tooltip" data-placement="right" title="Reply Paper" style="height: 18px">@item.PaperRefNo</span>
                                            }
                                            else
                                            {
                                            <span class="label label-sm label-danger arrowed arrowed-right" data-toggle="tooltip" data-placement="right" title="Original Paper" style="height: 18px">@item.PaperRefNo</span>
                                            }
                                        }
                                        else if (item.PType == "R")
                                        {
                                            <span class="label label-sm label-grey arrowed arrowed-right" data-toggle="tooltip" data-placement="right" title="Reminder ( @item.LinkedRefNo )" style="height: 18px">@item.PaperRefNo</span>
                                        }
                                        else
                                        {
                                            <span class="label label-sm label-danger arrowed arrowed-right" style="height: 18px">@item.PaperRefNo</span>
		 
                                        }


                                        @if (item.ReplyStatus == "Y")
                                        {
                                            <span class="badge badge-warning" data-toggle="tooltip" data-placement="right" title="Reply of ( PaperRefNo. : @item.LinkedRefNo ) & Date (@item.ReplyDate.ToString("dd/MM/yyyy HH:mm tt"))">R</span>
                                        } </td>

                                    <td style="display: none">@item.DocuemntPaperType</td>
                                    @* <td>
                                  @if (item.DiaryNo == null)
                                  {
                                <a href="javascript:void();" onclick="DiaryEntry(@item.eFileAttachmentId)" class="btn btn-warning">Diary Paper</a>
                                  }
                                  else
                                  {
                                    @item.DiaryNo
                                  }
</td>*@
                                    @if (@item.CountsAPS == null)
                                    {
                                        <td>

                                            @item.ItemName

                                        </td>
                                    }
                                    else
                                    {
                                        <td>

                                            @item.ItemName (@item.CountsAPS/@item.CountRply)
                                                                                                                                   
                                        </td>
                                    }

                                    <td>@item.Title </td>

                                    <td>@item.RecvdPaperNature</td>


                                    <td>
                                        @if (item.DepartmentName == "OTHER")
                                        {
                                            <span class="badge badge-yellow" style="border-radius: 5px;" title="@item.RecvDetails" data-placement="top" data-toggle="tooltip">OTHER</span><br />
										
                                        }
                                        else
                                        {
                                            <span   data-toggle="tooltip" data-placement="top" title="@item.DepartmentName">@item.DeptAbbr</span> @*@item.RecvDetails*@
                                        }



                                    </td>
                                    <td>@item.CreatedDate.ToString("dd/MM/yyyy HH:mm tt")</td>
                                    <td style="display: none;">
                                        @if (item.PaperStatus == "N")
                                        {
                                            <button class="btn btn-minier btn-purple" onclick="openModal('@item.eFileAttachmentId','Y')">
                                                <i class="glyphicon glyphicon-floppy-save"></i>
                                                Receive
                                            </button>
                                        }
                                        else
                                        {
                                            <span class="label label-success arrowed" title="ReceivedDate(@item.ReceivedDate.ToString("dd/MM/yyyy HH:mm"))">
                                                <i class="glyphicon glyphicon-floppy-saved"></i>
                                                Received
                                            </span>
                                            if (item.eFileID == 0)
                                            {
                                            <br />
                                            <input type="hidden" id="hdnAttachtoefile" />
                                            <a style="cursor: pointer" onclick="openModal('@item.eFileAttachmentId','N')">Attach to eFile</a>
				 
                                            }
                                            else
                                            {
                                            <span class="glyphicon glyphicon-link" aria-hidden="true">Attached</span>
                                            }

                                        }
                                    </td>



                                    @{
                                        string path = FileSettings.SettingValue + item.eFilePath;
                                        string pathAnnex = FileSettings.SettingValue + item.AnnexPDF;
                                        if(item.AnnexPDF=="")
                                        {
                                            item.AnnexPDF = null;
                                        }
                                    }
                                    @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                                    {
                                        if (item.eFilePath != null)
                                        {
                                        <td>
                                            <img src="~/Images/Common/PDF.png" alt="Download PDF" title="Download PDF" width="35" height="35" onclick="DisplayModaleNotingDraft('@item.eFilePath','@item.eFileAttachmentId');" />
                                            @if (item.AnnexPDF != null)
                                            {
                                                <a href="@pathAnnex" target="_blank">
                                                    <img src="~/Images/Common/Anexxture.png" alt="Download PDF" title="Annexure PDF" data-toggle="tooltip" width="35" height="35" /></a>
                                                  
                                            }
                                            else
                                            {
                                            }
                                        </td>
                                        }
                                        else
                                        {
                                        <td></td>
                                        }
                                    }
                                    else
                                    {
                                        <td><a href="@path" target="_blank">
                                            <img src="~/Images/Common/PDF.png" alt="Download PDF" title="Download PDF" width="35" height="35" /></a>
                                            @if (item.AnnexPDF != null)
                                            {
                                                <a href="@pathAnnex" target="_blank">
                                                    <img src="~/Images/Common/Anexxture.png" alt="Download PDF" title="Annexure PDF" data-toggle="tooltip" width="35" height="35" /></a>
                                                  
                                            }
                                            else
                                            {
                                            }

                                        </td>
                                    }



                                    @{
                                    string pathWord = FileSettings.SettingValue + item.eFilePathWord;
                                    }
                                    @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                                    {
                                        <td>

                                            @if (!string.IsNullOrEmpty(item.eFilePathWord))
                                            { 
@*<a href="@pathWord" target="_blank">*@
                                                <img src="~/Images/Common/doc.png" alt="Download Doc" title="Download Doc" width="35" height="35"  onclick="DisplayDOCNotingDraft('@item.eFilePathWord','@item.eFileAttachmentId');"/>@*</a>*@
                                            }
                                        </td>
                                    }
                                    else
                                    {
@*<td>
                                            <a href="pathWord" target="_blank">
                                                <img src="~/Images/Common/doc.png" alt="Download Doc" width="35" height="35" title="Download Doc" /></a>
                                        </td>*@
                                    }



                                    @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                                    {
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.BranchName))
                                            {
                                                if (Model.Sessiondesign == "Vidhan Sabha Secretary")
                                                {
                                            
                                                <div style="background-color:#FFF68F" aria-hidden="true" data-placement="top" data-toggle="tooltip" data-placement="right"
                                           onclick="GetNoting(@item.DraftId,'@item.ReFileID')" title="Create Noting" style="cursor:pointer">
                                                    @item.Desingnation - @item.AbbrevBranch (@item.EmpName)
                                                </div>
                                            
                                     
                                                }
                                                else
                                                {
                                                    if (item.CurrentEmpAadharID == Model.CurrentSessionAId)
                                                    {
                                                <div style="background-color:#FFF68F" aria-hidden="true" data-placement="top" data-toggle="tooltip" data-placement="right"
                                           onclick="GetNoting('@item.DraftId','@item.ReFileID')" title="Create Noting" style="cursor:pointer">
                                                    @item.Desingnation - @item.AbbrevBranch (@item.EmpName)
                                                </div>
                                                    }
                                                    else
                                                    {
                                                <div style="background-color: #FFF68F" aria-hidden="true" data-placement="top" data-toggle="tooltip" data-placement="right"
                                                    title="Not Authorize To Create Noting" style="cursor: pointer">
                                                    @item.Desingnation - @item.AbbrevBranch (@item.EmpName)
                                                </div>
                                                    }
                                                }

                                            }
                                            else
                                            {
                                                <a class="btn btn-minier btn-yellow" aria-hidden="true" data-toggle="tooltip" data-placement="right"
                                           onclick="GetNoting(@item.DraftId)" title="Create Noting" style="cursor:pointer">Assign
                                                </a>
                                            }


                                        </td>
                                    }

                                </tr>
									
                            }
                        </tbody>
                    </table>
                </div>
                }
                else
                {
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-info">

                            <strong>No File Found !!!</strong><br />


                        </div>
                    </div>
                </div>
                }
            }

        </div>
    </div>
</div>



@*Modal for Only Receive  *@


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dlgRecipientGroupModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width: 100%; margin-left: 30px;">
            <div class="modal-header">
                <h3>Attach Paper(s) to eFile </h3>
                <button type="button" class="close" data-dismiss="modal">
                </button>
            </div>
            <form method="post" id="DebateInfoForm">

                <div class="modal-body alert alert-block alert-success" style="height: 247px; overflow-y: scroll;">
                    <input type="hidden" id="hdnefileattid" />
                    <div class="col-xs-12 col-sm-12" id="divattachefile">

                        @if (ViewBag.EFilesListAll != null)
                        {
	 
                            <div class="profile-info-row col-sm-12" id="divefile">

                                <div class="pass-table">

                                    @if (Model.eFileLists.Count() > 0)
                                    {
                                        <div class="table-header">
                                            e-File List  
                                        </div>        
                                        <table class="table table-bordered  dataTable" aria-describedby="sample-table-2_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">S#</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">eFile Number</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">Subject</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Department</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Create Date</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Old Desc</th>
                                                    <th class="sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">New Desc</th>


                                                </tr>
                                            </thead>
                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                @foreach (var item in Model.eFileLists)
                                                {
                                                    string deptid = "d" + item.eFileID;
                                                    string ofcid = "of" + item.eFileID;
                                                    string efflNo = "eNo" + item.eFileID;
                                                    string subj = "sub" + item.eFileID;
                                                    string pre = "pre" + item.eFileID;
                                                    string fut = "fut" + item.eFileID;
                                                    count = count + 1;
                                                    string rowId = "eFiles" + item.eFileID;
		  
								   
                                                    <tr>
                                                        <td>
                                                            <input name="form-field-radio" type="radio" onclick="getefileid(this.id)"  id="@item.eFileID">
                                                        </td>
                                                        <td class="hidden-sm hidden-xs action-button">@count</td>
                                                        <td>
                                                            <span class="badge badge-yellow" style="border-radius: 5px; font-weight: bold;">
                                                                @item.eFileNumber/E/@item.eFileID</span></td>
                                                        <td id="@subj">@item.eFileSubject</td>

                                                        <td id="@deptid" >@item.Department</td>

                                                        <td>@Convert.ToDateTime(item.CreateDate).ToString("dd/MM/yyyy")</td>
                                                        <td>@Html.Raw(item.olddesc)</td>
                                                        <td>@Html.Raw(item.newdesc)</td>
                                                    </tr>
									
                                                }
                                            </tbody>
                                        </table>

                                        <!-- PAGE CONTENT ENDS -->
                                    }
                                    else
                                    {
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="alert alert-info">

                                                    <strong>No eFiles found!</strong><br />


                                                </div>
                                            </div>
                                        </div>
                                    }






                                </div>
                            </div>
	
                        }
                        else
                        {
	  
                            <div class="alert alert-block alert-danger" id="noefilemsg">
                                <i class="ace-icon fa fa-check green"></i>

                                No e-File Found. <strong class="green">
                                    <span>Create </span>
                                    @*onclick="eFileList()"*@
                                </strong>New eFile to Attach.
									 
                            </div>
                        }

                    </div>
                    <div class="col-xs-12 col-sm-12" id="divOR">
                        <center>
						<div class="profile-info-row">

							 
							<span class="label label-lg label-pink arrowed-right" style="  font-weight: bold;  height: 24px;">OR</span>
						</div>
							</center>
                    </div>
                    <div class="col-xs-12 col-sm-12" id="chkrecv">
                        <div class="profile-info-row">
                            <div class="profile-info-name"></div>
                            <div class="profile-info-value">
                                <div class="input-group col-xs-12">

                                    <div class="checkbox">
                                        <label class="block">
                                            <input name="form-field-checkbox" type="checkbox" class="ace input-lg" id="chkboxreceive">
                                            <span class="lbl bigger-120">Receive Only</span>
                                        </label>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="alert alert-block alert-success" id="divMsgBox">
                        <i class="ace-icon fa fa-check green"></i>

                        Paper
									<strong class="green">Received										
                                    </strong>
                        Successfully
                    </div>

                </div>
                <div class="modal-footer" style="margin-top: 0%; text-align: center;">
                    <button id="btnRecv" type="button" class="btn btn-app btn-purple btn-sm" onclick="UpdateReceive()" data-dismiss="modal">
                        <i class="ace-icon fa fa-cloud-download bigger-200"></i>
                        Receive
                    </button>
                    @if (ViewBag.EFilesListAll != null)
                    {
                        <button id="btnRecvMul" type="button" class="btn btn-app btn-purple btn-sm" onclick="AttachToeFileMultiple()" data-dismiss="modal">
                            <i class="ace-icon fa fa-cloud-download bigger-200"></i>
                            Attach
                        </button>
                    }

                    <button type="button" class="btn btn-app btn-danger btn-sm" data-dismiss="modal">
                        <i class="ace-icon glyphicon glyphicon-remove bigger-200"></i>
                        Close
                    </button>


                </div>
            </form>
        </div>
    </div>
</div>
<div id="efileids" class="hdneId" style="display: none"></div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="dlgeFileDetails" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width: 67%; margin-left: 30px;">
            <div class="modal-header" style="height: 65px;">
                <h3>eFile Details </h3>
                <button type="button" class="close" data-dismiss="modal">
                </button>
            </div>
            <div id="divAttachedeFileDetails" class="modal-body alert alert-block alert-success" style="height: 400px; overflow-y: scroll;">
            </div>
            <div class="modal-footer" style="margin-top: 0%; text-align: right;">

                @*
				<button type="button" class="btn btn-app btn-danger btn-sm" data-dismiss="modal">
					<i class="ace-icon glyphicon glyphicon-remove bigger-200"></i>
				</button>*@
                <button type="button" class="btn btn-app btn-danger" data-dismiss="modal" style="width: 9%; padding: 0px; font-size: 15px;">
                    Close
                </button>

            </div>

        </div>
    </div>
</div>


<input type="hidden" id="hdnefileid" />
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>


@*@if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
 {
          <script>



              jQuery(function ($) {
                  var oTable1 =
                  $('#sample-table-3')
                  .dataTable({
                      bAutoWidth: true,
                      "aoColumns": [
                         { "bSortable": false },

                        null, null, null, null, null, null, null, null, null, null, null, null, null, null,

                      ]

                  });
              });
             </script>
 }
else
{
     <script>

         jQuery(function ($) {
             var oTable1 =
             $('#sample-table-3')
             .dataTable({
                 bAutoWidth: true,
                 "aoColumns": [
                    { "bSortable": false },

                   null, null, null, null, null, null, null, null, null, null, null, null,

                 ]

             });
         });
             </script>

}*@



<script>
    $(document).ready(function () {
        $('#resize-left').show();
        $('#resize-right').show();

        //for count update added by robin  for vidhan sabha
        $("#78Draft_Papers").empty();
        $("#78Draft_Papers").html(@Model.eFileAttachemts.Count);

        $("#78Sent_Papers").empty();
        $("#78Sent_Papers").html(@Model.SentPaperCount);

        //for count update added by robin for secretary 
        $("#SecSentCount").empty();
        $("#SecSentCount").html(@Model.SentPaperCount);

        $("#SecDraftCount").empty();
        $("#SecDraftCount").html(@Model.eFileAttachemts.Count);
    });
    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-3')
        .dataTable();
    });
    //////////////////////////////Server Side Paging////////////////////////////////////////
   @* $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip(); $("#efileids").hide();
        $('#sample-table-3').dataTable({ "bPaginate": false, "bInfo": false, "bSearchable": false, "bSort": false });
        $("#PazeSize").val(@ViewBag.PageSize)

        $('#PazeSize').change(function () {
            var PageSize = $("#PazeSize").val();
            $.ajax({
                type: "POST",
                url: '/HouseCommittee/HouseCommittee/GetDraftPaperByPaging',
                data: '{ pageId: "1",pageSize: "' + PageSize + '" ,PapersId: "' + PapersId + '"  }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {

                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result);
                },
                error: function (error) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(error.responseText);

                },
                complete: function (results) {

                    $('#loader-wrapper').hide();
                }
            });

        });


    });

    function GetDataList(pageId) {
        var PageSize = $("#PazeSize").val();
        $.ajax({
            type: "POST",
            url: '/eFile/eFile/GetSavedPaperByPaging',
            data: '{ pageId: "' + pageId + '",pageSize: "' + PageSize + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(result);
            },
            error: function (error) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(error.responseText);

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
            }
        });
    }*@
    //////////////////////////////Server Side Paging////////////////////////////////////////
    function getEFileAttached(id) {
        if (id != null && id != 0) {

            $("#loader-wrapper").show();
            $.ajax({
                url: "/eFile/eFile/_eFileViewByIDAttached",
                type: 'GET',
                data: {
                    DepartmentName: '',
                    eFileNumber: '',
                    eFileSubject: '',
                    eFileID: id,
                    CommitteeId: 0
                },
                success: function (data) {
                    if (data) {
                        $("#dlgeFileDetails").modal('show');
                        $("#divAttachedeFileDetails").html("");
                        $("#divAttachedeFileDetails").html(data);
                        $("#loader-wrapper").hide();
                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });
        }
    }


    function getefileid(ele) {

        $("#hdnefileid").val(ele);
    }

    function AddToList(chkid, efileattid) {
        var status = $('#' + chkid + '').is(':checked');
        if (status == true) {
            var eids = efileattid + ',';
            $('#efileids').append(eids);
        }
        else {

            var a = $('#efileids').html();
            var b = a.replace(efileattid + ',', " ");
            $('#efileids').empty();
            $('#efileids').append(b);
        }

    }
    $("#chkSelAll").click(function (e) {

        var status = $("#chkSelAll").prop('checked');
        var checkboxes = document.getElementsByClassName("chkp");
        if (status == true) {
            $('#efileids').html('');

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                    if (checkboxes[i].checked = true) {
                        AddToList(checkboxes[i].id, checkboxes[i].name)
                    }
                }
            }
        }
        else {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;

                }
            }
            $('#efileids').empty();
            $('#efileids').html('');

        }
    });

    //$(function () {
    //	$('[data-toggle="tooltip"]').tooltip();
    //	$("#efileids").hide();

    //	var oTable1 =
    //    $('#sample-table-2').dataTable({});
    //});

    $("#ddleFile").change(function () {
        var a = $(this).val();
        if (a == 0) {
            var v = $("#hdnAttachtoefile").val();
            if (v == 'Attach') {
                $("#divOR").hide();
                $("#chkrecv").hide();
            }
            else {
                $("#divOR").show(300);
                $("#chkrecv").show(300);
            }
        }
        else {

            $("#divOR").hide(300);
            $("#chkrecv").hide(300);
        }
    });

    function openModal(id, ele) {
        if (ele == 'N') {
            $("#chkrecv").hide();
            $("#divOR").hide();
            $("#hdnAttachtoefile").val("Attach");
        }
        else if (ele == 'Y') {
            $("#chkrecv").show();
            $("#divOR").show();
            $("#hdnAttachtoefile").val("RECVAttach");

        }
        $("#btnRecvMul").hide();
        $("#btnRecv").show();
        $("#divMsgBox").hide();
        $("#hdnefileattid").val(id)
        $("#dlgRecipientGroupModel").modal('show')

    }
    $("#chkboxreceive").change(function () {
        if ($(this).prop('checked')) {
            $("#divattachefile").hide(300);
            $("#divOR").hide(300);
        }
        else {
            $("#divattachefile").show(300);
            $("#divOR").show(300);
        }

    });

    function UpdateReceive() {




        var chkstatus = $("#chkboxreceive").is(":checked");
        var eFileID = 0;
        if (chkstatus == true) {
            eFileID = 0;
        }
        else {
            var ddval = $("#ddleFile").val();
            if (ddval.length > 0)
            { eFileID = $("#ddleFile").val(); } else {

                var dlg = bootbox.alert("No eFile Found.", function (e) {
                    $(dlg).modal('hide');
                });
                return;
            }

        }


        $("#loader-wrapper").show();

        var Url = '@Url.Action("SaveReceivePaperSingle", "eFile", new { Area = "eFile" })';
        $.ajax({
            url: Url,
            type: 'POST',
            data: {
                eFileAttachId: $("#hdnefileattid").val(),
                eFielId: eFileID
            },
            success: function (data) {
                if (data) {
                    ReceivePaperList();
                    $("#loader-wrapper").hide();
                    var dlg = bootbox.alert(data, function (e) {
                        $(dlg).modal('hide');
                    });
                    //$("#dlgRecipientGroupModel").modal('show');
                    //$("#divattachefile").hide(300);
                    //$("#divOR").hide(300);
                    //$("#chkboxreceive").hide(300);
                    //$("#divMsgBox").show(300);



                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });

    }

    function ReplyPaper(efileattid, refno, Deptid, officeid, doctypeid, linkrefno, papernature) {
        $("#loader-wrapper").show();
        
        var Url = '@Url.Action("ReplyPaperSingle", "eFile", new { Area = "eFile" })';
        $.ajax({
            url: Url,
            type: 'GET',
            data: {
                eFileAttachmentId: efileattid,
                PaperRefNo: refno,
                DepartmentId: Deptid,
                OfficeCode: officeid,
                DocumentTypeId: doctypeid,
                LinkedRefNo: linkrefno,
                PaperNature: papernature
            },
            success: function (data) {
                if (data) {
                    $('#resize-left').width('50%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '50%' }, 500);


                    $("#RightSidebar").html("");
                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();
                }
            },
            complete: function (obj) {
                Initializefileupload();
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });
    }

    function openModalMul(id, ele) {

        if (ele == 'M') {
            $("#chkrecv").hide();
            $("#divOR").hide();
            $("#btnRecvMul").show();
            $("#btnRecv").hide();
        }
        else {
            $("#chkrecv").show();
            $("#divOR").show();
            $("#btnRecvMul").hide();
            $("#btnRecv").show();
        }
        $("#divMsgBox").hide();

        var a = $('#efileids').html();
        if (a.toString().length == 0) {
            var dlg = bootbox.alert("No Paper has been selected", function (e) {
                $(dlg).modal('hide');
            });
            return;
        }
        $("#hdnefileattid").val(a)
        $("#dlgRecipientGroupModel").modal('show')


    }





    function DeleteDraft(Id) {
        $("#loader-wrapper").show();
        var Url = '@Url.Action("DeleteDraftPapers", "HouseCommittee", new { Area = "HouseCommittee" })';
        $.ajax({
            url: Url,
            type: 'POST',
            data: {
                eFileAttId: Id,
            },
            success: function (data) {
                if (data) {
                    GetDraftPaperList();
                    $("#loader-wrapper").hide();
                    var dlg = bootbox.alert(data, function (e) {
                        $(dlg).modal('hide');
                    });

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });

    }

    function AttachToeFileMultiple() {

        $("#loader-wrapper").show();

        var Url = '@Url.Action("AttachPaperToeFileMultipleDraftR", "HouseCommittee", new { Area = "HouseCommittee" })';
        $.ajax({
            url: Url,
            type: 'POST',
            data: {
                eFileAttIds: $("#hdnefileattid").val(),
                eFielId: $("#hdnefileid").val()
            },
            success: function (data) {
                if (data) {
                    getList();
                    $("#loader-wrapper").hide();
                    GetDraftPaperList()
                    var dlg = bootbox.alert(data, function (e) {
                        $(dlg).modal('hide');

                    });

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });

    }

    function getList() {

        var PapersId = $("#PapersId option:selected").val();
        $("#loader-wrapper").show();
        var pathurl = "@Url.Action("GetDraftPaperList", "HouseCommittee")";
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: { pageId: "1", pageSize: "25", PapersId: PapersId },
            success: function (data) {
                $("#tablecontainer").html("");
                $("#tablecontainer").html(data);
                $("#loader-wrapper").hide();

            }
        });
    }
    function DraftPaperInfo(Id) {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/HouseCommittee/HouseCommittee/DraftPaperInfo",
            type: 'GET',
            data: { EfileId: Id },
            success: function (data) {
                if (data) {
                    $('#resize-left').width('50%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '50%' }, 500);
                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            },
            complete: function (obj) {
                Initializefileupload();
                InitializefileuploadWord();
            }
        });

    }
    function ReceivePaper() {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/HouseCommittee/HouseCommittee/NewReceivePaper",
            type: 'GET',
            data: {},
            success: function (data) {
                if (data) {

                    $('#resize-left').width('50%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '50%' }, 500);

                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            },
            complete: function (obj) {
                Initializefileupload();
                InitializefileuploadWord();
            }
        });

    }


    function myFunction() {
        var x;
        if (confirm("Press a button!") == true) {
            x = "You pressed OK!";
        } else {
            x = "You pressed Cancel!";
        }
        document.getElementById("demo").innerHTML = x;
    }


    function DiaryEntry(EfileId) {
        var x;
        if (confirm("Are you sure to diary this paper!") == true) {
            $("#loader-wrapper").show();
            $.post("/eFile/eFile/DiaryEntryPaper",
               {
                   EfileId: EfileId,

               },
               function (data) {
                   RPaperList();
               });
        } else {

        }


    }


    function RPaperList() {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/eFile/eFile/GetReceivePaperList",
            type: 'GET',
            data: '{ pageId: "1",pageSize: "25" }',
            success: function (data) {
                if (data) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').html(data);
                    $("#loader-wrapper").hide();
                    $('#resize-left').width('100%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '0%' }, 500);
                    ChangeBreadCrumbParent("Correspondence", "");
                    ChangeBreadCrumbChild("Receive Paper", "");
                    $("#MainDiveThreeTire").show();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }


    function GetNoting(ID, ReId) {
        $("#loader-wrapper").show();
        var pathurl = '@Url.Action("CreateNotingPop", "HouseCommittee")';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                Id: ID,
                ReId: ReId
            },
            success: function (data) {
                $("#loader-wrapper").hide();
                $('#ShowfullDetailsModel').html("");
                $('#ShowfullDetailsModel').html(data);

                var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Create Noting Movement",
                    width: 600,
                    title_html: true,
                    buttons: [
                        {
                            text: "OK",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

            }
        });
    }

  @*  function GetPopUpforSend(ID) {
        $("#loader-wrapper").show();
        var pathurl = '@Url.Action("SendToDeptPop", "HouseCommittee")';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                Id: ID
            },
            success: function (data) {
                $("#loader-wrapper").hide();
                $('#ShowfullDetailsModel').html("");
                $('#ShowfullDetailsModel').html(data);

                var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Select And Send Paper To Department",
                    width: 600,
                    title_html: true,
                    buttons: [
                        {
                            text: "Send to Department",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                SentToDept()
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

            }
        });
    }*@

    function SentToDept(ID, eFileID) {
        //var ID = document.getElementById("hdneAttachmentID").value;
        var Approvefile;
        if ($("#chApprovefile").is(':checked')) {
            Approvefile = true;
        }
        else {
            Approvefile = false;
        }
        var SignDraftpaper;
        if ($("#chSignDraftpaper").is(':checked')) {
            SignDraftpaper = true;
        }
        else {
            SignDraftpaper = false;
        }
        var AttachedFile = eFileID;

        if (AttachedFile == "" || AttachedFile == "0") {
            alert("Please attach paper to file ");
            return false;
        }
        if (confirm("Are you sure to Send!") == true) {
            $("#loader-wrapper").show();
            $.post("/HouseCommittee/HouseCommittee/SendToDeptEntry",
               {
                   Id: ID,
                   Approvefile: Approvefile,
                   SignDraftpaper: SignDraftpaper,
               },
               function (data) {
                   GetDraftPaperList()
                  
               });
        } else {

        }
    }

    function GetDraftPaperList() {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/HouseCommittee/HouseCommittee/GetDraftPaperList",
            type: 'GET',
            data: '{ pageId: "1",pageSize: "25" }',
            success: function (data) {
                if (data) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').html(data);
                    $("#loader-wrapper").hide();
                    $('#resize-left').width('100%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '0%' }, 500);
                    ChangeBreadCrumbParent("Correspondence", "");
                    ChangeBreadCrumbChild("Receive Paper", "");
                    $("#MainDiveThreeTire").show();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }
    //function GetBranch(id) {
    //    if (id != null && id != 0) {

    //        $("#loader-wrapper").show();
    //        $.ajax({
    //            url: "/eFile/eFile/BranchModel",
    //            type: 'GET',
    //            data: {
    //                //DepartmentName: '',
    //                //eFileNumber: '',
    //                //eFileSubject: '',
    //                //eFileID: id,
    //                //CommitteeId: 0
    //            },
    //            success: function (data) {
    //                if (data) {
    //                    $("#dlgeFileDetails").modal('show');
    //                    $("#divAttachedeFileDetails").html("");
    //                    $("#divAttachedeFileDetails").html(data);
    //                    $("#loader-wrapper").hide();
    //                } else { alert("error"); }
    //            },
    //            error: function (xhr, ajaxOptions, thrownError) {
    //                alert(xhr.responseText);
    //                alert(thrownError);
    //            }
    //        });
    //    }
    //}
    function DisplayModaleNotingDraft(Path, ID) {
        //  alert(Path)
        // alert(ID)
        $("#loader-wrapper").show();

        $.ajax({
            url: "/HouseCommittee/HouseCommittee/DraftMovementTest",
            type: 'GET',
            data: {
                Path: Path,
                eFileattachedId: ID,
            },
            success: function (data) {
                if (data) {

                    $('#modalMsg').show("slow");
                    document.getElementById("overlay").className = "OverlayEffect";
                    document.getElementById("modalMsg").className = "ShowModal";

                    $("#modalMsg").html(data);
                    //$("#testId").animate({ scrollTop: 0 }, "fast");
                    $('body, html, #modalMsg').scrollTop(-10);
                    $("#loader-wrapper").hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }
    function DisplayDOCNotingDraft(Path, ID) {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/HouseCommittee/HouseCommittee/DOCDraftMovement",
            type: 'GET',
            data: {
                Path: Path,
                eFileattachedId: ID,
            },
            success: function (data) {
                if (data) {
                    if (data.Value == true) {
                        window.open(data.CompPath + Path, "_parent");
                        $("#loader-wrapper").hide();
                    }
                    else {
                        $('#modalMsg').show("slow");
                        document.getElementById("overlay").className = "OverlayEffect";
                        document.getElementById("modalMsg").className = "ShowModal";

                        $("#modalMsg").html(data);
                        //$("#testId").animate({ scrollTop: 0 }, "fast");
                        $('body, html, #modalMsg').scrollTop(-10);
                        $("#loader-wrapper").hide();
                    }



                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }
    function Show(TO, CC) {
        var pathurl = '@Url.Action("ToModelPop", "HouseCommittee")';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                To: TO,
                CC: CC
            },
            success: function (data) {

                $('#ShowfullDetailsModel').html("");
                $('#ShowfullDetailsModel').html(data);

                var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Selected Recipients",
                    width: 600,
                    title_html: true,
                    buttons: [
                        {
                            text: "OK",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

            }
        });
    }

    function DisplayNoting(Path, ID) {
        //   alert(Path)
        //alert(ID)
        $("#loader-wrapper").show();

        $.ajax({
            url: "/HouseCommittee/HouseCommittee/NotingMovement",
            type: 'GET',
            data: {
                Path: Path,
                eFileattachedId: ID,
            },
            success: function (data) {
                if (data) {

                    //   $('#ShowfullDetailsModel').html("");

                    //  $('#ShowfullDetailsModel').html(data);

                    $('#modalMsg').show("slow");

                    document.getElementById("overlay").className = "OverlayEffect";

                    document.getElementById("modalMsg").className = "ShowModal";

                    $("#modalMsg").html(data);

                    $("#testId").animate({ scrollTop: 0 }, "fast");
                    $('body, html, #modalMsg').scrollTop(-10);

                    $('#ShowfullDetailsModel').html("");
                    $("#loader-wrapper").hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }

    function DisplayModal(A, B) {


        // Updated praveen
        $("#loader-wrapper").show();

        //var mtext1 = $("#efileRow1").find('td:eq(2)').text();
        //var mtext2 = $("#efileRow2").find('td:eq(2)').text();
        //var mtext3 = $("#efileRow3").find('td:eq(2)').text();
        //var mtext4 = $("#efileRow4").find('td:eq(2)').text();


        $.ajax({
            url: "/HouseCommittee/HouseCommittee/eFileIndexDetails",
            type: 'GET',
            data: {
                eFileID: B,
			   @* eFileSubject: '@Model.eFileSubject',*@
                // eFileNumber: B
            },
            success: function (data) {
                if (data) {

                    //$("#IndexDet").html("");
                    //$("#IndexDet").html(data);

                    //$("#dlgRecipientGroupModel1").modal('show');

                    //$("#loader-wrapper").hide();

                    $('#modalMsg').show("slow");
                    document.getElementById("overlay").className = "OverlayEffect";
                    document.getElementById("modalMsg").className = "ShowModal";

                    $("#modalMsg").html(data);
                    //$("#testId").animate({ scrollTop: 0 }, "fast");
                    $('body, html, #modalMsg').scrollTop(-10);
                    $("#loader-wrapper").hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }


    function NewDraftPaper() {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/HouseCommittee/HouseCommittee/NewDraftPaper",
            type: 'GET',
            data: {},
            success: function (data) {
                if (data) {
                    $('#resize-left').width('50%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '50%' }, 500);
                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            },
            complete: function (obj) {
                Initializefileupload();
                InitializefileuploadWord();
            }
        });

    }

</script>

