﻿<style type="text/css">
	body {
		overflow: hidden;
	}

	.breadcrumb {
		margin: 4px 34px 0 97%;
	}

	.footer {
		visibility: hidden;
	}

	#flipbook {
		/*width:1300px;    
    top:180px;*/
		width: 100%;
	}

		#flipbook .page {
			width: 100%;
			height: 650px;
			background-color: white;
			/*line-height:300px;*/
			font-size: 20px;
			text-align: center;
		}

		#flipbook .page-wrapper {
			-webkit-perspective: 2000px;
			-moz-perspective: 2000px;
			-ms-perspective: 2000px;
			-o-perspective: 2000px;
			perspective: 2000px;
		}

		#flipbook .hard {
			background: #ccc !important;
			color: #333;
			/*-webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;*/
			font-weight: bold;
			box-shadow: 0 4px 10px #666;
		}

		#flipbook .odd {
			background: -webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
			background-image: -webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
			background-image: -moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
			background-image: -ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
			background-image: -o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
			background-image: linear-gradient(right, #FFF 95%, #C4C4C4 100%);
			-webkit-box-shadow: inset 0 0 5px #666;
			-moz-box-shadow: inset 0 0 5px #666;
			-o-box-shadow: inset 0 0 5px #666;
			-ms-box-shadow: inset 0 0 5px #666;
			box-shadow: inset 0 0 5px #666;
		}

		#flipbook .even {
			background: -webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
			background-image: -webkit-linear-gradient(left, #fff 95%, #dadada 100%);
			background-image: -moz-linear-gradient(left, #fff 95%, #dadada 100%);
			background-image: -ms-linear-gradient(left, #fff 95%, #dadada 100%);
			background-image: -o-linear-gradient(left, #fff 95%, #dadada 100%);
			background-image: linear-gradient(left, #fff 95%, #dadada 100%);
			-webkit-box-shadow: inset 0 0 5px #666;
			-moz-box-shadow: inset 0 0 5px #666;
			-o-box-shadow: inset 0 0 5px #666;
			-ms-box-shadow: inset 0 0 5px #666;
			box-shadow: inset 0 0 5px #666;
		}

		#flipbook .shadow {
			box-shadow: 0 -3px 17px #666;
		}

	.OverlayEffects {
		background-color: rgb(113, 113, 113);
		filter: alpha(opacity=40);
		opacity: 0.7;
		width: 100%;
		height: 100%;
		z-index: 400;
		position: absolute;
		top: 0;
		left: 0;
	}

	.NextPrevious {
		position: absolute;
		margin-left: 271px;
		top: 271px;
	}
</style>

<!--Div for Image Zoom-->
<div id="modalZoomMsg" style="width: 85.5%; height: 72.5%; border: 1px solid black; left: 100px; top: 2px; display: none;">
	<img data-toggle="tooltip" data-placement="left" title="Close" src="~/Content/img/cancel-icon.png" id="ImageZoomCancel" style="width: 16px; cursor: pointer; margin-top: 0px; margin-left: 98%; position: absolute; z-index: 1000" onclick="ZoomCancel()" />


	<span class="ace-icon fa fa-print bigger-200" onclick="PrintImg()" data-toggle="tooltip" data-placement="left" title="Print" style="position: absolute;  margin-left: 97.5%;  margin-top: 2%;cursor:pointer"></span>

	<div style="width: 98%; overflow: auto; height: 99%;" id="printImgDiv">
		<img src="" id="ImageZoomID" style="-webkit-transform: scale(1.5); transform: scale(1.5); margin-left: 191px; margin-top: 26%; width: 65%" />
	</div>
</div>
<div id="PDFView" style="display: none;">
	<img src="~/Content/img/cancel-icon.png" id="PDFViewCancel" style="width: 16px; cursor: pointer; margin-top: 0px; margin-left: 98%; position: absolute; z-index: 1000;" onclick="ViewPDFCancel()" />
	<ol id="dvData" class="dd-list" style="">
	</ol>
</div>
@*/////////////////////////////eBook///////////////////////////////*@

@*/////////////////////////////eBook///////////////////////////////*@

<div id="overlays"></div>
<div class="main-content" style="margin-left: 23px;">
	<div class="page-content" style="margin: -29px;">
		<img src="~/Content/img/cancel-icon.png" id="flipbookCancel" style="width: 16px; /* top: 47px; */  margin-left: 1311px; cursor: pointer; margin-top: 21px;" />
		<div id="flipbook">

			<div class="hard">
				<div class="shadow">
					<img src="https://secure.evidhan.nic.in/Content/Login/images/logo.png" />
					<br />
					e-Vidhan || e-File

               
				</div>
                <br />
                <br />
                
                   <div style="color:#0000FF">
  <h3>Letter Is Not Marked To You.</h3>
                       <img src="~/assets/img/NA.jpg" />
</div>      
			</div>
            <div style="color:#0000FF">
  <h3>Letter Is Not Marked To You.</h3>
                <img src="~/assets/img/NA.jpg" />
</div>      
			<div  style="background-color: green;">
				 <div style="color:#0000FF">
  <h3>Letter Is Not Marked To You.</h3>
                     <img src="~/assets/img/NA.jpg" />
</div>                   
			</div>

			<div style="background-color: green;">
                 <div style="color:#0000FF">
  <h3>Letter Is Not Marked To You.</h3>
                     <img src="~/assets/img/NA.jpg" />
</div>      
                  
				</div>
			

	

            
				


		</div>
	</div>
</div>



@*<link href="styles/main.css" type="text/css" rel="stylesheet">*@
@*<script src="~/Scripts/jquery-1.9.1.min.js"></script>*@
<script type="text/javascript" src="~/lib/turn.js"></script>


<script type="text/javascript">



	function getZoom(e) {
		$('#modalZoomMsg').show();
		document.getElementById("overlays").className = "OverlayEffects";
		document.getElementById("modalZoomMsg").className = "ShowModal";
		document.getElementById("ImageZoomID").src = e;
	}
	function ZoomCancel() {
		document.getElementById("overlays").className = "";
		$('#modalZoomMsg').hide();
	}

	function ViewPDFCancel() {
		document.getElementById("overlays").className = "";
		$('#PDFView').hide();
	}

	function ViewPDF(e) {
		$('#PDFView').show().css({ width: "71.5%", height: "91.5%", border: "1px solid black", left: "211px", top: "2px" });
		document.getElementById("overlays").className = "OverlayEffects";
		document.getElementById("PDFView").className = "ShowModal";
		$('<img src="" id="PDFViewCancel" style="   width: 16px; /* top: 47px; */ cursor: pointer; margin-top: 0px; margin-left: 98%;" onclick="ViewPDFCancel()" />' +
           '<object data="' + e + '" type="application/pdf" style="width:100%; height:97%">').appendTo('#PDFView')
		document.getElementById("PDFViewCancel").src = "~/Content/img/cancel-icon.png";
	}

	function ViewPDF2(e) {
		var _URL_Local = "/Viewer/web/viewer.html?file=../.." + e;
		var _URL_Server = "https://secure.evidhan.nic.in/Viewer/web/viewer.html?file=" + "https://secure.evidhan.nic.in/" + e;
		$('#PDFView').show().css({ width: "64%", height: "73.5%", border: "1px solid black", left: "20%", top: "0px" });
		document.getElementById("overlays").className = "OverlayEffects";
		document.getElementById("PDFView").className = "ShowModal";
		$('<img src="" id="PDFViewCancel" style="width: 16px; /* top: 47px; */ cursor: pointer; margin-top: 0px; margin-left: 98%;" onclick="ViewPDFCancel()" />' +
           '<iframe class="mfp-iframe"  src="' + _URL_Local + '" type="application/pdf" style="width:100%; height:100%">').appendTo('#PDFView')
		document.getElementById("PDFViewCancel").src = "../../Content/img/cancel-icon.png";
		@* <a href="/Viewer/web/viewer.html?file=@(item.SecurePath+"/"+item.filePath)"*@
	}

	var oTurn = $("#flipbook").turn({
		display: "double",
		width: 1305,
		height: 620,
		autoCenter: true,
		next: true
	});

	function GoIndex() {
		$("#flipbook").turn("page", 2);
	}

	function NextPage() {
		oTurn.turn("next");
	}

	function PreviousPage() {
		oTurn.turn("previous");
	}

	function GetThisPage(id) {
		var id = parseInt(id) + 2;
		$("#flipbook").turn("page", id);
	}

	$("#flipbook").turn("page", 3);

	$("#pdfview").click(function () {
		$('#modalMsgPDFView').show();
		document.getElementById("overlay").className = "OverlayEffect";
		document.getElementById("modalMsgPDFView").className = "ShowModal";
	});
	function RemoveModal() {
		document.getElementById("overlay").className = "";
		$('#modalMsgPDFView').disabled();
	}

	$("#flipbookCancel").click(function () {
		//document.getElementById("overlay").className = "";
		//var href = window.location.href;
		//window.location.href = href.replace("#","");
		$('#modalMsg').hide('slow');
		document.getElementById("overlay").className = "";
		document.getElementById("modalMsg").className = "";
		$("#modalMsg").html("");
		//$("#modalMsgAttachment").html("");
	})


	function GeteBookData(e) {
		var titleValue = $('#' + e).attr('title');
		$("#loader-wrapper").show();
		debugger;
		$.ajaxSetup({ cache: false });
		var pathurl = '@Url.Action("GeteBookData", "eFile", new { Area = "eFile" })';
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: { URL: titleValue },
			success: function (data) {
				$("#dvData").html('');
				$("#dvData").empty();
				$('#PDFView').show().css({ width: "100%", height: "82.5%", border: "1px solid black", left: "0px", top: "0px" });
				document.getElementById("overlays").className = "OverlayEffects";
				document.getElementById("PDFView").className = "ShowModal";
				$("#dvData").html(data);
				//$("#loader-wrapper").hide();

			},
			complete: function (obj) {
				$("#loader-wrapper").show();
				setTimeout(function () {
					getPage(0);
					$("#loader-wrapper").hide();
				}, 10000);

			},
			error: function (xhr, ajaxOptions, thrownError) {
				alert(xhr.responseText);
				alert(thrownError);
			}

		});
	}
	function printDiv(divId) {
		var printContents = document.getElementById(divId).innerHTML;
		var originalContents = document.body.innerHTML;
		document.body.innerHTML = "<html><head><title></title></head><body>" + printContents + "</body>";
		window.print();
		document.body.innerHTML = originalContents;
	}

	function PrintImg() {
		var image = document.getElementById('ImageZoomID');
		printImage(image);
	}
	function PrintImgFromPage(id) {
		var image = document.getElementById(id);
		printImage(image);
	}
	function printImage(image) {
		var printWindow = window.open('', 'Print Window','height=600,width=600');
		printWindow.document.write('<html><head><title>Print Window</title>');
		printWindow.document.write('</head><body ><img src=\'');
		printWindow.document.write(image.src);
		printWindow.document.write('\' /></body></html>');
		printWindow.document.close();
		printWindow.print();
	}


	$(function () {
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>


