﻿@model SBL.DomainModel.Models.eFile.eFileAttachments
@using SBL.eLegistrator.HouseController.Web.Helpers
@using SBL.eLegistrator.HouseController.Web.Utility

@*<script src="~/assets/js/jquery-ui.min.js"></script>
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="~/Scripts/jquery-1.7.2.min.js"></script>
*@




<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="widget-box">
            <div class="widget-body">
                <div class="widget-main">
                    <div class="pass-table">
                        <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                            @if (Model.eFileAttachemts != null)
                            {
                                if (Model.eFileAttachemts.Count() > 0)
                                {                    
                                <div class="table-header">
                                    <span class="label label-lg label-yellow arrowed-right" style="height: 24px; font-weight: bold; font-size: 14px;">Inbox</span> ( Letter List )
                                </div> 
                                <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                                    <thead>
                                        <tr role="row">

                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Department</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Subject</th>
                                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Date</th>
                                        </tr>
                                    </thead>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        @foreach (var item in Model.eFileAttachemts)
                                        {
                                            int count = 0;
                                            //string deptid = "d" + item.eFileAttachmentId;

                                            //string subj = "sub" + item.eFileAttachmentId;

                                            count = count + 1;
                                   
                                            <tr style="@(item.IsDataRead == "0" ? "color:#FF0000" : "#fff")" onclick="return SearchYearsView()">
                                                <td style="@(item.IsRejected == true ? "background-color:#F781F3;" : "#fff")">@item.DepartmentName </td>
                                                @* <td style="@(item.IsRejected == true ? "background-color:#F781F3;" : "#fff")">@item.CommitteeName
                                                    <span style="display: none;" id="spnCID">@item.CommitteeId</span>

                                                </td>*@
                                                <td style="@(item.IsRejected == true ? "background-color:#F781F3;" : "#fff")">@item.Title</td>
                                                <td style="@(item.IsRejected == true ? "background-color:#F781F3;" : "#fff")">@item.CreatedDate.ToString("dd/MM/yyyy HH:mm tt")</td>
                                            </tr>
									
                                        }
                                    </tbody>
                                </table>
                    
                                }
                                else
                                {
             
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="alert alert-info">

                                            <strong>No Paper Found !!!</strong><br />


                                        </div>
                                    </div>
                                </div>
                   
                                }
                            }
                             else
                                {
                  
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="alert alert-info">

                                            <strong>No Paper Found !!!</strong><br />


                                        </div>
                                    </div>
                                </div>
                   
                                }

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<script src="~/Scripts/jquery-1.7.2.min.js"></script>*@

@*<script src="~/Scripts/jquery-1.7.2.min.js"></script> *@
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<script type="text/javascript">
  //  var $jq = jQuery.noConflict();     @*  .. add it   for dashboard sorting an d*@
    jQuery(function ($) {
            var oTable1 =
            $('#sample-table-2')
            .dataTable({
              
                //"aoColumns": [
                //   { "bSortable": false },
                //  null, null, null,
                //]
            });
     });


    function SearchYearsView() {
        $("#two-column").css("display", "block")
        $("#loader-wrapper").show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/HouseCommittee/HouseCommittee/YearsList",
            type: 'GET',
            data: '{ pageId: "1",pageSize: "25" }',
            success: function (data) {

                $("#outerDiv").html("");
                $("#outerDiv").hide();
                $("#SuccessDiv").hide();
                document.getElementById("MainDiveThreeTire").style.display = "none";
                document.getElementById("MainDiveTwoTire").style.display = "block";
                $('#divDataContainerTwoTire').empty();
                $('#divDataContainer').empty();
                $('#divDataContainer').html(data);
                $("#loader-wrapper").hide();
                $('#resize-left').width('100%');
                $('#spnScrollPosition').html('1');
                $('#resize-right').animate({ width: '0%' }, 500);
                ChangeBreadCrumbParent("House Committee", "");
                ChangeBreadCrumbChild("Received Papers", "");
                ClearControls();
                $("#MainDiveThreeTire").show();

            }
        });
    };

</script>


