﻿@using SBL.eLegistrator.HouseController.Web.Helpers
@using SBL.eLegistrator.HouseController.Web.Utility

<style type="text/css">
    #prodiv
    {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        margin-top: -9em; /*set to a negative number 1/2 of your height*/
        margin-left: -15em; /*set to a negative number 1/2 of your width*/
        background-color: #f3f3f3;
    }
</style>


<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lte IE 8]>
		<script src="~/assets/js/html5shiv.js"></script>
		<script src="~/assets/js/respond.min.js"></script>
		<![endif]-->





<div class="row">
    <div class="col-xs-12" style="min-height: 800px;">
        <!-- PAGE CONTENT BEGINS -->
        <div class="widget-box">
            @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
            {
                <div class="widget-header">

                    <span id="designationText" class="hspan"></span>

                    <div class="widget-toolbar">
                        <div class="input-group">
                            <label>
                                Select Years

                                    <select name="PapersId" id="PapersId">
                                        <option value="1" selected>--My Papers--</option>
                                        <option value="2">--All Papers--</option>

                                    </select>
                                @*	<select id="YearID" class="chosen-select input-sm " name="ModuleID" data-placeholder="--select a Years--">
										
									</select>*@
                            </label>
                            <button class="btn btn-xs btn-primary btn-bold" type="button" onclick="getList()">
                                <i class="ace-icon fa fa-search bigger-150"></i>
                                <span class="bigger-110">Search</span>
                            </button>
                        </div>
                    </div>
                </div>
            }
            <div class="widget-body">
                <div class="widget-main">
                    <div class="pass-table">
                        <div id="totalmsg" style="display: none;">
                            <div class="alert alert-info">
                                <span id="othermsg">Testing msg</span>   <strong id="ttlmsg">0</strong>
                                <br />
                            </div>
                        </div>
                        <div id="tablecontainer">
                        </div>

                        <!-- PAGE CONTENT ENDS -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.page-content -->

	<div id="selectDesignatioMsg" style="visibility: hidden;">
        @*<div class="alert alert-info">

			<strong>Information </strong>

			Please Select a Member and Date to Get  Report.
										<br/>
		</div>*@
    </div>
<!-- /.main-content -->





<!-- ace scripts -->

@*<script src="~/assets/js/CommonNotify.js"></script>*@

<script>

    $(document).ready(function () {
        getList();
        $("#searchcriteriavalueDiv").hide();
        $("#tablecontainer").html($("#selectDesignatioMsg").html());

    });
    try {
        $('.chosen-select').chosen({ allow_single_deselect: true });
        //resize the chosen on window resize
        $(window).on('resize.chosen', function () {

            $('.chosen-select').next().css({ 'width': '300px' });
        }).trigger('resize.chosen');
    }
    catch (error) {
    }
    try {
        $('#chosen-multiple-style').on('click', function (e) {
            var target = $(e.target).find('input[type=radio]');
            var which = parseInt(target.val());
            if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
            else $('#form-field-select-4').removeClass('tag-input-style');
        });
    }
    catch (error) {
    }

    function getList() {
        var PapersId = $("#PapersId option:selected").val();
        $("#loader-wrapper").show();

        var pathurl = "@Url.Action("GetReceivePaperList", "HouseCommittee")";
	    $.ajax({
	        url: pathurl,
	        type: 'GET',
	        data: { pageId: "1", pageSize: "25", PapersId: PapersId },
	        success: function (data) {
	            $("#tablecontainer").html("");
	            $("#tablecontainer").html(data);
	            $("#loader-wrapper").hide();

	        }
	    });
    }

    function RPaperList() {
        $("#two-column").css("display", "block")
        $("#loader-wrapper").show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/HouseCommittee/HouseCommittee/GetReceivePaperList",
            type: 'GET',
            data: '{ pageId: "1",pageSize: "25" }',
            success: function (data) {

                $("#outerDiv").html("");
                $("#outerDiv").hide();
                $("#SuccessDiv").hide();
                document.getElementById("MainDiveThreeTire").style.display = "none";
                document.getElementById("MainDiveTwoTire").style.display = "block";
                $('#divDataContainerTwoTire').empty();
                $('#divDataContainer').empty();
                $('#divDataContainer').html(data);
                $("#loader-wrapper").hide();
                $('#resize-left').width('100%');
                $('#spnScrollPosition').html('1');
                $('#resize-right').animate({ width: '0%' }, 500);
                ChangeBreadCrumbParent("Correspondence", "");
                ChangeBreadCrumbChild("Send Paper", "");
                ClearControls();
                $("#MainDiveThreeTire").show();

            }
        });
    };


</script>

<script>


    function getEFileAttached(id) {
        if (id != null && id != 0) {

            $("#loader-wrapper").show();
            $.ajax({
                url: "/HouseCommittee/HouseCommittee/_eFileViewByIDAttached",
                type: 'GET',
                data: {
                    DepartmentName: '',
                    eFileNumber: '',
                    eFileSubject: '',
                    eFileID: id,
                    CommitteeId: 0
                },
                success: function (data) {
                    if (data) {
                        $("#dlgeFileDetails").modal('show');
                        $("#divAttachedeFileDetails").html("");
                        $("#divAttachedeFileDetails").html(data);
                        $("#loader-wrapper").hide();
                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });
        }
    }


    function getefileid(ele) {

        $("#hdnefileid").val(ele);
    }

    function AddToList(chkid, efileattid) {


        var status = $('#' + chkid + '').is(':checked');

        if (status == true) {
            var eids = efileattid + ',';
            $('#efileids').append(eids);

        }
        else {

            var a = $('#efileids').html();
            var b = a.replace(efileattid + ',', " ");
            $('#efileids').empty();
            $('#efileids').append(b);

        }

    }
    $("#chkSelAll").click(function (e) {

        var status = $("#chkSelAll").prop('checked');
        var checkboxes = document.getElementsByClassName("chkp");
        if (status == true) {
            $('#efileids').html('');

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                    if (checkboxes[i].checked = true) {
                        AddToList(checkboxes[i].id, checkboxes[i].name)
                    }
                }
            }
        }
        else {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;

                }
            }
            $('#efileids').empty();
            $('#efileids').html('');

        }
    });



    $("#ddleFile").change(function () {
        var a = $(this).val();
        if (a == 0) {
            var v = $("#hdnAttachtoefile").val();
            if (v == 'Attach') {
                $("#divOR").hide();
                $("#chkrecv").hide();
            }
            else {
                $("#divOR").show(300);
                $("#chkrecv").show(300);
            }
        }
        else {

            $("#divOR").hide(300);
            $("#chkrecv").hide(300);
        }
    });

    function openModal(id, ele) {
        if (ele == 'N') {
            $("#chkrecv").hide();
            $("#divOR").hide();
            $("#hdnAttachtoefile").val("Attach");
        }
        else if (ele == 'Y') {
            $("#chkrecv").show();
            $("#divOR").show();
            $("#hdnAttachtoefile").val("RECVAttach");

        }
        $("#btnRecvMul").hide();
        $("#btnRecv").show();
        $("#divMsgBox").hide();
        $("#hdnefileattid").val(id)
        $("#dlgRecipientGroupModel").modal('show')

    }
    $("#chkboxreceive").change(function () {
        if ($(this).prop('checked')) {
            $("#divattachefile").hide(300);
            $("#divOR").hide(300);
        }
        else {
            $("#divattachefile").show(300);
            $("#divOR").show(300);
        }

    });

    function UpdateReceive() {

        var chkstatus = $("#chkboxreceive").is(":checked");
        var eFileID = 0;
        if (chkstatus == true) {
            eFileID = 0;
        }
        else {
            var ddval = $("#ddleFile").val();
            if (ddval.length > 0)
            { eFileID = $("#ddleFile").val(); } else {

                var dlg = bootbox.alert("No eFile Found.", function (e) {
                    $(dlg).modal('hide');
                });
                return;
            }

        }


        $("#loader-wrapper").show();

        var Url = '@Url.Action("SaveReceivePaperSingle", "eFile", new { Area = "eFile" })';
        $.ajax({
            url: Url,
            type: 'POST',
            data: {
                eFileAttachId: $("#hdnefileattid").val(),
                eFielId: eFileID
            },
            success: function (data) {
                if (data) {
                    ReceivePaperList();
                    $("#loader-wrapper").hide();
                    var dlg = bootbox.alert(data, function (e) {
                        $(dlg).modal('hide');
                    });
                    //$("#dlgRecipientGroupModel").modal('show');
                    //$("#divattachefile").hide(300);
                    //$("#divOR").hide(300);
                    //$("#chkboxreceive").hide(300);
                    //$("#divMsgBox").show(300);



                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });

    }

    function ReplyPaper(efileattid, refno, Deptid, officeid, doctypeid, linkrefno, papernature) {
        $("#loader-wrapper").show();
        debugger;
        var Url = '@Url.Action("ReplyPaperSingle", "eFile", new { Area = "eFile" })';
        $.ajax({
            url: Url,
            type: 'GET',
            data: {
                eFileAttachmentId: efileattid,
                PaperRefNo: refno,
                DepartmentId: Deptid,
                OfficeCode: officeid,
                DocumentTypeId: doctypeid,
                LinkedRefNo: linkrefno,
                PaperNature: papernature
            },
            success: function (data) {
                if (data) {
                    $('#resize-left').width('50%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '50%' }, 500);


                    $("#RightSidebar").html("");
                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();
                }
            },
            complete: function (obj) {
                Initializefileupload();
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });
    }

    function openModalMul(id, ele) {

        if (ele == 'M') {
            $("#chkrecv").hide();
            $("#divOR").hide();
            $("#btnRecvMul").show();
            $("#btnRecv").hide();
        }
        else {
            $("#chkrecv").show();
            $("#divOR").show();
            $("#btnRecvMul").hide();
            $("#btnRecv").show();
        }
        $("#divMsgBox").hide();

        var a = $('#efileids').html();
        if (a.toString().trim().length == 0) {
            var dlg = bootbox.alert("No Paper has been selected", function (e) {
                $(dlg).modal('hide');
            });
            return;
        }
        $("#hdnefileattid").val(a)
        $("#dlgRecipientGroupModel").modal('show')


    }





    function PaperDraftFileMultiple() {
        var a = $('#efileids').html();

        $("#loader-wrapper").show();
        var Url = '@Url.Action("DraftPapers", "HouseCommittee", new { Area = "HouseCommittee" })';
        $.ajax({
            url: Url,
            type: 'POST',
            data: {
                eFileAttIds: a,
            },
            success: function (data) {
                if (data) {
                    RPaperList();
                    $("#loader-wrapper").hide();
                    var dlg = bootbox.alert(data, function (e) {
                        $(dlg).modal('hide');
                    });

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });

    }

    function RPaperList() {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/HouseCommittee/HouseCommittee/GetReceivePaperList",
            type: 'GET',
            data: '{ pageId: "1",pageSize: "25" }',
            success: function (data) {
                if (data) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').html(data);
                    $("#loader-wrapper").hide();
                    $('#resize-left').width('100%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '0%' }, 500);
                    ChangeBreadCrumbParent("Correspondence", "");
                    ChangeBreadCrumbChild("Receive Paper", "");
                    $("#MainDiveThreeTire").show();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }


    function AttachToeFileMultiple() {

        $("#loader-wrapper").show();

        var Url = '@Url.Action("AttachPaperToeFileMultipleR", "eFile", new { Area = "eFile" })';
        $.ajax({
            url: Url,
            type: 'POST',
            data: {
                eFileAttIds: $("#hdnefileattid").val(),
                eFielId: $("#hdnefileid").val()
            },
            success: function (data) {
                if (data) {
                    ReceivePaperList();
                    $("#loader-wrapper").hide();
                    var dlg = bootbox.alert(data, function (e) {
                        $(dlg).modal('hide');
                    });

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });

    }
    function ReceivePaper() {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/HouseCommittee/HouseCommittee/NewReceivePaper",
            type: 'GET',
            data: {},
            success: function (data) {
                if (data) {

                    $('#resize-left').width('50%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '50%' }, 500);

                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            },
            complete: function (obj) {
                Initializefileupload();
                InitializefileuploadWord();
            }
        });

    }


    function myFunction() {
        var x;
        if (confirm("Press a button!") == true) {
            x = "You pressed OK!";
        } else {
            x = "You pressed Cancel!";
        }
        document.getElementById("demo").innerHTML = x;
    }




    function GetBranch(ID) {
        $("#loader-wrapper").show();
        var pathurl = '@Url.Action("BranchModel", "HouseCommittee")';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                Id: ID,
                Type: "Recieved"
            },
            success: function (data) {
                $("#loader-wrapper").hide();
                $('#ShowfullDetailsModel').html("");
                $('#ShowfullDetailsModel').html(data);

                var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Create Movement",
                    width: 600,
                    title_html: true,
                    buttons: [
                        {
                            text: "OK",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

            }
        });
    }

    function DisplayModalPopup() {
        $('#modalMsg').show();
        document.getElementById("overlay").className = "OverlayEffect";
        document.getElementById("modalMsg").className = "ShowModal";

    }
    function RemoveModal() {
        document.getElementById("overlay").className = "";
        $('#modalMsg').hide();
    }

    function CancelAttachemnt() {
        document.getElementById("overlay").className = "";
        $('#modalMsgAttachment').hide();
    }
    function DisplayModaleNoting(Path, ID) {
        //alert(Path)
        //alert(ID)
        $("#loader-wrapper").show();

        $.ajax({
            url: "/HouseCommittee/HouseCommittee/Test",
            type: 'GET',
            data: {
                Path: Path,
                eFileattachedId: ID,
            },
            success: function (data) {
                if (data) {

                    $('#modalMsg').show("slow");
                    document.getElementById("overlay").className = "OverlayEffect";
                    document.getElementById("modalMsg").className = "ShowModal";

                    $("#modalMsg").html(data);
                    //$("#testId").animate({ scrollTop: 0 }, "fast");
                    $('body, html, #modalMsg').scrollTop(-10);
                    $("#loader-wrapper").hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }

    function DisplayNotAuthorize() {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/HouseCommittee/HouseCommittee/ForNotAuthorize",
            type: 'GET',
            data: {
                //Path: Path,
                //eFileattachedId: ID,
            },
            success: function (data) {
                if (data) {

                    $('#modalMsg').show("slow");
                    document.getElementById("overlay").className = "OverlayEffect";
                    document.getElementById("modalMsg").className = "ShowModal";
                    $("#modalMsg").html(data);
                    $('body, html, #modalMsg').scrollTop(-10);
                    $("#loader-wrapper").hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }

    //Transfer Papers for Meetings
    function TransferPapers() {

        var a = $('#efileids').html();

        if (a.toString().trim().length == 0) {
            var dlg = bootbox.alert("No Paper has been selected", function (e) {

            });
            return;
        }
        $("#hdnefileattid").val(a)
        var hiddenValues = $('#efileids').html();
        $.ajax({
            url: "/HouseCommittee/HouseCommitteePapersMeetings/GetSelectedPaperListForTransfer",
            type: 'GET',
            data: { papersIds: hiddenValues, PaperType: 'Recieved' },
            success: function (data) {
                if (data) {
                    alert("Papers Transfer Successfully!!");
                    ReceivePaperList();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }

</script>
