﻿@using SBL.eLegistrator.HouseController.Web.Helpers
@using SBL.eLegistrator.HouseController.Web.Utility

<style type="text/css">
	#prodiv {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100px;
		height: 100px;
		margin-top: -9em; /*set to a negative number 1/2 of your height*/
		margin-left: -15em; /*set to a negative number 1/2 of your width*/
		background-color: #f3f3f3;
	}
</style>


<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

<!--[if lte IE 8]>
		<script src="~/assets/js/html5shiv.js"></script>
		<script src="~/assets/js/respond.min.js"></script>
		<![endif]-->

	
	
		
   
		<div class="row">
			<div class="col-xs-12" style="min-height: 800px;">
				<!-- PAGE CONTENT BEGINS -->
				<div class="widget-box">
                    @if (Convert.ToInt32(CurrentSession.OfficeLevel) != 2 && ((Convert.ToInt32(CurrentSession.SubUserTypeID) != 2) || Convert.ToInt32(CurrentSession.SubUserTypeID) != 3))
                                {
					<div class="widget-header">
						
						<span id="designationText" class="hspan"></span>

						<div class="widget-toolbar">
							<div class="input-group">
								<label >
								Select Years

                                    <select name="PapersId" id="PapersId">
                                        <option value="1" selected>--My Papers--</option>
                                        <option value="2">--All Papers--</option>
                                                                     
                                    </select>
								@*	<select id="YearID" class="chosen-select input-sm " name="ModuleID" data-placeholder="--select a Years--">
										
									</select>*@
							</label>
								<button class="btn btn-xs btn-primary btn-bold" type="button" onclick="getList()">
									<i class="ace-icon fa fa-search bigger-150"></i>
									<span class="bigger-110">Search</span>
								</button>	
								</div>
						</div>
					</div>
                    }
					<div class="widget-body">
						<div class="widget-main">
							<div class="pass-table">
							<div id="totalmsg" style="display:none;">
		<div class="alert alert-info">
		 <span id="othermsg">Testing msg</span>   <strong id="ttlmsg"> 0</strong>
										<br/>
		</div>
	</div>
								<div id="tablecontainer">
								</div>
								
								<!-- PAGE CONTENT ENDS -->
							</div>
						</div>
					</div>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.page-content -->

	<div id="selectDesignatioMsg" style="visibility: hidden;">
		@*<div class="alert alert-info">

			<strong>Information </strong>

			Please Select a Member and Date to Get  Report.
										<br/>
		</div>*@
	</div>
	<!-- /.main-content -->

	



<!-- ace scripts -->

@*<script src="~/assets/js/CommonNotify.js"></script>*@

<script>


    $(document).ready(function () {
        getList();
        $("#searchcriteriavalueDiv").hide();
        $("#tablecontainer").html($("#selectDesignatioMsg").html());

    });

	try {
		$('.chosen-select').chosen({ allow_single_deselect: true });
		//resize the chosen on window resize
		$(window).on('resize.chosen', function () {
		
			$('.chosen-select').next().css({ 'width': '300px' });
		}).trigger('resize.chosen');
	}
	catch (error) {
	}
	try {
		$('#chosen-multiple-style').on('click', function (e) {
			var target = $(e.target).find('input[type=radio]');
			var which = parseInt(target.val());
			if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
			else $('#form-field-select-4').removeClass('tag-input-style');
		});
	}
	catch (error) {
	}
	
	function getList() {
	    $("#loader-wrapper").show();
	    var PapersId = $("#PapersId option:selected").val();


	    var pathurl = "@Url.Action("GetSendPaperList", "HouseCommittee")";
    	    $.ajax({
    	        url: pathurl,
    	        type: 'GET',
    	        data: { pageId: "1", pageSize: "25", PapersId: PapersId },
    	        success: function (data) {
    	            $("#tablecontainer").html("");
    	            $("#tablecontainer").html(data);
    	            $("#loader-wrapper").hide();

    	        }
    	    });
        }

    function RPaperList() {
        $("#two-column").css("display", "block")
        $("#loader-wrapper").show();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/HouseCommittee/HouseCommittee/GetReceivePaperList",
            type: 'GET',
            data: '{ pageId: "1",pageSize: "25" }',
            success: function (data) {

                $("#outerDiv").html("");
                $("#outerDiv").hide();
                $("#SuccessDiv").hide();
                document.getElementById("MainDiveThreeTire").style.display = "none";
                document.getElementById("MainDiveTwoTire").style.display = "block";
                $('#divDataContainerTwoTire').empty();
                $('#divDataContainer').empty();
                $('#divDataContainer').html(data);
                $("#loader-wrapper").hide();
                $('#resize-left').width('100%');
                $('#spnScrollPosition').html('1');
                $('#resize-right').animate({ width: '0%' }, 500);
                ChangeBreadCrumbParent("Correspondence", "");
                ChangeBreadCrumbChild("Send Paper", "");
                ClearControls();
                $("#MainDiveThreeTire").show();
           
            }
        });
    };

   
    function GetBranch(ID) {

        $("#loader-wrapper").show();
        var pathurl = '@Url.Action("BranchModel", "HouseCommittee")';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                Id: ID,
                Type: "Sent"
            },
            success: function (data) {
                $("#loader-wrapper").hide();
                $('#ShowfullDetailsModel').html("");
                $('#ShowfullDetailsModel').html(data);

                var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Create Movement",
                    width: 600,
                    title_html: true,
                    buttons: [
                        {
                            text: "OK",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

            }
        });
    }
</script>

<script>

    function getEFileAttached(id) {
        if (id != null && id != 0) {

            $("#loader-wrapper").show();
            $.ajax({
                url: "/eFile/eFile/_eFileViewByIDAttached",
                type: 'GET',
                data: {
                    DepartmentName: '',
                    eFileNumber: '',
                    eFileSubject: '',
                    eFileID: id,
                    CommitteeId: 0
                },
                success: function (data) {
                    if (data) {
                        $("#dlgeFileDetails").modal('show');
                        $("#divAttachedeFileDetails").html("");
                        $("#divAttachedeFileDetails").html(data);
                        $("#loader-wrapper").hide();
                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });
        }
    }


    $("#chkSelAll").click(function (e) {

        var status = $("#chkSelAll").prop('checked');
        var checkboxes = document.getElementsByClassName("chkp");

        if (status == true) {
            $('#efileids').html('');

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                    if (checkboxes[i].checked = true) {
                        AddToList(checkboxes[i].id, checkboxes[i].name)
                    }
                }
            }
        }
        else {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;

                }
            }
            $('#efileids').empty();
            $('#efileids').html('');

        }
    });
    function getefileid(ele) {

        $("#hdnefileid").val(ele);
    }
    function AddToList(chkid, efileattid) {


        var status = $('#' + chkid + '').is(':checked');
        if (status == true) {
            var eids = efileattid + ',';
            $('#efileids').append(eids);
        }
        else {

            var a = $('#efileids').html();
            var b = a.replace(efileattid + ',', " ");
            $('#efileids').empty();
            $('#efileids').append(b);
        }

    }
    function openModalMul(id, ele) {

        if (ele == 'M') {
            $("#chkrecv").hide();
            $("#divOR").hide();
            $("#btnRecvMul").show();
            $("#btnRecv").hide();
        }
        else {
            $("#chkrecv").show();
            $("#divOR").show();
            $("#btnRecvMul").hide();
            $("#btnRecv").show();
        }
        $("#divMsgBox").hide();

        var a = $('#efileids').html();

        if (a.toString().trim().length == 0) {
            var dlg = bootbox.alert("No Paper has been selected", function (e) {
                $(dlg).modal('hide');
            });
            return;
        }
        $("#hdnefileattid").val(a)
        $("#dlgRecipientGroupModel").modal('show')


    }
    function AttachToeFileMultiple() {

        $("#loader-wrapper").show();

        var Url = '@Url.Action("AttachPaperToeFileMultiple", "eFile", new { Area = "eFile" })';
        $.ajax({
            url: Url,
            type: 'POST',
            data: {
                eFileAttIds: $("#hdnefileattid").val(),
                eFielId: $("#hdnefileid").val()
            },
            success: function (data) {
                if (data) {
                    SendPaperList();
                    $("#loader-wrapper").hide();
                    var dlg = bootbox.alert(data, function (e) {
                        $(dlg).modal('hide');
                    });

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });

    }

    function SendPaper() {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/eFile/eFile/NewSendPaper",
            type: 'GET',
            data: {},
            success: function (data) {
                if (data) {

                    $('#resize-left').width('50%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '50%' }, 500);

                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            },
            complete: function (obj) {
                Initializefileupload();
                InitializefileuploadWord();
            }
        });

    }

</script>


<script type="text/javascript">
    function PopUpSendSMSDiv(FileId) {
        $("#hdnFileAttachmentId").val(FileId);
        $("#RefNo").hide();
        $("#RightMemberLists").empty();
        $("#LeftGroupLists").empty();
        $('#form-field-select-1').val('N');
        $('#dlgSendRecipientGroupModel').modal('show');
    }
    function getgroups(ele) {

        var grpval = $('#form-field-select-1 option:selected').val();

        var pathUrl;
        if (grpval == "N") {
            var dlg = bootbox.alert('Please Select Group', function (e) {
                $(dlg).modal('hide');
            });
            $('#LeftGroupLists').empty();
            return;

        }
        else if (grpval == "G") {
            pathUrl = "/Notices/OnlineMemberQuestions/GenericGroups";
        }
        var pathUrl =
		$.ajax({
		    type: "GET",
		    url: pathUrl,
		    data: {},

		    success: function (data) {
		        $("#LeftGroupLists").empty();
		        $("#LeftGroupLists").append(data);
		        $("#loader-wrapper").hide();
		        var checkboxes = document.getElementsByClassName("ace");
		        if (checkboxes.length > 0) {
		            $('#chkAllMembers').show();
		            $('#spnGroupmember').html('Select Recipients For SMS..');
		        }
		        else {
		            $('#chkAllMembers').hide();
		            $('#spnGroupmember').html('Select Recipients For SMS..');
		        }
		        $('#RightMemberLists').empty();
		        $('#RightMemberLists').html('');

		        $('#mailids').html('');
		        $('#divSelectedMembers').html('');
		        Count = 1;
		    }
		});
    }

    function GetmembetsDetPartial(Chkid, CHkvalue) {

        $('#chkAllMembers').prop("checked", false);
        var chkboxGroups = $("#" + Chkid).prop('checked');

        if (chkboxGroups == true) {
            $("#loader-wrapper").show();
            $.ajax({
                type: "GET",
                url: "/Notices/OnlineMemberQuestions/GetMembersPartial",
                data: { GroupID: CHkvalue },

                success: function (data) {
                    //$("#RightMemberLists").empty();
                    $("#RightMemberLists").append(data);
                    $("#loader-wrapper").hide();
                    var checkboxes = document.getElementsByClassName("ace");
                    if (checkboxes.length > 0) {
                        $('#chkAllMembers').show();
                        $('#spnGroupmember').html('Select Recipients For SMS..');
                    }
                    else {
                        $('#chkAllMembers').hide();
                        $('#spnGroupmember').html('Select Recipients For SMS..');
                    }
                }
            });
        }
        else {


            $("#RightMemberLists").empty();
            var checkboxes = document.getElementsByName("chkgroupbox");
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {

                    if (checkboxes[i].checked == true) {
                        GetmembetsDetPartial(checkboxes[i].id, checkboxes[i].value);
                    }
                }
            }
        }

    }


    function SendSmsToAllMembers() {
        //var a = $('#spnLeft').html();


        //if (a <= 0) {
        //    var dlg = bootbox.alert('Message Limit is Over.Please Conatct to Admin.', function (e) {
        //        $(dlg).modal('hide');
        //    });
        //    return;
        //}
        debugger;
        var mobilenos = $('#MobileNo').html();
        var mailids = $('#mailids').html();
        var FileAttachmentId = $("#hdnFileAttachmentId").val();
        $("#loader-wrapper").show();

        $.ajax({
            url: "/eFile/eFile/SendPubishedTourSMS",
            type: 'POST',
            data: JSON.stringify({
                MobileNos: mobilenos,
                FileAttachmentId: FileAttachmentId,
                EmailIds: mailids
            }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //GetSMSLimit();
                //GetSpentSSMS();

                $('#divSelectedMembers').html('');
                $('#RightMemberLists').html('');
                $('#mailids').html('');
                $('#MobileNo').html('');

                var radios = document.getElementsByName("form-field-radio");
                for (var i = 0; i < radios.length; i++) {
                    if (radios[i].type == 'radio') {
                        radios[i].checked = false;

                    }
                }

                var dlg = bootbox.alert(data, function (e) {
                    $(dlg).modal('hide');
                });

                $("#loader-wrapper").hide();

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
            },
            complete: function (obj) {
                $('#dlgSendRecipientGroupModel').modal('hide');
                SendPaperList();
            }
        });
    }

    function getmemberdata(id, name, Mobile, Email) {
        debugger;
        if (Count > 1000) {
            var dlg = bootbox.alert('Max. limit 1000.', function (e) {
                $(dlg).modal('hide');
            });
            return;
        }
        var n = name + ',';
        if (Mobile.trim().length > 0) {
            var Mobiles = Mobile + ',';
        }



        var IsValid = true;
        var ifExists = false;
        if ($('#' + id + '').is(':checked')) {

            IsValid = true;
            for (var i = 1; i <= Count; i++) {
                var value = $('#hdnNum-' + i).val();
                if (Mobile == value) {
                    ifExists = true;
                }
            }
        } else {
            IsValid = false;
        }
        //for (var i = 1; i <= Count; i++) {
        //	var value = $('#hdnNum-' + i).val();
        //	if (mailid == value) {
        //		IsValid = false;

        //	}
        //}
        if (ifExists == false) {
            if (IsValid == true) {
                if (Mobile.trim().length > 0) {
                    var a = ' <span class="tag" >' + name + '' +
					'<input type="hidden" id="hdnNum-' + Count + '" value="' + Mobile + '" class="hdnmembers" />' +
					'<button class="close" value="' + id + '" type="button" id="' + Mobile + '" title="Remove" >×</button>' +
					'</span> ';
                }
                if (document.getElementById(id).checked) {
                    $('#divSelectedMembers').append(a);
                    // adding mobiles
                    if (Email.trim().length > 0) {
                        $('#mailids').append(Email + ",");
                    }
                    $('#MobileNo').append(Mobiles);
                }
                Count++;
            }
            else {
                var a = $('#MobileNo').html();
                var b = a.replace(Mobile + ',', " ");
                $('#MobileNo').empty();
                $('#MobileNo').append(b);
                if (Email.trim().length > 0) {

                    var c = $('#mailids').html();
                    var d = c.replace(Email + ',', " ");
                    $('#mailids').empty();
                    $('#mailids').append(d);
                }
                $('#' + Mobile + '').parent().remove();
                Count--;
            }
        }
        //else{
        //	var a = $('#mailids').html();
        //	var b = a.replace(mailid + ',', " ");
        //	$('#mailids').empty();
        //	$('#mailids').append(b);

        //	$('#' + mailid + '').parent().remove();


        //	Count--;
        //}

        $('#MobileNo').hide();

    }

   

    function PaperDraftFileMultiplesent() {
       
        var a = $('#efileids').html();

        $("#loader-wrapper").show();
        var Url = '@Url.Action("DraftPapersSent", "HouseCommittee", new { Area = "HouseCommittee" })';
        $.ajax({
            url: Url,
            type: 'POST',
            data: {
                eFileAttIds: a,
            },
            success: function (data) {
                if (data) {
                    SendPaperList();
                    $("#loader-wrapper").hide();
                    var dlg = bootbox.alert(data, function (e) {
                        $(dlg).modal('hide');
                    });

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });

    }

    function SendPaperList() {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/HouseCommittee/HouseCommittee/GetSendPaperList",
            type: 'GET',
            data: '{ pageId: "1",pageSize: "25" }',
            success: function (data) {
                if (data) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').html(data);
                    $("#loader-wrapper").hide();
                    $('#resize-left').width('100%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '0%' }, 500);
                    ChangeBreadCrumbParent("Correspondence", "");
                    ChangeBreadCrumbChild("Send Paper", "");
                    $("#MainDiveThreeTire").show();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }
    //Transfer Papers for Meetings
    function TransferPapers() {

        var a = $('#efileids').html();

        if (a.toString().trim().length == 0) {
            var dlg = bootbox.alert("No Paper has been selected", function (e) {

            });
            return;
        }
        $("#hdnefileattid").val(a)
        var hiddenValues = $('#efileids').html();
        $.ajax({
            url: "/HouseCommittee/HouseCommitteePapersMeetings/GetSelectedPaperListForTransfer",
            type: 'GET',
            data: { papersIds: hiddenValues, PaperType: 'Recieved' },
            success: function (data) {
                if (data) {
                    alert("Papers Transfer Successfully!!");
                    ReceivePaperList();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }
    function DisplayModaleNoting(Path, ID) {
        //alert(Path)
        //alert(ID)
        $("#loader-wrapper").show();

        $.ajax({
            url: "/HouseCommittee/HouseCommittee/Test",
            type: 'GET',
            data: {
                Path: Path,
                eFileattachedId: ID,
            },
            success: function (data) {
                if (data) {

                    $('#modalMsg').show("slow");
                    document.getElementById("overlay").className = "OverlayEffect";
                    document.getElementById("modalMsg").className = "ShowModal";

                    $("#modalMsg").html(data);
                    //$("#testId").animate({ scrollTop: 0 }, "fast");
                    $('body, html, #modalMsg').scrollTop(-10);
                    $("#loader-wrapper").hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }

    function DisplayNotAuthorize() {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/HouseCommittee/HouseCommittee/ForNotAuthorize",
            type: 'GET',
            data: {
                //Path: Path,
                //eFileattachedId: ID,
            },
            success: function (data) {
                if (data) {

                    $('#modalMsg').show("slow");
                    document.getElementById("overlay").className = "OverlayEffect";
                    document.getElementById("modalMsg").className = "ShowModal";
                    $("#modalMsg").html(data);
                    $('body, html, #modalMsg').scrollTop(-10);
                    $("#loader-wrapper").hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }
    function SendReceivePaper() {
        $("#loader-wrapper").show();
        $.ajax({
            url: "/HouseCommittee/HouseCommittee/NewSendPaperCreate",
            type: 'GET',
            data: {},
            success: function (data) {
                if (data) {

                    $('#resize-left').width('50%');
                    $('#spnScrollPosition').html('1');
                    $('#resize-right').animate({ width: '50%' }, 500);

                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            },
            complete: function (obj) {
                Initializefileupload();
                InitializefileuploadWord();
            }
        });

    }


    function DetailsQSent(DId) {

        $("#loader-wrapper").show();
        var pathurl = '@Url.Action("GetDetailsList", "HouseCommittee")';
        $.ajax({
            type: 'GET',
            url: pathurl,
            data: {
                DraftId: DId
            },
            success: function (data) {
                $("#loader-wrapper").hide();
                $('#ShowfullDetailsModel').html("");
                $('#ShowfullDetailsModel').html(data);

                var dialog = $("#fullDetailsModel").removeClass('hide').dialog({
                    resizable: false,
                    modal: true,
                    title: "Create Movement",
                    width: 1000,

                    title_html: true,
                    buttons: [
                        {
                            text: "OK",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });

            }
        });
    }

    //function DetailsQSent(DId) {
    //    $("#loader-wrapper").show();
    //    $.ajax({
    //        url: "/HouseCommittee/HouseCommittee/GetDetailsList",
    //        type: 'GET',
    //        data: {
    //            DraftId: DId,
    //        },

    //        success: function (data) {
    //            $("#DairyWise").slideDown("slow", function () {
    //            });
    //            $("#loader-wrapper").hide();
    //            $('#DairyWise').removeClass('hide');
    //            $("#DairyWise").show();
    //            $('#DairyWise').html(data);
    //            $("#ViewListWise").hide();
    //            $("#MoblieWise").hide();
    //            $("#TxtMob").val("");
    //            $("#txtUserName").val("");
    //            $("#txtAddressLocations").val("");

    //        },
    //        error: function (xhr, ajaxOptions, thrownError) {
    //            alert(xhr.status);
    //            alert(thrownError);
    //        }
    //    });
    //}
</script>
