﻿@using SBL.eLegistrator.HouseController.Web.Helpers
@using SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models
@using SBL.DomainModel.Models.Enums
@model  List<SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models.AuthorityLetterViewModel>
@{ int count = 0;}

<div class="pass-table">
    @if (Model != null)
    {
        if (Model.Count() > 0)
        {       
        <div class="table-header">
            <div class="form-group">
                @if (ViewBag.Msg != null)
                {
                    <div class="alert alert-info" id="MsgDiv">
                        <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
                        <strong><i class="ace-icon fa fa-check-square-o"></i>Success! </strong>@ViewBag.Msg
                    </div>
                }

            </div>
        </div>             
        <table class="table table-striped table-bordered table-hover dataTable" id="tblAuthorizeLetter" aria-describedby="sample-table-2_info">
            <thead>
                <tr role="row">
                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.EncashmentDate</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.LetterType</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.BillIds</th>
                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Action</th>
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                @foreach (var item in Model)
                {
                    count = count + 1;  
                    <tr>
                        <td class="center">
                            @count
                        </td>
                        <td style="width: 30%">@item.EncashmentDate.ToString("dd/MMM/yyyy")</td>
                        <td style="width: 30%">
                            @ModelMapping.GetDescription((AuthorityLetterType)int.Parse(item.LetterType))

                        </td>
                        <td style="width: 30%">
                            @if (item.BillNumbers == "undefined" || item.BillNumbers == "")
                            {  <span>NA</span>
                       
                            }
                            else
                            {     @item.BillNumbers
                           
                            }
                        </td>


                        <td class="center" style="width: 10%">

                            <div class="hidden-sm hidden-xs action-buttons">
                                @if (item.IsActive)
                                {
                                    <text>
                                    @{
                                    string Url = string.Format("/AuthorityLetter/{0}/{1}", ModelMapping.GetDescription((AuthorityLetterType)int.Parse(item.LetterType)), item.FileName);
                                    }
                                    </text>
                                    <a data-rel="tooltip" class="green tooltip-success btn btn-xs btn-warning" title="Authority Letter"  target="_blank" href="@Url">View Authority Letter
                                    </a>
                                    
                                                     
                                    <br />
                                    <a data-rel="tooltip" class="green tooltip-success DeleteAL btn btn-xs btn-danger" title="Delete Authorize Letter"  onclick="DeleteAuthorityLetter(@item.AuthorityLetterID);"  id="@item.AuthorityLetterID" href="#">Delete Authorize Letter
                                    </a>
                                    <br />
                                    <a data-rel="tooltip" class="green tooltip-success  btn btn-xs btn-error" title="Generate RTGS Soft "  onclick="DownloadRTGSNotepad('@item.BillIds');"  id="btnRTGS" href="#">Generate RTGS Soft 
                                    </a>
                                    <br />
                                    <a data-rel="tooltip" class="green tooltip-success  btn btn-xs btn-success" title="Generate Confirmation Letter "  onclick="DownloadConfirmationLetter('@item.BillIds');"  id="btnConfirmationLetter" href="#">Confirmation Letter 
                                    </a>
                                }
                                else
                                {
                                    <a data-rel="tooltip" class="green tooltip-success btn btn-xs btn-warning" title="Authority Letter"  target="_blank" href="/AccountsAdmin/AuthorityLetter/ViewAuthorityLetter/@item.AuthorityLetterID">View Authority Letter
                                    </a>
                                }
                                <br />

                            </div>
                            <div class="hidden-md hidden-lg">

                                <div class="inline position-relative">
                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                                        @if (item.IsActive)
                                        {
                                            
                                           
                                                     
                                            <li>
                                                <a data-rel="tooltip" class="green tooltip-success btn btn-xs btn-warning" title="Authority Letter"  target="_blank" href="@Url">View Authority Letter
                                                </a></li>
                                            <li><a data-rel="tooltip" class="green tooltip-success DeleteAL btn btn-xs btn-danger" title="Delete Authorize Letter" onclick="DeleteAuthorityLetter(@item.AuthorityLetterID);"  id="@item.AuthorityLetterID" href="#">Delete Authorize Letter
                                            </a></li>
                                            <li><a data-rel="tooltip" class="green tooltip-success  btn btn-xs btn-error" title="Generate RTGS Soft "  onclick="DownloadRTGSNotepad('@item.BillIds');"  id="btnRTGS" href="#">Generate RTGS Soft 
                                            </a></li>
                                            <li><a data-rel="tooltip" class="green tooltip-success  btn btn-xs btn-error" title="Generate Confirmation Letter "  onclick="DownloadConfirmationLetter('@item.BillIds');"  id="btnRTGS" href="#">Generate RTGS Soft 
                                            </a></li>
                                        }
                                        else
                                        { <li>
                                            <a data-rel="tooltip" class="green tooltip-success btn btn-xs btn-warning" title="Authority Letter"  target="_blank" href="/AuthorityLetter/ViewAuthorityLetter/@item.AuthorityLetterID">View Authority Letter
                                            </a></li>
                                        }

                                    </ul>
                                </div>

                            </div>
                        </td>
                    </tr>                                                                
                }

            </tbody>
        </table>
        <!-- PAGE CONTENT ENDS -->
        }
        else
        {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <strong>No Authority Letter Found</strong><br />
                </div>
            </div>
        </div>
        }
    }
</div>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        var oTable1 =
        $('#tblAuthorizeLetter')
        //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
              { "bSortable": false },
           null, null, null,
              { "bSortable": false }
            ]

        });


    });

    //$(".DeleteAL").on('click', function (e) {
    //    debugger;
    //    e.preventDefault();
    function DeleteAuthorityLetter(ALId) {

        var dlg = bootbox.confirm('If you delete Authorize Letter then it delete last authorize letter as well as it will update all the bill related with this letter. \n If you want to delete Autorize Letter so press ok button. ', function (result) {

            if (result) {

                $(dlg).modal('hide');
                DeleteAuthorizeLetter(ALId);

            }
        });
    }

    function DownloadRTGSNotepad(BillIds) {
        debugger;
        $('#loader-wrapper').show();

        var ss = "<input type='hidden' name='BillIds' value='" + BillIds + "' >";


        $('body').prepend("<form method='post' action='/AccountsAdmin/AuthorityLetter/DownloadRTGS' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
        $('#tempForm').submit();
        $("tempForm").remove();

        setTimeout(function () {
            $('#loader-wrapper').hide();
        }, 2000);


    }

    function DownloadConfirmationLetter(BillIds) {
        debugger;
        $('#loader-wrapper').show();

        var ss = "<input type='hidden' name='BillIds' value='" + BillIds + "' >";


        $('body').prepend("<form method='post' action='/AccountsAdmin/AuthorityLetter/DownloadConfirmationLetter' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
        $('#tempForm').submit();
        $("tempForm").remove();

        setTimeout(function () {
            $('#loader-wrapper').hide();
        }, 2000);


    }
</script>
