﻿@model SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models.AuthorityLetterViewModel
@{
    ViewBag.Title = "Add Budget";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}
<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }
</style>

<link href="~/assets/css/datepicker.css" rel="stylesheet" />
@{Html.RenderPartial("~/Areas/AccountsAdmin/Views/Shared/_ALLeftMenu.cshtml");}
<style>
    .field-validation-error {
        color: red;
        background: none !important;
        padding-left: 10px;
    }
</style>
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    @Html.Partial("/Areas/SuperAdmin/Views/Shared/_BreadcrumbsPartial.cshtml")
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "AuthorityLetter")">@Resources.MasterDataDashboard.Home</a>
            </li>

            <li>
                <a href="@Url.Action("Index", "AuthorityLetter")">@Resources.MasterDataDashboard.AuthorityLetter</a>
            </li>
            <li class="active">
                @if (Model.Mode == "Add")
                {
                    @Resources.MasterDataDashboard.CreateAuthorityLetter
                }
                else
                {
                    @Resources.MasterDataDashboard.EditAuthorityLetter
                }
            </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
        </div>
        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.CreateAuthorityLetter</h4>
            }
            else
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.EditAuthorityLetter</h4>
            }
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <form method="post" action="/SchemeSetup/SaveQualification" id="AuthorityLetter">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.AuthorityLetterID)
                            @Html.HiddenFor(m => m.Mode, new { id = "Mode" })
                            @if (Model.CreationDate != null)
                            {
                                <input type="hidden"  id = "GenerateDate"  value="@Convert.ToDateTime(Model.CreationDate.ToString())" />
                            }
                            <table class="table">
                                <tr>
                                    <td style="width: 200px;">
                                        <label class="  control-label no-padding-right" for="BudgetCode">@Resources.MasterDataDashboard.EncashmentDate</label>
                                        <div class=" help-block">
                                            @if (Model.Mode == "Add")
                                            {
                                                @Html.TextBoxFor(model => model.EncashmentDate, new { Value = "", @class = "col-xs-10 col-sm-12 RemoveBorder date-picker", @placeholder = @Resources.MasterDataDashboard.EncashmentDate, @autocomplete = "off", @maxlength = "61" })
                                                @Html.ValidationMessageFor(model => model.EncashmentDate)
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.EncashmentDate, "{0:MM/dd/yyyy}", new { @class = "col-xs-10 col-sm-12 RemoveBorder date-picker", @placeholder = @Resources.MasterDataDashboard.EncashmentDate, @autocomplete = "off", @maxlength = "61" })
                                                @Html.ValidationMessageFor(model => model.EncashmentDate)
                                            }
                                        </div>
                                    </td>

                                    <td style="width: 200px;">
                                        <label class="control-label no-padding-right" for="SubMajorHead">@Resources.MasterDataDashboard.LetterType</label>
                                        <div class="  help-block">
                                            @Html.DropDownListFor(model => model.LetterType, Model.LetterTypeList, "--Select User--", new { @class = " RemoveDdlBorder" })
                                            @Html.ValidationMessageFor(model => model.LetterType)

                                        </div>
                                    </td>
                                    <td style="width: 300px;">
                                        <label class="control-label no-padding-right" for="SubMajorHead">Authority By</label>
                                        <div class="  help-block">
                                            @Html.TextBoxFor(model => model.AuthorityBy, new { @class = " RemoveBorder col-md-12" })
                                            @Html.ValidationMessageFor(model => model.AuthorityBy)
                                        </div>
                                    </td>

                                    <td style="width: 200px;">
                                        <div id="BillDiv"></div>
                                    </td>
                                    <td>
                                        <div class="space-10"></div>
                                        <button type="button" id="btnSave" class="btn btn-sm btn-purple">
                                            <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                            Generate Authority Letter</button>
                                    </td>
                                </tr>
                            </table>
                            <div id="ResultDiv" style="display: none;">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <h2 style="margin: 0px;">Authority Letter</h2>
                                        </td>
                                        <td>
                                            <a href="#" id="DownloadPdf" class="btn btn-sm btn-purple pull-right">
                                                <i class="ace-icon fa fa-download white  bigger-150"></i>
                                                <span class="bigger-110">Download Pdf</span>
                                            </a>

                                        </td>
                                    </tr>
                                </table>

                                <div id="AuthorityLetterDiv" style="border: 1px  solid gray; padding: 5px;">
                                </div>
                                <br />
                                <br />
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">




    $(document).ready(function () {
        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "mm/dd/yyyy"
        });

        $('.date-picker').datepicker({ autoclose: true }).on('changeDate', function (ev) {
            var Id = this.id;
            if ($("#" + Id).val() != '') {
                $("#" + Id).next().hide();
                $("#" + Id).css("border", "1px solid green");
            }
            else {
                $("#" + Id).after("<span class='ErrorMessage'> DDO Code  Required</span>");
                $("#" + Id).css("border", "1px solid red");
            }
        });

        //   $('#EncashmentDate').focus();

        $("#BillReimbursement").addClass("active open");
        $("#BillReimbursementSubMenu").addClass("nav-show").css("display", "block");
        $("#AuthorityLetter").addClass("active");
        $("#BillReimbursementIcon").removeClass("fa-comment").addClass("fa-comment-o");

        $('.RemoveBorder').keypress(function () {
            var Id = this.id;
            $("#" + Id).next().hide();
            $("#" + Id).css("border", "1px solid green");
        });

        $('.RemoveDdlBorder').change(function () {

            var Id = this.id;
            if ($("#" + Id).val() != '') {
                $("#" + Id).next().hide();
                $("#" + Id).css("border", "1px solid green");
            }
            else {
                $("#" + Id).after("<span class='ErrorMessage'> DDO Code  Required</span>");
                $("#" + Id).css("border", "1px solid red");
            }

        });

        $('#LetterType').change(function () {
            var LetterType = $('#LetterType').val();
            if (LetterType == "0") {
                $.ajax({
                    type: "POST",
                    url: '/AuthorityLetter/GetBillList',
                    //   data: '{ AuthorityLetterID: "' + AuthorityLetterID + '",EncashmentDate: "' + EncashmentDate + '" ,LetterType: "' + LetterType + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function () {
                        $('#loader-wrapper').show();
                    },
                    success: function (result) {
                        $('#BillDiv').empty();
                        $('#BillDiv').append(result);


                    },
                    error: function (result) {
                        $('#BillDiv').empty();
                        $('#BillDiv').append(result.responseText);

                    },
                    complete: function (result) {
                        $('#loader-wrapper').hide();
                    }
                });
            }
            else {
                $('#BillDiv').empty();
            }
        });
    });

    $("#DownloadPdf").click(function () {

        debugger;
        var FileName = $('#FileName').val();
        var LetterType = $('#LetterType').val();
        if (FileName != null || FileName != 'undefined') {
            var ss = "<input type='hidden' name='LetterType' value='" + LetterType + "' >" +
            "<input type='hidden' name='FileName' value='" + FileName + "' >";

            $('body').prepend("<form method='post' action='/AuthorityLetter/DownloadPdf' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
            $('#tempForm').submit();
            $("tempForm").remove();
        }
        else {
            alert('Unable to download');
        }

    });

    $('#btnSave').click(function (e) {
        var IsValid = true;

        $('.ErrorMessage').remove('');
        var EncashmentDate = $('#EncashmentDate').val();
        var LetterType = $('#LetterType').val();
        var AuthorityLetterID = $('#AuthorityLetterID').val();
        var BillIds = $('#DdlBill').val();
        var AuthorityBy = $('#AuthorityBy').val();
        if (EncashmentDate == '') {

            $('#EncashmentDate').after("<span class='ErrorMessage'>Encashment Date is required</span>");
            $("#EncashmentDate").css("border", "1px solid red");
            IsValid = false;
        }
        if ($('#LetterType').val() == '') {

            $('#LetterType').after("<span class='ErrorMessage'>Letter Type is required</span>");
            $("#LetterType").css("border", "1px solid red");
            IsValid = false;
        }
        if (LetterType == "0" && (BillIds == '' || BillIds == null)) {
            $('#DdlBillValidation').html("Bill is required");
            IsValid = false;
        }
        if (AuthorityBy == '') {
            $('#AuthorityBy').after("<span class='ErrorMessage'>Authority By is required</span>");
            $("#AuthorityBy").css("border", "1px solid red");
            IsValid = false;
        }

        if (IsValid == true) {

            e.preventDefault();
            $.ajax({
                type: "POST",
                url: '/AuthorityLetter/AuthorityLetterResult',
                data: '{ AuthorityLetterID: "' + AuthorityLetterID + '",EncashmentDate: "' + EncashmentDate + '" ,LetterType: "' + LetterType + '",BillIds: "' + BillIds + '",AuthorityBy:"' + AuthorityBy + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    debugger;
                    $('#ResultDiv').show();
                    if (result != null && result != "") {

                        $('#AuthorityLetterDiv').empty();
                        $('#AuthorityLetterDiv').append(result);
                        $('#btnSave').hide();
                        $("#AuthorityLetterDiv").css("border", "1px solid black");
                    }
                    else {
                        $('#DownloadPdf').hide();
                        $('#AuthorityLetterDiv').empty();
                        $('#AuthorityLetterDiv').append("No Bill found");
                        $("#AuthorityLetterDiv").css("border", "1px solid red");
                        $("#AuthorityLetterDiv").css("font-size", "18px");
                        $("#AuthorityLetterDiv").css("font-weight", "bold");
                        $("#AuthorityLetterDiv").css("padding", "5px");
                    }

                },
                error: function (result) {
                    debugger;
                    $('#ResultDiv').show();
                    if (result != null && result != "") {

                        $('#AuthorityLetterDiv').empty();
                        $('#AuthorityLetterDiv').append(result.responseText);
                        $('#btnSave').hide();
                        $("#AuthorityLetterDiv").css("border", "1px solid black");
                    }
                    else {
                        $('#DownloadPdf').hide();
                        $('#AuthorityLetterDiv').empty();
                        $('#AuthorityLetterDiv').append("No Bill found");
                        $("#AuthorityLetterDiv").css("border", "1px solid red");
                        $("#AuthorityLetterDiv").css("font-size", "18px");
                        $("#AuthorityLetterDiv").css("font-weight", "bold");
                        $("#AuthorityLetterDiv").css("padding", "5px");
                    }
                },
                complete: function (result) {
                    $('#btnSave').hide();
                    $('#loader-wrapper').hide();
                }
            });


        }

    });





</script>
