﻿@model  List<SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models.BudgetBillTypeViewModel>

@{
    
    int count = 0;
}
<div class="pass-table">


    @if (Model != null)
    {
        if (Model.Count() > 0)
        {       
                                
        <div class="table-header">
            <div class="form-group">
            </div>
        </div>             
        <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
            <thead>
                <tr role="row">

                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" onclick="javascript:window.location.href=' /AccountsAdmin/BudgetBillType/Index';">@Resources.MasterDataDashboard.SNo</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Budget Bill Type Name</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Is Active</th>

                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                @foreach (var item in Model)
                {
                    count = count + 1;  
                    <tr>
                        <td class="center">
                            @count
                        </td>
                        <td style="width: 50%">@item.VTypeName</td>
                        <td style="width: 40%">@item.VIsActive</td>

                        <td class="center" style="width: 10%">
                            <div class="hidden-sm hidden-xs action-buttons">
                                <a  href="#" onclick="PopulateBillType(@item.VBillTypeID);" class="tooltip-success" data-rel="tooltip" title="Edit">
                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                </a>
                            </div>

                            <div class="hidden-md hidden-lg">
                                <div class="inline position-relative">
                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                    </button>

                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">

                                        <li>
                                            <a  href="#" onclick="PopulateBillType(@item.VBillTypeID);" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                <span class="green">
                                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                </span>
                                            </a>

                                        </li>


                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>                                                                
                }

            </tbody>
        </table>
        <!-- PAGE CONTENT ENDS -->
        }
        else
        {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">

                    <strong>No Budget Bill Type Record Found</strong><br />


                </div>
            </div>
        </div>
        }
    }

</div>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2').dataTable();
    });
</script>