﻿@model SBL.eLegistrator.HouseController.Web.Areas.Admin.Models.UploadMetaViewModel
@{
    ViewBag.Title = "GetAllMetaDataFile";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    int count = 0;
}
@Html.Partial("_LeftMenu")
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "PassCountList")">Home</a>
            </li>

            <li>
                <a href="@Url.Action("Index", "PassCountList")">Pass List</a>
            </li>

        </ul>

        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>

    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->

        <div class="row">

            <div class="col-xs-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h4 class="widget-title"></h4>


                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="clearfix">

                                <div id="SearchResultDiv">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div>

                                                <table id="tblSearchMetaDataFile" class="table">
                                                    <tr>
                                                        <td>Assembly</td>
                                                        <td>@Html.DropDownListFor(model => model.AssemblyId, new SelectList(Model.AssemblyList, "AssemblyCode", "AssemblyName", new SelectListItem { Value = "0", Text = "-- Select --" }), new { @class = "col-xs-12 col-sm-7 col-md-6", @onchange = "SearchAssemblyChange()", @id = "SearchassemblyLst", @style = "width:230px;" })</td>

                                                    </tr>
                                                    <tr>
                                                        <td>Session</td>
                                                        <td>@Html.DropDownListFor(model => model.SessionId, new SelectList(Model.SessionList, "SessionCode", "SessionName", new SelectListItem { Value = "0", Text = "-- Select --" }), new { @class = "col-xs-12 col-sm-7 col-md-6", @onchange = "SearchSessionChange()", @id = "SearchsessionLst", @style = "width:230px;" })</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Table Name</td>
                                                        <td>
                                                            <select id="PassTableName" onchange="HideShowPassCategory()" name="PassTableName" class="col-xs-12 col-sm-7 col-md-6" style="width: 230px;">
                                                                <option value="PublicPasses">Public Passes</option>
                                                                <option value="mPasses">Passes</option>
                                                                <option value="VisitorData">VisitorData</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr id="PassRow">
                                                        <td>Pass Category</td>
                                                        <td>@Html.DropDownListFor(model => model.PassCategoryID, new SelectList(Model.PassCategoryList, "PassCategoryID", "Name", new SelectListItem { Value = "0", Text = "-- Select --" }), new { @class = "col-xs-12 col-sm-7 col-md-6", @onchange = "SearchSessionChange()", @style = "width:230px;" })</td>
                                                    </tr>

                                                    <tr>
                                                        <td colspan="2" align="center">
                                                            <button type="button" id="btnSearchmeta" class="btn btn-sm btn-purple " onclick="UploadPassData();">
                                                                <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                                                Upload Data</button></td>
                                                    </tr>
                                                </table>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
</div>


<style>
    #tblfiles tr td {
        padding: 5px;
        border: 1px solid;
    }

    #tblfiles tr th {
        padding: 5px;
    }

    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }

    #tblSearchMetaDataFile {
        width: 100%;
    }

    .clsdp {
        width: 18%;
        padding: 5px;
    }
</style>




<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>


<script>

    function SearchSessionChange() {
        var assembly = $("#SearchassemblyLst").val();
        var session = $("#SearchsessionLst").val();
        $.ajax({
            url: '/Admin/UploadMetaFile/GetSessionDate',
            type: 'POST',
            data: {
                assembly: assembly,
                session: session

            },
            success: function (data) {
                $("#SearchsessionDateLst").empty();
                $("#SearchsessionDateLst").append("<option value='0'>-- Select --</option>");
                $.each(data, function (index, optiondata) {
                    $("#SearchsessionDateLst").append("<option value='" + optiondata.DisplayDate + "'>" + optiondata.DisplayDate + "</option>");
                });
                //$("#sessionDateLst option[value='0']").prop("selected", "selected");
            }
        })


        $('.ErrorMessage').empty();
        $("#SearchsessionDateLst").css("border", "1px solid green");
    }
    function SearchAssemblyChange() {
        var assembly = $("#SearchassemblyLst").val();
        $.ajax({
            url: '/Admin/UploadMetaFile/GetSessionList',
            type: 'POST',
            data: {
                assembly: assembly
            },
            success: function (data) {
                $("#SearchsessionLst").empty();
                $("#SearchsessionLst").append("<option value='0'>-- Select --</option>");
                $.each(data, function (index, optiondata) {
                    $("#SearchsessionLst").append("<option value='" + optiondata.SessionCode + "'>" + optiondata.SessionName + "</option>");
                });
                // $("#sessionLst option[value='0']").prop("selected", "selected");
            }
        })

        SessionChange();

        $('.ErrorMessage').empty();
        $("#SearchsessionLst").css("border", "1px solid green");
    }


    function UploadPassData() {

        var dlg = bootbox.confirm('Are you sure, You want to upload this pass data? If yes than press ok Button.', function (result) {
            if (result) {
                debugger;


                $('#loader-wrapper').show();
                var assembly = $("#SearchassemblyLst").val();
                var session = $("#SearchsessionLst").val();
                var PassCategoryID = $("#PassCategoryID").val();
                var PassTableName = $("#PassTableName").val();
                $.ajax({
                    url: '/Admin/PassDBSync/UploadPassData',
                    type: 'GET',
                    data: {
                        AssemblyId: assembly,
                        SessionId: session,
                        PassCategoryId: PassCategoryID,
                        TableName: PassTableName

                    },
                    success: function (data) {
                        $('#loader-wrapper').hide();
                        bootbox.alert(data);

                    },
                    error: function (error) {
                        bootbox.alert(error.responseText);
                    },
                    complete: function (result) {
                        $('#loader-wrapper').hide();
                    }
                })

            }
        });
    }
    function HideShowPassCategory() {
        debugger;
        var PassTableName = $("#PassTableName").val();
        if (PassTableName == "VisitorData") {
            $("#PassRow").hide();
        }
        else {
            $("#PassRow").show();
        }
    }
    $(document).ready(function () {

        $("#progress").slideUp();
        $("#progress1").slideUp();
    });


</script>
