﻿@model  SBL.DomainModel.Models.SystemModule.SystemModuleModel

<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
<script src="~/Scripts/jquery.alerts.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.timepicker1.js"></script>


@using (Ajax.BeginForm("NewSystemModule", "SystemModules", new AjaxOptions { OnSuccess = "LoginSuccess", HttpMethod = "POST" }, new { enctype = "multipart/form-data" }))
{
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.SaveCreateNew)
        @Html.HiddenFor(m => m.SystemModuleID, new { @id = "hdnModuleID" })
    <div class="widget-body">
        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                </div>
                <div class="profile-info-row">
                 
                    <div class="profile-info-name">
                        <label class="col-sm-3 control-label no-padding-right" for="Name">Name <span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                           @Html.TextBoxFor(model => model.Name, new {@id = "TxtName", @class = "col-xs-10 col-sm-5", @placeholder = "Name", @autocomplete = "off",style = "width: 350px" })
                                        @Html.ValidationMessageFor(model => model.Name)
                        </span>
                    </div>
                </div>
                @*<div class="profile-info-row">*@
                 
                <div class="profile-info-name">
                     <label class="col-sm-3 control-label no-padding-right" for="Address">Description :</label>
                </div>

                <div class="profile-info-value">
                    <span id="spnTitle" class="">
                         
                                        
                                        @Html.TextAreaFor(model => model.Description, new {@id = "TxtDescp", @class = "col-xs-7", @rows=5, @placeholder = "Description", @autocomplete = "off", style = "width: 400px" })
                                      
                                            @Html.ValidationMessageFor(model => model.Description)
                                        
                                   
                    </span>
                </div>
              
            </div>
          
               

        </div>


         <div class="wizard-actions">
           
                <button type="reset" class="btn btn-sm btn-info"   onclick="return cancelEntry();">
                <i class="ace-icon fa fa-times bigger-125"></i>
               Cancel
            </button>
                <button type="button" id="savebtn" class="btn btn-sm btn-purple"  onclick="return UpdateEntry();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        Update</button>
 
           
                <button type="button" id="Deletebtn" class="btn btn-sm btn-purple"  onclick="return Delete();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        Delete</button>
                
        </div>


       
    </div>
                                 



    
    <div id='fullDetailsModel' class="hide">
        <div id='ShowfullDetailsModel' style="text-align: center">
        </div>
    </div>
}

<script>


    $(function () {
        $('#TxtTime').timepicker({
            'timeFormat': 'hh:mm tt',
            'onchange': function (time) {
                $('#TxtTime').val(time);

            }
        });
        //'value': new Date(),
    });
    $("textarea#TxtTitle").focus(function () {
        $("textarea#TxtTitle").animate({ height: "150px" }, 100)
    })

    $("textarea#TxtTitle").blur(function () {
        $("textarea#TxtTitle").animate({ height: "100px" }, 100)
    })

    
    function UpdateEntry() {
        var ModuleId = document.getElementById("hdnModuleID").value;
        var Name = document.getElementById("TxtName").value;
        var Description = document.getElementById("TxtDescp").value;
        $.post("/Admin/SystemModules/UpdateEntry",
           {
               ModuleId:ModuleId,
               Name: Name,
               Description: Description,
              
           },
           function (data) {
               alert("Updated successfully");
               GetModulesList();
               $("#RightSidebar").html("");
               $("#FormPart").html("");
               $('.widget-box').hide();

           });
    }
    function cancelEntry() {


        var url = '@Url.Action("Index")';
      window.location.href = url;


  }

    function Delete(rowId) {
        var ModuleId = document.getElementById("hdnModuleID").value;
        $.ajax({
            url: "/Admin/SystemModules/DeleteEntry",
            type: 'GET',
            data: {
                ModuleId: ModuleId,
            },
            success: function (data) {
                if (data) {
                    GetModulesList();
                    $("#RightSidebar").html("");
                    $("#FormPart").html("");
                    $('.widget-box').hide();
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }



</script>
<style>
    .hidden {
        display: none;
        visibility: hidden;
    }
</style>

