﻿@using SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models
@model  IEnumerable<SBL.DomainModel.Models.Library.mSaleCounter>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
  
}

@{Html.RenderPartial("~/Areas/Library/Views/Shared/_LeftMenu.cshtml");}
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
@*    @Html.Partial("/Areas/SuperAdmin/Views/Shared/_BreadcrumbsPartial.cshtml")*@
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "SaleCounter")">@Resources.MasterDataDashboard.Home</a>
            </li>

            <li>
                <a href="@Url.Action("Index", "SaleCounter")">Sale Counter</a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.List</li>
        </ul>

    </div>
    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->


        <!-- /section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
            <button class="btn  btn-sm btn-info" onclick="CreateSaleCounter(0,'Add');">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                <span class="bigger-110">@Resources.MasterDataDashboard.New</span>
            </button>
        </div>
        <div class="page-header">
            <h1>Add Book for Sale 
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.List
                </small>
            </h1>
        </div>
        <div id="Menu">
            <div class="row">
                <div class="col-xs-12">
                    <div id="divDataContainer">
                        @{Html.RenderPartial("~/Areas/Library/Views/SaleCounter/_SaleCounterList.cshtml", Model);}
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@
            </div>
            <!-- /section:basics/footer -->
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>
    <div class="space-6"></div>
</div>

<script src="~/assets/js/bootbox.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {

        //left menu code
        $("#mainLibrarySaleCounter").addClass("active open");
        $("#subMenuLibrarySaleCounter").addClass("nav-show").css("display", "block");
        $("#subsubmenuBookSaleCounter").addClass("active");
        $("#subSubMenuAddBookSaleCounter").addClass("active");
    });

    function CreateSaleCounter(Id, Action) {


        $.ajax({
            type: "POST",
            url: '/SaleCounter/PopulateSaleCounter',
            data: '{ Id: "' + Id + '",Action: "' + Action + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#SaleCounterDiv').empty();
                $('#SaleCounterDiv').append(result);
                $('#SaleCounterModel').modal('show');
            },
            error: function (error) {
                $('#SaleCounterDiv').empty();
                $('#SaleCounterDiv').append(error.responseText);
                $('#SaleCounterModel').modal('show');

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }


    function RejectBill(Id, Action) {


        $.ajax({
            type: "POST",
            url: '/ReimbursementBill/EditApproveBill',
            data: '{ Id: "' + Id + '",Action: "' + Action + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#RejectBillDiv').empty();
                $('#RejectBillDiv').append(result);
                $('#RejectBillModel').modal('show');
            },
            error: function (error) {
                $('#RejectBillDiv').empty();
                $('#RejectBillDiv').append(error.responseText);
                $('#RejectBillModel').modal('show');

            },
            complete: function (results) {

                $('#loader-wrapper').hide();
                setTimeout(function () {
                    $('#divMsg').slideUp("slow");
                }, 6000);

            }
        });
    }

    function tooltip_placement(context, source) {
        var $source = $(source);
        var $parent = $source.closest('table')
        var off1 = $parent.offset();
        var w1 = $parent.width();
        var off2 = $source.offset();
        //var w2 = $source.width();
        if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
        return 'left';
    }


    $(document).on('click', '#UpdateSaleCounter', function (e) {

        $('.ErrorMessage').remove('');
        var IsValid = true;

        if ($('#AuthorName').val().trim() == '') {
            $('#AuthorName').css("border", "1px solid red");
            $('#AuthorName').after("<span class='ErrorMessage'> Author Name  Required</span>");
            $('#AuthorName').focus();
            IsValid = false;
        }
         if ($('#Title').val().trim() == '') {
            $('#Title').css("border", "1px solid red");
            $('#Title').after("<span class='ErrorMessage'> Title  Required</span>");
            $('#Title').focus();
            IsValid = false;
        }

         if ($('#Edition').val().trim() == '') {
            $('#Edition').after("<span class='ErrorMessage'>  Edition  Required</span>");
            $("#Edition").css("border", "1px solid red");
            $('#Edition').focus();
            IsValid = false;
        }
         if ($('#Volume').val().trim() == '') {
            $('#Volume').after("<span class='ErrorMessage'>Volume is Required</span>");
            $("#Volume").css("border", "1px solid red");
            $('#Volume').focus();
            IsValid = false;

        }
         if ($('#PublishingYear').val().trim() == '') {

            $('#PublishingYear').after("<span class='ErrorMessage'>Publishing Year is required</span>");
            $("#PublishingYear").css("border", "1px solid red");
            $('#PublishingYear').focus();
            IsValid = false;
        }
         if ($('#Pages').val().trim() == '') {

            $('#Pages').after("<span class='ErrorMessage'>Pages is required</span>");
            $("#Pages").css("border", "1px solid red");
            $('#Pages').focus();
            IsValid = false;
         }
         else if (!$.isNumeric($('#Pages').val())) {
             $('#Pages').css("border", "1px solid red");
             $('#Pages').after("<span class='ErrorMessage'> Price  numeric only</span>");
             $('#Pages').focus();
             IsValid = false;
         }
         if ($('#Price').val().trim() == '') {

            $('#Price').after("<span class='ErrorMessage'>Price is required</span>");
            $("#Price").css("border", "1px solid red");
            $('#Price').focus();
            IsValid = false;
        }
        else if (!$.isNumeric($('#Price').val())) {
            $('#Price').css("border", "1px solid red");
            $('#Price').after("<span class='ErrorMessage'> Price  numeric only</span>");
            $('#Price').focus();
            IsValid = false;
        }
         if ($('#Source').val().trim() == '') {

            $('#Source').after("<span class='ErrorMessage'>Source is required</span>");
            $("#Source").css("border", "1px solid red");
            $('#Source').focus();
            IsValid = false;
        }
         if ($('#Availability').val() == '') {

            $('#Availability').after("<span class='ErrorMessage'>Availability is required</span>");
            $("#Availability").css("border", "1px solid red");
            $('#Availability').focus();
            IsValid = false;
        }
         if ($('#Building').val().trim() == '') {

            $('#Building').after("<span class='ErrorMessage'>Building is required</span>");
            $("#Building").css("border", "1px solid red");
            $('#Building').focus();
            IsValid = false;
        }
         if ($('#Floor').val().trim() == '') {

            $('#Floor').after("<span class='ErrorMessage'>Floor is required</span>");
            $("#Floor").css("border", "1px solid red");
            $('#Floor').focus();
            IsValid = false;
        }
         if ($('#Almirah').val().trim() == '') {

            $('#Almirah').after("<span class='ErrorMessage'>Almirah is required</span>");
            $("#Almirah").css("border", "1px solid red");
            $('#Almirah').focus();
            IsValid = false;
        }
         if ($('#Availability').val() == '0' && ($('#Quantity').val().trim() == '' || $('#Quantity').val().trim() == '0')) {

            $('#Quantity').after("<span class='ErrorMessage'> Quantity is required</span>");
            $('#Quantity').css("border", "1px solid red");
            $('#Quantity').focus();
            IsValid = false;
        }
         if ($('#Availability').val() == '0' && $('#Quantity').val().trim() != '' && $('#Quantity').val().length>3) {
            $('#Quantity').css("border", "1px solid red");
            $('#Quantity').after("<span class='ErrorMessage'> Lenght must be less than or equal to 3</span>");
            $('#Quantity').focus();
            IsValid = false;
        }
         if ($('#Availability').val() == '0' && $('#Quantity').val().trim() != '' && !$.isNumeric($('#Quantity').val())) {
            $('#Quantity').css("border", "1px solid red");
            $('#Quantity').after("<span class='ErrorMessage'> Quantity  numeric only</span>");
            $('#Quantity').focus();
            IsValid = false;
        }

         

        if (IsValid == true) {

            var QData = $('#SaleCounterForm').serialize();
            e.preventDefault();
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '/SaleCounter/SaveSaleCounter',
                data: QData,
                beforeSend: function () {
                    $('#SaleCounterModel').modal('hide');
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result);

                },
                error: function (result) {

                    $('#divDataContainer').empty();
                    $('#divDataContainer').append(result.responseText);

                },

                complete: function (result) {
                    $('#loader-wrapper').hide();
                }
            });
        }
    });

    function DeleteSaleCounter(Id) {
        $.ajax({
            type: "POST",
            url: '/SaleCounter/DeleteSaleCounter',
            data: '{ Id: "' + Id + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(result);
            },
            error: function (result) {
                $('#divDataContainer').empty();
                $('#divDataContainer').append(result.responseText);
            },
            complete: function (result) {
                $('#loader-wrapper').hide();
            }
        });
    }
</script>

<!--Create Sale Counter Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="SaleCounterModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="SaleCounterModalTitle">Sale Counter</h4>
            </div>
            <form method="post" action="/SchemeSetup/SaveQualification" id="SaleCounterForm">
                <div class="modal-body">
                    <div id="SaleCounterDiv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="UpdateSaleCounter" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
