﻿ 
@{
    ViewBag.Title = "Locate Sale Counter ";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }
</style>
<link href="~/assets/css/datepicker.css" rel="stylesheet" />
@{Html.RenderPartial("~/Areas/Library/Views/Shared/_LeftMenu.cshtml");}
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
@*    @Html.Partial("/Areas/SuperAdmin/Views/Shared/_BreadcrumbsPartial.cshtml")*@
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "SaleCounter")">@Resources.MasterDataDashboard.Home</a>
            </li>

            <li>
                <a href="@Url.Action("Index", "SaleCounter")">Sales Counter</a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.List</li>
        </ul>

    </div>
    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->
        <!-- /section:settings.box -->

        <div class="page-header">
            <h1>Locate Book for Sale 
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.List
                </small>
            </h1>
        </div>

        <!-- /section:settings.box -->
        <div id="Menu">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive ">
                        <table class="table">
                            <tr class="info">
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="Author Name">Author Name</label>
                                        <input type="text" id="txtAuthorName" placeholder="Author Name" class="col-md-10 col-sm-5" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="Title">Book Title </label>
                                        <input type="text" id="txtTitle" placeholder="Title" class="col-md-10 col-sm-5" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="Edition">Edition</label>
                                        <input type="text" id="txtEdition" placeholder="Edition" class="col-md-10 col-sm-5" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="Volume">Volume</label>
                                        <input type="text" id="txtVolume" placeholder="Volume" class="col-md-10 col-sm-5" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="Publishing Year">Publishing Year</label>
                                        <input type="text" id="txtPublishingYear" placeholder="Publishing Year" class="col-md-10 col-sm-5 " />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="From">Price From</label>
                                        <input type="text" id="txtPriceFrom" placeholder="Price From" class="col-md-10 col-sm-5" />
                                    </div>
                                </td>
                              
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="Price To">Price To</label>
                                        <input type="text" id="txtPriceTo" placeholder="Price To" class="col-md-10 col-sm-5 " />
                                    </div>
                                </td>
                            </tr>
                            <tr class="info">
                                
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="Source">Source</label>
                                        <input type="text" id="txtSource" placeholder="Source" class="col-md-10 col-sm-5 " />
                                    </div>
                                </td>

                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="EndDateTo">Availability</label>
                                        @Html.DropDownList("Availability", new SelectList(ViewBag.Availability, "Value", "Text"), new { @class = "col-xs-10 col-sm-10 RemoveDdlBorder" })
                                    </div>
                                </td>

                                  <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="Price To">Building</label>
                                        <input type="text" id="txtBuilding" placeholder="Building" class="col-md-10 col-sm-5 " />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="Source">Floor</label>
                                        <input type="text" id="txtFloor" placeholder="Floor" class="col-md-10 col-sm-5 " />
                                    </div>
                                </td>

                                 <td>
                                    <div class="form-group">
                                        <label class=" control-label  " for="From">Almirah</label>
                                        <input type="text" id="txtAlmirah" placeholder="Almirah" class="col-md-10 col-sm-5" />
                                    </div>
                                </td>
                                <td></td>
                                <td>
                                    <div class="form-group">
                                        <div class="space-12"></div>
                                        <button class="btn btn-sm btn-primary btn-bold" id="btnSearch">
                                            <i class="ace-icon fa fa-search bigger-150"></i>
                                            <span class="bigger-110">Search</span>
                                        </button>
                                    </div>

                                </td>
                            </tr>
                        </table>

                        <!-- PAGE CONTENT BEGINS -->
                        <div class="alert alert-block alert-danger" id="AlertDiv" style="display: none;">
                            <strong><i class="ace-icon fa fa-check-square-o"></i>Error! </strong><span id="MsgSpan">Please select at least one field </span>
                        </div>
                        <div id="tablecontainer">
                        </div>

                        <!-- /.col -->
                    </div>

                </div>
                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@
            </div>
            <!-- /section:basics/footer -->
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>


<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //left menu code
        $("#mainLibrarySaleCounter").addClass("active open");
        $("#subMenuLibrarySaleCounter").addClass("nav-show").css("display", "block");
        $("#subsubmenuBookSaleCounter").addClass("active");
        $("#subSubMenuLocateBookSaleCounter").addClass("active");
    });

    $(document).on('click', '#btnSearch', function (e) {

     
        var txtAuthorName = $('#txtAuthorName').val();
        var Title = $('#txtTitle').val();
        var Edition = $('#txtEdition').val();
        var Volume = $('#txtVolume').val();

        var PublishingYear = $('#txtPublishingYear').val();


        var PriceFrom = $('#txtPriceFrom').val();
        var PriceTo = $('#txtPriceTo').val();
        var Source = $('#txtSource').val();
        var Availability = $('#Availability').val();


        var Building = $('#txtBuilding').val();
        var Floor = $('#txtFloor').val();
        var Almirah = $('#txtAlmirah').val();

        $('#AlertDiv').hide();
        $('.ErrorMessage').remove('');
        var IsValid = true;

        if (txtAuthorName == '' && Title == '' && Edition == '' && Volume == '' && PublishingYear == '' && Source == '' && PriceFrom == ''
          && PriceTo == '' && Building == '' && Floor == '' && Almirah == '') {
            $('#AlertDiv').css("border", "1px solid red");
            $('#AlertDiv').show();
            IsValid = false;
        }
         if ($('#txtPriceFrom').val().trim() != '' && $('#txtPriceTo').val().trim() != '') {
            if (parseInt($('#txtPriceFrom').val().trim()) > parseInt($('#txtPriceTo').val().trim())) {
                $('#txtPriceTo').css("border", "1px solid red");
                $('#txtPriceTo').after("<span class='ErrorMessage'><br> Price To must be greate than Price From </span>");
                $('#txtPriceTo').focus();
                IsValid = false;
            }
        }


        if (IsValid == true) {
            $.ajax({
                type: "POST",
                url: '/Library/SaleCounter/SearchSaleCounterResult',
                data: '{ AuthorName: "' + txtAuthorName + '", Title: "' + Title + '",Edition: "' + Edition + '",Volume: "' + Volume + '",PublishingYear: "' + PublishingYear + '", PriceFrom: "' + PriceFrom + '",PriceTo: "' + PriceTo + '", Source: "' + Source + '", Availability: "' + Availability + '",Building: "' + Building + '", Floor: "' + Floor + '", Almirah: "' + Almirah + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(result);

                },
                error: function (error) {
                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(error.responseText);

                },
                complete: function (results) {
                    $('#loader-wrapper').hide();

                }
            });
        }
    });

   
</script>

