﻿@model SBL.DomainModel.Models.eFile.eFileAttachments
@using SBL.eLegistrator.HouseController.Web.Helpers
@{
    var FileSettings = (SBL.DomainModel.Models.SiteSetting.SiteSettings)Helper.ExecuteService("SiteSetting", "GetSecureFileSettingLocation", null);

    int count = 0;
    if (ViewBag.CurrentPage > 1)
    {

        count = (ViewBag.PageSize * (ViewBag.CurrentPage - 1));
    }
}

<div class="row">
 <div class="col-xs-12">
        @*<div class="pass-table">
            @if (Model.CommitteMeetingPapersList != null)
            {
                if (Model.CommitteMeetingPapersList.Count() > 0)
                {  
                                 
                <div class="table-header">
                      Transfered Paper(s)
                </div>        
                <table class="table table-bordered  dataTable" id="sample-table-7" aria-describedby="sample-table-7_info">
                    <thead>
                        <tr role="row">
                            <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1">
                                <input type="checkbox" class="chkListDeleted" id="chkSelAllDeleted" /></th>                            
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-6" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">RefNo</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-6" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Subject</th>
                           @* <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-6" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Meeting Date</th>*@
                            @* <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="text-align: center"><i class="fa fa-download bigger-120" title="View/Download"></i></th>
                         </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        @foreach (var item in Model.CommitteMeetingPapersList)
                        {
                          
                            count = count + 1;                                       
                            <tr>
                                <td>
                                    <input id='chkpDeleted_@count' type="checkbox" class="chkpDeleted" name="@item.Id" onclick="AddToListDeleted(this.id, this.name)"/>

                                </td>
                                <td class="hidden-sm hidden-xs action-button">
                                    <span class="label label-sm label-danger arrowed arrowed-right" style="height: 18px">@item.RefNo</span>

                                </td>

                                <td>@item.Subject </td>
                              @*  <td>@Convert.ToDateTime(item.AssignedDate).ToString("dd/MM/yyyy")</td>*@
                                 @{
                                    @*string path = FileSettings.SettingValue + item.PdfPath;*@
                                }
                               @* <td><a href="@path" target="_blank">
                                    <img src="~/Images/Common/PDF.png" alt="Download PDF" title="Download PDF" width="35" height="35" /></a>
                                </td>
                            </tr>
									
                        }
                    </tbody>
                </table>              
				 
                }
                else
                {
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-info">

                            <strong>No Paper Assigned For Selected Date !!!</strong><br />


                        </div>
                    </div>
                </div>
                }
            }

        </div>
     </div>
</div>

<br />

@*Modal for Only Receive  *@


<div id="efileidsDeleted" class="hdneId" style="display:none;"></div>


<input type="hidden" id="hdnefileidDeleted" />

<script>   

    //////////////////////////////Server Side Paging////////////////////////////////////////
    $(document).ready(function () {   
       

    }); 


    function AddToListDeleted(chkid, efileattid) {

        var status = $('#' + chkid + '').is(':checked');
        if (status == true) {
            var eids = efileattid + ',';
            $('#efileidsDeleted').append(eids);
        }
        else {

            var a = $('#efileidsDeleted').html();
            var b = a.replace(efileattid + ',', " ");
            $('#efileidsDeleted').empty();
            $('#efileidsDeleted').append(b);
        }
      

    }
   
 
   




    
    function myFunction() {
        var x;
        if (confirm("Press a button!") == true) {
            x = "You pressed OK!";
        } else {
            x = "You pressed Cancel!";
        }
        document.getElementById("demo").innerHTML = x;
    }
   
</script>
