﻿@model SBL.DomainModel.Models.eFile.eFileAttachments
@using SBL.eLegistrator.HouseController.Web.Helpers
@{
    var FileSettings = (SBL.DomainModel.Models.SiteSetting.SiteSettings)Helper.ExecuteService("SiteSetting", "GetSecureFileSettingLocation", null);

    int count = 0;
    if (ViewBag.CurrentPage > 1)
    {

        count = (ViewBag.PageSize * (ViewBag.CurrentPage - 1));
    }
}
<div class="table-header">
    <span class="label label-lg label-yellow arrowed-right" style="height: 24px; font-weight: bold; font-size: 14px;">Add Paper(s) for Committee Mettings</span>
    </div>
 <div class="col-xs-12" style="padding-bottom:10px;margin-left:-12px;">
            <select id="ddlPaperType" onchange="getChangePaperType();" style="display:none">
                <option value="Recieved">Recieved</option>
                 <option value="Sent">Sent</option>
            </select>
     <div style="width: 68%; float: left">
                                <div style="width: 18%; float: left">
                                Meeting Year & Date   
                                    </div>      
                                 <div style="width: 68%; float: left">    
                                     <select id="ddlMeetingYearMain" onchange="SelectDateForYearMain();" style="width:80px;">
                                         <option value="0">Year</option>
                                          <option value="2015">2012</option>
                                         <option value="2016">2013</option>
                                         <option value="2017">2014</option>
                                         <option value="2015">2015</option>
                                         <option value="2016">2016</option>
                                         <option value="2017">2017</option>
                                         <option value="2018">2018</option>
                                         <option value="2019">2019</option>
                                         <option value="2020">2020</option>
                                         <option value="2021">2021</option>
                                         <option value="2022">2022</option>
                                         <option value="2019">2023</option>
                                         <option value="2020">2024</option>
                                         <option value="2021">2025</option>
                                         <option value="2022">2026</option>
                                         <option value="2022">2027</option>
                                         <option value="2019">2028</option>
                                         <option value="2020">2029</option>
                                         <option value="2021">2030</option>
                                         <option value="2022">2031</option>
                                     </select>
                                     <select id="ddlMeetingDatesMain" style="width:120px;" onchange="getChangePaperTypePending();">
                                         <option value="1">Pending</option>
                                         @*<option value="2">Fixed</option> *@                                       
                                     </select>                                   
                                     </div>
                            </div>
      <select id="ddlPaperTypePending" onchange="getChangePaperTypePending();" style="display:none;">
                <option value="Pending">Pending</option>
                 @*<option value="Fixed">Fixed</option>*@
            </select>
 </div>

  

<div id="divListViewAll">
	
</div>


<input type="hidden" id="hdnefileid" />
@*<script src="~/assets/js/bootstrap.min.js"></script>*@

<script>    
    //////////////////////////////Server Side Paging////////////////////////////////////////
    $(document).ready(function () {        
        getChangePaperType();
    });

    function SelectDateForYearMain(strBackdate) {
        var BackDate = "";
        if (strBackdate != null && strBackdate != "") {
            BackDate = strBackdate;            
        }
        var selectedYear = $("#ddlMeetingYearMain").val();
        if (selectedYear != '0') {

            try {
                $.ajax({
                    url: "/HouseCommittee/HouseCommitteePapersMeetings/getDateByYear",
                    type: 'GET',
                    data: {
                        selectedYear: selectedYear
                    },
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function () {
                        $("#loader-wrapper").show();
                    },
                    success: function (data) {
                        $("#loader-wrapper").hide();
                        $("#SavedPapersDataByDate").html("");
                        if (data != null) {

                            var memberCol = data["CommitteMeetingPapersList"];
                            if (memberCol.length > 0) {
                                var selectOpt = '<option value="1">Pending</option>';
                                $.each(memberCol, function (e, index) {
                                    if (BackDate != null && BackDate != "") {
                                        if (memberCol[e]["StrAssignedDate"] == BackDate) {
                                            selectOpt += '<option value="' + memberCol[e]["StrAssignedDate"] + '" selected="selected">' +
                                        memberCol[e]["StrAssignedDate"] + '</option>';
                                        }
                                        else {
                                            selectOpt += '<option value="' + memberCol[e]["StrAssignedDate"] + '" >' +
                                        memberCol[e]["StrAssignedDate"] + '</option>';
                                        }
                                    }
                                    else {
                                        selectOpt += '<option value="' + memberCol[e]["StrAssignedDate"] + '" >' +
                                        memberCol[e]["StrAssignedDate"] + '</option>';
                                    }
                                });
                               //selectOpt += '<option value="2">Fixed</option>';
                                $("#ddlMeetingDatesMain").html(selectOpt);

                            }
                            else {
                                var selectOpt = '<option value="1">Pending</option>';
                                //var selectOpt = '<option value="1">Pending</option><option value="2">Fixed</option>';
                                $("#ddlMeetingDatesMain").html(selectOpt);
                            }
                        }
                        $('.chosen-select').trigger("chosen:updated");
                    }
                });

            } catch (e) {

            }
        }
        else {
            var selectOpt = '<option value="1">Pending</option>';
            //var selectOpt = '<option value="1">Pending</option><option value="2">Fixed</option>';
            $("#ddlMeetingDatesMain").html(selectOpt);
            getChangePaperTypePending();
        }
    }

    function SelectedDateDataMain() {

        if ($("#ddlMeetingDatesMain").val() != "") {

            //$("#selectedDateMain").text("Selected Date : " + $('#ddlMeetingDatesMain').val());

            //$("#loader-wrapper").show();
            //$.ajax({
            //    url: "/HouseCommittee/HouseCommitteePapersMeetings/GetDateDataForMeeting",
            //    type: 'GET',
            //    data: {                    
            //        DateSelected: $("#ddlMeetingDates").val()
            //    },
            //    success: function (data) {
            //        if (data) {
            //            //$("#SavedPapersDataByDate").html("");
            //            //$("#SavedPapersDataByDate").html(data);
            //            //$("#loader-wrapper").hide();

            //            $('#divManualsAttachments').show();
            //            SelectedDateFromDDL = $("#ddlMeetingDates").val();


            //        } else { alert("error"); }
            //    },
            //    error: function (xhr, ajaxOptions, thrownError) {
            //        alert(xhr.responseText);
            //        alert(thrownError);
            //    }
            //});
        }
        else {
            alert("Select Meeting Year and Date !!");
        }
    }

    function getChangePaperType() {
        var PType = $("#ddlPaperType option:selected").text();
        var PTypePending = $("#ddlMeetingDatesMain option:selected").text();
        ReceivePaperList(1, 25, PType, PTypePending);
    }

    function getChangePaperTypePending(strDate) {       
        var PTypePending = "";
        var PType = $("#ddlPaperType option:selected").text();
        if (strDate != null && strDate != "") {
            PTypePending = strDate;
        } else {
            PTypePending = $("#ddlMeetingDatesMain option:selected").text();
        }
        ReceivePaperList(1, 25, PType, PTypePending);
    }

    function ReceivePaperList(pageId, pageSize, PType, PTypePending) {
        
        $("#loader-wrapper1").show();
        $.ajax({
            url: "/HouseCommittee/HouseCommitteePapersMeetings/GetReceiveSentPaperList",
            type: 'GET',
            data: { pageId: pageId, pageSize: pageSize, PType: PType, PTypePending: PTypePending },
            success: function (data) {
                if (data) {
                    $('#divListViewAll').empty();
                    $('#divListViewAll').html(data);
                    $("#loader-wrapper1").hide();
                    $('#resize-left').width('100%');

                    if (PTypePending == "Pending") {
                        $("#CancelPapers").hide();
                        $("#DeletePapers").show();
                        $("#DownLoadPapers").hide();
                        $("#PhosponedPapers").hide();
                        
                        
                    }
                    else {
                        $("#CancelPapers").show();
                        $("#DeletePapers").hide();
                        $("#DownLoadPapers").show();
                        $("#PhosponedPapers").show();
                    }
                    //$('#spnScrollPosition').html('1');                    
                    //$("#MainDiveThreeTire").show();                   

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });





    }

</script>
