﻿ 

<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }

    .ui-menu-item {
        border-bottom: 1px solid white;
        background: #F5A9A9;
        float: left;
        width: 120px;
        font-family: Constantia;
        color: white;
        font-size: 20px;
    }

    .ui-autocomplete {
        max-height: 250px;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>
<div style="margin: 10px; padding: 10px; border: 2px dotted gray">

    <form method="post" action="/SchemeSetup/SaveQualification" id="UpdateMedicineForm">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="input-group col-md-5 pull-right">
                    <span class="input-group-addon">
                        <i class="ace-icon fa fa-check"></i>
                    </span>

                    <input type="text" name="appendedInputButtons" class="form-control search-query" id="appendedInputButtons" placeholder="Type your query">
                    <span class="input-group-btn">
                        <button type="button" onclick="SearchMedicine()" class="btn btn-purple btn-sm">
                            <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                            Search
                        </button>
                    </span>
                </div>
                <div class=" col-md-10 " id="ErrorDiv" style="display: none;">
                    <span class='ErrorMessage pull-right'>
                        <br>
                        Please Enter Keywords for Searching....</span>
                </div>
            </div>
            <hr />
            <div style="margin-left: 10px;">
                <div id="UpdateSearchMedicineResult"></div>
            </div>
        </div>
    </form>

</div>


<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>


<script>

    $(document).ready(function () {

        $('#appendedInputButtons').focus();

        $("#appendedInputButtons").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "/Medicine/GetUpdateAutoCompleteData",
                    data: "{'SearchWord':'" + request.term + "'}",
                    dataType: "json",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.MedicineName,
                                value: item.MedicineName
                            }
                        }));
                    },
                    error: function (result) {

                    }
                });
            }
        });

    });

    function SearchMedicine() {
        var valid = true;
        var Search = document.getElementById("appendedInputButtons").value;
        if (Search == "") {
            $('#ErrorDiv').show();
            valid = false;
        }
        else {
            $('#ErrorDiv').hide();
        }
        if (valid == true) {
            $.ajax({
                type: "POST",
                url: '/Medicine/SearchUpdateMedicineData',
                data: '{ SearchWord: "' + Search + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#UpdateSearchMedicineResult').empty();
                    $('#UpdateSearchMedicineResult').append(result);
                },
                error: function (error) {
                    $('#UpdateSearchMedicineResult').empty();
                    $('#UpdateSearchMedicineResult').append(error.responseText);
                },
                complete: function (results) {
                    $('#loader-wrapper').hide();
                }
            });
        }
    }


    function GetDataList(pageId) {
        var PageSize = $("#PazeSize").val();
        var Search = document.getElementById("appendedInputButtons").value;
        $.ajax({
            type: "POST",
            url: '/Medicine/GetUpdateMedicineByPaging',
            data: '{SearchWord:"' + Search + '", pageId: "' + pageId + '",pageSize: "' + PageSize + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#UpdateSearchMedicineResult').empty();
                $('#UpdateSearchMedicineResult').append(result);
            },
            error: function (error) {
                $('#UpdateSearchMedicineResult').empty();
                $('#UpdateSearchMedicineResult').append(error.responseText);

            },
            complete: function (results) {
                $('#loader-wrapper').hide();
            }
        });
    }



    function Activate_Deactivate_Medicine() {

        var QData = $('#UpdateMedicineForm').serialize();
        $.ajax({
            cache: false,
            async: true,
            type: "POST",
            url: '/Medicine/UpdateMedicine',
            data: QData,
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#UpdateSearchMedicineResult').empty();
                $('#UpdateSearchMedicineResult').append(result);

            },
            error: function (result) {
                $('#UpdateSearchMedicineResult').empty();
                $('#UpdateSearchMedicineResult').append(result.responseText);
            },

            complete: function (result) {
                $('#loader-wrapper').hide();
            }
        });

    }

</script>
