﻿@model SBL.DomainModel.Models.Notice.tMemberNotice
@{
    int count = 0;
    int startpage = 0;
    int endPage = 0;
    float rcnt = @Model.ResultCount;
    float rperPage = @Model.RowsPerPage;
    float cnt = rcnt / rperPage;
    int b = (int)cnt;
    float c = (float)cnt - b;  
}

@if (c > 0)
{
    count = b + 1;
}
else
{
    count = b;
}

@{
    startpage = ((@Model.selectedPage * 10) - 10) + 1;
    endPage = startpage + 9;           
}

@if (Model.loopStart <= 0)
{
    Model.loopStart = 1;
    Model.loopEnd = 5;
}

<style>
    a.classname {
        background: url(/Images/pdf.jpg) no-repeat top center;
        background-size: 25px 25px;
        display: block;
        height: 32px;
        text-indent: -9999px;
    }
</style>

<div class="grid_cantainer">

    @if (count > 0)
    {
        <span id="OperationValidation" class="errormsg"></span>
        <div class="grid-ex-footer">
            <div class="grid-pagination">
                @if (count < Model.loopEnd)
                {
                    Model.loopEnd = count;
                }

                <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,1,1,5)" title="@Resources.Common.GoToTheFirstPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">@Resources.Common.FirstPage</span></a>
                @if (Model.loopStart > 5)
                {                           
                    <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)" title="@Resources.Common.GoToThePreviousPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">@Resources.Common.PreviousPage</span></a>
                }

                <ul class="gridpage-numbers">
                    @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                    {
                        if (i == @Model.selectedPage)
                        {                                    
                        <li><span class="grid-page-selected">@i</span></li>
                        }
                        else
                        {
                        <li><a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                        }
                    }
                </ul>
                @if (Model.loopStart + 5 < @count)
                {
                    <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)" title="@Resources.Common.GoToTheNextPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">@Resources.Common.NextPage</span></a>
                }
                <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@count,@count-5,@count)" title="@Resources.Common.GoToTheLastPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">@Resources.Common.LastPage</span></a>
                <span class="grid-page-info">@Model.loopStart - @Model.loopEnd @Resources.Common.Of @count @Resources.Common.Pages.</span>
            </div>
        </div>
    }

    <div>
        @if (Model.memberNoticeModelList != null)
        {
            if (Model.memberNoticeModelList.Count > 0)
            {
            <table style="width: 100%" class="simple-table-style">
                <tr>
                    <th class="grid_th" style="border-width: 1.5px; width: 70px; height: 30px; text-align: center">@Resources.Notices.PaperType</th>
                    <th class="grid_th" style="border-width: 1.5px; width: 90px; height: 30px; text-align: center">@Resources.Notices.BusinessType</th>
                    <th class="grid_th" style="border-width: 1.5px; width: 50px; height: 30px; text-align: center">@Resources.Notices.NoticeNumber</th>
                    <th class="grid_th" style="border-width: 1.5px; width: 100px; height: 30px; text-align: center">@Resources.Notices.NoticeSubject</th>
@*                    <th class="grid_th" style="border-width: 1.5px; width: 100px; height: 30px; text-align: center">@Resources.Notices.ReplyPaperSubmitted</th>*@
                    <th class="grid_th" style="border-width: 1.5px; width: 50px; height: 30px; text-align: center">@Resources.Notices.SubmittedBy</th>
                    <th class="grid_th" style="border-width: 1.5px; width: 100px; height: 30px; text-align: center">@Resources.Notices.NoticeToMinister</th>
                    <th class="grid_th" style="border-width: 1.5px; width: 100px; height: 30px; text-align: center">@Resources.Notices.NoticeToDept</th>
                    <th class="grid_th" style="border-width: 1.5px; width: 92px; height: 30px; text-align: center">@Resources.Notices.DateReceived</th>
                </tr>

                @foreach (var item in Model.memberNoticeModelList)
                {
                    var trID = @item.NoticeId;
                    <tr id="@trID">
                        <td style="border-width: 1px; text-align: left; vertical-align: top;">@Resources.Notices.PaperTypeNotice</td>
                        <td style="border-width: 1px; text-align: left; vertical-align: top;">@item.BusinessType</td>
                        <td style="border-width: 1px; text-align: left; vertical-align: top;">@item.NoticeNumber</td>
                        <td style="border-width: 1px; text-align: left; vertical-align: top;">@Html.Raw(@item.Subject)</td>
                        @*<td style="border-width: 1px; text-align: left; vertical-align: top;"></td>*@
                        <td style="border-width: 1px; text-align: left; vertical-align: top;">@item.MemberName</td>
                        <td style="border-width: 1px; text-align: left; vertical-align: top;">@item.MinisterName</td>
                        <td style="border-width: 1px; text-align: left; vertical-align: top;">@item.DepartmentName</td>
                        <td style="border-width: 1px; text-align: center; vertical-align: top;">@item.NoticeDate.ToString("dd/MM/yyyy") @item.NoticeTime.ToString(@"h\:mm")</td>
                    </tr>
                }
            </table>
            }
            else
            {
            <p>
                @Resources.Common.NoRecords
            </p>
            }
        }
        else
        {
            <p>
                @Resources.Common.NoRecords
            </p>
        }
    </div>

    @if (count > 0)
    {
        <div class="grid-ex-footer">
            <div class="grid-pagination">
                @if (count < Model.loopEnd)
                {
                    Model.loopEnd = count;
                }

                <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,1,1,5)" title="@Resources.Common.GoToTheFirstPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">@Resources.Common.FirstPage</span></a>
                @if (Model.loopStart > 5)
                {                           
                    <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)" title="@Resources.Common.GoToThePreviousPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">@Resources.Common.PreviousPage</span></a>
                }

                <ul class="gridpage-numbers">
                    @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                    {
                        if (i == @Model.selectedPage)
                        {                                    
                        <li><span class="grid-page-selected">@i</span></li>
                        }
                        else
                        {
                        <li><a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                        }
                    }
                </ul>
                @if (Model.loopStart + 5 < @count)
                {
                    <a href="javascript:void(0);" onclick="NextAndPreviousButtonPending(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)" title="@Resources.Common.GoToTheNextPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">@Resources.Common.NextPage</span></a>
                }
                <a href="javascript:void(0);" onclick="NextButtonPending(@Model.RowsPerPage,@count,@count-5,@count)" title="@Resources.Common.GoToTheLastPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">@Resources.Common.LastPage</span></a>
                <span class="grid-page-info">@Model.loopStart - @Model.loopEnd @Resources.Common.Of @count @Resources.Common.Pages.</span>
            </div>
        </div>
    }
</div>
