﻿<style>          
    
    .fileMain{
        color: #000;
        height: 700px;
        /*width: 800px;*/ 
        background: url(/Content/img/file_text_red.jpg) repeat 0 0 transparent;  
        /*position: relative;*/ 
    }
    </style>


 <div class="fileMain">
     </div>