﻿@model SBL.eLegistrator.HouseController.Web.Areas.eFile.Models.eFileViewModel
@{
    ViewBag.Title = "CreateeFile";
    //Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

<style type="text/css">
body{
    overflow:hidden;
}

#flipbook{
    width:1100px;
    /*height:600px;*/
    top:15px;
    margin-left: 0px;
    /*background-image: url(../Content/img/pages-depth.png);
    box-shadow: 0 4px 10px #666;*/
}

#flipbook .page{
    width:800px;
    height:950px;
    background-color:white;
    /*line-height:300px;*/
    font-size:20px;
    text-align:center;
}

#flipbook .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective:2000px;
    -ms-perspective:2000px;
    -o-perspective:2000px;
    perspective:2000px;
}

#flipbook .hard{
    background:#ccc !important;
    color:#333;
    /*-webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;*/
    font-weight:bold;
    box-shadow: 0 4px 10px #666;
    height:250px;


}

#flipbook .odd{
    background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
    background-image:-webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    
}

#flipbook .even{
    background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
    background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:linear-gradient(left, #fff 95%, #dadada 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
}

#flipbook .shadow{
box-shadow: 0 -3px 17px #666;
}
 

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/




    

</style>

@*@Html.Action("LeftNavigationMenu", "SuperAdmin", new { Area="SuperAdmin"})*@
@*<div class="depth" style="width: 16px; right: 4px;top:440px;left:840px; "></div>*@
<div class="main-content" >

    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
         @*   <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("AddeFile", "eFile", new { Area="eFile"})">Home</a>
            </li>   *@
            <li>
                <a href="@Url.Action("eFileListAll", "eFile", new { Area="eFile"})">Back to eFile List</a>
            </li>        
            @*  <li class="active">Create eFile</li>*@
        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
        @*<div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>*@

    </div>

        <div class="page-content" > 

       @*     <div class="page-header">
            <h1>@Resources.MasterDataDashboard.MasterData
                               
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    eFile
                </small>
            </h1>
        </div>*@


            <div class="widget-header widget-header-blue widget-header-flat">
         @*   @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.CreateCommitteeType</h4>
            }
            else
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.EditCommitteeType</h4>
           
            }*@

     @*       <h4 class="widget-title lighter">Create eFile</h4>*@
        </div>

<div id="flipbook"> 

    <div class="hard">
        <div class="shadow">
            @Html.Partial("_eFileBookDetailPartial")
        </div>
    </div> 

    <div class="hard">
        <div class="shadow">@Html.Partial("_eFileBoard")</div>
    </div>

    <div style="background-color:gray;">
        <div style="padding: 12px;font-weight: bold;">Index</div>        
        <div>
            @Html.Partial("eFileIndex",Model.DocumentType)
        </div>
    </div>

    <div> Page 2 </div>
    <div> Page 3 </div>
    <div> Page 4 </div>
    <div class="hard">@Html.Partial("_eFileBoard")</div>
    <div class="hard">@Html.Partial("_eFileBoard")</div>
</div>
@*<div id="dialog" title="Basic dialog">
  <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>*@

            </div>
    </div>




<script src="~/Scripts/jquery-latest.min.js"></script>
<script type="text/javascript" src="~/lib/turn.js"></script>
<script type="text/javascript">
    $("#flipbook").turn({
        width: 1100,
        height: 650,
        //autoCenter: true
        
    });
   
    //$("#flipbook").turn("pages", 15);
   
   // $("#Index").click(function () {
      
   //    $( "#dialog" ).dialog();
   //});

</script>


@*<script type="text/javascript">

//function loadApp() {

//	// Create the flipbook

//	$('.flipbook').turn({
//			// Width

//			width:922,
			
//			// Height

//			height:600,

//			// Elevation

//			elevation: 50,
			
//			// Enable gradients

//			gradients: true,
			
//			// Auto center this flipbook

//			autoCenter: true

//	});
//}

//// Load the HTML4 version if there's not CSS transform

//yepnope({
//	test : Modernizr.csstransforms,
//	yep: ['~/lib/turn.js'],
//	nope: ['~/lib/turn.html4.min.js'],
//	both: ['~/Content/basic.css'],
//	complete: loadApp
//});

</script>*@
