﻿@model List<SBL.DomainModel.Models.Document.mDocumentType>
@{int count = 0;}
<div style="padding:46px 80px;">

    <table style="font-family: Arial, Helvetica, sans-serif;font-style: normal;font-size: 15px;">
        @foreach(var item in Model){
            count=count+1;
        <tr>
            <td>@(count+".")</td>
            <td>
                <a href="#">
                @item.DocumentType
                </a>
            </td>
        </tr>
        }
    </table>

</div>