﻿@using SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models
@model  List<SBL.DomainModel.Models.FormTR2.Form16>

<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }
</style>
<link href="~/assets/css/datepicker.css" rel="stylesheet" />


<div class="page-content">
    <!-- #section:settings.box -->

    @*      <div class="page-header">
            <h1>Bill for Members
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.List
                </small>
            </h1>
        </div>*@
    <div id="Menu">
        <div class="row">
            <div class="col-xs-12">

                <div class="table-responsive ">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="alert alert-block alert-danger" id="SearchAlertDiv" style="display: none;">
                        <strong><i class="ace-icon fa fa-check-square-o"></i>Error! </strong><span id="MsgSpan">Please select at least one field </span>
                    </div>
                    <div id="divDataContainerForm16">
                        @{Html.RenderPartial("~/Areas/AccountsAdmin/Views/SaveTR2Form/_Form16List.cshtml", Model);}
                    </div>

                    <!-- /.col -->
                </div>
            </div>
            <!-- /.row -->
        </div>


    </div>
    <!-- /.page-content -->
</div>



<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
@*<script src="~/assets/js/bootstrap.min.js"></script>*@
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>

<script>
    $(document).ready(function () {

        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "mm/dd/yyyy",
            defaultDate: new Date()
        });

        $('.RemoveBorder').keypress(function () {
            var Id = this.id;
            $("#" + Id).next().hide();
            $("#" + Id).css("border", "1px solid green");
        });

        $('.RemoveDdlBorder').change(function () {

            var Id = this.id;
            if ($("#" + Id).val() != '') {
                $("#" + Id).next().hide();
                $("#" + Id).css("border", "1px solid green");
            }
            else {
                $("#" + Id).after("<span class='ErrorMessage'>Required</span>");
                $("#" + Id).css("border", "1px solid red");
            }

        });

        $('.date-picker').datepicker({ autoclose: true }).on('changeDate', function (ev) {

            var Id = this.id;
            if ($("#" + Id).val() != '') {
                $("#" + Id).next().hide();
                $("#" + Id).css("border", "1px solid green");
            }
            else {
                $("#" + Id).after("<span class='ErrorMessage'> Date is  Required</span>");
                $("#" + Id).css("border", "1px solid red");
            }
        });
    });

    function GetDataList(pageId) {
        var PageSize = $("#PazeSize").val();
        $.ajax({
            type: "POST",
            url: ' /AccountsAdmin/SaveTR2Form/GetBillByPaging',
            data: '{ pageId: "' + pageId + '",pageSize: "' + PageSize + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainerForm16').empty();
                $('#divDataContainerForm16').append(result);
            },
            error: function (error) {
                $('#divDataContainerForm16').empty();
                $('#divDataContainerForm16').append(error.responseText);

            },
            complete: function (results) {
                $('#loader-wrapper').hide();
            }
        });
    }

    function SaveRTGS() {
        $('.ErrorMessage').remove('');
        var IsValid = true;

        if ($('#TransferAmt').val() == '') {
            $('#TransferAmt').css("border", "1px solid red");
            $('#TransferAmt').after("<span class='ErrorMessage'><br> Transfer Amt  Required</span>");
            IsValid = false;
        }
        //if ($('#ComissionAmt').val() == '') {
        //    $('#ComissionAmt').css("border", "1px solid red");
        //    $('#ComissionAmt').after("<span class='ErrorMessage'><br> Comission Amt Required</span>");
        //    IsValid = false;
        //}
        if ($('#RemAcNo').val() == '') {
            $('#RemAcNo').css("border", "1px solid red");
            $('#RemAcNo').after("<span class='ErrorMessage'><br><br>Remitter Account No.  Required</span>");
            IsValid = false;
        }
        if ($('#RemName').val() == '') {
            $('#RemName').css("border", "1px solid red");
            $('#RemName').after("<span class='ErrorMessage'><br> Remitter Name  Required</span>");
            IsValid = false;
        }
        if ($('#RemAdd').val() == '') {
            $('#RemAdd').css("border", "1px solid red");
            $('#RemAdd').after("<span class='ErrorMessage'><br> Remitter Address Required</span>");
            IsValid = false;
        }
        if ($('#EmpEmailId').val() == '') {
            $('#EmpEmailId').css("border", "1px solid red");
            $('#EmpEmailId').after("<span class='ErrorMessage'><br> Emp EmailId Required</span>");
            IsValid = false;
        }
        if ($('#FirmId').val() == '') {
            $('#FirmId').css("border", "1px solid red");
            $('#FirmId').after("<span class='ErrorMessage'><br> Firm Id Required</span>");
            IsValid = false;
        }
        if (IsValid == true) {
            var QData = $('#RTGSForm').serialize();
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: '/RtgsSoft/SaveRtgsSoft',
                data: QData,
                beforeSend: function () {
                    $('#RTGSModel').modal('hide');
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainerRTGS').empty();
                    $('#divDataContainerRTGS').append(result);
                },
                error: function (error) {
                    $('#divDataContainerRTGS').empty();
                    $('#divDataContainerRTGS').append(error.responseText);
                },
                complete: function (result) {
                    $('#loader-wrapper').hide();
                    setTimeout(function () {
                        $('#MsgDiv').slideUp("slow");
                    }, 6000);
                }
            });
        }
    }

    function SerachData() {

        var CreateDateFrom = $('#CreateDateFrom').val();
        var CreateDateTo = $('#CreateDateTo').val();


        $('#AlertDiv').hide();
        $('.ErrorMessage').remove('');
        var IsValid = true;

        if (CreateDateFrom == '' && CreateDateTo == '') {
            $('#SearchAlertDiv').css("border", "1px solid red");
            $('#SearchAlertDiv').show();
            IsValid = false;
        }
        else {
            $('#SearchAlertDiv').hide();
        }

        if (CreateDateFrom == '' && CreateDateTo != '') {
            $('#CreateDateFrom').css("border", "1px solid red");
            $('#CreateDateFrom').after("<span class='ErrorMessage'><br> Please Fill it</span>");

            IsValid = false;
        }
        if (CreateDateTo == '' && CreateDateFrom != '') {
            $('#CreateDateTo').css("border", "1px solid red");
            $('#CreateDateTo').after("<span class='ErrorMessage'><br> Please Fill it</span>");

            IsValid = false;
        }


        if ($('#CreateDateTo').val().trim() != '' && $('#CreateDateFrom').val().trim() != '') {
            if (Date.parse($('#CreateDateFrom').val().trim()) > Date.parse($('#CreateDateTo').val().trim())) {
                $('#CreateDateTo').css("border", "1px solid red");
                $('#CreateDateTo').after("<span class='ErrorMessage'><br> Created Date To must be greate or equal  Created From </span>");
                IsValid = false;
            }
        }


        if (IsValid == true) {
            $.ajax({
                type: "POST",
                url: '/AccountsAdmin/RtgsSoft/SerchRtgsSoftCopy',
                data: '{ CreatedOnFromS: "' + CreateDateFrom + '",CreatedOnToS: "' + CreateDateTo + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    $('#divDataContainerRTGS').empty();
                    $('#divDataContainerRTGS').append(result);

                },
                error: function (error) {
                    $('#divDataContainerRTGS').empty();
                    $('#divDataContainerRTGS').append(error.responseText);

                },
                complete: function (results) {
                    $('#loader-wrapper').hide();

                }
            });
        }
    }

    function PopulateRTGS(Id, Action) {
        $.ajax({
            type: "POST",
            url: '/RtgsSoft/PopulateRtgsSoft',
            data: '{ Id: "' + Id + '",Action: "' + Action + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#RTGSFormDiv').empty();
                $('#RTGSFormDiv').append(result);
                $('#RTGSModel').modal('show');
            },
            error: function (error) {
                $('#RTGSFormDiv').empty();
                $('#RTGSFormDiv').append(error.responseText);
                $('#RTGSModel').modal('show');
            },
            complete: function (results) {
                $('#loader-wrapper').hide();
            }
        });
    }
    function DeleteRTGS(RTGSId) {
        var PageSize = $("#PazeSize").val();
        var pageId = $("#pageId").val();
        $.ajax({
            type: "POST",
            url: '/RtgsSoft/DeleteRtgsSoft',
            data: '{ Id: "' + RTGSId + '",pageId: "' + pageId + '",pageSize: "' + PageSize + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (result) {
                $('#divDataContainerRTGS').empty();
                $('#divDataContainerRTGS').append(result);

            },
            error: function (result) {
                $('#divDataContainerRTGS').empty();
                $('#divDataContainerRTGS').append(result.responseText);
            },
            complete: function (result) {
                $('#loader-wrapper').hide();
            }
        });
    }

    function DownloadRTGSNotepad() {
        $('#loader-wrapper').show();
        var CreateDateFrom = $('#CreateDateFrom').val();
        var CreateDateTo = $('#CreateDateTo').val();
        
        var ss = "<input type='hidden' name='CreatedOnFromS' value='" + CreateDateFrom + "' >" +
         "<input type='hidden' name='CreatedOnToS' value='" + CreateDateTo + "' >";


        $('body').prepend("<form method='post' action='/RtgsSoft/DownloadNotepad' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
        $('#tempForm').submit();
        $("tempForm").remove();

        setTimeout(function () {
            $('#loader-wrapper').hide();
        }, 2000);


    }

</script>


<!--Create Item Subscription Modal -->
<div class="modal fade " tabindex="-1" role="dialog" id="RTGSModel" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="EstablishBillTitle">Create RTGS Soft Copy </h4>
            </div>
            <form method="post" action="/SchemeSetup/SaveQualification" id="RTGSForm">
                <div class="modal-body">
                    <div id="RTGSFormDiv"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="UpdateRTGS" onclick="SaveRTGS();" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

 