﻿@model SBL.DomainModel.Models.Diaries.DiaryModel

<div class="widget-box">
    <div class="widget-header widget-header-flat">
        <div class="widget-toolbar no-border">


            @Html.HiddenFor(m => m.ModuleName, new { @id = "HdnModuleIdForMin" })
               @Html.HiddenFor(m => m.PaperEntryType, new { @id = "HdnModuleid" })
             @Html.HiddenFor(m => m.ModuleId, new { @id = "HdnModuleid1" })
            @if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.LanguageID == "7C4F28F6-02FC-4627-993D-E255037531AD")
            {
                if (Model.ResultCount > 0)
                {
                
                <button class="btn btn-xs btn-primary bigger" onclick="ListByPaperType('@Model.PaperEntryType')">
                    <i class="ace-icon fa fa-table"></i>
                    @Resources.Member.List
                </button>
                <button class="btn btn-xs btn-primary bigger" style="display:none;" id="btnSearch" onclick="SearchByType('@Model.PaperEntryType')">
                    <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                    @Resources.Member.AdvanceSearch
                </button>               
                }
            }
            else
            {
                if (Model.ResultCount > 0)
                {
                
                <button class="btn btn-xs btn-primary bigger" onclick="ListByPaperType('@Model.PaperEntryType')">
                    <i class="ace-icon fa fa-table"></i>
                    @Resources.Member.List
                </button>
                <button class="btn btn-xs btn-primary bigger" style="display:none;" id="btnSearch" onclick="SearchByType('@Model.PaperEntryType')">
                    <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                    @Resources.Member.AdvanceSearch
                </button>               
                }
            }

        </div>
    </div>
</div>

<div id="divbindList">
</div>
<script>
    jQuery(document).ready(function () {

        if ($("#HdnModuleIdForMin").val() != 'Access Control') {
            $("#btnSearch").css("display", "inline");
        }
        $("#HdnModuleid").val()
        {
            debugger
            if ($("#HdnModuleid").val() != "Pending Request" && $("#HdnModuleid").val() != "Accepted Request" && $("#HdnModuleid").val() != "Rejected Request" && $("#HdnModuleid").val() != "लंबित अनुरोध" && $("#HdnModuleid").val() != "स्वीकृत अनुरोध" && $("#HdnModuleid").val() != "अस्वीकृत अनुरोध") {
                $('.widget-box').show();
                $("#loader-wrapper").show();
                $.ajax({
                    url: "/PaperLaidMinister/PaperLaidMinister/GetListByPaperType",
                    type: 'GET',
                    data: {
                        PaperType: $("#HdnModuleid").val(),
                        ModuleId: $("#HdnModuleid1").val(),
                        AssemId: '@Model.AssemblyID',
                SessId: '@Model.SessionID',
               @*ModuleName: '@Model.ModuleName'*@
                @*ActionIds: '@Model.RIds'*@
            },
            success: function (data) {
                if (data) {
                    $('#outerDiv').hide();
                    $("#outerDiv").html("");
                    $('#innerDiv').show();
                    $("#divbindList").html(data);
                    $("#RightSidebar").html("");
                    $("#FormPart").html("");
                    $("#innerDiv").css("display", "block");
                    $("#MainDiveTwoTire").css("display", "none");
                    //  ClearControls();
                    $("#loader-wrapper").hide();

                }
                //else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }
    else {
                
        $('.widget-box').show();
        $("#loader-wrapper").show();
        $.ajax({
            url: "/PaperLaidMinister/PaperLaidMinister/GetListByPaperType",
            type: 'GET',
            data: {
                PaperType: $("#HdnModuleid").val(),
                ModuleId: $("#HdnModuleid1").val(),
                AssemId: '@Model.AssemblyID',
                    SessId: '@Model.SessionID',
                    @*ModuleName: '@Model.ModuleName'*@
                    @*ActionIds: '@Model.RIds'*@
                },
                success: function (data) {
                    if (data) {
                        document.getElementById("innerDiv").style.display = "none";
                        document.getElementById("MainDiveTwoTire").style.display = "block";

                        $("#outerDiv").html("");
                        $("#outerDiv").hide();
                        $("#SuccessDiv").hide();
                        $("#divDataContainer").empty();
                        $("#RightSidebar").empty();
                        $("#divDataContainerTwoTire").empty();
                        $("#divDataContainerTwoTire").html(data);
                        $("#loader-wrapper").hide();

                    }
                    //else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });

        }

    }
    });
    function ListByPaperType(Type) {
       
    debugger
    if (Type != "Pending Request" && Type != "Accepted Request" && Type != "Rejected Request" && Type != "लंबित अनुरोध" && Type != "स्वीकृत अनुरोध" && Type != "अस्वीकृत अनुरोध") {
        $('.widget-box').show();
        $("#loader-wrapper").show();
        $.ajax({
            url: "/PaperLaidMinister/PaperLaidMinister/GetListByPaperType",
            type: 'GET',
            data: {
                PaperType: Type,
                AssemId: '@Model.AssemblyID',
                    SessId: '@Model.SessionID',
                ModuleId: $("#HdnModuleid1").val(),
                @*ActionIds: '@Model.RIds'*@
                },
                success: function (data) {
                    if (data) {
                        $('#outerDiv').hide();
                        $("#outerDiv").html("");
                        $('#innerDiv').show();
                        $("#divbindList").html(data);
                        $("#RightSidebar").html("");
                        $("#FormPart").html("");
                        $("#innerDiv").css("display", "block");
                        $("#MainDiveTwoTire").css("display", "none");
                        //  ClearControls();
                        $("#loader-wrapper").hide();

                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });
        }
        else {

            $('.widget-box').show();
            $("#loader-wrapper").show();
            $.ajax({
                url: "/PaperLaidMinister/PaperLaidMinister/GetListByPaperType",
                type: 'GET',
                data: {
                    PaperType: Type,
                    AssemId: '@Model.AssemblyID',
                    SessId: '@Model.SessionID',
                    ModuleId: $("#HdnModuleid1").val(),
                @*ActionIds: '@Model.RIds'*@
                },
                success: function (data) {
                    if (data) {
                        document.getElementById("innerDiv").style.display = "none";
                        document.getElementById("MainDiveTwoTire").style.display = "block";

                        $("#outerDiv").html("");
                        $("#outerDiv").hide();
                        $("#SuccessDiv").hide();
                        $("#divDataContainer").empty();
                        $("#RightSidebar").empty();


                        $("#divDataContainerTwoTire").empty();

                        $("#divDataContainerTwoTire").html(data);
                        $("#loader-wrapper").hide();

                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });

        }

    }


    function CreateNewByType(Type) {



        $('.widget-box').show();
        $.ajaxSetup({ cache: false });
        // var cl2 = new CanvasLoader('canvasloader-container2');
        // cl2.show();
        $.ajax({
            url: "/Notices/OnlineMemberQuestions/NewEntryForm",
            type: 'GET',
            data: {
                PaperType: Type,
                AssemId: '@Model.AssemblyID',
                SessId: '@Model.SessionID',
                    @*ActionIds: '@Model.RIds'*@
            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data);
                    // cl2.hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });

    }




    function SearchByType(Type) {
        $('.widget-box').show();
        var cl2 = new CanvasLoader('canvasloader-container1');
        cl2.show();
        $.ajax({
            url: "/PaperLaidMinister/PaperLaidMinister/SearchByType",
            type: 'GET',
            data: {
                PaperType: Type,
                AssemId: '@Model.AssemblyID',
                SessId: '@Model.SessionID',
                ModuleName: '@Model.ModuleName'
                @*ActionIds: '@Model.RIds'*@
            },
            success: function (data) {
                if (data) {
                    $("#divbindList").html(data)
                    $("#RightSidebar").html("");
                    $("#divDataContainerTwoTire").empty();
                    $("#SuccessDiv").empty();

                    cl2.hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }
</script>
