﻿@model SBL.DomainModel.Models.UserModule.mUserSubModules
@using SBL.eLegistrator.HouseController.Web.Areas.Notices.Extensions
@foreach (var item in Model.AccessList)
{

    if (SBL.eLegistrator.HouseController.Web.Utility.CurrentSession.LanguageID == "7C4F28F6-02FC-4627-993D-E255037531AD")
    {

        ViewBag.count = item.SubModuleName.GetTotalCountBySubMenuforMinster(Model.MemberId, item.ModuleName);
                        
    
    <li class="">
        <a href="javascript:void(0);" onclick="GetActionView12('@item.SubModuleName','@ViewBag.count','@item.ModuleName','@item.ModuleId'),SaveModuleIdActionId('@Model.ModuleId','@Model.ActionIds')">
            <i class="menu-icon fa fa-caret-right"></i>

            @if (@item.SubModuleName != "List As Pdf")
            {
                @item.SubModuleName
            }
           


            @if (@item.SubModuleName != "Individual Passes" && @item.SubModuleName != "Vehicle Passes" && @item.SubModuleName != "List As Pdf" && @item.SubModuleName != "eFile" && @item.SubModuleName != "Receive Paper" && @item.SubModuleName != "Send Paper" && @item.SubModuleName != "Approved Pass List")
            {
                <span class="badge badge-primary ">@ViewBag.count</span>
            }
            else
            {

            }
        </a>
        <b class="arrow"></b>
    </li>
    }
    else
    { 
                ViewBag.count = item.SubModuleNameLocal.GetTotalCountBySubMenuforMinster(Model.MemberId, item.ModuleNameLocal);
                        
    
    <li class="">
        <a href="javascript:void(0);" onclick="GetActionView12('@item.SubModuleNameLocal','@ViewBag.count','@item.ModuleNameLocal','@item.ModuleId'),SaveModuleIdActionId('@Model.ModuleId','@Model.ActionIds')">
            <i class="menu-icon fa fa-caret-right"></i>

            @if (@item.SubModuleNameLocal != "पीडीएफ के रूप में सूची")
            {
                @item.SubModuleNameLocal
            }
           


            @if (@item.SubModuleNameLocal != "व्यक्तिगत पास" && @item.SubModuleNameLocal != "वाहन पास" && @item.SubModuleName != "List As Pdf")
            {
                <span class="badge badge-primary ">@ViewBag.count</span>
            }
            else
            {

            }
        </a>
        <b class="arrow"></b>
    </li>
    }

       
    }

   

