﻿@model SBL.DomainModel.Models.Diaries.DiaryModel

<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
<script src="~/Scripts/jquery.alerts.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.timepicker1.js"></script>


@*<link rel="stylesheet" href="/assets/css/bootstrap-timepicker.css" />*@
<link rel="stylesheet" href="/assets/css/datepicker.css" />
<link href="~/assets/css/bootstrap-datetimepicker.css" rel="stylesheet" />


<script src="~/assets/js/date-time/bootstrap-datetimepicker.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-timepicker.min.js"></script>


<style>
    .DdlClass {
        width: 90%;
    }
</style>

<div class="widget-box sblFullScreen">
    <div class="widget-header widget-header-flat">
        <h4 class="widget-title">@Resources.Member.Search</h4>
    </div>
    <div class="widget-body">
        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                    @*<div class="profile-info-name">@Resources.Diaries.Subject </div>*@

                    <div class="profile-info-value">
                        <span class="">@Html.TextBoxFor(m => m.Subject, new { @id = "TxtTitle", @class = "DdlClass", @tabindex = "1", @placeholder = "Subject" })</span>
                    </div>
                </div>
                <div class="profile-info-row">
                    @*<div class="profile-info-name">@Resources.PaperLaidDepartment.Minister</div>*@

                   @* <div class="profile-info-value">
                        <span class="">@Html.DropDownListFor(m => m.MinistryId, new SelectList(Model.memMinList, "MinistryID", "MinisterMinistryName"), new { @id = "DdlEntryMinister", @tabindex = "2", @class = "DdlClass" })</span>
                    </div>*@
                </div>
                <div class="profile-info-row">
                    @*<div class="profile-info-name">@Resources.Member.SentDateFrom</div>*@

                    @*<div class="profile-info-value">
                        <span class="">@Html.TextBoxFor(m => m.FromDate, new { @id = "TxtFDate", @class = "DdlClass", @tabindex = "3", @placeholder = "Sent Date From" })</span>
                    </div>*@
                </div>
                <div class="profile-info-row">
                    @*<div class="profile-info-name">@Resources.Member.To</div>*@

                   @* <div class="profile-info-value">
                        <span class="">@Html.TextBoxFor(m => m.ToDate, new { @id = "TxtTDate", @class = "DdlClass", @tabindex = "4", @placeholder = "Sent Date To" })</span>
                    </div>*@
                </div>
                @if (Model.ModuleName != "Notices" && Model.ModuleName != "Bills" && Model.ModuleName != "Other Papers")
                {
                    @Html.HiddenFor(m => m.ModuleName, new { @id = "hdnModuleName" })
                    <div class="profile-info-row">
                        @*<div class="profile-info-name">@Resources.Diaries.DiaryNumber</div>*@

                        <div class="profile-info-value">
                            <span class="">@Html.TextBoxFor(m => m.DiaryNumber, new { @id = "TxtDNum", @class = "DdlClass", @tabindex = "5", @placeholder = "Diary Number" })</span>
                        </div>
                        </div>
                    
                    <div class="profile-info-row">
                     <div class="profile-info-value">
                            <span class="">@Html.TextBoxFor(m => m.QuestionNumber, new { @id = "TxtQNum", @class = "DdlClass", @tabindex = "5", @placeholder = "Question Number" })</span>
                        </div>
                        </div>@*
                    <div class="profile-info-row">
                <div class="profile-info-value">
                            <span class="">@Html.TextBoxFor(m =>m.MemberName, new { @id = "TxtName", @class = "DdlClass", @tabindex = "5", @placeholder = "Name" })</span>
                        </div>
                        </div>
                     <div class="profile-info-row">
                    

                   <div class="profile-info-value">
<span class="">@Html.DropDownListFor(m => m.MemberId, new SelectList(Model.menMemberList, "MemberCode", "Name"), new { @id = "DdlEntryMinister", @tabindex = "4", @class = "DdlClass" })</span>
                </div>
                         </div>*@
                  
                   
                }
                else if (Model.ModuleName == "Notices")
                { 
                    @Html.HiddenFor(m => m.ModuleName, new { @id = "hdnModuleName" })
                    <div class="profile-info-row">
                        @*<div class="profile-info-name">@Resources.Diaries.DiaryNumber</div>*@

                        <div class="profile-info-value">
                            <span class="">@Html.TextBoxFor(m => m.NoticeNumber, new { @id = "TxtDNum", @class = "DdlClass", @tabindex = "5", @placeholder = "Notice Number" })</span>
                        </div>
                    </div>@*
                    
                     <div class="profile-info-row">
                      

                   <div class="profile-info-value">
<span class="">@Html.DropDownListFor(m => m.MemberId, new SelectList(Model.menMemberList, "MemberCode", "Name"), new { @id = "DdlEntryMinister", @tabindex = "4", @class = "DdlClass" })</span>
                </div>
                         </div>*@
                
                }
                else if (Model.ModuleName == "Bills")
                { 
                    @Html.HiddenFor(m => m.ModuleName, new { @id = "hdnModuleName" })
                    <div class="profile-info-row">
                        @*<div class="profile-info-name">@Resources.Diaries.DiaryNumber</div>*@

                        <div class="profile-info-value">
                            <span class="">@Html.TextBoxFor(m => m.NoticeNumber, new { @id = "TxtDNum", @class = "DdlClass", @tabindex = "5", @placeholder = "Bill Number" })</span>
                        </div>
                    </div>
                
                }
                else if (Model.ModuleName == "Other Papers")
                { 
                    @Html.HiddenFor(m => m.ModuleName, new { @id = "hdnModuleName" })
                    @*<div class="profile-info-row">
                        

                        <div class="profile-info-value">
                            <span class="">@Html.TextBoxFor(m => m.NoticeNumber, new { @id = "TxtDNum", @class = "DdlClass", @tabindex = "5", @placeholder = "Business Type" })</span>
                        </div>
                    </div>*@
                    
                     <div class="profile-info-row">
                    

                   <div class="profile-info-value">
<span class="">@Html.DropDownListFor(m => m.EventName, new SelectList(Model.eventList, "EventId", "EventName"), new { @id = "DdlEvent", @tabindex = "4", @class = "DdlClass" })</span>
                </div>
                         </div>
                
                }
                <div class="profile-info-row">


                    <div class="profile-info-value">
                        <span class="">
                            <button class="btn btn-xs btn-primary bigger" onclick="SearchDataByType('@Model.PaperEntryType')">
                                <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                                @Resources.Member.Search
                            </button>
                        </span>
                    </div>
                </div>

            </div>
            <div class="space-10"></div>
        </div>
    </div>

</div>


<script>
    $(document).ready(function () {
        $('#TxtFDate').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();

        });

        $('#TxtTDate').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();

        });

        if ('@Model.MinistryId' == 0) {

            $("#DdlEntryMinister").append("<option selected='true' value='0'>Select Minister</option>")
        }

    })

    function SearchDataByType(type) {
        
       // var ModuleName = $('#hdnModuleName').val();
        var ModuleName = document.getElementById("hdnModuleName").value;
        
        if ($("#TxtDNum").val() == "" && $("#TxtQNum").val() == "" && $("#DdlEntryMinister").val() == 0 && $("#TxtTitle").val() == "" && $("#DdlEvent").val() == 0) {
            //alert("Please Enter any search Criteria ! ")
            document.getElementById("SuccessDiv").style.display = "block"
            document.getElementById("SuccessDiv").style.color = "red"
            document.getElementById("PMsgShow").innerHTML = "Please Enter any search Criteria ! "
        }
        else {
            if (ModuleName != "Other Papers") {
                $.ajax({
                    url: "/PaperLaidMinister/PaperLaidMinister/SearchDataByType",
                    type: 'GET',
                    data: {
                        PaperType: type,
                        Subject: $("#TxtTitle").val(),
                        Number: $("#TxtDNum").val(),
                        ModuleName: '@Model.ModuleName',
                        QNum: $("#TxtQNum").val(),
                        Name: $("#DdlEntryMinister").val()
                    },
                    success: function (data) {
                        if (data) {
                            $("#divbindList").html(data)
                            $("#RightSidebar").html("");

                        } else { alert("error"); }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
            else {
                $.ajax({
                    url: "/PaperLaidMinister/PaperLaidMinister/SearchDataByType",
                    type: 'GET',
                    data: {
                        PaperType: type,
                        Subject: $("#TxtTitle").val(),
                        Number: $("#DdlEvent").val(),
                        ModuleName: '@Model.ModuleName',
                        QNum: $("#TxtQNum").val(),
                        Name: $("#DdlEntryMinister").val()
                    },
                     success: function (data) {
                         if (data) {
                             $("#divbindList").html(data)
                             $("#RightSidebar").html("");

                         } else { alert("error"); }
                     },
                     error: function (xhr, ajaxOptions, thrownError) {
                         alert(xhr.responseText);
                         alert(thrownError);
                     }
                 });
            }
        }
    }

</script>


