﻿@model IEnumerable<SBL.DomainModel.Models.Session.mSessionDate>
@{
    int count = 0;
}
<div id='fullDetailsModel' class="hide">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <!-- PAGE CONTENT BEGINS -->
        <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
        <input type="hidden" id="SelectedFixNo" name="SelectedFixNo" />
        <div class="pass-table">

            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                @if (Model != null)
                {
                    if (Model.Count() > 0)
                    {
                    
                    <table class="table table-striped table-bordered table-hover dataTable" id="JournalistList" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">

                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 133px">S.No</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Session Dates</th>

                            </tr>
                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">

                            @foreach (var item in Model)
                            {
                                count = count + 1;
                                if (item.StartQListPath != null)
                                {                                 
                                <tr>
                                    <td class="center">
                                        @count
                                    </td>
                                    @{
                                    string str = @item.StartQListPath;
                                    }
                                    @{
                                    string date = Convert.ToDateTime(item.SessionDate).ToString("dd/MM/yyyy");
                                    }
                                    <td class="">
                                        <span><a title="View Question List" id="@str"  href="@str" target="_blank" >
                                            <i class="">@date</i>
                                        </a>
                                        </span>
                                    </td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>                            
                    <!-- PAGE CONTENT ENDS -->
                    }
                    else
                    {
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-info">
                                <strong>0 Question Files</strong><br />
                                There is no Question Files
                            </div>
                        </div>
                    </div>
                    }
                }
            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>

    jQuery(function ($) {
        var oTable1 =
        $('#JournalistList ')
        //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        .dataTable({
            "bDestroy": true,
            bAutoWidth: true,
            "aoColumns": [
              { "bSortable": false },
              { "bSortable": false }
            ]
        });
        var oTable2 =
      $('#JournalistTable')
      //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
      .dataTable({
          bAutoWidth: true,
          "bDestroy": true,
          "aoColumns": [
            { "bSortable": false },
            null, null,
            { "bSortable": false }
          ]

      });



        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })



</script>
