﻿@model SBL.DomainModel.Models.StaffManagement.mStaff
<div class="modal-dialog" style="width: 1100px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="blue bigger">Add New Staff</h4>
        </div>
        <div class="modal-body">
            <div class="row">

                <div class="col-xs-12 col-sm-6">
                    <div class="profile-user-info profile-user-info-striped">
                        <div class="profile-info-row">
                            @Html.HiddenFor(a => a.StaffID)
                            @Html.HiddenFor(a => a.Mode)
                            @Html.HiddenFor(a => a.Photo)
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.AadharID)<span style="color: red">*</span>:</label>
                            </div>
                            <div class="profile-info-value">
                                <span id="spnDetails" class="">
                                    @Html.TextBoxFor(model => model.AadharID, new { @id = "AadharID", @class = "col-xs-10 col-sm-5 IsnumericClass", @placeholder = "Aadhar ID", @autocomplete = "off", @maxlength = "12", @onkeyup = "this.value=this.value.replace(/[^\\d]/,'')", @required = "required", style = "width: 278px", @onchange = "CheckAadhar()" })
                                    <input class="btn btn-minier btn-yellow" type="button" value="@Resources.PublicPasses.GetAadhaarDetails" onclick="GetDetailsByAadharID()" style="width: 70px;height: 34px;padding: 3px 0px 3px 3px;" />
                                    <br />
                                    @Html.ValidationMessageFor(model => model.AadharID)
                                </span>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.StaffName)<span style="color: red">*</span>:</label>
                            </div>

                            <div class="profile-info-value">

                                <span id="spnDetails" class="">
                                    @Html.TextBoxFor(model => model.StaffName, new { @id = "StaffName1", @class = "col-xs-10 col-sm-5", @placeholder = "Staff Name", @autocomplete = "off", style = "width: 350px", @required = "required" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.StaffName)
                                </span>
                            </div>
                        </div>
                        <div class="profile-info-row">

                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.FatherName):</label>
                            </div>

                            <div class="profile-info-value">

                                <span id="spnDetails" class="">
                                    @Html.TextBoxFor(model => model.FatherName, new { @id = "FatherName", @class = "col-xs-10 col-sm-5", @placeholder = "Father Name.", @autocomplete = "off", style = "width: 350px" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.FatherName)
                                </span>
                            </div>
                        </div>
                        <div class="profile-info-row">

                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.Gender):</label>
                            </div>

                            <div class="profile-info-value">

                                <span id="spnDetails" class="">
                                    <select name="Gender1" id="Gender1" style="height: 34px; width: 100%;">
                                        <option value='Male'>Male</option>
                                        <option value='Female'>Female</option>
                                    </select>
                                    @* @Html.TextBoxFor(model => model.Gender, new { @id = "Gender1", @class = "col-xs-10 col-sm-5", @placeholder = "Gender.", @autocomplete = "off", style = "width: 350px" })*@
                                    <br />
                                    @Html.ValidationMessageFor(model => model.Gender)
                                </span>
                            </div>
                        </div>
                        <div class="profile-info-row">

                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.Address):</label>
                            </div>

                            <div class="profile-info-value">

                                <span id="spnDetails" class="">
                                    @Html.TextAreaFor(model => model.Address, new { @id = "Address", @class = "col-xs-10 col-sm-5", @placeholder = "Address.", @autocomplete = "off", style = "width: 350px" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.Address)
                                </span>
                            </div>
                        </div>
                        <div class="profile-info-row">

                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.District):</label>
                            </div>

                            <div class="profile-info-value">

                                <span id="spnDetails" class="">
                                    @Html.TextBoxFor(model => model.District, new { @id = "District1", @class = "col-xs-10 col-sm-5", @placeholder = "District.", @autocomplete = "off", style = "width: 350px" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.District)
                                </span>
                            </div>
                        </div>
                        <div class="profile-info-row">

                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.PinCode):</label>
                            </div>
                            <div class="profile-info-value">

                                <span id="spnDetails" class="">
                                    @Html.TextBoxFor(model => model.PinCode, new { @id = "PinCode1", @class = "col-xs-10 col-sm-5 IsnumericClass", @maxlength = "6", @placeholder = "Pin Code.", @autocomplete = "off", style = "width: 350px" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.PinCode)
                                </span>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.DOB):</label>
                            </div>
                            <div class="input-daterange input-group" style="margin-left: 12px">
                                <span id="spnDetails" class="">
                                    @Html.TextBoxFor(model => model.DOB, new { @id = "DOB1", @class = "col-xs-10 col-sm-5 date-picker", @placeholder = "Date of Joining.", @autocomplete = "off", style = "width:325px;text-align:left;" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.DOB)
                                </span>
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                        @*<div class="profile-info-row">

                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.DOB):</label>
                            </div>

                            <div class="profile-info-value">

                                <span id="spnDetails" class="">
                                    @Html.TextBoxFor(model => model.DOB, new { @id = "DOB1", @class = "col-xs-10 col-sm-5", @placeholder = "Date of Joining.", @autocomplete = "off", style = "width: 350px" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.DOB)
                                </span>
                            </div>
                        </div>*@
                        <div class="profile-info-row">
                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.EmailId):</label>
                            </div>
                            <div class="profile-info-value">
                                <span id="spnDetails" class="">
                                    @Html.TextBoxFor(model => model.EmailId, new { @id = "EmailId", @class = "col-xs-10 col-sm-5", @placeholder = "Email Id.", @autocomplete = "off", style = "width: 350px" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.EmailId)
                                </span>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.MobileNo):</label>
                            </div>
                            <div class="profile-info-value">
                                <span id="spnDetails" class="">
                                    @Html.TextBoxFor(model => model.MobileNo, new { @id = "MobileNo", @class = "col-xs-10 col-sm-5 IsnumericClass", @maxlength = "10", @placeholder = "Mobile No.", @autocomplete = "off", style = "width: 350px" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.MobileNo)
                                </span>
                            </div>
                        </div>
                        <div class="profile-info-row">
                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.Designation)<span style="color: red">*</span>:</label>
                            </div>
                            <div class="profile-info-value">
                                <span id="spnDetails" class="">
                                    <select name="Designation" id="Designation" style="height: 34px; width: 100%;">
                                    </select>

                                </span>
                            </div>
                        </div>

                        <div class="profile-info-row">

                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.Classes)<span style="color: red">*</span>:</label>
                            </div>
                            <div class="profile-info-value">
                                <span id="spnDetails" class="">
                                    @Html.DropDownList("Classes", (SelectList)ViewBag.StaffClass, new { @class = "col-xs-10 col-sm-12 RemoveDdlBorder", style = "width:146px;", @required = "required" })
                                    <label style="float: left; padding: 5px 5px 0px 5px; color: #336199;" for="Name">@Html.LabelFor(a => a.Group)<span style="color: red">*</span>:</label>
                                    <select name="Group" id="Group" style="height: 34px; width: 141px;">
                                        <option value='Gazetted'>Gazetted </option>
                                        <option value='Non-Gazetted'>Non-Gazetted</option>
                                    </select>
                                </span>
                            </div>
                        </div>

                        <div class="profile-info-row">

                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.monthID):</label>
                            </div>

                            <div class="profile-info-value">

                                <span id="spnDetails" class="">
                                    @Html.TextBoxFor(model => model.monthID, new { @id = "TxtName", @required = "required", @class = "col-xs-10 col-sm-5", @placeholder = "Month", @autocomplete = "off", style = "width: 150px" })
                                    <label style="float: left; padding: 5px 5px 0px 5px; color: #336199;" for="Name">@Html.LabelFor(a => a.yearID):</label>
                                    @Html.TextBoxFor(model => model.yearID, new { @id = "TxtName", @required = "required", @class = "col-xs-10 col-sm-5 IsnumericClass", @placeholder = "Year", @autocomplete = "off", style = "width: 150px" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.monthID)
                                </span>
                            </div>
                        </div>

                        <div class="profile-info-row">

                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name"><span style="color: red">*</span>:</label>
                            </div>

                            <div class="profile-info-value">

                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="radio">
                                            <label>
                                                <input id="isActivecheck" type="checkbox" class="ace" required="required" />
                                                <span class="lbl">Active</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="radio">
                                            <label>
                                                <input id="isAlivecheck" type="checkbox" class="ace" required="required" />
                                                <span class="lbl">Alive</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="profile-user-info profile-user-info-striped">
                        <div class="profile-info-row">

                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.Photo)<span style="color: red">*</span>:</label>
                            </div>

                            <div class="profile-info-value">
                                <span id="spnDetails" class="">
                                    <img id="imgCapture1" width="180" height="160" style="visibility: visible; margin-left: 25%;" />
                                </span>
                                <span id="spnDetails" class="">
                                    <label class="control-label no-padding-right" for="avatar">@Resources.PaperLaidDepartment.PhotofromFileSystem:</label>

                                    <input id="file1" name="file1" type="file" accept="image/gif,image/jpeg,image/jpg,image/png" onchange="CheckImage1()" />
                                    <span style="color: blue;">*Image Size should be 180x230 (WxH)</span>
                                    <span style="color: red; padding-left: 10px" class="field-validation-error" id="spanfile2"></span>

                                </span>

                            </div>
                        </div>
                        <div class="profile-info-row">

                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.Basic):</label>
                            </div>

                            <div class="profile-info-value">

                                <span id="spnDetails" class="">
                                    @Html.TextBoxFor(model => model.Basic, new { @id = "TxtName", @class = "col-xs-10 col-sm-5 IsnumericClass", @placeholder = "Basic Pay", @required = "required", @autocomplete = "off", style = "width: 134px" })
                                    <label style="float: left; padding: 5px 5px 0px 5px; color: #336199;" for="Name">@Html.LabelFor(a => a.gradePay):</label>
                                    @Html.TextBoxFor(model => model.gradePay, new { @id = "TxtName", @required = "required", @class = "col-xs-10 col-sm-5 IsnumericClass", @placeholder = "grade Pay", @autocomplete = "off", style = "width: 134px" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.Basic)
                                    @Html.ValidationMessageFor(model => model.gradePay)
                                </span>
                            </div>
                        </div>
                        <div class="profile-info-row">

                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.SecttPay):</label>
                            </div>

                            <div class="profile-info-value">

                                <span id="spnDetails" class="">
                                    @Html.TextBoxFor(model => model.SecttPay, new { @id = "TxtName", @numberonly = "numberonly", @class = "col-xs-10 col-sm-5 IsnumericClass", @placeholder = "Sectt. Pay", @required = "required", @autocomplete = "off", style = "width: 134px" })
                                    <label style="float: left; padding: 5px 21px 0px 5px; color: #336199;" for="Name">@Html.LabelFor(a => a.SplPay):</label>
                                    @Html.TextBoxFor(model => model.SplPay, new { @id = "TxtName", @numberonly = "numberonly", @class = "col-xs-10 col-sm-5 IsnumericClass", @placeholder = "Spl. Pay", @required = "required", @autocomplete = "off", style = "width: 134px" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.SecttPay)
                                </span>
                            </div>
                        </div>
                        <div class="profile-info-row">

                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.hra):</label>
                            </div>

                            <div class="profile-info-value">

                                <span id="spnDetails" class="">
                                    @Html.TextBoxFor(model => model.hra, new { @id = "TxtName", @required = "required", @numberonly = "numberonly", @class = "col-xs-10 col-sm-5 IsnumericClass", @placeholder = "HRA", @autocomplete = "off", style = "width: 134px" })
                                    <label style="float: left; padding: 5px 37px 0px 15px; color: #336199;" for="Name">@Html.LabelFor(a => a.fpa):</label>
                                    @Html.TextBoxFor(model => model.fpa, new { @id = "TxtName", @required = "required", @class = "col-xs-10 col-sm-5 IsnumericClass", @placeholder = "FPA", @autocomplete = "off", style = "width: 134px" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.hra)
                                </span>
                            </div>
                        </div>
                        <div class="profile-info-row">

                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.ConyAllow):</label>
                            </div>

                            <div class="profile-info-value">

                                <span id="spnDetails" class="">
                                    @Html.TextBoxFor(model => model.ConyAllow, new { @id = "TxtName", @numberonly = "numberonly", @required = "required", @class = "col-xs-10 col-sm-5 IsnumericClass", @placeholder = "Cony Allow", @autocomplete = "off", style = "width: 127px" })
                                    <label style="float: left; padding: 5px 5px 0px 5px; color: #336199;" for="Name">@Html.LabelFor(a => a.washAllow):</label>
                                    @Html.TextBoxFor(model => model.washAllow, new { @id = "TxtName", @numberonly = "numberonly", @required = "required", @class = "col-xs-10 col-sm-5 IsnumericClass", @placeholder = "Wash Allow", @autocomplete = "off", style = "width: 125px" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.ConyAllow)
                                </span>
                            </div>
                        </div>

                        <div class="profile-info-row">

                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.BankName):</label>
                            </div>

                            <div class="profile-info-value">

                                <span id="spnDetails" class="">
                                    @Html.TextBoxFor(model => model.BankName, new { @id = "TxtName", @class = "col-xs-10 col-sm-5", @placeholder = "Bank Name", @autocomplete = "off", style = "width: 350px" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.BankName)
                                </span>
                            </div>
                        </div>

                        <div class="profile-info-row">

                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.Branch):</label>
                            </div>

                            <div class="profile-info-value">

                                <span id="spnDetails" class="">
                                    @Html.TextBoxFor(model => model.Branch, new { @id = "TxtName", @class = "col-xs-10 col-sm-5", @placeholder = "Branch", @autocomplete = "off", style = "width: 350px" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.Branch)
                                </span>
                            </div>
                        </div>
                        <div class="profile-info-row">

                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.BankAccountNo):</label>
                            </div>

                            <div class="profile-info-value">

                                <span id="spnDetails" class="">
                                    @Html.TextBoxFor(model => model.BankAccountNo, new { @id = "TxtName", @class = "col-xs-10 col-sm-5 IsnumericClass", @placeholder = "Bank Account No", @autocomplete = "off", style = "width: 350px" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.BankAccountNo)
                                </span>
                            </div>
                        </div>
                        <div class="profile-info-row">

                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.IFSC):</label>
                            </div>

                            <div class="profile-info-value">

                                <span id="spnDetails" class="">
                                    @Html.TextBoxFor(model => model.IFSC, new { @id = "TxtName", @class = "col-xs-10 col-sm-5", @placeholder = "IFSC", @autocomplete = "off", style = "width: 350px" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.IFSC)
                                </span>
                            </div>
                        </div>
                        <div class="profile-info-row">

                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.GPFCPF):</label>
                            </div>

                            <div class="profile-info-value">

                                <span id="spnDetails" class="">
                                    <div class="radio">
                                        @if (!string.IsNullOrEmpty(Model.GPFCPF) && Model.GPFCPF == "GPF")
                                        {
                                            <label>
                                                <input name="GPFCPF" checked="checked" value="GPF" type="radio" class="ace">
                                                <span class="lbl">GPF</span>
                                            </label>
                                            <label>
                                                <input name="GPFCPF" value="CPF" type="radio" class="ace">
                                                <span class="lbl">CPF</span>
                                            </label>
                                        }
                                        else if (!string.IsNullOrEmpty(Model.GPFCPF) && Model.GPFCPF == "CPF")
                                        {
                                            <label>
                                                <input name="GPFCPF" value="GPF" type="radio" class="ace">
                                                <span class="lbl">GPF</span>
                                            </label>
                                            <label>
                                                <input name="GPFCPF" checked="checked" value="CPF" type="radio" class="ace">
                                                <span class="lbl">CPF</span>
                                            </label>
                                        }
                                        else
                                        {
                                            <label>
                                                <input name="GPFCPF" value="GPF" type="radio" class="ace">
                                                <span class="lbl">GPF</span>
                                            </label>
                                            <label>
                                                <input name="GPFCPF" value="CPF" type="radio" class="ace">
                                                <span class="lbl">CPF</span>
                                            </label>
                                        }
                                    </div>
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row" style="padding: 0 12px;">
                <div class="clearfix form-actions">
                    <div class="col-md-offset-5 col-md-1">

                        <button class="btn btn-primary" type="submit" formtarget="_blank" onclick="CheckPicLocation()">
                            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                            @Model.Mode Staff
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" name="isActive" id="isActivehidden" value="@Model.isActive" />
<input type="hidden" name="isAlive" id="isAlivehidden" value="@Model.isAlive" />

<script>
    $(document).ready(function () {

        $('.IsnumericClass').keypress(function (e) {
            var key = (e.which) ? e.which : e.keyCode;
            if ((key >= 48 && key <= 57) || (key == 44) || (key == 8)) {

                return true;
            }
            else {
                return false;
            }
        });

        fillDesignationList();

        var attr = $("#isActivehidden").attr('value');

        if (attr == 'value') {
            document.getElementById("isActivecheck").checked = true;
            $("#isActivehidden").val("True");
        }
        else {

            $("#isActivecheck").removeAttr('checked');
            $("#isActivehidden").val("False");
        }

        var alive = $("#isAlivehidden").attr('value');

        if (alive == 'value') {
            document.getElementById("isAlivecheck").checked = true;
            $("#isAlivehidden").val("True");
        }
        else {

            $("#isAlivecheck").removeAttr('checked');
            $("#isAlivehidden").val("False");
        }

    });


    $("#isActivecheck").click(function () {
        if ($('#isActivecheck').is(':checked')) {
            $("#isActivehidden").val("true");
        }
        else {
            $("#isActivehidden").val("false");
        }
    });
    $("#isAlivecheck").click(function () {
        if ($('#isAlivecheck').is(':checked')) {
            $("#isAlivehidden").val("true");
        }
        else {
            $("#isAlivehidden").val("false");
        }
    });
    function fillDesignationList() {
        $("#loader-wrapper").show();
        var pathUrl = "@Url.Action("fillDesignation", "StaffManagement")";
        $.ajax({
            url: pathUrl,
            type: 'GET',
            success: function (data) {

                $("#Designation").html("");

                for (var i = 0; i < data.length; i++) {
                    var item = data[i];
                    $("#Designation").append($("<option></option>").val(item.designationName).html(item.designationName))
                }
                $("#Designation").trigger("chosen:updated");
                $("#loader-wrapper").hide();

            }

        });
    }
    function GetDetailsByAadharID() {
        debugger

        var aadarId = $('#AadharID').val();
        var Location = $("[id*=Photo]").val();
        if (aadarId.length == 12) {
            if (isNaN(aadarId)) {
                ShowNotification("error", "Please Enter a Valid Aadhar Id .....");

                $('#AdhaarID').val("");
                return false;
            }
            else {
                $.ajaxSetup({ cache: false });
                $.ajax({
                    url: "/Accounts/StaffManagement/GetAdhaarDetails",
                    type: 'GET',
                    data: {
                        AdhaarID: aadarId,
                        fileLoaction: null
                    },
                    success: function (data) {
                        if (data != false) {
                            if (data.Photo == null) {
                                ShowNotification("error", "This AadharID is not having photo so please choose image or capture from live camera!.....");

                            }
                            document.getElementById('StaffName1').value = data.Name;
                            document.getElementById('FatherName').value = data.FatherName;
                            document.getElementById('Address').value = data.Address;
                            document.getElementById('EmailId').value = data.Email;
                            document.getElementById('MobileNo').value = data.MobileNo;
                            document.getElementById('DOB1').value = data.DOB;
                            document.getElementById('District1').value = data.District;
                            document.getElementById('PinCode1').value = data.PinCode;

                            $("[id*=imgCapture1]").css("visibility", "visible");
                            $("[id*=imgCapture1]").attr("src", "");
                            var Phot = (data.Photo).split(',');
                            var ImageShow = Phot[0];
                            var ImageSave = Phot[1];

                            $("[id*=imgCapture1]").attr("src", ImageShow + "?" + new Date().getTime());
                            $("[id*=Photo]").val(ImageSave);
                            $("#file").val("");

                            if (data.Gender == 'M') {
                                document.getElementById('Gender1').value = "Male";
                            }
                            else {
                                document.getElementById('Gender1').value = "FeMale";
                            }
                        }
                        else {
                            ShowNotification("error", "No Information available .....");
                            //document.getElementById('AadharID').value = "";
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }
        }
        else {
            ShowNotification("error", "Please Enter a Valid Aadhar Id .....");
            //alert("Please Enter a Valid Aadhar Id.")
            $('#AadharID').val('');
            return false;
        }
    }
    function getNameFromPath(strFilepath) {
        var objRE = new RegExp(/([^\/\\]+)$/);
        var strName = objRE.exec(strFilepath);

        if (strName == null) {
            return null;
        }
        else {
            return strName[0];
        }
    }
    function CheckImage1() {

        var flag = false;
        var file = getNameFromPath($("#file1").val());

        if (file != null) {
            var extension = file.substr((file.lastIndexOf('.') + 1));
            switch (extension) {
                case 'jpg':
                case 'jpeg':
                case 'png':
                case 'gif':
                    flag = true;
                    $("[id*=Photo]").val($("#file1").val());
                    $("[id*=imgCapture1]").attr("src", "");
                    break;
                default:
                    flag = false;
            }
        }
        if (flag == false) {
            var val1 = 'You can upload only jpg,jpeg,png,gif extension file'
            $("#spanfile2").text(val1);
            $("#file1").val("");
            return false;
        }
        else {
            $("#spanfile2").text("");
            uploadfile1();

            return true;
        }
    }
    function uploadfile1() {
        $.ajaxSetup({ cache: false });
        var file = document.getElementById('file1');
        var fd = new FormData();
        fd.append('file', file.files[0]);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Accounts/StaffManagement/UploadPhoto', true);
        xhr.onreadystatechange = function (data) {

            if (xhr.readyState == 4 && xhr.status == 200) {
                var picLocation = xhr.responseText;
                var FullResult = picLocation.split(',');
                var picLocation = FullResult[0];
                var ImageShow = FullResult[1];
                if (picLocation != "") {

                    $("[id*=imgCapture1]").css("visibility", "visible");
                    $("[id*=imgCapture1]").attr("src", "");
                    $("[id*=imgCapture1]").attr("src", picLocation + "?" + new Date().getTime());

                    $("[id*=Photo]").val(ImageShow);
                }
            }
            else {
            }
        };
        xhr.send(fd);
    }
    function CheckPicLocation() {
        var picLocation = $('#Photo').val();
        if (picLocation != "") {

            return true;
        }
        else {
            ShowNotification("error", "Please Select a Photo .....");

            return false;
        }
        return false;
    }
    function CheckAadhar() {
        // alert($('#UID').val());
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Accounts/StaffManagement/CheckAadhar",
            type: 'GET',
            data: {
                AadharId: $('#AadharID').val()
            },
            success: function (result) {
                // alert("Result : " + result);
                if (result == 'True') {
                    ShowNotification("error", "This Aadhaar already Registered!.....");

                    $('#AadharID').val('');
                }
                else {

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

    $(document).ready(function () {

        try {
            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',

            })
        }
        catch (error) {
            alert(error.message);
        }

    });
</script>
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="~/assets/css/datepicker.css" />
<style>
    .input-daterange {
        z-index: 100000 !important;
    }

    .datepicker {
        z-index: 10000 !important;
    }
</style>
