﻿@model SBL.DomainModel.Models.StaffManagement.mStaffNominee
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="blue bigger">Add Nominee</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="profile-user-info profile-user-info-striped">
					<div class="profile-info-row">
						@Html.HiddenFor(a => a.StaffID)
					   @Html.HiddenFor(a => a.Mode)
						@Html.HiddenFor(a => a.NomineeID) 
					</div>
					<div class="profile-info-row">

						<div class="profile-info-name" style="width: 200px !important;">
							<label class="col-sm-12 control-label no-padding-right" for="Name">NomineeName <span style="color: red">*</span>:</label>
						</div>

						<div class="profile-info-value">
						

							<span id="spnDetails" class="">
								@Html.TextBoxFor(model => model.NomineeName, new { @id = "TxtName", @class = "col-xs-10 col-sm-5", @placeholder = "Name", @autocomplete = "off", style = "width: 350px", @required = "required" })
								<br />
								@Html.ValidationMessageFor(model => model.NomineeName)
							</span>
						</div>
					</div>

					<div class="profile-info-row">

						<div class="profile-info-name" style="width: 200px !important;">
							<label class="col-sm-12 control-label no-padding-right" for="Name">Nominee Account No. :</label>
						</div>

						<div class="profile-info-value">
						

							<span id="spnDetails" class="">
								@Html.TextBoxFor(model => model.BankAccountNo, new { @id = "TxtName", @class = "col-xs-10 col-sm-5", @placeholder = "Nominee Account No.", @autocomplete = "off", style = "width: 350px" })
								<br />
								@Html.ValidationMessageFor(model => model.BankAccountNo)
							</span>
						</div>
					</div>

					<div class="profile-info-row">

						<div class="profile-info-name" style="width: 200px !important;">
							<label class="col-sm-12 control-label no-padding-right" for="Name">Nominee IFSC Code:</label>
						</div>

						<div class="profile-info-value">
							

							<span id="spnDetails" class="">
								@Html.TextBoxFor(model => model.IFSC, new { @id = "TxtName", @class = "col-xs-10 col-sm-5", @placeholder = "Nominee IFSC Code", @autocomplete = "off", style = "width: 350px" })
								<br />
								@Html.ValidationMessageFor(model => model.IFSC)
							</span>
						</div>
					</div>
					<div class="profile-info-row">

						<div class="profile-info-name" style="width: 200px !important;">
							<label class="col-sm-12 control-label no-padding-right" for="Name">Nominee Bank Name :</label>
						</div>

						<div class="profile-info-value">
							

							<span id="spnDetails" class="">
								@Html.TextBoxFor(model => model.BankName, new { @id = "TxtName", @class = "col-xs-10 col-sm-5", @placeholder = "Nominee Bank Name", @autocomplete = "off", style = "width: 350px" })
								<br />
								@Html.ValidationMessageFor(model => model.BankName)
							</span>
						</div>
					</div>
					
					<div class="profile-info-row">

						<div class="profile-info-name" style="width: 200px !important;">
							<label class="col-sm-12 control-label no-padding-right" for="Name">Relationship <span style="color: red">*</span>:</label>
						</div>

						<div class="profile-info-value">
							<select name="Relatioanship" id="Relatioanship"  style="height: 34px; width: 100%;">
								 <option value="Spouse">Spouse</option>
								 <option value="Son">Son</option>
								 <option value="Daughter">Daughter</option>
								 <option value="Brother">Brother</option>
								 <option value="Sister">Sister</option>
								 <option value="Father">Father</option>
								 <option value="Others">Others</option>
								
							</select>
						</div>
					</div>
					
					<div class="profile-info-row">

						<div class="profile-info-name" style="width: 200px !important;">
							<label class="col-sm-12 control-label no-padding-right" for="Name"> Status<span style="color: red">*</span>:</label>
						</div>

						<div class="profile-info-value">
							<div class="row">
									
									<div class="col-xs-12 col-sm-12">
										<div class="radio">
											<label>
												<input id="Isactivecheck" type="checkbox" class="ace"  />
												<span class="lbl">Active</span>
											</label>
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			 <div class="row" style="padding: 0 12px;">
	<div class="clearfix form-actions">
		<div class="col-md-offset-5 col-md-1">

			<button class="btn btn-primary" type="submit" formtarget="_blank">
				<i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
				@Model.Mode Nominee
			</button>
		</div>
	</div>
</div>
		</div>
	</div>
</div>

<input type="hidden" name="Isactive" id="Isactivehidden" value="@Model.isActive" />

<script>
	function Check() {
		var a = $('#NomineeName').val();

		if (a == "") {
			ShowNotification("error", "Please fill Nominee Name");
			return false;
		}
		if ($("#NomineeRelationship option:selected").text() == "--Select--") {
			ShowNotification("error", "Please Select Nominee RelationShip");
			return false;
		}
	}
	$("#Isactivecheck").click(function () {
		if ($('#Isactivecheck').is(':checked')) {
			$("#Isactivehidden").val("true");
		}
		else {
			$("#Isactivehidden").val("false");
		}
	});

	</script>