﻿@model SBL.DomainModel.ComplexModel.ePartialViewModel
@{
    ViewBag.Title = "_pensionStaffDetail";
}
<style type="text/css">
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }
</style>
<form method="post" action="/Accounts/StaffManagement/SaveAndupdateStaff" id="AddandupdateStaffPension">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">

                    @Html.HiddenFor(a => a.StaffID)
                    @Html.HiddenFor(a => a.StaffName)
                    @Html.HiddenFor(a => a.PensionMode)
                    @Html.HiddenFor(a => a.GrossService)
                    @Html.HiddenFor(a => a.NonService)
                    @Html.HiddenFor(a => a.NetService)
                    @Html.HiddenFor(a => a.tPensiondetail.PensionId)
                    @Html.HiddenFor(a => a.tPensiondetail.StaffID)
                    @Html.HiddenFor(a => a.tPensiondetail.StaffName)
                    <input type="hidden" id="hdnstaffId" name="hdnstaffId" />
                    <input type="hidden" id="hdnstaffName" name="hdnstaffName" />
                    <input type="hidden" id="hdnPensionMode" name="hdnPensionMode" />
                    <input type="hidden" id="hdnGrossServise" name="hdnGrossServise" />
                    <input type="hidden" id="hdnNonServise" name="hdnNonServise" />
                    <input type="hidden" id="hdnNetServise" name="hdnNetServise" />
                    <input type="hidden" id="hdnRetirement" name="hdnRetirement" />
                    <input type="hidden" id="hdnRetirementDate" name="hdnRetirementDate" />
                </div>
                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.tPensiondetail.DateofSubmission) <span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @if (Model.tPensiondetail != null)
                            {
                                DateTime? dateofSobmission = Model.tPensiondetail.DateofSubmission;
                                string dateofsom = "";
                                if (dateofSobmission != null)
                                {
                                    dateofsom = dateofSobmission.Value.ToString("dd/MM/yyyy");
                                }
                                if (Model.tPensiondetail.DateofSubmission != null)
                                {
                                <input type="text" value="@dateofsom" id="DateofSubmission" name="DateofSubmission" class="col-sm-5 TextName" style = "width: 350px"  />
                                }
                                else
                                {
                                <input type="text" id="DateofSubmission" name="DateofSubmission" class="col-sm-5 TextName" placeholder="Date of Submission of pension Paper by the Pensioner" autocomplete="off" style="width: 350px" />
                                }
                            }
                            else
                            {
                                <input type="text" id="DateofSubmission" name="DateofSubmission" class="col-sm-5 TextName" placeholder="Date of Submission of pension Paper by the Pensioner" autocomplete="off" style="width: 350px" />
                            }

                            @*@Html.TextBoxFor(model => model.tPensiondetail.DateofSubmission, new { @id = "DateofSubmission", @title = "Date of Submission of pension Paper by the Pensioner", @class = "col-xs-5 TextName", @placeholder = "Date of Submission of pension Paper by the Pensioner", @tabindex = "1", @data_format = "dd/MM/yyyy", style = "width: 350px" })*@

                        </span>
                    </div>
                </div>

                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.tPensiondetail.Address)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.tPensiondetail.Address, new { @id = "PAddress", @title = "Address", @class = "col-xs-5 TextName", @tabindex = "2", @placeholder = "Address", @autocomplete = "off", style = "width: 350px", @required = "required" })

                        </span>
                    </div>
                </div>

                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.tPensiondetail.State)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.tPensiondetail.State, new { @id = "State", @title = "State", @class = "col-xs-5 TextName", @tabindex = "3", @placeholder = "State", @autocomplete = "off", style = "width: 350px", @required = "required" })


                        </span>
                    </div>
                </div>

                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.tPensiondetail.District)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.tPensiondetail.District, new { @id = "District", @title = "District", @class = "col-xs-5 TextName", @tabindex = "4", @placeholder = "District", @autocomplete = "off", style = "width: 350px", @required = "required" })

                        </span>
                    </div>
                </div>

                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.tPensiondetail.PinCode)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.tPensiondetail.PinCode, new { @id = "PinCode", @title = "PinCode", @class = "col-xs-5 TextName IsnumericClass", @tabindex = "5", @maxlength = "6", @placeholder = "PinCode", @autocomplete = "off", style = "width: 350px", @required = "required" })

                        </span>
                    </div>
                </div>

                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.tPensiondetail.TreasuryPesnsionOffice)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.tPensiondetail.TreasuryPesnsionOffice, new { @id = "TreasuryPesnsionOffice", @title = "Treasury Office for Pesnsion", @class = "col-xs-5 TextName", @tabindex = "6", @placeholder = "Treasury Office for Pesnsion", @autocomplete = "off", style = "width: 350px", @required = "required" })

                        </span>
                    </div>
                </div>


                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.tPensiondetail.TreasuryGratuityOffice)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.tPensiondetail.TreasuryGratuityOffice, new { @id = "TreasuryGratuityOffice", @class = "col-xs-5 TextName", @tabindex = "7", @placeholder = "Treasury Office for Gratuity", @title = "Treasury Office for Gratuity", @autocomplete = "off", style = "width: 350px", @required = "required" })

                        </span>
                    </div>
                </div>
                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.tPensiondetail.BandandGradePay)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.tPensiondetail.BandandGradePay, new { @id = "BandandGradePay", @numberonly = "numberonly", @class = "col-xs-10 col-sm-5 TextName", @placeholder = "Pay Band + Grade Pay", @title = "Pay Band + Grade Pay", @required = "required", @autocomplete = "off", style = "width: 350px" })

                        </span>
                    </div>
                </div>

                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">Retirement<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">
                        <table>
                            <tr>
                                <td>
                                    <label class="radio-inline" style="padding: 4px 0px 0px 17px;">
                                        <input type="radio" name="optradio" value="DateofR" class="Dateradio" id="dateofR"></label></td>
                                <td>
                                    <label style="padding: 4px 4px 0px 0px; color: #336199;" for="Name">@Html.LabelFor(a => a.tPensiondetail.DateofRetirement):</label></td>
                                <td>
                                    @if (Model.tPensiondetail != null)
                                    {
                                        DateTime? dateofretirement = Model.tPensiondetail.DateofRetirement;
                                        string dateofre = "";
                                        if (dateofretirement != null)
                                        {
                                            dateofre = dateofretirement.Value.ToString("dd/MM/yyyy");
                                        }
                                        if (Model.tPensiondetail.DateofRetirement != null)
                                        {
                                        <input type="text" value="@dateofre" id="DateofRetirement" name="DateofRetirement" class="col-sm-5 TextName" style = "width: 200px" readonly="true" />
                                        }
                                        else
                                        {
                                        <input type="text" id="DateofRetirement" name="DateofRetirement" class="col-sm-5 TextName" placeholder="Date of Retirement(dd/MM/yyyy)" autocomplete="off" style="width: 200px" readonly="true" />
                                        }
                                    }
                                    else
                                    {
                                        <input type="text" id="DateofRetirement" name="DateofRetirement" class="col-sm-5 TextName" placeholder="Date of Retirement(dd/MM/yyyy)" autocomplete="off" style="width: 200px" readonly="true" />
                                    }

                                    @*@Html.TextBoxFor(model => model.tPensiondetail.DateofRetirement, new { @id = "DateofRetirement", @class = "col-sm-5 TextName", @placeholder = "Date of Retirement(dd/MM/yyyy)", @title = "Date of Retirement", @data_format = "dd/MM/yyyy", @required = "required", @autocomplete = "off", style = "width: 200px", @readonly = true })*@</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="radio-inline" style="padding: 4px 0px 0px 17px;">
                                        <input type="radio" name="optradio" value="DateofD" class="Dateradio" id="dateofD"></label></td>
                                <td>
                                    <label style="padding: 4px 4px 0px 0px; color: #336199;" for="Name">@Html.LabelFor(a => a.tPensiondetail.DateofDeath):</label></td>
                                <td>
                                    @if (Model.tPensiondetail != null)
                                    {
                                        DateTime? dateofDeath = Model.tPensiondetail.DateofDeath;
                                        string dateofdath = "";
                                        if (dateofDeath != null)
                                        {
                                            dateofdath = dateofDeath.Value.ToString("dd/MM/yyyy");
                                        }
                                        if (Model.tPensiondetail.DateofDeath != null)
                                        {
                                        <input type="text" value="@dateofdath" id="DateofDeath" name="DateofDeath" class="col-sm-5 TextName" style = "width: 200px" readonly="true" />
                                        }
                                        else
                                        {
                                        <input type="text" id="DateofDeath" name="DateofDeath" class="col-sm-5 TextName" placeholder="Date of Death(dd/MM/yyyy)" autocomplete="off" style="width: 200px" readonly="true" />
                                        }
                                    }
                                    else
                                    {
                                        <input type="text" id="DateofDeath" name="DateofDeath" class="col-sm-5 TextName" placeholder="Date of Death(dd/MM/yyyy)" autocomplete="off" style="width: 200px" readonly="true" />
                                    }
                                    @*@Html.TextBoxFor(model => model.tPensiondetail.DateofDeath, new { @id = "DateofDeath", @class = "col-xs-10 col-sm-5 TextName", @placeholder = "Date of Death", @title = "Date of Death", @tabindex = "13", @data_format = "dd/MM/yyyy", @autocomplete = "off", style = "width: 200px", @readonly = true })*@</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="radio-inline" style="padding: 4px 0px 0px 17px;">
                                        <input type="radio" name="optradio" value="DateofFR" class="Dateradio" id="dateofFR"></label></td>
                                <td>
                                    <label style="padding: 4px 4px 0px 0px; color: #336199;" for="Name">@Html.LabelFor(a => a.tPensiondetail.ForcefullyRetirement):</label></td>
                                <td>@if (Model.tPensiondetail != null)
                                    {
                                        DateTime? dateofforcefully = Model.tPensiondetail.ForcefullyRetirement;
                                        string dateoffor = "";
                                        if (dateofforcefully != null)
                                        {
                                            dateoffor = dateofforcefully.Value.ToString("dd/MM/yyyy");
                                        }
                                        if (Model.tPensiondetail.ForcefullyRetirement != null)
                                        {
                                    <input type="text" value="@dateoffor" id="ForcefullyRetirement" name="ForcefullyRetirement" class="col-sm-5 TextName" style = "width: 200px" readonly="true" />
                                        }
                                        else
                                        {
                                    <input type="text" id="ForcefullyRetirement" name="ForcefullyRetirement" class="col-sm-5 TextName" placeholder="Date of Forcefully Retirement(dd/MM/yyyy)" autocomplete="off" style="width: 200px" readonly="true" />
                                        }
                                    }
                                    else
                                    {
                                    <input type="text" id="ForcefullyRetirement" name="ForcefullyRetirement" class="col-sm-5 TextName" placeholder="Date of Forcefully Retirement(dd/MM/yyyy)" autocomplete="off" style="width: 200px" readonly="true" />
                                    }
                                    @* @Html.TextBoxFor(model => model.tPensiondetail.ForcefullyRetirement, new { @id = "ForcefullyRetirement", @class = "col-sm-5 TextName", @placeholder = "Date of Forcefully Retirement(dd/MM/yyyy)", @title = "Date of Forcefully Retirement", @data_format = "dd/MM/yyyy", @required = "required", @autocomplete = "off", style = "width: 200px", @readonly = true })*@</td>
                            </tr>
                        </table>

                    </div>

                </div>
                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.tPensiondetail.DateofCommencement)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">
                        <span id="spnDetails" class="">
                            @if (Model.tPensiondetail != null)
                            {
                                DateTime? dateofcomencement = Model.tPensiondetail.DateofCommencement;
                                string dateofcom = "";
                                if (dateofcomencement != null)
                                {
                                    dateofcom = dateofcomencement.Value.ToString("dd/MM/yyyy");
                                }
                                if (Model.tPensiondetail.DateofCommencement != null)
                                {
                                <input type="text" value="@dateofcom" id="DateofCommencement" name="DateofCommencement" class="col-sm-5 TextName" style = "width: 350px"  />
                                }
                                else
                                {
                                <input type="text" id="DateofCommencement" name="DateofCommencement" class="col-sm-5 TextName" placeholder="Date of Commencement of Pension Service" autocomplete="off" style="width: 350px" />
                                }
                            }
                            else
                            {
                                <input type="text" id="DateofCommencement" name="DateofCommencement" class="col-sm-5 TextName" placeholder="Date of Commencement of Pension Service" autocomplete="off" style="width: 350px" />
                            }
                            @*@Html.TextBoxFor(model => model.tPensiondetail.DateofCommencement, new { @id = "DateofCommencement", @class = "col-xs-10 col-sm-5 TextName", @placeholder = "Date of Commencement of Pension Service", @title = "Date of Commencement of Pension Service", @data_format = "dd/MM/yyyy", @autocomplete = "off", style = "width: 350px" })*@

                        </span>
                    </div>
                </div>
                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.tPensiondetail.SpouseName)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">
                        <span id="spnDetails" class="">
                        @Html.TextBoxFor(model => model.tPensiondetail.SpouseName, new { @id = "PSpouseName", @required = "required", @class = "col-xs-10 col-sm-5 TextName", @placeholder = "Husband/Spouse/Others for Family Pension", @title = "Husband/Spouse/Others for Family Pension", @autocomplete = "off", style = "width: 350px" })

                    </div>
                </div>



            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.tPensiondetail.DobFamilyPensioner)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @if (Model.tPensiondetail != null)
                            {
                                DateTime? dateofFamilyPens = Model.tPensiondetail.DobFamilyPensioner;
                                string dateofFamily = "";
                                if (dateofFamilyPens != null)
                                {
                                    dateofFamily = dateofFamilyPens.Value.ToString("dd/MM/yyyy");
                                }
                                if (Model.tPensiondetail.DobFamilyPensioner != null)
                                {
                                <input type="text" value="@dateofFamily" id="DobFamilyPensioner" name="DobFamilyPensioner" class="col-sm-5 TextName" style = "width: 350px"  />
                                }
                                else
                                {
                                <input type="text" id="DobFamilyPensioner" name="DobFamilyPensioner" class="col-sm-5 TextName" placeholder="Date of Birth of Family Pensioner" autocomplete="off" style="width: 350px" />
                                }
                            }
                            else
                            {
                                <input type="text" id="DobFamilyPensioner" name="DobFamilyPensioner" class="col-sm-5 TextName" placeholder="Date of Birth of Family Pensioner" autocomplete="off" style="width: 350px" />
                            }
                            @*@Html.TextBoxFor(model => model.tPensiondetail.DobFamilyPensioner, new { @id = "DobFamilyPensioner", @class = "col-xs-10 col-sm-5 TextName", @placeholder = "Date of Birth of Family Pensioner", @title = "Date of Birth of Family Pensioner", @data_format = "dd/MM/yyyy", @autocomplete = "off", style = "width: 350px" })*@

                        </span>
                    </div>
                </div>
                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.tPensiondetail.DateOfMedicalCerti):</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @if (Model.tPensiondetail != null)
                            {
                                DateTime? dateofMedical = Model.tPensiondetail.DateOfMedicalCerti;
                                string dateofMed = "";
                                if (dateofMedical != null)
                                {
                                    dateofMed = dateofMedical.Value.ToString("dd/MM/yyyy");
                                }
                                if (Model.tPensiondetail.DateOfMedicalCerti != null)
                                {
                                <input type="text" value="@dateofMed" id="DateOfMedicalCerti" name="DateOfMedicalCerti" class="col-sm-5 TextName" style = "width: 350px"  />
                                }
                                else
                                {
                                <input type="text" id="DateOfMedicalCerti" name="DateOfMedicalCerti" class="col-sm-5 TextName" placeholder="Date of Medical Certificate in Validating Govt. Servent" autocomplete="off" style="width: 350px" />
                                }
                            }
                            else
                            {
                                <input type="text" id="DateOfMedicalCerti" name="DateOfMedicalCerti" class="col-sm-5 TextName" placeholder="Date of Medical Certificate in Validating Govt. Servent" autocomplete="off" style="width: 350px" />
                            }
                            @*@Html.TextBoxFor(model => model.tPensiondetail.DateOfMedicalCerti, new { @id = "DateOfMedicalCerti", @class = "col-xs-5 TextName", @placeholder = "Date of Medical Certificate in Validating Govt. Servent", @title = "Date of Medical Certificate in Validating Govt. Servent", @data_format = "dd/MM/yyyy", @tabindex = "1", style = "width: 350px" })*@

                        </span>
                    </div>
                </div>

                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.tPensiondetail.DateOfLodgingFir):</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @if (Model.tPensiondetail != null)
                            {
                                DateTime? dateofLodging = Model.tPensiondetail.DateOfLodgingFir;
                                string dateohLodg = "";
                                if (dateofLodging != null)
                                {
                                    dateohLodg = dateofLodging.Value.ToString("dd/MM/yyyy");
                                }
                                if (Model.tPensiondetail.DateOfLodgingFir != null)
                                {
                                <input type="text" value="@dateohLodg" id="DateOfLodgingFir" name="DateOfLodgingFir" class="col-sm-5 TextName" style = "width: 350px"  />
                                }
                                else
                                {
                                <input type="text" id="DateOfLodgingFir" name="DateOfLodgingFir" class="col-sm-5 TextName" placeholder="Date of Lodging FIR in absconding cases" autocomplete="off" style="width: 350px" />
                                }
                            }
                            else
                            {
                                <input type="text" id="DateOfLodgingFir" name="DateOfLodgingFir" class="col-sm-5 TextName" placeholder="Date of Lodging FIR in absconding cases" autocomplete="off" style="width: 350px" />
                            }
                            @*@Html.TextBoxFor(model => model.tPensiondetail.DateOfLodgingFir, new { @id = "DateOfLodgingFir", @class = "col-xs-5 TextName", @tabindex = "2", @placeholder = "Date of Lodging FIR in absconding cases", @title = "Date of Lodging FIR in absconding cases", @data_format = "dd/MM/yyyy", @autocomplete = "off", style = "width: 350px" })*@

                        </span>
                    </div>
                </div>

                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.tPensiondetail.Foreignservices):</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @if (Model.tPensiondetail != null)
                            {
                                DateTime? dateofFornservice = Model.tPensiondetail.Foreignservices;
                                string dateofforn = "";
                                if (dateofFornservice != null)
                                {
                                    dateofforn = dateofFornservice.Value.ToString("dd/MM/yyyy");
                                }
                                if (Model.tPensiondetail.Foreignservices != null)
                                {
                                <input type="text" value="@dateofforn" id="Foreignservices" name="Foreignservices" class="col-sm-5 TextName" style = "width: 350px"  />
                                }
                                else
                                {
                                <input type="text" id="Foreignservices" name="Foreignservices" class="col-sm-5 TextName" placeholder="Period of Foreign services" autocomplete="off" style="width: 350px" />
                                }
                            }
                            else
                            {
                                <input type="text" id="Foreignservices" name="Foreignservices" class="col-sm-5 TextName" placeholder="Period of Foreign services" autocomplete="off" style="width: 350px" />
                            }
                            @*@Html.TextBoxFor(model => model.tPensiondetail.Foreignservices, new { @id = "Foreignservices", @class = "col-xs-5 TextName", @tabindex = "3", @placeholder = "Period of Foreign services", @title = "Period of Foreign services", @autocomplete = "off", style = "width: 350px" })*@

                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">Whether Contribution received for the above period:</label>
                    </div>
                    <div class="profile-info-value">
                        <span id="spnDetails" class="">
                            <div class="radio">
                                @if (!string.IsNullOrEmpty(Model.WheatherContribution) && Model.WheatherContribution == "Yes")
                                {
                                    <label>
                                        <input name="WheatherContribution" checked="checked" value="Yes" type="radio" class="ace">
                                        <span class="lbl">Yes</span>
                                    </label>
                                    <label>
                                        <input name="WheatherContribution" value="No" type="radio" class="ace">
                                        <span class="lbl">No</span>
                                    </label>
                                }
                                else if (!string.IsNullOrEmpty(Model.WheatherContribution) && Model.WheatherContribution == "No")
                                {
                                    <label>
                                        <input name="WheatherContribution" value="Yes" type="radio" class="ace">
                                        <span class="lbl">Yes</span>
                                    </label>
                                    <label>
                                        <input name="WheatherContribution" checked="checked" value="No" type="radio" class="ace">
                                        <span class="lbl">No</span>
                                    </label>
                                }
                                else
                                {
                                    <label>
                                        <input name="WheatherContribution" value="Yes" type="radio" class="ace">
                                        <span class="lbl">Yes</span>
                                    </label>
                                    <label>
                                        <input name="WheatherContribution" value="No" type="radio" class="ace">
                                        <span class="lbl">No</span>
                                    </label>
                                }
                            </div>
                        </span>
                    </div>
                </div>


                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.tPensiondetail.militaryservice):</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.tPensiondetail.militaryservice, new { @class = "col-xs-5 TextName", @tabindex = "5", @placeholder = "Length of military service if any", @title = "Length of military service if any", @autocomplete = "off", style = "width: 350px", @required = "required" })

                        </span>
                    </div>
                </div>

                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.tPensiondetail.GrossService)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            <label style="width: 116px;">Year</label>
                            <label style="width: 116px;">Month</label>
                            <label style="width: 110px;">Days</label>
                            @Html.TextBoxFor(model => model.tPensiondetail.GrossService, new { @id = "GrossYears", @class = "col-xs-5 TextName IsnumericClass", @tabindex = "6", @placeholder = "Gross Years", @title = "Gross Years", @autocomplete = "off", style = "width: 116px", @required = "required", @readonly = true })
                            @Html.TextBoxFor(model => model.tPensiondetail.GrossService, new { @id = "GrossMonth", @class = "col-xs-5 TextName IsnumericClass", @tabindex = "6", @placeholder = "Gross Month", @title = "Gross Month", @autocomplete = "off", style = "width: 116px", @required = "required", @readonly = true })
                            @Html.TextBoxFor(model => model.tPensiondetail.GrossService, new { @id = "GrossDays", @class = "col-xs-5 TextName IsnumericClass", @tabindex = "6", @placeholder = "Gross Days", @title = "Gross Days", @autocomplete = "off", style = "width: 116px", @required = "required", @readonly = true })

                        </span>
                    </div>
                </div>


                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.tPensiondetail.NonQualifyingservice):</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">

                            @Html.TextBoxFor(model => model.tPensiondetail.NonQualifyingservice, new { @id = "nonYears", @class = "col-xs-5 TextName IsnumericClass", @tabindex = "7", @placeholder = "Non Years", @title = "Non Qualifying service Years", @autocomplete = "off", style = "width: 116px", @onchange = "GetNonYears()" })
                            @Html.TextBoxFor(model => model.tPensiondetail.NonQualifyingservice, new { @id = "nonMonth", @class = "col-xs-5 TextName IsnumericClass", @tabindex = "7", @placeholder = "Non Month", @title = "Non Qualifying service Month", @autocomplete = "off", style = "width: 116px", @onchange = "GetNonMonth()" })
                            @Html.TextBoxFor(model => model.tPensiondetail.NonQualifyingservice, new { @id = "nonDays", @class = "col-xs-5 TextName IsnumericClass", @tabindex = "7", @placeholder = "Non Days", @title = "Non Qualifying service Days", @autocomplete = "off", style = "width: 116px", @onchange = "GetNonDays()" })

                        </span>
                    </div>
                </div>
                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.tPensiondetail.NetQualifyingservice)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.tPensiondetail.NetQualifyingservice, new { @id = "NetYears", @numberonly = "numberonly", @class = "col-sm-5 TextName IsnumericClass", @placeholder = "Net Years", @title = "Net Qualifying service", @required = "required", @autocomplete = "off", style = "width: 116px", @readonly = true })
                            @Html.TextBoxFor(model => model.tPensiondetail.NetQualifyingservice, new { @id = "NetMonth", @numberonly = "numberonly", @class = "col-sm-5 TextName IsnumericClass", @placeholder = "Net Month", @title = "Net Qualifying service", @required = "required", @autocomplete = "off", style = "width: 116px", @readonly = true })
                            @Html.TextBoxFor(model => model.tPensiondetail.NetQualifyingservice, new { @id = "NetDays", @numberonly = "numberonly", @class = "col-sm-5 TextName IsnumericClass", @placeholder = "Net Days", @title = "Net Qualifying service", @required = "required", @autocomplete = "off", style = "width: 116px", @readonly = true })
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.tPensiondetail.Lastpaydrawn)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.tPensiondetail.Lastpaydrawn, new { @id = "Lastpaydrawn", @class = "col-xs-10 col-sm-5 TextName IsnumericClass", @placeholder = "Last pay drawn", @title = "Last pay drawn", @required = "required", @autocomplete = "off", style = "width: 350px" })

                        </span>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="row" style="padding: 0 12px;">
        <div class="clearfix form-actions">
            <div class="col-md-offset-5 col-md-1">

                <button class="btn btn-primary" type="button" onclick="SaveandUpdateStaffPension()">
                    <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                    @if (Model.PensionMode == "Save")
                    {
                        <span>Save</span> 
                    }
                    else
                    {
                        <span>Update</span>
                    }

                </button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        var DofD = $("#DateofDeath").val();
        var DoR = $("#DateofRetirement").val();
        var DofR = $("#ForcefullyRetirement").val();
        if (DofD != null && DofD != '') {
            $("#dateofD").attr("checked", "checked");
        }
        if (DoR != null && DoR != '') {
            $("#dateofR").attr("checked", "checked");
        }
        if (DofR != null && DofR != '') {
            $("#dateofFR").attr("checked", "checked");
        }

    });
    var GrossService = $("#GrossService").val();
    var NonService = $("#NonService").val();
    var NetService = $("#NetService").val();

    if (GrossService != null && GrossService != '') {
        var result = GrossService.split('/');
        document.getElementById('GrossYears').value = result[2];
        document.getElementById('GrossMonth').value = result[1];
        document.getElementById('GrossDays').value = result[0];

    }
    if (NonService != null && NonService != '') {
        var result = NonService.split('/');
        document.getElementById('nonYears').value = result[2];
        document.getElementById('nonMonth').value = result[1];
        document.getElementById('nonDays').value = result[0];
    }
    if (NetService != null && NetService != '') {
        var result = NetService.split('/');
        document.getElementById('NetYears').value = result[2];
        document.getElementById('NetMonth').value = result[1];
        document.getElementById('NetDays').value = result[0];
    }

    //});
    $('#DateofSubmission').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: "dd/mm/yyyy"
    }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
        $(this).prev().focus();
    });

    $('#DateofDeath').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: "dd/mm/yyyy"
    }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
        $(this).prev().focus();
    });
    $('#DateofCommencement').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: "dd/mm/yyyy"
    }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
        $(this).prev().focus();
    });
    $('#DobFamilyPensioner').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: "dd/mm/yyyy"
    }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
        $(this).prev().focus();
    });
    $('#DateOfMedicalCerti').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: "dd/mm/yyyy"
    }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
        $(this).prev().focus();
    });
    $('#DateOfLodgingFir').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: "dd/mm/yyyy"
    }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
        $(this).prev().focus();
    });
    $('#Foreignservices').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: "dd/mm/yyyy"
    }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
        $(this).prev().focus();
    });
    $('#ForcefullyRetirement').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: "dd/mm/yyyy"
    }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
        $(this).prev().focus();
    });

    function GetNonYears() {
        var GrossYear = $("#GrossYears").val();
        var NonYear = $("#nonYears").val();
        document.getElementById('NetYears').value = GrossYear - NonYear;

    }
    function GetNonMonth() {
        var GrossMonth = $("#GrossMonth").val();
        var NonMonth = $("#nonMonth").val();
        document.getElementById('NetMonth').value = GrossMonth - NonMonth;

    }
    function GetNonDays() {
        var GrossDays = $("#GrossDays").val();
        var NonDays = $("#nonDays").val();
        document.getElementById('NetDays').value = GrossDays - NonDays;

    }
    $("#DateofDeath").change(function () {

        getGrossNetserviseNon();
        //  $("#DateofDeath").val('');
    });
    $("#ForcefullyRetirement").change(function () {

        getGrossNetserviseNon();
        // $("#ForcefullyRetirement").val('');
    });
    $(".Dateradio").click(function () {
        $(".notification").hide();
        var abc = $(this).val();
        var RetirementDate = $("#DateofRetirement").val();
        var hdnRetirementDate = $("#hdnRetirementDate").val();
        if (hdnRetirementDate == null || hdnRetirementDate.length == 0) {
            $("#hdnRetirementDate").val(RetirementDate);
        }
        if (abc == "DateofR") {

            document.getElementById('hdnRetirement').value = abc;
            document.getElementById('ForcefullyRetirement').value = null;
            document.getElementById('DateofDeath').value = null;
            $("#DateofDeath").attr("readonly", true);
            $("#ForcefullyRetirement").attr("readonly", true);
            $("#DateofRetirement").val($("#hdnRetirementDate").val());
        }
        else if (abc == "DateofD") {
            document.getElementById('hdnRetirement').value = abc;
            document.getElementById('DateofRetirement').value = null;
            document.getElementById('ForcefullyRetirement').value = null;
            $("#DateofDeath").attr("readonly", false);
            $("#ForcefullyRetirement").attr("readonly", true);
        }
        else {
            document.getElementById('hdnRetirement').value = abc;
            document.getElementById('DateofRetirement').value = null;
            document.getElementById('DateofDeath').value = null;
            $("#ForcefullyRetirement").attr("readonly", false);
            $("#DateofDeath").attr("readonly", true);
        }

    });
    function getGrossNetserviseNon() {

        var val = $("input[name='optradio']:checked").val();
        var DofR = "";
        // var DateofDRF = $("#hdnRetirement").val();
        if (val == "DateofD")
            DofR = $("#DateofDeath").val();
        if (val == "DateofR")
            DofR = $("#DateofRetirement").val();
        if (val == "DateofFR")
            DofR = $("#ForcefullyRetirement").val();
        var Doj = $("#DOJ").val();

        if (Doj == null || Doj == '') {
            $("#DateofDeath").val('');
            ShowNotification("error", "Please enter date of joining OR Serach staff....... ");
            return false;

        }
        if ($("input[name='optradio']:checked").size() == 0) {
            $("#DateofDeath").val('');
            ShowNotification("error", "One of the radio buttons is checked!....... ");
            return false;

        }
        var chkr = DofR.split('/');
        var chkDoj = Doj.split('/');
        if (chkDoj[2] == chkr[2] || chkDoj[2] > chkr[2]) {
            // $("#DateofDeath").val('');
            ShowNotification("error", "Date of retirement Year should be greater than date of joining Year ..... ");
            return false;

        }
        $.ajax({
            url: "/Accounts/StaffManagement/GetGrossServiceDetail",
            type: 'GET',
            data: {
                Doj: Doj,
                DateOfR: DofR
            },
            success: function (data) {
                var result = data.split('/');
                document.getElementById('GrossYears').value = result[2];
                document.getElementById('GrossMonth').value = result[1];
                document.getElementById('GrossDays').value = result[0];
                document.getElementById('NetYears').value = result[2];
                document.getElementById('NetMonth').value = result[1];
                document.getElementById('NetDays').value = result[0];
                document.getElementById('nonYears').value = 0;
                document.getElementById('nonMonth').value = 0;
                document.getElementById('nonDays').value = 0;

            },
            error: function (xhr, ajaxOptions, thrownError) {

                alert(xhr.responseText);
                alert(thrownError);
            }
        })

    }
    function SaveandUpdateStaffPension() {
        debugger

        var IsValid = true;
        var staffid = $('#StaffID').val();
        var staffName = $('#StaffID option:selected').text();
        document.getElementById('hdnstaffId').value = staffid;
        document.getElementById('hdnstaffName').value = staffName;
        document.getElementById('hdnGrossServise').value = $("#GrossDays").val() + "/" + $("#GrossMonth").val() + "/" + $("#GrossYears").val();
        document.getElementById('hdnNonServise').value = $("#nonDays").val() + "/" + $("#nonMonth").val() + "/" + $("#nonYears").val();
        document.getElementById('hdnNetServise').value = $("#NetDays").val() + "/" + $("#NetMonth").val() + "/" + $("#NetYears").val();
        if ($('#StaffID').val() == '') {
            ShowNotification("error", "Please Select Staff from drop down  .....");
            IsValid = false;
        }
        else {
            if ($('#DateofSubmission').val() == '') {
                $('#DateofSubmission').css("border", "1px solid red");
                $('#DateofSubmission').after("<span class='ErrorMessage' id='Error1'>Date of Submission Required</span>");
                IsValid = false;
            }
            if ($('#PAddress').val() == '') {
                $('#PAddress').css("border", "1px solid red");
                $('#PAddress').after("<span class='ErrorMessage' id='Error1'>Address Required</span>");
                IsValid = false;
            }
            if ($('#TreasuryPesnsionOffice').val() == '') {
                $('#TreasuryPesnsionOffice').css("border", "1px solid red");
                $('#TreasuryPesnsionOffice').after("<span class='ErrorMessage' id='Error1'>Treasury Pesnsion Office Required</span>");
                IsValid = false;
            }
            if ($('#TreasuryGratuityOffice').val() == '') {
                $('#TreasuryGratuityOffice').css("border", "1px solid red");
                $('#TreasuryGratuityOffice').after("<span class='ErrorMessage' id='Error1'>Treasury Gratuity Office Required</span>");
                IsValid = false;
            }
            if ($('#BandandGradePay').val() == '') {
                $('#BandandGradePay').css("border", "1px solid red");
                $('#BandandGradePay').after("<span class='ErrorMessage' id='Error1'>Band and GradePay Required</span>");
                IsValid = false;
            }

            if ($("input[name='optradio']:checked").size() == 0) {
                ShowNotification("error", "One of the radio buttons is checked!....... ");
                IsValid = false;
                return false;
            }
            var val = $("input[name='optradio']:checked").val();
            if (val == "DateofR") {
                if ($("#DateofRetirement").val() == '') {
                    ShowNotification("error", "Date of Retirement Required!....... ");
                    IsValid = false;
                    return false;
                }
            }
            else if (val == "DateofD") {
                if ($("#DateofDeath").val() == '') {
                    ShowNotification("error", "Date of Date of birth Required!....... ");
                    IsValid = false;
                    return false;
                }
            }

            else if (val == "DateofFR") {
                if ($("#ForcefullyRetirement").val() == '') {
                    ShowNotification("error", "Date of Forcefully Retirement Required!....... ");
                    IsValid = false;
                    return false;
                }
            }

            if ($('#DateofCommencement').val() == '') {
                $('#DateofCommencement').css("border", "1px solid red");
                $('#DateofCommencement').after("<span class='ErrorMessage' id='Error1'>Date of Commencement Required</span>");
                IsValid = false;
            }
            if ($('#PSpouseName').val() == '') {
                $('#PSpouseName').css("border", "1px solid red");
                $('#PSpouseName').after("<span class='ErrorMessage' id='Error1'>Spouse Name Required</span>");
                IsValid = false;
            }
            if ($('#DobFamilyPensioner').val() == '') {
                $('#DobFamilyPensioner').css("border", "1px solid red");
                $('#DobFamilyPensioner').after("<span class='ErrorMessage' id='Error1'>Dob Family Pensioner Required</span>");
                IsValid = false;
            }
            //if ($('#GrossService').val() == '') {
            //    $('#GrossService').css("border", "1px solid red");
            //    $('#GrossService').after("<span class='ErrorMessage' id='Error1'>Gross Service Required</span>");
            //    IsValid = false;
            //}
            //if ($('#NetQualifyingservice').val() == '') {
            //    $('#NetQualifyingservice').css("border", "1px solid red");
            //    $('#NetQualifyingservice').after("<span class='ErrorMessage' id='Error1'>Net Qualifying service Required</span>");
            //    IsValid = false;
            //}
            if ($('#StaffID').val() != '' && $('#StaffID').val() != null && IsValid == true) {
                $.ajax({
                    url: "/Accounts/StaffManagement/CheckExistStaffId",
                    type: 'GET',
                    data: {
                        StaffID: staffid,
                        StaffName: staffName
                    },
                    success: function (data) {
                        debugger;
                        if (data == true) {
                            ShowNotification("error", "This Staff haven't available  personal information or Official information ,So please search and update first !!...... ");
                            return false;

                        }
                        else {
                            var Doj = $("#DOJ").val();
                            if (Doj == null || Doj == '') {
                                ShowNotification("error", "Please enter date of joining on official Detail tab OR Serach staff....... ");
                                return false;
                            }
                            var QData = $('#AddandupdateStaffPension').serialize();

                            $.ajax({
                                cache: false,
                                async: true,
                                type: "POST",
                                url: "/Accounts/StaffManagement/SaveNewStaffPension",
                                data: QData,

                                beforeSend: function () {
                                    $('#loader-wrapper').show();
                                },
                                success: function (data) {
                                    $('#divDataContainer_PensionInsertForm').empty();
                                    $('#divDataContainer_PensionInsertForm').html(data);

                                    $('#loader-wrapper').hide();
                                    // $(".TextName").val('');
                                    ShowNotification("success", "Pension Details Save Successfully ..... ");

                                },
                                error: function (xhr, ajaxOptions, thrownError) {

                                    alert(xhr.responseText);
                                    alert(thrownError);
                                },

                                complete: function (data) {

                                    $('#loader-wrapper').hide();
                                }
                            });

                        }

                    },
                    error: function (xhr, ajaxOptions, thrownError) {

                        alert(xhr.responseText);
                        alert(thrownError);
                    }
                });
            }


        }
    }

</script>








