﻿@model SBL.DomainModel.ComplexModel.ePartialViewModel
<style type="text/css">
    .tab-content {
        padding: 0px 0px;
    }

    .widget-main {
        padding: 4px;
    }
</style>

@*@if (ViewBag.Msg != null)
{
    <div class="@ViewBag.Class" id="MsgDiv">
        <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
        <strong><i class="ace-icon fa fa-check-square-o"></i>@ViewBag.Notification ! </strong>@ViewBag.Msg
    </div>
}*@
<div class="widget-body">
    <div class="widget-main">
        <div class="clearfix">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="Personal">

                    <div class="table-responsive">
                        <div id="divDataContainer_PersonalInsertForm">
                            @{Html.RenderPartial("~/Areas/Accounts/Views/StaffManagement/_PersonalDetailFrom.cshtml", Model);}
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="Current">
                    <div id="divDataContainer_OfficialInsertForm">

                        @{Html.RenderPartial("~/Areas/Accounts/Views/StaffManagement/_CurrentOfficialDetail.cshtml", Model);}
                    </div>
                </div>
                <div class="tab-pane fade " id="Leave">
                    <div class="table-responsive">
                        <div id="divDataContainer_LeaveInsertForm">
                            @{Html.RenderPartial("~/Areas/Accounts/Views/StaffManagement/_LeaveDetails.cshtml", Model);}
                        </div>
                        <div id="divDataContainer_Leavelist">
                            @{Html.RenderPartial("~/Areas/Accounts/Views/StaffManagement/_LeaveDetailList.cshtml", Model);}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="Promotion">
                    <div class="table-responsive">
                        <div id="divDataContainer_PromoInsertForm">
                            @{Html.RenderPartial("~/Areas/Accounts/Views/StaffManagement/_PromotionDetails.cshtml", Model);}
                        </div>
                        <div id="divDataContainer_PromotionList">
                            @{Html.RenderPartial("~/Areas/Accounts/Views/StaffManagement/_PromotionDetailsList.cshtml", Model);}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="Training">
                    <div class="table-responsive">
                        <div id="divDataContainer_TrainingInsertForm">
                            @{Html.RenderPartial("~/Areas/Accounts/Views/StaffManagement/_TrainingDetails.cshtml", Model);}
                        </div>
                        <div id="divDataContainer_TrainingInsertList">
                            @{Html.RenderPartial("~/Areas/Accounts/Views/StaffManagement/_TrainingDetailList.cshtml", Model);}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="Pension">
                    <div class="table-responsive">
                        <div id="divDataContainer_PensionInsertForm">
                            @{Html.RenderPartial("~/Areas/Accounts/Views/StaffManagement/_pensionStaffDetail.cshtml", Model);}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
