﻿@model SBL.DomainModel.ComplexModel.ePartialViewModel
<!-- /section:settings.box -->
<div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
    <button class="btn  btn-sm btn-info" onclick="createNewTraining()">
        <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
        <span class="bigger-110">Add New</span>
    </button>

    @Html.Hidden("StaffID", Model.StaffID)

</div>

<div>
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="widget-box">
                <div class="widget-header">
                    <h4 class="widget-title">Training Details </h4>


                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <div class="pass-table">
                            @*  <div id="tablecontainer3">
                                </div>*@
                            <!-- PAGE CONTENT ENDS -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.page-content -->

</div>

<div id="member-details" class="modal fade" tabindex="-1">
</div>

<div id="NewTraining" class="modal">
</div>

<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/assets/js/fuelux/fuelux.wizard.min.js"></script>
<script src="~/assets/js/jquery.validate.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/assets/js/CommonNotify.js"></script>
<!-- ace scripts -->

<script type="text/javascript">

    $(document).ready(function () {
        try {

            //getTrainingList();
        }
        catch (error) {
        }
    });

    try {
        $('.chosen-select').chosen({ allow_single_deselect: true });
        //resize the chosen on window resize
        $(window).on('resize.chosen', function () {
            var w = $('.chosen-select').parent().width();
            $('.chosen-select').next().css({ 'width': '300px' });
        }).trigger('resize.chosen');
    }
    catch (error) {
    }
    try {
        $('#chosen-multiple-style').on('click', function (e) {
            var target = $(e.target).find('input[type=radio]');
            var which = parseInt(target.val());
            if (which == 2) $('#form-field-select-4').addClass('tag-input-style');
            else $('#form-field-select-4').removeClass('tag-input-style');
        });
    }
    catch (error) {
    }

    $("#searchcriteria").on('change', function (e) {
        try {
            $("#loader-wrapper").show();
            var datatext = $("#searchcriteria option:selected").text();
            var datavalue = $("#searchcriteria option:selected").val();
            $("#searchcriteriavalue").attr("data-placeholder", "enter a " + datatext + "...");
            $("#searchcriteriavalue").trigger("chosen:updated")
            $("#searchcriteriavalue").html("");
            $("#searchcriteriavalue").trigger("chosen:updated");
            $("#loader-wrapper").hide();
            if (datavalue == 1)
                fillDesignation();
            if (datavalue == 2)
                fillCurrentMember();
            if (datavalue == 3)
                fillXMember();

        } catch (error) {
            alert(error.message);
        }
    });



    function OnSuccess() {

        $("#loader-wrapper").hide();
        $("#NewLeave").modal('hide');
        ShowNotification("success", "staff Member has been Added/updated");
    }
    function OnFailure() {
        $("#errormsg").slideDown(1000);
        $("#errormsg").delay(1000);
        $("#errormsg").slideUp(1000);

    }

    function OnComplete() {
        $("#tablecontainer3").fadeTo(1000, 1);
        $("#tablecontainer3").delay(1000);
    }



    function getTrainingList(StaffId) {

        $("#loader-wrapper").show();
        var pathurl = "@Url.Action("TrainingList", "StaffManagement")";
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: { StaffId: StaffId },
            success: function (data) {
                $("#divDataContainer_TrainingInsertList").html("");
                $("#divDataContainer_TrainingInsertList").html(data);
                $("#loader-wrapper").hide();

            }
        });
    }
    function searchResult() {
        $("#loader-wrapper").show();
        var pathurl = "@Url.Action("searchResult", "MemberAccountDetails")";
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: { searchcriteria: $("#searchcriteria option:selected").val(), searchcriteriavalue: $("#searchcriteriavalue option:selected").val() },
            success: function (data) {
                $("#tablecontainer3").html("");
                $("#tablecontainer3").html(data);
                $("#loader-wrapper").hide();

            }
        });
    }

    function createNewTraining() {

        var StaffID = $("#StaffID").val();

        if (StaffID == "" || StaffID == null) {

            alert("Please Select Staff List")
            return false;
        }


        $("#loader-wrapper").show();
        $("#NewTraining").modal({                    // wire up the actual modal functionality and show the dialog
            "backdrop": "static",
            "keyboard": true,
            "show": true                     // ensure the modal is shown immediately
        });
        var pathurl = "@Url.Action("NewTraining", "StaffManagement")";
        $.ajax({
            url: pathurl,
            type: 'GET',

            success: function (data) {

                $("#NewTraining").html("");
                $("#NewTraining").html(data);
                $("#loader-wrapper").hide();


            }
        });

    }

</script>

