﻿@model SBL.DomainModel.ComplexModel.ePartialViewModel
@{int count = 0;}


<link href="~/assets/css/lightbox.css" rel="stylesheet" />
<link href="~/assets/css/datepicker.css" rel="stylesheet" />




<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="pass-table">
            @if (Model.tTrainingDetailsList != null)
            {
                if (Model.tTrainingDetailsList.Count() > 0)
                {
					   
                <table class="table  table-bordered  dataTable" id="sample-table-44" aria-describedby="sample-table-44_info">
                    <thead>
                        <tr role="row">

                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-44" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">#</th>
                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-44" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Training Type</th>
                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-44" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Subject</th>

                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-44" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Duration</th>


                            <th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-44" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Action</th>
                        </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                        @foreach (var item in Model.tTrainingDetailsList)
                        {
                            count = count + 1;
							   
                            <tr>
                                <td class="center">
                                    @count
                                </td>

                                <td>@item.TrainingType</td>
                                 <td>@item.Subject</td>
                                <td>@(item.From + " "+ "to  " +   "" + item.To)</td>
                                 
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">


                                        <button type="button" class="btn btn-xs btn-info" onclick="updateTrainingDetails(@item.TrainingID)">
                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                        </button>
                                       
                                         <a data-rel="tooltip" class="red tooltip-error DeleteSec" title="Delete" onclick="deleteTrainingDetails(@item.TrainingID)"  href="#">
                                         <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                        </a>
                                           
                                       
                                       

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- PAGE CONTENT ENDS -->
                }
                else
                {
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-info">
                            <strong>There is Training list</strong><br />
                        </div>
                    </div>
                </div>
                }
            }

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        var oTable1 =
		$('#sample-table-44').dataTable();
    })



   
    function updateTrainingDetails(TrainingID) {

        $("#loader-wrapper").show();
        var pathurl = "@Url.Action("updateTrainingDetails", "StaffManagement")";
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: { TrainingID: TrainingID },
            success: function (data) {
                if (data) {
                   
                    $("#NewTraining").modal({                    // wire up the actual modal functionality and show the dialog
                        "backdrop": "static",
                        "keyboard": true,
                        "show": true                     // ensure the modal is shown immediately
                    });
                    $("#NewTraining").html("");
                    
                    $("#NewTraining").html(data);
                    $("#loader-wrapper").hide();
                }
            }
        });
    }
    function deleteTrainingDetails(TrainingID) {

        var StaffID = $("#StaffID").val();
        var dlg = bootbox.confirm('Are you sure, You want to Delete Training? If yes than press ok Button.', function (result) {

            if (result) {

                $("#loader-wrapper").show();
                var pathurl = "@Url.Action("deleteTraining", "StaffManagement")";
                $.ajax({
                    url: pathurl,
                    type: 'GET',
                    data: { TrainingID: TrainingID, StaffID: StaffID },
                    success: function (data) {
                        //getLeaveList();
                        $("#divDataContainer_TrainingInsertList").html("");
                        $("#divDataContainer_TrainingInsertList").html(data);
                        $("#loader-wrapper").hide();
                        ShowNotification("success", "Training Details has been Deleted");

                    }
                });
            }
        });


    }
   
    
</script>
