﻿
@model SBL.DomainModel.Models.Role.mRoles 

<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
<script src="~/Scripts/jquery.alerts.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.timepicker1.js"></script>


@using (Ajax.BeginForm("SaveRole", "Role", new AjaxOptions { OnSuccess = "LoginSuccess", HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "NewRoleForm" }))
{
        @Html.AntiForgeryToken()
      @Html.HiddenFor(m => m.RoleId)
     @Html.HiddenFor(m => m.Mode)
    
         <div class="widget-header widget-header-flat">
        <h4 class="widget-title">@Resources.UserManagement.CreateRole</h4>
       
    </div>     
       
    <div class="widget-body">
        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">

                </div>

                  <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.UserManagement.RoleName: <b style="color: red">*</b></div>

                    <div class="profile-info-value">
                        <span id="spnTitle" class="">
                           @Html.TextBoxFor(model => model.RoleName, new { @id = "TxtName", @class = "col-xs-10 col-sm-5", @placeholder = @Resources.UserManagement.RoleName, @autocomplete = "off", style = "width: 350px" })
                        <span class="field-validation-error" id="RoleNameValidation" style="color: red"></span>
                        </span>
                    </div>
                </div>
                  <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.UserManagement.RoleDescription: <b style="color: red"></b></div>

                    <div class="profile-info-value">
                        <span id="spnDescription" class="">
                           @Html.TextAreaFor(model => model.RoleDescription, new { @id = "TxtDescp", @class = "col-xs-10 col-sm-5", @placeholder = @Resources.UserManagement.RoleDescription, @autocomplete = "off", style = "width: 350px" })
                        <span class="field-validation-error" id="RoleDescriptionValidation" style="color: red"></span>
                        </span>
                    </div>
                </div>

                  <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.UserManagement.IsActive: <b style="color: red"></b></div>

                    <div class="profile-info-value">
                        <span id="spnIsactive" class="">
                          @Html.CheckBoxFor(model => model.Isactive, new { @name = @Resources.UserManagement.IsActive }) @Resources.UserManagement.IsActive
                       
                        </span>
                    </div>
                </div>
               
            </div>
         
        </div>


           <div class="wizard-actions">
           
                <button type="button" id="savebtn" class="btn btn-sm btn-purple" onclick="return checkRoleValidation();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        @Resources.UserManagement.Save</button>

                <button type="reset" class="btn btn-sm btn-info"   onclick="return cancelEntry();">
                <i class="ace-icon fa fa-times bigger-125"></i>
               @Resources.UserManagement.Cancel
            </button>
        </div>
    </div>
   
    
    <div id='fullDetailsModel' class="hide">
        <div id='ShowfullDetailsModel' style="text-align: center">
        </div>
    </div>
}

<script>

    function cancelEntry() {

        $("#RightSidebar").empty();
    }

    function checkRoleValidation() {

        var RoleName = $("#TxtName").val();
        if (RoleName == "") {
            alert("Please Enter Role Name");
            return false;
        }
        else if (RoleName != null || RoleName != "") {
            alert("Are You Sure Want to Save?");

            $.ajax({
                url: "/UserManagement/Role/CheckRoleName",
                type: 'GET',
                data: {
                    RoleName: RoleName
                },
                success: function (data) {
                    if (data) {
                        alert("Role Name Already  Exit");
                        return false;
                    }
                    else {
                        $("#NewRoleForm").submit();
                        //alert("Save successfully");
                        return true;
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                    location.reload(true);
                }
            });
        }

        else {
            //alert("Save successfully");
        }
    }

    function SaveEntry() {
        var Name = document.getElementById("TxtName").value;
        var Description = document.getElementById("TxtDescp").value;
        $.post("/Admin/SystemModules/SaveEntry",
           {
               Name: Name,
               Description: Description,

           },
           function (data) {
               alert("Saved successfully");
               GetUserRole();
               $("#RightSidebar").html("");
               $("#FormPart").html("");
               $('.widget-box').hide();

           });
    }

    @*function cancelEntry() {

        var url = '@Url.Action("Index")';
        window.location.href = url;
    }*@



</script>
<style>
    .hidden {
        display: none;
        visibility: hidden;
    }
</style>

