﻿
@*@model  IEnumerable<SBL.DomainModel.Models.Role.mRoles>*@
@model SBL.DomainModel.Models.Role.mRoles

@{
    ViewBag.Title = "UserManagement";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
  
}

@Html.HiddenFor(m=>m.SessionId)
@Html.HiddenFor(m=>m.AssemblyCode)
@Html.HiddenFor(m=>m.SessionName)
@Html.HiddenFor(m=>m.AssesmblyName)

<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>

 <script src="~/assets/js/flot/jquery.flot.min.js"></script>
        <script src="~/assets/js/flot/jquery.flot.pie.min.js"></script>
        <script src="~/assets/js/flot/jquery.flot.resize.min.js"></script>


<!-- page specific plugin styles -->
<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />


        @Html.Partial("_LeftNavigationMenu", "UserManagement")

  <div class="main-content">
    @Html.Partial("_BreadcrumbsPartial")
    <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
    <div class="page-content">
        <div class="row">
           @* <div class="alert alert-block alert-success" id="SuccessDiv" style="display: none;">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                <p>
                    <strong>
                        <i class="ace-icon fa fa-check"></i>
                    </strong>
                   
                </p>
            </div>*@

            <div id="outerDiv">
            </div>
            


            <div class="two-column row" id="innerDiv" style="display: none;">
                <div id="resize-left" class="ui-widget-content">
                    <div class="col-xs-12">
                        <div class="row-fluid">
                            
                            <div id="divDataContainer">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="resize-right" class="ui-widget-content">
                    <div class="col-xs-12">
                        <div class="row-fluid">

                            <div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>
                            <div id="RightSidebar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="MainDiveTwoTire" style="display: none">
                <div class="col-xs-12">
                    <div id="canvasloader-container3" class="canvasloader" style="text-align: center"></div>
                    <div id="divDataContainerTwoTire" style="width: 100%;">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- page specific plugin scripts -->
<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="~/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="~/assets/js/jqGrid/i18n/grid.locale-en.js"></script>

<script type="text/javascript">

    jQuery(document).ready(function () {
       
        GetUserRole();

    });

    function GetEditSubModule(SubModuleId) {

        var cl = new CanvasLoader('canvasloader-container2');
        cl.show();

        var pathurl = '@Url.Action("EditUserSubModule", "SubModule")';


        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                SubModuleId: SubModuleId,

            },
            cache: false,
            success: function (data) {
                cl.hide();
                $("#SuccessDiv").hide();
                $("#divDataContainerTwoTire").empty();
                $("#RightSidebar").empty();
                $("#RightSidebar").html(data);


            }
        });

    }


    function GetUserSubModules() {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();

        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetUserSubModules", "SubModule")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#divDataContainer").html(data);

                cl.hide();
                $("#divDataContainerTwoTire").empty();
                $("#SuccessDiv").hide();
                $("#RightSidebar").empty();
                ChangeBreadCrumbParent("@Resources.UserManagement.UserManagements");
                ChangeBreadCrumbChild("@Resources.UserManagement.Module");
            }
        });
    }


    function GetUserAccessActionAccept() {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();

        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("AcceptRejectUser", "AcceptRejectUser")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#divDataContainer").html(data);

                cl.hide();
                $("#divDataContainerTwoTire").empty();
                $("#SuccessDiv").hide();
                $("#RightSidebar").empty();
                ChangeBreadCrumbParent("@Resources.UserManagement.UserManagements");
                ChangeBreadCrumbChild("User Access Action");
            }
        });
    }

    function GetUserAccessAction() {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();

        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetUserAccessAction", "UserAccessAction")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#divDataContainer").html(data);

                cl.hide();
                $("#divDataContainerTwoTire").empty();
                $("#SuccessDiv").hide();
                $("#RightSidebar").empty();
                ChangeBreadCrumbParent("@Resources.UserManagement.UserManagements");
                ChangeBreadCrumbChild("User Access Action");
            }
        });
    }

    function GetUserType() {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();

        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetUserType", "UserType")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#divDataContainer").html(data);

                cl.hide();
                $("#divDataContainerTwoTire").empty();
                $("#SuccessDiv").hide();
                $("#RightSidebar").empty();
                ChangeBreadCrumbParent("@Resources.UserManagement.UserManagements");
                ChangeBreadCrumbChild("@Resources.UserManagement.Role");
            }
        });
    }

    function GetUserRole() {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
       
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetUserRole", "Role")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
              
                $("#divDataContainer").html(data);

                cl.hide();
                $("#divDataContainerTwoTire").empty();
                $("#SuccessDiv").hide();
                $("#RightSidebar").empty();
                ChangeBreadCrumbParent("@Resources.UserManagement.UserManagements");
                ChangeBreadCrumbChild("@Resources.UserManagement.Role");
            }
        });
    }

    function GetEditRole(RoleId) {

        var cl = new CanvasLoader('canvasloader-container2');
        cl.show();

        var pathurl = '@Url.Action("EditUserRole", "Role")';


        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                RoleId: RoleId,

            },
            cache: false,
            success: function (data) {
                cl.hide();
                $("#SuccessDiv").hide();
                $("#divDataContainerTwoTire").empty();
                $("#RightSidebar").empty();
                $("#RightSidebar").html(data);


            }
        });

    }


    function GetEditModule(ModuleId) {

        var cl = new CanvasLoader('canvasloader-container2');
        cl.show();

        var pathurl = '@Url.Action("EditUserModule", "Module")';


        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                ModuleId: ModuleId,

            },
            cache: false,
            success: function (data) {
                cl.hide();
                $("#SuccessDiv").hide();
                $("#divDataContainerTwoTire").empty();
                $("#RightSidebar").empty();
                $("#RightSidebar").html(data);


            }
        });

    }

    function GetEditAction(ActionId) {

        var cl = new CanvasLoader('canvasloader-container2');
        cl.show();

        var pathurl = '@Url.Action("EditUserAction", "userAction")';


        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                ActionId: ActionId,

            },
            cache: false,
            success: function (data) {
                cl.hide();
                $("#SuccessDiv").hide();
                $("#divDataContainerTwoTire").empty();
                $("#RightSidebar").empty();
                $("#RightSidebar").html(data);


            }
        });

    }


    function GetEditUserType(UserTypeID) {

        var cl = new CanvasLoader('canvasloader-container2');
        cl.show();

        var pathurl = '@Url.Action("EditUserType", "UserType")';


        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                UserTypeID: UserTypeID,

            },
            cache: false,
            success: function (data) {
                cl.hide();
                $("#SuccessDiv").hide();
                $("#divDataContainerTwoTire").empty();
                $("#RightSidebar").empty();
                $("#RightSidebar").html(data);


            }
        });

    }



    function GetUserModules() {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();

        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetUserModules", "Module")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#divDataContainer").html(data);

                cl.hide();
                $("#divDataContainerTwoTire").empty();
                $("#SuccessDiv").hide();
                $("#RightSidebar").empty();
                ChangeBreadCrumbParent("@Resources.UserManagement.UserManagements");
                ChangeBreadCrumbChild("@Resources.UserManagement.Module");
            }
        });
    }

    function GetUserAction() {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();

        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetUserAction", "UserAction")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "20",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#divDataContainer").html(data);

                cl.hide();
                $("#divDataContainerTwoTire").empty();
                $("#SuccessDiv").hide();
                $("#RightSidebar").empty();
                ChangeBreadCrumbParent("@Resources.UserManagement.UserManagements");
                ChangeBreadCrumbChild("@Resources.UserManagement.Module");
            }
        });
    }


    function UpdateModuleEntry() {
        var ModuleId = document.getElementById("hdnModuleId").value;
        var ModuleName = document.getElementById("TxtName").value;
        var ModuleDescription = document.getElementById("TxtDescp").value;
        var UserTypeId = document.getElementById("DdlModulesId").value;

        if (ModuleName == "") {
            alert("Please Enter Module Name");
            return false;
        }

        $.post("/UserManagement/Module/UpdateEntry",
           {
               ModuleId: ModuleId,
               ModuleName: ModuleName,
               ModuleDescription: ModuleDescription,
               UserTypeId: UserTypeId,
           },
           function (data) {
               alert("Updated successfully");
               GetUserModules();
               $("#RightSidebar").html("");
               $("#FormPart").html("");
               $('.widget-box').hide();

           });
    }

    function UpdateActionEntry() {

        var ActionId = document.getElementById("hdnActionId").value;
        var ActionName = document.getElementById("TxtName").value;
        var ActionDescription = document.getElementById("TxtDescp").value;
        var UserTypeId = document.getElementById("DdlActionId").value;
       
        
        if (ActionName == "") {
            alert("Please Enter Action Name");
            return false;
        }

       
        $.post("/UserManagement/UserAction/UpdateActionEntry",
           {
               ActionId: ActionId,
               ActionName: ActionName,
               ActionDescription: ActionDescription,
               UserTypeId: UserTypeId,
               chkId: chkId,
           },
           function (data) {
               alert(data);
               alert("Updated successfully");
               GetUserAction();
               $("#RightSidebar").html("");
               $("#FormPart").html("");
               $('.widget-box').hide();

           });
    }

    function UpdateUserTypeEntry() {
        var UserTypeId = document.getElementById("hdnUserTypeId").value;
        var UserTypeName = document.getElementById("UserTypeName").value;


        if (UserTypeName == "") {
            alert("Please Enter User Type Name");
            return false;
        }

        $.post("/UserManagement/UserType/UpdateUserTypeEntry",
           {
               UserTypeId: UserTypeId,
               UserTypeName: UserTypeName,


           },
           function (data) {
               alert("Updated successfully");
               GetUserType();
               $("#RightSidebar").html("");
               $("#FormPart").html("");
               $('.widget-box').hide();

           });
    }

    function GetEditUserAccsessAction(UserAccessActionsId) {


        var cl = new CanvasLoader('canvasloader-container2');
        cl.show();

        var pathurl = '@Url.Action("GetEditUserAccsessAction", "UserAccessAction")';


        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                UserAccessActionsId: UserAccessActionsId,

            },
            cache: false,
            success: function (data) {
                cl.hide();
                $("#SuccessDiv").hide();
                $("#divDataContainerTwoTire").empty();
                $("#RightSidebar").empty();
                $("#RightSidebar").html(data);


            }
        });

    }


    $.AllQuestionNumberFormatter = function (cellvalue, options, rowObject) {

        var QuestionNumber = rowObject[2];

        var IsPostpone = rowObject[16];
        var IsPostponeDate = rowObject[17];


        var IsClubbed = rowObject[23];

        if (IsClubbed == true) {
            return QuestionNumber + "<div style='color:green;font-weight:bold;''>(C)</div>";
        }

        if (IsPostpone == true && IsPostponeDate != null) {

            return QuestionNumber + "<div style='color:green;font-weight:bold;''>(p)</div>";

        }
        else if (QuestionNumber == null || QuestionNumber == 0) {
            return ""
        }
        else {
            return QuestionNumber;
        }

    };




    jQuery(function ($) {

        $("#sizeDown").click(function () {
            if ($("body").hasClass('sizeLarge')) {
                $("body").css("font-size", "13px");
                $("body").removeClass('sizeLarge');
            } else {
                $("body").css("font-size", "10px");
                $("body").addClass('sizeSmall');
            }
        });
        $("#sizeUp").click(function () {
            if ($("body").hasClass('sizeSmall')) {
                $("body").css("font-size", "13px");
                $("body").removeClass('sizeSmall');
            } else {
                $("body").css("font-size", "18px");
                $("body").addClass('sizeLarge');
            }
        });
    });




    //jQuery(document).ready(function () {
    //    getDashboard();
    //    var lSMCode = $("#lSMCode").val();
    //    if (lSMCode != "") {
    //        getleftItemDashboard();
    //    }
    //});

    function getleftItemDashboard() {

        var lSMCode = $("#lSMCode").val();
        var cusMsg = $("#CustomMessage").val();

        if (cusMsg != "") {
            $("#SuccessDiv").show();
        }

        if (lSMCode != "") {

            if (lSMCode == "SQ") {
                $("#liStarredQuestions").addClass("active");
                $("#liUnStarredQuestions").addClass("");
                $("#liNotices").addClass("");
                $("#liBills").addClass("");
                $("#liOthersPapers").addClass("");
            }
            else if (lSMCode == "USQ") {
                $("#liUnStarredQuestions").addClass("active");
                $("#liStarredQuestions").addClass("");
                $("#liNotices").addClass("");
                $("#liBills").addClass("");
                $("#liOthersPapers").addClass("");
            }
            else if (lSMCode == "NTC") {
                $("#liNotices").addClass("active");
                $("#liUnStarredQuestions").addClass("");
                $("#liStarredQuestions").addClass("");
                $("#liBills").addClass("");
                $("#liOthersPapers").addClass("");


            }
            else if (lSMCode == "BLL") {
                $("#liBills").addClass("active");
                $("#liNotices").addClass("");
                $("#liUnStarredQuestions").addClass("");
                $("#liStarredQuestions").addClass("");
                $("#liOthersPapers").addClass("");

            }
            else if (lSMCode == "OPT") {
                $("#liOthersPapers").addClass("active");
                $("#liBills").addClass("");
                $("#liNotices").addClass("");
                $("#liUnStarredQuestions").addClass("");
                $("#liStarredQuestions").addClass("");

            }

            //
        }
        else {
            $("#liStarredQuestions").addClass("");
            $("#liUnStarredQuestions").addClass("");
            $("#liNotices").addClass("");
            $("#liBills").addClass("");
            $("#liOthersPapers").addClass("");

        }

    }



    function getDashboard() {
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("MainDepartmentDashboard", "PaperLaidMinister")';
         $.ajax({
             url: pathurl,
             type: 'GET',
             data: {
             },
             success: function (data) {
                 $('#innerDiv').hide();
                 $('#outerDiv').show();
                 $("#outerDiv").html(data);
             }
         });
     }

     function getInnerItemDashboard() {

         $("#outerDiv").html(data);
         $('#outerDiv').hide();
         $('#innerDiv').show();
         $('#fuelux-wizard').show();
     }

     $(function () {
         $('#sidebar-collapse').on('click', function () {
             var parentWidth = $('#resize-left').parent().width();
             if ($('#sidebar').hasClass('menu-min')) {
                 parentWidth = parentWidth - 120;
             } else { parentWidth = parentWidth + 100; }

             var remainingSpace = parentWidth - $('#resize-left').outerWidth();
             var divTwo = $('#resize-left').next();
             var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
             divTwo.css('width', divTwoWidth + 'px');

             setTimeout(function () {
                 $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
             }, 50);
         });

         $("#resize-left").resizable({
             handles: 'e',
             minWidth: '350',
             maxWidth: '850',
             resize: function () {
                 var remainingSpace = $(this).parent().width() - $(this).outerWidth();
                 var divTwo = $(this).next();
                 var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
                 divTwo.css('width', (divTwoWidth - 20) + 'px');

                 $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
             }
         });
     });

     function resizeLeftPanel(sizeRatio) {
         var parentWidth = $('#resize-left').parent().width();
         var sidebarWidth = parseInt((parentWidth * sizeRatio) / 100);
         var left_width = $('#resize-left').outerWidth();
         if (sidebarWidth > left_width) {
             $('#resize-left').animate({ width: '+=' + (sidebarWidth - left_width) + 'px' }, 800);
             $('#resize-right').animate({ width: '-=' + (sidebarWidth - left_width) + 'px' }, 800);
         } else {
             $('#resize-left').animate({ width: '-=' + (left_width - sidebarWidth) + 'px' }, 800);
             $('#resize-right').animate({ width: '+=' + (left_width - sidebarWidth) + 'px' }, 800);
         }
         $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
     }
</script>

<script type="text/javascript">



    function ChangeColortr(control) {
        $(".ChangeColortr").each(function () {
            $(this).css({ 'background': 'none', 'color': 'black' })
        })
        $("#" + control).css({ 'background-color': 'rgb(109, 103, 103)', 'color': 'white' })
    }

    function getPrevHideDiv() {
        $("#aPrev").hide();
        $("#aNext").show();
        $("#btnBackHideDiv").show();
        $("#ToBeHideDiv").hide("slow", function () {
        });
        $("#ExpandDiv").animate({ width: '78%' }, "slow");
        $("#aNext").css("margin-left", "20%");
    }

    function getNextHideDiv() {
        $("#ToBeHideDiv").show("slow", function () {
        });
        $("#aPrev").show();
        $("#aNext").hide();
        $("#btnBackHideDiv").hide();
        $("#ExpandDiv").animate({ width: '43%' }, "slow");
    }



    function ClearControls() {
        $("#RightSidebar").html('');
    }

    function ChangeColor(control) {
        $(".ChangeColor").each(function () {
            $(this).css({ 'background': 'none', 'color': 'black' })
        })
        $("#" + control).css({ 'background-color': 'rgb(109, 103, 103)', 'color': 'white' })
    }

    function getInnerItemDashboard() {
        var lSMCode = $("#lSMCode").val();
        if (lSMCode != "") {
            if (lSMCode == "SQ") {
                $("#liStarredQuestions").addClass("active");
                $("#liUnStarredQuestions").addClass("");
                $("#liNotices").addClass("");
                $("#liBills").addClass("");
                $("#liOthersPapers").addClass("");
                //GetAllStarredQuestions();
            }
            else if (lSMCode == "USQ") {
                $("#liUnStarredQuestions").addClass("active");
                $("#liStarredQuestions").addClass("");
                $("#liNotices").addClass("");
                $("#liBills").addClass("");
                $("#liOthersPapers").addClass("");
                //GetAllUnstarredQuestions();
            }
            else if (lSMCode == "NTC") {
                $("#liNotices").addClass("active");
                $("#liUnStarredQuestions").addClass("");
                $("#liStarredQuestions").addClass("");
                $("#liBills").addClass("");
                $("#liOthersPapers").addClass("");
                // GetAllCurrentNotices();
            }
            else if (lSMCode == "BLL") {
                $("#liBills").addClass("active");
                $("#liNotices").addClass("");
                $("#liUnStarredQuestions").addClass("");
                $("#liStarredQuestions").addClass("");
                $("#liOthersPapers").addClass("");
                //GetAllCurrentBills();
            }
            else if (lSMCode == "OPT") {
                $("#liOthersPapers").addClass("active");
                $("#liBills").addClass("");
                $("#liNotices").addClass("");
                $("#liUnStarredQuestions").addClass("");
                $("#liStarredQuestions").addClass("");
                // GetOtherPaperLaidAllList();
            }
        }
        else {
            $("#liStarredQuestions").addClass("");
            $("#liUnStarredQuestions").addClass("");
            $("#liNotices").addClass("");
            $("#liBills").addClass("");
            $("#liOthersPapers").addClass("");
            //GetAllStarredQuestions();
        }

        $("#btnNewCom").hide();
        $("#outerDiv").html("");
        $('#outerDiv').hide();
        $('#innerDiv').show();
    }

    </script>

