﻿@*@model SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.CommitteeList *@


<div class="main-content">
    <input type="hidden" id="hdCommitteeId" name="hide" />
    <div id="modalMsg" style="width: 55%; height: 64%; border: solid 1px black" class="HideModal">
        <div style="padding: 0px 98% 0px 98%;"><a href="#" onclick="RemoveModal()">
            <img src="~/Content/img/cancel-icon.png" style="width: 14px;" /></a> </div>

        <div class="page-content">
            <div class="widget-header widget-header-blue widget-header-flat" style="margin: 0px 20px;">
                <h4 class="widget-title lighter">Add Committee Members</h4>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="messageBox"></div>
                            <div class="row">
                                <input type="hidden" value="@ViewBag.mode" id="hdMode" />
                                <div style="color: black; margin: 0px 20px;">
                                    <table style="line-height: 39px;">

                                        <tr>
                                            <td colspan="2">Committee Name&nbsp;:&nbsp;Public Accounts Committee(2013-2014)</td>
                                            <td style="float:left"><a onclick="GetPrevious()">GetPrevious Members for Committee</a></td>

                                        </tr>

                                        <tr>
                                            <td>Members</td>
                                            <td></td>
                                            <td>Committee Members</td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <select style="width: 261px" id="SlctMembers" name="sometext" size="5" multiple="multiple">
                                                </select>
                                            </td>
                                            <td style="padding-left: 19px;">

                                                <span style="padding-left: 12px;">
                                                    <button type="submit" id="savebtnAdd" class="btn btn-sm btn-purple " style="padding-left: 14px;" onclick="getSelectedMembers();">
                                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                                        Add</button>

                                                </span>

                                                <span style="padding-left: 12px;">
                                                    <button type="reset" class="btn btn-sm btn-info" onclick="DeleteMembersFromList();" style="padding-left: 0px; padding-right: 0px;">
                                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                                        Remove</button>
                                                </span>

                                            </td>
                                            <td>

                                                <select style="width: 261px;" id="SlctCommMembers" name="sometexts" size="5">
                                                </select>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left: 329px;" colspan="3">Chairman&nbsp;:&nbsp;
                                                    <select name="sometext" id="ddlChairman" style="width: 257px;">
                                                    </select>

                                            </td>
                                        </tr>

                                    </table>
                                </div>
                                <div style="margin: 0px 20px;">
                                    <table style="width: 100%;">
                                        <tr>
                                            <td>
                                                <div class="btn-group pull-right padding-10">
                                                    <!-- #section:plugins/fuelux.wizard.buttons -->
                                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple " onclick="AddCommitteeMembers();">
                                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                                        @Resources.MasterDataDashboard.Save</button>
                                                    <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                                        @Resources.MasterDataDashboard.Reset
                                                    </button>
                                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>


                            </div>
                            <!--Save button-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*</div>*@


    </div>

</div>
<div id="overlay"></div>

@*@if (@Model.committeeMemberList != null)
{
   
   
     <script lang="ja" type="text/javascript">
         debugger;
       
        getSelectedMembers();

    </script>
           
            
}*@





<script lang="ja" type="text/javascript">

    //Added on 26-2-15

    function GetPrevious() {

        debugger;
        var AssemblyID = $("#AssemblyID").val();
        var CommitteeTypeId = $("#CommitteeTypeId").val();
        var CommitteeId = $("#CommitteeId").val();
        //var id = $("#CategoryID").val();
        data: { AssemblyID: AssemblyID; CommitteeTypeId: CommitteeTypeId;CommitteeId:CommitteeId }
        alert("GetPrevious");
        $.ajax({
            url: '/SuperAdmin/Committee/GetPreviousMembers',

            type: 'GET',
            success: function (data) {
                $.each(data, function (i, mobj) {
                    var opt = document.createElement("option");
                    document.getElementById("SlctMembers").options.add(opt);
                    //opt.text = mobj.Name;
                    //opt.value = mobj.MemberID;
                })
            }
        })

    }


    function GetAllCommitteeMembers(e) {
        //Clear dropdown and list box.
        document.getElementById("SlctCommMembers").options.length = 0;
        document.getElementById("SlctMembers").options.length = 0;
        document.getElementById("ddlChairman").options.length = 0
        document.getElementById("hdCommitteeId").value = e;

        //ajax for binding memberslist
        $.ajax({
            url: '/SuperAdmin/Committee/GetAllMembers',
            type: 'GET',
            success: function (data) {
                $.each(data, function (i, mobj) {
                    var opt = document.createElement("option");
                    document.getElementById("SlctMembers").options.add(opt);
                    opt.text = mobj.Name;
                    opt.value = mobj.MemberID;
                })
            }
        })
        //alert(e);
        //ajax for members edit case,applied in commiiteemembers listbox and dropdown.
        var ddlChairman = document.getElementById("ddlChairman");

        $.ajax({
            url: '/SuperAdmin/Committee/ShowCommitteMemberByCommitteeId',
            type: 'GET',
            data: { value: e },
            dataType: "json",
            success: function (data) {
                if (data != null) {
                    $.each(data, function (i, mobj) {

                        var opt = document.createElement("option");
                        document.getElementById("SlctCommMembers").options.add(opt);
                        opt.text = mobj.CommitteMemberName;
                        opt.value = mobj.MemberId;

                        var option = document.createElement("option");
                        option.text = document.getElementById("SlctCommMembers").options[i].text;
                        option.value = document.getElementById("SlctCommMembers").options[i].value;
                        ddlChairman.add(option);

                        if (mobj.IsChairMan == true) {
                            document.getElementById("ddlChairman").value = mobj.MemberId;
                        }
                    })
                }
            }
        })
    }


    //Add selected members to  list box
    function getSelectedMembers() {
        var slctMembers = document.getElementById("SlctMembers");
        for (var count = 0; count < slctMembers.options.length; count++) {
            if (slctMembers.options[count].selected) {

                var status = true;
                for (var leftcount = 0; leftcount < document.getElementById("SlctCommMembers").options.length; leftcount++) {
                    if (document.getElementById("SlctCommMembers").options[leftcount].value == slctMembers.options[count].value) {
                        status = false;
                    }
                }

                if (status) {
                    var opt = document.createElement("option");
                    document.getElementById("SlctCommMembers").options.add(opt);
                    opt.text = slctMembers.options[count].text;
                    opt.value = slctMembers.options[count].value;
                    var ddlChairman = document.getElementById("ddlChairman");
                    var option = document.createElement("option");
                    option.text = slctMembers.options[count].text;
                    option.value = slctMembers.options[count].value;
                    ddlChairman.add(option);
                }
            }
        }
    }

    //Remove members from list and dropdown.
    function DeleteMembersFromList() {
        var delMembers = document.getElementById("SlctCommMembers");
        var ddlMembers = document.getElementById("ddlChairman");
        ddlMembers.remove(delMembers.selectedIndex);
        delMembers.remove(delMembers.selectedIndex);
    }


    //Add committee members to database. 
    function AddCommitteeMembers() {
        var tCommitteeMember = [];
        var commMembers = document.getElementById("SlctCommMembers");
        for (var count = 0; count < document.getElementById("SlctCommMembers").options.length; count++) {
            tCommitteeMember.push(commMembers.options[count].value)
        }
        $.ajax({
            url: '/SuperAdmin/Committee/CreateCommitteMembers',
            type: "get",
            data: { values: tCommitteeMember.toLocaleString(), ChairmanId: $("#ddlChairman").val(), Mode: '@ViewBag.Mode', CommitteeId: document.getElementById("hdCommitteeId").value },
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                window.location.href = "/SuperAdmin/Committee/GetAllNewComittee"
            }
        });
    }

</script>


