﻿@model SBL.DomainModel.Models.Committee.AuthEmployee
@{
    ViewBag.Title = "Committee Authoirzed List";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    int count = 0;
}
@Html.Action("AdminLeftMenu", "Admin", new { @area = "Admin" })
<div class="main-content">
    @Html.Partial("_BreadcrumbsPartial")
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("GetAllNewComittee", "Committee")">@Resources.MasterDataDashboard.Home</a>
            </li>
            <li>
                <a href="@Url.Action("GetAllCommitee", "Committee")">@Resources.MasterDataDashboard.CommitteeType</a>
            </li>

            <li>
                <a href="@Url.Action("_AuthorizeDashBoard", "Committee", new { @area = "SuperAdmin" })">Committee Authorize list</a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.CommitteeAuthorizeList</li>
        </ul>
    </div>
    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->


        <!-- /section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
            <button title="Add new committee" class="btn  btn-sm btn-info" onclick="javascript:window.location.href=' /SuperAdmin/Committee/NewCommitteeAuthorize';">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                <span class="bigger-110">@Resources.MasterDataDashboard.New</span>
            </button>
        </div>
        <div class="page-header">
            <h1>Committee                          
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.CommitteeAuthorizeList
                </small>
            </h1>
        </div>
        <div id="Menu">
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->

                    <div class="pass-table">
                        <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">S#</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Name</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Aadhar Id</th>

                                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Action</th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                @if (Model.AuthEmployeeList != null)
                                {
                                    if (Model.AuthEmployeeList.Count > 0)
                                    {
                                        foreach (var item in Model.AuthEmployeeList)
                                        {
                                            count = count + 1;
                                    <tr id="GetPreCommitte">
                                        <td>@count</td>
                                        <td>@item.Name</td>
                                        <td>@item.AadharId</td>
                                        <td>
                                            <div class="hidden-sm hidden-xs action-buttons">
                                               @* <a data-rel="tooltip" class="green tooltip-success" title="Edit"  href="@Url.Action("EditAuthorizedCommittee", "Committee", new { Id = item.ID })">
                                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                </a>*@
                                                <a data-rel="tooltip" class="red tooltip-error DeleteLink" title="Delete" id="1"  href="@Url.Action("DeleteAuthorizedCommittee", "Committee", new { Id = item.ID })">
                                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>

                    </div>

                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@

            </div>

            <!-- /section:basics/footer -->
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2').dataTable();
    });
</script>
