﻿@model SBL.DomainModel.Models.Committee.AuthEmployee
@{
    ViewBag.Title = "NewAuthorizationInCommittee";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}
@Html.Action("AdminLeftMenu", "Admin", new { @area = "Admin" })

<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
<div class="main-content">
    @Html.Partial("_BreadcrumbsPartial")
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("CreateCommittee", "Committee")">@Resources.MasterDataDashboard.Home</a>
            </li>
            <li>
                <a href="@Url.Action("GetAllCommitee", "Committee")">@Resources.MasterDataDashboard.CommitteeType</a>
            </li>
            <li>
                <a href="@Url.Action("GetAllNewComittee", "Committee")">@Resources.MasterDataDashboard.Committee</a>
            </li>

            @if (Model.Mode == "Edit")
            { 
                <li class="active">Update Authorized Users</li>
            }
            else
            { 
                <li class="active">@Resources.MasterDataDashboard.AuthorizeNewInCommittee</li>
            }

        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>
                @Resources.MasterDataDashboard.Committee

                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @if (Model.Mode == "Edit")
                    { 
                        <text>Update Committee Authorization </text> 
                    }
                    else
                    { 
                        @Resources.MasterDataDashboard.AuthorizeNewInCommittee
                    }

                </small>
            </h1>
        </div>

        @if (Model.Mode == "Edit")
        { 
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="widget-title lighter">Update Committee Authorization</h4>
            </div>
			
        }
        else
        { 
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.AuthorizeNewInCommittee</h4>
            </div>
        }


        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            @using (Html.BeginForm("CreateAuthorizeCommittee", "Committee", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                            { 
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.Mode)
                                @Html.HiddenFor(model => model.ID)
                                <div class="tabbable">
                                    <div class="tab-content no-border padding-24">
                                        <div class="tab-pane in active" id="news-english">
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Name">Select New User</label>

                                                <div class="col-sm-9 help-block">
                                                    @Html.DropDownListFor(m => m.AadharId,
                            new SelectList(Model.obUserList, "UserId", "Name"), "--Select Users--",
                            new { @class = "col-xs-10 col-sm-5", @id = "ddlUsers"})
                                                    @*@Html.DropDownListFor(m => m.AadharId, Model.obUserList, "--Select Users--", new { @id = "ddlUsers", @tabindex = "6", @class = "select", @style = "width:320px;",@onchange="committeeChange()" })*@
                                                    @Html.HiddenFor(m => m.Name)
                                                    <span class="field-validation-error" id="CommitteeTypeNamevalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>

                                                </div>
                                            </div>

                                            <div class="space-2"></div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Description </label>
                                                <div class="col-sm-9">
                                                    @Html.TextAreaFor(model => model.Remark, new { @style = "width:346px", maxlength = "500" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="assemblyRemarksvalidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.IsActive </label>
                                                <div class="col-sm-9">

                                                    @Html.CheckBoxFor(model => model.IsActive)
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group pull-right padding-10">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->

                                    @if (Model.Mode == "Add")
                                    {
                                        <button type="submit" id="savebtn" class="btn btn-sm btn-purple ">
                                            <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                            @Resources.MasterDataDashboard.Save</button>
                                    }
                                    else
                                    {
                                        <button type="submit" id="updatebtn" class="btn btn-sm btn-purple ">
                                            <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                            Update</button>
                                    }
                                    <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        @Resources.MasterDataDashboard.Reset
                                    </button>

                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>

                            }

                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

<script type="text/javascript">

    $(document).on('change', '#ddlUsers', function () {
        var dataName = $("#ddlUsers option:selected").text();
        //var text = $("#ddlUsers").val();
        //alert(text);
        //String newString = oldString.trim();

        var res = dataName.split("<=>");
        var a = $("#Name").val(res[0]);
        var b = $("#ddlUsers option:selected").val(res[1]);
        //alert(b);
    });

    $(document).ready(function () {
        var thisvalue = $("#ddlUsers option:selected").text();
       // alert(thisvalue);
        $("#ddlUsers option:selected").val();
    });
</script>



















