﻿@model  IEnumerable<SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.CommiteeTypeViewModel>
@{
   // int count = 0;
}



<div class="widget-box">
    <div class="widget-header widget-header-flat">

        <div class="widget-toolbar no-border">
            <button class="btn btn-xs btn-primary bigger" onclick='CreateNew()'>
                <i class="ace-icon fa fa-pencil-square-o"></i>
                @Resources.MasterDataDashboard.New          
            </button>
        </div>
    </div>
</div>
<div id='fullDetailsModel' class="hide">
    <div id='ShowfullDetailsModel' style="text-align: center">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <!-- PAGE CONTENT BEGINS -->
        <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
        <input type="hidden" id="SelectedFixNo" name="SelectedFixNo" />
        <div class="pass-table">

            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">


                <div class="table-header">
                    @Resources.MasterDataDashboard.CommitteeTypeList
                </div>

                <div class="pass-table">


                    @if (Model != null)
                    {
                        if (Model.Count() > 0)
                        {       
                                
                          
                        <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                            <thead>
                                <tr role="row">
                                   
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.CommitteeTypeName</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.Description</th>
                                  
                                   
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                @foreach (var item in Model)
                                {
                                    var trID = item.CommitteeTypeId;
                                   <tr  id="@trID" onclick="onSelectRowHandler(this.id);">
                                        <td>@item.CommitteeTypeName</td>
                                        <td>@item.Description</td>
                                        
                                    </tr>                                                                
                                }

                            </tbody>
                        </table>
                        <!-- PAGE CONTENT ENDS -->
                        }
                        else
                        {
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="alert alert-info">

                                    <strong>@Resources.MasterDataDashboard.NoCommitteeTypeRecordFound</strong><br />


                                </div>
                            </div>
                        </div>
                        }
                    }

                </div>


            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>





<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
@*<script src="~/Scripts/jquery-1.7.min.js"></script> *@
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>



<script>
    $(document).ready(function () {

        $("#othermain").addClass("active open");
        $("#othersub").addClass("nav-show").css("display", "block");
        $("#committeelist").addClass("active");
        $("#otherlinkid").removeClass("fa-comment").addClass("fa-comment-o");
    });
    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
              { "bSortable": false },
              
              { "bSortable": false }
            ]

        });

        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })


    function onSelectRowHandler(rowId) {

        $('.widget-box').show();


        $.ajax({
            url: "/SuperAdmin/Committee/EditCommiteeType",
            type: 'GET',
            data: {
                Id: rowId,
            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data);


                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }


</script>






