﻿@model  SBL.DomainModel.Models.eFile.eFileAttachments
@*@model  SBL.DomainModel.Models.eFile.eFileAttachment*@
@{
    
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    int count = 0;
}

<style>
    .ShowModal {
        top: 18%;
        left: 14%;
        z-index: 1000;
        position: absolute;
        background-color: White;
        display: block;
    }
    .HideModal {
        display: none;
    }
    .OverlayEffect {
        /*background-color: white;*/
        filter: alpha(opacity=40);
        opacity: 0.7;
        width: 100%;
        height: 100%;
        z-index: 400;
        position: absolute;
        top: 0;
        left: 0;
    }
    </style>

<script type="text/javascript">
    function DisplayModal(AttachmentId) {               
        //$.ajax({
        //    async:true,
        //    type: "POST",
        //    url: "/SuperAdmin/Committee/PDFView",
        //    datatype: "json",
        //    data: { eFileAttachID: AttachmentId },
        //    success: function (data) {
        //        //$.each(data, function (i, value) {
        //            //$("#modalMsg").append('<tr><td>' + i + 1 +'</td><td>'+value.CreatedDate+'</td><td>' + value.Title +'</td><td>' + value.Description +'</td></tr>');
        //            //$("#modalMsg").append('<object id="mypdf" data="~/eFileAttachments/' + value.eFileID + '/' + value.eFileName + 'type="application/pdf" style="width:100%; height:95%">');
        //            //$("#modalMsg").append('<object id="mypdf" data="~/eFileAttachments/ELEMENTARY EDUCATION_S_.pdf" type="application/pdf" style="width:100%; height:95%">');
        //        //});
        //        alert(data);
        //        $("#modalMsg").html(data);
        //    }
        //});
        $('#modalMsg').show();
        document.getElementById("overlay").className = "OverlayEffect";
        document.getElementById("modalMsg").className = "ShowModal";
    }
    function RemoveModal() {
        //document.getElementById("modalMsg").className = "HideModal";
        document.getElementById("overlay").className = "";
        //return false;
        $('#modalMsg').hide();
    }
    function ReplayModal(ParentId) {        
        document.getElementById("hdParentId").value = ParentId;
        $('#ReplayMsg').show();
        //document.getElementById("overlay").style.height = document.body.clientHeight + 'px';
        document.getElementById("overlay").className = "OverlayEffect";
        document.getElementById("ReplayMsg").className = "ShowModal";
        //GetAllCommitteeMembers();
    }
    function RemoveReplay() {
        //document.getElementById("modalMsg").className = "HideModal";
        document.getElementById("overlay").className = "";
        //return false;
        $('#ReplayMsg').hide(); 
    }
    function CommitteeReplyModal() {
        $('#ViewCommReply').show();
        //document.getElementById("overlay").style.height = document.body.clientHeight + 'px';
        document.getElementById("overlay").className = "OverlayEffect";
        document.getElementById("ViewCommReply").className = "ShowModal";
        //GetAllCommitteeMembers();
    }
    function RemoveCommitteeReplyModal() {
        //document.getElementById("modalMsg").className = "HideModal";
        document.getElementById("overlay").className = "";
        //return false;
        $('#ViewCommReply').hide();
    }


    function ReplyCommitteeModal(parentId) {
        CommitteeReplyModal();
        $.ajax({
            type: "GET",
            url: "/SuperAdmin/Committee/GetCommitteeReply",
            datatype: "json",
            success: function (data) {
                //var myJsonObject = data;                
                //$.each(myJsonObject, function (i, value) {                    
                //    $("#sample-table-3").append('<tr><td>' + i+1 +
                //        '</td><td>'+value.CreatedDate+
                //        '</td><td>' + value.Title +
                //        '</td><td>' + value.Description +
                //        '</td></tr>');
                //    if(myJsonObject.ChildNode.Count>0)
                //    {
                //        DepartmentNotice(myJsonObject.ChildNode)
                //    }
                //});
                $("#IdChildView").html(data);
               
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        })
    }


    //function DepartmentNotice() {
    //    $.each(data, function (i, value) {
    //        $("#sample-table-3").append('<tr><td>' + i + 1 +
    //            '</td><td>' + value.CreatedDate +
    //            '</td><td>' + value.Title +
    //            '</td><td>' + value.Description +
    //            '</td></tr>');
    //    });
    //}

 </script>


@Html.Action("LeftNavigationMenu", "SuperAdmin")

<div id="modalMsg" style="width: 60%; height: 800px; border:solid 1px black;top:10px;left:263px;" class="HideModal">
<div style="padding: 0px 98% 0px 98%;"><a href="#"  onclick="RemoveModal()"><img src="~/Content/img/cancel-icon.png" style="width: 14px;" /></a> </div>
<object data="~/eFileAttachments/ELEMENTARY EDUCATION_S_.pdf" type="application/pdf" style="width:100%; height:95%">
 
      <p>It appears you don't have a PDF plugin for this browser.
      No biggie... you can <a href="myfile.pdf">click here to
      download the PDF file.</a></p>  
</object>
</div>
    


<div id="ReplayMsg" style="width: 62%;height: 385px;border: 1px solid black;top: 10px;left: 238px;" class="HideModal">

    @using (Html.BeginForm("AddeFileAttachments", "eFile", new { area = "eFile" }, FormMethod.Post, new { @class = "form_section", id = "form_course", @enctype = "multipart/form-data" }))
    {
       <input type="hidden" name="Type" value="FromDepartment" />
        <input type="hidden" name="ParentId" value="" id="hdParentId" />
<div style="padding: 0px 98% 0px 97%;"><a href="#"  onclick="RemoveReplay()"><img src="~/Content/img/cancel-icon.png" style="width: 14px;" /></a> </div> 
    <div class="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="@Url.Action("ShowDepartmentNotices", "Committee")">@Resources.MasterDataDashboard.Home</a>
                </li>
                <li class="active">Sent Notice</li>
            </ul>
        </div>
    <table style="width:100%">
        <tr>
            <td>
                <div style="padding: 60px 0px 0px 16px;">
                <table style="width:100%">
                  
                    <tr>
                        <td>
                            Title
                        </td>
                        <td>
                            <input type="text" class = "col-xs-10 col-sm-5" name="Title" placeholder = "Title" maxlength ="51" style="width: 95%;" />
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td><td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            Description
                        </td>
                        <td>                          
                            <textarea rows="4" cols="50" style="width:95%" name="Description">
                                </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Document</td>
                        <td><input type="file" name="file" /></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td><td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2">

                             <div class="btn-group pull-right padding-10">
                                                        <!-- #section:plugins/fuelux.wizard.buttons -->
                                                        <button type="submit" id="savebtn" class="btn btn-sm btn-purple "  onclick="AddCommitteeMembers();">
                                                            <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                                            Send</button>
                                                        <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                                            <i class="ace-icon fa fa-times bigger-125"></i>
                                                            @Resources.MasterDataDashboard.Reset
                                                        </button>
                                                        <!-- /section:plugins/fuelux.wizard.buttons -->
                                                    </div>

                        </td>
                    </tr>
                </table>
                    </div>
            </td>
        </tr>
    </table>
    }
</div>

<div id="ViewCommReply" style="width: 80%;height: 350px; border:solid 1px black;top:10px;left:152px;" class="HideModal">
<div style="padding: 0px 98% 0px 97%;"><a href="#"  onclick="RemoveCommitteeReplyModal()"><img src="~/Content/img/cancel-icon.png" style="width: 14px;" /></a> </div>
   
     @Html.Partial("_BreadcrumbsPartial")
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumb">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("GetAllCommitee", "Committee")">@Resources.MasterDataDashboard.Home</a>
            </li>

            <li>
                <a href="@Url.Action("GetAllCommitee", "Committee")">Department</a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.List</li>
        </ul> 
    </div>

        <div class="page-content">
            <div class="page-header">
                <h1>Committee                             
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Department Reply
                </small>
                </h1>
            </div>
          @*  @if(Model.departmentReplys!=null)
            {
                if(Model.departmentReplys.Count>0)
                {
            @Html.Partial("ChildView",Model.departmentReplys)
            }
            }*@
            

         </div>
</div>

<div id="overlay"></div>


<div class="main-content">
    @Html.Partial("_BreadcrumbsPartial")
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("ShowDepartmentNotices", "Committee")">@Resources.MasterDataDashboard.Home</a>
            </li>           
            <li class="active">@Resources.MasterDataDashboard.List</li>
        </ul>

       @* <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>*@

    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->


        <!-- /section:settings.box -->
       @* <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
            <button class="btn  btn-sm btn-info" onclick="javascript:window.location.href=' /SuperAdmin/Committee/CreateCommiteeType';">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                <span class="bigger-110">@Resources.MasterDataDashboard.New</span>
            </button>
        </div>*@
        <div class="page-header">
            <h1>Department                             
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Document List
                </small>
            </h1>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <div class="pass-table">
                    @if (Model.eFileAttachemts != null)
                    {
                        if (Model.eFileAttachemts.Count() > 0)
                        {                           
                        <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                            <thead>
                                <tr role="row">
                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" onclick="javascript:window.location.href=' /SuperAdmin/Committee/GetAllCommitee';">@Resources.MasterDataDashboard.SNo</th>
                                     <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" onclick="javascript:window.location.href=' /SuperAdmin/Committee/GetAllCommitee';">Sent on</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.Subject</th>

                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.MasterDataDashboard.Description</th>
                                    @*<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Pass Type: activate to sort column ascending">@Resources.MasterDataDashboard.IsSubCommittee</th>*@
                                    @*<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Status</th>*@
                                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                                     <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                                </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                @foreach (var item in Model.eFileAttachemts)
                                {
                                    count = count + 1;  
                                    <tr>
                                        <td class="center">
                                            @count
                                        </td>
                                        <td>@Convert.ToDateTime(item.CreatedDate).ToString("dd/MM/yyyy")</td>
                                        <td style="width:40%">@item.Title</td>
                                        <td style="width:50%">@item.Description</td>   
                                        <td>
                                            <div class="hidden-sm hidden-xs action-buttons">
                                                <a title="View document" onclick="DisplayModal(@item.eFileAttachmentId)" href="javascript:void(0);" class="green">
                                                    <i class="ace-icon fa fa-eye bigger-130"></i>
                                                </a>
                                            </div> 
                                        </td> 
                                        <td>
                                            <span  onclick="ReplayModal(@item.eFileAttachmentId)" id="NoticeReply" class="label label-sm label-success">Reply</span>
                                        </td>
                                        <td>
                                             @*<span onclick="ReplyCommitteeModal(@item.ParentId)" id="ViewReply" class="label label-sm label-success">View Reply</span>*@
                                            @*@Html.ActionLink("View Reply","GetCommitteeReply","Committee",new {ParentId=item.eFileAttachmentId},null)*@
                                            <a href="@Url.Action("GetCommitteeReply","Committee", new {ParentId=item.eFileAttachmentId },null)"><img src="~/Content/img/Reply.png"  title="View Reply"/></a>
                                        </td>
                                    </tr>                                                                
                                }

                            </tbody>
                        </table>
                        <!-- PAGE CONTENT ENDS -->
                        }
                        else
                        {
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="alert alert-info">

                                    <strong>@Resources.MasterDataDashboard.NoCommitteeTypeRecordFound</strong><br />


                                </div>
                            </div>
                        </div>
                        }
                    }

                </div>

                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@

            </div>

            <!-- /section:basics/footer -->
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>

<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>

    <div class="space-6"></div>
</div>
<script>

    $(document).ready(function () {
        $(':file').change(function () {
            for (var i = 0; i < this.files.length; ++i) {
                var name = this.files.item(i).name;
                var fileExtension = ['pdf', 'doc', 'docx', 'xls','xlsx'];
                var Extension = name.split('.').pop().toLowerCase();
                if ($.inArray(Extension, fileExtension) == -1) {
                    alert(name + " is not valid format. Only 'doc','docx','pdf','xls','xlsx' formats are allowed.");
                    $(':file').val("");
                    return false;
                }
            }
        })
    })
</script>
@*<script type="text/javascript">
 jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
              { "bSortable": false },
              null,null,  
              { "bSortable": false }
            ]

        });

        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

 })
   </script>*@