﻿
@model SBL.DomainModel.Models.UserModule.mUserModules 

<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
<script src="~/Scripts/jquery.alerts.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.timepicker1.js"></script>


@using (Ajax.BeginForm("SaveModule", "Module", new AjaxOptions { OnSuccess = "LoginSuccess", HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "NewUserAccess" }))
{
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ModuleId)
        @Html.HiddenFor(m => m.Mode)
    
         <div class="widget-header widget-header-flat">
         @if (Model.ModuleId == null)
         {
        <h4 class="widget-title">@Resources.UserManagement.CreateModule</h4>
         }
         else
         {
              <h4 class="widget-title">@Resources.UserManagement.CreateModule</h4>
         }
    </div>     
       
    <div class="widget-body">
        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">

                </div>
             
                 
                  <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.UserManagement.ModuleName: <b style="color: red">*</b></div>

                    <div class="profile-info-value">
                        <span id="spnTitle" class="">
                           @Html.TextBoxFor(model => model.ModuleName, new { @id = "TxtName", @class = "col-xs-10 col-sm-5", @placeholder = @Resources.UserManagement.ModuleName, @autocomplete = "off", style = "width: 350px" })
                        <span class="field-validation-error" id="RoleNameValidation" style="color: red"></span>
                        </span>
                    </div>
                </div>
                  <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.UserManagement.ModuleDescription: <b style="color: red"></b></div>

                    <div class="profile-info-value">
                        <span id="spnDescription" class="">
                           @Html.TextAreaFor(model => model.ModuleDescription, new { @id = "TxtDescp", @class = "col-xs-10 col-sm-5", @placeholder = @Resources.UserManagement.ModuleDescription, @autocomplete = "off", style = "width: 350px" })
                        <span class="field-validation-error" id="RoleDescriptionValidation" style="color: red"></span>
                        </span>
                    </div>
                </div>

                  <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.UserManagement.IsActive: <b style="color: red"></b></div>

                    <div class="profile-info-value">
                        <span id="spnIsactive" class="">
                          @Html.CheckBoxFor(model => model.Isactive, new { @name = @Resources.UserManagement.IsActive }) @Resources.UserManagement.IsActive
                       
                        </span>
                    </div>
                </div>
        
            </div>
         
        </div>


           <div class="wizard-actions">
           
                <button type="button" id="savebtn" class="btn btn-sm btn-purple" onclick="return ModulecheckValidation();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        @Resources.UserManagement.Save</button>

                <button type="reset" class="btn btn-sm btn-info"   onclick="return cancelEntry();">
                <i class="ace-icon fa fa-times bigger-125"></i>
               @Resources.UserManagement.Cancel
            </button>
        </div>

       
    </div>
   
    
    <div id='fullDetailsModel' class="hide">
        <div id='ShowfullDetailsModel' style="text-align: center">
        </div>
    </div>
}


<style>
    .hidden {
        display: none;
        visibility: hidden;
    }
</style>

<script>



    $(document).ready(function () {
        $("#DdlModulesId").append("<option value='0' selected=true>--Select User Type--</option>")
       
    });

    function cancelEntry() {

        $("#RightSidebar").empty();
    }


    function ModulecheckValidation() {

        var UserAccessName = $("#TxtName").val();
        if (UserAccessName == "") {
            alert("Please Enter User Access");
            return false;
        }
        else if (UserAccessName != null || UserAccessName != "") {
            alert("Are You Sure Want to Save?");

            $.ajax({
                url: "/UserManagement/Module/CheckUserAccess",
                type: 'GET',
                data: {
                    UserAccessName: UserAccessName
                },
                success: function (data) {
                    if (data) {
                        alert("UserAccess Already  Exit");
                        return false;
                    }
                    else {
                        $("#NewUserAccess").submit();
                        //alert("Save successfully");
                        return true;
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                    location.reload(true);
                }
            });
        }

        else {
            //alert("Save successfully");
        }
    }

    
</script>

