﻿@model SBL.eLegistrator.HouseController.Web.Areas.VehiclePasses.Models.VehicleViewModel

@{
    int count = 0;
}

<div class="page-header">
    <h1>@Resources.PublicPasses.HeadingPasses
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            @Resources.PublicPasses.HeadingPassesApproved
        </small>
    </h1>
</div>


<div id='PrintModal' class="hide">
    <div id='ShowPrintPreviewModel' style="text-align: center">
    </div>
</div>

<div class="row">
    <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
    <div class="col-xs-12">
        <div class="table-header">
            @Resources.PublicPasses.GridHeadingApproved
        </div>
        <div class="pass-table">
            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                @if (Model.VehiclePassList != null)
                {
                    @if (Model.VehiclePassList.Count > 0)
                    {
<table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">
                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                                <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">#</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.PublicPasses.GridPassCode</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">@Resources.PublicPasses.GridName</th>
                                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Recomended By: activate to sort column ascending">@Resources.PublicPasses.GridGender</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Request Date: activate to sort column ascending">@Resources.PublicPasses.GridAge</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Allowed Date: activate to sort column ascending" style="width:150px">@Resources.PublicPasses.GridFatherName</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">@Resources.PublicPasses.GridMobileNumber</th>
                                <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.VehiclePassList)
                            {
                                count = count + 1;
                                string style = (count % 2 == 0) ? "odd" : "even";

                                var trID = @item.PassID;
                                
<tr class="@style" id="@trID">
                                    <td>
                                        <input id="check @item.PassID" type="checkbox" onchange="checkChange(this.id)" />
                                    </td>
                                    <td class=" ">@count</td>
                                    <td class=" ">@item.PassCode</td>
                                    <td class="">@item.Name</td>
                                    <td class=" ">@item.Gender</td>
                                    <td class="hidden-480 ">@item.Age</td>
                                    <td class=" ">@item.FatherName</td>
                                    <td class=" ">@item.MobileNo</td>
                                    <td class=" ">
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a title="@Resources.PublicPasses.ActionFullDetails" onclick="FullPassDetails(@item.PassID)" href="javascript:void(0);" class="green">
                                                <i class="ace-icon fa fa-eye bigger-130"></i>
                                            </a>
                                            <a image="@item.Photo" title="@Resources.PublicPasses.ActionViewPhoto" onclick="ImagePriview(this);" href="javascript:void(0);" role="button"  data-toggle="modal" >
                                                <i class="ace-icon glyphicon glyphicon-picture bigger-130"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
<div class="row">
                        <div class="col-xs-12" id="ButtonGroup">
                            <button type="submit" value="Add" id="AddButton" onclick="PrintSelectedPasses()" class="btn btn-info"><i class="ace-icon glyphicon  glyphicon-print"></i>@Resources.PublicPasses.ActionPrint</button>
                        </div>
                    </div>
                    }
                }
                else
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-info">
                                @Resources.PublicPasses.GridNoPassApproved
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script>
    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
              { "bSortable": false }, { "bSortable": false },
              null, null, null, null, null, null,
               { "bSortable": false }
            ]
        });
    });

    function checkChange(id) {
        if (document.getElementById(id).checked) {
            var selectedId = document.getElementById("SelectedChkbxId").value;
            if (selectedId == "") {
                document.getElementById("SelectedChkbxId").value = id.substring(6);
            }
            else {
                selectedId = selectedId + "," + id.substring(6);
                document.getElementById("SelectedChkbxId").value = selectedId;
            }
        }
        else {
            var selectedId = document.getElementById("SelectedChkbxId").value;

            var newvalue = selectedId.replace("," + id.substring(6), "");
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(6) + ",", "");
            }
            if (newvalue.length == selectedId.length) {
                newvalue = selectedId.replace(id.substring(6), "");
            }
            document.getElementById("SelectedChkbxId").value = newvalue;
        }
    }

    function PrintSelectedPasses() {
        var PassIDs = document.getElementById("SelectedChkbxId").value;
        if (PassIDs != "" && PassIDs != null) {

            if (confirm("Are you sure to Print Selected passes ?")) {
                $.ajaxSetup({ cache: false });
                var pathurl = '@Url.Action("PrintSelectedPublicPass", "PublicPass")';

                $.ajax({
                    url: pathurl,
                    type: 'GET',
                    data: {
                        PassIDs: PassIDs
                    },
                    success: function (data) {
                        $('#ShowPrintPreviewModel').html("");
                        $('#ShowPrintPreviewModel').html(data);

                        var dialog = $("#PrintModal").removeClass('hide').dialog({
                            resizable: false,
                            modal: true,
                            title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon glyphicon glyphicon-print bigger-130 red'></i> Print Passes</h4></div>",
                            width: 600,
                            title_html: true,
                            buttons: [
                                {
                                    text: "OK",
                                    "class": "btn btn-primary btn-xs",
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }
                            ]
                        });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                    }
                });
            }
            else {
                return false;
            }
        }
        else {
            alert("Please Select passes to print first!");
        }
    }
</script>
