﻿@model SBL.DomainModel.Models.Diaries.DiaryModel
@using SBL.eLegistrator.HouseController.Web.Utility
<link href="~/assets/css/Dashboard.css" rel="stylesheet" />
<div id="sidebar" class="sidebar responsive">
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div id="sidebar-shortcuts-large" class="sidebar-shortcuts-large">
            @if (!string.IsNullOrEmpty(CurrentSession.UserId_House))
            {
                <a href="#" class="home_btn" id="UserId_House" title="Increase fontsize" data-placement="bottom" data-rel="tooltip" onclick="location.href='@Url.Action("Index", ".././SetSession/SetSession", new { Id = CurrentSession.UserId_House })'">
                    <b>
                        <i class="fa fa-home" aria-hidden="true"></i>
                        House
                    </b>
                </a>
            }
            @if (!string.IsNullOrEmpty(CurrentSession.UserId_DeptReply))
            {
                <!-- #section:basics/sidebar.layout.shortcuts -->
                <a href="#" class="dept" id="UserId_DeptReply" title="Decrease fontsize" data-placement="bottom" data-rel="tooltip" onclick="location.href='@Url.Action("Index", ".././SetSession/SetSession", new { Id = CurrentSession.UserId_DeptReply })'">
                    <b>
                        <i class="fa fa-building-o" aria-hidden="true"></i>

                        Dept
                    </b>
                </a>
            }
            @if (!string.IsNullOrEmpty(CurrentSession.UserId_eConstituency))
            {
                <!--<button class="btn btn-danger">-->

                <a href="#" id="UserId_eConstituency" title="Change language" data-placement="right" data-rel="tooltip" class="ward_btn" onclick="location.href='@Url.Action("Index", ".././SetSession/SetSession", new { Id = CurrentSession.UserId_eConstituency })'">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    Ward                          <!--<i class="ace-icon fa fa-cogs"></i>-->
                </a>
            }

        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div>
    <!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list">
        <li class="active">
            <a href="javascript:void(0);">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text">@Resources.Diaries.MyDashboard</span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="active">
            <a href="javascript:void(0);" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text">
                    @Resources.Diaries.Diary
                @*/onclick="GetAllList()"  of Span/
                    <span class="badge badge-success tooltip-error">
                        @Model.TotalDiaryCnt
                    </span>*@
            </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>
        <ul class="submenu">
            <li class="">
                <a href="javascript:void(0);" class="dropdown-toggle" onclick="GetStarred(this.id);">
                    <i class="menu-icon fa fa-caret-right"></i>
                    @Resources.Diaries.StarredQuestion

                    <span class="badge badge-primary ">
                        @Model.SCount
                    </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a href="javascript:void(0);" onclick="GetPPQuestionsByType('Starred')">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Postponed Questions
                            @{
                                <span class="badge badge-primary ">@Model.SPPCnt</span>
                            }
                        </a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
            @*For Legislature only*@
            @*<li class="" id="liUnStarredQuestions">
            <a href="javascript:void(0);" class="dropdown-toggle" onclick="GetUnstarred(this.id);">
                <i class="menu-icon fa fa-caret-right"></i>
                @Resources.Diaries.UnstarredQuestion

                <span class="badge badge-primary ">
                    @Model.UCount
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li class="">
                    <a href="javascript:void(0);" onclick="GetPPQuestionsByType('Unstarred')">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Postponed Questions
                        @{
                            <span class="badge badge-primary ">@Model.UPPCnt</span>
                        }
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>*@
            <li class="">
                <a href="javascript:void(0);" class="dropdown-toggle" onclick="GetNotices(this.id);">
                    <i class="menu-icon fa fa-caret-right"></i>
                    @Resources.Diaries.Notices

                    <span class="badge badge-primary ">@Model.NCount</span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a href="javascript:void(0);" onclick="GetPPNotices()">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Postponed Resolutions
                            @{
                                <span class="badge badge-primary ">@Model.NPostCount</span>
                            }
                        </a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="javascript:void(0);" class="dropdown-toggle">
                    <i class="menu-icon fa fa-bookmark"></i>
                    <span class="menu-text">
                        Paper verifications
                        <span class="badge badge-success tooltip-error"></span>
                    </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a href="javascript:void(0);" onclick="VerifyPapers();">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Verify Papers
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="javascript:void(0);" onclick="VerifiedPapersReport();">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Verified Papers
                        </a>
                        <b class="arrow"></b>
                    </li>


                </ul>
            </li>

            <li class="">
                <a href="javascript:void(0);" class="dropdown-toggle">
                    <i class="menu-icon fa fa-bookmark"></i>
                    <span class="menu-text">
                        Memorandom
                        @*/onclick="GetAllList()"  of Span/
        <span class="badge badge-success tooltip-error">
            @Model.TotalDiaryCnt
        </span>*@
                    </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a href="#" status="Recieved" papercategorytypeid="3" isstarred="false" onclick="GetCompleteDetailsByPaperLaid(this);" style="cursor: pointer;">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Total  Memorandom Received
                            <span class="badge badge-primary "></span>
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="#" status="Recieved" papercategorytypeid="3" isstarred="false" onclick="GetPendingCompleteDetailsByPaperLaid(this);" style="cursor: pointer;">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Memorandom Pending
                            <span class="badge badge-primary "></span>
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="#" status="Laid" papercategorytypeid="3" isstarred="false" onclick="GetCompleteDetailsByPaperToBeLaid(this);" style="cursor: pointer;">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Memorandom To Be Laid
                            <span class="badge badge-primary "></span>
                        </a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="javascript:void(0);" class="dropdown-toggle">
                    <i class="menu-icon fa fa-bookmark"></i>
                    <span class="menu-text">
                        Report
                        @*/onclick="GetAllList()"  of Span/
                    <span class="badge badge-success tooltip-error">
                        @Model.TotalDiaryCnt
                    </span>*@
                    </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a href="javascript:void(0);" onclick="GetReports(this.id);">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Member Wise Report

                            @*  <span class="badge badge-primary ">
                        </span>*@


                        </a>
                        <b class="arrow"></b>
                    </li>

                </ul>
            </li>
        </ul>
    </li>

</ul>
<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>
<script type="text/javascript">
    try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
</script>
</div>


<script type="text/javascript">

    function ChangeLangaugeEnglish() {

        $.ajax({
            url: "/Home/ChangeCulture",
            type: 'GET',
            data: {
                lang: "7C4F28F6-02FC-4627-993D-E255037531AD",
                langCulture: "/"
            },
            success: function (data) {
                if (data) {
                    window.location.href = '@Url.Action("DiariesDashboard", "Diaries", new { Area = "Notices" })';
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }
    function ChangeLangaugeHindi() {

        $.ajax({
            url: "/Home/ChangeCulture",
            type: 'GET',
            data: {
                lang: "43177cd4-b51d-497a-a3bc-e81f23b07450",
                langCulture: "/"
            },
            success: function (data) {
                if (data) {
                    window.location.href = '@Url.Action("DiariesDashboard", "Diaries", new { Area = "Notices" })';
                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    $("#sizeDown").click(function () {
        if ($("body").hasClass('sizeLarge')) {
            $("body").css("font-size", "13px");
            $("body").removeClass('sizeLarge');
        } else {
            $("body").css("font-size", "10px");
            $("body").addClass('sizeSmall');
        }
    });
    $("#sizeUp").click(function () {
        if ($("body").hasClass('sizeSmall')) {
            $("body").css("font-size", "13px");
            $("body").removeClass('sizeSmall');
        } else {
            $("body").css("font-size", "18px");
            $("body").addClass('sizeLarge');
        }
    });


</script>
