﻿@model SBL.DomainModel.Models.Diaries.DiaryModel

<style>
    .DdlClass {
        width: 90%;
    }

    .txtClass {
        width: 90%;
        visibility: visible !important;
    }

    textarea {
        visibility: visible !important;
    }
</style>
@using (Html.BeginForm("SavePaperEntry", "Diaries", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form1" }))
{

    @Html.AntiForgeryToken()
    <div class="widget-header widget-header-flat">
        <h4 class="widget-title">
            @if (Model.PaperEntryType == "Starred")
            {
                <span>@Resources.Diaries.StarredQuestion </span>
            }
            else if (Model.PaperEntryType == "Unstarred")
            {
                <span>@Resources.Diaries.UnstarredQuestion </span>
            }
            else if (Model.PaperEntryType == "Notice")
            {
                <span>@Resources.Diaries.Notices  </span>
            }
        </h4>
    </div>
    @Html.HiddenFor(m => m.IsTyipstReqired, new { @id = "hdnTyipstReqired" })
    <div class="widget-body">
        <div class="widget-main no-padding-right no-padding-left">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Diaries.BusinessType </div>

                    <div class="profile-info-value">
                        <span id="spnBussinessType" class="">
                            @Html.HiddenFor(m => m.PaperEntryType, new { @Id = "HdnPType" })
                            @Html.DropDownListFor(m => m.EventId, new SelectList(Model.eventList, "EventId", "EventName"), new { @id = "DdlBType", @tabindex = "1", @class = "DdlClass", onchange = "GetTypistRequired()" })
                            @Html.ValidationMessageFor(m => m.EventId, "", new { style = "color: red;" })

                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Diaries.AskedBy <b style="color: red">*</b> </div>

                    <div class="profile-info-value">
                        <span id="spnAskedBy" class="">
                            @Html.DropDownListFor(m => m.MemberId, new SelectList(Model.memberList, "MemberId", "MemberName"), new { @id = "DdlMember", @tabindex = "2", @class = "DdlClass" })
                            @Html.ValidationMessageFor(m => m.MemberId, "", new { style = "color: red;" })
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Committee.Minister</div>

                    <div class="profile-info-value">
                        <span class="">
                            @Html.DropDownListFor(m => m.OptMinistryId, new SelectList(Model.memMinList, "MinistryID", "MinisterMinistryName"), new { @id = "DdlMinistry", @class = "DdlClass", @tabindex = "3" })
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Committee.Department</div>

                    <div class="profile-info-value">
                        <span class="">
                            @Html.DropDownListFor(m => m.OptDepartmentId, new SelectList(Model.DiaryList, "DepartmentId", "DepartmentName"), new { @id = "DdlDepartment", @class = "DdlClass", @tabindex = "4" })
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Diaries.ReceivedDate <b style="color: red">*</b> </div>

                    <div class="profile-info-value">
                        <span id="spnRecievedDate" class="">
                            @Html.TextBoxFor(m => m.stringDate, "{0:dd/MM/yyyy}", new { @readonly = true, @tabindex = "5", @class = "txtClass" })
                            @Html.ValidationMessageFor(m => m.stringDate, "", new { style = "color: red;" })
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name">@Resources.Diaries.ReceivedTime <b style="color: red">*</b></div>

                    <div class="profile-info-value">


                        <div class="input-group bootstrap-timepicker" style="width: 90%">
                            @Html.TextBoxFor(m => m.NoticeTime, new { @id = "timepicker1", @tabindex = "6", @class = "form-control" })
                            <span class="input-group-addon">
                                <i class="fa fa-clock-o bigger-110"></i>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(m => m.NoticeTime, "", new { style = "color: red;" })


                    </div>
                </div>

                <div class="profile-info-row">
                    <div style="vertical-align: top" class="profile-info-name">@Resources.Diaries.Subject <b style="color: red">*</b> </div>

                    <div class="profile-info-value">
                        <span id="spnSubject" class="">
                            @*@Html.TextAreaFor(m => m.Subject, new { @tabindex = "5", @class = "txtClass", @onkeypress = "return CheckLanguage(event);" })*@
                            @Html.EditorFor(m => m.Subject, new { @tabindex = "7", @class = "txtClass", @onkeypress = "return CheckLanguage(event);" })
                            <br />
                            <input id="ChkLocal" type="checkbox" onclick="CheckHindi();" />&nbsp;<b>Local</b>

                            @if (Model.PaperEntryType == "Starred" || Model.PaperEntryType == "Unstarred")
                            {
                                <input id="ChkIsQuesPart" style="margin-left: 1%" type="checkbox" onclick="CheckQuesInPart();" /><b style="margin-left: 1%">Is Question In Part</b>
                            }
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div style="vertical-align: top" class="profile-info-name">@Resources.Diaries.Details <b style="color: red">*</b> </div>

                    <div class="profile-info-value">
                        <span id="spnSubject" class="">
                            @Html.EditorFor(m => m.MainQuestion, new { @tabindex = "8", @class = "txtClass" })
                            <br />

                        </span>
                    </div>
                </div>

                <div class="profile-info-row" style="display:none">
                    <div style="vertical-align: top" class="profile-info-name">@Resources.Diaries.Priority</div>

                    <div class="profile-info-value">
                        <span id="spnPriority" class="">
                            @Html.TextBoxFor(m => m.Priority, new { @tabindex = "8", @class = "txtClass", @onkeypress = "return isNumberKey(event);", @Value = "1" })
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="space-10"></div>
    <div class="wizard-actions">
        @Html.HiddenFor(m => m.AssemblyID)
        @Html.HiddenFor(m => m.SessionID)
        @Html.HiddenFor(m => m.QuestionTypeId)
        @Html.HiddenFor(m => m.PaperEntryType)
        @Html.HiddenFor(m => m.ConstituencyCode)
        @Html.HiddenFor(m => m.ConstituencyName)
        @Html.HiddenFor(m => m.ChkLocalLang)
        @Html.HiddenFor(m => m.IsQuestionInPart)
        @Html.HiddenFor(m => m.IsHindi)
        <button type="submit" class="btn btn-primary" name="submitButton" tabindex="6" id="Save" value="Save" onclick="return checkValidation();">
            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
            @Resources.Diaries.Save
        </button>
    </div>
}


<!-- page specific plugin style sheet -->
<link rel="stylesheet" href="/assets/css/bootstrap-timepicker.css" />
<link rel="stylesheet" href="/assets/css/datepicker.css" />

<!-- page specific plugin scripts -->
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-timepicker.min.js"></script>

<script>
    $(document).ready(function () {

        $(':file').change(function () {
            for (var i = 0; i < this.files.length; ++i) {
                var name = this.files.item(i).name;
                var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp', 'pdf', 'doc', 'docx'];
                var Extension = name.split('.').pop().toLowerCase();
                if ($.inArray(Extension, fileExtension) == -1) {
                    alert(name + " is not valid format. Only '.jpeg','.jpg', '.png', '.gif', '.bmp','doc','docx','pdf' formats are allowed.");
                    $(':file').val("");
                    return false;
                }
            }
        });

        $("textarea#Subject").focus(function () {
            $(this).animate(
         {
             height: "150px"
         }, 500
         )
        })
        $("textarea#Subject").blur(function () {
            $(this).animate(
         {
             height: "80px"
         }, 500
         )
        })

        //$('#stringDate').datepicker({
        //    autoclose: true,
        //    todayHighlight: true,
        //    format: "dd/mm/yyyy",
        //    startDate: '-d'

        //}).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
        //    $(this).prev().focus();
        //});

        $('#timepicker1').val("")
        $('#timepicker1').timepicker({
            minuteStep: 1,
            showSeconds: true,
            showMeridian: false,
            defaultTime: 'current'
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });




        $.validator.addMethod('accept', function () { return true; });
        var type = $("#PaperEntryType").val();

        if (type != "Notice") {
            $("#DdlBType").find("option[value='4']").remove()
        }
        else {
            $("#DdlBType").append("<option value='' selected=true>Select Business Type</option>")
        }


        if (@Model.MemberId == 0) {
            $("#DdlMember").append("<option value='' selected=true>Select Member</option>")
        }
        //$("#DdlMinistry").append("<option value='' selected=true>Select...</option>")
        $("#DdlDepartment").append("<option value='' selected=true>Select Department</option>")


        //$(function () {
        //    $('#NoticeTime').timepicker({
        //        'timeFormat': 'hh:mm tt',
        //        'onchange': function (time) {
        //            $('#NoticeTime').val(time);
        //        }
        //    });
        //});
    })
</script>


<script>

    function CheckValidation() {
        var fle = $("#filePaerLaid").val();

        if (fle == "") {
            $("#fileErr").html("File not Uploaded.")
        } else {
            $("#fileErr").html("")
            $("#form1").submit();
        }

    }

    $("#DdlMember").change(function () {
        var Aid = '@Model.AssemblyID'
        var Sid = '@Model.SessionID'
        var Ptype = '@Model.PaperEntryType'
        var QtpeId = '@Model.QuestionTypeId'
        var Mid = $(this).val();
        if (Mid != null && Mid != "") {
            $.get("/Notices/LegislationFixation/GetConstByMemberId", { MemberId: Mid, AssemId: Aid }, function (data) {
                $("#ConstituencyCode").val(data.ConstituencyCode)
                $("#ConstituencyName").val(data.ConstituencyName)
            });
            //if (Ptype != "Notice") {
            //    $.get("/Notices/Diaries/CheckExcessQuestion", { MemberId: Mid, AssemId: Aid, SessId: Sid, QTId: QtpeId }, function (data) {
            //        alert(data)
            //    });
            //}
        }
        else {
            alert("Please Select Any Member !")
        }

    });

    $("#DdlMinistry").change(function () {
        var Mid = $("#DdlMinistry").val()
        $.get("/Notices/LegislationFixation/GetDepartmentByMinister", { MinistryId: Mid }, function (data) {
            $("#DdlDepartment").empty();
            $("#DdlDepartment").append("<option value='0' selected='true'>Select Department</option>")
            $.each(data, function (index, optiondata) {
                $("#DdlDepartment").append("<option value='" + optiondata.DepartmentId + "'>" + optiondata.DepartmentName + "</option>");
            });
        });
    });

    function GetTypistRequired() {
        var EventId = document.getElementById("DdlBType").value;
        $.ajax({
            url: "/Notices/Notice/GetTypistRequired",
            type: 'POST',
            data: { EventId: EventId },
            success: function (data) {

                $('#hdnTyipstReqired').val(data.TypistNeede);
            }
        });
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57)) {
            alert("Only Number Allowed !")
            return false;
        }
        return true;
    }

    function CheckLanguage(e) {
        if ($("#ChkLocal").attr("checked")) {
            $("#ChkLocalLang").val(Local)
            if (e.charCode >= 65 && e.charCode <= 90) {
                alert("Only Local Language Allowed !")
                e.preventDefault();
            }// A-Z
            if (e.charCode >= 97 && e.charCode <= 122) {
                alert("Only Local Language Allowed !")
                e.preventDefault();
            }// a-z
        }
        else {
            $("#ChkLocalLang").val("")
        }
    }

    function CheckQuesInPart() {

        if ($("#ChkIsQuesPart").is(':checked')) {
            $("#IsQuestionInPart").val(true)
        }
        else {
            $("#IsQuestionInPart").val(false)
        }
    }
    function CheckHindi() {
        if ($("#ChkLocal").is(':checked')) {
            $("#IsHindi").val(true)
        }
        else {
            $("#IsHindi").val(false)
        }
    }
</script>
