﻿@model IEnumerable<SBL.DomainModel.Models.Diaries.tAuditTrialViewModel>
@{int count = 0;
  int k = 0;}
<style>
	td i {
		font-style:normal;
	}

</style>
<div class="pass-table">

	<div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">

		<table class="table table-striped table-bordered table-hover dataTable leftaligntable" id="sample-table-2" aria-describedby="sample-table-2_info">
			<thead>
				<tr role="row">

					<th class=" sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">#</th>
					
					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Question Number</th>
					
					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Reference #</th>
					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" >Paper Type</th>

					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Department </th>
					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label=""> Title</th>
					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Attachment</th>
							<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Status</th>
					<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Action</th>
				</tr>
			</thead>

			<tbody role="alert" aria-live="polite" aria-relevant="all">
				@if (Model != null)
				{
					foreach (var item in Model)
					{

						count = count + 1;
						string style = (count % 2 == 0) ? "odd" : "even";

						var ID = item.paperLaidTempID;

					<tr class="@style" id="@ID">

						<td class="">@count</td>
					<td class="">
							@item.questionNumber
						</td>
						<td class="">
							@item.documentReferenceNumber
						</td>
						<td class="">
							<i class="">@item.type</i>
						</td>
					
						
						<td class="">
							<i class="">@item.departmentName</i>
						
						<td class="">
							<i class=""> @Html.Raw(item.subject)</i>
						</td>
						
						<td class="">
							<i class=""> <a href="/Viewer/web/viewer.html?file=@(item.SecurePath+"/"+item.filePath)" target="_blank">@item.filePathName</a></i>
						</td>
                        <td class="">
							<i class="">   <b> @item.verifiedBy </b><br />
  @if (item.DateTime.HasValue)
                     {
              @item.DateTime.Value.ToString("dd-MM-yyyy h:mm tt");
                     }
							</i>
						</td>
						<td>
							<div class="hidden-sm hidden-xs action-buttons">
								@if (item.status)
								{

									<button type="button" class="btn btn-minier btn-info" disabled id="@item.paperLaidTempID">
										<i class="ace-icon fa fa-pencil-square-o bigger-110"></i>
										Verified
									</button>
            

								}
								else
								{

									<button type="button" class="btn btn-minier btn-success"  id="@item.paperLaidTempID" onclick="ChangeStatus(this.id)">
										<i class="ace-icon fa fa-pencil-square-o bigger-110"></i>
										verify
									</button>
         
								}
							</div>
						</td>
					</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>

<script>
	$(document).ready(function () {
		tableinit();
	});
	function tableinit() {
		var oTable1 =
		 $('#sample-table-2')
		 .dataTable({
			 "bDestroy": true,
			 bAutoWidth: true,
			 "aoColumns": [
				{ "bSortable": false },
			  null, null, null, null, null, null, null,
			   { "bSortable": false }

			 ],
			 bFilter: false, bInfo: false
		 });
	}
	
	

	function ChangeStatus(id) {
		var mtext = "";
		var rowId = id;
		mtext += "<h1>Please Confirm the details before Verify</h1><hr/>";
		mtext += "<b>Reference #      </b>";
		mtext += $("#" + rowId).find('td:eq(1)').text().trim();
		mtext += "<br/><b>Paper Laid       </b>";
		mtext += $("#" + rowId).find('td:eq(2)').text().trim();
		mtext += "<br/><b>Department  </b>";
		mtext += $("#" + rowId).find('td:eq(3)').text().trim();
		
		mtext += "<br/><b>Subject      </b>";
		mtext += $("#" + rowId).find('td:eq(4)').text().trim();
		mtext += "<br/><b>Attachment        </b>";
		mtext += "<a href='" + $("#" + rowId).find('td:eq(5)').find('a').attr('href') + "' target='_blank'>View Attachment</a>";

		bootbox.dialog({
			message: "<span class='bigger-110'>" + mtext + "</span>",
			buttons:
			{
				"success":
				 {
				     "label": "<i class='ace-icon fa fa-check'></i> Verify ",
					 "className": "btn-sm btn-success",
					 "callback": function () {
					     changeStatusofAudit( id);
					 }
				 },

				"click":
				{
					"label": "Close",
					"className": "btn-sm btn-default",
					"callback": function () {

					}
				}
			}
		});
	}

	function changeStatusofAudit(paperLaidTempID) {
		$("#loader-wrapper").show();
		var pathurl = "@Url.Action("changeStatusofAudit", "Diaries")";
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: {
			    paperLaidTempID: paperLaidTempID

			},
			success: function (data) {
			    $("#tablecontainer").html("");
			    $("#tablecontainer").html(data);
			 
				$("#loader-wrapper").hide();
				ShowNotification("success", "Details has been Verified");
				

			}
		});
	}

</script>
