﻿@model SBL.DomainModel.Models.Diaries.DiaryModel
@{
    int count = 0;
    int startpage = 0;
    int endPage = 0;
    float rcnt = @Model.ResultCount;
    float rperPage = @Model.RowsPerPage;
    float cnt = rcnt / rperPage;
    int b = (int)cnt;
    float c = (float)cnt - b;  
}

@if (c > 0)
{
    count = b + 1;
}
else
{
    count = b;
}

@{
    startpage = ((@Model.selectedPage * 10) - 10) + 1;
    endPage = startpage + 9;           
}

@if (Model.loopStart <= 0)
{
    Model.loopStart = 1;
    Model.loopEnd = 5;
}

@Html.HiddenFor(m => m.PaperEntryType, new { @id = "PETypeSent" })
@Html.HiddenFor(m => m.QuestionTypeId, new { @id = "QTypeIdSent" })
<div class="grid_cantainer1">

    @if (Model.PaperEntryType != "Notice")
    {
        if (Model.QuestionTypeId == 1)
        {
        <div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px; border: 1px solid #C5C5C5;">
            @Resources.Diaries.Diary >> @Resources.Diaries.StarredQuestion
        </div>
        }
        if (Model.QuestionTypeId == 2)
        {
        <div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px; border: 1px solid #C5C5C5;">
            @Resources.Diaries.Diary >> @Resources.Diaries.UnstarredQuestion
        </div>
        }
    }
    else if (Model.PaperEntryType == "Notice")
    { 
        <div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px; border: 1px solid #C5C5C5;">
            @Resources.Diaries.Diary >> @Resources.Diaries.Notices
        </div>
    }
@*<div>
        <div style="float: right">
            <input type="button" id="btnNewCom" style="margin: 6px 2px 15px" value="New Draft" onclick="CreateNew('Starred')" />
        </div>
    </div>*@
    <div>
        @if (count > 0)
        {
            <div class="grid-ex-footer">
                <div class="grid-pagination">
                    @if (count < Model.loopEnd)
                    {
                        Model.loopEnd = count;
                    }

                    <a href="javascript:void(0);" onclick="NextButtonSent(@Model.RowsPerPage,1,1,5)" title="@Resources.Common.GoToTheFirstPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">@Resources.Common.FirstPage</span></a>
                    @if (Model.loopStart > 5)
                    {                           
                        <a href="javascript:void(0);" onclick="NextAndPreviousButtonSent(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)" title="@Resources.Common.GoToThePreviousPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">@Resources.Common.PreviousPage</span></a>
                    }

                    <ul class="gridpage-numbers">
                        @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                        {
                            if (i == @Model.selectedPage)
                            {                                    
                            <li><span class="grid-page-selected">@i</span></li>
                            }
                            else
                            {
                            <li><a href="javascript:void(0);" onclick="NextButtonSent(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                            }
                        }
                    </ul>
                    @if (Model.loopStart + 5 < @count)
                    {
                        <a href="javascript:void(0);" onclick="NextAndPreviousButtonSent(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)" title="@Resources.Common.GoToTheNextPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">@Resources.Common.NextPage</span></a>
                    }
                    <a href="javascript:void(0);" onclick="NextButtonSent(@Model.RowsPerPage,@count,@count-5,@count)" title="@Resources.Common.GoToTheLastPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">@Resources.Common.LastPage</span></a>
                    <span class="grid-page-info">@Model.loopStart - @Model.loopEnd @Resources.Common.Of @count @Resources.Common.Pages.</span>
                </div>
            </div>
        }


        @if (Model.DiaryList.Count > 0)
        {
            <input type="hidden" id="SelectedChkbxId" name="SelectedChkbxId" />
            <table id="editableTable" class="simple-table-style1">

                <tr>
                    @if (Model.PaperEntryType != "Notice")
                    {
                        <th class="grid_th" style="text-align: center; border-width: 1.5px;">@Resources.Diaries.DiaryNumber</th>
                    }
                    else if (Model.PaperEntryType == "Notice")
                    {
                        <th class="grid_th" style="text-align: center; border-width: 1.5px;">@Resources.Diaries.NoticeNumber</th>
                    }
                    <th class="grid_th" style="text-align: center; border-width: 1.5px;">@Resources.Diaries.AskedBy</th>
                    <th class="grid_th" style="text-align: center; border-width: 1.5px;">@Resources.Diaries.ReceivedDate</th>

                </tr>


                @if (Model.PaperEntryType != "Notice")
                {
                    foreach (var item in Model.DiaryList)
                    {
               
                    <tr id="Q_@item.QuestionId" class="SColorChange" onclick="ViewDetails(this.id,'Question')" style="cursor: pointer">

                        <td style="text-align: center; vertical-align: top; border-width: 1px;">@item.DiaryNumber
                        </td>



                        <td style="text-align: center; vertical-align: top; border-width: 1px;">@item.AskedBy
                        </td>
                        <td style="text-align: center; vertical-align: top; border-width: 1px;">@Convert.ToDateTime(item.DateForBind).ToString("dd/MM/yyyy")</td>
                    </tr>
                  
                    
                    }
                }

                else if (Model.PaperEntryType == "Notice")
                {
                    foreach (var item in Model.DiaryList)
                    {
                    <tr id="Q_@item.NoticeId" class="SColorChange" onclick="ViewDetails(this.id,'Notice')" style="cursor: pointer">

                        <td style="text-align: center; vertical-align: top; border-width: 1px;">@item.NoticeNumber
                        </td>

                        <td style="text-align: center; vertical-align: top; border-width: 1px;">@item.AskedBy
                        </td>
                        <td style="text-align: center; vertical-align: top; border-width: 1px;">@Convert.ToDateTime(item.DateForBind).ToString("dd/MM/yyyy")</td>
                    </tr> 
                    }
                }

            </table>
   
   
        }
        else
        {
            <div style="text-align: center">@Resources.Diaries.NoRecords</div>
        }

        @if (count > 0)
        {
            <div class="grid-ex-footer">
                <div class="grid-pagination">
                    @if (count < Model.loopEnd)
                    {
                        Model.loopEnd = count;
                    }

                    <a href="javascript:void(0);" onclick="NextButtonSent(@Model.RowsPerPage,1,1,5)" title="@Resources.Common.GoToTheFirstPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-firstpage">@Resources.Common.FirstPage</span></a>
                    @if (Model.loopStart > 5)
                    {                           
                        <a href="javascript:void(0);" onclick="NextAndPreviousButtonSent(@Model.RowsPerPage,@Model.loopStart-5,@Model.loopStart-5,@Model.loopEnd-5)" title="@Resources.Common.GoToThePreviousPage" class="grid-page-link grp-state-disabled"><span class="gridpag-icon" id="gridpag-prevpage">@Resources.Common.PreviousPage</span></a>
                    }

                    <ul class="gridpage-numbers">
                        @for (int i = Model.loopStart; i <= Model.loopEnd; i++)
                        {
                            if (i == @Model.selectedPage)
                            {                                    
                            <li><span class="grid-page-selected">@i</span></li>
                            }
                            else
                            {
                            <li><a href="javascript:void(0);" onclick="NextButtonSent(@Model.RowsPerPage,@i,@Model.loopStart,@Model.loopEnd)" class="grid-num-link" data-page="@i">@i</a></li>
                            }
                        }
                    </ul>
                    @if (Model.loopStart + 5 < @count)
                    {
                        <a href="javascript:void(0);" onclick="NextAndPreviousButtonSent(@Model.RowsPerPage,@Model.loopStart+5,@Model.loopStart+5,@Model.loopEnd+5)" title="@Resources.Common.GoToTheNextPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-nextpage">@Resources.Common.NextPage</span></a>
                    }
                    <a href="javascript:void(0);" onclick="NextButtonSent(@Model.RowsPerPage,@count,@count-5,@count)" title="@Resources.Common.GoToTheLastPage" class="grid-page-link"><span class="gridpag-icon" id="gridpag-lastpage">@Resources.Common.LastPage</span></a>
                    <span class="grid-page-info">@Model.loopStart - @Model.loopEnd @Resources.Common.Of @count @Resources.Common.Pages.</span>
                </div>
            </div>
        }
    </div>
</div>







<script>
    function ViewDetails(Id, Type) {
        {
            var Qid = Id.substring(2)
            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/Notices/Diaries/GetQuestionNoticeDetails",
                type: 'GET',
                data: {
                    Id: Qid,
                    PaperType: Type
                },
                success: function (data) {

                    $("#divCreatNew").html(data)

                    $(".SColorChange").each(function () {
                        $(this).css({ 'background': 'none', 'color': 'black' })
                    })
                    $("#" + Id).css({ 'background-color': '#A8ACAD', 'color': 'white' })

                    $("#divShowMessage").hide()

                }
            });
        }
    }

    function NextButtonSent(rPage, pageNo, lStart, lEnd) {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var AId = $("#AssemblyID").val();
        var SId = $("#SessionID").val();
        var pageNumber = pageNo;
        var rowsPerPage = rPage;
        var loopStart = lStart;
        var loopEnd = lEnd;
        var Etype = $("#PETypeSent").val()
        var QtypeId = $("#QTypeIdSent").val()
        var pathurl = '@Url.Action("Sent", "Diaries")';
        var view = "";

        if (Etype != "Notice") {

            if (QtypeId == 1) {
                view = "Starred";
            }
            if (QtypeId == 2) {
                view = "Unstarred";
            }
        }
        else if (Etype == "Notice") {
            view = "Notice";
        }


        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                AssemId: AId, SessId: SId,
                PageNumber: pageNo,
                RowsPerPage: rPage,
                loopStart: lStart,
                loopEnd: lEnd,
                PaperType: view
            },
            success: function (data) {
                ClearControls();
                $("#divDataContainer").html(data);
                cl.hide();
            }
        });
    }

    function NextAndPreviousButtonSent(rPage, pageNo, lStart, lEnd) {
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var AId = $("#AssemblyID").val();
        var SId = $("#SessionID").val();
        var pageNumber = pageNo;
        var rowsPerPage = rPage;
        var loopStart = lStart;
        var loopEnd = lEnd;
        var Etype = $("#PETypeSent").val()
        var QtypeId = $("#QTypeIdSent").val()
        var view = "";

        if (Etype != "Notice") {

            if (QtypeId == 1) {
                view = "Starred";
            }
            if (QtypeId == 2) {
                view = "Unstarred";
            }
        }
        else if (Etype == "Notice") {
            view = "Notice";
        }


        @*var pathurl = '@Url.Action("PendingUnstaredQuestion", "PaperLaidDepartment")';*@
        $.ajax({
            url: "/Notices/Diaries/Sent",
            type: 'GET',
            data: {
                AssemId: AId, SessId: SId,
                PageNumber: pageNo,
                RowsPerPage: rPage,
                loopStart: lStart,
                loopEnd: lEnd,
                PaperType: view
            },
            success: function (data) {
                ClearControls();
                $("#divDataContainer").html(data);
                cl.hide();
            }
        });
    }

</script>
