﻿@model SBL.DomainModel.Models.Diaries.DiaryModel



@if (Model != null)
{

    if (Model.PaperEntryType != "Notice")
    {
        if (Model.QuestionTypeId == 1)
        {
    <div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px; border: 1px solid #C5C5C5;">
        @Resources.Diaries.Starred >> @Resources.Diaries.Details
    </div>
        }
        if (Model.QuestionTypeId == 2)
        {
    <div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px; border: 1px solid #C5C5C5;">
        @Resources.Diaries.Unstarred >> @Resources.Diaries.Details
    </div>
        }
    }
    else if (Model.PaperEntryType == "Notice")
    { 
    <div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px; border: 1px solid #C5C5C5;">
        @Resources.Diaries.Notices >> @Resources.Diaries.Details
    </div>
    }


    if (Model.PaperEntryType != "Notice")
    {
    <div style="border: 1px solid grey;">
        <table style="margin-left: 20px; width: 96%">
            <tr class="border-Down">
                <td class="tr-border-right"><strong>@Resources.Committee.Category:</strong>

                </td>
                <td>
                    @Model.EventName
                </td>
            </tr>
            <tr class="border-Down">
                <td class="tr-border-right"><strong>@Resources.Diaries.QuestionNumber:</strong>

                </td>
                <td>
                    @Model.QuestionNumber
                </td>
            </tr>
            <tr class="border-Down">
                <td class="tr-border-right"><strong>@Resources.Committee.Minister:</strong>

                </td>
                <td>
                    @Model.MinisterName
                </td>
            </tr>
            <tr class="border-Down">
                <td class="tr-border-right"><strong>@Resources.Committee.Department:</strong>

                </td>
                <td>
                    @Model.DepartmentName
                </td>
            </tr>
            <tr class="border-Down">
                <td class="tr-border-right"><strong>@Resources.Diaries.AskedBy:</strong>

                </td>
                <td>
                    @Model.MemberName

                </td>
            </tr>
            <tr class="border-Down">
                <td class="tr-border-right"><strong>@Resources.Diaries.ConstituencyName:</strong>

                </td>
                <td>
                    @Model.ConstituencyName
                </td>
            </tr>
            <tr class="border-Down">
                <td class="tr-border-right"><strong>@Resources.Diaries.FixedDate:</strong>

                </td>
                <td>
                    @Convert.ToDateTime(Model.NoticeDate).ToString("dd/MM/yyyy")
                </td>
            </tr>
            <tr class="border-Down">
                <td class="tr-border-right"><strong>@Resources.Diaries.Subject:</strong>

                </td>
                <td>
                    @Model.Subject
                </td>
            </tr>
            <tr class="border-Down">
                <td class="tr-border-right"><strong>@Resources.Diaries.Question:</strong>

                </td>
                <td>
                    @Html.Raw(Model.MainQuestion)
                </td>
            </tr>
        </table>
    </div>
    }
    else if (Model.PaperEntryType == "Notice")
    {
    <div style="border: 1px solid grey;">
        <table style="margin-left: 20px; width: 96%">
            <tr class="border-Down">
                <td class="tr-border-right"><strong>@Resources.Committee.Category:</strong>

                </td>
                <td>
                    @Model.EventName
                </td>
            </tr>
            <tr class="border-Down">
                <td class="tr-border-right"><strong>@Resources.Committee.Minister:</strong>

                </td>
                <td>
                    @Model.MinisterName
                </td>
            </tr>
            <tr class="border-Down">
                <td class="tr-border-right"><strong>@Resources.Committee.Department:</strong>

                </td>
                <td>
                    @Model.DepartmentName
                </td>
            </tr>
            <tr class="border-Down">
                <td class="tr-border-right"><strong>@Resources.Diaries.AskedBy:</strong>

                </td>
                <td>
                    @Model.MemberName

                </td>
            </tr>


            <tr class="border-Down">
                <td class="tr-border-right"><strong>@Resources.Diaries.Subject:</strong>

                </td>
                <td>
                    @Model.Subject
                </td>
            </tr>
            <tr class="border-Down">
                <td class="tr-border-right"><strong>@Resources.Diaries.Notices:</strong>

                </td>
                <td>
                    @Html.Raw(Model.Notice)
                </td>
            </tr>
        </table>
    </div>
    }

}


