﻿@{
    ViewBag.Title = "DiaryofQuestionsNotices";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<link rel="stylesheet" href="~/assets/css/chosen.css" />

@*@Html.Hidden("SessionCodeHome", Model.SessionID)
@Html.Hidden("AssemblyCodeHome", Model.AssemblyCode)*@
@Html.Partial("~/Areas/Admin/Views/Shared/_LeftMenu.cshtml", new { @area = "Admin" })
@*@Html.Action("_LeftMenu", "Shared", new { @area="Admin"})*@

@*<a href="~/Areas/Admin/Views/Shared/_LeftMenu.cshtml">~/Areas/Admin/Views/Shared/_LeftMenu.cshtml</a>*@
<div class="main-content">
    @*    @Html.Partial("_ChangerBreadcrumbsPartial")*@
    @*        @Html.Partial("_BreadCrumbsPartial")*@
    <div class="page-content">
        <div class="row" id="main">



            <div id="outerDiv">
            </div>

            <div class="two-column row" id="innerDiv">
               
                <div id="resize-left" class="ui-widget-content">
                    <div class="col-xs-12">
                        <div class="row-fluid">

                            <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
                            <div id="divDataContainer">
                            </div>

                        </div>
                    </div>
                </div>

                <div id="resize-right" class="ui-widget-content">
                    <div class="col-xs-12">
                        <div class="row">

                            <div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>
                            @*Modified by sanish 24-07-2014 12:30PM*@




                            <div class="widget-body">
                                <div class="widget-main">

                                    <div id="RightSidebar" style="width: 100%">
                                    </div>
                                    <div id="FormPart" style="width: 100%; height: 100%">
                                    </div>
                                </div>
                            </div>







                        </div>
                    </div>
                </div>
               

            </div>


        </div>
    </div>
</div>

<script src="~/assets/js/jquery-ui.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="~/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="~/assets/js/jqGrid/i18n/grid.locale-en.js"></script>
<script src="~/Scripts/tinymce/tiny_mce.js"></script>
<script src="~/assets/js/chosen.jquery.min.js"></script>
<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>

<script type="text/javascript">

    jQuery(document).ready(function () {
        $("#SessionMonitoring").addClass("active open");
        $("#SessionMonitoringSub").addClass("nav-show").css("display", "block");
        $("#SessionMonitoringList2").addClass("active");
        $("#SessionMonitoringLinkId").removeClass("fa-file").addClass("fa fa-cog");
        GetReports();

    });


    function ClearControls() {
        $("#RightSidebar").html('');
    }


    function GetReports() {
        $("#two-column").css("display", "block")
        $("#loader-wrapper").show();
        var AId = $("#AssemblyID").val();
        var SId = $("#SessionID").val();
        $.ajaxSetup({ cache: false });
        $.ajax({
            url: "/Notices/Report/MemberWiseReport",
            type: 'GET',

            success: function (data) {
                //var parentWidth = $('#resize-left').parent().outerWidth();
                //if ($('#resize-right').width() > (parentWidth * 0.52)) { resizeLeftPanel(50); }
                //else { resizeLeftPanel(100); }
                //$('#spnScrollPosition').html('2');
                resizeLeftPanel(95);
                $("#divDataContainer").empty();
                $("#divDataContainer").html(data);
                ClearControls();
                $("#loader-wrapper").hide();
                document.getElementById("resize-right").style.display = "none";


            }
        });
    };





</script>


<script>
    $(function () {

        $('#sidebar-collapse').on('click', function () {
            var parentWidth = $('#resize-left').parent().width();
            if ($('#sidebar').hasClass('menu-min')) {
                parentWidth = parentWidth - 179;
            } else { parentWidth = parentWidth + 175; }

            var remainingSpace = parentWidth - $('#resize-left').outerWidth();
            var divTwo = $('#resize-left').next();
            var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
            divTwo.css('width', divTwoWidth + 'px');

            //alert("ds");
            setTimeout(function () {
                $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
            }, 50);
        });

        $("#resize-left").resizable({
            handles: 'e',
            minWidth: '350',
            maxWidth: '850',
            /*    grid: [ 20, 10 ], */
            resize: function () {
                var remainingSpace = $(this).parent().width() - $(this).outerWidth();
                var divTwo = $(this).next();
                var divTwoWidth = remainingSpace - (divTwo.outerWidth() - divTwo.width());
                divTwo.css('width', (divTwoWidth - 20) + 'px');

                $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
            }

        });
    });
    function resizeLeftPanel(sizeRatio) {
        var parentWidth = $('#resize-left').parent().width();
        var sidebarWidth = parseInt((parentWidth * sizeRatio) / 100);
        var left_width = $('#resize-left').outerWidth();
        if (sidebarWidth > left_width) {

            $('#resize-left').animate({ width: '+=' + (sidebarWidth - left_width) + 'px' }, 800);
            $('#resize-right').animate({ width: '-=' + (sidebarWidth - left_width) + 'px' }, 800);

        } else {

            $('#resize-left').animate({ width: '-=' + (left_width - sidebarWidth) + 'px' }, 800);
            $('#resize-right').animate({ width: '+=' + (left_width - sidebarWidth) + 'px' }, 800);

        }

        $("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());

    }



</script>





