﻿@model SBL.DomainModel.ComplexModel.CutMotionModel

@{
    int count = 0;
}


<div class="row">
    <div class="col-xs-12">

        <!-- PAGE CONTENT BEGINS -->

        <div class="pass-table">
            <div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">
                @if (Model.UserList != null)
                {
                    if (Model.UserList.Count() > 0)
                    {
                    
                    <div class="table-header">
                        Cut Motions
                    </div>
                    
                    
                    <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
                        <thead>
                            <tr role="row">
                                <th class="hidden-480 sorting" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">#</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 20%">Notice Number</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 20%">Asked By</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 30%">Subject</th>
                                 <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 30%">Bracketed Notice No</th>
                                  <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 30%">Event Name</th>
                                  <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 30%">Demand Name</th>
                                <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 15%">Recieved Date</th>
                              @*  <th class="hidden-480 sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 30%"></th>*@
                            </tr>
                        </thead>

                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            @foreach (var item in Model.UserList)
                            {
                                count = count + 1;
                                string style = (count % 2 == 0) ? "odd" : "even";

                                var trID = item.NoticeId;
                                
                                <tr class="@style" id="@trID" onclick="onSelectRowHandler(this.id);">

                                    <td class="">@count</td>

                                    @{
                                string str = @item.NoticeNumber;
                                    }

                                    <td class="">
                                        @item.NoticeNumber
                                    </td>
                                  @*  <td class="">
                                        @item.QuesNumber @if (item.Flag == "RF")
                                                         {
                                            <b style="margin-left: 15%" class="green">(P)</b>
                                                         }
                                    </td>*@
                                    <td class="">
                                        @item.MemberName
                                    </td>
                                    
                                      <td class="">
                                        @Html.Raw(item.Subject)
                                    </td>
                                     <td class="">
                                        @item.ClubbedDNo
                                    </td>
                                      <td class="">
                                        @item.EventName
                                    </td>
                                      <td class="">
                                        @item.DemandName
                                    </td>
                                    <td class="">
                                        @if (item.NoticeDate != null)
                                        {
                                            @Convert.ToDateTime(item.NoticeDate).ToString("dd/MM/yyyy ")
                                        }
                                    </td>
                                  
                                </tr>
                            }
                        </tbody>
                    </table>
                          

                    }
                    else
                    {
                  
                    <div class="col-xs-12">
                        <div class="alert alert-info">
                            <strong>No Cut Motion(s) Available</strong>
                            <br />
                        </div>
                    </div>
                   
                    }
                }

            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>





<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
@*<script src="~/Scripts/jquery-1.7.min.js"></script> *@
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>



<script>

    $(document).ready(function () {
        //debugger
        @*if ('@Model.RoleName' == "VSTranslator") {
            if ('@Model.NoticePath' != null && '@Model.NoticePath' != "") {
                document.getElementById("Div_S").style.display = "none"
            }

            else {
                document.getElementById("Div_S").style.display = "block"
            }
        }*@

    });

    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
               { "bSortable": false },
              null, null, null, null, null, null, null,
            ]
        });
    });

    //function onSelectRowHandler(rowId) {
    //    $('.widget-box').show();
    //    var cl2 = new CanvasLoader('canvasloader-container2');
    //    cl2.show();

    //    $.ajax({
    //        url: "/Notices/Changer/GetDataQuestionID",
    //        type: 'GET',
    //        data: {
    //            questionID: rowId,
    //        },
    //        success: function (data) {
    //            if (data) {
    //                $("#RightSidebar").html(data);
    //                cl2.hide();

    //            } else { alert("error"); }
    //        },
    //        error: function (xhr, ajaxOptions, thrownError) {
    //            alert(xhr.responseText);
    //            alert(thrownError);
    //        }
    //    });
    //}

    function onSelectRowHandler(rowId) {
        var AssemblyID = $('#AssemblyID').val();
        var SessionID = $('#SessionID').val();
        $('.widget-box').show();
        $.ajax({
            //url: "/Notices/Clubbed/GetClubbingDeatails",
            url: "/Notices/Clubbed/ClubbingCutMotion",
            type: 'GET',
            data: {
                //questionID: rowId,
                //AssemblyID: AssemblyID,
                //SessionID: SessionID
                chkvals: rowId,
            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data);
                    $("#loader-wrapper").hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }

    //function onSelectRowHandler(rowId) {
    //    $('.widget-box').show();
    //    $.ajax({
    //        url: "/Notices/NoticeDetails/GetDatatNotices",
    //        type: 'GET',
    //        data: {
    //            NoticeId: rowId,
    //        },
    //        success: function (data) {
    //            if (data) {
    //                $("#RightSidebar").html(data);
    //               // GetDataByID(rowId);
    //                $("#loader-wrapper").hide();

    //            } else { alert("error"); }
    //        },
    //        error: function (xhr, ajaxOptions, thrownError) {
    //            alert(xhr.responseText);
    //            alert(thrownError);
    //        }
    //    });
    //}

    //function GetDataByID(rowId) {
    //    //var cl2 = new CanvasLoader('canvasloader-container2');
    //    //cl2.show();
    //    $.ajax({
    //        url: "/Notices/NoticeDetails/GetDatatNotices",
    //        type: 'GET',
    //        data: {
    //            NoticeId: rowId,
    //        },
    //        success: function (data) {
    //            if (data) {
    //                $("#FormPart").html('');
    //                $("#FormPart").html(data)
    //                //cl2.hide();
    //            } else { alert("error"); }
    //        },
    //        error: function (xhr, ajaxOptions, thrownError) {
    //            alert(xhr.responseText);
    //            alert(thrownError);
    //        }
    //    });
    //}
</script>




