﻿@*@model SBL.DomainModel.ComplexModel.ClubbedQuestionModel*@

@model SBL.DomainModel.Models.Notice.tMemberNotice

 @Html.HiddenFor(m => m.AssemblyID, new { @id = "hdnAssemblyID" })
@Html.HiddenFor(m => m.SessionId, new { @id = "hdnSessionId" })
  <div class="widget-main no-padding-right no-padding-left">
             <div class="profile-user-info profile-user-info-striped">
                 <div class="profile-info-row">
                 </div>

                  <div class="profile-info-row">
                    <div class="profile-info-name">Department</div>

                      <div class="profile-info-value">
                          <span id="spnEventId" class="">
                                                      
                                  @Html.DropDownListFor(m => m.DepartmentId, new SelectList(Model.DepartmentLt, "DepartmentId", "DepartmentName"), new { @id = "Ddldept", @class = "rounded", @style = "width:325px;", @onchange = "DeptChange()" })
                                    @Html.ValidationMessageFor(m => m.DepartmentId, "", new { style = "color: red;" })
                          </span>
                      </div>
                </div>
                 </div>
      </div>


<script>
    function DeptChange() {
        var DepartmentID = $('#Ddldept').val();
        var AssemblyID = $('#hdnAssemblyID').val();
        var SessionId = $('#hdnSessionId').val();
        var cl = new CanvasLoader('canvasloader-container1');
        cl.show();
        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("StaredQuestion", "Clubbed")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {

                DeptId: DepartmentID,
                AssemblyID: AssemblyID,
                SessionId: SessionId,
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#Form").html(data);
                $("#RightSidebar").empty();
                ClearControls();
                cl.hide();
            }
        });
    }
</script>
