﻿@model SBL.DomainModel.Models.Notice.tMemberNotice

<script src="~/Scripts/knockout-2.2.0.debug.js"></script>
<script src="~/Scripts/jquery.alerts.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.timepicker1.js"></script>

@using (Ajax.BeginForm("UpdateQEntry", "NoticeDetails", new AjaxOptions { OnSuccess = "LoginSuccess", HttpMethod = "POST" }, new {  enctype = "multipart/form-data" }))
{

    <div style="color: #5779b6; font-size: 14px; text-transform: capitalize; font-weight: bold; padding: 5px; border: 1px solid #C5C5C5; border: 1px solid #C5C5C5;">
       Selected Clubbed Questions >> Update
    </div>
    <div >
      
                    @Html.HiddenFor(m => m.QuestionID, new { @id = "hdnQuestionID" })
        <table style="margin-left: 20px; width: 97%">
            <tr>
                <td style="width: 56%">
                    <table style="width: 98%">
                      @*  <tr>
                            <td >
                                <strong>@Resources.PaperLaidDepartment.BusinessType
                                </strong>
                            </td>
                            <td>
                                <div>
                                    @Html.HiddenFor(m => m.SessionId)
                                    @Html.HiddenFor(m => m.AssemblyCode)
                                    @Html.HiddenFor(m => m.DepartmentId)
                                
                                     @Html.DropDownListFor(m => m.EventId, new SelectList(Model.mEvents, "EventId", "EventName", 0), new { @id = "DdlCategory", @tabindex = "1", @class = "select-style", style = "width: 325px", @onchange = "callView()", @disabled = true })
                                   
                                </div>
                            </td>
                        </tr>*@
                      
                    @*    <tr>
                            <td >
                                <strong>Submitted By:
                                </strong>
                            </td>
                            <td>
                                <div>                                  
                                    @Html.DropDownListFor(m => m.MemberId, new SelectList(Model.mMemberModel, "MemberCode", "Name", 0), new { @id = "DdlMember", @tabindex = "3", @class = "select", @style = "width:325px;",@disabled = true  })
                                    @Html.ValidationMessageFor(m => m.MemberId, "", new { style = "color: red;" })
                                </div>
                            </td>
                        </tr>*@
                                    @Html.HiddenFor(m => m.MemIds, new {id="MultiMemIds" })
                                    @Html.HiddenFor(m => m.QuesIds,new {id="MultiQuestIds" })
                                    @Html.HiddenFor(m => m.MemberId,new {id="SingleMemId" })
                                    @Html.HiddenFor(m => m.SessionID,new {id="SessionId" })
                                    @Html.HiddenFor(m => m.AssemblyID,new {id="AssemblyId" })
                                    @Html.HiddenFor(m => m.DepartmentId,new {id="DepartmentId" })
                                    @Html.HiddenFor(m => m.TypistUserId,new {id="TypistUserId" })
                                    @Html.HiddenFor(m => m.EventId,new {id="EventId" }) 
                                    @Html.HiddenFor(m => m.OriDiaryFileName,new {id="OriDiaryFileName" })
                                    @Html.HiddenFor(m => m.OriDiaryFilePath,new {id="OriDiaryFilePath" }) 
                                    @Html.HiddenFor(m => m.SubInCatchWord,new {id="SubCatch" }) 
                                 

                           <tr>
                            <td >
                                <strong>Diary No
                                </strong>
                            </td>
                            <td>
                                <div>                                  
                                  @Html.TextBoxFor(m => m.DiaryNo, new { @id = "TxtDiaryNo", @class = "Qtext", @readonly = true, @style = "width:325px;",@disabled = true  })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td >
                                <strong>Asked By
                                </strong>
                            </td>
                            <td>
                                <div>                                  
                                   @Html.TextBoxFor(m => m.MemberName, new { @id = "TxtMemberName", @class = "Qtext", @readonly = true, @style = "width:325px;",@disabled = true  })
                                </div>
                            </td>
                        </tr>
                         <tr>
                            <td >
                                <strong>Title
                                </strong>
                            </td>
                            <td>
                                <div>                                  
                                @*  @Html.EditorFor(m => m.Title)*@
                                    @Html.TextAreaFor(m => m.Title, new { @id = "TxtTitle",@class = "Expandable",@style = "width:90%;" })
                                </div>
                            </td>
                        </tr>
                         <tr>
                            <td >
                                <strong>Details
                                </strong>
                            </td>
                            <td>
                                <div>     
                                @Html.EditorFor(m => m.Details, new {@style = "width:10px;height:25px;", @tabindex = "11" })                           
                              
                                </div>
                            </td>
                        </tr>
                     <tr>
                            <td >
                              
                            </td>
                            <td>
                                <div>  
                                   @*     <input  id="Update" type="button" onclick="SaveEntry();" value="Save"  />*@
                                    @* @if (Model.IsContentFreeze != null )
                                     {
                                         <span style="color:green">Content Freez</span>
                                     }
                                     else
                                     {
                                         if (Model.ButtonList != null && Model.ButtonList.Count > 0)
                                         {
                                             foreach (var item in @Model.ButtonList)
                                             {
                                                 if (item.ButtonCaption == "Save" && item.IsValid == true)
                                                 {
                                              <input  id="Update" type="button" onclick="UpdateEntry();" value="Save"  />
                                                 }
                                                 if (item.ButtonCaption == "Freeze" && item.IsValid == true)
                                                 {
                                              <input  id="Cancel" type="button" onclick="UpdateEntryWithFreeze();" value="Freeze"  />
                                                 }
                                             }
                                         }

                                     }*@
                                           
                                  
                                     
                                </div>
                            </td>
                        </tr>
                         
                             
                           <tr>
                            <td >
                              
                            </td>
                            <td>
                                <div>                                  
                                 
                                </div>
                            </td>
                        </tr> 
                      
                    </table>
                 
                            
                         
                </td>
               
        </table>
        
       
    </div>
}

<script>
    $(function () {
        $('#TxtTime').timepicker({
            'timeFormat': 'hh:mm tt',
            'onchange': function (time) {
                $('#TxtTime').val(time);
            }
        });
        //'value': new Date(),
    });
    $("textarea#TxtTitle").focus(function () {
        $("textarea#TxtTitle").animate({ height: "150px" }, 100)
    })

    $("textarea#TxtTitle").blur(function () {
        $("textarea#TxtTitle").animate({ height: "100px" }, 100)
    })

    function SaveEntry() {
        var MemIds = document.getElementById("MultiMemIds").value;

        var QuestIDs = document.getElementById("MultiQuestIds").value;

        var SMem = document.getElementById("SingleMemId").value;

        var Title = document.getElementById("TxtTitle").value;

        var Detail = $("#Details").val();

        var SessionId = $("#SessionId").val();

        var AssemblyId = $("#AssemblyId").val();

        var DepartmentId = $("#DepartmentId").val();

        var TypistUserId = $("#TypistUserId").val();

        var EventId = $("#EventId").val();

        var OriDiaryFileName = $("#OriDiaryFileName").val();

        var OriDiaryFilePath = $("#OriDiaryFilePath").val();

        var SubCatch = $("#SubCatch").val();

        $.getJSON(" /Notices/Clubbed/SaveNewMergeEntry",
           {
               MemIds: MemIds,
               QuestIDs: QuestIDs,
               SMem: SMem,
               Title: Title,
               Details: Detail,
               SessionId: SessionId,
               AssemblyId: AssemblyId,
               DepartmentId: DepartmentId,
               TypistUserId: TypistUserId,
               EventId: EventId,
               OriDiaryFileName: OriDiaryFileName,
               OriDiaryFilePath: OriDiaryFilePath,
               SubCatch: SubCatch
           },
           function (data) {
               alert("Save successfully");
               var url = '@Url.Action("Index")';
                   window.location.href = url;


               });
           }

           function UpdateEntryWithFreeze() {

               var QuestionID = document.getElementById("MemIds").value;

               var Title = document.getElementById("TxtTitle").value;
               var Detail = $("#Details").val();
               $.getJSON(" /Notices/NoticeDetails/UpdateContentFreeze",
                  {
                      QuestionID: QuestionID,
                      Title: Title,
                      Details: Detail
                  },
                  function (data) {
                      alert("Update successfully");
                      var url = '@Url.Action("Index")';
               window.location.href = url;


           });
       }
       function cancelEntry() {


           var url = '@Url.Action("Index")';
        window.location.href = url;


       }
   
</script>