﻿@model SBL.DomainModel.ComplexModel.ClubbedQuestionModel

<span class="btn btn-info btn-sm tooltip-info btn-block" data-rel="tooltip" data-placement="bottom" title="" data-original-title="Bottm Info" style="text-align: left; margin-left: 0px; margin-bottom: 2px;">Questions For Clubbing / Revising The Content
</span>
@{    
    <input type="hidden" id="authorizedEmpList" />
       @Html.HiddenFor(m => m.DepartmentId, new { @id = "DepartmentId" }) 
   
       @Html.HiddenFor(m => m.AssemblyID,new { @id = "AssemblyID" })

       @Html.HiddenFor(m => m.SessionID,new { @id = "SessionID" })
     @Html.HiddenFor(m => m.DiaryNumber,new { @id = "DiaryNumber" })
   
    var grid = new Lib.Web.Mvc.JQuery.JqGrid.JqGridHelper<SBL.DomainModel.ComplexModel.ClubbedQuestionModel>("CommonGrid",
                            //caption: "All Starred Question",
                            dataType: Lib.Web.Mvc.JQuery.JqGrid.JqGridDataTypes.Json,
                            footerEnabled: false,
                            methodType: Lib.Web.Mvc.JQuery.JqGrid.JqGridMethodTypes.Post,
                            pager: true,
                            rowsList: new List<int> { 10, 20, 30, 40, 50 },
                            rowsNumber: 10,
                           onSelectRow: "onSelectRowHandler",
                            sortingName: "QuestionID",
                            sortingOrder: Lib.Web.Mvc.JQuery.JqGrid.JqGridSortingOrders.Asc,
                            url: Url.Action("GetUnStarredQuestionsGrid"),
                            userDataOnFooter: false,
                            viewRecords: true,
                            autoWidth: true,
                            emptyRecords: "No Paper Found",
                            postDataScript: "{DepartmentId: $('#DepartmentId').val(),AssemblyID: $('#AssemblyID').val(),SessionID: $('#SessionID').val()}"
                        );
                        }
                    @grid.GetHtml()
@*<br />
<div class="wizard-actions">
      
       @if (Model.ResultCount != null && Model.ResultCount != 0)
         {
             
             <button type="button" class="btn btn-primary" name="submitButton" id="Save" value="Save" onclick="return CheckedQuestion();">
                                                            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                                                            Club
                                                        </button>

         }
         else
         {

         }

     </div>*@
<script>

    $.CheckBoxFormatter = function (cellvalue, options, rowObject) {

        return "<div style='width:100%;text-align:center'>  <input type='checkbox' name='Chekrole' id='" + cellvalue + "'  value='" + cellvalue + "' onclick='checkChange(this.id)' style='vertical-align:top; ' /></div>";

    };

    jQuery(document).ready(function () {
        @grid.GetJavaScript()
        jQuery("#CommonGrid").jqGrid('showCol', ["DType"]);
        //$("#CommonGrid").setGridWidth($('#resize-left .col-xs-12').width());
    });

    function onSelectRowHandler(rowId) {
        var AssemblyID = $('#AssemblyID').val();
        var SessionID = $('#SessionID').val();
        var cl2 = new CanvasLoader('canvasloader-container2');
        cl2.show();
        $.ajax({
            //url: "/Notices/Clubbed/GetClubbingDeatails",
            url: "/Notices/Clubbed/UnstaredClubbedQuestion",
            type: 'GET',
            data: {
                //questionID: rowId,
                //AssemblyID: AssemblyID,
                //SessionID: SessionID
                chkvals: rowId,
            },
            success: function (data) {
                if (data) {
                    $("#RightSidebar").html(data);
                    cl2.hide();

                } else { alert("error"); }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);
                alert(thrownError);
            }
        });
    }
  
    function checkChange(id) {
       
        var Test = $('input:checkbox[name=Chekrole]:checked').val()
      

    }
    function CheckedQuestion(id) {
        var Test = $('input:checkbox[name=Chekrole]:checked').val()

        if (Test == undefined) {
            alert("Please Select Question for Club!");
        }
        else {
            $.ajax({
                url: "/Notices/Clubbed/UnstaredClubbedQuestion",
                type: 'GET',
                data: {
                    chkvals: Test,

                },
                success: function (data) {
                    if (data) {
                        $("#RightSidebar").html(data);
                        //GetDataByID(value);
                        //cl2.hide();

                    } else { alert("error"); }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    alert(thrownError);
                }
            });
        }
    }

</script>