﻿@model  List<SBL.DomainModel.Models.RoadPermit.mPermit>
@{ int count = 0;}

<div class="legend">
    <div style="width: 80px; opacity: 0.85; background-color: rgb(255, 255, 255);"></div>
    <table style="top: 15px; font-size: smaller; color: #545454">
        <tbody>
            <tr>
                <td class="legendColorBox">
                    <div style="border: 1px solid; padding: 2px">
                        <div style="width: 4px; height: 0; border: 8px solid LightGreen; overflow: hidden"></div>
                    </div>
                </td>
                <td class="legendLabel" style="font-size: 16px;">Road Permit is canceled</td>
            </tr>
            @*  <tr>
                <td class="legendColorBox">
                    <div style="border: 1px solid; padding: 2px">
                        <div style="width: 4px; height: 0; border: 8px solid LightGreen; overflow: hidden"></div>
                    </div>
                </td>
                <td class="legendLabel" style="font-size: 16px;">Encashment Date is updated</td>
            </tr>
            <tr>
                <td class="legendColorBox">
                    <div style="border: 1px solid; padding: 2px">
                        <div style="width: 4px; height: 0; border: 8px solid orange; overflow: hidden"></div>
                    </div>
                </td>
                <td class="legendLabel" style="font-size: 16px;">Bill is Approved</td>
            </tr>
            <tr>
                <td class="legendColorBox">
                    <div style="border: 1px solid; padding: 2px">
                        <div style="width: 4px; height: 0; border: 8px solid #f79263; overflow: hidden"></div>
                    </div>
                </td>
                <td class="legendLabel" style="font-size: 16px;">Bill is Rejected</td>
            </tr>*@
        </tbody>
    </table>
</div>
<div class="space-8"></div>
<div class="pass-table">
    @if (Model != null)
    {
        if (Model.Count() > 0)
        {       
        <div class="table-header">
            <div class="form-group">
                @if (ViewBag.Msg != null)
                {
                    <div class="alert @ViewBag.MsgCss" id="MsgDiv">
                        <button type="button" class="close" data-dismiss="alert"><i class="ace-icon fa fa-times"></i></button>
                        <strong><i class="ace-icon fa fa-check-square-o"></i>@ViewBag.Notification! </strong>@ViewBag.Msg
                    </div>
                }
            </div>
        </div>             
        <table class="table table-bordered table-hover dataTable" id="tblRoadPermit" aria-describedby="sample-table-2_info">
            <thead>
                <tr role="row">
                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">@Resources.MasterDataDashboard.SNo</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Permit No.</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Permit Code</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Member Name</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Vehicle No.</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Valid From</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Valid To</th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Status</th>
                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">Action</th>
                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                @foreach (var item in Model)
                {
                    count = count + 1;  
                    <tr style="@(item.IsCanceled ? "background-color:LightGreen; " : "")">
                        <td class="center" style="width: 5%">@count  </td>
                        <td style="width: 10%">@item.PermitNo</td>
                        <td style="width: 15%">@item.PermitCode</td>
                        <td style="width: 25%">@item.MemberName</td>
                        <td style="width: 15%">@item.VehicleNo</td>
                        <td style="width: 10%">@Convert.ToDateTime(item.ValidFrom).ToString("dd/MMM/yyyy")</td>
                        <td style="width: 10%">@Convert.ToDateTime(item.ValidTo).ToString("dd/MMM/yyyy") </td>
                        <td style="width: 25%">
                            @if (item.IsCanceled)
                            {
                                <text>Canceled</text>
                            }
                            else
                            {
                                <text>Validate</text>
                            }
                        </td>
                        <td class="center" style="width: 10%">

                            <div class="hidden-sm hidden-xs action-buttons">
                                <a data-rel="tooltip"  target="_blank" class="green tooltip-success btn btn-xs btn-warning" title="Print Road Permit" href="/RoadPermit/RoadPermit/DownloadPdf?PermitId=@item.PermitNo">Print Road Permit
                                </a>
                                @if (item.IsCanceled)
                                {
                                    <a data-rel="tooltip"   class="green tooltip-success btn btn-xs btn-danger" title="Cancel Road Permit" href="#" onclick="CancelRoadPermit(@item.PermitNo,'Edit');">Restore Road Permit
                                    </a>
                                }
                                else
                                {
                                    <a data-rel="tooltip"   class="green tooltip-success btn btn-xs btn-danger" title="Cancel Road Permit" href="#" onclick="CancelRoadPermit(@item.PermitNo,'Edit');">Cancel Road Permit
                                    </a>
                                }
                            </div>
                            <div class="hidden-md hidden-lg">
                                <div class="inline position-relative">
                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                        <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                        <li>
                                            <a data-rel="tooltip"  target="_blank" class="green tooltip-success btn btn-xs btn-warning" title="Print Road Permit" href="/RoadPermit/RoadPermit/DownloadPdf?PermitId=@item.PermitNo">Print Road Permit
                                            </a>
                                        </li>
                                        <li>
                                            @if (item.IsCanceled)
                                            {
                                                <a data-rel="tooltip"   class="green tooltip-success btn btn-xs btn-danger" title="Cancel Road Permit" href="#" onclick="CancelRoadPermit(@item.PermitNo,'Edit');">Restore Road Permit
                                                </a>
                                            }
                                            else
                                            {
                                                <a data-rel="tooltip"   class="green tooltip-success btn btn-xs btn-danger" title="Cancel Road Permit" href="#" onclick="CancelRoadPermit(@item.PermitNo,'Edit');">Cancel Road Permit
                                                </a>
                                            }
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </td>
                    </tr>                                                                
                }

            </tbody>
        </table>
        <!-- PAGE CONTENT ENDS -->
        }
        else
        {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <strong>No Road Permit Found</strong><br />
                </div>
            </div>
        </div>
        }
    }
</div>
