﻿@model SBL.DomainModel.ComplexModel.RoadPermitViewModel
@{
    ViewBag.Title = "CreateRoadPermit";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    int _sealedRoadTblecount = 0;
    int _restrictedRoadTblecount = 0;
}
<link href="~/assets/css/datepicker.css" rel="stylesheet" />
@Html.Partial("_LeftMenu")
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "RoadPermit")">@Resources.MasterDataDashboard.Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "RoadPermit")">Road Permit</a>
            </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="page-header">
            <h1>Road Permit
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Create  Road Permit
                </small>
            </h1>
        </div>
        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">Permit Details</h4>
                <div class="widget-toolbar">
                    <label>
                        Filter By 
                         <select id="searchcriteria" name="searchcriteria"
                             class="chosen-select form-control" data-placeholder="Choose a search criteria">
                             <option selected value="0">---Select A Designation ---</option>
                             @foreach (var item in Model.DesignationCol)
                             {
                                 <option value="@item.desigcode">@item.designame</option>
                             }
                         </select>
                    </label>
                </div>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
                            @Html.HiddenFor(m => m.Address, new { @id = "hdnAdress" })
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="PermitNo">
                                        Permit No. 
                                    </label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(m => m.PermitCode, new
                                   {
                                       @id = "txtPermitCode",
                                       @name = "txtPermitNo",
                                       @class = "col-xs-10 col-sm-5",
                                       @placeholder = "Permit No.",
                                       @readonly = ""
                                   })
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Members">
                                        @Resources.MasterDataDashboard.Members
                                    </label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(m => m.MemberCode,
                                        new SelectList(Model.MemberCol, "MemberCode", "Name"), "---Select A Member ---",
                                        new { @class = "col-xs-10 col-sm-5" })
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="Constituency">
                                        @Resources.MasterDataDashboard.Constituency
                                    </label>
                                    <div class="col-sm-9">
                                        @Html.DropDownListFor(m => m.MemberConstituencyCode,
                                        new SelectList(Model.ConstituencyCol, "ConstituencyCode", "ConstituencyName"), "---Member Constituency ---",
                                        new { @class = "col-xs-10 col-sm-5" })
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="VehicleNo">
                                        Vehicle No 
                                    </label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(m => m.VehicleNo, new
                                   {
                                       @id = "txtVehicleNo",
                                       @name = "txtVehicleNo",
                                       @class = "col-xs-10 col-sm-5",
                                       @placeholder = "Vehicle No"
                                   })
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="ValidFrom">
                                        Valid From
                                    </label>
                                    <div class="col-sm-9">
                                        <div class="input-group col-xs-10 col-sm-5">
                                            @Html.TextBoxFor(m => m.ValidFrom, new { @id = "txtValidFrom", @class = "form-control date-picker" })
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar bigger-110"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="ValidFrom">
                                        Valid To
                                    </label>
                                    <div class="col-sm-9">
                                        <div class="input-group col-xs-10 col-sm-5">
                                            @Html.TextBoxFor(m => m.ValidTo, new { @id = "txtValidTo", @class = "form-control date-picker" })
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar bigger-110"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="tabbable">
                                <ul id="myTab" class="nav nav-tabs padding-18">
                                    <li class="active">
                                        <a href="#sealed-roads" data-toggle="tab">
                                            <i class="green ace-icon fa fa-list bigger-120"></i>
                                            Sealed Roads
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#restricted-roads" data-toggle="tab">
                                            <i class="blue ace-icon fa fa-list bigger-120"></i>
                                            Restricted Roads
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content no-border padding-24">
                                    <div class="tab-pane in active" id="sealed-roads">
                                        <table class="table table-striped table-bordered table-hover dataTable" id="tblSealedRoads" aria-describedby="sample-table-2_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">
                                                        <input type="checkbox" id="chkSelSealedRoadAll" />
                                                    </th>
                                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Road Code</th>
                                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Description</th>
                                                </tr>
                                            </thead>
                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                @foreach (var item in Model.SealedRoadsCol)
                                                {
                                                    _sealedRoadTblecount = _sealedRoadTblecount + 1;
                                                    string rowClass = (_sealedRoadTblecount % 2 == 0) ? "even" : "odd";
                                                    <tr class="@rowClass" role="row" data-uid="">
                                                        <td>
                                                            <input type="checkbox" />
                                                        </td>
                                                        <td>
                                                            @item.RoadCode
                                                        </td>
                                                        <td>@item.Description</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="restricted-roads">
                                        <table class="table table-striped table-bordered table-hover dataTable" id="tblRestrictedRoads" aria-describedby="sample-table-2_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">
                                                        <input type="checkbox" id="chkSelRestrictedRoadAll" />
                                                    </th>
                                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Road Code</th>
                                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Description</th>
                                                </tr>
                                            </thead>
                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                                @foreach (var item in Model.RestrictedRoadsCol)
                                                {
                                                    _restrictedRoadTblecount = _restrictedRoadTblecount + 1;
                                                    string rowClass = (_sealedRoadTblecount % 2 == 0) ? "even" : "odd";
                                                    <tr class="@rowClass" role="row" data-uid="">
                                                        <td>
                                                            <input type="checkbox" />
                                                        </td>
                                                        <td>
                                                            @item.RoadCode
                                                        </td>
                                                        <td>@item.Description</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="space-4"></div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label no-padding-right" for="NoticeReceiveDate">
                            </label>
                            <div class="col-sm-7">
                                <button class="btn btn-sm btn-primary" id="btnCreate" type="button">
                                    <i class="ace-icon fa fa-print"></i>
                                    Create Road Permit 
                                </button>

                            @*    <button class="btn btn-sm btn-info" style="display: none;" id="btnReset" type="button">
                                    <i class="ace-icon fa fa-times bigger-125"></i>
                                    Reset
                                </button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="~/assets/css/chosen.css" />
<script src="~/assets/js/chosen.jquery.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/canvasloader-min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/jquery.print.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        try {

            $("#roadPermits").addClass("active open");
            $("#RPermits").addClass("nav-show").css("display", "block");
            $("#AllPermits").addClass("active");
            $("#permits").removeClass("fa-comment").addClass("fa-comment-o");

            $('.chosen-select').chosen({ allow_single_deselect: true });
            //resize the chosen on window resize
            $(window).on('resize.chosen', function () {
                var w = $('.chosen-select').parent().width();
                $('.chosen-select').next().css({ 'width': '300px' });
            }).trigger('resize.chosen');

            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });

            $('#tblSealedRoads')
                //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                .dataTable({
                    bAutoWidth: true,
                    "aoColumns": [
                      { "bSortable": false },
                       null,
                      { "bSortable": false }
                    ]

                    //,
                    //"sScrollY": "200px",
                    //"bPaginate": false,

                    //"sScrollX": "100%",
                    //"sScrollXInner": "120%",
                    //"bScrollCollapse": true,
                    //Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
                    //you may want to wrap the table inside a "div.dataTables_borderWrap" element

                    //"iDisplayLength": 50
                });

            $('#tblRestrictedRoads')
                //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
                .dataTable({
                    bAutoWidth: true,
                    "aoColumns": [
                      { "bSortable": false },
                       null,
                      { "bSortable": false }
                    ]

                    //,
                    //"sScrollY": "200px",
                    //"bPaginate": false,

                    //"sScrollX": "100%",
                    //"sScrollXInner": "120%",
                    //"bScrollCollapse": true,
                    //Note: if you are applying horizontal scrolling (sScrollX) on a ".table-bordered"
                    //you may want to wrap the table inside a "div.dataTables_borderWrap" element

                    //"iDisplayLength": 50
                });

        } catch (ex) {

            var dlg = bootbox.alert(ex.message, function (e) {

                $(dlg).modal('hide');
            });
        }
    });

    $("#chkSelSealedRoadAll").click(function (e) {

        try {

            var status = $("#chkSelSealedRoadAll").prop('checked');

            if (status == true) {

                var table = $(e.target).closest('table');

                $('td input:checkbox', table).prop('checked', this.checked);

            }
            else {

                var table = $(e.target).closest('table');

                $('td input:checkbox', table).prop('checked', this.checked);
            }

        } catch (ex) {

            var dlg = bootbox.alert(ex.message, function (e) {

                $(dlg).modal('hide');
            });
        }
    });

    $("#chkSelRestrictedRoadAll").click(function (e) {

        try {

            var status = $("#chkSelRestrictedRoadAll").prop('checked');

            if (status == true) {

                var table = $(e.target).closest('table');

                $('td input:checkbox', table).prop('checked', this.checked);

            }
            else {

                var table = $(e.target).closest('table');

                $('td input:checkbox', table).prop('checked', this.checked);
            }

        } catch (ex) {

            var dlg = bootbox.alert(ex.message, function (e) {

                $(dlg).modal('hide');
            });
        }
    });

    $("#searchcriteria").change(function () {

        GetAllMembersByDesignation($("#searchcriteria").val());

    });

    $("#MemberCode").change(function () {

        GetLastConstituency($("#MemberCode").val());

    });

    function GetLastConstituency(memberCode) {

        //var cl = new CanvasLoader('canvasloader-container1');

        //cl.show();

        try {

            $.ajax({
                url: "/RoadPermit/RoadPermit/GetLastConstituency",
                type: 'GET',
                data: {
                    memberCode: memberCode
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    //cl.hide();

                    var memberConstituencyCode = data["MemberConstituencyCode"];

                    $("#MemberConstituencyCode").val(memberConstituencyCode);
                },
                error: function (xhr, ajaxOptions, thrownError) {

                    var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                        $(dlg).modal('hide');
                    });
                }
            });

        } catch (ex) {

            var dlg = bootbox.alert(ex.message, function (e) {

                $(dlg).modal('hide');
            });
        }
    }

    function GetAllMembersByDesignation(deptId) {

        //var cl = new CanvasLoader('canvasloader-container1');

        //cl.show();

        try {

            $.ajax({
                url: "/RoadPermit/RoadPermit/GetMemberListByDesignation",
                type: 'GET',
                data: {
                    deptId: deptId
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    if (data != null) {

                        //cl.hide();

                        var memberCol = data["MemberCol"];

                        var constituencyCol = data["ConstituencyCol"];

                        var memberConstituency = data["MemberConstituencyCode"];

                        $("#hdnAdress").val(data["Address"]);

                        if (memberCol.length > 0) {

                            var selectOpt = '';

                            $.each(memberCol, function (e, index) {

                                selectOpt += '<option value="' + memberCol[e]["MemberCode"] + '">' +

                                memberCol[e]["Name"] + '</option>';

                            });

                            $("#MemberCode").html(selectOpt);
                        }
                        else {

                            var selectOpt = '<option value="">---Select A Member ---</option>';

                            $("#MemberCode").html(selectOpt);
                        }

                        if (constituencyCol.length > 0) {

                            selectOpt = '';

                            $.each(constituencyCol, function (e, index) {

                                selectOpt += '<option value="' + constituencyCol[e]["ConstituencyCode"] + '">' +

                                constituencyCol[e]["ConstituencyName"] + '</option>';

                            });

                            $("#MemberConstituencyCode").html(selectOpt);

                            $("#MemberConstituencyCode").val(memberConstituency);
                        }
                        else {

                            var selectOpt = '<option value="">---Member Constituency ---</option>';

                            $("#MemberConstituencyCode").html(selectOpt);
                        }
                    }
                    else {
                        var dlg = bootbox.alert('No Data Available', function (e) {

                            $(dlg).modal('hide');
                        });
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {

                    var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                        $(dlg).modal('hide');
                    });
                }
            });

        } catch (ex) {

            var dlg = bootbox.alert(ex.message, function (e) {

                $(dlg).modal('hide');
            });
        }
    }

    function GetSelectedSealedRoadsList() {

        var table = $("#tblSealedRoads > tbody");

        var str = '';

        table.find('tr').each(function (i, el) {

            var $tds = $(this).find('td');

            var IsRowSelected = $tds.eq(0).find('input:checked').prop('checked');

            if (IsRowSelected) {

                str += $tds.eq(1).text().trim() + '$#**&##';
            }
        });

        return str;
    }

    function GetRestrictedRoadsList() {

        var table = $("#tblRestrictedRoads > tbody");

        var str = '';

        table.find('tr').each(function (i, el) {

            var $tds = $(this).find('td');

            var IsRowSelected = $tds.eq(0).find('input:checked').prop('checked');

            if (IsRowSelected) {

                str += $tds.eq(1).text().trim() + '$#**&##';
            }
        });

        return str;
    }

    function IsValidDateRange(FromDate, ToDate) {

        var res = false;

        if (FromDate === undefined || FromDate == "") {

            var dlg = bootbox.alert('Please select valid from date', function (e) {

                $(dlg).modal('hide');
            });

            res = false;
        }
        else if (ToDate === undefined || ToDate == "") {

            var dlg = bootbox.alert('Please select valid to date', function (e) {

                $(dlg).modal('hide');
            });

            res = false;
        }
        else {

            if (FromDate > ToDate) {

                var dlg = bootbox.alert('From Date Greater Than End Date', function (e) {

                    $(dlg).modal('hide');
                });

                res = false;

            }
            else {

                if (Date.dateDiff(FromDate, ToDate) > 366) {

                    var dlg = bootbox.alert('Validity period cannot extend 1 year', function (e) {

                        $(dlg).modal('hide');
                    });

                    res = false;
                }
                else {

                    res = true;
                }
            }
        }

        return res;

    }

    function Validate() {

        var IsValid = true;

        if ($("#MemberCode").val() == "") {

            var dlg = bootbox.alert("Please select a member", function (e) {

                $(dlg).modal('hide');
            });

            IsValid = false;
        }
        else if ($("#MemberConstituencyCode").val() == "") {

            var dlg = bootbox.alert("Please select a constituency", function (e) {

                $(dlg).modal('hide');
            });

            IsValid = false;
        }
        else if ($("#txtVehicleNo").val() == "") {

            var dlg = bootbox.alert("Vehicle Number cannot be empty", function (e) {

                $(dlg).modal('hide');
            });

            IsValid = false;
        }
        else if ($("#txtVehicleNo").val() == "") {

            var dlg = bootbox.alert("Vehicle Number cannot be empty", function (e) {

                $(dlg).modal('hide');
            });

            IsValid = false;
        }
        else if ($("#txtValidFrom").val() == "") {

            var dlg = bootbox.alert("Valid From Date cannot be empty", function (e) {

                $(dlg).modal('hide');
            });

            IsValid = false;
        }
        else if ($("#txtValidTo").val() == "") {

            var dlg = bootbox.alert("Valid To Date cannot be empty", function (e) {

                $(dlg).modal('hide');
            });

            IsValid = false;
        }

        return IsValid;
    }

    $("#btnCreate").click(function () {

        try {

            if (Validate() && IsValidDateRange($('#txtValidFrom').val(),
            $('#txtValidTo').val())) {

                var permitNo = "";
                var Deignation = $("#searchcriteria").val();
                var permitCode = $("#txtPermitCode").val();

                var memberCode = $("#MemberCode").val();

                var Constituency = $("#MemberConstituencyCode").val();

                var vehicleNo = $("#txtVehicleNo").val();

                var validFrom = $("#txtValidFrom").val();

                var validTo = $("#txtValidTo").val();

                var sealedRoadsList = GetSelectedSealedRoadsList();

                var restrictedRoadsList = GetRestrictedRoadsList();

                if ((sealedRoadsList != null && sealedRoadsList.length == 0)
                    && (restrictedRoadsList != null && restrictedRoadsList.length == 0)) {
                    var dlg = bootbox.alert("Please select the required sealed or restricted roads", function (e) {

                        $(dlg).modal('hide');
                    });
                }
                else {

                    var ss = "<input type='hidden' name='permitNo' value='" + permitNo + "' >" +
       "<input type='hidden' name='permitCode' value='" + permitCode + "' >" +
        "<input type='hidden' name='memberCode' value='" + memberCode + "' >" +
       "<input type='hidden' name='vehicleNo' value='" + vehicleNo + "' >" +
       "<input type='hidden' name='validFrom' value='" + validFrom + "' >" +
       "<input type='hidden' name='validTo' value='" + validTo + "' >" +
                    "<input type='hidden' name='sealedRoadsList' value='" + sealedRoadsList + "' >" +
       "<input type='hidden' name='restrictedRoadsList' value='" + restrictedRoadsList + "' >" +
                    "<input type='hidden' name='Constituency' value='" + Constituency + "' >" +
     "<input type='hidden' name='Deignation' value='" + Deignation + "' >";


                    $('body').prepend("<form method='post' action='/RoadPermit/RoadPermit/SaveRoadPermitData' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
                    $('#tempForm').submit();
                    $("tempForm").remove();

                    //$.ajax({
                    //    url: "/RoadPermit/RoadPermit/SaveRoadPermit",
                    //    type: 'POST',
                    //    data: JSON.stringify({
                    //        permitNo: permitNo,
                    //        permitCode: permitCode,
                    //        memberCode: memberCode,
                    //        vehicleNo: vehicleNo,
                    //        validFrom: validFrom,
                    //        validTo: validTo,
                    //        sealedRoadsList: sealedRoadsList,
                    //        restrictedRoadsList: restrictedRoadsList
                    //    }),
                    //    contentType: "application/json; charset=utf-8",
                    //    dataType: "json",
                    //    success: function (data) {

                    //        $("#btnPrint").removeClass('btn disabled').addClass('btn btn-default');

                    //        var dlg = bootbox.alert(data, function (e) {

                    //            $(dlg).modal('hide');
                    //        });

                    //    },
                    //    error: function (xhr, ajaxOptions, thrownError) {

                    //        var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    //            $(dlg).modal('hide');
                    //        });
                    //    }
                    //});
                }
            }

        } catch (ex) {

            var dlg = bootbox.alert(ex.message, function (e) {

                $(dlg).modal('hide');
            });
        }
    });

    function ResetForm() {

        $.ajax({
            url: "/RoadPermit/RoadPermit/GetNewPermitCode",
            type: 'POST',
            data: '',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {

                var permitCode = data["PermitCode"];

                $("#txtPermitCode").val(permitCode);

            },
            error: function (xhr, ajaxOptions, thrownError) {

                var dlg = bootbox.alert(xhr.responseText + "[" + thrownError + "]", function (e) {

                    $(dlg).modal('hide');
                });
            }
        });
    }

    $("#btnReset").click(function () {

        ResetForm();

    });

    function Print() {

        if (Validate()) {

            $("#printPermitNo").html($("#txtPermitCode").val());

            $("#printConstituencyNoName").html($("#MemberConstituencyCode option:selected").text() + "-" + $("#MemberConstituencyCode").val());

            $("#printNameAndDesignation").html($("#MemberCode option:selected").text() + " (" + $("#searchcriteria option:selected").text() + ")");

            $("#printAddress").html($("#hdnAdress").val());

            $("#printVehicleNo").html($("#txtVehicleNo").val());

            $("#printValidFrom").html($("#txtValidFrom").val());

            $("#printValidTill").html($("#txtValidTo").val());

            var table = $("#tblSealedRoads > tbody");

            var allowRoadsList = '';

            var count = 1;

            table.find('tr').each(function (i, el) {

                var $tds = $(this).find('td');

                var IsRowSelected = $tds.eq(0).find('input:checked').prop('checked');

                if (IsRowSelected) {

                    allowRoadsList += '<li>' +
                    count + '. ' + $tds.eq(1).text().trim() + ' ' +
                    $tds.eq(2).text().trim() + '</li>';

                    count++;
                }
            });

            table = $("#tblRestrictedRoads > tbody");

            table.find('tr').each(function (i, el) {

                var $tds = $(this).find('td');

                var IsRowSelected = $tds.eq(0).find('input:checked').prop('checked');

                if (IsRowSelected) {

                    allowRoadsList += '<li>' +
                    count + '. ' + $tds.eq(1).text().trim() + ' ' +
                    $tds.eq(2).text().trim() + '</li>';

                    count++;
                }
            });

            $("#lstSelectedRoads").html(allowRoadsList);

            $("#printSec").show();

            $("#printSec").print({
                //Use Global styles
                globalStyles: false,

                //Add link with attrbute media=print
                mediaPrint: false,

                //Custom stylesheet
                stylesheet: "http://fonts.googleapis.com/css?family=Inconsolata",

                //Print in a hidden iframe
                iframe: false,

                //Don't print this
                noPrintSelector: ".avoid-this",

                //Add this on top
                append: "Free jQuery Plugins!!!<br/>",

                //Add this at bottom
                prepend: "<br/>jQueryScript.net!"
            });

            $("#printSec").hide();
        }
    }

    $("#btnPrint").click(function () {

        Print();

    });

    String.prototype.trim = function () {
        var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
        return this.replace(rtrim, "");
    }

    Date.dateDiff = function (startDate, endDate) {

        var sdate = new Date(startDate.split("/")[2], startDate.split("/")[1], startDate.split("/")[0]);

        var eDate = new Date(endDate.split("/")[2], endDate.split("/")[1], endDate.split("/")[0]);

        //Get 1 day in milliseconds
        var one_day = 1000 * 60 * 60 * 24;

        // Convert both dates to milliseconds
        var date1_ms = sdate.getTime();

        var date2_ms = eDate.getTime();

        // Calculate the difference in milliseconds
        var difference_ms = date2_ms - date1_ms;

        // Convert back to days and return
        return Math.round(difference_ms / one_day);
    }

</script>
