﻿@model SBL.DomainModel.ComplexModel.RoadPermitViewModel


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
  
}

<style>
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }
</style>

@Html.Partial("_LeftMenu")
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    @Html.Partial("/Areas/SuperAdmin/Views/Shared/_BreadcrumbsPartial.cshtml")
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "RoadPermit")">@Resources.MasterDataDashboard.Home</a>
            </li>

            <li>
                <a href="@Url.Action("Index", "RoadPermit")">Road Permit</a>
            </li>
            <li class="active">@Resources.MasterDataDashboard.List</li>
        </ul>

    </div>
    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- /section:settings.box -->
        <div class="page-header">
            <h1>Road Permit
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Report of Road Permit
                </small>
            </h1>
        </div>
        <div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive ">
                        <table class="table">
                            <tr class="info">
                                <td>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="Gazetted">@Resources.MasterDataDashboard.FinancialYear</label>
                                        <div class="col-sm-9 help-block">
                                            @Html.DropDownListFor(model => model.FinancialYear, new SelectList( ViewBag.FinancialYearList,"value","text", ViewBag.CurrFinYearValue), new { @class = "col-xs-10 col-sm-5 RemoveDdlBorder" })
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="form-group">
                                        <button class="btn btn-sm btn-primary btn-bold" id="btnSearch">
                                            <i class="ace-icon fa fa-search bigger-150"></i>
                                            <span class="bigger-110">Search</span>
                                        </button>
                                    </div>

                                </td>
                            </tr>
                        </table>

                        <!-- PAGE CONTENT BEGINS -->

                        <div id="tablecontainer">
                        </div>

                        <!-- /.col -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @* <span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@
            </div>
            <!-- /section:basics/footer -->
        </div>
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>

<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#roadPermits").addClass("active open");
        $("#RPermits").addClass("nav-show").css("display", "block");
        $("#reportsPermits").addClass("active");
        $("#permits").removeClass("fa-comment").addClass("fa-comment-o");


    });


    $(document).on('click', '#btnSearch', function (e) {

        var FinacialYear = $('#FinancialYear').val();
        $('.ErrorMessage').remove('');
        var IsValid = true;

        if (FinancialYear == '') {
            $('#FinancialYear').css("border", "1px solid red");
            $('#FinancialYear').after("<span class='ErrorMessage'><br> Financial Year  Required</span>");
            IsValid = false;
        }
        else {

            IsValid = true;
        }

        if (IsValid == true) {
            $.ajax({
                type: "POST",
                url: '/RoadPermit/RoadPermit/GetRoadPermitReport',
                data: '{ FinacialYear: "' + FinacialYear + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (result) {
                    debugger;
                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(result.Html);
                },
                error: function (result) {
                    debugger;
                    $('#tablecontainer').empty();
                    $('#tablecontainer').append(result.responseText);
                },

                complete: function (result) {
                    setTimeout(function () {
                        $('#loader-wrapper').hide();
                    }, 1000);
                }
            });
        }
    });

    $(document).on('click', '#Pdf', function () {
        $('#loader-wrapper').show();
        var FinacialYear = $('#FinancialYear').val();
        var ss = "<input type='hidden' name='FinacialYear' value='" + FinacialYear + "' >";
        $('body').prepend("<form method='post' action='/RoadPermit/RoadPermit/DownloadRoadPermitReportPdf' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
        $('#tempForm').submit();
        $("tempForm").remove();

        setTimeout(function () {
            $('#loader-wrapper').hide();
        }, 2000);
    });

    $(document).on('click', '#Export', function () {
        $('#loader-wrapper').show();
        var FinacialYear = $('#FinancialYear').val();
        var ss = "<input type='hidden' name='FinacialYear' value='" + FinacialYear + "' >";
        $('body').prepend("<form method='post' action='/RoadPermit/RoadPermit/DownloadExcel' style='top:-3333333333px;' id='tempForm'>" + ss + "</form>");
        $('#tempForm').submit();
        $("tempForm").remove();

        setTimeout(function () {
            $('#loader-wrapper').hide();
        }, 2000);
    });
</script>
