﻿@model SBL.DomainModel.Models.Grievance.tMemberGrievances





<form method="post" action="/SchemeSetup/SaveQualification" id="GrievanceForm">
    <div class="row  ">
        <div class="col-md-5 infobox-green  infobox-dark" style="font-size: 12px;">
            Grievance Code: @ViewBag.GrvCode
        </div>
       @* <div class="col-md-4 infobox-green  infobox-dark" style="font-size: 12px;">
            Member Name: @ViewBag.MemberName
        </div>*@
        <div class="col-md-5 infobox-green  infobox-dark" style="font-size: 12px;">
            Username:    @ViewBag.UserName
        </div>
    </div>
    <div class="space-6"></div>
    <br />
    <input type="hidden" name="GrvCode" value="@ViewBag.GrvCode" />
    <input type="hidden" name="Status" value="@ViewBag.Status" />
    <div class="row">
        <div class=" col-md-12">
            <label>Reason for Disposing</label>
            <select size="1" name="Reply" id="Reply">
                <option value="I Don't like" selected="selected">I Don't like</option>
                <option value="This is fake">This is fake</option>
                <option value="Please check it again what you want to know.">Please check it again what you want to know.</option>
            </select>
        </div>


    </div>
</form>


