﻿@model   SBL.DomainModel.ComplexModel.PanchayatConstituencyModal
@{
    ViewBag.Title = "_GetAllDisrictPanchayat1";
    int count = 0;
}

<div class="table-header">
Constituency Name : @Model.CName.ConstituencyName
</div>

 <div class="pass-table">
 <table class="table table-striped table-bordered table-hover dataTable" id="sample-table-4" aria-describedby="sample-table-4_info">

      <thead>
                <tr role="row">
                    <th class="center sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="">S.No</th>
                      <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label=""></th>
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-4" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Constituency Names</th>
                   
                </tr>
            </thead>
       <tbody role="alert" aria-live="polite" aria-relevant="all">
    @if (Model.tCPanchayat.Count > 0)
    {
        foreach (var item in Model.tCPanchayat)
        {
            foreach (var item1 in item.tCPanchayat)
            {
                count = count + 1;  
                
    <tr>
        <td class="center">
                        @count
                        </td>
        <td>  <input type="checkbox"  id="@item1.ConstituencyPanchayatID "  name ="chkcountry2"  value ="@item1.PanchayatName" /></td>
        <td>
           @item1.PanchayatName

        </td>
    </tr>
            }

        }
    }
           </tbody>
</table>

     </div>


<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>




<script type="text/javascript">
   
    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-4')
        //.wrap("<div class='dataTables_borderWrap' />")   //if you are applying horizontal scrolling (sScrollX)
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
              { "bSortable": false },
             null,
              { "bSortable": false }
            ]

        });

        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })


</script>