﻿@model List<SBL.eLegistrator.HouseController.Web.Areas.Constituency.Models.pmisListReport>
@{int count = 0;}
<div class="col-xs-12 col-sm-12">
	<div class="widget-box widget-color-red">
		<div class="widget-header widget-header-flat Red">

			<h4 class="widget-title">Employee List of <span id="DesignationName"></span>  </h4>
			<div class="widget-toolbar">

				<span class="badge badge-info"> Count @Model.Count </span>
			</div>
		</div>
		<div class="widget-body">

			@if (Model != null && Model.Count > 0)
			{
				<div class="pass-table">

					<div class="pass-table">

						<div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">

							<table class="table table-striped table-bordered table-hover dataTable table table-striped table-hover dt-responsive" width="100%" id="EmployeeListTable" aria-describedby="sample-table-2_info">
								<thead>
									<tr role="row">
										<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Sr No.</th>
										<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Name</th>
										<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Date Of Joining</th>
										<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Mobile</th>
										<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Details</th>
									</tr>
								</thead>

								<tbody role="alert" aria-live="polite" aria-relevant="all">
									@foreach (var item in Model)
									{
										count = count + 1;
										<tr>
											<td>@count</td>
											<td>@item.Name</td>

											<td>@item.DateOfJoining</td>
											<td>@item.Mobile</td>
											<td>
												<div class="hidden-sm hidden-xs action-buttons">
													<a class="blue" href="#" onclick="getEmpDetails('@item.AadhaarId')">
														<i class="ace-icon fa fa-search-plus bigger-130"></i>
													</a>
												</div>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			}
   else
   {
				<div class="alert alert-warning">
					<button type="button" class="close" data-dismiss="alert">
						<i class="ace-icon fa fa-times"></i>
					</button>
					<strong>Sorry! </strong>

					there is no record.
										<br>
				</div>
			}
		</div>
	</div>
</div>
<div class="modal" id="EmpDetailsModal">
	<div id="EmpDetailsDiv"></div>
</div>
<script>
	$(document).ready(function () {
		tableinit();
	});
	function tableinit() {
		var oTable1 =
		 $('#EmployeeListTable')
		 .dataTable({
			 "bDestroy": true,
			 bAutoWidth: true,
			 "aoColumns": [
				{ "bSortable": false },
			   null, null, null, null

			 ]
		 });

	}
</script>