﻿@model  SBL.eLegistrator.HouseController.Web.Areas.Grievances.Models.GrievanceModel
@using SBL.eLegistrator.HouseController.Web.Areas.AccountsAdmin.Models

@{ int count = 1;
    var Image = string.Empty;
    var Pdf = string.Empty;
}
<link href="~/assets/css/sbl/abc.css" rel="stylesheet" />

<style type="text/css">
    #preview {
        position: absolute;
        border: 3px solid #ccc;
        background: #333;
        padding: 5px;
        display: none;
        color: #fff;
        box-shadow: 4px 4px 3px rgba(103, 115, 130, 1);
        z-index: 9999999;
    }
</style>
<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-11 col-sm-6 infobox-green  infobox-dark">Grievance No.- @ViewBag.GrvCode </div>
        <div class="col-xs-11 col-sm-5 infobox-green  infobox-dark">Current Status: @ModelMapping.GetDisplayName((SBL.DomainModel.Models.Enums.GrievanceStatus)Model.tMemberGrievances.StatusId)</div>
    </div>
    <div class="space-12"></div>
    <div class="row">
        <div class="col-xs-12 grevance">
            <div id="ImageDiv"></div>
            @if (!string.IsNullOrEmpty(Model.tMemberGrievances.ImageName))
            {
                {
                    Image = string.Concat("http://164.100.88.163/FileStructure/ServerUploadsPath/", Model.tMemberGrievances.ImageName);
                }
                <a href="@Image" target="_blank" class="preview">
                    <img alt="grevancei" height="150px" width="80px" class="gimg" src="@Image" />
                </a>
            }
            <p>@Model.tMemberGrievances.InformationContent</p>
            @if (!string.IsNullOrEmpty(Model.tMemberGrievances.PdfName))
            {

                <div class=" col-sm-6 ">
                    <br />
                    @{ Pdf = string.Concat("http://164.100.88.163/FileStructure/ServerUploadsPath/", Model.tMemberGrievances.PdfName);
                    }
                    <a href="@Pdf" target="_blank" class="btn btn-warning btn-sm">Downalod PDF</a><br />
                </div>
            }
        </div>
    </div>
    <div class="space-12"></div>

    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-6">
                <div class=" col-xs-10 label label-info arrowed-right arrowed-in">Posted By</div>
                <div class="col-md-12">
                    <p>Name :  @Model.tMemberGrievances.UserName</p>
                    <p>Add :  @Model.tMemberGrievances.Address</p>
                    @* <p>Phone :  @Model.tMemberGrievances.MobileNumber</p>*@
                </div>
            </div>
            <div class="col-xs-6">
                <div class="col-xs-10  label label-info arrowed-right arrowed-in">Mobile Location </div>
                <div class="col-md-12">
                    <p>Location :  @Model.tMemberGrievances.Location</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-5  label label-danger arrowed-right arrowed-in">Office  </div>
            <div class="space-12"></div>
            <div class="space-12"></div>
            <div style="max-height: 350px; overflow: auto;">
                @if (Model != null)
                {
                    <table id="simple-table" class="table  table-bordered  dataTable">
                        <thead>
                            <tr>
                                <th>Department</th>
                                <th>Office</th>
                            </tr>
                        </thead>
                        @if (Model.ForwardGrievanceList.Count() > 0)
                        {
                            foreach (var item in Model.ForwardGrievanceList)
                            {
                                <tbody>
                                    <tr class="active">
                                        <td style="width: 30%;">@item.DeptName  </td>
                                        <td style="width: 30%;">@item.Officename</td>
                                    </tr>
                                </tbody>
                            }

                        }
                        else
                        {
                            <tbody>
                                <tr class="active">
                                    <td style="width: 30%;" colspan="3">No Assign office Found </td>

                                </tr>
                            </tbody>

                        }
                    </table>
                }
                else
                {<ul>
                        <li class="item-pink clearfix ui-sortable-handle">
                            <label class="inline">
                                <span class="lbl">No Assign office Found</span>
                            </label>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="space-12"></div>
    <div class="space-12"></div>
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-5  label label-danger arrowed-right arrowed-in">Action Details </div>
            <div class="space-12"></div>
            <div class="space-12"></div>
            <div style="max-height: 350px; overflow: auto;">
                @if (Model != null)
                {
                    <table class="table table-bordered  ">
                        <thead>
                            <tr>
                                <th>Action Date</th>
                                <th>Action Taken</th>
                                <th>Satus</th>
                                <th>Action By</th>
                            </tr>
                        </thead>


                        @if (Model.GrievanceReplyList.Count() > 0)
                        {
                            foreach (var item in Model.GrievanceReplyList)
                            {
                                <tbody>
                                    <tr>
                                        <td>@item.ActionDate.ToString("dd/MM/yyyy hh:mm:ss tt")</td>
                                        <td>@item.Reply</td>
                                        <td>@ModelMapping.GetDisplayName((SBL.DomainModel.Models.Enums.GrievanceStatus)item.StatusId)</td>
                                        <td>
                                            <span class="label label-danger arrowed">@item.OfficerName</span>
                                            <span class="label label-danger arrowed">@item.MobileNumber</span>
                                        </td>
                                    </tr>
                                </tbody>
                            }
                        }
                        else
                        {
                            <tbody>
                                <tr>
                                    <td colspan="4">No Reply Found</td>
                                </tr>
                            </tbody>
                        }
                    </table>
                }
                else
                {<ul id="tasks" class="item-list ui-sortable">
                        <li class="item-pink clearfix ui-sortable-handle">
                            <label class="inline">
                                <span class="lbl">No Reply Found</span>
                            </label>
                        </li>
                    </ul>
                }
            </div>

        </div>

    </div>
</div>
<script src="~/assets/js/uncompressed/bootstrap.js"></script>

<script src="~/Scripts/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        ShowImagePreview();
    });
    // Configuration of the x and y offsets
    function ShowImagePreview() {

        xOffset = -1;
        yOffset = 5;

        $("a.preview").hover(function (e) {
            this.t = this.title;
            this.title = "";
            var c = (this.t != "") ? "<br/>" + this.t : "";
            $("#ImageDiv").append("<p id='preview'><img src='" + this.href + "' alt='Image preview' />" + c + "</p>");
            $("#preview")
                .css("top", (10) + "px")
                .css("left", (270) + "px")
                .fadeIn("slow");
        },

            function () {
                this.title = this.t;
                $("#preview").remove();
            });

        $("a.preview").mousemove(function (e) {
            $("#preview")
                .css("top", (10) + "px")
                .css("left", (270) + "px");
        });
    };

</script>
