﻿@model SBL.DomainModel.Models.Ministery.mMinisteryMinisterModel


            <div class="widget-box">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title">
@*                        @if (Model.QtypeId == (int)QuestionType.StartedQuestion)
                        {
                            @Resources.PaperLaidDepartment.DDStaredQuestions
                        }
                        else if (Model.QtypeId == (int)QuestionType.UnstaredQuestion)
                        {
                            @Resources.PaperLaidDepartment.DDUnStaredQuestions
                        } >>*@ 
                        
                      @Resources.PaperLaidDepartment.ViewDetails
                    </h4>


                    <div class="widget-toolbar no-border">
                        @if (Model.PaperLaidId == null || Model.PaperLaidId == 0)
                        {
                            <button class="btn btn-xs btn-primary bigger" onclick="return EditDetails();">
                                <i class="ace-icon fa fa-pencil-square-o"></i>
                                @Resources.PaperLaidDepartment.DDDraftReply
                            </button>
                        }
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main no-padding-right no-padding-left">
                        <div class="profile-user-info profile-user-info-striped">
                            <div class="profile-info-row">
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.Number</div>

                                <div class="profile-info-value">
                                    <span id="username" class=""> @Model.Number</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.Title</div>

                                <div class="profile-info-value">
                                    <span>@Html.Raw(@Model.Title)</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.AskedBy: </div>

                                <div class="profile-info-value">
                                    <span>@Model.MemberName</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.Department</div>

                                <div class="profile-info-value">
                                    <span>@Model.DeparmentName</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.Minister</div>

                                <div class="profile-info-value">
                                    <span>@Model.MinisterName</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.Description</div>

                                <div class="profile-info-value">
                                    <span>@Html.Raw(@Model.Description)</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.Minister.NatureofPaper:</div>

                                <div class="profile-info-value">
                                    <span>@Model.PaperCategoryTypeName</span>
                                </div>
                            </div>

                              <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.Minister.BusinessType:</div>

                                <div class="profile-info-value">
                                    <span>@Model.EventName</span>
                                </div>
                            </div>

                              <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.Remark:</div>

                                <div class="profile-info-value">
                                    <span>@Html.Raw(Model.Remark)</span>
                                </div>
                            </div>

                             

                              <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.ProvisionUnderWhich:</div>

                                <div class="profile-info-value">
                                    <span>@Model.ProvisionUnderWhich</span>
                                </div>
                            </div>

                              <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.Committee.PapertobeLaid:</div>

                                  @* @{
                                     indexOf = Model.SignedFilePath.LastIndexOf('/');
                                     files = Model.SignedFilePath.Substring(indexOf + 1);
                                      }*@
                                  <a href="/SecuredFiles/@Model.PaperLaidId,SignedP"  target="_blank">@Resources.PaperLaidDepartment.SignedPaperVer @Model.Version</a>
                                  
                         </div>        
                            
                              <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.PaperLaidDepartment.SupplementaryReplyPDF:</div>

                                 @if (@Model.SupFileName != null)
                                {
                                    <a href="/SecuredFiles/@Model.PaperLaidId,SP"  target="_blank">@Resources.PaperLaidDepartment.PaperVer @Model.SupFileVersion</a>
                                   
                                   
                                }
                                  
                         </div>     
                            
                                <div class="profile-info-row">
                                <div class="profile-info-name">@Resources.Minister.SubmittedDate:</div>

                                 <div class="profile-info-value">
                                    <span>  @string.Format("{0:dd/MM/yyyy}", @Model.DeptSubmittedDate)</span>
                                </div>
                           
                            </div>

                            <div>
                                    <tr>

            <td style="width:30%;text-align:left">
               <div onclick="SubmittedChangedPaper(@Model.PaperLaidId,@Model.DeptActivePaperId)">
                   @Html.ActionLink(@Resources.Minister.PaperVersion, "ViewPdfFromServerSignIntention", "PaperLaidMinister", null, new { @class = "saveButton", onclick = "return false;" })

               </div>
          </td>

                </tr>
                            </div>
                            
                        </div>

                    </div>
                </div>

            </div>





  