﻿@model SBL.DomainModel.Models.StaffManagement.mStaff
@{int count = 0;}
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="blue bigger">Add Nominee</h4>
		</div>
		<div class="modal-body">
<div class="row" style="padding: 0px 0px 10px 24px;">
 
			<button class="btn  btn-sm btn-info" onclick="NewNominee(@Model.StaffID)">
				<i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
				<span class="bigger-110">New Nominee</span>
			</button>
	  

</div>
<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		<div class="pass-table">
			@if (Model != null)
			{
				if (Model.mStaffNominee.Count() > 0)
				{
					   
				<table class="table table-striped table-bordered table-hover dataTable" id="sample-table-2" aria-describedby="sample-table-2_info">
					<thead>
						<tr role="row">
							<th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">No</th>
														
							<th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Name</th>
							<th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Relationship</th>
							<th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Bank Details</th>
							<th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Is Active</th>  
							<th class="center sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending">Action</th>                                                       
						</tr>
					</thead>
					<tbody role="alert" aria-live="polite" aria-relevant="all">
						@foreach (var item in Model.mStaffNominee)
						{
							count = count + 1;
							   
							<tr>
								<td class="center">
									@count
								</td>
								
								<td>@item.NomineeName</td>
								<td>@item.Relatioanship</td>
								 <td>@item.BankAccountNo - @item.BankName</td>

								<td class="hidden-480">
											@if (item.isActive)
											{
												<span class="label label-sm label-success">Active</span>
											}
											else
											{
												<span class="label label-sm label-warning">InActive</span>
											}
										</td>
								<td>
									<div class="hidden-sm hidden-xs btn-group">
													

														<button class="btn btn-xs btn-info" onclick="updateNominee(@item.NomineeID)">
															<i class="ace-icon fa fa-pencil bigger-120"></i>
														</button>

														<button class="btn btn-xs btn-danger" onclick="deleteNominee(@item.NomineeID)">
															<i class="ace-icon fa fa-trash-o bigger-120"></i>
														</button>

														
													</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
				<!-- PAGE CONTENT ENDS -->
				}
				else
				{
				<div class="row">
					<div class="col-xs-12">
						<div class="alert alert-info">
							<strong>There are no Nominee For this Staff</strong><br />
						</div>
					</div>
				</div>
				}
			}

		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</div>
	</div>
	</div>
</div>
  @using (Ajax.BeginForm("saveNominee", "StaffManagement", FormMethod.Post, new AjaxOptions
	 {
		 UpdateTargetId = "NomineeList",
		 LoadingElementId = "loader-wrapper",
		 OnSuccess = "OnSuccessNominee()",
		 InsertionMode= InsertionMode.Replace,
		

	 }, new { @class = "form-horizontal", @role = "form" , id="saveLoanForm" }))
	{
	<div id="NewNominee" class="modal">
	
</div>
	  
	}
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script type="text/javascript">
	jQuery(function ($) {
		var oTable1 =
		$('#sample-table-2').dataTable();
	})
	function NewNominee(StaffID)
	{   var pathurl = "@Url.Action("newNominee", "StaffManagement")";
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: { StaffID: StaffID },
			success: function (data) {
				if (data) {
					$("#NewNominee").modal({                    // wire up the actual modal functionality and show the dialog
						"backdrop": "static",
						"keyboard": true,
						"show": true                     // ensure the modal is shown immediately
					});
					$("#NewNominee").html("");
					$("#NewNominee").html(data);
					$("#loader-wrapper").hide();
				}
			}
		});
		
		
	   
	}
	function updateNominee(NomineeID) {
		var pathurl = "@Url.Action("updateNominee", "StaffManagement")";
		$.ajax({
			url: pathurl,
			type: 'GET',
			data: { NomineeID: NomineeID },
			success: function (data) {
				if (data) {
					$("#NewNominee").modal({                    // wire up the actual modal functionality and show the dialog
						"backdrop": "static",
						"keyboard": true,
						"show": true                     // ensure the modal is shown immediately
					});
					$("#NewNominee").html("");
					$("#NewNominee").html(data);
					$("#loader-wrapper").hide();
				}
			}
		});
	}
	function deleteNominee(NomineeID) {
		var pathurl = "@Url.Action("deleteNominee", "StaffManagement")";
		 $.ajax({
			 url: pathurl,
			 type: 'GET',
			 data: { NomineeID: NomineeID },
			 success: function (data) {
				
				 $("#NomineeList").html("");
				 $("#NomineeList").html(data);
				 $("#loader-wrapper").hide();
				 ShowNotification("success", "Nominee has been Deleted");
				 
			 }
		 });
	 }
</script>