﻿@model SBL.DomainModel.Models.Promotion.tLeaveDetail

<link rel="stylesheet" href="~/assets/css/datepicker.css" />
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>

<style>
    .input-daterange {
        z-index: 100000 !important;
    }
</style>


<div class="modal-dialog" style="width: 550px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="blue bigger">Add Leave</h4>
        </div>
        <div class="modal-body">
            <div class="row">

                <div class="col-xs-12 col-sm-6">
                    <div class="profile-user-info profile-user-info-striped">
                        <div class="profile-info-row">
                            @Html.Hidden("StaffID", Model.StaffID)

                            @Html.Hidden("LeaveID", Model.LeaveID)

                            @Html.HiddenFor(a => a.Mode)
                        </div>

                        <div class="profile-info-row">

                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">Type Of Leave<span style="color: red">*</span>:</label>
                            </div>

                            <div class="profile-info-value">

                                <span id="spnDetails" class="">

                                    @{
                                        List<SelectListItem> listItems = new List<SelectListItem>();


                                        listItems.Add(new SelectListItem
                                             {
                                                 Text = "Medical/Commuted Leave",
                                                 Value = "Medical/Commuted Leave",
                                                 Selected = true
                                             });
                                        listItems.Add(new SelectListItem
                                             {
                                                 Text = "Earned Leave",
                                                 Value = "Earned Leave"
                                             });
                                    }

                                    @Html.DropDownListFor(model => model.LeaveType, listItems, new { @id = "Leave", @style = "height: 34px; width: 100%;" })

                                    @* <select name="Leave" id="Leave" style="height: 34px; width: 100%;">
                            <option value=''>-----Select Leave---</option>
                            <option value='Medical/Commuted'>Medical/Commuted Leave </option>
                            <option value='Earned'>Earned Leave</option>
                        </select>*@
                                </span>
                            </div>
                        </div>


                        <div class="profile-info-row">

                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">Number of Days:</label>
                            </div>

                            <div class="profile-info-value">

                                <span id="spnDetails" class="">
                                    @Html.TextBoxFor(model => model.NumofDays, new { @id = "TxtNumDays", @class = "col-xs-10 col-sm-5", @placeholder = "Days", @autocomplete = "off", style = "width: 250px" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.NumofDays)
                                </span>
                            </div>
                        </div>

                        <div class="profile-info-row">

                            <div class="profile-info-name" style="width: 200px !important;">
                                <label class="col-sm-12 control-label no-padding-right" for="Name">Leave Taken:</label>
                            </div>


                            <div class="input-daterange input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                                <input type="text" class="form-control from_date" id="tStartDate" data-date-format="dd/MM/yyyy" value="@Model.From" placeholder="dd/MM/yyyy" />
                                <span class="input-group-addon">
                                    <i class="fa fa-exchange"></i>
                                </span>
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                                <input type="text" class="form-control to_date " value="@Model.To" id="tEndDate" data-date-format="dd/MM/yyyy" placeholder="dd/MM/yyyy" />
                            </div>

                        </div>

                        @*   <div class="profile-info-row">

							<div class="profile-info-name" style="width: 200px !important;">
								<label class="col-sm-12 control-label no-padding-right" for="Name">From:</label>
							</div>

                            	<div class="profile-info-value">

								<span id="spnDetails" class="">
									@Html.TextBoxFor(model => model.From,  new { @id = "TxtFrom", @class = "col-xs-10 col-sm-5",  @placeholder = "From",@required="required", @autocomplete = "off", style = "width: 350px" })
									<br />  
									@Html.ValidationMessageFor(model => model.From)
								</span>
							</div>
					</div>

					<div class="profile-info-row">

							<div class="profile-info-name" style="width: 200px !important;">
								<label class="col-sm-12 control-label no-padding-right" for="Name">To:</label>
							</div>

                            	<div class="profile-info-value">

								<span id="spnDetails" class="">
									@Html.TextBoxFor(model => model.To,  new { @id = "TxtTo", @class = "col-xs-10 col-sm-5",  @placeholder = "To",@required="required", @autocomplete = "off", style = "width: 350px" })
									<br />
									@Html.ValidationMessageFor(model => model.To)
								</span>
							</div>
					</div>*@



                    </div>



                </div>
            </div>

        </div>
        <div class="row" style="padding: 0 12px;">
            <div class="clearfix form-actions">
                <div class="col-md-offset-5 col-md-1">

                    @* <button class="btn btn-primary" type="button" onclick="SaveLeave();">
							
							Leave
						</button>*@

                    @if (Model.LeaveID == 0)
                    { 
                        <button class="btn btn-primary" type="button" onclick="SaveLeave();" formtarget="_blank">
                            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                            Save Leave
                        </button>
                    }
                    else
                    { 
                        <button class="btn btn-primary" type="button" onclick="UpdateLeave();" formtarget="_blank">
                            <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                            Update Leave
                        </button>
                    }


                </div>
            </div>
        </div>
    </div>
</div>
</div>




<script>



    function SaveLeave() {

        var mode = "Save";

        var LeaveType = $("#Leave option:selected").val();

        var NumofDays = $("#TxtNumDays").val();
        var From = document.getElementById("tStartDate").value;
        var To = document.getElementById("tEndDate").value;
        var StaffID = $("#StaffID").val();




        bootbox.confirm('@Resources.PaperLaidDepartment.Areyousure', function (confresult) {
            if (confresult) {
                $.ajax({
                    url: "/Accounts/StaffManagement/LeaveDetailsSave",
                    type: 'GET',
                    data: {
                        LeaveType: LeaveType,
                        NumofDays: NumofDays,
                        From: From,
                        To: To,
                        mode: mode,
                        StaffID: StaffID


                    },
                    success: function (data) {

                        $("#loader-wrapper").hide();
                        $("#NewLeave").modal('hide');
                        ShowNotification("success", "staff Member has been Added/updated");
                        getLeaveList(StaffID);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                        location.reload(true);
                    }
                });
            }

        });

    }

    function UpdateLeave() {

        var mode = "Update";

        var LeaveType = $("#Leave option:selected").val();

        var NumofDays = $("#TxtNumDays").val();
        var From = document.getElementById("tStartDate").value;
        var To = document.getElementById("tEndDate").value;
        var LeaveID = $("#LeaveID").val();
        var StaffID = $("#StaffID").val();


        bootbox.confirm('@Resources.PaperLaidDepartment.Areyousure', function (confresult) {
            if (confresult) {
                $.ajax({
                    url: "/Accounts/StaffManagement/LeaveDetailsUpdate",
                    type: 'GET',
                    data: {
                        LeaveType: LeaveType,
                        NumofDays: NumofDays,
                        From: From,
                        To: To,
                        mode: mode,
                        LeaveID: LeaveID



                    },
                    success: function (data) {

                        $("#loader-wrapper").hide();
                        $("#NewLeave").modal('hide');
                        ShowNotification("success", "staff Member has been Added/updated");
                        getLeaveList(StaffID);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.responseText);
                        alert(thrownError);
                        location.reload(true);
                    }
                });
            }

        });

    }

    $(function () {
        $('#idTourDateDetails').datepicker({
            dateFormat: 'dd-mm-yy',
            minDate: '+5d',
            changeMonth: true,
            changeYear: true,
            altField: "#idTourDateDetailsHidden",
            altFormat: "yy-mm-dd"
        });
    });

    $(document).ready(function () {


        try {
            var startDate = new Date('01/01/1900');
            var FromEndDate = new Date();
            var ToEndDate = new Date();

            ToEndDate.setDate(ToEndDate.getDate() + 365);
            $('.from_date').datepicker({
                weekStart: 1,
                startDate: '01/01/1900',
                endDate: FromEndDate,
                format: 'dd/mm/yyyy',
                autoclose: true
            }).on('changeDate', function (selected) {
                startDate = new Date(selected.date.valueOf());
                startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
                $('.to_date').datepicker('setStartDate', startDate);
            });

            $('.to_date')
	.datepicker({

	    weekStart: 1,
	    startDate: startDate,
	    endDate: ToEndDate,
	    format: 'dd/mm/yyyy',
	    autoclose: true
	})
	.on('changeDate', function (selected) {
	    
	    FromEndDate = new Date(selected.date.valueOf());
	    FromEndDate.setDate(FromEndDate.getDate(new Date(selected.date.valueOf())));
	    $('.from_date').datepicker('setEndDate', FromEndDate);

	    var oneDay = 24 * 60 * 60 * 1000; // hours*minutes*seconds*milliseconds
	    var FromDate = $("#tStartDate").val();
	    var EndDate = $("#tEndDate").val();

	    var FinalFromDate = FromDate.split("/")[1] + "/" + FromDate.split("/")[0] + "/" + FromDate.split("/")[2];
	    var FinalEndDate = EndDate.split("/")[1] + "/" + EndDate.split("/")[0] + "/" + EndDate.split("/")[2];

	    var firstDate = new Date(FinalFromDate);
	    var secondDate = new Date(FinalEndDate);

	    var diffDays = Math.round(Math.abs((firstDate.getTime() - secondDate.getTime()) / (oneDay)));
	    $("#TxtNumDays").val(diffDays + 1);
	});
        } catch (error) {
            alert(error.message);
        }

        $('.IsnumericClass').keypress(function (e) {
            var key = (e.which) ? e.which : e.keyCode;
            if ((key >= 48 && key <= 57) || (key == 44) || (key == 8)) {

                return true;
            }
            else {
                return false;
            }
        });

        fillDesignation();

        var attr = $("#isActivehidden").attr('value');

        if (attr == 'value') {
            document.getElementById("isActivecheck").checked = true;
            $("#isActivehidden").val("True");
        }
        else {

            $("#isActivecheck").removeAttr('checked');
            $("#isActivehidden").val("False");
        }

        var alive = $("#isAlivehidden").attr('value');

        if (alive == 'value') {
            document.getElementById("isAlivecheck").checked = true;
            $("#isAlivehidden").val("True");
        }
        else {

            $("#isAlivecheck").removeAttr('checked');
            $("#isAlivehidden").val("False");
        }

    });

    function Check() {
        var a = $('#NomineeName').val();

        if (a == "") {
            ShowNotification("error", "Please fill Nominee Name");
            return false;
        }
        if ($("#NomineeRelationship option:selected").text() == "--Select--") {
            ShowNotification("error", "Please Select Nominee RelationShip");
            return false;
        }
    }
    $("#isActivecheck").click(function () {
        if ($('#isActivecheck').is(':checked')) {
            $("#isActivehidden").val("true");
        }
        else {
            $("#isActivehidden").val("false");
        }
    });
    $("#isAlivecheck").click(function () {
        if ($('#isAlivecheck').is(':checked')) {
            $("#isAlivehidden").val("true");
        }
        else {
            $("#isAlivehidden").val("false");
        }
    });
    function fillDesignation() {
        $("#loader-wrapper").show();
        var pathUrl = "@Url.Action("fillDesignation", "StaffManagement")";
        $.ajax({
            url: pathUrl,
            type: 'GET',
            success: function (data) {

                $("#Designation").html("");

                for (var i = 0; i < data.length; i++) {
                    var item = data[i];
                    $("#Designation").append($("<option></option>").val(item.designationName).html(item.designationName))
                }
                $("#Designation").trigger("chosen:updated");
                $("#loader-wrapper").hide();
                if ($("#Mode").val() == "Update") {


                }
            }

        });
    }
</script>
