﻿@model SBL.DomainModel.ComplexModel.ePartialViewModel
@{
    ViewBag.Title = "Personal";
}
<style type="text/css">
    .ErrorMessage {
        color: red;
        font-weight: bold;
        padding-left: 5px;
        padding-top: 15px;
    }
</style>
<form method="post" action="/Accounts/StaffManagement/SaveAndupdateStaff" id="AddandupdateStaff">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                    @Html.HiddenFor(a => a.mStaff.StaffID)
                    @Html.HiddenFor(a => a.mStaff.Mode)
                    @Html.HiddenFor(a => a.ImageShow)
                    @Html.HiddenFor(a => a.mStaff.Photo)
                    @Html.HiddenFor(a => a.mStaff.Designation)
                    @Html.HiddenFor(a => a.mStaff.Classes)
                    @Html.HiddenFor(a => a.mStaff.Group)
                    @Html.HiddenFor(a => a.mStaff.Category)

                    <input type="hidden" name="hdnDateofre" id="hdnDateofre" />

                </div>
                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.mStaff.AadharID) <span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.mStaff.AadharID, new { @id = "AadharId", @class = "col-xs-10 col-sm-5 IsnumericClass TextName0", @placeholder = "Aadhar Id", @autocomplete = "off", @maxlength = "12", @onkeyup = "this.value=this.value.replace(/[^\\d]/,'')", style = "width: 350px", @required = "required", @onchange = "CheckAadharnumber()" })
                            <br />
                            @Html.ValidationMessageFor(model => model.mStaff.AadharID)
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.mStaff.StaffName)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.mStaff.StaffName, new { @id = "StaffName0", @class = "col-xs-10 col-sm-5 TextName0", @placeholder = "Staff Name", @autocomplete = "off", style = "width: 350px", @required = "required" })
                            <br />
                            @Html.ValidationMessageFor(model => model.mStaff.StaffName)
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.mStaff.Gender)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.DropDownListFor(model => model.Gender, Model.GenderList, "-- Select Gender --", new { @class = "col-xs-10 col-sm-5", style = "width: 350px" })
                            @*@Html.TextBoxFor(model => model.mStaff.Gender, new { @id = "Gender", @class = "col-xs-10 col-sm-5", @placeholder = "Gender", @autocomplete = "off", min = "12", max = "12", style = "width: 350px" })*@
                            <br />
                            @Html.ValidationMessageFor(model => model.mStaff.Gender)
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.mStaff.DOB)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @if (Model.mStaff != null)
                            {
                                if (Model.mStaff.DOB != null)
                                {
                                    DateTime? dateofD = Model.mStaff.DOB;
                                    string stee = "";
                                    if (dateofD != null)
                                    {
                                        stee = dateofD.Value.ToString("dd/MM/yyyy");
                                    }
                                <input type="text" value="@stee" id="DOB0" name="DOB0" class="col-xs-10 col-sm-5 TextName0" style = "width: 350px"  />
                                   
                                }
                                else
                                {
                                <input type="text" id="DOB0" name="DOB0" class="col-xs-10 col-sm-5 TextName0" style="width: 350px" placeholder="Date of Birth(dd/MM/yyyy)" autocomplete="off" />
                                }
                            }
                            else
                            {
                                <input type="text" id="DOB0" name="DOB0" class="col-xs-10 col-sm-5 TextName0" style="width: 350px;" placeholder="Date of Birth(dd/MM/yyyy)" autocomplete="off" />

                            }

                        </span>
                    </div>
                </div>

                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.mStaff.FatherName)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.mStaff.FatherName, new { @id = "FatherName0", @class = "col-xs-10 col-sm-5 TextName0", @placeholder = "Father Name", @autocomplete = "off", style = "width: 350px" })
                            <br />
                            @Html.ValidationMessageFor(model => model.mStaff.FatherName)
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.mStaff.Address)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.mStaff.Address, new { @id = "Address0", @class = "col-xs-10 col-sm-5 TextName0", @placeholder = "Address", @autocomplete = "off", style = "width: 350px" })
                            <br />
                            @Html.ValidationMessageFor(model => model.mStaff.Address)
                        </span>
                    </div>
                </div>


                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.mStaff.State)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.mStaff.State, new { @id = "State", @required = "required", @class = "col-xs-10 col-sm-5 TextName0", @placeholder = "State", @autocomplete = "off", style = "width: 350px" })
                            <br />
                            @Html.ValidationMessageFor(model => model.mStaff.State)
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.mStaff.District)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.mStaff.District, new { @id = "District0", @numberonly = "numberonly", @class = "col-xs-10 col-sm-5 TextName0", @placeholder = "District", @required = "required", @autocomplete = "off", style = "width: 350px" })
                            <br />
                            @Html.ValidationMessageFor(model => model.mStaff.District)
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.mStaff.PinCode)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.mStaff.PinCode, new { @id = "PinCode0", @class = "col-xs-10 col-sm-5 IsnumericClass TextName0", @maxlength = "6", @placeholder = "Pin Code", @required = "required", @autocomplete = "off", style = "width: 350px" })
                            <br />
                            @Html.ValidationMessageFor(model => model.mStaff.PinCode)
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.mStaff.MobileNo):</label>
                    </div>

                    <div class="profile-info-value">
                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.mStaff.MobileNo, new { @id = "MobileNo0", @required = "required", @class = "col-xs-10 col-sm-5 IsnumericClass TextName0", @placeholder = "Mobile No", @maxlength = "10", @tabindex = "13", @onkeyup = "this.value=this.value.replace(/[^\\d]/,'')", @autocomplete = "off", style = "width: 350px" })
                            <br />
                            @Html.ValidationMessageFor(model => model.mStaff.MobileNo)
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.mStaff.LandlineNo):</label>
                    </div>

                    <div class="profile-info-value">
                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.mStaff.LandlineNo, new { @id = "TxtName", @required = "required", @class = "col-xs-10 col-sm-5 IsnumericClass TextName0", @placeholder = "Landline No", @maxlength = "11", @tabindex = "13", @onkeyup = "this.value=this.value.replace(/[^\\d]/,'')", @autocomplete = "off", style = "width: 350px" })
                            <br />
                            @Html.ValidationMessageFor(model => model.mStaff.LandlineNo)
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.mStaff.EmailId):</label>
                    </div>

                    <div class="profile-info-value">
                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.mStaff.EmailId, new { @id = "EmailId0", @required = "required", @class = "col-xs-10 col-sm-5 TextName0", @placeholder = "Email Id", @autocomplete = "off", style = "width: 350px" })
                            <br />
                            @Html.ValidationMessageFor(model => model.mStaff.EmailId)
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.mStaff.BloodGroup):</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.mStaff.BloodGroup, new { @id = "TxtName", @class = "col-xs-10 col-sm-5 TextName0", @placeholder = "Blood Group", @autocomplete = "off", style = "width: 350px" })
                            <br />
                            @Html.ValidationMessageFor(model => model.mStaff.BloodGroup)
                        </span>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.mStaff.Photo)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">
                        <span id="spnImage" class="">
                            <img id="imgCapture" width="180" height="160" style="visibility: visible; margin-left: 25%;" />
                        </span>
                        <span id="spnDetails" class="">
                            <label class="control-label no-padding-right" for="avatar">@Resources.PaperLaidDepartment.PhotofromFileSystem:</label>

                            <input id="file" name="file" type="file" accept="image/gif,image/jpeg,image/jpg,image/png" onchange="CheckImage()" />
                            <span style="color: blue;">*Image Size should be 180x160 (WxH)</span>
                            <span style="color: red; padding-left: 10px" class="field-validation-error" id="spanfile1"></span>

                        </span>

                    </div>
                </div>
                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.mStaff.EducationalQualification):</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.mStaff.EducationalQualification, new { @id = "TxtName", @class = "col-xs-10 col-sm-5 TextName0", @placeholder = "Educational Qualification", @autocomplete = "off", style = "width: 350px" })
                            <br />
                            @Html.ValidationMessageFor(model => model.mStaff.EducationalQualification)
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.mStaff.Category):</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            <select name="Category" id="Category" style="height: 34px; width: 100%;">
                                <option value='General'>General </option>
                                <option value='OBC'>OBC</option>
                                <option value='SC/ST'>SC/ST</option>
                                <option value='Other'>Other</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.mStaff.IdentificationMark)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.mStaff.IdentificationMark, new { @id = "IdentificationMark", @class = "col-xs-10 col-sm-5 TextName0", @placeholder = "Permanent Identification Mark", @autocomplete = "off", style = "width: 350px" })
                            <br />
                            @Html.ValidationMessageFor(model => model.mStaff.IdentificationMark)
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.mStaff.Height):</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.mStaff.Height, new { @id = "Height", @required = "required", @maxlength = "4", @tabindex = "13", @class = "col-xs-10 col-sm-5  TextName0", @placeholder = "Height", @autocomplete = "off", style = "width: 350px" })
                            <br />
                            @Html.ValidationMessageFor(model => model.mStaff.Height)
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.mStaff.Nationality)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.mStaff.Nationality, new { @id = "Nationality", @required = "required", @class = "col-xs-10 col-sm-5 TextName0", @placeholder = "Nationality", @autocomplete = "off", style = "width: 350px" })
                            <br />
                            @Html.ValidationMessageFor(model => model.mStaff.Nationality)
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.mStaff.PANNo):</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.mStaff.PANNo, new { @id = "PANNo", @required = "required", @numberonly = "numberonly", @class = "col-xs-10 col-sm-5 TextName0", @placeholder = "PAN No", @autocomplete = "off", style = "width: 350px" })
                            <br />
                            @Html.ValidationMessageFor(model => model.mStaff.PANNo)
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.mStaff.SpouseName):</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.mStaff.SpouseName, new { @id = "SpouseName", @numberonly = "numberonly", @required = "required", @class = "col-xs-10 col-sm-5 TextName0", @placeholder = "Husband Name/Spouse Name", @autocomplete = "off", style = "width: 350px" })
                            <br />
                            @Html.ValidationMessageFor(model => model.mStaff.SpouseName)
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">

                    <div class="profile-info-name" style="width: 200px !important;">
                        <label class="col-sm-12 control-label no-padding-right" for="Name">@Html.LabelFor(a => a.mStaff.DateofSuperannuation)<span style="color: red">*</span>:</label>
                    </div>

                    <div class="profile-info-value">

                        <span id="spnDetails" class="">
                            @Html.TextBoxFor(model => model.mStaff.DateofSuperannuation, new { @id = "DateofSuperannuation", @numberonly = "numberonly", @class = "col-xs-10 col-sm-5 IsnumericClass TextName0", @onkeyup = "this.value=this.value.replace(/[^\\d]/,'')", @placeholder = "Age of Superannuation", @maxlength = "2", @autocomplete = "off", style = "width: 350px", @onchange = "GetRetirementDetail()" })
                            <br />
                            @Html.ValidationMessageFor(model => model.mStaff.DateofSuperannuation)
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row" style="padding: 0 12px;">
        <div class="clearfix form-actions">
            <div class="col-md-offset-5 col-md-1">

                <button class="btn btn-primary" type="button" onclick="SaveandUpdateStaff()">
                    <i class="ace-icon fa fa-floppy-o align-top bigger-140"></i>
                    @if (Model.Mode == "Save")
                    {
                        <span>Save</span> 
                    }
                    else
                    {
                        <span>Update</span>
                    }

                </button>
            </div>
        </div>
    </div>
</form>
<script src="~/assets/js/date-time/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        var picLocation = $('#ImageShow').val();
        if (picLocation != "") {
            $("[id*=imgCapture]").css("visibility", "visible");
            $("[id*=imgCapture]").attr("src", picLocation);
        }
        if ($("#Mode").val() == "Update") {
            var Category = $("#mStaff_Category").val();

            if (Category != null && Category != '') {
                document.getElementById('Category').value = Category;
            }

        }
    });
    $('#DOB0').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: "dd/mm/yyyy"
    }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
        $(this).prev().focus();
    });
    $('#DOJ').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: "dd/mm/yyyy"
    }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
        $(this).prev().focus();
    });


    function CheckAadharnumber() {
        var aadarId = $('#AadharId').val();

        if (aadarId.length == 12) {
            if (isNaN(aadarId)) {
                ShowNotification("error", "Please Enter a Valid Aadhar Id .....");
                $('#AadharId').val("");
                return false;
            }
        }
        else {
            ShowNotification("error", "Please Enter a Valid Aadhar Id .....");
            $('#AadharId').val('');
            return false;
        }
    }



    function SaveandUpdateStaff() {
        var IsValid = true;

        if ($('#mStaff_StaffID').val() == '') {
            ShowNotification("error", "Please Select Staff and Search first .....");
            IsValid = false;
        }
        else {
            if ($('#AadharId').val() == '') {
                $('#AadharId').css("border", "1px solid red");
                $('#AadharId').after("<span class='ErrorMessage' id='Error1'>Aadhar Id Required</span>");
                IsValid = false;
            }
            if ($('#StaffName0').val() == '') {
                $('#StaffName0').css("border", "1px solid red");
                $('#StaffName0').after("<span class='ErrorMessage' id='Error1'>Staff Name Required</span>");
                IsValid = false;
            }
            if ($('#Gender').val() == '') {
                $('#Gender').css("border", "1px solid red");
                $('#Gender').after("<span class='ErrorMessage' id='Error1'>Gender Required</span>");
                IsValid = false;
            }
            if ($('#DOB0').val() == '') {
                $('#DOB0').css("border", "1px solid red");
                $('#DOB0').after("<span class='ErrorMessage' id='Error1'>Date Of Birth Required</span>");
                IsValid = false;
            }
            if ($('#FatherName0').val() == '') {
                $('#FatherName0').css("border", "1px solid red");
                $('#FatherName0').after("<span class='ErrorMessage' id='Error1'>Father Name Required</span>");
                IsValid = false;
            }
            if ($('#Address0').val() == '') {
                $('#Address0').css("border", "1px solid red");
                $('#Address0').after("<span class='ErrorMessage' id='Error1'>Address Required</span>");
                IsValid = false;
            }
            if ($('#State').val() == '') {
                $('#State').css("border", "1px solid red");
                $('#State').after("<span class='ErrorMessage' id='Error1'>State Required</span>");
                IsValid = false;
            }
            if ($('#District0').val() == '') {
                $('#District0').css("border", "1px solid red");
                $('#District0').after("<span class='ErrorMessage' id='Error1'>Distric Required</span>");
                IsValid = false;
            }
            if ($('#PinCode0').val() == '0') {
                $('#PinCode0').css("border", "1px solid red");
                $('#PinCode0').after("<span class='ErrorMessage' id='Error1'>Pin Code Required</span>");
                IsValid = false;
            }


            if ($('#IdentificationMark').val() == '') {
                $('#IdentificationMark').css("border", "1px solid red");
                $('#IdentificationMark').after("<span class='ErrorMessage' id='Error1'>Identification Mark Required</span>");
                IsValid = false;
            }
            if ($('#Nationality').val() == '') {
                $('#Nationality').css("border", "1px solid red");
                $('#Nationality').after("<span class='ErrorMessage' id='Error1'>Nationality Required</span>");
                IsValid = false;
            }
            if ($('#DateofSuperannuation').val() == '0') {
                $('#DateofSuperannuation').css("border", "1px solid red");
                $('#DateofSuperannuation').after("<span class='ErrorMessage' id='Error1'>Date of Superannuation Required</span>");
                IsValid = false;
            }

            if ($('#mStaff_Photo').val() == '') {
                ShowNotification("error", "Please Select a Photo .....");

                IsValid = false;
            }

            if (IsValid == true) {
                var AadharNumber = $('#AadharId').val();
                var StaffID = $('#StaffID').val();
                CheckAadharNumberExist(StaffID, AadharNumber);

            }
        }
    }

    function SavePernoalData() {
        var QData = $('#AddandupdateStaff').serialize();

        $.ajax({
            cache: false,
            async: true,
            type: "POST",
            url: "/Accounts/StaffManagement/PersonalAndupdateNewStaff",
            data: QData,
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (data) {
                $('#divDataContainer_PersonalInsertForm').empty();
                $('#divDataContainer_PersonalInsertForm').html(data);
                // $('.TextName0').val('');
                //$("[id*=imgCapture]").removeAttr('src');
                // $("[id*=imgCapture]").val(' ');

                $('#loader-wrapper').hide();
                ShowNotification("success", "Personal Details Update Successfully ..... ");

            },
            error: function (xhr, ajaxOptions, thrownError) {

                alert(xhr.responseText);
                alert(thrownError);
            },

            complete: function (data) {

                $('#loader-wrapper').hide();
            }
        });
    }
    function CheckAadharNumberExist(StaffID, AadharNumber) {
        $.ajax({
            cache: false,
            async: true,
            type: "POST",
            url: "/Accounts/StaffManagement/CheckAadharNumberExist",
            data: { StaffID: StaffID, AadharNumber: AadharNumber },
            beforeSend: function () {
                $('#loader-wrapper').show();
            },
            success: function (data) {
                
                $('#loader-wrapper').hide();
                if (data == null || data.length == 0) {
                    SavePernoalData()
                }
                else {
                    ShowNotification("error", "Aadhar Number Already Registerd. Please fill new aadhar number.");
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

                alert(xhr.responseText);
                alert(thrownError);
            },

            complete: function (data) {

                $('#loader-wrapper').hide();
            }
        });
    }
    function getNameFromPath(strFilepath) {
        var objRE = new RegExp(/([^\/\\]+)$/);
        var strName = objRE.exec(strFilepath);

        if (strName == null) {
            return null;
        }
        else {
            return strName[0];
        }
    }
    function CheckImage() {

        var flag = false;
        var file = getNameFromPath($("#file").val());

        if (file != null) {
            var extension = file.substr((file.lastIndexOf('.') + 1));
            switch (extension) {
                case 'jpg':
                case 'jpeg':
                case 'png':
                case 'gif':
                    flag = true;
                    $("[id*=Photo]").val($("#file").val());
                    $("[id*=imgCapture]").attr("src", "");
                    break;
                default:
                    flag = false;
            }
        }
        if (flag == false) {
            var val1 = 'You can upload only jpg,jpeg,png,gif extension file'
            $("#spanfile1").text(val1);
            $("#file").val("");
            return false;
        }
        else {
            $("#spanfile1").text("");
            uploadfile();

            return true;
        }
    }
    function uploadfile() {
        $.ajaxSetup({ cache: false });
        var file = document.getElementById('file');
        var fd = new FormData();
        fd.append('file', file.files[0]);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/Accounts/StaffManagement/UploadPhoto', true);
        xhr.onreadystatechange = function (data) {
            
            if (xhr.readyState == 4 && xhr.status == 200) {
                var picLocation = xhr.responseText;
                var FullResult = picLocation.split(',');
                var picLocation = FullResult[0];
                var ImageShow = FullResult[1];
                if (picLocation != "") {

                    //alert("picLocation : " + picLocation);
                    $("[id*=imgCapture]").css("visibility", "visible");
                    $("[id*=imgCapture]").attr("src", "");
                    $("[id*=imgCapture]").attr("src", picLocation + "?" + new Date().getTime());

                    $("[id*=Photo]").val(ImageShow);
                }
            }
            else {
            }
        };
        xhr.send(fd);
    }
    function GetRetirementDetail() {
        debugger
        var DOB = $("#DOB0").val();
        var dateofsuper = $("#DateofSuperannuation").val();
        if (DOB == null || DOB == '') {
            ShowNotification("error", "Date of Birth is required!  ..... ");
            return false;
        }
        if (dateofsuper == null || dateofsuper == '') {
            ShowNotification("error", "Date of Superannuation required!  ..... ");
            $('#DateofSuperannuation').css("border", "1px solid red");
            $('#DateofSuperannuation').after("<span class='ErrorMessage' id='Error1'>Date of Superannuation Required</span>");
            return false;
        }
        $.ajax({
            url: "/Accounts/StaffManagement/GetRetirement",
            type: 'GET',
            data: {
                DoB: DOB,
                dateofsuper: dateofsuper
            },
            success: function (data) {
                debugger
                document.getElementById('DateofRetirement').value = data;
                document.getElementById('hdnDateofre').value = data;

            },
            error: function (xhr, ajaxOptions, thrownError) {

                alert(xhr.responseText);
                alert(thrownError);
            }
        })
    }
</script>
<!-- /.col -->
