﻿@model SBL.eLegistrator.HouseController.Web.Areas.Passes.Models.PassLeftMenuModel
<div id="sidebar" class="sidebar                  responsive">
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>

            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>

            <!-- #section:basics/sidebar.layout.shortcuts -->
            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>

            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>

            <!-- /section:basics/sidebar.layout.shortcuts -->
        </div>
        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div>
    <!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list" style="top: 0px;">
        <li class="">
            <a href="#">
                <i class="menu-icon fa fa-desktop"></i>
                <span class="menu-text">My Dashboard </span>
            </a>

            <b class="arrow"></b>
        </li>
       


        <li class="active hsub">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-bookmark"></i>
                <span class="menu-text">Passes</span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">


                <li class="hsub">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Current Session 
                                    <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                             <a href="@Url.Action("ApprovePasses", "Pass", new { Status = 1 })" >
                                <i class="menu-icon fa fa-square-o"></i>
                                Pending To Approve <span class="badge badge-success tooltip-error" title="" data-original-title="@Model.RequestedPassCount Pending To Approve Pass(s)">@Model.RequestedPassCount</span>
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="@Url.Action("ApprovePasses", "Pass", new { Status = 2 })" >
                                <i class="menu-icon fa fa-check-square-o"></i>
                                Approved <span class="badge badge-success tooltip-error" title="" data-original-title="@Model.ApprovedPassCount Approved Pass(s)">@Model.ApprovedPassCount</span>
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="">
                             <a href="@Url.Action("ApprovePasses", "Pass", new { Status = 3 })" >
                                <i class="menu-icon fa fa-ban"></i>
                                Rejected <span class="badge badge-success tooltip-error" title="" data-original-title="@Model.RejectedPassCount Rejected Pass(s)">@Model.RejectedPassCount</span>
                            </a>

                            <b class="arrow"></b>
                        </li>

                    </ul>
                </li>
            @*     <li class="hsub">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Previous Session 
                                    <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                   <ul class="submenu">
                        <li class="">
                            <a href="#">
                                <i class="menu-icon fa fa-square-o"></i>
                                Requested
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="#">
                                <i class="menu-icon fa fa-check-square-o"></i>
                                Approved
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="#">
                                <i class="menu-icon fa fa-ban"></i>
                                Rejected
                            </a>

                            <b class="arrow"></b>
                        </li>

                    </ul>
                </li>
                <li class="">
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Old Session
                    </a>

                    <b class="arrow"></b>
                </li>*@

            </ul>
        </li>


        
    </ul>
    <!-- /.nav-list -->

    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <!-- /section:basics/sidebar.layout.minimize -->
    <script type="text/javascript">
        try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
    </script>
</div>



<script>

    //var target = document.getElementById("GridContainer");
    //var loader = new Spinner();

    //function ShowPassesByStatus(obj) {
    //    loader.spin(target);
    //    var status = $(obj).attr('status');
    //    var AssemblyId = 12;
    //    var SessionId = 4;
    //    var url = '/Passes/Pass/ApprovePasses';
    //    $.post(url,
    //        {
    //            PassCategoryId: 0,
    //            Status: status,
    //            AssemblyId: AssemblyId,
    //            SessionId: SessionId,              
    //            SearchText: ""

    //        }, function (response) {
    //            loader.stop();
    //            $('#GridContainer').html(response);
    //        });
    //}
</script>