﻿@model SBL.DomainModel.Models.Budget.BudgetMapWithDesig

@Html.HiddenFor(model => model.MappedID)
<div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="Object">
          Fianancial Year
        </label>
        <div class="col-sm-9 help-block">
           @Html.DropDownList("FinacialYear", (SelectList)ViewBag.FinancialYearList, new { @class = "col-md-11" ,@id="FinancialYearDdl" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="Object">
           BudgetHead
        </label>
        <div class="col-sm-9 help-block">
           @Html.DropDownList("BudgetHead", (SelectList)ViewBag.BudgetList, new { @class = "col-md-11",@id="BudgetHeadDdl" })
        </div>
    </div>
    <div class="form-group">
          <label class="col-sm-3 control-label no-padding-right" for="Object">
            Designation
        </label>
        <div class="col-sm-9 help-block">
           @Html.DropDownList("Designation", (SelectList)ViewBag.DesignationList, new { @class = "col-md-11" })
        </div>
    </div>
</div>
<script src="~/assets/js/jquery-ui.min.js"></script>
<script type="text/javascript">
    // function GetBudgetHead() {
    $('#FinancialYearDdl').change(function () {
        debugger;
        var FinacialYear = $('#FinancialYearDdl').val();
      
        if (FinacialYear != null ) {
            $.ajax({
                type: "POST",
                url: '/AccountsAdmin/BudgetBillMapping/GetBudgetByFY',
                data: '{ FinacialYear: "' + FinacialYear + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loader-wrapper').show();
                },
                success: function (data) {
                    debugger;
                    if (data != null) {
                        if (data.length > 0) {
                            var selectOpt = '';
                            $.each(data, function (e, index) {
                                selectOpt += '<option value="' + data[e]["BudgetID"] + '">' +
                                data[e]["BudgetName"] + '</option>';
                            });
                            $("#BudgetHeadDdl").html(selectOpt);
                        }
                        else {
                            var selectOpt = '<option value="">---Select budget head ---</option>';
                            $("#BudgetHeadDdl").html(selectOpt);
                        }
                    }
                    else {
                        var dlg = bootbox.alert('No Data Available', function (e) {
                            $(dlg).modal('hide');
                        });
                    }
                },
                error: function (data) {
                    debugger;
                    if (data != null) {

                        if (data.length > 0) {

                            var selectOpt = '';
                            $.each(data, function (e, index) {
                                selectOpt += '<option value="' + data[e]["BudgetID"] + '">' +
                                data[e]["BudgetName"] + '</option>';
                            });
                            $("#BudgetHeadDdl").html(selectOpt);
                        }
                        else {
                            var selectOpt = '<option value="">---Select Budget Head ---</option>';
                            $("#BudgetHeadDdl").html(selectOpt);
                        }
                    }
                    else {
                        var dlg = bootbox.alert('No Data Available', function (e) {
                            $(dlg).modal('hide');
                        });
                    }
                },
                complete: function (result) {
                    $('#loader-wrapper').hide();
                }
            });

        }

    });
</script>