﻿@model  List<SBL.DomainModel.Models.salaryhead.salaryBillInfo>
@{int count = 0;}
<div class="modal-dialog" style="width: 850px;">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="blue bigger">Please Approve Given Salary Bill(s) List  </h4>
		</div>

		<div class="modal-body">
			<div class="widget-body">
				<div class="widget-main no-padding-right no-padding-left">
					<div class="pass-table">

						<div role="grid" class="dataTables_wrapper form-inline" id="sample-table-2_wrapper">

							<table class="table table-striped table-bordered table-hover dataTable leftaligntable" id="sample-table-2" aria-describedby="sample-table-2_info">
								<thead>
									<tr role="row">

										<th class=" sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 1%">#</th>

										<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Name</th>
										<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="" style="width: 2%;">Designation</th>
										<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Total Allowances</th>
										<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Total Deductions</th>
										<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Net Payble</th>

										<th class=" sorting_disabled" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1" colspan="1" aria-label="">Status</th>
									</tr>
								</thead>

								<tbody role="alert" aria-live="polite" aria-relevant="all">
									@if (Model != null)
									{
										foreach (var item in Model)
										{

											count = count + 1;
											string style = (count % 2 == 0) ? "odd" : "even";

											//  var trID = item.SystemModuleID;
											var ID = item.AutoID;

										<tr class="@style" id="@ID">
											<!-- <tr class="" id="" onclick="">-->
											<td class="">@count</td>

											<td class="">
												<i class="">@item.memberName</i>
											</td>
											<td class="">
												<i class="">@item.Designation</i>
											</td>
											<td class="">
												<i class="">Rs. @item.totalAllowances.00</i>
											</td>
											<td class="">
												<i class="">Rs. @item.totalDeductions.00</i>
											</td>
											<td class="">
												<i class="">Rs. @item.netSalary.00</i>
											</td>

											<td class="">
												<i class="">

													@if (item.status == 0)
													{
														<span class="badge badge-purple">Request For Approval</span>
													}
													else
													{
														if (item.status == 2)
														{
														<span class="badge badge-warning">Rejected</span>
														}
														else
														{
														<span class="badge badge-success">Approved</span>
														}
													}
												</i>
											</td>
										</tr>
										}
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<button class="btn btn-sm" data-dismiss="modal">
				<i class="ace-icon fa fa-times"></i>
				Cancel
			</button>
		</div>
	</div>
</div>
<input type="hidden" name="hType" id="hTypeHidden" value="cr" />
<input type="hidden" name="amountType" id="amountTypeHidden" value="Fixed" />
<input type="hidden" name="Status" id="statusHidden" value="true" />
