﻿<script type="text/javascript">
    $(document).ready(function () {
        
        $("#loader-wrapper").show();
        $.ajax({
            url: "/Accounts/salary/YearlySalaryStatement",
            type: 'GET',
            success: function (data) {
                
                $('#MainDiv').empty();
                $('#MainDiv').html(data);
                $("#MainDiv").css("display", "block");
                //  ClearControls();
                $("#loader-wrapper").hide();


            },
            error: function (xhr, ajaxOptions, thrownError) {
                
                alert(xhr.responseText);
                alert(thrownError);
            }
        })
    })
</script>

<div id="MainDiv">
</div>
