﻿@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}

<link rel="stylesheet" href="~/assets/css/jquery-ui.min.css" />
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
@Html.Partial("_LeftMenu", null)

<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("mainaccountadmindashboard", "Accountdashboard")">Accounts Admin</a>
            </li>
            <li>
                <a href="@Url.Action("ManageHeads", "salary")">Manage Heads</a>
            </li>
            @*    //<li class="active">@Heading</li>*@
        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
        <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>
    </div>
    <!-- page Content -->
    <div class="page-content">
        <div class="row">
            <div id="outerDiv">
            </div>

            <div class="two-column row" id="innerDiv">
                <div id="resize-left" class="ui-widget-content">
                    <div class="col-xs-12">
                        <div class="row-fluid">

                            <div id="canvasloader-container1" class="canvasloader" style="text-align: center"></div>
                            <div id="divDataContainer">
                            </div>

                        </div>
                    </div>

                </div>
                <div id="resize-right" class="ui-widget-content">
                    <div class="col-xs-12">
                        <div class="row">

                            <div id="canvasloader-container2" class="canvasloader" style="text-align: center"></div>
                            @*Modified by sanish 24-07-2014 12:30PM*@
                            <div class="widget-box sblFullScreen" style="display: none">

                                <div class="widget-header widget-header-flat">
                                    <h4 class="widget-title">Salary Month of <span id="MonthName"></span>@DateTime.Now.Year</h4>
                                    <div class="widget-toolbar">


                                        <a href="#" data-action="fullscreen" class="red">
                                            <i class="ace-icon fa fa-expand bigger-150"></i>
                                        </a>

                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div id="prodiv" style="display: none;">
                                            <img src="@Url.Content("~/images/pro.gif")" />
                                        </div>
                                        @using (@Ajax.BeginForm("savesalary", "salary", FormMethod.Post, new AjaxOptions
                                                    {
                                                        UpdateTargetId = "RightSidebar",
                                                        InsertionMode = InsertionMode.InsertAfter,
                                                        OnSuccess = "OnSuccess()",
                                                        OnBegin = "OnBegin()",
                                                        OnComplete = "OnComplete()",
                                                        OnFailure = "OnFailure()",
                                                        LoadingElementId = "prodiv"
                                                    }, new { @class = "form-horizontal", @role = "form" }))
                                        {
                                            <div id="RightSidebar" style="width: 100%">
                                            </div>
                                        }
                                        <div id="FormPart" style="width: 100%; height: 100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>



    <!-- end page contetnt-->



    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<script src="~/assets/js/jquery-ui.custom.min.js"></script>

<script src="~/assets/js/jquery.dataTables.min.js"></script>
<script src="~/assets/js/jquery.dataTables.bootstrap.js"></script>








<script type="text/javascript">
    jQuery(document).ready(function () {
        GetSystemFunctList();

    });



    jQuery(function ($) {
        var oTable1 =
        $('#sample-table-2')
        .dataTable({
            bAutoWidth: true,
            "aoColumns": [
              { "bSortable": false },
              null, null,
              { "bSortable": false }
            ]
        });

        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();
            var off2 = $source.offset();
            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }
    })
   

    function GetSystemFunctList() {
        //var cl = new CanvasLoader('canvasloader-container1');
        //cl.show();

        $.ajaxSetup({ cache: false });
        var pathurl = '@Url.Action("GetspeakerList", "salary")';
        $.ajax({
            url: pathurl,
            type: 'GET',
            data: {
                PageNumber: "1",
                RowsPerPage: "10",
                loopStart: "1",
                loopEnd: "5"
            },
            success: function (data) {
                $("#divDataContainer").html(data);
                $("#RightSidebar").html("");
                ClearControls();
                cl.hide();
                
            }
        });
    }
</script>

