﻿@{
    ViewBag.Title = "SalaryHeads";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
    int count = 0;
}


@Html.Partial("_LeftMenu")

<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("NewsIndex", "News")">Home</a>
            </li>

            <li>
                <a href="@Url.Action("NewsIndex", "News")">Salary Heads</a>
            </li>
            <li class="active">Manage Salary Heads</li>
        </ul>
    </div>

    <!-- /section:basics/content.breadcrumbs -->
    <div class="page-content">
        <!-- #section:settings.box -->

        <!-- /section:settings.box -->
        <div class="ace-settings-container" id="ace-settings-container" style="margin-right: 20px;">
            <button class="btn  btn-sm btn-info" onclick="createNewHead()">
                <i class="ace-icon fa fa-pencil-square-o bigger-150"></i>
                <span class="bigger-110">Create Salary Head</span>
            </button>
        </div>
        <div class="page-header">
            <h1>Salary Heads
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    Manage Salary Heads
                </small>
            </h1>
        </div>
        <div id="salaryHeadListDiv">
        </div>

        <!-- /.page-content -->
    </div>
    <div id="prodiv" style="display: none;">
        <img src="@Url.Content("~/images/pro.gif")" />
    </div>
    @using (Ajax.BeginForm("saveSalaryHeads", "salary", FormMethod.Post, new AjaxOptions
     {

         InsertionMode = InsertionMode.Replace,
         OnSuccess = "OnSuccess()",
         // UpdateTargetId = "salaryHeadListDiv",
         LoadingElementId = "loader-wrapper"

     }, new { @class = "form-horizontal", @role = "form", id = "saveLoanForm" }))
    {
        <div id="newSalaryHeads" class="modal">
        </div>
     }
    @using (Ajax.BeginForm("updateSalaryHeads", "salary", FormMethod.Post, new AjaxOptions
     {
         InsertionMode = InsertionMode.Replace,
         OnSuccess = "OnUPdateSuccess()",
         LoadingElementId = "loader-wrapper",
         //UpdateTargetId = "salaryHeadListDiv"

     }, new { @class = "form-horizontal", @role = "form", id = "saveLoanForm" }))
    {
        <div id="updateSalaryHeads" class="modal">
        </div>
     }
    <!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
                @*<span class="bigger-100">
                    <span class="blue bolder">eVidhan@@@DateTime.Now.Year</span>
                </span>*@
            </div>

            <!-- /section:basics/footer -->
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>

<div id="dialog-confirm" class="hide">
    <div id="DialogMessage" class="alert alert-info bigger-110">
        Are You Sure Want to Delete.
    </div>

    <div class="space-6"></div>
</div>

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        getHeadList();
    });

    // get head list
    function getHeadList() {
        $("#loader-wrapper").show();
        var pathurl = "@Url.Action("getSHeadList", "salary")";
        $.ajax({
            url: pathurl,
            type: 'GET',
            success: function (data) {
                $("#loader-wrapper").hide();
                $("#salaryHeadListDiv").html("");
                $("#salaryHeadListDiv").html(data);

            }
        });
    }
    // function to show create salary heads modal
    function createNewHead() {
        var pathurl = "@Url.Action("createNewSHeads", "salary")";
        $("#newSalaryHeads").html("");
        $("#newSalaryHeads").html($("#loader-wrapper").text());
        $("#newSalaryHeads").modal({                    // wire up the actual modal functionality and show the dialog
            "backdrop": "static",
            "keyboard": true,
            "show": true                     // ensure the modal is shown immediately
        });
        $("#loader-wrapper").show();
        $.ajax({
            url: pathurl,
            type: 'GET',

            success: function (data) {
                $("#loader-wrapper").hide();
                $("#newSalaryHeads").html("");
                $("#newSalaryHeads").html(data);

            }
        });
    }

    function EditSHead(sHeadID) {
        try {
            $("#updateSalaryHeads").html("");
            $("#updateSalaryHeads").html($("#loader-wrapper").text());
            $("#updateSalaryHeads").modal({                    // wire up the actual modal functionality and show the dialog
                "backdrop": "static",
                "keyboard": true,
                "show": true                     // ensure the modal is shown immediately
            });
            $("#loader-wrapper").show();
            var pathurl = "@Url.Action("getSHeadsByID", "salary")";
            $.ajax({
                url: pathurl,
                type: 'GET',
                data: { sHeadID: sHeadID },

                success: function (data) {
                    $("#loader-wrapper").hide();
                    $("#updateSalaryHeads").html("");
                    $("#updateSalaryHeads").html(data);

                }
            });
        } catch (error) {
            alert('error in edit head function ' + error.message);
        }
    }
    function deleteSHead(sHeadID) {
        bootbox.confirm("Are you sure?", function (result) {
            if (result) {
                var pathurl = "@Url.Action("deleteSHeadsByID", "salary")";
                $.ajax({
                    url: pathurl,
                    type: 'GET',
                    data: { sHeadID: sHeadID },

                    success: function (data) {
                        if (data) {
                            $('.notification').removeClass('alert alert-danger');
                            $('.notification').addClass('notification alert alert-info');
                            $('#notificationmsg').text('  Salary head has been  deleted successfully.....');
                            $('.notification').slideDown('fast');
                            window.setTimeout(close3, 5000);
                            getHeadList();
                        }
                        else {
                            $('.notification').removeClass('alert alert-info');
                            $('.notification').addClass('notification alert alert-danger');
                            $('#notificationmsg').text('  Sorry this salary head is bind with other salary heads. so this can not be delete   .....');
                            $('.notification').slideDown('fast');
                            window.setTimeout(close3, 5000);
                        }

                    }
                });
            }
        });
    }
</script>
<script>

    function close3() {
        $('.notification').slideToggle('fast');
        $('.notification').hide();
        //$('.notification').animate({
        //  transform: 'rotateX(0deg)'
        //});
    }

    function OnUPdateSuccess() {
        $("#updateSalaryHeads").modal('hide');
        $("#updateSalaryHeads").html("");
        ShowNotification("success", "Salary head has been  update successfully.....");
        //$('.notification').removeClass('alert alert-danger');
        //$('.notification').addClass('notification alert alert-info');
        //$('#notificationmsg').text('Salary head has been  update successfully.....');
        //$('.notification').slideDown('fast');
        //window.setTimeout(close3, 5000);
        getHeadList();
    }
    function OnSuccess() {
        $("#newSalaryHeads").modal('hide');
        $("#newSalaryHeads").html("");
        ShowNotification("success", "Salary head has been  added successfully.....");

        //$("#newSalaryHeads").modal('hide');
        //$('.notification').removeClass('alert alert-danger');
        //$('.notification').addClass('notification alert alert-info');
        //$('#notificationmsg').text('Salary head has been  added successfully.....');
        //$('.notification').slideDown('fast');
        //window.setTimeout(close3, 5000);

        
        getHeadList();
    }

    function ShowNotification(type, msg) {
        if (type == "success") {
            $('.notification').removeClass('alert alert-danger');
            $('.notification').addClass('notification alert alert-info');
            $('#notificationmsg').text(msg);
            $('.notification').slideDown('fast');
            window.setTimeout(close3, 5000);
        }
        else if (type == "error") {
            $('.notification').removeClass('alert alert-info');
            $('.notification').addClass('notification alert alert-danger');
            $('#notificationmsg').text(msg);
            $('.notification').slideDown('fast');
            window.setTimeout(close3, 5000);
        }
    }

</script>