﻿@model   SBL.eLegistrator.HouseController.Web.Areas.SuperAdmin.Models.SessionDatesViewModel
@{
    ViewBag.Title = "CreateSessionDates";
    Layout = "~/Views/Shared/_ResponsiveLayout.cshtml";
}
@Html.Action("LeftNavigationMenu", "SuperAdmin")

<style>
    .field-validation-error {
        color: red;
        padding-left: 10px;
    }
</style>

<link rel="stylesheet" href="/assets/css/bootstrap-timepicker.css" />
<link rel="stylesheet" href="/assets/css/datepicker.css" />
<link href="~/assets/css/bootstrap-datetimepicker.css" rel="stylesheet" />
@*<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-timepicker.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#finish_date').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });

    });
</script>*@
<div class="main-content">
    <!-- #section:basics/content.breadcrumbs -->
  @Html.Partial("_BreadcrumbsPartial")
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="@Url.Action("Index", "SessionDates")">@Resources.MasterDataDashboard.Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "SessionDates")">@Resources.MasterDataDashboard.SessionDateDetails</a>
            </li>

        </ul>
        <!-- /.breadcrumb -->

        <!-- #section:basics/content.searchbox -->
     @*   <div class="legAssm">
            <span class="label label-large label-pink arrowed-in-right arrowed">@Html.Raw(ViewBag.CurrentAssemblyName)</span>
            <span class="label label-large label-purple arrowed">@Html.Raw(ViewBag.CurrentSessionName)</span>
        </div>*@

    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>@Resources.MasterDataDashboard.MasterData
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    @Resources.MasterDataDashboard.SessionDateDetails
                </small>
            </h1>
        </div>

        <!-- /section:settings.box -->

        <div class="widget-header widget-header-blue widget-header-flat">
            @if (Model.Mode == "Add")
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.CreateSessionDate</h4>
            }
            else
            {
                <h4 class="widget-title lighter">@Resources.MasterDataDashboard.EditSessionDate</h4>
            }

        </div>
        <div class="widget-body">
            <div class="widget-main">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="messageBox"></div>
                        <!-- PAGE CONTENT BEGINS -->
                        @* //, new { @class = "form-horizontal", @role = "form" }*@
                        <div class="row">
                            @using (Html.BeginForm("SaveSessionDates", "SessionDates", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                            { 
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.SessionDateId, new {@id="hdnID"})
                                @Html.HiddenFor(model => model.Mode)                                
                              @Html.HiddenFor(model => model.UnStartQListPath)
                                @Html.HiddenFor(model => model.StartQListPath)
                                @Html.HiddenFor(model => model.SPPQListPath)
                                @Html.HiddenFor(model => model.UPPQListPath)
                                <div class="tabbable">
                                    @* <ul id="myTab" class="nav nav-tabs padding-18">
                                        <li class="active">
                                            <a href="#news-english" data-toggle="tab">
                                                <i class="green ace-icon fa fa-home bigger-120"></i>
                                                English
                                            </a>
                                        </li>
                                    </ul>*@
                                    <div class="tab-content no-border padding-24">
                                        <div class="tab-pane in active" id="news-english">
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.AssemblyName </label>
                                                <div class="col-sm-9">

                                                   @* @Html.DropDownListFor(model => model.AssemblyId, Model.Assembly, @Resources.MasterDataDashboard.SelectAssembly, new { @class = "col-xs-10 col-sm-5" })*@
                                                     @Html.DropDownListFor(model => model.AssemblyId, new SelectList(Model.AssemblyList, "AssemblyCode", "AssemblyName", new SelectListItem { Value = "0", Text = "Select Assembly" }), new { @class = "col-xs-10 col-sm-5" , @onchange = "AssemblyChange(this)", @id = "assemblyLst" })
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="assemValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.AssemblyId)
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.SessionName </label>
                                                <div class="col-sm-9">

                                                    @*@Html.DropDownListFor(model => model.SessionId, Model.Sessions, @Resources.MasterDataDashboard.SelectSessionName, new { @class = "col-xs-10 col-sm-5" })*@
                                                    @Html.DropDownListFor(model => model.SessionId, new SelectList(Model.SessionList, "SessionCode", "SessionName", new SelectListItem { Value = "0", Text = "Select Session" }), new { @class = "col-xs-10 col-sm-5" , @onchange = "SessionChange(this)", @id = "sessionLst"})
                                                    <div class="help-block col-xs-12 col-sm-reset inline">
                                                        <span class="field-validation-error" id="sessnameValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                        @Html.ValidationMessageFor(model => model.SessionId)
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="space-2"></div>
                                          


                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="id-date-picker-2">@Resources.MasterDataDashboard.SessionDate </label>

                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(m => m.SessionDate, new { @id = "finish_date",@placeholder = @Resources.MasterDataDashboard.SessionDate, @class = " col-xs-10 col-sm-5"})

                                                    <span class="input-group-addon1">
                                                        <i class="fa fa-calendar bigger-110"></i>
                                                    </span>
                                                    <span class="field-validation-error" id="sessdateValidation" style="color: red; margin-left: -1px; position: relative; bottom: -3px;"></span>
                                                    @Html.ValidationMessageFor(model => model.SessionDate, "", new { @id = "ValidUptoValidateMesssge" })
                                                    <span class="field-validation-error" id="DateComapreValidation1"></span>
                                                </div>
                                            </div>




                                             <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Session Date in Words </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.SessionDate_Local, new { @class = "col-xs-10 col-sm-5", @placeholder = "e.g. 15th August, 2014", @autocomplete = "off", @maxlength = "151" })

                                                </div>

                                            </div>




                                            <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Session Date in Words Local </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.SessionDateLocal, new { @class = "col-xs-10 col-sm-5", @placeholder = "e.g. 15 अगस्त, 2014", @autocomplete = "off", @maxlength = "151" })

                                                </div>

                                            </div>
                                            <div class="space-2"></div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="id-time-picker-2">Session Start Time </label>

                                                <div class="profile-info-value">


                                                    <div class="input-group bootstrap-timepicker" style="width: 90%">
                                                        @Html.TextBoxFor(m => m.SessionTime, new { @id = "timepicker1", @tabindex = "4", @class = "form-control", })
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-clock-o bigger-110"></i>
                                                        </span>
                                                    </div>
                                                    @Html.ValidationMessageFor(m => m.SessionTime, "", new { style = "color: red;" })


                                                </div>


                                            </div>
                                            <div class="space-2"></div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Session Start Time(Local) </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.SessionTimeLocal, new { @class = "col-xs-10 col-sm-5", @placeholder = "Session Start Time(Local)", @autocomplete = "off", @maxlength = "150" })

                                                </div>

                                            </div>


                                            <div class="space-2"></div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="id-time-picker-2">Session End Time </label>

                                                <div class="profile-info-value">


                                                    <div class="input-group bootstrap-timepicker" style="width: 90%">
                                                        @Html.TextBoxFor(m => m.SessionEndTime, new { @id = "timepicker2", @tabindex = "4", @class = "form-control", })
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-clock-o bigger-110"></i>
                                                        </span>
                                                    </div>
                                                    @Html.ValidationMessageFor(m => m.SessionEndTime, "", new { style = "color: red;" })


                                                </div>


                                            </div>
                                            <div class="space-2"></div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">Session End Time(Local) </label>
                                                <div class="col-sm-9">

                                                    @Html.TextBoxFor(model => model.SessionEndTimeLocal, new { @class = "col-xs-10 col-sm-5", @placeholder = "Session End Time(Local)", @autocomplete = "off", @maxlength = "150" })

                                                </div>

                                            </div>


                                             <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.IsSitting </label>
                                                <div class="col-sm-9">
                                                    @Html.CheckBoxFor(model => model.IsSitting)
                                                </div>

                                            </div>
                                          @*  <div class="space-2"></div>
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="Address">@Resources.MasterDataDashboard.Active </label>
                                                <div class="col-sm-9">
                                                    @Html.CheckBoxFor(model => model.IsActive)
                                                </div>

                                            </div>*@


                                        </div>
                                    </div>
                                </div>                              
                                <div class="btn-group pull-right padding-10" style="padding-bottom:40px;">
                                    <!-- #section:plugins/fuelux.wizard.buttons -->
                                    <button type="submit" id="savebtn" class="btn btn-sm btn-purple " onclick="return userValid();">
                                        <i class="ace-icon fa fa-floppy-o bigger-125"></i>
                                        @Resources.MasterDataDashboard.Save</button>
                                    <button type="reset" class="btn btn-sm btn-info" onclick="resetFields();">
                                        <i class="ace-icon fa fa-times bigger-125"></i>
                                        @Resources.MasterDataDashboard.Reset
                                    </button>
                                    <!-- /section:plugins/fuelux.wizard.buttons -->
                                </div>
                            }
                            <!-- /.row -->
                        </div>
                        <!-- /.page-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/bootbox.min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/date-time/bootstrap-timepicker.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#finish_date').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: "dd/mm/yyyy"
        }).next().on(ace.click_event, function () {  //show datepicker when clicking on the icon
            $(this).prev().focus();
        });




        $('#timepicker1').timepicker({
            minuteStep: 1,
            //timeFormat: 'hh:mm:ss',
            showSeconds: true,
            showMeridian: false,
            defaultTime: 'current'
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

        $('#timepicker2').timepicker({
            minuteStep: 1,
            showSeconds: true,
            showMeridian: false,
            defaultTime: 'current'
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });


    });


   


</script>

<script type="text/javascript">

    $(function () {

        $("#Desc").blur(function () {
            $(this).animate({
                height: '55px',
                width: '580px'
            },
               "fast"
            )
        });

        $("#Desc").focus(function () {
            $(this).animate({
                height: '200px',
                width: '580px'
            },
               "fast"
            );

            //$("#newsDescvalidation").html("");

        });

    });

    //$('#timepicker1').val("")
   

    $('.date-picker').datepicker({
        autoclose: true,
        format: "dd/MM/yyyy",
        todayHighlight: true
    })
    //show datepicker when clicking on the icon
    .next().on(ace.click_event, function () {
        $(this).prev().focus();
    });
    $(document).ready(function () {
        $("#AssemblyId").focus();

        $("#assemblymain").addClass("active open");
        $("#assemblysub").addClass("nav-show").css("display", "block");
        $("#sessiondatelist").addClass("active");
        $("#assemblylinkid").removeClass("fa-comment").addClass("fa-comment-o");
    });
    function resetFields() {
        $(".field-validation-error").empty();
        $("#AssemblyId").focus();
    }
</script>

<script type="text/javascript">

    function userValid() {
        var district, statenameid, prefix;
        district = document.getElementById("sessionLst").value;
        statenameid = document.getElementById("assemblyLst").value;
        prefix = document.getElementById("finish_date").value;

        if ((district == "" || district == null) && (statenameid == "" || statenameid == null) && (prefix == "" || prefix == null)) {
            $("#sessnameValidation").html("Select Session Name");
            $("#assemValidation").html("Select Assembly Name");
            $("#sessdateValidation").html("Session StartDate is required");

            return false;
        }
        return true;

    }

    $(function () {
        $('#sessionLst').focus(function () {
            $('#sessnameValidation').html("");
        });
    });

    $(function () {
        $('#assemblyLst').focus(function () {
            $('#assemValidation').html("");
        });
    });

    $(function () {
        $('#finish_date').focus(function () {
            $('#sessdateValidation').html("");
        });
    });


</script>

<script>

    $("#savebtn").click(function () {



    });




    function AssemblyChange() {

        var AssemblyId = $("#assemblyLst option:selected").val();

        $.ajaxSetup({ cache: false });
        var path = '@Url.Action("ChangeAssembly","SessionDates")';

        $.ajax({
            url: path,
            type: 'GET',
            data: {
                assemblyId: AssemblyId
            },
            success: function (data) {
                var session = "<option value=''> Select </option>";
                for (var x = 0; x < data.length; x++) {
                    session += "<option value=" + data[x].SessionCode + ">" + data[x].SessionName + "</option>";
                }
                $("#sessionLst").html(session).show();

                var sessiondate = "<option value=''> Select </option>";
                $("#sessionDateLst").html(sessiondate).show();

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }

    function SessionChange() {
        var SessionId = $("#sessionLst option:selected").val();
        var AssemblyId = $("#assemblyLst option:selected").val();
        var path = '@Url.Action("ChangeSession","SessionDates")';

        $.ajaxSetup({ cache: false });
        $.ajax({
            url: path,
            type: 'GET',
            data: {
                AssemblyId: AssemblyId,
                SessionId: SessionId
            },
            success: function (data) {
                var session = "";
                for (var x = 0; x < data.length; x++) {
                    session += "<option value=" + data[x].Id + ">" + data[x].DisplayDate + "</option>";
                }
                $("#sessionDateLst").html(session).show();

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    }




</script>




