﻿@model SBL.DomainModel.Models.PrintingPress.PrintingPressModel

<style>
    .right-Align {
        text-align: right;
    }

    .left-Align {
        text-align: left;
    }
</style>
<div class="modal-dialog" style="width:800px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="blue bigger">Aadhaar Details</h4>
        </div>

        <div class="modal-body">
<table class="table table-striped table-bordered table-hover dataTable" aria-describedby="sample-table-2_info">



     <tr class="odd">
       <td style="width:20%" class="left-Align">Photo</td>
        <td class="left-Align"><img id="imgCapture" width="94" height="127" style="visibility: visible;" src=@Model.Photo></td>       
         

    </tr>
    <tr class="odd">
        <td style="width:20%" class="left-Align">Name</td>
        <td class="left-Align">@Model.AdhaarName </td>
  
         

    </tr>
  <tr class="even">
        <td class="left-Align">Father's Name</td>
        <td class="left-Align">@Model.FatherName</td>
    </tr>
  
      @if (@Model.Gender=="M")
      {
           <tr class="odd">
        <td class="left-Align">Gender</td>
        <td class="left-Align">Male</td>
    </tr>
      }
      else
      {
            <tr class="odd">
        <td class="left-Align">Gender</td>
        <td class="left-Align">Female</td>
    </tr>
      }
   
    <tr class="even">
        <td class="left-Align">Address</td>
        <td class="left-Align">@Model.Address</td>
    </tr>
    <tr class="odd">
        <td class="left-Align">Age</td>
        <td class="left-Align">@Model.DOB </td>
    </tr>
    <tr class="even">
        <td class="left-Align">Mobile Number</td>
        <td class="left-Align">@Model.MobileNo</td>
    </tr>
    <tr class="odd">
        <td class="left-Align">E-Mail</td>
        <td class="left-Align">@Model.Email</td>
    </tr>
    <tr class="even">
        <td class="left-Align">District</td>
        <td class="left-Align">@Model.District</td>
    </tr>
    <tr class="odd">
        <td class="left-Align">Pin Code</td>
        <td class="left-Align">@Model.PinCode</td>
    </tr>
   @* <tr class="even">
        <td class="right-Align">Address</td>
        <td class="left-Align">@Model.Address</td>
    </tr>
    <tr class="odd">
        <td class="right-Align">Mobile Number</td>
        <td class="left-Align">@Model.MobileNo</td>
    </tr>
    <tr class="even">
        <td class="right-Align">Email</td>
        <td class="left-Align">@Model.Email</td>
    </tr>
    <tr class="odd">
        <td class="right-Align">Recommendation Type</td>
        <td class="left-Align">@Model.RecommendationType</td>
    </tr>
    <tr class="even">
        <td class="right-Align">Designation/Address</td>
        <td class="left-Align">@Model.Designation</td>
    </tr>
    <tr class="odd">
        <td class="right-Align">Recommended By</td>
        <td class="left-Align">@Model.RecommendationBy</td>
    </tr>
    @if (!string.IsNullOrEmpty(@Model.RecommendationDescription))
    {
        <tr class="even">
            <td class="right-Align">Recommendation Description</td>
            <td class="left-Align">@Model.RecommendationDescription</td>
        </tr>
    }
    <tr class="odd">
        <td class="right-Align">Total Number Of Person</td>
        <td class="left-Align">@Model.NoOfPersions</td>
    </tr>*@

</table>
            </div>
        </div>
    </div>